[2012-03-09 01:21] JonFerraiolo commented on #1757
Pushing to M6.

[2012-03-09 01:22] JonFerraiolo commented on #1742
Pushing to M6

[2012-03-09 01:23] JonFerraiolo commented on #1616
Pushing to M6.

[2012-03-09 01:30] JonFerraiolo opened #1888 "ChooseParent in flow, press numbers -> object placed "before" instead of "after""
In flow layout, ChooseParent key codes will almost always place the object "before" but intuitively I think most of the time people would expect "after".

[2012-03-09 01:30] JonFerraiolo commented on #1572
Fixed with the rewrite of the flow cursor logic. There is a new bug, however, because the ChooseParent key codes will almost always place the object "before" but intuitively I think most of the time people would expect "after":

[2012-03-09 01:30] #1572 closed, assigned to JonFerraiolo

[2012-03-09 01:38] aerwin opened #1889 "Exception when switch to split source view"
1. New HTML file
2. Click Split Vertically toolbar button
3. Click Split Horizontally toolbar button

[code]

Making low priority because not noticing any negative side effects.

Environment: Chrome, local install on windows

[2012-03-09 01:56] jhpedemonte commented on #1865
Given Jon's last comment, moving to Priority Low.

[2012-03-09 02:44] peller commented on #1889
appears not to happen on FF, and it appears to be coming from a timer in Orion, so the exception doesn't blow the davinci stack, at least.  It's been a while, maybe we should attempt an Orion upgrade.

`this._frameWindow.getComputedStyle(node, null)` returns undefined on a valid node

[2012-03-09 02:45] jhpedemonte commented on #1871
What happened here?  For M4, I added code that put a category name next to each widget when using the filter list.

Has someone changed the Widgets code recently?

[2012-03-09 03:13] #1871 closed, assigned to jhpedemonte

[2012-03-09 03:22] jhpedemonte commented on #1876
Just wanted to emphasize that the property should be **disabled**, not removed.  User should see that there is such a property, but not currently useable.

Also, would be good to have a tooltip explaining why the property is disabled.

[2012-03-09 03:27] jhpedemonte commented on #1878
In the [Developer Setup](https://github.com/maqetta/maqetta/wiki/Developer-Setup), we recommend downloading the *\* Eclipse IDE for Java EE Developers*\* distribution, since that includes most of the components we need (even though we don't do J2EE).  I've used that and haven't run into any issues. (Never tried \* Eclipse for RCP and RAP Developers*)

@airazabal, do you think you could try that on

[2012-03-09 04:25] JonFerraiolo commented on #1885
We need to fix all of the above and a handful of other things (to be detailed in upcoming issues).

[2012-03-09 04:33] jhpedemonte commented on #1850
What about polling [1] the server to see if there are new comments?  Or a WebSocket (or socket.io?)?  Not sure how much of an impact those approaches would have on the server.

But it would be nice.  We could even make it so that a decorator is added to the Review tab to show new unread comments, even if user is not using Reviews.

[1] Doesn't need to be a constant poll.  We can instead use back-o

[2012-03-09 04:34] JonFerraiolo commented on #1871
Try this in WebKit and Firefox. innerText works in WebKit but not in Firefox:

[code]

[2012-03-09 04:36] JonFerraiolo commented on #1865
I'm moving this to M6 Priority High. Make sense? I'm thinking that this particular scenario may not be all that important, but it might be exposing a deeper problem that is likely to have lots of different problems.

[2012-03-09 05:41] jhpedemonte commented on #1121
I'm thinking we can make this extensible via a bit of metadata, such that other props can make use of it.

Something where we can set filters in the metadata value, in order to narrow down what is shown. We can maybe use CSS selectors -- for example:

[code]

And we also need a way to specify what to list.  In this case, it would be the IDs of matching widgets.

[2012-03-09 05:45] jhpedemonte commented on #1889
If we upgrade Orion editor, let's wait for M6.

[2012-03-09 06:01] jhpedemonte commented on #1577
This is caused by the [fix](https://github.com/maqetta/maqetta/commit/28ab8fb9f1a6dd4809789ea26b4d1925a1c84c8d) to #1144.

[2012-03-09 06:16] jhpedemonte commented on #1577
@JonFerraiolo, I think we need a better fix for #1144.

I'm a bit confused as to why the scrollbars appear at all.  I too see that if I disable `margin` for the RoundRect, then the scrollbars disappear.  But the height of the View is the same in both cases (480px).  So why do the scrollbars show?

(I no longer see `-webkit-margin-before: 1em;` -- might have changed in a Dojo update?)

[2012-03-09 06:38] jhpedemonte commented on #1577
Notice this isn't an issue with ScrollableView.  Something I noticed in the past is that View (by default) is not 100% height, but ScrollableView is.  If I disable the `height: 100%` rule on `body` added by app.css, then the scrollbar disappears when using View.  But still doesn't explain why this isn't an issue with ScrollableView.

[2012-03-09 06:43] jhpedemonte commented on #1577
Answered my own question: difference is that ScrollableView has `overflow: hidden` (at least for the code that Maq produces).

[2012-03-09 07:05] jhpedemonte commented on #1577
Load up this [page](https://dl.dropbox.com/u/257742/dojoxMobileViews-1577.html), which is a stripped down version of the file created in Maqetta (I simply removed the Maqetta-specific files: app.css, States.js, maqetta.js).  Notice no scrollbars.

Now, in the inspector, add `height: 100%` to both _html_ and _body_ elements; now we get a scrollbar.  This simulates what we are doing with app.css ins

[2012-03-09 13:19] wnm3 opened #1890 "Reopening 4404944: Outline is collapsed when changing views"
The problem isn't related to support for copy/paste... it is related to having a lengthy expanded outline that gets collapsed when you change views. The problem was exacerbated by another problem where clicking on the slider bar caused an attached window to the mouse pointer...

The use case is:
I've expanded the outline to find and select a particular widget that may be within several containing

[2012-03-09 13:37] JonFerraiolo commented on #1890
Setting to Prio-High for M6. This is an important usability issue. I'm not sure all that we need to do here to provide a good UI, but one thing is that we should auto-expand and auto-scroll the Outline to show the currently selected widget.

[2012-03-09 13:43] airazabal commented on #1878
Thanks Javier.
I downloaded the J2EE
Eclipse Java EE IDE for Web Developers.

Version: Indigo Service Release 2
Build id: 20120216-1857
and now have the following 4 errors:
Domo-theme-editor.html line 100
                            <div>
                                <input dojoType="dijit.form.CheckBox"
                                    type="checkBox"  class='dvThemeWidget'>CheckBox</input>

[2012-03-09 13:51] peller commented on #1878
SupportedElements is defined as an entity.  Perhaps the Eclipse validator is wrong. In any case, if there is a bug there, it would need to be filed against the Dojo Toolkit.

[2012-03-09 13:51] #1878 closed, assigned to childsb

[2012-03-09 14:21] airazabal opened #1891 "images can't be dropped onto cavas (old issue #510 resurfacing?)"
When I drop an image onto Maqette - it opens a new browser window - although it does seem to recognize the dnd operation since I see a green + ...
I am using Chrome on Mac OSX 10.7

[2012-03-09 14:50] peller commented on #1891
We don't support dragging files from the desktop, only from the files palette in maqetta

[2012-03-09 14:50] #1891 closed, assigned to nobody

[2012-03-09 14:51] peller commented on #1890
if there's a way to get at the tree's cookie information, we should use it to save/restore the state of the tree when switching views

[2012-03-09 14:52] aerwin commented on #1732
@JonFerraiolo told me yesterday that he had successfully tested the changes I made for this issue, so I'm closing.

[2012-03-09 14:52] #1732 closed, assigned to aerwin

[2012-03-09 14:54] #1867 closed, assigned to aerwin

[2012-03-09 15:07] airazabal commented on #1891
well, that explains it then...thanks.

[2012-03-09 15:46] childsb commented on #1601
sorry i ment to remove this too.

the target values are coming in as an array (as a fix for background).  it's basically just unraveling the array.

the unraveling should probably be done by the callers of the function, but this change was the last impacting ((and works)).  i'll remove the TODO.

[2012-03-09 15:49] childsb commented on #1843
oh i got what you're saying now.  and yes that makes sense.  i'm not sure it's really worth the effort risk. but..

this would mean creating a new /preview servlet for preview.

[2012-03-09 15:56] peller commented on #1601
how is it unravelling the array?  It's calling the method with the same inputs each time.

[2012-03-09 16:02] childsb commented on #1601
sorry, my brain isn't functioning today.  i thought that 'target' was coming in from the map call.

so i just removed the loop.

[2012-03-09 16:02] #1601 closed, assigned to childsb

[2012-03-09 16:08] peller commented on #1889
dup of #1663

[2012-03-09 16:08] #1889 closed, assigned to peller

[2012-03-09 16:09] #1637 closed, assigned to peller

[2012-03-09 16:17] aerwin commented on #1883
Per scrum today, I'll take a look at this one.

@JonFerraiolo which build and/or server were you using? I'm not seeing that particular exception with FF or Chrome with local install, lab9:50020, or when running from my dev environment.

BUT, in all cases, I see the following where it's having trouble loading the css file for the new theme::

"NetworkError: 404 Not Found - http://localhost:50000/ma

[2012-03-09 16:20] peller commented on #1584
tried to upgrade, but had issues with nls loading

[2012-03-09 16:21] peller commented on #1588
works again

[2012-03-09 16:21] #1588 closed, assigned to peller

[2012-03-09 16:25] peller commented on #1663
dup of #1394

[2012-03-09 16:25] #1663 closed, assigned to peller

[2012-03-09 16:26] peller commented on #1394
see also #1889

[2012-03-09 16:28] peller commented on #1843
I think this makes sense in the long term, particularly if we want to send the preview out to some dynamic builder, if might help us.

[2012-03-09 16:29] peller commented on #1843
it might also help to separate UI cookies (like the tree state) from session cookies (like JSESSIONID)  Partitioning the UI of the app from our server commands could help prevent problems with cookie size over HTTP.

[2012-03-09 17:24] childsb commented on #1879
tony - can you provide more info?  i created a review, then opened it and added a comment.. but i dont see an error.

[2012-03-09 18:22] JonFerraiolo commented on #1891
Supplemental comments: (1) at some point we probably will support drag/drop from desktop leveraging the new drag/drop features in HTML5, (2) the "+" icon is from Chrome, not from Maqetta

[2012-03-09 18:26] aerwin commented on #1879
Had a chat with @childsb to give him some better steps, but I'll include here as well:
1. Open review
   2  add comment (but do NOT submit it) ... this makes the editor "dirty"
2. click backspace button  (this happens to force an autosave)

I think the key is to have a "dirty" review an an autosave occurs.

[2012-03-09 18:30] #1879 closed, assigned to childsb

[2012-03-09 18:42] jhpedemonte opened #1892 "dojox.mobile.View always displays non-functional scrollbar"
(Spun off from #1577)

After fixing #1577, there are 2 serious issues with **dojox.mobile.View**:
1. When adding some widgets (such as **RoundRect**), the View displays an unnecessary scrollbar.
2. When adding a lot of content, such that the View is taller than the viewport, moving the scrollbar doesn't actually scroll the content.

---

Issue (1) is caused by the `height: 100%` that is added to V

[2012-03-09 18:43] jhpedemonte commented on #1577
Closing this.  Further issues handled in #1892.

[2012-03-09 18:43] #1577 closed, assigned to jhpedemonte

[2012-03-09 18:48] childsb commented on #1887
Good spot on that first code snippet.  Do you have a recreate of the problem so I can verify it's fixed?

[2012-03-09 18:53] JonFerraiolo commented on #1887
I don't have a concrete scenario for duplicating the problem. What I was doing was simply create a DIV with a fixed size height, then set background-image to point to an image file, and then in right-side properties palette change background-repeat and background-size, and then selecting/deselecting the DIV. Playing around in this general area generated the two exceptions I listed above.

[2012-03-09 18:54] childsb commented on #1887
Also on the second problem, is there any specific widget that needs to be on the page?  I've added a handful and cant reproduce.

[2012-03-09 19:07] doronrosenberg commented on #1877
hmm, the only thing I can think of is we are somehow on Mac intercepting an event during capture phase.

Are you using a macbook pro? I wonder if the delete key on its keyboard is actually sending backspace?

[2012-03-09 19:22] childsb opened #1893 "some drawing tools dont work with error "TypeError: thisbox is undefined""
1) login to w3 build (may not matter which build)
2) new HTML file
3) expend the drawing tools section
4) try to add a horizontal/vertical line or an arrow.

if you're running with firebug, you'll see the error. otherwise nothing happens.

[2012-03-09 19:25] JonFerraiolo commented on #1893
I fixed this with bbfb2b018d

[2012-03-09 19:25] #1893 closed, assigned to jhpedemonte

[2012-03-09 19:27] JonFerraiolo commented on #1545
Pushing to M6

[2012-03-09 19:52] JonFerraiolo commented on #1540
Pushing to M6 Prio High

The fractional part in this particular case is because the Claro theme puts a .2em margin on Button, which turns into a fractional computed value (in px units) in Firefox.

This bug exposes a rather sinister browser layout issue due to sub-pixel rounding and truncation. WebKit tends to truncate fractional values when going from specified to computed values, whereas Firefox

[2012-03-09 19:52] doronrosenberg opened #1894 "Editing custom theme throws js errors, can't switch states"
I cloned Claro, changed the button backgroundcolor/textcolor for normal state and the same for textbox.  I then changed the colors for the Hover state as well for the 2 widgets.

After saving, I close then tab, reopen the theme and get the following error:

type.substring is not a function
http://lab9.austin.ibm.com:50010/maqetta/app/davinci/davinci.js?af251c22df58d35291d804d3110089cda802b44d
Line

[2012-03-09 20:00] JonFerraiolo commented on #1516
I'm closing this. It looks like this issue has become a non-issue because we now deselect-all when changing themes. As a result, when you change themes, nothing is selected, so the Properties palette shows nothing, but when you then (re-)select a widget after the change theme operation (with it's deselect-all processing), the properties palette does reflect the new theme values (noticeable after o

[2012-03-09 20:00] #1516 closed, assigned to JonFerraiolo

[2012-03-09 20:04] #1513 closed, assigned to JonFerraiolo

[2012-03-09 20:10] aerwin commented on #1883
@JonFerraiolo Ok, I finally saw an exception, but I had to change something in the new theme (like button background) and then reopen. Using Chrome when running Maqetta from Eclipse, I see the following (which maps to the `tagName = type.substring(5);` line in Jon's exception):

[code]

[2012-03-09 20:11] aerwin commented on #1894
This sounds a lot like #1883 (though I don't think you have to change states to see it). Hoping a dup, but will leave open for time being.

[2012-03-09 21:03] childsb opened #1895 "basic state switching not working"
1) new html file
2) add a dijit button
3) add a div
4) set background color of DIV to black (so you can see it)
5) add a new state HOPETHISWORKS
6) select the DIV, and set it invisible for HOPETHISWORKS state
7) select button, and under event change the onclick to change state to HOPETHISWORKS
8) preview in browser.  notice that the DIV isn't visible, and clicking the button doesn't do anything.

[2012-03-09 21:20] peller commented on #1877
@doronrosenberg - yep, macbook pro, and I think you solved the mystery.  Does backspace cause the browser to go 'back' (and get that warning) on windows?  fn-delete causes the delete behavior you see (at least it did until f3395f0d920f2786627a2b80bb3158874ea1335e)

[2012-03-09 21:43] #1877 closed, assigned to peller

[2012-03-09 22:21] JonFerraiolo commented on #1895
States are working! The problem is that in the Maqetta page editor we include content.css which give min-height of 1em to DIV, but in preview, we don't include that same min-height setting, so the DIV isn't visible because it has no content, and height is auto, which becomes 0px in preview. There is a different bug for the content.css problem. I'll get it in a sec...

[2012-03-09 22:21] #1895 closed, assigned to jhpedemonte

[2012-03-09 22:24] peller commented on #1881
looks like it calls findResource to find the themes each time the multiselect is changed.  That value should only need to be loaded once for the dialog.

[2012-03-09 22:25] JonFerraiolo commented on #1895
The content.css bug is #505

[2012-03-09 22:38] JonFerraiolo commented on #1435
Pushed to M6 - too late to attempt this

[2012-03-09 22:48] JonFerraiolo commented on #1508
@billreed63 - closing this. First off, I'm pretty sure it's a dupe. Second, we changed our logic so that changing themes removes the selection, so this bug is masked away because it only happened when we were preserving selection across theme changes.

[2012-03-09 22:48] #1508 closed, assigned to JonFerraiolo

[2012-03-09 22:49] JonFerraiolo commented on #1472
pushing to M6

[2012-03-09 22:49] peller commented on #27
leaving this ticket open to investigate using the dojo web builder as a web service, once it supports 1.7

[2012-03-09 22:51] childsb commented on #1895
oh that makes sense now!  sorry, i tried it 5 times in disbelief.  next time i'll use something other than a DIV.

[2012-03-09 22:54] peller commented on #1586
depends on #1750

[2012-03-09 22:55] peller commented on #27
depends on #1750

[2012-03-09 22:59] peller commented on #1522
...or consider whether we should be using our modeler at all, or leverage whatever Orion is doing.

[2012-03-09 22:59] peller commented on #1863
wondering if it's possible to avoid the additional network hits from the modeler for css files in this situation.  also, if it's possible to avoid updating the model until the user goes back to do something in the visual editor.  Beyond that, it's probably the modeler itself responsible for the performance.  That leaves tuning the modeler #381 or something more drastic, like partial modeling in #1

[2012-03-09 23:05] jhpedemonte commented on #1892
So here's what i'm thinking for this.

First, remove the `height: 100%` from View.

Then, when a user adds a widget to the page, perform a check:

[code]

Basically, this tries to see if the user is trying to add a widget into the View but selecting the empty space below the view.  If so, we change the parent to be the View.

I made the check generic enough that it should (reasonably) work in the

[2012-03-09 23:38] peller commented on #1460
don't see the error anymore

[2012-03-09 23:38] #1460 closed, assigned to peller

[2012-03-10 00:38] JonFerraiolo commented on #1892
This makes total sense, including the part about leveraging ChooseParent. (That's what we are doing here, isn't it? :-) So, I believe the good news here is that we have seen the light about long-term direction.

The bad news is that the ChooseParent code is a high-risk place to put in last minute changes. ChooseParent gets called with mousemove events (whenever the event.target has changed versus

[2012-03-10 00:55] JonFerraiolo commented on #1566
Dupe of #1817

[2012-03-10 00:55] #1566 closed, assigned to waynevicknair

[2012-03-10 00:58] JonFerraiolo commented on #1494
Actually, there will be one redirect URL, but there might be different URL parameters or URL fragment identifiers that provide review information and tell the Maqetta application which review sessions need to be automatically opened and brought to top at the start of the session.

Still, this bug will probably get closed as "no longer applicable" once we get all of the above redirect logic working

[2012-03-10 00:59] JonFerraiolo commented on #1222
Pushing to M6

[2012-03-10 01:05] peller commented on #1444
fixed by 1b8fd55d8bcaffe7ed89ea6f5b5ef354669456d0

[2012-03-10 01:05] #1444 closed, assigned to peller

[2012-03-10 01:15] JonFerraiolo opened #1896 "Clicking on review link should auto-open review editors"
@jhpedemonte, @childsb, @peller , @aerwin

I didn't see a bug for this, but we have certainly talked about this.

When an author creates a review invitation, reviewers each receive an email with a hyperlink for a given review, and that review might consist of N files (usually HTML files).

With the integration of reviews into the main application, it is imperative from a usability perspective that

[2012-03-10 01:18] JonFerraiolo commented on #1896
Another thought. If N > 10, maybe only open first 10 files, just in case an author is confused by the "new review" wizard and somehow picks all files in his workspace instead of just a few files.

[2012-03-10 01:25] JonFerraiolo opened #1897 "Auto-expand current review in Reviews palette"
Assigning to @waynevicknair, but maybe @peller or @aerwin can help here

Related to #1896

When a reviewer clicks on the hyperlink in the review email, issue #1896 says that the files associated with that review should appear in newly opened review editors.

This issue is that in addition to opening the review editors, the Reviews palette should auto-expand the given review (i.e., the one in the U

[2012-03-10 01:32] JonFerraiolo opened #1898 "Reviewers shouldn't be able to close/open/edit reviews"
@aerwin, @peller, @childsb, @jhpedemonte ,

The Reviews palette shows 3 icons at the top: close, open and edit.

The author who created a review session should be able to close, open and edit reviews, but reviewers (who are not the author) should only be able to open the files within a review.

We probably should have different visual styling for reviews that the user created and reviews that othe

[2012-03-10 03:31] #1826 closed, assigned to peller

[2012-03-12 14:47] aerwin commented on #1882
@JonFerraiolo @waynevicknair

I think this is probably now covered by the design @JonFerraiolo has subsequently put into #1886.

[2012-03-12 14:47] #1882 closed, assigned to waynevicknair

[2012-03-12 14:59] #1887 closed, assigned to childsb

[2012-03-12 15:41] billreed63 commented on #1845
I am not sure who authored that code it has been around as long as I can remember, maybe @childsb knows. If I remove the `&& style.length` from line 638 it will prevent the code from refreshing the `_themeMetaCache` if the theme has not changed. But this does not prevent the CSS files from being reloaded. The CSS files are being loaded because the model is being rebuilt by `setSource` which is cal

[2012-03-12 15:46] aerwin opened #1899 "Error loading theme's css file"
@JonFerraiolo @billreed63 @childsb

This is a spin-off from #1883 for the specific problem where whenever we load a theme, there is a network error in the console regarding how [themename].css cannot be loaded:

"NetworkError: 404 Not Found - http://localhost:50000/maqetta/user/maqettaUser/ws/workspace/project1/themes/claro3/project1/themes/claro3/claro3.css"

Looks like "project1/themes/claro3" a

[2012-03-12 15:48] aerwin commented on #1883
@JonFerraiolo @billreed63 @childsb

Per the scrum, I've pushed out changes in my branch that I think address the core problem seen by @JonFerraiolo. I'll schedule a short discussion for this afternoon to quickly review.

These changes do not address the error loading [themename].css I mentioned a couple posts ago. I've opened a separate problem (#1899) for that (less critical) one.

[2012-03-12 15:52] aerwin commented on #1894
I've decided this isn't really a dup of #1883. The fixes for #1883 help the situation here (eliminating the JS error), but that JS error is independent of state changing. From what I can tell after the fixes for #1883, the first state change initiated by the user is not recognized. And, I believe this is due to code involving the `this._silent` in `davinci.ve.views.StatesView` that blocks the firs

[2012-03-12 15:57] childsb opened #1900 "R&C not sending invites from localhost"
On OSX running in eclipse:
1) new review
2) add an html file
3) add a reviewer email
4) publish
5) notice error "Can not send email"

This worked previously from localhost with no issue

[2012-03-12 16:10] peller commented on #1845
@billreed63 points out that even with this fix, the modeler is still loading the css files on changes.  The fix here may have just avoided a cached hit?  I think the remaining concerns are addressed in #1522 and #1863

[2012-03-12 16:17] jhpedemonte commented on #1845
OK, closing.  As Adam mentions, further work can take place in those other issues.

[2012-03-12 16:17] #1845 closed, assigned to peller

[2012-03-12 16:52] billreed63 commented on #1847
I don't think this is the correct fix. We don't want to use cascade to determine the values to put in the properties palette for widgets in the them editor, we only want to display the values from the theme meta data selectors.

As an example when the user selects the Calendar widget and then selects the sub widget selectedDate the background values should only display values from the selector `.c

[2012-03-12 16:59] aerwin commented on #1894
Upon further exploration, it appears the only time the value of `this._silent` is consulted is in the "onclick" handler for the states view. Perhaps the flag once served a purpose, but it really doesn't make sense to ever ignore the user-initiated click in the "onclick" handler. So, my proposal is to remove all code related to the `_silent` flag in `StatesView`.

[2012-03-12 17:04] jhpedemonte commented on #1900
Setting to priority low for now, since this doesn't seem like a huge deal (at least to me).  Feel free to elevate as necessary, but this will probably have to wait for M6.

@JonFerraiolo

[2012-03-12 17:06] #1604 closed, assigned to JonFerraiolo

[2012-03-12 17:23] #1847 closed, assigned to billreed63

[2012-03-12 18:40] aerwin commented on #1899
After pulling down all of the latest updates, this appears to be fixed now.

[2012-03-12 18:40] #1899 closed, assigned to nobody

[2012-03-12 18:42] aerwin commented on #1894
@doronrosenberg I've merged the fixes for this into master.

[2012-03-12 18:42] #1894 closed, assigned to aerwin

[2012-03-12 18:42] aerwin commented on #1883
I've merged the fixes for this into master.

[2012-03-12 18:42] #1883 closed, assigned to aerwin

[2012-03-12 18:46] aerwin commented on #1897
Per phone discussion with @JonFerraiolo, @childsb, and @billreed63 just a bit ago, I'll take ownership of this one.

[2012-03-12 19:06] peller commented on #1823
so we're using set('paths') elsewhere, but not on ToggleTree, our custom Tree widget.  ToggleTree carries over some old API like selectNode, so until we clean all that up, we have to carry it over to the new API.  Also, to find the paths, we need to traverse the dom tree from the widget model, but skip dom elements not represented in the widget model.

[2012-03-12 19:06] #1823 closed, assigned to peller

[2012-03-12 20:15] doronrosenberg commented on #1055
fyi, dojo 1.7 and the new Phonegap 1.5 do not like each other, namespace pollution fun.

[2012-03-12 20:28] doronrosenberg commented on #1055
So right now we already have textContent, which will use innerHTML.  Does changing it to "maqetta.innerHTML" to make it namespaced sound good?

[2012-03-12 20:33] aerwin opened #1901 "Review tab toolbar buttons fail"
1. Create review
2. Activate Reviews Palette
3. Select top-level node (say "version 1") to enable toolbar buttons
4. Click ""Close Version" button (1 st button)
5. Click on on "Are you sure you want to close this version?" dialog and see following exception:

[code]

the problematic line in `CloseVersionAction` is the following:

[code]

The "Edit Version" button fails similarly, but in `EditVersi

[2012-03-12 20:42] billreed63 opened #1902 "Properties palette Class and ID should be hidden in theme editor"
When theme editor is displayed  Properties palette Class and ID should be hidden

[2012-03-12 20:53] jhpedemonte commented on #1555
OK, closing as duplicate of #343.

[2012-03-12 20:53] #1555 closed, assigned to waynevicknair

[2012-03-12 20:53] jhpedemonte commented on #343
#1555 has a more involved **recreation scenario**, involving changes both in the VE and the source.

[2012-03-12 21:18] billreed63 commented on #1811
Moving to M6

[2012-03-12 21:31] peller commented on #1055
@doronrosenberg, what's the namespace pollution between dojo and phonegap?

[2012-03-12 21:31] peller commented on #1055
should we be using innerHTML or innerText?

[2012-03-12 21:38] doronrosenberg commented on #1055
@peller, they define a global require/declare, see http://groups.google.com/group/phonegap/browse_thread/thread/f5726de4433289d

[2012-03-12 21:38] doronrosenberg commented on #1055
We want innerHTML in case you want html markup inside

[2012-03-12 21:45] JonFerraiolo commented on #1055
Yes, innerHTML. The whole point of this bug in going from 'label' to innerHTML is to allow for rich markup for the ListItem content.

Aside: also note that Firefox doesn't support innerText. Have to use textContent instead to work across all browsers if you want text-only content where markup characters aren't parsed.

[2012-03-12 21:56] jhpedemonte commented on #1850
In order to support browsers that do not support WebSocket API, we can use [dojox.socket](http://dojotoolkit.org/features/1.6/dojo-websocket) -- uses WebSocket when available, falls back to long-polling when not.

[2012-03-12 22:01] JonFerraiolo commented on #1901
@billreed63, @aerwin, @childsb - if any of you want to grab this one, please reassign to yourself

[2012-03-12 22:17] #1055 closed, assigned to doronrosenberg

[2012-03-12 22:24] aerwin commented on #1901
I'll go ahead and take it since I found it.

[2012-03-12 22:29] childsb commented on #1896
Partial fix in branch https://github.com/maqetta/maqetta/tree/RC_open_editor

Caveat: review editors aren't persisted on browser refresh.  The format of workbench.settings isn't compatible with the R&C paths which require version + path string.

[2012-03-12 23:03] aerwin commented on #1897
@JonFerraiolo @childsb @JonFerraiolo

Given the design in #1896 to open up to 10 review files....Do we really just want the tree in the Reviews tab to be expanded when a review is opened via e-mail link, or do we perhaps want to make independent of clicking a link and just go ahead and always tie this to editor selection?

My proposal would be that when an editor is selected that if it's a Review

[2012-03-13 00:39] JonFerraiolo commented on #1897
My opinion on this subject:
- Whenever a review editor is opened at startup, we open up the corresponding review's tree node in the Reviews palette
- (As @aerwin suggests above) Whenever a review editor becomes the current editor, we open up  the corresponding review's tree node in the Reviews palette
- At startup, we always open the tree node for the most recent review (if it wasn't already opene

[2012-03-13 02:11] aerwin commented on #1901
@billreed63 @childsb @JonFerraiolo

I've got a good handle on how to fix the exceptions, but I'm a little confused about what `davinci.review.actions.CloseVersionAction` and `davinci.review.actions.OpenVersionAction` are supposed to do. They both do a dojo.xhrGet to "maqetta/cmd/managerVersion" and end up changing the tree expansion (e.g., CloseVersionAction collapses node) based on the result. Bu

[2012-03-13 03:07] jhpedemonte commented on #1056
@JonFerraiolo, responding to your [previous comment](https://github.com/maqetta/maqetta/issues/1056#issuecomment-2735933), couldn't we just do the exact same steps for initial widget creation, also?

It's wrong to have two different code paths here (opening/parsing existing page vs. adding a widget to existing page).  With the latter, we should be able to just add the widget HTML to the page, then

[2012-03-13 15:21] peller opened #1903 "Need error handlng for registration failure"
Best I could guess, one of our users tried registering at a point where the Java process was out of memory and hung, but Joomla was still running.  The registration failed, and the user directory was not created, but Joomla left the user logged in with no error.  The user could not attempt to re-register until manually signing out (and possibly clearing cookies to register with the same filename),

[2012-03-13 15:50] waynevicknair commented on #1534
bizarre. it works fine on Mac/Chrome.

[2012-03-13 15:53] JonFerraiolo opened #1904 "New review wizard should show current project, not entire workspace"
@childsb @waynevicknair @jhpedemonte

As we discussed this morning, the New Review wizard's second pane should show the contents of the current project, versus what shows now (.review/ and project1/) which is the current workspace.

Also, the current project's content should be opened one level (i.e., user should see Sample1.html) and all folders should be closed (e.g., sample_data/, libs/ and the

[2012-03-13 16:13] waynevicknair commented on #835
on the latest code (commit 73c8e41d22584741d69fccb8bdbffaa78e327dc2) visual editor displays message "Unable to parse HTML source.  See console for error.  Please switch to \"Display Source\" mode and correct the error." in 'canvas' giving user opportunity to correct error. javascript console contains "Tried to register widget with id==foo but that id is already registered" message which is right o

[2012-03-13 16:13] #835 closed, assigned to waynevicknair

[2012-03-13 16:32] aerwin commented on #1897
Thanks, @JonFerraiolo... For clarification, for this particular issue I will be subscribing to "/davinci/ui/editorSelected" so when a review editor is selected, I'll expand the review tree based on the file in the editor. @childsb is working separately on opening editors at start-up. But, my code should work no matter how an editor is opened (whether by user or by @childsb's start-up code).

[2012-03-13 16:38] billreed63 commented on #1836
I may have found a better way to deal with this, I have added a dojo.ready and a call to loadDeviceTheme if the device is mobile.

[2012-03-13 16:39] aerwin opened #1905 "R&C: Clean up terminology on menu items and toolbar buttons"
This is a spin-off from #1901. The Close/Open actions in the Review tab are really intended to lock/unlock or freeze/unfreeze the selected review. So, we need to find some better terminology for the UI other than "Close Version" and "Open Version".

[2012-03-13 16:39] #1836 closed, assigned to billreed63

[2012-03-13 16:39] aerwin commented on #1905
@waynevicknair @childsb @JonFerraiolo

[2012-03-13 16:40] aerwin commented on #1901
I got clarification on these actions during a post-scrum discussion... It turns out CloseVersionAction and OpenVersionAction are poorly named and are really intended to "lock" and "unlock" the review (or "freeze" and "unfreeze"). The group agreed they should be labeled differently in the UI, but @JonFerraiolo wanted to wait until M6 after more discussions with the UI design folks. I've opened a se

[2012-03-13 17:33] billreed63 opened #1906 "Download workspace dialog has version 0.3 for maqetta"
When I click on the icon to download the entire workspace the dialog that is displayed has the text
"maqetta    0.3"

---

See [comment](https://github.com/maqetta/maqetta/issues/1906#issuecomment-4598687) by @jhpedemonte for more details.

[2012-03-13 19:40] childsb commented on #1896
Fixed with this merge from branch RC_open_editor:

https://github.com/maqetta/maqetta/commit/7dba479b287ea3d7efafd3ef2a0d8072ad842b63

Reviewed by @waynevicknair before merging.

[2012-03-13 19:40] #1896 closed, assigned to childsb

[2012-03-13 19:53] JonFerraiolo commented on #1560
Pushing to M6, Priority High

[2012-03-13 20:07] #1880 closed, assigned to billreed63

[2012-03-13 20:27] JonFerraiolo commented on #1530
Fixed by b36bd424df

[2012-03-13 20:27] #1530 closed, assigned to JonFerraiolo

[2012-03-13 20:34] JonFerraiolo commented on #1470
Closing. The problem was that one of the style sheets had background-position:0px 480px. Once setting background-position to "0px 0px", then SampleBanner.jpg appears.

The real bug here is that the Properties palette isn't showing computed values. See #1033

[2012-03-13 20:34] #1470 closed, assigned to JonFerraiolo

[2012-03-13 20:35] JonFerraiolo commented on #1463
Pushing to M6

[2012-03-13 22:03] JonFerraiolo commented on #1459
I have a fix for this in 7ac6daedb2 , but for now it's only in the ChooseParentRepeatFix-1459 branch. Seemed too risky of a fix for this late in the M5 cycle.

Pushing to M6, Priority-High

[2012-03-13 22:38] JonFerraiolo commented on #1442
Pushing to M6

[2012-03-13 22:39] JonFerraiolo commented on #1418
I fixed these problems a couple of weeks ago. Closing.

[2012-03-13 22:39] #1418 closed, assigned to JonFerraiolo

[2012-03-13 22:42] JonFerraiolo commented on #1431
The fix for #1418 caused this bug to go away. Closing.

[2012-03-13 22:42] #1431 closed, assigned to JonFerraiolo

[2012-03-13 22:49] #1904 closed, assigned to peller

[2012-03-13 23:17] JonFerraiolo commented on #1456
The above commit fixes the 90% case where all of the selected widgets have the same parent. Leaving open (but pushing to M6) because we need a more robust implementation to deal with selected widgets having different parents. (Need to add offsetParent logic in there.)

[2012-03-13 23:18] JonFerraiolo commented on #1231
Pushing to M6 with Prio High

[2012-03-13 23:20] JonFerraiolo commented on #1262
Pushing to M6. Note that the 3rd bullet above (array logic) was addressed in M5.

[2012-03-13 23:20] JonFerraiolo commented on #1421
Pushing to M6

[2012-03-13 23:21] JonFerraiolo commented on #1220
Pushing to M6

[2012-03-13 23:21] JonFerraiolo commented on #1218
Pushing to M6

[2012-03-13 23:23] JonFerraiolo commented on #1096
Yes! Fixed by new dnd logic that uses chooseparent. Closing.

[2012-03-13 23:23] #1096 closed, assigned to JonFerraiolo

[2012-03-13 23:23] JonFerraiolo commented on #1033
Pushing to M6, Prio-High

[2012-03-13 23:26] JonFerraiolo commented on #963
Dupe of #1445, closing.

[2012-03-13 23:26] #963 closed, assigned to JonFerraiolo

[2012-03-13 23:27] JonFerraiolo commented on #932
Reassigning to @jhpedemonte, who should feel free to push to M6.

[2012-03-13 23:27] JonFerraiolo commented on #925
Pushing to M6

[2012-03-13 23:28] JonFerraiolo commented on #911
Pushing to M6, Priority High

[2012-03-13 23:37] #910 closed, assigned to JonFerraiolo

[2012-03-13 23:37] JonFerraiolo commented on #909
Pushing to M6, Prio High

[2012-03-13 23:38] JonFerraiolo commented on #684
Pushing to M6

[2012-03-13 23:39] JonFerraiolo commented on #867
Pushing to M6 and reassigning to @jhpedemonte

[2012-03-13 23:40] JonFerraiolo commented on #733
Reassigning to @jhpedemonte who can feel free to push to M6 Prio High

[2012-03-13 23:41] JonFerraiolo commented on #699
Reassigning to @jhpedemonte who can feel free to push to M6

[2012-03-13 23:42] JonFerraiolo commented on #682
Pushing to M6 with Prio High

[2012-03-13 23:43] JonFerraiolo commented on #681
Pushing to M6, Prio High to encourage finally closing this stupid bug

[2012-03-13 23:43] JonFerraiolo commented on #608
Pushing to M6.

[2012-03-13 23:44] JonFerraiolo commented on #578
Pushing to M6. I actually have traced through the code and have a better understanding of this issue, but haven't had time to do the code cleanup I want to do to States.js.

[2012-03-13 23:45] JonFerraiolo commented on #396
Pushing to M6

[2012-03-13 23:46] JonFerraiolo commented on #363
Pushing to M6, Prio High

[2012-03-13 23:46] JonFerraiolo commented on #192
Pushing to M6, Prio High

[2012-03-13 23:46] JonFerraiolo commented on #99
Pushing to M6, Prio High

[2012-03-13 23:47] JonFerraiolo commented on #1857
Pushing to M6, Prio High

[2012-03-14 00:00] JonFerraiolo commented on #1310
Can't reproduce now so long as I make sure that the 'height' property has no value. Closing.

[2012-03-14 00:00] #1310 closed, assigned to JonFerraiolo

[2012-03-14 00:01] JonFerraiolo commented on #1109
Pushing to M6

[2012-03-14 00:02] JonFerraiolo commented on #1077
Reassigning to @jhpedemonte who can feel free to push to M6 (but probably with higher priority)

[2012-03-14 00:03] JonFerraiolo commented on #1066
I actually did clean up this code in the M5 period. Closing.

[2012-03-14 00:03] #1066 closed, assigned to JonFerraiolo

[2012-03-14 00:03] JonFerraiolo commented on #1019
Pushing to M6, Prio Med, reassigning to @waynevicknair

[2012-03-14 00:04] JonFerraiolo commented on #1009
Pushing to M6.

[2012-03-14 00:04] JonFerraiolo commented on #870
Pushing to M6.

[2012-03-14 00:05] JonFerraiolo commented on #818
Pushing to M6, reassigning to @jhpedemonte

[2012-03-14 00:06] JonFerraiolo commented on #725
Pushing to M6

[2012-03-14 00:06] JonFerraiolo commented on #591
Pushing to M6

[2012-03-14 00:06] JonFerraiolo commented on #522
Pushing to M6

[2012-03-14 00:07] JonFerraiolo commented on #282
Pushing to M6, raising to Prio Medium

[2012-03-14 00:07] JonFerraiolo commented on #276
Pushing to M6. But I'll bet we never do this.

[2012-03-14 00:08] JonFerraiolo commented on #1589
Pushing to M6

[2012-03-14 00:10] JonFerraiolo commented on #1452
Pushing to M6.

[2012-03-14 03:00] peller commented on #1521
I'd argue that ComboButton (and DropDownButton) have the correct behavior, as there is a proper widget associated it and you should be able to inspect and modify it.  Alas, dijit.Menu has regressed (again) #1154 Yes, there's some inconsistency with the (simpler) ComboBox, where there is only one type of tag as a child and it's a simple one.

[2012-03-14 03:03] peller commented on #1154
menus (and their MenuItems) not appearing when selected in the outline, only the focus box

[2012-03-14 03:26] jhpedemonte commented on #23
-> M6

Is this something we still want to do, or should this be closed?

@JonFerraiolo

[2012-03-14 03:30] jhpedemonte commented on #43
Updated title and summary (was "Remove "New File" command, or add toolbar?").

-> M6

[2012-03-14 03:31] jhpedemonte commented on #56
-> M6

[2012-03-14 03:32] jhpedemonte commented on #79
-> M6

[2012-03-14 03:34] jhpedemonte commented on #83
-> M6

How important is this in the short term?  M6 or push to M7?

[2012-03-14 03:35] jhpedemonte commented on #88
-> M6

@JonFerraiolo

[2012-03-14 03:35] jhpedemonte commented on #89
-> M6

@JonFerraiolo

[2012-03-14 03:35] jhpedemonte commented on #91
-> M7

[2012-03-14 03:36] jhpedemonte commented on #92
-> M7

[2012-03-14 03:36] jhpedemonte commented on #115
-> future

[2012-03-14 03:37] jhpedemonte commented on #118
-> future

[2012-03-14 03:38] jhpedemonte commented on #121
-> M6/Med

In general, we need to improve our extensibility story, soon.  Increasing the priority for that reason, but still might be pushed to M7.

@JonFerraiolo

[2012-03-14 03:38] jhpedemonte commented on #123
-> M6

[2012-03-14 03:39] jhpedemonte commented on #124
-> M7

How important is this in the near term?

[2012-03-14 03:40] jhpedemonte commented on #130
-> future

@billreed63, can you please add more to the summary.  I have no idea what **$std_10** is.  Also, what is this trying to fix?

[2012-03-14 03:42] jhpedemonte commented on #131
-> M7

[2012-03-14 03:43] jhpedemonte commented on #132
-> M7

[2012-03-14 03:43] jhpedemonte commented on #133
-> future

[2012-03-14 03:44] jhpedemonte commented on #135
-> M6

What's the latest status on this?  What remains?

[2012-03-14 03:44] jhpedemonte commented on #137
-> future

[2012-03-14 03:45] jhpedemonte commented on #140
-> future

[2012-03-14 03:46] jhpedemonte commented on #141
-> M7

[2012-03-14 03:57] jhpedemonte commented on #144
-> M6

Is this still something we want to do?

[2012-03-14 04:01] jhpedemonte commented on #145
@peller, push to M6?

[2012-03-14 04:02] jhpedemonte commented on #146
-> M7

[2012-03-14 04:03] jhpedemonte commented on #148
-> M6

[2012-03-14 04:04] jhpedemonte commented on #162
-> M6

[2012-03-14 04:07] jhpedemonte commented on #173
-> M6

But this should be handled by Orion eventually, right?

[2012-03-14 04:09] jhpedemonte commented on #178
-> M7

[2012-03-14 04:10] jhpedemonte commented on #189
-> M6

[2012-03-14 04:11] jhpedemonte commented on #222
-> M6

[2012-03-14 04:11] jhpedemonte commented on #223
-> M6

[2012-03-14 04:13] jhpedemonte commented on #225
-> future

Would this be handled by Orion at some point?

[2012-03-14 04:13] jhpedemonte commented on #226
-> M6

[2012-03-14 04:14] jhpedemonte commented on #239
-> M7

[2012-03-14 04:17] jhpedemonte commented on #247
-> M6

[2012-03-14 04:17] jhpedemonte commented on #249
-> M6

[2012-03-14 04:18] jhpedemonte commented on #261
-> M6

This would be a good usability win.

[2012-03-14 04:19] jhpedemonte commented on #267
-> M6

@childsb, is this still an issue?

[2012-03-14 04:20] jhpedemonte commented on #297
-> M6

What exactly is this for?

We currently have multiple project -- why do we need multiple workspaces?

Would this be handled by Orion?

[2012-03-14 04:24] jhpedemonte commented on #305
-> M6

Also see #343 -- integrating source editor into command stack (for undo/redo).

This would be a good **usability** win.

[2012-03-14 04:25] jhpedemonte commented on #320
-> M6/Med

**Usability** issue.

[2012-03-14 04:25] jhpedemonte commented on #357
@peller, didn't you just fix this?

[2012-03-14 04:26] jhpedemonte commented on #390
-> future

[2012-03-14 04:26] jhpedemonte commented on #392
-> M7

[2012-03-14 04:27] jhpedemonte commented on #433
-> M6

[2012-03-14 04:38] jhpedemonte commented on #438
Is this still relevant?  Since R&C now merged into core, there is no standalone R&C Welcome page.

Perhaps we should open a bug to add R&C content ("Recent Reviews") to Welcome page?

[2012-03-14 04:38] jhpedemonte commented on #455
-> M6

[2012-03-14 04:39] jhpedemonte commented on #456
@billreed63 & @waynevicknair -- What's the status for this bug?  Still relevant?

-> future

[2012-03-14 04:40] jhpedemonte commented on #462
-> M7

[2012-03-14 04:40] jhpedemonte commented on #464
-> M6

We'll have more discussions on UI in M6.

[2012-03-14 04:41] jhpedemonte commented on #477
-> M6

[2012-03-14 04:42] jhpedemonte commented on #498
-> future

[2012-03-14 04:43] jhpedemonte commented on #515
-> M6

[2012-03-14 04:43] jhpedemonte commented on #520
-> M6

[2012-03-14 04:44] jhpedemonte commented on #554
-> M6/Med

**Usability** issue, especially [this comment](https://github.com/maqetta/maqetta/issues/554#issuecomment-3588518).

[2012-03-14 04:49] jhpedemonte commented on #569
-> M6

Still an issue?

[2012-03-14 04:50] jhpedemonte commented on #617
-> M6

I'm a bit confused: why do we want sticky notes in Theme Editor?  What does that accomplish?

[2012-03-14 05:08] jhpedemonte commented on #619
-> M7

[2012-03-14 05:09] jhpedemonte commented on #642
-> M6

[2012-03-14 05:11] jhpedemonte commented on #659
-> M6/Med

[2012-03-14 05:12] jhpedemonte commented on #675
-> M6/High

We have a few bugs dealing with widget creation/movement past the initial viewport.  This is a **usability** issue as users start creating more involved pages.  Increasing priority to high.

[2012-03-14 05:16] jhpedemonte commented on #723
-> M6

[2012-03-14 05:16] jhpedemonte commented on #722
-> M6

[2012-03-14 05:17] jhpedemonte commented on #721
-> M6

[2012-03-14 05:17] jhpedemonte commented on #720
-> M6

[2012-03-14 05:18] jhpedemonte commented on #699
-> M6

[2012-03-14 05:18] jhpedemonte commented on #696
-> M6

[2012-03-14 05:20] jhpedemonte commented on #724
-> M6

[2012-03-14 05:20] jhpedemonte commented on #729
-> M6

[2012-03-14 05:20] jhpedemonte commented on #731
-> M6

[2012-03-14 05:21] jhpedemonte commented on #733
-> M6/High

[2012-03-14 05:22] jhpedemonte commented on #740
-> M6

[2012-03-14 05:22] jhpedemonte commented on #750
-> M6

[2012-03-14 05:24] jhpedemonte commented on #751
-> M7

@billreed63, is this still an issue or fixed by last commit?

[2012-03-14 05:24] jhpedemonte commented on #775
-> M6

[2012-03-14 05:25] jhpedemonte commented on #780
-> M6

[2012-03-14 05:26] jhpedemonte commented on #787
-> M6

[2012-03-14 05:26] jhpedemonte commented on #795
-> M6

[2012-03-14 05:26] jhpedemonte commented on #798
Closing and opening new bug for clipping during rotation.

[2012-03-14 05:28] #798 closed, assigned to peller

[2012-03-14 05:33] jhpedemonte opened #1907 "Device silhouette clipped when rotating"
Spun off from #798.

Javier:

Jon:

@JonFerraiolo @peller

[2012-03-14 05:35] jhpedemonte commented on #811
-> M6

@childsb @peller, still an issue?

[2012-03-14 05:35] jhpedemonte commented on #817
-> M6

[2012-03-14 05:36] jhpedemonte commented on #841
-> M6/Med

[2012-03-14 05:36] jhpedemonte commented on #844
-> M6

[2012-03-14 05:38] jhpedemonte commented on #853
-> M6

[2012-03-14 05:39] jhpedemonte commented on #874
-> M6

[2012-03-14 05:40] jhpedemonte commented on #882
-> M6

[2012-03-14 05:40] jhpedemonte commented on #884
-> M6/Med

[2012-03-14 05:41] jhpedemonte commented on #894
@peller: There's a lot of commits here -- how much is left?

[2012-03-14 05:42] jhpedemonte commented on #896
-> M6

[2012-03-14 05:44] jhpedemonte commented on #908
Reassign to Doron.  Take a look and assess risk for M5.

[2012-03-14 05:59] jhpedemonte commented on #1836
Why is fix necessary for Mobile themes only?  And only the custom theme at that?

How will this work for non-Dojo themes (whenever we get there)?

[2012-03-14 06:02] jhpedemonte commented on #1906
Is this a dup of #1512?

If not, I need more details here. What do you mean?  What is expected?

[2012-03-14 06:07] jhpedemonte commented on #932
-> M6

[2012-03-14 06:09] jhpedemonte commented on #1077
-> M6/Med

[2012-03-14 13:21] peller commented on #357
indeed. see #1823

[2012-03-14 13:21] #357 closed, assigned to peller

[2012-03-14 13:26] peller commented on #894
just the silhouette or orientation change part

[2012-03-14 13:33] peller commented on #844
There's a happy medium, especially now that we have asynchronous loading that associates code execution to the completion of loading its dependencies.  Modern browsers do give you 6 concurrent connections to the same server.  Some multiplexing (a handful of large requests, not hundreds of them) should benefit us, even over low latency connections, especially if you can segment what you need _now_

[2012-03-14 13:47] billreed63 commented on #1836
Mobile theme's are added dynamically based on user agent, or theme on the url. Review was not setting the device so the correct mobile theme was not being used. Desktop uses a static theme that in `@import`  It was not only needed for custom theme, if you used the iphone device it appeared that way but you could use the default theme and pick a differnt device (android) and the theme that was bein

[2012-03-14 14:10] jhpedemonte commented on #894
-> M6

[2012-03-14 14:39] #1860 closed, assigned to billreed63

[2012-03-14 14:47] JonFerraiolo commented on #1902
Fixed by above commit.

[2012-03-14 14:47] #1902 closed, assigned to nobody

[2012-03-14 14:47] billreed63 commented on #1792
Seems to be working now 0447cfd2af9ee56d553906ef3fc5101c6ad07050

[2012-03-14 14:47] #1792 closed, assigned to billreed63

[2012-03-14 14:48] JonFerraiolo commented on #1817
Dupe of #1566 which was fixed. Closing.

[2012-03-14 14:48] #1817 closed, assigned to waynevicknair

[2012-03-14 14:55] billreed63 commented on #1790
works on build cd61e9cf19a6d4dca924c6bbbb119a0512110cdd

[2012-03-14 14:55] #1790 closed, assigned to billreed63

[2012-03-14 14:56] billreed63 commented on #1583
moving to M6

[2012-03-14 14:57] billreed63 commented on #1544
Move to M6

[2012-03-14 14:57] billreed63 commented on #1112
Move to M6

[2012-03-14 14:58] billreed63 commented on #1114
move to M6

[2012-03-14 14:59] billreed63 commented on #1238
Move to M6

[2012-03-14 15:22] peller commented on #1349
@JonFerraiolo and @peller will review this code in M6

[2012-03-14 15:26] billreed63 commented on #1800
move M6

[2012-03-14 15:33] doronrosenberg commented on #908
The issue is that we call:

[code]

during undo.  That won't remove any new properties such as the onclick.  No risk here really, should be easy to fix

[2012-03-14 15:39] billreed63 commented on #1824
This seems to be working now, 0447cfd2af9ee56d553906ef3fc5101c6ad07050 if you are still seeing this reopen and specify which widget

[2012-03-14 15:39] #1824 closed, assigned to billreed63

[2012-03-14 16:18] JonFerraiolo commented on #642
@jhpedemonte - I'm scratching my head on why this was pushed to M6. Does the bug still exist? If so, shouldn't we fix for M5? If not, shouldn't we close.

[2012-03-14 16:20] JonFerraiolo commented on #617
The reason why users we asking for sticky notes in the theme editor was so that they could include explanatory comments about strategies with the themes, for example, a note that says all borders should be a particular color and thickness. They were thinking ahead to when R/C would allow reviews of themes.

[2012-03-14 16:22] JonFerraiolo commented on #438
Reassigning to me. I'll investigate and see if there is a safe and easy fix for M5 in this area.

[2012-03-14 16:27] childsb commented on #1721
I changed the doPut(...) method to use the server API better:
Was:

[code]

now:

[code]

i believe the NPE was caused by non-authenticated user.  the new method will handle that situation properly.

[2012-03-14 16:27] JonFerraiolo commented on #392
Moved this to @billreed63, M6, High. We need theme editor extensibility for custom widgets that extend the base set provided by core library (e.g., Dojo)

[2012-03-14 16:30] JonFerraiolo commented on #162
-> M6/High - this causes ZIP downloads to not work without some hand-editing of URLs

[2012-03-14 16:31] JonFerraiolo commented on #144
yes, still something we need to do. It is both a cleaner way of implementing themes, but also helps when integrating Maqetta as a component to other tools.

[2012-03-14 16:33] #1485 closed, assigned to childsb

[2012-03-14 16:40] JonFerraiolo commented on #130
Moved to M6/Med. $std_10 is a keyword that provides a shorthand for "common CSS properties". At the moment, the exact definition of "common CSS properties" is not well-defined. We need to make it well-defined as we start working with other widget development teams who are creating their own theme metadata. They need exactness and predictability.

[2012-03-14 16:44] JonFerraiolo commented on #124
Probably a nice-to-have in near term, lower priority that many other issues, but still we want to provide a complete solution for lo-fi authoring, and to do that, we need sketch theme support for more commonly used widgets, otherwise the user will get Claro for some widgets and sketch for others.

[2012-03-14 16:51] JonFerraiolo commented on #83
Set to M6/High. We need the UI makeover and extensibility in short-term (M6) so we can deal with custom widgets and theming from add-on widgets

[2012-03-14 17:00] JonFerraiolo commented on #23
Yes, definitely something we still want to do. Whether we can do it for M6, well, we shall see...

[2012-03-14 17:24] jhpedemonte opened #1908 "M4->M5 migration"
Need to handle migration issues.

First, best to start with issues marked [Migration](https://github.com/maqetta/maqetta/issues?labels=Migration&sort=created&direction=desc&state=open&page=1&milestone=11).

@JonFerraiolo @peller

[2012-03-14 17:29] jhpedemonte opened #1909 "Outline doesn't open to show ToolbarButton"
(Not sure if you wanted to handle this for M5, since you've already done most of the work.)

Adam fixed it so the Outline tree opens to the currently selected widget.  But it doesn't work in all cases:
1. New page.
2. Drop **ScrollableView**.
3. Add **Heading** to view.  -> Will see an error in console here.
4. Add **ToolbarButton** to Heading.  -> Outline will not open up to show ToolbarButton (m

[2012-03-14 17:33] peller commented on #1909
Follow on from #1823.  Hopefully we're no worse off than we were before, but sometimes it doesn't work.  In such cases, the set('paths') line in ToggleTree.js throws an exception (currently squelched)

Jon pointed out another scenario where this happens - a tabcontainer with a button inside a contentpane.  For some reason, the tabcontainer was showing up twice when traversing the widget hierarchy,

[2012-03-14 17:39] doronrosenberg commented on #908
@JonFerraiolo the event properties is not being refreshed during undo/redo as well, where does that code live?

[2012-03-14 18:37] childsb commented on #1447
Bug portion of issue resolved.  User prompted but no "open" dialog is shown

I'm re-adjusting the tags and re-assigning to Javier for UI work and prioritization.

[2012-03-14 18:39] childsb commented on #1381
Fixed a bug around this for windows, but haven't seen the problem on OSX.  Closing.

[2012-03-14 18:39] #1381 closed, assigned to childsb

[2012-03-14 18:52] aerwin commented on #1792
Confirmed.

[2012-03-14 18:53] aerwin commented on #1790
Confirmed.

[2012-03-14 18:54] childsb commented on #1289
This should be resolved from last milestone's re-write of the New File Dialog.

Currently parent folder is read-only drop down with a list of currently selected folder and a history of past selected folders.

[2012-03-14 19:09] childsb commented on #1027
This is working in m5

[2012-03-14 19:09] #1027 closed, assigned to childsb

[2012-03-14 19:22] childsb commented on #1064
After chatting with Javier--

1) The current static includes should probably be removed (clipart and shapes) in favor of
2) adding the packages dynamically via Context.loadRequires(...) call

Probably too much work for m6

[2012-03-14 19:23] childsb commented on #1064
Also note, that the RewritePage code just subclasses context, and loops through the widgets calling loadRequires(...).  By updating the loadRequires in context, this will fix RebuildPage as well.

[2012-03-14 19:23] childsb commented on #1064
The dojo script tag in m5 looks like:

[code]

[2012-03-14 19:27] JonFerraiolo opened #1910 "Can't set color on Drawing Tools text"
'color' property doesn't work on Drawing Tools text widget. Just need to propagate 'color' from parent SPAN onto 'fill' for <svg> element.

[2012-03-14 19:27] childsb commented on #1817
Fixed this with commit b6d3a8bef3d412ff51fd22165166499e0d7e4af7

[2012-03-14 19:28] JonFerraiolo opened #1911 "Drawing Tools Text widget added before rather than after"
Add Browser from Clip Art, then add a Rectangle onto top of Browser widget, then add a Text widget from Drawing Tools on top of rectangle.

Result=> Can't see Text. Looking at Outline, the Text widget is the first widget. Should be the 3rd.

[2012-03-14 19:40] #908 closed, assigned to doronrosenberg

[2012-03-14 19:47] billreed63 commented on #642
This does not happen anymore, closing

[2012-03-14 19:47] #642 closed, assigned to billreed63

[2012-03-14 20:24] peller opened #1912 "Only open review editors for HTML files"
.js and .jpg files do not permit commenting, so clicking on one of those files in the review tab should probably just open a regular editor.

[2012-03-14 20:30] aerwin commented on #1897
@childsb I merged my changes, and I think things work like we want now. E.g., when I used the link in the message for a new review it brought up the review and my new code expanded the tree.

[2012-03-14 20:30] #1897 closed, assigned to aerwin

[2012-03-14 21:27] #243 closed, assigned to childsb

[2012-03-14 21:33] jhpedemonte commented on #1670
-> M6

Doesn't seem like a ship issue, but something we want to do soon.  Keeping priority high.

[2012-03-14 21:35] jhpedemonte commented on #1494
@childsb, was this fixed by any of your latest R&C-related changes?

[2012-03-14 21:35] jhpedemonte commented on #953
-> M6

[2012-03-14 21:37] childsb commented on #1494
no

[2012-03-14 21:47] JonFerraiolo commented on #1912
Actually, I think we should close this issue. The review editor works on any file: images, SVG, CSS, JS. It shows the content and then allows commenting and annotations, even on source editor such as *.css. That's goodness!

[2012-03-14 21:55] peller commented on #1521
Discussed with @JonFerraiolo and @billreed63 and we all agreed that subwidgets shown in the markup should appear in the outline view and the user should be able to manipulate them directly.  Seems to fit well with the way Maqetta works.

[2012-03-14 21:55] JonFerraiolo commented on #1912
After chatting with @peller, closing this.

[2012-03-14 21:55] #1912 closed, assigned to waynevicknair

[2012-03-15 00:00] #1911 closed, assigned to JonFerraiolo

[2012-03-15 00:09] JonFerraiolo opened #1913 "Expand outline logic doesn't deal with TabContainers properly"
- New HTML File (hi-fi page)
- Add TabContainer and then add Button into first tab pane

Result=> Console shows this message:

`Could not expand path at TabContainer_0`

[2012-03-15 00:35] JonFerraiolo commented on #953
Hold on a minute - if we don't do this bug, how will users see all of the reviews with which they are participating? Is the assumption that the Reviews palette shows all reviews to which you have been invited, and an author will always invite himself? If so, then OK for M6, otherwise, need to fix for M5.

[2012-03-15 01:09] peller commented on #1913
possible dup of #1909

[2012-03-15 01:13] jhpedemonte commented on #1064
-> M6

[2012-03-15 01:14] #1910 closed, assigned to JonFerraiolo

[2012-03-15 01:18] jhpedemonte commented on #953
Not sure.  I was only going under the assumption that this isn't anything new, this is how R&C has been working.  And that this is in fact a new feature, not a regression.  Please let me know if I am wrong.

[2012-03-15 01:48] jhpedemonte commented on #1467
-> M6

[2012-03-15 01:49] jhpedemonte commented on #1337
-> M6/Med

[2012-03-15 01:50] jhpedemonte commented on #1234
-> M6/Med

Would be a nice **usability** win.  Especially while moving in **absolute** layout, or while **resizing**.

[2012-03-15 02:00] jhpedemonte commented on #1573
Status?  What's the risk assessment on this for M5?

[2012-03-15 02:04] jhpedemonte commented on #1559
-> M6

[2012-03-15 02:21] jhpedemonte commented on #1443
-> M6

[2012-03-15 02:21] jhpedemonte commented on #1422
-> M6

[2012-03-15 02:22] jhpedemonte commented on #1348
-> M6

[2012-03-15 02:23] jhpedemonte commented on #1333
-> M6

[2012-03-15 02:23] jhpedemonte commented on #1255
-> M6

[2012-03-15 02:24] jhpedemonte commented on #1161
-> M6

[2012-03-15 02:25] jhpedemonte commented on #1142
-> future

[2012-03-15 02:25] jhpedemonte commented on #1039
-> M6

[2012-03-15 02:31] jhpedemonte commented on #945
-> M6

[2012-03-15 02:32] jhpedemonte commented on #1462
-> M6/Med

[2012-03-15 02:33] jhpedemonte commented on #1327
-> M6

[2012-03-15 02:34] jhpedemonte commented on #1272
-> M6

[2012-03-15 02:36] jhpedemonte commented on #1271
I take back [what I said earlier](https://github.com/maqetta/maqetta/issues/1271#issuecomment-3026062) -- we probably can fix this declaratively.

Currently, we have the `allowedChild`/`allowedParent` metadata properties.  We could do something similar, but for "attached" widgets (as in, Tooltip is attached to a given widget; we can probably come up with a better term).  Then adding a Tooltip woul

[2012-03-15 02:36] jhpedemonte commented on #1271
-> M6

[2012-03-15 02:37] jhpedemonte commented on #1256
-> M6

[2012-03-15 02:38] jhpedemonte commented on #1210
-> M6

[2012-03-15 02:39] jhpedemonte commented on #1018
Same as #1614?

[2012-03-15 02:41] jhpedemonte commented on #1451
-> M6

[2012-03-15 02:42] jhpedemonte commented on #1382
-> M6/Low

[2012-03-15 02:49] jhpedemonte commented on #1290
-> M6

[2012-03-15 02:54] jhpedemonte commented on #1214
-> M6

[2012-03-15 02:54] jhpedemonte commented on #1111
-> M6

[2012-03-15 03:04] jhpedemonte commented on #1386
-> M6

[2012-03-15 03:05] jhpedemonte commented on #1147
-> M6

[2012-03-15 03:05] jhpedemonte commented on #1044
-> M6

[2012-03-15 03:07] peller commented on #1018
yes, and #1532.  Not likely to get fixed anytime soon.

[2012-03-15 03:08] jhpedemonte commented on #1032
How much of an issue is this any more?  I think that due to our many bug fixes, it is rare that something like this happens.

And now that most everything is async, the app should fully load, but a file may not.  The user will then be able to close that file.  Or delete it.  Or create a new project.

Close this?

[2012-03-15 03:08] jhpedemonte commented on #1030
-> M6

[2012-03-15 03:11] jhpedemonte commented on #1018
-> M6/Med

Can you please push on the Dojo bug, in order to get some traction?

[2012-03-15 03:12] jhpedemonte commented on #1614
Dup of #1018.

[2012-03-15 03:12] #1614 closed, assigned to peller

[2012-03-15 03:12] jhpedemonte commented on #1532
Dup of #1018.

[2012-03-15 03:12] #1532 closed, assigned to peller

[2012-03-15 03:15] jhpedemonte commented on #1581
-> M6/Med

[2012-03-15 03:17] jhpedemonte commented on #1556
-> M6/Med

[2012-03-15 03:21] jhpedemonte commented on #1538
I would amend this.  If user tries to delete an open file:
1. Does file have unsaved changes?  If so, display dialog stating that user is trying to delete a file that is currently being edited.  Display buttons for **Cancel** and **Delete**.
2. If no unsaved changes, just delete.

When deleting, close open editor.

[2012-03-15 03:21] jhpedemonte commented on #1538
-> M6/Med

[2012-03-15 03:21] jhpedemonte commented on #1537
-> M6/Med

[2012-03-15 03:24] jhpedemonte commented on #1440
-> M6/Med

May point to larger underlying bug.

[2012-03-15 03:25] jhpedemonte commented on #1428
-> M6

[2012-03-15 03:26] jhpedemonte commented on #1388
-> M6

[2012-03-15 03:27] jhpedemonte commented on #1363
-> M6

[2012-03-15 03:28] jhpedemonte commented on #1356
-> M6/Med

[2012-03-15 03:29] jhpedemonte commented on #1351
-> M6

[2012-03-15 03:30] jhpedemonte commented on #1287
-> M7

[2012-03-15 03:31] JonFerraiolo commented on #1032
I suspect it's rare for _us_ to have this problem now because we know how to operate the product but our _users_ will do things that we won't anticipate.

I suggest leaving this open for awhile longer as a reminder, but probably we will break this down into a few separate tasks. As @peller suggests, maybe part of the "solution" is better catching of exceptions and better surfacing of the problem s

[2012-03-15 03:31] jhpedemonte commented on #1286
-> M6

[2012-03-15 03:31] jhpedemonte commented on #1193
-> M6/Med

[2012-03-15 03:38] jhpedemonte opened #1914 "URL param for opening w/o any open editors"
(spun off from #1032)

Add support for a URL param to the main maqetta URL which loads Maqetta without any open editors (overriding persisted editors).

Main reason is to recover from errors where open files may cause loading issues.

---

One complication with this approach:  what do we do about persisted open editors which had unsaved changes?

@JonFerraiolo @peller

[2012-03-15 03:39] jhpedemonte commented on #1032
-> M7

Opened #1914 to handle URL param.  Moving this bug further into future.

[2012-03-15 03:41] peller commented on #1289
yes, but there's also the New Folder dialog

[2012-03-15 03:42] jhpedemonte commented on #1168
Status?  Is this fixed now?

[2012-03-15 03:43] jhpedemonte commented on #1124
-> M7

Much of this is dependent on how much we use Orion as a base.

[2012-03-15 03:44] jhpedemonte commented on #1006
-> M6

[2012-03-15 03:44] peller commented on #1032
#1914 is a good take away.  Otherwise, I don't think this issue is worth keeping open unless we have a specific code path to address.

[2012-03-15 03:44] jhpedemonte commented on #957
-> M6

[2012-03-15 03:45] peller commented on #1388
@childsb, wasn't this fixed?

[2012-03-15 03:47] jhpedemonte commented on #1032
Given Adam's comment, closing this, unless we have a definite path in mind.

[2012-03-15 03:47] #1032 closed, assigned to childsb

[2012-03-15 03:50] jhpedemonte commented on #984
-> M7

We need to re-evaluate and redo our jQuery/YUI support.  Probably won't have time in M6 for that.

[2012-03-15 03:51] jhpedemonte commented on #1121
-> M6/Med

[2012-03-15 03:51] jhpedemonte commented on #1236
-> M6

[2012-03-15 03:55] jhpedemonte commented on #1342
-> M6/Med

[2012-03-15 03:55] jhpedemonte commented on #1527
-> M7

[2012-03-15 03:56] jhpedemonte commented on #1718
-> M6/Med

[2012-03-15 04:01] jhpedemonte commented on #1744
-> M6

[2012-03-15 04:02] jhpedemonte commented on #1873
-> M6

[2012-03-15 04:03] jhpedemonte commented on #961
-> M6/low

This won't be an issue any more once we get rid of the OSGi bundles for libraries.

[2012-03-15 04:04] jhpedemonte commented on #1053
-> M6

[2012-03-15 04:06] jhpedemonte commented on #1756
Handling of the 'url' prop is #1053.

[2012-03-15 04:07] jhpedemonte commented on #1054
-> M6

[2012-03-15 04:08] jhpedemonte commented on #1075
-> M6

[2012-03-15 04:09] jhpedemonte commented on #1143
-> future

There are still questions around **dojox.mobile.app**.  Once we have a better picture, we can assign a better milestone.

[2012-03-15 04:09] jhpedemonte commented on #1151
-> M6

[2012-03-15 04:14] jhpedemonte commented on #1235
-> M6

[2012-03-15 04:17] jhpedemonte commented on #1380
dup of #1064

[2012-03-15 04:17] #1380 closed, assigned to jhpedemonte

[2012-03-15 04:19] jhpedemonte commented on #1426
@childsb, is this fixed now, by your commit?

[2012-03-15 04:23] jhpedemonte commented on #1447
-> M6

[2012-03-15 04:25] jhpedemonte commented on #1750
@peller, how much is this needed for M5?  OK to push to M6?

[2012-03-15 04:25] jhpedemonte commented on #1608
-> M6

[2012-03-15 04:25] jhpedemonte commented on #1611
-> M6

[2012-03-15 04:26] jhpedemonte commented on #1710
-> M6

[2012-03-15 04:29] jhpedemonte commented on #1475
-> M6

[2012-03-15 04:29] jhpedemonte commented on #1794
-> M6

[2012-03-15 04:38] jhpedemonte commented on #1420
Reassign to Doron.  You have a Windows machine, right?

[2012-03-15 04:43] jhpedemonte commented on #1613
@doronrosenberg, do you have Windows 7?  If so, can you take this as well?

[2012-03-15 04:48] jhpedemonte commented on #1623
-> M6

[2012-03-15 04:49] jhpedemonte commented on #1635
-> M6

[2012-03-15 04:50] jhpedemonte commented on #1731
-> M6

[2012-03-15 04:57] jhpedemonte commented on #1548
Is there anything left to do here?  If test/analysis is done, then close this issue and open new ones for remaining bugs.

[2012-03-15 04:59] jhpedemonte commented on #1012
-> M6

[2012-03-15 04:59] jhpedemonte commented on #1241
-> M6

[2012-03-15 05:00] jhpedemonte commented on #1340
-> M6

[2012-03-15 05:01] jhpedemonte commented on #1372
-> M6

[2012-03-15 05:02] jhpedemonte commented on #1416
@waynevicknair, please answer Jon's question in previous comment.  If this is still an issue, then move to M6.

[2012-03-15 05:02] jhpedemonte commented on #1900
-> M6

[2012-03-15 05:03] jhpedemonte commented on #1101
-> M6

[2012-03-15 05:04] jhpedemonte commented on #1350
-> M6

[2012-03-15 05:06] jhpedemonte commented on #1514
-> M6

[2012-03-15 05:07] jhpedemonte commented on #1519
-> M6

[2012-03-15 05:07] jhpedemonte commented on #1554
-> M6

[2012-03-15 05:11] jhpedemonte commented on #1632
Server leaks were fixed in #1806.  Is this still necessary?

@peller

[2012-03-15 05:11] jhpedemonte commented on #1520
-> M6

[2012-03-15 05:11] jhpedemonte commented on #1152
-> M6

[2012-03-15 05:13] jhpedemonte commented on #1812
-> M6

[2012-03-15 05:14] jhpedemonte commented on #1578
-> M6

[2012-03-15 05:15] jhpedemonte commented on #1522
-> M6

[2012-03-15 05:15] jhpedemonte commented on #1419
-> M6

[2012-03-15 05:16] jhpedemonte commented on #1221
-> M6

[2012-03-15 05:16] jhpedemonte commented on #1180
-> M6

[2012-03-15 05:17] jhpedemonte commented on #1748
-> M6

[2012-03-15 05:18] jhpedemonte commented on #1719
-> M6

[2012-03-15 05:18] jhpedemonte commented on #1189
-> M6/Med

[2012-03-15 05:19] jhpedemonte commented on #1125
-> M6

[2012-03-15 05:20] jhpedemonte commented on #1085
-> M6

[2012-03-15 12:25] aerwin commented on #1548
@jhpedemonte Yes, been kind of waiting on RAD Beta 2 (https://www14.software.ibm.com/iwm/web/cc/earlyprograms/websphere/wasv8na/index.shtml) to run through some things. It just came out this week, so hoped to run a few quick tests by end of week.

[2012-03-15 13:02] billreed63 commented on #1451
I have a fix for this just doing some final testing...

The issue is that the Font combobox is not returning the `value` from the FontDataStore ComboBox only returns the `searchAttrbute` in this case name so when the user selects a font ie Comic Sans the value retrieved from the combo box is the name Comic Sans not the value 'Comic Sans MS',cursive

[2012-03-15 13:19] peller commented on #656
see #1554

[2012-03-15 13:21] peller commented on #1863
see #1554

[2012-03-15 13:25] peller commented on #1632
we now run with a setting that generates a heap file on failure, such that we can inspect it with the jhat tool.  If we could update to a newer JVM, we'd be able to inspect the heap concurrently.

[2012-03-15 13:25] #1632 closed, assigned to peller

[2012-03-15 13:28] peller commented on #1522
See also #1554

[2012-03-15 13:33] peller commented on #1750
@jhpedemonte, would help somewhat with performance in M5, but very important for M6 optimizations like #1586 and #27.  Might be risky to do now anyway.  How about M6->High?

[2012-03-15 13:51] billreed63 commented on #1451
dojo.form.ComboBox when used with a data store only uses the search attribute for   setting the Name and Value fields of the comboBox in the case of FontDataStore the  searchAttribute is name. But we want the to display to the user the name feild from the  data store and use the date store item value field to set the css font. So we override the default behaviors of the getters and setters.

[2012-03-15 13:53] #1451 closed, assigned to billreed63

[2012-03-15 14:03] peller commented on #1236
note that layer dependencies are only useful once we implement #1750, otherwise the individual requests will continue to load

[2012-03-15 14:37] JonFerraiolo commented on #953
Pushing back to M5 until we are sure that the list of Reviews that authors and reviewers see in the Reviews palette is working acceptably.

[2012-03-15 14:49] childsb commented on #1632
Should we list upgrade JVM as a migration issue so we can do inspections on next release?

[2012-03-15 14:52] childsb commented on #1426
The bug is fixed, but there are some "future feature" requests by Adam so I left it open.

[2012-03-15 14:53] jhpedemonte commented on #1750
-> M6/high

[2012-03-15 15:02] peller commented on #1426
we should probably break out into separate bugs as needed.  my bad

[2012-03-15 15:04] peller commented on #1632
it would be a nice-to-have, but @waynevicknair suggested it was a hosting limitation.

[2012-03-15 15:47] peller commented on #1426
part (1) with the escapes appears to have been fixed by dd5b7fc9, dup of #1388

[2012-03-15 15:48] peller commented on #1388
fixed in dd5b7fc9

[2012-03-15 15:48] #1388 closed, assigned to peller

[2012-03-15 16:26] JonFerraiolo commented on #1168
Closing. The file dialogs now use a DropDownButton widget, which is read-only.

[2012-03-15 16:26] #1168 closed, assigned to childsb

[2012-03-15 16:29] JonFerraiolo commented on #1914
Regarding "persisted open editors which had unsaved changes", I think we are generally OK. To the user, it will look like they have a file1.html in their workspace and they won't know that it is in a dirty state. If they open it, then they will get the workingcopy version (95% certainty). But we need to test this to make sure nothing breaks in this scenario where there are workspace files that hav

[2012-03-15 16:45] doronrosenberg commented on #1613
hmm, I can start the nightly builds just fine on Windows 7 64 bit without any changes.

[2012-03-15 16:51] #1420 closed, assigned to doronrosenberg

[2012-03-15 17:24] billreed63 opened #1915 "dijit.form.ComboBox does not return value when using data store"
dijit.form.ComboBox when used with a data store only uses the search attribute for  setting the Name and Value fields of the comboBox in the case of FontDataStore the  searchAttribute is name. But we want the to display to the user the name feild from the  data store and use the date store item value field to set the css font.   So we override the default behaviors of the getters and setters.

[co

[2012-03-15 18:05] billreed63 commented on #1915
According to the dojo documentation ComboBox is preforming as designed

[Note: ComboBox only has a single value that matches what is displayed while FilteringSelect incorporates a hidden value that corresponds to the displayed value.](http://livedocs.dojotoolkit.org/dijit/form/ComboBox#usage)

And we can't use FilteringSelect, we want to allow users to type in fonts that may not be in the list.

[

[2012-03-15 18:05] #1915 closed, assigned to billreed63

[2012-03-15 18:06] billreed63 commented on #1451
more info on why we have to use this solutions in #1915

[2012-03-15 18:18] JonFerraiolo commented on #1915
I'm not sure what's the best approach, but I do have a question: can we accomplish the same thing without using a custom widget? Can we put some JavaScript logic above standard ComboBox that listens to onChange events in ComboBox, and then pulls out the right "value" from the datastore, and then a setter function that is above/to-the-side of ComboBox that calls the ComboBox setter to the right thi

[2012-03-15 18:37] billreed63 commented on #1915
That is more or less what I have done, overriding the getters and setters for comboBox

[code]

[2012-03-15 20:15] doronrosenberg opened #1916 "js errors using source editor"
Typing in the source editor on firefox windows:

Empty path
http://lab9.austin.ibm.com:50010/maqetta/app/dojo/dojo.js?ff27cc7fd378dcec88538164373551dee494acc6
Line 1746

[2012-03-15 20:15] #1127 closed, assigned to childsb

[2012-03-15 20:22] doronrosenberg commented on #1916
actually, no need to type anything - just click in the source editor a few times,errors occur

[2012-03-15 20:23] doronrosenberg commented on #1916
also happens on chrome

[2012-03-15 20:26] #1916 closed, assigned to peller

[2012-03-15 21:25] JonFerraiolo commented on #1613
I dusted off a junky low-end Windows 7 box that we normally never use here at home because everything is so painfully slow and difficult, and then downloaded today's nightly build and ran the 2 launch scripts (maqetta.server.win.bat and maqetta.local.win.bat) and everything worked fine for me, too. I even verified the launch scripts when running from a folder where there is a space in the name.

@

[2012-03-15 21:30] JonFerraiolo commented on #1886
I'm going to close this. I haven't seen these problems in awhile, and I have fixed some bugs in ChooseParent.js recently, so until seeing otherwise I'll assume these intermittent problems have been fixed.

[2012-03-15 21:30] #1886 closed, assigned to JonFerraiolo

[2012-03-15 21:30] billreed63 commented on #1550
This appears to be a bug in dojo, if I take the following source and run outside of maqetta

[code]

The style attribute on the dijit.tree is ignored and the width and height of the tree are set to values of the Content pane

[2012-03-15 21:33] wnm3 commented on #1613
Can you please send me a copy (or paste content here and I'll try testing what you are using)? Thanks in advance.

[2012-03-15 21:35] JonFerraiolo commented on #1707
This is a dupe of #1839, which was fixed by e3b9c08770e6f594049d1215cc6ea7c2f918a19e. Closing.

[2012-03-15 21:35] #1707 closed, assigned to JonFerraiolo

[2012-03-15 21:37] doronrosenberg commented on #1613
I used the latest build at http://maqetta.org/nightly/

[2012-03-15 21:42] #1492 closed, assigned to JonFerraiolo

[2012-03-15 21:47] JonFerraiolo commented on #438
Pushing to M6. I don't see anything quick and easy that we can do for M5 for the "Welcome" content. I am hoping that we will have some UI redesigns for M6 that will address this particular UI issue.

[2012-03-15 21:49] JonFerraiolo commented on #1906
This wasn't assigned to anyone, so I assigned to @childsb so it wouldn't fall into cracks.

[2012-03-15 21:52] wnm3 commented on #1613
Installed maqetta-20120315-0604.zip and tried both local and server_win.bat and get:

C:\maqetta>maqetta.server.win.bat

Java version:
java version "1.6.0_26"
Java(TM) SE Runtime Environment (build 1.6.0_26-b03)
Java HotSpot(TM) 64-Bit Server VM (build 20.1-b02, mixed mode)

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
NOTE: CLOSING THIS WINDOW WILL
      STOP THE MAQETTA SERVER PROCESS
!!!!!!!!!!!!!!!

[2012-03-15 21:59] jhpedemonte commented on #1494
-> @childsb

[2012-03-15 23:19] #625 closed, assigned to JonFerraiolo

[2012-03-16 02:13] peller commented on #1573
this line from Context.activate:

[code]

causes each paste to force a change in selection.  onContentChange triggers a change in selection.  Because dijit/Tree is iterating and calling pasteItem on the model, we have no way to intercept this, so the only workaround I can find is to do the onContentChange on a timer, which will occur after Tree has finished its iteration and the stack unwinds.  on

[2012-03-16 02:21] peller commented on #1394
-> M6 where perhaps we'll want to try an Orion refresh before tackling this

[2012-03-16 02:38] JonFerraiolo commented on #1550
Dojo has a feature where some widgets auto-expand to 100%/100% if they are the only child of a ContentPane. I wonder if that feature is somehow involved in this.

[2012-03-16 03:07] jhpedemonte commented on #1484
-> M6

After fix to #1510, the should be easy to fix -- just change the default value for `labels` attribute, as seen in the [Dojo fix](http://trac.dojotoolkit.org/changeset/27511/dojo).

However, while this does **fix the source and on reload/reopening page**, it does not fix the **initial creation** of the widget.

The issue is how the `mixin` object is handled coming in to the **DijitWidget** c

[2012-03-16 03:42] #1756 closed, assigned to jhpedemonte

[2012-03-16 03:56] #1841 closed, assigned to JonFerraiolo

[2012-03-16 04:01] jhpedemonte commented on #943
-> M6

[2012-03-16 04:04] jhpedemonte commented on #845
-> M6

Too risky for M5.  We've got several issues around this area and should fix them all for M6.

[2012-03-16 05:12] jhpedemonte opened #1917 "Smart Input appears, then immediately disappears"
Testing on Firefox:
1. New HTML page, set to **android_340x480**.
2. Add a **Heading** widget.

Notice that the smart input appears then immediately disappears.

[2012-03-16 05:15] jhpedemonte opened #1918 "`paths[0]` undefined when deselecting widget"
Tested on Firefox:
1. New page.
2. Add **Calendar**.
3. Click in empty area of page to deselect Calendar widget.

Error in console: paths[0] is undefined.

Comes from `selectNode()`, on line:

[code]

[2012-03-16 05:19] jhpedemonte commented on #1396
I'm seeing this again.  Testing with Firefox.

[2012-03-16 05:59] jhpedemonte commented on #1915
cc @peller

[2012-03-16 12:59] #1918 closed, assigned to peller

[2012-03-16 14:46] doronrosenberg commented on #1613
@JonFerraiolo the suggested changes work fine for me, so we can just accept them if you are ok with that.

[2012-03-16 14:51] JonFerraiolo opened #1919 "SelectTool calls _updateTarget, which no longer exists"
SelectTool calls _updateTarget, which no longer exists

@aerwin - I think this new bug is the result of updateTargetOverlays feature addition to _Tool.js. I managed to do something while dragging around widgets on a page to trigger the call to (non-existent) _updateTarget, but now I can't figure out how to reproduce.

I'll have to study the code to see what set of user actions trigger the call to

[2012-03-16 14:53] JonFerraiolo commented on #1613
Yes, almost certainly the changes are good, but we should still study the Windows command reference to make sure we understand what this change is doing so we feel confident that the fix doesn't break something else. Do you have the ability to study Windows command reference? If not, we can find someone else on team to do that due diligence.

[2012-03-16 15:17] doronrosenberg commented on #1613
@wnm3 do these commands work for you:

FOR /R plugins %%R IN (org.eclipse.equinox.launcher*.jar) DO SET EQUINOX=%%R
java -Dorg.eclipse.equinox.http.jetty.http.port=%port%  -Dmaqetta.localInstall=true -Dmaqetta.baseDirectory="%usersdir%" -DloginUrl="/maqetta/welcome" -jar "%EQUINOX%" -console -noExit

[2012-03-16 15:25] wnm3 commented on #1613
yes -- result of running just those commands is the osgi> prompt. Thanks.

[2012-03-16 15:27] wnm3 commented on #1613
note: accessing maqetta from the browser resulted in some output that my be related to the nightly build status:

osgi> servlet parm 'maqetta.localInstall' is : true
servlet parm 'inWar' is : null
servlet parm 'maqetta.serverDebug' is : null
servlet parm 'maqetta.baseDirectory' is : C:\maqetta\users

Setting [user space] to: C:\maqetta\users
servlet parm 'maqetta.maxUsers' is : null
servlet parm '

[2012-03-16 15:43] #1919 closed, assigned to JonFerraiolo

[2012-03-16 16:22] billreed63 commented on #1917
It appears that FF 11  is firing a onBlur event, smartInput is catching the onBlur and closing the smartInput.
I tested preview 4 on maqetta.org and it has the same problem. So this is a problem with FF, I will keep looking for a work around..

[2012-03-16 16:57] waynevicknair opened #1920 "Auto-create User Account if Joomla Login Successful"
at some point in time we used to create the user directory if it didn't exist but a user successfully logged in through Joomla. it looks like we somehow lost this logic.

[2012-03-16 17:26] jhpedemonte commented on #1920
So what does that mean?  What is the problem currently?

@JonFerraiolo

[2012-03-16 17:57] peller commented on #1920
is this what happens if the JVM is hung (out of memory) when the user creates the account initially?

[2012-03-16 18:06] JonFerraiolo commented on #1920
My theory is yes

[2012-03-16 19:05] billreed63 commented on #1917
In ve/Context.onMouseUp we are calling `this.getContainerNode().focus();` this is happening after the smart Input is opened. This call to focus is what is causing FF to fire the onblur, which dojo is catching add calling the smart input onBlur.

I removed the call to  `this.getContainerNode().focus();` in ve/Context.onMouseUp It fixes the issue on FF and seems to have not negative side effects. I

[2012-03-16 19:08] #1917 closed, assigned to billreed63

[2012-03-16 19:37] billreed63 commented on #1550
That seems to be the case, if I place a `<div></div>` before or after the Tree in the same taab container then I can resize the tree

[2012-03-16 19:56] JonFerraiolo opened #1921 "Click-select in Outline palette - highlight in Outline goes away"
I'm using Mac/Chrome. Regression from previous releases.
- Open Sample1.html
- In Outline palette, open up first ContentPane of TabContainer and click-select on the first DIV
- Move mouse down to white space at bottom of Outline palette

Result=> The tree node representing the DIV is no longer selected in Outline palette.

Note that if you click-select the DIV on the canvas, the Outline palette do

[2012-03-16 20:10] peller commented on #1396
looks like a regression from 8c235b9ed3514b1bec7a1404121af8887420fe07

[2012-03-16 20:13] #1396 closed, assigned to peller

[2012-03-16 20:26] peller opened #1922 "Selecting widget in hidden pane from Outline does not make element visible"
- Open Sample1.html
- In Outline palette, open up first ContentPane of TabContainer and click-select on the first DIV.  The outline will expand, and the element will be selected on the canvas.
- Now, in the Outline palette, select the next ContentPane "projects".  It will be brought into view on the canvas and selected.
- In the Outline palette, click on that first DIV again.  Because the pane is

[2012-03-16 20:31] jhpedemonte commented on #924
-> M6

[2012-03-16 20:39] aerwin commented on #1901
Work on this one turned out to be more than it appeared when I started. Aside from getting toolbar buttons not to crash with an exception when clicked, there were also issues with the tree not refreshing after tasks were executed, pop-up menu tasks failing, etc. But, things are working a lot better now after merging my changes.

[2012-03-16 20:39] #1901 closed, assigned to aerwin

[2012-03-16 20:51] jhpedemonte commented on #1062
-> M6

All fixes I can think of are too risky for M5.

[2012-03-17 15:20] JonFerraiolo opened #1923 "Background dialog console message if choosing image"
Very much OK to push this to M6, but it might be a fairly safe fix.
- New HTML File - desktop hi-fi page
- Add a DIV
- Bring up Background dialog
- Set background-image type to "image"
- Click on button to bring up file selector dialog.
- Choose SampleBanner.jpg

Result=> Console message: `GET http://localhost:8081/maqetta/SampleBanner.jpg 404 (Not Found)`

This message is coming from BackgroundDi

[2012-03-17 15:34] JonFerraiolo opened #1924 "Cannot add new rule to app.css in this case"
Using Mac/FF, I created a file with:

[code]

The 3rd and last button on ToolBar has float:right, with ID 'ccc' and class '111'. I then tried to add a new rule to app.css for class '111' that set color:green, and saw this message:

[code]

[2012-03-17 15:58] JonFerraiolo opened #1925 "Don't allow IDs and classnames that don't conform to HTML and CSS syntax rules"
(Could be reassigned to almost anyone)

The Properties palette doesn't validate the ID or class name fields. As a result, the user can enter something like "111" for a class name which will ultimately cause DOM Syntax Error messages. (See #1924)

[2012-03-17 16:01] JonFerraiolo commented on #1924
Closing this bug, and created bug #1925 instead. The problem was that I tried to use a class name that began with a number. The browser ultimately rejected that class name. CSS requires that class names begin with underscore, letter, a couple of other things, but not number. Created #1925 to validate any class names entered by users.

[2012-03-17 16:01] #1924 closed, assigned to JonFerraiolo

[2012-03-17 17:32] JonFerraiolo opened #1926 "Problems combining BorderContainer with SwapView"
@peller , @billreed63, @jhpedemonte

I was playing with M5 and tried to create a simple iPad user interface. Since the iPad has a fairly large screen size, I thought about breaking the page into regions using BorderContainer, and then using SwapView for the main page content.

Here is what I tried:
- New HTML File - iPad
- Add a BorderContainer, with top, left and center regions, headline style
-

[2012-03-17 20:23] JonFerraiolo opened #1927 "Can't select ListItem in this file (probably due to SwapView)"
Cannot select the ListItem widgets in the following file. I'm pretty sure it's because SwapView is intercepting the mousedown (or selectstart) events before Context.js onMouseDown gets the event.

[code]

[2012-03-17 21:21] #1927 closed, assigned to JonFerraiolo

[2012-03-17 22:19] JonFerraiolo opened #1928 "Custom theme not catching ToolBarButton margins"
Looking at ToolBarButton in a browser debugger, I see this margin setting:

[code]

But in theme editor for custom theme, I don't see the margin values, and therefore can't change the margins.

[2012-03-17 22:32] JonFerraiolo opened #1929 "Can't change padding on Button in clone of sketch theme"
- Clone sketch theme to sketch2
- Select Button
- In Properties palette, Padding/Margins, change padding from '2px 4px 4px 4px' to '0px 2px 2px 2px'

Result=> Nothing happens. The change doesn't take for some reason. (Works if you clone claro, however)

[2012-03-17 23:41] JonFerraiolo opened #1930 "Session timeout logic problems"
@peller, @jhpedemonte, @aerwin

After experience lots of unexplained problems that I had with Maqetta where session timeouts didn't seem to be happening in a predictable way, I tried to some experiments to see what happens if I had a very short session timeout out (e.g., 12sec).

I need to dig in deeper, but I'm pretty sure that we aren't checking HTTP return codes for all possible requests. As a

[2012-03-18 02:47] peller commented on #1930
I'm not usually a big fan of pub/sub, but if the behavior we seek is that ALL xhr requests should redirect on certain types of errors (auth errors only?) then we might want to use djConfig.ioPublish.  xhr has a facility which will publish an event on each error, which can then be handled by a single handler (the Workbench?) with no need to wrap or repeat code.

[2012-03-18 17:35] JonFerraiolo opened #1931 "Hang upon creating a new file"
I had been doing about 20 minutes of work in Maqetta fooling around with hi-fi sketch and using Drawing Tools in conjunction with states, and upon trying to create a new HTML file for roughly the 10th time in the session, Maqetta hung, showing a new file tab (file2.html) with the spinning icon on the editor tab.

Sorry I don't have a reproducible case, but maybe the console.warn log below provides

[2012-03-18 17:52] JonFerraiolo opened #1932 "Empty canvas for non-empty file upon switching editors"
I had 2 editors open, with the second one active. Upon closing the second editor, the first editor showed only a blank canvas. However, the file was not empty. If I closed the file and reopened, then it's content showed.

I don't remember the history of my session, but here is the tail of the console.warn() messages:

[code]

[2012-03-18 18:03] JonFerraiolo commented on #1932
I did a _diff_ of the console logs for when _switchEditor successfully shows the file content and when it shows blank. The console differences are these log statements which are missing from the above:

[code]

What appears to be wrong is that the following setTimeout logic ~Workbench.js:1380 is not calling resize in some cases:

[code]

I will check in a change will a couple of additional console

[2012-03-18 18:30] JonFerraiolo opened #1933 "Disappearing shape with shapes, copy/paste and app states"
- New HTML File - hi-fi sketch
- Add a Rectangle (default size)
- Copy/paste
- Unselect
- Create new state (aaa)
- In Outline palette, make second Rectangle hidden for Normal state
- Switch to aaa state

Result=> both Rectangles disappear

[2012-03-18 19:00] #1933 closed, assigned to JonFerraiolo

[2012-03-19 01:42] peller commented on #1931
did you see if anything was still going in the network panel?  Any chance you were connected to lab9?

[2012-03-19 02:20] #1921 closed, assigned to peller

[2012-03-19 02:27] peller commented on #1931
also, by 'hang' do you mean that the editor just failed to draw, or that the application was actually frozen and you were unable to do other operations? (we've seen both in the past)

[2012-03-19 02:48] #1154 closed, assigned to peller

[2012-03-19 02:50] JonFerraiolo commented on #1931
I was running on lab9, but lab9 was working fine at the time.  Sorry, I didn't look at network panel. One possibility is that this might be related to #1930, where perhaps the session was dead but we aren't catching the error and some operations are proceeding despite the network not delivering what is needed.

Sorry, I don't remember whether the app froze or just the edttor didn't redraw. If I se

[2012-03-19 03:22] jhpedemonte commented on #1927
Does your fix have any implications on scrolling within the VE, i.e. when adding content to SwapView that is taller than the view port?

[2012-03-19 03:26] jhpedemonte commented on #1930
Or, we can make sure that all server calls go through one point in the code, and then add the correct logic there -- check return codes to see if the server says user session has expired.  That is, instead of doing direct XHR calls (or Dojo XHR calls), create an object whose sole responsibility is to handle requests and calls to the server.

[2012-03-19 12:39] peller commented on #1930
They do go through one point in the code: dojo.xhr.  We don't need to create another layer for this.

[2012-03-19 14:36] JonFerraiolo commented on #1927
I don't believe so. My fix was simply to have SwapView.js (actually scrollable.js) not intercept mousedown events (in order to attempt to capture flick events). In the case of SwapView, the flick event would switch to a different SwapView, not scroll within a given SwapView.

[2012-03-19 15:02] JonFerraiolo commented on #1842
Docs have been updated. Closing.

[2012-03-19 15:02] #1842 closed, assigned to JonFerraiolo

[2012-03-19 15:08] #1613 closed, assigned to doronrosenberg

[2012-03-19 15:25] jhpedemonte commented on #1026
-> M6

[2012-03-19 15:49] JonFerraiolo commented on #1930
Assigning to @billreed63

Session timeout value is set at:

[code]

[2012-03-19 16:26] JonFerraiolo opened #1934 "Clip art preserves aspect ratio - not useful for sketching"
When sketching with clip art, user needs the clipart to be stretchable to fit into target rectangle, just like HTML images do.

Easy fix. Just set preserveAspectRatio='none' in the clipart SVG files

[2012-03-19 16:27] #1934 closed, assigned to JonFerraiolo

[2012-03-19 18:17] JonFerraiolo opened #1935 "Wrong selection in source pane"
@peller

(I'm using Mac/FF)
- New HTML File (hi-fi page)
- Add a Button and CheckBox
- Select Button, copy, paste after Checkbox
- Split view
- On canvas, click-select first Button. (correct widget is selected in source pane)
- On canvas, click-select second Button.

Result=> First button is still selected. This is true even if I save, close, reopen. However, if I bring up SmartInput and modify la

[2012-03-19 18:34] billreed63 commented on #1930
After doing a little testing and coding this is what I think we are seeing..
if the client does a put the season inactivity is reset, but we only do a put if the file is dirty. so we put a "working" version to the server on the auto save. once we have auto saved the working copy we do not do another auto save unless the content has changes.

so by doing as @peller suggests and adding the code to s

[2012-03-19 19:13] JonFerraiolo opened #1936 "Single user mode showing logoff button"
SIngle-user mode is showing logoff button, when it shouldn't (because of fixes back in January). I figured out what is wrong. Fix coming shortly,

[2012-03-19 19:16] #1936 closed, assigned to JonFerraiolo

[2012-03-19 19:24] peller commented on #1930
My suggestion would be to wire `/dojo/io/error` directly to `Runtime.handleError` and put the logic to check for 401 as well as the redirect in there, and do the same for `Runtime.serverJSONRequest`  Also, have handleError put up a console.error or console.warn for everything that isn't a 401.  If our server is returning a 403, it probably shouldn't be.  The spec says that for a 403,
    "Authoriz

[2012-03-19 19:40] aerwin opened #1937 "Mobile_Theme_Editor tutorial: Instructions for changing font size don't work"
The instructions say:

But, nothing happens when clicking the "+" icon. Is it supposed to? Or, must the user enter "14px" into the field before clicking the "+" icon?

[2012-03-19 19:45] JonFerraiolo commented on #1930
Isn't it 401, not 403?

[code]

[2012-03-19 19:47] jhpedemonte commented on #1937
@childsb, didn't you fix the regex dealing with this?  Causing issues, or something else?

[2012-03-19 19:58] JonFerraiolo opened #1938 "Current font-size not showing in Properties palette for mobile theme editor global page widget"
This one may need to bounce back to @jonferraiolo, who did some (most) of the various tricky things to get backgrounds to show in particular sections of mobile theme edtior.

As reported initially in #1937, the BODY-level font-size is not showing in Properties palette for mobile theme editor when you select the global page widget and then look at the font-size property in the Properties palette.

[2012-03-19 19:59] JonFerraiolo commented on #1937
I think this issue is more about some of the shenanigans that @billreed63 and @jonferraiolo had to do with the mobile theme editor where we are intermixing Maqetta content with actual dojox.mobile widgets within the same frame. I think the shenanigans need some tweaking, but too late to attempt a fix for this release. Instead, I'll update the tutorial for M5 and create a new issue to try to get th

[2012-03-19 20:12] #1937 closed, assigned to JonFerraiolo

[2012-03-19 20:36] billreed63 commented on #1930
we get a 403 when we attemp a put after a season time out a 401 on a get

[2012-03-19 20:40] JonFerraiolo opened #1939 "Previewer provides slider to test out different screen sizes"
A way for a designer to rapidly see the results of their efforts emulated on different predefined devices (iPhone, iPad, Android smart phones and tablets at their plethora of dimensions) and in landscape vs. portrait orientations. I envision a display area showing the designed UI with a slider to adjust the width, the UI dynamically changing (per the width) and snapping as the slider passes throug

[2012-03-19 22:21] doronrosenberg opened #1940 "Dragging button into Dialog throws error"
Dragging button into Dialog throws the following error, as does changing the button label:

Could not expand path at dijit_Dialog_0
http://lab9.austin.ibm.com:50010/maqetta/app/dojo/dojo.js?dcd61d1e5e98b2ff9fbfd8589c9e774badc6be44
Line 1746

[2012-03-19 22:27] JonFerraiolo commented on #1940
Assigning to @peller as a M5/Med because it smells like an outline path bug.

[2012-03-19 22:33] doronrosenberg commented on #1940
Same happens putting buttons in a Tabcontainer

[2012-03-19 23:43] JonFerraiolo commented on #1940
After pulling latest code, I'm seeing this with TabContainer also. The error message appears if you drag a TabContainer, then drag a Button into it, but doesn't appear if you save, close, reopen, and then add a Button to the TabContainer that was loaded from the saved file.

[2012-03-20 01:21] peller commented on #1940
dup of #1913 and #1909

[2012-03-20 02:29] peller opened #1941 "Tutorial: Nested BorderContainer link is broken"
http://lab9.austin.ibm.com:50010/maqetta/app/docs/index.html#tutorials/BCtutorials

click on "Nested BorderContainers"

The first time, it appears to reload the page.  The next time, this error is seen in the console:

Bad hyperlink. currently_viewed_page=tutorials/BCtutorials, target=tutorials/BCNestecBC.html

The typo is easy enough to fix Nestec->Nested.  But there's something strange -- instea

[2012-03-20 02:31] peller opened #1942 "docs aren't using Dojo layers"
minimally, they should be using dijit/dijit

[2012-03-20 02:54] jhpedemonte opened #1943 "Error trying to switch themes"
Bill, not sure if you'll be able to reproduce.  Maybe @JonFerraiolo can give it a try as well.

Steps:
1. Download latest "base" build.
2. Start up, testing in Chrome. _Since this was from new download, we're running on a new, clean workspace._
3. I was running the **VE1:SwitchThemes** test, where I added a bunch of widgets on the page, did some copy/paste, undo/redo.
4. Click on **switch theme**

[2012-03-20 03:00] jhpedemonte opened #1944 "Sticky note appears below absolutely positioned widgets"
1. New Page.
2. Set **absolute positioning**.
3. Add a few Dojo widgets.
4. Add a **sticky note** and enlarge it so it overlaps with Dojo widgets.

=> Sticky note appears **underneath** Dojo widgets.  Should be on top.  I'm guessing this has to do with the recent changes to z-index.

[2012-03-20 03:35] jhpedemonte opened #1945 "Error when enabling split views"
While testing VE1 on the latest "base" build on Chrome, I had added quite a few Dojo widgets to page, switched to **absolute positioning** and added some more; added a **sticky note**.

Then I started switching between the different **View Modes**.  I get an error when enabling one of the switch views.

Error is in `_setThemeClass()`, where there is a line like:

[code]

In the error cases, `_1da8

[2012-03-20 04:19] JonFerraiolo commented on #1906
Reopening. Had to revert the change. See commit 28d5ecc399 . Need help from @jhpedemonte on this one.

[2012-03-20 04:21] JonFerraiolo commented on #1941
Reassigned to @peller. Shouldn't this be closed?

[2012-03-20 04:23] JonFerraiolo commented on #1941
One thing to note: at this point, the content of tutorials cannot contain hyperlinks. It's a long story, but there is logic that does some munging of hyperlinks, and that logic messes up normal hyperlinks to other pages. I've removed all embedded hyperlinks in most of the content because of this.

[2012-03-20 12:50] peller commented on #1941
I left it open because the server was returning content instead of 404s.  Now I can't reproduce that.

[2012-03-20 12:56] peller commented on #1945
dup of #1394

[2012-03-20 12:56] #1945 closed, assigned to nobody

[2012-03-20 13:14] peller commented on #569
http://bugs.dojotoolkit.org/ticket/15042

[2012-03-20 13:46] peller opened #1946 "Exception opening editor: TypeError: s is null from getStyle"
@JonFerraiolo

Seen on Firefox with build

Saw this when cloning a theme.  ThemeEditor came up empty with both loading symbols spinning and no lingering network activity.  Firefox popped up a message for this unhandled exception on the console.

[code]

In the debugger, the stack looked like this:

[code]

this seems to track back to this line in the VisualEditor constructor:

[code]

[2012-03-20 13:52] billreed63 opened #1947 "Unable to select subwidgets in theme editor"
In desktop theme editor I am unable to select a subwidget if the subwidget menu is over another widget. example calendar/monthContainer. the event is passed through and the widget under is selected.

[2012-03-20 14:45] JonFerraiolo commented on #1947
Theories:
- Maybe there is a mousedown handler on the document but an onclick handler on the popup. Mousedown events get fired before onclick events.
- We might need a stopPropagation or stopEvent on the subwidget selection event handler to prevent further processing

[2012-03-20 14:51] jhpedemonte commented on #1946
cc @billreed63

[2012-03-20 14:56] JonFerraiolo commented on #1946
What was going on before you cloned the theme? I'm wondering if you might have had a page editor or theme editor open earlier in the session, and the `this._selected` property in Focus.js might be stale.

Incidentally, I have found countless exceptions when calling dojo.style and some other dojo functions (dojo.global?) because those functions assume the ownerDocument and ownerDocument.defaultView

[2012-03-20 14:59] peller commented on #1946
I'm thinking the timeout error isn't significant, and there must have been an exception in the main code as well which wasn't reported.  Hopefully 7f7062c310dd2514ccb2572d6fcbd74bc80199e4 will make it easier to spot.

[2012-03-20 14:59] peller commented on #1931
amd moved some important code off the stack. hopefully better error reporting will help. 7f7062c310dd2514ccb2572d6fcbd74bc80199e4

[2012-03-20 15:16] aerwin commented on #1548
A few weeks back I did some work with Beta 1 of the Web Developer Tools (WDT), but recently the March refresh of the  beta became available:

http://marketplace.eclipse.org/node/169799

I downloaded the zip file with the WDT plugins and installed into Eclipse (as a local update site):

http://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/V8.5/wdtupdate/wdt-update-site_8.5.0.WDT85-I

[2012-03-20 15:17] aerwin commented on #1548
Moving to M6 so we keep tracking this over time as new WDT builds become available...

[2012-03-20 15:54] peller commented on #1946
@JonFerraiolo not sure, but there's got to be more to this story.  I don't think the failure in the timeout itself would keep the editor from rendering.  Perhaps it was something more drastic, like the context being null.

[2012-03-20 16:03] jhpedemonte commented on #1906
According to Bill, he opened this bug because the version for **maqetta** library was **0.3**, which contrasts with our current version of **M5**.

Personally, I think this should just be fixed by #1512, but I'll push this to M6 for now.

-> M6/low

[2012-03-20 16:22] #1947 closed, assigned to billreed63

[2012-03-20 17:15] JonFerraiolo opened #1948 "Robust handling of z-index"
@billreed63, @jhpedemonte

This issue is to re-examine all of this z-index logic and see if there are better ways of making things work. One big related issue is #374, which can be generalized to say that Maqetta's selection box and other annotations shouldn't be in the user's doc. Another similar issue is that anything that smacks of an "annotation" (e.g., sticky notes, R/C annotations) should al

[2012-03-20 17:18] #1944 closed, assigned to JonFerraiolo

[2012-03-20 17:32] JonFerraiolo opened #1949 "Client-side inactive session logic"
@childsb, @peller, @jhpedemonte

@billreed63 has pointed out a chicken-and-egg problem with RIAs that work with a server that times out after a period of N minutes.

The chicken-and-egg problem is that the client really should include periodic heartbeat checks with the server to see if the server has timed out, and if, then immediately redirect user to appropriate UI for them to login in again, bu

[2012-03-20 17:41] JonFerraiolo commented on #1906
Note that the "maqetta library" means about 20 lines of JavaScript that strips out whitespace between DIVs and SPANs so that HTML pages display the same at runtime as they do in the page editor. This "maqetta library" is a whole different thing than "Maqetta the app" (which is now approaching the Preview 5 release).

I agree with Javier that one strong candidate for dealing with this issue is to s

[2012-03-20 17:45] peller opened #1950 "403 Forbidden should not be used when authorization is needed"
It seems that we should only be using 401, and the i/o error logic handling in Workbench (handleIoError) should be simplified to drop the 403 condition.

from http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

**10.4.4 403 Forbidden**

The server understood the request, but is refusing to fulfill it. _Authorization will not help and the request SHOULD NOT be repeated._ If the request method w

[2012-03-20 17:49] peller opened #1951 "Runtime.serverJSONRequest issues"
several issues in this method:
1. the do/while loop seems unnecessary and `ready` is invariant
2. `resultObj` is set in a then callback, but returned.  This will fail for async.  Therefore, this method ought to either return a `Deferred` or, preferably, the callers should just use dojo.xhr directly.  The only thing this method seems to be doing is mixing in the handleAs:json arg, and I think the i

[2012-03-20 17:54] peller commented on #1951
as an added bonus, removing this method would remove several dependencies on the Runtime module

[2012-03-20 18:00] JonFerraiolo commented on #1950
The world is often using 401 to mean strictly that username/password were wrong, not session timeout, and it appears common that 403s are used for timeouts. I have a link of my own that helps to explain this: http://lists.w3.org/Archives/Public/ietf-http-wg/2011AprJun/0256.html

[2012-03-20 18:04] JonFerraiolo commented on #1950
A better writeup is at http://www.missiondata.com/blog/web-development/83/handling-session-timeouts-and-other-errors-using-ajax/

[2012-03-20 18:26] peller commented on #1949
so unless we limit our timer to xhrs, we'd still need to implement a heartbeat, we'd just be tying it to something like mouse events, user actions, etc.?

The other approach seems to be to try to reauthenticate from within the app as needed.  I don't recall whether there were inherent problems with that approach or if we just opted to go with a simpler redirect.

[2012-03-20 18:43] billreed63 commented on #1949
We could have the heartbeat inside the timer. get the season timeout value from the server and keep track of the last time we sent to the server, If we will timeout with the server before the next timer pop we could do a heartbeat.

[2012-03-20 18:45] waynevicknair opened #1952 "in CommentView replies expand over other comments"
in a review session with multiple comments, reply to a comment in the middle of the list. the comment to which you replied will then show a '+' button, the number of replies and the work "Reply". click on the plus button or "Reply" link to expand the reply text. the reply will expand downwards and bleed into the comment below versus having the comment below be shifted downwards to accommodate the

[2012-03-20 18:54] waynevicknair opened #1953 "review invitee gets no edit link in their own comments"
a user gets invited to a review. they open the review link and add comments. however, their comments show up _without_ an "Edit" link. further, comments made by the author correctly appear in the comment view but incorrectly contain "Edit" links. it appears as though _only_ the author's comments can be edited and they are editable by anyone.

[2012-03-20 18:55] billreed63 opened #1954 "dojo.xhr does not publish error on put/get when server is down"
dojo xhtPut/Get do not publish /dojo/io/error when the server is unreachable.

[code]

[2012-03-20 19:04] waynevicknair opened #1955 "selecting comment in CommentView does not respect state"
select states in the "Scenes" palette correctly shows comment annotations on the canvas associated with the selected state. however, selecting a comment in the CommentView displays the annotations associated with that comment on the canvas regardless of selected state.

[2012-03-20 20:28] jhpedemonte commented on #1952
@aerwin, can you take a look at this?

@JonFerraiolo

[2012-03-20 20:44] JonFerraiolo commented on #1954
Doesn't dojo.xhrGet and Put offer a timeout feature, where if there is no response for N seconds, then a callback gets invoked? Would that take care of this problem, or is it that there is a response from the server, but improper handling by Dojo?

[2012-03-20 20:47] waynevicknair commented on #1885
number 1 in the in the first numbered list is working on Mac Chrome and Safari.
will fix number 1 in the second numbered list under issue #1953.
number 2 in the second numbered list is a duplicate of issue #1838.

closing this issue to fix problems under individual issues.

[2012-03-20 20:47] #1885 closed, assigned to waynevicknair

[2012-03-20 20:58] billreed63 commented on #1954
No it is not a timeout it immanently returns because it could not establish a socket to the server and the http.status=0 which _base.xhr.js  which xhr.isDocumentOk() returns true, thus an error is not published.

[2012-03-20 21:09] #1930 closed, assigned to billreed63

[2012-03-20 21:29] waynevicknair commented on #1838
fixed in commit fb2051ad40132689c90221c60bb354e7dd4f24e5

[2012-03-20 21:29] #1838 closed, assigned to waynevicknair

[2012-03-20 21:30] waynevicknair commented on #1953
fixed in commit fb2051ad40132689c90221c60bb354e7dd4f24e5

[2012-03-20 21:30] #1953 closed, assigned to waynevicknair

[2012-03-20 21:56] waynevicknair commented on #953
what i'm seeing on Mac chrome and safari is that the Reviews list appears correctly for both designers (authors) and reviewers. i believe that is the desired result. will test on an official build tomorrow morning.

[2012-03-20 22:03] waynevicknair commented on #1416
seeing odd behavior in Outline panel. it takes two clicks to get selection correct in either visual editor or source editor. pushing to M6. too risky for now.

[2012-03-20 22:12] JonFerraiolo opened #1956 "Coding problems with resize event handler in VisualEditor.js and Focus.js:move()"
@peller

In debugging #1946, I discovered to my horror some bad coding techniques. There is a setTimeout in VisualEditor.js that attempts to make sure that the selection gets redrawn correctly, but because of timing issues, by the time the setTimeout runs, the current editor might be a different editor, in which case the selection chrome is attempting to redraw itself on a document which currently

[2012-03-20 22:13] #1946 closed, assigned to nobody

[2012-03-20 22:51] JonFerraiolo commented on #1913
I believe I found the bug. I have a fix but I'm not sure about the side effects. The bug is in DijitWidget.js:77. For some reason we are putting _dvWidget onto dijitWidget.containerNode. For widgets where containerNode!=domNode, then we are putting the same _dvWidget pointer onto two different nodes. On my system I have commented out that assignment and now I'll do a bunch of testing to see what b

[2012-03-20 22:56] aerwin opened #1957 "Review asks for log-in when running from maqetta-single-user script from Eclipse"
With all of the latest code running with the maqetta-single-user from my dev environment... if I create and then try and open a review, I get a log-in screen where the content to review should be:

![Screenshot](http://i.imgur.com/Of4vW.jpg)

[2012-03-20 23:04] aerwin commented on #1952
Should now be fixed with commit above.

[2012-03-20 23:04] #1952 closed, assigned to aerwin

[2012-03-20 23:14] aerwin opened #1958 "Severity change when editing review comment not reflected until review reloaded"
1. Create a new comment in a review with severity "Unassigned"
2. Submit the new comment
3. Edit comment and change severity to Low, Medium, or High
4. Hit submit and notice severity icon for edited comment remains "Unassigned"

NOTE: If you set the severity to Low, Medium, or High on creation, then this issue doesn't seem to occur.

[2012-03-20 23:19] aerwin opened #1959 "Severity icons in review comment pull-down don't reflect severity"
When adding or editing a review comment, the pull-down for severity has incorrect icons next to each option:

![Screenshot](http://i.imgur.com/MSqLv.jpg)

For example, see the icon with a horizontal yellow bar on it next to Medium for the actual value of the severity field. But, then see the clipboard like icon next to the medium option in the pull-down.

[2012-03-20 23:19] JonFerraiolo commented on #1913
Don't know why GitHub didn't close this issue with about commit.

Closing now.

[2012-03-20 23:19] #1913 closed, assigned to peller

[2012-03-20 23:54] peller commented on #1909
fixed in 8dee9a95b9735730e34273bbc88c9d726aa6ed9a

[2012-03-20 23:54] #1909 closed, assigned to peller

[2012-03-20 23:55] #1940 closed, assigned to peller

[2012-03-21 00:12] JonFerraiolo opened #1960 "Review comments aren't state-specific"
Maybe this is a well-known bug, bug logging this just in case it isn't.

I created a new review session using Sample1.html and invited myself. When I opened the review session by double-clicking on Sample1.html.rev in the Reviews palette, I added review comments with annotations to both Normal and the Add Task states, but both annotations showed no matter what state I chose in the Scenes palette.

[2012-03-21 00:24] JonFerraiolo opened #1961 "Center align of two Buttons off by a couple of pixels"
In sketch mode, add two Buttons. Drag second Button next to first Button and get the center-horizontal snap line to appear. Release mouse. Notice that second Button is a couple of pixels too low. Try again to do top align. Works fine. I think there is margin logic that is wrong for center alignment.

[2012-03-21 01:32] jhpedemonte commented on #1957
-> M6/low

Reason being that running Review & Commenting in single-user mode kinda defeats the purpose.

@JonFerraiolo

[2012-03-21 01:35] jhpedemonte commented on #1959
Reassigning to @aerwin.  You just committed a patch dealing with the review CSS, so this might be something similar.

[2012-03-21 01:39] jhpedemonte commented on #1913
The reason GitHub didn't auto-close this bug is because "Fixes" and "#1913" were split across lines in the comment.  Best to put bug references on their own line in the comment, in order to avoid this.

[2012-03-21 03:31] jhpedemonte commented on #1056
-> M6

[2012-03-21 03:31] jhpedemonte commented on #1892
-> M6

[2012-03-21 14:44] childsb commented on #1720
I'm marking this resolved.  If we see again on m5 production lets reopen.

[2012-03-21 14:44] billreed63 commented on #1943
I have not been able to reproduce this bug, but I have noticed the following messages in the servers console anytime I open or close a HTML file editor:

[code]

[2012-03-21 14:46] waynevicknair commented on #1960
this is a duplicate of issue #1955. closing, but will reopen if not fixed by 1955 changes.

[2012-03-21 14:46] #1960 closed, assigned to waynevicknair

[2012-03-21 14:59] peller commented on #1720
The issue isn't so much whether the condition persists as the error handling that should surface such exceptions

[2012-03-21 15:17] #1941 closed, assigned to peller

[2012-03-21 15:21] waynevicknair commented on #1958
pushed to M6

[2012-03-21 16:03] jhpedemonte commented on #1898
Reassign to @aerwin.  Assess risk for M5, push to M6 if too risky.

[2012-03-21 16:13] jhpedemonte commented on #1943
Closing.  I cannot recreate now.

[2012-03-21 16:13] #1943 closed, assigned to billreed63

[2012-03-21 16:34] waynevicknair commented on #1955
fixed in commit e515e5998b154769ee8e7ac9c489e900c8005311

[2012-03-21 16:34] #1955 closed, assigned to waynevicknair

[2012-03-21 16:36] aerwin commented on #1959
Fixed with e9643ec92db41c9e5e243368186256e65c8a1bae .

[2012-03-21 16:36] #1959 closed, assigned to aerwin

[2012-03-21 17:03] peller commented on #1951
can now remove handleError also in favor of the private `sessionTimedOut` function in Workbench with nls resources.

[2012-03-21 17:04] peller commented on #1954
I got to handleIoError after stopping my server, at least on chrome.  status was just undefined.  The message said there was an exception 101.  Perhaps this behavior is not consistent across browsers.  @billreed63, which browser did you observe this on?

[2012-03-21 17:33] peller opened #1962 "Workbench._updateWorkbenchState issues"
Hopefully this is an easy one...

Can we make this xhr async?  Are there any implicit dependencies on its completion?

Also, should we use handleAs:"json" instead?  JSON.stringify instead of dojo.toJson?

[2012-03-21 17:35] peller commented on #1951
@childsb, wanted your review of this.  Feel free to reassign to me if you approve.

[2012-03-21 17:53] billreed63 commented on #1954
Chrome/Win

[2012-03-21 18:48] childsb commented on #1923
I fixed the relativity URL calculation in background image (would have broken for images in sub directories).  However, the image preview part was a bit too complicated for this milestone.  It would require unspinning the URL relativity.

So for now, if the background is an image its not shown in the preview (and no error in console).

[2012-03-21 18:52] waynevicknair commented on #953
ok. i believe this is working as required.

[2012-03-21 18:52] #953 closed, assigned to waynevicknair

[2012-03-21 19:18] aerwin commented on #1898
@JonFerraiolo @peller @childsb @jhpedemonte @waynevicknair

Looks like the behavior has changed sometime in the last 12 days, and when I come in as the reviewer the toolbar with the 3 buttons is not shown. In addition, all of the menu options (when right-clicking on the resources in the Reviews tab) are disabled. So, @JonFerraiolo , unless you disagree I think that part of the defect is no longer

[2012-03-21 19:31] jhpedemonte commented on #1898
Can you give more details here?  Are you saying that we don't have the proper APIs to query both self-created reviews and subscribed reviews?  Or that those are not both added to the tree?

Assuming others don't have any insight that might help this bug for M5, I'm fine with your suggestions about #360.

[2012-03-21 19:42] aerwin commented on #1898
There are both not added to the tree... E.g., If you log-in you _only_ see reviews you've created _unless_ you log-in with the link in the e-mail in which case you _only_ see reviews that you've been invited to. This is just how it's been coded up, and I think the point of #360 would be to revisit that design point.

[2012-03-21 19:52] aerwin commented on #360
@jhpedemonte @JonFerraiolo

Per #1898, this one needs to get put into M6 as a high priority feature request. Previously, it has no priority or milestone specified.

[2012-03-21 20:00] jhpedemonte opened #1963 "New comment button disabled"
Created a new review from **Sample1.html** (straight up, no changes).  Later, opened review and tried to add a comment, but the **Add Comment** icon is disabled or inactive.

@aerwin saw the same thing.  He was copied on review.

@JonFerraiolo

[2012-03-21 20:01] waynevicknair commented on #1920
commit 4724bf4567e2756eb24ac0c13b683924d85911c3 contains java changes

corresponding PHP changes in commit 9f8b1a366dd2f4722dadbe633179f22d716f685f to INTERNAL repository

[2012-03-21 20:05] jhpedemonte opened #1964 "New Review dialog visual artifacts"
I noticed a few unwanted visual artifacts/inconsistencies in the **New Review** dialog:
1. There's a small grayish "T" that appears underneath _"1. General Information"_ and _"2. Select Review Files"_ as you go through the wizard.
2. On the first page, the "No files selected" warning should be a single line.

Both of these are **_regressions**_ from M4.

[2012-03-21 20:07] aerwin commented on #360
Also, once both types of reviews appear in the tree, @JonFerraiolo had some styling suggestions (per #1898):

[2012-03-21 20:22] jhpedemonte commented on #1920
Are there any security implications here?  For example, where does the plugin name ("joomla" in this case) come from?  If it's just a URL param, is there the possibility of someone creating a malicious request to have the app generate workspaces for unregistered users?

[2012-03-21 20:30] jhpedemonte commented on #1963
Interesting:  **Add Comment** icon is only disabled if I **add an end date**.  If I skip that part, then the icon is properly enabled and I can add comments.

[2012-03-21 20:53] jhpedemonte opened #1965 "Cannot select text on "Invitation not sent" dialog"
Testing on Firefox.

I cannot select the text of the **Invitation not sent** dialog.  Users see this dialog when either (1) the SMTP server hasn't been configured or (2) the SMTP server is unreachable or times out.

@JonFerraiolo @waynevicknair

@peller @billreed63, can either of you guys take a look?  Assign the bug to yourself if you are investigating.

[2012-03-21 20:53] doronrosenberg opened #1966 "ItemFileReadStoreHelper should handle relative urls"
Offshoot from ##119 - right now Datagrid has to manually create absolute urls from relative urls, but the ItemFileReadStoreHelper should be doing this for us automatically.  Removes code duplication and solves some headaches of having to store relative urls in the source code but then having to translate them to absolute when creating datastores

[2012-03-21 21:17] childsb commented on #1494
@waynevicknair re-opening per discussion with Wayne-

"Clicking a review link while already logged in to maqetta wont bring up the Review Editor."

There seems to be a timing error that causes this sporadically.  Continuing investigation..

[2012-03-21 21:49] waynevicknair commented on #1963
update: the date is getting serialized incorrectly in the 'versions.xml' file. specifically, the year is set to 0012 versus 2012. if i hand edit the date in the XML file the review shows as open and the button is enabled. i'm hunting down where the versions get serialized now.

[2012-03-21 22:09] JonFerraiolo opened #1967 "Support PHP, JSP and other server-side languages"
Dartas :
Greetings fellow Greetings fellow Maqetters,

Is there any known issue regarding PHP usage in maqetta editing?

I am currently making a POC testing and when I added some PHP code to
my index.html file with maqetta off
(using notepad++) and then opened maqetta all PHP parts of the code
(all <?php ... ?>) were gone. Cleaned from
the html file.

Any idea?

---

We have not tested that scenar

[2012-03-21 22:49] JonFerraiolo opened #1968 "(FF) Arrow keys on Button inside of DIV with border causes diagonal movement instead of vertical or horizontal"
(Works fine on Chrome)
- New HTML File - hi-fi sketch
- Drag out a DIV
- Set border to 1px solid black
- Drop a Button inside of DIV
- Hit up arrow

Result=> Button shift up and to left by 1px.

[2012-03-22 00:41] #1968 closed, assigned to JonFerraiolo

[2012-03-22 00:55] doronrosenberg opened #1969 "Adding comment to review timestamp says "2 hours ago" for newly added comments"
Add a comment to review and the timestamp says "2 hours ago".  Firefox/Chrome on windows

[2012-03-22 01:46] peller commented on #1969
are times being stored in GMT?

[2012-03-22 01:48] peller commented on #1965
why is this M5?

[2012-03-22 02:04] peller commented on #1965
No idea why this regressed.  There are -moz specific tags to make the dialog contents only selectable.  We can easily disable this (and make everything in the dialog, including the title) selectable by removing the -moz-user-select rule in .contentNoSelect in Comment.css

[2012-03-22 02:55] aerwin commented on #1964
Fixed with 6b4220667782172bbb705c98994ef89652194b12 .

[2012-03-22 02:55] #1964 closed, assigned to aerwin

[2012-03-22 02:57] aerwin commented on #1898
Closing per comments above.

[2012-03-22 02:57] #1898 closed, assigned to aerwin

[2012-03-22 03:27] jhpedemonte commented on #1969
-> M6/Med

[2012-03-22 03:30] #1965 closed, assigned to nobody

[2012-03-22 03:39] JonFerraiolo commented on #1965
I researched the old code (when review was off on its own) and the error dialog seems to have had -moz-user-select:none forever. It's certainly there in M4. I figure the contentNoSelect classname on that dialog was a bit of over-reaching by the folks who wrote the original code, so I took it out. Hard to see how removing this class would cause problems.

[2012-03-22 03:43] peller commented on #1965
It was intended to make the dialog title non-selectable, but the contents selectable.  Makes sense, and seems to work on webkit.  Not sure whether it ever worked on FF.

[2012-03-22 03:52] aerwin commented on #1631
Pushing to M6...

I did look at the just a little bit, and I'm not sure how easy it will be to more gracefully deal with two of the major ways we could fail:
- Poorly formatted data

I see if I enter a URL that doesn't return JSON (like http://www.cnn.com) that the following shows up in the JavaScript console:

[code]

But, there doesn't appear to be opportunity to catch and respond to this as nei

[2012-03-22 04:01] jhpedemonte commented on #1796
-> M6

[2012-03-22 04:05] JonFerraiolo commented on #1965
My guess is that WebKit allows inner elements with *-user-select:text to override *-user-select:none that is placed on ancestor elements, but Mozilla implements *-user-select:none such that it makes element and all descendants unselectable no matter what *-user-select values are on descendant elements.

[2012-03-22 12:43] JonFerraiolo commented on #1494
This morning using latest build on lab9:50020, I created a review invitation to myself for Sample1.html.rev. Clicking on the link in the review invitation for Mac/Chrome brought up the review editor, but for FF the review editor for Sample1.html.rev does not come up automatically.

[2012-03-22 13:28] billreed63 opened #1970 "Can not Reopening xcross domain data grid in page editor"
When I reopen a data grid the jsonp is cross domain, I get the following message in console

XMLHttpRequest cannot load http://maqettaservice.appspot.com/sampleservice. Origin http://lab9.austin.ibm.com:50010 is not allowed by Access-Control-Allow-Origin.
3event.layerX and event.layerY are broken and deprecated in WebKit. They will be removed from the engine in the near future.

[2012-03-22 13:39] billreed63 opened #1971 "Changing style on widget in split screen selects wrong widget"
1) Create new html file
2) DnD div
3) DnD textbox and drop inside div
4) DnD button inside div
5) split screen vertically
6) select div in visual designer
7) style palette change layout -> width 200px

Result the div style is change to 200px, but then the selects changes to the textbox

[code]

[2012-03-22 13:40] peller commented on #1971
I suggest M6.

[2012-03-22 13:48] billreed63 opened #1972 "Error message in console when changing id in split screen"
With the following html

[code]

1) Split screen vertical
2) select the button
3) Under Common properties, type in values for id, class and title.

Notice the following in the console:

[code]

[2012-03-22 14:41] #1970 closed, assigned to billreed63

[2012-03-22 14:57] jhpedemonte commented on #1971
-> M6

[2012-03-22 14:59] jhpedemonte commented on #1972
Outline auto-expansion related?

[2012-03-22 14:59] doronrosenberg commented on #1969
I should be clear, I am in PST.

[2012-03-22 15:25] peller commented on #1972
yes, but probably because of a stale handle due to the property change -- property change constructs an entirely new widget.

-> M6

[2012-03-22 15:29] peller commented on #1932
cannot reproduce

[2012-03-22 15:29] #1932 closed, assigned to peller

[2012-03-22 15:29] peller commented on #1931
cannot reproduce

[2012-03-22 15:29] #1931 closed, assigned to peller

[2012-03-22 15:42] childsb commented on #1494
jon,

can you clear your browser cache/cookies and try again?  this is working for me on fire fox.

the big issue was that the cookie set on the server had a path of /, and files loaded under /maqetta/ couldn't erase the cookie. i suspect you have the old cookie and FF is having problems updating it.

[2012-03-22 15:51] aerwin opened #1973 "E-mail link for review fails"
@JonFerraiolo @jhpedemonte @waynevicknair

Got this e-mail from @JonFerraiolo :

Here's what I had sent to Jon (had to send manually because got the dialog that e-mall wasn't configured correctly):

[2012-03-22 16:02] aerwin commented on #1973
@jhpedemonte just sent me a link to a different review that worked for me... not sure if it matters but the review that failed for @JonFerraiolo was named _tony's review_ (note the apostrophe) and had 3 files.

[2012-03-22 16:18] aerwin opened #1974 "Annotations not showing on review comments unless edit them"
@jhpedemonte @JonFerraiolo @waynevicknair

I went into a review from @jhpedemonte . I added a comment, and then I replied to my comment. The reply included an arrow annotation, but I can only see the arrow if I edit the comment. That is, I don't see it by just selected.

In addition, @jhpedemonte reports the following going to my review:

[2012-03-22 16:24] jhpedemonte opened #1975 "Cannot see own reviews"
Testing on lab9:50020.

(using FF)
- Created a new review, with @aerwin and @JonFerraiolo as reviewers.  **Publish failed**, so copied text and manually sent an email to them.
- Tony had created his own review, and I opened his link in the same browser (but different tab).  I was able to see his review and add comments with annotation.
- Closed that tab and refreshed my original tab.  **Only showe

[2012-03-22 16:33] jhpedemonte opened #1976 "Exceptions trying to load review"
@childsb saw a really bad bug while trying to open a review that I had created.  Here is the relevant bits from the server log:

[code]

[2012-03-22 16:34] childsb commented on #1976
After following the review link in the email, initially the review didn't show up.. when i clicked it again, the review editor opened up with this:

java.lang.IllegalThreadStateException
    at java.lang.Thread.start(Thread.java:612)
    at maqetta.core.server.DavinciReviewServlet.service(Unknown Source)
    at javax.servlet.http.HttpServlet.service(HttpServlet.java:820)
    at org.eclipse.equinox

[2012-03-22 16:41] jhpedemonte commented on #1976
Argh!  Now I see this same issue when trying to load @aerwin's review, which had previously worked fine for me.

[2012-03-22 16:41] aerwin opened #1977 "Internal server error related to reviews"
@JonFerraiolo @jhpedemonte @waynevicknair @childsb

Not sure to what extent this is related to the other review-related tickets opened by myself and Javier this morning, but I cleared my cache and cookies (Brad suggested to Javier to clear cookies) and then when I went to host/50020/maqetta and logged in, I see the following in a file1.html.rev tab (from a review I had created):

[code]

I then cl

[2012-03-22 16:43] aerwin commented on #1977
Looks like @jhpedemonte beat me to it with #1976.

[2012-03-22 16:43] #1977 closed, assigned to nobody

[2012-03-22 16:45] jhpedemonte commented on #1974
-> @waynevicknair

[2012-03-22 17:12] JonFerraiolo commented on #360
Javier and I have concluded that we need to fix this for M5. R/C won't be usable without this.

[2012-03-22 17:15] jhpedemonte commented on #1494
Is this a migration issue?

[2012-03-22 17:23] peller commented on #1963
see also #1969

[2012-03-22 17:27] JonFerraiolo commented on #1494
Can't be a migration issue. lab9:50020 gets cleared every day. No legacy content around, except Sample1.html', but R/C logic treats HTML files as black boxes.

[2012-03-22 17:39] jhpedemonte commented on #1494
I was wondering more about old cookies that are laying around.  Brad has made a few cookie changes -- will those changes affect users coming from M4?

[2012-03-22 18:03] childsb commented on #1494
No this shouldn't be a migration issue. These cookies were introduced in m5.

[2012-03-22 18:38] waynevicknair commented on #1974
i was seeing this phenomenon until yesterday morning. i cannot recreate it running eclipse. i'll go to lab9 and see if i can debug from there.

[2012-03-22 18:40] waynevicknair commented on #1976
yikes! ConcurrentModificationException is not good. i haven't seen this. was this produced by clicking on a review link? can it be consistently recreated?

[2012-03-22 18:56] jhpedemonte commented on #1976
At the moment, this happens with any review I go to on lab9:50020, even ones that previously displayed fine.

Brad asked to restart the server, but I want to see if there's anything we should check first, now that it's in a funky state.

[2012-03-22 19:17] waynevicknair commented on #360
reviewers get a 'comments.xml' that contains all their comments from all reviews in the '.reviews/snapshot' directory. the comment element does **not** contain a back-reference to the version (review) it is associated with. the association is made by a forward reference to the comment ID from the version object.

[2012-03-22 19:17] JonFerraiolo commented on #1976
-> @childsb

[2012-03-22 19:18] JonFerraiolo commented on #1975
-> @aerwin

[2012-03-22 19:18] JonFerraiolo commented on #1974
-> @jonferraiolo

[2012-03-22 19:19] JonFerraiolo commented on #1973
-> @aerwin

[2012-03-22 19:19] JonFerraiolo commented on #360
-> @aerwin

[2012-03-22 19:27] peller commented on #1494
What is the cookie?  Can you make sure it's listed in the [cookie list](https://github.com/maqetta/maqetta/wiki/Cookie-list)?  and can we make it start with "maq"?

[2012-03-22 21:52] JonFerraiolo commented on #1494
FYI @peller

I believe I found the problem. It's an intermittent timing bug with logic in pagedesigner.html calling `Workbench._createEditor` to open a review editor. Sometimes other async processes aren't yet ready, so sometimes the following call:

[code]

returns undefined because `showPerspective()` (which creates the TabContainer for the editors) hasn't been called yet.

One way to fix this i

[2012-03-22 22:31] JonFerraiolo commented on #1494
@peller noticed this and wants to take this, so reassigning to him. He thinks he can figure out a relatively clean and safe way to use a deferred.

[2012-03-22 22:37] JonFerraiolo commented on #1494
Here is how I got this bug to reproduce itself most of the time:
- No breakpoints. Instead, to debug I added a bunch of console.log statements to figure out what was going on.
- Launched Maqetta from Eclipse with no editors, browser cached cleared, using Mac/FF, and launched using the URL from a review invitation that I copied/pasted into the review bar.
  You should get a console error message ab

[2012-03-23 15:40] billreed63 commented on #1793
doc is done

[2012-03-23 15:40] #1793 closed, assigned to billreed63

[2012-03-23 17:02] jhpedemonte opened #1978 "Console errors when viewing comments w/ annotations"
@billreed63 added some comments to a review I created on lab9:50020.  The comments had annotations.

When loading the review and also when clicking on each comment, I got a lot of errors in the console:

[code]

The annotations seem to display fine.  When clicking on an individual comment, the annotations that don't belong to that comment are "disabled".  So all that is working as expected.

Given

[2012-03-23 17:09] doronrosenberg opened #1979 "Review link - doesn't show .rev file, instead login screen shows"
![Login Issue](http://i.imgur.com/ZruDz.png)

[2012-03-23 17:10] jhpedemonte commented on #1979
cc @waynevicknair @JonFerraiolo

[2012-03-23 17:11] doronrosenberg commented on #1979
Note - I can't reproduce this anymore, happened the first time I clicked on the link (so first time I visited that specific installation)

[2012-03-23 17:21] aerwin commented on #1979
This could be a dup of #1973... though maybe a little different symptom than #1973 after all of the refactoring we're in hte middle of.

[2012-03-23 17:22] doronrosenberg commented on #1969
Still seeing at http://lab9.austin.ibm.com:50020/maqetta/

[2012-03-23 17:23] jhpedemonte commented on #360
Testing this now.

I created a review -- saw that it was bolded (as belonging to me) and I was able to add comments and so was Bill.

@billreed63  created a review and invited me.  Rather than opening the link in the email, I just **refreshed** my instance.  This causes Bill's review to appear alongside mine.  His review was displayed in italics, which is good.

However, when I opened his review,

[2012-03-23 17:24] jhpedemonte commented on #1979
See [this comment](https://github.com/maqetta/maqetta/issues/360#issuecomment-4663836) from #360 for some more info.

[2012-03-23 17:32] doronrosenberg commented on #1978
Firefox only it seems, not seeing in chrome.

error is in _ShapeCommon.js (davinci/review/drawing/shapes/_ShapeCommon)

[2012-03-23 17:37] doronrosenberg opened #1980 "Invite someone to a review, and you get an email inviting yourself as well."
Invite someone to a review, and you get an email inviting yourself as well.

[2012-03-23 18:14] JonFerraiolo commented on #1980
This is actually how we decided it should work - when you create a review, you auto-invite yourself. This is probably not the smoothest and best UI approach. Maybe we should send a different email to the designer that says something like "you sent out a review invitation to these people and here is email invitation that was sent to those people:..."

@jmockler

[2012-03-23 18:15] JonFerraiolo commented on #1978
Reassigning to me. This is like the same code paths as #1974

[2012-03-23 18:16] doronrosenberg commented on #1980
It definitely confused me, I thought maybe I had mistakenly used the wrong email address.

[2012-03-23 18:34] JonFerraiolo commented on #1978
@jhpedemonte - I'm going to push this to M6 given that "annotations seem to display fine". Attempting to fix this code in the proper introduces risk (undoubtedly requiring the addition of a deferred).

Here is the offending code, which should be self-explanatory. In case it isn't self-explanatory, occasionally the `style()` method is called before the given shapeNode has been properly added to the

[2012-03-23 19:24] JonFerraiolo opened #1981 "Review/commenting: exception sometimes in Cascade.js"
In Mac/FF when opening a review editor, I saw this in the console:

[code]

and looking at the stack trace, the message is coming from Cascade.js as part of editorSelected event handling. In some cases with review editors, this.context doesn't have a value at the time of the editorSelected event. Note that the Properties palette should be null when a review editor is open. I have a fix that I beli

[2012-03-23 20:05] #1981 closed, assigned to JonFerraiolo

[2012-03-23 20:57] jhpedemonte opened #1982 "Annotation color is black in review for Android device"
@billreed63 sent me a review for an Android page.  Consisted of a View (black background) and a Heading (grey background).  I tried to add an annotation, but it was colored black, making it impossible to see:

![android](http://i.imgur.com/Y3B9M.png)

@JonFerraiolo @aerwin

[2012-03-23 20:58] JonFerraiolo commented on #1982
reassigned to me. I'm hoping that @aerwin's next fixes will magically fix this, if not, I'll debug and fix.

[2012-03-23 22:57] #1494 closed, assigned to peller

[2012-03-23 22:57] #1963 closed, assigned to peller

[2012-03-23 23:51] peller commented on #620
@waynevicknair has taken care of migration task.  Moving remainder to M6

[2012-03-24 00:32] peller commented on #1969
yeah, "created" has its own logic, which is suspect.  It's sending the date in seconds since the epoch instead of iso format, but that shouldn't be a problem. Some other things are suspicious.  In particular, `org.davinci.server.review.Utils.getCurrentDateInGmt0` Why is it necessary to subtract an offset?  Pushing back to M6.

[2012-03-24 01:13] JonFerraiolo commented on #1231
Implementation approach:

Focus.js:
- onMouseDown: if a move operation, then call routine to check for copy, call routine to update cursor.
- checkforcopy routine: look to see alt/opt key is down. If yes, set a property on this.
- updatecursor routine: if add property is set, add custom cursor with a +
- onMouseMove: call routine to check for copy, call routine to update cursor.
- onMouseUp: call

[2012-03-24 03:44] JonFerraiolo commented on #1220
For tablets, need to allow touchdown, move, touchup for moving objects. If touchdown and hold just a bit, then select, hold longer and popup menu appears. Details:
- mousedown/touchdown - save position, turn on timer1
- mousemove - remove timer1. if mousedown and widget under mouse, then select and create a mover; else selection rectangle
- mouseup - remove timer1, if mover or resize, then do oper

[2012-03-24 15:06] JonFerraiolo commented on #1982
Fixed by 4524033d55

[2012-03-24 15:06] #1982 closed, assigned to JonFerraiolo

[2012-03-24 15:06] JonFerraiolo commented on #1979
Fixed by 4524033d55

[2012-03-24 15:07] JonFerraiolo commented on #1975
Fixed by 4524033d55

[2012-03-24 15:07] #1975 closed, assigned to aerwin

[2012-03-24 15:07] JonFerraiolo commented on #1974
Fixed by 4524033d55

[2012-03-24 15:07] #1974 closed, assigned to JonFerraiolo

[2012-03-24 15:08] JonFerraiolo commented on #360
Logging as fixed by 4524033d55 . If we see detailed bugs around this, let's log new bugs.

[2012-03-24 15:08] #360 closed, assigned to aerwin

[2012-03-24 15:10] JonFerraiolo commented on #1973
@aerwin - I didn't close this one, but I suspect this one is fixed too by 4524033d55 . Please close if you believe it is fixed.

[2012-03-24 15:12] JonFerraiolo commented on #1519
Moving temporarily back to M5. Seems like a big usability issue. Reassigning to me to assess difficulty and risk with attempting to do something simple, such as allowing BS/DEL keys to delete currently selected annotation.

@aerwin

[2012-03-24 15:16] JonFerraiolo opened #1983 "Filtering not working for mobile views"
@aerwin

With latest code, most everything in review/commenting seems to be working, but one regression versus last week is that filtering logic for annotations isn't working now for mobile scenes.
- New HTML FIle - iphone
- Add 2 View widgets, and put a Heading into each View
- Save
- New Review for that file, invite only yourself
- Open that review HTML file from Reviews palette
- Add an annotat

[2012-03-24 15:17] aerwin commented on #1973
@JonFerraiolo Yes, I believe this is fixed.

[2012-03-24 15:17] #1973 closed, assigned to aerwin

[2012-03-24 15:29] JonFerraiolo commented on #1983
Oh, I see what's wrong - the mobile view filtering logic has been commented out in davinci/review/editor/Context.js!

@aerwin - were you going to restore that logic?

[2012-03-24 15:33] JonFerraiolo commented on #1983
I tried out restoring the check for mobile scenes, and things seemed to work for me. But I don't want to check in without checking with @aerwin.

So, reassigning to @aerwin.

[2012-03-24 15:41] JonFerraiolo commented on #1983
Reassigning back to me after chatting with @aerwin

[2012-03-24 16:11] JonFerraiolo commented on #1983
Note that @waynevicknair had added logic to filter based on mobile scenes, but the logic had been commenting out, probably because the mobile scene filter was breaking the app state filtering. I figured out how to get filtering working so that it works for both states and Views.

[2012-03-24 16:59] JonFerraiolo commented on #1519
Above commit made it so that either DEL or BS key can be used to delete an annotation. That way, Mac guys are able to delete annotations, too.

There are still keyboard focus problems. The DEL and BS keys only work sometimes because keyboard focus usually is off in the Comments palette instead of on the canvas. You sometimes have to click on the annotation a second time to put keyboard focus onto

[2012-03-24 17:00] JonFerraiolo commented on #1519
Pushed back to M6

[2012-03-24 17:05] JonFerraiolo commented on #1983
Reopening. I'm seeing partially visible annotations from other scenes, and these partially visible annotations are selectable.

[2012-03-24 17:41] #1983 closed, assigned to JonFerraiolo

[2012-03-24 19:48] aerwin opened #1984 "Revisit tree styling/organization in the Review tab"
For #360 at the end of M5, changes were made to put reviews the user has been invited to in the same tree as the reviews the user has created. The initial simplistic approach has been to apply different styles to reviews created by the user (bold) and reviews created by others (italic).

This ticket would be to think the following and implement necessary changes?
- What styling should be used?
- D

[2012-03-24 19:54] aerwin opened #1985 "Move review-specific functions from Runtime.js"
There were several "static" functions in Runtime related to reviews that were removed as part of the work for #360. Two remain that should probably be moved at some point:
- getColor
- publish

[2012-03-24 20:07] aerwin opened #1986 "Add more robust back-end management of reviews user has been invited to"
As part of the work for #360, code was added to the server side to maintain individual files for each user representing an index of reviews the user has been invited to. As currently coded, the index files do not get updated in the following cases:
- Review is deleted by designer
- Reviewer is uninvited from a review by the designer
- A user profile for a reviewer is deleted

In the end, this prob

[2012-03-24 20:34] JonFerraiolo opened #1987 "Multi-device preview"
Right now the previewer only shows what happens for a single device. Users would like to have multiple device previews showing at once.

The preview/ logic was actually designed with this in mind. We just need a MultiPreview class which creates a screen with multiple SinglePreview objects on the page.

[2012-03-24 20:39] JonFerraiolo opened #1988 "Silhouettes should be available as clip art"
@jmockler

Sometimes users want to sketch using a mobile silhouette as the page background.

It shouldn't be very difficult to package up the silhouettes as clipart widgets.

[2012-03-24 21:00] JonFerraiolo opened #1989 "Support ScreenSizeAware for Calendar opening"
dojo 1.7 has intelligence where clicking on a date input widget will look at screen size to decide whether to pop up the calendar as either a slide-in from bottom (for phones) or tooltipdialog (for tablets).

We need to make sure that this screen size adaption will take place on UIs created in Maqetta.

[2012-03-24 21:04] JonFerraiolo opened #1990 "Authoring help and/or video for mobile fixed headers and footers"
I still get confused about how to get a TabBar to stick to the bottom using fixed='bottom'. There must be particular rules for that. We should do our best to help users figure this out because it is an extremely common user scenario. Best if we can provide something on the authoring side to help users do the right thing, but next best is to create a video about this topic.

[2012-03-24 21:34] JonFerraiolo opened #1991 "Dojo charting support"

[2012-03-24 21:36] peller commented on #1987
can we achieve this without a MultiPreview class?  Perhaps just a template or function which instantiates the multiple Preview instances?

[2012-03-24 21:36] JonFerraiolo opened #1992 "Gauges support, including mobile support"
@aerwin

We are very close to having some of the Dojo gauge widgets working. We need to get them fully operational, and for both desktop UIs and mobile UIs. (The gauges supposedly have been tweaked so they work well with Dojo Mobile 1.7)

---

**updated 2012-06-27**: Gauges have been [updated as part of Dojo 1.8](http://dojotoolkit.org/blog/new-visualization-dojo-1-8).

[2012-03-24 21:38] JonFerraiolo opened #1993 "Geo charting support"
Dojo 1.7 includes geo charting support. We should make sure these geo charting widgets can be used with Maqetta.

[2012-03-24 21:39] JonFerraiolo opened #1994 "OpenLayers Maps integration"
Dojo 17 includes support for OpenLayers Maps.

[2012-03-24 23:38] JonFerraiolo commented on #1220
Reopening. Oops, only meant to add comment, not to close.

[2012-03-25 00:27] JonFerraiolo commented on #1220
Tried an experiment (in private VE1 branch) with creating an extra editFocusInterior DIV within the maqFocus block of DIVs, and then set dragging logic in Focus.js to drag the widget if the mousedown happens on either the frame DIVs or the editFocusInterior DIV. It actually allowed widgets to be dragged around by first click-selecting a widget, and then dragging it around.

Main problem have notic

[2012-03-25 16:51] aerwin opened #1995 "Mobile reviews: can't start annotation in white space"
@JonFerraiolo

Opening for M6 at Jon's request... I was trying to add an annotation to a mobile review and thought the function was broken. I later realized it works if I draw the annotation over the mobile device preview, but not if I start in white space. I wanted to draw an arrow that pointed at the heading.and was starting in white space.

[2012-03-25 17:01] JonFerraiolo opened #1996 "Can drag ContentPane out of TabContainer"
- New HTML File - hi-fi sketch
- Add a TabContainer
- Select one of the ContentPane's
- Drag the ContentPane outside of the TabContainer

Result=> ContentPane becomes detached. Technically, this is OK, but we actually have some bulletproofing logic to prevent this sort of a thing from happening via various parent.isLayout() checks. 99% of the time the user is trying to do something else besides de

[2012-03-25 17:43] JonFerraiolo commented on #1995
@jmockler

This is related to a common request to draw annotations and comments off to the side of the UI. We have a limitation now where annotations can only appear on document itself, not on the silhouette and not white space surrounding the silhouette. I suspect fixing this involves moving annotations outside of the iframe which holds the running document.

[2012-03-25 17:53] JonFerraiolo commented on #1220
After thinking this through, I'm now pursuing Plan B, which is to move the Mover from Focus.js to SelectTools.js. (Branch VE2) This approach looks promising. I am able to drag/move from interior of both HTML, Dijit and shape widgets. Shape widgets do the right thing: can only drag from interior or border, not in white space around the widget. However, still some things to work through. Here are a

[2012-03-25 21:20] JonFerraiolo commented on #1979
Reopening -  still not working on Joomla. @waynevicknair - you want to take this? If not, could you provide guidance for how to fix and test?

[2012-03-25 22:38] aerwin commented on #1979
@JonFerraiolo Per e-mail discussion yesterday, should this be re-routed to @waynevicknair or @childsb who know about the macwayne Joomla environment?

[2012-03-26 00:22] JonFerraiolo commented on #1220
I have an initial implementation for this issue in the VE2 branch. Works in lots of cases, but still need to do a careful code review and lots of testing in different circumstances. Still need to remove Mover code from Focus.js and change Focus.js so that dragging on border results in a resize rather than a move (this is what latest UI proposals specify).

Also, along the way, might as well update

[2012-03-26 13:13] billreed63 commented on #1987
We need each preview in it's own iframe, to accommodate mobile theme's. Each theme dynamically add's the CSS files at runtime. For preview we pick the theme of the URL, so we need to set the theme URL on each iframe or change the way we get the theme for preview

[2012-03-26 14:16] peller opened #1997 "Upgrade workbench and dojo plugin to 1.8"
see also #1584

[2012-03-26 14:24] waynevicknair commented on #1979
i'll look at this one @aerwin @JonFerraiolo @jhpedemonte ...

[2012-03-26 16:19] peller opened #1998 "try dynatrace on FF"

[2012-03-26 16:51] peller opened #1999 "Enter wrong password, still get 'launch maqetta' button"
I think this is specific to Joomla installs

Enter "peller" for user and "password" for password.  There will be a message in blue about the login failure, but you still get a "Launch Maqetta" button

[2012-03-26 16:54] jhpedemonte commented on #1999
And clicking on **Launch Maqetta** button just sends you back to front page.

@JonFerraiolo

[2012-03-26 16:58] peller opened #2000 "Joomla: Login redirect sequence going to home page"
@JonFerraiolo @childsb

someone invites you to a review, and you click on the link, it takes you right to the maqetta.org page.  Same for server timeouts.  You have to click the link to log in yourself.  You should be redirected to the login page.

[2012-03-26 17:31] doronrosenberg opened #2001 "Uploading a exported file into a different directory doesn't work"
Created a file in the root and tried to upload it to a subdir and got this error:

"NetworkError: 404 Not Found - http://macwayne2.austin.ibm.com:55556/maqetta/user/doronr@us.ibm.com/ws/workspace/project1/122/lib/dojo/dojo/dojo.js"
dojo.js
require is not defined
/maqetta/()

[2012-03-26 17:37] aerwin opened #2002 "AUDIO and IMG tags unusable if click ok on smart input dialog without choosing file"
1. Drag AUDIO or IMG tag onto canvas
2. Click ok on smart input without choosing a src file
3. Note AUDIO or IMG element shrinks to size 0 and double-clicking won't bring up smart input

The AUDIO or IMG element can be selected in the outline view, but no way to get smart input to come up.

This does not happen with EMBED or VIDEO tags because they maintain a size even if no src is specified.

[2012-03-26 17:57] peller commented on #2002
didn't we use min-width/height CSS for some other widgets to work around this problem?

[2012-03-26 17:59] aerwin opened #2003 "No "Remove Value" item in background-image pulldown"
Following the /test/testplan/PropertiesPalette/basic5.html instructions, Step 3 under "background-image on a DIV" say to select "Remove value":

However, there is no such option. Selecting the empty entry results in removing the value.

I'm not sure if this is actually a bug or if the test case just needs to be tweaked,

[2012-03-26 18:06] JonFerraiolo commented on #2001
Assigned to @waynevicknair as the default migration meister, but first the rest of us can try to figure out what's going on here.

When I tried this, it worked for me. I pasted the file's content into a text editor, saved on my local system, uploaded that file into my project's root folder (as a sibling to Sample1.html) on macwayne2, opened the file, and everything was fine.

What's suspicious is

[2012-03-26 18:10] doronrosenberg commented on #2001
122 is the directory I created on macwayne2 where I uploaded the file

[2012-03-26 18:12] doronrosenberg commented on #2001
indeed, uploading into root works fine while uploading into a directory doesn't.

[2012-03-26 18:16] JonFerraiolo opened #2004 "Custom themes not downloaded with Download selected"
@billreed63

When I download entire workspace, my custom theme (claroJon) is included in the ZIP, but if I download selected files, my custom theme is not included.

I guess this is arguably the correct behavior - downloaded selected gives you all selected files, plus anything in your workspace that is built-in (e..g, dojo library and themes). However, it surprised me that I needed to explicitly s

[2012-03-26 18:31] JonFerraiolo opened #2005 "Do we update 'packages:' when relocating Dojo?"
@childsb

I haven't tested this, but just wondering if either of @jhpedemonte or @childsb know offhand whether moving Dojo (via ModifyLibraries or download buttons) will properly update the relative URLs in the packages: list that is added to the SCRIPT tag whenever a user file includes shapes or clipart.

[2012-03-26 18:35] jhpedemonte commented on #2001
Was this file originally created in a subdir on maqetta.org?

If not, I don't think this is supported and **is not** a migration issue (since the files will stay in the same folders between M4 and M5).

[2012-03-26 18:37] JonFerraiolo commented on #2001
I don't think there is anything that is feasible for us to do (except document limitations) for the case where users upload HTML files and the HTML files include references to CSS, JS, images, etc, which are in different locations on the new Maqetta workspace than the were on the old Maqetta workspace.

Note that we do munge user HTML files whenever the user moves libraries or does a SaveAs operat

[2012-03-26 18:38] JonFerraiolo commented on #2001
Removed M5 milestone.

[2012-03-26 18:44] jhpedemonte commented on #1920
Reverted by ab8f2d659b5d4ef4eb0c0df8d12a4355b7577ee8 (github repo) and 8ac90534767541ce6848ca39b7518feab932d635 (internal repo).

Reopening bug for M6.

[2012-03-26 19:07] doronrosenberg commented on #2001
The file was originally not created in a subdir

[2012-03-26 19:48] peller opened #2006 "edit review, selected files are gone"
- create a review
- open it in the review view for editing
- the wizard will warn you that no files selected.  when you get to the second pane in the wizard, the selection is empty. you must add the file(s) again before publishing.

probably not critical for M5?

[2012-03-26 20:27] JonFerraiolo commented on #2006
Yes, I wouldn't hold shipping M5 for this bug. Pushing to M6/High.

[2012-03-26 20:27] jhpedemonte commented on #2006
-> M6

No loss of data, just inconvenient for an uncommon operation.

@JonFerraiolo

[2012-03-26 20:39] JonFerraiolo opened #2007 "Sometimes theme editor changes don't work, have to repopen theme editor"
@billreed63

This is a bug to investigate and try to come up with a reproducible scenario.

While testing on macwayne2 today, I had problems with the mobile theme editors where sometimes when I opened the theme editor and tried to change global page background color, nothing happened on the canvas. If I saved, closed, reopened, still nothing. But after reopening, I was able to change the page back

[2012-03-26 21:37] waynevicknair commented on #1979
fixed in commit 09f2f6c1592dca17f77692cd5910c14ceddef180 to INTERNAL repository.

[2012-03-26 21:37] #1979 closed, assigned to waynevicknair

[2012-03-26 21:49] jhpedemonte opened #2008 "Add white translucent background to Choose Parent list"
While running through the tests **VE 3 > Choose Parent > 8**:

I had a calendar selected and moved it to the right a bit, making the Choose Parent list appear.  However, the list was difficult to read, as it was overlaid on the calendar contents.

To fix, we should add a slight white translucent background to the list, so it is easy to read in all situations, but translucent enough that some of th

[2012-03-26 22:59] jhpedemonte opened #2009 "New File -> opens existing file"
2nd time I've run into this issue over the past few weeks:

I was working on a file, name **file2.html**, during testing.  I had Previewed (which automatically saves the file), then closed and reopened.

Then I closed that file and clicked **New File**.  I just took the default and clicked **OK**.  This lead to **file2.html** to be opened again.

I noticed that when closing this file again, file2.

[2012-03-27 15:03] jhpedemonte opened #2010 "Reviewers cannot load read-only libs/themes"
With latest R&C code, reviewers (not review creators) cannot properly load page.  Dojo (and other read-only libs) aren't loaded in the Joomla build.

@waynevicknair @JonFerraiolo @peller

[2012-03-27 15:10] peller opened #2011 "Server sometimes redirects to home page instead of 404 for bad urls"
Unable to reproduce this at the moment, but it's come up at different times (e.g. read-only libraries in #2010, docs in #1941) and is sometimes hard to track down.  It's important that we issue 404s for bad urls.

@JonFerraiolo @jhpedemonte

[2012-03-27 15:38] peller commented on #2010
@childsb checked in a fix at bc95473f0e74d81df975dd4e97c7582c0dde171b

[2012-03-27 15:50] JonFerraiolo opened #2012 "Browser refresh: review editors for other people's reviews don't reopen"
@aerwin, @waynevicknair

If I open two review editors, one for a review that I created, and another for a review that someone else created, so that I have two review editors open, and then I hit browser refresh, only the review that I created comes up after the browser refresh occurs.

I think the reason for this is clear. Here is the workbench settings file that came down from the server:

{"edit

[2012-03-27 15:54] jhpedemonte commented on #2010
This seems to be working now, for Jon and I.  Closing.

[2012-03-27 15:54] #2010 closed, assigned to childsb

[2012-03-27 16:21] jhpedemonte opened #2013 "Exception in subscribe of "/davinci/ui/editorSelected""
I had a bunch of different editors open (HTML, JS, CSS, image).  When switching from a JS editor (actually, a JSON file, which uses the JS editor) to the CSS editor, I got an exception in the subscribe to "/davinci/ui/editorSelected", in review's Context.js.

[code]

The issue is that the `JSEditor` does not have a `getContext()` function.  It is not defined anywhere in that prototype chain.

Assi

[2012-03-27 17:13] peller commented on #60
let's try to build late-bound R&C code (e.g. the view and dependencies) into a separate layer for M6.  Will require factoring as much code away from pagedesigner/Workbench/Runtime as possible.  See #1670

[2012-03-27 18:16] JonFerraiolo opened #2014 "Undo not working for adding columns or rows to tables"

[2012-03-27 18:39] peller opened #2015 "Loading... editor progress indicator doesn't last long enough"
Should be posted as soon as the frame is created, perhaps should stay up until an onload event on the document?

@billreed63 @jhpedemonte

[2012-03-27 18:43] JonFerraiolo opened #2016 "Switch themes broken with Eclipse projects"
@billreed63

Don't know how we didn't notice this one until now.
- New Eclipse project
- Clone claro into claro2, change global background-color to green, save
- New HTML file, add a Button
- Switch themes to claro2

Result=> page goes blank. Console shows this:

[code]

The URL paths above should have had `eproj4/WebContent/` somewhere inside. (my Eclipse project was "eproj4")

[2012-03-27 19:42] billreed63 commented on #2016
The new themes dialog is pulling in all the themes from the base project as well, it should only be getting the theme's from the current project

[2012-03-27 19:57] childsb commented on #2016
there's a simpler scenario

((in project1 or new project of your choice))

1) new theme: claro2
2) new folder ffffffffffff
3) new html file, create it under ffffffffffff
4) add a button
5) switch themes to claro2

[2012-03-27 20:20] billreed63 commented on #2016
All of the paths get corrupted after the theme switch

[code]

[2012-03-27 20:36] billreed63 commented on #2016
I just pulled from git and deleted my user workspace, restarted the server multiuser

created a new user
new->theme and I see this in the server log

[code]

[2012-03-27 20:46] childsb commented on #2016
i can't reproduce bills stack dump on osx.

[2012-03-27 20:53] JonFerraiolo opened #2017 "M4->M5 migration using localhost:50000, I see user name "localhost user""
@childsb @jhpedemonte

Upon trying out an M4->M5 migration using localhost:50000, I see user name "localhost user" using M5 even though I'm running the "server" version.

Here is what I did:
- Clear browser cache and cookies on localhost
- Launch Preview 4 server on localhost:50000 using "server" script
- Open up debugger in browser, with Network panel open
- Login, app shows, open app.css, close

[2012-03-27 22:07] billreed63 commented on #2016
this bit of code in PageEditor.setContent is the culprit

[code]

It mucks with the path of scripts and css files.... The question is why is it there? seems like we should remove it

[2012-03-27 22:15] billreed63 commented on #2016
I have done some quik testing with the above code deleted and it seems to have no negative effects if we remove the code

[2012-03-27 22:24] peller opened #2018 "cookie with name=="undefined""

[2012-03-27 22:28] jhpedemonte commented on #2018
From an email I sent out:

[2012-03-27 22:33] #2016 closed, assigned to billreed63

[2012-03-28 01:51] jessusniww opened #2019 "about the plugin technology of maqetta"
now ,i am learn the maqetta source code ,i want to know the plugin technology of maqetta ?
 i mean is the Maqetta's current plugin system,how it works?what is the principle?
could anyone explain for me?

[2012-03-28 01:53] peller commented on #2018
OutlineView didn't have an id and was posting this value.  Apparently, Trees without an id just use 'undefined' for the cookie -- I [reported this problem](http://bugs.dojotoolkit.org/ticket/15088) to Dojo.  OutlineView shouldn't persist its state anyway, since it's a singleton and handles multiple editors.  I'll push the commit with a workaround shortly.

[2012-03-28 03:16] jhpedemonte commented on #2017
-> closing

I tested with latest code on Chrome and Firefox and could not reproduce.  Each time, when loading M4 users on M5, Maqetta properly displayed my username, not "localhost user".

[2012-03-28 03:16] #2017 closed, assigned to waynevicknair

[2012-03-28 05:29] JonFerraiolo opened #2020 "Remove DAVINCI.USER cookies"
@peller

We have at least one and maybe two leftover DAVINCI.USER cookies with M5. We should remove them.

[2012-03-28 15:32] jmockler commented on #1988
@JonFerraiolo

I agree.. you have the silhouettes already. Is that correct?

Do you need them in a different format? and icons for the widget palettes?

[2012-03-28 15:47] JonFerraiolo commented on #1988
We may have to coordinate on updates to the silhouette SVG files to allow them to be used as clipart, but leave that on me for the time being. Let me look at them and see if I can hand-edit them in a way that allows subsequent editing in Illustrator.

Are there more silhouettes for other devices that have been created, that aren't in Maqetta yet?

And yes we will need icons for widget palette.

[2012-03-28 16:46] JonFerraiolo opened #2021 "Better way than cloning CSS and theme JSON files?"
@peller, @jhpedemonte, @childsb

During phone call today, we wondered if there was a better way to accomplish theme cloning (without caching problems) than having to clone the CSS and theme JSON files, and then rename.

[2012-03-28 17:18] peller opened #2022 "R&C show review participants filters annotations only, not comments"
If I click the little Lotus Notes icon (3 people) and check off only my name, unchecking other users, it seems that other arrows/circles/annotations on the document are filtered as expected. However, the comments view continues to show all comments.  I'd expect it to filter the comments based on the selected users also..

@JonFerraiolo

[2012-03-28 17:37] aerwin opened #2023 "Preview requires browser refresh in Firefox"
Environment: FF, Mac going to lab9:50020...

Step 10 in the "Comma separated data" section of the Data Grid (/test/testplan/WidgetPalette/dataGrid.html) test case asks me to click the Preview in Browser button. When I do so, I get a new browser tab (as expected) but nothing is rendered. I have to reload the page in the new tab to see the content.

This happens consistently... e.g., if I close the

[2012-03-28 17:46] aerwin commented on #2023
I'm going to lower priority on this one to medium... as I keep testing, this only seems to happen with the first HTML file created in the Data Grid test case. Here's my source:

[code]

[2012-03-28 17:55] jhpedemonte commented on #2023
-> M6

We've been having issues with Preview for a while, although it has gotten much better lately.  However, not going to hold up M5 for this.

@JonFerraiolo

[2012-03-28 17:56] JonFerraiolo opened #2024 "Can't turn off snapping"
I must have forgot to check for current preference setting in SelectTool.js/Focus.js
- Open Sample1.html
- Set to absolute layout using toolbar icon
- Add a Calendar
- Move it around - notice snap lines
- Turn off snapping preference
- Move Calendar around - snap lines still appear despite preference

Preference seems to be honored with CreateTool

[2012-03-28 18:01] JonFerraiolo opened #2025 "Fix MainMenuBar test instructions about "parent folder""
Quick fix - some of the text in the test plan for MainMenuBar still refers to our old "parent folder" UI

[2012-03-28 18:15] #585 closed, assigned to billreed63

[2012-03-28 18:17] #1084 closed, assigned to nobody

[2012-03-28 18:18] JonFerraiolo opened #2026 "Download as ZIP redirecting on macwayne2/WinFF/Eclipse project"
@waynevicknair

Logging this ASAP so people are aware - will provide more details shortly

[2012-03-28 18:19] JonFerraiolo commented on #2026
Redirects to this URL:

http://macwayne2.austin.ibm.com:55556/maqetta/cmd/download?fileName=20120328-3.zip&root=eepp&resources=[%22eepp%22]&libs=[{%22id%22%3A%22maqetta%22%2C%22version%22%3A%220.3%22%2C%22root%22%3A%22WebContent/%22%2C%22includeSrc%22%3Atrue}%2C{%22id%22%3A%22dojo%22%2C%22version%22%3A%221.7%22%2C%22root%22%3A%22WebContent/lib/dojo%22%2C%22includeSrc%22%3Atrue}%2C{%22id%22%3A%22Do

[2012-03-28 18:21] JonFerraiolo commented on #2026
Reproduced on both Win/FF and Win/Chrome

[2012-03-28 18:27] JonFerraiolo commented on #2026
But it worked for me on Mac/FF. Very strange.

[2012-03-28 18:50] JonFerraiolo commented on #2026
Closing. The problem was that I had a bunch of old cookies, and the URL was too long for Jetty. Upon clearing cookies and restarting my session, downloads are working again.

[2012-03-28 18:50] #2026 closed, assigned to childsb

[2012-03-28 19:52] jhpedemonte opened #2027 ""(border)" field doesn't properly show contents of "props""
1. Clone **android** theme.
2. Go to **Widget Styling > Rects & Lists**, and select the **MoveTo** subpart of the list widget.
3. Go to **Properties > Border** and select **props** for the `show` field.

Notice that while **(border)** only shows `#808080`, **border-width**, **border-style** and **border-color** all have contents.  **(border)** is not properly showing the amalgam of the "sub" prope

[2012-03-28 19:59] JonFerraiolo opened #2028 "Investigate background image quoting"
@childsb

Dartas reports that sometimes background-image urls are placed into HTML files with unescaped single quotes, which causes a runtime error because the url() is inside of another single quote. This problem seems to occur only when changing background-image to different values for different states.

[2012-03-28 20:35] JonFerraiolo commented on #2028
Oops. Meant M6.

[2012-03-28 21:53] jhpedemonte opened #2029 "Replies count should count all ancestors, not just immediate children"
Consider a comment string like this:

[code]

In this case, **comment** will show `1 reply`, since it is **only counting immediate children**.

Instead, the count should be for all ancestors, even replies to replies.

[2012-03-28 21:53] JonFerraiolo opened #2030 "Remove type, severity, status icons from review UI?"
@jmockler, @aerwin, @waynevicknair , @jhpedemonte

@jhpedemonte and @jonferraiolo are thinking that for Maqetta we should simplify the UI and remove the type, severity and status icons from the Comments palette. Our thinking is that if people want to track that sort of thing, they should use a real issue tracking system for that info, and just refer to a formally tracked issue in the review commen

[2012-03-28 23:48] JonFerraiolo commented on #2024
A fix is in the VE2 branch

[2012-03-29 03:20] JonFerraiolo opened #2031 "Sticky notes shouldn't inherit font properties from user document"
@jhpedemonte @childsb

Right now, sticky notes inherit font properties from the user document. As Rick Lacy says:

The one thing that still annoys me about the mobile dev are the sticky
notes.  Whenever I place a sticky note on a mobile page, the
foreground text color defaults to white and it's totally illegible.
You can go in and change the color, but I'd prefer it default to black
like on the de

[2012-03-29 03:24] JonFerraiolo commented on #2007
@jhpedemonte

This might have been fixed by 8dc2526e29 . Leaving this open to see if we still notice problems with Preview 5.

[2012-03-29 03:42] JonFerraiolo opened #2032 "Investigate single-quotes and escaping for background-image urls and states"
Need to investigate single-quotes and escaping for background-image urls and states. There must be bugs, just haven't found them yet.

Dartas writes:

Well I actually got it to work! I simply removed the singlequotes on
the url argument. Here is the code:

<div id="test_div"
style="background-image: url(images/unclicked.png); width: 4em;
height: 4em; background-size: cover;"
dvStates="{'unclicked_

[2012-03-29 13:28] billreed63 opened #2033 "Can't cut and paste widget that has absolute position"
1) New hifi HTML
2) DnD button widget
3) change layout property for button to position absolute
4) copy and paste

I get the cross hairs for paste but when I click on the canvas nothing...

[2012-03-29 14:15] JonFerraiolo commented on #2033
I took a quick look at the code and I'm not sure what's the best fix. It looks like some of the logic is based on current mode (flow vs absolute) and other parts are based on the position property for the pasted widget.

[2012-03-29 14:46] waynevicknair commented on #1908
done.

[2012-03-29 14:46] #1908 closed, assigned to waynevicknair

[2012-03-29 14:51] jmockler commented on #2030
I'm fine with that approach.

[2012-03-29 15:10] aerwin commented on #1605
to M6

[2012-03-29 15:14] aerwin opened #2034 "Add support for GridX"
This is a general placeholder for adding GridX support. More design details to follow.

[2012-03-29 15:50] waynevicknair commented on #1350
scripts are treated differently because their text content is _not_ HTML. the general 'setText' method has an implicit HTML parse step. i could factor the test for "script-ness" into the 'setText' method thus hiding that bit of complexity from clients of the HTMLElement class. is that what you're looking for?

[2012-03-29 16:26] waynevicknair commented on #1340
hey @billreed63 , i just tried to recreate this on macwayne2 running Mac/FF and i don't see any console errors. can you please verify that this bug still exists for you?

[2012-03-29 16:49] doronrosenberg commented on #1966
Reproduction case - datagrid, go from csv to json url. generates a new store

[2012-03-29 18:17] billreed63 commented on #1340
This bug appears to have been fixed

[2012-03-29 18:17] #1340 closed, assigned to waynevicknair

[2012-03-29 18:41] #119 closed, assigned to doronrosenberg

[2012-03-29 19:45] jhpedemonte commented on #1976
Haven't seen this since Brad's commit, so closing.

[2012-03-29 19:45] #1976 closed, assigned to childsb

[2012-03-29 19:46] #152 closed, assigned to jhpedemonte

[2012-03-29 20:43] peller commented on #1720
I'm seeing it, still (Preview 5, running locally, but this time as single user)

DavinciPageServlet.java:268

[code]

Either 'user' is null or 'path' is null.  Perhaps it's not the same error seen on the live server (multi-user)  Based on the logging, it seems like path is defined?  Regardless, what we want I think is for the method to return false and then post a 404, so it might be as simple as

[2012-03-29 21:54] billreed63 commented on #1949
Good example http://www.erichynds.com/jquery/a-new-and-improved-jquery-idle-timeout-plugin/

[2012-03-30 00:06] peller commented on #1720
confirmed on maqetta.org (multiuser) on 2012-03-29 also.  No symbols there, but same stack, probably the same line.

[2012-03-30 00:11] peller commented on #1720
-> high.  This is causing a lot of noise in the logs, if nothing else.

[2012-03-30 00:14] peller commented on #1720
is the prefix `/maqetta/user/undefined/ws/workspace/...` in the logs a clue as to what might be wrong here?   I see that on the maqetta.org logs.

[2012-03-30 00:18] peller opened #2035 "AssertionError: commandDescriptor is null in doGet"
2012-03-29 06:28:54.698:WARN::ERROR:  Error for /maqetta/cmd/setWorkbenchState
java.lang.AssertionError: commandDescriptor is null or is Put in Get processing
        at org.maqetta.server.DavinciCommandServlet.doGet(Unknown Source)
        at javax.servlet.http.HttpServlet.service(HttpServlet.java:707)
        at org.maqetta.server.DavinciCommandServlet.service(Unknown Source)
        at javax.se

[2012-03-30 00:19] peller opened #2036 "NPE in Download.zipFiles"
2012-03-29 08:03:30.448:WARN::ERROR:  /maqetta/cmd/download
java.lang.NullPointerException
        at maqetta.core.server.command.Download.zipFiles(Unknown Source)        at maqetta.core.server.command.Download.handleCommand(Unknown Source)
        at org.maqetta.server.DavinciCommandServlet.doGet(Unknown Source)        at javax.servlet.http.HttpServlet.service(HttpServlet.java:707)
        at org

[2012-03-30 00:20] peller opened #2037 "NPE without stack trace"
perhaps related to #1721?

2012-03-29 08:03:43.054:WARN::ERROR:  /maqetta/project1/file1.html
java.lang.NullPointerException

[2012-03-30 00:22] peller opened #2038 ""servlet parm" noise in logs"
there are System.out.println's in ServerManager.java

e.g. servlet parm 'smtp.loginUser' is : null

[2012-03-30 00:25] #2018 closed, assigned to peller

[2012-03-30 00:27] peller commented on #2018
hrm... this didn't get picked up.  Fixed in 7f81deb69d91831524822247fcddf3c2cc68bc89

[2012-03-30 00:29] JonFerraiolo commented on #2033
Fixed by 8f9d75a7f6  and 9e64befa22 . Closing.

[2012-03-30 00:29] #2033 closed, assigned to JonFerraiolo

[2012-03-30 01:52] peller commented on #2032
just happened to notice that EventSelection.js does replace without assignment.  See _onChange:

[code]

[2012-03-30 14:16] childsb commented on #1720
the "undefined" in the path makes me think that the user cookie on the client isn't set for some reason. do you have a way to recreate this by chance?  or any idea what you were doing when this happened?

[2012-03-30 14:59] peller commented on #1720
no idea, but it's all over the server log

[2012-03-30 16:49] JonFerraiolo commented on #2033
Fixed by 8f9d75a7f6  and 9e64befa22

[2012-03-30 18:53] waynevicknair commented on #1900
this is a result of our flakey smtp relay server. i am loath to add complex retry logic to the R&C for what seems a _very_ specific case, namely running localhost inside the firewall.

closing. re-open is feelings are strong. seems like a non-issue to me.

[2012-03-30 18:53] #1900 closed, assigned to waynevicknair

[2012-03-30 18:55] waynevicknair commented on #1920
this is a duplicate of issue #1903 which is broader and allows more latitude in solutions.

[2012-03-30 18:55] #1920 closed, assigned to waynevicknair

[2012-03-30 19:23] aerwin opened #2039 "Dojo checkbox appears appears twice in download workspace dialog"
![Screenshot of dialog](http://i.imgur.com/Nk4lq.png)

[2012-03-30 19:26] #1969 closed, assigned to peller

[2012-03-30 19:26] peller commented on #1969
@waynevicknair, please review

[2012-03-30 19:29] JonFerraiolo commented on #1575
->@peller

[2012-03-30 19:30] JonFerraiolo commented on #87
Reopening we have made progress but lots of work still to do. ->@peller  M6 Prio-Med. (if not M6, then M7 Prio-High)

[2012-03-30 21:15] aerwin commented on #1548
@JonFerraiolo @jhpedemonte

As I wrote about 10 days ago, I didn't have a lot of success with the the March refresh of tooling. Yesterday, I got hold of an internal development driver of RAD (from Mar. 29) and did some more analysis.

Notes:
- The workaround developed with Beta 1 that started failing in Beta 2 continues to not work. So, I've come up with an alternative (that I think is probably be

[2012-03-30 21:15] #1548 closed, assigned to aerwin

[2012-03-30 21:23] aerwin opened #2040 "Follow-up and test Maqetta to RAD workflow as RAD milestone drivers release"
This is follow-up task from #1548 to be sure an occasionally test the Maqetta to RAD workflow. This is especially important when RAD milestone drivers are released.

[2012-03-30 21:55] peller commented on #1575
see #87

[2012-03-30 21:56] peller commented on #2015
see #87

[2012-03-30 21:57] peller commented on #70
is this still valid?

[2012-03-31 02:29] JonFerraiolo commented on #70
Assigning to me to research.

[2012-04-02 03:46] jhpedemonte commented on #1354
-> M7

[2012-04-02 14:59] aerwin commented on #1811
After discussion with @billreed63 this morning, it sounds like this one will encompass refactoring data store code so it can be shared by all data store-enabled widgets. I'll eventually need that for GridX support (#2034).

[2012-04-02 14:59] aerwin commented on #2034
This will be dependent on #1811.

[2012-04-02 16:37] doronrosenberg commented on #1811
DataStoreBasedWidgetInput.js exists now and is used by the 2 mobile datalist widgets

[2012-04-02 16:40] doronrosenberg commented on #1811
And I should have noted that they support JSONP urls already.

[2012-04-02 17:01] doronrosenberg commented on #1757
@jhpedemonte @JonFerraiolo

This does not work today in Maqetta because we are not requiring dojo.hash, which implements the hash functionality.  Adding it to the source of a maqetta generated file enables it correctly.

We would have to add that as a require in the oam.json files for all the mobile view types (View, SwapView and ScrollableView) if we want this.

[2012-04-02 17:38] aerwin commented on #1811
@doronrosenberg @billreed63

Ok, cool... then maybe a lot of this refactoring has already been done by @doronrosenberg . I see in commit 12b4bfc43ffcaeca61171dc450632ec63349259 ("Move some code from DataGridInput to the generic DataStoreBasedWidget") that DataGridInput started using DataStoreBasedWidgetInput. (And, then there were a number of subsequent commits including additional clean-up, etc.)

[2012-04-02 19:19] doronrosenberg commented on #1758
@jhpedemonte So I have this working, storing the orientation on the body node using an attribute called "data-maqetta-deviceorientation", same way the device type is stored.  sound good?

[2012-04-02 19:24] jhpedemonte commented on #1949
So what are you thinking of doing here, Bill?  Could you detail your approach please?

[2012-04-02 20:03] billreed63 commented on #1949
1) We get the server inactivity time out from the server by adding a command to the server to return the MaxInactiveInterval
2) Set timeout in the client to the MaxInactiveInterval - 1 minute , when this timer pops we let the server no we are still alive
3) We subscribe to the '/dojo/io/load' this dojo publish this message whenever a xhr with the server completes successfully. When we see this mes

[2012-04-02 20:20] jhpedemonte commented on #1807
Added a few more items to summary, based on user feedback. Feel free to break out into separate bugs, if necessary.

[2012-04-02 20:22] jhpedemonte opened #2041 "Elements deleted from Scenes view when changing parent ID"
From a [user post](https://groups.google.com/d/msg/maqetta-users/0bnV52xDR1k/zvbrv3j12YsJ):

I assume this refers to the **Scenes** view.

[2012-04-02 20:30] #1101 closed, assigned to waynevicknair

[2012-04-02 20:36] jhpedemonte commented on #2019
-> Closing.  This isn't an issue.

Please open a new topic in the [maqetta-devs](https://groups.google.com/forum/#!forum/maqetta-devs) forum.  It's the big red button at the top labelled **NEW TOPIC**.

Also, as I [replied earlier](https://groups.google.com/d/msg/maqetta-devs/x2yFriiMQfE/1_aqpvsGcEAJ), you will have to provide more detail in your topic post.  I'm not sure what you are asking.

[2012-04-02 20:36] #2019 closed, assigned to nobody

[2012-04-02 21:12] #1828 closed, assigned to waynevicknair

[2012-04-03 04:57] JonFerraiolo opened #2042 "Investigate dojo isInstanceOf without SelectTool.js"
@peller - NOTE: this problem is in my private branch, which I hope to move into master soon.

The following check for isLayout in SelectTool.js isn't working for a ContentPane that is a child of TabContainer:

[code]

We are calling isLayout() on a TabContainer object, and isLayout (in DijitWidget.js) is making this check:

[code]

but the above check is returning false even though debugger shows

[2012-04-03 13:57] peller commented on #2042
it's probably comparing against the wrong instance of dijit (iframe vs. Workbench)

[2012-04-03 15:21] waynevicknair commented on #1012
it's user name.

[2012-04-03 15:21] #1012 closed, assigned to waynevicknair

[2012-04-03 16:50] JonFerraiolo commented on #2042
yes, that was it. Thanks! Closing. (Commit with fix will be coming today or tomorrow.)

[2012-04-03 16:50] #2042 closed, assigned to JonFerraiolo

[2012-04-03 17:29] #2006 closed, assigned to waynevicknair

[2012-04-03 19:02] #1958 closed, assigned to waynevicknair

[2012-04-03 19:56] JonFerraiolo opened #2043 "dojox.mobile.Button loses its label upon dragging to different location"
- New HTML File - iPhone
- Add the following dojox.mobile widgets: View, ToggleButton, CheckBox and Button
- Select the Button and drag in between the ToggleButton and CheckBox, waiting to make sure the blinking cursor shows a drop point between those two widgets. Upon seeing the blinking cursor at the correct spot, mouseup to drop the Button

Result=> Button loses its text.

Note that the Button

[2012-04-03 21:11] peller opened #2044 "simplify Context.onContentChange autosave"
right now, onContentChange creates a timer (0ms) to call _autoSave.   _autoSave is already on a timer to run periodically. Perhaps we can just set the dirty bit on the editor instead?

[2012-04-03 21:19] JonFerraiolo opened #2045 "Outline palette collapses unnecessarily upon changing states/scenes"
I'm scratching my head on this recent regression.
- Open Sample1.html
- In Outline palette, expand the first tab's contents until the MultiSelect is visible
- In Scenes palette, click on the "Add Task" scene

Result=> The outline for the first tab collapses.

This behavior was not there in M5. I tried to find the check-in that caused this regression by systematically doing "git checkout <number>"

[2012-04-03 21:30] peller opened #2046 "Main code has davinci.review.model.resource.root dependencies"
@waynevicknair @aerwin

see b6d3a8bef3d412ff51fd22165166499e0d7e4af7

The `davinci.review.model.resource.root` module is referenced in Workbench.js initializeWorkbenchState() as well as directly from pagedesigner.html (that code should be refactored to some module)
1. The reference should be done through a dependency (AMD), not a global reference.
2. I think this is the only module left from revie

[2012-04-03 21:36] JonFerraiolo opened #2047 "Intermittent dom exception on startup"
@childsb @peller @waynevicknair @billreed63 @aerwin

When I pull the latest sources, I got the following exception when starting up the program using the maqetta-single-user launch script (under Run Configurations):

[code]

Things work fine with the maqetta-multi-user launch script.

The above stack is not particularly helpful. The loader is attempting to load file css.html, but I have to believe

[2012-04-03 21:37] JonFerraiolo commented on #2044
I'll take this one. I've been into the _autoSave logic before.

[2012-04-03 21:46] #1758 closed, assigned to doronrosenberg

[2012-04-03 21:59] #1220 closed, assigned to JonFerraiolo

[2012-04-03 22:27] #1757 closed, assigned to doronrosenberg

[2012-04-03 23:21] doronrosenberg commented on #2043
So issue is the label is a child textnode, and regular dijit Button has a special Helper class to just get the label.

We could write a Helper for the mobile button or have a generic "copy textcontent" flag in the oam.json file.

[2012-04-04 03:49] JonFerraiolo commented on #2043
We already have at least one widget that supports innerHTML content instead of using the 'label' attribute: dojox.mobile.ListItem.

I made changes sometime in the past few months to allow innerHTML rich text so that LIstItem could contain <img> elements and not just plain text. You can see this by double-clicking on a RoundRectList, enter "abc<i>def</i>" for one of the ListItems, and then you'll s

[2012-04-04 04:21] JonFerraiolo commented on #2047
I'm seeing the dom-construct.js exception intermittently in both the multi-user and single-user configurations. I'm not sure why it was coming up more often in the single-user configuration because you'd think all of the same code paths were getting exercised.

[2012-04-04 04:39] JonFerraiolo commented on #2044
I investigated this and am closing this issue. Let's leave this one alone. What's going on is that there is an `_autoSave` function in Workbench.js that gets called in two separate places:
- Context.js calls `_autoSave()` immediately whenever a change happens to one of the user's HTML documents so that if a user adds a widget or moves a widget or changes a property, that operation is immediately p

[2012-04-04 04:39] #2044 closed, assigned to JonFerraiolo

[2012-04-04 14:20] peller commented on #2044
Right, didn't mean to suggest there was a timeout within a timeout, just undesirable autosave logic which happens to be wrapped in a timeout for reasons we don't understand.  I believe there are cases where the workbench autosave timer does properly batch requests, such as typing in the editor, and it relies instead on the dirty bit.

I think a 30 second window is perfectly acceptable for catastro

[2012-04-04 14:21] doronrosenberg commented on #2043
Doing this via a helper will work as that is what dijit.form.Button does.  If that is ok (adding another helper), easy fix.

[2012-04-04 14:24] peller commented on #2044
@jhpedemonte

[2012-04-04 14:38] JonFerraiolo commented on #2044
I strongly disagree that "a 30 second window is perfectly acceptable for catastrophic data loss", especially since this isn't an act-of-nature kind of a situation (e.g., hurricane, earthquake) but instead a normal usage situation. In normal usage, people change a document, then immediately close their computers, unhook their network cables, go out of wireless range because they are using mass tran

[2012-04-04 14:43] JonFerraiolo commented on #2044
Further, I think this worry about too much chatter is misplaced. Look at google suggest, which sends a new message to server with every key you type into a text field. It is now common practice in Ajax techniques to have a lot of chatter.

Continuing on with my rant above, in typical usage with Maqetta, an active user using the visual editor to create UIs probably ends up doing roughly one command

[2012-04-04 15:09] peller commented on #2044
I'll repeat: browsing away from the page, we can cover that programmatically.  If we're not, we should be doing this with `window.onBeforeUnload`  That's not catastrophic by any means.  Pulling out a network cable isn't something I think we should consider an everyday event, but when they plug it back in, our autosave should kick in. (Aha!  A bug?  #2048)

[2012-04-04 15:20] peller commented on #2047
I think the loader is actually trying to load a .css file using our davinci/css loader plugin, at least in the cases I've seen.  The stack above supports this.  It seems like there's a race condition with the loading dependencies of the css plugin itself (dom-attr, two dependencies deep)

[2012-04-04 15:24] peller commented on #2044
From a standpoint of code quality, I think we should have a single autosave mechanism, and using the dirty bit/polling mechanism would avoid a kludgey setTimeout and direct call.  If the 30 second window is too long, it's adjustable.  Perhaps it should poll for the dirty bit every few seconds?

[2012-04-04 15:28] peller opened #2048 "Workbench._autoSave resets last saved time even when there's an error"
the catch prints a useless console error, then goes about resetting the timer.  If the user unplugs a network cable or temporarily loses service, but leaves the machine idle, the auto save will not be attempted again.  The assignment of last time should probably be within the try clause.

[2012-04-04 15:51] JonFerraiolo opened #2049 "Review "managed widget" code"
@jonferraiolo: what's a  "managed widget"? I see various comments in the code about that, including in code that has to do with theme editor.

@billreed63: Can you point me to  a line?

@jonferraiolo: jonferraiolomacbookpro:davinci jonferraiolo$ grep -rn 'managed\ widget' *
ve/themeEditor/SelectTool.js:23:            if (widget.dvAttributes && widget.dvAttributes.isThemeWidget && widget.getContext

[2012-04-04 15:53] #2043 closed, assigned to doronrosenberg

[2012-04-04 16:00] #681 closed, assigned to JonFerraiolo

[2012-04-04 16:13] jhpedemonte commented on #1019
-> M7.  Also, updated summary to reflect the dependencies on this issue.

[2012-04-04 16:18] JonFerraiolo opened #2050 "(Tablets) Bigger hit radius for dragging on selection frames and nobs (focus)"
When we are seriously working on tablet support, to deal with fat finger issues, we might need to make the hit radius bigger for the selection chrome nobs and frames (Focus.js)

[2012-04-04 16:21] JonFerraiolo opened #2051 "Rectangle and Circle shapes: reimplement as DIVs?"
If Rectangle and Circle shapes were implemented as DIVs, then the could accept child content and wouldn't need as much special-case code.

[2012-04-04 16:23] JonFerraiolo opened #2052 "Rectangle shape: allow resize dragging on edge"
Right now users can resize a DIV by dragging on the edge of the selection chrome when the DIV is selected. Such a resize feature via dragging-on-edge is not yet working for the Rectangle shape.

See related issue #2051

[2012-04-04 17:35] #1457 closed, assigned to waynevicknair

[2012-04-04 17:45] billreed63 commented on #1949
Fixed by commit e0a35a376905c5eca5735ec47539d20b5c577345

[2012-04-04 20:07] JonFerraiolo opened #2053 "Custom app states: undo not working for changing eyeball in Outline palette"
- New HTML file - desktop hi-fi page
- Add a Button, CheckBox, ColorPalette
- Add a new state "aaa", and go to that state
- In Outline palette, make CheckBox invisible in state "aaa"
- Click on the undo icon

Result=> Both CheckBox and ColorPalette disappear
- Click on redo icon

Result=> Only ColorPalette reappears

This is just one scenario among many similar scenarios where undo and states aren

[2012-04-04 20:10] jhpedemonte commented on #2044
I agree with both of you!

I understand what Jon is saying about trying to make the autosave as instantaneous as possible, but I also agree with Adam, that there should a single bit of code that handles the auto-save logic for all editors.  As Adam suggests, we can have the check kick quite often (every 5 seconds? 2 secs?) -- this would then batch any changes together at that time.

If for nothing