[2011-07-06 18:03] JonFerraiolo opened #664 "Dropping dijit.Tree results in errors"
@billreed63

This is probably due to the same problems affecting the mobile data-bound widgets. Certainly related to #244 and mabye related to #662.

(Note: I didn't see a bug regarding mobile data-bound widgets not working with the new allowedParent/allowedChild metadata feature.)

[2011-07-06 18:07] JonFerraiolo opened #665 "Allow drag/drop widgets to drop in between existing widgets, not always at end"
@jhpedemonte

We have talked about this many times, but I didn't see this in the bug base, so here the bug report so it will be in our face going forward.

Right now, if you create a DIV and then drop widgets into the DIV, no matter whether you drop new widgets at the top/left of the DIV or towards the end of the existing widgets, the new widget will always be placed as the last child of the DIV.

[2011-07-06 18:33] JonFerraiolo opened #666 "TabBarButton inline edit not working"
@jhpedemonte

Not critical for M2, so definite candidate for M3 instead, but on the other hand might be a quick metadata change.
- New HTML File
- Add TabBar widget
- Double-click on one of the TabBarButton widgets

Result=> Nothing happens.

You can edit the text for the button in the widget-specific section of Properties palette, but we have trained users to use inline edit for everything else.

[2011-07-06 18:38] billreed63 commented on #224
Looking at the widget.json all the widgets that have data also have a widget specific createTool The data is passed to the create tool and used to create the instance, For the createTools I have worked on (DataGrid, Tree, mobile.ComboBox) I do use the data that is passed in to create the widget, but the createTool helper could define the data within createTool helper  eliminating  the need to have

[2011-07-06 18:40] JonFerraiolo opened #667 "Mobile list container widgets should have inline edit such like desktop container widgets"
@jhpedemonte

If the user drag/drops a RoundRectList (or other *List widget) onto canvas, they should be presented with an inline edit UI just like Accordion, [DropDown]Select, ComboBox, etc, and then Maqetta creates as many list items as the user enters.

I realize this may be somewhat of a challenge to implement. Probably requires helper functions.

[2011-07-06 19:10] jhpedemonte commented on #491
Dupe of internal bug 7787.

[2011-07-06 19:10] #491 closed, assigned to waynevicknair

[2011-07-06 19:10] jhpedemonte commented on #640
Dupe of internal bug 7787.

[2011-07-06 19:10] #640 closed, assigned to jhpedemonte

[2011-07-06 20:12] billreed63 commented on #621
July 2011

[2011-07-06 20:49] jhpedemonte commented on #224
For now, checked in workaround based on my previous comment.  This is low risk.  We can look to redo CreateTool and subclasses after M2.

[2011-07-06 21:13] #644 closed, assigned to billreed63

[2011-07-06 21:13] peller commented on #644
best to set a default selection anyway, don't you think?  NaN bugs in #458 still must be addressed.

[2011-07-06 21:20] jhpedemonte commented on #514
From email from Jon:

[2011-07-06 21:25] JonFerraiolo commented on #644
It's a regression versus Preview 1 if we don't have a default selected date for Calendar. In Preview 1, it defaulted successfully to today's date. I realize this is a minor regression, but a regression nonetheless. Should we reopen this bug or create a new bug for making the default date work properly?

[2011-07-06 21:28] jhpedemonte commented on #664
I'm not seeing this.  Instead, I get other errors when dropping `dijit.Tree` on page:

[code]

And these errors occur even if I comment out the call to `_getAllowedTargetWidget()` in **CreateTool.js**.

From the preliminary investigation, code is trying to instantiate `davinci.ve._Widget` for **ForestStoreModel**, in this line in **widget.js**:

`var dijitWidget = markupFactory ? markupFactory(par

[2011-07-06 21:29] jhpedemonte commented on #664
Re-assigning to @billreed63, since he knows this code better.

[2011-07-06 21:42] jhpedemonte commented on #516
You're right; hadn't thought of the dependency implications.

Looked through the Dojo files -- there isn't an image we can really use for this.  So we'd have to add one, as you mentioned.

[2011-07-06 22:43] jhpedemonte commented on #663
Not seeing this with build or with files on my system.  I do, however, see that the slot values don't really make much sense (#588).

[2011-07-06 22:57] JonFerraiolo commented on #663
Closing this bug. There is clearly a problem on the Chrome side. I was able to reproduce it with my currently running Chrome, but when I restarted Chrome, I couldn't reproduce. I expect Maqetta users will run into this, but there is a workaround: restart Chrome!

[2011-07-06 22:57] #663 closed, assigned to jhpedemonte

[2011-07-06 23:16] jhpedemonte commented on #662
This brings up the question of how to handle this with `allowedParent`/`allowedChild`: multiple widgets can be copied at once, so when pasting, the code should go through the array, calling `_getAllowedTargetWidget()` on each type.  If one of the selected widgets fails, then the whole **paste** operation should fail.  Right?

[2011-07-06 23:23] JonFerraiolo commented on #662
Yes, entire paste operation should get cancelled. If we manage to produce a reasonable error message, just maybe the user will be able to figure out what happened and how to do whatever he was trying to do.

[2011-07-06 23:24] jhpedemonte commented on #662
I'm thinking I need to update `_getAllowedTargetWidget` to work both with a single widget and an array of widgets.

[2011-07-07 01:02] peller commented on #644
With 6e9e5bb9f86c74b760bc77fd286e4b318f05e432 we now have a default selected date in the themeEditor.  If you think there should be one selected in the designer, I think a separate bug would be appropriate.  I don't know where the code was to set the date.  Dijit does not define one by default, so that seems like a reasonable behavior.  The user is prompted by the smartinput, so there is an opport

[2011-07-07 01:24] JonFerraiolo opened #668 "Smart input for Calendar in page designer"
@peller, @jhpedemonte

Only reason why this is currently an M2 bug is that this feature worked in Preview 1.

When you add a Calendar with the current code, smart input comes up and says "Invalid date". In Preview 1, at Calendar creation time, smart input showed an RFC822 date string such as "Wed Jul 06 2011 00:00:00 GMT-0700 (PDT)" (which Adam and I believe is the wrong thing to do - should use E

[2011-07-07 01:32] peller commented on #668
"ISO" datea (i.e. yyyy-MM-dd) are accepted by the properties panel, but they are not reflected in the source view and does not persist.

[2011-07-07 01:34] peller commented on #655
FWIW, I don't think this worked in preview 1.  It may have worked originally, but been broken when we migrated to the Orion editor, or perhaps I broke it when I did an upgrade (also prior to preview 1)  ...though I still see no error on the console.

[2011-07-07 04:09] #662 closed, assigned to jhpedemonte

[2011-07-07 04:10] jhpedemonte commented on #224
Commit 2de8c79266283617c506df30163f574f1db118a1 was reverted by commit in #662.

[2011-07-07 04:25] jhpedemonte commented on #662
I have an error message there now, but I think it needs a lot of work.  I would be open to suggestions.

[2011-07-07 04:43] jhpedemonte commented on #660
@EldonReturn If you are still seeing this issue with the latest code, please provide more information about what you are seeing.

@peller We previously discussed how selected items look in the tree.  With the current code, after selecting, there is only a **blue halo** around the item.  However, if you load http://archive.dojotoolkit.org/nightly/dojotoolkit/dijit/tests/tree/test_Tree.html, you wil

[2011-07-07 04:51] jhpedemonte commented on #658
I can't reproduce this.

Following the **Container Widgets** subsection of the **SourceEditor** tests.  I added a **DIV**, changed its **margin-top** style, then added a Dijit **TextBox** and **Button**.

Selected the DIV and deleted it, but saw no error in the console.

[2011-07-07 04:58] jhpedemonte commented on #656
I cannot reproduce this when running from source (latest as of July 6 11pm CDT) -- typing keeps up just fine for me.

But with a day-old build, I do see a bit of a lag, but no dropped characters.

[2011-07-07 05:07] jhpedemonte commented on #634
I cannot reproduce this when running from source, latest code.

Created new HTML file, switched to source view -- I can use arrow keys to move anywhere within file, adding content at beginning.  Clicking also works.

[2011-07-07 05:20] jhpedemonte commented on #598
I cannot reproduce.

For one thing, trying to select **Dialog** in the **Theme Editor** results in an error:

[code]

Even then, I tried to use other widgets, but I didn't see the immediate selection of background color.

[2011-07-07 05:31] jhpedemonte commented on #628
Not sure if the previous commits were meant to fix this issue, but I am still seeing it.  And based on #660, I think I see what is going on.

Currently, when I click on the file, I see a **blue halo**.  But this only represents that that item in the tree has **focus**, but not selection.  Rather, **selection** in a Dijit tree is signified by a **full width blue box** around the item.

So right now

[2011-07-07 05:46] jhpedemonte commented on #658
Setting **Priority Low** for now.  If this can be reproduced, we can up the priority (but probably only to **Med**).

[2011-07-07 13:37] billreed63 commented on #664
Closed July 2011

[2011-07-07 13:37] #664 closed, assigned to billreed63

[2011-07-07 13:43] billreed63 commented on #519
ComboBox, ExpandingTextArea, TextArea, TextBox are done.

[2011-07-07 13:46] peller commented on #648
dup of #628

[2011-07-07 13:46] #648 closed, assigned to peller

[2011-07-07 14:00] cindyskach opened #670 "Widget-specific properties show for widget from last unsaved file"
- new HTML file
- drag button onto canvas
- Close the file without saving
- new HTML file
- Before doing anything else, select Widget-specific from the properties palette
  It will still show the properties for the button though no widgets have been added to the new file.

Testing in Windows/Chrome

[2011-07-07 14:32] JonFerraiolo commented on #658
I couldn't reproduce either in Win/FF.

@waynevicknair: Can you try to reproduce again, and if you can reproduce, can you provide exact steps that caused the problem, including which system and browser you are using?

If you can't reproduce, please close.

[2011-07-07 14:32] cindyskach opened #671 "Same file name in different folders causes problems if both are open"
I can't imagine this happening often for any user, but it's something to look into eventually...
- new HTML file -- go with the default name of "file1.html"
- add a button to the canvas
- save and close it
- new folder -- go with the default name of "folder1"
- highlight the new folder name in the Files palette
- select new HTML file so that the new file will be in the folder you created -- go wit

[2011-07-07 14:35] JonFerraiolo commented on #671
Assigned to Brad. Maybe our unique naming algorithms don't take into account the scenario where file1.html might be in two separate folders at same time???

[2011-07-07 14:35] jhpedemonte commented on #519
Setting to **Priority Low**, since all that is left is **SpinWheelSlot**, and there are other issues around that widget.  This may actually slip in to M3.

[2011-07-07 14:36] peller commented on #628
There were indeed intended to fix the bug.  Wonder why the "Fixes #628" did not close this ticket?

When I click on a file, I see a blue halo (focus) **and** selection.  The selection code was stubbed out in #510 to get our DnD working, but my change broke the selection and caused this regression.

[2011-07-07 14:36] #628 closed, assigned to peller

[2011-07-07 14:37] JonFerraiolo commented on #670
@childsb - probably the fix will come from either Brad or me

[2011-07-07 14:38] peller commented on #660
@EldonReturn says he's seeing a general failure of the workbench to load, with only the lib folder and missing a bunch of stuff.  He sees no exceptions in the console or on the server.  I don't think this is related to #628 or focus issues.

[2011-07-07 15:39] waynevicknair opened #672 "FilePalette basic tests - theme editor 'alerts' on claro.theme open"
double click on 'claro.theme' in file tree. editor starts to open and alerts following message:

[code]

after clearing the alert by clicking OK, the theme editor finishes opening and behaves correctly.

[2011-07-07 15:42] JonFerraiolo commented on #598
I just reproduced it with latest code from GitHub on Mac/Chrome.

[2011-07-07 15:46] JonFerraiolo commented on #656
I am seeing this problem in a major way with today's build on Win/Chrome. I opened Sample1.html and then attempted to type in an HTML comment (e.g., ). With each keystroke, the visual editor reparses the entire document, causes flashes with each keystroke. (Well-known performance problem - won't be fixing for M2). But the really bad problem is that characters typed during the reparsing/redrawing a

[2011-07-07 15:46] childsb commented on #656
haven't dug into this much but if i'm running maqetta from the dev setup in eclipse, this problem is REALLY bad.  I notice that eclipse console shows requests nearly every keystroke for:

request: /user/childsb@us.ibm.com/ws/workspace/themes/claro/claro.json, logged in=true

at one point (months ago) the source editor was calling _setSource(...) on every keystroke causing the model to be rebuilt.

[2011-07-07 15:48] JonFerraiolo opened #673 "Exception when clicking on Dialog in theme editor"
In #598, Javier reports that clicking on Dialog in theme editor causes this:

Uncaught TypeError: Cannot read property 'property' of undefined         WidgetProperties.js:42

I was able to reproduce on Mac/Chrome with latest code from GitHub.

[2011-07-07 15:50] JonFerraiolo commented on #662
Good enough message for now.

[2011-07-07 15:53] jhpedemonte commented on #673
I'm going to put this as **Priority Med**, since it is not a regression (happens in Preview 1).

[2011-07-07 15:55] JonFerraiolo commented on #672
@childsb, @peller

I classified this as an M2 bug mostly because it's a regression and this is a feature that is essential for users to open theme editor when integrating Maqetta into RAD for theme editor functionality.

[2011-07-07 16:30] JonFerraiolo opened #674 "Cut/paste doesn't preserve 'id' attribute"
@peller, @childsb, @billreed63, @jhpedemonte
- New HTML File
- Add a LABEL
- Set id to 'label1'
- Cut the LABEL widget
- Paste the LABEL widget

Result=> 'id' attribute not preserved across the paste operation

This is a bit complicated. We need to preserve the 'id' attribute from the original widget, but this brings up the potential problem where copy/paste would create to elements with same ID.

[2011-07-07 16:50] JonFerraiolo opened #675 "Paste cursor disabled if page canvas is scrolled"
(not urgent)
- New HTML file
- Add Button and 4 Calendars (to provide height to the content)
- Make canvas smaller such that there is a vertical scrollbar on canvas
- Select Button, copy
- Scroll canvas so Button is invisible due to scrolling off top of canvas
- Click on Paste icon on editor toolbar
- Try to click on canvas. You'll notice that the paste cursor either doesn't appear at all or only

[2011-07-07 18:03] JonFerraiolo opened #676 "Keypad simulation - part of silhouettes?"
@jmockler, @billreed63, @peller, @jhpedemonte

For UI mockups, designers might want to show pictures that show a simulation of the mobile device keyboard. After some brainstorming today, we wondered if we could just put two extra layers on the SVG silhouettes that were invisible by default but somehow an authors could ask the keyboard to show up (page editor, preview, review&commenting), and shrin

[2011-07-07 18:16] waynevicknair commented on #658
running Safari 5.0.5 on Snow Leopard (same as when i opened issue) i could not reproduce on today's build. however, i when it occurred i debugged down to the exact line of code which failed. does anyone know the relationship between '_srcElement' and 'domnode' on a dijit widget? do we want to add defensive code there because 'this._srcElement' is _not_ guaranteed to have an 'id' attribute?

[2011-07-07 18:27] JonFerraiolo commented on #658
Oh, yeah, most of us know the difference between domNode and _srcElement. Somewhat depends on which domNode you are talking about (Dijit has one, maybe widget.js has a different one), but it refers to a (no surprise here) to the root DOM node for a particular widget within the iframe's HTML document. _srcElement points to the corresponding node within the model, which is a whole separate parallel

[2011-07-07 20:06] JonFerraiolo opened #677 "States: partially fails test plan for "apply to current state only""
There seems to be a bug with the "apply to current state" logic where it works correctly if you only have a single property change for a custom state, but doesn't work if you attempt to change two properties. Discovered when running the last part of the test plan for the States palette.

[2011-07-07 20:09] cindyskach opened #678 "widget.js needs rewrite for NumberTextBox "constraints" to work"
After going through a lot of debugging, Javier and I determined that while setting the properties in _getData in widget.js, it always throws the "constraints" value we assign in NumberTextBox.json away and replaces it with the default value of 900000000000000.

Javier mentioned that he faced a similar issue while working on one of the mobile widgets and that parts of widget.js need to be rewritten

[2011-07-07 20:47] JonFerraiolo commented on #598
I put a breakpoint in StyleCommand.js execute() and looked at stack trace. It looks like ColorPicker.js's _onChange() function is getting called when the ColorPicker is first launched, which then triggers various calls that end up in StyleCommand.

[2011-07-07 20:55] JonFerraiolo commented on #677
This bug might be entirely due to #598. Wait until #598 is fixed before fixing this one.

[2011-07-07 22:08] cindyskach opened #679 "MobileWidgets-Gray box follows mouse after alert about MobileView if click to add rather than drag to add"
- new HTML file
- in a mobile silhouette try to add a heading to the canvas by selecting Heading in the widget palette and then click on the canvas to add it (rather than dragging)
- the message will come up saying you need DojoxMobileView
- click OK
- Move the mouse across the silhouette and a gray resizing box will follow the mouse

Nothing truly breaks with this bug. The user can continue on as

[2011-07-07 23:22] waynevicknair commented on #658
right then. that sounds like "yes, we should strengthen the test before we call on something that can be validly null."

[2011-07-07 23:27] EldonReturn commented on #660
The workbench loading problem was resolved. I re-installed chrome & FF and it works now.

However, I'm still experiencing the un-selectable tree node problem with the latest build. No exception is thrown in either the browser console or the server console. The only symptom is that I cannot select the tree node by clicking (the blue square is not shown around the node) and thus I cannot delete the

[2011-07-08 02:01] EldonReturn commented on #660
@peller, I asked my colleague to verify it. It seems this problem only occurs on my machine. So I'd like to close this issue. This backup machine is weird to some extent even after I re-installed Chome and FF. I miss my T61 ;-)

[2011-07-08 02:01] #660 closed, assigned to peller

[2011-07-08 04:36] jhpedemonte commented on #658
I'm fine with adding a **null** check there.  Also, get rid of the **return undefined** lines -- really no point, can just be **return**.

[2011-07-08 04:42] jhpedemonte commented on #598
OK, now I see it.  I missed the reference to the **Color Picker** -- I was just selecting **Red** from the drop down list. Upping priority to **Med**.

[2011-07-08 04:47] jhpedemonte commented on #679
@JonFerraiolo

Moving this to M2. It'll be confusing to the user, especially since continually clicking on the editor results in the error dialog again.  Hitting **Esc** doesn't reset this.  Only way is to click on a widget in the **Widget** view.

I'm thinking that when I bring up the error dialog, I haven't properly canceled the drag operation.  @peller, any idea on how to do that?

[2011-07-08 13:14] peller commented on #679
get rid of the dialog? :)  Ideally, I think we'd provide feedback before dropping.  Not sure exactly how.  We could change the cursor, but that still doesn't offer a lot of information.

[2011-07-08 13:28] peller commented on #679
It looks like there's a return in the middle of CreateTool.onMouseUp.  Perhaps the code that resets the tool should still be run... a finally block might work well here.

[2011-07-08 13:36] jhpedemonte commented on #679
We'll probably get rid of the dialog in M3 and provide feedback during the **drop** operation, as the user hovers over the page.  In another bug, I had stated that it might be useful to also display info at the bottom of the page, detailing **why** the drop operation isn't permitted at a given target.

But for M2, I didn't want to mess around with all that code -- hence the dialog.

I'll try reset

[2011-07-08 14:00] #679 closed, assigned to jhpedemonte

[2011-07-08 14:25] #673 closed, assigned to billreed63

[2011-07-08 16:02] waynevicknair commented on #658
added `null` check to getId() with commit 2ad4de9c13f80d864285

[2011-07-08 16:27] childsb commented on #258
Added alert prompt in Cascade.js. Commit : bb9778b28ca8bea22eed

Side note - put some extra code in to make it easier to 'enhance' this.

[2011-07-08 17:10] peller commented on #655
The clipboard actions in davinci/ve/actions/ContextActions have code like this:

[code]

Both conditions in the inner `if` fail.  I suspect this has been broken a while, perhaps since the split viewer was built.  The following needs to be fixed, at a minimum:

The fixupContext method returns something which is no longer davinci.ve.PageEditor, so the first part fails.  The second part should probab

[2011-07-08 17:10] childsb commented on #263
fixed with commit bf133d85175b8549f865d0b29c531c1aaed2406a

[2011-07-08 17:11] childsb commented on #216
this is still happening on latest builds?  do you have more information?  i can't reproduce............

[2011-07-08 17:21] JonFerraiolo commented on #258
Hey Brad, Thanks for putting in error dialog, but when I was working on the more informative message, we need to provide a hyperlink in the error message that the user can click on, and alert() doesn't allow for rich text. I submitted a string of HTML markup to put in the dialog with commit 405af924950ad56e24d85c936b465963e3368be2 but I didn't know how to present a dialog to use that just had OK b

[2011-07-08 17:23] childsb commented on #258
yesir, will do.

[2011-07-08 17:38] childsb commented on #258
moved the error msg to a modal dialog that supports hyper links. commit 892f2969d9c1c21bd772

[2011-07-08 17:38] #258 closed, assigned to childsb

[2011-07-08 17:46] JonFerraiolo commented on #263
@peller

Reopening, but pushing to M3. The critical part of this bug has been addressed: users cannot hang themselves anymore by typing a theme name that we can't deal with. However, the UI needs to be improved. Right now, we disable the OK button when the theme name is invalid. Instead, we should use Dojo's ValidationTextBox (or whatever) which will put an explanatory overlay message when the use

[2011-07-08 17:54] JonFerraiolo commented on #263
@peller, @waynevicknair, @jhpedemonte

Also, the regular expression used is fine for now, but has at least one "bug" and should be improved to support users across the globe. Look at http://www.w3.org/TR/CSS21/syndata.html#characters and you'll see that identifiers (which is what we need because a classname is an identifier according to CSS parser) can contain [a-zA-Z0-9] and ISO 10646 characters

[2011-07-08 18:52] cindyskach opened #680 "color picker changes hex value if "#" is erased"
-new HTML file
- add a div to the canvas
- select the div and choose 'background' in the properties palette
- select the color picker
- paste into where it says "hex" FF3399 being sure to not include the "#" sign
- Press [enter]
  It changes the value to #0f3399
  Since it adds the "#" for you, you would think it just adds it to the front to help the user, but it replaces the first character with

[2011-07-08 18:55] waynevicknair commented on #263
i eat regular expressions for breakfast; i'll take it. that one will require some testing tho. all those ISO characters need to be escaped and there are look behind assertions for hyphen followed by hyphen and hyphen followed by digit.

[2011-07-08 19:06] waynevicknair commented on #216
yes. here's how i reproduced on today's build w/ Safari 5.0.5.
click on 'Sample1.html' file in file palette. ctrl-click to pop up menu. click 'download'. accept default name and click 'Download' button. blam!

[code]

[2011-07-08 19:13] JonFerraiolo commented on #438
With commit 98aecd677f3300fa4a71 I took care of the most critical UI shortcomings with the review and commenting welcome page, but there are a few things left to do:
- Both welcome pages (page designer and review mode) need some minor work regarding hyperlink behavior. Right now there is a big hyperlink over each section of page designer's welcome page. See item 3 on #544. For review's welcome pag

[2011-07-08 19:44] childsb commented on #263
i heard the original name for alpha-bits was /[A-Z]+/, maybe thats what you've been eating?

thanks wayne, these complex regex's make my head hurt.

[2011-07-08 20:09] JonFerraiolo commented on #658
Closing this issue. Hard to reproduce, and Wayne provided a speculative fix for the problem.

[2011-07-08 20:09] #658 closed, assigned to JonFerraiolo

[2011-07-08 20:13] #650 closed, assigned to JonFerraiolo

[2011-07-08 20:24] #647 closed, assigned to JonFerraiolo

[2011-07-08 20:47] #631 closed, assigned to JonFerraiolo

[2011-07-08 20:55] JonFerraiolo commented on #615
Reassigning to me for testing.

I tried today and couldn't reproduce. I've seen some issues with Chrome where mystery bugs disappeared if you exit and restart Chrome, such as #663.

Let's test this bug once we have M2 running off of a server. If we can't reproduce off of a server, then let's close this.

[2011-07-08 21:17] childsb commented on #216
thanks for looking into this wayne and doing the initial analysis

fixed in commit b1211ebd84e01ef8514d020f0e9c20c5bbfda365

[2011-07-08 21:17] #216 closed, assigned to childsb

[2011-07-08 21:58] #656 closed, assigned to peller

[2011-07-08 22:02] peller commented on #656
we still probably shouldn't be doing things like findResource (I/O) and theme modeling on each content change, but at least now that the keystroke batching is working we should be ok

[2011-07-08 22:14] JonFerraiolo commented on #636
@jhpedemonte, @billreed63

Do we really need to fix this for M2? Tooltip and Dialog have not yet made their way out of Untested widgets. Not that I'm against fixing this...

[2011-07-08 22:17] JonFerraiolo commented on #634
I tried with latest code from GIthub on both Mac/Chrome and Mac/FF and had no trouble putting type-in at start of line.

[2011-07-08 22:21] JonFerraiolo commented on #538
I just tried latest code again and I'm still having this issue using a 2 button mouse on Mac/Chrome and Mac/FF.

[2011-07-08 22:38] JonFerraiolo opened #681 "Investigate widget.parent"
@peller, @jhpedemonte, @billreed63

I was looking at Adam's check-in ed70e8909d0de25836b75ba697fbb43ce19d4ae6 and there is a line he added to WidgetProperties.js that says:

[code]

and I started scratching my head, wondering why I don't remember a 'parent' property on a davinci.ve._Widget. I searched through widget.js and I couldn't find any code that assigns a value to the 'parent' property of a

[2011-07-08 23:24] peller commented on #681
confirmed, it's a davinci.ve.dijitWidget

[2011-07-08 23:27] peller commented on #634
me too.  how odd.

[2011-07-08 23:27] #634 closed, assigned to peller

[2011-07-08 23:28] peller commented on #636
no, this shouldn't hold up M2

[2011-07-09 00:17] JonFerraiolo commented on #636
I changed this to Priority Low and left as M2. Adam, feel free to make the call and change to M3.

[2011-07-09 00:48] JonFerraiolo opened #682 "Mobile widgets (allowedParents) when using absolute positioning"
@peller, @jhpedemonte, @billreed63

Interesting dilemma about what to do when in absolute positioning mode and adding mobile widgets to the page.

In absolute positioning mode, we want to provide a simple drawing-tool-like approach where user can build up a UI by simply placing widgets absolutely on the canvas. For what's coming in M3, see https://github.com/maqetta/maqetta/wiki/Drawing-tools. One

[2011-07-09 15:01] JonFerraiolo opened #683 "Mobile meta tags"
@peller, @billreed63

The Dojo 1.7 Mobile Specification [1] shows that developers should include the following META tags in their HTML page:

[code]

Currently, Maqetta doesn't include these META tags in the HTML pages we create. Seems like we need to add these two META tags. Need to do a little research to see if we need different META tags for Android versus iPhone.

[1] https://docs.google.com/

[2011-07-09 15:35] JonFerraiolo opened #684 "Desktop canvas size"
@jmockler, @jhpedemonte, @peller, @childsb, @billreed63

(Couldn't find a bug for this already, which is surprising)

RIght now, desktop canvas size is "auto" (i.e., infinite in both directions). Often, web designers target a particular browser window size. There isn't agreement on which particular dimensions should be used, but a good number of web design pundits offer similar recommendations. Fo

[2011-07-09 15:35] JonFerraiolo opened #685 "New file dialog should allow user to pick initial mobile device"
@jmockler, @jhpedemonte, @childsb, @billreed63, @peller

We'll probably need to update the New File dialog for M3 for various reasons, and here is one.

We should allow an author to pick an initial mobile device in the New HTML File dialog so that when the page editor opens for first time, the proper mobile silhouette appears initially. We may also want to offer the ability to indicate whether to

[2011-07-09 15:51] JonFerraiolo commented on #27
@jhpedemonte, @childsb

For mobile UIs, one can expect that designers will want to preview their creation directly on target devices. For example, if an author creates an iPhone UI, then might pull out their iPhone and open up the URL for their Maqetta-created HTML file from their iPhone.

Without doing a build, the UIs are going to appear very slowly on the mobile device because of high latencies

[2011-07-09 17:52] JonFerraiolo opened #686 "Second View has display:none, can't drop widgets into it"
@peller

(Working on tutorials and ran into this)

dojox.mobile has logic that tries to manage View visibility (via display property) and enforce the constraint that only one View is visible at once. This logic conflicts with Maqetta authoring. (More about that later)

But first, the technical details. Turns out that the startup() method in dojox/mobile/View.js gets called indirectly from the Maqe

[2011-07-10 19:07] JonFerraiolo opened #687 "Smart input on Heading removes any embedded buttons"
@jhpedemonte
- New HTML File
- Add View
- Add Heading
- Add  ToolbarButton within the Heading
- Double-click on Heading, change text to "aaa"

Result=> ToolbarButton has been removed from the page

My guess is that SmartInput is doing a complete replacement of the inner content for the Heading's DIV, but needs to be smarter and only update the inner elements that contain text content and leave eve

[2011-07-10 19:27] JonFerraiolo opened #688 "dojox.mobile.ComboBox shows gets confused with Smart Input"
@jhpedemonte

For some reason I can't fathom at this point, dojox.mobile.ComboBox has trouble when you enter a seemingly innocuous set of values.
- New HTML File
- Add dojox.mobile.ComboBox
- Enter the following values:

[code]

Result=> The ComboBox shows the string "Alert" instead of "Alerts", and if you double-click to re-edit, the "+" that you entered doesn't appear. If you click OK immediatel

[2011-07-10 19:34] JonFerraiolo opened #689 "Can't drag/drop dojox.mobile.ListItems on canvas"
@jhpedemonte
- New HTML File
- Add a View
- Add a RoundRectList
- Double click on first ListItem, change text to "aaa"
- Double click on second ListItem, change text to "bbb"
- Drop a 3rd ListItem onto the RoundRectList, set text to "ccc"
- With "ccc" selected, try to drag it up between "aaa" and "bbb"

Result=> Can't drag the ListItem on the canvas. (Workaround: users can rearrange using Outline

[2011-07-10 20:37] peller commented on #684
I understand that it's important to test and perhaps even develop in a certain size, but isn't it just as important to use fluid layout that would work in any size?

[2011-07-10 20:40] peller commented on #685
Why complicate the new file dialog or provide multiple ways to do the same thing?  It should be simple to change devices.

[2011-07-10 21:55] JonFerraiolo commented on #684
Yes, fluid layout is important, but accordion to various web articles, the recommended approach is optimize for a particular size and then test against other sizes to make sure you have proper fluid layout. That gets you gold stars. In practice, however, lots of web sites just optimize for a particular size and tough luck to users who have smaller screens either out of ignorance, laziness, lack of

[2011-07-11 03:25] jhpedemonte opened #690 "FixedSplitter takes DIV or FixedSplitterPane children"
According to the docs at the top of the source file, **FixedSplitter** can take **DIV** or **FixedSplitterPane** as children.  Need to update metadata to reflect that.

Conversely, FixedSplitterPane should **only** take FixedSplitter as a parent.

@JonFerraiolo

[2011-07-11 03:29] jhpedemonte commented on #569
Adding this to **M2** since it's a regression, but adding as **Priority Low** since it seems to be a very targeted bug.

Brad, if you have time, take a look, please...

@JonFerraiolo

[2011-07-11 03:37] JonFerraiolo opened #691 "No need for requireIf dojox.mobile.compat"
Trivial fix - might as well fix this before users start to create content.

Every new HTML file that we create that includes dojox.mobile widgets gets the following statement in the HEAD:

[code]

According to https://docs.google.com/document/pub?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E#h.iwf4kfpff6ri, with Dojo 1.7 we don't need dojo.requireIf and can just use dojo.require:

[code]

[2011-07-11 03:41] JonFerraiolo opened #692 "Extra SCRIPT element (dojo.js) with each new widget"
@peller

(Note: used to say "with each new mobile widget", but same problem exists with desktop widgets.)

With each new widget, an extra SCRIPT tag is added to the HEAD. If you have 6 widgets, you get 5 extra SCRIPT tags.

[2011-07-11 03:48] peller commented on #692
dojo.js should only be loaded once.  shouldn't mobile widgets be the same as dijits in this regard?

[2011-07-11 04:05] jhpedemonte commented on #638
Good point.  The HTML "library" is really a special case, merely there to make coding easier.  But we shouldn't show it to users.

[2011-07-11 04:06] JonFerraiolo opened #693 "Can't set moveTo attribute for some scenarios with dojox.mobile"
@childsb

(Maybe Brad can help with this if he gets through his bug list)

I'm working on a simple demo showing how to author a very simple slide-in/slide-out example with Maqetta. Here is what I'm trying to build:

[code]

Creating this simple demo is quite difficult due to #686, which makes it difficult to use more than one View on a page. But after working around #686, the next big problem is t

[2011-07-11 04:10] JonFerraiolo opened #694 "Elevate 'id' attribute to top of Properties palette, like 'class'"
@jhpedemonte

With Dijit, we want to encourage designers to use class selectors instead of ID selectors, and our whole Advanced CSS (Cascade) UI requires the ability to conveniently set the 'class' attribute. As a result, the current Properties palette puts the 'class' attribute in prime realistic with permanent position at the top of the palette, but the 'id' attribute is hidden away under "Commo

[2011-07-11 04:27] jhpedemonte commented on #636
Jon, I think that's wise.  Right now, anything that's M2/Low priority I wouldn't feel bad if it slipped into M3.

[2011-07-11 04:33] jhpedemonte commented on #686
This is something we've discussed before, but I haven't been paying attention to lately, concentrating on other bugs.

If you recall (do we already have an issue on this?), I had wondered about integrating View visibility with the States view, such that the user could work with a given View by clicking on the eyeball, to make it visible.  The trick would be to then make sure that any visible View

[2011-07-11 11:38] jmockler commented on #685
it should be simple to change devices. But often when a user is beginning a design project, they know at least one of the devices they are designing for. It would be good to start them off in at least on of the resolutions that their design will be displayed in. I like @JonFerriallo suggestion to pick the resolution/device that they are designing for while creating the file.

[2011-07-11 14:23] JonFerraiolo commented on #692
@childsb

Adding Brad. Brad, did you do the fix to make sure that only one copy of dojo.js and dojo.css were added to a page?

[2011-07-11 14:48] cindyskach opened #695 "Setting widget-specific properties doesn't work"
- new HTML file
- drag button onto canvas
- go to 'widget-specific' in the properties palette
- change the label to 'button-test'
  It doesn't change the button's label.
  If you click on the canvas so that the button is no longer selected and then select it again, you'll see that the label is still set to 'button.'

Tested in Windows/Chrome with this morning's build from lab14.

[2011-07-11 14:55] JonFerraiolo commented on #693
Same problem with 'icon' attribute on ListItem

[2011-07-11 15:31] JonFerraiolo commented on #695
@jhpedemonte

Assigned to Brad. Likely this is the same problem as with #693

[2011-07-11 16:13] jhpedemonte commented on #685
I'm siding with Adam on this one.  Why add complexity to the new file dialog, when the user can just set the device after the file has been created?  Same for canvas size and any other options.

[2011-07-11 16:38] childsb commented on #693
i'm not sure how anything in the widget specific area was working!

the onChange for dijit widgets nor HTML dom elements wasn't bound to the _onChange function, causing the commands to change the values to never be executed.

the value now serializes properly, but i'm not sure what exactly goes there.. (Move to coordinates??)

commit 0ef230aab3a63c19d34511765b11a8197d496640

[2011-07-11 16:38] #693 closed, assigned to childsb

[2011-07-11 16:45] childsb commented on #695
Fixed in commit 0ef230aab3a63c19d34511765b11a8197d496640

[2011-07-11 16:45] #695 closed, assigned to childsb

[2011-07-11 16:47] peller commented on #685
and I realize I'll probably lose this one.  I just want to side towards a minimalist UI in general, and I feel we're going in the wrong direction every time we add a button or dialog, especially when there's more than one way to accomplish the same thing.

To me, the question is whether best practice is to design flexible layouts or to pigeon-hole and work on a particular device, Flash-style.  I i

[2011-07-11 18:48] JonFerraiolo opened #696 "Replace hard coded theme path for a CSS rule comes from theme"
@peller, @billreed63, @jhpedemonte

I am just about to commit a short-term fix for #257 by hardcoding logic in Cascade.js that assumes that if the URL for the CSS file begins with "themes/" or includes the strings "/themes/", then the CSS rule comes from a theme CSS file.

We shouldn't hardcode such filenaming assumptions deep in the bowels of our code. One approach that would be much better would

[2011-07-11 18:53] #257 closed, assigned to childsb

[2011-07-11 18:57] JonFerraiolo opened #697 "Consolidate Maqetta additions to HTML file"
@childsb, @jhpedemonte

(Just logging this so we don't forget.)

We need to clean up the Maqetta additions to HTML files, particularly with the HEAD. We want to minimize the number of places where developers have to deal with Maqetta additions, and attempt to put all of our additions next to each other in the HTML file. For starters, we shouldn't have both Maqetta.js and States.js.

[2011-07-11 19:44] JonFerraiolo opened #698 "100%px"
@jhpedemonte

I think I found the bug that one of the users at Maqetta.org was reporting last week.
- New HTML File
- Add a DIV
- In Properties palette, go to 'width' property and use dropdown to select 100%. (Notice that after mouse-up on the dropdown menu, the type-in bar is in the edit box for the 'width' property)
- Immediately go to Outline palette click on eyeball for DIV to make it invisibl

[2011-07-11 20:07] JonFerraiolo opened #699 "Disable 'height' on ScrollableView"
@childbs, @jhpedemonte, @billreed63, @peller

We need to investigate what's going on with ScrollableView and the 'height' property. It appears that the JS logic for ScrollableView is listening to resize events and updating element.style on ScrollableView. What this means is that if a user attempts to change 'height' via element.style for ScrollableView, their value never gets assigned.

One possib

[2011-07-11 20:48] childsb commented on #598
Fixed with commit 375e645ae1323989bffdb42bc9b500cf8d9eaf84

[2011-07-11 20:51] JonFerraiolo opened #700 "Can't immediately use silhouette and then drop widgets"
@billreed63, @jhpedemonte

With today's build from this morning, I can successfully do these steps:

1) New HTML File
2) Show iPhone silhouette
3) Drop a View into the silhouette

However, with latest code in GitHub, step (3) fails. I cannot drop View or any other widgets if I open a silhouette before I drop my first widgets. OK with current code if I do steps (1), then (3), then (2). I'm not sure

[2011-07-11 21:06] #447 closed, assigned to peller

[2011-07-11 22:10] JonFerraiolo commented on #598
I pulled down latest sources, and my git log shows commit 375e645 as being on my system, and I cleared my browser cache on both FF and Chrome. After all of this, on both FF and Chrome, when I try the example listed at top of bug report (two buttons, ...), I'm still seeing the second button's text changing color immediately upon bringing up color picker.
- New HTML File
- Add 2 buttons
- Select fir

[2011-07-11 23:58] JonFerraiolo opened #701 "M2 writes out extra attributes versus Preview 1"
@peller, @jhpedemonte, @childsb

Please read and review! I make a proposal at the bottom. If I don't see/hear any objections, I'll execute on that recommendation sometime soon.

The M2 release writes out some additional attributes on widgets versus the Preview 1 release. I'm pretty sure this is because our OAM files contain various defaultValue settings that were accurate for older versions of Dij

[2011-07-12 00:44] JonFerraiolo opened #702 "Theme editor and theme switcher warning if opening an old theme file"
@jhpedemonte, @childsb

Theme editor and theme switcher icon should check to see if the version# in the *.theme file matches the current version of Dojo that is used in the user's workspace, and if not, print a message that warns of potential problems and suggests recreating the custom theme from scratch using the current version of Maqetta and deleting the existing theme.

Ideally, this message w

[2011-07-12 03:05] jhpedemonte commented on #514
Previous 2 commits fix this particular issue, but **Label** still doesn't show up in **Outline** view.  I think this is related to `getChildren()` call in **widget.js**, which has a check for `this.acceptsHTMLChildren`.  This is falsy for **RoundRectList**, so code doesn't see Label as a child.

Quick fix might be to replace check for `acceptsHTMLChildren` with:

[code]

However, the code for `dav

[2011-07-12 13:52] jhpedemonte opened #703 "Add support for dijit.form.ComboButton"
@JonFerraiolo @peller

The docs for [dijit.Toolbar](http://docs.dojocampus.org/dijit/Toolbar) state that it can take any **Button**-based Dijit, including DropDownButton and **ComboButton**.  We support the first but not the latter.

[2011-07-12 14:00] jhpedemonte commented on #703
Same goes for **dijit.form.ToggleButton**, another Button-based Dijit.

[2011-07-12 14:50] JonFerraiolo commented on #514
IMO, at some point (maybe right away) we should replace all use of acceptsHTMLChildren with allowedChildren (or whatever it is called), or at least set acceptsHTMLChildren from allowedChildren rather than looking for a particular Dijit private function (_setContentAttr).

[2011-07-12 14:58] jhpedemonte commented on #514
Yes, that's what I was working on yesterday.  Will probably commit another patch this morning.

[2011-07-12 15:07] jhpedemonte commented on #692
I'm overloaded, reassigning to Brad.

[2011-07-12 15:28] jhpedemonte commented on #703
Assigning to Cindy for now.

[2011-07-12 15:43] peller commented on #703
to clarify, this issue is about supporting the widgets, not how they interact with dijit.Toolbar which presently has no restrictions on content in Maqetta

[2011-07-12 15:53] JonFerraiolo commented on #701
Maybe get rid of ioArgs, too

[2011-07-12 16:02] JonFerraiolo opened #704 "Migration script Preview1->Preview2"
@childsb, @jhpedemonte, @billreed63

Just before releasing Preview 2, we need to run a fixup script on all existing accounts at Maqetta.org:
- Delete .settings/libs.settings
- Add theme library to each users workspace (<library id="DojoThemes" name="DojoThemes" verion="1.7" virtualRoot="themes"/>)
- Just to be extra careful, update .settings/workbenchState.settings to clear out the list of open ed

[2011-07-12 16:37] childsb commented on #598
I think this is because you're modifying the theme rule for button with the first change.

if i add a button, then a text box i can change bg color of button and select the text box with no effect.

[2011-07-12 16:48] JonFerraiolo commented on #598
Sorry about reopening. When I change 'color' on a Button, the element.style gets updated, not the theme.

[2011-07-12 17:08] childsb commented on #692
Fixed with commit 9918fded5be76cc17615b85e14e1172b5c7839bf

[2011-07-12 17:08] #692 closed, assigned to childsb

[2011-07-12 17:11] childsb commented on #598
jon, are you sure? element.style isn't an option for "Button" with background-color in the cascade..  The top/default entry is [theme](copy and paste of cascade with a button selected):

[theme] .claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode (themes/claro/form/Button.css line:

[2011-07-12 17:12] childsb commented on #598
oh "color" as in the font color. sorry let me test..

[2011-07-12 17:14] jhpedemonte commented on #514
With latest checkin, any Dijit with `allowedChild` set to `'ANY'` (default) or that includes `'HTML'` will accept HTML children.

[2011-07-12 17:20] jhpedemonte commented on #703
When adding **ComboButton** and **ToggleButton**, make sure to add `"class": "DijitButtons"` to their **widgets.json** definitions.  See 8f9d2ef63be0199597d2e7fdc6003561fcecc042 for an example, using **DropDownButton**.

[2011-07-12 17:22] jhpedemonte commented on #514
Seems to be working well in limited testing.  Closing.  Open any issues as new bugs.

[2011-07-12 17:22] #514 closed, assigned to jhpedemonte

[2011-07-12 17:34] JonFerraiolo opened #705 "setTarget logic not working with mobile widgets"
@peller, @jhpedemonte

Something happened with a recent check-in. The logic that we have where we mask out most widgets so that mouse events (particularly click) is intercepted by an overlay DIV isn't working on some of the dojox.mobile widgets, with the result that attempting to click-select on those widgets causes the "moveTo" action to happen inside the Maqetta VE.

I will try to track this dow

[2011-07-12 17:37] JonFerraiolo commented on #705
Not a new bug. Was in yesterday morning's build, also.

[2011-07-12 17:49] JonFerraiolo opened #706 "dojox.mobile.ComboBox preview exception when inside RoundRect with LABEL"
@billreed63, @peller, @jhpedemonte

Jon to investigate. Maybe a dojox.mobile bug?
- New HTML File
- Add RoundRect
- Add LABEL inside of RoundRect
- Add dojox.mobile.ComboBox inside of RoundRect. (RoundRect now has a LABEL and ComboBox inside)
- Preview in browser
- Click on ComboBox to try to bring up menu

Result=> Uncaught TypeError: Cannot call method 'query' of undefined - dijit/form/_AutoComp

[2011-07-12 19:24] jhpedemonte opened #707 "Widget dijit.Menu has name "ContextMenu" <-- confusing"
The Dijit widget **dijit.Menu** has the short name of **ContextMenu**.  While working as a context menu is one of its functions, it isn't the only one (see http://docs.dojocampus.org/dijit/Menu).

This name might be confusing for users looking for the dijit.Menu widget.  Should probably just be renamed **Menu**.  Do you guys agree?

@JonFerraiolo @peller

[2011-07-12 20:30] JonFerraiolo commented on #707
Yes, I agree with the proposed change.

[2011-07-12 20:43] JonFerraiolo opened #708 "Provide better UI to pick parent widget at drop time"
@jhpedemonte, @peller, @jmockler

Related to #82, #665, #126, #193, #207

The issue here is that in common HTML authoring scenarios, the page will be organized with a large number of DIVs and SPANs where children sometimes have the exact same dimensions as their parent (or even multiple parents) and/or share 3 of the borders with its parent(s), thereby making it difficult to drop a widget into the

[2011-07-12 20:49] JonFerraiolo opened #709 "Review widget order in dojox.mobile"
@jhpedemonte

[2011-07-12 21:08] childsb commented on #598
Fixed this with checkin d64020486d37a52c22bca2c405e80fff1e021644

[2011-07-12 21:08] #598 closed, assigned to childsb

[2011-07-12 21:47] childsb opened #710 "yui calendar widget doesn't work"
1) create a new html file
2) add a YUI calendar widget
3) observer that only a div shows up
4) try and close the file
5) "win is null" error

[2011-07-12 22:44] peller opened #711 "silhouetteiframe has duplicate data"
@billreed63

There are hashes defined for themeMap and themeCssMap, once on the function instance, and once at the end of the file.  One should be removed.  Also, {} notation should be used to define a literal in a single instruction rather than Array notation [] and individual assignments.

[2011-07-12 23:59] peller commented on #646
IIRC, we were building these CSS files "by accident" along with the copy of Dojo in davinci.dojo_1_x plugins.  The Dojo build scripts basically crawl the directory and inline all the @import statements, in the Dojo directories as well as in peer directories.  When we created the plugins for Dojo 1.6 and 1.7, we checked in the built (optimized) Dojo and no longer ran the script which did the inlini

[2011-07-13 00:05] peller commented on #646
In the process of upgrading Dojo, we need to also upgrade the css in the claro metadata directories, and it should be the optimized version which we check in.

@billreed63: I thought I did this, but I don't see it in the logs.  Didn't you and I have that discussion?   I'm thinking it should be replaced with the built CSS for claro.css concurrent with checking in the plugin itself.

@waynevicknair:

[2011-07-13 00:27] JonFerraiolo opened #712 "Ask dojox.mobile team why theme CSS files set BODY visibility:hidden"
@peller, @billreed63, @jhpedemonte

The dojox.mobile theme files include BODY { visibility:hidden; } only to turn visibility:visible within JavaScript. Pretty sure this is to minimize flicker, but it messes up Maqetta and caused bug #700 (for which we submitted a workaround).

[2011-07-13 00:31] #700 closed, assigned to peller

[2011-07-13 00:35] JonFerraiolo opened #713 "Duplicate iphone.css files in user iframe"
I hope this one is very easy to fix. If not, OK to postpone to M3.

Do the following:
- New HTML File
- Add RoundRect
- Switch to iPhone silhouette
- Go into debugger and look at HEAD for inner iframe container the user's HTML doc

Result => 2 LINK elements for iphone.css. One has href="lib/.../iphone.css". The other has "./lib/...iphone.css"

[2011-07-13 01:53] peller commented on #27
I don't know what the timeline is, but there are projects underway to do exactly this, generating dynamic builds on the fly.  Zazl, requirejs, and Lotus all have efforts in this area.  The other option is to include some layer as part of the Dojo we deploy.  In fact, I think mobile.js (and the "base") should already be built.

[2011-07-13 02:37] jhpedemonte commented on #224
Went through all of the Dojo and HTML widgets and added `allowedChild/Parent` props as best I could.

One question: many of the container Dijits seem to only ever be used with **ContentPane** children, although I haven't seen any mention of this being a requirement.  For now, leaving those widgets as `"allowedChild": "ANY"`.

I think this bug is done.  Open new issues for any remaining bugs.

[2011-07-13 02:37] #224 closed, assigned to jhpedemonte

[2011-07-13 02:53] #691 closed, assigned to jhpedemonte

[2011-07-13 03:26] JonFerraiolo commented on #700
Post-commit comment: I did a little more research. If the order is load widget, then switch to silhouette, the load widget logic first adds the stylesheet needed by the widget (e.g., iphone.css) which sets BODY {visibility:hidden;}, then calls widget constructor, which sets BODY.style.visibility="visible", so the BODY is visible. But if the order is switch silhouette, then load first widget, the B

[2011-07-13 04:02] jhpedemonte commented on #590
Not sure what's going on with this.  `addChild()` comes from `_Container`, which has the following summary:

[code]

Whereas the description for `dojox.mobile.View` (which does mix in _Container) specifically says that it can handle HTML or widgets:

[code]

So there's a discrepancy here.  At the very least, there's a Dojo bug with the docs.  Adam, you agree?

[2011-07-13 04:08] peller commented on #590
That does sound like a direct contradiction, yes.  Add to the list of questions for the dojox.mobile team.

[2011-07-13 04:08] jhpedemonte commented on #590
Here's the dependency tree for `_Container` "subclasses":
- _Container
  - dijit.layout._LayoutWidget
    - StackContainer
      - AccordionContainer
      - _TabContainerBase
        - TabContainer
      - dojox.layout.RadioGroup
      - dojox.layout.RotatorContainer
    - BorderContainer
    - LayoutContainer
    - SplitContainer
    - dojox.layout.GridContainerLite
    - dojox.layout.TableConta

[2011-07-13 04:18] peller opened #714 "download themes/claro folder results in server exception"
- select themes/claro (or sketch) in the file explorer
- ctrl-click (mac) and choose download
- the file that comes down is empty (0 bytes)  The following appears on the server console:

00:16:44.579 [181720683@qtp-2038975040-1 - Acceptor0 SelectChannelConnector@0.0.0.0:8080] INFO  org.mortbay.log - org.mortbay.io.nio.SelectorManager$SelectSet@48a826da JVM BUG(s) - canceled keys 7 times
00:16:46.5

[2011-07-13 04:19] JonFerraiolo commented on #706
BIll, giving this to you, at least for starters. What I think I'm seeing is that if you follow the directions above, the DOM looks like this immediately after dropping the ComboBox:

[code]

but after SmartInput, things gets reordered to look as follows:

[code]

Somehow or other things are getting reordered in the DOM. I traced through some of the code, but maybe SmartInput is involved, and Bill

[2011-07-13 04:20] jhpedemonte commented on #590
Oh, I hate Dojo so much!

Using `isLayoutContainer` doesn't work, since not only is it set `true` by `_LayoutWidget` and descendants, but it is also set by `_ContentPaneResizeMixin`, which gets mixed in to `dijit.layout.ContentPane`.

Meaning that if we change `isLayout()` as I mentioned in the previous comment, then resize handles aren't shown for widgets inside of `ContentPane`.

Maybe do:

[cod

[2011-07-13 04:24] JonFerraiolo commented on #677
Was indeed caused by same thing as #598 and fixed by the commit that fixed #598: d640204

[2011-07-13 04:24] #677 closed, assigned to JonFerraiolo

[2011-07-13 04:27] peller commented on #714
in org.davinci.server.internal.command.Download.handleCommand, close is called twice, I think... then an additional time from org.davinci.server.DavinciCommandServlet.doGet

I think the zos.close() should be sufficient and will close the parent stream.  The catch(IOException) surrounding that should probably re-throw?  close() calls and temp file cleanup should be in finally blocks.

[2011-07-13 04:43] peller commented on #672
I didn't see this when I ran the tests on Chrome/Mac

[2011-07-13 12:47] billreed63 commented on #711
removed duplicate data

[2011-07-13 12:47] #711 closed, assigned to billreed63

[2011-07-13 13:40] JonFerraiolo commented on #672
@waynevicknair: wayne, can you try to reproduce this? I'm not seeing this bug, either. If you can't reproduce, please close.

[2011-07-13 13:47] JonFerraiolo commented on #224
Regarding only ContentPane children, you mean BorderContainer, TabContainer and Accordion for example? For those, I'm pretty sure we should only allow ContentPane children. This will greatly help prevent users from getting themselves into trouble via drag/drop on canvas or drag/drop on Outline palette if Maqetta prevents accidental dropping of (for example) a Button as a direct child of a TabConta

[2011-07-13 14:11] cindyskach opened #715 "Create new file results in type error in debugger"
- new HTML file
- go into debugger
  The console gives the following error: TypeError: Cannot call method 'removeChild' of null

I noticed this with my latest pull from git this morning.
Testing in Windows/Chrome

[2011-07-13 14:52] childsb commented on #714
resolved the exception with commit 26fd45e77e0972d49e15a9f1a58fe058b2cfca61

[2011-07-13 14:52] #714 closed, assigned to childsb

[2011-07-13 15:03] waynevicknair commented on #672
cannot reproduce on Safari 5.0.5 on maqetta-20110713-0902.zip build. closing.

[2011-07-13 15:03] #672 closed, assigned to billreed63

[2011-07-13 15:32] JonFerraiolo opened #716 "Double-click on (read-only) claro.theme brings up theme editor"
@billreed63

If you go into Files palette and double-click on claro.theme or sketch.theme, the theme editor comes up. That's a good thing to do down the road once we instrument the theme editor to deal with read-only themes (so theme editor comes up in view-only mode), but we don't have that today, and we have instrumented the "Open->Theme Editor" command to only allow users to open cloned themes.

[2011-07-13 15:32] jhpedemonte commented on #460
Also commit d0d6d1c18254015e03fa.

[2011-07-13 15:35] #590 closed, assigned to jhpedemonte

[2011-07-13 15:49] billreed63 commented on #715
removed extra removeChild on loading div

[2011-07-13 15:49] #715 closed, assigned to billreed63

[2011-07-13 16:36] jhpedemonte commented on #715
Commit e49c3e8a274f7ffc6907

[2011-07-13 17:20] billreed63 commented on #460
put setDevice in setTimeout in ve.context.js so chrome will display mobile device correctly on editor load

July 2011

[2011-07-13 17:20] #460 closed, assigned to billreed63

[2011-07-13 17:24] billreed63 commented on #143
This was fixed with issue #460

July 2011

[2011-07-13 17:24] #143 closed, assigned to billreed63

[2011-07-13 17:30] billreed63 commented on #713
issue resolved by #460

[2011-07-13 17:30] #713 closed, assigned to billreed63

[2011-07-13 18:36] jhpedemonte opened #717 "Heading and "allowedChild: HTML" : Outline shows DIV and SPAN children to Heading"
**dojox.mobile.Heading** can take HTML children, according to [examples](http://docs.dojocampus.org/dojox/mobile/Heading).  For example:

[code]

However, when adding Heading to page, the **Outline** view shows **DIV** and **SPAN** children for Heading, which isn't correct. (Well, those children are there in the DOM, but they aren't Maqetta-managed widgets.)

Issue is in `Context.attach()`, which

[2011-07-13 18:47] JonFerraiolo opened #718 "Exception in built version running tutorial in _updatePickerLocations"
@jhpedemonte

I pulled down today's build and tried to go through our standard tutorial using Win/FF and Win/Chrome, and on both browsers I ran into an error when adding a CombBox widget to the page. In Win/FF5, I got an exception in _updatePickerLocations because 'col' is undefined (second line the routine, I believe). The stack trace shows this is coming very indirectly from _updateCascadeList.

[2011-07-13 18:49] billreed63 opened #719 "Calendar widget exception when dragging"
Select the Calendar. There should be resize handles for both Width and Height and the Width and Height properties should be enabled on the Properties palette. Change both the width and the height on the Properties palette. You will get a prompt asking ok to change global CSS rule. Answer yes.
Select the Calendar. The Position property should say either "relative" or "static". Try to move the widge

[2011-07-13 18:51] jhpedemonte opened #720 "Support "allowedAncestors" in widget metadata"
`dojox.mobile.ToolBarButton` must reside inside of a `dojox.mobile.Heading`.  But it doesn't have to be an **immediate** child -- it can be a level or more deeper in the DOM tree.  Here is an example from the Heading docs:

[code]

Notice the 2 ToolBarButton widgets inside of a <table> inside of Heading.

(Another example:  mobile widgets that must be inside of a `dojox.mobile.View` or inheriting

[2011-07-13 18:53] jhpedemonte commented on #720
My first instinct is to not add another prop (i.e. `allowedAncestor`), but rather to support some form of decoration inside of `allowedParent`.  For example:

[code]

An asterisk would denote _ancestor_.  But have yet to think about how this would be coded, and if it would be efficient.

[2011-07-13 19:01] jhpedemonte opened #721 "TabBar (mobile) can be used as tab container -- need to investigate"
Docs for `dojox.mobile.TabBar` say this:

Currently, metadata for TabBar specifies `"allowedChild": "dojox.mobile.TabBarButton"`, so it can only take **TabBarButton** children.

Need to find out how TabBar can be used as a tab container and what changes would be needed to the TabBar metadata.

[2011-07-13 19:08] jhpedemonte opened #722 "dijit.Menu inline edit does not allow adding CheckedMenuItem, MenuSeparator, PopupMenuItem"
**dijit.Menu** is used by **MenuBar**, **DropDownButton** and others.  But the inline edit for this widget is rather limited -- it only allows adding **MenuItem** children.

But the inline edit does not allow the user to add any of the advanced menu widgets:  **CheckedMenuItem**, **MenuSeparator**, **PopupMenuItem**.  Drag/drop of these widgets on to a Menu (such as those in a MenuBar widget) don'

[2011-07-13 19:12] jhpedemonte opened #723 "Support "HTML" keyword in allowedParent/allowedChild"
Add support for special keyword **"HTML"** in `allowedParent` & `allowedChild` metadata props.  It would signify any HTML widget.

Not necessary for milestone M2, since no metadata specifies this keyword yet.

See #717

[2011-07-13 19:24] jhpedemonte opened #724 "Change layout widgets to only allow ContentPane children?"
Spun off from #224:

@jhpedemonte said:

@JonFerraiolo replied:

[2011-07-13 19:25] jhpedemonte commented on #224
Spun of last question as separate issue #724.

[2011-07-13 19:28] jhpedemonte commented on #724
Not as easy as I previously thought -- I found an [example for BorderContainer](http://docs.dojocampus.org/dijit/layout/BorderContainer) (under "Nested Layout Widgets") where instead of ContentPane children, the BorderContainer has **TabContainer** and **AccordionContainer** children.

So while we wouldn't want **Button** as a direct child, there can be non-ContentPane children.  Not sure what the

[2011-07-13 19:54] JonFerraiolo commented on #721
@peller
Maybe the dojox.mobile team is thinking that you can effectively have the same thing as a TabContainer by combining a TabBar with various *View elements, with no parent/child nesting, but instead integrated manually via setting IDs and moveTo attributes? But we should indeed ask.

[2011-07-13 21:23] childsb commented on #718
Fixed with commit cfde61d394e5a384edc9f06f51cf5ecdb5cbf6e5

[2011-07-13 21:23] #718 closed, assigned to childsb

[2011-07-13 22:00] childsb opened #725 "no "widget specific" properties for <div>"
1) create a new HTML file
2) add a DIV
3) select the DIV
4) Expand "widget specific" properties
5) observer there is no "content" field (per properties palette basic tests part 2)

[2011-07-13 22:45] childsb commented on #725
no "widget specific" properties for table, h1, h2, span or HTML Rich Text either.

[2011-07-13 23:20] JonFerraiolo opened #726 "Mobile preview-in-browser broken on Firefox"
@billreed63

After adding mobile theme switching logic, preview-in-browser usually doesn't work on Firefox due to timing issues for when iframe HTML and silhouette SVG are loaded.

[2011-07-13 23:22] #726 closed, assigned to JonFerraiolo

[2011-07-13 23:27] JonFerraiolo commented on #725
Closing as dupe of #641. Copied some of the content to the other bug.

[2011-07-13 23:28] JonFerraiolo commented on #641
Brad pointed out in #725: no "widget specific" properties for table, h1, h2, span or HTML Rich Text either.

[2011-07-14 02:52] #646 closed, assigned to peller

[2011-07-14 04:39] #538 closed, assigned to peller

[2011-07-14 04:52] jhpedemonte commented on #690
This was already fixed by 20f59eacc890f1188e584557d723b07a6062c374 as part of #224.

[2011-07-14 04:52] #690 closed, assigned to jhpedemonte

[2011-07-14 04:56] #524 closed, assigned to jhpedemonte

[2011-07-14 05:15] jhpedemonte commented on #705
Where is the code that puts the overlay DIV?

[2011-07-14 05:26] peller commented on #705
I think it's `this._feedback` in davinci/ve/tools/_Tool.js

[2011-07-14 14:48] JonFerraiolo commented on #705
Incidentally, I think I've figure out the ins and outs for _setTarget. I'll add comments to the code to document what I've learned. Still working on this bug, though.

[2011-07-14 15:22] jhpedemonte commented on #705
Whatever we come up with needs to work for the following scenario:
- Drop mobile View.
- Drop Heading into View.
- With Heading selected, in Properties->Widget specific, set "back" to "view2".
- Drop ToolBarButton into Heading.

Should be able to select Heading and ToolBarButton.  But clicking on the back button labeled "view2" should have no effect.

[2011-07-14 17:06] jhpedemonte commented on #686
This is what I just did and seems to work well:

Dropped first View and added Heading and ListView.  Then hid that View in Outline and dropped a 2nd View.  Added Heading.  Hid this one through Outline and dropped a 3rd View.  Added Heading.  Made appropriate changes to ListView items went to _view2_ and _view3_, and Headings in those views went back to _view1_.

That worked well for me and didn't

[2011-07-14 17:43] #705 closed, assigned to JonFerraiolo

[2011-07-14 18:29] childsb commented on #698
i traced this down to the iframe states.js.

the states code saves the style for the widget on the widget (in it's own data structure).  the px piece is being added somewhere around this area.  it's not being added in the properties palette.

i'll keep looking into this as time permits unless someone else has a chance to look at it.

[2011-07-14 19:52] billreed63 commented on #702
Added message, ok cancel  that is displayed at bottom of theme switch dialog if theme selected is different version,
If user selects ok session cookie is added so message will not be displayed again.

Added dialog that is displayed when theme editor is opened if theme does not match dojo version. session cookie is added.

cookie is themeName+version
July 2011

[2011-07-14 19:52] #702 closed, assigned to billreed63

[2011-07-14 20:12] #698 closed, assigned to childsb

[2011-07-14 20:14] JonFerraiolo opened #727 "Sample1.html dialog disappears upon clicking "+" icon in Properties palette"
Need to research this bug to see how critical it is to fix for M2. Might have been in Preview 1 release.
- Open Sample1.html
- In states palette, go to "add task" state
- Select dialog (actually, a ContentPane)
- In Properties palette, go to Layout section, and click "+" icon by width property

Result=> ContentPane disappears

[2011-07-14 21:02] waynevicknair commented on #377
i tested login (for existing reviewers) and register (for users that need to sign up). existing users get redirected to r&c after they successfully log in (instead of being redirected to the "Launch App" page). users who sign up go through the normal sign up procedure. after they click on the activation link in their activation email, they are shown their activation status and (if activation was s

[2011-07-14 21:02] #377 closed, assigned to waynevicknair

[2011-07-14 21:26] JonFerraiolo commented on #727
Problem also exists in Preview 1 release. To workaround problem, simply click twice on eyeball in outline palette. Pushing to M3 since no one has reported this against Preview 1.

[2011-07-14 21:32] billreed63 opened #728 "elements are reordered in RoundRect"
1) Create a new html file
2) Drop mobile RoundRect
3) Drop html label in RoundRect, cancel smart input
4) Drop mobile Button in RoundRect, cancel smart input

You should have a document structure like:
- RoundRect
  - Label
  - Button

6) Select button, from the properties palette select Widget Specific->Label change the label

Notice that the Button now moves in front of the label in the page des

[2011-07-14 21:37] billreed63 commented on #706
changed the combobox create tool to always place data list  the first element under the body tag. The DataList must be parsed and created by dojo before combobox attempts to use it.

I still see and issue with the combobox jumping in front of the label after editing issue #728, but this is a more wide spread bug than just combobox

July 2011

[2011-07-14 21:37] #706 closed, assigned to billreed63

[2011-07-14 21:56] #701 closed, assigned to JonFerraiolo

[2011-07-14 22:01] JonFerraiolo opened #729 "Better algorithm for writing out properties in source code"
Right now the code decides whether to write out an attribute on a widget by doing a string compare of the property's default in the OAM file versus the current value on the widget. For M2, I had to comment out a couple of attributes that were resulting in particularly hideous source code (see #701). The problem in #701 was partly the result of the OAM file including a duplicate default value versu

[2011-07-14 22:24] JonFerraiolo commented on #398
@jhpedemonte

Also need to do new HTML5 tags. See http://www.w3schools.com/html5/html5_new_elements.asp. Already had a user requesting <video>. That's probably the highest priority of the HTML5 elements. The new elements for structured documents are low priority - we are doing apps, not docs. The new web forms stuff is also lower priority - way lower priority than the existing form elements: <inpu

[2011-07-14 23:08] peller commented on #729
A particularly challenging case is style.  We need to know whether the style was explicitly set by the incoming markup or by the user (properties?  source code editor?) rather than dynamically by the widget.  The latter should not be serialized.

[2011-07-15 02:48] jhpedemonte commented on #686
Checkin fixes this for the most part.  I had to resort to using a `setInterval()` since there wasn't any event I could latch on to.  But I made sure to add enough checks so it doesn't cause issues.

One scenario that still isn't fixed:
- Drop a View.
- Drop a View inside of that View.
- In Outline, drag inner View to be sibling of outer View.

The result is that there are 2 Views now visible in th

[2011-07-15 04:22] #506 closed, assigned to JonFerraiolo

[2011-07-15 04:24] JonFerraiolo commented on #709
Fixed by 9712066573d8bfdaa1f1

[2011-07-15 04:24] #709 closed, assigned to JonFerraiolo

[2011-07-15 04:37] jhpedemonte commented on #728
I cannot recreate.

First, since this is mobile stuff, there should really be a top level View/ScrollableView/SwapView.  But either way, with or without a View, I didn't see the reordering.

[2011-07-15 04:42] jhpedemonte commented on #729
Yes, maybe `style` could be a special case.

In general, we could have a `getDefaultValue()` API whose default action is to do as you describe: compare against the OAM properties.

But JS libs could override that and provide their own mechanism for getting the default value.  Actually, not sure if there is way in Dojo to query default values for Dijits, is there?

[2011-07-15 04:55] jhpedemonte commented on #588
Moving this to M3.  Any fix is too risky right now.

[2011-07-15 13:17] JonFerraiolo commented on #712
Adam, could you please draft an email to the dojox.mobile developers and cc Javier, Bill and me? Also, I thought there was one more "ask the dojox.mobile team" issue but I haven't been able to find it.

[2011-07-15 13:40] JonFerraiolo commented on #710
@waynevicknair

Javier, a build issue, right? Maybe reassign to Wayne? Or is this a dupe?

[2011-07-15 13:53] JonFerraiolo commented on #686
I played with it some this morning and so far looks good enough for M2. Maybe close this bug and create other bugs for things we need to do in M3?

[2011-07-15 14:58] #686 closed, assigned to jhpedemonte

[2011-07-15 15:10] waynevicknair commented on #710
the 'gnat.dojo.reliam.com' external builds have included the jquery and yui widgets since 6/17/2011.

[2011-07-15 15:54] billreed63 commented on #688
regex stripping white s from end of word

July 2011

[2011-07-15 15:54] #688 closed, assigned to billreed63

[2011-07-15 16:45] peller commented on #719
See also #65, #659, #668

[2011-07-15 16:54] JonFerraiolo commented on #710
YUI calendar works for me on latest nightly build on maqetta.org/nightly, so closing this.

[2011-07-15 16:54] #710 closed, assigned to jhpedemonte

[2011-07-15 16:57] billreed63 commented on #668
We can easily remove the inline edit.

Not having a selected date set is what is causing the "Invalid Date" when we retrieve the calendar widgets value attributed a Date object is returned from dijit but no value is set. So attempting to get the data string from the data object return invalid date.

If we leave the widget with the selected date (value) unset, when the user goes to the properties p

[2011-07-15 17:00] jhpedemonte commented on #687
Heading currently defines this in widgets.json:

[code]

Shouldn't SmartInput only update the **label** prop, and not overwrite **innerHTML**?  Or am I misunderstanding the **inlineEdit** properties?

[2011-07-15 17:04] peller commented on #668
Perhaps the smart inline edit could just check for the unselected state (isNaN(dateObject) is truthy) and display an empty string?  Setting an empty string back to a Date constructor would complete the cycle.

[2011-07-15 17:18] JonFerraiolo commented on #668
Adam's suggestion is definitely worth a quick try.

[2011-07-15 17:46] billreed63 commented on #687
it should...

[2011-07-15 17:46] #687 closed, assigned to billreed63

[2011-07-15 17:59] billreed63 commented on #668
Sorry did not explain this well, Smart Input is easy to fix,

If we do not set a selected date, when the widget properties palette is display the  widget specific-> value will be "Invalid Date" The reason for this value is that the Calendar widget is define with the
 "value": {
            "datatype": "string",
            "format": "date",
            "title": "Value"
        },

So the widget pr

[2011-07-15 18:55] billreed63 commented on #668
July 2011

[2011-07-15 18:55] #668 closed, assigned to billreed63

[2011-07-15 19:00] peller commented on #668
See #458 also http://bugs.dojotoolkit.org/ticket/13362 regarding the null vs. Date("")/NaN issue

[2011-07-15 19:29] billreed63 commented on #666
added inline edit for mobile.TabBar and mobile.TabBarButton

July 2011

[2011-07-15 19:29] #666 closed, assigned to billreed63

[2011-07-15 19:44] billreed63 opened #730 "Define inline-edit for dojox.mobile.SpinWheelSlot"
Need to define the inline-edit for SpinWheelSlot
Can be either a range of numbers (using properties labelFrom and labelTo) or an array of strings (i.e. ['A', 'B', 'C'])

[2011-07-15 19:45] billreed63 commented on #519
creating seperate issue for SpinWheelSlot. #730

July 2011

[2011-07-15 19:45] #519 closed, assigned to billreed63

[2011-07-15 19:49] peller commented on #616
A little dyslexia.  That should have closed #661.

[2011-07-15 19:50] peller commented on #661
Conflict between overlay div in dojox/mobile/scrollable.js  Disabled the scrolling mechanism in a helper.  Fixed by 9aa897b77c519c53f372d0bb52cbb066593a3304

[2011-07-15 19:50] #661 closed, assigned to JonFerraiolo

[2011-07-15 19:53] #113 closed, assigned to peller

[2011-07-15 19:53] #17 closed, assigned to peller

[2011-07-15 20:15] peller commented on #719
can no longer recreate this. perhaps it was fixed by 17d36204c867c3e85526ae3f234e24e07d330328

[2011-07-15 20:24] #719 closed, assigned to peller

[2011-07-15 20:31] jhpedemonte commented on #523
I'm still leaning towards keeping this as is and not having an inline edit for the List widgets.

For one thing, the individual widgets here (**ListItem**) are much different than in order sort of list widgets (i.e. `<option>` elements in `ComboBox`).  There's a lot more to them than just the label, which is all we could change in adding inline edit to RoundRectList/EdgeToEdgeList.

Especially whe

[2011-07-15 20:57] JonFerraiolo commented on #523
I'm strongly in favor of inline edit for these two *List widgets. Also, *DataList. 'm not seeing why RoundRectList and EdgeToEdgeList is any different than ComboBox, either from the point of view of the user or the point of view from a Maqetta core code developer, especially given that we are offering inline edit on all sorts of other similar container widgets. Just from a consistency perspective,

[2011-07-15 20:58] JonFerraiolo commented on #523
Note: if this is difficult or risky or we just plain run out of time, OK to postpone inline edit on the container widgets until M3.

[2011-07-15 21:08] jhpedemonte commented on #523
This is different than a ComboBox, in that the user can select the individual widgets in a RoundRectList, but cannot do so in a ComboBox.

How is inline edit going to work for these *List widgets?  There is no UI that belongs to the List widget -- it consists entirely of its children widget.  So when a user double-clicks, they'll be double-clicking on a ListItem, not a RoundRectList.  That means w

[2011-07-15 21:08] JonFerraiolo commented on #616
After thinking about this for a total of about 10 seconds, because of limited real estate when authoring for cell phones, maybe we need a special notes area that is separate from and right next to the page canvas (e.g., placed at right edge of mobile silhouette), and allow authors (and maybe reviewers) to put sticky notes into that notes area.

[2011-07-15 21:26] jhpedemonte opened #731 "Add metadata for non-children dependent widgets"
@JonFerraiolo @billreed63 @peller

We have some widgets (particularly data-bound widgets) that require a non-child, sibling widget to be created during the widget creation process.

Take, for example, **dijit.Tree**, which requires an **ItemFileReadStore** and a **ForestStoreModel**.  These aren't children, but must be created in the page in order for Tree to work.

The standard procedure has been

[2011-07-15 21:27] JonFerraiolo opened #732 "View 'height' changes get wiped out"
@jhpedemonte, @peller, @billreed63

(Need to investigate to determine just how bad of a bug this one is)

I created the following file:
- Outer View
- Inside this View
  - TabBar (with 2 buttons: v1 and v2)
  - View (id=v1, with RoundRectList inside)
  - View (id=v2, with RoundRectList inside)
  - Remove the height value of 100% on v1 and v2
  - Save, reopen

Result=> heights revert to 100%

[2011-07-15 21:34] jhpedemonte commented on #515
@billreed63, looks like the 3 widgets mentioned in the summary can all use **ItemFileReadStore**.  Looking in widgets.json, I assume I'd have to create a `"data"` prop and a custom **CreateTool** object in order to make this work, correct?  Is there an existing widget which is the simplest, which I can use as a guideline?

[2011-07-15 21:36] JonFerraiolo commented on #523
I was wrong to compare to ComboBox. It's more like dijit.Toolbar and dojox.mobile.TabBar, and to some extent DIV and SPAN. For those widgets, you can do inline edit on the container or the individual children. If you do inline edit on the container, the children get replaced. To bring up inline edit on the container, either double-click on an area of the screen that belongs to container but doesn'

[2011-07-15 21:44] JonFerraiolo commented on #731
For the ItemFileReadStore and ForestStoreModel issue, we have been working with the dojo.store and dojo.mvc guys to make it so that we can somehow include data as part of the widget's element. This was after some long email discussions explaining how phantom elements for ItemFileReadStore and ForestStoreModel made it difficult for authoring tools. I don't remember the details about what exactly th

[2011-07-16 14:41] JonFerraiolo opened #733 "Modify*Command: mixin approach wipes out property removal actions"
@billreed63, @jhpedemonte, @childsb, @peller

Generalization of bug #732

I think we have a logic bug with the way the Modify_Commands are implemented. Suppose the metadata sets a value on a particular widget-specific property or a particular styling property. This causes an explicit value to appear in the Properties palette by default. Now suppose the user wants to clear out that property value.

[2011-07-16 17:38] #732 closed, assigned to JonFerraiolo

[2011-07-16 17:47] JonFerraiolo commented on #733
WIth commit f1963e4, I believe I have fixed at least part of this problem. I think the logic for transferring styling properties from old widget to new widget is now solid. We still need to research other widget properties to see what happens if the metadata includes a specific value, the user removes that value in the properties palette, and then one of the Modify*Commands are executed (e.g., cha

[2011-07-16 18:37] JonFerraiolo commented on #728
I just saw this with IconContainer:
- New HTML file
- Add a View
- Add an IconContainer inside of View
- Select first IconItem
- In Properties palette, and to to Widget-Specific, then change 'icon' property to SampleBanner.jpg

Result => on screen, first IconItem correctly gets SampleBanner.jpg, but it gets incorrectly moved after second IconItem on the page canvas. As Bill reports above, source c

[2011-07-16 18:47] peller commented on #728
Confirmed.  I'll try to take a look at this tomorrow night.

[2011-07-16 19:13] JonFerraiolo opened #734 "dojox.mobile addChild doesn't have second "insertIndex" parameter"
@peller, @billreed63, @jhpedemonte

Per bug #728, if you change Widget-Specific properties on an IconItem that is a child of an IconContainer, the IconItems gets reordered, with the altered IconItem becoming the last child of the IconContainer.

Digging deeper into what's going on, there are some serious widget management things happening with the dojox.mobile.Icon\* widgets. If you look at the DO

[2011-07-16 19:13] JonFerraiolo commented on #728
I did some digging into the second scenario. See #734

[2011-07-16 20:18] JonFerraiolo commented on #522
Moved to M3 and reassigned to me. We have other dijit widgets with excessive properties, so this isn't a big deal.

[2011-07-16 20:29] JonFerraiolo commented on #728
I tried the first scenario and couldn't reproduce in Mac/Chrome, but I can reproduce the second scenario.

[2011-07-16 20:40] JonFerraiolo commented on #683
I moved this from M3 to M2 because I think we need to have the META tags before shipping. The reason is that I tried to actually view a Maqetta-created UI mockup on my iPhone. (Method I used: I created an HTML file, then downloaded a ZIP with Dojo inside, uploaded to a web server, and then brought up the page on my iPhone.) Without the META tags, the page comes up as a standard desktop UI. With th

[2011-07-16 21:29] JonFerraiolo opened #735 "Missing some HTML events (e.g., onchange)"
Need to do a systematic research of event attributes on HTML elements and various widgets. At least one is missing (onchange for form elements/widgets).

[2011-07-16 21:45] JonFerraiolo opened #736 "dojox.mobile.Button missing btnClass from base class"
@peller, @childsb, @jhpedemonte, @billreed63

In Maqetta, the bug is that for dojox.mobile.Button, property btnClass value is not persisting across save, close, reopen. Steps to reproduce:
- New HTML file
- Add View
- Add mobile Button
- Under Widget-Specific, set btnClass to 'foo'
- Save, close, reopen

Result=> In Properties palette, btnClass is empty even though source view shows btnClass="foo"

[2011-07-16 21:45] JonFerraiolo commented on #733
Might be same as #736

[2011-07-17 04:40] JonFerraiolo opened #737 "Exception if changing widget-specific properties when no selection"
@billreed63, @peller, @childsb, @jhpedemonte

If nothing is selected and you change any of the widget-specific properties (left over from previous selection), you get an exception in getParent() within widget.js:

[code]

To reproduce:
- New HTML file
- Add a dijit.form.Button
- Bring up Widget-Specific properties
- Close the file
- New HTML file
- NOTE: Widget-Specific properties will reshow the

[2011-07-17 16:13] JonFerraiolo opened #738 "ListItem should have isContainer:true, allowedChild:Switch"
@billreed63, @peller

(Temporarily classified as M2 so that it gets its day in court, but if too difficult or risky for M2, then M3)

There is an example in https://docs.google.com/document/pub?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E#h.aeva9ex1ln7g that shows a Switch as a child of a ListItem. This seems like a common UI design scenario and we should support it. But there are some small-to

[2011-07-17 16:25] JonFerraiolo opened #739 "Widget-specific properties need to be integrated with states"
We have CSS properties integrated with the states feature where it is possible to cause CSS property changes as the application switches from state to state, but we don't support changing widget-specific properties adjusting based on state. Two examples are  button text and whether checkbox is checked - the UI designer might want different attributes depending on the state.

[2011-07-17 16:42] JonFerraiolo opened #740 "Need to review widget-properties on dojox.mobile.CheckBox and RadioButton"
@peller

I don't see docs on dojox.mobile.CheckBox and RadioButton, so maybe the widget metadata was assembled by looking at source code. A couple of questionable things with metadata on dojox.mobile.CheckBox today:
- There is a 'baseClass' property with defaultValue:'mblCheckBox', but the dojox.mobile code seems to add class='mblCheckBox' automatically similar to other classes that are added auto

[2011-07-17 16:53] JonFerraiolo opened #741 "dojox.mobileTextBox, ComboBox, TextArea inline edit reparents to previous DIV"
@billreed63, @jhpedemonte
- New HTML file
- Add a View
- Add a DIV
- Into the DIV, put a RadioButton and an &lt;label>
- Add a dojox.mobile.TextBox under the DIV
- Double-click on TextBox and change text to "aaa"

Result=> dojox.mobile.TextBox gets reparented and appears on screen between the RadioButton and the LABEL

Same thing with dojox.mobile.ComboBox and TextArea

[2011-07-17 17:41] JonFerraiolo opened #742 "Exception when adding extra TabBarButton to TabBar via inline edit"
@jhpedemonte
- New HTML File
- Add View
- Add TabBar widget
- When inline edit comes up upon widget creation, add ",abc" to end of inline edit so that there are now 4 values entered

Result=>

[code]

What's curious is that the metadata object seems to be pointing to a dijit.form.button instead of a dojox.mobile.TabBarButton

[2011-07-17 19:43] JonFerraiolo commented on #741
I have partial understanding of what's going wrong here. It looks like addChild() from _Container is getting called, and it is looking for a dijitWidget after which to put the revised ComboBox. But we really shouldn't be calling dijit to do the addChild in this case and instead should be doing it in Maqetta code because we need to re-inject the revised ComboBox as a child of a DIV, which isn't (of

[2011-07-17 22:22] JonFerraiolo commented on #741
I have a proposed fix, reassigning to Javier to review and decide if this fix is good.

First, change widget.js:1552 to:

[code]

Then change allowedChild for TabContainer, Accordion, and BorderContainer from "ANY" to "dijit.layout.ContentPane". The reason for this change is that although technically Dijit sometimes works with arbitrary content for these 3 widgets, we don't have all of the code in

[2011-07-18 02:29] jhpedemonte commented on #523
Again, this is the part that makes it tricky for these to List containers: there is no chrome that belongs to the container, so the only option is to double-click on the selection box.  And that is **very unintuitive**.  It would be good if there were another way to handle this.

[2011-07-18 02:40] jhpedemonte commented on #734
So this is caused by the fact that, in Maqetta, when changing a property, we **recreate the widget entirely**, right?  Is there a reason for that?  Should we just attempt to modify the prop on the existing widget, rather than recreating anew?

[2011-07-18 03:13] peller commented on #729
Just look at the prototype of the declaredClass?

[2011-07-18 04:45] JonFerraiolo commented on #734
It depends on the command. For some commands, we have figured out how modify a widget in place, but the ultimate fallback is to recreate the widget. In some situations, we probably could figure out how to modify a widget in place, but haven't written the code yet. But we've been through this discussion multiple times in the past, and have proven to ourselves that there will always be operations wh

[2011-07-18 13:46] peller commented on #734
filed ticket http://bugs.dojotoolkit.org/ticket/13470

[2011-07-18 13:57] peller commented on #712
Haven't heard back yet, but it seems like with the workaround, this shouldn't be an M2 issue.

[2011-07-18 14:15] billreed63 commented on #731
Having prereq widgets declared in widget.json sounds like a good idea. Using the DataGrid, mobile.ComboBox Tree as examples.. The key to creating these widgets is to first create the DataStore, when creating the data store we need to generate a unique id for that data store, and save that id to pass to the widget as a parameter. The data store should also be attached at the top of the document and

[2011-07-18 14:18] billreed63 commented on #515
DataGrid is a good example

[2011-07-18 14:26] billreed63 commented on #523
I have not spent a great deal of time looking at RoundRec but I though  RoundRec requires a ItemFileReadStore which would make it closer to mobile.ComboBox, or DataGrid. When you edit RoundRec the ItemFileStore gets reaplace.

[2011-07-18 14:39] JonFerraiolo commented on #734
Any chance of direct discussion with the engineers to determine when such a fix might be available? If a fix isn't imminent, then for #728, maybe with each change to an IconItem we will need to delete/recreate the containing IconContainer.

[2011-07-18 14:41] JonFerraiolo commented on #728
Regarding second scenario with IconContainer/IconItem, if we don't get a quick dojox.mobile fix for #734 (dojox.mobile needs to support 2nd parameter on addChild), then maybe with each change to an IconItem we will need to delete/recreate the containing IconContainer.

[2011-07-18 14:49] billreed63 opened #743 "SmartInput should get widget childType from metaData"
ToolBar and TabBar have childType declared in the class, this information is in the widget.json meta data. We should retrieve child type from the widget metadata.

Other widget may also do the same thing so all SmartInput classes should be checked.

[2011-07-18 14:50] billreed63 commented on #742
I was reusing ToolbarInput.js which declares the childtype
instead od retrieving from metadata. For M2 I created a new
TabBarInput.js that declares the correct child class. Issue #743 is
for the proper fix for M3

[2011-07-18 15:02] billreed63 commented on #742
July 2011

[2011-07-18 15:02] #742 closed, assigned to billreed63

[2011-07-18 19:03] peller commented on #736
btnClass, while noted in the [1.5 documentation](http://docs.dojocampus.org/dojox/mobile/Button), does not seem to be in the Button.js code.  I filed a [ticket at Dojo](http://bugs.dojotoolkit.org/ticket/13474) about this, which I'll monitor.  I'll take this out of the button metadata.

[2011-07-18 19:21] waynevicknair opened #744 "Oops... update 'config.ini' in 'updateZip' target"
the 'updateZip' target attempts to patch the 'config.ini' file to add the start command for the joomla bundle. however, the 'updateZip' target is pointing at the wrong file name.

[2011-07-18 19:23] #744 closed, assigned to waynevicknair

[2011-07-18 20:09] billreed63 commented on #461
EdgeToEdgeDataList and RoundRecDataList appear to have a different implementation of DataStores than DataGrid or Tree.
With DataGrid we could create the ItemFileReadStore and the DataGrid using a declarative approach. We would assign the data store an ID and then use that id as a parameter to the data grid.

EdgeToEdgeDataList and RoundRecDataList do not support this, from what I can determine the

[2011-07-18 21:00] jhpedemonte commented on #523
@billreed63 - You're thinking of **RoundRectDataList**, which does work with a **store**.  RoundRectList and EdgeToEdgeList are just declarative and work with **ListItem** widgets.

[2011-07-18 21:13] jhpedemonte commented on #461
I don't see why there would be a difference.  As far as I know, you should be able to declaratively create a store, assign it a **jsId**, and then reference that jsId in the **store** attribute for *DataList.

What error did you see when trying that?

[2011-07-18 21:25] jhpedemonte commented on #461
I was able to modify **dojox/mobile/tests/test_EdgeToEdgeDataList.html** to specify the ItemFileWriteStore declaratively.  Of course, the data used by the store is still defined in JS, so not sure how much that gets us.

[2011-07-18 21:40] #736 closed, assigned to peller

[2011-07-18 21:52] jhpedemonte commented on #683
The [OAM spec](http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Widget_Metadata#require_element) allows for a type attribute of `markup` for **require elements**.  We could specify this the View, ScrollableView and SwapView widgets:

[code]

The code that adds this would obviously check for duplicates, based on the `name` attr to the `<meta>` tag.

The other option is to add

[2011-07-18 22:06] billreed63 commented on #461
It was my bug, I was missing a parm

[2011-07-18 22:49] JonFerraiolo commented on #683
@jhpedemonte I was hoping you would figure out the best approach in dealing with OAM issues and I wouldn't have to think. :-) But now that I'm thinking, here are some options:

1 Main container widgets (View, etc.) include REQUIRE TYPE="markup" as you show above
2 All dojox.mobile widgets include REQUIRE TYPE="markup". Although most of the time you need a View, in a percentage of cases you don't.

[2011-07-19 04:04] jhpedemonte commented on #683
From what I found, the meta tags are used by most mobile browsers, not just Safari on iOS.

I hadn't thought about tying the meta tags to the use of silhouettes.  That might work for now, but I feel like there might be a better solution.

[2011-07-19 16:36] JonFerraiolo opened #745 "Reconcile allowedChild, isContainer, isLayoutContainer"
@peller

@billreed63 and I are noticing that there is a 100% commonality between widgets that have isContainer:true and any value for allowedChild. Maybe we can get rid of isContainer as a redundant metadata property.

Not sure what isLayoutContainer does. Seems like there is some redundancy there, too.

[2011-07-19 16:48] jhpedemonte commented on #683
So, not sure we want to use `apple-mobile-web-app-capable`.  According to the [docs](http://developer.apple.com/library/safari/#documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html), that meta tag is used to run a web app in "full screen mode" -- that is, run it similar to how native apps are run.  If this isn't set, then the app runs in the web browser.  I think we want

[2011-07-19 18:54] JonFerraiolo commented on #683
Thanks for being thorough! I actually didn't research the META tags. I blinded copied/pasted from the example near the top of https://docs.google.com/document/pub?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E&pli=1#h.ayvrhdms4pdv, and what you say above makes sense.

[2011-07-19 19:44] JonFerraiolo opened #746 "Intermittent crash in VisualEditorOutline.js in checkItemAcceptance()"
checkItemAcceptance()I was able to cause an exception in in checkItemAcceptance() in VisualEditorOutline.js both in the Preview 1.0.1 release at Maqetta.org and in latest M2 builds. In both cases, I had 3 DIVs in a hierarchy as follows:

[code]

and then in Outline palette attempting to drag the inner DIV and drop on "file1.html" row in the outline palette causes an exception where either item or

[2011-07-19 21:19] cindyskach opened #747 "Box around widget stretches too far if at end of canvas in firefox"
- new HTML file
- drag Calendars onto the canvas until the last requires for the canvas to lengthen (4 total calendars for me)
- scroll down and you'll see that the box around the last calendar you dropped onto the canvas will stretch far beyond the calendar widget.

If you select another widget on the canvas, the canvas will get shorter to fit the widgets but if you click the last calendar widget

[2011-07-19 21:33] waynevicknair commented on #704
added `mass_migration.sh` and `migrate_workspace.sh` to the **internal** **repository** on commit 6f751a5c26cbb989a9032b68c898b072042a7fab in `internal/util/` directory.

[2011-07-19 21:33] #704 closed, assigned to waynevicknair

[2011-07-19 21:58] JonFerraiolo commented on #747
No urgent to fix this

[2011-07-20 00:02] jhpedemonte commented on #683
For reference, here are some docs on the mobile meta tags: http://www.html5rocks.com/en/mobile/mobifying.html#toc-meta.

[2011-07-20 00:09] jhpedemonte commented on #683
This is working for me now.  Jon, let me know if I missed something in the previous checkins.

Side note: I created a couple of generic functions (`_addHeadElement` and `_removeHeadElement`) that we can hopefully use more in Context.js (M3 and onwards).  They add/remove on the Model and DOM at the same time.  The add function also checks for duplicates.  Hopefully, we can generalize some more, to

[2011-07-20 00:09] #683 closed, assigned to jhpedemonte

[2011-07-20 00:53] JonFerraiolo commented on #683
Bless you for creating a general purpose function

[2011-07-20 03:32] jhpedemonte commented on #741
So the main issue here is that **dojox.mobile.View** inherits from **dijit._Container**, which specifies the `addChild()` API.  But `addChild` is only meant for container widgets that only accept Dijit widgets, not generic HTML elements.

So really, our code is right.  The problem is that View can accept both Dojo widgets and HTML elements -- this is a Dojo problem.  @peller emailed someone about

[2011-07-20 03:54] jhpedemonte commented on #741
What happens inside of Dojo is that `addChild()` is called, which then calls `getChildren()`.  This only returns Dojo widgets -- in this case, it returns an array consisting only of dojox.mobile.RadioButton (even though it is nested inside of a DIV).  The code then calls `dojo.place()` relative to the RadioButton, instead of the DIV.

[2011-07-20 04:14] jhpedemonte commented on #741
This is basically the same issue as #514.  However, the extra check I added there wasn't enough.  Followed Jon's lead and just replaced that check (for `child.dijitWidget`) with check for `! this.acceptsHTMLChildren`.

Still left to investigate is this:

[2011-07-20 13:53] billreed63 commented on #461
EdgeToEdgeDataList with smart input is complete, user can enter list labels in the format:
    Label 1, page_to_move_to
    Label 2, page_to_move_to

The page to move to is optional.

Or the user can choice a json file from the work space, I have provided an example json file sample_data/mobile_edge_to_edge_data_list.json

[2011-07-20 14:10] billreed63 commented on #461
added RoundRecDataList and renamed sample file as it can be used for both RoundRec and EdgeToEdge.

July 2011

[2011-07-20 14:10] #461 closed, assigned to billreed63

[2011-07-20 14:16] cindyskach opened #748 "tab container broken"
- new HTML file
- drag tab container onto canvas
  In debugger it gives the error: Uncaught TypeError: Cannot read property 'nodeType' of null

-try to drag button onto canvas
Maqetta gives the error: The action was interrupted by an internal error.
In debugger it gives the error: Uncaught TypeError: Cannot read property 'className' of null

Tested in Windows/Firefox and Chrome with latest lab14 b

[2011-07-20 14:52] JonFerraiolo opened #749 "moveTo not working for mobile *DataList widgets"
@jhpedemonte, @peller

I just tried the newly committed support for RoundRectDataList. I created 3 View elements with IDs v1, v2, v3, and put a Heading at the top of each View where the heading text was v1, v2, v3. Then on View v1, I added a RoundRectDataList and entered the following into smart input:

aaa,v2
bbb,v3

and then ran preview-in-browser. When I clicked on the "aaa" item, I should see

[2011-07-20 15:54] cindyskach opened #750 "Generate Outline from Model (instead of VE DOM)"
- new HTML file
- drop a DropdownButton onto the canvas
- save, close and reopen the file

The outline will now have a div containing a menu.

@jhpedemonte @JonFerraiolo

---

**Edit Nov 3 2011:** Changed title from _DropdownButton has div associated with it upon reopening_.

[2011-07-20 16:09] JonFerraiolo commented on #750
@billreed63, @peller

Bill might know what's going wrong here.

[2011-07-20 16:09] cindyskach opened #751 "MenuBar's associated Menu items are disconnected"
- new HTML file
- drop AccordionContainer onto canvas
- drop MenuBar inside Pane 1 of AccordionContainer

In the outline the MenuBar is contained within AccordionContainer but the Menu items associated with it are outside the container.

A similar thing occurs without the AccordionContainer:
- new HTML file
- drop MenuBar onto canvas (its Menu items appear below it in the outline)
- drop Button an

[2011-07-20 16:30] billreed63 commented on #749
need to strip leading white space from view name

[2011-07-20 16:30] #749 closed, assigned to billreed63

[2011-07-20 16:49] cindyskach opened #752 "Download from Files Palette broken"
- select sample1.html in Files Palette
- right click it and select download
  The dialog shows that the proper file will be downloaded into the zip file. However, after selecting "download now" and opening the zip file, it's empty.

Tested with latest lab14 build on Windows/Firefox

[2011-07-20 16:50] JonFerraiolo commented on #751
Assigning to Javier. I haven't investigated this one completely, but maybe this has to do with still needing to changing allowedChild on Accordion (and others) from ANY to ContentPane

[2011-07-20 16:56] billreed63 opened #753 "EdgeToEdgeDataList transition when user clicks on list item"
If the List item has a moveTo defined, when the user clicks on the widget the widget transitions to the moveTo view before selecting the widget

[2011-07-20 17:23] billreed63 commented on #753
Stopped click event for ListItems

July 2011

[2011-07-20 17:23] #753 closed, assigned to nobody

[2011-07-20 17:33] JonFerraiolo commented on #752
I did a quick test on my Mac running Maqetta from Eclipse in developer mode, using both Mac/Chrome and Mac/FF, and in both cases a download.zip file was created and existed in my browser Downloads folder, and that ZIP contained the proper file. However, haven't tried to reproduce on Win/FF using the built version of the product.

[2011-07-20 17:43] cindyskach opened #754 "Copy and paste in source editor errors if spacing not precise"
- new HTML file
- drag div onto canvas
- drag button and textbox onto canvas
- In source editor copy the entire line containing the textbox and paste on new line just below it so that it's in the div as well.

This works.
- Erase the spaces in front of the input textbox tag
- Select the textbox on the canvas. It gives the error: Index or size is negative or greater than the allowed amount" code: "

[2011-07-20 18:05] jhpedemonte opened #755 "Amend 'allowedChild' prop for Dijit containers"
Commit ecdd127f4f5b7b54e980 changed the `allowedChild` property for **BorderContainer**, **AccordionContainer** and **TabContainer** to be just `dijit.layout.ContentPane`.  This was done mainly to remove `"allowedChild": "ANY"`, which implies HTML children and is incorrect for these container widgets.

However, they allow a wider selection of widgets than just `ContentPane`, so we need to amend th

[2011-07-20 18:05] jhpedemonte commented on #741
Made `allowedChild` changes, as outlined above.  Opened #755 to track future changes.

[2011-07-20 18:05] #741 closed, assigned to jhpedemonte

[2011-07-20 18:21] JonFerraiolo commented on #752
Cindy, you sure this is broken? I just tried to reproduce with the latest build running on Win/FF5 and it worked for me. Maybe we need to talk on phone to walk through the exact steps? Maybe you are doing something a little different than I am doing.

[2011-07-20 18:41] billreed63 commented on #750
Not sure why this stopped working from preview 1, but DropDownButton creates a dijitMenu and places it in a div the div. I added code in the DropDownButtonHelper.create that finds the _dropDown div and marks that widget.hidden=true so it will not be displayed in the outline tree.

July 2011

[2011-07-20 19:51] cindyskach opened #756 "Absolute positioning problems with containers"
While this isn't a pressing issue, I noticed some problems with absolute positioning while performing VE Part 2 tests.
- new HTML file
- switch layout to absolute positioning
- drag accordionContainer onto canvas
  - accordionContainer should probably not have width and height of 100% but 200px
- drag a TitlePane within the AccordionContainer
  - it looks like it'll be a child of AccordionContaine

[2011-07-20 20:34] jhpedemonte commented on #748
Cannot recreate.  Tested on Chrome and Firefox on Mac, using:

[2011-07-20 20:42] cindyskach commented on #748
Looks like it got fixed today. I pulled the latest build, and I'm no longer getting the error.

[2011-07-20 20:42] #748 closed, assigned to nobody

[2011-07-20 20:43] jhpedemonte commented on #751
This is strange.  Outline shows the **Menu**s as being siblings to the **AccordionContainer**.  However, the source shows them in the right place.  Not sure why Outline is out of sync.

Setting to _Priority Med_ for now.

[2011-07-20 21:01] cindyskach commented on #752
Talked with Jon. It's a Windows issue. The solution is to use a third-party zip utility rather than the built-in Windows Explorer function to open the archive. I was able to access the file with 7-zip.

[2011-07-20 21:02] jhpedemonte commented on #750
I'm very confused by this.  I decided to investigate this, since I think Bill's fix may just be a band-aid on top of a larger problem.

First, here's what the HTML code contains:

[code]

Where does the `<div>` in the Outline come from?  I'm assuming it's from when Dojo "saturates" the HTML code to create the actual widget.  We need to look at this more to find out exactly what is going on.

[2011-07-20 21:35] jhpedemonte commented on #750
Not sure if I'm looking at the right place, but I'm at `Context._attachChildren()`.  The call stack looks somewhat like this (skipping over unimportant bits):

[code]

So this is getting called when loading the file that has the DropDownButton.

`_attachChildren()` is passed in the DOMNode for `<body>` and the first line iterates over all the children, calling `Context.attach()` on each.  I'm assu

[2011-07-20 21:37] jhpedemonte commented on #756
Assigning to Jon for now, so he can decide the best course of action here.

[2011-07-20 21:49] jhpedemonte opened #757 "Investigate using 'placeAt()' instead of 'addChild()' for Dojo widgets"
@peller @JonFerraiolo

Based on the ongoing discussion of the `addChild()` function specified in `dijit._Container`, I noticed that `_WidgetBase` defined a function called `placeAt()`.  It's contents:

[code]

Maybe we should be using this for Dojo widgets instead of `addChild()`.

[2011-07-20 21:56] JonFerraiolo commented on #756
@billreed63, @peller

Good job pointing out these problems, and good call assigning this to me. I had already put all of the above things on my own mental list of things to address as part of "drawing tools", but good to have them listed in a bug report. One thing we may need to collaborate on is the (current) width/height default of 100%. I think we need to put width/height for container widgets

[2011-07-20 21:57] billreed63 commented on #730
Added smart Input  SpinWheelSlot, also fixed SpinWheel create.

July 2011

[2011-07-20 22:22] billreed63 commented on #750
VisualEditorOutline.js uses widget.hidden to filter widgets when displaying the tree. I am not sure why it was add, possibly other widgets have this same issue.  Changing the getWidget this late in M2 would be to risky, maybe we should push this issue to M3.

[2011-07-20 22:32] JonFerraiolo commented on #750
I'm a little confused by the thread above in terms of what is being proposed short-term and long-term, but I'll say that most of our widget.js logic traverses the iframe's DOM and does various filtering to ignore various things. Most of the filtering is checking _dvWidget property on DOM nodes. If no _dvWidget, then that DOM node shouldn't show in the Outline. There is other filtering going on, to

[2011-07-20 22:42] jhpedemonte commented on #750
Oh, yeah, my proposals weren't for M2, but longer-term.

Regarding `_dvWidget`, that isn't an option at the loading stage. This is when the code is first being parsed.  However, the way that is done is by adding the code to the DOM (resulting in Dojo saturation of widgets) and then iterating over the DOM doing setup things.

So yes, I think this is something that we should look at using the Model

[2011-07-20 23:52] JonFerraiolo opened #758 "Regression: BorderContainers moving splitters"
Assigned to Bill because this is about BorderContainer, but the dvStates problem might bounce this back to me.

Regression with BorderContainer since Preview 1.0.1:
- New HTML file
- Add BorderContainer, accept defaults
- Move splitter between left region and center region to make left region wider
- Preview in browser.

Result=> Left region is not wide - reverts to default size
- Save, close, reo

[2011-07-21 02:32] peller commented on #758
Unrelated to this issue, but FYI: with the sides you're only supposed to specify the constraint that changes -- width for the sides and height for the top and bottom.  Just like with the other attributes, we're serializing too much.  It's hard to say how this could cause a problem, but especially with 100%x100% dimensions, this could lead to trouble.

[2011-07-21 04:06] JonFerraiolo commented on #758
Adam, you might have found the problem. Here is the HTML from Preview 1.0.1. Notice that the ContentPanes only have width or height, not both:

[code]

[2011-07-21 04:16] JonFerraiolo commented on #758
Looking further, I see this code in BorderContainerHelper.js:

[code]

Somehow or other this code isn't getting executed or is getting overridden by other code.

[2011-07-21 04:26] JonFerraiolo commented on #615
I tried to reproduce off of server macwayne2 and couldn't reproduce. Closing.

[2011-07-21 04:26] #615 closed, assigned to JonFerraiolo

[2011-07-21 04:52] JonFerraiolo opened #759 "Source editor duplicates last character with Mac/Firefox"
(Adam, could you please forward this to the Orion team if the problem appears to be in their code?)

Following this particular sequence of events, the source editor duplicates the last character in the source file. Happens on Mac/FF, but not on Mac/Chrome. Haven't tried Windows yet.

In Maqetta, do a new CSS files and enter the following text:

[code]

Now select all characters on the 2 comment li

[2011-07-21 05:02] JonFerraiolo opened #760 "Can't bring up Files palette context menu on some files in Files palette (FF)"
@childsb

On Mac/FF, I can't get the context menu (using a 2-button mouse!) to come up when the mouse is over SampleBanner.jpg. Mac/Chrome works fine. I have similar problems on Mac/FF with other files that I added to the workspace via Upload.

[2011-07-21 05:02] peller commented on #759
need to verify on latest Orion code

[2011-07-21 05:06] JonFerraiolo opened #761 "Files palette shows duplicate files after upload"
@childsb

Reproducible on both Mac/Chrome and Mac/FF. Assigning to Adam since he is on front-end of this bug, but might be more of a Resource.js issue.
- Add a new folder to the workspace (e.g., "aaa/")
- Select the new folder
- With mouse over new folder, issue an "Upload" command
- In dialog that comes up, find a folder on your system with 4 image files (e.g., *.png) and select the 4 image files

[2011-07-21 05:34] JonFerraiolo opened #762 "Modify libraries not working in this case"
@jhpedemonte

I brought up Modify Libraries and tried to simultaneously move things as follows:
- Dojo: /lib/dojo/ => /lib2/dojo/
- Themes: themes/ => /lib2/themes/

I clicked on OK and the dialog did not go away. I clicked on "x" for dialog to close it. It seems like only part of the operation succeeded. There is a /lib2 folder, but the dojo folder appears both under /lib/dojo and /lib2.dojo

[2011-07-21 12:52] peller commented on #734
8a0b969e56d0477061fb1079da459a4a034a277a brought in ykami's latest changes from dojox.mobile to implement add/removeChild on IconContainer and ScrollableContainer

[2011-07-21 12:55] #734 closed, assigned to peller

[2011-07-21 13:48] cindyskach opened #763 "Landscape mobile preview has icon to switch to landscape rather than portrait"
- new HTML file
- change to the iPhone silhouette
- switch to landscape
- preview in browser

The arrow-icon to switch between portrait and landscape is set up to change the view to landscape even though it's already in landscape. If you click it, it shows the animation for switching to landscape and remains in landscape. So if the user previews with the device set for landscape, he has to click t

[2011-07-21 13:58] billreed63 commented on #758
The helper code is being passed the id of the div instead of the region,  I am looking at the dojo code to see why that has changed

[2011-07-21 14:24] cindyskach opened #764 "Close and reopen with two Views causes silhouette to be blank"
Basically I did the steps from the tutorial up to the second bullet in the "Assembling the alerts view" section and then saved, closed and reopened.
- new HTML file
- choose iPhone silhouette
- drop View onto canvas
- drop Heading onto View and call it "Heading1"
- in the outline palette, select the eye to the left of the View to hide it
- drop another View onto the canvas
- drop a Heading onto Vi

[2011-07-21 14:36] JonFerraiolo commented on #764
@jhpedemonte, @peller

Yeah, this is a known problem. Closing as dupe of #459. I think we need to educate users with the M2 release about View visibility issues and hold off trying to do anything automatic until M3. The problems identified in this bug is one of the big things we will address with M3.

[2011-07-21 14:36] #764 closed, assigned to nobody

[2011-07-21 14:38] JonFerraiolo commented on #763
I'll try to fix this for M2 if other bugs are still pending.

[2011-07-21 16:03] jhpedemonte opened #765 "Outline missing icon decorations"
I'm guessing because of the tree changes by @peller that the decorations on the items in the Outline view are missing.

Here's Preview 1:
![Preview 1 Outline View](http://i.imgur.com/XDo2L.png)

And here's the current state:
![M2 Outline View](http://i.imgur.com/91yzs.png)

Adam, if you can, would be good for M2, since it's a regression.  But if it's too risky a fix or too involved, we may push of

[2011-07-21 17:00] cindyskach opened #766 "EdgetoEdgeDataList eats the letter "s""
- new HTML file
- drag View onto Canvas
- drag EdgetoEdeDataList onto Canvas
- In inlineEdit change "transitionToPage" to something containing an 's' like "secondView"
- Click OK
- Double-click on the EdgetoEdeDataList

It now contains:
Label1, econdView
Label 2, transitionToPage

This is likely a regexp thing.

Tested in Win/FF
lab14 build:
Version: Preview 2
Date: Jul 21, 2011 7:02:02 AM
Build:

[2011-07-21 17:07] cindyskach commented on #766
It looks like only "s" at the beginning and end of the string are eaten like "sos" => "o" while "12s34" => "12s34"

[2011-07-21 17:22] billreed63 commented on #758
Dojo is passing in the div's ID now instead of the region. Added code in the helper to use the id to find the child div and then get the region from the div region attribute.

July 2011

[2011-07-21 17:22] #758 closed, assigned to billreed63

[2011-07-21 17:37] cindyskach opened #767 "In Android silhouettes font color initially wrong for EdgetoEdgeList and RoundRectList"
- new HTML file
- choose one of the Android silhouettes
- drop View onto canvas
- drop either EdgetoEdgeList or RoundRectList onto canvas

The font inside this widget is black on a black background at the start.
Switching between silhouettes switches the font color to the right color. You only see this issue if you start with an Android silhouette from the beginning.

Tested on Win/FF
lab14 build:

[2011-07-21 17:40] JonFerraiolo commented on #738
Reopening. I just sync'd and the following steps did not work on Mac/Chrome:
- New HTML File
- Add a View
- Add RoundRectList
- Try to drop a Switch onto a ListItem

Result=> Error dialog appears that says "The action was interrupted by an internal error."

[2011-07-21 17:49] JonFerraiolo commented on #730
Reopening. With latest code from github on Mac/Chrome, I added a View, then added a SpinWheel, and then dragged/dropped a SpinWheelSlot onto the SpinWheel. Smart input shows this content:

[code]

instead of

[code]

[2011-07-21 17:56] JonFerraiolo commented on #767
Can be deferred to M3, but leaving as Priority Low for M2 to see if this is easy to fix.

[2011-07-21 17:57] billreed63 commented on #766
use trim instead of regex

July 2011

[2011-07-21 17:57] #766 closed, assigned to billreed63

[2011-07-21 18:04] billreed63 commented on #730
Wrong format for spinwheelslot in widget.json

[2011-07-21 18:04] #730 closed, assigned to billreed63

[2011-07-21 18:09] jhpedemonte opened #768 "File deletion gets confused when deleting multiple files"
- Create 2 new files ('file1.html', 'file2.html').
- Right click on file1.html and select delete resource.  Should be deleted fine.
- Right click on file2.html and select delete resource.  Notice that the dialog asks, "Are you sure you want to delete **./file1.html**?".  Pressing OK fails to delete file and throws errors in browser and server.

For some reason, the deletion code still thinks the n

[2011-07-21 18:25] JonFerraiolo commented on #738
Actually, the error dialog appears whenever dropping a Switch - no matter if dropping into ListItem or not

[2011-07-21 18:30] jhpedemonte commented on #738
Not seeing this with latest code (b13b67ee35d0084a3ecfdf40732b25eabc3921a6) on Chrome/Mac.

[2011-07-21 19:18] jhpedemonte commented on #751
This happened in Preview 1 as well, so this may slip to **M3**.

[2011-07-21 19:20] jhpedemonte commented on #751
@billreed63 You might have some insight into this issue.

[2011-07-21 19:31] cindyskach opened #769 "Switch broken"
- new HTML file
- drag mobile View onto canvas
- drag switch onto canvas
  Maqetta gives error dialog

Errors:
Failed to load helper: davinci.libraries.dojo.dojox.mobile.SwitchHelper
Error: Could not load 'davinci.libraries.dojo.dojox.mobile.SwitchHelper'; last tried '../metadata/dojo/1.7/dojox/mobile/SwitchHelper.js'

Perhaps the file got accidentally deleted?

Tested in Win/FF
lab14 build:
Versi

[2011-07-21 20:58] #738 closed, assigned to jhpedemonte

[2011-07-21 20:58] #769 closed, assigned to nobody

[2011-07-21 21:10] jhpedemonte commented on #523
OK, so here's the consensus:
- Show smart input for RoundRectList/EdgeToEdgeList when first added to page, allowing user to enter text for contained ListItems (one per line of text).
- Afterwards, user can bring up smart input for each individual ListItem.
- Or, if they find out about double-clicking on the RoundRectList/EdgeToEdgeList selection grid, they can bring up that smart input.  But any c

[2011-07-21 21:13] jhpedemonte commented on #765
This may only be an issue on my machine, as no one else is seeing this.

[2011-07-21 21:26] JonFerraiolo commented on #523
Maybe for M2 we can take the shortcut to override user changes to ListItems, but long term we should preserve them. Takes more effort, but we do this in other cases already, such as TabContainer.

[2011-07-21 21:31] billreed63 commented on #751
MenuBar is constructed like:

[code]

 But when dojo expands  the MenuItems that are children of PopupMenuBarItem are attached to the body element
when dojo inflates the menubar it attached the popupMenuItems to the body and jut leaves a pointer to them in the dom tree So we would have to write code in maybe popupMenuItemHelper to hide the real node and adjust the getChildren.

[2011-07-21 22:30] JonFerraiolo commented on #767
@billreed63

I think this is a fixable bug. The problem appears to be that we initially load iphone.css, even before choosing the first silhouette (android in this case). By switching devices, the logic to remove all of the old theme CSS files kicks in and gets rid of iphone.cass.

After studying this some more:
- After choosing Android silhouette, android.css gets added to HEAD for iframe
- When

[2011-07-21 22:43] billreed63 commented on #523
added smartInput for roundRec and EdgeToEdge

July 2011

[2011-07-21 22:43] #523 closed, assigned to billreed63

[2011-07-21 22:48] JonFerraiolo commented on #767
More info: tracing through Maqetta, the culprit is loadRequires:

[code]

As a result of loading dojox.mobile.deviceTheme.js, the iphone.css stylesheet is added to the end of the HEAD for the user's iframe even though android.css is already there. I'm looking at deviceTheme.js and it seems to maintain it's own tables about which CSS files are loaded to determine whether to load a CSS file and not

[2011-07-21 22:50] JonFerraiolo commented on #767
The logic in deviceTheme.js is determine which stylesheet to load based on this line of code:

[code]

[2011-07-21 22:53] JonFerraiolo commented on #767
Adam, make sure to coordinate with Bill and Javier on this one. Bill knows how the iframe magically gets the right mobile theme. Javier probably put the dojo.require('dojox.mobile.deviceTheme') in the metadata.

[2011-07-21 22:58] JonFerraiolo commented on #523
Great job, Bill! You are preserving any widget-specific attributes on the ListItem and even preserving embedded Switch widgets within the ListItems.

[2011-07-21 23:05] JonFerraiolo commented on #768
I'm pretty sure this is a manifestation of an old problem where the context menu on the Files palette attempts to delete what it thinks is the currently selected file instead of the file under the mouse. If you select foo1.html by carefully clicking on it and making sure it stays highlighted after moving the mouse away, and the put the mouse over foo2.html and immediately bring up the context menu

[2011-07-21 23:07] JonFerraiolo commented on #763
Fixed by d70e84ee67e4b3f90040 (not sure why GitHub didn't close this bug automatically)

[2011-07-21 23:07] #763 closed, assigned to JonFerraiolo

[2011-07-21 23:08] JonFerraiolo commented on #728
Closing this as Adam's fix makes this problem go away.

[2011-07-21 23:08] #728 closed, assigned to peller

[2011-07-21 23:09] JonFerraiolo commented on #517
The 'icon' property does indeed work. Should we close this bug and create a different bug for M3 to have smart input prompt for an image file name?

[2011-07-22 02:03] peller commented on #765
Sorry for the late reply.  My github mails seem to be on an 8 hour delay :-(   The outline view is actually Phil's original tree subclass.  It's the only one I didn't try to replace, because of the toggle functionality.  It still may have been impacted by the 1.7 upgrade, but as you mentioned, I don't see this particular problem.

[2011-07-22 04:38] peller commented on #712
The answer is to prevent unformatted text from appearing at page load time.  Our workaround appears to be working.

[2011-07-22 04:44] JonFerraiolo commented on #767
I played around with this some more. Really, what we want to have happen is that we put a dojo.require(...deviceTheme) in the model but don't load deviceTheme.js for the iframe within the page editor. I fooled around with loadRequires() and temporarily hacked my local copy to include this logic:

[code]

And the bug goes away. However, the above hack prevents deviceTheme.js both from getting added

[2011-07-22 11:07] JonFerraiolo commented on #712
OK to close this?

[2011-07-22 13:22] #712 closed, assigned to peller

[2011-07-22 14:34] billreed63 opened #770 "Accordion Container not rendered correctly"
On Chrome/Win:
New html file
Drag drop AccordionContainer
New html file
Switch tabs back to first html file
Reload browser

The open pane of the AccordionContainer does not fill the accordion. I have to click split view (source) to get the accordion to refresh

[2011-07-22 14:40] billreed63 commented on #770
Also after the steps about click on the accordion and receive the following exception
Uncaught TypeError: Cannot call method 'getSelection' of undefined    ve/PageEditor.js 124

Switching tabs seems to clear it up.

[2011-07-22 14:53] cindyskach opened #771 "Setting the 'back' property in Heading and erasing it causes icon to stay on Heading"
- new HTML file
- drag mobile View onto canvas
- drag Heading onto canvas
- go to widget-specific for the Heading
- set the 'back' property to "home"
- press [enter] to see the change
- erase "home" so that the 'back' property is empty again

While the word, "home" disappears, the arrow stays in the Heading and only goes away while previewing in the browser or after closing and reopening the file.

[2011-07-22 15:21] cindyskach opened #772 "Tooltip not working properly"
- new HTML file
- drag button onto canvas
- drag tooltip onto button

The tooltip doesn't appear beside the button.
I tired it on maqetta.org and it worked fine there, so I don't believe I'm doing anything wrong.

Tested on Win/FF
lab14 build:
Version: Preview 2
Date: Jul 22, 2011 7:02:13 AM
Build: d04db9aaeb52c27...

[2011-07-22 16:28] jhpedemonte commented on #771
This is only an issue within the Visual Editor, since neither Preview nor closing/reopening show this issue. Late for M2, so setting for M3.

[2011-07-22 16:35] jhpedemonte commented on #772
Here's the source for the button and tooltip:

[code]

Notice that the `connectId` attribute for the tooltip is set to **"myapp"**, which is the `id` for `<body>`.

I added an `id` to the button `<input>` and changed `connectId` to use that instead.  Afterwards, it worked in Preview.

[2011-07-22 16:35] jhpedemonte commented on #772
Since this is a regression, Adam, please try to take a look today.  Hopefully, the fix is easy and straight forward.

[2011-07-22 16:41] jhpedemonte commented on #772
Here's what the source looked like with Preview 1:

[code]

The `connectId` was properly set to an auto-generated `id` of button.

---

I notice that the current code adds a State.  However, even after my changes to the source (my 1st comment above), changing to the tooltip state did not show the tooltip in the VE.

@JonFerraiolo

[2011-07-22 16:55] jhpedemonte commented on #765
So if I load up a build, I see the icons.  But I've cleared everything (cache, cookies, site data) and I still don't see them when running from source.

[2011-07-22 19:30] jhpedemonte opened #773 "If logged in and click on review link, get sent to odd Joomla page"
If a user is logged in to site and they click on a review link, they get sent to a Joomla page with heading **Login** that states **"You are logged in to a private area of this site."**  There is only a single button labeled **Logout**.

Work around is to log out and then click on the review link.

What should happen is that if user clicks on review link and is already logged in, they should be ta

[2011-07-22 19:35] jhpedemonte opened #774 "No way for user to launch app from main site if logged in"
If a user is logged in and they load the main site (i.e. maqetta.org), there is no way to launch the application.

Here's what I propose, for users that are logged in:
- Replace `Logout | Sign Up | Try It` in top right with `Log Out | Launch Maqetta`.
  - If user is already logged in, then there is no point in having the "Sign Up" and "Try It" links.
- Replace the large `SIGN UP!` and `GIVE IT A T

[2011-07-22 19:35] jhpedemonte commented on #774
@JonFerraiolo Take a look, let me know if you agree with proposal.

[2011-07-22 19:40] billreed63 commented on #767
Added CreateTool for mobile widgets, .mobile.MobileCreateTool.js overrides create() which is invoked after the widget is created. In MobileCreateTool.create I call context.setMobileTheme to fixes up the style sheets in the head ensuring that only the correct mobile theme style sheets are in play.

July 2011

[2011-07-22 19:40] #767 closed, assigned to billreed63

[2011-07-22 20:41] JonFerraiolo commented on #774
Enthusiastic +1. I had noticed this problem but was always so busy focusing on other issues to log a bug on this very significant user issue.

I'll research and see if I have the ability to create a LAUNCH MAQETTA button or I need to get help from one of our graphics guys.

[2011-07-22 20:43] JonFerraiolo commented on #767
I like this solution!

[2011-07-22 21:22] JonFerraiolo commented on #765
I just pulled down latest from GitHub, cleared everything (cache, cookies, site data), closed my Eclipse server, deleted my user workspace, restarted my Eclipse server, and then sent the browser to http://localhost:NNNN/maqetta, and I see the icons after opening Sample1.html. I tried both Mac/Chrome and Mac/FF5

[2011-07-22 21:28] JonFerraiolo commented on #772
I give low priority for M2 to anything under Untested, even if there is a regression versus Preview 1. The high-order bit is that Tooltip wasn't ready to use with Preview 1 and it's still not ready to use with Preview 2. Not that important to a user between just a little broken versus even more broken, it's still broken.

[2011-07-22 21:31] jhpedemonte commented on #772
Agreed.  But hopefully Adam can find out what's going on with `connectId` not getting set properly.  But if it's too involved, I'm OK with pushing to M3.

[2011-07-22 21:36] JonFerraiolo commented on #771
I tried this experiment:
- New HTML File
- Add View
- Add Heading into View
- Set 'back' to a value
- Remove value from 'back' (note: same problem as listed above)
- set/change the 'id' on the Heading

Result=> arrow goes away

This is because changing the 'id' attribute triggers a ModifyCommand which causes the existing View element and children to get totally recreated from scratch (because that

[2011-07-22 21:36] billreed63 commented on #751
This is only a half fix for M2, the proper fix is to build the outline off the model as described in #750 . But for now I have hidden the PopupMenu's that ate attached to the body.

July 2011

[2011-07-22 21:38] billreed63 commented on #750
#751 Is a similar issue.

[2011-07-22 21:40] jhpedemonte commented on #765
Yeah, I did the same, but still see the problem.  Not sure what's going on, but it's completely on my end, so closing this bug.

[2011-07-22 21:40] #765 closed, assigned to jhpedemonte

[2011-07-22 21:51] JonFerraiolo commented on #751
I'm reopening this and moving milestone to M3 to make sure we don't forget about this particular case and test for it, even if we do build the outline off of the model.

[2011-07-22 23:33] jhpedemonte opened #775 "Smart input for IconContainer and IconItem"
**IconContainer** is a collection of **IconItems**.  Each IconItem can have an image and a label.
1. How do we handle smart input for IconItem? Should it just handle image, label or both?  I'd vote for the latter (based on presumed common usage scenario).  I guess that means a custom input object.
2. How do we handle smart input for IconContainer? We'd want it to appear when user first adds IconCo

[2011-07-22 23:33] jhpedemonte commented on #517
Spun off smart input issue to #775.

[2011-07-22 23:33] #517 closed, assigned to jhpedemonte

[2011-07-23 00:03] jhpedemonte commented on #775
Something like this for **IconContainer**:

![IconContainer Smart Input](http://i.imgur.com/FS3gz.png)

Clicking on the **+** button adds a new line, each line corresponds to one **IconItem**.

[2011-07-23 00:19] JonFerraiolo commented on #775
I don't have any magic answers at this time, but will just point out that we have similar issues for other widgets, both container widgets (as in this case) and with data-bound widgets such as Tree where we want to set properties on individual items. Possibly related bug: #79. One approach to consider is that smart input on container can only set text properties. To set other properties, you have

[2011-07-23 01:08] jhpedemonte commented on #775
I don't think that makes sense for IconContainer.  If we want to make the process as quick and seamless as possible, then we'd need to be able to set both **label** and **icon** at the same time.

[2011-07-23 01:36] jhpedemonte commented on #515
The two *List widgets were covered by #461.  Using this bug to track Carousel.

---

For now, I'm going to move Carousel to untested, until we can figure out its data situation.

I think the best solution would be something like what Bill did for RoundRectDataList, where there is some **default data** but we also provide a **sample JSON** (and associated resources) which the user can use with Caro

[2011-07-23 02:29] peller commented on #755
yes, any dijit widget should be allowed, though Maqetta content will always have the extra content pane, and that's probably ok.  startup() is a no-op unless the widget needs to do some processing after the parents are established in the DOM.

[2011-07-23 02:53] jhpedemonte commented on #515
I forgot that for IconContainer, I just used a base64 image.  I can do the same here.

I also made use of EdgeToEdgeDataListCreateTool, since it is generic enough and creates the required data store*.

With this, a Carousel with 3 images is created.  Changing props through Property editor fails, though. @billreed63, what am I missing here?  If we can get that part working, can probably move Carous

[2011-07-23 04:37] #768 closed, assigned to peller

[2011-07-23 04:40] peller commented on #570
This seems to be standard dijit.Tree behavior, judging from the themeTester.  I'll check with wildbill.

[2011-07-25 02:54] peller commented on #772
@jhpedemonte

At least in the cases I tried (button, textbox), this line in CreateTool.onMouseUp() from ae00b28c  changes the target from the actual widget to its parent -- usually BODY or a ContentPane.

[code]

Then, when the Tooltip's create helper expects to have event.target to assign the contentId, it binds the tooltip to the parent instead of the actual widget.

[2011-07-25 13:06] billreed63 commented on #775
Maybe a combination of what we do for EdgeToEdgeDataList and EdgeToEdgeList. EdgeToEdgeDataList has a file explorer  that populates the edit box with the path/fileName.  When the user selects a file from the explorer the fileName get populated in the editbox at the current cursor position.

We could use that format

[code]

[2011-07-25 13:14] JonFerraiolo commented on #775
One of the things I've been wondering if whether the 'moveTo' property should be promoted to inline edit for various widgets that usually only make sense if they have a moveTo property

[2011-07-25 13:48] billreed63 commented on #515
Because the widget uses a datastore some special magic has to happen with the widget.store whenever the widget is modified. So you need a helper also "helper": "davinci.libraries.dojo.dojox.mobile.EdgeToEdgeDataListHelper", might be a good model for this.

[2011-07-25 14:58] billreed63 commented on #775
We do it for EdgeToEdgeDataList where the moveto is stored in the DataStore

[2011-07-25 15:12] waynevicknair commented on #773
the description is not quite accurate. this only occurs if you have logged out of page designer by clicking the "logout" link. this will return you to joomla where you will still be logged in to joomla.

the correct workflow is to logoff from joomla.

[2011-07-25 15:54] JonFerraiolo opened #776 "Figure out alternative at maqetta.org if activation email never gets through"
@waynevicknair, @jhpedemonte

We have a problem at maqetta.org where the Joomla activation emails (sent from PHP) often don't get to the end user mailboxes. For example, I don't get activation emails send to anything at ferraiolo.com. I have heard of others having the same problem. It's weird because the review&commenting emails (sent from Java) come through just fine.

Maybe spam filters don't li

[2011-07-25 15:59] JonFerraiolo opened #777 "Redirect all :55555 requests to home page"
@childsb, @jhpedemonte

Here is some code I added to httpd-vhosts.conf and got working using XAMPP and localhost:

[code]

Wayne, can you please research and study all of the above directives carefully to make sure we fully understand what is happening and have confidence we are doing the right thing?

[2011-07-25 16:12] JonFerraiolo commented on #770
Yes, this is a must-fix. I'm seeing problems with BorderContainer, too.

[2011-07-25 16:14] jhpedemonte commented on #772
Ah, I see.  This is going to take some thinking.

That code is for the case where a widget is dropped on a target with the intent that the dropped widget will be a child of the target.

However, in the case of Tooltip (and other widgets), the user is looking to create an **association between sibling widgets** rather than a **parent-child relationship**.

When Tooltip is dropped on a Button, the l

[2011-07-25 16:25] JonFerraiolo opened #778 "CSS caching investigation"
@jhpedemonte, @billreed63, @childsb, @peller

There are still cases where a user makes changes in theme editor and the corresponding changes don't appear in HTML files until doing a browser refresh.

Assigned to Jon to come up with reproducible cases.

[2011-07-25 16:34] JonFerraiolo opened #779 "Select LABEL => exception in console"
@peller, @jhpedemonte, @billreed63

Assigned to me to try to reproduce. Maybe the same as #770

With M2 on staging server, I had two theme editors open, app.css open and an HTML file open when I did these steps:
- New HTML file (this is now the 5th open editor)
- Add a LABEL
- Click away from LABEL
- Click on LABEL to select

[code]

[2011-07-25 16:38] JonFerraiolo opened #780 "Failed to find States.js script tag"
@jhpedemonte

Set to priority high just to investigate. This might be deferred or dropped entirely.

When I opened a theme created in M1 using M2 build, I see the following message in my console. Theme editor comes up correctly (after properly posting the warning), so my guess is that this warning is innocuous.

[code]

[2011-07-25 16:43] jhpedemonte commented on #780
I believe this always comes up with the Theme Editor.  The was based on a fix to make sure that States.js was added to page after dojo.js, so that it can properly patch dojo.parser.  I added a warning just to make sure nothing went wrong -- should have probably added something to prevent warning in case of Theme Editor.

I think the proper fix will be to redo States.js' patching of dojo, which is

[2011-07-25 16:49] jhpedemonte commented on #778
I started a wiki to track the different file sets we maintain and what type of caching strategy we should use for each:  https://github.com/maqetta/maqetta/wiki/Caching.

Theme editor files are mentioned under _"(3) editable files"_.

[2011-07-25 16:50] jhpedemonte commented on #515
Moving to **M3** to finish remainder of work.

[2011-07-25 16:51] JonFerraiolo opened #781 "M1->M2 migration issues with DataGrid and Tree widgets"
As part of my migration testing for M1=>M2, I created files with DataGrid and Tree widgets in M1 and tried to load in M2. On both Mac/Safari and Win/FF, I'm getting this error when trying to open the M1-created HTML file in M2:

[code]

We should at least understand what's going wrong here before shipping M2.

[2011-07-25 16:54] jhpedemonte commented on #781
Adding @waynevicknair, so he can keep track of any migration issues.

Can you compare the **M1** file against one you created with **M2** and see if there are any differences?

[2011-07-25 17:01] billreed63 opened #782 "Data not displayed in DataGrid"
1) Create New html file (file1.html)
2) Drop Tab container
3) Select Tab 2
4) Drop DataGrid
5) Select Tab 1
6)Save Page and close
7) Open html file (file1.html)
8) Select Tab 2

DataGrid is empty, if you preview the data grid is correct  The datagrid just seems like it needs a refresh

[2011-07-25 17:12] billreed63 opened #783 "sketch.theme wrong version number"
The sketch.theme has version 1.0 needs to be 1.7

[2011-07-25 17:14] JonFerraiolo opened #784 "(FF) If Calendar causes scrollbar, causes Calendar to be too tall"
@billreed63, @jhpedemonte, @childsb

Can't make this happen in Chrome, but was able to make it happen on both Mac/FF and Win/FF
- New HTML File
- Keep dragging/dropping Calendar widgets until there isn't room for the last one and the page editor canvas has to include a scrollbar

Result=> The last Calendar widget is way too tall, and you can't resize it easily by pulling on drag handles.

[2011-07-25 17:14] billreed63 commented on #783
updated version to 1.7

July 2011

[2011-07-25 17:14] #783 closed, assigned to billreed63

[2011-07-25 17:47] JonFerraiolo commented on #781
Comparing the two files isn't as easy as it sounds. I'm working on it.

[2011-07-25 17:48] JonFerraiolo commented on #780
I'll leave this to you, Bill and Adam to decide about whether to close this bug or defer it.

[2011-07-25 17:49] JonFerraiolo commented on #772
Your analysis and proposed solutions sound good to me.

[2011-07-25 17:56] JonFerraiolo commented on #781
Here is the source file I created using Preview 1.0.1:

[code]

When I put that file into my M2 users/ folder and try to open it, the DataGrid doesn't show and Calendar is messed up.

[2011-07-25 17:58] jhpedemonte commented on #780
Deferring to M3, priority low.  Just so we can track this warning and deal with it.

[2011-07-25 18:01] jhpedemonte commented on #781
How does that file compare to one you've created using M2?

[2011-07-25 18:44] billreed63 commented on #781
The DataGrid Structure contains:

[code]

The cellType is causing the datagrid not to load, an exception must be eaten by something in dojo

If we remove the cellType from the structure:

[code]

The page will load.

[2011-07-25 19:02] cindyskach opened #785 "properties of type "number" are reset when working with files that have been saved and reopened"
I stumbled upon a kind of strange bug while working with the AnalogGauge that occurs with widgets that have properties with datatype: number.
- new HTML file
- drop multiSelect onto canvas
- under widget-specific change the size to 9
- save and close the file
- open the file
- select the multiSelect
- under widget-specific give it a name

Notice that the size property changes back to its default o

[2011-07-25 19:08] jhpedemonte commented on #781
(Bill, not sure if you meant to close this issue.  -> Reopened)

One thing to consider with **migration**: we don't have to handle all cases.  It is perfectly valid to say that this particular issue won't be covered with migration.  User will have old (un-migrated) source and can reconstruct using **M2** based on that source.

[2011-07-25 19:34] JonFerraiolo commented on #785
Javier, assigned to you. Sounds like a metadata issue, but might be a properties palette issue, in which case, bounce it back to me.

[2011-07-25 19:38] JonFerraiolo commented on #781
Bill, you are saying that DataGrid widgets will migrate if we remove cellType from the structure attribute? Could this be accomplished by a simple addition to our migration script via sed?

[2011-07-25 19:45] cindyskach opened #786 "Documented AnalogGauge functionality in untestedWidgets branch"
AnalogGauge, its various Indicators and Ranges can now be dropped onto the canvas and previewed in the browser. I had to create a helper function in AnalogGaugeHeper.js to check for cyclic data structures, and I had to create a helper for Range to get making a color change from the properties palette to work.

In order to call the check I added in AnalogGaugeHelper.js, I had to add a check for hel

[2011-07-25 20:11] JonFerraiolo commented on #784
I poked around on this one. Looks like Calendar is OK, it's just that the selection chrome is too big. The selection chrome causing the page to be too tall is the result of calling focus.show at Context.js:1456.

[2011-07-25 20:52] billreed63 commented on #781
This seems to be dojo 1.7 regression,  the &quot; around the dojox.grid.cells.Cell in the structure cause dojo to throw

cell_type is not a constructor

line 131 of dojox/grid/_layout

[code]

[2011-07-25 21:00] childsb commented on #752
encountered this bug while testing on windows/FF as well, so went ahead and fixed it in commit d03722a92ab63bcf9c374af29eb0aa915294b5fa

Turns out all our paths were zipped with the prefix ./, which was harmless on unix (and other unzip utils) but didn't work with the windows default archive utility.

[2011-07-25 21:00] #752 closed, assigned to childsb

[2011-07-25 21:20] childsb opened #787 "disabling a library doesn't remove the libraries widgets from the widget palette"
1) disable the YUI or dojo library
2) create a new HTML file
3) observe the disabled libraries widgets are still in the Widgets palette

---

I suspect this regression occurred with the move of the metadata to a static location.  previously, disabling a library would remove the metadata URL, so any attempt to load it would be invalid.  Now the metadata is always available and i suspect causing the

[2011-07-25 21:23] jhpedemonte commented on #787
Remind me: what was the reason for "the move of the metadata to a static location"?

[2011-07-25 21:45] childsb commented on #787
we introduced metalogic for toolkits that run inside of maqetta and needs well defined namespace:
- metadata instantiated classes (helpers, smart input etc..) if the libraries root folder moved in the workspace, the namespace/URL wouldn't be well known
- theme editor needed to load toolkit specific js, CSS, images etc...  the location/URL wasnt predictable if the user moved the library, and things

[2011-07-25 21:59] billreed63 commented on #781
IWe can fix the migration issue by adding the following patch to

dojox/grid/_layout.js  line 131

[code]

After the patch the code is:

[code]

@peller  should we talk to Bill about this ?

[2011-07-25 22:03] billreed63 commented on #781
Here is a test case for Dojo to use to recreate:

[code]

[2011-07-25 23:03] waynevicknair commented on #781
one difference for sure will be the lack of a "lotusui" class on the 'body'
tag. i'll do some diffing tomorrow.

On Mon, Jul 25, 2011 at 11:54 AM, jhpedemonte <
reply@reply.github.com>wrote:

[2011-07-25 23:08] JonFerraiolo opened #788 "Source editor selection doesn't show in visual editor"
@jhpedemonte, @peller

Earlier versions of Maqetta used to have a feature in split view (design and source showing at same time) where:

1 Selecting a widget in design pane highlighted the corresponding source code in the source pane
2 Selection anything in the source pane caused the corresponding widget to be selected in the design pane

Right now, only (1) works. The Maqetta marketing materials

[2011-07-25 23:54] JonFerraiolo commented on #781
The "lotusui" class on the body is unlikely to be the source of the problem. Looks like BillR found a problem with latest Dojo code.

[2011-07-26 00:16] JonFerraiolo commented on #784
Here is a theory about what's happening. The culprit appears to be this logic at Focus.js:132

[code]

The problem is that with Firefox, scrollHeight on BODY appears to be incorrect. With Firefox, if you set BODY's height to 100% (such as we do in Context.js:669 and in the default app.css file), then body.scrollHeight is not set to the height of the BODY's content, but instead to the height of the

[2011-07-26 03:24] JonFerraiolo commented on #784
Moved to M3. We have the same bug with Preview 1.0.1

[2011-07-26 03:58] peller commented on #779
dup of #770

[2011-07-26 04:01] peller commented on #772
yes, sounds good.  my main concern was that the definition of 'target' seems to have changed since preview 1.  I don't know of any code other than Tooltip (helper) which uses it, but I haven't looked very hard.

[2011-07-26 04:02] peller commented on #770
It's not widget-specific, AFAICT

[2011-07-26 04:10] jhpedemonte commented on #772
Pushing to **M3** and assigning to myself to redo code according to the [previous comment](https://github.com/maqetta/maqetta/issues/772#issuecomment-1646912).

[2011-07-26 04:20] jhpedemonte opened #789 "Widget disappears when dragged into written DIV"
Steps to recreate:
- Create new HTML file.
- Add **Button**, **TextBox**, and **ComboBox** to page.
- Open **split view** for source editor.
- Add `<div></div>` as first element in `<body>` (above the other widgets).
- Click on ComboBox, then Cmd+click on TextBox and Button (to select the 3 widgets).
- Drag the 3 widgets up into the DIV.

For some reason, then TextBox disappears after the drag.

@

[2011-07-26 04:32] jhpedemonte commented on #787
Perhaps this could be handled by allowing libraries to be referenced from **two different URLs**:
- a "private" URL that is always the same and through which we load the metadata and other files as needed;
- the configurable URL that is set by the user prefs.

[2011-07-26 05:12] JonFerraiolo commented on #789
Assigning to Adam just so it's assigned to someone (minimize chances of falling through cracks)

[2011-07-26 13:36] billreed63 commented on #782
This is a problem if the DataGrid is in tab one also (the selected tab) on page load in editor

[2011-07-26 13:37] billreed63 commented on #782
this issue may be related to #770

[2011-07-26 14:24] peller commented on #781
Evan applied a patch to 1.6 and 1.7: http://bugs.dojotoolkit.org/changeset/25907

[2011-07-26 14:40] childsb commented on #787
thats what we sort of have right now, though the metadata isn't included in the configurable url.  doing so would pollute the toolkits directories with our metadata and result in metadata in the deployed assets.

[2011-07-26 15:27] #781 closed, assigned to billreed63

[2011-07-26 16:15] billreed63 commented on #781
July 2011

[2011-07-26 18:21] JonFerraiolo opened #790 "setWorkbenchState not called always when closing editor tabs"
@peller, @jhpedemonte

If a user runs into this bug, it will be a bad situation. I found myself in a state running Maqetta where I couldn't figure out how to close editor tabs.

I wonder if this bug is a result of lazy loading of editor tabs?
- New HTML file (file1.html)
- Add a button or whatever, don't save
- Open Sample1.html. If dirty bit comes on, hit Save to get rid of dirty bit
- Open app.c

[2011-07-26 19:02] waynevicknair commented on #777
This is working on the staging server. I will close the bug after we update 'maqetta.org'.

[2011-07-26 19:10] billreed63 commented on #782
added dataGrid.setStore in DataGridHelp.updatestore

July 2011

[2011-07-26 19:10] #782 closed, assigned to billreed63

[2011-07-26 19:29] #773 closed, assigned to waynevicknair

[2011-07-26 19:31] peller commented on #790
f4b29bdaae94fb5423b9ccb89bda5cacfe610ad8

[2011-07-26 19:35] #790 closed, assigned to peller

[2011-07-26 19:36] #770 closed, assigned to peller

[2011-07-26 19:38] peller commented on #779
oops... that checkin comment should have referenced #790 for the editor.fileName fix, but the latter part applies to #770, which I do believe is a dup of this.  @JonFerraiolo, please retest.  I can't reproduce this now.

[2011-07-26 19:48] JonFerraiolo commented on #779
Cannot reproduce. Probably fixed as part of #770 fix. Closing.

[2011-07-26 19:48] #779 closed, assigned to JonFerraiolo

[2011-07-26 21:11] JonFerraiolo opened #791 "Cannot change to sketch theme with this HTML file"
Classified as M2 to research, but probably can defer to M3.

I can change from claro to sketch most of the time, but with this file, the switch theme icon doesn't change the document even if I choose "sketch" from the dialog.

This might be an intermittent and/or weird thing in my environment, but logging a bug while I have the HTML source code available.

[code]

[2011-07-26 21:16] JonFerraiolo commented on #791
I'm seeing same problem with both Win/Firefox (running latest build) and Mac/Chrome (running from Eclipse). I still haven't gauged whether this is a bad bug or not.

[2011-07-26 21:20] JonFerraiolo opened #792 "Open theme editor - console message about duplicate ID"
@childsb

When opening theme editor in Win/Firefox, I'm seeing these messages in the console:

[code]

Theme editor comes up OK, though.

[2011-07-26 21:27] JonFerraiolo opened #793 "Preview confused if change device in landscape"
- Create a mobile UI
- Choose iphone silhouette
- Preview
- switch to landscape
- Change to blackberry

Result=> blackberry silhouette shows in portrait mode, but rotate icon things blackberry is in landscape

[2011-07-26 21:30] jhpedemonte opened #794 "Preview with mobile silhouettes broken can't refresh on changes"
To recreate:
- New HTML page with iPhone silhouette.
- Drop Dojox Mobile View.
- Add Heading and Slider in to View.
- Click on Preview.  Should look correct.
- Close Preview.
- Add ToolBarButton to Heading.
- Open Preview again. Notice that ToolBarButton doesn't show.

Even hitting Shift+Refresh doesn't make it work.

Also, if we create the same page but without silhouettes, then it works fine.  P

[2011-07-26 21:42] JonFerraiolo commented on #794
This might be a Chrome caching issue.

[2011-07-26 21:50] JonFerraiolo commented on #794
OK, I have theories. I think there are 2 problems. First, preview=1 isn't grabbing workingcopy file if it exists. Second, Ctl-Refresh on Chrome keeps on reusing the old iframe. You have to explicitly clear cache via Preferences for iframe to redraw correctly.

[2011-07-26 21:50] JonFerraiolo commented on #794
Right now I'm inclined to defer to M3.

[2011-07-26 21:59] cindyskach commented on #794
I'm seeing this issue on firefox as well.

[2011-07-26 22:27] jhpedemonte commented on #794
Brad pointed out that this might be an issue because mobile preview is using an iframe and Shift+Refresh may only refresh the top-level doc, not iframes.

If we want to handle this for **M2**, we can add a rule to the servlet that sets no-cache headers on URLs of form `<protocol>://<host>/maqetta/?preview=1&...`.

Would be good as well for non-mobile previews, but their URL looks like `http://loca

[2011-07-26 22:28] jhpedemonte commented on #794
Workaround for Chrome:  right-click in page (inside of frame) and select **Reload Frame**.

[2011-07-26 22:31] jhpedemonte commented on #794
Workaround for Firefox: right-click in page (inside of frame) and select **This Frame** -> **Reload Frame**.

No such menu item exists for Safari.

[2011-07-26 22:54] JonFerraiolo commented on #794
Regarding this question:

That URL isn't just Preview. It's the real URL for that HTML file. You can go to that URL from a web browser even if not logged into Maqetta. I would suggest turning off caching for those URLs at least as a short-term fix. But that's lower priority than the silhouette preview issue.

[2011-07-26 23:28] jhpedemonte commented on #794
I'd already added a section on "Preview" to the [Caching](https://github.com/maqetta/maqetta/wiki/Caching) plan.

@peller, you previously added something to the servlet for caching, didn't you?

[2011-07-26 23:33] JonFerraiolo commented on #794
I have a fix by changing silhouette JavaScript logic to add an extra URL parameter to the iframe's 'src' attribute. 3-line fix that seems very safe. There are two lines of code in singlepreview.js that attach ?theme=whatever as URL parameter. Just add &somerandomnumber=1 so that src attribute looks like this: http://....file1.html?theme=whatever&somerandomnumber=1

[2011-07-26 23:40] #794 closed, assigned to childsb

[2011-07-26 23:56] JonFerraiolo commented on #791
The problem is in davinci/ve/commands/ChangeThemeCommand.js:44. There is a strict filename string compare on that line. With the above HTML file, the @import points to ./themes/claro/claro.css but the old theme filename is themes/claro/claro.css. The "./" at the front is causing comparison to fail.

[2011-07-27 00:25] #791 closed, assigned to billreed63

[2011-07-27 00:30] jhpedemonte commented on #794
I'm fine with this for now, but I think the proper fix is to use HTTP headers, and fallback to URL params if headers aren't appropriate for the situation.  I'll open a bug to track caching issues, if we don't have one already.

[2011-07-27 00:37] jhpedemonte opened #795 "Need comprehensive caching strategy"
https://github.com/maqetta/maqetta/wiki/Caching

I created a page linked above to track a comprehensive caching strategy for the different types of files we serve.

The general approach is to:
1. minimize the number of requests to the server, and
2. ensure that user always gets the latest file version.

This can be accomplished through proper use of **expires HTTP headers** and **cache busting** s

[2011-07-27 00:38] jhpedemonte commented on #795
May need to amend/redo previous commits in these bugs:  #350 #794

Also, #778 may be a dupe of this issue.

[2011-07-27 00:43] jhpedemonte commented on #795
@childsb did voice his concern for caching editable files in the user's workspace.  The Caching page has a strategy for these files that assumes that Maqetta will be the only program that touches those files, and so can implement an algorithm that tracks changes in order to ensure cache busting.

But Brad correctly pointed out that this isn't a valid assumption -- specifically, files can be change

[2011-07-27 02:03] peller commented on #794
we could do a no-cache, I guess, but this seems fine

[2011-07-27 13:04] billreed63 opened #796 "DataGrid not rendered correctly in preview"
If DataGrid is placed in tab 2 of TabContainer, when page is rendered in preview.

1) Create new HTML
2) Drop TabContainer
3) Switch to tab 2
4) Drop DataGrid
5) Preview, switch to Tab 2

If a DataGrid is added to Tab 1 the preview will display the data grids correctly in tab on and two.

[2011-07-27 14:03] cindyskach opened #797 "Draging in outline has issues if scrolling is involved"
- new HTML file
- drop enough widgets onto the canvas so that the outline has a scroll bar
- drop a button onto canvas
- drop a toolbar onto the canvas so that it's now the last widget listed on the outline
- from the outline select the button (any button you have in the outline) and try to drag it down into the toolbar (all done within the outline)

I found it a little challenging because the bro

[2011-07-27 14:32] waynevicknair commented on #774
i checked-in jon's changes under commit e21171 in the internal repository

[2011-07-27 14:37] JonFerraiolo commented on #797
I run into this problem all of the time when I used Maqetta. I've classified this as Priority High for M3 and initially assigned to Adam so that someone is assigned, although someone else might ultimately get this bug and we might not be able to address it for M3.

This might be at least partially a Dijit issue. My instincts are that we are exposing a flaw with DND in dijit.Tree when placed in con

[2011-07-27 15:38] billreed63 commented on #796
Not reproducible

[2011-07-27 15:38] #796 closed, assigned to billreed63

[2011-07-27 15:59] jhpedemonte opened #798 "Hide frame content during silhouette rotation"
Currently, when clicking on the silhouette rotation button (portrait <-> landscape), the internal frame stays visible during the rotation and doesn't look good.

A better solution would be to:
1. Before starting rotation, hide frame.
2. If possible, make internal part of silhouette gray (or a dark color), rather then the normal white.  This is purely for aesthetics and completely subjective.
3. At

[2011-07-27 16:04] JonFerraiolo opened #799 "Adding an HTML comment in source pane prevents updates to design pane"
@peller
- Open Sample1.html
- Go into split view
- In source pane, just before the <body> tag, add an HTML comment such as
- In source pane, find the "New" button and change the text to something else (e.g., "New task")

Result=> Design view isn't updated to show the new button text. If you save, close, reopen, the string "New task" is there now.

I suspect that there is code in the parser and/or

[2011-07-27 16:12] JonFerraiolo opened #800 "Duplicate themes due to migration scripts creating foo_workingcopy.theme"
@jhpedemonte, @peller, @billreed63, @childsb

The M1->M2 migration scripts seems to have changed all instances of foo.xyz.workingcopy into foo_workingcopy.xyz. If a user's most recent session had a theme with unsaved changes, then there will be both a foo.theme file and a foo_workingcopy.theme file, with the result that the "foo" theme will show twice in the "New Theme" and "Open Theme" dialogs.

[2011-07-27 16:15] jhpedemonte commented on #800
I thought @waynevicknair added code to script to delete the workingcopy instances for themes during migration.

[2011-07-27 16:18] cindyskach opened #801 "Icon container doesn't show icons in firefox when previewing"
- new HTML file
- drop View and IconContainer onto canvas
- preview in browser

The labels show but the icons do not

Tested in Win/FF

[2011-07-27 16:23] waynevicknair commented on #800
i did.

[code]

[2011-07-27 16:33] jhpedemonte commented on #124
Not sure if this is the intended purpose of this issue, but Dojox Mobile widgets do not work at all with the Sketch theme.

@JonFerraiolo

[2011-07-27 16:34] JonFerraiolo commented on #800
I'm not sure what's going on here. When I ran Maqetta on Win/FF, the Files palette showed both a a1.theme and an a1_workingcopy.theme, and the New Theme and Open Theme dialogs showed 2 listings for a1. But then I VNC'd over to macwayne2 and there is no a1_workingcopy.theme file there. For another reason, I had cleared my browser cache on Win/FF, and refreshed Maqetta, and now the Files palette doe

[2011-07-27 16:35] cindyskach opened #802 "Outline shows full name for dojox widgets"
- new HTML file
- drop DataGrid onto canvas (or go the mobile route and drop a View and a Heading)

For these widgets, the outline shows the full name like "dojox.grid.DataGrid" or "dojox.mobile.View" while for dijit widgets, it shows only "Button" or "ComboBox."

Perhaps we want this for at least the mobile widgets to help differentiate between dijit.button and mobile.button? I'm not sure, but th

[2011-07-27 16:45] jhpedemonte commented on #802
That's not the only difference. For Dijit widgets, it shows the **short name** and a **descriptor** -- in the case of Dijit Button, the descriptor is the text content (which can be set using smart input).  Dojox Mobile widgets don't show a descriptor.  Not sure where this comes from.

Maybe we can add a metadata entry for generating the descriptor.  For Button (either Dijit or Dojox Mobile), it us

[2011-07-27 17:09] JonFerraiolo opened #803 "In page editor, go to Reviews tab, open a review, then New File - default folder is .review/*"
@EldonReturn, @peller, @childsb

In the page editor, if the user goes to the Reviews tab, opens a review, and then issues a New File command, the New File dialog defaults to one of the subfolders of .review/. If a user accepts this default, then the new file ends up in the reviews area. This is bad - the files palette's default folder shouldn't be affected by navigating through the Reviews palette

[2011-07-27 17:26] waynevicknair commented on #800
that was a fix i made after the fact. the migration scripts are not written to perform incremental updates. thus i was unable to go back and re-migrate the users on the staging machine. i have since run a different script to delete the incorrect files.

[2011-07-27 17:27] #800 closed, assigned to nobody

[2011-07-27 17:33] JonFerraiolo commented on #801
@jhpedemonte, @peller

I haven't gotten to the bottom of this, but somehow or other browser caching seems to be involved. I was able to reproduce with Mac/Chrome. If I do a View Source on the preview window, the UL/LI elements for the IconContainer are not in the source file. But if I Clear Browsing Data and then refresh the preview window, the IconContainer widget appears.

[2011-07-27 17:36] JonFerraiolo commented on #802
Assigning to me. I've been through this code before.

[2011-07-27 17:38] JonFerraiolo commented on #124
Not really relevant to this bug, but I'll just point out that the mobile widgets also don't work well when absolute positioning is on.

[2011-07-27 17:58] peller commented on #798
...or rotate the content.  I remember trying both with little success.  I tried using a key-frame with two stops at 0 and 100 for opacity, but it didn't work.

[2011-07-27 18:26] waynevicknair commented on #532
maqettaCode is now working.

[2011-07-27 18:26] #532 closed, assigned to waynevicknair

[2011-07-27 19:28] waynevicknair opened #804 "TypeError "undefined" in checkItemAcceptance()"
In `VisualEditorOutline.js` the `checkItemAcceptabce()` method gets this error in the default case of the switch statement.

[2011-07-27 19:47] JonFerraiolo commented on #804
Did some of the bug report get lost? You say "this error", but which error? And what things were going on when this error occurred?

[2011-07-27 20:26] peller commented on #797
I think it's because the height of the avatar, when extended below the bottom of the screen, immediately increases what 100% is of the body, permitting the entire screen to scroll.  This same problem can be observed in the Dijit themeTester demo.

[2011-07-27 20:38] #797 closed, assigned to peller

[2011-07-27 21:37] waynevicknair commented on #804
the error in the _title_ of the issue: TypeError "undefined". this error occurred while i was dragging an item in the outline view.
- i created an HTML file with a border container.
- dropped three LABELs into left
- dropped H1 into head
- dropped DataGrid into middle
- dropped two H2s into footer

the second H2 dropped outside the footer on first try. i selected the H2 and started to drag in the

[2011-07-28 00:30] JonFerraiolo opened #805 "Copy/paste tree needs to duplicate the data store"
@peller

If you copy/paste a Tree widget, the new Tree uses the same data store as the cloned Tree. As a result, if you subsequently double-click on one of the trees and change the data, both trees will reflect the changes.

[2011-07-28 02:24] #458 closed, assigned to peller

[2011-07-28 02:29] peller commented on #689
What I saw was a little different... you can drag the list item, but it tries to drop it within another list item, which is legal, at least in the generic sense. I even got myself into a situation where I got in an infinite loop by dragging li's, though I haven't been able to reproduce that yet.

@jhpedemonte: do we want to introduce some sort of restrictions here for li's in RoundRectLists? (woul

[2011-07-28 02:30] peller commented on #760
If only I could debug on FF... argh...

[2011-07-28 02:44] JonFerraiolo commented on #689
Isn't it just adding extra logic into DND within the canvas along the lines of what Javier added for when dragging from widget palette onto canvas, honoring allowedParent:

[code]

I'm pretty sure most of the allowedParent logic we have today is in CreateTool.js

[2011-07-28 20:14] billreed63 commented on #214
July 2011

[2011-07-28 20:14] #214 closed, assigned to billreed63

[2011-07-28 21:07] billreed63 commented on #743
added getChildType to containerInput.js to get childType from metadata

July 2011

[2011-07-28 21:07] #743 closed, assigned to billreed63

[2011-07-28 21:25] cindyskach opened #806 "ContentPane's 'Selected' property buggy"
- new HTML file
- drop TabContainer onto canvas
- Look at TabContainer's ContentPanes' widget-specific properties
- Try to click the box for 'Selected' on the ContentPane called "Tab 1" so that they don't both have selected="true"
  - Notice that the box does not become unchecked (it is changed in the source editor, though)
- Try to change it back so that in the source editor it'll have selected="

[2011-07-28 21:43] cindyskach opened #807 "'Persist' property adds dvStates="{'undefined':{'style':{}}}" to container's tag"
- new HTML file
- drag TabContainer onto canvas
- under TabContainer's widget-specific properties, check the box to set 'persist' to true
  - notice in the source editor that it now has the following code within TabContainer's span tag:

[code]

There are no new states in the states palette, so I'm not sure it should be doing this.
The same thing occurs for other containers.

Tested in Win/Chrome

[2011-07-28 23:24] jhpedemonte commented on #777
Confirm that this is working properly on maqetta.org.  Closing.

[2011-07-28 23:24] #777 closed, assigned to waynevicknair

[2011-07-28 23:24] #212 closed, assigned to jhpedemonte

[2011-07-29 04:21] #807 closed, assigned to peller

[2011-07-29 13:26] billreed63 commented on #469
@peller @JonFerraiolo

I have looked through the latest MVC code from dojo and do no see any new DataStores that deal with Jsonp. They do have custom DataStores for dealing with specific web services like flickr, etc... .  @peller it seems odd that dojo does not have a generic ItemReadStore for jsonp, but maybe that just assume everyone will use the JsonRestStore. Which makes me think maybe we sho

[2011-07-29 19:41] billreed63 commented on #469
http://www.ibm.com/developerworks/java/library/wa-jsonreststore/?ca=drs-

[2011-07-29 20:42] JonFerraiolo commented on #469
Bill and I have talked about this. So far, two possible solutions, both of which are ugly. (1) Use JsonRestStore, which is ugly because servers need to add support for JsonRest before Maqetta could pull data from them, and my guess is approximately 0% of servers today that support JSON data include JsonRest support. (2) Use JSONP, which is ugly because we would have to include 100+ lines of extra

[2011-07-30 02:02] #385 closed, assigned to peller

[2011-07-31 17:54] peller commented on #761
The code is largely as it was before.  I just migrated to the new & slightly improved upload control which supports the multiple upload.  I suspect the problem has something to do with the callback which creates "localOnly" resources in the resource tree, while there also appears to be a call to listFiles to get the list from the server.   @childsb, should we still be adding the files to Resource

[2011-08-01 16:41] JonFerraiolo commented on #26
Reassigned to me and made it an M3 feature. I've already gotten a little bit of this working but haven't checked anything in yet.

[2011-08-01 16:47] JonFerraiolo opened #808 "With absolute positioning, cannot select Button sitting on a Tree"
@billreed63, @peller
- New HTML file
- Go to absolute positioning mode
- Drag/drop a Tree somewhere on canvas
- Drag/drop a Button so that the button is inside the bounds of the tree
- Click away from tree and button so there is nothing select
- Click on Button to select

Result=> Tree is selected, not the button.

The reason is that the editFeedback DIV that is superimposed over the Tree by _Tool

[2011-08-01 20:19] childsb opened #809 "add caching back to davinci.library"
add back the caching to the davinci.library code.

[2011-08-02 04:52] #761 closed, assigned to peller

[2011-08-02 20:19] peller commented on #129
no need for i18n here... the timestamp format is culturally-independent.  Instead of dojo.date.locale.format, use the simpler dojo.date.stamp.toISOString, or perhaps just call ES5 date.toISOString().substring(0,10)  We need to make sure that the properties panel does the same to serialize and consume the ISO format.

[2011-08-03 01:46] peller opened #810 "Default Project name has space"
(1) I suggest using a default project name without any spaces or special characters, if only because they will make life harder for the user outside the tool (e.g. in the shell)

(2) I noticed that if I drag an image like SampleBanner.jpg to the canvas, the url created in the source is not URI encoded -- it should read something like Sample%20Project.  URIEncoding should be used regardless of the

[2011-08-03 01:52] #760 closed, assigned to peller

[2011-08-03 02:48] peller commented on #221
Sorry we missed this issue...  assigning to @jhpedemonte.  What behavior do you see?  Which strings disappear?  How did you upload the contents?  Using the upload menu command, or copy/paste into the editor?

[2011-08-03 15:09] JonFerraiolo commented on #810
I would go with the name "project1", and then allow the user to change the name later. I've been using file1, folder1, etc. for other parts of the product. So for consistency, we would use "project1". One small advantage to this naming approach is that when a user needs to create a 2nd and 3rd, we can compute a suggested automatic name such as file2.html, file3.html, using proposed name logic in R

[2011-08-03 15:21] childsb opened #811 "remove absolute link in theme file"
the dojo-theme-editor.html has an absolute link for dojo.  Move this to servlet code.

[2011-08-03 16:39] cindyskach opened #812 "Documented RadioGroup functionality in Untested Widgets"
RadioGroup, RadioGroupFade and RadioGroupSlide can now all be dropped onto the canvas and previewed in the browser correctly.

I had to add to ContentPaneHelper so that ContentPanes would start with a background (even ones added after initial creation). This was needed for the RadioGroupSlide animation to look right.

There is still one known issue:
- Changing the title of ContentPanes from the Pr

[2011-08-03 16:48] peller commented on #811
see 8bc68d256f354719c261c8c5da5f94a226a9b961

[2011-08-04 20:24] childsb commented on #809
Fixed in commit 5569d8cd6c68cba9968d342715e7e17878faf79c

[2011-08-04 20:24] #809 closed, assigned to childsb

[2011-08-05 02:29] JonFerraiolo opened #813 "Could not load 'davinci.ve.input.StackContainerInput'; last tried '../davinci/ve/input/StackContainerInput.js'"
@peller, @jhpedemonte

Assigning to Bill to scope out this bug and figure out who should fix.

With latest GitHub code, when I try to drag/drop a TabContainer, I get a popup alert that says "internal error" and when I look at console I see the following message:

Could not load 'davinci.ve.input.StackContainerInput'; last tried '../davinci/ve/input/StackContainerInput.js'

[2011-08-05 03:56] peller commented on #784
My recollection is that these lines are intended to apply only to the case where we have a single widget occupying 100%x100%, such that the focus box itself does not extend beyond that 100%, causing scrollbars and messing up the geometry.  That situation, unfortunately, is broken also.

[2011-08-05 16:49] #784 closed, assigned to peller

[2011-08-05 16:52] peller commented on #784
@billreed63, please review.  Also, I'm a bit confused about this._context._selectedWidget.  Where does that get set?

So the old code was failing for a few reasons.  The measurements as to whether the box was out of the canvas bounds (scrollHeight/Width) seemed to be giving inconsistent results, off by a few pixels in one browser vs. another.  My guess is some sort of box model thing.  I've devise

[2011-08-08 13:57] billreed63 commented on #813
missed TabContainer in widget.json

August 2011

[2011-08-08 13:57] #813 closed, assigned to billreed63

[2011-08-09 08:30] EldonReturn commented on #434
This bug is fixed in the commit: https://github.com/maqetta/maqetta/commit/54a175ea3478067f547579f8920f80841bcf6307

[2011-08-09 08:30] #434 closed, assigned to EldonReturn

[2011-08-09 14:36] billreed63 commented on #469
So the issue now becomes how do we add this bit of Jsonp code? What we need is to replace the ItemFileReadStore with our own store that supports Jsonp, so that DataGrid is using our store to populate the grid. To accomplish this we need to change the declarative code for the store to:

[code]

When we do this, our ItemJsonpReadStore is treated as a widget and thus needs a _oam.json metadata file.

[2011-08-10 20:58] waynevicknair commented on #263
checked-in NewTheme.js under commit 2a76cba804040f1b4afa3a72a973b2e166b3a49d with CSS specification compliant regular expression to validate theme names.

[2011-08-11 15:54] waynevicknair commented on #263
looks like i missed the part about the ValidationTextBox. re-opening to address that issue.

[2011-08-11 17:50] waynevicknair commented on #654
i'm not sure this issue is still valid. the property "lightweight" clashes with the property "debug". and, our use of 'git' is not likely to change any time soon.

@childsb, @jhpedemonte, @JonFerraiolo, @peller,
i propose we narrow the scope of this issue to setting the optimization levels for the dojo build from environment variables or java properties.

[2011-08-11 18:30] billreed63 commented on #667
already complete in M2

[2011-08-11 18:30] #667 closed, assigned to billreed63

[2011-08-11 18:36] billreed63 commented on #129
Calendar no longer supports inline edit, user now uses the Widget Specific - Value input box

[2011-08-11 18:36] #129 closed, assigned to billreed63

[2011-08-11 19:30] cindyskach opened #815 "Promoted Color Palette widget waiting for Dojo fix"
Setting the value property to something (like #0000ff) shows it on the canvas, but upon previewing we get a SyntaxError.
It's a dojo problem. The bug has been reported to dojo: http://bugs.dojotoolkit.org/ticket/13560

[2011-08-11 19:36] JonFerraiolo commented on #433
Our current thinking is to continue to use a toaster for some notifications (such as review invitations have been sent), but restyle it so that it is more consistent with the rest of the product's styling (i.e., Claro look&feel just like rest of product), is more clearly visible (i.e., less obscure than it is now), leave it up for longer (e.g., 5-7 seconds more), and include a close button (an "x"

[2011-08-11 19:45] cindyskach opened #816 "Documented HorizontalSlider functionality in Untested Widgets"
HorizontalSlider and its two children, HorizontalRule and HorizontalRuleLabels, can now be dropped onto the canvas, edited and previewed in the browser correctly (aside from any work with the Container property).

I had to add the following block of code to widget.js to assure that the Labels property (taken in as a string but treated as an array) was handled properly. There was also a dependency

[2011-08-11 20:02] JonFerraiolo commented on #654
I think we need 2 things here:

1) The ability to build from a local copy of the repository instead of pulling from Git. I believe this feature is now in our build scripts via davinci.releng/build.sh and configuration variable 'maqettaCode'.

2) Some ability to set parameters such that the Dojo build system doesn't run, and instead the build scripts create JARs that have the original/unbuilt sourc

[2011-08-11 20:18] billreed63 commented on #128
August 2011

[2011-08-11 20:18] #128 closed, assigned to billreed63

[2011-08-11 20:54] billreed63 commented on #120
August 2011

[2011-08-11 20:54] #120 closed, assigned to billreed63

[2011-08-12 02:05] jhpedemonte commented on #745
Re: **isLayoutContainer**

This is a Dojo-ism.  See http://dojotoolkit.org/reference-guide/quickstart/layoutWidgetHierarchies.html.

Question is why do we define this in metadata.  But only for 2 widgets: `dijit.Toolbar` and `dijit.TitlePane`.  The latter doesn't seem to really need it defined in metadata, since the widget itself sets that property, and we check for that in various places in the c

[2011-08-12 02:36] jhpedemonte commented on #745
Didn't notice anything during testing, so committed changes.  Closing this issue...

[2011-08-12 02:36] #745 closed, assigned to jhpedemonte

[2011-08-12 15:44] waynevicknair commented on #263
Added ValidationTextBox to NewTheme dialog with commit 6ff926d6142a7c6d57cd03bc1e4ba96b8263b4a4

[2011-08-12 15:44] #263 closed, assigned to waynevicknair

[2011-08-12 16:10] JonFerraiolo opened #817 "Theme editor and ValidationTextBox states"
@cindyskach

We need to support ValidationTextBox and other new widgets in the theme editor, including defining the various widget states that ValidationTextBox might have.

[2011-08-12 17:03] JonFerraiolo opened #818 "Widget-specific constraints such as min/max values"
@jmockler, @cindyskach, @billreed63, @peller, @childsb, @jhpedemonte

Some Dojo widgets offer constraints such as min/max values as a JSON-encoded attribute. For example, for NumberedTextBox, there is a 'constraints' attribute:

[code]

Cindy didn't include support for 'constaints' with the first release of ValidationTextBox because she wasn't sure how best to handle this situation. So, we need to

[2011-08-12 18:21] waynevicknair commented on #654
Yep, feature (1) is implemented via the 'maqettaCode' variable.

I agree that it is a good idea to wait on feature (2). Maqetta's performance suffers when we run non-built Dojo. We should tightly control distribution of that kind of build.

[2011-08-12 19:04] JonFerraiolo commented on #654
Isn't @childsb implementing (2) today?

[2011-08-12 19:47] #703 closed, assigned to cindyskach

[2011-08-12 20:05] JonFerraiolo opened #819 "Alphabetize widgets in Dojo Containers, Dojo Controls, HTML"
@jmockler, @jhpedemonte, @billreed63, @cindyskach

With so many widgets now in the various categories in the widget palette, @jmockler and I talked and agreed we should alphabetize the widgets at least in the Dojo Controls section as a quick/dirty improvement for M3. I'm thinking we should alphabetize Dojo Containers and HTML, also. (I have heard a couple of users requesting alphabetizing HTML).

[2011-08-12 20:11] childsb commented on #654
Issue #1 is implemented for both internal and external (maqettaCode and maqettaCodeInternal env variable). The user can now edit the build scripts or set the DOJO_BUILD=false to disable dojo build.

[2011-08-12 21:04] JonFerraiolo commented on #654
Maybe it would be a little better if the environment variable had the 7 letters "maqetta" in it? Such as MAQETTA_BUILD_DOJO=false

[2011-08-12 21:13] jhpedemonte opened #820 "Resize down or right doesn't work on DIV (maybe other widgets)"
1. Drop DIV on new HTML page.
2. Try to resize vertically by dragging resize indicator in middle of bottom edge.

==> Cannot drag, error in console.

Seems to be due to ade351f1600e5653cc62f5729d6d9145f9aab656, where Adam changed `Focus.resize()` to take a 2nd parameter of `widget`.

However, `Focus.onMove()` calls `this.resize(b)` and doesn't pass in a 2nd param.  Results in uncaught error.

[2011-08-12 21:47] JonFerraiolo commented on #820
Looking at the code, I think the safest and best thing to do is to simply wrap the logic that uses the 2nd parameter ("widget") (lines 125-135 of Focus.js) inside of an: `if(widget){...}` block. If we want other calling routines to trigger the adjustment at 125-135, then those calling routines can invoke getSelection() beforehand and pass in the currently selected widget.

But before I check in my

[2011-08-13 00:20] JonFerraiolo opened #821 "New theme dialog - OK button never activated"
@jhpedemonte, @waynevicknair

I can't get the OK button to activate on the New Theme dialog. Probably due to recent ValidationTextBox fix.

[2011-08-13 00:21] #821 closed, assigned to nobody

[2011-08-13 00:48] waynevicknair commented on #821
bummer. i could have sworn it was working for me. i'll take a look at it.

On Fri, Aug 12, 2011 at 7:20 PM, JonFerraiolo <
reply@reply.github.com>wrote:

[2011-08-13 00:52] JonFerraiolo commented on #819
Fixed by 9c0e6cf95a59644e7409400ee966a6887c32cd02 and 537b77daf326733e06c8

[2011-08-13 00:52] #819 closed, assigned to nobody

[2011-08-13 01:37] JonFerraiolo commented on #737
Brad, assigning to you. I think the problem is with partly with code you have worked with a long ago with WidgetProperties.js and ViewLite.js.

The basic problem here is that upon switching editors, we don't invoke the logic within WidgetProperties.js to respond to a new widget selection (function onWidgetSelectionChange()). We probably have similar problems with CommonProperties.js and EventSelec

[2011-08-13 01:42] JonFerraiolo commented on #651
Assigning to Brad. Here is the stack track and exception:

[code]

[2011-08-13 01:44] JonFerraiolo commented on #486
@peller

Closing. Seems to have been fixed along the way.

[2011-08-13 01:44] #486 closed, assigned to nobody

[2011-08-13 01:48] JonFerraiolo commented on #454
@jmockler

I agree that New Theme... should open theme editor on that theme, but lowering to Priority-Low for M3. Assigning to Bill (bug submitter) for time being.

[2011-08-13 01:56] JonFerraiolo commented on #223
@peller

Javier, I assigned to you because this is an M3 milestone and I think we need to have each M3 bug assigned to someone. However, this doesn't seem like it needs to be fixed in M3 timeframe. Maybe push to M4 or make it low priority for M3?

[2011-08-13 02:31] waynevicknair opened #822 "davinci.core/WebContent/ui/templates/newtheme.html can't find NLS string"
when loading the new theme dialog it is unresponsive due to an error in its template file. the error is that it cannot find the $invalidThemeName NLS variable value.

[2011-08-13 02:57] JonFerraiolo commented on #822
This works for me. With commit bf23c1c8 I checked in 2 files, the davinci/ui/templates/newtheme.html and davinci/ui/nls/ui.js where I renamed ${invalidCSS} to ${invalidThemeName}. Are you sure that what you have on your local system matches what's in the GitHub repository?

[2011-08-13 14:28] JonFerraiolo opened #823 "Update docs to reflect alphabetized widgets"
Need to take some new snapshots and updates lists in the docs

[2011-08-13 14:37] JonFerraiolo commented on #822
Another thought - maybe you need to clear your browser cache?

[2011-08-13 18:15] peller commented on #822
Templates should be inlined by the build, so cachebusting should cover this.  Without a build, it's quite possible you could have a stale cache situation.

[2011-08-13 19:29] waynevicknair commented on #822
i was running from inside eclipse. i'll test again on a build monday. for some reason my VPN quit working here at home. :(

[2011-08-13 21:28] JonFerraiolo opened #824 "Absolute positioning broken in Safari with Preview 2"
@jhpedemonte, @waynevicknair, @billreed63

Looks like no one tested absolute positioning with Safari before we released Preview 2. Gulp.
- New HTML File
- Switch to absolute positioning
- Drag/drop a Button near top/left corner of canvas

Result=> Button gets positioned about 200px too far to right and about 100px too far down.

[2011-08-13 21:31] JonFerraiolo commented on #824
This might not help, but one thing I've noticed in working with drawing tools is that the DOM properties offsetLeft/offsetTop/offsetWidth/offsetHeight seem to be reliable across all modern browsers and sometimes provides easier-to-use and more reliable metrics that dojo.coords, dojo.position or dojo.marginBox.

[2011-08-13 22:20] peller commented on #651
This probably isn't the same exception as when the bug was originally reported.  langObj is the localization object (recently added) and it appears it just wasn't initialized.

[2011-08-13 22:27] peller commented on #651
ok, now I get this:

[code]

line 158 is

[code]

and newButton is undefined.  A bit further down the stack in Workbench.js openEditor, line 921, you'll see we're falling into the condition where it thinks the page is still open, so something isn't getting cleaned up.

[2011-08-13 22:49] JonFerraiolo opened #825 "Absolute positioning misplaces new widgets if page is scrolled"
This problem exists for all browsers.
- New HTML file
- Go into absolute positioning
- Add two calendar widgets, one in middle of canvas, one at bottom of canvas
- Change window size so that the canvas gets a vertical scrollbar
- Scroll the canvas vertically
- Drag/drop a Button such that its top/left upon mouseup is very near the bottom/right of the first calendar (the one in the middle of the ca

[2011-08-14 23:41] jhpedemonte commented on #824
I cannot reproduce.  Tested on maqetta.org with Safari 5.1 (Lion).

[2011-08-15 01:12] JonFerraiolo commented on #824
Just reproduced with Mac/Safari 5.0.5. I restarted Safari, emptied my cache, I went to http://maqetta.org, clicked on "Give it a Try", launched the application, and followed steps listed above, and same thing happened. I'm updating to Safari 5.1 now. (Requires system reboot)

[2011-08-15 01:12] jhpedemonte commented on #654
Agreed with Jon's last comment: we should namespace all relevant variables.

[2011-08-15 01:17] JonFerraiolo commented on #824
Closing. Works fine with Safari 5.1. I'll create bugs to update our code and docs to say Safari 5.1 or better is required. #826, #827

[2011-08-15 01:17] #824 closed, assigned to peller

[2011-08-15 01:17] JonFerraiolo opened #826 "Update browser check logic to require Safari 5.1 or better"
@jhpedemonte

[2011-08-15 01:18] JonFerraiolo opened #827 "Update docs and Readme files to say Safari 5.1 is required"
@jhpedemonte, @peller

[2011-08-15 01:34] jhpedemonte commented on #818
Sounds good to me.

If we were only worried about min/max, then we could use the OAM [constraint attributes](http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Datatypes#constraint_attributes).  But since NumberTextBox supports the [Dojo constraint language](http://docs.dojocampus.org/quickstart/numbersDates) (which has much more than just min/max), we need to go the route you

[2011-08-15 01:42] peller commented on #826
Is there something which requires 5.1?

[2011-08-15 16:08] JonFerraiolo commented on #826
Yes. See #824

[2011-08-15 16:15] JonFerraiolo opened #829 "Update Dojo 1.7 as new stable releases appear"
@jhpedemonte

(For M3, leave Maqetta app on Dojo 1.6. This is about the version of Dojo we are using for the widgets.)

Ideally, we'd like Maqetta Preview 3 to use the officially shipping version of Dojo 1.7.0, but because of the likelikhood that Dojo 1.7 might be very late in arriving, we will probably have to ship a release candidate of Dojo 1.7 with Preview 3, and then maybe we might want to do

[2011-08-15 16:20] JonFerraiolo opened #830 "Work with Dojo team on JSONP support in data stores"
@jhpedemonte

For Preview 3, @billreed63 was forced to add some Maqetta-specific runtime logic in order to get cross-domain data stores to work. It seems like such a feature should be available as part of Dojo. Dojo does support JSONP in various parts of the toolkit, and with Dojo 1.7, supports cross-domain data stores via JSON-REST, but JSON-REST requires servers to support a new protocol, wherea

[2011-08-15 18:00] peller commented on #818
I think we should consider just making it work as a plain JSON string, initially, perhaps for a while...    I think Cindy implied that was not working.  The added complexity of typing the nested args may not be worth it, as even Dojo's API doc metadata never seems to be working on these elements.

[2011-08-15 18:30] JonFerraiolo commented on #818
From a UI perspective, we can't tell designers they need to enter properly formatted JSON. That's way, way too much to ask them. Somehow or other we need to create separate properties for each of the constraints.

There are multiple ways to skin that cat. One is what I proposed in terms of leverage an existing feature in OAM that we haven't implemented in Maqetta yet. There are other approaches, b

[2011-08-15 23:03] JonFerraiolo opened #831 "Cannot select CheckBox in this example"
@jhpedemonte, @peller, @billreed63

(Doesn't have to be Adam to fix this)

With the HTML file shows below, I cannot click-select the CheckBox. I can select it in the outline palette, but not on the canvas. Broken in both Preview 2 and in current code.

To reproduce, run Maqetta, go to split view, then copy/paste the HTML content below into source view. Then try to click-select the checkbox.

[code

[2011-08-15 23:09] JonFerraiolo commented on #831
Closing - duh! The DIV is obscuring the checkbox and capturing all of the click events. HTML does this even though the DIV has no content and is transparent. Nothing Maqetta can do about this.

[2011-08-15 23:09] #831 closed, assigned to peller

[2011-08-16 16:57] peller commented on #820
Sorry for the late response.  I'm concerned about the case where someone resizes a top-level widget from a fixed size to 100%x100% -- where the adjustment in question is important -- and that case is currently broken (but only after selecting a child widget)  May or may not be a regression.

[2011-08-16 21:12] childsb commented on #810
Fixed with checkin 27650e38cbac86cb3e90

[2011-08-16 22:29] peller commented on #810
please also consider (2) -- lower priority, but somewhere we're not escaping urls -- and I'll retest (3)

[2011-08-16 22:39] childsb commented on #810
this sounds like a bug with DND, and i'm guessing also an issue with preview 2 where you to create a file in folder with a space, then drag an image to its canvas.  (.\project one\file1.html)

how is DND generating the URL?

[2011-08-16 23:11] jhpedemonte opened #832 "Context/VisualEditor point to unknown DOM nodes"
- Reload Maqetta.
- Open Sample1.html.  Cycle through states.
- Close and reopen Sample1.html.
- Cycle through states.

After reopening the file, an error appears in the console when switching states. A TypeError as a result of a call in [Context.js](https://github.com/maqetta/maqetta/blob/0ae721d504c55874530b9a1de18922fd88b364da/davinci.core/WebContent/davinci/ve/Context.js#L716).  The error appe

[2011-08-17 02:45] #820 closed, assigned to peller

[2011-08-17 18:45] jhpedemonte opened #833 "subscribe() getting called multiple times in Context.js"
In commit 0ae721d504c55874530b9a1de18922fd88b364da back from May, @peller added a `subcribe()` call in [`Context._processWidgets()`](https://github.com/maqetta/maqetta/blob/0ae721d504c55874530b9a1de18922fd88b364da/davinci.core/WebContent/davinci/ve/Context.js#L714)

However, this code is called from `Context._setSource()`, which is called many times during a Context instance's life, primarily if t

[2011-08-17 18:55] JonFerraiolo commented on #833
First, for short-term, I'm pretty sure it would be OK to comment that code. The overlay widget logic in incomplete anyway at this point and if it causes bugs elsewhere, then deactivate the code until Adam finishes up the overlay widgets.

Regarding the subscribe() inside of _processWidgets, that is indeed a head-scratcher. I don't see any closure variables in scope, so it does seem that the subscr

[2011-08-17 19:39] jhpedemonte commented on #833
Yes, I already talked to Adam about this over email.  He recognized the issues.  He asked me to open this bug in order to track this, and he'll fix it when he gets back.

[2011-08-17 19:40] childsb opened #834 "Session expiration message / logic incorrect"
If the user leaves the web browser open, the session expires after some time and gets an "error loading plugins" message when the user returns.

The message needs to change on error handled properly on client.

[2011-08-17 19:40] childsb commented on #834
From Jon-

Hi Wayne and Brad,
One problem which I do not believe is in the bug base yet is session timeout handling. If I click the "Try It" button on Maqetta.org, fool around for a bit in the app, and then leave that browser window open overnight, the session seems to have timed out, but the browser window is still open, so on the next day, when I try to use the application, I get a cryptic error

[2011-08-17 20:50] waynevicknair opened #835 "element IDs MUST be unique"
"Uncaught TypeError: Cannot call method 'getContext' of undefined" error shows up in console when a non-unique ID is entered into an HTML file.

Test Scenario:
- New HTML File
- Add a Button
- In Properties palette, set ID to "foo"
- In split view, copy/paste the INPUT element for the Button such that there are now two INPUT elements both with ID of "foo"

[2011-08-17 20:53] JonFerraiolo commented on #835
The above case is just one symptom of a more general issue with the code. We have piecemeal logic to prevent duplicate IDs but don't have a robust approach. We need to identify all of the scenarios where there might be a duplicate ID created and do something to prevent it, either manufacture a new unique ID or stop the operation with a message to the user.

[2011-08-17 20:59] childsb opened #836 "m3 project migration"
Added projects to users folders, so need to migrate users workspace.

Method:

1) create <username>/project1 folder
2) move </username>/_._ to project1 folder

[2011-08-17 21:15] peller commented on #835
duplicate ids aren't legal, but they are tolerated.  Perhaps we have to find a way to tolerate them, too?  The file may be imported with duplicated ids... it's not always a matter of catching user input.

[2011-08-17 21:33] JonFerraiolo commented on #835
Duplicate IDs are not tolerated by dijit. If there are two dijits with the same ID, dijit posts an exception.

In Maqetta, probably not totally fatal to have duplicate IDs, but will definitely end up causing things to break from a user perspective. Preventing duplicate IDs is one of those things that a tool should do on behalf of the user.

[2011-08-17 21:34] billreed63 commented on #135
@JonFerraiolo
How to handle SmartInput for TreeGrid???

TreeGrid consists of 3 items about the data we need to know, one is the names of the columns for the DataGrid and the second is the nesting of the data and how that data maps to the columns
:

TreeGrid without dijit.tree.ForestStoreModel:

[code]

If we use this implementation of TreeGrid what syntax do we use for smartInput?

[code]

If we u

[2011-08-17 22:41] JonFerraiolo commented on #135
This might take multiple iterations of discussion because this is a complex widget, but when looking at the final example (dojox.grid.TreeGrid Large 4-Level - calculated totals and openAtLevels) in test case dojox/grid/tests/test_treegrid.html, where the JSON data is in http://localhost/~jonferraiolo/dojo-release-1.7.0b2-src/dojox/grid/tests/support/gamedata.json, I'm thinking smart input should l