[2012-02-02 21:04] JonFerraiolo commented on #1676
Can't reproduce now.

[2012-02-02 22:06] #1674 closed, assigned to JonFerraiolo

[2012-02-02 22:44] billreed63 commented on #1636
fixed by 6c3adc3257f367a6d2811b50377527e0b35ebb29

[2012-02-02 22:44] #1636 closed, assigned to billreed63

[2012-02-02 22:51] #1661 closed, assigned to childsb

[2012-02-02 22:51] #1646 closed, assigned to childsb

[2012-02-02 22:51] #1626 closed, assigned to childsb

[2012-02-03 14:41] peller commented on #1625
seems to be fixed

[2012-02-03 14:41] #1625 closed, assigned to aerwin

[2012-02-03 15:06] #1606 closed, assigned to aerwin

[2012-02-03 16:19] aerwin commented on #1621
This will be naturally taken care of as part of #1638. So, closing this one.

[2012-02-03 16:19] #1621 closed, assigned to nobody

[2012-02-03 16:29] billreed63 opened #1679 "Test plan for theme sets"

[2012-02-03 16:35] JonFerraiolo opened #1680 "Fully leverage AMD in preview/silhouette code"
Maybe leverage the style sheet management features that @jhpedemonte added which makes it so that a stylesheet is only added to DOM once.

[2012-02-03 17:01] JonFerraiolo opened #1681 "[AMD Regression] Startup exception duplicate ID"
At product startup (launched from Eclipse or build) the following exception appears in console:

[code]

[2012-02-03 17:12] JonFerraiolo opened #1682 "Dirty bit not preserved across browser refresh (user data loss)"
(Same problem with Preview4 release and latest code)
- Go to Maqetta.org and click on "Give it a Try", then "Launch Maqetta" to get a virgin workspace in cloud
- New HTML File
- Add a Button (notice: dirty bit shows)
- Browser refresh

Result=> page refreshes with the HTML file containing the Button, file1.html is listed in Files palette, but dirty bit doesn't show on editor tab.
- Click "x" close

[2012-02-03 17:21] JonFerraiolo opened #1683 "The value is overriden and can not be changed"
@childsb

In both Preview 4 and latest code:
- Virgin setup
- New HTML File
- Add ContentPane
- Add H2 inside of ContentPane
- In Prop palette, set text-align to center and font-weight to bold
- Click on "All" link at top of Prop palette

Result=> Alert that says "The value is overriden and can not be changed"

[2012-02-03 17:31] JonFerraiolo opened #1684 "Gradients lost when switching states"
(Bug in both Preview4 and current code)
- New HTML FIle
- Add a DIV
- Put black/white default gradient on DIV
- Add state "aaa"
- Switch to state "aaa"
- Switch back to Normal

Result=> Gradient disappears. Looks like there is missing array logic somewhere in states code

[2012-02-03 17:42] JonFerraiolo opened #1685 "[AMD Regression] Various gradient problems"
I'm still working on steps to reproduce.
- If I clone custom, and then select Heading/Global, bring up Background dialog, and delete all intermediate stops, and set gradient to white-to-green or whatever and click OK, nothing happens
- Sometimes the application gets into a state where whenever Background dialog comes up, the file prompt appears

[2012-02-03 17:48] childsb commented on #1682
Fixed with commit 088c8102e956f5be3ef5cc5f6fba9c4a18b24fbe

[2012-02-03 17:48] #1682 closed, assigned to childsb

[2012-02-03 17:52] JonFerraiolo opened #1686 "[AMD Regression] Preferences dialog not working"
@peller, @childsb

I assigned to @aerwin thinking it likely was dependent on #1638

Go to menubar and try to issue a Settings->Edit preferences command. You get:

[code]

[2012-02-03 20:18] aerwin opened #1687 "[AMD Regression] Double-clicking SampleJS.js in Files Palette Fails"
Using Chrome and locally installed build on Windows, I get the following exception:

Uncaught TypeError: Cannot call method 'getOpenEditor' of undefined
require.cache.davinci/js/js.plugin.define.davinci.editorActions.editorContribution.actions.isEnableddavinci/davinci:22113
require.cache.davinci/Workbench._36b._createToolBardavinci/davinci:3878
require.cache.davinci/workbench/_ToolbaredContainer._

[2012-02-03 20:21] childsb opened #1688 "[AMD Regression] Error in console after opening app.css"
On built maqetta-

1) Open sample1.html
2) open app.css

notice error in console (or if you have break on error the debugger will stop):
s is null
http://lab9.austin.ibm.com:50010/maqetta/app/dojo/dojo.js?6228de405d8e0b1581446c0428ea2818a31b22cc
Line 3880

[2012-02-03 20:35] aerwin opened #1689 "Upload file dialog won't upload"
Using Chrome with local install on Windows, I can add a file to the File Upload dialog. But, clicking "Upload" button on dialog has no impact. Dialog stays up, and no errors in JavaScript console or server console.

[2012-02-03 20:38] childsb opened #1690 "[AMD Regression] Can't set title"
1) New HTML (or old, who cares!?!?)
2) DND a button
3) Highlight the button, go to common properties
4) set the title to any string and click away.  Notice error in console (or break on error):

_2161 is not a constructor
[Break On This Error](47722 out of range 6274)

[2012-02-03 20:44] JonFerraiolo commented on #1687
Also dies on Mac and when running dev version from Eclipse at js.plugin:107

[2012-02-03 20:52] JonFerraiolo commented on #1688
Assigned to @peller just so it doesn't fall through cracks.

I just tried using local install version of built (http://localhost:50000/maqetta) on Mac/Chrome and couldn't reproduce.

[2012-02-03 21:05] childsb opened #1691 "DataGrid DND error"
1) New HTML file
2) Enable "break on error"
3) DND a Data Grid.
4) Debugger stops with:
this.headerContentNode.firstChild is null

5) Datagrid is still added to the page
6) When you click away from datagrid you get similar error.

[2012-02-03 21:07] JonFerraiolo commented on #1689
Dupe of #1668

[2012-02-03 21:07] #1689 closed, assigned to nobody

[2012-02-03 21:12] JonFerraiolo commented on #1690
@peller @jhpedemonte

Dies in CommonProperties:105

The ModifyCommand variable (from closure) has bogus information on it. I think this is just a easy-to-fix coding error in the AMD declarations at the top of the file.

[2012-02-03 21:27] #1524 closed, assigned to billreed63

[2012-02-03 21:41] billreed63 opened #1692 "Creating javascript file throws exceptio"
From the New menu on the banner, choose "JavaScript File..."
Don't accept the default filename. Instead, type a new file name, but within the default directory.
Add some text to the file, such as "// a comment"
Click the "Save" button on editor toolbar
Close the editor by clicking "x" on editor's tab
Double-click on the filename in Files palette to reopen
Close the editor by clicking "x" on editor

[2012-02-03 21:43] #1686 closed, assigned to peller

[2012-02-03 21:46] billreed63 commented on #1692
Can not open a js file either...

[2012-02-03 22:03] billreed63 opened #1693 "Overlay widget throws exception"
Tooltip placement

Steps
Standard setup things: Clear the browser cache. Launch the Maqetta server. Login if necessary. In some cases, you'll want to setup a virgin user environment by creating a whole new user login.
Click on the "New file" icon on the main toolbar. Choose any filename.
Drag a Button onto the canvas. Set the text on the Button to "Show Dialog"
Drag a Tooltip on to the Button. The

[2012-02-03 23:31] JonFerraiolo opened #1694 "New HTML File source view doesn't show id="myapp""
@peller
- New HTML File
- Go to split view. You'll see this in the source pane:

[code]
- Add a DIV. Source pane now shows id="myapp":

[code]

Notice that id="myapp" only appears after adding a widget. I suspect the model has id="myapp" but the source pane at first view is using the result of getText() before id="myapp" was added to the model.

[2012-02-03 23:48] peller commented on #1670
the same seems to be true of Workbench.  Some code is mixed into Workbench, which seems to be redundant with code already in workbench and in some cases not even related (e.g. the Explorer view is now loaded by Review code)  Need to straighten this out.

[2012-02-03 23:50] JonFerraiolo opened #1695 "Logout hangs"
(Maybe this is due to AMD'ing the plugins?)

@peller, @jhpedemonte

When I run the multi-version public ZIP file (the one with the default user manager), and do these steps:
- Launch maqetta.server.mac.command
- In browser go to http://localhost:50000/maqetta
- Create a new login
- When Maqetta app appears, click on logout link

Result=> White screen with Logging Off spinner appears, and welcome s

[2012-02-03 23:55] JonFerraiolo opened #1696 "New Project not working"
(Maybe this is due to AMD'ing the plugins?)

@peller, @jhpedemonte

When I issued a New Project command, and clicked OK in the dialog, nothing happens and the following appears in console:

[code]

[2012-02-04 01:57] JonFerraiolo commented on #1215
Still pending:
- (nothing, just testing)

[2012-02-04 02:39] peller commented on #1693
possible dup of #1398

[2012-02-04 02:48] aerwin opened #1697 "[AMD Regression] Download file fails"
Using Chrome with local install on Windows...
1. Select file
2. Right click and choose Download
3. Click Download button on dialog and get error below in console:

Uncaught TypeError: Object #<Object> has no method 'getProject'
require.cache.davinci/actions/DownloadAction._fb.downloaddavinci/davinci:1200
_383dojo.js:4551
require.cache.dijit/_DialogMixin._94._onSubmitdavinci/davinci-common:790
requ

[2012-02-04 02:53] aerwin opened #1698 "[AMD Regression] Download Selected Toolbar Button Fails"
Using Chrome with local install on Windows...
1. Select file
2. Click on 2nd button in Files Palette for Download Selected and see the following error in the console:

GET http://localhost:50000/maqetta/app/davinci/ul/DownloadSelected.js?6fb35ac99d4df9619c243bbee2361c2eae9d2cd2 404 (ProxyServlet: /maqetta/app/davinci/ul/DownloadSelected.js)
req.getTextdojo.js:136
_32dojo.js:827
_9dojo.js:31
_71doj

[2012-02-04 02:54] #1695 closed, assigned to peller

[2012-02-04 02:57] aerwin opened #1699 "[AMD Regression] Modify Libraries in button in Files Palette fails"
Using Chrome with local install on Windows...
1. Click on Modify Libraries button and get following error in console:

Uncaught ReferenceError: Workbench is not defined
require.cache.davinci/ui/UserLibraries._753.getResourceBasedavinci/davinci:8657
require.cache.davinci/ui/UserLibraries._753.buildRenderingdavinci/davinci:8629
require.cache.dijit/_WidgetBase._288.createdijit/dijit:2693
require.cach

[2012-02-04 02:58] peller commented on #1691
I see an error like this in M4, so it does not appear to be an AMD regression.

[code]

[2012-02-04 03:24] peller commented on #1696
could be related to 84704239a84dcc3862bbc8937b1a55671ca81f67  I see a couple of references to `Runtime.loadProject` that need to be updated.

[2012-02-04 03:36] peller commented on #1688
works for me on lab9.  @childsb, if you still see this, please paste in the stack

[2012-02-04 03:36] #1688 closed, assigned to peller

[2012-02-04 16:20] JonFerraiolo opened #1700 "Unused stores never get deleted from user HTML files"
@aerwin
- New HTML File
- Add Button, Tree, Calendar
- Open up browser debugger showing DOM tree of user HTML doc. You'll see this inside of BODY: SPAN for Button, SPAN for ItemFileReadStore, SPAN for ForestStoreModel, SPAN for Tree, SPAN for Calendar. This is all OK
- Select Tree and "cut"
- Then issue a paste command and click to add Tree back in

Result=> Look at DOM tree of user HTML doc. You'

[2012-02-04 16:30] JonFerraiolo opened #1701 "Need to shuffle stores when reparenting data-bound widgets"
@aerwin

WIth latest code, I had a flowable document with the following: Button, DataGrid, Calendar, and then selected the DataGrid and interactively dragged it to the end of the doc (i.e., after the Calendar). Looking at browser debugger showing the DOM tree of the user HTML document, I see things in this order: Button, ItemFileReadStore, Calendar, DataGrid (plus a mysterious iframe).

Are we pro

[2012-02-04 17:35] JonFerraiolo opened #1702 "Clean up isLocalInstall vs isSingleUser"
@peller

Relative to this commit comment:

https://github.com/maqetta/maqetta/commit/91da78bd31b172252ea3c389acbaf651c722b8d8#commitcomment-932628

we see to have two checks expressing the same concept. The term "single user" is probably better because there might be a multi-user local install.

[2012-02-04 17:52] #398 closed, assigned to aerwin

[2012-02-04 18:00] aerwin opened #1703 "New Review Fails"
Using Chrome and local install on windows (also happens on lab9:50020)...
1. Click button for New Review and nothing happens except a bunch of errors in the console:

[code]

[2012-02-04 18:43] aerwin opened #1704 "States Testing -- element.style not available on CSS cascade for button background"
Following the instructions in the "Changing properties in different states" section of the States Palette tests, and cannot change button to use element.style for background color despite the instructions advising me to do so:

[2012-02-04 18:45] aerwin commented on #1704
Ok... reading thie instructions closer, the test actually calls for setting "font color" rather than the "background color" so maybe there's not a problem? Should element.style be available for "background color"?

[2012-02-04 18:55] peller commented on #1681
@childsb
`dojo.parser.parse()` get called many, many times.  Each of our custom templated widgets with 'widgetsInTemplate" turned on triggers a parse, and the entire page triggers a parse when the load is complete (onLoad).  The parse is supposed to replace the node with the dojoType attribute.  Some of our custom widgets don't seem to be doing this.  The rules for the custom widgets and their lif

[2012-02-04 19:03] peller commented on #1702
besides the inconsistent naming, one's a property and the other a function.  We should avoid the Java-bean getter/setter pattern for simple property access.

[2012-02-04 19:28] JonFerraiolo opened #1705 "Investigate selection offset problems with this file"
When selecting widgets within a SwapView, selection offset is wrong

[code]

[2012-02-04 19:37] aerwin opened #1706 "Properties Palette -- values typed in combo boxes aren't committed"
1. New HTML file
2. Add button to an HTML file
3. Select button and go to Font Properties
4. Type "60px" (or any value) in size combo box
5. Change focus and note value is _not_ applied

However, if I choose value directly from the drop down (or click the +/- buttons next to the drop down) the sizing _is_ applied.

Similar behavior seems to occur with the font-family property.

[2012-02-04 19:46] aerwin opened #1707 "Changing state doesn't update CSS cascade"
1. In an HTML file with some states, choose Normal state
2. Select widget (say a button)
3. Go to CSS cascade for a property (say Font -> Size)
4. Go to states palette and choose different state (say abc)
5. Note option to "Only apply to current state (abc)" does _not_ appear.
6. Select another widget and note "Only apply to current state (abc)"  _does_ appear
7. Now select another state in states

[2012-02-04 20:04] aerwin opened #1708 "[AMD Regression] Preferences won't launch"
Using Chrome with local install on Windows...

Choose Settings -> Preferences and nothing happens except the following in the console:

Uncaught TypeError: Cannot call method 'showPreferencePage' of undefined

[2012-02-04 20:25] #1681 closed, assigned to peller

[2012-02-04 20:39] JonFerraiolo commented on #1706
@childsb

[2012-02-04 20:48] JonFerraiolo commented on #1681
@peller: I'm confused about what's going on with the original bug report and the relationship to the commit that fixes this bug.

When you say "Each of our custom templated widgets with 'widgetsInTemplate" turned on triggers a parse," do you mean that each custom templated widget triggers a parse of the subtree defined by the template, or does it trigger a full-document parse?

If there is a probl

[2012-02-04 20:51] JonFerraiolo commented on #1704
I'll investigate. I'm sure there are bugs in this area, and if not bugs, at least there are usability issues in this area.

But one thing I'll note is that for some widgets there are properties which cannot be set on element.style because that would result in a bad result. There is an explicit flag in our theme metadata for this. When I investigate this bug more deeply, I'll check into 'background

[2012-02-04 21:14] aerwin opened #1709 "[AMD Regression] Background dialog for mobile theme editor shows File dialog on bring-up"
1. Click button to bring up Background dialog to change global background in a cloned mobile theme
2. Close dialog
3. Bring up Background dialog again and fFle dialog incorrectly shown on top of Background dialog

[2012-02-04 21:24] JonFerraiolo opened #1710 "SelectTool drag/drop a View changes ID on View"
Probably better to assign to @jonferraiolo but assigning to @jhpedemonte for fear @jonferraiolo will be too swamped in short-term.
- New HTML File - composition type of one of the mobile devices
- Drag/drop a View (id set automatically to View_0)
- Drag/drop a second View (id set automatically to View_1
- With View_1 selected, put mouse of selection chrome and drag around a bit and let go

Result=

[2012-02-04 22:06] peller commented on #1681
A parse of just the subtree, as you'd expect.  We've got a lot of them, which may or may not be a performance issue.  It's definitely not the fastest way to construct simple widgets.  If you look at something like ProjectToolbar/ProjectSelection, it's not clear we need custom widgets.  ProjectSelection is really just a ComboBox with a few lines of code used to instantiate it.

widgetsInTemplate is

[2012-02-04 23:44] peller commented on #1708
dup of #1686?

[2012-02-05 01:11] peller commented on #1681
also, a footnote: the "new" way to make a Templated widget which runs the parser is to mix in _WidgetsInTemplateMixin instead of setting widgetsInTemplate:true.  This was part of the TemplatedMixin refactor to reduce code footprint.

[2012-02-05 02:22] #1708 closed, assigned to nobody

[2012-02-05 20:12] peller commented on #1709
HTMLStringUtil's id generator was replaced in 2912c572b57eac8f85ba7e34a6a61e6131bb86aa and cb966196cd898ae3e2be4f63eb61257b4f621c4c with code that appears to collide with other widgets, so the FileFieldDialog hooks on to the button in the properties palette instead of some other button deeper in the hierarchy.

[2012-02-05 20:20] peller commented on #1709
Probably better to share a routine to generate ids, but not to couple it with the methods in HTMLStringUtils that seem to pull in so many dependencies.  Perhaps if that was broken out to a separate module instead, that would have broken the circular dep?  It also may be possible to structure this code such that ids don't need to be used at all.

[2012-02-05 20:24] #1709 closed, assigned to peller

[2012-02-05 20:42] JonFerraiolo commented on #1215
Fixed by https://github.com/maqetta/maqetta/commit/205f02ee9ce21a24c51ae7e060e78cd2dc86ecd0

[2012-02-05 20:42] #1215 closed, assigned to JonFerraiolo

[2012-02-05 21:16] #1653 closed, assigned to JonFerraiolo

[2012-02-05 21:16] #1654 closed, assigned to JonFerraiolo

[2012-02-06 03:38] JonFerraiolo commented on #1676
Closing

[2012-02-06 03:38] #1676 closed, assigned to JonFerraiolo

[2012-02-06 03:39] JonFerraiolo commented on #1302
@billreed63
Moving to M6 when big theme editor changes will be happening.

[2012-02-06 04:02] peller opened #1711 "[AMD] Preferences -> Javascript -> Formatting exception"
@waynevicknair

Format object is referenced like a function

updateExample() at davinci/js/ui/FormatOptions:113
declare.getPanel.panel1.right.createNode() at davinci/js/ui/FormatOptions:116
require.cache.davinci/ui/Panel.Panel.metadata.dynamic.createWidget() at davinci/davinci:45508
require.cache.davinci/ui/Panel._1fa2._buildPanel() at davinci/davinci:45109
require.cache.davinci/ui/Panel.Panel.met

[2012-02-06 04:11] #1711 closed, assigned to nobody

[2012-02-06 04:16] #1687 closed, assigned to jhpedemonte

[2012-02-06 04:18] #1624 closed, assigned to JonFerraiolo

[2012-02-06 04:19] JonFerraiolo commented on #1657
Fixed by 2 205f02ee9c

[2012-02-06 04:19] #1657 closed, assigned to JonFerraiolo

[2012-02-06 04:29] JonFerraiolo opened #1712 "Remove console.warn at DataGridHelper.js:189?"
Re

[2012-02-06 04:38] peller opened #1713 "change global theme seems to work, but error appears in console"
Click on the global widget in the (Claro) theme editor and change the color.
See the color change, but this error message appears in the console:

[theme editor style change command] !FATAL! Rule not found in theme: .newclaro .dijitTitlePane
davinci/ve/themeEditor/commands/StyleChangeCommand:120

[2012-02-06 04:41] JonFerraiolo commented on #1690
Reassigning to @peller, with hope that he might have a clue about why things aren't working in build but OK when running from Eclipse.

[2012-02-06 04:41] peller opened #1714 "error when switching states in theme editor"
no observable effects of this exception; state change appears to work

`if(!((9 == root.nodeType) || nospace)){ throw ""; }`

_queryFuncCacheQSA.(anonymous function)() at dojo/selector/acme:1182
query() at dojo/selector/acme:1454
query() at dojo/query:656
declare._updateStyle() at davinci/ve/themeEditor/metadata/CSSThemeProvider:258
declare.removeWidgetStyleValues() at davinci/ve/themeEditor/metad

[2012-02-06 04:43] peller commented on #1714
hmm... this exception is probably ok.  It was another exception I was actually seeing in ViewPart, but I can't reproduce that right now.

[2012-02-06 04:44] peller commented on #1714
aha, I see it now.  Still not sure exactly how to make this happen  Seems to happen if I click around on states with a widget like Calendar selected, then click off the calendar and keep switching states

widget is null: `if (widget.id === 'all' && state != 'Normal'){`

[code]

[2012-02-06 04:49] JonFerraiolo commented on #1685
Might be fixed by fixes in last few days. I thought there were comments regarding this being fixed. Need to retest with a new build.

[2012-02-06 04:53] JonFerraiolo commented on #1706
@aerwin - what gesture did you use to change focus? I'm having trouble reproducing.

[2012-02-06 04:57] JonFerraiolo opened #1715 "Why are there duplicate nls files in davinci/de?"
There are duplicates of davinici/ve/nls/\* within davinici/de/nls/*. how come?

[2012-02-06 05:38] aerwin commented on #1706
@JonFerraiolo I was just tabbing out of the field. But, I'm not able to reproduce tonight. Strange... I must have somehow gotten my workspace into a bad state yesterday. I'll close this for now and keep my eyes open for it happening again.

[2012-02-06 05:38] #1706 closed, assigned to JonFerraiolo

[2012-02-06 05:39] aerwin commented on #1708
Confirmed this is working now.

[2012-02-06 05:47] aerwin commented on #1638
@peller

So, looking at this, I find the following modules with dependencies on `davinci.ui.Panel`. There's a fair number more than you reported initially:
- davinci.libraries.dojo.dojo.data.DataStoreBasedWidgetInput
- davinci.libraries.dojo.dojox.grid.DataGridInput
- davinci.libraries.html.html.HtmlSrcAttributeInput
- davinci.js.ui.FormatOptions -- dependency is that is requires Panel, but doesn'

[2012-02-06 14:44] billreed63 commented on #1700
The issue with deleting data stores is that we need to insure that the store that is being deleted is only used by the widget that is being deleted. This is most likely not an issue with widgets that we place on the canvas, but if a user were to hand edit the source and add a widget that uses the same data store as another widget this could be an issue. This may also be more of an issues with MVC

[2012-02-06 14:57] billreed63 commented on #1701
We have code in DataGridHelper.js that insure that the store is declared in the html before the DataGrid. This is handled for re-parent and create. The MoveCommand just changes the style attribute so Store DataGrid order does not change. The ModifyCommand removes the old widget and creates a new widget so the DataGridHelper.create is called to fix the Store.

[2012-02-06 15:42] JonFerraiolo commented on #1701
But it appears that ModifyCommand isn't deleting the old datastore widgets so if you go through ModifyCommand you end up with both the old datastores and the new datastores, and these multiple stores are persisted within user's HTML files.

[2012-02-06 15:50] aerwin commented on #816
@JonFerraiolo @jhpedemonte

I've pushed out my branch containing the horizontal and vertical slider changes (which includes smart input w/ preview). Would either of you like to review before I merge into master?

Also, there are a few open issues that I'll look to get resolved in one or more feature/problem reports. But, I wanted to get what I have in front of folks for discussion (since there was

[2012-02-06 15:51] JonFerraiolo commented on #1700
We need to clean up and remove unused data stores, one way or another.

In fact, it would be good to do a full document cleanup with such a traversal to deal with old files.

In terms of whether users can create HTML files with declarative data stores, and then refer to those declarative data stores in custom JavaScript, two approaches:
1. We could tell users "don't do that" - tell users that any

[2012-02-06 15:51] billreed63 commented on #1691
This is FF only

[2012-02-06 16:06] aerwin commented on #1638
One additional note.... After latest pull, the `davinci.js.ui.FormatOptions` doesn't have any reference to Panel.

[2012-02-06 16:49] #1696 closed, assigned to childsb

[2012-02-06 16:54] #1699 closed, assigned to childsb

[2012-02-06 17:09] childsb commented on #1526
Resolved in 088c8102e956f5be3ef5cc5f6fba9c4a18b24fbe

[2012-02-06 17:09] #1526 closed, assigned to childsb

[2012-02-06 17:16] #1692 closed, assigned to childsb

[2012-02-06 18:45] #1690 closed, assigned to peller

[2012-02-06 20:33] #1691 closed, assigned to billreed63

[2012-02-06 20:50] billreed63 commented on #1701
I can't reproduce this, I tried a HTML page wit flow layout
1) DND Button
2) DND DataGrid
3) DND Calendar
4) Select the DataGrid in page designer and drag to following the Calendar widget ans release..

My outline tree now has..

Button
ItemFileReadStore
Calendar
DataGrid
<iframe>

I see only one store...

[2012-02-06 21:11] JonFerraiolo commented on #1701
I guess this one can be closed, but from a user perspective,wouldn't it be better if the DIV associated with the store were always just before the DIV associated with the DataGrid? Otherwise, there might be an ItemFileReadStore far away from the DataGrid and the user might be more tempted to delete the ItemFileReadStore, and even if they don't succumb to temptation, when they hand off to a develop

[2012-02-06 23:41] JonFerraiolo opened #1716 "Vertical Slider: left labels shift to right"
@billreed63
- New HTML File
- Add Vertical Slider
- In dialog that comes up, click on one of the + icons and add a label column so that there are now 2 label columns. Make sure one of the label columns is 'left' and one is 'right'
- In either visual editor or Outline palette, select the left column labels and under widget-specific change value for 'Labels' (e.g., to 0,1,2)

Result=> Both label col

[2012-02-07 00:21] aerwin commented on #1716
Yes... this is one of the remaining issues I described in #816 (though I described it in a more obscure way there):

[2012-02-07 02:23] aerwin commented on #1638
@peller @jhpedemonte @JonFerraiolo @childsb

Who knows about `davinci.libraries.dojo.dojo.data.DataStoreBasedWidgetInput`? I think it might be dead code. I only see it referenced in `EdgeToEdgeDataListInput`, but it doesn't appear `EdgeToEdgeDataListInput` uses it.

[2012-02-07 03:52] jhpedemonte commented on #1671
I'm assuming this is done now.  Was there any thing left, @JonFerraiolo?

[2012-02-07 04:56] peller commented on #1638
try @billreed63   It does appear `EdgeToEdgeDataList` inherits from it `DataStoreBasedWidgetInput`, but you won't have to do anything specific to that file since there's no direct use of `davinci.ui.Panel` there.  So yeah, it does look like there were a few references in dojo_1_7 that I missed.  Perhaps they're all similar file/tree type UIs and can be replaced by some simple static Dialog definit

[2012-02-07 15:52] JonFerraiolo commented on #1671
If there are other issues, we can create new bugs. Closing this one.

[2012-02-07 15:52] #1671 closed, assigned to jhpedemonte

[2012-02-07 15:56] peller commented on #1690
looks ok to me.   I had reopened the bug simply because I hadn't tested it... yet the bug appears to be in a closed state.  If you think it should be re-opened, please do so

[2012-02-07 17:19] billreed63 commented on #1638
We have several store based widgets Tree, DataGrid, RoundRectDataList, EdgeToEdgeDataList, Carousel  I believe the dojo MVC also makes heavy use of stores, so when we support dojo MVC we will have even more widgets that use stores.  The idea behind the  ''' davinci.libraries.dojo.dojo.data.DataStoreBasedWidgetInput '''' was that it would be the base class that more specific widget class would inhe

[2012-02-07 18:42] JonFerraiolo opened #1717 "Remove "target" from shapes and clipart"
No need for "target" overlay rectangle for shapes and clipart. There is no implicit interactivity that needs to be masked by the "target" overlay, and it sometimes gets in the way of multiple selection.
- New HTML File
- Add Text from Drawing Tools
- Add a Rectangle such that the Text is visibly inside of the Rectangle
- Select the Rectangle
- Attempt to ctrl-click the Text for multiple selection

[2012-02-07 20:33] billreed63 commented on #1700
I have added code to the `davinci.ve.actions.DeleteAction.run()` that will call the widget helpers getRemoveCommand method, the method returns a command that will be added to the command stack instead of the default RemoveCommand that is part of DeleteAction.

What the `helper.getRemoveCommand(widget)` does is get the dataStore that is associated with the widget and creates a CompoundCommand addin

[2012-02-07 20:53] #1700 closed, assigned to billreed63

[2012-02-07 22:18] #1701 closed, assigned to billreed63

[2012-02-07 22:54] JonFerraiolo commented on #1597
Reopening.

Not sure what I was seeing when I closed this bug. When I try simple things with shapes and states, things don't work:
- New HTML File (lo-fi sketch)
- Add a Text, Rectangle, Circle
- Define states aaa and bbb
- Make Rectangle and Circle invisible in Normal state
- Turn Rectangle on for state aaa, Circle on for bbb
- Cycle through the states

Result=> Rectangle will be a dot when state

[2012-02-08 00:41] jhpedemonte commented on #1701
There's 2 commits references here, but I'm wondering if the first isn't for #1700?  @billreed63?

[2012-02-08 01:09] #1597 closed, assigned to JonFerraiolo

[2012-02-08 02:18] jhpedemonte opened #1718 "Support JS "plugin" files outside of core.client?"
While cleaning up some no-longer-necessary "plugin" code (see 8db7b782fc482956729130fb9b4e4ac5807d32da), I noticed that a single plugin file actually resides outside of **maqetta.core.client**, at davinci.joomla/WebContent/joomla.plugin.  The only point of it is to add the menu item **Help->Community** when the app runs alongside Joomla.

Some questions:
1. Do we still need to support **joomla.plu

[2012-02-08 02:48] #1697 closed, assigned to childsb

[2012-02-08 02:57] jhpedemonte commented on #1710
Might be the same as (or related to) #1062.

[2012-02-08 05:06] #1717 closed, assigned to JonFerraiolo

[2012-02-08 05:12] JonFerraiolo commented on #1718
We need to have hooks in our UI to allow for installation-specific UI. In this particular case, we are allowing the addition of a Community entry on our Help menu, but this is just one small example of a necessary feature if we are delivering a configurable middleware product or (even-better) a platform. So, I think we need a mechanism for including installation specific extensions. But whether we

[2012-02-08 14:08] billreed63 opened #1719 "Don't delete DataStores that have external references."
So we are assuming that the only thing using the store is the widget getting deleted? If so, I think we should log a low-priority issue to deal with situations where custom user javascript might be referencing the store, where the required task in the issue is to document this restriction with Maqetta or find a way to notice that something else is referencing the store, in which case we probably s

[2012-02-08 14:14] billreed63 commented on #1701
Yes, I got the wrong issue number and did not notice until after I pushed upstream. So I tried to modify my last commit but git created a second commit... Can we delete the 95beaft commit, or at least change the text?

[2012-02-08 14:37] peller opened #1720 "NPE thrown in handleLibraryRequest"
@waynevicknair

Perhaps this error is the result of migration?  The bug here isn't so much whatever state led to this error, but the error handling. The server code should surface the exception as an HTTP error rather than throwing a NullPointerError

This is the error frequently seen in nohup.out on maqetta.org:

2012-02-07 22:54:15.411:WARN::ERROR:  /maqetta/user/_Guest_1328065113877/ws/workspac

[2012-02-08 14:43] jhpedemonte commented on #1701
**Reviewer:** Only review e3426554f5eb220caedd960f58e438e53812f5f1 (ignore 95beafcb9a4aaef97896dc0df8a07aa3c2ea076e).

Deleting a commit after it's been pushed can lead to bad things.  I'll see if I can change the text.

[2012-02-08 14:46] peller commented on #1720
looks like it's got to be either user or path that's null

[2012-02-08 14:59] peller opened #1721 "NPE thrown in doPut"
@waynevicknair

2012-01-25 15:18:45.867:WARN::ERROR:  /maqetta/.%2Fproject1%2FSample1.html.workingcopy
java.lang.NullPointerException
        at maqetta.core.server.standalone.DavinciPageServlet.doPut(Unknown Source)
        at javax.servlet.http.HttpServlet.service(HttpServlet.java:730)
        at javax.servlet.http.HttpServlet.service(HttpServlet.java:820)
        at org.eclipse.equinox.http.reg

[2012-02-08 15:58] aerwin opened #1722 "Move string concat of HTML and CSS for sliders into separate files"
See comments in: https://github.com/maqetta/maqetta/commit/ff0b47def545b449bc0da98c370980955b1b3b15#commitcomment-943860

[2012-02-08 17:01] JonFerraiolo opened #1723 "Clean up BackgroundWidgets to quit using global approach"
@peller, @jhpedemonte

See discussion at https://github.com/maqetta/maqetta/commit/90c562cbc61228b0f6f618e4863442e03d83dbfa#commitcomment-943802

[2012-02-08 21:06] billreed63 opened #1724 "Theme switching not enabling device drop downs"
If the mobile theme displays (device-specific) for a theme set and the user switches to (none) for the theme set the device drop downs remain disabled

[2012-02-08 21:08] #1724 closed, assigned to billreed63

[2012-02-08 21:24] aerwin opened #1725 "No filters present on file selection dialogs"
I ran across this while working on #1638... It appears that none of the dialogs that present a file chooser tree offer extension based filtering of the choices. E.g., while only `*.json` files make sense for `DataGridInput`, files of all types can be selected.

In all cases where a tree definition is passed to `davinci.ui.Panel`, the `filters` parm is specified as follows:

[code]

But, the `davin

[2012-02-08 21:46] aerwin opened #1726 "Sliders -- catch mouse events to prevent them from getting to dijits"
@JonFerraiolo

From the misc outstanding issues @aerwin listed in #816 on Feb 6:

[2012-02-08 21:51] aerwin commented on #1716
I'll want to extend this issue to include all of the `refreshFromSource` issues recorded in #816 by @aerwin on Feb 6:

[2012-02-08 21:54] aerwin opened #1727 "Potential slider enhancements"
From the misc outstanding issues @aerwin listed in #816 on Feb 6:

[2012-02-08 21:56] JonFerraiolo commented on #1725
Sounds like a good plan to me. We do want filter functionality in the future. IMO, basically Maqetta and Orion need to reproduce all of the same sorts of UI niceties in our file dialogs and palettes as we have in desktop UIs.

@childsb, @peller

[2012-02-08 21:57] aerwin opened #1728 "Sliders -- rule properties can get lost"
From the misc outstanding issues @aerwin listed in #816 on Feb 6:

[2012-02-08 21:58] aerwin commented on #816
FYI... I've opened a few issues to track the misc outstanding items I listed on Feb 6. These include #1726, #1727, and #1728.. (Also, added a couple items to #1716 that Jon had opened.)

[2012-02-08 23:32] aerwin commented on #1638
Thanks, guys. I missed that `EdgeToEdgeDataList` inherits from `DataStoreBasedWidgetInput`. I've now modified `DataStoreBasedWidgetInput` to eliminate the dependency on panel.

@billreed63 @peller A couple other questions:
- `davinci.ui.widgets.FileFieldDialog` is only referenced by `davinci.ve.widgets.HTMLStringUtil`. `HTMLStringUtil` only creates `FileFieldDialog` in its `getEditor` function in

[2012-02-09 00:45] peller commented on #1638
check with @childsb on HTMLStringUtil.  As always, extra points for eliminating dead code!

[2012-02-09 00:53] JonFerraiolo commented on #1638
I'm 99% sure that it's ok to remove FileFieldDialog references from HTMLStringUtil.js. The 'file' option doesn't appear to be used anymore. Probably older versions of the code used it for the background-image property before we added support for gradients. If 'file' were still used, there would be an entry for it in the big table at the top of ve/views/SwitchingStylingViews.js. Just to be sure, I

[2012-02-09 00:59] peller commented on #1725
It should be possible to filter the items in the tree using the dojo.data layer, and system.resource follows the dojo.data API.  Some of our old code used to mess with dijit.Tree and filter/sort directly in the UI, which was problematic.

[2012-02-09 01:00] peller commented on #1638
This task is getting easier by the minute ;-)

[2012-02-09 04:29] jhpedemonte commented on #1638
Yes, the JS Formatter code is completely broken.  As far as I know, we've decided that this will be handled by Orion, if/when it supports that.

[2012-02-09 14:26] peller opened #1729 "merge propvieweffects.css into workbench.css"
use an @import or merge these files to avoid the extra hit?

[2012-02-09 14:29] peller opened #1730 "make sure gzip is enabled"
@waynevicknair

I see gzip in the response headers when running locally in Eclipse, but I do not see it on our lab test machine or on maqetta.org

[2012-02-09 14:35] billreed63 opened #1731 "SmartInput for MenuBar should support unlimited submenu nesting"
SmartInput for MenBar  should support unlimited submenu nesting, SmartInput for dojo.Tree does

Menu 1

[2012-02-09 14:42] jhpedemonte commented on #1730
Odd. We used to have it.

Actually, I don't see it locally or on maqetta.org.  The response headers should have `Content-Encoding:gzip`.

[2012-02-09 16:16] waynevicknair commented on #1730
Brad would you please look at this? You implemented gzip originally.

[2012-02-09 18:50] #1679 closed, assigned to billreed63

[2012-02-09 19:48] aerwin commented on #1726
@JonFerraiolo We talked about this on ST and you specifically requested to review this code before I merge into master. So, I've only pushed my branch. Could you review my commit when you get a chance?

[2012-02-09 23:00] aerwin opened #1732 "Provide hook for widgets to provide rectangles so child widgets don't get covered up by target div"
Opening based on @JonFerraiolo 's comment in https://github.com/maqetta/maqetta/commit/249ae87ab6c3ec66b0fd2ca6b0262a1c1f77b1ff#commitcomment-951370:

[2012-02-09 23:02] aerwin commented on #1726
The change merged for this issue addresses a z-order problem. This improves behavior significantly, but a more robust mechanism where widgets can specify rectangles so that child widgets are not covered is still needed. A separate issue (#1732) has been opened to track that.

[2012-02-09 23:02] #1726 closed, assigned to aerwin

[2012-02-09 23:11] #1638 closed, assigned to aerwin

[2012-02-09 23:11] #816 closed, assigned to aerwin

[2012-02-10 17:10] aerwin opened #1733 "[AMD Regression] Cannot load FileFieldDialog"
This is a follow-up to #1638. @peller noticed that  he sees "Could not load class 'davinci.ui.widgets.FileFieldDialog " went clicking on things like background-image in the properties panel.

`FileFieldDialog` was deleted while getting rid of `davinci.ui.Panel` dependencies. I missed that it was referenced in the template in `BackgroundDialog.htm`.

[2012-02-10 20:00] aerwin commented on #1517
I noticed this one today as well. I don't think the html file being edited has to be inside a folder (e.g., I'm seeing it with a top-level html file).

I investigated a bit because at first I was worried I caused it (though now obviously see it's been on the books awhile)...

The dialog is trying to put the image in the little preview box it owns. Inspecting the element for the preview box in Chro

[2012-02-10 20:14] aerwin commented on #1733
@peller I just merged my update into master, and I believe this should be fixed now.

[2012-02-10 20:14] #1733 closed, assigned to aerwin

[2012-02-10 21:20] peller commented on #845
I don't think we ever implemented the removal logic.  Is #1213 a dup?

[2012-02-10 21:36] JonFerraiolo commented on #845
Yes, I believe #1213 is a dupe. I'll leave it to @peller and @jhpedemonte to figure out whether to close @peller's issue or close @jhpedemonte's issue.

[2012-02-10 23:17] JonFerraiolo opened #1734 "No cache busting URL build parameter on packages.json and widgets.json"
@jhpedemonte , @waynevicknair, @childsb

I had this mysterious problem when trying to run today's build from maqetta.org using http://localhost:50000 - the helper JavaScript files weren't coming down correctly. When I chatted with @peller, he did not have this same problem when running off of a server (:50010) and then I tried same thing and also did not have the problem. Then I cleared my browser

[2012-02-10 23:30] JonFerraiolo opened #1735 "[Regression] ChooseParent problems"
Going through test plan VE3.
1. The list of candidate parents shows a duplicated list (everything listed twice)
2. When following tutorial, dragging CheckBox over right part of a DIV and choosing "ContentPane Tab 1", the CheckBox gets dropped as a child of TabContainer instead of child of a ContentPane

[2012-02-11 00:21] #1735 closed, assigned to JonFerraiolo

[2012-02-11 01:24] peller commented on #1734
So those urls are "versioned" in the URL, but we made changes to existing versions.  I suppose that wouldn't normally happen, but we ought to allow for the possibility that these files need to be patched, I suppose.  @jhpedemonte, do you think cache-busting is the right thing to do here?  Are there other json/data files like this anywhere?

[2012-02-11 15:45] aerwin opened #1736 "First attempt to delete new iPhone themed html file fails"
1. Create new iPhone themed HTML file at root level
2. Save file and close tab
3. Right-click on file and choose Delete
4. Get this error:

[code]

Then, if I reload Maqetta the file can be deleted successully

NOTE: I've tried same steps with Desktop HiFi and deleted with no problem.

Environment: Chrome, local install on windows

[2012-02-11 15:46] aerwin commented on #1736
Oh, yeah... and no errors in server console window.

[2012-02-11 16:21] aerwin opened #1737 "Download entire workspace fails"
When I try to download entire workspace, after I hit OK I get redirected to a blank page and nothing gets downloaded.

There are no JS errors in Chrome console or server errors in server console.

Environment: Chrome, locally installed on windows ("internal" w3ibm build)

[2012-02-11 16:27] JonFerraiolo commented on #1737
Could your session have timed out? I had a problem with ZIP download failing but when I logged out and logged in, the download worked. I'm suspicious that there might be some actions like download that don't recover properly if invoked when session has timed out.

[2012-02-11 16:30] aerwin opened #1738 "Sample1.html doesn't render after modifying Dojo library location"
1. Click Modify Libraries button
2. Change Dojo location to `mylocation/lib/dojo`
3. Click ok and see library moved in workspace
4. Open Sample1.html and nothing renders (looking at source it doesn't seem path changed to new location)

Environment: Chrome with local windows install ("internal" w3ibm build)

[2012-02-11 16:30] JonFerraiolo commented on #1736
My guess is that there is a session timeout involved here. I just retried on Mac/Chrome and I was able to delete an iPhone-theme HTML file.

[2012-02-11 16:33] aerwin commented on #1737
No... unless session times out in a matter of seconds.

[2012-02-11 16:34] aerwin commented on #1736
I don't see how sesson could have timed out. I didn't leave and come back. Just sitting here doing tests after loading Maqetta into browser.

[2012-02-11 16:38] JonFerraiolo commented on #1738
I was able to reproduce this problem with Mac/Chrome

[2012-02-11 16:45] JonFerraiolo opened #1739 "Modify Libraries doesn't work in some cases with Eclipse projects"
@aerwin
- New Eclipse project (e.g., "eproj1")
- Click on Modify Libraries icon. Change path to dojo from "WebContent/lib/dojo" to "WebContent/myloc/lib/dojo". Click OK

Result=> Dojo hasn't moved

[2012-02-11 17:45] aerwin opened #1740 "Can't set background of heading and button in mobile theme editor"
1. New mobile theme
2. Select global background and change background color (works fine)
3. Select heading and change background color (no affect)
4. Select button and change background color (no affect)

NOTE: Changing font properties on heading and button seems to work fine

Environment: Chrome, local install on windows

[2012-02-11 17:53] aerwin opened #1741 "Color picker incorrectly remembers/applies info from last use of color picker"
1. New HTML file
2. Drag two Content Pane's onto canvas
3. Select first content pane and change background color using color picker dialog
4. Select second content pane and bring up color picker in background-color field. Last value is remembered (which isn't so bad), but it also automatically applies the color chosen for first content pane to 2nd content pane (updating canvas) and cancelling colo

[2012-02-11 18:09] JonFerraiolo commented on #1741
I just tried to reproduce and I couldn't reproduce on Mac/Chrome. When I selected the second ContentPane and brought up the color picker for the second time, the color picker came up with #ffffff as the currently selected color, and if I click on cancel, no color value is applied to second ContentPane. I expect there is a bug in there somewhere, but maybe it requires a more complicated scenario to

[2012-02-11 18:14] JonFerraiolo commented on #1740
@billreed63
Which theme did you clone? If you cloned Android, then what's going on is that the background-image property value is masking out the background-color value. The background-color value has actually changed, but the background-image is super-imposed with an opaque gradient. However, if you cloned Custom, there is also a gradient, but it uses rgba() color values so that the gradient is p

[2012-02-11 18:28] aerwin commented on #1740
I wasn't able to change background color for any of the mobile themes. Yes, a warning would be good. And, I think the test case instructions need to be augmented.

[2012-02-11 21:35] peller commented on #1738
may be related to #1739?

[2012-02-12 17:54] JonFerraiolo opened #1742 "Canvas and Outline palette: action should apply to item under mouse, not selection"
@jhpedemonte, @childsb, @peller

In the Files palette, if file2.html is currently selected, but the mouse is over file1.html and you bring up context menu and issue a delete command, we delete file1.html instead of file2.html. That's good. The trick that is employed is to change the selection just before bringing up the context menu. This is accomplished by Explorer.js registering an `openCallback

[2012-02-12 18:17] JonFerraiolo opened #1743 "Cleanup, consolidate, reconcile DeleteAction vs CutAction"
I took a quick look at DeleteAction.js and CutAction.js and there doesn't seem to be all of the same logic. One would think that CutAction would invoke DeleteAction or something like that, instead of having redundant code. Maybe CutAction should inherit from DeleteAction?

[2012-02-12 19:38] JonFerraiolo opened #1744 "Delete View, then Undo => multiple Views are visible"
- New HTML File (iphone)
- Add View, Heading, View, Heading
- Select second view
- Delete using context menu in Outline palette
- Click on Undo button in editor toolbar

Result=> Two Views have their eyeballs turned on

[2012-02-13 01:02] JonFerraiolo opened #1745 "Should be able to multi-select widgets in Outline palette"
Right now, you can multi-select on canvas, but not on Outline View. If you Ctl-click on Outline palette, the outline palette seems to show multiple widgets selected, but in actuality only one widget is selected.
- New HTML File
- Add 3 Buttons
- With 3rd button selected, in Outline palette, Ctrl-click (or Cmd-click) on second widget in Outline palette

Result=> 2nd and 3rd button appear to be sele

[2012-02-13 01:32] JonFerraiolo opened #1746 "Consolidate package.json and widgets.json for shapes and clipart"
widgets.json has been merged into package.json for davinci.dojo_1_7 and davinci.html but not maqetta.shapes and maqetta.clipart

[2012-02-13 01:59] JonFerraiolo opened #1747 "onFirstAdd not called when opening existing files"
Set Priorit-High because I might need this to get mobile views working in review/commenting, but if not, then maybe not Priority-High.

onFirstAdd is only invoked by CreateTool. If you create an HTML file with a widget from a particular library that uses onFirstAdd, save the file leaving the editor open, then do a browser refresh, the onFirstAdd method isn't called even though the HTML file that a

[2012-02-13 02:44] peller commented on #1747
could I have broken this with the async metadata loading?  the callback load is still synchronous and should block the deferred

[2012-02-13 14:52] billreed63 opened #1748 "Add a filter box at the top of the properties palette"
It would be nice to have a filter box at the top of the properties palette so the use could enter the property they wanted to change and the palette would open directly to that property. Much like the widget palette.

For example if the your type in "white-space" the palette would open Font and Text panel. I am always opening and closing palettes looking for properties

[2012-02-13 15:16] JonFerraiolo commented on #442
Dupe of (or maybe think of this as split into #1748 and #340)

[2012-02-13 15:16] #442 closed, assigned to JonFerraiolo

[2012-02-13 15:24] jhpedemonte commented on #1734
Well, as you stated, they should be versioned according to the library to which they belong (i.e. for Dojo, use version "1.7.1" in the URL), not the build version.  I think in this case, we'll just have to be on the look out and every so often will need to clear cache while editing files in the libraries.

[2012-02-13 15:30] JonFerraiolo commented on #1734
I disagree. Sure, the files in davinci.dojo_1_7/WebContent/dojo should be versioned according to the library they belong (e.g., "1.7.1"), but all of the other files in the project are Maqetta files that are subject to considerable change even when the Dojo version stays static and should be handled from a cache-busting perspective just like the files in davinci.maqetta-core-client/WebContent.

[2012-02-13 15:32] peller commented on #1585
dup of #1637

[2012-02-13 15:32] #1585 closed, assigned to peller

[2012-02-13 15:47] peller opened #1749 "Remove eval use in Review ExchangeTool"
See #620

davinci.review.drawing.tools.ExchangeTool.exportShapesByAttribute constructs a JSON string which is later eval'd by import shapes.  If there's a reason to serialize this out as a string, let's use "proper" JSON with quoted names, etc., and replace the eval with an ES5 JSON.parse.  Otherwise, perhaps we could avoid the JSON altogether and just construct the object directly?

[2012-02-13 16:26] peller commented on #620
Plugins are now AMD. All that's left now for evals are some action references in Workbench.js and some Preference snippet which we may be able to remove.  @aerwin - in your travels, did you happen to learn anything about the eval at Preferences.js:144?

[2012-02-13 16:27] peller commented on #620
We should also replace `dojo.fromJSON` with `JSON.stringify` and "proper" JSON data as appropriate -- `dojo.fromJSON` is really an eval and tolerates any JS expression.

[2012-02-13 16:30] peller opened #1750 "Maintain require() dependencies in user files in a single require() call"
We did a quick job converting dojo.require() usage 1:1 with require([]).  The new AMD syntax permits passing multiple dependencies to that call through the array, and it seems the loader may work better that way. In particular, multiple require calls may result in race conditions where individual modules get loaded before layers, preventing the layers from working optimally.

[2012-02-13 16:31] peller commented on #1608
see #1750

[2012-02-13 16:32] peller commented on #845
see also #1750

[2012-02-13 16:47] jhpedemonte opened #1751 ""New Review" fails"
While testing on lab9:50010, **New Review** fails, somewhere in the templating system:

[code]

@JonFerraiolo

[2012-02-13 16:50] jhpedemonte commented on #1747
No, Adam, as Jon states, this is only called in CreateTool.  It's not called when parsing an existing page.

[2012-02-13 16:51] aerwin commented on #1751
Think this is a dup of #1703.

[2012-02-13 16:55] jhpedemonte commented on #1734
And I disagree with that. Right now, there is indeed some flux with those files, but looking into the future, the changes in library metadata/code will be more dependent on the library than on Maqetta.  Also, if library metadata/code is changed due to changes in Maqetta itself, then maybe we could update the version of the library ("1.7.1" -> "1.7.1.1").

I just don't think using the build number

[2012-02-13 16:58] jhpedemonte commented on #1603
Reassigning to Bill.  While I could easily fix some of these, many require knowledge of the create tools, which I think Bill is better able to handle.

Also, Bill, it seems that there is a lot of duplicated code amongst these files (particularly the ones that use stores).  Take a look at refactoring in order to prevent duplication of code.

[2012-02-13 16:58] jhpedemonte commented on #1603
See #620.

[2012-02-13 16:59] jhpedemonte commented on #1751
Wow, how did I miss that one?  And i searched!  THanks, Tony.

[2012-02-13 16:59] #1751 closed, assigned to waynevicknair

[2012-02-13 17:26] JonFerraiolo commented on #1734
But until the long run happens, we will have things break for users. Things need to work one way or another, without telling users that 99% of the files use cache busting, but you still need to clear your browser cache because of the 1% we didn't do.

[2012-02-13 18:34] peller commented on #1703
PublishWizard.js has a dependency defined for the templateString (publishwizard.html) but it's not set in the widget (it's not referenced anywhere)

[2012-02-13 18:39] peller commented on #1734
our short term workaround could then be to change the version number whenever an incompatible change is made, even if the version didn't change.  e.g. dojo/1.7/package.json could become dojo/1.7d1/package.json (Ok, how many other things would that impact?)

We typically shouldn't have to change metadata to support patch releases like Dojo 1.7.1, but the scheme certainly makes that possible.

[2012-02-13 18:42] peller commented on #1734
@jhpedemonte, supposing we did use the cache-busting hammer, what's the down-side?  I'll also point out that cache busting won't safe us until the _next_ release.  They only way we're going to avoid this issue for M5 is renaming the directory or instructing users to clear the cache.

[2012-02-13 18:58] waynevicknair opened #1752 "Main menu test: cloned theme has wrong content on first view"
Browser: Chrome for Mac
Commit: 4babff0976d6ee1b5e77160322505618e99d7a5e
Running in Eclipse / local install

testing New Menu: New Theme... chose the claro theme and call new theme "mytheme1". theme editor opens on clone, but styling is incorrect. for example, background color is grey instead of light blue.

[2012-02-13 19:06] JonFerraiolo commented on #1752
Could it be that the style sheets for the theme aren't loading and you are just seeing what Dojo widgets look like if the theme CSS files are missing?

[2012-02-13 19:22] waynevicknair opened #1753 "Properties Test 2: DIV's "text" widget-specific property does not appear"
Browser: Chrome for Mac
Commit:  4babff0976d6ee1b5e77160322505618e99d7a5e
Running: Eclipse / local install

box-shadow test - drop DIV onto canvas. look for widget-specific property "text". property palette lists no widget specific properties for DIV.

workaround: if you double-click on the DIV you get smart input which allows you to set necessary text per test instructions.

[2012-02-13 19:36] JonFerraiolo commented on #1753
In short-term, this is just an error in test plan. Longer-term, we do want to have a text property for DIV, but for expediency we decided to leave it off for now and only provide SmartInput.

[2012-02-13 20:37] peller commented on #1752
works for me

[2012-02-13 21:07] JonFerraiolo commented on #1752
Adding on to my comment from above, I'm pretty sure there is a long-standing intermittent bug where the theme editor sometimes comes up without the theme CSS files, and I'm wondering if that's what @waynevicknair is seeing.

[2012-02-13 21:27] waynevicknair commented on #1703
it's referenced in the parent class _TemplatedMixin. this was working before my vacation.

[2012-02-13 21:33] waynevicknair commented on #1752
considering that the theme appears correctly on second viewing (i.e. close theme editor, navigate to theme file, double click to open cloned theme in theme editor) i'd agree with @JonFerraiolo.

[2012-02-13 21:38] #1703 closed, assigned to peller

[2012-02-13 21:40] billreed63 commented on #1752
Yes, that is the bug @waynevicknair

[2012-02-13 22:06] aerwin opened #1754 "Sliders broken after bb4a311b279aab01792f1e03a679e30796690671"
@jhpedemonte

Looks like sliders broken after refectoring done in bb4a311b279aab01792f1e03a679e30796690671. Basically, `HorizontalSliderHelper`'s definition is missing:

[code]

[2012-02-13 22:13] #1754 closed, assigned to aerwin

[2012-02-13 22:51] #1612 closed, assigned to peller

[2012-02-14 00:10] JonFerraiolo opened #1755 "Support for snippets suitable for dojox.mobile url property"
@peller , @childsb

The 'url' property in dojox.mobile works like the href attribute in ContentPane in that it references an HTML snippet rather than an entire HTML document. In the case of ContentPane, it's a DIV or equivalent. With dojox.mobile, it's a DIV that is a View widget.

We need some mechanism in Maqetta for allowing users to author content that allows use of the url property. Perhaps w

[2012-02-14 00:16] JonFerraiolo opened #1756 "Remove 'url' property until we have a good solution for snippets"
@peller

Until we provide reasonable authoring support for 'url' property, shouldn't we remove 'url' from list of properties for mobile widgets? I don't see how a user could easily make use of that property given the features that Maqetta supports today. It seems like all that a user can use with reasonable convenience is 'moveTo' (for Views that are part of current document) or 'href' (to jump to

[2012-02-14 00:31] JonFerraiolo opened #1757 "Support hash value for moveTo property"
@peller, @jhpedemonte

dojox.mobile allows the moveTo property to be either an ID or an ID preceded by a "#" character. The difference is that if you use "#", then dojox.mobile will put the moveTo operations onto the browser history stack.

This issue is to investigate whether the "#" syntax works today and if not figure out how to support it.

[2012-02-14 02:22] #1698 closed, assigned to peller

[2012-02-14 05:07] JonFerraiolo commented on #586
I've sketched out how to integrate silhouettes into the review editor. I'd paste here but it's quite lengthy and the discussion is already quite large. Seems straightforward. One concern: not sure whether some of the (x,y) calculations in review editor (eg annotations) will need adjusting.

[2012-02-14 05:10] JonFerraiolo commented on #586
@waynevicknair: I'm almost certain we need to include two new parameters with each HTML file included in a review: the device name and the orientation. Then ReviewEditor.js will need to access that data so it can pass the device and orientation to `new SilhouetteIframe()`

[2012-02-14 05:35] peller commented on #1573
the exception apparently looks different than what I saw a month ago.  what I'm seeing now is that the first element gets pasted with a ReparentCommand, and that reparent command triggers a select() call which changes the selection such that the second item to be pasted is no longer parented, leading to an exception.

How can we prevent the select() from firing for multiple paste operations?

[2012-02-14 06:07] peller commented on #1738
@childsb, I traced through this and I'm not seeing any connection to the changes I made to metadata.init and getMetaRoot.  It seems that if you use modify libraries and open a new file, everything is fine, but if you try to open an existing file, it reads the dojoUrl right out of the HTML.  Is there code that is supposed to override this?

[2012-02-14 14:42] aerwin commented on #1716
@jhpedemonte could you look at my proposed commit for this one and let me know what you think? I decided to try and take a different approach due to the problems `refreshFromSource` caused (described above) and added a `refreshParent` attribute instead.

Note this commit does _not_ address the outline re-ordering bullet from the problem description.

[2012-02-14 14:59] waynevicknair commented on #586
@JonFerraiolo: we can stuff those parms into the ReviewObject which holds other info about the file under review.

[2012-02-14 19:59] JonFerraiolo opened #1758 "Need to persist device orientation"
@billreed63

Particularly useful for mobile review/commenting

[2012-02-14 20:53] waynevicknair commented on #1641
done. step 3 changed as follows:
1. Delete both the user's login from the Maqetta.org list of users and the workspace. Drive deletion through the Joomla User Manager. The Maqetta Joomla user plugin writes a file named 'deleted_users.txt' which is easily converted to a script -- 'deleted_users.sh' -- and run to remove the workspace directories for the users deleted from the Joomla user database.

[2012-02-14 20:53] #1641 closed, assigned to waynevicknair

[2012-02-14 21:07] waynevicknair commented on #1599
fixed in commit be368a02db10638e37921a2878883c06ff28fb28.
- removed redundant StatesView.js file
- checked-in changes to 'review.plugin.js' to use 'davinci.ve.views.StatesView' class

[2012-02-14 21:07] #1599 closed, assigned to waynevicknair

[2012-02-14 22:01] aerwin commented on #1716
@jhpedemonte @JonFerraiolo

This second commit (50ffddbf4a68a0165f224065bf505c4772174bc4) contains changes to allow re-ordering slider children in the outline to work. This involved adding a helper function to handle adding children.

Since this changes the helper interface, I'd appreciate it if you could review.

(Also, any input on the first commit b919a9de8bab91ca292527d53a263a87fc96ee68 would

[2012-02-14 23:17] JonFerraiolo commented on #1582
Closing this after talking with UI folks. Instead, looks like we will keep the States palette but with long-term goal of having it hidden by default in page editor so that a user has to show States palette when they want to add states to a page.

[2012-02-14 23:17] #1582 closed, assigned to JonFerraiolo

[2012-02-14 23:23] JonFerraiolo commented on #1030
Reset to Prio-Med for M5

[2012-02-15 01:35] JonFerraiolo commented on #1704
@billreed63

OK, I investigated, and it's a feature, not a bug (said the engineer). The claro theme assigns background-color for dijit.form.Button to an inner node (accessible via CSS rules via this selector: .dijitButton .dijitButtonNode). Maqetta prevents the user from doing something that they really shouldn't do (i.e., assign background-color to root node of widget) because the background-colo

[2012-02-15 01:53] JonFerraiolo commented on #1684
In davinci/maqetta/States.js (along with the runtime copy), need to change setStyle, getStyle and hasStyle to work with an array of background-image values. Right now it is using an associative array, which causes the array to be compressed into the last value.

[2012-02-15 02:12] JonFerraiolo commented on #1683
Still investigating. What I've learned so far is that the problem in this case has to do with:
- 'font' property is registering the callback that causes the alert to appear
- Claro's document.css includes a style rule with selector `.claro H2` as follows:

[code]

Probably the overrides logic has a major bug that we just haven't noticed yet.

[2012-02-15 02:16] JonFerraiolo commented on #1523
To fix this, we need separate flags for snapping in x and y: doSnapLinesX and doSnapLinesY. And then set values in move() within Focus.js.

[2012-02-15 03:25] jhpedemonte commented on #1734
Yes, this works for me.  Makes more sense than using the Maqetta build id for a widget library.

[2012-02-15 03:33] jhpedemonte commented on #1754
How embarrassing!  Good catch.

[2012-02-15 03:50] jhpedemonte commented on #1756
What about leaving it for more experienced users?

[2012-02-15 15:47] JonFerraiolo commented on #1756
I figure advanced users can type url= into the source pane.

In general, my thinking is that in general less-is-more when it comes to widget-specific properties. It has a negative effect if we populate that panel with a bunch of seldom-used or partially-working options because it makes it more difficult for users to find the things they are more likely to use.

[2012-02-15 15:52] JonFerraiolo commented on #1734
I continue to disagree. I would rather put cache busting on the entire dojo library (thereby preventing caching) than put a burden on us to remember to change the folder name with each release. We'll forget. Reliability trumps performance.

Ideally, I'd like to put cache busting on all libraries but add an exclusion option that our server supports where we do cache busting on everything EXCEPT on

[2012-02-15 16:31] billreed63 commented on #1574
1) We need to check for dirty dynamic mobile css files when switching themes and handle them
2) Mobile button the cascade includes the .mblButtonDisabled, .mblButton:disabled (project1/themes/android/android.css line:  This seem wrong

[2012-02-15 17:14] jhpedemonte commented on #1716
Yes, I think in this case it's best to push this up from the property level to the widget level.  Something like this:

[code]

I can see this being quite useful in for other widgets, and prevents us from having to go to the "nuclear option" of the `refreshFromSource`.

---

I'm wondering about this part in your patch:

[code]

To me, this implies that we are running _ModifyCommand_ once for modif

[2012-02-15 17:26] peller commented on #1734
We shouldn't be doing this each release, only when an incompatible change is introduced to an existing library, which should be the exception.  We have to rename the directory this release either way.

[2012-02-15 18:04] JonFerraiolo commented on #1734
Sorry, I'm not giving up. I don't think it's that big of a deal if we cache-bust Dojo with each release. So what if users have to wait for Dojo to come down again once every two months (our normal release cycle)? I think it will be the rule, not the exception, that for each release we will be making changes within the library files such as callback.js, or the theme CSS files, or the helper JS file

[2012-02-15 19:27] aerwin commented on #1716
I'll make the change for _refreshParentOnPropChange_. Per our phone call earlier, I think that's a good suggestion.

As for _ModifyCommand_ being run twice... you could argue this is redundant. But, I believe it leads to the most straightforward code. I think the alternative would unnecessarily complicate the algorithms in the _execute_ and _undo_ functions (especially since this isn't the normal

[2012-02-15 20:48] billreed63 commented on #1574
Switch device needs to update cascade rules, it leaves the old rules. until you chose a different widget. - DONE

[2012-02-16 03:13] #1668 closed, assigned to peller

[2012-02-16 05:14] #1639 closed, assigned to jhpedemonte

[2012-02-16 17:12] peller commented on #620
There are also two uses of eval in Context.js to load code in the iframe that could have significant performance impact if we switched over to using the AMD loader.

[2012-02-16 17:13] peller commented on #620
@waynevicknair: Note for M5: 4babff0 presents a migration issue.  Existing user library metadata must be converted in this way.

[2012-02-16 17:25] peller commented on #1729
see #1673

[2012-02-16 17:25] #1729 closed, assigned to JonFerraiolo

[2012-02-16 19:21] waynevicknair opened #1759 "States.js - Uncaught TypeError: Object #<Object> has no method 'subscribe'"
load maqetta app. see this message in browser console:

in States.js line 448

[2012-02-16 19:27] JonFerraiolo commented on #1759
When you see this, are you running a build or running from Eclipse?

[2012-02-16 19:30] peller commented on #1759
I think this happens on Eclipse and is a timing issue with async turned on.  Something to do with how dojo _base was broken up in 1.7.

[2012-02-16 19:31] JonFerraiolo commented on #1734
I hit this problem again today. Here is another rant.

[code]

I'm adamant about this need to cache bust. An important aspect of our testing process is that we should be running new builds without having to clear cache to make sure we don't have any cache-busting bugs and oversights. By sticking to religion on not cache-busting the library files, that forces everyone of us to have to clear cache t

[2012-02-16 19:31] peller commented on #1759
I'd like to just put in the necessary require() for the subscribe method, but we've still got that strange davinci.dojo stuff going on.  See #1337

[2012-02-16 19:34] JonFerraiolo commented on #1759
Sounds like a reasonable short-term fix.

[2012-02-16 20:34] billreed63 commented on #1574
Mobile button the cascade includes the .mblButtonDisabled, .mblButton:disabled (project1/themes/android/android.css line: This seem wrong

I did some digging on this and here is what seems to be happening

IN Context.js line 2454 we call CSSFile.getMatchingRule(), which then calls CSSRule.match(), which calls CSSSelector.match(node)

In CSSSelector match we are looking for the selector that matche

[2012-02-16 21:23] billreed63 opened #1760 "Support pseudo selectors when doing selector compares"
Mobile button the cascade includes the .mblButtonDisabled, .mblButton:disabled (project1/themes/android/android.css line: This seem wrong

I did some digging on this and here is what seems to be happening

IN Context.js line 2454 we call CSSFile.getMatchingRule(), which then calls CSSRule.match(), which calls CSSSelector.match(node)

In CSSSelector match we are looking for the selector that matche

[2012-02-16 21:30] JonFerraiolo commented on #1052
Pushing to M6

[2012-02-16 21:39] #1716 closed, assigned to aerwin

[2012-02-16 21:47] aerwin commented on #1604
@JonFerraiolo

Just to close the loop here with somre recent e-mails.... icons are _not_ required for LEGEND, OPTGROUP, or OPTION.

[2012-02-16 21:55] aerwin opened #1761 "Add SmartInput to VIDEO/AUDIO to support TRACK/SOURCE child elements"
Spinning this low priority feature request off from #1602...

Basically, VIDEO/AUDIO tags can include TRACK/SOURCE child tags. The existing smart input for VIDEO/AUDIO tags sets the src attribute directly on the  VIDEO/AUDIO element. In most cases, this should be adequate. But, if we want to fully handle the capabilities of HTML 5 in this realm we should allow adding/removing TRACK/SOURCE elements

[2012-02-16 22:11] aerwin commented on #1602
The highest priority item here is SELECT. So, this issue will be used to handle SELECT, OPTGROUP, and OPTION.

Other tags will be handled as follows:
- #1644 will be used for FIELDSET and LEGEND.
- #1761 will be used for VIDEO/AUDIO and TRACK/SOURCE

[2012-02-16 22:23] #1602 closed, assigned to aerwin

[2012-02-16 23:07] aerwin commented on #1728
This no longer appears to be an issue.

[2012-02-16 23:07] #1728 closed, assigned to aerwin

[2012-02-17 00:14] #1673 closed, assigned to JonFerraiolo

[2012-02-17 00:38] aerwin commented on #1725
Given this hasn't worked recently (sounds like from @peller some code that maybe used to kind of work was removed awhile ago) and the long-term desire stated by @JonFerraiolo is to make this file chooser on par with a desktop UI file chooser, I'm going to reclassify this as a Feature Request. In addition, I don't think this makes sense for M5 given scope and other priorities. So, for now I'm movin

[2012-02-17 00:47] #1561 closed, assigned to nobody

[2012-02-17 03:52] jhpedemonte commented on #1552
This is because of #1321.  Need to revert that and come up with a better solution.

[2012-02-17 05:11] #1510 closed, assigned to jhpedemonte

[2012-02-17 05:26] #1552 closed, assigned to jhpedemonte

[2012-02-17 05:32] jhpedemonte opened #1762 "Can't put clipart on top of Heading"
(This is the same bug as #1321, but I had to revert that commit in order to fix #1552.)

Can't put clipart on top of Heading using absolute positioning.  Probably affects other widgets as well.

---

Setting a `z-index` on Heading isn't the correct answer (see #1552).  However, it might work if we add it to the widget being added (clipart in this case).

But we should be smart about it (if possibl

[2012-02-17 05:39] jhpedemonte opened #1763 "Smart input doesn't (always) put focus on text"
More often than not, when smart input comes up, the focus isn't on the text.  This means that user cannot immediately start typing to change the value, but must first click in smart input in order to select text.

Doesn't always happen, but I was seeing this more often than not, using Chrome.

[2012-02-17 05:43] jhpedemonte opened #1764 "Data widgets errors"
I've noticed two serious bugs with "data" widgets (DataGrid, Tree, RoundRectDataList, EdgeToEdgeDataList).
1. Nothing happens when first added to page.  There is no error, not even if I set debugger to break on all errors.  Just silently fails to add the widget to the page. Adding widget a 2nd time works.
2. Setting new values through smart input leads to error.  Seems the widget code cannot find

[2012-02-17 05:47] jhpedemonte opened #1765 "Error when setting value for MenuBar"
On a Dijit MenuBar, when setting a value through smart input, there is an error in **MenuBarInput.js**: `popupMenuBarItem.children` is null.

@peller @JonFerraiolo

[2012-02-17 05:51] jhpedemonte commented on #1765
In _Preview 4_, the initial MenuBar data was:

[code]

But in the latest code, it comes up as:

[code]

[2012-02-17 06:19] jhpedemonte commented on #1734
Just want to make a correction and better explain what I was saying.

There's no folder name that has to be changed.  **package.json** (and other library files) have a URL like this: _http://localhost:8081/maqetta/app/metadata/jquery-ui/1.8.11/package.json_.  The version number there comes from the version string in the plugin.xml file.  This is what we should be using to "cache bust".

But I unde

[2012-02-17 13:56] peller commented on #1764
Sounds like it's somehow related to the async changes.

[2012-02-17 14:09] peller commented on #1734
I prefer using two methods, one that is logically sound, and the other would just be a safety net.  Perhaps after things settle down, we can just remove the safety net.  Build steps introduce a whole other can of worms.

[2012-02-17 15:36] JonFerraiolo commented on #1762
Changing to High just so this gets investigated, then maybe lower priority depending on what we find.

[2012-02-17 16:31] jhpedemonte opened #1766 "Do not use Function.bind(), not supported by Safari"
We cannot use `Function.prototype.bind()`, it is not supported in Safari.  See http://kangax.github.com/es5-compat-table/.

Two options:
1. Replace with calls to `dojo.hitch`.
2. Use a polyfill to implement `bind()` on browsers that don't have it.  For example, there's one at [Devmo](https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Function/bind), under "Compatibility".

[2012-02-17 16:39] #1763 closed, assigned to billreed63

[2012-02-17 17:31] JonFerraiolo opened #1767 "Placeholder: detailed fixes Maqetta->Eclipse workflow"
This is a placeholder bug. We need to do a detailed assessment of the Maqetta->Eclipse workflow and fix critical bugs we find. There will probably be a series of other bugs after doing the assessment.

[2012-02-17 18:27] #1644 closed, assigned to aerwin

[2012-02-17 18:55] jhpedemonte commented on #1479
Chrome is now up to version 17.0.34982793975890580728140796389063896.  I tried this again and, while it got further (I saw the cloned theme tab come up), it still hung.

[2012-02-17 19:08] jhpedemonte opened #1768 "Copy/paste of Dijit Tree fails w/ error"
Copy/paste of Dijit **Tree** fails, with error in **TreeCreateTool.js**.

There is a **Deferred** in the call stack.

@peller

[2012-02-17 19:16] jhpedemonte opened #1769 "BorderContainer doesn't go 100% x 100%"
When adding **BorderContainer** to new page, it should take up the full width & height.  No longer does so.

Could be a regression from my DijitWidget changes or from AMD/async?

@peller @billreed63 @JonFerraiolo

[2012-02-17 19:45] billreed63 commented on #1574
Fixed by above commits

[2012-02-17 19:45] #1574 closed, assigned to billreed63

[2012-02-17 21:19] peller commented on #620
see also TreeCreateTool

[2012-02-17 21:34] billreed63 commented on #1764
The widget helpers are not being loaded. they need to be loaded before we attempt to Modify the widgets.

[2012-02-17 21:35] billreed63 commented on #1764
4:20:18 PM: Adam L. Peller: just looking at the store data bug
4:20:27 PM: Adam L. Peller: looks like an async getHelper problem
4:20:32 PM: William D. Reed: It is the helpers are not getting loaded
4:20:36 PM: Adam L. Peller: yah
4:20:52 PM: Adam L. Peller: for the bootstrapping case
4:20:55 PM: William D. Reed: _preProcess: function (node){
        //need a helper to pre process widget
        /

[2012-02-17 21:56] #1766 closed, assigned to peller

[2012-02-17 21:58] peller commented on #1768
additional helpers are requested which weren't in the _preProcess, in this case ItemDataReadStore. The helpers for new widgets (via Create or Paste Tools) as well as any helpers those tools require must be loaded asynchronously before they're needed.

[2012-02-17 22:05] peller commented on #1764
see #1768

[2012-02-17 22:46] JonFerraiolo opened #1770 "Shorthand logic sometimes doesn't find correct style rule in CSS file"
@childsb (Long-standing bug)

If you target a CSS rule within a CSS stylesheet using a shorthand property such as 'border' and there are existing style rules in that stylesheet for one of its component properties (eg, 'border-top-width'), the logic won't find that rule and will add a new rule for the shorthand at the end of the file, which causes the shorthand rule (e.g., border:1px solid red) to

[2012-02-17 23:06] JonFerraiolo opened #1771 "ViewHelper not loading"
@jhpedemonte , @peller

ORIGINAL REPORT:

With Preview 4, if you add a View and then drop a second View into the first View, the second View becomes a sibling of the first View, but with latest code, it becomes a child.

In Preview 4, I had some helper logic to cause subsequent Views to become siblings. I'll guess that helper logic was broken recently.

AFTER INVESTIGATING FURTHER:

I think we hav

[2012-02-17 23:18] JonFerraiolo opened #1772 "Can't successfully reopen HTML files after changing mobile theme"
- New mobile theme (clone custom to custom1)
- New HTML File (iphone)
- Add a View, Heading, RoundRectList
- Switch theme to custom1
- Save, close, reopen

Result=> Looks like theme files aren't working - just see the text, no widgets

[2012-02-17 23:26] JonFerraiolo opened #1773 "Can't drag out size of Rectangle, resize handles missing"
@peller

With Preview 4, I could click on the Rectangle widget, then drag out a rectangle on the canvas, and that's how big the Rectangle would be. Not working now. If you drag out the size for the rectangle, you just end up with a square of the default size.

Also, you can't resize the Rectangle because no knobs are showing on the selected widget.

[2012-02-17 23:34] JonFerraiolo opened #1774 "DataGrid and Tree problems"
I pulled latest code and tried out DataGrid and Tree.
- DataGrid brings up SmartInput, but upon clicking OK, nothing appears on canvas
- Tree works OK, but if I copy the Tree and then paste, a second Tree does not appear on the canvas

[2012-02-18 00:26] peller commented on #1774
Tree copy/paste problem is duplicate of #1768

[2012-02-18 00:27] peller commented on #1771
where can I find that code?

[2012-02-18 00:40] aerwin commented on #1722
See commit bc48cda28269021d8c00f2b7ce6a0f2a4a036131

[2012-02-18 00:40] #1722 closed, assigned to aerwin

[2012-02-18 00:42] JonFerraiolo commented on #1771
Changed bug title and description and assigned to @peller because I investigated and it's a helper loading problem.

[2012-02-18 00:43] JonFerraiolo commented on #1774
@peller might be related to #1771

[2012-02-18 00:44] JonFerraiolo commented on #1769
@peller Might be related to #1771

[2012-02-18 02:08] #1634 closed, assigned to JonFerraiolo

[2012-02-18 02:31] JonFerraiolo commented on #1762
Dojo Mobile uses z-index all over the place. Views and Headings have z-index of 1. Overlay mobile widgets are at z-index:2000.

Right now I am thinking that we assign a high z-index value for all new absolutely positioned widgets.

[2012-02-18 02:54] peller commented on #1771
see #1768

[2012-02-18 03:57] #1759 closed, assigned to peller

[2012-02-18 20:27] JonFerraiolo opened #1775 "States not showing for Sample1.html"
Somehow commit 11a9984a00 broke something so that the States palette doesn't show the states for Sample1.html

[2012-02-18 21:22] peller commented on #1775
I notice that if I do something that causes it to refresh, like add another state, the other states appear.  The async loading must cause the states to get initialized after the view loads, and I guess there's no event-based mechanism to keep them in sync?

[2012-02-18 21:55] JonFerraiolo commented on #1775
Yeah, it must not be solidly coded. There is an ordering difference now where the StatesView is updating its list of states before the list of states are available. Note that you can also get the proper states list by simply switching to a different editor and then switching back to Sample1.html.

Reassigning to me. I'm hopeful I can fix this without too much effort. (Fingers crossed.)

[2012-02-18 22:24] #1775 closed, assigned to JonFerraiolo

[2012-02-19 17:28] #1768 closed, assigned to peller

[2012-02-19 23:10] peller commented on #1774
There's an exception deep in the construction of the DataGrid, as triggered by the ModifyCommand in DataGridInput.  Apparently this.store is a string, not an object (e.g. "ItemFileReadStore_1")

Uncaught TypeError: Object ItemFileReadStore_1 has no method 'getFeatures'

@billreed63, at which point should the string in the markup (store=) get converted to a data store object?

[2012-02-19 23:17] peller commented on #1771
fixed by 6e1bdff810a75429e1cac1e7b3425b746997a38b

[2012-02-19 23:17] #1771 closed, assigned to peller

[2012-02-20 01:22] #1738 closed, assigned to peller

[2012-02-20 02:10] JonFerraiolo opened #1776 "Add View, Browser Refresh, Add View - becomes child not sibling"
- New HTML File - android
- Add View
- Browser refresh
- Drag/drop second View onto first View

Result=> new View becomes a child of first View instead of sibling. Works fine in Preview 4.

[2012-02-20 02:30] JonFerraiolo commented on #1659
This was fixed by 25e687ea29

[2012-02-20 02:30] #1659 closed, assigned to JonFerraiolo

[2012-02-20 03:11] peller commented on #1739
@childsb, I see this without using eclipse libraries also.  Upon refresh, everything is ok. Seems unrelated to #1738

[2012-02-20 03:45] peller commented on #27
see #1586

[2012-02-20 16:33] #1774 closed, assigned to billreed63

[2012-02-20 18:45] JonFerraiolo opened #1777 "AMD with version.js - can't be right"
Maybe I don't understand things, but the use of version.js can't be right. First off, we don't have a require() for it in pagedesigner.html. Secondly, the contents of version.js are just this right now, which causes me to scratch my head:

[code]

Maybe we just need to add a dependency to pagedesigner.html.

[2012-02-20 18:47] JonFerraiolo opened #1778 "Change "Preview 4" to "Preview 5""
I think we only need to change 2 places:
- welcome.js
- version.js

Probably dependent on #1777

[2012-02-20 19:31] peller commented on #1777
It's picked up through davinci.js, which lists version.js as a dependency.  There are no dependencies, and no need for a closure.  The value of the module is just the string.

[2012-02-20 19:33] #1778 closed, assigned to peller

[2012-02-20 20:37] billreed63 commented on #1479
fixed I hope...

[2012-02-20 20:37] #1479 closed, assigned to billreed63

[2012-02-20 20:42] billreed63 commented on #1764
Working now

[2012-02-20 20:42] #1764 closed, assigned to billreed63

[2012-02-20 20:44] billreed63 commented on #1765
working with latest code updates

[2012-02-20 20:44] #1765 closed, assigned to billreed63

[2012-02-20 20:46] billreed63 commented on #1769
working with latest code

[2012-02-20 20:46] #1769 closed, assigned to billreed63

[2012-02-20 21:01] JonFerraiolo commented on #1777
Reopening. I think you misunderstood. You see, in pagedesigner.html, davinci.version has no value, so we get "undefined" in the banner instead of "Preview 4" or whatever. That's because davinci.version never gets a value, even after the application is fully initialized.

I did some trial change to version.js to have the following content, and with this change, davinci.version has a value and the v

[2012-02-20 21:19] JonFerraiolo opened #1779 "Double-click on SVG files in Files palette should show graphic, not text"
Not at all urgent.

We should open *.svg files as graphic images versus opening up a source editor. (I'm pretty sure this is a regression versus early releases. I'm pretty sure early releases opened up SVG files as rendered images.)

[2012-02-20 21:27] JonFerraiolo opened #1780 "Delete folder with files, then add folder of same name => old children still there"
- Create a new folder (eg folder1)
- Upload a couple of files into that folder
- Delete the new folder
- Create a new folder with same name

Result=> Old children files appear to be there still. However, if you refresh your browser, the children disappear.

I wouldn't be surprised if this were a dupe, but I couldn't find a bug that exactly matched this one.

[2012-02-20 21:35] JonFerraiolo opened #1781 "Rename command broken"
@childsb

Must fix for M5, but isn't urgent at the moment.

The context menu "rename" command in the Files palette is broken. Dies in ui.plugin.js:307 with `r.renameActions();`

[code]

[2012-02-20 21:35] billreed63 opened #1782 "Exception in console when switching from page view to source view"
Uncaught TypeError: Cannot set property 'className' of null
_1b6d._setThemeClassdavinci.js:41214
_1b6d._createContentdavinci.js:39396
_1b6d._createView._createViewTimer

[2012-02-20 21:38] #1777 closed, assigned to peller

[2012-02-20 21:45] #1781 closed, assigned to peller

[2012-02-20 21:48] peller commented on #1779
Not sure how much work it would be, but it would be nice to have it come up with the option for a split view, even if it were just split between a graphic and a source editor.

[2012-02-20 21:57] childsb opened #1783 "publishing a review causes error"
((probably already aware, please close if this is a dupe))

1) New Review
2) add files/reviewers/etc
3) click "publish"

note the error:

Problem connecting to the Maqetta Server...
Return to Maqetta Login

Error description:

Error to publish review session , response=Error: Unable to load http://lab9.austin.ibm.com:50020/maqetta/cmd/publish status:500, reason=Error 500 INTERNAL_SERVER_ERROR

[2012-02-20 22:13] childsb opened #1784 "new theme incorrect on build"
latest build, running test matrix as of feb/20:

1) new theme, select claro name it claro2
2) notice the them editor opens with no theme.

running on lab9.

[2012-02-20 22:19] childsb opened #1785 "background image no "remove value""
((per test scenario, properties palette #5))

1) create a new HTML file
2) add a DIV
3) Select DIV, go to background--->background image and click the "..." to bring up dialog
4) select sample.jpg image and click ok
5) select the div with the background image. go to background--->background image, and click the drop down.  notice no "Remove value" (as stated in test scenario).

[2012-02-21 15:21] aerwin opened #1786 "Inconsistent styling for file selection tree"
This is a nit... The dialog that comes up from the Open -> File... menu option has a file selection tree that is styled differently (I think better) than file selection trees on other dialogs.

From Open -> File...

![Bordered styling](http://i.imgur.com/2JlK4.jpg)

From smart input for HTML img:

![Plain styling](http://i.imgur.com/1XWzY.jpg)

[2012-02-21 15:52] peller opened #1787 "Exception removing themesets"
In the remove themesets section of the test plan, I see the following message on the console.

`TypeError: 'null' is not an object (evaluating 'this._selectedThemeSet.mobileTheme')`

[2012-02-21 15:53] JonFerraiolo opened #1788 "Claro theme editor: changing background color doesn't work for global and Button"
Haven't had time to investigate deeply or debug, just noticed this problem and logging it.

I'm running Mac/Chrome.

In both today's built version (maqetta.org/nightly) and using latest sources, I can clone "claro" into "claro2" (which is great), but when I tried to change background-color, sometimes it worked and sometimes not.
- Global background-color: didn't work
- Button background-color: did

[2012-02-21 15:54] peller commented on #1787
seen on Safari, haven't tried other browsers

[2012-02-21 15:55] peller opened #1789 "rename failed for themesets"
got this when I hit 'rename' on Safari

`Error: Tried to register widget with id==rename but that id is already registered`

also noticed that the text box uses the editable UI but is read-only.  The UI suggests that I should be able to type directly in the textbox and then hit rename.  Perhaps it should be possible to edit the name in place without either a button or a dialog?

[2012-02-21 15:56] aerwin opened #1790 "Properties 2, Step 7: Text box width cannot be set via Properties palette"
Step 7 in the Properties 2 test case says:

However, when I try to change to the width property I get a dialog stating that it cannot be changed.

[2012-02-21 16:10] peller opened #1791 "themesets: device-specific settings aren't sticking"
running the themesets tests, I tried setting the individual device themes (Android, blackberry, etc.) and upon closing and reopening the themesets dialog, the changes are gone and everything goes back to "custom2"

[2012-02-21 16:11] peller commented on #1791
(on safari)

[2012-02-21 16:25] billreed63 commented on #1782
works with lateest code

[2012-02-21 16:25] #1782 closed, assigned to billreed63

[2012-02-21 16:35] billreed63 commented on #1789
The use of the text box read-only is Jon's UI design choice.

[2012-02-21 16:42] aerwin opened #1792 "Properties 2, Step 10: Can't change position of calendar to absolute"
When performing Step 10 in the first test case in Properties 2, I get the dialog saying I can't because of a read-only theme. But, the instructions don't indicate that should be an issue.

Note: I am able to follow the CSS overrides cascade and change the position though.

[2012-02-21 16:42] aerwin commented on #1790
Note: I am able to follow the CSS overrides cascade and change the width that way though.

[2012-02-21 16:43] peller commented on #1789
@JonFerraiolo let's reconsider -- I think the UI could be much slicker if we just had an editable text field.  It would be less code, and more in line with the rest of our UI.  And, it might make this bug go away :)

[2012-02-21 17:00] JonFerraiolo commented on #1792
@billreed63, @childsb

[2012-02-21 17:02] JonFerraiolo commented on #1791
Yeah, I noticed this, too, and wondered if there were a better approach. Might be an artifact of how it is implemented and fixing the UI might be more difficult than you would think.

[2012-02-21 17:03] JonFerraiolo commented on #1790
@billreed63, @childsb

[2012-02-21 17:17] #1787 closed, assigned to billreed63

[2012-02-21 17:44] #1789 closed, assigned to billreed63

[2012-02-21 17:49] peller commented on #1791
perhaps, though I'll reiterate my view that dialogs are evil and read-only text fields which don't have a read-only UI are bound to frustrate users. [nm... I think I was confusing this with the dialog / rename bug?]

[2012-02-21 17:50] billreed63 commented on #1791
I can't reproduce this issue, what are the steps:

Is this in theme sets or setting the device theme?

Theme sets are not saved unless the ok button is selected, the user can walk through all the theme set changing them but if they do not select ok they will no be saved.

Switching theme's the themes are retrieved from the HTML page, if the user changes a theme and then exits the page without savi

[2012-02-21 17:54] peller commented on #1791
this was in the themesets dialog, after hitting 'ok' to save, the theme sets dialog would come back up with the old settings, however using the theme switcher, I saw the correct themes.

[2012-02-21 18:11] #1713 closed, assigned to billreed63

[2012-02-21 19:07] billreed63 commented on #1790
This works for me, was this local or lab9

[2012-02-21 19:12] billreed63 commented on #1784
fixed by #1479

[2012-02-21 19:12] #1784 closed, assigned to billreed63

[2012-02-21 20:13] aerwin commented on #1790
Chrome, lab9

[2012-02-21 20:19] billreed63 opened #1793 "Need to elements to mobile theme metadata"
I found this while building tweetView, assigned to Jon for him to evaluate

mobile theme meta data is missing elements for widget, we also need to add elements to the tech documentation on the wiki

[code]

[2012-02-21 20:36] billreed63 opened #1794 "[TweetView] adding icon to ToolBarButton is not displayed in designer"
To reproduce (using Dojox Mobile widgets):
1. New page.
2. Add ScrollableView.
3. Add Heading.
4. Add ToolBarButton to Header
5. With ToolBarButton still selected, go to **Properties->Widget-specific**, enter `sample_data/images/i-icon-1.png` to **icon** and delete the value of **label**.
   - _**Note:_\* the "label" is populated again but it should not be.*

The icon is not displayed until I clos

[2012-02-21 20:45] JonFerraiolo commented on #1794
@jhpedemonte - I assigned this to you, but I think there are multiple people who could look into this, including me, so feel free to reassign

[2012-02-21 20:51] JonFerraiolo opened #1795 "Support multiple children per region in BorderContainer"
@billreed63, @peller

according to http://dojotoolkit.org/reference-guide/dijit/layout/BorderContainer.html:

We need to support this flexibility in Maqetta.

[2012-02-21 22:01] billreed63 opened #1796 "Unable to select mobile widget below view in mobile overlay"
tweetView:

Unable to select the TabBar elow the views when in designer iphone device overlay

Use the source code below to reproduce:

[code]

[2012-02-21 22:57] JonFerraiolo commented on #1796
Reassigned to @jhpedemonte - there might be some issues with the order of the widgets in this file where dojox.mobile or Maqetta can't deal with things in a particular order but maybe would work if things were in a different order?

@billreed63 - do you know about the 'fixed' property?

@peller

[2012-02-22 04:08] jhpedemonte commented on #1597
Regarding commit 417055e4f5ebad10c3b950efba9d9359bbbd07d9, why isn't this an issue with other Dijit widgets?  Why do we only need to call `resize()` on Shapes?

[2012-02-22 05:17] peller commented on #1298
I have started a document on how to [build a phonegap app](https://github.com/maqetta/maqetta/wiki/Deploying-Maqetta-projects-to-PhoneGap) from your web content and one on how to [manually fix up and build a Dojo-based page](https://github.com/maqetta/maqetta/wiki/Optimizing-and-Deploying-your-Dojo-based-page) with references to all the TODOs to make this task simpler or eventually automatic.

[2012-02-22 16:47] billreed63 opened #1797 "RoundRecDataList does not display list items in designer"
tweetView:

When I use the following json in the data store for RoundRecList list items are not displayed in page designer after closing and reopening page. It also does not display in preview unless I have the debugger open.

Use data from file in workspace

sample_data/tweeter.json:

[code]

app.css:

[code]

tweeterView.html:

[code]

[2012-02-22 17:01] billreed63 opened #1798 "meta tags red screen of death"
I get the red screen of death when I open a html file with the following mete tags

[code]

sample:

[code]

[2012-02-22 17:26] billreed63 opened #1799 "Unable to DnD html items onto ListItem"
tweetView:

If I create a page with a RoundRecList and then attempt to add html items like <img> or <div> to the ListItem, I can not drop theme on the list item in page designer, but I can take the img in the outline view and DnD it on the ListItem. But then the ListItem in the outline tree does not show the img as a child, but looking at the source it is their

[2012-02-22 17:38] JonFerraiolo commented on #1597
Good nose for smelly code! This requirement for shapes is due to an async timing issue with browsers and how they apply CSS style rules and the way I implemented shapes. I have a CSS rule that defines default values for SVG's CSS properties 'fill', 'stroke' and 'stroke-width', and then logic that actually builds the shape looks at the inherited value for these properties.  When the first shape loa

[2012-02-22 17:49] jhpedemonte opened #1800 "Remove setTimeout in DataGridHelper.updateStore"
My comment from 578a27468179534294d614902b7475dfdb559609:

[2012-02-22 17:51] jhpedemonte commented on #1798
cc @peller

[2012-02-22 17:53] JonFerraiolo commented on #1798
@peller

I'm pretty sure this is a parser problem, so assigning to @waynevicknair . I don't think our parser can deal with non-well-formed emtpy tags such as `<meta ...>` and requires that there is a `/>` at the end of the empty tag as in:

[code]

In fact, when I added the "/" characters, the file opened without red screen of death.

[2012-02-22 17:58] JonFerraiolo opened #1801 "Investigate resize() requirement with shapes and Dijit-specific logic in States.js"
Feb 22, 2012

9:53:41 AM: Javier H. Pedemonte: did you want to reopen https://github.com/maqetta/maqetta/issues/1597, or open a new bug to track resize() issue?

9:54:18 AM: jferrai@us.ibm.com - Jon Ferraiolo/Menlo Park/IBM: I'll open a new bug

9:54:24 AM: Javier H. Pedemonte: thanks

9:55:14 AM: jferrai@us.ibm.com - Jon Ferraiolo/Menlo Park/IBM: but I'm not sure there is actually anything wrong

[2012-02-22 18:58] peller opened #1802 "Add LINK tags for iOS features"
following on to #683...

two more tags for the HEAD which might help on iOS when bookmarking and browsing to a page generated by Maqetta

[code]

@JonFerraiolo @jhpedemonte
These can be added to the source editor today.  Should we have some UI around creating LINK/META tags, or templates which provide these rel values as part of the silhouette work?

see http://www.htmlgoodies.com/beyond/webmaster

[2012-02-22 19:09] peller commented on #1298
Need better link and/or examples for creating a profile

[2012-02-22 19:27] jhpedemonte commented on #1404
Assigning to @peller for now, since you've been doing performance work.  But might require input from @childsb.

[2012-02-22 19:27] jhpedemonte commented on #1126
@childsb please see preceding comment.

[2012-02-22 21:06] billreed63 opened #1803 "RoundRecDataList needs way to map feeds to ListItem labels"
RoundRecDataList and EdgeToEdgeDataList can take a data store, through the use of dojo/io/script we can set up a data store to use a cross domain feed

For example if we used a feed like http://search.twitter.com/search.json?q=%40twitterapi this feed returns json that has the format:

[code]

RoundRecDataList expects the json to have the format:

[code]

If RoundRecDataList had a "mapping" attribu

[2012-02-22 21:07] billreed63 commented on #1803
@peller do you know if dojo mobile is working on a feature like this for 1.8

[2012-02-22 21:18] aerwin commented on #1576
@jhpedemonte I'm not able to reproduce this either in my local dev environment or on lab9. Could you confirm this is still broken?

[2012-02-22 22:20] JonFerraiolo commented on #1799
@peller @jhpedemonte

As an experiment I temporarily set the package.json metadata for ListItem to have allowedChildren=ALL. This would allow me to drop arbitrary widgets into a ListItem and see what happens.

Upon trying it out by dragging/dropping a LABEL into ListItem, things fail (ultimately in ModifyRichTextCommand) because the target parent node is set to the following node (with this class)

[2012-02-22 22:28] jhpedemonte commented on #1802
We could have a **page information** view, where the user would be presented with UI to enable these types of elements (and add the appropriate image, etc).  Not sure exactly where such a thing would go.  Maybe somewhere in the Properties view.

[2012-02-22 22:31] jhpedemonte commented on #1793
Forgive me, I don't know much about the theme metadata:  what would this give us?  What is currently missing?

[2012-02-22 22:37] jhpedemonte commented on #1576
Well, it's a bit odder now.

After **step 5**, I don't see **RoundRectDataList** in the Outline.  Double-click to open smart input, press OK -> now it **does** show up in the Outline.  Repeat and RoundRectDataList **disappears** yet again from the Outline.  Very strange.

(running from source, testing on Chrome)

[2012-02-22 23:29] jhpedemonte commented on #1794
I updated the summary to use an image from **sample_data** folder.

@billreed63, what exactly do you mean by "5. Delete"?

[2012-02-22 23:54] JonFerraiolo commented on #1793
The issue here is that the properties palette is mixed up for some widgets where an attempt to change a property brings up the "Sorry, read-only theme" error dialog, but in fact it should have been possible to put the property value on element.style.

[2012-02-23 01:15] jhpedemonte opened #1804 "Need better code for stripping out event attrs"
I don't like this code in **widget.js**:

[code]

That string compare to `"on"` seems fragile.  What if a widget has a boolean property called `onlyOnce`?

[2012-02-23 02:57] jhpedemonte commented on #1804
Reassigning to myself.  I think this is causing #1794.

[2012-02-23 03:16] jhpedemonte commented on #1804
Looks like this is a dup of #733.  Closing.

[2012-02-23 03:18] jhpedemonte commented on #1794
Looks like we are running into the same situation as [this comment](https://github.com/maqetta/maqetta/issues/733#issuecomment-3296873) in #733.  Basically, when deleting the value for **label**, it goes into that properties check and, since it's an empty string, evaluates to false and doesn't get copied into `props`.  Which means it doesn't override the default value of `ToolbarButton` for **labe

[2012-02-23 03:26] jhpedemonte commented on #1804
Reopening.  This is still a valid issue.  #733 deals with empty strings.

[2012-02-23 14:17] billreed63 commented on #1793
For example if the user is using the default themes for mobile and Drops a TabBarButton on the Heading widget. By default the button floats:left, but the user wants the buton at the far right of the Heading (a refresh button maybe) If the user try to change the float property in the palette they will get the nasty message john mentioned. The user can open the cascade and select the "element" item

[2012-02-23 14:21] billreed63 commented on #1794
What "5 delete" :)

[2012-02-23 15:12] aerwin opened #1805 "Download workspace with Eclipse support fails"
I was all set to do some Maqetta to RAD testing. I created a new project with Eclipse support turned on and created a nymber of HTML files in Maqetta. Then, I went to download the entire workspace and get the following error when I click ok on the dialog (and the dialog never goes away and download never starts):

[code]

Environment: Chrome and lab9:50020

NOTE: As a follow-up test I went over to

[2012-02-23 15:21] aerwin commented on #1805
Well, messing around some more, I got kicked out and had to login again. Now, it seems to be working on lab9:50020 as well. So, guess we can't reproduce, but obviously something was going wrong.

[2012-02-23 15:41] JonFerraiolo commented on #1805
@billreed63

[2012-02-23 16:51] #1298 closed, assigned to peller

[2012-02-23 17:25] #1734 closed, assigned to peller

[2012-02-23 17:26] peller commented on #1734
I think I was confusing cache headers with cache busting.  Renaming the path is not required if we do the cache busting workaround, so this is fixed.

[2012-02-23 17:30] peller commented on #1739
@JonFerraiolo I think there were two bugs.  Now it's just that the Files view doesn't seem to get a resourceChanged event to refresh, but everything works otherwise?

[2012-02-23 20:26] JonFerraiolo commented on #1500
Assigning to me.

[2012-02-24 04:20] peller opened #1806 "Memory leak on server"
Looking at the heap from our last crash (roughly once a week now) I see mostly VLibraryResources and their associated URLs and ZipBundleEntry/Handler/ZipFiles.  I'm not sure if the latter might be cleaned up by a close() operation or if they're resident in memory, but the entire workspace seems to be kept in memory for each user, which grows over time.  The root cause would seem to be the caching

[2012-02-24 04:34] peller commented on #1806
@waynevicknair @childsb @JonFerraiolo

[2012-02-24 05:20] jhpedemonte commented on #1794
88715661dde8d86b06451b8a36804f9f97ddf621 -- partial fix.

[2012-02-24 05:27] jhpedemonte commented on #1794
Above commit fixes issue where "ToolbarButton" value would reappear when removing from **label** prop.

But there is still a remaining issue.  If you (1) remove value for **label**, then (2) add path for **icon**, the "ToolbarButton" value reappears.  This is basically #733, wherein when setting **icon** value, code pulls in default value for **label** since there is now nothing to override it.

I

[2012-02-24 05:28] jhpedemonte commented on #733
I tried to fix this in #1056, by pulling in widget source from the page source (instead of metadata) when moving/copying/modifying, but had to revert due to other issues.

[2012-02-24 16:33] waynevicknair commented on #1528
@JonFerraiolo the behavior I'm seeing today is the "+" button works for multiple clicks and the calendar remains selected in the visual editor. selection is wiped out in the source view; however, I can watch the width attribute count up in the source view as I click the "+" button to change the width of either calendar.

technically, the source that was selected has changed invalidating the source

[2012-02-24 16:56] billreed63 commented on #1803
Dojo added my proposed fix to 1.8, @peller should we add the patch to our version of 1.7?
http://trac.dojotoolkit.org/ticket/14883

[2012-02-24 22:56] peller commented on #1803
Great turnaround on that!  I don't think we have any patches presently on our version -- all of the others I think got incorporated into 1.7.1.  I don't know if it's the sort of thing we could optionally bring in when 1.8 comes.  If it would help to patch it, we can do that. We'd either have to patch it in manually to the built version, or patch the source, then create our own build with the build

[2012-02-25 00:49] jhpedemonte commented on #1102
**Issue:**

Need a way to specify a particular widget in the model (or VE?), such that we can save that information before the refresh, then use the info to re-select the widget.  We cannot depend on the 'id' attribute -- many widgets have a temporary ID, which may change when the page is refreshed.

**Options:**
- CSS Selectors
  - Can use basic child selectors, along with ~~`:nth-child`~~.
    -

[2012-02-25 01:28] jhpedemonte commented on #1102
cc @waynevicknair. See above.

[2012-02-25 18:12] aerwin commented on #1576
Talked with @billreed63 after scrum on Friday, and he thinks this might go away with some other work he's doing related to RoundRectDataList and data stores. I think the other work he's doing is related to #1797 and #1803.

[2012-02-26 21:16] JonFerraiolo commented on #1102
@jhpedemonte: Good job researching this! Your recommendation looks good to me. XPath lives!

[2012-02-26 21:56] JonFerraiolo opened #1807 "Scenes/States palette cleanup items"
(@JonFerraiolo updates to original issue noted with "@JonFerraiolo UPDATE")

@JonFerraiolo UPDATE: After going through the big states reconciliation, I concluded that it was best to leave the plus and minus icons. It was too confusing for user to put plus icon on a TreeNode. Therefore, some of the items above become moot points.

Some UI things on the Scenes/States palette that we probably won't g

[2012-02-27 04:40] JonFerraiolo commented on #1548
Reassigning to @aerwin , who is already doing this analysis.

[2012-02-27 04:42] JonFerraiolo commented on #1158
Pushing to M6. For M5, I believe I have reconciled states with mobile views, and I added an extensibility point to the States/Scenes palette that I hope represents progress towards supporting overlay widgets and stackcontainer widgets. However, we won't know if this extensibility point actually helps until we get overlay widgets and stackcontainer widgets working completely.

[2012-02-27 04:55] JonFerraiolo opened #1808 "CommentsViews exception breaks mobile theme editor"
@billreed63 @jhpedemonte

With latest code, I issued a New Theme command and cloned "custom", and I'm getting an exception at CommentView.js:146 because pageState is not defined. I expect it's because the CommentView logic is expecting that on review editors will generate a "/davinci/states/state/changed" event, but with the merging of the review editors into the main application, this event is ge

[2012-02-27 05:04] JonFerraiolo commented on #1776
I appear to have fixed this with 75070633bf

[2012-02-27 05:04] #1776 closed, assigned to JonFerraiolo

[2012-02-27 05:41] JonFerraiolo commented on #1705
My current theory is that SwapView.js calls setSelectable(node, false), which registers an onselectstart event listener which returns false, which prevents further bubbling and thus prevents the mousedown event from bubbling up to Maqetta's mouse event listeners that have been registered by Context.js at the user doc's BODY.

I'm not sure how best to work around this. Maybe if we put a second mous

[2012-02-27 14:11] billreed63 commented on #1803
I think we could patch the built version, it's not a lot of code.  I will look at patching the built version..

[2012-02-27 14:26] aerwin opened #1809 "Chrome doesn't work with local install on Windows"
I was noticing Chrome was working very well with Maqetta running from my Eclipse on Windows, so I downloaded the latest ""external" GitHub-sources-only build" and see that doesn't  work with Chrome either. NOTE: This seems to  be browser specific as there are no issues with Firefox. It also appears to be limited to local install, so perhaps some weird Chrome-specific  timing issue or something?

W

[2012-02-27 15:15] JonFerraiolo commented on #1809
Worked for me just now with Mac/Chrome

@aerwin - did you clear your browser cache before running the build? I changed package.json over the weekend and there was a cache busting open issue with that file (#1734) that supposedly was fixed by d808598

@peller, @jhpedemonte

[2012-02-27 15:26] aerwin commented on #1809
Yes, I've cleared cache a number of times.

[2012-02-27 15:31] JonFerraiolo commented on #1809
Worked just now for me on Win/Chrome. Same build#.

@billreed63 - can you please try today's build on your machine using Win/Chrome?

[2012-02-27 15:34] JonFerraiolo commented on #1809
@aerwin - next thing to try is to clear cookies for http://localhost. We have another bug where cookies can be so large that the HTTP request is too large. #1666

[2012-02-27 15:41] aerwin commented on #1809
Awesome! Clearing cookies fixed it. Thanks! I'll go ahead and close.

[2012-02-27 15:41] #1809 closed, assigned to JonFerraiolo

[2012-02-27 16:47] billreed63 opened #1810 "Mobile rotation not working in Chrome"
My win/Chrome was just updated to chrome 19, now rotating a mobile device to horizontal does not work.

[2012-02-27 17:35] #1797 closed, assigned to billreed63

[2012-02-27 17:41] billreed63 commented on #1576
It looks like my fix for #1797 fixed this issue also

[2012-02-27 17:41] #1576 closed, assigned to aerwin

[2012-02-27 18:31] peller commented on #1809
Interesting.  Never saw one of these: HTTP Error 413 Request entity too large

[2012-02-27 18:33] peller commented on #1666
Raising priority.  Perhaps this is a must-fix for M5?

[2012-02-27 18:33] billreed63 opened #1811 "Mobile widget that use DataStores should support remote URL"
All widget that use data stores should support remote data sources (JSONP) like data grid

[2012-02-27 19:25] JonFerraiolo commented on #1666
I actually don't think this is a must-fix. Users don't see to be seeing this, and if they do, maybe they'll ask on the forum and we can suggest that they clear cookies. But I'm certainly not against fixing this!

[2012-02-27 19:38] peller commented on #1666
Any idea why @aerwin ran into this?

[2012-02-27 19:55] billreed63 commented on #1811
I created a sample service at http://maqettaservice.appspot.com/sampledatalistservice

[2012-02-27 20:10] billreed63 opened #1812 "Add itemMap and JSONP support for RoundRecDataList"
RoundRecDataList and EdgeToEdgeDataList need to support itemMap attribute

[code]

tweet.json

[code]

[2012-02-27 20:13] #1803 closed, assigned to billreed63

[2012-02-27 21:09] JonFerraiolo commented on #1666
Probably because he has been doing lots of testing recently. My guess is that the culprits are the Tree widgets that store the list of open nodes in cookies.

[2012-02-27 21:17] #1788 closed, assigned to billreed63

[2012-02-27 21:56] billreed63 commented on #1772
KI have not been able to reproduce this on win/chrome, if you still are seeing this problem reopem

[2012-02-27 21:56] #1772 closed, assigned to billreed63

[2012-02-27 21:57] jhpedemonte opened #1813 "Error when unsetting `fixed` prop for Heading"
To reproduce:
1. New page, drop a **ScrollableView**.
2. Add a **Heading**.
3. In **Properties->Widget-specific**, set `fixed` to `top`.
4. Now unset that command (select _blank_ option in `fixed` dropdown).

-> While the property is removed (check the source), we get an error in **dojox/mobile/View**.

Not exactly sure what's going on here.

I can properly set the `fixed` property of Dojox mobile

[2012-02-27 22:55] jhpedemonte commented on #1813
In the failing case (unsetting `fixed`), `Context.refresh()` is getting called twice for some reason (as are several functions up the stack).

[2012-02-28 01:08] jhpedemonte commented on #1813
(cc @aerwin)

You guys are more then welcome to help debug this.  I'm a bit stuck. As previously mentioned, `Context.refresh()` is getting called twice when unsetting the `fixed` property for **Heading**.  And this causes an error.

[2012-02-28 01:36] JonFerraiolo commented on #1813
Put a breakpoint at WidgetProperties.js:158. When you change the value in the Widget-Specific section, the _onChange handler gets invoked multiple times. I wouldn't be surprised if that's part (or all) of the problem.

[2012-02-28 01:52] JonFerraiolo commented on #1813
I've done some more digging. Put breakpoints at WidgetProperties.js 115 and 116 and 134. It looks like _refresh is called once when the property is changed in the Properties palette from 'top' to empty string, and then after the refresh has completed, then the reselect operation causes the Widget-specific properties to be reassigned in WidgetProperties.js, which causes reestablishing the onchange

[2012-02-28 02:06] JonFerraiolo commented on #1813
More digging. It looks like we are calling _disconnectAll, then _setValue, then _connectAll, all in the proper order. But the this._connects array is never cleared, and I'm not sure that line 155 actually achieves the disconnect. Gotta go now.

[2012-02-28 04:13] jhpedemonte commented on #1813
Thanks, Jon.  I'd noticed some similar things, but I think you got further than I did. I'll look into this more tomorrow.

[2012-02-28 05:26] peller commented on #1404
Not within scope for M5.  Pushing to M6 to see the impact of async calls with @childsb's Orion work

[2012-02-28 05:56] #1629 closed, assigned to peller

[2012-02-28 15:30] aerwin commented on #1375
While working on this issue, I noticed there was no flyover text for the Delete and Rename buttons, so I addresses that. I also fixed a place I saw an English string in ProjectToolbar.js.

[2012-02-28 15:30] #1375 closed, assigned to aerwin

[2012-02-28 15:59] waynevicknair commented on #1808
i am unable to recreate this scenario. i am getting a TypeError in welcome_to_maqetta.html saying davinici.ui.NewTheme is undefined.

[2012-02-28 17:06] JonFerraiolo opened #1814 "UI tweaks to palettes - bringing palettes to top for particular editors"
@jhpedemonte, @peller , @waynevicknair

During today's phone call, we decided we needed to make the following changes to Maqetta's overall UI:
- Instead of Widgets, Files, Reviews at top left, it should be Files, Widgets, Reviews. (This is easily fixed: just cut the Files entry in ve.plugin.js and paste it above the Widgets entry)
- Add a mechanism to ve.plugin.js such that a particular editor can

[2012-02-28 17:12] waynevicknair commented on #1808
[master 16e7489] fix issue #1808 by checking currentEditor.editorID == davinci.review.CommentReviewEditor

[2012-02-28 17:12] #1808 closed, assigned to waynevicknair

[2012-02-28 19:12] #1705 closed, assigned to JonFerraiolo

[2012-02-28 19:44] childsb commented on #1805
this is working for me.  i created a few html files in an eclipse project, then downloaded. i also modified the library location before downloading and no error.

[2012-02-28 20:14] childsb commented on #1806
@jhpedemonte what was your a54aa43 change doing towards this bug?  was that a mistake?

Should be fixed with a1d3da now.  I'm removing the Users hashtable cash, and leaving it in the session. the session now ages/expires after 60 mins of inactivity.

[2012-02-28 20:14] #1806 closed, assigned to childsb

[2012-02-28 20:54] childsb commented on #1737
i can't reproduce this on master.  tony will you try to reproduce again and reopen if you can?

[2012-02-28 20:54] #1737 closed, assigned to childsb

[2012-02-28 21:22] JonFerraiolo opened #1815 "Shapes pointer-events:none get dropped with state changes"
It looks like the pointer-events:none that is on the SPAN surrounding each shape gets clobbered when changing states.

[2012-02-28 22:50] childsb commented on #1730
Fixed with commit b64ad90e08118a47904c4471d4c7734dbc721194

[2012-02-28 22:53] trinea-us opened #1816 "Pages / Work lost during session"
When working with
the preview 4 release
with windows 7
starting maqetta in localhost mode with the supplied start script
every now and then the currently edited pages vanishes.

i.e.
it no longer exists in the file system
if you want to save to saving does not work
ich you quit the page its gone and all the work is lost

regards,
ulrich

[2012-02-28 23:19] JonFerraiolo commented on #1816
@childsb - I'm almost certain we have/had a bug for this that is/was Priority-High for M5. Maybe same as #1491

[2012-02-28 23:31] trinea-us commented on #1816
well i just read 1491 ...

i also loose pages intermittently ...

which means the file exists.
i edit it later. make some changes.
then press the save button.

and the the file is gone completely.
it does not happen all the time
but every now and then and i can not yet say which actions lead to it exactly

[2012-02-29 00:03] JonFerraiolo commented on #1816
I wonder if the intermittent problems might be related to issues with either server errors or session timeouts. Maybe we can bulletproof things somehow to make sure we don't lose files if something goes amiss with server or session timeout occurs. (Very bad to lose files!)

[2012-02-29 03:50] JonFerraiolo opened #1817 "Review editors don't reload with browser refresh"
@waynevicknair

If you have a review open and hit browser refresh, the review session doesn't reload (which causes other bugs downstream). The problem is at Workbench.js:75 (`if (!path.startWith...`):

[code]

The review editor is outside the current project, so it doesn't get loaded. My guess is that we need to say "either in current project or in the reviews folder".

[2012-02-29 14:56] JonFerraiolo opened #1818 "Single-user local install: can't open *.rev file from Reviews palette"
(Need to fix before shipping, but no immediate urgency, other things more important in next few days)

You can open a *.rev file when running multi-user version of Maqetta, but if you double-click on a *.rev file when running the single-user version localhost version of Maqetta, the middle of the screen shows the login page rather than the HTML file on which you double-clicked.

[2012-02-29 14:58] JonFerraiolo opened #1819 "Review editor tab should show *.rev extension"
(Must-fix for M5, but not something that needs to be fixed immediately)

The review/commenting code strips off the *.rev extension before stuffing the file name into the editor's tab title. Given that we now show page editors and review editors at the same time, we should show the *.rev extension in the editor tab (e.g., Sample1.html.rev instead of Sample1.html)

[2012-02-29 15:00] JonFerraiolo opened #1820 "Scenes palette bugs with review/commenting"
Pending things:
- First line of Tree widget: the filename listed should strip off the ".review/..." stuff at the front of the file name
- When showing a mobile UI, the initially selected view is not highlighted

[2012-02-29 15:23] JonFerraiolo commented on #1547
I believe I have done what we need to do in this area for M5, so pushing this issue for M6 when we can address the remainder of this issue.

[2012-02-29 15:51] peller commented on #1730
Unfortunately, I'm still not seeing gzip content on lab9

[2012-02-29 16:43] aerwin commented on #1737
This appears to be now un-reproducible now. So, agree with closing.

[2012-02-29 16:52] childsb commented on #1730
working on lab9 after maqetta was redeployed.

[2012-02-29 16:52] #1730 closed, assigned to childsb

[2012-02-29 17:07] childsb commented on #1666
i only see one DAVINCI.USER cookie defined on /

theres 2 other cookies, both for dijit trees then a JSESSIONID.

is this still a bug?  maybe this was fixed previously

[2012-02-29 17:21] billreed63 commented on #1752
I think I have fixed this with #1461

[2012-02-29 17:21] #1752 closed, assigned to billreed63

[2012-02-29 17:23] billreed63 commented on #1071
reopen if someone can reprodude

[2012-02-29 17:23] #1071 closed, assigned to billreed63

[2012-02-29 17:47] billreed63 commented on #1791
I can't reproduce this, I may have fixed this issue with #1787

[2012-02-29 17:47] #1791 closed, assigned to billreed63

[2012-02-29 17:50] JonFerraiolo commented on #1666
Reopening and reassigning to me to test against tomorrow's build

[2012-02-29 17:52] #6 closed, assigned to childsb

[2012-02-29 17:53] childsb commented on #6
this was fixed a while ago, not sure why/when it was reopened.

[2012-02-29 17:53] billreed63 commented on #1384
fixed by #1574

[2012-02-29 17:53] #1384 closed, assigned to billreed63

[2012-02-29 18:00] jhpedemonte opened #1821 "Remove `withDoc` from CommandStack"
**CommandStack** contains the following code in its `execute()` function (around line 24):

[code]

First, not sure why there are **two different paths** here.

Most importantly, we **shouldn't be using `withDoc`** here.  This means that, when using Dojo calls, **all commands work within the context of the VE iframe**.

But this isn't necessary.  All the commands work within both the app and the V

[2012-02-29 18:21] #1819 closed, assigned to waynevicknair

[2012-02-29 18:56] billreed63 commented on #1793
One thing - my first impression is that our theme metadata is likely greatly incomplete regarding this "elements" stuff. I only see it for Button and Calendar. I would think that nearly every widget would have the font properties on "elements", and also "float", "clear", "width", "height" would be common

we might need some combo variable like we have for $std10 or whatever that was so we are dupl

[2012-02-29 19:31] aerwin opened #1822 "Data Grid test case w/ JSONP reopening file doesn't re-fetch data"
In the _Data from URL (JSONP)_ section of the _dataGrid.html_ test page, Step 8 asks the tester to reopen the HTML file containing a the DataGrid pointing at a URL.

Reopening the HTML file works, but the data isn't fetched from the URL unless I double click to bring up Smart Input and hit OK.

Environment: Chrome on windows running against lab9

[2012-02-29 19:52] peller opened #1823 "Outline Tree not expanding upon widget selection"
Open Sample1.html.  Click on the TabContainer in the visual editor.  Notice that the TabContainer is selected in the outline view.

Now click on the 'New' Button.  Notice that there is no selection in the outline view.  Expand the tree under the first contentpane enough to see the New button and you'll see the selection.

The event should expand the tree as necessary to show the selection.

[2012-02-29 20:01] waynevicknair opened #1824 "States theming: font size for text box not sensitive to state"
testing states theming. mac/chrome running in eclipse on latest code.

clone claro theme into mytheme1 per test instructions and perform steps in "States theming" section.

result: after setting font size to 20pt for hover state and saving. preview in browser shows large font for _all_ states versus only hover state.

[2012-02-29 20:21] aerwin commented on #1814
@JonFerraiolo

It appears the File palette has already been moved to live within a different set of tabs, so I'll skip the first bullet and focus on the 2nd bullet.

Do we have any sort of a spec (even partial) on what palettes should get brought to the top for each editor?

[2012-02-29 20:31] childsb commented on #1060
The user workspace code path wasn't looking at the path element, instead just looking at the logged in user.

fixed with #5c50eb83049c159342d9aa82e4dc380d98a297c1

[2012-02-29 20:31] #1060 closed, assigned to childsb

[2012-02-29 20:37] waynevicknair opened #1825 "Visual overlay test: dropping Tooltip on Button fails"
Visual Overlay testing. Mac/Chrome running latest code in Eclipse:

perform steps in Tooltip placement script. When dropping Tooltip get TypeError "non_object_property_call" at line 374 of CreateTool.js

[2012-02-29 20:40] waynevicknair opened #1826 "Visual overlay test: dropping Dialog on canvas fails"
Visual Overlay testing. Mac/Chrome running latest code in Eclipse:

perform steps in Dialog placement script. When dropping Dialog get DOMException "NOT_FOUND_ERR: DOM Exception 8" at line 374 of CreateTool.js.

[2012-02-29 20:46] #1617 closed, assigned to billreed63

[2012-02-29 20:52] billreed63 commented on #1822
fixed by commit fbdb38459de1603b32961cedebbd19ec09dd1e8e

[2012-02-29 20:52] #1822 closed, assigned to billreed63

[2012-02-29 20:55] #1353 closed, assigned to childsb

[2012-02-29 21:02] peller commented on #1825
see #1693

[2012-02-29 21:14] waynevicknair commented on #1818
cannot reproduce on commit a0708e74bbb9edb7d98f17d2fe2910e4d3030b92. please re-open if issue recurs.

[2012-02-29 21:14] #1818 closed, assigned to waynevicknair

[2012-02-29 21:17] #1825 closed, assigned to peller

[2012-02-29 21:18] childsb commented on #1536
@aerwin can you still reproduce this?  i've tried on mac/FF and mac/chrome and can't.

please reopen if you can!

[2012-02-29 21:39] waynevicknair commented on #1783
cannot reproduce on commit a0708e74bbb9edb7d98f17d2fe2910e4d3030b92. please re-open if issue recurs.

[2012-02-29 21:39] #1783 closed, assigned to waynevicknair

[2012-02-29 21:43] #1528 closed, assigned to waynevicknair

[2012-02-29 22:00] waynevicknair commented on #1495
i cannot recreate this issue on commit a0708e74bbb9edb7d98f17d2fe2910e4d3030b92. please re-open if issue recurs.

[2012-02-29 22:00] #1495 closed, assigned to waynevicknair

[2012-02-29 22:08] #950 closed, assigned to peller

[2012-02-29 22:15] billreed63 opened #1827 "Exception when switching mobile theme"
1) Create new HTML file blackberry
2) Switch theme to custom for all devices

[code]

[2012-02-29 22:17] billreed63 commented on #1827
StatesView.js line 504

[code]

is is rebuilding the tree when the device is change, and the Tree is throwing when rebuilding the tree.
Why are we rebuilding the states view when we change devices? The states will not change on a device change... seems like unneeded work...

I can fix this issue by removing the code in StatesView.js that updates the view when the device changes, but that might jus

[2012-02-29 22:35] JonFerraiolo opened #1828 "Remove hard-coded additions of .rev extension in review code"
(no urgency, just logging so we don't forget)

There are at least two places in the review code where we hardcode the string ".rev". We should factor that out and use an execution time variable (e.g., the file name extension from the review.plugin.js file).

[2012-02-29 22:40] JonFerraiolo commented on #1814
Here you go:
- Page editor: bring Widgets, Properties, States(Scenes) to the top
- Theme editor: bring Properties, States(Scenes) to the top
- Review editor: bring Reviews, Comments, States(Scenes) to the top

[2012-02-29 22:42] JonFerraiolo commented on #1824
@billreed63 @jhpedemonte there are some bugs with States.js that might be causing this, or might not be causing this. But I thought I should mention that I am hoping to do an A-Z code cleanup on States.js in the coming days. I have some bugs that need fixes to States.js, and I expect @jhpedemonte also has bugs that relate to States.js.

[2012-02-29 22:46] JonFerraiolo commented on #1823
We have had this limitation all along, haven't we? Seems like it would be fairly easy to fix: do a query into the store to find the item that matches the current widget, then build a path by prepending/splicing the id's of parent nodes from the store, and then calling set('path',...) on the Tree.

[2012-02-29 23:56] peller opened #1829 "404 for blank.gif"
Create a new review. In the wizard after adding a file you will see a 404 on the console.  It appears the relative references in Comments.css are off by a directory -- missing an 'app' between maqetta and dojo

GET http://lab9.austin.ibm.com:50010/maqetta/dojo/resources/blank.gif 404 (Not Found)

[2012-03-01 00:00] JonFerraiolo opened #1830 "Editor tab show .html.html"
Double-click on Sample1.html and the editor's tab says "Sample1.html.html"

[2012-03-01 00:01] JonFerraiolo commented on #1830
Perhaps we need to add an optional helper function to ReviewEditor.js to transform the default filename? Workbench checks the editor to see if the editor object has such a helper function, and if so, calls it, that way no side effects for page editor and theme editor.

[2012-03-01 00:06] #1829 closed, assigned to waynevicknair

[2012-03-01 00:09] peller commented on #1830
I think @waynevicknair fixed that in a0708e74bbb9edb7d98f17d2fe2910e4d3030b92

[2012-03-01 00:09] JonFerraiolo opened #1831 "JavaScript file SaveAs - doesn't remove old file"
- New JavaScript file, accept default name (file1.js)
- Immediately SaveAs some other file, eg  `file1a.js`

Result=> FIles palette still shows file1.js even though the file was never saved. (Same thing with CSS files)

[2012-03-01 00:28] JonFerraiolo opened #1832 "(Firefox) After login, opens as maqettaUser instead of login"
I was testing localhost install, and then on the lab9 50010 and 50020 server. If I go to /maqetta/welcome, I get taken to the login screen, but then Maqetta opens single-user (maqettaUser). If I just go to /maqetta after logging in, Maqetta also comes up single user (maqettaUser).

Fails with Mac/Firefox. Works with Mac/Chrome.

[2012-03-01 00:28] peller commented on #1823
no, set path is supposed to do this.  I think this is a regression.

[2012-03-01 00:42] JonFerraiolo opened #1833 "Can't set position:absolute on Calendar"
@billreed63

If you select a Calendar and try to set 'position' to absolute, you get the error dialog about not being able to change a read-only CSS property.

[2012-03-01 02:38] #1810 closed, assigned to JonFerraiolo

[2012-03-01 03:36] JonFerraiolo commented on #1833
dupe of #1792

[2012-03-01 03:36] #1833 closed, assigned to JonFerraiolo

[2012-03-01 05:00] aerwin commented on #1536
@childsb

Still happens with local install on windows using Chrome.

[2012-03-01 13:56] billreed63 commented on #119
we have several DataStore capable widgets. Currently we have duplicated code in DataGridHelper/Input, RondRecDataListHelper/Input, and possible TreeHelper/Input. RoundRecDataList needs JSONP support added I would assume CSV also. I started the process of re-factoring all the code  around these widget, but did not get very far in this milestone. So as part of 119 we should re-factor the code so all

[2012-03-01 15:02] waynevicknair commented on #1830
@peller is correct.

[2012-03-01 15:02] #1830 closed, assigned to waynevicknair

[2012-03-01 15:35] billreed63 commented on #1793
I think I figured out what's wrong and how to fix a bunch of Property palette bugs, like:

https://github.com/maqetta/maqetta/issues/1792: Properties 2, Step 10: Can't change position of calendar to absolute
https://github.com/maqetta/maqetta/issues/1790: Properties 2, Step 7: Text box width cannot be set via Properties palette

Also, this fix might make it so that we don't have to create a zillio

[2012-03-01 15:57] JonFerraiolo commented on #1827
I think we are using the wrong "dojo". Instead of Maqetta's dojo, we are using the user app's dojo.

[2012-03-01 15:58] JonFerraiolo commented on #1827
@jhpedemonte

I suspect the problem is with CommandStack.js:24, where we do a dojo withDoc to the user's doc.

[2012-03-01 16:38] JonFerraiolo commented on #1827
see #1821

[2012-03-01 16:40] JonFerraiolo commented on #119
Reassigned to @doronrosenberg , M6, Prio High

[2012-03-01 16:40] JonFerraiolo commented on #1038
Reassigned to @doronrosenberg , M6, Prio High

[2012-03-01 16:41] JonFerraiolo commented on #1746
Reassigned to @doronrosenberg , M6, Prio Med

[2012-03-01 16:44] JonFerraiolo commented on #64
Assigned to @doronrosenberg, M6, Prio Med

[2012-03-01 16:59] childsb commented on #1832
Fixed this yesterday.. forgot to add the username cookie to the register command.

[2012-03-01 17:39] JonFerraiolo opened #1834 "Mobile previews broken in builds"
@jhpedemonte

Mobile previews (preview in browser)  is broken in builds. The previewer dies when trying to do xhr gets on /maqetta/app/davinci/nls/webContent.js and /maqetta/app/preview/nls/preview.js
- Run a build version of Maqetta
- New HTML file - iphone
- Preview-in-browser

Look at Network panel and you'll see that those two files were not retrieved successfully.

[2012-03-01 17:44] #1831 closed, assigned to childsb

[2012-03-01 17:49] jhpedemonte commented on #1821
When this is fixed, need to remove `setTimeout` from commit 08be6ffea9b253445c4e6478a539aa6e31fbd538.

[2012-03-01 18:00] billreed63 opened #1835 "Changing State does not work in preview mode"
1) Create new html page (hi def)
2) DnD lable
3) Create state (two)
4) Change scene to two (the state you created
5) In outline palette hide the label (close the eye)
4) Select Label and change the onclick event in properties palette to state two
6) Save and preview
7)click on the label...

Result the label is not hidden

[2012-03-01 18:10] #1827 closed, assigned to billreed63

[2012-03-01 18:31] jhpedemonte commented on #1102
Reopening.  After fixing #1813, when setting `fixed` prop to "bottom", selection for widget stays at top.

The reason for this seems to be that the widget selection process is running before the VE DOM has fully reflowed, after the call to `Context.refresh()`.

At the moment, I'm publishing the _selectionChanged_ event by connecting to the `Context.setSource()` method (such that my publish event r

[2012-03-01 19:03] JonFerraiolo commented on #1767
Reassigning to @aerwin

[2012-03-01 19:09] JonFerraiolo commented on #1832
Reopening to ask a question: When I tried today's build, I saw the same problem, but if I cleared my cookies and cache, the problem went away. What will happen with existing users when they run the M5 release? Will they run into this bug (assuming they don't clear their cookies)?

[2012-03-01 19:11] aerwin commented on #1767
@JonFerraiolo

Is this a dup of #1548?

[2012-03-01 19:22] JonFerraiolo opened #1836 "Mobile UIs that use custom themes show default themes in review editor"
@billreed63 - this bug might be coming your way, but assigning to @jonferraiolo at first to do some initial investigation
- Clone custom to custom2, change some styling, save
- New html file, use any device.
- Add some widgets (View, Heading, RoundRectList)
- Change theme to custom2
- Save
- New Review, using this new HTML file, invite yourself, click Publish
- In Reviews palette, double-click on

[2012-03-01 19:24] childsb commented on #1832
i had a bug on the cookie setting.  unless they were running a build of maqetta from yesterday they should be fine.

[2012-03-01 19:42] billreed63 opened #1837 "Calendar in theme editor has number for month instead of word"
Clone claro, notice when the theme editor opens the calendar widget has a 3 instead of march

[2012-03-01 19:42] #1820 closed, assigned to JonFerraiolo

[2012-03-01 19:52] JonFerraiolo commented on #1666
Closing again. I think we are OK now except maybe if a user's workspace has an awful, awful lot of open tree nodes that might end up busting the 8K cookie limit found on many servers.

[2012-03-01 19:52] #1666 closed, assigned to JonFerraiolo

[2012-03-01 19:56] billreed63 commented on #1836
My bet would be that Context._configDojoxMobile() is not being called by the review logic.. This is the code that fixes up the mobile themes in the preview editor

[2012-03-01 20:05] billreed63 opened #1838 "Review and Commenting confused about who is commenting"
I created two user
billreed63 and billreed
I requested a review from billreed63@gmail.com (billreed63) to have billreed@us.ibm.com (billreed) review my page
When I log in as billreed to review the page the I added a comment put when I clicked on the show participants ICON in the review palette it showed billreed@us.ibm.com ad red and billreed63 as blue.. but all my comments have blue borders, shou

[2012-03-01 20:05] JonFerraiolo commented on #1836
@billreed63 @peller

I only see this problem when running lab9:50020. When running a build on localhost:50000, no problem. Maybe a timing problem?

@billreed63: can you try to reproduce this by running lab9:50020?

@billreed63: any ideas about how there could be a timing issue with running the JS logic that loads the proper theme?

[2012-03-01 20:11] JonFerraiolo commented on #1767
closing as dupe

[2012-03-01 20:11] #1767 closed, assigned to aerwin

[2012-03-01 20:30] waynevicknair commented on #1600
fixed in commit c30cdda62436edfc24773e0a591e3efc0c1c1375

[2012-03-01 20:30] #1600 closed, assigned to waynevicknair

[2012-03-01 20:42] jhpedemonte commented on #1102
Note to self:

[2012-03-01 20:55] billreed63 commented on #1836
So here is what I am thinking....
 the themeMap has to be defined before the mobile/deviceTheme object is created or you get the default themeMap...
 So assuming that all the requires[] run asyn (all at the same time) the deviceTheme require could be returning before the function in  the mobile require has run to define the new themeMap...

[2012-03-01 21:05] childsb opened #1839 "states: can't assign style values to states"
1) create a new HTML file
2) add a button, add a calendar
3) add a new state, PLEASE_WORK
4) select the calendar and then select state PLEASE_WORK
5) go to background color, change the style target to "ELEMENT.STYLE" and change the background color
6) switch to the default state.  notice that the background color stays to what you set in PLEASE_WORK state
7) If you change the background color agai

[2012-03-01 21:09] JonFerraiolo commented on #1838
Raising to Prio-High.

One note: I fixed a coloring problem in the old review code (davinci.review) sometime in last few months, but I don't remember when exactly, and now that project is gone from master, so it will take a bit of effort to restore. I'll try to remember to research this later today.

[2012-03-01 21:10] JonFerraiolo commented on #1839
Did you click the tiny checkbox at the bottom of the cascade that says "apply to current state only"?

[2012-03-01 21:19] childsb commented on #1839
no, i dont see that in FF. let me send a screen grab.

[2012-03-01 21:23] childsb commented on #1839
![PP](http://i42.tinypic.com/314cv9d.jpg)

[2012-03-01 21:25] childsb commented on #1839
thats both FF and Safari, did i miss it?

[2012-03-01 21:29] JonFerraiolo commented on #1839
I must have broken this with my rewrite of the States palette. Assigning to me.

[2012-03-01 21:35] peller commented on #1837
I suspect this is fallout from http://bugs.dojotoolkit.org/ticket/14169 which may not have been completely fixed on 1.7.2.  It's an issue for themeEditor because it uses the Calendar from a built layer called dijit-all, and 14169 restores the behavior where dijit-all resources are loaded from nls/dijit-all

[2012-03-01 21:42] billreed63 opened #1840 "Can not refresh mobile page preview"
1) Create a html iphone
2) DnD View and header
3) Preview
4) Click the refresh in the preview browsers

Console:

[code]

[2012-03-01 21:51] JonFerraiolo commented on #1840
This one is probably a dupe of another bug that was sent to @peller either yesterday or today. @peller:  close this if you think this is a dupe.

[2012-03-01 21:52] billreed63 commented on #1840
console log of document.cookie

"DataGridFileSelectionDialog.id1SaveStateCookie=.; DataGridFileSelectionDialog.DataGridFileSelectionDialogSaveStateCookie=.; davinci_ui_Panel_5.id1SaveStateCookie=.; davinci_ui_Panel_6.id1SaveStateCookie=.; davinci_ui_Panel_7.id1SaveStateCookie=.; reviewResourceTreeSaveStateCookie=.review%2Fsnapshot; davinci_ui_Panel_3.id1SaveStateCookie=.%2C.%2Fsample_data%2C.%2Fpr

[2012-03-01 21:59] peller commented on #1840
see #307, #1666, #1809

[2012-03-01 22:02] peller commented on #1840
I need to take the output above and consider it for #1170.  @aerwin I thought we had successfully killed davinci.ui.Panel instances in #1638?

[2012-03-01 22:36] #1839 closed, assigned to JonFerraiolo

[2012-03-01 22:51] jhpedemonte commented on #1102
Doesn't work.  Runs into the same problem as before, wherein the publish happens before the widget gets put to the bottom.

Adam speculated that this is a CSS issue: when resetting the source, we again reset the CSS files.  And this means that we have to wait for the CSS to fully reload.

I'm thinking that we need a way to reset the source without resetting the scripts and CSS files in `<head>`.

[2012-03-02 02:13] peller commented on #1834
could be another 1.7.2 regression?  see #1837

[2012-03-02 04:57] JonFerraiolo commented on #1685
Closing. Can't reproduce.

[2012-03-02 04:57] #1685 closed, assigned to JonFerraiolo

[2012-03-02 05:27] jhpedemonte commented on #1102
In the end, I had to go with a `setTimeout`, in order to give the DOM some time to get properly set.  Nothing else I tried worked.

Maybe the only events that could work here are the DOM Mutation Events.  However, those are deprecated, mostly because they cause a serious performance impact.

If you have a better idea, I'm all ears.

[2012-03-02 05:28] #1102 closed, assigned to jhpedemonte

[2012-03-02 05:31] jhpedemonte commented on #1813
For some reason, GitHub didn't link the commits that mentioned this bug:

7a38de9bfc37f3553c2e221819126f56570fc989
4e3b7ec1fab4b697f0472d3104c61197eb549676
70b126da2ce065abc53ae523dccdd2dd7acde04c
08be6ffea9b253445c4e6478a539aa6e31fbd538

[2012-03-02 05:31] #1813 closed, assigned to nobody

[2012-03-02 14:31] JonFerraiolo commented on #1102
Actually, I did think of something else to try, but too difficult for M5: use AMD (or ensure) to load everything in the refreshed document. I'm thinking that we could look at the current (old) model, make a list of all resources, then reconstruct/refresh by loading everything through AMD. I'm not sure this is feasible or that it would actually fix this particular problem, but I thought I'd mention

[2012-03-02 15:16] peller commented on #1102
I'm not sure it's the Javascript loading that's the issue here, but the rendering and, perhaps, the css loading.  Are we using that AMD css! plugin here?  It may also not provide the logic to tell when the css loading is actually complete, and it may very well still take an extra timeout to let the browser render the page.

[2012-03-02 15:50] peller commented on #1170
Wiki doc to track cookie usage: https://github.com/maqetta/maqetta/wiki/Cookie-list

[2012-03-02 15:50] #1170 closed, assigned to peller

[2012-03-02 15:54] JonFerraiolo commented on #1102
I wonder if it is possible to check for a CSS file having completed loading by checking the DOM for something, such as the stylesheet showing in the list of document.stylesheets. If that check is reliable, then we could use a deferred to cause a wait before we invoke selection

[2012-03-02 15:59] JonFerraiolo opened #1841 "Preview5 release notes"
@peller

[2012-03-02 15:59] JonFerraiolo opened #1842 "Update docs for Preview5"

[2012-03-02 16:26] doronrosenberg commented on #119
So the idea is that "Data from URL" will support JSON/JSONP/CSV.  Since JSONP requires an additional argument (callback), we will need a checkbox to distinguish JSONP.

I would say having 2 radio buttons, JSON/CSV and the JSON panel would have a JSONP checkbox that shows/hides the callback input.

[2012-03-02 16:27] jhpedemonte commented on #1480
The tool I used to create the initial [sprite image](https://github.com/maqetta/maqetta/blob/master/maqetta.core.client/WebContent/davinci/img/sprite.png) is the [CSS Sprite Generator](http://spritegen.website-performance.org/).

Since the **Comments** view is part of Review & Commenting, we should have a separate sprite image -- this allows us to load the R&C code on demand.

@JonFerraiolo

[2012-03-02 16:31] JonFerraiolo commented on #1480
The images in question are in maqetta-core-client/WebContent/davinci/review/resources/img/*. What we are doing is keeping all of the individual image files around in our repository, but creating a sprite.png file that holds all of the images together in a single image file. The runtime product only references sprite.png.

One downside of our current approach (where we keep the separate image files

[2012-03-02 16:43] #1840 closed, assigned to peller

[2012-03-02 16:45] peller opened #1843 "Consider restructuring urls to accommodate cookies"
the workbench, cmd and preview probably should have isolated cookies, for the most part.

See #1170

@jhpedemonte @JonFerraiolo

[2012-03-02 16:47] peller commented on #1480
I take the view that our ui should settle down and that this isn't worth automating.

[2012-03-02 16:48] peller commented on #1841
Tell existing users to clear cookies. See #1840

[2012-03-02 17:15] JonFerraiolo opened #1844 "R/C: Scenes palette not updating current scene when new View becomes visible"
@waynevicknair

If a user actually "runs" a mobile app within the review editor, such as clicking on a ListItem that is wired to go to a different view, the View will switch on the canvas, but the Scenes palette doesn't update its selected View

[2012-03-02 17:15] billreed63 commented on #1793
The code is complete, but I still need to update the theme metadata documentation of the wiki.

[2012-03-02 17:24] peller commented on #1102
I'll have to find the reference, but we discussed this several months ago for some other bug.  IIRC, it's not easy to do, based on browser quirks.  One reliable workaround was to load the stylesheet with a (gasp) img tag and use the onload event.

[2012-03-02 17:42] billreed63 commented on #119
Currently we have a drop down selection box that allows the user to chose from 3 options:
1) Enter data in CSV format
2) load data from a file in their workspace
3) load data from a JSONP service

I was think the user would chose option 2 and select the file from their workspace we would then interrogate the URL to determine the format of the datastore. The sample code at the top of this defect sh

[2012-03-02 17:51] #1844 closed, assigned to JonFerraiolo

[2012-03-02 17:55] jhpedemonte opened #1845 "Inefficient (bad?) theme code in Context._setSourceData"
`Context._setSourceData()` has some theme code which is very odd, and also inefficient.  This theme code is invoked whenever the source is changed (user editing in source mode) or when doing the "refresh from source" path.
1. When invoking `_setSourceData()`, the function `themeChanged()` is always called.  It does a `model.find()` for a CSS import of _"themes/claro/claro.css"_ and **always fails*

[2012-03-02 18:02] childsb commented on #1491
The problem is on Windows--

When we create files on the server, we skip over writing if the content length = 0.

For some reason, just getting a URLConnection on windows then not writing anything would cause the JVM to lock the file in the thread.  This resulted in any file.delete() to fail (and leave the file on the file system).

I changed the code to write 0 bytes and set content length to 0 f

[2012-03-02 18:02] #1491 closed, assigned to childsb

[2012-03-02 18:02] childsb commented on #1535
The problem is on Windows--

When we create files on the server, we skip over writing if the content length = 0.

For some reason, just getting a URLConnection on windows then not writing anything would cause the JVM to lock the file in the thread.  This resulted in any file.delete() to fail (and leave the file on the file system).

I changed the code to write 0 bytes and set content length to 0 f

[2012-03-02 18:02] #1535 closed, assigned to childsb

[2012-03-02 18:03] childsb commented on #1536
The problem is on Windows--

When we create files on the server, we skip over writing if the content length = 0.

For some reason, just getting a URLConnection on windows then not writing anything would cause the JVM to lock the file in the thread.  This resulted in any file.delete() to fail (and leave the file on the file system).

I changed the code to write 0 bytes and set content length to 0 f

[2012-03-02 18:03] #1536 closed, assigned to childsb

[2012-03-02 18:04] childsb commented on #1816
I believe this issue is resolved per fix 53cb818--

The problem is on Windows server--

When we create files on the server, we skip over writing if the content length = 0.

For some reason, just getting a URLConnection on windows then not writing anything would cause the JVM to lock the file in the thread.  This resulted in any file.delete() to fail (and leave the file on the file system).

## I c

[2012-03-02 18:04] #1816 closed, assigned to childsb

[2012-03-02 18:05] billreed63 commented on #1836
So I think if we change the require so that the `require(["dojox/mobile/deviceTheme"]);` is inside the function callback of the `require(["dojox/mobile"]);`  should eliminate the timing issues

[code]

[2012-03-02 18:07] #1126 closed, assigned to childsb

[2012-03-02 18:15] childsb commented on #1436
@peller can you review 8c235b9?  Is that enough to fix the leak?

[2012-03-02 19:02] JonFerraiolo commented on #1836
@peller, @jhpedemonte

@billreed63 - do you think you'll attempt this change today?

[2012-03-02 19:14] billreed63 commented on #1836
@peller @jhpedemonte  I was thinking we could add callback functions to the requires for the mobile widgets.

I propose we do something like:

add the amdFunction to  *_oam.json

[code]

and add and add to ve/Context.loadRequires

[code]

and add to ve/Context.addJavaScriptModule

[code]

Does this seem like a reasonable approach?

[2012-03-02 20:08] billreed63 commented on #1836
I think I will wait on this change until I get back on 3/11  I think this will have ripple effects in theme switching as well

[2012-03-02 20:19] jhpedemonte commented on #798
`onend` works on Firefox, but not on Chrome.

[2012-03-02 20:34] jhpedemonte commented on #798
Fixed, but had to use `setTimeout` for the duration of animation, instead of the `onend` event, which doesn't seem work on Chrome (WebKit?).

Now, is there any way to fix the clipping of the silhouette during the rotation?  I'm referring to how part of the silhouette becomes hidden at the beginning of the rotation.  Would be best if we saw the full device during rotation.

[2012-03-02 21:11] JonFerraiolo commented on #798
I wonder if the clipping is because of the overflow:hidden on silhouette_div_container:

[code]

I'm focused on other assignments, so I'm not going to fool around with this right now, but if there was someone out there who was totally obsessed with this area of the UI, maybe he/she would investigate :-)

[2012-03-02 21:17] aerwin commented on #1814
At the scrum this morning, we debated whether we needed to do something more advanced than Jon's proposal. For example, maybe we want to do some persistence so if user has made Outline Palette active in Page Editor that when we come back to Page Editor we don't switch to make the Widgets palette active. But, the consensus was to keep it simple for M5 and revisit at a later date as we discuss simpl

[2012-03-02 21:17] #1814 closed, assigned to aerwin

[2012-03-02 21:41] aerwin commented on #1548
More details on what's been going on with this issue can be found in Bugzilla 7894.

[2012-03-02 22:36] jhpedemonte commented on #1826
This is my code.

[2012-03-02 22:56] peller commented on #1436
Yes, inspecting the DOM shows that dialogs like New File disappear when closed and that there is only one Dialog appended to BODY at a time.

[2012-03-02 22:56] #1436 closed, assigned to childsb

[2012-03-02 22:56] jhpedemonte commented on #1826
OK, I fixed the error.  Now Dialog gets added (I can see it in VE DOM), but is not visible.
-> back to Adam

[2012-03-04 15:04] JonFerraiolo opened #1846 "States changes don't work in split view"
@jhpedemonte @waynevicknair

This bug was in Preview 4 also, so targeting M6 for this issue.
- Open Sample1.html
- Go into split view
- Click on different states

Result=> Nothing happens - state change doesn't happen. Even if you go back to design view, you still can't change states without closing the editor and reopening it.

Somehow or other bringing the act of bringing up the source editor wi

[2012-03-04 20:30] #1684 closed, assigned to JonFerraiolo

[2012-03-04 20:37] JonFerraiolo opened #1847 "Mobile theme editors show nothing for background-image for Heading and Button"
@billreed63
- Clone custom2 or android or whatever
- Click on global Heading and look at background-color and background-image values in Properties palette

Result=> background-color and background-image shows blank instead of their correct values

[2012-03-04 20:39] JonFerraiolo opened #1848 "Desktop theme editor shows no padding value for Button"
@billreed63

In Preview 4, if you clone claro into claro2, select the Button widget, and look at 'padding', you'll see a value (something like 2px 4px 4px 2px). But with current code, the same operation shows black for 'padding'.

[2012-03-04 21:20] JonFerraiolo opened #1849 "Review editor: 1 line instruction within toolbar space"
@waynevicknair

(Priority high because it would be a big boost to usability and should be easy to implement)

The UI folks say we should put some short user instructions into toolbar area for review editor. Instructions should explain that the application is fully interactive.

[2012-03-04 21:21] JonFerraiolo opened #1850 "Refresh icon for all editors"
Most critical for the review editor, but might as well provide a refresh button for all editors.

Two dependencies:
- What icon to use
- Where to put it

The latter bullet needs to be reconciled versus #1849 because we may not be able to have both instructional text and an icon in the same area of the UI.

[2012-03-04 21:34] JonFerraiolo opened #1851 "States switching broken in review editor"
@waynevicknair
- Create New Review with Sample1.html
- Open up that review and file Sample1.html in review editor
- Try to switch states

Result-> No state changes

Probably I forgot to update the review logic with changes in 9c3ae7968c

[2012-03-04 21:36] JonFerraiolo opened #1852 "Hide +/i buttons in Scenes palette for mobile UIs"

[2012-03-04 21:39] JonFerraiolo opened #1853 "'Where' dropdown menu is empty after opening a review"
@peller
- Create a New Review
- Open up an HTML file from that review
- Issue a New HTML FIle command

Result => Not that where dropdown button is blank (instead of showing "<root>".

Assigning to @childsb only because I expect he'll get to this before I can.

[2012-03-04 21:42] JonFerraiolo opened #1854 "Ability to transfer comments from one review to another"
We should provide this feature at some point. Nice to have for M6.

Right now, if you have Review 1 that shows a initial UI prototype, and then update that prototype and launch a second review (Review 2), the comments and annotations from Review 1 are not available for Review 2. This is a common request, so we should see what we can do.

[2012-03-05 04:05] jhpedemonte opened #1856 "Add metadata support for widget category icons"
**Palette.js** hardcodes the widget category icons:

[code]

These need to be moved to the metadata itself.

[2012-03-05 04:59] JonFerraiolo commented on #1851
Fixed by these commits: d6c761f8c8 , 60c55fd2c8 , 00303f475d

[2012-03-05 04:59] #1851 closed, assigned to JonFerraiolo

[2012-03-05 05:00] JonFerraiolo commented on #586
All of the key stuff is working now, so closing this bug. We can create other bugs for detailed problems we discover.

[2012-03-05 05:00] #586 closed, assigned to JonFerraiolo

[2012-03-05 05:05] JonFerraiolo opened #1857 "Hide all or parts of Properties palette with theme and review editors"
Don't have a spec for this bug yet, but clearly class and id shouldn't show in theme editor, nor should the non-CSS sections (e.g., widget-specific, events, ...).

Haven't looked to see what happens with review editor.

[2012-03-05 16:06] waynevicknair commented on #1579
done. too many commits to count.

[2012-03-05 16:06] #1579 closed, assigned to waynevicknair

[2012-03-05 16:09] JonFerraiolo commented on #1848
Assigning to @billreed63 - the problem is in the guts of theme CSS loading

[2012-03-05 16:12] JonFerraiolo commented on #1811
Assigned to @billreed63 - seems like he's the guy for this area

[2012-03-05 16:13] doronrosenberg commented on #1480
There are quite a few images that are either not used or don't exist.  I will comment out the ones that don't exist.

[2012-03-05 16:36] #1480 closed, assigned to doronrosenberg

[2012-03-05 17:43] doronrosenberg opened #1858 "Review and Comments css needs reworking"
The current css needs some reworking.  Some images references don't exist, some images are unused and there seems to be  unused code as well.

The sprite usage could also be cleaned by giving it a css class

[2012-03-05 18:02] childsb commented on #1853
review editor was publishing the same resource change event as the file explorer causing the resource selection item to be a review object.

[2012-03-05 18:02] #1853 closed, assigned to childsb

[2012-03-05 19:16] peller commented on #1834
backed out 1.7.2: fd15157f77e9b5c4e1def2988b3c0bdb8fddc66d

[2012-03-05 19:16] #1834 closed, assigned to peller

[2012-03-05 19:17] peller commented on #1837
backed out 1.7.2: fd15157f77e9b5c4e1def2988b3c0bdb8fddc66d

[2012-03-05 19:17] #1837 closed, assigned to peller

[2012-03-05 19:27] childsb opened #1859 "review files should be stored in the project directory"
project structure right now is:

project1/
project2/
project3/
.review/

the .review folder contains snapshots for all projects.  this is problematic for sharing projects (and reviews) over source control, or instances where projects aren't in the root folder (orion).  moving the .review/ folder should also simplify server logic.

this will be critical for GIT/orion support of R&C.

[2012-03-05 19:59] JonFerraiolo commented on #1859
@childsb - are you saying that .review folder should be inside of the project folders?

[2012-03-05 20:34] #1677 closed, assigned to waynevicknair

[2012-03-05 21:46] childsb commented on #1780
dijit tree was holding onto the folder object.  needed to call onChildrenChange(parent,[]) to delete the children before deleting the resource.

[2012-03-05 21:46] #1780 closed, assigned to childsb

[2012-03-05 21:51] childsb commented on #1618
Thanks for submitting this issue.  I can't point to a specific checkin that fixes it, but we've done rework around resource handling and I've verified that this is resolved in the upcoming M5 release.

[2012-03-05 21:51] #1618 closed, assigned to childsb

[2012-03-05 21:54] childsb commented on #1736
Can't recreate, but probably related to fix from 53cb81831c4a6bc39b0a2aa7128a2838a05e865a

[2012-03-05 21:54] #1736 closed, assigned to childsb

[2012-03-05 22:14] childsb commented on #66
Do we still need this?

The concept of a workspace needs to go away.  With Orion we may have projects nested deep within folders or remote.  There wont be a single top level directory that has all the users projects.  They may be buried within a tree (retrieved from GIT or WEBDAV).

[2012-03-05 22:23] JonFerraiolo commented on #66
Yes, we still need some way for a user to initiate a "start over". There are many ways to skin this cat, but the simplest one for the time being would be to have a `Reset workspace...` command on a menu, which would post a dialog explaining what is about to happen (and how all of their files on all projects will be deleted), making sure the OK is not selected by default. If user clicks OK, then th

[2012-03-05 22:32] JonFerraiolo commented on #1848
@childsb - Could you take a look into this bug? Also see #1847

[2012-03-05 22:39] JonFerraiolo commented on #1683
Closing, at least for time being. This was fixed "by accident" because I commented out some of the overrides logic from Cascade.js as part of 9c3ae7968c as part of my fixes to add property array logic to things that interact with States.js. (For the commented out code, look for this comment in Cascade.js: `/*Disabled hasOverride logic - had bugs, causes problems with logic and not sure it helps us

[2012-03-05 22:39] #1683 closed, assigned to JonFerraiolo

[2012-03-05 22:39] childsb commented on #1859
Yes.  A project should self contain any settings or configuration that move around with a project.

The biggest reason is for proper source control handling. Without the .review folder inside the project, the reviews will be lost once a project leaves it's base Maqetta install.

Thats not to say we ALWAYS want the review snapshots to tag along with the project, but in a lot of cases we do.  It wou

[2012-03-05 22:50] childsb commented on #1739
Jon's scenario is working for me.  Is there another bug here I'm missing?

[2012-03-05 22:50] #1739 closed, assigned to childsb

[2012-03-05 22:53] JonFerraiolo commented on #1627
@childsb can you look at this bug (fixing some bugs that I introduced)? The most important parts for M5:
- Can't type `url(SampleBanner.jpg)` into type-in field for background-image in the Properties palette. Instead, you get a console message that says `GET http://localhost:8081/maqetta/user/maqettaUser/ws/workspace/SampleBanner.jpg 404 (Not Found)`
- Can't type a full URL into type-in field for

[2012-03-05 22:58] JonFerraiolo commented on #1847
@childsb could you take a look at this one, too. See #1848

[2012-03-05 23:25] #1815 closed, assigned to JonFerraiolo

[2012-03-06 00:50] JonFerraiolo commented on #1859
Yes, your explanation makes sense.

What happens with .review folder now when you export as ZIP? I hope we aren't including it, and we should set the default to not include it even if we offer users an option to include it. It's likely to cause more trouble than it's worth. Note that Maqetta server 1 might be running a whole different version of Maqetta or include different widget libraries than M

[2012-03-06 01:24] #1762 closed, assigned to JonFerraiolo

[2012-03-06 03:32] peller commented on #1693
don't know what the underlying exception was, but this no longer occurs

[2012-03-06 03:32] #1693 closed, assigned to peller

[2012-03-06 03:33] #1398 closed, assigned to peller

[2012-03-06 15:36] JonFerraiolo commented on #1832
Reopening I'm seeing this problem again with today's build

[2012-03-06 16:44] childsb commented on #1832
@JonFerraiolo did you try clearing your cache?

I logged into both lab9 ports OK before and after clearing cache on osx/FF.

[2012-03-06 16:48] aerwin opened #1860 "Theme set dialog: +/- buttons look disabled"
Environment: Chrome on windows with local install

Open Settings -> Theme Sets and notice +/- buttons to add/remove theme sets look disabled. However, they are clickable and seem to function correctly.

![Screenshot](http://i.imgur.com/xxL4g.jpg)

[2012-03-06 16:59] JonFerraiolo commented on #1832
Ah, it isn't cache that needs to be cleared - it's cookies that need to be cleared. OK, I cleared my cookies and during remainder of this testing sprint I'll see if everything is OK in Firefox in subsequent sessions (when things should work without having to clear cookies each time)

[2012-03-06 16:59] #1832 closed, assigned to childsb

[2012-03-06 17:19] aerwin opened #1861 "Visual Overlay: Clicking on tooltip in outline does not make it visible"
This can be reproduced with with _Tooltip Placement_ test case in _Visual Overlays_ test plan (overlay.html).

[2012-03-06 17:20] aerwin commented on #1861
Per discussion with @peller making high priority and assigning to him.

[2012-03-06 17:23] JonFerraiolo opened #1862 "data-davinci-ws="collapse" not appearing in initial source view"
Minor bug.

We are adding `data-davinci-ws="collapse"` to all user HTML files but this attribute doesn't appear in source view immediately after opening a new file.
- New HTML File (hi fi page)
- Split view

Result=> You don't see attribute `data-davinci-ws="collapse"` , but if you look at the actual HTML code after the file is saved, that attribute is in the file. Perhaps the source code text is

[2012-03-06 17:27] aerwin commented on #1861
@peller You probably already know this, but dialog test case fails as well.

Note for both tooltips and dialogs, they work in preview.

[2012-03-06 17:34] JonFerraiolo opened #1863 "Source editing not working in Firefox (Mac and Windows)"
@waynevicknair, @jhpedemonte

In Mac/FF or Win/FF:
- New HTML File
- Split View (top/bottom)
- Try to type this between `<body ...>` and `</body>`:

`<div style='color:red'>abc</div>``

Result=> almost all characters get dropped - source editing is unusable in FF

[2012-03-06 17:52] JonFerraiolo opened #1864 "Attempt to create HTML file that already exists: exception: isNew is undefined"
Logging this without fully investigating.

I'm running today's build off of lab9:50020 using Mac/Chrome. Earlier in day, I was running lab9:50020 using Win/FF. In my earlier session, I had created file6.html, and my Mac/Chrome browser wasn't aware of that. When I issued a New HTML File command in Mac/Chrome using the default name of file6.html, of course it fails because file6 exists on the server

[2012-03-06 17:57] JonFerraiolo opened #1865 "Can't do source editing on Button inside of Accordion"
@waynevicknair, @jhpedemonte
- New HTML File
- Split view (top/bottom)
- Add Accordion
- Add Button inside of Accordion
- In source view, change button's label from "Button" to "abcdef"

Result=> Button disappears from the design canvas [peller: clicking on the source view editor switches to the second accordion pane, before you actually start typing]

[2012-03-06 18:55] doronrosenberg opened #1866 "Widget Palette that has a filter doesn't reapply when reopened, leading to empty result list"
- Open a file
- Filter on the widget palette by entering text into the filter textbox
- Close the file
- Open any file

The filter textbox retains whatever you entered, but the result list is now empty.

[2012-03-06 19:23] JonFerraiolo commented on #1866
@doronrosenberg Not something that we need to fix for M5, but maybe you can fix this in a branch that we can include in M6.

[2012-03-06 20:45] aerwin commented on #341
@JonFerraiolo Per earlier discussion today, moving table feature requests in my name to M6.

[2012-03-06 20:46] aerwin commented on #125
@JonFerraiolo Per earlier discussion today, moving table feature requests in my name to M6.

[2012-03-06 20:46] aerwin commented on #331
@JonFerraiolo Per earlier discussion today, moving table feature requests in my name to M6.

[2012-03-06 20:48] #1861 closed, assigned to peller

[2012-03-06 22:33] JonFerraiolo opened #1867 "Review editor leaves dangling "stay on this page" handler"
@aerwin, @childsb, @doronrosenberg

Assigning to @waynevicknair but maybe one of the folks above might have cycles and want to snatch this bug and fix it.
- Create a review
- Open the HTML file for that review
- Add a comment, add an annotation while comment is open, but don't click Submit
- Close the review editor. You will see an "are you sure" prompt. Click OK/yes to close the review editor
- C

[2012-03-06 23:01] JonFerraiolo opened #1868 "Arrow keys, return => picks wrong widget"
@peller

Probably shouldn't fix this until we rewrite the Widgets palette.
- Drag/drop a Calendar
- Click on Button to select
- use arrow keys to move selection in Widgets palette to ComboBox, then press Return key
- Click on canvas

Result=> You get a Calendar instead of a ComboBox

Actually, much more is wrong with the above steps beyond just picking the wrong widget. One of the big reasons for

[2012-03-06 23:26] childsb commented on #1627
er.. not sure why that closed but re-opened.

Most of the issue were around an assumption that quotes are required in the url(...).  Fixed around that, but still have an issue if the user brings up the dialog and manually enters a value for the image url.  the value "../" is prepended to the typed in value.

[2012-03-06 23:50] doronrosenberg opened #1869 "Firefox: Hiding a SVG item in Outline causes JS error, breaks scenes"
Error: [Exception... "Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIDOMSVGLocatable.getBBox]" nsresult: "0x80004005 (NS_ERROR_FAILURE)" location: "JS frame :: http://lab9.austin.ibm.com:50010/maqetta/user/Doron/ws/workspace/project1/lib/dojo/dojo/dojo.js :: <TOP_LEVEL> :: line 88" data: no]

Works in Chrome, not in Firefox 10.0.2

[2012-03-07 00:42] aerwin commented on #1732
@JonFerraiolo I feel pretty good about my changes, but they hit _Tool.js, so thought maybe you might like to take a look before I merge into master?

[2012-03-07 01:02] #1500 closed, assigned to JonFerraiolo

[2012-03-07 01:19] JonFerraiolo opened #1870 "Buttons snapping to wrong location"
There are problems with snapping. Using SelectTool, I can't get a Button to left-align with a Calendar

[2012-03-07 01:51] #1523 closed, assigned to JonFerraiolo

[2012-03-07 02:20] #1869 closed, assigned to nobody

[2012-03-07 02:30] aerwin commented on #1867
@JonFerraiolo  @aerwin, @childsb,@doronrosenberg  @waynevicknair

I can grab and take a look if no one's done anything on this one.

[2012-03-07 04:08] peller commented on #1865
works for me

[2012-03-07 15:34] aerwin commented on #1867
@JonFerraiolo @waynevicknair

`CommentView` contains the following `unload` handler to block navigation if the new comment form is showing:

[code]

What I'm seeing here is that the Comments tab is cleared (whether there's an unclosed comment or not) _only_ when the new editor is another review. So, in Jon's case there is no new editor and the comments view stays populated (meaning the unclosed ne

[2012-03-07 15:53] JonFerraiolo commented on #1867
@aerwin
I don't actually follow _everything_ in your write-up above, but I think I can respond nevertheless.

For better or worse, the current UI for adding a comment is basically modal because you go into an "edit comment" mode and only then can change the text content of a comment or add/modify/delete annotations associated with that comment. Unlike nearly everything else in Maqetta (page editor

[2012-03-07 15:56] aerwin commented on #1867
@JonFerraiolo @waynevicknair

Quick follow-up... removing the if statement fixes Jon's scenario when there are no other active editors because when the null editor is null is clears out the comments:

[code]

But, when another "non-revew" editor is present (e.g., HTML page editor),  it does not clear the comments view and the same problem exists. So, some additional code changes would be needed if

[2012-03-07 17:13] aerwin commented on #1867
Some high-level notes from a post-scrum discussion with myself, @JonFerraiolo, @peller, @waynevicknair:
- @peller concerned we have `beforeunload` handlers in both `Workbench` and `CommentView`. We agreed we should look into eventually combining them, but this isn't really important for the scenario at hand.
- We agreed we should clear out Comments tab whenever the user switches editors, _but_ we

[2012-03-07 17:30] aerwin commented on #1867
Also, making this high priority given discussions about potential data loss, etc.

[2012-03-07 17:35] childsb opened #1871 "Textbox Confusion"
1) new html
2) add a content pane
3) add a label inside the content pane
4) type in "text" in the widget search field to look for "TextBox"
5) notice that multiple text boxes show up, all identical
6) add each one to the content pane.  if you add happen to choose the dojox.mobile.textbox the entire page will change (background etc..)

this is probably more a usability issue, but from the filter vi

[2012-03-07 18:01] peller commented on #1867
The original scenario described seemed to have a lot to do with the beforeunload handler (we've since brought in other issues, like switching views and the state of the comments view, all important as well)  Regarding beforeunload, my concern isn't one of code style.  onbeforeunload will only work, I think, when it is assigned directly to window.  dojo.connect will not work as it does not handle r

[2012-03-07 18:05] peller commented on #1865
tried on lab9 + FF, still could not reproduce.  If you can make this happen, can you confirm that no exceptions appear on the console or in the debugger with catch on throw?

[2012-03-07 18:12] peller commented on #1555
note that undo is not hooked up to the source editor, so you're trying to undo the addition of the toolbarbutton widget (that is, you're deleting it again) which no longer exists.

[2012-03-07 18:23] aerwin commented on #1867
@peller That's interesting... you're right that the leaving page warning dialog does not come up in Firefox with the back button in Jon's scenario. I had been using Chrome which _does_ show the dialog. So, I'll have to look more closely at our unload handling to close all the holes here.

[2012-03-07 19:09] JonFerraiolo commented on #1871
@doronrosenberg

[2012-03-07 19:13] aerwin commented on #1867
@peller Turns out both `beforeunload` handlers (e.g., both the one in `Runtime` and the one in `CommentView`) get invoked even in Firefox. However, the reason no message appears in Firefox is that the handler in `CommentView` is missing the Mozilla/IE workaround that's present in 'Runtime'.

`Runtime` handler:

[code]

`CommentView` handler:

[code]

Adding the workaround to `CommentView` causes t

[2012-03-07 19:48] JonFerraiolo commented on #1865
@billreed63

I think what's going on isn't that the Button is going away, but that I was fooled because Accordion tabs are getting switched automatically, so the Button is still there, but invisible because the tabs have been switched.

I'm not sure exactly how many problems we have here, but here is one scenario that is problematic:
- Mac/FF or Mac/Chrome, running off of 50020 server
- New HTML F

[2012-03-07 19:51] #1627 closed, assigned to childsb

[2012-03-07 21:01] peller commented on #1867
The Mozilla documentation suggests that you should set the returnValue _and_ return the same string, though it isn't clear whether the return value is used.  Note that it's not a last one wins in the case of the return if you use dojo.connect.  It's not obvious from the docs that dojo.connect returns either of the values.

[2012-03-07 21:13] JonFerraiolo opened #1872 "Clean up editorID vs editor declaredClass"
What I remember from looking at the code when trying to determine which editor we are in:
- Sometimes we check editorID and sometimes the editor's declaredClass
- There seemed to be two different values used for editorID. I don't remember the details, but I think it was the review editor that had two different strings used in two different places. Maybe theme editor and page editor did this also.

[2012-03-07 21:28] childsb commented on #1872
A note on this--

The editors inherit a method supports("something").  You can use this method to determine if a specific function is supported by the active editor then hide/show/do something based on that.

I think supports(...) is cleaner than checking a specific declared class.  That way the views dont have to be aware of which editors actually support them, they can just do if(editor.supports

[2012-03-07 21:31] #1870 closed, assigned to JonFerraiolo

[2012-03-07 21:49] JonFerraiolo commented on #1872
yes, supports() is way better than hard-coding a class name or a particular ID string. It helps deal with the possibility that we might have object-oriented hierarchies of editor classes (which in fact we have, where we have inherited classes: Editor->ModelEditor->PageEditor->VisualPageEditor.

Maybe we should have a convention where we have an _supports array that base classes can add to in their

[2012-03-07 22:12] JonFerraiolo commented on #1499
Pushing to M6. The risk/reward ratio has some non-trivial risk in attempting such a change (somewhat complicated code that could introduce bugs into visual page editor's mouse processing), with only small reward to end user.

I looked at how this might be programmed. My first idea is to put additional snapping logic if shift key is not down at the bottom of onMouseMove in Focus.js, where the addit

[2012-03-07 22:28] jhpedemonte commented on #1573
Well, should selection even be part of ReparentCommand?  Doesn't seem like it to me.  Probably better to remove that and have the caller of ReparentCommand handle the selection afterwards.  Of course, that means we have to have a way of doing the selection only once the commands have finished.

[2012-03-07 22:29] JonFerraiolo commented on #1799
Pushing to M6 and reassigning to @jhpedemonte  Too difficult and too risky to attempt to fix for M5.

In playing with the code some, I think this will be a non-trivial amount of work that will involve at least a couple of helper methods, and probably some helper methods we haven't ever used before. I suspect we will need to use a getChildren() helper to show the children of the ListItem, and an ad

[2012-03-07 23:10] #1848 closed, assigned to billreed63

[2012-03-07 23:36] jhpedemonte commented on #1459
Had been assigned to me.  @JonFerraiolo, is this already fixed?

[2012-03-08 03:18] jhpedemonte commented on #1150
Talked to @JonFerraiolo about this.  He recommended concentrating on jQuery Mobile, since that code already has a declarative format and that would be much easier to integrate (given that we already support Dojo's declarative format).

The current jQuery widgets are a bit of a hack.  I had planned at some point to make a declarative parser for non-Dojo widgets (jQuery, YUI, etc), rather than what

[2012-03-08 03:20] jhpedemonte commented on #1747
@JonFerraiolo, is this still Priority High?  Did you not work through your issue using **onDocInit**?

I'm not pleased with the current callbacks that we have and would like to redo them.  But probably not for M5.

[2012-03-08 03:21] jhpedemonte commented on #1354
Moving to M6, Priority Medium.

[2012-03-08 03:22] jhpedemonte commented on #1150
Parser & declarative syntax for non-Dojo widgets is #1354.

[2012-03-08 03:46] jhpedemonte commented on #1344
Closing this.  Only remaining issue I see is #1577 (widgets mispositioned in ScrollableView).

[2012-03-08 03:46] #1344 closed, assigned to jhpedemonte

[2012-03-08 03:47] jhpedemonte commented on #1573
We can also create a SelectCommand, for just such an occasion -- where we have to run commands on several widgets and then select them all after the other commands have run.

[2012-03-08 04:36] jhpedemonte commented on #1102
Yes, as Adam states, I think this is an issues of CSS loading.  But I think we'll just have to live with the setTimeout for now.  Every other option is too cumbersome or not fully cross-browser.

[2012-03-08 04:56] JonFerraiolo commented on #1849
Fixed by 57f109684a

[2012-03-08 05:06] JonFerraiolo commented on #1747
Yeah, this isn't needed for M5 anymore. As far as I know, we are only using onDocInit now.

[2012-03-08 14:45] airazabal commented on #625
Has this issue been resolved? It would be nice to finish the tutorials...or at the very least can the file be downloaded from the wiki or some other place???

[2012-03-08 15:38] JonFerraiolo commented on #1573
Having a SelectCommand might allow us to restore the selection with undo/redo. I'm not sure about all of the implications, but it might result in better user experience for certain operations.

[2012-03-08 16:24] jhpedemonte commented on #1467
Have a look at `VisualEditor.refresh()`.  Saves an XPath for current selection [1], refreshes the source, then uses the XPath to reselect the widget.  The good thing about this is that it goes only through the model, not through the VE DOM (well, until it finally draws the focus rectangle around the widget).

We could use something similar here.  Maybe refactor `refresh()` to take a function as a

[2012-03-08 16:26] jhpedemonte opened #1873 "Update VisualEditor.refresh to handle multiple selections"
Need to update `VisualEditor.refresh()` to work with multiple widget selections, so it can be used with other code (i.e. see #1467).

[2012-03-08 17:23] JonFerraiolo commented on #625
Hasn't been resolved yet. I'll try to address this before we get the next release out (should be this month).

[2012-03-08 17:47] JonFerraiolo commented on #625
Some image files that are referenced in tutorials: masthead_blue_gradient2.png, wg_swoosh.jpg, powered_by_dojo.png, wg_hero_dojo.gif

[2012-03-08 18:05] jhpedemonte opened #1874 "Build should immediately fail when downloading Equinox bits fails"
Right now, lab9 builds are failing because the build scripts could not successfully pull down the Equinox bits.  However, the build does not immediately fail, but continues.  We should change this to immediately fail if this pull fails.

Log:

[code]

@waynevicknair

[2012-03-08 18:10] aerwin opened #1875 "Improved Smart Input for Sliders"
@JonFerraiolo

The current approach to editing sliders using +/- buttons (which was modeled after the background gradient UI) could be improved with more of a drag-and-drop approach.

Current UI:

![Current Slider UI](http://i.imgur.com/LvSJv.jpg)

Details for how the drag-and-drop UI would behave would need to be worked out as part of this work item

[2012-03-08 18:11] jhpedemonte commented on #1522
I don't think we want to recreate the iframe on every source change.  That's bad technique.

Rather, we should do some quick calculations when the source gets updated:
- Was the source **change contained within a single widget**?  Then only update that widget in the model (& VE).
- Did the source **change affect a subset of widgets**?  Then only update those widgets.
- Did the source **change affe

[2012-03-08 18:39] airazabal commented on #625
Thanks

[2012-03-08 18:57] JonFerraiolo commented on #1522
@jhpedemonte: Hallelujah to your comments. I expect that optimizing the update logic when changing things in the source editor will be one of the most important performance enhancements we will make in the coming months.

Note that if we try to update only a subset of the document (e.g., a particular widget), we might run into various rare and surprising bugs because in web pages things are someti

[2012-03-08 19:04] JonFerraiolo opened #1876 "(UI) Shouldn't enable 'fixed' unless widget is in ScrollableView"
I find myself falling into the trap of trying to set 'fixed' to top or bottom when using View or SwapView, but that property only works when inside of ScrollableView. We should disable the 'fixed' property if the given widget is not a child of ScrollableView. (I realize this will mean yet more metadata and probably yet another helper)

[2012-03-08 19:14] JonFerraiolo commented on #1849
Forgot to close

[2012-03-08 19:14] #1849 closed, assigned to JonFerraiolo

[2012-03-08 19:16] JonFerraiolo commented on #1847
Closing. Somehow GitHub didn't recognize that it should auto-close based on comment just above.

[2012-03-08 19:24] JonFerraiolo commented on #1551
Pushing to M6

[2012-03-08 19:24] JonFerraiolo commented on #1549
Pushing to M6

[2012-03-08 19:24] JonFerraiolo commented on #1545
Pushing to M6

[2012-03-08 19:25] JonFerraiolo commented on #1543
Pushing to M6

[2012-03-08 19:26] JonFerraiolo commented on #1542
@billreed63 fixed this a week or two ago.

[2012-03-08 19:26] #1542 closed, assigned to JonFerraiolo

[2012-03-08 20:15] peller commented on #1522
Either way, we have tons of optimization to do when the iframe is reloaded, like the tokenizer.  Seems like we ought to start there.

[2012-03-08 20:40] doronrosenberg opened #1877 "Press delete key in outline view, removes the entire outline widget"
Press delete key in outline view, removes the entire outline widget

[2012-03-08 20:56] airazabal opened #1878 "Eclipse errors occur during the initial build"
I followed the instructions in the tutorials, imported the project, so far so good. Eclipse started compiling my project and I came up with the following errors:
Perhaps I am missing some required dependencies? J2EE?

!SESSION 2012-03-08 15:39:59.990 -----------------------------------------------
eclipse.buildId=I20110613-1736
java.version=1.6.0_29
java.vendor=Apple Inc.
BootLoader constants: OS=

[2012-03-08 21:13] doronrosenberg commented on #1877
To add some more data:

On windows, firefox/chrome, pressing delete after focusing a tab will delete the tab widget.
On windows, firefox/chrome, pressing delete inside the outline widget deletes the tab widget.

On mac, I always get the "leave page"  dialog.

[2012-03-08 21:19] peller commented on #1878
It might have something to do with which Eclipse distro you use.  I don't believe we use j2ee or wst at all on the maqetta dev team.

[2012-03-08 21:24] airazabal commented on #1878
I am using the following:
Eclipse for RCP and RAP Developers

Version: Indigo Release
Build id: 20110615-0604

Is there another you recommend?

[2012-03-08 21:29] aerwin opened #1879 "Error while autosaving file:TypeError: Cannot call method 'getText' of undefined"
@JonFerraiolo @waynevicknair

It seems that when Maqetta does an autosave on a ReviewEditor, this exception shows up in the JavaScript console:

[code]

I did a little investigation to make sure my #1867 work didn't cause it, and it looks like `this.model` is undefined in the save function of `ModelEditor` (one of `ReviewEditor`'s ancestors).

[code]

I don't think this really has any negative sid

[2012-03-08 21:41] peller commented on #1877
dijit.StackController does seem to support deleting panes/tabs with the DELETE key.  We ought to disable that.  Ideally, we'd also make the Mac behave such that the key stroke went to the widget you clicked on (with focus) rather than to the browser chrome (which attempts to navigate away from the page).  @doronrosenberg, wondering if you might have any idea why the browser would treat focus/keyst

[2012-03-08 22:08] aerwin commented on #1867
@JonFerraiolo @peller @waynevicknair

Hey, guys... As mentioned in the scrum this morning, I took a different approach than we discussed yesterday. But, in the end, I think it's better and cleaner.

To try and maximize test cycles, I've gone ahead and merged my changes with master. Please let me know if you have any comments on the code in the commit. Also, @JonFerraiolo since you opened issue to

[2012-03-08 22:14] JonFerraiolo opened #1880 "(Mac/FF) Themeset + icon doesn't snow 3rd theme set"
Works OK in Mac/Chrome, but in Mac/FF:
- Theme sets....
- With custom_default selected, click on + to create custom_default_1
- With custom_default selected, click on + to create custom_default_2

Result=> You don't see custom_default_2. But if you click OK and bring up ThemeSets dialog again, there it is. I think the MultiSelect widget isn't updating on Mac/FF. (Haven't tested Win/FF)

[2012-03-08 22:19] JonFerraiolo opened #1881 "Themeset dialog slow in updating right-side content"
I'm using Mac/FF.

If I switch theme sets on left side of theme set dialog, it takes over a second for the right side content to update. How come? Are there server requests happening in the background? If something slow is happening, maybe we should post some sort of hourglass.

[2012-03-08 22:31] childsb commented on #1864
Fixed with checking 3d008c2e306847cfa116b7c46d2308cb3086b0e  (wrong issue # in commit)

[2012-03-08 22:31] #1864 closed, assigned to childsb

[2012-03-08 22:33] waynevicknair commented on #1567
i cannot reproduce this one on the latest code. i suspect @JonFerraiolo had something to do with that.

[2012-03-08 22:33] #1567 closed, assigned to waynevicknair

[2012-03-08 22:38] waynevicknair commented on #1534
i cannot recreate this one on the latest code.

[2012-03-08 22:43] childsb commented on #1874
The builds are failing because they aren't failing?.......

Seems like it's already working! Or at least working enough not to bother with...

[2012-03-08 22:45] childsb commented on #1843
using /maqetta as cookie path now.

[2012-03-08 22:45] aerwin opened #1882 "Review e-mail link doesn't take me to reviews"
The link in the e-mail I got when I created a review invitation doesn't take me to anything to do with reviews (even when I click on it a 2nd time as the e-mail instructions indicate). It just redirects to http://lab9.austin.ibm.com:50020/maqetta/ and doesn't even active the Review tab (let alone take me to the actual review).

[code]

[2012-03-08 22:45] waynevicknair commented on #1555
i assume you're dropping a TabBarButton on a TabBar because you get an invalid drop target message if you try to drop a ToolBarButton onto a mobile Heading. either way, i was able to reproduce this. however, @peller is correct about the "undo" wiring. this may be a UI bug because the "undo" is not disabled in the case where it is not connected.

[2012-03-08 22:47] JonFerraiolo opened #1883 "(Firefox) Exception when opening theme editors"
@billreed63

@childsb - could you please look into this one?

When running Firefox builds, I'm getting an exception in `getType()` in the line that is doing a substring. To recreate, clone claro to claro2 or custom to custom2 and look in Firebug console.

Here is the stack trace from the built version:

[code]

The debugger shows the following code, where the last line below is the line which is g

[2012-03-08 22:48] childsb commented on #1601
Fixed by bill reed early in the sprint.

[2012-03-08 22:49] waynevicknair commented on #1514
this is working correctly with latest code.

[2012-03-08 22:54] jhpedemonte commented on #1850
Why exactly do we need refresh icons?  What problem does this solve?

[2012-03-08 22:54] waynevicknair commented on #1135
i think we're ok on this one.

[2012-03-08 22:54] #1135 closed, assigned to waynevicknair

[2012-03-08 22:54] childsb commented on #1541
This is working.

[2012-03-08 22:54] #1541 closed, assigned to childsb

[2012-03-08 22:55] aerwin commented on #1534
@waynevicknair This still happens with local install on Windows. I just tried the following driver from Chrome:

Version: Preview 5
Date: Mar 8, 2012 3:21:31 PM
Build: 539c988df3b6566...

[2012-03-08 22:55] waynevicknair commented on #901
i cannot recreate this one on the latest code.

[2012-03-08 22:55] #901 closed, assigned to waynevicknair

[2012-03-08 22:58] JonFerraiolo commented on #1879
@childsb - can you look at this one, too? My first guess is that the review editor shouldn't be doing auto-saves given it's current "submit" approach, so one possible fix would be to find a way to disable auto-save for the review editor.

[2012-03-08 22:59] aerwin commented on #1514
@waynevicknair Still breaks exactly like I saw originally. Just tried on Chrome with local install on windows with the following driver:

Version: Preview 5
Date: Mar 8, 2012 3:21:31 PM
Build: 539c988df3b6566...

[2012-03-08 23:00] jhpedemonte commented on #1857
Should be easy enough with a set of CSS classes which can be added/removed to Properites view.  Then create CSS rules for hiding/showing, based on presence of ancestor CSS classes.

[2012-03-08 23:00] waynevicknair commented on #1615
the drag and drop support added to outline view in preview 4 should handle cut/copy/paste/delete directly from the outline. if that does not fit your requirements, please re-open this issue. thanks.

[2012-03-08 23:00] #1615 closed, assigned to waynevicknair

[2012-03-08 23:01] JonFerraiolo commented on #1850
I guess that refresh icon doesn't make much sense for page editor and theme editor except if the same user has two separate browser windows open on his workspace, so nevermind that request.

For review editors, however, other users might be adding review comments. The refresh button is a poor-man's approach to seeing updated comments and annotations from other users until we can implement server-p

[2012-03-08 23:03] aerwin commented on #1736
Yes, confirm this looks fixed in latest driver.

[2012-03-08 23:03] waynevicknair commented on #1514
ok @aerwin i guess i need your exact source code. i see a reference to "above source code" but i don't see any source code related to this issue. clarification please.

[2012-03-08 23:06] aerwin commented on #1491
Confirm this is fixed in latest.

[2012-03-08 23:07] aerwin commented on #1536
Confirm this is fixed in latest.

[2012-03-08 23:15] aerwin commented on #1514
Sorry for any confusion.... I know it's kind of a weird scenario.... Let's try this:
1. New HTML file (say file1.html)
2. Add control (say a button)
3. Show split view and copy all source
4. Create another HTML file (say file2.html)
5. Show split view
6. Select all source for file2.html
7. Hit DELETE to delete all source for file2.html
8. Paste source from file1.html into source editor for file2.h

[2012-03-08 23:16] aerwin commented on #1535
Confirm fixed in latest build.

[2012-03-08 23:20] JonFerraiolo commented on #1882
@waynevicknair  - I'll bet there are a handful of adjustments in R/C like this one we haven't logged as bugs yet. I hope to take a pass through the whole R/C UI soon and log issues for things I find.

[2012-03-09 00:21] JonFerraiolo opened #1884 "Clicking on overlay widget in Scenes palette should select widget"
Maybe this worked before I rewrote the States palette (and renamed Scenes), but not working now.

You should be able to click on an overlay widget in Scenes palette and cause it to be selected just like clicking on it in Outline palette.

But not until after M5!

[2012-03-09 00:22] peller commented on #1601
the second FIXME comment is still awaiting a response

[2012-03-09 00:30] JonFerraiolo commented on #1609
Pushing to M6

[2012-03-09 00:30] peller commented on #1843
not for everything.  code running in preview (plain dijits) shouldn't pollute /maqetta's cookie space, for example, so I was thinking it might be nice to have preview as a peer of maqetta.  Perhaps cookies passed to cmd have unique cookies as well (session stuff?)

[2012-03-09 00:35] JonFerraiolo commented on #1665
Combination of @billreed63 and @childsb fixed this. Closing.

[2012-03-09 00:35] #1665 closed, assigned to JonFerraiolo

[2012-03-09 00:35] JonFerraiolo commented on #1675
Pushing to M6.

[2012-03-09 00:36] JonFerraiolo commented on #1740
@billreed63 and @childsb made fixes so this is working now. Closing.

[2012-03-09 00:36] #1740 closed, assigned to JonFerraiolo

[2012-03-09 00:46] aerwin opened #1885 "Major issues with Review and Commenting"
With Chrome and lab9:50010, I'm seeing many issues with review and commenting. I almost think multi-user review and commenting is fairly well broken, so I'm going to list a few issues in this report. If we need separate issues as we investigate, I can open those.
1. User B's comments are not saved. (At first I thought maybe just User A couldn't see UserB's comments, but if I add some comments as U

[2012-03-09 00:46] JonFerraiolo commented on #1525
Closing. Works for me in both Mac/FF and Mac/Chrome.

[2012-03-09 00:46] #1525 closed, assigned to JonFerraiolo

[2012-03-09 00:49] JonFerraiolo opened #1886 "Investigate ChooseParent on Firefox"
I tried to follow the ChooseParent testing instructions on Firefox and the ChooseParent UI quit showing up when dragging new widgets onto page with the ChooseParent preference on. Need to try to reproduce.

[2012-03-09 00:50] JonFerraiolo commented on #1531
Working now. Closing.

[2012-03-09 00:50] #1531 closed, assigned to JonFerraiolo

[2012-03-09 00:51] JonFerraiolo commented on #1525
Working now. Closing.

[2012-03-09 00:53] JonFerraiolo commented on #1518
Working correctly for me now. The swatch is never updated with "yellow". Closing.

[2012-03-09 00:53] #1518 closed, assigned to JonFerraiolo

[2012-03-09 01:09] JonFerraiolo commented on #1517
Seems to be fixed now. Closing.

[2012-03-09 01:09] #1517 closed, assigned to JonFerraiolo

[2012-03-09 01:20] JonFerraiolo opened #1887 "Cascade.js and ViewLite.js exceptions"
@childsb - I'm hitting a couple of exceptions in Cascade.js. Can you please investigate/fix?

First exception I ran into is in this code (starting ~485), almost surely because variable `i` is used as the index for both the inner and outer loops:

[code]

Second exception is in ViewLite.js:37 where widget is undefined with an attempted reference to widget.subwidget. I get this when the Background p

[2012-03-09 01:21] JonFerraiolo commented on #1852
Fixed by above commit.

[2012-03-09 01:21] #1852 closed, assigned to JonFerraiolo