[2011-09-19 14:28] billreed63 opened #1020 "TextArea and SimpleTestArea should take multiline SmartInput"

[2011-09-19 15:06] childsb commented on #1016
download is sync (it was async, but async is bad design in this case. you dont want the server to do pre-processing-- the zip should be done on-the-fly when the client makes a request and writes the zip directly to the IO stream.)  it's like making a request for an image file.

most likely there is a problem in the URL encoding (looks like spaces in your path maybe aren't processed correctly) and

[2011-09-19 16:51] JonFerraiolo commented on #1016
Could we send an async request to server asking to create the ZIP and then post some UI (dialog or toaster) that tells user the download request has been sent and, when completed, the browser will present a download dialog?

[2011-09-19 18:35] childsb commented on #1016
Theres no need to pre-build the zip as the zip is being sent to the user while it's being assembled.  This absolutely should NOT cause a non responsive script dialog. There's something else going on here.

[2011-09-19 19:34] billreed63 opened #1021 "unable to moveok cancel buttons in popup"
I was mocking up datagrid and got to a point where I could not move the ok button in a pop div
Using the html below:
In page designer change state to label_popup
Try to select and move the ok button in the pop up div I usally got a copy of the button
I found this on maqetta.org preview 3

[code]

[2011-09-19 20:15] JonFerraiolo commented on #1021
I assigned this to myself for M4 because it relates to MoveCommand and states (see #909), although this one is likely about ReparentCommand, but Reparent and MoveCommand tend to have the same problems. Maybe @peller might end up with this one ultimately.

[2011-09-20 03:17] peller commented on #1011
89da5b95cb092d7aae3ac22eec2d58c88abf2427 backported changes from http://bugs.dojotoolkit.org/ticket/13916

[2011-09-20 13:46] peller commented on #894
also on silhouette or perhaps even theme changes

[2011-09-20 15:00] billreed63 opened #1023 "Commented out requires still loaded by context.js"
I tried to comment out a requires but it is still being loaded by ve.Context.js

[code]

Context.js about line 1750 Context._parse

[code]

[2011-09-20 16:13] peller commented on #1023
yeah, I think the Dojo builder (pre 1.7) had similar issues, so maybe it's not worth addressing?

[2011-09-20 16:39] billreed63 opened #1024 "Create Mobile Theme Editor"
To create a theme editor for mobile widget
- We can copy the dojox/mobile/theme/custom to the dojo_1_7/themes folder. Should we rename custom to mobile?
  - Create a dojo-theme_editor.html containing mobile widgets.
  - Create a mobile.theme
  - Create a mobile.json file containing mobile theme meta data.
  - Change the way we handle mobile themes. this effects issue #1011

@peller @JonFerraiolo @

[2011-09-20 16:41] billreed63 commented on #1011
Issue #1024 create theme editor for mobile widget to allow uses to customize mobile theme.

[2011-09-20 17:58] billreed63 commented on #1024
I may have come up with a better idea so we can leave the dojox.mobile.deviceTheme.

If we copy the custom theme and add a theme class name to all the selectors, this will override device specific styles.

example:

selector from custom.css

[code]

new selector

[code]

[2011-09-20 19:52] billreed63 commented on #1024
I have come up with 3 options for mobile themes customization.

<ol>
   <li>leveraging dojox.mobile.deviceTheme
   <ul>
      <li>My understanding of deviceTheme is that we would need to add the theme=Custom parm to the url.</li>
       <li>The user could only have one custom theme</li>
       <li>We would need to copy the dojo toolkit to the users workspace</li>
    </ul>
    </li>
    <li>Removi

[2011-09-20 21:40] JonFerraiolo commented on #1024
I expect that the dojox.mobile guys would agree that it's OK to:
- have the CSS files for custom themes stored outside of the dojox.mobile area
- allow the user to have multiple different "custom themes"

so I don't like #1 as it stands above because (to point to one particular flaw) we need to allow for multiple custom themes.

I'm not sure I fully understand #2, but I'll say that I think we need

[2011-09-21 13:48] billreed63 commented on #1024
I agree with most of option 4, leaving the require for deviceTheme. requires that we add a theme class selector to the mobile theme css files. dojox.mobile.deviceTheme dynamically adds the device css files at runtime. They end up winning the cascade and therefore any style changes that are made in our theme are overridden (remember bug #1011). This is why I suggested adding a theme class selector

[2011-09-21 14:01] peller commented on #1024
you can override the theme selection for deviceTheme now by simply defining config.mblUserAgent (#1011)  If we maintain that for custom themes, I don't think we would have to worry about a race condition anymore?

[2011-09-21 14:05] peller commented on #1024
I think the scheme proposed in #1011 would work fine for custom themes, no extra selectors necessary, if:
1. "custom" is passed to the deviceTheme API -- see setMobileDevice/setMobileTheme in the patch
2. dojox.mobile.loadCssFile is used to load the theme -- the css will get automatically unloaded if the theme switches
3. config.mblUserAgent is set in the document so that the custom theme is uncon

[2011-09-21 14:36] billreed63 commented on #1024
I like the config.mblUserAgent='custom' idea. When can we move the fix for #1011 to the master?

[2011-09-21 14:51] peller commented on #1018
This can be reduced to a dojo test case, so I [filed a bug](http://bugs.dojotoolkit.org/ticket/13964) against Dojo.

[2011-09-21 17:46] billreed63 opened #1025 "Internal error copy/paste data grid"
- New HTML
- Add DataGrid, choose option to pull data from workspace, choosing the HTMLSample.json from the sample_data folder
- Click OK
- Copy the DataGrid
- Paste

Result => Internal error

[2011-09-21 18:20] JonFerraiolo opened #1026 "Reviewer change emails should include link to review session"
@EldonReturn, @jmockler, @jhpedemonte

Javier noticed that when he received an email notifying him about review comments I had made, the email did not include a hyperlink to the relevant review session. We agreed that it would be a big time-saver for the author to be able to click on a link to open up the review session.

However, I wouldn't make this change right away. @waynevicknair might be eva

[2011-09-21 18:33] waynevicknair opened #1027 "Files in 2-level deep nested folder do not show up without page refresh"
- Create a folder using default name "folder1"
- Select "folder1" and create a child folder named "folder1_child1"
- Select "folder1_child1"
- Click "New" menu and select "HTML..."
- Drop a couple widgets in the file and click save.

Result: the files view shows the folder but not the new file. Refresh page and files view is accurate again.

[2011-09-21 19:03] billreed63 commented on #1024
Adam, Bill and I went over Adam's proposals for how to manage mobile theme switching and we liked what we heard. These fixes address both #1011. Here is my attempt at a summary:
- Normally with dojox.mobile, deviceTheme.js sniffs out the device and auto-loads the correct CSS
- If dojox.mobile sees "custom", it doesn't load any CSS files (did I get that right?)
- Adam worked with Kamiyama-san to ad

[2011-09-21 19:16] billreed63 commented on #1024
I have done some testing with the proposed fix for #1011, and have found some issues that we still need to address. Granted they may just be my lack of understanding...

dojox.mobile.deviceTheme loads iphone.css if it can not find a theme name match in the dojox.mobile.themeMap. So in the case of 'custom' (which does not match the default 'Custom') iphone.css is loaded. We can change this behavior

[2011-09-21 19:38] billreed63 commented on #1011
I think we should add some code that removes the old css files, we do not need it for context but if anyone else uses it... I found it by doing this bit of code

[code]

[2011-09-21 19:59] peller commented on #1024
right now, Maqetta is responsible for removing the old css (see `//remove old css files`)

[2011-09-21 20:01] peller commented on #1024
Right now, an attribute stored on the BODY tag is used to serialize this state and set the config.mblUserAgent override when loaded in design mode. Basically, the logic for actually loading the CSS is all left to dojox.mobile.deviceTheme.

Correct.  Maqetta will have to set config.mblUserAgent=custom in the source AND make sure the appropriate LINK is in the document for the CSS.  On theme switch,

[2011-09-21 21:08] billreed63 commented on #1024
if we define dojox.mobile.themeMap before dojox.mobile.deviceTheme is included we do not need to include the link in the document.

[code]

or better yet, this would make setting the device irrelevant

[code]

adding our theme to the existing themeMap is more difficult. dojox.mobile.themeMap is not defined until deviceTheme executes which adds the theme files to the document. We would then need to

[2011-09-21 22:18] #913 closed, assigned to peller

[2011-09-21 22:19] peller commented on #913
There's one other instance being used in davinci.review in PublishWizard for the target files.  It seems like it doesn't need anything in ToggleTree and can inherit from dijit.Tree directly, but for some reason when I did that, the tree failed to render.  @eldonreturn, any idea why?

[2011-09-22 00:34] JonFerraiolo opened #1028 "Theme import"
@childsb

When evaluating early releases of Maqetta, multiple users have said they have existing themes built from Claro and they would like to import those into Maqetta's theme editor.

Probably before we take a run at this feature request, we would have to resolve issues #23, #144 and #392 -- in other words, finalize and formally document what file formats we use to define a theme. Also, I expec

[2011-09-22 00:50] JonFerraiolo opened #1029 "Carefully verify theme editor tutorial (vienna.*) and whether we claim users can create new themes"
@billreed63

User feedback: "The instructions for the vienna.theme did not work". Need to check whether our docs tell users how to create a new theme manually. If so, maybe we should update docs to include a warning to people that this feature isn't ready yet.

Partially related to #1028

[2011-09-22 01:05] JonFerraiolo opened #1030 "Custom widgets, SaveAs widget, widget import/export"
I couldn't find an existing bug for creating/sharing/importing custom widgets. What we are looking for is the ability to save the existing HTML file as a "widget" so that it can be added to the widget palette and used within other compositions, along with ability to share that widget with others and import widgets created by others.

One of the challenging parts of this issue is figuring out how t

[2011-09-22 03:19] JonFerraiolo opened #1031 "Add 'tranparent' to background-color dropdown"

[2011-09-22 03:39] jhpedemonte commented on #1024
If a user selects a custom mobile theme, then we don't need to have **deviceTheme.js** in the file anymore.  Let's just add logic that removes that resource if the user selects a custom theme.

[2011-09-22 03:39] JonFerraiolo opened #1032 "Some ability to recover when hung"
@peller, @billreed63

This one probably will take some discussion.

There are various situations where Maqetta just sits there spinning on a particular file and a user can only get out of the problem by appealing to a sysadmin (ie. us) to hand-edit their .workbenchSettings file so that the offending file is removed from the list of open files. Of course, most of these hangs reflects an underlying

[2011-09-22 03:47] JonFerraiolo opened #1033 "Properties palette somehow should show computed values"
Many users have requested that the Properties palette show the computed property values. Right now most property show an empty value because right now the Properties palette only show specified (i.e., non-default) values.

[2011-09-22 03:49] jhpedemonte commented on #1032
Yes to both options.  Maybe add a third as well:
- Define a URL paramour that tells the server to clear the workspace.

[2011-09-22 13:01] billreed63 commented on #1032
We need a checkbox on the log in screen that enables this parameter. "Force close of open editors"

[2011-09-22 13:17] billreed63 commented on #1024
It's not that simple:

<ul>
<li>
Theme change would need to remove the deviceTheme and add the link, or reverse this if going back.
</li>
<li>
Every mobile widget that is dropped would need to check the current theme in use and add deviceTheme if no custom mobile theme is in use. If the custom mobile theme is in use do not add deviceTheme.
</li>
<li>
The user could only have one custom mobile them

[2011-09-22 13:31] billreed63 opened #1034 "Selecting to many files for upload make dialog to large for screen"
I was attempting to upload 79 files (a lot of css files for a theme) The dialog box does not have scroll bars so the upload button is off screen.

[2011-09-22 13:32] billreed63 opened #1035 "Add the ability to upload folder and content"
It would be nice if I could select and folder and all the contents of the folder would be uploaded

[2011-09-22 14:26] JonFerraiolo commented on #97
Pretty much functional today, but without any docs telling users about what techniques to use, and contains various usability issues.

[2011-09-22 14:34] peller commented on #1035
I wasn't aware of such a feature... apparently Chrome has the capability: http://stackoverflow.com/questions/5826286/how-do-i-use-google-chrome-11s-upload-folder-feature-in-my-own-code

[2011-09-22 14:47] peller commented on #1032
First rule: if there's an error, surface it: #883.  Right now, if an exception throws, it blows right through the stack and leaves the loading UI up. We should put up an "aw, snap" sort of thing.  The end result isn't much different, but it will go a long way toward troubleshooting and perhaps make things a bit less frustrating for the user.

[2011-09-22 14:53] jhpedemonte commented on #1032
Yes, agreed with Adam.  We need better error handling all around.

[2011-09-22 14:56] billreed63 commented on #1023
Actually I found another case where this code hangs the load of the file

[code]

The code attempts to load Android as a requires and throws an exception

[2011-09-22 15:01] billreed63 commented on #1024
#1023 needs to be fixed so we can use dojox.mobile.themeMap

[2011-09-22 15:03] billreed63 commented on #1024
I do not think we need to copy the complete theme folder from mobile, I think the themes are compiled into one css file. @peller who would I ask about this?

[2011-09-22 16:53] peller commented on #1024
anything with @imports should get inlined, so, at least _when we have a build_ only the top css file should be needed.  In the meantime, I think we'll need the whole thing.

[2011-09-22 17:19] JonFerraiolo opened #1036 "Capitalization is not consistent for toolbar tooltips"
"cut" vs "Save", etc.

[2011-09-22 17:32] JonFerraiolo opened #1037 "Would be nice to order the ContentPanes in the outline in the order in which they appear in the design"
I think this amounts to creating the ContentPanes in a particular order to produce an ordering that makes sense to users. But then the question is what order makes sense to users. One could argue that users would want order to go left-to-right, then top-to-bottom, in which case a reasonable ordering might be top, left, center, right, bottom. But another argument is that "center" tends to have the

[2011-09-22 17:35] peller commented on #1037
I think there's some benefit to keeping things simple and matching the order of the markup.  There's already feedback where the user can select individual widgets to see where they are visually.

[2011-09-22 17:37] JonFerraiolo opened #1038 "Outline palette should show region attribute for ContentPane children of BorderContainer"
@billreed63, @peller, @jhpedemonte

Right now looking at the Outline palette users don't have a clue about which ContentPane is which region. Perhaps we can add [region=top] or whatever as part of the "meaningful name", as in:

ContentPane [region=top]

which would appear in both Outline palette and Properties palette.

Would want to generalize this somehow so similar things can happen for other w

[2011-09-22 17:39] peller commented on #1038
I like this as an alternative to #1037

[2011-09-22 17:53] JonFerraiolo opened #1039 "Current flow-vs-absolute status shows on toolbar"
@jmockler, @billreed63

Somehow or other, the toolbar should tell people at a glance whether they are in absolute or flow positioning mode. Here are a couple of UI options:
- Alternating toolbar icons. (I got alternating icons working for device rotation, but the implementation is sort of kludgy)
- Change into a dropdownselect or dropdownbutton where button reflects current status

[2011-09-22 17:55] JonFerraiolo commented on #322
Probably need a Close All feature, too.

[2011-09-22 17:57] JonFerraiolo opened #1040 "Sometimes files appear as dirty even when not changed"
@peller, @jhpedemonte, @billreed63, @childsb

We still have some situations where files are flagged as dirty even though no changes have been made to the file.

(Need to beef up this bug report with reproducible scenarios)

[2011-09-22 18:02] JonFerraiolo opened #1041 "Ability to reorder editing tabs"
Would be nice if a user could reorder their editing tabs by dragging/dropping the tabs.

Does Dojo's TabContainer allow tab reordering via drag/drop?

[2011-09-22 19:11] JonFerraiolo commented on #1037
Yes, we shouldn't show a different order in Maqetta than what's in the markup. What I'm saying is that when we first create the markup, let's create the new ContentPanes in as intuitive an order as possible.

[2011-09-22 19:59] JonFerraiolo opened #1042 "View icons should toggle on/off?"
@jmockler

A user says: 3. The “Split Vertically/Horizontally” button does not toggle on and off as one would expect it to.

I find myself also wishing that the view icons would toggle on/off or that there was a close button (and "X") on the source pane.

[2011-09-22 20:02] JonFerraiolo opened #1043 "Dropdown menu for A[target]: _blank, _self, etc"

[2011-09-22 20:04] JonFerraiolo opened #1044 "Dropdown menu for A[href] and events should show other HTML pages"
One user writes: "Buttons should be allowed, onclick, to direct to a different page as one of their editable attributes."

[2011-09-22 20:12] JonFerraiolo opened #1045 "Some folders shouldn't allow new HTML files inside"
A user says: "Since users cannot create a new page in any default folder other than “.” (e.g., “lib” or themes”), those folders should not be selectable when creating a page. Otherwise no error message given, and the new page is simply not created – which can lead to some confusion."

Note that with Preview 3 we fixed bugs with putting HTML files in nested folders. Nevertheless, we should find a w

[2011-09-22 20:21] JonFerraiolo opened #1046 "Smart alphabetical order in Files palette?"
@jmockler

Users expect explorers/finders to sort file names like their desktop computers do, where files that begin with "a" and "A" are joined together, whereas Maqetta sorts file names by strict alphabet rules, where all files that begin with A-Z appear before files that begin with a-z.

[2011-09-22 20:24] JonFerraiolo opened #1047 "border-left-color is missing"
Forgot about border-left-color

[2011-09-22 21:22] JonFerraiolo opened #1048 "Should Maqetta-created ZIP files work via file:"
Users are trying to create a ZIP and then run on their local system via File Open (which results in file: protocol). Docs with Dojo widgets won't work with the way Maqetta sets up Dojo - only works if the ZIP is unzip'd into a web server and launched via http://localhost/*.

Is there any way we can get Maqetta-created ZIPs to work with file: protocol? I realize this is low priority in short-term,

[2011-09-22 21:24] JonFerraiolo opened #1049 "Explain to users that ZIP downloads only work on web servers"
@childsb, @peller,

Until we resolve #1048, our docs and/or the download dialogs in the application need to tell users that the ZIP will only work when installed on a web server.

[2011-09-22 21:41] #1046 closed, assigned to peller

[2011-09-22 21:45] JonFerraiolo commented on #173
Set milestone to M4, but we all understand that this might not be finished in time for that milestone.

[2011-09-22 21:51] JonFerraiolo opened #1050 "Color picker usability improvements"
@peller

There are various sub-optimal aspects of the current color picker. This is a catch-all bug to remind us that the color picker is less than optimal. Some notes:
- Search for other issues that contain the word "color"
- There has been a request for a 2-tab layout where one tab shows a palette of common colors (and maybe colors already used in the document) and the second tab holds the curre

[2011-09-23 02:48] jhpedemonte commented on #1038
Perhaps a `Helper.getDescriptor()` function that could be defined per widget?

[2011-09-23 02:49] jhpedemonte commented on #1039
Alternating toolbar icon

[2011-09-23 02:53] jhpedemonte commented on #1045
Well, we should have the concept of **read-only** folders (if we don't already, then we should do that).  Then, in the file dialog, when displaying the files of the project, grey out (disable) any read-only folders.

[2011-09-23 13:33] peller commented on #200
@billreed63

`dijit.Calendar` always displays just a calendar.  `dijit.form.TextBox` has a dropdown arrow which can be styled by the theme: http://bugs.dojotoolkit.org/ticket/5151

[2011-09-23 14:14] billreed63 commented on #1011
Turns out the code in dojox.mobile._compat that adds the -compat.css files for non webkit browsers only gets run once at _compat load time..

dojox.mobile._compat

[code]

So when we call

[code]

The correct themes get added but the corisponding -compat.css is missing.

I added the following code to dojox.mobile.deviceTheme which seems to fix the issue The code below also contains code for removi

[2011-09-23 14:30] JonFerraiolo commented on #200
I guess the primary need is for us to promote DateTextBox from untested to actually working so that designers have at least one way to create a UI that brings up calendars as popups. But is there also a way to launch a Calendar popup via an icon instead of a TextBox?

[2011-09-23 14:40] peller commented on #200
you'd have to have a button or img onclick to set the visibility on a Calendar, or something like that

[2011-09-23 14:41] JonFerraiolo opened #1051 "Replace SMIL Animation with CSS3 animations?"
Now that Acid3 has removed SMIL Animation in SVG, that feature might be headed towards deprecration in browsers, and probably will never be implemented by IE. So, we need to look at the very limited use we have for SMIL Animation (in rotating the device silhouettes) and see if this can be accomplished via CSS3 animations.

[2011-09-23 14:59] JonFerraiolo commented on #200
Any way to hook into Dojo facilities to locate the popup next to the image?

[2011-09-23 15:03] billreed63 commented on #1011
Open a ticket at dojo http://bugs.dojotoolkit.org/ticket/13986

[2011-09-23 16:04] peller commented on #200
there's always dijit.popup... but I thought either the Claro or the OneUI guys were going to make this part of their DateTextBox theming?  Obviously, to customize the theme for us would be a bit difficult right now, since it involves images -- not sure we support that yet.

[2011-09-23 16:15] peller commented on #1023
so this is fun... our _parse routine to seek out the dojo.require's looks for dojo.require, then searches for a double-quoted string at that offset before looking for a single-quoted string... so it sees "dojo.require(" for dojox.mobile, but comes back with "Android"  Sort of related to the commenting out thing, but separate in that this particular glitch is NOT an issue in the Dojo build algorith

[2011-09-23 16:29] JonFerraiolo commented on #200
Ignoring today's reality and thinking from an idealistic perspective, maybe dijit.Calendar should be treated as an overlay widget, like TooltipDialog? I realize that for such an approach to work in practice, we probably need some minor mods to dijit.Calendar, such as a new property holding the IDs of the widgets that might cause the Calendar to pop up, and then a more general integration with diji

[2011-09-23 16:35] peller commented on #200
Calendar isn't a popup.  It's just a calendar.  Perhaps you're suggesting that there should be a widget to pop up and contain a widget?  TooltipDialog sort of does this, but it has bubble UI.  There's code in DateTextBox that does the popup, but I don't think it's 'widgetized'

[2011-09-23 17:28] #1023 closed, assigned to peller

[2011-09-23 22:12] JonFerraiolo opened #1052 "dojox.mobile 'url' and ContentPane 'URL' properties don't deal with dojo.require()"
@jhpedemonte

Not sure what we can do here...

Dojo has facilities to (in effect) #include content from referenced files in certain cases. dijit.layout.ContentPane has a URL property and dojox.mobile.ListItem has a url property.

I tried this:
- New HTML File
- Add a ContentPane
- Set URL to Sample1.html

Result=> console errors and Sample1.html is corrupted because the referencing HTML file doesn

[2011-09-23 22:13] JonFerraiolo opened #1053 "Properly support the dojox.mobile `url` property"
You can store Views in a separate file. As @peller and @jonferraiolo learned today talking with a customer, customers will sometimes want to store particular views in external files, and the 'url' property (alternative to 'moveto') provides such functionality.

However, in playing with the 'url' property, it is highly constrained. I haven't looked at the code, but it appears that dojox.mobile simp

[2011-09-24 01:39] peller commented on #1003
@waynevicknair

at the bottom of davinci/ui/editor/Styler.js highlight() around line 449, the method throws because this.modes.length = 2.  Apparently, it has both HTML and CSS modes.

[2011-09-24 01:41] peller commented on #1003
need to investigate what the new editor is doing for styling.  IIRC, we had to keep around our own styler because Orion didn't implement HTML

[2011-09-26 02:10] jhpedemonte commented on #856
Jon, you stated that you created helper functions for `getChildren` and `getPropertyValue`. Do you still have that code?

[2011-09-26 04:30] #883 closed, assigned to peller

[2011-09-26 15:58] billreed63 commented on #1024
When the user changes a theme for a mobile page we need to:
- Determine if the page is using dojox.mobile, add require fro deviceTheme if missing.
- Determine what mobile device(s) the theme supports.
  - We can assign devices for theme at theme creation time, based on base theme copied.
  - Let user select devices when adding theme to page
- If we allow users to create themes for each device then

[2011-09-26 16:54] JonFerraiolo commented on #1024
Yes, I think what you say in last paragraph above is correct. One more comment - if we are going to do anything architectural like that, we need to take a step back and decide if this is the time to address the "delta themes" idea or continue with the old process of cloning existing themes.

[2011-09-26 17:39] billreed63 commented on #1024
I like the delta theme's my only concern is that we have a short runway to preview 4. I think we can do this in two phases, use the copy approach for phase one and if time permits add in the delta logic.

I am also starting to think that we may need to introduce the idea of a themeMap for mobile devices. If the user creates multiple themes say one for each device and then wants to use these themes

[2011-09-26 18:18] JonFerraiolo commented on #1024
@billreed63 - everything you say in previous comment makes sense to me.

[2011-09-26 20:29] JonFerraiolo opened #1054 "Support ScreenSizeAware for FixedSplitter"
@peller

(Unlikely for M4)

ScreenSizeAware is some JavaScript to provide function to control visibility of the left pane, visibility of the back button in each view in the right pane, the transition mode and the selection mode of the left-hand side list, and so on. It's kind of an application-level transformation for a very specific scenario, so it doesn't seem to be a good idea to embed those fu

[2011-09-26 21:14] JonFerraiolo opened #1055 "Wrong inlineEdit metadata for dojox.mobile.Button?"
@billreed63, @peller

In widgets.json, the inlineEdit target for dojox.mobile.Button is:

[code]

but Dirk says below that this fails when he actually deploys on the device. It might be that inlineEdit should point to innerHTML instead of the label attribute.

(From http://groups.google.com/group/maqetta-users/browse_thread/thread/dbf6edabbfcea7e5)

Hi,

I developed a mobile app. However, I am not

[2011-09-27 00:14] jhpedemonte commented on #1055
To Dojox Mobile, it doesn't matter whether you put the value in the **label** attribute or in **innerHTML**.  For example, just check the [developerworks](http://www.ibm.com/developerworks/library/wa-getstarteddojo/) link you posted -- it shows several widgets using 'label'.

If the use of 'label' attribute really is the issue with the Maqetta->PhoneGap transfer, then I'd say that's a bug with Pho

[2011-09-27 00:51] jhpedemonte commented on #856
## Use cases when adding widget with "fixed" property:
1. **Adding widget to ScrollableView**
   - _Options_:
     - Smart input which immediately asks for **Label** and **fixed** (none, top, bottom). Then adding widget to ScrollableView should go through ScrollableView.addChild(), which does the proper thing for "fixed" widgets.
2. **Setting `fixed` prop on existing child widget of ScrollableView

[2011-09-27 02:16] peller commented on #1053
From the ContentPane docs:

[code]

So it sounds like about the same behavior as what you're seeing -- take a document fragment from the body and shove it in with innerHTML.  dojox.layout.ContentPane has the ability to handle things like scripts and stylesheets via dojox.html.

[2011-09-27 02:37] jhpedemonte commented on #856
Ugh.  So, [Use Case 3](https://github.com/maqetta/maqetta/issues/856#issuecomment-2205913) (moving widget with 'fixed' prop into ScrollableView) is failing due to the `! this.acceptsHTMLChildren` check in `davinci.ve.DijitWidget.addChild()`.

That check was added since many of the Dojox Mobile containers (such as ScrollableView) accept both Dojo-based widgets and HTML elements, yet inherit from `d

[2011-09-27 02:55] jhpedemonte commented on #1054
More generically, I think this falls under the purview of supporting **Controller** widgets.

Actually, these aren't widgets really, in the sense of self-container HTML/CSS/JS entities.  Rather, these Controller widgets add functionality to other widgets or provide functionality that can be used by other widgets.

**dojox.mobile.ProgressIndicator** might be another that falls under this Controller

[2011-09-27 03:21] #855 closed, assigned to peller

[2011-09-27 03:24] jhpedemonte commented on #1053
Oof. This one'll be interesting.

One idea that comes to mind: provide a **"Create Document Fragment"** context menu action, which when invoked on a widget, simply extracts that widget and its children and saves that as doc.  Then we'd have to keep Maqetta from adding HEAD and BODY back in later.

[2011-09-27 04:20] JonFerraiolo commented on #1055
You could be right that 'label' is supported in dojox.mobile.Button, but I really don't see how PhoneGap would affect dojox.mobile. It's orthogonal technology. PhoneGap simply provides a cross-platform shim layer for device APIs that is independent (and works with) a variety of mobile toolkits, including both dojox.mobile and jQuery mobile. Maybe there is some surprising clash between the technolo

[2011-09-27 04:32] peller commented on #999
addressed by cleanup in #1011

[2011-09-27 04:32] #999 closed, assigned to peller

[2011-09-27 13:21] billreed63 commented on #1055
This one might be hard to figure out without actually doing the maqetta -> phoneGap -> steps. And in it would be a good article to publish on devloperworks.

[2011-09-27 14:35] jhpedemonte commented on #1055
Bill, we're looking into that right now.

[2011-09-27 18:12] jhpedemonte commented on #856
There is no easy way to call `_Container.addChild()` on a parent widget that takes both Dojo and HTML widgets and have it function as we want.  The reason is that `addChild()` needs to know where to place the new child and does so by calling `getChildren()`.  This function, however, only returns children that are Dijit widgets -- meaning that calling `addChild()` on parent widget with both Dijit a

[2011-09-27 18:33] JonFerraiolo commented on #856
Overriding dojo.place() would not be a good thing to do. Almost like overriding DOM's appendChild.

I don't know the details of the problems you are facing, but I wouldn't think container widgets such as ContentPane that take both Dojo and HTML widgets would use addChild(), and instead just use DOM methods (insertChild*, appendChild). In other words, instead of trying to get addChild() to work in

[2011-09-27 18:44] jhpedemonte commented on #856
Well, that's not an option.  ScrollableView does some funky things in its `addChild` method and needs to be called when placing a widget inside it.  Other Dijit/Dojox widgets may do the same.

I don't think the idea of hooking `dojo.place()` is that bad.  It would be something like this:
1. hook dojo.place
2. call Dijit's addChild()
3. unhook dojo.place

It's ugly, but it should work.  If you have

[2011-09-27 19:21] childsb commented on #1016
there was a path problem where the project was being processed for downloads multiple times.

[2011-09-27 19:21] #1016 closed, assigned to childsb

[2011-09-27 19:22] #639 closed, assigned to childsb

[2011-09-27 21:43] #18 closed, assigned to peller

[2011-09-28 02:06] jhpedemonte commented on #856
That last commit is on a branch; hasn't been checked in to master. It implements what I proposed [earlier](https://github.com/maqetta/maqetta/issues/856#issuecomment-2214683). Let me know what you think.

There's a big comment there that should explain everything.  If it hasn't, let me know and I'll update it.  Also, notice that `_addChildHooked` only gets called for DijitWidgets that implement `a

[2011-09-28 02:18] jhpedemonte commented on #856
Next issue I'm running into with [Use Case 3](https://github.com/maqetta/maqetta/issues/856#issuecomment-2205913): when moving the Heading widget, the old widget gets destroyed and a new one created.  Not sure why that is.

This is what the widget DOM looks like before the move:

[code]

And here's what it looks like after the move, when `ScrollableView.addChild()` is called:

[code]

As you can s

[2011-09-28 14:36] peller commented on #1011
#13986 is fixed.  Will bring in with next 1.7 tag (see #829)

[2011-09-28 14:42] jhpedemonte commented on #856
Actually, that last commit is silly.  The issue is with Dijit's `getChildren()` function, not `dojo.place()`.  I should just temporarily replace the parent widget's `getChildren()` with Maqetta's similar function; that should work.  Otherwise, commit is the same.

[2011-09-28 14:42] #1004 closed, assigned to nobody

[2011-09-28 14:44] #1015 closed, assigned to childsb

[2011-09-28 14:45] childsb commented on #1015
i can't/couldn't reproduce this, but i suspect whatever the odd case is it was fixed with commit 8eecd4bafe9a22e97d75f718d436d52c333a9cb4

please reopen if you notice this again, or if there is more steps to recreate.

[2011-09-28 20:35] jhpedemonte opened #1056 "Moving widget doesn't preserve all attributes/properties"
When a widget is moved from one location to another, under the covers Maqetta destroys the old widget and creates a new one.  However, it seems that all the attributes/properties of the old widget aren't passed on to the new widget, and that can cause some issues.

@JonFerraiolo

[2011-09-28 20:39] JonFerraiolo commented on #1056
Be sure to trace through the debugger carefully with some of the existing widgets where moving a widget doesn't drop attributes/properties. As I remember, this is working pretty well now with existing widgets. With some of the dojo mobile widgets, maybe some of the assumptions in the code are no longer true.

[2011-09-28 20:41] jhpedemonte commented on #1056
# Test Case 1
- Add Heading. Set custom text (i.e. "Fixed Heading").
- In Properties, add an 'id' (i.e. "h1_0") and set 'fixed' to "top".
- Add ScrollableView after Heading.
- Drag Heading into ScrollableView.

## Before Move

src:

[code]

dom:

[code]

## After Move:

src:

[code]

dom:

[code]

## Notes:
- DOM doesn't show the `fixed` property either before or after the move, but it is there in

[2011-09-28 20:50] jhpedemonte commented on #1056
# Test Case 2
- Add Heading. Set custom text (i.e. "Fixed Heading").
- In Properties, add an 'id' (i.e. "h1_0") and set 'fixed' to "top".
- Add ScrollableView after Heading.
- **Save file, close, reopen.**
- Drag Heading into ScrollableView.

## Before Move

src:

[code]

dom:

[code]

## After Move:

src:

[code]

dom:

[code]

## Notes:
- After move, `id` & `fixed` properties lost in both src an

[2011-09-28 20:54] JonFerraiolo commented on #1056
I'm not sure about the details of this particular case, but this might be due to the following. When we do a ModifyCommand and create a "data" object that holds the data for the old widget and from which we create the new widget, we pull properties from the canvas DOM (i.e., from the dijitwidget), but with ScrollableView and "fixed", under the hood Dojo is moving things around underneath us, so th

[2011-09-28 20:55] jhpedemonte commented on #1056
The test cases above are very similar, except that in the 2nd one we save, close and reopen the file before doing the widget move.

There are some differences in the **before** state, mainly that the `fixed` property does not get added to the DOM when adding it through the **Properties** view.

Not that it matters, since the `fixed` DOM attribute is lost when moving the widget, in Test Case 2.

[2011-09-28 20:56] jhpedemonte commented on #856
Moved [widget moving issue](https://github.com/maqetta/maqetta/issues/856#issuecomment-2218874) to #1056.

[2011-09-28 21:28] waynevicknair commented on #1012
I recommend email address be the unique identifier. If there are no strong objections, let's move this forward.
@JonFerraiolo ? @jhpedemonte ?

[2011-09-28 21:32] jhpedemonte commented on #1012
Yes, email address.  Most other web apps also use email, at least recently.  Sometimes they also ask for a user name or "nickname", which is displayed instead of the email address (either for privacy or brevity).

[2011-09-28 21:40] childsb commented on #1012
We should internally generate this and NOT use the user information both from a design standpoint and also it's what orion's doing.  If we use Orion for authentication, we'll need to use their mechanism anyways.

From design standpoint, there may be instances when email address is duplicated (example cloud hosted: user has multiple userNames.. one for his consulting, and one for his volunteer serv

[2011-09-28 21:43] jhpedemonte commented on #1012
Ah, good point, Brad. Sounds good to me. Also, allows for user to change email address without issue.

[2011-09-29 02:51] JonFerraiolo commented on #1012
Actually, I disagree with the comment that we should use email addresses. Exclusive of Orion (I didn't fully understand what Brad means above), here is what I think is the best way to go:
- Our code maintains separate fields for: (a) user_name (e.g., "AwesomeOne"), (b) user_email (e.g., harrysmith@gmail.com), (c) user_real_name (e.g., Harry Smith)
- We use user_name as our "index" and therefore re

[2011-09-29 03:04] jhpedemonte commented on #1056
(cc @childsb, who might have some insight on the old smash code)
- `id` isn't saved because `getData()` is called with `identity` === false, from `SelectTool.onExtentChange()`.
  - _Why? Why wouldn't we want to save the ID when moving a widget?_
- `fixed` isn't saved because `_Widget.getPropertyValue()` returns false.  This is because the Heading object instance doesn't have a `fixed` property.

[2011-09-29 13:49] JonFerraiolo opened #1057 "Clean up event /davinci/ui/widgetPropertiesChanges"
Various parts of our code create a command (e.g., ModifyCommand) and then publish event /davinci/ui/widgetPropertiesChanges to trigger flushing the command stack, resetting the selection, etc. Problems with the current approach:
- Shouldn't use pubsub in this case. Just call a function directly.
- The subscriber turns out to be in Workbench.js, which then calls a function in VisualEditor.js, which

[2011-09-29 20:45] billreed63 opened #1058 "DataGrid not rendered correctly in dialog"
The datagrid widget is not rendered in designer or preview

[code]

[2011-10-02 22:02] peller commented on #829
7dacba4848a1bcb855ecd0ad5398121f5507ed0a upgrade to dojo 1.7.0b6

[2011-10-03 02:26] peller opened #1059 "Call _processWidgets from themeEditor.Context._setSourceData?"
The code in the middle of _setSourceData in themeEditor's Context.js looks a lot like Context._processWidgets.  I'm wondering if it might be possible to call out to this routine instead?  There are also console messages about "Context._restoreStates: this._loadFileStatesCache missing" when opening the theme editor.  Wondering if this is related.

[2011-10-03 14:16] billreed63 commented on #1024
# Use cases:

## 1) Native styling is fine with author.

**Details:** Either the author wants native look&feel for his mobile application, or doesn't care about styling and is happy with whatever default styling we provide.

**Proposed workflow:**

<ul>
<li> Defaults just work. Author never deals with mobile themes.</li>
</ul>

## 2) Author wants to create a custom theme that applies to all mobile

[2011-10-03 14:30] childsb commented on #997
Fixed/enhanced in commit 883c3812a2527cc678307f4c9aefe30138a4476c

[2011-10-03 14:30] #997 closed, assigned to childsb

[2011-10-03 14:43] JonFerraiolo opened #1060 "Test ability to access HTML files from other user workspaces"
@childsb, @billreed63

This issue is a testing issue. After testing, maybe other issues will be created if problems are discovered.

@billreed63 and @jonferraiolo were trying to access files from each other's workspace, such as http://maqetta.org:55556/maqetta/user/billreed@us.ibm.com/ws/workspace/project1/file4.html and http://maqetta.org:55556/maqetta/user/jferrai@us.ibm.com/ws/workspace/project

[2011-10-03 15:09] #155 closed, assigned to peller

[2011-10-03 17:58] billreed63 commented on #1024
Do we need two default theme sets, a desktop and a mobile?

desktop would not include the deviceTheme requires. Or do we have one theme set and always add the requires for mobile ?

[2011-10-03 21:02] JonFerraiolo commented on #1024
This opens up the whole issue of Dojo Mobile being sort of its own separate beast while at the same time largely interopable with Dijit. I'm not sure what's the right thing to do and what's feasible to do, but here goes:
- Desktop themes and mobile themes are largely orthogonal
- Only mobile themes participate in the theme set feature
- We put another tag in the metadata that indicates to which "t

[2011-10-03 21:27] billreed63 commented on #1024
Theme sets have added an extra layer of complexity for round tripping,

When the user wants to change a theme on and existing page.

The HTML file would not contain the theme set directly, we would need to attempt to match the dojox.mobile.themeMap and the @import/body class to "known" them sets. If we do not find a match what do we do, select the default theme set and adjust the page to match?

I

[2011-10-04 01:42] peller opened #1061 "variable 'pushComment' not declared in CSSParser.js"

[2011-10-04 05:26] waynevicknair commented on #1061
Please elucidate kind sir.

[2011-10-04 15:14] waynevicknair commented on #1061
fixed with commit 75944a67d8128a9370dd1585b8544948c6ee7275

[2011-10-04 15:14] #1061 closed, assigned to waynevicknair

[2011-10-04 22:13] jhpedemonte opened #1062 "ID isn't persisted when moving widget"
(Spun off from #1056. See that issue for further discussion.)

When moving a widget that has an **'id'** attribute set, that attr is not persisted after the move.

The relevant code is in **SelectTool.js** `onExtentChange()`.  Here's the general flow of what currently happens in that function when moving a widget:
1. Get data for current widget.
2. Create a new widget based on this data.
3. Create

[2011-10-04 22:14] jhpedemonte commented on #1056
Opened #1062 to track issue with the `id` attr not persisted when moving widgets.

[2011-10-04 22:55] JonFerraiolo commented on #1062
Wow, I'm surprised we still have this bug.

Based on your description, maybe we are getting bit by the architectural problem with createWidget(). IMO, we shouldn't be called createWidget outside of command stack execution. If people agree with me, then the question is how hard is it to refactor the code. It might be a bear.

Ideally, the set of steps would be:
1. Get data for current widget
2. Rem

[2011-10-04 23:01] jhpedemonte commented on #1062
Yes, you beat me to it. That's basically what I had in mind, and I think what makes the most sense.

I have no problem taking on this refactoring, which is something that was brought up several months back, but I never got around to actually doing.

[2011-10-04 23:02] jhpedemonte commented on #1062
Plus, I think the Commands themselves should be as sparse as possible.  All they should do is call out to methods that live elsewhere (probably in Context.js). I don't now how doable this will be, but I wanted to record this idea for future reference.

[2011-10-05 03:23] jhpedemonte opened #1063 "Icon(s) missing from menus"
In the Files view context menu (right-click on file), the red **X** from the **Delete** item is now missing. I had previously added it in M3.

Icons are also missing from the context menus in the VE and the Outline view (when right-clicking on widgets).

@JonFerraiolo @peller @childsb Do you guys have any idea why this regressed?

[2011-10-05 03:32] jhpedemonte commented on #1056
Actually, on **master** branch, I notice that moving a **Label** causes its text to be duplicated.  Need to fix that.

[2011-10-05 14:39] waynevicknair commented on #1012
Joomla will not support multiple users with the same email address. Whatever other uniqueness requirements we introduce to Maqetta, any Joomla deployment of Maqetta must make the email address associated with the user name immutable. We chose to modify Joomla sign-up forms to force email address to be assigned to user name also; that's two separate fields assigned the exact same value. We made thi

[2011-10-05 20:16] #638 closed, assigned to childsb

[2011-10-05 20:36] childsb opened #1064 "rewrite html page needs to take into account the dojo modulepath"

[2011-10-06 03:15] peller commented on #1063
fixed in f3e942ecf092a11181ec776af452b34cd3993131

[2011-10-06 03:15] #1063 closed, assigned to nobody

[2011-10-06 16:48] #938 closed, assigned to childsb

[2011-10-06 20:16] childsb opened #1065 "Empty file after multiple saves"
# Simple scenario
- New File
  Maqetta: *file1
  WinExplorer: file1.html.workingcopy
- Drag BorderContainer onto workspace
- Preview:
  Maqetta: file1
  WinExplorer: file1.html
- Preview again:
  Maqetta: file1
  WinExplorer: file1.html.workingcopy
- Close file1 tab
  Maqetta: file1
  WinExplorer: NOTHING
- Open file1 again
  Get lots of errors in Maqetta cmd window
  Maqetta browser shows file ha

[2011-10-07 02:41] peller commented on #1048
Not sure why they wouldn't work.  Some browsers have security restrictions that prevent the xhrs over file: necessary to bootstrap Dojo (at least pre 1.7) but that can be worked around with various security settings like [this one for Firefox](http://kb.mozillazine.org/Security.fileuri.strict_origin_policy).  FWIW, starting with Dojo 1.7, there is no more XD loader.  The regular loader is supposed

[2011-10-08 17:30] JonFerraiolo opened #1066 "Cleanup: cursorOnly logic in Focus.js and SelectTool.js"
@billreed63, @peller

There is a cursorOnly flag passed into sometimes as a 3rd parameter to SelectTools.js:onExtentChange(), and tracing through with debugger, this looks like something we should clean up.

In Focus.js, the first lines of `onMove` look like this:

[code]

First question here is why we need the setTimeout? Anyone know?

After an intermediate stop in Context.js:onExtentChange(), th

[2011-10-08 17:39] JonFerraiolo commented on #1066
Ah, an important bit of info, and this points to @peller as being the most knowledgeable about 'cursorOnly': it looks like the cursorOnly logic is there to support the dynamic creation of the black vertical bar drop point when doing interactive dragging on the canvas when using flow layout. My analysis about charting out the code paths was when I was testing out _absolute_ layout.

Nevertheless, w

[2011-10-08 18:05] JonFerraiolo opened #1067 "Resizing absolutely positioned objects via left or top nobs snaps widget to wrong location"
@peller
- New HTML File
- Absolute positioning
- Add a DIV
- border:1px solid black (so it is visible)
- Pull bottom right corner to make it bigger
- Pull one of the left-edge nobs to the left

Result=> Upon mouseup, DIV snaps too far to right (left edge stays at old location)
- Pull one of the top-edge nobs upwards

Result=> Upon mouseup, DIV snaps too far down (top edge stays at old location)

T

[2011-10-08 18:14] JonFerraiolo opened #1068 "app.css should be after library CSS files (e.g., dojo.css) and theme CSS files"
@billreed63, @peller, @jhpedemonte

(I still haven't added this fix, so logging a bug so I don't forget)

The reference to app.css in the HTML files should be after references to library CSS files (e.g., dojo.css) and the theme CSS files (e.g., claro.css) so that, for style rules with equivalent specificity values, the rule in app.css will "win" versus the other CSS definitions.

[2011-10-09 02:43] peller commented on #1066
shrug.  Most definitely in need of cleanup.  I'll take a look at this in the coming week.  Some of that dates way back and yes, I hacked in the cursor condition.

[2011-10-09 21:37] peller opened #1069 "Uploader missing 'ok' button"
@jonferraiolo

Seems to have regressed in the upgrade to Dojo 1.7

[2011-10-09 21:42] peller opened #1070 "Copy/paste broken for Tree and DataGrid"
@jonferraiolo

Bill, this may have been a regression with the Dojo 1.7 upgrade.  Feel free to bounce back to me.  It's getting stuck in a JSON eval of `(ForestStoreModel_1)`for the model attribute in DijitWidget's constructor (called from createWidget).  Note: there are no quotes.  I think this is where it uses some sort of global variable to define the model?  I seem to remember some recent worka

[2011-10-09 21:44] peller opened #1071 "Resizing problem with sticky notes"
@jonferraiolo noticed that if you create a sticky note, define some text, then immediately resize the focus box, the selection box changes but the yellow sticky note widget does not resize.  If you try to resize again, it works.  Again, this appears to be a regression, possibly related to the Dojo 1.7 upgrade.  Where does the sticky widget live and where does should the resize go?

[2011-10-10 02:02] peller commented on #1052
Authoring with widgets in a regular dijit.layout.ContentPane suggests that the author of the containing document is managing the dependencies.  Authoring with dojox.layout.ContentPane suggests that the dependencies are contained by (and executed at runtime by) SCRIPT tags.  The former doesn't seem sustainable, since the referenced content (and types of widgets) could easily change without knowledg

[2011-10-10 02:11] peller commented on #1053
For a feature like this, I don't think the approach Jon is taking in the source editor is unreasonable.  Perhaps, aside from the dependency issue in #1052, all we'd have to do to make this work minimally is provide a source editor mode or type that can handle HTML document fragments?  I don't think we should get into automating this feature too much.

[2011-10-10 02:13] peller commented on #1052
Alternatively, we could consider this feature relatively advanced and not try to fully automate it.  In keeping with the approach described in #1053 and addressing the simpler dijit.layout.ContentPane widget, perhaps it's not unreasonable to have the user maintain the dojo.require dependencies manually... but can that be done currently?  Presently, I think Maqetta tries to own the requires.

[2011-10-10 02:23] peller commented on #1033
I think most tools show defined states vs. computed states separately.  I can imagine it would be very confusing trying to represent the combined states in a single element.

[2011-10-10 13:28] peller opened #1072 "Missing resource"
BorderContainerInput throws an exception here looking for ...dojo/dijit/nls/dijit.js, which does not exist

`dojo.requireLocalization("davinci.libraries.dojo.dijit", "dijit");`

[2011-10-11 00:47] JonFerraiolo commented on #54
I just tried this again and I'm seeing different results now. To repeat the scenario:
- Click on DIV in Widget palette, then move mouse over canvas, then drag out a rectangle. Result: you get a DIV that reflects the rectangular you dragged out.
- Try to repeat to drag out a second DIV

Result=> The second DIV has default size, not the size of the rectangle you dragged out

[2011-10-11 00:54] JonFerraiolo opened #1073 "Drag out CheckBox, then drag/drop CheckBox => RangeError"
I'm pretty sure this is a long-standing bug. With Preview3, there was a bug but different error reported.

Using Mac/Chrome:
- Refresh browser window
- New HTML File
- Click on CheckBox in widget palette, then on canvas drag out a rectangle. (Even though this doesn't make sense for CheckBox) A CheckBox widget will appear on canvas
- Try to drag/drop a second CheckBox by dragging from widget palett

[2011-10-11 00:57] jhpedemonte commented on #1073
Infinite loop, sounds like. I never see a stack trace for those.  Just need to go through the scenario, then hit pause in the debugger, to see where it's looping.

[2011-10-11 01:03] JonFerraiolo opened #1074 "Theme editor - Calendar selection fails"
@peller, @jonferraiolo

Not sure who broke this. Maybe there was a change to Focus.js or Context.js in page editor that didn't get propagated to theme editor?

Uncaught TypeError: Object /davinci/ui/subwidgetSelectionChanged has no method 'remove'
connect.disconnectdojo/_base/connect:184
dojo.declare._clearListdavinci/ve/Focus:561
dojo.declare._updateSubwidgetListdavinci/ve/Focus:554
dojo.declare.

[2011-10-11 01:14] peller commented on #1074
wow, looks like very old code that must have never run before...

[code]

dojo.unsubscribe takes a handle from a subscribe call, not a string.  We should keep an array from the subscribe calls and just do a forEach(dojo.unsubscribe) on it.  Also, dojo.subscribe takes a context argument, so the hitches shouldn't be necessary.

[2011-10-11 03:45] peller commented on #945
The behavior you describe where one child is set to fill the pane is controlled by doLayout, which is false here, so I'm not sure why this would happen.  It is worth noting that there could be some strange interactions because of the extra calculated width/height settings which are serialized in the DOM, redundant with the bordercontainer layout scheme.

[2011-10-11 04:40] peller commented on #1073
Chrome happily provides the stack.  onDragStart clones data.data (see 8969e0a8 and discussion: fc7e7e2eda908df4a36924ac402d2347528416cf)  There's a cycle in there, probably in the context property (context references widgets which reference contexts)

Dup of #881

[2011-10-11 04:41] peller commented on #1073
@billreed63

[2011-10-11 04:41] peller commented on #881
@billreed63

[2011-10-11 04:47] peller commented on #28
fixed by 4f06fd6242827004bcb05c198c9c637375ba5efb

[2011-10-11 04:47] #28 closed, assigned to peller

[2011-10-11 05:27] #1069 closed, assigned to peller

[2011-10-11 21:47] childsb commented on #903
Added rename feature for all resources (projects, files folders etc..)

[2011-10-11 21:47] #903 closed, assigned to childsb

[2011-10-12 16:22] jhpedemonte opened #1075 "Children should always be an array (don't also support string value)"
See 470ba852a5d94a73b59a2c5b6f6d6590c760468c.

`Context.createWidget()` assumes that the `children` property can be either an **array** or **string** (in the case of setting the innerHTML value).

@childsb points out that in the code it would be best to just always assume an **array**, to make the code simpler.

What do we do with the metadata definition.  Two options:
1. Continue supporting **str

[2011-10-12 18:46] JonFerraiolo opened #1076 "davinci.ve._preferences not updated when saving updated preferences"
@childsb

I discovered and fixed this on my local machine. Just logging a bug as an FYI.

I am working on another HTML editor preference and discovered that changing+saving the preference was not updating davinci.ve._preferences, which is data structure that the visual editors use to look for page editor preferences. I have now added code that updates davinci.ve._preferences whenever updated prefe

[2011-10-12 18:52] childsb commented on #1076
could you explain more?

Is the preference not being saved? or is it not updating the preference inside the visual editor if the visual editor is already running?

[2011-10-12 19:42] JonFerraiolo opened #1077 "Absolute layout and View widgets"
@jhpedemonte, @peller

Assigned to Jon to think this one through.

If you go into absolute layout and add a mobile View widget, the debugger shows that the widget gets element.style='height: 100%; position: absolute; left: 40px; top: 33px; visibility: visible; display: block;' (assuming the drop point was (40,33)), which is probably not a result that is particularly helpful to a user.

Some possib

[2011-10-12 19:52] jhpedemonte commented on #1077
I like option (2) -- we create a metadata property that says the given widget cannot be applied in absolute layout and must use flow layout.

[2011-10-12 22:41] JonFerraiolo commented on #1076
preference is being saved to the server, but davinci.vi._preferences global object is not getting updated, which means visual editors that are already running (or that will run subsequently) will not get the updated preferences info because context.getPreference() returns the current value from davinci.vi._preferences.

You would think this would be trivial to fix, but I ran into a gotcha in that

[2011-10-13 01:47] #182 closed, assigned to peller

[2011-10-13 02:36] peller commented on #894
focus box not resize on silhouette change or orientation change - see #798

[2011-10-13 02:57] #983 closed, assigned to peller

[2011-10-13 20:06] jhpedemonte opened #1078 "When editing source, cursor jumps back to first position"
To reproduce:
1. Drop a **dojox.mobile.View** in new page.
2. Drop **Heading**, name it "View 1".
3. Drop another **View** on page (this creates a sibling view to first one).
4. Drop **TabBar** onto second View.
5. Open split editor.
6. In source editor, try to add the text **fixed="top"** as an attribute to the TabBar.

For me, in the middle of typing, the cursor jumps up to the first position in

[2011-10-13 20:51] JonFerraiolo commented on #1078
Very cool that there is a reproducible case for this seemingly intermittent bug! See #891 and #992. I hope there is a single bug that fixes all of the jumping scenarios.

I was able to reproduce on both Mac/FF and Mac/Chrome. When trying to add `fixed="top"`` to the TabBar widget in source view, I can type "fix" ok, but somehow the "e" doesn't take, and if I continue on and manage to enter "fixed=

[2011-10-13 23:20] JonFerraiolo opened #1079 "Focus backoff logic not working with silhouettes"
@jhpedemonte

When a device silhouette is present, we are getting a scrollbar in the editing canvas when some widgets are selected because the selection chrome extends off of the "canvas". Maybe the selection rectangle adjustment logic doesn't take into account the device silhouette properly? I noticed that if I change the 'left' and 'width' properties on the selection DIVs and back off by 6px, th

[2011-10-13 23:46] peller commented on #1079
are there any borders involved?

[2011-10-14 00:25] JonFerraiolo commented on #1079
I don't know about borders on the widgets that on on the page, but I don't think that's a factor\ because the scrollbar went away when I backed selection DIVs and nobs off by 6px (4px for inside the nob and 1px each side for borders on the nobs).

[2011-10-14 00:47] peller commented on #1079
yeah, I think the 100% focus behavior regressed on non-silhouettes as well.  I've also noticed that (without a silhouette) the editor no longer expands to fill the full width of the editor.

[2011-10-14 01:20] JonFerraiolo commented on #1079
Yep, that problem, too. Not sure there is a bug for why the page editor is a few pixels short on the right.

[2011-10-14 02:55] peller commented on #829
see also 26824b4e2ecb4c63865eb51fe44a352c41cc5415 and 467898f93c96972152bba28f178cf0fecb653514

[2011-10-14 13:45] #1011 closed, assigned to peller

[2011-10-14 16:48] jhpedemonte opened #1080 "dijit.form.TextBox missing 'placeholder' property"
I was notified on IRC that the **dijit.form.TextBox** widget did not have the `placeholder` property in **Properties->Widget-specific**.

@JonFerraiolo

[2011-10-14 16:54] jhpedemonte commented on #1080
Did pass of source, found these missing properties (followed by type and default value [if any]):
- `selectOnClick`: Boolean `false`
- `placeholder`: String

[2011-10-14 18:04] #1080 closed, assigned to jhpedemonte

[2011-10-16 22:11] jhpedemonte opened #1081 "Drag/drop of files from desktop into Maqetta"
Allow users to drag/drop files from their desktop into the Files view of Maqetta.

The correct way to do this is with the HTML5 **[File API](https://developer.mozilla.org/en/Using_files_from_web_applications)**.  Unfortunately, it's not supported by all browsers.

@JonFerraiolo

[2011-10-16 22:15] jhpedemonte commented on #1081
For browsers that don't support the File API yet, **[dropfile.js](https://github.com/MrSwitch/dropfile)** acts as a shim/polyfill to provide the missing functionality, using **Silverlight**.

[2011-10-17 01:05] JonFerraiolo commented on #1081
I know you aren't recommending dropfile.js, just pointing it out, but I'll just note that we wouldn't want to put in anything that requires Silverlight. Flash is pre-installed on desktop machines, so leveraging Flash without the user knowing we are leveraging Flash might be OK in particular cases (e.g., getting SVG to run on old versions of IE leveraging SVGWeb, which uses Flash on old browsers),

[2011-10-17 03:32] jhpedemonte commented on #856
First, I made some changes to the [use cases comment](https://github.com/maqetta/maqetta/issues/856#issuecomment-2205913).

Second, it looks like the best way to fix the remaining cases is to **refresh the VE from source** whenever the `fixed` property is set.

After trying some things along those lines, I think I've found the perfect solution:  add support for a **metadata property** which would

[2011-10-17 03:34] jhpedemonte commented on #1081
Agreed.  And I'm even hesitant to use Flash.  But I saw that project and wanted to make note of it, for whenever we come around to seriously discussing this feature.

[2011-10-17 10:27] JonFerraiolo commented on #856
Regarding putting refreshSource in the metadata, seems fine to put that in widgets.json if that makes things easier and cleaner than putting a call in a helper function.

Regarding changing the name of `properties`, yes, it would be less confusing to pick a different name. However, see next paragraph.

I like the mixin approach where the widgets.json file supplements or overrides the OAM file - I'

[2011-10-17 17:59] jhpedemonte commented on #856
Yes, much better to support features **declaratively** rather than imperatively, when possible.

As for your counter-proposal, I'm a bit hesitant.  It seems a bit heavy.  I want to take some more time to think about it.

I liked my proposal because it was just a simple mixin.  However, as you point out, it won't let us remove entries from the OAM.

However, I think the _removal_ case will be quite

[2011-10-18 18:44] JonFerraiolo commented on #1017
Fixed the problem listed in this issue with 89ea2a80e0 but leaving this bug open for time being as a reminder to see if other parts of the source code need to be updated in a similar manner to deal with the fact that snapping x/y coords are relative to page but widget domNode left/top properties are relative to the widget's "viewport widget" (offsetParent).

[2011-10-18 19:04] #1047 closed, assigned to JonFerraiolo

[2011-10-18 19:43] #1031 closed, assigned to JonFerraiolo

[2011-10-18 20:00] peller commented on #759
@waynevicknair

Problem does not occur with Orion M3 code in their standalone example at web/examples/editor/minimaleditor.html but does still occur when the M3 code is integrated into davinci.ui.Editor.  May have something to do with our styler (which we could replace with Orion)

[2011-10-18 20:28] #558 closed, assigned to JonFerraiolo

[2011-10-18 20:44] waynevicknair commented on #1078
yep, i can now recreate this bug at will. good going javier!

[2011-10-18 21:48] JonFerraiolo opened #1082 "TabContainer, then LABEL: ContentPane_0 id already registered"
I'm guessing this is a regression due to one of @peller's recent fixes.
- New HTML File
- Add a TabContainer, accept default tabs
- Add a `<label>` inside of TabContainer, accept "Label" as text for the label

Result=> dijit/dijit:15Uncaught Error: Tried to register widget with id==ContentPane_0 but that id is already registered

[2011-10-18 21:51] #978 closed, assigned to JonFerraiolo

[2011-10-18 22:24] JonFerraiolo commented on #1060
@billreed63, I reassigned this to you for you to try to reproduce. I'm not closing this quite yet because we really did notice something is amiss and maybe you will find a way to reproduce.

I tried every combination I could envision and I could always get to files in the jferrai@us.ibm.com workspace when simulating other users/machines by using different browsers. I tried pretending I was a diffe

[2011-10-18 22:26] JonFerraiolo commented on #991
Closing this. I can't reproduce now, either.

[2011-10-18 22:26] #991 closed, assigned to JonFerraiolo

[2011-10-18 22:42] peller commented on #1082
nothing comes to mind (any specific checkins you're thinking of?) but I'll check it out

[2011-10-19 13:47] billreed63 opened #1083 "Invalid userid or password after restarting server"
I noticed this after the upgrade to DOJO 1.7  but it may be unrelated..

1) Start the server
2) create a new user
3) log out
4) stop server
5) Restart server
6) attempt to log in with the user created in step 2

[2011-10-19 14:46] peller commented on #759
In ModifyRichTextCommand, widget.getContainerNode is returning null, so the entire document is getting reparsed -- which of course is bad, since the widgets already exist (are not detached)  I think the intent of this code is to only reparse the contents of the widget (widget.domNode and children)

Seems to be the getAllowedChild logic here 7aa9bf9f    Is this appropriate for getContainerNode?  Sh

[2011-10-19 14:49] peller commented on #1082
In ModifyRichTextCommand, widget.getContainerNode is returning null, so the entire document is getting reparsed -- which of course is bad, since the widgets already exist (are not detached)  I think the intent of this code is to only reparse the contents of the widget (widget.domNode and children)

Seems to be the getAllowedChild logic here 7aa9bf9f    Is this appropriate for getContainerNode?  Sh

[2011-10-19 14:51] jhpedemonte commented on #1083
cc @childsb

[2011-10-19 15:55] jhpedemonte commented on #1082
Well, **ContentPane** still defines `"allowedChild": "ANY"`, so it should return its `containerNode`.  I'll debug this later.

[2011-10-19 16:01] peller commented on #1082
it's not supposed to get to the **ContentPane** at all.  It's calling getContainerNode on the LABEL.  The only reason it's getting to the other (parent) widgets on the page is because LABEL's getContainerNode returns null, triggering a reparse of the entire page.

[2011-10-19 18:24] peller commented on #1078
yes, great example!  Verified on the new Orion M3 code. I'm noticing that clicking on the tab bar does not select the text and vice versa.  Clicking on the tab bar selects the whole document. Perhaps that has something to do with the change in focus?  We must have circular select events where this sort of mismatch (change in widget selection where the widget should not have changed -> change in ed

[2011-10-19 18:58] peller commented on #942
Confirmed in OrionM3.  Exception now occurs as

orion/textview/textView:4445  Uncaught Error: NOT_FOUND_ERR: DOM Exception 8
orion.textview.TextView._setClipboardText.cleanup

[code]

[2011-10-19 18:58] peller commented on #942
I can recreate this in the "minimaleditor" standalone orion Editor.  The "pre" that they create seems to get clobbered by the native cut operation, then the 'cleanup' method fails to remove it.  This is harmless.  cleanup is the only thing on the stack, the exception removing a missing child simply fails.

[2011-10-19 19:42] peller commented on #942
https://bugs.eclipse.org/bugs/show_bug.cgi?id=361464

[2011-10-20 13:39] billreed63 commented on #1083
This problem seems to have gone away with the latest code.

[2011-10-20 13:39] #1083 closed, assigned to childsb

[2011-10-20 16:09] peller commented on #314
unable to reproduce this

[2011-10-20 16:09] #314 closed, assigned to nobody

[2011-10-20 17:58] peller commented on #941
Confirmed with OrionM3 integration.  The exception seems to originate from TextView._showCaret.  It appears there is no caret when this happens.  the selection object looks like {start:NaN, end:NaN}  which ends up looking for line -1, etc.  Bad stuff happens.

Looking further up the stack, this caret code is triggered by selectModel from our code (which calls setSelection which calls _showCaret...

[2011-10-20 21:26] arisAlexis opened #1084 "app.css cannot accept custom styles?"
ive been trying to do simple things such as
# myelement {

[code]

}
then putting a tag in html and reference this, and it doesn't work.

[2011-10-20 21:48] waynevicknair commented on #1084
i cut your CSS from this issue and dropped it into 'app.css'. then i created a new HTML file. i added a DIV from the HTML widget palette. then i added some sample text in the DIV. i clicked the preview button and saw a rounded rectangle with a cream colored background and gray border on Mac/Safari. i inspected the DIV element and saw that it was inheriting its style from 'app.css'.

can you expand

[2011-10-20 21:50] waynevicknair commented on #1084
oops! forgot to include the step where i edited the DIV's id property in the property palette and set it to 'myelement'.

[2011-10-20 22:11] jhpedemonte commented on #856
This last checkin fixed [use cases 2 and 4](https://github.com/maqetta/maqetta/issues/856#issuecomment-2205913).  Now, when the `fixed` property is changed, the VE reloads from source and the header/footer is in the correct location in DOM.

Still remaining is to fix the property not being read from source (`fixed` shows up as blank even if the property is set in source).

[2011-10-21 02:20] jhpedemonte commented on #1084
@JonFerraiolo, weren't you were looking into issues with app.css recently?

[2011-10-21 03:01] jhpedemonte opened #1085 "Refactor ModifyRichTextCommand.js"
@billreed63

**ModifyRichTextCommand.js** seems to be very similar to **ModifyCommand.js**.  Need to refactor the former file, either folding the code related to rich text into the ModifyCommand file, or making it inherit from the latter file.

[2011-10-21 03:13] jhpedemonte opened #1086 "Error when hitting 'Enter' key in new html file dialog"
Select "New HTML Page", which brings up a dialog.  If you click on the **Create** button with the mouse, it works fine.  However, if you hit the **Enter key** on your keyboard, then the dialog disappears and you break into the debugger.  Might be related to Dojo 1.7 upgrade.

[2011-10-21 03:27] jhpedemonte commented on #1082
I added a null check to the code, since non-container widgets will return `null` from `getContainerNode()`.

But this code doesn't really make sense to me.  First, **ModifyRichTextCommand** is very similar to **ModifyCommand** (already opened a bug so we can refactor and merge the two).

Here's a bit of code from `ModifyCommand.execute()`:

[code]

And here's what `ModifyRichTextCommand` does at t

[2011-10-21 03:54] peller commented on #1003
fixed by orionm3 and text styler upgrade

[2011-10-21 03:54] #1003 closed, assigned to peller

[2011-10-21 04:00] peller commented on #1086
looks like it's got some events firing after the dialog has been destroyed.  the exception itself is harmless.  there's nothing else on the stack.

[2011-10-21 04:03] peller commented on #1082
I think getContainerNode used to return widget.domNode for all widgets prior to 7aa9bf9.    Is it possible that this checkin changed the behavior and that this could have side effects elsewhere?

[2011-10-21 12:26] JonFerraiolo commented on #1084
@jhpedemonte - the only issue I am looking at with app.css is #1068 - ensuring that app.css is loaded after theme CSS files

[2011-10-21 13:08] jhpedemonte commented on #1082
Prior to my commit 7aa9bf9ff116d88a4357ccdfdeaaf6f3182aa53c, `getContainerNode` used to return `widget.domNode` for HTMLWidgets, all except for `input`, `img`, `hr`, `br`, and `script`.  Not sure how those were decided, but if any of those are added to the page, they would break in this code as well.

In that code, someone (I think it is was Jon) added a **FIXME** note about adding some sort of `i

[2011-10-21 13:44] jhpedemonte commented on #856
Also need to see if there is a way to restore the selection after the VE has been refreshed.

[2011-10-21 13:59] JonFerraiolo commented on #856
Regarding restoring selection, one easy approach is to stash away the list of the IDs of all currently selected widgets in an array off on the side, and then reselect from that array after the VE has been refreshed. Using IDs in this manner would likely work 99% of the time, but I expect there will be  scenarios where the automatic ID logic will produce different automatic IDs during the refresh t

[2011-10-21 14:25] peller commented on #1082
I didn't think container node meant widget container in the dijit.Container sense.

[2011-10-21 14:45] billreed63 opened #1087 "Exceptions opening and closing theme editor"
The exception also prevents the sub widget menu from being displayed

[2011-10-21 14:48] billreed63 commented on #1087
fixed above commit

[2011-10-21 14:48] #1087 closed, assigned to billreed63

[2011-10-21 14:54] billreed63 commented on #1087
@peller

[2011-10-21 15:36] #965 closed, assigned to JonFerraiolo

[2011-10-21 18:07] JonFerraiolo opened #1088 "Remove WidgetLite class"
WidgetLite replicates parts of various Dijit classes, where we were trying to minimize footprint when using Dijit, but given Dojo nano and AMD, better to remove this class from Maqetta and instead invoke the minimal parts of Dijit that are needed.

Here is some background discussion discussion:

@jonferraiolo asks:

Anyone remember the reason for having davinci/workbench/WidgetLite.js? It looks li

[2011-10-21 18:13] jhpedemonte commented on #1088
@peller noted that the old Dijit **_Widget.js** was broken up into **_WidgetBase.js** and **_Widget.js**.  We should probably replace **WidgetLite** with **_WidgetBase.js**.

[2011-10-21 18:16] JonFerraiolo opened #1089 "Rename ViewLite class"
@childsb

I did some cleanup of the ViewLite class with 7830945e4c where I removed dead code and removed the funny situation where SwitchingStylingView descended from ViewLite and so did some of its components (WidgetToolBar, Events, CommonProperties, WidgetProperties), where the multiple descending approach to ViewLite was preventing a clean fix for #965. My clean fix consisted of making Switchin

[2011-10-21 18:18] JonFerraiolo commented on #1088
Regarding using _WidgetBase, I don't know it that invokes the parser on the innerHTML content. I think that logic is in dijit._WidgetsInTemplateMixin.js. I figure "the man" (@peller) will figure it all out.

[2011-10-21 20:18] jhpedemonte opened #1090 "No middle snap line on <label>"
To reproduce:
- Add a **&lt;label>** next to a dijit **Textbox**.
- If i move the label up and down, i can snap to the **top, middle and bottom** of the textbox.
- But if I move the textbox, i can only snap to the **top or bottom** of the label, **no middle**.

[2011-10-21 20:35] JonFerraiolo commented on #1090
I'm having trouble reproducing. I'm able to snap to middle when dragging either the TextBox or <label>. Questions:
- Both widgets are absolutely positioned?
- Running from latest code in GitHub or Preview 3? (I may have committed a fix since Preview 3)
- Move the TextBox away from label (significantly above or below the label). Now drag the TextBox next to label and see if the middle alignment lin

[2011-10-21 20:45] jhpedemonte commented on #1090
Actually, I did find this when on P3, but I just reproduced on today's code.  I was actually able to get the text box once to snap to middle of label, but most of the time I never see the middle snap line.

To repro:
- Drop text box, followed by label (i changed label to custom text if that matters).
- Align label to text box middle.  That works.
- When trying to align text box to label middle, I

[2011-10-21 21:13] billreed63 opened #1091 "CSS Model mangles animation sequence using keyframes"
The dojox mobile themes contain animation sequence [keyframes](https://developer.mozilla.org/en/css/css_animations)

[code]

When a css rule is change in the file and the file is save the output css is corrupted.
The output key rule looks something like:

[code]

To recreate:
1) checkout the mobileThemeEditor branch
2)Create a new theme, called a1 (clone android theme).
3) Click on the header widg

[2011-10-21 21:48] peller commented on #1088
Oh yeah, the parse call.  The pattern of creating widgets by DOM but also calling the parser isn't a fit for the Dijit code.  After a while spent trying to tease this apart, I don't think it's worth doing.  We can't use any of the Dijit pieces outright, and hacking something up to reuse the code out of context may be worse than leaving things alone.  The _WidgetsInTemplateMixin assumes _TemplatedM

[2011-10-21 22:00] JonFerraiolo commented on #1088
As far as I can tell, the main thing that we need from WidgetLite.js is to call dojo.parse() (or whatever) after doing an innerHTML assignment of the template. Can we get rid of WidgetLite.js and achieve the parsing by calling parse() from the buildRendering routine (or startup or whatever) of the "parent widget"? Maybe we would only know for sure if we gave it a try.

[2011-10-21 22:34] peller commented on #1088
We could fold this code (parse, plus startup) into each class which presently inherits from WidgetLite.  Most are via ViewLite.  But there are several which aren't, so I think we could be worse off duplicating code.

[2011-10-23 03:04] peller commented on #844
see #56

[2011-10-23 03:05] peller opened #1092 "Enable AMD loading for theme editor"
@billreed63, @jhpedemonte, @jonferraiolo

[2011-10-23 03:06] #1092 closed, assigned to peller

[2011-10-23 03:10] peller opened #1093 "Enable AMD loading for visual editor"
see #1092 -- Context already converted to use require() from dojo.require

Need to generate/parse AMD-style syntax for user-loaded pages, while remaining backwards-compatible with the old loader syntax.

@jhpedemonte, @jonferraiolo

[2011-10-23 20:32] JonFerraiolo opened #1094 "Review/commenting encoding of special characters"
@waynevicknair

@EldonReturn says:

It turns out that this is a bug which exists in the R&C client JS. Unfortunately I didn't encode/decode the special characters such as the quotation marks in the Text annotation (I encoded them in the comments). So when you wrote Folder"<?>" in the Text annotation, it broke the json string.

Because the code is in flux, I recommend that the fix be put into a bra

[2011-10-23 20:33] JonFerraiolo opened #1095 "Merge in escaping fix for review/commenting"
@EldonReturn

A fix will be coming sometime soon for #1094, probably done in a branch. This issue is a reminder to merge fix for #1094 into master branch.

[2011-10-24 01:29] peller commented on #1095
dup? just leave #1094 open?

[2011-10-24 13:45] JonFerraiolo opened #1096 "Cannot drag widget to bottom of page"
@peller
- Open Sample1.html
- Add a CheckBox within first ContentPane of TabContainer. (In Normal state, the CheckBox will be under the DIV containing "Sort by:")
- Try to drag that CheckBox to bottom of page

Result=> Can't do it. CheckBox will stay inside of current ContentPane

[2011-10-24 14:21] billreed63 opened #1097 "Theme editor does not load on second open"
When I open the theme editor then close and reopen I see the following exception on the second load:

Uncaught TypeError: Cannot read property 'removeWidgetStyleValues' of undefined
dojo.declare._setSourceDatadavinci/ve/themeEditor/Context:139
dojo.declare._continueLoadingdavinci/ve/Context:844
dojo.declare._setSource.window.(anonymous function)

I think this may be related to the switch to AMD.

[2011-10-24 14:27] billreed63 commented on #1097
I just notices opening a second theme editor exhibits the same exception.

1) Open theme -> c1
2) Open theme ->c2

[2011-10-24 14:57] billreed63 opened #1098 "Can not delete background-image url"
1) Create a new theme that is a clone on claro
2) Select button
3) From Properties palette select background
4) Notice the background-image url is populated.
5) Mark the contents of the box and delete
6) Click away so the contents are commited
7)Notice now that the contents of the background-image url are:   url('../../../.')

[2011-10-24 14:59] jhpedemonte commented on #1096
I think I've seen something like this.  This has to do with the location cursor that appears, right?  You can see the cursor in many places, but not as the final thing in the page.

[2011-10-24 18:08] #881 closed, assigned to nobody

[2011-10-24 18:08] #1073 closed, assigned to peller

[2011-10-24 21:23] #1097 closed, assigned to peller

[2011-10-25 18:41] peller commented on #504
style taken out by @JonFerraiolo in 7897ba6fce8dd9fb720c3fad87cd624bd464d9cf but class and logic remain

[2011-10-25 20:35] JonFerraiolo commented on #504
Isn't @childsb actively working on this? We chatted today about using opacity:.5 on both the icon and text.

[2011-10-25 20:53] peller commented on #504
he is.  we were trying to track down the latest changes to figure out what code was in place.  using opacity:0.5 should be easy.

[2011-10-26 16:22] JonFerraiolo opened #1100 "Reviewers should have option to receive email when other reviewers comment"
@EldonReturn, @jmockler, @waynevicknair, @jhpedemonte

The review feature sends emails to the author whenever people comment on a design, but there is no notifications sent to reviewers when other people add comments.

In particular, one would expect that if reviewer R1 adds a comment, and other people (e.g., the author) reply to their comment (i.e., comment on a comment), then R1 probably would l

[2011-10-26 16:29] jhpedemonte opened #1101 "Some user id colors make it very hard to read the text"
Sometimes, the user's id shows up in **yellow** on a **white** background, making it impossible to read unless I highlight the text:

![review](http://i.imgur.com/YGA5S.png)

Need to tweak the colors, to make them darker and usable on a white background.

[2011-10-26 16:37] jhpedemonte opened #1102 "Restore VE selection after refresh"
#856 added the ability to refresh the Visual Editor iframe when certain properties are changed.  After the refresh, we need to **restore the widget selection** in the VE.

@JonFerraiolo

[2011-10-26 16:38] jhpedemonte commented on #856
I think this one is fixed.  I opened #1102 for restoring the widget selection after refresh. If there are any more issues related to this, just open a new bug.

[2011-10-26 16:38] #856 closed, assigned to jhpedemonte

[2011-10-26 21:04] waynevicknair commented on #1095
dropped in commit f43e0d23f718fe8b5f6f8ac80f4b81a54a1f67a8

[2011-10-26 21:04] #1095 closed, assigned to waynevicknair

[2011-10-27 00:36] JonFerraiolo opened #1103 "Change arrow key increment to 1px, with shift key for 10px"
Easy fix now that I've found the code.

In SelectTool.js, we default to 6px for arrow key widget movements:

[code]

We don't need a preference here. Just change '6' to 1 for normal movements, and set to 10 if the shift key is down.

[2011-10-27 00:39] JonFerraiolo opened #1104 "Consolidate chooseParent overlay DIVs between CreateTool and SelectTool"
Once I check my "choose parent" code into master, there will be different logic between CreateTool and SelectTool for the overlay DIV that shows the list of candidate parents. CreateTool piggybacks onto the dragClone DIV whereas SelectTool creates its own overlay DIV. Should consolidate these two, probably switching CreateTool to use same approach as SelectTool.

As part of this cleanup, we probab

[2011-10-27 02:30] jhpedemonte commented on #1103
I like it, that's a good idea.  Also, I would suggest adding a tooltip on hover: `Shift+click increment 10px`.

[2011-10-27 13:01] jhpedemonte opened #1105 "Support library dependencies"
(Thought there was a bug open already, but can't find it.)

Need to add support for a library depending on another.

---

Proposal: https://github.com/maqetta/maqetta/wiki/Library-Packages

[2011-10-27 13:20] jhpedemonte commented on #1105
We should start using the CommonJS Package spec ([v1.0](http://wiki.commonjs.org/wiki/Packages/1.0) & [v1.1](http://wiki.commonjs.org/wiki/Packages/1.1)) as the top level metadata for libraries.  Kris Zyp maintains a [template](https://github.com/kriszyp/commonjs-package-template/blob/master/package.json) that we can start with.

This spec is starting to be used by others and provides a way to spe

[2011-10-27 15:47] jhpedemonte commented on #1105
The big advantage of simply adding a `metadata`/`widgets` prop under `directories` is that we can take an existing library which has a **package.json** and add that line and the metadata directory and it's set for use in Maqetta.

[2011-10-27 16:12] jhpedemonte commented on #1105
An example, of the Dojox Mobile package:

[code]

[2011-10-27 16:45] jhpedemonte commented on #1105
An idea on how to decrease performance hit from multiple network requests: when the client requests the library metadata (package.json), the server can merge multiple library files and send that back instead.  So client would get back one file consisting of the library's package.json, widget.json and library.js (the JS code for the library, formerly "callbacks.js").  We could do similar things whe

[2011-10-27 17:21] JonFerraiolo commented on #1105
Users hardly even will be adding new libraries. It's a .001% event, where the other 99.999% of the time users will either use the libraries that are there by default or use the libraries that were there by default plus a library they added themselves. Therefore, we don't want to punish the world from a performance perspective by doing N different network requests for each widget package with each

[2011-10-27 17:29] peller commented on #1105
taking things a bit further, we shouldn't have to distribute code with our plugins anymore, just a package.json or, I suppose if everything we needed was there, reference to a package.json

[2011-10-27 18:39] JonFerraiolo commented on #1105
Going even further, can't we get rid of our widget library plugins if our server code looks at a particular set of locations for widget package files (ie.., package.json) within a particular site folder, (organization folder depending on if we support organizations), group folder and user folder? The widget package files then could either point to the appropriate JavaScript file within the same se

[2011-10-27 18:46] peller commented on #1105
yup.  Mappings should point at a zip file.  The spec says it should have an "archive" property.  Kris' example uses the "dojo" property?

[2011-10-27 19:02] jhpedemonte commented on #1105
Right, so we should get rid of the JAR bundles we have now and just have a directory of libraries, which have a **package.json** at the top level.  If we want to allow "external" (3rd party libraries), then we can allow the user or the server admin to add a URL that points either to (1) an archive which when expanded contains a directory with package.json at the top-level; or (2) a server location

[2011-10-27 19:25] peller commented on #1105
there is a Mappings/C spec at CommonJS.  Thought that was Kris'.  I'm sure it's morphed and continues to do so.  The example implies that mappings itself is a named map for libraries, perhaps allowing 1-library-to-many archives. (actually, C is the exception... B and D seem to be the ones that work this way)

[2011-10-27 19:26] peller commented on #1105
even the package json itself could be remote, if packaged in a JSONP or AMD manner

[2011-10-27 19:29] jhpedemonte commented on #1105
The **Mappings/C** proposal seems to be the one in use by both Kris and the PINF loader.

[2011-10-27 20:49] billreed63 opened #1106 "Setting mobile device to "none" not presisted"
1) Create new html file
2) Drag drop mobile header
3) Set mobile device to iphone
4) save file
5) Refresh browser, notice that the page is displayed with iphone
6) Set device to none, save
7) refresh browser, notice that the page is still displayed with iphone should be none.

The `data-maqetta-device="iphone"` is not being removed from the `<body>`

[2011-10-27 21:48] #829 closed, assigned to peller

[2011-10-28 01:47] jhpedemonte commented on #1105
What do you guys think about splitting up our current Dojo bundle into 3 separate bundles: (non-widget) **Dojo**, **Dijit** and **Dojox Mobile**?  With the latter 2 having a dependency on the former?

[2011-10-28 01:54] peller commented on #1105
Seems like a good idea, for the reasons you mention.  Does Dojo actually have any 'widget' entries for the palette?

[2011-10-28 02:05] jhpedemonte commented on #1105
No, just Dijit and Dojox Mobile.

[2011-10-28 02:11] peller commented on #1105
Even a better reason to split them out.

[2011-10-28 02:12] jhpedemonte commented on #1105
Actually, the division wouldn't be as clean as I assumed -- we have quite a few non-mobile Dojox widgets.  We support DataGrid and TimeSpinner, but the rest are in the "untested" category.

So really, the divisions would be more like: Dojo, Dijit, Dojox, Dojox Mobile.

[2011-10-28 02:17] peller commented on #1105
dojox will break apart eventually, most often along "subproject" lines, like dojox.mobile.  Some subprojects, like dojox.form or dojox.widget are messy and will probably result in separate packages, and various other widgets are likely to be abandoned.  Splitting out dijit and dojox.mobile for starters seems reasonable.

[2011-10-28 03:01] JonFerraiolo opened #1107 "Review creation date doesn't appear anywhere"
@peller, @jmockler, @EldonReturn

@peller noticed that there is no date information within a review. At least we should put it in the hover tooltip.

[2011-10-28 14:33] JonFerraiolo opened #1108 "Reviewer comment emails should include link to review session"
@EldonReturn, @jmockler

With Preview 3, when a reviewer adds a comment, the author gets an email, but there is no hyperlink to the review session. The author has to dig through old emails to find the original invitation to find the link to the review session. This is highly inconvenient.

Given the consolidation of R&C code with core, I'm not sure how this one will shake out, but logging the issu

[2011-10-28 15:34] billreed63 opened #1109 "Remove browser focus highlight"
The browsers put a highlight around the focused item, dojo widget have their own focus highlight. We should add the
`*:focus { outline: none; }` to devinci.css to remove the browser focus

[2011-10-28 15:53] JonFerraiolo commented on #1109
@peller

I'm not sure about this one. Does Dojo/Dijit recommend setting outline:none for *:focus? What happens with HTML widgets that we have in our UI? (eg., prop palette uses raw HTML widgets)

[2011-10-28 16:01] peller commented on #1109
as I recall, the focus ring, whether native or manufactured, is an important consideration for a11y, so I suspect you'd never see it disabled in applications.   Bill, are you saying there are two focus rings visible?

[2011-10-28 16:22] JonFerraiolo opened #1110 "Review comments put A (hyperlink) elements around text that begins with http:// ?"
@EldonReturn, @waynevicknair

Assigned to me for time being to think this through and make sure it's actually a good idea.

It's common for reviewers to want to reference something on the web (e.g., reference to UI best practices) or link to a snapshot of relevant information. Since review comments are plain text and not rich text, http: references are just text. What I'm thinking is that maybe we

[2011-10-28 16:24] JonFerraiolo opened #1111 "Make sure file dialogs deal with Return and Esc keys properly"
@childsb, @jhpedemonte

(Brought up in phone call today) We are working on tweaks to the New HTML File dialog. As part of those fixes, we need to make sure that the Return key properly maps to the OK button (or equivalent, such as Create or Save) and the Esc key maps to the Close button or close icon ("x").

[2011-10-28 17:20] billreed63 commented on #1109
No, when a dojo widget is selected typically the color if the border around the widget is made a contrasting color... So of the times the browser focus is place around an child dom of the widget. When the user selects a tab for example the focus is placed around the name of the file, just looks a little goofy..

[2011-10-28 18:29] JonFerraiolo commented on #1109
yeah, it might look a little goofy, but I think it's a goofiness that we have to live with.

After seeing Adam's comment, I thought some more about this and the browser focus highlights are essential not only for accessibility but also for normal user usage. Users just plain expect that they can hit tab and cycle through focusable items (UI controls and hyperlinks, mostly), and they expect that th

[2011-10-28 19:06] childsb commented on #937
Fixed with checkin 28a64827e90491de8ae0262286be0f8aee1d058a

[2011-10-28 19:06] #937 closed, assigned to childsb

[2011-10-28 19:28] peller commented on #1110
The only alternatives I can think of, besides doing nothing, are rich text and markdown for actual hypertext.

[2011-10-28 20:24] billreed63 opened #1112 "Mobile theme editor extra credit items"
Dojox.mobile.CheckBox and Radio have a transition state that should be added to the theme editor
I have a UI question mobile checkbox and radio have a "transition"  color.. when the user clicks on the widget it turns a color for about 1 sec then goes to the selected (checked) state...
 Should we let the user change that.. and if yes what should e call the state...

[2011-10-28 20:32] JonFerraiolo opened #1113 "Code cleanup: Context.js:getContentPosition()"
@peller, @jhpedemonte

At some point we should get rid of Context.js:getContentPosition(). As it stands today, it looks like this:

[code]

which amounts to the following:
- if the argument passed in is an event object, then return {x: event.pageX, y: event.pageY}
- else return the obj that was passed in

Seems sort of ridiculous. For the first bullet, just replace the function call with `var posi

[2011-10-28 20:41] billreed63 opened #1114 "Move theme HTML from users workspace to widget toolkit"
The theme HTML should not reside in the users workspace it should reside in the toolkit. just the CSS files should be copied to the users workspace.

[2011-10-29 22:17] JonFerraiolo opened #1115 "Wrong djConfig values, messes up preview in browser"
Assigning to @jhpedemonte because the addition of the modulePaths parameter looks like it might be the cause of this problem, but I could see how any of the following might have been involved: @peller, @jhpdemonte, @childsb, @billreed63

Preview in browser appears to have regressed. When I create a new HTML file, the djConfig values have `&quot;` entities that are almost certainly an error. Look a

[2011-10-29 23:07] JonFerraiolo opened #1116 "Can't add Button if Border section of Properties palette is open"
Intermittent bug. Could reproduce in one session, but in next session I couldn't reproduce. Problem was _radio[0] didn't exist in Cascade.js.
- New HTML File
- Add a DIV
- Set border to 1px solid black, leave Border section of Properties palette open
- Drag/drop a Button

Result=> Exception in dojo, called from somewhere in Cascade.js

If you go to root section of Properties tab, no problem adding

[2011-10-30 09:41] fprijate opened #1117 "Error in maqetta.local.win.bat"
Hi

There is an error in maqetta.local.win.bat.

Wrong quoting in command:

java -Dorg.eclipse.equinox.http.jetty.http.port=%port%  "-Dmaqetta.localInstall=true

Franček

[2011-10-31 02:32] peller commented on #1115
I changed the code to use JSON.stringify to generate the djConfig variable, which quotes property names.  Because they're embedded within double quotes, the quotes themselves are escaped.  The markup looks valid to me, though not all that pretty.

What behavior do you see that's wrong and what steps should I take to see it?

[2011-10-31 03:35] JonFerraiolo commented on #1115
Try preview in browser. Doesn't work for me.

[2011-10-31 03:46] jhpedemonte commented on #1117
@childsb, since you know Win scripts better than I do, can you please take a look?

[2011-10-31 04:20] peller commented on #1115
Works for me.  Any file?  Any browser?

[2011-10-31 05:03] jhpedemonte commented on #1105
Proposal for handling library and metadata packages: https://github.com/maqetta/maqetta/wiki/Library-Packages

[2011-10-31 12:19] peller commented on #1105
Looks good, though I was thinking about maybe adding the metadata files as properties on the package.json file so there would be an explicit reference to find them, rather than using some naming convention for directories.  Perhaps it's as simple as adding two fields in addition to everything you have:

   widget-metadata: './library/metadata/widget.json'

[2011-10-31 14:14] JonFerraiolo commented on #1115
Works for me now, too. I'm not sure what was happening. Maybe this is an intermittent issue, or maybe there was something funky with my environment this weekend.

[2011-10-31 14:14] #1115 closed, assigned to peller

[2011-10-31 14:47] JonFerraiolo commented on #1105
(1) I'm ok with either Adam's proposal for adding fields to point to maqetta metadata files or using a file naming convention. However, I would think it's easier and simpler for developers if we tell them to adopt a naming convention.  Otherwise, it's just yet another field to figure out and fill out. We are already following the naming convention pattern with other things such as _.theme files, a

[2011-10-31 16:11] JonFerraiolo commented on #1111
Assigned to Brad because he has just finished a rewrite of file dialogs

[2011-10-31 16:15] JonFerraiolo opened #1118 "update to latest codemirror"
Listening in on Orion planning call, apparently codemirror has continued to advance, so we should look into whether it makes sense to update our use of codemirror to latest code.

[2011-10-31 16:17] JonFerraiolo commented on #872
@childbs, @waynevicknair

Assigning to Brad because he is involved in #1117

[2011-10-31 16:18] JonFerraiolo commented on #911
Assigning to Brad in case he has cycles. If not, we can reassign to someone else. (@peller, @jonferraiolo?)

[2011-10-31 16:20] JonFerraiolo commented on #910
Assigning to @childsb in case he has cycles. If not, then maybe @peller, @jonferraiolo, @billreed64

[2011-10-31 16:41] JonFerraiolo commented on #464
Push to M5?

[2011-10-31 16:44] JonFerraiolo commented on #795
@jhpedemont: What should we do about this issue with M4? Assign it to someone? Push to M5?

[2011-10-31 16:58] JonFerraiolo commented on #79
@jhpedemonte: Push this to M5?

[2011-10-31 17:12] JonFerraiolo commented on #682
Another factor to consider is the 'width' property for various mobile widgets, such as RoundRectList/ListItem, where 'width' is not set and therefore defaults to "auto". In flow layout and block-level elements, "auto" is pretty much equivalent to 100% and the ListItem extends the full width of the page, but if position:absolute, then "auto" means "as big as the text content". So, absolutely positi

[2011-10-31 17:13] JonFerraiolo commented on #934
@waynevicknair - FYI

[2011-10-31 17:22] JonFerraiolo commented on #1090
OK, I think I see what's happening here. The snapping logic loops through the whole document to find candidate snapping points for left, center, right, top, middle, bottom alignment. There is a single winner in x and a single winner in y, where the winner is the snap line with smallest delta from current mouse location. A new snap line is the winner only if its delta is less than the previous winn

[2011-10-31 17:25] JonFerraiolo commented on #992
Need to retest once #1078 is resolved

[2011-10-31 17:35] peller commented on #1105
Good point.  JS does not preserve property order.  In reality, most implementations do, but the spec does not.

[2011-10-31 17:51] JonFerraiolo commented on #943
Assigned to @jhpdemonte because it was unassigned and related to reloading doc when "fixed" property is changed.

[2011-10-31 17:52] JonFerraiolo commented on #953
Maybe reassign to @waynevicknair as part of phase 2 work with integrating R&C into core?

[2011-10-31 17:53] JonFerraiolo commented on #924
@jhpedemonte: weren't you working on getPropertyValue helper function? Does this bug relate to any of that work?

[2011-10-31 17:57] JonFerraiolo commented on #54
@peller: you working on this? If not, please reassign to me. I'll be rolling up sleeves and fixing a bunch of stuff in this area in coming weeks.

[2011-10-31 18:00] JonFerraiolo commented on #1105
so we need to use an array instead of an object

[2011-10-31 18:05] billreed63 opened #1119 "Drag and Drop DataGrid internal error"
When I drag and drop any widget with a data store I get internal error message

[2011-10-31 18:06] waynevicknair commented on #953
surely, i'd be happy to work on and coordinate efforts for this issue.

[2011-10-31 18:06] billreed63 commented on #1119
This is a regression caused commit 307b86fc4afa151fd47ca2abbb428090d976b4e8
if data.data is an instance of array dojo.mixin({},data.data) returns an instance of object dojo.clone returns instance of array

[2011-10-31 19:27] jhpedemonte commented on #464
Yes, I'm fine with pushing to M5.  I think this bug needs to come under the umbrella of overall UI enhancements.

[2011-10-31 19:28] jhpedemonte commented on #795
I'd like to investigate this week, but may get pushed to later milestone.

[2011-10-31 19:35] jhpedemonte commented on #1105
Note that the file is **JSON**, not **JS**.  So order is significant.  (JSON != JS)

[2011-10-31 19:41] jhpedemonte commented on #924
I basically checked in code similar to your patch: changed code to call a **getPropertyValue** helper function, but commented out existing helpers since they haven't been tested.  The one helper function still calls in to **_getPropertyValue**.

As I've stated before, I don't like the OO/inheritance model for helpers because it shifts control of the program flow to the helpers.  The current situat

[2011-10-31 21:02] jhpedemonte commented on #1105
The Packages spec doesn't mention any naming conventions.  However, the "metadata" property is used for both the OAM metadata and the Maqetta metadata ("widgets.json").  For the OAM metadata, there is no single file, but a collection, mimicking the directory structure of the library files.  For these reasons, we should leave it pointing to a directory in the package.

Issue (2): I don't think it r

[2011-11-01 01:24] peller commented on #1119
1ace246cd72acdc05648fc5119b0304983f9b400 Undoing Javier's undo of my commit (!) replacing with mixin+concat combo

[2011-11-01 01:24] #1119 closed, assigned to peller

[2011-11-01 11:48] peller commented on #1105
Confused on the ordering issue.  If you're going to use read/write the JSON file using JS data structures and JSON.stringify/parse, you're not going to be able to preserve order.  You could go out of your way to handle the order of these strings in a JSON file, but it would require special logic, no?  Seems like that would be very awkward.

[2011-11-01 14:38] JonFerraiolo opened #1120 "Silhouette OBJECT width/height: round up to next whole pixel"
Sometimes I'm seeing scrollbars on the OBJECT for the silhouette SVG. It appears to be due to having non-integer values for width or height, such as 512.6999px. Rounding up to next highest integer (e.g., 513) seems to cause scrollbars to disappear.

Note that there is an apparent bug in WebKit where in some cases scrollbars appear even if overflow is set to hidden.

[2011-11-01 16:19] jhpedemonte commented on #1105
No, you are right -- JSON is converted into JS, where ordering of object properties is unspecified.  We should bring it up, maybe contact Kris about it.

[2011-11-01 17:11] JonFerraiolo commented on #242
Given Priority-Medium because we want to leverage menus within widget-specific properties to show possible view ids within dropdown menu for 'moveto' property, and then leverage this feature for other properties, particularly 'id' (show list of permanent IDs in doc: #249), 'class' (show list of classes in doc: #247) and 'href' (#1044)

[2011-11-01 17:12] JonFerraiolo commented on #249
@childsb

[2011-11-01 17:13] JonFerraiolo commented on #1044
@childsb

[2011-11-01 17:17] JonFerraiolo opened #1121 "moveTo property needs a dropdown menu showing list of Views"
@jhpedemonte, @childsb

The moveto property should have a dropdown that shows a list of IDs for View, ScrollableView and SwapView widgets, versus having users have to remember the IDs they used.

[2011-11-01 17:30] JonFerraiolo opened #1122 "*List UI consistency"
@billreed63, @jhpedemonte

This is a UI research bug for @jonferraiolo.

In creating mobile UIs, I find it confusing that double-clicking on an "item" within a RoundRectDataList shows me all of the items in the list, but if I have a RoundRectList and double-click on an item, I only get smart input for that one list item. Also note that many other Dijit widgets have smart input work on the complete

[2011-11-01 18:31] jhpedemonte commented on #1122
What about single click? Would that still select a single ListItem?  This is necessary to change the properties of the individual items.

[2011-11-01 20:18] JonFerraiolo commented on #1122
I think we need to try things out before we'll know for sure which way is the best to go, but my thinking now is:
- single-click on ListItem selects the ListItem
- double-click on ListItem brings up smart input for ListItem's parent

If anyone else has alternate ideas, please speak up.

[2011-11-01 21:32] childsb commented on #982
fixed by marking library folders read only and preventing new files in read only folders.

[2011-11-01 21:32] #982 closed, assigned to childsb

[2011-11-01 21:32] childsb commented on #981
fixed by marking library folders read only and preventing new files in read only folders.

[2011-11-01 21:32] #981 closed, assigned to childsb

[2011-11-01 23:47] JonFerraiolo opened #1123 "M3 -> M4 migration scripts"
@jhpedemonte, @waynevicknair, @childsb, @billreed63, @peller

Assigning to @waynevicknair by default, but given that the big change from M3->M4 is with themes and theme sets, @billreed63 will have to be involved.

@peller: will the changes to AMD require anything in the M3->M4 migration script?

[2011-11-02 00:14] JonFerraiolo commented on #1008
Changed to Priority-Medium because I expect this is a trival fix (e.g., opacity:0 on the dialog)

[2011-11-02 00:16] JonFerraiolo commented on #872
Changed to Priority-Medium because it seems dangerous to not keep the launch scripts in sync across different platforms.

[2011-11-02 00:18] JonFerraiolo commented on #834
@waynevicknair

Set to Priority-Medium at least to put some cycles into studying this issue to determine how bad this problem is, and suggest what changes we should make.

[2011-11-02 00:20] JonFerraiolo commented on #173
Reset priority to low because all new features for M4 except mobile theme editor are getting lower priority than bug fixes.

[2011-11-02 00:22] JonFerraiolo commented on #811
I set this to Priority-Low for M4. Things seem to be working for most cases as is.

[2011-11-02 00:37] JonFerraiolo commented on #162
Moved to M4. I've run into this issue myself when using Maqetta. It's common that people will include <img> elements and common that HTML files will be transferred to a different system or user workspace.

[2011-11-02 00:46] JonFerraiolo commented on #1045
This bug goes beyond read-only and says that certain directories might allow users to edit some files (e.g., css files), but maybe not allow saving of HTML files. That part of this bug is questionable about whether we should include special code to disallow HTML files into particular folders while allowing other file types. My thinking now is that read-only support is sufficient for time being and

[2011-11-02 01:26] JonFerraiolo commented on #267
I put this as low priority for M4 - not absolutely essential, but a good percentage of users use the download as ZIP feature.

[2011-11-02 01:27] JonFerraiolo commented on #261
Could be reassigned to others.

[2011-11-02 01:30] JonFerraiolo commented on #256
If this bug still exists, it would be in the w3 project. Set to M4 just to make sure that if this bug still exists it will get addressed for M4.

The generalization of this bug is that we should carefully compare w3 project against latest maqetta.org server code to make sure all fixes are in the w3 project.

[2011-11-02 01:31] JonFerraiolo commented on #255
Only fix for M4 is super easy and super safe, otherwise push to M5.

[2011-11-02 01:53] JonFerraiolo commented on #246
Priority-Medium to investigate to see if it still exists. If it still exists, then we need to assess the priority for fixing it.

[2011-11-02 01:54] JonFerraiolo commented on #243
Put this as low priority for M4 only because it's embarrassing that we haven't fixed this yet, but OK to push to M5 if we can accept the shame for that long.

[2011-11-02 01:55] JonFerraiolo commented on #239
Reassigned to Wayne, set milestone to M5.

[2011-11-02 01:59] peller commented on #1123
@billreed63 suggested we might need to migrate the dojo-theme-editor.html templates to pick up the AMD-style declarations.  I suppose our stock themes would get fixed by reference, but any cloned themes would have a copy of the old dojo-theme-editor code with non-AMD declarations, right?  It's possible we could put some sort of sniffing code in to load old themes in synch mode.  Is it even worth d

[2011-11-02 02:04] JonFerraiolo commented on #225
We had recent discussion in and around this issue as we debated the merits of https://github.com/maqetta/maqetta/wiki/Foundation-data-structures#wiki-Sites_organizations_groups_and_users.

One idea mentioned during the discussion is that permissions management belongs in a "user workspace management service" that plugs into Maqetta, where perhaps Orion will provide the one we ship by default. Neve

[2011-11-02 02:06] JonFerraiolo commented on #6
@waynevicknair

Flagged this as a nice-to-have for M5. This is a pretty big topic.

[2011-11-02 02:08] JonFerraiolo opened #1124 "Foundation data structures"
(Maybe this needs to be broken into multiple separate issues)

At some point we need to finalize ours strategies around the topics listed at:

https://github.com/maqetta/maqetta/wiki/Foundation-data-structures

and then implement our decisions.

[2011-11-02 02:11] peller commented on #162
so the HTML source seems to do the right thing, it's just the properties palette that's broken?

[2011-11-02 13:14] billreed63 commented on #1024
ToolbarButton -  is an oversight, It can only be dropped on a heading so I will make it a sub widget of header
slider - I has hopping slider could slide into the extra credit bag???
ContentPane - ContentPane currently has no styling rules in mobile themes,
FixedSpliter/fixedSplitterPane - extra credit??
Overlay - is currently in untested is this correct? extra credit?

So I am thinking I update th

[2011-11-02 13:18] billreed63 commented on #1024
Update UI to this design
 http://maqetta.org:55556/maqetta/review/jferrai@us.ibm.com?revieweeuser=jferrai@us.ibm.com

[2011-11-02 15:04] billreed63 commented on #1024
depends on #1091

[2011-11-02 15:42] childsb opened #1125 "security: restrict access in single user mode to localhost"
"Single user mode" leaves the users workspace unrestricted open to the the adjacent network.  Single user mode should either be removed or incoming request checked that they come only from localhost.

Another option is firewall blocking the maqetta port from outside connections.

[2011-11-02 15:45] childsb opened #1126 "security: remove the OSGi console port"
The launch scripts bind the OSGi console to a port.  A user could discover the port and disable/remove the server or possibly other things.

[2011-11-02 15:46] JonFerraiolo commented on #380
@waynevicknair, @childsb: this was the issue I mentioned on today's call. Last I looked, we have heartbeat logic to update server every N seconds. I think we should update server with each change instead. We'll need this if we get into true collaborative authoring where multiple people are working on same doc at once. Also, we really need to update review/commenting so that if person A adds a comm

[2011-11-02 15:52] childsb opened #1127 "security: check username when creating new users"
The createUser command does not validate the users name, but uses it for the base user directory.

An attacker could bypass the client side user name check, and create 1 or many users outside of the base user directory by supplying "../../something".

NOTE: the user woudln't have access to the folder, but could blow up the server file system with junk.

[2011-11-02 15:52] childsb opened #1128 "security"
-- moved internally --

[2011-11-02 15:54] childsb opened #1129 "security: path traversal in file upload"
Uploaded file paths aren't validated, and could be manipulated to over ride arbitrary files on the server including the user list, or system files.

[2011-11-02 15:55] childsb opened #1130 "security: copy file/folder doesn't check path"
The copyTo location isn't validated in the file copy command.  A user could use this to replace arbitrary system files with files from their workspace.

[2011-11-02 15:58] childsb opened #1131 "Security: path traversal and null byte injection in GetPreferences command"
User could pass in ../../.. as "base" in savePreferences escaping from the current diretory and inject a null byte at the end of the path-parameter in orter to escape the attached .settings direrectory..  this could be used to access arbitrary files on the server.

[2011-11-02 15:59] childsb opened #1132 "Security: SetPreferences command"
The set preferences command does not path check, and could allow a user to escape the user directory and modify arbitrary files on the server.

[2011-11-02 16:00] childsb opened #1133 "Security"
Moved to internal bug 7865.

[2011-11-02 16:01] childsb opened #1134 "Security: Path traversal in Rename command"
The rename command doesn't validate targetFile name.  An attacker could use this to escape the current directory and modify server files.

[2011-11-02 16:03] childsb opened #1135 "Security: email spamming"
The review and commenting feature doesn't prevent or limit the number of reviewers or the amount of email a user could send.  A malicious user could use this to send large amounts of email to lots of users.

[2011-11-02 16:04] childsb opened #1136 "Security: arbitrary removal of user resources"
The RemoveUser command doesn't require any type of validation.  A malicious user could use this to remove users and their workspace from the server.

[2011-11-02 17:28] peller commented on #380
we probably want both, right?  Can we just keep the heartbeat and check a dirty bit before writing?

[2011-11-02 17:47] peller opened #1137 "DropDownButton popups (Menu) is visible on reload"
Create a DropDownButton.  The menu is constructed inside it and is hidden on the outline view.
Save, close, and reopen the file.  A div with the menu is visible on the outline at the bottom of the outline view.  This is an implementation detail, where Dijit constructs a top-level popup widget.  It should be hidden from the user.  The code in DropDownButton.create only seems to work on the initial

[2011-11-02 19:29] #1045 closed, assigned to childsb

[2011-11-02 19:58] jhpedemonte commented on #242
Brad, what Jon wrote above is correct:  if `unconstrained` is false (its default value), then the user can only choose from the list; if true, users can enter their own value.

Note also that the [OAM spec](http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Datatypes#options_element) allows for a `multiple` attribute, where if it is set to true, the user can choose more than o

[2011-11-02 20:47] #242 closed, assigned to childsb

[2011-11-02 21:39] waynevicknair commented on #1091
fixed with commit 9dd0ff35c9

[2011-11-02 21:40] JonFerraiolo commented on #162
After further investigation, updated bug title and bug report, and lowered priority to low.

[2011-11-02 21:52] peller commented on #162
Ok, but note also that even for the drag/drop case, the properties palette has the wrong (absolute) url.  Don't know if this is related or a separate bug.

[2011-11-02 22:07] JonFerraiolo commented on #162
Yes, you are right, properties palette is showing the wrong value. Both problems are probably because the browser gives the absolute value when doing getAttribute('src'). In the case, perhaps the model comes to the rescue? I would guess the model is storing relative values because that's what we see in source view.

[2011-11-03 01:33] peller commented on #162
getAttribute from the browser returns the url as-is, not absolute unless that's the way it's specified in the markup.  Perhaps it's the other way around, that our model has an absolute url?

[2011-11-03 02:50] JonFerraiolo commented on #162
Ah, it's the 'src' property on HTMLImageElement that holds an absolute URL. Therefore, we should use `getAttribute()` instead of ``elem.src`.

[code]

shows: `img.src=file:///Users/jonferraiolo/play/thumb-ibm.gif,img.getAttribute("src")=thumb-ibm.gif`

[2011-11-03 02:55] JonFerraiolo commented on #1120
Fixed by a32cb303fa

[2011-11-03 02:55] #1120 closed, assigned to JonFerraiolo

[2011-11-03 03:14] #1116 closed, assigned to JonFerraiolo

[2011-11-03 03:24] peller commented on #162
good catch!

[2011-11-03 03:31] jhpedemonte commented on #380
Isn't that a bit excessive?  Having a timer go off every N seconds all the time?  Even if the user isn't doing anything that requires saving.

Why not create a timer for X ms, whenever a change is made.  If a timer already exists, don't create.  Timer goes off, sends save to server and is destroyed.  Afterwards, another change recreates the timer.  Of course, downside of this approach is creation/

[2011-11-03 03:40] peller commented on #380
The cost of a timer firing and running a no-op certainly isn't that high, and performance when there's no user interaction isn't a priority anyway.  It's not immediately obvious to me that it's worth avoiding a single, long-lived timer.  It's certainly simpler to code.

[2011-11-03 13:45] billreed63 opened #1138 "Exit without saving deletes css file"
1) Create new theme
2) Change background color
3) close theme editor click ok exit without saving...

reopen theme editor notice no theme.. Look in uers work space and theme css file is missing

I did this on my themeEditorBranch with the android theme, but we need to ensure this does not happen on the master

[2011-11-03 13:58] peller commented on #1138
I see this happen for all file types, on master

@childsb

[2011-11-03 14:13] billreed63 commented on #1091
I am still seeing a problem,
on the master branch..

1) Clone the android theme (a1)
2) In theme editor select the view and change the background color
3) Save the theme

In the users work space look at the a1.css file all the @keyframes... are gone and at the bottom of the file I see

@ undefined

[2011-11-03 14:22] billreed63 opened #1139 "Cloned theme read only on fist create"
1) Create new user
2) Clone android theme (a1)
3) Select view and change background color. You should see the message about the theme being read only

If you look in the file exploer you will notice the theme folder and a1 folder are both read only (grayed out), if I refresh the browser the a1 themes and a1 folder are now read/write (not grayed)...

[2011-11-03 14:38] billreed63 commented on #1024
Hi Bill,
I've been poking around and discovered that there are actually 2 different vision stylings for TabContainer defined in the Claro theme. There is the default styling (what we are using today in Maqetta) and then there is an alternate "nested:true" styling (i.e., the styling you get if property nested:true is passed to widget constructor). When we talked with Janet and Julie in the past, th

[2011-11-03 14:40] JonFerraiolo commented on #1138
Assigned to @billreed63 so that someone is assigned. @billreed63, if you want to pass onto someone else, go ahead.

[2011-11-03 14:50] waynevicknair commented on #1091
weird. bill, can you test it with this small test case:
@-webkit-keyframes mblScaleInOut {
    from { -webkit-transform: scale(1.0); }
    to   { -webkit-transform: scale(1.0); }
}

@-webkit-keyframes mblScaleInIn {
    from {
        -webkit-transform: scale(0.0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}

@-webkit-keyframes mblScaleInIn

[2011-11-03 14:54] JonFerraiolo opened #1140 "_Tool.js "target" rect not updated after moving widget with arrow keys"
- New HTML File
- Absolute positioning
- Add a Calendar
- Click on Calendar to select (actually, this step is needed because of another issue having to do with keyboard focus)
- Put mouse over Calendar
- Hit left arrow key a few times

Result=> faint gray rectangle created by _Tool.js:setTarget() doesn't get updated in response to arrow keys.

[2011-11-03 15:00] childsb commented on #1138
bill - do you have additional info? i can't recreate this on master.

[2011-11-03 15:17] waynevicknair commented on #1091
yep. i didn't code for the nn% case.

[2011-11-03 15:22] billreed63 commented on #1098
Dup of #560

[2011-11-03 15:22] #1098 closed, assigned to childsb

[2011-11-03 15:24] billreed63 commented on #560
mobile relies heavily on   on gradients

background-image : -webkit-gradient(linear, left top, left bottom, from(#ad7500), to(#ffaa00), color-stop(0.06, #ffb200), color-stop(0.5, #ffc700));

[2011-11-03 15:47] billreed63 commented on #1138
I just recreated on the master windows chrome

1) create new user
2) new html file (file1.html) DO NOT SAVE
3) new html file (file2.html) DO NOT SAVE
4) new html file (file3.html)
5) Drop button on fille3.html
6) Save file3.html (leave file1 and file2 dirty)
7) Refresh browser
8) close file3.html tab, click "ok" for exit without savinging
9) look in users workspace file is gone...

[2011-11-03 15:50] JonFerraiolo opened #1141 "css3 gradients"
@childsb, @billreed63

Assigned initially to @jonferraiolo to figure out UI issues

background-image : -webkit-gradient(linear, left top, left bottom, from(#ad7500), to(#ffaa00), color-stop(0.06, #ffb200), color-stop(0.5, #ffc700));

[2011-11-03 17:09] peller commented on #1138
it seems the _editorSelectionChanged code is getting triggered.  I need to look at why.  Meanwhile, I backed out a change which probably caused this regression 37c8f9a69663e7ce6f6ab162f0211bc42b0ab205

[2011-11-03 20:11] JonFerraiolo opened #1142 "HTML5 appcache info in user-created HTML files"
@peller, @jhpedemonte

During a presentation/demo of Maqetta mobile authoring features today, there was a request that Maqetta export deployable zero-install mobile apps that have good performance in a mobile browser, and to achieve that, that Maqetta generate the HTML5 appcache information (manifest attribute?) so that when the mobile app is deployed it will be stored in the offline cache.

Assig

[2011-11-03 20:32] JonFerraiolo opened #1143 "dojox.mobile.app support"
@peller

I haven't studied dojox.mobile.app so I don't know how feasible it is to add authoring support in Maqetta, but nevertheless there is a lot of interest in this.

[2011-11-03 21:00] peller commented on #1142
It's a simple as maintaining a manifest file and referencing it from the HTML.  The manifest file looks a lot like the require list, just with a different syntax. What would be challenging about it I think, from our perspective, is (1) managing what would be a separate file and (2) serving it up with the special MIME type (always a pain)  I guess we could just generate the file and leave it up to

[2011-11-03 21:06] JonFerraiolo opened #1144 "overflow:hidden on BODY for dojox.mobile"
@peller, @jhpedemonte, @billreed63

Assigning to me with Priority-Medium just to investigate.

Try these steps on Chrome:
- New HTML File
- set device to iPhone
- Add a View
- Add a RoundRectList

Result=> vertical scrollbar appears

The reason for the scrollbar is that overflow:y is not set to hidden by any of the stylesheets and the UL on the RoundRectList has the following assigned to it:

[cod

[2011-11-03 21:25] jhpedemonte commented on #1142
Agreed with most of @peller's concerns.
1. Assuming we do support the manifest file, it should be a file in the user's project and we should have an editor for it (probably just the regular text editor, not sure if we need to do anything special for manifest files).
2. Once created, we'll have to keep the file up to date based on additions/subtractions.  It's more work, but it's a better UX than h

[2011-11-03 21:33] JonFerraiolo opened #1145 "ListItem should stuff value as child content rather than label attribute"
@billreed63, @peller

Assigning to @jhpedemonte because @billreed63 is all booked up, but @jhpedemonte might be all booked up, too.

Remember we had issues with one of the first Preview 3 users with ListItem using 'label' attribute instead of child content? But besides the flakiness we saw with 'label' attribute, there is another reason for putting text content as innerHTML instead of within attri

[2011-11-03 21:48] JonFerraiolo commented on #1142
Adding @childsb because some of this discussion relates to his knowledge:

My follow-on comments:
- Couldn't updating the manifest happen at the same time as triggering a build? There were 3 simultaneous requests around deployment and performance: (1) AMD, (2) appcache, and (3) build
- Regarding mime type for manifest, we could add that to our server, and then have documentation about that issue f

[2011-11-03 21:49] JonFerraiolo commented on #1142
One more thing - now that we have scoped the issue, who wants this bug?

[2011-11-03 21:56] JonFerraiolo commented on #1142
IBM article: https://www.ibm.com/developerworks/mydeveloperworks/blogs/94e7fded-7162-445e-8ceb-97a2140866a9/entry/draft_enable_html5_offline_web_application_with_dojo_1_716?lang=ko

[2011-11-03 22:11] JonFerraiolo opened #1146 "ListItem properties rightIcon and rightIcon2"
In the source code for dojo1.7b2, I see that ListItem has properties rightIcon and rightIcon2, and I see code that seems to implement those properties. However, those two properties don't appear in the Properties palette.

This issue was spurred by a user request - the user needs 2 right-side icons.

[2011-11-03 22:21] JonFerraiolo opened #1147 "Widget-specific properties can bring up color picker or file picker"
@jhpedemonte

@childsb: if we have a widget-specific property that holds a color value, will the widget-specific property bring up the color picker and show the proper color dropdown menus? If not, can we add that? Same thing for properties that hold a URL value - can we have the same file picker that we have for background-image?

The obvious question is how does one tell that a particular proper

[2011-11-04 00:35] peller commented on #1143
I'm not sure how much is being invested in app or what shape it's in, but it's a radically different authoring environment.  We should get an update from the authors.

[2011-11-04 00:38] peller commented on #1142
I guess it would be me, though I'd consider the other optimizations to be higher priority.

[2011-11-04 01:18] jhpedemonte opened #1148 "Add support for remaining Dojox Mobile widgets"
**Overlay** is #520.  Any remaining Dojox Mobile widgets?

[2011-11-04 01:19] JonFerraiolo commented on #1142
Thanks for taking this one. (Sucker! :-)

[2011-11-04 01:19] jhpedemonte commented on #1148
**ProgressIndicator** is #462.

[2011-11-04 01:28] jhpedemonte commented on #586
Based on last comment, updated title to be more general (not just silhouettes).

[2011-11-04 01:29] jhpedemonte commented on #586
cc @waynevicknair

[2011-11-04 01:32] jhpedemonte commented on #778
Also an issue with **app.css** (in addition to **theme editor** changes).

---

Moved this to M4, assigned to Adam for now.

[2011-11-04 01:46] jhpedemonte commented on #178
@childsb

Users have requested a solution for the **Developer to Designer** workflow (as opposed to the designer to developer workflow that Maqetta already supports).  A big part of that is the ability to bring in an arbitrary page and make it somewhat usable to a designer.

A couple of ideas:
1. Only provide a subset of Maqetta features for these types of pages.  Whatever would make sense in this

[2011-11-04 01:50] jhpedemonte commented on #398
For M4, we should handle some of the HTML5 widgets as mentioned in the previous comment (**input, select, button**, etc).

[2011-11-04 01:56] jhpedemonte commented on #208
Dupe to #1039, which has more info.

[2011-11-04 01:56] #208 closed, assigned to JonFerraiolo

[2011-11-04 02:01] jhpedemonte opened #1149 "Support dropdown menus in toolbars"
Add support for drop down menus in the Visual Editor toolbars.

(See #1039 for a specific situation where this feature _may_ be useful.)

[2011-11-04 02:05] jhpedemonte commented on #1
See #276, which suggests moving Preview to a tab within Maqetta itself, rather than a separate browser tab.

[2011-11-04 02:33] jhpedemonte commented on #1030
@childsb, what's the current status of this?  I thought it was only available if a preference was set, but I don't see that preference.

[2011-11-04 02:34] jhpedemonte opened #1150 "Support more jQuery widgets (start w/ jQ Mobile)"

[2011-11-04 02:39] jhpedemonte opened #1151 "Clean up Helpers/CreateTools/SmartInputs and formally document"
Also see #874.

[2011-11-04 02:44] jhpedemonte commented on #165
Dupe of #844.

[2011-11-04 02:44] #165 closed, assigned to nobody

[2011-11-04 02:47] jhpedemonte opened #1152 "Script for building JS library metadata/helpers"
We may not want to merge the code into a _single_ file, but some merging would help.

[2011-11-04 02:48] jhpedemonte commented on #844
Also see #1152.

[2011-11-04 02:48] jhpedemonte commented on #844
Put this at M4/low-priority for investigation, but most likely will get pushed to M5 (if so, up priority to medium).

[2011-11-04 02:53] jhpedemonte opened #1153 "Properties view makeover"
Redo Properties view in order to improve usability.  Notably, cut down on back and forth.

[2011-11-04 03:15] peller commented on #1145
It's unclear from the request whether fixed item height is acceptable across the list

[2011-11-04 03:19] peller commented on #1152
or, find references for modules you need and turn it into a require() call.  Let AMD do the rest.

[2011-11-04 03:59] jhpedemonte commented on #433
What's the status on this one?  What's left?

[2011-11-04 04:01] jhpedemonte commented on #200
So is the point of this bug to support the [DateTextBox](http://docs.dojocampus.org/dijit/form/DateTextBox) widget?

[2011-11-04 04:08] jhpedemonte commented on #1013
Dupe to #778.  Reopen if that's incorrect.

[2011-11-04 04:11] jhpedemonte commented on #1070
Dupe to #1025.

[2011-11-04 04:11] #1070 closed, assigned to billreed63

[2011-11-04 04:13] jhpedemonte commented on #1025
In #1070, @peller wrote:

[2011-11-04 04:23] jhpedemonte commented on #750
I think this is too risky for M4.  Pushing to M5 and raising priority to high.

[2011-11-04 04:35] jhpedemonte commented on #1014
This might be fixed by fixes for #1011.  Need to investigate.

[2011-11-04 04:41] jhpedemonte commented on #917
SpinWheel error fixed in latest Dojo 1.7 release.

[2011-11-04 04:41] #917 closed, assigned to jhpedemonte

[2011-11-04 04:42] jhpedemonte commented on #588
Works for me.

[2011-11-04 04:42] #588 closed, assigned to jhpedemonte

[2011-11-04 04:58] jhpedemonte commented on #148
Now that #224 has been fixed, we have metadata (`allowedChild`/`allowedParent`) that provides the necessary information.  Need to fix **Outline** view to make use of this info.

[2011-11-04 05:05] jhpedemonte commented on #1147
Do we have any widgets that could make use of this now?  If not, I say push this to M5.

[2011-11-04 05:11] jhpedemonte commented on #1152
That's an interesting proposition.  I guess we would create a AMD-based JS file for the build profile and build/optimize using something like [RequireJS's r.js](http://requirejs.org/docs/optimization.html).  Dojo has a similar AMD-based build/optimize tool?

[2011-11-04 05:22] peller commented on #433
need to put in a closebox and icon.  That's a feature enhancement on toaster and would either have to be monkey-patched in somehow, or filed as a separate ticket at dojo to wait for Dojo 1.8.

[2011-11-04 05:25] peller commented on #1152
yah, that's pretty much what the Dojo build tool we're using does.  But what I'd like to see, eventually, is use of something more like [zazl's](http://www.zazl.org/) loader (Richard Backhouse is working on converting it to use AMD) to dynamically build the layers we need.

[2011-11-04 05:39] peller commented on #200
no.  Perhaps Jon is asking for functionality that was rumored to be added to DateTextBox widget (ORIA team) but never happened.  It might also be possible to use a DropDownButton with a Calendar.

[2011-11-04 05:44] peller commented on #750
What's the motivation for doing this, again?  If it's just the popup wrapper div on dropdownbutton, I think we ought to pursue bill's workaround (which seems to fail on reload for some reason) see #1137

[2011-11-04 13:00] peller commented on #1138
the file is no longer deleted, but it still shows up dirty, even immediately after reloading the browser.   Assigning to @childsb for further investigation.

[2011-11-04 13:08] peller commented on #1014
works for me

[2011-11-04 13:08] #1014 closed, assigned to jhpedemonte

[2011-11-04 14:52] peller commented on #200
So @JonFerraiolo, are you ok with enabling DropDownButton to host a Calendar as a popup?  That's the Dijit way to do this.  We'd then need to support rich text / images within the DropDownButton, something I think we're discussing elsewhere...

[2011-11-04 15:50] JonFerraiolo commented on #1054
Users have given feedback that this is something they want to have Maqetta support. It's a common authoring requirement. However, the discussion above shows that including support for this in Maqetta is much easier said than done.

[2011-11-04 16:02] JonFerraiolo opened #1154 "dijit.Menu widget support"

[2011-11-04 16:02] JonFerraiolo opened #1155 "dijit.Tooltip widget support"

[2011-11-04 16:02] JonFerraiolo opened #1156 "dijit.Dialog widget support"

[2011-11-04 16:03] JonFerraiolo opened #1157 "dijit.TooltipDialog widget support"

[2011-11-04 16:05] jhpedemonte commented on #1152
Should be able to do layers using **dojox.app** or **wire.js**.

[2011-11-04 16:07] jhpedemonte commented on #750
We've run into several issues now which are caused by code depending on the VE DOM rather than the Model.  Instead of continuing to add workarounds, we should just do the right thing.

[2011-11-04 16:23] JonFerraiolo commented on #750
@jhpedemonte: what are you thinking exactly in this case? Right now we use `dvwidget.getChildren()` as the main API for traversing the widgets that are listed in the Outline palette and used elsewhere in the application (e.g., the dynamic grid lines also uses that API). Are you thinking that we rewrite the logic in `dvwidget.getChildren()` to use the model instead of the iframe's DOM, or are you t

[2011-11-04 16:24] peller commented on #1152
with AMD, the requires are batched in the code.  A clever loader would take that and generate a single request, rather than multiple ones, coupled with a server that could do the concatenation/minimization on the fly (and cache the results)  Yes, we could continue to build what we think are the right static layers to cover the important cases, in the meantime.

not sure how this relates to dojox.a

[2011-11-04 16:32] JonFerraiolo commented on #200
I looked into this issue. I believe the short-term priority here is to what @jhpdemonte speculated above:

So is the point of this bug to support the [DateTextBox](http://docs.dojocampus.org/dijit/form/DateTextBox) widget?

What this bug was about was that users seldom put a Calendar widget onto a page and instead they put another widget or icon onto page which when clicked on brings up the Calend

[2011-11-04 16:37] JonFerraiolo commented on #433
I moved this to Priority-Low for M4. Lots of other things are more important, right?

[2011-11-04 16:39] JonFerraiolo commented on #1147
File picker would be useful for the icon properties for ListItem. I would guess that >50% of users will want to put icons on the ListItems. As things stand now, they have to type in the URL, and know that for the icon properties you just type the path to the icon, whereas for background-image you use CSS's funky syntax (url(...)). I suggest leaving it as Priority-Low for M4 for time being.

[2011-11-04 16:41] JonFerraiolo commented on #148
I moved this to Priority-Low for M4 thinking that other bugs are more important.

[2011-11-04 16:43] JonFerraiolo commented on #778
Whoever fixes this bug, make sure that #1013 is indeed fixed as a result of fixing this bug.

[2011-11-04 16:46] JonFerraiolo commented on #1145
@peller, given your comment, could you please ask the dojox.mobile guys about 2 things: (1) do they see any issues with dojox.mobile 1.7 if a user puts multiline text within a ListItem child content and assigns a specific 'height' and 'line-height' to a specific ListItem? (2) Any chance they can support multiple line values in ListItems down the road, where second line has smaller text?

[2011-11-04 17:15] JonFerraiolo commented on #1076
Fixed by ec558dd2a713158f7ac43d421912b29d63a3636c

@childs: please review the commit and search for "preference" to see the fixes I added for preference saving.

[2011-11-04 17:15] #1076 closed, assigned to JonFerraiolo

[2011-11-04 17:19] JonFerraiolo commented on #1017
Move to Priority-Low because this bug is actually fixed and only left open to review other parts of code to see if the fix needs to be propagated elsewhere.

[2011-11-04 17:25] JonFerraiolo commented on #924
@jhpedemonte: Reassigned to you since you were just in the getPropertyValue area. I'm pretty sure this can be closed now, or at least pushed to M5 if we want to leave it open as a reminder for code cleanup. I see that you commented out the older (vestigial) getPropertyValue() helper functions in ButtonHelper, CheckBoxHelper, etc.

[2011-11-04 17:26] JonFerraiolo commented on #694
Reassigning to @childsb - you are doing this, right?

[2011-11-04 17:57] JonFerraiolo opened #1158 "Review/commenting strategy for overlay widgets"
@peller, @jhpedemonte, @waynevicknair

We need a UI strategy and implementation strategy for how overlay widgets will work in review/commenting.

Related to #586, which includes what to do about mobile View widgets.

[2011-11-04 18:25] JonFerraiolo opened #1159 "app.css shows read-only"
I pulled this morning and app.css is grayed out in the Files palette. However, I can double-click on it and change the contents.

[2011-11-04 18:29] JonFerraiolo opened #1160 "Can double-click on read-only JS files in lib/dojo but no content shows"
@peller, @waynevicknair

After pulling code this morning, I see that ./lib/dojo is read-only, but I can navigate into ./lib/dojo/dojo and double-click on the JS files (e.g., dojo.js). A text editor opens, but contains no content.

[2011-11-04 18:37] peller commented on #200
Ok then, should we change the issue to "support DateTextBox"?  Does anyone know the status Cindy had on this widget?

[2011-11-04 18:40] peller opened #1161 "DropDownButton needs to accommodate TooltipDialog in SmartInput"
@billreed63, @jonferraiolo

Right now, it assumes dijit.Menu as a child

[2011-11-04 18:41] peller opened #1162 "Support generic types in DropDownButton popup"
DropDownButton should be able to accommodate any sort of widget in its popup, such as a dijit.Calendar

See #200, #1161

[2011-11-04 18:44] peller commented on #1157
see also #1161, #1162

[2011-11-04 18:50] jhpedemonte commented on #750
Not sure, haven't studied it in depth.  Does `dvWidget` have a property that points to the model?  If not, we should at least create a helper method.  And the model should be made easily traversable, if it is not already.

(cc @waynevicknair, since this is model related)

[2011-11-04 19:31] JonFerraiolo commented on #750
Yes, if you go into Chome debugger, in Elements view, click on hourglass and then click on a dijit Button or whatever on the canvas. Then in styling sections on right, go to Properties and open up HTMLDivElement at top. There you'll see property _dvWidget, and underneath that you'll see _srcElement.

[2011-11-04 20:30] peller commented on #1145
I've asked Kamiyama-san and referred him to this ticket

[2011-11-04 20:51] billreed63 opened #1163 "Changes made in source editor are not reflected in visual editor"
1) Create new html page
2) Drag drop button on page
3) switch to source view
4) change the label of the button in source view
5) switch back to visual editor, the button text has not been changed

[2011-11-05 12:52] JonFerraiolo opened #1164 "Don't show ./project1 in file dialog folder textbox"
RIght now the file dialogs don't allow the user to go below the project root folder (e.g., /project1) but we show the project name (e.g., ./project1) in the folder field at the top of the dialog. This is visually confusing to users. Instead of saying ./project1, the initial value for folder should be either the empty string or "."

[2011-11-05 16:51] JonFerraiolo opened #1165 "Globalize file dialogs"
The file dialogs have a bunch of hardcoded strings. These strings need to be pulled from a localization file.

[2011-11-05 16:55] JonFerraiolo opened #1166 "Implement New Folder button on file dialogs"
I will soon commit a bunch of UI updates to the file dialogs, including adding a "New Folder" button. Once committed, the New Folder button will be visible on the dialog, but the callback function to implement the feature is not yet implemented. I expect the commit to happen sometime around 2011-11-07.

Assigning this to @childsb because he can implement the New Folder functionality about 20 times

[2011-11-05 18:57] JonFerraiolo opened #1167 "New HTML File remaining tasks"
Some cleanup items remaining with the updated New HTML File dialog:
- Seeing a network error: desktop.svg not found
- If user chooses a mobile device, we should force flow layout, at least for now
- If user chooses composition type of 'custom', then the detailed options should appear
- (Big one) Need to hook up theme options

[2011-11-05 23:21] JonFerraiolo opened #1168 "Turn folder field from dijit.form.TextBox into dijit.form.Select"
Nice to have, but not essential for M4.

Right now the folder field on file dialogs is a text input box. What I'd like to have instead is a dijit.form.Select that shows the current folder and all parent folder up to the user's "base folder" (i.e., the bottommost folder that we allow the user to descend into). When a user first launches Maqetta, the only folder listed should be "project1/".

I fool

[2011-11-06 15:34] JonFerraiolo opened #1169 "helper.create called twice for DijitWidgets"
@peller, @billreed63, @jhpedemonte

If looks like the create() helper functions gets called twice whenever you add a new Dijit to the page:
1. First, at the bottom of the DijitWidget constructor.
2. Second, from the attach() method

When saving then reopening, the create() helper gets invoked from the attach() method.

I don't see any code for other widget types (e.g., HTML widgets) for calling th

[2011-11-06 20:38] JonFerraiolo commented on #1141
@jhpedemonte, @peller, @waynevicknair

I did some research. To get CSS3 gradients working across all of our target browsers (i.e., mozilla and webkit for now), we need to put 3 different 'background-image' property definitions within the given style declaration (where a style declaration can be either the content of a CSS rule in a CSS file or inline style attribute):

[code]

(See http://www.impr

[2011-11-06 21:38] JonFerraiolo commented on #1029
I did some quick searches (grep, find, etc) and skimmed through the docs and I haven't found anything yet. Lowered to Priority-Low.

[2011-11-06 21:43] JonFerraiolo commented on #685
Fixed by 6f38e9c53a

[2011-11-06 21:43] #685 closed, assigned to JonFerraiolo

[2011-11-06 21:46] JonFerraiolo commented on #1044
Reassigning to @childsb because you've been in and around relevant code recently. Not essential for M4.

[2011-11-06 21:49] JonFerraiolo commented on #249
Reassigning to @childsb

[2011-11-06 21:50] JonFerraiolo commented on #247
Reassigning to @childsb

[2011-11-06 21:53] JonFerraiolo commented on #1121
See also #247, #1043, #1044, #249

[2011-11-06 22:29] JonFerraiolo opened #1170 "Review all cookies"
@childsb

I just had a situation where I couldn't view Maqetta's docset because the request header was >4K due to lots of cookies being passed up to server. It looks like most of the cookies are from Dojo widgets. We should figure out how to disable these cookies or how to clean them up so that users don't run into Maqetta bugs because cookies are too large.

[2011-11-06 22:31] JonFerraiolo opened #1171 "Replace 'cp' with 'this' in ChooseParent.js"

[2011-11-07 00:43] JonFerraiolo opened #1172 "Mockup of mobile theme editor panes"
@billreed63

I'll try to have mockups for the various panes in the mobile theme editor created sometime this week.

[2011-11-07 00:48] JonFerraiolo commented on #363
Elevated to M4 as a pretty essential feature for UI sketching, but may not be feasible for M4.

[2011-11-07 01:04] JonFerraiolo opened #1173 "ChooseParent with SelectTool doesn't actually work"
The ChooseParent preference does indeed show candidate parents while dragging a widget with SelectTool, but if you choose a non-default parent, the reparenting doesn't actually happen.

Here is some research on the subject:
- Upon ending the drag operation, the onMouseUp() method in Focus.js calls the onExtentChange() method in SelectTool.js
- The onExtentChange() method calls MoveCommand but has

[2011-11-07 02:09] peller commented on #1170
Could you paste an example here of what the cookie content was?

[2011-11-07 02:34] peller commented on #1169
makes sense to me.  attach() seems like the right place.

[2011-11-07 03:07] peller commented on #1157
340bb6b87c23a4677307d0f1555e24d2ff90729d cf09f1ae21dd1505a3ba16389e01b17c6f30fe83 2170a5a399df80e5e823282249a017ae87cdcf55

[2011-11-07 04:07] peller opened #1174 "Use AMD in user content, widget metadata"
AMD style require calls (instead of old dojo.require) is a prerequisite to the user turning on asynch loading in their application on deployment.  It will also make it trivial for us to turn on asynch for preview.

See also #1093, which is about turning on the asynch loader for the visual editor itself, and may be a bit more complicated.

I think this should be as simple as fixing the metadata.  M

[2011-11-07 04:15] #1163 closed, assigned to peller

[2011-11-07 04:20] peller commented on #1174
Once this is accomplished, we can simply save our documents with dojoConfig={async:true} and in addition to being AMD compliant, preview and deployed apps should load much faster.  Visual editor would have to override with async:false until #1093 is fixed.  We'd also need to make sure existing documents can still load and that they get migrated over when saved.

[2011-11-07 04:24] peller commented on #1174
@EldonReturn may want to write OneUI metadata to use the new AMD scheme, if we can have it ready in time.  Otherwise, perhaps just using require() in the $text would work for now.

[2011-11-07 04:55] peller commented on #1145
Kamiyama-san pointed out there's a variableHeight property.  Is this the solution?

[2011-11-07 15:27] JonFerraiolo opened #1175 "Preview-in-browser desktop UI shows in a mobile device silhouette"
@billreed63

(Using today's build)
- New HTML File
- Add a Button
- Preview in browser

Result => Dijit button appears inside of an Android silhouette

[2011-11-07 15:34] JonFerraiolo opened #1176 "SmartInput after copy/paste shows duplicate text content"
@peller
- New HTML File
- Add a LABEL
- Copy/paste the LABEL
- Double-click on cloned LABEL to bring up SmartInput

Result=> SmartInput shows "LabelLabel" instead of just "Label"

[2011-11-07 15:51] childsb commented on #560
Fixed

[2011-11-07 15:51] #560 closed, assigned to childsb

[2011-11-07 15:52] #504 closed, assigned to childsb

[2011-11-07 17:33] JonFerraiolo opened #1177 "Set disabled to true then false causes disabled=false in HTML source"
@jhpedemonte, @peller
- New HTML File
- Go into split view
- Add a Button
- Under Widget-specific, click on disabled property to check it. Notice that the source view shows disabled="true"
- Click again on disabled property to uncheck it.

Result=> source code now says disabled="false". This is a problem with IE8 because disabled="anything" on IE8 causes the control to be disabled, including disab

[2011-11-07 17:34] #200 closed, assigned to peller

[2011-11-07 17:39] peller commented on #1177
I think it's supposed to be disabled="disabled" or maybe even just "disabled"  There's special code in Dijit to translate the boolean... somewhere.  We may have to do the same.

[2011-11-07 17:42] JonFerraiolo opened #1178 "Can't target style change to new rule - get erroneous readonly theme message"
- New HTML File
- Add a Button
- Try to set 'width' to '12em' - you get the cannot modify a read-only theme dialog, which is good
- Add a new class 'aaa'
- Open up detailed CSS view and click on the radio button by new class 'aaa' (at top of list)
- In text input field for 'width', type '12em' and click enter - button changes width
- Go to background section of Properties palette and open up detai

[2011-11-07 18:20] JonFerraiolo opened #1179 "Add variableHeight property to ListItem"
@peller, @billreed63

We need to add the variableHeight property to dojox.mobile.ListItem so that users can conveniently create ListItems with multiple lines of text (when used in combination with #1145)

[2011-11-07 18:20] JonFerraiolo commented on #1145
Yes, variableHeight does help and is maybe as far as Kamiyama-san wants to go with this. It doesn't deliver the full requirement - subsequent lines should be smaller size - perhaps Kamiyama-san will say that users could do something like this:

[code]

However, we don't include variableHeight in our metadata at this point, so it doesn't appear in the list of widget-specific properties. I opened th

[2011-11-07 19:37] peller commented on #1176
@jhpedemonte

The SmartInput isn't the problem.  The source actually has "LabelLabel"  Any idea when this regressed?

I see in widget.createWidget(d) that data is passed an object with these properties

[code]

about a page down, it does

[code]

which establishes "Label" as a child text node in the model (srcElement).  Then a little bit further down, it iterates through data.children and adds tha

[2011-11-07 20:22] peller commented on #1145
Yes, I think that's the right answer.  It's all just markup and CSS,  no need to add more code or restrictions here.  If anything, maybe just some CSS rules as part of the theme for major/minor text in an item?

[2011-11-08 01:36] jhpedemonte commented on #1105
OK, I rewrote the [proposal](https://github.com/maqetta/maqetta/wiki/Library-Packages) 5-10 times since Friday, but I think I finally figured it out.  I added references that I used to create the proposal.  Incidently, yes, the `dependencies` property does support choices between 2 or more deps.

Also added theme metadata support.  I went with specifying a directory, under which could be found `*.

[2011-11-08 04:01] jhpedemonte opened #1180 "Keyboard usability of Smart Input"
Some keyboard usability issues with Smart Input:
1. Default action is inconsistent between different types of Smart Input.  Hitting **enter** works for single line ones.  But for multiline, that just adds another line -- there is no way to execute the default action for these type from the keyboard.
   - Proposal: standardize on **Ctrl+Enter** for all Smart Inputs.
2. Keyboard actions on buttons:

[2011-11-08 05:15] JonFerraiolo commented on #1105
Right now we have a themes/ folder, inside of which we have a folder for each available theme (e.g., themes/claro, themes/sketch, themes/android).

I don't think this affects the packaging question, but I just wanted to remind everyone that I'd like to address #144 so that there is a folder holding the untouched original theme content (e.g., claro/). This is for 2 reasons: (1) it's always better t

[2011-11-08 05:15] JonFerraiolo commented on #1105
oh, yeah, I forgot, proposal looks good!

[2011-11-08 07:52] jhpedemonte commented on #1174
I think we can make this work without adding a new `require` type to OAM.  It will just take some minor tweaking of our existing metadata.  See proposal here: https://gist.github.com/1347093.

[2011-11-08 17:50] jhpedemonte commented on #1174
Adam pointed out one issue with the proposal: there's really no good way to differentiate between a JS module file and a plain JS file (which would be handled differently).

Jon suggested adding a "module" attribute (boolean) to the "require" element in OAM.  This would allow the following metadata (in XML):

[code]

An OAM loader that understood the "module" attribute would be able to do the corr

[2011-11-08 18:42] peller commented on #1174
I think I could live with that :)  Perhaps it could say module="amd" or module="commonjs"  I think it probably does matter, since they are generally not interchangeable.

[2011-11-08 18:50] peller commented on #1105
@jhpedemonte: so it sounds like dependencies needs to be an array.  Which one of us should post the question to commonjs?  Shall we draw straws?

@JonFerraiolo: I strongly agree with both points regarding #144.  Then we wouldn't even have to do a search for *.theme files anymore, except for that one directory.

[2011-11-08 18:56] peller commented on #1105
Looks good.  @jhpedemonte: you left out a permutation or two, such as widget + maqetta metadata being packaged together (conceivable)  No problem, right?  Just a different mixin combination?

[2011-11-08 19:21] jhpedemonte commented on #1174
Discussed that with Jon.  My view is that loading at that point becomes a function of the base library ("dojo.js" in our case).  So I'm not sure if we need to specify module type.  But again, this is easily changeable in the future.

[2011-11-08 19:22] peller commented on #1174
It's conceivable that the library may not define the loader format.  Why couple the two if we don't have to?

[2011-11-08 21:53] jhpedemonte commented on #1174
OK, I'm fine with putting `module="amd"`...

[2011-11-08 22:00] peller opened #1181 "Update davinci.dojo_1_7 plugin css to Dojo 1.7.0 final"
The dojo_1_7 plugin apparently has backlevel css (dojo 1.7.0b2?)  Hopefully there aren't many major structural changes, but there are a good deal of diffs -- bug fixes, comments, etc.  This should solve a keyframe syntax problem @waynevicknair was seeing.

I just updated the dojo/ tree to the final release in #829, but I'm letting @billreed63 update the maqetta/themes directory

[2011-11-08 22:15] billreed63 commented on #1024
Jon Ferraiolo: So, I'm hesitant about making the TextBox with the theme set name into a read/write field. I was thinking that the field would be read-only and that user would have to take an explicit action (click on Rename) to bring up a dialog to rename the theme set. But where are you thinking the add/delete buttons would be? On the left under the list of theme sets?
3:57:34 PM: Jon Ferraiolo:

[2011-11-08 22:49] waynevicknair commented on #1091
i think i got it with this commit 6918681a63

[2011-11-08 22:49] #1091 closed, assigned to waynevicknair

[2011-11-08 23:09] JonFerraiolo opened #1182 "Drag/drop of SVG images from Files palette shows distorted picture of widget"
@peller

Something in the dragClone is forcing an SVG file preview to get stretched to fit without preserving aspect ratio, whereas dropping into an HTML page causes the file to have correct intrinsic size and aspect ratio.

[2011-11-08 23:11] #1146 closed, assigned to jhpedemonte

[2011-11-08 23:11] #1179 closed, assigned to jhpedemonte

[2011-11-08 23:48] JonFerraiolo opened #1183 "Shift key for constrained resizing"
@peller

I implemented shift-key constrained resizing for the new shapes widgets (to be checked in soon I hope), but we don't constrained resizing for regular-old (non-shape) widgets such as Calendar. I expect this is a 1-2 days of work. Poking around the code, I'm pretty sure the relevant piece of code is the onMove() function in Focus.js, but from what I remember from implementing shift-key logi

[2011-11-08 23:50] jhpedemonte commented on #854
Dupe to #1174, where most discussion it taking place.

[2011-11-08 23:50] #854 closed, assigned to jhpedemonte

[2011-11-09 00:01] JonFerraiolo commented on #1182
Distorted sizing happens with raster images dragged from Files palette, too, both in Preview 3 and in latest code.

[2011-11-09 00:04] JonFerraiolo opened #1184 "Initial selection rectangle on clipart widgets is wrong"
@peller

Upon dragging a raster image (eg SampleBanner.jpg) onto canvas, the selection rectangle is correct, but when dragging an SVG onto canvas, the selection rectangle is wrong. Probably fairly easy to fix.

[2011-11-09 01:02] jhpedemonte commented on #1174
Created a branch called **1174-amd-metadata** and changed the Dojo OAM files based on what we discussed here.  Note that I just changed the metadata -- I didn't update any of the code that reads this metadata.

[2011-11-09 01:07] jhpedemonte commented on #1176
I committed a change a while back where when moving a widget, the widget's content was pulled from source rather than from metadata.  I remember fixing one regression where content was duplicated -- this may be another area that needs to be updated following that original commit.

[2011-11-09 01:08] peller commented on #1174
We should specify the module as an opaque "path" or "mid" string, not a relative file path.  Not all modules are file paths, and they happen to be relative to the root and without extensions.

[2011-11-09 01:10] jhpedemonte commented on #1176
See #1056.

[2011-11-09 01:22] jhpedemonte commented on #1105
As mentioned on the wiki, it was long established in CommonJS that almost all (or actually all?) JS implementations keep the order of properties as the are specified on an object, and that ES5 will codify this in the spec.  Therefore, it was deemed that an object, rather than an array, would work just fine and was preferable (more terse than array).  So we're stuck with what we've got.

Yes, there

[2011-11-09 01:35] JonFerraiolo opened #1185 "Fix some clipart SVG files to have width/height that fit tightly with graphic"
Some of the clipart SVG files have extraneous whitespace on the bottom. Causes funny selection box and other weird behavior. For example, browser.svg and map.svg. Fixing the SVG images should be simple.

[2011-11-09 01:38] #1184 closed, assigned to JonFerraiolo

[2011-11-09 01:54] JonFerraiolo opened #1186 "New folder command on Files palette context menu not working"
On Mac/Chrome and Mac/FF

Go to Files palette, put mouse over one of the files listed (eg app.css) and from context menu invoke "New Folder". In Chrome, the debugger shows `davinci.ui.Resource.fileDialog('newfolder')` I suspect that function fileDialog() doesn't exist any more and we have old references to it in ui.plugin (3 times).

[2011-11-09 03:53] JonFerraiolo opened #1187 "Context menu goes off screen if canvas is scrolled"
If the page content is so large that you get a vertical scrollbar, and then scroll down to bottom of page, and then bring up the context menu on the page canvas, the menu appears off the bottom of the iframe. Bug existed in Preview 3 and is still present.

[2011-11-09 04:01] JonFerraiolo opened #1188 "Meaningful name for IMG elements should show something like 'src', 'title', 'alt'"
@peller

(Important to consider for M4 because of new clipart feature)

Currently, when adding an IMG to the page, the Outline palette only shows <img>. We should show something to help use distinguish between multiple IMGs. Perhaps show 'alt' if present, else showing the final token of the 'src' attribute if not base64-encoded.

[2011-11-09 04:03] JonFerraiolo commented on #1185
Here are the clipart images that need to be adjusted: map, browser, streetMap, vsplit, hsplit

[2011-11-09 04:28] #1175 closed, assigned to JonFerraiolo

[2011-11-09 04:54] #1182 closed, assigned to JonFerraiolo

[2011-11-09 05:13] #1188 closed, assigned to JonFerraiolo

[2011-11-09 09:10] jrlacy opened #1189 "Improve options for closing open editors (Close All, Close Others)"
The workspace can become cluttered if there are many open editors.  Right now you can only close one editor at a time, whether by the close icon on the tab or the mouse context menu.  It would be very helpful if the context menu would support the standard 'close all' and 'close others' options.

[2011-11-09 09:15] jrlacy opened #1190 "support editing json files"
If you open a .json file, you can edit it but there is no mechanism to save the changes.  This would be useful if you wanted to use json sample data for data driven widgets like the grid.  Having the ability to create a new .json file from the New... menu might also be handy.

[2011-11-09 12:42] jhpedemonte commented on #1190
Hmm, I thought we had something open for this already.  Thanks.

@JonFerraiolo @childsb  How easy is to to make a file type "editable" so that it can be saved?

[2011-11-09 12:48] jhpedemonte commented on #1189
@JonFerraiolo  Added this to **M4** for now, but with priority low.  If it's easy enough to fix, it would be nice for M4.  Otherwise, move to **M5** and up **priority to medium**.

[2011-11-09 14:46] #1187 closed, assigned to peller

[2011-11-09 14:48] peller commented on #1187
This may have regressed with the addition of the silhouette container.  Using dojo.getScroll() on the document should be more robust.

[2011-11-09 15:19] JonFerraiolo commented on #1189
For discussion:

Where in the UI would we put a close all command? We are backed into a corner right now. We have a New menu, an Open menu, and a Settings menu. If we had a File menu, we could easily put close commands there. I'm resistant to changing the menus around in the short-term just to add a single command. Ultimately, we will probably need a traditional menu (File, Edit, etc) for accessib

[2011-11-09 15:21] JonFerraiolo commented on #1190
@peller, @waynevicknair

Assigning to @childsb for time being so it doesn't fall through cracks.

[2011-11-09 15:25] JonFerraiolo opened #1191 "Double-click on *.svg file should show image, not show source"
Right now if user double-clicks on a *.svg file, we show the SVG source code. Instead, default action should be to show the visual result like we do for *.png, *.gif and *.jpg.

[2011-11-09 15:28] JonFerraiolo opened #1192 "Open As"
RIght now if you double-click on a file, we look at file type and open the appropriate editor. For example, double-click on *.html and you get the visual editor, double-click on *.svg and you get text edtior. However, sometimes our choices don't match what user wants to do. For example, maybe the user is editing a Dojo template, in which case he will want to open the *.html file is the text editor

[2011-11-09 15:29] JonFerraiolo commented on #1190
I think that if we fix #43, this one will be fixed.

[2011-11-09 15:52] peller commented on #1191
it would be neat to have a split editor!

[2011-11-09 16:00] jhpedemonte commented on #1189
Context menu on the file tabs, with contents:

[2011-11-09 16:05] jhpedemonte commented on #1189
Another option: a drop down menu at the end of the tabs list (small downward facing triangle), which displays menu with same contents as above.

(We already have such a triangle at the end of the toolbar, but it doesn't do anything for me.  Should probably get rid of that.)

[2011-11-09 16:09] jhpedemonte commented on #1191
Yes, came here to say what Adam said. Maybe we should handle SVG similar to HTML -- show visual content by default but allow user to view and edit source.  Although there might be issues with how source and visual views work together, issues we've already resolved for HTML but not for other viewers.

[2011-11-09 16:56] JonFerraiolo commented on #1191
Yes, it seems like it wouldn't be too hard to support SVG authoring in split view where the source view is editable but the visual view is view-only (versus HTML where the visual view is editable). (Personally, I would find it to be a really awesome feature!)

[2011-11-09 16:57] JonFerraiolo commented on #1191
@waynevicknair should be aware of this

[2011-11-09 18:02] #1186 closed, assigned to childsb

[2011-11-09 18:17] JonFerraiolo opened #1193 "Move ./maqetta/* files into lib/*"
@peller, @waynevicknair

I don't think we want to make this change for M4 - no need to add to our short-term migration burden. Fixing this bug would mean existing user files would need to be migrated. Better to wait until we batch together multiple workspace cleanup items at once.

This issue here is that there is no good reason why we have:

[code]

Probably we should go with something like this

[2011-11-09 18:21] JonFerraiolo opened #1194 "dojo/, maqetta/ and themes/ folders should be closed by default"
@childsb

Assigning to Adam because I suspect here is a cookie aspect to this - tree controls by default write out a cookie so that the next time you use a given tree control the previous state is preserved.

What I would like is that when a brand new user launched Maqetta, all of the geeky folders are closed by default. Probably better if the open/closed state of particular folders is preserved a

[2011-11-09 18:26] JonFerraiolo opened #1195 "Do we really need N editor toolbars for N editors?"
@waynevicknair

Low priority.

As I remember, each editor contains its own editor toolbar. If you have 10 docs open, there are 10 toolbars. This seems like an artifact of programming expedience from long ago. Other such things in our UI (e.g., Properties palette) only have 1 instance for the whole application. We'd use less memory and have faster performance if the editor windows shared the same t

[2011-11-09 18:30] JonFerraiolo opened #1196 "Console shows orion.editor: Line 11 : Col 2"
@peller

When I use the source editor, I see console.log messages such as:

[code]

Is this our code or the Orion code?

[2011-11-09 18:33] jhpedemonte commented on #1195
Good point.  Would be good to have a single toolbar, and just disable icons that have no use for certain files.  Or have a base toolbar that stays the same across all files and allow the editors for file types to append file-type-specific icons.

[2011-11-09 18:34] JonFerraiolo opened #1197 "SaveAs on CSS files shows file1.html as suggested file name"
- Double-click on app.css to open it with source editor
- Click on SaveAs button

Result=> Dialog shows file1.html as the proposed filename instead of app.css

[2011-11-09 18:36] JonFerraiolo opened #1198 "Open CSS file, dirty bit goes on before any changes"
@peller, @waynevicknair

Double-click on app.css. Notice that the editor tab has an asterisk (*) showing that the dirty bit is on even though no changes have happened yet to the file.

[2011-11-09 18:37] JonFerraiolo opened #1199 "No toolbar when opening JavaScript files"
Double-click on SampleJs.js. Source editor comes up, but no toolbar, so no ability to Save or SaveAs. (CSS files work fine)

[2011-11-09 18:47] JonFerraiolo opened #1200 "Should users be able to open read-only theme files such as claro.theme?"
(Not for M4)

@peller, @jhpedemonte, @billreed63 (not something that needs to be addressed for M4)

Right now the theme files show as read-only in the Files palette, which is fantastic. Users can click on them to bring up the files in the editor.

For example, users can double-click on claro.theme to bring up the theme editor. When they attempt to change properties, they see the dialog but not bei

[2011-11-09 18:51] jhpedemonte commented on #1174
OK, based on Adam's latest concern, I updated the [proposal](https://gist.github.com/1347093) once again.  In particular, read the README.md and look at the Heading_oam.\* example files.

[2011-11-09 18:55] JonFerraiolo opened #1201 "Cleanup/destroy onload handlers on IMG elements"
Just remembered - I need to do a dojo.disconnect on the dojo.connect's for listening to onload events on IMG elements.

[2011-11-09 18:56] JonFerraiolo opened #1202 "Adding html.img from Widget palette has bad selection after initial creation"
@peller, @billreed63

If you add an <img> from Widgets palette and in the dialog pick SampleBanner.jpg, a zero-size selection box appears. If you click again on the image, then the selection box is correct.

I fixed this same bug for dragging/dropping an image from Files palette with this commit: a2457691cc8201fb9ec70d953699a9b51d79a3bb  A similar approach (dojo.connect onto onload handler) should

[2011-11-09 19:08] JonFerraiolo opened #1203 "Downloads - always create a root folder?"
@jhpedemonte

(no urgency here)

When we create ZIP downloads, we put everything into the ZIP root folder. The result is that when doing a default unzip on a Unix box, you get N files added to the folder from which you issued the unzip command. I have learned to create a new folder and then do the unzip into that folder.

To make things more idiot-proof, I think it would be better to create the ZI

[2011-11-09 19:26] JonFerraiolo opened #1204 "Switch theme desktop -> android -> desktop causes corruption"
The following sequence resulted in a visually corrupted page in the page editor:
- Open Sample1.html
- Switch to Sketch (works!)
- Switch to Android (corrupted - not surprising)
- Switch to claro

Result => Corrupted visuals. Seems like this should work. Also, maybe mobile themes should be disabled from switch theme dialog if no mobile widgets? (Not sure how easy that is to do)

[2011-11-09 19:26] peller commented on #1195
Remember, different editor types will have different commands to enable/disable, and unless you also want to unify editor instances, you'll have to genericize the way they call to the editor. Right now, toolbars are hard-coded to the editor and incorporated in their layout.  It may be more trouble than it's worth.

[2011-11-09 19:30] peller commented on #1203
+0  Maybe just pick a name with a timestamp? (changed my vote from a +1)

[2011-11-09 19:31] peller commented on #1196
Orion.  Well, sort of.

Two potential fixes: 1) get Orion to remove the log (I wouldn't recommend we diverge from their code) or 2) change our status reporter to ignore logs and report only errors -- see davinci/ui/Editor.js: _createEditor()

[code]

I didn't want to turn off the logs right away...

[2011-11-09 19:33] JonFerraiolo commented on #1195
Yes, maybe be more trouble than worth. I just wanted to log the bug for future reference.

One approach would be to have a single toolbar instance for all visual html editors, another for source editors, etc, with the result of one toolbar instance for each type of editor, rather than one toolbar instance for each editor.

[2011-11-09 19:36] peller commented on #1195
Toolbars aren't that heavyweight.  The heaviest thing about them is probably the images.  I'm hoping that by using CSS, they're sharing image resources.

[2011-11-09 19:38] childsb commented on #1203
-1 . this isn't a standard practice and would greatly complicate things when importing into eclipse as a project or deploying to a web server.  most zip archives dont have an arbitrary top level folder, and you can extract files to a folder of choosing with command line options.

[2011-11-09 19:41] JonFerraiolo commented on #918
Reopening. (@childsb)

Running from both daily builds and launching from Eclipse, jQuery and YUI widgets aren't working. HTTP requests for jQuery libraries is failing with 404:

[code]

One hint: I don't see jQuery and YUI folders in my workspace within ./lib

[2011-11-09 19:42] peller commented on #1194
I believe the tree persistence behavior is on (right now) by default.  I don't think we'd ever want to mess with the cookies directly, but simply use the Tree API to open/close folders.

Isn't the initial state to come up with all folders in the "Files" explorer closed by default?  What is the request?

[2011-11-09 19:47] peller commented on #1198
dup of #1040

[2011-11-09 19:48] peller commented on #1198
and dup of #1138

[2011-11-09 19:49] peller commented on #1138
closing in favor of #1040

[2011-11-09 19:49] #1138 closed, assigned to childsb

[2011-11-09 19:49] peller commented on #1040
see #1138 for a scenario

[2011-11-09 19:59] peller commented on #1174
I like the latest proposal and the reasoning behind it.  I'll raise a few questions, perhaps questions we could deal with later:

1) While these are javascript-driven loaders, the modules themselves may be any content type, given plugins (javascript, css, text, or some invented format)  Do we call them javascript-modules or just modules or something else?  Doesn't really matter?
2) Is it worth cal

[2011-11-09 20:00] peller commented on #1174
...and instead of using 'src' what would you think of 'path' or 'mid'?  It's not really the same as the src attribute we use elsewhere.

[2011-11-09 20:37] JonFerraiolo commented on #1194
Closing this issue. I removed cookies and cleared the cache and the Files view does indeed open with the folders closed. I opened lib/ and then refreshed the browser, and lib/ upon refresh was expanded and the other folders weren't. So I think we are fine as is.

[2011-11-09 20:37] #1194 closed, assigned to peller

[2011-11-09 20:39] JonFerraiolo commented on #1203
The export-to-Eclipse argument trumps my original complaint in importance. I'm thinking now that this should become mostly a docs bug, so reassigning to me.

[2011-11-09 21:04] JonFerraiolo opened #1205 "Menubar new folder command - doesn't allow creation of nested folders"
I created a new Eclipse project. Using the New Folder command from main menu bar, I can't create a new folder as a child of the WebContent folder. I tried multiple things. I tried to type "./myeproject/WebContent" as parent folder in New Folder dialog, but the parent folder field seems to be read-only. I tried to select "./myeproject/WebContent" in Files palette so that it would be the default par

[2011-11-09 22:12] jhpedemonte commented on #1174
Re: (1) That's a tough one.  As far as I can tell, the AMD and CommonJS specs are only concerned with JS files.  But some (all?) loaders have extra functionality that allow non-JS dependencies.

Secondly, the OAM spec already supports types for those non-JS files (`require` type values can be: javascript, css, folder, image, media, markup, other).  An OAM parser/loader can choose to use a module l

[2011-11-09 22:18] peller commented on #1174
1) I think plugins are part of the AMD spec, and there's at least a proposal in CommonJS for LoaderPlugins.  The dependency is not necessarily JS, only the caller can be assumed to be JS.

2) yeah, guess that makes sense

3) http://wiki.ecmascript.org/doku.php?id=harmony:modules but I wouldn't worry about this too much right now.  Just something to look at in your spare time :)

[2011-11-09 22:32] JonFerraiolo commented on #1174
My opinions:

Re: (1) and (3) Based on the talk with Simon just now and other recent info, the loader world is likely to be in a state of flux for a long time and I don't think we should attempt to guess the future in that space (although the ECMA guys have a history of delivering, with notable exception of ECMA4). I would focus mostly on our immediate requirements and put a discount factor on any

[2011-11-09 22:45] #1201 closed, assigned to JonFerraiolo

[2011-11-09 22:45] #1202 closed, assigned to JonFerraiolo

[2011-11-09 22:54] #1169 closed, assigned to JonFerraiolo

[2011-11-09 23:38] JonFerraiolo opened #1206 "With absolute positioning, resize with left or top nobs results in widget shift"
@peller
- Absolute positioning
- Add a Calendar
- Drag top/left nob up and to left

Result=> Calendar resizes correctly, but is positioned down and to right of mouseup point. (The top/left corner ends up at same location it was before starting the drag operation)

There is suspicious code in Focus.js where the logic to reset box.l and box.t is commented out.

[code]

[2011-11-09 23:44] JonFerraiolo opened #1207 "Sometimes SelectTool/Focus onMouseUp on nob doesn't take"
(Happens on Mac/Chrome with Preview 3 and latest code. Haven't tried other browsers yet)

Sometimes when dragging a nob on a Calendar, the onMouseUp handler either doesn't get fired (most likely) or doesn't complete its work because the modified Focus box stays on the canvas after mouseup but the widget isn't resized.

Intermittent, but this is how to reproduce:
- Absolute positioning mode
- Add C

[2011-11-10 01:13] peller commented on #1174
Agreed, with one exception: this isn't a Dojo thing.  It's AMD, and there's some real hope for interop here before TC-39 and the browser world figure it out, which could be several years off, easy.

ES4 is notable because it was an incompatible change, as are proposals for Harmony, ES6-8 and anything relating to modules (modules were part of the ES4 spec as well.  I recommend looking at the Harmon

[2011-11-10 01:16] peller commented on #1207
does the document get modified?  is this just a redraw problem, or does the change really not stick?  any exceptions on the console?  (may need to wrap try/catches around the onMouseUp handler to find out?)

[2011-11-10 01:43] #1183 closed, assigned to JonFerraiolo

[2011-11-10 01:48] JonFerraiolo commented on #1207
document does not get modified - that's the problem. To make the changes stick, you have to click on object again and resize once again.

My instincts are that onMouseUp never gets called. I'm suspecting that there are situations where event.target for the mouseup event is a different DOM node so the mouseup goes to a node which doesn't have a mouseup handler. Wild guess: maybe in some situations

[2011-11-10 21:53] peller opened #1208 "remove redundant "./" from ./project name in New Folder dialog"
@childsb, @jonferraiolo

[2011-11-10 21:54] peller commented on #1208
It might also make sense to show the project1 folder at the top of the tree control for consistency, since it's part of the "where" path (i.e. a tree rather than a forest)

[2011-11-10 22:03] JonFerraiolo commented on #1208
What Adam suggests make sense to me. Wherever we show the list of files, we should have a root node that is the project name.

For Eclipse projects, which have a WebContent folder, I would suggest showing the project folder, with WebContent folder inside, and everything else of course inside of WebContent/, and we do our best to help users to save things within WebContent rather than in siblings t

[2011-11-10 22:05] peller opened #1209 "focus ring regressions"
drag a calendar on to a new page

drag the right, middle nob to the right.  the focus ring ends up with a height of zero, yet the widget does not resize.

drag the bottom, middle nob down.  The widget resizes to be wider and taller

[2011-11-10 22:33] peller commented on #1208
I suppose showing just the contents of the folder would be ok if we left the project out of the path.  It should be consistent either way.  If there's a WebContent folder that's in our implementation but really not meaningful to users, perhaps leaving the project out of the path AND the tree would be simplest?

[2011-11-10 22:38] peller opened #1210 "widget filter control should be fixed to top"
with lots of widgets visible, if you scroll down, the filter control scrolls out of view

perhaps use a "ToolbaredContainer" (sic) here?

[2011-11-10 23:11] JonFerraiolo commented on #1209
Works for me. I think I've committed some changes recently in this area. Are you running a build or launching from Eclipse? If a build, what's the commit# on the About box?

[2011-11-10 23:25] peller commented on #1209
running the nightly build (maqetta-20111110-0603) from the command line.  revision is d5d7e8fcd2ac9bb01278b3a66325e0e2cedb3ea1

[2011-11-10 23:28] peller opened #1211 "buildtime missing from about box"
About box shows

Date: @buildtime

[2011-11-10 23:54] JonFerraiolo commented on #1211
@childsb

[2011-11-10 23:57] peller opened #1212 "incorrect string math +/- on zindex"
in the z-index property box, enter a number like 5.  +/- works ok.

enter 0.  hit - and you get -1.

now , with the value -1, hit + and the negative value decreases, - and the negative value increases towards 0 (this is backwards)

When you get to 0, it will say "-0".  Keep hitting - and it will say --1, --2, etc.  As you pass 0, you accumulate another minus sign.

[2011-11-11 00:11] JonFerraiolo commented on #1209
Yep, thanks. I broke something yesterday.

[2011-11-11 03:39] peller commented on #1200
Every traditional (text) editor I can think of does 3.  This would seem to work fine for css/html/js files, but what about .theme files?  Can we have an operation that effectively does a clone for a save as?

[2011-11-11 16:27] peller opened #1213 "Remove dependencies if last widget of a given type is removed from page"
@jhpedemonte, @JonFerraiolo

Right now, we accumulate require statements for each type of widget (and potentially other dependencies like CSS specified in the metadata)  If the last widget of a given type is removed from the page, the corresponding dependencies should be removed.  Should this happen in the source view as well as visual editor, or would that be too disruptive?  For source editing,

[2011-11-11 16:31] JonFerraiolo commented on #1086
@childsb, @jonferraiolo

[2011-11-11 17:47] jhpedemonte commented on #1213
Two proposal:
1. Create a **widget model** that lives on top of the **html model**.  The main function would be to map between a widget on the page and the different source elements in the _html model_.  Some things (primarily in the `<body>`) would be a 1-to-1 mapping.  Therefore, removing a widget from the _widget model_ would immediately remove those elements from the _html model_.

   Others (

[2011-11-11 17:52] peller commented on #1213
I like 2.   Would only need to recalculate if the widget removed does not have any other instances of that type still on the page.

[2011-11-11 18:33] JonFerraiolo commented on #1213
I'm guessing the algorithm would go something like this:
- With any event that might result in removing a widget (source view changes, RemoveCommand, ModifyCommand), invoke a widget dependency cleanup routine, which
- Sets the initial list of widgetsInDocument to {}
- Recurses through the widget hierarchy via bodyWidget.getTopDomWidgets() or whatever and then recursive called getChildren() or what

[2011-11-11 19:29] peller commented on #1213
Or, perhaps we could get a callback on the destroy call on widgets in our model, check to see if any other widgets of that type exist in our model, and only if not then regenerate page data from metadata (requires and potentially other dependencies from widgets)

[2011-11-11 19:44] childsb commented on #1135
wayne, can you take a look at this? i know you're in the R&C code pretty deep.

[2011-11-11 20:09] JonFerraiolo commented on #1209
I think I have a fix. Probably will check in within next couple of days.

[2011-11-11 20:39] childsb commented on #1132
Fixed with commit 17fc8d51dadfc617d9bc2d13a424dbfc88030252

[2011-11-11 20:39] #1132 closed, assigned to childsb

[2011-11-11 20:39] childsb commented on #1136
Fixed with commit 17fc8d51dadfc617d9bc2d13a424dbfc88030252

[2011-11-11 20:39] #1136 closed, assigned to childsb

[2011-11-11 20:40] #1134 closed, assigned to nobody

[2011-11-11 20:40] #1129 closed, assigned to childsb

[2011-11-11 20:40] #1131 closed, assigned to childsb

[2011-11-11 20:41] #1130 closed, assigned to childsb

[2011-11-11 21:36] jhpedemonte commented on #1213
Remember that whatever we come up with has to be packages as one with the actual widget removal.  This is necessary for the undo/redo system.

Also, a lot of this might be a good candidate for Web Workers (separate thread) since it doesn't touch the DOM (only at the very end, where the widget and any dependencies are removed from the VE).

[2011-11-11 21:45] waynevicknair commented on #1135
surely. i can tell you without looking that it would be very tedious to send mail to lots of people. while the HTTP spec does not limit URL length, browsers and HTTP servers (413 Entity Too Long error) have practical limits on the length they will support. also, the R&C code generates the content of all messages. thus spammers could not inject their own content, but still flood mailboxes with revi

[2011-11-11 21:48] waynevicknair commented on #1211
where were you running from? launching from inside eclipse will not show the date as the build scripts do the string substitution. however, all published builds should have a date.

[2011-11-11 21:53] peller commented on #1211
I was running a nightly

[2011-11-11 21:53] jhpedemonte opened #1214 "Merge duplicate code in Palette.js (custom widget related)"
The `addCustomWidget()` function contains code duplicated from `_createPalette()` (and maybe others?).  Should be refactored so the same code isn't in two places.

[2011-11-13 14:34] JonFerraiolo commented on #1209
Fixed with adca6100ac

[2011-11-13 14:34] #1209 closed, assigned to JonFerraiolo

[2011-11-13 14:34] JonFerraiolo commented on #1206
Fixed with adca6100ac

[2011-11-13 14:34] #1206 closed, assigned to JonFerraiolo

[2011-11-13 14:34] JonFerraiolo commented on #1173
Fixed with adca6100ac

[2011-11-13 14:34] #1173 closed, assigned to JonFerraiolo

[2011-11-13 14:35] JonFerraiolo commented on #1171
Fixed with adca6100ac

[2011-11-13 14:35] #1171 closed, assigned to JonFerraiolo

[2011-11-13 15:30] JonFerraiolo opened #1215 "Merge drop cursor for flow layout with ChooseParent logic"
@peller

The drop cursor logic needs some fixes in general (it doesn't always pick the right parent logic) and integrating with the new ChooseParent.js logic should address most of the problems.

[2011-11-13 15:33] JonFerraiolo opened #1216 "Constrained resize of flowable DIV problems"
- New HTML FIle (w/ flow layout)
- Add a DIV
- Pull on bottom/center nob downward a bit, press shift key to constrain to a square, let go of shift key, move nob a bit more, then release

Result => DIV gets resized using constraints (i.e., becomes a square) even though shift key was released.

[2011-11-13 15:37] JonFerraiolo opened #1217 "Shift key for constrained moving"
While moving a selected widget around, the shift key should constrain the movements to either horizontal or vertical.

Once this is implemented, then we might be able to change the snapping logic so that a widget does not snap to its own edges anymore (which has some side effects)

[2011-11-13 15:40] JonFerraiolo opened #1218 "Resize multiple selected widgets at once"
Nice to have, can be postponed to M5 if necessary. Also, there might be a lot of complex issues to contend with on this one.

Right now if you have multiple widgets selected and you resize one of the widgets, upon mouseup only that one widget is resized. The more common behavior with drawing tools is that all widgets get resized by the same amount or same percentage.

[2011-11-13 15:41] JonFerraiolo opened #1219 "Multi-select resize - onExtentChange - first_c logic needs to be integrated into resize logic"
Code cleanup reminder bug:

There is logic for multiple selection using the first_c variable in onExtentChange that needs to be moved into the resize logic within that same function to allow multiple widgets to be resized at once.

[2011-11-13 15:45] JonFerraiolo opened #1220 "Move selected widget: should be able to pull on interior, too"
RIght now, you can move widgets only if you drag on the selection chrome. In most other tools, you can move widgets by dragging from the widget's interior, too.

There are complexities to address here. Suppose you have a DIV with a Button inside. If you select the DIV and then attempt to select the Button, we don't want the mousedown operation to initial a move operation on the DIV because that wo

[2011-11-13 22:29] jhpedemonte commented on #1075
An issue with option (1) is that `children` isn't only a top-level property (in the widget descriptor).  It can reside a number of levels deep within another `children` property, also within `data`.

I had originally intended to convert _string values_ to arrays in **metadata.js**, but the above makes this complicated, and I'm afraid that the code would be fragile.  The other option is to add code

[2011-11-13 23:22] JonFerraiolo commented on #1075
I really like having the string option. Forcing everything into an array is really a pain on metadata developers.

[2011-11-14 02:13] #1176 closed, assigned to jhpedemonte

[2011-11-14 02:28] jhpedemonte commented on #1056
Had to revert the main part of first commit, since it was causing other issues (#1176).

While we were able to fix the problem of the `fixed` attribute hot being copied, issues remain (see `label` from the DOM in [test case 2](https://github.com/maqetta/maqetta/issues/1056#issuecomment-2230144).

Currently the code path is something like this:
1. Save data (properties/attributes) of widget to be m

[2011-11-14 03:08] jhpedemonte opened #1221 "Use Dojo library packages as is (no changes for Maqetta)"
We should be able to take the Dojo libraries as is from the [Dojo Foundation packages repository](http://packages.dojofoundation.org/) for use within Maqetta.  With work done in #1105 to properly support our metadata in the **package.json** files, it should be possible to create metadata only packages which depend on the Dojo libraries.

@JonFerraiolo @peller

[2011-11-14 05:09] JonFerraiolo opened #1222 "Move StickyNote to widget palette?"
@billreed63, @waynicknair, @peller

Sticky notes are added as the last child of BODY. This works for quick UI sketches, but for more complicated UIs with states and/or mobile views, the author probably will want sticky notes that are only visible when a particular state or view is visible. If sticky notes moved from the toolbar to the widget palette, then we could leverage the same techniques we u

[2011-11-14 05:21] jhpedemonte opened #1223 "metadata.js + library.js => packages.js"
Since we're going to start handling libraries as "packages" (see #1105), we should combine the functionality of **metadata.js** and **library.js** into one object which handles **packages**.

@childsb @JonFerraiolo

[2011-11-14 14:51] peller opened #1224 "Support @jonferraiolo's PopupLauncher widget"

[2011-11-14 15:22] waynevicknair commented on #1222
It's probably best to unify the annotation code to eliminate redundancy and confusion. I'll be analyzing the workflow of R&C with an eye towards unifying the user interaction for notes and drawing as well.

[2011-11-14 15:36] peller commented on #1086
@childsb

The dialog is getting closed twice, once by onClose() again by onSubmit()  This might have something to do with the unusual arrangement of having a widget inside the dialog call onClose to trigger a dialog close, rather than calling hide() directly.  I think what you want to do is let the submit close the dialog, and remove the call you're making to onClose, but I think this breaks the w

[2011-11-14 15:42] #1072 closed, assigned to peller

[2011-11-14 16:34] jhpedemonte commented on #1056
The correct way to do this (for move/copy of widgets):
1. Create a new widget (in DOM and HTML model) based on source from original widget.
2. Instantiate the widget instance (i.e. DijitWidget, HTMLWidget, etc), passing in newly created node.

This should basically shadow what we do when a page is first loaded.  There, the code already exists, but it is parsed to create the model and the widget in

[2011-11-14 16:44] JonFerraiolo opened #1225 "Add smtp.mailServer as defined variable in launch scripts"
@childsb, @jhpedemonte

Users can set the Java property `smtp.mailServer` by hand-editing the java command in the launch scripts (e.g., maqetta.server.mac.command and maqetta.server.win.bat). We should provide a handy variable in that launch script such that users can pass a command-line argument to the launch script or more easily hand-edit a copy of the launch script.

Maybe if no value is provi

[2011-11-14 16:54] jhpedemonte commented on #1222
In another bug, @childsb had suggested renaming the **Widgets** view to **Palette**, and allowing it to contain **widgets**, **shapes**, **sticky note** and whatever else can be dragged on to the page.

[2011-11-14 17:20] JonFerraiolo commented on #1222
When we do the next big UI makeover on the whole app, then, yes, maybe we'll conclude that we should renamed Widgets to Palette, but let's not change it until then because we might change our mind again and we don't want to be flipflopping too much.

[2011-11-14 18:49] peller commented on #1224
https://gist.github.com/1364736

[2011-11-14 18:57] JonFerraiolo opened #1226 "Remove _pushImageCss() from Workbench.js"
Doesn't seem to be called ever. Need to investigate to make sure.

[2011-11-14 19:01] waynevicknair opened #1227 "Save Icon Does Not Show Up in JavaScript Editor"
Menubar tests running build from commit f1426c32b113146435504d14bdd9f847572fa90d

New menu: New JavaScript File - different filename in root directory, with save

Steps
From the New menu on the banner, choose "JavaScript File..."
Don't accept the default filename. Instead, type a new file name, but within the default directory.
Add some text to the file, such as "// a comment"
Click the "Save" but

[2011-11-14 19:16] waynevicknair commented on #1211
adam, this was caused when you dropped the AMD conversion of 'repositoryinfo.js'. you left off the trailing '@' in the '@buildtime@' token.

fix with commit e52d72fcd8de9fc4ec1f270ef207d11f074a2578

[2011-11-14 19:16] #1211 closed, assigned to waynevicknair

[2011-11-14 19:48] #1205 closed, assigned to childsb

[2011-11-14 20:03] #1197 closed, assigned to childsb

[2011-11-14 20:06] childsb commented on #1199
@peller - adam, do you have any idea about this bug? could this have happened on the orion editor upgrade?

[2011-11-14 20:18] JonFerraiolo commented on #1056
I poked around the code some and here is what I'm seeing today when we open an existing document:
- We create a model from the HTML sources (PageEditor.js:196)
- We temporarily set the user iframe's body's innerHTML to the text version of the BODY (Context.js:929)
- We invoke the dojo parser on the innerHTML content (Context.js:1008)
- We call `_attachAll()`, which recursively calls _attachChildre

[2011-11-14 20:20] JonFerraiolo commented on #1199
@waynevicknair Closing this as dupe of #1227 which has more detail

[2011-11-14 20:20] #1199 closed, assigned to childsb

[2011-11-14 20:26] childsb commented on #1178
This seems to be working (though its sort of a bug that it does!) app.css IS read only (it's being included as a library).  I did the steps, and maqetta created app.css with the rule in the workspace (as it should).  please re-open if you see this issue again.

[2011-11-14 20:26] #1178 closed, assigned to childsb

[2011-11-14 20:29] peller commented on #1199
I'm fairly certain the toolbar was there after the upgrade.  I do not know when it regressed or why.

[2011-11-14 21:02] #1166 closed, assigned to childsb

[2011-11-14 22:47] billreed63 opened #1228 "File build.level missing from local install"
File build.level missing from nightly build as described in the test case for local install

Pull down the most recent Maqetta build
Steps

[code]

Expected results

[code]

[2011-11-14 22:56] billreed63 opened #1229 "YUI Calendar widget does not work"
Create new file drag and drop YUI calendar widget

[2011-11-14 23:03] peller commented on #1229
dup of #918?

[2011-11-15 00:17] JonFerraiolo commented on #1141
I did a detailed analysis of what kind of code and UI changes would be needed to deal with the complexities of CSS3 gradients;
- On the UI front, we need to change the label in the Props palette from "background-image url:" to just "background-image" (the only easy step in all of this)
- We should leave the existing FileFieldDialog.js for other properties that only take a URL (particularly, widget

[2011-11-15 02:23] jhpedemonte commented on #918
This was already closed for M3.  Moving discussion to #1229.

[2011-11-15 02:23] #918 closed, assigned to jhpedemonte

[2011-11-15 02:23] jhpedemonte commented on #1229
From Jon in #918:

[2011-11-15 03:38] JonFerraiolo commented on #868
Now that 'fixed' is implemented (Yay!) it looks to me that ScrollableView height = 100% works just fine. Anything else is likely to result in authors being confused. Closing.

[2011-11-15 03:38] #868 closed, assigned to JonFerraiolo

[2011-11-15 03:48] JonFerraiolo commented on #682
After trying out various dojox.mobile widgets when in absolute positioning mode, about half of them have major problems with absolute positioning (RoundRectList, Heading, ToggleButton), and about half of them work OK with absolute positioning (e.g., CheckBox and Slider). The ones that are problematic generally set position:relative as part of widget startup, which overrides the position:absolute t