[2012-06-24 15:18] aerwin commented on #2577
I think we should probably also add COLGROUP elements to any tables without them.

[2012-06-24 15:38] aerwin opened #2612 "Table cells: selection chrome off in FF if table has border"
The selection chrome for table cells is off in FF if table has border. Cellspacing and cellpadding don't seem to have an affect.

![screenshot](http://i.imgur.com/DIafR.png)

[2012-06-24 15:56] JonFerraiolo commented on #2612
@aerwin: feel free to reassign this issue to mr. css coordinates (i.e., me) unless you think it needs to be fixed right away

[2012-06-24 16:02] aerwin opened #2613 "Selection in outline doesn't select right widget in page editor after smart input on container"
Noticed this while working on my table smart input dialog, but seems more general. For example,
1. New HTML file
2. Drop BorderContainer onto page and click OK on smart input
3. Drop Button into center region
4. Go to outline and notice as you select different items in the tree, that items in page editor are properly selected
5. Bring up smart input for border container
6. Uncheck bottom region an

[2012-06-24 16:06] aerwin commented on #2612
-> @JonFerraiolo

[2012-06-24 16:27] aerwin opened #2614 "Can't create HTML pages in local environment after git pull"
First giving this to @childsb since seems orion related, but please reroute if necessary...

I did a git pull (my HEAD is now ac69b591e47c8efab8fb7588e45ebe4e1592455f ), and now I can't really do anything. When I try to create a new HTML file I get:

[code]

With breaking on exceptions, it seems to fail on line 475 of `textModel` (in orion/textView):

[code]

[2012-06-24 17:35] kabeck515 opened #2615 "IPad authoring not working"
Launch Maqetta links to main Maqetta page: Maqetta.org on iPad with latest Safari.

[2012-06-25 04:01] peller commented on #2614
looks like a regression from #1404  -> @peller

[2012-06-25 05:24] #2614 closed, assigned to peller

[2012-06-25 12:38] billreed63 commented on #2570
Yes windows. Windows always seems to be ahead of OSX

[2012-06-25 14:15] aerwin commented on #2570
Well, like I said: "On Windows, I just tried Chrome 19.0.1084.56 (which the About Chrome dialog tells me is the latest), and the video preview worked just fine."

[2012-06-25 14:15] billreed63 commented on #2509
The reason we keep hitting this bug is that the helper's for each widget that use a store need to take that into account when processing that widget for create/cut/paste/delete. We need to abstract out processing create/cut/paste to a class that would be a base class for all the widgets that use the store and then we would stop seeing this problem. Putting the store at the top of the page when the

[2012-06-25 14:26] billreed63 commented on #2570
Well, like I said: it was Chrome 21.0.1171.0 dev-m

[2012-06-25 14:43] aerwin commented on #2570
So, maybe you're on a dev stream rather than release stream or something?

[2012-06-25 14:56] billreed63 commented on #2570
I think I am on the dev channel https://www.google.com/chrome/eula.html?extra=devchannel

[2012-06-25 15:26] aerwin commented on #2570
Ok, so that makes sense how you have a Version 21 then... since you're on dev channel, I'm inclined not to do any debugging on this issue for now. I'm guessing Google must have broken the video tag in their dev stream and surely would fix it by the time Version 21 comes out in the stable product stream. Once Version 21 comes out on the product channel we can verify whether there is a problem or no

[2012-06-25 17:54] #2558 closed, assigned to billreed63

[2012-06-25 17:58] aerwin opened #2616 "Smart Input intermittently launched twice"
Using Chrome on Mac...
1. New HTML file
2. Drop HTML table widget onto panel
3. Click OK on smart input
4. Clear cache and reload page
5. Select table and double-click to bring up smart input and (intermittently) two smart input dialogs are launched

![screenshot](http://i.imgur.com/rB6W6.png)

When the 2nd dialog comes up, there are JS errors in the console related to duplicate id's.

I put a bre

[2012-06-25 18:02] aerwin commented on #2567
I think I can close this one with the above commit. However, folks will run into the following issues:
- Rendering corrects itself after switching to source editor (#2602)
  - certain props (when set in Table Smart Input) will not preview correctly and will not be seen in the page editor until load the source pane. These properties are `cellpadding` and `First row header`.
- Smart Input intermitte

[2012-06-25 18:02] #2567 closed, assigned to aerwin

[2012-06-25 18:07] aerwin commented on #2602
@JonFerraiolo I don't see this in the Sprint 3 Plan, but I'd like to petition it be handled sooner rather than later. I'm pushing on this in particular because of the table related examples (which make the new Table Input dialog) seem broken (see examples above). And, per and #2567, it appears to affect the preview in the Table Input Dialog as well as requiring the user to open the source pane aft

[2012-06-25 18:50] doronrosenberg commented on #2611
Hmm, I can't reproduce this

[2012-06-25 19:53] peller commented on #2611
seems to happen only when a mobile doc is involved.  I see the exception when switching from Sample2 to Sample3-Mobile

[2012-06-25 20:49] doronrosenberg commented on #2611
Can you paste the stack trace?   And this is with trunk I assume?

[2012-06-25 20:55] peller commented on #2611
Sorry, I should have captured it.  It was very easy to reproduce until this weekend.  I can no longer get it to break on that exception. I do see something in the console, but with a bad stack and a lot of traps in jquery.  Don't know for certain that it's related.

[2012-06-25 20:56] peller commented on #2611
I'm wondering now if this was a Dojo 1.8 problem.  Ok to close for now, if you can't reproduce.

[2012-06-25 20:59] #2611 closed, assigned to doronrosenberg

[2012-06-25 22:06] aerwin opened #2617 "File changes not persisted"
Running with Eclipse launch scripts after git pull, HTML file changes are not persisted on save.
1. Create new HTML file
2. Drop widget (like Button) onto page
3. Save file
4. Close file
5. Open file and no widgets are rendered

[2012-06-25 22:54] aerwin commented on #2582
Closing with above commit.

[2012-06-25 22:54] #2582 closed, assigned to aerwin

[2012-06-26 00:21] JonFerraiolo commented on #1547
latest progress is in branch StatesReconciliation2

[2012-06-26 02:30] #2617 closed, assigned to peller

[2012-06-26 04:07] peller commented on #2593
The problem is that the lib/dojo/dojo/dojo.js reference is not relative to the page, and the samples were moved to a samples/ subdirectory

@jhpedemonte

[2012-06-26 04:23] peller commented on #1951
ongoing task to remove references to this function, particularly as we move to async Resource APIs (e.g. #1404)

[2012-06-26 04:23] #1951 closed, assigned to peller

[2012-06-26 13:58] peller commented on #2508
@JonFerraiolo, cannot reproduce this.  Was there a stack trace?

[2012-06-26 15:44] aerwin opened #2618 "Make use of resizable dialog for HTML Table and dijit.Tree Smart Inputs"
Make use of resizable dialog for HTML Table Smart Input instead of `dijit.Dialog`.

[2012-06-26 16:40] billreed63 opened #2619 "@import CSS files are not being added to model"
When I create a new theme the new theme imports the conled CSS file. The imported themes do not get loaded in the model

1) Create a theme  (claro1) the clones claro
2) Create new html file and use your cloned theme (claro1)
3) DnD a button
4) Select the button in the palette open the cascade background color notice that the only rules that are displayed are for the claro1.css the rules for the im

[2012-06-26 17:46] #2546 closed, assigned to billreed63

[2012-06-26 18:30] billreed63 opened #2620 "Exception when switching theme with new dialog"
With the new dialog I see the following exception when switching mobile themes  in html file

Uncaught TypeError: Cannot read property 'form' of undefined _ButtonMixin.js:45
Resource interpreted as Document but transferred with MIME type image/svg+xml: "http://localhost:8081/maqetta/app/preview/images/android_340x480.svg". silhouetteiframe.js:182
Error in event handler for 'undefined': TypeError:

[2012-06-26 18:40] #2557 closed, assigned to billreed63

[2012-06-26 18:51] aerwin opened #2621 "Exceptions in VisualOutlineEditor from _widgetChanged function"
@doronrosenberg

Not sure if related to another outline issue I observed recently (#2613) or not... but, occasionally seeing exceptions in `VisualOutlineEditor` during certain table operations. So, much so, that I put a try/catch in there as part of the fix for #2566 because these exceptions were often keeping undo/redo operations related to the table from working in the page editor.

Here's one e

[2012-06-26 18:51] aerwin commented on #2566
Closing with above commit.

[2012-06-26 18:51] #2566 closed, assigned to aerwin

[2012-06-26 20:41] kerrickstaley opened #2622 "allowedChild in widgets.json isn't aware of subclassing"
If package.json indicates that a container widget only accepts a specific child widget:

[code]

then subclasses of that widget:

[code]

can't be inserted into the container.

[2012-06-26 21:15] doronrosenberg commented on #2621
fixed in e0dee27d0d9ecd4882b7f502a52b4f1bb9adb3a2

[2012-06-26 21:15] #2621 closed, assigned to doronrosenberg

[2012-06-26 21:34] doronrosenberg commented on #2613
Also note that outline doesn't get updated - the bottom region is still showing.

[2012-06-26 21:57] #2613 closed, assigned to doronrosenberg

[2012-06-26 22:02] jhpedemonte commented on #2593
Right, what @peller said.  If you look at Sample1.html in Maqetta, the source says,

[code]

That's correct, since `lib` directory is a sibling of `samples`.  However, after downloading, it gets rewritten as,

[code]

Doesn't the download code run through the **RebuildPage.js** or **RebaseDownload.js**?

@childsb

[2012-06-26 22:14] billreed63 commented on #2619
I have chased this down to two problems.
1) One is the fix for issue #2557 to fix that issue I change the `@import url("../../lib/dojo/dijit/themes/claro/claro.css");`  to use the static lib path of the toolkit
`@import url("../../../../../../../app/static/lib/dojo/1.7/dijit/themes/claro/claro.css");`
2) I also change the code in system/resource.js so that if the resource is not found it make the

[2012-06-26 22:18] doronrosenberg opened #2623 "Outline model should not store the dvwidget"
Spun off #2613

Right now we reference the dvwidget in the model, so if a widget is updated, we are referencing the wrong widget.  So in #2613 I had to do a put to update it.

Rather we should store basic objects with the id only and use the id to to load any info for the model

[2012-06-26 22:50] #2620 closed, assigned to doronrosenberg

[2012-06-27 04:20] peller commented on #2534
see #1997

[2012-06-27 04:20] #2534 closed, assigned to peller

[2012-06-27 04:20] #1997 closed, assigned to peller

[2012-06-27 14:10] jhpedemonte opened #2624 "Regressions in New HTML File dialog"
- When bringing up the **New HTML File** dialog, the drop down menu does not show `(root)`, as it has in the past.
- I had already created a **file1.html**.  Went to create a new file and the default name was still "file1.html".  Should have been "file2.html".
- Even though it said "file1.html" and I already had such a file, I clicked ENTER, which brought up a dialog saying "File already exists."

[2012-06-27 14:16] jhpedemonte opened #2625 "Heading placement is off in ScrollableView"
To reproduce:
1. New HTML page.
2. Add a dojox.mobile **ScrollableView**.
3. Add a **Heading** widget.  Notice that there is space above Heading -- it should be at the very top of the ScrollableView.
4. Click on Preview.  Notice that the Heading isn't even visible in the current viewport -- you must scroll the page in order to see the Heading.  It should be at the very top.
5. Go back to the VE an

[2012-06-27 14:54] billreed63 opened #2626 "When creating new theme CSS file is not in users file folder tree"
When I create a new theme the css file is not present in the users theme folder until I refresh the browser

1) Create clone of custom theme
2) When the theme editor opens look at the files palette the theme just created has a .theme file but the .css file is missing from the folder, but it is on the server

[2012-06-27 15:06] billreed63 opened #2627 "Mobile themeEditor header button arrow wrong background color dojo 1.8"
the arrow head background color is wrong.. It might be do to the helpers

[2012-06-27 18:16] doronrosenberg opened #2628 "Empty console.error shows up when loading maqetta"
In Firefox, an empty console.error() is logged when maqetta finishes loading.

[2012-06-27 18:31] doronrosenberg opened #2629 "Update Dialog to 1.8"

[2012-06-27 18:38] #2629 closed, assigned to doronrosenberg

[2012-06-27 18:52] peller opened #2630 "Cannot switch tabs in visual editor with absolute positioning"
@JonFerraiolo

Regressed somehow in Dojo 1.8:

Using Sample2.html, click on the first tab in the tabcontainer, now click on the other.  The tabs do not switch unless you click on something else in between.

Update: use absolute positioning.  drop a tabcontainer on the page.  select it.  you can't switch tabs by clicking directly on the tabs.

[2012-06-27 19:13] billreed63 opened #2631 "Theme Editor medadata incorrect for dojo 1.8"
Looks like lots of CSS change in 1.8

[2012-06-27 19:14] billreed63 opened #2632 "mobile theme CSS files not loading in pageEditor"
open cascade in theme editor and rules are missing

[2012-06-27 19:18] billreed63 opened #2633 "mobile theme metadata incorrect for dojo 1.8"
Lots of metedata changes

[2012-06-27 19:44] billreed63 commented on #2632
In

[code]

it looks like we are getting to that code before the dojoxmobile object is created
we load the mobile css files into the model inside that function the function never gets called.. I think it is due to use beating dojo and putting our function on before the object is created...

@peller  says "that may not work with AMD, depending on what they're doing"

[2012-06-27 19:49] billreed63 commented on #2632
Switching device does not change the device theme, but I think that is the same bug...

[2012-06-27 19:53] aerwin opened #2634 "Icons missing when use mobile_edge_to_edge_or_round_rec__data_list.json"
1. New HTML file with composition type iPhone
2. Drag View onto canvas
3. Drag EdgeToEdgeDataList onto canvas
4. Set Smart Input to point at samples/sample_data/mobile_edge_to_edge_or_round_rec__data_list.json
5. Notice a bunch of broken images and see following in JavaScript console:

[code]

[2012-06-27 20:05] aerwin commented on #2634
Same with Carousel and carousel_data.json

[2012-06-27 20:19] childsb commented on #2619
findResource(...) is ONLY for user workspace files and wont work for static mappings.

[2012-06-28 02:19] peller commented on #2624
-> @doronrosenberg, can you please take a look?  I suspect the third bullet point might be related to your changes to the "teardown" code in Workbench.  Let me know if you think the others might be related to resource changes or Dojo 1.8

[2012-06-28 02:57] peller commented on #2619
-> @billreed63 is looking at this

[2012-06-28 03:12] aerwin commented on #2597
Closing with above commit.

[2012-06-28 03:12] #2597 closed, assigned to aerwin

[2012-06-28 03:14] aerwin commented on #2575
Closing with above commit.

[2012-06-28 03:14] #2575 closed, assigned to aerwin

[2012-06-28 04:09] jhpedemonte commented on #2543
No longer used. Closing.

[2012-06-28 04:09] #2543 closed, assigned to billreed63

[2012-06-28 05:31] peller commented on #2628
putting a breakpoint in instrumenting.js, the error I'm seeing is

`"Could not expand path at ."`

from dijit/Tree's _setPathAttr, where the error being logged is a string rather than an Error object, so the instrumenting code doesn't seem to know what to do with it.  Anyway, it's one of those tree node expansion problems.  @doronrosenberg, maybe you can take a look at that.  I filed [a ticket aga

[2012-06-28 13:24] billreed63 opened #2635 "Creating new theme spinning wheel hangs"
When creating a new claro theme the theme gets created but the spinning wheel never gets removed
@peller

[2012-06-28 13:58] gianluca-sabena opened #2636 "Impossible to disable parser onload"
I can't disable dojo parser on load because if I change the line

[code]

in

[code]

Maqetta M6 will revert the line to the original version (parseOnLoad:true)

[2012-06-28 14:00] peller commented on #2636
Maqetta requires the parser to interact with widgets on the page.  Even if there are not any widgets on the page, they could be added at any time.  Turning off the parser would effectively be turning off widgets and most of the functionality in Maqetta.  It could be implemented that way as a preference, but may I ask, what is the use case?

[2012-06-28 14:07] gianluca-sabena commented on #2636
Hi, I'm using Maqetta to design a raw form, but since I need to add some flavor using javascript I work this way:
- design a basic form in maqetta
- stop the parser onload
- copy the raw form in a  js variable
- add flavor (for example a group of box to manage a many-to-many relation with another table) based on the current CRUID operation
- parse it

So any time I change the form state I have the

[2012-06-28 14:32] billreed63 opened #2637 "Unable to set style on widgets in theme editor and page editor"
With the latest pull from git I am unable to set styles.

[2012-06-28 14:46] peller commented on #2636
could be some expert mode sort of thing, where the parser could be disabled on a document basis.  I'm not even sure we have document-based settings yet.

@JonFerraiolo @jhpedemonte

[2012-06-28 14:46] doronrosenberg commented on #2628
Error comes from the files palette.  The path causing the issue is:

[code]

[2012-06-28 15:17] gianluca-sabena commented on #2636
I discovered a workaround!
It is possible to redefien dojoConfig via the require function (http://dojotoolkit.org/reference-guide/1.7/loader/amd.html#configuration)

[code]

[2012-06-28 16:15] doronrosenberg commented on #2628
So the problem here is in _dndSelector - dojo builds the persist cookie by doing:

[code]

So we basically call getIdentity on the path - so for app.js that would be the root (./project1) and app.js (./project1/app.js) resulting in the invalid ./project1/.project1/app.js.

[2012-06-28 16:34] doronrosenberg commented on #2628
@peller  @jhpedemonte

Actually I could be wrong here - I think previously we didn't persist selection, we just persisted expansion. We only had the maqExplorer cookie, but now we have an additional one that the dndSelector is setting to persist selection as well.

Not sure what to do here, I would assume we don't want to persist selection right?

[2012-06-28 17:21] doronrosenberg commented on #2634
The directories have changed

[2012-06-28 17:21] billreed63 commented on #2635
What I am seeing is on theme create we do a NewTheme.js line 116 `var found = Theme.getTheme(base, true);` that them invokes `var themeData = Library.getThemes(Workbench.getProject(), this.workspaceOnly, flushCache);` which invokes `allThemes = system.resource.findResource("*.theme", false, projectThemeBase.toString());`

findResource sometimes returns an array that contains an undefined element,

[2012-06-28 17:28] #2634 closed, assigned to doronrosenberg

[2012-06-28 17:45] doronrosenberg commented on #2624
sure

[2012-06-28 18:14] billreed63 commented on #2635
-> @peller he is findResource man :)

[2012-06-28 18:16] billreed63 commented on #2619
Added theme back to maqetta theme folder but in dijit and dojox folders to make them straight folder replaces when upgrading dojo

[2012-06-28 18:18] doronrosenberg commented on #2624
1/2 are easy fixes, 1.8 behavioral changes.

3 is fun - submit buttons always run onExecute, and onExecute always hides the dialog.  Looks like we will have to move the validation to the widget itself so it can cancel the onClick on the button.

[2012-06-28 18:19] billreed63 commented on #2619
fixed with commit a43afbb8f70cd9908cd04767a26df7d3e9342664

[2012-06-28 18:19] #2619 closed, assigned to billreed63

[2012-06-28 18:20] billreed63 commented on #2632
send to @peller

[2012-06-28 18:29] doronrosenberg commented on #2634
Might be a migration issue, not sure

[2012-06-28 18:50] peller commented on #2628
That's my recollection also.  Prior to Dojo 1.8, dijit/Tree only saved the expansion state, and we customized the cookie name.  Must be a new 1.8 feature?  Sounds like a harmless failure, at least.  It seems dijit/Tree doesn't let you persist one without the other.  So, I guess the issue -- why is the identity invalid?  The path should be an array of paths up to the file (2 filepaths in an array).

[2012-06-28 18:59] doronrosenberg commented on #2628
I assume its the . path is confusing it, as there is no tree node with that identity.

[2012-06-28 19:00] #2624 closed, assigned to doronrosenberg

[2012-06-28 19:26] aerwin opened #2638 "Users need to set properties on sub-items of complex widgets: Menus"
This is a spin-off from #79. #79 was originally written as a more general feature request  for setting properties on sub-items of complex widgets, and it includes discussion on Menus, DataGrid, and Tree.
#79 will now be devoted only to Trees, and this new feature request will be devoted to Menus.

[2012-06-28 19:27] aerwin opened #2639 "Users need to set properties on sub-items of complex widgets: GridX"
This is a spin-off from #79. #79 was originally written as a more general feature request  for setting properties on sub-items of complex widgets, and it includes discussion on Menus, DataGrid, and Tree.
#79 will now be devoted only to Trees, and this new feature request will be devoted to GridX. (At the time #79 was written, the focus was on DataGrid, but we have now deprecated DataGrid in favor

[2012-06-28 19:28] aerwin commented on #79
This issue will now be entirely focused on trees. The following spin-off issues have been created to handle Menus and GridX:
- #2638: Users need to set properties on sub-items of complex widgets: Menus
- #2639: Users need to set properties on sub-items of complex widgets: GridX

[2012-06-28 19:50] peller commented on #1382
dup #1208

[2012-06-28 19:50] #1382 closed, assigned to childsb

[2012-06-28 19:51] peller commented on #2628
see #1208  All the periods in the path should be removed, not just from the UI, but from the implementation. @childsb

[2012-06-28 19:59] JonFerraiolo commented on #2637
Reopening and reassigning to @JonFerraiolo. If we need to pass an array, maybe we can convert into an array in one of the utility routines rather than putting arrays into the table at the top of the file.

[2012-06-28 20:13] JonFerraiolo commented on #2630
Hi Adam, within the next week, I'm going to commit some major changes to AppStates.js as part of the states reconciliation task. This issue is _probably_ independent of my changes, but just thought I would remind you.

[2012-06-28 20:20] #2552 closed, assigned to billreed63

[2012-06-28 20:40] billreed63 commented on #2637
In SwitchingStylesView.js pageTemplate has a mix of targets that are array already eg.
`{display:"box-sizing", type:"combo", target:['box-sizing','-webkit-box-sizing','-ms-box-sizing','-moz-box-sizing'], values:['','content-box','border-box']}`
And others that where not eg.
`{display:"height", type:"multi", target:"height", values:['','auto','100%','200px','10em']}`

Cascade.buildRendering set the

[2012-06-28 20:51] peller commented on #2636
excellent.  Perhaps this would still let the visual editor do its thing and add new widgets?

[2012-06-28 22:21] doronrosenberg opened #2640 "Add keyboard handlers"
@JonFerraiolo @jhpedemonte

Runtime.js would handle the basics for us.  It would provide `registerKeyBinding(keyBinding, pluginAction)`, which we would call to register key bindings.  KeyBinding would be an object that has the accelerator, key and any modifiers (shift for example).

When we parse plugins, like davinci.actionSets, we check if there is keyBinding object.  If it does, we then registe

[2012-06-29 00:21] JonFerraiolo commented on #2636
But won't disabling the parser cause Maqetta-created pages that use Dojo widgets to not work properly in preview-in-browser and other scenarios where the page just runs directly in the browser? Is the idea that custom JavaScript would invoke the Dojo parser at a later point in time?

Also not that the application states feature hooks into the Dojo parser at runtime (eg preview-in-browser) and if t

[2012-06-29 00:33] JonFerraiolo commented on #2640
This is one of those things that we might have to implement one way, try out, and then adapt.

But in general, I would think that Ctrl-S should do a save no matter where the focus is - in an editor, in the properties palette, in the widget filter field, doesn't matter. But in other cases - eg, Ctrl-X/Ctrl-C/Ctrl-V - we should do different things depending on whether focus is in a palette field ver

[2012-06-29 00:34] JonFerraiolo commented on #2637
OK, thanks, you are probably right, but let's leave it open and give me a chance to study all of this.

[2012-06-29 02:47] peller commented on #2636
Jon, I think the user is invoking the parser from JS code.  If the AppStates code to hook the parser is right, it should get invoked along with the parser regardless of when it runs.

[2012-06-29 02:49] peller commented on #2636
@intertesto, given that you're dealing with advanced JS scripting outside drag-and-drop operations in Maqetta, your workaround of adding a require seems reasonable given that you're manually invoking the parser from JS.  I'm not sure anything else is warranted right now.  Ok to close this issue?

[2012-06-29 14:43] aerwin opened #2641 "Can't set global background color in theme editor"
There are a lot of theme editor issues open right now, so possibly a dup. I'd have thought this might fall under #2637, but that sounds different (and is supposedly already resolved according to the comments)...

In Chrome on Mac... clone Claro and try to change global background color to red:

[code]

[2012-06-29 14:50] aerwin opened #2642 "Exception in console when click Save on Theme Sets dialog"
@billreed63

Open as medium because despite the exception, the changes appear to be saved when I reopen the Theme Sets dialog...

Using Chrome on Mac..
1. Open Settings -> Theme Sets
2. Create new theme set
3. Click save and see error in console:

[code]

[2012-06-29 15:17] aerwin opened #2643 "Audio element volume slider shows up in page editor"
I don't think this is anything new, but have never opened an issue for it...

On Chrome on Mac...
1. New HTML file
2. Drag AUDIO element onto page
3. Click OK on Smart Input
4. Mouse over the volume control in the page editor and the volume slider pops up and can be manipulated

![screenshot](http://i.imgur.com/SGF7T.png)

[2012-06-29 15:32] aerwin opened #2644 "Need scrollbar on widget-specific properties"
This doesn't appear to be anything new, but there's no scrollbar on widget-specific properties if the list of props is too long to fit in the viewable area.
1. Make browser window somewhat small (like if showing developer tools)
2. New HTML file
3. Drop  HTML input widget onto page
4. Look at widget-specific properties

In screenshot below, there are a few props after size (including the very impo

[2012-06-29 15:37] peller commented on #2644
dup of #2449

[2012-06-29 15:37] #2644 closed, assigned to nobody

[2012-06-29 15:44] aerwin opened #2645 "Found more dialogs not sized correctly on launch"
@doronrosenberg

Not sure if these are related to Dojo 1.8 upgrade or part of remaining dialog clean-up:

From changing background on button:

![screenshot](http://i.imgur.com/68sAo.png)

Switching theme on HTML file (note wrapping "Theme set" label):

![screenshot](http://i.imgur.com/Ez9P9.png)

[2012-06-29 15:52] aerwin opened #2646 "Color picker and error dialog shown at sametime"
Working through Properties 5 test plan on Chrome on Mac... not sure if regression or not...
1. New HTML file
2. Drop Dojo button onto page
3. Go to background tab in Prop Palette
4. Try to change background using "Color picker..."
5. Get error dialog and color picker... dialog at same time... I think correct UX behavior would be to not show  Color Picker dialog.

![screenshot](http://i.imgur.com/e

[2012-06-29 15:55] aerwin opened #2647 "Can't bring up background dialog"
Working through Properties 5 test plan on Chrome on Mac...
1. Drop Dojo button onto page
2. Go to background sections of props dialog
3. Click "..." button to bring up background dialog and it fails:

[code]

[2012-06-29 16:09] aerwin opened #2648 "Slider smart input dialog comes up off-center"
@doronrosenberg

Looks like the slider smart input was changed to use a resizable dialog at some point, and now it comes up off center:

![screenshot](http://i.imgur.com/PmY2r.png)

[2012-06-29 16:13] aerwin opened #2649 "Dismissing slider smart input with title bar's X icon breaks future launches of the dialog"
@doronrosenberg

Looks like slider dialog was converted to be resizable at some point. If I dismiss the dialog with the X icon in the title bar, then when I relaunch it, its empty:

![screenshot](http://i.imgur.com/lHiZ3.png)

Dismissing with OK or Cancel buttons works fine.

[2012-06-29 16:17] aerwin commented on #2645
Also, Vertical Slider Smart Input:

![screenshot](http://i.imgur.com/3jxsR.png)

[2012-06-29 17:31] peller commented on #2646
@doronrosenberg

[2012-06-29 17:32] #2632 closed, assigned to billreed63

[2012-06-29 18:01] #2649 closed, assigned to doronrosenberg

[2012-06-29 18:01] #2648 closed, assigned to doronrosenberg

[2012-06-29 19:44] doronrosenberg opened #2650 "+/- buttons in prop palette don't work"
For example under border, the +/- buttons don't work and throw:

[code]

[2012-06-29 20:15] #2509 closed, assigned to billreed63

[2012-06-29 21:59] doronrosenberg commented on #2646
I can't reproduce the 2 showing at the same time on mac chrome (version 20.0.xxxx).

[2012-06-29 22:07] aerwin commented on #2646
Hmmm... what steps are you following? I just went to lab9:50010 and reproduced using that level of Chrome on Mac. (When I opened earlier today I was on a locally installed build.)

[2012-06-29 22:13] doronrosenberg commented on #2646
New HTML File, dnd a dijit Button, background properties, click on the color picker in background-color.

Mac Chrome, not seeing this on lab9:50010 as well.

[2012-06-30 00:06] aerwin commented on #2646
Ok, well to eliminate browser from the equation, I just tried FF on Mac and again see the same thing.

You're choosing the "Color picker..." menu option, right?

![screenshot](http://i.imgur.com/UJULZ.png)

[2012-06-30 14:05] jefftrbo opened #2651 "html editor - erratic movements while in 'display source' view"
The erratic movements begin when I switch from "display design" to "display source" and attempt to alter the source.

For example, my current .html file has 142 lines and let's say that the <div> containing the dojox.mobile.edgetoedgelist code that I want to alter is on line 81. I can place the cursor in the position that I want to alter and it flashes in place normally and the UI behaves as expec

[2012-06-30 14:06] jefftrbo opened #2652 "html editor - erratic movements while in 'display source' view"
The erratic movements begin when I switch from "display design" to "display source" and attempt to alter the source.

For example, my current .html file has 142 lines and let's say that the <div> containing the dojox.mobile.edgetoedgelist code that I want to alter is on line 81. I can place the cursor in the position that I want to alter and it flashes in place normally and the UI behaves as expec

[2012-06-30 18:25] peller commented on #2652
dup of #2651

[2012-06-30 18:25] #2652 closed, assigned to nobody

[2012-06-30 18:46] peller commented on #2651
It's a known problem with some related issues (I'll try to find and cross-references them)  The code to focus and sync selection in the source editor is pre-empting your work.

[2012-07-01 13:58] jefftrbo opened #2653 "rightText property missing"
Apologies if I overlooked this, but it appears that the rightText property is not found in the ListItem>Property>Widget Specific property list.

By design?

[2012-07-01 14:03] #2653 closed, assigned to nobody

[2012-07-01 14:20] jefftrbo opened #2654 "select property missing"
The RoundRectList and EdgeToEdgeList are both missing the "select" (e.g., select="single", select="multiple") property field in the Properties>Widget Specific list.

[2012-07-02 02:19] jhpedemonte commented on #2513
Reproducible for me by:
1. Load Maqetta anew.
2. New HTML File.
3. Drop Dijit Button.  Notice font of text.
4. Click Preview.  Notice that font is different.

Preview does not have document.css in this case.

[2012-07-02 02:23] jhpedemonte opened #2655 "Toolbar icons "jiggle" as hover over them"
Open an HTML file and move your mouse over the toolbar icons.  Notice that they jiggle.

Regression from Dojo 1.8 beta?  Assigning to @peller for now, to investigate.  Send it back to me if this isn't the case.

I'm guessing that there's some discrepancy in the CSS for the icons, where margins/padding are incorrect.

@JonFerraiolo @doronrosenberg

[2012-07-02 02:32] jhpedemonte opened #2656 "Blur of smart input tooltip dialog causes error"
1. New HTML page.
2. Add Dijit Button.  Notice that smart input automatically appears.
3. Click a different widget entry in Palette.

This action will cause the smart input dialog to hide, but errors our in `hide()`, trying to call `removeChild()`.  The error is:

[code]

Testing on Chrome/Mac.

[2012-07-02 02:34] jhpedemonte commented on #2656
Hmm, actually happens when clicking **OK** as well.

[2012-07-02 02:46] jhpedemonte opened #2657 ""Error modifying value" dialog is incorrectly sized"
1. With (read-only) Claro theme set (the default), add a Dijit Button to page.
2. In **Properties > Layout** set **width** to 200px.

This will bring up the **Error modifying value** dialog, which is not correctly sized:

![dialog](http://i.imgur.com/Pm4BJ.png)

[2012-07-02 02:52] aerwin commented on #2657
Dup of #2645?

[2012-07-02 02:55] jhpedemonte commented on #2657
Dupe to #2645.

[2012-07-02 02:56] jhpedemonte commented on #2645
As seen in #2657, I'm still seeing this, even after the commit.  Seen on lab9:50010 w/ Chrome/Mac.

[2012-07-02 03:09] jhpedemonte commented on #2645
New Review dialog as well:

![review dialog](http://i.imgur.com/gqKwM.png)

[2012-07-02 03:32] jhpedemonte opened #2658 "Review publish not working, throws error"
Tried to create a new review while running on lab9:50010, but got this error in the browser console:

[code]

Server log shows this:

[code]

---

Tested sendmail on that machine and it's working.  However, not sure what would have changed in build to break this.

@childsb

[2012-07-02 03:39] jhpedemonte commented on #2647
-> @doronrosenberg to investigate.

[2012-07-02 12:49] peller opened #2659 "SpinWheelSlotInput references davinci/ui/ErrorDialog"
Need to replace the old ErrorDialog reference so this module will load

@doronrosenberg

[2012-07-02 12:58] JonFerraiolo commented on #2654
@doronrosenberg can you please investigate?

[2012-07-02 13:33] peller opened #2660 "switch tasks and selection is lost in outline tree"
Open Sample1.html
Click on a button.  Notice that it is selected in the outline view as well as the visual editor.
Now select another state/scene from the scenes view.  The visual editor retains the selection, but the outline view does not.

[2012-07-02 13:34] peller commented on #2660
switching states seems to be regenerating the entire outline view and causing flicker.  Can this be avoided with the new model?

[2012-07-02 14:18] doronrosenberg commented on #2645
@jhpedemonte regards to 2657 - what are the exact steps to reproduce?

[2012-07-02 14:33] peller commented on #2660
oops... was running against an old build. All works fine.

[2012-07-02 14:33] #2660 closed, assigned to doronrosenberg

[2012-07-02 14:34] #2659 closed, assigned to doronrosenberg

[2012-07-02 14:37] peller opened #2661 "Carousel is broken"
@jhpedemonte

Add a Carousel to a View.  The styling appears to be missing.  There are no icons, only a black bar and arrow buttons.

Try changing the data in the input and you get this error:

[code]

[2012-07-02 14:38] peller commented on #2661
...or, the merry go round broke down

[2012-07-02 14:42] doronrosenberg commented on #2656
Tried mac chrome, not seeing this on trunk.  I didn't change the smart input dialogs though.

[2012-07-02 15:18] doronrosenberg commented on #2646
Now I see it, thanks.  I did just try this on maqetta.org and it happens there as well, so not related to the new dialog.

[2012-07-02 16:05] doronrosenberg commented on #2645
I still don't see Error modifying dialog issue on lab9:50010 on mac chrome after a cache clear

[2012-07-02 16:27] doronrosenberg opened #2662 "Right clicking in Files palette throws error"
Open Maqetta, then right click on any file in the files palette (note: don't left click on the file first, just right click).

[code]

[2012-07-02 16:42] JonFerraiolo commented on #2662
-> @peller to investigate - maybe a dojo 1.8 issue?

[2012-07-02 16:47] doronrosenberg commented on #2661
@jhpedemonte @JonFerraiolo @peller

In dojo 1.8, carousel no longer supports stores - instead there is a DataCarousel and a StoreCarousel, which are separate widgets.  The easiest solution would be to remove Carousel and replace it with StoreCarousel, the helpers should migrate over easily and probably with no changes.

Are we planning to switching to using data rather than stores? If so this woul

[2012-07-02 17:03] jhpedemonte commented on #2640
Continuing from what Jon said:  the plan that you have outlined will work well for keyboard bindings which are _global_.

However, how will you handle bindings which only affect one part of Maqetta?  Or (as with cut/copy/paste) there is a binding which can be registered multiple times from different parts?

Probably best to go forward with the known _global_ bindings and get those working well.  T

[2012-07-02 17:11] doronrosenberg commented on #2640
@jhpedemonte Non-global bindings would be handled by the widgets themselves - say the outline tree, it would do its own thing and cancel any events it handles.

[2012-07-02 17:25] JonFerraiolo commented on #2661
Maybe we can talk about this issue on the next team phone call.

@billreed63 @aerwin @peller

[2012-07-02 17:34] JonFerraiolo commented on #2647
@doronrosenberg @billreed63 - Above commit gets the Background dialog to come up, but choosing a gradient and clicking OK does nothing at this point. The executor function doesn't seem to get invoked.

[2012-07-02 17:42] doronrosenberg commented on #2647
I'll take a look at the issue

[2012-07-02 17:53] peller commented on #2662
It would appear to be a FF-only bug.  Right clicking doesn't select the item on FF.

[2012-07-02 17:55] JonFerraiolo commented on #2647
->@doronrosenberg

I think we need to add type='submit' to the OK button in ve/widgets/templates/BackgroundDialog.html

[2012-07-02 18:00] #2647 closed, assigned to doronrosenberg

[2012-07-02 18:06] JonFerraiolo opened #2663 "Should force cellspacing=0 even if user doesn't set value"
If you create a new table and accept defaults, no value gets set for cellspacing, so no cellspacing attribute gets added to the table element's root node, so the browser default is used (which I believe is 2). We should instead force a default value of cellspacing=0.

[2012-07-02 18:14] peller commented on #2662
this is not new Dojo behavior.  I feel like we had a workaround to this bug which must have gotten lost in some of our Tree refactoring.

I can't seem to find a Dojo ticket on this, so I [filed one](http://bugs.dojotoolkit.org/ticket/15600)

[2012-07-02 18:18] doronrosenberg commented on #2662
I see this on the Outline palette too - right click without focus opens the context menu, but all items are disabled.

[2012-07-02 18:21] JonFerraiolo commented on #2655
I'm seeing the same jiggling with Preview6 when using Chrome. No jiggling icons with Firefox.

[2012-07-02 18:25] JonFerraiolo opened #2664 "Double-click on widget in Outline palette should bring up SmartInput"
@billreed63 @peller - I thought that at one point we supported double-click in Outline palette so that user can bring up SmartInput from Outline palette. Whatever, it isn't working in Preview6 or in latest code.

For HTML tables, it would be really handy if user could double-click on TABLE element to bring up @aerwin's new SmartInput dialog for tables. It will be tough on users to have to first se

[2012-07-02 18:28] JonFerraiolo opened #2665 "If table selected, double-click on table cell should bring up table smartinput"
Not sure if this is easy or hard, and might be something that @JonFerraiolo would be best to fix.

Right now, if you have a TABLE selected and then double-click on middle of table (i.e., over a cell), you get SmartInput for the cell instead of the table. Would help the user if we could find a way to bring up SmartInput for table when the table is selected, versus couldn't behavior (where first cli

[2012-07-02 18:37] peller commented on #2655
and only horizontal jiggling this time.  It looks like the button content box (not padding or margin) changes its size during mouseover, but none of the child elements change size.  Does that make any sense?  I don't see any style rules appear in the Chrome debugger, but there must be some taking effect.

[2012-07-02 18:45] JonFerraiolo opened #2666 "Tutorial(s), video(s) and/or blog(s) on HTML tables"
We have some major (and very cool) advances with HTML tables, but it would help users an awful lot if we had some instructions materials.

One topic in particular that is almost certain going to be non-obvious to users is how to control column widths in tables. My thinking is that we need to explain 'table-layout' of fixed vs auto, particular around controlling which columns have fixed size versus

[2012-07-02 19:38] JonFerraiolo opened #2667 "Exception in New Project dialog"
@childsb @peller

In both builds and in Eclipse, if you click OK on the New Project dialog, you get an exception at _ButtonMixin.js:43 (here is the source code):

[code]

because both this.valueNode and this.focusNode are undefined. If debugger is on, then execution stops because you reached an exception. If debugger isn't on, then the new project gets created and maybe everything is OK. But we sh

[2012-07-02 19:48] peller commented on #2593
It's a bit embarrassing how simple this one was... when we relocated the sources for the sample files in a subdir, we didn't alter the script src= path for dojo.js.  If you load/save the files, they fix themselves up and download works fine.  It was only if you did a download on the default content that it would fail

[2012-07-02 19:49] #2593 closed, assigned to peller

[2012-07-02 20:55] #2667 closed, assigned to doronrosenberg

[2012-07-02 21:20] aerwin commented on #2658
Closing with above commit.

[2012-07-02 21:23] doronrosenberg commented on #2664
What is the correct way to launch an widget's smartinput?

[2012-07-02 21:36] #2658 closed, assigned to aerwin

[2012-07-02 22:04] JonFerraiolo opened #2668 "ScrollableView not working after 1.8 merge"
@jhpedemonte @doronrosenberg

Testing with latest code (both posted builds and run from Eclipse), attempt to drag/drop a ScrollableView widget onto canvas. Result is nothing is added. (eg nothing shows in Outline palette)

NOTE: View and SwapView widgets are working.

[2012-07-02 22:17] JonFerraiolo commented on #2664
good question! It hadn't occurred to me that this might be non-obvious. Look at ve/tools/SelectTools.js for routine onDblClick().  At line 315 you should see:

[code]

The 3rd parameter says to invoke inline edit (aka SmartInput) as a byproduct of the select() operation.

(Yes, that code is ugly)

[2012-07-02 22:42] #2600 closed, assigned to doronrosenberg

[2012-07-02 22:42] #2664 closed, assigned to doronrosenberg

[2012-07-02 23:41] peller commented on #2668
ScrollableViewHelper calls disableScroll in the constructor (see 9aa897b77c519c53f372d0bb52cbb066593a3304).  That method no longer exists, and I don't see where it ever did exist...  Comment out that line and the widget renders.  @JonFerraiolo, any idea where it came from or what might have replaced it?

[2012-07-03 00:47] JonFerraiolo commented on #2668
I don't remember for sure, but I'll guess that the call to disableScroll() prevents dojox.mobile from grabbing mouse drag events when the Maqetta page editor is up.

@peller - can you please comment out the offending line with a commit, and then reassign this issue to me so I can jog my memory about why exactly we were calling disableScroll() and then figure out an appropriate alternative techniqu

[2012-07-03 02:16] peller commented on #2668
-> @JonFerraiolo

[2012-07-03 02:48] #2518 closed, assigned to peller

[2012-07-03 03:32] JonFerraiolo opened #2669 "Download exception"
@billreed63 @jhpedemonte

Maybe this is a dupe of #2336, but that issue seems to be about an intermittent bug and I'm seeing an exception that seems to happen with every download operation. I have seen the exception with builds on Win/FF and Win/Chrome and running from Eclipse using Mac/Chrome. I expect the exception occurs in all browsers on all platforms.
- New Eclipse project
- Create a sub-fol

[2012-07-03 04:30] jhpedemonte commented on #2640
And if, say, Outline and Files view both register the same keyboard binding, which one gets called?  I'm not sure if "whichever has focus" is an adequate answer, since that always isn't evident to the user.

For example, bring up Sample1.html and make the Outline view visible.  Select the **New** button in the VE -- notice that it is selected in the VE and also in the Outline.  Now click on **New*

[2012-07-03 05:26] doronrosenberg commented on #2640
For Outline and Files, they would handle the events themselves, so if Files has the "real" focus then it would handle the key press.

Probably a question for the UX team? @JonFerraiolo

[2012-07-03 14:12] gianluca-sabena commented on #2636
I confirm your guesses, I stop the parser, then I manipulate widgets wit JS and at the end I run the parser. The designer and the preview correctly work, but note that I'm not using AppStates so I can't confirm they are properly working. The workaround solves the problem.

[code]

[2012-07-03 14:13] #2636 closed, assigned to nobody

[2012-07-03 14:32] gianluca-sabena commented on #306
+1

It is really important to have a find and replace feature in source editors because Chrome browser find looks only in lines displayed but not in others lines external to the editor view. This is a problem when I have to debug javascript code, for example when I need to know where I call a specific function.

[2012-07-03 14:48] JonFerraiolo commented on #2640
@jmockler @peller

One thing to consider upfront is that we need to keep accessibility in mind. The reason that icons take the focus is mostly for accessibility reasons, particularly to allow the user interface to be navigated via the keyboard (or voice actions).

I suspect that there isn't going to be a simple or singular rule for how to deal with focus issues and accelerator keys. There will be

[2012-07-03 14:51] JonFerraiolo opened #2670 "Arrow keys move Button in wrong direction"
(In Mac Chrome)

Add a Dojo Button to page with absolute positioning and try to move with arrow keys. Note that right arrow moves widget up, and other things are broken too. Dojo Calendar works OK.

Broken in M6 too

[2012-07-03 15:50] JonFerraiolo opened #2671 "User and admin control over libraries and versions"
@childsb @billreed63 @aerwin @peller @doronrosenberg

I started a wiki page with some thoughts: https://github.com/maqetta/maqetta/wiki/Configurable-libraries

[2012-07-03 15:54] peller commented on #2640
Note also the platform issues with at least some accelerators: e.g. Mac command key vs. Windows control key.   Clipboard operations are command-C/X/V on the Mac, and the native ops will tend to work regardless of browser restrictions (though perhaps not in an extensible way, or quite as you'd like them to work!)  Even ctrl-S may be conflict with a browser save-as menu?

Regarding accessibility, I

[2012-07-03 18:20] doronrosenberg commented on #2640
@jhpedemonte So Chrome won't allow use to intercept accel-n, accel-w and accel-t, need to update the google doc.  Perhaps use alt on windows and ctrl on mac?

[2012-07-03 18:26] doronrosenberg commented on #2640
Full list is Ctrl-PageUp
Ctrl-PageDown
Ctrl-W
Ctrl-F4
Ctrl-T
Ctrl-N
Ctrl-Shift-N

[2012-07-03 18:57] JonFerraiolo commented on #2640
For W and N, I can't think of anything better than alt on windows and ctrl on mac.

[2012-07-03 20:01] jhpedemonte commented on #2640
No, I'd rather keep the default accelerator for each platform, rather than have some using default but others using something else.

How about something like this:

New HTML _E_ditor:  {Accel} E [1]
New Generic _E_ditor: {Accel} Shift E
Close: {Accel} Shift W [2]

[1] I noticed that Google Docs doesn't have keyboard bindings for _New File_ or _Close_, which correspond to {Accel}-N and {Accel}-W --

[2012-07-03 20:11] JonFerraiolo opened #2672 "Test plan for arrow keys for widget moving in sketch mode"

[2012-07-03 20:54] billreed63 opened #2673 "Need a way to @import files for toolkit lib instead of coping"
It would be best to leave the themes in the toolkit folders and just have `@import` in our theme CSS files.

1) we can not use `@import('../../libs/dijit.themes/claro.......')` due to letting the user change the lib name for the project
2) we can not use `@import('../lib_dojo_1.7.....')` static paths to libs because the server does not know how to locate in the xhr request to model

[2012-07-03 20:54] billreed63 commented on #2673
@JonFerraiolo @childsb

[2012-07-03 22:02] JonFerraiolo commented on #2673
When we do something that changes folder locations (e.g., modify libraries), can we also include logic that updates the URLs for all of the @imports in the custom theme CSS files? We now do all of the HTML file munging via client-side JavaScript whenever libraries move. It seems like we could do the same sort of thing for custom theme CSS files, perhaps by adding some code to UserLibraries.js.

[2012-07-03 22:35] megaD opened #2674 "Tool icons look broken on Chrome 20 when hovering"
The tool icons on the top behave very strange since today on my Chrome 20. When hovering they shift by a few pixels: http://screencast.com/t/8OpyVvwX (video of the issue)

[2012-07-03 22:52] peller commented on #2674
interesting... I do see the problem, but I can only get one icon to jiggle at a time.  You seem to have a cumulative effect.

dup of #2655

[2012-07-03 22:52] #2674 closed, assigned to nobody

[2012-07-04 13:48] billreed63 opened #2675 "Add sourceMaps to build deployments"
Chrome supports sourceMaps for debugging minifird javaScript. We should add sourceMaps to our built and deployed versions to aid in debugging.

[2012-07-04 14:15] peller commented on #2675
We'll need to use Google's closure compiler instead of shrinksafe.  Shrinksafe had experimental sourcemaps long before this spec, but I don't think it has anything that matches the spec.

[2012-07-04 19:46] Mohammad-Aftal opened #2676 "incorrect url encoding for preview in browser"
## After creating my first Android App flowing the very same  steps showing on the video on YouTube channel (Maqetta Mobile Authoring Overview - YouTube) the preview function is not working at all it is showing this to me

HTTP ERROR 404
Problem accessing /maqetta/user/eng.m.a@live.com/ws/workspace/project1/Android%2520trial/Android%2520trial.html. Reason:

[code]
## Powered by Jetty://

I am new

[2012-07-05 03:43] peller commented on #2676
somewhere, we are double-escaping the url.  This url works: http://maqetta.org:55556/maqetta/user/eng.m.a@live.com/ws/workspace/project1/Android%20trial/Android%20trial.html

[2012-07-05 03:46] peller commented on #2676
seems to occur only when a file path (with a character like a space) is wrapped in the device silhouette preview

@JonFerraiolo

[2012-07-05 06:33] Mohammad-Aftal commented on #2676
thank you very much but isn't this a bug?? that IBM should fix??  because the wrong link was generated by Maqetta

[2012-07-05 13:13] peller commented on #2676
absolutely, and thank you for reporting it

[2012-07-05 16:10] doronrosenberg commented on #2654
I'll cover this as part of #2135, looks like something we should support.

[2012-07-05 20:19] doronrosenberg commented on #2640
@jhpedemonte accel shift w was close all editors, what do we switch to then? ctrl shift a?

[2012-07-05 20:31] doronrosenberg commented on #2640
accel shift w also doesn't work well, chrome for example will close itself anyways.

[2012-07-05 21:13] jhpedemonte commented on #2616
-> @billreed63

[2012-07-06 00:06] peller opened #2677 "remove davinci/ui/widget/ResourceTreeModel?"
This appears to be unused.  Only reference I see is in davinci/review/model/ReviewTreeModel, and it's not used in that module.  It's also got some incorrect resource usage (e.g. getChildren expects to be executed synchronously)  Can we remove it?

[2012-07-06 00:31] peller commented on #2625
@doronrosenberg, can you take a look?

[2012-07-06 01:50] #2508 closed, assigned to peller

[2012-07-06 01:51] #27 closed, assigned to peller

[2012-07-06 01:54] peller commented on #799
works for me

[2012-07-06 01:54] #799 closed, assigned to peller

[2012-07-06 01:56] peller commented on #2626
works now, probably fixed by 604bb896fa3352cbb13c4db5059720448c14c0c0

[2012-07-06 01:56] #2626 closed, assigned to peller

[2012-07-06 03:30] JonFerraiolo commented on #2677
@billreed63 @aerwin - see any problem with removing davinci/ui/widget/ResourceTreeModel?

[2012-07-06 14:05] aerwin commented on #2677
Yes, I agree with @peller... looks to be dead code.

[2012-07-06 14:10] billreed63 commented on #2677
sounds like a plan

[2012-07-06 14:40] aerwin opened #2678 "Add test case for tree smart input"
Spin-off from #79.

[2012-07-06 15:56] doronrosenberg commented on #2135
New widgets:
- ~~Accordion (work is there, but widget is broken)~~
- ~~Badge~~
- ~~Grid Layout (think tables for mobile)~~
- ~~IconMenu~~
- Audio
- Video
- Opener (shows a dialog with a arrow, ios like)
- ~~ProgressIndicator~~
- ScreenSizeAware (allow 2 views next to eachother if wide enough, else panel to panel)
- SimpleDialog
- Treeview (view a tree using EdgeToEdge)
- ~~Valuepicker~~
- ~~ValueP

[2012-07-06 18:03] billreed63 opened #2680 "Outline palette not updated when BorderContainer changed"
1) Create new desktop file
2) DnD BorderContaier, take defaults when smart input is displayed
3) Expand the outline palette you should see BorderContaiener with 5 ContentPane children
4) Double Click on BorderContainer to get SmartInput
5) deselect "right" checkbox, click ok
6) On the canvas the right content pane is gone, as well as in the scource, but it is still displayed in the outline palette

[2012-07-06 18:08] peller commented on #2680
-> @doronrosenberg worked on the outline tree, I think.  If this is some dojo 1.8 mystery, please feel free to send back

[2012-07-06 18:10] #2677 closed, assigned to peller

[2012-07-06 18:16] doronrosenberg commented on #2680
Hrm, I had that working (and it works in my branch) but not on trunk, yay regression

[2012-07-06 18:26] doronrosenberg commented on #2680
OK, this is indeed a dojo 1.8 behavior change for trees, and its actually a good one.

[2012-07-06 18:27] #2680 closed, assigned to doronrosenberg

[2012-07-06 23:48] aerwin commented on #79
With the commit above, there's still some needed polish, but I believe the core functionality is in place. E.g., there's a full visual editor for specifying the tree contents and properties can be set on the selected node.

When you drop a Tree on a page, you'll get the new Tree Configuration dialog. There's a toolbar to create nodes, delete nodes, move nodes, etc. In addition dnd is turned on so

[2012-07-07 00:12] aerwin commented on #79
couple other points:
- should add _onOpen_ event to go with _onClose_
- if add label styling (to go with icon styling) could also consider adding support for `getRowStyle` stuff

[2012-07-07 07:27] aerwin commented on #268
-> @aerwin

Addressed this as part of commit 4f74c74b58d1a703c20eeea401d5f66b748719e2 for #79.

[2012-07-07 07:27] #268 closed, assigned to aerwin

[2012-07-08 19:49] aerwin commented on #79
Added improved node icon setting with above commit... a couple additional issues to deal with:
- if onChange in text field is generated by selecting different node in preview tree then changes get applied to wrong node
- completely removing node icon from properties doesn't cause icon to disappear from preview tree (but it does persist when clicking OK)

[2012-07-08 21:20] JonFerraiolo opened #2681 "RoundRectList broken with Dojo 1.8 merge"
@jhpedemonte @peller
- New HTML File - iphone
- Add a View, a Heading
- Try to drag/drop a RoundRectList onto canvas

Result=> Nothing happens due to exception at ListItemHelper.js:32 because `widget.dijitWidget.box` has no value.

@doronrosenberg - Looks like the (what you labeled as a hack) change you added with https://github.com/maqetta/maqetta/commit/1c96c1343d83be67b8b01004652015bccf999c4b#d

[2012-07-08 21:58] JonFerraiolo opened #2682 "Move/resize in custom state with S key broken with undo/redo"
- New HTML FIle - sketch
- Drag/drop SampleBanner.jpg
- Add a new state "a"
- Go into state "a"
- Move the image with "s" key depressed at mouseup time
- Undo/redo - seems to work correctly
- Resize the image with "s" key depressed at mouseup time
- Undo/redo

Result=> Doesn't work right

[2012-07-08 23:48] JonFerraiolo opened #2683 "Mobile reviews broken - dojo.js not found"
@childsb @aerwin
- Clean workspace
- New review, using `samples/Sample3-Mobile.html` as the review file
- After clicking Publish, go to reviews tab and try to open the review version of `Sample3-Mobile.html`

Result=> Dies. Can't find dojo.js

[2012-07-08 23:52] JonFerraiolo commented on #2683
Withdrawing - I forgot to wipe my workspace before testing.

[2012-07-08 23:52] #2683 closed, assigned to peller

[2012-07-08 23:55] JonFerraiolo opened #2684 "Mobile review commenting Sample3-Mobile.html dies with loadDeviceTheme"
@aerwin @peller @doronrosenberg
- New Review using `samples/Sample3-Mobile.html`
- After Publish, go to Reviews tab and try to open that review file

Result=> Dies at `davinci/review/editor/Context.js` at line that reads `dm.loadDeviceTheme(theme);`.

My guess is that we have adapted the page editor to deal with the new approaches to theme loading but haven't migrated those changes yet into the re

[2012-07-09 01:22] JonFerraiolo opened #2685 "Can't put two mobile Views on page"
@peller @doronrosenberg @jhpedemonte
- New HTML file - iphone
- Drag/drop one View widget, then drop a second one into the first one

Result=> The Outline palette doesn't update properly: the eyeball is still on View_0 and doesn't get updated to View_1.

I suspect there are actually multiple problems here, some potentially tricky because we have some widget-library-specific funkiness in ViewHelper

[2012-07-09 01:50] peller opened #2686 "Exception destroying tree in PublishWizard"
[code]

@doronrosenberg @aerwin

[2012-07-09 01:52] #2684 closed, assigned to peller

[2012-07-09 02:38] aerwin opened #2687 "Deal with tree migration issues"
With #79, there were some changes made to the declarative HTML used for `dijit.Tree`.

The changes were a result of more closely following [the example for Dojo 1.8 `dijit.Tree` use](http://livedocs.dojotoolkit.org/dijit/Tree). The main changes are described below. I'm not sure if we want to "migrate" per se but perhaps just want to "deprecate" the "old" approach and do what we can to tolerate in

[2012-07-09 03:27] aerwin opened #2688 "Need some sample icons for tree nodes"
@JonFerraiolo

Spin-off of #79...

Both for testing and tutorial type info, it would be good to have some sample icons appropriate for tree nodes. The best candidates we currently have in the sample directory are too big (e.g., `samples/sample_data/images/i-icon-1.png`).

[2012-07-09 03:34] aerwin opened #2689 "Need toolbar icons for new tree smart input"
@JonFerraiolo

Spin-off of #79...

Need toolbar icons for tree smart input. The existing buttons with labels are kind of clunky:

![screenshot](http://i.imgur.com/Iu9uG.png)

This could perhaps could be addressed at same time as tree node icons (#2688).

[2012-07-09 03:45] jhpedemonte opened #2690 ""callbacks" prop should be treated as AMD module"
Currently, the "callbacks" property is simply evaluated as JS (through dojo.xhrGet) in _metadata.js_.  Instead, we should treat it as an AMD module, to put it on par with "helper", "tool" and "inlineEdit".

[2012-07-09 03:52] aerwin opened #2691 "Tree should support data from file and JSONP"
To be on par with other data store based widgets (e.g., GridX), Tree should support data from file in workspace and data from JSONP.

Note: the implementation for Tree smart input (#79) might not be particularly compatible with these data store types (since it works on the JSON in the `data` attribute of the store), so this would need to be considered.

[2012-07-09 04:06] aerwin opened #2692 "Tree smart input should handle setting node properties for label and row"
The tree smart input implemented for #79, supports setting the icon for tree nodes. On the backend, `getIconStyle` is overridden on the `dijit.Tree` to return a style specifying the background-image to use. While there are lots of things that could be set on the icon style (e.g., all of the things in our background dialog as a start), it wasn't that big of a stretch to make a simplifying assumptio

[2012-07-09 04:37] aerwin commented on #2692
also... further complicated in that you probably want different setting depending on whether node opened or closed.

[2012-07-09 04:45] aerwin opened #2693 "Tree smart input should provide global settings for icon style"
One concern I have with the smart input for trees (from #79) is that it's potentially rather tedious to click on each node of the tree to set attributes like node icon.

The "backend" of our support is based on an override of `getIconStyle` on the `dijit.Tree` that looks for either an "iconStyle" or "iconStyleOpen" value associated with the item:

[code]

We might consider having a tree wide iconS

[2012-07-09 04:59] aerwin opened #2694 "Clearing icon field in tree smart input doesn't not update preview tree"
In new tree smart input (from #79), the preview tree updates to show the node icon specified in the icon field. However, if I _remove_ the value from the icon field, the icon is _not_ removed from the preview tree. However, I know the underlying is model is updated because if I click OK the value removal is properly persisted.

I've actually already spent some amount of time trying to fix this one

[2012-07-09 05:16] aerwin opened #2695 "Add Dijit tree to theme editor"
@billreed63

Add Dijit tree to theme editor.

[2012-07-09 05:24] aerwin opened #2696 "Allow specification of class for icon styling (and label and row)"
For the new tree smart input (#79), I decided to go with the approach of using `getIconStyle` rather than `getIconClass`. This offers us the ability to provide inline styling like we do for all other widgets.

However, `getIconClass` is the recommended approach given to developers in all of the examples. So, it would be nice to offer it as an option. However, there are some issues:
- to do it in a

[2012-07-09 05:47] aerwin opened #2697 "Provide ability to set additional icon style attributes besides image file"
For the new smart input for tree (#79), the ability to specify an image file to serve as the node icon is provided. It is specified on the backend via the `background-image` style property returned from overridden `getIconStyle` function. The choice to limit the attributes configurable via the dialog to `background-image` was done for simplicity (and to serve the most common use case).

However, a

[2012-07-09 05:52] aerwin commented on #2697
-> M8 ... I've opened a number of tree related feature requests, and I don't think they are all containable (or even necessarily required for M7). This is one early candidate to be deferred to M8 (or later). If anyone disagrees with pushing this out, please speak up.

[2012-07-09 05:56] aerwin commented on #2696
-> M8 ... I've opened a number of tree related feature requests, and I don't think they are all containable (or even necessarily required for M7). This is one early candidate to be deferred to M8 (or later). If anyone disagrees with pushing this out, please speak up.

[2012-07-09 05:57] aerwin commented on #2692
-> M8 ... I've opened a number of tree related feature requests, and I don't think they are all containable (or even necessarily required for M7). This is one early candidate to be deferred to M8 (or later). If anyone disagrees with pushing this out, please speak up.

[2012-07-09 06:29] #79 closed, assigned to aerwin

[2012-07-09 14:07] aerwin opened #2698 "Incorrect selection chrome after clicking OK on tree smart input"
When click OK on the tree smart input dialog, the Tree gets selected. But, the selection chrome is too small (seems to be using min-height):

![screenshot](http://i.imgur.com/paT6R.png)

Clicking outside of the small selection chrome sets it correctly:

![screenshot](http://i.imgur.com/5qIsW.png)

[2012-07-09 14:20] aerwin opened #2699 "onOpen handler for tree node runs in page editor context when tree auto-expanded"
With the new tree smart input (#79), onOpen handler for tree node runs in page editor context when tree auto-expanded.
1. Nw HTML file
2. Drop tree on page
3. In tree smart input, select the first node and put JS in the "onOpen" field (e.g., `console.log("onOpen!")`)
4. when click OK (or file is reopened), the onOpen JS for the node is run (e.g., in this case see "opOpen!") in console

It's a litt

[2012-07-09 14:23] aerwin commented on #2699
Also... this only happens if _autoExpand_ is set to true on the tree (which is our default).

[2012-07-09 14:31] aerwin opened #2700 "davinci.ve.ObjectWidget doesn't support data-dojo-type"
The `davinci.ve.ObjectWidget` object (used by data stores) doesn't support `data-dojo-type` (only `dojoType`).

[2012-07-09 14:53] JonFerraiolo commented on #2699
Interesting issue! We have logic in Maqetta to look for all HTML event attributes (e.g., onclick, onmouseover) and we deactivate those attributes in the page editor simply by removing those attributes when a page is viewed in the page editor. This is a nice general approach that required about 20 lines of code to pull off. Look at ve/widget.js:495, _Widget.js:468 and Context.js:1236 (search for "e

[2012-07-09 15:05] #2507 closed, assigned to doronrosenberg

[2012-07-09 15:09] aerwin commented on #2699
Thanks for the point to the lines of code... I'll have to go look at those...

This is a little different in that we're doing declarative `dojo.connect`s, so rather than looking for HTML event attributes, we might want to take steps to disable SCRIPT blocks of type "dojo/connect" that are within widget blocks. E.g., remove the JS inside those blocks when the page is viewed.

[code]

[2012-07-09 16:06] aerwin opened #2701 "Tree smart input should support html markup in tree nodes"
Another nice to have from the new tree smart input (#79) would be to support HTML mark up in tree nodes... e.g., in screen shot below &lt;b&gt; tags were added to the label of the selected node:

![screenshot](http://i.imgur.com/nsGB8.png)

[2012-07-09 16:25] jhpedemonte opened #2702 "Update Context._parse()?"
The `if (header.modules)` check in `Context.setHeader()` never seems to be true.

`header.modules` comes from `data.modules`, which is set in `Context._parse()`.  That whole function is pretty old and probably needs to be updated/rewritten -- especially this `modules` bit, which might not even be necessary any more.

[2012-07-09 16:35] #2685 closed, assigned to JonFerraiolo

[2012-07-09 17:31] jhpedemonte commented on #872
Moving to Priority High, since users are trying to build on Windows and running into issues.  Doron, please take a look when you get the chance.

[2012-07-09 17:48] #2399 closed, assigned to billreed63

[2012-07-09 18:09] megaD opened #2703 "Display source view always opens shifted by one character"
After opening a file and switching to the "display source" view the code is always shifted by one character. I have to click the "left arrow" to see the first column of characters in the code. Browser: Chrome 20.

Video of issue: http://screencast.com/t/BOOIu4FNSn2c

[2012-07-09 18:12] peller opened #2704 "re-enable gzip on server"
at least in the zazl target.  @rbackhouse had a conflict between gzip and his server:

@childsb

[2012-07-09 18:23] peller commented on #2703
dup #2250

[2012-07-09 18:23] #2703 closed, assigned to peller

[2012-07-09 18:38] peller commented on #1586
438aef997a1e484f55fc006142877c92369764eb merged Richard's zazl project integration

[2012-07-09 18:48] aerwin opened #2705 "Allow tree nodes to be set as leafs"
@billreed63 points out that the new smart input for trees (from #79) doesn't allow creating "leaf" nodes  (e.g., all nodes without a custom icon show a folder icon).

I'm going to be propose that tree support be updated to make a `mayHaveChildren` override that returns `false` for nodes with a `leaf` attribute set to true. I'll also plan on setting `leaf` to `true` for any node unless the designer

[2012-07-09 18:56] #2681 closed, assigned to doronrosenberg

[2012-07-09 19:06] JonFerraiolo opened #2706 "Extraneous newline in generated code for ListItem"
@billreed63 @aerwin
- New HTML File - iphone
- Add a View, a Heading and RoundRectList
- In SmartInput for RoundRectList, enter this:

[code]

and click the radio button for "HTML" and click OK on SmartInput
- Now look at source view

Result=> You'll see this for the second ListItem

[code]

We shouldn't be adding a newline character between the open `<i>` and the close `</i>`

This issue may not

[2012-07-09 19:06] JonFerraiolo opened #2707 "ListItem with embedded markup - Maqetta puts IDs on embedded nodes"
@billreed63 @aerwin
- New HTML File - iphone
- Add a View, a Heading and RoundRectList
- In SmartInput for RoundRectList, enter this:

[code]

and click the radio button for "HTML" and click OK on SmartInput
- Now look at source view

Result=> You'll see this for the second ListItem

[code]

There shouldn't be an 'id' attribute on the `<i>` element.

See also #2706

[2012-07-09 19:37] rbackhouse commented on #2704
To clarify, gzip has only been disabled in the new launch added for running with Zazl for preview. I think the solution will be for me to peek at the first 3 bytes of the response to see if its a gzip signature and use a GZIP inputstream to read.

[2012-07-09 19:46] jhpedemonte commented on #2700
Reopening.  I got most cases where **dojoType** is queried, except for **davinci/workbench/WidgetLite.js**.

[2012-07-09 19:46] doronrosenberg commented on #872
@jhpedemonte So how do I build maqetta? I've ever only run it through eclipse

[2012-07-09 20:06] doronrosenberg commented on #2640
I've checked in my current progress into master.  We've got most of the bindings we want, I'll be adding the test in the next day or so

[2012-07-09 21:29] #2668 closed, assigned to JonFerraiolo

[2012-07-09 21:37] JonFerraiolo commented on #2602
Closing this as a dupe of these bugs:
- #2513 document.css sometimes not there for preview-in-browser
- #2541 document.css missing from one of our themes

Actually, the initial rendering of the Button is correct, and the rendering after bringing up split view is wrong. The key difference is that when you first drop the Button, document.css is included in the document, but when split view shows, af

[2012-07-09 21:38] JonFerraiolo commented on #2602
On second thought, reopening and assigning to @billreed63 as a reminder when he gets to the document.css fixes.

[2012-07-09 21:41] aerwin commented on #2705
Closing with above commit.

[2012-07-09 21:41] #2705 closed, assigned to aerwin

[2012-07-09 21:46] aerwin commented on #2602
@JonFerraiolo So, you'd say the table rendering issues I mentioned are correct (before reparse) as well? I guess meaning claro mucks around with them?

[2012-07-09 22:06] peller opened #2708 "Preview should reference Dojo from user's lib/, not app/"
Refs #1586

@JonFerraiolo @rbackhouse

Zazl is unable to find the dojo.js in the preview iframe (preview.html) because it begins with app/  Therefore, the optimizer does not run.  Using the Dojo in lib/ is the right thing to do anyway, I think, since it's the version that the user will ultimately see, rather than the library belonging to the workbench.

Problem is, the path to Dojo involves the us

[2012-07-09 22:56] JonFerraiolo opened #2709 "document.css messes up cellpadding on tables, need to remove cellpadding (and replace cellspacing)"
@billreed63 @peller

Sorry about this.

When investigating #2602, to my great disappointment, I see that the claro theme's `document.css` file is forcing margin=padding=0 on all TD and TH elements. This style rule has higher precedence in the CSS cascade than the `cellpadding` attribute on the TABLE element.

We need document.css for proper look/feel of Dojo widgets. I think the only thing we can

[2012-07-09 23:01] JonFerraiolo commented on #2602
See #2709.

With tables, document.css has the opposite effect. As mentioned in #2709, document.css adds style rules for all TD and TH elements that set padding to zero. These style rules have higher precedence than the "inherited" value from the cellpadding property on the TABLE element. As a result, if you use the table SmartInput to set cellpadding to 25 at document creation time (when document.

[2012-07-09 23:14] aerwin commented on #2709
Quick discussion on TH vs. TD w/ @JonFerraiolo ...

6:10:10 PM: aerwin@us.ibm.com - I'm thinking it also means I need to remove the checkbox for header row as well
6:10:23 PM: aerwin@us.ibm.com - TH renders just like TD with document.css
6:10:43 PM: jferrai@us.ibm.com - really, even fonts are the same?
6:10:46 PM: aerwin@us.ibm.com -  yes
6:11:26 PM: jferrai@us.ibm.com -  I'd leave it in, but we w

[2012-07-10 00:28] aerwin commented on #2666
Remember to consider some of the discussion in #2709 when putting together this documentation.

[2012-07-10 03:52] jhpedemonte commented on #2390
Reopening.  I'm coming to this late, but I have an issue with how the library code is registered in **metadata.js**.  Here's my [comment on that commit](https://github.com/maqetta/maqetta/commit/4b2502a469931812917564d5c068975215d1e3dd#commitcomment-1558634):

Let's discuss this on Tuesday.

[2012-07-10 04:31] jhpedemonte opened #2710 "Tree regressions in Files view"
Noticed several regressions in the Files view tree:
1. When selecting an item, the blue highlight no longer goes across the full width, now stopping at the end of label.
2. When deleting a file, the item for that file remains. Further attempts to delete result in error in the console (since file doesn't exists).  Refreshing page correctly shows that file is no longer present in Files view tree.

A

[2012-07-10 04:35] aerwin commented on #2390
@jhpedemonte We'll probably need to talk about this tomorrow at the scrum, but I don't think the answer is to revert the change... seems like we can go back to registering dojo lib id as you had it before my change with a tweak:

Current code:

[code]

Untested proposed change in logic to handle dojo:

[code]

However, if at some point you actually wanted to use the `maq-lib-dojo-1.8` module id wi

[2012-07-10 12:48] peller opened #2711 "app.js code improvements"
the check for if(dojo...) is incorrect, since if Dojo is not defined, it will throw a ReferenceError.  We should also be using require("dojo/domReady!") here instead.

@JonFerraiolo @rbackhouse

[2012-07-10 12:57] peller commented on #2711
We generally assume the existence of an AMD loader on the page now, as we do with the states code.  Using AMD, the file might look something more like this:

[code]

though I'm not sure there's much point in providing code for the browser load event.  I'm also not sure if it's supported to use this code in a script tag.  It should probably be an AMD module itself, pulled in via require?

[2012-07-10 14:20] #2710 closed, assigned to peller

[2012-07-10 14:26] JonFerraiolo commented on #2711
@jhpedemonte

Yes, our pages assume the Dojo loader is available, so please proceed to change the standard boilerplate around app.js to use AMD, and thanks for noticing this.

Regarding the browser load event, I found that check was necessary when I was testing the feature on user pages. As I remember, using the previous approach for app.js, dojo.ready was undefined at the time the app.js file was

[2012-07-10 16:06] JonFerraiolo opened #2712 "Duplicate WIdget palette search box"
@doronrosenberg @childsb

One of our users reports:

I tried modifying the user libraries using the "Modify Libraries" option in the "Files" view tool bar and saw a duplicated "Search box" in the widgets palette.

@jhpedemonte responded:

Known issue, although I don't think we have a but open for that. Mainly because we are planning on redoing the Widgets Palette sometime soon.

[2012-07-10 16:54] peller commented on #2711
I think it comes down to how the "app.js" module is included.  Presently, it is referenced by script tag.  I'm not sure that's correct.  Dojo may or may not have loaded, so there may be a race condition there, especially with an optimizer running or a large layer for dojo.js.  Alternatively, it could be included as a module like maqetta/states.

Regardless of how it's referenced, I'm not sure I li

[2012-07-10 16:56] peller commented on #2711
Taking this a bit further, are devs going to be surprised to see app.js code run on every page they create, rather than authoring custom JS code on a page-by-page basis?

[2012-07-10 18:05] JonFerraiolo commented on #2711
I talked this over with some users and they actually recommended the single pre-installed app.js approach. This whole feature was the result of working with users. For a good chunk of our users, it's within their comfort level to add some snippets of JavaScript to a pre-installed app.js file, but too much for them to learn about how to add a SCRIPT tag for their own custom .js file. So far, we hav

[2012-07-10 18:12] doronrosenberg commented on #2656
@jhpedemonte still seeing this?

[2012-07-10 18:13] peller commented on #2711
I can understand having a common JS file to contain functions, like a library, but when the act of including the file triggers UI or other action, I'd think making it shared would be confusing.  Just my $.02

Yes, moving to an AMD module instead of a SCRIPT tag would potentially let the optimizers avoid the hit.  Still, it's a dead code reference by default.  Given that we don't yet have a mechani

[2012-07-10 18:43] childsb opened #2713 "move UI API out of Workbench."
Workbench.js has a few frequently-used dialog classes.  These classes need to be used by lower level components and end up causing a circular dependancy on Workbench.

Examples:
Workbench:showModal
Workbench:showMessage
Workbench:showDialog

Should move to:
ui/Dialog:showModal
ui/Dialog:showMessage
etc..

[2012-07-10 18:51] JonFerraiolo opened #2714 "Problems adding a second mobile ComboBox on Firefox"
Dave reports the following in (https://groups.google.com/forum/?fromgroups#!topic/maqetta-users/gtuyGp83tK0):

When I try to add a second dojox combobox on a mobile view, firebug reports an error, something like:
Tried to register DataList_1, but it is already registered.

[2012-07-10 19:05] childsb commented on #2669
i couldn't reproduce this error exactly, but the steps did lead to another similar error.

the forEach over the themeFiles array was out of scope and causing a NPE.  please re-open if you still notice the issue still.

[2012-07-10 19:05] #2669 closed, assigned to childsb

[2012-07-10 19:33] aerwin commented on #2678
Closing with above commit.

[2012-07-10 19:33] #2678 closed, assigned to aerwin

[2012-07-10 20:44] aerwin opened #2715 "Need to strip out `dojo/connect` script tags for event handling"
@JonFerraiolo @jhpedemonte @billreed63 @childsb @peller @doronrosenberg

For the work in #79, I enabled a number of features that required me start putting &lt;script&gt; blocks in our declarative HTML (which is new in Maqetta as far as I know). So, I'm opening this issue as a forum for discussion (and potential code changes) as I suspect we might end up with more of this moving forward and figure

[2012-07-10 21:04] JonFerraiolo opened #2716 "Go into split view: document becomes dirty"
@childsb @doronrosenberg

Dave reports:

When I view the code in the Designer, not even editing, the filename in the tab gets a "*" indicating the file needs to be saved (again)

[2012-07-10 21:07] jhpedemonte commented on #2711
Scripts can be _downloaded_ in parallel, but they are _evaluated_ in the order on the page.  So as long as the app.js script tag comes **after** that of dojo.js, it'll be fine.

I think it's fine to keep app.js as a script tag...

[2012-07-10 21:11] JonFerraiolo opened #2717 "Source editor jumps the cursor to the top of the screen"
@doronrosenberg

Dave reports:

Noticed that quite often (and I'm sure there's a pattern to this), the source editor jumps the cursor to the top of the screen.  Probably when a component is manually entered or modified.  EXTREMELY ANNOYING!

Logging this with Prio-High for the moment to investigate and determine if this is a ubiquitous problem, a common problem, a rare problem, or cannot reproduce

[2012-07-10 21:14] jhpedemonte commented on #2715
I'm still trying to understand this:  why exactly are the inline script elements needed?  What issue are they solving?

[2012-07-10 21:31] aerwin commented on #2715
Take the tree inline blocks as an example:
- getIconStyle -- the only way to modify the styling of tree node icons is to override the `dijit.Tree`'s `getIconStyle` or `getIconClass` functions and return values based on an examination of the item's state and properties
  - also... we're not yet supporting label or row styling in the tree, but same kind of thing would hold there (e.g., need to overr

[2012-07-10 21:32] aerwin commented on #2715
Some more details on the comments in my last post: http://livedocs.dojotoolkit.org/dijit/Tree#betweenthreshold

[2012-07-10 21:33] aerwin commented on #2715
actually, http://livedocs.dojotoolkit.org/dijit/Tree goes to the top of the page, and http://livedocs.dojotoolkit.org/dijit/Tree#icons would take you to the section on icons...

[2012-07-10 22:24] jhpedemonte opened #2718 "Split widgets.json from package.json"
Originally, when Adam said he was going to combine **widgets.json** into **package.json**, I assumed he meant that we would do this dynamically in the server, not in the source itself.  That wasn't the case, but I ran with it.  However, I've come not to like this situation and think the the two should be separate files in the source.
1. Separate files are easier to document.  **package.json** is i

[2012-07-10 22:55] JonFerraiolo commented on #2718
I'm ok with either combined or separate.

[2012-07-10 23:12] peller commented on #2718
The code still supports separate widgets.json files, we'd just have to split out the data again.  However, the code should be restructured so that it kicks off the dojo.xhr requests simultaneously and uses sync:false for both (probably need to use a DeferredList.

[2012-07-10 23:12] peller commented on #2718
Zazl only deals in AMD.  If you want to concatenate/transform the JSON into some larger structure that could be processed by the client in place of the two files, that should work.

[2012-07-10 23:17] JonFerraiolo commented on #2715
I'm totally fine with the current approach @aerwin has implemented already, including the use of `dojo.eval` in this context, so long as it actually works in all scenarios. Detailed comments:
- We already put a bunch of stuff in user HTML files that they better know what they are doing before they attempt to change. It's OK to put more stuff into the HTML file so long as we can justify it in terms

[2012-07-10 23:34] jhpedemonte commented on #2718
We already have code in **metadata.js** that can handle this split or combined (although I think the the "split" route may need to be updated following Adam's [suggestion above](https://github.com/maqetta/maqetta/issues/2718#issuecomment-6892958)).

So I was proposing that we do the merge in the server and send that down.  To the client, nothing would change from the current code, where the files

[2012-07-10 23:47] #2713 closed, assigned to doronrosenberg

[2012-07-11 13:46] aerwin commented on #2715
@JonFerraiolo thanks for the response...

One question you asked:

We need the SCRIPT blocks of type "dojo/method" to be able to do their thing in the page editor as they provide overrides to the superclass. E.g., we need `getIconStyle`to run in the page editor otherwise we won't see the custom icons. And, similarly, for the `dojo.store.Memory` we need `getChildren` or the tree can't figure out th

[2012-07-11 14:15] JonFerraiolo commented on #2715
Hmm. Are you saying the page editor's policy would be to run SCRIPT tags with "dojo/method" but not any others? It seems like we will run into widgets where we would want to ignore "dojo/method". Is the decision about embedded SCRIPT tags up to the widget helpers? In that case, then we have the hooks for widget-specific decisions about embedded SCRIPT tag.

A follow-on question is whether widget.j

[2012-07-11 14:16] aerwin opened #2719 "Dojo build of UI plug-ins no longer minifies all the parts"
@peller @childsb

Looking at the build output for the various UI plugins (gridx, shapes, clipart, etc.), it seems that the only parts getting built are the layers explicitly listed in the respective profile.js files in each plug-in. It used to be every part was built (giving us advantages with minification, inlining of templates, etc.) even when not explicitly included in a layer. And, this was a

[2012-07-11 14:43] aerwin commented on #2715
Nothing is currently in place for this to be determined by helpers. In #2699, you pointed me at the code that deactivates HTML event attributes.

Quickly glancing at ve/widget.js (and without trying it), it seems like we could add a short block that strips out the data-dojo-event attributes for html.script elements that have type = "dojo/connect".

A new helper call could be invented, but seems a

[2012-07-11 15:15] doronrosenberg opened #2720 "Localize plugin labels"
All the plugins .js files have hard coded strings

[2012-07-11 15:15] doronrosenberg opened #2721 "Document keyboard navigation"

[2012-07-11 15:16] aerwin commented on #2390
@jhpedemonte @peller

Some more background for when we have this discussion...

Let's look at the shapes plug-in since the discussion goes beyond gridx at this point...

When the dojo built is performed, the AMD module path is actually hardcoded into the definition. For example, look at the built `_CircleMixin` from the shapes lib:

[code]

The path ("shapes/_CircleMixin") becomes part of the defi

[2012-07-11 16:49] JonFerraiolo commented on #2715
If we need a helper, we need a helper.

that one resonates more with me in this particular case

I tried it and in fact it didn't work

So I believe that I'm fine with all of your proposals.

[2012-07-11 17:01] #2714 closed, assigned to doronrosenberg

[2012-07-11 17:10] doronrosenberg commented on #2661
@JonFerraiolo @jhpedemonte

So here is a question - do we keep Carousel as the name in the widget box but switch to using DataCarousel under the covers?  Or do we add DataCarousel as a separate widget?

Also, I assume this is a major migration issue, as m6 maqetta created carousels won't work in m7 because of the dojo 1.8 change.

[2012-07-11 17:13] #2493 closed, assigned to doronrosenberg

[2012-07-11 17:18] doronrosenberg commented on #2625
Works fine for me in Firefox and Chrome, so closing.

[2012-07-11 17:18] #2625 closed, assigned to doronrosenberg

[2012-07-11 17:19] doronrosenberg commented on #2656
Closing for now, please reopen if you still can repro this

[2012-07-11 17:19] #2656 closed, assigned to doronrosenberg

[2012-07-11 17:29] peller commented on #2661
Given that this is dojox.mobile's API breakage, I don't think we should attempt to migrate it.  IIUC, Carousel is a base class now and not something that works OOTB?  Do we want to replace it with DataCarousel?  I suppose we should use the name DataCarousel, since we will someday also offer StoreCarousel.

[2012-07-11 17:33] doronrosenberg commented on #2661
Carousel can contain CarouselItem now.  So we could change Carousel to build those using a smart input, and then have a separate DataCarousel that works with datastores.

[2012-07-11 17:36] JonFerraiolo commented on #2661
I wouldn't worry much about backwards compatibility with Carousel widgets in old user documents.

If Dojo offers a plain Carousel widget with CarouselItem, then I would suggest having separate Carousel (, CarouselItem maybe at least under the hood), vs DataCarousel and StoreCarousel. That seems to be the pattern we are adopted (e.g., EdgeToEdge vs EdgeToEdgeDataList).

But another question is what

[2012-07-11 18:20] doronrosenberg commented on #2661
@JonFerraiolo we could switch to dojo.store, but that would require more work as we would need to write new helpers/etc.  Probably 3-4 days of work to write a new Carousel widget and a new StoreCarousel with store-specific base class and helpers.

[2012-07-11 18:24] JonFerraiolo commented on #2661
Because DataCarousel sounds like a relative short task, I guess we should stick with DataCarousel for time being and see if we have time to get to StoreCarousel (and then think about dropping DataCarousel)

[2012-07-11 19:54] billreed63 opened #2722 "Changing Workspace Location for themes breaks create new theme"
If the user change the Workspace location  for dojoThemes to any value other than themes, the user will not be able to clone a theme. I suspect we have other issues with the user changing the theme location and this is just the tip of the ice burg.

[2012-07-11 20:07] billreed63 commented on #2673
I looked into this and have found an issue with this approach, it might be my understanding of the code...
theme/claro/claro.css would look like:

[code]

This files is readOnly and shared by all users of maqetta. So we can not change the path to the CSS from the client due to the readonly nature and even if we could it would break all other users

[2012-07-11 20:36] #2541 closed, assigned to billreed63

[2012-07-11 20:50] billreed63 commented on #2616
I can't get this to happen for me on Chrome/Win local host,
Can you still reproduce? Does this happen with the debugger off?

[2012-07-11 21:05] #2641 closed, assigned to billreed63

[2012-07-11 21:53] JonFerraiolo opened #2723 "Invalid target dialog poorly sized"
Not urgent, but should fix before M7 goes out.
- New HTML File - sketch mode
- Attempt to drop a mobile View widget onto canvas

Result=> Triggers an error dialog because View widgets can't be added in absolute positioning mode. That's fine, but the dialog sizing is messed up.

[2012-07-11 22:34] aerwin commented on #2687
Closing with above commit.

[2012-07-11 22:34] #2687 closed, assigned to aerwin

[2012-07-12 04:22] peller opened #2724 "about dialog is upside-down"
title is where the content should be and vice-versa

[2012-07-12 11:32] rbackhouse commented on #2704
The response is now checked for gzip before attempting to be scanned.

[2012-07-12 11:32] #2704 closed, assigned to peller

[2012-07-12 13:55] billreed63 opened #2725 "Warning message when modifing app.css rule"
When the user modifies and exsisting app.css class rule in page editor they are shown the

This change will modify one of the CSS style rules defined within a 'CSS theme' and will therefore probably impact other widgets on a global basis.

Message which is not correct.

1) DnD a button
2) give button a class "myButton"
3) font color open the cascade and select the app.css rule for the button
4) ch

[2012-07-12 14:04] billreed63 commented on #2724
It also throws and exception if I try to stretch the box by pilling on the resize tab

[2012-07-12 17:23] JonFerraiolo opened #2726 "Video and/or tutorial and/or blog on partial-page SwapViews"
@doronrosenberg @jhpedemonte

Here is a demo page: http://archive.dojotoolkit.org/nightly/dojotoolkit/dojox/mobile/tests/test_SwapView-demo.html You have to swipe your mouse right-toleft on the bottom RoundRectList to see the SwapViews in action. Looking at source code, they are using FixedSplitter and a new thing from dojo 1.8 called dojox.mobile.Container

We should try to add a video, tutorial

[2012-07-12 18:05] #2724 closed, assigned to doronrosenberg

[2012-07-12 18:08] doronrosenberg commented on #2723
It just sizes to the widget of the message - are you saying its too long?

[2012-07-12 19:44] JonFerraiolo commented on #2723
Closing, at least for the time being.

I was seeing a different problem than just that the dialog was wide. There were other problems. (I should have taken a screen capture). But until I see it again, let's close it.

[2012-07-12 19:44] #2723 closed, assigned to doronrosenberg

[2012-07-12 19:49] #2711 closed, assigned to peller

[2012-07-12 21:09] aerwin opened #2727 "Theme renders incorrectly in theme editor, but right in HTML file"
@billreed63

Unfortunately, I'm not sure I have a good reproduction scenario for this. But, I was trying to change some of the properties on primitive widgets in the iPhone theme, and it didn't seem to be working especially well. So, I saved and reopened, and things look  messed up in the theme editor:

![screenshot](http://i.imgur.com/ukxA6.png)

However, the HTML file using the theme still looks

[2012-07-12 21:13] aerwin opened #2728 "Widget palette sometimes disappears"
I don't have a reliable way to reproduce this, but I often notice the widget palette is empty when an HTML file is open. I think it's often tied to closing files, and then reopening/creating another. But, doesn't always happen.

I've seen this pretty regularly when running from my dev environment. Now, I'm seeing it when running through the test matrix.

May not be much we can do about it until we

[2012-07-12 21:18] aerwin opened #2729 "Checkbox/radio buttons in primitive widget area of mobile theme editor can be checked"
@billreed63 @JonFerraiolo

Using Chrome Mac...
1. Clone iphone theme
2. Go to Control sections
3. Select check box by clicking on it and see it get checked (this was confusing to me as I was trying to figure out why my background wasn't being applied)

(Assigned to @billreed63 , but I know @JonFerraiolo often takes the selection related issues.)

[2012-07-12 21:19] billreed63 commented on #2727
The top picture is the CSS files are not loaded, where they in the head of the document? If you close and reopen the file do they appear?

[2012-07-12 21:19] #2513 closed, assigned to billreed63

[2012-07-12 21:25] aerwin opened #2730 "Mobile theme subwidget editing error"
1. Clone iphone theme
2. Go to Rects & List
3. Select the edge to edge widget
4. Try to select ListItem from list of subwidgets
5. Selection fails (leaving two items selected) and JS error in console

![screenshot](http://i.imgur.com/jT23m.png)

[code]

[2012-07-12 21:25] aerwin commented on #2730
Using Chrome on Mac...

[2012-07-12 21:26] aerwin commented on #2727
What document do you want me to look at?

No, closing and reopening does not fix it.

[2012-07-12 21:48] billreed63 opened #2731 "Math for Horizontal slider is odd"
1) DnD a Horizontal slider
2) Select the horizontalRule subwidget in widget specific change count to 10
3) Select the horizontalRuleLabels in the widget specific change the count to 10

Notice that the labels change to
0%,11%,22%,33%,44%,56%,67%,78%,89%,100% I expected to see increments of 10

[2012-07-12 21:53] aerwin opened #2732 "Choose devices silhouettes shouldn't use editable text field"
1. With an open HTML file, click the button for changing device silhouettes
2. A dialog comes up and I can type anything I want in the both. In addition, I can click OK without any indication it's an invalid value.

![screenshot](http://i.imgur.com/zbBcp.png)

[2012-07-12 21:55] billreed63 commented on #2727
look at the in the head of the iframe tab that the themeEditor is in Look for the theme in the head you should see something like

[code]

In this example the cloned theme is iphone1.css

strange that closing and reopen does not fix, Can you download your workspace and send to me

[2012-07-12 21:58] #2731 closed, assigned to billreed63

[2012-07-12 22:04] aerwin opened #2733 "Download workspace fails"
Wanted to download my workspace to help debug #2727, but I get a JS error attempting to download workspace:

[code]

Using Chrome on Mac going to lab9:50010...

[2012-07-12 22:04] JonFerraiolo commented on #2728
@jhpedemonte @childsb

I've seen this too. I looked at the code and didn't see anything wrong after a few minutes of study. However, here are two commits that have happened since M6:
- https://github.com/maqetta/maqetta/commit/297297f709ef419a68048c23d25ec2220db2f31a#diff-6
- https://github.com/maqetta/maqetta/commit/8a4e3dc12340769ec0707eafcd6662a973b8e910#diff-0

[2012-07-12 22:05] aerwin commented on #2727
Unfortunately, when I tried to download my workspace, it failed (see ##2733). I'll ST you with my password to that server.

[2012-07-12 22:20] billreed63 commented on #2727
This is a timing issue the theme CSS files are not getting added to the head, the only seems to happen on lab9 so it may be the slow network connection. But something in the way we load the html and then add the theme css to the head

@aerwin was clone of iphone here is the delta CSS

[code]

[2012-07-12 22:30] aerwin opened #2734 "Too many properties written out to src when widget-specific properties are changed"
This has bothered me for awhile, but it doesn't really break anything... so maybe more of a feature request.

For example, when I first drag a text box on the page, I see the following in the source:

[code]

But, if I go to widget-specific properties and check the disabled box, it expands to add 7 properties (instead of 1). And, I think they are all defaults.

[code]

Similarly, when I first drag

[2012-07-12 22:31] JonFerraiolo opened #2735 "SmartInput for AUDIO: default data only spans half of the width of SmartInput control"
@billreed63 @doronrosenberg

Old/closed bug in same area: #2412

Immediately after launching a brand new release of Maqetta, in Mac/FireFox, I created a New HTML File and then dropped an AUDIO element. This is what SmartInput looked like:

![AUDIO Smart Input](http://i.imgur.com/HIQYa.png)

I immediately tried it using Mac/Chrome and swear I'm pretty sure I saw the same thing in both a built versi

[2012-07-12 22:37] JonFerraiolo commented on #2364
I'm seeing the same problem with Mac/Firefox for both AUDIO and VIDEO

[2012-07-12 22:37] aerwin opened #2736 "Selection chrome off on text box when first dropped"
@JonFerraiolo

Doesn't always happen, and I think this may only happen right after a file has been created...

![screenshot](http://i.imgur.com/3uuEn.png)

[2012-07-12 22:49] aerwin commented on #2728
Maybe another clue is that much more rarely I see a partial widget palette (almost like vertical position is off):

![screenshot](http://i.imgur.com/MPoxQ.png)

[2012-07-12 23:18] JonFerraiolo opened #2737 "Wrong URL for background-image when overriding value in custom theme"
@childsb

See also @2422
- Create new theme claro2
- New HTML File
- Add a dijit.form.Button
- Switch to claro2 theme
- In Properties palette, click on one of the "..." buttons in the Background section.
- Choose "image" and select one of the images in samples/sample_data/images as the background image
- Click OK, and then click OK in the global theme change warning dialog

Result=> Icon doesn't s

[2012-07-13 00:16] JonFerraiolo opened #2738 "maqetta.server.mac.command fails to launch"
@peller

When running local install tests and tried to run maqetta.server.mac.command, the command line console shows the following text, and the server doesn't launch. The local install script works fine, and no problems with either launch script on Windows (server or local).

@peller - could ZAZL be causing any problems? Just a guess. There is an issue on Macs where sometimes folders get 700 per

[2012-07-13 00:21] JonFerraiolo commented on #2738
Withdrawing. I rebooted and then no problem with the maqetta.server.mac.command. I'm not sure what was wrong.

[2012-07-13 00:21] #2738 closed, assigned to childsb

[2012-07-13 00:27] JonFerraiolo commented on #2728
I think the above problem is different. It has to do with BorderContainer getting confused, particularly when the Chrome debugger is turned on.

But one more thing to mention is that I've seen a second Filter box appear at the bottom of the palette on occasion. So, sometimes we don't create the widget palette when we should (this bug) and sometimes we create a second version when we shouldn't. Not

[2012-07-13 00:29] JonFerraiolo commented on #2733
Maybe this is the same as #2669

[2012-07-13 00:41] JonFerraiolo opened #2739 "Sample1.html doesn't get document.css when opened in page editor"
When I open Sample1.html, a big font size is used for the widgets. When I add another widget (e.g., CheckBox), then the font size gets fixed.

Maybe we need to add a call to the function that includes document.css when opening a file?

[2012-07-13 02:33] doronrosenberg commented on #2734
Might be related to the issue @jhpedemonte has about default values showing up in prop view when you clear a value out.

[2012-07-13 02:34] peller opened #2740 "GridX Smart Input: Disable user manipulation of resize knob on first panel text box"
in the gridx (basic) test plan:

The dialog size is fixed.  Resizing the text area can result in overflow where the text area no longer fits in the dialog. Making it smaller does not make the dialog smaller.

I think the "common" dialogs have resizing on the outside.  Should the gridx smart input dialog be one of those common dialogs?

@doronrosenberg

[2012-07-13 03:00] peller opened #2741 "mobile (silhouette) preview is broken"
error appears in the silhouette:

[2012-07-13 04:15] #2741 closed, assigned to peller

[2012-07-13 04:15] aerwin commented on #2740
I have #2385 on my list to make use of the resizable dialog.

[2012-07-13 12:48] peller opened #2742 "changes to theme editor are immediate"
change the border color on the global widget.  notice that changes take effect immediately in all open html editors.
now, close the theme editor without saving.  say ok to the prompt that says you'll lose your changes.
the open documents still reflect the changes made.
reopen the theme editor. the theme still has the background color.

Personally, I prefer this behavior.  We could just remove the

[2012-07-13 13:10] billreed63 commented on #2742
We changed the code so that all the resources that use the theme share a singleton to the resource. The working copy is only deleted when all the editors that share that resource are closed.

So it is working as designed, but we at least need to change the wording of the message.

[2012-07-13 13:26] billreed63 opened #2743 "Editor hangs with latest code to git"

[2012-07-13 13:43] JonFerraiolo commented on #2742
We can't get rid of the save button at this point. Much too radical a change at this late date. Regarding the new behavior, yes, that's what we agreed to do. As I remember, you only get the prompt if you change themes.

[2012-07-13 14:09] #2743 closed, assigned to nobody

[2012-07-13 14:11] #2739 closed, assigned to billreed63

[2012-07-13 14:56] JonFerraiolo opened #2744 "ListItem SmartInput doesn't deal with moveTo right arrow properly"
@billreed63 @doronrosenberg

When upgrading LIstItemHelper.js for Dojo 1.8, I must have messed up. When SmartInput comes up for a ListItem that has a 'moveTo' property, SmartInput shows the HTML markup for the arrow.

[2012-07-13 15:30] jhpedemonte opened #2745 "Cannot register new user"
I cannot register a new user on lab9:50010.  Get the following error in the server log file:

[code]

[2012-07-13 15:31] doronrosenberg commented on #2744
Ugh, ListItem is a bad widget, it has no label getter method

[2012-07-13 15:37] #2744 closed, assigned to doronrosenberg

[2012-07-13 15:52] billreed63 commented on #2730
This appears to be a change, maybe a regression in dojo.

In Focus.js we create a context menu with menu items:

[code]

We use the onClick to determine which subwidget was selected

[code]

In dojo 1.7 the `e.currentTarget.id` contained the id that was assigned when the CheckedMenuItem was created.
In dojo 1.8 `e.currentTarget.id` is empty "" another interesting thing is the `e.currentTarget` is

[2012-07-13 16:07] billreed63 commented on #2730
Here is some sample code that is just dojo

[code]

[2012-07-13 16:58] doronrosenberg commented on #2661
fixed by d0a5c209bc806369b85807691963b2b285280143

[2012-07-13 16:58] #2661 closed, assigned to doronrosenberg

[2012-07-13 17:46] doronrosenberg commented on #2135
@peller Accordion is currently broken (see http://bugs.dojotoolkit.org/ticket/15672 which I just filed), so we won't be able to support it unless it gets fixed.

[2012-07-13 19:36] jhpedemonte commented on #2745
Fixed by commit 392fd36287630740b40b9e761cbc969c37764df6.

[2012-07-13 19:36] #2745 closed, assigned to jhpedemonte

[2012-07-13 19:55] billreed63 commented on #2372
William D. Reed: So do you now what the plan is for dojox.mobile on none webkit?
3:39:03 PM: Adam L. Peller: on webkit?
3:39:54 PM: William D. Reed: no like right now the themes only have the -webkit prefix, what about -moz
3:40:08 PM: Adam L. Peller: ah
3:40:25 PM: Adam L. Peller: well, there's the compat layer. that's just js, right/
3:40:31 PM: Adam L. Peller: not sure they care about non-webki

[2012-07-13 20:25] billreed63 commented on #2727
Hopefully the above fix will get it. The helper had a method to getHeadImports that returned ""  And the helper was called in

[code]

So depending on how fast the helpers was loading (async) above this code the helper might or might not have the method,
I think in the cases where the CSS was added to the head the deferred had not completed yet so the helper which was really a deferred object did

[2012-07-13 20:26] billreed63 commented on #2727
Fixed by  abdf451bfc3602a62aed117278881de1658668aa

[2012-07-13 20:26] #2727 closed, assigned to billreed63

[2012-07-13 20:48] JonFerraiolo opened #2746 "Review comments not persisted to disk (comments.xml)"
@aerwin @peller

It turns out that with Preview 6 (along with latest code) never persists review comments to comments.xml!

We haven't noticed this bug because we have (fortunately) managed to get our servers to run for a long period without restarting, and the running server maintains an in-memory cache of all review comments.

It looks like function `run()` in ReviewCacheManager.java is never ca

[2012-07-13 20:48] JonFerraiolo opened #2747 "Review comments not persisted to disk (comments.xml)"
@aerwin @peller

It turns out that with Preview 6 (along with latest code) never persists review comments to comments.xml!

We haven't noticed this bug because we have (fortunately) managed to get our servers to run for a long period without restarting, and the running server maintains an in-memory cache of all review comments.

It looks like function `run()` in ReviewCacheManager.java is never ca

[2012-07-13 20:48] JonFerraiolo commented on #2747
Oops. accidentally click twice on submit button.

[2012-07-13 20:48] #2747 closed, assigned to childsb

[2012-07-13 21:03] billreed63 commented on #2627
dojox.mobile.Header button arrow is getting it's background from the element not the CSS

dojo 1.7

[code]

Dojo 1.8

[code]

[2012-07-13 21:08] peller opened #2748 "Make sure zazl is installed on Orion, internal configurations"
Zazl plugins were included in standalone launch scripts.  Make necessary changes to include Zazl in other configurations.

[2012-07-13 21:14] JonFerraiolo opened #2749 "Double-click on ListItem twice in page editor and ListItem is active"
@billreed63 @aerwin

With latest code pulled from GitHub:
- Bring up Sample3-Mobile.html
- Double click on the "Alerts" ListItem to bring up SmartInput
- Click Cancel on SmartInput
- Double click again on the "Alerts" ListItem to bring up SmartInput

Result=> SmartInput comes up, but under SmartInput you'll see that the current view has switched to "alerts_view". We are supposed to be intercepting

[2012-07-13 21:15] billreed63 commented on #2627
Look at the last header in the test page
 dojox/mobile/tests/test_Heading.html

@peller

[2012-07-13 21:37] doronrosenberg commented on #2749
I'm swapped with mobile issues right now but if it can wait a sprint I can take it back.

[2012-07-13 21:42] billreed63 commented on #2627
http://bugs.dojotoolkit.org/ticket/15675

[2012-07-13 22:09] JonFerraiolo commented on #2749
Yes it can wait until next sprint.

[2012-07-13 22:33] doronrosenberg commented on #1890
fixed by #2524

[2012-07-13 22:33] #1890 closed, assigned to doronrosenberg

[2012-07-13 22:54] doronrosenberg opened #2750 "Implement dojox.mobile badges on widgets"
For #2135 - implement badges!

[2012-07-13 23:03] doronrosenberg commented on #2750
@jhpedemonte @JonFerraiolo

Some mobile widgets like Tabbarbutton and IconItem support iOS-like badges now.  However, for them to style correctly you have to include `<link href="../themes/common/domButtons/DomButtonRedBadge.css" rel="stylesheet"/>`

Never done this before - would I just include the css file in all widgets that support badges?

[2012-07-14 23:39] JonFerraiolo commented on #2750
@billreed63 ?

[2012-07-15 20:48] JonFerraiolo opened #2751 "Can server offer a POST method?"
@aerwin @peller

In making fixes to review/commenting, I have had to increase the amount of information that is passed with the AddComment command. Right now, AddComment uses a GET, which has limitations on the size of the payload. Due to some cookies I had on my account, I started getting 413 errors. When I cleared cookies, the 413 errors went away. However, I didn't have that many cookies (and c

[2012-07-15 20:53] JonFerraiolo opened #2752 "Review editors don't reopen with browser refresh"
@aerwin @peller

Something broke after Preview 6.
- Create a new Review
- Open that review so that there is a single review editor open
- Browser refresh

Result=> No editors appear after browser refresh. This is a regression versus Preview 6. The workbenchState.settings file correctly lists the review editor, but upon restarting, Maqetta isn't opening up the current open review editors.

[2012-07-16 03:13] jhpedemonte commented on #2728
Dojo 1.8 regression, perhaps?

[2012-07-16 03:19] jhpedemonte opened #2753 "Preview takes very long time to fully load"
Preview takes way too long to fully load.

New File, added a Dijit checkbox and text area, then clicked Preview.  Noticed that the checkbox was not styled as it should be for Dojo.  Browser was waiting to load a resource.  Finally, after about 30 seconds, the checkbox styled properly (CSS files must have loaded from network?).

Noticed this error in the console (may or may not be related):

[code]

[2012-07-16 03:19] jhpedemonte commented on #2753
More Zazl server issues:

[code]

Related or a different bug?

[2012-07-16 03:22] jhpedemonte opened #2754 "Zazl error on initial load"
When first loading Maqetta, I see the following error in the browser console:

[code]

I also see that "zazl" is listed in the **Modify Libraries** dialog.  Have we registered the Zazl plugin as a widget library, by accident?

@childsb

[2012-07-16 03:24] jhpedemonte opened #2755 "Very slow to create new file tab/editor"
Testing on lab9:50010, I created a new file.  Between the time that the _New File_ dialog disappeared and the new file editor appeared, greater than 5 seconds transpired.

During that time, there was no indication that anything was happening and the app was unresponsive.

---

Proposal:  the editor tab UI should come up **immediately** after the _New File_ dialog disappears, with a spinning wait c

[2012-07-16 03:25] jhpedemonte commented on #2755
Addendum to the above:  Open a couple of VE tabs and add some widgets in each.  Reload the page (reload Maqetta).  When reloading, I see the black bar at the top appear, but the rest of the page is blank.  About **12 seconds later**, then rest of the UI (including the open VE tabs) appears.

[2012-07-16 03:29] jhpedemonte opened #2756 "Error loading document.css for Preview of file in subfolder"
Did "Save As" on a page with a couple of TabContainers.  In the Save As dialog, I created a new folder ("asdf") and saved the file as "foobar.html" in that folder.  Loaded Preview and immediately got this error (in the Preview page):

[code]

[2012-07-16 03:34] jhpedemonte opened #2757 "Right-click (context menu) should act on widget under mouse cursor"
In the VE, right-clicking acts on an **already selected** widget, rather than that which is directly underneath the mouse cursor.

For example, New Page, add <table>, make sure nothing is selected, then right-click in a cell.  Context menu comes up but everything is disabled.  Need to first select a widget.

Now add a Button under the table.  Select one of the table cells, then right-click on the

[2012-07-16 03:36] jhpedemonte opened #2758 "In table context menu, "after" comes before "before""
In HTML Table context menu, should the "after" items be _before_ the "before" items?  Seems oddly placed and not fitting with the mental model (i.e. that an item is "before" another if it is above it).

@JonFerraiolo

[2012-07-16 03:38] jhpedemonte opened #2759 "Preview of table with empty cells shows "?" as content"
If I preview an HTML table which has some empty cells, the empty cells appear with "?" as the content in the Preview page.

[2012-07-16 03:48] peller commented on #2754
thought I logged a ticket on this, but can't find it.  Yes, we have an issue that the maqetta/zazl adapter plugin uses the ajaxLibrary extension point and puts a file (lib/zazl.js) on the servlet, but does not represent a maqetta library.

Tried a suggestion from @childsb here 0d629ef0c30d24913a5da0f39290984787c1d0fa but it didn't work.  I may have misunderstood the suggestion for the patch.

[2012-07-16 03:50] peller commented on #2753
circular loop should have been addressed by @rbackhouse 's commit here 80efdcbac108096818b5e58c7bc913314f67cf64   I was hoping to check out the initial load time with a cold cache after that fix...

[2012-07-16 03:51] peller commented on #2753
@rbackhouse I also saw the blank.gif error... which should probably be logged as a separate issue

[2012-07-16 03:53] peller commented on #2755
let's wait until #2126 is done and see where we are on this

[2012-07-16 03:57] jhpedemonte commented on #2640
(Not sure if this should be a separate bug.  Feel free to spin off.)

Found some keyboard binding issues (while testing on Chrome/Mac):
- **Cmd+N** doesn't work.  As mentioned above, we cannot use this binding, but it is listed in test plan.
- Undo/redo should always work on the current VE, even if it doesn't have focus. (Instructions say to click in VE in order for commands to work.)  Only except

[2012-07-16 04:00] jhpedemonte opened #2760 "Remove "Confirm Navigation" (backspace blocker) dialog"
We need to always silently block the default action of **backspace/delete** to go back to the previous page in history.

Currently, we pop up a dialog, asking the user if they meant to go back in history, or if they would like to remain on the current page.  This is an unnecessary dialog and we shouldn't bother the user with the query at all.

To show dialog:
1. Open HTML page in VE.
2. In Widgets

[2012-07-16 04:02] jhpedemonte opened #2761 "Highlight VE views icons to show active one"
The icons for the 4 VE views (visual, source and the 2 split views) should highlight to show which one is currently enabled.  Useful when using the keyboard shortcuts to select the views.

@JonFerraiolo @doronrosenberg

[2012-07-16 04:05] jhpedemonte opened #2762 "Deleting file closes open editor of different file"
Create and save 2 new files ("file1.html" and "file2.html").  Close file1.html, leaving file2.html open.  In Files view, select file1.html and delete it.  Notice that file2.html editor closes.

[2012-07-16 04:07] jhpedemonte commented on #2753
At the time of testing, lab9:50010 was running from 6892d9c1a7b65a39e79de2e5165983de1fc5f125, which is later than the one you listed (and therefore @rbackhouse's commit should have been included).

[2012-07-16 04:10] jhpedemonte commented on #2751
In general, we should adhere to best practices and use POST when **adding** data, and only using GET when **retrieving**.

[2012-07-16 04:13] peller commented on #2751
IIRC, POST is non-trivial to implement, which might explain why we ended up with a GET.  For the DWB work, I brought in the HttpClient apache library to deal with this.

[2012-07-16 05:46] wkeese commented on #2730
Hmm, sounds like fallout from my http://bugs.dojotoolkit.org/ticket/7111, although I'd hate to roll that back.     You are sort-of shooting yourself in the foot: normally in onClick, "this" refers to the MenuItem in question, but you are hiding that value by using dojo.hitch().

If you are just looking for a way to make it work this is probably the least invasive change is to use e.target:

[code]

[2012-07-16 07:24] wkeese commented on #2730
PS: I just added this to the release notes, in case someone else hits it: https://github.com/dojo/docs/commit/691df005fbc5c4280de751d0231703bdbea8e3b3

[2012-07-16 10:04] rbackhouse commented on #2753
The nullpointer is indicating that the code to resolve the user from the url segments is not working in this particular scenario.

The reported circular dependency is purely a warning and can be ignored.

I'm not so sure about "Library file not found" though, I would expect those nls resources tp be found.

[2012-07-16 13:08] billreed63 commented on #2730
Thanks, I will give option 2 a go...

[2012-07-16 13:21] billreed63 commented on #2750
Where are they included from, they are located in maqetta/themes/dojox/mobile/themes/common  but we may have issues when using the standard default mobile themes. It might be best to use the path to the CSS in the dojo `lib/dojo/dojox/mobile/themes/common/....`

[2012-07-16 13:50] wkeese commented on #2730
OK.   Actually, hmm, I'm worried now that it won't work because dojo.hitch() will try to read the value of item before it's set, rather than when the MenuItem is clicked.    In that case you could instead do:

[code]

[2012-07-16 14:22] childsb opened #2763 "no smart input popup for trees on built maqetta"
(following the test plan for trees)
1. Choose New HTML File from the New menu
2. Open the Dojo Controls folder in the Widget palette.
3. Drag the Tree widget onto the canvas.
4. SmartInput is displayed. It should have a preview area on the left and a node properties area on the right. Since no nodes are selected, everything in the properties area should be disabled.

Smart input isn't displayed on

[2012-07-16 14:35] childsb opened #2764 "new html file always shows <root> for folder even if other folder is selected"
1) create a new project
2) create a new folder (folder1 is fine) notice that its highlighted in the UI
3) leave the selection on the previously created folder and create a new folder (ie folder1/folder1). notice folder1/folder1 is selected in the UI
4) issue a new html file command.  <root> is selected as the default folder even though folder1/folder1 is selected in the explorer tree.

[2012-07-16 14:39] childsb opened #2765 "new HTML file dialog w/sketch theme not working"
1) new HTML file
2) choose desktop hi-fi or lo-fi sketch
3) DND widgets. notice they are still in claro theme
4) click the change theme command and note that its still "claro" theme.

[2012-07-16 14:41] JonFerraiolo commented on #2764
@doronrsosenberg - if there is too much learning curve on this one, ok to reassign to me. I wrote the new html dialog.

[2012-07-16 14:43] childsb commented on #2765
er.. i can't reproduce this on the second try.  so i must have had something out of whack the first try.

[2012-07-16 14:43] #2765 closed, assigned to doronrosenberg

[2012-07-16 14:47] childsb opened #2766 "zazl error on preview"
I was doing the Gridx Data Column test case:
1) new HTML file
2) DND gridx
3) Select file, choose file from workspace samples/sample_data/sampleManyColumns.json
4) click preview in browser.

Ran into this error:

[code]

[2012-07-16 15:22] aerwin commented on #2763
@peller @childsb Any ideas?

I'm seeing the following errors when I load Maqetta from lab9:50010:

[code]

And, then when I try to drag tree onto page I get:

[code]

[2012-07-16 15:53] aerwin commented on #2763
I'm not sure to what extent the 2nd error (when actually trying to use tree) is influenced by the first error, but the URL used to try and load HTMLSubElement helper doesn't make sense:
- Within my dijit/TreeHelper class I require HTMLSubElement helper using "./HTMLSubElementHelper" so at the very least I'd expect to see "dijit" in the path.
- Also, there appears to be an extra slash between "1.8"

[2012-07-16 16:15] doronrosenberg commented on #2764
@peller Seems to be a 1.8 bug here, I emailed you and bill keese with my observations.

[2012-07-16 16:23] peller commented on #2763
first error, see #2754

[2012-07-16 16:23] peller commented on #2754
fix path: 01b0afe5356caa1ff420fa32041208e07d578585

[2012-07-16 16:39] jhpedemonte commented on #2750
Well, normally, since this would be a requirement for a widget, you would include it as a `require` property in the OAM file.

[2012-07-16 16:41] jhpedemonte commented on #2753
The _"Library file not found"_ errors most likely have to do with **"dojo-src"**.  Something is pointing to that directory, but I'm going to guess that only exists on one user's workspace.  In the source and the build, the directory will be **"dojo"**.

[2012-07-16 16:55] rbackhouse commented on #2753
If dojo-src is not present then Zazl won't work. dojo-src was added as an ajaxLibrary extension in davinci.dojo_1_8

[code]

[2012-07-16 17:13] jhpedemonte commented on #2753
I don't understand:  why do we have both "dojo" and "dojo-src" under dojo_1_8/WebContent?

[2012-07-16 17:21] peller commented on #2754
exception is gone, but zazl is still visible in the user libraries dialog, along with maqetta, which is also not really a user library.

[2012-07-16 17:21] #2754 closed, assigned to peller

[2012-07-16 17:24] peller commented on #2754
see #1512

[2012-07-16 17:25] peller commented on #1512
...and zazl

[2012-07-16 17:25] jhpedemonte commented on #1512
Raising to Priority High; we don't want to allow disabling these libs for v1.0.

[2012-07-16 17:40] peller commented on #2753
dojo-src is for zazl and zazl only, I think.  Zazl only runs on unoptimized source.  The rest of the product is using the pre-built dojo/ directory.

[2012-07-16 17:49] doronrosenberg commented on #2757
The issue is that right clicking is not even selecting the widget.  Occurs in m6 as well

[2012-07-16 17:50] doronrosenberg commented on #2757
@jhpedemonte @JonFerraiolo I assume that right clicking in VE should select the widget correct?

[2012-07-16 18:07] billreed63 opened #2767 "removing value for back on dojox.mobile.Heading widget destroys widget"
1) DnD dojox.mobile.Heading
2) in widget specific properties set back to "home"
3) preview
4) Remove the value in back property

Notice that the Heading still has the home button with dual arrows to the left

when you add a back button to the heading dojo 1.8 now is adding a ToolBarButton as a child of Heading at widget creation. So it would appear that we need to add a helper to deal with this.

[2012-07-16 18:14] #2730 closed, assigned to billreed63

[2012-07-16 18:30] JonFerraiolo commented on #2757
Dupe of #1543

[2012-07-16 18:34] JonFerraiolo commented on #2757
I hadn't gotten into this issue at all, but now that you mention it, yes, that's the way to do it. (I see same behavior in Word and PowerPoint.) That approach should make fixing #1543 easy.

[2012-07-16 18:39] rbackhouse commented on #2753
The root cause of the performance issue appears to be the fact that the davinci.dojo_1_8 is in jar format. It's over 60MB in size and loading resources out of it via OSGi API calls is going to be slow. When I unjarred it into a directory format the load for sample1.html (clear cache, first preview on server start) was about 5 seconds.

Assuming /davinci.war/feature.xml is the feature used to assem

[2012-07-16 18:40] billreed63 commented on #2627
The back button on the Heading is now a ToolBarButton that is a child of Heading. The Arrow head color is retrieved from the ToolBarButton and set on the html element when the widget is created.

Unless dojo 1.8 changes they way the assign color to the button head we only have one option which is to destroy and recreate the widget. While this could be done in the theme editor we also have the same

[2012-07-16 18:53] aerwin commented on #2726
--> no milestone to M7

[2012-07-16 18:54] aerwin commented on #2722
--> no milestone to M7
--> @billreed63

[2012-07-16 18:55] aerwin commented on #2633
--> no milestone to M7
--> @billreed63

[2012-07-16 18:57] aerwin commented on #2622
--> no milestone to M7
--> @jhpedemonte
--> FeatureRequest
--> Priority Medium

[2012-07-16 19:00] aerwin commented on #2615
--> no milestone to M7
--> Priority High
--> @aerwin (probably as just a placeholder)

[2012-07-16 19:02] aerwin commented on #2601
--> no milestone to M7
--> @doronrosenberg
--> Priority Low

[2012-07-16 19:04] aerwin commented on #2559
--> future
--> @JonFerraiolo
--> prio Med

[2012-07-16 19:04] billreed63 opened #2768 "Changes made in theme editor are not reflected in open page editor"
1) Create a theme based on mobile custom
2) Create a mobile page and use the theme you just created in step one
3) Add a Heading to your page
4) Switch to theme editor and change the background image gradient of the Heading

Notice that the Heading changes in the theme but not in the page using the theme...

[2012-07-16 19:05] aerwin commented on #2517
--> no milestone to M7
--> prio Med

[2012-07-16 19:07] peller opened #2769 "dojo-src should be removed from userlibs download, by default"
related to #1512

dojo-src is present for use by zazl.  I suppose it might be nice to optionally provide it in a download (unsure if this is necessary) but we definitely do not want it in the download by default because it is so large.

We need a bit to tell Maqetta not to include dojo-src as a user library in the download by default, or perhaps not at all

@jhpedemonte

[2012-07-16 19:08] peller commented on #2769
possibly related to #2517  Note that dojo-src is never referenced by code.  Only Zazl uses it by directly manipulating the source.

[2012-07-16 19:10] rbackhouse commented on #2753
I found the issue with the nullpointer. The Zazl org.json dependency bundle was missing a directory export from its build.properties.

[2012-07-16 19:12] aerwin commented on #2461
--> no milestone to M7
--> @doronrosenberg
--> prio low

Maybe we can close if not reproduced in 2 months?

[2012-07-16 19:15] aerwin commented on #2516
--> no milestone to M7
--> prio med

Can we close as dup of #2517?

[2012-07-16 19:21] rbackhouse commented on #2753
Library file not found! :WebContent/dojo-src/dijit/nls/en/common.js
Library file not found! :WebContent/dojo-src/dijit/nls/en-us/common.js
Library file not found! :WebContent/dojo-src/dijit/nls/en/loading.js
Library file not found! :WebContent/dojo-src/dijit/nls/en-us/loading.js
Library file not found! :WebContent/dojo-src/dijit/form/nls/en/validate.js
Library file not found! :WebContent/dojo-src/

[2012-07-16 19:21] aerwin commented on #2482
--> no milestone to M7
--> prio med

[2012-07-16 19:23] aerwin commented on #1773
--> no milestone to M7

[2012-07-16 19:24] aerwin commented on #776
--> no milestone to M7

Maybe we can just close this one?

[2012-07-16 19:25] aerwin commented on #240
--> no milestone to M8

[2012-07-16 19:27] aerwin commented on #96
--> no milestone to M7
--> @peller (only because I think you may have opened base Dojo against this before?)

Think this can be dup'ed against something (or perhaps fixed in Dojo 1.8)?

[2012-07-16 19:29] aerwin commented on #65
--> no milestone to M7

Moving to M7 because tagged with both Prio High and Prio Low.... assuming it's a low? If so, could be moved to M8 or future probably.

[2012-07-16 19:31] aerwin commented on #2460
--> no milestone to M7

[2012-07-16 19:36] aerwin commented on #2254
--> no milestone to M7
--> prio Med
--> Feature

[2012-07-16 19:40] aerwin commented on #1714
--> no milestone to M7

[2012-07-16 19:43] aerwin commented on #1058
--> no milestone to M7
--> @aerwin (to see if stil an issue with GridX)
-> Prio Med

[2012-07-16 19:44] aerwin commented on #2449
--> no milestone to M7

[2012-07-16 19:45] aerwin commented on #2446
--> no milestone to M7

[2012-07-16 19:46] aerwin commented on #2445
--> no milestone to M7

[2012-07-16 19:47] aerwin commented on #1345
--> no milestone to M7
--> @doronrosenberg
--> prio low

Perhaps no longer an issue with resizable dialogs?

[2012-07-16 19:48] aerwin commented on #1505
--> no milestone to M7

[2012-07-16 19:49] aerwin commented on #1034
--> no milestone to M7
--> prio low
--> @doronrosenberg

[2012-07-16 19:51] aerwin commented on #2202
--> no milestone to M8
--> prio low

[2012-07-16 19:52] aerwin commented on #1587
--> no milestone to M7
--> @peller
--> prio med

[2012-07-16 19:53] rbackhouse commented on #2766
I just tried this out from the eclipse dev env and it worked fine. Was this observed while running via the maqetta server ?

[2012-07-16 19:54] aerwin commented on #2181
--> no milestone to M7
--> prio med

[2012-07-16 19:55] aerwin commented on #2174
--> no milestone to M7
--> prio med

[2012-07-16 19:56] aerwin commented on #2059
--> no milestone to M8
--> prio: not set to Low

[2012-07-16 19:58] aerwin commented on #2081
--> no milestone to future
--> prio: not set to Low (pending more info from @Chaz6 )

[2012-07-16 20:00] aerwin commented on #2021
--> no milestone to M7
--> prio: not set to med

[2012-07-16 20:03] aerwin commented on #1562
--> no milestone to M7
--> prio: not set to low

[2012-07-16 20:05] aerwin commented on #1200
--> no milestone to M7

[2012-07-16 20:07] aerwin commented on #2050
--> no milestone to M8
--> prio not set to med

[2012-07-16 20:09] aerwin commented on #1107
--> no milestone to M7
--> @aerwin

[2012-07-16 20:10] aerwin commented on #1994
--> no milestone to M8
--> prio not set to Med
--> Feature

[2012-07-16 20:12] #2461 closed, assigned to doronrosenberg

[2012-07-16 20:12] aerwin commented on #1715
--> no milestone to M7
--> prio not set to low

[2012-07-16 20:13] aerwin commented on #1862
--> no milestone to M7
--> prio not set to low

[2012-07-16 20:14] aerwin commented on #1712
--> no milestone to M7

[2012-07-16 20:15] aerwin commented on #1497
--> no milestone to future
--> prio not set to low

[2012-07-16 20:18] aerwin commented on #1100
--> no milestone to M8
--> @aerwin
--> Feature

[2012-07-16 20:20] aerwin commented on #1192
--> Feature
--> prio med
--> no milestone to M8

[2012-07-16 20:23] kerrickstaley opened #2770 "Divider between icons in toolbar can be selected"
This is just a cosmetic issue:
![Image demonstrating problem](http://img196.imageshack.us/img196/9971/screenshot20120716at317.png)

[2012-07-16 20:25] aerwin commented on #2761
Perhaps a dup of #1042?

[2012-07-16 20:26] aerwin commented on #1042
--> no milestone to M7

Maybe a dup of #2761.

[2012-07-16 20:27] aerwin commented on #2770
--> no milestone to M7
--> prio med

[2012-07-16 20:28] aerwin commented on #1702
--> no milestone to M7

[2012-07-16 20:51] aerwin commented on #2721
--> prio from not set to med

[2012-07-16 20:51] aerwin commented on #2720
--> prio from not set to med

[2012-07-16 20:52] aerwin commented on #2609
--> prio from not set to med

[2012-07-16 20:53] aerwin commented on #2608
--> prio from not set to med

[2012-07-16 21:38] billreed63 commented on #2730
Thanks Bill that worked for us.-Bill Reed (billreed@us.ibm.com)________________________________________________Research Triangle Park, NC USAoffice  (919) 543-2790  t/l 441-2790-----Bill Keese reply@reply.github.com wrote: -----To: Bill Reed/Raleigh/IBM@IBMUSFrom: Bill Keese reply@reply.github.comDate: 07/16/2012 09:51AMSubject: Re: [maqetta] Mobile theme subwidget editing error (#2730)OK.   Actua

[2012-07-16 22:05] peller opened #2771 "app broken on safari"
698queueProcessor error : TypeError: 'undefined' is not a function (near '...}.bind(this));...')

bind is not supported on Safari, and apparently the usage in the States code runs before the bind shim I made.

[2012-07-16 22:07] peller commented on #2753
@rbackhouse Ah, ok, it's just complaining about individual modules.  I wonder why it's looking for those?  dojo/i18n! should be looking up 'en' or 'en-us' resources for those since Dojo 1.7.  The new AMD resource bundle format explicitly lists variants, and 'en' and 'en-us' aren't among them.  Does zazl provide replacement i18n loader logic?

[2012-07-16 22:51] doronrosenberg commented on #2385
This is complex, the usage of contentpanes/bordercontainer all throughout the gridx wizard complicates things.  Would have to basically rebuild the whole layout from scratch.

[2012-07-16 23:23] #2767 closed, assigned to doronrosenberg

[2012-07-16 23:25] doronrosenberg commented on #2654
fixed by 128b36882c827a67a02afccb301f2dc1972a33ed

[2012-07-16 23:25] #2654 closed, assigned to doronrosenberg

[2012-07-16 23:29] rbackhouse commented on #2753
Zazl does provide its own i18n processing and will make calls to the resouceloader to find the different language packs. This would explain the messages.

[2012-07-16 23:39] #2750 closed, assigned to doronrosenberg

[2012-07-17 00:06] #2732 closed, assigned to doronrosenberg

[2012-07-17 00:10] peller commented on #570
see http://bugs.dojotoolkit.org/ticket/15600

[2012-07-17 00:10] #570 closed, assigned to peller

[2012-07-17 00:12] aerwin commented on #2385
I guess I don't know exactly how the resizable dialog code works, but why should the internal widgets used by the dialog contents matter?

In fact, I went with BorderContainer's and such to make layout _easier_ and less dependent on hard-coded sizes (than the R&C wizard was). So, I'd hesitate to do a massive rewrite.

[2012-07-17 00:12] peller commented on #1543
see #570

[2012-07-17 00:13] peller commented on #2662
see #570

[2012-07-17 00:14] aerwin commented on #2618
When this one is done, the Tree dialog should be handled as well.

[2012-07-17 00:15] aerwin commented on #2618
@doronrosenberg

This one is on my list, but sounds like you might still be going through and doing conversions of remaining dialogs. If so, could you please look at this one too? :)

[2012-07-17 00:28] peller commented on #2753
@jhpedemonte @childsb

We don't seem to have a feature.xml like this.  Anyone know where the corresponding bits are?   Somewhere in the releng ant scripts?  Does this mean we don't want to jar any of our library plugins?  Isn't there a way to ship our product as jars and have Eclipse unjar them?

[2012-07-17 00:40] peller commented on #2766
only seems to occur with a build, and only for empty files (no requires)  Drop a widget on the page and all is well.

[2012-07-17 00:43] peller commented on #2766
When dropping a gridx widget on the page, I see this:

[code]

I think it's just that the packages config info is missing.  The zazl plugin is generating paths instead, and it doesn't seem to be the right path.  I think it should just have an entry for gridx: ../gridx

[2012-07-17 01:51] doronrosenberg commented on #2385
I need to spend more time looking at what is going on, basically if I split the contents into a content area and an action area the stackcontainer breaks.  It works fine for the new review wizard, so I need to debug it further.

[2012-07-17 02:32] peller commented on #2516
I think it's two separate steps rather than a dup

[2012-07-17 02:36] peller commented on #1543
the openCallback in the createPopup call in Explorer.js does this...  I think we used to have other similar workaround scattered throughout the code, but not sure what happened to them

[2012-07-17 02:38] peller commented on #96
there was a bug like that when dragging over the scrollbar.  We have a workaround for that.  I take it this is something else.

[2012-07-17 02:41] jhpedemonte commented on #2753
I think there's a bug about getting rid of the OSGi packaging for the widget libraries and just have them live as files in a dir.  However, that won't get done for v1.0.

[2012-07-17 02:45] jhpedemonte commented on #2761
Good find.  I'll close this one out and comment on that one.

[2012-07-17 02:45] #2761 closed, assigned to nobody

[2012-07-17 02:47] jhpedemonte commented on #1042
"Toggle" doesn't sound right to me.  As I mentioned in #2761, I would expect the current view of the 4 to be _highlighted_.

Also, I don't like your 2nd idea, which is to have a close button on the source pane.  That doesn't jibe with our current setup and would treat the source view as an "overlay" on top of the VE, which isn't the case.

[2012-07-17 02:47] jhpedemonte commented on #2770
-> @doronrosenberg

[2012-07-17 02:54] jhpedemonte commented on #776
Let's keep this open for now.  Our big hope is that getting rid of the odd port in the URL contained in the email will keep it from getting snatched by spam filters.

But there may be other things we can do to make this easier.  For one, having a "resend activation email" might be useful.

Also, mention that users should check their spam folders if they haven't gotten the notification.

@childsb

[2012-07-17 02:57] jhpedemonte commented on #2517
Reassigning to @childsb, although I'm not sure if this will be fixable for M7.

[2012-07-17 03:00] jhpedemonte commented on #2757
Actually, I'm going to reopen.  This bug is a bit more general than the other.  But #1543 deals specifically with cut/copy/paste -- and _paste_ will need to be handled specifically.

[2012-07-17 03:15] aerwin commented on #2759
@peller , thoughts?

This appears to be a zazl issue... The question marks appear when only when the zazl=true attribute is added:

[code]

We made a design decision to use the non-breaking white space char  ( & # 8 2 8 8 ;  )  in empty table cells. It looks like zazl is turning them into question marks.

[2012-07-17 03:19] aerwin commented on #2758
I'd agree with moving "after" after "before".

[2012-07-17 03:20] peller commented on #2759
yes, sounds like an encoding issue.

[2012-07-17 03:20] peller commented on #2759
@aerwin which file has the special chars?

[2012-07-17 03:21] #2771 closed, assigned to peller

[2012-07-17 03:26] aerwin commented on #2759
@peller -- drop an HTML table element from widget palette onto your HTML page and click OK on the smart input. Empty cells will contain the & # 8 2 8 8 ; char.

Within Maqetta code, the & # 8 2 8 8 ; char is referenced in package.json for the davinci.html package as well as the JS files for `TableCellInput`, `TableInput`, and `TableMatrix`.

[2012-07-17 03:28] peller commented on #2759
ok, so it's inline in the HTML page.  got it.

[2012-07-17 03:30] aerwin commented on #2763
Ok, looks like #2754 is fixed (addressing the first issue). It does not appear that the first issue caused the 2nd issue.

The 2nd issue is still quite odd. In my local Eclipse environment, `HTMLSubElementHelper` is successfully loaded with the following URL:

http://localhost:8081/maqetta/app/metadata/dojo/1.8/dijit//HTMLSubElementHelper.js?@revision@

With the build, dijit is missing and an extr

[2012-07-17 03:37] aerwin commented on #2390
--> @jhpedemonte

Last I knew on this, @jhpedemonte was looking into registering package aliases.

[2012-07-17 03:50] peller commented on #2759
This only seems to happen in the built Maqetta, not running from Eclipse.  The page is served up as iso-8859-1 in both situations, though.  The META tag says utf-8, but is probably not known to MaqettaHTMLFilter.java  None of that would be an issue, though, if the HTML escape remained in place.  Something seems to be parsing and serializing the HTML... must be the HTMLParser in the filter.  @rback

[2012-07-17 04:50] aerwin commented on #2758
Closing with above commit.

[2012-07-17 04:50] #2758 closed, assigned to aerwin

[2012-07-17 06:59] aerwin commented on #2728
Ok... think I finally have a reliable recreation scenario:
- New HTML file
- Open Dojo controls section and scroll widget palette all the way to bottom
- Drag text box onto page

![screenshot](http://i.imgur.com/ipoyM.png)
- Save and close
- Reopen HTML file and widget palette not shown:

![screenshot](http://i.imgur.com/HuJZH.png)

I think this is all about vertical positioning... scrolling parti

[2012-07-17 10:43] rbackhouse commented on #2759
The filter is using whatever encoding was set on the response via a call to setCharacterEncoding. I noticed that DavinciPageServlet is setting the encoding to be UTF-8 regardless of what the encoding actually could  be :

line 383
        resp.setCharacterEncoding("UTF-8");

[2012-07-17 13:38] peller commented on #2759
the character encoding of the response in the filter is definitely ISO-8859-1.  Shouldn't it be UTF-8 based on what you said?

[2012-07-17 13:50] jhpedemonte commented on #2728
@doronrosenberg, you've been good at figuring out Dojo 1.8 regressions.  Mind taking a quick look at this one?  Might be another such issue.

[2012-07-17 13:51] jhpedemonte commented on #2390
Yes, got sidetracked the past couple days with other stuff, but I'll finish this one up today.

[2012-07-17 13:58] jhpedemonte commented on #2734
Also see #729.  @JonFerraiolo, wasn't there already an issue for this?

[2012-07-17 14:52] aerwin commented on #2763
--> Prio from High to Critical

[2012-07-17 14:53] aerwin commented on #2764
--> Prio from High to Critical

[2012-07-17 14:53] aerwin commented on #2756
--> Prio from High to Critical

[2012-07-17 14:54] aerwin commented on #2755
--> Prio from High to Critical

[2012-07-17 14:55] aerwin commented on #2753
--> Prio from High to Critical

[2012-07-17 14:55] aerwin commented on #2733
--> Prio from High to Critical

[2012-07-17 14:55] aerwin commented on #2728
--> Prio from High to Critical

[2012-07-17 14:56] aerwin commented on #2717
--> Prio from High to Critical

[2012-07-17 15:39] billreed63 commented on #2756
The saveAs code needs to change the path on all CSS files, While this is a bug we need to fix I don't think this is Critical the user can update the path in the source editor.
--> Prio from Critica to High

[2012-07-17 16:18] #2759 closed, assigned to aerwin

[2012-07-17 16:19] doronrosenberg commented on #2728
Windows chrome works fine, mac chrome doesn't.  Firefox doesn't have this issue on any OS.  Hopefully this isn't a browser bug

[2012-07-17 16:20] peller commented on #2764
Fixed by @wkeese in [Dojo r29266](http://bugs.dojotoolkit.org/changeset/29266/dojo)  We will pick this up when we move to Dojo 1.8.0rc1

[2012-07-17 16:27] JonFerraiolo commented on #2728
I have seen various scenarios where Chrome's overly aggressive performance optimizations can sometimes cause DOM nodes to render asynchronously, particularly with nested nodes, where DOM nodes don't have `element.ownerDocument.defaultView` in synchronous processing, and instead the browser seems to update rendering and computed style in a separate background thread. There are several spots in our

[2012-07-17 16:31] doronrosenberg commented on #2728
@JonFerraiolo I see the same behavior on maqetta.org with mac chrome.

[2012-07-17 16:39] doronrosenberg commented on #2728
I can reproduce this on mac chrome without adding any widgets - just expand and scroll all the way down in the widgets palette, close the html file and open it (or any other one) - palette is gone

[2012-07-17 17:41] #2728 closed, assigned to nobody

[2012-07-17 17:45] #2645 closed, assigned to doronrosenberg

[2012-07-17 18:06] #2757 closed, assigned to doronrosenberg

[2012-07-17 18:07] doronrosenberg commented on #2757
@JonFerraiolo could you review the changes to SelectTool (d6591726a319e0f98c9aa41835f31782b935888a) for this, I believe you know this code the best.

[2012-07-17 18:52] aerwin commented on #2465
The main goal for M7 is to tolerate dojox.mvc when leveraged via the Maqetta source editor. In later milestones, we'll want to explore enhanced smart input capabilities. I'll add some notes in a later post about how that smart input might work.

But, per scrum today, I mentioned that we already tolerate dojox.mvc. And, below I'll discuss the sample I now I have running in Maqetta. (I was actually

[2012-07-17 19:07] aerwin commented on #2465
Now, that I'm using `EditModelRefController` (the new insight from working with the dojox.mvc developer) I was able to get rid of the direct use of `dojo.Stateful` and put the data of interest in a `dojo.store.Memory`:

[code]

This is more in line with what we'll want to do with a smart input solution. E.g., we already have code (like for Tree) that edits `dojo.store.Memory` on the back end.

[2012-07-17 19:33] aerwin opened #2772 "Add dojox.mvc widgets to palette"
This is a spin-off from #2465... opening as a candidate for M8.

This work item would be to add the various [dojox.mvc](http://livedocs.dojotoolkit.org/dojox/mvc) widgets to the Maqetta widget palette:
- [dojox/mvc/Output](http://livedocs.dojotoolkit.org/dojox/mvc/Output) A data-bound output widget.
- [dojox/mvc/Group](http://livedocs.dojotoolkit.org/dojox/mvc/Group) An aggregation of widgets with

[2012-07-17 19:56] childsb commented on #2590
The dialog for "save as" has been fixed since this bug.  Backing out previous fix just because its redundant.

[2012-07-17 20:01] JonFerraiolo commented on #2757
Looks good!

[2012-07-17 20:16] #2753 closed, assigned to peller

[2012-07-17 20:16] #2755 closed, assigned to peller

[2012-07-17 21:16] aerwin opened #2773 "Provide UI for setting up dojox.mvc data bindings"
This is a spin-off from #2465... opening as a candidate for M8.

The goal of #2465 was to ensure we "tolerate" dojox.mvc in the Maqetta page editor. This work item would be to provide a UI (e.g., some kind of smart input) to allow a designer to easily set up dojox.mvc data bindings.

Below are some high-level thoughts, but more design work will be needed:
- It's a bit open in my mind how we would

[2012-07-17 21:17] aerwin opened #2774 "Use data-dojo-props across Maqetta"
Proposing this as a work item for M8...

I think we need to seriously look at using `data-dojo-props` across the board in our declarative HTML for Dojo widgets. We've got some isolated cases where we use today (like in GridX). But, aside from being good form when working with Dojo, I think the _need_ is going to become more widespread and should probably be handled centrally.

For example, as we w

[2012-07-17 21:21] aerwin commented on #2465
With the sample provided above that works in Maqetta, and the opening of issues #2772 & #2773 for future dojox.mvc work, I'm going to go ahead and close this issue.

[2012-07-17 21:21] #2465 closed, assigned to aerwin

[2012-07-17 21:49] billreed63 opened #2775 "dojox.mobile.TabBar defaults to wrong barType"
Create a iphone html page
DnD a TabBar on to the page.. Notice that the bar is black (like android)

in properties palette change the widget specific property "barType" to segmentedControl Now it looks like the device

I have no idea why the phone CSS style looks like to an android but all the themes are that way so apparently to get the device look we need to use the segmented barType

[2012-07-17 22:15] JonFerraiolo commented on #9
We fixed this. Closing.

[2012-07-17 22:15] #9 closed, assigned to nobody

[2012-07-17 22:19] JonFerraiolo commented on #8
@childsb will preview url change when we switch to orion?

[2012-07-17 22:24] doronrosenberg commented on #2775
The black bar exists on iOS too (see http://developer.apple.com/library/ios/#DOCUMENTATION/WindowsViews/Conceptual/ViewControllerCatalog/Chapters/TabBarControllers.html), the other barType is the top tabs.

[2012-07-17 22:24] #2775 closed, assigned to doronrosenberg

[2012-07-17 22:24] JonFerraiolo commented on #1
A long time ago, we reused an existing browser window for preview. As I remember, this was easy to do. I think you just need to use the same window name or something like that.

[2012-07-17 22:27] JonFerraiolo commented on #50
This was fixed long ago.

[2012-07-17 22:27] #50 closed, assigned to nobody

[2012-07-17 22:30] JonFerraiolo commented on #49
-> M8 Prio-Med

[2012-07-17 22:32] JonFerraiolo commented on #44
This was fixed for M6

[2012-07-17 22:32] #44 closed, assigned to JonFerraiolo

[2012-07-17 22:34] JonFerraiolo commented on #42
Elevated to M7/Med because this might relate to current UI makeover effort

[2012-07-17 22:35] JonFerraiolo commented on #41
-> M7/Prio-Med to review as part of UI makeover effort

[2012-07-17 22:36] JonFerraiolo commented on #40
-> M7/Prio-High - this is one of the things we should be addressing with UI makeover

[2012-07-17 22:37] JonFerraiolo commented on #39
-> M7/Prio-Low just in case we have time to address this as part of UI makeover

[2012-07-17 22:40] JonFerraiolo commented on #38
Closing this. Haven't seen this problem in a long time.

[2012-07-17 22:40] #38 closed, assigned to JonFerraiolo

[2012-07-17 22:44] JonFerraiolo commented on #32
Closing. I haven't seen this sort of problem in a long time.

[2012-07-17 22:44] #32 closed, assigned to JonFerraiolo

[2012-07-17 22:44] JonFerraiolo commented on #31
-> M8/Prio-High

[2012-07-17 22:45] JonFerraiolo commented on #30
-> M7/Prio-Med because this would be good to address as part of UI makeover effort

[2012-07-17 22:46] JonFerraiolo commented on #29
-> M7/Prio-Low just in case we have time to address this as part of UI makeover effort

[2012-07-17 22:48] doronrosenberg opened #2776 "Provide SmartInput for dojox.mobile.ValuePicker"

[2012-07-17 22:50] JonFerraiolo commented on #25
@billreed63: can we close this? Aren't we using dojo claro now that we have delta themes? Or maybe we aren't yet referring to Dojo's claro and instead have an exact clone of dojo claro now? Maybe the recent changes that @jhpedemonte is making to support library dependencies might impact our ability to address this issue?

Whatever, could you please close, update and open any issues in this space s

[2012-07-17 22:51] JonFerraiolo commented on #24
I might have to address this issue as part of UI makeover effort for M7. If that turns out to be true, then I'll grab this issue.

[2012-07-17 22:54] JonFerraiolo commented on #21
@jhpedemonte: OK to close this?

[2012-07-17 22:57] JonFerraiolo commented on #19
@jhpedemonte @childsb

@peller: our build scripts produce a .war file today. Are you saying we should post a .war file next to the .zip file that we post at maqetta.org/downloads? If so, I would say don't bother. Anyone who wants a .war file probably is a Java geek, and they can build their own .war file.

[2012-07-17 23:08] JonFerraiolo commented on #73
@doronrosenberg - can you please investigate and see if this issue is still present, and if so, determine if we can safely fix for M7?

[2012-07-17 23:08] JonFerraiolo commented on #71
Closing

[2012-07-17 23:08] #71 closed, assigned to jhpedemonte

[2012-07-17 23:09] JonFerraiolo commented on #69
@peller @billreed63 I'm closing this under assumption that we are optimizing requests for CSS files as much as we can now.

[2012-07-17 23:09] #69 closed, assigned to billreed63

[2012-07-17 23:14] JonFerraiolo commented on #68
closing - haven't seen this in a long time.

[2012-07-17 23:14] #68 closed, assigned to peller

[2012-07-17 23:14] JonFerraiolo commented on #67
@childsb fixed this awhile ago. Yay!

[2012-07-17 23:14] #67 closed, assigned to nobody

[2012-07-17 23:17] JonFerraiolo commented on #66
We now have a URL param `resetWorkbenchSettings=1` but leaving this open to see whether we want to expose this within our UI

[2012-07-17 23:18] JonFerraiolo commented on #64
Leaving as M7/Prio-Med, but we are like to have to push this to M8

[2012-07-17 23:19] JonFerraiolo commented on #62
-> M7 Prio-Low. Nice to have, but can be pushed to M8.

[2012-07-17 23:20] JonFerraiolo commented on #59
Closing - we seem to have fixed this.

[2012-07-17 23:20] #59 closed, assigned to nobody

[2012-07-17 23:21] JonFerraiolo commented on #58
We fixed this in M6.

[2012-07-17 23:21] #58 closed, assigned to nobody

[2012-07-17 23:23] JonFerraiolo commented on #57
Issue is still present. Add a widget, select it, then click eyeball in Outline palette to make it invisible. You'll see a small selection box in top/left corner of canvas.

[2012-07-17 23:25] JonFerraiolo commented on #51
-> @doronrosenberg M7/Prio-Low leaving for M7 because Outline changes might still be fresh in mind

[2012-07-17 23:28] JonFerraiolo commented on #98
@peller

-> @doronrosenberg M7 Prio-Med

[2012-07-17 23:31] JonFerraiolo commented on #96
from @peller -> @doronrosenberg . Is that OK? If not, please switch it back to @peller

[2012-07-17 23:33] JonFerraiolo commented on #87
-> @peller

[2012-07-17 23:35] doronrosenberg commented on #96
back to @peller as he wrote all the DND hacks

[2012-07-17 23:37] JonFerraiolo commented on #82
Closing. All of the above cases are working now.

[2012-07-17 23:37] #82 closed, assigned to peller

[2012-07-17 23:37] JonFerraiolo commented on #77
Closing. Home page has a link to videos on YouTube.

[2012-07-17 23:37] #77 closed, assigned to JonFerraiolo

[2012-07-17 23:39] JonFerraiolo commented on #125
@aerwin - should we close this bug? We have SmartInput for tables now, even if it isn't exactly what was described in this issue.

[2012-07-17 23:41] doronrosenberg commented on #73
Yeah this still happens

[2012-07-17 23:44] JonFerraiolo commented on #109
This might get fixed if we move SmartInput out of the user document window and into the app document window.

[2012-07-17 23:48] JonFerraiolo commented on #104
-> @doronrosenberg M7/Prio-Low. Putting at M7 only because Outline code might be fresh in mind.

[2012-07-17 23:50] aerwin commented on #125
@JonFerraiolo Yes, agreed. Closing.

[2012-07-17 23:50] #125 closed, assigned to aerwin

[2012-07-17 23:50] JonFerraiolo commented on #149
Closing - back-off logic works universally now.

[2012-07-17 23:50] #149 closed, assigned to nobody

[2012-07-17 23:51] JonFerraiolo commented on #148
-> M8/Med

[2012-07-17 23:53] JonFerraiolo commented on #142
Need to try again to see if we can add a zoom-level feature for page editor.

[2012-07-17 23:55] JonFerraiolo commented on #135
-> @aerwin

[2012-07-17 23:56] JonFerraiolo commented on #134
Closing - no longer interested in EnhancedGrid

[2012-07-17 23:56] #134 closed, assigned to nobody

[2012-07-17 23:58] JonFerraiolo commented on #126
Closing - visual editor drag/drop code was rewritten and now drop-point is usually highly visible and recognizable

[2012-07-17 23:58] #126 closed, assigned to nobody

[2012-07-18 00:00] JonFerraiolo commented on #175
Closing. We added a library of clipart widgets a few milestones back.

[2012-07-18 00:00] #175 closed, assigned to JonFerraiolo

[2012-07-18 00:02] JonFerraiolo commented on #170
-> @peller M7 Prio-Low. Leaving at M7 just in case @peller has a few cycles to investigate and see whether we have any remaining unsprited images.

[2012-07-18 00:03] JonFerraiolo commented on #168
-> M7/Prio-High because this might be addressed by M7 UI makeover effort.

[2012-07-18 00:05] JonFerraiolo commented on #164
Closing. Seems to be fixed.

[2012-07-18 00:05] #164 closed, assigned to JonFerraiolo

[2012-07-18 00:09] JonFerraiolo commented on #161
Seems to be fixed. Closing.

[2012-07-18 00:09] #161 closed, assigned to nobody

[2012-07-18 00:14] JonFerraiolo commented on #160
I'm 99% sure this is a simple string change in packages.json, from:

[code]

to:

[code]

The rest of the metadata points to dijit.form.Select, which is correct I believe.

[2012-07-18 00:18] JonFerraiolo commented on #159
This issue is way better than described above. You can now set width/height in properties palette on center pane and (correctly) nothing wrong happens. However, we should still disable width/height in properties palette for center pane.

[2012-07-18 00:25] JonFerraiolo commented on #158
@doronrosenberg: The worst parts of this bug are no longer present according to my testing just now. But one thing remains - outline palette loses its selection in this case and other cases. I wonder if there is another topic listener (dojo.subscribe) that we could add so outline palette will update selection in this scenario.

[2012-07-18 00:25] JonFerraiolo commented on #157
Closing. We have a FORM element now.

[2012-07-18 00:25] #157 closed, assigned to aerwin

[2012-07-18 00:27] JonFerraiolo commented on #154
-> M7 Prio-Med. Accelerated to consideration for M7 because latest UI mockups include a duplicate command on ActionBar.

[2012-07-18 00:29] JonFerraiolo commented on #197
If we ever address this issue, we are likely to have a migration issue with old user files.

[2012-07-18 00:31] JonFerraiolo commented on #194
-> @doronrosenberg M7/Prio-Low. As said above, maybe fixed now, certainly mostly fixed.

[2012-07-18 00:32] JonFerraiolo commented on #192
from M7/High to M7/Med, probably will get pushed to M8

[2012-07-18 00:36] JonFerraiolo commented on #186
-> @childsb M8/Prio-Med.

[2012-07-18 00:37] JonFerraiolo commented on #183
-> @childsb M8/Prio-Med

[2012-07-18 00:41] JonFerraiolo commented on #177
Closing. We have click on widget palette, and then click on canvas to establish position. That's good enough.

[2012-07-18 00:41] #177 closed, assigned to JonFerraiolo

[2012-07-18 00:42] JonFerraiolo commented on #176
Closing. Dupe of #185

[2012-07-18 00:42] #176 closed, assigned to JonFerraiolo

[2012-07-18 00:44] JonFerraiolo commented on #221
Closing - no response from submitter to our questions - no way to pursue without more info

[2012-07-18 00:44] #221 closed, assigned to jhpedemonte

[2012-07-18 00:44] JonFerraiolo commented on #220
Closing. Orion folks solved this issue.

[2012-07-18 00:44] #220 closed, assigned to nobody

[2012-07-18 00:46] JonFerraiolo commented on #209
Closing. Cannot reproduce. Probably fixed a long time ago.

[2012-07-18 00:46] #209 closed, assigned to nobody

[2012-07-18 00:52] JonFerraiolo commented on #244
-> M7/Prio-Med. This is an important architecture issue, but it might be too late in cycle to try to address in M7.

[2012-07-18 00:52] JonFerraiolo commented on #244
@billreed63

[2012-07-18 00:54] JonFerraiolo commented on #241
M7/Prio-Low. Non-critical, but should be easy and safe to fix.

[2012-07-18 00:54] #241 closed, assigned to doronrosenberg

[2012-07-18 00:56] JonFerraiolo commented on #235
Closing. Haven't seen any problems with TItlePane in a long time.

[2012-07-18 00:56] #235 closed, assigned to JonFerraiolo

[2012-07-18 00:58] JonFerraiolo commented on #231
@doronrosenberg: can we close this issue now?

[2012-07-18 00:58] JonFerraiolo commented on #229
-> M7/Prio-Low. Should be an easy fix, but can easily be pushed.

[2012-07-18 01:26] doronrosenberg commented on #194
I think a lot of cases are fixed, but I am sure some dialogs still use OK.

[2012-07-18 02:48] jhpedemonte commented on #19
Also, moving to Orion build, which doesn't produce a WAR file at all.

[2012-07-18 02:49] #21 closed, assigned to nobody

[2012-07-18 02:49] jhpedemonte commented on #21
Closing.

[2012-07-18 02:50] jhpedemonte commented on #2776
Is this something you plan to do for M7?

[2012-07-18 02:51] peller commented on #19
People were asking for it, since it made sense at the time to be able run our servlet on other servers.  It's not unreasonable for someone to expect us to post the results of the build script.  If our Orion configuration makes a war meaningless, I'm happy to close this issue.

[2012-07-18 02:53] peller commented on #87
we have async loading now, so the spinning graphic actually spins.  That was the original problem here, so I think we can close.  If there are other long-running operations which require some sort of loading UI, we should open separate issues.

[2012-07-18 02:56] peller commented on #1
trivial to do.  just pass a target name (2nd param) into window.open.  but do we really want to do this?

[2012-07-18 03:04] JonFerraiolo commented on #265
M7->Prio Med. We really should fix this if we can.

[2012-07-18 03:07] JonFerraiolo commented on #254
@aerwin did this. Closing.

[2012-07-18 03:07] #254 closed, assigned to JonFerraiolo

[2012-07-18 03:08] JonFerraiolo commented on #252
-> @peller If this is a dupe of a difference performance bug, please close

[2012-07-18 03:16] JonFerraiolo commented on #282
-> Prio-Med, but will probably get into M7 nonetheless

[2012-07-18 03:16] JonFerraiolo commented on #279
Closing. We have arrow keys working now to move widget by 1px, and shift-arrow for 10px

[2012-07-18 03:16] #279 closed, assigned to JonFerraiolo

[2012-07-18 03:19] JonFerraiolo commented on #277
Upgraded to M7/Prio-Med because this will probably get addressed as part of M7 UI makeoer

[2012-07-18 03:21] JonFerraiolo commented on #325
-> M8/Prio-Med

[2012-07-18 03:24] JonFerraiolo commented on #316
Closing. We do this today.

[2012-07-18 03:24] #316 closed, assigned to nobody

[2012-07-18 03:25] JonFerraiolo commented on #315
Closing. Dupe of keyboard accelerator task.

[2012-07-18 03:25] #315 closed, assigned to nobody

[2012-07-18 03:26] JonFerraiolo commented on #313
Not sure if this problem still exists, and even if it does, maybe it only exists with the "standalone" welcome page.

[2012-07-18 03:31] JonFerraiolo commented on #308
@childsb Can we close this?

[2012-07-18 03:33] JonFerraiolo commented on #304
@doronrosenberg fixed this. closing

[2012-07-18 03:33] #304 closed, assigned to doronrosenberg

[2012-07-18 03:35] JonFerraiolo commented on #349
Closing. We aren't likely to integrate Maqetta directly into Eclipse at this point.

[2012-07-18 03:35] #349 closed, assigned to nobody

[2012-07-18 03:44] JonFerraiolo opened #2777 "States.js doesn't handle getFocus returning null value"
States.js:165 dies with an exception if States.getFocus() returns null. I was able to get this when changing the document using the source editor.

EIther:
- getFocus should always return a pointer to a state, and/or
- everything that calls getFocus should handle a null value, and/or
- we need to make sure that the page editor sets the focus in all possible cases

[2012-07-18 03:46] JonFerraiolo commented on #346
Closing. This has been fixed.

[2012-07-18 03:46] #346 closed, assigned to nobody

[2012-07-18 03:46] JonFerraiolo commented on #345
Closing. Haven't seen this problem in a long time.

[2012-07-18 03:46] #345 closed, assigned to JonFerraiolo

[2012-07-18 03:47] JonFerraiolo commented on #343
Downgraded to M7/Prio-Med

[2012-07-18 03:51] JonFerraiolo commented on #336
Closing. Some parts are fixed, others are dupes of other bugs.

[2012-07-18 03:51] #336 closed, assigned to nobody

[2012-07-18 03:53] JonFerraiolo commented on #335
-> M7/Prio-Med. Companion task to the "getting rid of BODY width=height=100%" task: #2054

[2012-07-18 03:55] JonFerraiolo commented on #333
Closing. Has been fixed.

[2012-07-18 03:55] #333 closed, assigned to nobody

[2012-07-18 03:57] JonFerraiolo commented on #329
Upgraded to M7/Prio-Med because likely to fall out of the M7 UI makeover effort

[2012-07-18 03:59] JonFerraiolo commented on #375
Closing. Fixed a long time ago

[2012-07-18 03:59] #375 closed, assigned to nobody

[2012-07-18 04:00] JonFerraiolo commented on #374
Raised to M7/Prio-Med because likely to fall out of M7 UI makeover effort

[2012-07-18 04:00] JonFerraiolo commented on #370
Closing - we have gradient support now

[2012-07-18 04:00] #370 closed, assigned to nobody

[2012-07-18 04:02] JonFerraiolo commented on #369
Leaving this open in case there are enhancements to Dojo that will allow us to deliver this in cases where users are entering dummy data.

[2012-07-18 04:04] JonFerraiolo commented on #364
closing - we will just get whatever Orion provides to us

[2012-07-18 04:04] #364 closed, assigned to peller

[2012-07-18 04:06] JonFerraiolo commented on #361
-> M7/Prio-Low.

Our source integration will come from Orion.

[2012-07-18 04:07] JonFerraiolo commented on #359
M7/Prio-Med, but unlikely to make it into M7.

[2012-07-18 04:08] JonFerraiolo commented on #356
Closing. Haven't seen this problem in a long time.

[2012-07-18 04:08] #356 closed, assigned to nobody

[2012-07-18 04:09] JonFerraiolo commented on #355
Seems to be fixed now. Closing.

[2012-07-18 04:09] #355 closed, assigned to nobody

[2012-07-18 04:37] JonFerraiolo commented on #399
Closing. Couldn't reproduce with M6/gridx.

[2012-07-18 04:37] #399 closed, assigned to nobody

[2012-07-18 04:38] JonFerraiolo commented on #397
Fixed in M6

[2012-07-18 04:38] #397 closed, assigned to peller

[2012-07-18 04:42] JonFerraiolo commented on #380
Closing. We do this today.

[2012-07-18 04:42] #380 closed, assigned to childsb

[2012-07-18 04:45] JonFerraiolo commented on #451
Upgraded to M7/Prio-Med - likely to be fixed as part of M7 UI makeover effort

[2012-07-18 04:46] JonFerraiolo commented on #446
@doronrosenberg - could you please investigate to see if this dialog was updated as part of your dialog unification effort?

[2012-07-18 04:47] JonFerraiolo commented on #439
@childsb fixed this. closing

[2012-07-18 04:47] #439 closed, assigned to nobody

[2012-07-18 04:48] JonFerraiolo commented on #438
closing - after merging review/commenting into main app, there is no longer a separate welcome page for review/commenting.

[2012-07-18 04:48] #438 closed, assigned to JonFerraiolo

[2012-07-18 04:52] JonFerraiolo commented on #437
@aerwin - if this is out of your technical knowledge area, perhaps you can reassign to @jhpedemonte (or at least partner with him) because he is likely to have been forced to learn send-mail things in past several months

[2012-07-18 04:55] JonFerraiolo commented on #424
Closing. States palette no longer uses DataGrid.

[2012-07-18 04:55] #424 closed, assigned to nobody

[2012-07-18 04:58] JonFerraiolo commented on #421
Closing. Seems to be fixed.

[2012-07-18 04:58] #421 closed, assigned to peller

[2012-07-18 04:59] JonFerraiolo commented on #420
Closing. Seems to be working now.

[2012-07-18 04:59] #420 closed, assigned to peller

[2012-07-18 05:05] JonFerraiolo opened #2778 "Toolbar should allow any dijit as child"
@jhpedemonte @peller

The metadata for Toolbar says `"allowedChild": "dijit.form.Button",` but in fact Toolbar accepts any Dijit as a child. Notice that you can drag/drop other Dijits into a Toolbar in Outline palette and things work fine.

@jhpedemonte: Do we have an "any dijit" flag in our metadata?

[2012-07-18 05:06] JonFerraiolo commented on #418
Doesn't seem to happen anymore with gridx (vs DataGrid). Closing.

[2012-07-18 05:06] #418 closed, assigned to billreed63

[2012-07-18 05:08] JonFerraiolo commented on #408
@billreed63 - could you please review this issue to see if it can be closed?

[2012-07-18 05:13] JonFerraiolo commented on #473
Assigning to @childsb for M7/Prio-Low as reminder in case the new login screens have a remember me feature.

[2012-07-18 05:43] doronrosenberg commented on #446
I didn't convert any uses of alert() or confirm()

[2012-07-18 05:46] doronrosenberg commented on #2776
@jhpedemonte If there is time, but probably not.

[2012-07-18 11:05] Jawf commented on #9
Great Thanks:)

On Wed, Jul 18, 2012 at 6:15 AM, Jon Ferraiolo <
reply@reply.github.com

##

Yours sincerely,
       Jawf Neo Lee

--------Do well when you do!--------

[2012-07-18 13:25] billreed63 commented on #25
#2673 is a better description of the current state, so I will close this one and leave the other open

[2012-07-18 13:25] billreed63 commented on #25
close

[2012-07-18 13:25] #25 closed, assigned to billreed63

[2012-07-18 13:33] billreed63 commented on #408
#2673 current state

[2012-07-18 13:33] #408 closed, assigned to billreed63

[2012-07-18 14:08] JonFerraiolo commented on #446
Thanks. Renaming the issue to be more general. M7/Prio-Low, probably will be pushed to M8.

[2012-07-18 14:24] JonFerraiolo commented on #1
@peller: yes, I don't see why it's good for the user to have N different preview tabs open for the same HTML file. We should reuse the same tab whenever we can for the same HTML file. (Note: if a user is working on two files, such as file1.html and file2.html, and previews both, there should be 2 preview tabs, not one shared tab.)

[2012-07-18 14:27] #87 closed, assigned to peller

[2012-07-18 14:48] JonFerraiolo commented on #550
Closing. We now open the theme editor after clicking Create on the New Theme dialog.

[2012-07-18 14:48] #550 closed, assigned to nobody

[2012-07-18 14:49] JonFerraiolo commented on #549
Probably won't have time for this in M7, but setting to M7/Prio-Low in case we end up working in this area as part of M7 UI makeover.

[2012-07-18 14:51] JonFerraiolo commented on #548
-> M7/Prio-Low and me in case I'm able to get to this as part of M7 UI makeover effort

[2012-07-18 14:53] JonFerraiolo commented on #547
Closing this: we have decided on initial palette layout for M7 UI makeover and there is a different issue to allow user to rearrange where palettes go.

[2012-07-18 14:53] #547 closed, assigned to nobody

[2012-07-18 14:54] JonFerraiolo commented on #546
Setting to M7/Prio-High. Trivial fix that will happen as part of M7 UI makeover effort.

[2012-07-18 14:55] JonFerraiolo commented on #545
Dupe of #546

[2012-07-18 14:55] #545 closed, assigned to nobody

[2012-07-18 14:56] JonFerraiolo commented on #544
-> M7/Prio-Med Will probably work on this as part of M7 UI makeover effort.

[2012-07-18 14:57] JonFerraiolo commented on #543
-> @childsb M7/Prio-High to include the right login dialog design provided by the UI team. Feel free to send this issue once the dialog is implemented if you need help with pixel tweaking.

[2012-07-18 15:01] JonFerraiolo commented on #536
-> M7/Prio-Low because it should be a quick and easy fix if @doronrosenberg has a few free minutes

[2012-07-18 15:10] aerwin commented on #2763
--> @peller

Moving to @peller as he's agreed to look into the deeper loader issues. Please send back to me if I can help.

[2012-07-18 15:14] JonFerraiolo commented on #501
Probably will never fix. Setting to Future/Prio-Low/Severity-4

[2012-07-18 15:19] JonFerraiolo commented on #596
-> M7/Prio-Low Probably won't have time to address this for M7, if so should be elevated for M8

[2012-07-18 15:23] JonFerraiolo commented on #581
Set to M8/Prio-High because won't be able to change this for M7 and we have to decide for once and all in M8 what to do about paste UI

[2012-07-18 15:26] JonFerraiolo commented on #578
Pushing to M8/Prio-Low. States code has gone through 2 major cleanup cycles (one for M6 and one for M7) and the only real ugly thing now is that we are using a property named "undefined" at runtime, would be better to used a name like _maqNormal.

[2012-07-18 15:27] JonFerraiolo commented on #568
-> M7 Prio-Med. Of course, we are now focused on gridx instead of DataGrid.

[2012-07-18 15:28] JonFerraiolo commented on #564
-> @peller M7/Prio-Med

[2012-07-18 15:30] JonFerraiolo commented on #192
@jmockler

[2012-07-18 15:30] JonFerraiolo commented on #556
Closing. Dupe of #192

[2012-07-18 15:30] #556 closed, assigned to nobody

[2012-07-18 15:34] JonFerraiolo commented on #552
Closing. You can open themes successfully with latest code, either via Open Theme... command or double-clicking on a *theme file in Files palette.

[2012-07-18 15:34] #552 closed, assigned to billreed63

[2012-07-18 15:39] JonFerraiolo commented on #670
Closing, now fixed.

[2012-07-18 15:39] #670 closed, assigned to nobody

[2012-07-18 15:39] doronrosenberg opened #2779 "Support dijits that don't have an associated domNode"
@JonFerraiolo @jhpedemonte

dojox.mobile.ScreensizeAware is a not actually a real dijit - its just some javascript that listens for stuff and reacts.  It doesn't produce a domNode, which breaks out logic in many places.

DijitWidget.js for example assumes `dijitWidget.domNode` always exists.  And no domNode means we can't get a context for a widget.  We also do things like `dijitWidget.domNode._dv

[2012-07-18 15:40] JonFerraiolo commented on #655
@peller - could you please review this and close if this issue no longer exists?

[2012-07-18 15:42] JonFerraiolo commented on #652
Closing. Never was able to reproduce and haven't seen reports on this in a long time.

[2012-07-18 15:42] #652 closed, assigned to JonFerraiolo

[2012-07-18 15:42] JonFerraiolo commented on #635
M7/Prio-Low. Might fall out of other source code fixing.

[2012-07-18 15:43] JonFerraiolo commented on #633
Is this fixed?

[2012-07-18 15:46] JonFerraiolo commented on #632
I verified that M6 on maqetta.org generates a TypeError when I follow the steps listed above.

@billreed63

[2012-07-18 15:47] JonFerraiolo commented on #626
-> @doronrosenberg M7/Prio-Low. Fix if time permits. Otherwise, should elevate priority for M8.

[2012-07-18 15:48] JonFerraiolo commented on #624
-> M7/Prio-Low - in case @billreed63 can look at this as part of his complete review of theme editor with dojo 1.8

[2012-07-18 15:51] JonFerraiolo commented on #608
Changed to M7/Prio-Med. Really should fix, but can ship without fixing.

[2012-07-18 15:52] aerwin commented on #2719
I don't know if something has changed recently to improve the situation, but looking at the files in the most recent build... it looks like all of the parts actually _are_ being built. Perhaps that was the case when I opened the problem. But, it wasn't obvious because:
- there is no `\\built` comment at the top of the files like there used to be (not really a "problem")
- the parts are _not_ being

[2012-07-18 15:56] #633 closed, assigned to doronrosenberg

[2012-07-18 16:01] JonFerraiolo commented on #787
-> M7/Prio-Med because can't we ship without this fix, especially given that we will no longer include YUI and jQuery libraries?

[2012-07-18 16:01] peller commented on #564
see f178487411c09ea57510c85223dc2a3e4c41827e and 5bd11df084c31317e9645e1cf94df781a72c9e4d for preview url

[2012-07-18 16:02] JonFerraiolo commented on #776
-> @jhpedemonte

[2012-07-18 16:04] JonFerraiolo commented on #759
Set to M7/Prio-Med so at least we can see if bug still exists and determine how critical the issue is. After that analysis, then jiggle the milestone, priority and severity.

[2012-07-18 16:05] JonFerraiolo commented on #755
@doronrosenberg

[2012-07-18 16:07] JonFerraiolo commented on #754
-> @peller M7/Prio-Low, if time permits, please review and see if bug still exists.

[2012-07-18 16:10] JonFerraiolo commented on #746
Can't reproduce in latest code. Closing.

[2012-07-18 16:10] #746 closed, assigned to nobody

[2012-07-18 16:16] JonFerraiolo commented on #886
-> @peller M7 Prio-Med - might be a dupe of other bugs

[2012-07-18 16:17] JonFerraiolo commented on #884
-> M7 Prio-Med not a ship stopper and anyway we want to move those features from context menu to toolbar on palette

[2012-07-18 16:18] JonFerraiolo commented on #880
This was unassigned. Sending to @jhpedemonte M7 Prio-Med, mostly to determine if this is a dupe and/or reset milestone and priority as he sees fit.

[2012-07-18 16:22] doronrosenberg opened #2780 "We are eating exceptions during widget creation"
@peller @jhpedemonte

Drag and drop a ScreenSizeAware widget from untested - it fails and throws an exception internally, but never shows in the console.  The exception is in DijitWidget.js line 71

[2012-07-18 16:23] JonFerraiolo commented on #822
Wasn't assigned to anyone. -> @billreed63 to see if it still exists. If not, please close. If yes, then please update milestone and priority as appropriate.

[2012-07-18 16:25] JonFerraiolo commented on #815
Had not been assigned to anyone. -> @peller M7 Prio-Low just to see if issue still exists and if so then please update milestone and priority as appropriate.

[2012-07-18 16:26] JonFerraiolo commented on #812
Had been unassigned. -> @billreed63 for M8 Prio Med, but not sure if issue still exists.

[2012-07-18 16:27] JonFerraiolo commented on #806
Had been unassigned. -> M7 Prio Low just to test and then after that update the milestone and priority appropriately.

[2012-07-18 16:30] JonFerraiolo commented on #986
-> M7 Prio/Low. We still have echo statement. Should be trivial to fix - just remove that line of code.

[2012-07-18 16:32] JonFerraiolo commented on #967
had not been associated with a milestone. Set to M7 Prio Low in case it's a trivial fix and @billreed63 has a small bit of time.

[2012-07-18 16:33] JonFerraiolo commented on #942
This wasn't assigned a milestone or priority. Set to M7 Prio Low so that @peller can at least see if issue still exists and then either close issue or update milestone/priority appropriately.

[2012-07-18 16:35] childsb commented on #2564
the onLoad(...) update was firing before the visual editor finished initializing triggering an auto save.

the auto save looks for dirty resources, and since all the resources weren't loaded yet it would mark the doc 'not dirty'.

[2012-07-18 16:39] doronrosenberg opened #2781 "BorderContainer smartinput needs to move to new dialog"

[2012-07-18 16:58] #2781 closed, assigned to doronrosenberg

[2012-07-18 17:02] JonFerraiolo commented on #2780
Setting to M7/Prio-Low - would be nice to look at this. I've noticed that something changed in last couple of months where exceptions aren't showing in console in some cases.

[2012-07-18 17:09] JonFerraiolo commented on #1065
Had been unassigned. -> @childsb M7 Prio-High. Mostly a dupe of other similar bugs. @childsb please verify that the above scenarios are fixed, and if so, please close.

[2012-07-18 17:09] #822 closed, assigned to billreed63

[2012-07-18 17:13] JonFerraiolo commented on #1049
See also #1048

[2012-07-18 17:14] JonFerraiolo commented on #1042
Should be addressed as part of M7 UI makeover effort.

[2012-07-18 17:15] JonFerraiolo commented on #1039
-> @JonFerraiolo M7 Prio-Med should be fixed as part of M7 UI makeover effort

[2012-07-18 17:17] JonFerraiolo commented on #1033
-> M7 Prio-Med really want this but won't stop us from shipping

[2012-07-18 17:21] JonFerraiolo commented on #1195
-> @JonFerraiolo M7 Prio Med might be addressed as part of M7 UI makeover effort

[2012-07-18 17:21] peller commented on #1048
I suggest we close this.  Whether the content works over file: or not depends on the toolkit used and the user's browser configuration.  We can document this limitation, but I don't think we should go too far except to point out that these are external factors.

[2012-07-18 17:23] peller commented on #1049
I suggest we point out that file: URLs have security restrictions which may prevent content from loading.  Solutions will vary by browser and toolkit, and I don't think we should attempt to document this ourselves.  At best, we could point to some documentation, but it's hard to find.  I don't think Dojo currently has any documentation on the subject, and it's not a well-supported feature (althoug

[2012-07-18 17:24] JonFerraiolo commented on #1158
-> M8 Prio-High - since overlay widgets aren't working yet even in page editor, won't get addressed with M8

[2012-07-18 17:26] JonFerraiolo commented on #1147
Moving to Prio-Med - not a ship-stopper for M7.

[2012-07-18 17:26] peller commented on #2564
the last checkin needs to be redone.

[2012-07-18 17:28] JonFerraiolo commented on #1124
@childsb maybe we can close this issue, and open separate issues for any architecture topics that aren't resolved yet.

[2012-07-18 17:30] JonFerraiolo commented on #1111
-> @doronrosenberg

[2012-07-18 17:37] JonFerraiolo commented on #1234
-> M7/Prio-Low

[2012-07-18 17:39] JonFerraiolo commented on #1222
Current UI proposals for M7 leaves sticky note on toolbar

[2012-07-18 17:45] JonFerraiolo commented on #1354
-> M8 Prio Med

[2012-07-18 17:53] JonFerraiolo commented on #1417
-> M7 Prio-Med really need this fix but not going to stop us from shipping

[2012-07-18 17:54] JonFerraiolo commented on #1406
Probably will get pushed to M8

[2012-07-18 17:59] JonFerraiolo commented on #1048
closing

[2012-07-18 17:59] #1048 closed, assigned to peller

[2012-07-18 18:11] peller commented on #2719
-> @peller

[2012-07-18 18:13] billreed63 opened #2782 "Changing state in theme editor destroys context menu"
1) Create a clone of  custom theme
2) select the tab bar widget so that the subwidget context is displayed
3) Change state, to selected

Notice that the context menu is gone...
The menu should remain and subwidget that don't support the state should be grayed out

[2012-07-18 18:18] peller commented on #96
@JonFerraiolo I don't understand the description.  Assuming LMB == left mouse button and RMB == right mouse button, is the suggestion to start dragging with the left, then press the right while holding the left?  If so, I don't have a two button mouse.  Could you please test?  Otherwise, I'm unable to see any phantom widgets doing dnd from the outline palette, so I'd suggest closing.

[2012-07-18 18:21] peller commented on #96
Ok, what I do see: if you mouse down in the outline view and drag a widget to the canvas/visual editor and mouse up, the avatar stays until you go back and click in the outline view.  No right mousing involved.  Is that the bug?  Probably some variation of the cross-iframe drag and drop bugs, which are sometimes cross-browser quirks.

[2012-07-18 18:26] #815 closed, assigned to peller

[2012-07-18 18:33] JonFerraiolo commented on #96
OK, I played around with this some. I'll bet the original bug from long ago is no longer present. Regarding:

maybe we should close the dnd handler with onmouseout on the DIV that surrounds the outline palette? how often would a user temporarily drag outside of the palette's bounds and then move the mouse back in to complete the drop operation?

[2012-07-18 18:40] JonFerraiolo commented on #1584
Closing. We have moved to 1.8

[2012-07-18 18:40] #1584 closed, assigned to peller

[2012-07-18 18:42] JonFerraiolo commented on #1564
-> M8 - too risky for M7 at this late stage

[2012-07-18 18:44] JonFerraiolo commented on #1547
Mostly done and integrated into master. Not closing yet - still some detail work to do.

[2012-07-18 18:45] JonFerraiolo commented on #1543
Closing - @doronrosenberg fixed this a couple of days ago

[2012-07-18 18:45] #1543 closed, assigned to doronrosenberg

[2012-07-18 18:46] JonFerraiolo commented on #1519
-> @aerwin

[2012-07-18 18:52] #2590 closed, assigned to childsb

[2012-07-18 19:30] childsb commented on #2562
This is working now, not sure where/when it was fixed.

[2012-07-18 19:30] #2562 closed, assigned to childsb

[2012-07-18 19:37] peller commented on #2780
there are known regressions in Deferred/DeferredList which are due to be fixed in 1.8.0rc1

[2012-07-18 19:39] peller commented on #2780
moving to promise/all seems to have fixed this.

[2012-07-18 19:39] #2780 closed, assigned to peller

[2012-07-18 19:42] JonFerraiolo commented on #1616
Downgraded to Prio-Med - really want to put into M7, but we will ship M7 even if this isn't fixed.

[2012-07-18 19:43] peller commented on #96
I think it's not uncommon for a user to drag, but not in a straight line.  Losing the selection when straying outside the div might be frustrating.  Perhaps we can make the mouse up event work, since we have a similar challenge in the createtool going from the widget palette to the canvas.

[2012-07-18 19:48] JonFerraiolo commented on #1742
Closing. This has been fixed by @doronrosenberg.

[2012-07-18 19:48] #1742 closed, assigned to doronrosenberg

[2012-07-18 19:54] JonFerraiolo commented on #1850
Downgrading to M7/Prio-Med. Really want to have this, but won't stop us from not shipping.

[2012-07-18 19:56] JonFerraiolo commented on #1821
It's getting pretty late in the cycle to make this change, might want to push to start of M8.

[2012-07-18 20:00] JonFerraiolo commented on #1995
Downgraded to Prio-Med for M7 - really want this but won't stop shipping

[2012-07-18 20:03] JonFerraiolo commented on #1948
Downgraded to Prio-Med M7 - really want to have this, but won't stop shipping.

[2012-07-18 20:06] billreed63 opened #2783 "unable to select mobile listItem check subwidget in ThemeEditor"
The dojox.mobile.ListItem can be checked, this puts a check symbol at the right of the listItem. But unless the ListItem is in the first row of the list, the subwidget selection is in the wrong location.

[2012-07-18 20:08] #2549 closed, assigned to childsb

[2012-07-18 20:18] billreed63 commented on #2783
I think this is due to the mobile theme setting the ListItem position to relative

[code]

[2012-07-18 20:41] #252 closed, assigned to peller

[2012-07-18 21:07] #2777 closed, assigned to JonFerraiolo

[2012-07-18 21:10] JonFerraiolo opened #2784 "With zazl previews, our hook function into dojo parser never called"
Our hook function into dojo.parser.parse in AppStates.js isn't getting called for preview-in-browser when zazl is turned on. To reproduce:
- Open Sample1.html
- Preview
- Open up debugger. In the script panel, look for _javascript module, then search for _preserveStates to find the hook function that intercepts/overrides dojo.parser.parse, and put a breakpoint into that hook function
- Browser ref

[2012-07-18 21:19] billreed63 commented on #2635
It's back, with the latest code

[2012-07-18 21:24] #2782 closed, assigned to JonFerraiolo

[2012-07-18 21:55] JonFerraiolo commented on #2070
-> @jhpedemonte (had been unassigned)

[2012-07-18 21:58] JonFerraiolo commented on #2054
Downgrading to M7/Prio-Med, still really want this, but not going to hold up shipping.

[2012-07-18 21:59] billreed63 opened #2785 "States from mobile $all widgets should not be displayed in the states palette"
State from the $all widgets of the mobile meta data are in the states palette the states palette should only show the states from the individual widgets in the meta data

[2012-07-18 22:08] billreed63 opened #2786 "disable property missing from widget specific for dojox.mobile.Button"
dojox.mobile.Button supports disable but it is not available in the properties palette

[2012-07-18 22:10] JonFerraiolo commented on #2140
Downgrading to M7/Prio-Med, really want this, but won't stop shipping.

[2012-07-18 22:12] JonFerraiolo commented on #2131
Downgraded to M7/Prio-Med: we won't stop shipping if TreeGrid isn't there yet.

[2012-07-18 22:13] JonFerraiolo commented on #2130
Downgraded to M7/Prio-Med because we won't hold up the release for TreeGrid.

[2012-07-18 22:19] JonFerraiolo commented on #2116
Reassigned to me. I'm actively working on it.

[2012-07-18 22:19] JonFerraiolo commented on #2114
I upgraded to M7/Prio-High. Isn't the spam problem one of the top priority problems we have?

[2012-07-18 22:41] JonFerraiolo commented on #2267
Lowered to Prio-Med.

[2012-07-18 22:45] JonFerraiolo commented on #2225
-> @peller

[2012-07-18 22:51] JonFerraiolo commented on #2377
Changed to M7/Prio-High. That makes sense, right?

[2012-07-18 23:04] JonFerraiolo commented on #2444
Downgrading to Prio-Med, really want this, but won't stop shipping.

[2012-07-18 23:09] JonFerraiolo commented on #2420
-> @billreed63

[2012-07-18 23:33] JonFerraiolo commented on #2630
Updated to Prio-High. If description is accurate, we need to get to the bottom of this.

[2012-07-18 23:41] JonFerraiolo commented on #2691
-> @aerwin (had been unassigned) - ok to pass onto someone else

[2012-07-18 23:55] JonFerraiolo commented on #2720
-> @jhpedemonte (wasn't assigned to anyone) - maybe push to M8?

[2012-07-19 00:20] #2650 closed, assigned to JonFerraiolo

[2012-07-19 00:22] JonFerraiolo commented on #2175
Downgrading to M7/Prio-Med. This is dependent on rewriting the widgets palette, which is currently unlikely for M7.

[2012-07-19 01:23] aerwin opened #2787 "Parse errors if change properties on GridX"
--> @aerwin
1. New HTML file
2. Drag and drop GridX onto page
3. Change property (like ID) using Props Palette
4. Parse errors if preview or look at source

Looking at the source, the "store" in `data-dojo-props` has become blank.

[code]

[2012-07-19 01:27] rbackhouse commented on #2784
It appears to work in chrome but not safari or firefox. I'll take a look

[2012-07-19 01:33] rbackhouse commented on #2784
I take that back. It works on all 3 browsers but only if I first load the file via the main maqetta page. If I just copy the preview URL to a freshly opened browser this path is not taken.

[2012-07-19 01:43] rbackhouse commented on #2784
It seems to be a timing issue. The hook is getting set sometimes after parseOnLoad has already been processed.

[2012-07-19 01:47] aerwin opened #2788 "New app.js doesn't work very well"
@peller

It looks like 0ad21b2f40131f7c860f6d6e9e630ea5f76e4e1f changed app.js to use dom/ready!. However, when I tried to put some sample app.js code I had put together for a Google groups user, things no longer worked...

So, instead of :

[code]

I think it needs to be the following if we want users to be able to look up dijit's (making use of `dojo/ready` and the `ready` function:

[code]

Doi

[2012-07-19 02:49] peller commented on #2788
dojo/ready is deprecated.  dojo/domReady! is supposed to be better...  maybe it's not?

[2012-07-19 02:57] aerwin commented on #2788
When was it deprecated?

http://dojotoolkit.org/reference-guide/1.7/dojo/domReady.html#dojo-domready says:

[code]

[2012-07-19 03:13] peller commented on #2788
You're right, Tony.  The docs for `dojo/ready` suggest that it has been (mostly) replaced by `dojo/domReady!`, but there are some big exceptions for dijit, in particular, knowing when the parser has run.  Proceed with your change.  Thanks!

[2012-07-19 03:14] peller commented on #2630
Does not seem to be 1.8-related.  back to @JonFerraiolo

[2012-07-19 03:26] JonFerraiolo commented on #2630
Problem is that SelectTool.js, when receiving mousedown on top of a selected widget, is putting an overlay DIV on top of the entire TabContainer in preparation for a possible drag operation. This overlay DIV presents mouseup/over/out/etc events from happening on widgets that happens to be under mouse during drag operation.

The above approach works fine except for those special-case widgets like T

[2012-07-19 05:05] aerwin opened #2789 "Can't select all in smart input with keyboard (e.g., Cmd-A)"
@doronrosenberg

I'm on Chrome on Mac... I was sure this used to work, so not sure if recent keyboard handling changes would have impacted this or not...

Seems to be across the board with smart input, but here's the scenario I first noticed it in:
1. New mobile file
2. Drag View onto page
3. Drag EdgeToEdgeDataList onto page
4. Smart input comes up
5. I want to replace everything with something o

[2012-07-19 05:12] peller commented on #2635
regressed here: 10a060469480ad6d3b8cf62b086da1aca19225d6 due to a change which surfaced errors which were getting swallowed.  It seems that the results from CloneTheme was an array of two undefined values.  Not sure why it isn't two empty strings, which I think is what the puts are actually returning.  Anyway, it was the test `!results[x][0]` which was causing the exception.  Skip that test, and t

[2012-07-19 05:27] #2787 closed, assigned to aerwin

[2012-07-19 05:39] #2788 closed, assigned to aerwin

[2012-07-19 13:48] billreed63 opened #2790 "disable property missing from widget specific for dojox.mobile.ToggleButton"

[2012-07-19 13:58] jhpedemonte commented on #2070
@childsb, can you please check if Orion supports anything along these lines?  I know we can enable HTTPS access, but not sure about using SSL for the emails it sends out.

[2012-07-19 15:17] rbackhouse commented on #2766
It looks like gridx is being built via the dojo builder and that is what is being used in built version. Just like Dojo Zazl requires the gridx code to be available in src form for it to be able to analyze correctly.

[2012-07-19 16:26] childsb commented on #1065
i can't reproduce, closing.

[2012-07-19 16:26] #1065 closed, assigned to childsb

[2012-07-19 16:47] #2785 closed, assigned to billreed63

[2012-07-19 16:58] billreed63 commented on #2633
fixed by above commits

[2012-07-19 16:58] #2633 closed, assigned to billreed63

[2012-07-19 17:11] aerwin commented on #2709
Marking closed with above commit.

[2012-07-19 17:13] aerwin commented on #2663
@JonFerraiolo

With the fix that just went in for #2709, I think this issue disappears. In particular, I believe this because I made `border-collapse` default to "collapse".

So, I'm going to close this one. If you disagree, please reopen.

[2012-07-19 17:13] #2663 closed, assigned to aerwin

[2012-07-19 18:30] JonFerraiolo commented on #2655
I'm seeing the same jiggling in Dojo's own test files (i.e., Maqetta not involved). Go to http://dojotoolkit.org/reference-guide/1.7/dijit/Toolbar.html and try running the "Declarative example". I'm also seeing the same thing when running Dojo 1.8 toolbar tests from localhost (http://localhost/.../dojo18beta/dijit/tests/test_Toolbar.html). So, something changed in Chrome that makes Dojo toolbars j

[2012-07-19 18:37] JonFerraiolo commented on #2655
Yep, that's it. In debugger, I changed the value of `-webkit-transition-duration` on `.claro .dijitToolbar .dijitButton .dijitButtonNode` and the jiggling went away.

[2012-07-19 18:45] #2762 closed, assigned to childsb

[2012-07-19 18:47] #2564 closed, assigned to childsb

[2012-07-19 19:15] peller commented on #2655
created a [Dojo ticket](http://bugs.dojotoolkit.org/ticket/15723)

[2012-07-19 20:48] doronrosenberg opened #2791 "Add support for dojox.mobile.FixedSplitter"

[2012-07-19 20:48] #2791 closed, assigned to doronrosenberg

[2012-07-19 21:23] doronrosenberg opened #2792 "Move CSS parsing to CSSParser"
@jhpedemonte @JonFerraiolo

Currently we have places in the code that parses CSS by splitting on `;` - for #2791 I changed CSSParser to support it.

So if you want to parse say "width:100px;height:100px" you can do this:

[code]

[2012-07-19 21:27] #2786 closed, assigned to doronrosenberg

[2012-07-19 21:27] #2790 closed, assigned to doronrosenberg

[2012-07-19 21:33] doronrosenberg commented on #2789
This exists on Maqetta.org as well, and chrome only. Works fine on Firefox.

[2012-07-19 22:03] jhpedemonte commented on #2792
Can you list known places where this should be changed?  At least so we know what to look for, in order to make the changes.

-> M8/Med/Sev3 for now

[2012-07-19 22:08] jhpedemonte commented on #2655
So if I'm reading the Dojo ticket correctly, then the fix should be in for Dojo 1.8.  Can we remove these commits when we move up to 1.8 final?

[2012-07-19 22:18] jhpedemonte commented on #543
We are now using the Orion login screen, which is different than what we had previously:

![orion login screen](http://i.imgur.com/bayG5.png)

Although, it could be massaged to resemble the image that Janet posted...

[2012-07-20 00:39] JonFerraiolo commented on #2655
por supuesto

[2012-07-20 00:40] JonFerraiolo commented on #2792
widget.js: parseStyleValues() for one.

[2012-07-20 01:02] doronrosenberg commented on #2792
I would mark this low, the code we have right now is decent enough

[2012-07-20 02:49] peller commented on #2655
@jhpedemonte yes, that patch should actually be in 1.8.0rc1, which I just added to the build.

With that _and_ Jon's fix, I'm still seeing the jiggle.  Is it just me?

[2012-07-20 14:29] JonFerraiolo commented on #2655
I just did a "git pull" and I don't see any jiggling on Mac/Chrome.

[2012-07-20 14:35] JonFerraiolo opened #2793 "HTML5 pasting images from clipboard"
@peller @billreed63 @aerwin @doronrosenberg

It is now possible to paste images from clipboard on Chrome and Firefox. Presumably Safari will get this too once they ship with a new WebKit. IE10 doesn't have this yet.

I expect that in addition to writing the code, there will be a number of UI issues around supporting this feature. In particular, I believe Maqetta has its own internal clipboard. The

[2012-07-20 16:00] JonFerraiolo commented on #2180
@doronrosenberg - what is the exact scenario (or scenarios) where the current UI is falling short? What widget in particular did you want to drop and what exactly did you want to happen? For example, were you trying to drop a Heading or TabBar and place it just before or just after a ScrollableView? For example, were you trying to create the following:

[code]

[2012-07-20 16:32] billreed63 opened #2794 "CSSParser CSSModel does not support pseudo-classes correctly"
If a selector has a pseudo-classes in the middle of the selector

[code]

When the `rule.getSelectorText();` is called the returned text is

[code]

Do to this issue we can't set some selectors in the CSS like dijit.calendar

[2012-07-20 16:34] doronrosenberg commented on #2180
@JonFerraiolo correct, I wanted to place a widget before/after a widget that takes over the entire screen.  Say you want 3 ScrollableViews and a Tabbar underneath - adding the tabbar after adding all 3 views requires going into the outline view and manually moving it.

[2012-07-20 16:53] JonFerraiolo commented on #2794
-> @billreed63 hope that's OK. At the moment, you are in best position to address this.

[2012-07-20 16:56] JonFerraiolo commented on #2180
OK, thanks. I would say the most important thing is providing a good UI experience for adding header and footer elements. My best idea so far is to add some special-case logic to Maqetta's drag/drop logic (from widget palette to canvas) for particular widgets (probably Heading and TabBar: with 'fixed') such that when dragging near top of bottom, we give visual feedback to user that drop will go in

[2012-07-20 18:23] peller opened #2795 "Use core.client version of Dojo to build metadata"
Right now this isn't an issue, since we're using the same version of Dojo throughout, but it looks like in the widgetPluginDojoBuild.xml script, the dojo directory from the library is used (could be wrong).  The metadata and helpers should be built against the Dojo image used by the workbench.

[2012-07-20 18:30] peller commented on #2795
nevermind.  I missed the backup step.  Looks right.

[2012-07-20 18:30] #2795 closed, assigned to aerwin