[2012-08-17 15:13] doronrosenberg commented on #2839
@peller You seem to have fixed when you fixed the other focus bug (fac9b150b1d0d8471888051d96cac3770fb9e373)

[2012-08-17 15:13] #2839 closed, assigned to doronrosenberg

[2012-08-17 15:29] doronrosenberg opened #2989 "Outline - src editor changes doesn't refresh outline"

[2012-08-17 15:44] doronrosenberg commented on #2989
@peller You know the source editor, do you know where the code lies that updates widgets in the VE after changes have been made to the source?

[2012-08-17 15:59] peller commented on #2989
in `davinci/ui/Editor`, `handleChange` is called from the `onTextChanged` method.  That method is bound to `_srcChanged` in `davinci/ve/PageEditor` which calls `VisualEditor.setContent`...

[2012-08-17 16:01] billreed63 opened #2990 "Allow toolkits to extend depend toolkits widgets"
Toolkits should have the ability to extend the behavior of a depended toolkits widget.

Lets say I am the providers of Toolkit X . my toolkit has widgets that leverage widgets from anther toolkit for example the dojo toolkit.. My toolkit has a widget `x.menuContiner` this widget can have children widgets of  dijit.PopupMenuBarItem.
The current implementation of the package.json  `allowedParent/all

[2012-08-17 16:02] painbank opened #2991 "GridX combined with States/Scenes seems to not show all rows"
I am trying to follow this sample shown here for getting a GridX page to work.

https://www.ibm.com/developerworks/mydeveloperworks/blogs/MaqettaAuthoring/entry/adding_custom_javascript3?lang=en

This works fine on a single smaple page.

When I move to a scene page, it doesn't seem to want to show the additional rows of data.  The column headers display and change names on the dojo/ready function

[2012-08-17 16:16] JonFerraiolo commented on #2991
-> @aerwin

[2012-08-17 16:20] billreed63 commented on #2990
The package.json file contains a dependencies for toolkits

[code]

We could add  `extends`  object  to include what widgets in the depended toolkit are being extended and use a mixin approach to modify the base toolkits widget definition. Something like:

[code]

So that after toolkit x is loaded `dijit.PopupMenuBarItem` would functionally have the following `allowedParent=dijit.MenuBar, x.menuCo

[2012-08-17 16:21] billreed63 commented on #2990
@JonFerraiolo @jhpedemonte

[2012-08-17 16:26] painbank commented on #2991
when I add a height:22 to the css for the <div class="gridxHeaderRow"....

this resizes the header and now once I get a refresh on the page, I can see the data rows.  btw, I could not see these bfore this.  Since this DOM div element is generated by the widget library at run time, I cannot see where else to add it.  Perhaps attaching it as it's own css property class.

also, the gridx widget is no

[2012-08-17 16:52] #2989 closed, assigned to doronrosenberg

[2012-08-17 17:04] #2961 closed, assigned to billreed63

[2012-08-17 17:17] billreed63 commented on #2985
The user can modify the theme CSS files from the page designer using  cascade in the properties palette. If they do not save the changes when they switch to a different theme the working copy of the CSS files for the old theme will be removed if they where the only reference holder.

[2012-08-17 17:21] JonFerraiolo commented on #2988
-> @jhpedemonte

@peller @aerwin @billreed63

I set some breakpoints. I believe the problem is that we are loading the Dojo library metadata (and callbacks.js) at least twice instead of just once. When running from Eclipse, the timing tends to be that we do the N-times processing of callbacks.js (and the $callbacks property) before we invoke the `invokeCallbacks` routine for onDocInit. However, wh

[2012-08-17 17:23] JonFerraiolo commented on #2984
Fixed by checkins I did last night.

[2012-08-17 17:23] #2984 closed, assigned to JonFerraiolo

[2012-08-17 17:36] JonFerraiolo commented on #2986
I was able to reproduce in last night's build using Mac/FF, I think I know what causes the bug, and I believe this was fixed by 7d3187ccf2f0012fa667d27d776c7385d293bfa7. Not closing yet, though. I'll wait until the next build is available to see if it is fixed there.

[2012-08-17 17:37] JonFerraiolo commented on #2947
I believe I have implemented hover and push feedback for everything except the left-side buttons (cut, copy, paste, undo, redo, delete). I broke something with those icons, and I hope to fix that shortly.

[2012-08-17 17:49] #2947 closed, assigned to JonFerraiolo

[2012-08-17 17:57] JonFerraiolo commented on #2900
Pushing this to M8.

There is now a gray gradient around the user canvas - only 1px of white that isn't part of the actual user's page, so we've taken care of one of the usability issues now.

Yes, we want to allow area select to extend outside of the user's iframe, but as you can imagine, that's must easier said than done. It's probably a couple of days of work, and somewhat risky.

[2012-08-17 18:13] #2987 closed, assigned to peller

[2012-08-17 18:14] peller commented on #2987
Calling the global 'require' on a window reference wasn't valid.  I think this would only fail for Zazl, which has its own require.  "require" references are supposed to be passed in to the module... not sure how this would be done properly for Dojo 2.0.

[2012-08-17 18:34] aerwin commented on #2991
@painbank

Hi... could you be more specific about what you mean by "When I move to a scene page, it doesn't seem to want to show the additional rows of data. "? Maybe include a sample of what you're doing?

[2012-08-17 19:00] #2848 closed, assigned to JonFerraiolo

[2012-08-17 19:23] aerwin commented on #2433
Quick follow-up... things aren't quite as bad as I thought... my working sets got out of whack in my Eclipse search and I was looking at code from the dojo_1_7 plugin (rather than dojo_1_8). So, I we're no longer talking about a bunch of messed up `CreateTool` subclasses.

[2012-08-17 19:23] JonFerraiolo commented on #2962
Yes, I extended Workbench.js and our *plug.js files this summer to support submenus on DropDownButton and ComboButton. We could take a similar approach for submenus. It's probably a day's worth of work and probably involves about 20-50 new lines of new code in Workbench.js. IMO, that's out of bounds for the testing sprint in M7, but clearly something we could do for M8.

[2012-08-17 19:24] JonFerraiolo commented on #2962
I'm pushing to M8 because the worst part of this issue has been resolved and I expect people will agree that we should be avoiding new features during the final testing sprint for a particular milestone.

[2012-08-17 19:41] peller commented on #2988
see #2955

[2012-08-17 19:42] peller commented on #2955
is this related to #2690?  Where are we loading callbacks as a module, as opposed to the xhr+eval in metadata.js?

[2012-08-17 19:56] painbank commented on #2991
composite of the states.  The Home state doesn't have the GridX shown, so when you go to a new state, it should show.  side note, the proper of the GridX works inside the Editor, but doesn't not when deployed to web server.

http://imagepaste.nullnetwork.net/viewimage.php?id=4702

[2012-08-17 20:52] doronrosenberg commented on #2504
@JonFerraiolo @jhpedemonte

Should changing the default update the VE to show it selected? Seems to me it should but unclear if we should

[2012-08-17 21:17] #2985 closed, assigned to billreed63

[2012-08-17 23:24] doronrosenberg commented on #2971
Same error happened to me with Sample1.html

[2012-08-18 00:32] #2826 closed, assigned to JonFerraiolo

[2012-08-18 14:03] JonFerraiolo commented on #2986
Tested with new build and I don't see the problem anymore. Closing.

[2012-08-18 14:03] #2986 closed, assigned to JonFerraiolo

[2012-08-18 14:26] JonFerraiolo commented on #2979
@jinsil @jmockler

I went through the widgets to double-check the list provided by @jhpedemonte and I believe his list is correct.

I went through the existing widgets to see which existing widget icons we could reuse. Here is my assessment:
- **SearchBox** - we could re-use the widget icon from "Search" from the ClipArt section
- **GridLayout** -  best to have a new icon (maybe a variation of the

[2012-08-18 15:22] #2952 closed, assigned to JonFerraiolo

[2012-08-18 15:27] JonFerraiolo commented on #2800
@jmockler and @jinsil - Note that all our dialogs right now are styled using claro defaults. I'm pretty sure we will want to restyle our dialogs to have a grayscale look like the new UI for the main application (and maybe that's the best time to change styling on Cancel buttons).

I know we've talked about this before, and sorry for asking again, but how should we style Cancel buttons on dialogs,

[2012-08-18 15:28] JonFerraiolo commented on #2630
@aerwin - can you grab this bug?

[2012-08-18 15:30] JonFerraiolo commented on #2861
I believe I've done the majority of pixel tweaking. I expect there will be one more round of careful review followed by fixes.

[2012-08-18 16:12] JonFerraiolo opened #2992 "Icons for flow vs absolute?"
@jinsil @jmockler

Do we have icons for the flow-vs-absolute dropdown menu? I searched my hard disk and I couldn't find any image files that matched the name "_abs_".

We could use the old flow icon, but we need to find an icon for the absolute menu item on the dropdown menu.

[2012-08-18 16:12] aerwin commented on #2630
--> @aerwin

[2012-08-18 16:14] #2854 closed, assigned to JonFerraiolo

[2012-08-18 16:25] aerwin commented on #2877
Closing with above commit.

[2012-08-18 16:25] #2877 closed, assigned to aerwin

[2012-08-18 16:57] aerwin commented on #2367
-> Changing title of issue based on discussion below

In looking at this, I don't think there's anything GridX specific going on here. Or, if there are grid specific problems, more global problems need to be solved first.

In short, I tried a sampling of widgets where I'd cut from one page and try and paste into another. I found the following work:
- Dojo Button
- HTML widgets

Other than that, I

[2012-08-18 17:35] aerwin commented on #2991
-> Making Prio High (and setting other relevant tags) so gets investigated/assessed during M7

@painbank

Does this sound roughly like your scenario?
1. New HTML page
2. Create new state called "Grid"
3. Drag 2 Dojo buttons onto canvas
4. Drag GridX onto canvas and click Finish on page
5. In Events, choose Normal:State for onclick of first button
6. In Events, choose Grid:State for onclick of seco

[2012-08-18 20:08] #2437 closed, assigned to JonFerraiolo

[2012-08-18 20:24] aerwin commented on #2940
So, I've determined there's no real problem in Maqetta code. It seems that the RAD page editor is interpreting an atrribute setting like `disabled="false"` to mean to render the item as disabled.

I've alerted the RAD team to the problem. In addition, with commit fe972f48155be1c9ac4ca3a54f5f67e0b4dfbead , I've removed extraneous attributes like that from HTML elements samples so they work in RAD "

[2012-08-18 20:24] #2940 closed, assigned to aerwin

[2012-08-18 20:25] JonFerraiolo commented on #1807
Given the @JonFerraiolo UPDATE comments above, closing this bug. Everything listed here either has been addressed, won't ever be addressed, or has a separate issue already.

[2012-08-18 20:25] #1807 closed, assigned to JonFerraiolo

[2012-08-18 20:28] aerwin commented on #2940
Oh yeah... I was also worried that #2734 would cause `disabled="false"` to come back on any button in Maqetta if the user changes properties of the button in the widget palette. But, it doesn't seem to get written out any more).

[2012-08-18 21:46] JonFerraiolo commented on #1798
Note: the above commit is in the METAUnclosed branch.

[2012-08-18 22:29] JonFerraiolo commented on #2531
@billreed63 @peller

-> M8

The commit referenced above (in the METAUnclosed branch) seems to fix the worst parts of the problem, and might be all we can do without major reconstruction (or replacement) of our current HTML parser. But even this partial fix is too risky for this late in the M7 cycle, so pushing this bug to M8.

To explain a bit what's going on, with our current code, if you enter t

[2012-08-18 22:31] JonFerraiolo commented on #1798
@peller

-> M8

The latest code in the METAUnclosed branch might address this issue and maybe doesn't have bad side-effects, but it's too late in the M7 cycle for such a risky fix, so pushing to M8.

[2012-08-18 22:59] JonFerraiolo commented on #2905
I'm not getting an exception using last night's daily build even though I have Win/FF set to break on all errors, but I am seeing messages in the console. The messages in the console reflect a bug that I fixed earlier today with 6f7aaf9d.

So, there is a good chance I have fixed this issue, but leaving this open for now, waiting for tomorrow's build to see if the console messages go away.

[2012-08-18 23:01] JonFerraiolo opened #2993 "Test plan for nested states"

[2012-08-18 23:04] JonFerraiolo commented on #2248
@jhpedemonte @billreed63

Pushing to M8 for time being. No way we can do major reconstruction on our parsers at this late stage in M7 cycle.

Note that I have some bandaid fixes in the METAUnclosed branch (for M8) that takes care of situation mentioned by @peller above for the relatively common case of users putting unclosed elements such as META in the HEAD, and also unclosed BR and HR in the BOD

[2012-08-18 23:12] JonFerraiolo commented on #2814
@billreed63

Investigated this a bit. Two problems I see here:
1. Regression described in this bug. Cascade.js doesn't seem to be taking current state into account when showing the current property value.
2. Changing state causes current selection to go away.

[2012-08-18 23:36] aerwin opened #2994 "Restore auto-complete in review wizard 3rd panel"
--> @aerwin

Once upon a time,  there was auto-complete of user names on the 3rd panel of the New Review wizard/dialog. We should re-enable that.

[2012-08-19 14:39] JonFerraiolo opened #2995 "Session timeout logic not working"
@childsb @peller

I've been testing, taking a break, then returning to test some more, and the session has timed out, but I'm not seeing the "session timeout" user interface with the link back to the login page in all of the same situations as we had for M6. Three likely suspects:
1. Orion server isn't providing the same info that our previous server did
2. Our new async logic is confusing the che

[2012-08-19 14:53] #2814 closed, assigned to JonFerraiolo

[2012-08-19 14:57] JonFerraiolo commented on #2905
I tested on last night's build and can't reproduce.

@billreed63: sending this issue to you for you to test and see if the problem has gone away. If so, please close.

[2012-08-19 17:15] #2603 closed, assigned to JonFerraiolo

[2012-08-19 17:55] JonFerraiolo commented on #2504
I'm not sure either. My gut instincts is that it would be OK either way, but safer anbd better to not automatically update the widget to show the initial state upon changing the initial state value.

[2012-08-19 18:01] JonFerraiolo commented on #1052
My view -

if:
- dojox.layout.ContentPane is a strict and thin extension of dijit.layout.ContentPane
- dojox.layout.ContentPane automatically deals with the `require` requirements for placed/referenced content

then:
- we should replace our current support for dijit.layout.ContentPane with dojox.layout.ContentPane (i.e., there is only one ContentPane in the product, and it is the dojox version)
-

[2012-08-19 22:05] aerwin commented on #2894
@peller @childsb

-> Prio High
-> Changing title to "Need strategy for showing user id as displayable name in Maqetta UI (when one doesn't exist)"

We've got a number of places where the result of person.getUserID() (in server side code) is to build strings that are shown to the user in one form or another:
- E-mail invitation mentioned by @peller
- Toaster when hover over review

![screenshot](ht

[2012-08-19 22:27] aerwin commented on #2994
Closing with above commit.

[2012-08-19 22:27] #2994 closed, assigned to aerwin

[2012-08-20 00:08] JonFerraiolo opened #2996 "Double-click on selection chrome doesn't bring up SmartInput"
This used to work in M6

[2012-08-20 04:52] aerwin commented on #2895
Closing with above commit.

[2012-08-20 04:52] #2895 closed, assigned to aerwin

[2012-08-20 04:53] aerwin commented on #2433
Hopefully fixed with above commit.

[2012-08-20 05:31] aerwin opened #2997 "DEL doesn't delete selected widget"
@doronrosenberg

Using Chrome on Mac...
1. Create new HTML file
2. Drag Button onto canvas
3. Hit DEL and nothing happens

[2012-08-20 05:40] aerwin commented on #1519
@JonFerraiolo
- BTW, I don't think any of this is working now (not even the DEL or BS key). Using Chrome on Mac, if I select the annotation (and focus is clearly in the editor), then if I hit DEL I get the browser dialog asking me if I'm sure I want to navigate away from the page.

@JonFerraiolo @jmockler

Thoughts here? I'm guessing with the new UI design settling as it is that there should be an

[2012-08-20 05:44] aerwin opened #2998 "Cmd-V doesn't paste widget (but Cmd-C/Cmd-X copy/cut)"
@doronrosenberg

Using Chrome on Mac...
1. New HTML file
2. Drag button onto page
3. Cmd X to cut button
4. Hit Cmd-V and nothing happens (despite it looking like "M1+V" is specified as the `keySequence` for paste in `ve.plugin.js`

[2012-08-20 12:53] jinsil commented on #2800
We can make Create button : bold , Cancel : normal. But I also Iike the idea above too-Create : blue, Cancel: white.

[2012-08-20 14:08] peller commented on #2433
see also #2935

[2012-08-20 14:34] JonFerraiolo commented on #2800
@jinsil Thanks. I would vote for using **boldness** to identify the default action button for the short-term, and then within next few months talk about restyling dialogs away from claro's blue tint into something more grayscale that matches the application's main UI. Making non-default buttons have a white background is too radical a change for one particular aspect of the UI, whereas everything

[2012-08-20 14:45] jinsil commented on #2800
The bold text can be class name "primary" for now...

[2012-08-20 14:57] #2997 closed, assigned to doronrosenberg

[2012-08-20 15:03] #2998 closed, assigned to doronrosenberg

[2012-08-20 15:06] doronrosenberg commented on #2923
@jhpedemonte moving to m8

[2012-08-20 15:15] doronrosenberg commented on #2401
@JonFerraiolo @jhpedemonte -> M8

[2012-08-20 15:16] doronrosenberg commented on #2789
@jhpedemonte @JonFerraiolo -> m8

[2012-08-20 15:16] doronrosenberg commented on #2904
@JonFerraiolo @jhpedemonte need to decide on this for m7

[2012-08-20 15:17] #2960 closed, assigned to doronrosenberg

[2012-08-20 15:22] #2943 closed, assigned to doronrosenberg

[2012-08-20 15:25] JonFerraiolo commented on #2800
-> @doronrosenberg

[2012-08-20 15:47] peller commented on #1052
-> M8 for @JonFerraiolo to think about
- dojox.layout.ContentPane is heavier and the basic dijit ContentPane widget would still be in use, but perhaps we could label them differently in the palette.
- Note that dojox.layout.ContentPane is still read-only and will not provide a full-blown compound editing model.  Minimally, we will need to make sure the widgets instantiated within the ContentPane d

[2012-08-20 15:48] JonFerraiolo commented on #2789
@billreed63

Looking ahead to a possible fix in M8, would ToolTipDialog preserve all of the same look and behaviors that we have now with SmartInput? Note that SmartInput is draggable. You can put the mouse over the OK/Cancel area at the bottom and move it around, at which point the triangle pointy icon at the top becomes invisible.

[2012-08-20 15:51] JonFerraiolo commented on #2923
for time being, reassigning to me for M7 Prio-Med to see if there is something I can do that is reasonably safe and effective. The current expand/collapse behavior is annoying.

[2012-08-20 16:15] aerwin commented on #2698
Closing with above commit.

[2012-08-20 16:15] #2698 closed, assigned to aerwin

[2012-08-20 16:28] #2623 closed, assigned to doronrosenberg

[2012-08-20 16:45] JonFerraiolo opened #2999 "Design toolbar button not depressed upon first opening page editor"

[2012-08-20 17:09] JonFerraiolo opened #3000 "UI issues with table icon on toolbar"
@jinsil @jmockler @aerwin @jhpedemonte

Right now, the "table commands" icon on the toolbar appears always, but the elements on its dropdown menu are disabled unless the current selection is a table cell widget. @jinsil suggested the following:

[code]

Note that the above suggestion has some performance implications. With each "update toolbar" function call, we would have to traverse the document

[2012-08-20 17:18] billreed63 commented on #2995
With Maqetta stand alone server we set the `MaxInactiveInterval` in Login.java and Tryit.java

[code]

by default the time is set to 60 minutes
The client UserActivityMonitor retrieves this value by calling the KeepAlive command

[code]

With the orion maqetta. Login.java is not called so we are not setting the `MaxInactiveInterval`  with the `IDavinciServerConstants.SESSION_TIMEOUT`
value. It is

[2012-08-20 17:19] #1512 closed, assigned to childsb

[2012-08-20 17:20] childsb commented on #2912
since we're not shipping the maqetta.multi user (only orion) i'm lowering priority.

[2012-08-20 17:44] childsb commented on #2959
I removed the base developer setup and merged them into one:

https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup

[2012-08-20 18:18] JonFerraiolo opened #3001 "More menu icons"
@jinsil @jmockler

Per discussion today, we need some more menu icons. Here is a list:

Table commands:
- Select table
- Select column
- Insert column after
- Insert column before
- Remove column
- Select row
- Insert row after
- Insert row before
- Remove row

Depending on #3000, we might also need:
- Insert table

Document settings menu:
- Select parent
- Select ancestor
- Unselect all
- Move to

[2012-08-20 19:06] jhpedemonte commented on #2978
Renaming issue, since it doesn't have anything to do with R&C.  I still see this, even after above commits.

[2012-08-20 20:02] billreed63 commented on #2995
The timeout value needs to be set to a lower value on the server
-> @childsb

[2012-08-20 20:13] billreed63 commented on #2905
still seeing the error on my development environment on chrome/win 7 but I do not see it on http://maqetta-app-test.austin.ibm.com/maqetta/
Seems very strange to see it development version but not on the built version. Must be some thing in my enviroment

[2012-08-20 20:13] #2905 closed, assigned to billreed63

[2012-08-20 20:38] jhpedemonte opened #3002 "metadata.init() called twice"
The `init()` function from **metadata.js** is called twice:  once in Workbench.js, then later in EditorContainer.js.  This results in the init routine being run twice, which is unnecessary.

@JonFerraiolo added the call to EditorContainer.js to ensure that the action sets from the HTML library were properly added.  Before adding that, sometimes the table commands wouldn't show up in the UI.

Propo

[2012-08-20 20:55] JonFerraiolo opened #3003 "Exception during autosave of empty editor"
Prio-High just to investigate. I'll bet we had the same problem in M6. Only fix if easy and safe.

I'm not sure if this is completely reproducible, but logging anyway before I forget:
- New Maqetta browser session with no editors open
- New desktop app, drag/drop a Button onto page
- New CSS file, but don't enter any text into the source editor
- Click on HTML file tab to make it current
- Refresh

[2012-08-20 21:00] #2936 closed, assigned to childsb

[2012-08-20 21:04] childsb commented on #2894
I did a refactoring such that userID = unique/generated and not actually the username (or email).  This was to support Orion's userID scheme.

A couple options--

I could add a Workbench.getUserName(...) or something to be used in the UI.  Then you could go back and use that call instead of getUserId(..) wherever its needed

Or you can just remove anything that references getUserId(...) and use on

[2012-08-20 21:10] childsb commented on #2995
I'm not sure where this is set in Orion.  It's not going through our login/logoff command anymore though, and probably out of our reach.

[2012-08-20 21:12] peller commented on #3002
I prefer a more explicit approach of wiring up the deferreds so that there is only one call to init() and that we don't encourage multiple calls, but I don't understand the situation here and exactly how the second piece of code is getting called

[2012-08-20 21:25] JonFerraiolo opened #3004 "Move flow/abs toolbar update logic into action classes"
@billreed63

The logic to update the toolbar text for the flow-vs-absolute dropdown button is currently in PageEditor.js. For cleanliness and robustness, it needs to be moved to action classes like what I did with ve/View{Design,Source,etc)Action.js. Those action classes make sure that the toolbar gets updated based on current state of the application.

[2012-08-20 21:26] #2999 closed, assigned to JonFerraiolo

[2012-08-20 21:27] doronrosenberg commented on #2852
Still some issues left.

Need to change the logic of resize.  Resize logic should go into an _resize.  Resize calls it and then checks if the dialog was shrunk by dojo.  If so, resize again using new coords.

[2012-08-20 21:28] #3002 closed, assigned to jhpedemonte

[2012-08-20 21:29] jhpedemonte commented on #3002
Turns out the 2nd `metadata.init()` call was unnecessary, since it was further down in the stack of when the first `init()` in called in Workbench.js.

[2012-08-20 21:30] #2718 closed, assigned to jhpedemonte

[2012-08-20 21:38] aerwin commented on #2894
@childsb @JonFerraiolo @jhpedemonte

What would this return? I'm assuming you would add an equivalent on the server side too?

So, guess I'd like agreement from the group that we're OK with Orion driving that we stop ever showing both a user name and an e-mail in the UI and just always use e-mail from here on out.

[2012-08-20 21:49] jhpedemonte commented on #2941
OK, now that builds are back to normal, I tested this against one of the latest builds.  But Zazl still doesn't seem to be working.  I don't see anything Zazl related in the Network panel when loading a Preview page.

[2012-08-20 21:57] peller commented on #2894
Can/should Orion provide us with a "real" name along with an e-mail?  I'm totally ok with Maqetta getting out of that business.

[2012-08-20 22:22] JonFerraiolo opened #3005 "Welcome page - stretch gradient all the way across"
@jinsil @jmockler

[2012-08-20 22:34] #2996 closed, assigned to JonFerraiolo

[2012-08-20 22:50] JonFerraiolo commented on #2852
@doronrosenberg and @jhpedemonte - Is this fixed or not? It looks like near-simultaneous comments, one from @doronrosenberg saying still some problems left.

[2012-08-21 01:30] JonFerraiolo commented on #2862
@childsb - I only updated maqetta.server.orion.standard and not the other 2 projects. I'm passing #2862 to you. Could you please copy LoginWindow.css and LoginWindow.html to the other 2 projects, and then test to make sure everything is working OK?

Also, when I run from Eclipse (with launch config maqetta orion multi-user) I don't see how to activate the "forgot my password" features on the login

[2012-08-21 01:35] JonFerraiolo commented on #2861
Closing this issue. All remaining pixel tweaking issues are now in separate issues.

[2012-08-21 01:35] #2861 closed, assigned to JonFerraiolo

[2012-08-21 01:38] JonFerraiolo commented on #2473
Pushing the general question of how to do alerts and error notices to M8. Too late to make the changes around a consolidated approach.

[2012-08-21 01:40] peller commented on #2953
Looking at the network panel, at several points during page load, it seems like the server stalls.  Short files take ~10 seconds to load.  Does not seem to be related to network throughput or client processing.

[2012-08-21 01:56] jhpedemonte commented on #2971
Didn't think of this at first, but this has to do with the fact that the `samples` directory is **read-only**.  Hence the error trying to write a file (the _workingcopy_) into that directory.

So how do we handle files in _read-only_ directories?  Currently, the samples files open up with a dirty bit (causing the client trying to save a working copy);  that should be fixed.

Also, I can click on *

[2012-08-21 02:12] doronrosenberg opened #3006 "NewDijit dialog needs to be localized"

[2012-08-21 02:29] #2800 closed, assigned to doronrosenberg

[2012-08-21 02:29] #2852 closed, assigned to doronrosenberg

[2012-08-21 05:18] #2891 closed, assigned to peller

[2012-08-21 06:36] aerwin commented on #2370
-> @aerwin

[2012-08-21 06:43] aerwin commented on #2367
Closing with above commits.

[2012-08-21 06:43] #2367 closed, assigned to aerwin

[2012-08-21 06:49] aerwin opened #3007 "Delete/cut of mobile combo box leaves widgets behind"
@doronrosenberg

While working on #2367, I was going to update `addPasteCreateCommand` in `ComboBoxCreateTool` like I did `TreeCreateTool` and `DataStoreBasedWidgetCreateTool`  to make sure copy/paste of the mobile combo box works across pages. But, I found more fundamental problems. For example, there's no `getRemoveCommand` in `ComboBoxHelper` so delete (and cut) don't work right either (e.g., w

[2012-08-21 07:07] aerwin commented on #2370
Closing with above commit.

[2012-08-21 07:07] #2370 closed, assigned to aerwin

[2012-08-21 14:12] JonFerraiolo commented on #2971
Agreed

[2012-08-21 14:15] painbank commented on #2991
Yes, that is essentially it.  I did try a different demo project, just as you did, but I was unable to repeat it.

[2012-08-21 14:53] peller commented on #2897
Still not seeing the issue, but there is network slowness that in some cases shows delays on the order of 10 seconds per HTTP request #2953

[2012-08-21 14:53] #2897 closed, assigned to peller

[2012-08-21 15:49] jhpedemonte commented on #2941
While I could start a Maqetta+Orion+Zazl build once, subsequent times led to an error.  Also, the first time the server did load, I loaded Maqetta but Zazl did not seem to be working.

-> @peller, cc @rbackhouse

Here's the error, don't know what it means:

[code]

[2012-08-21 15:55] rbackhouse commented on #2941
Is the build available somewhere for me to download and try myself ?

[2012-08-21 16:37] JonFerraiolo commented on #2959
Are you sure? The old page still seems to be there, without any notice about being obsolete:

https://github.com/maqetta/maqetta/wiki/Developer-Setup

Maybe what you are saying is that you removed the link to the above page from the wiki's root page, but it's still accessibility via the "All pages" feature in the wiki. Could you please wipe the content from the old page and add a hyperlink to the

[2012-08-21 16:37] JonFerraiolo commented on #2959
@childsb: Reopened to request the above minor cleanup.

[2012-08-21 16:40] JonFerraiolo opened #3008 "Windows download: no single-user launch scripts"
@jhpedemonte

(Prio-High just to research. Fixes might be lower priority)

I pulled down a recent build from lab9 and I only see the _server_ launch scripts and no _local_ (single-user) launch scripts. However, the nightly builds from http://maqetta.org/nightly have both the _server_ and _local_ launch scripts.

Is there a reason why the lab9 builds don't have _local_ launch scripts?

[2012-08-21 16:43] childsb commented on #2959
i left the old page intact for reference.  do you want it deleted?

[2012-08-21 16:44] jhpedemonte commented on #2971
Added a **tasks** list to summary.

Sending to @doronrosenberg.  Can you please take a look at this one?

[2012-08-21 16:46] jhpedemonte commented on #2348
-> @aerwin, can you take a look at this one?

[2012-08-21 16:46] jhpedemonte commented on #1534
-> @doronrosenberg.  Also see #554.

[2012-08-21 16:46] jhpedemonte commented on #554
-> @doronrosenberg

[2012-08-21 16:47] jhpedemonte commented on #2443
-> @aerwin for now.

[2012-08-21 16:48] JonFerraiolo commented on #2959
How about putting a note at the top telling users to use the new page instead?

[2012-08-21 16:50] childsb commented on #2878
dupe of #2971

[2012-08-21 16:50] #2878 closed, assigned to childsb

[2012-08-21 16:50] jhpedemonte commented on #3008
The Orion builds only come with "server" launch scripts -- no single user any more.

The nightly builds are still non-orion -- I haven't changed how they build yet due to the build issues we've been having lately.  Also, we currently have 6 builds output as part of the maq+orion builds instead of just the one "base" build we had before.

[2012-08-21 17:00] childsb commented on #2447
Hidden for now.

[2012-08-21 17:00] #2447 closed, assigned to childsb

[2012-08-21 17:06] childsb commented on #2959
done! closing.

[2012-08-21 17:06] #2959 closed, assigned to childsb

[2012-08-21 17:11] #3007 closed, assigned to doronrosenberg

[2012-08-21 17:14] jhpedemonte commented on #2990
Had to do things a bit differently, due to the different between doing a **mixin** and a **concat**.

With the above commit, you can add the following metadata to _widgets.json_:

[code]

Under `extend`, specify the shortname for the library you wish to extend.  For each library, list the widget _types_ you wish to extend.  Then it gets interesting.

You can choose to `mixin` or `concat` values:
-

[2012-08-21 17:48] rbackhouse commented on #2941
Javier got me a copy of the build. Thanks

Re: Zazl not starting

This product assembly is using Eclipse P2 to provision instead of a simple config.ini file that details the bundles that are to be activated. P2 is not activating the maqetta.zazl bundle which creates and starts the Zazl servlet and Filter. I'm not much of a P2 expert to know how the maqetta.zazl bundle can be configured to start au

[2012-08-21 18:03] rbackhouse commented on #2941
Its seems that the product file is where the activate bundle configuration needs to be set.

[2012-08-21 18:33] jhpedemonte commented on #2941
@rbackhouse, so you'll take care of renaming the JSON dependency?

@childsb, I'll need help fixing the other things listed above.

[2012-08-21 18:38] JonFerraiolo commented on #2926
Closing. Somehow or other Esc key is working now.

[2012-08-21 18:38] #2926 closed, assigned to JonFerraiolo

[2012-08-21 18:38] rbackhouse commented on #2941
@jhpedemonte, yes, I can take care of that, although it is more intrusive that I had hoped. It will require an update to both the optimizer-release and optimizer-dependencies submodules along with any refs to org.json that are in the maqetta repo. (That includes any releng/eclipse config files etc).

[2012-08-21 18:53] JonFerraiolo commented on #2345
Closing this issue. Dojo 1.8 has fixed the safari/webkit problem listed above. Regarding `getBoundingClientRect`, what Dojo is doing is totally appropriate because most of the time people don't use transforms on their content, and `getBoundingClientRect` is super-fast. With Maqetta, however, we have encountered widgets that do use transforms, and so we have to do our own box model calculations.

[2012-08-21 18:53] #2345 closed, assigned to JonFerraiolo

[2012-08-21 19:19] jhpedemonte commented on #2941
@rbackhouse, great.  Let me know if you need anything from me.  After the rename commit, I can work with @childsb to get the other parts going.

[2012-08-21 19:38] #1534 closed, assigned to doronrosenberg

[2012-08-21 19:53] doronrosenberg commented on #2904
MOving out to m8

[2012-08-21 19:53] #2536 closed, assigned to doronrosenberg

[2012-08-21 20:02] doronrosenberg commented on #2971
@jhpedemonte @JonFerraiolo

I would say we reuse the Save As dialog and add some text to the dialog contents such as "This file is a read-only file.  Please save it to a writeable location."

A better solution is to make the file uneditable, post a message somewhere in the UI and have it show the save as button only, but that is too complicated for m7.

[2012-08-21 20:04] rbackhouse commented on #2941
The changes are committed. I think I got all the product and releng refs to the org.json bundle converted. Note that the new org.json.js project will have to be imported into developers workspaces and the old "org.json" deleted.

[2012-08-21 20:13] jhpedemonte commented on #2971
No, I think it's good to keep it editable, so user can add to/change the sample files.  We just want to add some protection when dealing with read-only directories/files.

Your first option is the way to go, in addition to shutting off the working copy support for read-only files (to prevent errors).

[2012-08-21 20:15] #2454 closed, assigned to billreed63

[2012-08-21 20:40] peller opened #3009 "Remove tests directories from Dojo source submodules"
to make the download smaller

davinci.dojo_1_8/WebContent/dojo-src/
davinci.gridx/WebContent/gridx-src/

I suppose we could run the build tools over the content and compress files without concatenating, as @aerwin has done elsewhere.

@JonFerraiolo @jhpedemonte @childsb

[2012-08-21 21:02] aerwin opened #3010 "R&C: Can't update existing comments"
--> @aerwin

Using Chrome on Mac and standalone driver from Eclipse...
1. New review
2. Add comment and hit submit
3. Edit comment and hit submit and see server side exception:

[code]

[2012-08-21 21:03] peller commented on #3003
Probably related to the delayed initialization logic, in that it's failing to save an editor which has not been instantiated.  However, I think the real problem is that it's trying to save an editor which cannot possibly be dirty, yet in Workbench._autoSave, `editor.isDirty` is true.

[2012-08-21 21:08] JonFerraiolo commented on #1350
OK, I caught up with this old bug.

IMO, the original coder (our buddy Phil) and the subsequent coder (our buddy wayne) were right. The browser treats the content of SCRIPT elements differently than the content of all other elements. SCRIPT elements hold an opaque blog of text content that gets eval'd by the script engine, whereas the content of all other elements is a document fragment that consi

[2012-08-21 21:37] JonFerraiolo opened #3011 "Disable undo/redo from source editor? Under which circumstances?"
@doronrosenberg @jhpedemonte

@peller - When fooling around with the product, the toolbar is visible even when in source editing mode, and in particular the Undo command sometimes is active. Once when I clicked on Undo, I got an exception.

I don't know the source editor code as well as you. Any insights about what we should do about the toolbar commands when in source-only mode or in split view?

[2012-08-21 21:42] JonFerraiolo commented on #1414
Pushing to M8. Too risky to change how the model formats text at this point in the M7 cycle.

One thing I did experiment with is to remove SPAN from the list of tags that should be kept on single lines (HTMLModel.js:_noFormatElements at line 11). Right now we have a bad situation where any widgets that use SPAN extend forever on the same line of source code. We don't do this for LABEL, DIV, P, H1,

[2012-08-21 22:22] peller commented on #3003
@JonFerraiolo while this probably isn't the root of the problem, I'm noticing that for HTML editors, Context._AppStatesActivateActions calls this.editor.visualChanged() when initially setting up the editor, thereby setting the dirty bit on that editor.  Initializing the editor shouldn't trigger that.

[2012-08-21 22:22] JonFerraiolo commented on #2247
I investigated this, and I don't see any big exposures due to our few existing one-off position calculations using offsetLeft/offsetTop, and introducing fixes is risky. Given the reward/risk ratio, I'm pushing to M8.

I did create a new branch (CleanUpOffset) that contains fixes for most of the remaining cases so that we can merge that branch into master at the start of the M8 cycle. The one thing

[2012-08-21 22:40] peller commented on #3003
@childsb

the isDirty bit is set many places.  For the css file, I see it being set twice in the setupEditor() method in EditorContainer, both to true:

[code]

[code]

the modified time is also set, even though no modifications were made

[2012-08-21 23:46] #2971 closed, assigned to doronrosenberg

[2012-08-21 23:47] doronrosenberg commented on #2971
@jhpedemonte is there a bug for the back end work if any is needed?

[2012-08-21 23:51] jhpedemonte commented on #2971
I don't think any server work is necessary.  As long as the two tasks in the summary are handled, then I think we're golden here.

[2012-08-22 00:08] doronrosenberg opened #3012 "No GridX in build"
Lastest test build, no GridX widget is available from the widgets palette.

[2012-08-22 00:34] doronrosenberg opened #3013 "ThemeEditor - changing claro textbox doesn't reflect visually"
Going through Claro Basic ThemeEditor tests.

Changing the following properties of TextBox don't reflect visually in the canvas:
- font-family
- font-weight
- font-size
- text-decoration

Note that reloading the page removed all those settings for the ones that don't work.

Assigning to Jon, not sure who owns ThemeEditor.

[2012-08-22 00:41] doronrosenberg opened #3014 "ThemeEditor - changing selected widget doesn't update font-style"
Related or dupe of #3013
- Create a new claro theme
- Select TextBox
- Change font-style to italic
- Click on Button
- Note that font-style remains on italic.

[2012-08-22 00:47] doronrosenberg opened #3015 "ThemeEditor - Disabled state changes on Button aren't saved"
Might be related/dupe of #3013
- Create a Claro clone.
- Click on Button
- Change font color to red
- See the change applies
- Switch to disabled
- Click on Button again
- Note that it shows green but the color value is the default
- Changing the color to red or anything else doesn't do anything and is lost one you click away.

[2012-08-22 01:02] jhpedemonte commented on #3012
Found the problem.  I'll get a new build going and redeploy.

[2012-08-22 01:06] doronrosenberg opened #3016 "EdgeToEdgeDataList - can't submit after selecting a file"

[2012-08-22 01:14] doronrosenberg commented on #3016
fixed by c3ec19d3a8c07b0831b0758b1b18a6d40e073715

[2012-08-22 01:14] #3016 closed, assigned to doronrosenberg

[2012-08-22 02:31] peller commented on #3003
while it does produce a console error, the exception is caught with no consequences, so I don't think it's worth masking the problems with a null check.  -> M8

[2012-08-22 03:07] JonFerraiolo commented on #3013
-> @billreed63

[2012-08-22 03:30] peller commented on #96
The idea is to connect the mouseup event in the iframe to the dndController in OutlineTree, something like

[code]

probably from Context itself, since OutlineTree is instantiated first.  I got it to fire, but the onMouseUp event did not tear down the avatar.

-> M8

[2012-08-22 03:31] peller commented on #2941
-> @childsb

[2012-08-22 03:34] peller commented on #96
maybe @doronrosenberg might have some ideas here

[2012-08-22 03:36] peller commented on #3011
Right now, undo/redo should be wired up to the visual editor, even when in split mode.  At least in the basic cases, that appears to be working.  The command stack is not wired up to the Orion editor's undo/redo, but keystrokes (ctrl-y/z) are.

[2012-08-22 05:59] aerwin commented on #1519
--> Closing with above commit.

Some notes:
- Added button to CommentForm's toolbar to delete annotation. Decided to add button there (as opposed to my last proposal) since it only makes sense to delete an annotation when adding/editing a comment.
- Added logic to properly enable/disable new button
- Did some clean up with main toolbar that appears above review editor
  - got rid of extraneous sep

[2012-08-22 05:59] #1519 closed, assigned to aerwin

[2012-08-22 06:01] aerwin opened #3017 "R&C: live application note looks bad"
--> @aerwin

@JonFerraiolo

Making high priority just so we make sure we take care of for M7.

As part of #1519, I made a tweak so the R&C note to the user was made visible again. However, it looks bad.

Opening this issue so we can work on tweaking it separately while debating how it should look with new UI design, whether to shorten text, etc.

Here's how it looks:

![screenshot](http://i.imgur.

[2012-08-22 06:11] aerwin opened #3018 "R&C: Delete annotation icon is too big (and maybe doesn't fit with other R&C icons)"
@JonFerraiolo @jinsil @jmockler

For the new delete annotations button (#1519), I used the same "X" icon found n the main toolbar for deleting widgets:

![screenshot](http://i.imgur.com/ApQfi.png)

While it works for now, it's too big and it's style perhaps doesn't fit too well with the other R&C icons.

To do this, I referenced the main davinci sprite.png instead of the review-specific sprite.png

[2012-08-22 06:41] aerwin opened #3019 "Tree smart input has "phantom" scrollbars"
--> @doronrosenberg

Using Chrome on Mac..
1. New HTML file
2. Drag tree onto canvas
3. See useless vertical and horizontal scrollbars

![screenshot](http://i.imgur.com/57ZRV.png)

[2012-08-22 13:20] jmockler commented on #3018
we shouldn't use the larger 'delete' icon from the main toolbar. its too large for the current set. We haven't redesigned the toolbar for the review section yet.

I would recommend staying with the image in the second screen capture. To disable the image please do so pro grammatically by reducing the opacity of the icon by 50%.

[2012-08-22 13:56] peller opened #3020 "Orion: authentication failure throws exception"
Enter the wrong password at the Orion login screen and click sign in
An exception is thrown in LoginWindow.js

[code]

mypostrequest.responseText has HTML of a full 403 error page rather than JSON.

[2012-08-22 13:57] JonFerraiolo commented on #3018
+1 to @jmockler's recommendations

[2012-08-22 14:03] peller commented on #3020
looks like a dup of #2949, except I get a 403 instead of a 401

[2012-08-22 14:03] #3020 closed, assigned to childsb

[2012-08-22 14:04] peller commented on #2949
I actually see an exception in the code.   Using the build on app-test, I get a 403, and the LoginWindow code attempts to parse the responseText as JSON when it's really a full HTML error page

[2012-08-22 14:16] peller opened #3021 "tree does not have sketch themed icons"
put a tree on the canvas in sketch theme. the folder and file icons are in color and probably should be black and white to match the sketch theme

 @aerwin

[2012-08-22 14:20] peller opened #3022 "Modify sticky note - require not found"
put a sticky note on the page. edit the sticky note.  exception in ModifyRichTextCommand.  The _refresh command is still calling the old form of dojo.require

@billreed63

[2012-08-22 14:36] aerwin opened #3023 "Vertical slider dialog: unnecessary scrollbar in preview"
--> @aerwin

Nit... unnecessary scrollbar in preview:

![screenshot](http://i.imgur.com/Dcu3D.png)

[2012-08-22 14:38] #3022 closed, assigned to peller

[2012-08-22 14:40] aerwin opened #3024 "Unclear why OK button is bolded"
Making Prio High just for discussion in M7...

Noticing OK button has become bolded recently in a lot of smart input dialogs. I had assumed this must be an indication this is the default button if you press the ENTER/RETURN key. But, I don't see any such behavior. So, it's unclear to me why they are bolded?

![screenshot](http://i.imgur.com/u0aok.png)

[2012-08-22 14:48] aerwin opened #3025 "Performance: Preview has really slowed down"
@peller

Using Chrome on Mac and internal test server...

Seems like previewing is rather slow in the latest round of testing. I've got a page that takes ~36 seconds to preview. And, it takes that long even on subsequent previews. The Chrome "unresponsive page" dialog also pops up briefly.

Here's the HTML I used when I got the 36 second time, but I don't think the HTML has to be nearly this compl

[2012-08-22 14:55] jhpedemonte commented on #3024
Assigning to @doronrosenberg for now.  cc @JonFerraiolo

For **smart inputs** (the tooltip dialogs with a simple text entry), the default action is invoked when pressing **Ctrl Enter**.  For smart inputs that only take a single line of text, **Enter** works also.

What you show above is a **wizard**.  For those, we should make sure that **Enter** works to invoke the default action.

[2012-08-22 14:56] jhpedemonte commented on #2949
Duplicate of 8246 in our bugzilla.  Closing.

[2012-08-22 14:56] #2949 closed, assigned to childsb

[2012-08-22 14:56] aerwin opened #3026 "Dirty bit turned on when reopen saved file"
Using Chrome on Mac and internal test server...
1. New HTML file
2. Drag button onto page
3. Save file
4. Open file
5. Dirty bit turned on

Making Prio High since regression so at least considered for M7.

[2012-08-22 14:58] doronrosenberg commented on #3024
@jhpedemonte ctrl-enter works for the tree smartinput

[2012-08-22 15:01] aerwin commented on #2949
@jhpedemonte This isn't an internal driver issue, so not sure BugZilla is right tracking mechanism. But, guess that's up to you.

[2012-08-22 15:07] JonFerraiolo commented on #3024
We should only bold the OK button when the Enter key will result in the OK action. For situations where you have to enter Ctl-Enter, we shouldn't bold the OK button

[2012-08-22 15:10] #3019 closed, assigned to doronrosenberg

[2012-08-22 15:11] doronrosenberg commented on #3024
if we only do it for certain widgets it would be inconsistent.

[2012-08-22 15:12] aerwin commented on #3025
--> @jhpedemonte

Per scrum, this might just be a dup of other perf issues. I had incorrectly assumed zazl was involved in the preview, but zazl is still turned off. Discussion was that @jhpedemonte would be trying to get build running on different server to assess if some of these perf issues are specific to the server in use.

[2012-08-22 15:38] aerwin opened #3027 "MenuHelper console messages"
1. New HTML file
2. Drag button onto page and click OK on smart input
3. See 28 messages from MenuHelper

![screenshot](http://i.imgur.com/Q2zW6.png)

I don't think this really hurts anything, but fair number of unnecessary MenuHelper console messages. Severity of issue is lessened by the fact that Google dev tools groups like messages.

[2012-08-22 16:20] peller commented on #3025
see #2953

[2012-08-22 16:52] aerwin opened #3028 "StackContainer: Usability problems"
@doronrosenberg

Making Prio High, but guessing we'll have to defer to M8...

I'm struggling a bit with using StackContainer... I've included some observations... perhaps some of these warrant separate issues, but for now think they are all kind of interrelated so just logging in one list...
- First impression when I drop onto page is that I've created some sort of tabbed container. If we had an a

[2012-08-22 17:06] doronrosenberg commented on #3028
@JonFerraiolo @jhpedemonte

I don't think we should be shipping with StackController mostly because its an base widget that I doubt anyone will ever want to use in Maqetta directly.

[2012-08-22 17:30] doronrosenberg opened #3029 "Dirty editor logic needs to be rethought"
Currently it seems the dirty bit on an editor is set mostly via `PageEditor::_visualChanged`.  However that same method is used to simply denote that the page has changed because it has been loaded as well as that the default state has been set.

In #3026 I changed the method to take a flag telling the method to skip the dirty bit setting.  A quick fix.

We need a better solution, starting with pr

[2012-08-22 17:33] #3026 closed, assigned to doronrosenberg

[2012-08-22 17:34] JonFerraiolo commented on #3029
Good work. I agree with the short-term fix and registering the longer-time issue to clean things up.

[2012-08-22 18:00] #554 closed, assigned to doronrosenberg

[2012-08-22 18:00] aerwin opened #3030 "Red screen of death with attached file"
Using Chrome on Mac with internal test server... saved and reopened page with the HTML below and get red screen of death. Preview works correctly.

![screenshot](http://i.imgur.com/xqHHn.png)

HTML source:

[code]

Exception in console:

[code]

[2012-08-22 18:05] aerwin commented on #3028
--> Updating title... @JonFerraiolo pointed out I accidentally said "StackController" instead of "StackContainer"

[2012-08-22 18:10] JonFerraiolo commented on #3028
@jhpedemonte, @peller, @billreed63

Based on comments in this issue, I think we should pull StackContainer from M7. The way things are right now, there isn't much value in StackContainer vs TabContainer, only that instead of tabs you have buttons. But with StackContainer as it is now, there are some significant usage problems and we won't have time to fix them for M7. Fixing things would amount to

[2012-08-22 18:19] billreed63 opened #3031 "device silhouette not being displayed after file save/reopen"
Create a iphone html file
DnD and header
Save and close
Reopen

The device is none.
I have seen this on FF and Chrome

[2012-08-22 18:24] JonFerraiolo commented on #3030
-> @doronrosenberg  because I reproduced when running the unbuilt version and the stack trace starts with VisualEditorOutline.js:

[code]

[2012-08-22 18:35] JonFerraiolo opened #3032 "Intermittent exceptions with require(dijit/register) _destroyAll()"
Steps the caused problem for me, not sure if 100% reproducible:
- New desktop app
- Go to source-only view
- Copy/paste the text at bottom of this comment

Result=> After 1 second, exception deep in bowels of dojo, but stack track shows this line at Context.js:837:

[code]

What I suspect is that there are timing issues where dijit.registry gets loaded asynchronously, and so the _destroyAll() call

[2012-08-22 18:39] jhpedemonte commented on #2990
Still left to do:  update docs.  Lowering priority/severity accordingly.

[2012-08-22 18:41] jhpedemonte commented on #2889
-> @doronrosenberg, since he recently looks at related issues.

[2012-08-22 18:43] jhpedemonte opened #3033 "Fix icons in Files view context menu"
1. The icon for "Delete" action has changed.  It used to be a red **X**.
2. Missing icons for **New Folder** and **Upload Files** (although this isn't a regression).

[2012-08-22 18:49] jhpedemonte opened #3034 "Error saving theme workingcopy"
Server log files show this error:

[code]

There are similar errors for other theme related files in the same directory.

Trying to write to read-only directory? Related to #2971?

Assigning to @childsb for now, but maybe @doronrosenberg can take a look.  cc @billreed63

[2012-08-22 18:50] jhpedemonte commented on #3034
Some other, possible related, errors:

[code]

[2012-08-22 19:08] childsb commented on #2565
There isn't an easy way to move the path space that I'm aware of.  We'd have to 1-off all of the orion plugins, and change the static content location in the plugin.xml.  The changed paths would probably break Orions internal links as well.

[2012-08-22 19:09] aerwin opened #3035 "gridx-src needs to be handled like dojo-src"
@childsb @jhpedemonte @peller

I believe the fix for #1512 removed dojo-src from download/user lib dialogs. But, I see gridx-src is still there. In general, I think we need to handle [lib]-src consistently across libraries (when it exists for a library).

[But, not sure anything since should be done with this until #2769 is addressed. As it is, #2769 may necessitate some reversal of #1512.]

[2012-08-22 19:14] peller commented on #3035
@rbackhouse and I discussed possibly changing the metadata such that instead of defining peer -src ajaxLibraries, we add a tag to the existing library to reference sources

[2012-08-22 19:14] jhpedemonte commented on #2941
OK, after @rbackhouse's changes, I made changes to get Zazl building and automatically starting again (on _zazl-build_ branch).  However, I'm running into the same issue: starts up just fine the first time, but afterwards, starting the server errors out (same error [as before](https://github.com/maqetta/maqetta/issues/2941#issuecomment-7905633)).

[2012-08-22 19:16] aerwin opened #3036 "HTML img smart input not converted to new style"
@doronrosenberg
1. New HTML file
2. Drag html IMG tag onto canvas

Think this dialog got missed during all of the conversions to the new style style...

![screesnhot](http://i.imgur.com/pFiMx.png)

[2012-08-22 19:24] aerwin opened #3037 "Rich Text/Sticky Note: Unselectable sub-elements have outline borders"
1. New HTML file
2. Drag HTML Rich Text onto canvas and enter some text in smart input
3. Drag sticky note onto canvas and enter text into smart intput
4. See outline borders around unselectable sub-elements

![screenshot](http://i.imgur.com/SLZnF.png)

[2012-08-22 19:32] JonFerraiolo commented on #3037
-> @billreed63 I'm not sure how to fix, but one approach that I would see if it could be made to work would be to add rules in content.css that had a selector that looked something like this:

[code]

[2012-08-22 19:34] JonFerraiolo commented on #2565
OK, then could we put the orion stuff into a different subdomain, such as `http://orion.maqetta.org/navigate/table.html`?

[2012-08-22 19:38] jhpedemonte commented on #2565
I could create some redirect rules that takes any URL that doesn't start with `/maqetta` and rewrite it to something else.  As I [stated above](https://github.com/maqetta/maqetta/issues/2565#issuecomment-7650515), I can do this to add a top level `/orion/` dir;  I prefer this over adding a specific subdomain.

[2012-08-22 19:39] doronrosenberg commented on #3030
@jhpedemonte @JonFerraiolo

this is interesting -  `<br></br>` is creating 2 BR dvwidgets - one with an id and one with am empty "" as id.  Outline is assuming every widget has an id and breaks here.

This would seem to be a parser issue that a recent change to not storing the dvwidgets in Outline has exposed, as there should only be one `<br>` dvwidget created.

[2012-08-22 19:42] jhpedemonte commented on #3030
I wonder if the parser isn't special casing certain elements, such as `<br>`.

[2012-08-22 19:44] aerwin commented on #269
I'd add getting rid of the placeholder text (e.g., "HTML preferences content here") on the top-level nodes:

![GitHub Logo](http://i.imgur.com/IxA33.png)

[2012-08-22 19:49] aerwin opened #3038 "Can't change position of button to absolute"
Using Chrome on Mac and following VE 3 test case...

Told I can't change position of button to absolute:

![GitHub Logo](http://i.imgur.com/XPwg3.png)

[2012-08-22 19:50] aerwin commented on #3038
Also, happens on TextBox. Works on Calendar and ColorPalette, so not sure how pervasive.

[2012-08-22 19:51] JonFerraiolo commented on #3038
-> @billreed63

[2012-08-22 19:56] JonFerraiolo opened #3039 "Custom tree icons not displaying in Firefox, VE or preview"
I'm going through the test plan for tree widgets on Firefox (Mac or Win), and I am not seeing custom TreeNode icons appear on the VE canvas or in preview. No problem with Chrome (Mac or Win).

To reproduce, just add a custom icon (e.g., i-icon-1.png) to the first node in the tree, and click OK. On Chrome, you will see the icon in the VE, but not in FF.

[2012-08-22 20:00] JonFerraiolo opened #3040 "Tree SmartInput: event handlers are live in VE"
I was playing with Tree SmartInput and put alert('open') and alert('close') as the onOpen and onClose values for a particular tree node. Upon clicking OK to the SmartInput dialog, the screen showed an alert with the word "open" in it.

What we probably need to do is add the on\* event handlers only to the model, and not the user iframe's DOM nodes.

[2012-08-22 20:02] aerwin opened #3041 "Snap lines don't show while dragging shape handles"
@JonFerraiolo

Using Chrome on Mac, and doing VE 3 test case....
1. New HTML sketch
2. Drag widget onto canvas (like Calendar)
3. Drag shape onto canvas (like line)
4. Move line handle around to reisze and no snap lines appear

[2012-08-22 20:05] aerwin commented on #3040
Closing. Dup of #2715.

[2012-08-22 20:05] #3040 closed, assigned to aerwin

[2012-08-22 20:06] jhpedemonte commented on #2941
If I move aside the `configuration/org.eclipse.osgi` directory, then I can successfully start the server.  Here are the contents:

[code]

This directory doesn't exist in the downloaded build;  it is created after the first launch of the server.

[2012-08-22 20:10] doronrosenberg commented on #2889
So in the failure case this is what is happening in `Factory.js::closeModel`:

[code]

`modelResource.dirtyResource` is null, but `resource.dirtyResource` is true.

It would see, changing the `modelResource.dirtyResource` to `resource.dirtyResource` fixes the issue in some simple testing, is there a reason not to make that change?

[2012-08-22 20:26] jhpedemonte commented on #2889
@childsb, do you know anything about the code mentioned above?

[2012-08-22 20:26] aerwin opened #3042 "Choose Parent: Can't successfully complete last step of VE 3 test case"
Using Chrome on Mac... doing last step of VE 3 test case
- Drag the Calendar such that the mouse pointer is over the 3rd DIV. NOTE: I'm assuming if I see the 3rd div get a pink highlight (like in the picture), then I'm over the 3rd div

![GitHub Logo](http://i.imgur.com/WVrUT.png)
- Choose option 1 and 1st div gets highlighted with red outline (not the div I'm over)

![GitHub Logo](http://i.imgur.

[2012-08-22 20:27] peller commented on #2690
also, the [dojo,dijit,dojox] callback list should go away and be replaced with actual AMD module references

[2012-08-22 20:28] JonFerraiolo commented on #2955
-> @jhpedemonte Changing to Prio-High so that it gets attention early to make sure it truly is innocuous. It sounds a bit scary.

@peller

[2012-08-22 20:29] jhpedemonte commented on #2941
Removing the directory `configuration/org.eclipse.osgi/.manager` seems to do the trick. It's got a couple of `.fileTable` files that generally look like this:

[code]

[2012-08-22 20:42] jhpedemonte commented on #2690
What do you mean by this?

[2012-08-22 20:45] billreed63 opened #3043 "Error when deleting x.Menu from toolkit that extends"
Unfortunately, when we tried to delete the dijit.PopupMenuBarItem from the x.MenuBar we ran into another issue. The root of it appears to be that the serializePopup() function in PopupMenuBarItemHelper makes the assumption that the immediate child DOM nodes of the popup are the DOMNodes of the dijit widgets for the menu items. This is not true for x.Menus - there are other DOM nodes in-between. Fu

[2012-08-22 20:45] #3036 closed, assigned to doronrosenberg

[2012-08-22 20:51] #3043 closed, assigned to billreed63

[2012-08-22 20:55] JonFerraiolo opened #3044 "On refresh, sometimes JS toolbar shows even if HTML file is open"
@peller

I suspect this is a timing issue that rears its ugly head when we have a slow server or a slow network.

What's probably happening is that the js.plugin.js file is getting processed (and its toolbar is getting created) after the call to _switchEditor(). The correct toolbar is likely getting activated by _switchEditor() logic, but the js.plugin.js logic that creates the initial instance of

[2012-08-22 20:59] JonFerraiolo commented on #3042
I suspect what's going on is that your mouse is over the 1st DIV, and the 3rd DIV is showing magenta because it represents a snap point. Therefore, the confusion you are seeing is the result of two different visual indicators (choose parent and snapping) happening at the same time.

Let me think about this one.

[2012-08-22 21:02] peller commented on #2690
the define() method at the top of the callbacks file lists `dojo, dijit, dojox` as dependencies.  None are proper AMD dependencies.

[2012-08-22 21:05] JonFerraiolo commented on #3041
I suspect this is a regression due to the selection chrome DIVs moving from the user iframe into the Maqetta frame. Probably need to add an offset to the x and y positions to fix.

[2012-08-22 21:11] peller opened #3045 "EditorContainer no longer needs to inherit _ToolbaredContainer(sic)"
@JonFerraiolo

We should be able to drop _ToolbaredContainer from the inheritance chain along with the associated DOM elements and widget containers for each editor.

[2012-08-22 21:14] aerwin opened #3046 "Cannot call method 'getWidgetTopDom' of undefined"
Using Chrome on Mac...

Unfortunately, having trouble locking down a reliable scenario for this... but, basically, (intermittently) when I select a widget and try to open one of the props palettes (like Background) I get an exception. This exception appears to have negative consequences in that props palette does not show selection info and changing attributes has no impact.

[code]

![GitHub Logo

[2012-08-22 21:15] billreed63 opened #3047 "dijit.MenuBarItem missing from widget palette"
dijit.MenuBarItem is missing

[2012-08-22 21:17] #3047 closed, assigned to billreed63

[2012-08-22 21:20] aerwin commented on #3045
I happened to be in and around some of this code yesterday and am surprised by this assertion. Perhaps you're just saying you could merge _ToolbaredContainer into EditorContainer?

[2012-08-22 21:29] jhpedemonte commented on #2941
I am at a loss here.  For some reason, running with the Zazl plugins causes the OSGi object table to be incorrectly generated, making subsequent starts fail.  @rbackhouse, any chance that the maqetta.zazl plugin is doing something funky, maybe in Activator.java?

Workaround would be to always start with `-clean` (which removes the offending files), but I'd really like to figure out what the issue

[2012-08-22 21:51] #3008 closed, assigned to childsb

[2012-08-22 21:52] childsb commented on #2932
deferring to 0.8

[2012-08-22 22:10] rbackhouse commented on #2941
I don't think the maqetta.zazl bundle is causing the problem. I went back to a clean version of the build you gave me and ran it the first time without starting the maqetta.zazl bundle at all. Stopping and starting again resulted in the same "java.lang.IllegalStateException: Expected to find an object at table index" error.

[2012-08-22 22:13] jhpedemonte commented on #2941
Hmm, this only seems to happen with builds that have the Zazl plugins (might not be required to actually start Zazl).  Might be an issue with how we include Zazl into the build?

I've seen many mentions of the `IllegalStateException: Expected to find an object at table index` error online, but unfortunately no obvious solutions.

[2012-08-22 22:17] JonFerraiolo commented on #2954
-> @jhpedemonte - note that with today's build on maqetta-test, it doesn't look like gridx is getting built

[2012-08-22 22:33] aerwin opened #3048 "Context._restoreStates: this._loadFileStatesCache missing"
Seeing this intermittently when Maqetta comes back up after I reload the browser page... not sure if it's causing any real trouble, but I see a red screen of death flicker in and out out of the current editor, so looks kind of bad.

[code]

Making prio high so we get some deeper assessment for M7...

[2012-08-22 22:47] jhpedemonte commented on #2954
I have no idea how the GridX build works.  @childsb, @peller?

[2012-08-22 22:55] rbackhouse commented on #2941
It could be this equinox bug

https://bugs.eclipse.org/bugs/show_bug.cgi?id=375650.

There is a fragment bundle that is being provided by the maqetta zazl code.

[2012-08-22 22:58] JonFerraiolo commented on #3045
Spurred by @aerwin's comments, I looked at the code for EditorContainer.js and _ToolbaredContainer.js. There are a few functions in the base class (_ToolbaredContainer.js) such as `setContent` and `removeContent` that might be needed in EditorContainer.js. But more importantly `EditorContainer.js:_createToolbar()` calls `this.inherited()` which invokes `_ToolbaredContainer.js:_createToolbar()` whi

[2012-08-22 22:59] jhpedemonte commented on #2954
I noticed this in the build logs:

[code]

Notice the `Java Result: 1` line.

[2012-08-22 23:15] aerwin commented on #2954
Is the @dot.log for the plugin available?

[2012-08-22 23:18] childsb opened #3049 "custom mobile theme results in no CS in VE"
1) create a new iphone theme
2) select a global widget and set its background color to red
3) create a new html file, chose iphone silhouette
4) after the file comes up, switch the theme to the custom theme created in step 1
5) add a widget to the page (calendar for me) and notice it has no styling/theme.

[2012-08-22 23:24] JonFerraiolo commented on #3048
I think I'm closing in on this one. I can reproduce with 2 HTML editors open, and hitting browser refresh. The RSOD happens with one of the HTML files, and then gets fixed up with the second one. The `window[loading...]` logic gets hit twice for the same document.

[2012-08-22 23:31] jhpedemonte commented on #2954
[@dot.log](http://pastebin.com/d0v8isC4) for the GridX plugin build.

There are some warnings, but the first errors are this:

[code]

[2012-08-22 23:36] jhpedemonte commented on #2954
The maqetta-base build, which is successful in building GridX, shows this:

[code]

Notice the bits about copying in `maq-metadata-dojo`.

---

Side note: the Dojo build in GridX is failing.  Why doesn't this result in a build failure?  The build just keeps going.

[2012-08-22 23:41] aerwin commented on #2954
That was going to be my next question... :)

What are the differences between the Orion build and the standalone build? The errors you point out are exactly the kinds of errors I fixed several weeks ago in 6a1ab9931e7065c1c8554941590c214bd39f1343 because the standalone build would die doing a dojo build.

So, aside from continuing to run are there other differences? Is the same widgetPluginDojoBui

[2012-08-22 23:43] aerwin commented on #2954
Guess you already answered that one with the output from the successful standalone build.

[2012-08-22 23:51] jhpedemonte commented on #2954
So the Orion build seems to have duplicates (or mostly copies) of some build files, including **widgetPluginDojoBuild.xml** (_\_cough*\* @childsb _\_cough**).

Take a look at `releng/davinci.releng/orion/widgetPlugin/widgetPluginDojoBuild.xml` (and there's another similar one for the **internal** build).  I took a quick peak, but there are quite a few differences between the files.

@aerwin, since

[2012-08-22 23:54] aerwin commented on #2954
Well, I can replace it the the official copy if that's what you want me to do.

But, I'd like to understand why we have duplicates? That's just asking for trouble. Seems like that's what needs to be fixed.

[2012-08-23 00:01] jhpedemonte commented on #2954
Yes, agreed about the duplicates.  I'll open a bug for this instance and others that I've run across.  But for M7, let's just keep the files where they are.

Be careful with doing a simple copy.  There may have been changes done specific to the Orion build, or to that location.

@childsb, care to chime in?

[2012-08-23 00:06] aerwin commented on #2954
Right... which is why I prefer not to do it without having a really good understanding of why it was changed in the first place. There was nothing platform specific in there.

[2012-08-23 00:16] childsb commented on #2954
It's duplicated because of gridx/CustomCallbacks.xml:

[code]

the ${env.relEngDir} points to davinci.releng/orion/

and i didn't want to break the standalone build by changing it.

[2012-08-23 00:18] aerwin commented on #2954
Was it just duplicated or changed at all?

[2012-08-23 00:21] childsb commented on #2954
I had changed some of the if targets to this format:
`<target name="davinciPlugin.build" if="${run.dojo.build}" unless="${davinciPlugin.build.exists}">`

[2012-08-23 00:22] jhpedemonte commented on #2941
As far as I know, we are building against 4.2 final, which should contain that fix.

[2012-08-23 00:23] aerwin commented on #2954
And, did those changes make it back into the standalone file?

[2012-08-23 00:23] peller commented on #3045
Folks, _ToolbaredContainer is primarily there to provide a container with a toolbar on top and some other widget on the bottom and manage the layout of the two.  As @JonFerraiolo points out, EditorContainers are no longer "Toolbared" in the new layout.   Dijit layout and widget objects aren't cheap, so if we don't need the extra layers in our UI hierarchy for Editors, we should get rid of them --

[2012-08-23 00:25] aerwin commented on #2954
And, @peller I know you were working on some  widgetPlugin/widgetPluginDojoBuild.xml changes today to delete test directories. Which version of the file have you been editing and testing with? :)

[2012-08-23 00:30] peller commented on #2954
@aerwin don't worry, I'm not planning on checking anything in today.

[2012-08-23 00:32] peller commented on #2954
@childsb, the orion ant file widgetPluginDojoBuild.xml was forked from the main file.  One of the changes was `failonerror="false"` for the Dojo build (<java> task)  That really ought to be 'true'.  We should probably review the diffs and try to reconcile and use a single file.

[2012-08-23 00:37] jhpedemonte commented on #3012
Fixed.

[2012-08-23 00:37] #3012 closed, assigned to jhpedemonte

[2012-08-23 01:50] jhpedemonte commented on #2955
Odd, I don't see this when running from source, but I do see it on the build on maqetta-test.

[2012-08-23 01:51] doronrosenberg commented on #3012
@jhpedemonte when will a new build go up on the test server?

[2012-08-23 01:55] jhpedemonte commented on #2690
@peller, I'm confused.  I'm talking about the file `davinci.dojo_1_8/WebContent/metadata/callbacks.js`.  It currently consists of a single closure; it doesn't yet have any AMD syntax.

[2012-08-23 02:01] doronrosenberg opened #3050 "GridX - jsonp support broken"
Using http://maqettaservice.appspot.com/sampleservice with GridX initially seems to work, except there are JS errors in the console.  Reloading the page however shows the "Failed to load data".

[2012-08-23 02:05] JonFerraiolo commented on #3048
Sending to @peller.

To reproduce, simply have two open documents and then do a browser refresh. What's happening is that the following logic at Context.js:987:

[code]

gets invoked twice, one for each document, but the `this` variable in both cases is the second document. For instance, if you have file1.html and file2.html open, and hit browser refresh, then if you look at the `this` object for

[2012-08-23 02:07] jhpedemonte commented on #2690
Oh, I see now.  The source version consists of a function closure.  The **built** version of that _callbacks.js_ file wraps the content with a `define()`:

[code]

Not sure why it does that.  Also, we should add `insertAbsMids: 0` to the Dojo build profiles, so it doesn't generate an MID for the sources.

[2012-08-23 02:22] jhpedemonte commented on #2988
Indeed.  The call to **cmd/getUserLibs** returns the following:

[code]

Notice the entries for **dojo** and **dojo-src**: both have the same `metaRoot`, which means we end up loading `app/metadata/dojo/1.8/package.json` twice (and eventually, also _widgets.json_ and _callbacks.json_).

I really don't like **dojo-src** -- does it have to be a "library"?

(Using `require()` to load these files woul

[2012-08-23 02:34] JonFerraiolo commented on #3048
@peller can't reproduce but pointed out how the `window["loading" + this._id] = function` logic gets invoked (via newfile.template.html). I'm taking this one back now.

[2012-08-23 02:41] jhpedemonte commented on #2988
Actually, that is the case.  Specifying **dojo-src** as a "library" is completely wrong.  We're bending the meaning of the `ajaxLibrary` element in _plugin.xml_ in order to get dojo-src into Maqetta.  There should be **only one `ajaxLibrary` element**. [1]

How do we currently make use of _dojo-src_?

**Proposal:** Add a `<sourcePath>` child element to `<ajaxLibrary>`, pointing it to the unbuilt s

[2012-08-23 02:50] peller commented on #2988
+1  Zazl is the only consumer of the -src libraries, so the ajaxLibrary is really just there to make it known to zazl.  Exposing it as a library means it's exposed in the UI, which is both good and bad  RAD users like to have sources in downloads, but generally they're unwanted and make the downloads too large (see #2769)

@rbackhouse and I were talking about doing something very much like this to

[2012-08-23 02:56] peller commented on #2690
oh sorry, yeah, must be some back-compat build magic putting it there then. nevermind.

[2012-08-23 03:01] doronrosenberg commented on #3030
@jhpedemonte @JonFerraiolo

HTMLParser lists br in something called autoSelfClosers.  removing it from that doesn't seem to fix the issue, anyone know the parser?

[2012-08-23 03:07] #3048 closed, assigned to JonFerraiolo

[2012-08-23 03:38] jhpedemonte commented on #3048
Why not just declare `var contextCount = 0;` inside the closure, but still outside of the `declare()`?  Then:

[code]

[2012-08-23 03:38] #3033 closed, assigned to JonFerraiolo

[2012-08-23 03:42] jhpedemonte commented on #2954
I did a straight copy of widgetPluginDojoBuild.xml into the `orion` dir and it worked locally. Committing now (and for internal build).  Will test again when new builds from _master_ are done.

[2012-08-23 03:51] aerwin commented on #3050
I was able to reproduce...

I think the first set of exceptions is a dup of #2910 ("Using JSONP with GridX floods developer console with messages").

The stuff that happens in the console after reloading the page is really weird...

[code]

[code]

[code]

And, then some other/similar related things...

[2012-08-23 03:58] JonFerraiolo commented on #3048
See  4960a5a512

[2012-08-23 04:02] JonFerraiolo commented on #3030
I know the parser somewhat. The autoSelfClosers is only used to list elements which are allowed in the document without being well-formed (i.e., start tag only, no requirement for an empty tag or closing tag). I did make a recent change to that code, perhaps where fixing one bug is causing another bug. Maybe you want to assign this issue to me? The parser code has a non-trivial learning curve.

[2012-08-23 04:05] aerwin commented on #3050
Even when "Failed to load data" shows up in the visual editor, preview still works. So, I don't think there's anything wrong with the HTML.

[2012-08-23 04:24] JonFerraiolo commented on #3046
-> me

[2012-08-23 04:27] JonFerraiolo opened #3051 "Other people's annotations don't appear in WebKit browsers"
@aerwin @jhpedemonte

On Chrome and Safari, other reviewers' annotations don't show in Chrome and Safari, but are visible in Firefox.

In Chrome, I'm seeing a "multiple define" error in the console when opening up a review editor, and therefore I suspect the problem is the result of the "two dojo" problem in #2988. So, before digging deeper into this bug, I'll wait to see how things are going when

[2012-08-23 04:28] JonFerraiolo commented on #2988
Might be also causing #3051.

Note that Sample1.html lists dojo-src as a package, therefore making it so that Sample1.html loads dojo twice. Haven't looked at Sample2 and Sample3.

[2012-08-23 04:40] doronrosenberg commented on #3030
From what I can tell the code is not poping the br from its stack when it hits the closing tag.  It seems like if a br tag is hit it doesn't expect a closing tag in the code.

[2012-08-23 04:46] doronrosenberg commented on #3050
Harm looks like the code is trying to xhr rather than use a script tag to do crossdomain loading.  CC @peller in case this rings any bells.  If you are too busy I can take a look at this.

[2012-08-23 05:01] aerwin commented on #3050
--> @doronrosenberg

Thanks for the offer... If you want to work on this, I won't argue... :)

I had just turned on break on all errors and the issue appears to be that that `dj.require` in the first line of the try block below is `undefined`. The `dj` variable has a value, but `require` does not. This code is from `ItemFileReadStoreHelper`:

[code]

I've not investigated any further, so I have no

[2012-08-23 05:32] aerwin commented on #2348
Sure... looking at it I'm not sure I fully appreciate the issue or the severity...

E.g., I can go to http://localhost:8081/maqetta/? and see some things don't load. But, with @childsb 's commit from 3 months ago, do we still have a Prio High/Sev 2 issue? What other scenarios would cause there to be a "/?" in the URL in the first place?

[2012-08-23 09:54] rbackhouse commented on #2941
The org.eclipse.osgi bundle that I see in the build has a filename of org.eclipse.osgi_3.8.0.v20120529-1548 which indicates that it was built May 29 2012. This the 375650 bug fix was not delivered until July 13.

It may or may not actually resolve the problem we have but reading all the similar problems that result in a stack trace like this I would say this is not something that a bundle can be c

[2012-08-23 14:22] billreed63 opened #3052 "Exception when opening background properties palette"
on FF/win http://maqetta-app-test.austin.ibm.com/maqetta/

new desktop html claro
DnD div
click on background in properties palette

note the following exception:
this.context is undefined

Line 44009

[2012-08-23 14:23] billreed63 commented on #3052
Note that I can't set teh background color on the div after the exception

[2012-08-23 14:24] billreed63 commented on #3052
exception on button also

[2012-08-23 14:31] aerwin commented on #3052
Sounds like a dup of #3046?

[2012-08-23 14:44] billreed63 commented on #3052
could be but on FF it happens every time, so it may be easier to reproduce using FF

[2012-08-23 14:57] JonFerraiolo commented on #3030
I just remembered that I created a patch for M8 a week or so ago around auto-self-closers, pushed up to GitHub on the METAUnclosed branch.
- https://github.com/maqetta/maqetta/tree/METAUnclosed
- https://github.com/maqetta/maqetta/commits/METAUnclosed/maqetta.core.client/WebContent/davinci/html/HTMLParser.js

I don't know if my fix would address this bug - I'll look into that sometime today.

I di

[2012-08-23 14:59] JonFerraiolo commented on #3046
-> @billreed63 because it might be same issue as #3052. Feel free to send either or both bugs to me.

[2012-08-23 15:01] jhpedemonte commented on #3050
Shouldn't we be using `require` instead of `dojo.require` (they are different -- the latter is the legacy API).

[2012-08-23 15:10] billreed63 commented on #3049
I am unable to reproduce this.

What browser and platform?

 I am also confused by the steps, calendar is part of the desktop widget set so it is styled my claro not iphone

I was able to create an myiphone theme and change the background of the global heading widgets and apply that theme to a mobile html page. I was able to drop a heading on the page and get the correct styling on the headings. I

[2012-08-23 15:11] aerwin commented on #3050
I didn't write the code, but I was assuming the intent was to require it using the Dojo in the page. Is there a way to do that? Maybe that's what the `withDoc` stuff does for you?

[2012-08-23 15:44] aerwin commented on #2689
@JonFerraiolo

Per ST... reopening while we wait for the toolbar icons.

[2012-08-23 15:48] #2978 closed, assigned to childsb

[2012-08-23 15:49] JonFerraiolo commented on #2348
Some history first:

As I remember, the issue with `http://localhost:8081/maqetta/?` came up because after a user entered `foo.com/maqetta/?resetWorkspace` we were redirecting to `foo.com/maqetta/?` and things wouldn't work, and users would have to manually remove the `?` for Maqetta to appear. At the time, this was deemed to be a bad situation because occasionally users get stuck because the hand

[2012-08-23 15:51] peller commented on #3050
Looks like I missed something in the async conversion.  I don't think we have a 'proper' way to use require inside an iframe.  What we have been doing is to substitute `context.getGlobal()["require"]` for `context.getDojo().require` and dj.dojox.io.xhrScriptPlugin should instead use the returned value from the require.  As @aerwin points out, it can only use the immediate form if the code is alrea

[2012-08-23 15:54] peller commented on #2348
I agree it is no longer critical and a fix should not be attempted for M7, but I'd prefer going back to prio-med so that it is more likely to get addressed.   Severity could certainly be lowered, too, but it's a flaw in logic that could come back to bite us.

[2012-08-23 16:19] #2862 closed, assigned to childsb

[2012-08-23 16:20] aerwin commented on #2348
--> Prio Med, Sev 3, M8

[2012-08-23 16:23] billreed63 commented on #2808
This issue has returned, onload is not gettng called at all on html page load which is the root cause of issue #3031

[2012-08-23 16:29] childsb commented on #543
Fixed in #2862

[2012-08-23 16:29] #543 closed, assigned to childsb

[2012-08-23 16:29] jhpedemonte commented on #2954
OK, I confirmed that both the GridX code itself and the metadata helper files are getting built.

However, when testing Maqetta, I see unbuilt files returned for the GridX code (metadata helper files are correct).  Probably culprit is the 2nd `ajaxLibrary` element specified for "gridx-src":  Maqetta is getting confused and using the unbuilt files from "gridx-src" instead of "gridx" dir.  This will

[2012-08-23 16:29] #2954 closed, assigned to jhpedemonte

[2012-08-23 16:31] jhpedemonte commented on #2988
Another issue!  The GridX plugin also specifies two `ajaxLibrary` elements, causing the unbuilt source files to be returned by the server instead of the built files.  See #2954.

So need to make `<sourcePath>` change to GridX's plugin.xml as well.

[2012-08-23 17:03] JonFerraiolo commented on #3030
I'm looking at #3030. The "model" is fine - there is only one BR element in the model. What's wrong is that the visual editor's iframe has two BR elements instead of just one. So I'm not sure it's a parsing problem because the "model" seems to be correct. (And the BR element in the model has an ID)

The problem is that the getTopWidgets() call in Context.js is double-counting the BRs because the D

[2012-08-23 17:42] #3050 closed, assigned to doronrosenberg

[2012-08-23 17:46] JonFerraiolo commented on #3030
Above fix prevents RSOD when document contains `<br></br>`, but it was a temporary hack. Instead, my vote would be to fix the parser to match the browser's quirky behavior with BR elements, and have the parser special-case BR elements such that when it encounters  `<br></br>` it will put two BR elements into the model.

With this fix, reclassifying this issue as M8 Priority-Medium and reassigning

[2012-08-23 18:00] doronrosenberg opened #3053 "Mac commands not working in iframe"
For example cmd-~ doesn't switch tabs if ypu have the VE focused

[2012-08-23 18:25] #3013 closed, assigned to billreed63

[2012-08-23 18:45] JonFerraiolo opened #3054 "No snap lines for shapes.Text"
When you drag a shapes.Text widget, there are no SnapLines. I think this is because TextHelper.js inherits from _ShapeHelper, which overrides default Maqetta logic for snapping. It looks like we can just get rid of TextHelper.js and then snapping should work. However, too risk for M7, so setting milestone to M8.

[2012-08-23 18:46] childsb commented on #2929
Dupe of #2348

[2012-08-23 18:46] #2929 closed, assigned to childsb

[2012-08-23 18:47] JonFerraiolo opened #3055 "Snapping not working with CreateTool"
Probably a coordinate system thing, due to moving the selection chrome into outer frame rather than user iframe.

[2012-08-23 18:53] JonFerraiolo commented on #3055
Withdrawing - user error! I had turned snapping off!

[2012-08-23 18:53] #3055 closed, assigned to JonFerraiolo

[2012-08-23 18:55] JonFerraiolo opened #3056 "Shapes snap even when preference is off"

[2012-08-23 19:02] #3041 closed, assigned to JonFerraiolo

[2012-08-23 19:02] #3056 closed, assigned to JonFerraiolo

[2012-08-23 19:10] aerwin commented on #3039
Think I'm going to need to contact the dijit.Tree team on this one...

The HTML below (simplified slightly from the Maqetta-generated version for illustration purposes) associates a custom icon with the node in Chrome, but not in Firefox:

[code]

It seems like the declarative `getIconStyle` is just not being honored in FF. I copied the dom elements from both browsers and the styling info is added

[2012-08-23 19:12] aerwin commented on #3039
And, when I say "not honored" I don't mean not called. I put a console.log in `getIconStyle` to confirm it's getting called in FF.

[2012-08-23 19:18] #3044 closed, assigned to JonFerraiolo

[2012-08-23 19:22] billreed63 commented on #3046
at start up we can end up with no context or editor set in cascade.js  due to async editor selection getting published before the cascade is built  so best to set this in  widget selection

[2012-08-23 19:24] #3046 closed, assigned to billreed63

[2012-08-23 19:27] #3038 closed, assigned to billreed63

[2012-08-23 19:29] billreed63 commented on #3049
closing with above comment

[2012-08-23 19:29] #3049 closed, assigned to billreed63

[2012-08-23 19:41] aerwin opened #3057 "Update TreeInput if/when a couple Dojo foundation feature requests are satisfied"
--> Future

I had to do some hacking around earlier this summer to get some things (like drag and drop, maintain order on add, move node, etc.) to work like I wanted in the Tree Smart Input dialog. As a result, Bill Keese opened a couple of Dojo feature requests for me. If/when these issues are addressed, it would be good to clean up `TreeInput`:
- ObjectStoreModel needs updates to support between

[2012-08-23 19:50] #3011 closed, assigned to JonFerraiolo

[2012-08-23 19:52] JonFerraiolo opened #3058 "Evaluate flow/absolute and document settings actions if in source mode"
Need to test and evaluate whether there are any big issues if a user issues any of the right-side toolbar commands when in source-only mode.

[2012-08-23 19:55] JonFerraiolo opened #3059 "Paste not working with absolutely positioned widgets"
@doronrosenberg

I think I see what's wrong and maybe this is a 11-character fix (i.e., `.bind(this)`

[2012-08-23 19:58] #3059 closed, assigned to JonFerraiolo

[2012-08-23 20:01] aerwin commented on #3039
Opened Dojo ticket: http://bugs.dojotoolkit.org/ticket/15887

[2012-08-23 20:02] doronrosenberg commented on #3028
Just checked in hiding stackcotnainer

[2012-08-23 20:12] jhpedemonte commented on #2988
Reassign to @peller, since he is currently coding this up.

[2012-08-23 20:14] billreed63 commented on #226
once we create a delta rule for the button to green background that rule overrides the disabled rule because the disabled rule is still in the base css file and the override for the normal state is in the delta file. once the user creates the delta for the disabled all is well.

[2012-08-23 20:14] billreed63 commented on #3015
I updated the metadata, the selector seemed to have changed, this allows for the updating of the widget in the disabled state.

The issue noted where the button is displayed as green but the color in the background color is an interesting issue of the way the cascade works

once we create a delta rule for the button to green background that rule overrides the disabled rule because the disabled rul

[2012-08-23 20:17] #3015 closed, assigned to billreed63

[2012-08-23 20:31] jhpedemonte commented on #2390
Closing this out, since the original intent of this issue has been accomplished.  Further work in #3060.

[2012-08-23 20:31] #2390 closed, assigned to jhpedemonte

[2012-08-23 20:39] jhpedemonte commented on #2941
I built against the Eclipse 4.3 Integration builds, which pulled in **org.eclipse.osgi_3.8.100.v20120820-131721.jar**.  Still see the same issue.

Either the fix in that bug didn't work, or it is not included in this version of the OSGi plugin.

That bug mentions that the fix went into Juno SR1 -- Juno === 4.2, right?  But plugin still shows 3.8.

If we want Zazl in for M7, we'll have to go with a

[2012-08-23 20:45] #3037 closed, assigned to billreed63

[2012-08-23 20:52] #2540 closed, assigned to billreed63

[2012-08-23 20:53] JonFerraiolo opened #3061 "On refresh, Files palette and New HTML can default to images/ folders"
@peller @childsb

Some of our Tree widgets are saving some cookies. Here are my cookies running on localhost:

[code]

The first big problem here is `resourceTreeSaveSelectedCookie=project1%2Fsamples%2Fsample_data%2Fimages%2Fclose.gif;` What that cookie is doing is preserving the last selection in the Files palette across sessions. The side effect of this is that the "current folder" at startup is

[2012-08-23 20:55] billreed63 commented on #1812
sending this to @doronrosenberg  I think he is doing the most with mobile widgets.. if you want you can send it back

[2012-08-23 20:56] aerwin commented on #3010
Closing with above commit.

[2012-08-23 20:56] #3010 closed, assigned to aerwin

[2012-08-23 20:57] billreed63 commented on #1578
sending to @doronrosenberg I think he has done the most with smart input lately. feel free to send back if you would like

[2012-08-23 20:59] billreed63 commented on #1719
sending to @doronrosenberg maybe it should go to @aerwin

[2012-08-23 20:59] jhpedemonte commented on #3061
I've gotten in similar issues with the _samples_ folder being selected on refresh -- when I go to create a new file, the **Create** button is disabled, because the _samples_ dir is selected and it is read-only.  I can see a user getting confused by this situation.

[2012-08-23 21:00] billreed63 commented on #124
@JonFerraiolo @jhpedemonte
-> M8

[2012-08-23 21:01] doronrosenberg commented on #1812
Not going to make m7 @jhpedemonte @JonFerraiolo

[2012-08-23 21:02] doronrosenberg commented on #1719
-> M8

[2012-08-23 21:03] #1550 closed, assigned to billreed63

[2012-08-23 21:04] #1714 closed, assigned to billreed63

[2012-08-23 21:04] billreed63 commented on #1714
seems to have been fixed

[2012-08-23 21:04] aerwin commented on #3018
Closing with above commit.

[2012-08-23 21:04] #3018 closed, assigned to aerwin

[2012-08-23 21:09] doronrosenberg commented on #3061
So Dojo 1.8 added the feature that Tree stores the last selection - before it only stored expansion of the tree.  There is only one parameter to set, so its either all or nothing.  I would say we remove storing any cookies related to the Files pallete as we have little time for m7.  Anyone against that?

[2012-08-23 21:11] aerwin commented on #3021
Probably goes with #124 on @billreed63 's list

[2012-08-23 21:12] aerwin commented on #2797
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-23 21:22] aerwin commented on #2740
@JonFerraiolo @jhpedemonte

-> M8
-> Sev 3 -> Sev 4
-> Title change from "GridX smart input resizing in fixed size dialog" to "GridX Smart Input: Disable user manipulation of resize knob on first panel text box"

@doronrosenberg dealt with #2385 so the dialog is resizable. With that, the text box also resizes as the dialog resizes.

I think the only thing left is that having a resize knob on the t

[2012-08-23 21:22] doronrosenberg commented on #3061
@peller This is weird, why would the Tree in the dialog get the cookie of the the files palette Tree? Different ids should mean they won't share data right?

[2012-08-23 21:24] aerwin commented on #2688
Fixed by @JonFerraiolo 's d421bba7298a5bd43bc1b6758bf3f0beee34fd7a .

In addition, I updated the test case in a different commit.

[2012-08-23 21:24] #2688 closed, assigned to aerwin

[2012-08-23 21:25] childsb commented on #2708
there's no easy way to inject a user/workspace/dojo url from the server.  we tried it once, but it was a very messy hack.

so the preview.html's outer dojo call is just for utility, and the users workspace dojo will eventually get loaded.  though its awkward, its more inline with workbench utilities (including the singlepreview.js module it loads from the maqetta workbench namespace) than the user

[2012-08-23 21:28] aerwin commented on #2474
Closing with above commit.

[2012-08-23 21:28] #2474 closed, assigned to aerwin

[2012-08-23 21:32] doronrosenberg commented on #3061
@peller nevermind, it isn't cookie based after all

[2012-08-23 21:33] aerwin commented on #1058
@jhpedemonte @JonFerraiolo

-> future
-> Prio Low

Overlays are pretty much broken (#2957), so I can't even evaluate if this is an issue any more. And, my understand is we aren't going to be shipping the Sept release with overlays on.

[2012-08-23 21:34] childsb commented on #2894
So it looks like we're already returning this info--->

Runtime.getUserInfo() returns:

{ userId: userId,
isLocalInstall: boolean,
userFirstName: firstName,
userLastName, lastName,
email:email}

so Runtime.getUserInfo().userFirstname  should get the users first name where you need it.

[2012-08-23 21:37] jhpedemonte commented on #2941
Re-enabled the Zazl build on _master_ and added the "-clean" argument when launching the server.  This workaround will do for M7.

Pushing this to M8 for further investigation then.  Hopefully we can fix this and remove "-clean".

[2012-08-23 21:39] JonFerraiolo commented on #3042
We will have to leave this one as is for M7. Pushing to M8.

I have figured out what coding changes are necessary for M8:
- In SelectTool.js:onMove(), for flow layout, use current value for `position` (which is `var position = { x:event.pageX, y:event.pageY};`) but more it higher in routine (above absolute positioning logic).
- For absolute layout, set `position` to the top/left corner of the curr

[2012-08-23 21:40] JonFerraiolo commented on #2924
Fixed this one about a week ago.

[2012-08-23 21:40] #2924 closed, assigned to JonFerraiolo

[2012-08-23 21:41] doronrosenberg commented on #3061
@jhpedemonte @JonFerraiolo

So when we build the new file dialog, we look if anything is selected in the Files Palette and use that directory as the default for the dialog.  Since tree now by default selects previous selections, it seems our only choice is to turn off all persisting in the files palette

[2012-08-23 21:43] jhpedemonte commented on #3061
Yes, I'm fine with not persisting selection in the Files view across app refreshes.

[2012-08-23 21:43] jhpedemonte commented on #2690
-> M8

[2012-08-23 21:45] jhpedemonte commented on #3014
-> @billreed63

[2012-08-23 21:46] jhpedemonte commented on #2957
-> M8

[2012-08-23 21:47] jhpedemonte commented on #2956
-> @doronrosenberg.  Push to M8?

[2012-08-23 21:48] jhpedemonte commented on #2953
Assigning to @peller for now.

[2012-08-23 21:49] jhpedemonte commented on #2910
-> @aerwin, to investigate further.

[2012-08-23 21:49] JonFerraiolo opened #3062 "Extra gray rectangle at bottom of "Widget" section of prop palette"
There is an extra gray rectangle at bottom of "Widget" section of prop palette

![incorrect gray area](http://i.imgur.com/RCb0f.png)

[2012-08-23 21:49] #3061 closed, assigned to doronrosenberg

[2012-08-23 21:50] jhpedemonte commented on #2944
-> @doronrosenberg

Is this still happening?

[2012-08-23 21:50] jhpedemonte commented on #2832
-> @doronrosenberg

[2012-08-23 21:51] jhpedemonte commented on #2734
-> M8

[2012-08-23 21:52] jhpedemonte commented on #2638
-> M8

[2012-08-23 21:52] jhpedemonte commented on #3027
-> @peller.  Can we get rid of these?  They don't seem to provide any utility.

[2012-08-23 21:54] JonFerraiolo opened #3063 "browser refresh with open file: class and id don't appear in properties palette"

[2012-08-23 21:56] #3063 closed, assigned to JonFerraiolo

[2012-08-23 22:08] rbackhouse commented on #2988
FYI for Zazl support I had to add a new method to the Library interface to obtain URL objects from the source location.

public abstract URL getSourceURL(String path);

org.davinci.ajaxLibrary.Library and org.davinci.ajaxLibrary.LibraryManager were modified for this change

[2012-08-23 22:09] aerwin commented on #2894
Well, not really though, right? :) Is the registration screen asking for first name now with Orion?

[2012-08-23 22:13] rbackhouse commented on #2941
I think to get this resolved we will have to file a bug report against equinox giving them the corrupted files. We may also have to provide a runnable example that demonstrates the failure. Should be as simple as providing a build and instructing how to remove the -clean. Hopefully they won't balk at the size of the example.

[2012-08-23 22:17] aerwin commented on #2894
@peller @jhpedemonte @JonFerraiolo @childsb

So, here's a proposal for every place (client and server) where we currently generate a string or label of the form `NAME <E-MAIL>`

psuedo-code:

[code]

Do folks agree?

[2012-08-23 22:32] JonFerraiolo commented on #3063
I logged the wrong commit with the wrong bug.   49b7f9c fixes #3062 whereas     67d596e fixes #3063 (this bug).

[2012-08-23 22:32] JonFerraiolo commented on #3062
Fixed  by 49b7f9c

[2012-08-23 22:32] #3062 closed, assigned to JonFerraiolo

[2012-08-23 22:52] aerwin commented on #2433
--> Reopening

Just tried with a cleared cache on the internal test server and had to click twice.. Ugh...  Keep thinking this one is fixed, but hard to tell as can be intermittent and generally only happens with our test servers.

[2012-08-23 22:56] #2672 closed, assigned to JonFerraiolo

[2012-08-23 22:59] jhpedemonte commented on #2894
Seems legit.

[2012-08-23 23:06] aerwin commented on #2894
Except... where it falls apart (which I forgot when I typed up the algorithm) is that userInfo.userID is going to be "A" or "B" or something like that in Orion.

So, probably need to eliminate userId from the algorithm (which sucks because there are server platforms which have valid user ids). So, algorithm becomes:

if (userInfo.firstName) {
    label = userInfo.firstName + "<" + userInfo.email +

[2012-08-23 23:12] JonFerraiolo opened #3064 "Empty state containers lost upon save and reopen"

[2012-08-23 23:14] aerwin commented on #2433
@doronrosenberg @peller Thoughts here?

Ok... put some break points running against the server and on first drop it gets into the `_create` function in `DataStoreBasedCreateTool`, but does NOT get inside the function inside the `then` on `loadRequires`:

[code]

This has to mean that the promises within load requires are not being fulfilled on first drop, right?

[code]

[2012-08-23 23:38] doronrosenberg commented on #2944
fixed a while back

[2012-08-23 23:38] #2944 closed, assigned to doronrosenberg

[2012-08-23 23:39] doronrosenberg commented on #2832
@aerwin I see a chrome-extension error in there, do you have any chrome extensions installed?

[2012-08-23 23:52] aerwin commented on #2832
@doronrosenberg Yes, lots of Chrome extensions. :) I should have noticed that when I opened the defect... guess I didn't look closely enough. I'll go ahead and close.

[2012-08-23 23:52] #2832 closed, assigned to doronrosenberg

[2012-08-24 00:06] aerwin commented on #2910
@jhpedemonte Do you know anything about where the code for these sample services lives, how they are deployed, etc.?

One of the messages is "Resource interpreted as Script but transferred with MIME type text/html" and no doubt looking at the response headers that's true. I'm not sure why the base dojo code as decided in 1.8 to pump out the same message over and over, but us fixing the content typ

[2012-08-24 00:17] doronrosenberg commented on #872
@jhpedemonte

-> m8, the files are now in parity with the other OSes except for one thing - I couldn't figure out how to do a 1.5 minimum JRE check as I don't know of a way to do string to int conversions.

[2012-08-24 00:21] doronrosenberg commented on #2956
yup -> m8, I think this is a dojo bug

[2012-08-24 01:33] peller commented on #2433
Yeah, probably worth stepping through loadRequires to see if the type resolves to a javascript module, etc.

[2012-08-24 01:35] peller commented on #3027
they do reflect a problem that had to be resolved in the code.  Please comment them out, for now.

[2012-08-24 01:37] peller commented on #3027
dup #2274

[2012-08-24 01:37] #3027 closed, assigned to peller

[2012-08-24 01:46] peller commented on #2708
zazl is called from the page, not the other way around, so it relies on the page to have the proper path for its script reference

[2012-08-24 01:47] doronrosenberg commented on #2433
hrm, local build here runs fine on firefox windows.

[code]

That code of mine is meant to check that all the results are not null/undefined, which means the loadRequires wasn't able to load it.

[2012-08-24 02:00] aerwin commented on #2433
Right, that's been the problem all along... only really happens on test server.

My theory is that this._context.loadRequires is never calling deferred.resolve in this test server case (which would be why @doronrosenberg 's `dojo.some` line never gets called). I was hoping whoever wrote `context.loadRequires` to be async could take a look... I've not tried yet, but I'm guessing stepping through th

[2012-08-24 02:03] peller commented on #2433
in order to not get in the then function, either the deferred is getting rejected and not logged (an error condition) which doesn't seem likely given the code, or there's faulty logic where deferred are getting created but never fired at all.

[2012-08-24 02:33] jhpedemonte commented on #2910
Well, one is on maqetta.org, so we'd need to properly set up the mime type for that file.

The one on appspot was uploaded by @billreed63, correct?  Not sure how that works or how to edit the mime type.

We can look to fix this issue, but we should also open a bug on Dojo to not output an endless amount of warnings/errors.

[2012-08-24 02:43] aerwin commented on #2910
I've looked at this a bit more since my last post...

I think I can open a legitimate Dojo issue against the `Uncaught TypeError:`'s because as I've explored this some more since my last post I notice they happen when I preview the page outside of the visual editor.

But, the unlimited MIME type errors only seem to occur when we first create a JSONP-based widget (not just GridX) in the visual edit

[2012-08-24 03:01] jhpedemonte opened #3065 "Orion error loading localhost:50000/maqetta"
With latest builds, when running locally and loading http://localhost:50000/maqetta, I get this error:

[code]

Doesn't happen all the time, but more than 50% of the time.

When in this failed state, I can log into Orion by going to http://localhost:50000 and see my workspace.  But going to `/maqetta` still fails.

[2012-08-24 03:02] jhpedemonte commented on #3065
This did start happening after I enabled Zazl plugins again.  Possibly related?

[2012-08-24 03:06] peller commented on #2988
-> @JonFerraiolo can you take another look?  I'm still not seeing any mobile scenes, and the -src libraries are effectively gone now.

[2012-08-24 03:07] jhpedemonte commented on #2945
-> @doronrosenberg

[2012-08-24 03:08] peller commented on #2955
appears to be fixed with b7fac7a1e78fd8612cff598b504f83b74fc0a261

[2012-08-24 03:08] #2955 closed, assigned to jhpedemonte

[2012-08-24 03:21] aerwin commented on #2910
Opened Dojo ticket for the uncaught type error's:
- Using JSONP (with ItemFileReadStore and xhrScriptPlugin) fills console with errors (http://bugs.dojotoolkit.org/ticket/15890)

[2012-08-24 03:22] #3032 closed, assigned to peller

[2012-08-24 03:26] jhpedemonte opened #3066 "Tab-less file"
While testing on Firefox, I was able to close a file's tab, but not it's contents:

![tabless](http://i.imgur.com/sAIln.png)

I was able to reproduce this a couple of times:
1. Click **Create > Desktop Application**, click **Create** button to open a new HTML page.  Don't add content.
2. Repeat for a 2nd file.
3. Right-click on current tab and select **Close all tabs**.
4. Click on **OK** when the

[2012-08-24 03:34] peller commented on #2808
could this have been fixed by d323e84d35da0eb1a1ca245ee0b16e9d02551203?

[2012-08-24 03:34] jhpedemonte opened #3067 "Minor issues with "Learn About Maqetta" section"
Some minor issues with the **Learn About Maqetta** section of the welcome page:

![welcome](http://i.imgur.com/s16wS.png)
1. Under **Tutorials**, the phrase "Let me start" sounds odd.  Change that to "Open Tutorials" -- that better matches the other actions.
2. The "View Videos" link is lower than the other 3.

[2012-08-24 03:35] peller commented on #3031
can't reproduce this now.  Could have been fixed by d323e84d35da0eb1a1ca245ee0b16e9d02551203?

[2012-08-24 03:42] aerwin commented on #3039
Closing with above commit. Got a helpful hint from Bill Keese and have been able to resolve this.

[2012-08-24 03:42] #3039 closed, assigned to aerwin

[2012-08-24 03:49] jhpedemonte opened #3068 "Reopening saved CSS file leads to error, bad UI"
Running **Tests > Main Menubar: Overview > Create menu: Create CSS File**.  Closed and reopened CSS file and Maqetta looked like this:

![css file gone bad](http://i.imgur.com/24wdG.png)

Notice the **white rectangle** overlaying the text and the beige border.

Saw this error in the console: `Error: Tried to register widget with id==davinci.js.cut but that id is already registered`

Afterwards, al

[2012-08-24 03:52] jhpedemonte commented on #3068
Oh, affects JavaScript editor as well.

[2012-08-24 03:54] jhpedemonte opened #3069 "Hitting Enter has no effect in New Theme dialog"
In **New Theme** dialog, after entering new name, hitting enter does not activate default action (**Create** button is bolded).

[2012-08-24 04:17] jhpedemonte opened #3070 "Right-click in Files view shows context menu with disabled items"
1. Make sure there is no selection at all in the Files view.
2. Right-click on a file.

Notice that the context menu's items are all disabled.

If you first make a selection in the Files tree before right-clicking (can do so on any file in the tree), then context menu items are properly enabled.

[2012-08-24 04:18] jhpedemonte commented on #3069
Also an issue with **Create New Folder** dialog (In Files view, right-click, select New Folder).

[2012-08-24 04:21] JonFerraiolo commented on #3031
I'm still seeing this when running from Eclipse using Mac/Chrome, pulling latest code from a few hours ago, which is after the above commit.

[2012-08-24 04:23] jhpedemonte opened #3071 "Upload file replaces nested folder"
cc @doronrosenberg
1. In Files view, right-click and select **New Folder**.  Choose the default name of "folder1".
2. Right-click on "folder1" and again select **New Folder**.  Again stay with name "folder1".
3. Right-click on inner "folder1" and select **Upload Files**.  Notice that the parent folder in the dialog shows `.../folder1/folder1`. Select and upload a file (I tested with image files).

[2012-08-24 04:26] jhpedemonte commented on #2460
This seems to be working for me, at least on Firefox.  Can you retest please.

[2012-08-24 04:28] JonFerraiolo commented on #2808
I put a breakpoint at Context.js:1298 (the `connect.connect` line below) and Context.js:1299 (the `this.onload()` line below):

[code]

and I'm hitting the breakpoint at `connect.connect` but not `this.onload`. My guess is that because of our deferred logic, the `connect.connect` event is registering an onload handler after the load event has already happened.

[2012-08-24 04:29] jhpedemonte opened #3072 "Context menu in Files view does not work on clicked item"
Tested on Firefox:
1. Click on **app.css** in the Files view.
2. Right-click on **app.js** and select Delete.  Notice that the alert dialog asks if you want to delete app.css, even though you clicked on app.js.

Most likely the cause of #3070.

[2012-08-24 04:30] jhpedemonte commented on #3069
And the **Rename** dialog (in Files view, right-click and select Rename).

[2012-08-24 04:31] JonFerraiolo commented on #2988
I'm seeing mobile views in the Scenes palette when running from Eclipse using Mac/Chrome, so closing.

[2012-08-24 04:35] jhpedemonte opened #3073 "Cannot open renamed folder"
Tested on Firefox:
1. Create a new folder and add a file inside.
2. Rename the folder.
3. Click on the **+** to open the folder.

Get an error in the console: `this.domNode is null` in getParent()

Can't open the folder until I refresh the page.

[2012-08-24 04:39] JonFerraiolo commented on #3066
I haven't been able to reproduce this yet. Were you running off of a server, off of a local install, or running from Eclipse? On a Mac, right?

[2012-08-24 04:43] jhpedemonte commented on #3066
Testing on maqetta-test, using Firefox/Mac.

[2012-08-24 04:48] JonFerraiolo commented on #3068
-> @doronrosenberg The stack trace shows that OutlineView.js is trying to create a popup menu, undoubtedly trying to use IDs that were used in a previously created popup menu. I'm not sure what exactly is going wrong. Maybe the old menu isn't getting destroyed properly?

[2012-08-24 04:52] #2988 closed, assigned to JonFerraiolo

[2012-08-24 04:54] JonFerraiolo commented on #2843
Closing. I haven't seen this issue recently.

[2012-08-24 04:54] #2843 closed, assigned to JonFerraiolo

[2012-08-24 04:54] JonFerraiolo commented on #2712
Pushing to M8. Haven't seen this problem recently.

[2012-08-24 04:55] JonFerraiolo commented on #2712
@jhpedemonte - pushed to M8 - haven't seen this recently.

[2012-08-24 04:58] jhpedemonte commented on #3065
Just tried deploy latest build to maqetta-test and this error happened 100% of the time.

[2012-08-24 05:02] jhpedemonte commented on #2712
I've seen it recently.  Usually can be recreated by opening a file (so widget palette is visible and populated) then modify libs in order to add/remove the widgets available -> causes filter box to appear.

[2012-08-24 05:03] JonFerraiolo commented on #2682
Just checked. Still a problem.

[2012-08-24 05:24] #3070 closed, assigned to doronrosenberg

[2012-08-24 05:24] doronrosenberg commented on #3072
yup a dupe

[2012-08-24 05:24] #3072 closed, assigned to doronrosenberg

[2012-08-24 05:25] #2682 closed, assigned to JonFerraiolo

[2012-08-24 05:27] JonFerraiolo commented on #2515
This issue was addressed weeks ago. Closing.

[2012-08-24 05:27] #2515 closed, assigned to JonFerraiolo

[2012-08-24 05:28] JonFerraiolo commented on #2491
This routine was rewritten a few weeks ago per the recommendation above. Closing.

[2012-08-24 05:28] #2491 closed, assigned to JonFerraiolo

[2012-08-24 05:31] #3068 closed, assigned to doronrosenberg

[2012-08-24 05:40] #2450 closed, assigned to JonFerraiolo

[2012-08-24 05:40] JonFerraiolo commented on #2439
Pushing to M8

[2012-08-24 05:43] JonFerraiolo commented on #2431
Pushing this to M8. Because of my comments above, we probably have to leave area select the way it is, but leaving open in case we come up with a viable algorithm for selecting widgets that are only partially inside the selection rectangle.

[2012-08-24 05:44] JonFerraiolo commented on #2219
This was fixed in M7 because selection chrome is now in the Maqetta frame rather than the user iframe.

[2012-08-24 05:44] #2219 closed, assigned to JonFerraiolo

[2012-08-24 05:45] JonFerraiolo commented on #2175
Pushing to M8, when we hope to do a major UI makeover on the Widgets palette.

[2012-08-24 05:49] aerwin commented on #2428
Closing... this no longer appears to be an issue.

[2012-08-24 05:49] #2428 closed, assigned to aerwin

[2012-08-24 05:50] #2174 closed, assigned to JonFerraiolo

[2012-08-24 05:52] aerwin commented on #1712
I no longer see that console.warn statement, so closing.

[2012-08-24 05:52] #1712 closed, assigned to aerwin

[2012-08-24 06:05] aerwin commented on #568
Closing after looking at the behavior on GridX... It appears changing background color on GridX adds "background: red" to the style props for the &lt;table&gt; . And, when this is rendered changes the background of the non-data row part of the table body. I think this is all we can expect.

Eventually, GridX will be in the theme editor making it possible to style other parts of the GridX graphical

[2012-08-24 06:05] #568 closed, assigned to aerwin

[2012-08-24 06:39] aerwin commented on #2533
Closing... Looking at this file more closely, it's malformed. That is, the first row contains 3 entries while the 2nd row contains probably 40. And, for this data, it's really the 2nd row that you'd want to use as headers anyway.

When I remove the 1st row, GridX and the GridX wizard works just file loading from a file.

[2012-08-24 06:39] #2533 closed, assigned to aerwin

[2012-08-24 12:59] billreed63 commented on #3031
The root cause of this issue is issue #2808, once that issue is fixed this issue will be resolved.

[2012-08-24 13:19] JonFerraiolo commented on #2140
@jhpedemonte

Too late and too risky for M7. -> M8 Prio High

Probably the way to pull this off is to put invisible DIVs around the 4 edges of the user iframe, where these DIVs are 8px wide (same size as the DIVs holding the gradients the surround the user iframe when in desktop authoring mode), and then attach the same mouse event listeners to these DIVs as are used on the user iframe.

[2012-08-24 13:21] JonFerraiolo commented on #2122
@jhpedemonte

-> M8

[2012-08-24 13:24] JonFerraiolo commented on #2055
@jhpedemonte -> M8 Prio High

Right now if you drop a new widget on selection chrome, no widget gets added. That's something that definitely should be fixed. However, the fix is non-trivial, so too late for M7.

[2012-08-24 13:27] JonFerraiolo commented on #2054
-> M8

Note that I'm not aware of any user complaints about our setting width=height=100%

[2012-08-24 13:27] billreed63 commented on #3014
dup #2454

[2012-08-24 13:27] #3014 closed, assigned to billreed63

[2012-08-24 13:28] JonFerraiolo commented on #2051
@jhpedemonte

-> M8

[2012-08-24 13:31] billreed63 commented on #3052
was fixed by #3046

[2012-08-24 13:31] #3052 closed, assigned to billreed63

[2012-08-24 13:41] JonFerraiolo commented on #2049
@jhpedemonte - pushing to M8. All of the above code has been in product forever, so most likely thing is that there is code above that can be yanked, but we don't want to do any such code removal at this late stage of M7.

[2012-08-24 13:41] JonFerraiolo commented on #1995
-> M8 Prio High

[2012-08-24 13:42] JonFerraiolo commented on #1967
@jhpedemonte Pushing additional work in this area to M8

[2012-08-24 13:43] JonFerraiolo commented on #1948
-> M8

[2012-08-24 13:44] #2555 closed, assigned to billreed63

[2012-08-24 13:46] billreed63 commented on #83
@JonFerraiolo @jhpedemonte
-> M8

[2012-08-24 13:47] JonFerraiolo commented on #1804
Pushing to M8 Prio-High so it will get addressed early in the cycle - too bad I forgot about this issue. We have a fix, but too risky to put it into M7 this late in cycle.

[2012-08-24 13:47] JonFerraiolo commented on #1748
-> M8

[2012-08-24 13:48] JonFerraiolo commented on #1570
-> M8

[2012-08-24 13:48] JonFerraiolo commented on #1442
-> M8

[2012-08-24 13:48] JonFerraiolo commented on #1421
-> M8

[2012-08-24 13:49] JonFerraiolo commented on #1417
-> M8

[2012-08-24 13:49] JonFerraiolo commented on #1406
-> M8

[2012-08-24 13:50] JonFerraiolo commented on #544
Closing. We have a nice welcome page now.

[2012-08-24 13:50] #544 closed, assigned to JonFerraiolo

[2012-08-24 13:50] JonFerraiolo commented on #608
-> M8

[2012-08-24 13:50] JonFerraiolo commented on #684
-> M8

[2012-08-24 13:51] JonFerraiolo commented on #505
-> M8

[2012-08-24 13:51] JonFerraiolo commented on #477
-> M8

[2012-08-24 13:52] JonFerraiolo commented on #451
M7 has the new banner now. Closing.

[2012-08-24 13:52] #451 closed, assigned to JonFerraiolo

[2012-08-24 13:52] JonFerraiolo commented on #378
-> M8

[2012-08-24 13:53] JonFerraiolo commented on #1417
Closing as dupe of #376

[2012-08-24 13:53] #1417 closed, assigned to JonFerraiolo

[2012-08-24 13:54] JonFerraiolo commented on #376
-> M8

Additional discussion under #1417

[2012-08-24 13:54] JonFerraiolo commented on #374
Fixed in M7. Closing.

[2012-08-24 13:54] #374 closed, assigned to JonFerraiolo

[2012-08-24 13:59] JonFerraiolo commented on #343
@peller @jhpedemonte

Pushing to future. In M7, all of the editor icons on toolbar (undo, redo, etc) are disabled when in source-only view, so the worst parts of this issue have been addressed.

However, any source editor changes right now are not stored on the undo stack. We really should allow source changes to be undone. To implement, we would probably have to store the entire old HTML text and

[2012-08-24 14:07] JonFerraiolo opened #3074 "Source changes should clean the undo stack"
@jhpedemonte @billreed63
- New desktop application
- Add a dijit Button
- Go into source view and delete the markup for the INPUT corresponding to the Button
- Return to design view
- Press the Undo button, then Redo button

Result=> Uncaught TypeError: Cannot call method 'indexOf' of undefined

This showcases a policy issue that we have with the product right now regarding the interaction of sour

[2012-08-24 14:07] JonFerraiolo commented on #335
-> M8.

[2012-08-24 14:08] JonFerraiolo commented on #192
-> M8

[2012-08-24 14:08] JonFerraiolo commented on #188
-> M8

[2012-08-24 14:09] JonFerraiolo commented on #329
This has been addressed as part of UI changes in M7. Closing.

[2012-08-24 14:09] #329 closed, assigned to JonFerraiolo

[2012-08-24 14:09] peller commented on #2460
does appear to be working now

[2012-08-24 14:09] #2460 closed, assigned to doronrosenberg

[2012-08-24 14:09] JonFerraiolo commented on #305
Getting close, but not yet fully completed.

-> M8

[2012-08-24 14:09] JonFerraiolo commented on #277
-> M8

[2012-08-24 14:09] JonFerraiolo commented on #282
-> M8

[2012-08-24 14:11] JonFerraiolo commented on #154
I actually implemented a duplicate command for M7, but I then removed it from the UI mostly because I didn't want to take up real estate on the toolbar. There is still a DuplicateAction.js in the code base. Easily resurrected.

-> future

[2012-08-24 14:12] JonFerraiolo commented on #154
Actually, closing. If people want to restore the duplicate command, then we can reopen.

[2012-08-24 14:12] #154 closed, assigned to JonFerraiolo

[2012-08-24 14:12] JonFerraiolo commented on #55
-> M8

[2012-08-24 14:12] JonFerraiolo commented on #30
-> M8

[2012-08-24 14:14] JonFerraiolo commented on #41
Closing. Giving up on the 25% goal. Instead, the left-side palettes (which are the most important) are sized to fixed pixel amounts because we can't make them smaller without critical info getting clipped, and we don't want to make them bigger because we want the canvas to be as large as possible.

[2012-08-24 14:14] #41 closed, assigned to JonFerraiolo

[2012-08-24 14:14] JonFerraiolo commented on #42
Closing. The whole UI has been redone in M7 per specs from visual designers.

[2012-08-24 14:14] #42 closed, assigned to JonFerraiolo

[2012-08-24 14:15] JonFerraiolo commented on #359
-> M8

[2012-08-24 14:30] aerwin commented on #2443
@JonFerraiolo @jhpedemonte

--> M8

Seems kind of risky at this point in M7.

[2012-08-24 14:31] #2958 closed, assigned to billreed63

[2012-08-24 14:36] billreed63 commented on #2376
@JonFerraiolo @jhpedemonte
-> m8

[2012-08-24 14:41] JonFerraiolo commented on #1499
-> M8

[2012-08-24 14:41] JonFerraiolo commented on #1520
-> M8

[2012-08-24 14:42] aerwin commented on #2715
@jhpedemonte @JonFerraiolo

-> M8
-> Changing title to "Need to strip out `dojo/connect` script tags for event handling"

Had briefly started to look more closely at how to do this last night, but I noticed @JonFerraiolo deferred an issue that seems related this morning -- _Need better code for stripping out event attrs_ (#1804). Seems like this work should go somewhat hand in hand with that.

[2012-08-24 14:42] JonFerraiolo commented on #1616
-> M8 there are a series of fixes similar to this, all of which we didn't have time to address in M7

[2012-08-24 14:43] JonFerraiolo commented on #1458
-> M8

[2012-08-24 14:43] aerwin commented on #1804
@JonFerraiolo

Perhaps when you get to this one, we can collaborate to consider how #2715 ("Need to strip out `dojo/connect` script tags for event handling") would fit in.

[2012-08-24 14:44] JonFerraiolo commented on #1302
-> M8

[2012-08-24 14:44] JonFerraiolo commented on #1358
-> M8

[2012-08-24 14:45] JonFerraiolo commented on #1262
-> M8

[2012-08-24 14:45] JonFerraiolo commented on #1195
Closing. Was addressed as part of M7 UI makeover effort.

[2012-08-24 14:45] #1195 closed, assigned to JonFerraiolo

[2012-08-24 14:46] JonFerraiolo commented on #1042
Fixed as part of M7 UI makeover.

[2012-08-24 14:46] #1042 closed, assigned to JonFerraiolo

[2012-08-24 14:46] JonFerraiolo commented on #1039
Closing. Was fixed as part of M7 UI makeover effort.

[2012-08-24 14:46] #1039 closed, assigned to JonFerraiolo

[2012-08-24 14:46] JonFerraiolo commented on #884
This has been fixed. Closing.

[2012-08-24 14:46] #884 closed, assigned to JonFerraiolo

[2012-08-24 14:47] JonFerraiolo commented on #925
-> M8

[2012-08-24 14:47] JonFerraiolo commented on #1033
-> M8

[2012-08-24 14:47] JonFerraiolo commented on #870
-> M8

[2012-08-24 14:48] JonFerraiolo commented on #739
-> M8

[2012-08-24 14:48] JonFerraiolo commented on #735
-> M8

[2012-08-24 14:48] JonFerraiolo commented on #1391
Haven't seen this in awhile, but leaving open and pushing to M8

[2012-08-24 14:49] JonFerraiolo commented on #1850
-> M8

[2012-08-24 14:49] JonFerraiolo commented on #2975
-> M8

[2012-08-24 14:50] JonFerraiolo commented on #2901
-> M8

[2012-08-24 14:52] JonFerraiolo commented on #2591
Closing. Too late to attempt a fix, and then the problem will mostly go away in future as we can expect most user files will have been created by M7 with the new markup syntax.

[2012-08-24 14:52] #2591 closed, assigned to JonFerraiolo

[2012-08-24 14:53] JonFerraiolo commented on #2484
-> M8

[2012-08-24 14:53] JonFerraiolo commented on #2324
-> M8

[2012-08-24 14:53] JonFerraiolo commented on #2291
-> M8

[2012-08-24 14:54] JonFerraiolo commented on #2221
-> M8

[2012-08-24 14:54] aerwin opened #3075 "Update mime-type of sample services for JSONP"
--> @jhpedemonte (as a start)

@billreed63

Sprin-off from #2910...

When we configure JSONP using one of our sample services, we get messages like "Resource interpreted as Script but transferred with MIME type text/html".  And, at creation type we get a lot of them.

Looking at the response headers, this is true:

[code]

Response content:

[code]

In #2910, @jhpedemonte wrote:

[2012-08-24 14:55] #2889 closed, assigned to doronrosenberg

[2012-08-24 14:57] aerwin commented on #2910
@jhpedemonte @JonFerraiolo

-> M8
-> Change title to "Using JSONP (with ItemFileReadStore and xhrScriptPlugin) fills console with errors"
-> Spin-off mime-type portion to #3075

The Dojo team has classified the ticket I opened for the uncaught type errors as a regression and assigned a target release of 1.8.1.

[2012-08-24 15:16] JonFerraiolo commented on #3064
-> M8

[2012-08-24 15:16] JonFerraiolo commented on #2993
-> M8

[2012-08-24 15:35] peller commented on #1935
-> M8

[2012-08-24 15:47] childsb commented on #3065
@rbackhouse @jhpedemonte @peller  i was able to re-create this in eclipse/dev environment just by adding the zazl feature to the maqetta launch script ((mimicking the build)).

so it looks like zazl is somehow causing this.  any ideas? i dont see any zazl errors in the logs

[2012-08-24 15:55] rbackhouse commented on #3065
The stack trace suggests that line 35 in OrionUserManager is returning null;

[code]

My guess would be that the ConfiguratorActivator, assuming it is the Activator class for a bundle has not completed activation. Perhaps the bundle is not starting ?

[2012-08-24 16:00] jhpedemonte opened #3076 "In Theme Editor, disable "Widget" view since it is always empty"
@billreed63

With the latest UI, when in the Theme Editor, the **Widget** view in the right-hand panel is always empty.  Unfortunately, it is also the default selected view.  Doesn't look good.

**Proposal:**  Disable the _Widget_ view when in the Theme Editor and default to opening _Events_ (or some other Properties view).

[2012-08-24 16:02] rbackhouse commented on #3065
You can do a "ss" command in the osgi console to see the status of the "org.eclipse.orion.server.configurator" bundle. My guess is that it is not "Active" and thus the singleton it provides is null. I'm not sure I understand how Zazl can be affecting this though.

[2012-08-24 16:03] jhpedemonte opened #3077 "Preferences > Project Settings is empty"
**Preferences > Project Settings** is empty.  This is a regression from M6.

@JonFerraiolo

[2012-08-24 16:06] jhpedemonte opened #3078 ""Error modifying value" dialog has focus on link"
The **Error modifying value** dialog has the default selection on the link, rather than on the OK button.  This means that if the user hits **Enter**, Maqetta will open the link in a new tab rather than dismissing the dialog, which is what the user expects.

[2012-08-24 16:10] jhpedemonte opened #3079 "Eyeballs (hide widget) don't work as expected in TabContainer"
1. Drag a TabContainer on page and add widgets into each tab.
2. Show Outline and notice that the added widgets are in ContentPane children of TabContainer.
3. Click on eyeball next to one of the ContentPanes.  Notice that widget children of ContentPane are still visible.

Setting to M7 in order to investigate -- can be pushed to M8 if deemed _low impact_ or _too risky_ to fix.

@JonFerraiolo

[2012-08-24 16:12] jhpedemonte opened #3080 "Better UI for read-only files/folders"
I don't like the UI for read-only files folders.  They look **disabled**, as if they cannot be used.  But I can open up 'samples' folder and open up 'Sample1.html'.

**Proposal:** Create a special icon for read-only files, maybe with a lock in the lower right of the icon.  Show items with normal text color (i.e. not disabled).

---

**Proposal Addendum:** _(from Jon)_

[2012-08-24 16:16] aerwin opened #3081 "Choose File Dialogs -- Dbl-click should open file"
@doronrosenberg

Spin-off from #2937... I think some dialogs were missed during the work on #2937...
- Select image for background

![GitHub Logo](http://i.imgur.com/hA3My.png)
- Open -> Review... dialog

[2012-08-24 16:32] jhpedemonte opened #3082 "Need icon for "Orion Navigator" menu item"
Currently, the icon for **Open > Orion Navigator** is a scissor.  We should put in something more appropriate.

[2012-08-24 16:38] jhpedemonte opened #3083 "Fix UI startup sequence, to not be so chaotic"
When loading Maqetta (or refreshing) I see the welcome page appear, then the empty left and right panels appear, before finally closing.  Doesn't look good.  Test on Firefox, which is slower and will show this better.

Is there a way to show the left/right panels with first opening them up fully?

[2012-08-24 16:44] jhpedemonte commented on #3066
I was able to reproduce this on Firefox and Chrome (Mac) when running from source.  I updated the summary with more detailed recreation steps.

[2012-08-24 16:47] jhpedemonte commented on #2324
See my [proposal](https://github.com/maqetta/maqetta/issues/2143#issuecomment-7650462) in #2143.

[2012-08-24 16:48] jhpedemonte commented on #2975
Can we reconsider for M7?  It's an annoying behaviour.  Is the fix too risky?

[2012-08-24 16:55] JonFerraiolo commented on #2975
Moved back to M7 for further consideration.

[2012-08-24 16:58] JonFerraiolo commented on #3083
There probably is a way to pull this off. I intended to get to this sooner or later, just haven't done so yet. I expect fixing this takes a certain amount of work and entail some risk.

[2012-08-24 17:00] childsb commented on #3065
It shows active:
23  ACTIVE      maqetta.server.orion.w3.hosted_1.0.0.qualifier
24  ACTIVE      maqetta.shapes_1.0.0.qualifier
25  ACTIVE      maqetta.zazl_1.0.0.qualifier
26  ACTIVE      org.apache.commons.codec_1.3.0.v201101211617

Also I see this on startup:
2012-08-24 11:59:14.197 [Start Level Event Dispatcher] INFO  org.eclipse.orion.server.config - Server configuration file loaded from: /Use

[2012-08-24 17:03] rbackhouse commented on #3065
What about the "org.eclipse.orion.server.configurator" bundle though ?

That is the one that is providing the ConfiguratorActivator.getDefault().getAuthService() code.

[2012-08-24 17:06] childsb commented on #3065
That plugin looks alive and well.  Here's the entire ss result:

"Framework is launched."

id  State       Bundle
0   ACTIVE      org.eclipse.osgi_3.8.0.v20120529-1548
1   ACTIVE      org.eclipse.equinox.simpleconfigurator_1.0.300.v20110815-1744
2   ACTIVE      ch.qos.logback.classic_1.0.0.v20111214-2030
                Fragments=108
3   ACTIVE      ch.qos.logback.core_1.0.0.v20111214-2030
4   RES

[2012-08-24 17:07] billreed63 opened #3084 "Exception when setting target node ids property on dijit.Menu"
Add a button to an empty page (it's as good a trigger node as anything).
Give the button an id
Add a dijit.menu to the page
Set context menu for window to false on the menu (probably not important).
Now, try to set the target node ids property for the menu to refer to the id of the button (to make it the context menu for the button).

[2012-08-24 17:13] rbackhouse commented on #3065
My guess is that you are hitting a timing issue. The OrionUserManager constructor is getting called before the ConfiguratorActivator is complete. That is where authenticationService is being assigned.

I would suggest making

authenticationService = ConfiguratorActivator.getDefault().getAuthService();

lazy as part of the getUser call

[code]

[2012-08-24 17:40] JonFerraiolo commented on #2486
@jhpedemonte

Pushing to M8

[2012-08-24 17:42] JonFerraiolo commented on #1571
Fixed with M7 UI makeover

[2012-08-24 17:42] #1571 closed, assigned to JonFerraiolo

[2012-08-24 17:42] JonFerraiolo commented on #39
This has been fixed in things that went into M6 and M7.

[2012-08-24 17:42] #39 closed, assigned to JonFerraiolo

[2012-08-24 17:53] billreed63 commented on #2102
We should do this for all widget properties not just CSS
For example so widgets take array so the user must enter the data as ex dijit.menut targetNodeId ['button1', 'button2']
if the user just enters button1 we get an exception when Modifying the widget #3084

[2012-08-24 17:57] JonFerraiolo commented on #3082
@jmockler @jinsil

Yes, we need a proper icon. Let me study this. My first inclination is to use the same 3 small dark circles (Orion's belt) that they use in various parts of their UI, and to scour around for a 16x16 icon with the 3 circles.

[2012-08-24 17:57] JonFerraiolo commented on #3082
Moving to Prio-High - it's really ugly now and should be a snap to fix.

[2012-08-24 17:58] billreed63 commented on #3084
targetNodeId takes an array of id's so if the user enters `button1` in the edit box an exception is thrown in the dojo code. if the user enters the proper format `['button1']` then the code works and no exception is thrown.

So we need to add property validation to the properties palette for widget properties as will as CSS #2102

[2012-08-24 18:09] #3071 closed, assigned to doronrosenberg

[2012-08-24 18:09] #3073 closed, assigned to doronrosenberg

[2012-08-24 18:52] childsb commented on #3065
Why would the inclusion of zazl introduce timing issues?  I tried waiting for 5 mins after launching the server to hit the page, but with the same error.

With that said, I added a lazy load accessor method for the authentication service and that did fix the problem.

[2012-08-24 18:55] rbackhouse commented on #3065
You have more bundles loading. Using statics and OSGi opens up these sort of problems when those statics are initialized by activators. OSGi services are a much more robust approach.

[2012-08-24 19:02] #3065 closed, assigned to childsb

[2012-08-24 19:04] childsb commented on #2894
Looks good to me.  All we'd have to do for firstname/lastname is add fields on signup that require them.

[2012-08-24 19:33] aerwin commented on #3017
Closing with above commit.

[2012-08-24 19:33] #3017 closed, assigned to aerwin

[2012-08-24 19:48] peller commented on #3065
see 4c9e75c56d61b32a4dc0e2bdf77aa77bea0453e7

[2012-08-24 19:50] peller commented on #2769
Based on today's call, we can have a single checkbox in the Download... dialog to indicate that the user wishes to download unoptimized sources where available.  Box should be checked by default for Eclipse projects, unchecked by default otherwise.

[2012-08-24 20:01] #3066 closed, assigned to JonFerraiolo

[2012-08-24 20:12] billreed63 commented on #2408
all existing themes that have html files in their theme folder need to be migrated
from

[code]

to

[code]

or we get an exception when the themeEditor loads and the spinning wheel.

[2012-08-24 20:21] #3005 closed, assigned to JonFerraiolo

[2012-08-24 20:37] #3082 closed, assigned to JonFerraiolo

[2012-08-24 20:42] #3024 closed, assigned to doronrosenberg

[2012-08-24 20:42] #3069 closed, assigned to doronrosenberg

[2012-08-24 20:45] JonFerraiolo opened #3085 "Add "Insert table" command wherever table row/column commands exists"
Per decision in #3000, let's add an "Insert table" command in 2 places:
- toolbar: table commands icon
- context menu on visual editor

One implementation complexity is that we will have to somehow immediately move to CreateTool in the same manner that we do when you click on a widget in the widget palette for a subsequent click on the canvas.

There are some sub-issues that we need to resolve:
-

[2012-08-24 20:46] billreed63 commented on #2408
<h2>To migrate Preview 6 themes which are based on dojo 1.7:</h2>

 in this example the theme would be claro_p6
claro_p6.theme contains:

[code]

1) The user would clone the current claro theme (dojo 1.8)  for this example claro_p7
2) Edit the cloned CSS file, example claro_p7/claro_p7,css :

[code]

[2012-08-24 20:46] JonFerraiolo commented on #3000
During a UI meeting today, people agreed with my proposal above to add an "Insert table" command in the M8 release. For M7, we'll leave things as they are now (which is a strange table icon that seems to have a submenu of commands that are always deactivated.)

Closing this UI issue as resolved. Opened a new issue #3085 for "insert table".

[2012-08-24 20:46] #3000 closed, assigned to JonFerraiolo

[2012-08-24 20:47] JonFerraiolo commented on #2487
-> M7 Prio Med. Not a ship-stopper, but highly desirable.

[2012-08-24 20:55] JonFerraiolo commented on #3051
Closing. Other people's annotations are showing up now.

[2012-08-24 20:55] #3051 closed, assigned to JonFerraiolo

[2012-08-24 21:11] peller commented on #2708
@childsb points out that the reference is correct.   It's for the silhouette.  We want zazl to process the document within the iframe which _does_ have lib/\* references.

The MaqettaZazl filter is only supposed to operate on urls matching maqetta/user, so it should be filtering the inner document and not the outer document.  This line in the filter says so:

[code]

Wonder why it's not working?

[2012-08-24 21:23] billreed63 commented on #2408
<h2> To Migrate pre  preview 6 themes </h2>

These themes are pre delta themes and we should really encourage users to start over.

in this example the theme is green

green.theme file contains:

[code]

1) The user would clone the current claro theme (dojo 1.8) for this example claro_p7
2) Edit the cloned CSS file, example claro_p7/claro_p7,css

[code]

3) Download the theme file example claro_p7

[2012-08-24 21:26] #3083 closed, assigned to JonFerraiolo

[2012-08-24 21:34] painbank opened #3086 "license not shown in Readme.md"
please document what the code is licensed under.

[2012-08-24 21:38] billreed63 commented on #2408
<h2> Post version 1 </h2>

We will need to migration code to themeEditor open  and theme clone that checks the version of the theme and if the theme is pre current version asks the user if they would like to migrate the theme.
IWe then migrate the theme to the current level.

[2012-08-24 21:41] #3077 closed, assigned to doronrosenberg

[2012-08-24 21:41] #3081 closed, assigned to doronrosenberg

[2012-08-24 22:59] #3076 closed, assigned to JonFerraiolo

[2012-08-24 23:53] #2975 closed, assigned to JonFerraiolo

[2012-08-25 00:11] #2969 closed, assigned to JonFerraiolo

[2012-08-25 02:14] #3079 closed, assigned to doronrosenberg

[2012-08-25 02:18] doronrosenberg commented on #3078
@peller is there any dojo magic to force focus using attributes?

[2012-08-25 02:37] peller commented on #3078
does putting type=submit on the ok button within a form supercede the link focus?

[2012-08-25 03:04] peller commented on #3061
According to @JonFerraiolo's original report, it looks like other trees are saving cookies.   We tried turning off persistence of trees a few releases ago.  Unfortunately, it has to be done on each tree, as persist:true is the default.  It looks like there's a tree without a dialog doing the persistence... perhaps a new dialog somewhere?

[2012-08-25 03:10] peller opened #3087 "Open File tree widget is persisting cookies"
tree widget in this dialog should probably have an id associated with it, just in case this cookie feature causes problems again (cookies will have a fixed name if id is used)  persist should be set to false.

[2012-08-25 03:10] peller commented on #3061
open file dialog: #3087

[2012-08-25 03:31] #2808 closed, assigned to peller

[2012-08-25 04:51] #3087 closed, assigned to doronrosenberg

[2012-08-25 05:04] doronrosenberg commented on #3078
@peller the dialog already has a type="submit" button.

[2012-08-25 14:01] #2612 closed, assigned to JonFerraiolo

[2012-08-25 14:03] JonFerraiolo commented on #2923
I believe I fixed this yesterday when addressing a different issue. Closing.

[2012-08-25 14:03] #2923 closed, assigned to JonFerraiolo

[2012-08-25 14:16] #2920 closed, assigned to JonFerraiolo

[2012-08-25 14:21] JonFerraiolo commented on #3058
Closing. I verified that the above menu commands don't cause any trouble when invoked in source-only mode.

[2012-08-25 14:21] #3058 closed, assigned to JonFerraiolo

[2012-08-25 14:21] JonFerraiolo commented on #2485
-> M8

[2012-08-25 14:28] peller commented on #3078
This is just HTML keyboard behavior at this point, right?  Not sure how keyboard a11y is supposed to work in this case.

[2012-08-25 14:37] JonFerraiolo commented on #2456
-> @billreed63

What's wrong is that all of the `enableWidgetFocusFrame_*` DIVs need to have their bounds recomputed after any theme editor style changes. I set a breakpoint at ThemeEditor.js:867 (`enableWidget()`) and it gets called for each widget at theme editor initialization time, but doesn't get called again to reset selection box sizes after execution of a StyleCommand. We need to add an ap

[2012-08-25 14:40] JonFerraiolo opened #3088 "Theme editor exception when using using subwidgets"
I'm getting an exception at CSSThemeProvider.js:97:

[code]
- Clone claro
- Select the Calendar
- Select the "Selected date" subwidget
- Click on the Accordion

Result=> above exception

[2012-08-25 15:00] JonFerraiolo commented on #2027
-> @billreed63

@childsb

I traced through the code for the scenario described above, and I'm scratching my head about this logic at Cascade.js:484:

[code]

What's going on in this case is that, for the `border` property, there are 19 shorthands. The above logic looks through each of the 19 shorthands to see if there is a style rule corresponding to that shorthand. For this particular cases, ther

[2012-08-25 15:04] JonFerraiolo commented on #1372
This seems to have been fixed along the way. We now have logic that makes the currently selected view visible.

[2012-08-25 15:04] #1372 closed, assigned to JonFerraiolo

[2012-08-25 15:07] JonFerraiolo opened #3089 "Selection chome can overlap source view when in split view"
- New Mobile App
- Add a View
- Go into Split-H mode

Result=> Selection chrome shows on top of source view

[2012-08-25 15:49] aerwin opened #3090 "R&C: Clicking on reviewer entry in Comments View filtering pull-down has no affect"
--> @aerwin

Looking at this briefly suspect something changed in 1.8 because events aren't flowing, but I also question how some of it was written on our side. So, think need to look at it some more and potentially do some refactoring within CommentsView.js.

[2012-08-25 15:55] aerwin commented on #2992
--> assigning from "no milestone" to "M7" so it gets tracked better

[2012-08-25 15:55] aerwin commented on #3035
--> assigning from "no milestone" to "M7" so it gets tracked better

[2012-08-25 15:57] aerwin commented on #326
--> unassigned to @JonFerraiolo (to assess if still valid issue after a year)
--> assigning from "no milestone" to "M7" so it gets tracked better, but imagine will get moved to M8

[2012-08-25 15:59] aerwin commented on #2801
--> assigning from "no milestone" to "M7" so it gets tracked better
--> no prio to Prio High to get response

[2012-08-25 16:07] aerwin commented on #3086
-> no milestone to M7 to get tracked better

@painbank

I just downloaded the nightly build (http://maqetta.org/nightly/) and see a LICENSE file right in the top directory. Is there something else you are looking for? Or, perhaps, you have a older driver that maybe didn't have this LICENSE file in it for some reason?

[2012-08-25 16:10] aerwin commented on #616
--> @JonFerraiolo (still an issue a year later?)
--> no milestone to M7 to get tracked better

[2012-08-25 16:13] aerwin commented on #2911
--> no milestone to M7 to get tracked better

[2012-08-25 16:14] aerwin commented on #348
--> @JonFerraiolo  (thinking no longer an issue a year later?)
--> no milestone to M7 to get tracked better

[2012-08-25 16:15] aerwin commented on #680
--> @aerwin (to evaluate if still an issue a year later)
--> no milestone to M7 to get tracked better

[2012-08-25 16:25] aerwin commented on #2981
Closing with above commit.

[2012-08-25 16:25] #2981 closed, assigned to aerwin

[2012-08-25 17:24] #3089 closed, assigned to JonFerraiolo

[2012-08-25 17:42] JonFerraiolo commented on #3017
I tweaked the visual styling with this commit: https://github.com/maqetta/maqetta/commit/6e7b1f44e6ece490cb825bc9a496798c09e58f06

[2012-08-25 18:13] peller commented on #3035
dojo-src should now be handled like gridx-src.  Exactly how source libraries will be downloaded is being handled in #2769. Can we close this issue?

[2012-08-25 18:45] JonFerraiolo commented on #2951
Most of this is fixed, but pushing the rest of this issue to M8.

With recent commits, things are much better because the selection chrome is clipped to the bounds of the visual designer's ContentPane, plus another 8px or so that selection border and nobs can appear for widgets that are at the edge of the canvas. Therefore, the worst parts are fixes.

However, there is still one undesirable aspect

[2012-08-25 18:49] JonFerraiolo commented on #2269
Pushing these picayune details to M8

[2012-08-25 18:52] JonFerraiolo commented on #616
Pushing to M8, and even M8 is doubtful.

After thinking about this some more, there are real issues with moving sticky notes out of the user iframe. What happens in Preview? With mobile devices, we have our own previewer, and therefore it is conceivable that the previewer could display the sticky notes as overlays?

There might be viable options, but any option is likely to represent a lot of work

[2012-08-25 19:33] aerwin commented on #3035
Fine with me if covered elsewhere. Closing.

[2012-08-25 19:33] #3035 closed, assigned to childsb

[2012-08-25 19:41] aerwin commented on #2752
--> @aerwin

This appears to be working... think this is a dup against some other fixes I made recently. So, closing as well.

[2012-08-25 19:41] #2752 closed, assigned to aerwin

[2012-08-25 19:44] aerwin commented on #2686
@peller

Is there a scenario on this one? I'm not seeing this scenarios I normally run, and I suspect perhaps fixed by other changes I've made recently?

[2012-08-25 20:15] aerwin opened #3091 "Can't close last editor"
At some point today I did a "git pull" and lost ability to close the last editor:
1. Open HTML file file (so there's one open editor)
2. Close the file and get exception:

Uncaught TypeError: Cannot read property 'editorID' of null Workbench.js:1758
(anonymous function) Workbench.js:1758
Runtime.getExtensions Runtime.js:230
Runtime.getExtensions Runtime.js:229
Workbench._bringPalettesToTop Workben

[2012-08-25 20:24] JonFerraiolo opened #3092 "States not working in preview (I have a fix)"
@doronrosenberg @peller

With latest code, custom states aren't working in preview, but the good news is I have a fix.

Sometime recently, we changed the outline palette from using `display:none` to `display:none !important`. It's a known browser problem that you can't do an element.style assignment with a value that includes `!important` - the browser will just toss it away. The `!important` work

[2012-08-25 20:35] aerwin commented on #2983
Closing with above commit.

[2012-08-25 20:35] #2983 closed, assigned to aerwin

[2012-08-25 20:38] #1704 closed, assigned to JonFerraiolo

[2012-08-25 20:38] #3092 closed, assigned to JonFerraiolo

[2012-08-25 20:41] JonFerraiolo commented on #1704
I closed bug with above commit. Actually, as @billreed63 pointed out above, the Claro theme puts background-color (and with dojo 1.8, color also) on an interior node, so we don't allow user to set these properties on element.style because they won't have effect. (An interior dijitReset class will kill the cascade of 'color' from element.style). I updated the test case to make sure the instructions

[2012-08-25 20:48] aerwin commented on #1905
-> Changing label from "Usability: Close/Open actions in Review tab need to be labeled differently" to "R&C: Clean up terminology on menu items and toolbar buttons"

[2012-08-25 21:37] aerwin commented on #1905
Closing with above commit.

[2012-08-25 21:37] #1905 closed, assigned to aerwin

[2012-08-25 21:39] aerwin commented on #2429
@jhpedemonte @JonFerraiolo

-> M8

[2012-08-25 21:44] #2537 closed, assigned to JonFerraiolo

[2012-08-25 21:56] aerwin commented on #2114
Potentially related issues?:
- #437 ("Review and Commenting Email notifications sender")
- #2896 ("review invitation has bogus e-mail")

[2012-08-25 22:36] JonFerraiolo opened #3093 "Two versions of AppStates.js out of sync"
(NOTE: I'm in the process of putting some fixes into AppStates.js, so maybe wait a couple of hours before reconciling the two versions.)

The two versions of AppStates.js are not the same. @peller: could you please figure out which version is correct and fix the other version?

[code]

[2012-08-25 22:43] JonFerraiolo commented on #3093
OK, I committed my fixes: b1254982b7edbd13bd4a7a4df906a8e185776015

[2012-08-25 22:48] JonFerraiolo commented on #3091
I saw this problem earlier today and fixed it as part of this commit: 9c519cb46ac5cfed65c9592e962ea62823d10e26#maqetta.core.client/WebContent/davinci/Workbench.js

[2012-08-25 22:48] #3091 closed, assigned to JonFerraiolo

[2012-08-25 23:47] aerwin commented on #2980
Closing with above commit.

[2012-08-25 23:47] #2980 closed, assigned to aerwin

[2012-08-25 23:50] aerwin commented on #2913
--> Update title from "Dojo widgets don't appear in RAD 8.5 widget palette using built Dojo" to "Update Maqetta to RAD workflow docs based on changes related to dojo-src"

[2012-08-26 00:09] #2497 closed, assigned to JonFerraiolo

[2012-08-26 00:15] JonFerraiolo commented on #2496
This was fixed with commit 32c35b3547981f7c4acc9afacb6856099049cf6d

[2012-08-26 00:15] #2496 closed, assigned to JonFerraiolo

[2012-08-26 00:24] JonFerraiolo commented on #2302
Pushing to M8 - too risky to mess with snapping for something that isn't that serious for users.

[2012-08-26 00:25] JonFerraiolo commented on #2282
Pushing to M8. Too risky to mess with something that is used all the time by nearly all users, and we are going to make major changes to Widgets palette with M8.

[2012-08-26 00:26] JonFerraiolo commented on #1984
-> @aerwin for M8

[2012-08-26 00:28] JonFerraiolo commented on #1770
-> M8. I'm not sure we can pull off (or should pull off) what I requested in the original write-up.

[2012-08-26 00:43] #3067 closed, assigned to JonFerraiolo

[2012-08-26 00:44] JonFerraiolo commented on #3004
-> M8 Prio-Med

[2012-08-26 00:46] JonFerraiolo commented on #2736
Closing. I suspect that various other fixes addressed this bit of quirkiness.

[2012-08-26 00:46] #2736 closed, assigned to JonFerraiolo

[2012-08-26 00:47] JonFerraiolo commented on #2307
-> M8

[2012-08-26 00:48] JonFerraiolo commented on #2288
This was fixed by moving the focus chrome into the outer frame instead of the user iframe. Closing.

[2012-08-26 00:48] #2288 closed, assigned to JonFerraiolo

[2012-08-26 00:48] JonFerraiolo commented on #2278
-> M8

[2012-08-26 00:50] JonFerraiolo commented on #2169
Closing as a "never fix" because I changed shapes to always come into a document using absolute positioning. It is still possible for a user to change a shape to position:static, and then this same problem would happen, but I don't see us ever prioritizing that scenario, so closing as a "never fix".

[2012-08-26 00:50] #2169 closed, assigned to JonFerraiolo

[2012-08-26 00:50] JonFerraiolo commented on #2121
-> M8

[2012-08-26 00:51] JonFerraiolo commented on #2052
-> M8

[2012-08-26 00:52] JonFerraiolo commented on #2008
Closing. It looks like I added the translucent white background somewhere along the way, but forgot to close this bug.

[2012-08-26 00:52] #2008 closed, assigned to JonFerraiolo

[2012-08-26 00:53] JonFerraiolo commented on #1862
Closing. This got fixed along with way, and I have a vague memory of having made the change to fix this problem.

[2012-08-26 00:53] #1862 closed, assigned to JonFerraiolo

[2012-08-26 00:54] JonFerraiolo commented on #1702
-> M8

[2012-08-26 00:54] JonFerraiolo commented on #1694
Closing. Fixed along the way (and I may have made that fix).

[2012-08-26 00:54] #1694 closed, assigned to JonFerraiolo

[2012-08-26 00:55] JonFerraiolo commented on #1622
-> M8

[2012-08-26 00:55] JonFerraiolo commented on #1619
-> M8

[2012-08-26 00:57] JonFerraiolo commented on #1505
Closing. Can't reproduce, and I know I put fixes into the snap logic since this issue was created 8 months ago.

[2012-08-26 00:57] #1505 closed, assigned to JonFerraiolo

[2012-08-26 01:00] JonFerraiolo commented on #1416
Closing. Seems to have been fixed by the various changes we have made over past few months (e.g., my fixes to ViewHelper's selection logic and @peller's source editor changes).

[2012-08-26 01:00] #1416 closed, assigned to JonFerraiolo

[2012-08-26 01:00] JonFerraiolo commented on #1415
-> M8

[2012-08-26 01:01] JonFerraiolo commented on #1347
Closing. It's sticky now.

[2012-08-26 01:01] #1347 closed, assigned to JonFerraiolo

[2012-08-26 01:02] JonFerraiolo commented on #1219
-> M8

[2012-08-26 01:02] JonFerraiolo commented on #1109
-> M8

[2012-08-26 01:03] JonFerraiolo commented on #1009
-> M8

[2012-08-26 01:05] JonFerraiolo commented on #986
-> @doronrosenberg Low priority, but if you run out of things to do, maybe you could remove the echo statement about which JAR is being used. Not really that useful for our users.

[2012-08-26 01:06] JonFerraiolo commented on #806
-> M8

[2012-08-26 01:06] JonFerraiolo commented on #653
-> M8

[2012-08-26 01:07] JonFerraiolo commented on #596
-> M8 Prio-Med

[2012-08-26 01:08] JonFerraiolo commented on #591
-> M8

[2012-08-26 01:08] JonFerraiolo commented on #584
-> M8

[2012-08-26 01:09] JonFerraiolo commented on #563
-> M8

[2012-08-26 01:09] JonFerraiolo commented on #559
-> M8

[2012-08-26 01:10] JonFerraiolo commented on #548
Closing. We've done all sorts of UI changes in the "new html file" area since this original issue was created.

[2012-08-26 01:10] #548 closed, assigned to JonFerraiolo

[2012-08-26 01:10] JonFerraiolo commented on #512
-> M8

[2012-08-26 01:12] JonFerraiolo commented on #348
@doronrosenberg rewrote the Outline palette and there is no blinking now. Closing.

[2012-08-26 01:12] #348 closed, assigned to JonFerraiolo

[2012-08-26 01:13] JonFerraiolo commented on #347
-> M8

[2012-08-26 01:13] JonFerraiolo commented on #326
Still a valid issue. -> M8

[2012-08-26 01:13] JonFerraiolo commented on #270
-> M8

[2012-08-26 01:14] JonFerraiolo commented on #229
-> M8

[2012-08-26 01:14] JonFerraiolo commented on #168
Closing. Was addressed as part of M7 UI makeover effort.

[2012-08-26 01:14] #168 closed, assigned to JonFerraiolo

[2012-08-26 01:15] JonFerraiolo commented on #156
-> M8

[2012-08-26 01:15] JonFerraiolo commented on #110
-> M8

[2012-08-26 01:16] JonFerraiolo commented on #102
-> M8

[2012-08-26 01:16] JonFerraiolo commented on #45
-> M8

[2012-08-26 01:16] JonFerraiolo commented on #29
-> M8

[2012-08-26 02:21] peller commented on #3092
shouldn't we just use CSS rules to set display:none?  This is what Dijit does.  I think if you have a specific rule, it might have the same effect as applying !important?

[2012-08-26 02:27] peller commented on #2686
Just running through New->Review would have triggered it.  Seems to be fixed now.

[2012-08-26 02:27] #2686 closed, assigned to peller

[2012-08-26 02:48] #3093 closed, assigned to peller

[2012-08-26 05:41] aerwin commented on #2630
@JonFerraiolo

Since an overlay is also created in the flow layout case, it wasn't clear to me why a new helper should be needed to make this work. So, I wanted to try and understand why this works in the flow layout case.

In doing so, around line 216 in `SelectTool` I see the bounds for the `Mover` are calculated differently in the absolute case. As an experiment, I commented out the first `if`

[2012-08-26 14:58] aerwin commented on #2899
@peller @jhpedemonte

Assuming it's the same thing, then I can reproduce in preview when running from Eclipse. And, it appears to have negative side effects (e.g., I hit it while looking at #2991). It also seems to go away when I remove the zazl parm from the URL. Given this, should we move back to M7?

Simple scenario:
1. New HTML file
2. Drag button
3. New state
4. Configre onClick on button to

[2012-08-26 14:58] aerwin commented on #2991
@painbank

Hmmm... well, turns out I don't think I reproduced it either. I think the fact I didn't see data in my test case is because of #2899 (which I don't think you could be running into unless you're using nightly builds).

So, since neither of us can reproduce and it seems you have a workaround for your original app, I'm thinking we should just close this issue.

Please let me know if you ha

[2012-08-26 15:00] #2991 closed, assigned to aerwin

[2012-08-26 15:02] peller commented on #2899
Do you have updates from last night?

On Sunday, August 26, 2012, aerwin wrote:

[2012-08-26 15:02] aerwin commented on #2693
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 15:41] aerwin commented on #2899
@peller Must have merged those in pretty late! :) But, yes, after doing a git pull this morning things seem to be working. So, guess seems like we could close.

[2012-08-26 15:42] #2899 closed, assigned to peller

[2012-08-26 15:42] aerwin commented on #2691
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 15:43] aerwin commented on #2665
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 15:47] aerwin commented on #2014
@JonFerraiolo

I think I fixed this one awhile back, and it still appears to be working this morning. So, I'm going to go ahead and close. Please reopen if you disagree.

[2012-08-26 15:47] #2014 closed, assigned to aerwin

[2012-08-26 15:49] aerwin commented on #1631
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 15:52] aerwin commented on #1731
@JonFerraiolo @jhpedemonte

--> M8

Probably becomes unnecessary if we do #2638 (which presumably would make menu smart input a lot like the tree smart input)

[2012-08-26 15:53] aerwin commented on #1795
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 15:56] painbank commented on #2991
Let me do some investigation, but I think #2899 may be the issue I am running into.  I am using a nightly build.

[2012-08-26 16:16] aerwin commented on #680
@JonFerraiolo @jhpedemonte

--> M8
-> sev none to sev 3

Still occurs. I'd recommend that we should add a validation text box... in the case @cindyskach reported, it changes the value, but in other cases with totally invalid data (like entering "dsafsd") it just ignores it and gives no indication to the user. In the case of totally invalid data, we get a JS exception in the console:

[code]

[2012-08-26 16:16] JonFerraiolo opened #3094 "Users can't get tabs to open if they drag splitter all the way to edge"
With current code, if the left-side palettes are open (same thing for right-side palettes), and the user drags the splitter all the way to the left, then the visual effect is that the left-side palettes are closed, but in reality, the software thinks the left-side palettes are open. If the user clicks on the currently open palette tab, then the left-side palettes go into collapsed state, and if th

[2012-08-26 16:17] aerwin commented on #422
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 16:21] aerwin commented on #2577
-> Making Prio High (from med) and leaving in M7 (to be dealt with once we dive into migration work as a team)

[2012-08-26 16:21] aerwin commented on #2414
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 16:24] JonFerraiolo commented on #2899
I haven't studied this issue in depth, but in terms of what happened yesterday:

I discovered yesterday that the Outline palette had changed its logic for eyeball icon from using `display:none` to `display:none !important`, so I added logic to AppStates.js yesterday to deal with the possibility the `!important` was included in the state-specific style settings. That was a bit tricky because of the

[2012-08-26 16:26] aerwin commented on #2397
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 16:28] aerwin commented on #2413
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 16:31] aerwin commented on #2576
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 16:32] JonFerraiolo commented on #2630
I remember some of it offhand, I'd have to study the code in more depth to complete restoration of memory. But what I remember is that when moving in flow layout, we need to let the mousemove event to pass through onto the canvas in order to allow browser hit testing within user canvas to take hold - we need event.target from the mousemove event to be a node in the user iframe because ultimately w

[2012-08-26 16:32] aerwin commented on #2389
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-26 16:35] JonFerraiolo commented on #3092
I'll let @doronrosenberg explain why he changed it to `display:none !important`, but my guess is that `!important` definitions within stylesheets will take precedence over inline style, so to absolutely ensure that inline style will win the cascade, you need to say `style="display:none !important"`

[2012-08-26 16:54] JonFerraiolo opened #3095 "Orion icon appears in browser tab for preview"
Assigning to @childsb because he is the Orion and build expert, but maybe someone else can take this one on.

@jhpedemonte @peller @doronrosenberg @billreed63 @aerwin

The browser tab for preview-in-browser shows the Orion 3-dots icon rather than the Maqetta icon. I managed to override the Orion browser tab icon for the page designer by adding a LINK tag to pagedesigner.html, but for preview we ar

[2012-08-26 16:57] JonFerraiolo opened #3096 "Outline palette not updating to reflect new ID or class settings on widgets"
- New HTML File
- Add any widget
- Show the Outline palette
- In "Widget" section of properties palette, set 'id' to 'aaa'

Result=> The Outline palette doesn't show the new ID. Same thing for 'class'. If you save, close, reopen the file, then the ID appears in the Outline palette.

[2012-08-26 19:16] #3094 closed, assigned to JonFerraiolo

[2012-08-26 19:41] aerwin commented on #2030
Closing with above commit.

[2012-08-26 19:41] #2030 closed, assigned to aerwin

[2012-08-26 19:43] aerwin commented on #1980
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 19:45] aerwin commented on #2586
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 19:47] aerwin commented on #2029
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 20:26] #3096 closed, assigned to doronrosenberg

[2012-08-26 20:29] doronrosenberg opened #3097 "Widget id/class not showing in any prop panel other than "Widget""
Widget id/class not showing in any prop panel other than "Widget"

Seems those 2 fields are not hooked up in all the other panels

[2012-08-26 20:38] doronrosenberg commented on #986
I actually think the jar is not a bad thing to output, an invalid path could be used for debugging.

[2012-08-26 20:49] aerwin commented on #1107
Closing with above commit.

[2012-08-26 20:49] #1107 closed, assigned to aerwin

[2012-08-26 20:51] aerwin commented on #2386
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 20:51] aerwin commented on #2364
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 20:52] aerwin commented on #2585
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 21:00] jhpedemonte commented on #2916
Dupe to #3095, which has more info.

[2012-08-26 21:15] aerwin commented on #3023
Closing with above commit.

[2012-08-26 21:15] #3023 closed, assigned to aerwin

[2012-08-26 21:19] aerwin commented on #437
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-26 21:27] jhpedemonte commented on #563
See my [proposal](https://github.com/maqetta/maqetta/issues/2143#issuecomment-7650462) in #2143.

[2012-08-26 22:18] JonFerraiolo commented on #986
But how could there be an invalid path to the jar file? Only if the user hand-edits the file, in which case he is on his own.

[2012-08-26 22:26] JonFerraiolo commented on #3097
-> @doronrosenberg Are you sure? Maybe I'm missing something. Could you please elaborate and then send back to me?

What I'm seeing when I run the latest code with Mac/Chrome:
- I see class and id fields at the top of all of the property sections (Widget, Event, ..., SVG)
- If I have class and id fields on a widget, and I unselect and reselect the widget, the class and id fields correctly show the

[2012-08-26 22:44] JonFerraiolo commented on #3097
Wait, sending back to me. First I discovered an exception in Cascade.js, and then upon fixing that bug, I'm seeing that the class and id fields are not getting updated properly in the other sections.

[2012-08-27 01:26] jhpedemonte commented on #1702
With the Orion based build, there is no such thing as "single user".

However, we do still build (and somewhat support) the non-Orion build -- but I think we should stop that.  Let's drop support for non-Orion build and remove "single user" related code.

[2012-08-27 01:39] jhpedemonte commented on #437
We don't want to do this.  It would mean that replies would go directly to the reviewer/commenter and not to Maqetta, breaking the discussion thread within Maqetta.

Something like this is the correct solution: with Maqetta acting as an intermediary, a user can respond to a review comment by replying to the email, which goes to Maqetta, adds the reply to the discussion thread within R&C and sends

[2012-08-27 01:46] jhpedemonte commented on #616
Some stream-of-consciousness:
1. It seems like sticky notes work well enough in desktop pages.  This is only really a concern with mobile pages, which have limited area for adding sticky notes.  And one area to use would be the device silhouettes.
2. As a way to implement this, keep sticky notes inside the VE, but allow them to be absolutely positioned outside the bounds of device.  Then, in our P

[2012-08-27 01:53] jhpedemonte commented on #306
Previous commit was actually for #3065.

[2012-08-27 02:10] jhpedemonte commented on #3086
Right, we have the license in the downloads, but not in the top level of the source.

@JonFerraiolo, I suggest copying [releng/davinci.product/LICENSE](https://github.com/maqetta/maqetta/blob/master/releng/davinci.product/LICENSE) to the top level.  Therefore, anyone viewing the code on GitHub will see the LICENSE file on the first page.  Sound good?

[2012-08-27 02:15] jhpedemonte commented on #2894
Not so sure about this.  I like the simplicity of only requiring an email and password on sign up.

I'd prefer these be optional, maybe add a **Profile** page to **Preferences**, where a user can add his/her real name.

[2012-08-27 02:16] JonFerraiolo opened #3098 "id/class values not cleared with no selection"

[2012-08-27 02:19] JonFerraiolo opened #3099 "Exception in Cascade.js when opening a prop palette section"
In some conditions, this.targetFile isn't properly initialized. Has to do with lazy loading of properties palette sections. If a tab hasn't even been opened at editorSelected time, this.targetFile doesn't have a value for that cascade object.

[2012-08-27 02:25] #3097 closed, assigned to JonFerraiolo

[2012-08-27 02:25] #3098 closed, assigned to JonFerraiolo

[2012-08-27 02:25] #3099 closed, assigned to JonFerraiolo

[2012-08-27 02:28] jhpedemonte commented on #2807
-> M8

[2012-08-27 02:29] jhpedemonte commented on #2748
-> @childsb

[2012-08-27 02:29] jhpedemonte commented on #2675
-> M8

[2012-08-27 02:30] #2451 closed, assigned to jhpedemonte

[2012-08-27 02:30] jhpedemonte commented on #2442
-> M8

[2012-08-27 02:30] jhpedemonte commented on #2441
-> M8

[2012-08-27 02:31] jhpedemonte commented on #2440
Your templates feature never made it in, right?  What is the issue number for that feature?

[2012-08-27 02:32] jhpedemonte commented on #2270
-> M8

[2012-08-27 02:33] jhpedemonte commented on #2180
-> M8

[2012-08-27 02:33] jhpedemonte commented on #1821
-> M8

[2012-08-27 02:34] jhpedemonte commented on #1794
-> M8

[2012-08-27 02:37] jhpedemonte commented on #1350
I follow what you're saying, Jon.  Makes sense.

Moving to M8 for now, so I can look at the API and see if anything needs to be cleaned up around this.  And add comments, as well.

[2012-08-27 02:38] jhpedemonte commented on #1105
-> M8

[2012-08-27 02:39] JonFerraiolo commented on #616
I was thinking along the same lines. However, much easier said than done!

[2012-08-27 02:40] jhpedemonte commented on #750
-> M8

[2012-08-27 02:40] JonFerraiolo commented on #2894
It's really not too much to ask a user to enter their name at registration time, is it?

[2012-08-27 02:41] JonFerraiolo commented on #3086
Absolutely! Gosh, how did we miss that?

[2012-08-27 02:42] peller commented on #2708
@rbackhouse, can you take a look?  To test, simply open the file Sample3-Mobile.html in the samples folder.  Hit the preview button on the far right (looks like a triangle/play now) on the app-test server, it will launch a url something like this:

http://maqetta-app-test.ourdomain/maqetta/?preview=1&device=iphone&file=http%3A%2F%2Fmaqetta-app-test.ourdomain%2Fmaqetta%2Fuser%2FC%2Fws%2Fworkspace%2

[2012-08-27 02:42] JonFerraiolo commented on #437
I agree with @jhpedemonte

[2012-08-27 02:45] #3086 closed, assigned to jhpedemonte

[2012-08-27 02:46] JonFerraiolo opened #3100 "Need to update README.html due to Orion differences"
Per #1702, we no longer have a single-user mode. We need to review README.html that is the root file in the download ZIP and make sure it is accurate, given the changes due to using Orion.

@childsb @jhpedemonte

[2012-08-27 02:46] JonFerraiolo commented on #1702
Sounds good. See #3100

[2012-08-27 02:47] jhpedemonte commented on #2720
-> M8

[2012-08-27 02:48] jhpedemonte commented on #2982
-> M8

[2012-08-27 02:48] jhpedemonte commented on #2671
-> M8

[2012-08-27 02:51] jhpedemonte commented on #2517
-> M8

[2012-08-27 02:51] jhpedemonte commented on #2516
-> M8

[2012-08-27 02:52] jhpedemonte commented on #2294
-> M8

[2012-08-27 02:53] jhpedemonte commented on #2241
-> M8

[2012-08-27 02:56] jhpedemonte commented on #1801
-> M8

[2012-08-27 02:58] jhpedemonte commented on #1522
-> M9

[2012-08-27 02:59] jhpedemonte commented on #1213
-> M8

[2012-08-27 03:00] jhpedemonte commented on #1152
We're currently building Dojo and Gridx (and others?), but this bug was envisioned more as a standalone script that a library developer could use.  Pushing to _future_ for now.

[2012-08-27 03:03] jhpedemonte commented on #1053
-> M8

[2012-08-27 03:03] jhpedemonte commented on #1019
-> future

[2012-08-27 03:06] peller commented on #2708
@rbackhouse what's more interesting is that if that inner url for Sample3-Mobile.html is passed to the browser independently, I see the zazl.js substituted properly... however, the page fails to render:

[code]

[code]

[2012-08-27 03:06] jhpedemonte commented on #1527
Closing since we no longer support these libraries.

[2012-08-27 03:06] #1527 closed, assigned to jhpedemonte

[2012-08-27 03:07] jhpedemonte commented on #984
Closing since we no longer support YUI.

[2012-08-27 03:07] #984 closed, assigned to jhpedemonte

[2012-08-27 03:16] peller commented on #2708
After staring at this a while, I discovered the obvious: zazl=true is not conveyed to the inner URL.  The above zazl exception still needs a look, though.  Thanks.

[2012-08-27 04:19] aerwin commented on #437
So, then we should close this? And, maybe open a brand new feature request for Maqetta to act as an e-mail intermediary?

[2012-08-27 10:25] rbackhouse commented on #2708
The zazl=true is now being carried over as &zazl=true e.g

http://localhost:8081/maqetta/user/maqettaUser/ws/workspace/project1/samples/Sample3-Mobile.html&zazl=true

It needs to be ?zazl=true

I'll take a look at the failure though

[2012-08-27 12:07] rbackhouse commented on #2708
dojox/mobile/deviceTheme is invalid :

(typeof define === "undefined" ? function(deps, def) { def(); } : define)([
    "dojo/_base/config",
    "dojo/_base/lang",
    "dojo/_base/window",
    "require"
], function(config, lang, win, require){

The ')' is in the wrong place, it should be at the end of the file

define)([
...
});

should be

define([
...
}));

With that change Zazl loads the page

[2012-08-27 14:24] peller commented on #2708
I know it's odd, but I think the syntax of deviceTheme is correct and intentional.  I can see how this would make static analysis a little tough.

[2012-08-27 14:25] peller commented on #2708
if it's not possible to parse this file, could zazl continue, leaving it out of the layer, and load it as a separate entity?

[2012-08-27 14:31] JonFerraiolo commented on #2720
I don't think this will be all that difficult to do. Somehow add a field which points to a localization file, and then replace all of the hard-coded strings with indices into the localization file.

[2012-08-27 14:34] JonFerraiolo commented on #2440
#282

Right. I got it working to some extent, then waited for the Orion stuff and Save-As-Widget stuff in case there might be an impact, and then ran out of time for M7 before I could finish.

[2012-08-27 14:36] jhpedemonte commented on #2720
Raising to Prio High for M8, so we take a look at it earlier, rather than later.

[2012-08-27 14:44] aerwin commented on #2630
@JonFerraiolo

Thanks for the info... it seems like we need to make use of `pointer-events` in the absolute case as well to solve this issue.

Do you think it's bad to just start doing the same things in both cases (e.g., use the same approach to creating the `Mover` all the time)? With me not fully understanding this code, guess I'm a little nervous to make a change at this stage of M7 without yo

[2012-08-27 14:50] JonFerraiolo opened #3101 "Globalize/localize main HTML files (pagedesigner, welcome, preview)"
We have hard-coded strings in those HTML files

[2012-08-27 14:50] JonFerraiolo commented on #2720
Just added #3101

[2012-08-27 14:50] childsb commented on #2824
closing for m7

[2012-08-27 14:50] #2824 closed, assigned to childsb

[2012-08-27 14:55] JonFerraiolo commented on #2630
I certainly wouldn't want to change the Mover code in SelectTool.js at this point of M7. In fact, it took me quite a while to come up with the approach we currently have, and it wasn't just a "tack on" thing to get things working. There were real reasons behind having two different approaches. We used to do everything in the user iframe (both flow and abs) but that caused some problems, so abs mov

[2012-08-27 15:00] JonFerraiolo commented on #2630
More notes: I even tried the trick where flow move operations were in the outer frame, but our logic manufactured events in the user iframe, but the problem was that `createEvent()` and all of that stuff requires that the event creation logic provide the appropriate event.target, but that's exactly what we don't know, and what the browser needed to provide to us. You see, we can programmatically f

[2012-08-27 15:08] JonFerraiolo commented on #2423
-> M8

[2012-08-27 15:12] aerwin commented on #2630
@JonFerraiolo @jhpedemonte

-> M8

@JonFerraiolo You obviously have extensive background knowledge here... are you interested in taking this one back? Otherwise, perhaps do some pair programming or something in M8?

[2012-08-27 15:16] jhpedemonte opened #3102 "TypeError in login page"
Testing latest build on maqetta-test and broke in debugger when loading login page.  **TypeError** related to `googleLoginLink`.

[2012-08-27 15:21] billreed63 commented on #2117
@jhpedemonte @JonFerraiolo
-> M8

[2012-08-27 15:25] JonFerraiolo commented on #2916
closing this as dupe

[2012-08-27 15:25] #2916 closed, assigned to childsb

[2012-08-27 15:29] #2748 closed, assigned to childsb

[2012-08-27 15:32] childsb commented on #2801
Our 'persist' layer is abstracted into interfaces & extension points.  You should be able to break out all of the storage by overriding the User class without splitting up the plugin.

Look at the maqetta.server.orion package as example.  it replaced the java.io.File storage structure with IFileStore.

[2012-08-27 15:32] #2801 closed, assigned to childsb

[2012-08-27 15:32] jhpedemonte opened #3103 "Update Joomla for maqetta-orion build"
Spin-off from #2824:
- Joomla integration:
  - In Joomla, point **login** link to Orion instance.
  - In Joomla, remove **Give it a try** link.

@JonFerraiolo @childsb

[2012-08-27 16:19] #3009 closed, assigned to peller

[2012-08-27 16:20] aerwin opened #3104 "Can't preview without saving changes"
Has this always been the case? I didn't think so...
1. New HTML file
2. Drag widget onto canvas
3. Preview page
4. Close preview and note dirty bit gone from my file because it has been saved

This seems bad if I wanted to preview a set of changes before committing them in a save. I also don't appear to be able to undo at this point. So, there's a chance to really mess yourself up.

[2012-08-27 16:28] JonFerraiolo commented on #2114
When I used my gmail account when testing on maqetta-test today, the activate notice went to my gmail spam folder

[2012-08-27 16:28] aerwin opened #3105 "Preview broken with zazl"
@peller @jhpedemonte

Doing test cases against internal server and preview is failing with this HTML file. There are no errors in the browser console.

![GitHub Logo](http://i.imgur.com/1VSWu.png)

[code]

If I remove "?zazl=true" from the URL it renders. If I put it back, then it doesn't.

Proper rendering:

![GitHub Logo](http://i.imgur.com/cBZph.png)

[2012-08-27 16:31] aerwin commented on #3105
The bad rendering appears every time I preview. But, if I reload the preview window without closing it, it seems to work (even with zazl=true in the URL).

[2012-08-27 16:31] JonFerraiolo opened #3106 "Migrate page appears briefly on maqetta-test"
@childsb

(Just logging this - probably will get immediately closed)

After activating my new account on maqetta-test, and entered my password twice on the page pointed to by the activation email, an HTML page appeared briefly that said something about migrating workspace yes or no. But it was soon replaced by the Maqetta application.

What's with that migrating workspace page?

[2012-08-27 16:40] billreed63 commented on #3031
Seems to have been fixed by f60a6c3

[2012-08-27 16:40] #3031 closed, assigned to billreed63

[2012-08-27 16:46] JonFerraiolo opened #3107 "Remove untested widgets"
I couldn't find an issue for this. Sorry if this is a dupe.

[2012-08-27 16:56] JonFerraiolo opened #3108 "DateTextBox - 'value' should show a valid entry value, not a formatted value"
@peller @billreed63

With DateTextBox, there is a 'value' field in the Widget-specific properties that requires a particular date format, such as `2012-08-15`. Upon entering such a value, the widget shows the string you entered (i.e., `2012-08-15`) but the value field in the properties palette shows a formatted value (e.g., `Wed Aug 15 2012 00:00:00 GMT-0700 (Pacific Daylight Time)`). If a user th

[2012-08-27 16:58] aerwin opened #3109 "GridX doesn't preview with zazl"
@peller

Think different than #3105 because there's a JS error in this case and reloading the page with zazl parm equal to true doesn't fix it... Removing zazl parm allows for successful preview with no JS errors.

The error:

[code]

The page source:

[code]

[2012-08-27 16:59] #3088 closed, assigned to billreed63

[2012-08-27 17:02] JonFerraiolo opened #3110 "Don't show encoding for HTML markup characters for widgets that don't support rich HTML text"
I was testing various widgets to see which ones support SmartInput and tried entering this HTML markup as the value:

[code]

For widgets that support rich HTML markup, everything worked fine, but for ones that didn't, we encode the special HTML characters anyway, and the encoding appears within the widget when rendered:

[code]

[2012-08-27 17:06] JonFerraiolo commented on #3110
This encoding also has another bad side effect. For some widgets, such as DropDownSelect, if you enter markup characters on the first line (with the `+` sign), then no default value appears for the widget. For example, try entering this into SmartInput for DropDownSelect:

[code]

[2012-08-27 17:10] aerwin opened #3111 "Samples, switch themes, and save don't mix"
- Open Sample1.html
- Choose Switch theme
- Get dialog that says file has unsaved changes and click the save button. See errors in console, but not problems on screen:

[code]
- Move forward changing theme to Sketch and see rendering properly update
- Try to save Sample1.html and get dialog that need to pick a writable location. Choose root directory and click ok. See another error in console:

[c

[2012-08-27 17:14] JonFerraiolo opened #3112 "TextArea and SimpleTextArea - a couple of things to investigate"
@doronrosenberg

Probably too risky to attempt to do any fixes for M7.

Two problems I see with TextArea and SimpleTextArea:
1. Do these widgets support newline characters within the content? SmartInput will treat a newline character (and Ctrl-Newline and Alt-Newline) as a "close SmartInput" command. If these widgets do support newline characters, then we need to change the way SmartInput works fo

[2012-08-27 17:29] JonFerraiolo opened #3113 "Outline palette - can no longer drop onto container TreeNode"
@peller
- Create new Desktop app
- Add a DIV, and inside the DIV drop a button
- Add an Accordion under the DIV
- Go to Outline palette, open up the Accordion to show the 2 empty ContentPane's
- Click select the DIV in the Outline palette
- in outline palette, drag the selected DIV and attempt to drop onto the first ContentPane child of the Accordion

Result => No drop occurs, and you are left wit

[2012-08-27 17:35] JonFerraiolo opened #3114 "fieldset - shouldn't it allow rich html text for legend SmartInput?"
@billreed63

[2012-08-27 17:38] JonFerraiolo opened #3115 "SmartInput for HTML INPUT?"
@billreed63

INPUT is a highly used HTML widget. Would be nice to provide SmartInput for it.

[2012-08-27 17:43] JonFerraiolo opened #3116 "HTML textarea SmartInput doesn't support rich text properly"
@billreed63 @doronrosenberg

If you bring up SmartInput for an HTML TEXTAREA element, and then enter this string as the value in the SmartInput user interface:

[code]

the radio buttons appear (which is good). If you then select the "HTML" radio button and click OK, the widget on the screen shows this as its content:

[code]

[2012-08-27 18:15] rbackhouse commented on #2708
The AST parser is not able to locate this define call. One of the tasks of the Zazl optimizer is to assign module ids. As the define is not located no id is assigned. Hardcoding a module id in dojox/mobile/deviceTheme appears to resolve this problem and leave the code structure as is :

(typeof define === "undefined" ? function(deps, def) { def(); } : define)("dojox/mobile/deviceTheme",[
    "dojo

[2012-08-27 18:16] JonFerraiolo opened #3117 "Mobile scenes don't show in Scenes palette with build"
@childsb @peller

With today's build on maqetta-test, if I drag a mobile View onto canvas, the View doesn't show in the Scenes palette. Works when I run from Eclipse.

Looking at the Network panel, I see `callbacks.js` when running from both Eclipse and when running the build. When running from Eclipse `callbacks.js` is the original source content (unbuilt), but when running the build, here is the

[2012-08-27 18:20] painbank commented on #3086
I see the license now in the download of the nightly build, but having at
the top level makes it obvious to someone doing a cursory look..

thanks.

On Sun, Aug 26, 2012 at 10:41 PM, Jon Ferraiolo notifications@github.comwrote:

##

Rich Elswick

[2012-08-27 18:23] JonFerraiolo commented on #3104
-> @billreed63

@jhpedemonte @peller @childsb

Believe it or not, yes. Same thing with M6, for example.

As I remember, there was a time many releases ago where we found the need to save HTML files before preview. I suspect we did this for reasons have to do with making sure that CSS file changes were flushed to disk (because in previous releases, CSS file changes were only changed in memory until

[2012-08-27 18:25] JonFerraiolo commented on #3104
I believe the save operation is the result of VisualEditor.js:469:

[code]

[2012-08-27 18:35] aerwin opened #3118 "After deleting row in HTML table, exceptions when click on canvas"
Using Chrome on Mac with internal test server... not sure exception has an impact, but making Prio High for investigation
1. New HTML file
2. Drag HTML table onto page
3. Click OK on smart input
4. Select cell in first row
5. Choose Remove Row menu option
6. Every time click on white space in cavas see this exception... Haven't looked at code, but guessing nothing really to do with HTML tables per

[2012-08-27 18:38] JonFerraiolo opened #3119 "Need to test about Firefox ESR release"
We are testing against the latest and greatest Firefox. We need to also test about the stable ESR release(s).

Supposedly, a newer ESR release comes out this fall. My vote would be to test against that one only, and treat that as an officially supported release, and only do cursory testing against the earlier ESR release.

[2012-08-27 18:43] aerwin commented on #3118
-> Sev 3 to Sev 2

There are side effects... e.g., I see exception when clicking in outline view as well and can't select the table from the outline view.

[2012-08-27 18:47] jhpedemonte commented on #3111
Who last looked into the "save for read-only files" bug?  Was it @doronrosenberg or @childsb?

@JonFerraiolo

[2012-08-27 18:49] aerwin opened #3120 "FF: widget outlines in VE get cut-off"
Using FF on Mac:
1. New HTML File
2. Drag a widget that takes up the full width (like HTML div, table, etc.)
3. Outline cut-off on top and sides. for example, see DIV below:

![GitHub Logo](http://i.imgur.com/r4WFC.png)

[2012-08-27 18:52] JonFerraiolo opened #3121 "RSOD with this file"
Assigning to me initially to try to figure out what exactly is broken.

@doronrosenberg @peller @jhpedemonte

I was testing out the dojox.mobile widgets. Below is the file that I created on maqetta-test, and upon reopening I got the RSOD:

[code]

[2012-08-27 18:52] jhpedemonte commented on #3106
-> @childsb

[2012-08-27 18:53] jhpedemonte commented on #2114
I wonder why?  No longer using odd port number.

[2012-08-27 18:56] billreed63 opened #3122 "SmartInput not escaping <b> on dojo Button when previewed"
Create new desktop html
DnD button
When SmartInput displayed enter
`label<b>bold</b>test`
ensure that the plan text is selected
click ok
Notice the text is displayed correctly in the designer, but preview the page and the "bold" is bolded

FF/win 7 running on the test build

[2012-08-27 18:57] jhpedemonte commented on #3104
We need to save so that the updated information get saved on the server, which is from where we load the Preview file.  Only other option is to saving the _workingcopy_, but that could lead to issues.

Seems that the main thing to fix here is the **undo/redo stack**, so that it gets preserved across saves/preview.

-> M8 since this has been the case for many releases.  Also, you should change the

[2012-08-27 18:59] jhpedemonte commented on #2708
We're pulling this code straight from the Dojo repo, right?  So our ability to change that file is diminished. We'd have to open up a bug report, etc.

Also, Dojo is going away from hard-coded module IDs, since it makes the code not relocatable, using AMD.

[2012-08-27 19:19] rbackhouse commented on #2708
This not really standard "define" syntax. Any optimizer/code analyzer is going to have issues with this sort thing. Anonymous modules don't work with optimizers, they have to add ids in and to do that they have to identify the point in the code where the id is to be placed.

[2012-08-27 19:32] doronrosenberg opened #3123 "VerticalSlider - hover effect is positioned wrongly"
- dnd a button
- dnd a VerticalSlider
- Hover over the area that has the numeric labels - notice the grey selection is positioned wrongly and part of it is over the button.

[2012-08-27 19:33] peller commented on #2114
wonder if it has something to do with the address being behind a firewall and not verifiable... and the from: address still says maqetta.org which doesn't match the sender, in this case

[2012-08-27 19:38] aerwin opened #3124 "Can't undo after previewing file"
@billreed63 @jhpedemonte @JonFerraiolo

Opening a spin-off of #3104 to deal with undo/redo stack after previewing a page.

[2012-08-27 19:39] aerwin commented on #3104
--> Remove mention of "undo" in title
--> Opened #3124 for undo stack

[2012-08-27 19:48] peller commented on #3121
ok, if you can't resolve this, please capture the stack trace and paste here.

[2012-08-27 19:50] doronrosenberg commented on #3122
This works fine in my local build but not on maqetta-test.  @peller perhaps zazzle is doing something wonky?

[2012-08-27 19:50] peller commented on #3108
looks like a dup of #659

[2012-08-27 19:51] doronrosenberg commented on #3122
@peller I tried with ?zazl=false but it still loaded zazl for me

[2012-08-27 19:51] peller commented on #659
see also #65

[2012-08-27 19:52] peller commented on #3108
see also #65

[2012-08-27 19:56] JonFerraiolo commented on #3104
Note that workingcopy on the server is instantly updated whenever a change is made to the document. Therefore, we wouldn't need to save the workingcopy because it is already up to date. The ideal scenario would be if the server could deliver the working copy files in preview instead of the base files. I don't know if that is feasible.

[2012-08-27 19:59] childsb commented on #3106
this is part of the design of the migration feature--

after the user verifies their account, it redirects them to /maqetta/cmd/migrate  ((or similar, forgot the exact URL). and that page determines if the users workspace is up for migration.  if it is, then it shows the "do you want to migrate" screen.  if not, it redirects to base maqetta.

i'll fix this to hide by default and only unhide if the

[2012-08-27 20:02] jhpedemonte commented on #3122
@doronrosenberg, try disabling Zazl in preferences.

[2012-08-27 20:06] doronrosenberg commented on #3113
Fallout from outline model changes

[2012-08-27 20:08] JonFerraiolo commented on #3120
What's going on is that there are 8px-wide DIVs on each side of the canvas that render a 7px-wide gradient. These DIVs end up above the canvas in stacking order and therefore obliterate the outline. This might be a very quick fix if I'm lucky.

[2012-08-27 20:09] JonFerraiolo commented on #2114
Note that the email came from the maqetta-test server, not maqetta.org.

[2012-08-27 20:10] peller commented on #3122
or taking away the zazl=xxxx from the url.  Yeah, looks like a bug that zazl=anything is treated as truthy

[2012-08-27 20:10] aerwin opened #3125 "Outline exception removing row from HTML table"
@doronrosenberg

Using FF on Mac (also saw something similar on Chrome) Possibly related to #3118, but different exception...
1. New HTML file
2. drag HTML table onto canvas
3. In smart input, enter 5 for num rows
4. Delete last row
5. Delete first row and see exception.

[code]

[2012-08-27 20:12] peller opened #3126 "zazl param on url is always truthy"
@rbackhouse

as reported in #3122

even when zazl=false, still treated as true and loads zazl.js  This is only going to happen if the user manually edits the url.  If Zazl is disabled by preference, the zazl param should be removed entirely and work as expected.

[2012-08-27 20:16] doronrosenberg commented on #3113
fixed by c16a528f41d310c92b8b7a834be6fc4f9a799a73

[2012-08-27 20:16] #3113 closed, assigned to doronrosenberg

[2012-08-27 20:17] aerwin opened #3127 "HTML table smart input just slightly too small"
--> @aerwin

Using FF on Mac..

Drag html table onto page and preview table in smart input is cut-off on right side...

![GitHub Logo](http://i.imgur.com/v7z4D.png)

[2012-08-27 20:17] peller commented on #3122
@rbackhouse

and it does seem that the MaqettaHTMLFilter is accidentally unescaping HTML entities:

[code]

becomes

[code]

[2012-08-27 20:18] doronrosenberg commented on #3122
Confirmed that removing zazl from the url fixes the issue.

[2012-08-27 20:25] peller commented on #2708
I'm ok hacking this into 1.8.0 and getting an approved fix in 1.8.1, if that's our only choice.  @rbackhouse, is ignoring the module an option if it doesn't parse?

[2012-08-27 20:35] billreed63 opened #3128 "Widget deleted if id already in use."
Create new desktop html
DnD content pane
in Properties palette set the ID to  'contentpane_testcase1'
DnD TabConatiner
in Properties palette set the ID to  'contentpane_testcase1'

Note that the TabContaine is gone from the canvase but is still in the Outline..

[2012-08-27 20:44] rbackhouse commented on #2708
The module does parse. The problem is that the "define" call is not located by the optimizer in the server, the result being that no id is inserted and none of it dependencies are added to the list to be included in the js stream. As it happens all of it dependencies are dependencies that other modules have. The Zazl AMD loader expects that when its "define" function is called that an id is in the

[2012-08-27 20:46] peller commented on #2114
Right, that's my point... the from address still says maqetta.org, which is not verifyable and does not match the actual SMTP server used.

[2012-08-27 20:48] JonFerraiolo commented on #3121
=> @doronrosenberg to evaluate further

Dies in Dojo parser. I'm not sure why exactly things fail with this file in particular versus other files.

The problem is with one of the last lines in the file:

[code]

If I manually remove the following `fetchProperties="[object Object]" query="[object Object]"` the file loads with no problem. What happened is that I put a 'title' on the widget using wid

[2012-08-27 20:50] JonFerraiolo commented on #3123
-> @aerwin

[2012-08-27 20:51] peller commented on #3105
Hrm.  I'm seeing this intermittently.  Seems like everything loads correctly, but for some reason parseOnLoad isn't working. Typing `dojo.parser.parse()` in the console makes everything appear.

@rbackhouse

[2012-08-27 21:12] peller commented on #2708
Created a [Dojo ticket](http://bugs.dojotoolkit.org/ticket/15901) for @rbackhouse's suggested workaround.  I don't remember why the optional define was needed in the first place.

[2012-08-27 21:37] JonFerraiolo commented on #3128
What should we be doing in this case? Dojo will die if 2 widgets use the same ID. Seems to me we need to head this off at the pass and do a check on the ID value entered into Properties palette to see if it's already in use. If everyone agrees, then -> @doronrosenberg

[2012-08-27 21:39] jhpedemonte commented on #3128
Yes, agreed.

[2012-08-27 21:48] doronrosenberg commented on #3128
So an alert if the I'd is already is used?  Or we could use a validation textbox

[2012-08-27 21:53] jhpedemonte commented on #3128
Validation textbox; no alert.

[2012-08-27 22:13] JonFerraiolo opened #3129 "Firefox - gradients don't show around edges of canvas"

[2012-08-27 22:39] #3120 closed, assigned to JonFerraiolo

[2012-08-27 22:39] #3129 closed, assigned to JonFerraiolo

[2012-08-27 22:53] rbackhouse commented on #3122
The HTML Filter use the Neko HTML parser to parse and modify the HTML. It looks like it is not escaping correctly. Will probably have to override some of its writing methods to ensure it does it correctly.

[2012-08-27 22:54] JonFerraiolo opened #3130 "border-color automatically capitalizes first letter: rgba=>Rgba"
Long-standing bug, but a bad one.

@childbs @billreed63
- Add a DIV
- Go to Borders section of properties palette
- For Show, choose "props"
- Try to enter `rgba(255,0,0,.5)` into the border-color field

Result=> Field automatically capitalizes first letter. You get `Rgba(255,0,0,.5)`

I'm not sure who is doing the auto-capitalization

[2012-08-27 22:55] doronrosenberg commented on #3108
M8

[2012-08-27 22:57] doronrosenberg commented on #3121
Probably need to override serialisation here

[2012-08-27 23:30] JonFerraiolo opened #3131 "Login screen exception doing document.getElementById('googleLoginLink')"
@jhpedemonte

With Win/Firefox, running maqetta-test, I'm getting an exceptoin at LoginWindow.js:460:

[code]

Could it be that we are missing a few DIVs? We really shouldn't be shipping with these exceptions.

I might be able to look into this, too.

[2012-08-27 23:54] jhpedemonte commented on #3131
Dupe of #3102.

[2012-08-27 23:54] #3131 closed, assigned to childsb

[2012-08-27 23:58] JonFerraiolo opened #3132 "Visual problems with IconContainer - default width is 400px"
@aerwin @jhpedemonte

IconContainer defaults to width:400px. Not a good default given that the default mobile application is 320px wide. Ideally, we could just set width to 100%, but when I tried that, the IconContainer was just a bit too wide.

[2012-08-28 00:05] JonFerraiolo opened #3133 "Accordion at width:100% is too wide for user iframe"
@peller @jhpedemonte

When I drop an Accordion into the default iPhone silhouette, the Accordion spills over the right edge of the user iframe by about 20px.

I haven't investigated any further to figure out what exactly is going wrong here. Certainly Dojo didn't design a widget that looks wrong?? But maybe that's what's going on. When I try previewing, I see the same problem. Same problem if I ge

[2012-08-28 00:11] JonFerraiolo opened #3134 "Local install on Windows/XP: get prompted for registration email"
@jhpedemonte

I'm running the User Management tests, and at the end of those tests, I'm supposed to download local installs, unzip the zips, and trigger the launch scripts.

On Mac, when I clicked on the Register button, I was taken to a screen with 3 fields: username/email, password1, password2, but on Windows, I was taken to a "Request an account" screen with 1 field that asked for an email addr

[2012-08-28 00:26] jhpedemonte commented on #3134
There are both "hosted" and non-hosted builds (the former say "hosted" in their name).  Sounds like you downloaded the "hosted" build, which uses email to authenticate the user.

Closing; reopen if my understanding is wrong.

[2012-08-28 00:26] #3134 closed, assigned to childsb

[2012-08-28 00:32] JonFerraiolo commented on #3134
Yeah, that was probably it, I'm retesting now with non-hosted version

[2012-08-28 00:48] peller commented on #3121
do we have any way to control which parameters are serialized, beyond just what's on the prototype?

[2012-08-28 00:52] peller commented on #3121
though if we don't have code to handle type Object serialization, we should...

[2012-08-28 01:01] JonFerraiolo opened #3135 "Change version string to "7""
@peller @jhpedemonte

As we discussed on team phone call last Friday,  the version string for the M7 release will simply be "7".