[2013-04-02 14:55] JonFerraiolo opened #3868 "*TextBox widgets need SmartInput"
You can double-click on a TextBox and get SmartInput, but for most of the other derivative widgets (e.g., DateTextBox) there is no SmartInput.

[2013-04-02 15:08] billreed63 commented on #3868
Each of these text boxes expects a specific format so I think each *TextBox will require a specific smart input, for example the TimeTextBox smart input should use a TimeTextBox, DateTextBox for Date and so on for the users input.

[2013-04-02 15:38] JonFerraiolo commented on #3865
I found references in CommandStack:

[code]

[2013-04-02 16:21] peller opened #3869 "Dotted dojo type reference should accommodate slashes"
One line I missed in callbacks.js, line 173

Should probably do something like

[code]

see #3563, #3583

[2013-04-02 17:00] JonFerraiolo opened #3870 "Menubar parse error when document is reopened"
- New desktop app
- Add a Menubar
- Save, close, reopen

RESULT=> Parse error on page

[2013-04-02 17:22] JonFerraiolo opened #3871 "A element hyperlinks are active on canvas when first created"
I added logic that deactivate the href attribute on A element for existing documents, but for new A elements, the href is still active.

[2013-04-02 17:26] JonFerraiolo commented on #3871
grep'ing for event attributes:

[code]

[2013-04-02 17:49] billreed63 commented on #3862
The root cause is the eclipse project has the wrong folder structure:
for M9 the folder structure is:
![image](https://f.cloud.github.com/assets/717822/329783/4b3d1ec6-9bbd-11e2-9588-4d742e571496.png)
For M10 the structure is:
![image](https://f.cloud.github.com/assets/717822/329790/78b21e38-9bbd-11e2-8a2f-064f9067a837.png)
Notice that the app.css, app.js. libs, themes and samples are outside of t

[2013-04-02 18:02] peller commented on #3867
The widget only accepts values in ISO format (yyyy-mm-dd)  At one time, we had a DateTextBox in the properties palette instead of a plain text field, though we then have the problem of how to handle an empty value.

[2013-04-02 18:04] peller commented on #3867
see #65, #659

[2013-04-02 18:15] billreed63 commented on #3867
see #3868

[2013-04-02 18:15] peller commented on #3870
Looks like an exception is thrown on creation after the smart input exits, from the ModifyCommand

[2013-04-02 19:39] #3870 closed, assigned to peller

[2013-04-02 20:23] #3866 closed, assigned to billreed63

[2013-04-02 20:44] billreed63 commented on #3835
working now

[2013-04-02 20:44] #3835 closed, assigned to peller

[2013-04-02 20:45] billreed63 commented on #3832
working in latest git code

[2013-04-02 20:45] #3832 closed, assigned to billreed63

[2013-04-02 20:49] billreed63 commented on #3772
the format for the inlineEdit object is:

[code]

[2013-04-02 20:49] #3772 closed, assigned to billreed63

[2013-04-02 21:40] billreed63 commented on #3498
When we change the background color on a `<col>` the styleChangeCommand triggers `context.onContentChanged` that calls `context.deselectInvisible` which uses this code

[code]

the offsets for the `<col>` are all 0 so the widget is deselected.
So it would appear that this bit of code for determining viability does not work for `<col>`

[2013-04-02 22:02] peller commented on #3861
Seems to be an issue with the _dontNotifyChange flag, established in this commit fb8fbe047bf684400829a5bcb941a415a704c2f1

[2013-04-02 23:29] #3827 closed, assigned to peller

[2013-04-02 23:37] peller commented on #3708
seems to work now . perhaps the new editor code resolved this?

[2013-04-02 23:37] #3708 closed, assigned to peller

[2013-04-02 23:38] JonFerraiolo commented on #3498
Two ideas come to mind: (1) instead of checking offset_, traverse up through the domNodes until reaching the parent to see if this widget or any ancestor has display:none (which we are doing in a more complicated way in States.js:getEffectiveDisplayValue() where it does its calculations base on a particular state, not necessarily the current state), (2) check for offset_ except for html.col, and f

[2013-04-02 23:39] peller commented on #3705
-> M11 @jhpedemonte   May want to lower priority

[2013-04-02 23:57] JonFerraiolo commented on #3867
Seems to a user that the widget is inconsistently designed. The value must be of the format yyyy-mm-dd, whereas the value that displayed inside the widget itself has the format yyyy/mm/dd, and then in the Widget area of the properties palette, we how something like Fri Jan 04 2013 00:00:00 GMT-0800 (PST).

Would be good if the same format were used in all 3 cases. We might be able to improve thing

[2013-04-03 00:52] #3478 closed, assigned to peller

[2013-04-03 00:59] peller commented on #3867
The fact that we see "Fri Jan 04 2013 00:00:00 GMT..." is because the existing property editor just does a toString() on the Date object.  We shouldn't be dealing in yyyy/mm/dd at all, ever.  The widget property is a Date object.  When the property is a Date object, we should either convert to/from ISO format or present a DateTextBox in the properties panel instead of a TextBox.  This is basically

[2013-04-03 02:39] peller commented on #3778
dup of #3870

[2013-04-03 02:39] #3778 closed, assigned to peller

[2013-04-03 15:49] #3498 closed, assigned to billreed63

[2013-04-03 17:21] billreed63 commented on #3844
The theme meta data can contain a `element.$root` property that is used by the palette and cascade to determine where a property is to be applied to a widget

[code]

The button was missing `left, top, right, bottom`
When this feature was added it was never documented as to how it was intended to work and the meta data has never been updated completely.  We have been fixing it as issues arise.

It

[2013-04-03 17:41] JonFerraiolo commented on #3844
Yes. Some that come to mind are position, opacity, float, z-index, left, top, right, bottom.

[2013-04-03 19:34] peller commented on #3765
Zazl preference does not seem to get fetched properly on startup when opening a review.  Depends on #3804.  Also, may want to have zazl setting override user preferences for new users

[2013-04-03 19:40] #3844 closed, assigned to billreed63

[2013-04-03 19:54] billreed63 opened #3872 "Cut and Paste does not work in source editor"
One FF/Win I create a new desktop html file
drag and drop two labels on the desigener
open source editor and select all the lines in the editor then paste the following

[code]

switch back to designer notice you still have two labels.

[2013-04-03 19:56] billreed63 commented on #3575
I can't reproduce with the latest code and FF versions

[2013-04-03 19:56] #3575 closed, assigned to billreed63

[2013-04-03 20:00] jhpedemonte commented on #3846
Above commit adds our own email templates (located at `maqetta.server.orion/emails`).  I made minimal changes from the Orion templates, mainly specifying "Maqetta/Orion" instead of simply "Orion".

Todo:
1. Is "Maqetta/Orion" fine?  Or should we just use "Maqetta"?
2. Any other cleanup/additions to these templates?

Regarding (2), I think it would be good to add some text explaining to the user ho

[2013-04-03 20:01] peller commented on #3872
dup of #3861

[2013-04-03 20:01] #3872 closed, assigned to peller

[2013-04-03 20:59] JonFerraiolo commented on #3846
We should just say "Maqetta"

[2013-04-03 21:08] billreed63 commented on #3419
spinWheelSlots. by default the width of the slot is set in the css files for the theme. iphone for example:

[code]

If is not calculated at runtime based on the number of slots. The user can override the width of the slot by adding the width to the element style.

[2013-04-03 21:09] #3419 closed, assigned to billreed63

[2013-04-03 21:15] aerwin commented on #3419
I'm of course long gone from the team so if you want to close it that's fine. But, just be aware of the number of steps and difficulty a user has setting up a simple spin wheel as described in my article:

http://www.ibm.com/developerworks/mobile/library/mo-maqetta-1/index.html

Even if this is just the expected behavior of the widget (as described by @billreed63), I'd think Maqetta could take ste

[2013-04-03 21:16] #3733 closed, assigned to billreed63

[2013-04-03 21:21] wkeese commented on #3733
Not anymore, see http://bugs.dojotoolkit.org/changeset/30903/dojo

[2013-04-03 21:21] JonFerraiolo opened #3873 "Better recovery options for users"
@billreed63, @peller, @jhpedemonte

(Longer-term item)

We need to provide more comprehensive recovery options for users. Ideally, everything should be recoverable, including:
- files
- projects
- project templates
- reviews
- themes

A couple of options come to mind:
- Adopt the Trash metaphor, where everything that is deleted gets put into the Trash, and there is recovery mechanism to restore th

[2013-04-04 00:01] #659 closed, assigned to peller

[2013-04-04 00:16] jhpedemonte commented on #3793
I changed the email content for _publish_ and _add comment_ thusly:
- converted from HTML to plain text (Orion email APIs only do text)
- rearranged and edited the content to be more legible.

The invitation email looks like this:

![Screen Shot 2013-04-03 at 7 09 14 PM](https://f.cloud.github.com/assets/711365/337035/a0652060-9cbc-11e2-8f13-7d2b068f6051.png)

And the comment email looks like this

[2013-04-04 00:47] #3867 closed, assigned to peller

[2013-04-04 00:48] #3108 closed, assigned to JonFerraiolo

[2013-04-04 00:48] #65 closed, assigned to JonFerraiolo

[2013-04-04 14:30] JonFerraiolo opened #3874 "New project dialog needs to prevent user from creating a project of same name as existing project"
RIght now, you can enter a project name for a project that already exists. Maqetta apparently simply switching to that project right now, but we shouldn't allow people to use an existing name.

[2013-04-04 15:16] peller commented on #3775
-> M11

[2013-04-04 20:44] JonFerraiolo opened #3875 "Manage states dialog doesn't come up"
This cleanup fix is the culprit (because domStyle isn't defined). Should be easy to fix:

https://github.com/maqetta/maqetta/commit/30ea8d1c79f5c6489480d31a3714ce766f3aa5cb#maqetta.core.client/WebContent/davinci/ve/States.js

[2013-04-04 20:44] #3862 closed, assigned to jhpedemonte

[2013-04-04 20:53] #3875 closed, assigned to JonFerraiolo

[2013-04-04 20:57] jhpedemonte commented on #3619
Closing.  As part of moving to Orion 1.0+, had to change how Orion user rights are set, which should have fixed most of the issues here.  Any remaining work will take place in linked issues.

[2013-04-04 20:57] #3619 closed, assigned to jhpedemonte

[2013-04-04 21:14] jhpedemonte commented on #3595
Closing.  The fix above is good for now.  The remainder will have to wait for when we can get rid of our server side files and go directly to Orion APIs.

[2013-04-04 21:14] #3595 closed, assigned to jhpedemonte

[2013-04-04 21:43] JonFerraiolo opened #3876 "gridx data from url keepings spinning when reopen file in page editor"
Saw this on maqetta-test with Win/FF and running in Eclipse using Mac/Chrome.
- New desktop app
- Add a gridx. Choose data from URL, and enter this URL: http://maqettaservice.appspot.com/sampleservice
- Save, close, reopen

RESULT=> gridx just says "Loading..." - data never appears

Works in preview, however.

[2013-04-04 22:02] peller commented on #3775
added davinci.dojo_1_9 plugin.  Need to figure out where to add that to build scripts, runtime, also whether css/theme updates are needed @billreed63

[2013-04-04 22:44] JonFerraiolo opened #3877 "Check mark doesn't appear on ListItem in page editor"
- New Mobile App
- Add an EdgeToEdgeList
- Select first ListItem
- In Widget properties, set checked to true

RESULT=> no checkmark on screen
- Save, close, reopen

RESULT=> checkmark appears

[2013-04-04 22:56] JonFerraiolo commented on #3862
Was this fixed _AFTER_ the latest build was posted on maqetta-test? Because I still see the problem on maqetta-test

[2013-04-04 23:07] JonFerraiolo commented on #3874
Fixed by 6e78da4366e8885cc08f645c5b0197134e836804

[2013-04-04 23:07] #3874 closed, assigned to JonFerraiolo

[2013-04-04 23:09] JonFerraiolo commented on #3855
Closing. Mostly addressed. I'll file other issues for things that don't make M10.

[2013-04-04 23:09] #3855 closed, assigned to JonFerraiolo

[2013-04-04 23:19] JonFerraiolo commented on #3123
->@JonFerraiolo M11 Prio-Med

[2013-04-04 23:41] JonFerraiolo opened #3878 "SaveAsWidget broken in Firefox"
@peller @billreed63 @jhpedemonte

Not sure yet what's going wrong, but it appears that SaveAsWidget works with Chrome but not with Firefox.
- New desktop app
- Add a DIV
- Put LABEL and Button in the DIV
- Select the DIV
- SaveAsWidget

If created using FF, the resulting widget fails when trying to use it. It looks like the HTML file isn't getting written properly on Firefox, but I haven't researc

[2013-04-05 01:46] jhpedemonte commented on #3862
Yes, after.

[2013-04-05 01:47] jhpedemonte commented on #3876
Hmm, I ran into this as well while running the tests. But only once -- afterwards, I couldn't reproduce. (On FF/Mac)

[2013-04-05 02:25] peller commented on #3765
work out details with zazl flag in M11

[2013-04-05 03:39] jhpedemonte commented on #3342
This stems from this code in `OrionUser.getUserFile()`:

[code]

As mentioned in #3595, this will create the file represented by `a`.  In this particular case, it ends up creating a **project** for an incorrectly formed URL, so we end up with projects such as "app.css".

[2013-04-05 04:31] #3871 closed, assigned to JonFerraiolo

[2013-04-05 14:11] JonFerraiolo commented on #3601
Reopening -> @peller

I tried tonight's last night's nightly (http://maqetta.org/nightly/maqetta-orion-201304050100.zip) and followed these steps:
- Open Sample3-Mobile.html
- SaveAs into a different name (e.g., <root>/a1.html)
- Switch to second scene in Scenes palette
- Go into split-h mode
- In source pane, scroll towards bottom and type some extra characters into the string "Today's alerts"

R

[2013-04-05 16:00] #3465 closed, assigned to peller

[2013-04-05 16:38] peller opened #3879 "DWB: do polling on client instead of server"
The DWB request is very long and causes gateway timeouts when the cache is cold.  Consider doing the polling from the client (JSONP?) displaying status in a toaster with a download link to click on when ready.

[2013-04-05 16:39] peller commented on #3303
most of these problems appear to be addressed, except for the gateway timeout.  See #3879

[2013-04-05 16:39] #3303 closed, assigned to peller

[2013-04-05 16:46] peller commented on #3522
Seems to work fine now directly from build.dojotoolkit.org, though it takes a few minutes for the initial build.  see #3879.

Need to retest this on M10.

[2013-04-05 16:53] peller commented on #3244
4521fadc9f48cff8234621d2cd4e153b3f312ce7 provided load indicator for all previews (not in silhouette)

[2013-04-05 17:05] peller commented on #3878
reopening until we work out the issues using Deferred directly from the setContents API

[2013-04-05 17:14] JonFerraiolo opened #3880 "Remove all references to ProblemsView"
I wouldn't touch this for M10, but for M11, would be good to get to this early in the cycle (hence Prio-High).

We don't use ProblemsView anymore, but it's still included in the shipping product, so let's remove it.

Also, we should examine the use of event "/davinci/resource/resourceChanged". As best I can tell from grep, it's used in two independent sections of the code: (1) the review system us

[2013-04-05 20:55] peller commented on #3878
still fails on FF.  HTML file is uploaded, but it shows up on server as foo.html.workingcopy instead of foo.html.  @JonFerraiolo had you seen this problem?

[2013-04-05 21:44] JonFerraiolo commented on #3878
Well, I'm not sure if I've seen this problem or not. You see, I did see one instance of this when I was working on a fix, but didn't see it after I finished my work. However, there is a clear suspect: the second parameter to setContents() is `isWorkingCopy`.

[2013-04-05 22:41] peller commented on #3878
I've seen it work intermittently on FF after my fix.  Yes, the second parameter to setContents is a flag, but the de code isn't setting it anywhere I can see.

[2013-04-06 03:03] peller commented on #3878
So stepping through these two lines in resource.js:

[code]

neither one says anything about a workingCopy extension or flag on the client.  createResource makes a file with an .html.workingCopy extension on the server.  (note that this call uses sync xhrs) Then, the setContents either updates that file or renames it to .html, depending on whether I'm in the debugger or not.  setContents is async,

[2013-04-07 03:11] peller commented on #3601
@JonFerraiolo see note on commit 77a2d13, above.  It seems the addition of davinci/commands/SourceChangeCommand generates an additional event on execute which may be resetting the text and the cursor.  Not sure how to avoid this, as there are timeouts involved and a very long, convoluted pub/sub model.

[2013-04-07 20:04] JonFerraiolo opened #3881 "Using project templates from eclipse projects to create non-eclipse projects"
- Create new eclipse project
- Add a file
- Save as project template
- Create new project using the new template, but with eclipse support turned off

RESULT => The new project only has an empty lib/custom folder

[2013-04-08 01:53] peller opened #3882 "window.focus is not a function"
ui.plugin.js: exception from the line after opening the navigator window

must be some global assignment clobbering the native method.

[2013-04-08 02:01] #3882 closed, assigned to peller

[2013-04-08 02:02] peller commented on #3882
fixed by 6a7db5827a9834892a1497ffe5df417ad6537010

[2013-04-08 03:47] JonFerraiolo commented on #3842
Closing. I both tested folders with spaces, and studied the launch script and it looks good.

[2013-04-08 03:47] #3842 closed, assigned to JonFerraiolo

[2013-04-08 13:50] JonFerraiolo commented on #872
Reopening, and putting milestone to "Future" because we may never feel we want to make these fixes (because supporting department windows servers is likely more involved than just fixing the launch script, and user can always hand-edit the launch script).

But let's keep tracking the gap between the Unix/Mac launch scripts and the Windows launch script.

Here are some remaining deltas:
- Check for

[2013-04-08 14:15] billreed63 opened #3883 "Uploading large zip files needs some kind of working indicator"
I downloaded my entire workspace including libs so that the zip file was about 8 meg, I then used the upload zip and extract option to upload the same zip file. When I clicked on the upload button I get no feedback that anything is happening. After about 30 seconds the dialog is removed. We need some king of indicator that work is happening

[2013-04-08 22:00] #3878 closed, assigned to JonFerraiolo

[2013-04-08 23:42] jhpedemonte opened #3884 "Unwanted selection of widget text when dragging out widget shape"
1. Create **Sketch (high fidelity)**.
2. Add **TabContainer**.
3. Add **Dijit Button** into TabContainer.
4. Select **HTML Button**, then drag out shape starting next to Dijit Button and expanding to the lower-right.

Notice that both Buttons' text are highlighted/selected.  Usually, I can make the selection disappear by clicking somewhere else in VE; but sometimes it gets "stuck" and only solutio

[2013-04-08 23:51] jhpedemonte opened #3885 "Need immediate feedback when widget added (i.e. place-holder)"
For slow server, sometimes there is no indication of a dropped widget at first, leaving user thinking that nothing happened.  We can do 2 things to alleviate this:
1. Show a **place-holder image** for the widget and replace with actual widget once its data arrives.
   - Since we'll already have data for some widgets and they will load immediately, only show placeholder after a bit of time (100ms?)

[2013-04-08 23:57] jhpedemonte opened #3886 ""Loading" indicator stays for way too long when opening empty file"
While testing on Firefox and maqetta-test today, I created a new blank page (first time this session) and was greeted with a **Loading** indicator for close to 10 seconds.  Not sure what's going on, but an empty file should load immediately.

[2013-04-09 00:01] peller commented on #3885
I thought we tried part 2 a while ago.  Will have to dig through the history to find out what happened to that. There'd still be no guarantee that the widget would be ready in time for drop, so the placeholder code would still be necessary.  Isn't an async xhr request sufficient?  Why would we need a webworker?

[2013-04-09 00:05] jhpedemonte opened #3887 "FF: Arrow keys in Files view interpreted as Delete"
Select a file in the Files view and attempt to use the arrow keys.  The action is interpreted as **delete** -- a dialog asking for your confirmation to delete the file appears.

[2013-04-09 00:12] peller commented on #3886
It was pretty snappy when I tried it. It would be good to know if there was anything suspicious on the console or in the network panel.  Were there any other open windows?

[2013-04-09 00:14] peller commented on #3887
somehow the delete button and others on the files view are left out of the tab order. may be related to the new project buttons. @JonFerraiolo

[2013-04-09 01:14] jhpedemonte commented on #3885
Not 100% sure.  I've seen references from other articles/blogs mentioning this.

[2013-04-09 02:20] #3883 closed, assigned to peller

[2013-04-09 02:43] JonFerraiolo commented on #3887
I'm using `float:right` for the 4 buttons on the right. Could that contribute to the problem?

[2013-04-09 02:48] JonFerraiolo commented on #3885
I expect it would a big effort to insert a placeholder widget temporarily onto the canvas and then replace with the real widget. The widget creation logic is quite involved. However, it might be feasible to put some sort of visual indicator that overlays the canvas at the drop point, and which is tied to a deferred, which gets resolved when the widget creation is complete, which causes the visual

[2013-04-09 02:58] peller commented on #3885
We could use the standard wait indicator.  It probably also makes sense to disable DnD until the original request completes.

[2013-04-09 03:17] #3549 closed, assigned to JonFerraiolo

[2013-04-09 12:32] jhpedemonte commented on #3886
![2013-04-09 10 38 59 am](https://f.cloud.github.com/assets/711365/357668/e2e61fde-a12b-11e2-9c32-c08b6fdd24ad.png)

The bottom says ~16s, but I counted about 12s or so that the **Loading** indicator was up (some reqs came in before/after the indicator).

As you can see, the biggest delay is in the middle, where it calls `findResource` and `listFiles` on the theme files.  I assume all of those are

[2013-04-09 14:47] peller opened #3888 "Remove recursive walk through user filesystem"
da0be51f3d450a11754dd54399c6f3df8509ec36

While it is asynchronous, it can take a very long time if there's a large folder structure in the user's space (for example, if you upload a large zip)

I think findResource has wildcarding.  findResource itself is synchronous and evil, but still better than a recursive walk.

@JonFerraiolo

[2013-04-09 14:48] peller opened #3889 "createResource ignores existing files"
In davinci/model/resource/Folder.js:

[code]

Graceful here sounds like a bug.

@jhpedemonte @JonFerraiolo

[2013-04-09 14:52] peller commented on #3888
unclear how this works if the getChildren call is asynchronous, there's no callback to know when htmlFiles is ready

[2013-04-09 14:57] peller opened #3890 "Make createResource async"

[2013-04-09 15:43] jhpedemonte commented on #3886
I updated the [above comment](https://github.com/maqetta/maqetta/issues/3886#issuecomment-16109676) with a better image, showing more of the URLs involved.

To recreate in FF:
1. Clear cache.
2. Reload Maqetta.
3. Select _Create a New Desktop Application_, but don't yet click on **Create**.
4. Clear the Net Panel in Firebug.
5. Click on **Create**.

[2013-04-09 15:49] jhpedemonte commented on #3889
I would imagine that if the client makes a call to create a resource that already exists, that is a bug in our code.  Not sure how we want to handle that on the client side ("Error creating file.  Please open a bug [<- that's a link] with the contents of the console" or something; but asking our users to go to the console isn't ideal).

[2013-04-09 15:50] jhpedemonte commented on #3888
Didn't we have issues with wildcards in `findResource`?  I vaguely recall that we used to call `findResource("*.theme")` and it had terrible performance.

[2013-04-09 15:53] peller commented on #3888
It's terrible, but it can't be as bad as recursing the filesystem from the client

[2013-04-09 15:53] jhpedemonte commented on #3888
Hmm, only found [this reference](https://github.com/maqetta/maqetta/issues/2233), which implies that perf isn't too bad.  Still we test.

[2013-04-09 15:54] peller commented on #3888
and to find *.theme, it really shouldn't be necessary to search the entire filesystem.  For this feature, to find all *.html files, I guess it is.   It may also depend how much we want this feature.

[2013-04-09 15:56] peller commented on #3889
It's unlikely, but there's no guarantee that our client-side cache is current.  But ignoring the error seems wrong also.

We ought to have error toasters or something, but that's a different issue.

[2013-04-09 16:21] peller commented on #3887
nah, my mistake, toolbar items aren't in the tab order anyway. you have to arrow key through them (and that's working, just backwards for the `float:right` elements, which ought to be ok)

[2013-04-09 16:22] peller commented on #3887
the problem seems to be specific to FF

[2013-04-09 17:10] JonFerraiolo commented on #3888
We need the feature (i.e., easy way to associate an event such as onclick with hyperlink to a new page) - I went through various user scenarios and this was the best approach for non-programmers and lightweight programmers.

Note that the current logic skips the themes, samples, and libs folders, so it is only searching through files that the user has added himself. And I'm pretty sure the server

[2013-04-09 17:15] peller commented on #3888
findResource basically pulls down and caches the entire directory structure, so no matter how many times it's called, it's just once per session.  Still has the potential to be very bad, though, depending on the number of directories.

[2013-04-09 17:18] JonFerraiolo commented on #3845
Closing. I couldn't find a way to reproduce. Will reopen if/when we see this problem again.

[2013-04-09 17:18] #3845 closed, assigned to JonFerraiolo

[2013-04-09 17:19] peller commented on #3886
@billreed63 referred me to #886 and this checkin 1a8614f2b5580908c0578d5dab0be4ca81110b7c, which should have reduced the number of theme requests.  What we're seeing might be a regression.  The iterating over *.theme files seems to be originating from Theme.getDojoxMobileThemeMap:

[code]

[2013-04-09 17:35] peller commented on #3886
of particular interest is this line from Theme.js: 265

[code]

which was probably a no-op before, since these dirs were already cached.  But now it's initiating a findResource call in order to calculate some paths.  Hopefully we can avoid fetching the theme and metadata file for other themes.

[2013-04-09 17:47] JonFerraiolo opened #3891 "Review alert if email is not working comes up somewhat garbled"
The dialog that appears if you create a review and email is not working comes up somewhat garbled:

![Screen Shot 2013-04-09 at 10 31 37 AM](https://f.cloud.github.com/assets/706721/358287/59f476dc-a13d-11e2-8c54-8d8ffbcf93ee.png)

[2013-04-09 17:49] #3869 closed, assigned to JonFerraiolo

[2013-04-09 17:53] JonFerraiolo commented on #3640
from M10 -> Future

[2013-04-09 17:54] JonFerraiolo commented on #3565
From M10 -> future

[2013-04-09 17:54] JonFerraiolo commented on #3399
From M10 -> future

[2013-04-09 17:56] peller commented on #3886
-> @billreed63

It should be possible to replace the line above with logic that gets theme.path and parses out the parent path

[2013-04-09 18:04] #3843 closed, assigned to JonFerraiolo

[2013-04-09 21:26] JonFerraiolo commented on #3703
Closing. I tried this again on maqetta-test on both Mac/Chrome and Mac/Firefox (several times here) and couldn't reproduce the problem.

[2013-04-09 21:26] #3703 closed, assigned to JonFerraiolo

[2013-04-09 21:51] JonFerraiolo commented on #3761
@megaD - We have fixed some things in this area of the code (e.g., #3703 seems to be fixed), and I was going to test the latest build with the HTML file that you sent me, but I can't find that file. Any chance you could send the file to me again? (jonferraiolo (at) gmail.com)

[2013-04-09 22:12] JonFerraiolo commented on #3601
Reopening. I just pulled latest code and tried the file listed at top of bug report, and I'm still seeing problems. The one difference, though, is that now the cursor jumps to the bottom of the file instead of the top of the file.

Also, see comments I added to d0b307af211b9a17f5d2fa2885fbd8a129bb85fc

[2013-04-09 22:16] JonFerraiolo commented on #3796
![Screen Shot 2013-04-09 at 3 16 05 PM](https://f.cloud.github.com/assets/706721/359527/2db5c9e2-a163-11e2-911b-744f80775cc0.png)

[2013-04-09 22:36] #3796 closed, assigned to JonFerraiolo

[2013-04-09 22:39] peller commented on #3601
@JonFerraiolo I tried the example at the top, also the Sample3-mobile steps cited somewhere in the middle, all seem to work fine.   What steps did you take? Which browser?

[2013-04-09 22:40] JonFerraiolo commented on #3601
I tried again with "correct check-in" (1c539f6c0d1e678325152de1fdf83e1d23371577) and cursor is still jumping for me.

[2013-04-09 22:41] JonFerraiolo commented on #3601
Mac/Chrome

[2013-04-09 22:50] JonFerraiolo commented on #3725
Closing. Not happening in latest build. I suspect this was fixed when we got Eclipse projects working properly with Orion 2.0.

[2013-04-09 22:51] #3725 closed, assigned to JonFerraiolo

[2013-04-09 23:00] JonFerraiolo commented on #3570
Closing. Couldn't reproduce on maqetta-test. My guess is that all of the async cleanups took care of this.

[2013-04-09 23:00] #3570 closed, assigned to JonFerraiolo

[2013-04-10 03:18] jhpedemonte commented on #3796
Well, I didn't have an issue with the original message.  Maybe could have just had a new line before the 2nd sentence.

[2013-04-10 03:22] jhpedemonte commented on #3891
Ah, that would be because I converted the email template from HTML to plain text (to accommodate Orion APIs).  Seems that this dialog expects HTML.

[2013-04-10 11:27] licai opened #3892 "run the source code but cannot regist"
Hey guys,
i've setup the source code in windows and run it. but i cannot regist it succeed. i trace the code and find the regist and login is handle in LoginFixUpFilter, int the handleRegistration(), the user in follow line is null,

User user = userAdmin.getUser(UserConstants.KEY_EMAIL, email);

this cause the user in handleLogin() is null also

User user = userAdmin.getUser(UserConstants.KEY_EMA

[2013-04-10 11:38] licai opened #3893 "how to run in Linux?"
hi guys:
i want to run the service in CentOS(one branch of Linux), can i do it? how to?

thanks any feedback.

[2013-04-10 13:37] billreed63 commented on #3893
Questions are best asked on the maqetta users group
https://groups.google.com/forum/?fromgroups#!forum/maqetta-users

But yes you gan run on linux down load the zip file from maqetta.org the readme describes how to run on linux

[2013-04-10 13:37] #3893 closed, assigned to nobody

[2013-04-10 13:47] peller commented on #3863
seems to work now.

[2013-04-10 13:47] #3863 closed, assigned to jhpedemonte

[2013-04-10 14:01] billreed63 commented on #3876
When Gridx or and data store based widget is using JSONP we add

[code]

Win the page is loaded the requires are run, when `xhrScriptPlugin("http://localhost:8888/sampleservice","callback");` is executed the xhrScriptPlugin code adds the following iframe and scripts to the body of document

![image](https://f.cloud.github.com/assets/717822/362324/019ba98e-a1e6-11e2-8bee-542205e5e956.png)

After al

[2013-04-10 14:10] #3861 closed, assigned to peller

[2013-04-10 14:28] peller opened #3894 "Source edit in mobile document resets content"
Edit Sample3-Mobile, switch to horizontal split view.
Add white space to a tag, for example a space after the slash in </title> ---> </ title>
Wait a moment for processing, the change will disappear.

@JonFerraiolo

[2013-04-10 14:32] peller commented on #3894
It seems that the setOrientation call

[code]

in Context.onload, after setting the new content in the visual editor, then triggers _visualChanged on the editor which serializes the model and sets the content on the source editor again.  The round trip is unnecessary and may impact formatting or cause trouble with incomplete or malformed tags.

Perhaps the setOrientation call can be avoided if the

[2013-04-10 14:33] #2084 closed, assigned to peller

[2013-04-10 14:53] JonFerraiolo commented on #3876
I've always figured that we would need to make our rules about filtering out SCRIPT and on\* attributes (e.g., onload) would need some extensions to deal with special cases, where particular widgets could override the default filtering rule (which is remove all SCRIPT and all on\* attributes).

In this case, though, I'm not sure exactly how to add such a hook given that we are trying to use a part

[2013-04-10 20:07] #3886 closed, assigned to billreed63

[2013-04-10 21:38] peller commented on #1149
M7 UI makeover included dropdowns in the toolbar

[2013-04-10 21:38] #1149 closed, assigned to peller

[2013-04-10 21:46] jhpedemonte commented on #3892
Your **target platform** is not set correctly.  Please re-read the [developer setup](https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup) instructions.  At this point, it's best to use a Maqetta nightly or Orion 2.0 for your target platform.

[2013-04-10 21:46] #3892 closed, assigned to nobody

[2013-04-10 21:46] jhpedemonte commented on #3893
This page may be of help: https://github.com/maqetta/maqetta/wiki/Server-Installation-and-Setup

[2013-04-10 22:07] peller commented on #1462
I wonder if you could (temporarily) create one of those nodes (INPUT, A) at the same location as the focus only for the purposes of scrolling the pane?  I tried a brief experiment, but failed.

[2013-04-10 22:22] JonFerraiolo commented on #1462
I would try the approach of getting the bounding box on the widget (using GeomUtils) and then call the browser function (whatever it is) to scroll the iframe so that those bounds are visible.

[2013-04-10 22:49] #3881 closed, assigned to JonFerraiolo

[2013-04-10 22:53] JonFerraiolo opened #3895 "Project templates - files not copied if create project (with template) immediately after creating the template"
Not absolutely sure about this, but I discovered this when testing something else.
- Create a folder
- Save as project template
- Immediately create project and use that project template

RESULT=> No files copied into new project, not even app.js or app.css, let alone the files from the template.

[2013-04-10 23:15] JonFerraiolo commented on #3895
Having trouble reproducing now.

[2013-04-11 15:32] billreed63 commented on #3876
A more generic fix is to use the toolkit callback approach like dojo 1.8:
package.json

[code]

[2013-04-11 15:36] JonFerraiolo opened #3896 "Update release notes around Orion 2.0"

[2013-04-11 15:50] billreed63 opened #3897 "Server exception on first save on new theme"
Windows 7/ chrome
1) Create new mobile theme clone of custom, in this case I called it custom1
2) Make a change to the theme, set the background gradient of header
3) Click on the save and notice the following exception on the server

[code]

The code in org.maqetta.server.VFile.flushWorkingCopy(VFile.java:303)

[code]

[2013-04-11 16:35] #3839 closed, assigned to billreed63

[2013-04-11 17:30] #1462 closed, assigned to peller

[2013-04-11 17:44] JonFerraiolo commented on #3601
@peller: I don't see the jumping in latest build on maqetta-test. OK with me to close again.

[2013-04-11 19:27] #3601 closed, assigned to peller

[2013-04-11 19:40] #3876 closed, assigned to billreed63

[2013-04-11 20:31] #3894 closed, assigned to peller

[2013-04-11 20:43] billreed63 commented on #2185
I reviewed the code, the connections are cleared when a new widget is selected regardless if it has subwidgets
Foucus.resize

[code]

updateSubwidgetList

[code]

 currently `_updateSubwidgetListForState()` is only triggered from the theme editor states palette which id different than the page designer states palette. But the code for subwidgets was written with the idea that one day we may want t

[2013-04-11 20:45] #2185 closed, assigned to billreed63

[2013-04-11 21:28] #3730 closed, assigned to billreed63

[2013-04-11 21:37] billreed63 commented on #3441
Need dojo 1.9

[2013-04-11 22:28] #3854 closed, assigned to JonFerraiolo

[2013-04-11 22:33] peller commented on #3441
see #3775

[2013-04-12 00:23] peller commented on #3441
We're [presently on Dojo 1.8.3](https://github.com/maqetta/maqetta/issues/3655), and the [changeset](http://bugs.dojotoolkit.org/changeset/29822/dojo) backporting that fix went into 1.8.2.

[2013-04-12 03:11] peller commented on #3636
this code seems to have disappeared with Orion 1.0/2.0

[2013-04-12 03:11] #3636 closed, assigned to jhpedemonte

[2013-04-12 03:28] #3342 closed, assigned to jhpedemonte

[2013-04-12 04:06] jhpedemonte commented on #3635
This was fixed by using the Orion 1.0+ email APIs.

[2013-04-12 04:06] #3635 closed, assigned to jhpedemonte

[2013-04-12 04:07] jhpedemonte opened #3898 "Register button is too big"
The **Register** button on the landing page is huge now.  Not sure if this was caused by move to Orion 1.0+.

[2013-04-12 04:14] jhpedemonte opened #3899 "Issues when creating & copying files from regular to Eclipse project"
While in a "regular" project, I created an Eclipse project and selected to copy the files of the existing project.  This resulted in a bad project, with many files outside of the _WebContent_ dir.

Also had issues going in the opposite direction.

---

Easiest solution would be to disable or enforce the Eclipse checkbox if the user checks the copy option, such that when copying is enabled, user ca

[2013-04-12 04:19] jhpedemonte opened #3900 "404 errors when loading Sample3-mobile.html"
When loading **Sample3-mobile.html**, saw a couple of 404 errors:

[code]

The file seems to load fine in the VE.

@JonFerraiolo

[2013-04-12 04:27] jhpedemonte commented on #3749
@JonFerraiolo, any idea here?

[2013-04-12 04:28] jhpedemonte commented on #3709
Working for me.

[2013-04-12 04:28] #3709 closed, assigned to nobody

[2013-04-12 04:34] jhpedemonte commented on #3712
@peller, anything that could be done about this for M10, to remove the **Loading** layer?  By pressing **Cmd-2**, I can switch to source view, but since the Loading layer is still there, I cannot edit the file to remove the offending line.

[2013-04-12 04:41] jhpedemonte commented on #3311
No longer valid.  Using Orion email APIs.

[2013-04-12 04:41] #3311 closed, assigned to jhpedemonte

[2013-04-12 04:42] jhpedemonte commented on #3195
Migration no longer supported/needed.  Closing.

[2013-04-12 04:42] #3195 closed, assigned to jhpedemonte

[2013-04-12 12:51] JonFerraiolo commented on #3899
At this point, my inclination would be to go with the "easiest solution" and log a bug for posterity about a better long-term solution

[2013-04-12 13:58] #3900 closed, assigned to billreed63

[2013-04-12 15:06] billreed63 commented on #3353
The issues seems to be when the user right clicks on a folder it is treated as a download selected file/folder which does not download the readonly files, this seems like a bug as if I right click on the theme folder I would expect all the themes to be downloaded not just the read/write themes. Also if I am in an eclipse project and right click download the webcontainer folder I would expect the l

[2013-04-12 15:12] billreed63 commented on #3357
related to #3491
For now we have removed the option to change the libs location.

[2013-04-12 15:18] #3517 closed, assigned to peller

[2013-04-12 17:45] peller commented on #3889
dup of #2840

[2013-04-12 17:45] #3889 closed, assigned to peller

[2013-04-12 17:46] #3899 closed, assigned to JonFerraiolo

[2013-04-12 17:48] JonFerraiolo commented on #3895
Closing. Couldn't reproduce.

[2013-04-12 17:48] #3895 closed, assigned to JonFerraiolo

[2013-04-12 17:52] peller commented on #265
no longer an issue

[2013-04-12 17:52] #265 closed, assigned to jhpedemonte

[2013-04-12 17:58] JonFerraiolo commented on #3749
I tried this running from Eclipse on Mac/Chrome and Mac/Firefox and couldn't reproduce the problem with latest code. I'll try again soon on maqetta-test once latest build is posted.

One thing to note about preview - there is a geolocation call in the app.js logic which on my system causes Chrome and FF to post an alert asking if it's OK to share my current location, and that's the information tha

[2013-04-12 18:06] JonFerraiolo commented on #3562
Pushing from M10 to future. I just verified that solution (1) is there with M9 - the login page has big red letters telling IE users that they have to use a different browser.

Longer-term, if/when IE10 is supported, and assuming IE10 supports addEventListerner and XHR, then change check to only disallow IE if version < 10.

[2013-04-12 18:11] JonFerraiolo commented on #3728
Closing because it's not a common case and probably won't ever fix.

[2013-04-12 18:11] #3728 closed, assigned to JonFerraiolo

[2013-04-12 18:19] peller commented on #3353
this is what's causing the 500:

[code]

[2013-04-12 18:28] peller commented on #3353
and the client stack that triggered the request.  It's the rewriteURLs call that triggers the findResource:

[code]

[2013-04-12 18:30] #3898 closed, assigned to JonFerraiolo

[2013-04-12 19:22] peller commented on #3736
I am seeing this intermittently on the built version as well.  The priority init setting doesn't seem to be working.  What's the valid range and are high or low values given priority?

Perhaps we could reduce the number of conflicts with Orion filters and paths (e.g. "/")

@skaegi @jhpedemonte

[2013-04-12 19:28] #3877 closed, assigned to billreed63

[2013-04-12 19:38] jhpedemonte opened #3901 "Replace custom server code with Orion filters"
Orion server provides a set of request filters which address functionality across many URLs; the most useful to us are:
- AuthorizedUserFilter
- LoggedInUserFilter
- CacheFilter
- GzipFilter (we may already be using this one)

We should make use of these filters to replace custom (fragile) code in our Maqetta servlet handlers.

[2013-04-12 19:40] #3486 closed, assigned to billreed63

[2013-04-12 19:41] #2408 closed, assigned to billreed63

[2013-04-12 19:52] billreed63 commented on #1929
fixed with delta themes, sketch now uses the same theme meta data as claro.

[2013-04-12 19:52] #1929 closed, assigned to billreed63

[2013-04-12 19:53] #3481 closed, assigned to jhpedemonte

[2013-04-12 19:54] jhpedemonte commented on #3481
Closing.  All issues fixed or moves to separate bugs.

[2013-04-12 20:52] billreed63 commented on #2414
Tested on latest code with

[code]

and the the issue has been resolved, most likely when @JonFerraiolo rewrote the selection editFeedback code

[2013-04-12 20:52] #2414 closed, assigned to billreed63

[2013-04-12 21:46] #3421 closed, assigned to billreed63

[2013-04-12 22:53] JonFerraiolo commented on #3749
@peller - Maybe you could help me look into this one?

I can't reproduce when running locally from Eclipse, but I can reproduce using Mac/Chrome (but not Mac/FF) on maqetta-test. The debugging dilemma I have is that I'd like to put a breakpoint in ListItem.js:_setRightTextAttr() when running the built version, but the Chrome debugger doesn't show ListItem.js as a file which I can open (because I w

[2013-04-12 23:01] JonFerraiolo commented on #3729
Save-as-widget sort of works with shapes. When I tried adding one of each shape on canvas, then surround with DIV, then Save-as-Widget, I got an undefined exception on first try, but it worked on second try. Note that exception causes widget palette to disappear because the custom widget is incompletely formulated.

-> Prio-High to investigate the exception.

[2013-04-12 23:29] JonFerraiolo commented on #3729
Closing. There is some intermittent flakiness, at least one time when I tried it, but now I can't reproduce, and shapes are indeed working inside of custom widgets these days.

[2013-04-12 23:29] #3729 closed, assigned to JonFerraiolo

[2013-04-12 23:37] JonFerraiolo commented on #3652
-> future. Should be an easy fix. Just search Context.js for "resiz" to find the logic that decides whether a widget is resizable or not (or only h or only v), and force the value to be "none" if the current editor is a theme editor.

[2013-04-12 23:39] JonFerraiolo commented on #3620
-> future

[2013-04-12 23:39] JonFerraiolo commented on #3617
-> future

[2013-04-12 23:40] JonFerraiolo commented on #3610
-> future

[2013-04-12 23:42] JonFerraiolo commented on #3600
-> future

[2013-04-12 23:43] JonFerraiolo commented on #3585
-> future

[2013-04-12 23:44] JonFerraiolo commented on #3553
Couldn't reproduce on maqetta-test either with latest build. Closing.

[2013-04-12 23:44] #3553 closed, assigned to JonFerraiolo

[2013-04-12 23:45] JonFerraiolo commented on #3530
-> future

[2013-04-12 23:46] JonFerraiolo commented on #3510
-> future

[2013-04-12 23:48] JonFerraiolo commented on #3505
This issue went away when I redid the widget palette for M8. The folder icons are now in base64 within widgetPalette.json.

[2013-04-12 23:48] #3505 closed, assigned to JonFerraiolo

[2013-04-12 23:48] JonFerraiolo commented on #3492
-> future

[2013-04-12 23:48] JonFerraiolo commented on #3491
-> future

[2013-04-12 23:49] JonFerraiolo commented on #3485
Closing. We added a ? icon at bottom right of every widget in widget palette in M8 release.

[2013-04-12 23:49] #3485 closed, assigned to JonFerraiolo

[2013-04-12 23:49] JonFerraiolo commented on #3484
-> future

[2013-04-13 00:04] JonFerraiolo commented on #3482
-> future

[2013-04-13 00:05] JonFerraiolo commented on #3475
Closing. Dupe of some other bug. I added a red-color message to login screen for IE saying "use a different browser"

[2013-04-13 00:06] JonFerraiolo commented on #3472
Seems to be fixed. Closing.

[2013-04-13 00:06] #3472 closed, assigned to JonFerraiolo

[2013-04-13 00:07] JonFerraiolo commented on #3462
-> future

[2013-04-13 00:14] peller commented on #3749
@JonFerraiolo   It's all built in a layer.  You'll want to look for `maqetta/user/X/ws/workspace/project/lib/dojo/dojox/mobile.js`  It's compressed, but it has new lines and perhaps you can find the code and set a breakpoint (looks to me like line 445).  Otherwise, you'd have to generate a special build without compression or without including that file in a layer.

[2013-04-13 00:31] #3447 closed, assigned to JonFerraiolo

[2013-04-13 00:33] JonFerraiolo commented on #3415
-> future

[2013-04-13 00:38] JonFerraiolo commented on #3382
-> future

To fix, probably will have to add a general mechanism for container widgets to preserve/restore the currently visible pane, just like what we have for states and scenes (search for "restore" in Context.js).

[2013-04-13 00:38] JonFerraiolo commented on #3380
-> future

[2013-04-13 00:51] JonFerraiolo commented on #3272
Closing. Seems to be fixed.

[2013-04-13 00:51] #3272 closed, assigned to JonFerraiolo

[2013-04-13 00:56] JonFerraiolo commented on #3177
I think it's `showModal` and not `createDialog`, nevertheless moving to future

[2013-04-13 01:04] JonFerraiolo opened #3902 "ListItem label SmartInput should not enable rich html markup"
- Add a RoundRectList
- Double-click on one of the labels and enter this for its text "aaa<i>bbb</i>" and click the radio button for rich html markup, then click OK

RESULT=> label says "aaa" - the italic part gets dropped

I expect that the widget logic somehow only uses the first child node or something like that.

[2013-04-13 01:04] JonFerraiolo commented on #2707
Closing - not seeing this now. Probably my changes to ListItem (to allow child widgets) took care of this. However, opening a new issue (#3902) because ListItem allows HTML markup, but then just drops all embedded markup.

[2013-04-13 01:04] #2707 closed, assigned to JonFerraiolo

[2013-04-13 01:11] JonFerraiolo commented on #3095
Looks like preview is now showing a generic icon. That's acceptable. Closing.

[2013-04-13 01:11] #3095 closed, assigned to JonFerraiolo

[2013-04-13 01:13] JonFerraiolo commented on #3064
-> future

This bug applies to a partially implemented feature - nested state containers. With M10, users will never encounter this because the UI doesn't expose nested state containers.

[2013-04-13 01:16] JonFerraiolo opened #3903 "Rotate device command not working"
Assigning to @peller in case the setOrientation() fix caused the rotate device command to no longer work.

[2013-04-13 01:17] JonFerraiolo commented on #2951
Seems to be fixed now. Closing.

[2013-04-13 01:20] JonFerraiolo commented on #2904
Closing. Cmd/Ctrl-O works fine, and we don't have a single dialog for Cmd/Ctrl-N, and Cmd/Ctrl-N isn't in the docs.

[2013-04-13 01:20] #2904 closed, assigned to JonFerraiolo

[2013-04-13 02:29] #3903 closed, assigned to peller

[2013-04-13 02:49] peller commented on #3542
In this scenario, by setting the moveto attribute (step 5), the modifycommand apparently makes the header (h1 tag) a child of DIV.mblScrollableViewContainer.  Normally, they should be peers.

[2013-04-13 02:55] peller commented on #3897
@billreed63 what's the flow here?  Is it that custom1.css does not exist, only a working copy?  Is the right thing to do to check for this.file.exists() before calling delete?

@jhpedemonte

[2013-04-13 15:41] JonFerraiolo commented on #2901
Closing - this wasn't really a bug, just a UI topic to discuss.

[2013-04-13 15:41] #2901 closed, assigned to JonFerraiolo

[2013-04-13 15:44] JonFerraiolo commented on #2642
-> @billreed63

Please evaluate to see if still present, and whether this is an urgent problem or can be pushed to "future"

[2013-04-13 15:46] JonFerraiolo commented on #2532
-> @billreed63

Could you please evaluate this one to see if still present, and if so, is it an urgent problem to fix (probably not), otherwise, please set milestone to "future"

[2013-04-13 15:47] JonFerraiolo commented on #2531
What really needs to happen is replace the HTML parser with a modern open source HTML parser.

[2013-04-14 20:19] rbackhouse commented on #3736
I finally bite the bullet and debugged this in the equinox code. The problem is not with the priority code.

The root of the issue appears to be that the Orion server has a "org.eclipse.equinox.http.registry.servlets" extension that registers an instance of "org.eclipse.equinox.http.servlet.HttpServiceServlet" mapped to "/help". HttpServiceServlet extends  "org.eclipse.equinox.http.servlet.interna

[2013-04-14 20:54] rbackhouse commented on #3736
Here is some debug output I put in the filter registration code in ProxyServlet that shows the issue. Each line has the alias, Filter classname, object id of the ProxyServlet and this size of the filter registrations map. Note how the Zazl Filter is registering with a different instance of the ProxyServlet and the size is 3 instead of 19.

[code]

[2013-04-14 20:59] rbackhouse commented on #3736
Here is output with the /help servlet registration removed. You can see the difference at the bottom

[code]

[2013-04-14 23:12] JonFerraiolo opened #3904 "Add bullet in release notes about multi-option SmartInput"
@billreed63 - could you please add a bullet to maqetta.core.client/WebContent/docs/releaseNotes/release10.html about the multi-line SmartInput feature we added in M10? Would be good to have a few sentences and maybe show a usage example

[2013-04-14 23:13] #3826 closed, assigned to JonFerraiolo

[2013-04-14 23:19] JonFerraiolo commented on #282
Pushing this to future.

The importance of page templates as a separate feature has diminished now that we have project templates in M10. What project template gives you is the ability to not only define some initial HTML pages that others can use, but also allows you to set up images, JS, and CSS files that would be needed by those HTML pages.

One thing that the project template feature doesn't

[2013-04-14 23:23] JonFerraiolo commented on #1391
Haven't seen this in a long time, closing.

[2013-04-14 23:23] #1391 closed, assigned to JonFerraiolo

[2013-04-14 23:24] JonFerraiolo commented on #735
I added onchange to M10, but still need to look to see if we need others, such as onselect and onsubmit.

[2013-04-14 23:26] JonFerraiolo commented on #593
We seem to have a name property now on at least some form widgets. Leaving open because I didn't do a thorough check.

[2013-04-14 23:30] JonFerraiolo commented on #1868
Closing. Arrow keys are now disabled in widget palette. (Which is a whole separate issue.)

[2013-04-14 23:30] #1868 closed, assigned to JonFerraiolo

[2013-04-14 23:38] JonFerraiolo commented on #2283
This has been fixed. Closing.

[2013-04-14 23:38] #2283 closed, assigned to JonFerraiolo

[2013-04-14 23:40] JonFerraiolo commented on #2315
Closing. I don't see the 404 with latest code.

[2013-04-14 23:40] #2315 closed, assigned to JonFerraiolo

[2013-04-14 23:42] JonFerraiolo commented on #3307
Closing. Our docs don't claim support for FF ESR1.

[2013-04-14 23:42] #3307 closed, assigned to JonFerraiolo

[2013-04-14 23:47] JonFerraiolo commented on #231
Closing. This has been fixed.

[2013-04-14 23:47] #231 closed, assigned to JonFerraiolo

[2013-04-14 23:49] JonFerraiolo commented on #158
Seems to have been fixed. Closing.

[2013-04-14 23:49] #158 closed, assigned to JonFerraiolo

[2013-04-14 23:51] JonFerraiolo commented on #104
Outline palette is clipping now. Closing.

[2013-04-14 23:51] #104 closed, assigned to JonFerraiolo

[2013-04-14 23:53] JonFerraiolo commented on #1113
Closing. getContentPosition is no longer in Context.js.

[2013-04-14 23:53] #1113 closed, assigned to JonFerraiolo

[2013-04-14 23:55] JonFerraiolo commented on #986
Closing. Launch scripts no longer way "using JAR"

[2013-04-14 23:55] #986 closed, assigned to JonFerraiolo

[2013-04-14 23:57] JonFerraiolo commented on #559
Note that some of the download UI has been cleaned up in M9 and M10, but some of the UI is still sub-optimal.

[2013-04-14 23:58] JonFerraiolo commented on #536
Closing. Outline palette is not visible for for source files since M7.

[2013-04-14 23:58] #536 closed, assigned to JonFerraiolo

[2013-04-15 00:03] JonFerraiolo commented on #3531
Seems to be fixed. Closing.

[2013-04-15 00:03] #3531 closed, assigned to JonFerraiolo

[2013-04-15 00:06] JonFerraiolo commented on #2121
Closing. All of the palette and custom widget code has been rewritten.

[2013-04-15 00:06] #2121 closed, assigned to JonFerraiolo

[2013-04-15 02:00] jhpedemonte opened #3905 "R&C fails to create .review directory on server"
After commit 715fdafb544be88069a2cc652542cdac3e4dd646, the R&C code fails to create the **.review** directory on the server (although the code will continue to work just fine if that directory had already been created).

[2013-04-15 15:40] billreed63 opened #3906 "Clicking on review link in email does not open files in review editor"
Create a review
from the email that is sent to the review click on the link to the review
Meqetta is opened but no files are opened in the review editor

[2013-04-15 15:57] billreed63 commented on #3906
My bad, I cleared my cache and now it is all working...

[2013-04-15 15:57] #3906 closed, assigned to billreed63

[2013-04-15 16:08] billreed63 opened #3907 "Review cache busting for review and commenting"
I created a R&C, when I got the email (as another user) I clicked the link. Maqetta opened but the review files did not open. When I manually open the review from the review palette I could not add comments. As a matter of fact the comment palette was empty.

So I opened the my debugger (chrome) and reloaded the link to check for exceptions. The page then loaded correctly with all review pages ope

[2013-04-15 16:34] #3904 closed, assigned to billreed63

[2013-04-15 16:57] JonFerraiolo opened #3908 "Test plan instructions wrong for restoring dojo default theme?"
I ran the theme sets test plan, and in the last section there is a claim in the test plan that the theme map markup will get deleted from the source code if the themes match the default set of themes. However, when I followed the instructions, the theme map markup is still in the file.

@billreed63 - could you please take a quick look at this? We probably don't want to change the source code at th

[2013-04-15 17:00] peller commented on #3907
too bad we don't know if there were any exceptions on that initial run.  can you reproduce the problem?

[2013-04-15 17:19] JonFerraiolo opened #3909 "dijit.Toolbar in absolute/sketch mode should have horizontal resize handles"
You can resize a dijit.Toolbar using 'width' property in Properties palette, but no horizontal resize handles.

[2013-04-15 17:28] JonFerraiolo opened #3910 "maqetta-test needs updated siteConfig files, particularly widgetPalette.json?"
On maqetta-test, all of the new clipart icons end up in the "Other" category at bottom of widget palette. I suspect that siteConfig/widgetPalette.json wasn't updated on the maqetta-test server to include the latest and greatest files from the git repository.

[2013-04-15 17:39] jhpedemonte commented on #3910
Fixed.  Also added note to the M10 Migration bug, so we remember to do this during deployment.

[2013-04-15 17:40] #3910 closed, assigned to jhpedemonte

[2013-04-15 17:46] billreed63 commented on #3907
No, runs perfect now....

[2013-04-15 17:48] billreed63 commented on #3908
The test plan is wrong, I have not really be keeping it updated. It is better to run the SeleiumIDE test case. But I will update the testcase

[2013-04-15 17:56] #3908 closed, assigned to billreed63

[2013-04-15 18:00] JonFerraiolo opened #3911 "IconContainer and IconMenu SmartInput dialogs are empty"
On Mac/FF using maqetta-test -
- New Mobile App
- Add a View
- Add an IconContainer or IconMenu

Result=> SmartInput comes up with an empty white area - no options show. If then you click OK in the empty dialog, then no child widgets are added to the IconContainer or IconMenu

[2013-04-15 18:20] billreed63 commented on #3897
The files exists,

I create a new theme I will use claro1 which is a clone of claro in this example.
When claro1 is created the theme editor is opened with claro1, at this point I looks on my servers file system and I see `themes/claro1/claro1.css /themes/claro1.theme and themes/claro1/document.css` It all looks good at this point.

I then change something in the theme, like the background image g

[2013-04-15 20:23] billreed63 commented on #3911
Need to change create tool, no need to create iconItems just send child data to addCommand

[2013-04-15 20:23] #3911 closed, assigned to billreed63

[2013-04-15 20:30] billreed63 commented on #1749
code no longer exsists

[2013-04-15 20:30] #1749 closed, assigned to billreed63

[2013-04-15 20:31] #1603 closed, assigned to billreed63

[2013-04-15 20:39] billreed63 commented on #1794
This is still an issue with M10
When I say "delete" I mean select all the text and hit the delete key. If I replace the label text with a single space then the label is removed.

[2013-04-15 20:44] billreed63 commented on #391
no longer an issue in M10

[2013-04-15 20:44] #391 closed, assigned to billreed63

[2013-04-15 21:12] jhpedemonte commented on #3620
Closing.  We now follow Orion more closely: if email is hooked up on the server, then a reset link is provided.

[2013-04-15 21:12] #3620 closed, assigned to JonFerraiolo

[2013-04-16 14:24] peller opened #3912 "visual editor -> source select fails for multiple widgets"
Drag 3 Calendar widgets on the page
Go to split view
Select the first, the first calendar is selected in the source.
Select the second and third, the first calendar remains selected.

Selection from the source to the visual editor works fine.

[2013-04-16 14:44] JonFerraiolo commented on #3791
Closing. I had attempted to manually remove and recreate some of my logins. I believe the bug here is with the user account removal feature doing an incomplete job, versus problems with the review/commenting code.

[2013-04-16 14:44] #3791 closed, assigned to JonFerraiolo

[2013-04-16 14:47] JonFerraiolo commented on #3761
Closing - didn't receive file from @medaD, and files we have in hand are working.

[2013-04-16 14:47] #3761 closed, assigned to JonFerraiolo

[2013-04-16 16:05] JonFerraiolo commented on #3749
Going to have to defer this one. I see the same problem after downloading the ZIP and running on localhost - when Maqetta is totally uninvolved. When using debugger with the localhost zip download version of the page, I see that the rightTextNode is positioned down and to the right by the browser - it's there, but the browser has positioned it beyond the bounds of the ListItem.

I classify this as

[2013-04-16 16:20] peller opened #3913 "ModifyLibraries exception: Tried to register widget with id==PaletteMenuShowSuggested but that id is already registered"
[UPDATE] modify libraries action seems to fail, opening documents with the new path fails

While firing the `davinci/ui/libraryChanged` topic:

[code]

@JonFerraiolo @jhpedemonte

[2013-04-16 17:48] JonFerraiolo commented on #3548
Closing - I don't see the nulls with latest build on maqetta-test

[2013-04-16 17:48] #3548 closed, assigned to JonFerraiolo

[2013-04-16 17:51] peller commented on #3913
menu should probably be destroyed during a refresh op.  @JonFerraiolo says that alone did not fix the modify libs feature

[2013-04-16 18:01] JonFerraiolo commented on #3667
->@billreed63 in hope he has some familiarity with SmartInpuyt for gridx.

Enter this data to reproduce:

[code]

Then close the gridx wizard and then double-click to reopen the wizard. You'll see something like this:

[code]

[2013-04-16 19:10] jhpedemonte commented on #3548
Right, this was fixed when I updated the email templates to work with Orion email APIs.  I took the time to redo our email contents, removing most of these (unnecessary) fields.

[2013-04-16 23:52] peller commented on #3913
Jon commented out the handler in 0e5413c16c005ec53067f7a1110fd6b13d15fe33

[2013-04-17 01:25] #3891 closed, assigned to jhpedemonte

[2013-04-17 01:25] #3905 closed, assigned to jhpedemonte

[2013-04-17 01:49] #3846 closed, assigned to jhpedemonte

[2013-04-17 02:50] jhpedemonte opened #3914 "Error opening up non-HTML review file"
I created a review for **app.js**.  When opening up the file, I break in **davinci.dojo_1_8/WebContent/metadata/callbacks.js**, trying to reference `win["require"]`.  Since this isn't an HTML file, there is no `require` global.

[2013-04-17 03:08] #3793 closed, assigned to jhpedemonte

[2013-04-17 13:55] JonFerraiolo commented on #3914
@peller

I'm not sure when I'll find time to fix this problem. My first thought about how to fix would be to bracket all of the calls to `win[require]` with an `if` statement that makes sure that both `win` and `win.require` exist, but I would have to spend some time in the debugger to trace through what happens when a non-HTML file is used in a review.

[2013-04-17 20:28] peller commented on #3914
checking for `win` would be unnecessary, but a check for `win["require"]` would seem valid (we do that in Context.js, which is how we get this far).  However, that alone may not make any difference.  Commenting on non-HTML files still doesn't work.  References to `this.mainbody` in Comment.js are the next place it breaks.

[2013-04-17 21:05] peller commented on #3712
So removing the dojo/ready doesn't fix the problem.  We still get stuck, at the dojo/parser call to parse, the deferred never fires if there's an error (neither accepted nor rejected)  I spoke to @wkeese about this.  He reminded me that the require used by the parser doesn't have any way to report errors, only success, so dojo/parser has no way to report that it has reached an error condition.  It

[2013-04-17 21:06] peller commented on #3712
For now, users will have to go out to the Orion navigator to correct the problem in a source editor.

[2013-04-17 21:55] JonFerraiolo opened #3915 "Can't add a comment when running from Eclipse"
hi, I'm still seeing errors when I add a comment to an HTML review file when launching from Eclipse (localhost:8081).

What I've done is pullall, stop the Eclipse server, delete my workspace folder (__whatever), clear browser cache, start server, start client, register new user, create file1.html (with a button), save it, create a review inviting myself, then open the file1.html.rev and add a comm

[2013-04-17 23:55] jhpedemonte commented on #3914
Hmm, has it only ever worked on HTML files?  Can't remember what I've tested in the past.

[2013-04-18 13:41] billreed63 commented on #3739
1) We would need to remove the deviceTheme from the requires of all the mobile widgets,
2) Add a deviceTheme script Tag to the head of the document, ensuring that this appears before the dojo.js script tag.
3) Move the themeMap dojo config parameter from dojo.js script tag to the deviceTheme script tag. This means we need to change all the theme processing in the VE and theme switching use this ne

[2013-04-18 15:24] billreed63 commented on #3749
This seems to be another occurrence of a known problem with the way dojox/mobile/deviceTheme is loaded:

https://dojotoolkit.org/reference-guide/1.8/dojox/mobile/deviceTheme.html#loading-devicetheme-with-a-script-tag

I tried to modify file2.html (I guess this is the one that was mentioned in the github bug, right?) to load deviceTheme using a <script> tag as explained in the link above, and could

[2013-04-18 18:09] billreed63 commented on #3667
fixed by above commit

[2013-04-18 18:09] #3667 closed, assigned to billreed63

[2013-04-18 22:03] #3915 closed, assigned to jhpedemonte

[2013-04-19 13:49] andipfaff opened #3916 "SpinWheel displays correctly in editor and preview but not after exporting and viewing as standalone"
I was creating a simple 1-slot spinwheel in a View. This is correctly displayed in the WYSIWYG Editor and the Preview. Then I have exported all the files in the Project and saved them in my Webserver root. All objects work fine but the spinwheel shows noting except the vertical black lines, the Labels and the horizontal blue bar with the selected value. I am using the same browser (FF current rele

[2013-04-19 14:28] jhpedemonte commented on #3916
@billreed63, is this fixed in the **master**?  Or is this something else?

[2013-04-19 15:34] #3914 closed, assigned to JonFerraiolo

[2013-04-19 15:56] billreed63 commented on #3916
This works for me, did you have any messages in the browser console?

[2013-04-19 17:30] JonFerraiolo opened #3918 "Multiselect always selects all entries"
- New desktop app
- Add a MultiSelect, accept defaults
- Double-click on MultiSelect widget to bring up SmartInput again

=> All items have "+"

[2013-04-19 18:03] andipfaff commented on #3916
No error javascript message. Many CSS errors but these is due to the definitions for the other browsers.

[2013-04-19 18:41] billreed63 commented on #3918
fixed by 9b28c536730a45865cff115342c730da5c1eb088

[2013-04-19 18:41] #3918 closed, assigned to billreed63

[2013-04-19 21:23] billreed63 commented on #3916
fixed by above commit

[2013-04-19 21:23] #3916 closed, assigned to billreed63

[2013-04-19 21:27] billreed63 opened #3919 "Remove require of dojox/mobile/compat from mobile/*._oam.json files"
We have added all the compat  CSS rules to our mobile themes using the power of CSS to get the correct rule. so we no longer have *-compat.css file for the mobile themes.
Thus we can remove this require

[2013-04-19 21:29] andipfaff commented on #3916
Sorry for my question but what does that mean?

[2013-04-19 21:31] billreed63 commented on #3916
The fix will be in M10 which should be posted by the end of the month. Do you require a fix before then?

[2013-04-19 21:34] andipfaff commented on #3916
Looking onto my bank account it is already end of month ;-)
No I am not in a hurry, still developping. The functionality is given, it is just a cosmetic isue.

[2013-04-19 21:38] JonFerraiolo opened #3920 "Selection misplaced after changing devices"
- New Mobile App
- Add a default RoundRectList
- Make sure some thing is selected on the canvas
- Change to a different device

=> Result - select is in wrong place. Will correct itself if user clicks on canvas to select again, or if user scrolls or resizes the canvas somehow.

I expect the problem is that the repositionFocusContainer in Workbench.js is called before the SVG silhouette has been lo

[2013-04-19 21:44] JonFerraiolo opened #3921 "Widget type strings not truncated anymore"
In widget.js, we have logic that used to remove "dojo.form.", "dojox.mobile.", etc. from widget names so that the right-side palettes would say "Button" instead of "dijit.form.Button". Especially important for ScrollableView because ScrollableView fits in Scenes palette at default widget, but dojox.mobile.ScrollableView causes wrapping in Scenes palette.

Regression from M9, undoubtedly because of

[2013-04-19 21:47] #3921 closed, assigned to JonFerraiolo

[2013-04-19 21:50] JonFerraiolo opened #3922 "Need to trim leading and trailing spaces from ID strings"
Found a problem running through Tony's developerWorks articles. I tried to copy/paste the IDs from the articles into the ID field at top of Properties palette, and sometimes the browser's clever copy/paste logic inserts a leading space character. We blindly copy that space right into the source code. We should trim leading and trailing spaces from ID strings.

[2013-04-19 23:49] JonFerraiolo opened #3923 "Copy/paste a gridx or tree widget - width/height lost"
- Add a gridx widget
- Change width and height of the widget
- Copy it
- Paste it

RESULT=> New gridx gets default size instead of the size of the copied gridx widget

Same thing with a dijit.Tree widget

[2013-04-20 03:17] peller commented on #3583
de88c0a79efdf441152178bf6c1228dd727aca51

[2013-04-20 12:26] andipfaff opened #3924 "changing spinwheel font-size does not work"
Hi, I have tried to change the font-size of my spinwheel to a smaller size (13px) because the spinwheel looks too large (high). direct modification via style or adding classes to app.css and assigning them to the spinwheelslot does not change anything.

[2013-04-20 14:51] JonFerraiolo commented on #3924
@anipfaff - what you need to do is add a CSS stylesheet rule such as this to your app.css file, and then reopen the HTML file in Maqetta:

[code]

The above example has an exaggeratedly small font size to illustrate the point.

Note that you may have to reopen the HTML files each time you do a manual change to app.css.

We don't have the SpinWheel widget's CSS fully instrumented within the page ed

[2013-04-20 15:00] andipfaff commented on #3924
Thanks that did the trick, but now I have to resize the height of the box in order to save some space on the view. Changing the height does not vertically re-center the focus bar in the middle.
On the other hand: how can I access the selected value in the spinwheel? I want to send a form with this value.

[2013-04-20 15:32] JonFerraiolo opened #3925 "Upload zip on maqetta-test puts files in root folder rather than currently selected folder"
I got this problem to happen on maqetta-test with both Win/Chrome and Mac/Firefox. Couldn't make it fail when running from Eclipse. Therefore, might be a tough bug.
- I selected 3 *.gif files from the same folder and created a ZIP out of those files such that the *.gif files were in the root of the ZIP. (i.e., if you expanded the zip, the files would end up as ./1.gif, ./2.gif, ./3.gif).
- In maqe

[2013-04-20 15:37] JonFerraiolo opened #3926 "Multifield SmartInput - value should precede placeholder"
For many widgets, we now have two values in SmartInput - value and placeholder.

I think value should be first, placeholder second.

Seems like it would be a fairly trivial change. Only should be fixed for M10 if it is indeed trivial and there are other fixes forcing new rounds of testing.

@jhpedemonte

[2013-04-21 18:25] JonFerraiolo opened #3927 "Safari: weight tracker app has parse error after open, save, reopen"
@peller @billreed63 @jhpedemonte

If you download the "final version" of part 2 from this URL:

http://www.ibm.com/developerworks/apps/download/index.jsp?contentid=860909&filename=maqetta_part2.zip&method=http&locale=

and then:
- create a new project
- upload (and expand) the ZIP into your new project
- double-click on index.html to open it
- immediately Save, close, reopen

RESULT=> file fails t

[2013-04-21 19:41] JonFerraiolo commented on #3927
So far, I can only make this happen on Safari when running on maqetta-test. Likely a timing issue.

[2013-04-21 20:07] JonFerraiolo commented on #3927
Maybe related to #3584 and/or #3423 - the stack trace shows that an exception within _DatePickerMixin.js (which calls date.js). I wouldn't be surprised if the problem went away if we changed Maqetta to define mobile themes via a separate SCRIPT tag instead of extra properties on the SCRIPT tag for dojo.js.

Here is a picture of the stack trace in Safari Web Inspector:
![Screen Shot 2013-04-21 at 1

[2013-04-22 10:11] andipfaff opened #3928 "anchor tag has standard CSS definitions"
This is not really a bug but I am wondering that the a tag is displayed in blue and underlined (standard/undefined CSS layout). How can I format this tag globally in order to get it displayed white on black on Android/Blackberry respectively black on grey on iPhones?
Thanks in advance

[2013-04-22 13:07] billreed63 commented on #3928
Since this is not a bug, could you please submit the question to the user group https://groups.google.com/forum/?fromgroups#!forum/maqetta-users

[2013-04-22 13:07] #3928 closed, assigned to nobody

[2013-04-22 13:37] jhpedemonte opened #3929 "Long project name hides 2 icons in Files view toolbar"
If user has a project with a long name, the 2 project related icons in the toolbar next to the project dropdown are pushed to the right, potentially hiding them:

![Screen Shot 2013-04-22 at 6 56 42 AM](https://f.cloud.github.com/assets/711365/409349/b0cb2d7a-ab51-11e2-97b8-e120afc299ef.png)

[2013-04-22 13:38] jhpedemonte opened #3930 "Switching between alternate widgets doesn't always add correct widget to page"
Using the **Dijit Button** widget, I would switch between **Dijit** and **HTML** types on that widget, adding a new widget to the page in between each change.  Many times after changing the type, the incorrect type would get added to the page.

[2013-04-22 13:40] jhpedemonte opened #3931 "Validation for name in New Project dialog too restrictive"
The validation for a new project name is too restrictive, disallowing names that include an underscore ("_") and possibly other common characters.

[2013-04-22 13:41] jhpedemonte opened #3932 "Error in templates testcase?"
Templates test case **Create new project templated - unshared** says

after creating new project from template.  However, I do see the rule in my **app.css**, since I edited that file before creating the template.  Seems that the test is wrong, but not 100% sure what the intended result should be here.

[2013-04-22 13:54] billreed63 opened #3933 "FF if dirty is set on html file and refresh browser window error message displayed"
On FF if the html file is dirty and I refresh the browser the error saving file alert box is momentarily displayed.

[2013-04-22 14:10] billreed63 opened #3934 "only auto save working copy when content has changed since last auto save"
When the html file is dirty we auto save the working copy to the server every 30 seconds or so. even if the content has not changed since the last auto save. We should only put the working copy of the file to the server if the content has change since the last auto save.

[2013-04-22 14:17] JonFerraiolo commented on #3934
@billreed63 - are you sure that we auto-save every 30 seconds even if the file is unchanged? At one point I was chasing through the code and noticed that we check every 30 seconds, but only PUT the file if the file has been marked dirty.

[2013-04-22 14:17] billreed63 opened #3935 "Modify state dialog doe not close on update"
When I open the modify states dialog and change the name of my state. I click on the update button ant see that the state name in the states view has change but the dialog remains open until I click on the cancel...

Note I can't undo the state modify by use the undo redo buttons after the opertation

using FF

[2013-04-22 14:18] JonFerraiolo commented on #3931
Why do we have to fix this for M10?

The reason that underscore is disallowed is that the project template feature creates a file on the server that is named PROJECTNAME+'_'+USEREMAIL. To fix this bug, we'd have to change that convention, which seems too risky.

[2013-04-22 14:37] jhpedemonte opened #3936 "Multi-line smart input doesn't submit on first press of Enter key"
Drop a Dijit Textbox on page and doubleclick to bring up multiline smart input.  Add a value for **placeholder** and click the **Enter** key.  Nothing happens.  Click **Enter** again to submit your changes.

Should submit on first Enter key hit.

[2013-04-22 15:04] billreed63 commented on #3934
exactly, if the file is marked dirty we auto save, then I make no more changes to the file.. then after 30 seconds we auto save. the file is still dirty but the working copy is unchanged since the last auto save. we do another put of the working copy even though it is not necessary because the  working copy on the server is at the save level as the client version.

[2013-04-22 15:16] jhpedemonte commented on #3841
cc @peller

[2013-04-22 15:27] JonFerraiolo commented on #3927
-> @peller

[2013-04-22 16:28] #3930 closed, assigned to JonFerraiolo

[2013-04-22 16:41] billreed63 opened #3937 "themes editor is using compat.css files on FF"
create clone of custom theme, when theme editor opens
iphone.css files are added to theme

[2013-04-22 16:49] JonFerraiolo commented on #3929
Pushing to future. I looked at the way that area of the UI is constructed, and it's not an easy fix. The way I coded it is that the "Project" row is a TABLE with 1 row and 3 columns:
- col1: "Project:"
- col2: A dijit.form.Select widget
- col3: the two right-side icons (create project, project menu)

col2 is set to width:100% so that it will shrink/expand to fit available space (which is a nice fe

[2013-04-22 16:58] billreed63 commented on #3935
ReferenceError: editor is not defined
[Break On This Error]

editor._visualChanged();

davinc...d1d3bb8 (line 51173)

I can't reproduce running with eclipse only on test server

[code]

[2013-04-22 17:09] jhpedemonte opened #3938 "Cannot un-disable an HTML input widget"
New file, drop an HTML `<input>` widget and set the **disabled** property in the **Widget** section of the Properties view.

Afterwards, user cannot unset **disabled** prop nor does the smart input appear.

Tested on Firefox/Mac.

@JonFerraiolo

[2013-04-22 17:13] jhpedemonte opened #3939 "Error when closing & saving file in Firefox"
1. New desktop file.
2. Drop a button on page.
3. Click on close icon to close the file.
4. Click **Save** button to save file, when dialog appears.

=> File closes and is saved but get exception when calling `setDirty` > `setTitle`: `this["domNode"]` is null.

@JonFerraiolo @billreed63

[2013-04-22 17:40] #3935 closed, assigned to JonFerraiolo

[2013-04-22 17:48] peller commented on #3934
upon quick inspection, it looks like there are at least 3 different dirty bits: one on the model, one on the page editor, one on the visual editor.  dirty is set to true for an autosave; it apparently means a "real" or user-initiated save has to happen, as opposed to a save which does a put to save a working copy.  The lack of clarity is probably responsible for most of our dirty save bugs.  Not s

[2013-04-22 17:58] #3937 closed, assigned to billreed63

[2013-04-22 17:59] #3931 closed, assigned to JonFerraiolo

[2013-04-22 18:05] JonFerraiolo opened #3940 "Allow underscore in project template names"
Right now underscores are disallowed because the server creates folders named TEMPLATENAME+'_'+USEREMAIL. But this is all under the hood and we shouldn't propagate the restriction all the way to the client.

To fix this, we will have to:
- Remove client-side underscore checks, similar to what was done here:      8e8dc91
- Remove server-side underscore checks, probably in ProjectTemplatesManager.ja

[2013-04-22 18:06] JonFerraiolo commented on #3931
What happened is that I had put validation logic in NewProjectTemplate.js and then moved it over to NewProject.js. For NewProjectTemplate.js, the underscore is a problem, but for NewProject, it isn't. (We allowed underscores in project names for all previous releases.)

I logged a separate bug for the future on allowing underscore in project template names: #3940

[2013-04-22 18:12] billreed63 commented on #3919
fixed by #3937

[2013-04-22 18:12] #3919 closed, assigned to billreed63

[2013-04-22 18:15] #3897 closed, assigned to billreed63

[2013-04-22 19:20] JonFerraiolo commented on #3841
The above commit is in branch 3841-LaunchScriptAllowSpaces. It includes various fixes that make the bash script work, but now I'm getting a "Error: Could not find or load main class 2.maqetta.conf" error if the current folder ends with the characters space and the 2 (i.e., `2`), and that error appears to be coming from Java.

The ultimate fix needs:
- Changes from above commit
- Migrate same chang

[2013-04-22 19:20] JonFerraiolo commented on #3841
Pushing to "future" because too difficult to fix for M10 and also because we have had the same problem with M7, M8, and M9 - basically, ever since we moved to Orion.

[2013-04-22 19:43] peller opened #3941 "overlay from review comments added from Chrome not visible in other browsers"
Create a review from Chrome
As the same user, add comments, using arrows, circles, etc.
Refresh and you'll see both the comments and associated shapes.
Load maqetta in another browser (FF/Safari) and you will see the comments, but not the shapes.  If you add comments from either of these browsers, they will be available in all browsers for viewing.

Wondering if somehow this is related to recent c

[2013-04-22 20:24] #3932 closed, assigned to JonFerraiolo

[2013-04-22 20:52] jhpedemonte commented on #3841
I did the same thing as that commit above.  However, what I found is that when embedding the double quotes in strings, Bash would add single quotes around the whole string when added elsewhere.  So for example, take this line:

[code]

When the command line is constructed using `JAVA_ARGS`, it looks something like this:

[code]

Notice the single quotes.  Java wouldn't know how to parse that corre

[2013-04-22 21:33] JonFerraiolo commented on #3841
Where do you see the single quotes? When I put an `echo java ....` statement just before the `java ...` statement, I see this in the console:

[code]

In particular, notice that there aren't any single quotes.

[2013-04-22 22:29] jhpedemonte commented on #3841
I only added the escaped quotes around the config file declaration, around line 67.  Then, I ran the script with `bash -x`, which outputs the line that bash will run.  Saw this at the end:

[code]

Notice the since quotes around the whole `configFile` bit.

[2013-04-22 23:31] JonFerraiolo commented on #3841
Thanks for the `bash -x` tip. That might help me.

[2013-04-23 00:24] JonFerraiolo opened #3942 "Typo in CSSParser.js: propery instead of property"
@billreed63

Error statements that have been in the code base forever refer to variable `propery` instead of `property`.

I didn't fix because during testing I didn't see any evidence that fixing the spelling helped anything. If we get to those error statements, something else is wrong (usually, badly formed CSS file), and fixing the spelling of `property` would allow the parser to proceed, but it

[2013-04-23 00:43] JonFerraiolo opened #3943 "Undo icons disabled in theme editor"
@billreed63

[2013-04-23 01:10] #3943 closed, assigned to JonFerraiolo

[2013-04-23 03:39] peller commented on #3927
FWIW, I only see this on Safari.  As shown on the console:

[code]

[2013-04-23 04:14] peller commented on #3927
This does seem to be a failure of the patch provided in #3584.  The patch is in place on the prototype -- I stepped into it -- but because the _started flag is true, it returns `[null, null, null]` instead of a valid date triple.  The original workaround, to provide a fixed date in all cases, even after startup, could avoid this bug but would produce the wrong date.

Given that this fails only in

[2013-04-23 04:54] peller commented on #3841
Found this similar Q&A on stack overflow.  Not sure I fully understand it yet.  Sounds like we may need arrays?

http://stackoverflow.com/questions/7502323/bash-quotes-in-debug-mode

[2013-04-23 04:58] peller commented on #3841
more stuff I don't completely understand.  "WordSplitting" seems relevant

http://stackoverflow.com/questions/4873083/bash-quoting-problem/4873727#4873727
http://mywiki.wooledge.org/BashFAQ/050

[2013-04-23 13:26] #3927 closed, assigned to peller

[2013-04-23 14:31] JonFerraiolo commented on #3841
Post mortem: After adding a bunch of double-quoting to the launch, I managed to get to the point where the entire script worked EXCEPT for the final "java" command. That command was failing because bash was ignoring double-quoted characters. We were passing in something like `java $JAVA_ARGS`, with double-quotes inside of the variable, which expanded into something like `java -Dfoo="aaa bbb" ...`,

[2013-04-23 15:06] JonFerraiolo commented on #3926
-> @JonFerraiolo

[2013-04-23 16:18] jhpedemonte commented on #3786
Ok, I was able to get this to work with the updated test case instructions.  Closing.

[2013-04-23 16:18] #3786 closed, assigned to jhpedemonte

[2013-04-23 16:21] #3926 closed, assigned to JonFerraiolo

[2013-04-23 17:07] billreed63 commented on #3938
same issue with html widgets  SELECT, TEXTAREA, VIDEO, AUDIO

[2013-04-23 17:11] jhpedemonte commented on #3820
I created an Eclipse workspace in M9, then created a custom widget composed of HTML elements and Dijit TabContainer (surrounded by DIV).  I created a new desktop app and dropped custom widget in there, no problem.

Using same workspace with latest code failed to find the custom widget (not in widget palette).  Loading of file with the custom widget failed as well.

[2013-04-23 17:24] billreed63 commented on #3938
fixed by 27df75155ec1135298d8b399f7c5382fd95a274f

[2013-04-23 17:24] #3938 closed, assigned to billreed63

[2013-04-23 19:19] #3936 closed, assigned to billreed63

[2013-04-23 20:02] JonFerraiolo commented on #1603
@billreed63 - how come this issue was closed? I thought this issue was about code refactoring (to eliminate copy/paste of similar code). Have we done any cleanup? If not, then better to reopen and defer to future.

[2013-04-23 20:29] billreed63 commented on #1603
This code was re factored, months ago. the common code is in DataStoreBasedWidgetHelper/Input

[2013-04-23 21:02] JonFerraiolo commented on #2245
Post-closing comment - the original file was from an older version of Maqetta, when it was still `States.js` and not `AppStates.js`. Basically, M7 and later can't deal with the HEAD produced by releases before the AMD (and AppStates.js) changes.

If instead of copying/pasting the entire file above, I copied/pasted from the original file the content within the BODY into a newly created empty page (

[2013-04-23 21:17] JonFerraiolo opened #3944 "Should disable html markup option for ListItem"
If you type any HTML markup characters into SmartInput for ListItem, you get the two radio buttons, but then the rich markup gets tossed out somewhere along the way. Therefore, we should change the widgets.json file to say that rich markup is not supported.

[2013-04-23 21:19] JonFerraiolo commented on #2951
Reopening. I still see the problem on Firefox. It's very minor, but still something that we might want to fix.

[2013-04-23 22:04] #3933 closed, assigned to billreed63

[2013-04-23 22:53] #3693 closed, assigned to jhpedemonte

[2013-04-23 22:56] jhpedemonte commented on #3663
Pushing to M11.

[2013-04-23 23:09] JonFerraiolo opened #3945 "Events palette dropdowns go empty when deleting and renaming states"
May run out of time before we can fix this one for M10.

If you delete and rename states, the dropdown menus on the Events palette sometimes gets empty. It has to do with code in `EventSelection.js`, function `_updateValues()`, which  checks `if(this._widget == widget)`. Sometimes the `node` passed from `AppStates.js` isn't the BODY node, so `_setValues()` isn't called.

I have tried some fixes, b

[2013-04-24 00:09] JonFerraiolo commented on #3644
Reopening - on maqetta-test I tried to put various shapes inside of a DIV, and then created a custom widget. When placing the custom widget, circles turned into rectangles and lines didn't appear.

[2013-04-24 00:09] peller commented on #2995
this might be helped by https://github.com/maqetta/maqetta/pull/3860  Should we consider this for M10?

[2013-04-24 00:10] peller commented on #2995
-> @billreed63

[2013-04-24 00:49] JonFerraiolo commented on #3945
@jhpedemonte - I believe I have a fix, but need to do more testing.

[2013-04-24 01:09] jhpedemonte commented on #2995
I haven't seen any issues around this.  @billreed63 or @JonFerraiolo ?

[2013-04-24 01:52] jhpedemonte opened #3946 "Delete DijitWidget.getParent"
Can probably delete `DijitWidget.getParent()`.  See [my comments](https://github.com/maqetta/maqetta/issues/3606#issuecomment-11274415) from #3606.

[2013-04-24 01:53] jhpedemonte commented on #3607
This was already reverted in 12c30c1f7959380fd35f229515d14cce63330c5b.

[2013-04-24 01:53] #3607 closed, assigned to jhpedemonte

[2013-04-24 02:04] jhpedemonte commented on #3539
Need to replace our custom cache call with Orion's CacheFilter.

[2013-04-24 02:05] jhpedemonte commented on #3467
No longer an issue.  Closing.

[2013-04-24 02:05] #3467 closed, assigned to jhpedemonte

[2013-04-24 02:09] jhpedemonte commented on #3435
Haven't seen this in a while.  Also, we are now using Orion's password reset.  Closing.

[2013-04-24 02:09] #3435 closed, assigned to jhpedemonte

[2013-04-24 02:10] jhpedemonte commented on #3427
Now using Orion's email APIs.  Closing.

[2013-04-24 02:10] #3427 closed, assigned to jhpedemonte

[2013-04-24 02:22] jhpedemonte commented on #3756
Use Orion's CacheFilter to disable caching (if necessary).

[2013-04-24 02:28] jhpedemonte commented on #3209
With the latest code, if a user switches to a "project" which is really just an empty dir, Maqetta will copy in the necessary files.  So no error.

[2013-04-24 02:28] #3209 closed, assigned to jhpedemonte

[2013-04-24 02:29] jhpedemonte commented on #2925
Dupe to #2807.

[2013-04-24 02:29] #2925 closed, assigned to jhpedemonte

[2013-04-24 02:32] jhpedemonte commented on #2070
Now using Orion email APIs, which support this.  Closing.

[2013-04-24 02:32] #2070 closed, assigned to jhpedemonte

[2013-04-24 02:36] jhpedemonte commented on #795
Need to use Orion's CacheFilter.

[2013-04-24 02:43] jhpedemonte commented on #3747
Has already been removed. Closing.

[2013-04-24 02:43] #3747 closed, assigned to jhpedemonte

[2013-04-24 02:44] jhpedemonte commented on #3437
No longer relevant.  Using Orion APIs.

[2013-04-24 02:44] #3437 closed, assigned to jhpedemonte

[2013-04-24 02:44] jhpedemonte commented on #3372
No more separate "hosted" builds.  Closing.

[2013-04-24 02:44] #3372 closed, assigned to jhpedemonte

[2013-04-24 02:53] jhpedemonte commented on #361
Closing this one.  Users can switch over to Orion to handle source control.

[2013-04-24 02:53] #361 closed, assigned to jhpedemonte

[2013-04-24 03:30] #3945 closed, assigned to JonFerraiolo

[2013-04-24 04:07] peller commented on #3939
inclined not to touch this, as the promise isn't chained and the exception has no effect, right?  Oh, I take it back, bill's new UI should get called, but I don't see it. Do you?

[2013-04-24 04:16] #3939 closed, assigned to peller

[2013-04-24 11:51] #3841 closed, assigned to JonFerraiolo

[2013-04-24 12:05] jhpedemonte commented on #3896
Not sure how much we need to put about Orion 2.0.  I just made a small tweak, pointing users to the Orion website if they want more information.  Should we add more?

[2013-04-24 13:13] billreed63 commented on #2995
The timeout logic seems to be working well for me, I think we could close this one

[2013-04-24 13:15] #2995 closed, assigned to billreed63

[2013-04-24 13:55] JonFerraiolo commented on #2995
just after @billreed63 closed this issue - I haven't seen anything horrible on the session timeout front, but it does seem like sometimes the session closes too soon, and really our timeout period should be much longer, like a day. Many of the hot web sites allow you to go for days without having to reenter your credentials.

[2013-04-24 14:06] JonFerraiolo commented on #3896
What you have now looks fine to me.

[2013-04-24 14:40] peller commented on #2995
Among other things, the pull request
- eliminates an xhr on startup, taking a precious network connection during the bootstrapping process
- hooks the new io events for dojo/request, which may resolve the problem @JonFerraiolo mentions

[2013-04-24 15:05] peller commented on #3583
1318b17a5069a71f9be55227636da1a3740d601e

[2013-04-24 15:06] #3896 closed, assigned to jhpedemonte

[2013-04-24 15:51] jhpedemonte commented on #3820
Still running into issues with the Orion indexer when running with a workspace that contains a large number of users.  Specifically, the indexer locks on EclipsePreference objects while doing its thing.  Later, Maqetta requests come in that under the covers attempt to get a lock on the same EclipsePreferences -- request is held up until the indexer momentarily relinquishes control, causing many re

[2013-04-24 16:04] billreed63 opened #3947 "Mobile theme editor always loading iphone.css"

[2013-04-24 16:11] JonFerraiolo opened #3948 "moveTo dropdown isn't showing mobile views"
This is an absolute ship-stopper

[2013-04-24 16:13] #3947 closed, assigned to billreed63

[2013-04-24 16:23] JonFerraiolo opened #3949 "Error message when initializing theme editor with migrated theme"
I created a custom theme ("custom2") in M9, and my M9 session had the custom2 theme editor open, along with another HTML file (which was the active file). Upon switching to the custom2 theme editor, the following error message appeared in the console:

[code]

I'm not sure how big of a problem this is...

[2013-04-24 16:32] billreed63 opened #3950 "Mobile theme editor unable to change borders of arrow heading in heading"

[2013-04-24 16:38] JonFerraiolo commented on #3948
here is a file that shows nothing in the `moveTo` dropdown menu:

[code]

[2013-04-24 16:38] JonFerraiolo commented on #3948
I think it's a migration issue. The above file has `data-dojo-type="dojox.mobile.View"`

[2013-04-24 16:46] jhpedemonte commented on #2995
I'm worried about taking @peller's fix this late.  But if it fixes this issue, might be worthwhile.

I believe Orion has a 4 hour timeout (right?).  Why do we go with 1 hour?  Let's at least follow Orion's lead.

[2013-04-24 16:48] #3950 closed, assigned to billreed63

[2013-04-24 16:48] jhpedemonte commented on #3949
Ah, so "dojox/mobile/RadioButton" was one of the [changes I made yesterday.](1318b17a5069a71f9be55227636da1a3740d601e)  Does the file under review have the dot notation?  Or is this something else?

@peller

[2013-04-24 16:54] jhpedemonte commented on #3948
This is as result of @peller's changes in #3583.  Looks like he tried to still [allow dot-notation](3f5d0f94bf6d0be259f31f4cbf5776b8c67543e5), but I already [ran into some issues](1318b17a5069a71f9be55227636da1a3740d601e) where that wasn't working.

I'm guessing we need to bulletproof our code a little bit more in order to still support dot-notation for `type`.

[2013-04-24 17:03] #3948 closed, assigned to JonFerraiolo

[2013-04-24 17:09] JonFerraiolo opened #3951 "moveTo on iconItem causes garbage in preview"
-> @peller but any of us could look at it, too

@billreed63 @jhpedemonte

Same problem with M9, so I figure we can defer this if we don't find a quick and safe fix.
- Open Sample3Mobile.html
- Save into root folder as a1.html (or whatever)
- Add an IconContainer
- Select first IconItem
- Set moveTo to `alerts_view`
- Preview
- Click on the first IconItem

Result=>

![Screen Shot 2013-04-24 at 10 0

[2013-04-24 17:22] peller commented on #3949
does the console really truncate the paths with "..."?  That's annoying...

[2013-04-24 17:27] peller opened #3952 "open file -> dirty -> close -> poof, deleted from file system"
probably a dup of many dirty bit bugs, but wanted to make sure it's logged

open an HTML file.  it gets a dirty bit
close the file
you get prompted because it thinks the file is dirty.  say ok, you really want to close it with unsaved changes.
the editor disappears and the file is removed from the filesystem.

@billreed63 @JonFerraiolo @jhpedemonte

[2013-04-24 17:37] peller opened #3953 "delete entire workspace in orion, launch maqetta -> exception"
this appears on screen:

[code]

[code]

this line in User.java is passing null as the `dir` parameter to getUserLibs.  Perhaps newInstance should be throwing instead of returning null in this case?

[code]

the client side error is not as interesting.  It is because getUserLibs in library.js uses old synch I/O and has no error handling.

[code]

[2013-04-24 17:45] jhpedemonte commented on #3952
I don't know the code well, but i would think we'd only want to remove the **workingcopy** and not the saved file also.  I'll take a look after lunch.

[2013-04-24 17:46] peller commented on #3193
don't see the error anymore

[2013-04-24 17:46] #3193 closed, assigned to peller

[2013-04-24 17:48] jhpedemonte commented on #3952
Quick thought, to investigate:  is there a difference (particularly in server calls) between the above and taking an existing file, making changes, clicking on close, and don't save changes?

[2013-04-24 17:49] peller commented on #3952
yeah, two bugs:
- one that it's marked dirty at all (@billreed63 said something about working on the dirty bit, but probably unrelated, as I suspect this bug has been around a long time)
- the other of course is what you said that it removes the file entirely, not just the working copy.

[2013-04-24 18:36] JonFerraiolo commented on #3644
@peller @jhpedemonte

I figured out what's going wrong. When a shape is included within a custom widget, the `postCreate()` function on the shapes is called before the custom widget's container node (typically, a DIV) has been sized by the browser. That's because widgets are processed in a depth-first manner. WIthout being able to determine its size, the `postCreate()` function for the shape does

[2013-04-24 19:03] peller commented on #3951
I suppose we strip out as much code as we can (e.g. our states code references) and submit to Dojo.  First let's see if the problem still exists when run against Dojo 1.9

[2013-04-24 19:22] peller commented on #3925
I tried this and it worked on both Chrome and FF against maqetta-app-test.  No subfolder in the zip, files ended up in folder1

[2013-04-24 19:23] peller commented on #3925
@JonFerraiolo

[2013-04-24 19:39] jhpedemonte opened #3954 "Page with "data:" URL break device silhouette preview on WebKit"
I you have a page that loads an image using a `data:` URI, then the `onload` event does not fire on WebKit browsers.  This causes mobile Preview to fail, because the silhouette is drawn when the `onload` even fires.

[2013-04-24 20:05] jhpedemonte commented on #3954
To test, create a mobile page and add an Icon Container.  The child Icon Item widgets use `data:` URIs to load images.

[2013-04-24 20:16] jhpedemonte commented on #3951
Well, there's something that is just odd about this whole testcase:  there are 2 top-level sibling Views.  Then in one of the Views we add an IconContainer and tell it to switch to the other View when clicking on one of the IconItems.

I think this is outside the bounds of how the widgets were intended to interact.  I say close this as "won't fix".

[2013-04-24 20:19] jhpedemonte commented on #3954
Regression from M9.  @peller @JonFerraiolo @billreed63, what could have changed to cause this bug?

[2013-04-24 20:28] JonFerraiolo commented on #3951
Why is the `moveTo` property on an IconItem different than a `moveTo` property on a ListItem,TabBarButton, Heading or ToolBarButton? For the other 4 cases, setting `moveTo` to the name of another view will cause the application to switch to the other view.

I discovered this when fixing #3948 (where the moveTo property in Widget palette wasn't showing mobile views for files migrated from M9). Ther

[2013-04-24 20:42] JonFerraiolo commented on #3951
And the documentation in file IconItem.js claims the `moveTo` property will switch to a different view.

[2013-04-24 20:43] JonFerraiolo commented on #3951
Also broken in Dojo 1.9.rc1 when there is no Maqetta stuff in there.

I'll file a dojo ticket.

[2013-04-24 20:53] JonFerraiolo commented on #3951
Dojo ticket http://bugs.dojotoolkit.org/ticket/17073

[2013-04-24 21:03] JonFerraiolo commented on #3954
I don't see why `data:` could be causing problems.

I see two commits in the preview code since M9:
- a3146a7aeb2fe33c473ccde56fc3d425e85cddff
- 4521fadc9f48cff8234621d2cd4e153b3f312ce7

@peller

[2013-04-24 21:11] jhpedemonte commented on #3954
I reverted those locally but the issue still occurred.

[2013-04-24 21:17] JonFerraiolo commented on #3954
I see the problem regularly when the Chrome debugger is active, but most of the time the silhouette works correctly if the debugger is closed.

[2013-04-24 21:19] JonFerraiolo commented on #3954
@jhpedemonte - do you see the problem on maqetta-test, locally or both?

[2013-04-24 21:24] JonFerraiolo commented on #3925
I'll close this. I did indeed see the problem, but I can't reproduce today. Worst case is that we have a great new feature in M10 that is sometimes flaky, whereas in M9 we offered nothing at all.

[2013-04-24 21:24] #3925 closed, assigned to peller

[2013-04-24 21:38] billreed63 commented on #3949
@JonFerraiolo  can you reproduce this? could it have been a one time network problem?
I have opened mobile themes migrated from M9 and have not seen this issue?

[2013-04-24 21:40] jhpedemonte commented on #3954
Huh, only locally, not on maqetta-test.  Weird!

[2013-04-24 21:48] jhpedemonte commented on #3952
I couldn't reproduce this.  When I open an existing file (not creating a new one), I see the file open, it gets a dirty bit, but when it finishes loading the dirty bit is removed.  Closing the file **does not** bring up a dialog.

Can you explain the exact steps you took?  Did you see this on maqetta-test?

[2013-04-24 22:37] JonFerraiolo commented on #3954
I'll close this because I suspect it doesn't have to do with `data:` and instead is just a timing thing (and potentially a debugger thing), and I can't see us fooling around with the preview code at this point.

[2013-04-24 22:38] #3954 closed, assigned to nobody

[2013-04-24 22:47] JonFerraiolo opened #3955 "resetWorkbenchState=1 not working"
This commit d148f89c8f03b8ffc858123ff1f58c0d8fa26d33 removed function `clearWorkbenchState` from Workbench.js, but that function is called in pagedesigner.html if `resetWorkbenchState=1` is passed as a URL parameter.

I didn't fully understand all of the changes from the above commit, so sending to @peller to look at.

[2013-04-24 23:17] JonFerraiolo opened #3956 "Dirty file, resetWorkbenchState, reopen, close/discard => workingcopy replaces original file"
- New html file (e.g., file1.html)
- Add a Button, set text to "aaa"
- Save
- Change Button text to "bbb"

NOTE: server should have file1.html with "aaa" and file1.html.workingcopy with "bbb"
- Navigate away from Maqetta, close the server
- Hand-edit file org.eclipse.orion.server.core/.settings/Users.prefs on the server to set `"activeEditor"\:null` and `"editors"\:[]` for the given user
- Restart

[2013-04-24 23:17] JonFerraiolo commented on #3952
In talking with @peller, he says it's when an editor was open from a previous session with dirty bit on. So, I tried to reproduce that scenario in various ways:
- I created a new file, clicked on the (x) close icon, clicked on "discard" => editor was closed and the file disappears from the Files palette. (Which is proper behavior.)
- I created a new file, then refreshed the browser. The file reapp

[2013-04-24 23:44] peller commented on #3952
@jhpedemonte yes, it was on the test machine.  It was content that was migrated over from the main server, so I'm not sure exactly what the state was, but apparently it did have a working copy / dirty bit on it.

yeah, sorry, close until I have a better idea what it was I saw

[2013-04-24 23:44] #3952 closed, assigned to jhpedemonte

[2013-04-25 00:05] peller commented on #3955
Oops.  I grepped for clearWorkbenchState, and thought it was unused, but I must have only checked the core.client project.  I'll put the method back.

The changeset was to simplify the logic to update the state and make it more reliable.  There was some odd deferred logic there before.

[2013-04-25 00:48] JonFerraiolo commented on #3951
Closing - bascially it is working "as designed".

I debugged into Dojo and figured out that at least part of the problem was that the `transition` property was set to `below`. If I entered `slide` as the new value, then the views did the appropriate slide-in/slide-out.

The Dojo docs say that the default is 'slide', but that's not entirely correct. The 'transition' property (and several others) ge

[2013-04-25 00:48] #3951 closed, assigned to JonFerraiolo

[2013-04-25 00:51] JonFerraiolo commented on #3949
Closing this.

Not easily. I subsequently changed my migrated themes.

Things worked for me, too, except for the console message.

Closing.

[2013-04-25 00:51] #3949 closed, assigned to billreed63

[2013-04-25 01:43] #3955 closed, assigned to peller

[2013-04-25 01:56] peller commented on #3644
I think you're not supposed to do anything in postCreate() that involves your DOM parent... I think that's what startup() is for?

http://dojotoolkit.org/documentation/tutorials/1.8/understanding_widgetbase/

[2013-04-25 13:32] billreed63 commented on #3949
with the themes now using delta's and just referencing the theme.json and html files I do not see how any thing in the   themes could have caused the error. The `ERROR: Could not load metadata for type: dojox/mobile/RadioButton davinci.js:51468` sure sounds like some kind of network problem, Did you look at the network pannel to see if we had a 404 or 500 on the RadioButton_oam.json file?

[2013-04-25 13:35] peller commented on #3927
confirmed that it works in latest build

[2013-04-25 13:51] peller commented on #3941
can no longer reproduce this problem

[2013-04-25 13:51] #3941 closed, assigned to peller

[2013-04-25 14:19] billreed63 opened #3957 "published project templates should use users name not email"
1) open -> Orion menu
2) from Orion in the upper right corner click the drop down by the users name then click settings,
3) In Orion settings set the users name field to your name and then click update
4) Refresh the browser window, notice that the login name has changed from email to users name.
6) Now from the project menu save the current project as a template click the share with everyone chec

[2013-04-25 14:31] billreed63 opened #3958 "Private project templates are visable to other users"
Log in to maqetta as user 1 and create a project, save as project template and leave the share with everyone unchecked
Login in with user 2 and create a new project notice that the project template saved by user 1 is visible in the list of project templates

[2013-04-25 14:44] billreed63 commented on #3958
user error, to many similar names

[2013-04-25 14:44] #3958 closed, assigned to JonFerraiolo

[2013-04-25 16:31] billreed63 opened #3959 "Changing style on CSSRule with :hover in middle of rules does not work"
claro has the following rule:

[code]

In desktop theme editor try to change the background color for the hover state. The rule is not found so the color is not changed.
If I change the rule and the theme metadata so the `:hover` is at the end of the rule it works

[code]

[2013-04-25 19:42] JonFerraiolo opened #3960 "Can't enter DIV/abc into source pane as first content"
- Create desktop app
- Split view
- In source pane, enter this text as the child content of the BODY `<div>abc</div>`

RESULT=> The design pane shows an error message: Error occurred setting content: Cannot set property 'innerHTML' of undefined

@jhpedemonte

[2013-04-25 21:28] JonFerraiolo commented on #3475
Reopening for future. When I tried a release candidate build of M10 on maqetta-test, I was able to reproduce the problem listed in this bug report, with no red-colored message.

Pushing to future because we've had this problem forever and the community seems to be surviving.

[2013-04-25 21:32] JonFerraiolo commented on #3475
@billreed63 Can you please open IE9 or IE10, go to the maqetta-test home page, and click on the Launch Maqetta button. What do you see? A message about using a different browser (which is what I hope you'll see)?

[2013-04-25 22:49] JonFerraiolo opened #3961 "resetWorkbenchState should preserve current project setting"
With M10, url parameter `resetWorkbenchState=1` will empty out your workbenchstate, so that Maqetta will start up with no open files. A side-effect of our code is that we also remove the current project value, so the user resets to "project1" (the default project). We should instead initialize to the most recent project.

[2013-04-25 23:28] #3960 closed, assigned to peller

[2013-04-26 02:05] jhpedemonte commented on #3820
For the record:  while testing migration of M9 workspaces, several of us noticed an issue where we lost all of our M9 projects and were left with only the default "project1" (and default files).  The culprit, as above, was with the Orion indexer.

Since we're moving from Orion 0.5 (in M9) to 2.0 (in M10), Orion does a migration of **Users.prefs** in the **.metadata** dir.  However, the indexer is

[2013-04-26 13:42] peller opened #3962 "Unfulfilled promise in Custom Widget with sliders"
Created a custom widget, a DIV with two Dijit sliders.
Open a new document and place the custom widget on the canvas.
Close, reopen: get an exception:

[code]

[2013-04-26 13:43] peller commented on #3962
@JonFerraiolo
If you first place a slider on the page, then the custom widget, everything works fine.  I'm guessing it has to do with the compound dijits used in construction of a slider.

The same test using simple widgets like button and calendar works fine

[2013-04-26 13:59] billreed63 commented on #3475
When I tried it get a script error,

[code]

which is this line of code:

[code]

it appears that the code is running before the document is loaded. so `var browser_not_supported = document.getElementById("browser_not_supported");` in loginwindow.js returns null

if I change the code so that we put the check for IE in a dojo.ready

[code]

then I get the following
![image](https://f.cloud.github.c

[2013-04-26 17:34] JonFerraiolo opened #3963 "If you drag/drog widgets with SmartInput too fast, Maqetta sometimes hangs"
@billreed63

Need to investigate this to figure out whether there really is a bug, and its nature

In testing with a slow server, if I drag/drop widgets too fast, and some of the widgets have SmartInput, sometimes Maqetta hangs with spinner icon, and only way to recover is to do a browser refresh. I believe it happens if widget #1 has SmartInput, and then you drag widget #2 onto canvas before the

[2013-04-26 18:15] billreed63 commented on #3963
Which widget?

[2013-04-26 19:46] jhpedemonte opened #3964 "Provide link to Orion user's account page"
With M10, we are using Orion's email and account management.  This means that when a user resets his/her password, they will receive an email with a new generated password.

But there isn't currently a way for the user to enter their desired password from within Maqetta.  The best solution is to open up Orion and go to the accounts page.

We can make this easier by linking the user id/name in Maqe

[2013-04-26 19:50] jhpedemonte opened #3965 "EmailOverrideFilter not always called"
The EmailOverrideFilter isn't always getting invoked, meaning that the emails are going out from "Orion" rather than "Maqetta".

This most likely is the same issue as #3736.  Both here and in that issue, we are programmatically registering the filters (which as explained in #3736, is getting handled incorrectly; see that bug for details).

In this instance, though, we should be able to **declarati

[2013-04-26 20:13] #3475 closed, assigned to JonFerraiolo

[2013-04-29 13:59] #3820 closed, assigned to jhpedemonte

[2013-04-29 18:37] JonFerraiolo opened #3966 "document.css not loaded in this scenario"
- New desktop app
- In source editor, manually enter this text as the content of the BODY:

[code]
- Back in design mode, drag a TabContainer under the DIV, accept defaults

RESULT=> Fonts in tabs for TabContainer are too big. That's because document.css hasn't been included into the main canvas. If you save, close, reopen, the TabContainer tabs have smaller labels because the save, close, reopen

[2013-05-01 16:21] jhpedemonte commented on #3964
Fixed.

[2013-05-01 16:21] #3964 closed, assigned to jhpedemonte

[2013-05-01 16:23] jhpedemonte commented on #3965
Still broken, even when filter is registered declaratively.  Works fine when run from Eclipse, but not when built.

I added some logging (0048dd4271d7f52a01a124b1e7902db12bebd7df) to see if the filter is getting invoked at all.

[2013-05-01 18:43] jhpedemonte commented on #3965
Fixed with last commit.

[2013-05-01 18:43] #3965 closed, assigned to jhpedemonte

[2013-05-02 01:35] jhpedemonte opened #3967 "Support "usertree" project layout"
[Orion supports two different ways to store projects in the workspace directory](http://wiki.eclipse.org/Orion/Server_admin_guide#Configuring_project_layout).  Currently, Maqetta only supports the **flat** layout, where all projects are intermingled in the workspace directory.

But we should also support the *_usertree_ layout, where projects are organized by user id.

Going along with this, we al

[2013-05-02 03:23] darkelf2003 opened #3968 "maqetta release 9 failed to launch"
I download and extract the release 9 version, after configured as the tutorial it failed to start.
The error log shows:

!ENTRY maqetta.core.server 4 0 2013-05-02 11:08:02.550
!MESSAGE FrameworkEvent ERROR
!STACK 0
org.osgi.framework.BundleException: The bundle "maqetta.core.server_1.0.0.qualifier [1]" could not be resolved. Reason: Missing Constraint: Require-Bundle: org.eclipse.orion.server.core

[2013-05-02 13:56] billreed63 commented on #3968
The best place to questions of this nature is the users group Please join the users group and post this question there.
Also could you please include what OS you are using? Have you tried Release 10?

[2013-05-02 13:56] #3968 closed, assigned to nobody

[2013-05-10 13:03] darkpoulpo opened #3969 "please update dojo to 1.9"
please update dojo to 1.9

[2013-05-10 13:35] billreed63 commented on #3969
duplicate of #3775

[2013-05-10 13:35] #3969 closed, assigned to nobody

[2013-05-23 20:12] leovicio opened #3971 "Google Maps"
How do I use google maps v3 and jquery mobile?

[2013-05-23 21:37] jhpedemonte commented on #3971
Please post questions such as these on the [users](https://groups.google.com/forum/?fromgroups=#!forum/maqetta-users) or [developers](https://groups.google.com/forum/?fromgroups=#!forum/maqetta-devs) groups.  For example, [here is a previous post that talks about using Google Maps](https://groups.google.com/d/msg/maqetta-users/2uo0u5KDNgE/lQLGNCxorCAJ).

Closing, this isn't a bug.

[2013-05-23 21:37] #3971 closed, assigned to nobody

[2013-06-01 03:04] mbenitez01 opened #3972 "Maqetta doesn't work for new users on maqetta.org"
Actual presentacion has nothing to do with youtube videos.
I start a new html file......and that's it...
the middle welcome screen doesn't change at alll, the widget do not appear at the left,
the component files do not load at the botton left......to resume :nothing happens (i tried chrome and firefox, under a windows 7 machine....)

[2013-06-01 15:15] JonFerraiolo commented on #3972
@jhpedemonte @peller @billreed63

@mbenitez01 is right. Things don't work for new users right now on maqetta.org. No problem with existing users.
 When I log in with an existing account, no problem. When I created a new account , I see the same things that @mbenitez01 sees, and I see similar projects when I try to create a new project from an existing account.

The Chrome console shows this for a

[2013-06-01 15:18] JonFerraiolo commented on #3972
@mbenitez01 - thanks for the report. While we are trying to figure out how to fix things, you could try to download a local version of Maqetta at http://maqetta.org/downloads/, with instructions here:
- http://app.maqetta.org/maqetta/app/docs/index.html#install

[2013-06-01 16:08] JonFerraiolo commented on #3972
Restarting the Maqetta application (`service maqetta restart`) didn't fix things.

[2013-06-01 17:22] peller commented on #3972
We may have hit the limit for number of files in a directory... possibly a 32K limit, depending on the filesystem

[code]

Regardless, we're probably paying a performance penalty for having so many files in one dir

[2013-06-01 17:24] peller commented on #3972
@jhpedemonte can we buy some time by cleaning out inactive users?  The only way around this might be to change the way we structure the users dir.

[2013-06-01 22:38] JonFerraiolo commented on #3972
I did see some web pages that claim that Centos has a 32k limit on the number of subfolders within a given folder. For example, this page says that: http://serverfault.com/questions/98235/how-many-files-in-a-directory-is-too-many-downloading-data-from-net

[2013-06-02 15:17] jhpedemonte commented on #3972
(Updated summary)

Nuts!

Unfortunately, there's no easy way to clear out inactive users in Orion (as far as I know).  Easiest thing would be to delete the oldest directories (i.e. projects) in the **users** dir.  Maybe those from 2012?

---

Currently, the **users** dir consists of all the project directories from every user.  Orion does support a `userTree` layout, where the **users** dir is ins

[2013-06-06 17:25] peller commented on #19
still not automated, but should be possible based on latest Orion

-> future

[2013-06-06 17:34] peller commented on #3724
_still_ getting a 404 on maqetta.org for _javascript (on all browsers) even without a war build, though I know we had this working previously.  Could be a deploy issue, perhaps unrelated to the original report

-> @future

[2013-06-09 22:51] mbenitez01 commented on #3972
ok...downloaded version to my machine..didn´t work either..
now, web application opens page, but does n't finish central pane
loading.....can you please take a look at it and advise?

regards

Marcelo Benitez
15-6209-0968
4661-9462
pedromarcelobenitez(skype)
soluciones.16mb.com

On Sat, Jun 1, 2013 at 12:15 PM, Jon Ferraiolo notifications@github.comwrote:

[2013-06-10 00:37] peller commented on #3972
Marcelo, more information would be needed to determine the cause of the problem.   Please check the console on the server and the Javascript console on the client.  Feel free to share the contents here, perhaps using a service like pastebin.com.

[2013-06-10 01:14] jhpedemonte commented on #3972
@mbenitez01 The app at maqetta.org should be good now.  However, I wonder if there may not be issues with your account.  You tried to create a new account when the server was in a bad state and it may not have initialized your account correctly.  **Do you mind if I delete your account?**  You can then re-register.

(**Note:** You would lose any existing files, but it doesn't sound like you have an

[2013-06-10 02:33] mbenitez01 commented on #3972
Javier:

Thanks for your help.
I managed to create a new user and seems it works ok.

Yes, please, go ahead and erase mbenitez01. Please let me know when done so
I can reset it.

Regards

Marcelo Benitez
15-6209-0968
4661-9462
pedromarcelobenitez(skype)
soluciones.16mb.com

On Sun, Jun 9, 2013 at 10:14 PM, Javier Pedemonte
notifications@github.comwrote:

[2013-06-10 13:26] jhpedemonte commented on #3972
Done -- I have deleted the 'mbenitez01' user.

Closing this bug as fixed.

[2013-06-10 13:26] #3972 closed, assigned to nobody

[2013-06-10 19:13] peller commented on #3724
Looks like the path for dijit/popup is off somehow and it's just looking for 'popup':

[code]

[2013-06-10 19:32] rbackhouse commented on #3724
Sounds like the dojo config is messed up or has changed.

Related to https://github.com/maqetta/maqetta/commit/f1b578e942fc88c6128251ae7b2dd107ae123a36 ?

[2013-06-10 19:42] peller commented on #3724
I think that checkin from @jhpedemonte looks ok...  Dojo redid the repository, so all the hashcodes needed to be redone.  I think the rest of the references remain the same (at least that was the intent)

I was wondering if somehow the -src references now point at built content.  Perhaps that would produce the kind of error I'm seeing?

[2013-06-10 19:45] rbackhouse commented on #3724
Yes if the src is no longer resolvable this is probably the sort of problem that would be seen

[2013-06-11 10:35] rbackhouse commented on #3724
@peller I just did a fresh setup using http://maqetta.org/nightly/maqetta-orion-201305240100.zip as a target and checkout from the repo. Preview works fine for me.

I should note that I did the hack to remove the orion help servlet to get Zazl loading 100%

Removed this from the "org.eclipse.orion.server.configurator_1.0.0.xxxxx" plugin.xml in my target platform instance :

[code]

[2013-06-11 15:25] peller commented on #3724
seems to work fine on a new account.
->m10, closing.

[2013-06-11 15:25] #3724 closed, assigned to peller

[2013-06-12 11:12] ceeroover opened #3973 "damaged zip file"
download of the entire workspace results in damaged zip file

Tried on Firefox17.0.5 ESR and 21.0 and Chrome 26.0.1410.64 and 27.0.1453.110, other zipfiles (from other sources) work...
OS: Win8 / Win7
Tools: WinZip / 7Zip

I'm using my own Maqetta server:

Version: 10
Date: 02.05.2013 10:12:13
Build: f1554971890cef6693dcc67abd889d64370fcabd

but I have the same issue with the current maqetta.org s

[2013-06-12 16:28] jhpedemonte commented on #3973
We'll take a look.

[2013-06-13 21:53] jhpedemonte commented on #3973
I can't reproduce this on Chrome/Mac OS X running from maqetta.org.  I clicked the **Download Entire Project** toolbar button for one of my projects, then just took the defaults (all libraries selected).

While I do see some odd activity in the Network Panel (the request to `/maqetta/cmd/download` gets canceled), the download completes and the ZIP seems fine.

Could this be an issue specific to th

[2013-06-14 07:28] ceeroover commented on #3973
Does work for maqetta.org now (??). The download size of the zip-files before was 1.2MB, now it's about (6-8MB). Plain new projects on my own server still end up with corrupted 1.2MB zip-files, i will reinstall the server and check this again... Thanks

[2013-06-14 17:57] JonFerraiolo commented on #3973
I fired up Windows 7 running under Parallels (on top of MacOS), downloaded Release 10 from maqetta.org, launched the app at http://localhost:5000, created file1.html, then clicked the button to download my entire workspace (accepting all of the defaults). Then I unzip'd using the Windows "Extract all" command on the context menu for ZIP files. When I look at the folder containing the contents of t

[2013-06-15 17:15] peller commented on #3973
On Mac/Chrome when this problem was first reported, I also saw a 1.2M download that was incomplete.  Logs showed no errors.  Now it works fine.

[2013-06-16 06:36] ceeroover commented on #3973
Restart of the maqetta server solved the problem. (I forgot to check this before, because I had the issue online and offline at first).

[2013-06-16 22:05] rogueyoshi opened #3974 "entire project = read only (+severe damage to existing files)"
for some reason, i cannot save any changes made to files through either maqetta itself or orion. also i seemed to have lost all data that i've worked on this past day and am not even able to upload my local backups... what's going on?

[2013-06-16 22:22] rogueyoshi commented on #3974
ok, i believe this may be browser related. restarted chromium and it seems to be saving again.

[2013-06-17 00:34] jhpedemonte commented on #3974
Were you running against a local server or maqetta.org?

If local, did you see any errors from the server?  Did you see any errors in the browser's error console?

[2013-06-20 06:22] rogueyoshi commented on #3974
i was running through maqetta.org. if it happens again, i'll post a new ticket with error output.

[2013-06-20 06:25] rogueyoshi opened #3975 "unable to change style of instantiated ListItem's labelNode inside of inactive View"
code sample: http://jsfiddle.net/K2msC/2/

this works flawless in vanilla dojo as seen above but when done in maqetta, the labelNode's style.display will be "block" no matter what. am i missing something?

UPDATE: it seems this only occurs if it is instantiated inside of an inactive View. is this intentional?

[2013-06-24 19:44] JonFerraiolo opened #3976 "Lines don't appear in preview"
Bad bug, probably in code forever, not sure how we missed it after so many test/release cycles.

Any of the line shapes (line, arrow, polyline, polyline arrow) don't appear in preview because this logic in _Shape.js hits an exception (because `styleSheet.href` is always undefined during preview):

[code]

Maybe we didn't notice because the exception is caught somewhere along the line.

The likely

[2013-07-02 17:43] JonFerraiolo commented on #142
Last we looked, browsers had too many bugs and/or inconsistencies for zoom to work in the page editor. Zoom works fine for web pages, but the Maqetta page editor does various advanced things which break down when using CSS3 2D transforms.

[2013-07-02 18:13] jhpedemonte commented on #3975
What exactly are you trying to do?

I was able to create a mobile page with 2 **View**s, each with an **EdgeToEdgeList**, where the first items contained a **Slider**:

![screen shot 2013-07-02 at 1 08 58 pm](https://f.cloud.github.com/assets/711365/738261/80a08cac-e342-11e2-8458-c0a9d863ae59.png)

After adding the Slider, I had to change its properties to `display: inline-block` and `vertical-ali

[2013-07-02 18:25] jhpedemonte commented on #3975
For reference, here's the [file created by Maqetta](https://gist.github.com/jhpedemonte/5911767).

[2013-07-03 18:51] #3974 closed, assigned to nobody

[2013-07-03 21:50] #3976 closed, assigned to nobody

[2013-07-08 00:19] rogueyoshi commented on #3975
though js, i'm trying to generate a bunch of listitems for a list and set each listitem's labelNode's display style to inline-block. the problem is that if i try to do it right after instantiating it, it seems to get overwritten with the default value of block anyways. i realize now that the problem is that maqetta doesn't use the latest version of dojo. i updated my project to use the new version

[2013-07-08 03:49] #3975 closed, assigned to nobody

[2013-07-08 20:49] #3973 closed, assigned to peller

[2013-07-21 08:54] riksoft commented on #2370
cut/paste doesn't work in source page neither.

[2013-07-21 08:55] riksoft commented on #2877
cut/paste doesn't work in source page neither.

[2013-07-21 17:55] JonFerraiolo commented on #2370
A simple copy/paste across pdates in source editors worked for me just now, so it's not universally broken. Note that any changes in source editor pushes on fragile parts of the product. For example, if the resulting HTML source code doesn't have balanced start tags and end tags, the page will likely get corrupted.

[2013-07-22 08:49] riksoft commented on #2370
It would be nice to have the copy/cut/paste working because expecialli at the beginning it is very useful to copy examples from tutorials.
It is also useful for speeding up the GUI coding (in Eclipse or other editor) using maquetta only as an helper/reminder (especially at first maqetta can be a sort of cyber professor for learning how to code the GUI).
Sincerely, I don't think I'll ever use maqet

[2013-08-30 09:33] GreySpike commented on #3953
I had the same problem after I attempted to rename the default online project, Project1. I am now effectively locked out.

[2013-08-30 13:13] billreed63 commented on #3953
Try logging into your orion workspace (http://app.maqetta.org/) and changing the name back to project1, then relaunch maqetta. This should allow you to log in again.

[2013-08-31 03:55] pramsey-home opened #3977 "TitlePane localhost URL only works on canvas"
Trying to use the URL property of a Dojo TitlePane to insert content from a locally stored file (same folder).

url="test.html" works in the canvas - but not browser preview or downloaded project. "! Sorry, an error occurred."

Neither relative nor absolute paths are successful.

Bizarrely, uploading test.html to a public Dropbox folder, creating a public link via their context menu, and pasting t

[2013-09-03 13:55] billreed63 commented on #3977
Development on maqetta has been suspend, so the best avenue to get questions like this answered is the users group where other users may have encountered the same issue.

[2013-09-03 13:55] #3977 closed, assigned to nobody

[2013-09-05 13:57] enorniel opened #3978 "Error trying to setup maqetta on tomcat."
Hello,

I try to install maqetta on tomcat.

I use the following commands:

[code]

I have the following error in tomcat7 and tomcat6:

https://gist.github.com/enorniel/34a5b9000b1b91209438

[2013-09-05 14:15] billreed63 commented on #3978
Please post this to the Maqetta users group, more people will monitor the users group and may be able to help

[2013-09-05 14:15] #3978 closed, assigned to nobody

[2013-09-05 14:19] enorniel commented on #3978
Thanks. That's what I did.

[2013-09-20 22:23] ghost opened #3979 "code completion"
Hello there.
I wish Maqetta could do code completion on source.

[2013-10-15 09:15] rvdb1 opened #3980 "Unable to create new html file"
Created a new project (Test01)
Tried to create a new desktop application.
No file gets created.
When I switch to an another project and back to this project, I get the following error:
Problem accessing /maqetta/cmd/configProject. Reason:
    org.eclipse.core.runtime.CoreException: Could not write file: /var/lib/maqetta/users/Iks/app.css.
at the url http://app.maqetta.org/maqetta/cmd/configProject

[2013-10-15 13:19] billreed63 commented on #3980
This is most likely a setup issue, please post to maqetta users group. https://groups.google.com/forum/#!forum/maqetta-users

[2013-10-15 13:19] #3980 closed, assigned to nobody

[2013-11-16 20:17] andipfaff opened #3981 "Application does not work on Samsung S3 mini browsers"
Hi,

until now I have tested my own application on iPhone and on a friends Samsung S3. Now I have bought my first Smartphone, a Samsung S3 mini. My application m.laufkalender.ch does not work there. The start page is a list menu which is too Long for the Display. On othe Browsers I can shift the list upwards so I can get to the bottom of the menu. In the S3 menu this does not work in Chrome and Fi

[2013-12-10 07:25] adenaan opened #3982 "build in phonegap but only shows html page"
Hi there!I did a build with my app i did on maqeeta but when on the device it only shows the page and text.Dont show any embeded content and formating on the page.its like its not seeing the lib and them folders.Is the a correct way to do the build on phonegap.

btw,maqetta is a great way to make your application.Thanks for this.

Thanks
Adenaan

[2013-12-10 16:17] billreed63 commented on #3982
Please post this on the maqetta user group, https://groups.google.com/forum/#!forum/maqetta-users
search the users group for phonegap
Here is one post that may help https://groups.google.com/forum/#!searchin/maqetta-users/phonegap/maqetta-users/JN3EkAoLpVo/ahM0d3Dy2tQJ

[2013-12-10 16:17] #3982 closed, assigned to nobody

[2013-12-24 10:11] wcnjeusr opened #3983 "Can't find org.eclipse.orion.server.configurator"
Can't find org.eclipse.orion.server.configurator,how can I run it?
坑货。。。

[2014-01-02 19:59] jhpedemonte commented on #3983
Please post questions like this to the [users](https://groups.google.com/forum/#!forum/maqetta-users) or [developers](https://groups.google.com/forum/#!forum/maqetta-devs) forums.

Closing as this is not a bug.

[2014-01-02 19:59] #3983 closed, assigned to nobody

[2014-01-10 06:28] ssiloveyouday opened #3984 "my user account can not use,Error starting Maqetta:Can not read property '0' of undefined"
I install a Maqetta in my computer, and register many user accounts. two of these user account can not be loggined in. When I login in , it shows: Error starting Maqetta:Can not read property '0' of undefined. these two users' operations are as follows:
1.rename a project , and then craete a new project and copy files from current projcet
2.I register a user account and login in only three times,

[2014-01-10 16:43] jhpedemonte commented on #3984
Please post this to the [users](https://groups.google.com/group/maqetta-users) group.  This is most likely a setup issue rather than a bug. Please include more information/details about what you are doing and any errors/stack traces that the server may output.

[2014-01-10 16:43] #3984 closed, assigned to nobody

[2014-01-13 01:31] ssiloveyouday opened #3985 "my user account acn not use again?error starting Mqaetta: Can not read property '0' of undefined"
I install a Maqetta in my localhost and sign in an account, and l have loggined in Mqetta two times, then afer a long time later, when I try to login, it shows:Error starting Maqetta: Can not read property '0' of undefined, why?

[2014-01-13 15:29] JonFerraiolo commented on #3985
Sorry, I don't have a good idea what might be going wrong. Sometimes Maqetta has problems at startup if one of the current open files from the last Maqetta session is damaged (often due to user doing hand-editing of source files, once in awhile due to a Maqetta bug). To address that particular situation, try launching Maqetta with http://localhost:50000/maqetta?resetWorkbenchState=1 (or hold down

[2014-01-13 15:29] #3985 closed, assigned to nobody

[2014-05-18 19:07] bhaskarsai opened #3986 "Development setup in Eclipse"
Can you please shed some light on the following and help me setup my maqetta dev environment?  I have followed all the steps from the Dev setup URL numeral times and also tried to import WAR file and single last release 10.0.2 source..  I am using WIN8, Eclipse Juno IDE for Java  EE, JRE 1.7
# Instructions followed

https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup
# LOGS

[2014-08-06 18:57] PunkChameleon commented on #3962
Can you provide more details? Having very similar issue and is driving me mad (semi-related to this; SO post here -- https://stackoverflow.com/questions/25168372/parser-returned-unfilled-promise-error-in-dojo)

[2014-11-18 15:18] Leznodc opened #3987 "Non english letters shall not be escaped as "html entities" within "html attributes" like "title""
When someone types a non English letter like "é" our "ï" within the "title" attribute of the accordion pane, this letter is replaced by the equivalent html entity e.g. : &eaccute; This is an error in html syntax : attribute values may be "url encoded" but they can't contain html entities. Furthermore, this is non necessary when letters are encoded as utf-8 or utf-16.

[2015-01-15 14:45] LucieS opened #3988 "Save As Widget has lost the Palette and Outline!"
I created a Sketch (low-fid) in Maqetta and in error i saved it under Save as Widget. That action has lost all the palette (it is now blank and has a box at the top saying Filter), and all the outline (if you select something in the working pane e.g. a div, the outline pane is completely blank. What have i done and how can i get back the Palette and Outline content? I can't create any other projec

[2015-01-15 16:56] JonFerraiolo commented on #3988
I'm assuming you are running Maqetta locally (i.e., http://localhost:50000/maqetta)

Try this:
- Using the Finder or Windows Explorer, go into the base folder where Maqetta is installed (the folder that contains files `maqetta.server.mac.command` and `maqetta.server.win.bat`).
- Go into the `users` folder
- If there are more than one subfolder (named "a", "b", "c", etc), repeat the following for e

[2015-01-15 17:01] LucieS commented on #3988
Thanks Jon

I have managed to do it another way… I just copied all the files that I have done into another folder on my c: drive. Then I removed maqetta completely from my machine. (yes I was running it locally). Then I reinstalled it again, the palette and outline content came back and then I copied my files back under the users folder (I was ‘a’). phew it is working!

But I will keep this reply

[2015-01-21 19:58] edwinspire opened #3989 "New Stable version."
There is some version of Maqetta ready to use more current than the 10.0.2 ?
If there is not, for when you have estimated that t must be one?

[2015-01-21 20:06] billreed63 commented on #3989
No future version are planned at this time
https://groups.google.com/d/msg/maqetta-users/dLGzdERrkG8/PQ9Xv25eRD8J

[2015-01-21 20:06] #3989 closed, assigned to nobody

[2015-01-24 15:34] ghost opened #3990 "Problem with link in readme.html"
In readme.html there is a link to application and it is wrong link,

 http://localhost:50000/maqetta

In logs there is different port.

http://localhost:8080/maqetta

[2015-03-10 13:57] ii343hbka opened #3991 "Can't build war file using davinci.releng build.orion.sh script"
Hi, all.
I need to build a custom build :)
So i've checkout out source from git, edit it in eclipse as i need and then try to assemble a war file for tomcat using build.orion.sh from davinci.releng. But it fails.
Maybe https://github.com/maqetta/maqetta/wiki/Creating-a-Build-Manually this page is a little bit outdated? Than what is the right way to build war file?

Thx! :)
p.s. sorry for my bad en

[2015-07-28 12:30] qianhuihui opened #3992 "I can not build source code."
this is the log
I try to bulid the source code for many times,but I am failed

!MESSAGE Missing required bundle org.eclipse.orion.server.core_0.0.0..
!SUBENTRY 2 maqetta.server.orion 2 0 2015-07-28 20:13:43.648
!MESSAGE Missing imported package org.json_0.0.0.
!SUBENTRY 1 org.eclipse.osgi 2 0 2015-07-28 20:13:43.648
!MESSAGE Bundle initial@reference:file:../../git/maqetta2/maqetta.core.server/ was

[2016-01-05 19:37] dbsd11 opened #3994 "s"

[2016-01-05 19:38] dbsd11 opened #3995 "don't show lines like Line/Arrow/PolyLine in drawing tools"
This is my fisrt time to use maqatta to design  html, I dragged line into the middle blank space , then I clicked the preview button , In the created html, I can't see the line. I reviewed element of this page, finding that console showed error:

![showlineerror](https://cloud.githubusercontent.com/assets/16562053/12125562/e2d8f2b2-b426-11e5-9d6c-042e2fa92133.png)
![drawline](https://cloud.githubu

[2016-01-05 19:39] #3994 closed, assigned to nobody

[2016-02-09 21:42] ronm2 opened #3996 "ERR_CONNECTION_REFUSED"
Hello: I just loaded Maqetta this morning (win 7, recent 1.8 java) and ran it for a few hours, however it appeared not to 'save' or show errors when saving. It's loaded not into the 'users' dir but a regular directory on the C: drive. Now I cannot get it to run at all, ERR_CONNECTION_REFUSED continues to appear, I've tried changing port 50000 to another one but that doesn't work in any browser. An

[2016-02-09 21:42] ronm2 commented on #3996
BTW the directory into which it is installed has full RWC permissions.

[2017-06-08 07:15] mtr112233 opened #3997 "when start run,it has Variable references non-existent resource : ${project_loc:davinci.releng}"
Variable references non-existent resource : ${project_loc:davinci.releng}
![qq 20170608151234](https://user-images.githubusercontent.com/29271744/26916436-f6fad98e-4c5c-11e7-8dd1-3d1280fc9302.png)

[2018-09-03 15:13] ctcob opened #3998 "Maqetta will not start with Java 10"

[2018-11-09 08:55] rahaman18 opened #3999 "Dojo Charting data extract from database"
I want to populate data into an array than call it to y-axis in Dojo/Charting. Is there any solution. I have tried data.push method but it is not working

[2018-11-29 17:20] almendieta opened #4000 "Logo Contribution"
I got an .ico file too, but server does not allow upload it.

![logo-maqetta](https://user-images.githubusercontent.com/11827218/49239546-07d64f00-f3d1-11e8-95c6-f5ae4a7aff2f.png)