[2012-08-28 01:04] #3135 closed, assigned to JonFerraiolo

[2012-08-28 01:19] doronrosenberg commented on #3130
@JonFerraiolo This is happening I think because we match Remove Value in the dropdown - try entering `r` and wait a sec.  Then type `g` and notice the R remains capitalized.

@peller is there a way to have autocomplete in dijits skip certain values?  If not we may need to disable auto completion

[2012-08-28 01:22] aerwin commented on #3123
-> Sev 3

[2012-08-28 01:27] doronrosenberg commented on #3133
iphone.css

`.mblAccordionRoundRect {
    border: 1px solid #ADAAAD;
    border-radius: 8px 8px 8px 8px;
    margin: 7px 9px 16px;
    padding: 0;
}`

removing the margin fixes the issue.  Not sure why this exists...

[2012-08-28 01:30] doronrosenberg commented on #3132
@JonFerraiolo I don't see the 400px width when I drop it into the iphone canvas, it takes 100% width, no set width

[2012-08-28 01:51] doronrosenberg commented on #3121
Both fields are marked as `datatype:object` and `isData:true`in the OAM file.  Looks like if I change it to the json datatype nothing gets written out for those props.  So what is the correct value @jhpedemonte @JonFerraiolo

[2012-08-28 02:02] #3102 closed, assigned to childsb

[2012-08-28 02:05] jhpedemonte commented on #3121
If you had to write the code by hand in HTML, how would those properties be written?  That is the correct behaviour.

Dojo already has some support for handling "object" properties, allowing you to specify the `jsId` property to connect the object instance (after parse) to a widget.

[2012-08-28 02:08] jhpedemonte opened #3136 "Style "migrate workspace" page"
Jon, if you have time, can you style the **migrate workspace** page which @childsb wrote?  Right now, it appears as a simple line with a couple of buttons, all positioned at the top left.  Should be consistent in style with the login page.

[2012-08-28 02:11] doronrosenberg commented on #3121
@jhpedemonte if I change it to json nothing gets written out though.

[2012-08-28 02:28] jhpedemonte commented on #3121
Here's the single declarative example I could find in the Dojo tests:

[code]

It's treated as a JSON representation here.  Not sure if it will also work if the properties are specified individually as in [Jon's comment](https://github.com/maqetta/maqetta/issues/3121#issuecomment-8070118) above.

Given that, if a property is of type `object`, then we should write out the JSON representation to sou

[2012-08-28 02:29] aerwin opened #3137 "Key Nav Test Plan: Delete in Files Palette Doesn't Delete File"
@doronrosenberg

Using FF on Mac with internal test server following "Files Palette Keyboard Navigation" test plan.
1. Select file in Files Palette
2. Hit Delete Key
3. Get dialog asking if you want to leave page

![GitHub Logo](http://i.imgur.com/iU0aI.png)

Clicking "Stay On Page" does nothing and clicking "Leave Page" logs you out.

[2012-08-28 03:04] jhpedemonte opened #3138 "Tree states not working in Preview"
Running **Tests > Trees > Adding event handling to nodes** on Safari 6.

Previewed page after setting up events.  When I click or open any of the affected nodes, I get an error:

[code]

Refers to states inline script of `davinci.states.setState('myState',arguments[0])`, which is invoked by `dojo.eval` (which explains why there isn't an `arguments` var).

[2012-08-28 03:07] peller commented on #3130
not aware of any way to customize the autocomplete besides using data stores and perhaps filtering them.  auto complete doesn't feel like the right UI for this anyway.

[2012-08-28 03:08] aerwin commented on #3138
Is this a zazl issue by chance?

[2012-08-28 03:17] JonFerraiolo commented on #3138
-> me. I put in the arguments[0] stuff.

[2012-08-28 03:18] JonFerraiolo commented on #3130
disabling auto-complete is ok with me

[2012-08-28 03:19] JonFerraiolo commented on #3121
another option is to comment out these properties from the OAM file

[2012-08-28 03:32] JonFerraiolo commented on #3132
Sorry, I meant IconMenu. (I changed the title). Here is the entry in widgets.json:

[code]

[2012-08-28 03:33] JonFerraiolo commented on #3133
Maybe we should check with the dojo mobile guys and find out why those margins are there.

[2012-08-28 03:37] JonFerraiolo commented on #3136
I'm getting specs for the login screen soon. I'll work on migration page after I update the login screen.

[2012-08-28 03:39] JonFerraiolo commented on #3138
I'm going to get rid of the `arguments[0]`. It was an additional targeting the nested states feature, that we deferred out of M7. It looks like the 2nd parameter isn't going to fly with certain scenarios, which means I'll have to come up with a different algorithm for dealing with state change actions when there are nested states. Probably no big loss - I expect the revised algorithm will be as us

[2012-08-28 03:50] #3138 closed, assigned to JonFerraiolo

[2012-08-28 03:59] doronrosenberg commented on #3125
The issue here is removing a tree node while it has selected children (the td is selected, the parent tr is the one being removed) isn't handled correctly by dijit.Tree.

[2012-08-28 04:01] #3125 closed, assigned to doronrosenberg

[2012-08-28 04:03] doronrosenberg commented on #3118
@aerwin I fixed 3125 and am not seeing this, can you retest?

[2012-08-28 04:06] #3137 closed, assigned to doronrosenberg

[2012-08-28 04:07] doronrosenberg commented on #3133
@peller might be able to get answers?

[2012-08-28 04:10] #3132 closed, assigned to doronrosenberg

[2012-08-28 04:23] #3130 closed, assigned to doronrosenberg

[2012-08-28 04:33] peller opened #3139 "404 error on save: Policy.error"
I've seen this error several times, working with samples or just creating new files.  Appears to be security policy related

[code]

[2012-08-28 04:34] ykami commented on #3133
The same reason as the one for RoundRectList. Did you see the same problem with RoundRectList?

[2012-08-28 04:40] peller commented on #3109
@rbackhouse

wonder if this is related to the dynamic loading going on in gridx.  Isn't that one of the files loaded by a require within the code?

[2012-08-28 04:41] peller commented on #2953
not seeing this problem anymore.  seemed to be machine config/load related

[2012-08-28 04:41] #2953 closed, assigned to peller

[2012-08-28 04:42] peller commented on #2471
-> M8

[2012-08-28 04:43] peller commented on #2265
-> M8

[2012-08-28 04:44] peller commented on #2259
Orion should have us running on a newer equinox now.  Investigate whether httponly cookies are available -> M8

[2012-08-28 04:45] peller commented on #2274
-> M8

[2012-08-28 04:45] peller commented on #2063
-> M8

[2012-08-28 04:47] peller commented on #2599
we should have more reliable console error messages now for failed deferreds or xhrs.  Could look at tying instrumenting.js to some sort of UI like a toaster

-> M8

[2012-08-28 04:47] peller commented on #2702
-> M8

[2012-08-28 04:48] peller commented on #2607
Might be fixed.  Need to look at other uses.  -> M8

[2012-08-28 04:49] peller commented on #1633
-> future

[2012-08-28 04:49] peller commented on #1338
-> M8

[2012-08-28 04:50] peller commented on #620
hit all the obvious ones for now. We seem to be stuck with some uses of eval()

-> future

[2012-08-28 04:50] peller commented on #2239
-> future

[2012-08-28 04:53] doronrosenberg commented on #3133
The issue is we are somehow setting width:100%

[2012-08-28 04:53] peller commented on #2320
-> M8

[2012-08-28 04:54] peller commented on #1348
-> M8

[2012-08-28 04:54] peller commented on #2520
-> M8

[2012-08-28 04:59] peller commented on #1255
-> M8

selection and flashing problems are fixed, but now, when you change the title, the dialog hides, probably because it's like selecting a new widget, which would hide the dialog.  May need a special case here to somehow show the new dialog.

[2012-08-28 05:00] peller commented on #1587
-> M8

[2012-08-28 05:00] peller commented on #1467
-> M8

[2012-08-28 05:01] peller commented on #1922
-> M8

[2012-08-28 05:01] peller commented on #1462
-> M8

[2012-08-28 05:02] peller commented on #886
Hopefully, we can avoid making this call often.  May not be necessary to make this optimization

-> M8

[2012-08-28 05:03] peller commented on #1221
-> M8

[2012-08-28 05:04] peller commented on #844
-> M8

[2012-08-28 05:05] peller commented on #841
-> M9/Low

[2012-08-28 05:05] peller commented on #1514
-> M8

[2012-08-28 05:06] peller commented on #1333
-> M8

[2012-08-28 05:07] #655 closed, assigned to peller

[2012-08-28 05:10] #3133 closed, assigned to doronrosenberg

[2012-08-28 05:10] peller commented on #1575
does not seem to be a slow operation anymore

-> M8/Low

[2012-08-28 05:10] doronrosenberg commented on #3128
fixed by 344da9f4bd04d4e0fdba0a8f3970460138783c62

[2012-08-28 05:10] #3128 closed, assigned to doronrosenberg

[2012-08-28 05:11] peller commented on #2804
-> M8

[2012-08-28 05:12] peller commented on #1327
-> M8

[2012-08-28 05:13] peller commented on #894
-> M8

[2012-08-28 05:14] peller commented on #635
Problem still exists. -> M8

[2012-08-28 05:14] peller commented on #2522
-> M8

[2012-08-28 07:45] aerwin commented on #2872
--> Updated title

Closing with above commit.

[2012-08-28 07:45] #2872 closed, assigned to aerwin

[2012-08-28 09:50] rbackhouse commented on #3105
I'm trying this out with my dev environment the preview works everytime for me.

[2012-08-28 09:55] rbackhouse commented on #3109
As with #3105 I can't recreate within my dev environment. Is this something I have to try with a downloaded server ?

Re: dynamic loading in GridX. I haven't seen any so far. Everything seems to be in the single request.

[2012-08-28 12:04] jhpedemonte commented on #3105
Saw this last night when testing Dijit Tree.  The non-Dijit elements load fine, but Tree wouldn't appear; no errors in console.  A shift-reload of the preview page made it render correctly.

[2012-08-28 12:12] jhpedemonte commented on #3139
This is an issue with trying to save to a **read-only** directory or overwrite a read-only file.

I thought @doronrosenberg had mostly fixed this.  Can't find that bug at the moment.

[2012-08-28 12:14] jhpedemonte commented on #3121
Yes, that's probably the best option for M7.

[2012-08-28 13:00] JonFerraiolo commented on #894
Closing.

At this point, all of the cases listed above have been addressed. Switching devices and resizing the window all cause the focus chrome to get recomputed. Switch themes addresses this by turning off selection.

If I'm wrong and there are still redraw issues remaining, please create a new bug that targets the specific problem.

[2012-08-28 13:00] #894 closed, assigned to peller

[2012-08-28 13:02] JonFerraiolo commented on #1467
Closing this. When you switch themes now, the selection goes away. That seems reasonably.

[2012-08-28 13:02] #1467 closed, assigned to peller

[2012-08-28 13:21] peller commented on #754
error no longer occurs

[2012-08-28 13:21] #754 closed, assigned to peller

[2012-08-28 13:21] peller commented on #1234
-> future

[2012-08-28 13:26] #170 closed, assigned to peller

[2012-08-28 13:26] peller commented on #170
with @JonFerraiolo's UI work, it looks like everything is sprited except metadata icons (presently inlined in the metadata with data: urls) and various dijit/dojox icons

[2012-08-28 13:28] peller commented on #632
works now

[2012-08-28 13:28] #632 closed, assigned to peller

[2012-08-28 13:37] peller commented on #433
still no close box on dojox Toaster.  Need to figure out how to patch one in or get it in the Dojo release.

-> M8

[2012-08-28 13:39] peller commented on #1467
it's not terrible, but why shouldn't the selection remain?  the structure of the page hasn't changed, just the look and feel

[2012-08-28 13:43] peller commented on #3139
while it's occurring, it might be worth making sure the error code posts some other 400 error and not a 404 on a put

[2012-08-28 13:44] peller commented on #3105
I have seen this only on the maqetta-test server, not in a local environment

[2012-08-28 13:45] peller commented on #3105
must have something to do with difficulties supporting dojo/ready?

[2012-08-28 13:49] peller commented on #894
somehow the orientation and device issues did get fixed.  thanks!

[2012-08-28 14:46] rbackhouse commented on #3105
FYI I can't recreate when running the server locally but can with the test server.

[2012-08-28 14:47] JonFerraiolo opened #3140 "Post Orion-based nightly builds"
The builds posted to maqetta.org/nightly are still the old non-Orion builds.  Need to post the Orion-based builds there, once #2841 is fixed.

---

_old summary:_

@childsb

When I downloaded a recent build from http://maqetta.org/nightly, there were 6 launch scripts. Should there be only 3? Also, why are there different downloads for different platforms in some scenarios, but only one ZIP downloa

[2012-08-28 14:50] rbackhouse commented on #3109
Loading from gridx-src is not working correctly.

The path is wrong in the plugin.xml

source="WebContent/gridx-src"

should be

source="WebContent/gridx-src/gridx"

However even when this has been changed it still doesn't load.

Still investigating.

[2012-08-28 14:52] rbackhouse commented on #3109
BTW we don't catch these in the dev env because the gridx code in the regular location has not been run through the builder.

[2012-08-28 14:58] childsb opened #3141 "gridx breaks preview"
1) new html file
2) add a gridx control
3) preview in browser.  note the error.

also

1) new html file
2) add a few dojo controls
3) preview in browser (notice dojo controls look ok)
4) add a grids control
5) preview in browser.  notice that no gridx and dojo controls are broken.

[2012-08-28 14:59] JonFerraiolo commented on #3124
Closing this issue. If we fix #3104 (which we should), then this issue becomes moot. Note that undo continues to work even after the user manually clicks on the Save icon - you can go back in time before the save.

[2012-08-28 14:59] #3124 closed, assigned to JonFerraiolo

[2012-08-28 15:01] #3121 closed, assigned to doronrosenberg

[2012-08-28 15:03] aerwin commented on #3141
Closing. Dup of #3109.

[2012-08-28 15:03] #3141 closed, assigned to aerwin

[2012-08-28 15:20] aerwin commented on #2448
Closing with above commit.

[2012-08-28 15:20] #2448 closed, assigned to aerwin

[2012-08-28 15:23] jhpedemonte commented on #3109
I see this in the server log files:

[code]

The _Library file not found_ errors are the issue that @rbackhouse [already mentioned](https://github.com/maqetta/maqetta/issues/3109#issuecomment-8094247).  Not sure about that last line, loading _Model_.

[2012-08-28 15:38] JonFerraiolo commented on #3095
@doronrosenberg - you interested in figuring out how to either put a Maqetta browser tab icon on preview, or at least wipe out the Orion icon? If so, please reassign this to yourself.

[2012-08-28 15:38] JonFerraiolo commented on #2995
-> @billreed63

[2012-08-28 15:38] jhpedemonte opened #3142 "Mac builds are ~13MB larger than others"
This will be obsoleted by fixing #2841, but until that time, worth investigating.

The Mac builds are ~120MB, but Linux and Windows builds are ~107MB.

[2012-08-28 15:39] JonFerraiolo commented on #2938
@jhpedemonte

-> M8

[2012-08-28 15:39] jhpedemonte opened #3143 "NPE in OrionPersonManager (cannot create review)"
I see the following errors in maqetta-test server logs (running maqetta-orion build):

[code]

Seems to be caused by trying to create a new Review (which fails).

[2012-08-28 15:40] peller commented on #3109
I noticed that MaqettaHTMLFilter sets up packages for dojo/dijit/dojox but not gridx... does that need to happen?  oh, it uses paths... why not packages?

[2012-08-28 15:40] JonFerraiolo commented on #2912
@aerwin - do we really need this for M7? If so, any chance you could help out with the issue you filed?

[2012-08-28 15:41] rbackhouse commented on #3109
No, no package should be required.

[2012-08-28 15:41] jhpedemonte commented on #3117
-> @doronrosenberg

[2012-08-28 15:41] JonFerraiolo commented on #2840
@jhpedemonte

We've had this issue forever, seems to risky to fix at this point, so -> M8

[2012-08-28 15:43] jhpedemonte commented on #3140
maqetta.org/nightly still contains the older, non-Orion build of Maqetta.  Still waiting on #2841 before posting Orion-based builds there.

Updating summary to "Post Orion-based nightly builds" (from "maqetta.org/nightly has old-style launch scripts").

[2012-08-28 15:44] JonFerraiolo commented on #2716
@peller

-> @doronrosenberg Could you please examine this and see if a reasonably safe fix is possible for M7? I guess one possible solution would be, before each attempt to do a setText() using latest source code into the model is to see if the new source text is different than the existing source text.

[2012-08-28 15:45] jhpedemonte commented on #3107
-> @doronrosenberg.  Take a look in Palette.js (I think).

[2012-08-28 15:45] JonFerraiolo commented on #2646
-> @doronrosenberg Could you please examine this to see if there is a safe and easy fix for M7, otherwise I think it's fine and dandy to push to M8.

[2012-08-28 15:45] jhpedemonte commented on #2760
-> @doronrosenberg

[2012-08-28 15:46] JonFerraiolo commented on #2569
-> @doronrosenberg our focus expert

[2012-08-28 15:47] JonFerraiolo commented on #2530
-> M8

[2012-08-28 15:47] aerwin commented on #2912
@JonFerraiolo Do we support standalone (non-orion) builds anymore for M7?

[2012-08-28 15:48] JonFerraiolo commented on #2470
-> @doronrosenberg - can you please see if there is a safe fix for M7?

[2012-08-28 15:49] JonFerraiolo commented on #2449
-> @JonFerraiolo M8 Prio-Med

[2012-08-28 15:50] JonFerraiolo commented on #2350
@jhpedemonte

-> M8

[2012-08-28 15:52] JonFerraiolo commented on #2336
-> @aerwin - could you please test this issue to see if it still exists? If it does, then up to you - if you want to try to fix, great, otherwise send back to @childsb

[2012-08-28 15:53] JonFerraiolo commented on #2279
@aerwin @doronrosenberg @peller - if one of you has expertise and interest in this one, please grab this issue

[2012-08-28 15:56] peller commented on #2716
Ideally, we wouldn't setText at all when just changing the editors around.

I don't see this problem in the latest code.

[2012-08-28 15:56] JonFerraiolo commented on #1779
-> @doronrosenberg Hardly a ship-stopper, but I expect this one is easy and safe. All we need to do is treat *.svg the same way that we treat *.png, *.gif, etc. Maybe we just need to add a new entry to one of the *.plugin.js files e.g., ve.plugin.js.

Don't worry about @peller's split view suggestion for the moment. We can offer split view editing of SVG files down the road. In meantime, users can

[2012-08-28 15:58] JonFerraiolo commented on #1843
@jhpedemonte

Seems like it's too late to be messing with cookies.

-> M8

[2012-08-28 15:58] aerwin commented on #2336
I see no exceptions. In addition, @billreed63 and @childsb also cannot reproduce (reported by @childsb 3 months ago). So, closing.

[2012-08-28 15:58] #2336 closed, assigned to aerwin

[2012-08-28 15:59] peller commented on #2279
-> @peller

[2012-08-28 15:59] JonFerraiolo commented on #2009
@jhpedemonte : have you seen this recently? If not, maybe push to M8?

[2012-08-28 16:00] JonFerraiolo commented on #2084
@jhpedemonte

Too late to be messing with cookies. -> M8

[2012-08-28 16:02] childsb opened #3144 "create save-as-widget test case"
create a test case for the 'save as widget' feature.

[2012-08-28 16:05] JonFerraiolo commented on #1721
@peller - can you please check to see if still issue is still valid?

[2012-08-28 16:05] JonFerraiolo commented on #1715
-> M8 Prio-Med

[2012-08-28 16:06] JonFerraiolo commented on #1562
-> @doronrosenberg - OK to push to M8, but maybe you know how to do magic with ValidationTextBox or whatever

[2012-08-28 16:06] JonFerraiolo commented on #1428
-> @doronrosenberg Nice to have for M7, but only if very easy and very safe

[2012-08-28 16:07] #3127 closed, assigned to aerwin

[2012-08-28 16:07] JonFerraiolo commented on #1363
-> @doronrosenberg maybe some magic with ValidationTextBox? Nice to have for M7, only if easy and safe.

[2012-08-28 16:09] JonFerraiolo commented on #1290
Too late and too risky to try to address this for M7. -> M8

[2012-08-28 16:09] JonFerraiolo commented on #1286
-> M8

[2012-08-28 16:10] JonFerraiolo commented on #1214
-> M8

[2012-08-28 16:10] JonFerraiolo commented on #1200
-> @billreed63 M8

[2012-08-28 16:11] JonFerraiolo commented on #1147
Too risky for M7, -> M8

[2012-08-28 16:12] JonFerraiolo commented on #1125
@childsb @jhpedemonte - no more single user, right? So can this issue be closed?

[2012-08-28 16:12] peller commented on #1843
-> Prio High to consider early in release

[2012-08-28 16:13] JonFerraiolo commented on #1124
Closing. We adopted Orion for many of the "foundation data structure" issues. We can open new issues for any remaining questions.

[2012-08-28 16:13] #1124 closed, assigned to childsb

[2012-08-28 16:13] JonFerraiolo commented on #882
-> M8

[2012-08-28 16:14] JonFerraiolo commented on #787
-> M8

[2012-08-28 16:14] JonFerraiolo commented on #696
-> @billreed63 M8

[2012-08-28 16:15] JonFerraiolo commented on #659
-> M8 Prio-High

[2012-08-28 16:16] JonFerraiolo commented on #619
-> M8

[2012-08-28 16:17] peller commented on #1721
never had a specific scenario to reproduce this.  guess we'll have to watch the logs

could have morphed into #3139

[2012-08-28 16:18] JonFerraiolo commented on #473
-> M8 Prio-Med

I don't remember seeing a "remember me" feature with the Orion login screens. For future releases, we should re-evaluate this whole area. Maybe even go further than "remember me" to a "keep me logged in" option for public maqetta.org, but for secure intranet use, we might not want to offer the "keep me logged in" option.

[2012-08-28 16:19] JonFerraiolo commented on #361
-> M8

[2012-08-28 16:19] JonFerraiolo commented on #308
-> @doronrosenberg

[2012-08-28 16:20] jhpedemonte commented on #1125
Closing.

[2012-08-28 16:20] #1125 closed, assigned to childsb

[2012-08-28 16:20] JonFerraiolo commented on #244
-> @billreed63 - do we still have this issue? Feel free to push to M8 if it's still a valid problem.

[2012-08-28 16:21] JonFerraiolo commented on #173
-> M8

[2012-08-28 16:21] JonFerraiolo commented on #8
Closing. User emails no longer appear in preview in browser url address.

[2012-08-28 16:21] #8 closed, assigned to childsb

[2012-08-28 16:24] jhpedemonte commented on #2009
Haven't seen it recently.  Perhaps @childsb [was right](https://github.com/maqetta/maqetta/issues/2009#issuecomment-5749172)!

[2012-08-28 16:24] #2009 closed, assigned to childsb

[2012-08-28 16:27] JonFerraiolo commented on #1721
@peller: should we close this one, then?

[2012-08-28 16:30] JonFerraiolo commented on #3107
I expect two fixes are needed:
1. Comment out all JSON structures in the widgets.json file(s) for all of the widgets that are in the untested group. Probably just dojo
2. Remove untested from one or two arrays in the Palette*.js files, which lists the preferred section ordering for the Palette

[2012-08-28 16:32] jhpedemonte commented on #3107
I don't think we need to do (1), just make sure that the category doesn't show.  I'd rather keep the widgets.json files as is.

[2012-08-28 16:33] #2470 closed, assigned to doronrosenberg

[2012-08-28 16:33] doronrosenberg commented on #308
-> M8

[2012-08-28 16:34] billreed63 opened #3145 "Exception when select ancestor..."
On FF/Win7 http://maqetta-app-test.austin.ibm.com/maqetta/
with the following html

[code]

Select the Calendar, right click to get the context menu chose "Select ancestor..."

Note the following exception
this._selectAncestor is undefined

Line 37511

Chose ``<div.>` from the drop down, click ok

the selection stays on the calendar instead of moving to the div

[2012-08-28 16:39] JonFerraiolo commented on #3107
I think they'll show unless they are commented out. I'm pretty sure that if you remove the Untested section only, the widgets will end up in some other section.

[2012-08-28 16:40] JonFerraiolo opened #3146 "Documentation browser tab shows Orion icon"

[2012-08-28 16:56] peller commented on #1721
until it's seen again, sure.

[2012-08-28 17:00] #3107 closed, assigned to doronrosenberg

[2012-08-28 17:01] doronrosenberg commented on #1363
Wouldn't it make more sense to escape / in this case?

[2012-08-28 17:09] JonFerraiolo commented on #1363
Nah. Users shouldn't be allowed to create filenames with "/" (or backslash for that matter) in their file names. It will mess up downstream logic where code (ours, dojo's, operating systems) search for "/" in fullpath strings and then split on that character.

[2012-08-28 17:31] billreed63 opened #3147 "Selection box in wrong location until page is scrolled on FF"
FF/Win7
Clone a mobile theme
select the Heading widget in the Heading & toolbars tab

Notice that the selection box is at the bottom of the page, but as soon as I scroll the window with the canvas scrolll bar the selection jumps to the widget and then stays with it.

![Selection at button](http://i.imgur.com/9kAic.png)
after scrolling
![after scroll](http://i.imgur.com/CoznW.png)

[2012-08-28 17:37] #2569 closed, assigned to doronrosenberg

[2012-08-28 17:42] doronrosenberg commented on #2646
-> m8, kinda tricky it looks like and more important things are out there

[2012-08-28 17:44] doronrosenberg commented on #2716
Not seeing this anymore as well, probably fixed by my other changes for dirty.

[2012-08-28 17:44] #2716 closed, assigned to doronrosenberg

[2012-08-28 17:45] doronrosenberg commented on #2760
So you want us to never allow the back action then?

[2012-08-28 17:45] JonFerraiolo commented on #3145
Passing to @doronrosenberg, who is the expert on dialogs

The immediate cause of this exception is that ve/actions/SelectAncestorAction.js crashes because `selWidget` has no value. This regression is because the dialog contents are not parsed (and therefore dijit widgets aren't created).

There are multiple possible ways to fix this:
- Don't use Dijit, use HTML instead
- Find a way to tell the Dia

[2012-08-28 17:46] billreed63 opened #3148 "Exception when switching devices in preview"
FF/Win7

Create a mobile page

[code]

Preview,  in preview switch to android device
Note the following exception:

iframeSearch is not defined

Line 5568

[2012-08-28 17:55] billreed63 opened #3149 "Selection cleared after changing widget ID"
On FF/win7  with the following HTML iphone with header

[code]

Select the Header widget
In the properties palette change the id to `myheading1`
then click in the class box

Note that the Selection of the heading widget is cleared, I have to reselect the widget to change the class

[2012-08-28 18:07] #3090 closed, assigned to aerwin

[2012-08-28 18:11] doronrosenberg commented on #3149
Not seeing this on ff/win - is this on maqetta-test?

[2012-08-28 18:11] #3147 closed, assigned to JonFerraiolo

[2012-08-28 18:19] JonFerraiolo commented on #3148
Wasn't able to reproduce on Mac/FF, so time to open up my Windows machine.

[2012-08-28 18:20] jhpedemonte commented on #2760
No, going back in history by hitting BACKSPACE is a stupid, horrible "feature", often leading to frustration when you realize that your focus wasn't really on that text area you just spent 10 minutes typing into, resulting in you going back and losing your work.

Currently, we instead show a dialog asking the user if they really meant to go back in history when they hit backspace.  I would wager t

[2012-08-28 18:24] #3145 closed, assigned to doronrosenberg

[2012-08-28 18:28] billreed63 opened #3150 "Unable to "Add Maqetta Settings and Open" to bring up Maqetta from orion"
Unable to do step 6

Steps
1 Connect to a Maqetta/Orion instance. Navigate to the root of the server (as opposed to /maqetta/). This will bring up the Orion landing page.
2 Create a new user or login with an existing user.
3 Click the Navigator link in the upper left hand corner.
4 Create a new folder.
5 Under the folder you just created, create another new folder.
6 Click the twisty for the neste

[2012-08-28 18:39] billreed63 commented on #3148
@peller  This appears to be another zazl bug, if I turn of zazl it does away

[2012-08-28 18:42] peller commented on #3148
I think this one is fixed.  @billreed63 which build are you running?

[2012-08-28 18:43] aerwin opened #3151 "R&C: exception after adding comment and switching tabs"
--> @aerwin

Running from local Eclipse...
1. Go to a review
2. Add comment
3. Switch to another editor
4. Switch back to review editor
5. See exception and new comment is missing

[code]

However, reloading the page shows the comment, so it's being persisted to the server.

[2012-08-28 18:44] JonFerraiolo commented on #2760
I agree with what @jhpedemonte says. If users complain, we can address the complaints, but let's try what he proposes for this release.

[2012-08-28 18:46] aerwin opened #3152 "R&C: edit/reply links on comments still active even if review is in stopped state"
-->@aerwin
1. Add some comments to a review
2. Put review in stopped state
3. Edit/reply links in comments pane still active (even though Add Comment button is disabled)

[2012-08-28 18:47] billreed63 commented on #2995
http://git.eclipse.org/c/orion/org.eclipse.orion.server.git/tree/bundles/org.eclipse.orion.server.configurator/src/org/eclipse/orion/server/configurator/ConfiguratorActivator.java 3:07  lin 116
2:42:36 PM: Bradley (Brad) Childs: theres where they do it in Orion
2:43:35 PM: Bradley (Brad) Childs: oh so it looks like we already have an activator
2:43:36 PM: Bradley (Brad) Childs: org.davinci.server.

[2012-08-28 18:55] doronrosenberg commented on #2760
fixed by 67d5fdac1844e558bd2cceb05635961e53e19f03

[2012-08-28 18:58] aerwin opened #3153 "R&C: exception typing in filter box in comments pane"
--> @aerwin

It's not clear to me this is having any side affect, but when typing a matching string in the filter box in the comments view I see the following exception:

[code]

A non-matching string seems to hide everything.

[2012-08-28 19:12] #3146 closed, assigned to JonFerraiolo

[2012-08-28 19:19] jhpedemonte commented on #2760
Regarding @doronrosenberg's commit: I think we're already handling backspace somewhere (and displaying the alert).  Would need to get rid of that code.

[2012-08-28 19:32] rbackhouse commented on #3105
I have been able to recreate by running a server on another machine although the occurrence is far less frequent. I does allow me to debug it better that with the test server.

[2012-08-28 19:37] aerwin commented on #3118
@doronrosenberg Just restested and think you fixed it! Thanks. Closing.

[2012-08-28 19:37] #3118 closed, assigned to nobody

[2012-08-28 19:46] aerwin commented on #3116
@JonFerraiolo @billreed63 @doronrosenberg

The TEXTAREA element only supports plain text, so this bug really needs to be to turn off showing the radio buttons.

From http://www.w3.org/wiki/HTML/Elements/textarea :

[code]

[2012-08-28 19:46] jhpedemonte commented on #3143
cc @aerwin

When creating a review, I get a related error in the browser console (server returned 500, due to NPE) and review creation seems to fail.

However, I do see the review in the other user's Reviews pane.  And after a refresh, the review shows up for my test user.  So the reviews themselves are created.

But I didn't not see a notification email for either user.

[2012-08-28 20:02] billreed63 commented on #3148
it is whatever is on the test server

[2012-08-28 20:04] jhpedemonte commented on #3143
Also, most likely related, I get no notifications for new comments added to reviews.  Need to test after the NPE is fixed.

[2012-08-28 20:09] jhpedemonte opened #3154 "Editing review title causes loss of comments/annotations"
I created a review between 2 users and added comments/annotations.

Then I edited the review and changed the **Title**.  Since change didn't show in UI, I had to refresh for it to take.

Refreshed on both users and opened review again.  All comments/annotations are gone.

(Tested on Safari, secondary user on Chrome/Mac.)

@JonFerraiolo

[2012-08-28 20:10] jhpedemonte commented on #3154
According to the test plan, the title change should be reflected in the UI immediately after hitting **Publish** in the wizard, when editing the review.  So that's also an issue here.

[2012-08-28 20:18] peller commented on #3148
I believe it was fixed by e12a14aa049cde876fc2b1c7a32834c5fa80f9db.  The build on the test machines predates that.

[2012-08-28 20:18] #3148 closed, assigned to JonFerraiolo

[2012-08-28 20:23] peller commented on #2708
so patching the Dojo source is problematic, since we're relying on submodules to pull it in.  It is possible to patch in a module with paths, but that would mean changing the page structure as well as pulling in dependencies for the user which go beyond the basic library... also problematic.  Is there any way to work around this, even if it's a special case in the loader, like looking for a ternar

[2012-08-28 20:23] jhpedemonte opened #3155 "Reviews pane UI doesn't refresh as expected"
Seen in a couple of cases:
- Edit an existing review and change its **Title**.  Title doesn't change accordingly in the Reviews tree.
- Create a Draft Review.  Review tree should show item with "(Draft)" in title.  Edit draft review and **publish**.  Review tree still shows it as a draft.

May affect more scenarios, as well.

Tested on Safari.

[2012-08-28 20:23] jhpedemonte commented on #3154
Opened #3155 for UI refresh issue.

[2012-08-28 20:24] peller commented on #2708
one other idea... I just realized I could inject paths into the zazl-generated page, but perhaps not inflict that on the user.

[2012-08-28 20:39] aerwin commented on #3116
Closing with above commit.

[2012-08-28 20:39] #3116 closed, assigned to aerwin

[2012-08-28 20:40] rbackhouse commented on #2708
Looking for the  ternary expression with define I'm sure is possible but may be quite a bit of work. The pathing option would probably have to do the whole dojox/mobile prefix. Config Maps is probably the best solution (https://github.com/amdjs/amdjs-api/wiki/Common-Config map) but I haven't got support in yet for it.

None of these are going to be a quick solution. I'm leaning towards going the A

[2012-08-28 20:42] aerwin commented on #3114
@JonFerraiolo

You're right... `FieldsetInput` needs to be updated to deal with rich text. I had thought flipping a flag would do it and that I would just handle at same time as #3116, but needs a little more work. So, just going to leave in M8. Comment added to `FieldsetInput`:

[code]

Also, note, if you invoke smart input on the legend itself (e.g., double-click on the legend and not the fields

[2012-08-28 20:47] peller commented on #2708
any more temporary fixes we can apply, like inserting a filter to do search/replace on that ternary string?  (for all practical purposes, within our app, we can ditch the ternary and just replace it with "define")

[2012-08-28 20:49] rbackhouse commented on #2708
Or how about just create a maqetta version and reference that in the generated code for now. I don't think it is referenced anywhere else

[2012-08-28 20:50] peller opened #3156 "spin wheel contents have quotes and brackets"
drop a mobile spinwheel on a page and preview.  the data A, B, C, etc. have stray characters.  @ykami points out:

the array syntax has been changed to align with dojo.parser.
http://livedocs.dojotoolkit.org/dojox/mobile/differences-17-18#dojox-mobile-parser

If your SpinWheel encounters the deviceTheme problem, its label text does not align center and you cannot spin the slots well. This is becau

[2012-08-28 20:58] peller commented on #2708
yah, guess I could do that.

[2012-08-28 21:04] doronrosenberg commented on #3117
Looks like in ViewHelper::create, context.sceneManagers is an empty object. @peller, only happens with the minimized callbacks.js

[2012-08-28 21:21] billreed63 commented on #2995
I am certainly no expert on but it appears to me that the code in http://git.eclipse.org/c/orion/org.eclipse.orion.server.git/tree/bundles/org.eclipse.orion.server.configurator/src/org/eclipse/orion/server/configurator/ConfiguratorActivator.java hard codes the session timeout value in  `Acrivate.start()`
`properties.put(JettyConstants.CONTEXT_SESSIONINACTIVEINTERVAL, new Integer(4 * 60 * 60)); //

[2012-08-28 21:27] jhpedemonte commented on #3117
Looks like that's set into `context` in `callbacks.js::onDocInit()`.  @JonFerraiolo, your code, right?

[2012-08-28 21:30] jhpedemonte commented on #3156
Dupe of #1484?

[2012-08-28 21:32] doronrosenberg commented on #3117
OK so in Context.js constructor:

[code]

In the failing case, library.$callbacks is null and onDocInit is never called.  Something weird is going on

[2012-08-28 21:46] JonFerraiolo commented on #3117
At one point, library metadata (packages.json and now widgets.json) were getting loaded twice, and depending on timing, $callbacks had a value the first time through, and then second time through it was null. But I thought we fixed that problem...

[2012-08-28 21:47] doronrosenberg commented on #3117
The callbacks load is returning null in metadata.js

[code]

Data is null

[2012-08-28 21:52] jhpedemonte commented on #3117
Here's a guess:  now that **callbacks.js** is built, it has been **wrapped by AMD boilerplate**.  This means that when it is evaled, it returns nothing.  When running from source, it is a straight-up JS object and that evaled value gets returned.

@peller: can we turn off AMD-wrapping as part of the build?

[2012-08-28 21:54] jhpedemonte commented on #3117
The other option is to just make **callbacks.js** an AMD module (#2690).

[2012-08-28 21:56] doronrosenberg commented on #3117
@jhpedemonte the wrapping is indeed probably the issue

[2012-08-28 21:59] jhpedemonte commented on #2690
Back to M7.  Fixing this should fix #3117.

[2012-08-28 22:18] doronrosenberg commented on #3156
@peller @ykami If that is true, why does http://download.dojotoolkit.org/release-1.8.0/dojo-release-1.8.0/dojox/mobile/tests/test_SpinWheel-custom.html still use label="[]"?

[2012-08-28 22:27] #1484 closed, assigned to jhpedemonte

[2012-08-28 22:27] doronrosenberg commented on #3156
fixed by f1c4107e78dd218a87556b243b0006215c898621

[2012-08-28 22:27] #3156 closed, assigned to doronrosenberg

[2012-08-29 00:52] #2690 closed, assigned to jhpedemonte

[2012-08-29 02:16] aerwin commented on #2760
@doronrosenberg

Reopening... I can no longer delete text using the delete key on my Mac. For example, drag GridX onto page and try to delete characters in the text box on first panel of GridX wizard. I suspect this was caused by the earlier commit here.

[2012-08-29 02:25] ykami commented on #3156
fair question.
In that test case, data-dojo-props is used to pass the array value. In this case, you need to give it in the correct json syntax. On the other hand, when you pass it through an html attribute, i.e. the labels attribute in this case, you need to give something like "A,B,C,D,E". This is how dojo.parser behaves, and dojox.mobile.parser is following this dojo.parser's behavior.

[2012-08-29 02:36] aerwin opened #3157 "R&C: type ahead for e-mail address in 3rd panel of wizard can cause redirect to handle error page"
--> @aerwin

Was noticing this happening quite regularly on the internal test server, and then got it to happen reliably in my local by adding a Thread.sleep in the `GetBluePageInfo.java` part...
1. Open new review wizard
2. Start typing in the "add" text box, and see the following in console. In addition, Maqetta redirects to the handle error page

[code]

I don't think there's actually any error

[2012-08-29 02:43] jhpedemonte commented on #3157
Also see 8277 in our internal bugzilla.

[2012-08-29 03:33] doronrosenberg commented on #2760
@aerwin probably is, looking into it

[2012-08-29 03:37] peller opened #3158 "FF: audio smart input dialog doesn't layout correctly"
Drag an audio widget on the canvas
The first time only, the smart input shows up but the text field does not fully expand horizontally, and it's cut off vertically

[2012-08-29 03:40] aerwin opened #3159 "Rename "getBluePageInfo" command to something else (like "getUserInfo")"
--> @aerwin

[2012-08-29 03:46] jhpedemonte commented on #3159
We already have a `getUserInfo` server command.

[2012-08-29 03:47] aerwin commented on #3157
@jhpedemonte @peller @JonFerraiolo

Does anyone know the `handleIoError` code in `Workbench` very well?

It contains the following code (which I assume) is to not crap out on JSONP calls?

[code]

I'd like to add an exception for the soon to be renamed `getBluePageInfo` like so:

[code]

Does anyone know of a problem with that?

It would obviously be better not to hard code info about `getBluePage

[2012-08-29 03:49] aerwin commented on #3158
Closing. Dup of #2735.

[2012-08-29 03:49] #3158 closed, assigned to doronrosenberg

[2012-08-29 03:52] doronrosenberg commented on #2760
@jhpedemonte The existing code needs to stay if you press back and we warn if things are unsaved, etc.

Also, backing this out.  There is no good way to do this correctly as far as I can tell without hacking up checks for inputs/etc and even then I bet we will break something else.

[2012-08-29 03:52] aerwin commented on #3159
Ok... other suggestions?... `getUserDirectory` or `getUserDirectoryInfo`?

[2012-08-29 04:13] jhpedemonte commented on #2760
Curses!  Foiled again!

We currently have code that detects backspace and puts up a dialog.  Can't we just not show the dialog and absorb the default action?

Pushing to M8, given risk...

[2012-08-29 04:17] doronrosenberg commented on #2760
The default action is to go back - we could do that, but I would think that most uses of backspace would be user error and data loss could happen.

[2012-08-29 04:24] aerwin commented on #2760
I had been in that code a long time ago... my recollection is that we catch the unload event to put up the dialog. We don't look for a key press.

[2012-08-29 07:09] aerwin commented on #3154
Closing with above commit.

[2012-08-29 07:09] #3154 closed, assigned to aerwin

[2012-08-29 07:10] aerwin commented on #3153
@jhpedemonte @peller

Does anyone know anything about the `handleIoError` function in `Workbench`?

It contains the following block to return for non Maqetta URL's. I assume for JSONP?

[code]

To solve the problem at hand, I'd like to add an exception for the (soon to be renamed) `getBluePageInfo` command like so:

[code]

Does anyone see a problem with the approach?

I know it's not ideal to har

[2012-08-29 10:34] rbackhouse commented on #3105
This should be fixed now.

[2012-08-29 12:35] #3105 closed, assigned to peller

[2012-08-29 12:47] peller commented on #1256
-> M8

[2012-08-29 13:09] #3126 closed, assigned to peller

[2012-08-29 13:17] rbackhouse commented on #3109
I tried this out on a downloaded server this morning and the example now loads

[2012-08-29 13:31] #3109 closed, assigned to peller

[2012-08-29 13:44] rbackhouse commented on #3122
Should be fixed now

[2012-08-29 14:42] billreed63 commented on #244
This issue has been resolved at some point in the past

[2012-08-29 14:42] #244 closed, assigned to billreed63

[2012-08-29 14:54] JonFerraiolo commented on #3104
-> M7 just to see if it's as simple as removing one line of code.

@childsb @billreed63 - can you think of any issues with workingcopy files that force us to save whenever the user clicks on the preview button? I just tried commenting out the single line of code in VisualEditor.js that forces a save when a preview action occurs, and everything seems to work just fine - the file stays dirty, and pr

[2012-08-29 15:13] aerwin commented on #3143
--> @aerwin

Per scrum, I said I can at least take a look.

[2012-08-29 15:26] peller commented on #3142
The tree diff. @jhpedemonte here ya go: http://pastebin.com/RaVsuJvR  All sorts of stuff, including launcher and other platform-specific dependencies.  Seems like a lot of that is UI code which we should not depend on for a headless server, perhaps lots of it coming from Orion

[2012-08-29 15:44] JonFerraiolo opened #3160 "Remove unused Dojo modules from downloads (e.g., dojox)"
Our download ZIP is 100M+. We are looking for ways to make it smaller. One particular area of investigation is whether we can remove large parts of dojox.

[2012-08-29 15:45] billreed63 commented on #3157
This looks good to me, we do have an open issue #1954 that is a dojo.xhr does not publish error on put/get when server is down. This may be something to keep in mind when dealing with this..

[2012-08-29 15:46] JonFerraiolo commented on #3142
Don't forget that the Orion UI appears in its full glory if you go to Open menu and issue an "Open Orion Navigator" command.

[2012-08-29 16:12] jhpedemonte commented on #3142
The [Orion/Mac builds](http://download.eclipse.org/orion/drops/R-0.5-201206221139/index.html) themselves are bigger than the other 2 platforms (39M vs 30M).

[2012-08-29 16:17] jhpedemonte commented on #3080
-> @doronrosenberg / M7

Doron, how easy would it be to fix this?  We would still need to get special icons to denote the read-only nature, but want an estimate/risk analysis first.

[2012-08-29 16:23] aerwin commented on #3143
--> @childsb

I'm not able to reproduce this in local Orion from Eclipse.

Think I need to pass this one back to @childsb ... I've glanced at the code and the exception from @jhpedemonte 's stack tack occurs on the `this.email = user.getLogin();` line of the function below from `OrionPersonImpl`:

[code]

It's invoked by the `String email = ((IPerson) persons.get(name)).getEmail();` line in the fu

[2012-08-29 16:25] peller commented on #3142
@JonFerraiolo by ui, I'm thinking Eclipse client ui.  But perhaps the division isn't always as clear as it should be.  I see things like emf and batik, which I suppose could be used as client-side abstractions.  Maybe they in turn are coupled with client-side Eclipse plugins?

[2012-08-29 16:30] aerwin commented on #3157
Thanks, @billreed63 ... Closing with above commit.

[2012-08-29 16:30] #3157 closed, assigned to aerwin

[2012-08-29 16:50] doronrosenberg commented on #3080
@jhpedemonte pretty straightforward once we have an icon

[2012-08-29 16:55] jhpedemonte commented on #3080
OK.  For now, put in some random, place holder icons, so we can test it.  @JonFerraiolo will take care of getting the real icons.

[2012-08-29 17:23] JonFerraiolo commented on #3142
OK, I'll bet there is a whole ton of similar stuff that neither Maqetta nor Orion actually use.

[2012-08-29 17:49] aerwin opened #3161 "ThemeEditor exception"
--> @aerwin

@billreed63 says the theme editor stopped updating widgets after my commit 4e2e56ca6e1da2477033e393b375c37ae139ead2 for changing the visible palettes.

I see the following exception when trying to change background of a text field in theme editor... no idea how my changes impact this, but I'll take a look this afternoon...

[code]

[2012-08-29 17:53] doronrosenberg commented on #3080
We already have a readOnlyResource class we use, so really easy

[2012-08-29 18:54] aerwin commented on #3161
--> @billreed63

@jhpedemonte @JonFerraiolo

The net here is Bill noticed the theme editor id was different at some of his `'if` statements. I caused this by removing a duplicate definition of the `ThemeEditor` from `ve.plugin.js` (just the one in `themeEditor.plugin.js` exists now). After a phone chat with Jon and Bill, we agreed this was the right thing to do. So, Bill was going to change his co

[2012-08-29 19:00] aerwin opened #3162 "Create welcome page perspective to hide all palettes on welcome page except for Files & Reviews"
--> @aerwin
--> Opening for M8

@JonFerraiolo

This is a follow-on to #2872 ("UI Refresh: Update palettes that show, come to front on editor, etc. on editor switches")... one more update that could be made here is to create a welcome page perspective that hides all palettes except for Files and Reviews.

[2012-08-29 19:17] aerwin commented on #3151
Closing with above commit.

[2012-08-29 19:17] #3151 closed, assigned to aerwin

[2012-08-29 19:37] aerwin opened #3163 "Add last modified time to review hover"
--> @aerwin
--> Prio Med, M8

Recently added creation time to the hover for a review. Since we support editing a review, it would probably also be nice to add a last modified time as well.

[2012-08-29 19:38] aerwin opened #3164 "Add last modified time to comments"
--> @aerwin
--> Prio Med, M8

We currently display how long ago a review comment was created. Since we support editing comments, it would probably also be nice to add a last modified time as well.

[2012-08-29 20:10] childsb commented on #3150
I've replaced the "add maqetta settings and open" with just a "open in maqetta".

'open in maqetta' will ad project settings if they dont exist.

[2012-08-29 20:11] childsb commented on #3150
TODO: Update test case to reflect changes

[2012-08-29 20:11] doronrosenberg commented on #3080
@JonFerraiolo Are we planning to have read only icons for each type or just a general folder/file one?

[2012-08-29 20:12] #3106 closed, assigned to childsb

[2012-08-29 20:28] #3122 closed, assigned to peller

[2012-08-29 20:33] doronrosenberg commented on #3080
@JonFerraiolo checked in the style changes, temp icons

[2012-08-29 20:40] doronrosenberg commented on #2883
If an Open -> Projects dialog is OK I can take this on. Submenus would be too complicated for m7

[2012-08-29 20:48] aerwin commented on #2883
I think the dialog is sufficient. Thanks, @doronrosenberg !

[2012-08-29 20:49] jhpedemonte commented on #3080
When I talked to Jon, he mentioned having three icons:
- read-only file
- read-only closed folder
- read-only open folder

[2012-08-29 20:51] aerwin commented on #3153
Oops... comment above was intended for entirely unrelated issue #3157 (which has been resolved).

[2012-08-29 20:57] billreed63 commented on #3161
fixed with 90667f9cad9aa4384285753c0647788711b31652

[2012-08-29 20:57] #3161 closed, assigned to billreed63

[2012-08-29 21:00] aerwin commented on #3153
Closing with above commit.

[2012-08-29 21:00] #3153 closed, assigned to aerwin

[2012-08-29 21:12] #3104 closed, assigned to billreed63

[2012-08-29 21:12] aerwin commented on #2894
@peller @JonFerraiolo @jhpedemonte @childsb

Not sure when this moved to M8, but we don't really want "A", "B", "C", "D", etc. all over the UI, do we?

[2012-08-29 21:15] jhpedemonte commented on #2894
Sure thing for M7 to use the email.  Not so sure about adding fields for user's name; that might have to wait for M8.

-> M7

[2012-08-29 21:16] billreed63 commented on #2995
@childsb  is going to open an issue with orion to make the session timeout a settable parm for M8

[2012-08-29 21:40] aerwin commented on #2894
--> @aerwin

I can take this one then (minus adding field's to collect user name). I'll open a separate issue for that one.

[2012-08-29 21:41] doronrosenberg commented on #3139
@jhpedemonte Perhaps autosave is the culprit, I think I only fixed save by clicking the save button.

[2012-08-29 21:43] aerwin opened #3165 "Need to collect some identifying string from user during sign-up (e.g., first name, user id, etc.)"
--> @childsb
--> Prio High (for evaluation at least)
--> M8

Follow-up to #2894

[2012-08-29 21:44] jhpedemonte commented on #3139
@doronrosenberg, would a similar fix work for auto-save?

[2012-08-29 21:46] doronrosenberg commented on #3139
@jhpedemonte well for save we put up a dialog, we could make sure that autosave does nothing if its readonly.  Any idea where the autosave code lives?

[2012-08-29 22:04] #2883 closed, assigned to doronrosenberg

[2012-08-29 22:33] doronrosenberg commented on #3117
Fixed on latest maqetta-test build

[2012-08-29 22:33] #3117 closed, assigned to doronrosenberg

[2012-08-29 22:47] doronrosenberg opened #3166 "Review email link does not open the review, just shows default maqeeta start page"
This is on maqetta test, the link is: `http://maqetta-app-test.austin.ibm.com/maqetta?reviewDesigner=D&reviewVersion=2012-08-29T22:42:48Z``

[2012-08-29 22:52] aerwin opened #3167 "Big (and weird) problem setting theme set in on mobile page"
@billreed63

Really weird issue on Safari on Mac...

Working through Theme Sets test case... completed "Applying theme sets to HTML" test case (e.g., clicked OK when changing themes to _dojo_theme_set_).

Display started alternating between these two states for several mins before crashing Safari.

![GitHub Logo](http://i.imgur.com/3UjVS.png)

![GitHub Logo](http://i.imgur.com/xKN3D.png)

Lots of

[2012-08-29 22:54] aerwin commented on #3166
--> @aerwin

[2012-08-29 22:57] doronrosenberg commented on #3166
Same link was sent in email notifications for new comments on the review

[2012-08-29 22:58] aerwin commented on #3167
After restarting the browser, the page seems to have settled on the 1st image above (the corrupt rendering), and no errors in console.

[2012-08-29 23:08] doronrosenberg opened #3168 "Maqetta should show load indicator earlier"
Example: create a new html file on maqetta-test.  Using Chrome, it can take 2 seconds before anything happens after confirming the dialog, sometimes longer.  We really should show the progress indicator/loading screen much earlier, or perhaps some other form of notification that things are happening (Gmail's little top centered loading messages for example).

This would be a relatively easy/low im

[2012-08-29 23:10] aerwin commented on #3167
Probably pointless, but moved on to the "Restore dojo default theme to HTML" section after restarting the browser. I was able to switch the theme, but got back into kind of a flickering state after switching to the "(none)" theme set. And, it's kind of difficult to do anything in the browser. Very weird state of affairs in that I can save the file, but it's dirty bit comes back on on each flicker.

[2012-08-29 23:12] doronrosenberg opened #3169 "Hovering over a file's tab should show a tooltip with the full path/filename"
I can have two file1.html files open from two different folders but have no idea which one is which (unless I am missing something).  Showing the full path as a tooltip for tabs would be a easy way to provide that information.

[2012-08-29 23:14] doronrosenberg opened #3170 "New Theme dialog too short"

[2012-08-29 23:15] aerwin commented on #3167
Last post on this one (I hope)... browser crashed again, and page rendering seems to be what I'd expect after switching theme sets to "none" (e.g., back to normal):

![GitHub Logo](http://i.imgur.com/5aS2A.png)

[2012-08-29 23:23] JonFerraiolo commented on #3168
-> @peller

[2012-08-29 23:31] #3170 closed, assigned to doronrosenberg

[2012-08-29 23:31] peller commented on #3168
yeah, I think we had this working pretty well until we turned on async in the iframe, now stuff happens earlier...

[2012-08-29 23:32] JonFerraiolo commented on #3139
I don't remember the details, but I remember that we used the 8 letters "autosave" in the implementation and a grep -i on autosave yields this:

[code]

[2012-08-29 23:34] doronrosenberg commented on #3139
oops, I always forget to do case insensitive greps.  Taking

[2012-08-29 23:58] JonFerraiolo opened #3171 "Preview not working with Zazl and Eclipse projects"
@rbackhouse

When you create a new project in Maqetta, and turn on the "Elipse support" checkbox, we create a directory structure that is modeled after how Eclipse sets up web projects, where all of the web content goes into a `MYPROJECT/WebContent` folder instead of just going into the `MYPROJECT` folder.

To reproduce:
- Create a new project, make sure the "eclipse support" checkbox is checked
-

[2012-08-30 00:03] doronrosenberg commented on #3139
Hmm, we already do a readOnly check for autosave, so not sure how this is happening without a good testcase.

[2012-08-30 00:17] JonFerraiolo opened #3172 "Can't copy/paste a Tree or GridX within same document"
For both Mac/Firefox and Mac/Safari, I can't successfully copy/paste a Tree widget.
- New Desktop App
- Drag/drop a Tree, accept default values
- Copy
- Paste

Result=> Nothing gets copied. On Safari and Chrome, nothing in console, but with Firebug, there are some messages about undefined values.

[2012-08-30 00:20] peller commented on #3139
all I did was open a sample file and leave the workbench idle.

[2012-08-30 00:29] rbackhouse commented on #3171
The Zazl resource loader needs to know whether the project created is an eclipse one. I see no way currently in the code to find this out programmatically. Without this knowledge I don't know whether to strip one or two segments from the path.

[2012-08-30 00:32] doronrosenberg commented on #3139
I just let it idle for 15 minutes, no server errors.

[2012-08-30 00:44] doronrosenberg commented on #3139
In theory my dirty changes should prevent a opened but unchanged file from ever getting saved.  I'll let it run after making a page change

[2012-08-30 00:51] JonFerraiolo opened #3173 "Last column table cells can become unreachable"
(I'm using Win/FF)

Setting to M7 Prio-High just to evaluate, I wouldn't be surprised if we have to defer to M8.
- New Desktop App
- Add a table, accept defaults (i.e., 2x2 table)
- Double click on top/left table cell, enter "red1"

Result=> column 1 takes up nearly the entire width of the page canvas. I couldn't click into a cell in the second column. Only way I found to select a cell in second c

[2012-08-30 00:57] doronrosenberg commented on #3172
Seems to be in TreeCreateTool::_loadRequires, so cc:@peller

[2012-08-30 01:00] JonFerraiolo opened #3174 "Need to test table column insertion on Win/Firefox"
@aerwin

I found a situation where on Win/FF I couldn't add a column to a table. I simply created a new Desktop App, then added a table, then put text in each of the cells, then selected columns and set background, and then issued an insert column command and no column was added.

[2012-08-30 01:01] jhpedemonte commented on #3171
@childsb, see @rbackhouse's comment above.

[2012-08-30 01:14] rbackhouse commented on #3171
It looks like I might be able to just look for the existence of the ".project" file in the project root.

[2012-08-30 02:10] aerwin opened #3175 "Change background on button with read/write theme loses selection"
@billreed63

Doing the _Properties 5_ test plan on Safari on Mac...
1. Clone theme
2. New HTML file
3. Drag button
4. Switch theme to new theme
5. Select button
6. Change background
7. Get dialog confirming to make change to your theme
8. Click OK
9. Color changes, but selection disappears

[2012-08-30 02:18] aerwin opened #3176 "Change read/write theme warning dialog not converted to new style"
@doronrosenberg

Doing the Properties 5 test plan on Safari on Mac...
1. Clone theme
2. New HTML file
3. Drag button
4. Switch theme to new theme
5. Select button
6. Change background
7. Get dialog confirming to make change to your theme... Dialog not updated to new style _AND_ noticed it mainly because I wanted to just hit enter to accept , but the link has the focus and opened docs instead of di

[2012-08-30 03:05] peller commented on #3172
hrm.  this._data is an object, not an array, in this case.  We had this problem before... it's unfortunate we don't have a better definition for "data"

In this particular case, it seems that there's nothing to process for loadRequires.  Should we skip the map if this._data isn't an array?  Could check to see if this._data.map is truthy, and if not, pass [] or undefined to all()... might work to s

[2012-08-30 04:16] peller commented on #2708
for M8, we might want to try pulling in dojox/mobile/deviceTheme with a SCRIPT tag instead of a require, as recommended by @ykami.  This would get us around the zazl issue, since deviceTheme wouldn't go through the loader.  However, we may have to provide a special hook for the SCRIPT tag, since we have processing which must occur only after deviceTheme is done loading.  We'd also have to worry ab

[2012-08-30 04:32] peller commented on #2708
created https://github.com/dojo/dojox/compare/devicetheme-moduleid

[2012-08-30 04:35] doronrosenberg opened #3177 "Dialog - switch dialog creates from using a lot of arguments to passing in an json config object"
So instead of createDialog(a,b,c,d,e,f...) it should be createDialog({a:a, b:b, ...})

[2012-08-30 04:38] peller commented on #62
-> M8

[2012-08-30 04:40] peller commented on #1236
Need to talk about this more with @jhpedemonte

-> M8

[2012-08-30 04:44] #3176 closed, assigned to doronrosenberg

[2012-08-30 05:36] peller commented on #2268
In dojo/parser::parse, an error is eventually thrown from an otherwise() clause because, in this case, _instantiate of a widget had failed with a bad dojoType:

[code]

however, that error doesn't seem to work its way up the stack.  Instead, the next line of code in parse() continues execution.  The calling code in maqetta, `_processWidgets`, has no idea anything went wrong.  If the error managed

[2012-08-30 05:36] peller commented on #2268
-> M8

[2012-08-30 05:58] aerwin commented on #3172
Closing with above commit.

[2012-08-30 05:58] #3172 closed, assigned to aerwin

[2012-08-30 06:04] aerwin commented on #3166
Trying locally with Orion from Eclipse, I see the following in the browser console:

[code]

[2012-08-30 06:18] aerwin commented on #3166
Closing with above commit.

[2012-08-30 06:18] #3166 closed, assigned to aerwin

[2012-08-30 09:59] rbackhouse commented on #3171
Using IUser.getResource(projectname+"./project") as an indicator works

[2012-08-30 11:47] jhpedemonte commented on #3175
-> @peller

Unless there's a super-simple fix for this, we will push to M8.

[2012-08-30 11:48] jhpedemonte commented on #2184
-> M8, raising to Prio High so we can investigate early and determine if we need to open bug with Dojo.

[2012-08-30 11:49] jhpedemonte commented on #2279
A change to fix this would be too risky for M7, may cause other issues.  -> M8.

[2012-08-30 11:51] jhpedemonte commented on #334
Is this still open to handle remaining cases?  If so, push to M8.

[2012-08-30 11:55] jhpedemonte commented on #2185
-> M8.  Prio High to investigate early.

[2012-08-30 11:56] jhpedemonte commented on #2456
-> M8

[2012-08-30 11:57] jhpedemonte commented on #2458
@billreed63, push to M8?

[2012-08-30 11:57] jhpedemonte commented on #2458
cc @JonFerraiolo

[2012-08-30 11:57] jhpedemonte commented on #2459
@billreed63, push to M8?

@JonFerraiolo

[2012-08-30 11:58] jhpedemonte commented on #3112
-> M8

[2012-08-30 12:04] jhpedemonte commented on #351
@aerwin, what's the bug you opened to handle this issue, where we discuss adding fields for a user's name?  Need to dupe this to that one.

[2012-08-30 12:04] jhpedemonte commented on #1351
-> M8, Prio High to investigate early.

[2012-08-30 12:06] jhpedemonte commented on #1874
I think this has been mostly fixed.

[2012-08-30 12:06] #1874 closed, assigned to childsb

[2012-08-30 12:07] jhpedemonte commented on #1906
"maqetta" lib is now hidden.  Closing.

[2012-08-30 12:07] #1906 closed, assigned to childsb

[2012-08-30 12:08] jhpedemonte commented on #2005
-> M8, Prio High to investigate.

[2012-08-30 12:09] jhpedemonte commented on #2072
-> M8

[2012-08-30 12:11] jhpedemonte commented on #265
Raising to Prio High so we can investigate now for M7.

[2012-08-30 12:11] jhpedemonte commented on #1386
-> M8

[2012-08-30 12:12] jhpedemonte commented on #2113
-> M8

[2012-08-30 12:12] jhpedemonte commented on #2177
-> M8,High

[2012-08-30 12:14] jhpedemonte commented on #2198
-> @jhpedemonte.  I may be able to handle this with nginx.

[2012-08-30 12:27] jhpedemonte opened #3178 "Download dialog polish"
The Download workspace dialog (from the Files view) could use some polish:
1. Add links to select all/none of the libraries, enabling/disabling all of the checkboxes.  Just something like:  `Select:  _all_ / _none_`.  Placed right under the list of libraries.
2. Move the 2 options (Dojo Web Builder and Full Source) below the list of libraries (and below the select all/none).  Put the checkboxes fi

[2012-08-30 12:27] jhpedemonte commented on #2419
Dupe to #3178.

[2012-08-30 12:27] #2419 closed, assigned to childsb

[2012-08-30 12:53] jhpedemonte commented on #2598
-> M8

[2012-08-30 12:53] jhpedemonte commented on #2609
@childsb, care to provide some input?

[2012-08-30 12:54] jhpedemonte commented on #2610
@childsb, what's that status for this bug for M7?

[2012-08-30 12:56] jhpedemonte commented on #2896
-> Prio High, I just got bit by this.

This email should:
1. use the current server's hostname instead of "website.org", by default.
2. be configurable, in order to override (1).

[2012-08-30 12:56] jhpedemonte commented on #2912
Closing, since we won't support non-Orion builds.

[2012-08-30 12:56] #2912 closed, assigned to childsb

[2012-08-30 13:01] jhpedemonte commented on #759
Couldn't reproduce.  Closing.

[2012-08-30 13:01] #759 closed, assigned to jhpedemonte

[2012-08-30 13:02] jhpedemonte commented on #2254
@childsb, do we currently add a version string to _lib.settings_ or any other file within the project?   The version string should reflect the last version of Maqetta to open that project.

[2012-08-30 13:03] jhpedemonte commented on #2938
Actually, moving back to M7.  This should be easy enough to do and low risk.

[2012-08-30 13:05] peller commented on #334
nah, just thought there were migration issues, but @JonFerraiolo decided  to implement the migration code at runtime, so I think we're all set

[2012-08-30 13:05] #334 closed, assigned to peller

[2012-08-30 13:06] jhpedemonte commented on #776
A user can click again on **Register** in order to resend an activation email.  Of course, if the first activation email went to a spam folder, chances are the second one will as well.  But that should cover this bug -- agreed, @JonFerraiolo?

[2012-08-30 13:07] jhpedemonte commented on #1990
@JonFerraiolo, I'm going to send this one back to you, since you are spearheading the documentation effort.

[2012-08-30 13:11] jhpedemonte commented on #2245
We are working better now, especially with the 2nd bullet point (we put all `require` statements in one).

Should we close this?  We've run across other RSODs, but those are handled in other issues.

[2012-08-30 13:17] jhpedemonte commented on #2280
Couldn't reproduce with latest code.  Closing.

[2012-08-30 13:17] #2280 closed, assigned to jhpedemonte

[2012-08-30 13:20] jhpedemonte opened #3179 "Update to new toolbar in CSS/JS editors"
The CSS and JS editors still show the old **save** and **save as** icons.  Need to update to use the new **save** icon with dropdown, as in HTML editor.

[2012-08-30 13:26] jhpedemonte opened #3180 "CSS/JS editors move Files/Reviews tabs to top of left pane"
When I created a CSS editor, I was confused that I didn't see the Files/Reviews tabs at the lower left.  Turns out they moved to the top left.  Also happens for JS editors.

This is jarring to the user, who expects those to be in the lower left.  The Files/Reviews tabs **should always stay at the lower left**, even if we don't have a Palette and Outline.

This behaviour also leads to a bug:
1. Ope

[2012-08-30 13:27] jhpedemonte commented on #2440
-> M8

[2012-08-30 13:28] jhpedemonte commented on #3149
@billreed63, given @doronrosenberg's last comment, can you please retest?

-> @billreed63 for testing

[2012-08-30 13:29] jhpedemonte commented on #406
-> @billreed63, can you please retest this?

[2012-08-30 13:30] jhpedemonte commented on #2359
@JonFerraiolo, have you run into these issues with latest code?

[2012-08-30 13:30] jhpedemonte commented on #1999
This is no longer relevant, as we are using Orion to handle authentication.

[2012-08-30 13:30] #1999 closed, assigned to JonFerraiolo

[2012-08-30 13:31] jhpedemonte commented on #2000
No longer relevant, as we are using Orion to handle authentication.

[2012-08-30 13:31] #2000 closed, assigned to JonFerraiolo

[2012-08-30 13:32] jhpedemonte commented on #2735
Still an issue.  Would be nice to fix for M7, low risk.

Actually, adding an `<audio>` element crashed my FF/Mac!

[2012-08-30 13:33] JonFerraiolo commented on #2245
I tried to load the above source code using M7 and got a simple red screen in design view. Not even a supporting message. The debugger console shows messages about not being able to load `States.js` (vs `AppStates.js`).

What I suggest is transforming this into a lower-priority M8 issue about better error messages when loading a file that we can't deal with.

[2012-08-30 13:34] jhpedemonte commented on #2022
@aerwin, push to M8?

[2012-08-30 13:34] jhpedemonte commented on #3159
-> M8

[2012-08-30 13:38] JonFerraiolo commented on #776
-> me (to think about it).

It's not intuitive that you would click on **Register** to resend the activation email. On other sites, I've seen UI that says "send activation email" or something like that.

[2012-08-30 13:40] jhpedemonte commented on #2245
Well, that's taking text that Maqetta wouldn't currently generate, so I don't think that's a valid test.

[2012-08-30 13:43] jhpedemonte commented on #1236
-> Prio High so we can investigate early in M8.

[2012-08-30 13:44] jhpedemonte commented on #3177
Could you provide some more info?  Where is this `createDialog`?

[2012-08-30 13:45] JonFerraiolo commented on #2459
@billreed63 - isn't this fixed? I remember we fixed a bug with the geometry for the transparent overlays (DIV.enableWidgetFocusFrame) recently.

[2012-08-30 13:46] JonFerraiolo commented on #2456
Why can't we fix this for M7? It seems relatively easy and safe?

[2012-08-30 13:53] jhpedemonte commented on #2456
We can bring this back to M7.  Just seemed like an isolated problem to me, so pushed to M8.

-> M7

[2012-08-30 13:58] billreed63 opened #3181 "Theme Editor missing undo/redo buttons and the save buttons do not match the page editor"

[2012-08-30 14:06] billreed63 opened #3182 "Can not set background color in theme editor"

[2012-08-30 14:06] #3179 closed, assigned to JonFerraiolo

[2012-08-30 14:20] jhpedemonte commented on #3182
Need more info:  which widget, which theme?

[2012-08-30 14:22] billreed63 commented on #3182
All themes, broken by commit 325e12a6b10c40fd7d1cf0328b0063905564d170

[2012-08-30 14:41] childsb commented on #2609
Changes from the orion integration may have fixed this. To facilitate opening a folder in maqetta from Orion, i have the server create .settings/libs.settings if its not there.

[2012-08-30 14:46] childsb commented on #3171
.project is a pretty good indicator of an eclipse project, but we will have problems if our path calculation is based on if its an eclipse project.  having an eclipse project or not doesn't guarantee anything on the path.

for instance, i could have a regular project with folder1, and map dojo to /folder1/dojo or folder1/webcontent/lib/dojo

same goes for eclipse projects.  they may or may not hav

[2012-08-30 14:51] JonFerraiolo commented on #2359
Closing - I ran Win/FF for the last 2 testing cycles running off of a slow server, and did not see the above messages.

[2012-08-30 14:51] #2359 closed, assigned to JonFerraiolo

[2012-08-30 14:55] jhpedemonte commented on #2609
Closing based on previous comment.

[2012-08-30 14:55] #2609 closed, assigned to childsb

[2012-08-30 14:56] jhpedemonte commented on #3182
@doronrosenberg, your fix may have broken this.

[2012-08-30 14:57] billreed63 commented on #3182
fixed by commit b5d54705484038f63d62ffd4a6964d95123de5dc

[2012-08-30 14:57] #3182 closed, assigned to billreed63

[2012-08-30 14:58] pchuong opened #3183 "Can't create widget that includes additional javascript file"
I have a custom widget that includes additional javascript files in the oam file.

ie
        {
            "type": "javascript",
            "src": "myscript.js",
            "$library": "mylibrary"
        },

this was working in previous M release, and it is broken in the nightly build. I tracked it down to the Context#addJavaScriptSrc has a bug in the push call after xhr.get() returns. Instead

[2012-08-30 14:58] jhpedemonte commented on #3171
@rbackhouse, so one thing to test with Zazl would be to remap Dojo (in **Files** view, click on the 3rd icon [Modify Libraries]) to something like `/lib/a/b/c/dojo` and see if it works.

@childsb, do you have a suggestion for a good solution?

[2012-08-30 15:00] doronrosenberg commented on #3177
davinci/ui/Dialog

[2012-08-30 15:28] doronrosenberg commented on #3182
Crap, thanks for fixing this.  I need to stop coding so late.

[2012-08-30 15:39] jhpedemonte commented on #3180
Reopening.  Wrong bug number in commit.

[2012-08-30 15:41] jhpedemonte commented on #2896
Updated summary with another email which needs to be configurable.

[2012-08-30 15:43] aerwin commented on #3180
@jhpedemonte @JonFerraiolo

Per scrum, we agreed to leave behavior as is for at least another day to give folks a chance to experience it a little more.

In meantime, I can look into the bug @jhpedemonte lists at bottom.

[2012-08-30 15:44] JonFerraiolo commented on #3181
closed by 94ba9211e9531a26312e9ee4e3815c6fa44a13af

[2012-08-30 15:44] #3181 closed, assigned to JonFerraiolo

[2012-08-30 15:45] childsb commented on #3171
I'd read the libs.settings ((or go through the library API)) to determine the path, then do relativity path math based on that.

[2012-08-30 15:46] aerwin commented on #2894
Closing with above commit.

[2012-08-30 15:46] #2894 closed, assigned to aerwin

[2012-08-30 15:48] aerwin commented on #351
Closing. Dup to 3165 ("Need to collect some identifying string from user during sign-up (e.g., first name, user id, etc.)")

[2012-08-30 15:48] #351 closed, assigned to childsb

[2012-08-30 15:52] childsb commented on #2896
We should just take in the "from" email as a launch parameter and forget about determining the hostname.

To determine the host name, we need an incoming servlet request ((which we dont have until a user logs in))

String requestUrl = req.getRequestURL().toString();
String host = requestUrl.substring(0, requestUrl.indexOf('/', "http://".length()));

And theres some spots in the code where getting

[2012-08-30 15:57] jhpedemonte commented on #2896
For registration, there's the server request when the user hits "Register".

For reviews, there's the server request when someone creates a new review or add a comment.

[2012-08-30 15:59] JonFerraiolo opened #3184 "Registration "Email sent" page: user is at dead-end of user interface"
@childsb @jhpedemonte

In the case where a user has the unfortunate problem of having his registration email go to spam, he is left at a dead-end of the user interface, where the UI says "email sent" but there is no further instruction about what to do. Even in the case of email working successfully, there is still an opportunity for the user to be confused.

What I propose is to beef up the messa

[2012-08-30 16:00] billreed63 commented on #3182
No worries, cascade is a bit of a mystery to me.... It is not evident that is used my theme editor also...

[2012-08-30 16:09] aerwin commented on #2433
@peller @doronrosenberg

Putting in break points generally disrupts the timing, so I had put some trace in to help debug when running from the server. And, as far as I can tell `_create` in `DataStoreBasedWidgetInput` is not called in the case where we get just the cross-hair and need to click a 2nd time.  This is slightly different from the conclusion I had drawn before trying to use breakpoints

[2012-08-30 16:22] JonFerraiolo commented on #31
Closing - we resolved this (and anyways there is a dupe bug for this)

[2012-08-30 16:22] #31 closed, assigned to JonFerraiolo

[2012-08-30 16:23] childsb opened #3185 "main menu : new sketch not working"
1) login to maqetta
2) create---> sketch (high or low fidelity yields same result)
3) add dojo controls to the page, or look at the current theme.  notice it's claro and not sketch.

[2012-08-30 16:27] JonFerraiolo opened #3186 "Read-only icons for File palette: file, open folder, closed folder"
@jinsil @jmockler

(lower priority than other icon requests for the M7 release)

I sent private email on this topic, now I'm logging in issue tracker:

What we'd like to have is a variation of the standard dojo file/folder icons with some sort of read-only overlay. This is for the Maqetta Files palette. Note that we will be doing a lot of visual restyling of the Files palette for our next release,

[2012-08-30 16:33] jhpedemonte commented on #3185
@billreed63, related to the Cascade.js issue?

[2012-08-30 16:35] jhpedemonte commented on #3080
Still don't like the "faded" look of the read only files -- they still look disabled.

@JonFerraiolo, what about keeping them black, but using italics instead?  At least they wouldn't look disabled, but there would be a distinction between read-only and other files (in addition to different icons).

[2012-08-30 16:46] billreed63 opened #3187 "Exception when using JSONP in Gridx"
Using Widgets Gridx basic test case.

Data from URL (JSONP)

Steps
Continuing from the test case above, open the HTML File from the Data from workspace test case.
Double click on the GridX Widget in the design view to display the smart input.
SmartInput is displayed. Choose Data from URL (JSONP) from the drop down list on the first panel.
In the text area enter the following URL: http://maqettaser

[2012-08-30 16:50] aerwin commented on #3187
Closing. Dup of #2910.

[2012-08-30 16:50] #3187 closed, assigned to aerwin

[2012-08-30 17:09] JonFerraiolo commented on #2245
But we should include a better message if a user tries to import an HTML file that Maqetta can't parse properly.

[2012-08-30 17:10] billreed63 opened #3188 "Warning message in FF console when maqettta loads"
I see lots of these messages in the console on FF/Win7

Element referenced by ID/NAME in the global scope. Use W3C standard document.getElementById() instead.

var _19ea=mainBody.tabs.perspective[_19e8];

[2012-08-30 17:11] jhpedemonte commented on #2245
OK.  How do we handle that?  And do we want to do that for M7?  Probably best to push to M8 in that case.

[2012-08-30 17:14] JonFerraiolo commented on #2245
That's what I said in my comments, push to M8 as a low-priority issue. I'll do that now.

[2012-08-30 17:20] JonFerraiolo commented on #3080
I think italics would be fine. Note that we haven't gotten a response about special read-only versions of the file/openfolder/closedfolder icons. If we don't get icons in time, we might need to restore the default Dojo icons and/or fuss with the icons ourselves just for this release.

See #3186

[2012-08-30 17:29] billreed63 opened #3189 "EdgeToEdgeDataList JSONP data does not display in preview with zazl on"
FF/Win 7 maqetta-test

Mobile page

[code]

[2012-08-30 18:07] #3001 closed, assigned to JonFerraiolo

[2012-08-30 18:10] JonFerraiolo commented on #3188
FWIW - This is old, old code.

[2012-08-30 18:35] JonFerraiolo opened #3190 "Forgot password UI flashes then disappears"
@childsb @jhpedemonte

Where is the UI for people who forget their password? Our login screen looks like this:

![current Maqetta login screen](http://i.imgur.com/Im599.png)

Note that for a brief moment the words "forgot password" appear on the screen, but then they go away

Note that it is common for sites to include a forgot password link right there next to the login/password fields:

![login

[2012-08-30 18:39] jhpedemonte commented on #3189
cc @rbackhouse

[2012-08-30 18:40] jhpedemonte commented on #3190
@childsb, didn't you hide/remove some elements from that screen?

[2012-08-30 18:42] JonFerraiolo commented on #3190
-> @jhpedemonte

I'm testing on `maqetta-app-test`

I looked at the code in LoginWindow.js (which is duplicated in 2-3 different projects) and here is the code that makes the "forgot password" UI disappear:

[code]

I figure you and @childsb would know more about this than me.

[2012-08-30 18:54] JonFerraiolo opened #3191 "Split off code out of Context.js into separate files"
@peller @JonFerraiolo @aerwin @billreed63 @jhpedemonte

There is too much code in Context.js. Some blocks of code could easily be moved into separate JS files. The good news is that in many cases related functions are bunched together in that file.

[2012-08-30 18:55] peller commented on #3189
wondering if requiring "dojox/io/xhrScriptPlugin" twice is a problem.  If so, an (ugly) alternative would be to call dojo/ready and use the immediate require form.

[2012-08-30 18:58] peller commented on #3191
We should start with code that has no relevance to Context.js instances.  Some code was put there simply because it was a convenient mutual dependency.  Most recently: https://github.com/maqetta/maqetta/commit/cb201a331ca0aded4445315c816fb174cee505db#maqetta.core.client/WebContent/davinci/ve/Context.js

[2012-08-30 19:02] rbackhouse commented on #3189
I see this in the console

Failed to load resource: the server responded with a status of 500 (Internal Server Error)
XMLHttpRequest cannot load http://maqettaservice.appspot.com/sampledatalistservice. Origin http://maqetta-app-test.austin.ibm.com is not allowed by Access-Control-Allow-Origin.

[2012-08-30 19:09] peller commented on #2708
creating a branch in the public dojo repository may be a problem.  I might have to move to a fork.

[2012-08-30 19:17] JonFerraiolo commented on #3080
IMO, the remaining part of this issue is that we have generic file icons for read-only files (i.e., all read-only files get the generic "File" icon) but for read-write files, we have different icons for different file types (HTML vs JS vs CSS vs etc).

@doronrosenberg - could you see how much effort it would take to have read-only versions for the various file-type-specific icons that we show in t

[2012-08-30 19:29] #3183 closed, assigned to peller

[2012-08-30 19:31] doronrosenberg commented on #3080
@JonFerraiolo I could fire up Photoshop and create some icons

[2012-08-30 19:49] JonFerraiolo commented on #3080
Go for it. The read-only overlay icon is in davinci/img/sprite.png, roughly at location (36,1174).

[2012-08-30 19:50] JonFerraiolo commented on #3186
Closing. Icons have been checked in. Only remaining task is captured in #3080.

[2012-08-30 19:50] #3186 closed, assigned to JonFerraiolo

[2012-08-30 19:57] JonFerraiolo commented on #3188
-> @billreed63

I think the fix is to simply do a `dojo.byId()` in front of each case where there is a FF message. For example, in Workbench.js:hideView(), put this line:

[code]

just above this line:

[code]

I see "naked" references to mainBody in `hideView()` and `_rearrangePalettes`. I'm not sure if there are other offending variables that Win/FF doesn't like (i.e., other than `mainBody`).

[2012-08-30 19:59] JonFerraiolo commented on #3188
But one thing I'll say: it's not very good to add a property such as `tabs` to a Element object. Should at least make it `_tabs` and probably `_maqTabs`. But that's for the future...

[2012-08-30 20:01] billreed63 commented on #3189
This is odd, the same code works code for gridx works

[code]

[2012-08-30 20:16] billreed63 commented on #3167
I could never reproduce the error although I did notice that the `,'themeMap':null,'mblThemeFiles':null,'mblLoadCompatPattern':null"`` is wrong and that is the bug that I fixed with the above commit.

[2012-08-30 20:34] JonFerraiolo opened #3192 "UI tweaks to login/register/reset pages"
@jhpedemonte

I can't run the "hosted" run configuration on my Eclipse setup, so sending it to @childsb

There are a few UI tweaks needed to login/register/reset pages:
- In LoginWindow.html, need to change text from `Reset Orion account` to `Reset Maqetta password`
  - maqetta.server.orion.hosted/WebContent/login/LoginWindow.html:134
  - maqetta.server.orion.standard/WebContent/login/LoginWindow.

[2012-08-30 20:35] JonFerraiolo commented on #3184
Merged this one into #3192. Closing this one.

[2012-08-30 20:35] #3184 closed, assigned to JonFerraiolo

[2012-08-30 20:47] jhpedemonte opened #3193 "Zazl error with GridX"
Tested on maqetta-test.  I dropped GridX on a page, taking defaults, then did a Preview.  It showed up fine, but I did see these errors in the server log:

[code]

_(Thought we already had a bug for this, but can't find it.)_

@peller

[2012-08-30 20:47] JonFerraiolo commented on #3174
Closing. Couldn't reproduce yesterday or today. I suspect that my version of Maqetta got into a bad state due to a bug in some other area.

[2012-08-30 20:47] #3174 closed, assigned to JonFerraiolo

[2012-08-30 20:53] #3144 closed, assigned to childsb

[2012-08-30 20:59] JonFerraiolo opened #3194 "CSS tweaks to login pages"
There are some minor CSS tweaks needed for login/registration/etc pages. I'm waiting for final specs before making changes. Shouldn't take very long.

@childsb @jhpedemonte

[2012-08-30 21:01] JonFerraiolo opened #3195 "No migrate.html for non-hosted builds?"
@jhpedemonte

I see there is a migrate.html in maqetta.server.orion.hosted but not in maqetta.server.orion.standard. Is this by design?

[2012-08-30 21:03] billreed63 commented on #3167
I was able to reproduce with tony's html.. now to figure out why....

[2012-08-30 21:08] rbackhouse commented on #3193
The Zazl Resource Loader takes all the configured Libraries that have a non null value for their source attribute and attempts to load the required resources from them. The messages occur because the gridx resouces are first looked for in the dojo library are not found.

[2012-08-30 21:09] rbackhouse commented on #3189
I still see those same cross-origin errors though with that gridx sample

[2012-08-30 21:12] billreed63 commented on #3167
So this seems to be a combinations of changing the theme with a html that has view... What is interesting is that if I change the theme and then add a view I get the same flicker of the page being refreshed....

[2012-08-30 21:13] JonFerraiolo commented on #3136
Besides waiting on login screen specs, I'll need to talk with @childsb and @jhpedemonte about migrate.html and migrate.js so I am sure I understand what's going on and what exactly is needed from me before making UI changes.

[2012-08-30 21:13] childsb commented on #3195
Yes by design.  But I suspect you want it in the standard version as well!

There is some workflow around migration.  My assumption is that any large users would write their own migrate workflow, and use the code in the hosted plugin as example.

Maybe "workspace migration" should be a first-class feature in our next releases?

[2012-08-30 21:35] #3080 closed, assigned to doronrosenberg

[2012-08-30 21:40] doronrosenberg commented on #3080
Just committed the icons, I think I got all of them.  The only issue really is for style sheets - that icon is different dimensions so I placed the lock icon relative to the "document" part rather than the big S.

[2012-08-30 21:55] aerwin commented on #3155
Just went out to see if this was still an issue on the server, but can't create a review (#3143). I don't think much can happen on this one until #3143 is resolved.

[2012-08-30 21:58] aerwin commented on #2022
@jhpedemonte @JonFerraiolo

--> M8

Yes, I think this can go to M8.

[2012-08-30 22:02] JonFerraiolo opened #3196 "We lost README.html, LICENSE and build.level from downloadable ZIP"
@childsb  @peller

With the switch to the ORION server, we lost the README.html, LICENSE and build.level files that used to be included in ZIP downloads. Instead of our LICENSE file, there is a notice.html file which includes boilerplate legalese from Eclipse Foundation.

@childsb - Regarding README.html and LICENSE, is that solved by simply putting appropriate copies of those files into folder `r

[2012-08-30 22:14] JonFerraiolo opened #3197 "Where is users/ folder for local install?"
@jhpedemonte @peller

The launch scripts found in the downloadable ZIP files echo a message that says:

[code]

but I'm pretty sure that's not actually happening, and instead user workspaces are going into `<HOMEDIR>/maqetta-workspace`

Whatever, the message should be accurate with what's actually happening.

(I think it's best to put the users/ folder within the installation area. That way users

[2012-08-30 22:22] jhpedemonte commented on #2896
@childs, there's a few issues with this patch:
1. You use the string "http://" all over the place, but it can also be "https://".  Can't you pull the **protocol** from the `req` object?
2. You specify the user as "admin".  Would be good to make this configurable.
3. Looks like there was a way to configure the sending address (`getCommonNotificationId`).  Why did you remove this?  I think my previo

[2012-08-30 22:37] JonFerraiolo commented on #3100
Might be fixed by 8881f802ba1fdfe08fe4125d461a5ea3f6b0ade0, but I'm waiting for an answer to #3197

Also, need to copy the README.html file into the appropriate Orion build project.

[2012-08-30 22:41] JonFerraiolo commented on #3080
IMO, perfect work on the icons.

[2012-08-30 23:05] jhpedemonte opened #3198 "Failed to load images for TabBar in nested file"
1. Created an eclipse project.
2. Created a folder named "ümlaut" in the **WebContent** folder.
3. Created a Mobile App in ümlaut folder, iPhone.
4. Dropped a few mobile widgets, including a **TabBar**.  The images in the TabBar failed to load and I got the following errors in the console:

[code]

Looks like Maqetta is trying to load the images from a "samples" folder within "ümlaut".  But the "s

[2012-08-30 23:13] jhpedemonte commented on #2769
Reopening.  Need to make the "Download full source" checkbox enabled by default for Eclipse projects.

[2012-08-30 23:14] aerwin commented on #2433
@JonFerraiolo @jhpedemonte

--> M8

My latest theory (based on my last update about not getting into the `_create` function of `DataStoreBasedCreateTool`) is when the cache is empty that the `CreateTool` is getting into the state consistent with the click-drop approach (e.g., click on widget in palette and then separately click on canvas). But, I don't know a lot about that code logic, so probably

[2012-08-30 23:17] jhpedemonte opened #3199 "Error when downloading Eclipse project"
Running **Tests > Eclipse Project > Create and Download Eclipse Project** on maqetta-test.

Clicked to download workspace, keeping defaults.  Clicked download and broke in debugger.  Workspace did not download.

Stack:
- Theme.isThemeHTML
- obj.rewriteUrls
- obj.rewriteUrls
- obj.okButton

Broke on the line `return _1b00.getName().indexOf("dojo-theme-editor.html") > -1;`, where `_1b00` was null.

[2012-08-30 23:33] JonFerraiolo commented on #2433
Interesting theory! If it is possible to recreate at will, then I would debug by putting `console.log()` and `console.trace()` messages in CreateTool.js around code that changes the value of `this._mdPosition`. CreateTool.js assumes it's a click-twice approach if `this._mdPosition` has a value whenever it receives a mousemove event. `this._mdPosition` is cleared in `deactivate()`.

I wouldn't be s

[2012-08-30 23:37] aerwin commented on #3143
@childsb

Potential clue on this one...

A new maqetta-orion multi user.launch came down with a git pull today and it appears to happen locally now as well...

[2012-08-30 23:43] JonFerraiolo opened #3200 "M7 release notes"
I created a skeleton file, but need to write all of the content. Note: there is a lot to talk about with this release!

[2012-08-31 00:17] jhpedemonte commented on #3195
If you want to add **migrate.html** to the non-hosted version, we can do that in M8.

[2012-08-31 00:19] jhpedemonte commented on #3193
So when trying to load the GridX sources, it'll first go through (for example) Dojo, HTML, Shapes, etc libraries, appending the required resource to the base path of each lib, until it finds one that works?

[2012-08-31 00:27] aerwin commented on #3143
@childsb @jhpedemonte

So, the baseDirectory changed to ${env_var:MAQETTA_WORKSPACE} from a hard coded path in the launch script. I noticed there was an old .review directory in the directory my MAQETTA_WORKSPACE pointed at. I cleaned out my orion workspace and my old .review directory and restarted the server from scratch. Things are working fine again.

Do we have an old .review directory out on

[2012-08-31 00:39] rbackhouse commented on #3193
Only the Libraries that have their source attributes set are searched. At the moment that is dojo and gridx. The IUser.getResource() API is used for the others.

[2012-08-31 00:50] jhpedemonte commented on #3178
Reopening.

I think this regressed the hiding of libraries.  Now, I see DojoThemes, maqettaSamples, and maqetta libraries, all of which were hidden by @childsb's fix to #2769.

[2012-08-31 00:52] jhpedemonte commented on #3143
Where should I look for that?

[2012-08-31 01:53] aerwin commented on #3143
I'd have to defer to @childsb .

[2012-08-31 02:43] peller commented on #3189
The problem appears to be that the second require (["dojox/io/xhrScriptPlugin"]) never gets its callback executed, leading to the xhr rather than script tag data fetch.  @rbackhouse, could there be some confusion with multiple asynchronous requests for the same module?

[2012-08-31 02:56] peller commented on #3196
I think build.level may have been used back in our appcache fishing expedition.  Don't think it's needed anymore.

[2012-08-31 03:03] peller commented on #3196
gridx and zazl use the standard dojo dual license, correct.  Gridx has a LICENSE file at its web root.  @rbackhouse  Zazl doesn't seem to include a copy of the LICENSE file in optimizer-release.

[2012-08-31 03:06] peller commented on #3178
I was also going to suggest changing the wording for "download full source"  Perhaps download unoptimized sources or download unoptimized sources, where available?

[2012-08-31 03:23] peller commented on #2433
While it could be drag/drop logic, I'd suspect the logic that tries to asynchronously load the metadata helpers during the drag (something which wouldn't be an issue with a warm cache, and perhaps less of an issue if you took longer to create by clicking instead of dragging)

I'm scratching my head over the logic (I probably wrote) at the end of _requireHelpers:

[code]

I don't understand the !do

[2012-08-31 03:46] aerwin commented on #3152
Closing with above commit.

[2012-08-31 03:46] #3152 closed, assigned to aerwin

[2012-08-31 03:56] aerwin commented on #3180
Above commit fixes the 2nd part of this defect.

[2012-08-31 04:33] peller opened #3201 "Button width change on instance impacts calendar width"
Create new HTML page
Add a button
set the class of the button to 'myclass'
set the width in the layout properties panel to 300px
drag a calendar on to the page
the calendar has a non-standard width, apparently the button in the calendar is 300px, even though the class 'myclass' is not involved.  The rule established in app.css looks like this:

[code]

Also, I noticed the following error on the co

[2012-08-31 04:42] aerwin commented on #2735
I was able to reproduce this from my local FF going to the internal test server, but not from FF to local server. At any rate, I think the above commit will fix the issue. But, waiting until I get to test against the server before closing once and for all.

[2012-08-31 10:18] rbackhouse commented on #3189
If I set a breakpoint on xhrScriptPlugin("http://maqettaservice.appspot.com/sampleservice","callback"); I see it get executed so the callback is getting called.

[2012-08-31 11:48] jhpedemonte commented on #2606
-> M8

[2012-08-31 11:51] jhpedemonte commented on #2606
Actually, I decided to do this quickly.  I saw a few commented out lines in our code.  The rest were in Dojo.  Closing.

[2012-08-31 11:51] #2606 closed, assigned to jhpedemonte

[2012-08-31 12:02] jhpedemonte commented on #2778
According to the [docs](http://dojotoolkit.org/reference-guide/1.8/dijit/Toolbar.html):

The examples show use of Button, ToggleButton, DropDownButton, and ComboButton.  Docs also mention ToolbarSeparator, which is not Button-based.

[2012-08-31 12:09] jhpedemonte commented on #2778
I added more types to `allowedChild` for Toolbar, according to the docs.  However, I'm going  to keep this open -- I think the right fix is probably #2622.

-> M8

[2012-08-31 12:10] jhpedemonte commented on #3025
@aerwin, can you please retest with latest builds?

[2012-08-31 12:13] jhpedemonte commented on #3185
Closing.  This is working for me with latest builds.

@childsb, **Sketch (high fidelity)** uses Claro, while **Sketch (low fidelity)** uses the sketch theme.

[2012-08-31 12:13] #3185 closed, assigned to jhpedemonte

[2012-08-31 12:13] jhpedemonte commented on #3190
-> @childsb, I don't know this code.

[2012-08-31 12:14] jhpedemonte commented on #3196
-> @childsb, since he knows the build better than I.

[2012-08-31 12:29] rbackhouse commented on #3189
If the expectation is that the parse of the page happens after the call to xhrScriptPlugin then this is where the problem lies.

[2012-08-31 14:06] billreed63 commented on #3201
The issues is the myapp should only be applied to the one rule. the dijitDropDownButton also gets the rule..

[2012-08-31 14:54] peller opened #3202 "JSON parse error on bad password"
At the main login screen, enter a bad password.  A parse error occurs and is printed on the console.  Nothing appears on the screen to indicate that the password was incorrect.

[code]

I'm pretty sure I filed an issue on this, but can't find it.

See also #1950

[2012-08-31 14:55] childsb commented on #2610
Pushing off to M8-- @peller remind me what the performance loss is here?  Do we just need to move things to an async/deferred model?

[2012-08-31 15:08] jhpedemonte commented on #3111
-> @doronrosenberg, waiting for answer.

[2012-08-31 15:09] doronrosenberg commented on #3178
@childsb @jhpedemonte Hmm, looking at the json libs array there is nothing that says if it should be skipped or not.  Don't think this casued it.

[2012-08-31 15:20] aerwin commented on #3173
@JonFerraiolo

Closing with above commit... Two parts to this fix:
- Switched to using &nbsp; instead of &#8288; for empty table cells
- Default table-layout to "fixed" instead of "auto"

[2012-08-31 15:20] #3173 closed, assigned to aerwin

[2012-08-31 15:21] peller opened #3203 "Add to Maqetta and Open option missing in Orion Navigator"
Might be good if top-level folders got all the Maqetta stuff automatically when created, since a user might launch Maqetta and try to switch to those projects whether or not an action is selected from a menu.  Perhaps we'd just have an "Open in Maqetta" action instead?

[2012-08-31 15:32] doronrosenberg commented on #3111
The issue here is that the changes in file, save before applying new theme dialog is not doing readonly checks.

[2012-08-31 15:34] childsb commented on #2896
closing from commit.

[2012-08-31 15:42] aerwin commented on #3180
We discussed this at today's scrum, and decided to leave the current behavior (moving the Files/Review palette to top for certain editors) in place for M7.

We can certainly re-evaluate in the future if folks complain about the behavior, but for now I don't think there are any open defects/issues. So, closing.

[2012-08-31 15:42] #3180 closed, assigned to aerwin

[2012-08-31 15:53] JonFerraiolo commented on #3196
-> @peller

Here is my list of things to do:
1. Make sure our LICENSE file (from davinci.product) is in the new Orion build folder (`releng/davinci.releng/orion/scripts/builder`)
2. Tweak LICENSE to say that licensing information for some technologies used in Maqetta can be found in the `licenses/` folder
3. Move `notices.html` into `licenses/Eclipse-Orion-notices.html`
4. Research ZAZL dependenci

[2012-08-31 16:01] billreed63 opened #3204 "Document.css not removed from mobilePages"
I think this is a regression introduced with the async..

Context.widgetAddedOrDeleted seems to be invoked before the model is constructed

[2012-08-31 16:04] billreed63 opened #3205 "Mobile themes not being modled"
When you look at the cascade in the properties palette the theme CSS files are missing for mobile. Then could be due to them not being loaded at start

[2012-08-31 16:06] aerwin commented on #2577
-> Update title from "Need to insert zero-width non-breaking space (&#8288;) into existing user table cells" to "Update release notes to discuss non-breaking white space and HTML tables"
-> Change tag to Docs

Per discussion at scrum, we decided just to update the release notes rather than try and do migration here.

[2012-08-31 16:07] JonFerraiolo commented on #3178
@peller

How about these two changes:
1. Replace `Download Full Source` with `Download full uncompressed source for selected libraries`. I guess I'm thinking along the same lines as Adam, where the release downloads are named something like `dojo-release-1.8.0` and the source downloads are named something like `dojo-release-1.8.0-src`. On the Dojo download page, these words are used: "A full, unco

[2012-08-31 16:07] JonFerraiolo commented on #3178
@peller: does it still make sense to include the "experimental web builder" checkbox?

[2012-08-31 16:14] peller commented on #3178
The word "full" doesn't do anything for me.  In the Dojo download, perhaps it's referring to the fact that the entire toolkit is included... we do this whether or not this checkbox is checked, and the box applies to any library with a source property, not just Dojo.  Is "uncompressed" sufficent?

The experimental web builder is orthogonal to this (and not fully working)  I suggest leaving it there

[2012-08-31 16:15] jhpedemonte commented on #3178
I take it back: the libs are properly hidden in today's builds.  The [other issues](https://github.com/maqetta/maqetta/issues/3178#issuecomment-8196868) still stand.

[2012-08-31 16:35] doronrosenberg commented on #3111
@JonFerraiolo @jhpedemonte

So this is an interesting issue.  The initial problem was that Samples1.html was being marked as dirty when opened, which I found a fix for.

This lead me down a path to another issue - modifying the theme of a readonly file that is dirty is broken.

For a read only file, the dialog that pops up asking if you want to save/cancel after clicking switch theme won't work fo

[2012-08-31 16:43] JonFerraiolo opened #3206 "Code cleanup - library UI should all be inside libraries (versus some in core)"
@jhpedemonte @billreed63 @peller @aerwin

As we discussed in team call today, we currently have some user interface logic for library-specific UI extensions that are partly within the library (e.g., davinci.dojo_1_8 or davinci.html) and partly within the core (maqetta.core.client). We should clean this up and make the library UI extensions self-contained.

Here are some cleanup items that I can re

[2012-08-31 16:45] peller commented on #2610
perf issue, simply, is many new http requests which could be one (all part of the bootstrapping process, blocking loading of the app, whether async or not)  Moving to async would be a plus, but I think we decided it could still be achieved with a single call.  Creating the directory structure from the client isn't good.

[2012-08-31 16:46] JonFerraiolo opened #3207 "Move sticky note icon to left-side of toolbar?"
@jmockler @jinsil @peller @jhpedemonte @doronrosenberg @childsb @billreed63

@aerwin and @JonFerraiolo agreed today that we get confused between the Sticky Note icon and the Document Settings icon and sometimes click on Sticky Note to change themes (or whatever), which produces an unwanted sticky note in the document.

I'm thinking serious about moving a couple of lines of code in ve.plugin.js to

[2012-08-31 16:50] JonFerraiolo commented on #3178
Then how about `Download uncompressed source for selected libraries` (i.e., remove the word "full")?

[2012-08-31 16:51] billreed63 commented on #3149
seems to be fixed

[2012-08-31 16:51] #3149 closed, assigned to billreed63

[2012-08-31 16:51] childsb commented on #3203
I had upgraded my workspace to latest Orion code.  They've changed their service provider registration to:

[code]

where i was using

[code]

[2012-08-31 16:51] #3203 closed, assigned to childsb

[2012-08-31 17:01] peller commented on #3171
@rbackhouse fixed the Eclipse project issue.  Will open a new issue for modified libs, where the zazl filter does not inject zazl, but the preview still works.

[2012-08-31 17:01] #3171 closed, assigned to peller

[2012-08-31 17:02] peller opened #3208 "Zazl does not filter bootstrap code with modified libs"
@childsb

see #3171

[2012-08-31 17:04] rbackhouse commented on #3208
Here are some more details on the issue :

When a project has its lib setting modified. the Zazl code pulls from the Library objects configured from the plugins. The per project lib changes are not reflected in the Libary object and must be available somewhere else. I haven't figured where that is yet. the result is that if the lib settings are changed for dojo the filter does not locate the dojo.

[2012-08-31 17:05] peller commented on #3178
+1

[2012-08-31 17:10] JonFerraiolo commented on #3111
@peller @billreed63 @childsb

Yes indeed. I suggest pushing this to M8, and then address this issue as part of a more general attack on dealing with read-only files.

@childsb has looked at this issue in the past.

I suspect that implementing suitable protection against performing operations on read-only files (and supplemental resources such as CSS files) will represent a multi-day programming ef

[2012-08-31 17:24] peller opened #3209 "Orion navigator automatically add maqetta files to new top-level folders"
Rather than adding maqetta behavior to a new folder when it is opened from the navigator using a special action, it would be preferable to have the dot files, etc., added to the folder upon creation.  Otherwise, a user could go directly to maqetta and see new projects which do not function.

see #3203

[2012-08-31 17:26] jhpedemonte commented on #3111
-> M8, too risky now.

[2012-08-31 17:30] jhpedemonte commented on #3178
I would also add in "(if available)", since we only have this option for Dojo and GridX.  So:

[2012-08-31 17:33] jhpedemonte commented on #3209
I'm a bit confused.  I thought the point of this functionality was that a user could create a folder ("project") in Orion, then select **Open in Maqetta**, which would add the Maqetta-required files (if not already present) before opening up in Maqetta.

So in that scenario, "creation" happens in Orion -- it wouldn't make sense to add Maqetta files then.

[2012-08-31 17:45] #3178 closed, assigned to doronrosenberg

[2012-08-31 18:22] peller commented on #3209
When the user creates a top-level folder, it immediately becomes available as a project in Maqetta, whether you open from the navigator or not.  Trying to switch to that project will presently result in an error if you didn't open it directly from the navigator page using that special option...

So, I'd suggest either somehow having the navigator add the special files, or having maqetta add them w

[2012-08-31 18:29] billreed63 commented on #406
looks like it is fixed

[2012-08-31 18:29] #406 closed, assigned to billreed63

[2012-08-31 18:33] billreed63 commented on #2459
yup it is fixed

[2012-08-31 18:36] billreed63 commented on #2458
-> M8

[2012-08-31 18:40] childsb commented on #2769
closing.  new work is in #3178

[2012-08-31 18:40] #2769 closed, assigned to childsb

[2012-08-31 18:44] JonFerraiolo opened #3210 "Add new table widget with table-layout=auto, and you get a border even though border=0"
On Chrome, @aerwin and @JonFerraiolo disccovered to our chagrin that if you drag/drop a new table, and then use the table SmartInput and simply change table-layout from fixed to auto, you end up with a dark border on the table.

Turns out this is caused by a combination of things going on, including a bug in HTMLWidget.js contributing to the problem. There are also some Chrome idiosyncracies in it

[2012-08-31 18:46] #3210 closed, assigned to JonFerraiolo

[2012-08-31 19:06] doronrosenberg commented on #3198
@jhpedemonte @billreed63

Currently in several mobile widgets we use `icon: "samples/sample_data/images/i-icon-1.png"`.  Bill, have you had to deal with this before?  I can see adding ../ during the create: helper as one solution.

[2012-08-31 19:15] childsb commented on #2583
Updated build doc, closing.

[2012-08-31 19:15] #2583 closed, assigned to childsb

[2012-08-31 19:20] aerwin commented on #3155
I think the above commit should fix the problem, but will wait until deployed to a test server (with working email notifications) to test before officially closing.

[2012-08-31 19:22] jhpedemonte commented on #3209
Ah, I understand now.  Yes, agreed with the quoted proposal.

[2012-08-31 19:24] aerwin opened #3211 "HTML table columns change size on TD data entry on Chrome"
--> @aerwin

@JonFerraiolo

Found in conjunction with @JonFerraiolo at the same time as #3210, in Chrome (despite having table-layout set to "fixed") that table columns are changing size as TD contents are updated via TD smart input. The resizing clears up if you reload the page. This does not happen in FF.

[2012-08-31 19:27] aerwin opened #3212 "Exception clicking OK on HTML table smart input"
@doronrosenberg -- Seems to be deep in maqetta/app/dijit/Dialog.js stuff, but I'm not seeing any side effects...

Using Chrome on Mac...
1. New HTML file
2. Drag HTML table onto page
3. Change any setting on smart input (like change table-layout to "auto")
4. See this exception:

[code]

[2012-08-31 19:29] aerwin commented on #2735
Ugh... well, my fix didn't correct this one when going to the server with the updated driver.

[2012-08-31 19:29] JonFerraiolo opened #3213 "Drag/drop images from Files palette not working"
@peller @jhpedemonte @childsb

Somewhere along the way we lost the ability to drag/drop images from the Files palette onto the visual editor canvas.

[2012-08-31 19:30] jhpedemonte commented on #3198
I guess that would be one solution:  look for the relative paths in `children` or `data`, in the widget's create tool code, and append any prefix determined by location of file.

However, we've been treating any relative paths in _widgets.json_ as relative to that file itself.

Another option is to support a `${project}` variable, which could be automatically expanded to the correct value.  I thin

[2012-08-31 19:31] childsb commented on #3202
Issue was in an integrated plugin and not base code.  Fixed in integrated plugin, closing issue.

[2012-08-31 19:31] #3202 closed, assigned to childsb

[2012-08-31 19:31] JonFerraiolo commented on #3213
Wait. Works for files that are uploaded to root project folder. What failed for me was trying to drag/drop SampleBanner.jpg from the samples folder.

[2012-08-31 19:33] JonFerraiolo commented on #3213
Oops. user error. Closing.

[2012-08-31 19:33] #3213 closed, assigned to doronrosenberg

[2012-08-31 19:39] childsb commented on #3199
I can't recreate this. Tried local/build w/firefox and chrome.

[2012-08-31 19:48] JonFerraiolo opened #3214 "Mobile theme changes not noticed by zazl"
@billreed63 @peller

Assigning to me for now - need to research this - running Mac/FF, I got into a situation where preview did not reflect a theme change action that I made in the visual editor, and when I modified the URL bar to turn ZAZL off, the theme change action showed properly in the preview.

[2012-08-31 19:53] JonFerraiolo opened #3215 "With mobile silhouette - selection doesn't scroll width page editor is scrolled"

[2012-08-31 20:08] JonFerraiolo opened #3216 "Selection off when nested containers and page is scrolled"
Using Mac/Chrome
- New Desktop app
- Add 3 ContentPanes, make them each about 300px high, set canvas to be small enough vertically that the canvas gets a scrollbar
- Put a DIV inside middle ContentPane
- Scroll page vertically

Result=> Selection is misplaced

[2012-08-31 20:08] #3205 closed, assigned to billreed63

[2012-08-31 20:35] #3212 closed, assigned to doronrosenberg

[2012-08-31 20:51] #3150 closed, assigned to childsb

[2012-08-31 21:06] aerwin opened #3217 "Smart input OK button can indicate ready for mouse clicks, but then ignore them"
@doronrosenberg @billreed63 @JonFerraiolo

This has started to annoy me quite a bit... happens in both Chrome and Firefox on Mac, but might be easier to cause in Firefox...
1. Open up smart input on widget like Button, ComboButton, etc.
2. Mouse over the OK button to click and clicks will often be ignored... in playing around a little bit, it seems to happen when mouse pointer is too close to the

[2012-08-31 21:21] #3216 closed, assigned to JonFerraiolo

[2012-08-31 21:22] jhpedemonte commented on #3217
-> @doronrosenberg, have any ideas?

[2012-08-31 21:25] JonFerraiolo commented on #3217
My first three guesses as to what's going wrong: (1) something happened in dojo 1.8, (2) there are a number of floating invisible DIVs in the page editor and maybe one of them is causing trouble, (3) maybe the mousedown handler on the blue DIV under the buttons is grabbing the event for some reason.

@billreed63

[2012-08-31 21:26] doronrosenberg commented on #3198
Temp fix in using create:() helpers

[2012-08-31 21:36] doronrosenberg commented on #3217
The issue is actually a coding bug - we are listening for click events on the domNode rather than on the dijit

[2012-08-31 21:42] #3217 closed, assigned to doronrosenberg

[2012-08-31 21:44] doronrosenberg commented on #3139
Closing as I can't reproduce, please reopen if it still happens

[2012-08-31 21:44] #3139 closed, assigned to doronrosenberg

[2012-08-31 21:44] #3204 closed, assigned to billreed63

[2012-08-31 21:53] JonFerraiolo opened #3218 "Exception in StatesView.js after refresh with theme editor open"
I have 3 editors open, the 3rd one the claro theme editor. The theme editor is active. Browser refresh.

Result=> Exception in console within _updateList()

But _updateList() shouldn't be getting called when theme editor is active.

I have a fix just about ready.

[2012-08-31 22:27] aerwin commented on #3211
@JonFerraiolo

I had really good initial luck using the stuff I put in for sliders to refresh the parent on props change (e.g., turn on `refreshParentOnPropChange` in widgets.json for TD, TR, and TBODY elements) to fix the core problem.

But, now the selection chrome is off on the TD that got the new data (small box in corner). Really not sure on this one. Would almost have thought the wrong eleme

[2012-08-31 22:36] aerwin commented on #3025
@jhpedemonte

Going to internal test server from FF on my Mac...

In my unscientific stop watch test it took about 29 seconds for the HTML above to fully render (from a cold cache). Subsequent attempts took 2-3 seconds.

So, that's probably to ne expected. But, that first launch sure takes a long time.

[2012-08-31 22:39] billreed63 opened #3219 "Error message "Error modifying value" when switching editors"
Two mobile pages open
select a widget in the first page editor
select the tab of the second page
then switch back to the first editor

the message is from cascade
This property change cannot be completed because the operation attempts to modify a read-only theme CSS file.

To change this property, one technique is to add a class to this widget (at top of Properties palette) and then open up the CS

[2012-08-31 22:46] doronrosenberg commented on #3219
Are these read only files?

[2012-09-01 00:03] JonFerraiolo opened #3220 "Firefox adds a space between "!" and "important", breaks states during preview"
The logic in AppStates.js is matching against "!important", but when grabbing `node.style.cssText`, Firefox adds a space between "!" and "important".

Fix should be a simple tweak to a regular expression.

[2012-09-01 00:20] #3220 closed, assigned to JonFerraiolo

[2012-09-01 00:20] #3218 closed, assigned to JonFerraiolo

[2012-09-01 00:23] JonFerraiolo commented on #3215
was fixed by b26b21dbefbddad105256becab8e0edef8f8103b

[2012-09-01 00:23] #3215 closed, assigned to JonFerraiolo

[2012-09-01 00:36] #3207 closed, assigned to JonFerraiolo

[2012-09-01 03:56] peller commented on #3025
@aerwin curious if zazl is running or not (view-source on the page and see if it says dojo.js or zazl.js)

looks like async bit is missing from dojo config

-> @peller

[2012-09-01 17:43] JonFerraiolo commented on #3219
@childsb

I'm circling in on this one. I believe the problem here is that we have a ComboBox for 'font-family' we display single font-name such as `Arial` and `Helvetica`, but when we actually change a CSS rule (for element.style or a stylesheet), we substitute a font list, such as `'Helvetica,Trebuchet MS',sans-serif`.

The current logic works fine so long as font-family values are only set by th

[2012-09-01 17:50] JonFerraiolo commented on #3219
Confirmed my theory. I temporarily changed the data structure in FontDataStore.js to make it so that the value and name were the same string, and the alert no longer comes up.

[2012-09-01 18:06] #3219 closed, assigned to billreed63

[2012-09-01 18:09] JonFerraiolo opened #3221 "More user-friendly drop-down values for font-family"
@childsb @billreed63

To fix #3219, I had to make the dropdown menu for font-family show the actual CSS value that we will be using, rather than a user-friendly subset. Previously, if a user chose "Helvetica" they actually got a font list that included Helvetica, Trebuchet and sans-serif. Now, the dropdown shows the full list instead of just "Helvetica".

It would be nice to find a way to show a s

[2012-09-01 18:26] JonFerraiolo commented on #3025
I tried http://moketta.org (give it a try!) from Mac/FF and first preview took about 10 seconds, subsequent previews ranged between a couple of seconds and near-instantaneous. In Firebug network panel, I see zazl.js, but looking at the HTML file that came down the pipe, I don't see an async flag:

[code]

[2012-09-02 00:51] JonFerraiolo commented on #3194
Fixed by c19275644796dba27957a80148625e69b6501084 and f6a7faeca9cbea08fa0f58d2812454cca9981a08

[2012-09-02 00:51] #3194 closed, assigned to JonFerraiolo

[2012-09-02 16:09] aerwin commented on #3155
Closing... Tested on recently updated internal server, and appears my commit fixed things.

[2012-09-02 16:09] #3155 closed, assigned to aerwin

[2012-09-02 17:55] JonFerraiolo opened #3222 "SmartInput exception"
@doronrosenberg @peller

I've seen this exception multiple times during the past few months, and I'm getting it today using latest code running from Eclipse. Upon clicking OK on SmartInput, I'm getting a Dojo exception at _ButtonMixin.js:44 at this line:

[code]

because the OK button has `type="submit"` and in that scenario Dojo is attempting to reference to a `form` property on either `this.valu

[2012-09-02 18:18] JonFerraiolo commented on #3222
I poked into this some, and I believe what's wrong is that the `dijit.form.Button` widget for the OK button somehow isn't getting its attachpoints processed.

On the widget object (the button widget object), the property `this._attachPoints` is an empty array, whereas for other similar "submit" buttons this array with have roughly 5 entries. Furthermore, `this.valueNode` doesn't exist, whereas for

[2012-09-02 19:00] aerwin commented on #2689
@JonFerraiolo

CSS placeholders put in place with commit above for when @JonFerraiolo receives icons tomorrow night.

[2012-09-02 19:32] JonFerraiolo opened #3223 "SaveAs Widget not replacing current widget"
I created a DIV with a TABLE element inside, selected the DIV, and then issued a SaveAs Widget command, clicking on the checkbox to replace the current selection with the new widget. The new widget was created successfully, and I was able to drag the new widget from the widget palette onto canvas. However, the selection did not get replaced with the new widget.

[2012-09-02 20:26] JonFerraiolo commented on #3200
Release notes are complete except for migration notes.

Sending to @aerwin who I believe was going to update the release notes around one of our migration issues. @aerwi:
- Please add your updates to bottom of release7.html
- Please remove the red-colored note about under construction
- After complete, please reassign to @jhpedemonte to add other migration notes as appropriate

[2012-09-02 21:24] JonFerraiolo opened #3224 "Infinite loop when switching mobile themes"
@doronrosenberg @peller @jhpedemonte

On Mac/Chrome running from Eclipse, the page editor goes into an infinite loop when changing mobile themes. Sometimes it takes a couple of "switch themes" to trigger the infinite loop.
- Clone custom into custom2 or whatever
- Change background color to red
- Cllck the save button
- Create new mobile application, choose smallest android device
- Add a Scrollab

[2012-09-02 21:32] JonFerraiolo opened #3225 "this.outlineTree can be undefined in OutlineView.js, causing exceptions"
@billreed63

OutlineView.js listens to event `/davinci/ui/context/pagerebuilt` which (based on the exceptions I am seeing and the stack trace) is published by both the page editor and theme editor.

However, `this.outlineTree` is undefined for the theme editor.

We need to check that `this.outlineTree` has a value in `_pageRebuilt()` at least. I haven't checked other functions to see if they need

[2012-09-03 01:18] #3225 closed, assigned to doronrosenberg

[2012-09-03 02:18] peller commented on #3224
I was trying to remember the source of the pagerebuilt code, but haven't yet tracked it down in github, as it was merged manually here: 047b1315

[2012-09-03 03:55] peller commented on #3025
Ok, not sure when that regressed, but thanks for noticing, @aerwin.  The above fix makes a significant difference on previews with zazl-off (many parallel HTTP connections only possible with async)  On the app-test server, I saw the initial, cold-cache load go from ~10 sec to ~5 sec.  With Zazl, there are far fewer files, and most of the delay on the initial load is on the server (< 10 sec)  Subse

[2012-09-03 03:55] #3025 closed, assigned to peller

[2012-09-03 04:25] peller opened #3226 "Extra copy of *.js files in maqetta.core.client build"
It looks like the code temporarily copied into the maqetta.core.client plugin may not be deleted.  On the app test server, I noticed:

[code]

[2012-09-03 15:40] aerwin commented on #3224
Sounds same as #3167?

[2012-09-04 02:33] JonFerraiolo opened #3227 "What happened to FixedSplitterPane?"
@jhpedemonte @peller

What happened to FixedSplitterPane? We had it in M6 and I don't see it in M7

[2012-09-04 04:01] doronrosenberg commented on #3227
http://dojotoolkit.org/reference-guide/1.8/dojox/mobile/FixedSplitterPane.html

[code]

1.8 dojox.mobile did a lot of renaming/deprecation so there would be more reuse.

[2012-09-04 04:01] #3227 closed, assigned to doronrosenberg

[2012-09-04 05:36] #2979 closed, assigned to JonFerraiolo

[2012-09-04 05:36] #2992 closed, assigned to JonFerraiolo

[2012-09-04 05:39] JonFerraiolo commented on #99
Comprehensive strategy is in place now. Just need to add various new videos and how-to articles, mostly.

[2012-09-04 05:39] #99 closed, assigned to JonFerraiolo

[2012-09-04 05:40] JonFerraiolo commented on #2860
Cheat sheets are done now. Still working on updating the tutorials and the app.css file.

[2012-09-04 13:31] peller commented on #3189
The new plan of attack is to use dojo/ready in place of the second require, with a priority of 99.  The parser runs at priority=100

[2012-09-04 14:57] #3167 closed, assigned to billreed63

[2012-09-04 14:58] billreed63 commented on #3224
dup #3167

[2012-09-04 14:58] #3224 closed, assigned to billreed63

[2012-09-04 15:00] peller commented on #3196
I suggest we go with the strategy of including LICENSE files in each plugin (directory or jar)  That's what Orion does, explicitly mentioning it in their readme.  We need to get our top-level README/license info copied over to the build as well.  Currently, there's just Eclipse launcher info there.

@childsb

[2012-09-04 15:19] jhpedemonte commented on #3199
-> @doronrosenberg, please try to recreate.  Close if unable.

[2012-09-04 15:25] jhpedemonte commented on #2700
-> M8, High

[2012-09-04 15:40] aerwin commented on #3211
@JonFerraiolo @jhpedemonte

--> M8

[2012-09-04 15:45] JonFerraiolo commented on #3100
-> @peller

@peller: I believe I have updated the content of README.html for M7 within our old (obsolete) project `releng/davinci.product/README.html` (in public repository). Somehow or other this file (`releng/davinci.product/README.html`) needs to get included in our ZIP downloads using the new approaches. Probably needs to be copied somewhere near this folder: `releng/davinci.releng/orion/build

[2012-09-04 15:48] JonFerraiolo opened #3228 "Cheatsheets - button overlays don't align properly with underlying image unless image is perfectly placed"

[2012-09-04 15:49] JonFerraiolo opened #3229 "Cheatsheets - need "Loading..." UI over server because images come down slowly"

[2012-09-04 15:54] aerwin commented on #3226
@peller

Yes, downloaded the driver and see a release folder in core.client. I didn't have anything to do with building core.client, so I'll have to go find that build script. What prio/sev would you put on this?

[2012-09-04 16:03] aerwin commented on #3226
--> @peller

Per ST, sending back to @peller .

[2012-09-04 16:15] peller commented on #3100
see #3196

[2012-09-04 16:23] #3228 closed, assigned to JonFerraiolo

[2012-09-04 16:31] aerwin commented on #2735
@JonFerraiolo @jhpedemonte

--> M8

[2012-09-04 16:32] #3229 closed, assigned to JonFerraiolo

[2012-09-04 16:34] JonFerraiolo commented on #1990
-> M8

[2012-09-04 16:34] JonFerraiolo commented on #1990
Oops, didn't mean to close, just push to M8

[2012-09-04 16:34] JonFerraiolo commented on #2487
-> M8

[2012-09-04 16:34] JonFerraiolo commented on #2489
-> M8

[2012-09-04 16:35] JonFerraiolo commented on #2726
-> M8

[2012-09-04 16:41] jhpedemonte commented on #3103
Dupe to internal 8316.

[2012-09-04 16:41] #3103 closed, assigned to jhpedemonte

[2012-09-04 16:42] jhpedemonte commented on #2622
-> M8/High

[2012-09-04 16:42] aerwin opened #3230 "No error message with invalid password logging into server"
Using Chrome on Mac going to Moketta...

Enter wrong password and get no error indication. The following is in the console:

[code]

[2012-09-04 17:00] jhpedemonte commented on #3230
-> @childsb.  cc @JonFerraiolo

[2012-09-04 17:04] aerwin commented on #2689
Closing... looks like @JonFerraiolo updated my CSS placeholders.

[2012-09-04 17:04] #2689 closed, assigned to aerwin

[2012-09-04 17:07] JonFerraiolo opened #3231 "Pound on states - found some flakiness"
While running test matrix on states, I tried to deviate from the script a bit and ran in to problems, but haven't been able to reproduce. When following test script exactly, no problems.

[2012-09-04 17:09] JonFerraiolo commented on #3231
Ah, found a problem. I had renamed state 'cc' to 'dd'. I looked at source code, and onclick handler was pointing to 'cc' instead of 'dd', even though I had renamed the state before installed the event handler. I suspect EventSelection.js isn't updating its dropdown properly when states get renamed.

[2012-09-04 17:12] #3226 closed, assigned to peller

[2012-09-04 17:12] JonFerraiolo commented on #3231
Can't reproduce now. Maybe was user error. But I still need to pound on states some more, so leaving open, but with Prio-Med.

[2012-09-04 17:19] doronrosenberg opened #3232 "Opening any html file shows it as dirty"
@jhpedemonte @JonFerraiolo

A regression, this was working fine at some point.

[2012-09-04 17:58] JonFerraiolo opened #3233 "Download ZIP install - no login screen"
@peller @jhpedemonte

I pulled down last night's ZIP from maqetta.org/nightly and the software does not show the login screen upon startup and instead goes immediately into the application.

Is this by design? I swear that last week all versions of Maqetta (download or otherwise) showed the login screen at startup.

[2012-09-04 18:03] #3201 closed, assigned to billreed63

[2012-09-04 18:06] JonFerraiolo opened #3234 "Hang on Create new page - session management problems?"
I was testing on our staging server this morning (moketta) using Mac/Safari, and got distracted by other things for awhile (30 minutes? an hour?) and then went back to my Maqetta window in Mac/Safari and tried to issue a "Create Desktop Application" command. The dialog came up, but after clicking on "Create" in the dialog, nothing happened, the software just sat there. No warning. No session redir

[2012-09-04 18:08] billreed63 opened #3235 "Cascade not updated for mobile device"
The cascade in the properties palettes is not update to reflect the current mobile theme when the device is changed

1) Create a html iphone page
2) DnD a view and a Heading
3) Select the heading and open the cascade for background image not that the theme is iphone.css
4) Change the device to android

The casacde still has iphone.css but the theme has been change to android.

[2012-09-04 18:10] JonFerraiolo commented on #3234
@childsb @jhpedemonte @peller @aerwin @doronrosenberg

[2012-09-04 18:19] peller commented on #3234
I think you can bring up the console after the fact.  Close until we have some data?

[2012-09-04 18:24] JonFerraiolo commented on #3234
No, I think we have a problem somewhere in our session logic which is a major ship-stopper. I suggest @billreed63 pound on that area to make sure session timeout logic is solid. We can't have the app hanging on people if they walk away for 30 minutes.

[2012-09-04 18:34] aerwin opened #3236 "Mobile themes in theme editor don't look right"
@billreed63

Using FF on Mac going to moketta...

See theme editor below with cloned iPhone theme. E.g., button's not an arrow and colors are off:

![GitHub Logo](http://i.imgur.com/wlI5L.png)

Compare to iphone rendering in page editor:

![GitHub Logo](http://i.imgur.com/6EEge.png)

[2012-09-04 18:46] aerwin opened #3237 "Can't set global background (or font properties) on mobile theme"
@billreed63

Using FF on Mac going to moketta... doing mobile theming test cases...
1. Clone iphone theme
2. Select global background
3. I try to change background to "green" and no affect. Also notice if select different object and them reselect global background that "green" has disappeared in favor of the default.

![GitHub Logo](http://i.imgur.com/sNxpk.png)

[2012-09-04 18:52] aerwin commented on #3237
Well, I reloaded the page and now it appears I can set the background. Not sure what caused it to get into a state where couldn't set anything.

Was doing the "Mobile theme editor basic tests" test cases. And, had just gotten to the 2nd section when found I couldn't set anything. Perhaps something with cloning several different themes all at once got things into a bad state.

[2012-09-04 18:53] JonFerraiolo opened #3238 "Does zazl apply to reviews?"
@jhpdemonte @childsb @aerwin

@peller: does zazl apply to the HTML files that are published for reviews? If not, we should create a Prio-High issue for M8.

[2012-09-04 18:59] aerwin opened #3239 "Mobile theme editor: selection chrome leaves widget when scroll"
@billreed63 @JonFerraiolo

Using FF on Mac going to moketta..
1. Clone theme
2. Select heading background, and see selection chrome is right:

![GitHub Logo](http://i.imgur.com/GzXpG.png)
1. Scroll the theme editor and see selection chrome has moved off widget:

![GitHub Logo](http://i.imgur.com/D0tMm.png)

[2012-09-04 18:59] peller commented on #3238
Presently, maqetta.zazl.MaqettaHTMLFilter only applies to `/maqetta/user/*.html`

[2012-09-04 19:10] aerwin commented on #3237
--> Closing

I created a new project and cloned the 5 mobile themes again, and couldn't reproduce. Guess there's no choice but to close this one.

[2012-09-04 19:10] #3237 closed, assigned to billreed63

[2012-09-04 19:13] JonFerraiolo commented on #3234
Just saw this again using Mac/Safari. After clicking Create, the network panel shows "502 Bad gateway" when attempting a `/maqetta/cmd/createResource`. Full response:

[code]

[2012-09-04 19:18] aerwin commented on #3234
Just saw this one too...

Using FF on Mac going to moketta...

Working along on mobile theme editor tests and tried to create a new mobile application. Nothing happened and noticed following in console. Reloaded page to see if it would go away and was taken to login page.

[code]

[2012-09-04 19:23] jhpedemonte commented on #3234
OK, this implies that Nginx couldn't forward on the request to Maqetta, for some reason.  The hosting company support was looking into the email issue and they may have done something to bring Maqetta down temporarily.

Let's keep this one open as we test and see if we run into it again.

[2012-09-04 19:23] aerwin opened #3240 "Exception dropping Heading onto mobile page"
Using FF on Mac going to moketta...

Not sure any side affects, but making prio high for investigation....
1. Create mobile page
2. Drag view on to page
3. Drag heading onto page and click OK on smart input. See the following exception:

[code]

[2012-09-04 19:23] JonFerraiolo commented on #3239
-> @JonFerraiolo (me)

[2012-09-04 19:24] jhpedemonte commented on #3240
-> @doronrosenberg

[2012-09-04 19:25] aerwin commented on #3240
Seems to happen with all mobile widgets with smart input.

[2012-09-04 19:33] aerwin opened #3241 "Exception when changed theme on mobile page"
Not sure this will be easily reproducible or causes side affects, but making prio high for investigation..

Using FF on Mac going to moketta...

Doing mobile theme editor tests and changing theme of my mobile HTML page. See the following exception in the log after everything gets loaded:

[code]

HTML source:

[code]

[2012-09-04 19:35] aerwin commented on #3241
Might actually be pretty easy to reproduce... reloaded browser page and changed theme of mobile application back to default iphone and saw same exception.

[2012-09-04 19:59] JonFerraiolo commented on #3222
See #3240

[2012-09-04 19:59] doronrosenberg commented on #3240
Hmm, we are calling hide twice in this case

[2012-09-04 20:00] JonFerraiolo commented on #3222
Somehow I forgot to set milestone and priority! -> M7 Prio High

[2012-09-04 20:00] JonFerraiolo commented on #3240
I think this is a dupe of #3222. @doronrosenberg and @billreed63 need to coordinate on those two issues

[2012-09-04 20:11] jhpedemonte commented on #3230
The error message seems to be hidden in the login screen.  Login with an invalid password or username, then click on "Register".  Notice the "Invalid user or password" alert below the register pane.

[2012-09-04 20:19] doronrosenberg commented on #3240
The issue is type="submit", we are destroying the button while its doing its thing

[2012-09-04 20:32] jhpedemonte opened #3242 "Auto-migration issues"
Issues:
- ~~"dojo" and "gridx" libraries were disabled after migration.~~
- Samples are migrated, but also show up as read-only _samples_ directory.
- ~~Mobile page [doesn't load theme](https://github.com/maqetta/maqetta/issues/3242#issuecomment-8277964).~~
- Files added outside of WebContent folder in Eclipse project:  [[1](https://github.com/maqetta/maqetta/issues/3242#issuecomment-8278121)] ~~a

[2012-09-04 20:33] #3232 closed, assigned to doronrosenberg

[2012-09-04 20:33] #3240 closed, assigned to doronrosenberg

[2012-09-04 20:36] JonFerraiolo commented on #3242
This is likely a result of "dojo" and "gridx" having to be manually added in our current testing scenario, but I'm seeing two filter fields in the Widgets palette:

![Two search fields](http://i.imgur.com/JzF8n.png)

**Update:** This is #2712.

[2012-09-04 20:37] jhpedemonte commented on #3242
Yes, that's a known issue.

[2012-09-04 20:39] JonFerraiolo commented on #3242
@billreed63

Whereas my simple mobile page using default themes works fine, my simple mobile page WITH A CUSTOM MOBILE THEME doesn't load its CSS themes properly after migration:

![Mobile themes not loading on migrated file](http://i.imgur.com/SY5xz.png)

[2012-09-04 20:41] jhpedemonte opened #3243 "Whole UI slides down when closing folder in Files view"
Noticed on Chrome/Mac when testing migration:
1. Open Files view.
2. Open one of the folders.
3. Scroll down.
4. Close the opened folder.

The entire UI will slide down:

![ui](http://i.imgur.com/EMvIK.png?1)

@JonFerraiolo

[2012-09-04 20:42] doronrosenberg commented on #3242
Custom theme or built in theme?

[2012-09-04 20:42] JonFerraiolo commented on #3242
Custom theme (I amended my note above).

[2012-09-04 20:44] jhpedemonte commented on #3242
For Eclipse project, _app.css_ and _app.js_ get added outside of _WebContent_ folder:

![eclipse](http://i.imgur.com/JPIU9.png)

[2012-09-04 20:45] JonFerraiolo commented on #3242
Poorly formed back arrow on Heading widget in previewer when running Mac/Chrome on a migrated file.

![Poorly formed back arrow on Heading widget](http://i.imgur.com/RoZXX.png)

@peller (UPDATED) When I change the URL bar to set zazl=false, then arrow renders correctly. Looking in the debugger at various CSS rule defintions, I see that various classnames that are mixed case without zazl (e.g., .mb

[2012-09-04 20:49] jhpedemonte commented on #3242
After migration, loaded Eclipse project, then had to modify libs in order to re-enable "dojo" and "gridx".  After refreshing the page, _lib_, _samples_ and _themes_ folders were now outside of the _WebContent_ directory:

![eclipse](http://i.imgur.com/ohGra.png)

After this, cannot load files from this project.

[2012-09-04 20:55] #3235 closed, assigned to billreed63

[2012-09-04 20:57] peller opened #3244 "preview silhouette widget needs an onload ui"
the silhouette should track the onload in the iframe and post some sort of spinning cursor while the doc loads.

@JonFerraiolo

[2012-09-04 21:00] billreed63 commented on #3236
We do not support mobile theme editing in FF M8, this is due to the way dojo deals with non webkit browsers

issue #2372 deals with this.

[2012-09-04 21:00] #3236 closed, assigned to billreed63

[2012-09-04 21:03] jhpedemonte commented on #3242
Tried to open Theme Editor for a custom theme of "custom".  I got an error trying to load `/app/static/lib/dojo/1.7/dojo/dojo.js`, followed by an error that `require is not defined`.  @billreed63

[2012-09-04 21:05] billreed63 commented on #3222
sending to @doronrosenberg

[2012-09-04 21:07] jhpedemonte commented on #3242
No reviews were carried over for me.  Assuming this is what we want for M7. (Might be a different issue in later milestones).

[2012-09-04 21:09] aerwin opened #3245 "Email sent message looks like an error message (e.g., red, no further words that it will contain a link to sign up etc.)"
@JonFerraiolo

Email sent message looks like an error message (e.g., red color, no further words that it will contain a link to sign up etc.).

![GitHub Logo](http://i.imgur.com/ql3NQ.png)

[2012-09-04 21:10] jhpedemonte commented on #3236
Do we warn the user about this any where?

@JonFerraiolo

[2012-09-04 21:10] aerwin commented on #3242
Error in console on migration page:

[code]

Using FF on Mac.

[2012-09-04 21:12] JonFerraiolo commented on #3242
Yeah, I can't successfully open any of the migrated files that were in an Eclipse project, even after attempting to tell the Modify Libraries pane where Dojo needs to go (i.e., ./WebContent/lib/dojo)

[2012-09-04 21:12] aerwin commented on #3242
Didn't take me to my last project (e.g., I was taken to "project1" instead of the one I just created before migration).

[2012-09-04 21:14] aerwin commented on #3242
Error in console trying to open file in "project1" and page just spins:

[code]

using FF on MAc

[2012-09-04 21:15] jhpedemonte commented on #3242
@aerwin, that probably means it's trying to find a disabled library.  Check "Modify Libraries" dialog.

[2012-09-04 21:16] aerwin commented on #3236
Wondered about that too... don't think we warn our team about it either... e.g., wouldn't have wasted time with FF testing of mobile theme editor had I known of this limitation... e.g., be nice to include in test plan or test matrix info.

[2012-09-04 21:17] JonFerraiolo commented on #3243
I have been trying to reproduce using my migrated projects (both Eclipse and regular) and haven't been able to make this happen. To the best of my knowledge, we are just using Dojo widgets (BorderContainer and TabContainer mostly) without doing anything fancy.

[2012-09-04 21:19] aerwin commented on #3242
@jhpedemonte you're correct. thanks :)

[2012-09-04 21:20] jhpedemonte opened #3246 "Fail gracefully if required lib is disabled"
Found during migration testing:

We do not fail gracefully if a required library is disabled.  Need to:
1. catch error.
2. provide information to user on next steps.

[2012-09-04 21:24] jhpedemonte commented on #3242
After migration, couldn't create another project.  Got this in server log:

[code]

[2012-09-04 21:27] billreed63 commented on #3188
The warnings are gone with the latest code and FF 15

[2012-09-04 21:27] #3188 closed, assigned to billreed63

[2012-09-04 21:27] aerwin commented on #3242
Error opening mobile page in Eclipse project using FF on Mac:

[code]

[2012-09-04 21:28] aerwin commented on #3242
@doronrosenberg

Error for mobile page with carousel on page:

[code]

Do we at least have something in release notes for the carousel issue?

[2012-09-04 21:51] JonFerraiolo opened #3247 "Table dialog cancel button doesn't work"
The cancel button on the table smartinput dialog isn't working for me.

[2012-09-04 21:59] JonFerraiolo opened #3248 "SaveAs Widget preview not working on staging server when zazl=true"
@childsb @jhpedemonte

I'm running the SaveAs WIdget tests. Works fine when I run from Eclipse, but not when I run off of the staging server. Assigning to @peller because of zazl aspect, but likely @childsb will need to be involved. Steps:
- New Desktop App
- Add a DIV
- Put a Button in the DIV
- Select the DIV
- SaveAs Widget (dialog values: aaa, bbb, unchecked)
- Close current document
- New Des

[2012-09-04 22:04] #3222 closed, assigned to doronrosenberg

[2012-09-04 22:13] doronrosenberg commented on #3243
Yeah, I can't reproduce this as well.

[2012-09-04 22:17] doronrosenberg commented on #3199
Cannot reproduce, closing.

[2012-09-04 22:17] #3199 closed, assigned to doronrosenberg

[2012-09-04 22:21] JonFerraiolo commented on #3242
I didn't put anything in the release notes. You can see the current release notes by going to Help->Documentation and looking for "Release 7" under release notes. The source file is at maqetta.core.client/WebContent/docs/releaseNotes/release7.html

[2012-09-04 22:37] jhpedemonte commented on #3248
cc @rbackhouse

I thought Zazl skipped over widgets for which it could not get source (or something like that; my mind is fuzzy today).

[2012-09-04 22:42] jhpedemonte commented on #3243
OK.  My migrated workspace is totally hosed right now, so can't test again with that.  I'll close but reopen if I can reproduce.

[2012-09-04 22:42] #3243 closed, assigned to doronrosenberg

[2012-09-04 22:45] doronrosenberg commented on #3243
@jhpedemonte if it happens, be sure to check for js errors

[2012-09-04 23:04] JonFerraiolo opened #3249 "Sketch theme font-size is too big"
The sketch theme defaults to font-size:16px. It needs to somehow set font-size to 12px, or maybe 11px (which is what happens when document.css is included). I'm not sure whether we need to include document.css with sketch (which will yield font-size:11px, I believe) or just add an entry to sketch.css that makes it so that global font size is 12px. (I think 12px is the best size for sketch theme.)

[2012-09-04 23:50] JonFerraiolo opened #3250 "TabBar doesn't work in Sketch mode"
@doronrosenberg

TabBarCreateTool.js doesn't seem to have all of the right logic to get TabBar to work in sketch mode. For example, it ends up with position:relative instead of position:absolute. Assigning to me (@JonFerraiolo) because I know all about this (sometimes tricky) area.

(Discovered while updating the docs)

[2012-09-04 23:58] JonFerraiolo commented on #3250
-> @doronrosenberg

I'm pretty sure all you need to do is replace line 34 in TabBarCreateTool.js with lines 542-559 from CreateTool.js

[2012-09-04 23:59] JonFerraiolo commented on #3250
To test, go to the docs and run through the Mobile Sketching tutorial.

[2012-09-05 00:17] #3250 closed, assigned to doronrosenberg

[2012-09-05 01:35] peller commented on #3248
No, Zazl is a replacement for the Dojo loader.  It needs to resolve all the references server-side. It's probably unable to locate the package, since no linkage is specified.

[2012-09-05 03:01] doronrosenberg commented on #3247
-> moi

[2012-09-05 03:10] #3247 closed, assigned to doronrosenberg

[2012-09-05 05:35] aerwin opened #3251 "ToggleButton theme doesn't seem to carry over to page"
Using Chrome on MAc going to moketaa...

@billreed63
1. Cloned iPhone theme
2. Change some primitive widgets including ToggleButton
3. Create mobile page using cloned theme that includes primitive widgets (including ToggleButton)
4. Note ToggleButton rendering does not match ToggleButton theme rendering

From theme editor:

![GitHub Logo](http://i.imgur.com/7IYIi.png)

From page editor:

![GitHub

[2012-09-05 05:48] aerwin opened #3252 "Zazl filter must carry over config info (was: Mobile preview with zazl doesn't honor edited theme)"
@peller @billreed63

Using Chrome on Mac going to moketta...

I noticed that when I preview a mobile page with an edited theme that with zazl on the rendering doesn't match what I see in the page editor. Removing the zazl tag seems to clear it up.

From page editor:

![GitHub Logo](http://i.imgur.com/uteWL.png)

Preview with zazl:

![GitHub Logo](http://i.imgur.com/t66k0.png)

[2012-09-05 11:32] jhpedemonte commented on #3252
cc @rbackhouse

[2012-09-05 12:55] jhpedemonte commented on #3242
I had an issue with my migrated workspace, so I switched over to Orion.  I deleted the problem project, then selected one of the remaining projects and selected **Open in Maqetta**.  Nothing happened.  No errors in browser console or server log.

[2012-09-05 13:04] jhpedemonte opened #3253 "No message after clicking "Register" button"
There used to be a message saying that an email had been sent after clicking the **Register** button.  With latest build, I see nothing.

Also, the _Cancel_ and _Sign Up_ buttons disappear (although that may have been the case previously).

-> @JonFerraiolo, but feel free to reassign as necessary.

[2012-09-05 13:24] peller commented on #3252
@aerwin I tried the following and it worked:

create a mobile document with a calendar widget
clone claro as claro2
change the background color on widgets to red
switch the document to use claro2
preview with zazl

...and it worked

Zazl shouldn't have any impact on CSS.  It only fiddles with the JS bits.  Perhaps it was some sort of caching issue and the reload resolved it?

[2012-09-05 14:18] #3249 closed, assigned to billreed63

[2012-09-05 14:48] childsb commented on #3230
Fixed with checkin cfec354f6eebf5ea86b36da06da63c9c9fc812d4

[2012-09-05 14:48] #3230 closed, assigned to childsb

[2012-09-05 14:49] aerwin commented on #3252
Reloading the page with zazl turned on doesn't do any good either.

I notice when you tried to reproduce you cloned desktop theme and used desktop widgets. Not sure if that makes any diff.

Here's the HTML for my page (which BTW takes a REALLY long time to load on first preview as well):

[code]

[2012-09-05 14:49] childsb commented on #3197
closing per checkin

[2012-09-05 14:49] #3197 closed, assigned to childsb

[2012-09-05 15:05] jhpedemonte commented on #3233
-> M8

[2012-09-05 15:09] jhpedemonte commented on #3095
-> @doronrosenberg

[2012-09-05 15:10] peller commented on #3238
-> M8/High

[2012-09-05 15:12] billreed63 opened #3254 "GridX exception when to jsonp data stores"
Running the GridX basic test case oJSONP on FF/win

Continuing from the test case above, open the HTML File from the Data from workspace test case.
Double click on the GridX Widget in the design view to display the smart input.
SmartInput is displayed. Choose Data from URL (JSONP) from the drop down list on the first panel.
In the text area enter the following URL: http://maqettaservice.appspot.co

[2012-09-05 15:19] jhpedemonte commented on #3214
Dupe to #3252.

[2012-09-05 15:19] #3214 closed, assigned to JonFerraiolo

[2012-09-05 15:27] doronrosenberg commented on #3095
We could upload an ico version of the maqetta icon into /releng/davinci.releng/orion/builder/html/ and override orion.ico.

Edit: or not, didn't work. hmm

[2012-09-05 15:32] aerwin commented on #3254
@billreed63  Do you have the HTML source causing the red screen of death?

[2012-09-05 15:40] aerwin commented on #3241
--> @aerwin ... to retest

[2012-09-05 15:44] aerwin commented on #3251
--> @aerwin ... to retest

[2012-09-05 15:52] jhpedemonte commented on #2550
-> M8

[2012-09-05 15:53] jhpedemonte commented on #2456
-> M8.

Might be fixed by fixing #2550.

[2012-09-05 16:07] JonFerraiolo opened #3255 "Warning with mobile theme editors when using FF"
@jhpedemonte @aerwin

My first thoughts on this one:
- **How to cause the prompt to appear for mobile theme editors and not the desktop theme editors?** Can we add the prompt to the mobile theme editor HTML files (and not to desktop theme editor HTML files)? Otherwise, it's hard in our code to distinguish between mobile theme editors and desktop theme editors. The best technique I've figured out f

[2012-09-05 16:14] jhpedemonte commented on #3253
Broken by cfec354f6eebf5ea86b36da06da63c9c9fc812d4?  @childsb

[2012-09-05 16:23] childsb opened #3256 "M7 Shell Script Migration TODOs"
Ref Issue: #3242
### General Changes
- Remove Samples1.html and Samples2.html from the users workspace.
- For every dojo-theme-editer.html (custom themes), find and replace the dojo 1.7 string with 1.8
### libs.settings changes:
- Find and replace 1.7 with 1.8 for dojo regular, and dojo themes
- Find and replace 1.0prebeta2 to 1.0.0  (gridx)
- Add  required="true" on lines:

`<library id="html" na

[2012-09-05 16:25] aerwin opened #3257 "JSONP blocked in Chrome 21.0.1180.89"
@jhpedemonte @peller @JonFerraiolo @billreed63 @doronrosenberg

Trying to reproduce #3254, I discovered JSONP doesn't seem to be working at all with Chrome 21.0.1180.89 on Mac.... e.g., when click Finish in GridX wizard with JSONP configured (using either of our samples such as http://maqettaservice.appspot.com/sampleservice ), nothing happens and I see

[code]

This works fine on FF and Safari.

[2012-09-05 16:30] jhpedemonte commented on #3255
Do not use `alert()`.  Use our dialog code that puts up a Dijit Dialog.  Should be fairly straight forward. Doron can quickly do it.

[2012-09-05 16:45] aerwin commented on #3257
Still looking for more info... but, here's what I'd expect to be the culprit (from http://security-tracker.debian.org/tracker/CVE-2012-2872 ):

It's referenced on a more official Google Release Notes page:

http://googlechromereleases.blogspot.com/search/label/Stable%20updates

But, the link for more details there is blocked (and they note: "Note that the referenced bugs may be kept private until

[2012-09-05 16:46] aerwin commented on #3257
With the reference to SSL in the Chrome issue, I'm starting to wonder if it's the bad certificate on moketta that's running us into it...

E.g., I just went to the internal test server, and JSONP seemed to work.

[2012-09-05 16:51] aerwin commented on #3257
It's old Maqetta code, but just tried JSONP on maqetta.org and it worked with Chrome 21.0.1180.89.

So, really starting to suspect it's just an issue with moketta and Chrome 21.0.1180.89.

[2012-09-05 17:07] #3239 closed, assigned to JonFerraiolo

[2012-09-05 17:10] JonFerraiolo opened #3258 "Another pass through release notes"
Need to update release notes per various last-minute changes. Off the top of my head:
- Zazl as an opt-in feature
- Don't use FF for mobile theme editor

(Note to @billreed63 @peller @jhpedemonte @aerwin @doronrosenberg @childsb: If you think of something that needs to be added to the release notes, just go and change the HTML content at maqetta.core.client/WebContent/docs/releaseNotes/release7.ht

[2012-09-05 17:13] billreed63 commented on #3254
It looks like the 2nd data store is after the table that uses it.

[code]

[2012-09-05 17:13] doronrosenberg commented on #3257
It is most likely related to the self signed cert - probably keep this open until we get the valid cert.

[2012-09-05 17:14] aerwin commented on #3254
@billreed63

Just used FF/Mac & FF/Win and couldn't reproduce. Could you try again?

Here's the HTML source:

[code]

[2012-09-05 17:18] aerwin commented on #3258
@doronrosenberg Per discussion in migration bug yesterday, could you add something on the mobile carousel?

[2012-09-05 17:21] aerwin commented on #3254
@billreed63 Didn't see your before posting mine... any idea how you managed to get the data store to appear after the table?

[2012-09-05 17:33] billreed63 commented on #3254
on FF 15 on https://app.moketta.org/maqetta/

DnD a GidX when SI I set the jsonp to http://maqettaservice.appspot.com/sampleservice
DnD 2nd GridX when SI set jsonp to http://maqetta.org/sampleService

Save the page and then refresh the browser (reload)

[2012-09-05 17:41] JonFerraiolo commented on #3253
Yes, broken by Broken by cfec354. The DIV that holds the (error) message used to be on the "outside" of the various sections (login, signup, reset) but with that commit the (error) message is now inside the login section, so it doesn't show in the other two sections (signup and reset).

I'll ping @childsb about it...

[2012-09-05 17:44] aerwin commented on #3254
I upgraded my Win FF to 15 and followed your my recent steps exactly, and still no luck.

[code]

I am in a new project I created after the workspace reset this morning... could that make a difference?

[2012-09-05 17:55] jhpedemonte commented on #3257
We really need to test this out now.  This might be a show stopper for using SSL.

I find it hard to believe that Chrome would differentiate on self-signed vs. certified certificates.  Most likely, given the error message that Tony posted in the summary, this is an issue where in a secure page (HTTPS) is trying to load insecure content (HTTP).

The thing is, this may be the tip of the iceberg.  We

[2012-09-05 18:08] jhpedemonte commented on #3257
In which other situations are we adding in an HTTP source inside an HTTPS container?  Those would probably be broken as well.

[2012-09-05 18:09] doronrosenberg commented on #3257
Self signed certs are not trusted, see chrome's striking through the https:// in the url bar.

https loading http data is probably the culprit though, a real cert probably won't help here.  Perhaps only the login screen should be https?

[2012-09-05 18:11] jhpedemonte commented on #3257
Yeah, I thought of that.  Would require us handling session cookie correctly (I assume we currently are).  Of course, a man-in-the-middle attack could still acquire the session cookie and use that to view a user's workspace/files (that's what happened to Facebook).  But at least the login credentials would be secure.  But something like this would have to wait for M8.

[2012-09-05 18:32] doronrosenberg commented on #3257
JSONP is the only way I believe we include remote JS, though users could include some via script tags.  Probably also means that preview would have to be non-https.

[2012-09-05 18:46] aerwin commented on #3257
Shared this with @jhpedemonte via ST... we have some other widgets (e.g., media tags like img, embed, video, etc.) that can reference external URLs. I see some warnings in the console with them, but they work. E.g., example warning with `embed` tag:

[code]

But, despite the warning the content displays. Note that there is no "[blocked]" string at the beginning of the warning like there is on the

[2012-09-05 18:51] doronrosenberg commented on #3257
@aerwin The only time it gets blocked is when code from another domain (or the same domain without https) is executed, so it only applies to script tags.

[2012-09-05 19:06] #3255 closed, assigned to billreed63

[2012-09-05 19:22] peller commented on #3257
I agree.  I continue to believe we should be using HTTPS only for sign-on, and to the extent we can leverage openid in the future, we may not even need our own cert.

[2012-09-05 19:35] peller commented on #3252
MaqettaHTMLFilter is not carrying over the dojo-data-config parameter, thus dropping the themeMap and perhaps other important bits.

-> M8

[2012-09-05 19:42] aerwin commented on #3257
FYI... I imported the certificate (after @jhpedemonte regenerated to contain the right URL) as a trusted root certificate in Chrome. There are now no certificate errors in the address bar, but JSONP still blocked.

So, as other's have suggested, seems to be purely a mixed content issue.

[2012-09-05 19:53] aerwin commented on #3251
Appears to be working now, so closing.

[2012-09-05 19:53] #3251 closed, assigned to aerwin

[2012-09-05 19:54] aerwin commented on #3257
--> @jhpedemonte

I think this goes to @jhpedemonte since discussion has become about removing SSL.

[2012-09-05 19:55] aerwin commented on #3241
Don't see this exception in Chrome, so closing.

[2012-09-05 19:55] #3241 closed, assigned to aerwin

[2012-09-05 20:14] childsb commented on #3223
Disabled for M7, retargeting for M8.

Partial impl is in place, but theres a bug around creating the new widget.

[2012-09-05 20:16] rbackhouse commented on #3252
So is this just a matter of taking the properties (minus paths, packages and async) from the dojo-data-config param and adding them to the dojoConfig object the Zazl page generates ?

[2012-09-05 20:23] aerwin opened #3259 "Problems with setting button opacity and float (perhaps bad test case)"
Making Prio High as a start for investigation

Using Chrome on Mac going to moketta... doing Properties 2 test plan (the "display, opacity, float, clear, overflow" section)...
1. New HTML file
2. Drag Dojo button onto page
3. Set opacity to 0.5. The instructions say: "The button should now be semi-transparent." However, I get the message that the value can't be set. Perhaps this one is correct, bu

[2012-09-05 20:26] jhpedemonte commented on #3259
-> @billreed63

[2012-09-05 20:38] peller commented on #3252
I think so.  If it's easier/simpler to copy them all, I suppose paths+packages+async would go ignored on dojoConfig?

[2012-09-05 20:38] aerwin opened #3260 "z-index test case fails"
@billreed63

Using Chrome on Mac going to moketta, and doing Properties 2 test case...

Nothing in the test case works:
1. "Notice that each is given a default z-index of 900.)" -- Both widgets have empty values for z-index.
2. Trying to set z-index on either the button or the textbox results in the can't set the read-only theme

[2012-09-05 20:48] aerwin opened #3261 "Slider dialog layout issues"
--> @aerwin, M8

Horizontal slider dialog used to be able to hold 4 entries without scrolling (there's now too much gap between top of dialog and top of headers):

![GitHub Logo](http://i.imgur.com/Gmyix.png)

And, scrollbar shouldn't be in the middle (e.g., shouldn't be possible to scroll header off screen):

![GitHub Logo](http://i.imgur.com/Gmyix.png)

[2012-09-05 21:02] aerwin opened #3262 "Orion Navigator: Open in Maqetta doesn't work"
@childsb

Using Chrome on Mac going to moketta and doing Orion Integration test case...
1. Go to Orion Navigator
2. Create a new folder
3. Create new subfolder
4. Select newest folder and choose Open in Maqetta --- nothing happens... a couple errors in console, but seem kind of irrelevant...

![GitHub Logo](http://i.imgur.com/WGRvr.png)

[2012-09-05 21:05] aerwin commented on #3262
Realized I created the folders starting at root rather than in a project (though test case doesn't really specify). When I tried within project, still didn't work.

[2012-09-05 21:28] aerwin opened #3263 "R&C: auto-fill e-mail textbox in wizard should sort results"
--> @aerwin, M8

![GitHub Logo](http://i.imgur.com/hZdDF.png)

[2012-09-05 21:44] #3259 closed, assigned to billreed63

[2012-09-05 21:44] childsb commented on #3262
Do you have pop up windows blocked from localhost?

This works for me, but on FF i get an error about "this site wants to do a local popup, is this ok" and i have to set allow always for this domain.

[2012-09-05 21:52] #3260 closed, assigned to billreed63

[2012-09-05 21:54] peller commented on #3189
Strangely, doing something like this almost works:

[code]

@rbackhouse, any idea why the xhrScriptPlugin wouldn't be available from a dojo/ready call?   Perhaps it's just luck that the function was registered prior to the parse, anyway, leading us back to your original suggestion that we register a callback on the singleton require() call.

[2012-09-05 21:54] peller commented on #3189
Restructuring the require calls is too much for M7.  -> M8

[2012-09-05 21:57] JonFerraiolo commented on #3192
Reopening for testing once new builds are deployed

[2012-09-05 21:57] JonFerraiolo commented on #3253
Reopening for testing once new builds are deployed

[2012-09-05 21:58] JonFerraiolo commented on #3245
Reopening for testing once new builds are deployed

[2012-09-05 22:03] aerwin commented on #3200
@JonFerraiolo  wrote

So, with my commit and note above, reassigning to @jhpedemonte .

[2012-09-05 22:22] aerwin commented on #3262
Did you try Chrome going to moketta? That's my configuration. I don't see any warnings about pop-ups.

[2012-09-05 22:38] aerwin commented on #3262
Works for me in FF, so must be Chrome issue. And, perhaps specific to Chrome going to moketta.

[2012-09-05 23:12] JonFerraiolo opened #3264 "Proposed new rule feature broken"
This commit  18008340d7 broke the "proposed new CSS rule" feature (as described in the documentation page about adding a new rule to app.css). I did a checkout of the previous commit (3a3ef472121972b7af5cf9a378468b2ccf4fd525) and the feature is working with that commit.

[2012-09-05 23:27] aerwin commented on #2577
Closing with 6e51dac66bd0c569ae7f717b48f3881d93d057cb .

[2012-09-05 23:27] #2577 closed, assigned to aerwin

[2012-09-06 02:59] peller commented on #3248
@childsb take a look at <a href="https://github.com/maqetta/maqetta/blob/master/zazl/maqetta.zazl/src/maqetta/zazl/Activator.java#L74">zazl/maqetta.zazl/src/maqetta/zazl/Activator.java#L74</a>  The filter is including libraryManager.getAllLibraries() for paths.  Should we include the custom widgets in this result?

[2012-09-06 03:34] JonFerraiolo commented on #3234
Running localhost, my machine was closed for a couple of hours, and when I tried to resume work in Maqetta, I see this in the console. Most importantly, there was no session timeout popup, and I was not taken to the login screen.

[code]

[2012-09-06 04:35] JonFerraiolo opened #3265 "Review and update if needed the theme tech docs in our docset"
I don't know if we need to make any changes, but we should review what's there now and update if any of the technical specs have changed.

[2012-09-06 04:36] JonFerraiolo opened #3266 "Review export-to-RAD docs and update as needed"
I did an editorial update pass on the article in our doc set about exporting to developer tools.

@aerwin: could you please review the last sections that talk about exporting to RAD and make fixes if any fixes are needed?

[2012-09-06 04:37] JonFerraiolo commented on #2860
Closing. Docs have been updated. Any remaining tasks are captured in other issues.

[2012-09-06 04:37] #2860 closed, assigned to JonFerraiolo

[2012-09-06 04:45] aerwin commented on #2939
@childsb

-> Reopening, Prio Critical

Didn't realize this one had ever been fixed... I just tried to download the zip from moketta and import into RAD and I see the files are still wrong.

The two most fundamentally wrong are shown below in BeyondCompare with correct versions on left:

com.ibm.etools.webtools.dojo.core.prefs
![GitHub Logo](http://i.imgur.com/V8197.png)

org.eclipse.wst.validation

[2012-09-06 04:54] #3258 closed, assigned to JonFerraiolo

[2012-09-06 10:10] rbackhouse commented on #3189
The loader considers the page loaded when

1) The DOMContentLoaded event has fired
2) All the modules and their dependencies from the FIRST top level require call have loaded.

At this point the require.idle() API returns true API and require.on() API will call the callback registered. Both of these are used by dojo/ready and this is where the parser is then notified to start parsing.

Because the

[2012-09-06 11:17] rbackhouse commented on #3252
I'm trying to take the dojo-data-config and convert it to a json string so it can be parsed, some properties removed and then serialized out for the dojoConfig object.

The theme example has this which is not json parsable :

mblLoadCompatPattern: /\/test20120904\/themes\/.*.css$/

Can this be made json friendly ?

[2012-09-06 11:46] peller commented on #3252
What if we just took the string verbatim?

[2012-09-06 13:11] billreed63 commented on #3264
I looked at the documentation "Using the Detailed CSS pane on the Properties palette to add/modify style rules in app.css" And it appears to me to be working as documented.
@JonFerraiolo  can you give a more detailed description of the deviation?

[2012-09-06 13:14] rbackhouse commented on #3252
Yes, just taking the value, surrounding with { } and assigning to the dojoConfig var seems to work. I'm not able to validate this with the provided markup though. I get a 404 on

/maqetta/user/maqettaUser/ws/workspace/project1/themes/iphone2/iphone2.css

[2012-09-06 13:48] childsb commented on #3136
removed migrate workspace page

[2012-09-06 13:48] #3136 closed, assigned to childsb

[2012-09-06 14:28] peller commented on #3252
you need to create a theme (create menu up top) and clone from the iphone theme and call it iphone2, and change something like the background color of the global widget to red

[2012-09-06 14:30] peller commented on #3252
AFAIK, Dojo does not have any strict requirements on data-dojo-config, but it is almost JSON... seems like it might be nice for it to have those properties.  Something we should consider for 2.0.  @ykami, wonder if we should accept the regexp also as a string?

@wkeese

[2012-09-06 14:42] rbackhouse commented on #3252
@peller I have a fix for this that works. Do you want me to hold off delivering as its marked M8 ?

[2012-09-06 14:54] jhpedemonte commented on #3075
First, on moketta, http://moketta.org/sampleService doesn't work;  I need to use http://moketta.org/sampleService.php.  Is that fine?

Secondly, what should the _Content-type_ for this be?  `application/javascript`?

[2012-09-06 15:01] JonFerraiolo commented on #3264
Using staging server:
- Create Desktop Application
- Add a Button
- Open Layout section
- Add class 'qqq' or whatever to the Button
- Show cascade for 'width'
- New rule radio button should be selected
- Enter "15em" for value

Result=> Text field goes blank, button is still is original width

[2012-09-06 15:02] jhpedemonte commented on #3075
I was able to fix this for http://moketta.org/sampleService.php by adding `header("Content-type: application/javascript");` to top of PHP file.  However, when going through GridX with this, goes into infinite loop of breaking in debugger.

Reopen if there are any other instances.

[2012-09-06 15:07] peller commented on #3248
-> M8

[2012-09-06 15:15] aerwin commented on #3075
--> Reopening for discussion...

@jhpedemonte @billreed63

What about the one on appspot? Or, should we stop using that one?

[2012-09-06 15:16] JonFerraiolo opened #3267 "Update Joomla supplemental pages"
@jhpedemonte

[2012-09-06 15:19] jhpedemonte commented on #3257
Removed SSL, so this is no longer an issue.  Closing.

[2012-09-06 15:19] #3257 closed, assigned to jhpedemonte

[2012-09-06 15:22] JonFerraiolo commented on #3253
On the staging server, after clicking on "Register", you get this:

![After Register](http://i.imgur.com/eG2lS.png)

[2012-09-06 15:24] aerwin commented on #3075
@jhpedemonte FYI... tried the service with new mime-type and that successfully eliminates the infinite mime warning messages. As you note, the inifnite JS errors still occur, but that's covered by #2910 and a bug against Dojo. So, think we're good. Thanks!

[2012-09-06 15:37] doronrosenberg opened #3268 "Changing a view id and clicking on another view shows the original view's data"
- Drag 3 Mobile Views
- Select the first one
- Change its id in the textbox and then click on another view.
- The id change goes through, but the id shown in the prop palette is that of View 1 and not the one you clicked on.

The important part is that clicking on the next view should be the event that causes blur on the id textbox.

[2012-09-06 15:41] doronrosenberg opened #3269 "Cannot drop mobile container widget"

[2012-09-06 15:44] JonFerraiolo commented on #3253
Closing, seems to be working now

[2012-09-06 15:44] #3253 closed, assigned to JonFerraiolo

[2012-09-06 15:46] JonFerraiolo opened #3270 "Wrong styling for register pane on login screens"
Register pane on staging server has small size box, buttons in wrong place, and is missing the Maqetta reflective logo

[2012-09-06 15:46] jhpedemonte commented on #3075
I think @billreed63 created the **appspot** one, right?  If that's a PHP file, we can fix by adding the header line as [mentioned here](https://github.com/maqetta/maqetta/issues/3075#issuecomment-8335217).  Otherwise, not sure we can do anything about that.

[2012-09-06 15:47] JonFerraiolo commented on #3245
Closing. All messages now have grayscale coloring.

![After Register](http://i.imgur.com/eG2lS.png)

[2012-09-06 15:47] #3245 closed, assigned to JonFerraiolo

[2012-09-06 15:48] JonFerraiolo commented on #3192
All issues seem to be fixed. Closing.

[2012-09-06 15:48] #3192 closed, assigned to JonFerraiolo

[2012-09-06 15:52] aerwin commented on #3075
@billreed63 If that's simple for you to follow @jhpedemonte 's instructions, I think it's worth keeping around the second service. I know one has HTML tags in a cell and one doesn't.

[2012-09-06 15:57] aerwin opened #3271 "Infinite horizontal scroll with content pane"
@JonFerraiolo

Using FF on Mac going to moketta and working on VE 2 test case...
- New HTML file
- Drag button, textbox, calendar, and SampleBanner.jpg onto canvas
- Drag ContentPane onto canvas, and see selection chrome go off edge:

![GitHub Logo](http://i.imgur.com/h5VFv.png)
- First thought was we had an issue where selection chrome was a little off, but then I tried to scroll to the right and

[2012-09-06 16:02] #3269 closed, assigned to doronrosenberg

[2012-09-06 16:10] JonFerraiolo commented on #3271
-> @JonFerraiolo

@jhpedemonte

[2012-09-06 16:18] aerwin opened #3272 "VE 2 test case: console exceptions"
Using FF on Mac going to mokette and doing "Container widgets" section of VE 2 test case...

After saving an reopening my file (see source below), I see exceptions clicking on certain parts of it.

E.g., if I scroll down to and click within my first tabbed pane I see the following and nothing gets selectect

[code]

And, then if I click again I see:

[code]

Screenshot showing where I clicked:

![

[2012-09-06 16:18] aerwin opened #3273 "VE 2 test case: console exceptions"
Using FF on Mac going to mokette and doing "Container widgets" section of VE 2 test case...

After saving an reopening my file (see source below), I see exceptions clicking on certain parts of it.

E.g., if I scroll down to and click within my first tabbed pane I see the following and nothing gets selectect

[code]

And, then if I click again I see:

[code]

Screenshot showing where I clicked:

![

[2012-09-06 16:20] peller commented on #3252
@rbackhouse nah, go for it.

M7 <-

[2012-09-06 16:27] rbackhouse commented on #3252
https://github.com/maqetta/maqetta/commit/db8c9342a99bbc53bc1e2fbf8e6cdfeaf7e4b340 is the commit

[2012-09-06 16:27] jhpedemonte commented on #3272
-> @doronrosenberg to investigate for M7.

[2012-09-06 16:29] jhpedemonte opened #3274 "Remove mail.jar, activation.jar from maqetta.core.server"
The Orion-based build brings in javax.mail and javax.activation.  However, we include those plugins in **maqetta.core.server**.  Need to remove the extra jars.

[2012-09-06 16:29] childsb commented on #3248
"Custom" libraries dont have any server implications-- it's all client side.

The custom widgets are properly qualified AMD imports.  They work just like dijit.form.Button, or any custom templated widgets a user might create.  There's no server magic.

Why isn't zazl pulling the imports from the AMD module spec?  What does it need to do with the server?

[2012-09-06 16:31] JonFerraiolo commented on #3268
Pushing to M8. As @childsb can attest, the blur and focus issues with the properties palette is a touchy area of the code, not something we want to mess with at this point for M7.

The following notes:
- If a user hits return after changing the ID value first, and then clicks on a view, everything works ok
- If the user clicks a second time on a different scene in Scenes palette, things get fixed

[2012-09-06 16:35] aerwin opened #3275 "VE 2 test case: some issues moving widgets"
Using FF on Mac going to moketta and doing VE 2 test case...

In the screenshot below, trying to move the selected text box between Calendar and image. But, when I drop the text box it goes to the very end of the document.

![GitHub Logo](http://i.imgur.com/u7mNg.png)

Source of my file:

[code]

[2012-09-06 16:36] jhpedemonte commented on #3273
Duplicate entry: #3272.

[2012-09-06 16:36] #3273 closed, assigned to nobody

[2012-09-06 16:38] aerwin commented on #3275
Playing around a little more, I see I can get the drop cursor to appear next to the calendar if I have the text box basically on top of the Calendar:

![GitHub Logo](http://i.imgur.com/3Pudb.png)

[2012-09-06 16:58] #3264 closed, assigned to billreed63

[2012-09-06 17:01] rbackhouse commented on #3189
@peller the new code you tried returns null for xhrScriptPlugin because you are attempting a top level synchronous call to require which is invalid. You also can't use "require" in the dependency list because define is not being used as the API.

Stepping back a bit it seems the root of the problem is that ItemFileReadStore is being passed a url before the correct xhr plugin has been registered. W

[2012-09-06 17:02] JonFerraiolo commented on #3271
The only possible fix we could have for M7 would be to get rid of the 100% width on ContentPane and revert back to 300px or something like that. So, sending to @aerwin to evaluate whether to make that change for M7.

Any other possible fixes that I can think of would be incredibly risky, in fact almost certainly would break other features. So, if we don't change default width on ContentPane as I d

[2012-09-06 17:02] JonFerraiolo commented on #3271
@jhpedemonte

[2012-09-06 17:06] billreed63 opened #3276 "Add support for adding style rules to app.css for mobile widgets"
@JonFerraiolo  @jhpedemonte
theme files for mobile themes are added dynamically of the html model,  the current code for proposing new rules for app.css currently only supports desktop themes .

[2012-09-06 17:08] aerwin opened #3277 "VE 2 test case: rendering corrupted after editing source"
Using FF on Mac going to moketta doing VE 2 test case

Using the source below, if I delete the first Calendar the rendering gets corrupted... there are no exceptions in console... if I then put the edited source in a new document it renders find in the new document.

Screenshot showing rendering and widget I'm about to delete from source:

![GitHub Logo](http://i.imgur.com/G3ckm.png)

Rendering af

[2012-09-06 17:10] JonFerraiolo commented on #3276
Way too risky for M7, pushing to M8. Users will just have hand-edit app.css for this scenario in M7.

[2012-09-06 17:12] aerwin commented on #3271
@JonFerraiolo Ok, so this appears to be an issue for all widgets with width 100% (not just content pane). It shouldn't be hard to change everything back to 300px, but a shame after all of the work we did to size widgets appropriately early M7 development. :(

[2012-09-06 17:19] aerwin opened #3278 "Smart Input not coming up for any advanced widgets on create"
Using FF on MAc going to moketta...
1. New HTML file
2. Drag complex widget (e.g., Slider, GridX, Tree, etc.)
3. No smart input comes up
4. Also note that while new widget looks selected, toolbar items like delete icon are disabled

[2012-09-06 17:25] aerwin opened #3279 "TypeError: cs is null when reloading browser page"
Using FF on Mac going to moketta...

I've noticed this exception several times when coming back up from reloading the browser page. Seems to happen if there are a couple editors open before the reload. Not sure if there are side effects.

[code]

[2012-09-06 17:28] aerwin commented on #3279
Really does seem to require 2 editors be open... not seeing if only one editor open when reload the page.

[2012-09-06 17:28] peller commented on #3189
Thanks, @rbackhouse

We might be able to gather references to the widget(s) in our helpers, at least those already instantiated, which is all we care about.  @billreed63 Perhaps we could just put a call in to the helper to refresh all of the widgets and encapsulate all that info?

[2012-09-06 17:33] aerwin commented on #3278
Having trouble reproducing this one now... maybe it was related to some other exception... still playing around...

[2012-09-06 17:36] aerwin commented on #3278
Closing this one... must have been a glitch or related to one of the other issues I've logged today. Pretty much everyone's test plan should require using such widgets today, so imagine it will get caught if really an issue here.

[2012-09-06 17:36] #3278 closed, assigned to nobody

[2012-09-06 17:41] peller commented on #3248
@childsb please take a look at the maqetta.zazl code <a href="https://github.com/maqetta/maqetta/issues/3248#issuecomment-8321008">mentioned above</a>  The zazl version of the page (and zazl's config object) is constructed based on what is given for "all libraries" in the LibraryManager configured for that user.  That seems to be everything except for the custom widget.  I'm not suggesting there h

[2012-09-06 17:44] JonFerraiolo commented on #3272
I did a grep on getBounds and the only suspect is:

[code]

I noticed a similar problem yesterday where this._focuses did not have a value immediately after opening an existing file. I suspect it's a timing thing where the selection is set by the the focus objects haven't been initialized yet. One way to prevent the exception would be to put this conditional check before line 2088:

[code]

but it

[2012-09-06 17:46] aerwin commented on #3277
This also happens just trying to edit the label of the first button.

[2012-09-06 17:48] doronrosenberg commented on #3272
@peller

MenuHelper does this:

[code]

It is not finding menu in this case.  Should we switch to use Widget.byId instead of using dijit?

[2012-09-06 17:52] JonFerraiolo commented on #3275
Pushing to M8 @JonFerraiolo.

Yes, the drag/drop logic has imperfections in terms of figuring out where the blinking drop cursor should go, but this is a hugely complicated area of the code and definitely too risky to attempt to change at this late stage of M7.

In terms of the complexities, think about how the code might guess which is the "before" widget when dragging widgets in a flow layout. W

[2012-09-06 17:53] JonFerraiolo commented on #3275
@jhpedemonte

[2012-09-06 17:58] JonFerraiolo commented on #3277
@doronrosenberg @peller - maybe one of you two could grab this one?

[2012-09-06 17:58] aerwin commented on #3254
@billreed63

Closing... Bill tried with fresh build and workspace and can't reproduce. From ST he said: "works now, must have been https ".

[2012-09-06 18:01] peller opened #3280 "widgetHash leak"
davinci/ve/widget adds references to widgetHash, but never removes them

@JonFerraiolo

[2012-09-06 18:06] peller commented on #3277
-> @peller

[2012-09-06 18:10] JonFerraiolo commented on #3234
Just saw this again on the staging server when attempting a New Theme... command. The app just hung. When I hit browser refresh, the login screen came up. Unfortunately, I didn't have the debugger window open at the time.

[2012-09-06 18:11] doronrosenberg commented on #3272
@jhpedemonte @JonFerraiolo

So this only happens if you close and reopen the file, and my guess this is the culprit:

[code]

Once the file is reopened, the context in the closure returns null for getGlobal(), making me thing we are using the old context.  Probably leaking here as well then.

We need a better place to stash connects that we want destroyed when the document is closed.  We can add a

[2012-09-06 18:15] billreed63 commented on #3189
if this is of zazl, that is preview and the helpers to not run in preview

for page editor we already have code in the helpers that add `xhrScriptPlugin("http://maqettaservice.appspot.com/sampledatalistservice","callback");`` before the widget is created. due to the fact that we strip out all the script elements to prevent them from running in the page editor

DataStoreBasedWidgetInput.js

[code]

[2012-09-06 18:19] aerwin commented on #3234
Just saw these errors in my FF console when dragging a widget onto a page. No redirect to login or other indication in UI that my session had gone bad.

[code]

[2012-09-06 18:20] JonFerraiolo opened #3281 "Themeset dialog - this.focusNode undefined error upon clicking Save"
@billreed63 @jhpedemonte

I'm running the mainmenubar/themesets test suite on Win/FF with Firebug open.

The first part of the test case says to click the "+" icon a few times to add some theme sets, and then click "Save". Upon clicking "Save", I see that old nasty message deep inside of Dojo:

[code]

The changes to the themeset dialog seem to have been saved, so this one is probably not critical

[2012-09-06 18:23] jhpedemonte commented on #3278
Could have been a caching issue, maybe, given that we've changed several things at once on the server.

[2012-09-06 18:24] rbackhouse commented on #3189
I forgot to mention that I also removed the store attribute from the EdgeToEdgeDataList widget markup.

[2012-09-06 18:30] jhpedemonte commented on #3272
What about just keeping around a hash in the MenuHelper closure, based on the widget's id?  Then we don't need to worry about stashing the subscribe handle off of another object.  Makes sense since it's only used in MenuHelper.

[2012-09-06 18:33] jhpedemonte commented on #3234
Not sure why we'd get 401 and 403 errors.  That seems odd.

[2012-09-06 18:43] jhpedemonte commented on #3234
Also, both of these issues are related to working copies.  Wonder what's different about them?  @childsb, have any ideas?

[2012-09-06 18:46] jhpedemonte commented on #3234
Next time you see this error, stop immediately and ping me, so I can check the server logs and the state of your workspace.

[2012-09-06 18:50] JonFerraiolo commented on #3272
It seems to me that we have a general issue here about what to do about various connects and subscribes done by widget helpers. Those need to be cleared out when the widget is removed or the document/Context is removed. Isn't that the fundamental problem here?

Only technique I can think of is to recommend some sort of best practice in the widget development documentation, where we tell widget met

[2012-09-06 18:51] billreed63 commented on #3075
I updated the content type on the app spot service

[code]

[2012-09-06 18:56] doronrosenberg commented on #3272
@jhpedemonte the problem is that the listener is not being removed, so if you close the document and open a new document and focus something, the exception still happens even without a menu widget on the page.

@JonFerraiolo I would perhaps put it on context?  Have context.addHandle(dojo.connect(bla)) and then when context gets destroyed you would clear the handles.

[2012-09-06 18:58] jhpedemonte commented on #3272
Yes, an API like this would work best, since it is Context-related.

[2012-09-06 19:00] doronrosenberg commented on #3272
I assume this is an m8 thing though?

[2012-09-06 19:03] JonFerraiolo commented on #3272
Yes on context.addHandle and yes on M8 for this sort of a fix.

[2012-09-06 19:05] aerwin commented on #3075
Thanks, @billreed63 ... re-closing.

[2012-09-06 19:05] #3075 closed, assigned to jhpedemonte

[2012-09-06 19:13] billreed63 opened #3282 "Create High fidelity uses Sketch theme"
1) Create a desktop html file, select the sketch theme
2) DnD a button, not the button is sketch
3) Create a high fidelity html file
4) DnD a button note the button is sketch..

This may be the correct behavior it seems to be using the sticky theme from the last chosen theme...

[2012-09-06 19:16] jhpedemonte commented on #3279
@doronrosenberg @aerwin @billreed63 -> can one of you please investigate?

[2012-09-06 19:17] JonFerraiolo commented on #3262
On Win/FF running on the moketta staging server, when I bring up the Orion user interface, I don't see any way to open an HTML file in Maqetta. What am I missing? Two problems I see:
- The Action menu doesn't show any entries about opening in Maqetta
- Even if the Action menu had an "Open in Maqetta" command, I don't see how to select a file in the Orion navigator so that you could invoke "Open in

[2012-09-06 19:18] #3281 closed, assigned to doronrosenberg

[2012-09-06 19:19] JonFerraiolo commented on #3262
Oh, now I see how to do select with the Orion UI - click on the row, but not on the text. IMO, that's not a good way to go for the UI - way too obscure. If single-click will be used to bring up editor, then provide a checkbox or button to cause a select operation. @jhpedemonte: any opinions from a UI perspective?

[2012-09-06 19:22] doronrosenberg opened #3283 "Add a Context::addHandle - a place to put handles that get torn down when the document goes away"
Spun off #3272

Add a Context::addHandle - a place to put handles that get torn down when the document goes away

Basically the issue is MenuHelper was adding a listener that doesn't get removed if you close the document.  Adding a global method that handles teardown correctly can help avoid leaks.

[2012-09-06 19:23] aerwin commented on #3272
@doronrosenberg @jhpedemonte @JonFerraiolo

--> back to M7 (at least temporarily)

I agree fixing is risky, but I'm not so sure we can defer this one... I think the affects are wider spread than within one file being reopened...

I think I figured out how I hit the really bad #3278 earlier (that I had closed because I couldn't reproduce)...
1. Open file1.html (containing source in problem report)

[2012-09-06 19:23] peller commented on #3272
It may also need to be associated with the widget so that the handle is removed and/or reconstructed when the widget changes.

[2012-09-06 19:24] billreed63 opened #3284 "eclipse project has two app.css and app.js files"
I created an eclipse projected and noticed that I have
app.css and app.js in the root folder as well as an app.css and app.js in the WebContent folder

[2012-09-06 19:25] peller commented on #3272
The exception should be caught or avoided (or perhaps both)  The fix should still be deferred to M8.

[2012-09-06 19:27] doronrosenberg commented on #3272
@aerwin The exception should now no longer happen on trunk, so its handled but the underlying issue isn't fixed

[2012-09-06 19:31] aerwin commented on #3272
@doronrosenberg Ahhh, I missed the commit that gave the partial fix. Sorry... back to M8.

[2012-09-06 19:36] peller commented on #3189
Oh yeah, no helpers, and we probably don't want to add yet more maqetta-specific code to the page at runtime... which leads us back to putting a callback on the single require call.  Reconstructing those widgets sounds a bit messy anyway.

[2012-09-06 19:42] billreed63 opened #3285 "Table context menu select column and select row images reversed, remove row off screen"
![GitHub Logo](http://i.imgur.com/jPWQv.png)

[2012-09-06 19:46] jhpedemonte commented on #3256
@billreed63, is that correct? Anything else I need to look out for?

[2012-09-06 19:47] aerwin commented on #3285
I didn't add the images, but I can clean up the CSS.

The context menu being too long is covered by another issue. I believe you opened that one so I won't look up the number.

[2012-09-06 19:51] billreed63 opened #3286 "HTML Table: Insert column before adds row and column"
HTML

[code]

Select  row 1 column 2 (bgggxxx....)
right click to get context menu, select  insert column before

Note that a new row has been added above the old header row

[2012-09-06 19:52] billreed63 commented on #3286
insert column after adds row also

[2012-09-06 19:59] aerwin opened #3287 "Outline tree: Surround with div and undo problems"
@doronrosenberg

Sorry... more outline tree fun...

Using FF on Mac going to staging server...

Using HTML source at bottom of report
1. Select the leftmost button labeled "Button23"
2. Right click and select "Surround with Div"
3. Undo
4. Right click and select "Surround with Div" again and see exceptions:

[code]

HTML source:

[code]

[2012-09-06 20:05] aerwin opened #3288 "Surround with div -- div is oddly placed"
Probably for M8, and probably specific to absolute layout...

Using FF on MAc going to staging server... using HTML source below
1. Select leftmost button labeled "Button23"
2. Right-click and select "Surround with div"
3. While button is put inside of a div from a modeling perspective, the div isn't around the button from a rendering perspective:

![GitHub Logo](http://i.imgur.com/3elmL.png)

[co

[2012-09-06 20:06] peller commented on #3234
wonder if there's some confusion between dojo/xhr and dojo/request layers.  Each has its own error handler, and the new dojo/request seems to be getting used under the covers.  Perhaps we should register one on each to make sure we get called? [UPDATE: I'm assured that this isn't the case... dojo/xhr should still use dojo/io/error, for compat reasons]

[2012-09-06 20:08] JonFerraiolo commented on #3282
Pushing to M8 Prio-Low.

It could be argued that this isn't really a bug. The idea is that a user can choose a custom desktop theme for any of the desktop authoring modes (Desktop Application or Hi-Fi Sketching) and that the value should be sticky because usually a user wants to keep using the same theme. So, if he chooses to use Sketch for one of those two high-fidelity modes, well, that's the re

[2012-09-06 20:08] aerwin commented on #3286
@billreed63 Could you list out steps? You must have done something to add header row? E.g., did you check the header row box in table smart input at some point?

[2012-09-06 20:10] billreed63 commented on #3286
remove column does not refresh table. ![GitHub Logo](http://i.imgur.com/65qNV.png)

[2012-09-06 20:17] aerwin commented on #3286
@billreed63 For the remove column addition, I again need repro steps. And, doesn't it really sound like a separate problem?

[2012-09-06 20:18] peller commented on #3234
Perhaps we should instrument Workbench.handleIoError with some logging to assure it's getting called and see why the dialog isn't getting posted?  Seems like it should be...  How hard is this to reproduce?

[2012-09-06 20:23] peller commented on #3234
Also @childsb, didn't you say that workingcopy requests were abstracted away on the server?  Should the client ever see workingcopy files or use them in REST calls?

[2012-09-06 20:23] JonFerraiolo commented on #3288
Closing as dupe of #396. Added a reference to this issue in that issue.

[2012-09-06 20:23] #3288 closed, assigned to nobody

[2012-09-06 20:24] JonFerraiolo commented on #396
See notes in #3288

[2012-09-06 20:27] billreed63 commented on #3286
You can put them in separate issues if you feel that is best

To reproduce use the HTML at the top of the defect

then in page designer
For the remove column issue select any cell I selected row 2 column 3 and then used context menu remove column
for insert before
Select row 1 column 2 (bgggxxx....)
right click to get context menu, select insert column before

This was on FF 15

Are you not able t

[2012-09-06 20:29] jhpedemonte commented on #3256
@JonFerraiolo, what do you think we should do about sample files?  I'm thinking we leave them, in case the user has edited them in any fashion.  They can always create a new (clean) project.

[2012-09-06 20:31] aerwin opened #3289 ""Surround with" options appear where they shouldn't"
@JonFerraiolo @jhpedemonte

Opening against M8 since I'm sure this is far from new...

But, I think we have a lot of cases where the "Surround with" options are enabled where they make no sense being available...For example, with TabbedContainer, it doesn't make sense to surround the ContentPane for a tab  with &lt;span&gt; or &lt;div&gt; (and especially not &lt;a&gt;):

![GitHub Logo](http://i.im

[2012-09-06 20:35] billreed63 commented on #3256
For every dojo-theme-editer.html (custom themes), find and replace the dojo 1.7 string with 1.8
replace

[code]

with

[code]

[2012-09-06 20:37] aerwin commented on #3286
Well, one reason I wanted steps is that when I glanced at the HTML it didn't make sense:

E.g., the table smart input would put `&nbsp` chars in the `<th>` elements:

[code]

So, wondered if this is HTML you edited by hand or if the table smart input is generating unexpected HTML, etc.

And, then I guess I'm confused by your steps... so basically remove column fails and then the insert stuff fails

[2012-09-06 20:58] jhpedemonte commented on #3256
Committed a migration script to 8013696afb246989d0fef9e7c43672c64a76c569.

[2012-09-06 21:01] jhpedemonte commented on #3242
Committed and ran a migration script (see #3256).  Most of these issues should be fixed by that.

[2012-09-06 21:03] billreed63 commented on #3286
I created a 10x10 table with headers from the smartInput
I then double clicked in row 1 col 2 to get smartInput I entered `a<b>bbbbb</b>` clicked the html radio and then ok
I then selected row 1 col 2, right clicked to get the context then selecte insert column before

That is when I got a row inseted above row 1 and a col to the left  of col 2.

I said snap that is not what I want an click on the

[2012-09-06 21:08] jhpedemonte commented on #3242
I updated the summary, striking out issues that have been fixed by migration script.

For Eclipse projects, **app.js** and **app.css** still [show up outside](https://github.com/maqetta/maqetta/issues/3242#issuecomment-8278121) of **WebContents** folder.

[2012-09-06 21:25] aerwin opened #3290 "Case where div is hard to select and selection chrome is off"
@JonFerraiolo

Using FF on Mac going to staging server... making prio high just for investigation... but probably lower prio for M8...
1. Created a file as indicated by "Reorder commands" portion of VE 2 test case (see source at end)
2. Tried to select div and having problems
3. Managed to get it selected and see selection chrome doesn't make outline border... not sure what's special about the fil

[2012-09-06 21:26] jhpedemonte commented on #3242
Closing this bug.  The "samples" discussion can take place in #3256.  The other 2 remaining issues are handled in other bugs and don't seem to be migration specific.

If you encounter any other migration bugs, open a specific issue.

[2012-09-06 21:26] #3242 closed, assigned to childsb

[2012-09-06 21:34] jhpedemonte commented on #3234
@peller, please do (as long as the logging doesn't dump a bunch of info in the logs).

[2012-09-06 21:36] jhpedemonte commented on #3262
Well, that's the Orion UI.  We can open up bugs with them.  But in general, yes, very obscure UI.

[2012-09-06 21:40] #2328 closed, assigned to billreed63

[2012-09-06 21:40] jhpedemonte commented on #3285
@doronrosenberg @peller @JonFerraiolo

Is there a way to ensure that the context menu comes up in bounds?  There's no reason the context menu **has** to start at the cursor.  Most apps work around this issue by moving the context menu up (or down) so that it fits.  That might be an easy fix for M7.

[2012-09-06 21:42] jhpedemonte commented on #3286
@aerwin, please assess impact for M7.  It's getting late.

[2012-09-06 21:42] jhpedemonte commented on #3286
cc @JonFerraiolo

[2012-09-06 21:43] jhpedemonte commented on #3287
If this isn't a small, easy fix, will push to M8.  @JonFerraiolo

[2012-09-06 21:46] jhpedemonte commented on #3290
To @JonFerraiolo for input/investigation, but probably push to M8.

[2012-09-06 21:53] aerwin opened #3291 "Creation of HTML files in theme folders allowed which leads to missing css file"
Making prio high just for input/investigation, but surely an M8 issue...

Using FF on Mac going to staging server...

Found this one accidentally doing the Claro Theme Editor tests because I had opened my cloned theme from the files palette (as part of the test case) which lead to the default folder being in the theme directory...
1. Clone theme
2. Create HTML file in the cloned theme's directory.

[2012-09-06 21:59] JonFerraiolo commented on #3290
I see that that DIV has explicit width:480px and height:10px. On both Chrome and FF, the Maqetta-drawn selection chrome is perfectly placed around the bounds of the DIV.

The problem with FF is that FF has quirks with how it renders the 'outline' property, which we use to show a faint outline of certain HTML nodes such as DIV and SPAN. We have had other issues with FF and 'outline' where sometimes

[2012-09-06 22:04] JonFerraiolo commented on #3285
I would strongly push for deferral to M8. Any fix would almost certainly change common code in Workbench.js that is used by dozens of different menus. Note that the table commands are also available on the toolbar, so if a user says on the forum, hey, I can't get to all of the context menu commands, then we can say use the toolbar icon instead.

[2012-09-06 22:05] painbank opened #3292 "<% %> causes issues within parser of .html"
Step 1: Add an HTML Label to the page.
Step 2: Then in source, change the tag to look like this: (can be done in external editor if closed first)
<label style="position: absolute; z-index: 900; left: 59px; top: 177px;">
   <script type="text/template"><% song.input %></script>
   Label
</label>

which uses the Underscore.js library, for example called out above the Label:

<script type="text/javas

[2012-09-06 22:07] aerwin commented on #3285
There should be a separate issue opened for any menu length/position bugs if we don't think the one @billreed63 opened awhile back is sufficient.

I'm going to use this one to fix the icons (which is the core of the bug report).

[2012-09-06 22:13] jhpedemonte commented on #3291
Yeah, pushing to M8.  @JonFerraiolo

Ideally, we should only allow **theme folders** in the _themes_;  disallow any other type of creation or moving.

[2012-09-06 22:15] jhpedemonte opened #3293 "Make sure context menus are fully on-screen"
See #3285.  The context menu is long and drawn partially off-screen.  We should have logic to detect this and make sure that the context menu is fully on screen.

[2012-09-06 22:21] aerwin opened #3294 "Border on global text is drawn around whole theme"
@billreed63

Using FF on Mac going to staging server... working on Claro theme editor test case...
- The test case asks me to try and change border props on the global text widget. When I do that, it draws a border around the whole theme:

![GitHub Logo](http://i.imgur.com/FyGA8.png)

Perhaps someone will say this is working as designed... I never know with the theme editor. :)