[2011-11-15 14:45] JonFerraiolo opened #1230 "Resize absolute position DIV that is child of absolute position DIV - inner DIV shifts"
- New HTML File - choose composition type = Sketch
- Drag/drop a DIV
- Resize to about 300px by 300px
- Drag/drop another DIV inside the first DIV. You should see a 1em by 1em DIV
- Try pulling on bottom/right nob to resize the inner DIV

Result=> Upon mouseup, the inner DIV gets repositioned down and to the right

[2011-11-15 14:48] JonFerraiolo opened #1231 "Option/drag to copy a widget"
If option key is down while dragging a widget, then cursor should show a "+" and a copy operation should happen upon mouseup event

[2011-11-15 15:00] JonFerraiolo opened #1232 "Snapping to absolute positioned parent causes wrong initial location"
- New HTML File (composition type = Sketch)
- Add a DIV
- Resize to about 300px by 300px
- Drag/drop another DIV into the first DIV such that the new DIV's middle will snap to the parent DIV's middle
- Mouse up

Result => New widget shifts down and to left versus the drop location

[2011-11-15 15:44] JonFerraiolo commented on #1217
Fixed with ed0f90853d

[2011-11-15 15:44] #1217 closed, assigned to JonFerraiolo

[2011-11-15 15:48] JonFerraiolo opened #1233 "Snapping shouldn't snap to widget being dragged around"
Right now, when dragging around an absolutely positioned widget with SelectTool, the snapping logic allows a widget to snap to itself. This was often handy in order to keep one dimension of a widget the same and move the other dimension, but now that we have shift-key constrained move (#1217), we can probably remove the "snap to itself", which appears to interfere with other attempted snapping beh

[2011-11-15 18:39] waynevicknair commented on #1228
fixed in packaging script on Dojo build server. latest downloadable nightly on maqetta.org is now correct.

[2011-11-15 18:39] #1228 closed, assigned to waynevicknair

[2011-11-15 22:09] #1164 closed, assigned to childsb

[2011-11-15 22:10] childsb commented on #1160
this is working for me, maybe fixed with another bug.. please reopen if you still see this issue.

[2011-11-15 22:10] #1160 closed, assigned to childsb

[2011-11-15 22:19] childsb commented on #1117
Resolved by @JonFerraiolo.  @fprijate - Thanks for the bug.

[2011-11-15 22:19] #1117 closed, assigned to childsb

[2011-11-15 22:19] #1159 closed, assigned to childsb

[2011-11-15 22:21] childsb commented on #1008
This was fixed in an earlier sprint with feature to rename/delete projects.

[2011-11-15 22:21] #1008 closed, assigned to childsb

[2011-11-15 23:28] peller opened #1234 "Show coordinates in Focus ring"
show l/t/w/h as the focus ring is resized or moved

[2011-11-16 00:37] peller commented on #1234
@jonferraiolo

created 1234-feedback branch 407bcf952779711d1af716aa38d3f4b2f62fb49d

[2011-11-16 01:24] JonFerraiolo commented on #1234
See also #309.

For industry reference, Adobe Creative Suite offer an Info palette that shows x/y/w/h info as you move things around. Like all palettes in CS (e.g., color palette, layers palette, text properties palette), the Info palette floats on top of the canvas.

The version of PowerPoint that I have doesn't offer any ability to show x/y/w/h dynamically while dragging except that if you show

[2011-11-16 15:05] peller opened #1235 "Add dojoConfig.modulePaths to page only when needed"
@jhpedemonte

We should probably avoid writing out the 'widgets' modulePaths to the file unless the custom widget feature is used... in many cases, that would mean no modulePaths needed at all.  It complicates the source.  You might try just mixing it in to Context.prototype._configProps as you use the custom widgets feature...  and we would also need to take that out of the prototype

Also, the f

[2011-11-16 15:15] waynevicknair commented on #1225
fixed in commit d45988ac9dcb9aa74301d0c4e9545a742344615f

[2011-11-16 15:15] #1225 closed, assigned to waynevicknair

[2011-11-16 17:12] peller opened #1236 "dijit layer and parser dependencies"
7ece3f901a85055e0b38f8684182fe3b13f12797 In Context.js, I had to add dependencies in the user files for the dojo/parser in order to get the page to work in async.  @peller should follow up and find out why we didn't have to do this before.  I also added a reference to the dijit/dijit layer file, which is appropriate for most Dojo widgets, perhaps all of them.  This stuff belongs in the metadata, e

[2011-11-16 18:43] JonFerraiolo opened #1237 "New Folder problems"
- Clear out your workspace, clear browser cache and restart the server
- Launch Maqetta
- New HTML File
- Open up file list and click on New Folder
- Accept default "folder1"

Bug#1: "folder1" should be selected in the list and become the current parent folder - that's what most other S/W does
- Click on "folder1" to select it
- Click OK to attempt to create "file1.html" inside of "folder1"

Bug#2

[2011-11-16 19:47] billreed63 commented on #1024
- The (nested) tabs at the top should be pixel-perfect renditions of the claro theme nested tab treatment. I believe the only thing that is amiss now is the font, which can be fixed as follows (I believe):

#tcNestedParent .dijitTabContainerNested .dijitTabContainerTop-tabs {
background-color: white;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #131313;
}
- The first

[2011-11-16 20:22] billreed63 opened #1238 "Add Other tab to mobile theme editor"
Tab 5: Other - FixedSplitter, FixedSplitterPane, IconContainer, IconItem, Carousel, Overlay

[2011-11-17 00:14] peller commented on #1236
requiring dojo/parser explicitly is a new requirement for async loading.  There is code which includes dojo/parser for backcompat until Dojo 2.0

[2011-11-17 00:59] jhpedemonte commented on #1223
In general, there should be APIs for:
1. **package info**
   - Info from _package.json_ -- name, description, version, ...
   - generated info, such as URLs for contents of a package;  this would be mainly what _library.js_ does now
   - any library-level metadata/code
   - theme metadata (since it would be library-level, not widget specific)
2. **widget metadata info**
   - Info and code related

[2011-11-17 06:26] peller opened #1239 "Modify attribute on Dialog and it is no longer visible"
the serialization of the "open" property (equal to true) seems to corrupt the dialog

[2011-11-17 06:30] #1239 closed, assigned to peller

[2011-11-17 06:38] peller opened #1240 "provide errors for ineligible widget creation"
Tooltip: if not dragged to another widget (body)
TooltipDialog, Menu: error if dragged from palette to canvas.  Tell user to use a DropDownButton to trigger these popup widgets (for now)

[2011-11-17 15:59] waynevicknair commented on #1108
this issue is a duplicate of issue #1026

[2011-11-17 15:59] #1108 closed, assigned to waynevicknair

[2011-11-17 16:19] jhpedemonte opened #1241 "CSSParser breaks on non-quoted url() data types"
In CSS, the **url()** data type takes a string which can be quoted or not:

[code]

See https://developer.mozilla.org/en/CSS/uri.

The non-quoted variant breaks the CSSParser.

[2011-11-17 16:31] JonFerraiolo commented on #1241
Hope it's ok, but I changed to Priority-Low for M4. I'm worried that this bug will cause problems in short-term if not fixed.

[2011-11-17 18:15] peller commented on #1224
for now, limit popups to DropDownButton to fit in Dijit design.  There's no straight-forward way to make the PopupLauncher widget work declaratively without adopting much of what's in DropDownButton.

[2011-11-17 18:15] #1224 closed, assigned to peller

[2011-11-17 18:16] #1156 closed, assigned to peller

[2011-11-17 18:42] JonFerraiolo opened #1242 "Source editor comes up clipping off first 2 chars"
@waynevicknair

Using lab9 server. Seeing this with both Win/FF8 and Win/Chrome.
- New HTML File
- immediately go into split view

Result: leftmost characters are clipped. See http://i42.tinypic.com/24gzk.png

[2011-11-17 18:53] JonFerraiolo opened #1243 "Drag clone image is shifted when page is scrolled"
@peller

Maybe I introduced a bug with some of the changes I made to drag clone.

Steps: Add a bunch of content to a page until there is a vertical scrollbar, then drag/drop a CheckBox or other widget towards the bottom. The drag/clone box is shifted. if the drag/clone is off the bottom of the page, the drag/drop operation fails.

[2011-11-17 21:30] #1174 closed, assigned to jhpedemonte

[2011-11-17 22:40] peller opened #1244 "Exception dragging any widget on to the canvas"
regression seems to occur for me at a0c0ee74d35672999670d3a9a3d3d79627bed311

[code]

[2011-11-17 22:42] peller commented on #1244
[code]

`name` is "maqetta", `lib.$wm` is undefined

[2011-11-17 23:24] peller commented on #1242
yeah, it's a bug with the line number ruler.  It's not actually clipped.  The scrollbar just isn't all the way to the left.  Need to see if I can recreate it without Maqetta.  Easiest workaround is to remove the line number ruler.

UPDATE: the bug was unrelated to the line number ruler.  The bizarre logic we have in switchingEditorView which creates and destroys the editor a number of times, plus

[2011-11-18 00:22] jhpedemonte commented on #1244
I can't reproduce this.

I understand why it would be failing -- "maqetta" is a non-widget library and therefore `$wm` wouldn't be set.

However, when dragging widgets from palette, `name` should never be `maqetta`.  `name` will be the library ID for whichever widget is being dragged.  Since "maqetta" has no widget in the palette, it won't go down that path.

So while we could put a check here, I

[2011-11-18 00:22] jhpedemonte commented on #1244
cc @JonFerraiolo

[2011-11-18 00:32] jhpedemonte commented on #1244
Oh, I see.  I misunderstood the failure case.  It's not that the Palette is saying the user is trying to drop a widget from the library "maqetta" (which can't be the case).  Rather, this bit of code is looping over all libraries looking for a type.

I was able to reproduce by downloading the latest build.  Not sure why it doesn't show up when I'm running from source.

[2011-11-18 00:34] peller commented on #1244
FWIW, I'm seeing it from source.

[2011-11-18 00:37] #1244 closed, assigned to jhpedemonte

[2011-11-18 00:42] jhpedemonte commented on #1244
The reason I wasn't seeing it from source is that the order of the libraries is different for me.  The issue occurs when the function is called looking for the **html.body** widget.  In my case, the **html** library comes before the **maqetta** lib.  In the failing case, **maqetta** lib comes first and runs into the null value.

[2011-11-18 14:12] peller opened #1245 "selecting child of dialog from outline should pop up dialog"
dialog helper needs to always listen on widgetSelected for children

[2011-11-18 19:22] JonFerraiolo opened #1246 "States not working in preview-in-browser"
@peller, is there a bug for this already? I couldn't find one. Sorry if it's a dupe.

To reproduce:
- Add a Calendar, ComboBox, DIV, and two Buttons inside of DIV
- Add a new state (eg "aaa")
- Make the ComboBox invisible in state "aaa"
- Set onclick handler for first Button to go to Normal state
- Set onclick handler for second Button to go to aaa state
- Preview in Browser
- Click on the 2 butto

[2011-11-18 19:45] peller opened #1247 "helper support for Context Menu"
flip the visibility for dijit.Menu when in contextforwindow mode.  Also add something like "(context)" to the identifier on the properties panel.

[2011-11-18 21:49] billreed63 commented on #1024
coding of this feature is complete changes and bugs will be tracked by other issues

[2011-11-18 21:49] #1024 closed, assigned to billreed63

[2011-11-18 21:54] billreed63 opened #1248 "Custom mobile theme does not work in preview"
ASYN loading is breaking the loading of the custom theme map

[code]

I see a dojox.mobile undefined in the console

If I turn off the async loading the theme is loaded

[code]

[2011-11-18 21:57] billreed63 opened #1249 "preview mobile pages exception in dojo"
When I attempt to preview a mobile page I get the following exception from dojo
Uncaught Error: Tried to register widget with id==general but that id is already registered

I have track this down to dojox.mobile does not like the amd format for modules

this code works:

[code]

while this code does not:

[code]

[2011-11-18 23:55] peller commented on #1248
Yeah, I figured `dojo.getObject` might not work.  That, too, requires a require which I guess it would look like

[code]

but it might be cleaner to do this as a callback for require("dojox/mobile") which would pass back a reference to the newly created object.  I think themeMap can be defined after dojox/mobile, but must be defined before dojox/mobile/compat, right?

[code]

Alternatively, just d

[2011-11-19 14:40] JonFerraiolo opened #1250 "Mobile theme editor broken by recent commit"
@billreed63

The new mobile theme editor works in commit just before b1f4badf3eb037deb651f107f98a2a4e4da8d2bf and quits working with that commit.
- New theme...
- Choose android as the theme to clone, pick whatever name you want for the new theme

Result =>

[code]

[2011-11-19 15:01] peller commented on #1250
Jon, I've been seeing this also.  Are you sure it was that commit, and not the gigantic merge I mentioned a little bit prior to that at 2ae989290cebbe489fca8b39dc53436b6e7968d5?   (even clicking on that link hangs my browser)

[2011-11-19 15:46] JonFerraiolo commented on #1250
All I can say is that on Mac/Chrome, theme editor comes up for we went I do a git checkout 2ae9892 (or the commit just before b1f4bad) but fails when I do git checkout b1f4bad . (In both cases, before testing, I had removed my user workspace, restarted the server and cleared browser cache) I haven't looked at why things are failing. I was hoping you and/or Bill would figure out why the fixes are c

[2011-11-19 19:03] peller commented on #1250
ok, thanks for verifying that.  I think I need to make things sane before I can debug this one, though.

[2011-11-20 05:46] jhpedemonte commented on #1223
See https://github.com/maqetta/maqetta/wiki/Packages for info on using **package.json** with Maqetta.

[2011-11-20 22:48] jhpedemonte opened #1251 "Use existing file name in New File dialog, simply exits"
1. **New HTML Page**.
2. For file name, choose that of an existing file.
3. Click **Create**.
4. Dialog saying "File already exists" appears.
5. Click on **OK**

Both dialogs disappear.  A few days ago, I saw an error in the console, but now the New File dialog exits without error.

@JonFerraiolo

[2011-11-21 15:34] #413 closed, assigned to peller

[2011-11-21 15:35] #637 closed, assigned to peller

[2011-11-21 15:36] #1155 closed, assigned to peller

[2011-11-21 15:37] #1157 closed, assigned to peller

[2011-11-21 15:55] peller opened #1252 "selecting a tooltip inside a dialog brings down the dialog"
because the tooltip is not contained in the dialog (it's a top-level node)  Need special handling for this.

[2011-11-21 21:48] JonFerraiolo opened #1253 "Change class on mobile List clobbers innerHTML content such as IMG"
@jhpedemonte, @billreed63, @peller
- New HTML file with mobile silhouette showing
- Add View
- Add EdgeToEdgeList or RoundRectList
- Go to split view
- Change one of the ListItems source content from this:

[code]

to this:

[code]

(Notice that the 'label' attribute is gone and that innerHTML contains an IMG and a SPAN)
- Select the *List widget in the visual editor or outline palette. (Note: the

[2011-11-21 21:50] JonFerraiolo opened #1254 "Can't select *List widgets in Outline palette"
@jhpedemonte, @peller

I'm having troubles selecting *Rect widgets in the Outline palette in some cases. I have to refresh the browser for this to work agian.

However, I still need to find a reproducible case.

[2011-11-22 17:09] childsb commented on #1139
This appears fixed in a previous change.  Cloned themes no longer show as "read only" in the UI, and i'm able open/modify them upon creation.

please reopen if you continue to see this problem.

[2011-11-22 17:09] #1139 closed, assigned to childsb

[2011-11-22 17:12] JonFerraiolo opened #1255 "Dialog hides when changing title in source pane"
@waynevicknair

If I add a Dialog, and then go into split view and attempt to change the 'title' attribute to "Add new task" in the source view, there is a lot of screen flashing and the keyboard focus keeps moving out of the source pane, forcing me to have to click multiple times into the 'title' attribute before I can successfully enter all of the characters.

I recognize this might be a tough o

[2011-11-22 17:12] JonFerraiolo opened #1256 "How to set title on Dialog?"
@jhpedemonte, @billreed63

When I create a new Dialog, the title is "Dialog". How can I change the title? There is no widget-specific property and no smart input.

I would suggest that smart input on Dialog control the title, and that we add a widget-specific property for the title. Make sense?

See also: #1255

[2011-11-22 17:15] peller commented on #853
another issue is that the datePackage attribute becomes an object once the Calendar widget is instantiated, rather than a string, and the properties panel is unable to render and edit it.

[2011-11-22 17:15] peller commented on #1235
also, config.modulePaths should be replaced by config.packages

[2011-11-22 17:20] peller commented on #1256
just edit the title property

[2011-11-22 17:29] JonFerraiolo opened #1257 "How to control label strings and widths in composite widgets?"
(Note: @jhpedemonte is on vacation at the time this issue was raised)

@EldonReturn

Just suppose there was a widget library that included various composite widgets that included both an HTML <label> and a Dojo widget such as TextBox, and this composite widget was named something like MyWidget.form.TextBox. Perhaps some large company created a whole library of such widgets.

Users will need to edi

[2011-11-22 17:42] JonFerraiolo commented on #1256
gosh, I hadn't thought of that. All other text labels are found under Widget-Specific.

That still leaves the SmartInput question.

[2011-11-22 17:44] childsb commented on #1198
In editor.js I moved the model onChange event binding to AFTER the initial content is set.

[2011-11-22 17:49] childsb commented on #1040
Fixed with a couple commits #08dd0e7313fd2f7813d1a21c68ec9b257750d251  and others...

[2011-11-22 17:49] #1040 closed, assigned to childsb

[2011-11-22 17:56] billreed63 commented on #1249
The issue seems to be the

[code]

if I comment out that line in the mobile all is well

[2011-11-22 18:22] billreed63 commented on #1248
Adam is correct we need to modify the code to add the themeMap to dojox.mobile in the require callback for dojox.mobile

[code]

[2011-11-22 18:30] peller commented on #1256
It's a little weird that it uses the HTML TITLE attribute (normally used for a11y) but that's what it does.  I don't see the need for a smart input control.  I think that would only add complexity.

[2011-11-22 18:49] billreed63 commented on #1256
We need to step back think about where we want to go with smart input.. It seems like we are duplicating more and mor function from the properties palette in smart input, Maybe we need to redesign the properties palette to pop up in place of the smart input. Some how combine them into one UI

[2011-11-22 20:08] JonFerraiolo commented on #1256
@peller: We need SmartInput just like we have SmartInput for dojox.mobileHeading, TabContainer, AccordionContainer, TitlePane, you name it. If there is text in a header, we provide smart input for that text. We shouldn't ever put up a widget with placeholder text like "label" or "button" (or in this case, "Dialog") without giving the user a chance to change it upon creating the widget.

@billreed6

[2011-11-22 20:22] billreed63 commented on #1248
fixed with the above commit

[2011-11-22 20:22] #1248 closed, assigned to billreed63

[2011-11-22 20:32] JonFerraiolo commented on #1256
Furthermore :-) we should use the @title attribute for what is used for the "meaningful name" when the Dialog appears in the Outline palette or appears at the top of Properties palette when Dialog is selected

[2011-11-22 21:12] billreed63 commented on #1025
fixed by above commit

[2011-11-22 21:12] billreed63 commented on #1025
fixed by above commit

[2011-11-22 21:12] #1025 closed, assigned to billreed63

[2011-11-22 21:38] #1020 closed, assigned to billreed63

[2011-11-22 21:41] billreed63 commented on #1074
Works now, must have been fixed by some other commit

[2011-11-22 21:41] #1074 closed, assigned to billreed63

[2011-11-22 22:39] billreed63 commented on #940
TitlePane has a "content" property where content can be stored for the title pane, because of this property any change to the titlePane was putting all the children in the "content" property. I noticed several properties in TitlePane that where commented out with

[code]

So I commented out the "content" property as well, I think this is the desired approach for us if we did put content in this pr

[2011-11-22 22:42] billreed63 commented on #940
fixed with above commit

[2011-11-22 22:42] #940 closed, assigned to billreed63

[2011-11-23 14:48] #1246 closed, assigned to peller

[2011-11-23 15:09] peller commented on #1250
works for me

[2011-11-23 15:09] #1250 closed, assigned to peller

[2011-11-23 18:31] #1247 closed, assigned to peller

[2011-11-23 18:40] peller commented on #1255
Oh, ok, you have to be in the split pane view to see this problem.  You'll notice that when you select the Dialog in the outline it selects the wrong text, so I think what we're seeing is related to that bug.  Typing in the dialog shouldn't result in taking the focus off the widget, but it's probably doing that because the model is telling it the wrong info?

[2011-11-23 19:27] peller opened #1258 "model selection has wrong index into document"
In source view, select a widget in the outline view and the selection in the source editor does not match the widget.

possibly causing #1255

[2011-11-23 20:50] peller commented on #1249
@JonFerraiolo @jhpedemonte

So it boils down to a conflict between the two parsers, dojo/parser and dojox/mobile/parser.  Introducing require(["dojo/parser"]) into one of the dojox.mobile tests produces the same error.  Not surprising, since each parser runs if config.parserOnLoad is truthy, and they can't instantiate the same widgets.

I introduced the dijit/dijit and dojo/parser requires recentl

[2011-11-28 14:28] billreed63 opened #1259 "Add theme set selection to New File dialog"

[2011-11-28 16:42] JonFerraiolo opened #1260 "Background dialog: file picker and URL mapping"
The new Background dialog needs two fixes:
1. (For when image type is "image") implement the "Choose..." button to bring up a file picker and then stuff the result back into the dialog.

Right now there is no 'onclick' handler for that button. One way to add an onclick handler would be to add something like this after BackgroundDialog.js:128:

[code]

If the user chooses a file from the file picke

[2011-11-28 16:46] JonFerraiolo opened #1261 "Background dialog gradients: different icons that "+" and "-" for adding/removing stops"
@jmockler, @peller

The Background dialog has "+" and "-" icons for adding/removing gradient stops. These aren't good visual clues to the user, and are especially confusing since this is confusing versus the "+" and "-" icons on the Properties palette (which increments/decrements a property value). We need better icons. (Actually, right now, these aren't even icons - they are text)

Adam suggested

[2011-11-28 17:11] #1249 closed, assigned to peller

[2011-11-28 17:32] JonFerraiolo opened #1262 "Background dialog: miscellaneous"
@childsb

Various miscellaneous cleanup items on Background dialog:
- Move CSS definitions out of Background.html into davinci.css or whatever
- Radial gradients have various bugs, particularly around shape and extent. There seems to be problems with shape=ellipse (perhaps 2 values must be provided) and extent choices other than the default (farthest corner). Not sure how a user defines different

[2011-11-28 17:33] JonFerraiolo opened #1263 "Gradients not working with theme editor"
@childsb, @billreed63

Gradients are working with the page editor but not yet with the theme editor

[2011-11-28 18:37] JonFerraiolo commented on #141
moved to M5

[2011-11-28 18:37] JonFerraiolo commented on #144
Moved to M5

[2011-11-28 18:38] JonFerraiolo commented on #1172
Closing - not only mocked up, but implemented!

[2011-11-28 18:38] #1172 closed, assigned to JonFerraiolo

[2011-11-28 18:39] JonFerraiolo commented on #124
Moved to M5

[2011-11-28 18:39] JonFerraiolo commented on #130
Moved to M5

[2011-11-28 18:40] JonFerraiolo commented on #131
Moved to M5

[2011-11-28 18:40] JonFerraiolo commented on #133
Moved to M5

[2011-11-28 18:40] JonFerraiolo commented on #455
Moved to M5

[2011-11-28 18:42] JonFerraiolo commented on #83
Moved to M5. Maybe we have a reasonable UI model for parts of the UI makeover for the desktop theme editor by adopting a similar global-at-top + tabcontainer approach as we are using for the mobile theme editor.

[2011-11-28 18:49] JonFerraiolo opened #1264 "Mobile theme editor: first attempt to change property brings up global CSS file warning"
@childsb - Assigning to you with idea that you will know how to research/fix and maybe you have some bandwidth.

@billreed63

I'm getting an error dialog when I attempt to change a property after bringing up a mobile theme editor via the "New Theme..." command. I'm 99% sure the error dialog is coming from Cascade.js. The error dialog's title is "Error modifying value" and the dialog's contents rea

[2011-11-28 19:00] JonFerraiolo opened #1265 "Mobile theme editor: cannot set background-image, particularly gradients"
@childsb

Assigning to @billreed63 for a first look, but feel free to reassign back to me.

I can't get background-image changes to "take" in the mobile theme editor. With the mobile theme editor open and with the global widget selected, I tried manually entering `url(SampleBanner.jpg)` in the background-image text field on the Properties palette, but nothing happens in response. When I look in th

[2011-11-28 19:20] JonFerraiolo commented on #1265
The above note was about the "global widget". I tried setting background-image on Heading using the new gradient editing feature in the Background dialog and, what to do you, it **almost** works. I modified the Android's default gradient in the Background palette and then clicked OK. On the screen, no visual change. But then I saved the revised theme, then went to Heading.css in my new theme, and

[2011-11-28 19:24] JonFerraiolo opened #1266 "Mobile theme editor: exception in Workbench/switchEditor with browser refresh"
@childsb, @billreed63

If I have a single editor open which holds a mobile theme editor (clone of Android in my case), and then I refresh the browser (eg Cmd-R), after refreshing there is an exception in Workbench.js/switchEditor()

Assigning to myself to research this further. I'm seeing this in the built version. Haven't tested yet in Eclipse.

[2011-11-28 19:44] JonFerraiolo opened #1267 "Dojoj mobile themes: widget-specific styling in common.css?"
@peller

I was fooling around with the theme editor and ToolBarButton and I see that background-color and background-image come from Common.css. This seems wrong, but maybe I'm missing something. @billreed63: does this look like an expedient hack in Dojo Mobile's themes, or is it justifiable? If it was an expedient hack, we should talk with Dojo Mobile guys about it. (Although maybe too late to fi

[2011-11-28 19:52] JonFerraiolo opened #1268 "Mobile themes: shared styling between *Button"
@waynevicknair

I've been fooling around with mobile theme editor on ToolBarButton, Button and ToggleButton and wanted the same background on all 3. But each widget has it's own distinct CSS rules, so the background styling needed to be manually applied to all 3.

Is there a way with theme metadata to have the 3 widgets share the same background properties (and maybe other properties, too)? Is LES

[2011-11-28 20:02] JonFerraiolo opened #1269 "Mobile theme editor: background-color on TextBox"
I tried to change background-color styling on dojox.mobile.TextBox using mobile theme editor. I changed color to #2266aa and saved the theme, but a grep for 2266aa in the theme CSS files found nothing. Could we be missing background-color metadata for TextBox?

[2011-11-28 20:02] peller commented on #1266
what is the exception?

[2011-11-28 21:09] billreed63 commented on #222
move to M5

[2011-11-28 21:10] billreed63 commented on #1181
done

[2011-11-28 21:30] peller opened #1270 "Drag and drop a dojox.mobile.View results in an internal exception alert box"
@jonferraiolo

The exception happens in the select code, after all the important code in create has run.  So you see the widget on the page and it's functional, it's just not selected.

The exception is at StyleCommand line 85:

[code]

where newValues is not an array (it looks like {display:""})

[2011-11-28 22:29] billreed63 commented on #1259
@JonFerraiolo The new HTMLFIleOptions appears to be more complex than I excepted.

1) what is displayed when the user clicks on the pencil?
   a) The theme switching dialog
   b) The theme set management dialog

2) If the user choices a mobile composition style, do we only show theme sets and mobile themes in the themes or theme set dialog? Same question for other composition styles?

3) If the us

[2011-11-28 23:10] JonFerraiolo commented on #1270
Reassigning to @childsb to see if he can address before @jhpedemonte returns

[2011-11-29 00:38] JonFerraiolo commented on #1259
Exact same dialog user would see when they click on the "switch theme" button

Exact same dialog user would see when they click on the "switch theme" button :-)

The theme switching dialog allows the user to choose custom.css as the theme for all devices or for a specific device, doesn't it?
So, when in the theme switching dialog, (Case A) if the user chooses custom.css for all devices, then custo

[2011-11-29 03:33] #1240 closed, assigned to peller

[2011-11-29 03:37] peller opened #1271 "Feedback creating Tooltip with non-dijits"
Tooltip is only meaningful when attached to another dijit via connectid.  It doesn't work with HTML elements or other types of widgets (though it should work with dijit-based widgets like dojox and Jon's shapes)  Right now, tooltip works by dropping on another dijit, at which point it automatically assigns the target widget an id if it does not have one and wires up the connectid.  It's meaningles

[2011-11-29 03:40] peller opened #1272 "tooltip reference cleanup for removal, rename"
@JonFerraiolo

tooltips are established on the page as a child of body, attached to another dijit via connectid.

If the widget specified by connectid is removed, the associated tooltip should probably be deleted.  if the widget is renamed, connectid should be renamed.

[2011-11-29 04:04] peller commented on #778
In M3, edits to app.css didn't take in a preview without a browser refresh.  In trunk updates are visible by merely closing and doing a preview again.  Perhaps it was @waynevicknair's fix to the cache header that did it?

[2011-11-29 16:29] #778 closed, assigned to peller

[2011-11-29 16:55] peller commented on #1013
not sure I see the basis for the dup, but perhaps some clarification would be useful.  By "UI" so we mean the color change does not show up in the theme editor? (that's what I'm seeing -- the properties panel shows the change, but the global widget in the theme editor does not change color, nor does the change seem to "stick" if you select something else and come back)  I don't see the change refl

[2011-11-29 17:04] peller commented on #1013
I just tried it again, and now when I try changing the background color with the global widget selected, I get an error that the new theme is read only.  (All works fine in Chrome)  background-image says "url(images/calendarContainerImages.png)" which seems a little odd, but may be what the theme uses.

[2011-11-29 17:09] JonFerraiolo commented on #1013
The "new theme read-only" problem is a separate bug: #1264. You can make theme changes after reopening theme via Open Theme... command (if my memory is right).

[2011-11-29 17:47] billreed63 opened #1273 "Widgets not displayed when reopening html page"
I produced this on the nightly build, but was able to reproduce on my dev system with the latest code from git
Chrome/Win

1) Create html file
2) Drag n Drop TabContainer
3)  DnD button in TabContainer
4) Save file
5) Close file
6) Reopen file

Canvas is blank, but outline and source look correct.

[2011-11-29 18:00] billreed63 opened #1274 "Empty css files created (new no save)"
1) Create a new css file
2) Click the x on the tab
3) Click "ok" exit without saving

the css file is still in the tree

[2011-11-29 18:06] billreed63 opened #1275 "Desktop themes broken in theme editor"
1) Clone claro theme (c1)

when theme editor opens the theme is not applied to the widgets

Nightly build, 11/29 chrome/win

[2011-11-29 18:58] billreed63 opened #1276 "Wrong theme applied to page"
1) Create new html file
2) Switch theme
3) Change desktop theme, but leave mobile theme (device specific)
4) View source, notice that mobile theme has been added.

[2011-11-29 19:22] billreed63 opened #1277 "white-space missing from layout"
Properties palette basic tests (part 2)

display, opacity, float, clear, overflow

step 14) Set width to 100px, set white-space to 'nowrap', and set overflow to hidden. The text should be clipped at the edge of the DIV.

[2011-11-29 19:44] billreed63 opened #1278 "Save as html file is not displayed in file exploer"
1) Create new html file3.html
2) DnD button
3)save file
4) Close file
5) open file3.html
6) Save as file33.html
7) Preview in browser
8) Close file

file33.html is missing from the file explorer but if you try to save another file as file33.html I get the message the file already exists

[2011-11-29 19:53] billreed63 opened #1279 "Sticky note broken"
1) Create new html file
2) Click on sticky note
3)Change text in sticky note
4) Click ok

Sticky note disappears text added at div at bottom of html

[2011-11-29 19:57] peller commented on #1273
anything suspicious on the console?

[2011-11-29 20:03] billreed63 opened #1280 "New folder in file context menu wrong parent folder"
1) Clone a theme
2) in the file explorer navigate to the theme filer for example "themes/a1"  right click on "a1"
3) select  "Nwe Folder"
in the "Create new folder" dialog the parent folder is "./project1/themes" it should be ./project1/themes/a1

[2011-11-29 20:09] billreed63 commented on #1278
I just noticed that I have a project1 folder now has a '+' and when I click on the '+' file33.html is displayed directly under project1...

[2011-11-29 20:18] #1270 closed, assigned to childsb

[2011-11-29 20:21] billreed63 opened #1281 "Image widget throws internal error"
Create new html file

DnD Image widget

I get the
The "action was interrupted by an internal error."

message

[2011-11-29 20:27] billreed63 opened #1282 "Changes made in source editor are not reflected in visual editor"
1) Create new html file
2) DnD button
3) Change to split view
4)Change button label  in source view

The new label is not reflected in  the page editor

[2011-11-29 20:30] billreed63 opened #1283 "Missing context menu"
Cut/copy/paste/delete from context menu
Steps
    1) Standard setup things: Clear the browser cache. Launch the daVinci server. Login if necessary. In some cases, you'll want to a virgin user environment by creating a whole new user login.
  2)  Add a Button, an Accordion, ComboBox, Calendar, SPAN, DIV and a few LABEL elements to the page.
   3) Verify that the context menu commands cut, copy, pas

[2011-11-29 20:33] billreed63 commented on #1283
My bad, corrupted html file

[2011-11-29 20:33] #1283 closed, assigned to nobody

[2011-11-29 20:33] #1281 closed, assigned to peller

[2011-11-29 20:36] peller commented on #1282
works for me

[2011-11-29 20:42] childsb opened #1284 "theme editor / read only regression"
1) create a new theme, chose claro as the base theme
2) select button and try to change color
3) You get message "can not modify read only value"

Note:
If you close the theme editor and relaunch this goes away.

[2011-11-29 20:56] billreed63 commented on #1273
nothing in the console, but it seems to be limited to the tab container. Another interesting thing is that the tab container in sample1.html is displayed correctly

[2011-11-29 21:12] JonFerraiolo commented on #1273
Other container widgets are broken in other ways. TabContainer ends up with computed height of 0px. AccordionContainer has the wrong initial size. BorderContainer also had problems when I tested

[2011-11-29 21:13] JonFerraiolo commented on #1279
@peller

[2011-11-29 21:46] childsb opened #1285 "can't over ride border / margin / padding shortcuts"
From Properties Palette Test 3:

1) add a div
2) set the border to 1px solid black
3) modify any of the border sub properties (ex. border-top-color) and observe no change on the canvas.

[2011-11-29 22:59] JonFerraiolo commented on #1273
After doing some binary search through history, @peller and I suspect 8c515e2f780f45012421cd8bc1e8c9ec4921712d

[2011-11-30 01:23] peller commented on #1273
I was wrong.  It was a88dc607084d07b5ccc32a9b435a2af31c62f319 though I'm not sure why.  Brad, any ideas?

[2011-11-30 01:27] peller commented on #1273
Note that, following the instructions above, the content generated after a88dc607084d07b5ccc32a9b435a2af31c62f319 result in an empty page even when run outside of Maqetta.  It's got something to do with the content itself -- the delta being that there are width and height measurements on the widgets.

[2011-11-30 03:17] peller opened #1286 "Preferences have redundant "./" prefix"
Theme Folder, Widget Folder should just have "themes" and "lib/widgets" respectively

[2011-11-30 03:22] peller opened #1287 "Save/Cancel in Preferences dialog has inactive scrollbar"
At least in Chrome, there's a scrollbar without a thumb visible to the right of the Save/Cancel buttons in the Preferences dialog

One fix would be to increase the size of the 'bottom' pane, but a better fix and a way to simplify the code might be to remove the bottom pane from the BorderContainer entirely, putting the two buttons as peers to the BorderContainer, leaving just the two panes inside

[2011-11-30 04:56] peller opened #1288 "OpenFile dialog - tree is not nested"
all elements in the tree appear at the same level.  children should be indented

[2011-11-30 04:58] peller commented on #1242
problem still exists in standalone editors (e.g. when opening js and css files)

[2011-11-30 05:00] peller commented on #1288
same for new file dialog

[2011-11-30 05:04] peller opened #1289 "New Folder parent folder is not editable"
Textbox control looks like it should be editable.  The contents are not context sensitive and always seem to point to the top of the project, e.g. ./project1 (should not have the "./")  How would I create nested folders?

[2011-11-30 05:06] peller opened #1290 "new file dialog - filename persists after selecting folder"
click on sample1.html.  Now click on a folder you created (e.g. newfolder)  the folder location is selected, but it wants to create a file called sample1.html.  The filename probably shouldn't be carried over.  It probably doesn't make sense to populate the filename textbox with the filename of selected files either, since that's bound to result in an error condition.

[2011-11-30 05:11] peller commented on #43
still a problem for M4.  CSS has save buttons, JS does not.  Why?

see #1227

[2011-11-30 05:16] peller opened #1291 "Cannot create New HTML file in nested folder"
@JonFerraiolo

create new folder called "folder1"    Select it and choose file->new HTML file.  Where does not get set based on the selection (maybe ok)  Select folder1 and use the default filename of "file1.html".  Click OK.  An alert says folder already exists.  And then the following stack trace appears in the console:

[code]

[2011-11-30 05:47] peller opened #1292 "Switching themes hangs chrome"
I mean hangs... I can't even close the browser window.  I have to whack the process, and Chrome's usually pretty good about isolation.

On lab9 port 50010, I cloned a theme claro->claro1, I create a new html file, drag a button, then try to switch themes to claro1.  Hit OK and it hangs with the dialog up.

In the network panel, I see 3 unfulfilled requests for claro1.css, iphone.css and android1.c

[2011-11-30 05:56] peller commented on #1292
could this just be more firewall weirdness?  works ok for me locally and I'm starting to see similar hangs doing other things which involve xhrs, like dragging widgets from the palette...

[2011-11-30 06:03] peller opened #1293 "yui/jquery widgets fail"
I see 404s in the network console when trying to dnd widgets like jquery datepicker to the canvas.  It looks like a path/server/metadata issue.  Note the 'undefined' in the url:

http://localhost:8081/maqetta/user/undefined/ws/workspace/project1/lib/jquery-ui/jquery-1.4.4.min.js

[2011-11-30 06:06] peller opened #1294 "download selected files dialog overflows bounds"
click the download selected files button on the file palette.  Note that there's some extra space in the dialog.  The content overflows the dialog.  perhaps the height and width are being set on the dialog (shouldn't be -- dialog resizes based on its contents)

[2011-11-30 14:50] JonFerraiolo commented on #1293
Maybe reassign to @jhpedemonte?

[2011-11-30 15:42] JonFerraiolo opened #1295 "Create Button with absolute positioning - jumps back to flow positioning"
- New HTML File
- Using flow/absolute icon on toolbar, go into absolute posn
- Drag a Button into middle of canvas

Result=> Button jumps to top/left (i.e., flow posn). (TextBox works OK)

Best guess is that widgets that bring up SmartInput on creation will lose their absolute positioning

[2011-11-30 15:49] JonFerraiolo opened #1296 "Claro theme editor: can't set font properties on TextBox"
(Using Mac/FF) I'm trying out the steps in test plan for testing theme editor. In first section "Primitive widget theming" I tried to set font color and weight on TextBox. The Properties palette showed the new values but no changes are visible on the canvas, and save/reopen the theme shows no changes. However, changing border on TextBox did work.

[2011-11-30 15:56] JonFerraiolo opened #1297 "Choose custom Claro theme and mobile CSS files kick in"
- Clone claro into claro1
- New HTML file
- Click on switch theme button and in theme switch dialog choose "claro1" instead of "claro" for desktop theme

Result-> Canvas turns black
- Drag a Calendar onto canvas

Result-> Calendar gets mobile styling (e.g., larger-size font)

[2011-11-30 16:24] JonFerraiolo commented on #1296
@childsb - should have cc'd you on this one when I created it

[2011-11-30 16:38] JonFerraiolo commented on #1289
@peller, I'm not sure what this bug is about. Are you talking about the New Folder command on the top menu bar or the New Folder command on context menu of File palette or the New Folder button on New HTML File dialog, or something else? And which textbox control in particular is not editable? The parent folder textbox on the New HTML File dialog is editable when I tried it just now.

[2011-11-30 16:42] JonFerraiolo opened #1298 "Docs for deploying a Maqetta-created mobile app"
@jhpedemonte, @billreed63, @peller

Need to post public docs. Here are some notes:

To deploy your app so it works but with poor network performance:
- In Files palette, click on first icon (download entire workspace) to create a ZIP file for everything in your workspace. (Second icon allows you to download only selected files.)
- Transfer the ZIP file to your web server
- Create a new folder (e.g

[2011-11-30 16:43] peller commented on #1289
You raise a good point... we have at least one too many new folder commands!  But as far as I can tell, all three point to the same dialog code, and for all three I am able to select text but not alter the contents of the parent folder textbox.  Note that from New HTML File you must first click on the New Folder button associated with the turndown knob and tree to see this.  I'm testing in Chrome.

[2011-11-30 16:45] peller commented on #1292
closing this out as internal network glitches

[2011-11-30 16:45] #1292 closed, assigned to billreed63

[2011-11-30 17:01] billreed63 commented on #1275
Works on dev system...

[2011-11-30 17:04] billreed63 commented on #1297
Fixed by commit 1004829641899555a6bcd8e5ff715109562bed6a

[2011-11-30 17:04] #1297 closed, assigned to billreed63

[2011-11-30 17:05] billreed63 commented on #1276
fixed by commit  1004829641899555a6bcd8e5ff715109562bed6a

[2011-11-30 17:05] #1276 closed, assigned to billreed63

[2011-11-30 17:06] billreed63 commented on #1204
fixed 1004829641899555a6bcd8e5ff715109562bed6a

[2011-11-30 17:06] #1204 closed, assigned to billreed63

[2011-11-30 17:25] JonFerraiolo commented on #1298
More notes on doing builds:

When you deploy using the standard Dojo release, the profile actually shouldn't be too bad and may not require customization.  The require for "dojox.mobile" is optimized to include all the dojox.mobile dependencies as well as a handful of the most common widgets, so you should actually find that there are only a few .js network requests to fetch your page.  When runni

[2011-11-30 17:26] peller commented on #1298
So Preview 3 mobile apps run against a built version of Dojo, and the standard dojo.mobile profile seems to do fairly well.  Jon, I'm trying to remember why the dojoconf demo was unbuilt.  Perhaps it was assembled outside Maqetta?

DWB is not 1.7 ready yet, and we can refer people to the Dojo build docs to create their own profile, but that shouldn't be necessary most of the time http://dojotoolki

[2011-11-30 18:18] billreed63 commented on #1106
works now

[2011-11-30 18:18] #1106 closed, assigned to billreed63

[2011-11-30 20:58] waynevicknair opened #1299 "Outline panel: invisibility does not persist across save/reopen file"
on today's internal build. running outline palette tests. setting widget visibility section.

Steps:
1) create a new HTML file
2) drop in a TabContainer
3) drop a Button into the TabContainer
4) click the eyeball icon in the outline palette and verify that the TabContainer disappears
5) save the file
6) reopen the file

the result is that the outline palette visibility state for the TabContainer w

[2011-11-30 21:04] waynevicknair opened #1300 "Outline palette: cannot make a button invisible"
on Mac/Safari 5.1.2 with today's build

1) create an HTML file
2) drag a Button onto the canvas
3) click the eyeball icon in the outline palette to make the button invisible

result is that the outline palette blinks but the closed eye icon does not appear nor does the Button become invisible.

[2011-11-30 21:08] peller commented on #1299
I suggest retesting after #1273 is fixed

[2011-11-30 21:36] waynevicknair opened #1301 "Properties 3 Test: Undo/Redo sets props but not shown in palette"
Mac/Safari 5.1.2

Steps:
1) Issue a "New HTML File" command.
2) Drag two DIV elements onto the canvas.
3) Select the second DIV. Double-click and set text to "abc".
4) Go to Properties palette and set the border shortcut to "1px solid black", border-radius shortcut to "4px", 'margin' shortcut to "10px" and 'padding' shortcut to "5px".
5) Under 'border' property on Properties palette, choose the op

[2011-11-30 22:06] billreed63 commented on #1259
The code is done. If any bugs are found open new issues for them to insure all bugs are fixed

[2011-11-30 22:06] #1259 closed, assigned to billreed63

[2011-11-30 22:20] billreed63 commented on #1060
I can still reproduce on maqetta.org but that is preview 3 code. I can not reproduce on my dev system preview 4 code base.
So maybe it was fixed...

I guess we should leave this open and test it again on maqetta.org once preview 4 is deployed for testing..

[2011-11-30 23:04] JonFerraiolo opened #1302 "Rename sketch theme to LowFidelity theme"
Rename the "sketch" theme to "LowFidelity" to match terminology on the New HTML File dialog. Should be straightforward, right? Just rename files and change "sketch" to "LowFidelity" after doing a grep.

@waynevicknair: we will need to deal with this somehow in the migration scripts.

[2011-11-30 23:05] JonFerraiolo opened #1303 ""Wireframe" option uses claro instead of sketch/wireframe theme"
The 4th composition type on the New HTML File dialog is "wireframe". If I select that option, I should get the sketch/wireframe theme, but instead I'm getting claro.

[2011-11-30 23:06] JonFerraiolo commented on #1303
@waynevicknair

[2011-11-30 23:22] JonFerraiolo opened #1304 "Switch theme dialog fails on second switch"
- New HTML File - Mobile, iPhone, default theming
- Add a View and Heading
- Switch theme for all devices to "android"

==> good so far
- Switch theme for all devices to "blackberry"

Result=> white background and 2 black unstyled "Heading" blocks on screen, indicating no styling

It doesn't seem to matter which themes are used. It seems to fail on the second theme switch.

[2011-11-30 23:27] JonFerraiolo opened #1305 "Switch blackberry device theme to android, you get iphone"
- New HTML File: Mobile, blackberry, accept default theme
- Add View and Heading
- Switch theme dialog. For blackberry device, change theme from blackberry to android.

Result=> iPhone styling, not android styling

[2011-11-30 23:43] JonFerraiolo opened #1306 "Global button styling widget for mobile theme editor"
@jhpedemonte

I realize this is a late feature request, but I think we should hold up shipping until we do this. I'm hoping it's just a day or two of work. I might be able to do this if @billreed63 is unavailable.

Right now there are a handful of dojox.mobile widgets that use the same background color: Heading, ToolbarButton, Button, a few more. To change this color in the current theme editor, t

[2011-11-30 23:56] JonFerraiolo opened #1307 "Border properties not working in mobile theme editor on ComboBoxList"
@billreed63

In Mobile Theme editor, changing border properties on ComboBox list widget doesn't change anything visually on the mobile theme editor canvas.

This is probably a theme metadata bug, but the ComboBox list "widget" in the theme editor is more of a fake widget that provides the user the ability to edit the styling on the menus that pop up from the ComboBox widget.

[2011-12-01 00:04] JonFerraiolo opened #1308 "Custom theme shows as %20.css in preview-as-browser"
- New HTML File, choose Mobile, Android, and click on pencil icon. Choose custom theme for all devices
- Add a View and Heading
- Preview in browser

Result=> Nothing shows and debugging console shows this:

`States.js:1108Uncaught TypeError: Cannot read property 'parse' of undefined
http://localhost:8081/maqetta/user/maqettaUser/ws/workspace/project1/lib/dojo/dojox/mobile/themes/%20/%20.css
Faile

[2011-12-01 05:20] #1252 closed, assigned to peller

[2011-12-01 15:36] #1273 closed, assigned to childsb

[2011-12-01 15:37] JonFerraiolo opened #1309 "BackgroundDialog problems with non-default cascade choices"
@childsb

The BackgroundDialog logic changes mutliple properties at once, and this causes problems with Cascade.js logic when a non-default choice is made about which style rule to target.

I tried to change background properties in a Calendar with a custom CSS class in app.css. Changing background-color in the dialog targeting a new CSS rule actually worked, but probably there are multiple proble

[2011-12-01 15:51] JonFerraiolo opened #1310 "change line-height on a DIV, selection is wrong size"
@peller
- New HTML File
- Add 2 DIVs
- For second DIV:
  - Set width to 400px
  - Set text to abc (via smartinput)
  - In Properties palette, set line-height to 40px

Result=> Selection box is wrong size. Still wrong after unselecting and reselecting

[2011-12-01 16:00] peller commented on #1309
I noticed a for loop in Cascade which accumulates hashes.  Was this deliberate?

[2011-12-01 16:15] billreed63 commented on #1304
This is a video bug, if I switch to source and then back the proper style is displayed

[2011-12-01 16:39] JonFerraiolo commented on #60
@peller, @jhpedemonte

Can we close this bug or at least defer it to M5? Won't the review/commenting code get built automatically when the R/C code is integrated into the core?

[2011-12-01 16:40] JonFerraiolo commented on #1279
Reassigning to @peller because @billreed63 is all booked up on mobile theme editor issues

[2011-12-01 16:41] JonFerraiolo commented on #1265
Closing this bug. Background images and gradients are working now with the mobile theme editor.

[2011-12-01 16:41] #1265 closed, assigned to billreed63

[2011-12-01 16:45] JonFerraiolo commented on #1309
Do you have a line# for Cascade.js? There's a lot of code there.

[2011-12-01 16:48] peller commented on #60
yes.  Pushing to M5.

[2011-12-01 16:54] peller commented on #1309
yah sorry, had to dial in to some daily conference call :-)

I was thinking of Cascade.js around line 200 and meant to bring it up.  The var "a" was reused and accumulated values.  Looks like @JonFerraiolo fixed it c33767f83fedf1171c872a54ed657dbb236e2a5c

[2011-12-01 16:58] JonFerraiolo commented on #1265
Oops, reopening. I thought this was fixed, but no it isn't

[2011-12-01 18:58] billreed63 commented on #1308
fixed by above commit

[2011-12-01 18:58] #1308 closed, assigned to billreed63

[2011-12-01 19:29] billreed63 commented on #1282
me too

[2011-12-01 19:29] #1282 closed, assigned to peller

[2011-12-01 20:20] childsb opened #1311 "can't create new file in 'single user mode'"
1) clean workspace
2) launch maqetta in single user mode
3) try and create a new HTML file.  You'll get error "lastDialogValues is undefined"
4) new file dialog never shows up.

[2011-12-01 20:23] childsb commented on #1293
A couple notes here--
- Adam is running in "single user mode".  The "undefined" should be "maqettaUser" or something similar.
- You must copy the YUI/JQuery deps into your plugins to try this in dev mode

I can't reproduce this.

[2011-12-01 20:30] #1311 closed, assigned to nobody

[2011-12-01 21:16] childsb opened #1312 "no toolbar in javascript editor"
1) create a new javascript file
2) once the editor comes up, notice that there's no save or save as icon to save the file.

[2011-12-01 21:17] JonFerraiolo opened #1313 "Remove hard-coded list of particular libraries in Context.js"
@peller

There is the following code in Context.js:

[code]

where ZZZZZ is a hard-coded library name. We need to find a way to remove this particular hard-coded library reference

[2011-12-01 21:20] peller commented on #1312
dup of #1227?

[2011-12-01 21:39] JonFerraiolo opened #1314 "Dialog doesn't expand to fit its content"
- add a Dialog
- drag/drop Calendar widgets until the Calendar drop off bottom of Dialog

Result=> No auto-resizing of Dialog based on content

[2011-12-01 21:42] childsb commented on #1312
yup sorry, closing.

[2011-12-01 21:42] #1312 closed, assigned to peller

[2011-12-01 21:46] JonFerraiolo opened #1315 "Menu content disappears when clicking inside of Menu"
@billreed63
- Add a Menu, you get a menu with 3 items
- Click on one of the items

Result=> the given menu item gets selected and you can change its label string in widget-specific properties, but the Menu (and therefore the menu item's text) have become invisible.

Regarding how the UI should work for Menu, we should have consistency between all of the other widgets that produce a menu, such as C

[2011-12-01 21:49] JonFerraiolo opened #1316 "Menus take up visible space on canvas even when not active"
- Add a Calendar
- Add a Menu
- Add a Calendar

Result=> You will see 2 Calendar widgets on the screen, but with space between the two calendars, where the space is equal to the height of the Menu

[2011-12-01 21:53] JonFerraiolo opened #1317 "Adding a Tooltip produces an exception upon dropping onto canvas"
I didn't debug into where exactly things are failing, but dimes to dollars it is somewhere within the createWidget() logic where we invoke the widget constructor (because that's where 90% of such exceptions occur)

[2011-12-01 22:14] billreed63 commented on #1305
fixed by above

[2011-12-01 22:14] #1305 closed, assigned to billreed63

[2011-12-01 22:17] childsb opened #1318 "Update Properties Palette Basic tests part 5 (background)"
Update the properties palette basic test #5 around background with gradient changes.

[2011-12-01 22:32] childsb opened #1319 "save as in single project mode defaults to "./project1/fileX.html""
1) launch maqetta in single user mode
2) create or open a html file
3) do "save as"
4) notice the ./project1 prefix

[2011-12-01 22:50] billreed63 commented on #1304
fixed above

[2011-12-01 22:50] #1304 closed, assigned to billreed63

[2011-12-01 22:51] billreed63 commented on #1275
working now

[2011-12-01 22:51] #1275 closed, assigned to billreed63

[2011-12-01 23:05] #1317 closed, assigned to peller

[2011-12-01 23:51] peller commented on #1314
so noted.  A default size is assigned to the Dialog in metadata, which prevents resizing (and perhaps shouldn't even be allowed)  Without a size, Dialog acts a little quirky in the visual editor.  Need to look at this more.

[2011-12-02 00:45] JonFerraiolo opened #1320 "Non-public project in launch script"
@waynevicknair

Maybe this has no side-effects, but thought it was important to ask: Is it a mistake that `maqetta single-user.launch` and  `maqetta multi-user.launch` lists the following project (`davinci.oneui_2010_08_02@default:`) that isn't in the public repository?

[2011-12-02 01:56] #1315 closed, assigned to peller

[2011-12-02 03:42] peller commented on #1198
I still see this problem

[2011-12-02 04:36] JonFerraiolo opened #1321 "Put z-index:0 on Heading and probably other mobile widgets"
Can't put clipart on top of Heading using absolute positioning within putting z-index:0 on the Heading. Probably need it on other mobile widgets, too

[2011-12-02 05:13] JonFerraiolo opened #1322 "Preview doesn't work if choose custom theme from New HTML File"
- New HTML File
- Choose options Mobile, Blackberry, and click on pencil icon and set the theme for all mobile devices to "custom"
- Add a View and a Heading
- Save
- Preview

Result=> Nothing shows in preview - silhouette is there but nothing is inside

Note that if you accept the Blackberry theme from the New HTML file dialog and then switch theme in the page editor, then preview will work fine.

[2011-12-02 15:58] billreed63 commented on #1322
when the file is created it is created correctly

[code]

when the first widget is drop the file is butchered, the dojo/dojo.js is moved below the requires

[code]

[2011-12-02 17:11] JonFerraiolo opened #1323 "(Built version) Clone claro or sketch: theme editor comes up unstyled (until refresh)"
@peller, @jhpedemonte

Maybe @peller can take this bug if @billreed63 doesn't have time.

Found this running the built version of today's daily build. Can't reproduce launching from Eclipse. When running built version, I'm seeing this in both Mac/Chrome and Mac/Firefox
- Close server, remove user workspace, restart server.
- Launch built version of Maqetta (e.g., I'm using http://maqetta.org/night

[2011-12-02 19:37] billreed63 commented on #1322
The root of the problem is the first time we drop a widget we search for the requires in ve/context.addHeaderScriptText for example

[code]

In the case of mobile we have added a function, so the search fails

[code]

So when we add the dojox.mobile requires we add the script element back in as the first child of the head...

[2011-12-02 20:22] billreed63 commented on #1322
fixed by above

[2011-12-02 20:22] #1322 closed, assigned to billreed63

[2011-12-02 20:32] JonFerraiolo opened #1324 "Investigate cache busting with preview"
@peller, @jhpedemonte, @billreed63

This is a bug to remind me to study this issue and write up bugs for any problems discovered.

What I saw just now: Running from _Eclipse_, I created a mobile page with custom theme and hit Preview in browser. Instead of seeing custom.css, I saw iphone.css. Then I did a ctrl-refresh to refresh with cache clearing, and then I saw custom.css. I'm worrying that we

[2011-12-02 20:41] JonFerraiolo commented on #1263
Gradient dialog comes up now, but it looks like we aren't sending out the array of CSS value updates and only the W3C syntax for gradients.

[2011-12-02 21:19] #1284 closed, assigned to childsb

[2011-12-02 21:22] childsb commented on #1013
Fixed with checkin 712397781125563492ff8c8e29632ac3c82515b3

[2011-12-02 21:22] childsb commented on #1264
fixed with check in 712397781125563492ff8c8e29632ac3c82515b3

[2011-12-02 21:22] #1264 closed, assigned to childsb

[2011-12-02 21:36] peller opened #1325 "focus box clipped by viewport"
go into split view (horizontal bar) and make the design view very short... shorter than a calendar widget.  Now drag a calendar widget on to the page.  Note that the focus box has the bottom to align with the bottom of the view, not the bottom of the widget.  The bottom resize handle is in the middle of the widget.  The focus box should go off screen.  The code that makes the focus box fit in view

[2011-12-02 22:23] #1303 closed, assigned to billreed63

[2011-12-02 22:23] JonFerraiolo opened #1326 "Background palette: make gradient color field wider"
Make it wide enough to show rgba(255, 255, 255, 0.6)

[2011-12-02 22:49] JonFerraiolo commented on #1325
I'm not sure about what's the right approach here, I'd have to play around with it a bit, but here go some thoughts.

Down the road, we will probably used a fixed size for BODY (eg 1024x768) instead of our current "scroll to infinity and beyond" approach. In that case, we should back off selection in case it would extend beyond the 1024x768 bounds.

For the current scenario, however, things might

[2011-12-03 00:17] JonFerraiolo commented on #1295
No longer a problem with latest code. Closing.

[2011-12-03 00:17] #1295 closed, assigned to JonFerraiolo

[2011-12-03 00:18] JonFerraiolo commented on #1141
Thanks to a ton of work, closing

[2011-12-03 00:18] #1141 closed, assigned to JonFerraiolo

[2011-12-03 00:19] JonFerraiolo commented on #586
Pushing to M5 to be included after review/commenting integration into core

[2011-12-03 00:20] JonFerraiolo commented on #1302
This one will be put on hold temporarily why we work through terminology issues on the New HTML File dialog.

[2011-12-03 00:44] peller commented on #1279
works for me.  perhaps related to the stylecommand regression?

[2011-12-03 00:44] #1279 closed, assigned to peller

[2011-12-03 00:59] #1232 closed, assigned to JonFerraiolo

[2011-12-03 01:39] JonFerraiolo commented on #1185
Artwork was fixed a few weeks ago within branch, merged in a couple of days ago.

[2011-12-03 01:39] #1185 closed, assigned to JonFerraiolo

[2011-12-03 02:29] #1314 closed, assigned to peller

[2011-12-03 02:31] #1245 closed, assigned to peller

[2011-12-03 02:31] peller commented on #1245
Fixed in d68ccbf98333dc1a9df4830ab1689459addfdeef

[2011-12-03 02:33] peller opened #1327 "Shouldn't be able to reposition dialog in visual editor"
@jhpedemonte, @JonFerraiolo

dijit.Dialogs are centered on screen.  Just like we don't allow sizing the dialog, we also need a restriction for placement by the Focus code.

[2011-12-03 02:44] peller commented on #1325
I'm not sure I see the issue here.  I was just speculating about what code was causing this bug.  This is for the non 100%x100% case.  The widget extends off screen.  The focus box should not be bound by the visible viewport, but should extend out of view, and the nobs should align with the actual widget, whether in view or not.

[2011-12-03 05:11] #1325 closed, assigned to peller

[2011-12-03 05:14] JonFerraiolo commented on #1325
I dug in and here's the deal. I had added logic to Focus.js to prevent (really ugly) scrollbars from appearing in mobile UIs whenever Views were selected. My logic checked to see if the selection was bigger than the viewport, and if so, pulled the selection so it was no bigger than the viewport. But as pointed out in this issue, there was a side effect when selecting a widget that extended off the

[2011-12-03 06:24] #1103 closed, assigned to JonFerraiolo

[2011-12-03 15:59] peller commented on #1079
looks ok now?

[2011-12-03 15:59] #1079 closed, assigned to peller

[2011-12-03 17:12] JonFerraiolo commented on #1079
as best as I can tell

[2011-12-05 05:01] #1316 closed, assigned to peller

[2011-12-05 14:10] peller opened #1328 "jQuery and YUI widgets not working"
tested on lab9

dnd a YUI Calendar on the page and get

[code]

dnd a jQuery DatePicker and get something similar

[2011-12-05 14:17] peller opened #1329 "'undefined' error in path when not authenticated"
Log in to lab9, create a file called file1.html, save it.

Clear cache/restart browser and reenter lab9.  The workbench will attempt to load but fail with errors like:

[code]

rather than give some visual indication that the user needs to log in or bouncing the user to an authentication page.  note the 'undefined' in the url, which implies some earlier error which probably should have halted exec

[2011-12-05 14:22] peller opened #1330 "states fail at runtime"
@JonFerraiolo

New file.
Create a button and a calendar.
Create a state called 'aaa'. Switch to that state.
Click on the calendar and then click the eyeball to make it invisible.
Go back to the normal state and click on the button.
In properties/events, set the onclick event to set the state to aaa.
Save.
Switch states from the states palette and note that the calendar disappears/reappears as appr

[2011-12-05 15:20] #1296 closed, assigned to billreed63

[2011-12-05 18:13] peller opened #1331 "bad url when opening themeEditor"
@childsb

seems harmless.  unable to find dojo.css at the following url

GET http://localhost:8081/maqetta/user/maqettaUser/ws/workspace/project1/themes/claro/project1/lib/dojo/dojo/resources/dojo.css 404 (Not Found)

error appears on console when opening the theme editor

[2011-12-05 18:33] billreed63 opened #1332 "404 when opening theme editor"
GET http://localhost:50000/maqetta/user/maqettaUser/ws/workspace/project1/themes/claro1/project1/lib/dojo/dojo/resources/dojo.css 404 (Not Found)

[2011-12-05 18:34] #1332 closed, assigned to billreed63

[2011-12-05 19:09] billreed63 commented on #1331
fixed by #1332

[2011-12-05 19:09] #1331 closed, assigned to billreed63

[2011-12-05 22:54] JonFerraiolo opened #1333 "MenuHelper: just check for page editor?"
@blilreed63

I'm still getting exceptions in MenuHelper when doing things in the theme editor. Earlier fixes checked menu.properties, but now sometimes I get 'menu' is undefined.

Can we just put a check in MenuHelper to see if the current editor is a page editor so that MenuHelper doesn't try to do things when the theme editor is running?

[2011-12-05 22:57] JonFerraiolo opened #1334 "Some things to investigate in Cascade.js"
@billreed63

In debugging into Cascade.js while theme editor is running, I saw a couple of things that should be analyzed to make sure there isn't an inherent problem:
- Cascade.js:696 - the 'found' logic may be using first value rather than last value
- valueArrayNew - how does this new logic relate to theme editor?

[2011-12-05 22:59] peller commented on #1333
that might just be masking a bug.

Which revision are you running and how do you reproduce the problem?

[2011-12-05 23:01] peller commented on #1333
in particular, are you running with 86d9685d817f49f8fedef30dc13ab87e420fb8cd

[2011-12-05 23:38] jhpedemonte commented on #1256
I don't like the idea of using Smart Input for the dialog title.  It doesn't flow with with our the use of Smart Input elsewhere in the Maqetta, where it is used to set the content of the widget.  The dialog's title isn't it's content -- therefore Smart Input doesn't make sense for that.

Now, in the future, if we instead allow direct editing of text on the screen (instead of a Smart Input popup),

[2011-12-05 23:54] jhpedemonte commented on #1261
If we can't figure out something for this quickly, I would say go with Adam's suggestion for M4, then leave open for M5 for further work.

[2011-12-06 00:19] jhpedemonte commented on #1271
I don't think we can easily handle this declaratively.  As you stated, we would have to have some way of tagging every Dijit-based widget.

Best to do this programmatically in a helper, where the tooltip helper can check if the attached widget is Dijit-based.

[2011-12-06 00:53] jhpedemonte commented on #1285
We should investigate for M4, but if it's too involved to fix, may get pushed to M5.

@JonFerraiolo

[2011-12-06 01:35] jhpedemonte commented on #1294
Is this about how if you select a **single file** and then click on the **Download Selected Files** button, there is some empty space under the file location?

[2011-12-06 01:36] peller commented on #1271
is there a hook for helpers to make this determination?

[2011-12-06 01:55] peller commented on #1294
there is some unnecessary space, yes, but I was just making a note of that.  The bug was that the contents didn't fit in the dialog.  I can't seem to reproduce that problem now.

[2011-12-06 01:55] #1294 closed, assigned to childsb

[2011-12-06 02:34] jhpedemonte commented on #1299
Still broken after #1273 fix, but it's now a bit different than what Wayne described.

I see an error in console in **davinci.ve.commands.StyleCommand**.

[2011-12-06 02:39] jhpedemonte commented on #1306
Isn't this really an issue with the Dojox Mobile CSS files?  I believe Dijit works correctly:  background is defined in one place and affects all widgets (correct me if I'm wrong).  Dojox Mobile should do likewise.

[2011-12-06 02:43] jhpedemonte commented on #1311
Was this fixed (which commit)?  Or invalid bug?

[2011-12-06 02:54] jhpedemonte commented on #1300
This is working for me with Dec 4 nightly.  But still getting console error as in #1299.

[2011-12-06 02:54] #1300 closed, assigned to waynevicknair

[2011-12-06 02:57] jhpedemonte commented on #1319
Dupe of #1278.

[2011-12-06 02:57] #1319 closed, assigned to childsb

[2011-12-06 03:25] jhpedemonte commented on #1271
No, unfortunately, we'd need to create another one, pre-create.

[2011-12-06 13:55] JonFerraiolo commented on #1306
I'm pretty sure it's an issue with the mobile theme metadata. There is a special syntax in the desktop/claro theme metadata for the global stuff. We just haven't written the corresponding metadata for mobile.

[2011-12-06 13:56] billreed63 commented on #1306
They may be set using a LESS variable but we use the post LESS versions of the CSS files. At that point the LESS variable in the css rule has been replaced with the corresponding value. Mobile uses the same approach.

the background color is scattered around the rules in dijit just like mobile.

[2011-12-06 14:00] JonFerraiolo commented on #1261
Very good chance we will have nice new icons that can be integrated quickly and easily in time for M4

[2011-12-06 14:02] JonFerraiolo commented on #1256
Doesn't go with flow? SmartInput is used for titles for Accordion, TabContainer and TitlePane. In fact, consistency is a primary argument for using SmartInput for title on Dialog. The content for Dialog is filled in by dragging/dropping from widget palette. It is perfectly parallel with Accordion, TabContainer and TitlePane in that respect.

[2011-12-06 14:05] JonFerraiolo commented on #1333
yes, I pulled down that commit and I'm seeing a different exception occasionally in the theme editor where "menu" is undefined. The commit checks to see if menu.properties is undefined, not menu.

But isn't the menu helper only supposed to act on things in the page editor? Why would we want this logic to run at all when in the theme editor?

[2011-12-06 14:28] peller commented on #1333
Aren't all helpers generally active in the theme editor, just as no-ops?

[2011-12-06 15:46] JonFerraiolo commented on #1333
If a helper gets invoked by the theme editor (which is case now), then the helper is a no-op only if the helper does nothing. We could head off at pass by having calling function check to see if current editor is page editor.

[2011-12-06 16:14] peller commented on #1333
And this helper should do nothing in the theme editor case.  We could kludge around this by avoiding the bug when in theme editor.

But as an aside, do we use helper functionality at all in the theme editor?

[2011-12-06 16:42] waynevicknair commented on #1196
Fixed with commit be09dd6c5dd0db9eb488e54b02bd122eb5e90d0d -- made statusReporter only display errors in console.

[2011-12-06 16:42] #1196 closed, assigned to waynevicknair

[2011-12-06 17:00] peller commented on #520
...and dojox.mobile.Opener

[2011-12-06 17:16] billreed63 opened #1335 "Subwidget context menu not displayed in mobile theme editor"
1) Clone Android
2) Select Heading (the subwidget context is displayed)
3) Select ToolBarButton
4) Selecting Heading (subwidget context is missing)

[2011-12-06 17:50] billreed63 commented on #1306
For mobile widgets the we would need to set the background-image as well. the widgets use -webkit-gradient.

In the case of global widget in the desktop theme editor, the global widget has states, the value of the state color is calculated based on a delta of the "Normal" state color. that delta is then applied to the new "Normal" color to determine the new state color.  This becomes much more com

[2011-12-06 18:31] JonFerraiolo commented on #1306
For a good number of mobile widgets, the gradients on background-image are just opacity filters. Users can simply change background-color and leave gradient alone and that will get them in the right ballpark visually. That's probably all we will be able to do for M4 via automatic cross-widget features: just allow background-color changes.

[2011-12-06 18:39] peller commented on #1293
see #1328

[2011-12-06 18:39] #1293 closed, assigned to jhpedemonte

[2011-12-06 18:40] #1335 closed, assigned to billreed63

[2011-12-06 19:42] billreed63 commented on #1306
the widgets that are currently supported in the mobile theme editor are all gradient dependent.

For Heading, ToolBarButton, TabBarButton, EdgeToEdgeCategory, Button, ToggleButton  changing the background color has no effect. I must change (remove) the gradient to see the new background color.  This was the reason we added gradient support for background-image

[2011-12-06 20:49] billreed63 commented on #1306
Jon is referring about the mobile custom theme, where as I was talking about the device themes..
We can create a global that only changes background-color for the custom theme.

[2011-12-07 00:06] jhpedemonte commented on #1328
I'm a bit confused.  The jQuery JS files are loaded through this bit of code in `Context.addJavaScriptSrc()`:

[code]

But `this.getGlobal().$` is **undefined**, whereas `window.$` is.  So jQuery's **$** is set in the app's context, not the VE frame's context.

Internally, `xhrGet` calls `dojo.eval()` for the `"javascript"` handler.  There doesn't seem to be anything in `dojo.eval()` that evaluate

[2011-12-07 00:49] peller commented on #1328
dojo.withGlobal redefines the value used for window by Dojo code within the enclosed block, or at least it's supposed to.  I've got a feeling dojo.eval() broke that in 1.7

[2011-12-07 03:13] #1328 closed, assigned to jhpedemonte

[2011-12-07 03:17] jhpedemonte commented on #1328
Dojo 1.7 regressed `dojo.eval`, so that it no longer uses `dojo.global` -- instead, everything is evaled into the global context.  That means that using `dojo.withGlobal()` had no effect in this case.

I worked around it for now, and Adam filed a bug with Dojo (http://bugs.dojotoolkit.org/ticket/14406).

[2011-12-07 03:23] #1299 closed, assigned to waynevicknair

[2011-12-07 16:15] JonFerraiolo opened #1336 "Exception on New HTML with mobile and default themes"
@billreed63
- New HTML File
- Choose mobile, hit OK/Create button

Result=> exception Context.js: 678 defaultTheme is undefined

[2011-12-07 19:51] #1336 closed, assigned to JonFerraiolo

[2011-12-07 20:25] #1306 closed, assigned to billreed63

[2011-12-07 22:49] peller commented on #1330
fixed by 5f9c6e5e6586a2c76093a044f58bcd2ee3d91372

[2011-12-07 22:49] #1330 closed, assigned to peller

[2011-12-08 03:29] peller opened #1337 "Refactor states code to use Dojo base"
Use Dojo Nano on every user page and use that to load necessary pieces of Dojo, remove copy of Dojo base in States.js  States and maqetta files themselves would become AMD modules and participate in AMD optimization.
Investigate "cache" variable and preserve/restore States code, whether cache should be preserved through the closure or just passed as a local variable.

@JonFerraiolo @jhpedemonte

[2011-12-08 04:58] peller opened #1338 "Add TooltipDialog to themeEditor"

[2011-12-08 04:59] peller commented on #1064
modulepath has been deprecated in favor of packages

[2011-12-08 05:02] #772 closed, assigned to jhpedemonte

[2011-12-08 15:59] JonFerraiolo opened #1339 "FF: this.rootNode is null with new theme command in built version"
@peller, @billreed63

This one has been there for awhile. It might already be reported but I don't see it in bug base.
- Use FF
- Clean user workspace (e.g., pull down a nightly and run it for first time)
- Launch maqetta
- Immediately say "New Theme" and clone custom to custom1

Result=> this.rootNode = null in setWorkbenchState

[2011-12-08 18:13] JonFerraiolo opened #1340 "FF: Mobile theme editor - Build - Change global background - exception"
@peller, @billreed63

FF only bug when running built version. Works with Chrome and works with FF when using Eclipse/localhost.
- Clone "custom" to a new theme (e.g., "custom1"). (May run into #1339. If so, close the theme editor that opens will a blank screen, then "Open->Theme Editor" on the theme you just created
- Select topmost widget (Font and background styling)
- In Properties palette, cli

[2011-12-08 21:42] peller commented on #925
It is a bug if the widgets do not respond properly to a page resize.  Perhaps mobile being more 'lightweight' is not registering enough event handlers as dijit might, but consider an orientation change.  Sounds like a good idea to establish our UI prior the parse, regardless, to avoid screen redraws.

[2011-12-08 23:30] JonFerraiolo commented on #1263
Multiple commits over past few weeks and now this is working.

[2011-12-08 23:30] #1263 closed, assigned to JonFerraiolo

[2011-12-08 23:31] JonFerraiolo commented on #1158
Pushing to M5

[2011-12-08 23:33] JonFerraiolo commented on #1094
@waynevicknair - Is this fix merged into master? If so, we can close this bug

[2011-12-08 23:33] JonFerraiolo commented on #934
@EldonReturn - should we close this bug?

[2011-12-08 23:35] JonFerraiolo commented on #1326
Fixed by commit earlier today

[2011-12-08 23:35] #1326 closed, assigned to JonFerraiolo

[2011-12-08 23:51] JonFerraiolo commented on #1266
Closing - pretty sure this is the same as #1339

[2011-12-08 23:51] #1266 closed, assigned to JonFerraiolo

[2011-12-08 23:54] JonFerraiolo commented on #1230
Closed by above commit

[2011-12-08 23:54] #1230 closed, assigned to JonFerraiolo

[2011-12-08 23:55] JonFerraiolo commented on #1177
@peller - assigned this one to you. Hope that's ok

[2011-12-09 00:15] JonFerraiolo opened #1341 "Funky console messages with mobile theme editor"
@billreed63

Need to investigate some funky console messages.

[code]

[code]

[2011-12-09 00:39] JonFerraiolo opened #1342 "SmartInput constructors called every time smart input is initiated"
@billreed63, @peller

I put a breakpoint in one of the "Input" helper constructors and I see that the constructor is called each time we do a metadata query for the inlineedit class at metadata.js:649. This doesn't seem right. Smart input helper classes are singletons and therefore the constructor should be called at most one time, and certainly not with each metadata query.

[2011-12-09 01:14] #1122 closed, assigned to JonFerraiolo

[2011-12-09 03:15] waynevicknair commented on #1094
yes. i committed it to master.

[2011-12-09 03:15] #1094 closed, assigned to EldonReturn

[2011-12-09 04:52] #1321 closed, assigned to JonFerraiolo

[2011-12-09 04:58] JonFerraiolo commented on #925
Remember, in the page editor, we disable most of the runtime JavaScript. As a result, some things don't resize automatically like they would if running directly in browser (i.e., not in Maqetta page editor).

But if we don't notice problems before M4 ships, then probably best to defer this to M5. I suggest leaving this open for M4 for awhile as a reminder for more testing.

[2011-12-09 04:59] JonFerraiolo commented on #867
Pushing to M5.

[2011-12-09 05:00] JonFerraiolo commented on #366
Simple drawing tools are now the product. Closing this bug. We can open other bugs for specific enhancements or bugs.

[2011-12-09 05:00] #366 closed, assigned to JonFerraiolo

[2011-12-09 05:45] peller commented on #925
aside from the div blocking click events, do we really disable that much widget JS?  I know the Dijit layout widgets retain much of their quirky resize behaviors.  I wouldn't dream of messing with this stuff until M5, though.

[2011-12-09 14:27] JonFerraiolo commented on #1144
More info. Add a View, then add a RoundRect (not just RoundRectList) and you get a vertical scrollbar. It appears the cause in this case is the non-zero value for margin-top on mblRoundRect. Setting margin-top to 0 in the debugger causes the vertical scrollbar to go away.

[2011-12-09 15:45] JonFerraiolo commented on #925
We remove all SCRIPT tags and on**\* attributes from the user's HTML file. The page editor then dynamically adds various SCRIPT tags (particularly for toolkits such as Dojo) and dojo.require() as it parses the page and the user adds widgets to the page. So, it's a complex situation.

[2011-12-09 15:50] JonFerraiolo opened #1343 ""undefined" labels on mobile previews with built version"
@peller, @waynevicknair
- Use a build (e.g., pull down from http://maqetta.org/nightly)
- New HTML file - mobile (use default of iPhone is fine)
- Add a View and a Heading
- Preview in browser

Result=> Look at the controls at the top of the page. The labels all say "undefined". Labels are fine when launching from Eclipse.

[2011-12-09 16:45] JonFerraiolo commented on #1343
I debugged. (Even with built version you can debug into singlepreview.js and somewhat into dojo) It looks like dojo is indeed pulling the nls file that holds the strings (in the debugger, I see an object in memory with an nls object with the 3 strings used by singlepreview.js) but it subsequently attempts to pull an nls file with "en-us" in the path, and then returns either nothing or an empty obj

[2011-12-09 17:03] JonFerraiolo commented on #1277
Working with latest builds on both Chrome and Firefox.

[2011-12-09 17:03] #1277 closed, assigned to JonFerraiolo

[2011-12-09 17:08] JonFerraiolo commented on #1254
Closing this issue. Can't reproduce anymore.

[2011-12-09 17:08] #1254 closed, assigned to JonFerraiolo

[2011-12-09 17:10] peller commented on #925
true... for user code. but the sizing behavior and most other behavior is baked into the widget and remains active.

[2011-12-09 17:39] JonFerraiolo opened #1344 "fixed=top/bottom problems"
@peller

I can't get the 'fixed' attribute to work properly with latest code. I'm running a daily build (http://maqetta.org/nightly/maqetta-20111209-0603.zip) on Mac/Chrome right now.
- New HTML File (mobile, iphone, default theme)
- Add a View, a Heading, RoundRectList, and TabBar
- Under widget-specific, set fixed=top for Heading and fixed=bottom for TabBar

Result=> TabBar doesn't jump to botto

[2011-12-09 17:42] JonFerraiolo commented on #1144
I search the web and this is a well-known problem when using height:100%. In this particular case, the problem appears to be the 100% on the View, and a workaround to prevent the scrollbar while preserving the benefits of 100% is to put margin-top:-10px and padding-top:10px on the View. This looks promising right now, but requires further study and testing.

[2011-12-09 18:25] JonFerraiolo commented on #1341
The !FATAL! messages maybe can be addressed by removing the theme metadata entries that refer to globalWidget. At first glance, those theme metadata entries look unnecessary.

[2011-12-09 18:26] JonFerraiolo commented on #1341
Haven't yet found a way to reproduce the $all message above.

[2011-12-09 23:54] #1343 closed, assigned to peller

[2011-12-12 15:11] peller opened #1345 "New theme dialog should autosize"
New Theme pops up a dialog

On the Mac, you can zoom in and out with pinch gestures on the trackpad which change the font size.  Do this enough and the contents of the dialog will not fit.  This is probably because a fixed size was assigned to the dialog.  It should be able to auto-size based on its contents.

[2011-12-12 16:55] JonFerraiolo commented on #1345
@childsb, @billreed63, @jhpedemonte

All dialogs need to auto-size (ie no explicit width/height) both for accessibility and internationalization reasons (e.g., German labels tend to be longer, Japanese labels tend to be shorter). In the past couple of months, I changed a few dialogs from fixed size to auto size in order to address various UI problems. It's usually fairly easy to change an existing

[2011-12-12 20:34] childsb opened #1346 "security: person manager impl dependent on startup ordering"
the person manager extension point was taking the first available person manager causing only the default impl to execute.  This caused users.xml to be created when it shouldn't.

[2011-12-12 21:27] #246 closed, assigned to childsb

[2011-12-12 22:03] JonFerraiolo opened #1347 "New HTML File dialog: last used theme is not sticky"
@billreed63

All of the stickiness features in New HTML File dialog seem to be working except for when the user chooses a custom theme.
- Create a new mobile theme (e.g., mytheme1) by cloning "custom"
- New HTML File
- Choose composition type = iphone
- Click on "Theme..." button and choose mytheme1 as theme to use, click OK
- Back on New HTML File dialog, click OK to create a new page
- New HTML

[2011-12-12 22:32] JonFerraiolo commented on #1149
@peller - I recommend pushing this to M5 - too late to do this for M4

[2011-12-12 22:34] JonFerraiolo commented on #1161
I don't fully understand this bug, but shouldn't it get pushed to M5 since TooltipDialog will still be under "Untested" for M4?

[2011-12-12 22:35] JonFerraiolo commented on #1067
I fixed this somewhere along the way. Can't reproduce anymore. Closing.

[2011-12-12 22:35] #1067 closed, assigned to peller

[2011-12-12 22:36] JonFerraiolo commented on #1039
Push to M5, along with #1149?

[2011-12-12 22:37] JonFerraiolo commented on #963
Changed to Priority-Low for M4, wouldn't be end of world to defer to M5.

[2011-12-12 22:38] JonFerraiolo commented on #145
Bug is still there in M4. Really would like to fix this one.

[2011-12-12 22:41] JonFerraiolo commented on #1327
Dialog bug - push to M5?

[2011-12-12 22:42] JonFerraiolo commented on #1256
Push to M5 along with other Dialog bugs?

[2011-12-12 22:42] JonFerraiolo commented on #1210
Pushed this one to M5

[2011-12-12 22:43] JonFerraiolo commented on #1137
Raised this to Priority-Med for M4

[2011-12-12 22:44] JonFerraiolo commented on #1052
Pushing to M5 (reluctantly)

[2011-12-12 22:45] JonFerraiolo commented on #798
Pushing to M5

[2011-12-12 22:46] JonFerraiolo commented on #433
Pushed to M5. We are hoping to make lots of UI changes around R/C with M5.

[2011-12-12 22:47] JonFerraiolo commented on #148
Pushing to M5 - too risky for M4

[2011-12-12 22:49] JonFerraiolo commented on #1260
@childsb - wasn't this issue addressed a couple of weeks ago?

[2011-12-12 22:50] peller commented on #1327
although this only impacts dialog, it's generic widget handling code. Another reason to push to M5.

[2011-12-12 22:54] JonFerraiolo commented on #1323
@peller, since @billreed63 is off, could you take this one?

[2011-12-12 22:56] childsb commented on #1260
Yes, this is fixed.

[2011-12-12 22:56] #1260 closed, assigned to childsb

[2011-12-12 22:57] JonFerraiolo commented on #1145
Raising to Priority-Med. Not sure why this was given low priority. Seems like a relatively easy and localized fix, is needed for PhoneGap deployment, and addresses a common user requirement.

[2011-12-12 23:33] #1341 closed, assigned to JonFerraiolo

[2011-12-12 23:45] JonFerraiolo commented on #1167
All of the above is fixed now

[2011-12-12 23:45] #1167 closed, assigned to JonFerraiolo

[2011-12-13 00:02] JonFerraiolo opened #1348 "Selection misaligned with dojox.mobile.View if scrolled"
@billreed63, @jhpedemonte
Assigning to @peller to think about this one and _possibly_ fix. I say possibly because I'm not actually sure this is a bug. It might just be a limitation with dojox.mobile.View.
- New HTML File - choose iPhone
- Add a View
- Add a RoundRectList and type in many lines of data such that the list goes off bottom of page
- Add a mobile Button

Result=> Note that SmartInput a

[2011-12-13 00:59] peller commented on #1340
@waynevicknair

running an unminified version of the build, I see it fail on this line in davinci.html.CSSParser.parse where property is null:

[code]

it's being called from cssFile.setText(selector) where selector is `.mobile body{}`

Wayne, can you shed any light on what this might mean?

(?)(text=".mobile body{}", parentElement=Object { elementType="CSSFile", startOffset=0, endOffset=0, more..

[2011-12-13 01:04] peller commented on #1340
for me the operation completes despite the exception, so this may not be a critical bug.  I see the selection every time I select the "font and background styling" box, whether or not I mess with the background color.

[2011-12-13 01:05] peller commented on #1340
@waynevicknair any chance it's confused by the lack of spacing before the "{"?

[2011-12-13 01:27] #1144 closed, assigned to JonFerraiolo

[2011-12-13 01:37] JonFerraiolo opened #1349 "state change publish should pass editor object, subscribe should check"
@billreed63

I think this is the cause of various intermittent bugs, which is why I assigned it to Priority-Med

Various parts of the code publish `*/state/changed` and various other parts of the code subscribe to this event. The problem is the event doesn't pass any information about which editor window the state change applies to. As a result, in some cases, state change events published in edit

[2011-12-13 01:38] JonFerraiolo commented on #1341
Finally was able to reproduce the $all message and added a bandaid fix: 0b90104b3f

[2011-12-13 01:42] JonFerraiolo commented on #925
I'm not aware of any bad bugs due to this issue, so moving to Priority-Low for time being so we don't forget about it but also so that if we don't see any bad bugs during further testing, then move to M5.

[2011-12-13 01:44] JonFerraiolo commented on #699
Pushing to M5

[2011-12-13 01:48] JonFerraiolo commented on #708
This feature is available in Preview 4 by turning on a show parents preference.

[2011-12-13 01:48] #708 closed, assigned to JonFerraiolo

[2011-12-13 02:43] #869 closed, assigned to JonFerraiolo

[2011-12-13 02:54] peller commented on #1339
@JonFerraiolo, you don't say what the end result is, but if it's the blank tab, that seems entirely unrelated to the exception.

[2011-12-13 02:56] peller commented on #1340
Wayne, please take a look.  @JonFerraiolo I think we can safely downgrade this from 'high' priority, perhaps even bump to M5 if there are no negative side-effects.

[2011-12-13 04:13] jhpedemonte opened #1350 "<script> text handled differently than other elements"
I was investigating an issue (bugzilla #7714) where the setting next text in the **HTMLText** child of an **HTMLElement** script element didn't properly update the source.

The issue is that `<script>` text in the model is handled differently than for other HTML tags.  For scripts, the model code looks for the **script** property on the HTMLElement instance, rather than the value of the HTMLText c

[2011-12-13 04:20] JonFerraiolo commented on #1340
if no negative side-effects, sure, M5

[2011-12-13 13:30] jhpedemonte opened #1351 "Update RebuildPage, still looking for dojo.require"
I noticed that **RebuildPage.js** has a function called `_findScriptAdditions()` which searches for inline script elements in the head which have **dojo.require**.

First, as the comment there states, this isn't the best thing to do.  Second, we no longer use `dojo.require`, so it doesn't work any way.

Of course, it doesn't look like the `_findScriptAdditions()` function gets called any way, so t

[2011-12-13 13:56] peller opened #1352 "dojo.require reference in RebuildPage"
_findScriptAdditions searches for "dojo.require" but we now use AMD in user code, so we probably ought to search just for "require", lacking a more precise mechanism.

@childsb feel free to take this or perhaps you can help explain how to test this line of code?  Something should fail because of this?

@jhpedemonte

[2011-12-13 14:53] peller commented on #1352
looks like @jhpedemonte beat me to it.  dup of #1351

[2011-12-13 14:53] #1352 closed, assigned to peller

[2011-12-13 15:45] peller opened #1353 "davinci/library debugger statements in code"

[2011-12-13 15:47] jhpedemonte opened #1354 "Allow declarative syntax for non-Dojo widgets (jQuery, YUI)"
Currently, jQuery and YUI widgets are instantiated by a bit of inline JS added to the page for each widget.  This doesn't work well for our type of tool.

Instead, we should allow for non-Dojo widgets to be written declaratively and create code that parses and instantiates the widgets, similar to the Dojo parser.

For example, the jQuery Button might be added to the page as follows:

[code]

---

[2011-12-13 16:51] #256 closed, assigned to childsb

[2011-12-13 17:15] #694 closed, assigned to childsb

[2011-12-13 17:15] childsb commented on #787
moving to m5.

[2011-12-13 17:33] jhpedemonte opened #1355 "Need to load "library" OAM props, even if no "require" references it."
Here's the "library" & "require" part of the **circle_oam.json** metadata file from the **Drawing Tools** library:

[code]

Notice that, while there is a "dojo" library, none of the "require" members reference "dojo".  In our current code, that means that **dojo.js** doesn't get loaded.

From my reading of the [OAM spec](http://openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Widget_Me

[2011-12-13 17:55] jhpedemonte commented on #1322
I reverted the first commit because it was too fragile and not the right thing to do.

I [redid `addHeadScriptText`](https://github.com/maqetta/maqetta/commit/0f04021bc5514c94fd300bfdc4e2b63e69598f13) and that seems to have taken care of this issue as well.  Please let me know if you find an issue.

(Note, as of this writing, the commit is only on the **script-loading-redo** branch.  If everything

[2011-12-13 18:19] peller commented on #1235
see @jhpedemonte 's commit: e2100298f137098b367218b5a2b0d087821d3d45

[2011-12-13 19:20] peller commented on #1355
It seems odd that "src" on library indicates either a directory or a resource.  The OAM spec does seem like you need to specify within the library element that it actually requires the js file.

[2011-12-13 19:21] peller commented on #1354
It would be interesting to see if the Dojo parser is generic enough to accomplish this.

[2011-12-13 20:15] #834 closed, assigned to childsb

[2011-12-13 20:19] childsb commented on #872
@jhpedemonte  : Per our security analysis we can't have the OSGi console listening on a port. Theres potential for attacker to access the port (it's unsecured) and stop the server/hose the system.  I'm re-assigning the bug to you for further evaluation/reverting the original change..

[2011-12-13 20:21] childsb commented on #1064
assuming @jhpedemonte  took care of this then.

[2011-12-13 20:21] childsb commented on #1235
@peller no longer using modulePath correct? close?

[2011-12-13 20:28] JonFerraiolo commented on #872
Can we add a command line option (e.g., -console) about whether to activate the OSGi console, with a default of false so that the default setup is secure? The command line option would allow us to turn it on to help with test/debug.

[2011-12-13 20:28] peller commented on #1064
what was the problem, exactly?

[2011-12-13 20:29] peller commented on #1235
no, we're using `packages` instead.  We shouldn't be adding references to the 'widgets' stuff unless it's being used.  An empty page shouldn't have unused references like that. Just going to confuse the user.

[2011-12-13 21:09] childsb opened #1356 "creating a new folder selects the folder in explorer view"
1) create new folder
2) notice that the folder isn't selected in the explorer view (common UI/resource practice)

[2011-12-13 21:09] childsb commented on #1237
Fixed the bug and opened #1237 to track selecting the created resource in explorer (prob too risky for m4).

[2011-12-13 21:10] JonFerraiolo opened #1357 "Exception adding 2 Tree widgets"
@billreed63
- New HTML file
- Drag/drop 2 Tree widgets

Result=> Exception in CreateTool. (Haven't debugged any yet - just logging the problem)

[2011-12-13 21:10] #1237 closed, assigned to childsb

[2011-12-13 21:16] childsb commented on #1064
Given /lib/widgets mapped as modulePath:{'widgets': './lib/widgets'} and ./file1.html and the user is using custom widgets in their page.

If the user moves the HTML file to ./folder1/file1.html the modulePath would have to change to: modulePath:{'widgets': '../lib/widgets'}

i'm not sure how the package code works now though.

[2011-12-13 21:18] childsb commented on #1353
where?

[2011-12-13 21:18] #1346 closed, assigned to childsb

[2011-12-13 21:20] childsb commented on #1320
shouldn't matter, but removed.

[2011-12-13 21:21] peller commented on #1357
complains that it's trying to JSON.stringify a circular structure, the data associated with the property called "ItemFileReadStore_3"

[2011-12-13 21:21] #1320 closed, assigned to childsb

[2011-12-13 21:21] peller commented on #1353
davinci/library.js, lines 47, 193, 208

[2011-12-13 21:22] peller commented on #1064
it works EXACTLY like the modulePath parameter, just changed names and uses and array instead of a hash.

[2011-12-13 21:45] #1323 closed, assigned to peller

[2011-12-13 21:52] jhpedemonte commented on #1064
On the **script-loading-redo** branch, I'm using the **"packages"** property to **dojo-config**.  My understanding is that we don't need to change anything in that object when going into subfolders -- since the locations are relative to **dojo.js**, all we need to do is update the URL for dojo.js on the page.  The "packages" object can stay as is.

[2011-12-13 21:56] peller commented on #1243
works for me.  is a drag/clone box the focus box?  how did it fail?

[2011-12-13 21:56] #1243 closed, assigned to peller

[2011-12-13 21:58] jhpedemonte commented on #1235
There's a place in the code (that I added) which runs code when the first widget from a library is added to page.  That would be the correct place to do this.

I don't think we need this for M4 right now.  There'll be some cruft in the **dojo-config** line, but I think that's OK for now.

I'll take this bug, but for M5.  Let me know if you disagree...

[2011-12-13 22:00] jhpedemonte commented on #872
Ugh.  @childsb, I use the OSGi console in the build/test server to stop the server.  Do you guys have a suggestion for another way of nicely quitting the server?

[2011-12-13 22:01] peller commented on #1235
I think we're better off without the cruft, for migration purposes, etc.  Better perhaps to comment out the line that adds the 'widgets' in M4 and put it back in M5?

[2011-12-13 22:01] peller commented on #1235
@JonFerraiolo

[2011-12-13 22:02] peller commented on #1064
I'm not sure I follow, but the logic should be exactly the same as it was for modulePaths.  The syntax for declaring it has just changed.  If there was a bug before, there's probably still one now.

[2011-12-13 22:07] jhpedemonte commented on #1235
Well, it's just not **"widgets"**, it's also the other libraries.  They're all added to that line, whether you use their widgets or not.

[2011-12-13 22:09] jhpedemonte commented on #1064
I mean we don't have to rewrite the library directory paths in **"packages"** when putting a file in a subfolder.

But, obviously, we do need to rewrite when moving the location of libraries.

[2011-12-13 22:11] jhpedemonte commented on #1355
As you said, the OAM spec allows for "src" in "library" element to indicate either a directory or JS file.  This was done for the one-file libraries, such as Prototype or jQuery.

[2011-12-13 22:20] peller commented on #1235
only libraries which are set up for that page.  "widgets" is going to propagate to all user-created files starting in M4, and I don't think that's good.

[2011-12-13 22:30] #1357 closed, assigned to JonFerraiolo

[2011-12-13 22:37] peller commented on #1348
Definitely a bug.  Seems to happen even without mobile widgets.  But not critical, everything continues to work.

[2011-12-13 22:45] peller commented on #874
I've become more convinced that we shouldn't even have helper constructors at all.  There's no correlation between helper instance and widget instance, so it has relatively little meaning to use the 'this' pointer as a context to store state.  We can achieve inheritance by simply using mixins on objects.

[2011-12-14 00:13] JonFerraiolo opened #1358 "CreateTool drag/create details"
If dragging out an IMG element, and shift key held down, should constrain to image's aspect ratio, not square

Lines/arrows need to honor drag size and direction, and show a straight line rather than a drag rectangle

[2011-12-14 00:16] JonFerraiolo commented on #1302
Pushing to M5. Not critical for M4 and risky, particularly on the migration front issue. Also, small chance current terminology (low fidelity vs high fidelity) might change again.

[2011-12-14 00:42] JonFerraiolo commented on #874
Yes, agreed, no reason for helper instances, and probably would be nice and clean to mixin the helpers into the _dvWidget objects.

[2011-12-14 00:44] JonFerraiolo commented on #1348
You sure the dojo mobile guys would consider this a bug vs a feature? I'm wondering whether users are supposed to use ScrollableView instead of View if content might extend off the end of the screen.

[2011-12-14 01:03] #1090 closed, assigned to JonFerraiolo

[2011-12-14 01:03] #1233 closed, assigned to JonFerraiolo

[2011-12-14 01:05] JonFerraiolo opened #1359 "Add tooltip to Theme... button on New HTML File dialog"
Would be helpful to new users if there was a tooltip on the Theme... button on New HTML File dialog

[2011-12-14 01:53] JonFerraiolo commented on #54
Fixed by 9be291ad2c9c98305d93bfe1691be4d19ef3a0ff. (Shouldn't have put words between Fixed and the bug number)

[2011-12-14 01:53] #54 closed, assigned to JonFerraiolo

[2011-12-14 02:52] peller commented on #1348
I don't understand.  The behavior is exactly the same with ScrollableView (and desktop widgets)

[2011-12-14 04:12] JonFerraiolo opened #1360 "SaveAs shows incorrect file name"
- New HTML File - accept defaults (e.g., file1.html) and click ok/Create
- Drag a Button onto canvas
- Click SaveAs icon

Result=> SaveAs dialog appears with `./project1/file1.html` in the file name field instead of just `file1.html`

[2011-12-14 04:21] peller opened #1361 "non-functional require calls?"
ThemeHelper has old-style dojo.require() calls.  Not sure these work given that we're using an asynch loader?

[code]

[2011-12-14 04:31] JonFerraiolo opened #1362 "SaveAs with New Folder action -> UI problems and allThemes exception"
- New HTML File - accept default filename
- Add a Button
- Click on SaveAs icon
- Click on arrow icon to open up file listing
- Click on New Folder button
- Pick a folder name (e.g., folder1), click OK to create new folder

PROBLEM #1: The newly created folder should become the current folder and appear in the "Where" textbox. (Is there a bug for this problem already?)

PROBLEM #2: The filename sh

[2011-12-14 04:42] JonFerraiolo opened #1363 "File name field shouldn't allow slash (/) characters"
In some cases (e.g., SaveAs) the file dialog will show `./project1/file1.css`. If you actually click OK, the dialog will actually append the string to the current path. For example, if you are in `folder1` and click Save, the file will be saved as `project1/folder1/project1/file1.css`.

We should never show or allow any sort of path within the file name field. It should only show or allow the last

[2011-12-14 04:46] peller commented on #1361
they're in the visual editor, not yet asynch.  nevermind.

[2011-12-14 04:46] #1361 closed, assigned to billreed63

[2011-12-14 04:47] JonFerraiolo commented on #1227
I'm not sure why this bug slipped through cracks. Wasn't assigned to M4 and wasn't listed as Priority-High.

[2011-12-14 04:57] JonFerraiolo opened #1364 "Can't open Sample1.html from newly created project"
- New project called "e1" - click on "Eciipse support" checkbox
- In the newly created project, double click on Sample1.html

Result in Firefox and Chrome => an editor opens, but the visual canvas is empty due to an exception deep inside Dojo. Split view shows the source code. THe stack trace wasn't very useful because we apparently are using a built version of Dojo these days.

[2011-12-14 05:10] JonFerraiolo opened #1365 "claro shows in list for Open->Theme Editor"
@billreed63
- New Theme... and clone claro to claro1
- Save the theme
- Go to Open Theme Editor... menu command

Result=> Dialog shows both claro and claro1 in the list. If you try to select "claro", an exception appears in console.

[2011-12-14 05:15] JonFerraiolo opened #1366 "Remove flow layout preference"
@billreed63, @childsb

With recent  changes to the New HTML File dialog, the flow layout preference is now obsolete because the New HTML FIle dialog always specifies whether the new page should have flow or absolute layout.

[2011-12-14 05:30] JonFerraiolo opened #1367 "Global CSS warning dialog requires 2 clicks on OK button"
@childsb
- New Theme (clone claro to claro2)
- New HTML File
- Add a Button
- Click on Switch theme the change to claro2
- Select Button
- In Properties palette, attempt to change background color on button

Result=> Are you sure dialog appears regarding changing a global theme file. This is correct.
- Click OK

Result=> Dialog is still showing. Have to click OK a second time to make it go away

[2011-12-14 14:09] peller commented on #1364
It still might be helpful to attach the exception, if only for identification purposes.  We're definitely stuck deep inside the loader here, and it appears to be trying to load the selector (dojo.query) engine. Does this path look right?

/maqetta/user/maqettaUser/ws/workspace/p1/lib/dojo/dojo/selector/acme.js

[2011-12-14 14:22] peller commented on #1366
all I see is composition type.  Even if it does, perhaps if it's under a twistie section, it might still be useful to declare defaults in preferences?

[2011-12-14 14:34] peller commented on #1365
OpenThemeDialog.okButton, newTheme is null

[2011-12-14 15:08] JonFerraiolo commented on #1365
Of course, 'claro' shouldn't be listed as an option in the first place.

[2011-12-14 15:38] #1366 closed, assigned to JonFerraiolo

[2011-12-14 16:40] peller opened #1368 "findResource of *_widgets.json call is very slow - build only"
Reproduced on both Chrome and FF.  Out of a total startup time of ~15 seconds, this one call takes about 7 seconds.  It happens during the initial Maqetta load, even when no files are open, such as the initial launch after installation.  The performance problem only occurs when running a built copy of Maqetta from the command line.  The same call when running from Eclipse takes ~300ms.  However, t

[2011-12-14 16:41] waynevicknair opened #1369 "No caret appears in SourceEditor"
Mac/Chrome

Steps:
1) create new HTML file accepting defaults
2) drag dojox mobile view onto canvas
3) drag dojox mobile header onto canvas
4) drag dojox mobile view onto canvas
5) switch to source view

Expected result: source view with insert caret

Actual result: source view with no insert caret. can click around in source,  but still no caret appears.

[2011-12-14 16:44] JonFerraiolo opened #1370 "Visual design improvements to error page when Maqetta server has timed out"
@childsb

Low priority reminder bug. The new error page that appears when the Maqetta server has timed out needs at least a little visual design work.

[2011-12-14 16:51] JonFerraiolo opened #1371 "New HTML File -> New Folder -> Save in new folder: Files palette doesn't refresh"
Priority-High because it's a must-fix before shipping, but not the most urgent bug in the queue.
- New HTML File
- In dialog, open up file listing, and click on New Folder
- Create a new folder

PROBLEM #1: The new folder name doesn't appear in "Where". (Also mentioned in #1362)
- Click on new folder make it the current folder (to overcome PROBLEM #1)
- Click "Create" to create a new file in the n

[2011-12-14 17:07] waynevicknair opened #1372 "Focus (selection handles) get created for invisible widget"
Mac/Chrome

Steps:
1) create new HTML file accepting defaults
2) drag dojox mobile view onto canvas
3) drag dojox mobile header onto canvas
4) drag dojox mobile view onto canvas
5) switch to horizontal split view
6) click in source view on mobile heading which is hidden in visual editor view

Expected result: no-op

Actual result: a small Focus object appears in the upper left hand corner of the v

[2011-12-14 17:13] waynevicknair commented on #1372
the code below in PageEditor.js selects the widget in the visual editor without regard for the widget's 'display' style setting.

[code]

[2011-12-14 17:17] JonFerraiolo commented on #1364
yes, that path looks correct to me. With a built version of Maqetta running single user on localhost:50000, I typed this URL into the browser address bar:

[code]

and the browser shows the following content:

[code]

[2011-12-14 17:22] waynevicknair opened #1373 "Start and End offsets wrong on selection highlite in horizontal split view"
Mac/Chrome

Steps:
1) create new HTML file accepting defaults
2) drag dojox mobile view onto canvas
3) drag dojox mobile header onto canvas
5) switch to horizontal split view
6) select mobile header in visual editor frame

Expected results: <H1> element in source frame will be highlighted

Actual results: highlighting starts in middle of H1 line and goes to end of file

[2011-12-14 17:28] JonFerraiolo commented on #1372
@waynevicknair - just curious, what version of software are you using? I fixed a bug in this general area yesterday (8a02a1f261), but my fix only took care of deselecting widgets with state changes due to clicking in the States palette. As part of that fix, I added a utility function `Context.js: deselectInvisible()`. Maybe we can call that routine as part of the fix for this bug.

Assigned for ti

[2011-12-14 17:39] JonFerraiolo commented on #1324
Can't reproduce in built version. Closing.

[2011-12-14 17:39] #1324 closed, assigned to JonFerraiolo

[2011-12-14 17:41] #1278 closed, assigned to childsb

[2011-12-14 17:48] JonFerraiolo opened #1374 "Can't switch themes if New HTML Page starts with "custom""
- New HTML File
- Choose iPhone as composition type, click on New Theme... and choose "custom" for all devices, click OK/Create to create a new page with an iPhone silhouette
- Click on Switch Theme icon

Result=> At top of dialog, it says "custom_default" and all options are disabled, which means you can't switch themes.

[2011-12-14 18:02] peller commented on #1364
I should have mentioned that the above url was a 404.  Maybe the server magic that associates the dojo library with that path isn't working in this particular case.  Does it have something to do with the Eclipse project setting, or just a new project?

[2011-12-14 18:11] peller commented on #1181
I noticed that claro.css is built, but the rest of the themes are apparently unbuilt, resulting in many separate HTTP requests.  Is that intentional?

[2011-12-14 18:18] childsb commented on #1364
The URL for acme.js and parser.js is missing the "Webcontent" part of the path. Another note, the source still works (and the proper URL for those two files) for Preview In Browser.

[2011-12-14 18:20] waynevicknair commented on #1372
i'm currently running out of eclipse on commit 2c5acf925da137de1cbd86e50004d9867dbbf3d1 which came after yours.

[2011-12-14 18:38] waynevicknair commented on #1078
i cannot reproduce this issue anymore as the caret completely disappears. i believe that it is now a duplicate of issue #1369

[2011-12-14 19:18] waynevicknair commented on #1340
here's the stack trace i see on todays internal build on Mac/FF:

getWidgetTopDom()
r = Object { elementType="CSSRule", startOffset=0, endOffset=74, more...}
(?)(e=Object { elementType="CSSRule", startOffset=0, endOffset=74, more...})
(?)()
(?)()
(?)()
(?)()
(?)()
(?)()
(?)(arg=undefined)
CSSCombinedSelector(_122e="background-color")
getUniqueID(rule=Object { elementType="CSSRule", startOffset=0,

[2011-12-14 20:06] JonFerraiolo commented on #1372
@waynevicknair - can we keep this assigned to you until the source editor beast has been tamed, and then think about whether to reassign to me at that point? Like I said above, I don't think it makes sense to try to fix this until the source editor fixes are in place. At that point, then probably I would be best to take it from there.

[2011-12-14 20:07] JonFerraiolo commented on #1364
Yes, Brad is correct, I forgot about "WebContent" when the Eclipse box is checked.

[2011-12-14 20:18] childsb commented on #1371
This was weird.  There was an extra / in the resource path, causing the project name to get truncated.  the new files were being created in the base workspace.

[2011-12-14 20:19] #1371 closed, assigned to childsb

[2011-12-14 21:05] childsb commented on #1360
Fixed this and another bug I noticed when saving into nested folder:

/folder1/file1.html is show as file name instead of "file1.html" as file name and "folder1" in "where"

[2011-12-14 21:05] #1360 closed, assigned to childsb

[2011-12-14 21:09] peller commented on #1369
@JonFerraiolo

Preliminary investigation shows that the regression occurred on or around 3f670519b1f73f8679b0e4a808ff169a4d2b429b

[2011-12-14 21:10] jhpedemonte commented on #1364
Found it!  This isn't an issue on the **script-loading-redo** branch, so I looked for the different between that branch and **master**.

The problem was with setting of `baseUrl` in the Dojo config object (in Context.js):

[code]

In this case, `baseUrl` does not have `WebContent` in the string, causing the exception.

In the **script-loading-redo** branch, I removed that code -- we don't need to

[2011-12-14 21:38] jhpedemonte commented on #1372
Also see #57.

[2011-12-14 21:48] #1291 closed, assigned to childsb

[2011-12-14 21:48] childsb commented on #1291
I believe this is a dupe of (or very similar to) a bug I fixed a few days ago.  I double checked and can't recreate so closing.

[2011-12-14 21:55] #1369 closed, assigned to JonFerraiolo

[2011-12-14 22:06] jhpedemonte opened #1375 "Need confirmation dialog when deleting project"
There's no confirmation when clicking on the **red X** beside the project name.  Since this deletes the project files, we must confirm such a destructive operation.

(Assigning to Brad and M4, but feel free to change.)

@JonFerraiolo

[2011-12-14 22:22] jhpedemonte opened #1376 "New File dialog: "Where" shouldn't be blank on first show"
In the **New File dialog**, the **Where** field is initially blank.  This doesn't look good and can be confusing to users (i.e. what am I supposed to type in that field?).

There should be **default text** for that field, using the current top level folder (the project name -- "project1").

Some other additions that would help this field:
- Clicking in the text field should have the same result as

[2011-12-14 23:00] JonFerraiolo opened #1377 "Get arrow keys working again"
@waynevicknair, @peller

Were disabled by 8e847c5b23aee425a6a646bf55a292c4373405f1 because my fix for arrow keys broke source editor

[2011-12-14 23:14] peller commented on #1377
see #1103

[2011-12-15 00:23] jhpedemonte commented on #1364
Fixed by e2100298f137098b367218b5a2b0d087821d3d45.

[2011-12-15 00:23] #1364 closed, assigned to childsb

[2011-12-15 00:30] jhpedemonte opened #1378 "Widget CSS not added to source"
To reproduce, add a Dojo widget to page.  Note in the source that there is no import statement for **dojo.css**.  This happens for other widget libraries as well.

I followed the code in **Context.js** which adds the CSS and it seems to be working.  But somewhere in the Model code, the CSS import isn't added to the model.

(This was not a regression from my changes in the **script-loading-redo** b

[2011-12-15 00:36] peller commented on #1235
yes, so after the script-loading-redo merge, we now have declarations for jquery, yui, etc. also, which weren't on pages before.  I guess this is more tolerable in the interim, since it can be controlled by the "Modify Libraries" setting.

[2011-12-15 00:38] JonFerraiolo opened #1379 "Drawing tools initial drag size not persisted into model"
When I add a rectangle or circle and drag out an initial size for the object, this size isn't persisted into the model and therefore not serialized into the file.

However, if I change the size (via ModifyCommand), the size is persisted into the model.

[2011-12-15 00:40] jhpedemonte opened #1380 "Changing location of library doesn't update 'packages' in 'data-dojo-config'"
Change base URL of a library and notice that the value doesn't change in **data-dojo-config**/**packages**.

[2011-12-15 00:55] jhpedemonte opened #1381 "Server error when trying to delete file"
I've been having issues deleting files, where sometimes the file remains in the Files even though it's been deleted on the server; or the reverse, where the file disappears from the Files view but is not deleted on the server.  Unfortunately, it happens intermittently, and I haven't found a way to repeatedly recreate this issue.

However, I did see this exception in the server console.  Maybe this

[2011-12-15 01:02] peller commented on #1364
works now.  thanks, @jhpedemonte!

[2011-12-15 01:52] jhpedemonte commented on #1378
In `davinci.html.HTMLFile.prototype.addStyleSheet()`, the code creates and caches a style element in `this._styleElem`.

I went through this code in the debugger.  On file creation, two CSS files are added and both times, `this._styleElem` is still equal to the style element inside the HTMLFile model.

However, when I drop a widget that adds CSS, `this._styleElem` is no longer in the HTMLFile mode

[2011-12-15 01:57] jhpedemonte commented on #1378
Aha! Forgot one little bit in my recreation scenario:  after opening the file, you need to use the split-view to view the source.

When you do this, it calls `setText()`, which causes the model to be regenerated.  Unfortunately, the cached `this._styleElem` isn't reset.

[2011-12-15 02:16] #1378 closed, assigned to jhpedemonte

[2011-12-15 02:21] jhpedemonte commented on #1378
Some of the cached values weren't reset when `setText()` was called on the objects.  I fixed this issue for `HTMLFile._styleElem` (this issue) and `HTMLElement.script`.

@childsb @waynevicknair I didn't fix this for `HTMLFile._loadedCSS`.  I'm not sure what to do here.  This is an array of **CSSModel** instances.  When they are generated in **Factory.css**, there is an instance counter that is inc

[2011-12-15 15:38] JonFerraiolo commented on #1376
Good feedback and suggestions.

@childsb

[2011-12-15 15:38] JonFerraiolo commented on #1375
I think it's OK to push this to M5 and Priority-High, which I have done.

[2011-12-15 16:00] JonFerraiolo commented on #1377
Fixed by 4c82982b07

[2011-12-15 16:00] #1377 closed, assigned to JonFerraiolo

[2011-12-15 17:42] childsb commented on #1368
removed this call for now.

[2011-12-15 17:42] #1368 closed, assigned to childsb

[2011-12-15 17:50] #1362 closed, assigned to childsb

[2011-12-15 18:04] peller commented on #1368
fixed by 9d64a6c69b08b914a35a1c2e50476367acf4d980

[2011-12-15 19:22] childsb commented on #1064
since i commented out the code that was using this, i'm moving to m5.

[2011-12-15 19:24] childsb commented on #1274
Fixed in an earlier checkin.

[2011-12-15 19:24] #1274 closed, assigned to childsb

[2011-12-15 20:04] #1365 closed, assigned to childsb

[2011-12-15 20:16] #1379 closed, assigned to JonFerraiolo

[2011-12-15 20:27] #1280 closed, assigned to childsb

[2011-12-15 20:29] childsb commented on #1288
@peller more details?  I removed the "project"/root node from the tree (per a bug earlier in the m4), so the first level of elements is no longer indented.

If i expand any of the folders (lib, themes etc..), their children are indented in FF.  are you seeing something else?

[2011-12-15 20:35] childsb commented on #1289
@peller Issue #1280 is related to this, and i checked in fix d5400287fa9075619cb991e5e7c2d611d94cc027 .

This allows user to select a folder in the explorer tree and the "parent folder" in the "new folder dialog" is properly populated.  This is true for both locations of the "New Folder" dialog.

The read only of the parent is intentional (to save cluttering with a Tree control) and I didn't want

[2011-12-15 20:42] childsb commented on #1290
This behavior is intentional / models windows dialogs behavior.

Typical windows resource dialog behaviors:
-Clicking a file sets the "file name" field to that clicked file
-Clicking a folder doesn't reset the file name field (maybe the user had typed in file1.html and wants to keep the name).

I've found these behaviors useful if i want to name something similar to another existing file (ie. clic

[2011-12-15 20:49] JonFerraiolo commented on #1290
I'm with Brad on this one. Brad claims the Windows UI works in a particular way (and that matches my memory) and I just verified that the Mac also works that way. I suggest closing this bug. @peller is that OK?

[2011-12-15 21:18] peller commented on #1290
I don't think "because Windows works that way" is good justification :-P but I'll give in on the folder thing.

I think my real problem is that you shouldn't be able to select files in a new file dialog.  It's automatically an error if you hit ok.  I understand you can pattern after an existing name, but I find it awkward.  Is there a non-Windows example to follow?

[2011-12-15 21:35] JonFerraiolo commented on #1290
same behavior on mac

[2011-12-15 21:38] peller commented on #1288
Everything is indented at exactly the same level.  Nested files/folders should be nested extra from their parents.

http://skitch.com/alpeller/gta2c/screen-shot-2011-12-15-at-4.22.04-pm

[2011-12-15 21:39] peller commented on #1290
please provide an example.  where's a new file dialog I can try which takes a filename?   I'm not talking about the folder issue anymore, just the fact that there's a filename there at all based on selection.

[2011-12-15 21:42] peller opened #1382 "./ file path prefix appears in UI"
@JonFerraiolo, @childsb

I don't remember if I created a bug for this, but the "./" prefix should never be shown to the user. It's redundant.  We probably shouldn't be using it in code either.

Example: the new folder dialog shows ./project1

[2011-12-15 21:47] JonFerraiolo commented on #1290
I see this in Mac/Chrome, PowerPoint and Preview. Open an image in Preview then go to Save As dialog. With file system showing, click on various PNG, JPG or PDF files on your file system and you'll see that they become the current file name even though clicking Save would wipe out your old file. Notice that as you change folders, the filename field doesn't change. I'm 99% sure this is all standard

[2011-12-15 21:49] peller commented on #1289
Yes, now with your fixes the parent is now populated to something other than the root, which makes it possible to create nested folders.  That's good.

If the parent is read only, the data shouldn't be rendered in a (readonly) textbox.  It should be plain text IMO... just put it in a div?  I think this part should still be fixed.  It's just frustrating to use an editable UI which makes the user th

[2011-12-15 21:50] peller commented on #1290
That's a Save As dialog... it is perfectly valid to select a file that exists for your save as filename.  It's **not** valid to do this for new.  New file dialogs on the Mac typically don't seem to request any filename.

Call me crazy, I believe that UI should guide you towards valid input, not error conditions.

[2011-12-15 22:07] #1137 closed, assigned to peller

[2011-12-15 22:08] JonFerraiolo commented on #1290
Ah, that's a more fundamental UI question about how our "New" commands should work. What @childsb has implemented matches SaveAs behavior found on both Windows and Mac, and we use the same logic across all of our file operations (New and Save mostly).

Most desktop software does this for "New":
- They immediately create a new whatever (e.g., a document or a spreadsheet or a presentation) with a de

[2011-12-15 22:11] peller commented on #750
With #1137, the initial concern in this ticket is fixed.  I still don't see the need to change what we're doing.

[2011-12-15 22:11] JonFerraiolo commented on #1289
It would be better if the readonly textbox was styling somehow to indicate it is readonly. We should solicit UI expert guidance on this, but OK for M4 to leave as is or do something simple such as set disabled='true' on the textbox so that its rendering is consistent with its actual behavior. But this is lower priority than almost everything else in the bug base.

[2011-12-15 22:12] peller commented on #1289
yeah, like take away the border!  Just use a div.  It's static text.  I really don't think we should leave this as-is for M4.  The current UI is sure to frustrate users.

[2011-12-15 22:17] peller commented on #1290
Yes, that's the basis for my concern.  The most obvious fix to preserve the current UI would be to disable selection of files (or hide files entirely) and not provide a filename.  That's what Eclipse does.

Anything else would be more than a UI change.  I'm sure it would impact how we deal with the filesystem, temporary files, etc.

[2011-12-15 22:38] JonFerraiolo commented on #750
@peller, you are talking about the original issue here (switch to model instead of VE data structures)? Personally, I would like to see a detailed proposal for the proposed coding changes and which parts of our code would switch over. It might be a good thing to make this change (due to cleaner and more reliable code), but I worry that pulling on the string will reveal that the string is very long

[2011-12-15 22:39] JonFerraiolo commented on #1290
The UI has been this way forever. We certainly don't need to rush in changes here for M4.

[2011-12-16 01:05] jhpedemonte commented on #750
The reason is that the model should reflect the source (the model).  By generating the Outline from the VE DOM, we have to put in special checks and workarounds to exclude the things that shouldn't be there.  By generating from the model, we can avoid that.

[2011-12-16 02:02] #1355 closed, assigned to jhpedemonte

[2011-12-16 02:11] jhpedemonte commented on #1344
Remember, **"fixed"** only works for **ScrollableView**.  Do the above with that widget, instead of **View**, and the "fixed" bits will work as expected.

Now, I am still seeing some issues, with RoundRectList overlaying Heading. Not sure what's up with that, but that's not this bug.

[2011-12-16 02:46] JonFerraiolo opened #1383 "New folder in new folder - Files palette not updated"
- New HTML File
- Open up files view and click on New Folder, create project1/folder1
- Click on New Folder again (with folder1 highlighted), and create project1/folder1/folder1 (or whatever)
- Click Create to create a new HTML File
- Add a Button
- Save, close

Result=> Files palette doesn't show the nested folder. The nested folder shows if you hit refresh.

[2011-12-16 03:48] JonFerraiolo opened #1384 "Properties palette - background properties don't show for mobile UIs"
@childsb, @billreed63

This is a strange one. For mobile UIs (and of course using mobile themes), the Properties palette isn't showing background properties for mobile widgets.
- New HTML File - blackberry
- Add a View
- Add a Heading
- Open up background section of Properties palette

Result=> No background properties show

[2011-12-16 04:04] JonFerraiolo opened #1385 "Properties palette - array logic not working when changing theme CSS file"
@childsb, @billreed63

Looks like we missed one more spot in code when making property updates support arrays.
- Clone claro to claro1 (or whatever)
- New HTML file using claro1
- Add a Button
- In properties palette, bring up background dialog by clicking on ... and set type to linear-gradient white to blue (or whatever) and click OK
- You may have to click OK on multiple are you sure dialogs. (S

[2011-12-16 04:09] JonFerraiolo commented on #1385
actually, this might have been a user error...

[2011-12-16 06:34] #1339 closed, assigned to peller

[2011-12-16 14:26] peller commented on #1339
didn't mean to close it last night, but it does indeed fix the bug

[2011-12-16 14:27] jhpedemonte commented on #1105
Still left to do in M5:
- If library A depends on library B, make sure the user cannot disable library B without disabling library A (#1386).
- (Maybe) If a library A depends on library B, automatically add B's main JS file when first adding a widget from library A.  Not sure how much we need this -- for example, for Drawing Tools & Clipart libraries (which depend on Dojo), the individual OAM file

[2011-12-16 14:46] jhpedemonte opened #1386 "Update "User Libraries" dialog to handle dependent libraries"
Now that we are using the **package.json** file to specify any dependencies on a library, we need to update the **User Libraries** dialog to properly handle library dependencies.

Here are the issues to be handled, assuming that Library A depends on Library B:
1. A user must not be allowed to disable B if A is still enabled.
2. Provide some visual reference which shows the dependencies for a given

[2011-12-16 14:51] jhpedemonte commented on #1386
Proposal: For (1), we pop up a dialog if the user tries to disable Library B:

[code]

This way, we inform the user about the implications, but also allow him to continue and disable not only the first library, but any libraries that depend on that one.

[2011-12-16 14:53] jhpedemonte commented on #1313
Fixed by e2100298f137098b367218b5a2b0d087821d3d45.

[2011-12-16 14:53] #1313 closed, assigned to jhpedemonte

[2011-12-16 14:54] jhpedemonte commented on #1229
Dupe of #1328.

[2011-12-16 14:54] #1229 closed, assigned to jhpedemonte

[2011-12-16 15:04] JonFerraiolo opened #1387 "Array logic not working when updating theme CSS file"
@childsb, @billreed63
- Fresh new user workspace
- Clone claro into claro1 (no need for any changes)
- New HTML file
- Switch to claro1 theme
- Add a Button
- Click on Button to select
- Go to background section of Props palette, click on one of the (...) buttons to bring up Background dialog
- Create a white-to-blue gradient, click OK to accept
- Multiple OK prompts will appear (are you sure?). C

[2011-12-16 16:07] childsb commented on #1288
Is the screenshot from Safari?  The indentation is correct for me on FF.

[2011-12-16 16:23] peller commented on #1096
Should be addressed with new dnd logic that uses chooseparent

[2011-12-16 16:30] JonFerraiolo commented on #953
reassigned to @waynevicknair for M5

[2011-12-16 16:32] JonFerraiolo commented on #1373
This one had been unassigned. Assigned to @waynevicknair

[2011-12-16 16:34] JonFerraiolo commented on #1013
@childsb: your comment says this one is fixed, but the issue is still open. I tried to reproduce today and it seems to be fixed. Please close if this one is indeed fixed.

[2011-12-16 16:35] JonFerraiolo commented on #945
@peller - here is one you might look at if you have time

[2011-12-16 16:37] JonFerraiolo commented on #1181
@peller - maybe you can look into this if you have time?

[2011-12-16 16:40] JonFerraiolo commented on #1082
@jhpedemonte - is this fixed? I couldn't reproduce the bug just now

[2011-12-16 16:41] JonFerraiolo commented on #1075
@jhpedemonte: push to M5?

[2011-12-16 16:43] JonFerraiolo commented on #1253
See #1145

[2011-12-16 16:43] JonFerraiolo commented on #1145
See #1253

[2011-12-16 16:45] JonFerraiolo commented on #731
@jhpedemonte: Seems like we will need to push this one to M5, right?

[2011-12-16 16:46] JonFerraiolo commented on #363
Change to Priority-Low, probably won't get done for M4

[2011-12-16 16:48] JonFerraiolo commented on #1367
I think I have a fix - currently in a private branch. Just remove one line of unnecessary code fixes it.

[2011-12-16 16:49] JonFerraiolo commented on #1307
Reassigned to @billreed63

[2011-12-16 16:50] JonFerraiolo commented on #1268
Fixed about a week ago

[2011-12-16 16:50] #1268 closed, assigned to JonFerraiolo

[2011-12-16 16:50] JonFerraiolo commented on #1267
Pushing to M5

[2011-12-16 16:51] JonFerraiolo commented on #1261
Closing this bug. We had a UI discussion and decided to leave the +/- icons as is and just put tooltips on the buttons

[2011-12-16 16:52] JonFerraiolo commented on #1261
Fixed by adding tooltips

[2011-12-16 16:52] #1261 closed, assigned to JonFerraiolo

[2011-12-16 16:52] JonFerraiolo commented on #1231
Pushing to M5

[2011-12-16 16:59] JonFerraiolo commented on #438
Reassigned to @waynevicknair and pushed to M5

[2011-12-16 17:00] JonFerraiolo commented on #297
Pushed to M5

[2011-12-16 17:05] JonFerraiolo commented on #1168
@peller, @jhpedemonte: this relates to recent discussion about making the "where" field reflect its read-only status. If we used a dropdown that showed the ancestor folders, then I think we have both read-only styling and a more useful UI. Nevertheless, probably push to M5.

[2011-12-16 17:06] JonFerraiolo commented on #1147
Pushed to M5

[2011-12-16 17:08] JonFerraiolo commented on #1112
Pushed to M5

[2011-12-16 17:08] JonFerraiolo commented on #1044
Pushed to M5

[2011-12-16 17:08] JonFerraiolo commented on #1038
Pushed to M5

[2011-12-16 17:08] JonFerraiolo commented on #1033
Pushed to M5

[2011-12-16 17:09] JonFerraiolo commented on #1030
Pushed to M5

[2011-12-16 17:11] JonFerraiolo commented on #1017
This got fixed along the way.

[2011-12-16 17:11] #1017 closed, assigned to JonFerraiolo

[2011-12-16 17:11] JonFerraiolo commented on #1012
Pushing to M5

[2011-12-16 17:13] JonFerraiolo commented on #932
Pushed to M5

[2011-12-16 17:15] JonFerraiolo commented on #756
I fixed all of this when I redid the parenting logic. Now, even in abs posn mode, dropping onto a parent makes the new widget a child of that parent.

[2011-12-16 17:15] #756 closed, assigned to JonFerraiolo

[2011-12-16 17:15] JonFerraiolo commented on #724
Pushed to M5

[2011-12-16 17:16] JonFerraiolo commented on #723
Pushed to M5

[2011-12-16 17:21] JonFerraiolo commented on #1096
See #1215

[2011-12-16 17:26] peller commented on #1181
It's really an open question for Bill when he gets back.  There's no bug at the moment.  It would be more efficient to use the built versions, but I do not feel comfortable making such a change without Bill.

[2011-12-16 18:06] JonFerraiolo opened #1388 "Don't URL encode PUT requests (manual save, auto save)"
What about the path string: /maqetta/.%2Fproject1%2Ffile3.html.workingcopy? Why does the URL use entities for the slashes instead of just using slashes? When I open a file, I see a GET request to something like

http://localhost:8081/maqetta/user/maqettaUser/ws/workspace/project1/file6.html

whereas the PUT request for either auto-save or manual save shows this:

http://localhost:8081/maqetta/.%2F

[2011-12-16 18:11] JonFerraiolo commented on #1386
As was said on team phone call this morning, this is too risky at this stage for M4. We'll just have to document that people who rely on dependencies (shapes, clipart, proprietary libraries) shouldn't move dojo with this release. Our feeling is that few users are moving libraries at this point.

[2011-12-16 18:50] peller commented on #1168
Agreed.  See #1289

[2011-12-16 18:55] #1013 closed, assigned to billreed63

[2011-12-16 19:32] jhpedemonte commented on #1380
By **data-dojo-config/packages**, I mean this:

[code]

[2011-12-16 19:56] jhpedemonte commented on #1085
From #1082:

---

I added a null check to the code, since non-container widgets will return `null` from `getContainerNode()`.

But this code doesn't really make sense to me.  First, **ModifyRichTextCommand** is very similar to **ModifyCommand** (already opened a bug so we can refactor and merge the two).

Here's a bit of code from `ModifyCommand.execute()`:

[code]

And here's what `ModifyRichText

[2011-12-16 19:59] #1082 closed, assigned to jhpedemonte

[2011-12-16 20:08] #1285 closed, assigned to childsb

[2011-12-16 20:20] waynevicknair commented on #1373
duplicate of issue #1258

[2011-12-16 20:20] #1373 closed, assigned to waynevicknair

[2011-12-16 23:15] childsb commented on #1383
I verified that this is working OK now, closing

[2011-12-16 23:15] #1383 closed, assigned to childsb

[2011-12-17 01:20] peller commented on #1288
@childsb: during the startup sequence, resize() is getting called on the dijit.Tree before it's visible, so when it tries to calculate _nodePixelIndent it comes up with 0px instead of 19px.  It's got something to do with the startup sequence of the custom widget.  I notice one difference between NewFile and OpenFile is the startup method...

[2011-12-18 04:30] peller commented on #724
Sorry for the long delay in responding... I don't think Dijit restricts the type of child, but limiting to `ContentPane` seems to be a reasonable thing for a tool to do.  The example cited by @jhpedemonte could be written with `ContentPane` also.  I suppose Maqetta would still be able to load and render such an example even if it's not an allowedParent arrangement, correct?

[2011-12-19 15:27] peller opened #1389 "New Review menu pick is missing"

[2011-12-19 15:27] peller commented on #1389
as is the Review tab.  Seems like the plugin may not be included in the launch.

[2011-12-19 15:57] jhpedemonte commented on #1389
@JonFerraiolo

[2011-12-19 15:57] jhpedemonte opened #1390 "Create test plan for Review & Commenting"
Not sure how feasible this is for M4, but it should be done as soon as possible.

Since it's not in our test plan, we missed a very major regression (#1389) and we need to prevent that in the future.

@JonFerraiolo

[2011-12-19 16:58] #1309 closed, assigned to JonFerraiolo

[2011-12-19 16:58] #1367 closed, assigned to JonFerraiolo

[2011-12-19 16:58] #1385 closed, assigned to JonFerraiolo

[2011-12-19 16:58] #1387 closed, assigned to JonFerraiolo

[2011-12-19 17:06] JonFerraiolo opened #1391 "Sometimes possible to change a custom theme globally without getting prompt"
There is at least one remaining bug where it is possible to change a custom theme CSS files without getting the are you sure prompt. I was doing a combination of background property changes using a DIV and a dojo Button, sometimes using dropdown menu, sometimes using color picker, sometimes using background dialog.

[2011-12-19 18:17] childsb opened #1392 "can't move widgets in flow mode (VE test #2)"
1) Create a new HTML file
2) Add a few widgets (buttons, checkboxes, DIVs)
3) try and move the widgets above or below one another.  notice they wont budge.

@jhpedemonte assigning to you to re-assign or prioritize.

[2011-12-19 18:29] childsb opened #1393 "this._fadeOutDeferred is undefined error after creating a new HTML file"
1) create a new HTML file in FF
2) when the dialog closes you see a "this._fadeOutDeferred is undefined" in Dialog.js

i noticed this off and on after the themeset changes to the new file dialog.

[2011-12-19 18:36] childsb opened #1394 "multiple errors when switching to source view"
1) open Sample1.html on a built version of maqetta
2) click one of the source view icons
3) If firebug is on with break on error enabled, you'll stop in some dojo compiled code with "_1a29 is null"
4) hit resume, then notice a second similar error.  If you resume here the source editor will eventually load.

[2011-12-19 18:48] peller commented on #1389
fixed by 8c33f1908f941e4ab9483ecaee73322ee0a5ccfe

[2011-12-19 18:48] #1389 closed, assigned to childsb

[2011-12-19 18:50] jhpedemonte commented on #1392
I tested this on Chrome and Firefox but could not reproduce.  @JonFerraiolo @peller can you guys reproduce?

[2011-12-19 18:53] peller commented on #1392
title says "absolute" mode but description implies "flow" mode.  Both work for me.

[2011-12-19 18:54] peller commented on #1394
this is likely the pixelX error.  has no impact whatsoever, and should be resolved next time we upgrade Orion.

[2011-12-19 18:56] childsb opened #1395 "delete state results in NPE"
1. in FF, enable "break on error" in firebug
2. Issue a "New HTML File" command.
3. In the States palette, click on the + icon to define two states "aaa" and "bbb"
4. In the States palette, select the "bbb" state and click on the - icon to delete that state

observe
"_fr1[i] is undefined" deep within built code.

[2011-12-19 18:56] peller commented on #1394
errors occur in the non-built version, too, including many caught errors in the parser.  I recommend closing.

[2011-12-19 18:57] jhpedemonte commented on #1393
@peller

This is an error in **dijit/Dialog.js**.  Dojo error, or are we doing something wrong?

[2011-12-19 19:01] jhpedemonte opened #1396 "New File dialog disappears abruptly when showing "File already exists" alert"
Steps to reproduce:
1. Create a new file "file1.html".  Save and close.
2. Create a new file, again with name "file1.html".  Click **Create** button.
3. This will display **"File already exists"** alert.  Click **OK**.

Both alert and New File dialog disappear.

Expected results:

Only alert should disappear, leaving New File dialog so user can choose new name.

@peller @childsb

[2011-12-19 19:01] jhpedemonte commented on #1396
Perhaps related to #1393.

[2011-12-19 19:02] #1318 closed, assigned to JonFerraiolo

[2011-12-19 19:05] JonFerraiolo commented on #1384
Reassigning to @billreed63. I suspect it's a theme metadata issue.

[2011-12-19 19:07] JonFerraiolo commented on #1215
@jhpedemonte - way too risky for M4, pushing to M5. Note that there are no regressions with M4 vs M3, this is just something we know how to fix and really need to fix.

[2011-12-19 19:09] JonFerraiolo commented on #1376
Mostly a duplicate with #1289. Pushing to M5.

[2011-12-19 19:10] JonFerraiolo commented on #1289
Also see #1376

[2011-12-19 19:12] peller commented on #1393
The dialog is getting hidden twice.   First by an "onClose" event fired by the custom dialog in _okButton and handled in Workbench.js, then by the Dialog itself.  As a result, the onEnd/fadeOut animation gets created twice and steps on the handle twice.

All that logic to manually close the dialog should be unnecessary.

[2011-12-19 19:15] jhpedemonte commented on #1393
Which is unnecessary?  The one in `_okButton` or in **Workbench.js**?

[2011-12-19 19:17] peller commented on #1396
sorta.  The OK button generates an onSubmit event and tears down the dialog.  Perhaps you could put the check in as an onSubmit handler, returning false and preventing the teardown, or disable the OK button if the file already exists?  I've got a big problem with this dialog logic leading the user to this state to begin with.  An error shouldn't be the default -- see #1290

dup of #1251?

[2011-12-19 19:17] jhpedemonte commented on #1376
I think we should do something for M4.  The **New File** dialog has changed quite a bit since M3 and now there's an empty text box in the middle.  Could be confusing.

At the very least, we can make the **Where** text box non-editable.

[2011-12-19 19:25] peller commented on #1393
I'm not sure what other logic is involved in the `callBack` function onClose is bound to, but minimally we can remove the line that calls `hide()` in Workbench.js (line 498)

I'd prefer we do away with custom dialogs entirely, perhaps just using templates with the stock dijit.Dialog.

[2011-12-19 19:26] childsb opened #1397 "setting properties for a state not working"
1) add a calendar and 2 button widgets
2) add a states, bb
3) for select state bb, go to properties palette and set the width on calendar to 50000px
4) click 1 of the buttons and under its event tab, have it change state to  NORMAL
5) click the other button and under its event tab, have it change state to BB

you can also notice if you switch to the normal state, the "width" doesn't change on the

[2011-12-19 19:30] childsb opened #1398 "Tooltip on button error"
1) add a button
2) drag a tooltip over the button
3) notice you cant edit the text of the tooltip (i think there was a smart input here), and the "waiting" indicator comes up on the editor tab.

[2011-12-19 19:32] peller commented on #1376
confusing, but consistent.  We don't show the top-level folder in the tree, so blank is actually correct.  Putting project1 in that box makes sense only if we put project1 back as the root node in the tree.  I don't like lots of tooltip popups.  If the dialog is complex enough to require a guide, something's wrong.  I think we have a separate proposal to make this field a choice popup.  I think I

[2011-12-19 19:34] childsb commented on #1392
It's flow layout.  Maybe i'm doing it wrong?  i am running with firebug open if that makes a dif.

[2011-12-19 19:36] childsb opened #1399 "source editor: left text clipped when opening"
1) open sample1.html
2) switch to source editor
3) notice that the first few letters of all the text are clipped.  You can scroll around and this goes away.

[2011-12-19 19:39] childsb opened #1400 ""Clipboard permision denied" when cut/copy in source editor"
1) open sample1.html
2) select some text
3) use apple-x to cut.  you will see msg "Permision denied clipboard" under firefox
4) same error when you paste

it does look like the copy/paste still happens though.

[2011-12-19 19:43] childsb opened #1401 "errors when DND widget in design/source split view"
1) new HTML file
2) switch to split view
3) DND a Button

You get a "dialog.hide is undefined", followed by "this action was interupted by an error", last theres a "this._focus is undefined" error.

[2011-12-19 19:49] childsb opened #1402 "DND DataGrid results in errors"
1) new html file
2) DND a Dojo Data Grid

Observe error:
"this.headerContainerNode.firstChild is null" inside DataGrid.js

[2011-12-19 19:57] jhpedemonte commented on #1396
Good point.  So we do a check while user is typing.  If name is already taken, we bring up an error tooltip and disable the **Create** button.

[2011-12-19 19:59] jhpedemonte commented on #1399
At least for me, this goes away when clicking inside of source editor.  Pushing to M5.  Assigning to @waynevicknair for now -- not sure if he or @peller are the better choice in this case.

[2011-12-19 20:00] JonFerraiolo opened #1403 "Investigate: cascade showing app.css properties?"
@childsb

In testing something else, I noticed that the properties palette isn't showing font-size cascade information for a <label> that gets its font-size from app.css. Not sure exactly what's wrong. This bug is a reminder to investigate more thoroughly.

[2011-12-19 20:03] jhpedemonte commented on #1402
Don't see this on Chrome.

Does Data Grid still appear in page and function properly, even with error?

[2011-12-19 20:05] jhpedemonte commented on #1402
Hmm, no, doesn't seem to work afterwards.  Not even on Chrome.

[2011-12-19 20:46] peller commented on #1400
I don't see this error.

[2011-12-19 20:53] peller commented on #1399
dup of #1242

[2011-12-19 20:53] #1399 closed, assigned to waynevicknair

[2011-12-19 20:58] peller commented on #1242
I'm not sure why this regressed, but the workaround was suspect to begin with.

[2011-12-19 21:04] peller commented on #1401
this may be unrelated to the dialog.hide error @childsb saw, but I also see it failing in this loop, where `this._focuses` is undefined

[code]

@JonFerraiolo - weren't there some changes here recently regarding focus?

[2011-12-19 21:18] peller commented on #1392
Perhaps you're trying to DnD by clicking on the widget itself?  You have to click on the focus rectangle that goes around the widget.

[2011-12-19 22:14] jhpedemonte opened #1404 "Cut down on `findResource` and `listFiles` requests to server"
Goal: Reduce number of server requests in order to improve performance.

We need to cut down on the number of unnecessary calls to `findResource` and `listFiles`.

Ideally, we should treat the workspace as a **write-through** cache.  At startup, we load a directory listing of the whole workspace (one request), which removes the need for all the subsequent `listFiles` requests (which seem to go dir

[2011-12-19 22:20] peller commented on #1404
We could trust the client and use it as a write-through cache, but I think we could probably continue to do what we're doing now and rely on the server, just more efficiently.

[2011-12-19 22:24] jhpedemonte commented on #1404
Well, the multiple `listFiles` calls have to go.  Getting the full workspace directory at the beginning doesn't seem to me to be much overhead.

[2011-12-19 22:28] #1401 closed, assigned to peller

[2011-12-20 02:09] peller commented on #1402
I took a quick look at this.  It seems that the grid has a problem with the helper doing an updateStore before the grid has rendered... something called flexCells is truthy in _View, which triggers the error above.  Strangely, I don't see any significant changes in this area, so I don't know why it would have regressed.  Would be great if @billreed63 had a chance to look at this, so I'll leave it

[2011-12-20 02:33] peller commented on #1242
@JonFerraiolo: The bug causing this appears to have been fixed on the Orion trunk.  Integration with their I20111218-2230 build corrects the problem: ca5afc8592348c493435864450c405adac8280aa   Should we merge this for M4?

[2011-12-20 03:35] #1177 closed, assigned to peller

[2011-12-20 04:13] peller commented on #1395
unbuilt, on Chrome, it looks like it's setting the `newState` to be `undefined` and it bombs in davinci/ve/_Widget _sortStyleValues:

[code]

where cleaned[0] is undefined.  There appear to be no negative side-effects.

[2011-12-20 04:17] peller commented on #1397
@JonFerraiolo: did states ever support property changes?  This doesn't seem to work in M3 either.

[2011-12-20 15:10] JonFerraiolo commented on #1242
At first when I saw the number of diffs, I felt no way should we include these changes, but when I studied the code, it looks like these are important bug fixes. I'll assume it will be reasonably easy to back out the merge if we see fatal problems, and therefore I'll say yes let's merge in the fixes.

[2011-12-20 15:18] JonFerraiolo commented on #1392
Works for me, too, using Mac/FF with Firebug on, in both flow and absolute mode. Note that there is a bug #1220 which says we should try to allow dragging from the middle of the widget and not just the outline. Of course, there will be complexities with container widgets because we need to allow the mouse to pick widgets inside of the container, and we also want to allow for dragging out a rectang

[2011-12-20 15:29] JonFerraiolo commented on #1400
I assume this bug is with the source editor. I remember from the distant past that there are (or maybe there were) security issues with cut/copy/paste on Firefox but I can't recollect the details. Maybe the exception only happens when Firebug is running? I searched about:config and the web for reminders on this issue, but no bells rang. If we can't remember, we should probably contact the Orion gu

[2011-12-20 15:33] JonFerraiolo commented on #1396
Changed to Priority-High. We should hold up release until this is fixed.

[2011-12-20 15:36] JonFerraiolo commented on #1394
Yeah, the parser leverages exceptions as part of normal processing (vs using exceptions just for errors).

[2011-12-20 16:14] JonFerraiolo commented on #1376
restored to M4. Maybe what we can do in short-term until we put a menu instead of the textbox is to is put "(project root folder)" in the text box if it would otherwise be empty and then set the read-only bit on the textbox so that it gets read-only styling.

[2011-12-20 17:24] JonFerraiolo commented on #1397
Changed to Priority-Med with this rationale: at this point, changing properties on a per-state basis other than display is mostly a hidden feature that most users won't find (you have to open the cascade for a widget, scroll down to the bottom, and click a checkbox that says "only apply to current state"), and the feature wasn't all that solid in M3 anyway. Nevertheless, I've seen some things that

[2011-12-20 18:47] peller commented on #1400
I remember.  There was a way to programmatically hook up to the clipboard, which had all sorts of "Netscape" security restrictions, but IIUC we're talking about the OS keyboard accelerators here, which should be a native function and not trigger any JS.

[2011-12-20 20:30] #1393 closed, assigned to peller

[2011-12-21 05:41] peller opened #1405 "OK/Cancel button order"
@JonFerraiolo, @childsb

New File has "Create" (the OK button) on the right, and Cancel on the left; new project and folder have it reversed.  Also, the use of a verb like "Create" vs. "OK" might not be consistent.

[2011-12-21 05:45] JonFerraiolo commented on #1405
The New File dialog has the exact pixel-perfect layout that we got from the UI folks so that should be the reference that other dialogs should follow.

[2011-12-21 06:28] #1068 closed, assigned to JonFerraiolo

[2011-12-21 14:32] JonFerraiolo commented on #1403
I think these problems were fixed by a68ab358adcfee913ac2848d60415ee4cd8c2e61

[2011-12-21 14:32] #1403 closed, assigned to JonFerraiolo

[2011-12-21 14:38] JonFerraiolo opened #1406 "Properties palette cascade should show inherited properties, too"
@waynevicknair, @childsb, @billreed63

In fooling around with the Properties palette, I realized that we have omitted dealing with property inheritence when we show the cascade in the properties palette. One case in point: suppose in the source view you put color:blue on inline style for a Button. The Button will be blue on the screen, but the cascade will not show any style rules that make the bu

[2011-12-21 15:33] peller commented on #1251
dup of #1396

[2011-12-21 15:33] #1251 closed, assigned to peller

[2011-12-21 15:55] JonFerraiolo opened #1407 "Prevent console.error messages for missing nls files in review code"
When I run a build, I see dozens of red-colored console messages about nls (localization) files not loading properly. According to @peller, we added code to the core to prevent this, and @waynevicknair might have added code to the upcoming merged R/C branch code, but for M4, it would be great to prevent these messages from appearing in the console.

[2011-12-21 16:05] JonFerraiolo opened #1408 "Review editor doesn't come up"
@EldonReturn , @peller

The review editor doesn't come up. When I try to bring up the review editor, I get redirected to <hostname>:/review instead of <hostname>:/maqetta/review. If I manually change the URL bar to add "/maqetta" into the URL, the black banner starts to appear but then the code dies quickly with the console showing this:

[code]

@EldonReturn, As background, we decided to push the

[2011-12-21 16:23] #1242 closed, assigned to peller

[2011-12-21 16:33] peller commented on #1394
we should try to capture stacks when this sort of thing happens, even if they appear to be garbage.  The pixelX exception I often saw (may or may not be what @childsb saw) is gone with the update using the I201112182230 Orion build in 45cc11f3aad5af77d27438fd18bf2197b3470a26 I still see some undefined references, such as this one "Cannot set property 'className' of null" (document.body is null):

[2011-12-21 17:37] #1407 closed, assigned to peller

[2011-12-21 17:38] peller commented on #1407
Files actually were loading properly.  The 404's were just an artifact of unbuilt nls bundles in Dojo's old loader.  @waynevicknair will need to make sure this gets merged with his branch next time he does a pull.

[2011-12-21 17:52] JonFerraiolo opened #1409 "Exceptions when browser refresh with 3 open editors"
I can reproduce this fairly reliably when using Mac/Chrome and launching from Eclipse.

When I have the following 3 files open in Maqetta (file12.html, file10.html and file11.html, with that as the order of the tabs, with file11.html as the active tab, see below for source code), if I navigate away from Maqetta, clear browser cache, then navigate back to Maqetta, I get this exception in the consol

[2011-12-21 18:20] JonFerraiolo commented on #1397
This is now fixed, probably by other cleanups I've done in the past couple of days. But I want to point out that per-state property changes are only applied when you click the "only apply to current state" checkbox at the bottom of the cascade listing.

[2011-12-21 18:20] #1397 closed, assigned to JonFerraiolo

[2011-12-22 05:42] #1376 closed, assigned to JonFerraiolo

[2011-12-22 15:32] JonFerraiolo opened #1410 "Come dialogs don't close after clicking OK"
Missed a couple  - Open theme editor dialog doesn't go away after clicking OK.
- New theme (clone claro to claro1)
- Close theme editor
- Open theme... choose claro1.

Result=> Theme editor comes up, but shaded because dialog doesn't go away until clicking on the close "x"

[2011-12-22 15:36] JonFerraiolo commented on #1410
Also the new Background dialog (by clicking on "..." button in Background section of Properties palette) doesn't come down after clicking OK.

[2011-12-22 15:37] JonFerraiolo commented on #1334
I investigated the above worries and everything looks fine. Closing.

[2011-12-22 15:37] #1334 closed, assigned to JonFerraiolo

[2011-12-22 16:57] JonFerraiolo commented on #1021
Pretty sure this has something to do with the fact that the widget's ID has been stuffed into a subnode rather than the root node. Here is a copy/paste from the runtime state of the widget. Notice that widgetid is "input_12" but Dijit puts the ID on an interior subnode:

[code]

[2011-12-22 17:03] JonFerraiolo commented on #1021
Looks like the problem is the combination of the facts that (a) Button puts the ID on a subnode, and (b) somehow or other that subnode has been given a _dvWidget property. I suspect the real problem here is upstream due to (b).

[2011-12-22 17:30] JonFerraiolo commented on #1021
I have discovered where the bug is. Only happens with the combination of using states and widgets who put their IDs on a subnode. What happens right now is that the restoreStates logic in Context.js (invoked at doc load time) finds the widget's node by a simple getElementById(), which of course returns the subnode rather than the widget's root node. Then when getWidget() is called on the next line

[2011-12-22 20:12] JonFerraiolo opened #1411 "Sample.1.html loads gray, not blue"
@peller

I may have broke something recently. If I load Sample1.html, all of the widgets are gray instead of blue.

[2011-12-22 20:29] JonFerraiolo opened #1412 "States exception in combination with sorting shorthands"
@peller , @childsb
- New HTML File
- Add CheckBox, DropDownButton, DropDownSelect
- Add a DIV
- Inside the DIV, add 3 Buttons
- Define new states "a" and "b"
- Go to "a" state. Make DropDownButton invisible by clicking on its eyeball
- Go to "b" state. Make DropDownSelect invisible by clicking on its eyeball
- Go to "a" state. Everything works normally.
- Go to "Normal" state.

Result=> Eyeball ic

[2011-12-22 20:31] #1021 closed, assigned to JonFerraiolo

[2011-12-22 21:37] peller commented on #1410
yeah, it's throwing an exception for some reason.  Each Dialog seems to have a personality all its own.

[2011-12-22 21:45] #1410 closed, assigned to peller

[2011-12-22 23:08] jhpedemonte commented on #1392
Closing as currently working.

[2011-12-22 23:08] #1392 closed, assigned to jhpedemonte

[2011-12-22 23:37] jhpedemonte commented on #1405
I like how it's done in the New File dialog:  the **action button** ("Create") is on the right.

And we should cut down on the use of "OK" as much as possible -- the button should be named with the action that will be performed (as in "Create").

[2011-12-23 05:15] #1409 closed, assigned to peller

[2011-12-23 05:21] peller commented on #1411
May be related to my checkin for #1177 -- disabled="disabled" is set on those three form widgets once it's loaded, for some reason

[2011-12-23 05:32] peller commented on #1411
disabled="false" may be invalid markup (see http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attribute)  but apparently it worked in all the browsers, so I'll make sure it continues to do so

[2011-12-23 05:35] #1411 closed, assigned to peller

[2011-12-23 05:39] peller commented on #1412
see #1395

[2011-12-23 15:16] #1395 closed, assigned to peller

[2011-12-23 15:18] #1412 closed, assigned to JonFerraiolo

[2011-12-23 18:08] JonFerraiolo opened #1413 "Investigate: coding problem with ContainerInput.js?"
Here code from ContainerInput.js that looks suspicious. Shouldn't `child.attr()` be `child.dijitWidget.attr()` instead?

[code]

[2011-12-23 18:31] JonFerraiolo commented on #1413
Sorry, I poked around and I see that dvWidget has an `attr()` function that redirects to `this.dijitWidget.get()`

[2011-12-23 18:31] #1413 closed, assigned to billreed63

[2011-12-23 20:00] #1258 closed, assigned to waynevicknair

[2011-12-23 20:06] waynevicknair commented on #1078
the behavior here has changed such that editing in source view is only impacted when there are multiple dojox.mobile.Views on the page. additionally, the user can now move the cursor freely and edit text without any cursor jumping. However, when widgets are selected in visual editor pane or outline view the cursor jumps to top of file.

this behavior is far less annoying than before. therefore i a

[2011-12-23 20:09] waynevicknair commented on #1227
cannot recreate on build from commit 4c150f322b449b2067a40948614d43ce11869b6c

[2011-12-23 20:09] #1227 closed, assigned to waynevicknair

[2011-12-23 22:29] JonFerraiolo commented on #1078
Moving to Priority-High. We really should have source view working well with Views, and should hold up shipping M4 until we get there. Every mobile UI will have Views, mobile is the big new feature, and source editing is a key existing feature. May need multiple people around at once to get to bottom of this. @peller, @jhpedemonte

[2011-12-23 22:59] JonFerraiolo commented on #1145
Reassigned to me. I have to fix this one to fix #1253. I am making progress on this one.

[2011-12-23 23:17] waynevicknair commented on #1078
i agree with the principle of making editing the best it can be. however, given that this error occurs only in SPLITVIEW in the visual editor with multiple 'dojox.mobile.Views' on the page and that the bug is present in M3 and has not been reported by maqetta.org users, and that there is no data loss, i believe priority high is uncalled for. @peller @jhpedemonte

[2011-12-24 00:21] waynevicknair commented on #1078
what's happening is the ViewHelper is modifying the DOM in its '_updateVisibility()' method using editor commands that modify the source (adding/removing  'display="none"' to/from the source HTML). the source editor is reacting to the changes and clearing selection. i believe that is the default behavior of the editor (@peller please correct me if i'm wrong). it may be possible to circumvent this

[2011-12-24 05:06] #1145 closed, assigned to JonFerraiolo

[2011-12-24 05:06] #1253 closed, assigned to JonFerraiolo

[2011-12-24 05:07] JonFerraiolo opened #1414 "Figure out why model sometimes adds extra newlines to ListItem"
Investigate why the model sometimes shows extra newlines for ListItem widgets

[2011-12-24 05:10] JonFerraiolo opened #1415 "No widget-specific attribute for ListItem main content"
Just like DIV, we are missing a widget-specific attribute for the inner content of a ListItem. Adding one will be a bit tricky. We may need to add a new helper to pull in the content, or change the code to pull the content from the model instead of the iframe DOM. You see, dojox.mobile puts the ListItem content in different places under different circumstances.

[2011-12-24 20:14] JonFerraiolo commented on #992
No problems with today's build! Closing.

[2011-12-24 20:14] #992 closed, assigned to JonFerraiolo

[2011-12-24 20:16] JonFerraiolo commented on #1121
Changed to Priority-Low like other issues that request drop-down menus (e.g., id and class properties)

[2011-12-24 20:24] JonFerraiolo commented on #1078
OK, I had a chance to test with latest build. The worst of the problems are fixed! I was actually able to follow the steps in this bug report without cursor jumping when using ScrollableView instead of View, and people shouldn't be using fixed with View anyway. Also, this was a more critical problem before we added support for the 'fixed' property in the Properties palette.

@waynevicknair I sugge

[2011-12-24 22:43] waynevicknair opened #1416 "Selecting hidden widget in outline erases selection in splitview source"
steps to recreate:
1) create a new HTML file
2) drag and drop a dojox mobile View and Heading onto the page
3) drag and drop another dojox mobile View onto the page
4) switch from design mode to splithorizontal mode in the page editor by clicking the spit horizontal icon in the toolbar
4) in Outline pane select the first View which was made invisible on the canvas when the second View was dropped

[2011-12-24 22:44] #1078 closed, assigned to waynevicknair

[2011-12-26 15:18] JonFerraiolo commented on #1416
@peller
On Mac/Chrome, when I try the above scenario, I can't get View widgets to show selection in source pane. If I click on Heading, the source pane shows the Heading as selected, but if I click below the heading to select the View, no highlights in source pane. @waynevicknair can you try that out and report what you are seeing?

How serious is this issue? I classified as Priority-Low for M5, b

[2011-12-26 15:36] JonFerraiolo commented on #733
Lowering to Priority-Low for M4. I haven't been able to create a situation where bugs get activated. Leaving open to continue code analysis.

[2011-12-26 15:53] JonFerraiolo commented on #578
Pushing this to M5. Can't make any user-visible bugs happen and too risky to attempt a code cleanup at this point. I did manage to find a way to get an "undefined" property onto states object:
- In development version, temporarily add this code to top of setStyle() in davinci/maqetta/States.js:

[code]
- New HTML file
- Add Checkbox, TextBox, ComboBox
- Add a DIV, then add 3 Buttons into DIV
- Cre

[2011-12-27 17:22] JonFerraiolo commented on #230
Grids were removed from preferences and code a couple of months ago. Closing.

[2011-12-27 17:22] #230 closed, assigned to nobody

[2011-12-27 18:17] #1359 closed, assigned to JonFerraiolo

[2011-12-27 18:18] JonFerraiolo commented on #1347
Push to M5

[2011-12-27 18:30] #1216 closed, assigned to JonFerraiolo

[2011-12-27 18:33] JonFerraiolo commented on #1109
Pushing to M5. We might end up just closing this and accepting the way things are.

[2011-12-27 18:33] JonFerraiolo commented on #1077
Pushing to M5

[2011-12-27 18:41] #1036 closed, assigned to JonFerraiolo

[2011-12-27 18:41] JonFerraiolo commented on #870
Push to M5

[2011-12-27 18:42] JonFerraiolo commented on #818
Pushing to M5

[2011-12-27 18:43] JonFerraiolo commented on #522
Pushing to M5

[2011-12-27 18:44] JonFerraiolo commented on #529
Pushing to M5

[2011-12-27 19:43] JonFerraiolo commented on #1414
Couldn't come up with a reproducible case. Pushing to M5.

[2011-12-27 19:55] JonFerraiolo opened #1417 "Rewrite HTML source formatting logic"
@jhpedemonte

We don't have adequate source formatting logic in HTMLModel.js. We indent children, which is fine, and we attempt to not indent certain elements where it would be wasteful to indent (e.g., `<b>` and `<i>`), but we arbitrary don't force newlines and indent on <span> although usually we should because usually SPANs are used the wrapper element for widgets, and if we don't wrap SPANs th

[2011-12-27 19:56] JonFerraiolo commented on #1019
Pushing to M5

[2011-12-27 19:57] JonFerraiolo commented on #684
Pushing to M5

[2011-12-27 20:00] JonFerraiolo commented on #1207
Closing. Couldn't reproduce with latest code. Maybe some of the SelectTool.js and Focus.js changes over last several weeks fixed this.

[2011-12-27 20:00] #1207 closed, assigned to JonFerraiolo

[2011-12-27 20:03] JonFerraiolo commented on #591
Pushing to M5. We do have an animated effect on upload dialog now so most users will figure out that upload happened, but we still need to review the upload UI.

[2011-12-27 21:02] #1301 closed, assigned to JonFerraiolo

[2011-12-27 21:46] JonFerraiolo commented on #1170
Pushing to M5 and reassigning to @peller.

I haven't run into the cookie limit lately and it looks like it is unlikely that early users would run into cookies max'ing out on the browser side, but maybe Jetty might max out on the server side. Looking below at our current use of cookies, the biggest worry are the Tree widgets (Files palette and Reviews palette) that have persist=true and therefore s

[2011-12-28 01:22] JonFerraiolo commented on #681
Moving to M5. Haven't noticed any problems. Mainly just a code cleanup as described above and too much risk for too little gain at this stage of M4 cycle.

[2011-12-28 01:42] #1140 closed, assigned to JonFerraiolo

[2011-12-28 15:42] jhpedemonte commented on #1417
I'm a bit worried about this.  I think this will be a very hard issue to fix correctly for all cases and might be too much trouble.

I wonder if a better approach would be to take the code, pass it through a beautifier, and then reread it into the model.  Main downside to this is performance.

A shortcut would be to beatify the code off in a separate area, then compare the model to the beautified

[2011-12-28 22:59] peller commented on #1349
I'm wondering why we don't pass something like null for widget instead of '$all' which is a bit awkward, but if it's working, that's fine.

Regarding the proposed change, I'm thinking perhaps we should pass `context` instead of `editor` as the object for comparison.  Most of the time this is trivial, except for the States.js file, which has no exposure to Maqetta and is designed to be used outside

[2011-12-29 00:06] JonFerraiolo opened #1418 "Property array logic incomplete"
@childsb, @peller

I found some code that still uses associative arrays instead of regular arrays for the list of properties:
- StyleCommand: this._oldValues
- davinci.ve.widget.parseStyleValues
- davinci/maqetta/States.js:setStyle() and getStyle()

[2011-12-29 00:16] JonFerraiolo commented on #909
@childsb, @peller

Pushing to M5. Multiple things are messed up with regard to states and undo for StyleCommand, MoveCommand, ResizeCommand, etc, requiring some major changes and therefore too risky to attempt for M4:
- StyleCommand has states logic (e.g., normal vs current state) that isn't in MoveCommand or ResizeCommand yet
- StyleCommand is incomplete for cases where state!=Normal. In particul

[2011-12-29 00:37] JonFerraiolo commented on #733
Pushing to M5. Too risky to fix with too little gain.

I did find a case that fails. For Button, default tabIndex value is "0". If you try to remove the value, ModifyCommand calls createWidget() passing `tabIndex:''`. Then within createWidget(), the following logic gets called:

[code]

The check `propval || typeof propval == "boolean"` results in a no-op because empty string is equivalent to fals

[2011-12-29 00:43] JonFerraiolo commented on #1009
Couldn't reproduce just now. Pushing to M5.

[2011-12-29 00:51] JonFerraiolo opened #1419 "Undo not working when adding style rule to app.css"
@billreed63, @childsb
- New HTML File
- Add a Button
- Set class to zzz on the Button
- Go to cascade for 'color' property, select radio button to target a new rule for class zzz, then change the color property to red or whatever
- Click the Undo button
- Save and close the editor
- Open app.css

Result=> Button doesn't revert back to black text and app.css still includes a new style rule that set

[2011-12-29 00:57] JonFerraiolo commented on #1029
I studied the docs carefully and could find no claim that users can create their own custom themes from scratch except in the theme editor programming guide.

Closing.

[2011-12-29 00:57] #1029 closed, assigned to JonFerraiolo

[2011-12-29 00:59] JonFerraiolo commented on #844
Pushing to M5 as Priority-Med

[2011-12-29 14:58] JonFerraiolo opened #1420 "Windows server launch script fixes"
@childsb, @jhpedemonte

Two small things for maqetta.server.win.bat:
- Should use port 50000 instead of 8080
- Should echo a message about URL to use to run Maqetta (i.e., http://localhost:50000/maqetta)

[2011-12-29 15:59] JonFerraiolo opened #1421 "Investigate $all in states logic"
@billreed63

@peller says this in #1349: I'm wondering why we don't pass something like null for widget instead of '$all' which is a bit awkward, but if it's working, that's fine.

[2011-12-29 16:02] JonFerraiolo commented on #1349
I created a separate issue (#1421) to look into $all.

Passing `context` instead of `editor` sounds fine and is probably better. But is there a Context during preview-in-browser? Sorry, I don't remember the details in this part of the code.

[2011-12-29 16:34] JonFerraiolo opened #1422 "Upload dialog doesn't show current folder"
@childsb

The Upload command in the context menu of Files palette doesn't show the current folder. The parent folder field is always blank.
- Add a folder to your workspace (e.g., folder1)
- In Files palette, click to select the new folder
- With mouse over the new folder name, bring up context menu and issue an Upload... command

Result=> Notice that there is no text to the right of the label "Pa

[2011-12-29 16:47] JonFerraiolo opened #1423 "Download option for CR/LF"
For Windows users, it would be nice if we offered a checkbox on the various download dialogs or maybe even just a preference to allow users to say whether they want their source files to use CR/LF (Windows) or just LF (Mac/Unix) for newlines. Would also be nice if we could include some auto-sense feature that recognized that user has a Windows box and maybe default to CR/LF for those users.

[2011-12-29 18:48] peller commented on #1349
preview-in-browser just runs in a plain browser window, so there isn't a context or an editor,  same as when you run an app outside the workbench and use the States.js code (see question above)   The same event is published whether you're in the workbench or not, so it's a little unclear how to handle the new parameter.

[2011-12-29 19:19] JonFerraiolo commented on #1181
Raised to Priority-High. Performance is abysmal and unacceptable when testing on my Windows machine without building the mobile theme CSS files.

[2011-12-29 20:24] JonFerraiolo opened #1424 "Background-color drop-down menu Color Picker command broken"
If you choose "Color picker...", the string "Color picker..." becomes the property value instead of (what it should do) bringing up the color picker.

[2011-12-29 20:26] JonFerraiolo opened #1425 "Read-only dialog has lost its width"
@peller , @childsb
The are-you-sure dialog used to be about 300px wide, and now it stretches horizontally into infinity.

Also, the OK button no longer works. You can only close the dialog by clicking on the Close button.

[2011-12-29 20:36] peller commented on #1425
I'm sure it's something I did.  Which dialog is this?

[2011-12-29 20:48] peller opened #1426 "500 internal error saving read-only file"
Open themes/claro/claro.css, a read-only file

make some changes (note that the parser is unbearably slow... this is a very large file and it parses the whole thing)

Hit save

A server error occurs:

`2011-12-29 15:42:00.245:WARN::/maqetta/.%2Fproject1%2Fthemes%2Fclaro%2Fclaro.css: java.io.IOException: No such file or directory`

on the client browser console, you see

`PUT http://localhost:8081/

[2011-12-29 21:06] peller commented on #1425
Fixed in 4ac529f5aa7318458874770f9fd08f86e4b61fa5

[2011-12-29 21:06] #1425 closed, assigned to peller

[2011-12-29 21:30] JonFerraiolo opened #1427 "Shorthand logic not working for border-style vs border-top-style"
- New HTML File (composition type = Desktop hi-fi page)
- Add two DIVs
- Select second DIV
- In Properties palette under Border, show "props"
- Set:
  - border-width:4px
  - border-style:dotted
  - border-color:blue
- Change from show props to show all
- Set border-top-style to solid

Result=> Top border is still dotted. If you look at source view, the border-top-style property is placed just afte

[2011-12-29 21:50] JonFerraiolo opened #1428 "Eclipse projects should have WebContent open by default in Files palette"
@peller

When you create a new Eclipse project, the WebContent folder is closed by default. We should include logic to have that folder open by default, both in the Files palette and in the New File dialogs when the file listing shows in that dialog.

(Note: We already have logic that sets the initial folder for new HTML files as WebContent/, which is the most important thing to do.)

Even better

[2011-12-29 22:09] JonFerraiolo opened #1429 "Eclipse project import not working"
I followed the instructions in the test plan for Eclipse projects, but it didn't work for me when testing on Windows. (Haven't tried it on Mac yet). Maybe it was a user error, but I tried to follow the steps in the test plan to no avail.
- Create a new Eclipse project (new project with Eclipse support check box on)
- Create a folder aaa
- Create an HTML file in that folder, add a Button, save
- Cl

[2011-12-29 22:13] JonFerraiolo opened #1430 "Update docs for Preview 4 release"
Main things left:
- Mobile theme editor tutorial
- Need to add a note about "Composition type" for each instruction to create New Html File
- Update screen shots where UI has changed (eg, Properties palette)

[2011-12-30 18:30] JonFerraiolo opened #1431 "Background dialog: change color and gradients break"
- Add a DIV
- Click "..." button by one of the background properties to bring up Background dialog
- Change background-color and add a gradient, click OK to apply
- Once more, click "..." button by one of the background properties to bring up Background dialog
- Change background-color but don't change the gradient. Click OK

Result=> DIV just shows background-color and not the gradient. This is b

[2011-12-30 18:46] JonFerraiolo opened #1432 "Background dialog: changing gradient position doesn't trigger onChange"
- Assign the default white-to-black or whatever gradient to a DIV
- Bring up background dialog again and change 100% to 50%, click OK.

Result=> No visible change to the gradient on the canvas. Somehow the new position value isn't getting noticed.

[2011-12-30 18:57] JonFerraiolo commented on #1431
Pushing to M5. The fix for this is dependent on the fix for #1418

[2011-12-30 19:21] #1432 closed, assigned to JonFerraiolo

[2011-12-30 19:22] #1424 closed, assigned to JonFerraiolo

[2011-12-30 19:22] JonFerraiolo commented on #1424
Fixed by 3a5f48e1a654012207ddb416a17ed07fd2d6f714

[2011-12-30 21:18] JonFerraiolo commented on #1391
Pushed to M5. Couldn't reproduce just now. Leaving open to try again to see if I can reproduce.

[2011-12-30 22:20] #1390 closed, assigned to JonFerraiolo

[2011-12-30 22:21] JonFerraiolo opened #1433 "Test plan for drawing tools and clipart"

[2011-12-30 22:22] JonFerraiolo opened #1434 "Test plan for snapping and ChooseParent"

[2012-01-01 15:15] JonFerraiolo commented on #1427
Regression from Preview 3

[2012-01-01 15:26] JonFerraiolo opened #1435 "Click-select on widget in source view doesn't select widget"
@peller

Discovered using Mac/Chrome. Haven't tested other browser yet.
- New HTML File
- Add Button, Calendar, ColorPalette widgets
- Go to split view
- Try clicking on markup associated with any of the above widgets

Result=> None of the widgets get selected

[2012-01-01 15:26] JonFerraiolo commented on #1372
Another issue blocking this issue is #1435

[2012-01-01 15:29] JonFerraiolo commented on #1287
Pushing to M5

[2012-01-01 16:02] JonFerraiolo commented on #1288
@peller: Looking at this page (http://animaldiversity.ummz.umich.edu/changethinking/labs/species4/0/util/docscripts/_browse2.php?ns=dijit&file=Tree.js&showall=1) I see the following text:

[code]

In debugger, I see that the Tree widget for OpenFile does indeed have a DIV with `data-dojo-attach-point="indentDetector"`:

[code]

and looking at the Style tab in debugger it looks like the code is ind

[2012-01-01 16:08] JonFerraiolo commented on #1353
@jhpedemonte: For assert logic that checks to see if valid parameters are passed in correctly, wouldn't it be better to:
- Fail gracefully (if at all possible)
- Report the problem using console.error() (versus using a debugger statement)

[2012-01-01 16:15] JonFerraiolo commented on #1255
With latest source editor fixes, things are better now with regard to cursor jumping, but changing title in source view causes Dialog to disappear. I think there is timer logic that pushes an update to visual editor which causes Dialog to become unselected and therefore disappear. Pushing to M5.

[2012-01-01 16:18] JonFerraiolo commented on #1133
Too late to fix this for M4?

[2012-01-01 16:21] JonFerraiolo commented on #1121
Pushing to M5

[2012-01-01 18:19] JonFerraiolo commented on #1111
Pushing to M5

[2012-01-01 18:20] JonFerraiolo commented on #1102
Pushing to M5

[2012-01-01 18:20] JonFerraiolo commented on #1101
Pushing to M5, reassigning to @waynevicknair

[2012-01-01 18:23] JonFerraiolo commented on #1071
Couldn't reproduce just now. @billreed63 OK for you to defer to M5 and raise to Priority-Med. I recommend leaving open to see if we can come up with a reproducible set of steps.

[2012-01-01 18:27] JonFerraiolo commented on #1055
Note that I changed ListItem to use innerHTML rather than 'label': 3e700f4da9 .

OK to push to M5 and raise to Priority-High. We really shouldn't keep pushing this one out, but I think it's too late in M4 cycle to attempt to fix.

[2012-01-01 18:29] JonFerraiolo commented on #1053
Probably have to push to M5. I would set to Priority-Med.

[2012-01-01 18:29] JonFerraiolo commented on #1032
Pushing to M5 with Priority-Med

[2012-01-01 18:30] JonFerraiolo commented on #1026
Pushing to M5, Priority-Med

[2012-01-01 18:32] JonFerraiolo commented on #1006
Maybe @peller or @waynevicknair could snatch this one and see if there is a (reasonably) safe fix

[2012-01-01 18:32] JonFerraiolo commented on #1005
Reassigning to me.

[2012-01-01 18:34] JonFerraiolo commented on #984
Probably have to push this to M5.

[2012-01-01 18:39] JonFerraiolo commented on #963
Reassigned to me, pushed to M5. I'm pretty sure the problem is that the ReparentCommand or whatever is being used doesn't support an "index" or position value and the onExtentChange would need to use that when doing multiple selection reparenting. I'll be rewriting sections of the drag/drop logic in flow layout during M5.

[2012-01-01 18:41] JonFerraiolo commented on #884
Push to M5?

[2012-01-01 18:41] JonFerraiolo commented on #882
Push to M5 with Priority-Med

[2012-01-01 18:43] JonFerraiolo commented on #835
Pushing to M5 with Priority-Med

[2012-01-01 18:44] JonFerraiolo commented on #811
Pushing to M5, Priority-Med

[2012-01-01 18:47] JonFerraiolo commented on #569
Pushing to M5, Priority-Med, reassigning to @peller .

One problem is that the Color Picker currently doesn't allow _dragging_ the slider on the rainbox color control. You can click on the slider to change it, but you can't drag the slider (even though hand cursor appears).

[2012-01-01 18:50] JonFerraiolo commented on #477
Pushing to M5, raising to Priority-Med

[2012-01-01 18:51] JonFerraiolo commented on #267
Pushing to Priority-Med and M5.

[2012-01-01 18:52] JonFerraiolo commented on #255
Reassigning to me.

[2012-01-01 18:53] JonFerraiolo commented on #249
Pushing to M5, Priority-Med

[2012-01-01 18:53] JonFerraiolo commented on #247
Pushing to M5, Priority-Med

[2012-01-01 18:54] JonFerraiolo commented on #243
Pushing to M5, Priority-Med

[2012-01-01 18:55] JonFerraiolo commented on #162
Pushing to M5, Priority-Med

[2012-01-01 18:56] JonFerraiolo commented on #43
Was unassigned. Assigned to @waynevicknair and pushed to M5 with Priority-Med

[2012-01-01 19:00] JonFerraiolo commented on #1190
@waynevicknair - any chance you could grab this one?

[2012-01-01 19:05] JonFerraiolo commented on #941
I couldn't reproduce just now. Maybe the new Orion code fixed this bug?

[2012-01-01 19:06] JonFerraiolo commented on #911
Reassigning to me, pushing to M5 Priority-Med

[2012-01-01 19:07] JonFerraiolo commented on #910
Reassigning to me, Priority-Med for M5

[2012-01-01 19:09] JonFerraiolo commented on #908
Pushing to M5, Priority-Med. We might want to reassign to @childsb or @JonFerraiolo

[2012-01-01 21:13] waynevicknair commented on #1435
yikes! i'll dig in to this one tomorrow.

[2012-01-01 21:16] waynevicknair commented on #1190
surely, i'll take a look tomorrow while i'm in the code.

[2012-01-01 23:12] #1005 closed, assigned to JonFerraiolo

[2012-01-01 23:31] #255 closed, assigned to JonFerraiolo

[2012-01-02 03:47] peller commented on #1353
failing not-so-gracefully is fine, too, maybe even best.  Unfortunately, in this case, the array look-ups would probably succeed if the value is undefined.  console.error doesn't stop the flow of execution.  Causing or explicitly throwing an exception here is probably the right thing to do.

[2012-01-02 03:53] peller commented on #963
Right now, I think it's as simple as the fact that there's an ordered list (the selection) and the paste operation simply iterates through that list -- note that the paste order is identical to the selection.  So the logic that actually determines the proper document order is what I think needs to happen here.  Perhaps additional work to reparent or insert the widgets would need to follow.

[2012-01-02 15:23] jhpedemonte commented on #884
Pushed to M5.

[2012-01-02 16:33] JonFerraiolo commented on #1433
Closing. Covered suffciently by test plans for Widgets palette and snapping test plans.

[2012-01-02 16:33] #1433 closed, assigned to JonFerraiolo

[2012-01-02 16:35] JonFerraiolo commented on #1434
Fixed by 957a52a695

[2012-01-02 16:35] #1434 closed, assigned to JonFerraiolo

[2012-01-02 19:23] jhpedemonte commented on #1055
I'm thinking that for this to be done properly, we'll need to refactor @JonFerraiolo's changes from 3e700f4da935ea9e4c55a3462eb22e0e332ff936 and make them general to all widgets.  See my comments in that commit.

Based on that, moving to M5/Priority-high.

[2012-01-02 23:04] jhpedemonte commented on #1400
I see this as well.  In Firefox, doing a cut of the text brings up Firebug and the debugger stops at the "offending line" in **textView.js** (orion).  So this isn't an issue if the user doesn't have Firebug installed.

This should be moved to the Orion folks for them to handle.  Removing M4 milestone.

[2012-01-02 23:48] JonFerraiolo commented on #1400
Assigned to @peller for M5 with Priority-High so that he is reminded to talk with Orion guys soon (rather than noticing this issue again a few months from now)

[2012-01-03 02:41] peller commented on #1400
Ok, there's an important step missing from the description.  You must not only be running in Firefox, and running with Firebug, but you must ask it to break on throwing an exception.  The exception in this case is caught, immediately, exactly because the Javascript handler is known to fail on Firefox without special steps taken to configure permissions.

[code]

and, as @childsb points out, the cl

[2012-01-03 02:49] peller commented on #1288
Yes, that was my finding as well.  `startup()` is getting called, just at the wrong time, and I don't think you can call startup a second time.  You're right that you can call `resize()` but you'd have to call it directly on the Tree.  That's a workaround, but not a good long-term fix.  I suspect the problem here is a Dijit bug and I will try to isolate and report it.  One of the contentPane's is

[2012-01-03 02:51] peller opened #1436 "We're leaking Dialogs"
Use a function like Open File... multiple times and take a look at the `<body>` element.  Notice that each dialog appends a new Dialog instance.  showModal is constructing a `dijit.Dialog` and calling `show()`, but it never gets destroyed.  Dialogs need to be destroyed when closed (hidden)  or reused.

[2012-01-03 03:48] jhpedemonte commented on #1436
@JonFerraiolo

I wonder what the best approach is here?  I think we'd want to reuse the New File dialog, since that one may be called multiple times in a session.  Others we'd probably want to destroy on hide.

[2012-01-03 03:51] jhpedemonte commented on #1400
Good point.  Closing.

[2012-01-03 03:51] #1400 closed, assigned to peller

[2012-01-03 03:55] peller commented on #1436
I don't think the resources are that expensive to create.  It's probably not worth the effort/code to reuse them.  I think we should avoid all code to abstract dialogs and just use plain dijit.Dialogs throughout.

[2012-01-03 04:23] jhpedemonte commented on #1257
Push to M5, set priority High.

[2012-01-03 04:24] #1148 closed, assigned to jhpedemonte

[2012-01-03 05:12] jhpedemonte commented on #14
Updated https://github.com/maqetta/maqetta/wiki/Developer-Setup with info on jQuery UI and YUI sources.

[2012-01-03 05:12] #14 closed, assigned to jhpedemonte

[2012-01-03 15:29] billreed63 commented on #1181
If we use the compiled versions for the users workspace, we should remove all the individual css files as they are not used. The theme's will consist of only device.css, device-compat.css, device-app.css and device-app-compat.css

The above applies to claro.css and sketch also

[2012-01-03 15:34] JonFerraiolo opened #1437 "Multiple drag/move with snapping problems"
- New HTML File - composition type "Desktop hi-fi sketch"
- Add 2 labels and 2 TextBoxes to create a mini form, such as First name and Last name, where labels are in "left column: and textboxes are in "right column"
- Ctrl-Click to select all four widgets
- Drag the widgets to a new location such that a vertical snap line appears, then mouse up

Result=> All 4 widgets snap to the new x location

N

[2012-01-03 16:32] JonFerraiolo opened #1438 "Test plan for mobile theme editor"
We need a test plan for the mobile theme editor. Something parallel to the desktop theme editor.

[2012-01-03 16:56] peller commented on #1288
Looking again at the debugger, I realize the breakpoint was triggered to resize other dialogs on body as well and I was looking at the wrong one, so most of what I wrote yesterday was wrong.  Now I'm thinking it's simply because the custom widget OpenFile doesn't follow Dijit's pattern to pass along the `startup` command to the child Tree widget -- I think `ContentPane` only does this if there's a

[2012-01-03 16:57] #1288 closed, assigned to peller

[2012-01-03 16:58] peller commented on #1288
I'll stand by my earlier comments that we should avoid these custom widgets.  Lots of unneeded complexity.

[2012-01-03 17:35] JonFerraiolo commented on #1438
Assigning to me - @billreed63 queue is quite long

[2012-01-03 17:41] JonFerraiolo commented on #1437
Now I'm having trouble reproducing. Lowered to Priority-Med since it clearly isn't happening all of the time.

[2012-01-03 18:23] billreed63 commented on #1402
Fixed by above commits

[2012-01-03 18:23] #1402 closed, assigned to billreed63

[2012-01-03 18:51] #1438 closed, assigned to JonFerraiolo

[2012-01-03 19:02] JonFerraiolo opened #1439 "Remove console.warn from DataGridHelper?"
When doing things with DataGrid, some console messages appear. I suspect at least some of the console messages were to help with debugging and should be removed.

[2012-01-03 21:09] JonFerraiolo opened #1440 "Create folder, add files, delete folder, create folder => error"
- In Files palette, use context menu command "New Folder" to create a new folder
- Click-select the new folder and use context menu to issue "Add files" command and add at least one file to that folder (beware of bug #1422)
- Click-select the new folder and issue a "Delete" command. The folder and the uploaded files should disappear from Files palette.
- (Once again) In Files palette, use context

[2012-01-03 22:08] JonFerraiolo opened #1441 "Study ListItemHelper and textContent"
See https://github.com/maqetta/maqetta/commit/3e700f4da935ea9e4c55a3462eb22e0e332ff936#commitcomment-832721

[2012-01-03 22:28] billreed63 commented on #1181
fixed by above commits

[2012-01-03 22:28] #1181 closed, assigned to billreed63

[2012-01-03 22:39] billreed63 commented on #1374
"custom_default" is the "out of the box" default theme set we create for the user.  That theme set is claro for desktop and custom for all devices. When the user switches themes we use the definitions in the html file to match to the users theme sets. In this case it matches the "custom_default" theme set, so we set the theme set in the theme switching dialog. The user can use the drop down and se

[2012-01-03 22:39] #1374 closed, assigned to billreed63

[2012-01-03 23:40] JonFerraiolo opened #1442 "Theme set UI improvements"
@billreed63, @jmockler

The whole theme set area needs UI review. In particular, see confusion with #1374.

[2012-01-03 23:40] JonFerraiolo commented on #1374
Ah, I see what's happening now. I'm opening a different bug (#1442) to think through how to make what's happening clearer to users.

[2012-01-03 23:56] JonFerraiolo opened #1443 "States palette: click on tooltip "state" => tooltip doesn't show"
- New HTML File (flow layout)
- Add a Button
- Drop a Tooltip on Button
- Click on Button to select
- Click on Tooltip in Outline palette => Tooltip shows and gets selected (correct!)
- Click on Button to select => Tooltip disappears
- In States palette, click on "_show_Tooltip..."

Result => Tooltip doesn't show

[2012-01-03 23:59] peller commented on #1443
Yeah, used to work, but I think that code is in limbo pending a better states solution for overlay and mobile.

[2012-01-04 00:00] JonFerraiolo opened #1444 "Click away from Dialog widgets doesn't unselect/hide Dialog"
- New HTML File (flow layout)
- Add a Button, then a Dialog, then add a Button inside the Dialog
- Click on the first button

Result=> Nothing happens. Everything under the dialog is inactive because the Dialog covers everything else on the page. I'm not sure what to do about this, but logging it as a bug for time being because the test plan says this (note first bullet under "Expected results"):

[2012-01-04 00:42] EldonReturn commented on #934
Yes. Let me close it. This is not a defect. The "project" introduced in the review serlvet is a reserved attribute for further use.

[2012-01-04 00:42] #934 closed, assigned to EldonReturn

[2012-01-04 01:42] JonFerraiolo commented on #1441
(This is a copy of the same text found in the commit note at: https://github.com/maqetta/maqetta/commit/3e700f4da935ea9e4c55a3462eb22e0e332ff936#commitcomment-832721)

@billreed63, @jhpedemonte
OK, I figured out what's going on. For RectList and EdgeToEdgeList, the functions update() and serialize() in EdgeToEdgeListInput.js act as complete replacement functions for the serialize/deserialize defau

[2012-01-04 01:42] #1441 closed, assigned to JonFerraiolo

[2012-01-04 04:39] jhpedemonte opened #1445 "Moving multiple widgets at once doesn't always place them in original order"
To reproduce:
1. Add a Dojo button, label, Dojo Calendar and a DIV.
2. Select button, label and calendar.
3. Move widgets into DIV.

-> widgets are placed in a different order within div

[2012-01-04 05:11] peller commented on #1445
dup of #963

[2012-01-04 05:11] #1445 closed, assigned to nobody

[2012-01-04 05:22] jhpedemonte opened #1446 "Many "MenuHelper: menu is null" messages in console."
I'm seeing a lot of "MenuHelper: menu is null" messages in the console, from **MenuHelper.js** line 15.

That line gets called **a lot!**  New Page, drop Dojo button (causes 26 "menu is null" lines); unselect (causes 26 lines); reselect (causes 26 lines).

I'm worried about that code in general.  It subscribes to **"/davinci/ui/widgetSelected"**, which seems to be called often.  26 times is a lot.

[2012-01-04 05:41] peller commented on #1446
yeah, looks like topic code which is not context-safe. (will only occur if you use a menu widget, of course)  Can you give steps to reproduce this?  A quick test does not turn this up, but I don't doubt that it's getting to this condition.  And what scenario do you have where you get select called 26 times, exactly?

I'm ok with commenting out the log in M4 then kicking this to M5 for a proper fix

[2012-01-04 14:37] peller opened #1447 "Open Theme... with no read/write themes pops up an empty dialog"
@billreed63

Hit open theme on a new workspace without any cloned themes
You get an alert telling you that the themes are read-only
then you get an empty open theme dialog

Is the dialog supposed to appear (so you can use the theme editor in read-only mode)?

[2012-01-04 14:44] peller commented on #1446
dup of #1333.  Perhaps you were using the theme editor?  Should we open a separate ticket to investigate select getting called 26 times?  Is that also specific to the theme editor?

[2012-01-04 14:44] #1446 closed, assigned to peller

[2012-01-04 14:56] jhpedemonte commented on #1446
I wouldn't say this is a dup of that.  I mainly opened this because of the excessive messages, which I get for **every** widget, not just ones with menus (see 2nd line in description).

At the very least, we should **get rid of the logging messages** -- they get called way too often to be of any use.

Second, we need to investigate that code, because it gets called **26 times** for each individual

[2012-01-04 14:57] JonFerraiolo commented on #1447
I think it's OK to ship the application as is, even if the Open Theme... dialog is highly clumsy when the application first launches. So, I'm moving this to M5 Priority-Med. There are a number of related UI issues around management of themes that we need to work through in upcoming releases. For example, the switch theme dialog is quite intimidating right now and also see #1442 and #1374.

Long-te

[2012-01-04 15:04] billreed63 commented on #1384
This is do to the dynamic theme loading by dojox.mobile.deviceTheme. The themes are added to the head at run time, so the CSS files are not parsed by the CSSModeler.