[2012-01-04 15:20] JonFerraiolo opened #1448 "Widget palette icons for Drawing Tools and Clipart"
Oops, forgot about adding icons for Drawing Tools and Clipart. Coming soon...

[2012-01-04 15:24] billreed63 commented on #1269
I am not seeing this problem, background colors are being changed. I do see a problem with the open html file in the designer not refreshing when the theme editor changes the textBox background color, I have to close and reopen the html page to see the new color. I wonder if this is due to the fact that we are not loading the css files into the model on the HTML designer side, so the model does no

[2012-01-04 15:48] JonFerraiolo commented on #1384
Pushing this to M5. Way too risky for M4 to attempt to get model to work with dynamic theme loading.

[2012-01-04 15:52] billreed63 commented on #1307
Seems to be working now...

[2012-01-04 15:52] #1307 closed, assigned to billreed63

[2012-01-04 15:55] JonFerraiolo commented on #1269
Closing this issue. I believe the problem with the page editor not updating to reflect changes in the theme editor is a more general caching/update issue.

[2012-01-04 15:55] #1269 closed, assigned to billreed63

[2012-01-04 16:27] billreed63 opened #1449 "Switching mobile theme does not apply theme"
1) Create HTML mobile file
2) Drop Header
3) Switch theme
4)Switch theme again

Old theme is removed but new theme is not applied until page is refreshed

[2012-01-04 16:33] JonFerraiolo commented on #1446
@billreed63

I put a breakpoint at MenuHelper.js:15 and added a couple of menus. What I'm seeing is that each time selection changes, the breakpoint is hit N times where N is the number of menus that ever existed in the session. If I have a new session and create 2 Menu widgets, then the breakpoint gets hit twice. If I save the file and reopen, then click select on a widget, then the breakpoint ge

[2012-01-04 16:36] JonFerraiolo commented on #1446
One more comment. Crockford's coding standards say to always put new JS statements on newlines. In this case, we have:

[code]

by putting everyone on a single line, it is not possible to put a breakpoint on the `console.log` and instead only on the `if`. In this case, not a big problem, but in other cases maybe you only want to have a breakpoint when the conditional is true.

[2012-01-04 16:42] jhpedemonte commented on #1446
I think we already had a bug open for making it so helpers are only called once.  But I can't find it.

[2012-01-04 16:50] peller commented on #1446
I don't think that's the problem.  We're talking about the create method getting called on the helper, not the helper instance getting created.  The problem is likely that the corresponding destroy isn't getting called... I think there's an issue for that also somewhere...

[2012-01-04 16:53] JonFerraiolo commented on #1446
Some discussion in and around this question at #874 and #1151

[2012-01-04 16:54] peller opened #1450 "DavinciPageServlet: close() is not in a finally block"
In doGet and doPut, close is not in a finally block.  I believe this can result in a loss of system resources, particularly when the stream in question involves a local File (that can happen here, right?)  It _could_ be responsible for our server hangs after long runs with many such exceptions.

We should do a quick check to make sure all close() methods are called in finally blocks.

[2012-01-04 16:56] waynevicknair opened #1451 "Incorrect font appears"
while testing the theme editor i selected the ComicSans font from the font drop down list in the properties palette. the font on the selected button changed; however, the font that appeared was not ComicSans. i don't know which font it was.

Steps:
1) clone the claro theme and call the new theme myclaro. this will open the theme editor.
2) select the button widget in the theme editor
3) select the

[2012-01-04 17:00] peller commented on #1451
@JonFerraiolo

@waynevicknair, do you have a comicsans font on your system?  I don't think there's a way to make font name portable across operating systems without providing an ordered list, then it's really not a font list anymore but a list of preferences.

[2012-01-04 17:01] peller commented on #1450
I'll take this one.

[2012-01-04 17:05] waynevicknair opened #1452 "Hover state not present in States pane"
i created a new theme and set a font color for hover state on button text. when i create a new HTML file, switch themes to myclaro and drop a button the normal text style shows up. but when i switch to the States pane "Hover" state is not there. if i add "Hover" state manually and select it, my hover color settings do not appear in the properties palette.

Steps:
1) clone claro theme into myclaro

[2012-01-04 17:19] JonFerraiolo commented on #1451
There very well might be bugs in this area.

Just a note: Our list of fonts in the Properties palette comes from various web sites that provide a list of "standard web fonts" that are available by default in browsers on a cross-platform basis (where I believe cross-platform means Windows and Mac). Because Mac and Windows have different fonts by default, there is some aliasing going on where the fo

[2012-01-04 17:29] JonFerraiolo commented on #1452
This is a UI problem, not a logic problem, assigning to me. You see, there are 2 types of "states" that both use the States palette: widget interactivity states (Normal, Selected, Hover, ..., which you see in the Theme Editor) and application states (Normal, Add Task, Task Added, etc.). Today, these are two (nearly) totally separate things that share the same terminology ("states") and the same pa

[2012-01-04 17:44] JonFerraiolo commented on #1451
@billreed63, @childsb

I did some more poking around. Reassigning to @billreed63 because I wonder if there is a theme metadata design issue that is throwing a wrench in the works. We are putting 'font-family' on element.style for the root node of Button (which seems like the right thing to do), but an interior subnode of Button has 'font:inherit', which causes the inherited value of the 'font' sho

[2012-01-04 17:49] JonFerraiolo commented on #1446
@peller, I think the problem here is that we create N instances of the helper class and each instance subscribes to the widgetSelected event. If the helper class became a singleton then we would only have 1 subscription to widgetSelected. (The subscription would need to move out of the Create method and into a constructor or other method that gets called only once per session)

[2012-01-04 17:53] JonFerraiolo commented on #72
I just saw this problem again. Running Windows/Chrome. The very first thing I did after launching server (via localhost) was add a CheckBox and then Preview-in-Browser. Preview came up empty. Hitting refresh causes the CheckBox to appear.

[2012-01-04 18:06] childsb commented on #1408
Multiple fixes but the R&C editor now loads.

[2012-01-04 18:06] #1408 closed, assigned to childsb

[2012-01-04 18:10] peller commented on #1446
@JonFerraiolo, I don't think so.  Isn't create() bound to the creation of the widget instance?  There is no correlation between the helper instance and the widget instance (separate issue) which is why I suggested making all the helpers statics, but I don't think that's relevant here.

[2012-01-04 18:16] billreed63 opened #1453 "Exception when file save as on FF"
on FF, built version for testing

Standard setup things: Clear the browser cache. Launch the Maqetta server. Login if necessary. In some cases, you'll want to a virgin user environment by creating a whole new user login.
On main menubar, choose "New HTML File" to create a new file
Drag a few widgets onto the canvas (e.g., Button, TextBox, Calendar).
Click on the "SaveAs" icon on the main toolbar t

[2012-01-04 18:22] billreed63 commented on #1453
Just noticed on new file also

[2012-01-04 18:29] waynevicknair commented on #1451
@peller yes, i have comicsans font on my machine.

[2012-01-04 19:53] jhpedemonte commented on #1453
I'm currently working on this.  Dup of #1086.

[2012-01-04 19:53] #1453 closed, assigned to jhpedemonte

[2012-01-04 20:03] jhpedemonte commented on #1086
I fixed the error in `_checkValid()`.  However, now when I hit **Enter** key to create file, the file is created but **New File** dialog remains on screen.  Works correctly if I click **Create** button.  @peller, you were recently looking at the dialog dismissal -- do you have any idea what is going on here?

[2012-01-04 20:32] billreed63 commented on #1027
Also second level folders are not used in the where drop down:

1) create folder1
2) Select folder1 and then create folder2 as sub folder of folder 1
3) Select folder2
4) From menu bar select new html file

The "Where" field"  of the new file dialog has the root folder not the folder selected in the file explorer

[2012-01-04 21:01] peller commented on #1450
Upon further review with Brad, I think these two connections, belonging to the server, are closed by the server, and the File within doPut is closed by transferStreams with the third parameter of `false`  It's still possible that the problem we saw on maqetta.org was loss of system handles in M3, prior to some of this cleanup.

[2012-01-04 21:01] #1450 closed, assigned to peller

[2012-01-04 21:05] billreed63 opened #1454 "Exception when downloading Eclipse project basic workspace"
Eclipse project basic tests
Pull down the most recent Maqetta build

Steps
Start maqetta in mutli user mode. (repeat tests in single user mode)
Create a new project by going to New-->Project in the menu bar.
Type a name for the project, and click the "Enable Eclipse Support"
Create a new folder under WebContent by going to the New-->Folder in the title bar. Call the folder aaa
Create a new HTML fi

[2012-01-04 21:06] #1429 closed, assigned to childsb

[2012-01-04 21:11] JonFerraiolo commented on #1454
Assigned to @childsb. Is this bug different than #1429? Who generates the message, Eclipse or Maqetta? If Maqetta, what action in Maqetta generates that message?

[code]

[2012-01-04 21:34] billreed63 commented on #945
This seems to be a side effect of the way DataGrid dynamically builds/adjusts the grid based on data and structure...

If I remove the height,  the source shows no style value for height but the property height shows a value of 693px which is the height of the center pane (more or less)...

I am not sure what we can do about this as it seems to be dojo code, mucking up the works, maybe @peller has

[2012-01-04 21:40] jhpedemonte commented on #1435
Wayne and I talked about this and batted around some possible fixes.  But they all impact the core of the Maqetta model.  As such, they're too risky for M4.  Pushing this to M5 and keeping priority high.

[2012-01-04 21:44] billreed63 commented on #1071
I tried for a while also, but was unable to reproduce, dojo should not have and effect of this widget as it is just a "div with style"

Moving to M5

[2012-01-04 21:50] billreed63 commented on #1454
It is maqetta, when I click the ok button on the download dialog.the dialog just hangs and when I look in the javascript console I see the exception. What is also interesting is on the download dialog the edit box for the html library has the word "undefined" in it

[2012-01-04 21:59] jhpedemonte commented on #1086
So dialog remains because when hitting enter, form is not submitted (it is when clicking on Create). @peller know of an easy way to get the Dialog reference and submit it?

[2012-01-04 22:17] jhpedemonte commented on #1435
This issue seems to be causes by the temporary IDs which are added in our Model, but not used in the persisted source or in the Orion editor.  It seems to me that the best thing would be to **get rid of the temp IDs** altogether and instead use another syntax (XPath-like) to reference individual nodes.

[2012-01-04 22:38] jhpedemonte commented on #1435
(continuing from previous comment)

One way of uniquely referencing an element in DOM (or in our model) is to use CSS selector syntax.  One issue with this approach is that it results in the use of a lot of `:nth-child()` references.

A more compact string representation can be found in Firebug.  Inspect an element and then (in Firebug) hover over the element representation in the bar right undern

[2012-01-04 22:49] peller opened #1455 "File disappears after save as"
1. Create new folder, folder1
2. In that folder, create file1.html.  Editor opens in a tab.  Hit the "+" in the file view and observe that file1.html is there.
3. In the same folder, create file1.css.  Editor opens in another tab.  See file1.css also appear in the file tab.
4. Hit save as... save as in the file1.css editor, enter the fielname "file2.css".  Notice that **file1.html** disappears fro

[2012-01-04 22:56] jhpedemonte commented on #1455
Did you do **save as** on "file1.css"?  If so, "file1.html" did not disappear for me.

[2012-01-04 23:35] JonFerraiolo commented on #1435
And why are temp IDs causing trouble? I don't know the code in this area, but my first thought is that it shouldn't be difficult to skip over non-persist attributes when doing the offset computations.

Note that we have a general mechanism for non-persisting attributes. Has anyone checked to see if we use it for other things than temp IDs?

[2012-01-04 23:36] jhpedemonte commented on #1086
Last commit:  I just simulated a click event on the Create button.  This ensures that, when hitting ENTER, the file is created and the dialog is dismissed.

This code should all go away when we redo dialogs (issue #?).

[2012-01-04 23:36] #1086 closed, assigned to jhpedemonte

[2012-01-04 23:56] peller commented on #1455
@jhpedemonte yup, that's exactly what I did.  save as on the css file, and the other one disappeared.  Did it several times, on Chrome.

[2012-01-05 00:21] jhpedemonte opened #1456 "Copy/paste of multiple absolute-positioned widgets places them in on top of each other"
In **absolute layout**, align 2 or 3 widgets vertically.  Copy and paste beside existing widgets.  The new widgets are placed in same location, one on top of the other.

[2012-01-05 00:23] jhpedemonte opened #1457 "Preferences->Javascript->Formatting no text; only shows numbers/checkboxes"

[2012-01-05 00:31] jhpedemonte opened #1458 "Choose parent feature doesn't work when doing click and place"
The **Choose Parent** feature only works when dragging a widget from the **Widgets Palette** to the page.  It does not work when user clicks on widget in **Widgets palette** then clicks in page to place widget.

In this latter case, the Choose Parent overlay should appear as user moves mouse (crosshairs) over VE page.

[2012-01-05 00:39] jhpedemonte opened #1459 "In Choose Parent overlay, current parent displayed twice"
**VE part 3->Choose Parent->8**: when moving calendar, `Content Pane (Tab 1)` shown twice (numbers 1 & 4) and both are selected.

[2012-01-05 00:43] jhpedemonte commented on #596
I have a better idea here:  show the hairlines around the invisible widgets only **when the mouse is over the VE**.  When mouse is moved off, hairlines disappear.

I like this better since it doesn't necessitate a new toolbar button and requires no interaction from the user.

[2012-01-05 00:51] jhpedemonte opened #1460 "Adding dijit.Dialog without DnD results in error"
1. New HTML page.
2. Click on dijit.Dialog widget in Widget Palette.
3. Click in page (do not drag & drop).

Results in error.  Console doesn't show stack trace.

[2012-01-05 01:21] jhpedemonte opened #1461 "DataGrid smart input not dismissed on blur (clicking outside of smart input)"
1. Add **DataGrid** to page.  This automatically brings up the smart input.
2. Try to click anywhere else on the page.

Smart input should be dismissed, as with all other widgets.

[2012-01-05 01:26] jhpedemonte opened #1462 "Selected widget should be automatically scrolled into view"
When a widget is selected in VE, it should automatically be scrolled into view, if not already in view.

I saw this when adding many different widgets to the page.  As I added more to the end, they were hidden from view since the page didn't automatically scroll to show them.  This issue would probably show in other situations as well (such as clicking on widget in Outline view).

[2012-01-05 01:30] jhpedemonte commented on #675
This isn't just an issue when pasting.  I saw it when trying to add a widget to the page.  The crosshairs did not appear in the area below the original viewport.  However, they did appear when I moved the mouse over widgets that appeared in the area under the original viewport.

[2012-01-05 02:20] jhpedemonte opened #1463 ""New Folder" dialog should auto-select and highlight Name textbox"
When the "New Folder" dialog first comes up, the **Name** text box should be automatically highlighted, allowing the user to immediately start typing the name without having to first click in the textbox.

[2012-01-05 02:32] jhpedemonte commented on #1027
I was also seeing this for a single level folder on the build from early morning Jan 4.  However, I just tested from source and it worked fine.  Will need to retest with tomorrow's build (Jan 5).

[2012-01-05 02:33] peller commented on #1463
See #1289 -- another reason why a read-only textbox is the wrong UI.  It's taking the initial focus, and shouldn't even get focus if it's uneditable.  Could work around this with tabIndex, but better to use a different UI.

[2012-01-05 02:40] peller opened #1464 ""No projects are found to import""
Perhaps I'm doing something wrong.  Following the "Eclipse Project Testing" test plan.  When I go to import my eclipse project, I get this error message from the Eclipse import wizard after selecting workspace1.zip:

"No projects are found to import"

There is a WebContent directory as well as a folder1 subdirectory and an html file I created.

[2012-01-05 02:48] peller commented on #150
As of now, it's all working pretty well except for Chrome, where the color picker appears, but the selection in the box and on the vertical bar are far off the color picker widget, making it impossible to operate.

[2012-01-05 02:49] peller commented on #150
dup of #569

[2012-01-05 02:49] #150 closed, assigned to peller

[2012-01-05 03:14] jhpedemonte opened #1465 "Cloning Claro theme doesn't create a theme that looks like Claro"
Cloned the **Claro** theme using the New Theme dialog, naming it "claro2".  Theme editor then opened, but the theme looked black & white.  It was not a clone of Claro.

[2012-01-05 03:48] peller commented on #1465
works for me

[2012-01-05 04:05] jhpedemonte commented on #1380
Moving to M5, since the change-lib-location feature is probably rarely accessed.

[2012-01-05 04:06] jhpedemonte commented on #1075
To M5.

[2012-01-05 04:31] jhpedemonte commented on #872
OK, I was previously confused.  Currently, if you start the server from one of the command files without any command line arguments, it starts with the `-console` argument which accepts input from system.in and outputs to system.out.  So only accessible on the machine itself, not over the network.

However, you can pass `-consolePort <NUMBER>` to the command file.  Then the Jetty server will liste

[2012-01-05 04:33] jhpedemonte commented on #872
Moving to M5.

[2012-01-05 04:43] jhpedemonte commented on #740
Well, here are the [docs for Checkbox](http://dojotoolkit.org/reference-guide/dojox/mobile/CheckBox.html), and they show both `baseClass` and `class` (for additional classes on the widget).

I imagine that `baseClass` will be used rarely (if at all) by users, and we can remove it.  If someone brings it up, we can add it back in.

[2012-01-05 04:52] #1133 closed, assigned to nobody

[2012-01-05 05:10] jhpedemonte commented on #1464
Well, I get an error when clicking on **OK** in the **Download** workspace dialog.  So i don't even get as far as you.

[2012-01-05 05:14] jhpedemonte opened #1466 "New File dialog with folder selected in Files shows nothing in Where field"
1. Create new folder.
2. Select that folder in the Files view.
3. Click on New HTML Page icon.

New HTML Page dialog appears with the **Where** drop down showing nothing.  When clicking on the drop down, there is no menu (doesn't even show `(root)`.

[2012-01-05 05:17] jhpedemonte commented on #1464
Hmm, I don't get the error when running from source.  Either the error I'm seeing only occurs in a build, or its been fixed since the last build was created.  I'll check again tomorrow morning.

[2012-01-05 14:39] peller commented on #1464
Brad said something about a download fix yesterday afternoon

[2012-01-05 14:49] peller opened #1467 "Switch to a different theme, focus box should be reset"
Theming often changes the layout, so even though the selection doesn't change, the coordinates need to be checked.
1. drop a calendar and a button on the page
2. select the button
3. set the theme to sketch

the focus box does not match the widget location

[2012-01-05 14:51] peller opened #1468 "set theme doesn't have the right defaults"
set theme to change to sketch
go to set the theme again, and the desktop portion says "claro" as the default.  Shouldn't it say "sketch"?

[2012-01-05 14:52] peller commented on #1467
@billreed63

[2012-01-05 14:54] billreed63 commented on #1465
I have not been able to reproduce this on FF or Chrome windows.

If you can still reproduce can you provide more detail as to the environment and steps

[2012-01-05 14:57] peller opened #1469 "set theme for both desktop and mobile and odd things happen"
I set both claro and android fields on the set theme dialog, now I have the appearance of both in the visual editor, as well as the previous custom theme css (c1.css) in my source

I wonder if it makes sense to be able to set both of these fields in the UI?

Sorry for not providing more details.  I can go back and try to get more if needed.

[2012-01-05 15:04] jhpedemonte commented on #1469
Assigning to Bill for evaluation.  @JonFerraiolo

[2012-01-05 15:07] peller opened #1470 "setting background image on calendar does not work"
In the properties editor with a simple document with a calendar in the VE, I tried using the SampleBanner.jpg and removing the color.  The calendar is white.

Works for widgets like button.  Not sure if this is a metadata problem or a path problem.

[2012-01-05 15:19] #1461 closed, assigned to billreed63

[2012-01-05 15:42] waynevicknair commented on #1435
"noPersist" is only ever used in the context of "id" attributes, specifically in HTMLModel.js, _Widget.js, Context.js, and widget.js. however, it does not account for the total offset drift i am seeing at runtime.

[2012-01-05 15:51] JonFerraiolo commented on #1466
I just pulled down today's build and repeated the above steps with Mac/Chrome and I'm seeing "folder1" as the value for the Where drop down. What browser? Running a daily build or off of Eclipse? What were you doing earlier in the session?

[2012-01-05 15:53] JonFerraiolo commented on #1466
And what specific action did you use to create the new folder? Context menu in Files palette?

[2012-01-05 15:54] JonFerraiolo commented on #1464
Yes: 2d17d20        fix for issue #1429

[2012-01-05 15:57] JonFerraiolo commented on #1463
@jmockler

Assigning to me. We need to talk with UI folks about standard practice for focus and selection when dialogs comes up.

[2012-01-05 16:28] JonFerraiolo commented on #596
It's still common in drawing tools that you have UI options to turn visual helpers (e.g., show invisible) on and off. I don't think we would want to use a toolbar button for this. Maybe a preference or a dropdown menu in some other "advanced" part of the UI. The toolbar should only be for common operations, not every operation.

[2012-01-05 16:29] JonFerraiolo commented on #1459
Yeah, I noticed this, too. Should be fairly easy to fix.

[2012-01-05 16:32] JonFerraiolo commented on #1456
Let's fix this in M5. I really want sketching to work well as early as possible. It's pretty good now and I'd like to make it as bulletproof as possible as early as possible.

[2012-01-05 16:33] childsb commented on #1464
I missed checking in some files ((I believe they are considered 'meta' files by git and were ignored)).  should be fixed now.

[2012-01-05 17:03] jhpedemonte opened #1471 "SOON AFTER M4 RELEASE: announce account removal after 90 days inactivity"
We need a policy of **removing accounts** that are **inactive for a certain amount of time**.  I propose 90 days. [1]

Before enacting this policy, we need to **announce it**.  Best time would be soon after the M4 release.

[1]  I suggest **90 days** since that is a time period that would span 2 releases (assuming we keep releases every two months).  This way, a user could try a release and then c

[2012-01-05 17:08] #1469 closed, assigned to billreed63

[2012-01-05 17:31] billreed63 commented on #1060
This is what I am seeing today...
Run Maqetta multiple users

On chrome browser
1) Create "user1"
2) Create file1.html
3) DnD button
4) Preview in browser

On FF browser
5) Create "user2"
6) Create file1.html
7) DnD calendar
8) Preview in browser

9) from your chrome "preview in browser" tab copy url
10) create a new tab in you FF browser and paste the URL

Notice that the file displayed in your b

[2012-01-05 17:46] jhpedemonte commented on #596
Well, just because it's common doesn't mean we can't do better.  I like the automatic showing option because it removes the necessity of a preference/menu/button.  The user doesn't have to do anything to enable or disable -- it just works.

[2012-01-05 18:29] JonFerraiolo commented on #1448
@jhpedemonte

Committed widget icons with 6e3c6295f1 . @jhpedemonte has volunteered to run script that creates the base64 version of the icons (base64 for network performance reasons).

Still waiting on 2 icons for the widget folders (Clip Art and Drawing Tools).

[2012-01-05 18:47] JonFerraiolo opened #1472 "Triangle shape"
Really bad that we don't have a triangle shape. Several other built-in shapes would be useful, too, but Triangle is the most important.

[2012-01-05 18:48] JonFerraiolo opened #1473 "Curved lines (paths)"
At some point we need to allow authoring of multi-point curved lines. In SVG, that would be either quadratic or cubic beziers using <path> element.

[2012-01-05 18:50] JonFerraiolo opened #1474 "Onscreen ability to rotate a shape"
For M4, didn't have time to add logic for UI on the canvas for dynamic shape rotation via dragging.

[2012-01-05 19:13] jhpedemonte commented on #1448
For reference:

[code]

[2012-01-05 19:16] jhpedemonte opened #1475 "Create master plan for keyboard shortcuts/navigation"
I like what Google Docs does: it overrides the default system keyboard shortcuts in order to work within the app (for example, on Mac, to close a window in the app, I would press Cmd-W, which is what I normally use in Mac apps).  This is beneficially, since the users already have muscle memory for those shortcuts.

@JonFerraiolo @peller

[2012-01-05 19:35] jhpedemonte commented on #1466
OK, got it:
1. Create new folder 'aaa'.
2. Select folder in Files view.
3. Click on New HTML Page icon.  Notice that 'aaa' is shown in **Where** text field, and clicking on drop down shows both 'aaa' and '(root)'.
4. Cancel new file dialog.
5. Delete 'aaa' folder.
6. Click on New HTML Page icon.

**Where** textfield shows nothing and clicking on it doesn't even show '(root)'.

[2012-01-05 19:35] jhpedemonte commented on #1466
If there isn't a quick fix for this, I'm fine with pushing off to M5.

[2012-01-05 19:56] JonFerraiolo commented on #1466
Let's leave it on M4 for a bit longer to investigate. This might be related to other resource bugs (see #1455 and #1440).

[2012-01-05 20:03] JonFerraiolo opened #1476 "Arrowhead doesn't appear upon first dropping an Arrow widget"
- New HTML File (desktop hi-fi page)
- Drag/drop an Arrow widget (from Drawing Tools)

Result=> No arrowhead. If you resize that arrow, the arrowhead appears. Only problematic if arrow widget is the first shape added to a particular page.

[2012-01-05 20:09] jhpedemonte opened #1477 "Need to redo Samples files - missing 'packages' decl from dojo-config"
I'll try to get to it when I can, but if you guys have time, reassign to yourselves.

@JonFerraiolo @peller @billreed63

[2012-01-05 20:10] JonFerraiolo opened #1478 "Review UI doesn't show icons on toolbar for Comments palette"
@waynevicknair, @childsb

@peller, can you take this one?

If you bring up the review.html UI, notice that there are no icons at the top of the Comments palette. If you look at browser debugger at the first icon on that toolbar, you'll see this style rule has been overridden:

[code]

Maybe something changed in the CSS files such that the CSS precedence rule calculations are producing a different

[2012-01-05 21:13] billreed63 commented on #1476
backward arrow heads do not display even after dragging

[2012-01-05 21:23] JonFerraiolo commented on #1476
Backward arrowheads are actually an independent bug, but reopening this issue to look into why backward arrowheads aren't working.

[2012-01-05 21:39] jhpedemonte opened #1479 "Cloning theme hangs Chrome/Mac"
While testing on lab9:50010, I tried to clone "claro".  But the browser (Chrome 16/Mac) kept hanging on me.  @childsb  was able to reproduce as well.

@billreed63 could not, using Chrome/Win (both version 16 and 17).

For now, opening this issue to track this, but I'm not sure if there's anything we can do if it's a bug in Chrome/Mac.

@JonFerraiolo @peller

[2012-01-05 21:42] jhpedemonte commented on #1465
OK, I was able to reproduce in FF:
1. Clone theme "claro" to "claro2".
2. Clone theme editor.
3. Clone theme "claro" to "claro3".

"claro2" looks like "claro", but "claro3" comes up as black and white.

[2012-01-05 21:59] #1478 closed, assigned to peller

[2012-01-05 22:02] peller opened #1480 "Make sure sprites are used for toolbar images"
In 8d5304a567f56e430519f45bfe8f4ed0f682203c I had to resort to using !important to apply individual gif rules over the sprite normally used by Maqetta toolbars.  All of those images should be placed in the sprite and the !important rules should go away.  It looks like Comment.css needs a lot of clean up as well.  Is all that CSS used?

[2012-01-05 22:07] #1476 closed, assigned to JonFerraiolo

[2012-01-05 22:09] JonFerraiolo commented on #1427
Reassigning to me - @childsb has a big queue.

[2012-01-05 22:20] peller commented on #1479
the whole browser?  Can you use the Chrome menus or close the window?

[2012-01-05 22:21] #1464 closed, assigned to childsb

[2012-01-05 22:27] childsb commented on #1356
moving to m5.

[2012-01-05 22:29] childsb commented on #1006
moving to m5

[2012-01-05 22:32] childsb commented on #1027
The current resource selection from the explorer view isn't populating the new file dialog parent folder properly.  This can be avoided by changing the "where" manually to the new nested folder.  Then the new html file should show up.

[2012-01-05 22:32] childsb commented on #1027
moving to m5

[2012-01-05 22:33] childsb commented on #1198
Fixed earlier in the milestone.

[2012-01-05 22:33] #1198 closed, assigned to childsb

[2012-01-05 22:33] jhpedemonte commented on #1479
No, hangs that one page/tab.  However, sometimes I can't even close the tab -- I have to force quit the browser and restart.

[2012-01-05 22:33] childsb commented on #1351
push to m5.

[2012-01-05 22:34] childsb commented on #1363
moving to m5.

[2012-01-05 22:37] peller commented on #1479
I've seen that behavior a lot on lab9, in general.  I wrote it off to firewall weirdness.  In the network panel, I saw requests with response codes missing, etc.

[2012-01-05 22:56] jhpedemonte commented on #1479
When I look at my network panel, I see a lot of pending requests which never finish.  Not sure if that's a cause or a side-effect of the issue.

The first 4 such pending requests have an odd path structure:  `http://lab:50020/maqetta/.%2Fproject1%2Fthemes%2Fclaro2%2Fclaro2.theme`

Before that, I see some REST calls which (1) copy claro to claro2, (2) delete `claro2/claro.theme`, (3) create `claro2

[2012-01-05 23:00] jhpedemonte commented on #1464
I just ran through the Eclipse test and this worked fine. Closing this bug.

[2012-01-05 23:01] billreed63 commented on #1479
I still can't reproduce this on FF lab9. Is this on your local machine? Can you zip the workspace so I could load it on my machine and see...

[2012-01-05 23:02] billreed63 commented on #1465
I still can't reproduce this on FF lab9. Is this on your local machine? Can you zip the workspace so I could load it on my machine and see...

[2012-01-05 23:04] JonFerraiolo opened #1481 "Can't reopen file with DataGrid if moving DataGrid earlier in HTML file"
- New HTML File
- Add 3 DIVs
- Add a DataGrid
- Drag/drop the DataGrid into the first DIV
- Save, close, reopen

Result=> Exception on reloading file because the ItemFileReadStore is after the DataGrid in the HTML file.

I expect we have had this bug all along, and that a fix would have some risk associated with it, so we might want to ship M4 with this bug and fix for M5.

[2012-01-05 23:20] childsb opened #1482 "changing state / properties in mobile theme editor causes widget selection problems"
1) create a new ipad theme, call it ipad1
2) when the theme editor opens, select the "Page Background and Fonts" section
3) change the background color
4) in the states palette, change the state to selected
5) back in the properties palette, change the background color to blue.

notice that nothing happens and you're unable to select the global styling widget again

[2012-01-05 23:25] JonFerraiolo opened #1483 "Can't drag/drop ListItem onto existing RoundRectList"
Likely a bug that I introduced with the useParent metadata logic.
- New HTML File
- Add a View
- Add a RoundRectList
- Attempt to drag/drop a ListItem into the RoundRectList

Result=> A little flashing but RoundRectList ends up with only 2 items

[2012-01-05 23:29] JonFerraiolo opened #1484 "SpinWheel save, close, reopen show JSON artifacts in widget"
@billreed63
- New HTML File
- Add a SpinWheel
- Save, close, reopen

Result=> There are "[" and other JSON characters in the widget upon reopening

[2012-01-05 23:37] jhpedemonte commented on #1479
No, Brad and I both reproduced this on lab9.  Again, this looks specific to Chrome/Mac.

[2012-01-05 23:37] jhpedemonte commented on #1465
Not local, lab9 using FF.

[2012-01-05 23:51] jhpedemonte commented on #1484
I think @billreed63 got this working last time.  Bill, do you remember?  What could have changed to make this regress?

[2012-01-06 00:12] jhpedemonte commented on #1484
I not quite sure what's going on.  I edited the source in Maqetta to use the same value for `labels` as is show here: http://dojotoolkit.org/reference-guide/dojox/mobile/SpinWheel.html:

[code]

However, even in Preview this looks wrong.  I wonder if there's a bug in Dojo?

@peller

[2012-01-06 00:21] #1483 closed, assigned to JonFerraiolo

[2012-01-06 00:23] JonFerraiolo commented on #1483
@jhpedemonte

I got ListItem working again with the above commit. I'm not sure about the current UI, where you add a ListItem and up comes SmartInput for the parent list widget. However, I think UI is good enough for getting M4 out the door (or at least not so far as to prevent the release going out).

[2012-01-06 01:02] #1427 closed, assigned to JonFerraiolo

[2012-01-06 01:13] jhpedemonte commented on #1484
I have Dojo 1.7rc1 source on my machine and I loaded **test_SpinWheel-custom.html**.  SpinWheelSlot contents were as expected.

However, I then took the SpinWheel part of the code and put it into a Maqetta file (where I had previously dropped a SpinWheel, so the `require` calls were all there).  But in Preview, the SpinWheelSlots were still showing the incorrect data.  I wonder if there is a bug i

[2012-01-06 02:16] jhpedemonte commented on #1484
There is a discrepancy between the **dojo.parser** (which is getting used in this case) and the **dojox.mobile.parser**.  The latter generates the SpinWheelSlot correctly since it parses the `labels` attribute correctly.

The **dojo.parser**, however, does this:

[code]

where `pVal` is an array (empty) and `value` is a string:

[code]

So **dojo.parser** expects the `labels` attr to be written as

[2012-01-06 02:18] peller commented on #1479
So when the conditions are right, over my VPN link, I've seen this problem just loading Maqetta on lab9.  I suggest closing this issue.

[2012-01-06 02:28] jhpedemonte commented on #1484
Yep, confirmed.  I changed **dojox/mobile/tests/test_SpinWheel-custom.html** to use **dojo.parser** instead, and it failed in the same way.  I'll open up a Dojo bug later tonight.

[2012-01-06 02:49] jhpedemonte commented on #1484
Where is `dojo/parser` require added?

[2012-01-06 03:27] jhpedemonte commented on #1484
It's added in **Context.js** -- whenever **dojo.js** is added, we also add in require for `dojo/parser` (and `dijit/dijit` for some reason).

Not quite sure what to do here.  All the mobile docs say that **dojox.mobile.parser** is a subset of **dojo.parser**, and that you should be able to use **dojo.parser** with mobile widgets without any problem.  So the easy way for use would be to just always

[2012-01-06 03:39] jhpedemonte commented on #1484
Opened Dojo ticket: http://trac.dojotoolkit.org/ticket/14567

[2012-01-06 03:50] #1477 closed, assigned to peller

[2012-01-06 04:24] #1448 closed, assigned to JonFerraiolo

[2012-01-06 05:08] #1430 closed, assigned to JonFerraiolo

[2012-01-06 05:56] JonFerraiolo commented on #1466
@childsb

I believe the problem with @jhpedemonte's scenario is that the New File dialog asks Runtime.js what's the current selection in the Files palette, and Runtime.js still thinks (even after deletion) the currently selected resource is folder aaa because the selection list in Runtime doesn't get updated after the deleteResource operation. The logic in Runtime for keeping track of selection is

[2012-01-06 14:14] billreed63 commented on #226
For theme editor if the widget or subwidget does not support the current state the properties palette should be disabled

[2012-01-06 14:17] billreed63 commented on #1482
The "Page Background and Fonts" widget does not have a "selected" state, so the gray out box is placed over the widget in the theme editor.

 I have added a comment to   #226 Disable any properties that won't have an effect (page and theme editors) for theme editor states.

[2012-01-06 14:17] #1482 closed, assigned to billreed63

[2012-01-06 15:56] childsb opened #1485 "problems when deleting project on built maqetta"
1) create a new eclipse project
2) delete the eclipse project
3) sometimes the workbench fails to load

[2012-01-06 16:00] billreed63 commented on #1481
In the DataGridHelper create we need to get the store and move (add/remove) the store so it is in the dom under the same parent as the DataGrid but before the DataGrid.

I suggest creating a compound Command Containing AddCommand(storeWidget, DataGridParent, index 0) and a RemoveCommand(storeWidget). Then execute the command in the create method of DataGridHelper

[2012-01-06 16:14] billreed63 commented on #1479
Wayne says on Mac/Chrome
Try,
open desktop theme editor
log off
log back in

[2012-01-06 16:46] childsb commented on #1485
*\* only happens on safari, chrome / FF ok.

[2012-01-06 17:03] JonFerraiolo opened #1486 "R/C: Other user annotations have visibility:hidden"
@EldonReturn, @peller, @aerwin

We ran through the R/C test plan and discovered that with the latest code user C does not see annotations created by user B. Getting into the debugger, the list of comments comes down correctly via an Ajax call, but the annotations all have CSS setting of visibility:hidden.

[2012-01-06 17:04] JonFerraiolo commented on #1486
@childsb, @waynevicknair

[2012-01-06 17:08] JonFerraiolo commented on #1486
To recreate, simply run the testplan for review commenting, or this abbreviated approach:
- Three separate logins, A, B and C
- A publishes Sample.html for review
- B goes to review UI and adds a comment and annotation
- C goes to review UI

Bug: C does not see annotations from B
- C adds a comment and annotation
- A opens up review UI

Bug: A does not see annotations from B or C

[2012-01-06 17:20] billreed63 opened #1487 "Theme switching not working for mobile device"
1) Create a clone of Android a1
2) change the list item background to green
3) Save theme and close
4) Create HTML file Android
5) DnD view and RoundRecList
6) Switch theme to a1 ali device (all is well)
7) Switch theme to custom for all devices
8) Switch theme, you should see all theme choice disable and the theme set selected should be custom_default
9) Select "(none)" from the theme set drop do

[2012-01-06 17:32] #1487 closed, assigned to billreed63

[2012-01-06 17:43] JonFerraiolo commented on #1486
The bug only manifests itself when the server allows different strings for the username and the email. The problem may be that some parts of the R/C code assume username is the uniqueID and other parts assume email is the uniqueID.

I think I have a fix...

[2012-01-06 18:10] childsb commented on #1286
moving to m5

[2012-01-06 18:10] childsb commented on #1353
moving to m5

[2012-01-06 18:13] childsb commented on #1381
moving to m5 (can't recreate)

[2012-01-06 18:30] #1486 closed, assigned to JonFerraiolo

[2012-01-06 18:57] waynevicknair commented on #1372
moving to M5

[2012-01-06 18:58] waynevicknair commented on #1241
moving to M5

[2012-01-06 19:00] waynevicknair commented on #901
moving to M5

[2012-01-06 19:04] waynevicknair commented on #1190
i verified that in the current build you can edit an existing JSON file and save it.

[2012-01-06 19:04] #1190 closed, assigned to waynevicknair

[2012-01-06 19:05] waynevicknair commented on #941
I couldn't reproduce this one on the current build.

[2012-01-06 19:05] #941 closed, assigned to waynevicknair

[2012-01-06 20:28] jhpedemonte commented on #1484
Pushing to M5, to track forthcoming Dojo fix.

[2012-01-06 20:39] jhpedemonte opened #1488 "Blank, translucent "Open Theme" dialog"
Found while testing on lab9, new workspace:
1. Open->Theme Editor
2. Get warning that I need to create a new theme.
3. click OK.

A dialog comes up, titled "Open Theme".  But it has no content and the white background is translucent.

Found in both Chrome and FF (Mac).

[2012-01-06 20:59] billreed63 opened #1489 "Eclipse hangs when importing eclipse project zip"
Start maqetta in mutli user mode. (repeat tests in single user mode)
Create a new project by going to New-->Project in the menu bar.
Type a name for the project, and click the "Enable Eclipse Support"
Create a new folder under WebContent by going to the New-->Folder in the title bar. Call the folder aaa
Create a new HTML file in the WebContent/aaa folder by going to New-->HTML File in the menu bar

[2012-01-06 21:30] #1488 closed, assigned to billreed63

[2012-01-06 21:44] peller commented on #1447
dup of #1488?

[2012-01-06 21:45] jhpedemonte commented on #1329
Well, this worked fine for me for the base build, but not internal.  There, when reloading the page, I get an error in Workbench and only the header of the page shows up.  There is no content in `<div id="mainBody">`.

The issue comes about due to the code in `davinci.Workbench.run()`:

[code]

Basically, the `mainBody` seems to be generated in `showPerspective()`.  However, `_initializeWorkbenchS

[2012-01-06 21:56] jhpedemonte commented on #1329
Hmm, M3 works fine, and that's because `_initializeWorkbenchState()` used to happen much later in `run()`.  For some reason, it was moved up before `showPerspective()`, causing this issue.

[2012-01-06 22:05] jhpedemonte commented on #1485
I had to back out your move of `_initializeWorkbenchState()`.  See my comments in #1329.

[2012-01-06 22:07] jhpedemonte commented on #1329
Brad had made a change earlier which moved `_initializeWorkbenchState()`, leading to the issues I was seeing.  I put it back in its correct place.

[2012-01-06 22:16] jhpedemonte commented on #1329
Well, now that I fixed my error, I cannot recreate @peller's error (on a local build).

[2012-01-07 00:35] aerwin opened #1490 "Undoing Font Changes Problematic in Theme Editor"
Environment: Chrome and downloaded GitHub-only build

Example steps to reproduce:
1. Create new theme based on Claro
2. Select the button widget
3. Change font attribute (e.g. change font color to red)
4. Remove value from attribute (or click Undo button) and button text does not revert (e.g., if color changed to red, it's still red)

[2012-01-07 13:27] JonFerraiolo commented on #1490
This step is part of our tutorials. We should at least investigate to see why it's not working, and hopefully fix before M4.

[2012-01-07 17:46] aerwin opened #1491 "Existing File Removed from Files View"
Environment: Chrome with downloaded GitHub-only build
1. Create new file (e.g., tony.html) and note file is shown in tree in Files View
2. Click X on the new file to close it and hit OK so that changes are _no_t saved
3. Note new file (e.g. tony.html)  removed from tree in Files View
4. Try to create file with the same name (e.g., tony.html) and get error that file already exists (even though not

[2012-01-07 17:53] aerwin opened #1492 "MainMenubar/basic.html incorrectly describes Settings menu options"
This test case states only 1 item (Preferences...) should be present in Settings menu, but I also see a Themes... option.

[2012-01-07 17:57] childsb opened #1493 "move _initilizeWorkbenchState() in Workbench.run to first call of method"
move _initilizeWorkbenchState() in Workbench.run to first call of method.

doing so caused a problem an issue #1329

[2012-01-07 17:59] childsb commented on #1485
Sorry, didn't think this would (or should) cause any impact.

Opened issue #1493 to move inilizeWorkbenchState call to top of run(...) method for m5.  Having it as the last call is causing duplicate XHRs on workbench load (once for the current project by library metadata, then another xhr when initilizeWorkbenchState).

[2012-01-07 18:04] childsb commented on #1454
Can't connect to VPN and try on lab9, but this is working for me on local. i'll try again on monday.

[2012-01-07 18:07] childsb commented on #1489
i can't reproduce this. will discuss on monday.

[2012-01-07 18:13] childsb commented on #1455
this is working for me on local.  i'll try again monday on lab9.

[2012-01-07 18:18] peller opened #1494 "Login page redirects to workbench, not review and commenting task"
@JonFerraiolo, @childsb, @waynevicknair

When responding to a review & commenting e-mail invitation, the first time I click on the link I may need to authenticate at the login screen.  If so, authentication leads me to the main workbench, not to the review and commenting page.  I must close the window and click on the link again

[2012-01-07 18:22] peller opened #1495 "Review edits lead to confirmation dialog"
@JonFerraiolo

Make comments on a R&C page, and when you try to close the tab, you're prompted with an ok/cancel dialog telling you that you made changes.  This isn't applicable here; there's no save action.

[2012-01-07 18:47] JonFerraiolo commented on #1494
This should go away with the R/C merger into core. There will be only one redirect URL.

[2012-01-07 18:53] JonFerraiolo commented on #1491
I wasn't able to recreate this running from lab9:50020. Question to @aerwin  - Did you ever save tony.html, or was this a case of a new file that was never saved? I set this to Priority-High for time being because we don't want to ship with this sort of a bug.

One more thing - were you doing anything with folders?

[2012-01-07 19:36] aerwin commented on #1491
@JonFerraiolo Weird.... I was also not able to recreate with the lab9:50020 server. So, then I started fresh on my local system and can no longer reproduce there either. Must have somehow gotten my project in a weird state when I was seeing the problem, but not sure how I did that. So, I guess I'll close this, but keep my eyes open for it happening again.

[2012-01-07 19:53] JonFerraiolo opened #1496 "Problems if review comments have quotes"
Either @peller or @aerwin appeared to have added a comment during testing that included a double-quote and this causes the JSON parsing of the comments data structure to fail when I tried to reopen. It looks like the R/C code isn't escaping quotes properly.

[2012-01-07 19:53] JonFerraiolo commented on #1496
@EldonReturn, @waynevicknair

[2012-01-07 19:55] JonFerraiolo commented on #1491
@aerwin We have some pending bugs in this area. @jhpedemonte came up with one way to recreate that is in a different bug report. I was planning to study the resource, runtime and Files palette code in next couple of days to see if there are obvious bugs for which there are relatively safe fixes.

[2012-01-07 19:58] aerwin commented on #1491
@JonFerraiolo Ok... still can't reproduce on the lab9:50020 server, but found a set of steps using local install that reproduces it...
1. Delete users directory and restart server
2. New HTML file (file1.html)
3. New CSS file (file1.css)
4. Close file1.css without saving
5. New CSS file (file1.css) fails with "File already exists" dialog

From this point, it appears you can reproduce the orignally

[2012-01-07 20:07] aerwin commented on #1496
I think that must have been my comment.. I wrote the following:

   I think it should be "Remove"

When I go back in, I can see my comments, but the quotes are gone.

[2012-01-07 22:23] JonFerraiolo commented on #1496
OK, I figured out what's going wrong by studying the JSON response in the network panel. Basically, if you include a double-quote in a text annotation, you'll get erroneous behavior. The reason is that the text annotation is stored as a double-JSON-encoded syntax. Here is a snippet that shows the problem (I added spaces and newlines for readability):

[code]

I suspect the problem is that there ne

[2012-01-07 22:26] aerwin opened #1497 "Switching browser tabs causes widget's data entry pop-up to disappear"
Noticed this going though Create a Tab Container section of Building a Task Manager  tutorial....
1. Drop Tab Container on page and see data entry dialog appear (to enter tab labels)
2. Switch browser tab back to tutorial to see what I should enter into data entry dialog
3. Switch browser tab back to Maqetta and data entry dialog disappears

Environment: Chrome, local install
Version: Preview 4
Da

[2012-01-07 22:49] JonFerraiolo commented on #1496
OK, I've got a fix for this bug. I'll commit is in within a couple of hours.

[2012-01-07 23:43] JonFerraiolo commented on #1496
Fixed by a268dcec4767799c125eaebd85167dd4f81c68c4

[2012-01-07 23:43] #1496 closed, assigned to JonFerraiolo

[2012-01-07 23:50] JonFerraiolo commented on #1497
@billreed63 - what event causes SmartInput to go away? Blur event? If so, then it might be really difficult to keep SmartInput open across switching browser tabs.

[2012-01-08 00:36] JonFerraiolo opened #1498 "Where is onChange handler for workspace model? ResourceTreeModel unused?"
@peller

I set this bug to Priority-High for M4 just so @childsb can look at this. Things look very fishy to me as I will guess that we have a bug where there is no onChange handler for the workspace tree model (the model that holds the data used in the Files palette).

ResourceTreeModel has an onChange handler, but ResourceTreeModel.js doesn't appear to be ever invoked in our current code. I put

[2012-01-08 03:25] peller commented on #1455
this all happened for me on local.  I can't make it happen anymore either.

[2012-01-08 14:54] JonFerraiolo commented on #1298
I'm not going to have time to do this before we ship M4, so pushing to M5 with Priority-High

[2012-01-08 15:01] JonFerraiolo opened #1499 "Snapping needs to work with object resizing"
Snapping needs to work when dragging on a knob to resize a widget.
- New HTML File, desktop hi-fi sketch
- Add a DIV, set border to 1px solid black, resize to about 300px by 300px
- Add another DIV, set border to 1px solid black
- Drag the second DIV to position it such that it's left edge aligns with left edge of first DIV. Notice that a snap line appear. MouseUp to align second DIV's left with f

[2012-01-08 15:09] JonFerraiolo opened #1500 "Create with click/drag-out-rect: select intercepts drag operation"
- New HTML File: desktop, hi-fi sketch
- In Widgets palette, click on DIV widget, then move mouse to canvas, then drag out a rectangle

Result=> (goodness) the DIV is exactly the size of the rectangle you dragged
- With first DIV still selected, In Widgets palette, click on DIV widget, then move mouse to canvas just over the top/left corner of first DIV (i.e., over the knob), then attempt to drag

[2012-01-08 15:17] JonFerraiolo commented on #1437
Closing. I've tried repeatedly over multiple testing sessions and multiple different approaches to reproduce and can't. We can reopen this if we find a reproducible case.

[2012-01-08 15:17] #1437 closed, assigned to JonFerraiolo

[2012-01-08 15:32] JonFerraiolo opened #1501 "Nested object snapping is off by border-width of container widget"
- New HTML File - desktop hi-fi sketch
- Drag out a DIV. Note that by default the DIV does not have a border
- Drag out two TextBox widgets and drop into the DIV
- Select one of the TextBox widgets and drag it until the left edge of the dragged widget aligns with left edge of other widget. Mouse Up

Result=> (goodness) The left edges snap correctly
- Select the DIV, set border to 3px solid black
-

[2012-01-09 00:18] aerwin opened #1502 "Empty workbench when reload Maqetta with file open (w/ local install)"
1. Go to http://localhost:50000/maqetta/
2. Note reloading page works fine
3. Open HTML file (e.g., Sample1.html)
4. Reload page and note workbench is entirely empty except for the black title bar that only has "Welcome maqettaUser Log Out" on it (no menu choices)
5. Even after restarting browser and server, going to http://localhost:50000/maqetta/ fails to work properly
6. Delete workbenchState.s

[2012-01-09 00:28] peller commented on #1502
Any exceptions on the client or server?

[2012-01-09 00:43] jhpedemonte commented on #1493
Why do we need to do this?

[2012-01-09 00:46] jhpedemonte commented on #1493
Scratcht that.  Closing this bug as dup of #1485, since that one describes that actual issue.

[2012-01-09 00:46] #1493 closed, assigned to childsb

[2012-01-09 00:49] aerwin commented on #1502
Good question... it looks like there's one on the client:

Uncaught TypeError: Cannot call method 'addChild' of undefined
require.cache.davinci/Workbench.dojo.mixin._createEditordavinci/davinci:5019
require.cache.davinci/Workbench.dojo.mixin.openEditordavinci/davinci:4990
require.cache.davinci/Workbench.dojo.mixin._initializeWorkbenchStatedavinci/davinci:5286
require.cache.davinci/Workbench.dojo.m

[2012-01-09 00:59] jhpedemonte commented on #1502
This looks like what I ran into and fixed with d6f49ead8e3b5789c7fc6e71831312b0f10bcb2b.  Closing as fixed.

Please retest and reopen this issue if you still see this problem.

[2012-01-09 00:59] #1502 closed, assigned to childsb

[2012-01-09 01:24] aerwin commented on #1502
Awesome... I just got the latest build and confirmed this is fixed.

[2012-01-09 02:06] JonFerraiolo opened #1503 "Single user - don't redirect to welcome page after session timeout"
This one has been bothering me for a long time, and I've been debating about how bad this is, but I have concluded we need to fix before shipping Preview 4 because we still have tons of users who download the ZIP and run the single-user version of the application.

If you download a ZIP, run maqetta.local.mac.command or maqetta.local.win.bat, launch the Maqetta app, and then don't do anything for

[2012-01-09 04:02] JonFerraiolo commented on #1503
Actually, I'm not sure this is a valid bug anymore. I just waited for a couple of hours and there was no session timeout. I'll leave it overnight to see if there is a session timeout in the morning. Maybe @childsb can look at the code and say whether there is a session timeout for single-user mode and if there is a timeout what happens (e.g., redirect to welcome page)?

[2012-01-09 15:14] billreed63 commented on #1465
I was able to reproduce something like this,
What I am seeing s the claro2.css file that is in cache does not have the correct contents (all the .claro2 class names are still .claro) the claro2.css file in the users work space is correct (class names are .claro2)  once I clear the browsers cache, I then started getting the correct file contents. I am not sure how the server handles the copy and se

[2012-01-09 15:53] childsb commented on #1454
i do see the "undefined" for HTML library, but I dont get an error. tested on lab9 with ff.

[2012-01-09 15:54] #1329 closed, assigned to childsb

[2012-01-09 15:56] #1455 closed, assigned to childsb

[2012-01-09 16:34] jhpedemonte commented on #1484
Back to M4.  Need to change **default data** (for `labels`) so that it can be used by **dojo.parser** (see fix patch in Dojo ticket).  Make sure **smart input** works after changes.

[2012-01-09 16:51] childsb commented on #1491
i can't recreate this on local or lab9

[2012-01-09 17:06] aerwin commented on #1491
Hmmm... just recreated on local using build I just downloaded this morning...

Version: Preview 4
Date: Jan 8, 2012 10:02:24 PM
Build: f5b8f94efd1d7b2...

[2012-01-09 17:47] childsb commented on #1498
After investigating--

The tree monitors both onChange(...) and onChildrenChange(...).

The onChange(...) call is if the root node changes.  The onChildrenChange(...) call is for any of the roots children or sub children changing.

In our case, the root element never changes, so theres not a call to onChange(...).  You can set a breakpoint in onChildrenChange(...) which will fire any time a child

[2012-01-09 17:47] #1498 closed, assigned to childsb

[2012-01-09 17:59] aerwin opened #1504 "Switch layout dialog missing OK/Cancel buttons"
Working through Switch layout: Flow vs Absolute in VE 1 test plan.... if you click on the switch layout icon, you get a dialog with a pull down and no OK/Cancel button. You must click the X to close the dialog. Hitting X should be a Cancel operation, but it actually commits the change as if I clicked OK.

[2012-01-09 18:01] #1504 closed, assigned to nobody

[2012-01-09 18:02] aerwin commented on #1504
I take this issue back, I notice now that when I change value of pull-down it acts as pressing OK. I had incorrectly thought I changed value of pull-down and only had X to dismiss it.

[2012-01-09 18:11] JonFerraiolo commented on #1503
I had a localhost:8081/maqetta single-user session open from yesterday and I went back to it today, and up came the page that says "click here to login", and when I clicked on the login link, I was take to the welcome.html page. But then I hit the back button and it brought me back into the page editor in single-user mode. The server console (in Eclipse) had this:

[code]

Another issue is that I'

[2012-01-09 18:37] waynevicknair opened #1505 "VE3 Test: snap line always comes from left side of reference widget"
testing on Mac/Safari

Steps:
1) create a new HTML file of composition type to "Desktop hi-fi sketch"
2) drag a Calendar widget to roughly the center of the canvas
3) drag a Button widget onto canvas

Result:
notice that as you drag the Button towards the Calendar from the left the snap line comes from the left side of the Calendar.
continue to drag the Button around the Calendar and you will noti

[2012-01-09 18:48] waynevicknair opened #1506 "VE3 Test: possible parents UI not shown for Dojo Controls"
testing with Mac/Safari

Steps:
1) Standard setup things: Clear the browser cache. Launch the Maqetta server. Login if necessary. In some cases, you'll want to setup a virgin user environment by creating a whole new user login.
2) Go to preferences and look at "When dragging, show possible parents" setting.
It should be off by default.
Turn this preference on and click OK and close the Preferences

[2012-01-09 18:49] waynevicknair commented on #1506
i forgot to mention that the possible parents UI works correctly for Dojo Containers and HTML widgets.

[2012-01-09 18:55] billreed63 opened #1507 "Undo does not work for mobile theme editor gradient's"
1) Clone custom
2) Select Heading background
3) Select background ... to display background dialog
4) Set stop#9 to red
5) Ok

Heading is no red

Click undo, nothing happends

[2012-01-09 19:09] waynevicknair opened #1508 "Props4 Test: cascade does not show up for cloned theme"
testing on Mac/Safari

Steps:
1) Clone the "claro" theme into a new theme using the "New Theme" command. For example, create theme "mytheme".
2) Issue a "New HTML File" command.
3) Drag a Button onto canvas.
4) Go to Properties palette and go to 'width' property. Click on the right-pointing icon at the right side of the 'width' property to show the CSS cascade. You see a list of CSS selectors, at

[2012-01-09 19:19] waynevicknair commented on #1508
more info: if i refresh the page or save and re-open the file, the cascade for the cloned theme will appear correctly.

[2012-01-09 19:22] JonFerraiolo commented on #1489
I just tried this running the development version of Maqetta (i.e., launched from Eclipse) in single-user mode where I created a ZIP file in the Mac/Chrome downloads folders, and then I successfully imported from archive in Mac/Eclipse (Version: Helios Service Release 2 Build id: 20110218-0911). I'll try some other configurations...

There was one problem - there is a mysterious "unknown" folder i

[2012-01-09 19:41] JonFerraiolo commented on #1489
I was able to successfully import from the daily build running on lab9:50010 using Win/FF and importing a Maqetta/Eclipse project from a ZIP using Win/Eclipse (Version: Helios Service Release 2 Build id: 20110218-0911)

[2012-01-09 20:01] peller opened #1509 "user error from source editor can destroy visual editor"
@jhpedemonte

Some errors cause an exception in parsing -- for example, try changing the dojoType in a dijit.Calendar to something invalid like dijit.TextBox.  This causes the 'red screen of death'.  Exactly how we present the error to the user is one thing... the bug here is that you can fix the error and the visual editor does not regenerate as it should.

[2012-01-09 20:03] #1490 closed, assigned to billreed63

[2012-01-09 20:06] billreed63 commented on #1507
Fixed by above

[2012-01-09 20:06] #1507 closed, assigned to billreed63

[2012-01-09 20:06] childsb commented on #1489
I resolved the "undefined" folder with commit e57f533dce686620d639f23a9f6d590381a0caa5

i'm going to close this issue for now.  please reopen if you encounter/can reproduce.

[2012-01-09 20:06] #1489 closed, assigned to childsb

[2012-01-09 20:06] JonFerraiolo commented on #1454
I tried out the steps above in Win/FF and also did not see any errors when doing the download action.

[2012-01-09 20:06] childsb commented on #1454
I resolved the "undefined" folder with commit e57f533dce686620d639f23a9f6d590381a0caa5

i'm going to close this issue for now.  please reopen if you encounter/can reproduce.

[2012-01-09 20:06] #1454 closed, assigned to childsb

[2012-01-09 20:08] childsb commented on #1503
@JonFerraiolo was there a chance the server started and stopped between the sessions?

[2012-01-09 20:14] jhpedemonte commented on #1484
This is turning out to be a riskier fix than I thought.  For one, I had to move around some code in `DijitWidget.constructor`.  Moving this back to M5.

One thing we do need to take care of (which will help this) is to replace the code in `DijitWidget.constructor` with a call to `dojo.parser`. The constructor code attempts to copy the parser code, but things have changed and aren't the same;  in t

[2012-01-09 20:17] jhpedemonte opened #1510 "Replace `DijitWidget.constructor` code with call to `dojo.parser.parse`"
The code in `DijitWidget.constructor` is a weak copy of that in `dojo.parser.parse`.  But there is missing functionality and differences between the two (particularly with handling of arrays).

We must replace that code with a simple call to `dojo.parser.parse`.

[2012-01-09 20:17] jhpedemonte commented on #1510
See #1484 for related issue.

[2012-01-09 20:21] JonFerraiolo commented on #1466
Fixed by @childsb fix: 4173656028af8cdede97a814ddd0b28a5c0cc027

[2012-01-09 20:47] JonFerraiolo commented on #1508
Probably also gets fixed by unselecting, reselecting the widget. Assigned to me.

[2012-01-09 20:59] aerwin opened #1511 "Error in split view for a particular html file"
I have an HTML file that throws an error in the Design pane when I try to switch to a split view. The source is shown in the bottom pane, but the design pane just gets a red background and the error below. NOTE: It's possible to use split pane in my env with other HTML files (like Sample1.html), but not this particular one.

Uh oh! An error has occurred:
Tried to register widget with id==span_6 bu

[2012-01-09 21:01] JonFerraiolo commented on #1506
I just tried localhost:8081 (from Eclipse) and lab9:50010 using Mac/Safari in both cases and I'm seeing the candidate parents. I'm running Safari Version 5.1.2 (6534.52.7)

[2012-01-09 21:07] JonFerraiolo commented on #1491
@aerwin - could you try this again with latest code? I just pull'd everything and couldn't reproduce when launching from Eclipse.

[2012-01-09 21:11] jhpedemonte opened #1512 "Filter "internal"-only libraries from Download Workspace dialog"
Need to filter the libraries shown in the **Download Workspace** dialog.

Currently, I see this list:
- html
- maqetta
- dojo
- DojoThemes
- clipart
- shapes

We should remove **html** and **maqetta** from that list.  Not sure about **DojoThemes**, whether it needs to stay.

---

**Tasks:** _(updated 2012-08-15)_
- In the _User Libraries_ dialog, do not show:
  - dojo-src (see #2769)
  - DojoTheme

[2012-01-09 21:15] aerwin commented on #1491
@JonFerraiolo Yes, appears to still happen with the build I just downloaded a bit ago:

Version: Preview 4
Date: Jan 9, 2012 2:12:26 PM
Build: e57f533dce68662...

[2012-01-09 21:30] waynevicknair commented on #1506
i was running from macwayne2 with Mac/Safari Version 5.1.2 (7534.52.7). it worked for me from Eclipse. then Safari slowed way down and started getting beach ball of doom. after a restart and a clear everything, i cannot recreate this. (i also tested on Mac/Chrome after the restart.)

closing bug. will reopen if i see that behavior again.

[2012-01-09 21:30] #1506 closed, assigned to nobody

[2012-01-09 21:32] jhpedemonte commented on #1479
Retested running the latest build locally and couldn't reproduce.  But still seeing issue on lab9:50020.  Could be a fix from today "fixed" this issue?  I'll retest tomorrow morning, when a new build will be deployed to lab9.

[2012-01-09 21:33] waynevicknair commented on #1511
this is probably a duplicate of issue #1509

[2012-01-09 21:39] aerwin commented on #1509
As for relation to 1511, I never edited the source (since I couldn't use the split pane) so Maqetta itself must have corrupted the file.

[2012-01-09 21:40] aerwin commented on #1511
As for relation to 1509, I never edited the source (since I couldn't use the split pane) so Maqetta itself must have corrupted the file in this case.

[2012-01-09 21:46] waynevicknair commented on #60
we are currently building the review and commenting code as evidenced by it's presence as a feature in the running version of maqetta. review and commenting will continue to be built once the core integration is merged into master.

[2012-01-09 21:46] JonFerraiolo commented on #1503
I'm pretty sure the server was not restarted. The server log showed no signs of any restarts and I don't remember doing any restarts.

[2012-01-09 22:06] jhpedemonte commented on #1512
Proposal: Create a property, on library metadata, called "internal".  When set to `true`, code such as the **Download Workspace** dialog, can ignore these "internal" libraries.

[2012-01-09 22:07] aerwin opened #1513 "PropertiesPalette/basic2.html mentions widget-specific props for text"
The instructions for the "box-shadow" tests include:

[code]

But, there are no widget-specific properties. Per a similar case I see logged under #641, the decision was made to update the test case. This step must have been missed when the test case was updated for #641.

[2012-01-09 22:14] JonFerraiolo commented on #1511
Could you please copy/paste the source code for the file that causes the design view to turn red?

[2012-01-09 22:20] aerwin commented on #1511
Yes...

[code]

[2012-01-09 22:22] aerwin commented on #1511
Well, doesn't look like pasting was so successful... I can send the file separately...

[2012-01-09 22:51] JonFerraiolo commented on #60
Actually, what we mean by "build" is running the dojo builder which compacts the code by removing white space, merging JS files into a single file, and things like that, and we don't currently do it with the R/C files. I know this for sure because this weekend I was debugging into those files when running a Maqetta build. (It was actually quite handy that they weren't "built" - I was able to fix b

[2012-01-09 22:54] JonFerraiolo commented on #1512
I think we still need to download maqetta/ because we want the downloaded app to run and the maqetta/ logic is needed at runtime.

[2012-01-10 00:16] JonFerraiolo commented on #1511
Ah, in GitHub, surround code with triple backquotes (before and after). What's weird is that I'm not seeing the red error message. This is what I did:
- New HTML File
- Split view
- Copy above source code to clipboard, then in source view, select all of the initial source code for the new file, and the issue a Ctrl-V to paste/replace with the clipboard contents

After doing the above, I see the HT

[2012-01-10 00:18] waynevicknair commented on #60
oh. well that's completely different. :)

[2012-01-10 00:27] peller commented on #1479
that would also be consistent with it being a network condition.  I've seen it come and go.

[2012-01-10 00:29] peller commented on #60
@JonFerraiolo: it's not so hard to debug with a build if shrinksafe is turned off... is it worth generating builds with this option?  Perhaps it's something we could have done "on demand"?

[2012-01-10 00:40] aerwin commented on #1511
I just tried what you did on my local server (e.g., pasting source into code pane of new HTML file) and that does indeed appear to work.

BUT, I notice if I save that HTML file, close it, and re-open it that I see the originally reported behavior. Very weird.

[2012-01-10 00:44] aerwin commented on #1511
Turns out I don't even have to save and close it... e.g., paste into source pane and see it get rendered (which works like you noted), then click Design icon, then click back on horizontal split pane again.

[2012-01-10 01:00] aerwin opened #1514 "Removing all content from source pane stops design pane rendering"
Perhaps an odd scenario, but I encountered this working with @JonFerraiolo on #1511...

In testing some HTML source I reported problems with, Jon told me he did the following:
- New HTML File
- Split view
- Copy above source code to clipboard, then in source view, select all of the initial source code for the new file, and then issue a Ctrl-V to paste/replace with the clipboard contents

Jon's ste

[2012-01-10 01:09] JonFerraiolo commented on #1511
I'm trying to get to the bottom of this. Raising this to Priority-High/M4 until we figure out what's going wrong here. Note that there are jQuery and YUI elements in the original source code. I tried hand-editing the above file to remove all pieces of jQuery and YUI, but it is still failing.

[2012-01-10 01:09] JonFerraiolo commented on #1511
@peller, @waynevicknair, @childsb, @billreed63, @jhpedemonte

[2012-01-10 01:30] jhpedemonte commented on #1512
Right, but we don't need to give the user the option of disabling the **maqetta** lib, since it's needed to run the generated code.

**html** lib provides nothing, therefore there is no reason to download that.

And **DojoThemes**?

[2012-01-10 01:32] jhpedemonte commented on #1479
While it might be network/timing related, ultimately it's still a Chrome bug -- it shouldn't hang the page/browser (unless there's some infinite or long-running loop in JS, which doesn't seem to be the case here).

[2012-01-10 02:06] JonFerraiolo commented on #1514
@peller

[2012-01-10 03:25] jhpedemonte opened #1515 "While changing props, theme editor not auto-refreshed with changes"
Running through the **ThemeEditor:Claro** tests, which state that the Theme Editor should auto-refresh based on changes I make in the properties view.  However, I'm not seeing that.  Instead, I have to refresh the page or close/reopen theme editor in order to see changes.
1. Cloned **claro** to **myclaro**.
2. Selected **TextBox** widget.
3. Changed **font** to Monaco, then changed **color** to gr

[2012-01-10 03:30] peller commented on #1514
see also #1509

[2012-01-10 04:10] jhpedemonte opened #1516 "Property values not updated when switching theme"
Running **Properties part 5** test, section "Multiple option changes using Background dialog on a read/write and read/only themes":

After **switching theme** back to "claro" (from "myclaro"), **none of the values** in the Properties view were **updated** (I had Button selected before switching themes).  Therefore, when following test and selecting SampleBanner.jpg again, nothing happened since th

[2012-01-10 04:14] jhpedemonte opened #1517 "Selecting image in Background dialog shows error with file in a folder"
Running **Properties part 5** test, section "background-image on a DIV":

While working in a **file inside of a folder** (one level deep), opened the **Background dialog**, selected "image" as "background-image type", then clicked on URL's "…" button to select SampleBanner.jpg.  URL is correct ("../SampleBanner.jpg"), but console shows an **error trying to load "http://localhost:50000/SampleBanner

[2012-01-10 04:17] jhpedemonte opened #1518 "Undo prop change if change cannot be completed due to read-only theme"
Running **Properties part 5** test, section "button using claro":

When typing "yellow" for "background-color", get **warning that I can't make change to read-only theme**.  Click OK.  However, "yellow" still remains as value in text box.

When displaying the dialog that the intended action couldn't be completed due to a read-only theme, then the intended action must be undone and the Properties v

[2012-01-10 04:21] peller commented on #1511
The TabContainer is trying to claim id=span_6 where it's still taken by the previous parse of the document.  Are we supposed to be destroying the old elements?  Not sure that would even matter in this case?

At first, I was worried that we were creating the id off the wrong document (workplace vs. user space, need to wrap in something like dojo.withDoc or this.getGlobal()) as I've seen that bug in

[2012-01-10 04:31] jhpedemonte opened #1519 "Need button to delete annotations"
There is no way (that I could find) to delete annotations (text, circle, rectangle, arrow) in review & commenting.

@JonFerraiolo

[2012-01-10 07:13] peller commented on #1511
So States and dijit.getUniqueId() did not seem to be involved here.  It was just Context.getUniqueId() handing out the same id twice.  In the previous parse, span_6 went to a Menu inside a ComboButton.  On this parse, Context.getUniqueId() looked for span_6 in the DOM and when it wasn't there tried to use it again.  The Menu still exists in the registry, however.  Apparently it was never added to

[2012-01-10 07:14] peller commented on #1509
moving back to M4.  It looks like everything proceeds correctly, we just need to tear down the red error message left from the previous parse.  It covers the working visual editor!

[2012-01-10 14:37] jhpedemonte commented on #1511
Well, I think this is a bigger issue than just the registry.  Basically, we're still keeping around the whole JS context -- this could lead to other issues in the future.  Is it too much to regenerate the iframe, in order to kill the JS context and start anew?

[2012-01-10 15:02] peller commented on #1511
I agree.  It's worrisome.  "Destroying" all the widgets works, in theory, for Dijit if there are no global leaks or leaks of any other sort.  That's hard to guarantee, especially when we start introducing other libraries.  Performance may not be too great if we recreate the whole iframe.  Worth trying.  I'd suggest considering the above patch for M4, though.

[2012-01-10 15:15] JonFerraiolo commented on #1511
yep, I like the patch, too

[2012-01-10 15:15] JonFerraiolo commented on #1511
Reassigning to @peller

[2012-01-10 15:26] waynevicknair commented on #1511
what if we strengthen Context.getUniqeId() by having it check the dijit.registry? the registry is a WidgetSet that has a byId() method and a remove() method if we want to be less kind and gentle.

[2012-01-10 15:32] JonFerraiolo commented on #1517
@childsb

[2012-01-10 15:34] JonFerraiolo commented on #1517
The URL appears in the console as `/SampleBanner.jpg`. The page editor does show the correct background and preview-in-browser shows the correct background.

[2012-01-10 15:37] JonFerraiolo commented on #1516
I'm pretty sure this is a dupe but I haven't found the other similar bug yet.

[2012-01-10 15:41] JonFerraiolo commented on #1511
I agree with @waynevicknair that improving Context.getUniqueId() to also check the dijit registry would be a good thing to do from the point of view of doing responsible, paranoid programming, but it sounds like Adam has a fix for M4. Maybe this suggestion could go into M5. If we did check the Dijit registry, we probably should have a "library helper" so that we aren't just hardcoding things for D

[2012-01-10 15:43] peller commented on #1511
Either way, I'm sure @jhpedemonte would point out, it's an awkward dependency on Dijit.  Between the two, I like the nuclear option better.

[2012-01-10 15:47] waynevicknair commented on #1511
sounds good. i'll open an M5 issue to track getUniqueId() change. i also agree that @peller 's fix is the proven change to go with for M4.

[2012-01-10 15:53] waynevicknair opened #1520 "Strengthen Context.getUniqueId() to check widget registry"
this issue is an outgrowth of issue #1511 where a registered widget that was not manifested in the DOM caused getUniqueId() to assign an ID that killed Dijit in the parse of the page. a feature of this change would be to add a level of indirection so as not to hard code dijit as the only widget set we support. this could be done with a "library helper" as @JonFerraiolo mentioned.

@jhpedemonte @pe

[2012-01-10 15:53] peller commented on #1511
proven only by a night's sleep.

[2012-01-10 15:56] #1511 closed, assigned to peller

[2012-01-10 15:58] childsb commented on #1491
the resource.delete() call was failing on the removeWorkingCopy command only on windows.

Googling around, i found that there are some known short comings of the file.delete() and some people found forcing java garbage collection fixes it.  It seems to work for us too.

I tested on my windows box, but @aerwin please try again on the next built.

[2012-01-10 15:58] peller commented on #1520
problem is, what we really want to check is the (private) hash in the dijit.getUniqueId closure that's handing out the ids, but I suppose looking in dijit.registry would be the next best thing.

[2012-01-10 16:39] JonFerraiolo opened #1521 "ComboButton shows Menu as its child"
@aerwin , @billreed63
- New HTML File
- Add a ComboBox and ComboButton
- Look at Outline palette

Result=> ComboBox doesn't show any children (which is correct), but ComboButton shows a Menu as a child (which is not correct)

[2012-01-10 16:45] jhpedemonte commented on #1517
Correct, forgot to add that.  However, if you then go and play with the options below the URL line, each time you change an option, you'll see the load failure again.

Why is the background image loaded by the dialog anyway?  Is it even necessary?

[2012-01-10 16:54] jhpedemonte opened #1522 "Need a better solution for updating DOM when user changes source"
Currently, when a user updates the source of a file, Maqetta redoes the whole DOM in the VE iframe.  This can lead to issues, though, since the JS context isn't also destroyed (see main discussion in #1511; also #1520).

---

First, if redoing the entire VE DOM, we should also destroy the existing JS context.  Most likely, this means destroying and recreating the iframe.

However/ recreating the i

[2012-01-10 17:08] #114 closed, assigned to billreed63

[2012-01-10 17:09] billreed63 commented on #1515
Dup of #114, which I just fixed

[2012-01-10 17:09] #1515 closed, assigned to billreed63

[2012-01-10 17:44] peller commented on #1522
I think we should first prove that recreating the iframe is not feasible

[2012-01-10 17:53] peller commented on #1509
I propose adding this code to Context.js._setSource at line 943, in the else clause just before the call to _continueLoading:

[code]

[2012-01-10 18:08] jhpedemonte commented on #1509
1. Does this result in some sort of flickering?  For example, if there is invalid source and user keeps typing, but source is still invalid.
2. "loading" seems like quite a generic identifier.  Is there a case where that could cause issues, where some other element has the same class?  After all, `dojo.query` will return all elements with that class.
3. `orphan()`: does that mean that the error ov

[2012-01-10 18:14] peller commented on #1509
1. it does not, and I'm not sure why it doesn't flicker in that case, but I'm not sure that's much of a concern.  The error text does get updated in the event that that the error condition persists and changes slightly as the user types (for example, each invalid character added to `dojoType` is echoed in the error message
2. this div is a peer of the iframe, and therefore in the workbench, not th

[2012-01-10 18:27] billreed63 commented on #1509
looks good

[2012-01-10 18:31] jhpedemonte commented on #1509
Well, it's not a narrow search, since your `dojo.query` search will look for all nodes that are children of frameNode's parent, right?  Not sure if it will also follow into iframe, but I don't see why it wouldn't.

Are there any perf implications with destroying/recreating the overlay?  I'm guessing probably not.

[2012-01-10 18:32] jhpedemonte commented on #1509
Sorry, picking nits!  Assuming the `dojo.query` is ok, then patch is fine.

[2012-01-10 18:37] peller commented on #1509
Quite alright.

framenode's parents are exactly this loading div (which would only exist if the previous run were an error) and the iframe, that's it.  To get to an iframe's children, don't you have to go through ownerDocument?  I don't think dojo.query will recurse down into the iframe.

[2012-01-10 19:38] #1509 closed, assigned to peller

[2012-01-10 19:58] childsb commented on #1503
I checked in a fix to redirect local user to "." in 53445babb7da7f720773e3d44ca5b4d2f9422944

closing this bug.  if you find the findResource(...) error test case please open a new bug

[2012-01-10 19:58] #1503 closed, assigned to childsb

[2012-01-10 20:38] jhpedemonte commented on #1479
Retested on lab9:50020 today and still seeing this issue.  I had the console open and I did see this error:

This comes from Context.js, as page is being loaded.  So it's making it that far, but then gets stuck somewhere.

---

Oh well, nothing to be done for now.  Pushing to M5.

[2012-01-10 22:36] JonFerraiolo commented on #1501
Reopening. Works for Chrome, but not working for Win/Firefox when I run today's candidate build. The snapping logic is positioning the widget down and to the right by N pixels, where N is the border-width of the containing DIV.

[2012-01-10 22:42] JonFerraiolo opened #1523 "Shift key constrain should turn off snapping in the constrained direction"
- New HTML FIle (sketch mode)
- Add a DIV of about 300px by 250px
- Add various Buttons in and around the middle of the DIV but not aligned with the DIV
- Drag another Button into the DIV near the bottom center of the DIV
- Try to drag the Button with the shift key held down up and down

Result=> Snapping is taking precedence over shiftkey constraint. Shiftkey constrain should have precedence over

[2012-01-10 22:57] childsb opened #1524 "a new themes css rules don't show up"
1) create a new project
2) new-->theme, select claro, type claro2 as new theme name.
3) new HTML file
4) switch theme to claro2
5) add a button
6) go to the background (or any property) for button and expand the cascade
7) notice that only element.style shows up.

[2012-01-10 22:58] JonFerraiolo opened #1525 "ChooseParent UI - keystrokes not working if widget has flow layout"
When running the test plan (VE 3) and attempted to reparent widgets that have position:static, using the keyboard to reparent was working on either Win/Chrome or Win/FF. Works for widgets with position:absolute, however.

Probably related to #1215

[2012-01-10 23:23] JonFerraiolo opened #1526 "Dirty file - refresh - dirty bit not restored"
(Discovered on Win/FF)
- New HTML File
- Add a Button (note; asterisk indicates that dirty bit is on for the new file)
- Refresh the browser

Result=> No asterisk . If you click on the "x" to attempt to close the editor for the new file, there is no prompt and the file (and all of your editing in that file) are lost.

[2012-01-10 23:32] waynevicknair commented on #1465
just recreated this one on the latest external build from 'macwayne2' server running both FF and Safari on Mac. (Cloning claro theme still hangs on Mac/Chrome)

[2012-01-10 23:34] JonFerraiolo opened #1527 "Problems mixing jQuery and YUI"
(Tested on both Win/FF and Win/Chrome)
- New HTML File
- Add jQuery TabContainer
- Add YUI Calendar
- Add a second jQuery TabContainer

Result=> Visual styling is messed up for the 2nd TabContainer. No problem if you skip the 3rd step. Somehow the YUI calendar is confusing jQuery

[2012-01-10 23:50] jhpedemonte commented on #1524
@JonFerraiolo

[2012-01-10 23:50] jhpedemonte commented on #1524
@billreed63

[2012-01-10 23:53] jhpedemonte commented on #1527
There might be some issues with the inline JS used by these libraries.  I wonder if fixing #1354 would also fix this.

[2012-01-10 23:59] JonFerraiolo commented on #1524
Same as #1516? I wouldn't hold up M4 for this.

[2012-01-11 00:14] JonFerraiolo opened #1528 "Split view - change size with "+" icons looses selection"
@peller, @jhpedemonte, @childsb
- New HTML Page
- Split view
- Add a ContentPane, and put a Calendar inside.
- With mouse, pull on one of the right-side resize knobs to make the Calendar a little wider
- Repeat:  Add a ContentPane, and put a Calendar inside. With mouse, pull on one of the right-side resize knobs to make the Calendar a little wider
- Select 2nd Calendar.
- In Properties palette, cl

[2012-01-11 00:16] #1128 closed, assigned to nobody

[2012-01-11 00:18] jhpedemonte commented on #1126
Not sure if this is an issue.  Use must specifically pass port number as a command-line argument to the startup script.  This is only really used for testing.

Please close if this is no longer an issue.

[2012-01-11 00:28] jhpedemonte commented on #1524
Could be related, but the scenario is a bit different.  Best to keep both open for now.

Pushing to M5.

[2012-01-11 00:44] JonFerraiolo opened #1529 "Single user - logout button should be hidden or disabled"
@childsb

When I pull down a build and run one of the single-user builds, there is a logout hyperlink at the top right. clicking on that takes the user to the welcome dialog (login screen) which doesn't make sense for single-user mode. Options for fixing:
1. When single user, set display:none on the SPAN surround "logout"
2. When single user, gray out "Logout" and turn off the hyperlink for "logou

[2012-01-11 00:46] JonFerraiolo opened #1530 "README.html for local install: remove section on "allow" for HTML appcache"

[2012-01-11 01:33] aerwin commented on #1491
Still happens on RC build...

Version: Preview 4
Date: Jan 10, 2012 2:58:23 PM
Build: 3c236b1c2ec48a5...

[2012-01-11 02:18] aerwin opened #1531 "VE 3 test case, step 7 -- checkbox goes into SPAN despite choosing DIV"
In VE 3 test case, step 7, the checkbox seems to go into the span (as indicated by the outline view) despite having hit #2 to select the DIV as the parent.

Environment:
Chrome, local instal
Version: Preview 4
Date: Jan 10, 2012 2:58:23 PM
Build: 3c236b1c2ec48a5...

[2012-01-11 02:44] JonFerraiolo commented on #1531
Likely a dupe of #1525

[2012-01-11 02:47] aerwin opened #1532 "Outline view w/ scrollbar -- avatar still available after drop"
This is a weird one to explain so I'll also be sending some screen shots...
1. Open Sample1.html
2. Open nodes in outline view until scrollbar appears
3. Within Outline view, move the New button into the 2nd div in the "Tasks" content pane (really doesn't matter the move operation)
4. Click the down arrow at the bottom of the scroll bar
5. The DIV that was shown during drag and drop (e.g., the one

[2012-01-11 03:29] peller commented on #1532
I want to say this is a known dijit bug, or perhaps we even reported it... trying to locate the ticket

[2012-01-11 03:31] aerwin commented on #1516
I've also noticed in the "CSS cascade features" section of "Properties palette basic tests (part 4)" that when I follow Step 6 (to switch to "mytheme" that I have to open and close the HTML file to get Step 7 to work.

[2012-01-11 03:32] peller commented on #1532
I was thinking of this one: http://bugs.dojotoolkit.org/ticket/13964  Perhaps related?

[2012-01-11 03:41] aerwin opened #1533 "Label styling doesn't work in PE 4, app.css test case"
In the app.css section of "Properties palette basic tests (part 4)", the font size of the 2nd label does not change.

Environment:
Chrome, local install
Release Candidate
Version: Preview 4
Date: Jan 10, 2012 2:58:23 PM
Build: 3c236b1c2ec48a5...

[2012-01-11 03:49] aerwin opened #1534 "Open css file and it's marked dirty despite no changes"
1. Create css file
2. Save and close it
3. Reopen css file and note \* appears and when I try to close the css file it prompts me that changes have been made

Environment:
Chrome, local install
Release Candidate
Version: Preview 4
Date: Jan 10, 2012 2:58:23 PM
Build: 3c236b1c2ec48a5...

[2012-01-11 04:06] aerwin opened #1535 "Server error if try to delete new, unsaved file"
1. Create new HTML file
2. Find file in Files palette and try to delete it and get page that says:

Environment:
Chrome, local install (windows)
Version: Preview 4
Date: Jan 10, 2012 2:58:23 PM
Build: 3c236b1c2ec48a5...

[2012-01-11 04:18] aerwin opened #1536 "Server error deleting folder with multiple items"
1. Create folder
2. Create 2 HTML files in new folder (I saved both and closed their tabs)
3. Attempt to delete folder and get a page showing the following:

1. When I get back into Maqetta, I see the folder still in the File palette and it contains the 2nd HTML file (e.g., looks like first HTML file was deleted)

Environment:
Chrome, local install (windows)
Release Candidate
Version: Preview 4
Da

[2012-01-11 04:28] aerwin opened #1537 "Renaming file does not stay in synch with open tabs"
1. Create HTML file (say, tony.html)
2. Use content menu to rename new file (say, tony2.html)
3. File name changes in File Palette, but not in tab for HTML file
4. Double click on tony2.html and it opens in another tab (so, I have one tab labeled tony.html and one labeled tony2.html)

Environment:
Chrome, local install (windows)
Release candidate build
Version: Preview 4
Date: Jan 10, 2012 2:58:23

[2012-01-11 05:42] JonFerraiolo commented on #1501
Fix is easy. Replace:

[code]

with

[code]

[2012-01-11 05:55] JonFerraiolo opened #1538 "Delete file when file is open in editor"
- Create folder
- Create two CSS files inside that folder
- Open one of the CSS files
- In Files palette, delete the folder

Result=> folder and the two files are deleted, but the editor is still open

Not sure what's the best way to handle this situation. My best suggestion is that before doing a delete action we check to see if the action would affect any open editors, and if so, put up an error

[2012-01-11 06:03] JonFerraiolo commented on #1536
I tried but couldn't reproduce on macwayne2. I wonder if the session had timed out or somehow the server process had been restarted. The steps I took:
- From main manu, New Folder (folder2 in my case)
- I clicked on folder2 in Files palette, and then issues two New HTML File commands and put a Button in each file, saved, closed the two files
- In Files palette, I used context menu to delete folder

[2012-01-11 06:09] jhpedemonte commented on #1466
Still not fixed.  Following Eclipse Project test:
1. Create new project with Eclipse support.
2. When maqetta reloads, select (but don't open) the **WebContent** folder.  Right click and select **New Folder**.  Enter "aaa" for folder name and click "OK".
3. Open the **WebContent** folder, which shows contents including "aaa".  Select "aaa" folder.  New HTML Page.

Notice that the New File dialog's

[2012-01-11 06:11] JonFerraiolo commented on #1536
Ah, I did succeed in reproducing.
- New HTML File, accept default name. Save, Close.
- In Files palette, delete the new html file.
- New HTML File, accept default name (same as before). Save, Close.
- In Files palette, delete the new html file.

Result=> File doesn't go away from Files palette. It's still there.
- In Files palette, try once again to delete the file you just deleted.

Result=> You

[2012-01-11 06:12] jhpedemonte opened #1539 "Error creating file in subfolder in Eclipse project"
Following Eclipse Project test:
1. Create new project with Eclipse support.
2. When maqetta reloads, select (but don't open) the **WebContent** folder.  Right click and select **New Folder**.  Enter "aaa" for folder name and click "OK".
3. Open the **WebContent** folder, which shows contents including "aaa".  Select "aaa" folder.  New HTML Page.
4. Click on "twisty" to show files tree. Open "WebCo

[2012-01-11 06:13] JonFerraiolo commented on #1533
Worked for me when I ran the same test. Are you sure you changed the ID on the second label to 'label1' (instead of changing the class attribute)?

[2012-01-11 06:16] jhpedemonte commented on #1539
In Safari's network panel, the last entry is for `http://macwayne2.austin.ibm.com:55556/maqetta/cmd/findResource?path=*.theme&ignoreCase=true` and shows **statusCode** of `-1001`.

[2012-01-11 06:17] jhpedemonte commented on #1539
On reload, I do see `WebContent/aaa/file1.html` in the Files view.  However, when I double-click to open it, I get same error as in summary.

[2012-01-11 14:17] JonFerraiolo opened #1540 "Firefox adds .2 to pageX - affects snapping"
Need to investigate this.

The dojo.coords() call in Snap.js is returning floating point values for x and y such as x:20.199999 even though there is no evidence of any fractional values anywhere in the document. According to Dojo's docs, the x and y values come from pageX and pageY. Looking at Firebug's various panels, I don't see a reason for the fractional values.

So far, this doesn't appear to

[2012-01-11 14:25] JonFerraiolo commented on #1524
Ok to assign to me. I know this part of the code pretty well by now.

[2012-01-11 15:00] jhpedemonte commented on #1536
See #1535.

[2012-01-11 15:04] jhpedemonte commented on #1540
Is there any division involved?  Since all number values in JS are stored as **double**, sometimes even simple division can yield odd fractional results.

[2012-01-11 15:11] JonFerraiolo commented on #1540
I haven't found any divisions in our code. The fractional number is coming from dojo.coord() as the x: and y: values.

[2012-01-11 15:11] jhpedemonte opened #1541 "Server error deleting recently created Eclipse project"
1. Create project with **Eclipse support**.  Maqetta will be reloaded.
2. Immediately **delete** new project (click on red X beside project name in Files view).

_Results_\* in a **server error** page, but this only lasts about 10 secs before the page is reloaded with the previous project ("project1").

The description on the server error page is something like:

Seen on macwayne2 and lab9:50020,

[2012-01-11 15:15] jhpedemonte opened #1542 "Error when trying to change dijit textbox width (Props 2 test)"
In the **Properties part 2** test, **Layout Props #7** fails -- try to change width of textbox in Properties view fails, showing error dialog that the CSS of read-only theme cannot be changed.

@JonFerraiolo

[2012-01-11 15:20] billreed63 commented on #1465
I am not seeing this today, I a fairly sure this is a network issue... I will keep testing but I do not think this is a stop ship problem for M4.

[2012-01-11 15:22] jhpedemonte opened #1543 "cut/copy/paste in context menu don't work with area under mouse cursor"
The cut/copy/paste commands in the VE context menu don't actually work on the "context" (whatever is right underneath the mouse cursor).

Try this for cut/copy:
1. Place several widgets on the page.
2. Select one of them.
3. Right-click on a **different widget** than was selected, in order to show context menu.
4. Select **cut** or **copy** from context menu.
5. **Paste** somewhere else in the pag

[2012-01-11 15:32] #1533 closed, assigned to nobody

[2012-01-11 15:32] aerwin commented on #1533
You're right... my bad... I set the class, and not the id.

[2012-01-11 15:37] JonFerraiolo commented on #1542
@billreed63, @childsb

Yeah, time to take a deeper look at the logic in Cascade.js for choosing the default target rule (element.style vs specified CSS rule). We might need to add another option to theme metadata.

[2012-01-11 15:40] aerwin commented on #1536
@JonFerraiolo as @jhpedemonte mentions I think you reproduced a version of #1535. I can still reproduce the originally reported problem (deleting folder with multiple items) on windows and local install.

[2012-01-11 15:50] billreed63 opened #1544 "GridX should support XML data stores"

[2012-01-11 16:01] childsb commented on #1491
moving to m5

[2012-01-11 16:21] jhpedemonte commented on #1539
@childsb just recreated this on Safari, but not on Chrome or FF.

[2012-01-11 16:27] jhpedemonte commented on #1539
If I follow the scenario and create the file on Chrome (no error), then try to open same file in Safari, I get the error.

[2012-01-11 16:29] peller commented on #1544
or generic stores, maybe?

[2012-01-11 16:35] jhpedemonte commented on #1539
In a **non-Eclipse** project:
1. Create folder **WebContent**.
2. In Files view, select "WebContent", right-click and select **New Folder**.  Name it "aaa".
3. In Files view, open "WebContent" and select "aaa".
4. Click on **New HTML Page**.  Notice that the dialog's **Where** field is empty (issue #1466).
5. Click **Create**.

This **works** and there is **no error**.  So there is some difference

[2012-01-11 16:42] jhpedemonte commented on #1524
I am able to recreate this **without creating a new project**, just using the existing one.

[2012-01-11 16:47] jhpedemonte commented on #1524
A **refresh** makes this work properly again, showing all the items in the cascade (not just element.style).

---

Before refreshing, though, I wasn't able to change the dijit Button's **background color**, although I could change its text size and color.

[2012-01-11 16:52] jhpedemonte commented on #1539
As it stands, this looks like a issue with **Safari** and **Eclipse projects**, which makes it somewhat contained.

[2012-01-11 17:27] #1539 closed, assigned to childsb

[2012-01-11 17:28] jhpedemonte commented on #1539
OK, I can confirm that this now works for me.  One thing I noticed is that, now, when Maqetta reloads to work with the Eclipse project, the Files view shows the **WebContent** folder as **OPEN**.

Closing.

[2012-01-11 17:40] #1501 closed, assigned to JonFerraiolo

[2012-01-11 18:31] billreed63 commented on #1524
I think I introduced this bug fixing #1449, if I put that code back this issue is resolved.

[2012-01-11 19:35] jhpedemonte commented on #1449
Still seeing this, after reverting the first commit.  I see it on Chrome but not Safari.

Showing one of the split views, though, makes the new theme immediately take effect.

@peller

[2012-01-11 19:35] #1466 closed, assigned to JonFerraiolo

[2012-01-11 19:41] jhpedemonte commented on #1449
Also, to see this, you must switch theme by using the **Switch Theme** button in the toolbar.  Then select a new theme in the **Dojo mobile 1.7 theme** drop down.

Switching devices (which also switches themes, if mobile theme set to "device-specific" [the default]) does not exhibit this issue.

[2012-01-11 19:50] JonFerraiolo opened #1545 "Extra-cruft in some clip art widgets at lower-left"
- New HTML file - hi-fi sketch
- Add a facebook widget from Clip Art section
- resize to make it wider than tall

Result=> There is cruft at lower-left of widget

[2012-01-11 19:53] JonFerraiolo opened #1546 "Shift/constrained resize of clip art widgets not preserving inherent aspect ratio"
- New HTML File
- Add a facebook widget (under Clip Art)
- Resize to make it wider than higher
- Resize again, but with shift key down

Result=> The existing aspect ratio  is preserved, not the inherent aspect ratio (which for this widget is 1-to-1)

[2012-01-11 20:00] jhpedemonte commented on #1449
The theme also applies if I (1) switch to a different tab in Chrome, (2) go work in a different program for a while (30 secs to 1 min), then (3) go back to Chrome and switch to the Maqetta tab.  At that point, I see the theme take.

[2012-01-11 20:35] JonFerraiolo commented on #398
Reassigning to @aerwin , particularly to look at INPUT, SELECT, BUTTON and other HTML form elements

[2012-01-11 20:35] JonFerraiolo commented on #318
Reassigning to @aerwin , but this one is low priority

[2012-01-11 20:37] JonFerraiolo commented on #341
Nice to have for M5, assigned to @aerwin

[2012-01-11 20:38] JonFerraiolo commented on #331
Assigned to @aerwin

[2012-01-11 20:38] JonFerraiolo commented on #125
Reassigning to @aerwin

[2012-01-11 21:08] jhpedemonte commented on #1449
I have a theory:

When changing the theme, the code eventually goes into `dojox.mobile.loadDeviceTheme()`, which creates a `<link>` for the new CSS.  However, soon after, this code in **ChangeThemeCommand** reloads the source into the DOM:

[code]

This is similar to an issue that I, @peller and @billreed63 looked into a while back, where the DOM would get recreated when a CSS load hadn't yet fini

[2012-01-11 21:31] #1449 closed, assigned to billreed63

[2012-01-11 22:37] JonFerraiolo opened #1547 "States reconciliation with mobile views, overlay widgets, stackcontainer widgets"
@peller

Long-standing architecture and design issue: we need to reconcile the existing states feature with mobile views, overlay widgets and stackcontainer widgets.

[2012-01-11 22:41] JonFerraiolo opened #1548 "Detailed test and analysis of Maqetta-to-Eclipse workflow"
@childsb

We need to do detailed testing to verify that we have addressed all issues with Eclipse-compatible projects

[2012-01-11 22:47] JonFerraiolo opened #1549 "Properties palette less back-and-forth"

[2012-01-11 22:54] JonFerraiolo commented on #189
Assigned to @jhpedemonte who might pass onto others

[2012-01-11 23:30] JonFerraiolo opened #1550 "Can't resize Tree in 3rd pane of TabContainer"
Craziest thing, this one. Problems exists in Safari, FF and Chrome
- New HTML file
- Add a TabContainer with 3 tabs (e.g, a,b,c)
- Click on 3rd tab to go into that tab
- Add a Tree widget
- Try to resize the Tree to make it smaller

Result=> Snaps back to 100%

The crazy thing is that you can resize the Tree if it is inside the first or second tab.

[2012-01-11 23:37] jhpedemonte commented on #43
Affects **JSON** files as well (of which there are several in our **sample_data** folder.

[2012-01-11 23:55] jhpedemonte commented on #1537
Saw this as well.  What's interesting is that if you click on **Preview**, then it opens the correct (renamed) file, even though the tab contains a different name.

[2012-01-12 00:04] JonFerraiolo opened #1551 "More mobile silhouettes"
@jhpedemonte , @jmockler, @billreed63

Need to get more current with latest mobile devices. Other than iPhone and iPad, we are way behind what's in the marketplace.

[2012-01-12 00:09] JonFerraiolo opened #1552 "RoundRectList overlapping Heading with ScrollbarView and fixed"
@peller

From #1344:

"Now, I am still seeing some issues, with RoundRectList overlaying Heading. Not sure what's up with that, but that's not this bug."

[2012-01-12 00:12] JonFerraiolo commented on #1344
Reopening. On Mac/Safari, using Blackberry, if I add a Heading (fixed=top) and then TabBar (fixed=bottom) and then various mobile widget until there is too much for ScrollableView, then in Preview the other widgets overlap either the TabBar or the Heading.

[2012-01-12 00:22] JonFerraiolo opened #1553 "RoundRectDataList: can't change data"
@jhpedemonte

I can't change data using SmartInput on a RoundRectDataList on either Mac/Chrome or Mac/Safari using macwayne2. Exception at EdgeToEdgeDataListInput.js:32:

[code]

[2012-01-12 00:25] jhpedemonte commented on #1551
Well, adding too much I think is even worse than having too few.

I think a better option would be to have a generic silhouette which allowed the user to input the length and width.

[2012-01-12 00:30] JonFerraiolo commented on #1553
THIS SUGGESTION WAS WRONG: I'm pretty sure this can be fixed by replacing `davinciI1eb` with `ieb`

[2012-01-12 00:50] JonFerraiolo commented on #1553
The problem is that updateStore() in EdgeToEdgeDataListInput is getting called twice, the second time after the textarea widget has been destroyed, which causes local variable textArea to be undefined.

[2012-01-12 00:50] childsb commented on #1524
Looks like the ChangeThemeCommand isn't forcing the import elements that it adds or changes to load & parse.  The quick fix is to reset the models text --

ChangeThemeCommand.js:

[code]

This doesn't seem to impact issue #1449

[2012-01-12 01:15] jhpedemonte opened #1554 "Characters dropped when typing in source view"
1. New HTML Page, iPhone.
2. Drop a dojox.mobile.View into silhouette, then a Heading into the view and a ToolBarButton onto the Heading.
3. Split view to show source.
4. Try typing in ToolBarButton's **label**.

I found that some characters don't register.  When this happens, I see the page content flicker as it's being recreated.

I'm assuming that because of everything involved in recreating th

[2012-01-12 01:37] jhpedemonte opened #1555 "Error while undoing delete from source of dojox.mobile widget"
1. New HTML Page, iPhone.
2. Drop a dojox.mobile.View into silhouette, then a Heading into the view and a ToolBarButton onto the Heading.
3. Split view to show source.
4. In source, select and delete the ToolBarButton source.
5. Click **undo** button.

Delete of ToolBarButton is not undone and I get an error in the console:

[code]

[2012-01-12 01:46] JonFerraiolo commented on #1553
I got things working by making these changes:
- In DataStoreBasedWidgetInput.js, I renamed `updateWidget:function()` to `_updateWidget:function()` (add an undercore)
- In same file, I added a null function `updateWidget:function(){}` (this ultimately gets called by the `hide()` function in SmartInput.js)
- In same file, within `onOK` I call `this._updateWidget:function()` instead of `this.updateWi

[2012-01-12 01:51] peller commented on #1547
see #1158, #586, #188

[2012-01-12 02:52] JonFerraiolo commented on #1554
<soapbox>This is one of the reasons why we don't want to always regenerate the entire visual document with each and every keystroke in the source editor. If we knew that the keystrokes were within the bounds of the ToolBarButton, then we might be able to regenerate just the ToolBarButton.</soapbox>

But probably more pertinent to this problem is that we have too much source-begets-design-begets-so

[2012-01-12 02:55] JonFerraiolo commented on #1551
In my experience, the UI folks who have examined this issue have concluded it is better for user to show a list of 5 million devices rather than let the user enter parameters. In any case, we can see what the UI folks say.

[2012-01-12 03:39] peller commented on #1554
Maybe.  Or we might just be losing focus for a time, or have some other coding practices that are throwing the browser for a 'loop' worth fixing.

Yes, we could arguably optimize some simple changes as deltas (at the expense of adding complexity to the code) but if indeed the page refresh is causing a loss of keystrokes, wouldn't we need to devise a system to handle **all** changes incrementally?

[2012-01-12 03:40] jhpedemonte opened #1556 "Deleted theme still appears in New Theme and Open Theme dialogs"
I deleted a few **cloned themes**, but their names still appear in the **New Theme** and **Open Theme** dialogs.

Fixed only by refreshing app.

@billreed63

[2012-01-12 03:44] jhpedemonte commented on #1554
Also consider that we've mostly been testing fairly simple pages.  Users may start constructing pages with many more widgets, at which point performance deficiencies will be very evident.

Yes.  Sure, it'll add complexity, but it'll improve performance.

[2012-01-12 03:54] aerwin opened #1557 "Visual editor doesn't scroll far enough to show complete data entry popup"
Noticed this while doing "Dojo Containers" portion of "Widget palette basic tests"...
1. Create new HTML file
2. Drag and drop AccordionContainer, BorderContainer, ContentPane, and Form
3. Then drag and drop MenuBar and notice data entry popup only partially visible (and when I try to scroll down the popup disappears)

![Screen shot of problem](http://i.imgur.com/8P5Hw.jpg)

Environment:
Chrome, l

[2012-01-12 03:56] jhpedemonte opened #1558 "Don't add functions to dojox.mobile object"
... or to any other object that isn't ours.  It's bad practice and can lead to issues.

In `Context.js._configDojoxMobile()`, there are 2 functions added to the `dojox.mobile` object.

Move them to `Context` (or somewhere else) and just pass in the `dojox.mobile` instance.  If you only need to run some code **before** a `dojox.mobile` function runs, use [dojo.aspect](http://davidwalsh.name/dojo-as

[2012-01-12 04:05] aerwin opened #1559 "Dojo Containers test case -- can't drop new container at end after scrolling"
Noticed this while doing "Dojo Containers" portion of "Widget palette basic tests"...
1. Create new HTML file
2. Drag and drop AccordionContainer, BorderContainer, and ContentPane
3. Scroll down to bottom of canvas
4. Try to drag and drop and additional container next to the Content Pane and nothing is added

![Screenshot of problem](http://i.imgur.com/ZaxSl.jpg)

Environment:
Chrome, local instal

[2012-01-12 04:06] JonFerraiolo opened #1560 "Layout and styling for server error page"
@childsb

The error page needs better layout and styling.

[2012-01-12 04:09] jhpedemonte commented on #1559
Related to #1559?

[2012-01-12 04:11] JonFerraiolo commented on #43
The title says either either add toolbar or remove the command. We really want to add the toolbar and allow people to edit arbitrary text files, not just *.html, *.js and *.css.

[2012-01-12 04:11] jhpedemonte commented on #1560
Mm-hmm, mm-hmm.  Also an LOLCAT or two.  And a `<blink>` tag.

[2012-01-12 04:16] JonFerraiolo opened #1561 "Remove Paul George Format from clip art SVG files"
Our SVG files for the clip art are exported directly out of Illustrator with a "pgf" version of the file contents embedded inside, which allows full round-tripping back to Illustrator. This information is very large and needs to be removed from our distribution.

[2012-01-12 04:31] aerwin opened #1562 "New HTML dialog allows me to save without .html extension and then doesn't give me Visual Editor"
1. Create new HTML file (but remove .html from file name)
2. Tab with a kind of text editor is created (no Visual Editor available)
3. Rename file so it has .html extension still doesn't allow me to get to Visual Editor

[2012-01-12 04:39] peller commented on #1554
premature optimization is the root of all evil

[2012-01-12 04:41] peller commented on #1554
Keep in mind we're only talking about typing in split view, right?  Perhaps we just need to be more clever about when and how often we refresh the visual display.  We shouldn't be doing it that often.

[2012-01-12 04:46] peller commented on #1559
RangeError: Maximum call stack size exceeded.

[2012-01-12 04:49] peller commented on #1558
I don't think it's bad practice at all.  In fact, re-assigning a method to run code first is _exactly_ what dojo.aspect does.

[2012-01-12 14:52] #1553 closed, assigned to billreed63

[2012-01-12 15:08] jhpedemonte commented on #1524
This doesn't work.  While I do see some rules now in the Cascade, they aren't the same rules I get if everything is working correctly.

Also, after switching theme and dropping a dijit Button, with button selected and Properties->Background showing, I don't see any values in any of the fields.  If this were working correctly, some of those fields should be filled.

[2012-01-12 15:10] billreed63 commented on #1524
The fix that Brad suggests does not work for me on Chrome/Win.. The rules that are displayed in the properties palette are not from the theme, It looks like they are the default dijit rules...

[code]

They should be:

[code]

[2012-01-12 15:45] billreed63 commented on #1465
We need to collect information on when and how is bug is happening:

1) What browsers are you running?
2) What OS?
3) Running Maqetta local, network, single or multi user?
4) What tabs do you have open
5) What steps did you take to create the error
6) In the network panel of your browser find the theme.css file, for example if you called your theme claro2 look for claro2.css Open  claro2.css to in

[2012-01-12 16:34] JonFerraiolo opened #1563 "Mobile silhouettes: Fix 1px cruft on right and bottom of content"
In most scenarios using a mobile silhoueete, there is a 1px line on the right and bottom edges of the content when authoring or previewing inside of a mobile silhoette

[2012-01-12 16:40] billreed63 commented on #1465
I just reproduced the problem...

Here is what I am seeing...

The css file in the users workspace has been changed and is correct... But what is in the browsers cache is the old content...
For example claro2.css has .claro in the browsers cache but .claro2 on disk
 In the net panel I have to click on claro2.css and clear browser cache to then force the browser to get the correct file....

[2012-01-12 17:35] JonFerraiolo opened #1564 "Real-time server push for Review/commenting"
@jhpedemonte , @EldonReturn

The review/commenting features needs real-time server-push so that the screen updates whenever some other reviewer has submitted a new comment.

[2012-01-12 17:48] JonFerraiolo opened #1565 "Review notifications improvements"
@EldonReturn, @jhpedemonte, @jmockler

Right now, If I am the author and create a review, I can click a checkbox on the wizard that says send email with each review comment. Each comment or reply generates a separate email.  An active review might have dozens of review comments.

There is no option for reviewers to request notification of comments by others. The only "notification" that reviewers

[2012-01-12 17:49] jhpedemonte commented on #1564
This can be handled either by a **live connection** (i.e. web socket) or by using **polling** (every minute?).  Not sure which would have least impact on server performance.  Whichever it is, we might want to disable them when the webpage isn't visible (I think newer browsers have an API to detect if page can be seen by user).

---

If your on the Review page, there are 2 options:
1. Automatically

[2012-01-12 17:52] jhpedemonte opened #1566 "Reloading R&C page doesn't save open pages"
When I reload the R&C page, the review page I had open doesn't get reopened (as editors are done when reloading VE page).

Open pages should be saved and reopened when loading R&C page again.

@JonFerraiolo

[2012-01-12 18:00] JonFerraiolo commented on #1566
Hopefully this will just fall out with the R/C merge because review sessions should just be additional editior tabs, right?

[2012-01-12 18:10] waynevicknair opened #1567 "RevCmnt: default sizes for annotation shapes too small"
when you add an annotation shape the canvas it initially appears as a 4 pixel square that is very hard to resize. the default size should be a bit larger.

[2012-01-12 18:11] JonFerraiolo opened #1568 "Review invitations from cn server"
@childsb, @peller , @EldonReturn

When hooking up to intranet server, mail is going through a server with "cn" in its name, even though all users are in US. We should investigate to see why this is the case.

[2012-01-12 18:12] waynevicknair opened #1569 "RevCmnt: no States view in review editor"
Mac/Safari testing from 'macwayne2':

review Sample1.html. review editor opens no States pane visible.

[2012-01-12 18:13] waynevicknair commented on #1569
oops. States pane not where i expected.

[2012-01-12 18:13] #1569 closed, assigned to nobody

[2012-01-12 18:48] waynevicknair commented on #1566
i believe that is correct target behavior. yes.

[2012-01-12 18:48] aerwin opened #1570 "Background color pull down missing colored rectangles"
In pull-down to set font color, I see colored rectangles next to the labels for red, green, blue, etc. However, in the pull-down for background color, there are only labels (and no colored rectangles).

I'm running in Chrome.

[2012-01-12 19:15] JonFerraiolo opened #1571 "New HTML File dialog, composition type drop down: should have icons"
@jmockler, @jhpedemonte

[2012-01-12 19:18] JonFerraiolo commented on #1570
@childsb

I must have omitted some logic when I redid Background.js for M4

[2012-01-12 19:21] jhpedemonte opened #1572 "Choose parent test: moving widget doesn't go into intended place"
In the **Choose Parent** test, I placed a button inside of a SPAN inside of DIV inside of a ContentPane...

Grabbed button and started to move it around.  Hovered back over same button (inside of span), selected **option 3** ("ContentPane Tab 1"), and released mouse button.  Instead of placing button inside ContentPane, after the 3 DIVs, it placed it in the DIV which is a parent of the SPAN.

[2012-01-12 19:24] jhpedemonte commented on #1559
Let's try this again:  related to #675?

[2012-01-12 19:36] aerwin commented on #1559
I just went to macwayne using Chrome and outline indicates new container (a TabContainer) was added after the content pane. But, scrolling in the canvas is really messed up, and I can't find the new TabContainer. The canvas just keeps getting bigger and bigger as a scroll down.

[2012-01-12 19:59] jhpedemonte commented on #1096
See #675 and #1559.

[2012-01-12 20:02] jhpedemonte opened #1573 "Error while dragging multiple widgets in Outline"
1. Drop a dijit **Button** and **Textbox** on page.
2. Under those, drop a **ContentPane** and then a **Button** within the pane.
3. In Outline, select both the top Button and Textbox.
4. Move them underneath the ContentPane.

Move fails to finish -- only one of the widgets actually gets placed underneath the ContentPane.  I also get an error in the console: `childTreeNode.getParent() is null`.  (

[2012-01-12 20:12] JonFerraiolo opened #1574 "Need to model mobile themes"
@billreed63, @childsb, @jhpedemonte

Because Dojo loads mobile themes instead of Maqetta, our modeller is bypassed and we don't model mobile themes in the page editor. We need to find a way to get the mobile themes modelled.

[2012-01-12 20:32] JonFerraiolo opened #1575 "Waiting/loading indicator when loading/switching themes"
@peller

When you open a mobile UI in page editor and/or switch themes, there is a noticeable delay before theme CSS files have kicked in. Would be nice to have an hourglass or something so user knows document isn't ready yet.

[2012-01-12 20:33] jhpedemonte opened #1576 "RoundRectDataList disappears from Outline when changing content"
1. New Page, iPhone view.
2. Add **ScrollableView**.
3. Add **Heading** inside view, and set `fixed` to `top` in Properties->Widget-specific.
4. Drop a **RoundRectDataList** under Heading.
5. In Outline, expand the ScrollableView.  Notice that everything looks as expected.
6. Double-click on RoundRectDataList and enter new content.  Click OK to set content.
7. **_Check Outline.  Notice that RoundR

[2012-01-12 20:36] JonFerraiolo opened #1577 "ScrollableView - child widgets are mispositioned in page editor"
@peller
- New HTML File - iphone
- Add a ScrollableView
- Add a Heading

Result=> Heading is shifted up by several pixels. Selection doesn't align with widget, but selection is probably correct.
- Add a RoundRectList

Result=> Similar problem

[2012-01-12 20:41] JonFerraiolo commented on #1573
Clarification please: the drag operation is within the outline palette, right?

[2012-01-12 20:42] jhpedemonte commented on #1573
correct.

[2012-01-12 21:14] peller commented on #1573
easy to trap in the debugger in a non-debug build.  source.getItem is returning a sourceItem of type TreeNode, but data is undefined, leading to this error.  will investigate.

[2012-01-12 22:01] waynevicknair commented on #1123
dropped scripts into 'internal' repository on commit 0e2554595a68661fabcaa088e2f6687b6e61360e

[2012-01-12 22:01] #1123 closed, assigned to waynevicknair

[2012-01-12 22:35] jhpedemonte opened #1578 "Need a way to escape commas for Smart Inputs that take comma-delimited lists"
Some Smart Inputs, like RoundRectDataList, take a comma-delimited list.  However, there is no way to specify an item which contains a comma.  We need a way to escape commas, so they are not processed as delimiters.

Proposal: Use "\" to escape such commas; for example:

 `Mail\, Contacts, mail`

where the item "Mail, Contacts" has an ID of "mail".

[2012-01-12 22:35] jhpedemonte commented on #1578
@billreed63

[2012-01-13 03:56] JonFerraiolo commented on #1572
The Button was in flow layout, right? Yes, there are bugs with Choose Parent feature with flow layout. I need to redo the drag/drop logic for widgets in flow layout. Absolute layout is working pretty well, though.

[2012-01-13 04:54] #1563 closed, assigned to JonFerraiolo

[2012-01-13 05:16] JonFerraiolo commented on #945
Aren't we going to move to gridx?

[2012-01-13 15:01] billreed63 commented on #1558
This code was added my Adam so I am reassigning this issue to him. But I agree with Adam that I don not think this is bad practice..

[2012-01-13 15:07] billreed63 commented on #1468
This was fixed by #1469

[2012-01-13 15:07] #1468 closed, assigned to billreed63

[2012-01-13 15:55] waynevicknair opened #1579 "Integrate Review and Commenting into Base"
currently, review and commenting is a maqetta plugin. this is the top level feature created to track the efforts to integrate the review and commenting code into the maqetta core client and server projects.

the ultimate goal is a seamless UI experience for review and commenting with review editors showing up in tabs and comment and state panes conforming to existing maqetta editing UI. we also wa

[2012-01-13 16:03] #151 closed, assigned to jhpedemonte

[2012-01-13 17:31] jhpedemonte commented on #1558
Closing after discussion with Adam.

[2012-01-13 17:31] #1558 closed, assigned to peller

[2012-01-13 17:32] peller commented on #1558
So it was necessary, at the time.  These two methods actually do get called from dojox.mobile code, we're just modifying the behavior.  In fact, one of these methods (configDeviceTheme) is an empty stub there specifically so that we can get a callback, so that we _must_ put the code in dojox.mobile.  It's a little messy looking, but in the end, everything is still encapsulated in the dojox.mobile

[2012-01-13 18:53] childsb opened #1580 "investigate why maqetta download went from 23mb to 45mb"
The maqetta download went grew from 25MB for M3 to 45MB for m4.  The maqetta.core.client itself is 96MB uncompressed!

[2012-01-13 18:57] billreed63 commented on #1558
We got the functionality that remove the old css files from the head moved into dojox.mobile but @peller already removed that code from Context.js.

The rest of the code is needed, so we can dynamically change the dojox.mobile.themeMap
The dojox.mobile.themeMap is defined and added to the dojox.mobile object and must be created before the deviceTheme object is created. This is done with javascript

[2012-01-13 19:02] JonFerraiolo commented on #1580
@waynevicknair @peller @jhpedemonte

[2012-01-13 19:07] peller commented on #1580
The Dojo source zip got ~50% larger... new code, plus a lot of deprecated baggage they can't get rid of until 2.0, but not necessarily more code in memory at runtime.  Might explain for a good chunk of this increase.

[2012-01-13 19:52] JonFerraiolo commented on #1580
@waynevicknair - could you please analyze how much is Dojo versus other things? Regarding the size of Dojo, for ZIP downloads, couldn't we only include the parts that Maqetta actually uses directly or indirectly (e.g., all of Dijit is needed for the widget palette) and exclude the rest? Low priority and of course much easier said than done.

[2012-01-13 20:05] jhpedemonte commented on #1580
Well, we already do a build of the Dojo source, so we shouldn't need to include anything that isn't include in our build profiles, correct?

[2012-01-13 20:14] peller commented on #1580
Yes, except not everything we use is in our build profiles -- In particular, R&C, but there may be some other exceptions where individual files are loaded from the tree.  Still, we ought to be able to remove large portions of dojox with zero risk.  I'd like to link directly to the Dojo git repository in the future, though, so it will be difficult to pick and choose until Dojo undertakes a more rad

[2012-01-13 20:33] jhpedemonte commented on #1580
I'm fine if we have this thing in the source.  I'm saying that after building though, all the cruft should be removed.  Since we test against built code, we should see fairly quickly if we're missing something from our build profiles.

[2012-01-13 20:35] peller commented on #1580
Unfortunately, that's not how it works.  The build tool processes everything in the source tree, as well as building the 'layer' files, and we do not use the layer files exclusively.

[2012-01-13 20:48] JonFerraiolo commented on #1580
Also, remember that we support Dojo widgets, some from dojox, and we plan to allow for widget extensibility, so users will need more of Dojo than what Maqetta uses directly.

[2012-01-13 20:53] peller commented on #1580
right, but those are in the Dojo plugin, not the main client code, at least...  so we have to ask ourselves two different questions: what to package with the maqetta client, and what to package with the dojo_1_7

[2012-01-13 21:00] aerwin opened #1581 "Active edit in Properties View not committed when change selection in Outline"
1. Create new HTML file
2. Drag 2 buttons onto canvas
3. Select 1st button and type a value into an attribute in Properties View (say "abcd" for Value attribute in widget-specific section)
4. Use Outline view to select other button
5. Select 1st button again and note that "abcd" was not saved

In every other case I've seen, a property change is committed whenever there is a focus change.

[2012-01-13 22:11] billreed63 commented on #1465
Looking at the code here is what I believe is happening:

davinci.theme.CloneTheme copys the theme files to be cloned to the new folder
Then starts modifying the names of the theme files as well as the contents of the files for the new theme name. once that is complete we then either call save() or setContent() on the files, save() calls setContent().

davinci.model.Resource.File.prototype.setCont

[2012-01-13 22:56] waynevicknair commented on #1580
@JonFerraiolo surely. i'll take a look at it this weekend.

[2012-01-15 16:05] #1529 closed, assigned to JonFerraiolo

[2012-01-16 13:39] peller opened #1582 "Move states management to toolbar or special states bar"
I thought there was an issue for this, but I can't find it

[2012-01-16 13:40] peller commented on #1093
this was done for M4

[2012-01-16 13:40] #1093 closed, assigned to peller

[2012-01-16 15:40] billreed63 commented on #392
need to determine if we can do this in M5

[2012-01-16 15:40] billreed63 commented on #617
can we do this in m5?

[2012-01-16 16:26] billreed63 opened #1583 "Detailed testing of all theme metadata"
Detailed testing of all theme metadata

[2012-01-16 16:39] JonFerraiolo commented on #617
@waynevicknair

Good to see this pushed to M5 as Priority-Low - to me, that's the proper balance of aggressiveness and realism.

Before we put sticky notes into desktop theme editor (and also mobile theme editor), we need to think through how the following features relate to each other: (a) sticky notes, (b) annotations tools within R/C, (c) drawing tools (rects, lines, arrows, etc). Note that Maq

[2012-01-16 17:12] JonFerraiolo commented on #1529
Note after committing my fix:

I tried out options 1 and 2, and decided that option 1 was the best - just don't show the "Log out" link in the main toolbar when the user is running as single-user (i.e., they never logged in in the first place). If no "Log out" link, I added a 3em margin-right right of the "Help" dropdown because otherwise parts of the Help menu were clipped by the browser.

[2012-01-16 18:02] peller commented on #481
done in M4

[2012-01-16 18:02] #481 closed, assigned to peller

[2012-01-16 18:03] peller opened #1584 "Upgrade workbench and dojo plugin to 1.7.2"
Should have minimal impact on us, but good to keep up with the latest

@jhpedemonte

[2012-01-16 18:13] peller opened #1585 "Flip to asynch:true on Workbench code"
Will require a complete pass through all modules to convert to AMD syntax

[2012-01-16 18:28] peller opened #1586 "integrate on-the-fly AMD optimization tools"
Look at tools which can concatenate AMD require requests on the fly to minimize number of requests and latency, initially for the preview-in-browser feature, perhaps for the rest of Maqetta and for app deployment as well

[2012-01-16 18:56] peller opened #1587 "write testplan for overlay widgets"

[2012-01-16 19:11] waynevicknair commented on #1580
maqetta.core.client&nbsp;&nbsp;&nbsp;&nbsp;grew&nbsp;&nbsp;&nbsp;&nbsp;3959035 bytes
davinci.dojo_1_7_1&nbsp;&nbsp;&nbsp;&nbsp;grew&nbsp;&nbsp;&nbsp;&nbsp;3722181 bytes
maqetta.clipart&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;added&nbsp;&nbsp;&nbsp;&nbsp;5849612 bytes

the above are the significant size differences between Preview3.1 and Preview4. looks like around 14MB.

[2012-01-16 20:02] JonFerraiolo commented on #1580
The 5.8M from maqetta.clipart will shrink to approximately zero once I address #1561

[2012-01-16 20:37] jhpedemonte commented on #1580
Since both **maqetta.core.client** and **davinci.dojo** were upgraded to Dojo 1.7, would that explain most of the size increase in those 2?

Also, did you mean to close this bug, Jon?

[2012-01-16 20:39] #407 closed, assigned to billreed63

[2012-01-16 20:39] #1465 closed, assigned to billreed63

[2012-01-16 20:44] JonFerraiolo commented on #1580
I thought @waynevicknair had closed this bug before I commented about maqetta.clipart. @waynevicknair, if you didn't close this and I accidentally closed it, could you please reopen?

[2012-01-16 20:49] peller opened #1588 "What happened to loading standby UI on visual editor"
@billreed63

I've lost track, but I thought we used to use dojox.widget.Standby or similar in the main portion of the visual editor while it loads.  Now it's empty.  I know we also have some UI on the tab itself.

I was thinking now that the iframe is all AMD, perhaps we could provide some smooth animation.

[2012-01-16 21:44] waynevicknair commented on #1580
surely. i don't believe i closed it.

[2012-01-17 15:57] aerwin commented on #398
The "speclet" for this work can be found on the [HTML Tags in Widget Palette](https://github.com/maqetta/maqetta/wiki/HTML-Tags-in-Widget-Palette) page in the wiki.

[2012-01-17 17:54] JonFerraiolo commented on #398
That page was very helpful! I reviewed the above link, cogitated, and formed some recommendations:
- In the Widget palette, I would _not_ include any of the (deprecated?) old-style formatting tags such as CODE, B, I, U, S, SUB, SUP, or the more modern versions STRONG or EM. Similarly, I would not include any of the "list" elements: LI, UL, OL, DL, DT, DD. Instead, my thinking is that if developers

[2012-01-17 19:30] peller opened #1589 "Can we replace color list in CssUtils with dojo.Color.named"
and generate the #rrggbb string, if needed, from the triples in Color.named

[2012-01-17 19:49] aerwin commented on #398
Thanks for the thorough review!
- Those "old-style" formatting tags are not deprecated as far as I can tell, but I'll _not_ include them. A lot of the meta-data already exists in the master branch, so I'll clean that up as part of this work.
- For the "nice GUI" to handle FIELDSET, OPTION, etc. Is that something you'd like to see as part of this work in this sprint?
- I'll include  BR, BUTTON, FIE

[2012-01-17 20:33] jhpedemonte commented on #398
Agreed with most of what Jon said.
- I would include AUDIO in addition to VIDEO.  While the latter is more popular, there were a couple (?) people who mentioned those tags when Maqetta was first released publicly.
- The new way of laying out a page in HTML5 includes ARTICLE, ASIDE, HEADER, FOOTER, NAV, SECTION, etc.  Might be good to include those also.  Maybe as a second pass.  See https://develo

[2012-01-17 20:44] JonFerraiolo commented on #398
Responding to questions above:
- AUDIO is fine
- I would be in no hurry with the semantic HTML elements like ARTICLE. I can't see many of our users needed those elements in short-term
- CANVAS is problematic because it is just a tag with an ID. Its content has to be created via JavaScript.
  Other comments later....

[2012-01-17 20:50] aerwin commented on #398
Thanks, guys... per Javier's question about headings, I was debating whether we need at all if philosophy is to send user to Rich Text Editor for formatting (bold, italic, etc.) and list building. I notice you can also do headings in there. Thoughts?

[2012-01-17 20:56] billreed63 commented on #1481
We have a similar issue when we re-parent in the outline

[2012-01-17 21:00] aerwin opened #1590 "Add HTML5 semantic/layout type tags to palette"
This is a spin-off from #398 to add HTML5 semantic/layout type tags (like ARTICLE, ASIDE, HEADER, FOOTER, NAV, SECTION, etc. ) to the widgets palette.

[2012-01-17 21:04] aerwin opened #1591 "Add HTML5 CANVAS to widget palette"
This is a spin-off from #398. A request has been made to add CANVAS to the palette, but there are a number of issues that warrant this be it's own feature request.

[2012-01-17 21:08] aerwin opened #1592 "Add additional HTML5 UI widgets (e.g., MENU, METER and OUTPUT)"
This is a spin-off from #398 to add some lower-priority HTML5 UI widgets (like MENU, METER and OUTPUT) that were not included for #398.

[2012-01-17 21:09] aerwin commented on #398
Some new issues created for tracking and to allow new threads of discussion if necessary:
- #1590 for adding HTML5 semantic/layout elements
- #1591 for CANVAS support
- #1592 for lower priority HTML5 UI controls (like MENU, METER and OUTPUT)

[2012-01-17 21:13] jhpedemonte commented on #398
Well, I think it would be best to keep the heading tags around.  They are part of the HTML5 document structure, along with the ones I mentioned in my 2nd bullet above.

[2012-01-17 21:55] aerwin commented on #1592
When someone starts looking at this one, the tags to consider can be found on the [HTML Tags in Widget Palette](https://github.com/maqetta/maqetta/wiki/HTML-Tags-in-Widget-Palette) page in the wiki.

[2012-01-17 21:56] aerwin commented on #1590
When someone starts looking at this one, the tags to consider can be found on the [HTML Tags in Widget Palette](https://github.com/maqetta/maqetta/wiki/HTML-Tags-in-Widget-Palette) page in the wiki.

[2012-01-17 21:57] aerwin commented on #1591
When someone starts looking at this one, please be sure to update [HTML Tags in Widget Palette](https://github.com/maqetta/maqetta/wiki/HTML-Tags-in-Widget-Palette) page in the wiki once CANVAS has been added.

[2012-01-17 22:15] aerwin commented on #398
The speclet (still in draft state) has been updated based on feedback: [HTML Tags in Widget Palette](https://github.com/maqetta/maqetta/wiki/HTML-Tags-in-Widget-Palette)

[2012-01-17 23:42] JonFerraiolo commented on #398
I would keep the headings as a special case, even if the other "formatting" elements are left off. The reason is that UIs often use H1-H3 for parts of the UI, such as titles blocks above a bunch of widgets, or subheadings in a flow of widgets (e.g., heading block, then a special widget for a blog comment, then heading block, then blog comment widget, etc). The intra-paragraph formatting elements a

[2012-01-18 15:29] #1481 closed, assigned to billreed63

[2012-01-18 15:35] billreed63 opened #1593 "Cross domain DataStores not working on DataGird in preview"

[2012-01-18 15:47] billreed63 commented on #1593
This regression was caused by the switch to AMD loading.

the old loading was

[code]

AMD should be

[code]

[2012-01-18 15:56] billreed63 commented on #1593
As a work around until a fix is pushed out to maqetta.org the user can manually edit the html file

From:

[code]

To:

[code]

[2012-01-18 16:17] billreed63 opened #1594 "Create Data Grid test plan"
We need a comprehensive test plan for DataGrid widgets

[2012-01-18 18:45] billreed63 opened #1595 "Deploy sample service on Maqetta.org that can be used with data stores"
It would be nice if we had a sample service deployed on Maqetta.org that could be used with DataGrid

Here is a sample PHP for the service

[code]

Users could then use that service in the DataGrid
example:
http://maqetta.org/sampleService

[2012-01-18 18:46] billreed63 commented on #1593
http://ferraiolo.com/temp4/jsonpstore.php?callback=foo
http://maqetta.org/sampleService

[2012-01-18 19:28] peller opened #1596 "Review invitation should open file for recipient"
@EldonReturn @JonFerraiolo

When a user clicks on the link in an e-mail, right now they see the workbench with a special welcome page.  In the case where there are multiple review requests, it's important to note which file (or files?) are being sent for review.  Right now, you just see the file tree, everything is collapsed.  Perhaps editors should automatically open with the relevant files?

[2012-01-18 20:21] ccmitchellusa opened #1597 "States don't work with sketch tools"
Reported on P4 - All browsers

Create html page, low res sketch
Draw shapes on initial "Normal" state
Create new state, "Foo"
Draw shapes with new Foo state selected
Select Normal state
shapes drawn in Normal state still appear, but sometimes their position changes.

Also, cut/paste/copy of shapes does not seem to be working...not sure if related to the multiple states issue

This problem makes th

[2012-01-18 20:23] waynevicknair commented on #1595
fix with commit e5ef726b759faaca79f46df8b0bd7ec8938e19a7 to (private) repository

[2012-01-18 20:23] #1595 closed, assigned to waynevicknair

[2012-01-18 20:24] ccmitchellusa opened #1598 "Need ability for complex shapes in sketch mode"
The svg icons feature is nice, but shapefile made out of multiple groups/parts where some parts are resizable and other parts are fixed is needed.  For example, the "browser" shape is stretched when resized.  What is needed is the browser shape with title/scrollbar/button area keeping relative sizing when the browser shape is resized.

[2012-01-18 20:26] waynevicknair opened #1599 "remove davinci/review/view/StatesView.js; it is redundant"
when we collapse the states UI this file will be redundant. opened this issue to track its removal.

[2012-01-18 20:27] waynevicknair opened #1600 "investigate removing GetBluePagesInfo.java"
we may need to remove this file from the repository. looking into it.

[2012-01-18 21:20] JonFerraiolo commented on #1598
hey, fella, glad to see you logging bugs!

So there are two clusters of "shapes", the ones under Drawing Tools that have the capacity for doing fancy things like having some sections resizable and others fixed (this is the maqetta.shapes project), and then there are the ones under Clip Art that are just dumb graphics (the maqetta.clipart project).

Two options: (a) move the browser clipart into th

[2012-01-18 21:39] JonFerraiolo commented on #1597
Looks like we never tested shapes in combination with states. I took a quick look at why this is broken and haven't figured it out yet.

Note that the clipart widgets work with states OK, at least after a small amount of testing.

[2012-01-19 04:48] jhpedemonte commented on #1257
The second option is the best solution.  A composite widget should only surface the properties from internal components that it wants to.  In many cases, these "composite" widgets will be constructed in such a way that there is only a little bit of configurability and shouldn't surface all properties from the internal components.

Then, there must be code that makes the correct changes based on ch

[2012-01-19 04:48] #1257 closed, assigned to jhpedemonte

[2012-01-19 06:13] peller opened #1601 "Questionable loops in Context.js"
Two loops are flagged with FIXME comments.  The instruction in the loop is invariant.  You'd expect it to repeat with the iteration from the array, instead it passes the whole array.  Either the recipient of this data expects the array, cancelling out the error, or there's a bug we're not noticing (or the code isn't used?)

First, in Context.loadTheme:

[code]

then in Context.getRelativeMetaTarge

[2012-01-19 15:38] aerwin opened #1602 "Provide nicer UI for dealing with HTML widgets with dependencies on child elements (e.g., like SELECT, OPTGROUP, and OPTION)"
This is a spin-off from #398...

There are certain tags whose behavior is largely driven by child elements that could benefit from a nicer user experience. This is not unlike how we handle TABLE so users don't have to drag TBODY, TR, TD, etc. from the palette into the table..

Examples that could be improved are:
- SELECT, OPTGROUP, and OPTION
- FIELDSET and LEGEND
- VIDEO/AUDIO and TRACK/SOURCE
-

[2012-01-19 16:53] aerwin commented on #398
@jhpedemonte, @JonFerraiolo

Hey, Guys... per discussion this morning, I've pushed my local branch ("398_html_widgets") to the central repository for review. If you guys could take a look, I'd appreciate it.

Also, the speclet has been updated in the wiki at [HTML Tags in Widget Palette](https://github.com/maqetta/maqetta/wiki/HTML-Tags-in-Widget-Palette) if you wanted to take one more look at tha

[2012-01-19 16:54] jhpedemonte opened #1603 "Investigate CreateTool files with evals"
The following file all have basically the same code, using **eval**:
- OptionsCreateTool.js
- TreeCreateTool.js
- TreeInput.js
- ItemFileReadStoreHelper.js
- DataGridCreateTool.js
- DataGridHelper.js
- TreeGridCreateTool.js
- TreeGridHelper.js
- TreeGridInput.js
- EdgeToEdgeDataListCreateTool.js
- EdgeToEdgeDataListHelper.js

---
1. First, do we even need these files any more?
2. If so, get rid of

[2012-01-19 17:02] jhpedemonte commented on #1603
Adding **TreeCreateTool.js**, which has same **eval** code.

[2012-01-19 17:03] aerwin opened #1604 "Need icons for new HTML elements added to palette"
@JonFerraiolo

This is a spin-off from #398...

Per discussion this morning, we need some icons for newly added HTML elements.

These elements are AUDIO, EMBED, FIELDSET, LEGEND, OPTGROUP, OPTION, VIDEO. I'm currently using element.gif as a placeholder.

In addition, the icons for BUTTON, INPUT, SELECT, and TEXTAREA were copied from the Dojo Control icons, and should perhaps be re-evaluated graphi

[2012-01-19 17:06] aerwin opened #1605 "Update test cases (or write new one) to reflect new HTML elements"
As a spin-off from #398, test cases need to reflect the HTML elements recently added to the Widget Palette.

[2012-01-19 17:20] aerwin opened #1606 "AMD conversion for action, html, js, and model"
From Adam:

core.client
- action/ (11) Tony
- html/ (9) Tony
- js/ (5) Tony
- model/ (5) Tony

[2012-01-19 17:21] jhpedemonte commented on #1603
Adding **TreeInput.js** (evals).

[2012-01-19 17:24] billreed63 opened #1607 "Duplicate requires added when function present on requires"
A duplicate requires is added when a requires has a function example

[code]

The root of the issue is in `davinci.ve.context.addHeaderScriptText(text)` what is passed into this method is "require(["dojox/io/xhrScriptPlugin"]);'  the code then checks to see if that text is already present at about line 2556

[code]

[2012-01-19 17:24] billreed63 opened #1608 "Duplicate requires added when function present on requires"
A duplicate requires is added when a requires has a function example

[code]

The root of the issue is in `davinci.ve.context.addHeaderScriptText(text)` what is passed into this method is "require(["dojox/io/xhrScriptPlugin"]);'  the code then checks to see if that text is already present at about line 2556

[code]

In this case the oldText is:

[code]

So the test `if (oldText.indexOf(text) === -

[2012-01-19 17:27] JonFerraiolo commented on #1604
@jmockler

[2012-01-19 17:28] JonFerraiolo commented on #1604
@aerwin - FYI we base64 the widget palette icons to eliminate network requests for the icons. @jhpedemonte has a tool for that. He and I will take care of the base64 process once we get the icons.

[2012-01-19 17:55] billreed63 commented on #1608
I was also able to reproduce this with mobile..

1) Create a new HTML mobile page
2) DnD a header
3) Switch theme to custom for all devices
4) DnD anther header

Look at the source an notice a 2nd require for mobile has been added.

[2012-01-19 18:01] JonFerraiolo opened #1609 "Sample audio and video files in sample_data"
@aerwin

We need sample files for the <audio> and <video> tags. As small as possible in both cases.

[2012-01-19 18:01] JonFerraiolo opened #1610 "Sample audio and video files in sample_data"
@aerwin

We need sample files for the <audio> and <video> tags. As small as possible in both cases.

[2012-01-19 18:24] JonFerraiolo commented on #398
Great job! Comments after a quick review of the branch:
- I added AUDIO and my goodness some UI appears in the HTML file. I did not know the browsers added default UI for AUDIO. Wow.
- We should include a small bit of audio and video in the sample_data folder of the default workspace. I created bug #1610
- BUTTON has a 'value' attribute. What does it do? Get rid of it?
- I like the way FIELDSET an

[2012-01-19 18:26] aerwin commented on #1609
@JonFerraiolo

Good point... EMBED too I suppose...

There were some files I downloaded from http://www.w3schools.com for my own personal testing... but, with copyright issues and such, do we have any good place you suggest I get such files from for checking into our repository?

[2012-01-19 18:27] aerwin commented on #1610
@JonFerraiolo Is this a dup of #1609?

[2012-01-19 19:06] JonFerraiolo commented on #1610
Gosh, I must have click OK twice. Closing this dupe.

[2012-01-19 19:06] #1610 closed, assigned to JonFerraiolo

[2012-01-19 19:10] JonFerraiolo commented on #1609
That's the rub - making sure the content is IP clean. Would be nice to find something that is both public domain, very short and recognizable/meaningful to a large part of the world. But we always have the fallback of creating content from scratch.

[2012-01-19 20:53] aerwin commented on #398
Thanks for the thorough review... some responses...
- For AUDIO, I set the "controls" attribute on by default which is why that shows up. Otherwise, AUDIO is invisible.
- Agreed on #1610.
- For BUTTON, yes, it has a "value" attribute which represents the value to submit to the server when pressed. Would you still vote to get rid of it?
- I'll look into the FIELDSET/LEGEND border thing or open a ne

[2012-01-19 21:15] jhpedemonte commented on #1602
Please add some details about the exact issues and some suggestions (if you have any) about how to handle them.

@JonFerraiolo

[2012-01-19 21:51] waynevicknair commented on #1568
fixed in commit eeae505892548ad043b0af02b33f294445a5d76 to private repository

configuration settings were incorrect in plugin.xml

[2012-01-19 22:01] billreed63 commented on #1607
this is not a real defect... Just a rogue

[2012-01-19 22:01] #1607 closed, assigned to nobody

[2012-01-19 22:37] jhpedemonte commented on #398
See commit 513030772447082e4a8bfff5c8931a080d53bd9b.

[2012-01-19 22:38] JonFerraiolo commented on #398
Sorry for slowness in responding.
- Regarding BUTTON and 'value', I would remove it. Will cause more confusion that value to typical user.
- I did not know that EMBED was undeprecated! Now I'm thinking we should leave it in. I suspect there will be users who want to embed SWF files. But if we put it in, we need something in the default workspace that can be the target of the EMBED element. Does EM

[2012-01-19 22:49] jhpedemonte commented on #398
Regarding the use of `unconstrained` in widget properties in the OAM:

The [OpenAjax Metadata spec](http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Widget_Metadata) shows that `unconstrained` is an attribute on the `options` property (notice the 's'), not `option`.

Now, the spec is based on an XML syntax.  However, we use a JSON represenation (never ratified under OpenAjax

[2012-01-19 22:58] jhpedemonte opened #1611 "Investigate the use of `options/unconstrained` in OAM JSON files"
See https://github.com/maqetta/maqetta/issues/398#issuecomment-3575888.
1. A few OAM files are probably using `unconstrained` incorrectly.
2. May need to create a better way of converting this property (and `options`) to JSON.

---

Another XML->JSON converter: http://badgerfish.ning.com/

@JonFerraiolo @aerwin

[2012-01-19 23:00] jhpedemonte commented on #1611
One option for XML->JSON conversion:  keep the `options` prop (and other such 'plural' parents), but create an object that allows other code to request a property and then inquire if it is `unconstrained`, etc.  This would prevent the rest of the code having to check whether there is, for example, an `option` or if there is first an `options` with one or more `option` children, etc.

[2012-01-19 23:02] peller commented on #1568
Should probably leave ticket open until the change is pushed with a reference

[2012-01-19 23:05] aerwin commented on #398
As for `unconstrained`, I had just put this reply in the review for commit 513030772447082e4a8bfff5c8931a080d53bd9b where you had mentioned the schema:

---

The `unconstrained` attribute is necessary because in addition to (_self, _top, etc.) you can specify the id of any iframe    [http://www.w3schools.com/html5/att_a_target.asp]).

In WidgetProperties.js, it was looking for `unconstrainted` (no

[2012-01-19 23:09] #1568 closed, assigned to waynevicknair

[2012-01-20 00:06] JonFerraiolo commented on #1589
Reassigning to me. Blame me for the duplication.

[2012-01-20 00:09] JonFerraiolo commented on #1589
Oh, one thing though. I had to put greenyellow ahead of green in the list so that the regular expressions in the gradients logic would match 'greenyellow' to 'greenyellow' instead of 'green' to 'green'. Maybe there is a regex tweak that can be made so that color order doesn't matter.

[2012-01-20 03:43] peller commented on #1589
If you want to make sure to match the full string, you'll want to use $ and ^ in the regexp

[2012-01-20 04:02] peller opened #1612 "'Cancel' button on new html file dialog not working"
Probably something I did

@JonFerraiolo

[2012-01-20 16:35] wnm3 opened #1613 "maqetta.local.win.bat change for Windows 7"
I found I needed to edit the 2nd to last line so it would work in Windows 7.

The original line was:
FOR /F "tokens=_" %%R IN ('dir /b plugins\org.eclipse.equinox.launcher_.jar') DO SET EQUINOX=%%R

however, to get it to work for me, I replaced this line with the following (note: no quotes required):
FOR /R plugins %%R IN (org.eclipse.equinox.launcher*.jar) DO SET EQUINOX=%%~nR%%~xR

I'm using pre

[2012-01-20 16:49] wnm3 opened #1614 "Object selection in Outline, then on slider tacks on tooltip"
I have deeply nested objects so when using the outline I need to adjust what is visible by using the slider bars.  Unfortunately, if I've selected an object (not dragging, just clicked to highlight it) and then I click on the horizontal or vertical slider bar, it appears as though this triggers a "feature" as though the object is selected for drag/drop because a tooltip like box is attached to the

[2012-01-20 16:54] wnm3 opened #1615 "Switching display views loses Outline context"
Often, I want to copy portions of html (e.g., to add a new row in a table) but I'm in the Display Design mode.  If I have selected the row I want to copy in the outline (which may have required expanding several containers) and then I change the Display Source, or one of the Split views, the Outline window is collapsed to its highest level and I need to navigate again to the area where I was befor

[2012-01-20 17:01] wnm3 opened #1616 "Need space to drop objects if page exceeds browser height"
I am mocking up several title panes within a single html page.  If I've opened them all so their cumulative heights exceed the browser windows height (so a vertical scroll bar is produced), I can not scroll down far enough to drop a new Container below the bottom of the last TitlePane.  Dropping tends to put the new container into the last TitlePane rather than below it.  Is it possible to assume

[2012-01-20 17:10] JonFerraiolo commented on #1616
@peller

Yep, need to provide an answer for this.

[2012-01-20 17:12] JonFerraiolo commented on #1615
@waynevicknair - this one may to a village to get right since it involves coordination across various complex parts of the code.

@peller

[2012-01-20 17:13] JonFerraiolo commented on #1614
@peller

[2012-01-20 17:15] JonFerraiolo commented on #1613
@childsb, @jhpedemonte

I have a Windows7 box...

[2012-01-20 17:29] #1594 closed, assigned to billreed63

[2012-01-20 17:30] billreed63 commented on #1593
Fixed by above commits

[2012-01-20 17:30] #1593 closed, assigned to billreed63

[2012-01-20 18:16] jhpedemonte opened #1617 "Remove/replace dojo.require calls in DataGridHelper.js"
Found these in **DataGridHelper.js**:

[code]

We've moved on from using dojo.require, so these should be changed.  Or removed, if no longer necessary.

There may be other helpers/createTools in the Dojo lib that do the same thing...

---

Also **davinci.dojo/WebContent/metadata/dojox/mobile/ThemeHelper.js**.

---

And **ItemFileReadStoreHelper.js**, which has similar code to **DataGridHelper.js**

[2012-01-20 18:46] wnm3 opened #1618 "Deleting html file in Files when open in editor doesn't delete"
If I've opened a file in the editor (double click html file in Files) and then I select that file in Files and select Delete (X icon) it is removed from the list of files in the Files / WebContent (eclipse based project) but the file remains there even though the editor closes the file just deleted.  You can see this by opening another file and attempting to Save As to the name of the file just at

[2012-01-20 18:51] wnm3 commented on #845
How about an option to perform "Clean Up" which could remove unnecessary requires lines, and optionally might also perform some formatting to either allow the long html lines to be indented, or to compress with minimal white space (for publishing).

[2012-01-20 18:53] wnm3 commented on #554
If you open a file in Display Design mode and then switch to the Display Source mode, it also marks the editor "dirty" even though nothing was explicitly changed by the user.

[2012-01-20 19:28] billreed63 commented on #1617
This are required for the code to work..

[2012-01-20 19:48] JonFerraiolo opened #1619 "Fix dojo.forEach in dragMoveUpdate in Context.js"
@peller

Maybe use this:

[code]

…or better yet, the bind can be moved out of the forEach right up to the assignment

[2012-01-20 20:22] peller commented on #1617
...but they do need to be converted to use context.getGlobal().require() instead of dojo.require.  May be non-trivial, since the call will become asynchronous, and everything beyond the return of the method may need to use a callback or Deferred.

[2012-01-20 20:24] billreed63 opened #1620 "Logoff missing"
The log off link is missing from the menu bar

[2012-01-20 20:24] aerwin opened #1621 "Panel.js openDialog approach to layout should be improved"
The `davinci.libraries.html.html.HtmlSrcAttributeInput` class passes a definition to `davinci.ui.Panel.openDialog` consisting of a `tree` and two `textBox`'s. The resulting dialog created by the `Panel` has no vertical padding between the two text boxes (or between the last text box and the OK button). In addition, there's is a lot of extraneous space below the OK button.

This has become especial

[2012-01-20 20:27] aerwin commented on #398
@jhpedemonte opened #1621 for the options/unconstrained discussion.

[2012-01-20 21:03] aerwin opened #1622 "Don't hardcode attributes in HTMLModel.js"
Opening based on @jhpedemonte comment on **HTMLModel.js** in the review of this commit: [https://github.com/maqetta/maqetta/commit/513030772447082e4a8bfff5c8931a080d53bd9b]

[code]

[code]

[2012-01-20 21:10] aerwin opened #1623 "Investigate why comboEdit behaves differently than other widgets in WidgetProperties.js"
Opening based on @jhpedemonte comment on WidgetProperties.js in this commit: [https://github.com/maqetta/maqetta/commit/513030772447082e4a8bfff5c8931a080d53bd9b#L28R848]

[code]

[2012-01-20 21:33] aerwin commented on #398
@jhpedemonte @JonFerraiolo Made changes based review of previous commit. I'd appreciate it if you could review the latest. Hopefully, most of the issues have been addressed (and those that haven't been are associated with separately opened issues).

[2012-01-20 22:02] JonFerraiolo commented on #1620
Oops. I'll fix soon.

[2012-01-20 22:30] #1620 closed, assigned to JonFerraiolo

[2012-01-20 22:49] JonFerraiolo opened #1624 "Study all use of widget.attr"
@peller

Reminder bug to research all of the cases below where we are calling widget.attr. That method is deprecated (use get() and set() instead) and not available on _WidgetBase.

[code]

[2012-01-20 23:39] JonFerraiolo commented on #845
If my memory is correct, we clean up the list of requires when a file is opened in the page editor. So, if user opens and saves, then that particular aspect of the file gets cleaned up.

Regarding formatting, we  indeed need improvements and enhancements in that area. (@waynevicknair) See #1417 for part of the problem: widgets that use SPAN for their root notes get concatenated on same line now. B

[2012-01-20 23:42] JonFerraiolo commented on #1618
Is this a dupe of #1538?

[2012-01-21 00:56] JonFerraiolo opened #1625 "HTML <img> and <iframe> elements generate console error messages"
When adding an IMG or IFRAME element to a page, the following messages appear in console. Looks like the globalization file isn't available.

@jhpedemonte, @peller: did we make fixes to other widgets to prevent loading of nls (natural language system) files? Why is this widget generating messages when others don't?

[code]

[2012-01-21 15:27] wnm3 commented on #1618
Not really, it seems to be almost the opposite.  The problem I'm reporting is the file shows deleted in the Files list, but it has not been deleted and restarting Maqetta will show it is there, as will trying to save another file to the same name.  I'd thought the open editor was closed by the delete action (which contradicts the request in 1538), but I may have been wrong about the editor being c

[2012-01-23 02:55] jhpedemonte commented on #1617
Also **davinci.dojo/WebContent/metadata/dojox/mobile/ThemeHelper.js**.

[2012-01-23 17:58] waynevicknair commented on #1580
@childsb @jhpedemonte @JonFerraiolo

i propose we close this issue and move on if there is no further discussion.

[2012-01-23 18:00] waynevicknair commented on #1579
completed phase1 merge into core projects with commit 3fc12825c79372c228e5e92a8f055544d6210149

restored AMD changes to Runtime.js after merge with commit fd46d9153ed457fccb4689dafb8df635d099ac81

[2012-01-23 18:44] JonFerraiolo commented on #1580
yes, it does seem like "investigate" happened, so please close

[2012-01-23 21:56] wnm3 commented on #845
It would be nice if such cleansing did occur, but I've tested as you've suggested and there remain requires statements for items like these that have no corresponding widgets in the html:

require(["dijit/layout/TabContainer"]);
require(["dijit/layout/AccordionContainer"]);
require(["dojo/data/ItemFileReadStore"]);
require(["dijit/Tree"]);
require(["dojox/grid/TreeGrid"]);
...

[2012-01-23 22:32] JonFerraiolo commented on #845
@wnm3 is right, I was wrong, in Preview 4 we aren't cleaning up the `require` statements after widgets are deleted from the document. Maybe the old require removal logic was removed from the code or maybe the old require removal logic is only looking for dojo.require() and not require().

[2012-01-23 22:55] #1580 closed, assigned to waynevicknair

[2012-01-24 02:23] jhpedemonte commented on #1597
Follow-on commit by Jon: c211ea45476e22eb1e1b3331c5462c5f490654a0

[2012-01-24 16:55] aerwin commented on #1606
@waynevicknair @jhpedemonte @JonFerraiolo

The `html`, `js`, and `model` packages contain a number files that aren't entirely straightforward for AMD conversion. I've taken an initial stab at getting all of those those packages ready. But, since I'm a "newbie" and these packages are really in @waynevicknair 's domain, he was going to start with what I had and take on the remaining work for those p

[2012-01-24 17:04] JonFerraiolo opened #1626 "Missing REST call to setWorkbenchState after closing editor"
@peller

I wonder if this is a regression from AMD conversion. I haven't debugged into code to find out what's wrong.
- Open up Chrome debugger's network panel
- New HTML File
- Add a Button
- Save
- Clear network panel contents
- Click on "x" to close

Result=> There is only a network request to `removeWorkingCopy` but no network request to `setWorkbenchState`. If you try the same steps in the Pr

[2012-01-24 18:10] JonFerraiolo opened #1627 "Background image - can't manually enter value"
@childsb

background-image works fine if user brings up Background dialog and then clicks on button to bring up file picker, but doesn't work if user types in a value into text field on Properties palette or into text field on Background dialog.

[2012-01-24 19:43] aerwin opened #1628 "Can't create new HTML file"
With the last couple builds on http://macwayne2.austin.ibm.com/buildAdmin/index.php (installed locally), I get the following exception when trying to create a new HTML file. I'm using Chrome.

I think the offending line in VisualEditor is `var loc = Workbench.location();`, so perhaps related to recent AMD changes to `Workbench.js`?

[code]

[2012-01-24 21:16] JonFerraiolo commented on #1628
I verified what @aerwin is seeing by pulling down today's nightly build from maqetta.org/nightly. Looking in debugger, the parameters passed into the AMD function (matching the first 6 items in the dependency array) don't look right.

[2012-01-24 21:31] JonFerraiolo commented on #1628
Upon further exploration, I'm seeing that, in a build, the define() function in Context.js is getting called before the define() function in Workbench(), and I can see NewTheme.js as being involved in the stack. Note that NewTheme.js isn't yet converted to AMD.

[2012-01-24 22:16] JonFerraiolo opened #1629 "Red screen of death if Menubar has no dijit.Menu inside"
@billreed63

Priority-High to investigate. I realize this sort of bug (where dojo markup is not correctly specified) might be very difficult to fix.

Here is a file that causes red screen of death in Preview 4:

[code]

After investigation, the problem is that the PopupMenuBarItems do not have a dijit.Menu child element. If I change the two PopupMenuBarItem widgets to have an empty dijit.Menu chil

[2012-01-24 22:19] JonFerraiolo opened #1630 "Empty lines cause trouble for MenuBar SmartInput"
- New HTML File
- Add MenuBar
- Set SmartInput to:

[code]

(note blank line between Menu 1 and Menu 2)
- Doubleclick the MenuBar again to bring up Smartinput a second time.

Result=> Funky contents appear in SmartInput:

[code]

[2012-01-25 15:24] peller commented on #1629
Given the way Dijit works, I don't think it's feasible to do any sort of partial rendering.  I think what we have now is the right approach, but we could certainly make it friendlier (matching UI, helpful messages, etc.).  We should also try to separate the user content-driven exceptions, like this one, from internal exceptions in the product.  It's reasonable for the latter to continue to spawn s

[2012-01-25 15:24] billreed63 opened #1631 "Better error messages for GridX and JSONP"
Better error messages to the user when problems with remote service

For example if the remote service format is not what is expected.

[2012-01-25 15:37] peller commented on #1622
if we have type information on HTML elements, these are basically the ones which are 'boolean'  They require special treatment when serializing.

[2012-01-25 16:14] childsb opened #1632 "logging / investigate JVM heap space on server"
Add server logging and find tools to attach to JVM.  The heap is running out on maqetta.org with default heap settings.  Are we leaking?  Are file handles not being closed?

[2012-01-25 16:15] billreed63 opened #1633 "Performance and load testing"
Possibly use Rational Performance Tester to load duration test maqetta.

[2012-01-25 17:47] JonFerraiolo opened #1634 "Can't use absolutely positioned shapes with mobile UIs"
(Discovered during embarrassing moment in a demo)
- Create a new iPhone composition
- Add a View and a Heading
- Go into absolute positioning mode
- Drag/drop a circle, text, and arrow, then attempt to modify, save, close, reopen

Result=> the shapes sometimes jump into flow positioning

[2012-01-25 18:10] JonFerraiolo commented on #725
@aerwin, @billreed63 - reopening and temporarily set to Priority-High in case this feature is needed by @aerwin for his work on slider and other widgets

[2012-01-25 19:08] aerwin opened #1635 "Add widget-specific property to set innerHTML on tags like AUDIO, VIDEO, etc."
This is dependent on #725 owned by @JonFerraiolo. Once #725 is addressed I can do the work on these specific tags.

[2012-01-25 21:10] JonFerraiolo opened #1636 "Exception if putting a class on a Menu within MenuBar"
@peller
- New HTML File
- Add a MenuBar, enter these values:

[code]
- Click to select the "cc" entry in the MenuBar (this is a PopupMenuBarItem widget)
- In properties palette, enter "zzz" for class attribute

Result=> Exception at PopupMenuItem.js:18 within the guts of Dojo because this.popup.domNode is null.

I can imagine that fixing this might be complex. The user who ran into this bug had th

[2012-01-25 23:30] aerwin commented on #816
Ran the following by @peller this evening on ST, and he agreed to help me look at it tomorrow...

I suspect the issue with the outline (and maybe more likely the underlying model) is because `topDecoration` causes the element to be rendered above the slider at runtime. So, the runtime DOM doesn't really reflect the HTML structure.

For example, below I've set `topDecoration` on the HorizontalRuleL

[2012-01-26 00:15] aerwin commented on #816
@JonFerraiolo @jhpedemonte

Regarding usability for the designer trying to use horizontal/vertical sliders, I had some ST discussion with @JonFerraiolo this morning, but wanted to capture my latest thoughts below...

There are two companion elements to HorizontalSlider that can be added as children (HorizontalRule and HorizontalRuleLabels). I believe the typical case would be represented by someth

[2012-01-26 01:19] peller opened #1637 "Turn on async:true for Workbench"
@jhpedemonte

Turn on async loading mode for the Dojo loader running the Maqetta application.  Prerequisites include:
- convert all code to use AMD style define
- convert all uses of dojo["require"] in the code to require, and make sure code following the require dependent on the result goes through the callback

[2012-01-26 01:49] JonFerraiolo commented on #816
Here are some thoughts for consideration. I don't have great confidence in these suggestions. I expect we will continue to iterate.

One way to do would be to only support the 80/20 approach by defining pseudo properties that appear in the widget-specific section of props palette for h-slider and v-slider widgets, where the first half of the widget-specific section lists properties having to do wi

[2012-01-26 02:38] peller opened #1638 "remove davinci.ui.Panel code and dependencies"
@JonFerraiolo, @childsb, @jhpedemonte

This code seems unnecessarily complex.  Replace with simple, static UI

[2012-01-26 03:15] jhpedemonte commented on #1621
Perhaps adding a CSS file to properly style the content is all that is necessary.

[2012-01-26 12:54] aerwin commented on #816
Thanks for the thorough feedback! Yes, that's comprehensible. I think the last proposal has promise. Let me spend some time exploring that today.

[2012-01-26 13:31] aerwin commented on #1602
Maybe to put in different terms... This is really intended to add some smart input for these elements. For example, the smart input for SELECT could use a similar dialog to the one used for the Dojo widget DropDownSelect.

[2012-01-26 16:34] billreed63 opened #1639 "actionContainer is no longer used"
With the AMD change we have made `actionSet.actionsContainer` is no longer needed, In workbech.js we have the following code that loads the "ActionContaier" file.

[code]

Now each action is defined in it's own file not  in one big action container file...  So the code that loades the Action js is in workbench.js  But this code could be modified also to stop checking for action container before lo

[2012-01-26 16:55] JonFerraiolo opened #1640 "Widget palette: drag cursor not reset with drop"
@peller

Today's code shows a regression where if you drag/drop a Calendar out of widget palette, the drag image (a small icon representing the Calendar widget) doesn't go away upon dropping the Calendar.

Set to Priority-High because we must fix before shipping M5, but doesn't seem to affect other operation, so this isn't a drop-everything-else type of bug.

[2012-01-26 17:05] aerwin commented on #1625
I don't think this happens since #398 went in (at least it doesn't my my local dev environment). Been waiting to confirm in an official build, but that's still held up by #1628.

[2012-01-26 17:30] JonFerraiolo opened #1641 "Remove old, inactive accounts from maqetta.org"
Steps:
1. Archive the workspaces from the accounts that we will be deleting. We have an archival backup of the whole system run by our hosting servcie. For extra backup, we'll store a ZIP of old workspaces on a different server.
2. No notification to users about deleting the accounts. If someone actually had content of value that they discover down the road that they need, then they can post on ma

[2012-01-26 17:39] peller opened #1642 "build acme into layer"
Dojo has a special build option to include this file in a layer.  Right now, it's causing an extra web hit.

[2012-01-26 17:41] JonFerraiolo opened #1643 "Can't drag/drop IMG or IFRAME"
@peller

With latest code, if you drag/drop an IMG or IFRAME, you get the (most unhelpful) error dialog from CreateTool that says "The action was interrupted by an internal error.". When turning on "stop on all exceptions", the error happens in HtmlSrcAttributeInput.js:66 with an attempt to call `davinci.ui.Panel.openDialog()`

[2012-01-26 17:43] peller commented on #844
we now have an extra web hit for packages.json for each of these.  Would it make sense to inline the packages and/or widgets json into a single request?  The inlining could be optional such that it would still be possible to reference JSON on another server or cross-domain

[2012-01-26 17:56] JonFerraiolo commented on #844
Sounds like a great idea to me. I would go even further. I think we should batch all of the user-workspace-related startup web requests into a single request, all encompassed within a single JSON structure. This single request would return workbench settings (e.g., which editors are open), list of files in user workspace, everything associated with widget metadata (packages, widgets.json, and all

[2012-01-26 17:58] JonFerraiolo commented on #1625
Can't test with the latest code because I'm running into #1643

[2012-01-26 18:18] #1642 closed, assigned to peller

[2012-01-26 18:26] JonFerraiolo opened #1644 "SmartInput for fieldset shows legend text"
Low priority.

I think it would be helpful to users if upon initial drop of a fieldset element we presented simple SmartInput that allowed the user to define initial text for the legend element inside of fieldset. The SmartInput would need some extra helper logic to pull/push the legend text string from the markup (eg., dojo.query('legend')[0].innerHTML).

I would retain what happens now - fieldse

[2012-01-26 18:29] JonFerraiolo opened #1645 "Sticky note not bringing up RTE"
@childsb, @peller

Probably something broke during AMD conversions with sticky note widget. With latest code, if you click on the sticky note icon on toolbar or drag/drop a sticky note from widget palette, up comes regular-old SmartInput, not the dojo RTE.

Note: "Rich Text" widget works OK - dojo RTE comes up for that.

[2012-01-26 18:36] JonFerraiolo opened #1646 "Changing projects not working"
@peller

Probably something broke with AMD conversion.

WIth latest code, I can't switch projects.
- Virgin setup (remove users/, relaunch Eclipse server, clear browser cache, launch Maqetta in browser)
- Issue New Project command, set the new project name to "p2", click OK

Result=> screen refreshes, but we are still in default project (project1)
- In Files palette, choose "p2" from project menu

[2012-01-26 18:38] peller commented on #1628
this may be fixed.  in tomorrow's build, if the problem still occurs, capture an enumeration of the Workbench variable.

[2012-01-26 21:48] jdxpointe1 opened #1647 "Windows 7 64 bit - Problem with new HTML file not loading into WYSIWYG Editor View"
Windows 7 64 bit - Problem with new HTML file not loading into WYSIWYG Editor View. Spin turns indefinitely and visual content is never displayed. Using the 1/26/2012 build.

[2012-01-26 21:52] jdxpointe1 commented on #1647
Its a Local Maqetta installation.

Google Chrome
16.0.912.77 m

java version "1.6.0_23"
Java(TM) SE Runtime Environment (build 1.6.0_23-b05)
Java HotSpot(TM) 64-Bit Server VM (build 19.0-b09, mixed mode)

[2012-01-26 22:02] JonFerraiolo commented on #1647
(@jdxpointe1: sorry about broken nightly build. We are in the midst of major code changes that touch almost every file. The current code generally runs OK if you pull down all of the source code and run the product as a developer (launching from the Eclipse IDE), but the nightly builds are the result of "compiling" the code and we have some outstanding issues on that front that might take a few da

[2012-01-26 22:24] jdxpointe1 commented on #1647
Ah sorry to duplicate.. Thanks for the quick response and info. I will tune back in through the next few days for another build...

[2012-01-27 00:11] aerwin commented on #816
@peller

As for the outline issue we discussed this afternoon... after spending time in the debugger, the bottomline is I believe there is a bug (or design flaw) with `dijit.form.HorizontalSlider` that keeps its `getChildren` function from returning elements targeted for `topDecoration`.

From the template of `HorizontalSlider` you can see there are two main attach points. One is for `topDecoratio

[2012-01-27 06:00] jhpedemonte commented on #844
An idea I've brought up in the past is to create a script/utility to "build" the files in a library in a similar way to the Dojo builder -- minify JS/JSON & merge files into one or more "layer" files.

Many times it's better to have a few requests rather than a single large one;  parallel requests actually results in faster loading.

Is it wise to include _all_ of the OAM info into one file?  This

[2012-01-27 13:52] peller commented on #844
I think the servlet _is_ the utility to concatenate the JSON, the analog to a client-side build.  I think we should start with the no-brainers, combining all the tiny getMetaRoot requests and concatenating the widget/package requests which always occur in pairs.

[2012-01-27 15:05] peller commented on #816
Doug said that indeed the inner widgets get moved around at `startup()` time.  Following the strict meaning of `getChildren()` I guess it's doing the right thing, just not what we expect!  One could argue over what the proper behavior is, whether HorizontalSlider should override `getChildren`.  One option is for us to monkey-patch `getChildren`.  Another is to explore using `findWidget()` in dijit

[2012-01-27 15:53] JonFerraiolo commented on #816
@jhpedemonte

ScrollableView reparents its subnodes depending on various circumstances. We created some helper functions to deal with that. I don't remember the details, but I believe the way to go in this case is to define helper functions that provide an API to Maqetta that looks like Maqetta's view of the world and deal with widget-specific idiosyncracies under the hood.

[2012-01-27 16:37] JonFerraiolo commented on #844
Regarding "is it wise to include all of the OAM info into one file" and "parallel requests" - I'm not an expert in this area, but I'll guess that modern desktop browsers do a good job with parallel requests (so long as the async flag is on) but there isn't much real benefit from parallelizing, and my guess (instinctual) is that if you are using a mobile network 3G/4G particularly on iOS that the p

[2012-01-27 16:41] aerwin commented on #1628
Seems like it's worse after downloading the build this morning. Failing in a different place.

Uncaught TypeError: Object #<Object> has no method 'workbenchStateCustomPropGet'
require.cache.davinci/ui/widgets/NewHTMLFileOptions._1727.postCreatedavinci/davinci:33186
require.cache.dijit/_WidgetBase._288.createdijit/dijit:2704
require.cache.dijit/_WidgetBase._288.postscriptdijit/dijit:2676
adojo.js:2

[2012-01-27 16:44] peller commented on #1628
yup. the eval on the stack makes me nervous

[2012-01-27 18:33] peller commented on #1643
perhaps should we spit out the stack trace to the console.  The console.\* APIs don't seem to provide any help for logging exceptions.

[2012-01-27 18:45] billreed63 opened #1648 "theme set delete removes wrong themeset"
Setting -> theme sets

1) Add theme set and rename
2) add theme set and rename
3) Select a middle theme set and remove
4) click save button
5) reopen settings->theme sets

notice the wrong theme set was removed

[2012-01-27 20:25] aerwin commented on #816
Thanks @peller and @JonFerraiolo ! In the end, I took @JonFerraiolo 's suggestion to look at ScrollableViewHelper and I was able to create a HorizontalSpinnerHelper with my own getChildren function to solve the problem.

[2012-01-27 20:49] JonFerraiolo commented on #1471
Closing. Dupe of #1641

[2012-01-27 20:49] #1471 closed, assigned to JonFerraiolo

[2012-01-30 14:34] jhpedemonte commented on #816
The issue with `ScrollableView` had to do specifically with setting the `fixed` property on `Heading` (while in the presence of ScrollableView).  The fix I implemented was to support a declarative property which says that if the given property is changed, then refresh the whole VE iframe.  See `refreshFromSource` in _dojo_1_7/WebContent/metadata/widgets.json_.

Not sure if that will work with this

[2012-01-30 14:36] jhpedemonte commented on #844
Well, I don't know from the aspect of mobile, but I have seen several articles that say one large request takes longer than several smaller parallel requests.  We'll have to look to see if mobile follows the same pattern.

[2012-01-30 15:06] JonFerraiolo commented on #844
The article might have also been looking at conventional web server environments and not cloud-hosting servers such as Amazon EC2. What we found with EC2 during an experiment is that it had huge latencies, so bad that Maqetta was unusable because of all of our XHR requests. That was with syncXHR of course. But the experience made me battle-shy about multiple web requests when there is an opportuni

[2012-01-30 15:44] JonFerraiolo opened #1649 "Exception when switching desktop themes then SaveAs"
@childsb, @waynevicknair, @peller
- Clone claro to claro1
- Change global background to light green or whatever
- Save the theme
- Open Sample1.html
- Click on Switch theme button and change desktop theme from claro to claro1
- SaveAs to Sample1a.html

Result=> Dies with undefined `model` inside of the model code. Below is the stack trace.

[code]

[2012-01-30 15:47] JonFerraiolo opened #1650 "Can't clone mobile theme"
@childsb

Not working with latest code. Sorry, busy with other things and only logging this problem briefly.

[2012-01-30 15:50] jhpedemonte commented on #1650
This might be me.  After changes in helpers, I'm not sure if **ThemeHelper.js** is loaded correctly.  I'll take a look.

@billreed63

[2012-01-30 15:53] aerwin commented on #816
Yes, as part of the work I did last week, I started using the `refreshFromSource` property. And, I think I'm on pretty good shape here. Now, mainly need to finish the smart input work.

[2012-01-30 17:43] #1650 closed, assigned to jhpedemonte

[2012-01-30 19:32] billreed63 commented on #1649
The exception is in the model code, @waynevicknair  is converting that to AMD now so I will wait to see if this bug goes away when the model code is merged in to the master

[2012-01-30 20:40] billreed63 commented on #1645
The `dvwidget="html.stickynote"` is missing on the div widget that gets created,  I can't create a new Rich Text widget I get an exception in the StyleChangeCommand the ``define[divinci/vi/widget]` is not returning a widget object...

[2012-01-30 21:00] JonFerraiolo opened #1651 "[AMD regression] No eyeball in Outline view"
@childsb

[2012-01-31 09:50] ghost opened #1652 "Please Disable Terrible Helper Feature"
I'm learning Maqetta and have run into the absolutely most frustrating feature I could imagine.

When I go over the outline view and my mouse goes off the screen then comes back, there is a floating window that appears to represent the activation of a feature that will insert a piece of my tree into another part of my structure even though I'VE PRESSED NOTHING. And I can't make it go away most tim

[2012-01-31 13:32] peller commented on #1652
possibly related to #1532

[2012-01-31 14:12] peller commented on #1652
Hi milanchotai.  The tracker doesn't have a place to upload pictures.  You'd have to use something like skitch, flickr, etc.

What you're looking at sounds like the Dijit DnD UI, which is used by the outline Tree.  Does it look like [this](http://dojotoolkit.org/documentation/tutorials/1.6/store_driven_tree/images/dndTreeScreenshot.png)?  #1532 references a bug where the scrollbar causes the DnD U

[2012-01-31 14:25] #1651 closed, assigned to peller

[2012-01-31 15:32] peller commented on #1652
see also #1614

[2012-01-31 15:35] peller commented on #1614
see also #1532  There is an underlying Dojo DnD bug with the scrollbar.

[2012-01-31 16:46] ghost commented on #1652
Hi Peller,

Apologies for delay in response - yes, #1532 exactly describes my issue. Couldn't determine cause at first but noted it strangely seemed related to scrollbar on the outline view / tree. It is the DnD UI floating window. Luckily, I realized and have avoided additional issues of corruption by simply clicking when it indicates red / invalid node for drop. Clicking left mouse button when t

[2012-01-31 16:46] #1652 closed, assigned to nobody

[2012-01-31 17:46] JonFerraiolo commented on #1652
Adam's workaround is best thing to try, but if that doesn't work, I would expect another workaround would be to refresh the browser. Sort of a heavy-handed workaround, but browser refresh with Maqetta is somewhat equivalent to a reset button.

[2012-02-01 00:47] JonFerraiolo opened #1653 "Only snap when cursor is sufficiently close"
I already implemented this fix and stored in my private stash until code stabilizes after AMD conversion.

[2012-02-01 01:14] JonFerraiolo opened #1654 "Fix stale snap highlights"
Found a bug in snapping logic. While dragging, if you have a possible snap to widget A, then move away, widget A will stay highlighted in magenta. I have a fix off in private stash waiting for AMD conversion to stabilize.

[2012-02-01 16:22] JonFerraiolo opened #1655 "[AMD regression] SaveAs not working"
(Note: was able to reproduce 1 hour ago, but just did a git pull and nothing works right now, so I couldn't verify if this bug still exists.)

@childsb
- New HTML File
- Add a Button
- SaveAs to a different name

Results=> Hangs

[2012-02-01 16:25] JonFerraiolo opened #1656 "[AMD regression] New CSS file, New JS file broken"
(Note: was able to reproduce 1 hour ago, but just did a git pull and nothing works right now, so I couldn't verify if this bug still exists.)

@childsb
- New CSS File or New JavaScript File

Results=> Hangs

[2012-02-01 18:53] JonFerraiolo opened #1657 "Clean up ve/themeEditor/SelectTool.js"
@billreed63

Priority-High for M5 just to clean up onExtentChange, particularly the logic that invokes findClosest(), which I will likely get rid of soon.

Priority-Low for other cleanups.

[2012-02-01 19:09] waynevicknair commented on #1656
fix in commit 08ec9200e2f472ec4a363c6ac8e94510959f407a.

there were some unset variables resulting from AMD changes.

[2012-02-01 19:09] #1656 closed, assigned to waynevicknair

[2012-02-01 19:15] JonFerraiolo opened #1658 "Delete Trblbox.js"
@childsb

Trblbox.js doesn't seem to be used anymore.

[2012-02-01 20:04] JonFerraiolo opened #1659 "Clean up redundant shorthand lists"
@childsb @peller @jhpedemonte @waynevicknair

We have two lists of shorthands: CSSModel.js and ve/utils/CSSShortHand.js. Consolidate.

Priority-High because CSSModel list isn't working today after AMD changes. I'll fix that soon.

[2012-02-01 20:24] JonFerraiolo opened #1660 "CSSModel shorthand needs to be static, not instance-based"
The shorthand object defined in CSSModel.js is now on the instance object rather than statically defined. Previously, before the AMD conversion, the shorthand object was a global static object located at davinci.html.CSSModel.shorthand and is referenced as a global static object by _Widgets.js and Context.js.

To make it into a global status object, look at similar (and redundant, but that's a dif

[2012-02-01 20:24] #1645 closed, assigned to billreed63

[2012-02-01 20:46] waynevicknair commented on #1660
fixed in commit 6be8504ca1a047462bacba60085e103e4637561c. made CSSModel.shorthand static.

[2012-02-01 20:46] #1660 closed, assigned to waynevicknair

[2012-02-01 21:19] JonFerraiolo opened #1661 "No workbenchStates.settings file"
I haven't investigated this at all except that I noticed there isn't a `workbenchStates.settings` file when I run using the latest (post-AMD-conversion) code.

[2012-02-01 21:24] JonFerraiolo commented on #1661
Looks like the no-op version of `Workbench._updateWorkbenchState()` is getting called. Maybe a replacement/override version of that method has disappeared?

[2012-02-01 21:32] peller commented on #1628
fixing the circular dependency solved this problem

[2012-02-01 21:32] #1628 closed, assigned to peller

[2012-02-01 21:32] #1647 closed, assigned to peller

[2012-02-01 21:55] waynevicknair commented on #1655
fixed in commit 33f95c0a52bed07be7612dd3fdf25b3cbf0253d3.

there was a circular dependency in CSSImport.

[2012-02-01 21:55] #1655 closed, assigned to waynevicknair

[2012-02-01 21:58] JonFerraiolo commented on #1215
Here is a sketch of what needs to be done:

Focus.js:
- Remove `(doSnapLines || showCandidateParents)` from IF statement
- Pass proper value for `doCursor` to `dragMoveUpdate`
- Remove all references to _updateTarget

ChooseParent.js:
- In `findParentXY`:
  - Add new parameter `doCursor`
  - Need to update XYList from simple array of widgets to object {parent:, child-or-index):, before-or-after: }

[2012-02-01 23:19] JonFerraiolo opened #1662 "[AMD Regression] Switch themes icon not working"
@peller

This might be a well-known issue, but logging it just in case no one else has noticed.

If you click on the Switch Theme icon on the toolbar, the code dies at Theme.js:186 because the Workbench object doesn't include a getProject method.

Circular dependency:
- pagedesigner.html requires Workbench
- which requires NewTheme
- which requires Theme (and Workbench)
- which requires Workbench

[2012-02-01 23:34] JonFerraiolo opened #1663 "Orion exception when going into split view"
@waynevicknair

With latest code just pulled, if you go into split view following the steps below, you get this exception:

`orion/textview/textView:5551Uncaught TypeError: Cannot set property 'className' of null`
- New HTML File
- Add a Button
- Go to split view
- Change button label from "Button" to "aaa". (Notice that button's selection goes away, but that's a different bug)
- Go back to design

[2012-02-01 23:45] JonFerraiolo opened #1664 "[AMD Regression] Can't select widgets in Outline view"
@waynevicknair
- New HTML File
- Add Button and Calendar
- Try to select widgets in Outline palette

Result: Exception:

`TypeError davinci/workbench/ViewPart:40`

But above error doesn't seem right. If you turn on break on all exceptions, it dies at CSSEditor.js:57 with `model.elementType` undefined.

[2012-02-01 23:58] JonFerraiolo opened #1665 "Properties palette no cascade for custom theme"
@billreed63, @childsb, @waynevicknair

This bug exists in Preview4 and still exists in current code.
- Clone claro to claro2
- Set global background color to something else in theme editor
- Save claro2
- New HTML File
- Add a Button and Calendar
- Select Button and show cascade for background-color. (Notice there are multiple radio buttons)
- Switch theme to claro2
- Click away from Button to des

[2012-02-02 00:08] JonFerraiolo commented on #1664
Works for @peller and me now, closing

[2012-02-02 00:08] #1664 closed, assigned to peller

[2012-02-02 00:19] JonFerraiolo opened #1666 "Too many cookies, sometimes too large"
@childsb

When I looked at Chrome "under the hood" at my localhost cookies, there were about 70 cookies. I noticed this because I was testing "download entire workspace" and I was busting through the limit on web request size, causing download action to fail. When I removed all cookies, everything worked ok.

Unfortunately, I didn't save all of the cookies so that we could examine them, but I look

[2012-02-02 00:27] JonFerraiolo opened #1667 "Chrome: sometimes browser leaves blue selection rectangle"
(on chrome)
- New HTML File (no need to pick silhouette)
- Add View
- Add RoundRectList, accept SmartInput defaults
- double-click inside the RoundRectList
- Click ok without changing SmartInput values

Result=> canvas is covered with a lot of light blue

[2012-02-02 00:43] #1667 closed, assigned to JonFerraiolo

[2012-02-02 00:59] JonFerraiolo opened #1668 "Upload files not working"
The upload command on context menu of Files palette doesn't seem to be working. The dialog comes up but clicking on upload doesn't actually upload the files.

[2012-02-02 02:39] peller commented on #1666
how about running the preview on a different port to isolate it from the app?

[2012-02-02 02:41] JonFerraiolo opened #1669 "[AMD Regression] Properties palette Events - can't choose state name"
@childsb @peller @billreed63

With latest code, I tried to go through the desktop tutorial that teaches how to use states. When I got to the part about using the dropdown menus from Events palette, I got an exception at EventCommand.js:25 where the Widget object doesn't have any functions on it. Undoubtedly, yet another circular reference problem.

EventCommands is required by ve/States.js, requir

[2012-02-02 02:47] peller commented on #1662
looks like it's the Preferences reference, not the getProject one

[2012-02-02 02:49] #1662 closed, assigned to peller

[2012-02-02 03:20] JonFerraiolo commented on #1666
Adam and I did some research, such as examining the cookies that Maqetta creates and looking at http://www.quirksmode.org/js/cookies.html. 59 of the cookies were "davinci.user", but each with a different path (for all of the different folders that Maqetta might ever visit).

What Adam and I concluded is that the server should set the path on the davinci.user cookie so that there is one and only on

[2012-02-02 03:51] JonFerraiolo commented on #1669
The problem might be that StickyNoteAction.js hasn't been converted to AMD yet. Tracing through loading I see this, where `>` indicates the nesting of require() definitions (e.g., Workbench is required by States required by EventCommand etc) and `<` indicates the actual evaluation of the model logic

[code]

which shows that EventCommand gets evaluated before widget.js gets evaluated, so "Widget"

[2012-02-02 03:55] JonFerraiolo commented on #1669
@aerwin

[2012-02-02 14:31] waynevicknair commented on #43
changed this to a feature. sounds like we want to add general editing capabilities. i assume we would support arbitrary file editing, but still only model the three types we model today (HTML, JS, CSS).

[2012-02-02 14:41] JonFerraiolo commented on #43
yes. users should be able to do plain text editing on *.txt, *.xml, *.whatever

[2012-02-02 15:00] billreed63 commented on #1649
This issue is fixed in the latest code 2/2/2011

[2012-02-02 15:00] #1649 closed, assigned to billreed63

[2012-02-02 15:05] billreed63 commented on #1648
Seems to be working correctly now 2/2/2011

[2012-02-02 15:05] #1648 closed, assigned to billreed63

[2012-02-02 15:42] peller opened #1670 "decouple review code from davinci/Runtime"
There are 4 methods called from davinci/review:

These are all static methods, and merging them into davinci/Review results in pulling in additional code dependencies on davinci/review/\*  In order to keep our code lighter and to make it possible to defer loading, etc., let's decouple them.  The 4 methods can go back to a module in davinci/Review.  The `publish()` method probably isn't even needed

[2012-02-02 16:27] aerwin commented on #1606
@waynevicknair @jhpedemonte @JonFerraiolo @peller

Apparently, from the scrum today it appears @waynevicknair decided not to use this branch I pushed out early last week. So, I'll create a new branch with _just_ the `actions` package changes and merge those.

@peller You appear to have already reviewed the 2223a05a5c601d3aa3ad066e98ced4db6c36ab3a commit. You only had 2 comments and they were on th

[2012-02-02 18:08] peller commented on #1606
Go for it

[2012-02-02 18:16] JonFerraiolo opened #1671 "[AMD Regression] [Build] Exception first time adding a widget of a particular type"
I created a build about 30 minutes ago on macwayne2 and tried to run it, and found I get an exception the first time I attempt to add a widget of a particular type:

GET http://localhost:50000/maqetta/app/dojo/davinci.libraries.dojo.dijit.form.CheckBoxHelper.js?15eab01ed8b573a6a12199453819c07294b2fbbe 404 (ProxyServlet: /maqetta/app/dojo/davinci.libraries.dojo.dijit.form.CheckBoxHelper.js)

But th

[2012-02-02 18:30] JonFerraiolo opened #1672 "[AMD Regression] [Build] No SmartInput for dojox.mobile.RoundRectList"
(Works ok when running from Eclipse, only has problem when running a build)
- Pull down a build
- New HTML FIle - composition type = iphone
- Add View, Heading and RoundRectList

Result=> No SmartInput prompt for RoundRectList. (But you do get one for Heading)

@billreed63

[2012-02-02 18:44] JonFerraiolo opened #1673 "Merge propvieweffects.css into other CSS file?"
@peller asks: Was there a reason why propvieweffects.css can't be included from workbench.css?

@jonferraiolo responds: as an @import? The reason I put it into a separate file was because I was worried about performance. The internal logic has to traverse CSS rules and I didn't want to go through a thousand rules to find the one that needed to be modified. But perhaps that was silly. I'll log a bu

[2012-02-02 18:48] peller commented on #1672
works for me using 8e8af59130725d8b2eafe2af60533a532c8a5bda

[2012-02-02 18:57] JonFerraiolo commented on #1672
Verified with a new build, closing

[2012-02-02 18:57] #1672 closed, assigned to peller

[2012-02-02 19:07] JonFerraiolo opened #1674 "Can't drag out size for drawing tools"
Drag out an initial size for RoundedRect. Rect uses its default size instead of the new size.

[2012-02-02 19:10] JonFerraiolo opened #1675 "Can't drag out size for lines and arrows"
You can drag out an initial size for rectangles and circles but not lines and arrows.

[2012-02-02 19:23] JonFerraiolo opened #1676 "[BUILD] Circles, lines and arrows raise exception"
@jhpedemonte

Circles, lines and arrows are working when launching from Eclipse, but there is an exception when attempting to add these widgets using a build. It is dying at this line in DIjitWidget.js:

[code]

It looks like the first 2 parts are working OK, but the getObject(dijitWidget) isn't working.

(Note: fails when dijitWidget="shapes.Line" or "shapes.Circle" but works with "shapes.Rectang

[2012-02-02 19:46] JonFerraiolo commented on #1643
Seems to be fixed now

[2012-02-02 19:46] #1643 closed, assigned to childsb

[2012-02-02 19:47] JonFerraiolo commented on #1640
Seems to be fixed now.

[2012-02-02 19:47] #1640 closed, assigned to childsb

[2012-02-02 19:55] waynevicknair opened #1677 "Main Build Should Fail If the Dojo Build Phase Fails"
if there are errors reported during the dojo build, the entire build as a whole should fail. currently, the build invokes an external java program from ANT to run the dojo build. the external program needs to return failure code if the dojo build reports errors.

[2012-02-02 20:09] JonFerraiolo opened #1678 "[AMD Regression] Background dialog not working"

[2012-02-02 20:09] billreed63 commented on #1636
It looks like the root cause of this is that PopupMenuBarItemHelper does not have a getData() method.

dijit.PopupMenuBarItem is expecting a popup Menu (dijit.Menu), dijit.PopupMenuBarItem.pop. When we change the class on the PopupMenuBarItem we create a ModifyCommand and execute. ModifyCommand. execute does a widget.getData becouse the helper has no getData() the default is used which returns a d

[2012-02-02 20:29] peller commented on #1638
The four modules that seem to depend on this:

ui.plugin:
davinci/ui/ProjectPreferences

ve.plugin:
davinci/ve/prefs/HTMLEditPreferences

js.plugin:
davinci/js/ui/FormatOptions

davinci/ui/widgets/FileFieldDialog

If we can replace these with static or template-based UI, then we ought to be able to remove davinci/ui/Panel as well as davinci/workbench/PanelPreferencePane and the reference to davinc

[2012-02-02 20:54] #1678 closed, assigned to JonFerraiolo

[2012-02-02 20:55] JonFerraiolo commented on #1669
Working now. Closing.

[2012-02-02 20:55] #1669 closed, assigned to JonFerraiolo