[2012-05-22 20:01] childsb commented on #2333
CCin @JonFerraiolo @peller per @jhpedemonte

a little more on this bug--
i logged in as guest this morning to finish testing, and it brought up a review editor from the guest account i was testing with last night.  the editor showed a 500 error.

further investigating, the R&C editor was making a request for the old user id (who's workspace and snapshot no longer existed).  so i logged out, and lo

[2012-05-22 20:05] childsb commented on #2333
@aerwin

Some more info.....

This looks very related to R&C.....

As missing step #6 from above, if you open Sample1.html it will load properly from the childsb@us.ibm.com workspace.

[2012-05-22 20:39] billreed63 opened #2372 "Need a way to change *-compat.css files"
How are we going to handle theme changes for *-compat.css files

[2012-05-22 20:42] billreed63 opened #2373 "Patch for dojox.mobile._compat"
dojox.mobile._compat that I still need to create a patch to submit to dojo for 1.8
@peller

[2012-05-22 20:42] billreed63 commented on #2365
to get this to work with our delta themes this turned out to be way more work than I though..
I added a compatFiles to our mobile.theme files to point to the compat css files, it also required adding code to the theme helper to insert the compat-files in the head if we are running on a non webkit browser We still need to address how we allow users to change rules in the *-compat.css files.. #2372

[2012-05-22 21:36] aerwin opened #2374 "Support TRACK elements for AUDIO/VIDEO"
This is a spin-off from #1761...

At some point in the future, it would be nice to support TRACK child elements via Smart Input on AUDIO and VIDEO.

However, TRACK is not currently supported by any of the major browsers:

   http://www.w3schools.com/html5/tag_track.asp

So, this is really placeholder until some point in the future when TRACK gains more acceptance.

[2012-05-22 21:37] aerwin commented on #2368
Closing with above commit.

[2012-05-22 21:37] #2368 closed, assigned to aerwin

[2012-05-22 21:37] #2343 closed, assigned to billreed63

[2012-05-22 21:41] aerwin commented on #1761
Moved back into M6 since we were re-doing smart input for AUDIO and VIDEO under #2368. Closing with above commits (1dee76824673f9383e2ebf70c52591e6721acfda & 222b602aab52aebca2fb875be84e87c185f017e4).

These changes added SOURCE support. TRACK is not supported by any of the major browsers, so a separate issue was opened for that as a future enhancement (#2374).

[2012-05-22 21:41] #1761 closed, assigned to aerwin

[2012-05-22 21:45] #2194 closed, assigned to billreed63

[2012-05-22 21:45] #2356 closed, assigned to jhpedemonte

[2012-05-22 21:45] #2357 closed, assigned to jhpedemonte

[2012-05-22 21:51] doronrosenberg commented on #2359
Having trouble reproducing this today

[2012-05-22 22:05] doronrosenberg opened #2375 "Can't add div infront of label"
Drop a label into an empty page, try to add a div before it:

[code]

[2012-05-22 22:13] billreed63 commented on #2342
The wrong rule is being selected by cascade.js

[2012-05-22 22:17] JonFerraiolo opened #2376 "Should remove mobile themes if no mobile widgets"
Today, I added a new routine `Context.js:widgetAddedOrDeleted()` which sees if there are any dojox.mobile widgets in the document, and then either includes or excludes `document.css` in the HEAD (for both the model and the canvas DOM).

We need to enhance that routine to also include/remove the mobile theme CSS files.

The way things stand today, if you add djits, then add a dojox.mobile widget, t

[2012-05-22 22:22] JonFerraiolo opened #2377 "Less hard-coded approach for including/excluding document.css"
We have a number of hard-coded things in the code. This is yet another.

In routine `Context.js:widgetAddedOrDeleted()` we have hard-coded various dojo-specific rules and hard-coded strings, and clearly we need a cleaner approach to coding a solution.

One idea is to somehow put this document.css logic into a library helper function or a theme helper function, thereby moving it out of the core and

[2012-05-22 22:26] JonFerraiolo opened #2378 "Need to (dynamically) model document.css"
I added `Context.js:widgetAddedOrDeleted()` which adds or deletes document.css based on whether there are any dojox.mobile widgets on the page.

I'm 98% sure that document.css isn't included in our model. We need to include document.css in the model so that it's rules appear in the Properties palette.

[2012-05-22 22:49] JonFerraiolo opened #2379 "Remove allowedChildren=ANY on html.label?"
In this commit (https://github.com/maqetta/maqetta/commit/25f293348fe4a6bbd022560ad05c4e215abe1510), @billreed63 added widgets for b, i, u, s, etc, but also set `allowedChildren=ANY` on html.label. Was there a reason for this change? I think we want to use the default (ie NONE) for html.label so that if users drag/drop things on top of near the label, they will get a sibling widget rather than a c

[2012-05-22 22:51] JonFerraiolo commented on #2375
Setting this to M6 High to make sure we investigate.

I tried to reproduce and couldn't. What browser/platform? Split view or design view? How quickly did you perform the operation (e.g., quick drag/drop, or did you hover and wait for type-in cursor to appear)? What commit were you using (there has been a recent change to metadata for label - see #2379).

[2012-05-22 23:01] JonFerraiolo opened #2380 "Firefox: Arrow icon for RoundRectList moveTo doesn't show in page designer"
Running Mac/Firefox using commit 12d1d3f44f15f45... which is later than commit a8a72dd580
- New HTML page - iphone
- Add two ScrollableView's (ScrollableView_0 and ScrollableView_1)
- Switch to ScrollableView_0
- Add a RoundRectList and accept defaults
- Select first ListItem and in widget-specific properties set 'moveTo' to ScrollableView_1

Result-> No arrow appears in page editor. However, does

[2012-05-22 23:11] JonFerraiolo commented on #2367
Yes it is still my preference, but obviously we are very late in the M6 cycle. I am seeing that users do a lot of source viewing and editing, so it's better to leave the data stores right in front the of the widgets that use the data stores.

If we can switch to dojo.mvc, this all might become moot, at least in some cases.

[2012-05-22 23:16] JonFerraiolo commented on #2365
Reopening - see #2380 - but maybe we don't need 2 bugs for this issue.

[2012-05-22 23:45] doronrosenberg commented on #2375
Seeing this with latest code, Firefox and Chrome - also on lab9
- New file
- Drag and drop a label.  Click cancel on smart input
- Now drag and drop a div to the left of the label - it does insert it as a child of the div, and throws the js error

[2012-05-23 01:30] JonFerraiolo opened #2381 "Cleaner solution for document.css in theme editors"
Right now, the theme editors always try to load `document.css` from the base folder for the base font (eg themes/claro/document.css). For desktop themes, we include document.css, but we don't for mobile themes. So, it sort of works for M6.

But we need a cleaner solution, perhaps adding an additional flag in the *.theme files.

(Note: I didn't just add document.css to the list of theme css files b

[2012-05-23 01:31] JonFerraiolo commented on #2381
Look for #2381 in VisualThemeEditor.js

[2012-05-23 06:01] aerwin opened #2382 "Add test case for sliders"

[2012-05-23 06:10] aerwin commented on #2382
Closing with above commit.

[2012-05-23 06:10] #2382 closed, assigned to aerwin

[2012-05-23 12:51] #2379 closed, assigned to billreed63

[2012-05-23 13:59] #2365 closed, assigned to billreed63

[2012-05-23 14:09] billreed63 opened #2383 "Proposed delta CSS rule are missing from cascade in page editor"
Clone custom -> c1
create mobile page change theme to c1
DnD head
try to change background color the Proposed rule is missng for delta rule

[2012-05-23 14:12] jhpedemonte opened #2384 "listVersions 500 server error"
Trying to recreate Brad's scenario from #2333, I logged in as a guest and on load, got an error in the JS and server consoles:

[code]

This is with the latest successful build from this morning (up to commit 3f23ce36b9c376d148d4854d14874bc6f5a49b58).

[2012-05-23 14:24] #2383 closed, assigned to billreed63

[2012-05-23 14:35] aerwin opened #2385 "Migrate GridX config dialog to resizable one (when available)"
Once #2182 is complete, `GridWizardInput` should be updated to create the new resizable dialog rather than `dijit.Dialog`. In addition, need to ensure layout of all panels works well when user resizes the dialog.

[2012-05-23 14:42] aerwin opened #2386 "GridX wizard: Add some sort of wait indicator when retrieving data from JSONP data sourse"
For example, if I choose a JSONP data source on first panel of the GridX wizard and click Next, then there could be a noticeable delay before the 2nd panel (for choosing columns) can be populated.

[2012-05-23 14:42] childsb commented on #2384
i suspect this is the same issue as #2333

[2012-05-23 14:45] aerwin commented on #1631
Updating title to reflect GridX as opposed to DataGrid.

[2012-05-23 15:14] #2015 closed, assigned to peller

[2012-05-23 15:24] doronrosenberg commented on #2375
fixed now

[2012-05-23 15:24] #2375 closed, assigned to JonFerraiolo

[2012-05-23 16:29] billreed63 commented on #2342
fixed by 6435b25a69a4e3f74ad2aa8dc6113d8ea70a6c7b

[2012-05-23 16:29] #2342 closed, assigned to billreed63

[2012-05-23 18:09] JonFerraiolo opened #2387 "Can make design view appear when in source-only view"
- Open Sample1.html
- Go to source view
- Pull on splitter that separate left-side palettes from the canvas, and pull to the left

Result=> Design view appears to the left of source view

I think the design/source/split logic is in PageEditor.js and isn't all that complicated. I believe we are using sizing tricks to make source view appear, whereas we should probably hide or remove the ContentPane

[2012-05-23 18:15] peller commented on #2387
see #2077

[2012-05-23 18:22] aerwin opened #2388 "Button has wrong background"
A little bit of a weird one.... was working with FF on Mac on the first section of the Properties Palette 3 test scenarios...

Everything seemed to be ok until I saved and reopened my file. I was sure my button was red when I closed the file and indeed the properties palette says "red" after reopening the page, but it's not rendered red in the page.

![GitHub Logo](http://i.imgur.com/Oa9ON.png)

P

[2012-05-23 18:24] JonFerraiolo opened #2389 "editFocus wrong when using both horiz and vert slider"
Saw this on both Win/Chrome and Mac/Chrome. Haven't tested other browser.
- New HTML file - hi-fi page
- Add a horizontal slider, then add a vertical slider
- Move mouse around various parts of vertical slider

Result=> the faint gray editFocus box gets the wrong size and wrong placement

Note: there is a chance that changes I made in past week or so to _Tool.js might have caused problems, but I d

[2012-05-23 18:26] aerwin commented on #2388
Raising severity to high after noticing styling is now messed up in all of my files. For example, see calendar in this new HTML file:

![Screenshot](http://i.imgur.com/6eQa2.png)

[2012-05-23 18:30] JonFerraiolo commented on #2387
Closing as dupe of #2077

[2012-05-23 18:30] #2387 closed, assigned to doronrosenberg

[2012-05-23 18:30] JonFerraiolo commented on #2077
I think the design/source/split logic is in PageEditor.js and isn't all that complicated. I believe we are using sizing tricks to make source view appear, whereas we should probably hide or remove the ContentPane for design view when source view is active.

I actually played around with PageEditor.js when chasing down something else, but didn't commit my changes. As I remember, there are some curi

[2012-05-23 18:32] jhpedemonte commented on #2388
-> @billreed63
cc @JonFerraiolo

[2012-05-23 18:35] aerwin opened #2390 "Do custom build for GridX"
@peller pointed out that the number of css and JS files in GridX is worrisome from a performance perspective. He says:

[2012-05-23 18:38] peller commented on #2390
one problem with this is that gridx is not self-sufficient.  A gridx layer would depend on the dijit.js layer, also dojo.js which are built in separate plugins.  This is like the problem we had with R&C.

[2012-05-23 18:43] peller commented on #2077
Yes, in the bordercontainer layout, 'center' is defined as taking over free space, while the sides are fixed.  An arbitrary choice was made to make one of these center.  The bug could be fixed by dynamically swapping the region properties, if bordercontainer will allow it.  Otherwise, we'd probably have to re-construct the panels on the fly when a single panel is displayed, such that it is the 'ce

[2012-05-23 18:53] doronrosenberg opened #2391 "Tabbar - button labels are too lon"

[2012-05-23 18:54] #2391 closed, assigned to doronrosenberg

[2012-05-23 19:14] aerwin opened #2392 "HTML fieldset renders incorrectly (because of document.css)"
Working through "&lt;fieldset&gt;and &lt;input&gt;" section of Widgets: HTML test case, the fieldset is not rendering correctly. Inspecting the element in the developer tools, it looks like document.css overrides the settings for fieldset to turn off the border:

![inspect element](http://i.imgur.com/j2jyL.png)

[2012-05-23 19:23] aerwin commented on #2392
So, final result of test scenario looks like:

![screenshot](http://i.imgur.com/R7dm2.png)

instead of:

![screenshot](http://i.imgur.com/XbtIW.png)

[2012-05-23 19:58] JonFerraiolo commented on #2077
I played around and I found a way to swap source and design as the center pane. I don't remember exactly what I did, but I managed to get it working (without huge flashes). I'll look to see if I have a branch or stash with these changes.

_UPDATE_: sorry, I looked around and couldn't find any of my old code.

[2012-05-23 20:11] jhpedemonte commented on #2392
-> @JonFerraiolo

[2012-05-23 20:36] JonFerraiolo commented on #2392
Closing this.

We had the same behavior in Preview 5 once the first Dojo widget was added. The first Dojo widget caused the claro theme and dojo.css to get added to the page. Now with Preview 6, we include document.css (pretty much equivalent to dojo.css) at document creation time. So, the only difference is in the case where a user doesn't use any Dojo widgets, which I suspect won't happen very o

[2012-05-23 20:41] aerwin commented on #2392
@JonFerraiolo Ok, then do we want to remove fieldset from the palette? It's really pretty worthless as it is now with the style overrides.

[2012-05-23 20:45] aerwin commented on #2392
Or, maybe in the metadata for fieldset, I initialize style to "border:2px groove threedface;" to compensate for dojo overriding fieldset globally?

[2012-05-23 21:12] childsb commented on #2384
Really fixed in commit fa58fe5d49570eca03381174182bf6b3b52504f9

The problem occurred when guest users invited real users to a review.  Later when the guest users are removed, the real user still existed.  The guest users reviews were indexed for the real user, but didn't actually exist.

[2012-05-23 21:12] #2384 closed, assigned to childsb

[2012-05-23 21:35] JonFerraiolo opened #2393 "I saw a loadingDiv.parentNode is null console message"
I had 4 html editors open and I did a refresh (using Win/FF) and I saw this message as various editors were initializing:

TypeError: this.loadingDiv.parentNode is null.

Looking at the code, I suspect this is happening at VisualEditor.js:393 because there are only two lines of code with this.loadingDiv.parentNode and the other one is bracketed by an `if (this.loadingDiv.parentNode) {` statement.

[2012-05-23 21:54] peller commented on #2393
was unable to reproduce this in FF for either type of editor, but I will add the statement

[2012-05-23 21:56] doronrosenberg opened #2394 "Non-resizable widgets still have resize-cursors"
Drag a dijit button.  Note that while you can't resize it, the resize cursor still shows up on the selection box.

[2012-05-23 22:02] JonFerraiolo commented on #2392
yes, that sounds like a reasonable solution

[2012-05-23 22:18] #2393 closed, assigned to peller

[2012-05-23 22:26] doronrosenberg opened #2395 "Changing any style in non-Normal state isn't reflected in the theme editor for Textbox font color"
- Clone Claro.
- Change the TextBox style in Normal to red font color
- Switch to Hover, change the textbox font color to green

The "hover" textbox shown is still showing a red font color.  Same happens if you go and create a page with the theme and preview it.

Same for disabled, which is easier to test.  Here is a generated myclaro.css:

[code]

Everything not in normal mode uses `.dijitButtonN

[2012-05-23 22:44] JonFerraiolo commented on #2395
I haven't had time to study this to see how serious of a problem it is for M6.

[2012-05-23 22:48] JonFerraiolo commented on #2394
Note that the nobs don't show for Button, it's just that when the mouse is over an edge of the selection chrome, it looks like the widget is resizable.

[2012-05-24 00:04] JonFerraiolo opened #2396 "Better default width/height for grids, trees and tables"
@aerwin, @billreed63, @doronrosenberg

Right now Tree and gridx default to a particular size (e.g., 300px x 300px). This doesn't work particularly well in flow layout, where it seems to me most of the time users would want width:100% for these widgets. Scenarios where the current defaults don't produce particularly good results:
- It's common for people to put a Tree in the left pane of a BorderCo

[2012-05-24 00:10] JonFerraiolo opened #2397 "gridx - height:auto doesn't do anything"
I tried to set height to `auto` on a gridx widget and nothing happened. An interior widget has height:275px. I am pretty sure we are calling the resize() method whenever a property changes (search for `resize` in StyleCommand), but for some reason the gridx widget isn't updating the sizes on interior nodes.

[2012-05-24 01:49] aerwin commented on #2392
Closing with above commit.

[2012-05-24 01:49] #2392 closed, assigned to aerwin

[2012-05-24 02:37] jhpedemonte opened #2398 ""Error modifying value" when changing button width w/ cloned theme"
From testplan **Properties 4 > CSS cascade features**.

After cloning the **claro** theme and setting it as the theme on the page, I attempted to change the width of the **Button**.

But I got the same **Error Modifying Value** error dialog, saying I'm trying to update a read-only theme.  However, I clearly set it up to use my cloned theme.

Then I found I had to go into the cascade and select the

[2012-05-24 13:12] JonFerraiolo commented on #2398
Hope it's OK, but I've pushed to M7 High and assigned to me.

I don't think this is a hugely used feature by our users (i.e., attempted to modify a cloned theme in page editor) and there is a workaround, and I fear that we might break other things if we attempt to change the logic at this point. From what I've seen, anyway, if users want to change theme styling in the page editor, they tend to go

[2012-05-24 13:17] #2388 closed, assigned to billreed63

[2012-05-24 13:17] JonFerraiolo commented on #2328
See #2398

[2012-05-24 13:38] billreed63 commented on #2372
I think we should create -moz css properties in the base css files for FF and leave the compat for IE witch we currently do not support

[2012-05-24 13:40] billreed63 commented on #2380
I have reverted the code to not add the *-compat.css files for FF as @JonFerraiolo requested. We will solve this problem in m7 with issue #2372

[2012-05-24 14:23] billreed63 commented on #2395
claro.css has changed from preview 5, in preview 5 the font color for text box was

[code]

In preview 6 the font color has moved to

[code]

And no rule exists for .claro  textBoxHover claro .dijitInputInner

[2012-05-24 14:52] aerwin commented on #2396
Looking through the metadata to find widgets where an initial size is specified, I don't think this is limited to grids & trees. I see the following that could benefit from similar logic. This makes me wonder if we need to handle this at a higher-level than pushing off to helpers (especially given the number of widgets in list that don't currently have a helper at all):
- davinci.dojo_1_7
  - Acco

[2012-05-24 14:56] childsb commented on #2398
dupe of #2369

[2012-05-24 14:57] JonFerraiolo commented on #2396
Good job doing an inventory. Given the above, yes, maybe we need to add new metadata to cover this situation.

[2012-05-24 15:01] billreed63 commented on #2380
closed with above commit

[2012-05-24 15:01] #2380 closed, assigned to billreed63

[2012-05-24 15:04] JonFerraiolo commented on #2347
Checked in yesterday

[2012-05-24 15:04] #2347 closed, assigned to JonFerraiolo

[2012-05-24 15:06] #2333 closed, assigned to jhpedemonte

[2012-05-24 15:12] jhpedemonte commented on #2359
-> M7

[2012-05-24 15:49] #2395 closed, assigned to billreed63

[2012-05-24 16:17] #2352 closed, assigned to jhpedemonte

[2012-05-24 16:17] jhpedemonte commented on #2114
-> M7

[2012-05-24 16:25] aerwin commented on #2389
Reopening... I think @billreed63 's commit (a00f20392ed3f60be7976674b9724d9b91910d15) was for another problem.

[2012-05-24 16:40] aerwin opened #2399 "Tree doesn't look right"
1. Create HTML file
2. Drop Tree onto page editor, and see rendering below:

![tree 1](http://i.imgur.com/iQBYv.png)

Also, see this error message in console:

[code]

Tree should look like (from Preview 5):

![tree 2](http://i.imgur.com/JYzud.png)

[2012-05-24 17:01] jhpedemonte commented on #2399
cc @billreed63 @JonFerraiolo

Bill, is this related to any of the additions of images you've been doing for the themes?

Also, seems odd that the URL is looking for the _icons_ dir right off of the project directory, rather than from a themes dir.

[2012-05-24 17:03] JonFerraiolo commented on #2399
-> M6 High. Ship stopper. I suspect the problem here is that we upgraded to the latest claro.css, and the Dojo guys moved location for some of the icons used by the theme.

[2012-05-24 17:05] JonFerraiolo commented on #2399
I suspect that the dojo folks moved some shared icons out of the themes and are referencing icons found in ./dijit/icons, under assumption that the themes/ folder is at a particular location relative to the ./dijit/icons folder but of course we have the themes folder in a different location

[2012-05-24 17:11] JonFerraiolo commented on #2399
Here is my proposal:
- For M7, we coordinate with Dojo guys and see if they will revert to the previous approach where themes were all self-contained and didn't depend on being in a particular location relative to the rest of Dojo (and don't reference `../../` files)
- For M6, we hand-edit claro.css and sketch.css and globally replace `../../icons/images/` with `icons/images/`

[2012-05-24 17:12] JonFerraiolo commented on #2399
Just tried out this fix, and the missing Tree icons appear again.

[2012-05-24 17:20] jhpedemonte opened #2400 "404 for document.css when opening migrated theme"
Opened up a theme migrated from an M5 workspace and got a 404 error trying to load:

[code]

@billreed63

[2012-05-24 17:25] JonFerraiolo commented on #2399
OK, I patched things so that Tree and other widgets will show their icons properly, and pushing this issue to M7 for a real solution. As @billreed63 says: I think for M7  now that we are using delta themes we should be able to leave the claro theme where it is in dojo  and in our themes/claro.css just have an @import of the real theme

[2012-05-24 17:31] JonFerraiolo commented on #2400
One possible solution is to install document.css into any custom desktop themes (but not mobile themes). But I wouldn't bother. Only problem is that document.css doesn't load and claro-based themes will have font sizes that are too big. (But maybe not if they were including dojo.css in their HTML files) (BTW - we already have such a harmless 404 error in M6 with mobile themes.)

I'm really skeptic

[2012-05-24 17:38] peller commented on #2400
the error is harmless, right?

[2012-05-24 17:38] billreed63 opened #2401 "Bad things happen if user deletes app.css"
If user deletes app.css then trys to add rule for a class

[code]

[2012-05-24 17:52] JonFerraiolo commented on #2400
yes, the 404 is harmless.

[2012-05-24 17:53] JonFerraiolo commented on #2400
Incidentally, I tried to edit one of my migrated themes from M5 and theme editor in some cases will generate an exception and in other cases no exceptions but changing properties doesn't actually do anything. Goes to show that migrated themes are really not all that viable.

[2012-05-24 17:54] billreed63 opened #2402 "404 on migrated file /project1/maqetta/maqetta.js in preview"
When I attemp to preview a file that was created in preview 5 I get 404 for states

[code]

[code]

[2012-05-24 17:57] billreed63 commented on #2402
The states still seem to work so this may not be a big deal

[2012-05-24 18:13] billreed63 opened #2403 "theme editor should check version of theme before opening"
If the user attempts to edit a theme that was cloned on preview 5 the theme can be messed up.

We should not open the theme editor if the theme file is down level. suggest that the user clone the them and edit that version

[2012-05-24 18:20] jhpedemonte commented on #2403
How big of an issue is this for M6?  At this point, I'd prefer to push this to M7.

@JonFerraiolo

[2012-05-24 18:21] jhpedemonte commented on #2402
@peller

Yes, this is to be expected.  However, we add in the new "maqetta" lib files and therefore states continue to work.  Closing this as working as expected.

[2012-05-24 18:21] #2402 closed, assigned to nobody

[2012-05-24 18:24] jhpedemonte commented on #2400
So should we do anything for M6?  Load a dialog saying that the theme was created with a previous version and therefore may not work well with the current theme editor?

What about post-1.0?  We'll need to have a strategy for handling migration of themes -- we can't always tell users to recreate their themes for each new release.

[2012-05-24 18:25] jhpedemonte commented on #2401
@peller @JonFerraiolo

Two options:
1. Don't allow users to delete **app.css**.
2. Change our code to not assume that **app.css** exists.

I prefer (2).

[2012-05-24 18:27] jhpedemonte commented on #2399
Yes, I like Bill's proposal.  It seems like every release we have to update/recopy files for the themes, based on changes in the library.  If we can just point to the actual files rather than copying them, that would help us greatly with maintainability.

[2012-05-24 18:27] JonFerraiolo commented on #2401
Yes, option 2 is the way to go

[2012-05-24 18:29] JonFerraiolo commented on #2403
If the fix is quick and safe, I'd prefer fixing it, but I'm not that strong on that point. I understand the benefit/risk ratio isn't compelling.

[2012-05-24 18:34] aerwin opened #2404 "Clone mobile theme puts error message in console"
1. Clone mobile theme
2. Theme gets cloned, but note error in JS console (the path is always specific to whatever theme was cloned).

[code]

[2012-05-24 18:40] JonFerraiolo commented on #2404
Closing. That 404 is expected for M6 and is harmless. We have a cleanup bug for M7 to prevent the 404.

[2012-05-24 18:40] #2404 closed, assigned to nobody

[2012-05-24 18:46] aerwin opened #2405 "Regularly corrupting mobile theme"
I don't know if this is related to #2404 I just opened, but this one is kind of bad...
1. Clone theme (say android)
2. Select Global Styling widget and change background to linear gradient (e.g., 2 stops white to black)
3. Background does not get updated
4. Save and close theme
5. Reopen theme and it's corrupted:

![screenshot](http://i.imgur.com/ThseX.png)

[2012-05-24 18:47] jhpedemonte commented on #2405
cc @JonFerraiolo

[2012-05-24 18:47] aerwin commented on #2405
And, also, seemed kind of specific to linear gradient... e.g., with freshly cloned theme if I change background to "red" the change appears in the rendering and saving/reopening the file works fine.

[2012-05-24 18:59] aerwin commented on #2405
Ok... this seems bigger as I play with it more... e.g., not sure you even have to set a property to corrupt things. I had found a couple of font properties (font-weight and font-style) that were being ignored like background linear gradient, and then seeing corruption.

But, then as I played with it some more, I think the corruption occurs if you just open and close the same cloned theme a couple

[2012-05-24 18:59] aerwin commented on #2405
Changing title to "Regularly corrupting mobile theme".

[2012-05-24 19:01] JonFerraiolo commented on #2405
I can reproduce.

[2012-05-24 19:09] aerwin commented on #2405
Gets weirder... if I create a new HTML file using one of the themes I thought was corrupted, the rendering of the HTML page seems fine. Also, in some cases reopening what I thought was a corrupted theme in the theme editor also sometimes starts working.

[2012-05-24 19:26] aerwin opened #2406 "Some properties in mobile theme editor appear to have no affect"
Not sure if related to #2405 or not, but here are a few properties I've seen in the mobile theme editor that don't seem to take effect when changed in the properties palette:
- Global Styling
  - Page background and fonts
    - backgrounds with gradients (changing to a flat color like "red" appears to work)
    - font-weight, font-style, text-decoration, and maybe more (font size and color appear

[2012-05-24 19:39] #2403 closed, assigned to billreed63

[2012-05-24 19:46] aerwin opened #2407 "Mobile subwidget styling: list item rendering different in theme editor and page editor"
Not sure this is terribly pervasive across any other properties, but in editing the android theme, I changed `text-decoration` on the RoundRectList ListItem to "strikethrough". It didn't render in the theme editor, so I assumed it wasn't a valid change to make:

![screenshot](http://i.imgur.com/3UNQA.png)

But, in the page editor rendering, I see the strikethrough:

![screenshot](http://i.imgur.co

[2012-05-24 19:58] billreed63 commented on #2405
I am not sure what we are looking at here:

The "corruption" in the picture at the top is due to the themes not loading from the server, if you refresh your browser does the theme get updated?

A lot of properties are vot valid for a specfic widget/subwidget/state. we have an ope issue to address this #226

[2012-05-24 20:05] aerwin commented on #2405
Like I said an hour ago:

[2012-05-24 20:09] aerwin commented on #2405
So, I guess we can chalk it up to sometimes download being really slow (though I'm not sure I ever saw it all  just pop in eventually after initially appearing "corrupt") But, from a UX perspective I thought things were really broken (especially when coupled with #226).

[2012-05-24 20:10] aerwin commented on #2406
So, I think @billreed63 would say we can close this based on #226. So, closing.

[2012-05-24 20:10] #2406 closed, assigned to nobody

[2012-05-24 20:22] JonFerraiolo commented on #2405
Looks like it isn't a timing/network issue but instead a theme metadata issue. We hope a fix will arrive shortly.

[2012-05-24 20:24] JonFerraiolo commented on #2120
Docs have been updated.

[2012-05-24 20:24] #2120 closed, assigned to JonFerraiolo

[2012-05-24 20:26] jhpedemonte commented on #2407
-> M7

[2012-05-24 20:34] billreed63 commented on #2405
missing metadate for mblView fixed by above commit

[2012-05-24 20:34] #2405 closed, assigned to billreed63

[2012-05-24 20:50] JonFerraiolo opened #2408 "Versioning/migration strategy for themes for 1.0+"
We need a versioning and migration strategy for custom themes for our 1.0 release. Once we get to 1.0, we can't tell users their custom themes have to be tossed away.

Although maybe we can tie custom themes to particular library releases. For example, if you create a custom theme for dojo 1.8, future versions of maqetta will provide backwards compatibiliy for dojo 1.8, but if the user switches to

[2012-05-24 20:51] JonFerraiolo commented on #2400
Closing this issue. I created a versioning/migration issue for M7: #2408

[2012-05-24 20:51] #2400 closed, assigned to JonFerraiolo

[2012-05-24 20:52] JonFerraiolo commented on #2400
Other related M7 bugs: #2378,#2381, #2377

[2012-05-24 21:23] JonFerraiolo opened #2409 "color property should not be available on element.style for TextBox"
The cascade for TextBox shows that element.style is available for TextBox, but if I change TextBox's color, nothing happens. If I create a new class and add a rule to app.css, then the color changes.

I suspect that claro changed since we created the original theme metadata.

[2012-05-24 21:57] JonFerraiolo opened #2410 "Set class with any property section open -> kaboom"
- New HTML file
- Add an HTML button widget
- Open up any section of properties palette (e.g., layout)
- With button selection, enter "abc" into class field at top of Properties palette

Result=> Exception because 'widget' is undefined.

[code]

Undoubtedly not discovered until now because this is only triggered if one of the prop palette sections is open, because then the cascade gets recalculate

[2012-05-24 21:59] #2410 closed, assigned to JonFerraiolo

[2012-05-24 22:36] JonFerraiolo opened #2411 "Initial audio SmartInput comes up too skinny"
The very first time I add an AUDIO element on Win/FF, the text entry part of the SmartInput dialog doesn't take up the whole width of the SmartInput dialog. Here is a picture:

![snapshot](http://i48.tinypic.com/11vjxg8.png)

[2012-05-24 22:37] JonFerraiolo opened #2412 "Audio SmartInput should be wider"
We should set the width of SmartInput for AUDIO to be wide enough that the default values fit without wrapping

[2012-05-24 22:44] JonFerraiolo opened #2413 "embed: Flash content shouldn't play in page editor"
The embed tag allows embedding Flash. We should find a way to disable running of the Flash in the page editor for various reason, such as being distracting (if it's an animation), using up battery, and that the ActionScript inside the Flash might do bad things.

Maybe the best way to do this would be (page editor)  to render a replacement graphic where the embed will go.

[2012-05-24 22:52] JonFerraiolo opened #2414 "embed: editFeedback show cover the widget"
I was running test plan for HTML elements and added an EMBED that pointed to a flash widget. I tried to click-select the embed and the widget did not get selected. I think it's because the Flash is grabbing the event (see #2413)

[2012-05-25 00:10] JonFerraiolo opened #2415 "gridx not appearing in migrated project"
I was assigned the gridx tests, and I was running them on my migrated M5 project. To my surprise, the widget palette doesn't show gridx!

I'm pretty sure it's because <myproject>/.settings/libs.settings is preserved from M5. It seems like we need to add a gridx entry to existing libs.settings files.

@childsb @aerwin @peller

[2012-05-25 00:45] JonFerraiolo opened #2416 "document.css not found for clone of claro"
document.css gets loaded when using the claro theme, but not for a clone of claro (eg claro2)

I must have done the path math wrong...

[2012-05-25 01:07] #2416 closed, assigned to JonFerraiolo

[2012-05-25 01:13] JonFerraiolo opened #2417 "Outline drag operations don't remove dynamic interactivity"
The UI that Dojo's tree drag-drop feature provides sometimes doesn't remove the dynamic overlay that appears during the drag operation.

[2012-05-25 01:15] JonFerraiolo commented on #2417
@doronrosenberg

[2012-05-25 01:16] JonFerraiolo commented on #2417
Moving to M6 so at least we can think about trying to fix. Is there a way we can force bringing down the phantom overlays just in case they haven't been brought down by normal processing?

[2012-05-25 01:21] doronrosenberg commented on #2417
If they aren't being removed it could be we are eating a js error.

[2012-05-25 01:35] JonFerraiolo commented on #2417
Could be. I found a way to reproduce if you have Chrome debugger open. (this technique only works if you have debugger open)
- Open Sample1.html
- Drag the bottom ContentPane onto the root node of tree (ends with "...Sample1.html")

Result=> exception in debugger - focus goes into debugger window
- Hit continue arrow to go past the exception

Result=> phantom outline drag image as you move mouse o

[2012-05-25 03:13] jhpedemonte commented on #2415
I already have this in the migration script.  Should have added a new line for the 'gridx' library.

Can you please check the `libs.settings` file in your project?

[2012-05-25 03:31] #2417 closed, assigned to peller

[2012-05-25 04:04] JonFerraiolo commented on #2415
I figured out what's wrong. I have an eclipse project, which inserts an extra `WebContent/` folder. The gridx line is in my libs.settings file but doesn't have the correct path to the gridx library. As a result, the widget palette doesn't include gridx.

[2012-05-25 13:00] billreed63 opened #2418 "Renaming a files opens the renamed file in the editor"
Preview 6
If I click on a file in the File palette and use the context menu to rename the File the file is renamed and then opened in an editor

Rename should just rename the file not open the file in an editor

macwayne2/FF

[2012-05-25 13:05] billreed63 opened #2419 "Download workspace dialog needs select/deselect all check box"
It would be great to add a checkbox that selects or deselects all the libraries instead of make the user deselect them on at a time

[2012-05-25 14:10] billreed63 commented on #2409
Also if the user has a custom them and selects the correct rule to change font color the rule is not updated and selected with the correct value

[2012-05-25 14:25] jhpedemonte commented on #2415
Odd. The migration script should have handled that.  Check your Eclipse project in the jferrai account.  Ping me later with the account and project you see this in.

[2012-05-25 14:26] jhpedemonte commented on #2418
Sorry, I don't understand the issue.  Can you please edit the summary with more details?

[2012-05-25 14:28] aerwin opened #2420 "Entering HTML in Smart Input not recognized for many Dojo widgets"
NOTE: This may very well be correct behavior for a number of widgets, but if so I think the test case needs updated....

The "Dojo Controls" section of the "Widget palette basic tests" test plan advises the tester to drag all Dojo controls onto the canvas and then:

However, a number of controls don't offer plain vs. HTML when HTML is entered into their Smart Input. And, the text is rendered with

[2012-05-25 14:30] jhpedemonte commented on #2420
-> M7.  @JonFerraiolo

[2012-05-25 14:31] aerwin commented on #2420
Also, TextBox renders with brackets, but doesn't offer the plan vs. HTML option.

[2012-05-25 14:45] JonFerraiolo commented on #2415
This is weird. I swear I logged into the staging server and looked at libs.settings for my Eclipse project and it didn't show WebContent/ for the gridx entry. I verified the problem on both Mac/FF and Win/FF - no gridx widget in Widgets palette. But today that file is correct and I see gridx in the Widgets palette.

So, we should probably close this. Either I messed up somehow (although I don't se

[2012-05-25 14:47] aerwin opened #2421 "Dojo Containers test case: "infinite" scrolling in FF"
FF on mac using macwayne... following "Dojo Containers" section of "Widget palette basic tests":
1. New HTML file
2. Drag AccordionContainer onto canvas
3. Drag BorderContainer onto Canvas
4. Try to scroll to bottom of page to keep adding widgets and end up with "initinite" scroll

[2012-05-25 14:54] JonFerraiolo opened #2422 "Wrong URL if picking image for background-image in mobile themes"
@childsb

I tried to put an image (eg one of images from sample_data folder) as background-image value for one of the mobile themes and it didn't work. Looking at the console I see this:

"NetworkError: 404 Not Found - http://macwayne2.austin.ibm.com:55556/maqetta/user/_Guest_1337956043161/ws/workspace/project1/themes/blackberry1/project1/sample_data/images/i-icon-10.png"

Path calculations are wr

[2012-05-25 15:03] JonFerraiolo commented on #2415
closing - not seeing problem anymore

[2012-05-25 15:06] jhpedemonte commented on #2421
-> M7

[2012-05-25 15:17] JonFerraiolo commented on #2421
@peller

Pushing to M7.

I was able to reproduce this, and in investigating, I'm pretty sure the issue is that BorderContainer keeps setting its height to be the px size of the whole canvas, and then you get into a loop because the canvas keeps growing, and BC keeps changing its size, etc. Might be triggered by our calling resize() at various points on widgets.

Multiple ways to address this one.

[2012-05-25 15:35] aerwin opened #2423 "Dojo Containers test case -- can't complete in FF if scroll to bottom"
This might be the same as #2293 which was closed several days ago, but if I work through the "Dojo Containers" section of the "Widget palette basic tests" test case (where I'm asked to drop all of the different Dojo Containers on to the page) I run into problems if I scroll to bottom. This is true even if I skip BorderContainer (per #2421).

If I don't scroll, I can successfully drop all of the wi

[2012-05-25 15:36] JonFerraiolo opened #2424 "Can't remove SmartInput value"
- Add a DIV
- Double-click to enter "abc" as text, click OK to accept
- Double-click again and try to set to empty string (or single space character)

Result=> old value "abc" stays in place

[2012-05-25 15:52] childsb opened #2425 "rename file on open editor looses dirty content"
1) new html file
2) add some content
3) from explorer view, rename the file
4) editor closes then re-opens with new name, but the dirty content is lost.

[2012-05-25 16:10] billreed63 opened #2426 "Can not select drawing widgets"
Copy and paste below html file:

[code]

Refresh browser

Select on of the "button" looking rectangles then select the rectangle that looks like a dialog, now I can no longer select any of the other widgets.. I can select the widget from the outline but not the page editor

[2012-05-25 16:13] JonFerraiolo opened #2427 "Weirdness dropping a Switch into a DIV"
@peller @jhpedemonte @doronrosenberg

I was doing a mockup and I had all sorts of trouble putting Switch widgets inside of DIVs. Here is what I wanted to do (inside of a ScrollableView under a Heading and a RoundRectList):

[code]

But when I attempted to do this, I ran into these problems:
- Even if you drop the Switch inside of a DIV, the Switch ends up below the DIV. When I changed display to i

[2012-05-25 16:23] JonFerraiolo commented on #2426
If you unselect the bigger rectangle (the one that looks like a dialog), you can then select the inner "buttons". The outer selection is somehow capturing the mousedown event before the inner shapes get the mousedown event. I think it's because the bigger rectangle is a primitive shape (even though it looks like a container), and the selection logic on primitive widgets is that the widget consumes

[2012-05-25 16:27] aerwin opened #2428 "GridX in FF: Changing column props from column palette scrolls changed column off screen"
Think this is FF specific (e.g., works in Chrome)...

In the 3rd panel of the GridX wizard (the preview panel)... if you scroll to the right in the preview grid and change column props (like Label), the grid scrolls all the way back to the left so the column you modified is now off screen.

[2012-05-25 16:32] #2415 closed, assigned to jhpedemonte

[2012-05-25 16:39] peller commented on #2114
possible short-term fix, in lieu of having a reverse proxy and getting rid of the port=55556: how about setting up a servlet or equivalent in Joomla to forward r&c requests on port 80 to port 55556, then put the (default) port 80 in the e-mails?  We'd probably have to establish a config setting for this.

[2012-05-25 16:42] jhpedemonte commented on #2114
Yes, I was thinking along these lines as well, I just don't know how to do it.

@JonFerraiolo, do you know how we could do something like this in Joomla?

[2012-05-25 16:45] JonFerraiolo commented on #2114
I'd focus on getting the app running on :80 with user management in the app (vs Joomla) rather than investing time in various short-term trickery to work around Joomla issues.

[2012-05-25 16:48] peller commented on #2421
@JonFerraiolo

The issue is that we put 100%x100% on all of our BorderContainers.  This is only valid when it's the only item on the page.

[2012-05-25 16:56] aerwin opened #2429 "Confusion over lightbulb in GridX (& RC) wizard"
@jhpedemonte mentioned confusion over the lightbulb icon in the GridX wizard (particularly when there is no status message displayed because then there's just this floating lightbulb out there). The "lightbulb approach" came from the R&C wizard as shown below:

![R&C wizard](http://i.imgur.com/9DhxA.png)

There is another open issue (#2183 _Need wizard framework for reuse across Maqetta (which con

[2012-05-25 17:00] JonFerraiolo commented on #2429
I suspect we will have multiple widgets that will require a wizard

[2012-05-25 17:12] billreed63 opened #2430 "mobile theme css files not load some times in theme editor"
Looking at the header the link for the CSS file sis missing.. Seems to be timing related

[2012-05-25 17:31] jhpedemonte opened #2431 "Selection box (from whitespace) should select widgets which are partially in box"
In **sketch** mode, drop several widgets around the page.

Then click on an empty part of the page and drag in order to create a **selection box**.  Size the box to **fully encapsulate** some widgets but only **partially** encapsulate others.

Notice that only the widgets which are fully within the selection box get selected.

I expected that even widgets which were partially encapsulated in the s

[2012-05-25 18:44] JonFerraiolo commented on #2431
@jmockler - you might want to try out the new area select feature in Preview 6

Our Preview 6 release supports area select, but the code is written to select widgets that are totally contained by the "lasso" (the selection rectangle), versus widgets that intersect with the "lasso".

One reason why it is implemented the current way is that Maqetta puts widgets inside of containers, even in sketch m

[2012-05-25 18:46] JonFerraiolo commented on #2421
yes, that's right, we should only put 100%x100% if the BC is the only child of BODY or ContentPane.

[2012-05-25 19:15] JonFerraiolo opened #2432 "SmartInput for CurrencyTextBox, DateTextBox (and others)"
@billreed63

If you double-click on CurrencyTextBox or DateTextBox, shouldn't user be able to enter default value? There are various other similar widgets that are candidates for SmartInput in Dojo Controls and HTML sections.

[2012-05-25 19:22] JonFerraiolo opened #2433 "gridx firefox - can't just drag/drop, have to click on canvas"
With Mac/FF and Win/FF, when I attempt to drag/drop the grid onto the canvas, I find that the drop doesn't "take" and I usually have to click on the canvas after attempting the drag/drop before the gridx actually "takes". One the click happens, all of the various files that are needed by gridx appear as messages in the Firebug console.

[2012-05-25 19:31] jhpedemonte commented on #2284
Also, see 8cacea838bfc8c976be24a3a3d0d87a4041f269c.

Migration script seems to have worked well, so closing.  Also added _Migration_ section in the release notes.

[2012-05-25 19:31] #2284 closed, assigned to jhpedemonte

[2012-05-25 19:37] aerwin commented on #2433
I haven't seen this with Mac/FF (and haven't tried with Win/FF), but I wonder if this would be helped by the gridx custom build (#2390)?

[2012-05-25 19:39] aerwin commented on #2421
Thinking I should try and handle this (the not setting 100% on height if more than one child) as part of my approach for #2396...

[2012-05-25 19:40] JonFerraiolo opened #2434 "Select/drag rich text widget - loses some content"
- New HTML File
- Add 2 DIV's. Set height of each DIV to 100px (or whatever, doesn't matter)
- Drop a Rich Text widget into first DIV, set text to 3 lines: aaa, (bulleted) bbb, (bulleted) ccc, click OK
- On canvas, drag the Rich Text widget from first DIV into second DIV

Result=> The bbb and ccc are dropped, only the aaa remains

[2012-05-25 20:24] JonFerraiolo opened #2435 "*DataList: SmartInput space handling problems"
@aerwin, @doronrosenberg

Major problem around space handling with the *DataList widgets.

If you enter `abc, def` (with a space), the code seems to believe the target view is named `def` (with a space), and therefore when you run the app, pressing on the arrow doesn't actually result in a view change. So, when you enter the *DataList smartinput, don't put a space after the comma.

But it's worse.

[2012-05-25 21:05] doronrosenberg commented on #2435
Aren't we planning for better smarinputs for those widgets?  Those would solve this issue

[2012-05-25 21:25] JonFerraiolo commented on #2435
sure, but I think we should look to see if there is a quick patch we can make in case we find ourselves doing a dot release in next couple of weeks because the current state of affairs with this feature is very bad

[2012-05-25 21:41] JonFerraiolo commented on #2424
Bug existed in Preview 5, too

[2012-05-25 22:54] JonFerraiolo commented on #2426
I found the culprit. It's these lines in SelectTool.js:

[code]

The above lines deal with some edge cases where the user has down a mousedown within the widget's layout margin bounds (using CSS box model) but because of particular set of circumstances the event.target isn't a node within the widget's dom tree (e.g., if you are clicking in the margin of the widget or if CSS transforms have moved t

[2012-05-26 00:02] JonFerraiolo commented on #2435
Here is some of the code causing the space problems.

davinci.dojo_1_7/WebContent/metadata/dojo/data/DataStoreBasedWidgetInput:185 always adds an extra space after each comma:

[code]

davinci.dojo_1_7/WebContent/metadata/dojo/data/EdgeToEdgeDataListInput:77 takes everything after the comma and stuffs it back into the datastore:

[code]

I suggest that we use `dojo.trim()` on both ends of the tran

[2012-05-26 15:19] JonFerraiolo opened #2436 "Selection rectangle doesn't update when parent widget is scrolled"
Right now we have event listeners on body.onresize and body.onscroll for the visual canvas, but we don't have event listeners on container widgets in case they have a scrollbar and the user scrolls the container widget. As a result, the selection rectangle doesn't update when users scroll container widgets in the page editor.

[2012-05-26 15:19] JonFerraiolo opened #2437 "Cache widget bounds?"
@peller @aerwin

I've been thinking about this for a long time but keep forgetting to log a bug.

Right now, as user moves mouse over canvas, the editFeedback logic in _Tool.js computes the borderbox and marginbox for each new widget that the mouse goes over (i.e., bounds recomputed with each change in mouseover, mouseout or mousemove's event.target). If a widget is a child of another widget, the

[2012-05-26 15:22] JonFerraiolo commented on #2436
https://developer.mozilla.org/en/DOM/element.onscroll

[2012-05-26 15:42] JonFerraiolo commented on #2436
This isn't going to be easy. Because the 'scroll' event doesn't bubble, the only way to catch scroll events is to attach scroll listeners to each and every domNode that has a computed value of overflow:auto or overflow:scroll. For dijit, sometimes the relevant domNode isn't dijitwidget.domNode but instead dijitwidget.containerNode. Another complexity is that widgets (and their nodes) come and go (

[2012-05-26 21:00] JonFerraiolo opened #2438 "Filename tooltip if hovering mouse over canvas"
At least on Chrome, if you hover the mouse over a blank area of the canvas, the file name for the current editor (e.g., file1.html) hovers over the canvas as a tooltip.

[2012-05-26 21:26] JonFerraiolo commented on #2424
Note: proposed fix is currently off in a branch, not yet in master.

[2012-05-27 14:46] JonFerraiolo opened #2439 "Default filename: Untitled, first Save action behaves like SaveAs"
@jhpedemonte, @jmockler, @childsb

When you create a new html file in Maqetta now, the user can choose a file name, but we provide a default file name (eg file1.html). The user can drag/drop widgets and click the Save icon, and voila the user has a composition saved in file1.html.

This current behavior differs from a common approach used by many existing desktop tools that follow UI conventions o

[2012-05-27 18:27] JonFerraiolo commented on #2439
Another factor here is that I'm hoping to add a "templates" feature in M7 (#282). What I'm thinking is:
- We would add a "New HTML File from Template" command
- The above command would bring up a variation of the UI for the New HTML File, but instead of picking "Composition type" the user would pick a template
- The standard location for templates would be a `templates` folder in each user project

[2012-05-28 05:13] JonFerraiolo opened #2440 "Migration M6-M7: Need to add templates/ to existing user projects"
(logging this while thinking about it)

I'm working on a new files "Create New HTML File from Template" where there would be a `templates/` folder in each user workspace, and any HTML files found in that folder can be used as initial starting HTML content when a user creates a new HTML page.

[2012-05-28 15:27] JonFerraiolo opened #2441 "Always load from template (instead of newfile.template.html)?"
@childsb

As I have been implementing the templates feature (#282), I believe I have found a way to create new HTML files by first loading an existing HTML page and (as we do with SaveAs) calling RebuildPage() to deal with relocation issues, which overlaps with the variable approach we now have in newfile.template.html.

This issue is to determine whether it makes sense to remove newfile.template.

[2012-05-28 15:27] JonFerraiolo opened #2442 "Analyze features in RebuildPage vs substitution features in newfile.template.html"
@childsb

newfile.template.html has several substitution variables for things like where dojo is located, and RebuildPage has the ability to discover and replace various things in the head (such as where dojo is located).

This issue calls for a thorough comparison of what variable substitution features are available in newfile.template.html vs the various substitution features available in Rebuil

[2012-05-28 16:11] JonFerraiolo opened #2443 "Ability to remap image urls"
@jhpedemonte @aerwin @doronrosenberg @billreed63

If users move files into different folders, the 'src' attribute in images will have the wrong value.

How hard would it be to go through model and find all 'src' attributes on IMG elements, and then remap those values?

While IMG elements will be the most often used feature, we would have similar requirements for EMBED, OBJECT, VIDEO and AUDIO, and

[2012-05-28 17:47] JonFerraiolo opened #2444 "Multi-page sketching"
Users need a convenient way to create multi-page sketches. I have some prototype technology for this in the sketchboard branch.

[2012-05-28 18:09] JonFerraiolo commented on #2427
@doronrosenberg can you please investigate? Feel free to send back to me if you think it would be better for me to pick this one up.

[2012-05-28 18:16] JonFerraiolo commented on #2399
What's left with this issue?

[2012-05-29 02:47] peller commented on #2443
how would they move the files?

[2012-05-29 14:09] JonFerraiolo commented on #2443
In today's product, the user would use the SaveAs command to accomplish moving a file, which means RebuildPage logic would get run.

[2012-05-29 14:29] peller opened #2445 "Change properties on close state"
In the theme editor for a copy of Claro,

Select the button widget.  Choose the "close" state. The button appears disabled, but you can still make property changes like background color from the properties palette.  An exception appears on the console when a color is chosen

[code]

[2012-05-29 14:40] peller opened #2446 "red dash selection box doesn't move when object is resized"
in the theme editor, click on calendar and then choose the CalendarMonthContainer subcomponent
Change the border to something large, like 15px
Note that the red dashed box doesn't change its height. It marks the old bounds of the subcomponent

[2012-05-29 14:57] JonFerraiolo opened #2447 "Project preferences: either get working (with test plan) or remove from UI"
@jonferraiolo: Do either of you know whether the Project Preference for the themes folder (default: themes/) actually work, or at this point is changing the themes folder an unimplemented feature? If unimplemented, is there an issue to implement? If implemented, is there a test plan for the feature?

@childsb: It's unimplemented in most spots.  I believe most of the ThemeEditor code makes assumpti

[2012-05-29 14:57] peller opened #2448 "GridX data from JSON, only id column shown by default"
Following the basic gridx tests, "Data from URL (JSONP)", when choosing a json data file, only the 'id' column shows up by default.  You have to manually add the other columns.  Doesn't match the test plan.

[2012-05-29 14:59] peller opened #2449 "widget-specific properties panel doesn't scroll"
the mobile listitem widget, for example, has lots of stuff.
Select it and go to the widget-specific section on the properties panel
make the browser window small enough so that it doesn't fit.
there's no scrollbar.

[2012-05-29 15:29] JonFerraiolo commented on #2426
Fixed by 128379cadeb6428ac665f4ef6c0b4ffa0bf896db

[2012-05-29 15:29] #2426 closed, assigned to JonFerraiolo

[2012-05-29 15:36] doronrosenberg commented on #2435
@JonFerraiolo sounds good to me

[2012-05-29 15:57] billreed63 commented on #2435
I agree with the change to EdgeToEdgeDataListInput as it is the out bound data that we use to update the widget. But I think the inbound (DataStoreBasedWidgetInput) should display exactly what is item.moveTo if the item.moveTo has 20 spaces we want that display so the user sees what is in the moveTo, if we clean it up before we display it the user might assume that the input is correct and cancel

[2012-05-29 16:09] #2435 closed, assigned to billreed63

[2012-05-29 17:06] childsb opened #2450 "drawing tools should default to absolute position"
the drawing tool widgets should default to relative positioning so they can be "drawn" anywhere on the canvas.

maybe just set the default value for position to absolute in the drawing tools metadata?

[2012-05-29 17:20] JonFerraiolo opened #2451 "Some sample files not migrated"
@aerwin, @doronrosenberg, @billreed63

Test plan for Gridx columns says to load this file: sample_data/sampleManyColumns.json

In my migrated workspace from M6, this file doesn't exist. When I run the build as Guest user, the file is there.

I'm not sure whether there are other sample files that haven't been migrated.

[2012-05-29 18:19] aerwin opened #2452 "Theme editor dirty bit inconsistency"
1. Clone Dojo theme and name something like "myclaro"
2. Close new theme
3. From the Open menu, choose Theme Editor... and open "myclaro"
4. Close the theme (note there was no dirty bit set, so theme editor closes without additional prompt)
5. Find myclaro.theme in the File palette and double-click on it
6. Note editor is marked dirty (despite no changes) and when you try to close theme editor you

[2012-05-29 18:25] aerwin opened #2453 "Theme editor changes saved despite not saving"
1. Clone claro theme
2. Select text box in theme editor and change a property (e.g., change font color to red)
3. Click X on theme editor to close (note message that continuing with cause changes to be lost)
4. Reopen theme editor and styling is same as before closing (e.g., font color of text box is red)

[2012-05-29 18:40] aerwin opened #2454 "Theme editor selection isn't always reflected in props palette"
1. Clone claro theme
2. Select text box and change property (say font size to 25px)
3. Select button and values in props palette reflect text box settings (except text-align gets changed to "center" to match button)

![GitHub Logo](http://i.imgur.com/fhk7F.png)

I'm on Chrome/Mac

[2012-05-29 18:46] aerwin opened #2455 "Theme editor: changing style of one widget can affect ability to select another"
On Chrome/Mac...
1. Clone claro theme
2. Select button and change font size to 25px
3. Try to select text box by clicking on it and tooltip widget gets selected (I'm guessing because changing font size of button made toolbar bigger pushing widgets down page. Reloading theme seems to clear this up.)

![screenshot](http://i.imgur.com/xQvnc.png)

[2012-05-29 18:54] aerwin opened #2456 "Theme editor allows activation of text box"
Chrome/Mac...

Awhile back, I had opened #2297: "Able to activate TextBox in theme editor (which causes weird stuff in Hover state)" which was closed 12 days ago. I think the symptoms described in #2297 are far better now, but I'm still able to cause the text box to get activated in some circumstances...
1. Clone Claro theme
2. Select text box and change font-size to 25px
3. Click between "text" a

[2012-05-29 19:09] billreed63 commented on #2373
I opened the following ticket http://bugs.dojotoolkit.org/ticket/15434

[2012-05-29 19:10] aerwin opened #2457 "Theme editor: if clone many times, then can't clone default themes anymore"
Chrome/Mac...

Kind of stumbled on this one trying to provide reproducible scenarios for some other issues:
1. Clone a theme many times and give it a name that puts it toward top (e.g., clone claro into "claro2", "claro3", etc.)
2. At some point, when you try to clone claro you won't see the original claro on the list (and also won't be able to scroll or arrow to it)

![screenshot](http://i.imgur.

[2012-05-29 19:24] aerwin opened #2458 "Theme editor: props palette not always accurate reflection of selected state"
Chrome/Mac...
- Clone claro theme
- Select Normal state in states palette
- Select button and change some font props (like color and font-weight)

![screenshot](http://i.imgur.com/zbECv.png)
- Select Hover state and font color is not an accurate representation of the current state rendering (e.g., shows #000000 instead of "green")

![screenshot](http://i.imgur.com/M1p3L.png)
- Deselect the button

[2012-05-29 19:29] billreed63 commented on #2455
wfm, what browser and machine is this on?

[2012-05-29 19:35] aerwin opened #2459 "Text box state changes in page editor"
Chrome/Mac...

Working through claro theme editor test plan, I have a theme with changes made to buttons and text boxes. In addition, I've made the Hover state of both button and text box to have a bigger font size.

When just viewing in the page editor, things look fine:

![screenshot](http://i.imgur.com/FjxYI.png)

But, if I mouse over the text box in the theme editor, the text box gets rendered

[2012-05-29 19:36] billreed63 commented on #2454
this is related to #226

[2012-05-29 19:36] aerwin commented on #2455
first line of problem report stated: "On Chrome/Mac..." I'm pointing at the server we were supposed to run test matrix on today.

[2012-05-29 19:39] billreed63 commented on #2453
the working copy of the css file is not being removed

[2012-05-29 19:43] aerwin commented on #2454
I'm not sure I understand how this is related to #226... in this case I select the button and it's showing me what I had set on the text box. I thought #226 was that some properties don't effect the rendering when changed?

[2012-05-29 20:08] billreed63 commented on #2454
Because the widget does not have a rule that is being set for that widget's property cascade does not refresh the field.

#226 is really a catch all to handle the properties palette correctly for each widget.

[2012-05-29 20:10] peller commented on #1534
-> @childsb

[2012-05-29 20:32] billreed63 commented on #2455
I can only make this happen on 9.41.33.118 , it seems to be a selection problem so I am send it @JonFerraiolo

[2012-05-29 20:36] billreed63 commented on #2456
I think this is a selection problem so sending to @JonFerraiolo

[2012-05-29 20:58] JonFerraiolo commented on #2358
-> @peller

[2012-05-29 20:58] JonFerraiolo commented on #2320
-> @peller

[2012-05-29 20:59] JonFerraiolo commented on #1971
-> @peller

[2012-05-29 20:59] JonFerraiolo commented on #1935
-> @peller

[2012-05-29 21:05] JonFerraiolo commented on #2455
yes, good to send to me. I suspect there might be a geometry calculation issue. In the page editor, I gutted/rewrote everything having to do with computing widget location to fix various bugs, including unreliable results produced in some cases by Dojo's various routines (e.g., dojo.position). I wouldn't be surprised if there is something in the theme editor code that I missed when doing my variou

[2012-05-29 22:17] doronrosenberg commented on #529
Have we decided on how the buttons should work?

Right now I assume right aligned, cancel [Save] is the preference?  Cancel being a html link and Save a button

[2012-05-29 22:26] doronrosenberg commented on #2182
New dialog image: http://imgur.com/ruP7y

I ended up not doing buttons as being json constructs but rather the dialog widget looks for a class name and moves that dom node into the actionbar - allows the current templates to be used and reduces the amount of new code we need

[2012-05-30 02:43] aerwin commented on #2130
Aside from adding base GridX TreeGrid support, we'll also need to deal with SmartInput issues described in #135 .

[2012-05-30 03:58] peller opened #2460 "Upload files: parent folder is always blank"
select a folder, like "sample_data"
right-click to upload a a file.  Observe that the label "parent folder:" in the dialog has no text following it
Upload a file.
The file will end up in the folder, even though this was not indicated.

[2012-05-30 04:10] peller opened #2461 "FF: exception selecting root node in outline"
Unsure how to reproduce, but I had a theme file, a css file, and an html file open, and I clicked on the root node in the outline when looking at the html file

_262 is the local variable "model", and it has the value Object { id="myapp", label="application"}
In CSSEditorContext.js: _262.elementType is undefined

[code]

_selection(_261=[Object { model={...}, add=false}])
_385()
(?)()
emit(_41a=Ob

[2012-05-30 13:59] aerwin opened #2462 "Document.css appears to be missing in review editor"
Doing R&C testing with @peller & @billreed63 this morning, and we all see incorrect rendering in the review editor (like document.css is missing).

I created the review and when I open the same file in the page editor, it looks correct.

Review Editor:

![screen shot](http://i.imgur.com/he1EH.png)

Page Editor:

![screen shot](http://i.imgur.com/wGJHg.png)

[2012-05-30 14:11] aerwin opened #2463 "R&C: Review keeps reopening when I refresh page (even if I closed it)"
In R&C testing this morning with @peller & @billreed63 , it seems that if I use the link in a review invitation to open a review that it will always get reopened when I reload the browser page (even if I've closed the review before reloading the page). It's like a cookie isn't being cleared.

[2012-05-30 14:11] JonFerraiolo commented on #2462
@aerwin, @peller & @billreed63 - thanks for doing the testing

Question: were you using Sample1.html from a migrated workspace (i.e., an old workspace from Preview 5)? Any chance you could try again doing the same thing after create a new project?

[2012-05-30 14:18] aerwin commented on #2462
I had created a fresh project just before the testing.

[2012-05-30 14:26] JonFerraiolo commented on #2462
I figured out what's wrong. It's just the sample files (which don't have document.css for either reviews or preview-in-browser).  The sample files need to have an `@import "document.css";`.

If you open Sample1.html and save it as Sample1a.html, the page editor fixes up the file and adds `@import "document.css";` to the HEAD, and then both preview-in-browser and reviews will now look correct. Basi

[2012-05-30 14:32] aerwin opened #2464 "Incorrect requires statements for custom built library"
@jhpedemonte @peller

This was found in working on #2390 while prototyping with a GridX layer built by the GridX team.

I pulled down the GridX branch containing the custom layer, and updated my package.json metadata to point at the layer (e.g. `gridx-all.js` rather than the original `../../`):

[code]

However, it looks like all of the GridX files still get pulled down from the server by the brow

[2012-05-30 14:36] aerwin commented on #2421
-> @aerwin (to be handled as part of #2396)...

[2012-05-30 14:38] aerwin commented on #2464
Actually, misspoke when I said I updated `package.json`... actually that was an update to `Grid_oam.json`.

[2012-05-30 15:28] aerwin commented on #2396
With the above commit, I'm going to close this issue. However, I imagine some iteration will be necessary as folks use the new behavior in practice. But, I'd propose we handle those as separate issues.

[2012-05-30 15:28] #2396 closed, assigned to aerwin

[2012-05-30 15:37] #2418 closed, assigned to childsb

[2012-05-30 15:58] JonFerraiolo opened #2465 "tolerate dojox.mvc"
@peller @aerwin @doronrosenberg @jhpedemonte

For M7, we'd really like to allow a user to enter dojox.mvc's `at(model, field)` syntax as the value for SmartInput (and maybe even some widget-specific properties), and for the Maqetta page editor to do something reasonable in response to this.

If we are able to do anything in this area for M7, it will probably be only in particular constrained scena

[2012-05-30 16:46] JonFerraiolo commented on #2396
After doing 5 minutes of testing, things look good to me so far.

One difference versus previous algorithms (eg Preview 6) is that there was different default sizing logic for BorderContainer vs other containers. If BorderContainer is the first child of BODY with flow layout, then in P6 that would get w=h=100%, but if TabContainer or Accordion are the first child of BODY with flow layout, then def

[2012-05-30 17:59] aerwin commented on #2396
@JonFerraiolo

Yeah, I debated TabContainer and Accordion dropped into the BODY case. I think you're right. I can see where filling the entire space (100%x100%) may not be what all users need by default. For example, in a real UI a designer might want to put instructions above the TabContainer (so, of the two I was thinking Accordion would be the most desirable to fill up the whole space).

So, I'

[2012-05-30 18:26] aerwin commented on #2421
Closing as part of #2396 (commit fe8b89b562308460c15349e43e8d73cd629b55f6 )

[2012-05-30 18:26] #2421 closed, assigned to aerwin

[2012-05-30 18:41] billreed63 commented on #2424
merged with master

[2012-05-30 18:41] #2424 closed, assigned to billreed63

[2012-05-30 19:14] aerwin commented on #2411
Closing with above commit.

[2012-05-30 19:14] #2411 closed, assigned to aerwin

[2012-05-30 19:14] aerwin commented on #2412
Closing with above commit.

[2012-05-30 19:14] #2412 closed, assigned to aerwin

[2012-05-30 19:15] billreed63 commented on #2453
The theme editor and the page editor are not removing working copies of the CSS files when the editors are closed without saving. We need to be careful removing working copies of css files as they may be shared with other open editors that are changing the same file. The resource should be a singleton, but we currently do not have a way to tell if we are the last editor with a reference to the fil

[2012-05-30 19:16] billreed63 commented on #2453
@JonFerraiolo @childsb

[2012-05-30 19:39] aerwin commented on #1670
Think we can close with the above commit (which removes the `publish` function from `Runtime`).

[2012-05-30 19:39] #1670 closed, assigned to aerwin

[2012-05-30 19:49] JonFerraiolo commented on #2396
For Accordion and TabContainer, how about
- 300px by 300px if it's a child of BODY and flow layout, or if absolute
- otherwise, 100%x300px

[2012-05-30 19:49] JonFerraiolo commented on #2396
For Accordion and TabContainer, how about
- 300px by 300px if it's a child of BODY and flow layout, or if absolute
- otherwise, 100%x300px

[2012-05-30 21:16] aerwin commented on #2396
@JonFerraiolo and I chatted and agreed to go with the 100%x300px approach in the BODY for Tab and Accordion. This will be one of the kind of things that we might decide to tweak as the summer goes on and folks get hands on experience with the new initial sizing behavior.

[2012-05-31 14:16] gers32 opened #2466 "Typo in Tutorial "Building a Task Manager Part 2""
Tutorial [Building a Task Manager Part 2] > [Configure the "Task Added" State] > [2. In the Outline palette, under the TabContainer close the eye icon for the MultiSelect widget.]

=> "close the eye icon" should be "open the eye icon".

[2012-05-31 14:50] JonFerraiolo commented on #2466
Thanks for reporting this!

[2012-05-31 15:37] billreed63 opened #2467 "Changes made in the CSS source editor are not reflected in theme editor"
Theme editor and the CSS source code editor need to be keep in sync.

If the user has a theme editor open say for myclaro and also a myclaro.css in the source editor the two should be keep in sync when changes are made.

@JonFerraiolo @peller

[2012-05-31 15:39] billreed63 opened #2468 "Test plan to ensure sync of Theme editor and designer"
Write a test plan to test if change are made in theme editor they are reflected in page designer for html file using that theme

[2012-05-31 17:12] aerwin commented on #1026
Closing with above commit.

[2012-05-31 17:12] #1026 closed, assigned to aerwin

[2012-05-31 18:28] peller commented on #2466
thank you for spotting this!

@JonFerraiolo

[2012-05-31 18:30] #2466 closed, assigned to JonFerraiolo

[2012-05-31 20:04] billreed63 commented on #2453
After spending a good bit of time understanding the Factory here is the plan of attack:

a) Ensure that all CSSFiles and HTMLFiles are created using `Factory.getModel()` the Factory keeps track of the number of references to a singleton for each unique file.
b) Ensure that destroy() is called for theme and page editor, witch will call `closeModel` for each file. `Factory.closeModel``` decrements t

[2012-05-31 21:15] JonFerraiolo commented on #2453
Plan sounds very good.

Do we take care of the possibility that there might be workingcopy files for things that aren't currently open in an editor (where the user's project is in a bad state)? For example, maybe the user encounters a bug in Maqetta and the workbench.Settings file isn't correct or complete, or maybe the user confused Maqetta by running two browsers windows at the same time, or may

[2012-05-31 22:09] JonFerraiolo opened #2469 "Put ID on Tree - kaboom"
- New HTML file
- add a Tree

Problem #1: The Properties palette shows ItemFileReadStore as selected, not the Tree
- One way or another, select the Tree rather than the ItemFileReadStore
- In Prop palette, set ID to a value

Problem #2: Tree disappears. (In fact, if you have other widgets, some of them will also disappear)

You can put an ID on a Tree in source view.

[2012-05-31 22:10] JonFerraiolo commented on #2469
@aerwin @doronrosenberg @jhpedemonte

[2012-06-01 00:40] JonFerraiolo opened #2470 "No error message if you try to create a project that already exists"
Just now, I tried to create "eproj2" with the Eclipse checkbox on, and Maqetta just sat there with the New Project dialog on the screen. Turns out I already had a project named "eproj2".

Can we please post some sort of error telling user that the project name already exists? It looks like the New Theme command just uses an alert() if you try to create a theme with a name that is already in use.

[2012-06-01 02:59] jhpedemonte commented on #2470
No alert() please!  Need to get away from that crap.

Best thing is to have a validator on the text box for the project name, and disable the create button if the project already exists.

[2012-06-01 03:29] peller commented on #2470
agreed.  -1 on alert.

validation is great, but not 100% reliable.  There's still the possibility of a server error, either because the name was taken or for some other reason.  We need a consistent way to report errors, in dialogs, and in general.

@doronrosenberg

[2012-06-01 11:49] aerwin commented on #2390
Excerpt from @peller e-mail on 5-30-2012:

[2012-06-01 11:51] aerwin commented on #2390
So, assuming we want to augment the build script for maqetta.core.client to build a layer for gridx (see e-mail from @peller above), then I'm guessing we don't really want to hardcode knowledge of the gridx plugin in the maqetta.core.client build scripts. Which gets me to thinking, gridx is our biggest worry in the short-term (because of # of files, etc.), but wouldn't all of our plugins potential

[2012-06-01 12:45] aerwin opened #2471 "Explore alternative implementation for _isTypeContainer in CreateTool"
@jhpedemonte

Opening based on @jhpedemonte 's comment on a previous commit regarding code added to `davinci.ve.tools.CreateTool` (see [https://github.com/maqetta/maqetta/commit/fe8b89b562308460c15349e43e8d73cd629b55f6#commitcomment-1402091):

The content of `_isTypeContainer` is shown below:

[code]

This function was added because the previous algorithm for initial size for some widgets looked o

[2012-06-01 13:55] gers32 opened #2472 "GridX: second column disappears when opening "Grid Configuration""
Hi,

I set up a GridX widget with four columns and a few lines. Upon closing the "Grid Configuration" window, my grid looks good. But if I double-click to open "Grid Configuration" again, the second column has disappeared, from all lines!

Cheers,

Chris.

[2012-06-01 13:56] jhpedemonte commented on #2471
@JonFerraiolo @peller, do either of you guys know why we previously had many checks for **ContentPane**, but not for other containers (see Tony's summary above)?

[2012-06-01 14:03] aerwin commented on #2472
Hi, could you paste in the text you used to specify the "four columns and a few lines" so I can try and reproduce?

[2012-06-01 14:07] gers32 commented on #2472
Wow! Quick reply!

Here's the text I put in:

Date de début,Date de fin,Code UT,Intitulé UT
03/03/2012,,UT3,Unité de Travail Trois
02/02/2011,,UT2,Unité de Travail Deux
01/01/2010,31/12/2012,UT1,Unité de Travail Un
,,,
,,,
,,,
,,,

And here's the text shown when I double-click on the grid:

Date de début,Code UT,Intitulé UT
03/03/2012,UT3,Unité de Travail Trois
02/02/2011,UT2,Unité de Travail Deux

[2012-06-01 14:11] aerwin commented on #2471
To make my earlier comments more precise, the check for `ContentPane` was in the `initialSize` function of helpers for `BorderContainer`, `TabContainer`, and `AccordionContainer`. That's what I meant by previously being found in multiple if statements.

BorderContainer:

[code]

Tab and Accordion:

[code]

[2012-06-01 14:20] aerwin commented on #2472
Hi, Chris... Great, I was able to reproduce using your data. I'll explore deeper, and keep you posted.

[2012-06-01 15:01] billreed63 commented on #2453
We also need to warn user before switching devices, as it changes the mobile css files

[2012-06-01 15:20] aerwin commented on #2472
The issue is that the first row of data contained an empty cell in the 2nd column. Of course, this should be allowed, so I fixed with commit above.

In the meantime, you should be able to workaround the issue by entering a space where you had empty cells such as below:

[code]

I'm going to mark the issue as closed. But, please reopen if you see problems.

[2012-06-01 15:20] #2472 closed, assigned to aerwin

[2012-06-01 15:24] JonFerraiolo opened #2473 "General policy for alerts and error notices"
@jmockler @doronrosenberg @peller @jhpedemonte @billreed63 @aerwin

@doronrosenberg is consolidating and cleaning up many of the dialogs in Maqetta, but we haven't yet consolidated and cleaned up the error notices that we sometimes post. In some cases (e.g., theme editor), we just using the system `alert()` call.

@JonFerraiolo needs to do an inventory of these various alerts and error notices, an

[2012-06-01 15:27] peller commented on #2473
We've talked about using a "toaster" (#433) for async messages and async errors.  Dialogs may be different, where we may want to preserve the modal state and retry, depending on the error, in which case we also need to consider a wait indicator.  That all seems very 1990's desktop, though.  Is there a better way?

[2012-06-01 15:53] peller commented on #2471
@jhpedemonte I'll be revisiting this when I attempt the Dojo 1.8 upgrade (#1997) but ContentPane was always tricky.  Although it actually can contain both widgets and HTML, it was not considered a widget Container (it did not inherit from _Container)  1.8 changes that.  Perhaps that's what some of the special casing is about.

[2012-06-01 16:23] aerwin commented on #2129
At one point, I was thinking at least parts of the third panel of the GridX wizard could be leveraged for HTML tables. Though I had envisioned changing the styling to be more of a "sketch" to mimic a plain HTML table rather than look like a full-fledged GridX.

![screenshot](http://i.imgur.com/yxcMn.png)

The main advantage of this approach would be gaining the rich support GridX already has for c

[2012-06-01 17:07] JonFerraiolo commented on #2129
@jmockler @billreed63

@aerwin - your analysis and proposal make sense to me so far.

Note that we are likely to have an ActionBar in the next release. One of things we might put into the ActionBar is a select dropdown button which shows relevant select actions that you can apply to the current widget. In this case, if you have a table selected or any part of a table selected (e.g., a cell), maybe

[2012-06-01 18:27] aerwin opened #2474 ""Auto" not always working for GridX size on creation"
This may be related to #2397 ("gridx - height:auto doesn't do anything"), but it almost seems like more of a timing thing...

With #2396, a change was made so that GridX would get a height of "auto" when dropped into html.body (or if dropped into another container, but _not_ as the only child).

However, this doesn't always seem to "take". For example, if you create an HTML file, then the first ti

[2012-06-01 18:32] aerwin commented on #2473
I also think this discussion needs to include wizards (like R&C and GridX) per the discussion in #2429... e.g., how should status and/or error messages be handled in wizards? I think there's a consensus the "light bulb" in the lower left corner approach can be confusing and doesn't really follow guidelines.

[2012-06-01 18:53] JonFerraiolo opened #2475 "Include app.js in each user workspace (companion to app.css)"
@jhpedemonte @peller @billreed63 @aerwin @childsb

In talking with users, they asked why don't we set up our HTML file so that they include an `app.js` file in addition to the existing `app.css`. Even for mockups, it is common that users will want to include a small bit of JavaScript. One common scenario is they want to put an onclick handler onto a DIV, and that handler would choose a different t

[2012-06-01 18:54] JonFerraiolo commented on #2475
One more thing - if we include `app.js`, we can quit including `Sample.js`

[2012-06-01 19:13] aerwin commented on #2129
@JonFerraiolo - thanks for the pointer to `SelectTool`. I've not really been in there, so I'll have to look around a bit and give it some thought. But, yes, I imagine you're right we'll have to augment that with a helper.

As for actions in the action bar, are we thinking the mechanism for plugging in the actions to show will be the same as the mechanism for plugging into the context menu today? O

[2012-06-01 19:43] JonFerraiolo commented on #2129
I agree with all of the above.

One worry is that getting this all implemented in the right way may take a ton of work and time. It might not be feasible to complete in the M7 cycle.

Another issue is that (I'm pretty sure) no one likes our current plugin system (eg ve.plugin.js). At some point we wanted to redo all of that. If moving some action definitions into the widget libraries slided into a

[2012-06-01 20:08] peller commented on #2475
Perhaps we could write a helper for SCRIPT (and LINK) tags such that they could prompt for a file and open a new editor of the appropriate type?  I don't think we should be including .js files boilerplate, like we do for our app.css.  The .js file may not be necessary, and the exact structure or usage is best left to the user (supporting an AMD authoring model may be even wiser)  I'm not even sure

[2012-06-01 20:40] JonFerraiolo commented on #2475
The two main reasons for app.css: (1) we need a CSS file into which we stuff new CSS rules created by the Properties palette, (2) users sometimes want to define CSS rules by hand rather than use the Properties palette.

When talking with users, they easily grok the app.css and app.js approaches and (what I'm hearing) say it's a good idea to provide a standard file that's just there. I've heard thi

[2012-06-01 21:23] JonFerraiolo opened #2476 "Event attribute stripping logic is incomplete"
@jhpedemonte @childsb
- New HTML File
- Add a DIV
- In Props palette, under events, enter this for onmouseover: `console.log('aaa')`
- With console showing in debugger, move mouse over the DIV

Result: (CORRECT) No console message
- In Properties palette, put an ID on the DIV (which triggers EventCommand.js, which triggers createWidget())
- With console showing in debugger, move mouse over the DIV

[2012-06-01 21:43] billreed63 commented on #2453
@JonFerraiolo states that we throw an exception on saveAs

[2012-06-01 21:51] #2476 closed, assigned to JonFerraiolo

[2012-06-01 21:56] JonFerraiolo opened #2477 "Need to remove :hover rules from visual editor version of app.css"
@childsb

If a user puts this rule in app.css:

[code]

and then assigns class foo to a DIV, then in the visual page editor the DIV will turn orange whenever the mouse hovers over the DIV. But we don't want this sort of interactivity to be active in the page editor.

I'm not sure how best to disable these rules, but I would guess that on opening up an HTML file in an editor, we need to fuss with t

[2012-06-01 22:20] JonFerraiolo opened #2478 "Removing a state doesn't remove widget-specific uses of that state"
- New HTML File
- Add a Button and Calendar
- Add a new state 'aaa'
- Switch to 'aaa'
- Click eyeball on Calendar to make invisible in state 'aaa'
- Delete state 'aaa'
- Look at source

Result=> the style rule for state 'aaa' is still in the document

[code]

[2012-06-01 22:25] JonFerraiolo opened #2479 "Interior elements sometimes get dvStates="{'current':'whatever'}""
Snippet from a user file:

[code]

Notice that the ContentPane has `dvStates="{'current':'SDANode1'}"`. Not sure how that happened.

[2012-06-02 01:49] doronrosenberg opened #2480 "Dead file - davinci.ui.widgets.FileFieldDialog"
@jhpedemonte @JonFerraiolo

Going through all the dialogs, I found davinci.ui.widgets.FileFieldDialog which doesn't seem to be used anywhere (but included in a few places).

[2012-06-02 01:56] doronrosenberg commented on #2182
Fixed in rev b731265d00aeac3cd10e29fdfa113050c4c717af

[2012-06-02 01:56] #2182 closed, assigned to doronrosenberg

[2012-06-02 01:57] doronrosenberg commented on #529
Fixed in rev b731265d00aeac3cd10e29fdfa113050c4c717af

[2012-06-02 01:57] #529 closed, assigned to doronrosenberg

[2012-06-02 01:58] doronrosenberg commented on #319
We have a resizable dialog now, but need to make the file selection widget resize with the dialog

[2012-06-02 02:16] #319 closed, assigned to doronrosenberg

[2012-06-02 15:11] JonFerraiolo commented on #2480
@doronrosenberg FileFieldDialog is still used by BackgroundDialog.js via its template HTML file davinci/ve/widgets/templates/BackgroundDialog.html. Would be great if you fix up that code, too.

The way to bring up FileFileDialog in the product:
- Create a DIV
- In Props palette, open up Background section
- Click on one of the "..." buttons to bring up Background dialog
- Under background-image ty

[2012-06-02 19:01] peller commented on #2475
if we start injecting JS routines, I'd agree, maintaining them in a separate file makes sense.  So far, what we have probably doesn't qualify -- one-liner callbacks like the I/O work done by @billreed63   If users write their own JS, they likely should be factoring it out themselves and maintaining their own files.

[2012-06-02 19:04] peller commented on #2480
I think we removed several uses of this module, but that one does remain. In particular, I tried to remove dependencies on ViewLite/WidgetLite which used to be much more common.  This may be one of the last remaining uses.  It would be good if we could remove that, too.  #1088

[2012-06-03 20:45] gers32 commented on #2472
Thanks for the quick answer and workaround.

Cheers,

Chris.
 
The best time to plant a tree is a 100 years ago. The second-best time is now.

Ignorance more frequently begets confidence than does knowledge. (Charles Darwin)

[2012-06-04 13:12] billreed63 commented on #2453
ensure that the dirtyBit is correct when page is loaded

[2012-06-04 16:22] NJM-Goals opened #2481 "Tutorial - Desktop Theme Editor"
How to delete this accidentally reported issue? The right one is #2482.

[2012-06-04 16:27] NJM-Goals opened #2482 "Theme Editor - Global Styling font color not changeable"
The "Tutorial - Desktop Theme Editor" in section "Global Styling" states in 6.7. "Note that all of the text is now red.", which does not occur.
Bug found in Preview6 and could be reproduced with the nightly build of 2012-06-02 01:03.
Screenshot: http://picpaste.de/Theme-Editor_-_Global_Styling_Font_Color_doesntWork-Gl57lS8B.png

[2012-06-04 16:58] #2481 closed, assigned to nobody

[2012-06-04 20:41] JonFerraiolo commented on #2482
@billreed63 - Looks like we have one or more oversights/mistakes in the theme metadata. It looks like we have set the 'color' property for the Global background and Borders widget, but maybe not any other font properties, but didn't update the Generic text widget. Here are possible errors:
- 'color' should be on the Generic text widget, not the Global backgrounds and Borders widget (or maybe just

[2012-06-04 23:21] JonFerraiolo opened #2483 "Need to clean up vestigial dvStates on old user files"
Because of #2478, there are user files that have widget-specific/state-specific style values within the dvStates attribute for states that have been removed from the document. We need to clean up old user files and remove this vertigial code from user HTML files.

[2012-06-04 23:23] #2478 closed, assigned to JonFerraiolo

[2012-06-04 23:23] #2483 closed, assigned to JonFerraiolo

[2012-06-04 23:28] JonFerraiolo opened #2484 "Are you sure prompt when removing a state"
We need to prompt the user "are you sure" when removing a state

[2012-06-05 13:31] JonFerraiolo opened #2485 "Review/commenting should have smarts about StackContainer panes"
This is an adjunct to #1547 (States reconciliation with mobile views, overlay widgets, stackcontainer widgets). In addition to dealing with StackContainer panes in the page editor and reconciling with application states, we also need to make sure this reconcilation extends all of the way to the review editor UI. Just like how review comments are tied to a particular state or mobile view, we need r

[2012-06-05 13:42] JonFerraiolo commented on #79
I just spent time working with a user on creating custom JavaScript that will listen to TreeNodes and performs actions if the user clicks on particular nodes. Here is the app.js file I created for them:

[code]

My conclusion is that SmartInput for Tree should allow for the following information for each node of the tree:
- Label
- Icon
- Events (onclick being most important, but in some cases use

[2012-06-05 14:06] JonFerraiolo opened #2486 "Getting Started popups (with don't show again checkbox) before various operations"
@jmockler

Users have suggested that running Maqetta for the first time, a popup dialog appears that encourages them to visit supplemental materials before getting started (eg, videos, tutorial or doc page), with one of those "Don't show again" checkboxes. We need to talk through the details on this, but among the candidates for one of these popup dialogs:
- Create New Application
- Create New Ske

[2012-06-05 14:10] JonFerraiolo opened #2487 "Docs, videos and/or tutorials on various files that make an a Maqetta-created application"
We need improved and more easily discoverable materials on the files that Maqetta creates. In particular:
- Where are my files stored? On my system? In the cloud?
- When you say "New application" or "New sketch", Maqetta creates an HTML file.
- Maqetta installs app.css and app.js files as a place where you can add custom CSS rules and custom JavaScript logic that apply across all of your HTML page

[2012-06-05 14:14] aerwin opened #2488 "No StackContainer in widget palette"
There's no StackContainer in the widget palette (which I think would probably be kind of important if someone were going to mock-up a wizard).

I see it was commented out in the package.json file in the davinci.dojo_1_7 plugin:

[code]

[2012-06-05 14:14] JonFerraiolo opened #2489 "Docs, videos, and/or tutorials introducing common HTML/CSS layout techniques"
For example:
- CSS positioning: absolute vs static vs relative, and why you usually want to avoid absolute
- Vertical alignment using tables and line-height
- Side-by-side layout using BorderContainer, tables or floats
- Column sizing tricks with tables
- Padding/margin tricks

[2012-06-05 14:29] aerwin commented on #2390
@peller @jhpedemonte

The commit above does a custom build of GridX ( 4b2502a469931812917564d5c068975215d1e3dd ) and copies it into the davinci.gridx/WebContent/gridx directory so that it gets used in both the Maqetta runtime scope and the user iframe scope.

The build scripts in the above commit were also updated to build a layer for GridX (`gridx-all.js`). So, the big hole now is how to referenc

[2012-06-05 14:31] billreed63 commented on #2453
fixed by above commits

[2012-06-05 14:31] #2453 closed, assigned to billreed63

[2012-06-05 14:31] JonFerraiolo commented on #2488
Assigning to me for now. I'm working in this general area. (Also, I'll fess up to being the person who commented out StackContainer)

[2012-06-05 14:42] billreed63 opened #2490 "Banner wrapping to second line on windows"
The text on the right side of the banner is wrapping to a second line on chrome/win the "out' from "log out" is below "welcome"

[2012-06-05 14:43] JonFerraiolo opened #2491 "Rewrite widget.js:allWidgets() to traverse widget hierarchy?"
There is an allWidgets() function in widget.js that (in its current implementation) traverses every single node in the user's iframe:

[code]

It seems to me that we should rewrite this routine to traverse the widget hierarchy using _Widget.getChildren() - that way we traverse only the widget hierarchy and not traverse all of the HTML nodes that Dojo creates as the shadow tree for all of the widge

[2012-06-05 14:46] JonFerraiolo commented on #2490
We have this problem in Preview 6 that users are running?

[2012-06-05 14:51] billreed63 commented on #2469
I can't reproduce this on windows/chrome, are you still see this problem?

[2012-06-05 14:55] JonFerraiolo commented on #2231
This changed in M6 by removing dojo.css (and replacing with document.css). With this change, document.css is not modelled (at least for now). Once we model document.css (#2378), this issue will reappear.

[2012-06-05 14:58] billreed63 commented on #2490
is that a question, the answer is yes I just checked maqetta.org preview 6 has this problem I am running chrome 21.0.1155.2 dev-m

[2012-06-05 14:59] doronrosenberg commented on #2469
I can reproduce this on Firefox windows.

[2012-06-05 15:03] peller commented on #2390
Can you use the same module reference (grid-all.js) in both built and unbuilt scenarios, so that no conditional logic is involved?  What you'd typically do is just "build" a .js file which already exists in the source tree, and it would get replaced with all the dependencies inlined.  Sometimes that module is nothing but a require() with a list of dependencies, other times, it's the main module.

[2012-06-05 15:08] #2361 closed, assigned to doronrosenberg

[2012-06-05 15:09] JonFerraiolo commented on #2469
I just reproduced in Mac/Chrome. Note that there are multiple problems. First, after dropping a new Tree widget, the Properties palette shows an ItemFileReadStore as the current selection, not a Tree. (Which of course is a bug) To select the Tree requires a few steps. You have to unselect all (or select something else), then use the Outline palette to select the Tree. Once you do that, and try ass

[2012-06-05 15:18] billreed63 commented on #2469
The issue is SmartInput not DnD, I was canceling out of the SmartInput and the Tree selection is correct.
Only when you change the tree through SI does the selection get messed up.

What changed in SI?

[2012-06-05 15:20] billreed63 commented on #2490
SmartInput on Tree also has this problem the Ok and Canel buttons are stacked

[2012-06-05 15:27] JonFerraiolo commented on #2490
@billreed63 - can you get into debugger and figure out what's wrong and how to fix? I'm away from my PC until Thursday.

[2012-06-05 15:30] doronrosenberg opened #2492 "Dialogs content should resize correctly with contents"
@jhpedemonte @JonFerraiolo

Tracking bug to track dialogs whose contents should resize with the dialog

[2012-06-05 15:31] doronrosenberg opened #2493 "New file dialog contents should resize with dialog"
See #2492

[2012-06-05 15:38] doronrosenberg commented on #2427
I can't reproduce this, both switches floated to the right.  Note that you have to add clear:both to the divs if you are using floats.

[2012-06-05 15:40] aerwin commented on #2492
Is your intent to do this for all such dialogs across Maqetta? If so, could you add #2385 to your list? If not, I can do that one at some point.

[2012-06-05 15:44] aerwin commented on #2390
That's a good suggestion to replace a file like we do with DataGrid. In the GridX case, I'd replace gridx/Grid. Let me play around with that a bit...

[2012-06-05 16:03] peller commented on #2390
That wouldn't incorporate any plugins, but perhaps we don't use any yet, or perhaps the plugins don't involve so many individual fetches?

The trick here is that your layer will need to have a dependency on other layers (namely dijit.js) which are not contained in the gridx OSGi plugin

[2012-06-05 16:09] aerwin commented on #2390
_That wouldn't incorporate any plugins, but perhaps we don't use any yet, or perhaps the plugins don't involve so many individual fetches?_

Yeah, I figured I'd try to include a minimal set of plugins that we currently use, but that's part of what I'm experimenting with.

_The trick here is that your layer will need to have a dependency on other layers (namely dijit.js) which are not contained in

[2012-06-05 16:11] billreed63 commented on #2469
I think the issue is that SmartInput for Tree only changes the ItemStore  Using the ModifyCommand.
ModifyCommand publishes  "/davinci/ui/widgetPropertiesChanged" with the ItemStore being the widget. So the properties palette and possibly others that list to that message think the selected widget is the item store not the tree.

[2012-06-05 16:12] aerwin commented on #2464
Closing... I don't think this is particularly relevant anymore given discussion in #2390.

[2012-06-05 16:12] #2464 closed, assigned to jhpedemonte

[2012-06-05 16:19] peller commented on #2390
so somehow, when the script runs, gridx/\* and dijit/\* are peers?  I guess that would cover it.

[2012-06-05 16:24] aerwin commented on #2390
Yes, during build time I copy dijit into the tmp directory for the gridx plugin as peer of gridx and then delete it after the build is complete.

[2012-06-05 19:20] #2469 closed, assigned to billreed63

[2012-06-05 19:55] #2490 closed, assigned to billreed63

[2012-06-05 19:57] billreed63 commented on #2490
@JonFerraiolo @jhpedemonte  do we want to update preview 6 on maqetta.org with this fix? It was a change to davinci.css

[2012-06-05 20:10] JonFerraiolo commented on #2490
Thanks for the fix. I haven't actual had a chance to see the bug in action, but based on the description, I think we have to do an update. If we are going to do an update, we also might consider including some other fixes, such as the Tree ID issue.

[2012-06-05 21:04] peller commented on #1843
Brad says it's best to keep everything under maqetta/*, at least for Orion integration. [UPDATE: in order to solve the cookie problem, we need to have cmd/ be in some structure _outside_ maqetta/\* otherwise it would carry the cookies by default.  cmd does not have to be a top-level directory, but it can't be under maqetta/

Right now, user content is at

/maqetta/user/_username_/ws/workspace/proj

[2012-06-05 21:08] JonFerraiolo opened #2494 "Worklight-compatible projects"
@childsb @billreed63

(Note: not an M7 feature!)

I'm at the Innovate 2012 conference and attending sessions.

IBM Worklight Studio is a very interesting product (available for free trial use!) and there seems to be strong interest among mobile developers. One of the interesting things in the Worklight system is that their Eclipse projects have a hierarchical organization based on platform type (e

[2012-06-05 21:09] billreed63 commented on #2490
If we include the Tree fix we should do a quick regress, I was a little more aggressive with that fix due to the fact we are early in preview 7

[2012-06-05 21:11] JonFerraiolo commented on #1843
from a url perspective, how are other workspaces (if that's the correct word) represented? Orion allows connection to remote workspaces, so a given user might have multiple workspaces available to him at a given time. It seems like we have to distinguish between `project1/` in one workspace from a different `project1/` in a second workspace.

[2012-06-05 21:16] billreed63 commented on #2494
So where would I put my JS, CSS, HTML that I wanted to share across all platforms at the same level as the platforms?

[2012-06-05 21:16] peller commented on #194
dup of #1405?
@doronrosenberg

[2012-06-05 21:18] peller commented on #548
-> @doronrosenberg

[2012-06-05 21:27] JonFerraiolo commented on #2494
sorry, I forgot about the `common/` folder

[2012-06-05 21:34] doronrosenberg commented on #194
Not really a dupe.  This is about the semantics, and I think I got most of those fixed now.

[2012-06-06 00:22] #2077 closed, assigned to doronrosenberg

[2012-06-06 17:27] doronrosenberg commented on #957
Fixed by my dialog work

[2012-06-06 17:27] #957 closed, assigned to childsb

[2012-06-06 17:29] doronrosenberg commented on #1287
fixed as part of my dialog work

[2012-06-06 17:29] #1287 closed, assigned to childsb

[2012-06-06 19:40] billreed63 commented on #2057
The fix above is dropping the ')'  on url corrupting the CSS file
`url('xxxx.png')` is being parsed as `url('xxxx.png'` so when the CSSProperty is written out it is invalid

[2012-06-06 19:41] #2057 closed, assigned to billreed63

[2012-06-06 19:42] JonFerraiolo opened #2496 "Review chooseParent helper, allowed* metadata for Views"
Preparing for demos this morning, I found situations where dropping a View onto canvas didn't create a sibling View but instead an embedded view. Users can easily get themselves in a bad state. Need to work on recreation scenarios.

I think the chooseParent helper algorithm allows bad things to happen in some cases. That probably needs to be tweaked.

We might want to post a dialog in some cases w

[2012-06-06 19:42] billreed63 commented on #2057
@JonFerraiolo @jhpedemonte  We need to push this out to Maqetta.org it is a big bug.

[2012-06-06 19:44] JonFerraiolo opened #2497 "Multiple select drag-a-copy - doesn't keep widgets in same order"
- New HTML FIle - iphone
- Add a View, then a RoundRectCategory and a RoundRectList
- Select the RoundRectList, then select the RoundRectCategory
- Drag a copy by holding down Alt key while dragging

Result=> cloned widgets have the cloned RoundRectList first, then the cloned RoundRectListCategory

[2012-06-06 19:46] JonFerraiolo opened #2498 "Can't multiple select in Outline palette"
Various operations on the canvas involving multiple selection aren't available in the Outline palette. For example:
- Cmd/Ctl-click in Outline palette doesn't add to selection. (To make this work, we should probably factor out some of the selection logic from SelectTool.js)
- You can't drag/rearrange in the Outline palette with multiple widgets. Only one widget gets rearranged, not all selected wi

[2012-06-06 19:54] peller commented on #2497
see #963, #1445 (circularly-referenced dup list?)

[2012-06-06 21:19] #2480 closed, assigned to JonFerraiolo

[2012-06-06 21:21] billreed63 opened #2499 "How do we override !important in CSS files"
Some CSS properties have the `!important` so we can't override the rule.
1) Should we include a !important from the palette?
2) if the property we are overriding has a !important  should we put one on ours?
3) fix the base CSS file, this may be more problematic..

here is an example from claro

[code]

[2012-06-06 21:24] billreed63 commented on #2452
fixed by #2453

[2012-06-06 21:24] #2452 closed, assigned to billreed63

[2012-06-06 21:25] doronrosenberg opened #2500 "We are not properly destroying dialogs (leaking dijits)"
@jhpedemonte @peller

In Workbench::showModal, we call destroy on Dialog, which means the contents are not being destroyed.

Changing it to use destroyRecursive works, but we get a js error:

[code]

Any thoughts on how to fix that?  Steps to reproduce (with the destroyRecursive change):
- New HTML File
- Press OK

[2012-06-06 21:35] doronrosenberg commented on #2500
OK, I think this is actually not what I thought it was - I think this is because the 2 targets that generate the new html file dialog are either a dropdown menu (which goes away before the dialog is opened) or the Welcome page, which is hidden as well once OK is pressed in the dialog.

The dialog tries to refocus the previously focused item when it is closed.  Though it is odd that no error occurs

[2012-06-06 22:42] peller commented on #2500
It's probably calling blur on the item that previously had focus, which no longer exists.  I think you need to call hide() to transfer focus before you destroy the Dialog.  Cancel might do that.

[2012-06-06 23:37] doronrosenberg commented on #2500
I am already hiding the dialog before destroying.    I even moved the destroyRecursive to onHide on the dialog, which causes errors in fx.js.  Very odd

[2012-06-07 00:38] #2500 closed, assigned to doronrosenberg

[2012-06-07 03:22] aerwin commented on #2390
Closing with above commits.

[2012-06-07 03:24] aerwin commented on #2433
I think this seems pretty good after adding the custom build stuff in #2390, so closing. @JonFerraiolo , please reopen if you think still a problem.

[2012-06-07 03:46] aerwin opened #2501 "Do basic Dojo build for UI widget plugins (reusing davinci.gridx's customBuildCallbacks.xml file)"
For #2390 ("Do custom build for GridX"), I created a `customBuildCallbacks.xml` file that builds one layer for the gridx library and another layer for the gridx helpers, gridx wizard, etc. I took care to make `customBuildCallbacks.xml` generic (e.g., it contains no hardcoded references to "gridx"). So, I think it could be applied to the other UI widget plugins with relatively little effort to buil

[2012-06-07 14:30] billreed63 opened #2502 "CSSRule writen out incorrectly when contains browser state"
When a CSSRule contains a browser state in the middle of the rule the state is moved to the end of the rule

Calendar date hover
the rule in Claro is

[code]

But when it s modified and written out it is

[code]

[2012-06-07 15:50] peller opened #2503 "Move Samples into samples folder, virtualize"
@JonFerraiolo @jhpedemonte

Among other things, this will help with the builder (#27) to make it easier for the builder to skip sample code.  OTOH, I still like the idea of putting the sample code in its own plugin so it could be built and treated just like user code, while not polluting the file directories for each project.

[2012-06-07 21:37] JonFerraiolo commented on #2479
Closing this.

The bogus entries for `dvStates="{'current':'whatever'}"` were the result of code in Preview5 and earlier in Context.js for variable `currentStateCache`, which I commented out as part of the big states cleanup I did for Preview6. Therefore, new files should no longer have this erroneous markup.

Regarding legacy files created in Preview5 or earlier, we have code in now to clean up a

[2012-06-07 21:37] #2479 closed, assigned to JonFerraiolo

[2012-06-07 22:42] aerwin commented on #2129
In the spirit of trying to keep the plugin system simple for now and avoiding redesigning/rewriting it (as @JonFerraiolo points out we want to avoid in M7)... with the above commit I added the capability for UI plugins to specify "davinci.actionSets" in package.json. Actions found by this approach are just added to the end of action sets defined by the base Maqetta plugins.

[2012-06-07 22:55] JonFerraiolo opened #2504 "Authors need to specify initial state of multi-state widgets"
@jmockler @billreed63 @aerwin @doronrosenberg @jhpedemonte @peller

The way things work now, if you have a TabContainer, the last pane selected in the page editor is the initial pane that shows in preview-in-browser. This is because changing the current pane in the page editor results in the 'selected' property getting changed on the widget, which causes an update to the model, which then of cours

[2012-06-07 23:40] JonFerraiolo opened #2505 "Some ability to deal with back button differences between mobile platforms"

[2012-06-08 02:31] JonFerraiolo opened #2506 "Cam"

[2012-06-08 13:27] billreed63 commented on #2505
This may not be that easy, the hard button on android devices moves you back to the previous application and state, For example I emailed a link to a mobile page I created on maqetta to my gmail account   http://maqetta.org:55556/maqetta/user/billreed@us.ibm.com/ws/workspace/project1/file17.html
I then open my mail app on my phone and touch the link, this opens the browser with my app, now if I to

[2012-06-08 13:54] billreed63 opened #2507 "Outline loses widget selection on style change"
1) DnD dojo contentPane on to page
2) open Outline view, ensure that contentPane is selected
2) change backgound color to red
3) Notice that , the selection disappears in the outline but the widget is still selected in desinger and the properties palette

[2012-06-08 14:18] #2506 closed, assigned to nobody

[2012-06-08 15:49] JonFerraiolo opened #2508 "Parsing error - can't go into source view"
@billreed63
- New HTML File
- Add 2 Tree widgets, make the content different so you can tell which tree is which
- Drag/drop the 2nd Tree in front of first Tree
- Save, close, reopen

=> Maqetta says unable to parse the file, go into source to fix. The reason is that the datastore for one of the trees is later in the file. (Note: if this Tree problem gets fixed, I would guess you could find some o

[2012-06-08 15:49] JonFerraiolo opened #2509 "Drag/drop rearrange 2 Trees, cannot reopen file"
- New HTML File
- Add 2 Tree widgets, make the content different so you can tell which tree is which
- Drag/drop the 2nd Tree in front of first Tree
- Save, close, reopen

=> Maqetta says unable to parse the file, go into source to fix. The reason is that the datastore for one of the trees is later in the file.

Really bad because you can't go into source to fix. See this other issue: #2508

[2012-06-08 16:01] JonFerraiolo commented on #2509
Maybe we need a new helper function or a new pubished event so that particular widgets can be notified (and then do cleanup) when certain things occur. In this case, I suspect that ReparentCommand is getting called, and maybe we have to make sure that the ItemFileReadStore and ForestStoreModel widgets gets moved in front of the Tree.

[2012-06-08 16:44] childsb opened #2510 "can't open CSS, JS or any other plain text file"
1) login to maqetta
2) try and open app.css

notice that an empty editor comes up as if the orion source editor didn't attach to the DOM.

[2012-06-08 16:57] JonFerraiolo commented on #2510
@peller @doronrosenberg

Works OK in Preview6.0.1. We must have broken something recently

[2012-06-08 17:07] doronrosenberg commented on #2510
From what I can tell, the editor widget is never being added to the DOM.

[2012-06-08 18:48] JonFerraiolo opened #2511 "dvStates clobbered on Tree widgets embedded inside of Dojo containers"
@peller @billreed63

If you try to make Trees become visible/invisible using states, and the Tree is nested inside layers of Dojo containers (eg.., BorderContainer, TabContainer, Accordion), the states logic won't work at runtime.

After debugging, what's happening is that AppStates.js is doing its preserveStates/restoreStates logic with the first invocation of the dojo parser, but the dojo parser

[2012-06-08 18:50] #2511 closed, assigned to JonFerraiolo

[2012-06-08 20:05] #2425 closed, assigned to childsb

[2012-06-09 14:45] JonFerraiolo opened #2512 "Exception after saving to different folder"
@childsb

(Assigning to @billreed63 because I suspect this regression is related to his CSS file management cleanups. Maybe the code right now only works when saving into the root folder or maybe only when resources aren't moved around.)
- New HTML File
- Add a Button
- Save to root folder (e.g., project1/)
- Create new folder (e.g., folder1/)
- SaveAs into the new folder
- Switch to source view a

[2012-06-09 17:18] JonFerraiolo opened #2513 "document.css sometimes not there for preview-in-browser"
@billreed63 - document.css isn't always in the source code. I don't have a reproducible scenario right now, but I've been running the old desktop tutorial on the latest code, and document.css is there in the page editor but not there for preview-in-browser, and there is no @import "document.css" in source view.

Is there a chance that your CSS reference counting cleanups aren't dealing with docume

[2012-06-09 17:23] JonFerraiolo opened #2514 "DIV gets width/height=100%"
@aerwin - did you make any initialSize changes for html.div? I thought you were only making fixes for Dojo widgets. Sending your way to see if this rings any bells. If not, feel free to send it back to me.
- New HTML File - desktop hi-fi page
- Drag out a ContentPane of about 200px by 200px
- Drag/drop a DIV into middle of ContentPane

Result=> DIV's width and height are set to 100%. Instead, they

[2012-06-09 17:28] #2094 closed, assigned to JonFerraiolo

[2012-06-09 17:30] JonFerraiolo opened #2515 "Context.js: Review commented out code for currentStateCache and maybe remove"

[2012-06-09 17:30] JonFerraiolo commented on #2094
The above commit addressed the major parts of this bug. Created new issue #2515 for the less important remaining cleanup issues.

[2012-06-09 17:32] JonFerraiolo commented on #2475
I have this mostly implemented in branch AppJs, with this as a most recent commit: https://github.com/maqetta/maqetta/commit/b04ff22bdcd734a489279776f61d42556b6f31f3. Not merging until I can verify that I didn't break the build process with my changes.

[2012-06-09 17:33] JonFerraiolo commented on #2051
Moving to M7/Med from M7/High

[2012-06-09 17:35] JonFerraiolo commented on #1804
Changing from M7/High to M7/Med

[2012-06-09 17:44] JonFerraiolo commented on #1804
I wonder if this approach would work - seems to work in Chrome and Firefox.

[code]

[2012-06-09 17:45] JonFerraiolo commented on #1658
@doronrosenberg Can you take this one? Prio-High, but only because we are trying to not keep pushing code cleanup bugs out into infinity.

[2012-06-09 17:47] JonFerraiolo commented on #2267
@doronrosenberg Can you take this one? Prio-High, but only because we are trying to not keep pushing code cleanup bugs out into infinity.

[2012-06-09 17:49] JonFerraiolo commented on #1417
@doronrosenberg - Any interest in studying this one and seeing if you can find a good path forward, whether it is just tweaking our current code or integrating somehow with a beautifier.

[2012-06-09 17:50] JonFerraiolo commented on #1414
-> @doronrosenberg but OK to bounce it back to me

[2012-06-09 17:51] JonFerraiolo commented on #799
-> @peller

[2012-06-09 17:55] JonFerraiolo commented on #2504
@doronrosenberg - can you look at this one? I would just start with TabContainer and Accordion, and try to implement those widgets in a nice general way that we can apply the same approach to other widgets down the road.

[2012-06-09 18:19] aerwin commented on #2514
Yes, I made initialSize changes for some HTML elements. I can remove that for DIV (and other similar components).

[2012-06-09 21:20] JonFerraiolo commented on #2514
Yes, I'd have to see the details, but I would expect that I would leave all of the HTML elements as they were (which in most cases means we accept defaults) _EXCEPT_ table, which I think should have width:100% when added using flow layout.

[2012-06-09 21:48] peller opened #2516 "Track packages used per page and update packages config info"
@JonFerraiolo

Is there a ticket for this already?  Our loader config info should only pass shapes in if we're using the shapes package, yui only if using yui, etc.

[2012-06-09 21:50] peller opened #2517 "Download: pull down referenced packages only, as default"
@JonFerraiolo

The Download dialog should download packages only if they're used.  Unclear whether we should set the current checkbox defaults according to what's used on the page, or just eliminate all the choices in the download UI

Requires #2516

[2012-06-10 01:40] peller opened #2518 "Parameterize dojo web builder host"
such that dojo web builder can be deployed locally or within a firewall

[2012-06-10 01:40] peller commented on #2518
related to #27

[2012-06-10 01:41] peller opened #2519 "Dojo web builder: build and copy over css files"
css files with @imports should be concatenated and copied to the download zip

[2012-06-10 01:55] peller opened #2520 "Dojo web builder: special handling for inaccessible server"
if the maqetta server is behind a firewall or running on localhost or some other non-addressable URL, dojo web builder will fail, since the content is referenced by URL

Should probably skip the builder entirely for localhost. Is there a quick check we can do to see if a round trip is possible?  Perhaps there's a cheap REST call to DWB to verify?

Right now, if a request fails for any reason, the

[2012-06-10 02:23] peller commented on #2501
The problem isn't so much how to build, but what to build.  As we discussed, building unrelated code into one giant layer would be a mistake.  gridx, at least without plugin options, is a great candidate for a layer.  Some helpers may involve many dependencies and also be good candidates for a build.  Others may be one-offs, where lazy-loading or pre-fetching may be a better option.  Also, once we

[2012-06-10 04:08] peller opened #2521 "Download selected files icon should be disabled when there's no selection"
now, if there's no selection, the dialog comes up with a message telling you that there's no selection and you can't continue

[2012-06-10 04:54] peller opened #2522 "Download builder needs to consider selection"
when calling the web builder, calculate html list from selection, not from entire workspace.  Download as selected may only involve a subset, or no HTML to build at all

[2012-06-10 13:32] JonFerraiolo opened #2523 "Closure problem with ToggleTree.js - prevents outline selection with 2nd file load"
@doronrosenberg

I'm not sure what change caused this to regress from Preview6.
- Launch Maqetta with no files open
- Double-click on Sample1.html to open
- In Outline palette, open up the TabContainer and click-select either 2nd or 3rd ContentPane. Notice that click-select in outline causes the corresponding pane to be selected in the TabContainer
- Close Sample1.html
- Double-click on Sample1.ht

[2012-06-10 18:06] childsb commented on #1030
Finished first pass impl.

[2012-06-10 18:06] #1030 closed, assigned to childsb

[2012-06-10 20:36] aerwin commented on #2501
@peller

I'm not proposing we build one giant layer. But, as I observed doing the gridx build stuff, even without a giant layer we still gain benefits from doing the bare bones dojo build of the JS parts in each plug-in (e.g., minification, inlining HTML templates, etc.).

So, I wanted to leverage what I did for gridx so that each UI plugin could have their own basic dojo build profile and a minim

[2012-06-10 22:06] JonFerraiolo commented on #1147
@childsb - how about seeing if @doronrosenberg will pick this one up?

[2012-06-11 01:44] peller commented on #2501
Excellent points... basic minification and inlining would be a positive step

[2012-06-11 03:40] jhpedemonte commented on #1417
@childsb

Does Orion provide any functionality for formatting/beautifying code?  If so, we should build on top of that.

[2012-06-11 03:47] jhpedemonte commented on #2451
Also **Sample3-mobile.html**.

What action do we want to take here?  Should we copy these files into migrated projects, or just let it slide for now?

[2012-06-11 13:10] billreed63 commented on #2512
The issue is that when we save the file to a different folder the source/model does not get updated correctly. The only `@import acc.css` does not get removed so when are attempting remove a working copy of a file that does not exist.

[code]

[2012-06-11 14:03] JonFerraiolo commented on #2451
Let's copy the missing files into existing user workspaces.

[2012-06-11 14:19] JonFerraiolo commented on #2503
-> @childsb

[2012-06-11 14:22] JonFerraiolo commented on #2463
@aerwin - can you investigate this one, and if someone else would be better to tackle this, then please reassign to that person.

[2012-06-11 14:22] billreed63 commented on #2513
I think the problem is in the code in Context.js that adds document.css to the model

the code in context.js

[code]

Runs through the imports looking for URL's that contain themes/, so in our case the imports have

[code]

So the code selects the last url with the word "themes/" in it.

Then the code attemps to add the document.css using

[code]

So in this case it has the wrong path to the theme

[2012-06-11 14:24] aerwin commented on #2514
Fixed with above commit.

[2012-06-11 14:24] #2514 closed, assigned to aerwin

[2012-06-11 14:46] billreed63 commented on #2512
This was not a regression it just exposed an existing bug

[2012-06-11 14:47] billreed63 commented on #2513
Not a regression, the change to importing claro from dijit exposed this bug

[2012-06-11 14:56] aerwin commented on #2463
-> @childsb  Taking a look at when this might have regressed, I suspect this is related to commit 14a3498ac303a49a4c8c1a35705489d53397cc9b where the path was removed from pagedesigner.html:

[code]

So, routing to @childsb .

[2012-06-11 14:59] JonFerraiolo opened #2524 "Rewrite Outline palette to use dojo.store"
Spin off from #750

[2012-06-11 15:04] JonFerraiolo commented on #1414
-> back to me

[2012-06-11 15:32] aerwin opened #2525 "HTTP error with local builds"
@JonFerraiolo saw this over the weekend. And, now when I'm trying to do a local build against the latest code on the server repository, I'm seeing it as well. Basically, the build completes successfully, but when going to http://localhost:50000/maqetta, I see:

[code]

I know launching using the Eclipse launch scripts got broken last week. And, there were some dependency issues that @peller and @c

[2012-06-11 15:35] #2371 closed, assigned to childsb

[2012-06-11 15:44] billreed63 commented on #2512
I fixed the exception but we still have the real issue of the extra app.css that does not exist
1) Do we want to add and app.css in the created folder?  if so this is related to #2401
2) If we don't want an app.css in the subfolder we need to be smarter about adding app.css inot the html file

[2012-06-11 15:48] JonFerraiolo commented on #2512
Reassigning to me to investigate. I'm working on adding an app.js file to each user project (#2475) and I'm currently stuck on the "save to different folder" issue with app.js.

[2012-06-11 15:54] childsb commented on #2371
The main cause of this was an auto save call that happened during the Context._setSource(..) madness.  The autosave happened before the init had finished causing the editor to mark dirty.

This erroneous autosave call was propping up another bug where dirty editors aren't being marked dirty on refresh.

[2012-06-11 16:14] JonFerraiolo commented on #2465
-> @aerwin for time being (might end up going elsewhere ultimately)

[2012-06-11 17:00] aerwin opened #2526 "CSV support for tables is broken"
1. Create new HTML page
2. Drop GridX on to page
3. Select "Data file from workspace" on fix page of wizard
4. Specify "sample.csv"
5. Click finish and get error in pop up dialog:

[code]

Also, various syntax errors in the console (which might be expected given how the CSV support depends on fail over after first trying JSON format):

[code]

[2012-06-11 17:07] aerwin opened #2527 "Opening file in text editor doesn't show data"
1. In files palette, double-click on sample_data/sample.csv or sample.json
2. Text editor opens, but no data is displayed

Using Chrome on Mac.

[2012-06-11 17:10] aerwin commented on #2527
Actually, don't think file type matters... e.g., looks like neither css nor js work either. So, changing title to "Opening file in text editor doesn't show data"

[2012-06-11 17:16] JonFerraiolo commented on #2527
Dupe of #2510?

[2012-06-11 17:17] aerwin commented on #2526
-> @doronrosenberg

@doronrosenberg is this one in your domain? Not sure, I don't think I've ever seen CVS support work. When I look at the HTML source for the page, I see it's stil trying to use `ItemFileReadStore` rather than `CSVStore`

[code]

[2012-06-11 17:20] aerwin commented on #2526
When I do break on all errors in Chrome, it looks like it dies in `reparentTheStore` on the `var x = storeParent.indexOf(storeWidget);` line in `DataGridHelper`::

[code]

[2012-06-11 17:21] aerwin commented on #2527
Yep, sorry... closing...

[2012-06-11 17:21] #2527 closed, assigned to jhpedemonte

[2012-06-11 18:12] billreed63 commented on #2525
I was seeing something this last week with Adams addtion of
org.apache.commons.httpclient
maqetta.core.server: META-INF/MANIFEST.MF

Maybe the package is missing.

[2012-06-11 19:09] doronrosenberg commented on #2526
Sounds like a timing issue, we are probably re-parenting too early.  Thought I had that fixed, might have missed GridX

[2012-06-11 19:22] doronrosenberg opened #2528 "Dialogs - get submit buttons working"
I had to remove submit buttons from dialogs due to focus issues - see pressing OK during new file creation.

Need to get them back for a11y

[2012-06-11 19:35] JonFerraiolo commented on #1745
Dupe of #2498, closing

[2012-06-11 19:35] #1745 closed, assigned to peller

[2012-06-11 19:36] JonFerraiolo commented on #1890
-> @doronrosenberg hopefully falls out of #2524

[2012-06-11 19:37] JonFerraiolo commented on #2498
-> @doronrosenberg - nice to have for M7

[2012-06-11 19:39] JonFerraiolo commented on #148
@doronrosenberg just so you are aware - at some point we want to inject a check in Tree drag/drop handlers so that we can disallow certain drag/drop rearrangement attempts, but not a requirement for M7

[2012-06-11 19:51] doronrosenberg commented on #2526
Hmm, using json files seems to be broken as well for me.

[2012-06-11 19:54] aerwin opened #2529 "No resize handles for widgets with "resizable": "height" in metadata"
1. New HTML file
2. Drag/drop Vertical Slider onto canvas
3. With widget selected, you can resize it in the vertical direction. But there are no resize handles on top and bottom edges.

In contrast, widgets with "resizable": "width" in metadata have resize handles on the left and right edges.

Also, we will soon have another widget (&lt;tr&gt;) that will have "resizable": "height" specified in met

[2012-06-11 19:56] aerwin commented on #2526
That's odd... when I tried sample.json earlier (and again just now) when running from Eclipse, it worked just fine.

[2012-06-11 19:57] JonFerraiolo commented on #464
Closing as dupe of newer bug #2183

[2012-06-11 19:57] #464 closed, assigned to doronrosenberg

[2012-06-11 19:57] JonFerraiolo commented on #2183
Be sure to see discussion under #464

[2012-06-11 19:58] doronrosenberg commented on #2526
I was testing mobile data widgets actually, seems to be another issue.

[2012-06-11 19:59] aerwin commented on #2526
though that's without first trying (and failing with a CSV file)... it looks like if I try CSV then JSON, JSON fails (but I'm guessing because of the errors when trying CSV)

[2012-06-11 20:00] JonFerraiolo commented on #2529
-> me M7/High

[2012-06-11 20:03] #2529 closed, assigned to JonFerraiolo

[2012-06-11 22:15] #2526 closed, assigned to doronrosenberg

[2012-06-11 23:17] doronrosenberg commented on #2524
One interesting part is supporting adding/removing directly on the model.  Which means listening to add/remove/modify/move/etc commands and mimicking those in the dojo.store.Memory.

[2012-06-11 23:27] doronrosenberg commented on #2524
Or we could just write our own dojo.story.api wrapper around the widget model, basically creating a thin wrapper.

[2012-06-12 04:02] peller commented on #2525
I think @childsb said he got this working?

[2012-06-12 19:33] #2525 closed, assigned to childsb

[2012-06-12 19:36] childsb commented on #2525
Fixed here: 241a4bb912b66c72c830bed76738bff7b74ce236

[2012-06-12 20:46] childsb commented on #2503
i've got the code ready to go for this bug, but.. how do we want to handle the samples?  Will they always be read only?

We dont really have a UI path for copying libraries into the workspace as read/write.

one option is to copy library files to the workspace if the user saves them.

[2012-06-12 20:56] peller commented on #2503
I'd be ok if the user had to do a save as... to modify.  But what would happen if the user just started editing?  Would there be a problem saving a "working copy" file in the interim?

[2012-06-12 20:56] JonFerraiolo commented on #2503
I was thinking all of the pre-loaded samples files would all be read-only. If a user wanted to customize one of the files, they would have to do a SaveAs operation.

Right, if it's a magical redirect thing, it should be read-only.

not sure what you mean here. If you mean the file becomes read/write after a SaveAs operation, then I'm with you.

[2012-06-12 22:00] childsb commented on #2503
The current behavior (with my changes) is that the user can open/modify the library sample, but is unable to save or have a "working copy".  Browser refresh opens file but any changes are lost.

Save as different file name works.  However, save with same file name would need some fix up.

[2012-06-12 22:35] JonFerraiolo commented on #2503
@childsb - We need to handle app.js and app.css differently. (app.js is a new file that will be merged into master soon, maybe in next couple of hours) These files need to be (read/write) copies into users project versus all of the other things in the `maqetta-core-server/WebContent/samples/` folder. Maybe we need two different folders, one for things that get linked into user projects as magic re

[2012-06-12 22:44] #2475 closed, assigned to JonFerraiolo

[2012-06-12 22:44] #2512 closed, assigned to JonFerraiolo

[2012-06-12 22:55] JonFerraiolo opened #2530 "Properly relocate user CSS and JS files, @import vs LINK"
@jhpedemonte

(I can probably take this one if @childsb doesn't want to do this or doesn't have time)

We now have logic in RebuildPage.js to handle relocation issues with SaveAs into different folder for app.js and app.css, but we don't deal with arbitrary user JavaScript (eg., mylogic.js) or arbitrary user CSS files (e.g., mystyles.css). As things stand right now, RebuildPage includes a hardcode

[2012-06-12 23:13] peller commented on #2503
Sounds magical.

I was thinking of a folder simply named 'samples' that would appear as a 'samples' folder in the user's workspace.  If the user wants to modify and save as, they can create their own folder or save it anywhere they are permitted to.

[2012-06-12 23:54] megaD opened #2531 "Maqetta tries to close br tags"
I know it should be `<br />` but a lot of people still type `<br>`. Maqetta tries to close br tags but it's done not visible for the user. It happens when the document is saved or previewed. Either the closing tag needs to be inserted after someone typed in `<br>` or it should not happen. Otherwise it's pretty confusing for users.

[2012-06-13 00:30] JonFerraiolo commented on #2503
Yes, my thinking too. If you combine with my proposal above, you'd have:

[code]

[2012-06-13 01:19] JonFerraiolo commented on #2503
One more thing. I have implemented a new feature, New HTML File from Template, where we have a new `templates/` folder in each project, and users can put their favorite HTML files into that folder, and these HTML files will appear when the user issues a New HTML File from Template.

The reason for bringing this up in this issue is that we will have yet another folder. Users need to be able to save

[2012-06-13 03:01] JonFerraiolo commented on #2001
This is about fixing up HTML files that the OK, I've thought about this one. There are things we can do, but I don't see any of them as feasible for the M7 timeframe, so I'm going to push this to M8/High. Here are two approaches we could take:
- When we open an HTML file, and there are CSS, JS and other things that aren't at the location specified in the file, we could have our client-side code ru

[2012-06-13 13:31] peller commented on #2523
@JonFerraiolo The code you show above is over one month old.  The instance object is now used instead of the prototype (#2179) so the nesting you mention should not happen.  I wonder where you would have seen this code recently?

The problem is no longer reproducible.

[2012-06-13 13:31] #2523 closed, assigned to peller

[2012-06-13 14:30] JonFerraiolo commented on #2523
Oh, very sorry about all of this. I'll bet I logged this bug while working in a branch on some new features, and wasn't aware that I was in a branch, and (very bad of me) didn't think to check the offending code versus master/trunk to see if this code had been fixed.

[2012-06-13 15:58] aerwin opened #2532 "CSV support not working via remote URL"
@doronrosenberg

Spin-off of #2526...

The internal user who is trying to use the CSV support would like to point at his CSV data through a remote URL. However, while his file works if I upload it to the workspace, it fails when pointing at it remotely:

[code]

Note: If I grab the data in the response and paste it into the text entry form that works, so I don't think there's any thing wrong with

[2012-06-13 16:18] aerwin commented on #2532
I take back the part about the specific external URLs I mentioned.
- http://publib.boulder.ibm.com/infocenter/tivihelp/v41r1/topic/com.ibm.ismsaas.doc/reference/AssetsImportCompleteSample.csv
  - I think uploaded file is handled correctly by CSV logic (e.g., wizard completes and table comes up using CSVStore). But, table can't render data. Think this is totally unrelated to this issue or #2526.

[2012-06-13 16:32] aerwin opened #2533 "Found sample CSV file that doesn't render in GridX"
Spin-off of #2526 and #2532...

While trying to reproduce #2532, I found a couple of CSV files on the internet. One doesn't work when uploading and referencing from a Maqetta workspace. But, if I paste the data from it into the free entry text field using the "Comma separated data" option it appears to work.

The file can be downloaded from:

http://publib.boulder.ibm.com/infocenter/tivihelp/v41r1

[2012-06-13 16:32] JonFerraiolo opened #2534 "Tree indentation wrong at runtime if descendant of ContentPane"
In some scenarios, Tree widget indentation is wrong at widget startup time, and only gets fixed when the user resizes his browser window (which somehow or other triggers a resize() on the Tree).

@peller needs to work with Dojo team to see if there is a possible fix for this in the dijit.Tree code.

[2012-06-13 16:37] JonFerraiolo opened #2535 "Patch code in AppStates.js to resize Trees on state changes?"
If the result of #2534 is that there is no reasonable fixes on the Dojo/Dijit side for the indentation problems that sometimes occur with Tree widgets, we might need to include a Tree-specific patch into AppStates.js. Here is some code that I provided to a user for their `app.js` file to address this issue when using Preview 6.0.1:

[code]

@peller

[2012-06-13 17:14] doronrosenberg opened #2536 "Dialogs that need conversion to new look"
The dialog that says "This property change cannot be completed because the operation attempts to modify a read-only theme CSS file." needs to support the new look buttons

[2012-06-13 17:32] aerwin commented on #2433
With lab9 now updated to use all of the custom build stuff from #2390, I'm seeing this problem (even in Chrome). Though it kind of seems like only the first drop with an empty cache exhibits the problem. At any rate, reopening...

[2012-06-13 17:37] Davpaul opened #2537 "Keeps adding a space in my CSS stylesheet, in my div tags"
I've tried editing in a text editor then uploading it, i've tried adding it inline or as a style sheet, but for some reason, when ever I go back to my code maqetta has added a space in "div#rssincl -box-491322"

for example:

div#rssincl -box-491322 \* {
    font-family : Verdana, Arial, sans-serif !important;
    margin : 0 !important;
    padding : 0 !important;
    border-radius : 10px !importa

[2012-06-13 17:38] aerwin commented on #2433
Paying attention to the Network tab in Chrome developer tools, it seem like when the "hang" occurs that `DropDownSelect.js` is the last file loaded. Clicking in the canvas then leads to `ItemFileReadStore_oam.json` and the rest of the needed files to be loaded.

[2012-06-13 17:41] aerwin commented on #2433
More precisely

/maqetta/app/dojox/form/DropDownSelect.js

and

/maqetta/app/metadata/dojo/1.7/dojo/data/ItemFileReadStore_oam.json

[2012-06-13 17:43] peller commented on #2534
@wkeese

The only scenario where I see a problem is a Tree embeded in a hidden HTML (e.g. DIV display:none) within a ContentPane)

[2012-06-13 17:58] JonFerraiolo commented on #2537
Thanks for the bug report! I was able to reproduce when I added a STYLE element inside of an HTML file.

As a workaround with Preview 6, can you try to put the above style rules in your app.css file? For me, the extra space wasn't added.

Another possible workaround might be to avoid the dash/hyphen character in IDs until we fix this.

[2012-06-13 18:19] doronrosenberg opened #2538 "Executed commands should publish granular data"
@jhpedemonte @JonFerraiolo

Currently Outline rebuilds the entire Tree each time a command is executed.

If we want to fix this, we need commands to publish some data about what they did.  Currently we have `context.widgetAddedOrDeleted` that gets called for any modifications, but no data is passed into it.

I think that the easiest solution would be to add the following to context.js:

[code]

We

[2012-06-13 18:42] peller opened #2539 "Dialog tab order does not include buttons"
Open a dialog like the new HTML file dialog.  Tab takes you through the input fields, but does not include the create/cancel buttons.  Seems to be true for all our new dialogs.

[2012-06-13 19:01] JonFerraiolo commented on #2538
I like the direction proposed above. I think it's better to do direct function calls whenever possible and avoid pubsub when there is the possibility that a particular widget needs to listen for a particular event. Suppose 5 different widgets need to listen to widgetAdd. Then all 5 widgets would get called each time any widget was added, and those 5 widgets's subscribe function would need to check

[2012-06-13 19:32] peller opened #2540 "warnings when changing background color on claro"
running the themesets testplan...

created a clone of claro called claro2
selected the global widget and changed the background color
the following messages appear in the console, although I did not notice any side-effects

[code]

[2012-06-13 19:54] childsb commented on #2503
theres a maqetta.core.server/WebContent/project that contains all the files needed for each project.  Project non sample code (app.js and app.css) should go in there for consistency.  It already houses the maqetta specific project required library.  i can add "common" for for app.css and app.js and set the initialUserFiles extension so they're copied in (and not virtual).  samples should probably

[2012-06-13 19:58] childsb commented on #2503
I stuck with the InitialContentReadWrite, but moved under the project folder.

[2012-06-13 20:00] #2503 closed, assigned to childsb

[2012-06-13 20:08] JonFerraiolo opened #2541 "document.css missing from one of our themes"
When testing today, I see this message in console:

GET http://lab9.austin.ibm.com:50020/maqetta/user/jferrai@us.ibm.com/ws/workspace/project1/lib/oneui/themes/claro/document.css 404 (Not Found)

[2012-06-13 20:16] JonFerraiolo opened #2542 "Error converting session timeout Dialog to new ResizableDialog"
@billreed63

When my session timed out, I got error messages in the console (and timeout dialog did not appear). Investigating some, I suspect it's a typo in Workbench.js. Here are the first several lines of the `require`:

[code]

and here are the first several lines for the corresponding parameter names:

[code]

The timeout logic (line 115) refers to Dialog and not ResizeableDialog, so it's und

[2012-06-13 20:29] JonFerraiolo opened #2543 "One of our themes isn't getting built"
Probably already on your todo list, but doesn't hurt to have a reminder in the form of an issue.

The oneui theme isn't built now. If I include a widget that uses that theme, then things slow down dramatically because we are pulling all of the CSS files one by one from server, and remember we don't cache CSS files.

[2012-06-13 20:42] aerwin opened #2544 "Can only create new folder or upload files to lib directory"
All of the root-level files (except for the "lib" folder) are now greyed out (which may be correct given recent efforts to virtualize the samples?). But, as a result, if I following the Files Palette test plan, when I right-click on any of these greyed out files the only option that's enabled is Download.

The New Folder... and Upload option are disabled, so I can't create a new folder or upload t

[2012-06-13 20:43] painbank opened #2545 "maqetta.local.win.bat fails to find jarfile"
I tried running the default bat script to launch maqetta on my WinXP machine.

Process:
1. Download GitHub codebase.  -- I put this in a local directory: c:\maqetta.
2. Download Eclipse J2EE version and following documentation instructions, get the Server to launch from within Eclipse.  This worked fine.
3. I then try to launch it just using the maqetta.local.win.bat file.

Here is my results:

"

[2012-06-13 20:43] JonFerraiolo opened #2546 "Wasteful calls to removeWorkingCopy when in source mode"
@childsb
- Run using debugger, open up network tab
- New HTML File
- Add several Dojo controls: Button, CheckBox, RadioButton, ComboBox, ComboButton
- Go into source view and change the label string on one of the widgets

Result=> there are some removeWorkingCopy commands that are executed for CSS files, but those files haven't been touched by any of the operations I performed. Are we calling remo

[2012-06-13 20:54] aerwin opened #2547 "Size of certain dialogs too small"
@doronrosenberg

This might already be part of your list of clean-up items, but in Chrome/Mac I'm running into a few dialogs that are sized too small on launch such as:

![screenshot](http://i.imgur.com/YJobc.png)
![screenshot](http://i.imgur.com/gZluG.png)

[2012-06-13 21:12] wkeese commented on #2534
OK, well it's standard procedure that layout widgets need to be visible before resize() gets called on them, so the issue doesn't surprise me.    Tree tries to get its indentation amount from CSS, measuring the width of the node with class="dijitTreeIndent".

So I guess the other workaround would be to override Tree.resize()  and hardcode a width.

[2012-06-13 21:24] aerwin opened #2548 "No dirty bit on new HTML file, but file disappears when close editor"
1. Create new HTML file
2. Note no dirty bit
3. Close file by clicking X in page editor
4. No warning message is displayed that I'll lose the file, but the file disappears from the files palette

[2012-06-13 21:29] JonFerraiolo commented on #2544
Maybe fixed by 5cda584342

[2012-06-13 21:30] aerwin opened #2549 "JS error when deleting new file"
1. Create new HTML file
2. Right-click on file in File palette and choose delete
3. Click OK on the "are you sure?" dialog
4. Editor and file go away, but extra dialog that says "undefined" pops up and there are errors in console:

[code]

[2012-06-13 21:53] childsb commented on #2544
you'll have to find some white space to context click in.  if you're hovering over the folder line, the folder should get selected (and marked read only)

[2012-06-13 21:53] #2544 closed, assigned to childsb

[2012-06-13 21:56] JonFerraiolo opened #2550 "Need to invoke updateFocus(All) when changing properties in theme editor"
- Open Claro theme editor
- Select TextBox
- Change border-width to 3px

Result=> Focus chrome obscures bottom border of TextBox. Click away to unselect, then reselect the TextBox. Notice that bottom border is now visible within selection chrome.

We may just need to add this to theme editor whenever a command executes:

[code]

I think we do this for page editor already, but I'm not absolutely su

[2012-06-13 22:05] aerwin opened #2551 "Download as zip fails"
1. Right-click on app.css
2. Choose Download option
3. Accept defaults on dialog and click ok
4. Get redirected to a blank page
5. Click back to get into Maqetta and things seem pretty broken until clear cache and reload

[2012-06-13 22:08] aerwin commented on #2551
I've also tried with an HTML file I created and the dialog doesn't go away and I see JS errors in console:

[code]

[2012-06-13 22:09] aerwin commented on #2551
This same error occurs if try to download the entire workspace.

[2012-06-13 22:36] JonFerraiolo opened #2552 "Wrong editor exception - theme editor _themeChanged not invoked"
I'm not sure what's going on wrong here or whether recent changes caused a regression, but when following the steps below, the _themeChanged function from a (now-defunct) page editor gets called, causing an exception, instead of the theme editor's _themeChanged function.
- Clone claro into claro2
- Change border-color on TextBox
- Save
- New HTML file
- Add a TextBox
- Save
- Switch to claro2
- Sa

[2012-06-13 22:40] aerwin opened #2553 "Don't seem to be able to reopen files"
On maqetta-test:
1. New HTML file
2. Drag button onto page
3. Save and close page
4. Try to reopen and get blank editor and number of Chrome console errors:

[code]

[2012-06-13 22:48] JonFerraiolo commented on #2545
Closing.

The various launch scripts in davinci.product are only for launching what is produced by the Maqetta build scripts (the result of running davinci.releng/build.sh or davinci.releng/build.bat). When we post automatically-generated nightly builds on http://maqetta.org/nightly, our automatic build scripts will build all of the JARs, copy in the launch scripts such as maqetta.local.win.bat, a

[2012-06-13 22:48] #2545 closed, assigned to nobody

[2012-06-13 22:52] aerwin opened #2554 "lab9 system messed up"
At some point this afternoon, the lab9:50010 became unusable for me with JS errors, etc. I had to force quit Chrome a number of times. I just reset my workspace and now I just get a blank page with the Maqetta banner at the top. And, no JS errors in the console.

[2012-06-13 22:58] aerwin commented on #2554
I just created a new user profile and I now see a full Maqetta page, but I got JS errors on launch:

[code]

I then tried to create a new HTML file and when I click create on the dialog nothing happens except I can't close the browser tab creating Maqetta. So, I'm going to Force Quit Chrome again.

[2012-06-13 23:07] JonFerraiolo opened #2555 "Wrong theme metadata values for MenuItem hover with background-color?"
When I'm in claro theme editor and I set background-color for the Hover state for a MenuItem subwidget, the following rule goes into my delta theme CSS file:

[code]

But at runtime this rule is not having any effect. I wonder if the `.dijitMenuPassive``` part is wrong.

Also, it seems that Hover and Selected should be separated out to allow users to assign different values to those two states, bu

[2012-06-13 23:28] Davpaul commented on #2537
It works inside the app.css file! Thank you.

It unfortunately still isn't being applied where I want it too.

I'm embedding a RSS feed using an external site and javascript. (hence the long Div id!) unfortunately the linked script has it's own Style sheet and my CSS is ignored, even with !important on everything

being new relatively new to html5/CSS I assumed it was me and I just have to try har

[2012-06-13 23:40] JonFerraiolo commented on #2554
I'm not sure what's going on for you, but 50010 works fine for me. There is a problem with our session timeout logic, where the dialog doesn't come up but the session is dead. However, restarting the browser should clear up that problem.

[2012-06-13 23:44] JonFerraiolo commented on #2551
Download workspace worked for me just now (doing my section of test suite). This is a longshot, but could it be that you have some large cookie values that are causing the HTTP requests to bust on the Jetty/server side? In the past, I've had similar weird problems and they were due to cookies being too large. (Had to clear my cookies) Also, note that our notification dialog for session timeout is

[2012-06-13 23:50] JonFerraiolo opened #2556 "Can we enable context menu over any part of Files palette?"
@childsb

Right now, the context menu on the Files palette only comes up when the mouse is over one of the read/write files. Given that there are a number of read-only files, a user may either never figure out that there is a context menu in the Files palette or experience frustration trying to bring up the context menu.

Can we enable context menu over any part of Files palette?

Note that contex

[2012-06-13 23:57] JonFerraiolo commented on #2537
I actually would be surprised if Maqetta is doing something wrong in this case. I suspect it's the nature of the HTML content and the other CSS that you are using. Unfortunately, to figure out why your CSS isn't getting applied to the element is going to involve some CSS debugging. Do you know how to use the Chrome, Safari or Firefox debuggers to figure out which CSS rules are apply which properti

[2012-06-14 00:05] Davpaul commented on #2537
Something very strange just happened. I was installing firebug and had to reset the browser, and low and behold once it reloaded the element was working perfectly!
It worked!

Thank you for the app.css idea!

on a separate note, Just wondered if maquetta has/plans to get a RSS reader widget?

[2012-06-14 00:22] wkeese commented on #2534
OK, I checked in something that hopefully works around your issue: http://bugs.dojotoolkit.org/changeset/28846/dojo.

Try it out.

[2012-06-14 00:30] peller commented on #2534
Looks great.  Thanks, @wkeese!  We'll pick this up when we move to 1.8.

[2012-06-14 02:11] aerwin commented on #2551
Your suggestion of clearing cookies seems to have cleared things up. So, I guess I'll close the issue.

[2012-06-14 02:11] #2551 closed, assigned to peller

[2012-06-14 02:12] aerwin commented on #2554
Your suggestion of clearing cookies for #2551 seems to have cleared things up for this issue as well. So, I guess I'll close.

[2012-06-14 02:12] #2554 closed, assigned to nobody

[2012-06-14 02:13] aerwin commented on #2553
@JonFerraiolo 's suggestion to clear cookies for #2551 seems to have cleared things up for this issue as well. So, I guess I'll close.

[2012-06-14 02:13] #2553 closed, assigned to nobody

[2012-06-14 02:16] peller commented on #2551
why we should perhaps reconsider #1843, even if only for the cmd/ servlet

[2012-06-14 02:37] aerwin opened #2557 "Sample1.html rendered incorrectly after modify libraries"
Following the Files Palette test case, I modified my dojo library to be mylibs/dojo. After doing so, when I open Sample1.html it is not rendered correctly and errors in the console indicate it's still trying to get css files from lib/dojo instead of mylibs/dojo:

[code]

[2012-06-14 02:40] peller commented on #2542
yeah, I noticed that also: 0241ec9120d8f363821eba0da0feb59bfa6868b3  Doron, please make sure I got it right.

[2012-06-14 02:40] #2542 closed, assigned to doronrosenberg

[2012-06-14 02:53] aerwin opened #2558 "Changing button width with custom theme fails"
Doing Properties 4 test plan... doing Step 7 (where change button width after switching themes), it fails with:

[code]

After this point, my workspace seems rather corrupted and I have to create a new project to continue.

(I also noted when I switched themes, the button wasn't rendered correctly. I think there's a separate issue for document.css missing from some themes.)

[2012-06-14 03:06] JonFerraiolo opened #2559 "RSS reader widget"
@Davpaul asks:

@peller - are you aware of any RSS reader widgets in the world of Dojo? I did a quick web search and didn't see anything, but maybe I searched on the wrong topics.

[2012-06-14 03:22] peller commented on #2559
there is dojox/atom/widget, also some rss readers but I don't think they're open source

[2012-06-14 03:24] peller commented on #2535
looks like we can close this, unless you're looking for a short-term fix for Preview 6

[2012-06-14 03:30] peller opened #2560 "convert samples to use data-dojo-type"
dojoType -> data-dojo-type

[2012-06-14 03:37] jhpedemonte commented on #2558
-> @billreed63 for now, since theme code seems to be involved.

@JonFerraiolo

[2012-06-14 03:38] jhpedemonte commented on #2557
-> @billreed63

[2012-06-14 03:40] jhpedemonte commented on #2556
I cannot reproduce this.  Just tested and i right-clicked on a read-only file.  Got a context menu with only **Download** enabled.

[2012-06-14 03:42] JonFerraiolo commented on #2535
closing, although I'll point out that there is still the obscure scenario where a user wants a different indent amount than 19px and they have a page with a Tree inside of a hidden DIV inside of a ContentPane. They'll get 19px instead of the indentation they want. But for this obscure case, we can tell people to put the snippet I show above into their app.js file.

[2012-06-14 03:42] #2535 closed, assigned to JonFerraiolo

[2012-06-14 03:45] jhpedemonte commented on #2549
Perhaps this is similar to other issues and will work correctly now that you've cleared cookies?

[2012-06-14 03:46] jhpedemonte commented on #2548
So you closed a new file that you hadn't added any content to?  Then the correct behavior is to not show a warning message.

@JonFerraiolo

[2012-06-14 03:47] JonFerraiolo commented on #2559
Is dojox/atom/widget one of those well-supported widgets that is actively maintained?

[2012-06-14 03:48] peller commented on #2549
@childsb

would be great to figure out why a null exception is thrown, regardless.  I thought the cookie length issue threw a special http error code rather than a 500?

[code]

[2012-06-14 03:48] aerwin commented on #2548
that's fine, but then I don't think the file should disappear from the file palette (see Step 4)

[2012-06-14 03:48] jhpedemonte commented on #2547
I believe the **Upload Files** dialog was always that small.  Odd that the buttons are stacked, rather than side-by-side.

As for the layout dialog, that didn't used to have buttons.  It just acted on whatever the user chose from the drop down.

Lowering priority to Med.

@JonFerraiolo

[2012-06-14 03:51] aerwin commented on #2549
No, don't think this has anything to do with the cookie issue. Happened before I ran into any cookie issues, and I just reproduced.

[2012-06-14 03:52] peller commented on #2559
no.

[2012-06-14 03:53] peller commented on #2536
also the horizontal slider creation dialog

[2012-06-14 03:57] aerwin commented on #2547
Guess I had opened it high because it's regression and looks really bad (e.g., I don't think we'd ship Release 1 with that going on). But, I understand it's not really a blocking functional issue.

[2012-06-14 12:18] ghost commented on #2520
Dojo web builder currently won't build maqetta pages even work on local build. This is because DWB is already configured to dojo version 1.7.2, while maqetta is still on 1.7.1. This is my free guess, because _base.\* packages are not in dojo web builder list and no DWB 1.7.1 download available (nor in the web site ...).
This is quite fucked up, because this can be such a great product ... but I gu

[2012-06-14 12:46] Davpaul commented on #2559
Thanks guys!
At some point I’ll have learnt to do it myself
- ever enjoying the learning curve

[2012-06-14 13:09] jhpedemonte commented on #2547
I think we also want to replace the layout dialog with a drop down on the toolbar.  Hmm, #1149 is set for M8, though.

[2012-06-14 13:16] jhpedemonte commented on #2540
Setting to Priority Med, so that it'll get looked at, but might be relatively minor.

[2012-06-14 13:18] jhpedemonte commented on #2538
Well, actually, I'd push to have more pub/sub, to keep the individual components loosely coupled.  I like Doron's proposal.

[2012-06-14 13:32] jhpedemonte commented on #2531
I updated your summary.  GitHub supports a number of HTML tags.  To show the actual text, surround the HTML tags with a back tick ( ` ).  You can get more info by clicking on the "GitHub Flavored Markdown" link above the editor.

---

I'm guessing this is an issue with our parser/model code.  Need to special case BR tag.

@JonFerraiolo

[2012-06-14 14:26] JonFerraiolo commented on #2538
But you understand my worry about using pubsub in this case? If you ever had a Button in any document within a session, and the Button helper is listening for "widget added", then with every widget added call the Button helper will get called, even if there are no Buttons in any currently open documents.

I guess what I'm saying is that we shouldn't use pubsub when the event is about a single widg

[2012-06-14 14:29] JonFerraiolo commented on #2547
This is likely to get addressed in M7 due to general UI makeover issues. Also, I've already experimented and it's very easy to put arbitrary HTML (and arbitrary widgets) into a toolbar. All you need to do is wrap the arbitrary HTML/widgets inside of a Dijit because ToolBars accept any Dijit as content.

[2012-06-14 14:45] JonFerraiolo commented on #2548
If you never save, then why would we keep the file around? The behavior described in this issue is the way things have worked from the very first release of the product - you know, we consider it a feature not a bug. If someone repeated the above steps 4 times, he would have 4 empty files in his workspace: file1.html, file2.html, file3.html, file4.html.

One thing we might do is include some diffe

[2012-06-14 14:49] JonFerraiolo commented on #2556
Closing. I logged this bug from memory - we used to have problems in this area. The context menu didn't work in Preview6 when over the white space at bottom of Files palette or when over a disabled item. I suspect @childsb fixed this recently.

[2012-06-14 14:49] #2556 closed, assigned to doronrosenberg

[2012-06-14 14:55] aerwin commented on #2548
Not true... in M6 (and I thought before), a new file had a dirty bit and you got a warning message when you tried to close it. If we're not going to show a warning message (e.g., we don't consider it dirty), I'm not sure we should delete the file. I don't think that's consistent with standard UI behavior/guidelines.

[2012-06-14 15:03] aerwin commented on #2548
I was about to add this was especially bad if user changed the file name (e.g, called it welcomePage.html instead of default file1.html). But, that looks to be properly handled with a dirty bit. So, guess we're just talking about a the edge case. And, I'm not too worried about that.

[2012-06-14 15:14] aerwin commented on #2548
I'll just go ahead and close based on my last comment.

[2012-06-14 15:14] #2548 closed, assigned to childsb

[2012-06-14 16:06] peller commented on #2520
@rubimazaki, Dojo 1.7.1 and 1.7.2 are fully compatible and interchangeable.  I've been able to use DWB manually with output from Maqetta Preview 6 just fine, but if it does fail, it often fails silently, so you may be encountering a DWB bug.

[2012-06-14 16:24] jhpedemonte commented on #2538
Yes, I agree with regards to Helpers.  But in your first comment you mentioned direct calls into Context, and I didn't agree with that.

[2012-06-14 16:49] JonFerraiolo commented on #2538
OK, I think we are in agreement on the most important part of the question, but now let's talk about the best strategy for a command to trigger things within the current open editor. Two obvious options are: (1) direct function calls to either editor.\* or context.\* to well-known function names, (2) publish on a topic, and then *Editor.js or Context.js listens to that topic. The former incurs les

[2012-06-14 17:26] JonFerraiolo opened #2561 "(Orion build) Review HTML files not found"
(using Orion build)
- New review...
- On second pane of wizard, for files, picked either samples/Sample1.html or save a new HTML file in project root folder. Problem manifests itself either way.
- Invite yourself and click publish. The dialog will come up saying invitation couldn't be set. Click OK.
- Go to reviews palette and double-click on the HTML file that you sent around for review.

Result=

[2012-06-14 17:34] JonFerraiolo opened #2562 "Cloned themes need to be read/write"
@billreed63

In Preview6, if you cloned a theme (e.g., claro->claro2), the claro2 folder was read-write. This allowed a user to hand-edit the CSS files within the cloned folder to cover cases where our theme editor's GUI doesn't provide a feature that a user needs in his cloned CSS file. With latest changes, cloned themes are read-only.

[2012-06-14 17:40] JonFerraiolo opened #2563 "Shouldn't custom widgets be stored under <projectroot>/lib?"
I thought previous code put custom widgets into <projectroot>/lib/widgets, but in latest code I see custom widgets going into <projectroot>/widgets. Is this by design? I think it would be better to have custom widgets stored /lib but in a read/write folders within lib. Detailed proposals for the names of folders and files, and the organization of folders is at:

https://github.com/maqetta/maqetta/

[2012-06-14 18:03] JonFerraiolo opened #2564 "No dirty bit on new HTML file"
@peller, @aerwin

Spin off from #2548

With Preview6 and earlier, when you issued a New HTML File command, the dirty bit was set on the new HTML file. With latest code, the dirty bit is temporarily on (you can see it on the tab if your system is slow enough and your eyes quick enough), but then the dirty bit gets turned off.

Per Tony's usability comments on #2548, I think we need to put the dirty

[2012-06-14 18:29] peller commented on #2510
@billreed63

regressed here: 703f0b137a1402d43393665997e29f0a9085b435

[2012-06-14 19:13] childsb opened #2565 "create friendly URLs for hosted Maqetta/Orion"
We need the following URLs to work:

www.maqetta.org/orion/navigate/table.html#

and

www.maqetta.org/maqetta

The easiest solution is to host the Maqetta/Orion instance on a subdomain (app.maqetta.org), then use HTML redirects or proxy rules to redirect from the good URLs to the application.

[2012-06-15 02:38] #2560 closed, assigned to peller

[2012-06-15 14:14] painbank commented on #2545
I see thank you.  This wiki instruction set needs updated then to reflect that.

https://github.com/maqetta/maqetta/wiki/Developer-Setup

Either the need to build locally or to comment on downloading the nightly build or both.

[2012-06-15 14:24] aerwin opened #2566 "Undo of add/remove rows and cols for HTML tables doesn't work"
Discovered this while working on #2129... clicking undo doesn't seem to have an impact after adding/removing rows and cols from an HTML table. it looks like the logic for caching the widget id in `AddCommand` needs to be adjusted in the case new widget data is passed in rather than an actual widget instance.

[2012-06-15 14:26] aerwin opened #2567 "Add Smart Input on HTML table creation"
This is a follow-on of #2129... when an HTML table is created, we want a smart input dialog that contains the following:
- Number of rows
- Numbers of cols
- Checkbox for whether to include a header row

[2012-06-15 14:30] aerwin opened #2568 "Update GridX to v1.0"
@evanhw let me know this morning that v1.0beta2 has been made available. Need to update submodule and do a gridx test cylcle.

[2012-06-15 17:32] psema4 opened #2569 "Focus not removed from some tool buttons after closing modal dialog"
_Affected versions:_ Preview 5, Preview 6
_Affected browsers:_ Firefox (10.0.2, 12.0, 13.0), Google Chrome (19.0)

_Steps to reproduce:_
1. Launch Preview 6 from http://maqetta.org/index.php?option=com_content&view=article&id=26&Itemid=24
2. Click Download tool button (Files tab)
3. Close the dialog by any means (OK, Cancel, or Close button)
4. Click Download tool button again (Won't reopen dialog

[2012-06-15 18:15] JonFerraiolo commented on #2569
@childsb - probably shouldn't try to fix this until we figure out where the download commands will end up when we shift things around in our new (and wonderful) revised UI for the product

[2012-06-15 18:33] painbank commented on #2545
That instruction set is fine for building and launching, but not for deploying.  I want to eliminate the Eclipse from the equation.  Thanks for pointing it out and closing the non-bug issue.

https://github.com/maqetta/maqetta/wiki/Creating-a-Build-Manually

followed with a Deploy wiki page.

[2012-06-15 20:22] billreed63 opened #2570 "Video tag not working in preview on chrome"
DnD HTML video and click preview

nothing in the preview browser on Chrome 21 win

[2012-06-15 20:24] billreed63 commented on #2570
If I only have the video tag nothing is displayed if I add the embed tag after video it works in preview

[2012-06-15 22:55] aerwin commented on #2501
Marking closed with 55ccdad8596e784bda9139a54df081a94a0fad5e

[2012-06-15 22:55] #2501 closed, assigned to aerwin

[2012-06-15 23:22] aerwin commented on #2129
This is all coming along pretty well with the three commits above, but there are still a number of items to think about and deal with. A rough, high-level list of some of the items is included below. Some of these items are already represented by separate issues, and I may create additional issues for some of the others. Some of the items are likely to to be deferred to a future release.
- Resizin

[2012-06-15 23:45] aerwin commented on #2570
@billreed63

Where did you get Chrome 21? On Windows, I just tried Chrome 19.0.1084.56 (which the About Chrome dialog tells me is the latest), and the video preview worked just fine.

[2012-06-16 03:24] JonFerraiolo opened #2571 "content.css rules for TD and TH mess up column width assignments"
@billreed63

If you author a table in Maqetta page editor, we stuff in the following CSS rules onto TD and TH elements:

[code]

Note that for most other HTML elements (DIV, SPAN, etc) we use `min-width` and `min-height` instead of `width` or `height`. The reason we are using `width` or `height` on TD and TH is that long ago we put this in as a temporary hack to make the page editor do something r

[2012-06-16 14:24] aerwin opened #2572 "Table cell smart input doesn't gracefully handle widgets in cell"
1. Drop HTML table onto page
2. Drop widget into cell (e.g., Button)
3. Double-click on cell with Button
4. Smart input for table cell comes up showing markup of the widgets in the cell:

![screenshot](http://i.imgur.com/mjPgc.png)

[2012-06-16 15:07] aerwin commented on #2571
Closing with above commit.

[2012-06-16 15:07] #2571 closed, assigned to aerwin

[2012-06-16 15:29] JonFerraiolo commented on #2572
@billreed63

This behavior is actually by design. Although extremely geeky, it does provide users with a way to do hand-editing of the content. For example, suppose you have a DIV with innerHTML of `<b>Careful:</b> this is dangerous`. You see, at the moment we don't have ability to select text nodes, only widgets (which always correspond to an element node). Other than using source pane, we don't

[2012-06-16 15:33] JonFerraiolo commented on #334
@peller - when you get to `dvStates`, can the new attribute please have the name `data-maq-appstates`? I'm working on the states reconciliation issue (#1547) and that name best matches the reconcilation approach I'm working on.

[2012-06-16 16:26] aerwin commented on #2568
Tried to upgrade to Beta 2 this morning, but ran into a JS error in GridX code. We shipped M6 with a GridX commit from May 30. By process of elimination, I discovered a JS error cropped up with the first GridX commit on June 12 (a few days before June 15 beta).

I've started a separate communication with @evanhw to try and get to the bottom of the error. But, until that's resolved, upgrading to th

[2012-06-16 21:08] jhpedemonte opened #2573 "Hit ENTER in New File dialog throws error"
Error when creating new file by hitting ENTER when dialog appears:

[code]

Seen on Maqetta+Orion build.

[2012-06-16 21:12] jhpedemonte opened #2574 "Empty Grid Configuration dialog"
Running Gridx Columns test plan.  When adding GridX, the **Grid Configuration** dialog comes up empty.

Had to refresh page and double-click on GridX widget in order to get correct dialog.  Seen on lab9:50020.

---

Setting to Priority High for now since it's a regression, but feel free to adjust after investigation.

[2012-06-16 21:15] jhpedemonte opened #2575 "Incorrect initial GridX display when using JSON file"
New file in a subfolder, dropped GridX, used **sampleManyColumns.json** data file.  Initially, GridX in page does show many columns, but **only 2 empty rows**.

Preview looks correct, with 3 rows and proper data.  Save, close, re-open file and widget looks correct in VE as well.

Seen on lab9:50020.

[2012-06-16 21:16] jhpedemonte opened #2576 "ENTER key has no effect in 3rd pane of Grid Configuration dialog"
In 3rd pane of Grid Configuration dialog, I enter value in **Label** and click ENTER.  Value does not update.  Need to hit TAB or click elsewhere in dialog for value to take.

@doronrosenberg

[2012-06-16 22:24] JonFerraiolo opened #2577 "Update release notes to discuss non-breaking white space and HTML tables"
(M7/Med - there will be cases for this out in the field, but I expect it won't be that common)

If a user added a TABLE widget to Preview 6 or earlier, and there were empty cells in the TABLE, the old rules in content.css would ensure that the cells were at least 1em big (width and height). But with recent changes, the rules in content.css have been changed, so it is possible that columns or rows

[2012-06-16 22:24] JonFerraiolo commented on #2571
Wow, that was fast!

[2012-06-16 23:11] JonFerraiolo commented on #2129
I played with the current resize nobs and what we have now seems to work reasonably well, although the nobs are (from a visual perspective) a little weird and unexpected. What would be ideal is if we _not_ show the nobs, and when the mouse is hovering over the divider between columns (or even rows) we should a custom cursor with a double-vertical-line (double-horizontal-line if for rows). The curr

[2012-06-17 15:59] JonFerraiolo commented on #334
@peller - Actually, could you _not_ migrate `dvStates` and let me do that as part of the states reconciliation issue (#1547)? I'm afraid of code collisions. I think it will save both of us time if you leave `dvStates` to me.

[2012-06-17 22:15] peller commented on #334
Ok, that's fine.  It's a one-liner to change the value (`prototype.ATTRIBUTE`) though there are still _two_ instances of the AppStates.js file to modify.  I'm concerned about migration.  If we alter the AppStates.js file, will we need to manually replace the AppStates.js files in existing projects as part of our migration?  If so, perhaps we should only include dvStates back-compat code in the fil

[2012-06-17 22:42] JonFerraiolo commented on #334
I think I have this all coded. I took care of migration of dvStates by making the new code look for both the old attribute name and also the new attribute _names_. Part of the task for #1547 is to have one attribute `data-maq-appstates` for the list of states, currently only available on BODY, and another for the per-widget CSS deltas using attribute `data-maq-deltas`.

The approach I took allows

[2012-06-18 02:34] aerwin commented on #2575
Hmmm... weird... looks like this happens when launched from Eclipse as well.

[2012-06-18 02:56] aerwin commented on #2574
@jhpedemonte

I've seen this kind of thing a few random times in FF after the custom build stuff was put in, but I can't reproduce this evening going to lab9 either with FF or Chrome on Mac. What browser were you using?

It's a weird deal... when I have seen it, there were no JS errors. Also, when I tried to inspect the HTML elements using developer tools, the widgets in the dialog would start ren

[2012-06-18 03:24] peller commented on #334
Would we be better off migrating the users' code and not carrying this forward in the AppStates.js code?  Is there any reason to keep the `_upgrade_p4_p5` method around anymore?

[2012-06-18 04:18] aerwin commented on #2572
@JonFerraiolo , I don't have any particularly brilliant ideas... my initial thought had been to try and disable smart input if the cell contains Dojo widgets (e.g. isHtmlWidget = false for any of the children in the cell). But, maybe that's confusing too -- e.g., user would wonder why smart input isn't coming up and would have to delete all of the Dojo widgets in order to be able to revert to some

[2012-06-18 04:18] #2572 closed, assigned to aerwin

[2012-06-18 04:27] aerwin opened #2578 "Eliminate resize knobs on table columns (and replace with custom cursor on hover)"
Spinning off from #2129....

[2012-06-18 05:15] aerwin opened #2579 "Update selection chrome for col with span > 1"
Spinning off from #2129...

I've updated the code to use tbody for calculate the column height, but we still have issues with a COL element has span greater than 1. This is particularly true if the table cellspacing is set as it is below:

![screenshot](http://i.imgur.com/gwBqm.png)

But, since we don't plan to expose "span" as a COL element properties palette property in the short-term, I don't t

[2012-06-18 05:16] aerwin commented on #2129
@JonFerraiolo thanks for the thorough feedback! To make for easier tracking and continued discussion on some of the issues, I've started to spin off some new ones:

#2578 Eliminate resize knobs on table columns (and replace with custom cursor on hover)

#2579 Update selection chrome for col with span > 1

[2012-06-18 13:01] jhpedemonte commented on #2574
I was using Chrome/Mac.  Unfortunately, this might be a very intermittent issue.  I'd keep it open for a little while longer, but if we don't see it again, we can close it.

Another option is to add some logging.  Not sure if it's fully possible to track this issue, but if we can, then logging might help track down the cause.

[2012-06-18 14:31] aerwin commented on #2567
Comment from @JonFerraiolo in #2129:

[2012-06-18 15:11] aerwin opened #2580 "Can't type in source editor"
@peller

Per scrum... did a git pull late last week (Friday or Saturday) and when I open the source pane in the visual editor I can't type in it.

[2012-06-18 15:25] aerwin opened #2581 "Think about multi-select issues with HTML tables"
Spin-off #2129...

I don't think there's anything terribly broken here, but you could argue some of the behavior is a little strange. For example, if I select multiple TD elements and invoke an HTML table related action it acts on only the last item in the selection.

So, if I have a selection like the following (just a simple case with a contiguous selection):

![screenshot](http://i.imgur.com/O1

[2012-06-18 15:26] aerwin opened #2582 "Add test plan for HTML tables"
Spin-off from #2129...

[2012-06-18 15:34] childsb opened #2583 "create / update the manual build wiki page"
update or create a new build wiki page or update this  one:

https://github.com/maqetta/maqetta/wiki/Creating-a-Build-Manually

[2012-06-18 15:35] aerwin opened #2584 "HTML tables -- area select selects COLGROUP element"
Spin-off from #2129...

@aerwin wrote:

@JonFerraiolo wrote:

Here's a screen shot when I did an area select encompassing the first column:

![screenshot](http://i.imgur.com/vXwu3.png)

[2012-06-18 15:59] aerwin opened #2585 "Deal with Copy/Cut/Delete actions on HTML table elements"
Spinning off from #2129...

@aerwin wrote:

@JonFerraiolo wrote:

[2012-06-18 16:10] aerwin opened #2586 "Provide robust means for editing span/colspan/rowspan attributes on HTML table-related elements"
Spinning off from #2129...

@aerwin wrote:

@JonFerraiolo wrote:

[2012-06-18 16:51] aerwin opened #2587 "Selection rectangle for column containing cells that span can overlap non-selected columns"
Spinning off from #2129...

@aerwin wrote:

@JonFerraiolo

---

For example, see screen shot below with 2nd column selected. The 2nd TD element in the column has a colspan of 3:

![screenshot](http://i.imgur.com/SD4j3.png)

A potential better approach (which while not perfect would avoid non-rectangular selection) would be to use the min width of all of the cells in a column for the bounding box.

[2012-06-18 16:52] aerwin commented on #2587
Also, we're not planning to expose colspan in the properties palette, so user would have had to go into source editor to create the situtation described above.

[2012-06-18 17:00] aerwin opened #2588 "HTML tables -- Correct situations where user has incorrectly edited table-related elements in outline or source pane"
Spinning off from #2129...

Opening as a future consideration...

@aerwin wrote:

@JonFerraiolo wrote:

In addition to deleting in outline palette, could also be from source pane.

And, I think if we decide to "idiot proof" in this area then we need to consider cases where user has made for other "unbalanced" situations (e.g., more of less TD elements than other rows), etc.

[2012-06-18 17:13] aerwin opened #2589 "Dragging/dropping of COL elements"
Spinning off from #2129:

@aerwin wrote:

@JonFerraiolo wrote:

Yes, now that I play with it some more, I don't think the TR behavior is too bad.

So, think main issues would be:
- can't drag cols in page editor because the only valid parent for COL element is COLGROUP (e.g., never see valid parents when I have show valid parents while dragging turned on)

I see following in JS console when I drop

[2012-06-18 17:13] aerwin commented on #2129
With the creation of the following additional spin-off issues (and a couple small commits), I'm going to close #2129:

#2581 Think about multi-select issues with HTML tables

#2585 Deal with Copy/Cut/Delete actions on HTML table elements

#2584 HTML tables -- area select selects COLGROUP element

#2582 Add HTML table test plan

#2586 Provide robust means for editing span/colspan/rowspan attributes

[2012-06-18 17:13] #2129 closed, assigned to aerwin

[2012-06-18 17:56] peller commented on #2573
related to #2528?

[2012-06-18 18:19] peller commented on #2580
regressed in 6efe4ead1675a64bf5a790032e871f44bb7b4d52

[2012-06-18 19:31] peller commented on #334
Jon added some migration code here: 62c8999f0911a9f5c74caa92b31fb89c86f093d1  I'm still -1 on migration code going into Context.js

[2012-06-18 19:52] jhpedemonte commented on #2569
I've noticed this with other buttons as well.  May just be a general Dojo issue.

[2012-06-18 21:21] psema4 commented on #2569
Actually, looks like it might be something to do with the radio group; by removing the `radioGroup: "displayMode"` references, the issue goes away.  I'm uncertain how this might otherwise affect Maqetta however.  (I've only been working with it for a short time.)

[2012-06-18 22:00] doronrosenberg commented on #2532
@jhpedemonte @JonFerraiolo

Well the JSONP code is for services that support JSONP, which a csv file won't ever work with.  What we really want is to support URL fetching from any domain I think, with JSONP being a optional flag probably.

This is more of a feature request - we would need a proxy on the server that would allow fetching of data from any url.

[2012-06-18 22:13] #2580 closed, assigned to peller

[2012-06-18 22:26] peller commented on #2507
-> @doronrosenberg

[2012-06-18 22:41] doronrosenberg commented on #2507
will be fixed as part of #2524

[2012-06-18 22:46] JonFerraiolo commented on #2532
CSVP?

We need to think about offering a proxy service. I can see how it could be operational for preview-in-browser because we could include the proxy service in our server, but what happens when a user downloads their workspace and deploys on a different server (e.g., localhost).

I would expect there are security issues with proxy services. I would expect that you would want to have some sort o

[2012-06-18 23:21] doronrosenberg commented on #1890
@JonFerraiolo

The design and source view should both show the same outline palette contents, there should be no difference right?

[2012-06-19 00:36] doronrosenberg commented on #2532
The JSONP UI should probably have more text explaining where it works and where it doesn't.  If we were to add a proxy we would also have to make clear this may break when exported.

[2012-06-19 03:40] JonFerraiolo commented on #1890
that's correct

[2012-06-19 13:00] jhpedemonte commented on #2569
cc @doronrosenberg, who has worked on some UI issues.

[2012-06-19 13:14] jhpedemonte commented on #2564
Priority High since it's a regression.

[2012-06-19 14:49] JonFerraiolo opened #2590 "Can save on top of sample files"
- Open Sample1.html
- Immediately click the save button
- Close the editor
- Refresh the browser

Result=> Sample1.html is now read-write. Maqetta has saved a read-write version of Sample1.html into ROOTFOLDER/Samples/Sample1.html
- In Files palette, delete Sample1.html

Result=> Sample1.html disappears from Files palette (temporarily)
- Refresh browser

Result=> Sample1.html reappears as read-onl

[2012-06-19 18:35] JonFerraiolo opened #2591 "Need to migrate data-davinci-ws -> data-maq-ws in space.js"
@peller

I think we need to look for both the new attribute name `data-maq-ws` along with old attribute name `data-davinci-ws` in space.js, both copies (i..e, the one used by page editor and one used at runtime) so that old files will get properly migrated in page editor and will continue to look correct in preview-in-browser.

[2012-06-19 19:59] JonFerraiolo opened #2592 "Clean up (remove?) Context.widgetAddedOrDeleted (re: document.css)"
To get reasonable behavior for Preview 6, I added some ugly hacks at the end of the cycle centered around Context.widgetAddedOrDeleted().

I expect that we will want to remove that function and remove all logic that calls that function once @billreed63 comes up with a good alternate implementation for including document.css for desktop UIs but not for mobile UIs.

[2012-06-19 22:31] aerwin opened #2593 "Samples don't render when opened from downloaded zip file"
1. Download entire workspace as zip file
2. Expand zip file and serve directory from local web server
3. Open Sample1.html in browser and see JS errors in console:

[code]

[2012-06-19 22:35] aerwin opened #2594 "Document.css possibly missing from downloaded zip file"
Using M6 from Maqetta.org...
1. Download entire workspace as zip file
2. Expand zip file and serve directory from local web server
3. Open Sample1.html in browser and see rendering a little off (like document.css missing)

NOTE: I'm not sure if this problem still exists post-M6. I was trying to determine that, but ran into #2593 where Sample1.html isn't rendering at all from the downloaded zip fil

[2012-06-19 23:03] JonFerraiolo opened #2595 "event properties like onclick should show list of mobile views"
@jhpedemonte

@doronrosenberg - feel free to bounce this back to @JonFerraiolo if this is too complex.

Right now, the dropdown on event properties (eg onclick) show the list of application states that are available in the current document. We should enhance the dropdowns to also show the list of mobile views. It's a really common user requirement. (In fact, a user question spurred me into creatin

[2012-06-19 23:06] peller commented on #2591
follow-on from #334

@JonFerraiolo, what are the consequences if we do not migrate this attribute?

[2012-06-19 23:12] doronrosenberg commented on #2595
I can take it for now, but not sure when I can get to this.

[2012-06-19 23:49] JonFerraiolo commented on #2594
-> @billreed63 who is fixing the document.css issues

I'm pretty sure this is a problem only when viewing the **sample files** after ZIP download. If you create a new html file, then document.css will get included, even in the ZIP download. I think Maqetta includes document.css with samples if you open/save the samples.

[2012-06-19 23:57] JonFerraiolo commented on #2591
We won't remove whitespace in migrated user documents, which means layouts will sometimes be wrong when viewing in page editor or preview-in-browser.

The runtime fix to space.js is pretty much just changing `getAttribute(newAttrName)` into `getAttribute(newAttrName) || getAttribute(oldAttrName)`. In the page editor, we would want to fix the model also (to get rid of the old attribute and replace

[2012-06-20 02:25] doronrosenberg commented on #1890
In that case #2524 should fix that.

The bigger question is what about switching files.  Right now we rebuild the tree each time we change files via tabs, but we don't persist expansion.

[2012-06-20 02:47] jhpedemonte commented on #2510
Fixed now?

[2012-06-20 02:51] peller commented on #2510
fixed in 6efe4ead1675a64bf5a790032e871f44bb7b4d52

[2012-06-20 02:51] #2510 closed, assigned to jhpedemonte

[2012-06-20 03:00] JonFerraiolo commented on #1890
would be good to persist the expansion, wouldn't it? if non-trivial, then we could create a bug to persist expansion sometime in the future

[2012-06-20 04:09] doronrosenberg opened #2596 "Persist outline expansions across files"
We do not persist Outline expansion - so if you change to a different file and come back to the original file, any expansions are lost.

[2012-06-20 04:10] doronrosenberg commented on #1890
I opened #2596 for that.

[2012-06-20 14:46] aerwin opened #2597 "Add Maqetta to RAD 8.5 workflow to test plan"
RAD 8.5 is now publicly available, so I want to add a small section to our test plan related to importing projects into Eclipse.

[2012-06-20 14:49] aerwin commented on #2040
Had been testing occasionally with internal dev drivers... RAD 8.5 was released publicly on 6/15/12. I've downloaded/installed it and the Maqetta to RAD 8.5 workflow seems to be working fine. So, closing this issue.

[2012-06-20 14:49] #2040 closed, assigned to aerwin

[2012-06-20 15:10] JonFerraiolo opened #2598 "Server logging"
@jhpedemonte @peller

Today we talked about adding logging features to our server. The main impetus was to debug user problems such as intermittent file disappearance, causing users to lose their work.

One simple approach that comes to mind is that each file operation, particular save and delete operations, are somehow logged.

Random thoughts:
- We have concerns about log file explosion on the s

[2012-06-20 16:24] JonFerraiolo opened #2599 "Intermittent product hangs: are we catching all runtime exceptions?"
@jhpedemonte @childsb

We still have reports of Maqetta hanging sometimes. Although the users are just telling us Maqetta hangs (without looking in console for errors), I suspect they are running into a runtime exception that we aren't catching.

If we were able to catch all runtime exceptions, maybe we could:
- POST a message to server (which the server logs) so we can find out when a user experi

[2012-06-20 21:58] doronrosenberg opened #2600 "Rewrite _ToggleTreeNode"
davinci.ui.widgets._ToggleTreeNode is overriding way too many methods, it needs to be rewritten to be less invasive.

[2012-06-20 22:01] doronrosenberg opened #2601 "HTMLOutlineModel is now no longer used"
We disabled in #2524 the use of the HTMLOutlineModel, which was used to provide a dom-like view.

I updated the code to work with the new tree and use the data.store api, but since it isn't used we should consider what to do with that code, as it is no longer used.

[2012-06-20 22:10] #2538 closed, assigned to doronrosenberg

[2012-06-20 22:14] #2524 closed, assigned to doronrosenberg

[2012-06-20 22:52] peller commented on #2601
any reason not to remove it?

[2012-06-20 22:56] doronrosenberg commented on #2601
The question is if we ever want to offer something better and build upon the current code.

[2012-06-21 00:41] aerwin opened #2602 "Rendering corrects itself after switching to source editor"
I'm noticing this with all the latest pulled into my Eclipse dev environment...

Here's the simplest example:
1. New HTML file
2. Drag button onto canvas
3. Open source pane and rendering of button changes (and I think changes to the correct rendering)

I first noticed it with a slightly more complicated example involving HTML tables:
1. New HTML file
2. Drag HTML table onto canvas
3. Double-click

[2012-06-21 03:01] JonFerraiolo opened #2603 "Move in custom state with state-specific left/top does wrong thing"
- Open Sample2.html
- Go into Home state
- Drag TabContainer to top-left corner of page (eg, left ~= 10px, top ~= 10px)

Result=> TabContainer ends up no where near where it was dropped

The problem is that MoveCommand computes deltax, deltay by querying the page editor DOM (which reflects the current state), but because the 's' key is not down, the move is applied to the Normal state, so the Norm

[2012-06-21 03:14] jhpedemonte commented on #2602
@JonFerraiolo @peller

Is this a document.css related issue?  Is that style script not initially set?

[2012-06-21 03:15] jhpedemonte commented on #2600
Do we still need it?  Can we use a "stock" Dijit instead?

[2012-06-21 03:25] jhpedemonte commented on #2504
As for the UI/UX for this feature:

We've discussed showing an "action bar" which appears when a widget is selected in the VE.  Why not show additional UI?

In this case, we could show a certain icon in the top right of any widget/sub-widget which is the one which will be first shown when the page is loaded.

For TabContainer, the icon would reside on the first-shown tab.  For dojox.mobile Views,

[2012-06-21 03:31] jhpedemonte commented on #1804
Well, that's a bit better.  I'd go with that for now, but maybe keep this open, see if we can think of a better solution.

@peller, do you know of a good way to check if a property name is actually an event attribute?  Does Dojo do any such thing?

[2012-06-21 03:46] JonFerraiolo commented on #2602
Assigning to me

[2012-06-21 03:55] JonFerraiolo commented on #2504
I like the creative approach using visual indicators, but I want to think about this. First, would users be able to guess what those special icons on the page are for? There is also the question of how much time it would take to implement the different approaches.

[2012-06-21 03:59] jhpedemonte commented on #2504
We could display a tooltip if the user hovers over or clicks on the icon?

[2012-06-21 04:19] JonFerraiolo commented on #2504
Sure, but we have to think about what happens down the road on tablets when this is no hover. Could users figure it out without the help of hover?

[2012-06-21 12:50] peller commented on #2600
At least when it was created, subclassing was required to support the 'eyeball' functionality -- to hold the state, handle the event and state changes, and provide a different template than the normal row.  The companion Tree widget must also be subclassed, if only to create an instance of this new node type.

This widget was used throughout the product whenever a tree was needed, and was modified

[2012-06-21 13:07] peller commented on #1804
not aware of any other tricks.  Dojo still compares against the "on" pattern in a few places, but it's really just looking for event handler attributes.

[2012-06-21 14:48] childsb commented on #1417
not that i'm aware of.  there may be a plugin that does.

formating with a model isn't too hard.  phil did it once for javascript i believe.

[2012-06-21 15:37] doronrosenberg opened #2604 "JS error when clicking on add task scene in Sample1.html"

[2012-06-21 15:46] JonFerraiolo opened #2605 "Remove references to jqueryui and yui widgets from doc set"
We have now temporarily removed the placeholder jqueryui and yui widgets from the official shipping product for our next release cycle (to be added back in down the road we hope with more robust implementations).

The docs still refer to these widgets, so they need to be cleaned up.

[2012-06-21 15:48] #2604 closed, assigned to doronrosenberg

[2012-06-21 15:53] JonFerraiolo opened #2606 "grep -i for jquery and yui in maqetta-core-client"
I did a grep -i for jquery in maqetta-core-client and I see some references in Palette.js and in the test plan. We should review those references. (I'm taking care of maqetta-core/client/WebContent/docs with #2605)

[2012-06-21 17:41] #2547 closed, assigned to doronrosenberg

[2012-06-21 17:51] doronrosenberg commented on #2539
This is because we are removing the buttons and putting them into a different place to allow resizing.

@peller Any idea how that can be fixed?

[2012-06-21 18:33] peller commented on #2539
Are you sure it's the dynamic placement?  I think it's more likely the nested widget containers which are not able to process the tab order.  I'd flatten the structure so the inputs and buttons are all peers and direct children of the dialog's contentpane.

[2012-06-21 18:41] peller commented on #2539
see [my comment](https://github.com/maqetta/maqetta/commit/b731265d00aeac3cd10e29fdfa113050c4c717af#L13R11) on DialogContent  You might be able to use dojo/html and dojo/parser directly rather than adding a widget container to the mix.

[2012-06-21 19:06] doronrosenberg commented on #2539
@peller

Here is what for example the New File dialog looks like:

[code]

NewFile are the dialog contents, dijitDialogPaneActionBar has the buttons.  davinci_ui__DialogUI_0 is a container widget.

I am unclear how having a string rather than a dijit would help?

[2012-06-21 19:13] peller commented on #2539
some of those divs, like dijitDialogPaneActionBar, are widgets (created via the DialogContent code, right?).  Also, I think you have widgets inside them, even though these widgets are not Containers.  I believe that may be breaking Dijit's handling of tab order.  It would seem better if the contents were inserted directly into the DOM w/o the extra widgets.  If templates are used, string handling

[2012-06-21 19:24] doronrosenberg commented on #2539
dijitDialogPaneActionBar is actually just a simple div that contains the buttons, it isn't a widget.  dijitDialogPaneContentArea and dijitDialogPaneActionBar  are classes dijitDialog uses to do some styling.

So here is a thought - what if for example NewFile's template would have 2 sections - dijitDialogPaneContentArea for the dialog contents and dijitDialogPaneActionBar for its buttons.  We woul

[2012-06-21 19:42] jhpedemonte commented on #2330
Assigning to @peller for now.  Not sure if recent commits have helped this issue.

[2012-06-21 19:47] jhpedemonte commented on #2508
Remind me again: why don't we just put the stores at the top of the file, above everything else?  How many bugs like these will we run into because we insist on putting the stores elsewhere?

[2012-06-21 19:49] jhpedemonte commented on #2280
-> Back to me to reproduce.

[2012-06-21 19:51] jhpedemonte commented on #1954
Any progress?

[2012-06-21 19:57] jhpedemonte commented on #2557
cc @childsb

[2012-06-21 20:05] jhpedemonte commented on #2509
(This comment really belongs here:)

Remind me again: why don't we just put the stores at the top of the file, above everything else? How many bugs like these will we run into because we insist on putting the stores elsewhere?

[2012-06-21 20:42] jhpedemonte commented on #2427
@JonFerraiolo, care to respond to Doron's last comment?  Can this be closed as working?

[2012-06-21 20:44] peller commented on #1954
no.

[2012-06-21 21:28] peller opened #2607 "Resource case-insensitive checks"
@childsb

Some very old code in the resource model uses CASE_SENSITIVE flags, but seems to confuse them (it's undefined on Resource.js, so checks in Folder.js are always falsey, therefore case-insensitive??)  No idea how much is broken but I think it's always been this way.

I think we need to review this and limit the times we ask for case-insensitivity.  Brad points out that file extensions .HTM

[2012-06-21 23:25] JonFerraiolo commented on #2427
Assigning to me to evaluate

[2012-06-22 05:17] jhpedemonte commented on #2607
Why not?  I've always hated case-sensative filenames -- in the past, it made it easier for computers, but humans don't think this way.  Let's break off the shackles of tradition and embrace a new paradigm, brothers and sisters!

[2012-06-22 05:20] peller commented on #2607
shall we also embrace the bugs that will come with the file mixups?

[2012-06-22 05:31] peller opened #2608 "Theme.js CloneTheme"
themeFile and themeCssFile vars are global

[2012-06-22 17:13] JonFerraiolo commented on #1472
-> M7 Prio Med

[2012-06-22 18:40] JonFerraiolo opened #2609 "Recover (not hang) if libs.settings is missing"
Had a user who had an old workspace without a libs.settings file in one of her projects and Maqetta hung with New HTML File. It seems like at least we could notice that libs.settings wasn't there and tell user their project is in bad shape, even better if we could fix things up for them.

[2012-06-22 19:28] peller commented on #2609
@childsb

LibrarySettings.java has a conditional in the constructor to create some default data if lib.settings is not found.  Apparently this led to a 404 for dojo.js, so the defaults may not be valid.  Should it be a fatal error instead of libs.settings is missing?

[2012-06-22 19:38] #2528 closed, assigned to doronrosenberg

[2012-06-22 19:38] #2539 closed, assigned to doronrosenberg

[2012-06-22 19:41] doronrosenberg commented on #2573
fixed in rev da87f49abf81a576c10591218fe3e3b39121346d

[2012-06-22 19:41] #2573 closed, assigned to doronrosenberg

[2012-06-22 21:32] childsb opened #2610 "cleanup performance around getCustomWidgets(...)"
library.js:getCustomWidgets:

remove the for loop, and turn it into one findResource(...) call

getCustomWidgets: function(base) {

[code]

[2012-06-22 22:33] peller commented on #2610
Impacts startup.   Nice to have for M7

[2012-06-22 22:34] peller commented on #2610
also, need to verify that findResource can tolerate a non-existant parent folder

[2012-06-23 04:01] peller opened #2611 "switchEditor: exception: this.tree.getIconClass is undefined"
bring up multiple editors and switch between the tabs.  Each time, an exception is thrown in Workbench.js _applyClassAndStyle around line 191:

[code]

this seems to be undefined on the new OutlineTree