[2012-07-20 19:50] #2794 closed, assigned to billreed63

[2012-07-20 20:14] peller opened #2796 "dojo metadata build broken with 1.8.0rc1"
Best I can tell, there were always errors in the build, Dojo just didn't seem to return the error code to halt the build.  Among the problems were references to davinci/\* and dojox/\* from the metadata.  Only dojo and dijit were copied over and referenced via "packages" in the build profile.  Also, it seems that layerDependencies like davinci/davinci should be listed.  Once I added those, other e

[2012-07-20 20:20] peller commented on #2126
still need to turn on async:true and convert usage in some metadata helpers

[2012-07-20 20:22] peller opened #2797 "Can widgetPlugin reference dependencies directly, rather than copy?"
Right now, the widgetPluginDojoBuild.xml script copies client references from the maqetta.core.client plugin.  Can it reference them via relative paths in the profile instead?  Cutting down on the copy/delete could help speed up the build.

[2012-07-20 20:41] billreed63 commented on #2499
http://bugs.dojotoolkit.org/ticket/15730

[2012-07-20 21:36] peller commented on #2796
To try to address the missing reference errors, I tried adding packages: to dojo.profile.js to match all the array used in davinci.profile.js (adding dojox, davinci, orion, system,preview...)  and also copying over the corresponding directories in the widgetPluginDojoBuild.xml script.  As a result, those errors went away, but up came new ones: http://pastebin.com/C74qtmLz

[2012-07-20 22:28] peller commented on #2796
possible culprit in Dojo 1.8.0rc1: http://bugs.dojotoolkit.org/ticket/14127

[2012-07-20 22:37] JonFerraiolo opened #2798 "Tree.js TypeError exception in outline when a source editor is opened"
Assigning to @doronrosenberg because I suspect that the new Tree logic isn't dealing with source editors properly. One easy way to fix this bug is to make the Outline view display nothing (i.e., no tree) for all editors other than the page editor.

With latest code, if I simply double-click on app.css in Files view, I get a TypeError, with the following stack seen below. What's going on is that _c

[2012-07-20 22:37] #2709 closed, assigned to aerwin

[2012-07-20 22:49] aerwin commented on #2615
@kabeck515 -- I just went out to maqetta.org with Safari and was able to successfully author and preview an iPad mock-up. Could you be more specific about what fails?

--> @JonFerraiolo

Jon, I'm putting this under your name for now since I'm going on vacation in case we need to give it some attention. Please feel free to reassign as necessary.

[2012-07-20 22:51] aerwin commented on #2694
Should have closed with commit from 9 days ago... closing now.

[2012-07-20 22:51] #2694 closed, assigned to aerwin

[2012-07-20 22:53] aerwin commented on #2689
@JonFerraiolo @jmockler

Janet, is this something your team could help with?

[2012-07-20 22:57] doronrosenberg commented on #2798
Its actually simple - we should not pass in a null where it expects a function

[2012-07-20 22:57] #2798 closed, assigned to doronrosenberg

[2012-07-20 23:07] doronrosenberg commented on #2640
@jhpedemonte what should we do for accel w and chrome - we can't use any combination that includes accel and w.

[2012-07-21 05:36] peller opened #2799 "dojox/html/_base set throws an exception, this.parseDeferred undefined"
Thanks @doronrosenberg for noticing

Since the 1.8.0rc1 update, the dojox content set in Context will throw an exception when creating a document in the VisualEditor.  Easily worked around by setting parseContent:true

http://bugs.dojotoolkit.org/ticket/15731

[2012-07-21 05:38] #2799 closed, assigned to peller

[2012-07-21 15:54] JonFerraiolo commented on #2615
I believe this issue is about Maqetta itself not running on an iPad, not authoring an iPad UI. I suspect there are size limitations on iOS Safari and some of our built JavaScript files go beyond those limitations. This isn't something we will be able to address in time for our next milestone release (i.e., M7). It's likely to be a major effort.

[2012-07-23 03:11] peller commented on #2784
I rewrote the hook routine in AppStates.js to be more AMD-compliant 347a7fd3658b3b4e6817d144bda6554e25fca320 hoping that would fix the problem, but it didn't.  @rbackhouse, it seems like Zazl's implementation of dojo/ready is firing before all the pending require statements are satisfied.

I put two breakpoints in AppStates.js: one at the aspect.around call in hook(), another at this line around 1

[2012-07-23 03:20] jhpedemonte commented on #2721
Set to Priority High.  Must for 1.0.  I currently have no idea exactly which keyboard bindings are available.

[2012-07-23 03:48] jhpedemonte opened #2800 "De-emphasize Cancel and other non-default buttons"
Right now, the **New HTML File** dialog has 3 buttons: _Create_, _Cancel_ and _Theme_.  All of them look the same and it is not readily apparent which button corresponds to the **dialog's default action**.

We should de-emphasize every button that is not associated with the default action.

In the case of the _New HTML File_ dialog, I would prefer if both _Cancel_ and _Theme_ were simple links.  B

[2012-07-23 09:04] xiaohulu opened #2801 "can maqetta.core.server project split into two layers?"
hi,
I use maqetta in my project, but some data that saved in files, i need to save in mysql.
if maqetta.core.server is split into two project, one is servlet and another is the persist layer.
So people who integrate maqetta in their osgi projects can replace the persist layer easily!

[2012-07-23 09:59] xiaohulu opened #2802 "client javascript library, reference not include"
maqetta.core.client include dojo in the WebContent dir.
It's not the best practise, should refernce dojo bundle, not direct include dojo in the project.

so, maybe it's better to split the dojo in one plugin project  like [orion-client](https://github.com/eclipse/orion.client/tree/master/bundles) ' org.eclipse.orion.dojo bundle

[2012-07-23 10:12] rbackhouse commented on #2784
@peller Zazl does not have an implementation of dojo/ready. dojo/ready is using the proprietary require API's "on" and "idle". The "on" API is passed a callback.

Zazl considers the page "ready" once all the modules and their dependencies specified in the "require" have completed loading and that the "DOMContentLoaded" event has fired. The "on" callback is called when these requirements have been

[2012-07-23 14:28] JonFerraiolo commented on #2802
-> @peller to respond

[2012-07-23 14:29] JonFerraiolo commented on #2801
-> @childsb to respond

[2012-07-23 14:30] JonFerraiolo commented on #2800
Gotta work with UI folks before we make any changes here.

[2012-07-23 14:34] peller commented on #2802
on master, we're referencing dojo using submodules now.  In order to run the Dojo build scripts, we really need it to reside in the same plugin structure, or additional copying/moving of files would be required.

[2012-07-23 14:34] #2802 closed, assigned to peller

[2012-07-23 14:57] peller commented on #2784
I think the idea was to have the AppStates code be transparent such that the page would work with or without it and generally not impact the logic the developer sees on the page or change the way Dojo is expected to work.

Could Zazl postpone when it considers the page "ready" until all pending require calls have fired?

[2012-07-23 15:06] rbackhouse commented on #2784
I don't think that would be possible. What defines a pending require? One can happen at any point within an application triggered by application code that happens way past the ready point. It seems we are trying to solve an application issues at the loader level. It could become a very slippery slope.

[2012-07-23 15:14] doronrosenberg commented on #2764
fixed now

[2012-07-23 15:14] #2764 closed, assigned to doronrosenberg

[2012-07-23 16:13] #1658 closed, assigned to doronrosenberg

[2012-07-23 16:15] peller commented on #2784
Well, pretty much ready would just have to wait for any nested requires in requires the loader is already waiting for.  This is what dojo/ready does.  If code is loaded past the ready point, that is after all the initial requires and their nested requires have completed, I think that's clearly beyond the scope of dojo/ready.

[2012-07-23 16:19] doronrosenberg opened #2803 "New HTML File dialog validation is broken"
The file name validation code needs to be changed to support the deffered updating that is happening

[2012-07-23 16:34] kabeck515 commented on #2615
Maybe you weren't using an iPad?

From:   aerwin
reply@reply.github.com
To:     kabeck515 kabeck515@gmail.com,
Date:   07/20/2012 03:49 PM
Subject:        Re: [maqetta] IPad authoring not working (#2615)

@kabeck515 -- I just went out to maqetta.org with Safari and was able to
successfully author and preview an iPad mock-up. Could you be more
specific about what fails?

--> @JonFerraiolo

Jon, I'm

[2012-07-23 16:35] rbackhouse commented on #2784
My big concern is that is will be very hard to support. I still don't I have a grasp of the root issue. I found some details that Rawld gave for how dojo/ready is working :

" The dojo/ready module executes callbacks under two conditions:

[code]

This is what the Zazl loader is currently doing.

Also I still have trouble understanding what the problem is with calling the parser manually. This is

[2012-07-23 16:45] #2803 closed, assigned to doronrosenberg

[2012-07-23 17:18] doronrosenberg commented on #2800
We can style a button to look like a link.  Another choice would be to have cancel be an icon rather than text or perhaps adding an icon only to the default action button.

[2012-07-23 17:18] doronrosenberg commented on #2628
Any progress here?  Probably not a good thing to ship with :)

[2012-07-23 19:25] peller opened #2804 "Dead code: ve/views/DataStoresView, ve/palette/DataStoreDragSource"
@jhpedemonte
@billreed63
@doronrosenberg
@aerwin

[2012-07-23 20:31] jhpedemonte commented on #2800
Something as simple as specifying a white background for non-default buttons would work:

![buttons](http://i.imgur.com/bvWOc.png)

[2012-07-23 20:34] jhpedemonte opened #2805 "GridX widget not available running maqetta+orion from source"
Got Maqetta+Orion running from source.  However, the GridX library is not included (doesn't show up in Modify Libraries dialog), which means that the GridX widget is not available.

Checking in the run configuration, the _davinci.gridx_ plugin is checked, so not sure what's going on.

[2012-07-23 20:36] jhpedemonte opened #2806 ""dojo-src" shows up in Modify Libraries dialog"
In the **Modify Libraries** dialog, I see a listing for **dojo-src** from `/lib/dojo`.  This is in addition to the **dojo** listing from the same directory.  "dojo-src" should not be listed here.

@childsb

[2012-07-23 20:53] peller commented on #2806
dup of #2769  You could argue that providing sources of Dojo for download might be helpful, but it should certainly be disabled by default.  "Zazl" also shouldn't be downloaded, probably should never be shown at all.

[2012-07-23 20:53] #2806 closed, assigned to peller

[2012-07-23 21:19] jhpedemonte commented on #2628
We don't need a cookie to persist selection.  Let's get rid of it.

@JonFerraiolo

[2012-07-23 21:23] doronrosenberg commented on #2628
@jhpedemonte pretty sure we need the cookie to persist selection

[2012-07-23 21:32] jhpedemonte commented on #2640
Some options:
1. **Choose a different letter.**  Given the string "Close Window", either C or W make sense.  We can't use the latter, and the former is used for Copy.  We could take the L from "close", but Accl-L just seems weird (well, any other letter seems weird).
2. **No keyboard binding for close window.**  This is the approach taken by Google Docs, for example.
3. **Use the Meta key instead.

[2012-07-23 21:48] JonFerraiolo commented on #2640
My two cents: option 2 - just don't offer an accelerator for this operation.

[2012-07-23 21:50] jhpedemonte commented on #2628
Selection of what?  From comments above, we didn't used to persist selection, so why not just remove that "feature"?

[2012-07-23 21:51] JonFerraiolo commented on #2628
This is about persisting selection in the Files palette? We don't need to do that (and don't want to do that). We do want to persist which folders are open, though, if that is feasible.

[2012-07-23 22:32] doronrosenberg commented on #2628
The selection persisting isn't a feature we can turn off without turning off persistence of expansion.  We need to get rid of the ./

[2012-07-23 22:35] peller commented on #2628
We have a lot of code that removes the selection by matching "./" and removing it.  It would be best to remove it at its source.

[2012-07-24 01:50] JonFerraiolo commented on #2676
@peller - exactly right diagnosis. VisualEditor.js:previewInBrowser() does the first URL encoding with `fileURL = editor.resourceFile.getURL()` and then does a second (erroneous) URL encoding with `'file=' + encodeURIComponent(fileURL)`.

I'm off working on a branch now and not sure if device preview is working in master with zazl enabled, so I'll implement the fix sometime in the near future.

[2012-07-24 02:06] xiaohulu commented on #2802
If there are two client bundle A and maqetta.core.client, they are all depend on dojo.
maqetta.core.client access the dojo.js file by url like '/maqetta/app/dojo/dojo.js'.
but project A bundle A can't access dojo.js use the same url.
I mean it should be better to use the common url  access dojo.js like "/dojo/dojo.js", not use the maqetta dependence prefix.

If so, we can easily integrat maqetta i

[2012-07-24 02:29] JonFerraiolo commented on #2721
-> @doronrosenberg. I created a new page in the docset (maqetta.core.client/WebContent/docs/peKeyboardShortcuts.html) and included entries for all keyboard shortcuts that have keyBinding properties within ve.plugin.js. Could you please review that page, add shortcuts that are missing, and fix errors, and then please close this issue?

Note that you can get to the new page in the Maqetta UI via Hel

[2012-07-24 02:31] peller commented on #2802
OSGi packaging for Dojo sounds like a good idea, we just haven't found an elegant way to make it work with Dojo's build system, which may combine Dojo and Maqetta code into layers.  How we structure URLs is orthogonal to the OSGi packaging, I think.  Both are areas which could use improvement, I agree.

[2012-07-24 02:34] peller commented on #2676
@JonFerraiolo Device preview is not working with Zazl (see #2708) but Zazl can easily be disabled in the preferences panel.

[2012-07-24 02:36] peller commented on #2676
@childsb I'd suggest that Resource.js not encode urls, but leave that to the caller.

[2012-07-24 05:28] #2749 closed, assigned to JonFerraiolo

[2012-07-24 05:31] JonFerraiolo commented on #2615
Pushing this to M8. The Maqetta app itself won't be in shape to run the authoring tools on the iPad in time for the M7 milestone.

[2012-07-24 05:39] JonFerraiolo commented on #2488
-> @doronrosenberg - can you please take this one? I'm not sure what caused the crash (and the need to comment out StackContainer). I've been using StackContainer recently inside the page editor and I don't see much of a difference between TabContainer and StackContainer, and in fact I've swapped between the two very easily in the page editor itself.

But once we get StackContainer such that it dr

[2012-07-24 05:51] #2784 closed, assigned to peller

[2012-07-24 05:53] peller commented on #2784
Not happy about the fix above.  Should still be able to use mobile parser at runtime.  Note that the call to hook wasn't right, so the mobile+states path probably hasn't been functional for a long time.

[2012-07-24 14:04] peller commented on #2796
I think I fixed the other errors that I was seeing in orion with i18n!   Time to give this another try.

[2012-07-24 15:00] billreed63 commented on #2635
So I am seeing lots of exceptions for undefined ./notify
10:32:53 AM: Adam L. Peller: yeah
10:32:57 AM: Adam L. Peller: was in 1.8b1 also
10:33:03 AM: William D. Reed: I thinke that might be the root of my problem
10:33:04 AM: Adam L. Peller: handled exceptions, but painful. thought they were going away in rc1
10:33:07 AM: Adam L. Peller: nah
10:33:14 AM: William D. Reed: I think so
10:33:18 AM: A

[2012-07-24 19:00] #1586 closed, assigned to peller

[2012-07-24 19:08] jhpedemonte commented on #2805
I see this both when running from **source** and when running from the **build** (i.e. on maqetta-test machine).

[2012-07-24 21:13] jhpedemonte opened #2807 "Fix maq+orion build system"
The current Maqetta+Orion build system is pretty flaky and seems to be patchworked together.  Mostly due to use of the PDE Build system by Orion.  Also, a Maqetta+Orion build takes way too long.

We need to fix the build system to work fast and efficiently (don't duplicate resources/work).

Issues:
- When doing a build, the Maqetta source is cloned into 3 different places: `gitClones/https___githu

[2012-07-24 21:14] billreed63 commented on #2635
fixed by above commit

[2012-07-24 21:14] #2635 closed, assigned to billreed63

[2012-07-25 03:18] jhpedemonte commented on #1903
Closing.  With Orion, use can re-register with same address, sending out another email.

[2012-07-25 03:18] #1903 closed, assigned to jhpedemonte

[2012-07-25 03:26] jhpedemonte commented on #2640
We can go with (2) for now, and see how it feels...

[2012-07-25 03:35] jhpedemonte commented on #2180
Another reason to allow drag/drop into the Outline view itself.  However, not only isn't that implemented, it's just not feasible with our current layout, where the Widgets Palette and the Outline view overlay each other -- only one can be visible at a time.

[2012-07-25 03:39] jhpedemonte commented on #1
Reopening.  @peller, your fix made it so all Previews show up in one tab, which is different than what Jon last stated ("... there should be 2 preview tabs, not one shared tab").

[2012-07-25 03:42] jhpedemonte commented on #2778
There isn't one for "any Dijit", although there is support for "classes" of widgets.  So we could define a class called "dijitWidget" and apply that to all Dijits, then set `"allowedChild": "dijitWidget"`.

The other option is to allow using "subclasses" -- see #2622.

[2012-07-25 04:06] #2455 closed, assigned to JonFerraiolo

[2012-07-25 04:32] #1 closed, assigned to peller

[2012-07-25 04:49] peller commented on #2662
-> @doronrosenberg you worked on right click on tree widgets recently.  Can you take a look?

[2012-07-25 05:12] JonFerraiolo opened #2808 "Context.js onload() not called with browser refresh or source editor changes"
Assigning to @peller because he is the expert with the complex web of deferred's that occur when a page is opened, but others (including me) might be able to figure this one out.

Part of document initialization involves calling the "onload" function in Context.js. If you open a file from Files palette, then the onload() function gets called. But if you refresh your browser, the open editor initia

[2012-07-25 05:17] JonFerraiolo commented on #2436
Above commit should be the fix that's needed, but not closing yet, waiting on fix for #2808.

[2012-07-25 17:56] #2662 closed, assigned to doronrosenberg

[2012-07-25 17:57] #2492 closed, assigned to doronrosenberg

[2012-07-25 18:26] #2721 closed, assigned to doronrosenberg

[2012-07-25 18:29] doronrosenberg commented on #2640
Ended up going with 2.  Closing this out as we now support everything we want to support, any bugs should be filed separately.

[2012-07-25 18:29] #2640 closed, assigned to doronrosenberg

[2012-07-25 18:32] doronrosenberg commented on #1180
The main problem with ctrl-enter is that we don't have a consistent validation story.

[2012-07-26 13:28] peller commented on #2808
I'm thinking this should be replaced with a call to dojo/ready.  onload used to work in a sync world where everything blocked on one thread.

[2012-07-26 13:42] peller commented on #2808
actually, it was f51f2f59b07aa104a0e5bc209c845f53629d2099 which changed the onload logic, moving the connect until after widget processing.  I think what was intended was to defer firing the event until both widget processing and page load were completed, rather than just deferring the registration.

[2012-07-26 15:41] JonFerraiolo opened #2809 "Browser tab for Maqetta shows Orion's 3-dot icon"
When running the Maq+Orion build, the browser tab on both Firefox and Chrome show the 3-dot Orion icon to the left of the words "Maqetta Designer". We should either get rid of that icon or replace with a Maqetta icon. The favicon.ico has to be 16x16. I'm not sure how Orion is setting that icon.

Good news: I think I have a fix in hand.  We actually have a Maqetta 16x16 icon already in our project.

[2012-07-26 15:53] pchuong opened #2810 "Widget Property - should use dijit.form.Select"
For the Combo box type widget (perhaps text, checkbox,etc..) should be converted to dijit for consistence with the other combo-edit widget.

For the combo type widget, the fix is simply include the required dijit/form/Select in the header and add dojoType='dijit.form.Select' to the combo type widget in HTMLStringUtils.js file.

[2012-07-26 16:00] pchuong opened #2811 "Widget property tooltip"
It is valuable to include tooltip text for individual widget property, in most case it is not possible to include a long display name in the property and can be handle better with tooltip. Since description is already provided in the widget definition in the oam files, why not make use of it in the property page....

In my local branch, I have implemented tooltip using dijit.Tooltip for the widget

[2012-07-26 16:07] JonFerraiolo commented on #2810
@peller @childsb

Thanks for the report and the suggestion. I'll investigate, but if we are using an HTML INPUT element now, we probably won't change that to a Dijit control in the short-term because of fear about memory explosion. You see, the Properties palette as designed today creates about 250 separate widgets at program startup time for each possible entry in the palette, and in fact that mi

[2012-07-26 16:09] billreed63 commented on #2502
dup #2794

[2012-07-26 16:09] #2502 closed, assigned to billreed63

[2012-07-26 16:11] JonFerraiolo commented on #2811
Good suggestion, and thanks for the proposed code! Would be good if the toolkit for CSS properties also included links to the section of the CSS spec and maybe W3Schools, and maybe links to any videos or tutorials that have been created by the Maqetta team.

Because we are approaching another milestone release (M7), this probably won't get addressed until the next release (M8).

[2012-07-26 16:12] billreed63 commented on #2430
have not seen this in a while, reopen if it shows again

[2012-07-26 16:12] #2430 closed, assigned to billreed63

[2012-07-26 16:18] JonFerraiolo opened #2812 "Outline palette exception: displays nothing"
With today's build, the Outline palette is kaput on both Firefox and Chrome. When creating a new file, the following exception occurs. Note that the exception doesn't happen with the very first action in a session, but happens with subsequent actions (e.g., create a new file, add a button, no problem, save, close, reopen -> exception).

[code]

[2012-07-26 16:58] pchuong commented on #2811
Not a problem for addressing this in future release, I have it working in my local branch. Thanks for considering this in the next release.

[2012-07-26 17:14] JonFerraiolo commented on #2809
I found the 16x16 icon that the UI team created for us. I'll replace maqetta.png with the correct image. @childsb: I expect all you will need to do is add the LINK element as shown above to pagedesigner.html

[2012-07-26 17:18] #2812 closed, assigned to doronrosenberg

[2012-07-26 17:20] JonFerraiolo commented on #2809
Actually, I tried out the new icon and I think we need something smaller. Here is how the updated icon looks:

![updated 1616 icon](http://i.imgur.com/OTjkd.png)

[2012-07-26 17:21] JonFerraiolo commented on #2809
Sending back to me because of having to coordinate on the new icon.

[2012-07-26 20:16] billreed63 opened #2813 "preview launches browser with second instance of maqetta"
Latest build on http://maqetta-test.austin.ibm.com:55556/maqetta/ maqetta/orion when I preview a mobile html page a second instance of maqetta is started in the windowinstead of just the preview

[2012-07-26 20:19] billreed63 commented on #2813
Seems to be limited to mobile pages

[2012-07-26 20:20] peller commented on #2813
see #1

[2012-07-26 20:25] doronrosenberg opened #2814 "Different styles per state isn't reflected in properties palette."
- Drag and drop a label
- Add 2 states
- In state 1, set the color of the label to red.  Be sure to click on the arrow and select "apply to current state"
- In state 2, do the same as above but set it as green
- Switch states, note the color changes
- Select the label in both states and check the color value - same color is shown both times.

[2012-07-26 21:05] billreed63 opened #2815 "States not being added for tooltip and dialog"
Running the Visual page editor basic tests ("overlay" Dijit widget support) the states are not added when the widget is dropped

[2012-07-26 23:32] JonFerraiolo commented on #2815
Pushing to M8. We aren't going to ship support for these widgets in M7. (The whole untested section won't be available.)

[2012-07-27 03:09] jhpedemonte commented on #2813
Might be an issue on the server side, with the Maqetta+Orion build.  cc @childsb

I saw no errors in the server log.

[2012-07-27 03:14] jhpedemonte opened #2816 "404 loading document.css"
Running **Test > Theme Sets > Add new theme set**, saw a 404 trying to load http://maqetta-test:55556/maqetta/user/B/ws/workspace/project1/themes/custom/document.css.

(Can't tell if this is covered by any of the other document.css bugs.)

[2012-07-27 03:15] jhpedemonte commented on #2642
Reassign to @doronrosenberg.

[2012-07-27 03:18] jhpedemonte opened #2817 "Theme selection dialog does not default to "(none)" on new theme"
Running **Tests > Theme Sets > Applying theme sets to HTML**:  Open theme selection dialog, and automatically defaults to **dojo_theme_set**.

Since this is a new file, it should have defaulted to **(none)**.  Whenever I reset theme set to **(none)**, next time I open the dialog it always comes up as **dojo_theme_set**.

[2012-07-27 03:20] jhpedemonte commented on #2657
Reopening.  Saw this again today while testing on _maqetta-test_.  Exactly the same as the attached screenshot in the summary.  (Chrome/Mac)

Seen while running **Tests > Properties 5 > background-color on a Button using claro**.

[2012-07-27 04:35] JonFerraiolo opened #2818 "Theme editor: can't set background-image on Global button"
@billreed63 @childsb

I cloned ipad theme, then tried to put an image as the background for the global button widget. While I was able to set gradients or colors, choosing an image shows the correct preview in the Background dialog, but clicking OK causes no effect on the canvas of the theme editor.

[2012-07-27 08:50] peller commented on #2813
-> @childsb

[2012-07-27 08:59] peller opened #2819 "Orion: open sample3-mobile leads to 404 error on PUT"
Simply double-click on the sample3-mobile file in the file view to open.  The put to create a working copy fails with a 404 and the error is logged to the console, even though I have yet to make any changes to the file (it really should not be dirty or have a workingcopy file at this point)  The file still opens and is usable, you just can't save it.

[code]

[2012-07-27 09:14] peller opened #2820 "exception opening non-HTML files"
such as .js or .css

from this line in OutlineView.js

[code]

where these types of editors (e.g. `"davinci.ui.ModelEditor"`) do not have a `getContext()` method

[code]

[2012-07-27 09:22] peller opened #2821 "Orion: nested themes folders"
In the files explorer, open the themes folder and see the themes.  At the bottom is another themes folder.  Lather, rinse, repeat.

[2012-07-27 09:30] peller opened #2822 "empty data-maq-deltas attribute appears on property change"
bug or feature: add a div, set its background color to red, look at the source and it has an extra attribute:

[code]

this should only appear with states usage, correct?

[2012-07-27 09:37] peller opened #2823 "drag-select out of bounds of visual editor does not select"
open sample1.html
drag a rectangle on the visual editor around the new/del buttons, widgets are selected within that rectangle.
select something else.
now try again, but drag the rectangle all the way off the left side of the visual editor over the widgets palette, still creating a rectangle which encloses "new" and "del".  The event is not processed until the mouse re-enters the visual editor (ok

[2012-07-27 13:32] jmockler commented on #2809
@JonFerraiolo - I FW a revised version of the icon via internal email

[2012-07-27 14:52] #2820 closed, assigned to doronrosenberg

[2012-07-27 14:58] doronrosenberg commented on #2401
@jhpedemonte what do you mean by assuming app.css doesn't exist. Not show it in the tree?

[2012-07-27 15:03] billreed63 commented on #2401
The user deletes app.css from file explorer then opens a file.. then attemps to add a class to app.css from the properties palette

[2012-07-27 15:29] #2809 closed, assigned to JonFerraiolo

[2012-07-27 15:44] JonFerraiolo commented on #2809
Here is how the browser tab looks now, after using the icon that @jmockler provided:

![snapshot](http://i.imgur.com/sUVFT.png)

[2012-07-27 16:49] JonFerraiolo opened #2824 "Orion integration outstanding issues"
@jhpedemonte

I was assigned the "Orion" test plan and attempted to follow the rules. It seems like there are a bunch of things yet to be completed. Here are a few:
- How will login work on maqetta.org? When I go to the root folder of maqetta-test, I see the regular-old Joomla page, with it's login, signup and give it a try links. When I click on login, I'm taken to the Joomla login page. What are

[2012-07-27 17:14] billreed63 opened #2825 "Exception when publishing review request"
I get the following exception when I attempt to publish a review on Orion build

POST http://maqetta-test.austin.ibm.com:55556/maqetta/cmd/publish?emails=jferrai%40us.ibm.com%2C&message=&versionTitle=teste&resources=project1%2Ffile2.html&desireWidth=1024&desireHeight=768&dueDate=infinite&receiveEmail=true 500 (Server Error) xhr.js:210
xhr xhr.js:210
dojo.xhr xhr.js:657
dojo.rawXhrPost.dojo.xhrPost

[2012-07-27 17:51] doronrosenberg commented on #2135
So looks like this is now complete, as TreeView won't work as pure markup (!) and also only supports data structures that have one root only.  I'll check in my changes under untested for now.

[2012-07-27 17:51] #2135 closed, assigned to doronrosenberg

[2012-07-27 23:30] doronrosenberg commented on #2628
[code]

The other problem here is joining on / - the id of the app.js node for example is `./project1/app.js` - it seems that using `/` in the id of a tree node is bad, and that is what we are running into.

Changing the code to return the file name as the identity rather than the full path seems to work, but I bet something would break for this

[2012-07-28 20:18] #2394 closed, assigned to JonFerraiolo

[2012-07-28 20:25] JonFerraiolo commented on #2436
OK, everything is checked in. Closing.

[2012-07-28 20:25] #2436 closed, assigned to JonFerraiolo

[2012-07-28 20:33] JonFerraiolo commented on #2257
@peller: question - with Preview6, the first time a user brings up one of our rich text widgets (e.g., sticky note), the network panel shows this:

[code]

Will any of our new build logic in M7 consolidate the above calls? One thing that should be way faster now than 6 months ago is that Dojo (since 1.7) is loading all of the above using async (and parallelized) web requests.

[2012-07-28 20:49] #2257 closed, assigned to JonFerraiolo

[2012-07-28 22:55] peller commented on #2257
@JonFerraiolo, we could create a layer for RichTextInput to consolidate these calls.  It gets a little confusing since the dependencies may be shared by other widgets, so it would have to be done carefully. The async will make a big difference either way, though.

[2012-07-30 14:11] billreed63 commented on #2817
If the user has created a theme set with claro as the desktop and mobile devices of android=andrid, bb=bb, ipad=ipad, iphone=iphone, other=iphone.

When a new page is created by default that page is created with the same themes by default.

this is more or less a dup of issue #2147

[2012-07-30 14:11] #2817 closed, assigned to billreed63

[2012-07-30 15:21] doronrosenberg commented on #2616
@aerwin I can't reproduce this as well, still seeing this?

[2012-07-30 15:25] doronrosenberg commented on #2657
@jhpedemonte does this happen all the time or just intermittently?

[2012-07-30 15:26] doronrosenberg commented on #2628
@peller btw looks like the latest dojo we run is eating the exception, not even getting the empty error anymore

[2012-07-30 16:26] JonFerraiolo opened #2826 "Updates to welcome page"
There are some proposed changes to the welcome page that need to be completed before M7. I can't list everything in this issue at this time because final decisions are still pending. However, we are likely to need new blocks for some of the following: videos, articles and new sketch.

[2012-07-30 16:40] aerwin commented on #226
@billreed63 @JonFerraiolo

Should priority and severity be upgraded on this one (current Sev 3 and priority Med)? I really hate doing theme editor tests because I never know for sure what property changes should be reflected and what ones shouldn't. I can only imagine what the confusion level of actual users would be.

In addition, my perception is this issue has become kind of a catch all as it's

[2012-07-30 16:46] JonFerraiolo commented on #99
@aerwin @peller @jhpedemonte @billreed63 @childsb @doronrosenberg @jmockler

What I'm thinking in terms of a comprehensive strategy:
- The doc set that ships with the Maqetta application would be pretty much what we have today - basic tutorials and basic reference information
- Videos would be on our You Tube channel
- How-to articles would be posted on external blogs. (IBM people would post on de

[2012-07-30 16:48] JonFerraiolo commented on #226
@aerwin - I don't see us having time to deal with this issue in the M7 timeframe. I was thinking this would be a must-have for M8.

[2012-07-30 17:52] aerwin commented on #226
@JonFerraiolo  So, what's that mean for issues like #2454 (which I think is borderline Sev 1)? The comment for #2454 says this one (#226) must be fixed first.

[2012-07-30 17:55] aerwin opened #2827 "Theme editor: can't set font-color on text box"
1. Clone theme
2. Select text box
3. Change font color in properties palette and no affect on rendering

Most of the other props seem to work (e.g., font family, weight, etc.). @billreed63 tells me font-color should work, but the meta-data is messed up. So, I'm opening this issue.

[2012-07-30 17:56] JonFerraiolo opened #2828 "Help menu appears offscreen first time it is opened"
@peller

With the new UI design, the Help menu appears offscreen first time it is opened. We have had this problem forever, but in earlier releases we worked around this problem by making sure that the Help menu was always indented far enough away from the right edge of the browser window that the dropdown menu wouldn't go off screen.

After studying things, I figured out why this is happening. It

[2012-07-30 18:00] JonFerraiolo commented on #2454
@aerwin We should still try to fix this bug for M7 if we can, even if we can't do #226 for M7. My hope is that the property palette refresh for the property is something we can fix without providing a comprehensive fix for #226.

[2012-07-30 18:01] billreed63 commented on #226
We have the same issue now with page editor, we allow the user to select rules to apply properties to, but they may have no effect on the widget.

[2012-07-30 18:14] aerwin opened #2829 "Theme editor: can't set any properties on generic text widget"
1. Clone theme
2. Select generic text widget
3. try to set things mentioned in test case (e.g., some combination of font-family, font-size, font-color, boldness, padding, border color/thickness and backgrounds) and nothing works

Using Chrome on Mac...

[2012-07-30 18:14] JonFerraiolo opened #2830 "Clean up logoff logic in pagedesigner.html"
@jhpedemonte

As things stand today, pagedesigner.html has Joomla-specific logic for the logout link on the banner:

[code]

WIth our new login screen and code from Orion, should we still link the logout command to the above URL?

NOTE: with the UI makeover, the logout command is moving from the word "logout" on the top banner into a "logout" command in the dropdown menu for the icon that shows a

[2012-07-30 19:24] aerwin opened #2831 "VisualEditorOutline exception moving containers around"
@doronrosenberg
1. Set up widget hierarchy as described in "Widget hierarchy" section of  "Outline palette basic tests" test case
2. Using Outline view, move the DIV to the root-level above the Button
3. Drag TabContainer and drop onto the div, and see exception below. In addition, cannot open an close div in the outline anymore.

[code]

[2012-07-30 19:24] aerwin commented on #2831
Using Chrome on Mac...

[2012-07-30 19:30] aerwin opened #2832 "JS error reopening file in Widget Palette: Mobile Data test case"
Using Chrome on Mac... and doing "EdgeToEdgeDataList: Comma separated data" section of "Widget Palette: Mobile Data Store Based (Basic)" test case...

This doesn't appear to have a functional impact as far as I can tell (so making Sev 3 severity), but when I reopen the file I see the following exception:

[code]

[2012-07-30 19:43] billreed63 commented on #2829
This is due to document.css being added to the head after the claro theme

[code]

[2012-07-30 19:47] aerwin opened #2833 "Carousel icon size inconsistencies when changing data, reloading file, and previewing"
@doronrosenberg

Using Chrome on Mac... Working on "Carousel: Comma separated data" section of "Widget Palette: Mobile Data Store Based (Basic)" test scenarios...
- New iPhone File
- Drop View onto page
- Drop carousel onto page and change data in smart input to:

[code]
- See icons rendered too small:

![screenshot](http://i.imgur.com/h7abe.png)
- Save and reopen and see images get cut-off:

![sc

[2012-07-30 20:04] aerwin opened #2834 "Confusion over Carousel vs. Data Carousel in widget palette"
@doronrosenberg

Working through the Carousel parts of the "Widget Palette: Mobile Data Store Based (Basic)" test plan...

We have both `Carousel` and `Data Carousel` in the widget palette, but given Data Carousel accepts both comma-separated user-input and data file input, should we hide plain Carousel?

Making priority high for M7, because regardless of the answer, the Carousel parts of the "Wid

[2012-07-30 20:16] doronrosenberg commented on #2834
I think keeping the regular carousel around is usefull because it doesn't create a datastore, and I didn't want to remove DataCarousel's inline editing feature since we already had it working.  I will update the docs.

[2012-07-30 21:19] JonFerraiolo opened #2835 "Context menu in Files palette - exception if no selection"
With latest builds (and possibly M6), the context menu on the Files palette isn't working when no files are selected in Files palette. It dies in `davinci.ui.Resource` at  line 295:

[code]

because item is undefined.

[2012-07-30 21:21] #2835 closed, assigned to JonFerraiolo

[2012-07-30 21:47] #2827 closed, assigned to billreed63

[2012-07-30 21:48] #2631 closed, assigned to billreed63

[2012-07-30 21:48] billreed63 commented on #2631
hope I got theme all

[2012-07-30 21:53] aerwin commented on #2568
Got a note from @evanhw while on vacation last week that 1.0 has been tagged. So, changing title of this issue to reflect that we want to upgrade to 1.0 (and not the beta 2).

[2012-07-30 22:56] aerwin opened #2836 "Move away from deprecated GridX declarative syntax using TH"
Spin-off of #2568...

Maqetta uses declarative syntax for GridX that uses HTML TH elements to specify the data's structure (e.g., the column layout). However, when I tried to upgrade to GridX Beta 2, this syntax stopped working. @evanhw told me at the time they removed support for this syntax. But, he agreed it shouldn't be removed without a deprecation period. So, it was re-enabled in GridX 1.0 (

[2012-07-30 22:57] aerwin commented on #2568
Closing with above commit.

[2012-07-30 22:57] #2568 closed, assigned to aerwin

[2012-07-30 22:59] aerwin commented on #2360
This was fixed by upgrading to GridX 1.0 for issue #2568 (commit e7e3825578b1307edf5c4cb64817180069e8ab94 ). So, closing.

[2012-07-30 23:00] #2360 closed, assigned to aerwin

[2012-07-30 23:01] aerwin commented on #2172
Reopening... reappeared after upgrading to GridX 1.0 for issue #2568 (commit e7e3825578b1307edf5c4cb64817180069e8ab94 ). Note has been sent to @evanhw for investigation.

[2012-07-30 23:12] aerwin commented on #2616
I'm not able to reproduce either. So, closing. Thanks for looking into it.

[2012-07-30 23:12] #2616 closed, assigned to doronrosenberg

[2012-07-31 00:10] #2834 closed, assigned to doronrosenberg

[2012-07-31 01:03] #2831 closed, assigned to doronrosenberg

[2012-07-31 01:24] doronrosenberg opened #2837 "Can't dnd in outline palette to the end of the tree"
Happens in m6 as well

[2012-07-31 01:31] doronrosenberg commented on #2837
@JonFerraiolo

According to blame you added this to reparentcommand

[code]

That -1 is breaking the dnd.  Removing it fixes the issue and I don't see why that even exists.  Do you perhaps remember why?

[2012-07-31 15:20] #2768 closed, assigned to billreed63

[2012-07-31 15:58] JonFerraiolo commented on #2837
OK, I studied things, and here's the deal.

If a widget is being reparented where the old parent and new parent are one in the same, and the widget is being moved to a newindex which is greater than oldindex, then the removal of the widget from its old position will shift all subsequent children one position forward, which means newIndex needs to be deprecated by one to take into account all of th

[2012-07-31 16:00] billreed63 commented on #2722
We allow the user to change the libraries theme path with the "modify libraries" feature of the file palette, we also allow the user to change where custom themes are stored in their workspace through the "project settings"

Currently we only check the users "project settings" theme location for themes, this works as long as they are the same.

We need to added code to check all possible locations

[2012-07-31 17:38] #2837 closed, assigned to doronrosenberg

[2012-07-31 19:32] doronrosenberg commented on #1475
@jhpedemonte In #1180 it was decided to use ctrl-enter to submit smart inputs.  Do we want to use ctrl-enter for regular dialogs as well? I assume yes.

[2012-07-31 21:22] billreed63 commented on #2592
dup #2377

[2012-07-31 21:22] #2592 closed, assigned to doronrosenberg

[2012-07-31 21:29] #2377 closed, assigned to billreed63

[2012-08-01 07:33] aerwin opened #2838 "(Orion) Redesign location of global settings files"
@childsb

I think we've got bigger fish to fry so opening as medium priority for M7...

The issue "(Orion build) Review HTML files not found" (#2561) has been addressed, but there is a loose design end related to where to store non-user specific, global settings files.

Users are invited to reviews by e-mail address, and there has never been a requirement that an e-mail address entered in the R&C

[2012-08-01 07:34] aerwin commented on #2561
Closing this issue with the above commits and the opening of #2838 for a loose design end.

[2012-08-01 07:34] #2561 closed, assigned to aerwin

[2012-08-01 15:50] #2813 closed, assigned to childsb

[2012-08-01 16:20] peller opened #2839 "Chrome: Caret sometimes disappears in source editor, no longer receives focus/blur events"
...making it impossible to type in the source editor.  Clicking on a native element like a text input in the properties common panel (title) then back in the source editor makes the caret re-appear.

To reproduce, open Sample1.html and go to split view.  Click back and forth between the source and the design views, and the caret should generally re-appear when you click in (focus on) the source ed

[2012-08-01 17:06] #2385 closed, assigned to doronrosenberg

[2012-08-01 17:06] doronrosenberg commented on #189
fixed by db1bf569043c65dced7cca92d9d2ebbc659fda6c - ctrl-enter will now submit

[2012-08-01 17:06] #189 closed, assigned to doronrosenberg

[2012-08-01 17:07] #1111 closed, assigned to doronrosenberg

[2012-08-01 17:09] #1475 closed, assigned to doronrosenberg

[2012-08-01 17:24] peller commented on #2358
seems to have been fixed by removing the timeout in 513e2f077f37aeb2182357226b06ecc288403c9d

[2012-08-01 17:25] peller commented on #2717
seems to be ok as of the merge at d006ad0b30587e7f878faa6bd4839ab1fa08f30c

[2012-08-01 17:25] #2717 closed, assigned to peller

[2012-08-01 17:25] peller commented on #2250
seems ok after latest Orion integration in d006ad0b30587e7f878faa6bd4839ab1fa08f30c

[2012-08-01 17:25] #2250 closed, assigned to peller

[2012-08-01 17:30] #942 closed, assigned to peller

[2012-08-01 17:32] peller commented on #1554
now that the selection issues are fixed, I feel I can type freely.  The behavior is to defer changes until the user stops typing.  If the user stops then starts typing while those changes are getting propagated, there will be a delay, and the key strokes do seem to be getting buffered.

[2012-08-01 17:32] #1554 closed, assigned to peller

[2012-08-01 17:34] peller commented on #2330
silenio put in the behavior that @doronrosenberg requested, such that the selection is faked on blur and restored on focus.  merged in d006ad0b30587e7f878faa6bd4839ab1fa08f30c

[2012-08-01 17:34] #2330 closed, assigned to peller

[2012-08-01 17:38] peller commented on #1863
looks ok now that selection problems have been fixed d006ad0b30587e7f878faa6bd4839ab1fa08f30c

[2012-08-01 17:38] #1863 closed, assigned to peller

[2012-08-01 17:39] peller commented on #2651
@jefftrbo, please test with the latest on master and re-open if you still have an issue.  thanks

[2012-08-01 17:39] #2651 closed, assigned to peller

[2012-08-01 17:40] peller commented on #2225
selection should be working in both directions now, as of d006ad0b30587e7f878faa6bd4839ab1fa08f30c

[2012-08-01 17:40] #2225 closed, assigned to peller

[2012-08-01 17:46] jefftrbo commented on #2651
Hello Adam.

Thank you for addressing this issue... so just use the code base on
maqetta.org?

[2012-08-01 17:52] peller commented on #2651
It won't be deployed on maqetta.org until our next milestone, which is about a month away

[2012-08-01 18:00] doronrosenberg commented on #2434
@JonFerraiolo It seems that the `<li>` nodes aren't getting a _dvWidget, so this code fails:

[code]

In HTMLWidget.js::getChildrenData.  Not sure if this is a parser issue or if richtext needs a custom helper for this.

[2012-08-01 18:33] billreed63 commented on #2376
In order to  make this work we need to remove the requires for the dojox/Mobile/deviceTheme from the document when the last mobile widget is removed.

We have this issue through the product of not removing the requires when the last widget of that type is removed.
we also need to consider that the user may have removed the last mobile widget, but intents to add another mobile widget. In this case

[2012-08-01 18:39] #2381 closed, assigned to billreed63

[2012-08-01 19:27] peller commented on #2320
Oh, I see, it doesn't work if you're in source only view, but works fine in split view.  I don't think this is a very important issue.  @JonFerraiolo, do you agree we can live with this?  There's very little functionality available in source view besides text editing anyway.  No context-sensitive property editing or outline view interaction anyhow...

[2012-08-01 19:28] aerwin commented on #2825
-> aerwin

Imagine this is a dup of #2561 which was just fixed (reviews were pretty much entirely broken on orion). So, closing. Please reopen if you run into again.

[2012-08-01 19:28] #2825 closed, assigned to aerwin

[2012-08-01 19:33] aerwin commented on #2689
@JonFerraiolo ... maybe we can add this one to the UI meeting this week for discussion?

[2012-08-01 19:39] doronrosenberg commented on #2839
Safari on mac works fine, so this looks like a Chrome bug.  Seems the focus remains in the VE iframe, even though the source editor is getting click events (as the clicked line gets that indicator in the right gutter).

[2012-08-01 19:47] peller opened #2840 "createResource succeeds if resource already available"
The more generic version of this bug is that our commands issue a responseString which may not be "OK".  There does not appear to be any logic which causes an HTTP response code other than 200.

Open Maqetta in two different browsers, logged into the same account.  Create file1.html in one, then in the other. The second will succeed and open the first file, with any content already added.  It shou

[2012-08-01 21:06] peller commented on #1865
@JonFerraiolo @billreed63

I cannot reproduce this problem.  Is it fixed?  If not, let's update the description.  Sounds like the issue has to do with the smartinput ok button event?

[2012-08-01 21:08] JonFerraiolo commented on #2320
If we can't properly highlight the current selection in the Outline palette when in source-only mode, then we should hide the outline palette (display:none or whatever) when in source-only mode. But whatever, any fix would be at best a Prio-Med for M7.

[2012-08-01 21:09] peller commented on #1865
Hmmm... I see now the first problem (clicking in the source view changes the tab) but not the second problem with the smartinput (unrelated bug?)  I'm wondering if perhaps the model isn't updated when I first click in the source view, so it has the wrong offset.  That condition persists for a few seconds, then clicking on the button's source selects the button widget properly.

[2012-08-01 22:06] aerwin commented on #2488
@doronrosenberg I could help with a blog post once StackContainer is enabled. In a lot of ways it would follow naturally from the recent one I wrote on [Adding Your Own JavaScript to Maqetta Prototypes](https://www.ibm.com/developerworks/mydeveloperworks/blogs/MaqettaAuthoring/entry/adding_custom_javascript3?lang=en) .

[2012-08-01 22:24] #2434 closed, assigned to doronrosenberg

[2012-08-02 07:27] aerwin commented on #2719
--> @aerwin

I believe my fixes related to #2796 will fix this one too.

[2012-08-02 14:32] billreed63 commented on #2627
Dojo is going back to adding a class to the css for the arrow head, so we need the subwidget back to the theme metatdata for heading

[2012-08-02 14:33] JonFerraiolo commented on #2488
A blog post would be wonderful.

[2012-08-02 14:49] billreed63 commented on #2816
fixed by #2381

[2012-08-02 14:49] #2816 closed, assigned to billreed63

[2012-08-02 15:22] JonFerraiolo opened #2841 "Consolidate builds from 6 to 1"
@jhpedemonte @billreed63

Would do people think: Prio High or Med? I feel this is either a High- or a Med+. I set to Med initially.

The issue is that with Orion we now create 6 different ZIPs, for 3 different platforms (Mac, Win, Unix) and 2 different memory systems (32-bit, 64-bit).

---

**Tasks:** _(updated 2012-10-02)_
- [x] Create script to take a platform build (i.e. Linux) and create a "pl

[2012-08-02 16:27] doronrosenberg commented on #2488
So the idea would be to have a smart input that would point to said blog post?

[2012-08-02 16:35] aerwin commented on #2172
@evanhw fixed this for me in GridX code. I pointed at this fix by updating submodules in Maqetta commit 51ec4c6526540e08774f6102a24351658489a7af . So, closing again.

[2012-08-02 16:35] #2172 closed, assigned to aerwin

[2012-08-02 17:02] JonFerraiolo opened #2842 "Multiple views get selected=true"
@doronrosenberg

I hope this is easy to fix.

If you run through the mobile tutorial using the latest code, the resulting HTML file has selected=true for both of the views. The page editor (and ViewHelper.js) should be ensuring that one one view has selected=true.

[2012-08-02 17:07] JonFerraiolo opened #2843 "UIMakeover - Properties palette exception with dropdown"
@doronrosenberg @peller @childsb

This bug only happens in the UI makeover (which hasn't been merged into master at this time this bug was created). I expetct it has to do with the Properties palette floating above the canvas.

I ran through the mobile tutorial. When on the second view (alerts view), I select the Heading, set the "back" property to something, and then attempt to use the dropdown o

[2012-08-02 17:12] JonFerraiolo commented on #2488
I'd really rather avoid the shipping product include hard-coded hyperlinks to articles on IBM developerWorks.

How about SmartInput that says something like this widget requires supplemental JavaScript, with a hyperlink that instead of going to developerWorks, instead goes to Google.com, with a search key for Maqetta+StackContainer+How+To.

[2012-08-02 17:26] JonFerraiolo opened #2844 "UI makeover - page editor selection still shows in source-only mode"
@peller

In the UI makeover branch, if I select a widget in design mode, and then switch to source mode, the selection is still visible.

I suspect that this is the result of my changes which moved the selection chrome out of the user's iframe into the outer "Maqetta-frame". Previously, the selection was there, but invisible because the user's iframe was invisible.

[2012-08-02 17:28] doronrosenberg commented on #2843
Does the dropdown open even with the exception?

[2012-08-02 17:31] JonFerraiolo opened #2845 "UI makeover - SaveAs doesn't remove older shadow tab"

[2012-08-02 17:56] JonFerraiolo opened #2846 "With UI Makeover, no properties palette for theme editor"
With the UI makeover, the ActionBar is hidden, which makes it so that there is no way to open up the floating properties palette.

[2012-08-02 18:01] JonFerraiolo commented on #2843
I just logged the bug quickly during a testing pass. I'll study in more depth later. However, to my best memory, I think the exception prevents the popup from opening with the first click on the dropdown arrow, but the second click on the dropdown arrow brings up the menu correctly.

[2012-08-02 18:44] JonFerraiolo commented on #2846
I have this mostly fixed with 770bd664a2cb379f3ac4dbaff34fefadc83511f2 in the UIMakeover2 branch.

[2012-08-02 18:59] #2842 closed, assigned to doronrosenberg

[2012-08-02 19:28] doronrosenberg opened #2847 "Exception loading page with mobile views"
- Create a new page
- Dnd a dojox.mobile.View.
- reload page

[code]

[2012-08-02 19:30] doronrosenberg commented on #2847
@jhpedemonte @JonFerraiolo

I think this is a timing issue, as adding a rootNode check exposes another error in ThemeHelper.js (header.styleSheets is undefined).

[2012-08-02 19:36] #2628 closed, assigned to doronrosenberg

[2012-08-02 19:37] doronrosenberg commented on #2602
Was this supposed to be assigned to me? I thought someone else wad doing document.css work already

[2012-08-02 21:27] doronrosenberg commented on #2847
Seems to be consistent on Firefox but only when I clear my chrome cache

[2012-08-02 21:29] peller commented on #2847
I see something different.  I see an exception at Context.js in loadTheme(), line 805:

[code]

where loadTheme was called at Context.js:843 after loading the metadata for html.body... but is it reasonable to assume that the model exists for the body tag at this point?

@billreed63

[2012-08-02 21:46] doronrosenberg commented on #2847
Did some more debugging, ThemeHelper::widgetAddedOrDeleted is getting called before the rootNode exists.  I put the debugger on it and a few secs after hitting it the rootNode is there.

[2012-08-02 22:37] billreed63 commented on #2847
Can someone add  the page html that they are using.. I am not seeing this on my system

[2012-08-02 23:09] doronrosenberg commented on #2847
Create a new html page, save it.  Reload browser.  Seeing this consistently on Firefox and sometimes on Chrome after a cache clear

[2012-08-02 23:38] JonFerraiolo commented on #2602
Can @doronrosenberg, @peller and @billreed63 figure out who should own this issue?

[2012-08-02 23:49] JonFerraiolo opened #2848 "Clean up code in mega UI makeover checkin"
There is a whole bunch of code cleanup that needs to be one with this checkin:

a7d8ede1ced8f2e4ef2c7c540682f611eaa9d711

I checked it in before doing a full cleanup so we could review the new UI as soon as possible.

[2012-08-03 00:05] doronrosenberg commented on #2847
here is the generated source:

[code]

[2012-08-03 00:45] JonFerraiolo commented on #2846
Fixed in mega checkin: a7d8ede1ced8f2e4ef2c7c540682f611eaa9d711

[2012-08-03 00:45] #2846 closed, assigned to JonFerraiolo

[2012-08-03 00:46] #2845 closed, assigned to JonFerraiolo

[2012-08-03 01:25] peller commented on #2847
seems like code referencing the model should not be in _setSource(), at least not before the window onload event completes and parse() is called.  Perhaps that code could be relocated to continueLoading() or _setSourceData()?

[2012-08-03 02:35] peller opened #2849 "Safari: Error using New file in NewHTMLFileOptions"
Bring up a new workspace. Hit the button for new sketch file.  Exception is shown on the console:

[code]

this.deviceLabel is undefined.

[2012-08-03 03:04] #2438 closed, assigned to JonFerraiolo

[2012-08-03 05:13] aerwin commented on #2763
--> @aerwin

Preliminarily, it looks like the changes I'm making for #2796 will fix this one.

[2012-08-03 06:31] aerwin opened #2850 "Parse exception when launch Border Container Dialog"
Using Chrome on Mac...

Making Sev 3 because it doesn't seem to be having a functional impact in my limited tested, but making High Priority because it should probably be investigated for M7...
1. New HTML page
2. Drop Border Container onto page
3. See the following in console:

[code]

[2012-08-03 06:37] aerwin opened #2851 "JS Exception when click OK on Tree Smart Input"
Using Chrome on Mac.... notice the dialog was recently converted to use new resizable dialog, so not sure if that's a factor here...

Making Sev 3 because I'm not sure there's a real functional impact, but making Priority High initially because it should probably be investigated for M7...
1. New HTML file
2. Drag Tree onto Page
3. Click OK on Tree smart input and see:

[code]

[2012-08-03 06:56] aerwin opened #2852 "Size and resize behavior of tree (and table) input dialogs is off when there is limited vertical screen real estate"
@doronrosenberg

Using Chrome on Mac...
1. Reduce vertical size of browser (such as if you you have Developer Tools showing)
2. Create new HTML file
3. Drop tree onto page
4. Initial size of dialog is off... at the very least I think scrollbar should only be on the div of the white area of the dialog. E.g., there should never be vertical scrolling required to see the OK/Cancel buttons. And, I thou

[2012-08-03 06:59] aerwin commented on #2852
Same thing happens with GridX, but even worse because can't see buttons at all:

![screenshot](http://i.imgur.com/b7LEH.png)

[2012-08-03 07:04] aerwin opened #2853 "Resizing GridX smart input dialog fails with JS error"
@doronrosenberg

Using Chrome on Mac...
1. New HTML file
2. Drag GridX onto page
3. Try to resize GridX wizard (e.g., make it bigger) and size doesn't change
4. See JS error in console:

[code]

NOTE: This problem is independent of the other issue I opened tonight regarding limited vertical screen real estate.

[2012-08-03 14:34] JonFerraiolo commented on #2849
Feel free to send this issue to me. I wrote all of the NewHTMLFileOptions and probably my recent mega checkin for the UI makeover is a contributor to this issue.

[2012-08-03 14:41] aerwin commented on #2796
Marking closed based after above commit.

[2012-08-03 14:41] #2796 closed, assigned to aerwin

[2012-08-03 14:44] aerwin commented on #2719
Marking closed based on commit 6a1ab9931e7065c1c8554941590c214bd39f1343 put in for #2796.

[2012-08-03 14:44] #2719 closed, assigned to aerwin

[2012-08-03 14:46] aerwin commented on #2763
Marking closed based on commit 6a1ab9931e7065c1c8554941590c214bd39f1343 put in for #2796.

[2012-08-03 14:46] #2763 closed, assigned to aerwin

[2012-08-03 15:04] JonFerraiolo commented on #2655
Closing. No jiggling on Chrome now with latest Dojo and UI makeover.

[2012-08-03 15:04] #2655 closed, assigned to JonFerraiolo

[2012-08-03 15:12] #2851 closed, assigned to nobody

[2012-08-03 15:23] aerwin opened #2854 "New icons needed for various new/modifed UI functionality in M7 Maqetta"
@JonFerraiolo

Per ST, just creating a placeholder issue so we can start building one list of new icons needed for M7.

As a start, I'd like to add toolbar icons for new tree smart input (#2689) to the list.

[2012-08-03 15:25] #2853 closed, assigned to doronrosenberg

[2012-08-03 16:00] #2847 closed, assigned to billreed63

[2012-08-03 16:11] aerwin commented on #2838
@childsb had also pointed out to me the other day that for Orion he created new versions of `SetWorkbenchState.java` (and `GetWorkbenchState.java`) to use `IEclipsePreferences` in order to eliminate explicitly puttings a `.settings` folder (and its child `workbenchState.settings` file) for an individual user into the file system. So, `SetWorkbenchState.java`  for Orion looks like:

[code]

So, ano

[2012-08-03 16:33] JonFerraiolo commented on #2854
@jmockler

We need small icons for various dropdown menus.

On the top-most black banner, have a handful of dropdown menus, and none of the commands have icons, but I think that's fine, at least for the M7 release.

On the toolbar:
- We already have icons for Save and SaveAs.
- (!) We have a placeholder icon for SaveAs Widget. We need to decide whether we need a different icon for that command.
-

[2012-08-03 16:53] #2844 closed, assigned to JonFerraiolo

[2012-08-03 18:19] JonFerraiolo commented on #1189
With the mega UI checkin from yesterday (https://github.com/maqetta/maqetta/commit/a7d8ede1ced8f2e4ef2c7c540682f611eaa9d711), we now have a "close all" popup menu command on the context menu for the various file tabs at the top of the Maqetta UI. This will close all editor tabs.

I tried to implement "close others", but with dojo menus, there is no way that I could figure out to know which tab lau

[2012-08-03 18:21] JonFerraiolo commented on #2854
During a discussion today, we decided we need icons for everything on the Create and Open menus.

[2012-08-03 18:23] JonFerraiolo opened #2855 "Open review automatically after new review"
@aerwin - ok if I send this one to you?

After a user creates a new review, can we open up the review editor for the review that was just created?

[2012-08-03 18:24] JonFerraiolo opened #2856 "Add "review" to open menu"
@aerwin - ok to give this one to you?

As we discussed today, we need a 3rd item on the "Open" menu: a "Review" entry. This would present a dialog that lists all reviews that a user might open.

[2012-08-03 18:26] JonFerraiolo opened #2857 "Add white space around dialogs, including New HTML dialog"
Need to add white space around dialogs.

With New Mobile Application dialog, need to add white space between file controls (eg "Where") and the list of devices.

[2012-08-03 18:28] JonFerraiolo opened #2858 "New HTML Dialog - make "where" grow as dialog grows"
@doronrosenberg - if you magically have some free time... Also OK to send this one back to me.

[2012-08-03 18:35] JonFerraiolo commented on #2854
We also need 9 new icons for the welcome page.

[2012-08-03 19:32] aerwin commented on #2746
Closing with above commit.

[2012-08-03 19:32] #2746 closed, assigned to aerwin

[2012-08-03 19:54] aerwin commented on #2153
Moving to M8...

[2012-08-03 20:10] doronrosenberg commented on #2849
@peller hmm, I don't see this on any browser using trunk

[2012-08-03 20:20] doronrosenberg commented on #2401
@billreed63 Adding a classname in the prop panel doesn't throw an exception for me.

[2012-08-03 20:22] doronrosenberg commented on #2401
oops there is an error, my bad

[2012-08-03 20:24] doronrosenberg commented on #2401
Do we want to remove the app.css choice if it isn't present or just popup a error message?  My guess would be a error message explaining what happened.

[2012-08-03 20:55] #2756 closed, assigned to billreed63

[2012-08-03 20:57] billreed63 commented on #2401
or we could just add the app.css

[2012-08-03 21:08] billreed63 opened #2859 "Selection box does not scroll with theme editor"
With the new UI

Create a clone of android theme
select the heading widget
then with the scroll bar scroll the theme editor content.

The blue box does not scroll with the canvas

[2012-08-03 21:11] JonFerraiolo commented on #2401
That is likely to be the easiest thing to do from our perspective (vs trying to bulletproof the code and posted warnings or errors) and from a user perspective things just work.

But to install a fresh app.css means that the client JavaScript would need to know how to get the default app.css content. I don't think that's available today. I'm pretty sure that the server copies app.css into each new

[2012-08-04 00:10] doronrosenberg commented on #2488
@JonFerraiolo Actually if you add a stackcontroller to a stackcontainer it will generate buttons to change panes, so there really isn't a need for javascript.

[2012-08-05 18:58] #2805 closed, assigned to childsb

[2012-08-05 19:32] childsb commented on #2733
HTML fragments from custom widgets where fouling up the RebuildPage code with their missing HEAD.

[2012-08-05 19:32] #2733 closed, assigned to childsb

[2012-08-06 14:27] #2857 closed, assigned to JonFerraiolo

[2012-08-06 14:27] JonFerraiolo commented on #2826
Mostly implemented. Just waiting on icons.

[2012-08-06 14:29] JonFerraiolo commented on #1549
Fixed with mega UI makeover: a7d8ede1ced8f2e4ef2c7c540682f611e

[2012-08-06 14:29] #1549 closed, assigned to JonFerraiolo

[2012-08-06 14:30] JonFerraiolo commented on #40
Fixed by UI makeover mega checkin: a7d8ede1ced8f2e4ef2c7c540682f6

[2012-08-06 14:30] #40 closed, assigned to JonFerraiolo

[2012-08-06 14:31] JonFerraiolo opened #2860 "M7 docs update, including cheat sheets"

[2012-08-06 14:48] JonFerraiolo commented on #2116
Fixed by ui makeover mega checkin: a7d8ede1ced8f2e4ef2c7c

[2012-08-06 14:48] #2116 closed, assigned to JonFerraiolo

[2012-08-06 14:53] JonFerraiolo commented on #2676
-> @childsb

[2012-08-06 14:57] JonFerraiolo opened #2861 "Pixel tweaking for UI makeover"
There are a whole slew of various pixel tweaks needed with the UI makeover. For example, the ActionBar color scheme is all wrong right now. Waiting on some pictures and icons from the UI folks for some of this.

[2012-08-06 15:00] JonFerraiolo opened #2862 "Update UI for login/registration pages"
@childsb already did the big things (e.g., replace the icon). @JonFerraiolo needs to do all of the CSS pixel tweaking.

@jmockler

[2012-08-06 15:18] JonFerraiolo opened #2863 "StackContainer: Untested -> Dojo Containers"
We need to move StackContainer from the Untested section to the Dojo Containers section. Probably need to copy/paste the metadata for StackContainer within package.json to place StackContainer alphabetically between MenuBar and TabContainer so that we can preserve alphabetical listing within the Dojo Containers section of the Widgets palette.

[2012-08-06 15:18] JonFerraiolo commented on #2863
BTW - We will be removing the Untested section from the shipping version of M7.

[2012-08-06 15:26] JonFerraiolo opened #2864 "Rearrange widgets within Dojo Mobile section of Widgets palette"
@jhpedemonte

Right now, Ratings appears as the first entry in the Dojox Mobile section of the Widgets palette. We want the *Views to be the first entries because in most cases that's the first thing the user needs to add to his page. To push Ratings down lower, just need to cut/paste its metadata entry within packages.json to a different location in the file.

IMO, we need subgroups within the Wi

[2012-08-06 15:30] billreed63 opened #2865 "Orion workspaces different than user name"
Currently the Orion folder name for the workspace doen't match the user name.

1) How are we going to map existing users from  current maqetta to orion.
2) How are we going to find users workspaces once we deploy?

[2012-08-06 15:40] billreed63 opened #2866 "Properties palette should hide widget spec in theme editor"
The new properties palette should hide
Widget specific, Event and per widget when in use by theme editor

[2012-08-06 15:48] billreed63 commented on #2859
Select the top widget, Global widget in claro theme editor
Scroll down so that the Global widgets scrolls under the top banner, notice that the selection box is now over the banner

[2012-08-06 15:49] billreed63 commented on #2859
Border selection overlays properties palette

DnD TabContainer
Select tab container
notice that the selection is (blue box) is over the tab container.

[2012-08-06 15:50] JonFerraiolo opened #2867 "StackContainer issues that need to be addressed"
@doronrosenberg @aerwin

@billreed63: Sending this to you at first to update this issue appropriately, then please reassign to @doronrosenberg.

I played around a bit with StackContainer and I see various issues that we need to review. @billreed63 (and @aerwin): you have sacrified some blood, sweat and tears over widgets with similar issues, such as Tree, where adding a single widget (e.g., Tree)

[2012-08-06 15:53] JonFerraiolo opened #2868 "StackContainer doesn't work with Preview in Browser"
I added a StackContainer, accepted the defaults on SmartInput, and then clicked Preview-in-Browser. Got a parser exception. Doing a view source shows that there are no `require` entries for StackContainer or StackController.

[2012-08-06 15:54] billreed63 commented on #2859
Create a html  file1.html and a theme calro1
DnD a couple widgets onto the canvas of file 1
Select a widget and click the drop down arrow  select background from the tabs and Stretch the box

Now switch to claro1, pick a widget and select drop down and select background..

Now switch back to file1.html

Note the properties palette is collapsed instead of expanded and that the box is still the stre

[2012-08-06 15:56] JonFerraiolo opened #2869 "No Maqetta context menu when mouse is over focus chrome"
@doronrosenberg @peller

With M6, if you selected a widget, put the mouse over the blue selection chrome, and then attempted to bring up the context menu, you go the Maqetta context menu, but with M7, you get the browser context menu.

[2012-08-06 16:11] JonFerraiolo opened #2870 "Click away from context menu doesn't bring down context menu"
Add a TabContainer. With TabContainer selected, bring up context menu over the canvas. Click away from menu with mouse over the ContentPane area of the TabContainer.

Result=> ContentPane gets selected, context menu stays posted.

[2012-08-06 16:12] childsb commented on #2865
User migration has moved to a server side process. Look at maqetta.server.orion.hosted / MigratUser6to1.java

As far as finding the users directory, there is some Orion admin pages that should give us access to the users data.

[2012-08-06 16:12] #2865 closed, assigned to childsb

[2012-08-06 16:16] billreed63 commented on #2867
Most likly they should be treated as a pair for all user operation,  cut, copy, paste, re-parent

[2012-08-06 16:56] doronrosenberg commented on #2863
I was going to do this once we figured out if we need to add docs for strackcontainer

[2012-08-06 17:08] JonFerraiolo commented on #2859
@billreed63: Could you please pull and try this again? I submitted a fix this morning: 3ee715a69902d23a296561c3f479b9336370bcb0

[2012-08-06 17:31] #2868 closed, assigned to doronrosenberg

[2012-08-06 17:35] #2863 closed, assigned to doronrosenberg

[2012-08-06 17:49] JonFerraiolo commented on #2867
@billreed63: anything else? if not, please reassign to @doronrosenberg

[2012-08-06 18:19] JonFerraiolo opened #2871 "Context..js:deactivate() never called"
@billreed63

To my surprise, I've discovered that ve/Context..js:deactivate() is never called except by VisualThemeEditor.js, and in that case it is a nop because the check at the top of deactivate() (`if(this.isActive())`) always returns false.

My guess is that we have major memory leaks due to not calling deactivate().

It looks like activate() is only called when a new editor is first opened.

[2012-08-06 18:31] doronrosenberg commented on #2657
fixed hopefully by 760525d4c3ac6b6c6772c9606275f224c362fa27

[2012-08-06 18:32] doronrosenberg commented on #2488
Closing this, don't think we need to document javascript as its an optional thing.

[2012-08-06 18:32] #2488 closed, assigned to doronrosenberg

[2012-08-06 18:34] #2849 closed, assigned to doronrosenberg

[2012-08-06 18:36] #2657 closed, assigned to doronrosenberg

[2012-08-06 18:54] aerwin opened #2872 "UI Refresh: Update palettes that show, come to front on editor, etc. on editor switches"
@JonFerraiolo

A long time ago for #1814 ("UI tweaks to palettes - bringing palettes to top for particular editors"),  we made it so different  palettes come to the front depending on what editor is brought to the front. We need to re-evaluate and clean up code in that area with the new UI refresh.

For example, I just opened a review from the Reviews palette, but when the review was opened, the R

[2012-08-06 18:58] aerwin opened #2873 "Open reviews don't reopen on browser refresh"
Reviews opened via the Reviews palette don't reopen on browser review. This is separate from #2463 where reviews opened with the link sent in the invite e-mail always reopen even when closed.

[2012-08-06 19:06] #2869 closed, assigned to JonFerraiolo

[2012-08-06 19:14] #2830 closed, assigned to childsb

[2012-08-06 19:18] childsb commented on #2565
We'll be using app.maqetta.org for the orion/maqetta instance instead of modifying the URL space (not possible).  re-assigning to @jhpedemonte

[2012-08-06 19:19] childsb commented on #2824
- Javier is working on the maqetta.org configuration.  The plan is to host maqetta/orion on app.maqetta.org, and content on www.maqetta.org.  It wasn't possible to move the URL space for the application itself.
- The hosted version forces you to sign up with email.  maqetta-test is running the standard login which doesn't force email.  I will fix this though.

Will fix the login screen and launch

[2012-08-06 19:21] aerwin commented on #2463
@childsb

It was actually @childsb 's commit d6c5a8704a56e7c1c53ababaf7c82e1d97a63fb5 where path was removed (not 14a3498ac303a49a4c8c1a35705489d53397cc9b as I wrote a couple months ago). Regardless, I'll fix this current issue by putting path back in.

[2012-08-06 19:28] aerwin commented on #2463
Closing with above commit.

[2012-08-06 19:28] #2463 closed, assigned to aerwin

[2012-08-06 20:24] #2870 closed, assigned to JonFerraiolo

[2012-08-06 20:51] doronrosenberg commented on #2867
@peller Filed a bug on dojo - http://bugs.dojotoolkit.org/ticket/15815

StackController can't be destroyed without an exception being thrown, making StackController not work at all with move/delete/etc in Maqetta.

[2012-08-06 21:01] aerwin commented on #2873
Closing with above commit.

[2012-08-06 21:01] #2873 closed, assigned to aerwin

[2012-08-06 22:08] doronrosenberg commented on #1180
@jhpedemonte @JonFerraiolo So smartinput isn't a real dialog and thus you can tab out of it and back into the main DOM of the document, hence why it gets hidden when you tab a few times.

The only way to really fix that would be to dump the custom code and use something like dijit.TooltipDialog.  I assume its too late to switch to it though, so I could try to fix the focus but that will take some

[2012-08-07 04:08] JonFerraiolo commented on #1180
I say defer to a future release.

|------------>
| From:      |
|------------>

@jhpedemonte @JonFerraiolo So smartinput isn't a real dialog and thus you
can tab out of it and back into the main DOM of the document, hence why it
gets hidden when you tab a few times.

The only way to really fix that would be to dump the custom code and use
something like dijit.TooltipDialog. I assume its too late t

[2012-08-07 05:01] #2866 closed, assigned to JonFerraiolo

[2012-08-07 05:08] JonFerraiolo commented on #2670
I just tried this when running from Eclipse and arrow keys caused an absolutely positioned Button to move in the correct direction.

[2012-08-07 13:53] aerwin opened #2874 "Downloaded workspace is too large"
Had email conversation with @peller yesterday and he advised opening an issue as appears to be a regression from M6...
1. Click button to download workspace
2. Uncheck everything but dojo (also uncheck dojo-src)
3. Click OK and end up with zip file that's around 21.8 MB

The goal (at a minimum) is to get under 10 MB.

[2012-08-07 14:11] billreed63 opened #2875 "Logout does not do anyting"
From the user icon click the logout drop down menu item... Nothing happends..

[2012-08-07 14:43] childsb commented on #2875
is this built or unbuilt?

i checked in a fix yesterday that should logout and redirect to login page

[2012-08-07 14:56] billreed63 commented on #2875
I have not pulled since yesterday morning so it is most likely fixed...

[2012-08-07 15:15] aerwin commented on #2855
Closing with above commit.

[2012-08-07 15:15] #2855 closed, assigned to aerwin

[2012-08-07 16:09] doronrosenberg opened #2876 "Creating new page throws exception"
Create a new Desktop app for example:

[code]

Seems to be related to the dialog.

[2012-08-07 17:26] doronrosenberg opened #2877 "Cut/Paste of tree doesn't work"
- dnd 2 divs onto canvas
- dnd tree into first div
- right click on tree in outline and cut
- right click and paste into the 2nd div in the VE

result: nothing happens.  Undo also seems to not bring back the tree widget but only the models.  Seen on firefox/chrome

[2012-08-07 17:28] #2867 closed, assigned to doronrosenberg

[2012-08-07 17:29] #2829 closed, assigned to billreed63

[2012-08-07 17:39] #2378 closed, assigned to billreed63

[2012-08-07 18:04] billreed63 opened #2878 "Server exception when opening sample1.html in page editor"
org.eclipse.core.runtime.CoreException: Could not write file: C:\maqetta-workspace\a\samples\Sample1.html.workingcopy.
    at org.eclipse.core.internal.filesystem.Policy.error(Policy.java:55)
    at org.eclipse.core.internal.filesystem.local.LocalFile.openOutputStream(LocalFile.java:391)
    at maqetta.server.orion.VOrionStorage.createNewFile(VOrionStorage.java:155)
    at org.maqetta.server.VFile

[2012-08-07 18:08] #2594 closed, assigned to billreed63

[2012-08-07 18:16] billreed63 commented on #239
document.css is now being modeled and rules are being selected.
The issue with label is we do not find the rule for label because it is not on the label element it is inherited from the body.

the rule is

[code]

If I add a rule to document.css for label

[code]

that rule is found and added to the cascade.

[2012-08-07 18:17] doronrosenberg commented on #2876
Problem here is a timing issue with a fadeOut in dialog, so we need to fix that.

[2012-08-07 18:18] billreed63 commented on #2462
fixed by #2694

[2012-08-07 18:18] #2462 closed, assigned to JonFerraiolo

[2012-08-07 18:21] aerwin commented on #2877
-> aerwin, Sev 2, High Priority

[2012-08-07 18:32] childsb commented on #2189
Fixed, will show email address now.

[2012-08-07 18:32] #2189 closed, assigned to childsb

[2012-08-07 18:38] childsb commented on #2824
Remaining work: Fix the "open in maqetta" integration in Orion.  The 0.5 release broke their previous extension points, and i'm waiting to hear back from Simon about the new ones.

[2012-08-07 18:40] JonFerraiolo commented on #2859
I've fixed the 2nd and 3rd problems reported by @billreed63. Regarding the first problem:

That's still pending. My best idea is:
- Continuously reposition the focusContainer DIV to be the same size as the current editor's iframe (actually, a few pixels bigger on all sides). For "continuous reposition", would need to listen for resize events on various other objects.
- The focusContainerDiv would

[2012-08-07 18:42] childsb commented on #2821
I can't reproduce.  Maybe a dijit Tree bug that's been fixed?

[2012-08-07 18:42] #2821 closed, assigned to childsb

[2012-08-07 18:51] childsb commented on #2819
Can't reproduce on FF or Chrome

[2012-08-07 18:51] #2819 closed, assigned to childsb

[2012-08-07 18:55] JonFerraiolo commented on #2843
I saw this again today, but then I tried to reproduce for 15 minutes and couldn't make it happen again.

[2012-08-07 18:58] doronrosenberg commented on #2877
Note that this isn't tree-specific, it seems to happen with any widget that overrides reparent I believe

[2012-08-07 18:58] JonFerraiolo commented on #2843
Reducing to Prio-Med since it is hard to reproduce and if debugger is off this exception does no harm, except that the user has to click a second time on dropdown arrow to see menu for moveTo control.

[2012-08-07 20:26] #2876 closed, assigned to doronrosenberg

[2012-08-07 20:45] JonFerraiolo opened #2879 "Theme editor doesn't seem to pick up delta style changes"
- Clone the ipad theme into ipad2.theme
- Select the global button widget and in properties palette change 'color' to red
- Save and close the theme
- Type this URL into the browser: http://localhost:8081/maqetta/user/A/ws/workspace/project1/themes/ipad2/ipad2.css (or whatever is appropriate for your environment)

  I see various entries for `color:red`. It looks like the delta theme is getting up

[2012-08-07 20:55] JonFerraiolo commented on #2818
I debugged into this issue. I think I figured out what's wrong. We are doing "URL path math" somewhere in our code to compute the relative URL that will point to the image file.

The "path math" is figuring out the relative URL for the image file using the base theme CSS file as the base path, which means something like `lib/dojo/dijit/themes/android/android.css` is the presumed base path. As a re

[2012-08-07 21:14] JonFerraiolo commented on #2818
Reassigning to @billreed63 because this is centered on delta themes interacting with the theme editor.

Further study shows that the relative path math is done in BackgroundDialog.js using `this._baseLocation`, which it gets from Background.js, which gets it from this code at Cascade.js:75:

[code]

which gets called by `_onChange` which at line 1-26 computes the location from CSSFile pointed to b

[2012-08-07 21:19] #2422 closed, assigned to billreed63

[2012-08-07 21:37] JonFerraiolo opened #2880 "getRelativeStyleSelectorsText is passed an array, but expects a singleton"
This is a follow-on to #2637.

I did a code review of the change in #2637 where `this.target` was implemented to always be an array, and then checked out various code that was "downwind". I found one case that looks incorrect.

Cascade.js:1199 has this logic:

[code]

which goes into Context.js:2626, which in turn calls `getRelativeStyleSelectorsText()`, which is defined at ve/themeEditor/metadata

[2012-08-07 21:39] JonFerraiolo commented on #2637
Closing this bug. I did a thorough code review and everything looks good except for the problem I listed in #2880.

[2012-08-07 21:39] #2637 closed, assigned to JonFerraiolo

[2012-08-07 22:00] #2879 closed, assigned to billreed63

[2012-08-07 23:36] aerwin commented on #2856
Closing with above commit.

[2012-08-07 23:36] #2856 closed, assigned to aerwin

[2012-08-08 03:17] JonFerraiolo opened #2881 "Clone claro theme - no document.css for theme editor"
Running http://maqetta-app-test.austin.ibm.com/maqetta/ on Mac/FF

I cloned claro into myclaro. The fonts used in the theme editor are what you get when document.css isn't there.

![picture](http://i.imgur.com/PVgLG.png)

[2012-08-08 03:43] JonFerraiolo opened #2882 "Theme editor selection chrome doesn't deal with scrolling"
I thought I fixed this a few days ago...

In Dojo theme editor, select TitlePane. Then scroll the theme editor vertically.

Note: selection rectangle doesn't adjust.

[2012-08-08 04:14] aerwin opened #2883 "Need way to switch projects from welcome page"
@JonFerraiolo

On welcome page, there's no way to no what project you're currently working on and there's no way to switch projects. At the very least, we probably need an Open -> Project... menu option.

[2012-08-08 04:33] JonFerraiolo commented on #2883
How about adding an Open project command, similar to what you just did for opening a review?

[2012-08-08 04:35] aerwin opened #2884 "Need easier access to workbench (and preference to stay in workbench)"
@JonFerraiolo

As a "power" user who is used to working with the workbench and the tabs within it, I think we need the following:
- link from welcome page to the workbench. E.g., I find myself "playing games" where I create an unnecessary file just to get my workbench back. [The flip of this where you could get to the welcome page from the workbench would also be really good for folks who prefer t

[2012-08-08 04:36] JonFerraiolo opened #2885 "Drag/rearrange in Outline palette: widgets get wrong parent"
I suspect @doronrosenberg already knows about this one due to comments today about problems with Reparent command.

I created a TabContainer and put a few widgets inside of one of its ContentPane children (e.g., Button, TextBox, Calendar). When I tried to drag the Calendar and move it just before one of its earlier siblings, the Outline palette instead moved the Calendar as a sibling to the TabCon

[2012-08-08 04:36] aerwin commented on #2883
Sure, that's what I meant by Open -> Project... menu option. I can do that.

[2012-08-08 04:41] JonFerraiolo opened #2886 "Outline palette: clicking on eyeball shouldn't select the widget"
WIth latest code, if you click on the eyeball in the Outline palette, there is an implicit widget selection. We didn't have that in previous releases, and it's not a good thing, particularly when clicking on the eyeball to hide a particular widget.

The exception is with mobile views. For mobile views, if you click on eyeball to make a view visible, then mabye in some cases we might want to select

[2012-08-08 04:48] JonFerraiolo opened #2887 "EdgeToEdgeDataList: data source menu doesn't work"
@billreed63

The data source menu on the EdgeToEdgeDataList's SmartInput dialog is inoperable.

I suspect this is because I changed the code recently to insert an overlay DIV over the canvas to capture click events to fix a different issue.

[2012-08-08 04:52] JonFerraiolo opened #2888 "SmartInput help text for DataCarousel is incorrect"
If you click on the ? icon for SmartInput for DataCarousel, it says:

Text represents literal text

or something like that. We need to change the info in package.json for DataCarousel to include a more informative summary about the formatting rules for DataCarousel.

(I assume there are some other widgets that also need different SmartInput help text.)

@billreed63 knows how this works

[2012-08-08 04:54] aerwin opened #2889 "New file stays in file palette even if didn't save on close"
Using Chrome on Mac with Orion...
1. Create new HTML file
2. Click save on new HTML file
3. Create 2nd HTML file
4. Close 2nd file without saving
5. 2nd file stays in Files palette

[2012-08-08 05:03] aerwin opened #2890 "Orion: JavaScript file changes not saved"
Using Chrome on Mac w/ Orion...

Perform "New menu: New JavaScript File - different filename in root directory, with save" test case and JS file changes not persisted on save.
1. New JS file
2. Add some text to the file, such as "// a comment"
3. Save file
4. Close file
5. Reopen file and previously added text not there

[2012-08-08 05:14] aerwin opened #2891 "User, Preferences, and Help Menus Get Cut-off"
Using Chrome on Mac...

The User, Preferences, and Help Menus each get cut-off the first time they are opened. They correct themselves the next time they are opened.

![Screenshot](http://i.imgur.com/bKNT0.png)

![Screenshot](http://i.imgur.com/zoXjy.png)

![Screenshot](http://i.imgur.com/5ioHB.png)

Probably a Sev 3 problem, but seems like it would be nice to fix for M7 if possible (hence (High P

[2012-08-08 05:20] JonFerraiolo commented on #2887
-> @doronrosenberg . I took a look at this and I'm scratching my head about why the menu doesn't come up. Could you take a look and see if you can figure out what's wrong?

[2012-08-08 13:54] billreed63 opened #2892 "Can not select widget in widget palette"
Widget test case:

Click on a widget to select it, and then click on the canvas. This should also add the widget to the canvas.

[2012-08-08 14:09] peller opened #2893 "Could not load metadata for type: dojox.layout.ScrollablePane"
DnD a Scrollable pane on to the canvas from the mobile widget section, this error appears on the console

[code]

@jhpedemonte

[2012-08-08 14:37] peller opened #2894 "Need strategy for showing user id as displayable name in Maqetta UI (when one doesn't exist)"
This is how I was identified in a R&C e-mail:

[code]

With "H" instead of a real name. I'm not sure I had an opportunity to provide a real name when registering.

[2012-08-08 14:45] #2563 closed, assigned to childsb

[2012-08-08 14:47] peller opened #2895 "review link does not open review editor"
(with orion integration)

click the link on a review invitation, and you are taken to the workbench.  The review(s) does not open, and it's not obvious to the user that there are reviews to look at.

question: if you include multiple files in the review, are they all supposed to open?

[2012-08-08 14:50] doronrosenberg commented on #2892
Might be a dupe of #2877

[2012-08-08 14:50] peller opened #2896 "Incorrect email domains in "from:""
The account registration emails are _always_ sent from "admin@maqetta.org".  New review emails come from "noreply@website.org".  Both should be **configurable**.

@aerwin @childsb

---

**Proposal** in [this comment](https://github.com/maqetta/maqetta/issues/2896#issuecomment-8158386).

[2012-08-08 14:52] JonFerraiolo commented on #2892
@peller - I wonder if the deferred logic you added with https://github.com/maqetta/maqetta/commit/f33d380dc6418c627539c87176d013090f5a9f20 is causing this regression.

[2012-08-08 14:53] aerwin commented on #2896
Re-routing this to @childsb ... I don't know anything about how the mail server is set-up with Orion...

[2012-08-08 14:55] JonFerraiolo commented on #2892
BTW - I am seeing exceptions at the same point (AddCommand.js:21: where parent is undefined) when I've been doing operations that have nothing to do with adding widgets. I haven't nailed it down, and don't have a reproducible case. It's just that when doing other things that have nothing to do with adding widgets, I see an exception at AddCommand.js:21.

[2012-08-08 15:04] billreed63 opened #2897 "Mobile device overlay not displayed on browser refresh"
Create a new mobile iphone
add header
save page
Refresh browser

Note not the device overlay is missing

[2012-08-08 15:25] #2893 closed, assigned to doronrosenberg

[2012-08-08 15:31] aerwin commented on #2877
--> @doronrosenberg

I don't doubt there are some cut/paste issues specific to working with Dijit Tree in the page editor which is why I assigned myself this one yesterday. But, given discussion on scrum, @doronrosenberg 's later comment above that "Note that this isn't tree-specific, it seems to happen with any widget that overrides reparent I believe", and investigation @doronrosenberg is doing

[2012-08-08 15:34] aerwin commented on #2895
Haven't tried yet with multiple files in the review, but review link looks when only one file in the review.

[2012-08-08 15:37] doronrosenberg commented on #2892
@JonFerraiolo I am seeing other widgets like AccordionContainer/TabContainer fail to be added with a exception, is this the same issue?

[2012-08-08 15:40] doronrosenberg commented on #2877
Back to @aerwin, in this case this is tree specific:

[code]

[2012-08-08 15:43] doronrosenberg commented on #2892
@JonFerraiolo To be more exact, I can't dnd accordion/tabcontainer into a <div>, seems to work fine into a blank ve

[2012-08-08 15:44] aerwin opened #2898 "Source menu says split on when it's not"
1. New HTML file
2. Show source (e.g., split top/bottom)
3. Save and close file
4. Reopen file and source button says "Split-H" even though it's not showing source:

![screenshot](http://i.imgur.com/juhsm.png)

I also thought clicking on the "Split-H" button would show the source in a split-pane, but it actually showed source only.

[2012-08-08 15:59] JonFerraiolo commented on #2892
@doronrosenberg - did you type in some markup that GitHub tossed away? I just see `into a ,`

[2012-08-08 16:16] aerwin commented on #2358
Reopening... just ran into this doing the SourceEditor/basic.html test case... in particular, the part where it says to add a div (e.g., trying to type `<div></div>`.

[2012-08-08 16:30] doronrosenberg commented on #2892
@JonFerraiolo Oops yeah, dnd into a div doesn't work for me, dnd into a blank canvas works

[2012-08-08 16:42] billreed63 commented on #2875
The built version running local server from following the User management basic tests case.
Logging out just returns the user back to maqetta.

[2012-08-08 16:49] JonFerraiolo commented on #2892
I'm pretty sure you meant `can't dnd accordion/tabcontainer into a DIV`. I tried this just now with latest code and that operation fails.

And I believe I see the culprit. I think the problem is in LayoutContainerHelper:34. getData() sometimes returns null for data.children and LayoutContainerHelper isn't checking for null.

So reassigning to @aerwin

[2012-08-08 16:57] #2885 closed, assigned to doronrosenberg

[2012-08-08 17:02] JonFerraiolo commented on #2898
Two problems here, both of which represent incomplete implementation of the UI:
- We need to highlight which mode is currently active, where if it's Design view only, the Design button is highlighted, whereas if it's Source or Source-H or Source-V, that button is highlighted instead
- When opening a new file, we need to properly deliver the mode shown on the source button (i.e., Source vs Split-H

[2012-08-08 17:16] billreed63 commented on #2881
I left a helper out, but checked it in last yesterday. It is working today.
If you still are seeing this issue reopen

[2012-08-08 17:20] billreed63 commented on #2818
fixed by #2422

[2012-08-08 17:20] #2818 closed, assigned to billreed63

[2012-08-08 17:21] childsb opened #2899 "error in preview with states"
1) new HTML file
2) add a calendar and button
3) add state A
4) select calendar and make it hidden in state A
5) add an event to button to switch to state A.
6) Show preview, click button and observe error:
[Break On This Error]

dojoSniffConfig.deps = dojoSniffConfig.deps || [dataMain];

dojo.js (line 643)

event is not defined
[Break On This Error]

[2012-08-08 18:20] aerwin opened #2900 "Area select: can't start in left and top margins"
@JonFerraiolo

Doing the area select test case (e.g., "VE 5"), I noticed I can't start an area selection in the white space in the left or top margins (e.g., where arrows are pointing in the screenshot):

![screenshot](http://i.imgur.com/s0n1B.png)

[2012-08-08 19:09] jinsil commented on #2854
Hi Jon,
What size do you want?
Could you specify?

Tanks,

[2012-08-08 19:23] #2880 closed, assigned to billreed63

[2012-08-08 19:30] jinsil commented on #2689
Could you let me know what exact size of icons for these?
Is that possible to create the icon request for this item?
Please let me know..

Jin

[2012-08-08 19:36] aerwin commented on #2689
@jinsil Do we have a standard toolbar icon size used for other icons in Maqetta? I'd tend to think 16x16, but would defer to whatever you and team are putting together for the overall theming during the Maqetta redesign.

[2012-08-08 19:42] JonFerraiolo commented on #2900
Probably won't be able to fix this for M7, but leaving it open. The problem is that the white space on the left and right edge of the Button are a DIV in the Maqetta app's frame, whereas the Button is in the user's iframe. Right now the area select logic only tracks mouse down events in the user's iframe. Fixing this might be a bit of work.

[2012-08-08 19:44] doronrosenberg opened #2901 "Properties panel doesn't handle no selection well"
- Select a widget
- Go to say background and click on one of the arrow buttons
- Now deselect all widgets.  The prop panel still shows the previous arrow button UI.  Probably should hide all the UI if nothing is selected

[2012-08-08 19:50] JonFerraiolo commented on #2899
Note: I added an event parameter to the setState() method so that the AppStates.js logic could figure out the origin of the click (using event.currentTarget or event.target). This was to support the "nested state containers" features I added back in June to M7.

[2012-08-08 20:04] aerwin commented on #2689
@jinsil

And, while we're talking about toolbar icons for this dialog, it would also be a nice-to-have to get sample icons for use in the tree. E.g., the dialog allows the user to set folder icon, open folder icon, and leaf icons. So, it would be nice to include icons for these in our samples directory so we can reference them in documentation.

The screenshot below shows the default icons that we

[2012-08-08 20:27] #2886 closed, assigned to doronrosenberg

[2012-08-08 21:49] #2725 closed, assigned to billreed63

[2012-08-08 23:57] peller commented on #2899
@childsb, did you get the call stack?  I am unable to reproduce this running from Eclipse.

[2012-08-09 02:55] peller commented on #2874
Somewhere along the way, it seems I checked in a full copy of Dojo with tests.  My git rm/git add didn't seem to properly remove files which are not in the latest Dojo (such as the tests)  I will try again to get it right with 1.8.0 final in the coming days.

[2012-08-09 03:06] jhpedemonte commented on #2899
Does this error affect anything?  If so, we should move this to M7.

[2012-08-09 03:25] doronrosenberg opened #2902 "Bordercontainer smartinput exception when opened"
[code]

Odd one

[2012-08-09 03:28] jhpedemonte commented on #2901
Not sure what you propose.  Do you mean that the Properties UI should be hidden when a widget isn't selected?

[2012-08-09 03:33] doronrosenberg commented on #2901
Yeah, hide the UI - that way all you see is no_selection and nothing else underneath.

[2012-08-09 03:36] jhpedemonte commented on #2901
Why do that?  Currently, every widget in the Properties view is disabled when a widget isn't selected.  Seems fine to me.  If we completely hide the UI, then we just have a blank rectangle of space.

[2012-08-09 03:37] jhpedemonte commented on #2902
The error doesn't seem to cause any issues, but we should definitely investigate.

[2012-08-09 03:41] jhpedemonte commented on #2900
I'm confused:  so there's white space that is a _border_ around the white space that is the _visual editor_?

If that is the case, shouldn't we differentiate between the two (i.e. not make them both white)?

[2012-08-09 03:47] jhpedemonte commented on #2898
For the 2nd bullet there, I assume we'll make the source selection sticky across all files for the user, right?  That is, opening a new file won't reset the source selection back to _Source_ (if it had previously been set to one of the split options).

[2012-08-09 03:51] jhpedemonte commented on #2875
Build running on maqetta-test also has this problem (built from b6bbf7003b7c88b0c210166f190cd99b4467e627).  Logout just reloads maqetta.

[2012-08-09 03:54] aerwin commented on #2902
Is this the same as ##2850 ?

[2012-08-09 03:55] jhpedemonte commented on #2897
This is working for me on maqetta-test.

[2012-08-09 03:57] jhpedemonte commented on #2902
Dupe of #2850.

[2012-08-09 03:57] #2902 closed, assigned to nobody

[2012-08-09 03:58] jhpedemonte commented on #2891
-> @JonFerraiolo

[2012-08-09 04:06] doronrosenberg commented on #2892
@peller ccing you just because this exception isn't being logged in rc1 for me, bad dojo?

[2012-08-09 12:10] jmockler commented on #2689
@aerwin - could we plan to demo this function in Friday's call. Its not clear to me what icons you're asking for and what the function is.

[2012-08-09 13:10] peller commented on #2899
we need to reproduce it first.

[2012-08-09 13:34] billreed63 commented on #2897
the only time I am seeing it is when I have 4 files open in the editor and the debugger window open [update: bill said the debugger window didn't have to be open]

I have file1.html (iphone) mycustome(custome theme), myclaro (claro theme),  file2.html (android with mycustom theme)

Chrome/windows

[2012-08-09 14:01] aerwin commented on #2689
@jmockler -- Sure, I'd be glad to.

@JonFerraiolo -- could you add this to the agenda?

[2012-08-09 14:24] peller commented on #2884
Moving the welcome page back down in the hierarchy as a peer to the palettes would seem to solve both of these problems.

[2012-08-09 14:28] aerwin commented on #2884
Yes, agreed. I opened this up before our discussion yesterday. We can probably close this (unless @JonFerraiolo was going to use to track the work for moving the welcome page).

[2012-08-09 14:40] peller commented on #2892
@doronrosenberg are you sure there's an exception?  If so, what is it?

[2012-08-09 15:14] doronrosenberg commented on #2892
@peller The exception (drag a div, drag a tab container into it) is in LayoutContainerHelper line 46 (parentChildren is null).  I see it going to Deferred.js line 49:

[code]

Error is:

[code]

I don't see anything in the console in firefox

[2012-08-09 15:27] doronrosenberg opened #2903 "Global event handlers not working"
Global key bindings aren't registering correctly

[2012-08-09 15:33] #2903 closed, assigned to doronrosenberg

[2012-08-09 15:38] doronrosenberg opened #2904 "Keyboard navigation - we no longer have one dialog for creating a new file"
@jhpedemonte @JonFerraiolo

In the new UI world we live in, there is no generic "new file" dialog.  We used to have ctrl-e bind to it.

Perhaps we should map ctrl-e to open the top Open dropdown and give it focus?  I believe that should work.

[2012-08-09 16:00] peller commented on #2748
-> @jhpedemonte

[2012-08-09 16:19] #2881 closed, assigned to billreed63

[2012-08-09 17:01] JonFerraiolo commented on #2904
Yes, I noticed that. I think we just drop Cmd-N/Ctrl-N from the list of shortcuts. I think the positives from having the New command offer discrete choices (New Mobile App, ..., New Sketch ...) outweighs having a Cmd-N/Ctrl-N shortcut.

We could add a dialog just for  Cmd-N/Ctrl-N, but that's extra work and we are out of time for M7.

Can we turn this into a documentation issue - just remove Cmd-N

[2012-08-09 17:03] doronrosenberg commented on #2904
@JonFerraiolo I'll do the changes since I have to remove code as well and update test plan

[2012-08-09 17:44] billreed63 opened #2905 "Theme Editor subwidget menu exception"
1) Clone claro
2) open debugger, set pause on uncaught exceptions
3) Select Calendar widget
4) move mouse over subwidget list

Note the following exception:
72
Uncaught TypeError: Cannot read property 'domNode' of undefined _CssStateMixin.js:272
handler _CssStateMixin.js:272

[2012-08-09 19:01] billreed63 opened #2906 "State not supported layer missing from themeEditor"
Clone custom theme
select disabled state

most of the widgets do not support disabled but the div that  gray's them out is missing

[2012-08-09 19:48] billreed63 opened #2907 "Selecting WidgetOuterContainer from theme editor throws exception"
Select WidgetOuterContainer from the subwidget menu does not remove the red selection box from the last selected subwidget  because of exception

[2012-08-09 20:23] #2627 closed, assigned to billreed63

[2012-08-09 20:23] #2907 closed, assigned to billreed63

[2012-08-09 20:30] billreed63 commented on #2783
added this style to the them editor html to fix the submenu widget selection

[code]

[2012-08-09 20:30] #2783 closed, assigned to billreed63

[2012-08-09 20:36] doronrosenberg opened #2908 "EdgeToEdgeDataList: can't open smartinput after first time"
@JonFerraiolo not sure if related to any changes you may have made.  No exception

[2012-08-09 20:43] billreed63 commented on #2143
I disagree with @JonFerraiolo, I think that the current behavior is the correct behavior. If the user changes there mind and removes a value, we should just remove that one property from the delta rule and let it default to the base themes rule. If the user wants to override the base theme behavior they should specify what they want for the property.
If we implement what @JonFerraiolo is proposing

[2012-08-09 20:58] doronrosenberg commented on #2887
@JonFerraiolo

davinci.css

[code]

The dropdown gets a z-index of 4000.  smartInputLoading, the coverup is set to 1000110.

Dijit dialog sets z-index to 999 and its overlay to 998, I think we should use those numbers too.  It seems to work fine for me when I make the changes, but not sure how that affects the new UI stuff.

@peller in case dojo changed something relating to z-index calculations.

[2012-08-09 21:02] doronrosenberg commented on #2908
Oddly enough, breakpoint in Focus::showInline fixes it

[2012-08-09 21:11] peller commented on #2887
@doronrosenberg AFAIK, Dojo (Dijit, really) just sets its z-index in static CSS and doesn't do any calculations.

[2012-08-09 21:31] peller commented on #2871
Good catch.  Moving -> prio high for M8 so it's addressed early in the cycle.

[2012-08-09 22:43] doronrosenberg commented on #2908
Issue is we are showing the dialog and then the tree node gets focus, hiding the dialog

[2012-08-09 22:49] #2908 closed, assigned to doronrosenberg

[2012-08-10 00:17] jhpedemonte commented on #2143
**Clearing** a value is different than **removing the override and defaulting to the base theme**.

If I create a custom theme and then **unset** the `background-image` property, I expect the value of that property to be empty.  So I agree with Jon: unsetting a property on a delta theme shouldn't just remove that property from the delta theme, it should set it to **empty**.

It sounds like we also

[2012-08-10 00:24] JonFerraiolo commented on #2887
I can't think of anything in the new UI stuff that using a lower z-index for SmartInput would break, and if it does break, we would discover it during testing.

[2012-08-10 00:31] JonFerraiolo commented on #2906
@billreed63 - can you provide some additional background info? Which DIV is it that's missing, from which file (dojo-theme-editor.js?), and is there a particular CSS class on that DIV? Any idea what might have caused the DIV to be missing?

[2012-08-10 00:34] jhpedemonte commented on #2904
Reopening:

I like this idea: let's have keyboard bindings for the **Create** and **Open** menus at the top.

`{Accl} O` opens up the **Open File** dialog, right?  Use `{Accl} Shift O` for focusing the Open menu?

We can't use `{Accl} C` for Create menu; any ideas?

[2012-08-10 00:34] #2887 closed, assigned to doronrosenberg

[2012-08-10 00:43] JonFerraiolo commented on #2905
I see why this regressed. It has to do with putting the various property sections inside of a TabContainer. Those changes modified the logic regarding which pane of the properties palette was active. Still working on a fix, though.

[2012-08-10 01:02] JonFerraiolo commented on #2905
@billreed63: When you "set pause on uncaught exceptions", and then select Calendar, is it necessary to go through a large number of uncaught exceptions in the parser before reaching the real error?

[2012-08-10 01:04] doronrosenberg commented on #2904
I would say Accl E / Accel O to open the dropdowns (and then add the underline in the button to the character we choose) and then accl shift o opens the open dialog

[2012-08-10 01:22] jhpedemonte commented on #2889
cc @JonFerraiolo

[2012-08-10 01:48] jhpedemonte commented on #2883
What about taking inspiration from Eclipse:

[code]

Gets rid of a dialog...

[2012-08-10 01:52] JonFerraiolo commented on #2883
I expect we would have to add a new feature to Workbench.js to allow for sub-menus, and there might be a minor ripple effect going into a couple of other places in the code.

[2012-08-10 01:55] JonFerraiolo commented on #2889
There is a chance that my UI makeover changes might be the cause of this, but if @childsb could investigate, that would be most appreciated.

[2012-08-10 02:13] jhpedemonte commented on #2824
With the new UI, having the **Orion** button at the toolbar for the Files view doesn't make sense.  I think it would be better to put a new item in the **Open** menu at the top; maybe called **Orion Workbench**.

_(Is Orion a "workbench", a "platform"?  It's not just an "editor".  Not sure what to call it.)_

[2012-08-10 02:28] jhpedemonte commented on #1180
Did that last commit break using **Enter** on single line smart input?

Test with TextBox -- hitting enter adds a new line, rather than accepting value.

I guess I wasn't clear in the summary:  use **Ctrl-Enter** for _all_ smart inputs, but also allow **Enter** press for single-line smart inputs.  Make sense?

Moving back to M7 to handle this.

---

As for tabbing:  if the tab order is `Content ->

[2012-08-10 02:30] JonFerraiolo commented on #2824
@jhpedemonte Good suggestions. "Orion workbench" sounds fine to me. At some point we might want to ask the Orion folks what they think.

[2012-08-10 02:31] jhpedemonte commented on #2565
When using a subdomain (i.e. app.maqetta.org), the URLs look like this:
- app.maqetta.org/maqetta
- app.maqetta.org/navigate/table.html

Notice that there is no "orion" in the 2nd URL.  Is that fine?

[2012-08-10 02:40] jhpedemonte commented on #2824
Added a **Tasks** list to summary.  Please keep it updated as work is done or new tasks are required.

[2012-08-10 03:15] peller commented on #2874
With 840ce12, the workspace download of dojo only is a mere 5.7M, down from 21M(!)  We can do better, but hopefully this fixes the regression.   The upside is that the accidental checkin of all of those extra files led us to discover the performance benefits of avoiding jar packaging on static OSGi libraries.

[2012-08-10 03:15] #2874 closed, assigned to peller

[2012-08-10 05:19] peller commented on #2358
It appears this regressed with a7d8ede1 @JonFerraiolo

[2012-08-10 05:28] #2358 closed, assigned to peller

[2012-08-10 14:28] billreed63 commented on #2143
I do not understand set it to "empty"

I will use the mobile heading widget  setting the background-image to explain how the code currently works...

The base theme has:

[code]

The user creates a mycustom theme, they want to use a background color instead: To override the base theme the user must set background-image to "none" the delta theme css will get the following rule added

[code]

The us

[2012-08-10 14:38] billreed63 commented on #2906
When the user selects a state in theme editor the `disableWidgetFocusFrame` is placed over widgets that do not support the state.

I did a little looking yesterday and the `disableWidgetFocusFrame` is added but  the geo Coordinates are wrong now.

[2012-08-10 14:41] billreed63 commented on #2905
No, I just get the one. But in chrome I have the purple not the blue pause on errors on

[2012-08-10 14:41] aerwin opened #2909 "Can't open file dialog in GridX wizard"
@doronrosenberg
1. New HTML file
2. Drag GridX onto page
3. On first panel, choose "Data file from workspace"
4. Click button to bring up file chooser and get exception in `Dialog` class

[code]

[2012-08-10 14:46] aerwin commented on #2852
@doronrosenberg Reopening... I guess I can't tell where anything changed for the better here. Things are perhaps even worse.

[2012-08-10 15:09] billreed63 commented on #2906
I will take a shot at this

[2012-08-10 15:24] jhpedemonte commented on #2789
-> @doronrosenberg

[2012-08-10 15:24] jhpedemonte commented on #2850
@doronrosenberg, can you take a look at this?

[2012-08-10 15:27] #2909 closed, assigned to doronrosenberg

[2012-08-10 15:28] doronrosenberg commented on #1180
Messing with focus order is dangerous, I would rather just switch to a correct widget that handles it for us

[2012-08-10 15:40] aerwin opened #2910 "Using JSONP (with ItemFileReadStore and xhrScriptPlugin) fills console with errors"
@jhpedemonte @peller

This doesn't really seem to have a functional impact, but I don't like to see developer console flooded with infinite messages. Luckily, Chrome groups messages or it would be much worse. I don't see this behavior on Maqetta.org with M6, so suspecting perhaps a Dojo 1.8 issue? The errors and warnings all kind of seem to be from the bowels of Dojo.
1. New HTML page
2. Drag Grid

[2012-08-10 16:01] #2906 closed, assigned to billreed63

[2012-08-10 16:38] JonFerraiolo commented on #2143
I need to think about this some, but my inclination right now is that @billreed63 is correct in terms of how the Maqetta authoring model should align with the CSS delta themes model, but I want to stew on this some more to think through the UI issues. So, reassigning to me to think things through, then probably either close the issue, postpone the issue to a future release, or close this issue and

[2012-08-10 16:49] JonFerraiolo commented on #2565
I would rather have it be `app.maqetta.org/orion/navigate/table.html`. I'd really like the orion stuff to be partitioned off from a URL perspective. I think it will be cleaner to help explain things to users, other developers, and will make it easier down the road is we decide to switch to other replacement technologies should the need arise.

[2012-08-10 16:58] jhpedemonte commented on #2143
You're arguing implementation details.  The user doesn't care that we are using delta themes.

For `background-image`, if I set it to **empty**, I expect that value not to be used any more.  However, under the covers, due to the use of delta themes, what really happens is that we instead use the value as specified in the **base theme**.  This is wrong because it is **not what the user expects**.

[2012-08-10 17:00] jhpedemonte commented on #2565
Theoretically, I can create a top level "/orion" path that maps to the correct URLs using the nginx config files.  However, it would be easier if we could handle this in the server itself.

@childsb, how hard is to do what Jon outlines [above](https://github.com/maqetta/maqetta/issues/2565#issuecomment-7650211)?

_(sending back to Brad for now, to answer question above)_

[2012-08-10 17:01] JonFerraiolo commented on #2891
I think this is a dupe, but I'll research that later. I know what the problem is and how to fix it, and I'm pretty sure I put all of that info in the other bug report. Whatever, I'll take care of this.

[2012-08-10 17:02] JonFerraiolo commented on #2875
-> childsb He was working on the logout logic.

[2012-08-10 17:03] JonFerraiolo commented on #2898
Updated UI is in the UIMakeover4 branch, which I will probably merge into master within the next couple of days.

[2012-08-10 17:07] JonFerraiolo commented on #2900
yes, we should differentiate the two areas. @jmockler and @jinsil were going to propose something. We can discuss at the next UI phone call.

[2012-08-10 18:32] megaD opened #2911 "Maqetta getting slower & availablity issues"
I noticed recently that downloading the workspace is getting very slow. I had to download my work file by file. Today I can't get into my files in Maqetta. They don't load.

[2012-08-10 19:10] doronrosenberg commented on #2789
So this happens for all smartinputs, including the button one.

@peller in case he has any insight as to what could cause this.  Personally I am at a loss, removing event handlers/etc doesn't do anything.

Best solution I see is what I proposed in #1180 - switch smartinput to TooltipDialog, which a quick test doesn't exhibit this bug.  Too late for m7 though probably, 2-3 days of work possibly.

[2012-08-10 19:24] #2864 closed, assigned to doronrosenberg

[2012-08-10 19:27] jhpedemonte commented on #2911
@JonFerraiolo @peller

What do you see when the files refuse to load?

Do you see any errors in the browser's error console?

[2012-08-10 19:49] #2409 closed, assigned to billreed63

[2012-08-10 20:07] aerwin commented on #2836
Closing with above commit.

[2012-08-10 20:07] #2836 closed, assigned to aerwin

[2012-08-10 20:10] JonFerraiolo commented on #2911
I just tried things on maqetta.org as a guest user and everything seemed very snappy, including download. I wonder if @megaD has slowness with his laptop (e.g., everything has slowed down) or his browser (maybe it needs to be restarted?). Another potential problem might be that his workspace at maqetta.org or one of his files has something in it that would slow things down.

[2012-08-10 20:33] billreed63 commented on #2369
Fixed by #2725

[2012-08-10 20:33] #2369 closed, assigned to billreed63

[2012-08-10 20:33] jhpedemonte commented on #2673
cc @childsb, who knows the modify-lib code well

That is not completely correct.  By default, a user will have the Dojo library in `lib/dojo`.  This is a path that is **relative to the user's workspace** and the user is able to change what that path is (i.e. `lib/crazy-dojo-build`).

However, on the backend, we do some path redirection magic and all of those different library paths will **point to

[2012-08-10 20:48] billreed63 commented on #2327
Changes have been made in the code to cache the themes. The only time I am seeing a find resource on a page create is the very first page that is load that has that theme. Or when the user selects teh "theme" button from the new html file create.

If the use is using a previously load theme then we do not do a network findResource.

[2012-08-10 20:48] #2327 closed, assigned to billreed63

[2012-08-10 20:57] aerwin opened #2912 "CSS paths in HTML files not based on current project name (e.g., point at "project1")"
Found this while trying to import recent Maqetta project into RAD...
1. Create new Eclipse based project
2. Create new HTML file
3. Look at HTML source and see "project1" hard-coded in a number of paths (like @import "../../project1/themes/claro/document.css";" so if you delete "project1" or try to render in a different environment (like RAD) without a "project1" then rendering will fail

[code]

[2012-08-10 21:17] jhpedemonte commented on #2910
Is this any better after @peller  upgraded to Dojo 1.8 final?

[2012-08-10 21:17] billreed63 commented on #2673
I am not sure that will work in this case..

We have a folder in the users workspace called themes, in that themes folder we have a subfolder called claro.
In claro (which is shared by multiple users and is read only, virtual folder) we have a file claro.css in this file we have a

[code]

When the user changes the path to `lib/crazy-dojo-build`  We can not change the path in themes/claro/claro.cs

[2012-08-10 21:20] jhpedemonte commented on #2673
But then if a user changes the Dojo path from `lib/dojo` to something else, how is it that the `@import` works, since it is still pointing to `lib/dojo`?

[2012-08-10 21:28] jhpedemonte commented on #2904
Well, it depends if opening the **Open File** dialog is going to be a very common item (I would assume yes).  In that case, it would make more sense to use `{Accl} O` for that.

@JonFerraiolo, what do you think?

[2012-08-10 21:29] aerwin commented on #2910
I was running with the very latest when I noticed the problem.

[2012-08-10 21:52] aerwin opened #2913 "Update Maqetta to RAD workflow blog entry based on changes related to dojo-src"
I'm guessing this is because RAD 8.5 web developer tools don't support Dojo 1.8 yet, but doing some checking around.

When the web developer tools get Dojo 1.8 support, we'll need to restest.

[2012-08-10 23:46] doronrosenberg commented on #2904
I was thinking having the top buttons have different accls would be confusing.

[2012-08-11 01:30] #2850 closed, assigned to doronrosenberg

[2012-08-11 06:24] megaD commented on #2911
I recorded videos of the problem in Firefox 14 and Chrome 21 showing the error console.

Firefox: http://screencast.com/t/mWx70ClQw
Chrome: http://screencast.com/t/Wa3NDkALTh

Account: megadupek@yahoo.de

Screenshot of Firefox error console: http://screencast.com/t/SW1f4kVe
Screenshot of Chrome error console: http://screencast.com/t/khIt9Kd6BJ

I'm running a desktop machine (AMD Phenom II 920@3,1

[2012-08-11 18:44] JonFerraiolo opened #2914 "Cannot add inline style to ContentPane"
@billreed63 - I wouldn't be surprised if I am the culprit behind this regression, but could you please investigate?

I was running the desktop tutorial. Part of that tutorial is to add a ContentPane, and then set various inline style properties on the ContentPane (border, background, positioning, ...). For each of these attempts, I got the error dialog saying the user can't change the read-only th

[2012-08-11 18:51] JonFerraiolo opened #2915 "Exception with property palette read-only CSS error dialog"
@billreed63 @peller @childsb

If you try to close the error dialog that the properties palette posts when you attempt to modify a rule in a read-only CSS file by clicking on the "x" at the top-right of the dialog, we get an exception at Dialog.js:196:

[code]

Here is how to reproduce:
- New HTML File (desktop app)
- Add a dijit Button
- Go to Properties palette and attempt to change the backgroun

[2012-08-11 19:21] JonFerraiolo opened #2916 "Preview in browser shows Orion icon instead of Maqetta icon"
This is a nice-to-have for M7.

I fixed the Maqetta page editor such that the Maqetta browser tab shows a Maqetta icon instead of an Orion icon, but for Preview-in-browser, we still have the 3-dotted Orion icon showing in the browser tab.

To fix the Maqetta page editor, I "cheated" by adding this line to pagedesigner.html:

[code]

For preview in browser, we really can't use the same approach bec

[2012-08-11 19:29] JonFerraiolo opened #2917 "Shapes - can't drag nobs"
Shapes are broken now since moving the focus chrome out of the user iframe and into the outer Maqetta frame. When trying to drag the nobs, the nobs jump several hundred pixels to the wrong location. Probably just a coordinate system thing.

[2012-08-11 19:41] JonFerraiolo opened #2918 "Source editors need to resize more often"
@peller could you look into this? It's undoubtedly the result of the UI makeover changes that I've been making, but I'm really swamped these days.

With the left-side palettes popping out to the right, and right-side palettes popping out to the left, the interior canvas size changes. I'm seeing various cases where source editors (e.g., double click on app.css) open up with too little width, probab

[2012-08-11 21:34] #2915 closed, assigned to doronrosenberg

[2012-08-12 03:43] peller commented on #2918
The Orion source editor is not a Dijit Widget so its geometry is not managed by the resize.  Need to look at how we were managing this before.  Might need something like this 801ebbc6 but event-driven.

[2012-08-12 05:46] megaD commented on #2911
As mentioned in the parallel thread on the user group the loading issue is fixed now. I never played around with any /lib settings nor added a /lib folder (or not that I'm aware of) so I guess it was something related to the Preview5 to Preview6 migration that has been mentioned.

The slow downloading of the entire workspace still occurs.

Piotr

[2012-08-13 03:36] #2918 closed, assigned to peller

[2012-08-13 09:47] Assa20 opened #2919 "Gridx - datasource-url without using maqetta"
Hi there,

i have to admit that i am just starting working with dojo and gridx. Things wirk quite fine, but i am desperately trying to add a data-source-url which provides json data to gridx. I cannot find any information about how to do this.

Do i need to work with xhr.get()? How do i define the store-Object with this external data source for gridx? Anybody any hints for me?

Thanks!

[2012-08-13 12:34] billreed63 commented on #2673
That is the issue it doesn't, currently we have copies of the themes in the theme folder `theme/dijit/themes/claro/....` and `themes/dojox/mobile/themes/....`.
`themes/claro/claro.css` has the following import: `@import url("../dijit/themes/claro/claro.css");`. It would be preferable to be import directly from the toolkit, to avoid the need to copy the themes from the toolkit

[2012-08-13 13:48] aerwin commented on #2919
--> aerwin

[2012-08-13 14:14] aerwin commented on #2919
Hi, thanks for your interest. In your case, it sounds like you don't want to use Maqetta.  However, especially being new to Dojo, I think you'd find a lot of value in Maqetta. In particular, we have a GridX Configuration Wizard, that makes it very easy to connect GridX to JSON data. I have a [blog post](https://www.ibm.com/developerworks/mydeveloperworks/blogs/MaqettaAuthoring/entry/maqetta_gridx_

[2012-08-13 14:14] #2919 closed, assigned to aerwin

[2012-08-13 14:53] JonFerraiolo opened #2920 "Prevent views/palettes from being smaller than size of their tabs"
@peller

RIght now, it is possible to pull on the splitter that separates the left-side palettes from the currently open editor and pull that splitter all the way to within 20px of the left edge of the browser window. We should find a way to prevent pulling on that splitter such that the tabs are always fully visible.

[2012-08-13 14:59] peller commented on #2920
Should be as simple as setting the minWidth property on the BorderContainer constructor

[2012-08-13 15:16] doronrosenberg commented on #2532
@jhpedemonte @JonFerraiolo changing from high to med prio

[2012-08-13 15:21] billreed63 opened #2921 "Can't set button or textbox in claro theme editor"

[2012-08-13 15:23] doronrosenberg opened #2922 "Outline view breaks in Source view"
@JonFerraiolo
- Drag bordercontainer to canvas
- save and reload page
- go to source mode
- open outline palette
- Can't expand border container

[2012-08-13 15:28] doronrosenberg commented on #2504
@JonFerraiolo @jhpedemonte moving to future, don't think we can get this for 1.0

[2012-08-13 15:51] peller commented on #499
see #884

-> Prio high

[2012-08-13 15:58] doronrosenberg opened #2923 "Prop panel always shows up and then collapses"
Perhaps render it offscreen first? I can probably take a look as well

[2012-08-13 16:08] JonFerraiolo opened #2924 "When collapsed, no palettes should show as selected"
@doronrosenberg

Right now, at least one of the palette tabs will have a white background, even when the palettes are in a collapsed state.

[2012-08-13 16:09] aerwin commented on #2892
--> @doronrosenberg

Just noticed this assigned to me, but guessing it should be @doronrosenberg 's based on the discussion?

[2012-08-13 16:15] JonFerraiolo commented on #2923
Feel free to reassign this to yourself, or ok to leave it with me, too.

Note that the "properties palette" is now 10 separate palettes. When Workbench.js processes ve.plugin.js, it calls the constructor for SwitchingStyleViews.js, which triggers the dojo widget create process, causes buildRendering() and similar functions to get called in SwitchingStyleViews.js at the appropriate point of the wid

[2012-08-13 16:18] JonFerraiolo commented on #2504
Moving to M8 Prio-High. I'd like us to try to get this into M8, perhaps working on this in a branch during the latter part of the M7 period, so we can merge it in at the very start of the M8 cycle. This is a big shortcoming for many development scenarios using application states, and shouldn't be that hard to do.

[2012-08-13 16:21] aerwin commented on #2574
@jhpedemonte Have you seen this one lately? I'm thinking of just closing out if not.

[2012-08-13 18:32] jhpedemonte opened #2925 "Cannot build Maqetta+Orion from source"
The PDE build system which Orion uses pulls the Maqetta code from GitHub.  Currently, there is no way to override this and build from local source.  That means that we have no way of testing out builds before committing code.

For the _base_ build, we can specify the `maqettaCode` environment variable for these purposes.

@JonFerraiolo

[2012-08-13 18:50] #2921 closed, assigned to billreed63

[2012-08-13 20:18] #2914 closed, assigned to billreed63

[2012-08-13 20:39] #2917 closed, assigned to JonFerraiolo

[2012-08-13 20:50] JonFerraiolo opened #2926 "Polyline create tool problems"
@doronrosenberg

The polyline create tool allows the user to click N times on the canvas to create a polyline with N points. To stop the polyline, the user is supposed to have 3 options:
1. Click again on the polyline end point's selection nob
2. Hit the ESC key
3. Click on a different widget in the widgets palette

Methods 1 and 2 are broken now.

The reason that method 1 is broken is that the se

[2012-08-13 20:59] billreed63 commented on #2602
I don't understand what this issue is trying to describe as the problem, currently document.css is being applied as soon as the first widget is added to the document. document.css stays loaded in the document as long as not dojox.molbile widgets are present.

When I DnD a table I see that document.css is added to the head and the style of the table is from document.css as @JonFerraiolo  describes.

[2012-08-13 20:59] #2602 closed, assigned to billreed63

[2012-08-13 21:15] doronrosenberg commented on #2504
Having it as a dropdown under the widget prop would be a good general solution. The icon idea would be harder for mobile Widgets which have much less chrome.

[2012-08-13 22:50] JonFerraiolo commented on #2504
You mean that as a user, he would select the parent widget (e.g., TabContainer), and then the parent widget we show a fake property in the "Widget" section of the properties palette which lists its children in a dropdown. For default TabContainer, the menu would look like this:

[code]

and then at most one of those choices could be selected. That would work.

An alternative approach would be to r

[2012-08-13 22:58] JonFerraiolo commented on #2926
I've been investigate method 1 above. I tried to fix things via changes only within maqetta.shapes in various attempts to put mousedown, mousemove and mouseup event listeners on the nobs (created by _ShapeHelper.js) and then forwarding the events to LineCreateTool.js's onMouseDown, onMouseMove, onMouseUp, but those routines call this.inherited(), which means the corresponding routines in CreateToo

[2012-08-13 23:00] JonFerraiolo commented on #2898
This was fixed by the big UI makeover commit from this past weekend.

[2012-08-13 23:00] #2898 closed, assigned to JonFerraiolo

[2012-08-13 23:04] JonFerraiolo commented on #2882
I don't see this anymore with latest code. There is still the pending problem where the selection rectangle can overlap the banner, described #2859, but selection seems to be accurate now when the theme editor canvas is scrolled. Closing.

[2012-08-13 23:05] JonFerraiolo commented on #2444
@jhpedemonte

Moving to M8 Prio High

[2012-08-13 23:07] JonFerraiolo commented on #2427
Closing. I can't reproduce now, either.

[2012-08-13 23:07] #2427 closed, assigned to JonFerraiolo

[2012-08-13 23:08] JonFerraiolo commented on #1153
With the latest UI makeover changes, the big problem has been fixed (i.e., less back and forth), so closing.

[2012-08-13 23:08] #1153 closed, assigned to JonFerraiolo

[2012-08-13 23:10] JonFerraiolo commented on #546
Closing this issue. Given that we have left-side and right-side palettes, where they expand and collapse, and that we have various constraints on palette sizes (e.g., widget palette and properties palettes have minimum widths in order to be usable), I don't see us worrying about 25/75 ratios.

[2012-08-13 23:10] #546 closed, assigned to JonFerraiolo

[2012-08-13 23:12] JonFerraiolo commented on #1547
Made a lot of progress on this issue in the M7 timeframe, but we haven't implemented a good solution yet for StackContainer panes (which is split off in #2485) and we aren't shipping the overlay widgets yet. So, pushing to M8.

[2012-08-13 23:12] JonFerraiolo commented on #1547
@jhpedemonte - pushed this to M8. For details, see comment just above this comment.

[2012-08-13 23:17] JonFerraiolo commented on #2231
@billreed63 - I'm closing this issue because the cascade is selecting element.style by default, even though document.css is included, and the cascade shows padding:0 for a rule in document.css. But could you please read through this issue carefully and make sure everything is going to be A-OK for M7?

[2012-08-13 23:17] #2231 closed, assigned to JonFerraiolo

[2012-08-13 23:26] JonFerraiolo opened #2927 "Cascade showing in theme editor"
@billreed63 @childsb @jhpedemonte

One of the unintended side effects of the big UI makeover is that the cascade view is available now in the theme editor. (The right arrow is not hidden in the theme arrow.) @JonFerraiolo needs to think about this. Two options:
- Disallow the cascade in the theme editor (like we had for previous releases)
- Enable the cascade in the theme editor as a read-only vie

[2012-08-13 23:27] JonFerraiolo commented on #2927
Merging into #2328, closing this one as a dupe.

[2012-08-13 23:27] #2927 closed, assigned to JonFerraiolo

[2012-08-13 23:27] JonFerraiolo commented on #2328
(Copying text from #2927, which is now closed as a dupe)

@billreed63 @childsb @jhpedemonte

One of the unintended side effects of the big UI makeover is that the cascade view is available now in the theme editor. (The right arrow is not hidden in the theme arrow.) @JonFerraiolo needs to think about this. Two options:
1. Disallow the cascade in the theme editor (like we had for previous releases)

[2012-08-13 23:29] JonFerraiolo commented on #2670
Can't reproduce today either. Closing.

[2012-08-13 23:29] #2670 closed, assigned to JonFerraiolo

[2012-08-13 23:33] JonFerraiolo opened #2928 "Arrow keys don't move widgets after initial creation"
With M5 and M6, in absolute positioning mode (i.e., sketch mode), immediately after dropping a widget onto the page, the user can use the arrow keys to move the widget up/down/left/right. But with M7, arrows keys only work after the user clicks on the newly dropped widget.

I'm 99% sure this is a focus issue. With M5 and M6, after adding a new widget, I included code that put the focus into the us

[2012-08-13 23:51] JonFerraiolo commented on #2891
@aerwin @billreed63 @doronrosenberg @peller - any of you interested in grabbing this one?

Here is the deal. The first time any of the 3 dropdowns gets activated, our logic (mostly Workbench.js) calls Dojo to open up the menu (which determines its (x,y) location), and then we dynamically populate the menu using the logic in function `_openMenu()` . The problem is that with the first call, the menu

[2012-08-13 23:53] JonFerraiolo commented on #2828
Closing as dupe of #2891

[2012-08-13 23:53] #2828 closed, assigned to JonFerraiolo

[2012-08-14 00:08] #2605 closed, assigned to JonFerraiolo

[2012-08-14 00:18] JonFerraiolo commented on #2398
-> @billreed63 I think this is fixed and working correctly, but could you please evaluate? If you think everything is working, please close.

[2012-08-14 00:50] doronrosenberg commented on #2922
@JonFerraiolo Looks like outline isn't being notified when editors are changed (design to source, etc).  Looks like the events aren't being fired?

[2012-08-14 01:03] #2892 closed, assigned to doronrosenberg

[2012-08-14 01:15] peller commented on #1954
Did not make it into Dojo 1.8.0.  Will continue to push for a solution in 1.8.1.  -> M8

[2012-08-14 01:19] doronrosenberg commented on #2928
@JonFerraiolo roughly where would the code be that did the focusing?

[2012-08-14 01:20] peller commented on #2897
anyone able to reproduce this one reliably?  I have not seen it yet.  @billreed63, have you seen it since you originally reported it?

[2012-08-14 01:30] doronrosenberg commented on #2504
@JonFerraiolo

The idea I was playing around (should have posted here earlier) was what you basically said - store a `_dvSelectedChild` on the TabContainer with the id of the selected child.  Whenever `getData()` of the TabContainer gets called, it would fiddle with the `selected` properties of the children to make sure the correct one is set.

I believe `getData()` alone should be enough to handl

[2012-08-14 02:59] aerwin commented on #2912
This also breaks R&C if create review in project not named "project1":

[code]

[2012-08-14 03:20] peller opened #2929 "Launch with query url leads to metadata loading failures"
@jhpedemonte

I think this is a regression we've seen before with partial url "math", but not sure of the issue #

Go to a url like this:

http://localhost:8081/maqetta/?resetWorkspace=true

And the workbench loads, but with errors on the console, like this:

[code]

Filing as prio-high for evaluation.  Feel free to bump as necessary.

[2012-08-14 03:32] doronrosenberg commented on #2504
So I was wrong about getData, that is probably too late to modify the selected attributes.  Looks like `Helper::onWidgetPropertyChange` is what I am looking for.

Probably need to handle getData() still to make sure the select attribute isn't modified under our noses by the user.

[2012-08-14 03:47] aerwin commented on #2872
@JonFerraiolo

I was figuring I'd just be able to close this one based on the design going back to palettes on both left and right, but I'm still seeing some behavior we probably need to address.... Prior to any UI refresh this was roughly the design:

Now that Properties is by itself and Comments/Scenes are in the same tabbed pane, it probably needs to be something like:
- Page editor: bring Widg

[2012-08-14 04:09] jhpedemonte commented on #2328
Go with (1).  Displaying a disabled interface will make the user think that there is something that can be done to enable it, but that's not the case in the theme editor (right?).

[2012-08-14 04:12] jhpedemonte commented on #2574
Haven't seen it lately, so closing.

[2012-08-14 04:12] #2574 closed, assigned to aerwin

[2012-08-14 05:34] aerwin commented on #2570
@billreed63

We're up to 21.0.1180.77 on Windows on the main release channel, so I thought I'd try this again... as far as I can tell, video is working fine. So, closing. Please reopen if you disagree.

[2012-08-14 05:34] #2570 closed, assigned to aerwin

[2012-08-14 05:47] aerwin commented on #2699
Closing this one with intent to handle under #2715.

[2012-08-14 05:47] #2699 closed, assigned to aerwin

[2012-08-14 06:03] aerwin commented on #2589
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:04] aerwin commented on #2838
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:05] aerwin commented on #2701
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:06] aerwin commented on #2639
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:08] aerwin commented on #2618
--> @doronrosenberg

Closing as I think @doronrosenberg has already dealt with.

[2012-08-14 06:08] #2618 closed, assigned to doronrosenberg

[2012-08-14 06:09] aerwin commented on #2578
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:11] aerwin commented on #2471
--> @peller

Reassigning at least until @peller has had a chance to revisit (see previous comment).

[2012-08-14 06:13] aerwin commented on #2272
@JonFerraiolo @jhpedemonte

--> M8

Also, think this is probably less important now that we put width 100% on new instances of GridX in flow layout.

[2012-08-14 06:14] aerwin commented on #2183
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:15] aerwin commented on #2131
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:17] aerwin commented on #2130
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:18] aerwin commented on #2246
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:20] aerwin commented on #135
@JonFerraiolo @jhpedemonte

Closing... will handle with #2130 and #2131.

[2012-08-14 06:20] #135 closed, assigned to aerwin

[2012-08-14 06:20] aerwin commented on #1875
@JonFerraiolo @jhpedemonte

--> future

[2012-08-14 06:28] aerwin commented on #1544
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:29] aerwin commented on #1749
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:29] aerwin commented on #1854
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:31] aerwin commented on #1993
@JonFerraiolo @jhpedemonte

--> M8
--> Feature

[2012-08-14 06:32] aerwin commented on #1986
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:35] aerwin commented on #1991
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:38] aerwin commented on #341
@JonFerraiolo

From reading this, I'd think we could close it based on the (relatively) new HTML Table Smart Input?

[2012-08-14 06:39] aerwin commented on #1858
@JonFerraiolo @jhpedemonte

--> future

[2012-08-14 06:40] aerwin commented on #1635
@JonFerraiolo @jhpedemonte

--> future

[2012-08-14 06:41] aerwin commented on #2432
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:42] aerwin commented on #1565
@JonFerraiolo @jhpedemonte

--> future

[2012-08-14 06:42] aerwin commented on #1623
@JonFerraiolo @jhpedemonte

--> future

[2012-08-14 06:43] aerwin commented on #2643
@JonFerraiolo @jhpedemonte

--> M8
--> Sev 2 to Sev 3

[2012-08-14 06:47] aerwin commented on #2581
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:49] aerwin commented on #2579
@JonFerraiolo @jhpedemonte

--> future... probably even less of an issue now that we've removed cellspacing from table smart input.

[2012-08-14 06:49] aerwin commented on #2584
@JonFerraiolo @jhpedemonte

--> M8

[2012-08-14 06:50] aerwin commented on #2587
@JonFerraiolo @jhpedemonte

--> future

[2012-08-14 13:05] billreed63 commented on #2897
I have not seen this with the latest code

[2012-08-14 13:32] billreed63 commented on #2328
We just need to put the `davinci_ve_ThemeEditor` class back on the tab container whenever the theme editor is active.
Previous to the UI make over the tab container for the style had an `id=davinci.ve.style` and the code would grab that id and add or remove the class  based on the displayed editor.

[2012-08-14 13:36] billreed63 commented on #2328
the cascade is hidden by these rules in propview.css

[code]

[2012-08-14 14:40] billreed63 commented on #2882
On page editor DnD a content pane onto the canvas
Set the size to width 923px

Now drag the vertical divider so that the properties palette is taking up half the screen.. The selection rectangle is over the properties palette

[2012-08-14 14:43] billreed63 commented on #2398
working now

[2012-08-14 14:43] #2398 closed, assigned to billreed63

[2012-08-14 14:51] billreed63 commented on #2373
@JonFerraiolo @jhpedemonte
->M8

[2012-08-14 14:53] billreed63 commented on #2673
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 14:54] billreed63 commented on #2143
@jhpedemonte @JonFerraiolo
-> M8

[2012-08-14 14:55] billreed63 commented on #2372
@JonFerraiolo @jhpedemonte

->M8

[2012-08-14 14:56] billreed63 commented on #392
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 15:51] peller commented on #2373
Dojo ticket has been closed.  Can we close this issue?

[2012-08-14 16:10] JonFerraiolo commented on #2882
Closing as dupe again. This problem with page editor will be fixed by the same fix for #2859. The fix is to put an extra wrapper DIV around any of the editor, and put the selection chrome inside of that DIV, and then putting an overflow:hidden on that DIV.

[2012-08-14 16:10] #2882 closed, assigned to JonFerraiolo

[2012-08-14 16:14] JonFerraiolo commented on #1565
-> M8 we should address this sooner rather than later

[2012-08-14 16:18] JonFerraiolo commented on #341
My feeling is that the highest priority thing would be a duplicate row command, which could be achieved via context menu and Table Command toolbar icon's menu. Duplicate row would take the current row (determined by either TR selection or TD selection) and duplicate it. I don't think duplicate column would be used as often.

[2012-08-14 16:18] JonFerraiolo commented on #341
-> M8

[2012-08-14 16:23] JonFerraiolo commented on #2471
Incidentally, I agree with @aerwin's original premise with this issue - we should have a new widget metadata property rather than hardcoding particular widget types in our main code. That's easy enough to do. That hard part is coming up with a name and definition for this new field. @aerwin - do you have any proposals for what the new metadata property would be named and what exactly it would mean

[2012-08-14 16:29] JonFerraiolo opened #2930 "Choose device, choose theme: offer save option on warning dialog"
Whenever the user attempts to switch themes or change mobile device, we provide a warning that says the user must save his file before he can perform the operation. For example:

The file './project1/file27.html' has unsaved changes. Are you sure you want to switch themes WITHOUT saving, your changes may be lost?

It is a royal pain from a user perspective that in order to switch themes they have

[2012-08-14 16:30] #2373 closed, assigned to billreed63

[2012-08-14 16:34] JonFerraiolo opened #2931 "Choose device dialog too wide"
@billreed63

The choose device dialog comes up way too wide:

![choose device dialog](http://i.imgur.com/cu9Bo.png)

We need to put a max-width or something on that dialog to force the text content to wrap, rather than grow horizontally into infinity.

There might be other dialogs with the same problem.

[2012-08-14 16:55] JonFerraiolo commented on #2872
@aerwin - yes, I was sloppy with my last-minute edits to the plugin files regarding which things come to top and which sides get expanded/collapsed. Could you please clean up after me? :-) Note that I added a new field in the *.plugin.js files for controlling which side palettes are expanded/collapsed for each particular type of editor.

Note that in general if a side is collapsed, then bringing a

[2012-08-14 17:02] JonFerraiolo commented on #2928
I'm pretty sure that the user document got the focus in M6 due to this line at CreateTool.js:413:

[code]

which is in `_cleanupActions()`, which is called at the very end of the onMouseUp handler in CreateTool.js.

[2012-08-14 17:04] JonFerraiolo commented on #2922
I don't think we ever had an event for changing between design/source/split modes. My guess is that we've had various obscure bugs forever due to the lack of such events. If such a solution would help, feel free to add a dojo.publish() to PageEditor.js so that the outline palette can listen to the new event.

[2012-08-14 17:12] doronrosenberg commented on #2922
@JonFerraiolo @jhpedemonte

So here is a more general question.  What is happening is that when we switch to source mode, the Border container widget reference I have in the Outline view is now pointing to a widget that has no domNode - it seems that the widgets have been replaced with new versions and that I am holding on to a reference to a destroyed widget.

I have a bug on me to change Outline

[2012-08-14 17:14] #2930 closed, assigned to billreed63

[2012-08-14 17:14] JonFerraiolo commented on #2928
I am hoping that this fix will also fix the Esc key problem with the polyline create tool described in #2926

[2012-08-14 17:16] billreed63 commented on #239
this has been fixed by all the document.css changes added to M7

[2012-08-14 17:16] #239 closed, assigned to billreed63

[2012-08-14 17:18] billreed63 commented on #549
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 17:20] billreed63 commented on #568
Closing we are not supporting data grid, Gridx is the future

[2012-08-14 17:21] billreed63 commented on #1712
closing DataGrid is being deprecated, user GridX

[2012-08-14 17:29] billreed63 commented on #2742
the message now reads
"The file has unsaved changes, are you sure to want to close?"

[2012-08-14 17:29] #2742 closed, assigned to billreed63

[2012-08-14 17:32] #91 closed, assigned to billreed63

[2012-08-14 17:33] billreed63 commented on #92
done by @doronrosenberg

[2012-08-14 17:33] #92 closed, assigned to billreed63

[2012-08-14 17:37] billreed63 commented on #1760
we now compare the complete selector rule to ensure the proper overrides in the delta files

[2012-08-14 17:37] #1760 closed, assigned to billreed63

[2012-08-14 17:41] billreed63 commented on #2089
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 17:43] billreed63 commented on #2014
Sending to  @aerwin  as he is the table dude now..

[2012-08-14 17:46] billreed63 commented on #1002
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 17:46] billreed63 commented on #617
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 17:51] JonFerraiolo commented on #2922
@peller

I'm not 100% I understand what's going on with destroyed widgets, but my guess is that the source editor repeatedly causes the source code to be reparsed and modeled (almost with each keystroke), which causes a whole new Context.js to be created, and maybe a new VisualEditor object. So I wouldn't be surprised if there are objects that get destroyed when the source editor is active.

I  be

[2012-08-14 17:53] JonFerraiolo commented on #1002
Ok for M8, but this is important and we should really try to fix for M8.

[2012-08-14 17:54] JonFerraiolo commented on #2089
I think this is mostly a dupe of #156

[2012-08-14 17:54] #1267 closed, assigned to billreed63

[2012-08-14 17:58] #624 closed, assigned to billreed63

[2012-08-14 18:00] billreed63 commented on #1630
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 18:03] billreed63 commented on #751
Still and issue
@JonFerraiolo @jhpedemonte
-> M8

[2012-08-14 18:08] aerwin commented on #1712
--> @aerwin

Reopening... DataGridHelper is still used.

[2012-08-14 18:10] aerwin commented on #568
--> @aerwin

Reopening... should probably see if this is an issue with GridX.

[2012-08-14 18:10] billreed63 commented on #2407
fixed with M7 and dojo 1.8

[2012-08-14 18:10] #2407 closed, assigned to billreed63

[2012-08-14 18:10] JonFerraiolo commented on #1773
I think this has been fixed for a long time. Closing.

[2012-08-14 18:10] #1773 closed, assigned to JonFerraiolo

[2012-08-14 18:15] peller commented on #2891
-> @peller

[2012-08-14 18:17] billreed63 commented on #2215
fixed in M7 an ddojo 1.8

[2012-08-14 18:17] #2215 closed, assigned to billreed63

[2012-08-14 18:17] #2931 closed, assigned to doronrosenberg

[2012-08-14 18:18] billreed63 commented on #2499
@JonFerraiolo @jhpedemonte
-> M8

[2012-08-14 18:23] billreed63 commented on #2477
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 18:23] peller opened #2932 "Orion: open id login icons misplaced on login screen"
Prio High.  Hoping this is an easy fix for a very valuable feature.

The g/y/etc. icons show up in gray and are misplaced to the left of the page.  I asked Simon about this and he said the Orion login page appeared to be modified and didn't match the style sheet:

[2012-08-14 18:25] peller commented on #2932
Should be

[code]

[2012-08-14 18:25] billreed63 commented on #1222
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 18:29] #2608 closed, assigned to billreed63

[2012-08-14 18:36] billreed63 commented on #2420
@JonFerraiolo @jhpedemonte
-> M8

[2012-08-14 18:37] billreed63 commented on #2021
The has been fixed in M7 by the use of delta themes

[2012-08-14 18:37] #2021 closed, assigned to billreed63

[2012-08-14 18:37] #2822 closed, assigned to JonFerraiolo

[2012-08-14 18:37] peller commented on #2932
According to Simon, there are other styling issues on the page.  The content should be updated to match or directly use the Orion sources.

[2012-08-14 18:43] billreed63 commented on #2737
fixed by #2422

[2012-08-14 18:43] #2737 closed, assigned to billreed63

[2012-08-14 18:48] childsb commented on #2875
Changed to sync post to logout in 4e1d85dfd786a8989e24f76d81bdeb99b4d6f67a

[2012-08-14 18:48] #2875 closed, assigned to childsb

[2012-08-14 18:50] childsb commented on #2932
Is this hosted or standalone?

For our hosted instance, I removed the open ID, gmail, facebook login and only allow signup with an email address.

[2012-08-14 18:50] billreed63 opened #2933 "Properties palette border show drop down does not work"
Select a widget, from properties palette select border
show drop down select props

Nothing happends, we should see all the properties listed.

[2012-08-14 18:53] peller commented on #2932
Hosted.  I see this on maqetta-app-test.  I recommend not removing the feature, since it otherwise seems to work and could be extremely useful.

[2012-08-14 19:35] doronrosenberg commented on #2928
This isn't a focus issue it seems, the reason is:

[code]

there is no moverWidget when you dnd.

[2012-08-14 19:45] doronrosenberg commented on #2928
@JonFerraiolo

To be more exact, SelectTool::onMouseDown handles the moverWidget logic, and that doesn't get called when you just create and select a widget.

[2012-08-14 19:55] aerwin commented on #2769
@childsb @peller @jhpedemonte

While looking into #2913, I discovered from the RAD team that the RAD 8.5 widget palette doesn't work with built Dojo. So, what this means is I didn't see any Dojo widgets in the RAD 8.5 palette when I created an Eclipse-based project in Maqetta, downloaded it from Maqetta with all of the defaults , and then imported it into RAD 8.5.

However, things seem to work ok

[2012-08-14 19:59] aerwin commented on #2913
After working with the RAD team to determine that WDT widget palette tooling won't work with built dojo, I think this issue becomes more of a doc issue (likely blog update) to describe what they should check on the download dialog to cause dojo-src to get put into their downloaded zip file. What this will look like depends on what happens with #2769.

In addition, we should point out in the update

[2012-08-14 20:01] aerwin commented on #2912
Also, note that aside from the wrong project name that "WebContent" is missing in the case of Eclipse-enabled projects in paths like

[code]

[2012-08-14 20:01] doronrosenberg commented on #2928
@JonFerraiolo

So commit 0dc74f6abe1068391cab4cdfe8fea0de6ff966ab is what seems to have broken this.  There were no checks for `this._moverWidget` in the key listeners.  I could change the code to allow the keyboard arrow events to work if there is no `this._moverWidget` but I don't want to potentially break anything since I don't know much about this code.

[2012-08-14 20:10] peller commented on #2769
the content in dojo-src, as far as I know, is only used by zazl in preview mode

[2012-08-14 20:14] billreed63 opened #2934 "Second change to button in claro clone reverting first change"
The second change to any widget in a claron theme reverts teh first change made

[2012-08-14 20:15] billreed63 commented on #2934
Multiple delta rules are being added, Adding the document.css is causing us to never find the correct rule.

[2012-08-14 20:18] #2934 closed, assigned to billreed63

[2012-08-14 20:21] aerwin commented on #2769
Right.... what I'm saying is we need to make it available if we want users to be able to easily migrate to other IDE's (like RAD 8.5).

[2012-08-14 20:23] billreed63 commented on #2075
@JonFerraiolo @jhpedemonte
-> M8

[2012-08-14 20:24] billreed63 commented on #2695
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 20:32] childsb commented on #2912
i created a new eclipse project, then a new HTML file and the CSS links look fine.  i tried eproject1, zzproject1, both with no problems. also tested on maqetta-test.austin.ibm.com with no issues.

could you clear workspace and try again?  maybe old files..?

[2012-08-14 20:34] peller opened #2935 "asynchronous loadRequires() call must be removed from _getCreateCommand"
5 CreateTools have calls to loadRequires() from _getCreateCommand()

These actions should probably be factored out into a separate method returning a `Deferred`, called prior to `_getCreateCommand()`.  It might be worth exploring if some or all of these dependencies should be encoded in metadata instead of js logic.

@jhpedemonte

Blocks #2126

[2012-08-14 20:34] billreed63 commented on #2457
I am not seeing this issue on dojo 1.8, so I am closing. If anyone sees this issue please reopen

[2012-08-14 20:34] #2457 closed, assigned to billreed63

[2012-08-14 20:37] childsb commented on #2932
Does open ID guarantee an email association with the ID?

Theres a few assumptions that ID == email address in code

[2012-08-14 20:39] billreed63 commented on #2145
@JonFerraiolo @jhpedemonte

-> M8

[2012-08-14 20:42] peller commented on #2932
Yes, I believe it does imply an e-mail address, but I don't know if or how that's passed back or what sort of token you're using with Orion.  Is there a particular API you're thinking of?  Perhaps @skaegi can shed some light on this?

[2012-08-14 20:43] aerwin commented on #2912
Here's what I just did:
1. Stopped server
2. Cleared workspace
3. Did git pull
4. Run server from Eclipse
5. Clear browser cache
6. Signup as new user
7. Choose Create - Project from menu and create Eclipse-enabled project called "myEclipseProject20120814"
8. Create new HTML file
9. Drop Calendar on new file
10. View source and see bad CSS paths in source:

[code]

[2012-08-14 20:53] billreed63 commented on #1241
at some point this issue has been resolved. It is not a problem on M7 code

[2012-08-14 20:53] #1241 closed, assigned to billreed63

[2012-08-14 20:57] aerwin opened #2936 "Can type in project name drop down File Palette"
- Go to file palette
- Notice I can type in project name drop-down (which should be read-only)

![screenshot](http://i.imgur.com/8kyBR.png)
- Hit Rename button and get taken back to welcome page
- Select Open -> File... and see strange contents in file dialog

![screenshot](http://i.imgur.com/YJ5uq.png)

[2012-08-14 21:08] childsb commented on #2912
can you reproduce this with your ID on maqetta-test?

[2012-08-14 21:10] aerwin opened #2937 "Open File Dialog: Dbl-click should open file"
I think every time I go to the Open File dialog I double click on the file I want, then realize double-click doesn't work, then go click the OK button. It would be nice if dbl-click just opened the file.

Not a stop ship, but opening as high priority because I think it would have to be really easy to add and would be a nice usability enhancement.

[NOTE: I suppose this should apply to the new Open

[2012-08-14 21:19] billreed63 commented on #2912
@aerwin what run config are you using maqetta.orion?

I just followed @aerwin steps and this is what I see

[code]

[2012-08-14 21:21] aerwin commented on #2912
Here's the generated source from just trying to reproduce on maqetta-test. My Eclipse project was called "myEclipseProjectOrion20120814". There's actually more references to "project1" than when I tried from my dev environment. However, they are in different places.

[code]

[2012-08-14 21:21] billreed63 commented on #2912
Oh wait, I think you need to update your submodules inperticual dojo 1.8

[2012-08-14 21:35] childsb commented on #2912
This is my HTML when creating on the test machine.  Notice only yours has that themeMap object.  Any idea where this is coming from @billreed63?:

[code]

[2012-08-14 21:36] aerwin commented on #2912
At @billreed63 's request I tried with the local maqetta.orion launch script from Eclipse and the output looked ok:

[code]

So, appears local maqetta.multi-user is broken. (As well as whatever is currently on maqetta-test).

[2012-08-14 21:49] aerwin opened #2938 "Download Dialog: Default file name should be based on project name"
It would be really nice if the Download dialog defaulted to `[project name].zip` rather than `workspace1.zip`. Reasons:
- we're really downloading the project, not the entire workspace
- easier to keep track of on file system
- better flow from start to finish when moving to RAD between Maqetta project name, zip file name, and final RAD project name

[2012-08-14 22:10] #2859 closed, assigned to JonFerraiolo

[2012-08-14 22:20] #2933 closed, assigned to JonFerraiolo

[2012-08-14 23:06] JonFerraiolo commented on #2937
-> @doronrosenberg

I would make this a ship-stopper, actually. It's a really bad early impression and should be not that hard to fix.

[2012-08-14 23:07] JonFerraiolo commented on #2936
-> @childsb

I'll guess that the fix consists of replacing ComboBox with Select.

[2012-08-14 23:11] aerwin opened #2939 "(Orion) Eclipse project settings files are wrong"
I noticed I was able to get RAD's widget palette to show Dojo widgets with the zip file downloaded from MAqetta running locally using the maqetta.multi-user launch script, but not  the maqetta.orion launch script. It looks like several of the Eclipse .settings files are incorrect for the orion instance...
## com.ibm.etools.webtools.dojo.core.prefs

Correct (from maqetta.multi-user):

[code]

Wrong

[2012-08-14 23:23] JonFerraiolo commented on #2932
We need an email address for the review/commenting feature to work.

An OpenId is sometimes an email address (e.g., joesmith@gmail.com) but usually it's just a string. When connecting to an OpenID provider for verification, they return info as described here: https://rpxnow.com/docs/providers.

Most of the providers send back the verification email address, but some of them don't. Therefore, there

[2012-08-14 23:23] aerwin opened #2940 "Sample1.html renders as all disabled in RAD"
Making high to investigate... but not sure we're really doing anything wrong in Maqetta... suspecting RAD design previewer might not be dealing well with our state code...

After importing a Maqetta project into RAD, if Sample1.html is opened in the RAD page editor most of the widgets are disabled:

![screenshot](http://i.imgur.com/RtZTY.png)

However, when previewing from RAD (e.g., launching in

[2012-08-14 23:30] JonFerraiolo commented on #2928
I don't think it was 0dc74f6 because that was committed before Preview6 shipped and Preview6 doesn't have this problem.

I'll look into this some more...

[2012-08-14 23:54] JonFerraiolo commented on #2928
OK, I figured it out, and I have a fix. @doronrosenberg was correct in saying that  0dc74f6 broke the feature. But the reason it seemed to work in Preview6 when I tested there was the result of two bugs, cancelling themselves out. First bug was this line as pointed out by @doronrosenberg:

[code]

Second bug was that this._moverWidget wasn't getting cleared when the move operation failed. Therefor

[2012-08-14 23:56] #2928 closed, assigned to doronrosenberg

[2012-08-14 23:57] doronrosenberg commented on #2935
@jhpedemonte @peller

Looks like I would have to change PasteTool when calling addPasteCreateCommand on the widget-specific Tool class to support Defereds

[2012-08-14 23:58] peller commented on #2932
There are currently three providers.  For now, can't we look at each and determine if they provide e-mail addresses, and only disable those which don't?

[2012-08-15 00:27] jhpedemonte opened #2941 "Building maq+orion w/ Zazl fails"
@peller

I created the branch `zazl-build` to try to resolve this, and it is being built on lab9.  There were a couple commits from Brad in order to enable building Zazl, but it currently fails with this error:

---

**Tasks:** _(updated 2012-08-23)_
- ~~Build with Zazl plugins.~~
- Fix server launch [error](https://github.com/maqetta/maqetta/issues/2941#issuecomment-7905633) (workaround is to [us

[2012-08-15 00:44] jhpedemonte commented on #2941
The file **maqetta.zazl.feature/feature.xml** lists several plugins, including _maqetta.zazl_.

The file **maqetta.orion.feature/feature.xml** is similar, listing plugins such as _maqetta.core.client_ and _davinci.dojo_1_8_.  These plugins can be found in **$WORKSPACE/I201208141846/plugins/**.

However, none of the plugins listed in **maqetta.zazl.feature/feature.xml** are in that _plugins_ direct

[2012-08-15 00:56] JonFerraiolo commented on #2938
-> @childsb

[2012-08-15 00:57] JonFerraiolo commented on #2939
-> @childsb

[2012-08-15 00:58] JonFerraiolo commented on #2932
like I said, the email addresses that you get from the provider might not be email address that users want Maqetta to send them notifications. Let's wait on OpenID until we have a robust solution for getting the user to tell us about the email address to which Maqetta should send correspondence.

[2012-08-15 01:01] jhpedemonte commented on #2941
From the log file, here's the start of the section that handles **maqetta.orion.feature**:

[code]

And here's the failing section that tries to handle **maqetta.zazl.feature**:

[code]

---

For whatever reason, the build doesn't invoke `GitFetchElementFromLocalRepo` in order to copy over the Zazl plugins from the local repo.

[2012-08-15 01:35] peller commented on #2932
That's a problem which we could document around, but if we choose to defer, having a robust login system should be high priority for our next milestone.   Either way, the HTML structure should be corrected as described here, and the buttons fully enabled or disabled.

[2012-08-15 01:45] peller commented on #2937
perhaps even more important than double click, selecting a file and hitting 'return' should trigger the 'ok' button.  ('escape' does seem to trigger 'cancel')

[2012-08-15 01:50] peller opened #2942 "visual editor matched with wrong toolbar"
Open an HTML file like sample1.html
Open a JS file like app.js
Select sample1.html, the first tab.
Reload workspace
Sample1.html will appear, but not that the toolbar is the JS editor toolbar (save/save as)

Wondering if the logic in _ToolbaredContainer still makes sense now that the toolbar is a singleton.  Seems like it's still instance-based, and perhaps doesn't need to be.

[2012-08-15 01:52] peller commented on #1971
seems to work now.

[2012-08-15 01:52] #1971 closed, assigned to peller

[2012-08-15 15:21] peller commented on #1404
continue to look at consolidating files and converting Resource calls to async in future releases -> M8

[2012-08-15 15:46] aerwin opened #2943 "Tree Smart Input initital size is too small"
@doronrosenberg

Using Chrome on Mac...
1. New HTML file
2. Drag and drop tree onto canvas

![screenshot](http://i.imgur.com/wtjpr.png)

NOTE: In the screenshot, the toolbar wraps, but this should eventually go away when we get toolbar icons (see #2689).

[2012-08-15 15:55] aerwin opened #2944 "Tree Smart Input: Exception in console on OK"
Using Chrome on Mac...

Not seeing any functional issues as a result of the exception...
1. New HTML file
2. Drop tree onto canvas
3. Click OK and see exception in console

[code]

Looks like the exception occurs up the stack from `TreeInput` after it call `destroyRecursive` in its `hide` function:

[code]

[2012-08-15 16:10] aerwin opened #2945 "Select a file dialog has unneeded horizontal scrollbar on first launch"
Using Chrome on Mac...

Number of ways to get to this dialog... one way is:
1. New HTML file
2. Drag and drop tree onto canvas
3. Select a node in preview tree
4. Click "..." button next to icon text field

![screenshot](http://i.imgur.com/yMkN9.png)

[2012-08-15 16:13] aerwin commented on #2937
This should also cover the "Select a file" dialog (which I'm not sure reuses the same code as open file or not).

[2012-08-15 16:24] aerwin opened #2946 "Can't set font-size for label"
Using Chrome... working through "Adding event handling to nodes" section of tree test case...
1. create new scene called "myState"
2. add label to canvas
3. select myState in Scenes palette
4. In the Properties Palette, go into Font Properties for the label. Follow the cascade for the size field, check the "Apply to this state only", and change the size to something like 50px. The size of the labe

[2012-08-15 16:26] aerwin commented on #2946
I was able to reproduce just by doing the following (so I don't think related state-related)...
1. New HTML file
2. Drop label onto canvas
3. try to change font size via widget palette

[2012-08-15 16:31] JonFerraiolo commented on #2946
@billreed63

Might be a bug introduced as I modified the Properties palette code to fit in with the new UI

[2012-08-15 16:39] aerwin opened #2947 "No "push" feedback from toolbar buttons"
@JonFerraiolo

This might still be on your list of clean-up items, but I was struggling with the toolbar buttons. E.g., you click on them and there's no indication that the a press occurred. E.g., I found myself hitting "Save" multiple times because I didn't think my click registered.

[2012-08-15 17:30] billreed63 opened #2948 "Eclipse project listing duplicate base theme's in theme switching"
When the user creates an eclipse project the switching themes has duplicate theme for the base themes.
2 Claros, 2 androids, .....

[2012-08-15 17:38] #2948 closed, assigned to billreed63

[2012-08-15 18:01] #2946 closed, assigned to billreed63

[2012-08-15 18:04] aerwin commented on #2715
During testing with the latest orion build, I'm seeing the following exception when I open the file containing the tree configured as part of running through the tree test case. I'm assuming it's because we're allowing the onOpen handler to run and in this case  the onOpen handler for one of the nodes contains `davinci.states.setState('myState',event)`. So, I'm guessing this will be resolved when

[2012-08-15 18:07] aerwin opened #2949 "(Orion) Login screen doesn't tell me I entered wrong password"
@childsb
1. Go to Orion login screen
2. Enter user name
3. Type wrong password and nothing happens except for following in console:

[code]

[2012-08-15 18:18] aerwin opened #2950 "(Orion) R&C Can't create reviews (looks like bad command paths)"
Short description is lots of exceptions when bring up R&C wizard, go through it, and click Finish. It looks to me like the paths for the GET/POST attempts to the sever are bad. E.g.,
- /maqetta/**nullmaqetta**/cmd/getLatestVersionId
- /maqetta/**nullmaqetta**/cmd/publish

Steps:
- Choose Create -> Review
- Wizard comes up with default title of "version undefined"
- Lots of errors on console

[code

[2012-08-15 18:37] aerwin opened #2951 "Mobile: Selection chrome on iPad goes past edges of canvas"
@JonFerraiolo
1. Create iPad application
2. Drag View onto canvas

![screenshot](http://i.imgur.com/0CQCL.png)

[2012-08-15 18:53] JonFerraiolo commented on #2951
-> me

I actually adding clipping to the focus chrome this week, but maybe my algorithm needs tweaking.

[2012-08-15 18:54] JonFerraiolo commented on #2950
-> @childsb

[2012-08-15 19:00] aerwin opened #2952 "Red screen of death creating mobile app with custom theme"
Using Chrome on Mac... doing "Theme button - custom mobile theme" test case...
1. Clone custom theme
2. Change global background
3. Save theme
4. Selected Create - Mobile Application specifying device type of "iPhone" and theme pointing at your new theme
5. Click OK and get red screen of death

[code]

![screenshot](http://i.imgur.com/X7fb3.png)

[2012-08-15 19:06] #2935 closed, assigned to doronrosenberg

[2012-08-15 19:07] doronrosenberg commented on #2935
@peller Hopefully this is now fixed

[2012-08-15 19:42] aerwin opened #2953 "Performance: Unresponsive script trying to create file in Firefox"
NOTE: I saw this kind of stuff happen the other day when I suggested we wait until Dojo build in place before continuing with test matrix. Apparently, this still happens even after there's a Dojo build.

Imagine this is intermittent... my steps using Firefox on Mac going to our Orion test server...
1. Clear browser cache
2. Login to Maqetta
3. Create new HTML file

![Screenshot](http://i.imgur.com

[2012-08-15 20:21] JonFerraiolo commented on #2952
-> me. Might be the result of the states overhaul I did in June/July

[2012-08-15 20:35] aerwin opened #2954 "(Orion) Dojo build for UI plugins doesn't seem quite right"
Updated summary from 08-16-2012:

It's hard to call any of this regression since I don't think we've ever had a Dojo build in Orion. And, I'm not sure there was ever an official build of the standalone driver that contained my 6a1ab9931e7065c1c8554941590c214bd39f1343 from 14 days ago that re-enabled Dojo builds on the plug-ins (which had become broken with dojo 1.8.0rc1). At least I know we never

[2012-08-15 20:43] jhpedemonte opened #2955 ""multipleDefine" error from Dojo when first loading Maqetta"
When first loading Maqetta, I see an error in the console:

[code]

Are we evaluating this file twice, perhaps?

@peller @JonFerraiolo

[2012-08-15 20:49] aerwin opened #2956 "cmd-a in list box selects everything on page"
Was using Firefox on Mac... Making prio high because I'm not sure how pervasive this is... e.g., is our global keyboard handling stuff capturing cmd-a?
1. New HTML page
2. Drag gridx on page
3. (Optional if you want large number of items in list box) Select "Data file from workspace" and enter "samples/sample_data/sampleManyColumns.json"
4. Select item in "Selected columns" list box and hit cmd-a

[2012-08-15 21:02] #2126 closed, assigned to peller

[2012-08-15 21:03] aerwin opened #2957 "Overlays seem mostly broken"
Using Firefox on Mac... doing overlays test case...
1. New HTML file
2. Click on the "New file" icon on the main toolbar. Choose any filename.
3. Drag a Button onto the canvas. Set the text on the Button to "Show Dialog"
4. Drag a Tooltip on to the Button. The Toolbar will be associated with the Button. Put text in the tooltip like "click here to show the dialog"

Notice following failures:
1. Tes

[2012-08-15 21:12] doronrosenberg commented on #2956
Global events don't handle select all, sounds like the widget is not handling the event.

[2012-08-15 21:27] billreed63 opened #2958 "Sketch theme Accordion hover has blue outline instead of black"

[2012-08-15 21:32] JonFerraiolo opened #2959 "Update Developer-Setup to include Orion instructions, and tell users to not import certain projects"
@jhpedemonte @peller @aerwin

I have tried rebuilding using Orion from a clean "git clone" and have been unsuccessful. I believe the instructions we have at github.com are a combination of incomplete, inaccurate and too complicated.

Don't we need to update https://github.com/maqetta/maqetta/wiki/Developer-Setup to tell users to not import the following projects:
- Any project name that matches `*

[2012-08-15 21:33] billreed63 opened #2960 "Exception DnD button Absolute layout"
FF/Win 7

create page
switch flow to absolute
DnD button

note the following exception. the button does get place in the correct position. so the exception is non distructive

VisualEditorOutline._widgetChanged: e = TypeError: this.domNode is null
http://maqetta-app-test.austin.ibm.com/maqetta/app/davinci/davinci.js?@revision@
Line 55312

[2012-08-15 21:43] jhpedemonte commented on #2955
When creating a new file, I see this error 2 more times.  So we're constantly trying to re-evaluate the callbacks object.

[2012-08-15 21:50] JonFerraiolo opened #2961 "Wrong heading styling on iPhone header?"
With Win/FF running on maqetta-test today:
- New Mobile App
- Add a ScrollbarView
- Add a Heading

Result below=> (isn't this wrong? With Preview 6, the heading's background is dark gray)

![wrong heading styling](http://i.imgur.com/2VloN.png)

[2012-08-15 21:53] billreed63 opened #2962 "Context menu on table is so long that insert row is off screen"
The context menu for the html table is so long that some of the items are off screen on the button
win/FF

Create and html table  of 3 rows
select the bottom row  right click for context menu...

My screen res is 1600x900 think pads the screens are wider and not as tall as Mac's

[2012-08-15 22:06] peller opened #2963 "create gridx fails first time with async:true"
Now that async has been turned on, the first time you dnd a gridx onto the canvas, it fails.  There are no error messages to the console.  Subsequent attempts work fine.

@aerwin, please assess.  I can back out the async bit if necessary.

[2012-08-15 22:09] peller commented on #2959
The plugins you mention are all optional, but should be imported and should work.  Going forward, I've been told we should be relying on Eclipse features more to package our code and make deployment easier.

[2012-08-15 23:17] aerwin commented on #2962
Yes, this is a long known issue that I thought would disappear with a combination of grouping in the Action Bar and matching grouping (e.g., submenus) in the context menus.

@JonFerraiolo

Thoughts? Do we have an open ticket for have submenu based context menus? I know it's come up in various design discussions, but not sure if it's been formalized in a ticket.

[2012-08-15 23:21] doronrosenberg commented on #2960
Possible timing issue, sounds like outline is getting a widget that is not part of a dom tree.

[2012-08-16 00:51] peller commented on #1052
Revisiting this issue, I still think we are best off matching the functionality of the (Dijit) Widgets and not trying to intervene by parsing and maintaining fragile dependencies.  Among other things, that would break the encapsulation sought by reusing content.  dojox/layout/ContentPane is the widget able to embed complex content with Dijit widgets, so for this scenario, we should look at support

[2012-08-16 01:01] peller commented on #2963
Now I see this message in the console:

[code]

[2012-08-16 01:03] peller commented on #2963
forgot that gridx still uses dojox/grid helpers...

[2012-08-16 01:21] #2963 closed, assigned to peller

[2012-08-16 01:42] doronrosenberg commented on #2960
Hmm, I can't reproduce on trunk

[2012-08-16 01:59] jhpedemonte commented on #2941
Latest breakage (building from `zazl-build` branch):

[code]

[2012-08-16 02:10] peller opened #2964 "Focus needs to be redrawn when side panels maximized/minimized"
Drag a widget like a Calendar and make sure it is selected.
Collapse the widget palette
Page canvas shifts but focus does not.  Same bug exists when panels expanded.

[2012-08-16 02:11] peller commented on #2964
see also #894

[2012-08-16 02:24] #2937 closed, assigned to doronrosenberg

[2012-08-16 02:24] doronrosenberg opened #2965 "Opening File Select from Smartinput uses a too-low z-index"
Spin-off from #2937

[2012-08-16 02:44] #2965 closed, assigned to doronrosenberg

[2012-08-16 02:45] doronrosenberg opened #2966 "Create one File selection dialog"
Spin off from #2937

DataStore and IconContainer Inputs use their own File selection dialog, lets combine them into one widget

[2012-08-16 03:12] jhpedemonte opened #2967 "Selection box appears in wrong place in mobile page"
There seem to be major selection issues when working in a mobile page.

I was running through the test **_Widget Palette: Mobile Data Store Based**_ and I had an **EdgeToEdgeDataList** and **DataCarousel** widget on page.  Got into state where selecting DataCarousel was difficult, with selection box showing up in odd places.

[2012-08-16 03:14] jhpedemonte opened #2968 "Dialog appears (disabled) behind smart input"
**_Tests > Widget Palette: Mobile Data Store Based > EdgeToEdgeDataList: Data file from workspace**_:

Clicking on folder icon in smart input brings up the "Select a source" dialog **behind** the smart input.  Also, dialog is disabled (smart input still has focus), so cannot complete test.

[2012-08-16 03:15] #2966 closed, assigned to doronrosenberg

[2012-08-16 03:16] doronrosenberg commented on #2968
dupe of #2965

[2012-08-16 03:16] #2968 closed, assigned to doronrosenberg

[2012-08-16 03:17] jhpedemonte commented on #2897
Reopening -- I may have seen this issue:

Running through **_Tests > Widget Palette: Mobile Data Store Based > EdgeToEdgeDataList: Comma separated data**_.

Performed test, saved, closed file and reopened.  VE shows a simple list; no mobile device silhouette, no styling for contents.  As I was switching windows and doing other things, finally styling and silhouette kicked in (roughly 20 secs later

[2012-08-16 03:36] aerwin commented on #2963
@peller

Was ecstatic to see this one closed out, but after doing a "git pull" and running from Eclipse launch script, I'm still seeing the issue. I've cleared my browser cache (and even went so far as to delete workspace and restart server). Am I missing something obvious?

[2012-08-16 03:55] jhpedemonte commented on #2800
-> @JonFerraiolo, who is driving UI issues.

[2012-08-16 04:01] jhpedemonte opened #2969 "Reize arrow cursor appears even on edges that cannot be resized"
Drop a Dijit Button on page and hover over one of the edges of the selection box.  Notice that the cursor turns into an arrow, signifying that that dimension can be resized.  However, Button (by default) cannot be resized.

[2012-08-16 04:06] jhpedemonte opened #2970 "Cannot edit source in split view after selecting widget"
1. Open Sample1.html.
2. Enable source split view.
3. Select the **_New**_ button in the visual editor.  This should also select the source in the source view.
4. Try to edit the source.

You can edit the source in spilt view as long as you don't select a widget in the VE.

[2012-08-16 04:10] jhpedemonte opened #2971 "Need strategy for handling read-only files (was: Error saving workingcopy (intermittent))"
Every so often, I get an error in the console when Maqetta tries to save a working copy:

Here's what seems to be the corresponding error in the server log file:

[code]

---

**Tasks:** _(updated 2012-08-21)_
- Disable **auto-save** for read-only files.
- Disable **Save** for read-only files -- only allow **Save As**.

[2012-08-16 04:12] jhpedemonte opened #2972 ""Absolute" text is cut off in toolbar"
When switching from "Flow" to "Absolute" in the toolbar, the icon shows up as "Abs...".

[2012-08-16 04:16] jhpedemonte opened #2973 "Text selection appears when double-clicking on toolbar icons"
I notice when clicking quickly on undo/redo that a text selection appears under the toolbar.  Can easily reproduce by double-clicking on most of the toolbar icons.

We should look for a way to disable this behavior.  I've run into it several times already.

@doronrosenberg

[2012-08-16 04:21] jhpedemonte opened #2974 "Smart Input shouldn't disable whole page"
The Smart Input pop up **disables the entire app**.  This is a regression from M6, where it would only disable the VE.

The current behavior is inconvenient since it requires an extra click in order to dismiss the smart input before the user can interact with the rest of the UI.  Consider if you drop one widget, the smart input comes up, but you don't need to make use of it.  Now you want to selec

[2012-08-16 04:23] jhpedemonte opened #2975 "Hidden left-hand panel pops out automatically when switching files"
1. Open mutliple files.
2. Hide the left-hand panel.
3. Switch to another file, then back to original file.

The left-hand panel automatically pops out when switching files, even though I just hid it.

[2012-08-16 04:32] jhpedemonte commented on #2769
Ugh.

Yes, if we need to, I prefer something along the lines of what Tony has outlined above, rather than both "dojo" and "dojo-src" entries.

[2012-08-16 04:34] jhpedemonte commented on #1512
See #2769 for handling of **dojo-src**.

[2012-08-16 04:40] jhpedemonte commented on #1512
Added a list of tasks to the summary.  One question:  when downloading, we must always download the files from the "maqetta" library.  Does the same apply to "DojoThemes"?  I'm not even sure why that's a library.

[2012-08-16 06:21] #2974 closed, assigned to doronrosenberg

[2012-08-16 10:36] evanhw commented on #2919
Thanks Tony!

Assa20,

[Create-the-Simplest-Gridx](https://github.com/evanhw/gridx/wiki/Create-the-Simplest-Gridx) maybe helpful,  we are working on more docs & tutorial being added to [gridx doc wiki](https://github.com/evanhw/gridx/wiki/_pages)

Not sure which kind of stores you are using, Gridx can work well with both the dojo.data and dojo.store, e.g. the url supported [IFS](http://livedocs.do

[2012-08-16 14:00] billreed63 commented on #2961
This seems to be a timing issue on FF

[2012-08-16 14:35] JonFerraiolo commented on #2972
That's what we decided to do when talking with @jmockler. Maybe it's better to make the button bigger (because it has the whole word "Absolute")

[2012-08-16 14:56] billreed63 opened #2976 "States do not work in preview mode"
FF/win 7

Create desktop in subfolder i did folder2/file1.html

DnD button
DnD calendar
DnD button

create one state to hid calendar

preview I get the following exception
ReferenceError: event is not defined
http://maqetta-app-test.austin.ibm.com/maqetta/user/G/ws/workspace/project1/lib/dojo/dojo/dojo.js
Line 643

I think  zazl is on, this is the link from the preview
http://maqetta-app-test.aust

[2012-08-16 15:32] billreed63 opened #2977 "Ctrl Z undo throws exception in FF/Win"
Standard setup things: Clear the browser cache. Launch the Maqetta server. Login if necessary.
Create a new desktop application file
Drag and drop a Dijit Button
In the smart input, change the label of the button and press OK.
Click on the canvas of the Visual Editor
{Accel} z should undo and {Accel} Shift Z should redo.

TypeError: item.action.run is not a function
http://maqetta-app-test.austin.

[2012-08-16 15:34] billreed63 commented on #2977
deletes throws exception also
item.action.run is not a function

Line 35552

[2012-08-16 15:41] jmockler commented on #2972
@JonFerraiolo I recall we reviewed this issue in the UI meeting. And I mentioned that it may not work, since folks may not understand what 'Abs...' means. So I agree we need to show the full text, or at minimum have a 'hover help' that shows the full name.

[2012-08-16 15:56] childsb opened #2978 "ListVersions 500 server error"
when running maqetta I see this in the console:

[code]

[2012-08-16 16:24] #2977 closed, assigned to doronrosenberg

[2012-08-16 16:25] #1180 closed, assigned to doronrosenberg

[2012-08-16 16:29] #2884 closed, assigned to JonFerraiolo

[2012-08-16 16:40] #2890 closed, assigned to childsb

[2012-08-16 16:42] #2964 closed, assigned to JonFerraiolo

[2012-08-16 16:53] JonFerraiolo commented on #2951
Lowering to Prio-Med. The code is actually clipping the selection chrome so that it doesn't extend into the palette area or into the top banner. The clipping logic looks fairly solid at this point.

The only remaining problem is what is shown above, in the case where the silhouette is large, which causes scrollbars to appear at the edges of the user's iframe. The selection chrome's clipping rectan

[2012-08-16 17:42] #2922 closed, assigned to doronrosenberg

[2012-08-16 18:00] #2972 closed, assigned to JonFerraiolo

[2012-08-16 18:42] peller commented on #2970
Chrome only bug.  Editor does not seem to regain focus unless you click on a native widget (like a properties textbox) then back into the source editor.  Investigating.

[2012-08-16 18:58] #2976 closed, assigned to JonFerraiolo

[2012-08-16 19:18] #2967 closed, assigned to JonFerraiolo

[2012-08-16 19:29] JonFerraiolo commented on #2947
Note that standard dojo buttons (with claro) don't actually have a different visual presentation for "pressed" in their own styling definition. However, what they do have (which provides visual feedback upon clicking on a dojo button):
- They have a different visual state for "hover" (and when you are pressing, the mouse will indeed by hovering over the button)
- The **browser** provides its own v

[2012-08-16 19:58] aerwin commented on #2838
@childsb @jhpedemonte

--> Prio High so we discuss this early in M8 time frame

[2012-08-16 19:59] aerwin commented on #2950
--> @aerwin

[2012-08-16 20:00] aerwin commented on #2978
-> @childsb (transferring per phone call)

[2012-08-16 20:46] #2942 closed, assigned to JonFerraiolo

[2012-08-16 21:13] jhpedemonte opened #2979 "Need icons for new widgets"
Need icons for these widgets:

**[Dojox Mobile](http://dojotoolkit.org/reference-guide/1.8/dojox/mobile.html)**:
- SearchBox
- GridLayout
- ProgressIndicator
- ValuePicker
- ValuePickerSlot
- ValuePickerDatePicker
- ValuePickerTimePicker
- DatePicker
- TimePicker

**HTML**:  _(This one must have fallen through the cracks.)_
- `<p>`

[2012-08-16 21:16] jhpedemonte commented on #2864
I noticed that _ScrollablePane_ was at the top of the listings and decided to rearrange the widgets better, following (more or less) the listings here: http://dojotoolkit.org/reference-guide/1.8/dojox/mobile.html

[2012-08-16 21:34] aerwin opened #2980 "Reviews Palette: Add toolbar buttons and context menu items to test plan"
Need to update R&C test plan to include cases for Review Palette toolbar buttons and context menus.

[2012-08-16 21:36] aerwin opened #2981 "R&C: Clicking Edit toolbar in Review Palette button fails"
1. Select review in Review Palette
2. Click toolbar button for editing the review
3. Wizard comes up, but missing content... JS error in console:

[code]

[2012-08-16 21:38] jhpedemonte opened #2982 "Rearrange "Dojo Control" widgets into logical groupings"
Similar to #2864, we should group the widgets in "Dojo Controls" into logical groupings.

Currently, the widgets are (roughly) alphabetized.  But this leads to odd sorting: HorizontalSlider is no where near VerticalSlider.

---

Proposal:

The [Dojo docs](http://dojotoolkit.org/reference-guide/1.8/dijit/index.html) provide groupings.  We could do something like this:
- **Buttons** (Button, ComboBu

[2012-08-16 21:38] aerwin opened #2983 "Review Palette: Context menu items don't execute actions"
It looks like the toolbar buttons work when an item is selected in the review palette, but choosing associated context menu option doesn't do anything (and no errors in console).

[2012-08-16 21:55] childsb opened #2984 "themesets add/remove theme icon is doubled"
In FireFox the + and - buttin within the theme sets dialog is doubled.

Recreate:
1) launch maqetta
2) bring up the theme sets dialog (click on the gears icon, and select "theme sets")
3) Under the Them Sets box on the left notice that theres
+
Triangle shape

for the plus

and
- -

for the minus icon

[2012-08-16 22:03] aerwin commented on #2950
Closing with above commit.

[2012-08-16 22:03] #2950 closed, assigned to aerwin

[2012-08-16 23:05] JonFerraiolo commented on #2838
Some fixes that might be quick and safe:
- Put HTML visual editor options at the top
- Remove a level of hierarchy.

Another option would be to flatten everything into a single pane, but with two sections....

[2012-08-16 23:08] JonFerraiolo commented on #2984
-> me with Prio-High to investigate. Probably a regression due to my CSS hacking

[2012-08-16 23:10] JonFerraiolo commented on #2982
I was thinking we would focus on cleaning up the UI in the widget and properties palettes for M8. There are a number of UI issues to discuss there, including which widget groups should appear for which editors, and in what order. We also want to switch to bigger icons in the widget palette. I think we should leave everything alone for M7 and then thrust a new UI for widgets with M8.

@jmockler

[2012-08-16 23:12] aerwin commented on #2838
@JonFerraiolo

I think you might be talking about another issue. This one is specifically for a back-end design decision related to where to store review related files. It's not intended for any kind of UI redesign of the global preferences panel.

[2012-08-17 00:40] jhpedemonte commented on #1052
@peller, what exactly are you proposing [here](https://github.com/maqetta/maqetta/issues/1052#issuecomment-7774297)?

[2012-08-17 00:42] jhpedemonte commented on #2962
Are these menus also constructed through the **_plugin.js** files?  If so, what would be involved to add submenu support?

[2012-08-17 00:49] jhpedemonte commented on #2954
@aerwin: Dojo is properly built on latest builds.  It sounds like you are saying that other areas of the build have regressed.  Is that correct?

If so, the title & summary should be updated to describe the exact areas that have regressed.

[2012-08-17 00:50] jhpedemonte commented on #2953
@peller recently committed changes to the VE code to make it more asynchronous.  Hopefully that will help in this instance.

[2012-08-17 00:52] jhpedemonte commented on #2952
I've also seen this when opening a non-mobile page, although very intermittently.

[2012-08-17 01:03] jhpedemonte commented on #2715
I agree with Jon here:  we are making assumptions as to which scripts we will/will not want to run;  just because we do things one way to dijit.Tree doesn't mean that will apply to all widgets in the future.  As Jon states, we need to abstract this somehow and provide a mechanism so that each widget can make these decisions.

Don't we `on*` handlers from running in the VE?

[2012-08-17 01:07] jhpedemonte commented on #2982
I'm fine with creating a new UI for the Palette in M8 -- I've been throwing out suggestions for a while.

This issue is just to simply rearrange the widgets to be better grouped.  Takes 5 mins and very low risk.

[2012-08-17 01:10] jhpedemonte commented on #2945
@doronrosenberg: Does this dialog exist any more?  Did you replace with a "standard" file dialog?

[2012-08-17 01:29] jhpedemonte commented on #2089
Closing as duplicate of #156.

[2012-08-17 01:29] #2089 closed, assigned to billreed63

[2012-08-17 01:42] jhpedemonte opened #2985 "Cleanup for "unsaved changes" dialog when switching themes"
_(Offshoot from #2930)_

This dialog should be better:
1. Change text to read:

[code]
2. Change the "OK" button to "Save".
3. Use a Dijit Dialog instead of an alert.

[2012-08-17 01:47] jhpedemonte commented on #2985
Side note: why exactly do we have this dialog?  What does it matter that there are unsaved changes when switching themes?

@JonFerraiolo

[2012-08-17 01:49] peller commented on #1052
Support dojox/layout/ContentPane for this scenario.   Don't try to implement any magic to make script work in the other widget types.

[2012-08-17 01:51] peller commented on #2953
Don't see a connection.  If you hit stop script, do you get a stack trace?

[2012-08-17 01:52] jhpedemonte commented on #1052
If we go with that proposal (which entails adding support for another widget), we should probably push this to M8.

[2012-08-17 01:52] peller commented on #2897
Could it just be that some element of the device silhouette was slow to load?  (Admittedly, that's pretty slow, and it's all SVG, right?)

[2012-08-17 01:55] jhpedemonte commented on #2143
I'm not sure about moving this to M8.  This seems like a serious issue with the _delta themes_ implementation.

How hard would it be to implement [my proposal](https://github.com/maqetta/maqetta/issues/2143#issuecomment-7650462)?

[2012-08-17 01:55] jhpedemonte commented on #2897
Could be.  But again, this was 20+ seconds later.

[2012-08-17 02:05] doronrosenberg commented on #2945
@jhpedemonte It does exist, davinci.ui.widgets.FileFieldDialog.  Different widget, forgot that we had that.

[2012-08-17 02:08] doronrosenberg commented on #286
Also see #2945.

We should use this bug to combine all the file selection UI into one true dialog class.  I used #2966 to do some of that and ended up using the OpenFile dialog.

[2012-08-17 02:09] doronrosenberg commented on #2945
We have #286, which should be used to create one definitive widget that does File Selection and then embed that in dialogs.

[2012-08-17 02:15] doronrosenberg commented on #2945
The sizing issue seems to be a resize problem, we are probably resizing the tree too early.

[2012-08-17 02:20] doronrosenberg opened #2986 "Selection chrome not cleaned up correctly"
- New HTML Page
- dnd a dijit button
- Make sure its selected
- Close the page
- Notice how the selection chrome remains for a bit before going away (FF Windows)
- Now open a new HTML page
- The button selection chrome is still there.

[2012-08-17 03:06] #2970 closed, assigned to peller

[2012-08-17 04:23] aerwin commented on #2954
@jhpedemonte

I stand corrected... I downloaded the zip for the orion build and you are right that the UI plug-ins contain built Dojo. However, it seems like something is not quite right.

It's hard to call any of this regression since I don't think we've ever had a Dojo build in Orion. And, I'm not sure there was ever an official build of the standalone driver that contained my 6a1ab9931e7065c1c8

[2012-08-17 04:42] aerwin commented on #2715
Could @jhpedemonte or @JonFerraiolo  give me an example of a case where "dojo/method" should not be "run"?

And, really, it's not even a matter of "running" it... E.g., "dojo/method" is used to override a function in the superclass. So, you're essentially making a declarative subclass. To me that just doesn't make sense to add metadata and/or helpers to stop such subclassing from happening in the

[2012-08-17 05:08] aerwin commented on #2962
The following menu items come from the plugin.js. And, it's already pretty long and unwieldy:

![screenshot](http://i.imgur.com/VrHR6.png)

The table actions used to be in plugin.js, but now come from a helper. When they are added, the menu looks like so:

![screenshot](http://i.imgur.com/1c89H.png)

##

One thing that would be involved in adding submenu support would be proper metadata. Here's th

[2012-08-17 06:14] aerwin commented on #2953
Not having much luck with stop script and not always seeing unresponsive script errors, but here are two representative scenarios (one with cache cleared and one without) and associated data based on stopwatch timing:
1. logout with empty file1.html showing in workbench
2. clear cache
3. hit signin
4. At this point, roughly 13 seconds to see first signs of Maqetta (e.g., something other than white

[2012-08-17 06:16] aerwin commented on #2953
And, also... while different than going to maqetta-test over the VPN, I did a test speedtest.net test from laptop to a server in Ausin. And, I clocked in at 30.4 Mbps. So, I'm on a pretty fast connection.

[2012-08-17 13:09] billreed63 commented on #2897
I am working on #2961, as part of that I have seen this issue and have shuffled some code around that seems to have fixed this issue. @peller  I would not spend any time chasing this issue until I have finished #2961 to see if my change have fixed this issue...

[2012-08-17 13:18] billreed63 commented on #2143
I disagree with you assumption of what the user expects, If I unset a value I expect it to go back to the base theme value, that is why I "cloned" that theme.

But if we where to implement your proposal we would need to do what  @JonFerraiolo  [described in his comment above](https://github.com/maqetta/maqetta/issues/2143#issuecomment-5776196)

[2012-08-17 13:21] aerwin commented on #2433
While discussing #2963, @peller pointed out to me that `GridCreateTool` used an immediate `requires` that could cause problems... in the process of going to clean that up, I've found some much more fundamental problems that probably lead to this issue and other strange timing related problems we've seen intermittently (like #2574).

Basically, `DataGridCreateTool` is not set-up to be asynchronous.

[2012-08-17 13:21] aerwin commented on #2963
FYI, this started working for me yesterday using launch from Eclipse and Chrome. But, I think there are still issues (see comments added to #2433).

[2012-08-17 13:54] JonFerraiolo opened #2987 "Desktop tutorial: preview in browser fails with undefined reference to byId"
Using today's nightly build, I followed the steps in our old desktop tutorials just to see how things were running today, and state switching isn't working properly in preview-in-browser using a installable/built version of Maqetta (localhost:50000). The console shows this message:

Uncaught TypeError: Cannot read property 'byId' of undefined

It's crashing at this line:

[code]

within this block

[2012-08-17 14:00] JonFerraiolo opened #2988 "Mobile scenes not appearing in scenes palette"
Something broke in the Scenes palette. Mobile views aren't appearing there in today's nightly build.

[2012-08-17 14:02] #2766 closed, assigned to peller

[2012-08-17 14:19] aerwin commented on #2954
FYI... I went to lab9:50010 to try a scenario for @peller this morning, and the Dojo build for plugins looks more like I'd expect... e.g., at least the parts are minified.