[2012-12-13 20:32] billreed63 commented on #3584
new mobile app, drop a View then SpinWheelDatePicker.  save, close, reopen.  get dojo.parse error.
This only happens on the built version of code, running from source is ok...

[2012-12-13 20:53] peller commented on #3636
while bulletproofing, should probably catch JSON.parse exceptions and post some backup error message if the result is invalid JSON

[2012-12-13 21:21] peller opened #3637 "Not getting any e-mails when users comment on a review"
User A creates a review, invite user B.

User B gets an invitation by e-mail. Log in as user B and create a comment.  User A never receives an e-mail.

@jhpedemonte

[2012-12-13 21:28] peller commented on #3637
nevermind.  for some reason, the e-mail registered to my account did not match the login.  I was getting the e-mails elsewhere.

[2012-12-13 21:28] #3637 closed, assigned to JonFerraiolo

[2012-12-13 22:40] peller opened #3638 "SpinWheelDatePicker has no properties"
SpinWheelDatePicker should have `value` and/or `values` properties available in the properties editor.  `value` with an ISO value would be more consistent with Dijit's DatePicker, and we'll eventually get that working better.  See #65, #659  Right now, it has no value and always defaults to today's date.

@jhpedemonte

[2012-12-13 23:27] jhpedemonte commented on #3638
Also missing `yearPattern`, `monthPattern` and `dayPattern`.  See the [docs](https://dojotoolkit.org/reference-guide/1.8/dojox/mobile/SpinWheelDatePicker.html).

[2012-12-14 15:25] not-a-kiwi opened #3639 "can't scroll to "register" when screen is vertically small"
Register button is not visible unless I go "full screen" using F11; moreover scrollling does not work.
Using Firefox 17, 1360x530 viewport (1360x720 screen with various system and browser toolbars).

[2012-12-14 15:47] JonFerraiolo commented on #3639
Thanks for the report! We'll making the login screens scrollable for the first release that comes out in 2013. Until then, our apologies and hope you can find a way to click on that register button.

But note that the whole Maqetta UI will probably not work well with such a small screen. Fixing that would be a much more difficult effort than making the signup screen scrollable.

[2012-12-14 19:42] JonFerraiolo opened #3640 "CarouselItem - confusing"
When I tried to drop a CarouselItem onto a Carousel, an error dialog came up saying it must be a child of a SwapView.

It appears that a Carousel consists of SwapViews which have CarouselItems inside. Maqetta's UI isn't helping the user right now (IMO)

[2012-12-14 19:44] JonFerraiolo opened #3641 "Help info for SmartInput for DataCarousel isn't helpful"
Says "Text represents literal (plain) text"

[2012-12-16 17:18] jhpedemonte opened #3642 "Move siteConfig into maqetta.conf, out of init.d script"
Currently, our server launch script at `/etc/init.d/maqetta` contains the following:

[code]

The _siteConfig_ definition should be moved to **maqetta.conf** and handled like the other launch parameters, but maybe with extra code to check that the directory actually exists.

[2012-12-17 00:32] JonFerraiolo opened #3643 "html.div uses mobile combobox's theme metadata"
@jhpedemonte @peller

One of our users has discovered a bug in the new release:

https://groups.google.com/forum/?fromgroups=#!topic/maqetta-users/j2LE4oVUeLU

When doing a mobile application, you can't set CSS properties on an HTML DIV Part of the reason is that the theme metadata (in custom/custom.json) has this definition at the top:

[code]

The logic in davinci/ve/themeEditor/metadata/query j

[2012-12-17 00:40] JonFerraiolo commented on #3643
This commit (off in a branch) might be a reasonable patch fix: 5d0fd63a7db9be80f462a9936c4d8a9544e7634e

[2012-12-17 05:16] JonFerraiolo commented on #3643
After merging into master and doing some testing, the fix in the above commit looks good. But we should leave this issue open for M9 to do a proper fix instead of the above patch.

[2012-12-17 12:49] jhpedemonte commented on #3643
OK, judging from your previous comment, this commit is just **temporary** -- I don't think adding checks like this is necessarily the correct thing and I'm not a fan of this particular one.  But I guess we can look into it more for M9.  A few thoughts:
1. You mention that this is a regression against M7.  However, the user mentions that he was using version 7.0.1.
2. If this is indeed a regression

[2012-12-17 14:27] billreed63 commented on #3643
I am not sure why this regressed from M7 to M8. We had issues loading mobile themes at page load and we were not modeling  the dojo default theme's at all. With M8 we have improved the reliably of loading the mobile theme's. So I suspect that we exposed this bug by fixing the loading.

The html.div  for mobile ComboBox was a work around to display the list items of a ComboBox for styling in the th

[2012-12-18 04:55] JonFerraiolo opened #3644 "Shapes lose their styling when included in a custom widget"
New sketch hi-fi. I added some shapes, surrounded them with a DIV, made a custom widget. Then I did new desktop app and tried to add the custom widget. The shapes are there, but all are black-filled.

[2012-12-18 05:35] JonFerraiolo commented on #3643
We posted a new build on maqetta.org with this commit 5d0fd63, which patches the code to prevent the problem, but as @billreed63 points out, we need a better long-term solution.

Pushing the long-term solution to M9.

[2012-12-18 13:25] peller commented on #3584
SpinWheelSlot's getters call getCenterItem which depends on layout.  This creates a race condition between the startup sequence (which should not have any layout references) and page loading, probably exacerbated by our use of deviceTheme.js

[2012-12-18 14:34] Jorindel opened #3645 "System fails to send me email validation email."
The system consistently fails to send validation emails.   The message says the email was sent, but it was not sent or was rejected.  The email address is valid.  Junk mail is being checked nothing is blocked.

There is a problem with the email validation procedure.  Please address it!

[2012-12-19 04:51] peller commented on #3511
updated to 1.8.2 f3e818c75c4989d4cada3755c89b156858d1b6d8

[2012-12-19 12:58] jhpedemonte commented on #3645
By "validation emails" do you mean the sign-up (registration) email from maqetta.org?

As far as we can tell, emails are correctly getting sent.  We had another user with a **live.com** address who thought he wasn't getting emails, but the emails were in his spam folder.

@JonFerraiolo @peller

[2012-12-19 15:48] peller commented on #3645
same user, I think.

[2012-12-20 19:30] peller opened #3646 "DojoMobileViewSceneManager must use AMD"
(see metadata/callbacks.js in the dojo_1_8 plugin)

There are several references to Dojo objects directly from the iframe's window object.  Constructs like context.getDojo() and window.dijit should be avoided.  These should be replaced with AMD-style require statements unless somehow we can guarantee that those objects have been loaded already.

I'm seeing intermittent failures in R&C (which may n

[2012-12-20 22:12] peller opened #3647 "Eliminate serverJSONRequest"
and sync:true xhr usage

[2012-12-20 22:15] peller commented on #3647
created branch: 5f9a30a65ddca7bb3f476c41bd2314421d8485ed

@jhpedemonte @JonFerraiolo

[2013-01-02 03:55] peller commented on #3238
@rbackhouse, Now that we're done with M8, feel free to go ahead with the zazl upgrade to remove the 4 segments for ".review".  I removed the colons from the dates in url paths, but it wouldn't hurt to tolerate them, I guess.

[2013-01-02 15:14] JonFerraiolo opened #3648 "Add file prompt feature to AUDIO and VISUAL elements (and EMBED)"
@aerwin

One of our users asked why we don't offer a file prompt feature for the AUDIO and VISUAL elements (and there is also EMBED), like we do for IMG (and IFRAME).

[2013-01-02 17:10] aerwin commented on #3648
Just for the history of this... we once included a file chooser (basically reusing the IMG smart input), but for #2368 we changed that because:
1. More than one source file is allowed
2. Our defaults are fully-qualified URL's (rather than sample files in the workspace)

So, addressing this issue will need to keep that in mind.

[2013-01-02 17:56] JonFerraiolo commented on #3648
I'm not sure about when or if we will deliver this feature. It's currently marked as low-priority, but the Maqetta team will have to ask itself whether we ever want to provide this feature. It encourages users to upload very large files onto the Maqetta server, which has finite capacity. (Remember, this is a free service.) If users start uploading multimedia content that we consider unacceptable,

[2013-01-02 20:21] JonFerraiolo opened #3649 "Paste tool and click/click behavior on widget palette broken"
When pasting, I get this exception:

[code]

To reproduce:
- New desktop app
- Add an HTML button
- Copy, then paste that button

The exception also happens when trying to add a widget by first clicking on the widget in Widget Palette and then click again on the canvas.
- New desktop app
- In widget palette, click on a Dojo button widget in widget palette, then click on canvas.

[2013-01-02 20:38] JonFerraiolo commented on #3649
Looks like we are simply missing an underscore in a few places within CreateTool.js

[2013-01-02 21:26] peller commented on #3649
oops.  c55d9500c3c798701c417f370db787462dae6a8b  I'm on it.  (Thanks!)

[2013-01-02 22:56] billreed63 commented on #886
I have changed the library.getThemes code so that the server is only hit when a theme is added/deleted and on the first getThemes on the client. The themes are now cached and the caches is only invalidated on theme add/delete/rename

[2013-01-02 23:06] #3649 closed, assigned to peller

[2013-01-03 02:25] peller commented on #373
closing this.  haven't encountered any situations where web workers would be needed.

[2013-01-03 02:25] #373 closed, assigned to peller

[2013-01-03 14:46] billreed63 commented on #2467
This also applies to visual editor, the modeled CSS file not keep in sync with the CSS editor

1) Create a new HTML file
2) DnD a link tag and a label tag
3) Add  the following to app.css

[code]

4) Preview the html file and hover over the link notice the red
5) add a class to the label element
6) change the  class rule for the font color on the label using the cascade
7) Preview hover over the l

[2013-01-03 16:37] peller opened #3650 "Avoid keepalive call on startup"
We call the keepalive command on the server at startup, apparently to get the initial timeout value.

Perhaps we could roll this into getInitializationInfo instead, or even assume some small initial value like a minute or two, then update on the next keepalive value (does it ever change?  if not, remove it from the keepalive response?)

[2013-01-03 22:43] peller opened #3651 "Reviewers memory leak"
A small-ish leak, one object per user using R&C

ReviewManager.java accumulates Reviewer objects in the reviewers member variable, and I don't think they're ever removed.  Perhaps the same thing for designerUsers also.

these members should also be private

[2013-01-04 01:09] JonFerraiolo commented on #305
This was fixed in either M7 or M8. Closing.

[2013-01-04 01:10] JonFerraiolo commented on #305
Reopening and changing title. The outline palette part of bug has been fixed, but not the states palette part of the bug.

[2013-01-04 17:48] billreed63 commented on #886
Added a getThemes command on the server that returns the list of themes in the user workspace as well as the theme data from the theme files as one json object.

The File resource for the theme file is loaded on demand the first time it is accessed by the code

[2013-01-05 04:19] peller commented on #886
Regarding this comment:

[code]

Is the findResource call just to accomplish some sort of path math?  Is there a way to determine this without going through findResource?

[2013-01-05 12:06] rbackhouse commented on #3238
Zazl has been upgraded and MaqettaOSGiResourceLoader will remove 4 segments if it is a review URL.

I uncommented out the code in Context.js and review via Zazl worked for me

[2013-01-07 15:58] billreed63 commented on #886
It is for path math, I know of no other way to find the location of the theme files, findResource is cached to once we find the resource the first time it is cached on the client and all future calls for that resource are not calls to the server

[2013-01-07 18:44] JonFerraiolo commented on #3364
-> @peller M9 Prio-High

@peller - could you please take this on for the M9 timeframe? What I recommend is:
- The first icon (download entire workspace) simply change its wording to say download entire project
- The second icon and the context menu Download command should simply ZIP up selected files and not include libraries, samples or anything else that isn't selected

The reason why I'm making

[2013-01-07 18:45] JonFerraiolo commented on #344
-> @peller M9 Prio-Med

[2013-01-07 20:02] peller commented on #886
Perhaps if we could just declare a place where theme files live (even a path relative to the user's root) we could ship that down with the initialization info and avoid this findResource call.

[2013-01-07 22:13] billreed63 opened #3652 "Selection box in theme editor has re-size knobs"
Create a new mobile theme and select  any widget (except switch), the selection box has the edit knobs.
For theme editor the widgets are not resizable.

[2013-01-08 12:35] illiptic opened #3653 "Child properties added to all instances"
When adding a ContentPane to a Container that adds a property to it, all instances of ContentPane gain the new property.

For instance, selecting a contentPane within a BorderContainer will add the 'region' and 'splitter' properties to all ContentPanes, not just the ones within the BorderContainer.

This pollutes the view and the generated source code.

[2013-01-08 16:59] JonFerraiolo commented on #3653
@illiptic Thanks for the report.

I think I understand what you are saying, but when I tried the operation myself, I don't see the problem. Could you please provide additional details about the steps you are taking? (Maybe Im doing things differently than you) In particular, when you say _When adding a ContentPane to a Container that adds a property to it_, what sort of container in particular, an

[2013-01-08 17:35] billreed63 commented on #886
fixed by f2778dae0ae776425f096b231cc8ff6f7fca39ce

[2013-01-08 17:35] #886 closed, assigned to billreed63

[2013-01-08 17:58] illiptic commented on #3653
Hi Jon,

Thanks for the quick reply!

You can do it in any order really, but here's an example:
1. Add a ContentPane in the designer, open the widget palette in the right sidebar, there is the list of editable properties.
2. Add a BorderContainer (click ok to close the wizard, layout doesn't matter)
3. Select one of the ContentPanes within the BorderContainer. Check the list of properties on the r

[2013-01-08 18:41] JonFerraiolo commented on #3653
Thanks for the additional info. Now I see what's wrong.

Two problems are contributing to this: (1) For ContentPane, we show the union of all properties in the properties palette which might apply to any ContentPane, not just the ones that apply in a particular circumstance (child of BorderContainer vs child of Accordion), (2) We write out too many properties for widgets whenever you change any of

[2013-01-08 19:45] jhpedemonte commented on #3411
Assigned to @billreed63 and updated the summary.

[2013-01-09 01:08] JonFerraiolo opened #3654 "Make asterisk for unsaved changes more prominent"
Add extra space between asterisk and filename?

Can we make asterisk bigger or bolder?

@jinsil

[2013-01-09 20:16] JonFerraiolo commented on #2444
Merged into master from branch 2444-MultiPageSketching. Here is a merge commit: 0efea8af768d2f96d9b30ae0813880517d2837f2

Leaving open until the feature goes through a UI review and test plan is updated.

[2013-01-10 17:53] JonFerraiolo opened #3655 "Update to dojo 1.8.3"
The [Dojo 1.8.3 release](http://bugs.dojotoolkit.org/milestone/1.8.3) is trivial, but there's no reason not to update to the latest tag.  There was [a typo in one of the buildscripts](http://bugs.dojotoolkit.org/ticket/16487) that triggered this extra release.

[2013-01-10 19:32] JonFerraiolo commented on #305
Will close this issue after updated the test plan

[2013-01-10 23:40] JonFerraiolo opened #3656 "Support for dojox gestures"
http://dojotoolkit.org/reference-guide/1.8/dojox/gesture.html

Need to think through how we might be able to provide a user interface that allows users to define certain classes of gestures without having to do any programming. Maybe we could hardcode some common gestures and add them to the Events section of the properties palette.

For more advanced gestures, we should have a how-to tutorial, pe

[2013-01-11 14:45] billreed63 commented on #696
Found hard coded path in Cascade.js

[code]

Need to search the rest of the code base and ensure that we are using

[code]

Or better yet add a method to libary.js `get{ProjectThemesLocation`

[2013-01-11 15:06] peller commented on #3655
@JonFerraiolo Need your help again.  My dojo-src/dojox still seems to be stuck at 1.8.1 and isn't getting new git tags.  Could you please do the following:

[code]

Thanks!

[2013-01-11 15:25] JonFerraiolo commented on #3655
See 3a4fe4605ad623d8982b323714aefe835f8d048d

[2013-01-11 15:41] #3655 closed, assigned to peller

[2013-01-11 16:07] JonFerraiolo opened #3657 "Temporarily remove project preferences"
@billreed63

Things will break if user changes location for the location of WebContent/, themes/ or custom widgets (lib/custom). Don't show those preferences for now, will restore when it actually works (#3658)

[2013-01-11 16:56] JonFerraiolo opened #3658 "Restore project preferences"
@billreed63

[2013-01-11 17:59] #3657 closed, assigned to JonFerraiolo

[2013-01-11 18:35] billreed63 commented on #3411
For the ldap feature I have added the project /maqetta.server.orion.authentication.ldap you will need to import this project into your workspace once this project is imported.

To enable LDAP authentication  modify the config options in `releng\davinci.releng\orion\builder\scripts\maqetta.conf`

[code]

@jhpedemonte  I am still unable to replace the login page with one that does not have the Regis

[2013-01-11 18:48] billreed63 commented on #696
We also need to ensure that is the user change the location of the theme folders that all HTML files that use those themes are update, this can become very complex when more that one user lib is uses eg. dojo and a lib that extends dojo. or jquery

[2013-01-11 18:51] billreed63 commented on #3658
also see issue #696

[2013-01-12 23:20] JonFerraiolo commented on #338
Closing this. I looked at this when we did the widget palette makeover with M8, and chose an alternate approach instead.

[2013-01-12 23:20] #338 closed, assigned to nobody

[2013-01-12 23:27] JonFerraiolo commented on #441
Closing - this was fixed during widget palette cleanup during M8

[2013-01-12 23:27] #441 closed, assigned to billreed63

[2013-01-12 23:27] JonFerraiolo commented on #470
UI has changed, no longer an issue.

[2013-01-12 23:27] #470 closed, assigned to JonFerraiolo

[2013-01-12 23:43] JonFerraiolo commented on #844
@billreed63: could you please look at this to see if this issue is still present with latest code, and if still open, please put an appropriate milestone on the bug (M9, M10, ...).

[2013-01-12 23:45] JonFerraiolo commented on #882
@billreed63 - is this a dupe?

[2013-01-12 23:46] JonFerraiolo commented on #924
@jhpedemonte - can we close this?

[2013-01-13 18:44] JonFerraiolo opened #3659 "Offer option so users can choose to have new widgets only added to current state"
Ever since the beginning of the Maqetta states features, users have asked for an option so they can choose to have new widgets only added to current state

[2013-01-13 18:45] JonFerraiolo commented on #3659
Fixed by these commits: 00c25f504da6d5637f0574e6dd2e0f829baa11f7 7f0d24ec3f9011288408738559842dd0aa3f8b54 5279155d0ed02941baa4811b59d60edbfe21481a

[2013-01-13 18:45] #3659 closed, assigned to JonFerraiolo

[2013-01-14 04:48] peller commented on #344
Note that the Orion Navigator already has this functionality.  Might we be better off if we start to redirect the user to the Orion navigator to upload and/or restructure content in their project?

[2013-01-14 14:07] billreed63 commented on #882
dupe #886

[2013-01-14 14:08] #882 closed, assigned to billreed63

[2013-01-14 14:52] JonFerraiolo commented on #344
@jinsil

To summarize the current state of affairs: (1) In Maqetta, we have a somewhat clumsy and inflexible facility for uploading one or more files into a single folder, (2) With Orion Navigator, you have a very geeky and clumsy (but pretty flexible) facility for uploading and expanding ZIPs.

Given the Orion workaround and how much effort it would be to present a nice UI for uploading files, le

[2013-01-15 03:44] #3389 closed, assigned to peller

[2013-01-15 03:44] #2938 closed, assigned to peller

[2013-01-15 13:00] #3364 closed, assigned to peller

[2013-01-15 18:37] JonFerraiolo opened #3660 "Maqetta not preserving 'display' value across eyeball clicks in Outline palette"
We've had this issue forever.
- Add a DIV
- Set display to 'inline-block'
- In Outline palette, click the eyeball icon twice on the DIV

Result=> display now has no value. It isn't getting reset to inline-block

To fix this completely, we have to store the last display value in the source code. Best idea I have for that is to add a Maqetta-private state name such as $default$ to the maqDeltas list

[2013-01-15 21:19] JonFerraiolo commented on #2444
Actually, with recent commits, I changed most everything around and undid a good part of the changes that were merged from 2444-MultiPageSketching.

[2013-01-15 22:01] peller commented on #1208
This was fixed with the file dialog redesign.

[2013-01-15 22:04] peller commented on #1286
these properties are no longer reflected in prefs dialog

[2013-01-15 22:04] #1286 closed, assigned to jhpedemonte

[2013-01-15 22:26] #3594 closed, assigned to jhpedemonte

[2013-01-15 22:34] #1345 closed, assigned to JonFerraiolo

[2013-01-15 22:37] peller commented on #1208
still does this for new folder

[2013-01-15 22:38] peller commented on #1405
fixed by @doronrosenberg's dialog work

[2013-01-15 22:38] #1405 closed, assigned to JonFerraiolo

[2013-01-15 22:41] peller commented on #3554
changed title to reflect remaining bug: RSOD on missing BODY element

[2013-01-16 03:01] peller commented on #3524
https://bugs.eclipse.org/bugs/show_bug.cgi?id=398262

[2013-01-16 14:00] illiptic commented on #3653
(1) can actually be extended to any widget. If you combine with #148 , you can potentially get a huge amount of garbage in the property list.

I'll try to give a it a closer look and propose a solution if I find the time.

[2013-01-16 19:54] JonFerraiolo commented on #1044
All implemented now. Won't close until test plan is updated.

[2013-01-16 20:50] peller commented on #2702
Indeed, header.modules seems to always be empty (not falsey, but an empty array)  The code in Context._parse that does

[code]

doesn't match anything as it seems to be looking only for require statements with one argument on one line.  Probably something we did in the transition to AMD.  There's a similar check just above for dojo.require.  We probably can't remove this unless we're willing to dr

[2013-01-16 20:52] peller commented on #2702
@JonFerraiolo @billreed63 It seems like the old code which parses the require/dojo.require statement no longer runs, and instead we do our loadRequire based on what's in data-dojo-type attributes.  Does that make sense?  In which case, I think Javier's original comment stands.

[2013-01-16 21:00] peller commented on #1035
see also #344  Maqetta and Orion are both providing upload functionality.

[2013-01-16 22:19] peller commented on #3557
->M10

[2013-01-16 22:19] peller commented on #3539
->M10

[2013-01-16 22:19] peller commented on #3458
->M10

[2013-01-16 22:21] peller commented on #3518
could also go directly to Orion APIs to get content

[2013-01-17 02:08] peller commented on #3583
rather than try to fudge this with a replace(/./g,"/") in the code, we should probably fix this throughout the metadata.  @jhpedemonte are we still generating the metadata, and if so how would we make that change?

[2013-01-17 02:13] peller commented on #1514
see also #3554

[2013-01-17 02:29] peller commented on #3481
->M10

[2013-01-17 02:30] peller commented on #3517
likely a dup of #3518

[2013-01-17 02:32] peller commented on #1589
->M10

[2013-01-17 02:33] peller commented on #19
see a13ae6347a7b3863ce0a6aa12e3aebc13fb8ba0b

[2013-01-17 02:58] peller commented on #3370
cannot reproduce this

[2013-01-17 02:58] #3370 closed, assigned to JonFerraiolo

[2013-01-17 02:59] peller commented on #3556
->M10

[2013-01-17 03:16] peller commented on #3208
@rbackhouse ok to close this?

[2013-01-17 04:42] #3238 closed, assigned to peller

[2013-01-17 15:28] peller opened #3661 "DavinciPageServlet.initialize() vars unused?"
This method is called in doGet, yet the vars aren't used.  Instead, getUserManager, getServerManager, etc. are called repeatedly.  Was there a memory leak or some reason not to use these vars?  Should clean up this code.

@jhpedemonte

[2013-01-17 19:08] rbackhouse commented on #3208
Yes I think so

[2013-01-17 19:08] #3208 closed, assigned to rbackhouse

[2013-01-17 22:12] JonFerraiolo opened #3662 "Rename Normal state to Background state in page editor"
With recent UI changes to states/scenes palette, it makes more sense to rename "Normal" to "Background", but for the page editor only.

[2013-01-17 22:24] JonFerraiolo commented on #3662
Coding is completed with this commit 5bd80ce095f9265328d60f6cba6b404870e415a2, won't close until docs and test plan are updated.

[2013-01-18 15:10] billreed63 opened #3663 "Can see more that 4 reviewers on add reviewers pane"
When I create a new review and add more that 4 reviewers to  the list of emails in the add review pane of the wizard is not scollable

[2013-01-18 15:28] JonFerraiolo opened #3664 "Clean up hardcoded strings 'Normal' and 'Background'"
@billreed63

In branch NormalToBackground I tried to clean up some of the code where he have hardcoded the string 'Normal' in many places in the code. I wanted to replace "Normal" with "Background" in the page editor (to match the various states-related changes

The difficulty is that we have hardcoded 'Normal' in both the page editor and the theme editor, and they have different meanings in each.

[2013-01-18 21:21] peller commented on #3189
Note that as of Dojo 1.8, the [auto require](http://livedocs.dojotoolkit.org/dojo/parser#auto-require) feature makes it unnecessary to explicitly require modules for declarative widgets.  This could make our script declaration block in our generated code much simpler and reduce the complexity of code on Context.js which maintains it.

@jhpedemonte @JonFerraiolo

[2013-01-18 21:22] peller commented on #3583
Necessary to take advantage of [auto require](http://livedocs.dojotoolkit.org/dojo/parser#auto-require) in Dojo 1.8+.  See #3189

[2013-01-18 21:33] jhpedemonte commented on #3583
No, it was auto-generated once, in order to get the JSON metadata files.  But now just directly edit the JSON files themselves.

[2013-01-18 21:44] #3074 closed, assigned to peller

[2013-01-18 21:56] peller commented on #2184
still happens with Dojo 1.8.3

[2013-01-18 23:01] JonFerraiolo commented on #3521
See https://github.com/maqetta/maqetta/commit/6108f37f3d0d1f5f2be884c554ffd300759bfd1f#commitcomment-2462855

[2013-01-19 01:12] #2184 closed, assigned to peller

[2013-01-19 15:48] #3511 closed, assigned to peller

[2013-01-19 15:52] #3606 closed, assigned to jhpedemonte

[2013-01-20 05:19] #2051 closed, assigned to JonFerraiolo

[2013-01-20 05:34] #305 closed, assigned to JonFerraiolo

[2013-01-20 06:08] JonFerraiolo commented on #2444
Closing after submitting test plan for new features added to address this issue.

[2013-01-20 06:08] #2444 closed, assigned to JonFerraiolo

[2013-01-21 23:01] JonFerraiolo opened #3665 "2-click action on Circle after polyline causes Circle to appear too soon (and off to left)"
- New hi-fi sketch
- Click on polyline widget in widget palette
- Click twice on canvas in different spots to make a 1-segment polyline, then click on again on one of the nobs to complete the polyline
- Click on the Circle widget in widget palette

Result=> A circle is added immediately to the canvas, even before clicking on the canvas (at least this is happening on Mac/FF)

[2013-01-22 01:24] JonFerraiolo opened #3666 "Improve UI for gridx"
@jinsil @billreed63

One of our non-programmer users says that gridx is really hard to edit. We did put some effort into making a nice UI for gridx, but it sounds like we need to put in more effort. Maybe we need to put an editable gridx in the popup dialog instead of using a CSV approach for the dummy data.

[2013-01-22 01:26] JonFerraiolo opened #3667 "Thoroughly test gridx (gridx data sometimes disappears)"
One user reports:

I had a table with 6 columns and when I would go to edit it, either the edit field would be empty or it would have a few of the columns listed, but not all. So I had to keep typing them in and then moving them over to the right select list. This happened for 75% of the time I was working on the prototype. Then suddenly it saved all of my columns. I don't know what I did differen

[2013-01-22 01:29] JonFerraiolo opened #3668 "Bulletproof to prevent users from detaching ContentPane from Accordion, TabContainer or BorderContainer"
One user reports:

At one point I separated the content pane of an accordian from the rest of the accordian widget. So I could see both, but the content pane was shifted over so I couldn't see all of the content on there. I was about to recreate the widget, but the next time that I came back to it (I don't remember if I just refreshed the browser or closed the bat file and came back in (it was ove

[2013-01-22 01:48] JonFerraiolo opened #3669 "Upload dialog UI improvements"
@jinsil

Replacement for #591

One of our users says:

In the upload dialog, after the file is uploaded the only button available is Cancel. This confused me many times of whether the file had been uploaded. Once I saw a success message display and then disappear, but just once in the dozen or so that I uploaded (I uploaded them in 1s and 2s as I needed them).

At least three small-scale UI fixes

[2013-01-22 01:48] JonFerraiolo commented on #591
Closing this. Replaced by #3669

[2013-01-22 01:51] #591 closed, assigned to JonFerraiolo

[2013-01-22 01:52] JonFerraiolo opened #3670 "Some additional clipart icons"
@jinsil
- Refresh
- Edit
- Status indicator
- Import
- Progress bar
- Warning, error & info icons
- Delete

[2013-01-22 01:56] JonFerraiolo opened #3671 "Some way users can create custom clipart that appears in clipart section of widget palette"

[2013-01-22 02:01] JonFerraiolo opened #3672 "Search capability for existing widgets"
One user says:

It would be nice to search on objects that I've created. I created a sticky note, hid it, but then couldn't find it (I think I must have deleted it but there is also the chance that it was embedded in another object).

I responded:

Yes, this is clearly something we need to address. Now that Maqetta is actually usable, people will create more and more complicated mockups, and it is

[2013-01-22 02:44] JonFerraiolo opened #3673 "Easy ability for non-programmers to add rows to table or grid (feature or docs)"
One of our users says:

One thing I was trying to do was show how an "add" function would add content to a row in the grid. I thought about creating another state, but then I'd have to maintain at least two tables and as I thought thru the flow that would have made it tough for me to maintain as well as time consuming for me to put together. I'm sure it can be programmed, but since I'm not a coder

[2013-01-22 11:36] davide-malagoli opened #3674 "dojox.calendar missing?"
Using maquetta, with dojo library, it says that the version used is 1.8, but dojo library is missing dojox.calendar.Calendar, that is a new widget from this dojo version.

There's some way to add the widget in any way?

[2013-01-22 19:20] JonFerraiolo opened #3675 "File tab should show asterisk to right side, as superscript"
@jinsil

![file_tab_dirty](https://f.cloud.github.com/assets/706721/87562/aecd827c-64c8-11e2-9712-a150256287e2.png)

[2013-01-22 19:21] JonFerraiolo opened #3676 "Consolidate two glowing icons on Scenes palette into eyeball icon"

[2013-01-22 19:21] JonFerraiolo opened #3677 "New toolbar icons for Scenes palette"

[2013-01-22 19:25] JonFerraiolo opened #3678 "Close a file with changes: ask yes, no, cancel"
@jinsil

![dirty_file_yes_no_cancel](https://f.cloud.github.com/assets/706721/87576/6847764a-64c9-11e2-9158-d069a3f3d3e6.png)

[2013-01-22 19:28] JonFerraiolo opened #3679 "Add a cancel button to Rename state UI"
@jinsil

![rename_cancel](https://f.cloud.github.com/assets/706721/87591/d5eaa2c6-64c9-11e2-8d3d-595c502491ac.png)

[2013-01-22 21:45] JonFerraiolo opened #3680 "Improve UI for settting initial state"
@jinsil

The current UI for setting the initial state is clumsy.

[2013-01-22 22:07] JonFerraiolo commented on #3676
Fixed by 620f8464505917be219073c24b3adecb9dd46a39

[2013-01-22 22:07] #3676 closed, assigned to JonFerraiolo

[2013-01-23 04:07] arvindnama opened #3681 "Custom Widget creation using Maqetta"
Currently i dont see a way to create a custom Widget using _WidgetBase of Dojit ..
And there is no provision for dragging and custom  Widgets into main Page which we are designing

[2013-01-23 14:58] peller opened #3682 "Escape characters in download filename as necessary"
In afb190fe064bbafdd0e2d5624378f70306db5598 validation is performed to only allow simple filenames.  Non-ASCII characters should be accommodated in file names.

[2013-01-23 15:24] billreed63 opened #3683 "Only one shape widget can be selected at once with area select"
I am attempting to use the selection box to select multiple widgets on the following page

[code]

With the mouse positioned to  to the left and above and item in the I click and hold left mouse button and get the dotted box. I drag the box so it encompasses my widgets, but when I release the mouse button none are selected.

[2013-01-23 15:28] billreed63 opened #3684 "Copy and past clip art text widget does not copy text"
Wit the following html, select Item 2 and then ctrl C, ctrl V. When the copied text widget is added to the page the text is missing only a small selection box shows that the widget was copied.

[code]

[2013-01-23 15:46] billreed63 opened #3685 "Clip art added to a sketch when a state is selected should default to visibility for that state"
I created a Lo-fi sketch and added some Drawing and clip art to background state.
Then I added two states item_one and item_two.
I selected the item_one state  changed the visibility of all items to hidden.
I then added more items to the canvas while in state item_two.
I switched state to background and all my widget from state item_two are still visible.
I expected them to be hidden.

[2013-01-23 16:04] billreed63 opened #3686 "Review should use LDAP lookup for email is using LDAP auth"
When we are using LDAP for authorization we should ldap look up for type ahead to add reviewers address

[2013-01-23 18:29] billreed63 opened #3687 "Can not add line or rectangle to review comment"
I have created two low fi sketch pages the pages are below:
file9.html

[code]

cart.html

[code]

file9.html has a cart in the company banner when the user clicks on the cart icon the cart.html page is loaded

I then created a review for file9.html, then the review clicks on the cart icon the review tab contents change to the cart.html but if I add a comment I am unable to add an arrows or boxes

[2013-01-23 18:52] JonFerraiolo opened #3688 "Area select broken if page is scrolled"
- Make browser window as tall as possible
- New sketch
- Drag any widget towards bottom of canvas
- Make browser window half as tall so that the widget is out of view
- Scroll canvas to make widget appear
- Try area select around the widget

Result => Doesn't work

[2013-01-23 19:27] peller opened #3689 "Open subfolder in Orion results in chaos"
Within a top-level folder like "project1", create a new folder ("New Folder") then another folder within that ("New Folder")  Select the new folder and choose "Open in Maqetta"

Maqetta opens with a parameter like ?project=project1/New Folder/New Folder  This creates a new project structure under that folder, and in the Files view, the dropdown shows that you are in a new project named "New Folder

[2013-01-23 19:29] peller commented on #3689
I'm not clear exactly what should happen in this case, whether it should just look to the top-level directory and open Maqetta in that project?

Either way, the REST API should probably not allow paths for the project parameter.  It sounds like we have assumptions throughout the codebase that projects are top-level entities.

[2013-01-23 19:30] peller opened #3690 "Source->Design selection is broken. Again."
In split view, click in source view within a widget's HTML.  The widget is not selected in design view.

[2013-01-23 19:33] peller commented on #3690
see #788, perhaps others.  Wonder if this has to do with clearing the undo stack #3074?

[2013-01-23 20:37] JonFerraiolo commented on #3683
Changed title to "Only one shape widget can be selected at once with area select" instead of "Unable to select widgets with selection box" because the unable to select is probably an area-select problem when the canvas is scrolled (captured in #3688).

[2013-01-23 20:39] #3683 closed, assigned to JonFerraiolo

[2013-01-23 20:47] #3688 closed, assigned to JonFerraiolo

[2013-01-23 20:49] JonFerraiolo commented on #3687
The correct fix for this might be having the R/C code intercept the hyperlink command and replace it with a call to open the other file as a new review editor.

[2013-01-23 20:57] JonFerraiolo commented on #3685
I'm going to close this issue - it's a user education issue - software working as designed.

In previous releases, whenever you added a widget, it always went to the Normal state. When I updated the states logic for M9, I didn't want to change that behavior partly because I didn't want to confuse our existing users with radically new behavior, and also my sense is that it is a better default that

[2013-01-23 20:57] #3685 closed, assigned to JonFerraiolo

[2013-01-23 21:21] #3684 closed, assigned to JonFerraiolo

[2013-01-23 23:49] JonFerraiolo commented on #3690
I don't see how the fix for #3074 would impact the interaction between source view and design view.

[2013-01-23 23:53] JonFerraiolo commented on #3690
I took a second to put a breakpoint in Context.js:select() to see if the code ever gets to that routine when you click on the source code corresponding to a widget, and the debugger never gets to the breakpoint.

[2013-01-24 01:40] peller opened #3691 "500 error getInitializationInfo needs UI"
for example, if loading from a war, but siteConfig info is not provided, the login will bomb out with this error.  Needs to be surfaced through the HTML page somehow.  Right now, you see an empty page and the error appears only on the console.

[2013-01-24 04:03] peller commented on #3690
Well, I did a search back in git, and it did indeed break with this checkin: 6108f37f3d0d1f5f2be884c554ffd300759bfd1f  However, if I revert the change, it doesn't work!

My best guess was that something with the command stack triggered a clearing of the selection (though I don't think clear does that)

[2013-01-24 15:25] JonFerraiolo commented on #3690
Here is the full source code for the `clear` function in CommandStack.js:

[code]

Hard to conceive how calling `clear` could impact selection!

[2013-01-24 15:34] peller commented on #3690
@JonFerraiolo there's always that connect code, you know...  execute triggers all sorts of things.  clear doesn't, though perhaps it ought to.

[2013-01-25 14:50] peller opened #3692 "Keyboard Navigation with area select doesn't always work on ComboBox"
Drag a Dijit ComboBox on the page

Drag a rectangle around/over the widget.  If you drag right to left and go over the text "Item 1" in the combobox, it will select the text.  Now try to move with arrows.  The up and down arrows will instead activate the combobox dropdown.

[2013-01-25 15:04] billreed63 opened #3693 "Can not add any widgets to dojox.mobile.GridLayout"
1) Create mobile page
2) Add scrollable view
3) Add mobile GridLayout
4) Add mobile button to GridLayout cell

Notice button is added outside of grid, I am unable to put it in the grid cell

[2013-01-25 16:46] billreed63 opened #3694 "Review and commenting link wrong in email for war deployment"
When I create a new R&C the email that is sent has the wrong link

[code]

The correct link in this context is

[code]

[2013-01-25 16:49] JonFerraiolo opened #3695 "Review URL doesn't come up successfully after clicking hyperlink"
@peller @jhpedemonte @billreed63

On Mac/FF, Maqetta did not successfully open a review URL via clicking on the hyperlink in an email. The review editor does not seem to initialize properly. I have been seeing problems in this area the past couple of weeks but haven't had time to scope out the problem.

I've seen problems such as the Properties palette from the page editor are still visible (vs sh

[2013-01-25 17:06] JonFerraiolo opened #3696 "(WAR) New project fails"
In the WAR build, if you issue a New Project command, Maqetta disappears and the following appears in the browser:

[code]

[2013-01-25 17:11] JonFerraiolo opened #3697 "(WAR) Modify libraries, download entire workspace - HTML files don't open"
@peller @billreed63

Set to Priority-Critical because it appears to be a WAR regression - feel free to downgrade the priority after seeing this issue.

In testing Modify LIbraries, I changed all four of the libraries from `/lib` to `mylibs`, downloaded my current project, installed into XAMPP htdocs, and then attempted to open one of my HTML files in a browser. I got an empty browser window, and t

[2013-01-25 17:16] billreed63 opened #3698 "Layers deleted when review stopped"
When the user stops the review all the layers (circles, lines, etc... ) assoicated with comments are lost...

1) Create html,, and add widgets
2) create review,
3) have a review add a comment with some kind of layer (add a circle from the comment toolbar)

Open the review, you should see the review comment with the layer on it.
Now stop the review, notice that the circle is removed from the review

[2013-01-25 17:18] JonFerraiolo opened #3699 "document.css sometimes not getting (re-)added after source changes"
@billreed63

Logging an issue for myself to try to come up with a reproducible case.

Today, after making source changes, in the design pane the wrong font was appearing in the Dojo widgets. After saving, closing and reopening, the right font appeared in the widgets. This is usually an indicator that document.css wasn't loaded properly.

But when I tried to reproduce just now, I couldn't.

[2013-01-25 17:20] billreed63 commented on #3698
I just noticed that if you close the review and reopen the layers are displayed, so it appears to be a redraw issue

[2013-01-25 17:43] JonFerraiolo opened #3700 "Pasting HTML results in empty design view"
Worked with latest maqetta.org / external build, but not with WAR build.

Steps:
- New desktop app
- Go to source view
- Replace source contents with HTML file shown below
- Go to design view
- Save
- SaveAs some other name

Result=> A new editor appears an empty canvas. If you close and reopen the new
file (the result of the SaveAs command), it is still empty.

Source code:

[code]

I'll investig

[2013-01-25 17:44] JonFerraiolo opened #3701 "(WAR) Orion Navigator command doesn't work on WAR build"
I tried Open->Orion Navigator and got a Tomcat error message:

[code]

[2013-01-25 17:46] JonFerraiolo opened #3702 "(WAR) Theme editor hangs on open with WAR build"
@jhpedemonte @peller

(Note: works with maqetta.org / external build)

I'm running Mac/FF. Using the WAR build, when I try a Create->Theme command
cloning claro, the spinner just keeps spinning. The network panel shows this
message:

[code]

[2013-01-25 18:02] billreed63 commented on #3702
mobile theme editor has similar issue

[2013-01-25 18:07] jhpedemonte commented on #19
Here's what I had to do to manually create a working M9 WAR:
1. Built a WAR file from the [M6-war branch](https://github.com/maqetta/maqetta/compare/master...M6-war).
2. Built an M9 nightly from the [orion-war branch](https://github.com/maqetta/maqetta/compare/master...orion-war) (no WAR is built, just a regular standalone build).
3. In the WAR, copy in the following files:
   - Replace all of `/W

[2013-01-25 19:05] JonFerraiolo opened #3703 "SaveAs with this file intermittently shows empty page"
@peller @jhpedemonte

While running the test plan, I created the file below. When I did these steps:
- New desktop app
- Source view
- Paste source code below
- Design view
- Save, close, reopen
- SaveAs some other name

Then, intermittently, the SaveAs operation will replace the current editor with a blank page, with source code view showing a blank new document. There are no messages in console

[2013-01-25 19:12] peller commented on #3700
When pasting this buffer, bugzilla messed up something in the source, exposing a different bug.  Now, when pasting the contents and switching back to design view, the page ends up empty, with some problem during parsing and no visible errors.  You don't even get to the save as step.

See #3703 for the original bug

[2013-01-25 19:14] peller commented on #3703
It's a long shot, but we should test this in the [davinciRuntimeGlobal branch](https://github.com/maqetta/maqetta/compare/master...davinciRuntimeGlobal) which removes references to the davinci.Runtime global

[2013-01-25 19:38] JonFerraiolo opened #3704 "(WAR) Session timeout -> welcome page -> Tomcat error page"
My session timed out in the WAR build, and I got redirected to https://maqetta-test.austin.ibm.com:60000/maqetta/welcome` instead of `https://maqetta-test.austin.ibm.com:60000/maqetta/welcome`

[code]

[2013-01-25 19:38] JonFerraiolo commented on #3704
@billreed63 @peller

[2013-01-25 19:58] billreed63 commented on #19
#3702 change theme editor to use relative url

[2013-01-25 20:17] jhpedemonte commented on #19
Adding long strings of "../../../.." to handle URLs is inconvenient.  A couple of options come to mind:
1. Make the standalone, Jetty-based build also have a "/maqetta" context, such that all URLs start with that (including the Orion ones -- not sure how that would work out).  This would also have the benefit of removing the "/maqetta/maqetta/..." duplication we have now.
2. Make the context varia

[2013-01-28 21:06] billreed63 commented on #3704
Fixed by the above commit's in the latest build

[2013-01-28 21:06] #3704 closed, assigned to billreed63

[2013-01-28 21:08] billreed63 commented on #3411
fixed by above commits

[2013-01-28 21:08] #3411 closed, assigned to billreed63

[2013-01-28 22:06] billreed63 commented on #3702
Fixed by above commits

[2013-01-28 22:06] #3702 closed, assigned to billreed63

[2013-01-28 22:43] #3694 closed, assigned to peller

[2013-01-29 02:33] peller commented on #3695
-> @peller

[2013-01-29 03:19] #3695 closed, assigned to peller

[2013-01-29 14:28] jhpedemonte opened #3705 "Fail early if siteConfig not found (and for other errors)"
Currently, if **maqetta.siteConfigDirectory** isn't set correctly, or is set to a dir that doesn't exist or to which the process doesn't have access, a user won't notice that until he/she logs in and Maqetta hangs.  If they know where to look, they may see the stack showing an error in **GetInitializationInfo.java** -- but since that doesn't really mention **siteConfig**, they won't know what to d

[2013-01-29 14:28] jhpedemonte commented on #3705
-> @peller

[2013-01-29 14:36] peller commented on #3645
closing for lack of activity.  please reopen if this still occurs.

[2013-01-29 14:36] #3645 closed, assigned to nobody

[2013-01-29 14:38] peller commented on #3674
-> @jhpedemonte

[2013-01-29 14:39] peller commented on #3705
I think the problem is that we do fail early, but we fail silently.  dup of #3691

[2013-01-29 15:10] billreed63 commented on #3705
These are site configuration issues, that can not be addressed by the average user, I would suggest that we need administration pages that the site administrator would use to check the health and proper configuration of the server.
The user could login to this page and this page/code would integrate the site configuration.
@JonFerraiolo

[2013-01-29 15:12] billreed63 commented on #3691
These are site configuration issues, that can not be addressed by the average user, I would suggest that we need administration pages that the site administrator would use to check the health and proper configuration of the server.
The user could login to this page and this page/code would integrate the site configuration.
@JonFerraiolo

[2013-01-29 15:20] jhpedemonte commented on #3705
I don't think this is a dup of #3691 -- I'm talking about failing on the server side, so the person who is setting up the server knows that something is wrong.

I agree with Bill that surfacing this error on the client side isn't the right thing to do.  However, we should have some general "Server is misconfigured.  Please contact the admin." error on the client, rather than silently hanging.

[2013-01-29 15:49] peller commented on #3705
Agreed.

[2013-01-29 17:47] jhpedemonte opened #3706 "Add msg that email is required, for hosted build registration page"
We have a lot of people that try to register using non-sensical email addresses.  We should add text to the registration page which states that users must provide a valid email in order to register their account.  Also, that the user should check the entered email carefully:  I see a lot of "hotmial.com" and "gamil.com" mispellings.

Something like that?

[2013-01-29 18:03] peller commented on #3674
@jhpedemonte I take back what I said to you... The [`patternset`](https://github.com/maqetta/maqetta/blob/master/releng/davinci.releng/widgetPlugin/widgetPluginDojoBuild.xml#L187) in the build includes `dojox/*` but does not exclude `dojox/calendar` so that shouldn't be the problem.

[2013-01-29 19:20] JonFerraiolo commented on #3706
![Screen Shot 2013-01-29 at 11 19 36 AM](https://f.cloud.github.com/assets/706721/108305/e3c511a4-6a48-11e2-9072-765c14922823.png)

[2013-01-29 19:23] #3706 closed, assigned to JonFerraiolo

[2013-01-29 19:51] JonFerraiolo commented on #291
Closing this - the Manage States dialog now shows the list of states where the currently selected widget is visible

[2013-01-29 19:51] #291 closed, assigned to JonFerraiolo

[2013-01-29 20:06] #3691 closed, assigned to jhpedemonte

[2013-01-29 20:07] JonFerraiolo commented on #2052
Closing. This was fixed by re-implementing Rectangle as a DIV.

[2013-01-29 20:07] #2052 closed, assigned to JonFerraiolo

[2013-01-29 20:07] jhpedemonte opened #3707 "Make "hosted" part of build configurable from base build"
Currently, we create 2 builds: one for the "base" build and one for the "hosted" build.  The only difference is that they each use a different authentication method -- the latter requires that the user verify their email address before creating an account.

We should merge these two auth plugins into one and make the "hosted" part configurable, from _maqetta.conf_.

@JonFerraiolo

[2013-01-29 20:09] JonFerraiolo commented on #2175
Closing this. We did the UI makeover for the widgets palette in M8.

[2013-01-29 20:09] #2175 closed, assigned to JonFerraiolo

[2013-01-29 21:39] JonFerraiolo commented on #2712
Closing this. I'm pretty sure this was fixed when I moved the search box into the Toolbar area. (Previously, it was in the widget list area.)

[2013-01-29 21:39] #2712 closed, assigned to JonFerraiolo

[2013-01-29 21:58] #3701 closed, assigned to jhpedemonte

[2013-01-29 22:30] JonFerraiolo opened #3708 "First line of source editors for *.js and *.css clipped in Win/FF"
Probably will want to ship M9 with this, but putting at Prio-Med nonetheless.

When I double click on app.css or app.js in Win/FF, the first list is clipped. Maybe it's obscured by the gray box that surrounds the visual page editor.

[2013-01-29 22:34] JonFerraiolo opened #3709 "Double-click on file in "Open File..." dialog => dialog doesn't close"
- Open -> File...
- In dialog, double-click on app.css

Result => app.css does indeed open, but the dialog doesn't close.

[2013-01-29 23:39] JonFerraiolo commented on #3054
Fixed in M9 due to rewriting some of the guts of the shapes.Line widget (which is now mostly just a DIV)

[2013-01-29 23:39] #3054 closed, assigned to JonFerraiolo

[2013-01-29 23:49] JonFerraiolo commented on #2282
This was fixed in M8 as part of widget palette makeover. Closing.

[2013-01-29 23:49] #2282 closed, assigned to JonFerraiolo

[2013-01-30 14:46] peller opened #3710 "References to 'top' prevent maqetta from running in an iframe"
Pretty far-fetched, I know, but I ran into this browsing to a review link in iNotes, where the link is followed in-place in an iframe.

References to the global "top" may result in a security exception if Maqetta is embedded in an iframe and the "top" is therefore some other document in another domain (like iNotes)  I hit this first in shouldInitialize in appStates, but we probably have many refer

[2013-01-30 15:00] peller opened #3711 "Should Open -> "Theme Editor..." be "Open-> "Theme..."?"
would seem to be a better match with the Create -> Theme... menu pick

[2013-01-30 15:33] davide-malagoli commented on #3674
Don't know what to say. I can try to build maquetta too and try to see what ant is doing.

Once I download the source, is there a main script to do the build or just an ant file somewhere?

[2013-01-30 15:54] jhpedemonte commented on #3711
Yeah, I like the consistency.

[2013-01-30 15:55] jhpedemonte commented on #3710
Yes, we should clean these up.  Relying on `top` can be sloppy and lazy -- better to be direct and more strict, by using `parent`, etc.

[2013-01-30 16:56] jhpedemonte opened #3712 "Cannot render in Visual Editor after parse error"
While investigating #3674, I created a file with the source below.  This file fails to load in the VE because we don't have the dojox/calendar/Calendar.js file in our dojox library.

But if I close and try to reopen the file, it hangs on **Loading...** in the VE.  I tried to switch to the source editor to make changes, but there was no change -- the editor was hung because of the error trying to l

[2013-01-30 17:10] peller commented on #3712
A quick look at this shows that the dojo/parse completes successfully, that is, the Deferred returned by the parse invocation in Context._processWidgets calls its `then` clause, despite the 404.  However, the loader in the document either did not seem to load to completion or it is in a bad state, since subsequent calls like require("dojo/dom-style") fail.

This is the exception emitted on the ini

[2013-01-30 17:12] peller commented on #3674
The ant/build script isn't the issue.  It seems that the git repository mirror we use of Dojo's svn does not have the dojox/calendar code, probably because dojox/calendar itself is linked in through an external repository.  I will report this to the community.

[2013-01-30 17:34] jhpedemonte commented on #3674
@davide-malagoli Given that we don't have that widget's code files in our library, I tried to just set it in the source editor.  Unfortunately, that exposed another bug (#3712).  So with the current code, this just won't work.

If you need to use this widget now, you could add a placeholder while in Maqetta and work on the rest of the page.  Then, after exporting the source, you can edit the page

[2013-01-30 18:11] #3696 closed, assigned to jhpedemonte

[2013-01-30 18:20] peller commented on #3674
see http://bugs.dojotoolkit.org/ticket/16645

[2013-01-30 18:50] billreed63 opened #3713 "Cascade not working for mobile themes in war deployment"
Cascade not working for mobile themes in war deployment

[2013-01-30 18:52] billreed63 commented on #3713
Uncaught TypeError: Cannot call method 'getParentFolder' of undefined davinci.js:61500
Theme.getThemeByCssFile davinci.js:61500
_c0e._getThemeMetaDataByWidget davinci.js:15958
_c0e._getDefaultSelection davinci.js:15974
_c0e._getAllRules davinci.js:15586
_c0e._buildCssRuleset davinci.js:15671
_c0e._updateCascadeLi

[2013-01-30 21:17] #3713 closed, assigned to billreed63

[2013-01-30 22:54] jhpedemonte commented on #3703
I just ran into this, also on FF/Mac.  I had a simple mobile app page (in a subfolder), with a ScrollableView, textbox and tabbar.

Did "save as" and the resulting file had no content.  Switched to source, and the expected content wasn't there -- it was basically a new, empty page.

Reopened the original file and again did a "save as".  This time it worked correctly.

[2013-01-31 01:11] peller commented on #3712
there are a few problems here.  One is that dojo/parser/parse, by design, fails to instantiate any widgets if even one is bad.  That's not unreasonable behavior, and even if we were to patch it to continue processing other widgets, we'd still be subject to user errors in the source editor which produce invalid markup, not just bad data-dojo-types.  Parsing with tolerance for errors is hard.

Beyon

[2013-01-31 02:14] jhpedemonte commented on #19
Also see commits 47bcb545fd2a621af7ac318ced50afee1a7d6381, 9d2b7ea6d0fbf491bcfa4f5b2615d5e04a57388b, 6907d51776242fdb432145798b2c76319a09cef7, 9d0e7b53c5e5cb3dcd09c33dc91674bc03c70c4b.

[2013-01-31 03:38] jhpedemonte commented on #3546
-> M10, assign to @JonFerraiolo for now.

[2013-01-31 03:39] jhpedemonte commented on #3388
-> M10, assign to myself.

[2013-01-31 03:41] jhpedemonte commented on #3373
We haven't had time for this and this isn't really a priority for us at the moment.  There are some docs on wiki which provide some details on how the widget libraries are structured, if you want to take a look.

[2013-01-31 03:42] jhpedemonte commented on #3537
-> M10, assign to @peller for now.

[2013-01-31 03:43] jhpedemonte commented on #3451
Going to push this to "future" milestone.  We may end up replacing the Files view entirely with that of Orion.

[2013-01-31 03:43] jhpedemonte commented on #3412
-> future

[2013-01-31 03:44] jhpedemonte commented on #3363
-> M10, @JonFerraiolo

[2013-01-31 03:45] jhpedemonte commented on #3349
-> M10

[2013-01-31 03:46] jhpedemonte commented on #3293
-> M10

[2013-01-31 03:46] jhpedemonte commented on #3283
-> M10, @peller

[2013-01-31 03:46] jhpedemonte commented on #3029
-> M10, @peller

[2013-01-31 03:47] jhpedemonte commented on #3006
-> M11

[2013-01-31 03:48] jhpedemonte commented on #2734
-> M11, @billreed63

[2013-01-31 03:48] jhpedemonte commented on #2638
-> M11, @billreed63

[2013-01-31 03:51] jhpedemonte commented on #2118
This has already been fixed, in M8 I believe.

[2013-01-31 03:51] #2118 closed, assigned to nobody

[2013-01-31 03:52] jhpedemonte commented on #1994
-> future

[2013-01-31 03:54] peller commented on #3712
Removing the dojo/ready call in Context.js seems to get around the problem.  There shouldn't be any need to wait for dojo/ready on subsequent parses.  Not sure we need it the first time, but if we do, we can make sure we call it the first time only.

[2013-01-31 03:54] jhpedemonte commented on #1081
-> M11.

Need to investigate using Orion for this (v2.0 will support drag/drop from desktop).

[2013-01-31 03:56] jhpedemonte commented on #3477
@JonFerraiolo, will this be an issue with tutorials?  If not, move this to M10.

[2013-01-31 03:56] jhpedemonte commented on #3476
-> M10/Med, @peller

[2013-01-31 03:57] jhpedemonte commented on #3362
-> M10, assign to myself.

[2013-01-31 03:58] jhpedemonte commented on #3191
-> M11.

@peller, you've recently been doing some cleanup.  Still more required?

[2013-01-31 03:59] jhpedemonte commented on #3619
-> M10

[2013-01-31 04:00] jhpedemonte commented on #3342
-> M10

[2013-01-31 04:08] jhpedemonte commented on #3607
-> M10

[2013-01-31 04:09] jhpedemonte commented on #3542
-> M10, @peller

[2013-01-31 04:15] jhpedemonte commented on #3274
This has already been fixed.

[2013-01-31 04:15] #3274 closed, assigned to jhpedemonte

[2013-01-31 04:18] jhpedemonte commented on #3165
Going to close this as "won't fix".  We already have an email.  Don't currently need more info.

@JonFerraiolo

[2013-01-31 04:18] #3165 closed, assigned to jhpedemonte

[2013-01-31 04:20] jhpedemonte commented on #2700
-> M10, @peller

[2013-01-31 04:22] jhpedemonte commented on #2440
What is the purpose of this bug?  What would need to be migrated?

Note that the M6->M7 migration was a special case since we were going to Orion backed workspaces.

[2013-01-31 13:07] peller commented on #3191
-> @peller

Yup.  I did the obvious stuff.  There are still a few FIXME's to remove code, and then we still ought to be able to factor out code by function and dependencies so modules have a clear purpose.

[2013-01-31 13:15] peller opened #3714 "Remove widget module require management code from Context.js"
@jhpedemonte @JonFerraiolo @billreed63

As of Dojo 1.8, `dojo/parser` now automatically requires widgets based on the `data-dojo-type` attribute.    We don't need to maintain a list in a require() block anymore.  This should simplify the generated user content as well as our Context.js code.

Need to consider migration issues, also whether zazl is able to support files without explicit requires.

[2013-01-31 13:16] peller commented on #3191
see also #3714

[2013-01-31 14:53] JonFerraiolo commented on #2440
-> @JonFerraiolo M10 - I have implemented a templates feature in a branch. Haven't finalized yet. If/when that feature ships, there will likely be a migration issue where we need to add another folder to existing user projects.

[2013-01-31 16:19] billreed63 opened #3715 "SpinWheelSlot layout error on reopening file"
With the following index.html

[code]

The about HTML requires a json file call weights.json with the following content:

[code]

Once these files are created and saved, open index.html, from the states palette select `#detilsView`
Save and close the file index.html
Reopen index.html note that the middle spinWheelSlot is visually a mess
![Screen Shot 2013-01-14 at 9 02 53 PM](https://f.cloud.githu

[2013-01-31 16:21] peller commented on #3715
see also #3584

[2013-01-31 17:39] peller commented on #3584
opened a [Dojo ticket](http://bugs.dojotoolkit.org/ticket/16652) to track this issue

[2013-01-31 17:49] jhpedemonte commented on #3477
Assign to @JonFerraiolo, so he can decide how to triage.

[2013-01-31 17:51] jhpedemonte commented on #3604
Feature request.  Moving further out into future.

[2013-01-31 17:52] jhpedemonte commented on #3552
-> M10 to investigate.

[2013-01-31 17:54] jhpedemonte commented on #3550
Also see #2734, which is a super-set of this.

[2013-01-31 21:15] #3468 closed, assigned to jhpedemonte

[2013-01-31 22:14] jhpedemonte opened #3716 "Single-user mode"
We should support a single-user mode, so that users that download Maqetta to run locally aren't required to register and log in.

Unfortunately, this requires changes to Orion.  But there may be some support for this using Orion's node.js server component (starting in Orion v2.0).

@JonFerraiolo @peller

[2013-01-31 23:57] aerwin commented on #3715
And, note this is a somewhat big deal since it's the HTML generated by Part 1 of my Maqetta article series and a lot of people have been reading and using that tutorial.

[2013-02-01 16:26] peller commented on #3705
We should now have decent error handling, an exception with a descriptive message, and some minimal error UI on the client so it's clear something is wrong.

The remaining issue is whether / how we force the error during install rather than waiting for the first Maqetta launch

-> M10

[2013-02-01 16:27] peller commented on #19
The war is working, more or less, but must be built manually.  @jhpedemonte will work on automating this in M10

-> M10

[2013-02-01 16:30] peller commented on #3715
b84ad250bb5ac3e92de765fd7b5dbbc9c947c502 put in a log message so we can tell if the monkey patch is in place.  Perhaps there's a timing issue with dojo/ready or some condition such that the patch isn't taking hold (result: message always fires, even when widget renders incorrectly)

[2013-02-01 16:34] peller commented on #3697
I am seeing what @JonFerraiolo reported, except that if I have multiple html files in a download, some are redirected to the correct location of the lib/maqetta files, some are not.  Note that maqetta/ and zazl/ are treated differently than the rest of the projects, due to the way they were excluded from the dialog.  They end up at mylib/lib instead of mylib/   When viewed in the workspace, the do

[2013-02-01 20:12] jhpedemonte opened #3717 "Upgrade to better server logging impl"
Currently, our server logging consists of System.out/.err.  We need a better implementation, especially one that works well in a servlet container (i.e. Tomcat).

Options:
- Use Orion's logging classes (see `LogHelper`).
- java.util.logging at a minimum
- Log4J

Assigning to myself for now, but @peller, feel free to take!

[Tomcat docs on logging](http://tomcat.apache.org/tomcat-7.0-doc/logging.ht

[2013-02-01 21:11] peller opened #3718 "Download files -> NullPointerException on server"
getLibRoots url command specifies libid and version, but not a 'base' argument. leads to server exception. No obvious side effects.

[code]

[2013-02-02 15:50] billreed63 opened #3719 "Can not create Maqetta Project from Orion in War environment"
Create Project from Orion

Steps
Login to Maqetta. Select Open > Orion Navigator to open Orion in a new tab.
In Orion, select New > Folder. Click to open the newly created folder.
Create another new folder here.
Select the new folder by clicking on the same line, but to the right of the folder text (the whole row should be highlighted). Select Actions > Open in Maqetta.
When Maqetta opens, verify

[2013-02-02 16:05] billreed63 opened #3720 "Orion not using correct authorization when LDAP enabled"
When using LDAP (at least in the War environment) if the user  log out of maqetta are redirected to the wrong log in..
1) Log into Maqetta
2) Log out of Maqetta
3) Navagate to the base context (in the war http//serever/maqetta

The user is redirected to mixloginstatic/LoginWindow.html instead of ldaplogin

[2013-02-02 16:09] billreed63 opened #3721 "can not Create New User as Orion Administrator in war environment."
Create New User as Administrator

Steps
Log out of Maqetta.
Load the URL http(s)://maqetta_base:port/profile/user-list.html (include "/context" if testing WAR build).
Login as user "admin". You should see a list of all registered users.
Click on Create User and create a dummy user.
Try to login as that user.
NOTE: You may want to use a different browser for the dummy user, so you don't have to log

[2013-02-03 14:24] jhpedemonte commented on #3719
Yes, Orion side of things are still broken when running from a WAR.

@peller

[2013-02-03 14:36] JonFerraiolo opened #3722 "Line exception on FF running tutorials"
When running through the Sketching and States tutorial, after saving and reopening the file, any attempt to select the Line widget generated this exception:

[code]

[2013-02-03 15:44] jhpedemonte opened #3723 "Cannot open theme editor on Claro clone"
Tried to create a new theme based on _claro_ on FF/OS X, but Theme Editor hung displaying "Loading".  This is with our WAR build.

Tried to close/reopen and even reloading Maqetta page, but the Theme Editor will not open.

In the FF console, I see:

[code]

That line corresponds to this:

[code]

@peller @JonFerraiolo

[2013-02-03 15:51] jhpedemonte commented on #3723
Hmm, I created a new project and was able to properly create a new theme.  Corrupted project?  What should I check?

(Personal note: corrupted project is "project1", working project is "testing_2013_02_03")

[2013-02-03 16:55] jhpedemonte commented on #3703
Ran into this again with latest WAR, running in FF/OS X.  After doing "save as", new file is opened but shows up blank.  Even the source showed the default, empty page source.  Closed new file and re-opened and everything appeared fine.

[2013-02-03 17:05] #3722 closed, assigned to JonFerraiolo

[2013-02-03 18:09] JonFerraiolo opened #3724 "Zazl preview fails with WAR build in Mac/FF"
@rbackhouse

I created a file with a TabContainer and a Button inside of the TabContainer, turned the zazl preference to on, then clicked the preview button. On Mac/FF, the preview is empty and the firebug console says this: (Note: haven't tried on Chrome)

"NetworkError: 404 Not Found - https://maqetta-test.austin.ibm.com:60000/_javascript?modules=dijit/dijit,dojo/parser,maqetta/space,maqetta/App

[2013-02-03 18:13] JonFerraiolo opened #3725 "Download error message if unsaved dirty files"
Just logging this for now. Haven't investigated fully, but here is what I did on Mac/FF:
- New Eclipse project
- New desktop app
- Added TabContainer and Button inside the TC
- Preview
- Click on download entire workspace

Result-> Console error messages having to do with file1.html.workingcopy

I clicked Save on file.html and tried again and no console messages.

[2013-02-03 18:31] jhpedemonte commented on #3720
To load Maqetta when running from a WAR, the user must load **http(s)://hostname/maqetta/maqetta**.

If the user instead goes to **http(s)://hostname/maqetta**, this loads Orion, which notices that the user is not logged in and redirects to the login panel.  Unfortunately, it's going to **mixloginstatic** instead of **ldaplogin**, as specified by the `orion.auth.name`.

[2013-02-03 18:33] jhpedemonte commented on #3720
I'm going to push this to M10.  We have enough Orion issues in the WAR environment as is, and this one is somewhat minor, given that a user can rectify it by going to the correct URL (bookmarks!).

@JonFerraiolo

[2013-02-03 18:34] jhpedemonte commented on #3720
Re-assigning to myself, given that it's in Orion.

[2013-02-03 18:37] jhpedemonte commented on #3721
This won't work when using LDAP or similar authentication features, since users are checked against an authorization server -- creating a user and password here won't work.

I'll update the test case to state that this will only work when Maqetta/Orion itself is handling the authentication.

[2013-02-03 18:47] #3721 closed, assigned to jhpedemonte

[2013-02-03 19:15] jhpedemonte opened #3726 "Accented characters in files/folders handled incorrectly (only WAR?)"
Steps:
1. Open dialog to create a new desktop or mobile app.
2. Set file name to "éclair.html".
3. Click on twisty to show files view and click on **New Folder**.  Set name to "ümlaut".  Click **Create** button.
4. Add some widgets to page, save, preview, close & reopen.  Should all work as expected.
5. Refresh Maqetta page and try to reopen new file

The new folder now displays as "Ã¼mlaut" and s

[2013-02-03 19:30] peller commented on #3690
reopen for M10.  Need to merge davinciRuntime branch

[2013-02-03 21:39] peller opened #3727 "Exception in updateStateIcons"
Not sure how to reproduce this, but I've seen this a couple of times closing a tab.  I had a css editor open, in case that's relevant.

[code]

_2e42 is null, which leads to an exception in byNode()

[2013-02-03 21:40] peller commented on #3727
_198.byNode (dijit.js:1614)
_2e03.updateStateIcons (davinci.js:65004)
ret.withDoc (dojo.js:6584)
_2e03.updateStateIcons (davinci.js:65002)
_2e03.initialize.subscribed (davinci.js:65202)
lang.hitch (dojo.js:4985)
_568.(anonymous function)._56d (dojo.js:6971)
on.emit (dojo.js:6159)
on.emit (dojo.js:6192)
_3fd.emit (dojo.js:5170)
publish (dojo.js:5241)
_591.publish (dojo.js:7141)
_28d7.onSelectionCha

[2013-02-03 21:40] rbackhouse commented on #3724
The 404 indicates that the mapping for /_javascript has not been registered. This is handled by the "maqetta.zazl" bundle. It would have to be in ACTIVE state for the registration to take place. Perhaps the WAR configuration is not ensuring its activated ?

[2013-02-03 21:44] peller opened #3728 "Tree folder sprite icons appear to be off by a pixel"
![Screen Shot 2013-02-03 at 4 44 13 PM](https://f.cloud.github.com/assets/46139/122333/e10993da-6e4a-11e2-8221-a9eb23dd1371.png)

[2013-02-03 21:59] peller commented on #3724
@jhpedemonte I don't get an osgi> prompt anymore.  How do we turn that back on?

[2013-02-03 22:16] jhpedemonte commented on #3724
@peller, edit the `WEB-INF/web.xml` in the WAR and add `-console` as stated in one of the comments.

[2013-02-03 22:42] jhpedemonte commented on #3720
Switch over to Orion, then click on **Settings** underneath your user name in the top right cornet.  Then display the **Plugins**.  Open the twisty for **Authentication**.  Notice that it is set to "FORM+OpenId" -- should be "LDAP".

[2013-02-03 23:28] JonFerraiolo commented on #3728
Which browser and which server are you running off of? I don't see it running the WAR version on Mac/FF.

[2013-02-04 00:13] peller commented on #3728
Mac/Chrome

[2013-02-04 00:53] peller commented on #3723
Able to do this fine on Mac/Chrome.  Any failures in the network panel?

[2013-02-04 14:07] peller opened #3729 "Save-as-widget fails with shapes"
Create a Rounded Rectangle.  Put a Dijit Button inside.  Select the Rounded Rectangle and choose "Save As Widget".

Find the new widget in the palette and drag it to the canvas.  The compound widget will appear in the design view, but in source, only the rectangle tag will be added to the document.  Close and re-open the document and you will only see a rectangle where your new compound widget was

[2013-02-04 14:19] peller commented on #3728
seeing similar behavior for the eyeball icon in the scenes palette

[2013-02-04 14:25] jhpedemonte commented on #3729
I could be wrong, but I think Brad only really got this working with Dijit widgets in the first pass.

[2013-02-04 14:40] billreed63 commented on #3723
The very first war file build had an invalid path to the dojo libraries, we corrected the path so now the theme editor opens. Check the path in the theme editor html.

I saw this same issue, but after correcting the path and using clean projects (projects that have been created after the first build) I have not seen the issue again.

[2013-02-04 15:11] jhpedemonte commented on #3604
After thinking about this some more, I'm wondering if we even want to support this feature.  My primary concern is how this would work if there are replies to the comment or new comments later in the stream which somehow reference this (now deleted) comment.

Due to this reason, I've seen many commenting systems that don't allow you to delete a comment, only edit.

@JonFerraiolo, what do you think

[2013-02-04 15:12] jhpedemonte commented on #3723
Yeah, I'm going to close this out as due to a corrupted project.

[2013-02-04 15:12] #3723 closed, assigned to billreed63

[2013-02-04 16:36] #3727 closed, assigned to JonFerraiolo

[2013-02-04 16:54] JonFerraiolo commented on #3729
Also fails if you have a ContentPane with a Button inside and go through same steps.

The workaround is to select the RoundedRect (or ContentPane), issue a "surround with DIV" command (which will select the DIV), and then do a Save As Widget on the DIV (and its descendants).

[2013-02-04 18:56] JonFerraiolo commented on #3728
I'm running the WAR version on maqetta-test using Mac/Chrome and I'm not seeing the shift. Below is a snapshot with a Tree widget on the canvas, and then a picture of the Scenes palette:

![Screen Shot 2013-02-04 at 10 54 07 AM](https://f.cloud.github.com/assets/706721/124749/61404c86-6efc-11e2-84aa-47bf1fdeb827.png)

The question is why you are seeing this. First question: are you running a relea

[2013-02-04 19:00] JonFerraiolo commented on #3728
Looking in debugger, here is what what I see when I look at one of the Tree icons in the Scenes palette:

[code]

If you are seeing this in Eclipse but not in a build, then my guess is that you have a different set of files in your Eclipse configuration than what we are using for our builds.

[2013-02-04 19:00] peller commented on #3728
I was running the war created by @jhpedemonte

[2013-02-04 21:07] JonFerraiolo commented on #3728
More questions:
- You running a war build locally or off of maqetta-test?
- Is your browser zoomed in or out?
- If you clear you cache and restart the browser, do things get better?
- Could you get into debugger Elements view and click on one of the bad tree icons and see what the values are for background-image and background-position?

[2013-02-04 21:45] peller commented on #3728
ok, it looks like it happened because my browser zoom was not 100%.  Some sort of rounding error, perhaps?

[2013-02-04 22:22] JonFerraiolo commented on #3703
I was able to reproduce just now fairly reliably in latest WAR from maqetta-test running Mac/FF, just like @jhpedemonte says. Couldn't make it happen on Mac/FF running from Eclipse, but doesn't mean it's not there too. When I tried a a simpler file on same configuration, save-as worked.

Too risky to attempt to fix in M9. Pushing to M10.

[2013-02-04 22:24] JonFerraiolo commented on #3700
Yes, the source code listed in this bug is messed up and needs to be replaced with a cleaned up version of source code.

Pushing to M10.

[2013-02-04 22:25] JonFerraiolo commented on #3662
Closing. Docs and test plan have been updated.

[2013-02-04 22:25] #3662 closed, assigned to JonFerraiolo

[2013-02-04 22:25] JonFerraiolo commented on #3652
-> M10

[2013-02-04 22:26] JonFerraiolo commented on #3667
-> M10

[2013-02-04 22:26] JonFerraiolo commented on #3677
Closing. New toolbar icons have been put into M9.

[2013-02-04 22:26] #3677 closed, assigned to JonFerraiolo

[2013-02-04 22:27] JonFerraiolo commented on #3687
-> M10

[2013-02-04 22:27] JonFerraiolo commented on #3698
-> M10

[2013-02-04 22:31] JonFerraiolo commented on #3644
Rectangles, circles and text have been rewritten with M9, and they now work inside custom widgets correctly. The only remaining problems are the line widgets (Line, Arrow, Polyline, Polyline Arrow).

-> M10

[2013-02-04 22:31] JonFerraiolo commented on #3640
-> M10

[2013-02-04 22:32] JonFerraiolo commented on #3639
-> M10

[2013-02-04 22:32] JonFerraiolo commented on #3632
-> M10

[2013-02-04 22:32] JonFerraiolo commented on #3631
-> M10

[2013-02-04 22:33] JonFerraiolo commented on #3628
-> @billreed63 to verify if he sees bug with M9

[2013-02-04 22:41] JonFerraiolo commented on #3728
I am 99% certain this is either a dojo bug or a browser bug and not a Maqetta bug (except in that Maqetta uses Dojo and the browser).

[2013-02-04 22:48] JonFerraiolo commented on #3585
@peller You ran into this usability issue today.

-> M10

[2013-02-04 22:50] peller commented on #3728
probably, though it does occur with at least one of our icons also.  Perhaps there's something about the sprite technique that makes it work for some and not others?  Ok with closing this or treating as extremely low priority

[2013-02-05 15:49] JonFerraiolo opened #3730 "TabBarButton icons don't show in Eclipse projects"
The default icons that we provide for TabBarButton (from samples/...) don't appear if the current project is an Eclipse project. My guess is that the path logic is adding an extra `../` into the path, probably comparing against the root folder rather than putting in the special case logic for Eclipse projects where we have to use WebContent as the root folder instead.

[2013-02-05 18:44] JonFerraiolo opened #3731 "Scenes palette - sometimes click-select doesn't actually update current state"
I just noticed a potential UI glitch in Scenes palette. I quickly clicked on one of my custom states and noticed that neither the eyeball icon moved to the highlighted state nor did the cascade listing in the Properties palette update to the new state. I'm not sure how Dojo can select a TreeNode and the Scenes palette not noticing. This issue is for me to study the code and see what might be going

[2013-02-05 18:51] peller commented on #3724
[code]

[2013-02-05 19:16] peller commented on #3724
stepping into the line

[code]

results in

[code]

We had talked about putting in a log there and checking for a null config file.  Something like that shouldn't fail silently or fail as a NullPointerException.

[2013-02-05 19:23] peller commented on #3724
@rbackhouse Looking athead at maqetta.zazl.Activator.register() line 94:

[code]

Should we be using a servletContext root instead?  For the war, the URL would have to match `/maqetta/maqetta/user/*.html`

[2013-02-05 19:28] rbackhouse commented on #3724
The OSGi bridge code should handle context root hookup. You don't want to have specify it in code otherwise a context root rename (e.g just by changing the name of the WAR) would be problematic

[2013-02-05 20:01] peller opened #3732 "Error opening multiple reviews"
review tab comes up blank, then clicking on add comment results in this exception:

[code]

@jhpedemonte @JonFerraiolo

[2013-02-05 20:06] jhpedemonte commented on #3724
That exception means that you haven't specified the .conf file as an environment variable.  Search for `orion.core.configFile` on the [server setup page](https://github.com/maqetta/maqetta/wiki/Server-Installation-and-Setup).

I think the servlet code is smart enough to handle that and separate the servlet context from the request path.  I think that code is fine as is.

[2013-02-05 20:06] peller commented on #3732
@jhpedemonte sent me this review.  There were two files open, foobar.html and file1.html.  this._cached only seemed to have an entry for file1.html (the one that rendered)  The other tab, where I tried entering the comment, was blank

[2013-02-05 20:20] jhpedemonte commented on #3732
The review should only contain _foobar.html_.  Was _file1.html_ something that you had open?

[2013-02-05 20:34] billreed63 commented on #3628
Works now

[2013-02-05 20:34] #3628 closed, assigned to billreed63

[2013-02-05 20:37] billreed63 opened #3733 "Theme editor subwidget check boxes missing on FF 17"
on FF when selecting a widget with subwidgets like calendar the subwidget list is displayed with checkboxes but then the checkboxes disapper and  I see the following in the console
"NetworkError: 404 Not Found - http://maqetta-app-test.austin.ibm.com/app/static/lib/dojo/1.8/dojo/resources/blank.gif"

[2013-02-05 20:39] peller commented on #3732
hrm, it probably was something from a previous review

[2013-02-05 20:41] jhpedemonte commented on #3733
How big is this for M9?  Push to M10?

@JonFerraiolo

[2013-02-05 21:06] JonFerraiolo commented on #3733
Normally a ship-stopper, but we've got to get the release out, so pushing this to M10. Maybe this is something we should fix in a dot release (if we have one)?

[2013-02-05 21:17] JonFerraiolo opened #3734 "SaveAsWidget problems with TabContainer and NumberSpinner"
@peller

I created the HTML file listed below, which has this hierarchy:

[code]

and then selected the DIV, did a Save-as-widget, then created a new HTML file and added the new custom widget.

Result=> tabs don't show in TabContainer, and spinners don't show on NumberSpinner.

Here is a picture of original:

![Screen Shot 2013-02-05 at 1 16 07 PM](https://f.cloud.github.com/assets/706721/129314/6

[2013-02-05 22:21] peller commented on #3733
Say no to dot releases.

[2013-02-05 22:57] billreed63 commented on #3733
So for some reason now that we have gone to a relative path in the dojo-theme-editor.html files when we use the context dojo of the theme file to add subwidget context menu dojo has the wrong bath for _blankGif.

[2013-02-05 23:08] peller commented on #3724
@rbackhouse Ok, resolved all my setup issues and I still get the 404.  The maqetta.zazl bundle appears to have loaded.  'ss' shows it as `ACTIVE`

http://pastebin.com/uQqD5xRS

[2013-02-06 01:06] rbackhouse commented on #3724
Can I download the war from somewhere ?

[2013-02-06 01:17] JonFerraiolo opened #3735 "Different port than 50000?"
50000 conflicts with DB2, and a good number of Maqetta users use DB2. Maybe we could pick a different port# by default?

[2013-02-06 01:56] billreed63 commented on #3733
Look for better solution for M10

[2013-02-06 12:25] rbackhouse commented on #3724
I think the issue now is that the context path is missing from the Zazl configuration written into the html by the filter. I have checked in some code that should prefix it now.

[2013-02-06 13:00] rudimk commented on #3373
Sounds great. I'll jump right in, in a bit. Thanks!

[2013-02-06 15:51] rbackhouse opened #3736 "Filters in Orion can sometimes override Zazl HTML filter in development environment"
Its seems that the order of startup affects whether the Zazl HTML filter is given preference to handling filter requests. If orion gets to register its filters first the Zazl Filter is ignored and the zazl optimizer is not involved in the request.

To overcome this the Zazl activator needs to specify a "filter-priority" init param when registering the filter.

[2013-02-06 17:32] peller commented on #3733
@wkeese, is the blank.gif still necessary in this widget or was it for old browser support?  It's a complication and an extra web hit I wish we could do without, but I'm sure it's there for a reason.

[2013-02-06 17:40] JonFerraiolo opened #3737 "Click on hyperlink in review editor confuses Maqetta"
@billreed63 - I thought there was an issue on this already, but I couldn't find it. Could you do a quick look at issues to see if you can find a dupe of this one?

If you have a hyperlink in an HTML file and create a review, and then in review editor you click on the link, the referenced page will show up in the review editor correctly, but the review editor still thinks it is managing the origina

[2013-02-06 17:57] billreed63 commented on #3737
I could not find the dupe maybe we did not open, it was due to the adding of files to the states, for example page one has a button and the onclick action is set to page2.

[2013-02-06 18:33] JonFerraiolo commented on #3737
The correct fix for this might be having the R/C code intercept the hyperlink command and replace it with a call to open the other file as a new review editor.

[2013-02-06 18:34] JonFerraiolo commented on #3687
Closing this as a dupe of a newer issue I created today: #3737

[2013-02-06 18:34] #3687 closed, assigned to JonFerraiolo

[2013-02-06 19:43] peller commented on #3732
cannot reproduce this.  seems to have been something from an old workspace.

[2013-02-06 19:43] #3732 closed, assigned to peller

[2013-02-06 20:46] wkeese commented on #3733
@peller, are you talking about dijit/form/CheckBox?   I don't see it using a blank.gif or an IMG tag at all.

Speaking in general, a lot of widgets use an IMG tag rather than a SPAN because it works well as an inline-block element.   But with an IMG you need to specify src or you get warnings/errors from some browsers.   I don't remember which ones though.    SPAN with style="display: inline-block

[2013-02-06 21:21] peller commented on #3710
see 28763243f3466b859495e2e47889634a4a7b4488

[2013-02-06 21:22] peller commented on #3690
davinciRuntimeGlobal branch merged in 28763243f3466b859495e2e47889634a4a7b4488

[2013-02-06 21:22] #3690 closed, assigned to peller

[2013-02-06 21:29] peller commented on #3733
@wkeese: @billreed63 informs me it's MenuItem's template, FWIW

[2013-02-06 22:20] jhpedemonte commented on #3443
Dupe to #3717.

[2013-02-06 22:20] #3443 closed, assigned to jhpedemonte

[2013-02-06 22:21] jhpedemonte commented on #2598
Dupe to #3717.

[2013-02-06 22:21] #2598 closed, assigned to jhpedemonte

[2013-02-06 22:22] jhpedemonte commented on #3717
From #2598:

[2013-02-06 22:25] jhpedemonte commented on #3101
-> M10 / @peller

[2013-02-06 22:26] jhpedemonte commented on #2982
This was fixed in M8 by @JonFerraiolo's widget palette UI reworking.

[2013-02-06 22:26] #2982 closed, assigned to jhpedemonte

[2013-02-06 22:35] jhpedemonte commented on #2622
Don't think this was meant to be closed.  -> M11

[2013-02-06 22:36] jhpedemonte commented on #2610
-> @peller

[2013-02-06 22:38] jhpedemonte commented on #2565
Never got around to trying rewrite rules, but it wouldn't have worked anyway:  as I found out in the WAR work, Orion just isn't meant to run in anything but as the top URL structure.  Maybe after fixing the WAR issues, this will be possible.  -> M11.

[2013-02-06 22:41] jhpedemonte commented on #2245
-> @peller.  Close this one?

[2013-02-06 22:42] jhpedemonte commented on #2181
-> @JonFerraiolo.  Still an issue?

[2013-02-06 22:50] #2245 closed, assigned to peller

[2013-02-07 01:08] jhpedemonte commented on #2084
-> @peller, is there anything left to do here?

[2013-02-07 01:19] jhpedemonte commented on #2072
A lot of this has been handled by the move to building on top of Orion.  Build and launch are done based on features.

For [target platform](https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup), the user can either download the last Maqetta release (or a nightly) or an Orion release.  That handles most 3rd party dependencies.

For Dojo and GridX, we've moved to using Git sub

[2013-02-07 01:25] jhpedemonte commented on #1755
-> M11

[2013-02-07 01:25] jhpedemonte commented on #1718
-> M11

[2013-02-07 01:26] rbackhouse commented on #2072
No, I think all of it has been covered now. Thanks

[2013-02-07 01:26] #2072 closed, assigned to jhpedemonte

[2013-02-07 01:33] jhpedemonte commented on #3372
Is this still necessary?

[2013-02-07 01:34] jhpedemonte commented on #3371
All Maqetta bundles are now JARed, not "exploded".  Closing.

[2013-02-07 01:34] #3371 closed, assigned to jhpedemonte

[2013-02-07 01:38] peller commented on #2084
Sorry, I have no idea what this is.

[2013-02-07 03:10] peller opened #3738 "Convert docs to async AMD"
@JonFerraiolo

Ought to be able to just remove the dojo.require statements for widgets and rely on the parser instead, then flip async on.

[2013-02-07 15:25] billreed63 opened #3739 "Load deviceTheme.js using script tag"
Dojo recommends loading deviceTheme by script tag instead of through require
http://livedocs.dojotoolkit.org/dojox/mobile/deviceTheme#loading-devicetheme-with-a-script-tag

@peller

[2013-02-07 17:17] billreed63 opened #3740 "Use display name in UI"
Use users display name for user interface instead of email address

[2013-02-07 18:39] peller commented on #3189
also, deviceTheme should be loaded via SCRIPT tag #3739

[2013-02-08 14:22] JonFerraiolo commented on #3738
Right. We need to do a full update to modern Dojo, including switching the xhr call to the newer API.

So why is this Prio-High?

[2013-02-08 14:40] peller commented on #3738
AMD has huge payback, and it will have huge impact on the page for relatively little effort.  Take a look at the network panel waterfall graph.  The newer APIs have relatively little impact..

[2013-02-09 04:01] peller commented on #3726
It looks like it's getting saved to disk with the messed up encoding, is that right?  The folder name is sent url-encoded in the GET request, so I'm not sure if the mime-type headers come into play.  encodeURI should always use UTF-8.  Perhaps the servletbridge is doing something to the encoding of the url?  We should check the url as it is received by the servlet.

[2013-02-11 04:46] peller commented on #1210
got fixed by @JonFerraiolo when he cleaned up the widget palette

[2013-02-11 04:46] #1210 closed, assigned to peller

[2013-02-11 17:00] billreed63 opened #3741 "Add user name field to registration html"
Add a user name field to registration page fo ruse by base maqetta.

[2013-02-11 18:38] JonFerraiolo commented on #3731
Closing for now - I'm pretty sure this was a user error.

I studied the code and I think I know what was wrong - user error. During demo, I saw switching back-and-forth between tutorial window and Maqetta window. First click on Maqetta window brings it to top, but otherwise click doesn't go through to the app. User needs to click twice: one to activate the Maqetta window, second time to do somethi

[2013-02-11 18:38] #3731 closed, assigned to JonFerraiolo

[2013-02-11 18:46] JonFerraiolo commented on #3703
After merging in the davinciRuntimeGlobal branch, I'm having trouble reproducing. I'll leave it open for awhile and see if anyone sees the problem again.

[2013-02-11 18:58] JonFerraiolo commented on #3700
Closing as dupe of #3703. Anyway, seems to be working correctly now since @peller merged in his davinciRuntimeGlobal branch.

Incidentally, here is cleaned up source code:

[code]

[2013-02-11 18:58] #3700 closed, assigned to JonFerraiolo

[2013-02-11 20:51] #3741 closed, assigned to billreed63

[2013-02-11 20:55] billreed63 commented on #3740
fixed by commit https://github.com/maqetta/maqetta/commit/2ccd7533e492faa1a80715ecabf544f8e13d43c1

[2013-02-11 20:55] #3740 closed, assigned to billreed63

[2013-02-11 21:48] JonFerraiolo commented on #3570
I just tried to reproduce using latest M10 code running from Eclipse, and no problem. I'll try again once we have some M10 builds posted to see if the problem can be reproduced still. Maybe @peller 's fix from branch davinciRuntimeGlobal magically fixed this one???

[2013-02-11 21:51] JonFerraiolo commented on #3519
Pushing this to @peller to decide: (1) should we cherrypick the fix into the Dojo we use for M10? (2) Or should we wait until we switch over to Dojo 1.9 (in which case we probably should push this to M11, right?)

[2013-02-11 21:58] peller commented on #3738
looks like the samples need to be converted also, perhaps update the states module references also

[2013-02-11 22:16] peller commented on #3738
see 24a54cc2ad8e6a9b9948f7baaad763ed39d27e14 and 0700ec9aef8b2e647960edfb84e3d81ed1192b51 on [doc-fixup branch](https://github.com/maqetta/maqetta/tree/doc-fixup)

[2013-02-11 23:27] JonFerraiolo opened #3742 "SmartInput exception in EdgeToEdgeListInput.js after davinciRuntimeGlobal branch merge"
With latest code:
- New mobile app
- Add a View
- Add a RoundRectList, and add a 3rd line of text to SmartInput that appears

Result=> Undefined exception at EdgeToEdgeListInput.js:134

Works OK with the commit just before the davinciRuntimeGlobal branch merge (30030de94ca079f290f943333e168f83041625a9) but fails when checking out the davinciRuntimeGlobal commit (28763243f3466b859495e2e47889634a4a7

[2013-02-11 23:30] JonFerraiolo commented on #3624
Started working on this, but was blocked by #3742

[2013-02-11 23:34] peller commented on #3519
Unless there's some impact, it's not worth creating the branch to cherry-pick.  -> M11

[2013-02-12 00:45] peller commented on #3742
It looks like I missed a bunch of davinci.Runtime references in helpers, like MobileComboBoxInput.js:

[code]

[2013-02-12 03:05] peller commented on #3710
->M10  @JonFerraiolo there's one reference to top.davinci.Runtime in AppStates that needs to be changed.  Either we find a way to remove the global top.davinci reference, or we'll need to put the definition back for davinci.Runtime, which is now referenced via AMD everywhere else.

After that, if there are other 'top' references remaining in the code, we can defer this bug again.

[2013-02-12 03:08] #3742 closed, assigned to peller

[2013-02-12 17:05] peller commented on #3419
~~possibly related~~ does not seem to be related to #3715 and #3584

[2013-02-12 17:07] peller commented on #2213
does anyone still see this?

[2013-02-12 17:38] jhpedemonte commented on #2213
I haven't seen it in months.  Closing.

[2013-02-12 17:38] #2213 closed, assigned to JonFerraiolo

[2013-02-12 18:23] peller commented on #3409
filed a [Dojo ticket](http://bugs.dojotoolkit.org/ticket/16701)

[2013-02-12 18:33] Tauvic opened #3743 "The included Dojo library has bugs"
I tried to use the dojo.request.script function for cross domain JSON requests but that failed due to a bug in the Dojo toolkit library. This bug has been fixed but the public Dojo build 1.8.3 does not include the fix. And that is the version currently available in Maqetta.

I understand you cannot constantly build new versions of Maqetta because the Dojo library has bugs. Is there a way that i ca

[2013-02-12 18:38] Tauvic opened #3744 "How to solve problems with bugs in Dojo libraries"
I tried to use the dojo.request.script function for cross domain JSON requests but that failed due to a bug in the Dojo toolkit library. This bug has been fixed but the public Dojo build 1.8.3 does not include the fix. And that is the version currently available in Maqetta.

I understand you cannot constantly build new versions of Maqetta because the Dojo library has bugs. Is there a way that i ca

[2013-02-12 19:40] billreed63 commented on #3744
Can you user dojox/io/xhrScriptPlugin instead? We use that for some of the widgets that pull data from JSONP on other domains
http://www.sitepen.com/blog/2008/07/31/cross-site-xhr-plugin-registry/

[2013-02-12 19:43] jhpedemonte commented on #3743
Dupe to #3744.

[2013-02-12 19:43] #3743 closed, assigned to nobody

[2013-02-12 19:49] jhpedemonte commented on #3744
The issue in question: http://trac.dojotoolkit.org/ticket/16408.  Looks like it's been scheduled for the 1.8.4 release.

One quick solution is to update the files in the Dojo library JAR used by Maqetta.  In the Maqetta directory (where the archive was unzipped), do the following:
1. Go into the **plugins** directory.
2. Create a temporary directory (i.e. **dojo**).
3. Go into the temp dir and unz

[2013-02-12 21:39] peller commented on #3715
experiment with a better patch in 93e94c87e085a69b4f5177529ea092978caf2136

[2013-02-12 21:39] peller commented on #3584
experiment with a better patch in 93e94c8

[2013-02-13 06:04] angelfcm opened #3745 "CSS Pseudo-Classes are moved incorrectly by Maqetta's system"
Hi

I have this html:
<code>

<div id="content">
    <a href="#" style="margin: 10px;">A link</a>
</div>

And CSS file:
# content a:hover {

//Any code
}

Then, if I use right panel of Maqetta to edit margin style and I change the value to any other value, the new CSS code in that file is:

a#content:hover {
//Any code
}

As you can see, the new CSS code is bad interpretation as I expected before.

[2013-02-13 14:04] JonFerraiolo commented on #3703
Tried again using today's maqetta-test WAR build, and unfortunately problem is still there. (davinciRuntimeGlobal did not fix the problem.) I was able to reproduce on both Mac/FF and Mac/Chrome by following these steps:
- New desktop app
- Source view
- Paste source code shown above
- Design view
- Save, close, reopen (no problem)
- SaveAs some other name (no problem)
- SaveAs some other name agai

[2013-02-13 14:44] peller commented on #3715
seems to be fixed by above patch.  Will be included in Dojo 1.9

[2013-02-13 14:44] #3715 closed, assigned to peller

[2013-02-13 14:50] peller commented on #3584
patched in M9, better patch in M10, will be fixed in Dojo 1.9+, possibly 1.8.4.  We can take out the workaround in 93e94c8 if we're satisfied that all users have migrated to a newer Dojo release.

[2013-02-13 14:50] #3584 closed, assigned to peller

[2013-02-13 19:42] Tauvic commented on #3744
Hi Javier ,

Thanks for the quick response. I will look into your suggestion.

I think many other people will have the same issue when being confronted with a bug and then want to patch the build in library code. So this workaround should be documented somewhere. Maybe its also possible to put some patched files in a simple directory and update the classpath before the davinci-aa-xx.jar. I think t

[2013-02-13 20:32] angelfcm commented on #3745
The HTML in above example is:

&lt;div id=&quot;content&quot;&gt;
    &lt;a href=&quot;#&quot; style=&quot;margin: 10px;&quot;&gt;A link&lt;/a&gt;
&lt;/div&gt;

[2013-02-13 21:12] jhpedemonte commented on #3703
**NOTE:** That build, as of the time I am writing this, is based on the M9 branch and doesn't include commits to **master** after the M9 release (in particular, doesn't include the _davinciRuntimeGlobal_ merge).

[2013-02-14 14:38] #3738 closed, assigned to peller

[2013-02-14 17:44] #3710 closed, assigned to JonFerraiolo

[2013-02-14 19:40] #3624 closed, assigned to JonFerraiolo

[2013-02-14 20:23] #2075 closed, assigned to billreed63

[2013-02-14 22:49] JonFerraiolo commented on #3527
Pushing to M11.

I made some progress on this, especially after a tip from @jhpedemonte. Here is an approach that looks promising:

(1) Take advantage of the getInitializationInfo mechanism added by @billreed63 and in the `*releng` project for that custom build (e.g., davinci.ACME.releng), stuff an additional json file in the siteConfig folder with contents that might look like this:

[code]

(2)

[2013-02-14 23:53] #3525 closed, assigned to JonFerraiolo

[2013-02-15 02:56] #3717 closed, assigned to peller

[2013-02-15 16:47] billreed63 commented on #3745
I am unable to reproduce this issue, could you please provide a more detailed set of instructions on how to reproduce this. along with the what browser and version and code examples.

[2013-02-16 02:46] angelfcm commented on #3745
Sorry, I have made a bad interpretation.

Maqetta's HTML snippet:
<code>&lt;div id=&quot;content&quot;&gt;
    &lt;a href=&quot;#&quot;&gt;A link&lt;/a&gt;
&lt;/div&gt;
</code>

CSS:
<code><b>#content a:hover</b> {
    color : green;
}
#content {
    margin : 5px;
}
</code>

Save both files and reload the page then select Design mode, select #content element and edit the margin by right panel of M

[2013-02-16 21:24] #3679 closed, assigned to JonFerraiolo

[2013-02-16 22:35] JonFerraiolo opened #3746 "Remove SelectLayoutAction.js?"
Doesn't seem to be used anymore.

[2013-02-16 23:26] #3678 closed, assigned to JonFerraiolo

[2013-02-17 00:06] #3665 closed, assigned to JonFerraiolo

[2013-02-17 16:27] peller opened #3747 "Eliminate maqetta.serverDebug server switch in favor of java.util.Logging"
Already removed most or all usage.  Should scrub it from the launch scripts and documentation, if needed.  @jhpedemonte

[2013-02-17 16:28] peller commented on #3747
see #3717

[2013-02-17 16:32] JonFerraiolo opened #3748 "Error box misplaced sometimes in LoginWindow.*"
@billreed63

In LoginWindow.\* for maqetta-server-orion-standard, when comes to registration screen (with 4 fields: email, fullname, password1, password2), the gray error box overlays the second password field.

Fixing this should be pretty easy. A quick hack approach would be to put a new class on the parent DIV to indicate the current "panel", and then override the 'top' property when panel is t

[2013-02-17 16:35] JonFerraiolo commented on #3748
Wait, I take it back. I was tricked by what I saw in the debugger. My suggested solution has already been implemented by @billreed63.

[2013-02-17 16:39] JonFerraiolo commented on #3748
Ah, but there is a problem with maqetta-server-orion-hosted. The errorWin is indeed misplaced on the "Create an account" panel (id="newUserSignup").

[2013-02-17 16:41] JonFerraiolo commented on #3748
Reassigning to @billreed63

[2013-02-17 16:50] #3639 closed, assigned to JonFerraiolo

[2013-02-17 17:01] aerwin opened #3749 "List item right text not rendered when close and reopen file"
At Maqetta.org...As I'm working on the edits for Part 3 of my article, it seems like I've found another weird timing issue where the rightText of my list items doesn't show after I close and reopen my file.

But, as you can see from the screen shot, the rightText is set:

![Screen Shot 2013-02-17 at 10 38 25 AM](https://f.cloud.github.com/assets/1258743/165172/d6eb8e22-7920-11e2-9e3d-a286081497c7.

[2013-02-17 17:10] aerwin commented on #3749
I've seen this happen in Preview with a cold cache, but not terribly often. However, if I use the following app.js (which sets the rightText programmatically), it happens fairly regularly previewing with a cold cache. And, when it happens in the preview, it's especially odd because inspecting the dom tree shows the correct text is inside of the div representing the rightText of the list item).

[c

[2013-02-17 18:04] #3616 closed, assigned to JonFerraiolo

[2013-02-18 16:26] #3748 closed, assigned to billreed63

[2013-02-18 17:16] jhpedemonte commented on #3481
Note: UserEmailUtil.java always enables TLS support in Orion v1.0 (see [bug 392529](https://bugs.eclipse.org/bugs/show_bug.cgi?id=392529)).  Orion v2.0 made this configurable.

[2013-02-18 20:26] #3745 closed, assigned to billreed63

[2013-02-19 16:59] peller commented on #3737
Probably best to do something event based, since it would be difficult to parse and capture all possible exit points.  Perhaps hook the onLoad event on the iframe to look for changes, then update the state of the review editor?  As long as we serve up the content, we should be able to look at the location.  What do we do if the hyperlink leaves our domain or the user's content?  There's effectivel

[2013-02-19 18:21] JonFerraiolo opened #3750 "Can't style shapes.Line widgets on Mac/FF"
If you add a Line widget using Mac/FF and Release 9, the line has a stroke-width:1px, whereas on Chrome it has stroke-width:3px (which is correct).

[2013-02-19 18:55] JonFerraiolo commented on #3737
Interesting idea with the onload handler. We could put one in AppStates.js, and have it publish an event to which the Maqetta application listens (to make it parallel to other similar features in the code).

To deal with possibility that a hyperlink leaves the domain, we could add an unload handler to the user document (again, maybe in AppStates.js) and once again publish an event. The Maqetta rev

[2013-02-19 20:20] akesterton opened #3751 "Maqetta starts but unable to connect via the browser"
Hi

I have installed release 9 on Windows7 Professional (64-bit).  I open a command shell as an administrator and start Maqetta.

However, when I try and access Maqetta via http://localhost:50000/maqetta - the browser (Chrome) times out with error

Error 324 (net::ERR_EMPTY_RESPONSE): The server closed the connection without sending any data.

Any idea where I am going wrong?

thanks, anthony

C:\

[2013-02-19 21:24] #3750 closed, assigned to JonFerraiolo

[2013-02-19 22:03] billreed63 commented on #3751
This might be your issue
https://groups.google.com/forum/?fromgroups=#!searchin/maqetta-users/billreed63/maqetta-users/WlK_cFLnb7I/ohMXSLFokaMJ

[2013-02-19 22:15] JonFerraiolo opened #3752 "Replace settimeout logic in _Shape.js"
Should be able to replace the setTimeout logic in _Shape.js (in resize routine) to repeatedly look for presence of the CSS stylesheet corresponding to shapes.css.

Another option is to get rid of shape.css and just put fill, stroke and stroke-width on the widget in widgets.json. But have to think through backwards-compatibility issues.

[2013-02-19 23:33] peller commented on #3737
We should just be able to use the onload event on the iframe and not have to write any custom code in AppStates to deal with this.  Best to avoid that if we can.  iframe.onload should fire when the document is loaded and again when any link is navigated.

yeah, we could use onbeforeunload to publish some sort of warning UI for leaving the domain, but given that there's no back button, it seems lik

[2013-02-20 03:32] peller commented on #3726
Amazingly, Tomcat [seems to decode URL parameters](http://wiki.apache.org/tomcat/FAQ/CharacterEncoding#Q2) using ISO-8859-1 by default, while the browser standard is to use UTF-8.  It seems the answer is to configure the [URIEncoding](http://tomcat.apache.org/tomcat-6.0-doc/config/http.html#Common_Attributes) property on Connector in Tomcat's `conf/server.xml` file

[2013-02-20 03:41] peller commented on #3726
One [other possibility](http://stackoverflow.com/questions/3029401/java-servlet-and-utf-8-problem#3029405) is to grab the query string directly and manually parse it using UTF-8, but this seems like something that ought to work as configured by the web server (see above)

[2013-02-20 03:56] peller commented on #3726
@jhpedemonte @JonFerraiolo Where is a good place to document this?  Should we have a README for the war file?

[2013-02-20 14:45] billreed63 opened #3753 "User Groups for review invitations"
When adding emails to Review invitations the user should be able to use group names.

Maqetta should provide a way for users to define their own custom groups that are stored on the server. These should be available across projects.

When using LDAP as authentication, we should make  groups from LDAP available to the users in addition to the local groups from base maqetta.

We should also provided

[2013-02-20 14:50] JonFerraiolo commented on #3753
@peller suggests that the UI for user groups should be available on the publish wizard (vs putting a user group command on the top menubar). @JonFerraiolo thinks this is a good idea.

@billreed63 - is it possible to query an LDAP server for a list of LDAP groups, and then query for the list of email addresses included within a particular group?

[2013-02-20 14:57] billreed63 commented on #3753
it is possible to query an LDAP server for a list of LDAP groups, and then query for the list of email addresses included within a particular group?

@peller suggests that the UI for user groups should be available on the publish wizard (vs putting a user group command on the top menubar). @JonFerraiolo thinks this is a good idea. @billreed63 thinks we should provicde type ahead search for the add

[2013-02-20 15:53] JonFerraiolo opened #3754 "Plug-and-play ability to add site-specific widgets and themes without programming or custom builds"
@billreed63 @peller

We need to provide a way that sites can add widgets and themes to their installation of Maqetta by simply dropping files into an appropriate folder, without requiring custom builds, custom OSGi projects and Java programming.

[2013-02-20 15:55] JonFerraiolo opened #3755 "Add/restore UI in Comments palette to classify comments as open vs resolved"
@billreed63 @peller @jhpedemonte @jinsil

We've had a user request to have features in the Comments palette where a user can classify a comment as open vs resolved.

We used to have UI for this in the Comments palette. We'll have to look at old releases to see what was there before and decide whether we can simply restore the old code or invent something new.

[2013-02-20 22:40] akesterton commented on #3751
Thanks for the suggestion Bill.  I have unzipped the files into my Document directory - and this does not appear to have made any difference.  Is there any logging I can turn on to debug the problem?

thanks

[2013-02-20 22:40] #3751 closed, assigned to nobody

[2013-02-20 22:56] billreed63 commented on #3751
No, you might ask on the users group other may have experienced  the same problem

[2013-02-20 23:07] akesterton commented on #3751
Thanks Bill - I will ask there.

[2013-02-21 04:43] peller commented on #3726
Added a step to the [install instructions](https://github.com/maqetta/maqetta/wiki/Server-Installation-and-Setup) on the wiki.

-> M9

[2013-02-21 04:43] #3726 closed, assigned to peller

[2013-02-21 15:06] JonFerraiolo opened #3756 "Add cache-busting for login screens"
@billreed63 @peller

I'm pretty sure that the LoginWindow.\* files don't have cache-busting logic. Perhaps this can be addressed via nginx?

[2013-02-21 15:57] JonFerraiolo opened #3757 "Tutorial on multi-page mockups (with reviews)"

[2013-02-21 22:31] #3583 closed, assigned to peller

[2013-02-22 20:58] billreed63 opened #3758 "Login page needs scroll bars"
The log in page needs scroll bars when registration button is off screen
If the user has a small browser window the registration button is off the bottom of the screen where the user can't see it. There are no scroll bars to let them know there is more here...

[2013-02-22 21:07] billreed63 commented on #3758
When you connect to eclipse port 81 I get scroll bars but not when connecting to the build on port 50000
![without](https://f.cloud.github.com/assets/717822/186631/b9ecbeb0-7d33-11e2-8e52-03ca89644236.JPG)
![with](https://f.cloud.github.com/assets/717822/186632/cb4ebf50-7d33-11e2-9bed-c8ebf00191a9.JPG)

[2013-02-22 21:15] jhpedemonte opened #3759 "Upgrade to Orion v2.0"
Server changes between [Orion v1.0 & v2.0](http://git.eclipse.org/c/orion/org.eclipse.orion.server.git/diff/?id=R2_0&id2=R1_0)
Client changes between [Orion v1.0 & v2.0](http://git.eclipse.org/c/orion/org.eclipse.orion.client.git/diff/?id=R2_0&id2=R1_0)

Orion v1.0 bug: [#3481](https://github.com/maqetta/maqetta/issues/3481)

**Tasks:**
- [x] Fix errors due to WorkspaceResourceHandler API changes.

[2013-02-22 21:28] JonFerraiolo commented on #3758
Could it be that the reason you are seeing it in 8081 but not 50000 is that I fixed this in M10 (#3639)? Was the 50000 version the M9 release?

[2013-02-22 21:41] billreed63 commented on #3758
The `overflow:auto;` is missing in the loginWindow.css on the 50000 but is present in the 8081 I searched the code and only found it missing in the ldap auth version of loginWindow.css  all other @JonFerraiolo  fixed 5 days ago. by commit 511fdd41d300387f92f5adcb09922bbaf4a563cc

[2013-02-22 21:41] #3758 closed, assigned to billreed63

[2013-02-23 03:29] #2700 closed, assigned to peller

[2013-02-23 17:29] #342 closed, assigned to JonFerraiolo

[2013-02-23 18:37] peller commented on #3735
If the port is already in use, the server _should_ fail to listen on the port and log an error.

[2013-02-24 01:51] #3752 closed, assigned to JonFerraiolo

[2013-02-24 15:52] #3746 closed, assigned to JonFerraiolo

[2013-02-24 16:15] JonFerraiolo commented on #3562
Changing to Prio-Med - I don't think the other changes are high priority versus lots of other things.

[2013-02-24 16:30] JonFerraiolo commented on #3377
In working on sample code for a customer, I've concluded that we should indeed do bullet 3 above - in particular, we should have a preference (default off) that tells Maqetta to create a `<basename>.js` file for each new HTML page. The idea is that common functions would go into app.js, and page-specific logic would go into `<basename>.js`.

Part of that enhancement would be that we would need to

[2013-02-24 16:30] JonFerraiolo commented on #2473
-> M11

[2013-02-24 16:31] JonFerraiolo commented on #240
-> M11

[2013-02-24 16:31] JonFerraiolo commented on #2440
-> M11 - we aren't going to get to templates in M10

[2013-02-24 17:17] JonFerraiolo opened #3760 "Download selected files messes up path to dojo.js"
@jhpedemonte @billreed63

I found this preparing for a customer demo. We should produce a fix for this ASAP in case we find we need to do a quick dot release. For serious customers, this will prove to be a commonly used feature.

If you download selected files using the Download context menu (and presumably also the second icon on the Files palette toolbar), the path to dojo.js in the downloaded H

[2013-02-24 19:34] megaD opened #3761 "Save as doesn't work"
Save as doesn't save the current document but just creates a new document.

Please fix.

Thanks,

Piotr

[2013-02-25 03:56] JonFerraiolo commented on #3656
-> M11

[2013-02-25 04:31] #3534 closed, assigned to JonFerraiolo

[2013-02-25 05:09] JonFerraiolo commented on #3546
Pushing to M11, Prio-Med.

The way to specify that a widget-specific property represents a color would be, in the _oam.json file for a particular widget, to set `datatype`:`string` and `format`:`color`. (See http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Datatypes)

I expect a few more things are needed beyond what @pchuong has proposed.
- First, we have to look for `forma

[2013-02-25 12:51] jhpedemonte opened #3762 "server-sent events (push, etc)"
There are several technologies available for getting data pushed from the server to the browser client (for example, to notify the user of a [new review comment](https://github.com/maqetta/maqetta/issues/1564)):
- [server-sent events](http://dev.w3.org/html5/eventsource/) - An HTML5 spec that is mostly supported by browsers (all except IE).  [More info here.](http://jspro.com/apis/implementing-pus

[2013-02-25 14:44] billreed63 commented on #3735
I don't think the server ever failed completely, but I do seem to remember seeing a port in use exception in the console. That exception is now gone. I wonder if our efforts to catch all exceptions and send them back to the client is now eating that exception?

[2013-02-25 15:33] JonFerraiolo commented on #3761
@megaD but that's how most software works these days. Try almost any other popular product, such as MSWord. Create a new document, type "aaa", save it under a name (e.g., aaa.docx). Then back in the editor, change the text to "bbb" and do a Save As to bbb.docx. Then reopen aaa.docx - the original document (aaa.docx) still says "aaa".

Or perhaps I am misunderstanding.

[2013-02-25 18:14] JonFerraiolo opened #3763 "Firefox - click on review hyperlink when workspace has an HTML file open causes initialization logic to fail"
When running off of Maqetta.org using FF, if you have a html file open, close your browser window (with file still open), then click on a hyperlink to a review, there will be exceptions in the console, the software won't initialize properly, and the toolbar for the review is the page editor toolbar, not the review toolbar.

When I try in Chrome, I cannot reproduce the problem.

When I can reproduc

[2013-02-25 18:28] billreed63 commented on #3763
Look at maqetta.client.orion, pagedesigner.html and search for loadReviews. I suspect that the async call to Workbench.openEditor() is clashing with the openEditor() calls in Workbench.js:initializeWorkbenchState()
1:26:07 PM: Jon Ferraiolo: At this point, I'll leave it to you

[2013-02-25 21:41] billreed63 commented on #3763
I can reproduce this locally, in IDE
Running on FF with firebug open and no breakpoint, this seems to slow FF down enough t expose the bug

The setup:
Create about 5 open html editors, save all htmls
Create a review with two of the html files that were created above
Copy the link from the review notice, you will need it later
Close FF
reopen FF and open firebug
Paste the review link in the address

[2013-02-25 21:50] #3763 closed, assigned to billreed63

[2013-02-26 01:12] JonFerraiolo opened #3764 "Can we run dojo build system ourselves?"
@jhpedemonte

I have been playing around with the new dojo build system. For a new user, it's very hard to learn, but once you figure it out, it's not that complicated, and it seems to me that we could invoke the dojo build system automatically.

The build system needs a few boilerplate files:
- release.profile.js
- `<appfolder>`/`<appfolder>`_profile.js (e.g., `<appfolder>` could be "project1")
-

[2013-02-26 01:44] peller commented on #3764
Assuming that DWB works reliably, would there be any benefit to doing the build ourselves?  I think this is functionally equivalent to what happens for the Dojo Web Builder (if it were working) minus the caching benefit and distribution (adding the load of the builder to our main server machine could be problematic as the build is resource-intensive)

I'll focus on getting DWB working for M10.

[2013-02-26 01:48] peller opened #3765 "Prime zazl cache for review and commenting"
The first hit to load a page with zazl with a cold cache is very slow, far slower than using the normal loader.  The caching benefits for subsequent runs are, of course, huge.  @rbackhouse and I have been talking about a scheme so that loading a page with zazl would use the standard loader if the cache were cold.  In the interim, for review and commenting, there's an easy fix: on publish, spawn a

[2013-02-26 07:55] megaD commented on #3761
This is exactly what doesn't work for me in Maqetta. I expect it to save my content but under a different name. Inetead it saves an empty page.

[2013-02-26 13:50] peller commented on #3735
We've generally been doing the opposite -- removing catch clauses and letting exceptions bubble to the top.

I still get lots of console messages on the console when I pick a port that's in use, but the exceptions come directly from Eclipse/Equinox/Jetty and do not pass through Maqetta's startup code.

http://pastebin.com/5d555aee

[2013-02-26 14:44] JonFerraiolo commented on #3761
@megaD - oh, I didn't understand. Any chance you could send me (inside of a ZIP) the source code of the file that ends up with an empty page after a Save As operation? (email: jonferraiolo (at) gmail.com)

[2013-02-26 17:59] megaD commented on #3761
This is what happens (video): http://screencast.com/t/k4KEdrG6xfd

Sending you the source html file.

[2013-02-26 18:11] megaD commented on #3761
Also just realized when I close Maqetta and open it again the file that was "saved as" is not empty but right after "saving as" it just looks like that.

[2013-02-26 20:26] jhpedemonte opened #3766 "Passwordless Login"
Implement **passwordless login** as an Orion auth plugin.

The flow goes something like this:
1. User loads a site and is asked for his/her email address.  An email with a login link is sent to the user.
2. After clicking on the link, the site loads and sets a long-lived cookie in the browser.
3. Afterwards, the user is considered to be "logged in" as long as the cookie resides in that browser.
4.

[2013-02-26 20:30] jhpedemonte commented on #3766
Security concerns:
- Transmit cookies using HTTPS?
- Make cookie valid only for initiating IP address?

I think doing IP verification could pose several problems: (1) Users on mobile systems (laptops, tablets, phones) would be required to login whenever they move to a new network; (2) Some users behind firewalls don't always have the same IP from one session to the next, so even though they are on

[2013-02-26 20:38] billreed63 commented on #3763
By moving the opening of reviews to Workbench.initializeWorkbenchState we are able to remove the cap on opening review files. The initializeWorkbenchState  creates the EditContainers but the file contents are not loaded until the user selects the tab. So if we have 100 files in the review 100 tabs will be opened but only the contents of the first file in the review will be loaded at start up, the

[2013-02-26 21:36] JonFerraiolo opened #3767 "Create review should open all N review files or no review files"
@jhpedemonte @peller @jinsil

@billreed63 - with a recent commit, you made it so that if someone clicks on the hyperlink of a multi-page review invitation, Maqetta opens up all of the HTML files when the application launches.

This leaves the application with an inconsistent UI -- even more inconsistent than before.

Previously (e.g., M9):
- With single file, create review opened that review file.

[2013-02-26 21:38] JonFerraiolo opened #3768 "Update docs to reflect new behavior for opening review editors"
@billreed63

Depends on #3767

We have changed the behavior for clicking on review hyperlinks. We now open all files in the review. Need to update docs, and add a bullet to the release notes for M10.

[2013-02-26 22:48] billreed63 commented on #3768
@JonFerraiolo I can put the cap back on the reviews if that is the behavior we want, I just took it of because the performance problem that was the reason for the cap no longer exists...

[2013-02-26 23:39] JonFerraiolo commented on #3761
@peller @jhpedemonte

@megaD - Got your file, thanks. I uploaded it to my account on maqetta.org and found that I could reproduce the blank page problem with Firefox, but not with Chrome - when I tried the Save As operation on Chrome, the page appeared re-appeared after the Save As operation.

With the file from @megaD, there are no console messages. Looking at the console, the PUT operation for t

[2013-02-27 00:14] JonFerraiolo commented on #384
We fixed this somewhere in the M7, M8 or M9 release cycles. Closing.

[2013-02-27 00:14] #384 closed, assigned to JonFerraiolo

[2013-02-27 00:36] JonFerraiolo commented on #3768
I wouldn't put the cap back in. See my comments on #3767 with my analysis and recommendation.

[2013-02-27 01:01] peller commented on #3767
Could impact #3765.  If we open no review files, we could immediately prime the zazl cache for all of them.  Conversely opening all the files immediately would lead to slow loading and a poor experience.

I'm with Jon.  I think it might be more natural not to open the files immediately and let the user take action to create the tabs as needed (conveniently works well with performance issue, above)

[2013-02-27 01:13] JonFerraiolo opened #3769 "Offer site-specific conf option to disable typeahead completion in Publish wizard"
@billreed63 @peller

I don't think we should offer typeahead for email addresses on maqetta.org. Makes sense for internal deployments, but not for public deployments. Seems like we need a new option in maqetta.conf, and somehow get davinci/review/widgets/PublishWizard.js to honor that option.

[2013-02-27 01:14] JonFerraiolo commented on #3686
=> @billreed63 our LDAP expert -

I believe we have this somewhat already working on maqetta.org (for better or worse). Try it out. Login to Maqetta.org, bring up the publish wizard, and type some common string (e.g., joe) into the email field, then wait a few second. A list of users whose email/login match the string will appear. Same thing on the IBM internal version of Maqetta (trying typing "o

[2013-02-27 03:32] peller commented on #3760
hopefully fixed now

[2013-02-27 04:30] JonFerraiolo commented on #3609
I looked at this again, and yes I believe that the fix for #3413 takes care of this issue. Closing.

[2013-02-27 04:30] #3609 closed, assigned to JonFerraiolo

[2013-02-27 04:39] JonFerraiolo commented on #3377
In thinking about this some more, related to this issue, long-term I would think that whenever we create a CSS or JavaScript file, we should ask the user which HTML files should be modified to include a reference (LINK or SCRIPT tag) to the newly created file, and whenever a user renames a CSS or JavaScript file, we should ask the user whether to update the existing references within existing HTML

[2013-02-27 04:45] peller commented on #3725
Not able to reproduce this.  Any idea what the console error messages were?

[2013-02-27 04:47] JonFerraiolo commented on #3521
For M10, things are a little better - we will be adding undo support for source edits. However, the application can still get in a bad state after source editing, and recovery is sometimes not possible. To go further on this issue will require some major investment (e.g., update the parsers, add cross-session undos) that won't happen in the M10 timeframe, so pushing the remainder to M11.

[2013-02-27 04:47] peller opened #3770 "Error creating TabContainer on canvas"
New desktop file. Try adding a TabContainer.

[code]

[2013-02-27 04:50] peller commented on #3770
Some loader weirdness here.  In TabContainer, the 3rd and 4th dependencies are not defined:  _TabContainerBase and TabController, leading to the exception

[2013-02-27 05:30] JonFerraiolo opened #3771 "Can't add TabContainer using CreateTool"
If you try to drag/drop a TabContainer from the palette to the canvas, nothing happens on the canvas and the console has messages (see below).

I found the commit that caused TabContainer to quit working: 7d3e9b3d850817651688081a6920812ad5b7e731. (TabContainer works for all commits before this one, and TabContainer doesn't work for this commit and all subsequent commits.)

Here is what appears in

[2013-02-27 13:02] peller commented on #3771
dup of #3770

[2013-02-27 13:03] #3770 closed, assigned to peller

[2013-02-27 13:30] #3771 closed, assigned to peller

[2013-02-27 14:26] billreed63 commented on #3686
Some what released to #3753, at least there is some overlap.

[2013-02-27 14:31] billreed63 commented on #3769
I don't think we need another option, we could just key off the authorization type, if we are using LDAP we could search LDAP for type ahead, if not using LDAP we just search the users maqetta address book #3753

[2013-02-27 14:45] billreed63 commented on #3767
When we open the review files at Workbench start up (the user clicks a review link from email) we uses:

[code]

I think the ''''initializationTime: true'''' keeps the content from being loaded in the Editor until the tab is selected by the user @peller knows this code better than I. I think we could re-leave the performance penalty at publish time by using the  `initializationTime: true` on all t

[2013-02-27 15:11] JonFerraiolo commented on #3767
Right - OK to prime zazl, but @peller and @JonFerraiolo say we shouldn't open up the review HTML files at Publish time for usability reasons.

[2013-02-27 15:12] JonFerraiolo commented on #3769
But the problem is that on maqetta.org, users can find the emails of people who might not want to have their emails discovered.

[2013-02-27 15:25] #3767 closed, assigned to billreed63

[2013-02-27 15:49] peller commented on #3769
I think @billreed63 is suggesting that on maqetta.org we would only search the user's defined groups, once that feature is implemented.

[2013-02-27 16:02] billreed63 commented on #3769
Yes, but @JonFerraiolo is correct the current implementation is to search all the users of maqetta

[2013-02-27 17:30] JonFerraiolo commented on #3769
Yes, that's what we would want. Probably a configuration option for typeahead that has values off, all users, or named groups only.

[2013-02-27 18:15] peller commented on #3724
Need to try @rbackhouse's [suggestion](https://github.com/maqetta/maqetta/commit/802f48815f32053515d9051b23758fbcce373040#commitcomment-2706954) to use the real servlet prefix with the osgi loader

[2013-02-27 20:10] billreed63 opened #3772 "MultiField SmartInput"
New multifield smart input to support widget that have more than one value ex Currency Textbox

[2013-02-27 20:42] billreed63 commented on #3772
the syntax to use the multifield from widget.json

[code]

[2013-02-28 13:13] JonFerraiolo opened #3773 "theme editor doesn't come up"
@billreed63 @jhpedemonte

Exception in console:

[code]

[2013-02-28 13:30] rbackhouse commented on #3724
I have the changes ready to commit. To clarify MaqettaOSGiResourceLoader is now passed the context path and does this on the segment check in _getResource(path) :

[code]

If this looks ok I'll deliver

[2013-02-28 14:03] peller commented on #3724
looks great. thanks, @rbackhouse

[2013-02-28 14:09] #3773 closed, assigned to peller

[2013-02-28 14:50] #3675 closed, assigned to JonFerraiolo

[2013-02-28 14:58] JonFerraiolo commented on #3654
@jinsil I moved the asterisk to the right side (used to be on the left) due to my fix for #3675, and it now looks like this:

![Screen Shot 2013-02-28 at 9 52 51 AM](https://f.cloud.github.com/assets/706721/205735/981ea212-81b6-11e2-92c7-e540ed912aa8.png)

Do you have any suggested additional styling tweaks, such as making the asterisk a little bit bigger, or is it OK as is? It would be super-easy

[2013-02-28 15:05] billreed63 opened #3774 "Horizontal/vertical slider smart input not working"

[2013-02-28 15:54] jinsil commented on #3675
Looks good to me... if anyone have problem with the current implementation in the future, then I would go with red color: #cc0000. But I am OK as the current implemented bold black. Text and the asterisk are both bold #333333.  Thank YOU!!!

[2013-02-28 15:57] #3774 closed, assigned to billreed63

[2013-02-28 16:02] peller commented on #3774
refs #3583

[2013-02-28 18:37] JonFerraiolo commented on #3654
Got feedback from @jinsil that current implementation is fine, so closing this issue.

[2013-02-28 18:37] #3654 closed, assigned to JonFerraiolo

[2013-02-28 18:53] jinsil commented on #3675
I attached asterisk image file as I found a bit different between actual screen caputer and the enlarge size of your screen capture

[2013-02-28 19:53] JonFerraiolo commented on #3654
I added a hard-crafted asterisk image (instead of just telling browser to render an asterisk character), and this is how things look now:

![Screen Shot 2013-02-28 at 2 49 21 PM](https://f.cloud.github.com/assets/706721/206998/6f8a2e50-81e0-11e2-84fc-a98138179d8d.png)

[2013-02-28 21:00] jinsil commented on #3654
Hi Jon, Looks good to me...
It is courier size 18 px. If you would like to use with text instead image....
Thanks,

[2013-03-01 13:35] JonFerraiolo commented on #3654
@jinsil: Image is fine. At runtime, it's embedded into a sprite, so no impact on performance for having it in an image.

[2013-03-01 13:57] peller opened #3775 "Upgrade to Dojo 1.9"
High priority to try a2, then wait for final release

[2013-03-01 14:00] #3760 closed, assigned to peller

[2013-03-01 17:40] peller commented on #2676
14ccb4543b223521f94ac334b6bddd1defff5062 and 57771a996f687257de5a9a7ca55ec100cd582707

URLRewrite.encodeURI is overkill most of the time and should be removed, unless we're encoding for a query string, in which case we might as well just inline the replace.

@jhpedemonte asks whether we even need the normal encodeURI call on an xhr.  I think we do to preserve spaces etc (that xhr doesn't do it oth

[2013-03-01 20:01] jhpedemonte commented on #3719
This has now been fixed, on master and M9 branch.

[2013-03-01 20:01] #3719 closed, assigned to jhpedemonte

[2013-03-01 20:03] jhpedemonte commented on #3524
Fixed by cff4594e6ec99a9b6dd4d60aad975c7640ce0d26.

[2013-03-01 20:03] #3524 closed, assigned to jhpedemonte

[2013-03-01 20:04] jhpedemonte commented on #3707
Being handled with upgrade to Orion 1.0 (#3481).  Dupe to that.

[2013-03-01 20:04] #3707 closed, assigned to jhpedemonte

[2013-03-01 22:42] billreed63 opened #3776 "Cascade not displaying override rules in custom theme for mobile button"
I created a custom mobile theme based on custom and in the theme editor used the global button to change the background image on the buttons. I then created a mobile html files to use that theme. when I selected the button an opened the background image cascade the rules from for the orerides in my custom theme where missing but the button was displayed with the correct back ground,

[2013-03-01 22:45] #3776 closed, assigned to billreed63

[2013-03-02 00:59] atrauzzi opened #3777 "Generate programmatic dijits"
Would be neat if the designer could generate a pure AMD source dijit and template for interfaces that could be included and instantiated.

[2013-03-02 12:51] JonFerraiolo commented on #3777
#atrauzzi - we do have a rudimentary Save As Widget feature (on the dropdown menu for the Save button) that I believe does some of what you suggest. If you put some user interface onto the canvas, with all of the widgets placed inside of a DIV, and then select the DIV, and then Save As Widget, Maqetta will generate a Dijit where the DIV (and its contents) are written out as the widget's template.

[2013-03-02 13:00] JonFerraiolo opened #3778 "Menubar broken when save and reopen"
Create a new desktop app, add a Menubar widget, save, close, reopen - you'll see some error text from the parser at the top of the canvas. I suspect it has to do with the switch from slashes to dots.

[2013-03-02 13:25] JonFerraiolo opened #3779 "ReferenceError: CSSThemeProvider_replacePseudoClass is not defined"
I'm not sure what caused this to happen, but when running through the test matrix (VE1), I noticed that the Firebug console had this error:

ReferenceError: CSSThemeProvider_replacePseudoClass is not defined

I noticed that the toolbar had an error (showed Flow instead of Absolute), so I suspect the exception prevented the toolbar from completing its update.

I had two page editors open, so I wond

[2013-03-02 14:34] atrauzzi commented on #3777
Does it do this as a programmatic widget?  As in, a JS file in AMD syntax instantiating all the aggregated widgets?

Basically what I'm looking for is generated code that _doesn't_ make use of WidgetsInTemplateMixin.

[2013-03-02 14:55] JonFerraiolo opened #3780 "Modify libraries doesn't update open documents for shapes and clipart"
@peller - send this back to me if you'd prefer.

If you have a page editor open, and then relocate clipart and shapes, you can't add any clipart or shapes to the currently open page editor. However, if you close and reopen (or create a new file), you can add clipart and shapes.

I suspect we are missing logic in modify libraries logic to update currently open documents.

[2013-03-02 15:10] JonFerraiolo commented on #3777
You can see what Save As Widget generates by using the feature and then looking in the Files palette at ./lib/custom. Custom widgets are stored there. Each widget gets a handful of files.

We definitely leverage templates, using declarative syntax, not programmatic. We don't have any immediate plans to implement programmatic custom widgets. Higher priority for us is to fix bugs and make the existi

[2013-03-03 13:48] JonFerraiolo opened #3781 "document.css not loaded after source editing"
- New desktop app
- Go to source mode and enter this inside of BODY

[code]
- Go to design mode and drag/drop a Button under the DIV

Result=> Button has wrong font - document.css doesn't get loaded in this case

[2013-03-03 15:30] JonFerraiolo opened #3782 "Split view selection not working in either direction with Orion 1.0 build"
@jhpedemonte

(Using Mac/FF versus the Orion 1.0 build on maqetta-test)
- New desktop
- Add a DIV, then add a Button and TextBox
- Split view
- Try clicking on Button and TextBox on design canvas => no selection appears in source pane
- Try clicking on Button and TextBox in source pane => no selection appears in design pane

[2013-03-03 15:41] JonFerraiolo opened #3783 "Restore source pane scroll logic not working in latest Orion 1.0 build"
@jhpedemonte

On Mac/FF:

I put the following logic into Editor.js to restore the current source editor scroll amount:

[code]

but whenever I make a source view change, the source pane jumps to the top (after the 1 second wait to see if more characters are being typed), just like it did before I added the above code for leftPixel and topPixel.

Is there a new Orion source editor in the Orion 1.0

[2013-03-03 15:44] JonFerraiolo commented on #3783
Also happens run running development builds from Eclipse. Same thing happens with Mac/Chrome.

[2013-03-03 16:05] JonFerraiolo opened #3784 "Drag/drop in Outline palette has exception, avatar doesn't go away"
If you drag/drop rearrange widgets in the Outline palette, there is an exception upon completing the drop action (from logic in StatesView.js), so the drop cleanup logic doesn't go to completion.

[2013-03-03 16:18] #3784 closed, assigned to JonFerraiolo

[2013-03-03 16:20] JonFerraiolo commented on #3784
@jhpedemonte - FYI

[2013-03-03 16:39] JonFerraiolo opened #3785 "Drag/drop in Outline palette, then mouseover Scenes palette - null exception in dojo/dnd/Manager.js"
@wkeese

Logging on Maqetta issue tracker first, but I believe this is a dojo issue.

Since I added drag/drop to the Scenes palette, there are now two Tree widgets in Maqetta that have drag/drop enabled. When I do a drag/drop operation in one of the Tree widgets (Outline palette) and then move the mouse over a tree node in the other Tree widget (Scenes palette), I get an exception in dojo/dnd/Mana

[2013-03-03 16:50] JonFerraiolo commented on #2389
-> @JonFerraiolo

[2013-03-04 02:03] JonFerraiolo opened #3786 "As admin, can't create user, activate user, and then log in with Orion 1.0 build"
I was running through the Orion test plan with the latest Orion 1.0 build. and couldn't finish, and I'm not sure how much was user error, how much is just the say things work, and how much is incomplete implementation towards moving onto Orion 1.0.

 I could create a new user, but I couldn't use an email address as the user name on the admin page. I entered jon@jon.com for the email and jonjon as

[2013-03-04 02:58] peller opened #3787 "CSSThemeProvider_replacePseudoClass is not defined"
I see this when creating a new desktop document in Chrome

`ReferenceError: CSSThemeProvider_replacePseudoClass is not defined`

in this line of code:

`_2a09=CSSThemeProvider_replacePseudoClass(_2a09);`

in addPseudoSelectors:

I noticed this method appeared to be a global and wanted to at least put it in scope.  Not sure why it causes a ReferenceException in the built version

[2013-03-04 03:25] peller opened #3788 "_data referenced on undefined in GridX wizard"
In GridX, enter comma-separated data in the smart input.  If you hit 'finish', all is well.  But if you instead hit 'next' you get this exception:

`Uncaught TypeError: Cannot read property '_data' of null`

at this line:

GridWizardSelectColumnsPanel.js, populate
`if(_10.properties.store.declaredClass!=_13._data.type||_10.properties.store.url!=_13._data.properties.url){`

[2013-03-04 03:29] #3788 closed, assigned to peller

[2013-03-04 04:43] peller commented on #3787
might be good to put this method somewhere else so that Context doesn't have to pull in this themeEditor module?

[2013-03-04 12:48] jhpedemonte commented on #3779
Dupe to #3787, which has more info/work.

[2013-03-04 12:48] #3779 closed, assigned to billreed63

[2013-03-04 15:16] peller opened #3789 "Circle morphs into square"
Drag a circle on the page
In the properties panel for borders, select the border value and either delete it or select "remove value"
Circle changes into square

[2013-03-04 15:40] JonFerraiolo commented on #3789
When you say "changes into square", do you mean that the selection chrome is rectangular? If you remove the border, the circle is invisible because it has no background/fill and it has no border, our selection chrome is always around the (x,y) bounds of the widget.

However, if you put a background on the circle, and then remove the border, yes, indeed, it does change into a square as this issue d

[2013-03-04 19:14] JonFerraiolo opened #3790 "Adding comments to Orion 1.0 build causes Maqetta to go away"
@peller

When I tried to add comments to a review, the Maqetta browser window went away and was replaced by the following error messages, showing in the browser where Maqetta used to be:

Error connecting to the Maqetta Server.

Please click here to return to Maqetta
Error description: error adding comment , response=RequestError: Unable to load cmd/addComment?id=b02b2c85-11ec-3090-3604-2d8b88ab81

[2013-03-04 19:22] JonFerraiolo opened #3791 "(Orion 1.0) Review palette doesn't show a review for a user who was invited"
On maqetta-test using the Orion 1.0 build, I created a review from one account (jferrai///us.ibm.com) and invited two other accounts (jon///ferraiolo.com, jonferraiolo///gmail.com). When I log into Maqetta as jon///ferraiolo.com, I see the review in the Reviews palette, but if I log in as jonferraiolo///gmail.com, I don't see the review. I suspect there is some confusion about user ids.

I have no

[2013-03-04 19:41] JonFerraiolo opened #3792 "Publish review invitations on maqetta-test (Orion 1.0) - server errors"
seeing this in logs:

[code]

so looks like it's coming in with your user name ("B") instead of your email

[2013-03-04 19:57] peller commented on #3789
right, the visible widget effectively changes to a square and does not mask the area outside the circle.  background colors fill the entire (square) div.  Something we could probably document our way around.

[2013-03-04 20:40] JonFerraiolo commented on #3790
Here is the request that caused the error:

[code]

Response was:

[code]

[2013-03-04 20:44] JonFerraiolo commented on #3790
Other notes:
- It appears that the comments are successfully getting added to the server XML file
- The author is not receiving emails about the comments getting added

My guess is that the server error happens after the XML file is updated but before the emails are sent telling the author that a comment has been added.

[2013-03-04 20:49] JonFerraiolo commented on #3791
@jhpedemonte

On maqetta-test, I found the same thing when trying to invite the other direction - jon///ferraiolo.com invites jferrai///us.ibm.com.

So, sometimes the invitee seems the review in the Reviews palette, and sometimes not.

[2013-03-04 21:02] peller commented on #3790
hopefully the error message gets passed along to the client now.

The error is caused by the e-mail, seen on the server as a CoreException, caused by:

[code]

@jhpedemonte Is Orion configured to send e-mail to external addresses?

[2013-03-04 21:07] JonFerraiolo opened #3793 "(Orion 1.0) Review invitation emails have messed up formatting"
This is what review invitations look like in email readers. I think that the message is getting sent as plain text even though HTML is used:

[code]

(NOTE: most email clients will wrap the above text, but the markup will show in the email client)

---

**Tasks:**
- [x] Fix formatting.
- [x] Edit content for better legibility.
- [x] Fix _add comment_ email content to not have HTML elements (text o

[2013-03-04 21:12] peller commented on #3793
also noticed that ISO-8859-1 encoding is used, probably on all pages by default.  Won't play well with Unicode usernames and filenames, once that's available in the template.

[2013-03-04 21:38] JonFerraiolo opened #3794 "Background color can be set on dijit Button when claro is active theme"
- New desktop app
- Add a Button (using claro theme)
- Try to set background color to any value (red, yellow, #888, whatever)

Result=> color swatch on palette changes to show that color, source view shows element.style having `color:whatever` but the widget still has the blue background from claro.

Instead, an error dialog is supposed to appear that says you cannot modify a read-only theme.

[2013-03-04 21:48] JonFerraiolo opened #3795 "app.css background changes on Button not showing immediately in page editor"
- New page
- Add a Button
- Add a class to the button (e.g., class1)
- In properties palette, go to background-color property and bring up cascade
- Select "new style rule in app.css"
- Type "yellow" as value for background-color property

Result=> color swatch shows yellow but Button stays blue.
- Preview

Result=> Button has yellow background
- Save, close reopen

Result=> Button has yellow back

[2013-03-04 22:19] jhpedemonte commented on #3790
Yes, it's set up correctly.  My guess is that the R&C code is pulling in the `username`, which is now a UID such as "B", rather than the `email` to send the message.  I'm investigating.

[2013-03-04 22:21] jhpedemonte commented on #3792
Most likely this is a dupe of #3790.  I'll retest once that issue is fixed.

[2013-03-04 23:19] peller commented on #3778
really odd. I tried searching for the changeset that broke this (wondering if it was the slash-mid change) and it no longer breaks for me, even on master.

[2013-03-04 23:20] peller commented on #3718
cannot reproduce this one either

[2013-03-04 23:20] #3718 closed, assigned to peller

[2013-03-05 01:12] #3787 closed, assigned to billreed63

[2013-03-05 02:14] jhpedemonte commented on #3790
Fixed by cbca412c5e550a856864207bd8053572eccd217a (new build coming up shortly).

[2013-03-05 02:14] #3790 closed, assigned to jhpedemonte

[2013-03-05 02:15] #3792 closed, assigned to jhpedemonte

[2013-03-05 03:37] JonFerraiolo opened #3796 "After create account, message on login screen too long"
Using maqetta-test (which I believe is the non-hosted build), after creating a new account, you go back to login screen to re-enter your credentials. The message in the gray box at this point is too wordy and wraps, and it looks funny because the error message box is only big enough for one line of text.

[2013-03-05 03:45] jhpedemonte commented on #3796
The message that says you need to verify your email before you can log in?  That comes from Orion.

[2013-03-05 03:48] jhpedemonte opened #3797 "Tree smart input shows blank content"
The smart input dialog for a **dijit/Tree** shows blank content.  It should show a preview of what the tree will look like if user clicks **OK**.

Also, the **Cancel** button doesn't seem to have any effect.

@peller, is this a regression from dot-to-slash changes?

[2013-03-05 03:48] peller commented on #3785
@JonFerraiolo From what I can tell, in `StatesView.js` you're overriding `onDndDrop: dndDone` so it calls your local handler function instead of the onDndDrop function in dndSource.js.  The latter sets up the appropriate state for DnD, such as setting isDragging to false when a DnD operation completes over another tree.  As it is now, isDragging stays true even after the operation is over, so as s

[2013-03-05 03:49] peller commented on #3785
-> @JonFerraiolo

[2013-03-05 03:50] jhpedemonte opened #3798 "TypeError when opening review for non-HTML file"
Create a new review for **app.js**.  When opening up the review, there's a TypeError in Context.js:75:

[code]

I'm guessing that code assumes that the reviewed file is an HTML file.

[2013-03-05 03:57] #3797 closed, assigned to peller

[2013-03-05 03:58] peller commented on #3797
Indeed it is.  Thanks, @jhpedemonte

[2013-03-05 04:31] #3798 closed, assigned to peller

[2013-03-05 07:42] JonFerraiolo opened #3799 "Downloadable ZIP - maqetta.server.mac.command doesn't get execute bit (chmod a+x)"
I downloaded the latest build to test out local install. maqetta.server.mac.command doesn't get execute bit. I had to go into Terminal and manually issue a `chmod a+x maqetta.server.mac.command`.

[2013-03-06 03:34] peller commented on #3782
confirmed that this is working fine on master with build.

[2013-03-06 14:05] #3799 closed, assigned to jhpedemonte

[2013-03-06 22:28] peller commented on #3765
@rbackhouse is there an event I can use to tell when zazl is done loading?  Right now, the loading indicator hooks off dojo/ready (and has to use the global require on the new window)

[2013-03-06 23:03] jhpedemonte opened #3800 "Clicking X to clear out filter field should focus text field"
A user will usually click on the X to clear out the filter field in order to type something new.  Currently, user has to click twice: once to hit the X and once to focus the text field in order to begin typing.

[2013-03-06 23:06] jhpedemonte commented on #3800
While we're at it, might be good to also make it so that clicking in the text field (but not on the X) selects the existing text.  That way, a use can click on the filter field and start typing, replacing the pre-existing text.

[2013-03-07 00:09] jhpedemonte opened #3801 "Error closing Theme Editor (when in background?)"
1. Open a theme in the Theme Editor.
2. Open an HTML file.
3. Reload the page.  After reload, the HTML file should be the selected tab.
4. Run _Close All Tabs_.  Will get error trying to run `this.getContext().destroy()`.

Doesn't seem to happen unless you do a reload.

[2013-03-07 01:14] JonFerraiolo opened #3802 "Any file with 'js', 'html', or 'css' in name assumed to be .js, .html or .css"
@jhpedemonte @peller

I discovered this accidentally when I noticed an exception when processing file "project1/css".

If you have a file or folder with "css" in the name, the  model assumes it is dealing with a CSS file (foo.css). Same thing if the file or folder name has "js" or "html" in the name. The code in Factory.js is simply looking for the string "css", "js" or "html" anywhere in the name

[2013-03-07 02:22] JonFerraiolo opened #3803 "CSS parser can't deal with @import url(foo.css) - without quotes"
Our parser requires @import directives to always use quotes, even if using the url() function. Browsers don't require quotes.

I tried a quick fix, but it doesn't look like CSSParser.js is tokenizing url() correctly for @import. If you have `@import url(foo.css)', you get a token for`url`, then the next token is`(foo`.

[2013-03-07 10:51] rbackhouse commented on #3765
There is not one and I'm not sure how it could be supported. If an application uses staged loading via nested require calls then how could a precise "done loading" point be determined.

[2013-03-07 15:44] peller commented on #3765
Sorry, I know we've had this discussion before.  I think there is some require usage of 'on' in the dojo/ready that may be non-standard, but basically it will fire if the loader is already idle, otherwise it will fire the next time the loader is idle.

If this is not possible, is there some other mechanism, even specific to zazl, that we could establish to fire an event when the main loading is co

[2013-03-07 19:12] #3801 closed, assigned to peller

[2013-03-07 19:38] peller opened #3804 "Should separate Preferences data from UI"
Right now, code includes Preferences, a widget, just to get at data.  At the same time, there's a hashtable in Context that seems to be used for preferences data.  What's the relationship?

@JonFerraiolo @jhpedemonte

[2013-03-08 02:48] peller commented on #3646
@JonFerraiolo Can you take a look at the pull request and merge it if it's good?

[2013-03-08 17:23] JonFerraiolo commented on #3646
Looks good, but I have a couple of concerns:

[code]

(Same sort of thing later on in the file in a couple of places.)

What if those Dojo classes haven't been loaded yet? I realize that in 99.9% of scenarios, these classes will be loaded by something else on the page, but is there a way to make this bulletproof?

Also, I see this check has been removed:

[code]

I wonder if there are timing issue

[2013-03-08 18:50] peller commented on #3646
Good points.

You're probably right that it would be more bulletproof or proper to use async requests for those three modules.  I did that in one method where it seemed reasonable to do so; for the others it was non-trivial.  I'm taking this 99% bet because these three modules are loaded by dijit/_WidgetBase

The second part, the check was removed because the Dojo reference (dojo/query) was replac

[2013-03-08 18:51] #3646 closed, assigned to peller

[2013-03-08 22:17] JonFerraiolo opened #3806 "Exception if attempt to change background color for subwidget in hover state"
(Seeing this in M9, too)
- Clone claro
- Select Calendar
- Choose Selected date
- In States palette, change to Hover state
- Try to pick a different background color

Result=> `TypeError: this._values[this._targetValueIndex] is undefined`

[2013-03-09 04:45] JonFerraiolo opened #3807 "gridx loses track of selected columns"
Regression from M9. Saw this on Win/FF.
- New desktop app
- Add a Gridx
- Choose file from workspace, then sampleManyColumns.json
- On second panel, move some of the columns into left side of slosh bucket
- Click Finish
- Double-click on the gridx widget and go to second pane of wizard

Result=> All of the columns show on the right (instead of showing only the columns that were selected). If you c

[2013-03-09 11:35] rbackhouse commented on #3765
I can look into firing an idle event but it would have to be a Zazl only thing.

[2013-03-09 14:35] peller commented on #3765
I'll take it...

[2013-03-09 14:41] rbackhouse commented on #3765
Ok, any preference on api ? I could do a a custom event via document.createEvent()/document.dispatchEvent() and then access via document.addEventListener() but I'm open to suggestions

[2013-03-09 14:56] peller commented on #3765
that sounds fine.

[2013-03-11 02:34] peller opened #3808 "save-as widget fails on reload"
Created a simple widget. dropped on page.  looks good.
save. close. reopen -> parse error

[code]

[2013-03-11 16:00] JonFerraiolo opened #3809 "Docs still talk about Dojo Mobile"

[2013-03-11 16:13] JonFerraiolo opened #3810 "Project templates"

[2013-03-11 16:39] JonFerraiolo commented on #3809
grep shows these suspicious lines:

[code]

[2013-03-11 17:12] JonFerraiolo opened #3811 "Cannot select children of A element"
@billreed63
- New desktop app
- Add a LABEL and BUTTON
- Multi-select LABEL and BUTTON
- Surround with A
- Save, close, reopen
- Try to select LABEL or BUTTON by clicking on them

Result=> The A element gets selected instead. (Note: you can select children in Outline palette)

Reason is that the widgets.json entry for A has `isControl:true`. This is so that the editFeedback will go on top of the A

[2013-03-11 17:15] JonFerraiolo opened #3812 "HTML widget helpers don't load on page load"
I believe I discovered a problem where Maqetta isn't loading the helpers for HTML widgets on page load, and helpers are only loaded when HTML widgets are added via the CreateTool. I think it's because the helper loading logic only happens on page load in response to `data-dojo-type` attributes, and HTML widgets don't have those attributes.

[2013-03-11 17:43] jhpedemonte commented on #3812
cc @peller

[2013-03-11 21:53] billreed63 commented on #3806
no cascade rules this should only happen when we are in theme editor and the  user has selected a widget or subwidget and then a state not supported by the widget  then changes a property that  the true fix to this will be when #226 is implemented  until then we will check for cascade rules to prevent exception.

[2013-03-11 21:54] #3806 closed, assigned to billreed63

[2013-03-12 00:14] peller commented on #3300
orion/builder rootfile is working now.  Just move top-level rootFiles back to davinci.releng, as suggested by @jhpedemonte

[2013-03-12 00:17] #3300 closed, assigned to peller

[2013-03-12 05:47] cooljeffrey opened #3813 "Missing lib files in both new and existing projects"
Version : Latest GIT version
Reproduce Steps :
1. Create a new Desktop Application, or open an existing project.
2. Open some html file, the VE always shows "Loading ...". The console shows NPE.
Console Logs :

And in maqetta.core.server.user.User ::: findFiles , the following code might throw out NPE if "start == null" .

[code]

[2013-03-12 06:00] cooljeffrey commented on #3813
Checked the dojo plugin, it is up and running.

[2013-03-12 14:24] billreed63 commented on #3813
I just pulled from git an do not see this error, did you do a submodule update? Have you been running successfully from eclipse prior to this?

[2013-03-12 14:36] billreed63 commented on #3795
I am unable to reproduce this with the latest code from git, do you still see this issue? If so what browsers?

[2013-03-12 14:36] cooljeffrey commented on #3813
Yes it did run successfully before I made a pull, then I got this issue. To find the reason, I did cloned the repo again, with submodules, but still got this. All I changed is just removing zazl in the launch config.

[2013-03-12 14:40] billreed63 commented on #3794
With the latest code from git I am seeing the error message, do you still see this error?

[2013-03-12 15:00] billreed63 commented on #3813
Have you tried a clean user workspace?

[2013-03-12 15:12] #3807 closed, assigned to billreed63

[2013-03-12 15:17] JonFerraiolo commented on #3794
Closing. With latest build on maqetta-test, I do indeed see the error dialog.

[2013-03-12 15:17] #3794 closed, assigned to billreed63

[2013-03-12 15:23] JonFerraiolo commented on #3795
Closing. I re-tested on maqetta-test and I don't see this problem with latest build.

[2013-03-12 15:23] #3795 closed, assigned to billreed63

[2013-03-12 15:48] cooljeffrey commented on #3813
Yes, i did deleted all stuff inside my maqetta workspace : __maqetta_server_workspace , including all hidden files/folders, once I registered a new account and tried to create a new desktop applicaiton, I got exactly same errors. Maqetta still failed to find the dojo and themes, and still threw NPE on that method.

[2013-03-12 15:58] #3781 closed, assigned to billreed63

[2013-03-12 19:30] JonFerraiolo opened #3814 "Support HTML list elements and CSS list properties"
It's common for web developers to create UI elements in raw HTML using UL and LI elements and various clever use of CSS. For example, many horizontally-oriented navigation menus use UL/LI with float:left on the LI elements, where the inner content of the LI is a block.

I believe the changes amount to:
- Removing hidden:true on UL, OL and LI
- Updating widgetPalette.jon to add a new LIST sub-secti

[2013-03-12 22:04] jhpedemonte commented on #3481
Merged branch **orion_1_0_3481** into **master**.

[2013-03-13 05:51] peller commented on #344
Orion uploads to a named folder, not directly to the target, which would require handling of collisions.  Filed <a href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=403136">a ticket</a> with Eclipse Orion to request direct zip upload.  It would be best if Orion provided this functionality, I think.

[2013-03-13 14:40] billreed63 opened #3815 "Unable use LDAP authentication with orion 1.0"
With the merge of orion 1.0 I am unable to change the authentication  to use ldap.
I updated the meqetta.conf file but the login screen is still using the base. I also set break points in the LDAP pluging on the server but they are never reached.

[2013-03-13 19:22] JonFerraiolo opened #3816 "Prevent crashes due to fast clicking by user"
@jhpedemonte @peller @billreed63

A user writes:

I suspect the problem is due to "clicking other buttons when I should be waiting for my first action to complete". This issue is to investigate bulletproofing the code to make sure that we don't allow new user actions until the previous user action has completed.

Thinking about this, almost all of our user actions are defined within a action class

[2013-03-13 19:43] #3543 closed, assigned to billreed63

[2013-03-13 21:50] billreed63 commented on #3739
We will need to remove the require of deviceTheme from all the mobile _oam.json files and replace theme with a single script tag that appears before the script tag for dojo. We will also need to move the themMap definitions from the dojo script tag to the deviceTheme script tag:

[code]

By removing the inclusion of deviceTheme from a requires to a script tag we will need to add code when the page

[2013-03-14 13:21] peller commented on #3759
@yoavrubin

[2013-03-14 13:41] yoavrubin commented on #3759
Used Maqetta with Orion 2.0. One change I needed to do is in
maqetta.server.orion.VOrionWorkspaceStorage , line 64
from WorkspaceResourceHandler.computeProjectLocation(project, null, userName, true);
to    WorkspaceResourceHandler.computeProjectLocation(null, project, userName, true);

[2013-03-14 19:43] #3802 closed, assigned to JonFerraiolo

[2013-03-15 02:52] peller commented on #344
TODO: zip upload always unzips at top-level directory

[2013-03-15 14:21] JonFerraiolo commented on #344
I don't think you want to always upload to top-level directory. Long-term, the upload dialog should allow the user to pick a base folder into which the files will be unzipp'd. Short-term, user should pick a base folder in Files palette before launching the Upload command.

[2013-03-15 14:27] peller commented on #344
@JonFerraiolo, sorry, I meant to say, there's a bug: it always uploads the zip to the top-level directory, even though the code seems to explicitly put it in the folder specified.

[2013-03-15 16:39] jhpedemonte opened #3817 "Replace HTML parser"
Need to investigate if we can replace our fragile existing HTML tokenizer/parser with something like DocumentFragment.

Advantages:
- Replace our custom, fragile code with a supported codebase.
- Use browser's native features, which should be faster for queries, etc.
- Better support for newer HTML tags/constructs.

To investigate:
- [DocumentFragment](https://developer.mozilla.org/en-US/docs/DOM/

[2013-03-15 22:04] JonFerraiolo opened #3818 "Candidate parents UI misplaces overlay if page is scrolled"
Just need to subtract current scroll amounts

[2013-03-16 18:47] peller commented on #3817
I think the biggest problems are correlating this DOM back to the original source.  Although you can generate source from a DOM, it doesn't necessarily have the same line/number positions and may in fact have a slightly different structure, right?

[2013-03-18 02:24] #3782 closed, assigned to peller

[2013-03-18 02:31] jhpedemonte commented on #3817
That's true.  Right now, out Model keeps track of line numbers and correlates selection in the source to selection in the VE.

We could probably add such metadata as properties to the DOM nodes, or as a structure on top, but that may not be easy.

[2013-03-18 03:01] peller commented on #3817
but where would we get the line/column metadata without a non-native parser?

[2013-03-18 14:34] peller commented on #3783
fixed by reverting to 0.5 code in 84959c3b8fabb9faad4111d79fbbf8f06ff974ef

[2013-03-18 14:34] #3783 closed, assigned to peller

[2013-03-18 17:43] peller commented on #3725
If you mean the "no element found" warnings, that seems to be a lint-type message that indicates there's no DOCTYPE on the file.  That's in the same class of errors as json not well formed, etc.  @JonFerraiolo, can you confirm?

[2013-03-18 18:09] peller opened #3819 "invalid css in davinci.css"
@billreed63

[code]

Shouldn't there be a single background-image property listing the variants?  Also, the syntax doesn't seem right in the parens.

I see a similar pattern in our themes (e.g. themes/claro)

[2013-03-18 18:13] peller commented on #3819
FF complains about this.  Maybe it's just complaining about the -webkit variant and there's nothing wrong?

[2013-03-18 18:29] JonFerraiolo commented on #3819
With CSS, that's how you provide multiple vendor-specific property values - you have to specify N versions of the property. Browsers will take the last one that works and ignore any values who syntax it does not recognize. Therefore, always put the official W3C syntax as the last value so that the vendor-prefixed version will get overridden by the official W3C syntax version.

But keep this open a

[2013-03-18 18:30] JonFerraiolo commented on #3725
Reassigning to me to see if problem still exists. If it does, include console message text and send back to @peller.

[2013-03-18 18:54] jhpedemonte opened #3820 "M10 Migration issues"
Migration issues to investigate/handle for M10 release:
- [x] Are old users migrated correctly?  For both regular login and LDAP?
  - Check that user properties (particularly "login" and "email") are set correctly.
  - Check that users can access their files from Orion Navigator.
- [x] Are pre-M10 users' file rights correct? Can they view their projects/files in Orion Navigator? See f7eda0823d46da

[2013-03-18 19:16] JonFerraiolo opened #3821 "OAM path to dojo is wrong, isn't used"
Low priority.

All of our oam_json files (dojo, gridx, shapes, clipart, custom widgets) contain this snippet:

[code]

but dojo and other libraries can be relocated such that the relative reference in the OAM files won't necessarily be accurate.

No problem at the moment because we don't use that use that reference to `dojo.js`, and instead dojo is just there (preloaded by other logic).

So, (1) e

[2013-03-18 20:13] JonFerraiolo commented on #3820
Regarding custom widgets in M9, I just added a new `customWidgetSpec` property to all of the `*_widgets.json` files for custom widgets. Right now, if that property is not present, then M10 will print a console warning message and simply ignore that custom widget. Therefore, what we need to test is create a custom widget in M9 and make sure that the console message appears in M10 and that the widge

[2013-03-18 21:25] #3811 closed, assigned to JonFerraiolo

[2013-03-18 21:25] #3812 closed, assigned to JonFerraiolo

[2013-03-18 21:25] #3818 closed, assigned to JonFerraiolo

[2013-03-19 00:37] peller commented on #3808
fixed by @JonFerraiolo's checkin 581b76e6fd24a9af696842d97971eaf934c4fb2b

[2013-03-19 00:37] #3808 closed, assigned to peller

[2013-03-19 19:45] peller commented on #3191
30ea8d1c79f5c6489480d31a3714ce766f3aa5cb

[2013-03-19 19:54] jhpedemonte opened #3822 "Automated testing"
Need to create automated tests for Maqetta server and client.

Best solution is to follow Orion's lead, which uses **JUnit** for testing the Java server and **js-test-driver** for running JavaScript tests against the client code.

References:
- [Orion - Running the tests](http://wiki.eclipse.org/Orion/Running_the_tests)
- [Orion - Writing JS Unit Tests](http://wiki.eclipse.org/Orion/JS_Unit_Test)

[2013-03-19 21:55] billreed63 commented on #3822
I am not sure js-test-driver is what we want for the client side
from the  [DesignPrinciples page](https://code.google.com/p/js-test-driver/wiki/DesignPrinciples)
"JsTestDriver is to unit-tests what Selenium is to end-to-end tests. The goal of JS Test Driver is to make JavaScript unit test development as seamless as and easy as Java unit tests."

[2013-03-19 22:01] jhpedemonte commented on #3822
Right, I'm saying let's use what Orion has in place as the base for our automated testing strategy.  So we use js-test-driver to create our units tests: say, testing the code that loads and parses widget metadata.  On top of this, we can integrate a testing framework like Selenium to do the end-to-end or integration tests.  They are not mutually exclusive.

[2013-03-19 22:05] jhpedemonte commented on #3820
Can we do not any bit of migration in the code, to add `customWidgetSpec` if it's not there?  Or is it not worth it?

[2013-03-19 22:07] billreed63 commented on #3822
Correct, but our code is so intertwined I suspect it will be very hard to pull out pieces for UT.

[2013-03-19 23:42] #344 closed, assigned to peller

[2013-03-20 03:11] jhpedemonte opened #3823 "Cleanup Maqetta Servlets"
May be able to get rid of DavinciCommandServlet (and other servlets?) and replace with entries in `maqetta.server.configurator/plugin.xml`.  Can also make use of Orion's `LoggedInUserFilter` and `AuthorizedUserFilter`.

Also, a lot of the commands (specified in `maqetta.server.orion/plugin.xml`) can be consolidated, using URL params or POST data to differentiate on the action or requested data.

[2013-03-20 03:30] jhpedemonte commented on #3823
For example, the R&C commands `/addComment`, `/getComments` and `/updateComment` can all be replaced with a single path (and servlet):

[code]

There are also several getters for workspace info which could be easily consolidated.

@peller

[2013-03-20 14:05] cooljeffrey commented on #3813
After several times of clean clone and tries, I resolved this issue. I am still not sure about what was wrong with the git or repo, however I confirmed that taking use of Maqetta nightly builds ( like 0312 ) as target runtime would cause some compile errors on some code referencing to Orion, because the dependent orion version was not matched, once I set up the target runtime by using Orion 1.0 bu

[2013-03-20 14:05] #3813 closed, assigned to nobody

[2013-03-20 15:17] peller commented on #1962
reopening.  Should consider putting these requests on a timed queue, also canceling pending requests rather than waiting for them.  @jhpedemonte

[2013-03-21 18:53] lpmontx opened #3824 "bracket pair highlighting would be a great feature"
Some editors highlight the corresponding grouping character like  (  {  [    when one is selected.  This is a great tool and time saver when trying to find an unmatched grouping character.

[2013-03-21 19:48] JonFerraiolo commented on #3824
-> @peller
Does Orion support this (or will an upcoming release support this)? After answering that question, next question is whether we can (or should) enable it in the source pane within visual editor, or only enable it for using Orion's own UI (via Open->Orion Navigator)

[2013-03-21 19:54] peller commented on #3824
Orion does support this.  Need to find out why it's not active in our editor.

[2013-03-21 23:55] #3824 closed, assigned to peller

[2013-03-22 02:48] #1962 closed, assigned to nobody

[2013-03-22 03:58] JonFerraiolo opened #3825 "New clipart widgets - remaining tasks"
I checked in about 20 new clipart icons. Here are remaining cleanup tasks relative to those new clipart widgets:
- Need to update widgetPalette.json (all versions)
- Some of the icons needs to have different default sizes. For example, the flowchart icons need to be bigger than 16x16, and the graph icons need to be smaller
- The large icons for the widget palette for all of the 16x16 clipart shoul

[2013-03-22 15:30] JonFerraiolo opened #3826 "Update M10 docs"
@peller @billreed63 @jhpedemonte

Usual task with each release where we need to update the docs.

Could people please either directly update the release notes in the docs/ folder (Release10.html) or at a minimum add notes to this issue about items that need to be included in the release notes? Here are some things that come to mind that we probably should mention in release notes:
- Update to Orio

[2013-03-22 17:10] #3825 closed, assigned to JonFerraiolo

[2013-03-22 17:35] JonFerraiolo commented on #3670
Closing - We have all of the above icons, and many more new ones, too.

[2013-03-22 17:35] #3670 closed, assigned to JonFerraiolo

[2013-03-22 17:38] JonFerraiolo commented on #3734
Hey, I must have fixed something fundamentally broken with SaveAs Widget. These widgets now work inside of a custom widget.

!!!!

[2013-03-22 17:38] #3734 closed, assigned to JonFerraiolo

[2013-03-22 17:46] #3768 closed, assigned to JonFerraiolo

[2013-03-22 18:42] #3632 closed, assigned to JonFerraiolo

[2013-03-22 20:06] peller opened #3827 "make getLibRoots asynchronous"
Initial attempt 538e58c915e777265361e37d0dc6efd04c2ee448 resulted in failures later in the editor creation process, where the dojo.js element was referenced concurrently with loadRequires

@billreed63

[2013-03-26 00:15] jhpedemonte commented on #2841
May be fixed by moving to Maven/Tycho-based system (#2807).

[2013-03-26 17:07] jhpedemonte commented on #3826
The big change here is that we've updated **maqetta.conf**.  Mainly added properties, but also some have changed (i.e. mail).

[2013-03-26 18:18] jhpedemonte commented on #3815
Fixed by f334fe86d2f9aa3f03774e45ba67febd83a835d0.

[2013-03-26 18:18] #3815 closed, assigned to jhpedemonte

[2013-03-26 18:20] jhpedemonte commented on #3793
So the Orion mail code just sends text emails.  I believe there's no easy way to do HTML emails.

However, from the looks of it, there really isn't a reason to use HTML anyway.

[2013-03-26 21:31] jhpedemonte commented on #3759
Significant changes:
- Changes to `WorkspaceResourceHandler` API
  - `toJSON()`
  - `computeProjectLocation()`
- Branch change for base builder in `releng/org.eclipse.orion.releng/builder/scripts/masterBuild.sh`
- Removed Dojo dependencies (org.dojotookit bundle).

[2013-03-27 14:43] JonFerraiolo opened #3828 "Internationalize and bulletproof file, project, etc. naming form fields"
@peller @billreed63 @jhpedemonte

For various form fields (e.g., file name, project name, project template name, theme name), JavaScript doesn't offer convenient regular expression features to allow for any international alphanumeric (basically, I'm looking for a `\w` except one that isn't restricted to ASCII). Java and other languages offer `\p{L}` to mean "any alpha" but that construct is not su

[2013-03-27 14:47] JonFerraiolo commented on #446
My current thinking is that we should have a Maqetta version of `alert()` and `confirm()` that is packaged nearly as simply as the standard browser versions of these functions.

[2013-03-27 14:47] JonFerraiolo commented on #446
-> M11 Prio High - let's take care of this once and for all

[2013-03-27 14:51] jhpedemonte commented on #3828
One option:  for the login fields, at least, Orion doesn't do client side checking.  Rather, the form values are submitted and the server does the checking (which it would have to anyway, regardless of client-side checking).  If validation fails, an error is returned to the client.

[2013-03-27 18:11] peller commented on #3828
What is it we're trying to bulletproof?  Is this just where we need to avoid certain characters like slash and dot?  I think in many cases, alphanumeric is already too restrictive, even for just ASCII, but we could extend what we have now to allow unicode alphabets by just adding the unicode range above ascii.  Do we really need to pick and choose from all those alphabets?

@jhpedemonte has a poin

[2013-03-27 18:50] #3759 closed, assigned to jhpedemonte

[2013-03-27 19:35] JonFerraiolo commented on #3828
Yes, we need to do server-side validation, but I don't think we want to implement `cmd/validateProjectName` and potentially several other REST calls, and do REST calls with every keystroke in order to update the UI on ValidateTextBox, when a simple regex would solve the client-side validation problem. We just need to make sure that the client-side regex doesn't allow any characters that will be re

[2013-03-27 19:37] peller commented on #3828
I'm not suggesting implementing a server-side REST service for validation, just making sure our existing REST services which take inputs for project name do the necessary validation and/or bulletproof there.

[2013-03-27 21:02] jhpedemonte opened #3829 "Upgrade to Orion v3.0"
Server changes between [2.0 & I201304102230](http://git.eclipse.org/c/orion/org.eclipse.orion.server.git/diff/?id=I201304102230&id2=R2_0)
Client changes between [2.0 & I201304102230](http://git.eclipse.org/c/orion/org.eclipse.orion.client.git/diff/?id=v20130410-2245&id2=R2_0)

Orion v2.0 issue #3759

---

**Tasks:**
- [ ] Revert 2d0af3fe6a12771f166b167a7929896d84c36213? (if bug [403261](https://bu

[2013-03-27 21:03] jhpedemonte commented on #3829
Notable changes:
- "guest" account support
- LDAP authentication (org.eclipse.orion.server.user.ldap)
- WAR support.
  - The code that starts up Jetty instance is now part of `WebApplication.java`.

[2013-03-27 22:25] JonFerraiolo commented on #3829
Cool!

[2013-03-28 06:29] brylie opened #3830 "Animation support"
It would be really great if Maquetta could support animation. This could include shape tweening via CSS transforms, color changes, etc.

[2013-03-28 14:33] peller opened #3831 "remove duplicate copy of pagedesigner.html"
There are two copies of this file, one in core.client, the other in client.orion, probably a holdover from the standalone days.

I vote for removing the copy in client.orion.

[2013-03-28 14:53] JonFerraiolo commented on #3831
We should get rid of the entire client.orion project, merging all of the files there into maqetta.core.server

[2013-03-28 16:15] billreed63 opened #3832 "Tree Smart Input events drop down does not show states"
Adding event handling to nodes

Steps
Continuing with the file above, create a new state in the Scenes view called myState.
Add an HTML label to the page below the table and change the text to something like "This text will change size on state change."
Select myState in the Scenes Palette.
In the Properties Palette, go into Font Properties for the label. Follow the cascade for the size field, che

[2013-03-28 16:26] jhpedemonte commented on #3830
-> @JonFerraiolo

[2013-03-28 17:28] JonFerraiolo opened #3833 "Edit review - what actually happens with project snapshot?"
I noticed that if do the following:
- Create a review
- Add a new HTML file
- Edit the review

Then the new HTML file shows up in the list of files that could be included in the review. But this makes me scratch my head. I would think that once you create a review, we do a snapshot of the current project, and that snapshot applies for the duration of the review. Therefore, if we add a new HTML fil

[2013-03-28 17:39] JonFerraiolo opened #3834 "Review session with SampleMobile - Scenes palette not working correctly"
- Open Sample3-Mobile.html
- Save in root of project
- Create a review with that file
- Open the corresponding *.rev file

=> Notice that the current view isn't selected in Scenes palette
- Click on the first ListItem. The canvas will animate to second view.

=> Notice that nothing happens in Scenes palette
- Click on the scenes in Scenes palette.

=> Notice that nothing changes on the canvas

[2013-03-28 17:40] JonFerraiolo commented on #3834
@peller any ideas on this one?

[2013-03-28 17:40] billreed63 opened #3835 "States are missing from event drop down in properties palette"
Steps
(continuing on the same file created in the previous test)
Select the first button widget. On the Properties palette, go to the onclick property and use the dropdown menu to choose the option to switch to the "Background" state
Select the second button widget. On the Properties palette, go to the onclick property and use the dropdown menu to choose the option to switch to the "aaa" state
Sel

[2013-03-28 17:41] billreed63 commented on #3832
could be the same bug as #3835

[2013-03-28 17:43] JonFerraiolo opened #3836 "Review tooltips sometimes don't go away"
This has been a problem forever. If you hover over a review to bring up the review tooltip, and then click some something to cause the palettes to move around, the tooltip will never go away (until a browser refresh)

[2013-03-28 17:53] JonFerraiolo opened #3837 "Review notification files show HTML source code"
Review notification files (with subject=Reviewer has added a comment on your page.) show the HTML source code for the email message. For example:

[code]

[2013-03-28 17:57] JonFerraiolo opened #3838 "Newly opened files have dirty bit even if no changes"
@billreed63
- Create a new HTML file, save, close, reopen

Result=> dirty bit is on

[2013-03-28 18:11] billreed63 commented on #3835
I don't think icon 6 is working either, I think we have issues with the whole states test case
maqetta.core.client/WebContent/test/testplan/StatesPalette/basic.html

[2013-03-28 18:12] JonFerraiolo commented on #3793
Also, review notification emails (not just invitations)

[2013-03-28 18:12] JonFerraiolo commented on #3837
Merged into #3793, closing this one.

[2013-03-28 18:12] #3837 closed, assigned to jhpedemonte

[2013-03-28 18:13] jhpedemonte commented on #3836
@peller, any Dojo magic we should be aware of for this?

[2013-03-28 18:18] peller commented on #3836
If they're standard Tooltips, setting focus somewhere else in the document ought to trigger the action to teardown the tooltip.  Perhaps there's some iframe confusion going on?

[2013-03-28 18:42] JonFerraiolo opened #3839 "Can't create new theme in Eclipse project"
@peller @jhpedemonte

Haven't tested against M9 yet, but with latest build on maqetta-test, if you are in an Eclipse project and attempt to create a mobile theme, the theme editor uses the wrong URL for getting to dojo.js, and the theme editor hangs (loading spinner just stays there forever).

With regular projects, the path to dojo.js is:

[code]

but with Eclipse projects, it is:

[code]

My gue

[2013-03-28 20:06] #3838 closed, assigned to peller

[2013-03-28 20:51] JonFerraiolo opened #3840 "New user registration says "Orion" instead of "Maqetta""
The email that is sent when clicking on the Register button has the following subject:

Confirm your email for Orion

[2013-03-28 21:11] JonFerraiolo opened #3841 "Mac launch script doesn't work if any ancestor folders have space in name"
I thought this worked in previous releases.

Should be easy fix - I would guess that we just need to properly quote variables.

I accidentally installed a downloadable zip in a path where there was a space in an ancestor folder name. (In this case, "maqetta 2"). The launch script died with this showing in my Terminal window:

[code]

[2013-03-28 21:11] JonFerraiolo opened #3842 "Test Windows launch script with folders with spaces"
Just a testing reminder.

[2013-03-28 22:59] JonFerraiolo opened #3843 "Update Mac local install instructions to deal with stricter privacy settings"
@jhpedemonte

If a Mac user has his security settings to say "only allow apps from app store and identified developers", then Maqetta local install launch script won't run, due to being suspected malware.

See this page: http://support.apple.com/kb/ht5290

[2013-03-28 23:05] JonFerraiolo opened #3844 "Left and top properties don't appear in Properties palette for absolutely positioned dijit.form.Button"
Weird one.
- New sketch
- Drag/drop a dijit.form.Button
- Look at Layout section of properties palette

Result=> No values for left and top. However, if you drag/drop a ComboButton or almost any other widget, you will see values for left and top

[2013-03-28 23:50] JonFerraiolo opened #3845 "Tree widgets when only child of a container grow to 100% even if absolutely positioned"
@peller

I was working with a designer who wanted to use Tree in sketch mode.

Tree widgets have this feature where if it's the only child of a another container (even a plain old DIV) the Tree widget grows to fit the bounds of that container. He had a container (think ContentPane or DIV) and dropped the Tree into the container. Even though we set Tree to a particular size, the Tree's own behavior

[2013-03-29 03:03] jhpedemonte commented on #3843
Hmm, right.  So a user would have to right click on the **.command** file and select **Open**, rather than simply double-clicking.  The workaround is to sign the app (& .command file?), but I think workaround instructions are fine for now.

[2013-03-29 03:22] jhpedemonte opened #3846 "Replace Orion's email templates for registration, password reset, etc."
We are now using Orion's email APIs. Unfortunately, the Orion code uses its own mail templates and they cannot currently be (easily) overridden.  See Orion bug [403261](https://bugs.eclipse.org/bugs/show_bug.cgi?id=403261).

Until that bug is fixed, we have several options:
1. As part of the build step, overwrite the Orion mail templates with our own.
2. Use Java reflection to change the visibilit

[2013-03-29 03:24] jhpedemonte commented on #3846
References:
- [Using AspectJ for Accessing Private Members without Reflection](https://blogs.vmware.com/vfabric/2012/04/using-aspectj-for-accessing-private-members-without-reflection.html)
- [Equinox Weaving](wiki.eclipse.org/Equinox_Weaving_QuickStart) - Using AspectJ with Equinox/OSGi bundles.
- [AspectJ & PDE Build](http://contraptionsforprogramming.blogspot.com/2010/03/ajdt-pde-builds-redux.ht

[2013-03-29 03:26] jhpedemonte commented on #3840
Dupe to #3846.

[2013-03-29 03:26] #3840 closed, assigned to jhpedemonte

[2013-03-29 15:48] peller opened #3847 "Source editor sync is inaccurate"
Open Sample1.html
Go to split view
Click on the "New" button, and the source is selected.
Click on "Del" and it selects the wrong widget, a div beneath the input.  Click on "sort by" label and it selects a tag further down in the document.

[2013-03-29 23:29] JonFerraiolo opened #3848 "Files palette bulletproofing"
On both the toolbar and context menu, should disable rename and delete on files and folders managed by Maqetta (e.g., libs and themes).

Need to work on the isEnable logic for delete and rename on the context menu to be smarter, like what I did for the toolbar icons. In particular, disable delete if no resources are selected or a readonly resource is selected, and disable rename if #selected resou

[2013-03-30 12:10] rbackhouse commented on #3765
I've updated the version of Zazl used by maqetta and enabled the Filter code to use the warmup support

[2013-03-30 14:09] JonFerraiolo opened #3849 "Server exception with create project and rename operations"
(This problem is preventing me from merging the project templates feature #3810 into master)
- Create new CSS file file1.css
- In Files palette, rename it to file1a.css

Result => server exception. Here is what shows in the Java console:

[code]

[2013-03-30 14:58] JonFerraiolo commented on #3849
Rename works fine with this commit: 86547a066931498a570cfeaa0e933c2863d3fd3f

But fails with this commit (which is 3 commits later): 32798c1394f86dd9dd3f0a8586aa8456595c2a0c

[2013-03-30 15:15] JonFerraiolo opened #3850 "Update workbench *.plugin.js files to support all functionality in palette toolbars"
Because the workbench's toolbar declarative markup has limited functionality, we've had to implement some of the palette toolbars (or parts of the toolbars) with JavaScript logic right in the guts of Maqetta. Would be best if all aspects of Maqetta's UI could be implemented within the *.plugin.js files.

One possible approach would be to have the *.plugin.js files offer an optional class mechanism

[2013-03-30 15:44] JonFerraiolo opened #3851 "Code cleanups with project templates feature"
Depends on #3849

Once #3849 is there, I can make these code cleanup changes for the new project templates feature:
- ManageProjectTemplates.js:
  - Remove function setFocus() - never used
  - Bad comment in okButton() above checkForChanges()
- ProjectTemplatesManager.java
  - in getProjectTemplateIndex - always return a clone. Don't want calling routines to modify the master index
  - Line 83: re

[2013-03-30 21:12] JonFerraiolo opened #3852 "getInitializationInfo dies if project templates directory doesn't exist"
The project templates branch hasn't been merged in yet, so only a problem for me for now

[2013-03-31 03:05] peller commented on #3847
this happened in M9 also

[2013-03-31 04:16] JonFerraiolo commented on #3852
At ProjectTemplatesManager.js:40, instead of returning null, need to create an empty index file:

[code]

[2013-03-31 05:59] JonFerraiolo commented on #3836
Not standard tooltips - the review palette is showing and hiding the tooltip itself, and controlling timers itself. It uses mouseover to trigger a 1sec timer to show the Tooltip, and then uses mouseleave to trigger a 1 sec timer to hide the Tooltip. I suspect the problem is that mouse events only get triggered when the mouse moves, and sometimes Maqetta changes the position of things underneath.

[2013-03-31 15:37] JonFerraiolo commented on #3836
Actually, let's talk about the review tooltips with our UI team. I'm not sure that the tooltips provide much value. It might be better to have a small "i" info icon that the user has to press to see info about the review, and then put a close box on the popup that appears.

[2013-03-31 17:11] JonFerraiolo commented on #3851
(nevermind my previous comment)

[2013-03-31 20:14] peller commented on #3826
@JonFerraiolo beat me to it 5cca8bfe03cdf2959a463d2bd9f012210b0d6e1c

[2013-03-31 20:16] peller commented on #3826
I'll add a few notes about the source editor.   Only features I'm aware of so far are little things like bracket matching and folding ruler for JS comments

[2013-03-31 20:40] peller commented on #3834
So the problem is that scenes associated with views do not work in review, right?  Is this a regression?  I confirmed that it also fails in M9.  At first, I thought perhaps it was related to some AMD changes to the states code, but I think we can rule that out if it worked in M9

[2013-03-31 21:50] JonFerraiolo commented on #3834
I checked M9 on maqetta.org. What I see is that if I create the content from scratch, the review features are working correctly.

However, when I try to recreate the content from scratch with M10, and create a review with the newly created mobile app, when I try to open the *.rev file, the canvas shows this:
![Screen Shot 2013-03-31 at 2 48 15 PM](https://f.cloud.github.com/assets/706721/322437/c8

[2013-04-01 00:22] JonFerraiolo commented on #3785
I hacked on my own local copy of dojo and put a bunch of console.log() statements into various dojo dnd routines, including some files in dojo/dnd/\* and dijit/tree/*, and I'm absolutely convinced there is a dojo bug when you have two tree widgets on a page and enable dnd on both of the trees. I attached different random numbers to various dnd objects so I could see which objects were getting invo

[2013-04-01 00:32] JonFerraiolo commented on #3785
Wait a minute - I looked at something else and maybe there is indeed something wrong on the Maqetta side. Nevermind for now.

[2013-04-01 01:27] wkeese commented on #3785
FYI, both dndSource objects are involved in the DnD because you are dragging from one dndSource and _might_ drop onto the other  dndSource.   No way to predict where the user is going to drop the object.   So, isDragging simply means that "the user is dragging something".

As Adam wrote a month ago the problem was with you overriding onDndDrop, preventing one of the trees from getting the notifica

[2013-04-01 01:45] jhpedemonte commented on #3849
I think you are using the wrong target platform; need to point to Orion v2.0 (see [this post](https://groups.google.com/d/msg/maqetta-devs/MzfG_Ap2D8g/eV8wuQp1sx0J)).

[2013-04-01 01:45] #3849 closed, assigned to jhpedemonte

[2013-04-01 05:01] JonFerraiolo commented on #3849
Yes, that's right, I forgot to update to my Target Platform.

[2013-04-01 06:36] #3851 closed, assigned to JonFerraiolo

[2013-04-01 06:36] #3852 closed, assigned to JonFerraiolo

[2013-04-01 06:46] #3785 closed, assigned to JonFerraiolo

[2013-04-01 06:47] JonFerraiolo commented on #3810
Fixed by commits I pushed today.

[2013-04-01 06:47] #3810 closed, assigned to JonFerraiolo

[2013-04-01 14:32] peller commented on #3834
@JonFerraiolo what steps are necessary to get to the error you show above?  If I create a mobile app from scratch in M10 with two views and some buttons, it seems to open fine in preview (though still no state updates)  What was the url for the 404?  Was this in an Eclipse project, perhaps?  Sounds like a separate issue?

[2013-04-01 15:32] JonFerraiolo opened #3853 "Make project and template REST APIs async"
@peller

[2013-04-01 16:03] peller commented on #3834
could have been this fe38c0ce0603643d85adbc38cc61e4e55fbddcc5

[2013-04-01 16:13] JonFerraiolo opened #3854 "New tutorial (or add to existing tutorial) for project templates feature"

[2013-04-01 16:56] JonFerraiolo opened #3855 "Final UI tweaks to Files palette toolbar"
@jinsil @jhpedemonte @peller @billreed63

This issue attempts to list detailed UI tweaks that we might want to make to Files palette toolbar features.

To run a nightly build with latest UI, pull down this nightly build:

http://maqetta.org/nightly/maqetta-orion-201304010100.zip

Here are snapshots of the current UI with various comments interspersed:
### Files palette toolbar and project dropdown

[2013-04-01 16:58] JonFerraiolo opened #3856 "No validation indicator when typing invalid character in Save as project template dialog"
If you type an invalid character into the name field on the Save as project template dialog, the Save button gets disabled, but there is no error indication in the combobox.

[2013-04-01 17:35] JonFerraiolo opened #3857 "On Firefox, project dropdown shrinks to size of current project even if only 1 char"

[2013-04-01 18:24] JonFerraiolo commented on #3835
-> @peller - This commit caused the menu to not show any states:

https://github.com/maqetta/maqetta/commit/2460303e1b970bdf52f8106cf907a0f81b0b166f#maqetta.core.client/WebContent/davinci/ve/widgets/EventSelection.js

When I use the EventSelection.js code from before that commit with the latest Maqetta, the states appear in the menu.

I think the new code that tries to use Array.reduce is wrong (i

[2013-04-01 18:34] #3857 closed, assigned to JonFerraiolo

[2013-04-01 19:22] JonFerraiolo opened #3858 "Research quoting logic in EventSelection.js"
line 90-91 is suspicious:

[code]

Seems to be a no-op

@peller

[2013-04-01 19:31] peller opened #3859 "remove deprecated widget APIs: _Widget, _Templated, widgetsInTemplate:true"

[2013-04-01 19:36] #3856 closed, assigned to JonFerraiolo

[2013-04-01 20:57] JonFerraiolo opened #3861 "Paste source code produces blank page"
- Open Sample1.html
- Save-as into the root folder (e.g., as a1.html)
- Go to source view, select all, and "copy"
- Close a1.html
- Create new desktop app
- Go to source view
- Select all, then "paste"
- Go to design view

Result=> blank page
- Save, close, reopen

Result=> page is still blank (and source view shows a default page)

I haven't debugged to see where things aren't working. I can succ

[2013-04-01 21:48] #3858 closed, assigned to JonFerraiolo

[2013-04-01 21:52] peller commented on #3861
yet if you paste a second time, it seems to work...  no obvious exceptions

[2013-04-01 23:22] #3834 closed, assigned to JonFerraiolo

[2013-04-01 23:36] JonFerraiolo opened #3862 "Eclipse projects has incorrect folder structure"
@peller

In Mac/FF, if I create an Eclipse project, then try to create a new desktop app, the new page editor hangs, and the console shows that there was a 500 return code on the call to getThemes.

Wouldn't be surprised if this is the same bug as #3839

[2013-04-02 02:04] peller opened #3863 "Orion integration: content created not visible in Orion"
Followed instructions from Orion integration test.  All worked as expected until the last step.  In Orion, none of the Maqetta content is visible.  The new folder appears to be empty.  Go back into Maqetta, everything is there...
1. Login to Maqetta. Select Open > Orion Navigator to open Orion in a new tab.
2. In Orion, select New > Folder. Click to open the newly created folder.
3. Create another

[2013-04-02 02:11] JonFerraiolo commented on #3809
Closing. I checked all of the references and everything is fine as is.

[2013-04-02 02:11] #3809 closed, assigned to JonFerraiolo

[2013-04-02 02:12] JonFerraiolo commented on #3814
Pushing to M11. Can't sneak this into M10 because we need SmartInput for OL and UL, and that will take some work.

[2013-04-02 02:49] JonFerraiolo commented on #3393
Closing. @jhpedemonte's various fixes eliminated this problem along the way.

[2013-04-02 02:49] #3393 closed, assigned to JonFerraiolo

[2013-04-02 03:43] #3836 closed, assigned to JonFerraiolo

[2013-04-02 14:37] jhpedemonte opened #3864 "Use Eclipse Team Project Sets in developer setup instructions"
Our [developer setup instructions](https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup) tell users to download a set of projects.  A better solution is to create [Team Project Sets](http://help.eclipse.org/juno/index.jsp?topic=%2Forg.eclipse.platform.doc.user%2Ftasks%2Ftasks-cvs-project-set.htm) and have developers import that.

[2013-04-02 14:39] peller opened #3865 "Provide polymorphism on Context objects"
Presently, we have code which depends on the global `declaredClass` attribute to differentiate Context subclasses for review and theme editor.  We should use duck-typing instead, perhaps declaring a flag if nothing more suitable is available.

Marking priority high for M11 so this is taken care of early in the cycle.

@JonFerraiolo

[2013-04-02 14:41] JonFerraiolo opened #3866 "HTML select SmartInput: puts "+" on all entries"
- Drag/drop an HTML <select>
- In SmartInput, add a "+" in front of the first item (Item 1) and click OK

RESULT=> Item 3 is selected, not Item 1.
- Double-click again on <select> element

RESULT=> SmartInput has "+" on all 3 rows

[2013-04-02 14:42] peller commented on #3865
see 3ce823f6ee9ea38dc7425e1ba0430f1a3a02fb70

I don't see any references to `davinci.ve.ThemeEditor.Context` and only a few to `davinci.review.editor.Context` in dojo_1_8 callbacks js (I clearly missed that file) and a bunch more to `davinci.ve.Context`

[2013-04-02 14:51] JonFerraiolo opened #3867 "Can't enter a value for DateTextBox"
I added a DateTextBox and in "Widget" part of properties palette tried to enter various date values such as "2013/04/02". The value went into the source code, but no value appears inside the widget itself on the canvas, the widget palette shows a blank value for the "value" property, and with preview, nothing appears inside the widget at preview time.