[2012-05-09 21:08] #2046 closed, assigned to childsb

[2012-05-09 21:08] doronrosenberg opened #2222 "_Widget::_getData does not support numeric property values"
@jhpedemonte

The logic is this:
- Does the value have a length prop (so value is a string)
- Is it a boolean?
- Ok, but be an object.

Numeric types fall through, in this case for carousel

[2012-05-09 21:19] doronrosenberg opened #2223 "Datastore widget Inputs need to be redesigned, support embedded smart inputs"
We have a common input class, DataStoreBasedWidgetInput, which several widgets use.  That UI needs a general makeover, but what it really needs is to support replacing the textbox editing with another widget that does fancy editing.

The current text based adding of data for datagrid and friends is cumbersome and doesn't scale well.  We are probably going to start having fancy inputs for more list

[2012-05-09 21:26] #515 closed, assigned to doronrosenberg

[2012-05-09 21:26] #2222 closed, assigned to doronrosenberg

[2012-05-09 21:27] doronrosenberg commented on #515
some fixes for this were checked in 575d3f8d3e39f184ad1004331fe648a44a066c32 by mistake as well.

[2012-05-09 21:33] childsb commented on #1962
handleAs:JSON seems to be only for server RESPONSE.  Not the data posted (got an error when i tried, and the docs indicate the same).

Here's what I arrived at:

_updateWorkbenchState: function(){

[code]

my thinking is we need semaphores to prevent multiple XHRs from happening at once and to preserve the ordering.

[2012-05-09 21:37] peller commented on #1962
hm, ok, but how about using JSON.stringify instead of dojo.toJson?

There are no semaphores in JS, and moving to async I/O is really important.  If ordering is really an issue, I suppose you can add a timestamp to the message and we can toss anything that arrives out of order, though it seems unlikely.

[2012-05-09 21:38] peller commented on #1962
I'm confused. Why is the Deferred necessary?

[2012-05-09 21:59] childsb commented on #1951
All these changes looks good.

I do like a single entry point for JSON requests (doesn't have to be in Runtime) just to ensure everyone is doing it the same way.

[2012-05-09 21:59] jhpedemonte commented on #2160
I was hoping there was a way to query in `handleIOError` whether the original XHR request had an `onError` handler and if so, let it pass.  But that's not feasible, mainly because so many error handlers get added along the way, depending on how the XHR is invoked.

I'm thinking the best solution in this case is to filter/limit the cases in which `handleIOError` takes action.  Jon said it should on

[2012-05-09 22:00] JonFerraiolo commented on #2223
yes, I agree

[2012-05-09 22:56] peller commented on #1951
that would just result in dead code and unneeded dependencies, IMO

[2012-05-09 22:58] jhpedemonte commented on #2160
Another thought:  in this case, the var `reason` that is passed into `handleIoError` is an **Error** thrown by the dojo.xhr code, which tries to handle _app.css_ as a JSON file but fails.

However, we're only interested in I/O (network) errors here -- the above Error has nothing to do with I/O.  In `handleIoError`, should we ignore any invocation where `reason.status` is undefined?  Is there any o

[2012-05-09 23:49] jhpedemonte commented on #2160
One option: make this opt-in.  Provide an API allowing us to register **regex** for certain URLs.  Then if `deferred.ioArgs.url` (in handleIoError) matches any of the registered URLs, we call `Runtime.handleError`.

[2012-05-10 00:08] JonFerraiolo opened #2224 "Resize widget with margin-left by pulling on left edge of focus => wrong result"
- Sketch mode
- Add a Calendar
- Set margin-left to 50px
- Pull on left edge of Calendar

Result=> Calendar shifts 50px to right

The more serious problem is that widgets that have margins by default get shifted when pulling on left edge (and presumably top edge)

[2012-05-10 00:10] billreed63 commented on #2166
I have addressed most of the issues with e4718e6441f82b2a6cf7a61e1b5dfad73bf92790  We still have a couple of outstanding issues
1) If a CSSProperty is deleted the comments before and/or after after are deleted as well. This is due to the way the CSSParser handles comments an attaches them to the closes CSSProperty.
2) Block comments get newlines added to the end of the comment, again this is due t

[2012-05-10 00:52] peller commented on #1951
-> @peller

given that we're late in the milestone, I'll do this first thing in M7

[2012-05-10 01:17] peller commented on #2160
opt-in sounds like the safest approach.  What do we need to catch besides .../cmd/\* ?

[2012-05-10 01:25] jhpedemonte commented on #2160
Side note: another thing I don't like is that `handleIoError` merely replaces the HTML on the page, leaving the JS context around.  In this case, it means that the CSV handler still fires and tries to do stuff, but fails, leading to an alert popup after the error "page" has been displayed.  Might be better to instead load a different page.

[2012-05-10 01:31] jhpedemonte commented on #2160
I just noticed that there is a major flaw in **DataStoreBasedWidgetInput.js** (and maybe other such helpers):  the objects for **ItemFileReadStore**, **CsvStore**, etc, are all being created in the context of the app, not within the context of the editor iframe.

In this case, it more or less works, because both the app and the iframe have loaded the same Dojo.  But this won't always be the case.

[2012-05-10 01:59] JonFerraiolo opened #2225 "Split view on Firefox: click on widget, nothing highlighted in source view"
@aerwin - you fixed the other direction recently :-)

In Firefox in split view, I'm not seeing highlights in source pane when I click on widgets in the design pane. Works in Chrome, and in Firefox, the other direction works (i.e., click on something in source pane, and then corresponding widgets is indeed selected in design pane).

@peller

[2012-05-10 03:01] jhpedemonte commented on #2160
One function in **DataStoreBasedWidgetInput.js** was correct and was creating the data stores in the context of the page.  I cleaned up that code and fixed the other two instances.  Now I don't see the error any more, due to what I [mentioned above](https://github.com/maqetta/maqetta/issues/2160#issuecomment-5616174).

-> Closing as fixed.

[2012-05-10 03:01] #2160 closed, assigned to jhpedemonte

[2012-05-10 03:04] peller commented on #1884
@billreed63 works for me, and there appears to be ample null checking at that line.  What steps are needed to see this?

[2012-05-10 03:12] jhpedemonte opened #2226 "Filter/limit URLs on which handleIoError() takes action"
Currently, the function `handleIoError()` in Workbench.js tears down the whole app for almost all XHR errors (session timeouts are handled differently).

The problem is that all XHR errors aren't I/O errors; and sometimes don't need to result in the tear down of the app.  For example, in #2160, an error was thrown by an XHR callback function, resulting in the invocation of `handleIoError`.  But th

[2012-05-10 03:12] jhpedemonte commented on #2160
I opened #2226 to track the issues with the `handleIoError` function.

[2012-05-10 03:43] peller commented on #1846
body has the states property, but other nodes, which should, do not.  what does that indicate?

[2012-05-10 03:44] aerwin opened #2227 "DataGrid smart input confused"
1. Create new HTML file
2. Drag DataGrid onto canvas and enter following data in smart input:

[code]
1. Create another HTML file
2. Drag DataGrid onto canvas and click OK on smart input without changing any data
3. Save 2nd HTML file
4. Close 2nd HTML file
5. Reopen 2nd HTML file
6. Note table incorrectly has 3 rows and all cells filled with ellipses

![Table with ellipses](http://i.imgur.com/ngn

[2012-05-10 03:50] peller commented on #1846
confirmed: _preserveStates is called, but _restoreStates is not because callback is undefined for _setSource.  Usually it has a callback which invokes activate()

[2012-05-10 04:00] JonFerraiolo commented on #2227
-> @billreed63

[2012-05-10 04:07] jhpedemonte commented on #2142
In `Context.getLoaderPackages()`, the call to `library.getUserLibs()` returns this (in the Eclipse project case):

[code]

(For the regular (non-Eclipse) project case, remove the "WebContent/" prefix from "root" properties.)

In the "maqetta" entry, the "root" value should actually be "WebContent/maqetta" (or "maqetta" in non-Eclipse projects).

Also, notice that there are two "dojo" entries -- th

[2012-05-10 04:30] aerwin opened #2228 "Mobile theme editor seems broken (JS errors and hang)"
I see a couple other issues related to global background color, but I don't seem to be able to set anything. I've noticed a couple of big issues.
1. Browser hang when going to text props for any widget in theme editor (I'm using Chrome on Mac). I've had to Force Quit and restart several times now.

2 When trying to set background related props on any widget, I get the following JS error:

Uncaught

[2012-05-10 13:15] billreed63 commented on #1884
it is working in todays code from master

[2012-05-10 13:15] #1884 closed, assigned to peller

[2012-05-10 13:42] jhpedemonte commented on #2142
I made the following change:

[code]

While that did fix the "root" value for the "maqetta" entry (it now lists as "maqetta" in a non-Eclipse project; now consistent with other entries), the Files view now shows this:

[code]

Is there a special case for the "maqetta" 'lib' somewhere else?

[2012-05-10 13:45] jhpedemonte commented on #2227
Perhaps the smart input code for DataGrid is getting the wrong editor instance at some point?

[2012-05-10 13:47] #1846 closed, assigned to peller

[2012-05-10 13:59] jhpedemonte commented on #2223
-> M7/Med, although this might slip beyond that milestone.

cc @billreed63

[2012-05-10 14:38] billreed63 commented on #2227
this is usually the ItemFileReadDataStore not getting updated correctly in the helper. This is a regression...

[2012-05-10 14:57] JonFerraiolo opened #2229 "Review/refactor helpers, helper createtools, helper inputs"
from 575d3f8d3e39f184ad100433

We have a lot of code in widget-specific helpers, helper createtools and helper inputs that has been copied/pasted out of the core CreateTool.js (e.g., copy/paste/modify create() or copying _create()) which is not good because it duplicates code and makes it so that if we have a fix for CreateTool.js, we need to go through all of the widget libraries and put the same

[2012-05-10 15:10] doronrosenberg commented on #2227
Will take a look

[2012-05-10 15:34] jhpedemonte commented on #2229
The key here is to catalog/identify the reasons why we need to extend/"subclass" CreateTool.js.  Once we have that list, we can better craft CreateTool.js, maybe even add some declarative properties for the things we need to do.

[2012-05-10 15:41] jhpedemonte opened #2230 "Duplicate "dojo" entries from getUserLibs when using Eclipse project"
Call to `library.getUserLibs()` returns this (in the Eclipse project case):

[code]

Notice that there are **two "dojo" entries**, with the 2nd one invalid (since it contains the project name).

(Spun off from #2142)

@peller

[2012-05-10 15:49] doronrosenberg commented on #2227
Not able to reproduce using those steps on latest master.

[2012-05-10 16:15] #2142 closed, assigned to peller

[2012-05-10 16:21] jhpedemonte commented on #2142
Marking as a migration issue.  We'll need to update listing for "maqetta" in the file `<Project Name>/.settings/libs.settings`.

[2012-05-10 17:23] jhpedemonte commented on #1954
Just saw this on Chrome/Mac:
1. New page.
2. Drop a Button (dijit).
3. Stop server.
4. Change a property, such as the 'label' in **Properites > Widget-specific**.

The change works fine in the browser.  However, I see an error in the console:

[code]

`handleIoError()` is not invoked.

[2012-05-10 18:22] peller commented on #2142
@childsb @jhpedemonte why do we need libs.settings at all?

[2012-05-10 18:48] jhpedemonte commented on #2142
I assume it has to do with the **Modify Libraries** feature, where the user can rewrite the path for the libraries, primarily to allow easy exporting of files to an established server.

[2012-05-10 18:52] childsb commented on #2142
We need libs.settings to map AJAX library dependancies (JS, HTML, CSS0 into the users workspace.  The file has to exist within the projects file tree so that mappings are preserved if a project is shared.

[2012-05-10 20:32] jhpedemonte commented on #2226
Did some testing by trying operations _after_ I've shut down the server.  Here are some findings:
- Example URLs that we **should** handle in `handleIoError`:
  - "./cmd/createResource?path=..."
  - "cmd/findResource?path=..."
- In these types of errors, the following are true:

[code]
- The following are true for **Chrome** & **Safari**:

[code]
- The following are true for **Firefox**:

[code]

[2012-05-10 21:30] #2230 closed, assigned to childsb

[2012-05-10 21:45] jhpedemonte commented on #2226
I take that back.  I'm not sure exactly how `deferred.fired` is supposed to be read.

First, I was backwards in my initial analysis.  `fired` is set to 0 (zero) if `deferred.callback()` is invoked -- so zero is good!  It gets set to 1 if `deferred.errback()` is called.

However, while going through the code, I saw callback() and errback() being called many times during the same failed XHR.  So `de

[2012-05-10 22:39] JonFerraiolo opened #2231 "DIV gets padding:0 from dojo.css"
@peller , @childsb

With latest code, if I add a DIV and look at properties palette, there is a `0` for the value, and the cascade has the radio button checked for a rule from dojo.css. Two problems:
- The cascade should have element.style checked, shouldn't it?
- Why are we including dojo.css to begin with? (I think this is from widget metadata)

I discovered this running the desktop tutorial (yo

[2012-05-11 00:39] JonFerraiolo opened #2232 "Editing source loses current application state"
If you have a custom appstate and that appstate is current, whenever the user changes any document content in a source editor, we revert back to Normal state, but the Scenes palette still shows the previously selected state. (You can reset things by clicking on Normal, then clicking on the custom state)

Two possible ways to "fix":
- When applying source editor changes to the canvas, we could figu

[2012-05-11 02:46] peller commented on #2232
davinci/ui/Editor, setContent() calls setValue on the Orion Editor component

[2012-05-11 03:11] peller opened #2233 "findResource *.theme returns each entry twice"
Open an HTML file, look in the network panel, and the call to findResource("*.theme") from Library.getThemes gets the entire list of theme files twice... android.theme, blackberry.theme, claro.theme... android.theme, blackberry.theme, claro.theme... then the Library code proceeds to load each one

Not a huge performance issue, since it just hits the cache, but something seems to have regressed her

[2012-05-11 03:13] JonFerraiolo commented on #2232
Thanks, I've grabbed this one now.

[2012-05-11 04:20] jhpedemonte commented on #2228
I think this is what I ran into while running **Tests > Theme sets > Add new theme set**.  I'm not 100% sure, since the source was minified and I couldn't tell exactly where the debugger stopped:
- **Tests > Theme sets > Add new theme set**: Trying to change background color of "global widget" (I assume this means the **Global Background and Border** widget) throws error and background is not chan

[2012-05-11 04:28] jhpedemonte opened #2234 ""New Theme" dialog allows clicking OK without setting name"
1. Open **New Theme** dialog.
2. Select a different theme from the **Theme to clone** menu.  Notice that now the **OK** button is active.
3. Click **OK** without having first entered a new name.

When I was testing on the nightly build, this created a theme called **themes.theme**, with all of the contents directly underneath the _<project>/themes_ directory (rather than the theme files being in _

[2012-05-11 04:40] jhpedemonte opened #2235 "Switching between theme sets very slow"
Switching between different **theme sets** is very slow, and the UI becomes unresponsive until the switch has completed.
1. Found while running **Tests > Theme sets > Remove theme sets**.  In the **Manage Theme Sets** dialog, switching between entries in the _Theme sets_ list is very slow.  Sometimes the highlight in the list takes a long time to switch.  The **Name** field, though, always takes l

[2012-05-11 04:45] jhpedemonte opened #2236 "Setting class/id for app.css rule doesn't apply changes in VE"
Running **Tests > Properties 4 > app.css**.

After setting class/id on widgets, changes are not reflected in VE.  Show up in preview or after closing/re-opening file.

@JonFerraiolo

[2012-05-11 07:18] aerwin opened #2237 "CSSParser Exception Breaking GridX"
@billreed63 @childsb

I just did a git pull into my local branch and I can no longer drag and drop GridX onto a page. I don't know if this would be considered part of #2166 or considered something separate, but wanted to get this symptom on the books.

When I drop a GridX onto my page, I now see the following in the JS console:

[code]

I turned on break on exceptions in the JS debugger and tried

[2012-05-11 07:19] aerwin commented on #2227
Hmmm... I just did a git pull into my local branch and I still see this issue there.

[2012-05-11 13:07] billreed63 commented on #2237
I am not seeing the issue on the latest code from master, but I added an extra check in the catch to ensure we have a model object

[2012-05-11 13:07] #2237 closed, assigned to nobody

[2012-05-11 14:42] childsb commented on #2039
Fixed with e56c2efc2b329585be05ef77440518784ae85b9f

[2012-05-11 14:42] #2039 closed, assigned to childsb

[2012-05-11 14:44] childsb commented on #2020
Removed.  Replaced this with a command.

[2012-05-11 14:44] #2020 closed, assigned to childsb

[2012-05-11 14:46] childsb commented on #2004
yes this is intended.  assumption being the user only wants one or two files, and not the entire theme file tree.  if they wanted everything, they should do "download workspace".

[2012-05-11 14:46] #2004 closed, assigned to childsb

[2012-05-11 14:57] jhpedemonte opened #2238 "app.css not found"
When loading latest code see the following error in the console:

[code]

@JonFerraiolo @peller @billreed63

[2012-05-11 14:58] jhpedemonte commented on #2237
Opened #2238 for the app.css 404 error.

[2012-05-11 14:58] doronrosenberg commented on #2227
hmm, I can now reproduce in chrome but not firefox.

[2012-05-11 14:58] jhpedemonte commented on #2238
It's odd that it has "maqetta" in the URL there.  I wonder if this has anything to do with the "maqetta" lib/package changes I made yesterday.

@childsb

[2012-05-11 15:12] aerwin commented on #2155
Marking this closed with above commit. There's still some styling clean-up todo that I'll log as a seaparate issue.

[2012-05-11 15:12] #2155 closed, assigned to aerwin

[2012-05-11 15:26] peller commented on #334
@JonFerraiolo do we want to use data-maqetta-\* now?  data-maq-*? note that we already have data-davinci-ws

[2012-05-11 15:27] peller commented on #20
see #334

[2012-05-11 15:27] #20 closed, assigned to peller

[2012-05-11 15:29] peller opened #2239 "CSS @import syntax flagged as error"
@JonFerraiolo

Orion flags @import "value" as an error and insists upon @import url(value)  Should we change our template?

[2012-05-11 15:51] aerwin commented on #2152
With the above commit, I think things are shaping up nicely with some clean-up still needed. Below are some notes on the issues above (logged by myself and @JonFerraiolo) plus a couple additional items. I'll likely open separate issues for some of them:
- **General**
  -  ~~By and large should be able to click Finish at any point (assuming invalid data has not been entered). E.g., shouldn't have t

[2012-05-11 15:59] peller commented on #2235
dup of #2206?

[2012-05-11 16:10] jhpedemonte commented on #2235
Yes, thanks.  I searched but somehow didn't find that one.  I'll move my comment there.

[2012-05-11 16:10] #2235 closed, assigned to billreed63

[2012-05-11 16:11] jhpedemonte commented on #2206
(Copied from duplicate #2235):

[2012-05-11 16:22] aerwin commented on #2228
@billreed63 @jhpedemonte

Got the latest '"external" GitHub-sources-only build' and installed it locally. I no longer see the exception or the hang when looking at font props, but I don't see any changes in props palette applied in the theme.

Using Chrome on Mac and cloned iphone theme.

[2012-05-11 16:30] JonFerraiolo commented on #2239
According to the official spec, you don't have to use url(value):

http://www.w3.org/TR/CSS21/cascade.html#at-import

What's Orion got to do with it? You mean that when you open the HTML file in Orion, it's syntax checker says you need url()? If so, then the syntax checker is broken.

[2012-05-11 16:30] JonFerraiolo commented on #2239
According to the official spec, you don't have to use url(value):

http://www.w3.org/TR/CSS21/cascade.html#at-import

What's Orion got to do with it? You mean that when you open the HTML file in Orion, it's syntax checker says you need url()? If so, then the syntax checker is broken.

[2012-05-11 16:36] peller commented on #2239
Ok, I'm happy transferring this bug to Orion.  Yes, this is an error you see when you open the file in the Orion navigator.

@childsb

[2012-05-11 16:41] billreed63 commented on #2228
Related #2144

[2012-05-11 16:53] JonFerraiolo commented on #334
data-maq-*, try to do it for 1.0

[2012-05-11 16:56] JonFerraiolo opened #2240 "Device clipart - crash if change orientation and there is a dijit inside"
In sketch mode:
- Add a device silhouette from bottom of clipart section
- Add any Dijit inside (e.g., CheckBox)
- Select silhouette widget
- In prop palette widget-specific, change orientation to landscape

Result=> kablewy - widget id already in use

Fix coming shortly

[2012-05-11 17:01] #2240 closed, assigned to JonFerraiolo

[2012-05-11 17:10] jhpedemonte commented on #2238
OK, this is due to the values in **body_oam.json**:

[code]

Since _app.css_ is being loaded as part of the "maqetta" library, whose root was now changed (after ed1788a30bf13f4d6a2d06ffcdbf433de8d72450).

[2012-05-11 17:45] jhpedemonte opened #2241 "Create thumbnails for recently used files"
We've been talking about having a list of recently used files (and reviews?).  It would be good if we could provide a **thumbnail** of what each file looked like, so that the user could easily differentiate between files.

---

One option: Use [PhantomJS](http://phantomjs.org/) on the server to load the page and save as an image (using its [render](http://code.google.com/p/phantomjs/wiki/Interface

[2012-05-11 17:49] jhpedemonte commented on #2241
Update (or create, if icon doesn't already exist) during the following times:
1. User closes file.
2. User closes (or navigates away) from Maqetta.
3. After a certain time while editing file.  Probably want it longer than our "saved copy" call.  Something like 1-5 mins after changes.

[2012-05-11 18:02] jhpedemonte commented on #2228
Still seeing some issues.  Testing on **Firefox 12/Mac**, on **lab9:50020/maqetta**:
- From **Tests > Theme sets > Add new theme set**, I cloned _claro_ and attempted to change the background color for the **Global Background and Border** widget.  While I did see the background change widget by widget, I constantly got the **Warning: Unresponsive Script** dialog in Firefox.  After clicking _contin

[2012-05-11 18:26] JonFerraiolo commented on #682
fixed by bc86f5ed48

[2012-05-11 18:26] #682 closed, assigned to JonFerraiolo

[2012-05-11 19:19] #2228 closed, assigned to billreed63

[2012-05-11 19:32] peller commented on #2241
This feature might be best in the Orion navigator

[2012-05-11 19:39] #2227 closed, assigned to doronrosenberg

[2012-05-11 20:11] doronrosenberg opened #2242 "CSV file editing"
Opening a csv file (see sample.csv) currently shows no save button, we probably need to implement this.  Offshoot from #2242

[2012-05-11 20:12] doronrosenberg commented on #2187
I opened #2242 for csv editing.  I also see no preview6.html file

[2012-05-11 20:16] jhpedemonte commented on #2242
dupe of #43.

[2012-05-11 20:16] #2242 closed, assigned to nobody

[2012-05-11 20:47] JonFerraiolo commented on #2187
preview6.html: https://github.com/maqetta/maqetta/blob/master/maqetta.core.client/WebContent/docs/releasenotes/preview6.html

[2012-05-11 21:09] childsb commented on #1914
You can now use URL parameter resetWorkbenchState to totally reset the workbench state.

I also added a checkbox on the login page to do the same thing as extra credit.  Let me know if that should be removed or renamed.

[2012-05-11 21:18] #2232 closed, assigned to JonFerraiolo

[2012-05-11 21:20] doronrosenberg commented on #2187
Release notes checked in, do we need to keep this open?

[2012-05-11 21:37] doronrosenberg commented on #2213
Safari doesn't exhibit this as well, only chrome

[2012-05-11 21:38] billreed63 commented on #2207
Fixed by 05a98364af16b107c1c29b90ef5cf4867afba344

[2012-05-11 21:38] #2207 closed, assigned to billreed63

[2012-05-11 21:41] billreed63 commented on #2144
fixed by #2207

[2012-05-11 21:41] #2144 closed, assigned to billreed63

[2012-05-11 21:41] jhpedemonte commented on #2213
Well, if this is just limited to Chrome and we can't find any reason for it, we'll just have to close this as a browser bug and just live with it.

[2012-05-11 21:55] JonFerraiolo commented on #2187
Closing

[2012-05-11 21:55] #2187 closed, assigned to doronrosenberg

[2012-05-11 22:37] JonFerraiolo commented on #1914
Reopening issue. When I set URL to this: `http://localhost:50000/maqetta/?resetWorkbenchState=1`, the application did in fact open with no editors open, but then the URL bar said `http://localhost:50000/maqetta/?` and when I double-clicked on Sample1.html, the app just kept spinning without the file ever appearing.

If I then remove the `?` from the URL bar and hit return, then Sample1.html appear

[2012-05-12 15:36] #2136 closed, assigned to JonFerraiolo

[2012-05-12 16:47] aerwin opened #2243 "Create GridX Wizard test plan"

[2012-05-12 17:25] aerwin opened #2244 "GridX columns with "auto" width do not change size when GridX resized in VE"
1. Drop GridX onto canvas
2. Resize GridX (e.g., make it bigger)
3. Note columns do not fill the space until reload the page (or show source in split pane)

[2012-05-12 21:06] JonFerraiolo opened #2245 "Red screen of death with this file"
@peller

Using a recent nightly build, a user ended up with Maqetta generating the following file, which caused RSOD. He was doing some hand-editing, and was using a nightly build, so in a sense "all bets are off", but nevertheless we should investigate to see what we can do to minimize this sort of problem. This scenario will be commonplace - a user needs to add some custom JavaScript, and theref

[2012-05-12 21:38] JonFerraiolo opened #2246 "gridx wizard doesn't show radio buttons for plain text vs html markup"
@billreed63

(Might not be feasible to fix for M6)

It's great that you can type in rich html markup into gridx's first pane (data entry pane) and the result will appear in the document, but what we need is the dynamic appearance of the two SmartInput radio buttons (plain text vs html markup) that we have on other SmartInput controls.

[2012-05-12 21:42] aerwin commented on #2246
@JonFerraiolo

I intentionally removed those options in the gridx case because `escapeHTMLInData` is not an attribute of GridX.

[2012-05-12 21:44] JonFerraiolo commented on #2246
Oh. One thing we could do as a Maqetta authoring enhancement is offer the two radio buttons only for user-entered dummy data, and then do the escaping in our helper before the data gets stuffed into the ItemFileReadStore (or whatever).

[2012-05-12 21:50] aerwin commented on #2246
Is that something we'd really want to do? If they choose plain, next time they came to the smart input we'd have stripped out all of the tags and they'd have to re-enter them if they changed their mind.

[2012-05-12 21:58] JonFerraiolo commented on #2238
-> @jhpedemonte so this doesn't fall through cracks

[2012-05-12 21:59] JonFerraiolo commented on #2175
-> M7 Prio High

[2012-05-12 21:59] JonFerraiolo commented on #2099
-> @jhpedemonte so this doesn't fall through cracks

[2012-05-12 22:00] JonFerraiolo commented on #2072
-> @childsb so this doesn't fall through cracks

[2012-05-12 22:00] JonFerraiolo commented on #2029
-> @aerwin  so this doesn't fall through cracks

[2012-05-12 22:01] JonFerraiolo commented on #2027
Probably will have to go to M7 as part of some bigger fixes in Properties palette

[2012-05-12 22:02] JonFerraiolo commented on #1993
-> @aerwin for time being so it doesn't fall through cracks.

@doronrosenberg

[2012-05-12 22:03] JonFerraiolo commented on #1986
-> @aerwin M7 Prio Med

[2012-05-12 22:03] JonFerraiolo commented on #1985
-> @aerwin M7 Prio Med

[2012-05-12 22:04] aerwin commented on #2152
With the previous 2 commits, I think pretty much everything has been addressed (or in a few cases covered in other GitHub issues). I think the one item not yet handled is:
- Need to better handle issues with non-linear progression through panels (e.g., step headers over a short-cut to wizard panels without requiring linear use of Next button)

[2012-05-12 22:04] JonFerraiolo commented on #1984
-> JonFerraiolo M7 Prio Med

[2012-05-12 22:05] JonFerraiolo commented on #1907
-> @JonFerraiolo M7 Prio Low. Note that we don't have clipping problems at this point because we yanked the SVG animations, but we might have the clipping problems reappear once we add in CSS3 animations

[2012-05-12 22:06] JonFerraiolo commented on #1812
-> @billreed63 M7 Prio-Med

[2012-05-12 22:07] JonFerraiolo commented on #1802
-> @doronrosenberg M7 Prio Med (hopefully we can figure out how to provide UI for this without too much effort)

[2012-05-12 22:08] JonFerraiolo commented on #1748
-> @jonferraiolo M7 Prio-Med

[2012-05-12 22:08] JonFerraiolo commented on #1719
-> @billreed63 M7 Prio-Med

[2012-05-12 22:09] JonFerraiolo commented on #1633
-> @peller M7 Prio-Med

[2012-05-12 22:10] JonFerraiolo commented on #1622
-> @JonFerraiolo M7 Prio-Low

[2012-05-12 22:10] JonFerraiolo commented on #1578
-> @billreed63 M7 Prio-Med

[2012-05-12 22:12] JonFerraiolo commented on #1522
-> @jhpedemonte M7 Prio-Med (I assume @jhpedemonte will reassign)

[2012-05-12 22:12] aerwin commented on #1985
I think this is a dup of #1670, so closing.

[2012-05-12 22:12] #1985 closed, assigned to aerwin

[2012-05-12 22:13] JonFerraiolo commented on #1520
-> @JonFerraiolo M7 Prio-Med

[2012-05-12 22:13] JonFerraiolo commented on #1514
-> @peller M7 Prio-Med

[2012-05-12 22:13] aerwin commented on #2029
-> M7

[2012-05-12 22:15] JonFerraiolo commented on #1447
@jhpedemonte I think we can close this. I think the UI is fine: an alert that says you have no custom themes to edit.

[2012-05-12 22:18] JonFerraiolo commented on #1419
-> @JonFerraiolo

[2012-05-12 22:18] JonFerraiolo commented on #1372
-> @JonFerraiolo M7 Prio-Med

[2012-05-12 22:19] JonFerraiolo commented on #1241
-> @billreed63 M7 Prio-Med (unfortunately for @billreed63, he has become our expert in CSSParser.js)

[2012-05-12 22:20] JonFerraiolo commented on #1221
-> @peller M7 Prio-Med

@billreed63

[2012-05-12 22:20] JonFerraiolo commented on #1189
-> @JonFerraiolo M7 Prio High

[2012-05-12 22:21] JonFerraiolo commented on #1152
-> @jhpedemonte M7 Prio-Med

[2012-05-12 22:22] JonFerraiolo commented on #1125
-> @childsb (so this doesn't fall through cracks)

[2012-05-12 22:22] JonFerraiolo commented on #1085
-> @billreed63 M7 Prio-Low

[2012-05-12 22:23] JonFerraiolo commented on #1150
-> @jhpedemonte (so this doesn't fall through cracks) M7 Prio-Med

[2012-05-12 22:23] JonFerraiolo commented on #1006
-> @billreed63 M7 Prio-Low

[2012-05-12 22:24] JonFerraiolo commented on #464
-> @doronrosenberg M7 Prio-High

[2012-05-12 22:25] JonFerraiolo commented on #343
-> @JonFerraiolo M7 Prio-High

[2012-05-12 22:25] JonFerraiolo commented on #305
-> @JonFerraiolo

[2012-05-12 22:26] JonFerraiolo commented on #43
-> @JonFerraiolo to decide whether this issue has been resolved

[2012-05-12 22:27] JonFerraiolo commented on #2022
-> @aerwin M7 Prio-Med

[2012-05-12 22:28] JonFerraiolo commented on #1999
-> @JonFerraiolo M7 Prio High

[2012-05-12 22:29] JonFerraiolo commented on #1957
-> @JonFerraiolo to see if this issue still exists

[2012-05-12 22:30] JonFerraiolo commented on #1903
@childsb

-> @jhpedemonte M7 Prio High (so this doesn't fall through cracks)

[2012-05-12 22:30] JonFerraiolo commented on #1872
-> @JonFerraiolo M7 Prio-Med

[2012-05-12 22:31] JonFerraiolo commented on #1858
-> @aerwin M7 Prio-Low

[2012-05-12 22:31] JonFerraiolo commented on #1854
-> @aerwin M7 Prio-Med

[2012-05-12 22:32] JonFerraiolo commented on #1798
-> @JonFerraiolo M7 Prio High just to evaluate this to see if there is a relatively easy fix or maybe we need to replace our parsers entirely.

[2012-05-12 22:33] JonFerraiolo commented on #1760
-> @billreed63 M7 Prio-Low

[2012-05-12 22:33] JonFerraiolo commented on #1565
-> @aerwin M7 Prio-Low

[2012-05-12 22:34] JonFerraiolo commented on #1554
-> @peller M6 Prio-Med - maybe this is fixed now?

[2012-05-12 22:34] JonFerraiolo commented on #1534
-> @peller M7 Prio-Med

[2012-05-12 22:35] JonFerraiolo commented on #1417
-> @JonFerraiolo M7 Prio-High

[2012-05-12 22:35] JonFerraiolo commented on #1416
-> @JonFerraiolo M7 Prio-Low

[2012-05-12 22:36] JonFerraiolo commented on #1350
-> @JonFerraiolo M7 Prio-High

[2012-05-12 22:37] JonFerraiolo commented on #1026
-> @aerwin M7 Prio-High

[2012-05-12 22:37] JonFerraiolo commented on #477
-> @JonFerraiolo M7 Prio-Med

[2012-05-12 22:38] JonFerraiolo commented on #60
-> @peller - is this issue still valid?

[2012-05-12 22:39] JonFerraiolo commented on #2001
-> @JonFerraiolo M7 Prio-High

[2012-05-12 22:40] JonFerraiolo commented on #1749
-> @aerwin M7 Prio-Med

[2012-05-12 22:40] JonFerraiolo commented on #1694
-> @JonFerraiolo M7 Prio-Low

[2012-05-12 22:41] JonFerraiolo commented on #1596
Closing. @childsb and @aerwin figured out how to get reviews to open.

[2012-05-12 22:41] #1596 closed, assigned to waynevicknair

[2012-05-12 22:41] JonFerraiolo commented on #1118
-> @JonFerraiolo M7 Prio-Low

[2012-05-12 22:42] JonFerraiolo commented on #840
-> @JonFerraiolo M7 Prio Low

[2012-05-12 22:42] JonFerraiolo commented on #839
-> @jhpedemonte M7 Prio Low

[2012-05-12 22:43] JonFerraiolo commented on #838
-> @JonFerraiolo

[2012-05-12 22:43] JonFerraiolo commented on #799
-> @JonFerraiolo M7 Prio High

[2012-05-12 22:44] JonFerraiolo commented on #456
-> @aerwin future

[2012-05-12 22:44] JonFerraiolo commented on #397
-> @peller future

[2012-05-12 22:45] JonFerraiolo commented on #395
-> @childsb M7 Prio-High - hopefully we can leverage Orion for most of this

[2012-05-12 22:46] JonFerraiolo commented on #391
-> @billreed63 M7 Prio-Med

[2012-05-12 22:46] JonFerraiolo commented on #390
-> @JonFerraiolo so this doesn't fall through cracks

[2012-05-12 22:47] JonFerraiolo commented on #387
-> @billreed63 M7 Prio-Med

[2012-05-12 22:47] JonFerraiolo commented on #382
-> @JonFerraiolo future

[2012-05-12 22:47] JonFerraiolo commented on #378
-> @JonFerraiolo M7 Prio-Med

[2012-05-12 22:48] JonFerraiolo commented on #376
-> @JonFerraiolo M7 Prio Med

[2012-05-12 22:48] JonFerraiolo commented on #239
-> @billreed63

[2012-05-12 22:49] JonFerraiolo commented on #156
-> @JonFerraiolo M7 Prio Med

[2012-05-12 22:49] JonFerraiolo commented on #55
-> @JonFerraiolo M7 Prio-Med

[2012-05-12 22:58] JonFerraiolo commented on #2246
Ah, we don't strip out the tags, we replace them with entities. Maybe we should bring in @billreed63 to the discussion who will know all of the details.

[2012-05-12 23:11] aerwin commented on #2246
Hmmm... ok, maybe I was confused because I thought you were suggesting modifying the data before we put it in the data store. Guess you're proposing something else that I'm not aware of.

@billreed63 do you have thoughts?

[2012-05-13 14:37] JonFerraiolo commented on #2159
@doronrosenberg fixed this with 575d3f8d3e Closing

[2012-05-13 14:37] #2159 closed, assigned to JonFerraiolo

[2012-05-13 20:41] JonFerraiolo commented on #2219
Pushing to M7. Too risky to attempt to fix now.

[2012-05-13 20:42] JonFerraiolo commented on #2094
-> M7 Prio High

[2012-05-13 20:44] JonFerraiolo commented on #1807
-> M7 Prio High

[2012-05-13 20:46] JonFerraiolo commented on #1804
-> M7 Prio High

[2012-05-13 20:49] JonFerraiolo commented on #1559
-> @aerwin - does this issue still exist? If so, please reassign back to me. If not, please close. (Note: there have been some significant changes with drag/drop logic in past few months)

[2012-05-13 20:50] JonFerraiolo commented on #1543
-> M7 Prio High

[2012-05-13 20:50] JonFerraiolo commented on #1472
-> M7 Prio High

[2012-05-13 20:51] JonFerraiolo commented on #1519
-> M7 Prio High

[2012-05-13 20:52] JonFerraiolo commented on #1358
-> M7 Prio High

[2012-05-13 21:44] JonFerraiolo opened #2247 "offsetLeft/offsetTop calculations are wrong in multiple places"
In multiple places in the code, we are computing absolute page coordinates by adding up offsetLeft for current node and all offset parents. But that algorithm doesn't take borders into account. If any ancestors have borders, the calculation are short by the border widths of the ancestors. Need to use Dojo to compute page-absolute position.

[2012-05-14 00:21] aerwin commented on #1559
Tried it out and looks like it's working pretty well now. So, closing.

[2012-05-14 00:21] #1559 closed, assigned to aerwin

[2012-05-14 02:15] jhpedemonte commented on #2238
Fixed by b9e88648c11ee77e0bf2c00849542cd37ed611fa.

[2012-05-14 02:15] #2238 closed, assigned to jhpedemonte

[2012-05-14 02:21] jhpedemonte commented on #2086
A couple of things:
1. It is a very nice reuse of code to have these dependencies in an OAM file, since we already have code to load the required resources and do all of the necessary path logic.
2. We've stated in the past that OAM files are to be generic and not have Maqetta dependencies.  However, I've always thought of the "html" library as private to Maqetta.  Is this an invalid assumption --

[2012-05-14 02:23] peller commented on #60
Yes, the Workplace dependencies on Review (CommentView and friends) are fewer than they once were, but the files in CommentView are still uncompressed and unbuilt.  CommentView should be built as a separate layer, CommentExplorerView taken out of davinci and built as a layer, too, and we should consider whether loose .js modules should be processed for whitespace and compressed.

[2012-05-14 03:00] peller commented on #1534
@childsb, is this one for you?

[2012-05-14 03:01] #2226 closed, assigned to jhpedemonte

[2012-05-14 03:09] peller commented on #2245
What was the error seen in the RSOD?  A stack trace is not provided.

One thing to note - this is apparently a file created on our development 'master' and not a stable release.  I see that the user has some transitional elements from the maqetta.\* module transition, and we didn't do anything to migrate issues between releases.  I don't know if any of this led to his RSOD.

[2012-05-14 04:17] peller commented on #1554
Last I checked, we were doing better, though FF was still very slow.  It's impossible to test now, given regressions in selection which throw off the cursor as you type.

[2012-05-14 07:42] aerwin commented on #2152
Closing with above commit.

[2012-05-14 07:42] #2152 closed, assigned to aerwin

[2012-05-14 13:09] billreed63 commented on #1006
This code was removed a while ago

[2012-05-14 13:09] #1006 closed, assigned to billreed63

[2012-05-14 13:10] billreed63 commented on #1241
NO ONE told me if you touch it you own it ;)

[2012-05-14 13:26] JonFerraiolo commented on #1241
If it's any consolation, I have the same situation with HTMLParser.js.

[2012-05-14 14:37] JonFerraiolo opened #2248 "For bad user HTML, fewer red screens of death and better fixup information"
@peller @jhpedemonte

Right now if our HTML parser doesn't like what it sees, we generate a red screen of death (RSOD) and tell user something is wrong with sources, go to source view and fix (without any supplemental help about how to fix).

I'm seeing a good number of users getting stuck after doing some hand-edits of source code where they are seeing RSOD but haven't a clue about how to fix bec

[2012-05-14 14:37] JonFerraiolo commented on #2245
Right, we will like have to ignore the "transitional" part of this issue. Note that I created an adjacent issue: #2248: "For bad user HTML, fewer red screens of death and better fixup information"

[2012-05-14 14:45] JonFerraiolo commented on #60
I'm inclined to push this to M7 Prio High - too high of risk at too low benefit to try to fix for M6 at this point.

[2012-05-14 14:49] JonFerraiolo commented on #2086
Well, theoretically, the HTML OAM files could be used by other tools - why not? - but practically they are probably only going to be used by Maqetta. Nevertheless, it feels dirty to put Maqetta-specific things in an OAM file. If we want to leverage dependency features in Maqetta, then a cleaner approach (at least to me) would be to put the same dependency info in the packages.json file somehow (e.

[2012-05-14 14:52] doronrosenberg commented on #1802
Perhaps add a button to the iphone outline image?

[2012-05-14 14:52] JonFerraiolo opened #2249 "Had to reload the page several times because of timeouts"
@childsb @billreed63

We got a report from someone using M6 nightly builds that said:

"...had to reload the page several times because of timeouts..."

This issue is just a reminder to investigate this issue and see if there are any problems with our session timeout logic.

[2012-05-14 14:55] JonFerraiolo opened #2250 "Source pane missing first column"
@aerwin @doronrosenberg

User report on M6 nightly builds:

I noticed that after loading a HTML and switching to the source display for the first time the scrolling is one step to the right (first column is missing), manually correcting this works fine, though (so it's not a "bug", but a "glitch" :-) )

[2012-05-14 15:04] doronrosenberg commented on #464
@JonFerraiolo why is this high?

[2012-05-14 15:09] JonFerraiolo commented on #1077
Closing this. I actually dealt with this issue by disallowing users to add View widgets in absolute positioning, and posting a readable message when they attempt the operation. Absolute positioning just doesn't work because dojox.mobile logic always stuffs top:0px for view widgets.

[2012-05-14 15:09] #1077 closed, assigned to doronrosenberg

[2012-05-14 15:16] billreed63 opened #2251 "Migrate preview 5 theme html files"
The mobile theme html files need to be modified to support the new `data-dojo-config` mobile theme  `data-dojo-config="parseOnLoad: true, async: true, 'themeMap':[['.*',null,[]]],'mblThemeFiles':[]"`

[2012-05-14 15:37] jhpedemonte commented on #2233
cc @childsb

[2012-05-14 15:53] JonFerraiolo opened #2252 "Update preview6.html release notes for various UI improvements"
@doronrosenberg - I've been meaning to register an issue on this for a couple of weeks, but keep forgetting.

In M6, you have added a series of UI improvements, particularly widget-specific UI improvements, such as the new dialog for IconContainer. Could you please try to remember all of these UI improvements and then make judgment calls about how best to mention these UI improvements in the Previ

[2012-05-14 15:54] doronrosenberg commented on #1475
@JonFerraiolo @jhpedemonte Moving to m7 for now, might be able to get to it in m6

[2012-05-14 15:55] childsb commented on #297
stale issue.

[2012-05-14 15:55] #297 closed, assigned to childsb

[2012-05-14 15:55] aerwin opened #2253 "Can incorrectly select individual options in MultiSelect"
Opening as medium, but in quick testing doesn't seem pervasive across other widgets so could argue for low...
1. New HTML file
2. Drop Button onto canvas
3. Drop MultiSelect onto canvas
4. Select button
5. Select MultiSelect by clicking in the area of one of the items (e.g., Item 2)
6. Note Item2 within MultiSelect is selected and you can now all of the items in the MultiSelect are selectable. And

[2012-05-14 16:03] childsb opened #2254 "need workspace migration plan"
We need a better workspace migration plan-

1) Migration scripts should be a "run once at server startup" and not OS specific.  Another option is to run the script at user login.

2) User projects should keep the maqetta version they were authored in (libs.settings).  Then migration scripts can be incrementally run to bring the project up to date.

3) Migration scripts should allow the workspace t

[2012-05-14 16:03] JonFerraiolo commented on #1802
With our new UI, we will have a gear icon at the top right as a replacement for our current "Settings" menu. One possibility would be to add a `Document properties...` command to the gear icon dropdown menu. We might also want to include this in preferences so that users get to choose whether to set up their own defaults to include these LINK tags in future creations.

[2012-05-14 16:18] aerwin opened #2255 "DataGrid cannot be repositioned in absolute layout"
1. Create new HTML file
2. change layout to absolute
3. Drop DataGrid onto canvas
4. Note you cannot move the DataGrid to a new location

In addition, if you do something like the following, when you drop DataGrid it's not placed correctly:
1. Create new HTML file
2. Drag a couple controls to canvas (e.g., Button and Calendar)
3. Change layout to absolute
4. Drop DataGrid onto canvas
5. Note DataG

[2012-05-14 16:20] JonFerraiolo commented on #2253
-> @JonFerraiolo M6 Prio Med
I can reproduce and I want to understand what's broken here before pushing to M7.

[2012-05-14 16:23] doronrosenberg opened #2256 "Opening a CSS file throws error (this.dndController is undefined)"
Opening any css file or creating a new one throws:

[code]

[2012-05-14 16:29] aerwin opened #2257 "Rich text editor does not show automatically when add sticky note to page"
According to the "Sticky note" section of the VisualPageEditor/basic1.html test plan the smart input for sticky note should automatically appear when you click on the sticky note icon. However, that does not occur (e.g., you must manually double-click on the note).

[2012-05-14 16:30] JonFerraiolo commented on #2255
@billreed63

-> @JonFerraiolo M6 Prio-Med to investigate and see if there is a safe fix

[2012-05-14 16:34] aerwin opened #2258 "Undo fails with source editor open"
1. Create new HTML file
2. Drag/drop some widgets (e.g., Button, Calendar, TextBox)
3. Open up the split source view
4. Click undo and see:

[code]

[2012-05-14 16:41] JonFerraiolo commented on #2255
Similar problems with gridx in absolute mode. Of course, gridx is more important because we will be deprecating DataGrid.

When adding a gridx in absolute positioning, it looks like the position:absolute that Maqetta attempts to stuff into the widget gets overridden. If you restore position:absolute (eg in properties palette), gridx seems to work fine thereafter.

[2012-05-14 16:43] peller commented on #1052
-> M7

[2012-05-14 16:44] peller commented on #1404
-> M7 where we will create async resource APIs

[2012-05-14 16:46] JonFerraiolo commented on #2256
@doronrosenberg could you please investigate? Maybe we just need to add a check at ToggleTree.js:72 that this.dndController has a value:

[code]

@peller @childsb

[2012-05-14 16:49] JonFerraiolo commented on #2256
Also exception at Tree.js:960 (this is in dijit/Tree.js):

[code]

[2012-05-14 16:51] JonFerraiolo commented on #2257
-> @billreed63 M6 Prio High - (I thought we fixed this recently)

[2012-05-14 16:52] JonFerraiolo commented on #2258
-> @peller , although if @aerwin wants to take a crack at this, go ahead and reassign to yourself

@jhpedemonte @childsb @billreed63

[2012-05-14 17:01] peller opened #2259 "Update to latest Equinox / Jetty 8"
currently in M7 (Eclipse's, not ours) set to come out in June, but stable.  Among other things, this should get us servlet 3.0 with the ability to set things like httponly cookies.

@childsb, @JonFerraiolo, @jhpedemonte

[2012-05-14 17:09] childsb commented on #2259
as a note- the orion build with maqetta  is already using the 3.8 eclipse.  john claims that the next release (which is the one we'll prob use for 1.0) will run on eclipse 4 latest stable.

[2012-05-14 17:09] billreed63 commented on #23
done

[2012-05-14 17:09] #23 closed, assigned to billreed63

[2012-05-14 17:15] billreed63 commented on #2166
I have changed the CSSParser to preserve the comment syntax.  I still have one question @JonFerraiolo  the CSSParser has code to deal with `// comment to EOF`  According to http://www.w3schools.com/css/css_syntax.asp the only valid comments for CSS are `/* comment */` Do we want to leave that code?

[2012-05-14 17:21] aerwin opened #2260 "States Testing -- setting button font color on element.style not working"
Going through the state testing ("Changing properties in different states" of StatesPalette/basic.html), I'm seeing a couple problems:
1. Instructions say to change button width, but there's no element.style available for button width (was sure this used to be there)
2. Changing font color of button on the element.style doesn't work (e.g., there's an element.style, but changing color to Red has no

[2012-05-14 17:23] aerwin commented on #2260
Apologies... guess instructions say to set calendar width, not button width. So, that part is just a dup of #1704.

The 2nd part (button font color) still seems like an issue.

[2012-05-14 17:23] billreed63 commented on #2257
We have always had two different behaviors for sticky note:

If the note is created from the action bar the RTE is not displayed until the user double clicks on the sticky note.
If the sticky note is created from the widget palette we display RTE as soon as the widget is created.

@aerwin  did you create the note from the action bar or the widget palette? If from the action bar then we need to fix

[2012-05-14 17:30] aerwin commented on #2257
Yes, I was clicking on the toolbar icon. I just tried dragging from palette and that works fine (as @billreed63 reported).

[2012-05-14 17:48] peller commented on #2250
sounds like the latest incarnation of #1242

[2012-05-14 17:50] billreed63 opened #2261 "new theme does not display message for override in HTML editor"
background-color on a Button using a custom theme
Invoke the New Theme... command to clone claro into a new custom theme (e.g., "myclaro"). OK to leave the new theme as an unchanged copy of claro.
Back in the page editor from previous steps, click on the Switch theme icon and change the desktop theme to "myclaro".
Select the Button widget.
Each of the following steps should generate an "are you su

[2012-05-14 17:54] peller commented on #60
I think this is fixed now.

[2012-05-14 17:54] #60 closed, assigned to peller

[2012-05-14 17:55] JonFerraiolo opened #2262 "Global page background not showing in mobile theme editor"
@billreed63 - I thought this bug was logged already, but I couldn't find it.

As things stand now, you can change global page background color in mobile theme editor, and the themes get updated and all of that, but the theme editor doesn't show the result on the theme editor canvas.

Assigning to me because this is likely in the middle of the theme editor hocus pocus that attempts to transfer the

[2012-05-14 18:00] JonFerraiolo commented on #2257
Why don't we show the RTE immediately if creating a sticky note from toolbar?

[2012-05-14 18:05] billreed63 commented on #2257
You asked me to turn it off....

[2012-05-14 18:07] JonFerraiolo commented on #2166
I saw no evidence via web searches of upcoming support for `//` comments, so I think it's OK to remove that code, but clearly not a top priority for M6.

[2012-05-14 18:25] doronrosenberg commented on #2256
I think we would want to not build the tree at all in this case

[2012-05-14 18:25] JonFerraiolo commented on #2257
Do you remember why I said turn it off? Perhaps a case of temporary insanity?

[2012-05-14 18:39] doronrosenberg commented on #2256
Issue is we can't set a null dndController for a tree

[2012-05-14 18:42] #2256 closed, assigned to doronrosenberg

[2012-05-14 19:44] billreed63 commented on #2262
I got this one, the helpers are now asyn so they can return a deferred.

[2012-05-14 19:48] aerwin opened #2263 "Workspace has become unusable (can't open or create HTML files)"
I was doing testing on our server hosting our "external" GitHub-sources-only build. I left for lunch and came back. I had been logged out (which is fine), but now when I log back in I can't view any of my existing HTML files or create a new one. I see the following when trying to create a new one:

[code]

[2012-05-14 19:50] aerwin commented on #2263
The last thing I was doing before lunch was states testing. I was at about Step 5 of "Changing properties in different states" in the StatesPalette/basic.html test cases.

[2012-05-14 19:53] #604 closed, assigned to childsb

[2012-05-14 19:54] billreed63 commented on #2257
I think maybe because RTE can be slow to load sometimes, so we thought the user might want to positions the note then add text. No one has ever complained including UI people. Maybe we should just leave it alone unless someone complains..

[2012-05-14 20:13] aerwin opened #2264 ""Only apply to current state" won't stay checked"
1. Create new HTML file
2. Create a new state (say "test")
3. Drag/drop button onto canvas
4. Select Button
5. Open CSS cascade in props palette for font size
6. Change to 60px and check "Only apply to current state"
7. Deselect button
8. Reselect button (with "test" state selected) and see "Only apply to current state" is unchecked

[2012-05-14 20:15] billreed63 commented on #2166
Fixed by above commits

[2012-05-14 20:15] #2166 closed, assigned to billreed63

[2012-05-14 20:26] billreed63 commented on #2236
Seems to be working with the latest code from Master 5/14/2012

[2012-05-14 20:26] #2236 closed, assigned to billreed63

[2012-05-14 20:30] billreed63 commented on #2209
This is fixed now

[2012-05-14 20:30] #2209 closed, assigned to billreed63

[2012-05-14 20:42] aerwin commented on #2002
It looks like this even happens now if you select a valid file, so it's become more pervasive. The "controls" attribute no longer stays selected.

[2012-05-14 20:50] #2217 closed, assigned to billreed63

[2012-05-14 20:52] doronrosenberg commented on #2206
Just ran into this myself while testing - we are downloading all .theme files fore each theme you click on

[2012-05-14 20:54] aerwin commented on #78
Marking closed with above commit.

[2012-05-14 20:54] #78 closed, assigned to aerwin

[2012-05-14 20:55] aerwin commented on #2161
Marking closed with above commit.

[2012-05-14 20:55] #2161 closed, assigned to aerwin

[2012-05-14 21:02] billreed63 commented on #2231
With the latest code from master the element is selected in the cascade. The cascade has always been calculated from the DOM, the metadata is only used to select the default rule for the property.  @childsb  correct me if I misunderstand the code.

[2012-05-14 21:20] JonFerraiolo commented on #2257
-> M7 We can talk about UI for next release

[2012-05-14 21:22] #2206 closed, assigned to billreed63

[2012-05-14 21:22] JonFerraiolo commented on #2263
-> me - I'll try to figure out what's wrong. I'm actually having a similar problem with my own account on Maqetta.org

[2012-05-14 21:22] #1193 closed, assigned to childsb

[2012-05-14 21:27] #1426 closed, assigned to childsb

[2012-05-14 21:29] doronrosenberg opened #2265 "Undo doesn't remove Tooltip"
Undoing adding a tooltip doesn't remove the tooltip from the UI or from the Scenes panel.

[2012-05-14 21:55] #1556 closed, assigned to childsb

[2012-05-14 21:57] childsb commented on #1914
jon, what browser?

[2012-05-14 22:32] JonFerraiolo commented on #1914
Mac Chrome

[2012-05-14 22:40] JonFerraiolo opened #2266 "(resetWorkbenchState) Dirty files don't show dirty bit"
- Open Sample1.html
- Change something (e.g., "New" -> "ABC")
- Change URL bar from `http://localhost:8081/maqetta` (or whatever) to `http://localhost:8081/maqetta/resetWorkbenchState=1`
- Double-click on Sample1.html

Result=> No dirty bit on the file, even though there is a .workingcopy for it. (We should show a dirty bit in this case)
- SaveAs foo.html (this has side-effect of destroying Sample

[2012-05-15 00:19] JonFerraiolo opened #2267 "Remove various unused JavaScript files"
davinci/ve/actons/{AlignAction, EventAction, PropertyAction, StyleAction}.js

Also, StackContainer is in packages.json commented out because it just crashes due to no definition for StackController.

davinci.dojo_1_7/WebContent/metadata/dijit/OptionsCreateTool.js

[2012-05-15 01:03] peller commented on #2248
I'd like to see more examples.  I think we will experience the RSOD if visual editor code encounters an unexpected condition.  That's usually tied to very specific pieces of the HEAD which the VE code reconstructs and reparses, like the dependency section on the script tag.  Other parts of the HTML (and our modeler) should more or less fail gracefully (does it?) and the Dojo parser has its own han

[2012-05-15 01:05] peller opened #2268 "Dojo parser error in ContentPanes not handled gracefully"
1. Create an HTML doc with a dijit.form.Button inside a dijit.layout.ContentPane
2. Switch to source view
3. hand edit the dojo-data-type of dijit.form.Button to make it invalid (dijit.form.Buton)

There will be an error on the console, but no visible error made available to the user.  Normally, there's a catch which handles this and puts up a (white) error message screen

refs #2248

[code]

[2012-05-15 03:08] #1540 closed, assigned to JonFerraiolo

[2012-05-15 03:11] JonFerraiolo commented on #2255
Closing this. @aerwin has decommissioned DataGrid in favor of gridx. What's ironic is that I actually checked in fixes for DataGrid around absolute positioning in parallel with its decommissioning.

[2012-05-15 03:11] #2255 closed, assigned to JonFerraiolo

[2012-05-15 03:13] JonFerraiolo commented on #2224
Fixed by 39cc937332

[2012-05-15 03:13] #2224 closed, assigned to JonFerraiolo

[2012-05-15 03:29] JonFerraiolo commented on #1456
Fixed with 39cc937332

[2012-05-15 03:29] #1456 closed, assigned to JonFerraiolo

[2012-05-15 03:37] peller commented on #2258
There seems to be some inconsistency with widgetIds on the dijits between the original instantiation and when the page is reparsed, making the undo stack invalid.  For example, drop a Calendar widget on the page, and widgetid="Calendar_0"  Reparse the page, and it's "input_1".  The undo command looks up the widget id "Calendar_0" and finds the stale widget and tries to remove it from the document,

[2012-05-15 03:39] peller commented on #1865
-> M7

[2012-05-15 04:20] #2045 closed, assigned to peller

[2012-05-15 04:42] JonFerraiolo commented on #2007
Closing. I believe I fixed this with d57cb9d2a9

[2012-05-15 04:42] #2007 closed, assigned to JonFerraiolo

[2012-05-15 13:00] peller commented on #1890
the right way to fix this is to redo the outline tree to use a model and not refresh by replacing all the items.  the wrong way to fix this was [this workaround](https://github.com/maqetta/maqetta/commit/9ab001e506b781739138db9885908a4c62e0d88b) which I was hoping would provide a temporary fix here as well.  When switching views, multiple refresh events (command stack + setSource) seem to be hitti

[2012-05-15 13:04] JonFerraiolo commented on #1890
How well does the workaround work? When I tried it last night, it seems to keep the Tree expanded in the cases I tried (although with some screen flashing)

[2012-05-15 13:13] JonFerraiolo commented on #2262
Reopening. With today's daily build on Mac/Chrome running locally, I'm still having problems where sometimes changes to global background color doesn't show up on the canvas.

[2012-05-15 13:19] JonFerraiolo opened #2269 "Follow-on problems from using marginbox for selection chrome"
- SelectTool initiates AreaSelect within margin area for a widget. Must not be using marginbox.
  - Maybe the remaining problem here is that when areaSelection starts appearing, we should hide existing focus boxes
- For some dojox.mobile widgets, we might want to stuff in smaller margins when being created in sketch mode
  - Maybe we should use borderbox for focus even if layout calculations are u

[2012-05-15 13:44] peller commented on #1890
I think the tree flashes as it did before, since all of the elements are being replaced in the model.  The workaround appears to work well for #2045 (command execution) but not for switching views in this issue, as mentioned above, where the two refreshes in a row result in closed tree nodes.

[2012-05-15 13:59] jhpedemonte commented on #2264
cc @billreed63

[2012-05-15 14:11] jhpedemonte commented on #1670
-> M7, @aerwin.  Tony, please take a look at this at the start of M7 so we can finally close it out.

[2012-05-15 14:14] #2261 closed, assigned to billreed63

[2012-05-15 14:16] jhpedemonte opened #2270 "Redo widget create logic."

[2012-05-15 14:16] jhpedemonte commented on #1794
-> M7

See #2270

[2012-05-15 14:27] billreed63 opened #2271 "What is the correct message for delta theme's in page designer"
When the user creates a new theme say myclaro then applies that theme to a html page
When the user selects say a button on that page what they see in the cascade for say background color is
A proposed rule for mytheme.css and the selected rule which is claro.css If the user attempts to change the selected rule (claro.css) they see the message about read/only theme.
1) Should we be selecting the pr

[2012-05-15 14:35] peller commented on #2258
@JonFerraiolo @jhpedemonte
Drop a button on a new page.
Context.getUniqueId calculates an id of "Button_0" based on idRoot=="Button" passed in by createWidget, based on metadata.
Change to split view.  setSource is triggered which reparses the doc.
Context.getUniqueId is called again.  This time, idRoot is undefined by the caller (visit) and node.tag is "input" so the id is "input_0"

[2012-05-15 14:57] JonFerraiolo commented on #2271
I'd prefer to push this issue to M7 and avoid making a last minute UI mistake.

We've had the majority of this UI problem before delta themes were introduced, and even in the presence of delta themes, the proposed new rule only appears if the user has added a custom class to a particular widget, which means the user probably has already started down the path of reading up on how to add styling to

[2012-05-15 15:04] jhpedemonte commented on #2258
I assume the issue here is that we're getting the "node" from the VE DOM, rather than the Model.  Since Dojo (and other widgets) can replace the existing DOM nodes with something entirely different, we **cannot depend on the VE DOM** for these things, and should **use the model** instead.

[2012-05-15 15:09] jhpedemonte commented on #1990
-> M7

[2012-05-15 15:09] jhpedemonte commented on #2000
@JonFerraiolo @childsb, either of you know the code in which to fix this?

[2012-05-15 15:10] aerwin opened #2272 "Add ability to resize preview table in GridX wizard"
Opening for M7...

It would be nice if the preview table on the 3rd panel of the GridX Wizard coud be resized and that size applied when the Finish button on the wizard is pressed.

[2012-05-15 15:17] jhpedemonte commented on #2086
-> M7/Med

Not sure how doable the package.json approach is with our current code.  Will have to investigate.

[2012-05-15 15:19] jhpedemonte commented on #2245
Since we're trying to finish M6 quickly, pushing this off to M7.  This requires some further discussion as to what we want to do.

-> M7

[2012-05-15 15:20] jhpedemonte commented on #2260
cc @JonFerraiolo @billreed63

[2012-05-15 15:21] JonFerraiolo commented on #1990
Templates sounds like a very strong candidate for this issue, but another possibility to discuss is whether we should have special snapping logic in the visual editor where if the user drags a widget to the bottom of the page, we automatically "snap to bottom" (by setting bottom:0). That's just a brainstorm and I haven't thought through the implications of such snapping behavior.

[2012-05-15 15:21] jhpedemonte commented on #1467
-> M7/Med

[2012-05-15 15:22] JonFerraiolo commented on #2272
@doronrosenberg, @childsb, @billreed63, @peller, @jhpedemonte - I expect nearly every is interested in the resizable dialogs issue.

[2012-05-15 15:23] jhpedemonte commented on #1954
Is there a Dojo bug open for this?  Or is it an issue with the underlying XHR architecture of the browser?

[2012-05-15 15:25] peller commented on #1972
-> M7

[2012-05-15 15:26] peller commented on #1972
possibly related to #2258

[2012-05-15 15:27] jhpedemonte commented on #2214
I committed some code a couple days ago that changes how server errors are handled, so this functionality may have changed (for better or worse).  Please retest.

[2012-05-15 15:28] jhpedemonte commented on #2084
@childsb, I believe you changed some things related to R&C cookies.  Is there anything left to do here?  If so, push off to M7.

[2012-05-15 15:35] jhpedemonte commented on #1484
-> M7

see #2270

[2012-05-15 15:39] aerwin commented on #2264
@JonFerraiolo Per scrum, this seemed to be more than just a stickiness issue (which I guess never happened).. but, bigger in that it didn't seem to apply the change to the current state.

[2012-05-15 15:45] jhpedemonte commented on #2149
DataGrid is **deprecated**.  Please retest with **GridX**.

[2012-05-15 15:47] #2233 closed, assigned to billreed63

[2012-05-15 15:47] peller commented on #27
-> M7/High

[2012-05-15 15:52] JonFerraiolo commented on #2260
-> @billreed63 @peller

It looks like claro.css (since Dojo 1.6) has changed such that dijitButtonNode (an interior node) now explicitly sets color to black, whereas the version of claro.css that we have been using in user content is a pre-1.6 version of claro that allowed 'color' to inherit from the button's root node. This "bug" was introduced when we updated claro.css in davinci.dojo_1_7/WebCon

[2012-05-15 15:55] aerwin commented on #2272
Just FYI... this isn't purely a resizable dialog issue. I'm specifically talking about adding the ability to resize the grid within the preview pane. To give an accurate preview, it's sized exactly as it is in the page editor. But, you can see from this screenshot where you might want to resize to get rid of the horizontal scrollbar before clicking Finish (and have that change reflected back in th

[2012-05-15 16:00] #2234 closed, assigned to billreed63

[2012-05-15 16:03] JonFerraiolo commented on #2000
I think it's davinci.joomla/WebContent/welcome.html, which is just a redirect:

`window.location = "http://" + window.location.hostname + "/";`

Maybe we need to change it to:

`window.location = "http://" + window.location.hostname + "/login.php";`

and then we can have `http://maqetta.org/login.php` do a redirect to the joomla page with the login dialog:

[code]

(I'm thinking we wouldn't want t

[2012-05-15 16:08] billreed63 commented on #2262
I am still seeing this issue, if I have the debugger off in chrome then updates do not happen consistently. Only with the debugger open (which in my case disables cache) do the changes get applied..

Works like a champ on FF

[2012-05-15 16:10] aerwin opened #2273 "Dropping GridX (and I suspect other widgets) onto page fails"
After syncing with all the latest, I can no longer drop GridX onto the canvas. I see the following in JavaScript console:

[code]

And, breaking on errors in debugger stops here (line 49 in DataGridCreateTool):

[code]

It looks like `getUniqueObjectId` is undefined. Searching code for `getUniqueObjectId`, I see a number of hits in the Dojo 1.7 plugin. So, I expect this is fairly pervasive.

[2012-05-15 16:20] aerwin commented on #2002
Must fix M6

[2012-05-15 16:21] aerwin commented on #2243
Marking closed with above commits (though eventually might add some more "edge" cases to the newly added plans).

[2012-05-15 16:23] aerwin commented on #1635
-> M7

[2012-05-15 16:24] aerwin commented on #1623
-> M7

[2012-05-15 16:24] aerwin commented on #125
-> M7

[2012-05-15 16:24] JonFerraiolo commented on #2262
Yes, I'm still seeing this issue too

[2012-05-15 16:25] aerwin commented on #1731
-> M7

[2012-05-15 16:25] aerwin commented on #341
-> M7

[2012-05-15 16:25] aerwin commented on #1795
-> M7

[2012-05-15 16:26] aerwin commented on #1631
-> M7

[2012-05-15 16:27] aerwin commented on #2246
-> M7

[2012-05-15 16:27] #2243 closed, assigned to aerwin

[2012-05-15 16:28] aerwin commented on #2040
-> M7

[2012-05-15 16:28] jhpedemonte commented on #2000
Re-assigning to @JonFerraiolo, since he seems to know what he's doing!

[2012-05-15 16:43] childsb commented on #2084
still used but prob can take a 2nd refactoring. reduced priority/moving to M7

[2012-05-15 16:45] childsb commented on #2037
haven't been able to reproduce.

[2012-05-15 16:45] #2037 closed, assigned to childsb

[2012-05-15 17:00] #2273 closed, assigned to peller

[2012-05-15 17:01] doronrosenberg commented on #2186
@JonFerraiolo The issue here is that the menuitems have ids, and we generate 2 context menus - one for design view and one for outline.

We could remove the ids or reuse the same menu object between the 2

[2012-05-15 17:08] doronrosenberg commented on #2186
@jhpedemonte

hmm,since we support multiple parts per context menu, removing hte ids from the actions might be the only answer.  Or we could remove ids during menu creation.

[2012-05-15 17:14] childsb commented on #2036
can't reproduce.

[2012-05-15 17:14] #2036 closed, assigned to childsb

[2012-05-15 17:14] childsb commented on #2035
can't reproduce.

[2012-05-15 17:14] #2035 closed, assigned to childsb

[2012-05-15 17:15] childsb commented on #2011
haven't been able to reproduce

[2012-05-15 17:15] #2011 closed, assigned to childsb

[2012-05-15 17:15] childsb commented on #2009
i haven't been able to reproduce this.

[2012-05-15 17:15] childsb commented on #1720
can't reproduce.

[2012-05-15 17:15] #1720 closed, assigned to childsb

[2012-05-15 17:28] JonFerraiolo commented on #2272
From chat session:
@JonFerraiolo: My first thought would be to have a single resize icon in lower right and the whole dialog resizes, and we make the various subpanes either expand/contract with the resizing, or remain fixed size with white space increasing around the fixed size pane
@aerwin : yes
@aerwin : but the preview shouldb't be impacted by resizing dialog
@aerwin : preview is sized exactly

[2012-05-15 17:32] #1950 closed, assigned to childsb

[2012-05-15 17:34] JonFerraiolo commented on #2186
if things work by removing the ids, that seems the best. However, I'm not sure whether we have some dependencies on menu IDs somehow, particularly in Workbench.js. (I remember the menu code, but I don't remember details about how it works)

[2012-05-15 17:39] JonFerraiolo commented on #2009
Reopening and reassigning to me just to try to reproduce. I saw this problem as recently as this weekend. If I can't reproduce, I'll re-close (is that a word?)

[2012-05-15 17:45] JonFerraiolo commented on #2143
@billreed63 - hope it's OK, I snatched this issue. I figure you will be busy for awhile with the hotmodify issue and I know  the background code, which is quite complicated

[2012-05-15 17:49] doronrosenberg commented on #2186
We use ids from the main menu dropdowns

[2012-05-15 17:51] peller commented on #1720
user cookie is gone in M6, right?  maybe this bug will go with it

[2012-05-15 17:52] #1521 closed, assigned to peller

[2012-05-15 18:08] JonFerraiolo commented on #2000
I have installed a login.php onto Maqetta.org. Needs to be copied to our staging/testing server.

I updated welcome.html with db85d7f079

Now we need to test on staging server. Probably shouldn't close this issue until we have tested on maqetta.org.

[2012-05-15 18:14] JonFerraiolo opened #2274 "MenuHelper: menu is null with build"
@jhpedemonte, @billreed63

With today's build on macwayne2:
- New HTML File - desktop hi-fi page
- Add a Menubar
- Click-select on "Menu 2"
- Drag/drop "Menu 2" to be in front of "Menu 1"

Result=> Console shows `MenuHelper: menu is null`

I don't see the same problem when running in development mode (i.e., launching from Eclipse)

[2012-05-15 18:25] JonFerraiolo opened #2275 "New Theme (claro) fails with Eclipse projects"
@billreed63, @jhpedemonte

With latest M6 code, you can't successfully clone "claro" if you are in an Eclipse project.
- New project - www (with Eclipse box checked)
- New theme - attempt to clone claro into claro2

Result=> error dialog that says:

[code]

[2012-05-15 18:41] JonFerraiolo opened #2276 "Running tutorial, initial drag on ContentPane jumps"
- Go through standard desktop UI tutorial (the one with custom states)
- At the point where you have created a ContentPane and changed position to absolute, and then you drag the ContentPane to a position over the TabContainer, the ContentPane suddenly jumps at the start of the drag operation, and while dragging, the mouse is about 300px lower than the thing that is being dragged

[2012-05-15 18:48] JonFerraiolo opened #2277 "Sketch mode, android theme, CheckBox does funny things"
- Sketch mode
- Switch theme so that mobile "other" is set to "android"
- Add a CheckBox
- Try to drag it or move it with arrow keys

Result=> Jumps downward by a number of pixels

Same with iphone theme

[2012-05-15 19:07] #2186 closed, assigned to doronrosenberg

[2012-05-15 19:23] JonFerraiolo commented on #2264
Returning to @aerwin - I wonder if the problem is the order in which you are doing the operations:

The way the feature is designed, you have to check "Only apply to current state" and then change the value. The way the feature is designed now is that you click on the appropriate radio buttons to pick either element.style or a CSS rule to which the property change should apply, and you click on ch

[2012-05-15 19:55] JonFerraiolo opened #2278 "Code cleanup: remove reference to editorCreateCallback"
Couldn't find any code that still uses editorCreateCallback (keywordArgs to Workbench.openEditor)

[2012-05-15 19:55] doronrosenberg commented on #2252
Fixed by 8740c1e0a2c584c3cdbd4652bdfeb67be1e733fa

[2012-05-15 19:55] #2252 closed, assigned to doronrosenberg

[2012-05-15 19:56] doronrosenberg commented on #699
-> M7

[2012-05-15 19:57] doronrosenberg commented on #786
-> M7

[2012-05-15 19:58] doronrosenberg commented on #872
-> M7

[2012-05-15 20:08] JonFerraiolo commented on #2263
With only the stack trace to go with, I tried to look through the source code for Workbench.openEditor and Workbench._createEditor to see how it might be possible to have a TypeError, and nothing leaped out at me. I'll keep looking.

(updated) I tried to corrupt my workspace in various ways and put a bad HTML file in my workspace so that a broken file would load, and I couldn't reproduce the same

[2012-05-15 20:18] JonFerraiolo commented on #2249
Closing this. Upon further discussion, it was about a user using a nightly build and the browser issuing messages about "script going too long". That's a whole different issue.

[2012-05-15 20:18] #2249 closed, assigned to JonFerraiolo

[2012-05-15 20:32] #2195 closed, assigned to doronrosenberg

[2012-05-15 20:33] JonFerraiolo commented on #2012
-> @aerwin could you please examine this one? (cc @childsb)

I just reproduced this when testing latest code on macwayne2, and I think I found the culprit in the sources. Look at Workbench.js:178 (in initializeWorkbenchState()):

[code]

Since other people's reviews are in a different project pretty much by definition, we aren't reopening other people's reviews.

Can we change the code to open oth

[2012-05-15 20:36] JonFerraiolo commented on #2009
Closing. I tried to reproduce using similar patterns that caused me trouble this weekend and couldn't reproduce. (Let's hope that I don't reopen 2 minutes later! :-)

[2012-05-15 20:56] billreed63 commented on #2262
For some reason using `<style type="text/css"> @import 'theme.css'</style>`  in context.js to load the theme
was not allowing us to consistently load and fine the style sheets for hot modify  on Chrome > 19
so I change the code in Context to use `<link rel="stylesheet" type="text/css" href="'theme.css '">`

Seems to have solved the issue..

[2012-05-15 20:59] #2262 closed, assigned to billreed63

[2012-05-15 21:29] #2260 closed, assigned to billreed63

[2012-05-15 21:44] #2277 closed, assigned to JonFerraiolo

[2012-05-15 21:46] billreed63 commented on #2214
I have not seen this issue for quite a while now, we can reopen if it reappears

[2012-05-15 21:46] #2214 closed, assigned to billreed63

[2012-05-15 21:51] JonFerraiolo commented on #2262
It was easy as that? I'm worried that we have other places in our code that are dependent on @import instead of LINK. @jhpedemonte, have you seen this? Also, are there migration issues?

[2012-05-15 22:00] billreed63 commented on #2262
I don't think it is a migration issue, we added the theme CSS files in Context.js (page designer) so we are just using link to add them dynamically to the head instead of `@import`

[2012-05-15 22:10] childsb commented on #249
-> M7

[2012-05-15 22:12] childsb commented on #267
tested, doesn't seem to be an issue.

[2012-05-15 22:12] #267 closed, assigned to childsb

[2012-05-15 22:16] childsb commented on #811
i consider this issue resolved

we have a static location on the server for dojo, so its OK for the theme editor to reference that version.  replacing a sentinal string with the users workspace URL wasn't good and has been removed.

[2012-05-15 22:16] #811 closed, assigned to childsb

[2012-05-15 22:19] childsb commented on #882
Refactoring, lowering priority

[2012-05-15 22:21] childsb commented on #1440
This is working

[2012-05-15 22:21] #1440 closed, assigned to childsb

[2012-05-15 22:33] JonFerraiolo commented on #249
-> @doronrosenberg

[2012-05-16 01:45] jhpedemonte commented on #2009
Reopening.  Ran into this again.

Testing on **lab9:50020**, running through **MainMenu: Overview** test plan.

In the 2nd test there, I created a new file with default name ("file1.html") and, as stated in summary of this bug, I clicked on **Preview**.  All that worked fine.  Closed preview and closed file tab.  At this point, **the file disappeared from the Files view**.

Created a new file, usi

[2012-05-16 01:46] jhpedemonte commented on #2009
Back to @childsb.

[2012-05-16 01:50] jhpedemonte commented on #2009
Checked server log but showed no errors.

I'm guessing this is a bug in our client-side resource code which, for whatever reason, loses track of the created file.  So when creating a new file, it uses the name of an existing file.  Then, it does a server call (to create file?), which instead returns the contents of the existing file.  Or something like that.  @childsb knows that code better.

[2012-05-16 01:57] jhpedemonte commented on #2009
Brad, if you can't recreate this, at least add a comment here letting us know **what we should look for in the debugger**.  That way, next time it happens, I can inspect the state of the app.

[2012-05-16 02:51] jhpedemonte commented on #1805
Reopening and moving to M6.

Ran into this issue while running the **Eclipse Project** test plan on **lab9:50020**, using Firefox 12/Mac.  Chose to **download the entire workspace** and took the defaults (all libs checked).  Debugger broke at this line:

[code]

in `isThemeHTML()`.  `_2288` is null.

We've now run into this bug on M4 (#1454), M5 and M6.

[2012-05-16 02:55] jhpedemonte opened #2279 "Improper handling of accented filenames"
Created a folder called **éttubruté** and a file called **ümlaut.js**.  Files in folder and ümlaut.js were all open.  When I refreshed the browser, none of those files were reopened (some that didn't have accented names were reopened).

Looking at **Files** view, accents had become mangled:

![accented filenames](http://i.imgur.com/a1uJu.png)

[2012-05-16 02:58] peller commented on #1890
-> M7

[2012-05-16 02:59] jhpedemonte opened #2280 "Empty non-HTML editors"
Going through tests with many files left open.  Closed an HTML file and was taken to a CSS editor.  Showed nothing in editor view -- no content, no gutter with line numbers.  Same thing happened for all other open CSS and JS files (HTML files worked fine).

![empty editor](http://i.imgur.com/TtzAQ.png)

(Worth spending a bit investigating this, but feel free to push to M7 if too risky or too invol

[2012-05-16 03:01] jhpedemonte opened #2281 "VE update after source changes takes too long"
In Source view, delete widget and it takes **3 seconds** for deletion to be reflected in VE.

[tested on Firefox 12/Mac]

[2012-05-16 03:05] peller commented on #1972
@billreed63 do you still see this problem?

[2012-05-16 03:09] jhpedemonte opened #2282 "Item selection issues in Widgets palette."
In **Widgets** view:
1. New HTML file.
2. Select any widget.  Notice that when you move mouse off of Widgets view, item stays selected, and you get a crosshair when moving over VE (implying that you can drop widget in page).
3. Select a different widget in Widgets palette.

At first, it looks like the 2nd widget has been selected.  But once you move the cursor away, you see that the widget is not

[2012-05-16 03:12] jhpedemonte opened #2283 "Project combo box shouldn't be editable"
The drop down in **Files** view which allows selecting between projects is editable.  User can enter any value and hit enter, causing a refresh.

Should just be a drop down and shouldn't allow editing.

@childsb @JonFerraiolo

[2012-05-16 03:24] #2253 closed, assigned to JonFerraiolo

[2012-05-16 03:26] JonFerraiolo commented on #1967
Pushing any remaining work on this issue to M7

[2012-05-16 03:26] JonFerraiolo commented on #1499
-> M7

[2012-05-16 03:27] JonFerraiolo commented on #1442
-> M7

[2012-05-16 03:27] JonFerraiolo commented on #1406
-> M7

[2012-05-16 03:55] jhpedemonte commented on #2095
re: @peller's [last comment](https://github.com/maqetta/maqetta/issues/2095#issuecomment-5265556):

`maqetta/States.js` was renamed to `maqetta/AppStates.js`.  So what needs to be done here for migration?

[2012-05-16 03:59] jhpedemonte opened #2284 "M5->M6 migration script"
Affected issues/commits:
- Update listing of "maqetta" library in `<project>/.settings/lib.settings` [#2142]
- `maqetta/States.js` renamed to `maqetta/AppStates.js` [#2095]
- "maqetta" lib files moved into `<project>/lib` [#1193]
- "maqetta" lib files now using `require()` [#2085]
- New theme map format [#2251]

---

**Tasks:** _(updated 2012-05-16)_
1. Delete `users/.review` dir.
2. Delete guest

[2012-05-16 04:22] JonFerraiolo opened #2285 "Resize problems"
The inner DIV doesn't resize properly in this file:

[code]

Also, mobile sliders don't resize properly.

[2012-05-16 04:31] #2276 closed, assigned to JonFerraiolo

[2012-05-16 04:33] aerwin commented on #2264
@JonFerraiolo Yes, I think you're right. When I follow the order you suggest (and upon closer inspection the test case suggests), it works. So, I'll close. Though I do wonder if we have a UX issue we should think about addressing.

[2012-05-16 04:33] #2264 closed, assigned to aerwin

[2012-05-16 13:06] peller commented on #2284
the lib issues seem to require migration, but the states files and require could be resolved by asking users to do a load/save on their files.  Until then, states functionality will not work.  Removing the old script tag for the missing States.js file is optional.

[2012-05-16 13:13] JonFerraiolo commented on #2264
@jmockler

Regarding UX question, we need to rethink the whole UI with application states. I've run into numerous usability walls with the current UI. Just for starters, when you move a widget by dragging it around the screen, how does the user tell maqetta whether to change the base location (ie Normal) or only for current state? At the moment, the only hook we have for that is for the user to ho

[2012-05-16 13:20] peller commented on #2281
Time to render will increase with page complexity and # of widget types.  That said,

One second is spent waiting for the user to stop typing (see onTextChanged in davinci/ui/Editor)  This could be adjusted, but until everything else is snappier, I think we're better off leaving the delay long.

After that, additional time seems to be spent doing GC (in Chrome, about .2 sec)

Model update occurs

[2012-05-16 13:32] peller commented on #2279
Server streams and responses should all be UTF-8.  Filename on disk is ok, so it seems to be listFiles mangling the names

[2012-05-16 13:37] billreed63 commented on #1972
no

[2012-05-16 13:37] #1972 closed, assigned to peller

[2012-05-16 14:16] jhpedemonte commented on #2284
Yesterday, I created a new user on both M5 and latest M6 as follows:
1. Delete any existing `users` dir.
2. Start server in multi-user mode.
3. Create new user.
4. Create new:
   - HTML file - add a Calendar
   - CSS file
   - JS file
   - Theme - clone claro
   - Review of Sample1.html
5. Repeat (4) with a new Eclipse project.

_Note:_ Couldn't create a theme in the Eclipse project, due to an exi

[2012-05-16 14:18] peller commented on #2284
Correct - we renamed the files specifically so that the old statements would fail gracefully in VE and at runtime

[2012-05-16 14:18] jhpedemonte commented on #2284
cc @JonFerraiolo @aerwin  @billreed63, please take a look at the [M5->M6 diff](https://gist.github.com/2707580).

@aerwin, there are significant changes in a couple of the Eclipse project files (first 2 in the diff).  Do we need to handle those changes during migration?

[2012-05-16 14:28] jhpedemonte commented on #2284
Updated summary with known migration tasks.  Let me know if I missed anything.

[2012-05-16 14:31] peller opened #2286 "theme editor changes not reflected in open documents"
Open the theme editor for a new theme
Open a file using that theme.  Drop a widget or two on the page.
Flip back to the theme editor and make a visual change to the style of those widgets
Flip back to the editor, no change is seen.  You must save, close and reopen your file to see it.

Not sure if this should be M7. If we switch to a single editor per workspace, this issue obviously goes away.

@J

[2012-05-16 14:34] aerwin commented on #2284
@jhpedemonte I'd say if we expect M5 users to try to import projects they've migrated to M6 into RAD, it would give them the smoothest experience if we migrated these files.

That said, I'm not sure things would "fail" without migrating. E.g., some of the changes were to better exclude Dojo from validation checking, etc.

If you wanted to export your M5 project, I could probably try and get the la

[2012-05-16 14:37] JonFerraiolo opened #2287 "Drag/drop files from desktop into app"
@jmockler @peller @childsb @jhpedemonte

Right now, if a user wants to use his own images with Maqetta, he has to upload those files to the cloud and then use the files from the Files palette. Modern browsers now allow drag/drop from local system onto browsers. Here is a web page that shows programming techniques for using new HTML5 features in this area:

http://www.html5rocks.com/en/tutorials/fi

[2012-05-16 14:41] JonFerraiolo commented on #2286
Moving to M6 Med for time being so @billreed63 will look at it in short-term.

If you mean that the theme editor and page editor would be in different browser windows, I would think the issue would get worse. At least right now (I believe) we maintain a shared model for CSS files (i.e., themes) that gets shared across all open editors.

[2012-05-16 14:49] JonFerraiolo opened #2288 "Selection chrome (focus) doesn't show in this case"
- New HTML File - desktop hi-fi page
- Add an Accordion
- Drop a BorderContainer inside of Accordion
- In Outline palette, select the first ContentPane of Accordion

Result-> Focus chrome isn't visible.

[2012-05-16 14:55] JonFerraiolo commented on #2284
Regarding importing into RAD, it's a hard enough problem to get files created by our latest and greatest version of Maqetta to import correctly into the latest and greatest version of RAD. I'd drop everything else.

[2012-05-16 14:59] evanhw commented on #2172
Hi aerwin,

It's already fixed with https://github.com/evanhw/gridx/commit/886ee6d79b81a0abd6fbed363f92d97e4716029a

Thanks for finding this!

[2012-05-16 15:00] JonFerraiolo opened #2289 "gridx instructions for Developer-Setup"
In a quick search for "gridx" I didn't see anything on:

https://github.com/maqetta/maqetta/wiki/Developer-Setup

Do we need gridx setup instructions there?

[2012-05-16 15:07] aerwin commented on #2289
Yes, dup of #2164 (which I'm still planning for M6).

[2012-05-16 15:07] #2289 closed, assigned to aerwin

[2012-05-16 15:26] doronrosenberg commented on #2283
This broke project selection, reopning

[2012-05-16 15:33] aerwin commented on #2172
Thanks, @evanhw ! I just verified the fix, so closing this issue.

[2012-05-16 15:36] aerwin commented on #2284
You mean "drop everything else" to get the files migrated?

[2012-05-16 15:45] JonFerraiolo opened #2290 "Release notes about themeMaps"
Need to tell users what they need to do regarding changing their HTML files for mobile theme maps.

maqetta.core.client/WebContent/docs/releasenotes/preview6.html

[2012-05-16 15:57] aerwin commented on #2012
@JonFerraiolo So, I must be missing something in your scenario because I still can't reproduce. :)

In the screenshot below I have reviews open from userA (Sample1.html.rev) and userB (Sample2.html.rev), and I can keep hitting refresh and the editors continue to reopen.

![Screenshot](http://i.imgur.com/LWriv.png)

Any ideas what I'm missing?

[2012-05-16 16:01] JonFerraiolo commented on #2284
No, I mean just worry about getting new projects created exclusively with M6 to export/import into the latest release of RAD, and don't worry about dealing with Maqetta projects/content created with M5 or earlier, and don't worry about dealing with Maqetta M6 projects working with older releases of RAD.

[2012-05-16 16:03] aerwin commented on #2012
Ok... guess you ran on macwayne... let me try that. My attempt was from Eclipse. So, not sure what would be different.

[2012-05-16 16:09] jhpedemonte commented on #2287
Not sure if we want to use the data: protocol at all.  Just prompt user for where to save image in project, then add image widget with correct URL to page.

[2012-05-16 16:17] jhpedemonte commented on #2284
RE: Eclipse projects.  So what I'm hearing is that we should **not** migrate Eclipse projects.  We should probably add something to the release notes about this as well, saying that there were updates to Eclipse/RAD handling in M6 and that users may need to recreate their projects.

[2012-05-16 16:18] billreed63 commented on #2286
This is a regression, the singleton code has been dropped,  by commit 33f95c0a52bed07be7612dd3fdf25b3cbf0253d3
There may be other pieces that are missing..

CSSImport:71
 CSSSelector: 128
 HTMFile 178

[2012-05-16 16:21] jhpedemonte commented on #2030
-> M7/Tony

[2012-05-16 16:22] jhpedemonte commented on #2023
-> M7

It seems to have gotten better for me as of late.  Not sure what changed.

Tony, if it's working better for you, feel free to close.

[2012-05-16 16:23] jhpedemonte commented on #1905
-> M7/Tony

[2012-05-16 16:23] jhpedemonte commented on #1213
-> M7/Med

[2012-05-16 16:26] jhpedemonte commented on #1971
-> @doronrosenberg

Doron, check out `VisualEditor.refresh()`.  I created this function to record the current selection as an XPath, update the source, then redo the selection using the saved XPath.  As Jon suggests above, may be useful to fix this.

[2012-05-16 16:27] jhpedemonte commented on #1935
Assigning to @doronrosenberg, but may require expertise of @peller.

[2012-05-16 16:43] jhpedemonte commented on #2099
Given discussion above, I'm closing this.  Reopen if you disagree.

[2012-05-16 16:43] #2099 closed, assigned to jhpedemonte

[2012-05-16 16:44] jhpedemonte commented on #1989
-> M7

See also #1054.

@doronrosenberg

[2012-05-16 16:45] jhpedemonte commented on #1892
-> M7

Never got around to working on this in M6, but I think we have a good course of action, as outlined above.

@doronrosenberg

[2012-05-16 16:45] jhpedemonte commented on #1718
-> M7

[2012-05-16 17:07] jhpedemonte commented on #1710
This seems to have been fixed.  For one, I cannot move the Views -- I believe Jon fixed that already.

I tried to do the same by adding a Button, setting the ID and moving it around, but the ID never changed.

Closing.

[2012-05-16 17:07] #1710 closed, assigned to jhpedemonte

[2012-05-16 17:07] jhpedemonte commented on #1611
-> M7

[2012-05-16 17:08] JonFerraiolo commented on #2258
Reopening after reverting fix with c466fa0995 . We need to take a different approach to fixing this problem. The fix in c466fa0995 caused all widgets to use their tagname as their ID. This means that all mobile views get the name "div_0", "div_1", ..., versus what we had in Preview 5 of "ScrollableView_0", "ScrollableView_1", etc. @jhpedemonte and @JonFerraiolo discussed this and both felt strongl

[2012-05-16 17:08] jhpedemonte commented on #1447
Closing.

[2012-05-16 17:08] #1447 closed, assigned to jhpedemonte

[2012-05-16 17:08] jhpedemonte commented on #1342
-> M7

[2012-05-16 17:09] jhpedemonte commented on #1235
-> M7

[2012-05-16 17:09] jhpedemonte commented on #1180
-> M7

see #1475

[2012-05-16 17:12] jhpedemonte commented on #2056
-> M7

[2012-05-16 17:12] jhpedemonte commented on #2005
-> M7/Brad

[2012-05-16 17:12] jhpedemonte commented on #1873
-> M7

[2012-05-16 17:13] jhpedemonte commented on #1747
Closing, since we're also using `onDocInit`.  All of this will eventually need to be cleaned up and standardized.

[2012-05-16 17:13] #1747 closed, assigned to jhpedemonte

[2012-05-16 17:13] JonFerraiolo opened #2291 "For automatic widget IDs, start with 1, not 0"
@jhpedemonte

If the user creates two ScrollableView's, the automatic IDs should be "ScrollableView_1" and "ScrollableView_2", not 0 and 1.

[2012-05-16 17:15] jhpedemonte commented on #1744
-> M7 / @doronrosenberg

[2012-05-16 17:16] jhpedemonte commented on #1236
-> M7 / @peller

Anything left to do here?

[2012-05-16 17:58] #2163 closed, assigned to JonFerraiolo

[2012-05-16 18:03] #2286 closed, assigned to billreed63

[2012-05-16 18:07] JonFerraiolo opened #2292 "Scenes palette not updating after source changes"
If I change the ID of a VIew in source pane, the Scenes palette doesn't update to show the new ID

[2012-05-16 18:08] JonFerraiolo commented on #2041
I tried to reproduce this in M5 (and latest code) and I'm able to change IDs on DIVs that contain mobile widgets, and the mobile widgets don't disappear. There must be something else going on that's not listed in the original report.

Reassigning to @jhpedemonte to see if he can come up with a reproducible error. Otherwise, maybe close this one and wait until we have more detail about how to repro

[2012-05-16 18:18] aerwin opened #2293 "VE 2 test case: Difficulty adding new widgets when scrolled to the bottom"
Using FF on Mac...

Working through VisualPageEditor/basic2.html test cases... got to step 3 of the "Container widgets (continuation of previous)" section where it asks me to drop an HTML DIV onto the panel (after just dropping some Dojo containers).

Basically, I'm not having a lot of luck adding the DIV (or any other widgets) when scrolled to the bottom.

Comments that follow apply to screen sho

[2012-05-16 18:20] aerwin commented on #2293
Also, if I scroll to the top with this same file and drag the DIV over the top half of the document, I don't really see these sorts of issues

[2012-05-16 18:27] doronrosenberg commented on #1935
Selection in source view is broken in general

[2012-05-16 18:28] aerwin commented on #2293
Also, as I play with it some more, I see if I drop a DIV into the accordion and then try to drop widgets into the DIV that the drop indicator is off. E.g., in the screen shot below, note the ghosted "TextBox" flyover hanging out at the bottom of the canvas, well below the DIV I'm trying to drop the TextBox into.

![Screenshot](http://i.imgur.com/dKUGH.png)

[2012-05-16 18:30] jhpedemonte commented on #2293
-> M7 for now.

We have a bug or two already open about this, I believe.  Please search and see if you can dupe this bug to that one (or vice-versa, since you have a lot of details in this one).

[2012-05-16 18:42] peller commented on #1236
@jhpedemonte only to consider whether these dependencies belong in metadata rather than hard-coded in Context.js

[2012-05-16 18:45] peller opened #2294 "failed review messages should bounce to user's e-mail"
In the event a review message fails, the bounce should be forwarded to the user's e-mail.

Refs #2099

[2012-05-16 18:46] childsb commented on #1805
@billreed63 i believe this is failing after the clone theme fails.  download a fresh project with no cloned themes works fine.

[2012-05-16 18:53] aerwin opened #2295 "Weirdness with absolutely positioned div"
Using FF on Mac...
- Create new HTML file
- Set layout to absolute
- Drag/drop a DIV onto page

![Screenshot](http://i.imgur.com/RWAtF.png)
- Drop Dojo button into DIV and end up with weird box

![Screenshot](http://i.imgur.com/DUKsU.png)
- Then, it seems like if I select the DIV in the outline it selects the right region, but the weird extra box stays around:

![Screenshot](http://i.imgur.com/1as

[2012-05-16 18:55] doronrosenberg commented on #1935
@jhpedemonte @JonFerraiolo

So I debug this into orion/textview/textView::setSelection, with valid offsets given from our code.  This seems to be an orion issue as far as I can tell.

[2012-05-16 19:00] #2292 closed, assigned to JonFerraiolo

[2012-05-16 19:06] JonFerraiolo commented on #1419
I fixed this about a month ago. The undo code was present, but there was a small bit of logic that was wrong that I fixed. (I don't remember the details).

Anyway, can't reproduce with latest code, so closing.

[2012-05-16 19:06] #1419 closed, assigned to JonFerraiolo

[2012-05-16 19:09] aerwin opened #2296 "Surround with div/span fails"
1. New HTML file
2. Drag button onto canvas
3. Select Button
4. Right-click and select "Surround with Div" from context menu
5. Nothing happens and following in Firebug console:

[code]

[2012-05-16 19:09] JonFerraiolo commented on #43
This issue has not been resolved yet. We still don't put a toolbar with Save/SaveAs icons.

-> @doronrosenberg - could you please look into this and see if there is a safe fix for M6? Note that we provide a toolbar for *.js, *.css, *.json and *.svg (and maybe a few more)

[2012-05-16 19:10] childsb commented on #2009
First thing I'm noticing is that preview auto saves the file. The editor is no longer dirty after a preview, and the working copy is removed.  So it's an actual hard save.

I can't reproduce this given those steps.  Snooping around the code, the best I can guess is that the save command isn't finishing before the preview / browser launches and theres some race condition around the resource.

We co

[2012-05-16 19:12] JonFerraiolo commented on #305
I actually fixed the Outline palette part of this bug in the M6 cycle, but the States palette part isn't done yet. Just need to make a command for various states actions. Probably not a huge deal, but not something I would want to attempt this late in the M6 cycle.

Pushing to M7 Prio High.

[2012-05-16 19:23] childsb commented on #2101
I looked for this code in visual editor and it seem to be removed.  closing issue.

[2012-05-16 19:23] #2101 closed, assigned to billreed63

[2012-05-16 19:30] childsb commented on #2038
Removed here:
adfc238d1bcbed91f8f4592708ab1f524c714797

[2012-05-16 19:30] #2038 closed, assigned to childsb

[2012-05-16 19:32] peller commented on #2009
wouldn't async make it worse?

[2012-05-16 19:38] peller commented on #1971
note that ids are changing again now that #2258 was backed out. might impact your xpaths.

[2012-05-16 19:40] childsb commented on #2009
async loading will force ordering with the deferred return.  It would turn into something like:

editor.save().then(function(){editor.showPreview()});

ensuring that save completed the round trip before the preview shows.

[2012-05-16 19:40] peller commented on #2287
Agreed.  No choices on DnD sounds like a better user experience.  If we really want to support the data protocol, perhaps that would be a separate operation, available to all images, but probably best left to some other optimization tool.

[2012-05-16 19:44] peller commented on #1447
The original bug is gone.  It used to pop up an empty dialog after the alert.

[2012-05-16 19:44] #2275 closed, assigned to billreed63

[2012-05-16 19:45] peller commented on #2250
-> M7

[2012-05-16 19:47] JonFerraiolo commented on #1935
cc'ing @aerwin - I thought @aerwin fixed some of our source selection issues at one point recently.

[2012-05-16 19:51] JonFerraiolo commented on #1744
-> @JonFerraiolo M6 Prio-Med - this might be a quick and safe thing to fix. There is a single "refresh States palette" routine that gets called in response to several different events. We just might need to add a dojo.publish() in the right place.

[2012-05-16 19:51] #1289 closed, assigned to childsb

[2012-05-16 19:52] billreed63 commented on #1805
fixed by #2275

[2012-05-16 19:52] #1805 closed, assigned to billreed63

[2012-05-16 19:54] JonFerraiolo commented on #1710
As I remember, I actually fixed both the ID changing problem and prevented user from dragging Views that are direct children of BODY (just like we don't allow dragging of ContentPane's that are inside of TabContainer, BorderContainer or Accordion). As I remember, I fixed the ID changing problem first, convinced myself the problem was addressed, and then I disabled View dragging.

Short version: OK

[2012-05-16 19:57] aerwin opened #2297 "Able to activate TextBox in theme editor (which causes weird stuff in Hover state)"
Using FF on Mac...

I seem to be able to fairly consistently activate the TextBox in the theme editor. It seems especially prone to happening when I click the white space on the right side of the text. Below is a screen shot where I was able to enter some text:

![Screenshot](http://i.imgur.com/KlGiS.png)

But, I think the behavior is worse when I start trying to work with other states. E.g., if I

[2012-05-16 20:08] aerwin opened #2298 "Subwidget theming: Can't modify Tabbed Pane Subwidgets"
Using FF on Mac...
1. Clone theme
2. Select any of the Tabbed Pane subwidgets
3. Try to change background or font and nothing happens

[2012-05-16 20:09] JonFerraiolo commented on #2293
I played with this some and have concluded this is a must-fix. The visual editor is getting in good shape and this particular scenario, while not super commonplace, is still a common-enough problem that we should try to fix.

I expect there are some math bugs around widget location.

[2012-05-16 20:11] #43 closed, assigned to doronrosenberg

[2012-05-16 20:13] peller commented on #1554
@JonFerraiolo: Moving to M7 Prio-Med to reassess after selection regressions are fixed

[2012-05-16 20:19] aerwin opened #2299 "R&C Test Cases Need Refresh"
The R&C test cases are a little outdated. For example, the "Receiving a review invitation" needs updated to say link should take user directly to review (rather than needing to go to Reviews palette and double-click the file).

Also, probably need a new section for testing that you should now see your reviews and reviews others have created in the same tree.

[2012-05-16 20:27] peller commented on #1161
-> M7

[2012-05-16 20:27] peller commented on #1338
-> M7

[2012-05-16 20:31] peller commented on #1422
works for me

[2012-05-16 20:31] #1422 closed, assigned to peller

[2012-05-16 20:31] peller commented on #844
-> M7

[2012-05-16 20:34] JonFerraiolo commented on #2293
Looks like this is a Firefox-only bug. Not seeing this with Chrome.

[2012-05-16 20:35] peller commented on #620
We're still using eval to parse djConfig data in Context.js and Theme.js (now require.eval... not sure if that's really any better)

Also, eval is still used in davinci.review.drawing.tools.ExchangeTool

-> M7

[2012-05-16 20:36] peller commented on #1039
-> M7

[2012-05-16 20:37] #2281 closed, assigned to peller

[2012-05-16 20:52] JonFerraiolo commented on #2101
@billreed63 moved the code from VisualEditor.js to ThemeModifier.js with this commit: https://github.com/maqetta/maqetta/commit/17d52700518bd1476722b28df4f0d9f5ac3bd65e#maqetta.core.client/WebContent/davinci/ve/VisualEditor.js

Reopening and assigning to @billreed63

[2012-05-16 20:53] jhpedemonte commented on #2295
cc @JonFerraiolo

[2012-05-16 20:54] JonFerraiolo commented on #2296
I noticed this on my own and submitted a fix: d4c4151371

[2012-05-16 20:54] #2296 closed, assigned to peller

[2012-05-16 20:55] JonFerraiolo commented on #2295
-> @JonFerraiolo Med maybe same problem as #2293

[2012-05-16 20:57] jhpedemonte commented on #2281
Much better.  Down from 3 secs to about 1 sec on FF.  Code looks good as well.  Thanks.

[2012-05-16 20:57] jhpedemonte commented on #1105
-> M7

[2012-05-16 20:58] jhpedemonte commented on #896
-> M7

[2012-05-16 20:58] jhpedemonte commented on #795
-> M8

[2012-05-16 20:59] jhpedemonte commented on #750
-> M7

[2012-05-16 21:00] jhpedemonte commented on #733
-> M7.  Want to keep this open, give my [previous comment](https://github.com/maqetta/maqetta/issues/733#issuecomment-4151754).

[2012-05-16 21:04] jhpedemonte commented on #675
Closing, since this specific issue seems to be fixed.

However, I'm seeing some oddities when the page is scrolled.  If I select a widget at the very bottom of a scrolled page, the bottom of the selection box shows above everything else, disconnected from the rest of the selection box.  Sometimes there is grey shading when hovering over a widget -- when the page is scrolled and the widget is towar

[2012-05-16 21:04] #675 closed, assigned to jhpedemonte

[2012-05-16 21:06] jhpedemonte commented on #2041
Confirmed.  Working now.

[2012-05-16 21:06] #2041 closed, assigned to jhpedemonte

[2012-05-16 21:07] jhpedemonte commented on #1151
-> M7, but will probably get pushed beyond to M8.

[2012-05-16 21:07] jhpedemonte commented on #1075
-> M7

[2012-05-16 21:08] jhpedemonte commented on #1064
-> M7

[2012-05-16 21:08] jhpedemonte commented on #1054
-> M7 / @doronrosenberg

[2012-05-16 21:09] jhpedemonte commented on #1053
-> M7

@doronrosenberg

[2012-05-16 21:09] doronrosenberg opened #2300 "Pressing enter in ID field doesn't work in chrome"
Pressing enter in ID field doesn't work in chrome

[2012-05-16 21:09] jhpedemonte commented on #932
-> M7

[2012-05-16 21:10] jhpedemonte commented on #924
-> M7

[2012-05-16 21:10] jhpedemonte commented on #884
@JonFerraiolo, did we ever get these icons?

[2012-05-16 21:10] jhpedemonte commented on #874
-> M7

[2012-05-16 21:11] jhpedemonte commented on #867
-> M7

[2012-05-16 21:12] jhpedemonte commented on #845
Dupe to #1213.

[2012-05-16 21:12] #845 closed, assigned to jhpedemonte

[2012-05-16 21:13] jhpedemonte commented on #731
-> M7

[2012-05-16 21:13] jhpedemonte commented on #729
-> M8

[2012-05-16 21:14] jhpedemonte commented on #724
-> M8

[2012-05-16 21:14] jhpedemonte commented on #520
-> M7 / @doronrosenberg

[2012-05-16 21:15] jhpedemonte commented on #261
-> M8

[2012-05-16 21:15] jhpedemonte commented on #223
-> M8

[2012-05-16 21:16] jhpedemonte commented on #189
-> M7

see #1475

[2012-05-16 21:16] jhpedemonte commented on #961
-> M8

[2012-05-16 21:17] jhpedemonte commented on #943
-> M7

[2012-05-16 21:17] jhpedemonte commented on #853
-> M8

[2012-05-16 21:17] jhpedemonte commented on #818
-> M8

[2012-05-16 21:18] jhpedemonte commented on #740
-> M7 / @doronrosenberg

[2012-05-16 21:18] jhpedemonte commented on #723
-> M7

[2012-05-16 21:18] jhpedemonte commented on #721
-> M7 / @doronrosenberg

[2012-05-16 21:19] jhpedemonte commented on #720
-> M7

[2012-05-16 21:30] #2300 closed, assigned to doronrosenberg

[2012-05-16 21:39] #1581 closed, assigned to childsb

[2012-05-16 21:43] billreed63 opened #2301 "Exception when switching projects"
from project1 clone a theme and level the editor open, new html and leave the editor open
So the usre has two open editors one theme editor and one html
Create a second project, clone a theme and open  html file
Leave both editors open.
now switch project, the theme editor never finish loading and i see exception in console

[2012-05-16 21:45] #2301 closed, assigned to billreed63

[2012-05-16 22:15] JonFerraiolo commented on #2295
This is a Firefox rendering bug with the 'outline' property. -> M7 @JonFerraiolo Prio-High to register a bug with the Mozilla folks.

You see, we have a CSS rule in content.css that puts a faint dotted gray outline around various container elements (DIV, SPAN, TD) in the page editor so that the user will be able to see those elements on the screen even if they have no content, no border and no bac

[2012-05-16 22:18] JonFerraiolo commented on #2295
@jhpedemonte @doronrosenberg FYI

[2012-05-16 22:19] JonFerraiolo commented on #2295
Restoring to M6 Prio-Med. Actually, this is pretty bad. Maybe we can think of a workaround. Best idea I have so far is to remove that rule in content.css for Firefox.

[2012-05-16 22:22] #2293 closed, assigned to JonFerraiolo

[2012-05-16 22:28] doronrosenberg commented on #2295
http://enotionz.net/2011/07/07/firefox-outline-overflow-fix seems to be the issue

[2012-05-16 22:29] doronrosenberg commented on #2295
Looks like adding overflow:hidden to the div "fixes" it

[2012-05-16 22:30] doronrosenberg commented on #2295
Not sure if we want to add that to the DIV.HtmlWidget declaration in content.css, could break other things

[2012-05-16 22:47] JonFerraiolo opened #2302 "Shapes snapping with CreateTool sometimes shifts the shape"
- New HTML file  - sketch
- Add a Calendar
- Try to drag out a rectangle by mousedown at same Y as top of Calendar and to right of Calendar, and drag out the Rectangle down and to right

Result=> Everything is OK. Rectangle snaps to top, and Rectangle is placed at correct location
- Undo, then repeat same operation as above, but drag up and to the right

Result=> Rectangle jumps down. (Top of rect

[2012-05-16 22:49] JonFerraiolo opened #2303 "Review all ve uses of _Widget.getMarginBox"
There might be bugs...

Seems to be used by MoveCommand and SmartInput

[2012-05-16 22:50] peller commented on #1890
see #750

[2012-05-16 22:54] peller commented on #750
reading my earlier comments, and I've flip-flopped completely on this one.  Implementing a real model (perhaps a dojo.store one) would mean we could get rid of the refresh and have the tree update based on real data.

[2012-05-16 22:55] JonFerraiolo opened #2304 "Upload dialog TypeError when closing without doing any uploads"
@peller

We've had this bug all along. Seems to be innocuous.
- In Files palette, bring up context menu and choose "Upload files..."
- When dialog comes up, immediately click on close box ("x")

Result=> TypeError

[code]

[2012-05-16 22:59] JonFerraiolo opened #2305 "Focus chrome (selection) math wrong if container widget is scrolled"
- New HTML FIle - page
- Add TabContainer
- Drag 2-3 Calendar widgets into TabContainer's first pane until scrollbar appears in the ContentPane
- Pull on scrollbar for the ContentPane
- Click to select one of the Calendars

Result=> Selection box is misplaced. Geometry calculations aren't taking widget scrolling into account

[2012-05-16 23:02] JonFerraiolo commented on #675
Were you running on Firefox? I fixed some bugs there: fc1cf6aa20

[2012-05-16 23:04] JonFerraiolo commented on #1105
@aerwin

Was this issue related to gridx's needs in order to get gridx working in a build?

[2012-05-16 23:58] JonFerraiolo commented on #1961
Seems to be fixed by recent geometry fixes to visual editor. Closing.

[2012-05-16 23:58] #1961 closed, assigned to JonFerraiolo

[2012-05-17 00:00] JonFerraiolo commented on #1786
-> @doronrosenberg M7 Prio Med (as part of the more general task of cleaning up dialogs and making them consistent in look and oepration)

@jhpedemonte

[2012-05-17 00:00] JonFerraiolo commented on #1753
-> M7 Med

[2012-05-17 00:02] JonFerraiolo commented on #1704
-> M7 Med

[2012-05-17 00:02] peller commented on #2280
unable to reproduce so far... any tips would be appreciated.  nothing on the console?

[2012-05-17 00:03] JonFerraiolo commented on #1658
-> M7 High (so I'll take time early enough in cycle to do this minor code cleanup)

[2012-05-17 00:03] JonFerraiolo commented on #1619
-> M7

[2012-05-17 00:03] JonFerraiolo commented on #1589
-> M7

[2012-05-17 00:03] JonFerraiolo commented on #1571
-> M7

[2012-05-17 00:04] JonFerraiolo commented on #1570
-> M7 Med

[2012-05-17 00:04] peller commented on #2280
does it have anything to do with your ümlaut test?  I can't even get an HTML file with an ümlaut to persist right now.

[2012-05-17 00:05] JonFerraiolo commented on #1458
-> M7 Med

[2012-05-17 00:06] JonFerraiolo commented on #1452
Closing. Not really a bug, and I don't see us doing any fixes in this area any time in foreseeable future.

[2012-05-17 00:06] #1452 closed, assigned to JonFerraiolo

[2012-05-17 00:06] JonFerraiolo commented on #1414
-> M7 High - I'd really like M7 to create nice source code.

[2012-05-17 00:07] JonFerraiolo commented on #1347
-> M7

[2012-05-17 00:14] peller commented on #2280
-> M7

[2012-05-17 00:14] peller commented on #2077
-> M7

[2012-05-17 00:16] peller commented on #1271
-> future

[2012-05-17 00:17] peller commented on #1255
Need to fix selection problems first.  -> M7

[2012-05-17 00:17] peller commented on #1327
-> M7

[2012-05-17 00:18] peller commented on #1007
@JonFerraiolo - any idea what this was and whether it's still valid?

[2012-05-17 00:19] peller commented on #1195
-> future

[2012-05-17 00:19] peller commented on #1745
-> M7

[2012-05-17 00:20] peller commented on #1256
-> M7

[2012-05-17 00:21] peller commented on #1149
-> M8

[2012-05-17 00:21] peller commented on #1210
-> M8

[2012-05-17 00:22] peller commented on #1272
-> M8

[2012-05-17 00:33] aerwin commented on #1105
No, gridx's needs are covered in #2067.

[2012-05-17 01:55] aerwin commented on #2012
When I ran on macwayne earlier today, I was able to replicate this problem. BUT, I realized I was using reviews created a long time ago. I think well before @childsb 's changes to the review directory structure.

I then created a brand new review. I also created a brand new user. In that new user's account, I could open the new review and it stayed open during browser refresh.

So, @JonFerraiolo I

[2012-05-17 02:08] aerwin commented on #1935
Yes, I did under #1435. And, it looks like my fix for that scenario works on FF on Mac.

[2012-05-17 02:14] jhpedemonte commented on #2303
What exactly are you looking for?  What needs to be reviewed?

[2012-05-17 02:17] jhpedemonte commented on #750
Are you saying recreate our main **Model** as a dojo.store? Or create a dojo.store facade to the Model, for use by the Outline?

[2012-05-17 02:24] aerwin commented on #2023
Yes, this looks like it's working better. The DataGrid test case mentioned in the original report seems to work now. So, closing.

[2012-05-17 02:24] #2023 closed, assigned to nobody

[2012-05-17 03:02] #2305 closed, assigned to JonFerraiolo

[2012-05-17 03:14] peller commented on #750
I'd think running off a single model would be optimal, rather than working to keep multiple models in synch, but that's exactly what we're going to have to figure out.

[2012-05-17 03:22] jhpedemonte commented on #750
I think it makes sense to use something that integrates with the Dojo widgets we use -- something like dojo.store (or dojo.mvc?).  To start with, we can create a facade and slowly convert the users of the Model to the new way of doing things.

[2012-05-17 03:27] peller commented on #750
It's got to be dojo.store (or dojo.data) to integrate with the outline (a dijit.Tree)

[2012-05-17 04:23] jhpedemonte commented on #2284
Committed a script to handles **tasks 1-5** as written up in the summary.  Took my a while to get it working correctly for Eclipse projects, but it seems to be working well now.  Please have a look.

[2012-05-17 04:31] jhpedemonte commented on #2251
Decided not to handle this during migration (too complex).  Should work for the most part, but if users created a non-standard theme map, they'll have to re-set it for the file.

@JonFerraiolo

[2012-05-17 04:31] #2251 closed, assigned to jhpedemonte

[2012-05-17 04:33] jhpedemonte commented on #2085
Not necessary to do anything for migration.  Since _States.js_ was renamed to _AppStates.js_, old script will silently fail to load when opening in M6.  Also, our code automatically adds the "maqetta" scripts to the page, ensuring that states will correctly work.  I verified this.

Closing.

[2012-05-17 04:33] #2085 closed, assigned to jhpedemonte

[2012-05-17 04:49] aerwin commented on #2164
The wiki page (https://github.com/maqetta/maqetta/wiki/Developer-Setup) has just been updated, so marking as closed.

[2012-05-17 04:49] #2164 closed, assigned to aerwin

[2012-05-17 04:57] #2285 closed, assigned to JonFerraiolo

[2012-05-17 05:09] #2258 closed, assigned to peller

[2012-05-17 05:14] JonFerraiolo commented on #2000
Didn't work. I looked into this some more and to my surprise discovered this code in pagedesigner.html:

[code]

Blame found this commit: 84339ee9ed168e57c4e093bf67d2ce467c13a685

I'm not sure yet what to do about this. Maybe I should revert db85d7f and just change pagedesigner.html for the time being.

[2012-05-17 05:17] aerwin opened #2306 "Uploaded HTML files lose content"
I was updating the dataGrid.html test case and was going to suggest the tester upload an HTML file into Maqetta to be able to work with the legacy DataGrid code. But, after opening the uploaded file, it seems it's been reduced to the default Maqetta HTML file (e.g., none of my specific content).

The source in the file was:

[code]

And, the source of the uploaded file was:

[code]

[2012-05-17 05:21] jhpedemonte commented on #2306
-> M6/High for investigation, since it's a regression.

@childsb @JonFerraiolo

[2012-05-17 05:35] jhpedemonte opened #2307 "Selection box for widget too big"
Created new file in a subfolder and added a **Calendar**.  Selection box was much bigger than widget.  On Safari 5.1.7/Mac.

![selection box](http://i.imgur.com/MAN2A.png)

Clicked away (to remove selection) then selected it again. Now selection looks fine.

[2012-05-17 05:37] jhpedemonte opened #2308 "Cannot change font props in mobile theme editor"
Cannot set font properties in mobile theme editor.  Selected **Page background and fonts** and changing font properties didn't change anything.

May be related to other theme editor issues (i.e. being unable to set backgrounds, etc).

[2012-05-17 05:58] jhpedemonte commented on #2284
Note: need to add **Migration** section to release notes, pointing to migration script.

[2012-05-17 06:40] aerwin commented on #2002
AUDIO widgets will only have a size if the `controls` attribute is set to "controls" (meaning play, stop, etc. buttons should be shown). Despite this being specified in package.json, `controls` is always set to the empty string at runtime. This is different than the original scenario described in this ticket (where sizing issue isolated to when no `src` attribute was specified at all).

My early s

[2012-05-17 06:41] jhpedemonte commented on #2067
Nope, not fixed yet.

[2012-05-17 06:50] aerwin opened #2309 "Cannot set more than one widget-specific property on HTML elements"
This is a spin-off of #2002 ("AUDIO and IMG tags unusable if click ok on smart input dialog without choosing file"). It was recently observed that the issue in #2002 has  worsened. In investigating, I believe a new much more serious and pervasive problem exists that's entirely separate from the core issue of #2002 (sizing of audio control when no src file specified).

Basically, it looks like for

[2012-05-17 13:13] billreed63 opened #2310 "Can not open html files"
I can't open any files on test machine

[2012-05-17 13:39] billreed63 opened #2311 "Exception when two HTML editors open on FF"
Have to html files open the active editor is the second tab
Refresh the browser, throws exception.

s is null

Line 15

[2012-05-17 13:47] billreed63 opened #2312 "Can not Drag and Drop GridX on test machine"

[2012-05-17 13:49] JonFerraiolo opened #2313 "Login redirect for joomla build takes to maqetta.org login even if on staging server"
@childsb @jhpedemonte
- Post a Joomla build on a staging server
- Login to staging server, send review invitation to someone who is not logged into staging server
- Have that person click on review invitation

Result=> They get redirected to login page for maqetta.org and not the staging server

[2012-05-17 13:51] JonFerraiolo commented on #2012
Two problems when I tried to open new review:
- Once I got past the following bullet's problems, when I logged into the staging server, the new review invitation opened automatically, but if I hit browser refresh, the review editor does not reopen
- The invitation's link does point to the staging server, but somehow or other the redirect logic on the staging server has maqetta.org redirect URLs, s

[2012-05-17 13:54] JonFerraiolo commented on #2303
I want to do a code scan to see if I see any bugs in the logic. As I was fixing various geometry math bugs over the past week, I noticed that there was some erroneous math logic around dealing with margins.

[2012-05-17 13:55] aerwin commented on #2312
GridX is known not to work in builds. Closing as a dup of #2067.

[2012-05-17 13:55] #2312 closed, assigned to aerwin

[2012-05-17 13:56] JonFerraiolo commented on #1007
Closing this. @peller pounded in the area a few months ago and we've been testing this area for months.

[2012-05-17 13:56] #1007 closed, assigned to peller

[2012-05-17 13:57] billreed63 opened #2314 "Vertical slider 404 in preview"
1) DnD vertical slider
2) Preview
in console see

"NetworkError: 404 Not Found - http://macwayne2.austin.ibm.com:55556/maqetta/user/_Guest_1337260304177/ws/workspace/project1/themes/claro/form/images/sliderThumbs.png"

[2012-05-17 13:59] billreed63 opened #2315 "404 when preview dojo.tree"
1) DnD tree
2) preview
in console

"NetworkError: 404 Not Found - http://macwayne2.austin.ibm.com:55556/maqetta/user/_Guest_1337260304177/ws/workspace/project1/icons/images/commonIconsObjActEnabled.png"

[2012-05-17 14:14] billreed63 opened #2316 "HTML audio and video tag does not work"
Format of the audio tag is incorrect
When a audio tag is added to page the following syntax is added

[code]

Which is incorrect the correct syntax is http://www.w3schools.com/html5/tag_audio.asp

[code]

[code]

correct syntax is  http://www.w3schools.com/html5/html5_video.asp

[code]

[2012-05-17 14:15] jhpedemonte commented on #2309
-> @doronrosenberg, who may have some spare cycles.

@JonFerraiolo

[2012-05-17 14:19] jhpedemonte commented on #2310
Which test machine?

[2012-05-17 14:20] jhpedemonte commented on #2311
cc @JonFerraiolo @peller

[2012-05-17 14:22] aerwin commented on #2316
Dup of #2002 & #2309..

[2012-05-17 14:22] #2316 closed, assigned to aerwin

[2012-05-17 14:23] jhpedemonte commented on #2314
see #2212

-> @aerwin

[2012-05-17 14:23] jhpedemonte commented on #2315
-> @doronrosenberg

[2012-05-17 14:27] jhpedemonte commented on #2067
Now closing. Fixed by 581272d90df90bb6c725481de48ced56117b24b3.

Only issue I see is an error trying to get `http://localhost:8081/maqetta/app/static/lib/gridx/dojox/html/resources/ellipsis.css`.  But that should be a separate issue.

[2012-05-17 14:27] #2067 closed, assigned to jhpedemonte

[2012-05-17 14:31] aerwin commented on #2067
If you pull the latest GridX submodule, the ellipsis issue should be fixed (#2172).

[2012-05-17 14:35] jhpedemonte commented on #2067
A submodule is actually a link to a specific revision/commit.  So if you update the submodule, you'll have to commit it, as you would a normal file.  Then, when the rest of us pull, it should make us pull the updated GridX code as well.

[2012-05-17 14:36] aerwin commented on #2309
I've spent a little time setting breakpoints and such. So, maybe I should take this. -> @aerwin

[2012-05-17 14:43] billreed63 opened #2317 "clip art chat has extra line in selection box"
The chat clip art widget has a line in the middle of the selection window that gives the user they can resize the pointer

[2012-05-17 14:44] billreed63 commented on #2317
video bug, it is intermittent on FF

[2012-05-17 14:47] billreed63 commented on #2317
it may be do to the debug window open and scroll bars on the canvas...

[2012-05-17 14:55] aerwin commented on #2314
@jhpedemonte @peller @billreed63

Looks like @peller fixed #2212 by changing case of filename. However, it looks to me that the

maqetta/themes/claro/form/images directory is generally pretty out of sync with the dojo/dijit/themes/claro/form/images/directory. Who's responsible for keeping maqetta themes in line with Dojo?

[2012-05-17 14:58] billreed63 opened #2318 "Can not preview HTML file with Android and video camera clip art"
[code]

[2012-05-17 14:58] JonFerraiolo commented on #2307
I fooled around with this report across multiple scenarios. I was able to reproduce this the very first time I ran today's build off of a server, but thereafter I cannot reproduce:
- on the same server subsequently
- on a local install install build (after restarting Safari and clearing cache)
- when running from Eclispe (after restarting Safari and clearing cache)

Couldn't reproduce with Mac/Chr

[2012-05-17 14:59] billreed63 commented on #2310
macwayne2

[2012-05-17 15:08] aerwin commented on #2314
per scrum... -> @billreed63

[2012-05-17 15:19] jhpedemonte commented on #1111
See #1475 (master plan for keyboard nav)

[2012-05-17 15:20] doronrosenberg commented on #1935
@aerwin #1435 works for me in split view - clicking on a widget in the source panel highlights the widget in the source panel. However, if I only have the source view open, clicking on a widget doesn't highlight it in the source view and doesn't highlight it in the outline panel.

[2012-05-17 15:21] #1356 closed, assigned to childsb

[2012-05-17 15:25] jhpedemonte commented on #2315
See #2314, particularly [this comment](https://github.com/maqetta/maqetta/issues/2314#issuecomment-5765631) -- may be an issue with an out-of-date theme directory.

[2012-05-17 15:34] aerwin commented on #1935
Per scrum, does it make sense to lump #2225 on my list with this issue?

[2012-05-17 15:41] peller commented on #1954
It's mostly a browser quirks problem.  Getting it right for all browsers is difficult.  http://bugs.dojotoolkit.org/ticket/15372

[2012-05-17 15:46] JonFerraiolo commented on #1935
Probably. Maybe you and @doronrosenberg can coordinate, perhaps reassiging #2225 to him.

[2012-05-17 15:51] aerwin commented on #2316
There was some question on the scrum if using `src` was correct, as shown in http://www.w3schools.com/html5/tag_audio.asp (one of the URL's referenced above by @billreed63 ), `src` is one of the valid attributes. There is #1761 open from awhile back to develop smart input for managing TRACK/SOURCE elements.

[2012-05-17 15:57] aerwin commented on #2316
one other thing on this, to verify `src` works, here are some instructions I sent a user on our Maqetta forum a couple days ago:
1. Create new HTML file
2. Drag and drop audio element
3. Choose an audio file (that you've previously uploaded to workspace)
   or enter URL (e.g., http://www.w3schools.com/html5/song.mp3) in the
   file dialog
4. At this point #2002 will occur, but the audio element sh

[2012-05-17 16:00] peller commented on #2311
note: exception is only seen with FB (may need to explicitly catch on throw?)

[2012-05-17 16:02] peller commented on #1954
No clear way to monkey patch this, since we aren't given enough data in _isDocumentOk.  Will push to have this fixed in Dojo 1.8.  -> M7

[2012-05-17 16:07] #2314 closed, assigned to billreed63

[2012-05-17 16:23] billreed63 commented on #2308
Fixed in latest code from master

[2012-05-17 16:23] #2308 closed, assigned to billreed63

[2012-05-17 16:29] billreed63 commented on #2298
try to set the tab font color

[2012-05-17 16:34] billreed63 opened #2319 "tooltip missing widget from claro theme editor"

[2012-05-17 16:43] doronrosenberg commented on #2225
If I click on the outline view, chrome also doesn't mark the widget in source view.   And after clicking into the outline view, clicking on widgets in the design view also don't mark in source view until I click into the source view.

[2012-05-17 16:45] #2297 closed, assigned to billreed63

[2012-05-17 16:46] aerwin commented on #2298
No, I just tried again and it failed. Font color was one of the font properties I had tried originally.

[2012-05-17 16:46] aerwin commented on #2298
Also, this time tried Chrome on Mac.

[2012-05-17 16:47] doronrosenberg opened #2320 "Source only view - clicking into widget does not select it in Outline"
Source view - clicking into widget does not select it in Outline

[2012-05-17 16:50] billreed63 commented on #2220
fixed by 9ba5d86093d9d5a30acf56c775fe6a89691fbb96

[2012-05-17 16:50] #2220 closed, assigned to billreed63

[2012-05-17 16:52] billreed63 commented on #2154
dataGrid depercated replace by gridX

[2012-05-17 16:52] #2154 closed, assigned to billreed63

[2012-05-17 16:56] billreed63 commented on #2145
we have an open issue for disable invalid properties #226

[2012-05-17 17:12] jhpedemonte opened #2321 "GridX loading errors with todays builds"
This was working well with a build from this morning (~1am central).  But with today's later builds, GridX loading fails:

[code]

The main commit I'm worried about is @aerwin's update of the submodule for the GridX code.  Not sure why that would break the builds, though.

(Note: only seems to affect builds)

@JonFerraiolo

[2012-05-17 17:13] jhpedemonte commented on #2321
Perhaps related to #2068?  Need to do a `git submodule update` in the build scripts?

[2012-05-17 17:15] jhpedemonte opened #2322 "Takes a few tries to switch projects"
Noticed while doing migration testing on **macwayne2**.  Testing on Chrome 19/Mac.

When I try to switch between projects, it never works the first time.  It just reloads the previously set project.  Sometimes works if I try a 2nd time, but have also had to do 3 or 4 tries before it would actually switch.

[2012-05-17 17:25] jhpedemonte commented on #2068
The build script has two paths: (1) for pulling down completely new source; and (2) for using existing source.

For (1) we need to do `git submodule init`.  And we should always do `git submodule update` for both (1) and (2).  (I think.)

Sending back to @aerwin, who may want to work with @childsb to properly update the build script.

[2012-05-17 17:26] jhpedemonte commented on #2318
Why is there an `x` in the `require()` statement?

[2012-05-17 17:27] jhpedemonte commented on #2310
Please retry with latest build; after migration.

[2012-05-17 17:28] jhpedemonte commented on #2310
-> @JonFerraiolo, since I'll be out.  Awaiting confirmation from @billreed63 that this still happens.

[2012-05-17 17:30] aerwin commented on #2322
I saw this too... and even worse, after switching projects I can't open any files in the project I switched to:

SyntaxError
arguments: Array[1]
get message: function getter() { [native code] }
get stack: function getter() { [native code] }
set message: function setter() { [native code] }
set stack: function setter() { [native code] }
type: "unexpected_token"
**proto**: Error
:55556/maqetta/app/da

[2012-05-17 17:32] jhpedemonte commented on #2322
I had no problems opening files once the switch actually happened.

[2012-05-17 17:34] jhpedemonte commented on #2320
cc @peller

[2012-05-17 17:37] doronrosenberg commented on #2320
The issue is that we are calling VisualeditorOutline.js to get the identity of the selection, and there is no .id property (its an attribute)

[2012-05-17 17:38] aerwin commented on #2322
Don't know if it matters, but an Eclipse-enabled project I had created was my default when I logged in. I then switched to a regular project.

[2012-05-17 17:47] doronrosenberg commented on #2320
THe real issue is that we have two representations of a node - one from the source and one from the design view.  And outline seems to only really work with the design view version

[2012-05-17 17:57] doronrosenberg commented on #2320
Note this was broken in m5.

[2012-05-17 18:00] aerwin commented on #2322
More info... I just did/saw the following:
- Created a completely new project (called `newproject`) and HTML files appear to work there.
- Tried to switch back to my problematic project (`project1`) and after several failed attempts, refreshed the browser page and was then finally able to switch back to `project1`
- Then in `project1` I saw that HTML files still fail to open
- Tried to switch back

[2012-05-17 18:12] doronrosenberg commented on #1935
@JonFerraiolo @jhpedemonte

The general issue with selection to me seems to be that the Outline palette is built around the visual editor objects, so things go bad when we deal with the source view, which has the simpler model objects.

[2012-05-17 18:21] peller commented on #2319
WFM.

[2012-05-17 18:21] #2319 closed, assigned to billreed63

[2012-05-17 18:42] peller commented on #1935
see #750

[2012-05-17 19:04] childsb commented on #2322
ok so here's what seems to be happening:

1) the migration copied .theme files to .theme.bak, and somewhere.
2) our theme logic isn't differentiating between userTheme.theme and userTheme.theme.bak.
3) HTML files that have a custom theme are erroring out on load because they are getting the .theme.bak file instead of the .theme
4) active editors with these custom theme files are making the project

[2012-05-17 19:06] JonFerraiolo opened #2323 "maq-metadata-dojo-1-7 ???"
@childsb

When testing on macwayne2, I see this error message in console:

[code]

which is the wrong URL. I believe it should be this instead:

[code]

grep'ing through source code I see:

[code]

Is there server supposed to be doing magic to create URL named `maq-metadata-...`, or are all of the above files incorrectly referring to `maq-maqetta-..`?

[2012-05-17 19:11] doronrosenberg commented on #2320
Looks like #750 would address the issue here

[2012-05-17 19:14] childsb commented on #1538
i implemented basic function (close editors).

if the user is deleting a directory, then saving a dirty file would result in the file still being deleted or the delete operation aborted.  i think it's generally accepted that if you're deleting a folder with resources, one prompt of "are you sure" is enough.  after that theres no reason to prompt on every "dirty" resource.  not to mention its proba

[2012-05-17 19:14] #1538 closed, assigned to childsb

[2012-05-17 19:22] aerwin commented on #2323
@jhpedemonte added maq-metadata-dojo stuff for #2067.

[2012-05-17 19:34] aerwin commented on #2321
I think this is a different part of the issues surrounding #2067 rather than a submodule issue. E.g., I can fix the first error by changing the reference to "../../metadata/dojo/1.7/dijit/layout/ContainerInput" to "maq-metadata-dojo/dijit/layout/ContainerInput" in `GridWizardInput`.

But, the other references look like this (from `GridWizardPreviewPane`):

[code]

I'm thinking perhaps we need `maq

[2012-05-17 19:38] #2266 closed, assigned to childsb

[2012-05-17 20:16] #2322 closed, assigned to childsb

[2012-05-17 20:27] #2318 closed, assigned to JonFerraiolo

[2012-05-17 20:30] JonFerraiolo commented on #2307
Moving down to Prio Med, unless this is more prevalent that it looks (appears to be highly special-case), likely will end up deferring or even closing

[2012-05-17 20:44] #2290 closed, assigned to billreed63

[2012-05-17 20:53] doronrosenberg commented on #1935
So I got selection in source pane kinda working - I have to manually focus the source pane, which isn't very good of a solution

[2012-05-17 21:02] billreed63 commented on #2298
sorry, that was a quick note to remind me what was broken...

[2012-05-17 21:04] #2298 closed, assigned to billreed63

[2012-05-17 21:26] billreed63 commented on #2203
DataGrid deprecated

[2012-05-17 21:26] #2203 closed, assigned to billreed63

[2012-05-17 21:26] #2295 closed, assigned to JonFerraiolo

[2012-05-17 21:31] billreed63 commented on #1881
fixed #2206

[2012-05-17 21:31] #1881 closed, assigned to billreed63

[2012-05-17 21:32] billreed63 commented on #1800
deprecated

[2012-05-17 21:32] aerwin commented on #2068
Closing with 318f040089983bbd192690843370bab4b2e16aef .

[2012-05-17 21:32] billreed63 commented on #1439
dup #2220

[2012-05-17 21:32] #1439 closed, assigned to billreed63

[2012-05-17 21:34] aerwin commented on #2225
-> @doronrosenberg

I think this belongs with the other FF source view selection things you're tracking down (like #1935). If you disagree or you solve those other problems and this turns out to be unrelated, please send back.

[2012-05-17 21:36] billreed63 commented on #422
Deprecated

[2012-05-17 21:40] billreed63 commented on #780
I don't see this error in the console now...

[2012-05-17 21:40] #780 closed, assigned to billreed63

[2012-05-17 21:41] billreed63 commented on #912
removed long ago

[2012-05-17 21:41] #912 closed, assigned to billreed63

[2012-05-17 21:43] JonFerraiolo commented on #396
-> @doronrosenberg  - I would suggest pounding on the design/source pane selection bugs as way more important than this one, even if the selection issues are too big and risky for M6. This one is _much_ easier, but non-trivial. RIght now, the surround command creates a simple DIV that ends up at top of document (because no position property is assigned). What we need here is:
- (NOT SURE WHAT WE H

[2012-05-17 21:45] aerwin commented on #422
I can reopen and take this one... trying this scenario with GridX, some similar behavior occurs. It may even be worse in the GridX case.

1,2,3
1,2

becomes when reopen smart input:

1,2,unique_id
1,2,1

And,

1,2
1,2,3

becomes

1,2,unique_id
1,2,1

So, interestingly, they both become the same thing.

[2012-05-17 21:45] aerwin commented on #422
changed title to GridX rather than DataGrid

[2012-05-17 21:45] aerwin commented on #422
-> M7

[2012-05-17 21:46] JonFerraiolo commented on #1741
-> @doronrosenberg This one is not critical. It has Prio-Med only because the original report sounded pretty bad but I'm not sure the original problem is still present. Likely we can defer this one again.

[2012-05-17 21:47] aerwin commented on #2149
I'm not able to reproduce this with GridX... Reassigning to @JonFerraiolo for verification.

[2012-05-17 21:51] JonFerraiolo commented on #2306
@aerwin - Is this reproducible? If so, could you, @doronrosenberg and @childsb see if one of you could grab this issue?

[2012-05-17 22:02] JonFerraiolo commented on #1462
@peller - Two notes;
- I've recently added some handy routines that compute the page-relative margin box coordinates for a given node: davinci/ve/utils/GeomUtils. (I discovered that dom-geometry.js in Dojo is using getClientRect() which factors in CSS3 transforms to provide where the node truly is on screen, but for Maqetta's calculations, we need instead the CSS box model values. All of this was

[2012-05-17 22:03] aerwin commented on #2306
@JonFerraiolo It was reproducible when I opened it 17 hours ago... did it work for you?

[2012-05-17 22:09] JonFerraiolo commented on #320
I suggest pushing this to M7. Seems too risky for too little benefit for M6. Wouldn't we need to enhance the command logic to pull this off?

[2012-05-17 22:10] aerwin commented on #2313
I don't know if this is worse since the migration, but I'm just not able to get into Macwayne at all right now. I just keep getting redirected to maqetta.org when I click Launch Maqetta even after I logout/login again.

So, I'm going to raise this from Low to High. Also, this is assigned to me, but I don't have knowledge of Joomla nor am I set up in my dev environment for Joomla. @childsb any idea

[2012-05-17 22:52] JonFerraiolo commented on #2143
-> back to @billreed63.

In tracing things in the debugger, changing background-image value (which was "-webkit-gradient..." to empty string goes through all of the correct machinery in Cascade.js, then ThemeEditor.js, and finally ModifyRule() in Context.js to hot-modify the rule. That's all goodness.

But the problem (I believe) is Context.js:2423:

[code]

I think the problem here is that things

[2012-05-17 22:53] JonFerraiolo commented on #2143
Raising to Prio High because this seems like a pretty fundamental problem with our delta themes implementation.

[2012-05-17 22:54] JonFerraiolo commented on #2003
Closing as dupe of #1785

[2012-05-17 22:54] #2003 closed, assigned to JonFerraiolo

[2012-05-17 23:17] JonFerraiolo opened #2324 "Remove value or not Remove value"
@jmockler

Right now some of the Property palette dropdowns have a "Remove value" command, other do not and only offer an empty string value at the top, which is functionally equivalent to "Remove value".

Need a final solution to this UI question and then consistent implementation across all properties.

[2012-05-17 23:22] #1785 closed, assigned to JonFerraiolo

[2012-05-17 23:24] JonFerraiolo commented on #2027
-> M7

[2012-05-17 23:24] JonFerraiolo commented on #1770
-> M7

[2012-05-17 23:27] JonFerraiolo commented on #1744
This seems to be fixed now. Closing.

[2012-05-17 23:27] #1744 closed, assigned to JonFerraiolo

[2012-05-17 23:31] JonFerraiolo commented on #1262
This particular part of the issue seems to have been fixed, and indeed "array" logic was added to StyleCommand and ModifyCommand in the M6 cycle.

Pushing the rest to M7.

[2012-05-17 23:41] JonFerraiolo commented on #2307
After trying to reproduce on multiple servers, localhost, and running from Eclipse using Safari with cache cleared and cache not cleared, I'm not able to reproduce this except on rare occasions. I suspect it's a timing issue in combination with a quirk in Safari. Pushing to M7 Low.

[2012-05-18 00:31] aerwin commented on #2309
Marking fixed with above commit.

[2012-05-18 00:31] #2309 closed, assigned to aerwin

[2012-05-18 02:39] jhpedemonte commented on #2322
I did nothing with themes during migration (see commit e85d6505c4abe0ef139a152eba9f05d19a119b44).  So where did the **theme.bak** files come from?

[2012-05-18 02:50] jhpedemonte commented on #2323
So I changed **metadata.js:206** (as shown in the log above) to not use the version any more.  See discussion in #2067.

I didn't know this was being used elsewhere.  Fix is to change `maq-metadata-dojo-1.7` to `maq-metadata-dojo`.

I see that it's also in the ***.theme** files.  If we make this change, will this be a **migration issue**?

---

While I prefer making the change as indicated, if it'

[2012-05-18 02:57] jhpedemonte commented on #2321
(adding @childsb, the resource URL guru and @peller, the AMD guru)

Not exactly sure what you're trying to do with those URLs.  Can't you just do something like `require([gridx/Grid])`?

[2012-05-18 03:00] JonFerraiolo opened #2325 "SmartInput problems with Accordion"
@doronrosenberg, @childsb, @peller, @aerwin

With Preview5, if you double-click on first title pane of an Accordion, up comes SmartInput, but with latest code, if you double-click on first title pane, SmartInput appears momentarily and then disappears.

Assigned to @billreed63 initially as the SmartInput-meister, but maybe others can help. This bug might be the result of my various changes to Sele

[2012-05-18 03:01] jhpedemonte commented on #2318
Ah, thanks for the fix.  So the `x` was there because the module regex was failing to match?

[2012-05-18 03:05] aerwin commented on #2321
sorry... yeah, those don't make much sense without the whole context:

[code]

[2012-05-18 03:06] jhpedemonte commented on #1800
Reopening.  While we are deprecating **DataGrid** in favor of **GridX**, the file **DataGridHelper.js** is still in use, by **gridx/GridHelper.js**.

@aerwin

[2012-05-18 03:09] aerwin commented on #2321
And, when I try "gridx/Grid" I get the following in the console:

GET http://localhost:8081/maqetta/app/gridx/Grid.js?@revision@ 404 (ProxyServlet: /maqetta/app/gridx/Grid.js)

[2012-05-18 03:10] jhpedemonte commented on #2068
That commit isn't handling the case where `maqettaCode` is set (which is when using existing code, rather than having the script clone the repo).

As mentioned [above](https://github.com/maqetta/maqetta/issues/2068#issuecomment-5769117), the `init` is probably in the correct location, but we need to do `update` for both cases.  Maybe put `update` right after that `if` block (around line 176)?

[2012-05-18 03:12] peller commented on #2321
I'm a bit surprised those relative paths work at all, given that they go outside the specified package root.  Should we be registering the gridx library as a package?

[2012-05-18 03:12] JonFerraiolo opened #2326 "Selection bugs with scrolled containers"
Selection is misplaced in this page on the deepest button when there are scrollbars on the nested containers:

[code]

[2012-05-18 03:12] aerwin commented on #2068
Since we're not doing a git pull when pointing at Maqetta code, it doesn't make sense to me to do a git submodule update. Am I missing something? E.g. the user would have been responsible for getting their repo directory to the level of everything they want.

[2012-05-18 03:13] jhpedemonte commented on #320
-> M7

[2012-05-18 03:17] jhpedemonte commented on #2324
Many actually have both an **empty item** and a **"Remove Value"** item, duplicating functionality.

[2012-05-18 03:20] jhpedemonte commented on #2321
So here we are trying to use the GridX library files in the app/runtime context.  Is that right?  Normally, we would just be using it in the VE context/iframe.

If that is indeed what we want, then we should register it as a package in the runtime, so that we can use the module **"gridx/Grid"**, etc...

[2012-05-18 03:23] jhpedemonte commented on #2068
Ah, quite right.  Nevermind then.  Closing.

[2012-05-18 03:23] #2068 closed, assigned to aerwin

[2012-05-18 03:24] JonFerraiolo commented on #2318
Yes, regex was only looking for letters (A-Za-z), period characters or slash characters, and I was using underscores and numbers in the widget/module name.

[2012-05-18 03:26] aerwin commented on #2321
That is what we want (using in runtime context), but currently GridX is only used within the GridX plugin? Do we really want to register it globally? Of course, I guess that's kind of equivalent to my request for a `maq-lib-gridx` alias (though I had envisioned that the latter be built dynamically from the plugin metadata like `maq-metadata-dojo` is).

[2012-05-18 03:33] JonFerraiolo commented on #2313
I'll take it.

[2012-05-18 04:10] #2326 closed, assigned to JonFerraiolo

[2012-05-18 04:22] #2303 closed, assigned to JonFerraiolo

[2012-05-18 04:26] aerwin commented on #2002
Closing with above commit plus fix for #2309.

[2012-05-18 04:26] #2002 closed, assigned to aerwin

[2012-05-18 04:28] JonFerraiolo commented on #2247
ChooseParent's cursor logic (for flow layout) has clear bugs when there are nested containers that are scrolled.

[2012-05-18 04:57] JonFerraiolo commented on #2049
I went through the code to make sure I hadn't screwed up anything regarding 'managed widgets'. Details below. I'm convinced that I didn't mess up anything, but there are some code cleanups that we need to do in future. Pushing to M7

This above code is very old, seems necessary, and seems to work properly during testing.

(_UPDATE 20120824_: studied above code and it makes total sense. Theme edito

[2012-05-18 04:58] JonFerraiolo commented on #1421
-> M7

[2012-05-18 12:43] peller commented on #2321
You can register it dynamically using a require({}) command with the [config information](http://dojotoolkit.org/reference-guide/1.7/loader/amd.html#id5) in the brackets.  I think that's what you want.

[2012-05-18 12:46] peller commented on #2184
-> M7

[2012-05-18 12:51] peller commented on #945
-> M7

[2012-05-18 12:56] peller commented on #2258
Github didn't seem to pick up on the checkin.  The regression started when getUniqueId started taking 3 parameters: 09b64b52d6b6bb287ce357d416e34b2cf14e4718  If the id is not persistent, the base algorithm should be used so the results will be consistent.  Changed the API to only take an id and an optional idRoot: 1c53ceb033649095b735b671fcb27bfaec57f15f

[2012-05-18 12:58] peller commented on #894
-> M7

[2012-05-18 12:58] peller commented on #1348
-> M7

[2012-05-18 12:59] peller commented on #1462
-> M7

[2012-05-18 13:00] peller commented on #148
-> M7

[2012-05-18 13:01] peller commented on #1863
-> M7

[2012-05-18 13:23] billreed63 commented on #222
Deprecated going to GridX

[2012-05-18 13:23] #222 closed, assigned to billreed63

[2012-05-18 13:26] billreed63 commented on #393
With the delta theme #23 the theme.json file is not copied. it is left in the original theme folder. The .theme file is copied and update to reflect the correct location of the original .json

[2012-05-18 13:26] #393 closed, assigned to nobody

[2012-05-18 13:27] billreed63 commented on #144
With the delta theme #23 the html file is not copied. it is left in the original theme folder. The .theme file is copied and update to reflect the correct location of the original .html

[2012-05-18 13:27] #144 closed, assigned to billreed63

[2012-05-18 13:27] billreed63 commented on #144
With the delta theme #23 the html file is not copied. it is left in the original theme folder. The .theme file is copied and update to reflect the correct location of the original .html

[2012-05-18 13:31] billreed63 commented on #1114
With the delta theme #23 the html file is not copied. it is left in the original theme folder. The .theme file is copied and update to reflect the correct location of the original .html

[2012-05-18 13:31] #1114 closed, assigned to billreed63

[2012-05-18 13:34] billreed63 commented on #1544
Deprecated -> moving to GridX

[2012-05-18 13:35] JonFerraiolo commented on #894
This should be easy to fix. Just add

[code]

at the end of actions that change device (ChooseDeviceAction) or orientation RotateDeviceAction). The setTimeout is because of browser quirks where browser geometry calculations are sometimes not immediately available and because updateFocusAll is a safe operation to happen asynchronously.

[2012-05-18 13:36] billreed63 commented on #1550
@peller Should we close this as a dojo feature?

[2012-05-18 13:51] aerwin commented on #1544
But, I'm assuming this feature request would still apply to GridX?

[2012-05-18 13:53] peller opened #2327 "New HTML iterates through theme directory, loads all themes"
Results in n*2 HTTP calls, plus a findResource, even though only one theme is used in the document

@billreed63 remind me what's needed here. @childsb perhaps we ought to invent a new REST API to get what's needed

[2012-05-18 14:04] peller commented on #2311
Seems to be taking measurements on a node not yet added to the DOM

-> @JonFerraiolo

getMarginExtents(node=span#span_1.HtmlWidget, _318=undefined)
getMarginBoxPageCoords()
withDoc(_468=Document /maqetta/, _469=function(), _46a=undefined, _46b=undefined)
getMarginBoxPageCoords(node=span#span_1.HtmlWidget)
updateFocus(_210f=Object { domNode=span#span_1.HtmlWidget, id="span_1", type="html.span", mor

[2012-05-18 14:16] aerwin commented on #2321
Right... I guess what I'm getting at is @jhpedemonte recently added these lines to `metadata` to dynamically build `maq-metadata-dojo`, etc.:

[code]

So, when I requested a `maq-lib-gridx` alias, I had expected it would be built in a similar way. E.g.,

[code]

So, I guess the question is do we do that so throughout the code base we can say "maqetta-lib-gridx/Grid" or we register it so we can use

[2012-05-18 14:21] aerwin commented on #1544
Oh, guess it got reassigned to me too... changing title to reflect GridX and moving to M7.

[2012-05-18 14:24] aerwin commented on #2306
Sure, I can take a look. -> @aerwin

[2012-05-18 14:35] JonFerraiolo commented on #1922
I think we should push this bug to M7. Trying to do a general fix for this bug will prove to be hugely complicated (and therefore hugely risky). Fixing this would mean we would have to ascend the widget hierarchy and make the appropriate pane of StackContainer widgets visible. That's fine and dandy (and we do that already for Mobile Views), but my instincts are that we need to integrate stack-cont

[2012-05-18 14:44] billreed63 commented on #2327
We need to find the theme so we know the location of the CSS files,  The user can choose a theme in the New HTML dialog. what is passed to the open editor is just the theme name so the CSS files for the theme need to be found. But the themes should be cached in the library.getThemes

[2012-05-18 14:47] JonFerraiolo commented on #2208
OK to push this to M7.

Looking at the code, the trick I would attempt to solve this issue would add a `resizeAllWidgets()` call inside of a setTimeout at the bottom of `_changeTheme()` in ChangeThemeCommand.js:

[code]

and then have `resizeAllWidgets()` recurse through the widget hierarchy depth-first and call `widget.resize()` on each widget. For most widgets, `widget.resize()` is a no-op (I be

[2012-05-18 14:49] JonFerraiolo commented on #2320
Set to Prio High, but with understanding that we still might have to defer some or all of this issue.

[2012-05-18 14:50] aerwin commented on #2306
Quick update... When I look at the file on the server right after uploading it's already empty (0 bytes) before ever opening in the Visual Editor.

[2012-05-18 14:52] JonFerraiolo commented on #2311
-> @JonFerraiolo I think I know how to fix

[2012-05-18 14:56] billreed63 commented on #2117
themeSetsDialog had the the same behavior, and alot of common code. They should be refactored to consolidate code as part of this fix

[2012-05-18 15:01] peller commented on #1550
yes, that's the feature, though it should be configurable using the "doLayout" property, for those who understand its meaning.

[2012-05-18 15:56] billreed63 opened #2328 "Properties palette and Cascade for theme editor"
The theme editor is now implemented to leverage cascading to override values from the inherited theme
use the user creates a new theme called myclaro which inherits from claro.

If the user wants to change a value of claro they are in effect creating an override rule that is placed in myclaro.css

an example would be the user wants to remove the background-image on a button the use would chose the

[2012-05-18 15:58] billreed63 commented on #2143
This is a bigger UI issue as described in #2328
moving to M7

[2012-05-18 16:12] JonFerraiolo commented on #2313
I believe I have fixed this two times. First, the login.php file on macwayne2 had a hard-coded redirect to maqetta.org. But I also did a revert with 97880952e7 which removes the change that caused login.php to be used in the first place.

Leaving this open pending testing with a new build on staging server.

[2012-05-18 16:16] JonFerraiolo commented on #2000
After discussion with @childsb, we are likely to have totally different login/logoff behavior with M7, and any changes for M6 will be short-lived and introduce significant risk. I'm inclined to push this to M7 but before doing so, I will deploy a new build to the staging server and go through steps in this bug again.

[2012-05-18 16:35] childsb commented on #2306
this regressed when i changed the stream transfer code.

changed it to use the same algorithm as DavinciPageServlet, and put IO close/flush calls in the finally clause.

[2012-05-18 16:35] #2306 closed, assigned to childsb

[2012-05-18 16:36] JonFerraiolo commented on #2000
Verified that things are working as they did with M6 with new build on staging server.

Pushing to M7.

[2012-05-18 16:37] JonFerraiolo commented on #2313
Verified this with new build on staging server. Closing.

[2012-05-18 16:37] #2313 closed, assigned to JonFerraiolo

[2012-05-18 17:06] JonFerraiolo opened #2329 "New mobile views becoming child of previous view instead of BODY"
Something regressed...

Using mac/safari

[2012-05-18 17:10] doronrosenberg opened #2330 "Source editor selection is broken"
@jhpedemonte @JonFerraiolo

Source selection is right now broken badly - never works in Firefox, somewhat works in Chrome only in split view and even then can be easily broken.

This is all because there is no iframe anymore for the orion editor.  This means focus issues which won't show the selection unless you focus the orion editor.  Setting focus to the editor each time we select is not a viab

[2012-05-18 17:27] JonFerraiolo opened #2331 "Exception on file close in ThemeModifier.js"
I got a null reference exception when closing a theme editor at ThemeModifier.js:22:

[code]

where this.themeCss is undefined. I don't know this code, so I'm not sure if we can just add if `if` check before attempting the loop to make sure `this.themeCssfiles` has a value.

One thing that is suspicious: i wonder if there are typo's in the code due to inconsistent capitalization. Note that there a

[2012-05-18 17:51] doronrosenberg opened #2332 "Label smartinput doesn't work"
Drag and drop a label.  Change the value using the smartinput, press ok.  Notice how the label wasn't changed.  Switch to source view, see that the changed value shows up fine there.

[2012-05-18 18:21] childsb commented on #2323
there will be a migration issue.  we'll have to replace that string in all the .theme files (referenced helpers).

on another note, why did we kill the version string in the static mapping?  if we're running multiple versions of dojo on a server, this will cause problems..

[2012-05-18 18:39] billreed63 commented on #2325
dijit/focus._onBlurNode is setting a setTimeout to deal with OnBlur events.

[code]

SmartInput is setting the focus on the smart input widget box so when the dijit.focus setTimeout fires the `_setStack` changes the focus, firing SmartInputs onBlur closing the edit box. This only seems to be an issue for SackContainerInput and mostly for Accordion  So I added the timeout wait until after the diji.

[2012-05-18 18:44] #2325 closed, assigned to billreed63

[2012-05-18 18:48] childsb opened #2333 "never logged out of macwayne2"
i signed in with tonys ID a few days ago,

after a few restarts and redeploys on the macwayne2 server, i'm still logged in as tony.

i haven't explicitly logged out, but shouldn't the restart of the server forced me to log back in?

[2012-05-18 18:50] #2329 closed, assigned to JonFerraiolo

[2012-05-18 19:13] aerwin commented on #2012
@JonFerraiolo invited me to a review on Macwayne, and I finally saw the problem (e.g., the review he created would not stay open for me between browser refreshes). He happened to mention he was using an Eclipse project.

With that new tidbit of info, I've finally been able to replicate in my local development environment. It seems reviews created from  regular projects stay open on reload, but rev

[2012-05-18 19:15] childsb opened #2334 "selection chrome on YUI & JQuery widgets is wrong"
The blue selection chrome for JQuery and YUI widgets isn't right.

1) New HTML file
2) DND YUI Calendar
3) Notice that the selection bar is one long blue line (and not a box around the calendar)

or

1) new html file
2) add a jquery button
3) select jquery button and notice that the selection box spans the entire canvas.

[2012-05-18 19:23] aerwin commented on #2012
Ok, it's also looking like it doesn't matter who creates the review (or if the project is an Eclipse based project). E.g., if I'm working in `project1` and have opened a review for a file in another one of my projects (say `project2`), then if I reload the page the review for the other project doesn't reopen. But, if I have a review open for a file in `project`' will reload.

[2012-05-18 19:27] billreed63 commented on #2331
I could not reproduce the exception, but change all themeCssfiles -> themeCssFiles

[2012-05-18 19:27] #2331 closed, assigned to billreed63

[2012-05-18 19:39] aerwin opened #2335 "Polyline "ghost" line shown during drawing can remain if cursor leaves canvas"
Happens in both Chrome/FF on Mac...
1. New HTML file (desktop hifi sketch or switch layout to "absolute")
2. Click Polyline in widget palette and click on canvas
3. Click several places in the canvas
4. WITHOUT clicking on last point or hitting escape, click on another widget in the widget palette
5. Note the last "ghost" line stays around and it doesn't go away even when drawing another shape

In

[2012-05-18 20:05] aerwin commented on #2012
Fixed with above commit.

[2012-05-18 20:05] #2012 closed, assigned to aerwin

[2012-05-18 20:41] #2168 closed, assigned to billreed63

[2012-05-18 20:42] peller commented on #1575
I'm actually seeing that this operation is very fast.  Do you have an example which is slow enough to warrant loading UI?

[2012-05-18 21:04] billreed63 opened #2336 "Download workspace exception on FF"
Attempted to download complete workspace  FF macwayn2

this.getDocumentElement() is undefined
addJavaScriptSrc(url="lib/dojo/dojo/dojo.js", _2170=true, _2171="dojo/dojo.js", _2172=true)davinc...bf39a23 (line 46820)
_2095(libId="dojo", src="dojo/dojo.js")davinc...bf39a23 (line 45319)
(?)(r=Object { type="javascript", src="dojo/dojo.js", $library="dojo"})davinc...bf39a23 (line 45338)
loadRequires(ty

[2012-05-18 21:10] JonFerraiolo commented on #1575
On Macwayne2, loading Sample1.html and switching to sketch theme took about 4s. Not horrendous. I expect that the time necessary to switch themes will depend on whether the theme files are cached (for most users, the  answer will be no for the first time using a theme) and the speed of the network.

[2012-05-18 21:23] JonFerraiolo commented on #2333
I suspect that the macwayne2 version of Joomla doesn't have session timeouts in place. Just a guess.

[2012-05-18 21:26] JonFerraiolo commented on #2323
I would say wipe out all user themes as part of migration. ("wipe out" = rename or move files so that the themes are still there for user to download, but made such that M6 doesn't recognize the old themes). We've wiped custom themes in past migrations.

[2012-05-18 21:29] JonFerraiolo opened #2337 "dojox ContentPane"
User request:

hi,

Would  it be possible to include dojox.layout.contentpane along dijit...? This would spare me a bit of manual corrections and strange behaviours :)
Just manually "requiring" it does not work in maqetta but leads to the class not being loaded, propably because it's not in the java package(?)

Marc

[2012-05-18 21:40] JonFerraiolo commented on #2332
-> @billreed63

I was able to reproduce on mac/chrome running from Eclipse when authoring in sketch mode.

[2012-05-18 21:48] aerwin commented on #2244
Fix with above commit.

[2012-05-18 21:48] #2244 closed, assigned to aerwin

[2012-05-18 22:12] #2208 closed, assigned to billreed63

[2012-05-18 22:17] JonFerraiolo commented on #2149
Closing. When I tested, the grid retained its content. However, there was an exception deep inside of the gridx widget. I sent email to the gridx development team about that.

[2012-05-18 22:17] #2149 closed, assigned to JonFerraiolo

[2012-05-18 22:26] doronrosenberg commented on #2332
Taking since I don';t have much on my plate for m6

[2012-05-18 22:37] doronrosenberg commented on #2332
OK, this applies to a lot of HTML elements, not just label.

[2012-05-18 22:41] JonFerraiolo opened #2338 "Exception when opening *.csv and save as *.txt"
@doronrosenberg
- Open sample.csv
- Save As sample.txt

Result: exception because `oldEditor.model` is defined at Resource.js:224:

[code]

Here is the stack trace:

[code]

The check for CSSEditor is rather curious. Maybe the logic assumes if it's not CSS, then it's just got to be HTML (vs *.txt or *.json or whatever)

[2012-05-18 22:46] #2263 closed, assigned to JonFerraiolo

[2012-05-18 22:52] billreed63 commented on #2332
From smart input we are sending the properties `textContent: "fffccc"`  to ModifyCommand
We then do a `this._oldData = widget.getData();` which returns `children: "fff"`  we then do a

[code]

which gives us the newData we create the widget with

[code]

Because we have both the model seems to use the textContent, but the dom uses the children

[2012-05-18 23:02] doronrosenberg commented on #2332
We could switch from ModifyCommand to ModifyRichTextCommand - we do that for innerHTML, and changing it to do so for textContent seems to work well.

In fact this would fix another bug I just saw - in m5, label could not support html markup, even if you checked the radio button.

[2012-05-18 23:14] #2338 closed, assigned to childsb

[2012-05-18 23:14] doronrosenberg commented on #2338
The css part was for additional formatting it seems

[2012-05-18 23:16] jhpedemonte commented on #945
cc @aerwin

Is this also an issue with GridX?  If it only affects DataGrid, then we can close this.

[2012-05-18 23:56] JonFerraiolo commented on #2332
I'm reopening and assigning to me because I'm working on (what I think) is a better fix.

The fix above sets data.children to the text string for the label, thereby making data.children = data.properties.textContent. With this fix, innerHTML in the model is set properly (I believe doubly-set, once because HTMLElement.js has special case logic for property "textContent" which stuffs its value as el

[2012-05-19 00:25] JonFerraiolo commented on #2332
Here is commit that broke things: eed94aa9775aed498d6ac2dd49920b7085739033 Haven't figured out exactly what went wrong yet...

(@aerwin)

[2012-05-19 00:29] JonFerraiolo commented on #2332
Ah, here's the reason. The above commit made this change:

[code]

But node['textContent'' is special (see: https://developer.mozilla.org/en/DOM/Node.textContent). `node['textContent'] = 'whatever'` is equivalent to setting the innerText of the node to 'whatever'.

[2012-05-19 01:52] JonFerraiolo opened #2339 "SmartInput "HTML markup" broken (including Preview 5)"
Yikes! looks like SmartInput is partially broken in Preview 5.
- New HTML File - hi-fi sketch
- Add a LABEL
- Enter text as: `<i>ccc</i>` and choose radio button "HTML markup"

Result=> (WRONG) The screen shows `<i>ccc</i>` instead of italicized `ccc`, even though source code is correct
- Save, close, reopen

Result=> (CORRECT) The screen shows italicized `ccc`
- Double-click on label

Result=> (W

[2012-05-19 01:54] JonFerraiolo opened #2340 "Test plan for SmartInput"
I discovered some simple SmartInput bugs in Preview 5 (see #2339), which shows we need a test plan for that feature, and need to run that test plan before shipping Preview 6.

[2012-05-19 01:55] JonFerraiolo commented on #2339
@billreed63 - I may have a fix soon, but since I'm an amateur in SmartInput, I've created issue #2340 so we have a test plan for SmartInput to decrease risk that we will ship another version with SmartInput bugs.

[2012-05-19 02:01] #2339 closed, assigned to JonFerraiolo

[2012-05-19 02:03] JonFerraiolo commented on #2332
With fa5cf614b2 all SmartInput bugs are fixed that have been reported. But @billreed63 should go over the feature (and maybe review the code) to make sure all possible options are operational.

[2012-05-19 02:03] #2332 closed, assigned to JonFerraiolo

[2012-05-19 02:04] JonFerraiolo commented on #2310
@billreed63 - you still having this problem?

[2012-05-19 02:42] #2311 closed, assigned to JonFerraiolo

[2012-05-19 03:01] peller commented on #2337
is this just about including dojox.layout.ContentPane metadata in the 'untested' section?

[2012-05-19 03:13] JonFerraiolo commented on #2334
-> @jhpedemonte - Selection accurately reflects the bounds of the widget. We had the same problem in Preview 5 (and earlier, I would guess). I'll bet this gets pushed to M7.

[2012-05-19 03:19] peller commented on #2336
wfm

[2012-05-19 03:20] peller commented on #2336
stack doesn't make sense... why would it rebuild the page for a download request?

[2012-05-19 03:20] peller commented on #2336
@jhpedemonte

[2012-05-19 03:37] JonFerraiolo opened #2341 "Arrow key problems on Firefox"
(Running build on Mac/FF - seems to be OK on Chrome)
- Put the following file in workspace (see below)
- Drag a Button into TabContainer that is in middle of doc
- Try up, down, left, right arrow keys

Result=> Button moves in wrong direction

What's weird is that if you add a Button under the BorderContainer, then reparent it (using ChooseParent UI) to be inside of TabContainer, and then arrow ke

[2012-05-19 04:17] JonFerraiolo opened #2342 "Claro them editor: can't change padding on TextBox"
- Clone claro
- Select TextBox
- In properties palette, enter "6px 6px" for padding (the shortcut)

Result=> Properties palette shows "1px 0" (the original value) instead of "6px 6px", but the screen is updated correctly.
- Save, close, reopen

Result=> Screen looks correct, but value shows "1px 0"

[2012-05-19 04:30] JonFerraiolo opened #2343 "TypeError when changing global font with claro theme editor"
- Claro theme editor
- Select the topmost widget ("generic text")
- Choose any value for font-family from dropdown menu

Result=> TypeError Cascade.js: 203

[code]

[2012-05-19 13:54] jhpedemonte commented on #894
I'm fine with Jon's suggested fix, as long as it's properly documented why we need it in a setTimeout, etc.

[2012-05-19 14:26] JonFerraiolo opened #2344 "Sample1.html and Sample2.html don't work with review editors"
@jhpedemonte @aerwin

When I sent myself a review invitation using Sample1.html, the file came in OK but the states didn't show in the States palette. I'm wondering if this is simply an issue of updating the HEAD in those those two files to match what we create for new files.

[2012-05-19 14:30] jhpedemonte commented on #2341
I think we can push to M7.  Not a very common scenario.

[2012-05-19 14:43] JonFerraiolo commented on #2337
When we go 1.0, I want to remove the Untested section, and only ship with widgets that we have tested, so Untested would no longer be a holding place for things that "might work, might not work, you're on your own". So for dojox ContentPane or any other candidate widget, we have to decide either it's in or it's out of any particular future release.

But in addition, I'm hoping @jhpedemonte and @ch

[2012-05-19 14:49] jhpedemonte commented on #2334
I consider our existing YUI and jQuery widgets to be a failed experiment.  We need to remove them from v1.0.  Going forward, we'll only support widgets with a declarative markup (i.e jQuery Mobile).

Therefore, closing.

[2012-05-19 14:49] #2334 closed, assigned to jhpedemonte

[2012-05-19 15:08] aerwin commented on #945
I just tried with GridX and it seemed to work pretty well. However, I had to set the height to 100% to get it to auto-fill vertical area in Step 5 (removing value of 300px wasn't sufficient), but that doesn't seem terribly surprising to me. So, I'll go ahead and close this.

[2012-05-19 15:08] #945 closed, assigned to peller

[2012-05-19 15:30] JonFerraiolo commented on #2344
I did in fact do a SaveAs on Sample1.html to Sample1a.html and sent that through the review process, and that did indeed work. But I'll leave it to @peller to study things carefully to make sure the versions of Sample1.html and Sample2.html that we include in the Preview 6 distribution are correctly updated.

[2012-05-19 15:33] aerwin commented on #1761
No milestone assigned, so assigning to "Future" to make it easier for me to track.

[2012-05-19 15:34] aerwin commented on #1727
No milestone assigned, so assigning to "Future" to make it easier for me to track.

[2012-05-19 15:34] aerwin commented on #318
No milestone assigned, so assigning to "Future" to make it easier for me to track.

[2012-05-19 15:50] #2335 closed, assigned to JonFerraiolo

[2012-05-19 15:52] JonFerraiolo commented on #2317
I haven't been able to reproduce this after numerous attempts. Pushing to M7.

[2012-05-19 15:55] JonFerraiolo commented on #1957
Closing. I'm pretty sure this got fixed along the way (lots of URL handling server fixes in past month or so). @childsb

[2012-05-19 15:55] #1957 closed, assigned to JonFerraiolo

[2012-05-19 16:06] JonFerraiolo commented on #1009
Pushing to M7. I tried it just now and it works at least some of the time.

[2012-05-19 16:07] JonFerraiolo commented on #1391
Pushing to M7 Med. Only happens in some cases with background properties.

[2012-05-19 16:24] JonFerraiolo commented on #2341
I might have a fix for this.

It's probalby the same problem that has been causing geometry problems in Maqetta all over the place: dojo's dom-geometry.js doesn't provide robust/correct answers in all cases. In this particular case, I'm pretty sure this one is the "non-px unit problem, where dom-geometry.js just grabs the integer part of element.style in some cases, so "2em" and "2px" both get tre

[2012-05-19 16:34] #2341 closed, assigned to JonFerraiolo

[2012-05-19 18:43] JonFerraiolo commented on #2247
Commit ee560929be fixed the (broken) use of offsetLeft and offsetTop in calculations for the drop cursor in flow layout mode

[2012-05-19 20:57] JonFerraiolo commented on #2247
Pushing the remainder of this issue to M7 High. There are still a couple of references to offsetLeft/offsetTop in maqetta.core.client. I looked at them briefly and could find a way to trigger any geometry errors.

But probably the big thing that is needed in M7 is a thorough study of any use of offsetLeft/offsetTop within the widget library helper functions.

[2012-05-19 21:11] JonFerraiolo commented on #2269
Pushing this to M7

[2012-05-19 21:13] JonFerraiolo commented on #1753
Test plan got fixed somewhere along the way. Closing.

[2012-05-19 21:13] #1753 closed, assigned to JonFerraiolo

[2012-05-19 21:27] JonFerraiolo commented on #2147
-> @billreed63 - I was going to update the themeSets.html test case, but when I looked at the source code, I was left scratching my head a bit, so I'm pushing this test plan bug to the expert.

My head scratching is about whether we store the themeset name anywhere in the HTML file. I created a themeset named 'aaa' and applied it to my HTML file, and when I search that file, I don't see the string

[2012-05-19 21:30] #2191 closed, assigned to JonFerraiolo

[2012-05-19 21:43] aerwin commented on #2299
Closing with above commit.

[2012-05-19 21:43] #2299 closed, assigned to aerwin

[2012-05-20 02:37] #2344 closed, assigned to peller

[2012-05-20 15:20] JonFerraiolo opened #2345 "dom-geometry problems - need to report to dojo team"
@peller

In debugging various geometry bugs in Maqetta, I have found the need to use Maqetta's own geometry logic rather than Dojo's (dom-geometry.js) for various reasons.

This issue is to reconstruct the reasons why dom-geometry.js didn't meet Maqetta's needs so we can engage with Dojo team to see if fixes are needed in Dojo.

Here's one. dom-geometry.js has this bit of curious code:

[code]

No

[2012-05-20 23:26] JonFerraiolo opened #2346 "dijit.form.TextArea and dijit.form.SimpleTextArea"
@doronrosenberg - could you please take a look at two textarea widgets we support today: dijit.form.TextArea and dijit.form.SimpleTextArea? Here is a user report on those widgets:

It looks to me like Maqetta has the correct mapping of widgets in the widget palette to the appropriate widget that gets added to the page, but the result is not intuitive to users because SimpleTextarea becomes 10 rows

[2012-05-20 23:35] JonFerraiolo opened #2347 "New tutorial on mobile sketching"
Would be good to add a tutorial on mobile sketching, but not absolutely essential for M6.

[2012-05-21 13:26] billreed63 commented on #2147
We do a match of the theme's in the page to the known themeSets, I did not want to clutter up the html with Maqetta metadata that was not needed. My option is that we don't want to put the themeSet name in the html document, and match that. If the user has created multiple html files they would all have that themeSet name in them that could mislead. If that theme set was deleted or rename. Or wors

[2012-05-21 13:29] billreed63 commented on #2317
I think this is just a video bug, when the debugger is open and the widget is half below the visible  screen

[2012-05-21 13:29] #2317 closed, assigned to JonFerraiolo

[2012-05-21 13:29] billreed63 commented on #2310
no

[2012-05-21 13:29] #2310 closed, assigned to JonFerraiolo

[2012-05-21 13:47] peller opened #2348 "Path math needs special handling for query (?) string"
for example, if you append /mydir to http://maqetta.org/? it should go prior to the ? -- http://maqetta.org/mydir?

Currently, the option to close files in the workspace puts a ? on the url like this, and requests for helpers fail

[2012-05-21 13:51] billreed63 commented on #2340
We really need to automate test cases,  SmartInput was working correctly for dojo WIdgets, but seems to be incorrect for html widget that used textContent for inline edit (I seem to remember that we were going to change them all to innerHtml).
At any rate we should combine this test case with the widget palette test case and automate to insure full coverage of all widgets.

[2012-05-21 14:32] billreed63 opened #2349 "Format of label change when changing ID"
1) New HTML
2) DnD label
3)Smart inpute enter `Label < b>bold</b>t test` choice the Plain text radio button
4)enter label_1 in the ID field for the box

Notice the label is now displayed with bold instead of ``Label < b>bold</b>t test`

[2012-05-21 14:46] JonFerraiolo commented on #2349
-> @billreed63 - can you look into this? If you don't have time, reassign back to me.

[2012-05-21 14:49] JonFerraiolo commented on #2348
-> M6 High. (Wasn't there already a bug regarding the `?` ? I couldn't find it, though)

[2012-05-21 15:01] jhpedemonte commented on #2348
Another solution: redirect from `foo.com/maqetta/?resetWorkspace` (once it has been handled) back to the main page (i.e. `foo.com/maqetta/`).  Could do this for all such URL params.

[2012-05-21 15:17] doronrosenberg commented on #1741
Cannot reproduce this on any browser, closing

[2012-05-21 15:17] #1741 closed, assigned to doronrosenberg

[2012-05-21 15:34] jhpedemonte commented on #884
-> M7

[2012-05-21 15:39] billreed63 commented on #2147
I updated the test case, Rename issues and push to M7

[2012-05-21 15:43] childsb commented on #2012
one issue to note--

this fix will cause any review a user has open to open for every project.

[2012-05-21 15:49] billreed63 commented on #2340
SmartInput can be very widget specific, do we want to combine SmartInput testing with Widget palette basic tests?

[2012-05-21 15:58] JonFerraiolo commented on #2340
That would be ok. Whatever you think is best.

[2012-05-21 16:00] childsb commented on #1914
Fixed the ? issue with this checkin:

14a3498ac303a49a4c8c1a35705489d53397cc9b

[2012-05-21 16:00] #1914 closed, assigned to childsb

[2012-05-21 16:19] #2087 closed, assigned to JonFerraiolo

[2012-05-21 16:26] aerwin commented on #1605
Closing with two commits above.

[2012-05-21 16:26] #1605 closed, assigned to aerwin

[2012-05-21 16:32] billreed63 commented on #2340
I have added smartInput testing to the Widget palette basic test cases. I am working on automating  the widget palette basic test cases but that is for M7

[2012-05-21 16:33] childsb opened #2350 "standard method for URL parameters to the server"
as a continuation of #1914, we need a standardized way of setting server state with URL parameters.

the current approach parses the parameters on the client and reloads the page.

a new approach is to parse the parameters in DavinciPageServlet, and set the state on the server.

benefits:
1) prevent partially loading, then reloading the page
2) simpler client code

traps:
1) race condition.  serve

[2012-05-21 16:36] #2340 closed, assigned to billreed63

[2012-05-21 17:01] #2321 closed, assigned to jhpedemonte

[2012-05-21 17:01] #2323 closed, assigned to childsb

[2012-05-21 17:03] jhpedemonte commented on #2323
After discussion with @childsb, decided to revert previous change and add version string back into package namespace.  Not having a version string could lead to issues -- for example, the GridX wizard code inherits from helpers in the Dojo 1.7 library.  Those files may change in the Dojo 1.8 library, causing GridX wizard to break.  Can't assume that it will work.

[2012-05-21 17:05] childsb commented on #2348
to recreate this bug, just browse to ./maqetta/? and see what fails to load.

[2012-05-21 17:31] billreed63 commented on #2349
When we get th ModifyCommand we retrieve the widget.getData in the case of html label the widget has a child
The child is the HTMLText element. We then call `getChildrenData(options);` In this case that would call
`HTMLWidget.getChildrenData(options)`   which calls `HTMLWidget._getChildrenData(options)`
This has the following code

[code]

the `getTextContent` only preserves the escape elements if

[2012-05-21 17:36] billreed63 commented on #2349
I just noticed that if I have label<b>c</b>x when the label is when I change the id the bold c is dropped, that is a different issue #2355

[2012-05-21 18:28] JonFerraiolo opened #2351 "maqetta/* URL problems - downloaded pages don't work"
I downloaded my entire workspace, and then expanded the ZIP into my local web server. When I tried to open Sample1.html (via http://localhost/installdir/Sample1.html), the file doesn't show correctly and these messages appear in the console:

[code]

[2012-05-21 18:36] JonFerraiolo commented on #2351
@peller - there seems to be a problem where some parts of the product think that the maqetta/\* files are in `<projectroot>/maqetta.*` and other parts think they are in `<projectroot>/lib/maqetta/*`.

[2012-05-21 18:37] jhpedemonte commented on #2351
Brad committed a fix to move the `maqetta` files under `lib`, by default.  Must have missed a few places during that change, which still point to paths without `lib` in them.

[2012-05-21 18:39] jhpedemonte opened #2352 "Add migration script to generated zip file"
Not sure who knows the build the best: @childsb or @peller

Need to add the migration scripts (at `/migration/m5-m6-migrate.sh` in the source) to the zip distributions.  I was thinking we could still keep it in the `migration` top-level directory.

[2012-05-21 18:41] JonFerraiolo commented on #2351
What's weird is that, in the repository, Sample1.html shows maqetta library at `../../../maqetta/*` but when I open Sample1.html in the app and hit preview-in-browser, the view source shows maqetta library at `../../maqetta/*` (one fewer `../`. Maybe the page editor cleans up the module locations?

[2012-05-21 18:41] JonFerraiolo commented on #2351
@jhpedemonte - I think @peller recently changed the sample HTML files to add a 3rd `../`

[2012-05-21 18:47] aerwin opened #2353 "Theme set dialog showing wrong data"
Discovered this when accidentally skipped a step in Theme Sets test plan....
1. Follow the MainMenubar/themeSets.html test plan up all the way through the "Modify theme sets" section, BUT skip Step 6 and Step 7 of the "Modify theme sets" section (where it has you create the  _custom_default_1_ theme set)
2. When get to the end of "Modify theme sets" section, you'll have two theme sets (_my_theme_s

[2012-05-21 18:55] aerwin opened #2354 "Update GridX version number"
Currently, we have 1.0 shown as the version of the GridX library, but this is probably not correct as we've just been pointing our submodule to the latest gridx commit on GitHub. I can't find any version numbers amongst the GridX files, so I've got a note out to @evanhw to figure out what we should put there (besides a commit number).

![Screenshot](http://i.imgur.com/r06TU.png)

[2012-05-21 19:07] billreed63 opened #2355 "Missing metadata for HTML elements"
1) create a new html file
2) DnD a div
3) dblclick on the div
4) type test<b>bold</b> element, and select the HTML radio
5) Add an id to the div from the properties palette

Notice that the word bold is removed from the div, because the `<b> and <i>` are missing from the metadata when the widget .getData is run to get the old data this nodes are skipped because the node._dvWidget is not set.

If I

[2012-05-21 19:15] childsb commented on #2336
RebuildSource is called for downloads in case the user remaps another lib so that the download will have proper mappings.

i looked at the file15.html that's causing the error and tried to reproduce but can't.  bill can't reproduce now either.

i'll leave open for m7 or until we can find a recreate.

[2012-05-21 19:19] billreed63 commented on #2349
If I change the code in HTMLWidget so that the getTextContent always escapes the text this issue is resolved

[code]

@JonFerraiolo who is the expert on this code, I worry about making this change so close to the release of preview 6

[2012-05-21 19:32] JonFerraiolo opened #2356 "dojo.css not relocated"
@childsb @doronrosenberg

Setting to Prio High just so this gets some attention.

If you relocate dojo (either via download action or via Modify Libraries), subsequent loading of HTML files (in page editor, preview in browser, or after download) results in error messages in console about dojo.css not found.

Multiple things here. Do we really want to include dojo.css in user files anyway? See #223

[2012-05-21 19:36] JonFerraiolo commented on #2356
@peller

The sample files include @import dojo.css. Maybe we should remove that? (Haven't thought this through completely)

[2012-05-21 19:39] JonFerraiolo opened #2357 "Many occurrences of @import dojo.css after Modify libraries"
I used all libraries to move dojo and other libraries to the project root folder, and then opened Sample1.html. Here is what I see in source view.

[code]

[2012-05-21 19:46] aerwin opened #2358 "SourceEditor is difficult to type in (often causing me to delete widgets)"
In working through the SourceEditor/basic.html test plan (in particular the "Adding and deleting primitive widgets" section), I'm having difficulty with the parts that ask me to change a property value in the source pane.

Using Chrome on Mac...
1. Create new HTML file
2. Drop button onto canvas
3. Go to horizontal split view
4. Find the label attribute of the <button> element and click in it
5. E

[2012-05-21 19:52] aerwin commented on #2358
Going into the next section of the test plan, it's difficult to do any typing (not just property updates). E.g., try to type the following in the source editor for Step 10 of the "Container widgets" section without blowing something else away.

[code]

[2012-05-21 19:55] JonFerraiolo opened #2359 "Intermittent problems in Firefox"
Need to pound on these area:

FF/Win running a release off of a server:

I got repeated Firefox compile-and-go console message after playing around with changing visibility on widgets in outline palette, saving, opening, and attempting to click on eyeball again.

One time I got a message upon trying to open context menu in outline palette.

[2012-05-21 19:56] jhpedemonte commented on #2358
-> @doronrosenberg, since you've been in this code recently.  Also cc @peller

[2012-05-21 19:58] JonFerraiolo commented on #2358
Maybe we need to turn off the feature for M6 where selecting in design view causes the corresponding text in source view to be selected? Very bad to turn that off, but we might have to.

[2012-05-21 20:00] JonFerraiolo commented on #2355
Seems to me we should add metadata for B, I, S, U, EM and STRONG, but set the hidden bit on so they don't appear in Widgets palette.

[2012-05-21 20:01] #2351 closed, assigned to childsb

[2012-05-21 20:02] doronrosenberg commented on #2358
Hence the reason I suggested to get rid of DOM selection and have the editor do the selecting via css classes.

We also can't distinguish event origin I believe, so if we only want to handle this state it could get a bit tricky.

[2012-05-21 20:05] aerwin opened #2360 ""Phantom" scrollbar in GridX"
This is really a GridX issue, but logging a Maqetta issue so we don't lose track of it. @evanhw has been contacted separately.

Even if there are not enough rows to need vertical scrolling, a disabled "phantom" vertical scrollbar appears. The horizontal space it take up leads to a small horizontal scrollbar even if all of the columns are set to "auto" width.

![Screenshot](http://i.imgur.com/abwDN

[2012-05-21 20:06] JonFerraiolo opened #2361 "class and id should be hidden when theme editor is active"
'class' and 'id' show when the theme editor is active.

We need a check in WidgetToolbar.js to only show 'class' and 'id' when the current editor is the page editor (vs theme editor or review editor).

@billreed63

[2012-05-21 20:07] peller commented on #2356
Apparently we have a choice of using ( dojo.css or claro/document.css ) + claro/claro.css, but document.css + claro.css is considered more proper.  The extra file is necessary as a baseline.  Not sure how long it's been this way. I guess we'd need to make sure all of our themes conformed before switching to this pattern.

[2012-05-21 20:10] doronrosenberg commented on #2359
Running into this as well

[2012-05-21 20:11] doronrosenberg commented on #2358
The problem isn't design to source, its when clicking in source view we select the selected widget.

[2012-05-21 20:34] #2353 closed, assigned to billreed63

[2012-05-21 20:35] childsb commented on #2352
i'd store it in the davinci.product/migration directory then copy it out of there with the rest of the *.sh and *.command files.

as a note, we've never included migration scripts....

[2012-05-21 21:07] aerwin opened #2362 "Update regular expression for column width validation"
The following regular expression is present in `GridWizardPreviewPane` to validate values entered into the column width text field:

[code]

However, @jhpedemonte pointed out that JSHint complains about the "." entry in the line. and that changing to "\." makes the warning go away.

However, I did some further testing and discovered both "." and "\." allow bad strings to get through. Those regular

[2012-05-21 21:11] aerwin commented on #2362
Changing to the following appears to fix the validation issue (e.g., `\.` becomes `[\\.]`):

[code]

[2012-05-21 21:17] aerwin commented on #2362
Closing with above commit.

[2012-05-21 21:17] #2362 closed, assigned to aerwin

[2012-05-21 21:24] #2355 closed, assigned to billreed63

[2012-05-21 21:28] #1537 closed, assigned to childsb

[2012-05-21 22:02] aerwin commented on #1609
Closing with above commit.

[2012-05-21 22:02] #1609 closed, assigned to aerwin

[2012-05-21 22:05] JonFerraiolo commented on #2231
Actually, I made a change in the M6 cycle after working with some designers and changed the logic so that if a widget allows a property to be on element.style, then the element.style radio button is chosen by default.

[2012-05-21 22:08] JonFerraiolo commented on #71
This might be fixed now

[2012-05-21 22:50] JonFerraiolo opened #2363 "Allow for multiple file selection with audio and video elements"
Given that Firefox doesn't support MP4 or MP3, people who use the HTML5 VIDEO and AUDIO elements need to specify at least 2 different content files. For example:

[code]

I think we need to enhance our dialogs for VIDEO and AUDIO elements.

[2012-05-21 22:55] JonFerraiolo opened #2364 "Selection wrong when adding a VIDEO element"
Using Mac/Chrome
- New HTML File - desktop hi-fi page
- Add a video element - notice the initial video element is about 200x150 pixels
- In dialog that pops up, choose one of our sample video files

Result=> After clicking OK on the dialog, the resulting video element is bigger than the original size, but the blue selection box is still only as big as the original smaller video element.

All we ne

[2012-05-22 00:11] peller commented on #1922
-> M7

[2012-05-22 02:09] aerwin commented on #1761
Raising priority to medium and moving to M7 based on @JonFerraiolo's comments in #2363. Basically, my assertion when I originally opened the issue might not be totally on target. E.g., since browsers are not uniform in their support for audio/video formats, most of the time you probably need to specify multiple sources so the browser has a choice. This means a single `src` attribute is often inade

[2012-05-22 02:10] aerwin commented on #2363
Agreed... but, closing as a dup of #1761 (which I raised severity of and moved into M7).

[2012-05-22 02:10] #2363 closed, assigned to aerwin

[2012-05-22 13:03] #2349 closed, assigned to billreed63

[2012-05-22 13:20] billreed63 opened #2365 "Mobile theme files do not display correctly in FF"
The mobile theme's do not display correctly in FF theme editor or  page editor.

Example the back arrow head is missing on the header widget.

The reason for this is the  theme-compact.css files are not being added to the head, this is not needed for webkit but is required for FF

[2012-05-22 13:31] billreed63 opened #2366 "GridX can't chouse between plan text and HTML"
When I enter

[code]

I can not chose to have the data display as plain text instead of HTML

[2012-05-22 13:48] aerwin commented on #2366
Working as designed. GridX does not have an attribute for escaping HTML. See #2246.

[2012-05-22 13:48] #2366 closed, assigned to aerwin

[2012-05-22 13:49] billreed63 opened #2367 "Cut/paste across pages fails for vast majority of widgets"
NEW SUMMARY by @aerwin:
In short, I tried a sampling of widgets where I'd cut from one page and try and paste into another. I found the following work:
- Dojo Button
- HTML widgets

Other than that, I couldn't find anything else.

Representative scenario:

New HTML file1
New HTML file2
Drag widget (say, Dojo TextBox) onto file1 canvas
Cut the TextBox
Switch to file2
Issue past command

~~OLD SUMMA

[2012-05-22 13:53] peller commented on #1333
-> M7

[2012-05-22 13:58] peller commented on #1443
-> M7

[2012-05-22 14:00] peller commented on #1575
could enhance the davinci/css plugin and use it to detect when the css has loaded
-> M7

[2012-05-22 14:06] aerwin commented on #2367
@billreed63 I can reproduce, but this also doesn't appear to work with DataGrid. Most of the data store management for GridX is the code that was used for DataGrid. Did this used to work with DataGrid?

[2012-05-22 14:07] jhpedemonte commented on #2367
I think we discussed this several months back -- we shouldn't depend on positioning for these dependent widgets and having to move them around.

The easiest approach is just to put the stores as the first items in the **body** and make sure that all other (visible) widgets come after the stores in the DOM & Model.

[2012-05-22 14:09] aerwin commented on #2367
Still investigating, but this scenario appears to die on line 142 of `DataGridCreateTool` (with `storeWidget` being undefined):

[code]

[2012-05-22 14:12] peller commented on #2274
leave open for M7. Need to find a better way to stash id.

[2012-05-22 14:13] jhpedemonte commented on #2365
We require the module **dojox/mobile/compat**, which loads **dojox/mobile/_compat**, which states this,

[code]

and this,

[code]

So it seems like it should already be handled for us, and should work just fine in FF.

[2012-05-22 14:21] aerwin opened #2368 "Address concerns with size of new audio/video samples"
In an e-mail thread, @JonFerraiolo raised some concerns that adding 536K of sample files since this 536K would be repeated across every project in every workspace.

@childsb suggested:

But, we decided adding a new library was too risky for M6.

@JonFerraiolo suggested:

In response, @jhpedemonte suggested:

[2012-05-22 14:37] billreed63 commented on #2365
The code in dojox.mobile._compat.js only checks for and loads -compat.css files from the mobile/themes directory

[code]

I think this is a bug in dojox.mobile the code should be something like, where the code uses the dm.loadedCssFiles to check and load -compats

[code]

@peller

[2012-05-22 14:52] aerwin commented on #2354
Closing with above commit. Changed version number to 1.0prebeta2 as @evanhw tells me 1.0beta2 will occur in a couple weeks.

[2012-05-22 14:52] #2354 closed, assigned to aerwin

[2012-05-22 14:53] billreed63 commented on #2367
@JonFerraiolo  wanted the Stores immediate before the widget that used it, I do not know if this is still his prefernnce but it was for DataGrid. This may be desirable if the GridX is a child of a div and the user cuts and pastes the parent div. if the store is a child of the div it would make cutting and pasting easier. Also more error proof in the source editor..

[2012-05-22 14:57] childsb opened #2369 "UI default to proposed rule for delta themes in page edito"
rcan't change background color w/custom theme,
1) clone claro ---> claro2
2) new html file
3) change theme to claro2
4) add a button
5) select button and try to change background color to red

you're prompted with "can't change value of read only theme dialog".

[2012-05-22 15:15] jhpedemonte commented on #2352
New proposal: put link directly to GitHub (raw) file for migration script in the release notes, under a migration section.

-> @jhpedemonte

[2012-05-22 15:15] billreed63 commented on #2369
We have switched to deltas, so the rule does not exists the first time the user attempts to change the color. The user has to open the cascade and select the proposed new rule, the new rule is added to the new theme css file.

[2012-05-22 15:21] billreed63 commented on #2369
@JonFerraiolo  do we need to change the message to detail this new behavior?

[2012-05-22 15:36] billreed63 opened #2370 "Test plan for cut/paste widgets across page editors"

[2012-05-22 15:44] aerwin commented on #2368
We discussed this more at the scrum. Here are the high-level conclusions:
1. @aerwin will remove new audio/video samples from repository
2. @jhpedemonte will upload samples to maqetta.org (@aerwin sent just sent them to him)
3. Smart input for AUDIO, VIDEO, and EMBED will be changed:
   - use the default smart input dialog with a text field instead of the custom one with a file chooser
   - defaul

[2012-05-22 15:53] aerwin commented on #2367
Per scrum, pushing this to M7...

@jhpedemonte raised concern that we don't have any sort of test plan for pasting any widgets across pages (nor has that been discussed as a valid scenario). In quick testing, most seem to work, but @billreed63 has now opened an issue to create a test plan (#2370).

In the case of DataGrid/GridX, it looks to me that the current code in `DataGridCreateTool` is tryin

[2012-05-22 16:50] peller commented on #2352
could also just put in gist, as it's not something which needs to persist in our repository

[2012-05-22 17:05] doronrosenberg commented on #2358
Moving to m7 so we can reenable this

[2012-05-22 18:33] peller opened #2371 "dirty bit appears on untouched file"
Open Sample1.html
Wait for it to load.  Note that the editor tab does not show a "*" dirty bit
Reload the workbench by hitting the reload button on the browser
Sample1.html re-opens in an editor, but the "*" is there.  Trying to close it without any changes results in a warning.