[2012-09-06 22:25] aerwin opened #3295 "Theme Editor: Trouble setting font-color on global text"
@billreed63

Using FF on Mac going to staging server... working on Claro theme editor test case...
- selected the global text widget and tried to change the color to orange, but it had no affect
- however, trying to reload the browser page to see if it would clear things up, there's a small window while loading all of the files and initializing that I see the text as orange:

![GitHub Logo](http:/

[2012-09-06 22:28] aerwin commented on #3293
Also, see #2962 to add submenus rather than have one long menu.

[2012-09-06 22:36] aerwin commented on #3295
When I look at the HTML file I have tied to this theme, I see properly see orange for text in a div:

![GitHub Logo](http://i.imgur.com/9z1iL.png)

[2012-09-06 22:41] aerwin commented on #2459
Reopening... seeing in FF on Mac right now:

Normal rendering:

![GitHub Logo](http://i.imgur.com/b0vrg.png)

Rendering when hover over text box:

![GitHub Logo](http://i.imgur.com/SWDSR.png)

[2012-09-06 22:49] peller opened #3296 "Files/Reviews palettes jump to upper-left for ThemeEditor"
Switch to a theme editor.  Observe that Files and Reviews are in the upper-right corner, not lower left like other editors.

[2012-09-06 22:54] aerwin commented on #3296
For the moment, this is working as designed... Page editor is actually the only editor that has files/reviews in lower left. There was another issue open about whether to go with the current behavior or not, and we decided to move forward with it. I guess you'd +1 yourself against that other issue that you don't like this?

[2012-09-06 23:20] JonFerraiolo commented on #3295
With dojo 1.8, dojo changed the Button widget so that font and text properties no longer inherit from the root node. They added a dijitReset in the middle of the Button's subtree. Here is the expanded subtree for Button:

[code]

Notice the `dijitReset` on the first child SPAN of the root node. That's the reason that font and text properties aren't bubbling down to the `dijitButtonText` node.

My

[2012-09-06 23:22] JonFerraiolo commented on #3295
We will have to push this to M8, won't we?

[2012-09-06 23:25] JonFerraiolo commented on #3294
This seems like a bug to me. You have the "generic text" widget selected. That should only change font and text properties, and changing borders should have no effect. However, if you selected the "Global background and border" widget, that should change various widgets and not the BODY.

[2012-09-06 23:25] JonFerraiolo commented on #3294
But I wouldn't fix for M7.

[2012-09-06 23:26] aerwin commented on #3295
Perhaps you have issues confused, but my original report was about global text in the theme editor. Nothing about buttons.

[2012-09-06 23:26] JonFerraiolo commented on #3292
@painbank - which server language uses the `<% %>` syntax?

[2012-09-06 23:29] aerwin commented on #3295
The screenshot in my update probably confused things... the core of the report was that global text is not changing in the theme editor, but the change does appear in the page editor.

[2012-09-06 23:38] aerwin opened #3297 "Theme Editor: Background dialog doesn't change global background"
@billreed63

Using FF on Mac going to staging server...
- Clone claro theme
- Select global background widget
- Bring up background dialog and change entry in gradient

![GitHub Logo](http://i.imgur.com/kULMT.png)
- Click OK and no change in theme editor

![GitHub Logo](http://i.imgur.com/fjbxO.png)
- If I bring the background dialog back up, my change is still in there

[2012-09-06 23:40] jhpedemonte commented on #2896
I still see registration emails sent from "noreply@website.org".  I set the command line arg `-Dsmtp.notifcationId="foobar@foobar.org"`, but that didn't change anything.

[2012-09-06 23:40] aerwin commented on #3297
Using background pull down and choosing and entry (like "red") appears to work... and, interestingly, I think the rest of the gradient info is maintained.

[2012-09-06 23:46] peller commented on #3296
I don't recall that discussion.  Could close this as a dup then.  Just seems like the user will expect the location of those panels to stay constant.

[2012-09-06 23:47] peller opened #3298 "Migration: file missing"
in my project1 I have a file called 'file1.html' in 'folder1'.  on the migration, folder1 is empty

[2012-09-06 23:49] peller opened #3299 "Migration: eclipse project, top level file does not render"
I have an eclipse project called eclipseproj1 with file1.html (mobile app) located at the top (peer with WebContent)  Works in M6.  In M7, the file opens with no theming.

[2012-09-06 23:52] JonFerraiolo commented on #3295
After chatting with @aerwin, the conclusion is that this issue doesn't come up if you change generic text color at the very start of your theme editing session, but doesn't work later on after making other changes to theme. The problem is that we don't have a reproducible case at this point.

For M8, we should pound on the theme editor until we find a reproducible case for this.

[2012-09-06 23:54] aerwin commented on #3295
In terms of reproducible case, the files are out on the server... I know a few times in the past, @billreed63 has been able to debug by getting into the workspace.

[2012-09-06 23:57] JonFerraiolo commented on #3296
I'm having second thoughts about the Files palette jumping around. But for M7 we should leave things as they are now.

[2012-09-07 00:00] JonFerraiolo commented on #3270
Should be fixed by 9daadf4254a82fabf18f46ba6c33594744d77d39, but need to wait for next posted build to verify

@jhpedemonte @childsb

[2012-09-07 00:22] doronrosenberg commented on #3287
This is a dojo bug I believe, looking to see if we can work around it

[2012-09-07 00:38] #3287 closed, assigned to doronrosenberg

[2012-09-07 01:12] painbank commented on #3292
http://stackoverflow.com/questions/4778881/how-to-use-underscore-js-as-a-template-engine

not a server - client side

On Thu, Sep 6, 2012 at 7:26 PM, Jon Ferraiolo notifications@github.comwrote:

##

Rich Elswick

[2012-09-07 01:59] doronrosenberg commented on #3279
hccss.js

[code]

cs is null in this case.  @peller, the stack is all dojo

[2012-09-07 02:07] doronrosenberg commented on #3279
Stack starts with:

[code]

Seeing ready makes me wonder if the document isn't ready yet when this is called?

[2012-09-07 02:11] ykami commented on #3252
@peller make sense, you can create a ticket if necessary.

[2012-09-07 02:13] JonFerraiolo commented on #3267
I believe I have updated all of the Joomla content on the staging server. Closing.

[2012-09-07 02:13] #3267 closed, assigned to JonFerraiolo

[2012-09-07 02:14] jhpedemonte commented on #3299
@childsb @aerwin @JonFerraiolo  Do we support this for Eclipse projects?

[2012-09-07 02:16] jhpedemonte commented on #3298
-> @childsb

My script did nothing to remove files.  If a file is missing, it must have happened during the in-app migration process.

@peller, do you see the file missing when you switch over to Orion Navigator?

[2012-09-07 02:33] JonFerraiolo commented on #3231
I tried to break things and couldn't find any bugs, so closing. I'm sure there are bugs, but at the moment I don't see ship-stoppers.

[2012-09-07 02:33] #3231 closed, assigned to JonFerraiolo

[2012-09-07 02:58] jhpedemonte commented on #2896
I think I see the issue with ad971deb509cffdfbac27bc4b38249f2800cc5e4:

First, `getCommonNotificationId()` returns _noreply@website.org_ if notificationId isn't set.

Second, this chunk is duplicated in a couple of Java files:

[code]

It looks like that chunk should be moved into `getCommonNotificationId()`, right?  That way, by default that function will return _admin@[domain]_.

[2012-09-07 03:27] peller commented on #3298
weird.  the file is there now.  can't explain that.

[2012-09-07 03:27] #3298 closed, assigned to childsb

[2012-09-07 03:38] peller commented on #3279
yeah, does sound that way, but based on the stack, that's surprising.  What's the full stack and how far up the stack does it go before it's handled?

[2012-09-07 03:40] #2896 closed, assigned to childsb

[2012-09-07 03:40] jhpedemonte commented on #2896
@childsb, please review my commit.

[2012-09-07 03:44] jhpedemonte commented on #2070
TLS/SSL/Auth/etc are all supported by JavaMail, which we use.  We should just be able to set the appropriate properties in the **javax.mail.Session** object we create.

In **SmtpPop3Mailer.java**, we create Session by passing in `System.getProperties()`.  I thought this would mean that we could just do something like `-Dmail.smtp.sll.enable=true`, but it wasn't working for me.  Needs more investig

[2012-09-07 03:44] jhpedemonte commented on #2198
Since we using Nginx as a reverse proxy, it can log requests to both Maqetta and our static content.  Closing.

[2012-09-07 03:44] #2198 closed, assigned to jhpedemonte

[2012-09-07 03:45] jhpedemonte commented on #2254
Closing. Fixed through use of pre-upgrade migration script and in-app code to migrate to the Orion workspace format.

[2012-09-07 03:45] #2254 closed, assigned to jhpedemonte

[2012-09-07 03:46] peller commented on #3100
fixed in 6b9c03d8eb86921a49708410db5286f629abcf73

[2012-09-07 03:46] #3100 closed, assigned to peller

[2012-09-07 03:47] peller opened #3300 "Need to move rootfiles from maqetta.zazl.feature to new feature"
see 6b9c03d8eb86921a49708410db5286f629abcf73

For M7, temporarily used maqetta.zazl.feature to house readme and other informational files #3196 put at the root of the download.  These should be decoupled from zazl and a new maqetta.root.feature should be created.

[2012-09-07 03:47] jhpedemonte commented on #776
@childsb implemented a "reset password" feature.  If emails fail to get through, I'm not sure what we can really do -- the user will just have to contact us somehow.

Closing.

[2012-09-07 03:47] #776 closed, assigned to jhpedemonte

[2012-09-07 03:57] aerwin commented on #3286
@billreed63

As far as I can tell there's no issue here, so closing with explanation below. @billreed63 , if you disagree, please let me know.

Starting from the HTML source in the initial report, I don't think it's really adding a new row. Instead, at the start state, the header row has a height of 0 (because all of the TH elements are missing `&nbsp;`). And, as part of adding a new column, it cr

[2012-09-07 03:57] #3286 closed, assigned to aerwin

[2012-09-07 04:05] #3196 closed, assigned to peller

[2012-09-07 04:08] jhpedemonte commented on #2565
I gave this a shot with Nginx and rewrite rules, but I think something like this would be pretty complex.  I'll have to study this some more.  Pushing to M8 for further investigation.

[2012-09-07 04:33] aerwin commented on #3271
--> M8
--> @JonFerraiolo

@JonFerraiolo I was incorrect in my statement about how pervasive the problem is. So far, I've found only 3 widgets that by themselves cause a horizontal scrollbar to appear and that lead to infinite horizontal scrolling:
- ContentPane (subject of initial report)
- GridX
- HTML frame

Of the 3, ContentPane is the worst because you can't see any portion of the resize bars

[2012-09-07 04:43] aerwin commented on #3285
Closing with above commit.

[2012-09-07 04:43] #3285 closed, assigned to aerwin

[2012-09-07 05:31] aerwin commented on #2939
@childsb I never heard from you on this issue today and noticed this was still open, so just thought I'd take a peek...

It looks like your commit that was an attempt at fixing this a few weeks ago directly modified  com.ibm.etools.webtools.dojo.core.prefs and org.eclipse.wst.validation.prefs within maqetta.server.orion, but I think there are a couple problems with that:
- Searching the workspace,

[2012-09-07 05:49] aerwin opened #3301 "New file dialog persists theme, but then doesn't show theme in subsequent opening of Theme chooser"
@JonFerraiolo @jhpedemonte @doronrosenberg

Just assigning directly to M8...

Using FF on Mac going to staging server...
1. Clone claro theme (and name something like "claro3")
2. Create new html file, but before clicking OK click the Theme... button and choose "claro3"
3. HTML file is properly created with "claro3" theme
4. Create another HTML file and it will use "claro3" as well (seems to persi

[2012-09-07 11:49] jhpedemonte opened #3302 "Params not passed in launch shell scripts"
At least for **maqetta.server.sh** (and probably others).
1. SMTP server and other arguments to the shell script aren't passed to the Java process.
2. Get rid of use of Orion config file, since params in that file aren't always passed correctly to Java process.

[2012-09-07 12:15] jhpedemonte opened #3303 "Dojo Web Builder failure"
Enabled Dojo Web Builder on our test machine when downloading the whole workspace.

First, after clicking **Download** button, the dialog disappeared and I didn't see any progress bar. The only UI I saw was Chrome's status bar, which said _"Waiting for app.moketta.org..."_.

After about a minute, I got a blank page saying _"504 Gateway Time-out"_.  In the Maqetta server log, I see this:

[code]

(

[2012-09-07 13:07] jhpedemonte opened #3304 "Comment out mail debug option from SmtpPop3Mailer"

[2012-09-07 13:31] jhpedemonte commented on #3298
I think we have some issues with the Files view code and how it reads files from the server.  I've noticed inconsistencies as well, but nothing reproducible.

[2012-09-07 13:36] jhpedemonte commented on #3294
-> M8

[2012-09-07 13:38] jhpedemonte commented on #3296
Just want to clarify: the Files/Review views move to the upper-**right**, not upper-left as mentioned in the summary.  If you see otherwise, @peller, then we have a bigger issue.

[2012-09-07 13:42] JonFerraiolo commented on #3299
Idealistically spekaing, I would say that this should be supported ultimately, but as a low-priority feature in the short-term.

However, I expect that because we didn't bulletproof M6 and earlier to prevent or discourage files outside of WebContent/, there will be a number of users who have files in the same place as @peller. Therefore, we should investigate what's broken and make an assessment o

[2012-09-07 13:55] JonFerraiolo commented on #2459
Is this the same issue as #2456?

[2012-09-07 13:58] JonFerraiolo commented on #3292
@painbank Thanks. Can you please copy/paste the source code for the file that cannot be parsed by Maqetta into this issue, using GitHub's triple-back-quote syntax, such as:

[code]

[2012-09-07 13:59] peller commented on #3296
I see upper-left. Upper-right has the properties, as it should.

[2012-09-07 14:00] peller commented on #3299
no problem.  just figured I'd test an edge case.  Note that this worked in M6 and continues to work in M7, it's just a migration issue.

[2012-09-07 14:06] painbank commented on #3292
I'll try.  Preview didn't show it working right... if not, pastebin will work

it only partially worked, so here is the link:

http://pastebin.com/YUJCwJve

and this is the entire page code.

[2012-09-07 14:13] billreed63 commented on #3265
done

[2012-09-07 14:13] #3265 closed, assigned to billreed63

[2012-09-07 14:24] billreed63 commented on #3297
in the desktop theme editor, the global widget only supports background-color and various font properties.
We have an issue already open to support this in the future #2907

[2012-09-07 14:24] #3297 closed, assigned to billreed63

[2012-09-07 14:34] peller commented on #3303
it's possible the request really takes so long that it times out, and that we need to come up with some sort of polling scheme so the proxy doesn't fail (or raise the timeout limit)

[2012-09-07 14:40] aerwin commented on #2459
One's in theme editor and one's in page editor, so I don't know.

[2012-09-07 14:44] billreed63 commented on #2459
This looks like the same issue as #2456. I can't reproduce it on FF but I can make the hover happen sometimes on chrome I have to move the mouse very slowly from below the text box to over the text box. Some times I get the hover state of the text box. If I stop moving the mouse as soon as I get the hover state it sticks, but if I move the mouse (still over the textbox) the hover state is removed.

[2012-09-07 14:44] billreed63 commented on #2456
I can't reproduce it on FF but I can make the hover happen sometimes on chrome I have to move the mouse very slowly from below the text box to over the text box. Some times I get the hover state of the text box. If I stop moving the mouse as soon as I get the hover state it sticks, but if I move the mouse (still over the textbox) the hover state is removed...

[2012-09-07 14:51] JonFerraiolo commented on #3292
@aerwin @billreed63

Ah, OK, I see the problem. I expect the special markup inside of the SCRIPT tag will work OK because Maqetta takes everything between the open SCRIPT tag and closed SCRIPT tag as an opaque blob of text without doing any other parsing on it. However, the Maqetta parser as it stands today will not be able to deal with the special markup that is wrapping the TR elements and provi

[2012-09-07 14:53] #3252 closed, assigned to peller

[2012-09-07 14:54] JonFerraiolo commented on #2459
Right. Definitely leave this issue open separately. After thinking about things some more, I expect there are different code paths for theme editor overlays than page editor overlays.

[2012-09-07 14:57] billreed63 opened #3305 "Tooltip and Dialog missing from palette"
When we remove the untested widget we removed tooltip and dialog.
Tooltip and Dialog are in the desktop theme editor
I think we should add back in the untested widget and change the title to "Maqetta Labs" or something like that...

[2012-09-07 14:59] JonFerraiolo commented on #3305
No, my strong opinion is let's leave things as is. For this release, it's OK if theme editor has widgets that aren't in page editor.

[2012-09-07 15:09] doronrosenberg commented on #3279
@peller:

[code]

[2012-09-07 15:14] aerwin commented on #2939
--> @aerwin Asked by @childsb to investigate.

[2012-09-07 15:18] aerwin commented on #3305
I think it's a shame we don't have dialogs anymore... but, as an fyi they are broken anyway (#2957).

[2012-09-07 15:33] billreed63 opened #3306 "Unable to update theme after switching theme"
1) Create a claro theme can change the button background image gradient
2)  Create a desktop html
3) DnD a button
4) Expand the cascade on the button background image
5) Switch the theme to your custom claro theme
6) Not that the background image has the rule for the button image from your custom css selected but a duplicate new rule above it.
7) Change the background image gradient  not that the

[2012-09-07 15:41] jhpedemonte opened #3307 "Opening review doesn't show Comments, doesn't auto-hide/auto-show left/right panes"
(M7 for investigation.)

Testing on **Firefox ESR 10.0.7**.
1. Close all editors.
2. Click on Reviews in left pane.
3. Open a review.

Should close _left pane_ and open _right pane_, which should show **Comments** at the top and **Scenes** at the bottom.

But the panes don't auto-show/auto-hide, and **Comments** view is missing.

No errors in JS console.  Works correctly in Chrome.

@JonFerraiolo

[2012-09-07 15:43] jhpedemonte commented on #3307
Works fine in latest Firefox (v15).

[2012-09-07 15:46] jhpedemonte opened #3308 "No focus UI for buttons in login page (Firefox)"
In the login page, press tab to move focus from the text areas to the buttons.  On Chrome, this shows a focus UI around the button.  No such thing on Firefox.

Unless quick fix, push to M8.

@doronrosenberg

[2012-09-07 15:50] jhpedemonte commented on #3306
@JonFerraiolo

How big of an issue is this, for M7?  How risky would a fix be?

[2012-09-07 15:51] jhpedemonte commented on #3307
@aerwin

This make R&C unusable on Firefox ESR, since the **Comments** view isn't shown.

[2012-09-07 15:52] aerwin commented on #3277
Closing... Retested at @peller 's request and appears to be working with the latest. Speculation is that it was potentially related to some of the menu stuff that was fixed yesterday.

[2012-09-07 15:52] #3277 closed, assigned to peller

[2012-09-07 15:55] aerwin commented on #3307
Any exceptions or anything? I don't think I'm going to have time to find a place to install Firefox ESR to evaluate until I deal with newly acquired (and more crititcal) #2939.

[2012-09-07 15:55] aerwin commented on #3307
Oh, nevermind... guess you gave it to @doronrosenberg . :)

[2012-09-07 15:59] JonFerraiolo commented on #3308
Pushing to M8. I noticed that Facebook's login screen has the same issue. A blue focus box shows on buttons in WebKit but I don't see anything on FF.

[2012-09-07 15:59] jhpedemonte commented on #3307
Nope, nothing in the JS console.

[2012-09-07 16:02] jhpedemonte opened #3309 "Migrated files point to incorrect 'maqetta' lib files"
Files from M6 have the following:

[code]

We could setup our migration script to change that to:

[code]

@JonFerraiolo @peller Is that correct?

[2012-09-07 16:08] JonFerraiolo commented on #3309
yes, I believe the proposed change is correct.

[2012-09-07 16:12] JonFerraiolo opened #3310 "Activation link login page logic problems"
@childsb @jhpedemonte

Using the staging server, I clicked register and the email came to my gmail account correctly (yeah!). When I click on the link though, 2 problems:

1) I just see a blank screen. The JS logic isn't exposing the login DIV.
2) In debugger, if I make the appropriate DIV visible, the JS logic doesn't successfully pull the URL parameter and stuff it into the userid field

[2012-09-07 16:16] jhpedemonte commented on #3310
Fixed by Brad's commit here: ce1ccfacb2faaa756dd29c6b57dcb7c3676bf11c

I'll post a new build when ready.

[2012-09-07 16:16] #3310 closed, assigned to JonFerraiolo

[2012-09-07 16:17] peller commented on #3309
filenames are right, but the maqetta directory didn't move, did it?  New modules are AMD and, I think, need to be in the big require()

[2012-09-07 16:18] peller commented on #3309
So didn't we decide it would just take a save cycle to fix this?  Is leaving the old script tags in place a problem? Maybe just remove them?

[2012-09-07 16:19] jhpedemonte commented on #3309
@peller is correct:  _spaces.js_ and _AppStates.js_ aren't loaded as `<script>` tags.  This is a file that I had saved in M7 after opening it, so it does have the correct files in the `require()` statement.

So do we have to do anything then?  I get 404 errors in the browser console for the old files, but things tend to work.

[2012-09-07 17:07] childsb commented on #3248
@peller so looking at the code, it looks like zazl is going through all the JS libraries and doing its compression algorithms.  can you explain this process more?  does it just blindly concatenate all the JS for every directory it knows about?  Is there no AMD module resolution going on to determine paths?

((from my understanding)) the dojo build will look at an HTML or JS file, grep out its AMD

[2012-09-07 17:16] peller commented on #3248
@childsb yes, it's doing AMD path resolution and walking the dependencies list recursively to build the result, just as the Dojo builder does, but on demand.  In order to do this, zazl inserts its loader (zazl.js) in place of dojo.js, which is Dojo's bootstrap + loader.  That's basically what MaqettaHTMLFilter does, when zazl=true.   You'll see that MaqettaHTMLFilter has to pass zazl a zazlConfig

[2012-09-07 17:17] peller commented on #3248
That code in Activator is just gathering the library list. Look at MaqettaHTMLFilter to see it actually assemble the page, and take a look at a view-source of the preview with zazl to see what it looks like.  If you preview a page with custom widget and zazl, you'll see the 'paths' list (like packages) and what it's missing.

[2012-09-07 17:20] rbackhouse commented on #3248
The library list appears to be static in nature loaded from the plugin extension list. If new libraries are created for custom widgets then the Zazl code needs to be able to prgrammatically resolves these and add to the paths configuration.

[2012-09-07 17:45] childsb commented on #3248
Ah, ok. So it sounds like for client side we used packages : [] in the boothstrap to specify the pathspace, but zazl isn't parsing that and needs a configuration object to do so.

[2012-09-07 17:48] JonFerraiolo commented on #3305
@jhpedemonte and @JonFerraiolo agree to push to M8

[2012-09-07 17:48] jhpedemonte commented on #3305
We had other things to focus on and never got around to dealing with the **overlay** widgets.  Closing this one as dupe of #2957.

[2012-09-07 17:48] #3305 closed, assigned to JonFerraiolo

[2012-09-07 17:55] rbackhouse commented on #3248
@childsb So I'm assuming there is nothing on the server-side where I could get this without having to parse the data-dojo-config attribute to obtain the packages ?

[2012-09-07 18:02] childsb commented on #3248
No.  For custom widgets, there's nothing server side.  There's a workbench configuration setting which specifies the path to the custom widgets, but there's nothing library related for them on the server.

[2012-09-07 18:03] rbackhouse commented on #3248
Ok, so then it sounds like the Zazl code will have to grab it from the data-dojo-config attribute.

[2012-09-07 18:10] jhpedemonte commented on #3299
-> @peller

[2012-09-07 18:26] jhpedemonte commented on #2459
-> M8

[2012-09-07 18:29] doronrosenberg commented on #3307
Out to m8

[2012-09-07 18:52] jhpedemonte commented on #3303
OK, removed the trailing slash from the URL, and now a ZIP did download.  But I got this error in the server log:

[code]

The file **workspace/project1/Sample2.html** does exist and it is in the downloaded zip.

[2012-09-07 19:19] jhpedemonte commented on #2070
If this isn't the case, we can fix this by pulling in all command line args matching `mail.*` and automatically add them to the Session properties.

[2012-09-07 19:20] jhpedemonte opened #3311 "SmtpPop3Mailer doesn't throw error if no server configured"
**SmtpPop3Mailer.java** should throw an error or otherwise complain somehow if the server hasn't been configured with an SMTP server.

[2012-09-07 19:25] JonFerraiolo opened #3312 "Need to put a try around JSON.parse calls in LoginWindow.js"
@childsb @jhpedemonte

If found a case where my old activation email link was no longer valid (probably due to the server restarting) and when I tried to enter my two passwords onto LoginWindow.html's activation pane and click "OK" (or whatever), I got an exception with JSON.parse(). The problem is that the server returned an HTML page rather than a JSON object with values "true" or "false". The f

[2012-09-07 19:29] jhpedemonte commented on #3309
Migrated files may also have duplicated `require()` statements, such as this:

[code]

I guess we could use some RegExp magic in order to consolidate `require` statements into one, but I don't know where to begin with that.

[2012-09-07 19:43] jhpedemonte opened #3313 "Zazl EofException"
Saw this in the Maqetta server log:

[code]

Unfortunately, that's all the info I have.  I don't know what caused this.

@peller

[2012-09-07 19:45] jhpedemonte commented on #3312
This has happened a few times, in other scenarios.  Don't recall the specific bugs.

Ideally, I think the server should return JSON in the failing case as well, and then we can properly handle that situation in the client code.

[2012-09-07 19:50] rbackhouse commented on #3313
Broken pipe exceptions are usually caused by writing to a client who has disconnected. I'm not sure there is much you can do about this. My guess is the page was probably still loading when it was closed.

[2012-09-07 19:51] peller commented on #3309
you could probably just remove the extra require() calls, but it may be safest to just ignore them

[2012-09-07 20:01] JonFerraiolo commented on #2459
@peller

OK, I studied this issue some.

We had the same problem with M6 (and probably forever)

What's going on is that Dijit is listening to the mouseover event and immediately adding a dijitHover class to the root node, and this is happening before Maqetta can intercept the mouseover event and an appropriate editFeedback rectangle over the widget. This seems wrong. Hover processing should only

[2012-09-07 20:23] doronrosenberg opened #3314 "dojox.mobile.Heading - unsetting Busy attribute throws exception, heading disappears"
dojox.mobile.Heading - set it to busy, then unset the checkbox in the prop palette - exception and the Heading disappears.

[2012-09-07 20:23] doronrosenberg commented on #3314
@JonFerraiolo @jhpedemonte not sure if this is considered important enough for m7

[2012-09-07 20:35] JonFerraiolo commented on #3314
For M7, I suggest commenting out that property from the OAM.js file.

[2012-09-07 21:01] jhpedemonte commented on #3313
OK, thanks.  Closing.

[2012-09-07 21:01] #3313 closed, assigned to rbackhouse

[2012-09-07 21:06] JonFerraiolo commented on #3306
I don't think very many people will hit this bug, and very high risk.

@billreed63 once you are done studying this, unless there are other factors that come up, feel free to push to M8

[2012-09-07 21:11] jhpedemonte commented on #3314
Agreed with Jon's suggestion.

[2012-09-07 21:22] JonFerraiolo commented on #3306
Pushing to M8.

Investigated some more. Got an exception with these steps:
- Clone claro
- New Desktop App
- Add a Button
- Open up Background props
- Change theme to the clone
- Click on ... button next to background-image
- Choose linear-radient, click OK in background dialog

Stack trace:

[code]

@billreed63 has investigated further, and the bug definitely is that setContent() isn't getting ca

[2012-09-07 21:41] childsb commented on #3284
closed per checkin

[2012-09-07 21:44] aerwin commented on #2939
Closing with above commit.

[2012-09-07 21:44] #2939 closed, assigned to aerwin

[2012-09-07 22:15] aerwin opened #3315 "Rename project seems to create new project rather than rename"
Probably for M8, but opening against M7 for evaluation...

Using Chrome on Mac going to staging server...
1. Go to files palette
2. Rename current project
3. After rename operation is complete, notice the old project is still listed in the list of projects (e.g., you'll see project with old name and project with new name). And, this old project seems to be selectable.

[2012-09-07 22:16] jhpedemonte commented on #3315
@childsb @JonFerraiolo

What do you see in Orion Navigator?

[2012-09-07 22:19] doronrosenberg commented on #3314
@JonFerraiolo we have busy on other mobile widgets and turns out they exhibit the same issue.  I'll disable them and check it in

[2012-09-07 22:20] aerwin commented on #3315
That's interesting... _fancyProject_ was the project I renamed to _fancyProject2_... in the navigator, I see two folders, but the one for _fancyProject2_ is empty:

![GitHub Logo](http://i.imgur.com/6az3m.png)

[2012-09-07 22:26] jhpedemonte commented on #3315
To @childsb to investigate.

[2012-09-07 22:35] JonFerraiolo opened #3316 "File selection in Orion navigator should enable Open in Maqetta command, too"
@jhpedemonte

I think it's a big usability problem that a user can't select a file (e.g., file1.html) in the Orion navigator and then say "Open in Maqetta". No one is going to figure out that they have to select the project folder before they can switch to Maqetta.

Ideally, "Open in Maqetta" on a file would open Maqetta, open the file's project, and then open up the file in a Maqetta editor. This

[2012-09-07 23:42] JonFerraiolo commented on #3279
Over the past several months, I've run into multiple exceptions in dojo.style where cs is undefined or null at document startup time. It's not that Dojo isn't ready or the doc isn't loaded - the problem is that the browsers for performance optimization reasons don't calculate computed style immediately always, and sometimes calculates computed style in a separate logic thread.

There is logic in a

[2012-09-08 00:19] aerwin opened #3317 "Eclipse projects: Project name changes not reflected in .project flle"
Found this while working on #2939 for Orion, but I don't think this is a new issue. So, just opening for M8...

Basically, if you have an Eclipse project, if you change the name of your project in Maqetta, the _.project_ file generated for Eclipse/RAD is not updated with the new project name. However, paths and names in the settings files in the _.settings_ folder are updated correctly.

This mism

[2012-09-08 01:44] peller commented on #3279
this stuff is registered at onload, which I thought was a pretty safe bet for calling getComputedStyle.  @wkeese, any idea?  Actually, it's currently using dojo/ready, and is called prior to the parser

[2012-09-08 01:56] billreed63 commented on #3306
related to #3167

[2012-09-08 10:23] wkeese commented on #3279
It sounds safe to me too.  Never seen what Jon is talking about.

Maybe fallout from trying to use dojo/domReady! In sync mode?  I forget if
you are using the sync or asynchronous loader.

Or maybe at that point win.doc is pointing to a different doc that isn't
loaded, the Iframe doc of a dijit.Editor.

On Friday, September 7, 2012, Adam Peller wrote:

[2012-09-08 12:05] rbackhouse commented on #3248
In trying this out I see that the the custom widgets appear to be always placed in a path of "lib/custom"using "widgets" as the name. Assuming this is true the Zazl fix is to simply add this to its paths configuration ensuring that the current path is taken into consideration (it already does this for the other libraries)

[2012-09-08 14:10] peller commented on #3248
that would probably work.  right now, the packages list is static.  we need to work to make it more extensible and reflect only what's on the page (#2516)

[2012-09-08 14:13] jhpedemonte commented on #3248
I'm not sure if we can always assume that path and name.  @childsb ?

[2012-09-08 14:57] JonFerraiolo commented on #3279
I expect the difference with the Maqetta page editor is that widgets are constructed dynamically, not using Dojo's normal onload parsing. In particular, at Context.js:1160 we have this logic:

[code]

so parseOnLoad is turned off. Then we register a domReady callback in newfile.template.html:

[code]

Within that `top.loading{id})` function, we do a ton of processing, with a few different async th

[2012-09-08 15:35] billreed63 commented on #3306
We do a setContent in ChangeThemeCommand the Editor setContent gets called... the textModel exists so we create another dojo.connection to the onChange of the model... when the model changes onChange is called when that fires onChanged (which if you follow it around does a setContent)   So everytime we do a setContent we add a onChange handler.. so the number of calls to onChange grows with each s

[2012-09-08 16:02] JonFerraiolo opened #3318 "Preview is corrupted, console error messages with this file (BorderContainer, shapes, grid)"
Preview is corrupted and there are console error messages with this file:

[code]

Removing the shapes from the left-side panel seems to make everything work ok. I tried to create a simpler version of the file that just had the BorderContainer and the shapes, and no problems.

Requires more time to figure out what's wrong.

[2012-09-08 16:24] JonFerraiolo opened #3319 "Review StatesView.js to make sure right conditionals for review editor"
I noticed a bug just before M7 where in review editor we were attempting to update page editor selection. Need to carefully review the code to see if there are other similar problems.

[2012-09-08 16:29] #3318 closed, assigned to JonFerraiolo

[2012-09-08 16:42] JonFerraiolo commented on #3270
Closing. Styling looks fine now on staging server.

[2012-09-08 16:42] #3270 closed, assigned to JonFerraiolo

[2012-09-08 17:09] JonFerraiolo opened #3320 "Maqetta hangs if you put this file into root project folder"
@jhpedemonte @doronrosenberg @aerwin @childsb @billreed63

Setting to M7 Prio-High so people will investigate, but if the fix is too risky, then I would push to next release (M8 or M7 dot release if we have one).

When I plunked this file into the root folder of my Maqetta project, Maqetta hung on browser refresh. The problem is that the file was originally in a subfolder and I placed it into my r

[2012-09-08 17:28] JonFerraiolo opened #3321 "Page editor should post warning for FF about unsupported browser"
@peller

We have a message about mobile theme editor for Firefox, but we don't have one for the page editor. Some visual artifacts look wrong in the page editor, too.

[2012-09-08 21:26] jhpedemonte opened #3322 ""review" empty folder appears in my workspace"
I've seen this everytime we've tested with migrated workspaces:  eventually, a blank folder named "review" will appear in my workspace.

It'll appear in the list of projects from within Maqetta.  Switch over to Orion and see that it is empty.

With latest code, I can switch to it in Maqetta, at which point it gets filled in with the bare Maqetta files.

Unfortunately, I don't have a recreate scena

[2012-09-08 21:41] peller commented on #3320
not seeing it hang... I see the widgets w/o styling. All you did was reload the page to make it hang? can you reproduce this on moketta?

[2012-09-08 22:31] aerwin opened #3323 "File missing from downloaded workspace"
@JonFerraiolo @jhpedemonte

Using Chrome on Mac going to external staging server...

I have a project with file3.html:

![GitHub Logo](http://i.imgur.com/drYN1.png)

When I download the work space and unzip it, file3.html is not there:

![GitHub Logo](http://i.imgur.com/g7h3K.png)

I don't know what would be special about this project except I think it's migrated.

[2012-09-08 22:35] jhpedemonte commented on #3323
Saw this error in server log:

[code]

Preceded by 2 similar errors for `/maqetta/project1/file3.html.workingcopy`.

-> @childsb to investigate

[2012-09-08 23:03] aerwin commented on #3266
Closing with above commit.

[2012-09-08 23:03] #3266 closed, assigned to aerwin

[2012-09-08 23:04] aerwin opened #3324 "Update docs on Dojo Web Builder"
--> @peller

Spin-off of #3266...

In commit 4ced05c104ea0be783144521866fc4e8fd5d68db , I updated some of the documentation on exporting from Maqetta. In the _Download dialog options_ section, I added a bullet for _Use Dojo Web Builder (experimental)_.  I think this could use a couple sentences explaining what this actually does. @peller , is this something you could fill in?

[2012-09-08 23:18] aerwin opened #3325 "Add back "Exporting projects to IBM Rational Application Developer (TM) 8.5 without including the Dojo toolkit" section to docs"
--> @aerwin , for M8

@JonFerraiolo

I had updated the "Exporting projects to IBM Rational Application Developer (TM) 8.5 without including the Dojo toolkit" section in the Maqetta docs on exporting from Maqetta in commit 4ced05c104ea0be783144521866fc4e8fd5d68db for #3266.

However, I then decided the section should really not even exist for M7 because RAD 8.5 is still on Dojo 1.7. Since Maqetta i

[2012-09-08 23:26] aerwin opened #3326 "Download Workspace: Changing paths in dialog doesn't change downloaded samples"
@JonFerraiolo @jhpedemonte @childsb

Opening as Prio High for evaluation/comment, but guessing an M8 issue... or perhaps even just "working as designed" given new read-only nature of sample files...

For #3266, I was asked to review/update the docs for exporting to developer tools...  the instructions imply that changing the lib paths in the Download Workspace dialog causes updates to the sample H

[2012-09-08 23:31] jhpedemonte commented on #3326
Unfortunate that the samples aren't likewise updated, but given that user generated files are properly updated, we can handle this in M8.  But we should definitely come up with a working solution.

For M7, this may require documentation updates, to mention a user created file rather than Sample1.html.  Are you handling the docs for this, @aerwin?

[2012-09-08 23:32] aerwin commented on #2913
-> Updated title to reflect this is a blog entry update now

This is just to track need to update existing blog entry at https://www.ibm.com/developerworks/mydeveloperworks/blogs/MaqettaAuthoring/entry/maqetta_integration_with_rad_8_53?lang=en . RAD-related docs within Maqetta repo were updated for #3266.

[2012-09-08 23:36] aerwin commented on #3326
As alluded to when I opened the issue I deleted the section containing the bullets I saw (for other reasons described in a different issue).

@JonFerraiolo ... do you have a sense if we have references to samples getting updated in any other parts of the docs?

[2012-09-09 00:15] wkeese commented on #3279
Wow, complicated.   Not sure why that would cause a problem though.

Two other things to check are that, at the time that code runs, <body>
isn't display:none and it's well formed HTML (ex: no missing closing tags).

[2012-09-09 00:29] childsb commented on #3323
I've seen some similar funk around having .workingcopy files hanging around without the original.  does file3.html exist on the server?  or could it just be the working copy?

[2012-09-09 00:32] childsb commented on #3248
It's based on a users preference-- they could in theory change the custom widgets folder.

[2012-09-09 02:11] jhpedemonte commented on #2841
-> M7

I decided to look at this again, considering that each build totals about 1.3G when adding up all the different OS versions and hosted vs. non-.  Considering that we don't have anything OS specific (and I don't think Orion does either) this is excessive.

So I downloaded the Linux 32-bit build onto my Mac.  Started it with the `maqetta.server.mac.command` file and it worked.  As expected.

[2012-09-09 02:13] JonFerraiolo commented on #3326
I don't remember anything about the samples in the docs. I went through the docs a few days ago, but I might have forgotten something.

I'm not sure what to do about this for M8. One solution to this particular problems would be to make the samples into read/write files again rather than read-only. @childsb feel free to hunt me down.

[2012-09-09 02:33] aerwin commented on #3323
I had created a new project and just re-opened the one with the problem. And, file3.html is not there at all now. Given that there was no dirty bit on file3.html (see screenshot in my initial report) and I had changed and saved it (so I thought), then this all of the sudden becomes worse than just missing from a downloaded zip file. But, I'm not sure there's any way to reproduce now.

[2012-09-09 02:37] aerwin commented on #3323
And, fyi, I just successfully created a new file, saved it, and see it's included in my download.

[2012-09-09 06:01] jhpedemonte opened #3327 ""hosted" builds still have "test" dirs, etc"
Noticed that the "hosted" builds are noticeably bigger, by roughly 10MB.  I noticed that **dojo-src** still had its **test** directories.

So whatever build fix you added to remove those, it doesn't seem to be working for the "hosted" builds.

@childsb

[2012-09-09 07:03] doronrosenberg opened #3328 "Cut/Paste of a TabContainer that has a child Tree throws exception"
@JonFerraiolo @jhpedemonte @aerwin @childsb (I forget who worked on Tree)
- dnd a TabContainer
- dnd a Tree into the first tab
- Cut the TabContainer
- Paste it

[code]

[2012-09-09 07:03] doronrosenberg commented on #3328
I'll take a gander tomorrow

[2012-09-09 07:04] doronrosenberg commented on #3328
My guess is this is datastore related - when I first ran into the issue messing around I reloaded and it loaded a page without a store, but that was after some undo/redoing after the exception

[2012-09-09 12:35] peller commented on #3327
@childs can you point me at what might differ in the build scripts for 'hosted'?  Removing the dojo-src files is part of the build script for the widgetPlugins now.  Does that script still run?

[2012-09-09 12:37] peller commented on #3327
see #3009

[2012-09-09 14:40] jhpedemonte commented on #2841
Created a script.  Seems to be working well for me so far.

@childsb @peller Please review (see above commit).

[2012-09-09 17:57] doronrosenberg commented on #3328
@jhpedemonte Are we creating the Tree before its container has been created perhaps?  The Tree and Model have different parents when TreeHelper::create is called during the paste, even though they were copied with the same parent?

Looks like TreeHelper is moving the model/store and then someone else is creating them as well, so we end up with 2 models and 2 stores.  Easier way to reproduce is hav

[2012-09-09 18:11] aerwin commented on #3328
@doronrosenberg I don't know the reparent code real well, but why is there a create in TreeHelper? With cut/copy/paste, TreeCreateTool would be invoked. So, if both are being invoked it would seem to explain some of the behavior you describe.

[2012-09-09 18:36] doronrosenberg commented on #3328
@aerwin @JonFerraiolo @jhpedemonte

Interestingly enough, dnd is not calling reparentcommand - its doing a add and then a remove command (which seems wrong, shouldn't that be a remove first?).  Seems that is the reason why TreeHelper::create has to call its reparent() method each time, to handle that dnd case.  Which then breaks paste.

Is there a reason why we can't simply use reparent command wh

[2012-09-09 18:46] doronrosenberg commented on #3328
Looks like the code is all `SelectTool::onExtentChange`.  Looks like its generic code to deal with selection moving/copying.  It would seem possible to handle non-copies as reparents, but might be a bit late in the game for such a change perhaps.  I'll try to create a patch and see how dangerous it will be.

[2012-09-09 18:50] JonFerraiolo opened #3329 "Often mobile themes aren't loading"
Fairly regularly, when I open a mobile app in the page editor, the themes aren't loading properly. On Windows/Chrome, I'm pretty sure I've seen this on other browsers, too. I can't see to get the themes to show in the page editor (preview is ok). Here is a snapshot that shows what I'm seeing:

![Mobile themes not loading](http://i.imgur.com/ToMbp.png)

Using build 57d4840af5aa599... on the staging

[2012-09-09 19:14] JonFerraiolo opened #3330 "Table - wrong default height? (100%)"
I added a 1x2 table inside of a ContentPane as its first child, and it defaulted to width=100% and height=100%. When I add a table as a child of BODY, the height does not have a value of 100%, (And doesn't happen if TABLE is not first child of ContentPane)

I think we are trying too hard to outguess the user. I think we should remove the logic that sets height to 100% when TABLE is a child of Cont

[2012-09-09 19:29] doronrosenberg commented on #3328
Here is a diff of my patch, seems to fix the issue: http://pastebin.com/YfMqKz5Z

[2012-09-09 19:29] JonFerraiolo opened #3331 "Should remove nbsp on table cells upon adding some content"
We are adding nbsp entities to empty table cells. We should remove those entities upon adding a widget to a cell. Otherwise, every table cell created with Maqetta will have an extra space at the front of the cell.

Of course, much easier said than done!

[2012-09-09 19:39] billreed63 commented on #3329
This is the timing issue we have had with onload since @peller turned on async. O have moved around the code tring to find a spot the works best but have had no luck.. @peller was nver able to reproduce this issue..

[2012-09-09 20:17] aerwin commented on #3330
--> back to M7... can be fixed by very safe, easy fix to widgets.json

[2012-09-09 20:21] aerwin commented on #3330
Closing with above commit.

[2012-09-09 20:21] #3330 closed, assigned to aerwin

[2012-09-09 20:52] aerwin opened #3332 "Can't delete project"
@childsb @JonFerraiolo @jhpedemonte

Using Chrome on Mac going to staging server...

If you try to delete a project from the files palette, on first glance it works. However, if you look at your list of projects it's still there and you can still switch to it. In addition, I see the project in Orion Navigiator.

[2012-09-09 21:06] #3296 closed, assigned to JonFerraiolo

[2012-09-09 21:26] billreed63 commented on #3329
I can comment the code out of context.js so that deviceTheme.loadDeviceTheme only gets called when the object is created by the requires.  I still see that the css files are added to the head but the style is not applied to the page. If I try to use the debugger the style gets applied.

[2012-09-09 21:43] jhpedemonte commented on #3328
Yes, that's a pretty big change this late in the game, given that it'll affect every widget.  The stuff in **SelectTool** is particularly finicky at times.

We'll commit this quickly at start of M8, giving us enough time to test.  @JonFerraiolo

[2012-09-09 21:43] billreed63 commented on #3329
This also seems to happen more often when the page is open and the browser is refreshed.. If you close the file and reopen inside maqetta the style is applied in most cases..

[2012-09-09 21:45] jhpedemonte commented on #3332
Hmm, I think this was working recently, probably within last week.

[2012-09-09 21:46] jhpedemonte commented on #3329
@peller, please help investigate.

[2012-09-09 22:01] jhpedemonte commented on #3256
Another commit here: bc8ee114938d815337c8f2a69c994a4016a28c29

Closing this, all known issues fixed.

[2012-09-09 22:01] #3256 closed, assigned to jhpedemonte

[2012-09-09 22:02] jhpedemonte commented on #3309
-> fixed

[2012-09-09 22:02] #3309 closed, assigned to jhpedemonte

[2012-09-09 22:02] jhpedemonte commented on #3304
-> fixed

[2012-09-09 22:02] #3304 closed, assigned to jhpedemonte

[2012-09-09 22:36] jhpedemonte commented on #3200
-> fixed.

[2012-09-09 22:36] #3200 closed, assigned to jhpedemonte

[2012-09-09 22:37] jhpedemonte commented on #3140
Using the scripts from #2841 and it's working well.  One build from last night posted.  Closing this;  further discussion can happen in #2841.

[2012-09-09 22:37] #3140 closed, assigned to jhpedemonte

[2012-09-10 01:03] jhpedemonte commented on #2838
Once this is fixed, we can stop using "maqetta.baseDirectory" property to the Java process, only relying on Orions "-data" prop.  So we'll need to remove references to the former.

[2012-09-10 01:21] jhpedemonte commented on #2114
With removal of odd port number in the link, and posting correct "from" address, we haven't seen any more instances of the registration or review/commenting emails going to spam.

Closing this one as fixed.  If we come across any more issues, open a new bug.

[2012-09-10 01:21] #2114 closed, assigned to jhpedemonte

[2012-09-10 01:52] jhpedemonte opened #3333 "Reset Password doesn't check if user already exists"
I reset the password and got an email with a reset link.  Clicked on link, entered my new password twice.

Clicked on **Sign Up** button but nothing happened.  There was **no alert** shown to user that a problem had occured.

In the browser console, I had this error:

[code]

The server log showed this:

[code]

@JonFerraiolo

[2012-09-10 01:55] jhpedemonte commented on #3333
OK, logged in as "admin" and found that there was no user name with the email address I had given.  But I still was sent an email message.

The reset password code should check if the user exists.  If not, it should immediately alert "User <email> not found." (see orionhub.org implementation).

[2012-09-10 02:07] jhpedemonte opened #3334 "Hitting "Enter" after Smart Input appears clears out default content"
Drop a Button on the page.  Smart Input appears.  Without making any changes, simply hit "Enter", to accept the default value.

Instead, the default value is cleared (it was selected, so hitting "Enter" replaces the content with a new line), and then the smart input closes.

---

I think it is good that the content is **selected automatically**, so that the user can immediately start typing and re

[2012-09-10 02:11] jhpedemonte opened #3335 ""Enter" doesn't dismiss Create New State dialog"
Hopefully a quick, easy fix:

Add a state in the Scenes view, hitting "Enter".  The state is created but the dialog stays around.

"Enter" should also dismiss the dialog.

@JonFerraiolo

[2012-09-10 02:12] JonFerraiolo commented on #3334
I think we should fix this for M7, but I'd like to see what the code change would be before putting this fix into M7.

[2012-09-10 02:31] jhpedemonte opened #3336 "Exception when adding View to mobile page"
Tested on Firefox:
1. Refresh Maqetta page.
2. Create a mobile page, iPhone device.
3. Drop a Dojox Mobile View into device.

Get error `this.rootNode is null` in **dijit/Tree.js**.  Stack is all Dojo.

@JonFerraiolo

[2012-09-10 02:36] jhpedemonte opened #3337 ""OK" button doesn't work in smart input for Data-bound mobile widgets"
Clicking on smart input's **OK** button does nothing for data-bound mobile widgets (RoundRectDataList, EdgeToEdgeDataList, DataCarousel).

Tested on Firefox.

@JonFerraiolo

[2012-09-10 02:53] jhpedemonte commented on #3326
-> M8

[2012-09-10 03:07] JonFerraiolo commented on #3334
M6 has the same problem. Amazing we didn't notice and no one complained.

[2012-09-10 03:34] #3324 closed, assigned to peller

[2012-09-10 03:35] jhpedemonte commented on #3190
I don't see this any more, after brad and Jon's latest changes.  Closing.

[2012-09-10 03:35] #3190 closed, assigned to childsb

[2012-09-10 03:39] #3337 closed, assigned to doronrosenberg

[2012-09-10 03:42] JonFerraiolo commented on #3334
I pushed a fix into branch 3334SmartInputEnter. Commit c6b66cc267e1577fea2526d364f2778639f9ba6b. Although the fix looks simple, I think it's too risky for M7.

[2012-09-10 04:08] doronrosenberg commented on #3336
Tree in question is StatesView, and the exception happens in Tree:resize.  Seems timing related, also happens in desktop page.

[2012-09-10 04:33] doronrosenberg commented on #3336
Hmm, I think this is because we are destroying the the tree on each update.  Still investigating

[2012-09-10 04:59] doronrosenberg commented on #3336
_hideShowToolBar() is the culprit doing the resize.

[2012-09-10 05:22] #3335 closed, assigned to doronrosenberg

[2012-09-10 06:11] aerwin commented on #2913
Updated. Closing.

[2012-09-10 06:11] #2913 closed, assigned to aerwin

[2012-09-10 12:17] peller commented on #3323
see #1721

[2012-09-10 12:35] peller commented on #3299
seems to work now.  one of the later migration scripts must have resolved this problem.

[2012-09-10 12:35] #3299 closed, assigned to peller

[2012-09-10 12:58] peller commented on #3193
-> M8 prio med

So should Zazl be able to search according to the packages config, which associates namespaces with the paths? This is not going to make any significant difference in performance.  While it's unlikely, I suppose there could be some ambiguity if we don't search the correct path?

[2012-09-10 12:59] peller commented on #2841
Is there an issue to look at why Orion has all these GUI libraries when it should be headless?  Should we open an issue for the Orion team?

[2012-09-10 13:02] jhpedemonte commented on #2841
I think so, yes.  Not sure why Orion needs both GUI and platform specific components.

[2012-09-10 14:42] JonFerraiolo commented on #3336
I think we can remove the `d.resize();` line in _hide_showToolBar(). It was overkill programming - telling the "palette widget" to resize itself (probably triggering a Tree resize in the process) even though the only thing that is happening is that the DIV for the toolbar is becoming visible or invisible.

[2012-09-10 14:46] JonFerraiolo opened #3338 "If Maq hangs on a file, no way to resetWorkbench"
@jhpedemonte @peller

Making it an M7 issue for discussion.

I got myself into a case where Maqetta was hanging on me with a particular file open. Other users have had this situation in the past. It doesn't happen often, but when it does happen, a user can't use the product.

@childsb invented `?resetWorkbenchState=1` to provide a workaround. However, with our new Orion-based login screens, if a u

[2012-09-10 14:56] JonFerraiolo opened #3339 "ContentPanes can't be resized interactively in some selection scenarios"
@billreed63 @aerwin

I think we've had this problem for a long-time, but I just noticed it.

If you add a BorderContainer with a left region, and then click on the left-side ContentPane, the selection chrome obscures the splitter. Combined with this, for ContentPane's within BorderContainers, we disable resizing on the ContentPane (i.e., nobs don't show). As a result, the user has no way to intera

[2012-09-10 14:57] childsb commented on #3338
the workaround is to log in, and after the browser freezers stop the page and reload with the ?resetWorkbenchState=1 in the URL.

[2012-09-10 15:06] doronrosenberg commented on #3336
@jhpedemonte the other resize in StatesView also causes the issue:

[code]

Any chance you remember what you were trying to fix? I disabled it and don't run into any issues

[2012-09-10 15:08] doronrosenberg commented on #3336
Or not - I see issues if we don't resize the parent, hmm.

[2012-09-10 15:17] doronrosenberg commented on #3336
So a fix that works is remove the d.resize() but put a setTimeout(func, 0) on the other resize call.

[2012-09-10 15:19] jhpedemonte commented on #2841
-> M8

[2012-09-10 15:28] jhpedemonte commented on #3234
Closing.

[2012-09-10 15:28] #3234 closed, assigned to jhpedemonte

[2012-09-10 15:30] jhpedemonte commented on #3334
-> M8

[2012-09-10 15:31] #3336 closed, assigned to doronrosenberg

[2012-09-10 15:32] doronrosenberg opened #3340 "StatesView - make the states Tree update dynamicallty rather than rebuild"
Spun off #3336 - states Tree should become dynamic like Outline view became.  We were running into timing issues where we resized before the tree finished building.

[2012-09-10 16:04] JonFerraiolo commented on #3338
Reopened so we remember to test.

[2012-09-10 16:39] JonFerraiolo opened #3341 "Nightly build doesn't launch"
I downloaded last night's nightly standalone build and tried to double-click on the maqetta.server.mac.command launch script. A Terminal window opened with this message:

[code]

[2012-09-10 16:46] JonFerraiolo commented on #3341
Also, need to switch the port back to 50000 (vs Orion default of 8080). 8080 will conflict with various other software out there, and the docs tell the user that we use port 50000 when running locally.

@doronrosenberg

[2012-09-10 17:00] jhpedemonte opened #3342 "Bad file creates empty directories in top-level of workspace"
1. Create a new file.
2. Switch to source and paste in the file text from #3320.
3. Switch to Orion Navigator.  Notice that there are now empty **lib** and **themes** dirs, as well as **app.css** in the top-level.

We should only create files within the **project** and protect paths going outside of it (returning 403 errors).

In M7 to investigate.

@JonFerraiolo

[2012-09-10 17:03] aerwin opened #3343 "Phantom selection chrome"
@JonFerraiolo @jhpedemonte

Using Chrome on Mac going to staging server... seems somewhat intermittent, but I think the scenario below is fairly reliable...
1. New HTML file
2. Add GridX to new file
3. Create another new HTML file
4. Close new HTML file without saving
5. Close first HTML file without saving
6. See flicker of selection chrome on welcome page
7. Create new HTML file and see selectio

[2012-09-10 17:08] jhpedemonte commented on #3320
At one point, I was able to get Chrome to hang and to bring down the server (twice).  I think it had to do with empty directories in the top-leve (#3342).  But I can no longer recreate the hang.

Now, I just get 404s for the resources with invalid URLs.

[2012-09-10 17:09] aerwin opened #3344 "Uncaught TypeError: Cannot call method 'getComputedStyle' of null"
@JonFerraiolo @jhpedemonte

Possibly related to #3343, but happens independently (e.g. browser reloaded to clear out any residual errors)...

Using Chrome on Mac going to staging server... seems somewhat intermittent, but I think the scenario below is fairly reliable...
1. New HTML file
2. Add GridX
3. Save HTML File, but leave open
4. New HTML file
5. Add GridX
6. Save HTML file
7. Close both edi

[2012-09-10 17:20] jhpedemonte commented on #3341
Fixed with above commit.

[2012-09-10 17:29] JonFerraiolo commented on #3341
Reopening so we don't forget to test.

[2012-09-10 17:40] JonFerraiolo commented on #3343
@doronrosenberg @billreed63 @peller @childsb @jhpedemonte - if anyone is seeing phantom selection chrome on occasion in situations where there are no gridx widgets, please add a note to this issue. Thanks.

[2012-09-10 17:43] peller commented on #3320
I have seen situations where the server stops responding, for whatever reason (high load / bad state) and synch xhr requests from the client DO freeze up the UI until they timeout.  Not much we can do about that besides continue to remove synch xhrs.

[2012-09-10 18:02] aerwin opened #3345 "Outline tree exceptions dropping GridX onto page"
@doronrosenberg @JonFerraiolo @jhpedemonte

Trying to replicate issues I found in the staging server that @JonFerraiolo couldn't replicate, I did a git pull and tried my local Eclipse and found a completely different problem... I think @JonFerraiolo does see this one from time to time as well...

Using Chrome on Mac going to local Eclipse:
1. New HTML file
2. Drop GridX on page and click Finish
3.

[2012-09-10 18:06] aerwin commented on #3343
@JonFerraiolo can't replicate this one... I tried from my local Eclipse launch script as well and don't see it there either... so I guess just a weird timing issue going to server that for moment just I am seeing...

[2012-09-10 18:08] aerwin commented on #3344
I can also replicate this one with the timing of going to my local server running from Eclipse launch script... but locally, I also see #3345.

[2012-09-10 18:16] JonFerraiolo commented on #3343
As part of my playing around with gridx scenarios, I did see the phantom selection chrome one time. it was after the messages to the console reported in #3345. I suspect that the exception is preventing the logic from completing that normally gets rid of the old selection chrome.

I looked into whether there is an easy fix to make sure that when you switch editors, any old selection chrome gets re

[2012-09-10 18:38] doronrosenberg commented on #3345
@peller @jhpedemonte @JonFerraiolo @aerwin Seems suspiciously like that other bug we had with computed style and 2 editors open.

In this case, you can simplify the testcase.  Open a new blank page, then open a 2nd new page and dnd a GridX, same exception.

[2012-09-10 19:21] jhpedemonte commented on #3262
Fixed by commit 2bed0431788c16ead19f0c7ebb52f0959dfab6b4.

Just tested and it is working well for me.

[2012-09-10 19:21] #3262 closed, assigned to childsb

[2012-09-10 19:45] billreed63 opened #3346 "Mobile pages not displayed on browser refresh FF"
If I have two mobile pages open in tab editors
in tab 1 is file1.html and in tab 2 is file2.html  with tab 2 selected refresh FF browser
After browser refresh select tab one

I see a blank screen in tab 1 with just the background color set.

[2012-09-10 19:47] aerwin commented on #3254
--> Reopening

I got the GridX (basic) test case to run today and was able to replicate using Chrome on Mac going to staging server...

The key is the save/reopen between the first GridX and the 2nd GridX...
1. New HTML file
2. GridX with JSONP pointing at ttp://maqettaservice.appspot.com/sampleservice
3. Save, close, reopen*\* NOTE: Key step... if skip, problem doesn't occur.
4. Reopen file
5. Dr

[2012-09-10 19:48] billreed63 commented on #3346
file1.html

[code]

file2.html

[code]

[2012-09-10 19:48] aerwin commented on #3254
Exception from red screen of death:

[code]

[2012-09-10 20:22] JonFerraiolo opened #3347 "Can't drop EdgeToEdgeDataList onto second view in this file"
Just noticed this on the staging server. With the following file open, I switched to the second scrollable view, and attempted to drop an EdgeToEdgeDatalist widget onto the blank part of canvas under the DIVs and above the fixed TabBar.

[code]

[2012-09-10 20:35] doronrosenberg commented on #3347
Was there an exception?

[2012-09-10 20:40] JonFerraiolo commented on #3347
=> M8 Too risky to fix at this point.

I figured out what is going on. The problem is that the widget hierarchy and the DOM hierarchy are not parallel, but the code expects the two hierarchies to be the same. You see, with ScrollableView, when there is a widget that is fixed to top or bottom, ScrollableView alters the DOM tree so that the header and/or footer widgets are outside all of the other w

[2012-09-10 20:49] JonFerraiolo commented on #3346
I've seen this problem intermittently for months, but @billreed63 has a reproducible scenario.

[2012-09-10 20:56] JonFerraiolo commented on #3338
Works on staging server. Closing.

[2012-09-10 20:59] JonFerraiolo commented on #3338
Reopening. Still need to verify the other staging server, which isn't running latest code yet.

[2012-09-10 21:03] childsb commented on #3333
Fixed with commit bb13147f68ff2df80169a97e106d68d0fc7baa34

[2012-09-10 21:03] #3333 closed, assigned to childsb

[2012-09-10 21:04] childsb commented on #3332
closing per commit

[2012-09-10 21:04] #3332 closed, assigned to childsb

[2012-09-10 21:04] childsb commented on #3315
closing per commit

[2012-09-10 21:04] #3315 closed, assigned to childsb

[2012-09-10 21:16] aerwin commented on #3254
@doronrosenberg @jhpedemonte @JonFerraiolo @billreed63

Lots of stuff below, but in the end I don't have a real warm fuzzy about resolving this in the _very_ short window left for M7... and I also have some suspicions we're running into some side effects of #2910 which won't be resolved until Dojo 1.8.1... thoughts appreciated...

---

I don't really know the reparent code, but thought I'd at leas

[2012-09-10 21:16] jhpedemonte commented on #3341
Much better now.  Closing.

[2012-09-10 21:16] #3341 closed, assigned to jhpedemonte

[2012-09-10 21:18] aerwin commented on #3254
forgot to actually reopen... :)

[2012-09-10 21:21] jhpedemonte commented on #3302
-> fixed.

[2012-09-10 21:21] #3302 closed, assigned to jhpedemonte

[2012-09-10 21:44] doronrosenberg commented on #3254
Does this happen when you use the sample json file?

[2012-09-10 21:46] aerwin commented on #3254
No, only if first GridX uses JSONP. I've discovered 2nd GridX can use just default data.

[2012-09-10 21:56] #3344 closed, assigned to nobody

[2012-09-10 23:04] aerwin commented on #3254
Decided to forget the RSOD symptoms for a bit, and dive into why the data store is being placed after the GridX in the first place... and still no clear cause yet.... my theory had been that the presence of the iframe for JSONP was perhaps causing some miscalculation in regard to where the data store should be inserted into the dom, but that does not appear to be the case...
- New HTML page
- Drag

[2012-09-10 23:11] JonFerraiolo opened #3348 "Problems with shapes and states"
There are some problems with this file with previewing. The file combines states and a rectangle shape. Problems:
- On Firefox, the rectangle on the second state (after clicking on the "1" button) gets clipped to bounds of 300px by 150px
- On Chrome, the rectangle has stroke width of 1px instead of 3px

Not sure how to fix this, though.

[code]

[2012-09-10 23:43] peller commented on #3346
yes, likely a dup of #3279

[2012-09-10 23:51] JonFerraiolo opened #3349 "Failure when pushing library relocation with download"
In pushing the product before M7 goes out, I tried the following scenario:
- Eclipse project
- HTML file in subfolder
- Modify libraries from /lib/dojo to /dojo, etc.
- Then download, and as part of download, relocate libaries to /aaa/dojo etc.
- Unzip into htdocs and try to open the HTML file

Result=> Various errors about /aaa/lib/dojo/... not found. It seems like the logic is reinserting "/lib"

[2012-09-10 23:58] aerwin commented on #3254
Followed this all the way to the end of the execution of the CompoundCommand executed by the GridWizard (which causes the aforementioned ReparentCommand to execute along the way) and the children of the html body still look right all the way to the end:

![GitHub Logo](http://i.imgur.com/1e8Bk.png)

So, still a bit flabbergasted... seems like source that doesn't match the model is getting written

[2012-09-11 00:05] doronrosenberg commented on #3345
@peller So we are collapsing and then expanding the root node of a tree in quick succession. I'll take a look to see why we are doing a collapse, but I am afraid this is too dangerous for m7.

[2012-09-11 00:34] jhpedemonte opened #3350 "Adding comment fails in server"
Adding a review comment fails in latest build.

In browser console:

In server log:

[code]

That corresponds to this bit of code:

[code]

So `designer` is null for some reason.

@aerwin @JonFerraiolo

[2012-09-11 01:05] peller commented on #3327
@aerwin @childsb "tests" are still appearing.  Any ideas?

-> M8

[2012-09-11 01:09] jhpedemonte commented on #3350
This was broken by commit bb13147f68ff2df80169a97e106d68d0fc7baa34.

Brad changed `checkUserExists()` to take an actual email address.  But several places in the code (AddComment.handleCommand(), ListVersions.handleCommand(), maybe more) are still passing in users IDs in the form of `A`.

[2012-09-11 01:25] peller commented on #3279
@wkeese we're using the asynchronous loader for everything now.  I'm seeing this error on occasion in both hccss and uacss

[2012-09-11 01:39] JonFerraiolo opened #3351 "JSESSIONID not cleared - can't ever change logins"
(Posting now so people are aware - I'll investigate more later)

If I login as a@a.com, then logout, then create a new user b@b.com, and login as the second user, Maqetta launches, but I'm logged in as the first user and not the second user.

Looking at the debugger, I see that the JSESSIONID cookie stays the same even if I logout and log back in.

[2012-09-11 01:41] peller commented on #3279
@wkeese I think you found it.  display is none (dijitHidden is set on an ancestor of the containing iframe)  We're loading the document in a hidden tab, which must be a regression.  The tabs are loaded in succession, and now that we use async, other tabs appear pushing the document to the background before onload fires.

[2012-09-11 02:25] doronrosenberg commented on #3345
This is related to #3328 - create() of DataGridHelper does a reparent, which is running during the AddCommand phase and breaking things.

[2012-09-11 02:32] doronrosenberg commented on #3254
@jhpedemonte @JonFerraiolo Talking with @aerwin, this is related to #3328.  DataGridHelper::create does a reparent, and that is a bad thing to do.  This breaks things since it will get called while another compound command is being run.  That compound command isn't expecting things to move around that it didn't handle. In this case we are creating the datagrid and associated model, but the model i

[2012-09-11 02:34] doronrosenberg commented on #3345
-> m8

[2012-09-11 03:11] aerwin commented on #3254
@jhpedemonte @JonFerraiolo @doronrosenberg

I had a brief discussion with @jhpedemonte via ST and I think he was of the opinion that because of the uncertainty in the fix described by @doronrosenberg  above that we should defer this and the other related issues to M8.

So, pushing to M8.

[2012-09-11 03:15] aerwin commented on #2666
@JonFerraiolo @jhpedemonte

-> M8
-> Prio High

[2012-09-11 04:45] aerwin opened #3352 "Download as zip: getOnUnloadWarningMessage"
Using Chrome on Mac going to staging server... Not sure this exception has any impact, but opening as Prio High for assessment...
1. Select file in files palette
2. Right-click and choose Download
3. Click OK on download dialog
4. See exception below, but download starts and completes

[code]

[2012-09-11 04:52] aerwin opened #3353 "Download as zip: Downloading sketch theme has exceptions and zip file includes all themes (not just selected one)"
Using Chrome on Mac going to staging server and doing Step 3 of the "download as zip (context menu)" test case in the Files test plan. I'm using an Eclipse project, but wouldn't think that should matter.

After doing so see:

[code]

then see:

[code]

then see:

[code]

then see (covered by #3352):

[code]

Download completes, but all of the themes are included in the zip file. Perhaps this isn't

[2012-09-11 04:56] JonFerraiolo opened #3354 "Annotations not displayed correctly - xpath compare problem"
@jhpedemonte discovered an xpath compare problem in the review code, makes it so that sometimes annotations don't show when they should

[2012-09-11 05:00] JonFerraiolo opened #3355 "Annotations not displayed correctly - user compare problem"
User name comparisons aren't working sometimes in review/commenting. What's going on is that the annotations are storing a single letter username like B or G, and somehow or other the letter assigned to the current user doesn't match the letter assigned when the annotation is created. For example, on staging server, there are two users, let's call them USER1 and USER2. When the invite goes out, US

[2012-09-11 05:06] aerwin opened #3356 "Download as zip: Sample1.html test case exceptions and download contains all samples"
Using Chrome on Mac going to staging server..

Doing Step 2 of  "File palette toolbar: download as ZIP and modify libraries" in Files test plan:

When I try this, I see lots of exceptions and the download contains all samples:

[code]

[2012-09-11 05:18] aerwin opened #3357 "Sample1.html became a folder"
Here's a weird one... Using Chrome on Mac going to staging server...

Noticed after doing Step 3 of "File palette toolbar: download as ZIP and modify libraries" in Files test plan...

Went to verify that I could open Sample1.html, and I see that it's a "folder" and I can't open it as an HTML file:

![GitHub Logo](http://i.imgur.com/LkQn7.png)

[2012-09-11 05:20] aerwin commented on #3357
Also a "folder" in Orion navigator:

![GitHub Logo](http://i.imgur.com/Huko6.png)

[2012-09-11 05:25] aerwin commented on #3357
In theory, could also have been caused by stuff in #3356.

[2012-09-11 05:56] JonFerraiolo commented on #3355
Pushing to M8.

@childsb

I'm not sure why the single letter usernames are different at different times. The server code for listVersions calls user.getUserID() which goes to the person manager (which I assume is Orion code) where returns the "username" field. I'm not sure if that ends up being the same username that Orion uses as the unique ID or the username field that might be something like "M

[2012-09-11 05:56] JonFerraiolo commented on #3355
@aerwin

[2012-09-11 09:29] aditya0901 opened #3358 "Change the way style elements are rendered in the source tab"
Hi,
I'm trying to create custom widgets and adding style elements to it in maqetta. The sourse tab is getting populated with the style element as...

[code]

However i want this to be rendered as

[code]

is there any way to perform this change?
Please help!

Thanks.

[2012-09-11 11:22] wkeese commented on #3279
@peller: Ok good, so hopefully you can fix maquetta not to hide the iframe
as it loads?   Seems like hiding it could cause other problems too
especially with layout widgets.

[2012-09-11 14:27] billreed63 opened #3359 "Changing subwidget style background color does not maintain subwidget selection"
1) Clone claro
2) Select Tab container
3) Select Tab subwidget
4) Change background color

Note the color is applied but that the color is removed from the color style palette
If you try to applied a second color to the tab subwidget it does not take
If you deselect the tab widget and re-select it works . It appears that the subwidget selection is cleared in the cascade

[2012-09-11 14:30] billreed63 commented on #3359
This happens in mobile themes also
Select Heading ArrowHead and change background image gradient color

[2012-09-11 14:40] jthomas commented on #3303
Reviewing this issue, there were two problems. There was a bug in the DWB analysis code when handling an AMD require with a first argument as just a configuration object with no further parameters. I've fixed this and re-deployed the code.
Secondly, the built layer that's included for the gridx module is causing issues. We can't handle the module dependences that come from cached built AMD modules

[2012-09-11 14:42] jhpedemonte commented on #3354
Scenario:
1. Create a mobile app which consists of a single View and some widgets within that view.
2. Create a review for this page.
3. Add a comment to the review.  Use one of the annotations (i.e. arrow or rectangle) and add it on top of the View.
4. Click **Submit** on the review comment.  Notice that the annotation disappears.

Before (3), `getCurrentScenes()` in "davinci/review/editor/Contex

[2012-09-11 14:48] jhpedemonte commented on #3356
Trying to edit/save-to read only files, it seems.  Need better handling for that situation in the download code.

-> M8

@childsb

[2012-09-11 14:48] jhpedemonte commented on #3356
cc @JonFerraiolo, see decision above to push to M8.

[2012-09-11 14:49] jhpedemonte commented on #3357
-> M8, since this is a rare issue.

@JonFerraiolo

[2012-09-11 14:52] jhpedemonte commented on #3358
(@aditya0901, when pasting in HTML code, make sure to wrap it in lines that have three back-ticks.  Click on the link on this page named "GitHub Flavored Markdown" to see more info.  I've updated the summar to properly show your HTML content.)

-> M8, High, so we answer this soon.  @JonFerraiolo

[2012-09-11 14:55] jhpedemonte commented on #3303
@jthomas, does the 2nd situation cause an error?  What about just ignoring it and not making any changes to those files; is that a possibility?

[2012-09-11 14:59] jhpedemonte commented on #3350
This seems to be working now with the latest patch.  However, I don't consider that a long term solution.  Need to clean up the code around handling user IDs vs Logins.  -> M8

[2012-09-11 15:01] jhpedemonte commented on #3322
Closing as dupe of #3342

[2012-09-11 15:01] #3322 closed, assigned to childsb

[2012-09-11 15:05] jhpedemonte commented on #3346
-> M8

[2012-09-11 15:16] billreed63 commented on #3329
The fix above is temp solutions, we need more robust solutions for M8

[2012-09-11 15:17] jhpedemonte opened #3360 "Add test to check JSESSIONID"
See #3351 -- need to test to see that JSESSIONID is handled properly and is cleared when a user logs out.

[2012-09-11 15:17] peller commented on #3303
pushing off problem with built layers like gridx to M8

[2012-09-11 16:39] jhpedemonte commented on #3342
-> M8

[2012-09-11 16:40] #3359 closed, assigned to billreed63

[2012-09-11 16:41] jhpedemonte commented on #3351
-> M8

We used to handle unsetting of this cookie in our code.  But now we build on top of Orion, which doesn't handle that.  Need to ask them about this issue.

[2012-09-11 17:44] peller commented on #3303
Ideally, DWB would be able to (transparently?) reference built layers and avoid re-building them or rolling the modules into a new layer, like dojo.js.  We do also have the option of passing in source to the DWB.  Right now, the source switch doesn't seem to do that.

[2012-09-11 17:56] JonFerraiolo opened #3361 "Need to update new Dojo 1.8 dojox.mobile icons on widget palette"

[2012-09-11 18:42] aerwin opened #3362 "Link on about Maqetta replaces current tab instead of opening new one"
Opening as more of a nit for M8...

The link on the About Maqetta dialog replaces the current tab instead of opening a new tab (like other URLs in Maqetta):

![GitHub Logo](http://i.imgur.com/uF0Av.png)

I closed the tab after the URL opened (not realizing I needed to hit Back) which meant I not longer had Maqetta available anymore.

[2012-09-11 18:46] aerwin opened #3363 "New Folder button on New DesktopApplication dialog missing ellipsis"
For M8...

The New Folder button launches a separate dialog, so should have an elliipsis:

![GitHub Logo](http://i.imgur.com/bSsd4.png)

[2012-09-11 18:48] JonFerraiolo opened #3364 "Download selected files should only download selected files"
@aerwin (sorry if this is dupe - github search isn't working very well right now)

In testing the context menu on the Files palette, I selected only one file and said "download". Up comes a dialog showing all of the libraries. I unchecked the libraries and clicked OK. In addition to selected files, I also got:
- all of the themes
- all of the samples
  - lib/zazl
- lib/maqetta

[2012-09-11 18:55] aerwin opened #3365 "Delay for editor to open making it seem like user action didn't register"
Opening against M8...

Using Chrome on Mac going to staging server...

Mentioned this to @JonFerraiolo yesterday, and I think he had been seeing it too...

Basically, when starting from the welcome page, there's a noticeable delay (multiple seconds) before anything happens when double-clicking file in the palette, creating new file, etc. Finally, the page editor opens with the loading indicator in

[2012-09-11 18:56] jhpedemonte commented on #3364
This is a fallout of @childsb's "required libs" fix.  We didn't think about this.
- The 'maqetta' lib **must** be downloaded for things to work.
- 'zazl' shouldn't be downloaded at all.
- 'samples' should probably be an option to download.
- Not sure how best to handle 'themes'.

[2012-09-11 19:13] doronrosenberg opened #3366 "ThemeSets - applying custom themeset to mobile page doesn't work, requires reload"
@jhpedemonte @JonFerraiolo
- Create a claro clone called claro2.  Change bg color to say green.
- Create a custom clone called custom2, change bg color to red.
- Create a custom themeset and use claro2/custom2.
- Create a mobile iphone page, change to the custom themeset.
- dnd a header.

Header is the default claro look.  Reload page and now the page is red like it should be.

[2012-09-11 19:17] jhpedemonte commented on #3366
It's working for me.

[2012-09-11 19:23] billreed63 opened #3367 "SmartInput for html <fieldset> should support html"
THe user should be able to select the html readio on smart input when entering

``` test<b>xxxx<.b>yyy````
[code]

[2012-09-11 19:29] doronrosenberg commented on #3366
Oh wait I was using Firefox, could that have been it?

[2012-09-11 19:30] aerwin commented on #3367
Closing. Dup #3114.

[2012-09-11 19:30] #3367 closed, assigned to nobody

[2012-09-11 19:31] jhpedemonte commented on #3366
Perhaps?  I tested on Chrome.  Deferring to @billreed63 on this one.

[2012-09-11 19:33] doronrosenberg commented on #3366
Reproduced this on Chrome as well.

[2012-09-11 19:59] childsb opened #3368 "states - can't change CSS across states"
1) new html file
2) add a calendar widget
3) add 2 buttons
4) create 2 states
for state 1, set the calendars background to a color
for state 2 set the calendars background to another color

notice that when you swtich between states to try and change the color, the color always remains the same.

[2012-09-11 19:59] billreed63 commented on #3366
I can't reproduce this on chrome/win 7 do you have the debugger open?

[2012-09-11 20:01] jhpedemonte opened #3369 "Smart inpu for DIV doesn't open on double-click"
Create a new mobile app (iPhone), switch to source and paste in the following text:

[code]

Double-clicking on either of the DIVs doesn't open smart input.

[2012-09-11 20:02] jhpedemonte commented on #3366
@billreed63, he saw this on Firefox.

[2012-09-11 20:03] peller opened #3370 "Exception in VisualEditorOutline._widgetChanged"
seen on Safari:

Drop a BorderContainer on an empty canvas.
Add a Button to one of the panes.
Select the ContentPane that is the parent of the button.
Attempt to set a widget id in the properties panel, an exception is thrown and is visible on console:

[code]

This is the exception:

[code]

[2012-09-11 20:10] JonFerraiolo commented on #3284
Reopening. I'm seeing this with latest code.

[2012-09-11 20:14] jhpedemonte commented on #3369
Closing.  Not an issue.  I'm confused.

[2012-09-11 20:14] #3369 closed, assigned to nobody

[2012-09-11 20:18] doronrosenberg commented on #3366
I saw it on chrome, but I think this is user confusion

[2012-09-11 20:32] doronrosenberg commented on #3366
Chrome on windows:
- Create a new theme called iphonegbug based on the iphone theme.
- Change the page background color to red
- Change the heading background to green.
- Create a ThemeSet called bug.  For iPhone select iphonebug
- Create a new iphone page
- Drag and drop a Heading
- Go to switch theme and select the bug ThemeSet.  Press ok.  I don't see any changes until I reload.  This is on mok

[2012-09-11 20:49] JonFerraiolo commented on #3365
-> @peller

[2012-09-11 20:53] jhpedemonte commented on #3365
Yes, the tab for that page/editor should come up immediately and show wait indicator, so user knows that something is happening.

[2012-09-11 21:09] peller commented on #3365
dup of #3168

[2012-09-11 21:09] #3365 closed, assigned to peller

[2012-09-11 21:10] peller commented on #3320
-> M8

[2012-09-11 23:04] JonFerraiolo commented on #3271
I tried to remove width=100% on BODY and the problem is still there

[2012-09-11 23:10] JonFerraiolo opened #3371 "tar.bz vs zip: investigate winzip"
(Prio-High just in case this turns out to be a significant problem for some users)

When I used WinZip to decompress one of our nightlies, all of the JARs decompressed and it took a really long time to finish (like an hour). Was this just misoperation of WinZip or something else?

[2012-09-11 23:13] JonFerraiolo opened #3372 "Put hosted nightlies into hosted/ folder?"

[2012-09-11 23:23] JonFerraiolo commented on #3371
@childsb

OK, I figured out what's going on, sending to @jhpedemonte with Prio-Low

WinZip is preserving the JARs. The issue here is that all of the Eclipse projects (e.g., maqetta.core.client) end up in the archive as exploded folders instead of JARs. With Preview6 and earlier, the Eclipse projects end up in the archive as JARs.

The very slow decompress on Windows is due to the zillions of separ

[2012-09-11 23:26] jhpedemonte commented on #3371
@peller, we kept some of those directories out of JARs for performance reasons, wasn't it?

[2012-09-12 01:05] peller commented on #3371
yes, that's right.  Otherwise, Equinox has to explode them or search them on demand.  Not good, especially for static content.  Plugins with static content (generally the larger ones) are not packaged in jars, others are still in jars.

[2012-09-12 11:52] rudimk opened #3373 "Integrating Twitter Bootstrap"
Hi,

Quick question - how hard would it be to integrate Twitter Bootstrap with Maqetta? Are you guys planning something of that sort?

Thanks!

[2012-09-12 15:28] doronrosenberg commented on #3328
@jhpedemonte @JonFerraiolo This one is important

[2012-09-12 15:29] jthomas commented on #3303
@jhpedemonte It doesn't cause an error directly but the returned module identifiers are broken. We get things like "..base/dom-class". Just ignoring the results would work.

[2012-09-12 15:42] JonFerraiolo commented on #3328
Top on my list too. I need to spend an hour or two tracing through all of the code that ends up going through that part of onExtentChange(). I'll try to do that soon.

[2012-09-12 15:45] doronrosenberg commented on #3254
@JonFerraiolo @jhpedemonte m7.01

[2012-09-12 15:45] doronrosenberg commented on #3345
@JonFerraiolo @jhpedemonte m7.01

[2012-09-12 16:00] JonFerraiolo commented on #3361
@jhpedemonte moved to 7.0.1 (in case we do a 7.0.1) since this change is trivial and low risk and would make @jinsil happy

[2012-09-12 16:01] JonFerraiolo commented on #3355
@jhpedemonte

Moving to 7.0.1 for evaluation at least. Might be too involved and too risky to attempt to fix in such a short release cycle, though.

[2012-09-12 16:02] JonFerraiolo commented on #3348
Moving to 7.0.1 for evaluation. Shapes have a major bug with states. For 7.0.1. Shapes are sometimes clipped when in a custom shape, and sometimes non-default CSS properties don't work. I need to evaulate the risk/reward about attempting a fix.

[2012-09-12 16:05] JonFerraiolo commented on #3338
Closing. Verified on other staging server.

[2012-09-12 16:05] #3338 closed, assigned to JonFerraiolo

[2012-09-12 16:06] JonFerraiolo commented on #3348
@jhpedemonte - see previous comment about moving to 7.0.1 for evaluation

[2012-09-12 16:07] JonFerraiolo commented on #3334
-> M701 - I have a fix already and it seems safe enough with a full testing cycle. @jhpedemonte

[2012-09-12 16:08] JonFerraiolo commented on #3319
-> M701 this is just a code review task to see if there is any suspicious code in StatesView.js

@jhpedemonte

[2012-09-12 17:37] doronrosenberg commented on #3328
@JonFerraiolo do you want me to wait for you to trace before I check in the fix?

[2012-09-12 18:15] JonFerraiolo commented on #3328
Until I study things, probably best to commit to a branch. I hope to find time today.

[2012-09-12 18:32] #2804 closed, assigned to peller

[2012-09-12 19:08] JonFerraiolo commented on #3328
I did a first pass review of the patch you created and I see one thing that worries me. In one test case, I had 2 DIVs and a Button in one of the DIVs. Then I dragged the Button from the first DIV and dropped into second DIV (a reparent operation).

The problem I saw when tracing through that operation is that:
- We call `createWidget()` at SelectTool.js:459
- In the proposed patch, instead of cal

[2012-09-12 19:19] peller commented on #2064
seems to work now

[2012-09-12 19:20] peller commented on #1954
seems to work in 1.8.0

[2012-09-12 19:20] #1954 closed, assigned to peller

[2012-09-12 19:33] peller commented on #2064
the /dojo/io/error topic _is_ published in Dojo 1.8.0, but the status is 0.  The Workbench.handleIoError code probably needs to handle `status==0` like it handles 40x

[2012-09-12 19:34] peller commented on #2064
...on the other hand, what if there's a temporary network outage.  Is it possible that the session will come back and the client could recover?

[2012-09-12 19:38] jinsil commented on #3361
I should point out where all the icons are.. it is all my fault.. I will make sure to let you know what/where you can find..
Thank YOU!!!!

[2012-09-12 19:49] doronrosenberg commented on #3328
Perhaps we should remove and then add widgets in SelectTool instead of add and then remove?

[2012-09-12 20:01] doronrosenberg commented on #3328
The cleanest way would be to have a CreateTool method that gets called whenever we relocate a widget in the VE (copy/paste, dnd) similar to _getCreateCommand() or addPasteCreateCommand().  Something we can inject any additional commands into that gets executed once paste/dnd is finished.

[2012-09-12 20:42] jhpedemonte opened #3374 "Deadlock in EclipsePreferences (Maqetta server hangs)"
Every so often, the Maqetta server stops accepting connections.  Saw it this morning on the new maqetta.org.  Here's one line from Nginx server log:

Thing is, I could load the **login page** just fine. After entering my credentials, though, the browser just looped.  Only recourse was to restart Maqetta server.

So part of the server (login page) is accessible, but nothing beyond that.  Unfortunat

[2012-09-12 20:42] jhpedemonte commented on #3353
-> M8

[2012-09-12 20:43] jhpedemonte commented on #3352
-> M8

[2012-09-12 20:45] jhpedemonte commented on #3323
Dupe of #1721.

[2012-09-12 20:45] #3323 closed, assigned to childsb

[2012-09-12 20:45] jhpedemonte commented on #1721
Still seeing this, even on new maqetta.org.

[2012-09-12 20:46] jhpedemonte commented on #2990
-> M8

[2012-09-12 20:48] jhpedemonte commented on #2911
@megaD, we just released v7 out on maqetta.org, with many performance and server enhancements.  Please test again and let us know if you still see issues.

-> M8

[2012-09-12 21:15] aerwin opened #3375 "Browsers don't save user/pass info for maqetta.org"
@JonFerraiolo @jhpedemonte @childsb

Opening for M7.0.1 for discussion...

Per e-mail conversation...

Me:

@JonFerraiolo

[2012-09-12 21:44] jhpedemonte opened #3376 ""@revision@" in requests"
I'm seeing a lot of requests which contain the string `@revision@`, which implies that it wasn't properly substituted during the build.

Some samples:

/maqetta/app/davinci/workbench.css?@revision@
/maqetta/app/davinci/ve/resources/content.css?@revision@
/maqetta/app/davinci/review/resources/Comment.css?@revision@
/maqetta/app/dojox/grid/nls/DataGrid_en-us.js?@revision@
/maqetta/app/metadata/dojo/

[2012-09-12 22:03] JonFerraiolo commented on #3375
I may have found the reason at http://www.sencha.com/forum/showthread.php?6450-Saved-user-credentials-and-dynamic-forms-possible&p=257337&viewfull=1#post257337

[code]

It might be that the parent container has display:none when the page is first loaded.

[2012-09-12 22:19] JonFerraiolo commented on #3375
Nope, I played with things, and couldn't get either username or password to get saved across sessions.

@doronrosenberg - any knowledge in this area?

[2012-09-12 23:15] #3348 closed, assigned to JonFerraiolo

[2012-09-12 23:17] JonFerraiolo commented on #3334
Closing. I had fixed off in a branch during M7 cycle. Just merged that fix in.

[2012-09-12 23:17] #3334 closed, assigned to JonFerraiolo

[2012-09-13 00:23] doronrosenberg commented on #3375
Oh boy, fun stuff.  Patch that fixes it for me is http://pastebin.com/Aa8Np5ca

[2012-09-13 01:00] JonFerraiolo commented on #3375
@doronrosenberg - Thanks a bunch!

Assigned to me. I'll merge in the patch, test on our target browsers and then commit.

[2012-09-13 04:29] megaD commented on #2911
v7 indeed solved it! I can download now all my files at the same time. thanks so much

[2012-09-13 04:29] #2911 closed, assigned to jhpedemonte

[2012-09-13 15:07] peller commented on #3374
M7.0.1?

[2012-09-13 15:20] peller commented on #3351
M7.0.1?

[2012-09-13 15:23] JonFerraiolo commented on #3351
-> M7.0.1

[2012-09-13 15:52] JonFerraiolo opened #3377 "app.js: what to do about multiple HTML files in a project?"
@aerwin

Right now app.js is included in each HTML file that a user creates. If they put logic that is specific to a particular HTML file (e.g., file1.html) such as doing a dojo.byId() or a dijit.byId(), that logic will likely break when they try to run a different HTML file in the previewer (or when deployed).

Some options that have been mentioned:
- Add comments to the top of app.js warning use

[2012-09-13 16:01] JonFerraiolo commented on #3374
-> @jhpedemonte

[2012-09-13 16:02] billreed63 commented on #3377
I would vote for a combinations of the first two bullets, adding comments to app.js that give an example of select the code path based on the window.location

[2012-09-13 16:15] aerwin commented on #3377
I'd also suggest if we're in there changing comments and such that we require some other common things users are likely to use like:

[code]

[2012-09-13 16:50] JonFerraiolo commented on #3377
Yeah, the 3rd bullet doesn't seem feasible for M8 and goes somewhat against keep-it-simple-stupid

[2012-09-13 17:11] JonFerraiolo commented on #3377
Also, I agree with Tony about beefing up the standard list of requires. I'd include dojo/query and dojo/_base/connect, also.

[2012-09-13 17:12] JonFerraiolo commented on #3377
@jhpedemonte: For M8 migration, maybe we can look at app.js in old workspaces and see if the app.js file exactly matches what we shipped with M7, and if so, then replace with the new M8 version? How hard would that be?

[2012-09-13 17:38] JonFerraiolo opened #3378 "Docs: deal with users "Open in New Tab" or "Open in New Window""
if a user hovers over any of the hyperlinks in the docs set and says "Open in New Tab" or Open in New Window", things get messed up. All of the docset sub-pages only work if they are loaded inside of the docs/index.html, pulled in via ContentPane href.

We've had this particular problem forever.

[2012-09-13 19:27] JonFerraiolo commented on #3319
I reviewed the code and I didn't see anything that requires updates for M7.0.1. Pushing to M8.

I did see some cleanup tasks:
- _updateSelection: only show focus and initial for page editor
- rename _hideShowToolbar to _updateToolbar because it doesn't just hide and show
- Remove _getRootNode, no one calls it
- _statesLoaded: remove IF statement. updateView() already does the necessary checks
- re

[2012-09-13 19:45] #3345 closed, assigned to doronrosenberg

[2012-09-13 19:46] doronrosenberg commented on #3254
@aerwin I checked in the fix for my bug and removed the reparent in GridX, can you verify this is fixed

[2012-09-13 20:24] jhpedemonte opened #3379 ""client intended to send too large body" error on maqetta.org"
Seeing these errors in the Nginx server logs:

[code]

@JonFerraiolo

[2012-09-13 20:25] aerwin commented on #3254
-> Closing

Thanks, @doronrosenberg ... I had been looking at this some this afternoon as well and the one thing I noticed is that by removing the reparent from create that the data store for the 2nd GridX winds up at the very top of the DOM (above even the 1st data store).

So, I've done a follow on commit (see 8a0b53f0cacfc1d2c86c1b0a0436b9a8b7691fa3 ) to address that. So, now I think we can clo

[2012-09-13 20:25] #3254 closed, assigned to aerwin

[2012-09-13 20:34] JonFerraiolo commented on #3271
What's going on is that the horizontal scrollbar is actually associated with the IFRAME element that surrounds the canvas. The IFRAME is checking to see if its document's bounds exceeds the edges of the IFRAME's viewport, if so, then post scrollbars. I found no difference whether the HTML or BODY elements had 100% or not. What matters is the actual bounds of the elements on the page and whether th

[2012-09-13 20:48] jhpedemonte commented on #3374
Happened again just now.  Could load LoginWindow, but redirect back to app.maqetta.org/maqetta/ just hangs.

Tried to go to Orion Navigator (app.maqetta.org/):  that showed some of the Orion UI, but with a message that said "Loading...".  So that was also hung.

@aerwin

[2012-09-13 20:56] JonFerraiolo opened #3380 "delete unused images and html files (particularly docs)"
I did a `du -k` on the docs/ folder and it's 11M, of which 6.6M are images. I'll bet about half of the content in the docs/ folder isn't used anymore (both *.html and images). Need to clean up there to help shrink the download size.

Also, there are probably some unused images in davinci/img.

[2012-09-13 21:07] jhpedemonte commented on #3374
@peller, could this be memory issues again?  I don't see any errors pointing to that in the log files (although I'm not sure if there would be any).  We are running with the flag `-Xmx768m`.

First hang, the app was up for 16 hours.  Next one, almost 26 hours.

[2012-09-13 21:18] #3361 closed, assigned to JonFerraiolo

[2012-09-13 22:22] #3328 closed, assigned to doronrosenberg

[2012-09-13 22:24] doronrosenberg commented on #3272
@jhpedemonte @JonFerraiolo I assume this is not something we would want for 7.0.1?  Probably pretty straightforward to implement

[2012-09-13 23:49] JonFerraiolo opened #3381 "iPhone5 silhouette"

[2012-09-14 00:32] JonFerraiolo commented on #3272
Back to M8. Too risky for M7.0.1.

The real fix (something like `context.addHandle(dojo.connect(bla)`) is too risky for a quick turn dot release, and we seem to have patched around the worst parts of this. So, moving this back to M8.

But if anyone such as @doronrosenberg wants to address the underlying issue so the fix is there for M8, go for it. But make sure to take into account what @peller sa

[2012-09-14 00:39] JonFerraiolo commented on #3233
Closing. The nightly builds include Orion now and post a login screen.

[2012-09-14 00:39] #3233 closed, assigned to childsb

[2012-09-14 00:46] JonFerraiolo opened #3382 "Change Button text in 2nd Accordion pane - design switches to first pane"
- Create Desktop App
- Add an Accordion
- Switch to 2nd pane
- Drop a Button
- Go to split view, change button text in source pane

Result=> Design pane switches back to first Accordion pane

[2012-09-14 00:47] JonFerraiolo commented on #1865
I'm going to close this bug. I believe the source editor quirks we had when the issue was first written have been fixed.

There is one problem remaining, captured in #3382, which captures the remaining problem where if you change the label in source view for a Button with is in the second Accordion pane, the design pane switches back to the first pane.

[2012-09-14 00:47] #1865 closed, assigned to peller

[2012-09-14 00:49] JonFerraiolo commented on #3306
@billreed63 - Could you please review this issue to see if it is a candidate for M7.0.1? My guess is no, too risky, but you know this issue the best.

[2012-09-14 00:52] JonFerraiolo commented on #3346
Since #3279 is 7.0.1., I'm moving this also to 7.0.1.

[2012-09-14 00:52] JonFerraiolo commented on #3346
oops, didn't mean to close

[2012-09-14 00:55] JonFerraiolo commented on #3347
-> M7.0.1, at least for investigation

[2012-09-14 00:59] JonFerraiolo commented on #3354
@jhpedemonte is this a candidate for 7.0.1?

[2012-09-14 03:23] jhpedemonte commented on #3374
Happened again.

Hung:

[code]

Fresh restart:

[code]

There seems to have also been a sizeable increase in the number of threads.  May be purely coincidental, but it did decrease when I restarted Maqetta:

![number of threads](http://i.imgur.com/0uSYn.png)

There was also a similar spike in "inode table usage", but it wasn't as clear as in the above chart.

[2012-09-14 11:42] jhpedemonte commented on #3374
Maqetta gets deadlocked, trying to handle Eclipse Preferences.  See the [jstack dump files](https://gist.github.com/3721431).

[2012-09-14 13:27] jhpedemonte commented on #3374
Found this [Equinox bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=359698), which [removes `synchronized`](http://git.eclipse.org/c/equinox/rt.equinox.bundles.git/commit/?id=2607f050eb20c418a2b56437cdb388a397ebc207) from EclipsePreferences.flush() call.

Looks like it was fixed in **3.7.2**.  But in plugins I see **org.eclipse.equinox.preferences_3.5.0.v20120522-1841.jar**.  Guess we need to b

[2012-09-14 14:27] skaegi commented on #3374
The version of the platform might be 3.7.2 but that version of preferences looks to me to be current -- see http://git.eclipse.org/c/equinox/rt.equinox.bundles.git/tree/bundles/org.eclipse.equinox.preferences/META-INF/MANIFEST.MF -- looking at stack now...

[2012-09-14 14:30] billreed63 commented on #3306
Fixed by c28ec116ccd0c3ad87f17a694e4ec98eb04883e6

[2012-09-14 14:30] #3306 closed, assigned to billreed63

[2012-09-14 14:54] skaegi commented on #3374
that call in internalFlush 453 seems incredibly risky to me as it changes lock direction for parent->child to child->parent. Log this against Equinox and I can help bring it to their attention

[2012-09-14 14:55] skaegi commented on #3374
http://git.eclipse.org/c/equinox/rt.equinox.bundles.git/tree/bundles/org.eclipse.equinox.preferences/src/org/eclipse/core/internal/preferences/EclipsePreferences.java -- line 453

[2012-09-14 15:14] doronrosenberg opened #3383 "DataStoreBasedWidget* not moving the datastore around with widget"
DataStoreBasedWidget\* not moving the datastore around with widget

@jhpedemonte @JonFerraiolo Marking for 7.0.1

[2012-09-14 15:27] peller commented on #3375
Is the LoginWindow descended from Orion code?  If so, can we share the patch or find a way to share code with Orion?

[2012-09-14 15:46] JonFerraiolo opened #3384 "Investigate creating projects with dot in name"

[2012-09-14 15:47] JonFerraiolo opened #3385 "Validate username to conform to email address syntax"

[2012-09-14 15:47] JonFerraiolo commented on #3385
On login screens...

[2012-09-14 16:00] JonFerraiolo commented on #3385
Our old welcome.html used a dojo widget (ValidationTextBox) with this regexp: `regexp="^\w(\w|[.@]){4,20}$"`. Right now we aren't including Dojo for our login screens. Regarding the regex, the HTML5 spec provides this regex for email validation: `/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$/`

This could be accomplished trivially by simply putting a `type='email'` on the ap

[2012-09-14 16:04] JonFerraiolo commented on #3375
@childsb Do you know the history for LoginWindow.*?

[2012-09-14 16:44] jhpedemonte commented on #3374
Opened bug on Eclipse: https://bugs.eclipse.org/bugs/show_bug.cgi?id=389630

[2012-09-14 16:51] #3383 closed, assigned to doronrosenberg

[2012-09-14 16:56] doronrosenberg opened #3386 "EdgeToEdgeDataList inside a tabcontainer - cut/psate of tabcontainer throws error"
@JonFerraiolo @jhpedemonte @aerwin
- dnd a tabcontainer
- dnd a EdgeToEdgeDataList into the first tab
- cut the container, paste it

[code]

The ul_1 is part of the EdgeToEdgeDataList.  The page seems to work fine even with the exception but that isn't a good thing.

Seems we are not destroying things correctly during the cut, which might be the cause of random failures we sometimes see where widg

[2012-09-14 16:58] jhpedemonte commented on #3384
Or any other character.  We should properly escape the name, as necessary.

[2012-09-14 17:02] JonFerraiolo commented on #3386
No, I agree that this should at least be investigated ASAP to see if there is a more general, deeper bug.

[2012-09-14 17:04] jhpedemonte commented on #3374
@childsb has suggested that we add `synchronize` to `maqetta.server.orion.user.OrionUserManager.getUser()`, implying that it might lessen (but not totally fix) the impact of this deadlock.

I'm not fully convinced, though.  One of the code paths for the deadlock does indeed show that method.  And all of the blocked threads (waiting on semaphore) go through that method.

However, the other side of

[2012-09-14 17:08] jhpedemonte commented on #3354
Yes.  -> 7.0.1

What's your take on my proposed solutions?  Ideally, the XPath code would ignore annotations.  Since this is in R&C, we don't have access to the model, correct?

Perhaps we can create an adapter to XPathUtils that ignores annotations, when generating the XPath?  Although that might create issues if the XPath is actually used to select an element on the page.

[2012-09-14 17:09] aerwin opened #3387 "Dojo Web Builder: Different result checking checkbox than running DWB manually"
@peller

Had a lengthy ST with @peller on this... so, in summary:

Using Maqetta.org, I have a project that if I download as zip with the DWB checkbox on, the result doesn't seem to contain the right dojo.js layer. However, if I manually run the DWB (pointing it at the index.html in my project) then I get the right stuff.

This is coming up because I'm trying to run the downloaded zip through Phon

[2012-09-14 17:17] peller opened #3388 "New project beginning with dot causes error"
also when switching projects after creating the project called ".foo"

[code]

For consideration in M7.0.1 because it may have catastrophic effects, even though it seems pretty uncommon

[2012-09-14 17:55] childsb commented on #3375
Yes I did copy LoginWindow.\* from Orion.  I'm sure they'd like your password saving changes pushed back ((probably best to open a bug on them w/the solution))

[2012-09-14 18:06] peller commented on #3387
[code]

[2012-09-14 18:10] JonFerraiolo commented on #3388
I researched the user problem. Somehow or other he created a project named "." and that because his current project, and our code has problem with such a project name.

[2012-09-14 18:40] peller opened #3389 "Should download entire workspace be download entire project?"
To reflect the fact that it's only going to provide what's in the current project?

@JonFerraiolo @aerwin

[2012-09-14 18:45] peller commented on #3387
currently, the dwb checkbox scans all html files in all projects, though it seems to have only encountered your mobile code in file1.html and dojo-theme-editor.html  may be a dup of #3303, as the stack is the same.

[2012-09-14 18:46] aerwin commented on #3389
@peller +1

[2012-09-14 18:47] peller opened #3390 "deleting project doesn't work"
with multiple projects on the workspace, hit the delete project button.
the workbench reloads with a different project selected, but the project you deleted is still there.

[2012-09-14 18:49] jhpedemonte commented on #3390
And everything looks fine if you look at it in the Orion Navigator?  All the expected files are there?

[2012-09-14 18:49] jhpedemonte commented on #3389
Yes.

[2012-09-14 18:55] aerwin commented on #3389
Also, a while back I had opened #2938 to change the default file name from workspace.zip .

[2012-09-14 19:33] peller commented on #3390
yah, still there

[2012-09-14 19:39] JonFerraiolo commented on #3384
In the particular user scenario that instigated this issue, turns out his project was named ".".

[2012-09-15 02:49] peller commented on #3387
This is what I get when I reduce my workspace to a single project with a single HTML file with two Dijits, Button and Calendar:

[code]

[2012-09-15 12:37] wocmultimedia opened #3391 "Mobile Theme disappears on reopening project"
Hi,

I created a test mobile project with 3 views then following the video on youtube I created a new Mobile Theme and applied to my project. I tested on both Chrome and Firefox last v. and it worked. Saved and turned off the PC. The following day I launched again maqetta server bat and then open the localhost in chrome, the project charged automatically but in the designer window all the mobile s

[2012-09-15 13:16] rbackhouse commented on #3248
Currently the Zazl HTML Parser is using details from the Libraries configured on the server. This is always going to be a problem when a user can modify the path to the custom widgets and also when the User Library paths are modified for the project.

With this in mind I have modified the code to instead use the package configurations provided in data-dojo-config for all the libraries. What I have

[2012-09-15 14:34] JonFerraiolo opened #3392 "Resave cheatsheet images as JPEG quality medium"
Sometimes it takes many seconds for the cheatsheet background images to come down the pipe.

Converting from PNG-24 to JPEG-Medium will reduce the cheatsheet images to approximately half-the-size, without any noticeable visual changes.

[2012-09-15 19:15] rbackhouse commented on #3248
For zazl.js path resolution I have come up with the following :

1) Use the pathInfo data obtained from the filter request object. An example is as follows

/user/maqettaUser/ws/workspace/project1/file1.html

2) Strip off the "/user/maqettaUser/ws/workspace". The assumption I'm making here is that "/ws/workspace" will alway be the last bit before the project path.

3) Strip off the last segments (

[2012-09-15 19:21] rbackhouse commented on #3208
After doing some investigation it turns out I can get hold of the user library changes made to a project by calling

IUser.getLibs(projectname);

This pulls in the library configuration found in <project dir>/.settings/lib.settings.

I can then use the virtualRoot value for the corresponding library as the comparison for a matching path instead of Library.getDefaultRoot().

My only concern is that

[2012-09-15 20:33] doronrosenberg commented on #3391
This is with M7 correct?

[2012-09-15 21:32] wocmultimedia commented on #3391
Yes, Sir!
Besides, I installed first time and in Chrome it didn't worked correctly the my mobile theme giving false colours while in FF I could see the colours. I reinstalled and it worked on chrome but the day later on restarting the PC happened what I told you. I can add a screen shot here of the server.bat and preview of the project1 but I cannot add a screen shot of the Designer cause I cannot

[2012-09-15 21:33] JonFerraiolo commented on #3391
-> @billreed63 Can you please try to recreate?

[2012-09-16 03:48] peller commented on #3374
Right, we probably couldn't work around this in Maqetta, but we could perhaps see if Orion could synchronize the two methods leading to this deadlock (or any others calling into preferences code) `org.eclipse.orion.internal.server.servlets.workspace.WebUser.fromUserName` and `org.eclipse.orion.internal.server.servlets.workspace.authorization.AuthorizationService.saveRights`.  I guess it depends on

[2012-09-16 11:27] wocmultimedia commented on #3391
Hi John,

Magically this morning I succeeded to login into the maqetta designer interface and you can see the screenshot of the mess picture related to the preview shot I enclose again.
You can see on the right doesn't appear the corresponding widget settings....I'm on Chrome latest version working on XP.

Thanks for helping
Angelo
  ----- Original Message -----
  From: Jon Ferraiolo
  To: maqetta

[2012-09-16 11:33] wocmultimedia commented on #3391
Maybe this shot can be useful too, if I try to switch the theme, always appears this prompt to save but there's nothing to save in the project and after clicking save it switch to the panel  but nothing happen if I select a different theme iphone, etc.

Regards,
Angelo
  ----- Original Message -----
  From: Jon Ferraiolo
  To: maqetta/maqetta
  Cc: wocmultimedia
  Sent: Saturday, September 15, 201

[2012-09-16 20:58] JonFerraiolo opened #3393 "Developer setup instructions - launch config - zazl project needed to be unchecked"
@childsb @jhpedemonte

Setting to M7.0.1 Prio-High because I think we have a problem that will block folks on maqetta-devs, and I hope the fix is simple.

When I tried to follow the instructions on https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup to pull down from scratch onto a virgin computer, everything worked except that when I tried to run the "maqetta-orion multi us

[2012-09-17 03:49] peller commented on #3393
what was the error?

[2012-09-17 11:49] wocmultimedia commented on #3391
I recreated it again and it happens again. I Created in the same project a new mobile application. Created 3 views and then make a new theme. I set new colour values and named it different than previous theme. I applied and saved the project. It worked fine till I decided to make some new value changes to the theme. I set the new values then applied and nothing happened. Ok, I reloaded the page re

[2012-09-17 13:39] wocmultimedia commented on #3391
I Recreated it and found when it happen!!! If I create a project in the "root" it happen while if the project is created with the "Eclipse support" option checked and it is created in the WebContent it works correctly. I can refresh or reload and it is still working and showing correctly either in Designer or Preview. I also restart the PC and the root project still appear a mess silhouette while

[2012-09-17 13:43] JonFerraiolo commented on #3393
Because the launch configuration has `maqetta.zazl.feature` checked by default, when you click run (or validate bundles), Eclipse tries to resolve dependencies, and the validation error dialog appears saying "Missing Constraint: Resource-Bundle: org.cyberneko.html...", and Eclipse will not launch the server.

[2012-09-17 13:53] billreed63 opened #3394 "Exceptions when trying to switch mobile themes"
I created the html, below when I switch the mobile theme to custom I get the following exceptions

[code]

[code]

[2012-09-17 13:57] billreed63 commented on #3391
Could you add the html source of the problem file to the issue so I can attempt to reproduce?

[2012-09-17 14:29] wocmultimedia commented on #3391
Hi sorry for my maybe stupid reply, where do I find the html file created by maqetta? or can I copy the source code in an empty html file send it to you?

I start adding now the copied source code then if isn't correct please tell me where do I can find what you need to analize it.
Thanks
angelo
  ----- Original Message -----
  From: Bill Reed
  To: maqetta/maqetta
  Cc: wocmultimedia
  Sent: Mond

[2012-09-17 15:05] billreed63 commented on #3391
You can cut and past the source from  the source editor in maqetta. To add the source to the issue use the the four of the  " ` "  on my keyboard it is on the same key as ~ http://github.github.com/github-flavored-markdown/

[2012-09-17 15:09] peller commented on #3393
did you do the submodules update step?

[2012-09-17 15:21] aerwin opened #3395 "Uncaught TypeError: Cannot call method 'addChild' of undefined ModifyRichTextCommand"
Using Chrome on Mac going to local server with most recent git pull...

Opening for 7.0.1 for evaluation since there seem to be side effects...
1. New Mobile Page
2. Drag DojoX Mobile button onto canvas
3. Hit undo and see exception. Notable apparent side effect is that Redo is disabled.

[code]

[2012-09-17 15:37] aerwin opened #3396 "Provide facility to get direct, non-preview URL for mobile pages"
When the user previews a mobile page from Maqetta, a new browser tab is opened with a URL like the following:

http://app.maqetta.org/maqetta/?preview=1&device=iphone&file=http%3A%2F%2Fapp.maqetta.org%2Fmaqetta%2Fuser%2FG%2Fws%2Fworkspace%2FphoneGapProject%2Ffile1.html

However, there are some use cases where it would be nice for the user to be able to easily get the direct, non-preview URL like:

[2012-09-17 15:38] wocmultimedia commented on #3391
I try to add as you told me

[code]

[2012-09-17 15:41] billreed63 commented on #3394
I have narrowed it down to the contentPane have a href
the html file

[code]

And the fragment file  tri_sec_train.text

[code]

[2012-09-17 15:52] aerwin opened #3397 "Need to support additional data fields (like rightText) in Smart Input for EdgeToEdgeDataList"
I wanted to build a sample mobile app that has an EdgeToEdgeDataList with text on the right such as in this example from the Dojo docs. This is a _very_ common scenario.

![GitHub Logo](http://dojotoolkit.org/reference-guide/1.8/_images/EdgeToEdgeDataList-example1.png)

However, this is currently not possible in Maqetta without building a custom JSON file. So, it would be nice if our smart input f

[2012-09-17 16:04] aerwin opened #3398 "IconContainer dialog exception"
@doronrosenberg

Using Chrome on Mac going to local server with latest git pull...

I don't know if there are any side effects, so opening against 7.0.1 for evaluation...
1. New Mobile Application
2. Drag and drop IconContainer
3. Hit OK on Smart Input and see exception:

[code]

[2012-09-17 16:17] billreed63 commented on #3391
I don't see any problems in the HTML, when you see the problem in the designer what happens if close the tab that the file is in and then reopen the file?
Could you also send a screen capture. you can not add images to issues in github you will have to post the image to a photo sharing site like http://imgur.com/ and then add a link to the image to the issue

[2012-09-17 16:22] aerwin opened #3399 "Dojox Mobile palette contains a lot of "child" widgets that should be hidden"
I've noticed there are a lot of widgets like the following in the Dojox Mobile portion of the widget palette that should be hidden:
- ListItem
- IconItem
- TabBarButton
- IconMenuItem
- ValuePickerSlot?

We've taken steps to hide these kinds of widgets in the Dojo desktop widget section and the HTML widget section by using smart input. And, while it probably deserves some more analysis, it seems a

[2012-09-17 16:27] wocmultimedia commented on #3391
http://www.wocmultimedia.com/blogstore/maqetta/maqettaErrorInDesigner.jpg
http://www.wocmultimedia.com/blogstore/maqetta/maqettaprojectdesigner.jpg
http://www.wocmultimedia.com/blogstore/maqetta/maqettaprojectdesigner2.jpg
http://www.wocmultimedia.com/blogstore/maqetta/maqettaprojectpreview.jpg

I wish the url works you can see 2 different designer project silhouette file1.html and file2.html and

[2012-09-17 16:32] aerwin opened #3400 "DojoX Mobile Container has height 0 and no outline border"
Using Chrome on Mac...
- New Mobile Application
- Drag DojoX Mobile Container onto page
- Note it has height 0

![GitHub Logo](http://i.imgur.com/HyjCd.png)
- Unselect the Container and note no outline border, so no indication it exists unless you go to the Outline Palette. Also, can't reselect it except through Outline Palette.

![GitHub Logo](http://i.imgur.com/7KerM.png)

[2012-09-17 16:37] aerwin opened #3401 "Need some mobile tests cases"
Our test plans really skew toward desktop... I think we need at least one basic mobile test case that says "Drag and drop every DojoX Mobile widget" onto the page like we have for Dojo desktop. I've opened a number of issues recently that would likely have been found just by doing this.

[2012-09-17 16:38] aerwin commented on #3400
Same is true of the `Pane` widget.

[2012-09-17 16:43] aerwin opened #3402 "Dojox Mobile FixedSplitter problems"
Using Chrome on Mac going to local server with latest updates...

Opening against M7.0.1 for investigation...
1. New Mobile Desktop Application
2. Drag and drop FixedSplitter
3. Click OK on Smart Input and see exception:

[code]

Also, rendering of FixedSplitter is a 0x0 box in upper left corner:

![GitHub Logo](http://i.imgur.com/ZlHWR.png)

[2012-09-17 16:46] aerwin commented on #3402
Same thing happens with DojoX Mobile GridLayout.

[2012-09-17 16:48] aerwin commented on #3398
Same thing happens with IconMenu.

[2012-09-17 16:53] billreed63 commented on #3391
This looks like the timing issue that we have been having since we changed the code to use async loading
If when you see these errors you can preview the page and it is displayed correctly it is most likely the timing problem
in chrome try opening the Tools->Developer tools and refresh your browser, in most cases this may changing the timing enough so the issue is resolved. If that is the case the

[2012-09-17 16:54] aerwin opened #3403 "DojoX Mobile Carousel exception"
@doronrosenberg

Using Chrome on Mac going to local server with latest...

Opening against 7.0.1 for investigation...
1. New Mobile Application
2. Drag Carousel onto canvas
3. Click OK on smart input and see:

[code]

[2012-09-17 16:58] aerwin opened #3404 "Mobile SpinWheel missing CSS file"
Using Chrome on Mac going to local server with latest...

Opening against M7.0.1 for investigation...
1. New Mobile Application
2. Drag SpinWheel on canvas
3. See missing CSS file in console:

[code]

[2012-09-17 17:04] doronrosenberg commented on #3386
@jhpedemonte @JonFerraiolo

So CutAction does a RemoveCommand on the widget we are cutting, but it seems that we are leaking the EdgeToEdgeDataList and the TabContainer here since we never destroy any of the widgets.  It would seem that adding a dijitWidget check and calling destroyRecursive is in order, but wanted to get insight from you guys since I don't know much about widget lifecycles.

[2012-09-17 17:16] #3398 closed, assigned to doronrosenberg

[2012-09-17 18:41] wocmultimedia commented on #3391
Yes, the preview was correct as you can se from the screen shot but now I cannot open any project anymore....I login and maqetta automatically access last project that was one of this not working but shows only the general display like when you create a new project. I try to open or access any project and the buttons open but nothing happen. No other screen than this appear, you can see something

[2012-09-17 18:53] billreed63 commented on #3394
@peller
The root of this exception is in dojox.mobile.ProgressIndicator

When a dojox.mobile._ContentPaneMixin is constructed a instance of a progress indicator  is retrieved

[code]

The  `ProgressIndicator.getInstance` creates a ProgressIndicator if one does not already exist and assigned it to the global `cls._instance`

[code]

`dojox.mobile._ContentPaneMixin._setHrefAttr` is callled if we hav

[2012-09-17 19:22] JonFerraiolo commented on #3386
I'm looking at this.

I traced through the code myself and I see that ultimately RemoveCommand calls widget.destroy, which for a TabContainer ends up at ve/_Widget.js:771, which does indeed call `this.dijitWidget.destroyRecursive()`. So, we are definitely _attempting_ to remove the widgets.

[2012-09-17 19:24] billreed63 commented on #3394
I have opened a ticket in dojo http://bugs.dojotoolkit.org/ticket/16002
It looks like the link.onload has been added to FF and webkit browsers. I confirmed that link.onload is firing for both FF and Chrome

[2012-09-17 19:32] doronrosenberg commented on #3386
@JonFerraiolo Then something is failing in destroyRecursive as after `widget.destroyWidget` I still can run `Widget.byId("ul_0")` and get the widget.

[2012-09-17 19:40] JonFerraiolo commented on #3386
I have a theory about what's wrong. I think there are two things that are both attempting to remove the DOM nodes. First, the removeChild() function in Maqetta does two things: (1) remove node from DOM, (2) remove node from the model. This gets called from RemoveCommand.js:48. Then we call widget.destroyWidget() at line 55. This ultimately calls into dojo to do a destroyRecursive(), which also att

[2012-09-17 19:40] wocmultimedia commented on #3391
Hello, good and bad news.
I succeeded to start again maqetta going to C:\Maqetta_7\maqetta\$absusersdir.metadata.plugins\org.eclipse.orion.server.core.settings\Users.prefs then I changed the line about Active Editor....
Maqetta restarted and then I followed your suggestion to open Tools>Developer and refresh the browser. It closed the server, I restarted the server.bat then relogin in Maqetta and

[2012-09-17 19:42] billreed63 commented on #3391
That could very well be, I do not know of any testing on Java 7. Most of the team is running java 6 (1.6)  I personally have only tested on Java 1.6.0_25-b06

[2012-09-17 20:00] wocmultimedia commented on #3391
What is strange is that in the new requirements is stated Java 7 on your main page, maybe because of new dojo 1.8 (?) I don't know...If is better to use Java 6 how can I inform Maqetta server to use Java 6 instead of Java 7? sorry, I'm a filmmaker not a developer so it's difficult for me understand many things.
Thanks

[2012-09-17 20:17] billreed63 commented on #3391
Did you download Maqetta from this url http://maqetta.org/downloads/ and which version? Where did you see java 7 as a requirement?

[2012-09-17 20:24] aerwin commented on #3355
--> @aerwin

[2012-09-17 21:13] wocmultimedia commented on #3391
Yes, but I'm not sure where I read it cause I scrolled so many pages in these days so I can be confused or I read on Dojotoolkit website. If Maqetta works better with java 6 I suggest you to add a system requirement page so we can set it properly. How can I try to use Java 6 with Maqetta? Is there any command or line to add in some places?
Thanks.
Angelo

[2012-09-17 21:14] billreed63 commented on #3329
Article on firing events when style sheet is loaded http://www.phpied.com/when-is-a-stylesheet-really-loaded/

[2012-09-17 21:15] billreed63 commented on #3391
Dup of #3329

[2012-09-17 21:18] doronrosenberg opened #3405 "WidgetHash not being cleared when a widget is removed, causing a memory leak"
Nominating for 7.0.1

WidgetHash is storing a reference to the widget even if it has been destroyed, which leaks the widget and any children.

[2012-09-17 21:56] doronrosenberg commented on #3386
It seems to me based on some debugging that the issue is quite different - we seem to be registering the `<ul>` EdgeToEdgeList (none-data one works as well and is simpler) twice, my guess based on a the trace is content pane is re-parsing its content after we created the child widget for it.

@peller any thoughts from dojo land?  Content panes scare me.

[2012-09-17 22:00] wocmultimedia commented on #3391
Thanks! I wish you succeed to solve it in M8 or in a next version of M7 to help also common people like me to create nice product with your very interesting software.

[2012-09-17 23:42] doronrosenberg commented on #3403
I figured out the first exception, Carousel was calling reparent for no reason during a bad time.

The 2nd exception occurs because we remove and readd all the children of the Carousel.  ViewHelper focuses another view as a view is being removed, but the view that is being focused gets removed before the focus code runs.

[2012-09-18 00:57] JonFerraiolo commented on #3375
Commit above should be good for 7.0.1. Leaving this open until I can verify in builds.

Note that Firefox seems to be in good shape - login is preserved across sessions, and Firefox offers to save your password. But with WebKit, we only preserve the login (via the use of a cookie). To get WebKit to work completely, we would need to make some server changes.

Some notes learned along the way:
- Fir

[2012-09-18 01:55] peller commented on #3375
is #2348 the same as the url parameters problem?

Also, I suggest leaving this open until a ticket is logged with orion

[2012-09-18 02:05] peller commented on #3386
where is the contentpane in relationship to edgetoedgelist, and is it a dojox content pane supporting the parser or a dijit one which does not?

[2012-09-18 02:51] doronrosenberg commented on #3386
TabContainer -> ContentPane -> EdgeToEdge

Content pane is the regular dijit one

[2012-09-18 04:52] JonFerraiolo commented on #3385
ab941580f2bf7c724afd57e71a32cbbb93ccc0ff

Should address #3384 (email validation on login forms). Committing now but not closing until testing against builds.

[2012-09-18 04:52] JonFerraiolo commented on #3384
Above comment doesn't apply to this issue. Please ignore.

[2012-09-18 04:53] JonFerraiolo commented on #3384
Closing. I tested `foo.bar`, `.foo`, and `foo.` and everything works fine. Only issue is when the project name is just a `.`

[2012-09-18 04:53] #3384 closed, assigned to JonFerraiolo

[2012-09-18 04:55] JonFerraiolo commented on #3405
Will fix after #3386 fix is ready. Might be a one-liner.

[2012-09-18 05:09] #3392 closed, assigned to JonFerraiolo

[2012-09-18 05:56] aerwin opened #3406 "Orion user id's are not consistent"
@childsb @JonFerraiolo

Spinning this off from #3355 based on @JonFerraiolo 's statement:

I don't know how to make this happen, but seems bad if that's truly the case. #3355 will be used to code around one of the known side effects, but that does not address this core issue of inconsistent user id's.

[2012-09-18 05:58] aerwin opened #3407 "PersonManager only works with people who have logged in since last time server started"
@childsb

It seems that `PersonManager` (a server side Java class) only works with people who have logged in since time the server was started.

For example, the `getPersonByEmail` function returns null for valid e-mail addresses (if user with that email address hasn't logged in since server start) and the `getPersons` function only returns persons who have logged in since the last server start.

[2012-09-18 05:59] aerwin commented on #3355
@JonFerraiolo

I don't know how to get the user id's to change, but I think I found a way to simulate it. It seems that `PersonManager` on the server only works with users that have logged in since the last time the server was started. So, if I restart the server, user id's for all of the reviewers (that haven't re-logged in) are "", so they don't match the user id's in comments. I'm going to open

[2012-09-18 11:52] jhpedemonte commented on #3406
One possibility, previously mentioned by Jon:  we are confusing **user IDs** and **project directories**.  Both are handled by Orion and specified as A, B, C, ... GA, GB, ...  So it's conceivable that we're mixing them up at some point.

For the purposes of Review code, it would be best if our Maqetta code only worked in **email addresses**, then when necessary made the conversion to Orion names.

[2012-09-18 13:08] peller commented on #3386
Oh, right.  That ContentPane is simply a container and shouldn't be running the parser, unless Maqetta is hooking anything special to ContentPanes... I don't believe it is.

[2012-09-18 13:09] peller commented on #3405
dup of #3280 and #861

[2012-09-18 13:10] peller commented on #3280
dup of #861?

[2012-09-18 14:31] JonFerraiolo commented on #3406
Note that with #3355, in the logic to show/hide annotations, we will be avoiding possible server-side user identity issues by fixing the client-side code to only use email addresses and not user IDs. @aerwin

[2012-09-18 14:33] #3391 closed, assigned to billreed63

[2012-09-18 14:38] JonFerraiolo commented on #3375
I believe so

[2012-09-18 16:28] aerwin opened #3408 "Review code clean-up"
--> @aerwin for M8

@JonFerraiolo

There are a couple things I've noticed in R&C that could be cleaned-up in M8:
- Use of `Runtime.reviewers` -- this is left over from a long-time ago when Runtime used to have more R&C dependencies in it, but it really doesn't make sense for R&C to continue to set and use what essentially amounts to a global variable. It would be better to track the reviewers for

[2012-09-18 16:45] aerwin commented on #3355
Closing with above commit.

[2012-09-18 16:45] #3355 closed, assigned to aerwin

[2012-09-18 17:00] #3395 closed, assigned to JonFerraiolo

[2012-09-18 17:27] #3402 closed, assigned to JonFerraiolo

[2012-09-18 20:08] #3405 closed, assigned to JonFerraiolo

[2012-09-18 21:02] aerwin opened #3409 "Changing SpinWheelSlot properties hangs Maqetta"
Opening against M7.0.1 for investigation...
1. New Mobile Application
2. Drag SpinWheel onto canvas
3. Choose one of the SpinWheelSlot's in the SpinWheel
4. Under widget specific properties try to change labels, labelFrom, or labelTo (maybe others) and Maqetta locks up (can't select anything else, etc.)

[2012-09-18 21:02] aerwin commented on #3409
Using Chrome on Mac going to maqetta.org

[2012-09-18 21:46] JonFerraiolo commented on #3409
@aerwin - could you please try again and provide extra details? I tried to reproduce and couldn't get things to hang, either locally or at maqetta.org. What exact values did you try to enter into which properties? I did see a couple of bugs, but no hangs.

[2012-09-18 21:58] aerwin commented on #3409
@JonFerraiolo

Sure... guess maybe it's more specific to certain actions than I initially thought...

Here's one that consistently hangs for me...
1. New Mobile Application
2. Drag SpinWheel onto canvas
3. Choose first SpinWheelSlot in the SpinWheel
4. Under widget specific properties clear out the `labels` property and hit tab key to commit change

[2012-09-18 22:39] aerwin opened #3410 "EdgeToEdgeDataList Smart Input won't allow duplicate labels but JSON file does"
Using Chrome on Mac going to maqetta.org...
- Create mobile application
- Drag EdgeToEdgeDataList
- Enter data like the following and it renders fine:

[code]
- Bring smart input back up and add a 3rd row duplicating the second like so:

[code]
- Edge to edge data list goes to height 0 and no indication there's a problem. (NOTE: The data does not go away... if I go to outline to bring smart input

[2012-09-18 22:51] JonFerraiolo commented on #3409
-> M8 @jhpedemonte. Too hard to fix for M7.0.1. We will just have to hope no users put an empty string value for SpinWheelSlot `labels` property.

@peller @billreed63 @doronrosenberg @jhpedemonte

Here is the reason for the hang. If an empty string is passed into SpinWheelSlot.js, I'm seeing that there is an infinite loop around line 107.

[code]

If the label string is an empty string, then this.

[2012-09-18 23:19] JonFerraiolo commented on #3410
The bug here is that our code doesn't handle repeated lines. I'm not sure why, but that's the key factor. (OOPS - says same thing in bug title: )

[2012-09-18 23:19] JonFerraiolo commented on #3410
-> @aerwin - can you please investigate this bug that you discovered?

[2012-09-19 00:01] doronrosenberg commented on #3386
@peller

[code]

[2012-09-19 00:02] doronrosenberg commented on #3386
I guess the question is why is there a content attribute I assume

[code]

[2012-09-19 00:13] doronrosenberg commented on #3386
[code]

Weirdly enough, params in postscript has no content, yet in create it does.  Will debug furthur

[2012-09-19 01:42] aerwin commented on #3410
@JonFerraiolo As a potential item for 7.0.1?

[2012-09-19 01:56] jhpedemonte commented on #3410
Unless this is an easy fix, I feel this can wait for M8.

[2012-09-19 03:02] doronrosenberg commented on #3386
dijit/Layout/ContentPane.js

[code]

Looks like extractContent no longer works in 1.8.

[2012-09-19 03:47] peller commented on #3386
Ok, looks like I'm a couple of revs behind.  Dijit may not have had this functionality when the visual editor was written.

[2012-09-19 04:32] aerwin commented on #3410
--> M7.0.1

Turns out fix is really simple, so might as well move into M7.0.1...

The `EdgeToEdgeDataListInput` was populating the data store with data of the form:

[code]

The inclusion of `'identifier':'label'` was the problem. So, just removed it (which matches the examples given in the Dojo docs for `EdgeToEdgeDataList`.

[2012-09-19 04:41] aerwin commented on #3410
Closing with above commit.

[2012-09-19 04:46] aerwin commented on #3404
@JonFerraiolo

Reopening... happened to notice this is fixed for `SpinWheel`, but still seems to happen with `SpinWheelDatePicker` and `SpinWheelTimePicker`.

[2012-09-19 04:47] #3410 closed, assigned to aerwin

[2012-09-19 14:32] JonFerraiolo commented on #3404
-> @JonFerraiolo

[2012-09-19 15:18] jhpedemonte commented on #3374
The Eclipse bug has been fixed.  However, a new version of Equinox with that fix won't come out for a while.

Given that, the Orion team has implemented a [workaround](http://git.eclipse.org/c/orion/org.eclipse.orion.server.git/commit/?id=256f45c3daf7f3bd6ec24cc3cb1168ada4d56054) in their code.  Unfortunately, this is for Orion v1.0;  we're built on top of Orion v0.5.

Some options:
1. Convince Or

[2012-09-19 15:20] aerwin commented on #3354
--> @aerwin for investigation

[2012-09-19 15:22] JonFerraiolo commented on #3393
I did a set up on a virgin machine and indeed clicked on the "clone submodules" checkbox on the Import dialog.

[2012-09-19 15:53] JonFerraiolo commented on #3393
-> @JonFerraiolo after talking with @peller I will do some more investigation

[2012-09-19 15:58] peller commented on #3393
@rbackhouse This may or may not be related, but I noticed that org.cyberneko.html is used by another part of Maqetta (Orion?) and that we end up with two different versions of the cyberneko plugin in our download.

[code]

Perhaps egit is having trouble resolving the semantic versioning?  Is there a way we could reduce this so we only need one version of the plugin?  org.json may be a similar situ

[2012-09-19 16:07] jhpedemonte opened #3411 "LDAP support"
Create Orion plugin to support LDAP authentication.

---

**Tasks:**
1. (Phase 1) Authenticate users credentials (user ID & password) using an LDAP server.  LDAP parameters should be pulled from **maqetta.conf**.
2. (Phase 2) Pull relevant user data from LDAP server to populate Maqetta (Orion) user objects -- info such as **display name** and **email address** (the latter is needed for Review & Co

[2012-09-19 16:09] rbackhouse commented on #3393
They should be able to co-exist as their Bundle-Version values in their Manifest are different. The Zazl code should work with either 1.9.14 or 1.9.15 so if you want to not include the one from the optimizer-dependencies submodule in the download that should be fine.

[2012-09-19 16:10] rbackhouse commented on #3393
RE org.json. I re-named to org.json.js to avoid the conflict with the org.json java bundle orion depends on. I did this a while back

[2012-09-19 16:13] peller commented on #3393
oh right, then the org.json.\* plugins really are unrelated, then (both happen to be 1_0_0)

Is it possible (or even a good idea) for Orion and Zazl to use the same version of cyberneko?  Yes, they do generally co-exist... _maybe_ this is all about eGit having some bug and being unable to do right thing looking for a version match.

[2012-09-19 16:20] rbackhouse commented on #3393
I would think they should be fine using the same version. There shouldn't be state (statics) shared between usage, at least from Zazl's perspective.

Zazl's version should be under a different directory (/maqetta/zazl/dependencies) so I don't see why egit would have an issue.

[2012-09-19 16:38] peller commented on #3393
guess I was wondering if using the same version would trigger some osgi magic to have them actually share a copy... maybe not.

[2012-09-19 16:55] jhpedemonte opened #3412 ""Duplicate Project" feature"
Add a feature which allows a user to duplicate a project, keeping all settings, files and custom widgets.

Could be as simple as duplicating the files, then updating any references to new project name.

@JonFerraiolo

[2012-09-19 17:10] aerwin commented on #3354
@jhpedemonte @JonFerraiolo

Without being totally versed in this area, my gut feeling is that it's best for `XPathUtils.getXPath` to return consistent results. So, @jhpedemonte 's first proposal seems like the best.

And, indeed, I was able to fix the problem at hand with a relatively simple fix modification (marked below with `AWE TODO`):

[code]

I also confirmed that this works with a mobile pa

[2012-09-19 17:14] #3404 closed, assigned to JonFerraiolo

[2012-09-19 17:21] JonFerraiolo commented on #3354
@aerwin - I had come to the same conclusions. My feeling is that we should commit/push this fix and explicitly test the parts of the code that use XPath before shipping 7.0.1.

[2012-09-19 17:54] JonFerraiolo commented on #3388
-> @peller - See #3384 - do you know of any issues when you create a project named ".foo"? As you can see by #3384, I tried that and had no problem. The only problem I saw was when the project name was the single letter ".".

If you only saw problems with projects that are named ".", then let's close this.

[2012-09-19 17:58] JonFerraiolo commented on #3351
@jhpedemonte @childsb  Is anyone coordinating with the Orion guys or otherwise working on this issue?

[2012-09-19 18:04] peller commented on #3351
@skaegi

[2012-09-19 18:06] peller commented on #3388
This bug report was created when I created a project called ".foo" and got the 500 error on configProject.  Will update my comment to reflect this.

Creating a project called just "." may cause more serious errors, but I wouldn't want to ignore that.

[2012-09-19 18:36] rbackhouse commented on #3393
The Zazl code references the cyberneko classes via OSGi package imports in its Manifest. There is not version reference so that means if either of the cyberneko bundles are loaded and resolved the Zazl code will use it. If Orion has prereq'd the 1.9.14 and that is the one loaded both orion and zazl will use it.

[2012-09-19 18:40] aerwin commented on #3354
Closing with above commit.

[2012-09-19 18:40] #3354 closed, assigned to aerwin

[2012-09-19 18:49] JonFerraiolo commented on #3388
Could you please try this again? I was successful in creating a new project ".foo" just now.

[2012-09-19 19:29] peller commented on #3388
Ok, ".foo" works on Orion-integrated builds, fails on lab9.  Would be good to understand why, even if we never ship the former... one of those cases where we may be getting lucky in one particular config?

On any installation, though, just typing "." for a new project name leads to disaster.

[2012-09-19 19:57] JonFerraiolo opened #3413 "Register/activation - not handling user already exists well"
In testing on maqetta-test, I went to "Register" using my iBM email address, and got the activation email. Then after clicking on the link in the email, I went to the activation page. So far so good. But then I tried to enter my new password(s), and I got "user already exists". At that point, there is no button to press to return to the login screen.

Seems like we should check for existing users

[2012-09-19 19:59] JonFerraiolo opened #3414 "Activation page: button says "Sign up", should say "Activate""

[2012-09-19 20:15] JonFerraiolo opened #3415 "Page editor seems to toss out LINK elements entirely"
I tried to add a LINK element to an HTML file using the source editor. The stylesheets from the referenced stylesheet appear in preview but not in the page editor. Looking in the debugger, we seem to be not including custom LINK elements within the user iframe at all, but they are in the model because they are there for preview.

[2012-09-19 21:08] JonFerraiolo opened #3416 "No dotted border for various mobile container widgets"
@doronrosenberg

I am testing some of the new dojox.mobile widgets (Pane, ContentPane, ScrollablePane, etc) and they don't get a dotted border like DIVs and SPANs do. As a result, when they are on the page, there is no visual indication about their borders, and when dragging them around (in sketch mode) there are no bounds for the user to see.

[2012-09-19 21:18] peller commented on #3388
-> M8

[2012-09-19 21:19] JonFerraiolo commented on #3388
@jhpedemonte - @peller and @JonFerraiolo felt that this one could be done with M8. We have only one user report so far where they inadvertently created a project with name ".", and I suspect we've had this issue for several releases.

[2012-09-19 21:28] JonFerraiolo opened #3417 "GridLayout - exception - selection goes to top-left corner on create"
@doronrosenberg

With Mac/Firefox using today's build on maqetta-test:
- New mobile app, use ipad as device
- Drag a GridLayout onto canvas

I get an exception in the console

[code]

This is dying in `selectionSameParentNotBody` in an attempt to call `getParent()`, which is probably failing because the widget handle is stale.

Should fix for 7..0.1. I've seen this exception regularly when testing

[2012-09-19 21:33] doronrosenberg commented on #3386
@jhpedemonte @JonFerraiolo

So looks like we need to add parseOnLoad=false to contentpane, but make sure that it isn't written to the source.  It looks like if you paste a tabContainer, CreateTool::create or _create aren't called for the contentpane.

Looks like I would have to create a new helper method to do some massaging of getData() results, unless there happens to be a way that isn't documen

[2012-09-19 21:39] aerwin commented on #3416
Sounds like a dup of #3400.

[2012-09-19 21:41] aerwin commented on #3417
Sounds like a dup of #3402... though #3402 was closed only fixing FixedSplitter.

[2012-09-19 22:14] doronrosenberg opened #3418 "SaveAsWidget - exception"
- dnd a div
- dnd a calendar and a button into the div
- select the div
- Save As Widget
- Fill out the form and press save

The following error happens, as.sfsf being my group name and widget name:

[code]

[2012-09-19 23:38] aerwin opened #3419 "SpinWheel does not correctly distribute slot widths causing the slots to be wider than the parent"
@JonFerraiolo @jhpedemonte @doronrosenberg

Opening against M8 because I suppose isolated and assuming difficult for us to do anything about, but unfortunate because looks kind of bad...

Using Chrome on Mac going to local server...
1. New Mobile Application
2. Drag and drop RoundRect
3. Drag and drop SpinWheel into the RoundRect
4. Drag and drop SpinWheelSlot into the last slot of the SpinWheel
5

[2012-09-19 23:47] aerwin commented on #3409
@JonFerraiolo

--> back to M7.0.1 for discussion

I'm finding it so easy to hit the hang (it's not just emptying out the `labels` attribute) that I think if we can't address this in M7.0.1 that we almost have to tell users to avoid using SpinWheel. Or, maybe until we can fix we should hide `labels`, `labelsFrom`, and `labelsTo` from the palette?

The most recent way I hit it:
1. Drag SpinWheel ont

[2012-09-19 23:48] aerwin commented on #3409
@jhpedemonte

[2012-09-20 00:15] aerwin commented on #3419
--> Changing title to "SpinWheel does not correctly distribute slot widths causing the slots to be wider than the parent"

I was messing around some more and noticed this has nothing to do with RoundRect... I think it's all about the width of the slots...

Independent of RoundRect, I had a 3 slotted spin wheel taking up the full width and tried to set the margin and noticed the same thing happenin

[2012-09-20 02:51] peller opened #3420 "500 Server Error: Problem accessing /maqetta/cmd/publish"
Got this when trying to publish a review on maqetta-test

Also saw 400 errors trying to access blue pages info, but I do not think that was related.
"Problem accessing /maqetta/cmd/getBluePageInfo"

[2012-09-20 04:25] aerwin opened #3421 "Tree Smart Input weird horizontal scrollbar if resize node properties"
--> @aerwin For M8...

Using Chrome on Mac going to maqetta-test...

![GitHub Logo](http://i.imgur.com/Bw5GD.png)

[2012-09-20 04:44] aerwin opened #3422 "Tree Smart Input doesn't work with legacy trees"
--> @aerwin to assess for M7.0.1

Doing the "Editing "legacy" tree (optional)" section of the Trees test case... tree does not render in the smart input... There's nothing in the console, but turning on break on errors leads me to line 78 of `dijit.tree.ObjectStore` model:

[code]

The fact that this break in unbuilt source looks to be a 2nd issue that I'll open up separately.

[2012-09-20 05:07] aerwin commented on #3420
@jhpedemonte Do we possibly have an old `.review` directory on this box?

[2012-09-20 05:19] skaegi commented on #3351
Hmm... that's something we test.
In the Orion UI are you seeing the old name in the top right or is that your preferences are being cached?

Are you logging out in the Orion UI or Maqetta Designer?

[2012-09-20 06:18] aerwin opened #3423 "dojo parser error with this file - dies with SpinWheelDatePicker"
@peller

Opening for M7.0.1 for investigation...

Dojo parse errors are causing navigation to fail at runtime inside of SpinWheelDatePicker code (actually _DatePickerMixin.js and _PickerBase.js). Remove the SpinWheelDatePicker and everything works fine.
1. Create new mobile application with attached source
2. Preview app
3. Within preview, click on + button on first page (which is `rootView`) whic

[2012-09-20 06:26] aerwin opened #3424 "Mobile preview is sometimes empty when using scenes"
Opening for M7.0.1 for investigation...

Mobile preview seems to be tied to the selection in the Scenes palette (which is sometimes good and sometimes bad), but in my mobile app there appear to be a couple scenes that when selected result in nothing showing up in the device silhouette...
1. Create a new mobile application with attached source
2. Select the `addView_Notes` view in the Scenes palett

[2012-09-20 13:47] peller commented on #2995
see also logging added in #3234 (ffa3287ba836a2c8a40c41b6ce2c7a634c1a16a3) which should now be removed.

I logged a bug against Dojo for what looks like a back-compat problem: http://bugs.dojotoolkit.org/ticket/16023  In handleIoError, the object passed in for `reason` no longer has a status property.  It may be necessary to look at `reason.response.status` now instead.

[2012-09-20 13:53] billreed63 commented on #2995
Adam is correct, I have added code to check the reason.response.status and we now redirect to login on 401, 403

[2012-09-20 16:01] JonFerraiolo opened #3425 "RSOD due to Heading implementation change in Dojo 1.8 where 'back' results in a magically generated ToolBarButton"
If you add a Heading and then set the 'back' property to any value, under the hood, Dojo 1.8 creates a ToolBarButton widget. The Outline palette shows it, but because that automatically generated widget doesn't go through all of the dvWidget creation logic, bad things happen down the road.

Dojo 1.7 did not create an extra ToolBarButton widget and instead created a special DIV. (Which Maqetta was

[2012-09-20 16:04] aerwin commented on #3420
@jhpedemonte @childsb

The 500 errors are not occuring now after @jhpedemonte updated the server to the latest build. @jhpedemonte found this in the logs from before the upgrade:

[code]

This is the same exception as in #3143 which @childsb closed 20 days ago after we discovered (in that case) that MAQETTA_WORKSPACE was set to point at a workspace dir with a bad .review directory in it.

I'm not

[2012-09-20 16:13] #3386 closed, assigned to doronrosenberg

[2012-09-20 16:24] aerwin commented on #3420
In #3143, I had done some analysis into OrionPersonManager related to the and it looked like something had to be wrong with the `IOrionCredentialsService` and I passed it back to @childsb with the question:

Since then, we've uncovered a couple of additional problems that may or may not play a role here:
- #3406: Orion user id's are not consistent
- #3407: PersonManager only works with people who

[2012-09-20 16:34] jhpedemonte opened #3426 "IllegalStateException in "cmd/addFiles""
[code]

@maqetta/committers

[2012-09-20 16:36] jhpedemonte opened #3427 "NPE in SMTPTransport"
[code]

[2012-09-20 16:51] jhpedemonte commented on #3143
Reopening.  I'm still seeing quite a few instances of this exception.  Often following a call to `/maqetta/cmd/publish`, but sometimes the exception is by itself in the logs.

[2012-09-20 16:53] jhpedemonte commented on #3420
I reopened #3143, since I still see that exception in the latest server logs.  Don't know if this bug should be duped to that one or vice versa, or if they are slightly different.  I'll leave it up to @aerwin.

[2012-09-20 16:55] jhpedemonte opened #3428 "NPE in "cmd/deleteResource" request"
[code]

@maqetta/committers

---

Also seeing NPE with ["cmd/rename"](https://github.com/maqetta/maqetta/issues/3428#issuecomment-8743030).

[2012-09-20 17:00] jhpedemonte opened #3429 "MalformedURLException when calling Dojo Web Builder"
[code]

I think there were some fixes done on the Dojo Web Builder end, so this may no longer be an issue.  But should still be investigated.

[2012-09-20 17:00] aerwin commented on #3420
Yes, definitely a dup of #3143. So, closing.

[2012-09-20 17:00] #3420 closed, assigned to aerwin

[2012-09-20 17:02] jhpedemonte opened #3430 "Print request info to logs when printing stack trace"
Right now, we see stack traces for exceptions caught by `jetty.servlet.ServletHandler`.  Would be nice to also have a printout of the request info -- may add valuable information to help us track down the errors.

@peller

[2012-09-20 17:04] jhpedemonte opened #3431 "NPE in EclipsePreferences.put()"
[code]

@maqetta/committers

[2012-09-20 17:06] jhpedemonte opened #3432 "Create builds without UI components"
When building, Orion pulls in a bunch of UI dependencies, which we don't need.

[2012-09-20 17:06] aerwin commented on #3143
@jhpedemonte So, just to be clear... you're seeing it in current logs after your refreshed the server this morning? That's weird because I'm not seeing any indication of that in the browser console (and able to successfully list and create reviews) after you refreshed the server.

[2012-09-20 17:07] peller commented on #3432
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=389953

[2012-09-20 17:09] aerwin commented on #3429
Maybe a dup of #3387?

[2012-09-20 17:11] jhpedemonte opened #3433 "NPE in DavinciPageServlet.writePage()"
[code]

@maqetta/committers

[2012-09-20 17:13] jhpedemonte opened #3434 "Broken pipe when using Zazl"
[code]

Not sure if this is an issue with Maqetta/Zazl code, or just the network connection was severed (taking too long?  timed out?).

@peller

[2012-09-20 17:16] jhpedemonte opened #3435 "AssertionError in DavinciCommandServlet ("resetPasswor")"
[code]

@maqetta/committers

[2012-09-20 17:16] rbackhouse commented on #3434
Looks the same as #3313

[2012-09-20 17:17] jhpedemonte commented on #3429
Too right, thanks Tony. Dupe to #3387.

[2012-09-20 17:17] #3429 closed, assigned to peller

[2012-09-20 17:18] peller commented on #3429
Hrm.  #3387 seems to indicate two separate problems, but ok, we'll manage both there.

[2012-09-20 17:19] jhpedemonte commented on #3435
Notice the `/maqetta/cmd/resetPasswor`, missing a 'd'.  Do we have an incorrect call somewhere, or did someone mess with the URL?

[2012-09-20 17:20] jhpedemonte commented on #3435
Hmm, see several instances of this over the past few days:

[code]

[2012-09-20 17:22] peller commented on #3420
fwiw, I did see the 500 error on listVersions, but only after the error I got on publish (and on new sessions after that)

[2012-09-20 17:23] peller commented on #3434
yes, @rbackhouse beat me to it!

[2012-09-20 17:23] #3434 closed, assigned to rbackhouse

[2012-09-20 17:24] aerwin commented on #3387
--> back to M7.0.1 at least for discussion... e.g., I know the checkbox is experimental, but if doesn't work at all and we can't fix the underlying issue for M7.0.1, do we need to remove the checkbox until we can?

[2012-09-20 17:26] jhpedemonte commented on #3434
Yes.

I see about 6 instances of this over the past few days, on maqetta.org, so some users keep running into this.

I'm wondering if there's something we can do:
- Does this point to an issue where Zazl is taking too long and the user just gives up?  Maybe we can add some timing code to show how long Zazl requests are taking.
- If this is a known issue that we aren't going to do anything, at leas

[2012-09-20 17:28] jhpedemonte commented on #3433
Only see one instance of this since Sept 12.

I just noticed that this is a `writePage` call to **samples** directory.  Do we still allow this?  I thought we had client-side code to catch and disallow writes to read-only directories.

[2012-09-20 17:30] aerwin commented on #3420
@peller Can you successfully create a review now (since the server has been refreshed)?

[2012-09-20 17:34] jhpedemonte opened #3436 ""File already exists" server error"
[code]

3 times since Sept 12.

@maqetta/committers

[2012-09-20 17:35] peller commented on #3434
A progress indicator on the preview pane could get tricky, given that we don't usually modify the content in a preview, it's hard to know how it would interact, and catching the load event isn't as straightforward as it should be. OTOH, because we're already processing a filter to add the zazl code, we could easily inject more code.

I think silencing the exception is a good idea either way.

[2012-09-20 17:36] aerwin commented on #3425
@JonFerraiolo

I'm assuming what you're doing for this (making Maqetta stop seeing that widget as standalone)  would address this issue I also noticed last night (but forgot to open) where I can double click on the Back button and get a useless smart input:

![GitHub Logo](http://i.imgur.com/22VVI.png)

[2012-09-20 17:37] peller commented on #3420
@aerwin yes, works now

[2012-09-20 17:51] peller opened #3437 "typo in reset password link"
this link is visible in the e-mail sent to the user.  "resetTolken" should probably be "resetToken"

`http://myhost/mixloginstatic/LoginWindow.html?login=user@somedomain&resetTolken=12345678&redirect=../maqetta/`

[2012-09-20 18:11] #3425 closed, assigned to JonFerraiolo

[2012-09-20 18:13] JonFerraiolo commented on #3425
@aerwin - could you please pull the latest code with my fix above and verify that the picture you are showing above doesn't happen anymore?

[2012-09-20 18:15] JonFerraiolo commented on #3436
This could be the result of someone having multiple Maqetta windows open. Maybe in one window they created file1.html and then in another window they don't refresh and try to create file1.html again.

[2012-09-20 18:25] JonFerraiolo commented on #3375
verified on *standard and *hosted, still need to check on the internal hosted build

[2012-09-20 18:26] JonFerraiolo commented on #3385
verified on *standard and *hosted, still need to check on the internal hosted build

[2012-09-20 18:30] aerwin commented on #3425
@JonFerraiolo

Think it's fixed... this is what happens now... which feels a little weird since I think I'm clicking on the Cancel button, but I think it's the right thing (bringing up smart input for the Heading):

![GitHub Logo](http://i.imgur.com/w5NRa.png)

[2012-09-20 18:39] jhpedemonte commented on #3437
Watch out, the "tolken" misspelling (I believe it was purposeful) is all over the code.

[2012-09-20 18:44] jhpedemonte commented on #3143
@aerwin, seeing this on maqetta.org server logs.

I grepped through all of them since we shipped M7 and only saw 4 instances in that time, all back-to-back on the same day (Sept 14).

So this is rare, for the moment.  Of course, if it's only surfaced by using R&C, that could have something to do with it -- I expect R&C is not used much by the majority of our users on maqetta.org.

[2012-09-20 18:49] JonFerraiolo commented on #3424
@aerwin - I think I have this problem fixed, but off to lunch now...

[2012-09-20 19:08] jhpedemonte commented on #3428
This one's been happening daily on average, since M7 launch.

[2012-09-20 19:16] aerwin commented on #3143
For what it's worth, since @jhpedemonte has seen these on maqetta.org, I just went out to try and create a review on maqetta.org and it seemed to work. So, at least that's good. :)

[2012-09-20 19:18] jhpedemonte commented on #3303
I've seen the `java.lang.IllegalStateException` about 4 times since M7 launch on maqetta.org.

[2012-09-20 19:22] jhpedemonte commented on #3427
Seen about 17 times since M7 launch on maqetta.org, always following a registration.  I hope this isn't preventing users from getting their registration email.

@JonFerraiolo @peller

[2012-09-20 19:26] aerwin commented on #3143
Well, now, I just logged into maqetta-test and see 500 errors for listVersion in the browser console again.

[2012-09-20 19:28] jhpedemonte commented on #3427
Did a spot check of some of the affected users and they all seem to have logged in.  So at least the registration email is getting sent, before (or despite) this error.

[2012-09-20 19:33] jhpedemonte commented on #3426
I only see this exception on Sept 14, roughly coinciding with times when the server was deadlocked (see #3374).  So closing this one.

[2012-09-20 19:33] #3426 closed, assigned to nobody

[2012-09-20 19:36] jhpedemonte opened #3438 "NPE when calling "cmd/createProject""
[code]

@JonFerraiolo, I know you recently looked at an issue where projects with "." failed.  Could this be related?

[2012-09-20 19:43] jhpedemonte commented on #3428
Also seeing this, which is probably the same issue.

[code]

[2012-09-20 19:51] jhpedemonte opened #3439 "NPE when invoking "cmd/configProject""
[code]

[2012-09-20 20:00] jhpedemonte opened #3440 "Create "Submit bug report" form"
I think we should add a **Submit Bug Report** link to the help menu.  Selecting this item opens up a dialog which asks the user for pertinent information about a bug they've seen.  Clicking **Submit** would automatically generate a bug report in GitHub issues.

Questions to ask:
1. What were you trying to do?
2. How did it fail?
3. Are there any errors in the browser console?
   - A help link woul

[2012-09-20 20:13] billreed63 opened #3441 "support for dojox.form.TriStateCheckbox"
I have found a regression in dojo 1.8 so we can't set the states attribute for TriStateCheckbox
http://bugs.dojotoolkit.org/ticket/16028
@peller

[2012-09-20 21:03] aerwin commented on #3143
In the end, I think we need @childsb to weigh in here about how a "bad" entry could be added to the `persons` data structure... but I took another quick peek and thought it strange that `getPerson` in `OrionPersonManager` tries to add the person if it doesn't find  him:

[code]

This is different from the `getPerson` impl in `PersonManagerImpl` in `maqetta.core.server` that just acts as a look up

[2012-09-20 21:22] JonFerraiolo opened #3442 "SmartInput for Heading - can we have pointer arrow come from middle of Heading?"
For Heading, having SmartInput come from top-left corner can be confusing (see picture below). In thie case, it would be better to have SmartInput come from the center. I'll bet we would need to add new metadata (and new code in SmartInput.js) to provide such flexibility.

Low priority.

![GitHub Logo](http://i.imgur.com/w5NRa.png)

[2012-09-20 21:22] JonFerraiolo commented on #3442
@aerwin

[2012-09-20 21:24] JonFerraiolo commented on #3425
Spin-off issue for SmartInput location.: #3442

[2012-09-20 22:03] aerwin opened #3443 "Best practices: Use java.util.logging for server side trace"
For M8...

Related to #2598 & #3430 (and maybe others)... we should start using java.util.logging on the server side instead of System.out.println, e.printStackTrace, etc.

[2012-09-20 22:17] #3424 closed, assigned to JonFerraiolo

[2012-09-20 22:18] JonFerraiolo commented on #3424
@aerwin - could you please pull and verify that the fix works for the case you provided above?

[2012-09-20 22:44] wocmultimedia commented on #3391
I think this other strange behaviour is connected to previous one but it's up to you understand it.
I created a new project populated with 3 views and a scrolling_view
I add a picture to the Menu_Item background and I load a .png image for the same button linking to a View using moveTo:... I downloaded the workspace complete. Then I tested the files and result is on this shot were is the picture s

[2012-09-20 22:49] aerwin commented on #3424
@JonFerraiolo Yes, appears to be fixed... even before I removed the Date Picker...

[2012-09-20 23:48] #3417 closed, assigned to JonFerraiolo

[2012-09-20 23:53] aerwin commented on #3143
I didn't get the memo that @childsb has left the team, so @jhpedemonte had a chat with @childsb about `getPerson` having a call to `addPerson` in it. It sounds like @childsb speculated it was put there for R&C at some point. I don't know if that true or not, but as I explained to @jhpedemonte in ST... R&C doesn't call `getPerson` or `addPerson` anywhere I can see. And, like I tried to explain abov

[2012-09-21 01:07] aerwin opened #3444 "Size zero selection chrome when hide widget with eyeball in outline"
Using Chrome on Mac with maqetta-test...

This might not be new, but never noticed it before.... probably because usually don't have item I'm hiding selected...
1. New desktop application
2. Drag widget onto canvas
3. Select widget
4. Click eyeball in outline to hide widget and see size 0 selection chrome in upper left corner

![GitHub Logo](http://i.imgur.com/0GFY7.png)

[2012-09-21 02:49] peller opened #3445 "using *.php extension causes error"
Try to create a CSS file called file1.php.  You get an error:

[code]

which is caught here:

[code]

I'm thinking maybe this has to do with the config info in web.xml (in the server WEB-INF dir) to treat php as text... perhaps web.xml isn't getting used at all?

[2012-09-21 02:54] JonFerraiolo opened #3446 "Double-click on image brings up empty "Select a source" dialog"

[2012-09-21 03:16] JonFerraiolo opened #3447 "Renaming states isn't updating Events dropdowns properly"
I thought I had this all working.

I created 3 custom states, a, b, c, and then deleted b, and then renamed c to b. Then Events dropdown menu continues to say c instead of b.

[2012-09-21 04:00] aerwin opened #3448 "Case where mobile page editor does not reflect theme, but preview does"
@billreed63

Using Chrome on Mac going to maqetta-test...

I don't have replication steps for this, but maybe @billreed63 can look at my workspace?

I was doing the mobile theme editor tests with a cloned iphone theme and things were working well. At some point, the page editor stopped rendering with my custom theme (even after logging in and logging out).

![GitHub Logo](http://i.imgur.com/IBcoR.

[2012-09-21 04:03] aerwin commented on #3446
@JonFerraiolo Do you have a more specific use case? When I double click on an img it brings up a properly populated select a source dialog.

[2012-09-21 04:09] aerwin commented on #3448
also... I just created a new mobile application pointing at the theme in question and the page editor properly reflects the theme...

[2012-09-21 04:29] aerwin opened #3449 "Blackberry w/ custom theme: Uncaught TypeError: Object [object Object] has no method 'startup'"
@billreed63

Using Chrome on Mac going to maqetta-test...

I have a reliable scenario within my workspace that reproduces #3448, but there's an explicit exception involved (which I can't confirm happened at any time when I first observed #3448) so opening as separate issue...
1. Create new blackberry application pointing at my cloned blackberry theme (e.g., balckberry2)
2. Drag view onto page
3. D

[2012-09-21 05:21] aerwin commented on #3422
Closing with above commit.

[2012-09-21 05:21] #3422 closed, assigned to aerwin

[2012-09-21 13:01] billreed63 opened #3450 "Unable to register new user"
When I click on the activation link to activate my account I enter in the new password and see the following exception after pressing the save button

[code]

 the response from the request

[code]

[2012-09-21 13:12] billreed63 commented on #3450
I think maybe this was an age issue, I registered yesterday afternoon but did not try to use the activation link until this morning. Does the activation have a freshness date?

[2012-09-21 13:33] billreed63 opened #3451 "Can not drag and drop in files palette"
I created a new folder in the files palette and then wanted to drag a file from the root folder to the subfolder
I could not DnD the files

[2012-09-21 14:22] jhpedemonte commented on #3387
Regarding last commit, what will user see if DWB download fails?

[2012-09-21 15:07] billreed63 commented on #3448
@aerwin Can you copy the HTML to this issue

[2012-09-21 15:15] aerwin commented on #3448
Sure...

[code]

[2012-09-21 15:21] aerwin commented on #3143
-> M8
-> Prio down to High, Severity down to 2

Per scrum, we'll keep this open to see if exception recurs and anything else we can do about it...

[2012-09-21 15:22] aerwin commented on #3143
Looks like no one's assigned (was @childsb ) as of yesterday, so I'll put my name on it...

[2012-09-21 16:18] billreed63 opened #3452 "Exception when switching to source editor"
With the latest code from git
1) Create a mobile page
2) Once the page is created  and displayed click on the source button

the following exception

ncaught ReferenceError: htmlEditor is not defined :8081/maqetta/app/davinci/ve/PageEditor.js?@revision@:48
declare.constructor._srcCP.resize :8081/maqetta/app/davinci/ve/PageEditor.js?@revision@:48
size :8081/maqetta/app/dijit/layout/utils.js?@revisi

[2012-09-21 16:48] #3449 closed, assigned to JonFerraiolo

[2012-09-21 16:50] JonFerraiolo commented on #3449
@aerwin - could you please pull latest code and take at least a couple of minutes to make sure this problem is fixed?

[2012-09-21 16:52] billreed63 commented on #3452
This is a regression from cc639d288859ac86ab3586688ae6c6fa0a00bca6

[2012-09-21 16:55] JonFerraiolo commented on #3446
Closing this bug until a reproducible case emerges.

Must be something intermittent because I just tried again and the dialog came up just fine. I was running through the States test plan at the time and accidentally double-clicked on the image of SampleBanner.jpg that I had on my page and there was an empty dialog.

[2012-09-21 16:55] #3446 closed, assigned to aerwin

[2012-09-21 17:01] JonFerraiolo commented on #3445
I'm pretty sure that we look at the file extension to determine file type, and if a file has extension ".php" we send it to the HTML parser, not the CSS parser.

[2012-09-21 17:03] jhpedemonte commented on #3430
Sending to @peller, who said he had an idea how to handle this, at least partially.

[2012-09-21 17:07] #3452 closed, assigned to peller

[2012-09-21 17:20] aerwin commented on #3449
@JonFerraiolo @billreed63

I can't totally confirm since I originally found the problem on maqetta-test... but, after trying to do a similar scenario from what I had on maqetta-test I think the combo box exception is gone... but, I'm seeing other things:
- Clone blackberry theme and make changes to global background and combobox
- Create new mobile application with blackberry device
- Switch theme

[2012-09-21 17:48] JonFerraiolo opened #3453 "Console exceptions when launching Maqetta in two situations - poor handling of workbenchState"
I'm putting this one for M8 instead of M701 because it seems a bit too risky. I have the fix ready, but I'm too nervous about sending it to users without more testing time.

Scenario 1:
- Have two projects, eg, project1 and project2
- In project1 have a file open
- Switch to project 2

Scenario 2:
- Open Maqetta
- Open a file
- Close file so there are no editors open
- Refresh Maqetta

Result=> Ex

[2012-09-21 17:55] #3453 closed, assigned to JonFerraiolo

[2012-09-21 18:36] aerwin opened #3454 "ThemeSetSelection exception"
@JonFerraiolo @billreed63

Spin-off trying to confirm fix for #3449... using Chrome on Mac going to local server after git pull...
- Clone blackberry theme and make changes to global background and combobox
- Create new mobile application with blackberry device
- Switch theme and see following exception which I don't recall from last night

[code]
- Drag View onto page
- Drag mobile combo box onto

[2012-09-21 18:39] aerwin opened #3455 "Can't view html source: Uncaught ReferenceError: htmlEditor is not defined PageEdito"
@jhpedemonte @JonFerraiolo

Discovered while trying to get HTML source to put into #3454...

Using Chrome on Mac going to local server after git pull:

When I click on the source tab for any HTML file I see the following exception and can't see source:

[code]

[2012-09-21 19:22] #3448 closed, assigned to billreed63

[2012-09-21 19:40] billreed63 commented on #3455
Sounds like dup of #3452

[2012-09-21 19:46] billreed63 commented on #3454
I think this is a result of #3452, which is fixed now and I don't see this error with the latest pull

[2012-09-21 19:46] #3454 closed, assigned to billreed63

[2012-09-21 19:47] #3455 closed, assigned to peller

[2012-09-21 20:22] peller commented on #3279
accidentally checked in an experiment 1c6f34c8baea451b068fa7923c7751075e6abb21 to defer selecting the pane until all tabs were loaded (still fails), which had flaws corrected by @JonFerraiolo 66eaac97a071fbf7985c7309c726c5ac7a0dddc8

[2012-09-21 20:24] JonFerraiolo opened #3456 "NewHTMLFileDialog needs to verify that "sticky" theme is in current project"
@billreed63 @aerwin

Bug is really mine, but assigning to @billreed63 who understands the theme stuff better.

Just noticed when fooling around with things that if you create a page with a custom theme, then switch projects (and that project doesn't have that theme), then create a new page, the new page come up with no styling.

The fix is to make sure that the "sticky" theme stored in workbenchSt

[2012-09-21 20:42] JonFerraiolo commented on #3423
I studied this one some more and figured out that SpinWheelDatePicker produces a TypeError if the view holding the SpinWheelDatePicker isn't currently visible. No TypeError if the View holding the SpinWheelDatePicker shows initially.

[2012-09-21 20:45] JonFerraiolo commented on #3423
Here's a simpler file that causes the same problem:

[code]

[2012-09-21 21:06] JonFerraiolo commented on #3423
Sent email to dojo team about this problem.

[2012-09-22 00:08] JonFerraiolo commented on #3279
@peller - Can you look at the above commit (off in branch 3279CsNullExceptionFix)? I may have found the source of the problem and come up with a fix.

What I was observing was that the IF statement at EditorContainer.js:84:

[code]

was picking the wrong initial editor because (I am guessing) selectedChildWidget gets updated each time we do an `addChild` on the StackContainer (the "EditorsContaine

[2012-09-22 01:00] peller commented on #3279
I traced that code back to this checkin about a year ago f5cad4500176626dbe6dbeb2d497b301c41d86f9  The intent was to check to see if the editor was actually the one visible in the TabContainer.  The original check did just that... perhaps with all the async callbacks, there's an opportunity for that condition to change before the code finishes execution?  I guess, once things settle down, if the s

[2012-09-22 15:40] JonFerraiolo commented on #3279
By "settle down", you mean all of the initialization process have been completed? Yes, once all of the tabs are properly initialized, then the selected child check would work, but with all of our async processes, my conclusion is that it is better to check against activeEditor rather than selected tab because `davinci.Workbench._state.activeEditor` doesn't change during the initialization process

[2012-09-23 09:09] megaD opened #3457 "Source code input not responsive on Preview 7"
For whatever reason on my MacBook Pro (Mac OS X 10.7/Safari) the source code entry is not responsive. On my PC (Windows 7/Firefox) that doesn't happen.

Could you investigate?

Please let me know if you need more details.

[2012-09-23 09:55] itamarro commented on #3457
Happens to me too - source code editing has a considerable delay after any change I make (even just typing text in without changing elements). Happens to me both on Chrome and FF, on Win XP.

[2012-09-23 10:47] megaD commented on #3457
Ok, it just occured to me on Windows 7 and Firefox as well so it's not limited to the Mac and XP.

[2012-09-23 16:41] wocmultimedia commented on #3329
I think this other strange behaviour is connected to previous one but it's up to you understand it.
I created a new project populated with 3 views and a scrolling_view
I add a picture to the Menu_Item background and I load a .png image for the same button linking to a View using moveTo:... I downloaded the workspace complete. Then I tested the files and result is on this shot were is the picture s

[2012-09-23 18:35] peller commented on #3430
I'll just put try/catches around the doGet/doPost/doPut calls in our two servlets, catching RuntimeExceptions and rethrowing them.  @jhpedemonte What info should I print out form the request?

[2012-09-23 18:43] peller commented on #3387
@jhpedemonte if an error occurs, because we're treating the zip download as a standard browser download, if the result is HTML rather than a type like application/zip, it will just replace the main page with the error message.  I don't think this is necessarily a bad thing -- I'm a big fan of page transitions -- but I can see how this doesn't fit with the way our app works right now.  It also coul

[2012-09-23 18:44] peller opened #3458 "Error pages need Maqetta themed template"
Unexpected server errors, when visible to the user, show up as black-on-white, standard jetty server pages.  It would be good to theme these and provide support info, if that turns out to be helpful.

see #3387

@jhpedemonte

[2012-09-23 18:46] peller opened #3459 "Provide error feedback on Download"
see #3387

Standard web browsing is used to download the workspace.  Errors on Download results in browsing to a (standard) error HTML page which could be better themed (#3458)  Consider whether it's necessary to provide a more complex mechanism to avoid this page transition and provide our own error UI within the Workbench, such as a toaster, or provide progress data via the HTML5 file API.

[2012-09-23 18:50] peller opened #3460 "DWB versioning is not flexible"
@jthomas

The Dojo library version mentioned in the call to Dojo Web Builder is fixed at 1.8.0, which we expect to be supported by the builder web service.  Because maintenance releases may come out, the server could eventually move up to 1.8.1 and remove 1.8.0.  That would break our existing clients.

Should there be some simple semantic versioning that says give me 1.8.x?

see #3387

[2012-09-23 19:21] #3387 closed, assigned to peller

[2012-09-23 21:04] peller commented on #3376
The [custom ant code](https://github.com/maqetta/maqetta/blob/master/maqetta.core.client/customBuildCallbacks.xml#L44) replaces the pattern `@revision@` in welcome.html and pagedesigner.html.  We need to apply a similar ant rule to the equivalent HTML file for Maqetta-Orion integration

[2012-09-24 02:31] peller commented on #3376
looks like that would be maqetta.client.orion which has a copy of WebContent/pagedesigner.html (also preview.html, testbed.html and welcome.html, which probably should be removed)

@jhpedemonte @childsb @aerwin

[2012-09-24 16:53] JonFerraiolo commented on #3435
I haven't found anything wrong yet.

One thing to consider: Is it possible that the Jetty log system is truncating `/maqetta/cmd/resetPasswor` because there is an arbitrary 25-char limit? If there is truncation going on, then maybe the URL requests are OK, but something else is amiss.

@jhpedemonte and @JonFerraiolo searched the sources and didn't find any misspellings where the code uses `resetPa

[2012-09-24 17:08] peller opened #3461 "ipad: create tool not working on click"
Create a new file
Click on (touch) a widget in the widget palette, like Button
Click on (touch) the canvas.
Nothing happens.

Context.js is only passing onMouseDown events to the CreateTool, not touch events

[2012-09-24 17:10] peller commented on #3461
could use dojo/touch module

[2012-09-24 21:02] JonFerraiolo opened #3462 "Runtime needs to work in IE8"
- Sample1.html doesn't run in IE8, probably because of appstates. Seems to die with `delete _maqAppStates`. Maybe IE doesn't like delete statements on undefined properties?
- Preview doesn't work when silhouettes are showing. Maybe sniff the browser, and if it's IE, then don't try to show the silhouette

[2012-09-24 21:51] billreed63 opened #3463 "Exception when expanding TabContainer in outline"
1) Create desktop html
2) DnD TabContainer
3)DnD BorderContainer
4) Expand BorderContainer
5) from outline DnD TabContainer and drop in center ContentPane of BorderContainer
6) Try to expand TabContainer

Note the following exception

Uncaught TypeError: Cannot read property 'parentNode' of null dijit.js:3278
_2da.getParent dijit.js:3278
_1462.setChildItems.isExpandable davinci.js:28304
_507.forEa

[2012-09-24 22:37] JonFerraiolo opened #3464 "Mobile theme changes to TabBarButton don't seem to work"
I was trying to change styling in the mobile theme editor for TabBarButton, but the result did not seem to take. I haven't had time to investigate, but maybe @billreed63 can take a look at this. One issue might be that the default viewing options shown in the mobile theme editor for TabBarButton are different than the default viewing options in the page editor.

[2012-09-24 23:09] JonFerraiolo commented on #3455
I verified that this issue isn't present in today's build.

[2012-09-24 23:17] JonFerraiolo commented on #3448
I verified that this issue doesn't appear in today's build.

[2012-09-24 23:17] JonFerraiolo commented on #3449
I verified that this issue is fixed with today's build.

[2012-09-24 23:18] JonFerraiolo commented on #3454
I verified that this issue isn't present in today's build.

[2012-09-24 23:54] JonFerraiolo opened #3465 "Dojo Web Builder doesn't work for me"
I created a new project, then a new desktop app, added a Button, save, and then download entire workspace with DWB option checked. The Maqetta window gets replaced by an error page that says this:

[code]

[2012-09-24 23:55] JonFerraiolo commented on #3387
Tried to verify this issue, but DWB didn't work for me, so opened a new issue #3465.

[2012-09-25 00:01] peller commented on #3465
Need to upgrade DWB on that server to latest code

[2012-09-25 00:02] JonFerraiolo commented on #3434
I verified that ZAZL works on the test server with a non-trivial file.

[2012-09-25 00:04] JonFerraiolo commented on #3422
I ran the test plan on legacy trees today and verified against today's build that legacy trees work, at least to some extent.

[2012-09-25 00:05] JonFerraiolo commented on #3423
Reopening. The fix is there, but not yet merged into master.

[2012-09-25 01:23] #3423 closed, assigned to JonFerraiolo

[2012-09-25 05:04] #3430 closed, assigned to peller

[2012-09-25 05:37] peller commented on #3346
confirmed working now on master and 701 branch

[2012-09-25 05:41] peller opened #3466 "cs is null if user switches tabs while page is rendering in editor"
a variation on #3279

Open two files.  See two tabs. One is selected.
Reload Maqetta.  The selected editor will render and be visible.
Now select the other editor.  Quickly, before it has a chance to finish rendering, switch back to the other tab which has already finished rendering.
The second editor will continue to render, even though it is not visible (display:none) and will therefore generate

[2012-09-25 09:13] jthomas commented on #3460
Good point!

Opened https://github.com/dojo/dwb/issues/23 to handle this, will try and get to it before I leave.

[2012-09-25 12:14] jhpedemonte opened #3467 "Manual creation of user fails"
Tried to create a user through the Orion admin panel, but failed with this error:

[code]

[2012-09-25 12:25] jhpedemonte commented on #3385
One thing I forgot here:  need to allow "admin" user name.

[2012-09-25 12:27] jhpedemonte opened #3468 "Add to Orion test case"
Add some more tests to Orion test:
1. Log in as "admin".
2. Try to create a user through admin panel.

@JonFerraiolo

[2012-09-25 12:28] jhpedemonte commented on #3467
@skaegi, did you ever run into such an issue with Orion v0.5?

[2012-09-25 14:18] billreed63 opened #3469 "Unable to save BorderContainer using saveAs widget"
I created the following html :

[code]

I select the BorderContainer
When I attempt to use save as widget I receive the following message:

`Invalid Selection. Please select a single container widget to create a new Widget`

[2012-09-25 14:26] billreed63 commented on #446
The conformation from the file palette delete is an alert box

[2012-09-25 14:36] JonFerraiolo opened #3470 "ScrollableView - SmartInput doesn't work on RoundRectList if there is fixed Heading and TabBar"
SmartInput fails to open for the RoundRectList because Widget.byId() doesn't find the container widget which is because widgetHash doesn't have the container widget in its widget list. Has to do with our old nemesis, where ScrollableView rearranges the DOM hierarchy if there are widgets with fixed=top or bottom.

No problem with Release 7, but on investigation, I think this worked in Release 7 bec

[2012-09-25 14:42] jhpedemonte commented on #3469
Yes, I've seen the same thing with **TabContainer**.

[2012-09-25 15:02] jarthorn commented on #3467
I don't know what RegistrationFilter.doFilter is doing, but you are passing a null argument to EclipsePreferences.node.

[2012-09-25 15:07] #3376 closed, assigned to peller

[2012-09-25 16:22] JonFerraiolo opened #3471 "Email regex disallowing admin login"

[2012-09-25 16:27] JonFerraiolo commented on #3471
Reopening until we have successfully verified testing on standard and hosted configurations.

[2012-09-25 16:41] #3471 closed, assigned to JonFerraiolo

[2012-09-25 17:02] JonFerraiolo commented on #3385
I moved the "admin" part into a separate issue: #3471

[2012-09-25 18:07] billreed63 opened #3472 "Scrollbar for widget palette resets to top"
1) Open a desktop page
2) Expand Dojo controls
3) Scroll down and select a widget
4) Expand Files palette scroll down and select wideg
5) Now do back to the widget palette and click in the scroll area below the scroll bar knob
 Note that the widget palette resets to the top of the scroll area

[2012-09-25 18:14] JonFerraiolo commented on #3470
Here are steps to reproduce on Mac/Chrome:
- New Mobile app
- Add ScrollableView
- Add Heading, set fixed=top
- Add TabBar, set fixed=bottom
- Drag/drop RoundRectList.

Result=> SmartInput doesn't show up

[2012-09-25 20:11] JonFerraiolo opened #3473 "Device orientation not honored on document open"
We had this bug in M7, too.

Create a new Mobile app. Set orientation to landscape. Look at source view and the attribute is set properly. Save, close, reopen.

Result=> Document opens in portrait.

(Note: preview will show landscape mode properly)

[2012-09-25 20:44] doronrosenberg commented on #3470
Might be a dojo bug as scroll view get children doesn't return them

[2012-09-25 20:45] jhpedemonte commented on #3467
@skaegi @jarthorn Sorry about that, got confused with another stack which was pure Orion.

Looks like RegistrationFilter was written for one specific case and did not take into account this case.

[2012-09-25 21:00] JonFerraiolo commented on #3470
I think it's a Maqetta bug - we aren't putting the non-fixed children inside of the mblScrollableViewContainer DIV. The getChildren() method is looking for children in that DIV. If we were putting children in there correctly, then getChildren() would find them.

[2012-09-25 23:16] doronrosenberg commented on #3470
ScrollableView should implement a addChild that adds the widget to the containerNode, I'll file a bug with dojo

[2012-09-25 23:16] #3470 closed, assigned to doronrosenberg

[2012-09-26 00:07] #3473 closed, assigned to billreed63

[2012-09-26 00:33] jhpedemonte commented on #3470
Please add link to the Dojo bug.

~~Also, we have some Dojo checked in and some coming in from submodules.  Does this one need to go in both?~~ _(nevermind)_

@peller

[2012-09-26 01:43] jhpedemonte commented on #3435
No, there are other messages with longer text, so that's not it.

These errors always come from `doGet`, meaning that this is a GET request.  However, as Jon mentioned, we only ever do POST requests to reset the password.  So not sure where this is coming from.

[2012-09-26 13:53] #3394 closed, assigned to billreed63

[2012-09-26 16:22] billreed63 opened #3474 "Exception when loading page with GridX"
I get the  following exception, the gridX seems to continue loadig

(doc || win.doc).getElementById is not a function

Line 15

on FF/Win  win loading the following html

[code]

[2012-09-26 16:22] JonFerraiolo opened #3475 "IE problems with login screen"
LoginWindow.js uses addEventListener, which isn't support in IE8. From a user perspective, right now the login screens just don't do anything. There is a JavaScript error under the hood, but this is not surfaced to a user.

We should surface the errors somehow to users. One approach for the short-term would be to have the login screens post a message about how Maqetta doesn't support IE, try anoth

[2012-09-26 17:34] JonFerraiolo opened #3476 "Download dialog inconsistencies - select none removes "hidden" libraries"
@childsb @peller

There is currently different behavior with the download dialog depending on whether you click on the "select none" option or manually unselected the checkboxes for each of the libraries. If you click on "select none", then under the hood various "hidden" libraries (e.g., maqetta/_, themes/_, samples/*) also get unchecked.

Maybe we should re-introduce checkboxes for these other l

[2012-09-26 17:38] JonFerraiolo opened #3477 "Can't download read-only files"
In the test plan for download, we are asked to download the themes/sketch folder. If I attempt to do that, and then click "select none" in the download dialog because I only want to download the sketch theme and no other files, I get an empty ZIP file. But it's not just themes. I tried to download the Samples/ folder, and again clicked "select none", and again I ended up with an empty ZIP.

[2012-09-26 18:02] billreed63 opened #3478 "Changes not showing in preview"
If I make changes to a HTML file in the source editor and then immediately  preview the page the changes sometimes are not displayed in the preview.

I suspect that the working copy has not been saved to the server yet so We are see the old version. If I wait a few seconds then refresh the page I see the changes. like wise if I wait a few seconds before previewing then I do see the updates

This w

[2012-09-26 19:20] billreed63 opened #3479 "SaveAs widget does not work for dojox mobile"
Created the following

[code]

Selected the dojox.mobile.ScrollableView and saveAs widget myMobile starter

Create a new mobile page and DnD the stater onto the new page

The widget shows in the outline but nothing on the designer

[2012-09-26 19:29] jhpedemonte commented on #3374
After building with the deadlock workaround in Orion 0.5, users cannot switch between projects in Maqetta.  The workbench state (which includes the current project) isn't getting saved within the Eclipse preference store.  Currently investigating.

@JonFerraiolo

[2012-09-26 20:08] jhpedemonte opened #3480 "Switching project will overwrite app.js/app.css"
When switching to a project, the **app.css** and **app.js** files get overwritten.

This is because on the server `OrionUser.isProject()` always returns `false`, meaning that Maqetta will initialize what it thinks is not a project directory with some default content.

`isProject()` fails because of the call to `VOrionStorage.findFiles()`, which cannot take a path that is actually a path -- it assu

[2012-09-26 20:10] jhpedemonte commented on #3143
@doronrosenberg was testing today and I saw many stack traces that look like this:

[code]

[2012-09-26 21:09] jhpedemonte commented on #3443
Or use Orion's logging facilities.  For example, see `org.eclipse.orion.server.core.LogHelper`.

[2012-09-26 21:39] jhpedemonte commented on #3374
Added calls to `flush()` after instances of `IEclipsePreferences.put()`.  This matches what the Orion code seems to be doing.  Also, this fixes the [issue with switching projects](https://github.com/maqetta/maqetta/issues/3374#issuecomment-8902113).

[2012-09-26 21:40] jhpedemonte opened #3481 "Upgrade to Orion v1.0"
**Tasks**
- [x] Update use of Java APIs.
- [x] Do we need to make any changes based on Orion's [new file URL](https://bugs.eclipse.org/bugs/show_bug.cgi?id=343264).
- [x] Update Maqetta auth plugins based on changes to that of Orion (including changes to LoginWindow.\* files).
- [x] Handle new required `login` field for auth server APIs.
- [x] Change to use Orion's `UserEmailUtil` and config props

[2012-09-27 00:16] JonFerraiolo commented on #3386
I verified that this bug is still fixed in today's build

[2012-09-27 00:27] JonFerraiolo commented on #3391
@wocmultimedia: do you have the ability to pull down nightly builds from http://maqetta.org/nightly/ ? (Don't use the "hosted' version, use the other one) It would be nice to know if the problem has gone away in the nightly builds. We hope to ship a minor update with this fix within the next few days.

[2012-09-27 01:20] peller commented on #3312
see #3020 #2949  Also, user PaulK is reporting a similar problem on the ML today (Sept 26)

[2012-09-27 01:22] peller commented on #3312
perhaps we shouldn't even attempt the parse if the response code != 200

[2012-09-27 01:44] JonFerraiolo commented on #3383
verified with latest build that datastores are moving with widgets

[2012-09-27 01:47] JonFerraiolo commented on #3376
I verified with today's build that the files that had @revision@ in original bug report now have a proper version string

[2012-09-27 01:47] JonFerraiolo commented on #3361
verified that the widget icons are indeed there in today's build

[2012-09-27 01:52] JonFerraiolo commented on #3354
verified in latest build that the problem has been fixed

[2012-09-27 01:52] #3168 closed, assigned to peller

[2012-09-27 02:11] JonFerraiolo opened #3482 "Shapes sometimes have black interior on preview"
When I copied/pasted this into source view, and then hit preview on Mac/Chrome, the rectangles came out with black fill and no stroke.

[code]

[2012-09-27 02:16] JonFerraiolo commented on #3482
After further study, the problem is that I had moved the shapes library from `lib/shapes` to `shapes` and the file I copied/pasted was created in a project where the shapes library was in its regular place.

Leaving this bug open as a reminder to study whether shapes and clipart are relocated properly (as dojo is).

[2012-09-27 02:24] JonFerraiolo commented on #3347
Reopening - problem has returned in today's M701 build on the testing server.

[2012-09-27 02:39] JonFerraiolo commented on #3347
I think we need to update the addChild() method in ve/_Widget.js to look for and use helper.addChild if it is available instead of directly adding the node as in:

[code]

and

[code]

[2012-09-27 02:46] JonFerraiolo commented on #3346
Reopening. I'm seeing the problem in today's build on the testing server.

[2012-09-27 02:54] JonFerraiolo commented on #3279
@jhpedemonte

Reopening - the fix for this didn't get properly cherry-picked into the M7_0_1 branch.

[2012-09-27 02:55] JonFerraiolo commented on #3346
@jhpedemonte

The fix for #3279 this didn't get properly cherry-picked into the M7_0_1 branch.

[2012-09-27 07:46] wocmultimedia commented on #3391
I downladed the file. How do I have to use it? My M7 is set in C:\Maqetta7\maqetta
do you mean I've tu build another project or where I find the project created if I install this new version in another folder?
Sorry, but I'm not a so clever developer
Thanks
Angelo

[2012-09-27 11:34] wocmultimedia commented on #3391
Hi Jon,
I uploaded a screen shot of my local disk where M7 is installed. I noted something strange between M6 and M7 configuration about " user" folder. On M6 in the user folder appears the username (my email) which I still use to access and the project1 is listed while in the same folder on M7 it's totally empty. Maybe is normal but I prefer to show it to you because I haven't found my projects i

[2012-09-27 11:57] jhpedemonte commented on #3480
Reopen.  Will close once we've verified the fix on builds.

[2012-09-27 13:24] JonFerraiolo commented on #3279
@jhpedemonte - I just cherry-picked and pushed f5052b7c75e4029ad92b45187f730e393e222e7b from master into M7_0_1 branch. Somehow we missed that commit when creating the M7_0_1 branch. . Let's retest when a new build is available.

[2012-09-27 13:28] JonFerraiolo commented on #3346
I just cherry-picked and pushed the fix for #3279 into M7_0_1 branch. Let's retest when a new build is available.

[2012-09-27 14:00] JonFerraiolo commented on #3347
More info:

I see that ItemFileReadStore ends up being a generic widget (going through class _Widget.js) and not a Dijit widget (i.e., going through class DijitWidget). This causes the following logic in DijitWidget.js:addChild() to fail this check:

[code]

[2012-09-27 14:09] jhpedemonte commented on #3347
If I recall correctly, I think a lot of the stores (and other non-UI widgets) are treated as "object" widgets, rather than "dijit" widgets.

[2012-09-27 14:18] JonFerraiolo commented on #3347
Possible movement towards fix is in branch 3347DataListInScrollableView, with first commit being 7c9d2553aebf843b5ca790286a36d7de3fcbc9c0. THAT COMMIT IS AN INCOMPLETE IMPLEMENTATION. It changes the signature on the addChild helper function. Several other addChild helpers still need to be updated to reflect the new signature. @billreed63 - internal helpers might also be affected.

[2012-09-27 14:21] JonFerraiolo commented on #3347
Also, I noticed that the "index" used in ScrollableViewHelper isn't always adjusting things to take into account child order number. It works fine if adding to the end, but if dragging/dropping widgets into the middle of ScrollableView, it sometimes places the new widget at the wrong drop point.

[2012-09-27 14:42] billreed63 commented on #2372
I have spent some time looking at the *-compat.css files for dojo 1.8.

The purpose of the Maqetta theme editor is to provide the user with a tool to make changes to a theme that will be reflected across all browsers, to support this we generate CSS Rules that would support this. So for example if the user where to change the dojox.mobile.Heading backgound color we would generate the following rul

[2012-09-27 15:58] doronrosenberg commented on #3347
Could we perhaps add some metdata flag to ScrollableView to say "always let me handle adding of children, no matter what widget is being dropped"?  That would localize the change to ScrollableView without having to change other helpers

[2012-09-27 16:10] JonFerraiolo commented on #3347
For M8, I say clean up the code and fix all of the helpers.

For 701, if we want to localize changes for M701 so that we only change ScrollableView's addChild method, then I would suggest temporarily adding a helper with a different name or something like that for M701 or temporarily putting an IF statement in _Widget.js or whatever to do special-case logic if widget.type==dojox.mobile.ScrollableV

[2012-09-27 18:24] jhpedemonte commented on #3480
Confirmed fixed with latest build.

[2012-09-27 18:24] #3480 closed, assigned to jhpedemonte

[2012-09-27 18:25] jhpedemonte commented on #3467
Moving to M8.  Too risky a fix for 7.0.1.