[2012-09-27 18:26] jhpedemonte commented on #3374
Closing for now.

[2012-09-27 18:26] #3374 closed, assigned to jhpedemonte

[2012-09-27 18:37] billreed63 opened #3483 "Mobile theme css files not being added to model on HTML moble page create"
Create a HTML mobile page chose any theme
When a page is created `Context.._configDojoxMobile` is called  which adds the mobile theme css files to the model.  The issue is that Context.._configDojoxMobile does a `this.getGlobal()['require']('dojox/mobile');`  which throws and exception that we catch and life is good.

What is happing here is even though we created a mobile html we do no add  a req

[2012-09-27 20:16] jhpedemonte commented on #3427
Added logging for M7.0.1.  Pushing to M8.

[2012-09-27 20:23] #3347 closed, assigned to doronrosenberg

[2012-09-27 20:29] JonFerraiolo opened #3484 "Clean up addChild helpers"
In latter stages of M7_0_1, I added a ScrollableView-specific helper addChild701 which takes dvWidgets as parameters rather than dijitWidget because ScrollableView sometimes takes non-dijits as children. (In the particular case at hand, it was an ItemFileReadStore)

We need to convert all addChild helpers to take dvWidgets as arguments instead of dijiWidgets, and then rename the helper in Scrollab

[2012-09-27 22:10] doronrosenberg opened #3485 "Tooltips for widgets in Widgets Palette"
@JonFerraiolo

The idea is to have tooltips show when hovering over widgets in the widgets palette.  `widgets.json` would have 2 new fields - `detailedInformation` and `detailedInformationBase64`.

`detailedInformation` would point at a relative resource file that would get displayed in the tooltip and the base64 one would have the cached contents.  The resource could be text or html.

Pretty stra

[2012-09-27 22:46] #3409 closed, assigned to jhpedemonte

[2012-09-27 23:41] JonFerraiolo commented on #3279
Closing again. Appears to be fixed in M7_0_1 builds.

[2012-09-27 23:41] #3279 closed, assigned to peller

[2012-09-27 23:42] JonFerraiolo commented on #3346
Closing again. Appears to be fixed in M7_0_1 builds.

[2012-09-27 23:42] #3346 closed, assigned to peller

[2012-09-27 23:43] JonFerraiolo commented on #3375
verified on internal build, closing

[2012-09-27 23:43] #3375 closed, assigned to JonFerraiolo

[2012-09-27 23:43] JonFerraiolo commented on #3385
verified on internal build, closing

[2012-09-27 23:43] #3385 closed, assigned to JonFerraiolo

[2012-09-27 23:44] JonFerraiolo commented on #3393
Not a ship-stopper for M7_0_1, pushing to M8

[2012-09-28 00:06] hoodieboy opened #3486 "file typeerror: cannot read property 'length' of undefined"
when using jsonp in the gridx dialog I get above error message.  My url is pointing to my local host and Im using a down loaded version on my desktop. my url looks like this http://localhost/Services/LG/GetCouponReg.php?output_type=j&callback=j and I'm assuming the Callback is appended to the url by maqetta to get the results in javascript function format.  I know it is making the call because of

[2012-09-28 00:26] jhpedemonte commented on #3486
@JonFerraiolo @aerwin

[2012-09-28 02:07] jhpedemonte commented on #3413
See #3333, wherein Brad added a check for _Reset Password_ to see if user exists before sending out email.

[2012-09-28 08:59] wocmultimedia commented on #3391
@billreed63
It was a bit difficult to find the lines you suggested in the #3391 cause no number correspondence in my M7 even though using search function in notepad++ I succeeded to add these lines in places you showed but nothing changed at all, my pictures are always not shown.
Sorry, you seems annoyed to reply to such problem but please, your fix #3391 isn't aspirin to be used for any symptoms.

[2012-09-28 13:29] billreed63 commented on #3391
Have you downloaded the nightly build and been able to reproduce the issue on the nightly build?
If the nightly build fixes your issue then you will need to apply all the commits in this issue to M7. or better yet replace your M7 with the nightly.

[2012-09-28 13:45] wocmultimedia commented on #3391
I downloaded and installed the September 26, nightly build but I need to know where I can find the projects folder to open the problematic project with the new version.
In my local disk I'm not able to find any folder related to projects created in the M7 you can see by yourself that screen shot doesn't show any project in M7 user while there is project1 in M6 folder.
If you can say me where proje

[2012-09-28 14:00] cjolif commented on #2372
@billreed63

Mid/long term (2.0) I envision as you suggested that we will move some of compat work back into main CSS. See one of the items in our enhancements here: https://docs.google.com/document/d/1vwYIx-scMnVXUJS9mK890LC58pDle08rwl1SKHv4YfM/edit#heading=h.g5hxjjhmidjb

That said I don't think this will occur in 1.9 this is more a 2.0 thing. In particular:
1/ this would be a good time because

[2012-09-28 14:07] billreed63 commented on #3391
The users files are now stored in the folder  `$absusersdir` If you look in that folder you will most likely see letters for example `a` look in those folders and you will see the files from your workspace. on the nightly build create a user first then copy the files from M7 to the nightly  for example from M7 folder `a` copy the contents to nightly build folder `a`.

I really hate to ask you this

[2012-09-28 14:11] jhpedemonte commented on #3391
@wocmultimedia, if you downloaded a Maqetta build and started it up using the included scripts, then you will have a folder called **users** in the Maqetta directory.  This is where all files and user information is stored.

To use the same data for a new build, simply copy that **users** folder to the new build and start from the scripts.

[2012-09-28 14:34] wocmultimedia commented on #3391
Ok I will download and try it why not, I'm here to go on with you not only for my needs

[2012-09-28 14:52] #343 closed, assigned to JonFerraiolo

[2012-09-28 15:20] #3483 closed, assigned to billreed63

[2012-09-28 15:27] doronrosenberg commented on #3379
Server throws a 413 (Request Entity Too Large) on a 3.9 meg file.  The UI implies it was successfull, so the upload/cancel buttons reenable and the file name stays in the upload list

[2012-09-28 15:52] wocmultimedia commented on #3391
Here I'm!
I made several test how below described
Nightly build 26/9
Created a new similar project to that not correct shown and it worked, I turned off and restart PC it is still there working.
I downloaded and installed 28/9 nightly
then I went in old M7 $abusersdir found that the folder was "j" (no mention about project name, I guessed by the custom folder I added)  I copied and pasted on the n

[2012-09-28 16:17] JonFerraiolo opened #3487 "Intermittent wrong layout in page editor with ScrollableView and fixed header/footer with custom theme"
@doronrosenberg

M8 issue - I researched to see if a last minute fix for M701 was feasible and desirable, and concluded that it was a timing issue and too difficult and risky to fix for 701, and there is a user workaround.

The problem is that with the following rather simple file the RoundRectList sometimes (but usually) gets mis-positioned in page editor after save, close, reopen. It is pushed d

[2012-09-28 17:18] billreed63 commented on #3391
It sounds like your theme files are not being loaded, check to ensure that your have copied the theme  that your file is using over to your new workspace.. For example if the page that is not displaying the theme is using Theme2 use the open -> theme to open Theme2 to ensure that it is indeed in the workspace.  If it is indeed in the workspace try switching the theme of the of the problem page to

[2012-09-28 17:27] doronrosenberg opened #3488 "Theme Editor - text-decoration doesn't work"
@JonFerraiolo @jhpedemonte
- Clone iPhone theme
- Select header
- Try changing text-decoration to underline.

Doesn't work.

[2012-09-28 17:29] hoodieboy commented on #3486
i cannot see your comment.  Did you comment?  I checked my jsonp output with jslint and it is good.

[2012-09-28 17:44] JonFerraiolo opened #3489 "Vertical slider left labels and rules are mispositioned"
This file renders its labels and rules at the wrong locations. Fails in preview also.

[code]

[2012-09-28 17:46] JonFerraiolo commented on #3489
Here is a snapshot:

![Vertical slider layout issue](http://i.imgur.com/D9jv2.png)

[2012-09-28 17:46] doronrosenberg opened #3490 "Outline - drag/drop of contentpane with child throws error"
- dnd a contentpane
- dnd a button into it
- dnd a div into the document
- dnd the contentpane into the div

try to expand the contentpane:

[code]

[2012-09-28 17:59] JonFerraiolo opened #3491 "Need to test/debug combinations of modify libraries and download with relocation"
@childsb

I have seen some bugs with changing library locations both via modify libraries and relocating libraries as part of download. This whole area needs thorough scrutiny of the code and test cases that cover at least a sampling of the scenarios.

Some things around the edges that we need to check:
- Eclipse projects vs regular projects
- Modify libraries in combination with relocating on dow

[2012-09-28 18:00] billreed63 commented on #3391
For mapping projects read this post https://groups.google.com/forum/?fromgroups=#!topic/maqetta-devs/B5HQov9o80w

[2012-09-28 18:24] jhpedemonte commented on #3486
I just copied some other devs on this bug, so they'll take a look.

Does the error actually prevent GridX from pulling in the information?

[2012-09-28 18:45] wocmultimedia commented on #3391
Ok, I'm not disappeared I just spent 1 hour making tests cause I went out of office and closed the browser then, on my way back, I restarted chrome and M7 but the old project hanged. I tried to restart the PC and to re-paste the old folder but nothing at all. All other projects opened regularly at any new restart but not the old one.
Here's a link about the server message during the hanging phase

[2012-09-28 18:50] wocmultimedia commented on #3391
@billreed63 Your latest link is very helpful for my question about Projects and other references, Thanks a lot.

[2012-09-28 19:53] billreed63 commented on #3391
If you can create a new project and open a new mobile page with the correct display on the 28 nightly build then you have a problem with the project you are trying to copy over.

[2012-09-28 20:16] peller commented on #2910
should be fixed in Dojo 1.8.1

[2012-09-28 21:06] JonFerraiolo commented on #3486
@doronrosenberg @aerwin @billreed63 - where is the code that actually invokes JSONP services?

I played around with scenario where I was trying to run Maqetta at localhost:8081 and issue a JSONP request to http://localhost, but ran into a wall because the gridx dialog appears to be disabling the OK button if the URL has the string 'localhost' in it. I grep'd dojo for 'localhost' and I see by defau

[2012-09-28 22:04] wocmultimedia commented on #3391
Yes, billreed63, I tested in any sausage! In fact, during the hanging ( I mean M7continues loading for several minutes) I can click and open Files tab and select another existing project of the newly created that opens regularly.

[2012-09-28 22:21] hoodieboy commented on #3486
yes.  The dialog never advances to the next stage, selection of columns.
 Just in case it helps, I have attached the json and jsonp output that is
being passed back.

On Fri, Sep 28, 2012 at 11:24 AM, Javier Pedemonte <notifications@github.com

[2012-09-28 23:02] JonFerraiolo opened #3492 "Disallow mobile views within SaveAs Widget document fragment"
@billreed63 @childsb

Dojo and Maqetta can't deal with mobile *View widgets if they are embedded inside of a custom widget. What I recommend is adding a hook to SaveAs Widget which goes through all of the widgets inside the custom widget and calls a helper function which sees if that widget can be included within a custom widget. For *View widgets, the result would be false.

[2012-09-28 23:05] JonFerraiolo opened #3493 "Custom widgets with mobile dojo inside need to call "initialize dojo mobile" logic"
If you create a custom widget with some dojo mobile widgets inside, then create a new html file, then add the custom widget as the first widget in the document, the mobile widgets don't render correcly. However, if you then add a mobile Heading widget, both the Heading and the custom widget now render correctly.

Somehow or other we need to invoke the "first mobile widget" initialization logic if

[2012-09-28 23:08] JonFerraiolo commented on #3479
I'm pretty sure we won't be able to allow any of the *View widgets as the root widget for SaveAs Widget. Both dojo and Maqetta need *View widgets to be right there in the DOM directly, not one level underneath within a custom widget wrapper. I created issue #3492 for that.

I also created #3293 after observing that custom widgets with mobile widgets inside don't render correctly if added as the fi

[2012-09-28 23:16] JonFerraiolo commented on #3463
I just tried this on both the testing server and then running from Eclipse and I don't see the exception.

I assume the TC and BC are siblings before attempt to dnd the TC into the BC's center pane.

-> @billreed63 to try this again. Maybe there are some details missing from the steps?

[2012-09-28 23:45] JonFerraiolo commented on #3474
-> @peller - I think this is a dojo bug.

Here is the stack trace:

[code]

What's happening is that, in file dojo/request/script.js, within its "deadScripts" logic, dojo is saving references to iframes as strings, and then calling `byId()` using the string reference to the iframe to byId instead of passing a document object. Therefore, this line of code at dom.js:54:

[code]

raises an exception

[2012-09-28 23:46] JonFerraiolo commented on #3474
@aerwin

[2012-09-28 23:47] JonFerraiolo commented on #3451
@jhpedemonte
Lowering to Prio-Med

[2012-09-29 03:51] cooljeffrey opened #3494 "Support standard reply JSONP data for GridX Wizard"
Currently, if we choose the Data from URL (JSONP) option in GridX Configuration Wizard, the wizard expects the reply data in some format like : callback({ identifier: 'id', label: 'name',  items: [  ... ] }) . But for generic JSONP response which is not only used for maqetta, the replied data would be  : callback([ ... ]), without the identifier, label and items properties, which is actually more

[2012-09-29 16:08] #3400 closed, assigned to nobody

[2012-09-29 16:08] #3416 closed, assigned to JonFerraiolo

[2012-09-29 16:36] JonFerraiolo commented on #3399
@doronrosenberg @jhpedemonte

I'm still thinking about this one. From a user perspective, will everyone figure out that if they want to add a ListItem into an existing RoundRectList that they need to double-click on one of the ListItem widgets to bring up SmartInput?

For M8, I thinking about offering hover help on each widget in the Palette (and maybe an additional selection visual aid when a par

[2012-09-29 16:44] JonFerraiolo commented on #3358
The proposed HTML markup:

[code]

isn't valid HTML. Maqetta generates actually executable HTML (i.e., the pages the Maqetta creates will actually run in the browser) and therefore Maqetta has to create code that the browsers will understand. Things that are CSS properties like 'position', 'z-index', and 'top' have to be defined either within the 'style' attribute (e.g., `style="position:absolute;

[2012-09-29 16:44] #3358 closed, assigned to nobody

[2012-09-29 17:02] #3343 closed, assigned to JonFerraiolo

[2012-09-29 17:51] JonFerraiolo commented on #3396
@billreed63

The hard part here is to figure out how to expose "preview without silhouette" in the Maqetta UI. I don't want to clutter to toolbar with another icon or turn the preview button into a dropdown button. Instead, here are my best suggestions:
- Add a preference to show mobile applications running inside of a device silhouette (with default of true)
- Option-click on preview icon causes

[2012-09-29 20:40] JonFerraiolo opened #3495 "Shift-key login not causing resetWorkbenchState=1"
@doronrosenberg

When we changed the login screens to use forms with onsubmit handlers, we broke the logic where holding down the shift key when clicking on the Log In button would append `?resetWorkbenchState=1` to the request to start the Maqetta application. It doesn't work now because key modifier status isn't included on the event object for a submit event.

My best idea for fixing would be t

[2012-09-29 21:58] JonFerraiolo commented on #3495
Reopening to allow verification in builds

[2012-09-29 22:18] #3444 closed, assigned to nobody

[2012-09-30 00:00] #3339 closed, assigned to JonFerraiolo

[2012-09-30 09:28] megaD commented on #3457
Any news about this issue?

[2012-09-30 14:06] jhpedemonte commented on #3457
-> M8/High, need to investigate this soon.

@JonFerraiolo

[2012-09-30 14:25] JonFerraiolo commented on #3457
I've seen this too and talked with @peller about it. This is probably due to the re-parsing that happens after you type characters into the source pane. Best guess is that during the re-parsing, the source editor is unresponsive.

[2012-09-30 14:29] JonFerraiolo commented on #3457
@peller, @doronrosenberg - do either of you know whether the reparsing happens even when in source-only mode? For long-haul, we need to make source editing responsive in split view, but maybe there is a quicker fix we could apply if the user is only looking at the source code?

[2012-09-30 14:30] JonFerraiolo commented on #265
-> M8 Prio Med - haven't heard any complaints from users or developers about this.

[2012-09-30 14:30] JonFerraiolo commented on #240
-> M9

[2012-09-30 14:38] JonFerraiolo commented on #96
@doronrosenberg: maybe we could have Context.js:onMouseUp publish an event (e.g., /maqetta/pageeditor/events/mouseup) and then the Outline palette could listed for that event, and stop the drag/drop processing.

[2012-09-30 14:39] JonFerraiolo commented on #392
@jhpedemonte -> M9

[2012-09-30 16:18] JonFerraiolo commented on #396
Progress on this issue is in branch 396SurroundAbsolute

[2012-09-30 17:22] #396 closed, assigned to doronrosenberg

[2012-09-30 17:29] JonFerraiolo commented on #581
@jhpedemonte -> M9

[2012-09-30 17:29] JonFerraiolo commented on #659
-> @peller

[2012-09-30 17:30] JonFerraiolo commented on #676
@jhpedemonte -> M9

[2012-09-30 17:36] JonFerraiolo commented on #733
Note that I put a temporary hack into ModifyCommand.js as follows to address #3425:

[code]

Maybe we can go further in this direction with a less hacky approach where we explicitly tell ModifyCommand what properties it should remove versus set to empty string values.

One thing we should investigate is whether the widget-specific properties should always translate empty string values into delete

[2012-09-30 17:40] JonFerraiolo commented on #1189
@jhpedemonte -> M9

[2012-09-30 17:44] JonFerraiolo commented on #1935
@peller @jhpedemonte - Just checked - problem still exists - we still select the wrong button in source pane

[2012-09-30 17:52] JonFerraiolo commented on #2184
@peller - how best to report this to Bill Keese? I would think it's reasonably common that uses would surround Dijit UI controls with a DIV, and then use line-height on the DIV to achieve vertical alignment of the controls within the DIV. On the Dijit side, just need to explicitly set line-height within the CSS style declarations for the given widget. (I suspect this situation would apply to more

[2012-09-30 17:58] JonFerraiolo commented on #2904
@doronrosenberg - can't we close this one? Cmd/Ctrl-O brings up file open dialog now.

[2012-09-30 18:05] JonFerraiolo commented on #3284
Closing - I don't see this in M701

[2012-09-30 18:05] #3284 closed, assigned to childsb

[2012-09-30 18:09] JonFerraiolo commented on #3289
-> me

Only way I can think of to deal with this would be to add yet another helper method, eg surroundAllowed

[2012-09-30 18:12] JonFerraiolo commented on #3291
-> me

What I'm thinking is that the new html file logic should have a list of folders where you can't create new files, and reset the current "where" folder to a parent folder which is ok for creating new files.

[2012-09-30 18:22] JonFerraiolo commented on #3489
I see this running 701 off of the maqetta-test server. On my system, I had this problem, but it went away when I recloned from scratch. Could it be that somehow or other we are building with a non-final version of Dojo?

[2012-10-01 13:24] billreed63 commented on #3396
If the user sets the device type to "none" and then previews the page they get the URL without the preview
`http://app.maqetta.org/maqetta/user/Be/ws/workspace/tri_sec/m_index.html`

If we want to add the url of the page why not just add the URL of the preview to the Previews frame that displays the silhouette. We currently have the text device and zoom So just add a line above that states "Displa

[2012-10-01 13:28] #3479 closed, assigned to childsb

[2012-10-01 13:36] billreed63 commented on #3391
Since M701 is working correctly I would suggest that you copy tour files over to a project folder you have created in M701. I would only copy the HTML and Themes.  One at time to see which file is corrupted.

[2012-10-01 14:44] #3291 closed, assigned to JonFerraiolo

[2012-10-01 14:56] doronrosenberg commented on #2904
@JonFerraiolo There is still no keybinding to create a new file.

[2012-10-01 14:56] peller commented on #3457
yes, reparsing happens for any text editor.  Right now, the only difference between split view and source-only is whether the visual editor is hidden.  Because everything is architected around the model, we have to update the model, but we certainly could postpone it a lot longer for source-only.

[2012-10-01 15:01] peller commented on #3457
@megaD is the file you're editing complex or contain a large number of widgets?  What happens now is that Maqetta should let you type freely in the source editor.  When you stop typing for a certain interval (a second or so) then it refreshes the visual view.  That normally doesn't take too long (less than a second) but with a longer document it would be longer.   Could you clarify what you mean b

[2012-10-01 15:09] wocmultimedia commented on #3391
I will let you know about, later. Thanks

---------- Header Originale -----------

Da      : "Bill Reed" notifications@github.com
A          : "maqetta/maqetta" maqetta@noreply.github.com
Cc          : "wocmultimedia" info@wocmultimedia.com
Data      : Mon, 1 Oct 2012 06:36:05 -0700
Oggetto : Re: [maqetta] Mobile Theme disappears on reopening project (#3391)

[2012-10-01 15:25] doronrosenberg commented on #3490
@peller

Caused by dijit tree - when you remove a tree node, it destroys the node and all children.  However it does not remove child tree nodes from its internal cache (_itemsNodeMap), so if you readd a node that has the same id as a child tree node, it finds a cached item and tries to use it, but the cached item is null.

[2012-10-01 15:27] aerwin commented on #3474
--> @aerwin

Closing... dup of #2910. (And, also dup of #3187 opened by @billreed63.).

[2012-10-01 15:27] #3474 closed, assigned to aerwin

[2012-10-01 15:31] JonFerraiolo commented on #2904
duh, sorry

[2012-10-01 16:15] peller commented on #2520
As of a015f94b40bdd7bea2b26c1e71cad1a2454942ff, download will fail if DWB is unable to retrieve content rather than continue with an unbuilt zip.

@rubimazaki see #3460 for versioning improvements

[2012-10-01 16:15] #2520 closed, assigned to peller

[2012-10-01 16:21] JonFerraiolo commented on #2055
The above commit establishes mouseup event listeners, but doesn't yet marshall the event into CreateTool. I'm not sure at this point if the above commit is actually a good approach. We have deal with the ChooseParent stuff, which means we probably have to track mousemove events, not just mouseup events. And then the mousemove event handler probably has to call into ChooseParent.js to first call `g

[2012-10-01 16:55] peller commented on #2184
@JonFerraiolo by messed up, you mean the drop down arrow doesn't expand vertically?  The fact that the control expands to allow its embedded text to conform to the inherited line-height seems to be in keeping with the spec.

[2012-10-01 17:21] JonFerraiolo commented on #3490
Incidentally, I think we need a mechanism for the outline to know that it might have stale references and needs to rebuild either the entire tree or at least parts of the tree. We have various operations in Maqetta that recreate widget objects (and maybe dom nodes). For example, ModifyCommand calls createWidget() to create a whole new widget whenever any widget properties change.

[2012-10-01 17:32] doronrosenberg commented on #3490
@JonFerraiolo I already did that in M7.  I decoupled it from the widget model - now we just store the widget ids in the tree model and fetch the widget whenever we need to do something on it.

[2012-10-01 17:48] wocmultimedia commented on #3391
I made this test:
Open M701 with latest project
I tried to reload the old project and it hangs
I deleted this project and project1 opened correctly
I went in file manager
chose one folder of the new projects and copied
1- file1.html then back to chrome/M701 and selected this project from the menu, it opened, no problem besides no pictures shown
2- add images folder from the old project to the new

[2012-10-01 18:07] JonFerraiolo commented on #2184
No, I mean that the whole control should not grow vertically if line-height is defined. Take a look at the following image which shows the following controls inside of a DIV with height:36px and line-height:36px:
- Dojo ComboBox
- Dojo TextBox
- Dojo Button
- HTML `<select>`
- HTML `<input>`
- HTML `<button>`

![Dojo ComboBox vs HTML select](http://i.imgur.com/TxaMX.png)

Which spec? The Dojo spec

[2012-10-01 18:23] peller commented on #2184
Filed a [Dojo ticket](http://bugs.dojotoolkit.org/ticket/16086)

[2012-10-01 18:57] aerwin commented on #3489
Just a bit ago, @JonFerraiolo sent me a link to a Dojo bug report found by @peller that seems to cover this issue: http://bugs.dojotoolkit.org/ticket/16085

The Dojo bug report describes it as Chrome-specific, and indeed when I try @JonFerraiolo 's file in FF it works just fine.

I'm running locally from Eclipse after the latest git pull and see the issue in Chrome, so per @JonFerraiolo 's questio

[2012-10-01 19:02] peller commented on #3489
The report implies that it's a regression in Chrome 22, so the browser version is also relevant.

[2012-10-01 20:03] jhpedemonte commented on #3468
-> M8

[2012-10-01 20:03] jhpedemonte commented on #3465
-> M8.  Please close if already fixed.

[2012-10-01 20:04] jhpedemonte commented on #3351
-> M8

[2012-10-01 20:05] jhpedemonte commented on #2995
-> M8

[2012-10-01 20:58] megaD commented on #3457
My document is not really long nor do I use any widgets. Just plain HTML and some JavaScript. The delay is like for half a second or second. I'll try to take a look at the Error Console to see what comes up.

[2012-10-01 20:59] aerwin commented on #3486
@hoodieboy Thanks for attaching your data. The GridX widget gets its data from an instance of [dojo.data.ItemFileReadStore](http://dojotoolkit.org/reference-guide/1.8/dojo/data/ItemFileReadStore.html). If you follow the link you'll see that it has a spec for the format of the data it expects, and it does not appear that your data conforms to that spec. E.g., from the docs:

[code]

So, for example

[2012-10-01 21:00] aerwin commented on #1631
--> Raising to Prio High from Med because a user ran into this in #3486

[2012-10-01 21:06] megaD commented on #3457
The console doesn't throw any error but I took a screenshot of the network tab: http://screencast.com/t/DxMaqa30Xhww

I think the  ~0.7s entries is what I experience as a delay.

[2012-10-01 21:57] peller commented on #3457
Thanks, @megaD.  Yes, those transactions could be the issue.  They're still synchronous XHR calls, made from `davinci/html/CSSFile.js`  line 32:

[code]

Because they're synchronous, they're probably interfering with keyboard and mouse activity.   We'll have to look at moving that over to the asynchronous file.getContent() call.

Also, I'm wondering why these are network HTTP hits and not cache hi

[2012-10-01 22:11] peller commented on #3457
[code]

[2012-10-01 23:13] JonFerraiolo commented on #3457
@billreed63 @childsb - do either of you know why we are doing a sync call to get a CSS file?

[2012-10-01 23:40] peller commented on #3457
The model is built out of xhr calls, specifically using the old Resource API.

[2012-10-02 00:59] peller opened #3496 "lots of loose .js files in application load"
everything should be in the davinci.js layer.  Sometimes I see individual requests for modules like dojo/window.js after loading the layer files, but I do not see this consistently.

[2012-10-02 03:05] doronrosenberg commented on #3457
@peller Does dojo have a web worker wrapper?  That would be a potential quick fix.

[2012-10-02 05:16] aerwin opened #3497 "HTML table column width undo does not revert to defaults (e.g., "auto")"
Using Chrome on Mac...
- New HTML file
- Drag HTML table and click OK on dialog
- Note structure of HTML table in source

[code]
- Select first column and change size and note style prop updated with width attribute on first COL element:

[code]
- Hit undo and table is rendered incorrectly. Look at source and see height and width attributes set to 0 on first COL element (rather than style property

[2012-10-02 05:39] aerwin opened #3498 "Table columns unselected when property is changed"
Using Chrome on Mac...

I think this must be a fairly recent regression...
1. New HTML file
2. Add HTML table to canvas
3. Select a column
4. Using props palette, change background color and note column is unselected

Cells and rows seem to stay selected when their props are changed, so seems column specific.

[2012-10-02 06:21] peller commented on #3457
@JonFerraiolo @billreed63 please review.  @billreed63 is it ok to load CSS model asynchronously like this?

[2012-10-02 06:22] peller commented on #3457
HTTP hits are apparently Cache-Control: no cache.  @billreed63 was this necessary for the theme editor? any way we can take advantage of the cache here?

[2012-10-02 13:35] billreed63 commented on #3457
I don't see why we could not load the CSS files async, The CSS files are loaded two way's  the CSS files are loaded through xhr and added to the model. This has to be done through the Factory so that the CSSFile model is shared by ThemeEditor, VisualEditor and PageEditor. The CSS files are also loaded by http in the browser for styling the page. We do not want the CSS files cached If the CSS is ca

[2012-10-02 13:43] billreed63 commented on #3391
Very good, thanks

[2012-10-02 14:09] JonFerraiolo commented on #3498
Debugging suggestion: try to put a breakpoint in Context.js's select() and deselect() methods. My first guess is that someone is calling select() and that logic isn't dealing with column selection properly.

[2012-10-02 14:14] JonFerraiolo commented on #3497
Two things that might help:
- Look at SpinWheelSlotHelper.js and notice that blank string values get converted into "delete property" actions
- grep from the root of the maqetta github repository for the string `MAQ_MODIFYCOMMAND_DELETE_PROPERTY`

[2012-10-02 15:05] aerwin opened #3499 "Performance issue with maqetta.org"
@jhpedemonte @JonFerraiolo @peller

Using Chrome on Mac going to maqetta.org...

Mentioned this to @jhpedemonte yesterday after he asked me to do a sanity check of the 7.0.1 upgrade... guess it's possible I'm really the only one seeing this, but since still happening this morning, I thought I should get it on the books because maqetta.org is basically unusable for me.

Despite being on a 35+ Mbps

[2012-10-02 15:45] aerwin opened #3500 "Add finer grained ability to set headers to HTML table (e.g, first col header in addition to first row header)"
We currently have an checkbox for "First row header" in the smart input for HTML tables. It would be nice if we gave user some finer grained control here perhaps as simple as an additional checkbox for "First column header".

Our docs mention an example of using an HTML table as a layout element of name/address form with labels on left and textfields on right. If someone were to actually do this,

[2012-10-02 16:41] JonFerraiolo commented on #3484
@jhpedemonte
-> M8 Prio Med

[2012-10-02 16:43] JonFerraiolo commented on #3487
@jhpedemonte
-> M8 Prio-Med

[2012-10-02 16:43] JonFerraiolo commented on #3469
@jhpedemonte
-> M8 Prio-Med

[2012-10-02 16:44] JonFerraiolo commented on #3468
-> M8 Prio-Med

[2012-10-02 16:46] JonFerraiolo commented on #3463
@doronrosenberg -

leaving this as Prio-High for @billreed63 to investigate. After investigation, we need to reset priority based on what we learn.

[2012-10-02 16:46] JonFerraiolo commented on #3461
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 16:47] JonFerraiolo commented on #3443
-> @jhpedemonte Prio-Med

[2012-10-02 16:48] JonFerraiolo commented on #3441
@jhpedemonte

@billreed63 - is this truly Prio-High for M8? We don't absolutely need dojox.form.TriStateCheckbox, but maybe we need it in order to support a high-priority derivative widget?

[2012-10-02 16:49] JonFerraiolo commented on #3440
-> @jhpedemonte M8 Prio-Med

[2012-10-02 16:49] JonFerraiolo commented on #3439
-> @jhpedemonte

[2012-10-02 16:49] JonFerraiolo commented on #3438
-> @jhpedemonte

[2012-10-02 16:50] JonFerraiolo commented on #3436
-> @jhpedemonte

[2012-10-02 16:50] JonFerraiolo commented on #3435
-> @jhpedemonte

[2012-10-02 16:50] JonFerraiolo commented on #3432
-> @jhpedemonte M8 Prio-Med

[2012-10-02 16:51] JonFerraiolo commented on #733
@jhpedemonte -> M8 Prio-Med

[2012-10-02 16:52] JonFerraiolo commented on #659
-> M8 Prio-Med

[2012-10-02 16:53] JonFerraiolo commented on #499
@jhpedemonte -> M8 Prio-Med - not an M8 ship-stopper

[2012-10-02 16:54] JonFerraiolo commented on #330
@jhpedemonte

-> @doronrosenberg M8 Prio-High

[2012-10-02 16:54] JonFerraiolo commented on #83
@jhpedemonte

-> M9

[2012-10-02 16:55] JonFerraiolo commented on #395
-> @jhpedemonte M8 Prio-Med

[2012-10-02 16:56] JonFerraiolo commented on #1223
-> M8 Prio-Med

[2012-10-02 16:56] JonFerraiolo commented on #1158
@jhpedemonte M8 Prio-Med

[2012-10-02 16:58] peller commented on #3499
What I see is very different.  My waterfall looks fine, except for the occasional _very_ long delay, usually on a small request (on the order of 15-30 seconds)  After a few of these, all the browser I/O blocks until they clear.

![GitHub Logo](http://i.imgur.com/kLToO.png)

[2012-10-02 17:00] JonFerraiolo commented on #1052
@jhpedemonte -> M8 Prio-Med

[2012-10-02 17:00] JonFerraiolo commented on #896
-> M8 Prio-Med

[2012-10-02 17:01] JonFerraiolo commented on #872
-> M8 Prio-Med

[2012-10-02 17:01] JonFerraiolo commented on #795
-> M8 Prio-Med

[2012-10-02 17:02] JonFerraiolo commented on #750
-> M8 Prio-Med

[2012-10-02 17:04] JonFerraiolo commented on #1794
Leaving as M8 Prio-Hight for @jhpedemonte to verify to see if there is anything left to fix here

[2012-10-02 17:04] JonFerraiolo commented on #1798
-> M8 Prio-Med

[2012-10-02 17:04] JonFerraiolo commented on #1804
-> M8 Prio-Med

[2012-10-02 17:05] JonFerraiolo commented on #1821
-> M8 Prio-Med

[2012-10-02 17:05] JonFerraiolo commented on #1843
-> M8 Prio-Med

[2012-10-02 17:06] JonFerraiolo commented on #1990
-> M8 Prio-Med

[2012-10-02 17:06] JonFerraiolo commented on #1995
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:07] JonFerraiolo commented on #1547
-> M8 Prio-Med

[2012-10-02 17:07] JonFerraiolo commented on #1414
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:08] JonFerraiolo commented on #1404
-> M8 Prio-Med

[2012-10-02 17:08] JonFerraiolo commented on #1351
-> M8 Prio-Med

[2012-10-02 17:09] JonFerraiolo commented on #1350
-> M8 Prio-Med

[2012-10-02 17:11] JonFerraiolo commented on #2184
-> M8 Prio-Med

[2012-10-02 17:11] peller commented on #3436
FWIW, I noticed this code in davinci/model/resource/Folder.js createResource:

[code]

Seems like this ought to be treated as an error condition.

[2012-10-02 17:12] JonFerraiolo commented on #2248
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:12] JonFerraiolo commented on #2270
-> M8 Prio-Med

[2012-10-02 17:13] JonFerraiolo commented on #2271
-> M8 Prio-Med

[2012-10-02 17:14] JonFerraiolo commented on #2401
-> M8 Prio-Med

[2012-10-02 17:15] JonFerraiolo commented on #2408
-> M8 Prio-Med

[2012-10-02 17:16] JonFerraiolo commented on #2440
-> M9

[2012-10-02 17:16] JonFerraiolo commented on #2441
-> M9

[2012-10-02 17:17] JonFerraiolo commented on #2442
-> M9

[2012-10-02 17:17] JonFerraiolo commented on #2443
-> M8 Prio-Med

[2012-10-02 17:17] JonFerraiolo commented on #2444
@jhpedemonte

-> M9

[2012-10-02 17:18] JonFerraiolo commented on #2247
-> M8 Prio-Med

[2012-10-02 17:18] JonFerraiolo commented on #2180
-> M8 Prio-Med

[2012-10-02 17:19] JonFerraiolo commented on #2177
-> @jhpedemonte M8 Prio-Med

[2012-10-02 17:19] JonFerraiolo commented on #2153
@jhpedemonte -> M8 Prio-Med (but this is clearly an important thing to do as soon as we can)

[2012-10-02 17:20] JonFerraiolo commented on #2143
-> M8 Prio-Med

[2012-10-02 17:20] JonFerraiolo commented on #2140
@jhpedemonte -> M8 Prio-Med

[2012-10-02 17:21] JonFerraiolo commented on #2072
-> @jhpedemonte M8 Prio-Med

[2012-10-02 17:21] JonFerraiolo commented on #2055
@jhpedemonte -> M8 Prio-Med

[2012-10-02 17:22] JonFerraiolo commented on #2005
-> @JonFerraiolo M8 Prio-High

[2012-10-02 17:22] JonFerraiolo commented on #2001
-> M8 Prio-Med

[2012-10-02 17:24] JonFerraiolo commented on #2673
-> M8 Prio-Med

[2012-10-02 17:24] JonFerraiolo commented on #2675
-> M8 Prio-Med

[2012-10-02 17:27] JonFerraiolo commented on #2715
-> M8 Prio-Med

[2012-10-02 17:27] JonFerraiolo commented on #2720
-> M8 Prio-Med

[2012-10-02 17:28] JonFerraiolo commented on #2751
-> M9

[2012-10-02 17:28] JonFerraiolo commented on #2772
@jhpedemonte

-> M9

[2012-10-02 17:28] JonFerraiolo commented on #2773
@jhpedemonte

-> M9

[2012-10-02 17:30] JonFerraiolo commented on #2774
@jhpedemonte

-> @billreed63 M8 Prio-High to answer this question: do any of our derivative libraries require that Maqetta support data-dojo-props for the M8 release? If so, then this need to be a ship-stopper issue. Otherwise, let's lower to Prio-Med.

[2012-10-02 17:30] JonFerraiolo commented on #2789
-> M8 Prio-Med

[2012-10-02 17:31] JonFerraiolo commented on #2807
-> M8 Prio-Med

[2012-10-02 17:32] JonFerraiolo commented on #2815
@jhpedemonte

-> @JonFerraiolo M8 Prio-Med

[2012-10-02 17:32] JonFerraiolo commented on #2823
-> M8 Prio-Med

[2012-10-02 17:34] JonFerraiolo commented on #2838
@aerwin - Could you please evaluate whether this is a ship-stopper and/or must-have for M8? If not, then please set to M8 Prio-Med

[2012-10-02 17:35] JonFerraiolo commented on #2630
@jhpedemonte

-> @JonFerraiolo M8 Prio-Med

[2012-10-02 17:35] JonFerraiolo commented on #2615
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:36] JonFerraiolo commented on #2565
-> M8 Prio-Med

[2012-10-02 17:36] JonFerraiolo commented on #2531
-> M8 Prio-Med

[2012-10-02 17:36] JonFerraiolo commented on #2505
-> M8 Prio-Med

[2012-10-02 17:37] JonFerraiolo commented on #2504
-> M8 Prio-Med

[2012-10-02 17:37] JonFerraiolo commented on #2494
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:38] JonFerraiolo commented on #2486
-> M8 Prio-Med

[2012-10-02 17:38] JonFerraiolo commented on #2473
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:39] JonFerraiolo commented on #2962
-> M8 Prio-Med

[2012-10-02 17:40] JonFerraiolo commented on #2990
-> M8 Prio-Med

[2012-10-02 17:40] JonFerraiolo commented on #2993
-> M8 Prio-Med

[2012-10-02 17:40] JonFerraiolo commented on #2995
-> @jhpedemonte M8 Prio-High

[2012-10-02 17:41] JonFerraiolo commented on #3003
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:41] JonFerraiolo commented on #3028
-> M8 Prio-Med

[2012-10-02 17:42] JonFerraiolo commented on #3034
-> @jhpedemonte M8 Prio-High

[2012-10-02 17:42] JonFerraiolo commented on #3064
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:43] JonFerraiolo commented on #3084
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:43] JonFerraiolo commented on #3085
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 17:44] JonFerraiolo commented on #3101
-> M8 Prio-Med

[2012-10-02 17:50] JonFerraiolo commented on #3111
-> M8 Prio-Med

Note that I added logic to NewFile.html to ensure that the new file isn't in a read-only folder. Not exactly the same thing as here, but might be useful as a reference: See 15fa837dcdd03ad547810c84891431ab9bf8f795

Maybe what we need to do is supplement the "save" command and "save as" logic to similarly check for read-only status. If the file is read-only and the user attempts to

[2012-10-02 17:50] JonFerraiolo commented on #3119
Probably need to test with the more recent ESR (FF16? 18?) rather than the first one (FF10?)

[2012-10-02 17:51] JonFerraiolo commented on #3142
-> M8 Prio-Med

[2012-10-02 17:51] JonFerraiolo commented on #2957
-> @JonFerraiolo M8 Prio-Med

[2012-10-02 17:52] JonFerraiolo commented on #2956
-> M8 Prio-Med

[2012-10-02 17:55] JonFerraiolo commented on #2932
@jhpedemonte

-> @JonFerraiolo M8 Prio-Med

[2012-10-02 17:56] JonFerraiolo commented on #2925
-> @jhpedemonte M8 Prio-Med

[2012-10-02 17:58] JonFerraiolo opened #3501 "Update to Dojo 1.8.1"
@jhpedemonte

@peller - maybe you'll still be available to help us one more time with a dojo update?

[2012-10-02 17:58] JonFerraiolo commented on #2904
-> M8 Prio-Med

[2012-10-02 17:59] JonFerraiolo commented on #2900
-> M8 Prio-Med

I've actually played with various fixes in this area, but I don't know if I'll have time to finish before M8.

[2012-10-02 17:59] JonFerraiolo commented on #2871
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 18:00] JonFerraiolo commented on #2840
-> M8 Prio-Med

@jhpedemonte - need to reassign to someone else

[2012-10-02 18:01] aerwin commented on #2838
--> Prio Med

@JonFerraiolo No, I don't believe this is high prio or stop ship. It's entirely infrastructure unnoticeable to the end user.. And, personally, I think if we're ever to invest more in this area, we should do it right once and for all and use a relational DB for the R&C backend rather than IStorage or IEclipsePreferences.

[2012-10-02 18:01] JonFerraiolo commented on #3289
-> M8 Prio-Med

[2012-10-02 18:02] JonFerraiolo commented on #3292
-> M8 Prio-Med

[2012-10-02 18:03] peller commented on #3142
possible dup of #3432

[2012-10-02 18:04] JonFerraiolo commented on #3303
@jhpedemonte - I'll leave this one to you to set the priority

[2012-10-02 18:05] JonFerraiolo commented on #3307
-> M8 Prio-Med.

I'm hoping we can just forget about the current FF ESR and support the second FF ESR when it comes out within next few months.

[2012-10-02 18:06] JonFerraiolo commented on #3320
-> M8 Prio-Med

[2012-10-02 18:06] JonFerraiolo commented on #3321
-> M8 Prio-Med

[2012-10-02 18:07] JonFerraiolo commented on #3326
-> @aerwin M8 Prio-Med

[2012-10-02 18:08] JonFerraiolo commented on #3283
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 18:08] JonFerraiolo commented on #3276
-> M8 Prio-Med

[2012-10-02 18:08] JonFerraiolo commented on #3275
-> M8 Prio-Med

[2012-10-02 18:10] JonFerraiolo commented on #3272
-> M8 Prio-Med

[2012-10-02 18:11] JonFerraiolo commented on #3271
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 18:12] JonFerraiolo commented on #3223
-> M8 Prio-Med

[2012-10-02 18:13] JonFerraiolo commented on #3211
@aerwin - If you need help with selection chrome problem, I wrote most of that code.

[2012-10-02 18:16] JonFerraiolo commented on #3397
-> M8 Prio-Med

[2012-10-02 18:19] JonFerraiolo commented on #3356
-> @aerwin M8 Prio-High

[2012-10-02 18:20] JonFerraiolo commented on #3352
-> @aerwin M8 Prio-High

[2012-10-02 18:20] peller commented on #3321
don't we have unsupported browser warnings at the time we start the app?  That should be sufficient.

The theme editor is different, since dojox/mobile is limited to webkit by design (at least for now)

[2012-10-02 18:21] JonFerraiolo commented on #3349
@jhpedemonte -> M8 Prio-Med

[2012-10-02 18:21] JonFerraiolo commented on #3340
@jhpedemonte -> M8 Prio-Med

[2012-10-02 18:22] JonFerraiolo commented on #3331
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 18:26] JonFerraiolo commented on #3419
-> @aerwin who has mostly figured everything out already

[2012-10-02 18:27] JonFerraiolo commented on #3411
-> M8 Prio-Med

[2012-10-02 18:28] JonFerraiolo commented on #3408
@jhpedemonte

-> M8 Prio-Med

[2012-10-02 18:33] peller commented on #3003
@doronrosenberg, who I think has looked at dirty bit issues

[2012-10-02 18:35] JonFerraiolo commented on #62
Closing. Fixed by da13d4be5cfa9eaa7ad6183d71eb795c7e3ae8ce

[2012-10-02 18:35] #62 closed, assigned to peller

[2012-10-02 18:37] JonFerraiolo commented on #49
-> @JonFerraiolo M8 Prio-High to see if this issue still exists

[2012-10-02 18:40] JonFerraiolo commented on #286
Closing. Worst problems here have been addressed.

[2012-10-02 18:40] #286 closed, assigned to doronrosenberg

[2012-10-02 18:41] JonFerraiolo commented on #192
-> @JonFerraiolo M8 Prio-High

[2012-10-02 18:43] JonFerraiolo commented on #462
-> M9

[2012-10-02 18:46] JonFerraiolo commented on #861
Closing. widgetHash logic is ok now.

[2012-10-02 18:46] #861 closed, assigned to peller

[2012-10-02 19:08] jhpedemonte commented on #3411
-> M9

[2012-10-02 19:11] jhpedemonte commented on #3321
@peller, issue here is that Firefox is supported, but Theme Editor doesn't work well on non-WebKit.

[2012-10-02 19:17] jhpedemonte commented on #3142
Closing.  Any remaining issues will be handled in #2841 and #3432.

[2012-10-02 19:17] #3142 closed, assigned to jhpedemonte

[2012-10-02 19:27] jhpedemonte commented on #2838
Can you explain why you prefer the former?  I'm not too familiar with IEclipsePreferences, but I have seen it used in several places in the Orion code.

[2012-10-02 19:28] jhpedemonte commented on #2932
Closing.  We don't currently show these icons at all.

[2012-10-02 19:28] #2932 closed, assigned to JonFerraiolo

[2012-10-02 19:29] peller commented on #2932
We should.  Reopen?

[2012-10-02 19:31] peller commented on #3321
So we're suggesting that the page editor should show FF browser warnings for certain widgets?  mobile silhouette-based pages (which would then assume dojo/mobile?)   Indicate browser dependencies per widget in metadata?

[2012-10-02 19:32] #3457 closed, assigned to peller

[2012-10-02 19:39] peller opened #3502 "revisit cache-control: no cache"
the page servlet is setting the  cache-control server heading to no cache for html, css, and js files

@billreed63 and I discussed the possibility of handling html and css files with cacheBusting, but what's the requirement for no cache on js files?

@jhpedemonte @JonFerraiolo

[2012-10-02 19:41] jhpedemonte commented on #2932
Well, then that's a different bug.  Also, best to just wait for Orion and piggyback on that work.

[2012-10-02 19:42] peller commented on #2932
my observation was that if the icons weren't misplaced and disabled, that it _was_ working.

[2012-10-02 19:43] jhpedemonte commented on #3321
Oh, sorry, got confused.  So we do already have a warning for the Theme Editor, and this issue is for something else.

Not sure why we'd need it for Page Editor, but as @peller points out, implementation would get dicey.  Best to keep it simple.

[2012-10-02 19:45] jhpedemonte commented on #3502
Which HTML, CSS and JS files?  "no cache" should (at most) only be set for files from the user's workspace, which could potentially change often.

The static files (Maqetta, libraries) should all have a cachebusting param for that particular build.

[2012-10-02 19:48] jhpedemonte commented on #2807
-> M9/High

[2012-10-02 19:48] jhpedemonte commented on #2615
-> M9/High

[2012-10-02 20:27] peller commented on #1236
so to recap, the issue is that we have an AMD envelope in all Maqetta-created files, with dojo/parser and dijit/dijit hard-coded (Context.js inserts these two modules on page creation)  In theory, both of these should come from metadata.  dijit/dijit would be specific to use of dijit widgets and while dojo/parser could either co-exist with or maybe even parse markup for other widget libraries, per

[2012-10-02 20:33] jhpedemonte commented on #3485
Talked to Jon about this, and I'm not sure about adding even more information to _widgets.json_.  It adds to how much we need to bring up on startup, making the user wait even more.

A better solution would be to put a small information button on each widget (a small _i_ would do) which, when clicked, pops up the tooltip dialog for that widget.  The information for that widget is loaded on demand.

[2012-10-02 20:34] JonFerraiolo opened #3503 "Back-end and build fixes for site-specific configuration files"
@jhpedemonte @peller @childsb @billreed63 @doronrosenberg

For M8, we need to support the ability to have different widget palette setups and different default themes for different deployments. For example, a particular company might have their own widget libary and their own themes. It is common that a particular company will want their company-specific widgets to appear before other similar widg

[2012-10-02 20:51] JonFerraiolo opened #3504 "Widget palette builds dynamically from site-configuration files"
@jhpedemonte @peller @childsb @billreed63 @aerwin @jmockler @jinsil

See #3503 which is the back-end coding to enable the widget palette to be built dynamically from site-configuration files.

What I'm thinking is that we have a JSON structure that lists the widget categories and widget names, and that the widget palette builds itself from that JSON structure. To illustrate a highly possible versi

[2012-10-02 21:02] hoodieboy commented on #3486
Javier,
Thanks...I changed my jsonp output to look like your sample, but that still
did not work.  I no longer get the error message or anything else.  So I
used your sample jsonp url to get Maqetta to generate the html and the
other libs, then I modified the generated output to use my url and
fields....that worked.  So I think it is something that Magetta does not
like about either localhost, har

[2012-10-02 21:09] JonFerraiolo commented on #3499
One thing I'll note: file operations on the maqetta.org server can be very slow. For those with admin priveleges, go to the users folder and type "ls". It takes a long time before the server responds and starts to list files.

[2012-10-02 21:49] aerwin commented on #3486
@hoodieboy

This is actually @aerwin (Tony) helping you out...

Looking at an item in your new output I see:

[code]

And, it looks like all of the your keys in the key value pairs are quoted. With JSONP, it should be more like (not quoted):

[code]

[2012-10-02 22:39] peller commented on #3502
the cache bust (query string) is set on the client for workspace files.  I'm not sure the writePage code on the page servlet makes any distinction for which files it processes, or if so, where it makes that distinction.

So I sort of understand the html and css problem, but for js, at least when it comes to all the library js files, "no cache" seems unnecessary and definitely generates more server

[2012-10-02 22:47] peller commented on #3457
see #3502 for no cache discussion

[2012-10-02 23:32] peller commented on #3504
might as well use the key as is.  I guess that would be a little like getText, using the English as a key, but stripping out the space algorithmically is unnecessary as it's already a valid key in a JS hash.

For the structure, I hope we can get away from a hierarchical classification and move towards a tagging system, or one-to-many groupings.  This might be a good opportunity to do that.

[2012-10-02 23:34] JonFerraiolo opened #3505 "Palette folder icons should be defined in metadata and data:/base64'd"
@jhpedemonte

Hardly urgent, but if we are cleaning up the widget palette code, here is another cleanup item.

RIght now we have separate web requests for each of the 16x16 icons that appear on the palette folder DIVs in the widget's palette.

This is some of the code in Palette.js that finds the 16x16 icons:

[code]

Here is `_createFolder()`:

[code]

and then in PaletteFolder.js:

[code]

What

[2012-10-03 00:22] aerwin commented on #2666
Closing... blog posted: http://ibm.co/U98Uev

[2012-10-03 00:22] #2666 closed, assigned to aerwin

[2012-10-03 00:26] aerwin commented on #3486
--> Reopening to make sure we get this resolved

[2012-10-03 00:48] #3490 closed, assigned to doronrosenberg

[2012-10-03 03:33] JonFerraiolo commented on #3504
Ultimately at page startup time the widget palette will show a list of default categories listed in a particular order, and within each category, there will be a list of widgets shown in a particular order. Somewhere, somehow, there has to be something that the software can use to know what categories to display, what order those categories should appear, and how to order the widgets within the ca

[2012-10-03 03:36] aerwin commented on #3494
@JonFerraiolo @jhpedemonte

--> @aerwin
--> M8, High for discussion/investigation/consideration

[2012-10-03 03:46] aerwin opened #3506 "Replace use of dojo/data/ItemFileReadStore with dojo.store"
@JonFerraiolo @jhpedemonte @doronrosenberg @billreed63

I'd have thought we have a feature request for this already, but I can't find it...

Anyway, all of our data store based widgets (except for Tree) rely on dojo/data/ItemFileReadStore. Since that is now deprecated, we should start moving to use dojo/store API across Maqetta.

[2012-10-03 03:49] aerwin commented on #3494
@cooljeffrey , thanks for the request... All of our data store based widgets (GridX among them) leverage dojo/data/ItemFileReadStore which expects data in the format you reference. I don't think we can seriously look at this feature request until we move away from ItemFileReadStore. I've opened #3506 to get that on the books.

[2012-10-03 03:57] aerwin commented on #3373
@JonFerraiolo @jhpedemonte

--> Moving from no milestone to M8 for better tracking
--> Moving from no prio to High Prio for consideration

[2012-10-03 03:57] aerwin commented on #3491
@JonFerraiolo @jhpedemonte

--> Moving from no milestone to M8 for better tracking

[2012-10-03 03:58] aerwin commented on #3466
@JonFerraiolo @jhpedemonte

--> Moving from no milestone to M8 for better tracking

[2012-10-03 03:58] aerwin commented on #3458
@JonFerraiolo @jhpedemonte

--> Moving from no milestone to M8 for better tracking

[2012-10-03 04:50] aerwin commented on #2838
@jhpedemonte

This is probably worth a post-scrum discussion at some point (especially if we get to a point where we think this is high enough priority to work on), but a quick response here...

To be clear, I'm not saying there's anything wrong with IEclipsePreferences or trying to say _all_ Maqetta data should be stored in a relational DB.

But, with R&C, the XML files we currently create are in

[2012-10-03 06:01] rudimk commented on #3373
Wow. That sounds pretty awesome! Now, I'm not really a Java programmer. But if you do decide to do this, is there any way I could be a part of it?

[2012-10-03 14:11] peller commented on #3504
How about a list of initial tags as part of the metadata?  tags could represent categories, but they wouldn't be limited to a child/parent relationship like categories.

[2012-10-03 14:52] cbarlock opened #3507 "maquetta.server.win.bat Fails"
I installed maqetta-release-7.0.1.zip into C:\Program Files (x86).  maquetta.server.win.bat fails to start the Maquetta server.  I fixed the problem by adding double quotes around:

%USERPROFILE%\Application Data

and

%scriptdir%\maqetta.conf

[2012-10-03 15:15] billreed63 commented on #3366
dup #3483 which was fixed

[2012-10-03 15:15] #3366 closed, assigned to billreed63

[2012-10-03 15:24] billreed63 commented on #3329
fixed by #3391

[2012-10-03 15:24] #3329 closed, assigned to billreed63

[2012-10-03 18:40] aerwin commented on #3486
@hoodieboy

I'm not sure if you've had any more luck, but as a test I deployed Maqetta's sampleService.php to a web server running on my localhost and things seemed to work ok with GridX (from a Maqetta server also running on localhost). So, I don't think there are issues connecting to localhost with JSONP.

FYI, here is a copy of sampleService.php if you wanted to try it in your environment:

[co

[2012-10-03 18:45] JonFerraiolo opened #3508 "Site-specific default themes and/or themesets"
@aerwin @jhpedemonte

A particular company might want their own CSS themes to be used by default on the version of Maqetta that they install on their company servers. We need a site configuration option where a site administrator can install a JSON file that tells the Maqetta client which default themes to use. (Right now, the client defaults to claro and the default dojox mobile themes)

This is

[2012-10-03 19:21] JonFerraiolo opened #3509 "Site options for making widget-specific properties visible most of the time?"
@billreed63 @jhpedemonte @aerwin

When a company has its own widget collection, in some scenarios those widgets can be complex, and perhaps the company hasn't completed as much SmartInput as they would really want. Instead, they would need to rely on the widget-specific properties section of the Properties palette for setting key parameters on particular widgets.

The problem though is that, with

[2012-10-03 19:24] JonFerraiolo opened #3510 "Popup help for widget-specific properties"
@billreed63

Some widget-specific properties are incomprehensible to most users who aren't deeply familiar with a particular widget toolkit and particular widgets in that toolkit.

One idea is that there is some sort of `i` icon (i for information) that will appear next to particular properties if the metadata provides descriptive info for that property.

[2012-10-03 19:40] peller commented on #2268
promise/exception handling fixed by 8a3627d2151462129f1b2b72acf91054d6e530c7  Error now surfaces and is printed to the console.  failureInfo is filled in.  However, the error still is not shown in the UI.  The `callback` that used to put up a "white screen of death" doesn't seem to get passed in to `setSource()` anymore.

[2012-10-03 20:49] cbarlock commented on #3507
Also, there is a reference in this BAT file to $absusersdir, which looks to me to be a copy/paste error from a shell script.  It should, of course, be %absusersdir% -- but there is no other reference to this variable in the BAT file, so more work needs to be done to set a default value for this variable.

[2012-10-03 22:06] hoodieboy commented on #3486
Ok, I'll try that to see if that's what's confusing Maqetta, but the
ItemFileReadStore is able to process it correctly.  The double quotes come
from the backend php json_encode() function.

On Tue, Oct 2, 2012 at 2:49 PM, aerwin notifications@github.com wrote:

[2012-10-03 22:29] aerwin commented on #3486
I don't really think its matter of confusing or not confusing Maqetta... we (e.g., Maqetta code) don't connect to the JSONP service directly nor do we parse the output from the service. We rely on the combination of dojox/io/xhrScriptPlugin and dojo/data/ItemFileReadStore. So, my suggestion to remove the quotes was only based on a comparison with what I know works in a working sample.

If you thin

[2012-10-03 22:43] aerwin commented on #3486
@hoodieboy

I think the test I suggested above is still worthwhile to help figure out what's going on with your service, but you are probably right that the quotes on the keys don't matter. I just updated my php file deployed to localhost to have quotes and it appears to work within the GridX wizard (and the preview):

[code]

It gives this output:

[code]

[2012-10-03 23:06] #3396 closed, assigned to JonFerraiolo

[2012-10-03 23:17] JonFerraiolo commented on #49
Closing this ancient bug. Can't reproduce with latest code, and looking at the Outline palette code, it seems to properly listen to widgetChanged events and rebuild the tree with undo actions, and all of the undo actions for our various commands seem to properly call widgetChanged.

[2012-10-03 23:17] #49 closed, assigned to JonFerraiolo

[2012-10-03 23:28] JonFerraiolo commented on #3368
Closing. I tried various scenarios and everything worked for me with 701 as released on Maqetta.org. I tried the above scenario not only with Calendar, but also with a dijit TextBox, and the background color changes properly when changing states so long as you set the "apply to this state only" checkbox prior to changing the background-color value.

[2012-10-03 23:28] #3368 closed, assigned to JonFerraiolo

[2012-10-03 23:35] JonFerraiolo commented on #2005
Closing. I checked and everything is cool.

[2012-10-03 23:35] #2005 closed, assigned to JonFerraiolo

[2012-10-04 15:03] doronrosenberg commented on #3403
Not sure how to fix this, we have the helper and the createtool out of sync.

[2012-10-04 15:04] doronrosenberg commented on #3198
The problem here is we need to find a way to expand any `${projectroot]` in all the right places.

[2012-10-04 15:34] JonFerraiolo commented on #3198
-> @jhpedemonte

[2012-10-04 15:38] JonFerraiolo commented on #3403
-> @JonFerraiolo

[2012-10-04 18:32] peller commented on #2871
We have both deactivate() and destroy()  @billreed63 created the destroy method here: 92cd35f1   Only destroy() gets called. Perhaps we can combine?

[2012-10-04 19:10] aerwin opened #3511 "Setting editable attribute on EdgeToEdgeDataList causes exception and screws up rendering"
Using Chrome on Mac going to maqetta.org...
1. New mobile app
2. Drag view onto page
3. Drag EdgeToEdgeDataList onto page
4. In widget-specific properties, check the `editable` attribute
5. In widget-specific properties, uncheck the `editable` attribute
6. Rendering in page is messed up and exception in console:

[code]

[2012-10-04 19:23] aerwin opened #3512 "Can't set float on mobile toolbar button (in my app)"
Using Chrome on Mac going to Maqetta.org...

Using the HTML file below:
1. Drag toolbar button onto the heading on the main view (view with id `mainView`)
2. Use props palette to try and change `float` attribute to "right" and get error dialog that I'm trying to edit read-only theme

[code]

What's really strange is that if I start from scratch I can do it successfully:
1. New mobile app
2. Drag v

[2012-10-04 19:33] aerwin opened #3513 "TypeError: Cannot call method 'getContent' of undefined"
Using Chrome on Mac going to local server launched from Eclipse after git pull...

Running into a fair number of issues running locally... I'm not sure how many of them are tied to the following exception I see when creating a new HTML file:

[code]

[2012-10-04 19:46] aerwin opened #3514 "Source editor -- Uncaught TypeError: Object [object HTMLHtmlElement] has no method 'selectChild'"
Using Chrome on Mac and local server running from Eclipse...
1. New HTML file
2. Refresh browser to get rid of any potential lingering effects of #3513
3. Switch to source view
4. Add div (e.g., paste something like `<div>HELLO</div>` into the body)
5. Switch to Design view and try to select div and see following exception in console (and no selection change):

[code]

[2012-10-04 19:50] aerwin opened #3515 "Change div width: Uncaught TypeError: Cannot read property 'getSegments' of undefined resource"
Using Chrome on Mac and local server running from Eclipse...
1. New HTML file
2. Refresh browser to get rid of any potential lingering effects of #3513
3. Drag and drop div from widget palette onto page
4. Go to props palette and try to change width to something like `34px`
5. Change fails and see following in console:

[code]

and then:

[code]

[2012-10-04 20:18] JonFerraiolo opened #3516 "Wrong URL in loadTheme/addModeledStyleSheet/addStyleSheet"
We have some theme CSS initialzation code which calls loadTheme->addModeledStyleSheet->addStyleSheet, which ultimately causes an incorrect wrong path passed into findReource(), and thereby causing an exception in CSSFile.js.

The problem is that the path passed into findResource is `themes/claro/claro.css` instead of `./project1/themes/claro/claro.css'.

I'm not sure why this exception only happen

[2012-10-04 20:23] JonFerraiolo commented on #3513
Closing as dupe. I saw the same problem and actually zoomed into the culprit (I think) in #3516.

[2012-10-05 00:55] JonFerraiolo commented on #3516
I think I have a fix for this. Testing it now.

[2012-10-05 01:32] #2871 closed, assigned to peller

[2012-10-05 02:32] peller opened #3517 "implement system.resource.findResourceAsync()"
findResourceAsync() is presently a shim to the synchronous findResource() call.  For now, it simply returns a promise which is fulfilled, which is the calling method our code should use going forward.  Rather than implement the method as it is now, this may be a good time to re-examine the technique used to locate and cache resources from the server

@JonFerraiolo

[2012-10-05 02:37] peller opened #3518 "Rearchitect findResource / findResourceAsync methods"
The original code recursively descends from root, listing files in all intermediate directories and creating a structure to cache objects down to the requested resource.  This is expensive, and although these requests could be batched, they seem to be unnecessary.

Instead, we might skip all the intermediate directories and store the reference in a hashtable, or a less drastic approach might be to

[2012-10-05 02:38] peller commented on #1404
rather than accelerate our in memory resource cache by batching listFiles calls, we should consider a lighter approach  see #3517 then implement an async version of findResource() #3518

[2012-10-05 02:38] #1404 closed, assigned to peller

[2012-10-05 02:45] peller commented on #3327
weird.  they're gone now.  both builds are essentially the same size. closing.

[2012-10-05 02:45] #3327 closed, assigned to peller

[2012-10-05 03:25] #3516 closed, assigned to billreed63

[2012-10-05 05:00] aerwin opened #3519 "Outline tree exception changing button id"
Using Chrome on Mac going to local server from Eclipse...
1. New HTML file
2. Drag button onto page
3. Change id on button to "myButton" and see stack trace in console:

[code]

[2012-10-05 12:58] JonFerraiolo commented on #3519
@doronrosenberg

-> @JonFerraiolo

[2012-10-05 13:01] JonFerraiolo commented on #3519
@peller - could this have to do with any async changes?

[2012-10-05 13:47] JonFerraiolo opened #3520 "Email validation check on register signup button"
@jhpedemonte

The email validation check is doing the right thing with the error message, but the email validation isn't enforced on the "Sign Up" button.

[2012-10-05 14:49] peller commented on #3519
anything is possible, but not seeing any connection.  the deferreds you're seeing are baked into the Tree widget logic.

[2012-10-05 14:52] peller commented on #2259
transferred to Orion: https://bugs.eclipse.org/bugs/show_bug.cgi?id=389929

[2012-10-05 14:52] #2259 closed, assigned to peller

[2012-10-05 16:33] ghost opened #3521 "Inserting a bad HTML code in the code editor causes sometimes (too many times ...) further HTML tags to disappear ..."
Example: I put an <img> tag in the sources and edited it by adding src="image/file.png". Now the image shows well but the rest of the HTML has vanished. Forever ........
Please consider adding some sort of backup mechanism until all such bugs are fixed.

I just got my day's work ruined

[2012-10-05 16:59] JonFerraiolo commented on #3521
Sorry about losing your work. Definitely high priority.

[2012-10-05 17:11] JonFerraiolo commented on #3519
-> @doronrosenberg

[2012-10-05 17:33] JonFerraiolo commented on #3521
@peller @jhpedemonte

I played around with things and I have a **THEORY** about what might be happening in this case.

If a user is in split view, and they have an `<img>` element is near the top of the document (e.g., a banner image), and the user partly types the following into the source pane:

[code]

of if the user types in the incorrect close quote (e.g., uses single-quote to start an attrib

[2012-10-05 17:39] doronrosenberg commented on #3519
Only happens the first time you change the id.  Seems like a Tree bug to me, we are passing in the right path each time.

[2012-10-05 17:46] JonFerraiolo commented on #3519
I noticed that the exception doesn't happen if I put breakpoints in the bowels of dojo to try to debug the causes of the exception. This tends to make me think there is a timing bug here. Perhaps the first time through, something is getting a one-time initialization which involves a deferred, and the deferred logic isn't perfect.

[2012-10-05 17:47] doronrosenberg commented on #3519
Specifically, the Deffered gets a canceler passed in:

[code]

Which will always return undefined and throw the error.  Laying the blame here on Dojo, I don't think Tree is using deferred correctly.

[2012-10-05 17:49] JonFerraiolo commented on #3515
Closing. I believe this was fixed as part of 8c69e58a35a18af1a6f908db10aaf6330d1da401

@aerwin - could you please verify that this is fixed?

[2012-10-05 17:49] #3515 closed, assigned to JonFerraiolo

[2012-10-05 18:15] aerwin commented on #3515
@JonFerraiolo Yes, appears to be fixed. Thanks!

[2012-10-05 18:39] JonFerraiolo commented on #3519
Who will report this to the esteemed Keese?

[2012-10-05 19:50] peller commented on #3519
I'd encourage anyone on the maqetta team to file bugs directly in their own words, preferably with a standalone example.  Please add a link here and send to me if I can help assign or categorize. For dijit bugs, make sure to use the "dijit" category and it will go directly to Bill.

[2012-10-05 19:52] JonFerraiolo commented on #3514
Caused by this commit: 8a3627d2151462129f1b2b72acf91054d6e530c7

The actual problem as reported by @aerwin has to do with the mouse event and selection code producing an exception. The cause of that exception is upstream logic in (in _processWidgets() in Context.js?) that for some reason no longer ends up parsing the new DIV element that was just typed into the source pane. As a result, this DIV d

[2012-10-05 19:55] #3513 closed, assigned to nobody

[2012-10-05 19:55] peller commented on #3514
Do you think there error is new, or just the error reporting?  Are there side-effects?

[2012-10-05 20:06] aerwin commented on #3514
Yes, I think new. And, yes, side effects (as mentioned above), can't select the new widget added via source.

[2012-10-05 20:12] ghost commented on #3521
Hi,

I can contribute that I was using multiple nested BorderContainer controls.
Seems it's the best way to layout controls in Maqetta.
But anyway, I think the fundamental issue here, is if the editor does not
understand anything, the best fallback is just to leave previous code
as-is. Or better mark it as an error.

Current behavior is really bad in my opinion. _Maqetta should not attempt
to read

[2012-10-05 20:39] JonFerraiolo commented on #3512
-> @billreed63

I'm pretty sure this is a metadata problem, maybe a regression when updating Dojo 1.7 to 1.8 where possibly some of the  CSS class selectors have changed in the Dojo css files.

This fix might be something as follows. This is current theme metadata for ToolBarButton:

[code]

It might work with Dojo 1.8 if we change to look like this:

[code]

but there might be an additional compl

[2012-10-05 20:41] JonFerraiolo commented on #3512
@aerwin" In the meantime while waiting for this fix, you can go into source view and type `style="float:right"` for the ToolBarButton.

[2012-10-05 22:20] aerwin opened #3522 "Dojo Web Builder fails on Maqetta.org"
@peller

I had previously opened #3387. That one was closed over my vacation, but I see then that  @JonFerraiolo followed up with #3465 when he couldn't verify #3387. #3465 was opened on an internal server, and it looks like @peller's response was that DWB on that machine needed to be updated.

So, I don't know if I should be reopening #3387 or attaching to something else. But, I just tried on maq

[2012-10-05 22:27] aerwin commented on #3522
@peller

Well, maybe error isn't on our end... I entered the URL to my app at http://build.dojotoolkit.org/ and it fails there too. But, there's no indication what failed... just a message that quickly flashes that "something went wrong."

Here's the URL to my app:

http://app.maqetta.org/maqetta/user/G/ws/workspace/weightControlPrototype20121005/index.html

I suppose as slow as the server is nowa

[2012-10-05 23:29] JonFerraiolo commented on #3519
@doronrosenberg could you please file a dojo ticket?

[2012-10-05 23:44] JonFerraiolo commented on #3521
@rubimazaki I agree with what you are suggesting, and I agree that this problem of problems is one of worst shortcomings with Maqetta, and I agree with all of the reasons you have provided.

[2012-10-05 23:45] JonFerraiolo commented on #3514
Yes, definitely new. See above for the commit that caused the regression.

[2012-10-06 01:03] JonFerraiolo commented on #3511
@peller @jhpedemonte

This is a dojo bug - the widget's JavaScript isn't updating the registry properly. Filed a Dojo ticket: http://bugs.dojotoolkit.org/ticket/16105

Sending issue to @peller to manage the integration of the fix into an updated Dojo that (hopefully) we can include with M8.

[2012-10-06 02:57] peller commented on #3514
ok, all I was missing was the stack trace with _processWidgets(). see it now.

[2012-10-06 02:57] #3514 closed, assigned to peller

[2012-10-06 03:28] peller commented on #3511
is this a regression, or something we just discovered?  If it's a regression, we can push for a fix in the 1.8 branch, otherwise we'd be forking the repo again, which is not desirable.  If this is a problem at design-time only, we may be able to monkey patch the code dynamically or something like that, depending on the nature of the fix.

[2012-10-06 03:48] aerwin commented on #3511
I don't know if it's regression or not... it's just something I happened to try.

[2012-10-06 12:58] rbackhouse commented on #2708
I have looked into supporting this in Zazl. One option was that we could use a map configuration to provide an alias to a maqetta version of deviceTheme. Zazl now supports map configurations however to use them the modules involved must be anonymous and as the fix for deviceTheme is to add an id using map configurations won't help us here.

So I have spent a little time looking into making the AST

[2012-10-06 13:06] rbackhouse opened #3523 "Developer Setup for Mac OS X does not work in Mountain Lion"
Mountain Lion does not support environment.plist

http://apple.stackexchange.com/questions/57385/where-are-system-environment-variables-set-in-mountain-lion

To work around this I have been setting the MAQETTA_WORKSPACE variable as a String Substitution in the Run/Debug eclipse preferences and then referencing it in the launch as

 -Dmaqetta.baseDirectory=${MAQETTA_WORKSPACE}

[2012-10-06 18:10] JonFerraiolo commented on #3511
I think it's a regression. I took my sample HTML file that I included in the bug report and pointed at the CDN for dojo 1.7 instead of 1.8 and I don't see the registry exception with 1.7.

But for the most part, you would only run into this issue when using Maqetta. It's not all that typical for a user to delete and then recreate an EdgeToEdgeList or EdgeToEdgeDataList using the same ID and changi

[2012-10-07 12:02] rbackhouse commented on #2708
A new version of Zazl is now available that supports loading deviceTheme.js.

[2012-10-08 14:08] #2372 closed, assigned to billreed63

[2012-10-08 16:15] JonFerraiolo commented on #3520
Reopening until we have a hosted (maqetta.org) build to verify that the fix worked.

[2012-10-08 19:44] peller commented on #3521
see #2268

[2012-10-08 19:51] peller commented on #2245
example seems to run fine now.  Not sure we ever got the stack trace from the RSOD in the original report, so it's not clear what the problem was.  The only error now is a harmless one (runtime, not parse time) that the old require() for maqetta/States does not work.  It's reported to the console.

[2012-10-08 20:40] peller commented on #3521
isn't this only a problem if the user hits 'save'?  It might be good to restore the "white screen of death" we had in #2268 where the Dojo parser fails, and perhaps even restrict auto saves until that situation is corrected, but Jon provides a good example where incomplete HTML syntax can break the page, which has nothing to do with the parser, and we're not doing any HTML validation on the docume

[2012-10-08 21:38] billreed63 commented on #3508
until #3503 is ready I added code to check the server environment variable MAQ_DEFAULT_DESKTOP_THEME  and use that. I added a set to the bat and command files. the user can also set the environment variable in the eclipse run configs

[2012-10-08 22:25] ghost commented on #3521
(Sorry for putting this in a list //:)
1. not only on save. Simply going from source->design does that, and of course there's no UNDO .. only a button
2. I have found another bug that messed up my workspace: using < br > is allowed in HTML, but maqetta expects < /br > right after it. If it doesn't find, the trouble begins.. It changes the order of the next tabs in a crazy way, but you just might n

[2012-10-08 23:15] JonFerraiolo commented on #3521
@rubimazaki - Thanks for your latest great suggestions and feedback. We will do our best to address these things as soon as we can.

[2012-10-09 17:07] jhpedemonte opened #3524 "Remove source JARs from build"
Noticed that we have some unneeded JARs in our build.

First, we have quite a few "source" JARs.  Should build without them:

[code]

Most of these are coming from the **orion build**, so need to change something there.

Also noticed some duplicates:

[code]

One comes from **orion**, I believe, and the other from **zazl**.  Can we just make Zazl use the one provided by Orion?

@peller @childsb @J

[2012-10-09 18:58] peller commented on #3524
Regarding Orion, perhaps a bug should be filed at bugs.eclipse.org to further reduce the release size, as a companion to the one reported in #3432

Regarding cyberneko, see discussion in #3393

[2012-10-09 19:00] JonFerraiolo opened #3525 "Undo for source edits"
@rubimazaki @megaD

It might be a huge boost for users if source changes were undo-able. Not just a feature, but help with data recovery if an incorrect source edit occurs (which might crash the Maqetta parser) or user encounters just a plain old Maqetta bug.

See #3521

[2012-10-09 19:37] ghost commented on #2184
This only fails for me on Chrome and seems to be a Chrome bug.  dijitComboBox explicitly sets line-height:normal (via dijitReset in dijit.css) and this is being ignored because font:inherit is specified later and is somehow masking the line-height.  Setting font:inherit before line-height:normal in the dijitReset selector rule in dijit.css seems to prevent Chrome from misrendering.

[2012-10-09 20:02] JonFerraiolo commented on #2184
@doughays-dojo Maybe not a Chrome bug. The 'font' shortcut includes specification of line-height - see http://www.w3.org/TR/CSS21/fonts.html#font-shorthand:

[code]

In fact, it looks to me like the 'font' shortcut should indeed override any previous values for 'line-height', or at least the WebKit implementers have a good argument if they interpret the spec that way.

[2012-10-10 02:10] peller opened #3526 "davinci.server.gzip fails to resolve"
I followed the download instructions and the gzip plugin complained about missing org.mortbay.jetty deps.  @jhpedemonte says the plugin may be obsolete.  If so, we should remove it.

[2012-10-10 02:10] peller commented on #3526
@childsb

[2012-10-10 15:07] jthomas commented on #3460
Investigating the code base for DWB, it's not going to be a simple fix due to the project structure. I wonder whether this could be handled by the client rather than the server?
The client should retrieve the list of available packages on loading and then use semantic versioning internally to decide which version of Dojo is most appropriate, rather than hardcoding a version string.

[2012-10-10 20:27] JonFerraiolo commented on #3525
@peller @doronrosenberg @billreed63

[2012-10-10 21:50] JonFerraiolo opened #3527 "Clean up header and pagedesigner.html code"
With this commit:

c49a37a0eedb38db1e0abed49855da6b98b482fc

I put hooks into the code so that an OSGi project can override pagedesigner.html and install a custom banner. There is some cleanup work that needs to be done. In particular:
- Should factor out as much code from pagedesigner.html as possible so we aren't duplicating (and maintaining) multiple slightly-different versions of the same file

[2012-10-11 14:32] peller commented on #3460
Will require an additional REST call to api/packages, perhaps done per session, since the server could conceivably be up a long time and miss updates to the DWB server.  In the short term, we will leave the old Dojo versions used by Maqetta around, at least for an extra Maqetta release cycle.

[2012-10-11 17:10] peller commented on #3189
It looks like the best path forward is to:

1) remove parseOnLoad:true and call the Dojo parser manually, always
2) include "require" in the main dependency list as well as "dojo/domReady!"
3) Implement a callback to the main require() method which invokes the Dojo parser.
4) Conditionally put the short callback with the xhrScriptPlugin invocation as a callback to the main require on the page, suc

[2012-10-11 17:17] peller commented on #3522
There have been a number of regressions on the DWB server side, perhaps more on our side masked by them once we work through.

To start, the "dwb" source library, requested in the source code analyze step from the Maqetta Download command, no longer exists.  @jthomas suggested we remove this going forward.  He tried putting it back on the server, but then we ran into a 202 error code when Maqetta

[2012-10-11 17:18] peller commented on #3522
As for uploading the workplace.zip directly to build.dojotoolkit.org (taking Maqetta out of the loop) that also seems to fail, but for different reasons.  @jthomas is investigating, but says it may be part of a larger AMD refactor going on, so we may have to tell our users they have to wait for this.

[2012-10-11 18:00] doronrosenberg commented on #3189
Not sure I will have time for this, if I do I will take it back.

[2012-10-11 18:00] peller commented on #3526
@jhpedemonte covered this in 6f94d88df23d4bbb7acb091860a9f4a9fd9e1248

[2012-10-11 18:00] #3526 closed, assigned to jhpedemonte

[2012-10-11 18:11] aerwin commented on #3522
Thanks, @peller ...

Do you know if going to http://build.dojotoolkit.org/  and putting in the URL to a Maqetta page  (e.g., http://app.maqetta.org/maqetta/user/G/ws/workspace/weightControlPrototype20121005/index.html ) is equivalent to uploading workspace.zip? E.g., is the failure I see doing that the same as what @jthomas found with workspace.zip?

I know our support within Maqetta is experiment

[2012-10-11 18:18] peller commented on #3522
On Thu, Oct 11, 2012 at 2:11 PM, aerwin notifications@github.com wrote:

-Adam

[2012-10-11 18:29] aerwin commented on #3522
Yes, I reported it failed the day I opened the problem report. And, it looks like it's still failing.

[2012-10-11 20:36] peller commented on #3522
Oh, sorry, I thought you meant you were uploading the zip.

Uploading the url worked for me this morning, I swear.  Now the build.dojotoolkit.org app comes up with an error even before I send my test app:

[code]

after sending a url to a preview in maqetta, I get something similar:

[code]

[2012-10-11 20:36] peller commented on #3522
@jthomas

[2012-10-11 20:48] billreed63 commented on #3189
One of the back compatibility issues  id with the SmartInput for any StoreBased widget that supports JSONP the SI will  need to be able to find the URL and call backs in the new location as well as the old location.  This issue might be best handles in the Helpers for the widgets so that when the page is loaded in page designer the Helper changes the code to the new format and then SI would only n

[2012-10-11 21:33] JonFerraiolo commented on #3189
We probably won't have 1-2 weeks in the M8 timeframe. Other M8 requirements will have higher priority.

[2012-10-11 21:46] peller commented on #3248
with today's code, when I attempt to preview the test case at the top with user widget aaa/bbb, I get:

[code]

[2012-10-11 21:49] peller commented on #3248
apparently the path to the custom widget source is `http://localhost:8081/maqetta/user/A/ws/workspace/project1/lib/custom/aaa/bbb.js`

[2012-10-12 09:17] jthomas commented on #3522
I accidentally broke the host last night while trying to fix the "dwb" package that Maqetta relies on. I've fixed this now, thanks for spotting!

Don't use the archive upload, it's not working correctly and the page analysis API should be the one we want. Looking at the sample page given:
http://app.maqetta.org/maqetta/user/QM/ws/workspace/DynamicDB/file11.html

It's running into issues because th

[2012-10-12 10:07] jthomas commented on #3522
Okay, it's back up now....

That fix works and I can now analyse the URL above correctly. I've pushed the change to the remote host and redeployed. We should be good from now on....

[2012-10-12 11:21] jthomas commented on #3303
I've fixed the issue about handling built layers, can you re-test this issue?

[2012-10-12 14:55] aerwin commented on #3522
Hi, @jthomas ...

I just tried my URL again ( http://app.maqetta.org/maqetta/user/G/ws/workspace/weightControlPrototype20121005/index.html ), and I still see the flicker of this message.... any ideas?

![GitHub Logo](http://i.imgur.com/SAkpZ.png)

[2012-10-12 16:11] peller commented on #3522
When I try @aerwin 's url, I see this on the analyze step:

/api/dependencies: 400 Bad Request

`{"error":"Unable to parse URL parameter for remote Web Application. Check format of the request parameter value"}`

payload looks ok to me:

[code]

The 400 comes back in about 3 seconds.  I do see that the page is _very_ slow to load right now from a clear cache (> 1 min), but I do not know if that's

[2012-10-12 19:13] peller commented on #3303
ok, new problem: I'm not copying over the built dojo/nls files into the zip, just dojo.js. Somehow we got away with that in Dojo 1.7.2.  The good news is that the DWB parses everything and returns a build.

[2012-10-15 01:32] peller commented on #3511
Fix will be in Dojo 1.8.2, release date not known

[2012-10-15 09:29] jthomas commented on #3522
That URL was tripping the (fairly conservative) HTTP timeout limits. I've upped the limit for the connection from 3 seconds to 30, which should help in general.

However, loading the page in my browser takes a huge amount of time due to latency, Chrome's telling me "4.3 minutes" for all resources, with some files having nearly two minutes of latency. This will still trip over the increased HTTP li

[2012-10-15 14:50] billreed63 opened #3528 "Mobile theme not being displayed on page create"
1) from project1 create a mycustom  mobile theme
2) Create a mobile page that use mytheme for all devices
3) save the file
4) create a new project
5)Create a new mobile page, do not change the theme.

 notice that a themeMap gets added to the source but the .\* but that the theme location is empty.

I think that  we are using a themeMap in a sticky somewhere and the theme is not valid in the new p

[2012-10-15 14:58] JonFerraiolo commented on #3528
I see a file `.settings/maqetta.dojo.themesets.settings` in each project area. I'm not sure who saves that file to make things sticky.

[2012-10-15 15:01] rbackhouse commented on #3248
Using the sample in the first comment I have no problem previewing via Zazl

[2012-10-15 16:12] peller opened #3529 "RebuildPage.changeThemeBase: Cannot call method 'forEach' of undefined"
This error was reported by a user on the mailing list.  From inspection, theme.conditionalFiles must be undefined.

[code]

Perhaps special content is required to reproduce this error.

Unrelated, but a fun little DRY optimization: the function passed to the two forEach calls could be defined once and shared.

[2012-10-15 16:29] JonFerraiolo opened #3530 "Default filename: index.html?"
@aerwin @jhpedemonte

Reading through @aerwin's upcoming article on authoring mobile apps in Maqetta, he recommends that the page be named index.html for compatibility with PhoneGap.

It sounds like we should default to index.html instead of file1.html. But I'm not sure what happens when you create a second HTML file. Maybe it will be called index1.html? Have to study the code.

[2012-10-15 16:32] JonFerraiolo opened #3531 "On FF, doc pages show Orion icon on browser tab instead of Maqetta icon"

[2012-10-15 17:01] billreed63 opened #3532 "Unable to change hieght/widget on mobile TextArea"
Create mobile htkp
DnD
view, header, RoundRec and mobile TextArea change width to 100% and height to 150px

The width seems to change ok on the element the first time but when I attempt to change the height I get the read only theme error box. Note that in the cascade the element is missing.

[2012-10-15 17:10] peller commented on #2708
I just tried running against the original deviceTheme.js code, and it still fails.  @rbackhouse, how do I confirm that I have your zazl changes?

[2012-10-15 18:16] rbackhouse commented on #2708
Probably the best way is to look at the Bundle-Version in the MANIFEST.MF for org.dojotoolkit.optimizer.amd.rhinoast.

/maqetta/zazl/optimizer/org.dojotoolkit.optimizer.amd.rhinoast/META-INF/MANIFEST.MF

It should be 0.4.4

[2012-10-15 18:31] peller commented on #2708
@JonFerraiolo and I both verified that we have 0.3.6, even though github does point to 0.4.4

https://github.com/zazl/optimizer-release/blob/master/org.dojotoolkit.optimizer.amd.rhinoast/META-INF/MANIFEST.MF

More submodule magic I do not understand?

@jhpedemonte

[2012-10-15 18:36] peller commented on #2708
just did a submodule update and some pulls (which seemed to have no impact) and somehow now I am at 0.4.4, and deviceTheme.js works fine.  I cloned the tree only 6 days ago, so I don't know why I didn't have the latest to begin with.  Wonder if there's something fishy going on with submodules within submodules in git?

[2012-10-15 18:39] peller commented on #2708
@JonFerraiolo found a link that may help: http://stackoverflow.com/questions/10168449/git-update-submodule-recursive

[2012-10-15 18:39] #2708 closed, assigned to peller

[2012-10-15 18:44] peller commented on #3248
I needed to do a recursive submodule update to get the latest version of Zazl. (see #2708)  Works fine in 0.4.4.  Thanks!

[2012-10-15 18:44] #3248 closed, assigned to peller

[2012-10-15 18:47] #3501 closed, assigned to peller

[2012-10-15 18:58] #3532 closed, assigned to billreed63

[2012-10-15 19:07] billreed63 commented on #3532
@aerwin  I think what I was seeing on maqetta.org was it was taking so long for some of the css files to load in the model that maybe the request was timing out and the model was not building so we were defaulting to the root element.
I have no idea why it was working for you locally..

The updated metadata works for me locally, So I guess the question is will this fix be deployed before the artic

[2012-10-15 19:12] billreed63 commented on #3512
Fixed by commit 7604daf7535da6949c24b93353df6eb6c3c78d8c

[2012-10-15 19:12] #3512 closed, assigned to billreed63

[2012-10-15 19:33] aerwin commented on #3532
@billreed63

Thanks, Bill...

I'm guessing it worked locally because the css files would have loaded much faster? On the positive side, 7.0.2 should be out well before the article and files should load much faster on maqetta.org.

How risky is the fix to the metadata?

@JonFerraiolo @peller @jhpedemonte

Would you guys entertain a low-risk metadata change (assuming that's what it is) for 7.0.2? I

[2012-10-15 20:02] JonFerraiolo opened #3533 "Save As Widget exception in createWidget (async issue?)"
@childsb

I set this to Priority High to investigate, but I'm not certain this is a ship-stopper.
- New Desktop App
- Add a DIV, and inside the DIV, add an HTML button
- Select the DIV
- Save As group=a, widget=r

Result=> Dies in parser.js. Here is the full stack trace.

[code]

If you subsequently try to add the newly created widget (q.r), it works just fine, and when I set a breakpoint in creat

[2012-10-15 20:10] billreed63 opened #3534 "New HTML File options should be saved as project prefference"
New file options are currently saved as a workbench setting `Workbench._state.nhfo` one of the things in the options is the themes to use when creating the page. The themes are at the project level not the workbench so When the user switches to a new project they  `Workbench._state.nhfo`  are reset to the defaults. It would be nice to save the last used options for this project and reuse them when

[2012-10-15 20:14] billreed63 commented on #3528
The issue is that the new file options are save in the workbench `Workbench._state.nhfo` and this value is not reset when the project is changed. So the values for themes could contain themes that so not exists in the current project.
The new file option should be saved on a project level not a workspace level I opened issue #3534 for this feature.

[2012-10-15 20:16] #3528 closed, assigned to billreed63

[2012-10-15 20:20] billreed63 commented on #3528
@JonFerraiolo @jhpedemonte  If we are doing a 7.0.2 we should really consider this one also.

[2012-10-15 22:11] JonFerraiolo commented on #3534
Should be easy to do. Just enhance the workbench state to save the new html file options in an associative array indexed by project name.

Hope it's ok - I reassigned this to me because I've messed with the workbench state in the past and I think I know where all the gotchas are.

[2012-10-16 00:32] peller commented on #3238
@rbackhouse I tried turning on the MaqettaZazl filter for reviews.  Complains about the 'main' reference in dijit/dijit.  Perhaps it's not using the "source" libraries?  Where does that happen?

[2012-10-16 02:30] peller commented on #3533
I'm unable to get this to work, even on the second try.  What were the PUT requests which were hanging?  Folder.createResource was never converted to async IIRC.  Any idea where the global `a.r` reference should be created? (the exception is because it never gets defined)

[2012-10-16 10:10] rbackhouse commented on #3238
The Zazl Resource Loader does that. I'll take a look.

[2012-10-16 13:38] billreed63 commented on #3534
That's fine, don't forget to back out the change I made in #3528 that clears the options when the project is changed.

[2012-10-16 14:55] JonFerraiolo commented on #3533
The PUT requests for foo_oam.jon, foo.js and foo.html - they weren't completed in time for the createWidget() call from ReplaceAction.js.

You mean where is modulePath set up for `a`? I don't know, but I would guess it's done in ReplaceAction.js somewhere. @childsb, do you remember?

[2012-10-16 15:01] peller commented on #3533
Ok, I'm definitely not seeing delays in those put requests, but I will examine the code to see how a timing problem might exist there.

As for a.r, I meant to ask where the global JS object "a" and property "r" were created.

[2012-10-16 16:12] JonFerraiolo commented on #3533
In the save as widget dialog, "a" is the widget group and "r" is the widget name. (Is that what you were asking?)

[2012-10-16 16:42] #3520 closed, assigned to JonFerraiolo

[2012-10-16 17:07] JonFerraiolo opened #3535 "Investigate drag/drop of View widgets - do they sometimes become child of something you don't want?"
@aerwin in article tells people to drop views onto Heading widgets. I remember seeing problems if you just dropped a View anywhere. Need to investigate (and maybe fix).

@jhpedemonte @billreed63

[2012-10-16 22:19] aerwin commented on #3396
@JonFerraiolo

Any chance you think this would be low-risk enough to cherry pick for 7.0.2? I could use it for Part 3 of my article for sure. And, one of of @jhpedemonte 's comments on Part 1 was that I should mention to folks they can point their mobile browsers at their prototype. It would be a lot easier to do that if this fix were there (rather than tell them they need to change device top to

[2012-10-16 22:47] JonFerraiolo commented on #3396
@aerwin @jhpedemonte - cherry-pick'd into M7 via above commit

[2012-10-17 16:41] billreed63 commented on #3503
for site specific themes we need a structure that would support themes sets something along the lines of

[code]

[2012-10-17 17:47] billreed63 commented on #3441
We need this fix for other toolkits that extend TriStateCheckBox

[2012-10-17 21:58] JonFerraiolo opened #3536 "Console exceptions upon opening visual editor"
@billreed63 @jhpedemonte

(UPDATE: It looks like this commit is the culprit: 07b235ba6554ee31b00120b4faebf838e81a0e25)

With latest code, I'm seeing this in Chrome console when opening the first visual editor in a session:

[code]

[2012-10-18 03:44] peller commented on #3536
Can you provide a scenario to reproduce this error?  I am able to open visual editors of css files (apparently the type here)  Is it possible that this represents some error condition where the server was not responding or some other server error occurred? (admittedly, if that's the case, we need better error handling, and the async conversion may mean the exception no longer surfaces through the

[2012-10-18 16:49] aerwin opened #3537 "Provide finer grained grained control over type of data store to create (e.g., ItemFileWriteStore vs. ItemFileReadStore)"
As @peller points out, one of the "awkward" pieces of my article is the need to programmatically create and set an ItemFileWriteStore to replace the ItemFileReadStore created by Maqetta.

It would be nice if Maqetta offered some finer grained control over what type of data store it creates.

Perhaps this this goes away depending on if and how #3506 is addressed.

[2012-10-18 17:31] JonFerraiolo commented on #3536
@jhpedemonte

Now I see why you can't reproduce. I am seeing this only with the internal launch config. Steps to reproduce:
- In eclipse, stop the Maqetta server
- Wipe your internal workspace (~/__maqetta_server_workspace_w3)
- Run internal launch config
- Login
- New desktop app

Result-> Console has this:

[code]

[2012-10-18 17:39] peller commented on #3536
Ok, so with 0fc59ec it least does a "proper" rejection so you see a more concise stack (I wonder if I need to pass an empty error object so it doesn't say "undefined"?)

As for my first commit 07b235b to use findResourceAsync(), all that's really changed is that it logs an error message when the resource comes back falsey.  Before it just failed silently, putting the rest of the code in a conditio

[2012-10-18 17:45] JonFerraiolo commented on #3536
Re-assigning to @billreed63 - it has to do with a site-specific theme.

[2012-10-18 18:27] peller commented on #3537
Actually, it might be related to #3189.  If we call the parser manually and stop using parseOnLoad, we may be able to control the way the data stores get initialized.

[2012-10-18 18:38] aerwin commented on #3537
True... my statement about #3506 was more if we go to dojo.store, then ItemFileWriteStore and ItemFileReadStore would not be the data stores we create anymore and we'd have to look at the issue from the available dojo.store data stores as to what we create (and how much control to give).

[2012-10-19 11:23] yanzenggao opened #3538 "maqetta can't be used in win7 64bit locally."
In win7 64bit local use, can't activate a user. How to fix that?

[2012-10-19 13:57] billreed63 commented on #3538
I am running on windows 7 64bit and have no problems, please provide step by step instructions on recreating your issue.

[2012-10-19 14:26] JonFerraiolo commented on #3538
Yes, please provide step-by-step instructions. In particular, which ZIP download are you using?

If you are using http://maqetta.org/downloads/maqetta-release-7.0.1.zip, then to start off you click "Register" and then enter any email address and password to create a new account. With this version, there is no email activation - just type in a new user name and off you go.

If you are using http://

[2012-10-19 16:08] peller opened #3539 "Improve expires time on HTTP responses"
@jhpedemonte mentioned a 15 minute expire time on certain types of documents which ought to be lengthened.  He can provide more detail here.  Possibly a 7.0.2 task?

[2012-10-19 16:09] peller commented on #3502
closing, for now.  Should cover most of the impact.  We could look at using cache-busting techniques to cover the remaining cases.

Opened a new issue #3539 on expiration of cached documents

[2012-10-19 16:09] #3502 closed, assigned to peller

[2012-10-19 16:15] JonFerraiolo opened #3540 "Major source editor problems with 702"
@jhpedemonte

On Mac/FF, running today's build off of the maqetta-test server, the source editor only shows the first N lines and nothing is editable.
- Open samples/Sample1.html
- Go to Source view

Result=> Only the first 20 lines show of the source code, and you can't edit the lines that show.

[2012-10-19 16:16] JonFerraiolo commented on #3540
I'll keep investigating this to see if same problems exist in Chrome and when running from Eclipse.

[2012-10-19 16:22] JonFerraiolo commented on #3540
Same sort of problem in Mac/Chrome. Here is stack track:

[code]

Appears to be crashing deep in the bowels of the Orion source editor.

[2012-10-19 16:28] JonFerraiolo commented on #3540
Works in Eclipse with M7 branch.

Reassigning to @jhpedemonte because I suspect the build is pulling in the wrong version of Orion and/or Orion text editor code.

[2012-10-19 18:09] jhpedemonte commented on #3540
cc @peller, who's worked with Orion editor in the past.

[2012-10-19 19:23] jhpedemonte commented on #3540
Compared the plugins between this latest M7 build and 701.  Some Eclipse/Equinox plugins had minor updates, as well as some of the Zazl dependencies.  But I don't think any of that should cause what we are seeing.

[2012-10-19 19:50] peller commented on #3540
the actual exception appears to be related to line 455 in textMateStyler.js (Orion code):

[code]

shrinksafe seems to be getting confused about the local function name for "clone" (The JS rules about this are admittedly very awkward)  Why this was never a problem before, I do not know. It appears that shrinksafe renames references to clone as _cf2, but never changes the definition so it's undefin

[2012-10-19 20:19] peller commented on #3540
It looks like the JS layer is in an entirely different order.  Given that Rhino does not guarantee order in hashes, I guess this isn't surprising.  So it's possible that there was always a Shrinksafe bug on this expression but we were lucky not to hit it until now.  It may be nearly impossible to address that bug, so...

The easiest thing, I think, would be to just avoid it and rewrite the clone m

[2012-10-19 22:35] willdere opened #3541 "Attempting to regiser to maqetta fails, the Sign up button fails to submit passwords"
When attempting to register to user Maqetta in the Create an account page, the Sign up button doesn't sumit the passwords when pressed.  What is causing this issue?

[2012-10-19 22:55] aerwin opened #3542 "Changing heading properties after fixing to top causes incorrect rendering in page editor"
My fiance was going step by step through my dW article and ran into a glitch when she missed the step to set the `moveTo` property on the heading. When she went back and fixed it, the heading slid down the screen like so:

![GitHub Logo](http://i.imgur.com/3ujPL.png)

And, I had to tell her to reload the browser page to fix it.

Some simpler steps to reproduce than my article:
1. New mobile app
2.

[2012-10-21 02:45] #2279 closed, assigned to peller

[2012-10-21 20:26] aerwin opened #3543 "SpinWheel labels property incorrectly processed in props palette"
Working on my article, for SpinWheelSlot I notice if I paste "0,1,2,3,4,5,6,7,8,9" into the the `label` field in the Properties palette (instead of putting it into smart input) that it processes it incorrectly and puts commas into the SpinWheel slot:

![GitHub Logo](http://i.imgur.com/2U1D0.png)

[2012-10-22 13:19] peller commented on #313
we don't use this anymore

[2012-10-22 13:19] #313 closed, assigned to peller

[2012-10-22 13:20] peller commented on #383
xhr io topic handles this now

[2012-10-22 13:20] #383 closed, assigned to peller

[2012-10-22 13:22] peller commented on #1221
-> future

[2012-10-22 13:24] peller commented on #136
dup of #2599

[2012-10-22 13:24] #136 closed, assigned to peller

[2012-10-22 13:26] peller commented on #1462
could we accomplish this by temporarily setting focus on the node?

[2012-10-22 13:26] #564 closed, assigned to peller

[2012-10-22 13:28] #381 closed, assigned to peller

[2012-10-22 14:10] JonFerraiolo opened #3544 "States not working at runtime in IE?"
Need to make sure that AppStates.js works properly when a Maqetta-created app is run in IE.

[2012-10-22 14:12] billreed63 commented on #3544
[code]

[2012-10-22 14:13] JonFerraiolo commented on #1462
I'm not absolutely certain, but I don't think so. Only a few HTML elements can be focused, like INPUT and A. For other widgets, calling `element.focus()` on them would do nothing. If you are thinking that maybe we could call a Dojo function to set focus (if that exists), then that would only work on dojo widgets and not html elements.

[2012-10-22 16:18] billreed63 commented on #3544
For some reason IE does not like " " at the end of display "none "

in AppStates.js

[code]

[2012-10-22 16:30] JonFerraiolo commented on #3542
-> @jhpedemonte but feel free to reassign back to me if you don't have time

[2012-10-22 16:39] billreed63 commented on #3544
AppStates.js also missing requires for JSON needed for ie compat mode

[code]

[2012-10-22 16:46] JonFerraiolo opened #3545 "Remove VE selection when in source-only mode"
I've seen cases where the VE selection chrome stays visible even when in source-only view. I suspect it happens when there is an exception. Nevertheless, when it does happen, it's quite annoying and user has to do browser refresh to make it go away.

Might be easy to prevent this from happening, even when there are exceptions. One key part is that PageEditor.js would need to call _removeFocusConta

[2012-10-22 16:48] JonFerraiolo commented on #3543
-> @jhpedemonte for time being

[2012-10-22 17:44] pchuong opened #3546 "Enhancement request to support color picker for widget properties palette"
I like to have support to include the color picker for the properties palette.

I believe these are the required changes

WidgetProperties.js - modify _onChange

[code]

colorPicker.js - change _WidgetBase to _Widget

[2012-10-22 17:50] billreed63 commented on #3544
Put changes in cfe6a0ee5be2aac728273381e5ed4c10c458a6c3 branch 3544_IE_runtimeStates

[2012-10-22 21:04] jhpedemonte commented on #3350
Should be fixed by commits above.  Just to be sure, I also added some assertions into the relevant code, to make sure that we aren't passing in an email address when we really want an Orion user ID.  See 496792078687a358af92b281483113a567bb8ccb.

[2012-10-23 11:46] jhpedemonte commented on #3544
Merge into M7 for 7.0.2?

[2012-10-23 11:48] jhpedemonte commented on #3546
Set to M8/High to investigate.

@JonFerraiolo @billreed63

[2012-10-23 11:55] jhpedemonte commented on #3541
Need some more information:
- Is this on maqetta.org, or on a build you are running locally?  If the latter, are you running the "hosted" or non-hosted build?
- Can you tell me, step-by-step, what you are doing?
- Do you see any errors in the browser's error console?
- If running a build locally, do you see any errors from the server?

@JonFerraiolo

[2012-10-23 11:57] jhpedemonte commented on #3540
@peller, @JonFerraiolo, have either of you tested "master" builds with this fix?  If it works, we need to merge into M7 branch as well.

[2012-10-23 12:03] jhpedemonte commented on #3539
Some examples of files set to expire in 15 mins:
- http://app.maqetta.org/maqetta/app/davinci/workbench.css?3773ee26d1da0e59eda6a108772a6b8990d2c25c
- http://app.maqetta.org/maqetta/app/metadata/html/0.8/html/table/AddRowAction.js?3773ee26d1da0e59eda6a108772a6b8990d2c25c
- http://app.maqetta.org/maqetta/app/davinci/ve/resources/welcome_to_maqetta.html
- http://app.maqetta.org/maqetta/app/davinci/r

[2012-10-23 12:04] jhpedemonte commented on #3538
@yanzenggao, have you got this working yet?

[2012-10-23 12:26] peller commented on #3540
works for me

[2012-10-23 14:02] JonFerraiolo commented on #3540
Which one works? M7, master, or both? Are you pulling down nightly builds or running from Eclipse? When I tried a nightly build of M7 yesterday, I saw the same problem.

[2012-10-23 14:06] peller commented on #3540
downloaded a build of master this morning and it worked. As @jhpedemonte points out, the fix has not yet been cherry-picked to M7

[2012-10-23 14:07] JonFerraiolo commented on #3544
Tough call. I would say don't merge and apologize in mean time.

[2012-10-23 15:31] peller commented on #3540
filed [a request](https://bugs.eclipse.org/bugs/show_bug.cgi?id=392666) to have this change made to the Orion repository

[2012-10-23 15:39] jhpedemonte commented on #3540
Just cherry-picked onto M7 branch.  Will test again when those builds are ready.

[2012-10-23 16:50] willdere commented on #3541
Javier,

I’m running from inside maqetta.org after clicking on the email reply to activate my account.  This is what I see:

[cid:image001.png@01CDB103.326E2570]

Note that the email did not auto render, so when I attempt to type in my email, I get a Not valid email address:

[cid:image002.png@01CDB103.326E2570]

If I use firefox I see get a better response with the email address filled in:

[cid:

[2012-10-23 18:46] billreed63 opened #3547 "SaveAs exception when opening file with M6 theme on M7"
created a file using M6  and then  migrated it. The file used claro2 as the theme. When I try to do a Save-As with that file using M702, I get an exception in changeThemeBase() where theme.conditionalFiles.forEach has an exception because conditionalFiles is undefined.

[2012-10-23 18:47] #3547 closed, assigned to billreed63

[2012-10-23 18:54] billreed63 commented on #3547
cherry-picked to M7

[2012-10-23 18:58] JonFerraiolo opened #3548 "Null values in comment emails"
@aerwin

I was testing a 702 build and added comments to a review page (I was the author). I got emails about the comments that looked like this:

[code]

Maybe we need to update the logic that sends out notifications about review comments to reflect new data structures?

[2012-10-23 19:22] jhpedemonte commented on #3548
I changed (a bit) how we handle user IDs vs emails, with regards to Orion users.  This issue could have been caused by that.  My guess is that we just need to update the logic that constructs the email.

[2012-10-24 02:41] #3160 closed, assigned to peller

[2012-10-24 12:10] jhpedemonte commented on #3539
OK, so the 15 mins expires is set by the Orion filter [CacheFilter.java](https://github.com/eclipse/orion.server/blob/master/bundles/org.eclipse.orion.server.configurator/src/org/eclipse/orion/server/configurator/servlet/CacheFilter.java):

[code]

Not sure how to override that.

[2012-10-24 15:16] JonFerraiolo opened #3549 "Update download/install instructions for how to download Java"
Sounds like Apple will quit shipping Java at some point, so we need to review our download/install instructions to tell people how to manually install Java themselves

[2012-10-24 17:00] jhpedemonte commented on #961
Repurposing this bug to track getting rid of OSGi bundles for libraries.  Updated title and summary.

[2012-10-24 17:10] jhpedemonte commented on #961
Info on [loading resources from outside of an OSGi bundle](http://stackoverflow.com/questions/5230392/osgi-httpservice-register-resource-from-outside-of-the-bundle-filesystem).

[2012-10-24 17:10] jhpedemonte commented on #851
Also see #961 (loading widget libraries from outside of an OSGi bundle).

[2012-10-25 02:53] JonFerraiolo opened #3550 "defaultValue cleanups"
From Patrick. on maqetta-devs (topic: Widget property defaultValue)

Jon,

You are right about the defaultValue not showing up in the properties palette. However, the properties palette does make use of the "properties" value in the widgets.json file.
I find the defaultValue in the oam_.json file and the properties in the widgets.json file somewhat overlapped.

Additionally, the defaultValue value

[2012-10-25 15:21] JonFerraiolo opened #3551 "Can't logout with today's build"
@billreed63

With latest builds, logout puts you into an infinite loop with the message "The session has timed out, please log in again. (Auto-redirect in 10 seconds)" But clicking on "log in" or waiting 10 seconds brings you to the back to a page showing that same message.

[2012-10-25 15:25] JonFerraiolo opened #3552 "Today's build - scrollbars appear in Sample1.html after switching themes"
(set to Priority Critical to investigate immediately for 702)

@billreed63

In today's build:
- Clone claro into claro2
- Change global background color
- Save
- Open samples/Sample1.html
- SaveAs into root folder (e.g., to <root>/a1.html)
- Swtich theme to claro2

Result=> Scrollbars appear around the TabContainer. Force a resize on the inner iframe (e.g. by changing browser window size or pullin

[2012-10-25 15:29] JonFerraiolo opened #3553 "Today's build: Scenes palette didn't Normal upon creating first HTML file"
(Prio-Critical to investigate for M8)

@jhpedemonte @billreed63

When I first run today's build and created a new HTML file (desktop app in this case), the Scenes palette didn't show Normal. Upon save, close, reopen, "Normal" appeared.

Knowing how StatesView.js works, I suspect a timing problem, and probably an exception. StatesView is supposed to always show a Normal state. If the "refresh" logi

[2012-10-25 17:37] billreed63 commented on #3551
I think it may be maybe this code in pagedesigner.html

[code]

setting the isLocalInstall to true seems to be sending us to the wrong URL on session timeout

when we logout pagedesigner.html gets called which executes:

[code]

The `Runtime.getUser();` is a call to the server which gets a 401 not authorized.
`result = null` so the `Runtime.isLocalInstall=true;` is executed. because we had the 401

[2012-10-25 18:06] jhpedemonte commented on #3551
Should be fixed by commits b8b54b2a922518a2c7589a1d6f164f53872361fb (M7) and 9c1f2b526d245ea71c6c110bda25903644bb4de9 (master).  Leaving open to test against builds.

[2012-10-25 18:21] jhpedemonte commented on #3553
I haven't been able to reproduce this on maqetta-test.

[2012-10-25 19:03] jhpedemonte commented on #3552
I was not able to reproduce with the latest M7 build.

[2012-10-26 14:14] billreed63 opened #3554 "Red screen of death when missing BODY element"
I added the meta tag for ie ''''<meta http-equiv="X-UA-Compatible" content="IE=edge">'''' but forgot the `/`   clicked back to design view an nothing the browsers was hung. so I refreshed the browser and then got the red screen of death. At this point I am loucked out of my id. I can't reset my workspace or edit the file to fix the syntax error...

[code]

[2012-10-26 14:37] jhpedemonte commented on #3554
A couple of things to try:
1. I think Jon added code that if you do a **Shift+click** on the **Login** button, it will open Maqetta with all editors closed.
2. Login straight into Orion (drop the "/maqetta" from the URL) and edit/delete the file from there.

[2012-10-26 14:49] billreed63 commented on #3544
Apparently IE8 and IE9 default to EmulateIE7
http://msdn.microsoft.com/en-us/library/cc288325(v=vs.85).aspx

so we should add the following meta tag to the HTML files

`<meta http-equiv="X-UA-Compatible" content="IE=edge"/>`

[2012-10-26 15:30] billreed63 opened #3555 "Can add data DataCarousel: Data file from workspace"
from the test case DataCarousel: Data file from workspace

Steps
Open the Dojox Mobile folder in the Widget palette.
Drag a View widget onto the canvas.
Drag an DataCarousel widget onto the canvas.
SmartInput is displayed. Choose Data file from workspace from the drop down list on the first panel of the wizard.
Click on the folder icon.
The select a source dialog will be displayed, navigate to the

[2012-10-26 16:52] jhpedemonte commented on #3489
According to bug report, this has been fixed in Dojo 1.8.2.  Will keep this issue open until we upgrade to Dojo with correct fix.

[2012-10-26 19:21] peller commented on #3554
can you record the contents of the RSOD?

[2012-10-26 19:22] peller opened #3556 "500 error updating R&C comment"
testing 702 at 2:19pm central time

Error description: error to update comment , response=RequestError: Unable to load cmd/updateComment?id=ed60200f-8037-a590-c82f-7c7dda5be381&subject=something%20missing%20here%3F&content=something%20doesn't%20look%20right&pageStateList=%5B%5D&viewSceneList=%7B%22DojoMobileViews%22%3A%5B%5D%7D&drawingJson=%5B%7B%22type%22%3A%22Ellipse%22%2C%22x1%22%3A17%2C%22y1%2

[2012-10-26 19:24] peller commented on #3556
cannot reproduce, but we should check the server logs

[2012-10-26 19:32] jhpedemonte commented on #3556
Here's the stack trace from server log:

[code]

I added the code for `assertValidUserId` -- this means that `getUser` was called with an email address, but it expected an Orion user ID (ie. "A", "Bc", etc).

[2012-10-26 19:33] JonFerraiolo commented on #3556
Which http error code is caused by having too many cookies (which causes the URL string to be too long for Jetty)? Maybe that's a 403 and not a 500.

[2012-10-26 19:43] peller commented on #3556
It said 500, and the exception would seem to confirm that.

Could not reproduce this problem.

[2012-10-26 20:06] peller opened #3557 "new file collision"
Open Maqetta in two browsers, logged in as same user

Create a new page file1.html.  Put something in it. Save it.

In the other browser, there will be no record of file1.html (known limitation.  Go to make a new file, it will default to file1.html.  Say ok.  It will overwrite the existing file with a blank page and you will lose data.   The second create operation should fail.

@childsb

[2012-10-26 20:51] jhpedemonte commented on #3556
I cannot reproduce this error.

However, it looks like the reason for this error is that the query in the URL is missing the `designerId` argument.  When testing, I see it between `id` and `subject` in the URL, however it is missing in the stack trace.

[2012-10-26 21:01] jhpedemonte commented on #3556
There's probably something wrong in the client-side R&C code.  The `designerId` comes from _Comment.js_ and is set in _CommentView.js_, in the function `_getDesignerId()`.  Unfortunately, by just looking at the code, I'm not sure what could be going wrong.

This bug isn't specific to 7.0.2 and has probably existed since at least 7.0.0, if not earlier.  Given that it is difficult to reproduce, no s

[2012-10-26 21:07] jhpedemonte commented on #3556
Lowered priority/severity to High/2.

At the very least, we could make it so that `_getDesignerId()` throws an error if it **does not** return a non-null value, since a valid designer ID is expected by callers.

[2012-10-27 03:54] peller commented on #3556
agreed.  not a blocker for 7.0.2, perhaps not even high/2

[2012-10-27 07:22] yanzenggao commented on #3538
Yes. I used hosted first. And when I switched to released version I forgot to delete the cookies of chrome.------------------ 原始邮件 ------------------发件人: "Javier Pedemonte"notifications@github.com;发送时间: 2012年10月23日(星期二) 晚上8:04收件人: "maqetta/maqetta"maqetta@noreply.github.com; 抄送: "yanzenggao"376384683@qq.com; 主题: Re: [maqetta] maqetta can't be used in win7 64bit locally. (#3538)@yanzenggao, have yo

[2012-10-30 13:31] jhpedemonte commented on #3499
Release 7.0.2 attempted to do 2 things to help this situation:
1. ensure that the Maqetta plugins were JARs and not "exploded" directories.
2. remove the "no-cache" header from many static resources.

Unfortunately, (1) turned out to be a red herring; it provided no improvement once the 7.0.2 build was deployed to maqetta.org.

(2) did help, but I'm still seeing very big delays for the "cmd/*" net

[2012-10-30 14:29] jhpedemonte opened #3558 "Add .gitattributes file to repo"
See https://help.github.com/articles/dealing-with-line-endings#platform-all.

Maybe something along these lines:

[code]

Did I miss anything?

@billreed63 @peller @JonFerraiolo

[2012-10-30 14:39] JonFerraiolo commented on #3558
.launch, .txt, .command?

[2012-10-30 16:44] jhpedemonte commented on #3558
OK, committed as 5e4fb2f568ae7dbf471599a99fbb18ad570664f8.

[2012-10-30 16:44] #3558 closed, assigned to jhpedemonte

[2012-10-30 20:17] billreed63 commented on #3503
I have added a Java argument  `-Dmaqetta.siteConfigDirectory=%scriptdir%\siteConfig` that points to the the site configuration folder. In the folder json files are store that have site specific configuration information.

The server look for any *.json files in the "siteConfigDirectory" folder. For each of those files, the server validates the JSON  and if the JSON is valid, then add a new "proper

[2012-10-30 20:17] #3503 closed, assigned to billreed63

[2012-10-30 20:18] #3508 closed, assigned to billreed63

[2012-10-31 12:24] jhpedemonte commented on #3499
Each `cmd/` call does a call to `DavinciCommandServlet.checkLogin()`, which is where most of the performance impact occurs.  Following the chain of calls, it always ends up in calls to `EclipsePreferences`, particularly when called from `org.eclipse.orion.internal.server.servlets.workspace.WebElement.<init>()` -- this constructor always does a call to  `EclipsePreferences.sync()`.

I found that Or

[2012-10-31 15:39] jhpedemonte opened #3559 "Do lazy-rebuild in VStorageDirectory.java"
**VStorageDirectory.java** makes calls to `rebuild()` in its constructors, which means that a users full workspace is built when this is invoked.

Instead, we should lazily "build" only the structures for the requested path, by overriding `listFiles()`.

@peller

[2012-10-31 15:43] jhpedemonte opened #3560 "Cache user's workspace in RAM on server"
Currently, all "cmd/" server requests call `DavinciCommandServlet.checkLogin()`, which eventually leads to a call of `User.rebuildWorkspace()`.  The user's workspace gets "built" every time a command is handled by the server.  This is inefficient.

Instead, we should cache the resulting object in memory, so that immediate subsequent calls don't have to rebuild the object.  Cap the cache to a certa

[2012-10-31 21:00] jhpedemonte commented on #3481
Looked over the [diff of changed between Orion 0.5 & 1.0](https://github.com/eclipse/orion.server/compare/R0_5...R1_0) -- here are some notable changes which could impact us or which we could take advantage of:
- Orion now displays a user's workspace using a [new path format](https://bugs.eclipse.org/bugs/show_bug.cgi?id=343264): `/file/{workspaceId}/{projectName}[/{path}]`
- `authentication` plug

[2012-10-31 21:10] JonFerraiolo commented on #3481
Short answer is no. Long answer: When I researched this a couple of months ago, some OpenId hosts provide APIs where you can get the user's emails, and others don't. For Facebook, there is such an API, but a user has to grant permission using a Facebook dialog to grant such permission. I suspect that most systems already do a similar thing as Facebook or will move there once they become more sensi

[2012-11-01 19:39] jhpedemonte commented on #3481
Also see commit f266a2ea652fef82f65394fd2ee042666c3a298a (update `orion.map` to pull v1.0 code).

[2012-11-02 17:21] billreed63 opened #3561 "Theme editor adding "," to selector"
Create a clone of android
Change heading background

rules written to delta are

[code]

[2012-11-02 18:22] #3561 closed, assigned to billreed63

[2012-11-03 13:00] rbackhouse commented on #3238
I tried this out with the maqetta.core.client/WebContent/davinci/review/editor/Context.js and maqetta.zazl/src/maqetta/zazl/HTMLParser.java changes from the 3238ReviewZazl branch (It didn't look like the other file had related changes) and review worked fine with zazl turned on.

[2012-11-05 21:40] jhpedemonte commented on #3481
[Added an item](https://github.com/maqetta/maqetta/issues/3481#issuecomment-9961872) on changes to the login server APIs.

Basically, in Orion 0.5, the `login` field could take an email address and that is how we used it.  However, for 1.0, they changed it so `login` can only contain **alphanumeric** passwords and thus cannot be an email address.  In order to handle that, they added an optional `e

[2012-11-08 15:27] jhpedemonte opened #3562 "Registration link fails to load correctly on IE"
At least 2 users have complained that their registration link for maqetta.org didn't load correctly in the browser.  Specifically, after loading the link, the email field in the registration page _does not_ have the users email address, preventing the user from registering.

The issue seems to be with IE.  However, we don't actually support IE.  I have 2 proposals:
1. Show an error message if the

[2012-11-08 22:27] aerwin commented on #3499
@jhpedemonte @JonFerraiolo @peller

With the first part of my article set to come out this month (and the potential to add a significant number of new users), I was curious (and worried) where we were at since @jhpedemonte discovered the unjarring was a red herring...

And, unfortunately, I'm now seeing far worse numbers than in 7.0.1 when I login to my account with it taking **7-8 mins** after lo

[2012-11-09 14:50] jhpedemonte commented on #3499
I'm still waiting for help from the Orion folks, to backport the performance fix.  Hopefully it will happen soon and we can deploy a new build to maqetta.org.

[2012-11-09 15:39] skaegi commented on #3499
Sorry for the delay -- I'll follow up and make sure the backport gets done today.

[2012-11-09 15:45] skaegi commented on #3499
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=390480#c3

[2012-11-09 23:14] JonFerraiolo opened #3563 "Scene-based comments had problems with this file"
I tried to put review comments and annotations on each of the 3 scenes, but I noticed that the comments all ended up on the same scene. Also, clicking on buttons on the canvas to change scenes in the review editor did not change the current scene in the scenes palette, and clicking on scenes in the scenes palette didn't change the current scene on the canvas. (Same problem with M7.x) The thing tha

[2012-11-12 21:52] jhpedemonte commented on #3499
Applied to both M7 and master.  Closing.

[2012-11-12 21:52] #3499 closed, assigned to jhpedemonte

[2012-11-13 14:48] peller commented on #3496
The extremely poor performance we were having must have exposed a bug in the dojo loader or our structuring of the modules.  Cannot reproduce this.

[2012-11-13 14:48] #3496 closed, assigned to peller

[2012-11-13 21:20] jhpedemonte opened #3564 "Nightly build fails to load with existing "users" dir"
Deployed one of the nightlies to our test server and started up Maqetta server, pointing to an existing _users_ directory.

Doesn't load in browser (just hangs on "Loading Maqetta...").  On the server, I see this error:

[code]

[2012-11-13 21:50] JonFerraiolo commented on #3564
Might be a permissions problem. The offending line of code is:

[code]

[2012-11-13 22:20] billreed63 commented on #3564
I think the siteConfig folder is missing

[code]

How does the sever get started on the test server?

[2012-11-13 22:30] jhpedemonte commented on #3564
OK, it was a misconfiguration.  I'm using a different script to launch Maqetta server, not the launch scripts that come within the zip.  Added the relevant bits and it's all fine now.  Thanks.

[2012-11-13 22:30] #3564 closed, assigned to billreed63

[2012-11-14 17:07] JonFerraiolo opened #3565 "User interface shifts when editing comment"
Running Mac/Chrome using today's posted build and running R/C test matrix.

Very weird thing where if I edit a comment, and then click into (an empty) description field, the majority of the Maqetta UI jumps down and to the right.

![Shifted UI](http://i.imgur.com/e3tTX.png)

Then if you pretty much do anything to the screen, the UI rectifies itself.

Wonder if it's a Chrome bug? Looking at "Elemen

[2012-11-14 17:20] jhpedemonte commented on #3565
Yes, I have seen this too.  Saw it when we were finishing up M7.  It went away, then I saw it again yesterday.  Seems to only happen in Chrome.  Not sure how we can even debug this.

[2012-11-14 17:56] JonFerraiolo commented on #3565
One idea is to add code that will trigger a resize event for those circumstances where the UI shifts, perhaps either via createEvent() or fussing with width/height on particular elements to trigger Chrome's layout logic.

Have you seen it in cases other than adding review comments?

[2012-11-14 18:07] jhpedemonte commented on #3565
If I remember correctly, it usually happened when I was scrolling in a view (mouse held down on scrollbar, scrolling downward).  I'd have to try again to see if I can recreate.

[2012-11-15 23:40] jhpedemonte opened #3566 "Support Dialog added in source"
While we don't currently support drag/drop of **dijit.Dialog**, we should allow users to add it in source and support the loading of that page.

A [user tried to do just that](https://groups.google.com/d/topic/maqetta-users/O0FJH1se0No/discussion), but got an error when reloading the page:

[code]

The page he created contained the following HTML:

[code]

@JonFerraiolo @peller

(Assigning to myse

[2012-11-16 06:48] hengying opened #3567 "hidden property not works in widgets.json"
In this file:
/davinci.dojo_1_8/WebContent/metadata/widgets.json

the hidden property is wrong:
"hidden": "true"

should be:
"hidden": true

(Otherwise, "hidden": "false" is considered as TRUE.
"hidden": false is considered as FALSE.
)

[2012-11-16 15:00] peller opened #3568 "Dojo build failing for 'hosted'"
dojo_1_8 sources are not getting built for the hosted zip

@jhpedemonte

[2012-11-16 15:50] peller opened #3569 "cannot modify initial themeset"
Open the settings...theme sets dialog and you can add child theme sets like site_dojo_default_1, site_dojo_default_2, etc.  Modify them and they work fine.  But if you modify the base site_dojo_default theme and hit ok, open the dialog back up and your changes are lost.  It seems like it should be marked read only (and the relevant UI grayed out?)

[2012-11-16 16:06] jhpedemonte commented on #3568
Here's what I see in the log files:  There are 2 "dojo.build" sections -- the first for non-hosted and the second for the hosted build.  The first section shows content, meaning that it is actually working.  The 2nd section (hosted) does not show any content.

[2012-11-16 18:05] JonFerraiolo opened #3570 "Create page hung after creating multiple mobile themes"
Yesterday I ran the mobile theme tests, then today I tried to create a new desktop app using the same project as where I had all of the custom mobile themes. On Mac/FF using an "internal" build, the create new desktop app command never completed. Last thing to show in network panel in Firebug was loading one of the custom theme CSS files.

Requires further investigation.

@billreed63

[2012-11-16 18:55] JonFerraiolo opened #3571 "Not able to add more widgets to this file"
I was running through the basic widget test and created this file, with a bunch of mobile widgets inside. I am unable to drag/drop new widgets into this file.

[code]

[2012-11-20 00:30] JonFerraiolo opened #3572 "Allow review/commenting on image and SVG files"
I thought this used to work. Was I just dreaming that? In any case, it's not working now. Maybe the R/C code now expects an HTML file with AppStates.js in it, and images of course don't have that.

[2012-11-21 22:09] gsmida opened #3573 "damaged zip file"
Windows 7 SP1 - Chrome 23.0.1271.64 m - Tested 3 times.
After downloading a file (from my workspace .zip) when I try to open it I got this error:
The archive file is either in unknown format or damaged.

[2012-11-23 16:04] JonFerraiolo commented on #3573
@billreed63 - can you please try this out on your W7 box?

[2012-11-25 18:19] JonFerraiolo opened #3574 "Restore list view in Widgets palette"
(UPDATED BUG REPORT)

Various features that aren't yet implemented in the widget palette redesign:
- "List" view is broken at the moment. Only "icon" view is operational. We need UI to turn on "List" view. (There is commented out code in preferences logic for switching between list and icon modes, but it should be part of the preferences UI and instead should be UI found on the widget palette.
- (

[2012-11-25 20:57] JonFerraiolo opened #3575 "TypeError setting display:block on an HTML <label>"
In Mac/Firefox, I loaded the file below, then did these steps:
- Select the label widget
- Set display:block in Properties palette

Result-> TypeError

[code]

Did not see this problem in Mac/Firefox with latest sources when running from Eclipse.

I can also reproduce this issue on the test machine using Mac/FF if I simply create a new desktop app, drag two LABELs to canvas, select the second LABE

[2012-11-26 01:05] JonFerraiolo opened #3576 "Widget filter showing too many widgets"
If you type "button" in the filter area on the widget palette, you get some duplicates.

[2012-11-26 03:13] JonFerraiolo opened #3577 "maqetta.core.client and other projects not getting JAR'd"
I downloaded the latest build on my old Windows XP machine to test out local install. After waiting FOREVER for the download, I ran the windows launch script and noticed that it took a really long time for the `osgi>` prompt to appear. Then I looked at the `plugins` folder and there is no JAR for maqetta.core.client (and probably some others), instead an expanded folder.

By having a zillion loose

[2012-11-26 15:11] JonFerraiolo commented on #3553
I couldn't reproduce this either. Moving from Prio-Critical to Prio-Medium for M8.

[2012-11-26 15:26] JonFerraiolo commented on #3554
Here is the contents of the RSOD:

h oh! An error has occurred:
Cannot call method 'addAttribute' of undefined
Error: Cannot call method 'addAttribute' of undefined
    at declare._continueLoading (http://localhost:8081/maqetta/app/davinci/ve/Context.js?@revision@:1101:18)
    at null. (http://localhost:8081/maqetta/app/davinci/ve/Context.js?@revision@:1040:10)
    at runFactory (http://localhost:

[2012-11-26 15:29] JonFerraiolo commented on #3554
@peller - do you have time to look at this one? If so, please reassign to yourself.'

The RSOD isn't the big problem here. The big problem is that upon browser refresh the application doesn't refresh itself properly (probably because the parser doesn't create a model), so no toolbar (which means no ability to switch to source view). My best guess is that the parser is dying and we aren't recoverin

[2012-11-26 15:34] JonFerraiolo commented on #192
Fixed by 692700c627d1353e29890e8b40326f2693521957

[2012-11-26 15:34] #192 closed, assigned to JonFerraiolo

[2012-11-26 15:35] JonFerraiolo commented on #2473
-> M9

[2012-11-26 15:38] JonFerraiolo commented on #3495
Verified in both internal and external builds. Closing.

[2012-11-26 15:38] #3495 closed, assigned to JonFerraiolo

[2012-11-26 15:40] JonFerraiolo commented on #3525
Too risky for M8, even though I have some preliminary code for this feature. Pushing to M9 (which we hope won't be that much after M8)

[2012-11-26 15:44] JonFerraiolo opened #3578 "Widget palette redesign cleanup items"
Some remaining things to do with widget palette:
- Descriptive metadata for other widget libraries (e.g., html, gridx, shapes, clipart) - (20121204: done)
- widgets.json extension for big icons - (20121202: done)
- Automatically insert Unicode break chars into widget labels so that label will span too lines - (20121202: done)
- Show all widgets option? - (20121204: done)
- shadow around widget pal

[2012-11-26 16:12] ghost commented on #3525
Just thought about it, simplest thing to do is this:
Lets say user entered wrong text to the source editor, and the parser think this is an error and cuts the xml (current behavior ...) why not just check if there's a big difference between what the user entered and what the parser thinks should be, and show a warning before removing the whole chunk of code?

This is really 2 lines of code. And as

[2012-11-26 17:21] JonFerraiolo commented on #3525
@rubimazaki  Interesting idea. Because of the way the code works (somewhat convoluted), I don't think it would be a 2-line change, but something in the direction you propose is definitely something we should explore.

[2012-11-26 17:38] JonFerraiolo opened #3579 "Widget palette folder icons"
Need some folder icons for the new sections in the widget palette

[2012-11-26 17:54] billreed63 commented on #3573
This worked for me, have you tried using another zip utility? Maybe try downloading without the libraries?

[2012-11-26 18:02] JonFerraiolo commented on #3458
-> M9 Prio-Low @jhpedemonte

[2012-11-26 18:03] JonFerraiolo commented on #3006
-> M9 Prio-Med

[2012-11-26 18:04] JonFerraiolo commented on #3546
-> M9 Prio-High Ran out of time for M8 @jhpedemonte

[2012-11-26 18:05] JonFerraiolo commented on #3506
-> @billreed63 M9 Prio-High
@jhpedemonte

[2012-11-26 18:06] JonFerraiolo commented on #3388
-> M9 Prio-High

@jhpedemonte

[2012-11-26 18:07] JonFerraiolo commented on #3373
->M9 sorry ran out of time

@jhpedemonte

[2012-11-26 18:07] JonFerraiolo commented on #3360
-> @jhpedemonte to at least read this bug report, then probably defer to M9

[2012-11-26 18:09] JonFerraiolo commented on #3357
-> @billreed63 for M8, but likely will get deferred to M9

[2012-11-26 18:10] JonFerraiolo commented on #3537
-> M9 Prio Med

@jhpedemonte

[2012-11-26 18:11] JonFerraiolo commented on #3492
-> @JonFerraiolo M9 Prio-Med

@jhpedemonte

[2012-11-26 18:13] JonFerraiolo commented on #3478
-> @peller M8 Prio-Med (which probably means it will get deferred)

I suspect we just need to add some logic which see if any source editor changes are pending but not yet "committed" (due to delayed processing of source->design) and commit those changes when the user clicks the Preview button.

[2012-11-26 18:14] JonFerraiolo commented on #3466
-> @peller M8 Prio-Med (which probably means it will get deferred to M9)

@jhpedemonte

[2012-11-26 18:15] JonFerraiolo commented on #3451
-> M9 Prio-Med

@jhpedemonte

[2012-11-26 18:18] JonFerraiolo commented on #3418
-> @peller M8 Prio-Med.

Note that I fixed an exception with SaveAsWidget recently (9af65498e7cf6547a30cd87e692c6004eaf06985) but this might be something else.

[2012-11-26 18:19] JonFerraiolo commented on #3397
-> @billreed63, but probably will get deferred to M9

@jhpedemonte

[2012-11-26 18:20] JonFerraiolo commented on #3382
-> @JonFerraiolo M9 Prio-Med

@jhpedemonte

[2012-11-26 18:21] JonFerraiolo commented on #3364
-> M9 Prio-Med

@jhpedemonte

[2012-11-26 19:16] billreed63 commented on #3536
Not seeing them now,

[2012-11-26 19:16] #3536 closed, assigned to billreed63

[2012-11-26 19:18] billreed63 commented on #3497
@JonFerraiolo  @jhpedemonte
-> M9

[2012-11-26 19:19] billreed63 commented on #3498
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 19:21] billreed63 commented on #3494
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 19:25] billreed63 commented on #3489
I just tested this and it is fixed with the latest dojo in git

[2012-11-26 19:25] #3489 closed, assigned to billreed63

[2012-11-26 19:35] billreed63 commented on #3486
-> M9
@JonFerraiolo @jhpedemonte

@hoodieboy are you having this issue or can we close this?

[2012-11-26 19:37] billreed63 commented on #1721
-> M9 @jhpedemonte

[2012-11-26 19:39] #2910 closed, assigned to billreed63

[2012-11-26 19:40] billreed63 commented on #1631
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 19:41] billreed63 commented on #3295
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 19:43] billreed63 commented on #3143
Sending to @jhpedemonte

[2012-11-26 19:51] billreed63 commented on #2433
This is working on
Version: 7
Date: Nov 11, 2012 8:45:31 PM
Build: c7a79624a47c023...

[2012-11-26 19:51] #2433 closed, assigned to billreed63

[2012-11-26 19:53] billreed63 commented on #3211
Sending to  @JonFerraiolo   (Master of chrome selection) you can send back if you would like

[2012-11-26 19:56] billreed63 commented on #2774
No currently, but we need to get there soon

-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 20:01] billreed63 commented on #3463
Works now

[2012-11-26 20:01] #3463 closed, assigned to billreed63

[2012-11-26 20:02] #96 closed, assigned to JonFerraiolo

[2012-11-26 20:03] billreed63 commented on #3189
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 20:13] peller commented on #1935
-> M9

[2012-11-26 20:47] billreed63 commented on #3419
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 20:50] billreed63 commented on #3317
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 20:52] billreed63 commented on #3421
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 20:52] #330 closed, assigned to JonFerraiolo

[2012-11-26 20:56] billreed63 commented on #3352
No seeing this with the latest code or maqetta.org
Version: 7
Date: Nov 11, 2012 8:45:31 PM
Build: c7a79624a47c023...

[2012-11-26 20:56] #3352 closed, assigned to billreed63

[2012-11-26 21:00] billreed63 commented on #3353
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 21:04] billreed63 commented on #3357
-> M9
@JonFerraiolo @jhpedemonte

[2012-11-26 21:10] billreed63 commented on #3356
-> M9
@jhpedemonte @JonFerraiolo

[2012-11-26 21:41] billreed63 commented on #3441
We would need to backport the fix again... or upgrade to the latest dojo
dojox.form.TriStateCheckbox rev 29813 from dojo

[2012-11-26 21:44] peller commented on #3511
see also #3441 which requires an update to 1.8.2

[2012-11-27 01:02] jhpedemonte commented on #3379
-> M9

[2012-11-27 01:03] jhpedemonte commented on #3467
-> M9

[2012-11-27 01:05] jhpedemonte commented on #3552
@JonFerraiolo, are you still seeing this?

[2012-11-27 01:27] jhpedemonte commented on #3577
Hmm, I'd removed the code (commit 20564c6f8f6f46a3f02700f40a27f7e0d549865f) that specifically set some plugins to be jarred (instead of being "exploded" by default) since that code didn't really have the performance impact that was intended (perf issue was caused by something else).

But you're saying that you see a noticeable difference when starting up the server on a WinXP system?  Can you plea

[2012-11-27 03:16] JonFerraiolo commented on #3552
I still see this running the build on maqetta-test using Mac/FF when running from home (over VPN). Probably a timing issue where we have a resize() call that gets called before the document is completed ready.

-> M9 Prio-Med

[2012-11-27 04:25] JonFerraiolo commented on #3577
I compared the Nov 12 nightly build (Jar'd) with the Nov 26 nightly build (not Jar'd).

Nov 12:
- Download size: 97M
- Un-tar time: 4 min
- Launch script time: 1:00 min

Nov 26:
- Download size: 105M
- Un-zip time: 24 min
- Launch script time: 2:08 min

I'm not sure why the launch times differ, maybe Java's ability to pull data out of a JAR is faster than the operating system loading a file. I'm p

[2012-11-27 13:26] jhpedemonte commented on #3557
-> M9

[2012-11-27 13:28] jhpedemonte commented on #3556
-> M9/Med/S3

[2012-11-27 13:45] jhpedemonte commented on #3539
Related: caching changes as part of #3502.

[2012-11-27 13:45] jhpedemonte commented on #3481
-> M9

[2012-11-27 13:46] jhpedemonte commented on #3407
-> M9

[2012-11-27 13:47] jhpedemonte commented on #3390
@peller, still seeing this?

[2012-11-27 13:48] jhpedemonte commented on #3360
-> M9

[2012-11-27 13:49] #3350 closed, assigned to jhpedemonte

[2012-11-27 13:52] jhpedemonte commented on #3311
-> M9

[2012-11-27 13:53] jhpedemonte commented on #3246
-> M9

[2012-11-27 13:53] jhpedemonte commented on #3198
-> M9

[2012-11-27 13:54] jhpedemonte commented on #3195
-> M9

[2012-11-27 13:54] jhpedemonte commented on #3165
-> M9

[2012-11-27 13:55] jhpedemonte commented on #3119
-> M9

[2012-11-27 14:46] jhpedemonte commented on #2995
Back to @billreed63.

What remains to be done here?  Also, looks like we need to [remove logging code](https://github.com/maqetta/maqetta/issues/2995#issuecomment-8728984).

[2012-11-27 14:49] billreed63 commented on #2995
@childsb was going to open an issue with orion to make the session timeout a settable parm for M8, I do not know if that ever happened..

Back to @jhpedemonte

[2012-11-27 14:50] jhpedemonte commented on #2941
-> M9

[2012-11-27 14:51] jhpedemonte commented on #2720
-> M9

[2012-11-27 14:52] jhpedemonte commented on #1794
-> M9

[2012-11-27 14:52] jhpedemonte commented on #1105
-> M9

[2012-11-27 15:29] #3544 closed, assigned to billreed63

[2012-11-27 15:41] jhpedemonte commented on #3577
It looks like you are comparing a non-hosted build (Nov 12) against a hosted one (Nov 26).  Just to be sure, could you compare against the same type of build?

[2012-11-27 15:57] JonFerraiolo commented on #3577
Oh sorry, I pulled the download size by looking at the nightly folder on the web, and misrecorded the download size (now updated in my earlier comment above). I did actually pull down and run my timing tests against the non-hosted version for both Nov 12 and Nov 26.

[2012-11-27 16:05] peller commented on #3418
sounds like a dup of #3533

[2012-11-27 16:15] jhpedemonte opened #3580 "GridX fails to load CSV file"
**Tests > GridX (Basic) > CSV Data file from workspace:** Failed to load CSV file, got error in console that it was trying to do a `dojo.fromJson` on the CSV data. (Used existing GridX widget)

[2012-11-27 16:27] billreed63 commented on #3529
-> M9

[2012-11-27 17:21] #3577 closed, assigned to jhpedemonte

[2012-11-27 18:48] billreed63 commented on #3580
The way the code works if the store is a url then we try to load the data assuming it is json format,

[code]

if the format is not json dojo calls the `onError` , we then attempt to load the store as as a CSV format

[code]

The messages in the console are from dojo and unavoidable, this design was chosen to eliminate  the need of the user to have to specify the format of the data.

[code]

As to

[2012-11-27 18:48] #3580 closed, assigned to billreed63

[2012-11-27 23:44] jhpedemonte commented on #3568
Ignore my previous comment; the "dojo.build" sections related to the _maqetta.core.client_ plugin.

The Dojo build for the Dojo library bundle is handled by the **widgetPluginDojoBuild.xml** ant script.  The first pass (non-hosted build) builds Dojo and caches it in another dir.  The 2nd pass doesn't perform the build, instead copying it from the cache dir.

But here's the build log corresponding

[2012-11-28 17:05] hoodieboy commented on #3486
Found a work around.  Issue never went away.

On Mon, Nov 26, 2012 at 11:35 AM, Bill Reed notifications@github.comwrote:

[2012-11-28 21:53] peller commented on #3390
yup, still see it.

[2012-11-28 22:25] #3418 closed, assigned to peller

[2012-11-28 22:28] peller commented on #3533
appears to have been fixed by 9af65498e7cf6547a30cd87e692c6004eaf06985

[2012-11-28 22:28] #3533 closed, assigned to peller

[2012-11-29 00:28] jhpedemonte commented on #3568
I have no idea why, but this seems to have been fixed by commit e9cdd65ade6b920e053a3a891b38c9d240f305ae!

[2012-11-29 00:28] #3568 closed, assigned to peller

[2012-11-29 01:27] jhpedemonte opened #3581 "Server error w/ cmd/setWorkbenchState"
While testing Review&Commenting (on Firefox), I kept seeing errors when invoking `cmd/setWorkbenchState`.  Here's the associated stack from the server code:

[code]

I don't really have a recreate scenario -- I just started using the latest Maqetta build on maqetta-test.

_Note:_  This was tested using workspaces created for M7; there may be migration issues.

@JonFerraiolo @peller @billreed63

[2012-11-29 01:32] jhpedemonte commented on #3581
This may be related:  I created a review of a mobile app page.  However, when loading the review, I saw the error above and the **device silhouette was not displayed in the review**.

[2012-11-29 01:48] jhpedemonte opened #3582 "Server error w/ cmd/resetPassword"
Tried to reset password, using Firefox and maqetta-test.  I got no error client-side, but saw this on the server:

[code]

@peller

[2012-11-29 01:51] jhpedemonte commented on #3582
I've yet to get the email, so this error is preventing this functionality.

[2012-11-29 04:20] peller opened #3583 "use slashes instead of dots when assigning data-dojo-type"
data-dojo-type should use the AMD module id "mid" syntax with slash delimiters instead of dots.  Both formats are supported until Dojo 2.0.

Would be nice to start spitting out this format SRTL if it's not too difficult.  Should probably continue to support both so we don't have to migrate documents over.

[2012-11-29 04:31] peller commented on #3566
works for me on master...

[2012-11-29 08:36] cooljeffrey commented on #3065
Hello guys,

I just fetched the latest master code to my Eclipse 3.7 on Mac OSX, I got the same NPE error when accessing maqetta from web browser, could you please help or give me some guidance to fix it ? I am stuck here. Thanks!

osgi> servlet parm 'maqetta.maxUsers' is : null
servlet parm 'maqetta.maxUsers' is : null
RequestURL: http://localhost:50000/maqetta
Cookie: WLSESSIONID=5f0ec574-3680-4

[2012-11-29 12:02] jhpedemonte commented on #3065
@cooljeffrey, as long as you follow the instructions from the [Developer Setup](https://github.com/maqetta/maqetta/wiki/Maqetta-with-Orion-Developer-Setup) page, you should be able to run one of the 2 mentioned run configs just fine, without error.

[2012-11-29 12:35] cooljeffrey commented on #3065
@jhpedemonte You are right, thank you!

[2012-11-29 15:44] billreed63 opened #3584 "Exception when parsing mobile page with spinwheel in hidden view"
I get exception when parsing this page...

[code]

[2012-11-29 15:48] billreed63 commented on #3584
Note this was on a test machine with what looks like a built dojo

[2012-11-29 17:10] jhpedemonte commented on #3584
What's the exception?  Client or server side?

[2012-11-29 18:03] billreed63 commented on #3584
[code]

[2012-11-29 18:15] JonFerraiolo opened #3585 "Usability: setting properties on custom states"
Regarding the checkbox for "apply to current state", as a user you have to first click the checkbox then change the value. If you type something new into the value field, then click the checkbox, then attempt to commit the new value, the value will be applied to the "Normal" state due to "blur" action on the type-in field.

Not sure how to implement a fix, though.

[2012-11-29 19:31] JonFerraiolo opened #3586 "Choose parent choices not working with CreateTool with new widget palette"
@jhpedemonte

[2012-11-29 19:32] JonFerraiolo opened #3587 "Add attribute to PaletteFolder and PaletteItem dom nodes for Selenium"
@billreed63

[2012-11-29 20:08] billreed63 commented on #3584
This seems to be caused by `<div data-dojo-type="dojox.mobile.SpinWheelDatePicker"></div>` being defined in a mobile view that is hidden at page load. this seems to be a problem with maqetta and not dojo as the page seems to load correctly in preview.

This seems to be a regression, as the code works on
Version: 7
Date: Nov 11, 2012 8:45:31 PM
Build: c7a79624a47c023...

[2012-11-29 21:10] billreed63 opened #3588 "mobile theme missing colors for header on FF"
[code]

[2012-11-29 21:19] jhpedemonte commented on #3584
@JonFerraiolo @peller, either of you guys know what could have caused this regression?

[2012-11-29 21:22] peller commented on #3584
Can we test to see if this regressed between Dojo 1.7 and 1.8, and if so report it on bugs.dojotoolkit.org?

[2012-11-29 21:23] peller commented on #3584
does it make any difference if those dojo.requires are removed?

[2012-11-29 21:23] #3587 closed, assigned to JonFerraiolo

[2012-11-29 21:41] billreed63 commented on #3554
I do not see red screen now I see spinning wheel....
and this exception in console

[code]

[2012-11-29 21:56] jhpedemonte commented on #3566
Hmm, quite.  I just tried on M7:  I created a new Desktop App, added the above code into the `<body>`, and added "dijit/Dialog" to the `require` statement.  Saved, closed, reopened -> works fine.

I'll post back to the users group, asking for more details and a better recreate scenario.

Closing for now.

[2012-11-29 21:56] #3566 closed, assigned to peller

[2012-11-29 22:11] billreed63 opened #3589 "Widget palette filter does not work for HTML widgets"
I type "div" or "label" in the widget palette filter and I see no widgets.

[2012-11-29 22:12] jhpedemonte opened #3590 "R&C doesn't show mobile device outline"
When I create a new review of a **mobile app**, the review page does not show a device outline.  This is a regression from M7.

[2012-11-29 22:24] billreed63 commented on #3589
none of the drawing tools like text, arrow, map work either

[2012-11-29 22:28] billreed63 commented on #3589
I refreshed my FF browser and the filter works now.. so not sure what happened....

Will close for now, will reopen if I can reproduce

[2012-11-29 22:38] billreed63 commented on #3589
I just recreated on FF/win. If I have an open desktop html file that I have been dropping widgets then open a second file the second files filter does not work

[2012-11-30 05:19] #3586 closed, assigned to JonFerraiolo

[2012-11-30 05:27] #3589 closed, assigned to JonFerraiolo

[2012-11-30 05:29] JonFerraiolo commented on #3576
Closing. I fixed this a couple of days ago.

[2012-11-30 05:29] #3576 closed, assigned to JonFerraiolo

[2012-11-30 05:32] JonFerraiolo commented on #3509
Closing this. This was just something to consider. After considering it, I think it's not the way to go. Better to beef up SmartInput for all of these widgets, perhaps finding a way to make it easier to create SmartInput for various more complex scenarios (e.g., 2 values in instead of just 1 value).

[2012-11-30 05:32] #3509 closed, assigned to JonFerraiolo

[2012-11-30 05:33] JonFerraiolo commented on #3504
Oh, forgot to close this. Addressed by this commit: c755dd5e7d924cb9a695c62ccb54f57bc2d07011

[2012-11-30 05:33] #3504 closed, assigned to JonFerraiolo

[2012-11-30 05:44] JonFerraiolo commented on #3590
Sending back to @jhpedemonte to test this again and if it fails, provide more detail.

I don't see this problem, at least with a simple case. Using the external test server, I created a mobile app and added only one widget (a Heading), saved it, then created a review, inviting my alter ego (a second login). Using Mac/FF for my first login, I see the device silhouette, and I also see the device sil

[2012-11-30 12:49] jhpedemonte commented on #3590
OK, I wasn't able to reproduce this with a new mobile file.  However, I have an older mobile file which exhibits this issue.  I sent you a review request under the title "old mobile file".  Not sure why this file causes the problem.

[2012-11-30 13:14] jhpedemonte commented on #3581
Don't know what's going on here.  I only see this issue with Firefox (v.17, on OS X).

In the _Web Console_, I see:

[code]

When I click on that, it shows me:

[code]

However, I don't always see a corresponding error on the server, which I would expect -- it only shows up sometimes.

What's odd is that if I look at the network request for the PUT to "cmd/setWorkbenchState", it seems correct;  it

[2012-11-30 13:39] JonFerraiolo commented on #3590
Reopening and assigning to @jhpedemonte to test again the next posted build on maqetta-test to verify that the fix actually worked in a production build.

[2012-12-02 06:19] cooljeffrey commented on #1967
Hi Guys, some more, if I set the file name to "file1.jsp" instead of "file1.html" while creating a new file, all pallets disappear, so nothing can be done with the file. This may need more work to deal with non-html file extension name. Thanks!

[2012-12-03 15:47] #3588 closed, assigned to billreed63

[2012-12-03 16:43] billreed63 commented on #3573
@gsmida  if you are still having this issue please reopen.

[2012-12-03 16:43] #3573 closed, assigned to billreed63

[2012-12-03 17:52] JonFerraiolo opened #3591 "Separate OAM files for all of the drawing tools"
Right now a couple of the shapes share the same OAM file, but that means all of the shared widgets will get the same 'title' string.

[2012-12-03 18:52] JonFerraiolo commented on #3581
I created reviews and opened them using Mac/FF with Firebug open (running on the test server) and did not see any setWorkbenchState errors. I have FF 16.0.2.

[2012-12-03 19:05] JonFerraiolo opened #3592 "Open/close event handlers on Tree are active in page editor"
@aerwin

In SmartInput for Tree, I added an alert() to a tree node for open and close. The alerts are happening in the page editor, not just at runtime.

The trick used in the page editor's main content was to add event attributes to the model but not to the page editor's DOM. Here is logic from widget.js:

[code]

[2012-12-03 19:17] aerwin commented on #3592
@JonFerraiolo @billreed63

Just to quickly interject... I think this is a dup of #2715.

[2012-12-03 19:23] JonFerraiolo commented on #3592
Closing. Dupe of #2715

[2012-12-03 19:23] #3592 closed, assigned to billreed63

[2012-12-03 20:37] jhpedemonte opened #3593 "New project creation fails"
Testing on maqetta-test using Chrome, tried to create a new project called "foobar".  Maqetta loads as if the new project has been created, however the project dropdown in the Files view shows I'm still on "project1" and that no "foobar" project exists.

I even switched over to Orion view, but saw no "foobar" directory.

@peller @JonFerraiolo

[2012-12-03 20:41] peller opened #3594 "Two css files slow down page load"
@JonFerraiolo

I think this goes back to Orion integration.  Both Maqetta's workspace.css and an orionMaqetta.css file are @imported directly into the top HTML file.  Unfortunately, that means two separate HTTP requests (immediately on page load, blocking other requests like JS loading) and the build tool cannot optimize them.  If the orionMaqetta.css reference were placed within workspace.css, th

[2012-12-03 21:28] #3579 closed, assigned to JonFerraiolo

[2012-12-03 21:56] jhpedemonte commented on #3593
Deleting an existing project also doesn't work!

[2012-12-03 22:37] jhpedemonte commented on #3593
Sometimes works, sometimes fails.  When it fails, here's the request:

[code]

Notice that `name` doesn't have a value.

[2012-12-04 01:19] jhpedemonte commented on #3593
In **NewProject.js**, the `okButton()` function pulls the project name from the dialog and creates the server request.

Testing on Chrome, if I enter the project name and hit **Enter**, this line:

[code]

returns an **empty string**.  But I don't understand why.

`this._projectName` is a attached to Dijit Textbox widget, where its `displayedValue` and `focusNode.value` are both set to "foobar" (t

[2012-12-04 01:23] peller commented on #3593
dojo.attr takes a DOM node.  It's best to get the value from the widget object (the Dijit TextBox) like myTextBox.get("value")

[2012-12-04 01:32] #3593 closed, assigned to jhpedemonte

[2012-12-04 02:15] jhpedemonte opened #3595 "Deleting project doesn't fully complete"
After deleting a project, it still shows up in the project list.

**To reproduce:**
1. Starting with clean user, there will be a single project listed: "project1".  Also, if you look at the files on the file system, there will be a single directory (i.e. "a") in the users dir.
2. Create a new project.  After Maqetta reloads, the new project should be shown in the Files view.  On the file system, t

[2012-12-04 02:45] peller commented on #3554
We were throwing exceptions in various places, such as validating toolbar icons, P6 compatibility code, etc.

Will still post a RSOD if the parser does not create a BODY element, but hopefully the rest of the workbench will be sane.  @JonFerraiolo, please verify and defer to M9 with lower priority.  Given that our visual and source editors are both bound to the Context object and the model, withou

[2012-12-04 13:28] jhpedemonte commented on #3595
This has been broken since M7.

The following line in `OrionUser.getUserFile()` has a side-effect that it creates a directory if it doesn't already exist:

[code]

Not sure if that's intended for that API, or if it's a bad side-effect.

[2012-12-04 14:56] billreed63 opened #3596 "Empty widget palette when running maqetta locally"
When the user creates a new HTML file the widget palette is empty.

The user is using a non sun JDK on windows,

[2012-12-04 15:01] #3596 closed, assigned to billreed63

[2012-12-04 16:18] JonFerraiolo commented on #3554
@peller checkins look good

-> M9 Prio-Med

[2012-12-04 16:35] JonFerraiolo commented on #3594
I wouldn't mess with this for M8.

[2012-12-04 17:20] jhpedemonte commented on #3594
-> M9

[2012-12-04 19:44] jhpedemonte commented on #3595
Looks like @childsb made a mistake when creating `OrionUser.getUserFile()`.  Compare to `User.getUserFile()` (which was used before the move to Orion) -- the latter function checks for the existence of the given path, returning `null` if it doesn't exist.

Conversely, `OrionUser.getUserFile()` will create the file (by calling `newInstance()`) if it doesn't exist -- therefore, `OrionUser.getUserFil

[2012-12-04 22:27] JonFerraiolo commented on #3519
I created Dojo issue http://bugs.dojotoolkit.org/ticket/16430

This issue doesn't seem to have any bad effects beyond the console messages, so pushing to M9.

@jhpedemonte

[2012-12-05 02:05] wkeese commented on #3519
I know the log messages to the console you are talking about.   You can see them in test_Tree.html just by opening and closing a tree node really quickly, thus causing either the expand or collapse animation to be aborted.

IIUC those "errors" are expected output that happen whenever a Deferred is cancelled.   They come from dojo/promise/instrumentation.js.   Unfortunately there's no way I know of

[2012-12-05 04:15] wkeese commented on #3519
Looked at this problem, some more.   By design, in debug mode, whenever a Deferred is rejected, and the rejection is not handled, there's a log message to the console.   Canceling a Deferred counts as rejecting it.

The Tree code internally had some cases where it was not catching rejections on the Deferred objects returns from TreeNode.expand() and TreeNode.collapse().

In your case, you are call

[2012-12-05 04:35] peller commented on #3280
may have been resolved by a0b10bdce2f6a682ff89c5d73bc61c41f8986462  @JonFerraiolo, do you agree?

[2012-12-05 04:38] peller commented on #2702
-> M9

[2012-12-05 11:50] wkeese commented on #3519
OK, presumably fixed (and checked in).   I didn't try against maquetta though.

[2012-12-05 13:27] jhpedemonte commented on #3280
Looking at that commit, the change in Context.js:  does this mean that `widgetHash` is reset and reconstructed every time `widgetChanged()` is called?  Won't this be a performance hit if there are a lot of widgets on the page?  Seems like there should be a better way to do this, not reseting it every time.

[2012-12-05 13:33] peller commented on #3519
Note: on trunk for Dojo 1.9

Thanks, @wkeese!

[2012-12-05 13:34] peller commented on #3280
Iterating through a hashtable of dozens of elements and collecting references may not be efficient, but it shouldn't be a performance issue.

[2012-12-05 15:42] JonFerraiolo commented on #3280
I'm pretty sure the leak is gone, even though as @jhpedemonte points out, we tax the CPU with each command to recompute widgetHash. Note that the choice was either fixing bugswith widgetHash (which I did via atom bomb approach) or removing it, but removing it means that widget lookups will be slower.

[2012-12-05 16:14] JonFerraiolo commented on #3403
Closing - can't reproduce with latest builds. I tried on both Mac/Chrome and Mac/Firefox. I tried with a brand-new Maqetta session where first widget was a Carousel and I tried with a brand-new session where I added a ScrollableView and then a Carousel as first widgets. I tried bringing up SmartInput multiple times, and couldn't get the console messages to appear.

[2012-12-05 16:14] #3403 closed, assigned to JonFerraiolo

[2012-12-05 16:28] jhpedemonte opened #3597 "Odd behavior when opening/closing "folders" in new widgets palette"
To reproduce:
1. Open a mobile file.
2. Click on **Views** category to expand.
3. Click on **Heading** category.  This will close _Views_ and expand _Heading_.
4. Now click again on **Views**.

This should close _Heading_ and expand _Views_, but instead both end up closed.

[2012-12-05 17:00] #3280 closed, assigned to peller

[2012-12-05 17:26] aerwin opened #3598 "No password reset e-mail from "external" maqetta-orion-hosted"
I can't login to "external" maqetta-orion-hosted build on maqetta-test. When I try to register it tells me I already have an account (after making me wait for new user email, etc. and filling out new user form).

So, apparently I've forgotten my password.  But, when going down the forgotten password path, I never receive a reset password e-mail.

[2012-12-05 18:16] JonFerraiolo opened #3599 "No folder icon for HTML/Paragraphs, breaks, rules"
Trivial fix, but waiting for my new copy of Photoshop to arrive...

[2012-12-05 18:41] JonFerraiolo opened #3600 "Mobile accordion: Outline doesn't update eyeball icon when switching panes"
Same issue with M7.

If you click on different panes for a mobile accordion, the given pane will open up, but the eyeball icon in the Outline palette doesn't get updated properly.

@billreed63, @peller, @jhpedemonte

[2012-12-05 18:55] JonFerraiolo opened #3601 "Source editing problems with this file"
Source editing problems with the file listed at the bottom of this report. Assigning to myself for the moment to investigate further (particularly to make sure the file isn't corrupted somehow). Might end up with @peller or @billreed63 at some point.
- When I am split view, clicking on the button label's text ('qadfadfadfwerwe') causes the cursor to jump to the top of the source editor. (Also some

[2012-12-05 19:05] jhpedemonte commented on #3598
Duplicate of #3582.

[2012-12-05 19:05] #3598 closed, assigned to jhpedemonte

[2012-12-05 19:06] jhpedemonte commented on #3582
@aerwin is seeing the same thing (although it started working again for me at some point, so it's an intermittent issue).

[2012-12-05 19:21] JonFerraiolo opened #3602 "Sticky note - unable to load metadata"

[2012-12-05 19:22] #3602 closed, assigned to JonFerraiolo

[2012-12-05 20:46] JonFerraiolo opened #3603 "HTML select not working - gets child 'em' instead of 'option' element"
I tried to add an HTML select element to a page. SmartInput comes up empty. If I add 3 lines, then the source code looks like this:

[code]

Note that `em` should be `option`

[2012-12-05 20:52] JonFerraiolo commented on #3603
-> me

I believe I have found the problem

[2012-12-05 20:56] #3603 closed, assigned to JonFerraiolo

[2012-12-06 15:54] billreed63 opened #3604 "Unable to delete comment in review and comment"
1) Create a review and comment for a page
2) add a comment to the page. (click the submit on the comment)
3) now try to delete the comment, I only have edit and reply options..

[2012-12-06 16:08] peller commented on #3238
with zazl enabled, fails now on the onload handler where it needs to use a topic in the iframe:

'''
userWindow.require("dojo/_base/connect")...
'''

@rbackhouse says that calling the global require this way is a bad thing for zazl

[2012-12-06 17:23] #3599 closed, assigned to JonFerraiolo

[2012-12-06 17:29] jhpedemonte opened #3605 "Adding widgets into dojos.mobile.ListItem no longer working correctly"
Found this as part of the `addChild()` rewrite:  adding widgets into **dojox.mobile.ListItem** no longer works correctly.

It seems that maybe in Dojo 1.7, ListItem made use of a non-standard `box` property.  For Dojo 1.8, the code is now using the Dijit-standard `containerNode`.

This means that some of the code in **ListItemHelper.js** is now incorrect.  Can probably just remove it and revert to

[2012-12-06 18:09] peller commented on #2320
-> M9  Selection works from Outline -> Source only.  Should try to make this work both ways.

[2012-12-06 18:10] #2607 closed, assigned to peller

[2012-12-06 18:17] JonFerraiolo commented on #3578
Everything is now all done. Closing.

[2012-12-06 18:17] #3578 closed, assigned to JonFerraiolo

[2012-12-06 19:44] JonFerraiolo commented on #3393
Pushing to M9.

When I tried to re-clone my workspace from scratch recently, I got the error from Run Configurations about zazl not being resolved, but the server launched nonetheless. Still need to make things work without the zazl error message, though.

[2012-12-06 22:06] JonFerraiolo commented on #3562
Commit 6ea8a8b32b1b5c5721cc1a6b70d829e8314d0fa5 puts up a red error message if user is running IE when they go to login page. Message says IE not supported, use Chrome, Firefox or Safari instead.

Option 2 would involve at least 3 types of changes:
- Global change to use a generic `addEvent` routine instead of `addEventListener` where `addEvent` deals with IE quirks
- Global change to check event

[2012-12-06 23:17] #3507 closed, assigned to JonFerraiolo

[2012-12-07 00:25] JonFerraiolo commented on #3511
I just tried clicking and unclicking the editable property using latest code and it seems to be hanging.

I wonder if this is related to the problem that @jhpedemonte mentioned today about mobile ListItems having a different DOM structure with dojo 1.8.

I'm stuck temporarily on this one because of machine issues.

[2012-12-07 02:27] peller commented on #3511
FWIW, I see the exception, then the widget disappears.  No hang.

[2012-12-07 16:16] JonFerraiolo opened #3606 "Infinite loop if editable=true when changing widget properties on RoundRectList"
(UPDATED TO SHOW THAT `editable` property needs to be on)

@peller @billreed63

Assigning to @jhpedemonte for now because he is looking into helpers for ListItem-related widgets.

If I have set the `editable` property to true on a RoundRectList, I am seeing an infinite loop with these operations:
- New mobile app
- Add RoundRectList, accept defaults
- Go to widget-specific properties
- Set `editab

[2012-12-07 16:26] JonFerraiolo commented on #3606
One option is to remove the editable property for M8, which I will do right now...

[2012-12-07 16:38] JonFerraiolo opened #3607 "Restore editable property on *List and IconContainer"
Need to restore the 'editable' property on RoundRectList,
RoundRectDataList, EdgeToEdgeList, EdgeToEdgeDataList, IconContainer.

[2012-12-07 16:39] JonFerraiolo commented on #3607
Amounts to undoing this commit: c27f42da4fd3910be21e1fabae26c971b974293b

[2012-12-07 17:23] JonFerraiolo commented on #3601
@jhpedemonte

I looked into this issue some, and am pushing to M9.

Can be reproduced by simply creating a new mobile app, adding a View, add a LABEL, then split view, and click on the label's text.

The problem is a combination of the source->design->source logic in combination with the view management logic in ViewHelper.js and the attempt in Context.js:setStatesScenes to restore previous values

[2012-12-07 19:42] JonFerraiolo commented on #3571
Closing. Can't reproduce now.

[2012-12-07 19:42] #3571 closed, assigned to JonFerraiolo

[2012-12-07 19:51] JonFerraiolo opened #3608 "Update docs for M8"

[2012-12-07 20:00] JonFerraiolo commented on #3570
Pushing to M9. Not easy to reproduce and there is a workaround (browser refresh)

I can reproduce using external and internal build if I create a new project, then create custom versions of each of the 5 mobile themes (changing global background color), and the new Desktop App and try to add a widget. Nothing happens.

If I do a browser refresh, everything starts working again.

If I only clone 3

[2012-12-08 17:06] JonFerraiolo commented on #3521
Unfortunately, ran out of time on this one for M8 release. Pushing to M9.

[2012-12-08 17:08] JonFerraiolo commented on #3377
Pushing to M9. Too late to mess with this for M8.

[2012-12-08 17:24] rbackhouse commented on #3238
The  userWindow.require("dojo/_base/connect") is not the cause of the failure. I do see it when Zazl is used for review but it is not stopping the page from loading.

It looks like the url paths for reviews have changed since I tested this last. They now have a prefix like

http://localhost:8081/maqetta/user/A/ws/workspace/.review/snapshot/2012-12-08T12:22:06Z/project1/

The date segment contain c

[2012-12-08 17:36] rbackhouse commented on #3238
On the subject of userWindow.require("dojo/_base/connect") instead of trying to call require synchronously (which is invalid AMD) calling it asynchronously should work.

[code]

With Zazl the call to subscribe appears to work without error.

[2012-12-08 17:52] peller commented on #3238
Those colons in the url probably are not valid.  I thought I changed them so that they would be encoded?  (In retrospect, it would have been better to encode the dates without colons!)

[2012-12-08 17:55] peller commented on #3238
I will look at stripping those segments, but that will probably have to wait until M9

[2012-12-08 18:45] JonFerraiolo commented on #3399
The rearranged widget palette (where "Lists" has its own separate group) and the ? help icon (now implemented) when you click on a widget in the widget palette definitely is a positive to helping users figure out what is going on with these "child" widgets.

Leaving open because we might want some additional UI tweaks. For example, perhaps the help information should include info about allowedPare

[2012-12-08 18:46] JonFerraiolo commented on #3401
Pushing to M9 due to lack of time. For M8 purposes, we should use @aerwin's tutorial (along with trying variations and pushing on the edges) as a placeholder until we have time to create more mobile test cases.

[2012-12-08 18:46] JonFerraiolo commented on #3401
@jhpedemonte

[2012-12-08 19:10] #3535 closed, assigned to JonFerraiolo

[2012-12-08 19:46] #3211 closed, assigned to JonFerraiolo

[2012-12-08 19:47] JonFerraiolo commented on #3527
Pushing to M9.

[2012-12-08 20:05] JonFerraiolo opened #3609 "Hosted build: register button doesn't check to see if user already exists"
In the standalone configuration, if a given user exists, the server responds with an error code and error message, which LoginWindow.js displays properly. However, for the hosted confirmation, the server responds with "OK" even if the user already exists, and there is no logic in LoginWindow.js to look at the POST response and post the error message properly.

[2012-12-08 23:49] JonFerraiolo opened #3610 "LoginWIndow.js: Disable buttons if invalid username or invalid password"
The various buttons (e.g., Log in, Sign up, etc) should be disabled/enabled after each keyup event depending on whether the fields are valid.

[2012-12-09 17:48] JonFerraiolo opened #3611 "Custom widgets - exception if any clipart included"

[2012-12-09 17:49] JonFerraiolo opened #3612 "element.style on root element lost when creating a custom widget"

[2012-12-09 17:53] JonFerraiolo opened #3613 "Do we need a $library setting for custom widgets for non-Dojo libraries?"
@jhpedemonte - For M8, please look at the FIXME I will be adding (later today) to maqetta.core.client/WebContent/davinci/de/DijitTemplatedGenerator.js about whether we need to include a $library property for non-Dojo libraries.

[2012-12-09 18:13] #3611 closed, assigned to JonFerraiolo

[2012-12-09 18:13] #3612 closed, assigned to JonFerraiolo

[2012-12-09 22:34] JonFerraiolo opened #3614 "Exception with line and polyline shapes"
Typo in OAM file

[2012-12-09 22:35] #3614 closed, assigned to JonFerraiolo

[2012-12-09 23:35] #3563 closed, assigned to JonFerraiolo

[2012-12-09 23:39] JonFerraiolo commented on #3565
Couldn't reproduce just now when running Mac/Chrome from Eclipse.

[2012-12-10 01:41] JonFerraiolo opened #3615 "States: change content on descendant and state info gets deleted"
Working on a demo. I made a table invisible for Normal and visible in a custom state. When I changed the text content of a TD inside, the `maqDeltas` attribute got lost during the changes.

[2012-12-10 01:45] #3615 closed, assigned to JonFerraiolo

[2012-12-10 07:30] jhpedemonte commented on #3605
Commit e39b9d4599e77f957e94d5146e9e1985fe5be489 takes care of most of the issues.  However, the first time you add a child into a ListItem, it appears below the label and is not visible.

The problem is that the label in the ListItem is represented as a DIV which is displayed as `block`, pushing any other DOM elements below it.

When this is run in Preview, the label DIV has a style of `display: i

[2012-12-10 12:51] jhpedemonte opened #3616 "Add "clear" icon inside filter text area at top of widget palette"
It would be nice to have a "clear" icon inside the filter text area in the widget palette, which would quickly clear out the text and revert the widget palette to pristine shape.

A small X (standalone or in a circle) would work.  Should only be shown when there is text.  Also, we may only want to show it when the mouse cursor is inside the text area bounds.

If too much of a pain to implement, ca

[2012-12-10 12:55] jhpedemonte opened #3617 "Outline view doesn't show any icons"
Didn't the Outline view show icons for the page and widgets?  Currently, it shows nothing, as of M7.

@peller @billreed63

[2012-12-10 13:30] jhpedemonte opened #3618 "Eyeball state (Outline) seems to be one step behind"
I created a page based on **Tests > Outline**, up to the **Setting widget visibility** section.  When clicking on the eyeball icon in the Outline view, it's state seems to always be one step behind.

I click on the eyeball for TabContainer and it hides, but the eyeball is still open.  Clicking again on the eyeball for that widget has no effect.

If I then click on the eyeball for Textbox, Textbox

[2012-12-10 15:21] JonFerraiolo commented on #3616
Pushing to M9

[2012-12-10 16:12] jhpedemonte commented on #3605
-> @JonFerraiolo

[2012-12-10 17:40] #3618 closed, assigned to JonFerraiolo

[2012-12-10 19:53] jhpedemonte opened #3619 "Cannot open/view projects in Orion"
Some of us have run into an (intermittent) issue where, when switching to Orion, we cannot open/view some project folders.  Orion reports:

[code]

@skaegi, have you guys ever run into a similar issue?  We are still running Orion 0.5.

@JonFerraiolo @peller

[2012-12-10 21:15] jhpedemonte opened #3620 "No reset passord link for "maqetta-orion multi user" configuration"
While the "maqetta-orion hosted" run configuration does show a reset password link, the "maqetta-orion multi user" one does not.

[2012-12-10 21:35] JonFerraiolo commented on #3605
I THINK THIS IS WRONG:

---

What's going on is that for some reason ListItem.js appears to check if there are any element children of the LI node for the ListItem. If so, then the text content is injected as a TextNode; if not, then the text content is wrapped inside of a DIV. I'm not entirely sure about this (still need more research), but it makes sense if you want the LI to auto-size its heigh

[2012-12-10 21:43] jhpedemonte commented on #3582
The issue is in **OrionPersonManager.java**:  much of that code makes use of the hash table `persons`, which only gets loaded lazily.

However, if a user hasn't properly logged in since the server started, an attempt to reset the password will fail -- the call to `OrionPersonManager.getPersonByEmail()` will fail since the given user has yet to be added to the `persons` hash table.

[2012-12-10 22:17] JonFerraiolo opened #3621 "Set moveTo on ListItem - label text disappears"
@jhpedemonte @billreed63

Possibly related to #3605 and maybe related to recent addChild changes.
- New Mobile App
- Create 2 View widgets
- In first View, add a RoundRectList Item
- Attempt to set 'moveTo' property for one of the ListItems to point to the other View

Result=> label text disappears on the ListItem at the same point that the arrow icon appears

[2012-12-10 22:22] #3582 closed, assigned to jhpedemonte

[2012-12-10 23:12] JonFerraiolo commented on #3620
I think the reason one of our former team members did that was that maqetta-orion multi-user (i.e. standalone) usually doesn't have a hook into an email system, so the normal reset password capability usually won't work.

What we would need instead is a more direct mechanism for resetting password that doesn't involving looping through the email system.

[2012-12-11 00:11] jhpedemonte commented on #3581
Haven't seen this error lately.  Closing; will reopen if I see it again.

[2012-12-11 00:11] #3581 closed, assigned to nobody

[2012-12-11 02:56] skaegi commented on #3619
I've never seen it and even then am not sure why it would be intermittent. I did a search for "allowed" of our current code base and saw nothing that could match the string you mention. Do you see anything in the console?

[2012-12-11 12:36] jhpedemonte commented on #3620
Hmm, yes, I see.  Of course, we can't make it too easy, or anyone could come along and reset passwords for any user, defeating the point of having passwords!

[2012-12-11 13:03] jhpedemonte commented on #3621
`ListItemHelper.getChildren()` returns an array with the DIV for the moveTo icon.  The code also adds the class `HtmlWidget` to the moveTo icon node.  Oddly, though, the icon DIV does not show up in the Outline view.

Maybe we need to ignore this DIV like we do the label?

[2012-12-11 13:07] jhpedemonte commented on #3621
This worked in M7 because `ListItemHelper.getChildren()` was broken and would always return an empty array.

Also note that I removed `ListItemHelper.getChildrenData()`, which at the time seemed to be unnecessary.  It may (or may not) have helped this situation.

[2012-12-11 13:27] jhpedemonte commented on #3605
But the code that chooses between _block_ and _inline_ is in the constructor for ListItem, right?  Therefore, I think your first proposition is correct: when adding the first child widget to ListItem, we need to refresh ListItem itself, so that it can properly set `display: inline`.

[2012-12-11 13:48] JonFerraiolo commented on #3620
Best idea I have: we could provide an additional API in the server that allows JavaScript to reset password and this API would only be active in the standard version. Make it off by default and then the "standard" version could override that default to enable the password reset shortcut.

[2012-12-11 15:29] jhpedemonte commented on #3621
Above commit fixes most of this.  The remaining issue is that, after setting `moveTo`, if I click on the affected ListItem, the `moveTo` logic gets invoked, moving to the associated view.

[2012-12-11 15:33] jhpedemonte commented on #3621
`ListItemHelper.create()` tries to override the `moveTo` logic.  However, it doesn't seem that `anchorNode` property is used any more.  Replace with `domNode`?  @JonFerraiolo, I think you know this area best...

[2012-12-11 15:53] jhpedemonte commented on #3621
Also, Jon, if you get [that](https://github.com/maqetta/maqetta/issues/3621#issuecomment-11247948) working, test the case where you set `moveTo` and then try to add a Button into the ListItem.  It didn't seem to be working correctly for me, but it could be caused by the `moveTo` bug.

[2012-12-11 21:14] jhpedemonte commented on #3620
FYI: the **administrator** for the server can change the password as follows:
1. In your Maqetta directory, edit the file **maqetta.conf**.  Uncomment the line which contains `orion.auth.admin.default.password`; if you wish, you may also change the default admin password there.  Save the conf file and close.
2. Start up the Maqetta server.
3. Load http://localhost:50000/profile/user-list.html in y

[2012-12-12 00:28] jhpedemonte commented on #3609
Isn't this fixed by commit to #3413?

[2012-12-12 01:35] jhpedemonte commented on #3540
Working now.  Closing.

[2012-12-12 01:35] #3540 closed, assigned to jhpedemonte

[2012-12-12 01:35] #3551 closed, assigned to jhpedemonte

[2012-12-12 01:48] jhpedemonte commented on #3581
This is what I think is happening:

I am running the latest Firefox (v.17) with the **Web Console** open.  For many of the REST calls, the Web Console shows errors for "no element found" or "syntax error".  They all seem to do with invalid JSON (assuming very strict parsing).  All of these are innocuous.

One such error is one for "no element found" with a link to `setWorkbenchState:1`.  When I cl

[2012-12-12 01:57] jhpedemonte commented on #3555
This worked just fine for me (with the one difference being that the data file is called _carousel_data.json_).  Please reopen if you still see any issues.

[2012-12-12 01:57] #3555 closed, assigned to jhpedemonte

[2012-12-12 02:04] JonFerraiolo commented on #3609
I can't remember what I was thinking when I logged this bug. I think there was an aspect that was different than #3413 but I can't remember it right now. Let's leave it open and see if my memory improves.

[2012-12-12 02:36] jhpedemonte commented on #3606
`declaredClass` is `_EditableListMixin` because when you set the **editable** property, the RoundRectList mixes in the _EditableListMixin object, replacing RoundRectList's `declaredClass` property.  Seems like it might be a small bug in the code.  @peller?

---

The reason this is an infinite loop is because it is always checking against `this.dijitWidget.domNode.parentNode` -- that never changes

[2012-12-12 03:01] jhpedemonte commented on #3606
Locally, I reverted your commit and commented out `DijitWidget.getParent`.  Went through scenario, and when changing the `transition` property, I get the error:

[code]

Going through the code, it seems that when destroying the RoundRectList (as it is being regenerated after changing `transition` prop), it goes through `_EditableListMixin.destroy` where the call `this.inherited()` **does not** inv

[2012-12-12 03:10] jhpedemonte commented on #3606
Oh, look, that issue has already been brought up by us:  http://bugs.dojotoolkit.org/ticket/16105

---

So to fix this issue correctly:
1. Revert Jon's temporary commit.
2. Delete `DijitWidget.getParent`.
3. Upgrade to Dojo 1.8.2 **or** backport the fix.

[2012-12-12 03:10] jhpedemonte commented on #2700
-> M9

[2012-12-12 03:11] jhpedemonte commented on #2995
-> M9

[2012-12-12 03:12] jhpedemonte commented on #3034
-> M9

[2012-12-12 03:21] jhpedemonte commented on #3143
-> M9

[2012-12-12 03:26] jhpedemonte commented on #3274
-> M9

[2012-12-12 03:28] jhpedemonte commented on #3390
@peller, is this #3595?

[2012-12-12 03:29] #3406 closed, assigned to jhpedemonte

[2012-12-12 03:33] jhpedemonte commented on #3590
Confirmed.

[2012-12-12 03:33] #3590 closed, assigned to jhpedemonte

[2012-12-12 03:33] jhpedemonte commented on #3560
-> M9

[2012-12-12 03:33] jhpedemonte commented on #3559
-> M9

[2012-12-12 03:34] jhpedemonte commented on #3524
-> M9

[2012-12-12 03:35] jhpedemonte commented on #3450
Yes, I believe the activation link only lasts for 12 or 24 hours.  Closing. Reopen if you see this again.

[2012-12-12 03:35] #3450 closed, assigned to jhpedemonte

[2012-12-12 03:39] JonFerraiolo commented on #2995
Note that during a demo I gave today I had to re-login a couple of times even though I was definitely actively involved making changes.

[2012-12-12 03:52] JonFerraiolo opened #3622 "New mobile theme not showing in visual editor after switch theme"
I created a simple mobile app (e.g., file1.html) with a Scrollable View, Heading and RoundRectList, then cloned custom into custom2 and changed background color in custom2, then saved the theme (leaving the theme editor still open).

Then back in file1.html  I changed the default mobile theme to custom2 and I seemed to get the background color from custom, not custom2. Preview-in-browser though sh

[2012-12-12 03:59] jhpedemonte commented on #3613
I don't know that code well, but I don't think you need that line.

[2012-12-12 03:59] #3613 closed, assigned to jhpedemonte

[2012-12-12 04:03] JonFerraiolo opened #3623 "ListItem: click on a decorative icon, and ListItem becomes selected-true (and gray)"
New and different issue with ListItems.

With latest code:
- If you click on the background area of the ListItem, we intercept the click handler and prevent widget processing from happening.
- If you click on the label text or a child widget, we intercept the click event properly
- However, if you click on decorative icons created by the widget itself (e.g., the right arrow decoration if the moveT

[2012-12-12 04:19] peller commented on #3524
Has a bug been filed with Orion?

[2012-12-12 04:31] JonFerraiolo opened #3624 "Code cleanup: addcto removeCommand (and maybe others)"
I added `refreshOnDescendantChange` logic to AddCommand and ModifyCommand because it was needed for dojo mobile ListItem widgets. For completeness, it should be added to RemoveCommand (even though not needed for this particular scenario). Also, need to look at other commands to see if they need this logic too.

Also, right now the code is duplicated in AddCommand and ModifyCommand. Should factor o

[2012-12-12 05:10] #3621 closed, assigned to JonFerraiolo

[2012-12-12 05:10] #3605 closed, assigned to JonFerraiolo

[2012-12-12 14:04] jhpedemonte commented on #3413
One small issue: after use gets "Email already registered" error message, there is no way to go back to login screen (to login or reset password) other than reloading the page.  I think the best solution would be to keep the **Cancel** button visible.

[2012-12-12 14:07] jhpedemonte commented on #3606
@JonFerraiolo, what's your take on [this](https://github.com/maqetta/maqetta/issues/3606#issuecomment-11275033) for M8?

[2012-12-12 14:08] jhpedemonte commented on #3607
See discussion in #3606 for correct fix (in addition to restoring `editable` prop).

[2012-12-12 14:41] billreed63 commented on #2995
Was this locally? I would bet that the problem is in the way we handle xhr errors, when we get xhr errors we send the your to login.

[2012-12-12 15:32] jhpedemonte commented on #3597
Still an issue, although not for top-level categories.  Try it out by running the same scenario with **Buttons** and **Checkboxes** categories in the **Controls** top-level category.

[2012-12-12 15:35] JonFerraiolo commented on #2995
yes, I was running from Eclipse

[2012-12-12 15:40] JonFerraiolo commented on #3606
Risk/benefit ratio is such that I strongly recommend disabling the editable property for M8 and wait for M9 and Dojo 1.8.2.

[2012-12-12 15:45] jhpedemonte opened #3625 "DataList set as "dijit"-type widget, should be "object""
Just ran into an error when adding a dojox.mobile.Combobox into a mobile Accordion:  error in `DijitWidget.startup`, trying to call `startup()` on the DataList object.

Now, while DataList is in the `dijit.form` package, it isn't really a Dijit widget -- it's a store.  As such, it should be specified as an "object" type, rather than "dijit".

However, @billreed63 changed DataList's category from "

[2012-12-12 15:47] JonFerraiolo opened #3626 "All tagName comparisons should have toUpper()"
@jhpedemonte

The code has multiple checks for node.tagName (e.g., `node.tagName != 'BODY'`). Looking at https://developer.mozilla.org/en-US/docs/DOM/element.tagName, we should be using a `toUpper()` just in case we ever deal with XHTML.

[2012-12-12 15:55] jhpedemonte commented on #3625
Simple recreate scenario:
1. New Mobile app.
2. Add View.
3. Add Combobox.  Press OK on smart input.

[2012-12-12 16:28] jhpedemonte commented on #3606
Fixed the infinite loop, at least.  Remainder will have to wait for M9.
-> M9

[2012-12-12 16:47] #3622 closed, assigned to billreed63

[2012-12-12 16:56] #3597 closed, assigned to JonFerraiolo

[2012-12-12 16:58] JonFerraiolo commented on #3565
I saw this again when doing SmartInput on a mobile widget (undoubtedly a RoundRectList because that's what I was testing).

Pushing to M9.

[2012-12-12 16:58] jhpedemonte commented on #3619
The actual message is `undefinedYou are not authorized to access http://localhost:8081/file/u/`, in the Orion Navigator area:

![Screen Shot 2012-12-12 at 10 55 09 AM](https://f.cloud.github.com/assets/711365/8635/c6162ca2-447c-11e2-88da-77648afa39cc.png)

I think some of this may be due to #3595.  Maqetta shows 3 projects:

[code]

"project1" is my currently active project.  "foobar" is a project

[2012-12-12 17:01] peller commented on #3389
-> M9/Med

[2012-12-12 17:06] peller commented on #3320
@JonFerraiolo still cannot reproduce this problem.  I do see console error messages as css urls are off by one directory, but otherwise the workbench seems fine.  Should we close this issue?

[2012-12-12 17:09] peller commented on #3511
-> M9, where we can upgrade to 1.8.2 and undo c27f42d

[2012-12-12 17:18] JonFerraiolo commented on #3320
Since it's not hanging, I'll close this.

[2012-12-12 17:18] #3320 closed, assigned to peller

[2012-12-12 20:23] #3413 closed, assigned to JonFerraiolo

[2012-12-12 21:37] peller commented on #3238
@rbackhouse  Ah, sorry, I didn't parse your question correctly.  Yes, I think the number of segments in the review url will be fixed at the current number 4.  I removed the colons and dashes. (When testing, you'll have to uncomment b41d35a)

[2012-12-12 23:20] JonFerraiolo opened #3627 "Open Project command - UI is messed up"
For M8, I'll just remove that command from the product....

@jhpedemonte

[2012-12-12 23:47] jhpedemonte commented on #3595
There's a few issues here.  The biggest is that **VOrionWorkspaceStorage.java** always creates a file (directory) on the file system (`VOrionWorkspaceStorage.exists()` always returns true).  This is different than how all of the other `IStorage` impls work, and has something to do with how Orion treats top-level directories (projects).

I'd like to fix that, but I'm still not sure how.  And a fix

[2012-12-12 23:53] jhpedemonte commented on #3595
@JonFerraiolo @peller I'd appreciate it if you guys could review my commit and my [logic](https://github.com/maqetta/maqetta/issues/3595#issuecomment-11315658).

[2012-12-13 00:45] billreed63 opened #3628 "Drawing tools circle not working on FF 17"
on FF 17 win 7

created new hifi desktop sketch
DnD circle onto VE

I get a pin point circle that I am unable to resize

[2012-12-13 00:53] JonFerraiolo commented on #3628
No problems for me with Mac/FF17. I'll have to try it on my Windows box.

[2012-12-13 01:08] JonFerraiolo commented on #3628
Worked for me on Win/FF17.0.1

[2012-12-13 02:47] peller commented on #3595
seems reasonable.

[2012-12-13 02:59] peller commented on #3390
yes, it appears to be.  works fine now

[2012-12-13 02:59] #3390 closed, assigned to jhpedemonte

[2012-12-13 05:06] jhpedemonte commented on #3342
Might be related to [this](https://github.com/maqetta/maqetta/issues/3595#issuecomment-11315658).  Need to handle this quickly in M9.

[2012-12-13 10:17] rbackhouse commented on #3238
The dates in the URL are still a problem but I have fixed Zazl to handle them. We would have to upgrade the level of Zazl in maqetta.

With the updated Zazl and the removal of 4 segments if ".review" is in the URL review works for me

[2012-12-13 12:36] jhpedemonte opened #3629 "CoreException when trying to move/rename file"
[code]

---

Later on, I saw this exception as well, trying to do a **rename** once again:

[code]

[2012-12-13 12:39] jhpedemonte opened #3630 "NPE requesting "samples""
[code]

[2012-12-13 14:53] #3608 closed, assigned to JonFerraiolo

[2012-12-13 15:55] billreed63 commented on #3625
DataList is not really a store either,  when we look at the source code for a store the data to the store is specified as a property to the widget either a url of a json object.

[code]

where dijit.form.DataList is a HTML element select with child elements

[code]

So in order to get the widget constructed correctly after a change we need to treat it as a widget not as a store.

In the helper for

[2012-12-13 16:14] peller commented on #3584
is this related? #3423

[2012-12-13 16:19] JonFerraiolo opened #3631 "Make gridx into its own collection"
@peller

Right now gridx is classified as a dijit, but it's not. So, should create another collection named gridx, which means changing widgets.json for gridx project and updating widgetPalette.json

[2012-12-13 16:48] JonFerraiolo commented on #3351
Where do we stand on this? I just tried running off of the test server and I was able to change logins there.

[2012-12-13 18:21] JonFerraiolo opened #3632 "Docs tweaks needed"
The Palette popup text on the Sketching Cheat Sheet mentions "Dojo Containers" and "Dojo Controls". Need to do global search for these terms in the doc set.

[2012-12-13 18:41] JonFerraiolo opened #3633 "Set rightText property on ListItem - get two strings"
@jhpedemonte @aerwin

I have a fix...

[2012-12-13 18:43] #3633 closed, assigned to JonFerraiolo

[2012-12-13 18:53] billreed63 commented on #3625
Changes made for addChild processing are the reason for this regression, what is happening is when we do a ModifyCommand and the ComboBox is a child of another widget  ModifyCommand  creates the new widget then attempts to addChild the new widget to the parent. The add child processing eventually calls `DidjitWidget._addChildToDom` this will then attempt to call the `widgets.startup` dijit.form.Da

[2012-12-13 18:57] jhpedemonte commented on #3351
I personally never saw this bug.  If we still need to investigate our handling of JSESSIONID, then we can push to M9.

[2012-12-13 19:01] jhpedemonte commented on #3625
Reopening but moving to M9.

I'd rather not add another helper if it's not necessary.  In this case, I don't think it's necessary.

I think the correct solution is to change the widget type of DataList to something other than "dijit" -- maybe "generic".  A widget type of "dijit" implies that the widget inherits from `dijit._WidgetBase` and the code in **DijitWidget.js** assumes that.  Since DataLi

[2012-12-13 19:07] billreed63 commented on #3584
The html is not well formed, I somehow managed to delete the first view so the

When I have the correct html it works..

[2012-12-13 19:12] JonFerraiolo opened #3634 "When deleting last ListItem, also delete its parent"
I found myself a couple of time left with phantom RoundRectList widgets because I selected and deleted the ListItems inside, and forgot to delete the parent RoundRectList.

[2012-12-13 19:15] JonFerraiolo commented on #3351
-> M9 to investigate JSESSIONID

[2012-12-13 19:16] JonFerraiolo commented on #3628
Pushing to M9. Appears to be a graphics bug in FF when running on particular systems.

[2012-12-13 20:21] peller opened #3635 "trouble registering e-mail with "+" sign"
I tried registering peller+test@gmail.com (a valid e-mail) and ended up getting the activation e-mail, but clicking on the link and submitting the form resulted in a 403.

1) The responseText was a full HTML doc, not a JSON message, so JSON.parse in loginWindow.js threw instead of posting an error to the screen
2) I'm thinking maybe the "+" in the url ought to be escaped.  Otherwise, it might be i

[2012-12-13 20:29] peller opened #3636 "LoginWindow code throws on successful login"
and proceeds to load the workbench normally.  This is because responseText is the empty string "" and is not valid JSON.

In the debugger

{{{
var responseObject = JSON.parse(mypostrequest.responseText);
}}}

could just say JSON.parse(mypostrequest.responseText || "{}")

or test for truthiness of myposrequest.responseText...