[2011-08-17 22:59] peller commented on #835
perhaps, but it's not just a matter of catching bad user input.

[2011-08-18 15:10] JonFerraiolo commented on #378
@jonferraiolo

[2011-08-18 15:34] JonFerraiolo opened #838 "Support HTML5 parser rules"
@jhpedemonte, @peller, @childsb

(Adding this issue for completeness. Not sure if/when we would ever get to this)

HTML5 includes a set of parser rules that makes non-well-formed ("street HTML") legitimate. In olden times, browser supported HTML content that did not have proper close tags or quotes around attribute values, but W3C claimed these HTML files were broken. With HTML5, some of this stuf

[2011-08-18 15:34] JonFerraiolo opened #839 "Allow LINK elements instead of @import for Maqetta-required CSS files"
@jhpedemonte, @childsb

(Mentioned this in phone call today) Right now Maqetta assumes that claro.css (or other theme files), dojo.css (or other library CSS files), any widget-specific CSS files (e.g., datagrid has some CSS files) and app.css are all defined via @import constructs in CSS. We should also allow the HTML file to specify these files in LINK elements. To make concrete, here are the fir

[2011-08-18 15:38] JonFerraiolo opened #840 "Ability to import HTML files created by RAD"
@jhpedemonte, @childsb

One commercial product that authors HTML user interfaces is Rational Application Developer. The Dojo markup that it creates is very close to the Dojo markup that Maqetta generates, but at this point, you can't load RAD-generated markup into Maqetta. One problem is captured in #839. One #839 is fixed, this bug calls on testing with RAD-created files and fixing any remaining

[2011-08-18 15:54] waynevicknair commented on #835
@peller @JonFerraiolo
my thinking was to start with input validation. but, in the example scenario we would have to filter copy or paste actions. probably paste as we don't always copy from editor source.

[2011-08-18 16:28] JonFerraiolo commented on #835
Yes, best to implement as part of paste action.

Paste fix be a bit involved. Paste can happen both in visual pane and source pane. There are both permanent IDs that are serialized into user document and temporary IDs that Maqetta creates for its own use. Need to make sure neither permanent or temporary IDs are duplicated. For paste, I think the best thing is to run a check after the paste operati

[2011-08-18 18:13] JonFerraiolo opened #841 "Separate topics for workbench selection events vs page editor selection events"
@childsb, @jhpedemonte, @EldonReturn

Nice to have for M3, but probably OK to postpone to M4. What we have seems tenuous, but doesn't seem to be causing noticeable problems at this point.

It turns out that two separate parts of the product are using the same topic: "/davinci/ui/selectionChanged". The Files palette (and related routines) is publishing that event when there is a new selection in th

[2011-08-18 20:16] waynevicknair commented on #156
yikes! we ignore inline style rules on load. subsequent searches are made top down from CSS files. @childsb added `CSSFragment` to the `CSSModel` classes to support inline rules but it's currently not being used anywhere.

[2011-08-18 20:52] JonFerraiolo commented on #156
You sure we ignore inline style rules? Maybe we ignore it in the model code, but we definitely use inline style elsewhere in the page editor. A good percentage of the CSS changes made within the Properties palette end up going into inline style on the currently selected widget, and these get properly processed when reloading a file. Otherwise, Sample1.html wouldn't load properly.

[2011-08-19 02:09] peller commented on #810
I confirmed that (3) is still a problem... simply dragging the SampleBanner.jpg to the canvas results in a broken image.  It seems that the project name (e.g. project1) should not be part of the relative url.  Also, the leading "./" should be removed.

Yeah, I suppose we could escape it right away.  I think that happens in davinci.ve.palette.ImageDragSource.

[2011-08-19 04:17] jhpedemonte commented on #841
I found some other uses for that event.  I've created a wiki page to track all of our event names, here: https://github.com/maqetta/maqetta/wiki/Events.  So whoever fixes this, please make sure to update that page as well.

[2011-08-19 05:32] peller commented on #433
I think the font size (and thus the box size) is still way too small

[2011-08-19 14:07] billreed63 opened #842 "Copy/Paste of DataGrid uses old DataStore"
Copy/pase of datagrid needs to create new datastore

[2011-08-19 14:12] waynevicknair commented on #156
sorry. terminology gap on my part. what are the rules defined inside `<style>` tags called... obviously not "inline". in any case, whatever those are called, they are not modeled. we absolutely do keep track of `style` attributes on elements.

[2011-08-19 17:55] jhpedemonte opened #843 "Editing widget loses state"
Open Sample1.html and double click on the **New** button. Edit the text to something else.  Run the web app in Preview, notice that clicking that button (which previously was labeled "New") doesn't cause any action.  Back in the Visual Editor, notice that there is no longer a state action attached to the button (**Properties->Events**).

I'm thinking this has to do with the **destroy/recreation**

[2011-08-19 18:47] JonFerraiolo commented on #843
@peller

Yikes! Likely this bug has been in there forever. Assigning to me for time being because I suspect I know where to fix. My guess is that we need to stash the dvStates attribute before doing widget changes and then restore after it. I've fixed a similar bug recently where some other widget properties were getting dropped with a change.

[2011-08-19 21:48] JonFerraiolo commented on #305
@billreed63, @peller

Probably won't have time to fix this safely for M3.

[2011-08-19 22:58] JonFerraiolo opened #844 "Performance: consolidate metadata web requests"
@jhpedemonte, @childsb, @peller

Right now, when launching app at Maqetta.org, we have the following web requests:
- /maqetta/cmd/listLIbs
- /maqetta/cmd/getMetaRoot
- /maqetta/app/metadata/dojo/1.7/widgets.json
- /maqetta/cmd/getMetaRoot
- /maqetta/cmd/getMetaRoot
- /maqetta/app/metadata/html/0.8/widgets.json
- /maqetta/cmd/getMetaRoot
- /maqetta/app/metadata/...jquery.../widgets.json
- /maqetta/

[2011-08-19 23:50] JonFerraiolo commented on #843
We deal with on\* attributes in a special way in the page editor because we don't want UI events (e.g., click, mouseover) defined on the page content to be active while the page editor is running. The on\* attributes are in the model but not on the DOM elements in the iframe in the page editor. I'll bet this has something to do with this bug, but I don't yet see the exact reason why things are bro

[2011-08-20 00:12] JonFerraiolo opened #845 "Not purging dojo.require for widgets no longer in document"
@jhpedemonte
- New HTML file
- Add a Calendar
- Delete the Calendar
- Save, close, reopen

Result-> There is a dojo.require('djit.Calendar'); in the HEAD even though there are no Calendar widgets in the document.

[2011-08-20 00:18] jhpedemonte commented on #845
This one will be tough.  You might have several widgets of the same type and you only want to remove that widget's `<head>` resources when the last one is removed.

I'd previously proposed creating a **widget model** which lives on top of the existing **file-level model**.  Whereas the latter tracks HTML elements, the widget model would track widgets and their dependencies.

One way to handle this

[2011-08-20 00:55] peller commented on #845
How bad would the brute-force solution be, to iterate through widgets when one is deleted and regenerate the require list or compare and regenerate as needed?

[2011-08-20 01:04] peller commented on #844
getMetaRoot would be the most obvious one... any reason why that data can't be returned with listLibs?  It's possible that the widget json files could be retrieved cross-domain someday, so we wouldn't want to couple those too tightly, but sure, that could be optimized also.

[2011-08-20 01:10] JonFerraiolo commented on #845
Brute force is probably ok. It's not like it's happening in a loop or anything. We are talking about something that would happen as a cleanup operation after finishing up a command (e.g., AddCommand, RemoveCommand, etc).

[2011-08-20 03:09] #833 closed, assigned to peller

[2011-08-20 23:13] #636 closed, assigned to peller

[2011-08-21 02:33] peller commented on #636
fixed by 1238fa41d656688d418bf569024f34a0ab6b2654

[2011-08-22 06:30] EldonReturn commented on #606
Fixed. https://github.com/maqetta/maqetta/commit/4d5cd29eb68cb7660c563c284775b0e0e8ce49ba

[2011-08-22 06:30] #606 closed, assigned to EldonReturn

[2011-08-22 18:26] billreed63 commented on #842
added method to createTool for paste..

The PasteTool will look for a Custom CreateTool for the widget if the widget has a  custom CreateTool the PasteTool will then check for the
addPasteCreateCommand(command, args) method. If the method is present the PasteTool will invoke the method passing in the CompondCommand object that the PasteTool is using to Paste the widget, and the args that define th

[2011-08-22 18:26] #842 closed, assigned to billreed63

[2011-08-22 21:27] billreed63 commented on #805
added addPasteCreateCommand to TreeCreateTool

August 2011

[2011-08-22 21:27] #805 closed, assigned to billreed63

[2011-08-22 22:03] waynevicknair commented on #492
fixed with commit cf846c3f687d40e54a8086f0469f34ef732ae642

[2011-08-22 22:03] #492 closed, assigned to waynevicknair

[2011-08-23 02:34] peller opened #846 "Palette Icon text is mispelled"
@jmockler @jinsil

The Dojo Container and Controls icons are mispelled "digit" -- the project name is "Dijit"

Putting text in the icon makes it hard to read and is redundant with the adjoining label.  I think it would be more informative to have a generic "widget" icon used by this and other libraries (as opposed to HTML tags) and use the name "Dijit" in the label instead of Dojo: "Dijit Containe

[2011-08-23 13:23] billreed63 opened #847 "StackContainer does not create StackController on paste"
When the user copy and paste StackContainer no Controller is created for the pasted stack

[2011-08-23 13:33] billreed63 opened #848 "Mobile widgets need to create new DataStore on paste"
ComboBox

[2011-08-23 13:36] billreed63 commented on #848
EdgeToEdgeDataList

[2011-08-23 16:28] stepheneb opened #849 "adding dojo Calendar generates internal error"
I followed these instructions: https://github.com/maqetta/maqetta/wiki/Developer-Setup to setup a new maqetts instance and then the first tutorial about creating and editing an html file.

When I dragged a dojo calendar widget intio the canvas a dialog appeared that stated: _The action was interrupted by an internal error._

Here's what the screen looked like:

![screenshot](https://img.skitch.com

[2011-08-23 16:31] stepheneb commented on #849
I also noticed these (possible) issues in the osgi console:

[code]

[2011-08-23 17:08] peller commented on #827
See also #826

Since Safari 5.0 is no longer available in the wild (and we didn't put any precision on the '5' anyway) I don't think this is necessary.   It's like saying "make sure you've applied all OS and security fixes to your machine".

[2011-08-23 17:18] peller commented on #826
versions in this message are pretty meaningless now, since the older versions are no longer available in the wild.

[2011-08-23 17:19] peller commented on #826
@WayneVicknair: for completeness, was there a line of code checking dojo.isSafari >= 5 somewhere in Joomla?  If so, can you change it?

[2011-08-23 17:51] #826 closed, assigned to peller

[2011-08-23 18:21] peller commented on #832
My observation -- and coincidentally we talked about this on the call this morning -- is that the pub/sub for VisualEditor listens (subscribes) to three events for _each_ editor in its constructor, but the events are probably only relevant to the current editor, making this wasteful at best.  With the lazy loading changes, it means the event will get processed by dormant editors with null contexts

[2011-08-23 19:07] billreed63 commented on #848
August 2011

[2011-08-23 19:07] #848 closed, assigned to billreed63

[2011-08-23 19:30] billreed63 commented on #847
August 2011

[2011-08-23 19:30] #847 closed, assigned to billreed63

[2011-08-23 20:06] JonFerraiolo commented on #832
of course, you usually want to bulletproof such callback code. For example, make sure the context is not null.

[2011-08-23 21:11] peller commented on #832
I disagree.  If context is null, it's sometimes an indication that it shouldn't be getting called.  The lazy loading has brought out some unnecessary processing, I think.

[2011-08-23 21:24] billreed63 opened #850 "Mobile theme not used when html file is in subfolder"
When file1.html is in a subfolder the mobile theme is not used...

[2011-08-23 22:21] JonFerraiolo commented on #832
Can't we agree that both sides should be cleaned up? We should define events and do event publishing in a manner that minimizes wasted processing, but callback functions should be paranoid and make sure everything is ok.

[2011-08-23 22:31] JonFerraiolo commented on #849
@jhpedemonte

I'm pretty sure I know what's wrong with the message "Could not load 'davinci.ve.input.CalendarInput'...". I believe we recently moved the _Input.js files out of davinci.core/WebContent/davinci/ve/input into davinci.dojo_1_7/WebContent/metadata/dijit/_, but we didn't update the references within davinci.dojo_1_7/WebContent/metadata/widgets.json.

Regarding the OSGI messages for jQuer

[2011-08-24 01:54] peller commented on #832
I've been trained not to bullet proof code in JS with unnecessary null checks.  It's more of a coding habit about keeping code minimized than a performance issue.  In this particular case, a null check would have hidden a problem.

[2011-08-24 03:36] jhpedemonte commented on #849
The Developer Setup page hadn't been updated to state that we are running from the `dojo_1_7` plugin (not the old `dojo_1_6`).

@stepheneb, in Eclipse, open the **Run Configurations**, select your Maqetta run config, and in the **Bundles** tab, deselect **davinci.dojo_1_6** and instead select **davinci.dojo_1_7**.  **Run** and you shouldn't get that issue any more.

(Actually, you may have to clea

[2011-08-24 03:36] #849 closed, assigned to billreed63

[2011-08-24 04:18] stepheneb commented on #849
I had both davinci.dojo_1_6 and davinci.dojo_1_7 selected in the bundles. I removed davinci.dojo_1_6 and ran the app.

I no longer get the error message after dragging a Calendar object into the html canvas.

I do not get any properties/edit dialog when double clicking the Calendar however. I've just started playing with maqetta and am not certain if I should see some sort of inspector/editor when

[2011-08-24 13:12] billreed63 commented on #849
For preview 2 dojo_1_7 we removed the Smart Input for the Calendar widget #668

[2011-08-24 15:48] billreed63 commented on #850
August 2011

[2011-08-24 15:48] #850 closed, assigned to billreed63

[2011-08-24 16:07] billreed63 commented on #127
I tested this on Preview 3 dev.

Widgets dropped in the TilePane are displayed in the outline palette, and are select-able.

the height property of TitlePane adjusts the height of the TitlePane

August 2011

[2011-08-24 16:07] #127 closed, assigned to billreed63

[2011-08-24 16:44] billreed63 commented on #116
ESC key maps to CANCEL
CTRL+ENTER key  maps to OK
ENTER key on single line input maps to OK
ENTER, followed by ENTER key (users hits ENTER key twice consecutively) on multi-line  maps to OK

August 2011

[2011-08-24 16:44] #116 closed, assigned to billreed63

[2011-08-24 17:12] JonFerraiolo commented on #843
More research into this bug:
- Doesn't have anything to do with states. If you create a new HTML file, add a button, enter "console.log('aaa')" for onclick on the button, and then change the button label, the onclick property gets wiped out.
- Doesn't have anything to do with buttons or Dojo. If you create a DIV, add onclick property of "console.log('aaa')", and bring up smart input to add text in

[2011-08-24 17:13] JonFerraiolo commented on #843
@billreed63, @peller, @waynevicknair

This might be a good one for one of you to pick up.

[2011-08-24 17:16] JonFerraiolo commented on #808
Not sure why GitHub didn't automatically close this with the commit. Closing now.

[2011-08-24 17:16] #808 closed, assigned to JonFerraiolo

[2011-08-24 17:17] JonFerraiolo commented on #803
@billreed63, @waynevicknair

Might be good if someone snatched this bug from me.

[2011-08-24 17:18] JonFerraiolo commented on #802
@billreed63, @peller, @waynevicknair

This might be a good one for someone else to grab.

[2011-08-24 17:20] JonFerraiolo commented on #801
@peller This might be a good one for you to grab from me.

[2011-08-24 17:22] JonFerraiolo commented on #798
Yeah, rotating the content is likely to cause all sorts of issues.

@peller, @waynevicknair, @billreed63 - OK to snatch this one from me. Should only require a couple of lines of code change.

[2011-08-24 17:25] JonFerraiolo commented on #793
@billreed63, @peller, @waynevicknair

This should be an easy one to fix.

Because of browser bugs, the preview logic does a full tear down and recreation of the silhouette upon changing devices. Right now the recreation logic isn't taking in to account the current value for rotation and is always setting up the new device in portrait mode.

[2011-08-24 17:26] JonFerraiolo commented on #776
Removing the M3 designation. We might be able to close this bug due to Wayne's fixes to the maqetta.org mail logic, but leaving this open so we'll look at it again down the road to make sure everything is ok.

[2011-08-24 17:27] JonFerraiolo commented on #778
Pushing this out of M3. I don't think we should mess with caching logic between now and the M3 release.

[2011-08-24 17:29] JonFerraiolo commented on #774
Reassigning to Wayne. Didn't we take care of this? If so, please close.

[2011-08-24 17:30] JonFerraiolo commented on #756
This will probably get deferred out of M3, but leaving as M3 for time being.

[2011-08-24 17:31] JonFerraiolo commented on #733
@billreed63, @peller, @waynevicknair - this might be a good one to grab from me

[2011-08-24 17:32] JonFerraiolo commented on #727
@peller, @waynevicknair, @billreed63 - this might be a good one to grab from me

[2011-08-24 17:33] JonFerraiolo commented on #694
Moving to M4.

[2011-08-24 17:34] JonFerraiolo commented on #699
@peller, @billreed63 - ok for one of you to grab this bug.

[2011-08-24 17:34] JonFerraiolo commented on #684
Pushing to M4.

[2011-08-24 17:38] JonFerraiolo commented on #641
Given that we are running out of time on M3, I suggest that we update the test plan for now to tell people that we currently don't have a text content value for DIV, and point to #641 and #725, and once that is done, then push this bug to M4.

@peller, @billlreed63, @waynevicknair - would be good if one of you updated the test plan as I am suggesting and then moved this bug to M4.

[2011-08-24 17:39] JonFerraiolo commented on #578
I'm deep into the states stuff now. Maybe I'll fix this in next few days as I do various cleanups.

[2011-08-24 17:40] JonFerraiolo commented on #576
@jhpedemonte, @billreed63, @peller - This bug might relate to Javier's library API proposals and/or Bill's recent work with Paste command.

[2011-08-24 17:41] JonFerraiolo commented on #558
Pushing now to M4.

[2011-08-24 17:41] JonFerraiolo commented on #529
Pushing to M4.

[2011-08-24 17:45] JonFerraiolo commented on #26
Closing this. Fixed with commit 34adbd4e3684c6ba124a

[2011-08-24 17:45] #26 closed, assigned to JonFerraiolo

[2011-08-24 17:51] JonFerraiolo commented on #522
Pushed to M4.

[2011-08-24 17:53] JonFerraiolo commented on #438
Since the worst parts have been address, set to Priority-Low for M3. Ok to defer rest to M4 if we run out of time.

[2011-08-24 17:58] JonFerraiolo commented on #18
Setting to M3, Priority-Med. The redraw/resize problems we have upon opening Sample1.html are embarrassing.

@jhpedemonte - Maybe this is a different case for the library APIs, but in this case it is the child listening to events on one of its ancestors?

@billreed63

[2011-08-24 17:59] JonFerraiolo commented on #119
@billreed63, should we push this one to M4?

[2011-08-24 17:59] JonFerraiolo commented on #124
Should we push to M4? Do we have time for M3 to add more widgets to sketch theme?

[2011-08-24 18:00] JonFerraiolo commented on #138
Adding this to M3

[2011-08-24 18:02] JonFerraiolo commented on #145
Moved this up to M3, but with Priority-Low.

@billreed63 - If Adam doesn't have time for this, maybe you could take a look?

[2011-08-24 18:03] JonFerraiolo commented on #147
Pushed to M3, but I think this is fixed. Adam, could you please try on Safari 5.1, Chrome and FF4 (or greater), and if you can't reproduce, please close.

[2011-08-24 18:06] JonFerraiolo commented on #297
Assigning for M4, presumably as part of Orion file client effort

[2011-08-24 18:20] billreed63 commented on #792
August 2011

[2011-08-24 18:20] #792 closed, assigned to billreed63

[2011-08-24 19:08] billreed63 commented on #139
I change the create tool so that the Store and Model are created as the first items under the body element, This is the suggested option for declarative use in the dojo docs.

[2011-08-24 19:08] #139 closed, assigned to billreed63

[2011-08-24 19:28] billreed63 commented on #117
Seems to be working on the latest dev build for preview 3

August 2011

[2011-08-24 19:28] #117 closed, assigned to billreed63

[2011-08-24 19:49] billreed63 commented on #90
August 2011

[2011-08-24 19:49] #90 closed, assigned to billreed63

[2011-08-24 20:17] billreed63 commented on #119
Yes

[2011-08-24 20:19] peller commented on #798
what approach do you suggest?  Should I try key-frame again, or is there a better way to turn visibility off then back on?

[2011-08-24 20:37] billreed63 commented on #320
The reason this happens is that the widget is already created and we are basically doing a modify  of the widget. That is why if the user cancels smart input the widget is still on the canvas.
So after the user clicks the ok the command stack has a Add command and a Modify command on the stack.

[2011-08-24 20:54] JonFerraiolo commented on #798
No, I'd avoid any more trickiness with animations. That's a potentially large time sink that might expose browser bugs. I would simply set display:none on the iframe before the animation starts and the restore the display property when the animation ends. Two lines of code for that part. I haven't studied the code closely here, so maybe it's not that simple.

[2011-08-24 20:56] #774 closed, assigned to waynevicknair

[2011-08-24 20:57] JonFerraiolo opened #851 "Support JavaScript libraries served over CDN"
At some point, we should support JavaScript libraries served over CDN rather than copied into project (or pseudo-copied into project via major redirects)

[2011-08-24 20:58] JonFerraiolo opened #852 "Support JavaScript libraries stored in sibling project"
At some point, we should support JavaScript libraries found in a sibling project rather than copied into project (or pseudo-copied into project via major redirects)

[2011-08-24 21:14] #832 closed, assigned to peller

[2011-08-24 21:15] JonFerraiolo commented on #320
Yes, I understand that's what is happening. That makes sense to us, the programmers, but to a user, he has created a button, and if he hits undo (once), he expects the button to go away. From a user perspective (who doesn't know about AddCommand and ModifyCommand), this is a bug.

@jhpedemonte

[2011-08-24 22:18] peller commented on #830
Kris says you can use dojox.io.xhrPlugins with dojo.data also...

[2011-08-24 22:46] peller opened #853 "Add support for national calendars"
There are presently three alternate calendars one can use.  The logic is in the packages dojox.date.hebrew, dojox.date.islamic, dojox.date.buddhist.  You actually use the same dijit.Calendar widget, you just have to add dojo.require's for the necessary classes from these packages on the page and set the datePackage property.

Clearly, there is no 1:1 correlation with a widget, it's a one to many h

[2011-08-24 23:52] peller commented on #798
how do you know when it ends?  Just make a timer and hope they line up, I guess?

[2011-08-25 01:08] JonFerraiolo commented on #798
Looking at the code, the animation seems to be done by an SVG <animateTransform> element. SVG provides an 'onend' attribute on all of its animation elements that allows you to define JS that gets called when the animation ends. I am assuming that all of the browsers we support also support the 'onend' attribute. There are actually two animateTransform elements, one to do a translate and the second

[2011-08-25 03:02] jhpedemonte commented on #853
If I understand you correctly, then this should be pretty simple.  Copy the existing Calendar metadata and just add a `require` line to insert the appropriate `dojo.require`.  Change the `content` to be something like:

[code]

(Incidentally, it looks like all of our Dojo metadata is wrong, since the `content` doesn't actually contain the `data-dojo-type` [or `dojoType`] attribute.  I guess our co

[2011-08-25 03:11] jhpedemonte commented on #320
That's interesting.  I wonder if in this particular case (drop new widget which immediately pops up smart input) we need to reach back into the undo stack, pull out the Modify and Add commands and merge them into a single command.

[2011-08-25 03:14] jhpedemonte commented on #851
This should be fairly easy. Given a URL, we'd expect there to exist **${URL}/metadata/widgets.json**.  That file would then point to the individual metadata (OAM) files for each widget, so it should be easy to construct those URLs.  Then, everything referenced within the OAM files is relative to the OAM file itself, so again it's easy to generate the proper path (which we already do).

[2011-08-25 03:15] jhpedemonte commented on #852
I'm not sure I completely understand "sibling project".  Can you please explain in more detail?

[2011-08-25 03:19] jhpedemonte commented on #18
This one is a bit tough.  If a user sizes the widgets inside of a container to a certain size and then sizes the container bigger, should the widgets inside resize as well?  I'm not sure that's always the case.

[2011-08-25 03:28] jhpedemonte commented on #699
First, both **ScrollableView** and **SwapView** (and **View**?) should have `"resizable": "none"` set in **widgets.json**.

Then, maybe we can update the Properties View code to check the `resizable` property and disable **Properties->Layout->width/height** as needed. (The `resizable` prop is defined [here](https://github.com/maqetta/maqetta/wiki/widgets.json-spec).)

[2011-08-25 04:05] jhpedemonte commented on #849
Stephen, if it's working for you now, then just ignore my comment about clearing out the user space.  No need.

[2011-08-25 04:15] JonFerraiolo commented on #699
I think views need to be resizable in both directions, but particularly height. It is common that a UI will have a TabBar at the top and IconContainer at the bottom, with swappable views in the middle. For those scenarios, Views shouldn't have height:100%

[2011-08-25 04:18] JonFerraiolo commented on #18
What we want is WYSIWYG - Maqetta shows the same thing that will happen when the page ultimately runs in the browser. If the child resize based on the parent, then when the parent changes size, we need to resize the children. Of course, easy to say, maybe harder to pull off. We probably can't support all cases. Certainly, we can support width or height set to "auto" because the browser will resize

[2011-08-25 04:21] JonFerraiolo commented on #852
By sibling, I mean you have a workspace like this:

[code]

[2011-08-25 04:23] JonFerraiolo commented on #320
The reach-back approach seems like the #1 candidate at this point. The other approach that comes to mind would be to delay the completion of the AddCommand until after the SmartInput comes down.

[2011-08-25 04:29] jhpedemonte commented on #699
Yes to the 2nd sentence.  Dojox Mobile takes care of all this for the user -- no resizing necessary.  As long as you lay out the UI properly and use the correct attributes, then the Dojox Mobile code sizes the views correctly.

For example, take a look at the HTML here: http://stackoverflow.com/questions/7154398/layouting-dojo-mobile-app/7166302.  There are 3 sibling views, each with a Heading and

[2011-08-25 04:33] jhpedemonte commented on #18
I'm still not sure exactly what you want to accomplish here. For example, if I have a TabContainer in which I've put a couple of TextBox widgets, one on top of the other.  Later I realize that I want to add something on the right of those TextBoxes and I resize the TabContainer horizontally.  Should the width of the TextBoxes increase as well?  I don't think so.

And if we try to get into the busi

[2011-08-25 13:17] billreed63 commented on #830
We considered all these option before deciding that the cleans approach was to add a ItemJsonpReadStore, below are the limitations of each option.

Option 1)

We would need to add a bit of script to the HTML file that is something like for preview, but only if the user has choice jsonp as the store and we must remove it if they change their mind.

[code]

And change all the helpers that deal with

[2011-08-25 13:31] peller commented on #801
looks like a bug in IconContainer.  The `IconItem.onError` method (which populates defaultIcon if none is specified) never fires.  Apparently, FF does not consider `<img src="">` to be an error.  The same behavior can be seen here:

http://archive.dojotoolkit.org/dojo-2011-08-25/dojotoolkit/dojox/mobile/tests/test_BlackBerry-IconContainer.html

FWIW, no matter how much I clear cache or reload, I n

[2011-08-25 14:07] peller commented on #801
http://bugs.dojotoolkit.org/ticket/13755

[2011-08-25 14:17] billreed63 commented on #830
Why do they put the close with the comment button!!!

[2011-08-25 14:55] JonFerraiolo commented on #18
I was thinking that, when an ancestor widget changes size, we add logic to invoke the resize() method on descendant widgets. I would expect this would be a library API or widget API because we would only want to do this for Dojo widgets and not for HTML widgets. Perhaps something like Dojo layout containers register themselves for notification whenever an ancestor changes size. Then the callback l

[2011-08-25 15:44] peller opened #854 "Does our metadata cover AMD?"
Right now, we insert dependencies for Dojo (dojo.require) using the $text property in our metadata.

With AMD, for Dojo and potentially for non-Dojo code, this would require inserting an AMD wrapper with a dependency list and a function closure.  Is this possible using metadata?  Is this also an issue for OAA?

[2011-08-25 16:09] peller commented on #853
So that solution works fine... only problem is, I don't have a way to reference several unique metadata files for the same widget (in this case, dijit.Calendar), as "type" is used to determine this mapping.  If I use bogus types to point at different metadata files (seems reasonable) then DijitWidget inserts dojoType for the bogus widget type, leading to an exception.

Based on a discussion with @

[2011-08-25 18:07] JonFerraiolo commented on #54
Setting this to M3 with Priority-Medium and assigning to Adam.

Just tried this again and bug is still there. Here is what appears in Chrome console:

Uncaught TypeError: Cannot read property 'domNode' of null app/dojo/../davinci/ve/VisualEditor.js:22
dojo.declare.constructor app/dojo/../davinci/ve/VisualEditor.js:22
a app/dojo/./_base/declare.js:360
dojo.clone app/dojo/./_base/lang.js:267
dojo.cl

[2011-08-25 18:11] JonFerraiolo opened #855 "Upon widget creation, if you drag out widget size, becomes child of wrong parent"
- New HTML File
- Add a TabContainer
- Set width=300px, height=200px
- Click on DIV in widgets palette
- On canvas, drag out a rectangle in middle of TabContainer

Result=> DIV is created with correct size, but is added as last child of BODY instead of as child of first ContentPane in the TabContainer.

What I would propose is that for flow layout we use the target object for the mousedown event (

[2011-08-25 18:48] jhpedemonte opened #856 "No "fixed" parameter for Heading, TabBar"
**Heading** and **TabBar** OAM files don't specify the `fixed` property, which is used when those widgets are placed within a **ScrollableView**.

Also, the existing docs aren't that great at pointing out this property.  For example, in the [Heading docs](http://docs.dojocampus.org/dojox/mobile/Heading), `fixed` is mentioned in the opening paragraph, but not in the **Constructor Params** section.

[2011-08-25 19:34] billreed63 commented on #454
August 2011

[2011-08-25 19:34] #454 closed, assigned to billreed63

[2011-08-25 20:40] waynevicknair commented on #788
fixed with commit c73c98567c6646acbc2c1bf4cff114d51ad0fa7b

[2011-08-25 20:40] #788 closed, assigned to waynevicknair

[2011-08-25 20:54] billreed63 opened #857 "Theme editor throws exception on page load"
The theme editor is throwing exceptions when the theme editor is opened.
Workbench.js line 52 and 67

[2011-08-25 21:06] billreed63 commented on #857
Changes for singleton pub/sub where expecting currentEditor to have visualEditor member. ThemeEditor was using _visualEditor. So I change ThemeEditor._visualEditor to ThemeEditor.visualEditor

[2011-08-25 21:06] #857 closed, assigned to billreed63

[2011-08-25 21:27] jhpedemonte commented on #856
So, following [OpenAjax Metadata Spec](http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Datatypes), I think this should be represented thusly:

[code]

Jon, does that seem right?

Of course, we don't currently support `enum` in OAM. But using `enum` will allow us (in the future) to change the Properties view to show drop down menus for some properties, rather than only a tex

[2011-08-25 21:40] JonFerraiolo commented on #856
Yes, looks like the right way to go.

[2011-08-25 21:41] jhpedemonte opened #858 "Heading can have <body> as a parent"
See [test_iPhone-ScrollableView-hv-ah-af.html](http://download.dojotoolkit.org/release-1.7.0b2/dojo-release-1.7.0b2/dojox/mobile/tests/test_iPhone-ScrollableView-hv-ah-af.html).  Also, the [Application header/footer example](http://docs.dojocampus.org/dojox/mobile/ScrollableView) in the Dojo docs.

Heading can live outside of a View, particularly for use when it should stay visible even as user sw

[2011-08-25 21:56] jhpedemonte commented on #854
Could you please post an example of what the `<head>` should look like with AMD?  For example, after adding a `dijit.form.Button`.

[2011-08-25 22:03] childsb opened #859 "multiple NPE's when opening theme editor"
0) enable halt on errors in javascript debugger (FF)
1) create a new theme
2) (theme editor auto launches on new theme).  notice the error or the debugger stop with the message:
"davinci.Runtime.currentEditor.visualEditor._editorSelected is undefined"
3) Also note the "this._widgets[w] is undefined" error after continuing after error #2  (not sure if they are related).

[2011-08-25 22:07] childsb opened #860 "NPE when closing visual editor"
0) enable halt on errors in FF debugger
1) Open sample1.html
2) close sample1.html
3) observe error: "davinci.Runtime.currentEditor is null "

[2011-08-25 22:09] childsb commented on #859
Also noticed this error when closing the theme and visual editor: " davinci.Runtime.currentEditor is null "

[2011-08-25 22:10] jhpedemonte commented on #859
@billreed63, can you take a look?

[2011-08-25 22:15] jhpedemonte commented on #859
Actually, Brad says this might be due to Adam's changes to move the editor subscriptions out to Runtime.js.  Reassigning to @peller for now.

[2011-08-25 22:47] peller commented on #854
[code]

[2011-08-25 22:54] peller commented on #859
@childsb, can you retest?  It seems ok now, and @billreed63 corrected my changes relative to ThemeEditor in 3ab9902e7346946bc711f7e0c00e2ca6662d9397

[2011-08-26 00:41] peller opened #861 "remove davinci.ve.widget.widgetHash"
need to replace this, probably with something bound to the Context object.  widgetHash is presently keeping a single hashtable for all editor instances, so there are collisions (and leaks)

@jhpedemonte

[2011-08-26 00:41] peller commented on #861
tried removing in 3002a235441c8121a09af36f5085f28940da42ea

[2011-08-26 03:43] jhpedemonte commented on #854
Oh, so you're saying that if we add multiple widgets, their type would get added to the string within `require()`, right?

Of the top of my head, I don't think this can be handled by OAM.  It would only work if each widget type got it's own `require()` statement (which I guess would still work).

At the moment, I'm not sure about the best way to handle this.  Might be we need to make use of the `o

[2011-08-26 03:45] jhpedemonte commented on #861
What happened here?  Why did you revert the first commit?

[2011-08-26 04:27] jhpedemonte opened #862 "Dragging image onto page fails, with bad path"
Drag SampleBanner.jpg on to page.  Won't work as before, with error in console:

[code]

Notice the double instances of "project1".  The generated HTML source has:

[code]

[2011-08-26 04:31] jhpedemonte commented on #862
In **ImageDragSource.js**, `dragStart` has a call to `this.data.getPath()`.  `this.data` is a **File** resource, and `getPath()` returns "./project1/SampleBanner.jpg".  Is that right?

But the issue is that this is within a file that is a sibling of SampleBanner.jpg, so the correct value should just be "SampleBanner.jpg".  What is the correct way to ignore the "project1" dir?

[2011-08-26 05:10] jhpedemonte commented on #856
I just added the `fixed` prop to Heading and TabBar, as a simple string datatype.  I'll open a different bug for handling the enumeration.

Is `fixed` prop used by other widgets, like IconContainer?

[2011-08-26 05:14] jhpedemonte opened #863 "Handle enumerated properties in OAM"
Some widgets have properties which only allow a few options.  For example, the `fixed` property in Dojox Mobile widgets can only take "top" or "bottom" as values.

First, we need to specify the enumerated values in the OAM files.  Second, we need to update the Maqetta code to properly handle enumerated values.

Correctly showing such properties in the Properties view is covered by #242.

[2011-08-26 05:18] jhpedemonte commented on #863
First question is how to specify this in OAM.

As part of #856, I looked at the OAM spec and came up with this solution, using the `enum` element:

[code]

However, in #242, @JonFerraiolo showed this example, where the `option` is a direct child of the property, rather than using a separate `enum` element:

[code]

I'm really not sure which is the correct implementation, based on the spec.

[2011-08-26 05:19] jhpedemonte commented on #856
Created #863 to track handling of enumerated property values.

[2011-08-26 05:34] jhpedemonte commented on #858
After above change, I tried to create similar UI to that in linked HTML page from summary:
- Add Heading to new page.
- In **Properties->Widget-specific**, set `fixed` to "top".
- Add ScrollableView under Heading.
- Add RoundRectList into ScrollableView.
- Add Heading.  Use Outline to move it out of ScrollableView and to same level as the view.
- In **Properties->Widget-specific**, set `fixed` to

[2011-08-26 05:46] jhpedemonte commented on #858
Should have mentioned that I tested this within an iPhone silhouette.

I tried calling `resize()` on the ScrollableView after adding the 2nd Heading, but that didn't do anything.

Also, closing and reopening the VE doesn't make it appear correctly.  In fact, it's worse now, since the ScrollableView is much taller.  Yet in Preview it still looks good.

[2011-08-26 12:30] peller commented on #861
'cause without a replacement for the hash, you can't add a widget to the page.  Well, now I know where it fails.  I put it back until we have something else working.

[2011-08-26 12:34] peller commented on #862
see #810

[2011-08-26 12:37] jhpedemonte commented on #862
Thanks.  Closing as duplicate of #810.

[2011-08-26 12:38] jhpedemonte commented on #810
See #862 for more info on the issue with dragging image on to page.

[2011-08-26 14:19] peller commented on #147
The first part seems to be a dup of #824.  The scrolling bug still exists.

[2011-08-26 14:38] childsb commented on #810
duplicate of 862, moving this issue there.

[2011-08-26 14:38] #810 closed, assigned to childsb

[2011-08-26 14:39] childsb commented on #862
closed 810, using this bug to track the DND bug.

[2011-08-26 14:43] JonFerraiolo commented on #860
Assigning to @peller just so that it isn't unassigned but maybe should go to @waynevicknair

[2011-08-26 14:49] peller commented on #860
I can't reproduce this.  @childsb, can you?

[2011-08-26 14:54] childsb commented on #654
Moved DOJO_BUILD_ --> MAQETTA_DOJO_BUILD

[2011-08-26 14:54] #654 closed, assigned to childsb

[2011-08-26 15:41] jhpedemonte commented on #863
The following example in the [`<childProperties>`](http://www.openajax.org/member/wiki/OpenAjax_Metadata_1.0_Specification_Properties#.3CchildProperties.3E) spec backs up what Jon wrote:

[code]

[2011-08-26 15:45] #147 closed, assigned to peller

[2011-08-26 16:18] peller opened #864 "DnD fails when scrollbar is 1+ page down"
put enough on the page in the visual editor to cause a scrollbar.  Scroll down.  Note that you will be unable to drag anything beyond the point which was at the bottom of the page before you scrolled.

[2011-08-26 16:23] #863 closed, assigned to jhpedemonte

[2011-08-26 16:27] billreed63 commented on #469
This is is dependent on #830

[2011-08-26 16:28] billreed63 commented on #830
issue #469 is dependent on this issue

[2011-08-26 16:41] peller commented on #864
The HTML/BODY inside the visual editor iframe have a fixed height and position, and that's the target of our mouse events, so it slides out of view with the scrollbar.

@JonFerraiolo, not sure if this has to do with the silhouetteiframe insertion (probably not)  more likely, something wrong with our overuse of 100%x100% geometry in CSS.

[2011-08-26 17:36] peller commented on #138
We're part way there.  context.loadRequires seems to do what's necessary to load the code onto the page and the paste looks successful, but the dependencies are not making it to the source view until the file gets reparsed -- you must close and reopen the file to see the dojo.requires in source view.

[2011-08-26 18:04] waynevicknair opened #865 "Changes are wiped out in Source edit view"
typing is getting eaten in source view and caret is getting positioned at top of file on each keystroke.

Open Sample1.html
Click on a split view or source view
Position caret in <label> tag and try to add a 'title' attribute

[2011-08-26 18:07] billreed63 opened #866 "Source editor does moves cursor to position 1,1"
If I am typing in the middle of the page and pause for a second the source editor does a setSource which causes the cursor to move to the first line and first position (1,1). The effect is that if I am deleting or add content in unintended places making the source editor unusable

[2011-08-26 18:10] peller commented on #866
@WayneVicknair, is this what you're seeing?

[2011-08-26 18:14] waynevicknair commented on #866
duplicate of #865

[2011-08-26 18:14] #866 closed, assigned to nobody

[2011-08-26 18:23] peller commented on #570
checkin from Eldon: 54390c83a5388f767198ce78ecbf0fc08c9b8919

[2011-08-26 18:23] billreed63 commented on #866
fixed by #865

[2011-08-26 18:27] peller commented on #801
github didn't seem to catch the checkin: fbf29b9b92b982456dec

[2011-08-26 18:33] billreed63 commented on #95
August 2011

[2011-08-26 18:33] #95 closed, assigned to billreed63

[2011-08-29 03:08] #689 closed, assigned to peller

[2011-08-29 03:52] jhpedemonte commented on #722
Pushing to M4.

[2011-08-29 03:53] jhpedemonte commented on #811
How important is this for M3?  What's the priority?

[2011-08-29 03:59] jhpedemonte commented on #802
Assigning to Wayne for now.

[2011-08-29 04:02] jhpedemonte commented on #865
Is this really fixed? If so, please close issue.

FYI, GitHub only recognizes a few phrases during commits in order to close an issue, such as "fixes #XXX", "fix #XXX" or the same but using "close" instead of "fix".

[2011-08-29 04:04] jhpedemonte commented on #795
This'll probably slip to M4.

[2011-08-29 04:11] peller commented on #825
dup of #147, fixed by bd539241f4c9505ef34f06285ee868f82a330641

[2011-08-29 04:11] #825 closed, assigned to peller

[2011-08-29 04:37] peller commented on #789
works for me

[2011-08-29 04:38] peller commented on #789
...though they get reversed in order  #963

[2011-08-29 04:46] peller commented on #747
cannot reproduce this

[2011-08-29 04:46] #747 closed, assigned to peller

[2011-08-29 04:51] JonFerraiolo opened #867 "Deal with 'display' property on Properties palette for dojox.mobile.View widgets"
@jhpedemonte

Maqetta right now manages the eyeball icon for dojox.mobile.View widgets, but doesn't handle changes made in the Properties palette. Two ways to address this come to mind:

1) Allow users to change the 'display' property in Properties palette, but in response to such a change, the page editor needs to update the visibility of other View widgets
2) Disable the 'display' property for V

[2011-08-29 14:14] #865 closed, assigned to waynevicknair

[2011-08-29 14:29] waynevicknair commented on #867
we already have a UI affordance -- the winking eye in the outline view -- which allows designers to control visibility of their widgets, i recommend disabling the 'display' property in the Properties palette.

[2011-08-29 14:35] JonFerraiolo commented on #867
We talked about whether Props palette should have dupes for properties that are settable in other parts of Maq UI (e.g., Button labels) and decided that all properties should appear in Props palette even if duplicate control is available elsewhere. Also, this issue is only for certain widgets such as View. For normal processing, display actually has multiple possible values, with none, block, inli

[2011-08-29 14:40] jhpedemonte commented on #846
Huh, I never noticed that. Assigning to @jmockler.

Here's the icon in question:
![Dijit icon](http://i.imgur.com/fqiDH.png)

Used for both "Dojo Containers" and "Dojo Controls" sections in the Widgets palette.

Janet, do you think we could get updated icon within the next week or two?

@JonFerraiolo

[2011-08-29 14:43] jhpedemonte commented on #775
Assigning to Bill for now, but I (or someone else) can take it if necessary.

[2011-08-29 14:46] jhpedemonte commented on #717
@JonFerraiolo @peller @childsb Pinging again -- do you guys have any idea about the above?  Wondering why the code is like it is.

[2011-08-29 14:52] jhpedemonte commented on #681
Assigning to Jon for further investigation (what do we do with this issue?).  If there's something that actually needs to be fixed here, then the issue can be reassigned to the proper person.

[2011-08-29 14:54] jmockler commented on #846
@jhpedemonte - @jinsil is going to provide a new one via this Issue. Can't believe we missed that one.. 8-)

[2011-08-29 14:58] peller commented on #846
@jmockler: should we consider unifying the text on "Dijit" or "Dojo"?  Then we may not need the text in the icon at all.

[2011-08-29 15:04] jinsil commented on #846
The icon was delivered thru Request 7531. Please let me know if you need the same icon.

[2011-08-29 15:34] jmockler commented on #846
will clarify with @jinsil

[2011-08-29 15:35] jmockler commented on #846
@peller - I understood when we created the icon that we wanted to distinguish between "Dijit" or "Dojo" objects. Is that still the case?

[2011-08-29 15:47] jmockler commented on #846
@jhpedemonte - sent via email

[2011-08-29 16:13] JonFerraiolo commented on #846
Had a discussion with Adam. Background is that we have widget collections. Right now we have Dojo Containers, Dojo Controls, HTML, Dojo Mobile, YUI, jQuery, and then various company-specific icons via extensibility.

Another bit of background is that we might do a major makeover for the Widgets palette in the coming months.

A 3rd bit of background is that there is visual inconsistency now where t

[2011-08-29 16:28] JonFerraiolo commented on #717
The code in attach() that you are asking about above looks generally good to me as a serviceable short-term hack, but probably needs to be cleaned up at some point. Fixing this code would be risky and we would need a good chunk of time for lots and lots of testing. If we can push off to M4, that would be good.

If IF part is meant to look for widgets that can take HTML children, the ELSE part is f

[2011-08-29 16:38] peller commented on #717
so getWidget() has a _major_ side effect.  It's what makes the widget managed, IIRC.  Probably not the greatest name for that method.

[2011-08-29 16:40] childsb commented on #862
Fixed with commit cfde584b97bfdcd8f288b6cd0152df9a06737245

[2011-08-29 16:40] #862 closed, assigned to childsb

[2011-08-29 16:49] JonFerraiolo opened #868 "Investigate height:100% on dojox.mobile.View"
@jhpedemonte

As Javier has pointed out, we might not want to set View height to 100%. Jon needs to investigate soon.

[2011-08-29 16:52] JonFerraiolo opened #869 "Unselect or at least don't show focus if widget becomes invisible?"
Reminder to think through this issue.

As @billreed63 has pointed out, if we unselect widgets when they become invisible, then how do we make them visible again? There is always the eyeball in the outline palette but that might be masked by parents having display:none.

[2011-08-29 16:55] JonFerraiolo opened #870 "Outline palette: show black borders to distinguish between eyeball and widget text?"
@jmockler

As @waynevicknair points out, it might be good to have some line work in the outline palette so that there is a visible dark border between the eyeball and the widget text so that users can have a visual clue that clicking on the eyeball represents a different action (ie control widget visibility) vs clicking on the widget text (ie select the widget). Maybe we need the equivalent of a 1

[2011-08-29 16:58] JonFerraiolo commented on #182
See #591

[2011-08-29 16:58] JonFerraiolo commented on #591
Sorry, not #557, #182. But #182 doesn't seem to have any concrete proposals, just discussion. Assigning to me to research further.

[2011-08-29 17:00] peller commented on #846
FWIW, I vote for (3) and put whatever descriptive information we need into the label.  I think a single letter in the icon (2) would be cryptic, and likely to have collisions.

Note also that "Dojo" is a toolkit which encompasses Dijit as well as other widgets, so it's not really an either-or situation.  Dijit is the family of icons which is supposed to carry with it consistency as well as guarant

[2011-08-29 17:04] JonFerraiolo commented on #717
Yeah, good point. This is one of the reasons why I'm hesitant to change this code if we can avoid it in short-term. Changing the logic might end up pulling on a string. My instincts are that we need to do an overhaul of the createWidget code (which gets called _twice_ for each new widget, doing different things with each call) and change getWidget to not have this side-effect.

[2011-08-29 17:32] JonFerraiolo commented on #747
I tried to reproduce also using Win/FF (which was the browser where bug was reported) and I cannot reproduce either.

[2011-08-29 17:53] JonFerraiolo opened #871 "Updated mobile tutorial(s)"
Probably will only have t time to just update the one tutorial we have.

[2011-08-29 18:00] JonFerraiolo commented on #586
Decided to push off adding mobile support to R&C until M4 because there are multiple things needed to do before R&C works well for mobile UIs, and too risky to attempt all of these for M4. Better to do all of them for M4 rather than something that sort of works and appears broken.

Here is a partial list of changes needed for mobile R&C:
- R&C inside of silhouettes (this bug)
- Silhouettes are lik

[2011-08-29 18:28] JonFerraiolo commented on #578
Pushing this to M4. This weekend, I did add a fix to StatesView.js (91211148) so that StatesView passes a widget object to setState. Still need to study the "undefined" issue.

[2011-08-29 18:41] jmockler commented on #846
We need to avoid overloading the palette object icons. The busier the 16x16 iconography gets, the harder it is for users to distinguish between them. I also think using the letter d on its own won't help users identify it as a dojo collection of widgets. That being said, there is an overlap between widgets used for mobile design vs. web design.. right?

Why can't we group the widgets by the kind o

[2011-08-29 19:09] jhpedemonte opened #872 "Update Windows launch file with changes similar to Mac/Unix script"
I made some changes to the Mac/Unix script, in order to get the build working in the Jenkins server.  Need to update the Windows script with similar changes.

Commits:
1b88a7c0
4713514c
d0f4c443
5840c8b3

[2011-08-29 19:12] peller commented on #846
Yes, the strategy is important.  It's unclear whether the icon represents the "brand", the purpose, the technology (mobile) or all the above.   We've gone back and forth on the grouping many times... if successful with our metadata, the theory goes, implementation should be irrelevant.  But there's still a long way to go before the underlying libraries are transparent, and there are issues of cons

[2011-08-29 19:22] billreed63 opened #873 "Exception when Dropping RoundRecDataList"
CreateTool.js throws exception line 104 this._data.type undefined

[2011-08-29 19:34] billreed63 commented on #873
Change code so that e.dragSource.data  is passed to CreateTool constructor.
CreateTool now has CreateTool._data and CreateTool._type. Also moved the clone of the e.dragSource.data.data from Palette.js to the CreateTool constructor.

@JonFerraiolo

[2011-08-29 19:34] #873 closed, assigned to billreed63

[2011-08-29 19:39] JonFerraiolo commented on #846
That's why I suggested the option to simply replace the "g" with a "j" in the icon for now and then readdress the icon strategy once we do the widget palette makeover.

[2011-08-29 19:43] JonFerraiolo opened #874 "Helper base class?"
Jon says:

---

I suspect there are lots of times when a helper function (e.g., create()) would like to invoke the default behavior (e.g., via this.inherited()) and then add a couple of other things. The way our helpers are today, helper functions are mostly substitutes for the standard behavior.

Also, by having a base class, we can include JSDoc comments in the base class that provides full docu

[2011-08-29 19:53] billreed63 opened #875 "File does not exists error when selecting file from workspace for RoundRecDataList"

[2011-08-29 19:55] jhpedemonte commented on #867
I don't quite understand what you mean here.  Could you please add more detail?

[2011-08-29 20:01] waynevicknair commented on #771
The setting of the `back` attribute does indeed cause ModifyCommand to be called. However, `dojox.mobile.Heading` has logic in its `_setBackAttr` method to reuse the existing button DOM and is not checking the `back` string input parameter for empty string or null. When we set the `back` property in the properties pane to empty string, we must remove or hide the dojox widget's button DOM.

Otherwi

[2011-08-29 20:08] jhpedemonte commented on #846
Committed updated icon.  Should we just close this and come back to the larger issues when we do Widgets palette makeover?

[2011-08-29 20:10] JonFerraiolo commented on #867
What I'm saying is that if a user selects a View, goes to Properties palette and sets display to inline-block or none or whatever, the code currently doesn't respond to that property change and does not update the eyeball icon on sibling Views. I'm hesitant to fix this right now because (1) I don't think many users will change display on a View via Props palette, (2) may be better long term to dis

[2011-08-29 20:13] billreed63 commented on #875
Regression from addition of projects to workspace

[2011-08-29 20:13] #875 closed, assigned to billreed63

[2011-08-29 20:31] jhpedemonte commented on #874
Continuing my thinking:

By using callbacks instead of OO, we can wrap the callbacks in **try/catch blocks**, so errors in the library code don't impact the core code.

Callbacks would generally be invoked at the beginning of the core function.  If the callback returns **false**, then the default behavior is prevented.

If the callback returns **true or a continuation**, then the default behavior

[2011-08-29 20:54] JonFerraiolo commented on #874
@peller, @billreed63, @childsb, @waynevicknair

In the absence of OO approaches, I actually used the "continuation" approach in at least one place in the code: VisualEditorOutline.js:267 When I added this code, I felt pretty dirty about it and sensed that there just had to be a cleaner more elegant approach using OO techniques, but maybe the continuation approach overall ends up being better than

[2011-08-29 20:59] billreed63 commented on #874
If we are voting I vote for the OO approach, option 1

[2011-08-29 21:03] jhpedemonte commented on #874
The "continuation" approach doesn't have to look ugly, and in fact, is more in keeping with how JavaScript was designed.  And frankly, our use of OO in some parts of the code is pretty ugly.

We can accomplish what we need to with either method.  But as I stated, the callback/continuation approach gives more control to the core Maqetta code, over the library code.

[2011-08-29 21:03] JonFerraiolo commented on #846
Yeah, closing this issue. We addressed the bug completely. There is a bunch of other things about what to do when we do a widget palette makeover. That discussion is retained here for posterity.

[2011-08-29 21:03] #846 closed, assigned to JonFerraiolo

[2011-08-29 21:18] #860 closed, assigned to peller

[2011-08-29 21:25] JonFerraiolo commented on #771
Your comment caused me to get into the debugger. I had just been in and around similar issues, so my interested was piqued.

ModifyCommand recreates the widget from scratch. The Dojo widget gets recreated at widget.js:491:

[code]

The "bug" is because Dojo interprets an empty string value differently than Maqetta. At widget.js:1223:

[code]

Therefore in the Maqetta logic, if "property" is an emp

[2011-08-30 00:28] JonFerraiolo opened #876 "Paste broken by data.data changes"
Cut/copy/paste (ContextActions.js) depends on the old "data" instead of the new "data.data" so we are crashing now with a paste action. Could you please fix?

[2011-08-30 00:56] #843 closed, assigned to JonFerraiolo

[2011-08-30 02:52] #827 closed, assigned to JonFerraiolo

[2011-08-30 03:32] #793 closed, assigned to JonFerraiolo

[2011-08-30 05:04] peller commented on #771
filed @waynevicknair's patch here: http://bugs.dojotoolkit.org/ticket/13776

[2011-08-30 05:11] peller commented on #859
Yeah, in davinci.ve.themeEditor.metadata._updateStyle, line 217, this._widgets[w] is undefined where w=="uniqName_1"  @billreed63, can you take a look?  @childsb, you said something about the model being wrong.  Can you elaborate here?

[2011-08-30 13:34] JonFerraiolo opened #877 "Tutorial bug: eyeballs not correct when switching states"
- Run the standard tutorial up to the point where it is time to create 2 new states: Create the full scene graph, including the TabContainer with 3 tabs, the New/Del buttons, the MultiSelect, and the absolutely-positioned ContentPane.
- Per the tutorial instructions, create 2 new states (Add new task and Task added)
- Per the tutorial instructions, in Normal state, turn off visibility for the Mult

[2011-08-30 14:01] JonFerraiolo opened #878 "Icon problems in page editor with dojox.mobile widgets"
@jhpedemonte

Using Mac/FF6 and today's build (2011-08-30) and running the mobile tutorials, some dojox.mobile icons look wrong in the page editor (but look fine in preview-in-browser). The two bad icons are the arrow icon on ListItem:

![alt text](http://i51.tinypic.com/20gnq8h.png)

 and the back arrow icon on Heading:

![alt text](http://i53.tinypic.com/30c5eko.png)

[2011-08-30 14:31] #802 closed, assigned to waynevicknair

[2011-08-30 15:23] childsb opened #879 "filter .settings from explorer view"
filter the .settings folder (and any other hidden folders) from the explorer view.

[2011-08-30 15:47] #877 closed, assigned to JonFerraiolo

[2011-08-30 15:48] waynevicknair opened #880 "Clean up code for differentiating between empty string vs "no value""
In `widget.setProperties()` the code does a cursory validity check on property values like so:

[code]

This check should be strengthened and / or made more explicit.

[2011-08-30 15:57] JonFerraiolo commented on #880
Or at least documented!

[2011-08-30 16:20] billreed63 commented on #876
I backed out the changes I made in #837, and change the code in CreateTool that was throwing the original exception. The root cause is that the data that is passed to the CreateTool at creation can be a object or an array of objects. The array of objects can be a complex object that is dropped from the palette of a paste of multiple objects.

I changed the code CreateTool that invokes 'onFirstAdd'

[2011-08-30 16:20] #876 closed, assigned to billreed63

[2011-08-30 16:39] JonFerraiolo opened #881 "remove dojo.clone from Palette.js"
@peller, @jhpedemonte

See https://github.com/maqetta/maqetta/commit/fc7e7e2eda908df4a36924ac402d2347528416cf#commitcomment-559928

We'd like to remove the dojo.clone but before doing so we need to study downstream code and make sure that no one is modifying the data object.

[2011-08-30 16:49] #771 closed, assigned to waynevicknair

[2011-08-30 17:21] childsb opened #882 "remove absolute theme location, use project pref instead"
Most of the code assumes themes are always in the /themes directory.  This assumption may not always be correct.

There is now a project preference for theme location.  This should be used instead of hard coding themes.

Example code:

[code]

[2011-08-30 17:22] childsb commented on #762
Fixed the UI problem with commit b538646a3563321307d056b199bb7c3b826106d2

There is a larger issue around changing the /themes directory through this screen.  Many spots in code assume /themes for themes.  I've opened issue 882 to track.

[2011-08-30 17:22] #762 closed, assigned to childsb

[2011-08-30 17:32] peller opened #883 "More robust error handling on visual editor initialization"
@jhpedemonte, @JonFerraiolo

If an error occurs loading the page, e.g. some error is thrown parsing the widgets, something arising from the toolkit library (e.g. Dojo) or some internal error, we should tear down the Loading... animation and post an "Aw, Snap" sort of thing.  The critical section is in Context._setSource, the try/catch clause within the window["loading"...] function, around line 66

[2011-08-30 18:11] waynevicknair commented on #836
plus, as with last migration:

3) remove .reviews directory

[2011-08-30 18:23] waynevicknair commented on #836
4) remove .settings/workbenchState.settings file

[2011-08-30 18:36] billreed63 commented on #859
The issue appears to be related to dijit.form.TextBox
When the theme editor is loading it calls  davinci.ve.themeEditor.metadata.metadata._updateStyle for each widget on the page. when the method is passed the TextBox widget the exception is thrown. The reason an exception is thrown is that the widget.type= uniqeName_## the widget.type is set from the dijit.declareType which is set by dojo when th

[2011-08-30 20:43] jhpedemonte opened #884 "Missing icons for "new folder" & "upload file" in Files context menu"
Since it's been bothering me for a while, I added the red-X delete icon to the **Delete** item in the Files view context menu.  While there, I also added an icon for **Download**:

![Files view context menu](http://i.imgur.com/HUzQX.png)

But we need icons for **New folder** and **Upload File**.  I looked through our existing icons, but didn't find anything we could use.

@jmockler, any chance you

[2011-08-30 20:53] childsb commented on #574
Fixed--

Moved the samples to a library and left them in the root directory.

If the user modifies one of these files thens saves it, the file is saved on the workspace.  There is no read-only prompt or need to save-as.

Commit 5170b5b265d7e2759d04edcb05ed9efe6017408f

We could prompt, but I felt this was more disruptive to the UI and best to either not do it or leave for milestone.  If tweaks to

[2011-08-30 20:53] #574 closed, assigned to childsb

[2011-08-30 21:03] childsb commented on #836
Per issue #574 -  the sample files have moved to a read only plugin. Each users current sample files should be compared with the original and if no diff delete them.

---------------EDIT

This is no longer needed.  reverting change from issue 574 due to problems when relocating library.

[2011-08-30 21:20] childsb opened #885 "download broken if user has sample1.html in workspace"
Now that the sample files are in the libraries, if the user creates Sample1.html in their workspace then tries to download the workspace, there is an error about "duplicate zip entry".

[2011-08-30 21:21] childsb commented on #885
Fixed with commit: 53fca89468ec864f217c7aa7d4b462bad2bf8c1d

[2011-08-30 21:21] #885 closed, assigned to nobody

[2011-08-30 21:26] childsb opened #886 "findResource("*.theme") always queries the server"
tough fix here, but the findResource(*.theme) will always hit the server.  Search should be conducted client side, and only load elements that haven't been loaded from server.

i'm guessing its like this because there are file wildcard libraries already in Java, so the logic behind the matches didn't have to be implemented.  Doing this server side will require parsing the \* and ? wildcards, and f

[2011-08-30 21:30] waynevicknair commented on #804
I cannot recreate this problem on the current commit. Closing.

[2011-08-30 21:30] #804 closed, assigned to jhpedemonte

[2011-08-30 21:30] childsb commented on #645
Added project settings for theme folder (opened issue #882 to track the implementation of this setting over the entire product).Also added caching mechanism to library request.  So unless the user creates a new theme, this search will only happen once.

A better fix would involve fixing the findResource(*.theme) command to NOT always hit the server (issue #866).  Then theme caching wouldn't be nec

[2011-08-30 21:30] #645 closed, assigned to childsb

[2011-08-30 21:39] childsb commented on #716
Right now if you try and modify the values in the prop palette, you're prevented with the prompt "Can't modify read only theme", preventing the user from modifying this theme.  So it's in "read only" mode.

Another feature/option that I recently implemented allows the user to only save the modified files in their workspace.  So a user could open a read only theme, and as they make changes/save the

[2011-08-30 21:39] #716 closed, assigned to childsb

[2011-08-30 21:42] waynevicknair commented on #785
Following the steps outlined about I could not recreate this bug on the latest commit. Closing.

[2011-08-30 21:42] #785 closed, assigned to jhpedemonte

[2011-08-30 21:51] JonFerraiolo commented on #886
@billreed63

[2011-08-31 01:21] JonFerraiolo commented on #576
Adam, reassigning to you for time being. I think there is something fishy with 4b0b7c6b6940d5fee8c47446f7050a86d9cd5a4c with loadRequiresForTree() and the use of dojo.hitch. In the debugger, the "d" value passed into this internal function:

[code]

seems to get random values. Sometimes "d" is a string and not an object. Some funky JavaScript thing is going on that I'm not seeing, and since this i

[2011-08-31 01:27] #641 closed, assigned to JonFerraiolo

[2011-08-31 01:52] JonFerraiolo commented on #733
I thought I checked in a fix for this such that the prop list we send to Dojo conforms with other logic where we depend on JavaScript's rule that an empty string turns into false within a conditional, but I'm not seeing that code. Maybe I dropped that code on the floor and never checked it in...

[2011-08-31 02:11] jhpedemonte commented on #805
commit: 3954a2a7fe793b50ffc69b9733ab3b9cd774ce7e

[2011-08-31 02:14] peller commented on #576
@billreed63 was making updates relevant to this._data... perhaps fallout from my change also? I'll take a look... though I don't think it's the hitch. Perhaps it's my misunderstanding of what this._data is supposed to look like? Can you tell me how to get a situation where d is a string?

[2011-08-31 02:16] peller commented on #576
ignore comment above about test case.  I missed the description.  Will investigate.

[2011-08-31 02:30] peller commented on #883
see 32c1254ee29198cece99761bbf11957d49d00c8f

[2011-08-31 04:08] EldonReturn opened #887 "Review servlet serving pages from current workspace rather than snapshot workspace"
@JonFerraiolo -

I set a breakpoint in DavinciReviewServlet.java:186:

[code]

and then stepped handleLibraryRequest and found myself in DavinciPageServlet.java:183, which appears to deliver files from the current user workspace rather than the correct snapshot workspace. For example, my normal workspace (used by page editor) is /Users/jonferraiolo/users, and my reviews are stored at /Users/jonfer

[2011-08-31 04:18] EldonReturn commented on #887
Fixed. https://github.com/maqetta/maqetta/commit/cf4d6b2a0585150287073abff726ececde7d37e3

[2011-08-31 04:18] #887 closed, assigned to EldonReturn

[2011-08-31 04:25] JonFerraiolo commented on #733
Pushing the detailed analysis of our code to M4

[2011-08-31 04:34] JonFerraiolo opened #888 "Update "Done" back to "Upload" after selecting more files"
Two small UI issues with Upload command:

1) The Upload command doesn't reset the button text to "Upload" if you select another set of files:
- In Files palette, bring up context menu and select "Upload"
- Select one or more files
- Click "Upload" to upload. Button changes from "Upload" to "Done"
- With dialog still up, click "Select files" again and pick one or more files

Result=> Button still s

[2011-08-31 04:34] JonFerraiolo commented on #591
Pushing the long-term UI questions to M4. Created a separate bug to tweak current UI: #888

[2011-08-31 12:49] JonFerraiolo opened #889 "Migrate recent changes from davinci/maqetta/States.js to runtime States.js"
I've made a few changes to the version of States.js used by Maqetta. These changes need to be merged into the version of States.js that is used for preview-in-browser and review-and-commenting.

[2011-08-31 12:56] JonFerraiolo opened #890 "Sometimes Sample1.html disappears from files palette"
@jhpedemonte

Haven't been able to find a sequence of steps reproduce, but I swear Sample1.html sometimes disappears from the Files palette. Logging this bug to be on the lookout for a reproducible scenario.

[2011-08-31 13:00] JonFerraiolo opened #891 "Sometimes select jumps to top in source view"
@jhpedemonte, @peller

Just saw this, and not sure how often it happens or whether it is reproducible. Logging this for us to be on lookout.

I was running the mobile tutorial. At the point in the tutorial where the user creates a DIV with the text "Today's alerts", sets margin to 1em, then is about to copy/paste that DIV. Because of a paste bug that we have, I tried to copy/paste in split view wi

[2011-08-31 13:16] JonFerraiolo opened #892 "Exception: could not find resource projects1/themes/claro/claro.blah"
@peller

I ran into this but so far haven't been able to find a set of steps to reproduce.

I loaded Sample1.html, had the Properties palette showing the cascade for the 'color' property, and then I clicked on the "New' button on the canvas. I got an exception at Cascade.js:107 (last line of _canModifyRule) because variable resource was null. The path for the resource was projects1/themes/claro/cl

[2011-08-31 13:28] JonFerraiolo opened #893 "Style rules changes to app.css not working"
@jhpedemonte

Attempts to add new style rules to app.css are no longer working. I suspect it has to do with our new support for projects, where app.css is shifting inside of the proejct1/ folder.
- New HTML file
- Add a Button
- In Properties palette, go to "Fonts and Text" and the click on right arrow to show cascade for 'color' property
- At top of Properties palette, enter "bbb" into the class

[2011-08-31 13:33] #727 closed, assigned to JonFerraiolo

[2011-08-31 13:59] waynevicknair commented on #889
This impacts #836 right? We now have to update the States.js in the users' workspaces.

[2011-08-31 14:00] waynevicknair commented on #836
Reminder: possible impact from #889.

[2011-08-31 14:06] peller opened #894 "Focus ring needs to be reset on page resize"
Drop a BorderContainer on the page (hit ok for the dialog you get)
Select the center element
Now resize the visual editor using the splitter OR choose a split source/visual view from the toolbar

Result: you'll see that the selection (focus ring) still represents the old position and no longer aligns with the center element.

---

**[Updated 2012-03-14](https://github.com/maqetta/maqetta/issues/89

[2011-08-31 14:20] billreed63 commented on #469
Kris Zyp suggests:

[code]

So I prototyped it and it seems to work

[code]

So we should be able to replace our ItemJsonpReadStore with an ItemFileReadStore and use the plugin instead.

[2011-08-31 14:20] JonFerraiolo commented on #887
@childsb - Can you please review commit cf4d6b2 ?

@jhpedemonte

[2011-08-31 14:37] JonFerraiolo commented on #894
Set this to Priority-Low for M3, meaning nice to fix.

Note that I added a new routine in Context.js: updateFocus(). I broke it out from the select() function for cases where the selection doesn't need to change (which has side effects) and all that needs to be done is recompute the focus box. The trick is to figure out how to establish an appropriate event listener in order to make the call to up

[2011-08-31 14:39] JonFerraiolo commented on #836
@childsb, @jhpedemonte

Yes, we need to replace the existing ./maqetta/States.js in the users workspace with the new version. Probably best to replace the whole ./maqetta folder.

[2011-08-31 14:52] JonFerraiolo opened #895 "Paste not working"
- New HTML File
- Add a LABEL
- Copy then paste the LABEL

Result=> Internal error dialog message

[2011-08-31 14:52] childsb commented on #890
changing priority until we find a recreate.

[2011-08-31 14:54] childsb commented on #892
i'll test this, but for now, changing priority until we can find a way to reproduce

[2011-08-31 14:55] JonFerraiolo commented on #756
Won't be able to address these issues for M3. Pushing to M4. Note that one thing that will help is turning on the feature I have prototyped which allows a user to choose the target parent upon dropping a new widget.

[2011-08-31 14:58] JonFerraiolo commented on #803
Brad, this is a nice to have, but I'm wondering whether a suitable fix for this might be easy. Maybe code things up so that if the path contains any segments with a "." as the first character, then change the default folder to the project root folder? Beware that this might not be a simple 3-line fix. The resource engine maintains a global variable that holds the current folder. Just changing the

[2011-08-31 15:45] peller commented on #576
@JonFerraiolo, hopefully that last patch gets you back to where you were.  I now see the node getting pasted, it's just not visible.

[2011-08-31 15:47] peller commented on #895
should be fixed by 85c9b0cfc742ebd722d15a4cc7319cc5728fb7fc

[2011-08-31 15:48] #895 closed, assigned to peller

[2011-08-31 15:49] peller commented on #894
I was thinking of just adding a resize event handler on the iframe or document (might be some browser quirks here) and resetting the selection.

[2011-08-31 15:51] peller commented on #894
see also #28

[2011-08-31 15:53] peller commented on #28
see also #894

[2011-08-31 15:55] #84 closed, assigned to nobody

[2011-08-31 16:03] peller opened #896 "Serialize document based on model, not DOM"
@JonFerraiolo, @billreed63, @waynevicknair

The original dojoy code serialized the documents based on the prototype of the widget, serializing pretty much everything.

Right now, we have a problem where layout widgets like AccordionContainer manage the size of their children.  This is reflected in the UI through metadata; there are no resize handles on the ContentPanes within.  However,when we ser

[2011-08-31 16:09] JonFerraiolo commented on #576
I pinged @peller. Things are better. Simple widgets now copy/paste, but any widget that has a subtree of elements (e.g., ComboBox) still raise an internal error on paste.

[2011-08-31 16:17] peller opened #897 "html.option has children property as a string"
@JonFerraiolo @jhpedemonte
in the 'data' object and in the widget.json metadata.  Seems like 'children' metadata should always be an array, here an array of length 1 with a string inside?  Combobox has an option and it seems to work as-is.  Is this a bug?

[2011-08-31 16:18] childsb opened #898 "change theme command broken"
1) new HTML file
2) Change theme --> sketch
3) notice no change in source.

[2011-08-31 16:21] peller commented on #897
note that html.option and dijit.form.ComboBox both specify children as string

[2011-08-31 16:23] peller commented on #897
@billreed63, is this a bug?

[2011-08-31 16:32] jhpedemonte opened #899 "Sometimes dropping Dojox Mobile widget produces unstyled widget"
Sometimes, dropping a Dojox Mobile widget doesn't produce the expected result.  It looks like the CSS isn't getting loaded in to the page, and the widget shows up unstyled.

This doesn't always happen.  And many times, it will right itself, with the CSS being loaded in to the page and the widget appearing correctly.

Opening Preview or closing/reopening the page correctly show the widget.

@JonFer

[2011-08-31 16:38] jhpedemonte commented on #899
So, today, I have it consistently breaking on my system.  I'm using Chrome on Mac OS X Lion:
1. Clear cache and reload Maqetta.
2. Open new HTML page.
3. Drop Dojox Mobile **Heading** widget on page.

The Heading widget consistently shows up broken.

---

I added some `console.log` calls in the code, but everything seems to be loading correctly and in the proper order:

[code]

---

If I inspect t

[2011-08-31 16:40] JonFerraiolo opened #900 "FixedSplitterPane and SpinWheelSlot generate exceptions when dropped on invalid parent"
@peller, @billreed63

Maybe this bug was introduced by recent related changes from @jonferraiolo, @peller, @billreed63.

New HTML file. Then try to drag/drop either FixedSplitterPane or SpinWheelSlot onto canvas. You get an "internal error" dialog instead of the "invalid target" dialog.

[2011-08-31 16:46] peller commented on #899
Is this specific to Chrome?  I can only recall seeing it on Chrome.

[2011-08-31 16:49] peller commented on #803
we shouldn't rely on ./ for relative paths.

[2011-08-31 16:55] jhpedemonte commented on #899
Cannot reproduce on Firefox 5, but can recreate on Safari 5.1.  Maybe it's a WebKit issue?

[2011-08-31 17:05] JonFerraiolo opened #901 "SaveAs CSS drops current content"
- New CSS File (e.g., file1.css)
- Enter a CSS comment (e.g., /\* hello */)
- Immediately do a SaveAs to file1a.css

Result=> file1a.css has no content. (Same thing happens if you do a Save and then immediately a SaveAs)

Not essential for M3, but since SaveAs for CSS was supposedly one of our fixes, would be nice to fix.

[2011-08-31 17:08] JonFerraiolo opened #902 "Don't show "." files in file palettes and dialogs"
Maybe this is a Priority-Low instead of a Priority-Medium.

We are now showing dot files (e.g., .project, .settings) in the Files palette and in the file dialogs that we pop up. We should hide all of those files for M3. Maybe down the road we can add a preference to show them, but for short-term we should hide them.

[2011-08-31 17:09] JonFerraiolo commented on #902
Dupe of #879. Sorry.

[2011-08-31 17:09] #902 closed, assigned to childsb

[2011-08-31 17:11] JonFerraiolo commented on #803
If "eclipse-compatible" is turned on, should go to WebContent as default folder instead of project root folder, right?

[2011-08-31 17:13] JonFerraiolo opened #903 "Delete/rename projects"
I don't see any UI for deleting or renaming projects. Is there any? If not, we should add some UI for that, but not for M3.

[2011-08-31 17:20] JonFerraiolo opened #904 "dojo not defined with New HTML File after creating Eclipse-compatible workspace"
- Remove users/ folder, restart server, to create a virgin user workspace
- New Project "myproject1" with checkbox turned on for Eclipse compatibility
- New HTML File, for file1.html, selecting myproject1/WebContent as parent folder

Result=> Console says "1Uncaught ReferenceError: dojo is not defined". After seeing this message, I went into split view and looked at the HTML file source code, and

[2011-08-31 17:25] JonFerraiolo opened #905 "New theme: dojo.css not found - URL missing "project1""
@billreed63
- Clean, brand new user workspace
- Launch Maqetta
- New Theme "a1" built from claro

Result=> Console shows error message saying unable to load resource http://localhost:55557/maqetta/user/maqettaUser/ws/workspace/lib/dojo/dojo/resources/dojo.css. The URL is missing the "project1" segment.

[2011-08-31 17:31] JonFerraiolo opened #906 "New theme dying in States.js"
Bill, this might be my bug, but sending this to you because I don't understand what the theme editor is trying to do.
- Fresh new user workspace (e.g., restart server)
- Launch Maqetta
- Immediate issue a New Theme command to create theme a1 out of claro

Result=> Uncaught TypeError: Object $all has no method 'getParent'. Stack trace:

[code]

The line where this dies contains code that I added in

[2011-08-31 17:37] JonFerraiolo opened #907 "CSS files have wrong URL when creating HTML file in nested folder"
- Virgin workspace (close server, remove users/ folder, restart server, clear cache, relaunch Maqetta)
- New folder "folder1"
- New HTML file inside of folder1
- Add a Button

Result => Button has no styling. Console shows messages:

[code]

[2011-08-31 17:37] peller commented on #900
see 726a1139b9833e671b09913d23a858fa5bc38dca which fixes mistakes I made in d1e1e111254c8e999beb

[2011-08-31 17:56] JonFerraiolo commented on #898
@billreed63

[2011-08-31 18:29] JonFerraiolo commented on #900
For me, checkin  726a113 breaks a whole bunch of other widgets. Can't drag/drop add a dijit.form.Button now.

[2011-08-31 19:13] JonFerraiolo commented on #438
Deferring remainder of this issue to M4.

[2011-08-31 19:51] childsb commented on #898
Fixed in commit 98877c79afb4127ef94ba4b480a926f02cc8ad3e

[2011-08-31 19:51] #898 closed, assigned to childsb

[2011-08-31 19:52] childsb commented on #893
This started working after commit 98877c79afb4127ef94ba4b480a926f02cc8ad3e

[2011-08-31 19:52] #893 closed, assigned to childsb

[2011-08-31 20:13] childsb commented on #905
Is this causing a bug besides the console?

Neither myself or @billreed63 can find where dojo.css is being included, and it doesn't seem like it has an impact on the theme editor functionality.  The claro.css file appears to have merged all of dojo/dijit CSS into a top level file and not include them any longer.

lowering priority for now.

[2011-08-31 20:42] peller commented on #900
yah, it did, sorry.  aea4686496baf857029ba237bc81b4ec88af0b2c should have fixed it.

[2011-08-31 21:32] billreed63 commented on #897
I don't think so

[2011-08-31 23:22] childsb commented on #905
fixed with f02efe9028ce4b534127ecd60d9834b95d83b252 , also noticed CSS paths are incorrect.. fixing in separate checkin

[2011-09-01 00:01] JonFerraiolo opened #908 "EventCommand.js basically broken"
Undo doesn't seem to be working when changing event properties in the Properties palette, which goes through EventCommand.js.
- New HTML file
- Add a LABEL
- Set onclick property, such as onclick: console.log('ccc')
- Undo

Result=> onclick property still show console.log('ccc'). I don't think this is simply a redraw problem in Properties palette. If you have 2 widgets and select the other than go

[2011-09-01 00:04] JonFerraiolo opened #909 "StyleCommand, MoveCommand, ResizeCommand problems with states and undo"
Reminder to Jon to study whether MoveCommand is doing the right thing with states, particularly in presence of undo.

[2011-09-01 00:12] JonFerraiolo opened #910 "ResizeCommand broken with undo"
- New HTML File
- Go into absolute positioning mode
- Add a Calendar
- Pull on corner to make it bigger
- Hit undo icon

Result=> The resize operation is not undone. (But is in both Preview2 and Preview3, and probably all earlier versions of code)

[2011-09-01 00:18] JonFerraiolo opened #911 "ModifyRule.js doesn't seem to be undoable"
In Properties palette, I changed a rule in app.css. Then I tried to undo and nothing happened. Interesting question about what we should do (and maybe what we _can_ do) with undo with operations that change external files

[2011-09-01 00:30] #576 closed, assigned to JonFerraiolo

[2011-09-01 02:27] jhpedemonte commented on #899
Man, I am boned!

So I found a workaround: instead of creating a `<link>` element in order to load the CSS into the DOM, I rewrote `Context.loadStyleSheet()` to load the CSS file using XHR and then add the file contents into a `<style>` element.  In order to test, I reverted to an old version of **Heading_oam.json** which directly included the **iphone.css** resource, instead of the current use of

[2011-09-01 03:19] peller commented on #899
That was a good try!  No great ideas here... I see the style sheet even show up in the resources view of the debugger, so not only does the stylesheet load, but it seems to get associated with the iframe.  It feels like a browser bug.  Perhaps you could try shortening the stylesheet, perhaps even to a single rule (one you'll know would be applied to the document) and see if that works, then build

[2011-09-01 04:40] JonFerraiolo commented on #899
I don't know if this helps, but when I was doing the SVG silhouette stuff, I noticed Chrome was showing that it had loaded foo.svg, and the document was pulled down off of the net, but an older file was there and not foo.svg. I worked around this by doing an explicit verification that contentDocument's URL was in fact a match for the URL I was attempted to pull down, and if not, then try again in

[2011-09-01 05:00] JonFerraiolo opened #912 "Anyone actually use davinci.ve.themeEditor.VisualThemeOutline?"
(I recommend not rocking any boats for M3)

I put a break point in the constructor for davinci.ve.themeEditor.VisualThemeOutline, opened the theme editor, and the break point is never reached. Is this JS file obsolete?

[2011-09-01 05:06] JonFerraiolo commented on #681
Did some research. I'm pretty sure we can move to M4 and that there is indeed some cleanup that is needed that is described below:

Re:
`VisualEditorOutline.js:188:    widget.parent = parentItem;`
Yes, this is bad coding. We should remove this line early in the M4 cycle.

Re:
`commands/ModifyRichTextCommand.js:59:   this._parentWidget = widget.parent; // maybe this
commands/StyleCommand.js:89:  va

[2011-09-01 07:20] EldonReturn commented on #445
Fixed. https://github.com/maqetta/maqetta/commit/174befaa49671e7c443caf834a8fab05a988f150

[2011-09-01 07:20] #445 closed, assigned to EldonReturn

[2011-09-01 07:21] EldonReturn commented on #443
Fixed

[2011-09-01 07:21] #443 closed, assigned to EldonReturn

[2011-09-01 13:33] #900 closed, assigned to peller

[2011-09-01 13:34] peller commented on #829
This will be an ongoing task.  We're not able to take beta5, so we're probably staying put until M4.  moving to M4.  We did discover several beta5 issues which have been  reported to the Dojo team.

[2011-09-01 14:24] JonFerraiolo commented on #856
Transferred remainder of bug to me. The metadata is there, but visual editor does not support attribute properly yet. I'm working on it.

[2011-09-01 14:27] JonFerraiolo commented on #459
Closing this. With a bunch of commits submitted in and about the same time, including with this one (5fd726f21a42e85c6258), I added code that ensures that only one View is visible at a time in the page editor.

[2011-09-01 14:27] #459 closed, assigned to jhpedemonte

[2011-09-01 14:28] JonFerraiolo commented on #144
Moving to M4. Too late in M3 to even think about this change.

[2011-09-01 14:31] JonFerraiolo commented on #890
I still haven't reproduced, but I continue to see it. It's not just Sample1.html. I saw it yesterday with file1.html. It disappeared from Files palette, but when I did a browser refresh, it showed up again. Somehow or other the data store behind the Files palette is dropping items even though nothing has happened on the server.

[2011-09-01 15:13] peller opened #913 "rename davinci.ui.widgets.Tree to something more descriptive"
We've removed most of our references to this class, which was becoming a collector for unrelated Tree customizations.  At this point, the subclass is generally limited to the Outline view for the "eyeball" toggling.  Perhaps rename to ToggleTree?

@eldonreturn

[2011-09-01 15:29] waynevicknair commented on #891
I cannot reproduce on latest commit on Chrome/Mac. Adam could not reproduce either. I will continue attempts during my testing this afternoon.

[2011-09-01 15:33] waynevicknair opened #914 "internal widgets appearing in outline view"
Open Sample1.html and look at the outline view. There will be an entry for `_MasterTooltip` widget which should not appear as it is classified as "internal" in `Context.js` at line 155.

[2011-09-01 15:36] #914 closed, assigned to waynevicknair

[2011-09-01 15:37] peller commented on #912
There's no outline in themeEditor, so what you say makes sense.  I suspect most of the classes were cloned based on the naming pattern.

[2011-09-01 15:37] waynevicknair commented on #914
see issue #478 for some history on this phenomenon.

[2011-09-01 16:10] JonFerraiolo opened #915 "Hang in split view with Sample1.html"
@peller, @billreed63

(using http://maqetta.org/nightly/maqetta-20110901-0603.zip on Mac/Chrome and Mac/FF601. Also happens in Win/Chrome. Haven't tested Win/FF yet.)
- Open Sample1.html
- Go into split view (top/bottom)
- Put type-in the <title> element just before "Sample1.html"
- Type a letter

Result=> "Loading" appears in visual canvas and never goes away. Either infinite loop or an event tha

[2011-09-01 17:38] JonFerraiolo opened #916 "Can't select TabContainer in this file"
Need to study this some more, but when doing some testing, I found that I couldn't select the TabContainer on the visual canvas or in Outline palette even after save/reopen:

[code]

[2011-09-01 17:45] JonFerraiolo opened #917 "Mobile widgets don't show in Outline palette for this file"
@jhpedemonte

There might be multiple bugs here. I created this file in Maqetta, then saved, and then tried to reopen. Upon reopening, the outline palette doesn't show any widgets. There might be multiple bugs.
- I'm seeing an error in DataListHelper referencing through a null pointer (and therefore assigning to Bill)
- Also, I'm seeing an exception in SpinWheel\* (therefore cc'ing Javier)

If I h

[2011-09-01 17:49] JonFerraiolo opened #918 "YUI and jQuery widgets not displaying properly"
@childsb, @peller, @waynevicknair

YUI and jQuery widgets don't display properly using today's nightly from Maqetta.org

The lib/ folder in the workspace doesn't show jQuery or YUI folders inside

[2011-09-01 18:02] waynevicknair commented on #901
Turns out this issue is narrower in scope than previously thought. I can add a CSS rule instead of a comment and the saveAs works just fine. I can also add a comment above the newly added rule and that works as well. That narrows it down to CSS comments at the end of a file get dropped.

[2011-09-01 19:34] peller commented on #888
I just disabled the select files button and made the dialog a single-use. Seems more straightforward.  See #591 for long-term discussion.

[2011-09-01 19:50] JonFerraiolo commented on #888
That's OK for M3, but I'm not sure that this change overall is better than the bad label.

IMO the dialog wasn't great but was actually serviceable except for the button label issue I reported. It's common for designers to have a bunch of files they need to upload, so allowing the same dialog to be available for multiple uploads was a good thing. With this change, they have to use context menu mul

[2011-09-01 20:03] peller commented on #888
Yeah, ok, but it seems inconsistent to have a long running Dialog.  I could very easily flip it to do what you describe, but our other dialogs don't work that way.  Note that the dialog lets you upload multiple files already.  The temporary status message in the dialog, I thought, only makes things more confusing -- something I'm sure we'll address in #591.

[2011-09-01 20:05] waynevicknair commented on #918
i'm seeing this in the console output:

[code]

while loading the `Sample1.html` file.

[2011-09-01 21:07] JonFerraiolo commented on #888
If "very easily" is true, could you please indulge me? :-) I realize it's inconsistent with everything else, but for next N months, this change would be a reasonable stopgap for a feature that a large percentage of real users say that they use.

[2011-09-01 21:15] JonFerraiolo commented on #891
I'm seeing this all of the time today, but when I tried just now to package up a set of steps to recreate, problem went away. I'll keep trying to reproduce.

[2011-09-01 21:44] waynevicknair commented on #918
I checked the external build machine and found that the build script had not kept up with the latest build modifications. It is now up to date. A new external build was published here http://maqetta.org/nightly/maqetta-20110901-1422.zip. I ran it and was able to drag and drop JQueryUI and YUI widgets into a newly created HTML file.

[2011-09-01 23:15] jhpedemonte commented on #899
You can view a page's style sheets by checking the `document.styleSheets` list. In the failing case, I do not see an element for the **iphone.css** style sheet, even though **Inspector->Resources** says it is there and there is a network call to retrieve it.  But later, when the DOM rights itself, I do in fact see **iphone.css** in `document.styleSheets`.

So the CSS file is getting loaded by the

[2011-09-02 01:43] jhpedemonte commented on #899
Pre-caching (doing an XHR Get of **iphone.css** before adding **Heading**) doesn't fix the issue.

[2011-09-02 01:50] peller commented on #899
With @JonFerraiolo's help, I think I understand what's going on here.  It seems Context.setMobileDevice is setting the css after all (I'm not sure if dojox.mobile is also)  What's suspect is that the method is called in the middle of the bootstrapping, which I guess didn't work (see #460) and Bill's workaround to do a setTimeout in d63285a0c4fda0d3359c.  I broke in this method and noticed that alt

[2011-09-02 14:13] billreed63 opened #919 "Dojo not defined when create file in sub folder"
1) Create new subfolder
2) Create new html file in that subfolder

Console message:
Uncaught ReferenceError: dojo is not defined

Daily build 9/2

[2011-09-02 14:23] billreed63 opened #920 "new theme throws exception"
Create new theme

Console has following exception:
Uncaught TypeError: Cannot call method 'deleteResource' of undefined

New theme never completes

[2011-09-02 15:03] billreed63 opened #921 "File upload does not refresh tree"
1) create new folder 'wwww'
2) right click on folder 'wwww'
3) upload file

If I upload the file again I do not receive a file exist warning

File is successfully uploaded but file explorer is not refreshed. I have to refresh the browser to see the file.

[2011-09-02 15:29] billreed63 opened #922 "download file internal server error"
Local server daily build 9/2
1) file exploer right click on sample1.html
2) select download from context
3) click download

HTTP ERROR 500

Problem accessing /maqetta/cmd/download. Reason:

[code]

Caused by:

java.lang.NullPointerException
    at org.eclipse.core.runtime.Path.<init>(Path.java:153)
    at org.davinci.server.internal.command.Download.handleCommand(Unknown Source)
    at org.davinci

[2011-09-02 15:50] peller commented on #888
It feels wrong for so many reasons... including the fact that a slow download could mean the user is selecting new files (while the status may or may not be present) and be faced with a "Done" button rather than an upload... but ok, I'll give it a shot

[2011-09-02 16:56] childsb commented on #920
fixed with de6c781742d1e8329fcc1a6c4938496a454c47d8

[2011-09-02 16:56] #920 closed, assigned to childsb

[2011-09-02 17:01] childsb commented on #922
Fixed with commit c3bb65552e921d29dbd2d905b0f805659a3ed136

[2011-09-02 17:01] #922 closed, assigned to childsb

[2011-09-02 17:09] childsb commented on #919
Fixed with checking 37ba1369a0e480d0112077b2031ab9c67df49ddd

[2011-09-02 17:09] #919 closed, assigned to childsb

[2011-09-02 17:11] childsb commented on #904
Fixed with commit de6c781742d1e8329fcc1a6c4938496a454c47d8

[2011-09-02 17:11] #904 closed, assigned to childsb

[2011-09-02 19:54] peller commented on #899
w00t!

[2011-09-03 02:53] EldonReturn commented on #440
Fixed. Show the user names instead of mails

[2011-09-03 02:53] #440 closed, assigned to EldonReturn

[2011-09-03 02:53] EldonReturn commented on #444
Fixed

[2011-09-03 02:53] #444 closed, assigned to EldonReturn

[2011-09-03 02:54] EldonReturn commented on #446
Currently the style R&C uses follows the page designers.

[2011-09-03 23:42] #888 closed, assigned to peller

[2011-09-03 23:44] peller commented on #888
tried to fix button enablement logic also.  it's still possible to cancel out of the file selection and hit upload, which is just ends up being a no-op.  Good enough for now.

[2011-09-04 17:27] jhpedemonte commented on #899
So, not totally fixed.  Save a page with a non-iPhone silhouette and reopen -> page has iPhone CSS (should have CSS corresponding to silhouette).

[2011-09-04 17:52] jhpedemonte commented on #899
[code]

`* denotes new code`

When opening a saved page, `oldDevice` will always equal `mobileDevice`, and therefore the non-iPhone CSS doesn't get loaded.

[2011-09-04 23:34] jhpedemonte commented on #899
An attempt to fix the remaining issue.  Not closing this bug yet.  Adam (and anyone else), please review and let me know what you think.

[2011-09-05 15:10] JonFerraiolo commented on #890
Reproducible case:

1) OpenSample1.html
2) Refresh browser. Sample1.html reopens, but with dirty bit on
3) Close Sample1.html editor window

Result=> Sample1.html disappears from Files palette

[2011-09-06 02:04] JonFerraiolo opened #924 "Study, clean up getPropertyValue helpers"
@jhpedemonte, @billreed63, @peller

There are about 7 getPropertyValue helpers in davinci.dojo_1_7 that currently do not get called - the code in widget.js that calls the getPropertyValue helper is commented out. I looked at some of the history and the helper functions were in the code as far back as Jan 2010. I'm note sure when widget.js was changed to comment out the calls to the getPropertyValu

[2011-09-06 02:11] JonFerraiolo opened #925 "Move silhouette/iframe logic before dojo parser?"
@jhpedemonte, @billreed63, @peller

In looking at code flow paths in the debugger, I see that dojox.mobile does some of its layout at parse time, and we don't set up the device silhouette and inner iframe dimensions until after parse time. As a result, in some cases, widgets are mis-positioned because the layout calculations used the iframe dimensions at parse time, which are different than the if

[2011-09-06 14:00] peller commented on #861
I'm not comfortable reworking the widget initialization in M3, so pushing to M4.  This is important cleanup, but will only cause instability in the near term.

[2011-09-06 14:19] JonFerraiolo opened #926 "New theme not working"
@childsb, @jhpedemonte

I pulled down today's build from maqetta.org/nightly (http://maqetta.org/nightly/maqetta-20110906-0603.zip), unzip'd, launch using Win/FF6.0.1. When I tried a New Theme command, the dialog did not go away upon clicking the OK button and the following appears in the console (perhaps a bit jumbled - I did a copy/paste from Firebug):

[code]

[2011-09-06 14:25] JonFerraiolo opened #927 "Loading hang when changing button label in source pane (split view)"
@peller, @waynevicknair

Using Win/FF6 within today's build (http://maqetta.org/nightly/maqetta-20110906-0603.zip), I opened up Sample1.html, went into split view, scrolled to bottom, and for the Button that is inside the absolutely positioned ContentPane, I attempted to change the label from "Add" to "a longish sort of string". This caused the "Loading..." message to appear in design pane, but th

[2011-09-06 14:29] JonFerraiolo opened #928 "uniqName_1 appears in Outline palette instead of ComboBox for Sample1.html"
@jhpedemonte, @peller

With today's build (http://maqetta.org/nightly/maqetta-20110906-0603.zip), I opened Sample1.html and then looked at the Outline palette. There is a strange entry towards the bottom where the ComboBox should be. Instead of showing a ComboBox widget, the Outline palette shows the string "uniqName_1"

[2011-09-06 14:36] peller commented on #928
I'll take this one.  See also #859

[2011-09-06 14:43] JonFerraiolo opened #929 "String "Eclipse Support" wraps on Win/FF6"
OK to postpone, but this might be a trivial fix, so Priority-Low for M3.

The string "Eclipse Support" appears as 2 lines in the New Project dialog in Win/FF6. To make it appear as 1 line, it might only be necessary to add a `white-space:nowrap;` onto the TD that contains the string "Eclipse Support".

Also, would be better to use a lowercase "s": Eclipse support instead of Eclipse Support.

[2011-09-06 14:48] peller commented on #504
Used the dijit.Tree override to set a class on the row, rather than the image, for readOnly items.  This should allow more flexibility for applying styles.  For now, I just made the text of the node italic, which probably isn't ideal.

[2011-09-06 14:51] JonFerraiolo opened #930 "HTML files in WebContent/ folder can't find claro.css or app.css"
@jhpedemonte

(This might be a dupe, but I couldn't find any bugs that matched exactly this. Likely the same problem as #907. If so, OK to delete this bug as a dupe)

I created a new project with Eclipse Support checked, and then tried to create a new HTML file in the WebContent/ folder, and claro.css and app.css are not loaded properly. The Firebug console (I'm using Win/FF6) says:

[code]

Steps

[2011-09-06 15:21] JonFerraiolo commented on #868
Pushing to M4.

My opinion is that we should leave height:100% as is for the M3 release. It appears to generally work fine for View, ScrollableView and SwapView.

For ScrollableView in M4, we probably want to get ride of height:100% because as part of fixes to support the "fixed" property (#856), I hope we will invoke Dojo Mobile dynamic resize functions, which will set height to the appropriate p

[2011-09-06 15:25] JonFerraiolo commented on #856
I did a bunch of research on this and have concluded it's too risky to try to add support for "fixed" for M3, so I'm pushing this bug to M4, and for M3 I'm removing the "fixed" property from the OAM files.

Here are some notes:
- So far, it appears that "fixed" only applies to ScrollableView and not to View or SwapView. (I'm 80% certain)
- For ScrollableView, if there are child widgets with fixed=

[2011-09-06 15:28] peller opened #931 "Selection from outline fails"
@billreed63 @childsb @jonferraiolo

Create a new document
Drop a widget on the page, like a dijit.form.Button
click on the button on the outline view
in FF, if you click off the element first, then click in the outline, you'll see an exception s == null in dojo.style during the firing of a davinci/ui/selectionChanged event.  Firebug's stack appears to be bogus, so I'm not sure yet exactly where it

[2011-09-06 15:45] JonFerraiolo opened #932 "Need helper for getPropertyList (or something like that)"
@jhpedemonte, @peller, @billreed63

The "fixed" property for Heading and TabBar should only be active if the Heading or TabBar is a child of ScrollableView. Since the OAM files contain a static list of properties without any supplemental conditional information about when the property is active, my best suggestion is that we (ultimately) add a helper function for pulling the list of properties for

[2011-09-06 16:01] JonFerraiolo opened #933 "Error when creating new file"
I used an internal IBM build from today (shows Sept  6 as the date in About Maqetta), created an Eclipse-compatible project, and then issued a New HTML file command in Win/FF. The command stops midway with the following exception showing in Firebug console:

[code]

[2011-09-06 16:53] JonFerraiolo commented on #933
Updated title - I just tried the latest build on maqetta.org/nightly (http://maqetta.org/nightly/maqetta-20110906-0919.zip) and I can't do a New File even for default project, whether Chrome or FF

[2011-09-06 17:16] JonFerraiolo commented on #933
Works OK in dev mode, just not in builds.

[2011-09-06 17:38] JonFerraiolo opened #934 "Wrong default project name in review servlet?"
@EldonReturn, @jhpedemonte

The following file (https://github.com/maqetta/maqetta/blob/master/davinci.review/src/org/davinci/server/review/DavinciProject.java) shows default project name of "Project", whereas davinci.core (https://github.com/maqetta/maqetta/blob/master/davinci.core/src/org/davinci/server/IDavinciServerConstants.java) defaults to "project1". Is this a problem?

See commit cf4d6b2a

[2011-09-06 17:52] peller opened #935 "Exception selecting root node from outline view"
@childsb

select the root node of the document in the outline view, and an exception occurs in Context.js select() around line 1381:

`parent.selectChild(widget)` where "widget" is the widget-ized BODY element and parent is the unwidgetized HTML element, so there is no selectChild method.

We could just throw in an if parent.selectChild(), but we need to understand how this regressed.  What was/sh

[2011-09-06 18:00] peller commented on #935
@waynevicknair

of particular interest is why the test in the first line of select

`widget == this.rootWidget`

fails.  Both represent BODY elements, but for different windows.  I'll take a look at the initialization sequence and see if wires are crossed there.

[2011-09-06 18:23] JonFerraiolo opened #936 "New review not using current project"
@childsb, @jhpedemonte

Using a development build, I created a new file (file1.html) with a Button, and created a new review ("version 1"). Then I created a new project ("myproject1"), a new file (file1.html) with a Button, Calendar and ColorPicker, saved the file, and created a new review ("version 2"). Then when I went into the review UI, I see file1.html.rev under "version 2", double-clicked on

[2011-09-06 18:42] childsb commented on #933
Fixed with checking c6ec77d138a1c9901170f9e366961d70b07a1779

[2011-09-06 18:42] #933 closed, assigned to childsb

[2011-09-06 19:02] childsb commented on #930
Fixed with commit de6c781742d1e8329fcc1a6c4938496a454c47d8

[2011-09-06 19:02] #930 closed, assigned to childsb

[2011-09-06 19:03] childsb commented on #907
Fixed with commit de6c781742d1e8329fcc1a6c4938496a454c47d8

[2011-09-06 19:03] #907 closed, assigned to childsb

[2011-09-06 19:10] childsb commented on #890
Fixed with commit b0d06b84c565a23b50e5f061e2e3cd010ab2e05b

Thanks for finding this test case!

[2011-09-06 19:10] #890 closed, assigned to childsb

[2011-09-06 19:16] childsb commented on #638
Unfortunatly, this change is a bit bigger than it appears.  The XML Java utility that reads/writes to libs.settings  assigns empty string to undefined tags/attributes.  This will have to be fixed before we can test if a library isn't defined and hide it in the UI.

Too risky for m3, setting as high priority for m4.

[2011-09-06 20:44] childsb commented on #921
Good bug, thanks bill.

Fixed with checking b158322b78d594f321b597d316efedddd830b711

[2011-09-06 20:44] #921 closed, assigned to childsb

[2011-09-06 21:02] JonFerraiolo opened #937 "Eclipse-compatible projects should enforce/encourage content in WebContent"
With M3, if you create an Eclipse-compatible project, the default root folder is "myproject" rather the "myproject/WebContent". As a result, new HTML files end up in "myproject" by default instead of "myproject/WebContent".

We should at least set the default folder to be "myproject/WebContent", but I wonder if we should go further to force all files to be in "myproject/WebContent" and therefore n

[2011-09-06 21:08] JonFerraiolo opened #938 "Remove ?project=myproject2 from URL bar?"
@jhpedemonte, @peller

Right now, the URL bar says something like: `http://localhost:50000/maqetta/?project=myproject2`

Wouldn't it be better to put current project information into the user's workspace somewhere instead of in the URL? After all, we aren't putting the list of open files in the URL bar and instead relying on workspaceSettings.

[2011-09-06 21:11] JonFerraiolo commented on #932
Oops, I meant to target milestone M4.

[2011-09-06 21:17] childsb opened #939 "duplicate CSS in header"
1) create new html
2) add button
3) save file + close
4) re-open
5) notice duplicate theme html.

[2011-09-06 21:17] childsb commented on #939
@jonferraiolo @waynevicknair

fixed with checkin 37000ea99c5c29db7aaa06ef646aae0521af49d2

[2011-09-06 21:17] #939 closed, assigned to childsb

[2011-09-06 21:19] #905 closed, assigned to childsb

[2011-09-06 21:28] JonFerraiolo opened #940 "TitlePane doesn't really work (M3, M2, ...)"
@peller, @jhpedemonte

We probably won't have time for this fix, but TitlePane is basically unusable. Three options for M3:
- 1) Leave it as is in its current pretty-much-broken state. (Same state as with M2 and M1)
- 2) Move TitlePane into Untested until it actually works
- 3) Fix TitlePane before we ship M3

Here is how to reproduce at least one major problem with TitlePane:
- New HTML File
- Ad

[2011-09-06 21:29] JonFerraiolo commented on #916
Closing this. Opened up #940 instead.

[2011-09-06 21:29] #916 closed, assigned to JonFerraiolo

[2011-09-06 21:32] JonFerraiolo commented on #909
Just did some testing. Nope, MoveCommand is not doing the right thing with states in the presence of undo. MoveCommands in the default state are properly undoable, but MoveCommands in a custom state cannot be undone.

Moving to M4 and changing title to remove "Investigate"

[2011-09-06 21:34] JonFerraiolo commented on #699
Pushing this to M4. Things are OK for time being as is with height:100%.

[2011-09-06 21:43] childsb commented on #938
Project in the URL is design to allow better maqetta/browser integration--
- Bookmark projects
- Have multiple workspaces open at once.

[2011-09-06 21:44] JonFerraiolo commented on #682
Pushing this to M4. This isn't as simple as I hoped. For Dijit widgets, the current default for absolutely positioned widgets (i.e., append as last child of BODY) is a good default for "sketch mode" because Maqetta then works like common drawing tools (e.g., PowerPoint or Illustrator). However, for Dojo Mobile widgets, where almost every app has multiple Views, it would be a better default for the

[2011-09-06 21:51] childsb commented on #879
Fixed with commit cc73f324d63d007b3046ef165c46c312ea401513

[2011-09-06 21:51] #879 closed, assigned to childsb

[2011-09-06 22:29] JonFerraiolo opened #941 "Exception if adding widgets as siblings to text nodes"
@jhpedemonte, @peller

Probably this bug has been in product forever...
- New HTML file
- In split view, type "abc" as the content of the BODY tag
- Add a Button

Result=> Internal error dialog comes up. Studying things in the debugger, the exception is deep within the Orion source editor. My guess is that the Orion source editor problem isn't the last fix we will need to deal with "mixed content"

[2011-09-06 22:38] JonFerraiolo commented on #938
@jhpedemonte, @peller

I'll stick to my guns - let's get rid of the project URL parameter. Details:

I don't think we want to enable bookmarking projects, at least with the current design of the product. We just remember the user's last editing state and restore that state when the user returns, just like we do for currently open files. If we want to add bookmarking functionality, we need to think

[2011-09-06 22:51] JonFerraiolo opened #942 "Exception in source editor deleting some content"
@waynevicknair, @jhpedemonte

(Discovered in Mac/Chrome)
- New HTML File
- Accordion
- Add a Button and ComboBox to first pane of Accordion
- Split view
- Select the HTML for the Button and ComboBox, and then Ctl-C to cut

Result=> DOM Exception in eclipse/Editor.js:4093. I don't see any undefined objects or properties. Maybe we are trying to remove a child node from a parent which isn't the curre

[2011-09-06 23:18] peller commented on #942
I'd want to try upgrading to their latest, but that would be risky right now.  We're pretty far behind.

[2011-09-07 00:17] peller commented on #878
I'm unable to reproduce this on FF7.  Have not yet tried FF6

[2011-09-07 00:35] peller commented on #942
I cannot reproduce this.  did you mean apple-x?  (I don't get any exception, whether doing cut or copy using apple keys or the toolbar)

[2011-09-07 03:12] peller commented on #859
@billreed63

ok, the declared issue will be dealt with in #928.  Now, when I try to open the theme Editor, I get

e.widget.getParent is not a function

where e.widget is a string, "$all".  I see this on Chrome, or on FF where I've worked around #928.

[2011-09-07 03:16] peller commented on #928
It's a Dojo 1.7 back-compat issue with TextBoxes that only appears with ComboBox and TextBox definitions clobbering the declaredClass property in a mozilla-specific branch of the code.  This is also causing problems in themeEditor on FF (part of #859)

http://bugs.dojotoolkit.org/ticket/13854

[2011-09-07 03:30] jhpedemonte commented on #942
Testing with latest nightly, I get a **DOMException** in `_setClipboardText()`, at line `self._clientDiv.removeChild(child);`.

`self._clientDiv` is a `DIV` element with class of `editorContent`;  `child` is a `PRE` element which looks like this:

[code]

`_clientDiv` doesn't seem to contain such a child element.

[2011-09-07 03:50] jhpedemonte commented on #938
Agreed on bookmark-ability: just remember user's last open project and open that.

Multiple workspaces support needs some thought, as Jon points out.  All-in-all, agreed with Jon that we should remove project name from URL.

[2011-09-07 03:54] jhpedemonte commented on #940
I'm fine with moving to "untested" and fixing this in M4.

[2011-09-07 03:57] peller commented on #940
+1.  I'm happy to look at this in M4.

[2011-09-07 04:26] #928 closed, assigned to peller

[2011-09-07 13:02] jhpedemonte opened #943 "getDocument() and other DOM accessors should return null if underlying doc is closed"
Spun off from [this discussion](https://github.com/maqetta/maqetta/commit/d999a9211db782e2078ed05c5190b777a77f4763#commitcomment-572723).

From Adam:

[2011-09-07 13:41] JonFerraiolo commented on #943
This issue will require lots of research and thought, but before digging in deeply, I expect that most of the time when we have to worry about stale handles to objects, the doc will not have been closed, but instead it will be modified (e.g., replace all or part of its content). For example, we are talking about sometimes rebuilding parts of the iframe's content from the model, in which case the d

[2011-09-07 14:30] JonFerraiolo commented on #940
I moved TitlePane temporarily to "Untested" with 9822c7c34df858556d8a111fdca2a6353214e468 and pushed this bug to M4

[2011-09-07 14:32] JonFerraiolo commented on #938
I assume everyone agrees that we should leave things as they are currently for M3 (i.e., http://localhost:50000/maqetta/?project=myproject2) and remove the project URL parameter for M4

[2011-09-07 14:35] JonFerraiolo commented on #942
It's too late to roll in a new Orion text editor, but is there a way that we can patch the Orion text editor code safely to prevent the exception in our M3 release or catch the exception and recover gracefully?

[2011-09-07 14:52] JonFerraiolo commented on #878
Today I can't reproduce with FF6.0.1 on Mac. I'll try on Win/FF later. As you can see from the pictures above, I didn't dream this :-)

[2011-09-07 14:55] JonFerraiolo commented on #935
Is there a more detailed reproducible scenario? I tried using today's build, opened Sample1.html, and then clicked on the ./project/Sample1.html line in the Outline palette, and I don't see any exceptions in the console. (Running Mac/Chrome)

[2011-09-07 15:08] #899 closed, assigned to jhpedemonte

[2011-09-07 15:33] peller opened #944 "new theme needs progress UI"
@billreed63

Hit OK on the new theme dialog and there is a delay while the new theme is created.  Meanwhile, the dialog remains up and you can click on the OK button again (and get an error message).  The dialog should probably be dismissed and some sort of loading... UI put up. Alternatively, we could disable the dialog buttons.

[2011-09-07 15:40] #858 closed, assigned to jhpedemonte

[2011-09-07 15:40] jhpedemonte commented on #858
Closing this issue.  Remaining issues with `fixed` property are handled in #856.

[2011-09-07 15:53] JonFerraiolo commented on #878
I'm closing this bug. I couldn't reproduce in Win/FF601 either. Maybe Javier's fix for dealing better with theme CSS files had a pleasant side effect. If we see this problem again, we can re-open.

[2011-09-07 15:53] #878 closed, assigned to peller

[2011-09-07 16:01] childsb commented on #737
Fixed in commit 021c68acbddeee4fcb6a8af0e2575fa855075ddd

[2011-09-07 16:01] #737 closed, assigned to childsb

[2011-09-07 16:26] JonFerraiolo opened #945 "DataGrid in BorderContainer - can't set height to nothing, then change to 200px"
- New HTML File
- Add a BorderContainer with only a left pane and a center pane
- Add a DataGrid into left pane
- With DataGrid selected, go to Layout section of Properties pane. Note that height is 300px
- Remove the height property (i.e., select "300px" and hit backspace, then enter, or choose the first empty line in dropdown menu). Note that the DataGrid now snaps to auto-filling the height of

[2011-09-07 16:37] JonFerraiolo opened #946 "Mobile tutorial file: save/reopen problems"
Down below is a file I created that is the result of walking through the steps in the mobile tutorial. Two problems:

1) The first view is not selected after opening the file. Instead, the second view is selected.
2) Attempting to select the first view in the Outline palette generates this in the Firebug console:

`TypeError: model.elementType is undefined
if(model.elementType.substring(0,3)=="CSS

[2011-09-07 16:47] JonFerraiolo commented on #946
@peller

The second part of the problem (unable to select View widgets in Outline palette) is obviously intermittent because I refreshed my browser (both Win/Chrome and Win/FF) and reloaded the above file, and then no problem selecting Views. When I saw this bug, I had been deep in a session where there were multiple files open. My best guess is that we have a deep bug having to do with multiple e

[2011-09-07 17:00] JonFerraiolo opened #947 "Network errors with dojox.mobile"
Logging bug while I have information at hand. Haven't fully fleshed this out yet. Only discovered with Win/FF601. Haven't tested other browsers yet.

@peller

I created the mobile tutorial and saved the file (see below) and upon reopening, the Firebug console is showing the following errors on Win/FF601

[code]

What's curious is that there is no file named "app-compat.css", but there are files ip

[2011-09-07 17:18] JonFerraiolo commented on #942
I was able to reproduce as follows:
- New HTML file. Create using the steps above (Accordion, Button, ComboBox, etc)
- Try to cut per the instructions above (Cmd-X). For me, this worked
- Then open Sample1.html
- Then New HTML file again, with other two editors still open. Create a new file per the steps above:  (Accordion, Button, ComboBox, etc). Try to cut per the instructions above (Cmd-X).

Re

[2011-09-07 17:32] peller opened #948 "Changing theme on document leads to loading... hang"
It seems any attempt to change the theme leads to a loading... indicator which never resolves.
New File
Add a Dijit button
Switch from claro to sketch or a custom theme
See "Loading..." but it never refreshes the document

[2011-09-07 17:45] peller opened #949 "color picker not working"
(Mac/Chrome)
drag a div on the page
in the background section of the properties panel, choose a background color using the color picker.  Hit OK
The color does not change.  There is no exception on the console

[2011-09-07 17:46] peller commented on #949
weird.  went to reproduce this and I cannot.

[2011-09-07 17:46] #949 closed, assigned to childsb

[2011-09-07 19:05] childsb commented on #836
can just delete the maqetta folder.  maqetta/\* is now a library.

[2011-09-07 19:32] peller commented on #651
taking from @childsb

[2011-09-07 19:34] childsb commented on #651
@peller

in Workbench.js there's this method:

[code]

i traced through the tab closing event (user clicks the X to close instead of deleting the file), and it uses the closeChild(..) on tab container.

Previously the workbench/delete method was just calling removeChild, and the node DOM wasn't getting destroyed.  i haven't checked the workbench code in as it still doesn't work properly ( but it s

[2011-09-07 19:35] childsb commented on #651
I believe the closeChild(..) wasn't being called since it would prompt the user to close the tab if the resource was dirty. (hence the dirty bit).  Also, theres a resource . removeWorkingCopy(..) call causing a race condition. i'm checking in a fix to that.

[2011-09-07 20:37] #613 closed, assigned to jhpedemonte

[2011-09-07 20:37] #707 closed, assigned to jhpedemonte

[2011-09-07 20:43] jhpedemonte commented on #947
My first reaction is that this is from **compat.js** file in Dojox Mobile, so probably nothing much to concern ourselves with.

[2011-09-07 20:48] billreed63 opened #950 "Dojo 1.7 dojox.io.xhrScriptPlugin throws exception on loading"
When the dojox.io.xhrScriptPlugin

dojox.io.xhrScriptPlugin code

[code]

throws method not defined....

I changed the code to:

[code]

The issue seems to be resolved in the nightly build of 1.7 as of 9/1/2011

[2011-09-07 20:55] jhpedemonte commented on #947
Yes, this is due to the function `dojox.mobile.loadCompatCssFiles()` in **dojox/mobile/_compat.js**, which only gets loaded in non-WebKit browsers.

There's a bug in this code, here:

[code]

`location.href.indexOf("mobile/tests/")` returns `-1`, which is a "truthy" value, probably not what was expected.  Also, they may have meant to do the `indexOf()` call on `href` rather than `location.href`.

[2011-09-07 20:55] billreed63 opened #951 "Dojo 1.7 dojox.io.xhrScriptPlugin uses wrong callback for url"
if I have two services on the same host but with differnt callback parms the xhrScriptPlugin will always call the first callback parm

For example:

[code]

xhrScriptPlugin request:
Request URL:

[code]

The current code uses a substring of the url

[code]

If I replace the test to use the complete url the issue is resolved

[code]

[2011-09-07 20:58] jhpedemonte commented on #947
Latest Dojo code does in fact do a check for `!== -1`.  So for now we can ignore these network errors and we'll get the fix when we upgrade Dojo.

[2011-09-07 20:58] #947 closed, assigned to jhpedemonte

[2011-09-07 21:13] billreed63 commented on #469
changed datagrid to use dojox.io.xhrScriptPlugin. I patched two bugs in dojox.io.xhrScriptPlugin dojo 1.7 that is in the users workspace the issues for tracking these issues with dojo 1.7 are #950 and #951

September 2011

[2011-09-07 21:13] #469 closed, assigned to billreed63

[2011-09-07 21:15] billreed63 commented on #830
resolved by using dojox.io.xhrScriptPlugin

[2011-09-07 21:15] #830 closed, assigned to peller

[2011-09-07 21:24] JonFerraiolo commented on #889
Fixed by c570437b3f

[2011-09-07 21:24] #889 closed, assigned to JonFerraiolo

[2011-09-07 21:38] billreed63 commented on #906
States is not used by ThemeEditor so we should not be getting to that line of code...

the code should be checking for themeEditor and bailing.

[2011-09-07 21:39] JonFerraiolo commented on #946
Closing this bug. There is the intermittent part regarding the Outline palette, but that deserves its own bug if we can find a way to reproduce. (I'll keep working at it). The selection part of the bug turned out to be a user error. The file in question had selected="true" on the second view. (Duh!)

[2011-09-07 21:39] #946 closed, assigned to JonFerraiolo

[2011-09-07 21:41] billreed63 commented on #906
states was checking for the wrong class name for theme editor

[2011-09-07 21:41] #906 closed, assigned to billreed63

[2011-09-07 21:55] jhpedemonte commented on #14
Those libraries aren't checked in to the GitHub source.

==> Need to add lines to Developer Setup on downloading and adding the jQuery and YUI library code into their respective bundles

[2011-09-07 21:56] billreed63 commented on #948
the loading div overlay is added to the editor, this seems to be new. I don't remember this being part of the theme switching in the past. At any rate the loading div is not being removed.

[2011-09-07 22:10] childsb commented on #931
Fixed with commit 79765bc36cc699c6bf59f46d398b18c0ba625e4e

[2011-09-07 22:10] #931 closed, assigned to childsb

[2011-09-07 22:24] childsb commented on #671
Can't reproduce-- probably fixed along side another issue/bug.

[2011-09-07 22:24] #671 closed, assigned to childsb

[2011-09-07 22:42] JonFerraiolo opened #952 "Review: user name doesn't show with Mac/Firefox"
I created a review from user A inviting users B and C. To simulate multiple users from different machines, I am using Mac/Chrome for user A, Mac/Safari for user B, and Mac/Firefox601 for user C.

The problem I am seeing is that the user's name appears correctly in Mac/Chrome and Mac/Safari, but with Mac/Firefox602 and Win/Firefox602, I just see the word "Welcome" bumped up near the Help menu, with

[2011-09-07 23:21] JonFerraiolo opened #953 "Reviews palette should show reviews started by self and all others"
@jmockler, @jhpedemonte, @waynevicknair, @childsb

(Eldon, please correct any factual errors below and of course please voice your opinions on my proposal. You know this stuff better than me.)

I'm pretty sure that with the current design, the Reviews palette in either the page editor or review editor only shows reviews that correspond to one particular review creator. In the page editor, I believ

[2011-09-07 23:49] peller commented on #924
An alternative to the OO approach of having a public getPropertyValue and a "protected" _getPropertyValue, we could just have the latter be a locally scoped function which is passed into the helper.  Less surface area on the API, and we avoid OO.

[2011-09-08 00:27] JonFerraiolo commented on #924
Interesting idea. I'll point out though that right now it looks like helpers will require a large surface area in order to do all of the things they need to do. Also, maybe we will end up deciding between public and private functions when we switch to AMD. (oh yeah, AMD, that might drive us in a particular direction with helpers)

[2011-09-08 00:32] jhpedemonte opened #954 "jQuery/YUI widgets not rendered correctly when opening file in VE"
To reproduce:
- New HTML file.
- Drop jQuery Button.
- Save, close, reopen.

---

The issue is that the JS needed to instantiate the widgets (in a `<script>` in the body) isn't getting run.

I can't figure out, though, why it works in the case when dropping the widget on the page vs. opening a saved page.

---

**Working Case (adding widget to page) :**

In **widget.js**, we create DOM element(s)

[2011-09-08 01:24] jhpedemonte commented on #954
Best way to test this: add `debugger;` to the **javascript** property of jQuery's **button_oam.json** file.

[2011-09-08 01:32] JonFerraiolo commented on #948
I suspect the fix to this will fix some other similar hangs. I am finding that sometimes changes in source view cause Loading to appear and never go away.

One possible fix to get M3 out the door is to disable the offending Loading logic until we have time to get it right.

[2011-09-08 01:48] peller commented on #954
I'm confused... what would the `debugger;` show if the script does not get executed?

[2011-09-08 01:55] peller commented on #954
Not sure why adding script through place and _toDom wouldn't work, but you might look at _ContentSetter in dojox/html/_base.js which is used by dojox.layout.ContentPane to process script from inserted markup (and I want to say we did something like this in OAM also...)

[2011-09-08 02:58] peller commented on #942
still don't see it

[2011-09-08 03:06] jhpedemonte commented on #954
We did do something like that (remove `<script>` elements from content and evaluate them later), but that was because of an IE issue.

Here, I'm plainly seeing (what appears to me) similar code work in one instance but not another.

[2011-09-08 03:06] peller commented on #935
you need to have two tabs and switch tabs, whether they're newly created or from a previous session

[2011-09-08 04:00] jhpedemonte commented on #954
Just keeps getting stranger...

So I was able to mostly make `dojox.html.set()` work for my simple test case, but it fails when loading Sample1.html.  Almost all of the DOM nodes are missing for some reason.

Some more investigating and it seems to do with `dojo.place()`.  If I replace `containerNode.innerHTML = content` with `dojo.place(content, containerNode, 'only')` in `Context._setSourceData`

[2011-09-08 14:16] JonFerraiolo opened #955 "Wrong path to claro.css for new file inside of download ZIP"
(I don't know if all of these steps are necessary. I might update issue with simpler set of steps after more investigation)
- New Eclipse-compatible project ("eproj2" in my case)
- New folder "folder1" as a child of WebContent/
- New HTML file "file1a.html" within folder1
- Add some widgets and save
- In Files palette, select the file just created (file1a.html), click on second icon (Save selected

[2011-09-08 14:39] JonFerraiolo commented on #955
I did some more testing in this area. It's looking like the problem is with custom projects and/or the Eclipse support checkbox. I tried creating a ZIP from the default project (project1) and root folder, and there was no problem with the HTML file in the ZIP. I then tried creating an HTML file in a subfolder, again using the default project, and again everything worked fine.

[2011-09-08 14:41] billreed63 opened #956 "Theme name displayed in switch theme drop down more than once"
When switching theme in the theme editor the drop down list has the currently selected theme at the top of the list, but is also displayed further down in the list options. The theme name should only be displayed once in the list

[2011-09-08 14:58] billreed63 commented on #948
the Context.unloadSheets method was losing scope to this...

[2011-09-08 14:58] #948 closed, assigned to billreed63

[2011-09-08 15:08] waynevicknair commented on #836
need to copy a base 'libs.settings' file into the '.settings' directory as that file no longer gets auto generated.

[2011-09-08 15:28] billreed63 commented on #859
fixed by #906

[2011-09-08 15:28] #859 closed, assigned to peller

[2011-09-08 15:29] peller commented on #951
@billreed63 is consulting with @kriszyp on this one

[2011-09-08 16:16] JonFerraiolo opened #957 "New project dialog not localized"
Hardcoded strings right now

[2011-09-08 16:17] #929 closed, assigned to JonFerraiolo

[2011-09-08 16:39] childsb commented on #955
The Context wasn't using the proper project/base when searching for themes, and project1/themes/claro/claro.theme was the first one found.  So the include was linking to the theme in project1

[2011-09-08 16:39] #955 closed, assigned to childsb

[2011-09-08 17:45] billreed63 commented on #927
was throwing exception if widget was not in library..  added check if (library)

[2011-09-08 17:55] billreed63 commented on #926
works on daily build 20110908

[2011-09-08 17:55] #926 closed, assigned to billreed63

[2011-09-08 18:31] waynevicknair commented on #915
Bill's fix d1be24b438413833ec586d3cc3fa8b565660ebe6 took care of this one.

[2011-09-08 18:31] #915 closed, assigned to waynevicknair

[2011-09-08 18:34] JonFerraiolo commented on #803
Closed by above commit

[2011-09-08 18:34] #803 closed, assigned to JonFerraiolo

[2011-09-08 18:53] billreed63 commented on #917
I have checked in fixes for the helper exceptions.. but I am still seeing the excception in dojox.mobile.SpinWheelSlot

[2011-09-08 19:10] #954 closed, assigned to jhpedemonte

[2011-09-08 19:15] #935 closed, assigned to peller

[2011-09-08 19:18] childsb commented on #956
caused by the _setValueAttr(...) being called with a default value, and that value was being double-added to the list.

[2011-09-08 19:18] #956 closed, assigned to childsb

[2011-09-08 19:25] waynevicknair opened #958 "Properties 4 Test: cannot set width in cloned theme"
Create a new theme by cloning "claro".
Create a new HTML file and drop a button on the canvas.
Attempt to change the width to 200px in the properties view with the cascade showing.
Get the "use app.css....." dialog.
Switch themes to your clone.
Attempt to change the width to 200px in the properties view with the cascade showing.
Get the "these are global changes....." dialog.

Issues:
1) click on

[2011-09-08 19:41] childsb commented on #643
We've added visual editor click-away interception to the other properties palette items, added to widget specific as well.

[2011-09-08 19:41] #643 closed, assigned to childsb

[2011-09-08 19:46] childsb commented on #892
This seems to be working fine now-- i tested for a bit and couldn't reproduce.

[2011-09-08 19:46] #892 closed, assigned to childsb

[2011-09-08 20:39] waynevicknair opened #959 "JQueryUI widgets lose style/formatting on source change"
Create a new HTML file
DND all the JQueryUI widgets onto the VisualEditor canvas
Click on the Split View icon in the toolbar
Click in the source view and change the button label (or any text)

Result: All widgets lose there styling.

[2011-09-08 20:44] JonFerraiolo commented on #958
Multiple comments on this.

First, we might have to defer all of this bug out of M3 due to running out of time.

Assigning to Brad to look at the worst part of this bug: It looks like there is a URL problem when attempting to modify a theme CSS file from the page editor (Properties palette). When I tried to reproduce this bug, I see this in the console, which obviously is wrong: there shouldn't be

[2011-09-08 20:47] JonFerraiolo commented on #959
Probably the same as #954, which was fixed an hour ago. Please test against latest build and if still present, then reassign to @jhpedemonte

[2011-09-08 21:32] jhpedemonte commented on #917
The SpinWheel error happens because it doesn't like to be hidden.  Easy way to test:
- Add **View**.
- Add **SpinWheel**.
- In Outline, click on eyeball next to SpinWheel.

Preview or close/reopen file and you'll see the exception.

[2011-09-08 21:34] waynevicknair commented on #959
looks like the 954 fix got this one too. just verified.

DUPLICATE of issue #954

[2011-09-08 21:34] #959 closed, assigned to waynevicknair

[2011-09-08 21:47] jhpedemonte commented on #917
Looks like a Dojo bug to me.  If the SpinWheel is visible, then in `SpinWheelSlot.getCenterPanel()`, the properties `offsetTop`/`offsetHeight` have non-zero values, and the function returns a panel instance.  If SpinWheel is hidden/invisible (for example, in a secondary View that isn't currently selected), then the `offset*` properties are always zero and `getCenterPanel()` returns `null`, causing

[2011-09-08 21:56] jhpedemonte commented on #917
Opened Dojo issue: http://bugs.dojotoolkit.org/ticket/13871

[2011-09-08 21:59] childsb commented on #787
Added conditional building of palette based on installed libraries.

However, can't rebuild the content on the widget, so the browser needs to be refreshed before these changes show.

pushing off dynamically updating the palette to another milestone.

[2011-09-08 22:56] JonFerraiolo opened #960 "No HTML widgets with commit 8e58fdd0c0"
@jhpedemonte

The HTML section of the widget palette has gone away. If @childsb doesn't notice this issue soon, I'll either undo that commit or see if I can fix it.

[2011-09-08 23:48] #960 closed, assigned to childsb

[2011-09-08 23:50] JonFerraiolo opened #961 "Support loading widget libraries from directory (get rid of OSGi bundles)"
Widget libraries should be stored and read from a directory (or directories) on the file system, rather than being loaded from OSGi/Eclipse bundles/plugins.  This will make it easier to update and for others to integrate other widget libraries.

Loading starts from the **package.json** file, which specifies locations of other files and metadata. See the [Packages wiki page](https://github.com/maqe

[2011-09-09 00:18] jhpedemonte commented on #961
This mostly has to do with our use of OSGI bundles for the libraries, which require the use of plugin.xml.  If we ever get rid of the Jetty server and remove the OSGI bundles (instead using a directory for keeping libraries, as previously discussed), then we'd only be reading from widgets.json.

[2011-09-09 00:38] peller commented on #924
AMD doesn't make any assumptions about object structure, so I don't think it will influence the decision.  It can be paired with something like dojo.declare... or not.

[2011-09-09 01:20] jhpedemonte commented on #717
This doesn't seem to happen any more. Not sure what changed; closing.

Further discussion on `getWidget()` at #750.

[2011-09-09 01:20] #717 closed, assigned to jhpedemonte

[2011-09-09 01:22] jhpedemonte commented on #750
Some more discussion on `getWidget()` took place in #717.

[2011-09-09 01:30] jhpedemonte commented on #72
I have not seen this in a while, just the issue with Preview not loading the latest version (pulling from cache).  The latter issue is handled in #795.

Closing.  If you see this again, feel free to reopen.

[2011-09-09 01:30] #72 closed, assigned to jhpedemonte

[2011-09-09 03:19] peller opened #963 "multi widget DnD order should be dependent on document order"
description borrowed from #789:

Steps to recreate:
- Create new HTML file.
- Add **Button**, **TextBox**, and **ComboBox** to page.
- Open **split view** for source editor.
- Add `<div></div>` as first element in `<body>` (above the other widgets).
- Cmd+ Click on ComboBox, TextBox and Button (to select the 3 widgets).
- Drag the 3 widgets up into the DIV.

Depending on the order in which you sel

[2011-09-09 03:20] #789 closed, assigned to peller

[2011-09-09 05:53] #864 closed, assigned to JonFerraiolo

[2011-09-09 12:38] jhpedemonte commented on #935
@peller, what were the "selection problems" fixed by last commit?

[2011-09-09 13:05] jhpedemonte commented on #795
@childsb committed cec12c374f03db436f0c791330ade38827f82dba

This is not enough.  All that does is prevent insertion of the `Expires` header.  But if you look at the network panel, by default a page loaded in preview has at least 24 hours before expiring.

You can confirm the issue with Preview still exists:
- Drop a Dojox Mobile View, then add Heading in to View.
- Save and Preview.  Notice that

[2011-09-09 13:20] peller commented on #935
@JonFerraiolo noticed that as you type in source or split view, selection events would grab large portions of text and make the source editor unusable.

[2011-09-09 13:22] jhpedemonte commented on #927
I'm not completely sold on the fix.  Seems like it might be covering a deeper issue.

If I break at that location when `library` is null, the widget type is **dijit._MasterTooltip**.  Why is that widget here?  It's not on the page.

Further up in the stack, I notice that a set of widgets is returned from `Context.getTopWidgets()`.  It returns an array of length 3, consisting of **TabContainer**, *

[2011-09-09 13:24] kriszyp commented on #951
If we didn't use the substring, we couldn't define a whole set of URLs with a single call. Can't you just reverse the order of callback registration:
dojox.io.xhrScriptPlugin("http://localhost:8081/test4/TestService2","callback2");
dojox.io.xhrScriptPlugin("http://localhost:8081/test4/TestService","callback");

[2011-09-09 13:41] billreed63 commented on #927
It is being added by dojo when it expands the widgets, I have seen this before with another widget. This all gets back to we should be working off the model not the DOM.

[2011-09-09 13:46] peller commented on #927
dijit._MasterTooltip is a singleton instantiated whenever there is a dijit.Tooltip on the page. when a dijit.Tooltip is activated, it positions the singleton and makes it visible.  So interestingly, you don't have to instantiate dijit.Tooltip, just require the code to get a MasterTooltip.  Hmm... ok, I still can't explain why it's there on sample1.html.

[2011-09-09 13:49] billreed63 commented on #951
I could do that, but others could hit the same issue. could we not change the code to first look for an exact match and then a substring match?

[2011-09-09 14:00] kriszyp commented on #951
Not sure what you mean, the code does match the string. Are you suggesting that the adapter go through two matching passes, one for exact and then for non-exact? That would be a much bigger change and would probably mean we could no longer use the AdapterRegistry. Or am I missing something?

[2011-09-09 14:19] billreed63 commented on #951
No that is what I was suggesting, I am now in an area I know very little about so I am more asking for my own understanding...

[2011-09-09 14:31] childsb commented on #795
i was trying to mimic the behavior of workspace requests, and didn't have a case to test with

i'm not sure that setting any cache values on the preview.html will make a difference since it never changes.  The contents of its iframe are whats changing, and the cache values for those pages should be correct (as with the rest of the workspace files).

i'll keep looking into this.  thanks for the tes

[2011-09-09 15:13] billreed63 opened #964 "Unable to change button width"
Test case:
Properties palette basic tests (part 4): CSS cascade features

Create a virgin user environment navigating away from Maqetta, clearing browser cache, killing the server, removing users/ folder, restarting the server, and navigating browser back to Maqetta. (For server-hosted, create a new user)
Clone the "claro" theme into a new theme using the "New Theme" command. For example, create t

[2011-09-09 15:18] JonFerraiolo commented on #964
Dupe of #958

[2011-09-09 15:18] #964 closed, assigned to nobody

[2011-09-09 15:20] billreed63 opened #965 "Switching from CSS editor to PageEditor class edit box missing"
HTML file
add button
Select button
open app.css
switch back to html file

Class edit box is missing from properties palette, I must select anther widget to force it to reappear.

[2011-09-09 15:23] JonFerraiolo commented on #963
I moved to M4

[2011-09-09 15:25] JonFerraiolo commented on #72
OK to close, but I'll add that I have seen occasional problems recently where preview-in-browser shows an incomplete rendering, but a refresh cleaned it up.

[2011-09-09 16:05] waynevicknair opened #966 "Duplicate script blocks containing dojo.require()s"
Over the course of testing, I edited Sample1.html maybe 8 to 10 times. I was using the VisualEditor. However, I happened to open the source view and noticed that

[code]

the above block appeared 9 times in the source.

[2011-09-09 16:27] JonFerraiolo commented on #942
Pushed to M4, although @jhpedemonte, could you please try again on your side?

What I'm seeing is that I can reproduce this sometimes on Mac/Chrome using today's build on our staging server if I follow all of the steps above: New HTML file (Accordion, Button, ComboBox, split view, cut the Button and ComboBox text from source pane), then open Sample1.html, then once again New HTML file (Accordion,

[2011-09-09 16:30] JonFerraiolo commented on #891
I tried to reproduce and couldn't. I'm closing this bug, but it @billreed63, @peller and @jhpedemonte could also try to reproduce, and reopen if they see this problem during their testing, then that would be great.

[2011-09-09 16:30] #891 closed, assigned to waynevicknair

[2011-09-09 16:33] peller commented on #891
will keep watching. I saw this weeks ago, but have not seen since.

[2011-09-09 16:36] jhpedemonte commented on #927
`getTopWidgets()` goes through looking for any node that has a `_dvWidget` property.  Why does **dijit._MasterTooltip** have that property?

[2011-09-09 16:51] JonFerraiolo opened #967 "Need better help text for MultiSelect smart input"
At some point, would be good to clean up help text for MultiSelect. Right now it just says something about plain text. Nothing about putting different menu items on different lines.

[2011-09-09 16:52] billreed63 commented on #891
I have not seen this in a while, I do see this behavior if I have the debugger running and break points set in ve.context setContent. After a few changes in the source editor the model is change which will invoke context.setContent..

But should not happen to the user

[2011-09-09 16:59] JonFerraiolo opened #968 "Mobile tutorial: clicking on #root_view in Outline palette doesn't select"
@peller, @jhpedemonte

This used to work at least sometimes. Not absolutely critical for M3 because there is an alternate path to success (i.e., click on eyeball).
- Go through mobile tutorial up to point where second View has been created and has an ID. The second View will have it's eyeball "on" and first view will be off'
- Click on first View in Outline palette.

Result=> Nothing happens. Prop

[2011-09-09 17:58] JonFerraiolo commented on #968
Adam, Did you grab this bug from me, or did I mistakenly assign it to you? If you are going to fix, I want to warn you that there might be some complexities in all of this. I don't remember the details at this time, but I wouldn't be surprised if some of the processing goes through the ViewHelper.js logic.

[2011-09-09 18:00] peller commented on #927
the attach code _should_ skip widgets beginning with "_" (see Context.js attach() line 162)

[2011-09-09 18:17] JonFerraiolo opened #969 "Theme URL wrong if create in nested folder and SaveAs to root folder"
@jhpedemonte
- Create a new folder (eg folder1, so that it is project1/folder1)
- Select that folder in Files palette
- New HTML file (e.g, abc.html) in project1/folder1
- Add a ColorPalette widget
- SaveAs into root folder (e.g., in project1/)

Result=> No styling for ColorPalette widget. Go into split view and notice there is an erroneous ../ in front of the URL for claro.css. I can make the Col

[2011-09-09 18:25] JonFerraiolo opened #970 "Global background/border not showing for clones of sketch"
@jhpedemonte

Low priority for M3. Fix only if easy and safe.

If I clone "sketch" into "mysketch", the theme editor is missing the global background and border secion.

[2011-09-09 18:28] JonFerraiolo commented on #927
Does this skipping logic get invoked as part of page open process?

[2011-09-09 18:38] #138 closed, assigned to peller

[2011-09-09 18:39] billreed63 commented on #970
the sketch theme does not contain a global theme widget, I never took the time to add the metadata for the global widget to sketch.

[2011-09-09 18:41] jhpedemonte commented on #927
The thing is, I put a breakpoint on every place that adds `_dvWidget` and I didn't see it get hit for _MasterTooltip.  I'm missing something.

[2011-09-09 18:44] jhpedemonte commented on #795
Relevant commit c4753bde2cfcde127a4cbac7217b1029a8171d25 -- no-cache for internal files.

[2011-09-09 18:46] JonFerraiolo commented on #970
Ok, pushing to M4. What I was trying to do was to change the border thickness within my own "mysketch" theme. Seems like something people would want to do.

[2011-09-09 18:47] jhpedemonte commented on #968
Hmm, this was working earlier this week, I believe.  Must be a recent regression.

[2011-09-09 19:39] peller commented on #927
yes, `attach()` is what establishes all of the widgets on page open, IIRC.

[2011-09-09 19:42] #969 closed, assigned to childsb

[2011-09-09 19:43] jhpedemonte commented on #927
OK, I was blind.  This is all thanks to `getWidget()`, which creates a widget instance when called from `Context._attachChildren()`, which itself parses over every DOM node in the doc.

I'll close this again, since we have other bugs to handle the issues with `getWidget()`.

[2011-09-09 19:43] #927 closed, assigned to jhpedemonte

[2011-09-09 19:44] peller commented on #968
I was going to take a look, but feel free to grab it back.  I won't get to it today.

[2011-09-09 19:45] peller commented on #927
right... getWidget() has major side-effects.  We ought to rename the method.

[2011-09-09 20:20] billreed63 opened #971 "DataGrid not rendered correctly in preview"
Create new html file
Drop  tab container
drop datagrid in Tab container

Preview
error in DataGrid

If you look at the source code the ItemFileReadStore has been moved to the bottom of the body instead of at the top where it needs to be, the outline shows the ItemStore at the top....

[2011-09-09 20:26] jhpedemonte commented on #966
I'm having a hard time recreating this one.

@JonFerraiolo

[2011-09-09 20:29] JonFerraiolo commented on #927
When I was working on the "fixed" property for ScrollableView, I ended up splitting getChildren into 2 separate routines, findChildren and getChildren. The findChildren returns the list of child nodes that ultimately will become widgets, and getChildren returns the list of child nodes that have become widgets. I did a findChildren at document load and then called whatever getWidget() calls to actu

[2011-09-09 20:30] JonFerraiolo commented on #968
I grabbed it back

[2011-09-09 20:46] jhpedemonte commented on #966
Well, I've been trying for a while now to recreate, but got nowhere.  Closing for now.

[2011-09-09 20:46] #966 closed, assigned to jhpedemonte

[2011-09-09 20:51] JonFerraiolo commented on #936
Assigned to me to test - I'm pretty sure @EldonReturn fixed this

[2011-09-09 20:52] waynevicknair commented on #901
temporary fix e9cbca30da

[2011-09-09 20:53] JonFerraiolo commented on #968
Closing. Neither @jhpedemonte or @jonferraiolo can reproduce on latest build

[2011-09-09 20:53] #968 closed, assigned to JonFerraiolo

[2011-09-09 21:08] JonFerraiolo commented on #936
Seems to be fixed. Closing.

[2011-09-09 21:08] #936 closed, assigned to JonFerraiolo

[2011-09-09 21:10] JonFerraiolo commented on #934
Pushing to M4. Haven't seen any problems during testing.

[2011-09-09 21:13] billreed63 opened #972 "dojox.io.xhrPlugins.register exception"
create new html file
drop data grid
change datagrid to use file from workspace
save file
close
new html file

dojox.io.xhrPlugins.register exception

[2011-09-09 21:22] #952 closed, assigned to EldonReturn

[2011-09-09 21:24] JonFerraiolo commented on #798
Too late for this sort of a fix. Pushed to M4.

[2011-09-09 21:25] JonFerraiolo commented on #569
Pushing to M4. Too late to try to fix for M3.

[2011-09-09 22:26] JonFerraiolo opened #973 "Properties palette left/top properties don't update after MoveCommand"
@childsb

Only fix for M3 if really easy and really safe, otherwise defer to M4.
- Show Properties palette's Layout section
- New HTML file
- Add a Calendar
- Change position to absolute
- Drag to a new location

Result=> 'left' and 'top' properties aren't updated in Properties palette to show the new values as a result of the drag operation
- Click away on canvas to deselect Calendar
- Re-select

[2011-09-10 00:18] jhpedemonte commented on #801
Didn't notice until recently, but the switch to `iconBase` makes it not work when **IconContainer** is first dropped on the page.  Worse, on WebKit browsers, it causes an infinite loop, where it tries to load the icon but fails, and so on.

Although, it works fine with `iconBase` in every other case: preview, reopening file.  Even on WebKit.

[2011-09-10 00:22] jhpedemonte commented on #801
Infinite loop issue is fixed in Dojo 1.7b5.  But still shows broken image icon instead of the default icon when widget is first added to page.

[2011-09-10 01:05] jhpedemonte commented on #801
OK, the problem with the icon not showing when IconContainer is first dropped on page is as follows:

Normally, IconItem calls the method `inheritParams()`, which inherits the parameters from its parent container, IconContainer.  But this depends on the Dojo parser, which first instantiates a widget and then instantiates its children.

But we it **backwards**: `davinci.ve.widget.createWidget()` fi

[2011-09-10 02:06] peller commented on #801
yeah, I suppose you could set the value with a helper.

[2011-09-10 16:17] JonFerraiolo opened #974 "Smart input exception after browser refresh with 2 open docs"
@peller, @jhpedemonte
- Open Maqetta
- Clear any currently open documents
- Browser refresh to get Maqetta into its initial state
- New HTML File, add a LABEL, save
- Once more, New HTML file, add LABEL, save. (There are now two editor tabs)
- Browser refresh
- The second editor tab should be on top after refresh
- Double click on the label to bring up smart input. Nothing happens. Double-click to

[2011-09-10 16:22] JonFerraiolo opened #975 "Mouse events not masked on TextBox"
I created a file with onmouseover, onmousemove, onmouseout on a TextBox widget with console.log() commands, then saved and reopened. The console.log commands are executing when doing a mouseover on the TextBox in the page editor. This shouldn't be happening. We have logic to strip out all of the on\* events before loading the document in the page editor.

[2011-09-10 16:24] JonFerraiolo commented on #973
I have a fix for this and everything seems to work and seems safe. I'll commit (probably today or tomorrow) after I complete extensive testing to make sure there are no regressions from the fix.

[2011-09-10 16:37] JonFerraiolo opened #976 "Wrong background image url when creating new style rule"
OK to push to M4 because not many users will run into this one.
- New HTML file
- Add a TextBox
- Go to Background section of Properties palette
- Enter a custom class name for the 'class' property, for example "ccc"
- Show cascade for background-image by clicking on ">" to right of background-image
- Click on radio button for "Add new rule..." for the new class (e.g., "ccc")
- Click on the "..."

[2011-09-10 16:40] JonFerraiolo opened #977 "SCRIPT tag shows in Outline palette"
@jhpedemonte
- Close all current editor tabs
- Refresh Maqetta browser window
- New HTML file

Result=> SCRIPT element shows at top of Outline palette

[2011-09-10 16:50] JonFerraiolo opened #978 "Undo/redo bug with border-width"
- New HTML File
- Add two DIV elements
- In second DIV, set text to "abc"
- Set properties as follows: border:1px solid black, padding:5px, margin:10px, border-radius:4px
- Under Border, show "props"
- Enter "3px" for border-width
- Undo (works fine)
- Redo

Result=> DIV loses all of its properties are reverts to original settings (no border, no padding, no margins, etc)

[2011-09-10 17:12] #973 closed, assigned to JonFerraiolo

[2011-09-10 17:30] #975 closed, assigned to JonFerraiolo

[2011-09-10 18:33] peller commented on #977
somehow it appears to have regressed here: 3b38df670ad6055d121ffa6edb6a29100b35cff6  I'll take a look at this tonight

[2011-09-10 18:34] JonFerraiolo commented on #974
@billreed63 - Reassigning to me. I have a fix and am now going through a testing cycle. To fix, I moved widgetHash from a global static list that applied to all documents to a document-specific list on the Context object. This is mostly a bandaid fix, but should be localized and relatively safe. We still will need to look at widgetHash with fresh eyes to look for a more fundamental fix.

[2011-09-10 19:50] JonFerraiolo opened #979 "Rotate icons not working?"
In testing, I noticed that the device rotate icon in page editor isn't switching to alternate icon.

[2011-09-10 19:56] JonFerraiolo commented on #974
Closed by 9dcea85

[2011-09-10 19:56] #974 closed, assigned to JonFerraiolo

[2011-09-10 21:59] JonFerraiolo commented on #979
@billreed63, @peller, @jhpedemonte

I have a fix, but will do more testing before committing. Turns out the rotate icons worked just fine so long as only one document was open. With multiple documents open, we were updating the first document's toolbar instead of the current document's toolbar.

[2011-09-11 00:40] JonFerraiolo opened #980 "Labels not visible in RoundRectDataList with Android device"
- New HTML file
- Choose device Android340x480
- Add a ScrollableView then a RoundRectDataList

Result=> text doesn't show. Note that text does show if you do the above steps using iPhone theme, and text will reappear if you save and reopen the file.

[2011-09-11 00:58] #979 closed, assigned to JonFerraiolo

[2011-09-11 04:40] peller opened #981 "New File... in themes folder results in errors, no meaningful error UI"
themes is a read-only folder, so perhaps it should fail.  Right now, there appears to be an unhandled exception and a 500 from the server, and several exceptions result on the client.  The only visible UI is an alert dialog, and the contents are 'undefined'.

serverJSONRequest probably should pass in an error handler to the dojo.xhr call rather than test for response=="OK"  davinci.Runtime.serverJ

[2011-09-11 04:43] peller opened #982 "New File... in themes/claro folder results in exception"
in `Resource._checkFileName()`

`var folder=(resource.elementType=='Folder'?resource:resource.parent);`

because resource is undefined.  When the dialog pops up, there is no selection.

[2011-09-11 04:56] peller opened #983 "Cannot create file with special chars like "@""
@childsb

Upload or use New File... to create a file called @dot.html
There will be a DOM exception because deep in the construction of the editor, the tab container creates a menu with an attribute by the same name as the editor id... that id looks something like

"editors_tabcontainer_tablist_editor.._project1_@dot.html_Menu"

The "@" being an invalid character in an attribute.  The periods prob

[2011-09-11 05:05] peller opened #984 "yui calendar focus box is incorrect"
the focus box appears zero height and full width of the screen and does not surround the calendar widget.

[2011-09-11 06:03] #651 closed, assigned to peller

[2011-09-11 06:04] peller commented on #651
it seems reasonable to call removeChild directly here, since delete has its own prompt to delete the resource.  Should the normal prompt come up to also say that there are unsaved resources?  If so, we'd need a way to undo the delete.

[2011-09-11 14:42] jhpedemonte commented on #974
@peller should take a look at this.  He tried to do something similar a few weeks ago but ran in to some issues and had to back out the patch.

[2011-09-11 14:46] peller commented on #974
Yeah, I was hoping to remove the hash entirely, as it's only really needed in a few code paths, but I think this is a good improvement.

[2011-09-11 14:48] JonFerraiolo opened #985 "Shorter, more understandable launch script names (e.g., maqetta.local.win.bat)"
It's easy for users to get confused about which launch script to use to run a locally installed version of Maqetta. Right now, our instructions say to double-click on maqetta.local.win.bat or maqetta.local.mac.command, which are sitting there alongside a bunch of other files.

Maybe something like this:

[code]

[2011-09-11 14:57] JonFerraiolo opened #986 "Remove "Using JAR" line from maqetta.*.mac.command"
The Mac launch scripts echos a line that points to the JAR file being used, the Win launch scripts do not. This JAR line is not useful to users. Let's remove that line from the Mac launch scripts. (And Unix launch scripts if there, also)

[2011-09-11 15:04] jhpedemonte commented on #801
Fixed by b4fe5986b5789c56bed72cd3dcf216684a58c7f9.

[2011-09-11 15:04] #801 closed, assigned to peller

[2011-09-11 15:06] jhpedemonte commented on #977
This was fixed earlier by 95232d5c99cab194bb94553f3ec4d1ccfd8bf869.

[2011-09-11 15:06] #977 closed, assigned to peller

[2011-09-11 15:10] jhpedemonte commented on #980
This looks like a CSS issue. Notice that the background is grey and the text color is black (that's why text doesn't show, since ListItem background is also black).

But if you do a Preview or close/reopen then background is black and text color is white.

[2011-09-11 15:40] jhpedemonte commented on #980
You can see the loaded CSS files in the VE by inspecting `frames[1].document.styleSheets`.

When choosing the Andriod device, the style sheets list contains **andriod.css**.

But when adding a Mobile device, **iphone.css** is also added and takes precedence over the android.css rules.

I think this has to do with the MobileCreateTool code, which attempts to set the device when dropping a mobile wi

[2011-09-11 18:30] JonFerraiolo opened #987 "Sample1.html shows no states if opened at very start of session"
Running from Eclipse with latest sources and on Mac/Chrome, if I have no files open and refresh the Maqetta browser window, immediately open Sample1.html or Sample2.html, and look at the States palette, none of the custom states appear. However, if I then refresh the browser with one of these files open in Maqetta, then the States palette will show the custom states.

Haven't yet investigated as t

[2011-09-11 21:51] JonFerraiolo commented on #987
I think I have fixes for this bug plus at least one other bug, but I want to test more before committing. Some notes about what I've discovered:
- We had a bunch of squirrelly code where the same function was passed as its "widget" argument sometimes a "data" object, sometimes a domNode, sometimes a davinci.ve._Widget, and sometimes a Dijit. It's a miracle things worked at all.
- Also, on document

[2011-09-11 22:33] jhpedemonte commented on #980
I was hoping this might be an easy fix, but I'm not sure how to handle it and not reintroduce previous bugs.

Setting the device to "Android" adds the **android.css** style sheet.

Then, adding a Dojox Mobile widget adds the **deviceTheme.js**, which adds the **iphone.css** file.  Now the page contains both android.css and iphone.css.

At this point, the **MobileCreateTool** is called, and it call

[2011-09-11 22:51] #987 closed, assigned to JonFerraiolo

[2011-09-11 23:02] jhpedemonte commented on #980
Is there a document event that specifies when a dynamically loaded CSS file has been added to the page?  If the "unload" event has already fired, it won't fire again.  There might be an option for an "unload" on the `<link>` element itself, but that isn't an option here (would require editing deviceTheme.js).

@peller

[2011-09-11 23:40] #871 closed, assigned to JonFerraiolo

[2011-09-11 23:43] JonFerraiolo opened #988 "Update test plan for exporting to Eclipse"
@childsb - You said you would update the test plan to explain how to export to Eclipse. I need that information in order to update the tutorial on exporting to Eclipse that is in our docset. (That is, bug #989 is dependent on this bug.)

[2011-09-11 23:43] JonFerraiolo opened #989 "Update export to developer tools tutorial"
@childsb - You were going to update the test plan for exporting to Eclipse. I will update the user docs after you update the test plan (issue #988)

[2011-09-12 02:55] peller commented on #980
apparently, link onload is not available in all browsers.  This post suggests a pretty odd method that seems reliable -- use the IMG tag to get an event to fire when the resource (a CSS file) is ready.  Better than looping.

http://www.backalleycoder.com/2011/03/20/link-tag-css-stylesheet-load-event/

[2011-09-12 13:21] JonFerraiolo commented on #980
@billreed63

Does this commit remove the check that sees if the new device is same as the current device? We don't want to reload CSS files over and over again.

[2011-09-12 13:32] JonFerraiolo opened #991 "Widget palette doesn't allow drag/drop if using filter"
- Type "but" into filter field at top of widget palette
- Try to drag/drop the first Button widget shown onto the canvas

Result=> Doesn't work. You can click on the first widget in the Widgets palette and then click onto the canvas at a particular location, but drag/drop doesn't work. What's weird is that the 2nd, 3rd, 4th widgets can be dragged/dropped successfully.

[2011-09-12 13:41] JonFerraiolo commented on #980
Moved this back to M3 to discuss at today's phone call. This is a bad bug given the nature of this release. The way things are now, you can't author within any silhouette other than an Apple silhouette.

[2011-09-12 13:42] billreed63 commented on #971
Change create processing to attach the DataStore to the parent not to the body widget. Having the DataStore attached as the first child of the body element is the preferred method, but our modify command reorders the elements if a  dojo container is in the document breaking the DataStore. DataStores must me processed by dojo before they can be used by the widget.
So until we fix the ModifyCommand

[2011-09-12 13:42] billreed63 commented on #971
Closed by above commit

[2011-09-12 13:42] #971 closed, assigned to billreed63

[2011-09-12 13:48] JonFerraiolo opened #992 "Funky stuff happening when typing in source view with dojox.mobile"
@peller, @jhpedemonte, @waynevicknair

I ran through the mobile tutorial and went into split view to see how well source editing works and ran into some bugs.
- Run the mobile tutorial to its end, save the file
- Go into split view
- Try to Copy/Paste one of the last ListItem found on the first View.

Result=> Nothing gets pasted and the screen automatically switches from the first View (root_view

[2011-09-12 13:54] JonFerraiolo opened #993 "Silhouette not restored after save/reopen"
@jhpedemonte, @billreed63, @peller

To my shock and disappointed, we have a regression in mobile authoring versus Preview 2, and I think this regression has been introduced recently.
- New HTML file
- Choose iPhone silhouette
- Save, close, reopen

Result=> iPhone silhouette doesn't show, and it should.

[2011-09-12 13:54] billreed63 commented on #972
Seems to have been fixed by another commit

[2011-09-12 14:00] JonFerraiolo commented on #993
Further testing. This problem only happens on a release build using Mac/Firefox. (Haven't done any Windows testing yet). Works find with release build and Mac/Chrome and works fine in Mac/Firefox when launching from Eclipse. No messages in console. Probably a timing bug.

[2011-09-12 14:04] billreed63 commented on #951
leave url.substring compare for groups reg definitions

[2011-09-12 14:04] #951 closed, assigned to peller

[2011-09-12 14:06] JonFerraiolo opened #994 "Exception if trying to create new HTML file within 2 levels of nested folders"
Probably will have to push this one to M4, but leaving for M3 to see if @childsb can take a look.
- Create new folder (e.g., project1/aaa)
- Within that new folder, create another folder (e.g., project1/aaa/bbb)
- Select the new folder bbb
- New HTML file

Result=> Exception davinci/ui/Resource.js:238 resource is undefined

Note: no problem creating a new HTML file in project1/aaa

[2011-09-12 14:17] peller commented on #994
likely a dup of #982... perhaps there was no selection in the dialog

[2011-09-12 14:28] billreed63 opened #995 "Can't drop absolute layout widget into container"
create html file
change layout to absolute
drag TabContainer drop
select Tab one
Drag drop button

Notice that button is sibling of TabContainer instead of child of Tab one container. The user must drag the button to Tab one container in the outline palette.

[2011-09-12 14:45] childsb commented on #988
Updates in commit 5c676fe18844a85e181d7e64697215b4eba3663f

[2011-09-12 14:45] #988 closed, assigned to childsb

[2011-09-12 14:46] childsb commented on #989
Checked in test plan update in commit 5c676fe18844a85e181d7e64697215b4eba3663f

[2011-09-12 14:48] JonFerraiolo commented on #995
Not a bug! This is by design. I can explain in more detail, but basically the approach I am pushing for absolute positioning is that by default new widgets are added as last child of BODY so that Maqetta will work like common drawing tools (PowerPoint, Illustrator, Photoshop, etc) where the objects at the bottom of the document render on top of the earlier objects.

One thing I hope to add in M4 i

[2011-09-12 14:48] #995 closed, assigned to nobody

[2011-09-12 14:53] JonFerraiolo commented on #993
Silhouette is not restore when running today's build using Mac/Firefox on the staging server. Mac/Chrome doesn't have the problem on the staging server. So, it's just Firefox and when using a build.

[2011-09-12 15:44] JonFerraiolo opened #996 "SmartInput for DataGrid has too much space for radio button area"
Probably defer this to M4. Only listing as M3 for time being in case @billreed63 has time to try to reproduce and study. Much lower priority than #993. I am running Win/FF using staging server with latest build.

`Version: Preview 3
Date: Sep 12, 2011 8:12:07 AM
Build: b253606b5677864...`
- New HTML file
- Add DataGrid
- In SmartInput, choose "Data file from workspace"

Result => Large amount of v

[2011-09-12 16:10] billreed63 commented on #996
Is this on FF/FB I have seen this when on FF/FB FB seems to add a div that messes up the SmartInput table

[2011-09-12 16:23] JonFerraiolo commented on #996
I'm seeing this with FB turned off on Win/FF602 and Mac/FF602

[2011-09-12 16:28] JonFerraiolo opened #997 "Include hidden config files for dojo facet for Eclipse-compatible projects"

[2011-09-12 18:07] billreed63 commented on #993
onload not firing consistently on FF, so I moved the SetDevice to dojo.addOnLoad

[2011-09-12 18:07] #993 closed, assigned to billreed63

[2011-09-12 18:48] waynevicknair commented on #994
more information: if you select the 'bbbb' folder in the file view contained in the File Create Dialog, the HTML file will get created correctly. it looks as though the tree model in the File View has lost selection information.

continuing to investigate.

[2011-09-12 18:58] JonFerraiolo commented on #639
I tried this feature again with M3 code and this bug has come back. If you uncheck dojo in the download entire workspace dialog and change the text field from "lib/dojo" to "dojo", the HTML files still reference dojo at "lib/dojo" instead of "dojo".

But only fix for M3 if super-safe. Can be easily pushed to M4.

[2011-09-12 18:58] billreed63 commented on #972
fixed by above commit

[2011-09-12 18:58] #972 closed, assigned to billreed63

[2011-09-12 18:59] JonFerraiolo commented on #989
Fixed by d0b7758bde

[2011-09-12 18:59] #989 closed, assigned to JonFerraiolo

[2011-09-12 19:04] childsb commented on #958
Checking for "ok" instead of OK on confirmation dialog.

[2011-09-12 19:04] #958 closed, assigned to childsb

[2011-09-12 19:05] childsb commented on #958
git commit e0291866bc6325ec9bb385c428734a74cfbc764f

[2011-09-12 19:34] childsb opened #998 ""node is null" when closing Visual Editor"
In FireFox:

1) new HTML file
2) close html file
3) notice "node is null" in console.

if you have break on error enabled, it will stop inside some dojo class.

[2011-09-12 19:56] childsb commented on #998
caused by commit 03b0e7b5fc05ae5145dc949dae7759d3087ee6d2

[2011-09-12 20:56] billreed63 commented on #996
If I create an new html file
drop dataGrid
change DataStore to workspace

I see no extra spaces and the HTML for smart input look as below:

[code]

When I refresh the browser for that same page I see the following when opening smartinput

[code]

[2011-09-12 20:57] #980 closed, assigned to peller

[2011-09-12 21:46] peller commented on #998
the tab is getting removed twice because in the middle of the dijit code which closes the tab, the onClose callback calls removeWorkingCopy, which triggers the resourceChanged event which also closes the tab

[2011-09-12 22:04] billreed63 commented on #996
fixed by the above commit

[2011-09-12 22:04] #996 closed, assigned to billreed63

[2011-09-12 22:05] childsb commented on #976
fixed with commit 74dc9e83f9b9eb186a82218af967ca31b2b5ffac  (the baseLocation wasn't being set for proposed rules such as app.css)

[2011-09-12 22:05] #976 closed, assigned to childsb

[2011-09-12 22:25] #998 closed, assigned to peller

[2011-09-12 22:28] JonFerraiolo commented on #639
Unfortunate to have to push this bug to M4, but we are out of time. One of the tutorials tells users how to relocate Dojo within the ZIP. If anyone notices the bug, we can tell them, sorry, you have to tell your developer to replace "lib/dojo" with "dojo" in the source files manually. (I think 2 places per HTML file)

[2011-09-12 22:28] JonFerraiolo commented on #560
Ran out of time, pushing to M4.

[2011-09-12 22:52] JonFerraiolo opened #999 "Browser refresh: iPhone CSS files not active in current editor window"
@peller, @billreed63, @jhpedemonte

With latest checkins:
- New HTML File
- Switch to iPhone silhouette
- Add a View and a RoundRectList
- Browser refresh

Result => iPhone CSS rules aren't showing in document. Just see plain HTML list elements. If you save, close, reopen, the iPhone look&feel now shows. No problem if you choose an Android silhouette instead of the iPhone silhouette.

[2011-09-12 23:07] JonFerraiolo commented on #999
The iphone css file is there, just not "taking". Javier did some magic about a week ago to address this problem. Anyone remember what he did?

[2011-09-12 23:55] JonFerraiolo opened #1000 "(Maybe not critical issue) No more iPhone theme if no silhouette"
@billreed63, @peller, @jhpedemonte

We have a regression, but I'm trying to think how much it matters for the M3 release.

If you don't choose a silhouette, and just start dragging/dropping mobile widgets, no device CSS files are loaded. When you choose a silhouette, everything looks fine. It's arguable that users should really already have picked a silhouette if they are using any dojox.mobile wi

[2011-09-13 00:00] peller commented on #1000
Yeah, that would have been my checkin d6870739d3bc7d56c0a2d04bf0325a42ca4614a6  I probably should have checked for device == "none" in MobileCreateTool

[2011-09-13 02:12] #1000 closed, assigned to peller

[2011-09-13 02:56] peller commented on #999
I'm still unable to reproduce this in a local copy, but I've got a theory that the regression is due to moving the call to setMobileTheme in 6672eb0b2596ec8b80beeedc92b498fb49e15af4 to after the parse, after dojox.mobile has had a chance to initialize its deviceTheme and insert the iphone.css stylesheet, thus putting us back in the condition where we remove and replace the stylesheet while it's be

[2011-09-13 02:58] #823 closed, assigned to JonFerraiolo

[2011-09-13 02:58] peller commented on #999
@billreed63 we talked about this, and you confirmed that changing to dj.addOnLoad wasn't enough, that it had to come after the dojo.parse, and that putting it immediately before failed on chrome, right?

[2011-09-13 03:04] peller commented on #999
@billreed63 other question to revisit is, whether the 'force=true' is necessary when first calling setMobileTheme.  This is where oldDevice = device = "iphone"

[2011-09-13 12:38] jhpedemonte commented on #991
This was working for me over the weekend, when I was testing with **IconContainer**.  I would type in "icon", which would show IconContainer and IconItem.  And I could drag either one just fine.

[2011-09-13 12:45] jhpedemonte commented on #980
Jon, as you can see by my pull request, the check for the new device against current device wasn't necessary.  In fact, it was getting in the way and basically meant that MobileCreateTool was unnecessary (see description in pull request).

Adam's fix still has the same problem: MobileCreateTool calls `getMobileDevice()` and passes that to `setMobileTheme()`, which itself calls `getMobileDevice()`

[2011-09-13 12:56] jhpedemonte commented on #999
I mentioned this in #980: the `device === oldDevice` check in `setMobileTheme` can get us in trouble.  That's why I removed it in the pull request attached to that issue.  See my last comment there.

If you need to set `force = true`, then you might as well remove the check, since the only other call to `setMobileTheme` already has `force` set as well.

[2011-09-13 12:56] jhpedemonte commented on #999
I'm pretty sure I'd also fixed this issue with my pull request, but not 100% sure.

[2011-09-13 13:10] jhpedemonte commented on #980
So there's no confusion: my pull request (https://github.com/maqetta/maqetta/pull/990) was added so that Adam and Jon could review it before being committed.  It has **not been committed**.

[2011-09-13 13:20] billreed63 commented on #999
We already have the force on the load at start up, it is a timing issue. The setDeviceAndTheme is being called to soon. If I add a setTimeout , 200 the issue is resolved. not the best approach but one that will get us past m3.

[2011-09-13 13:57] JonFerraiolo commented on #999
So far so good with my testing. Before the above fix, on my system with Mac/Chrome, the stylesheet loading didn't work about 75% of the time with a browser refresh when I had an editing tab open with a silhouette. With the above fix, I haven't seen a problem yet.

[2011-09-13 14:22] JonFerraiolo commented on #999
I did see one problem running the latest build on the staging server. I had two HTML editing tabs open, the first with iPhone silhouette, the second with Android silhouette, with second tab active, and I hit browser refresh. After refresh, Android page was fine, but when I click on tab for iPhone page, the CSS styling wasn't there. But it has only happened that one time. No problems with subsequen

[2011-09-13 14:59] jhpedemonte commented on #999
I haven't updated since Sunday evening, so I don't have any of Adam's or Bill's changes.  I pulled in my patch from https://github.com/maqetta/maqetta/pull/990 and tested this issue.  Works just fine.

I don't like using `setTimeout` -- it's arbitrary and fragile.

The only thing that may not be covered by my patch is the FF issue, for which Bill made the change from `unload` to `dj.addOnLoad`.  B

[2011-09-13 15:02] billreed63 commented on #469
I deployed a sample http://maqettaservice.appspot.com/sampleservice?callback=xx on google app engine

[2011-09-13 15:58] childsb commented on #994
Workaround in commit e6e11b341e814ce3d557d95d9ec3865e015626a0

Using text field with path above the tree for selection instead of the tree.  There's probably still a Dijit bug here, but this should work for us for now.

[2011-09-13 16:16] JonFerraiolo opened #1001 "Update browsers messages on Maqetta.org about Safara 5.1"
@peller, @waynevicknair

THIS DOESN'T AFFECT THE APP! Just the Joomla stuff.

I tried to run Preview 3 on Win/IE and I saw a message about Safari 5 instead of Safari 5.1 on the "Launch Maqetta" page. We need to grep for Safari within the Joomla files and make sure to include 5.1.

[2011-09-13 16:17] JonFerraiolo commented on #999
So far, I'm seeing things working either completely or mostly on Mac/Chrome launched from Eclipse, Mac/Chrome on staging server, Win/Chrome on staging server, and Win/Chrome using a downloadable build ZIP.

[2011-09-13 16:19] JonFerraiolo commented on #994
I pinged @childsb about this. Fixed one exception but introduced another. He is working on the newly introduced exception.

[2011-09-13 17:12] JonFerraiolo commented on #999
Moving to M4 where we hope to address this by fundamental cleanups

[2011-09-13 17:13] JonFerraiolo commented on #994
Seems to be fixed now with 683aaffc03

[2011-09-13 17:13] #994 closed, assigned to childsb

[2011-09-13 17:35] waynevicknair commented on #1001
done.

[2011-09-13 17:35] #1001 closed, assigned to JonFerraiolo

[2011-09-13 18:24] JonFerraiolo opened #1002 "&nbsp; into SmartInput doesn't trigger HTMLvsplain radio buttons"
Right now SmartInput seems to look for &gt; and &lt; characters, but not &amp; Users might want to force a space with (amp)nbsp entity.

[2011-09-13 18:54] peller commented on #980
My commit d6870739d3bc7d56c0a2d04bf0325a42ca4614a6 did two separate things: 1) it explicitly removed the iphone.css link added by dojox.mobile initialization, when adding the first widget, iff the theme was already set to something else (like android) 2) it loosened the existing setMobileDevice regexp to remove "compat" files, if any.  It still suffers from all the problems @jhpedemonte notes and

[2011-09-13 19:25] peller opened #1003 "new CSS file - color coding does not work"
New CSS file... start typing valid CSS

Except for the first few characters, color coding generally does not seem to be functioning until you save / reopen the document.

[2011-09-13 19:40] waynevicknair opened #1004 "New Theme Dialog Hangs on Mac/Safari 5.1"
From the ThemeEditor test script
- Click 'New' menu and select 'Theme...'
  *\* The clone a theme dialog appears.
- Select 'claro' from the drop down and click the 'OK' button

Result:
OK button stays highlighted and dialog never closes. In the browser error console the following message appears:
    TypeError: 'null' is not an object (evaluating '_ef9.file')
which corresponds to `davinci.ui.NewTh

[2011-09-13 19:48] peller commented on #1004
FWIW, if there's an error, the dialog stays up w/o any error UI, and it's possible to click 'ok' multiple times during or after the processing.  Many of our dialogs have this problem.

[2011-09-13 19:50] JonFerraiolo commented on #1004
@billreed63

[2011-09-13 19:51] waynevicknair commented on #1004
Additional note: The theme actually gets created. So the user can cancel or close (click on the 'x' icon) the dialog and resume activities.

[2011-09-13 22:11] JonFerraiolo opened #1005 "Red X on Properties palette cascade doesn't update after updating a rule"
@childsb
- New HTML file
- Add a Button
- In Properties palette, show cascade for 'width'
- Add a class to the Button (e.g., "aaa")
- Click on radio button for "New rule in app.css" for "aaa"
- Set value for width to "10em"

Result=> Button updates, but the red "X" doesn't appear by the newly created rule in the cascade list. Unselect the button and reselect, and then the red "X" appears.

[2011-09-13 22:34] billreed63 commented on #1004
I put a breakpoints on the server and it appears to me that for some reason the savefile for the new theme (a1.theme) was being delayed until the browser stops executing NewTheme._createTheme. So I added a check if the theme is not found we setTimeout and wait a small amount of time to get safari to execute the savefile..

[2011-09-13 22:51] JonFerraiolo opened #1006 "Replace setTimeout logic in NewTheme.js with something less ugly"
@waynevicknair, @billreed63, @peller

Doesn't have to be Brad, but he is the server guru. For some reason, the findResource "*.theme" command on Safari doesn't return the newly created theme in the list of themes due to a timing issue. Bill patched around the problem with c24afbbe8f63fe761b45603430b60c860c5f7aed. We should come up with a solution that doesn't involve a setTimeout.

[2011-09-13 23:59] peller commented on #1006
FWIW, I could only reproduce this problem on Safari with a build

[2011-09-14 00:08] peller commented on #1004
Maybe it's maxing out on HTTP resources?

[2011-09-14 00:30] JonFerraiolo commented on #1006
I was seeing the Safari problem (#1004) running from Eclipse, also.

[2011-09-14 03:55] JonFerraiolo opened #1007 "Study and clean up selectModel code for multiple docs"
@peller and @jonferraiolo are worried that the current selectModel code doesn't deal with multiple open documents robustly.

[2011-09-14 03:58] JonFerraiolo opened #1008 "New project dialog is partially transparent"
@jhpedemonte

(We had this same problem with another dialog)

[2011-09-14 04:44] JonFerraiolo opened #1009 "Red X on Properties palette sometimes doesn't remove rules from app.css"
@childsb

@jonferraiolo needs to find a way to reproduce. In fooling around with multiple projects (and Eclipse projects in particular), I encountered a situation where the red "X" in the cascade list wouldn't work on rules in app.css.

[2011-09-14 05:24] JonFerraiolo opened #1010 "iPad authoring not working - needs both iphone.css and ipad.css?"
@jhpedemonte, @peller

Styling is messed up if you choose to author for an iPad. Could it be that dojox.mobile requires both iphone.css and ipad.css for the iPad, rather than just a single CSS file?

[2011-09-14 05:57] JonFerraiolo commented on #1010
Yes, we need both. What I think is happening is that our code properly loads both iphone.css and ipad.css, but the loadRequires on deviceTheme.js triggers initialization logic that appears to reload the CSS files and somehow in the process removes the iphone.css file. (But I haven't found the removal code)

[2011-09-14 06:02] EldonReturn commented on #934
The default project name is reserved for advanced project concept. For example, the review now can publish files among the projects listed (actually they are directories. so it's easy to list the directories). If we'd like to constrain the files within the current project open in future, this reserved field can be used.

[2011-09-14 12:01] jhpedemonte commented on #1009
In my case, it wouldn't work on cloned theme.  In test plan: **Properties 4->cascade features->Step 6**, clicking on the red X did nothing.  Also, there is no "show all rules" checkbox, as mentioned by test plan.

[2011-09-14 12:01] jhpedemonte commented on #1010
I think this is Adam's code, which removes *_iphone.css_ in MobileCreateTool.

[2011-09-14 12:04] jhpedemonte commented on #1010
I know it's probably too late, but my patch (pull request 990) handled this correctly.  Or we can create another patch on top of all the other patches!

[2011-09-14 13:17] peller commented on #1010
ok, I was not aware when I stepped in the other day that it was not a 1:1 mapping.  Choices seem to be: apply Javier's patch or put in `device != "ipad"` in MobileCreateTool... all of which should go away soon.

[2011-09-14 13:25] peller commented on #1010
that makes ipads work as well as iphones, anyway.  We can continue to debate Javier's patch in #990

[2011-09-14 13:25] #1010 closed, assigned to billreed63

[2011-09-14 13:47] JonFerraiolo opened #1011 "Replace iPad check in MobileCreateTool.js with more general check"
@jhpedemonte, @billreed63

Right now MobileCreateTool.js has this line of code:

[code]

Maybe with cleanups the ipad check will go away, but if not, we should generalize the ipad check to deal with devices that might have multiple CSS files.
[code]

[2011-09-14 13:50] JonFerraiolo commented on #1009
I think both cases are intermittent - app.css and writable theme CSS files in a cloned theme. The latter case worked for me just now. Note that there are also redraw problems with the Cascade list. In some cases, the CSS file is changed by the Cascade list doesn't update to reflect that. So, probably two bugs: sometimes CSS file isn't updated, and redraw problems.

[2011-09-14 13:53] JonFerraiolo opened #1012 "Unique user id - what's the index: username or email?"
@childsb, @EldonReturn

See https://github.com/maqetta/maqetta/commit/583ffe2ddde48edea67df6e9240ff389cfb8a92b#commitcomment-587709

We need to have a formal decision about what's the "index" on our servers (i.e., a guaranteed unique ID for each and every user). Username? email?

Then we need to do a code review to make sure our code enforces uniqueness.

[2011-09-14 13:53] peller commented on #1011
no, it's got to go away.  The existence of this logic is also hardcoded to remove iphone.css... we can't generalize that, too.

[2011-09-14 13:59] JonFerraiolo commented on #934
@EldonReturn, thanks for the response. Makes sense to me. I've tested having a single review publish files from 2 different projects in the same review and miraculously that seems to work. So, I think we are good for now and it looks like you have thought about the future, too.

[2011-09-14 14:23] billreed63 commented on #1011
dojo.require('dojox.mobile.deviceTheme');  uses the location and the user agent to determine which css files to add to the head.

[code]

mobile assumes this is only done once when the deviceTheme is loaded, they did not anticipate that anyone would want to change the theme without reloading the page.

We currently use the theme param on the preview, but in this case the frame has a location. In t

[2011-09-14 14:41] billreed63 opened #1013 "Modifying theme in Safari not reflected in UI until refresh"
Create new theme
click global widget or button
change background color.
Change is not reflect in UI but is reflect in HTML file that is using theme..

[2011-09-14 15:52] JonFerraiolo commented on #1013
@jhpedemonte - likely a caching issue

[2011-09-14 15:54] JonFerraiolo opened #1014 "Android includes iPhone CSS files in page editor"
@billreed63, @peller

In page editor, Heading, EdgeToEdgeCategory and TabBar are all mis-styled in page editor because we are including some iphone css files when Android is chosen. Unfortunate, but has to be pushed to M4.

[2011-09-14 16:40] peller commented on #1011
we do set HTML BASE on our IFRAME which may or may not have a search property detectable by browsers.  I'd prefer option 2, encapsulating as much as possible in dojox.mobile.  I think most of the logic is already in dojox.mobile, we'd just need to refactor it slightly and find a way to remove the old stylesheets.  Most of the code we've added to handle dojox.mobile themes should go away. It's prob

[2011-09-14 17:25] billreed63 commented on #1011
Removing the mobile style sheets from the head can be problematic, I have seen iphone style sheets added multiple times to the head in the designer.  That was the reason for the following code in setMobileTheme

[code]

it was not the most efficient approach but  it was the most robust

[2011-09-14 17:38] peller commented on #1011
if dojox.mobile provides us a list of exactly what it added, the solution should be simple.

[2011-09-14 17:43] peller commented on #1012
I thought we were going to go with username == email

[2011-09-14 17:44] peller commented on #1014
see #1011

[2011-09-14 17:47] JonFerraiolo commented on #1012
If I remember correctly, we were looking at username being the unique ID that we use for indexing, and most of the time we will use the user's email as their username, but technically those are separate fields and username is the unique ID. But I'm not sure my memory is correct.

[2011-09-14 18:23] billreed63 commented on #1011
dojox.moble.deviceTheme generates the css names based on the theme, Android, iphone, blackberry....

[code]

dojo.mobile.compat adds a require('dojox.mobile._compat') for none webkit browsers, _conpat is what adds the theme -compat.css stylesheet

[code]

[2011-09-14 19:13] #213 closed, assigned to jhpedemonte

[2011-09-14 20:07] waynevicknair commented on #836
also needed to patch `dojo-theme-editor.html` to replace `../../../../../../app/static/lib/dojo/1.7/dojo/dojo.js` with `/maqetta/app/static/lib/dojo/1.7/dojo/dojo.js` in `<script>` tag.

[2011-09-14 20:07] #836 closed, assigned to waynevicknair

[2011-09-14 20:40] waynevicknair commented on #1012
FYI: In Joomla user management email addresses MUST be unique. So in the 'maqetta.org' case, we will need to impose that restriction in addition to the any other uniqueness criteria.

[2011-09-15 17:25] peller commented on #1011
I proposed a dojox.mobile patch here: http://bugs.dojotoolkit.org/ticket/13916

[2011-09-15 18:30] peller commented on #1011
and I made a branch with the relevant Maqetta changes here: af670a4ce77e68cc3dc572a3a5f77e9542697eab

[2011-09-15 21:02] jhpedemonte commented on #1011
This may not be the only scenario where reloading the iframe will help us.  Jon also pointed out an issue with the `fixed` property in Dojox Mobile -- if you set that property on a Heading and also have a ScrollableView sibling, the ScrollableView code reorders the DOM, which causes some issues for the rest of the Maqetta code.  In that bug, I suggested that reloading the iframe in such a situatio

[2011-09-15 21:28] peller commented on #1011
Reloading the iframe, and constructing it in a way that carries a url, was non-obvious, but is certainly worth pursuing.

The patch requested of Dojo is pretty minimal and IMO not an unreasonable request.  There are options to override other things, why not a simple property to override the user agent detection?  I feel good about making that request whether or not we use it.

[2011-09-16 13:31] JonFerraiolo opened #1015 "Download as ZIP not working for localhost"
@jhpedemonte, @peller

I'm seeing problems with Mac/Chrome but not Mac/FF.

I was running both from Eclipse and the download ZIP (http://maqetta.org/downloads), and in both cases when I try the download as ZIP icon, instead of creating a ZIP, the URL bar shows what is listed below:

No problem with download as ZIP on the web version hosted at Maqetta.org.

[code]

[2011-09-16 14:29] JonFerraiolo opened #1016 "Download as ZIP on Maqetta.org generates slow JavaScript warnings"
@jhpedemonte

Using Mac/Chrome just now, I saw 2 messages telling me about slow JavaScript and asking me whether to kill the current web page (i.e., Maqetta).

Are we waiting for the server to copy Dojo before the browser download dialog comes up? Is there an option for preventing these warniing dialogs from appearing?

[2011-09-16 14:29] billreed63 commented on #1011
Issues to keep in mind when refreshing the iframe:

1) We create the iframe and then dynamically load the page contents, the last device set by the user is store in the page contents as an attribute on the body tag.  So we need to find the body element before the setContent/model parsing to put it on the url.

2) When a new page is created we do not add the mobile.deviceTheme until the first mobil

[2011-09-16 14:46] billreed63 opened #1017 "Can't move button widget to desired location absolute layout with snap to grid"
I created the page below and was attempting to move the button to horizontally align with the left side of the data gird.

1) Select the button in tab one
2) Drag the button to the left until use see the pink vertical line that shows that the left side of the grid and the button are aligned.
3) Drop the button and notice that the button is placed in the wrong spot.

Note if you do not use the "pin

[2011-09-16 14:57] billreed63 opened #1018 "Outline Palette, goes into dragNDrop mode when using scroll bars"
1) With html below the outline palette has vertical and horizontal scroll bars
2) In the outline palette select a widget, I selected Content pane 2
3) In outline pane use the vertical or horizontal scroll bar to pan
4) Move mouse back into the outline pane and notice you now have the drag icon (you are in drag state)

[code]

---

**Update 2012-03-14:** More info at #1614 and #1532.

[2011-09-16 16:34] billreed63 commented on #1016
Maybe we could use HTML5 web workers to do the zip file processing on a different thread
http://www.codediesel.com/javascript/introducing-html5-web-workers/

[2011-09-16 18:49] jhpedemonte commented on #1016
I'm guessing that we're doing a synchronous get. Need to move to async.

Using web workers would work if we were actually doing processing on the client, but as I understand it, we're just waiting for the server to create the zip.

[2011-09-16 18:54] jhpedemonte commented on #1011
All good points, and for the most part, we can work around them (except maybe [3]). As an aside, I'd like to redo the way we initially put the contents in the iframe.  I think doing dynamically, piece-meal is inefficient and causes us issues.  Best to just load the actual file (or a template for new pages) and then create the structures we need.

[2011-09-16 19:39] billreed63 commented on #1011
I think one of the issues with have the frame load the page content is javascript, we  don't want the javascipt in the page to be running in page designer.

[2011-09-16 19:53] jhpedemonte commented on #1011
Yes, we do; we need the JS to run.  All of the widget libraries that we currently "support" (Dojo, jQuery, YUI) involve a JS parsing step in order to create the widget.

One of the issues is that part of our code assumes Dojo and does the parsing step in the core, rather than letting the Dojo in the iframe handle that. Need to get rid of this and move any Dojo-specific stuff out to that library bu

[2011-09-16 19:53] JonFerraiolo commented on #1011
That's right. We run all of the JS referenced by dojo.require() but don't run any other SCRIPT tag and strip out all of the on\* event listeners so that when we do the innerHTML assignment the document in the IFRAME is a static DOM (i.e., no active JS)

[2011-09-16 19:58] jhpedemonte commented on #1011
Jon, what is the exact reason for this? We obviously run some JS (scripts that get added to `<head>`). Granted we need to disable some things that would interfere with the Visual Editor.  I guess we need to catalogue exactly what we need to disable.

[2011-09-16 20:37] JonFerraiolo commented on #1011
This approach was inherited from the original SMash code, but makes sense when you think about it. Any SCRIPT tag in the doc might include event listeners (e.g., onload) which would cause various things to happen to the DOM which would conflict with Maqetta, which needs to be in control of the DOM that appears in the IFRAME. Really, I look at us running dojo.require() or the equivalent in other li

[2011-09-16 20:44] jhpedemonte commented on #1011
Hmm, well I recently added code that invoked the inline scripts. This was needed by the jQuery and YUI libs, so that their "parsing" step could take place. So we'll need to rethink how this works.

[2011-09-16 20:54] billreed63 commented on #1016
Web workers can be used  for async communication with severs as well.

woker.js

[code]

and the html that drives it

[code]

[2011-09-17 13:45] billreed63 opened #1019 "Add email address lookup to review on maqetta.org"
It would be very helpful to add email lookup on maqetta.org.

---

**Updated 2012-04-04:** As Jon [points out](https://github.com/maqetta/maqetta/issues/1019#issuecomment-2123170), this requires that we have some sort of access control logic, such that a user can only see emails from people in his/her group.  We don't want users to see _all_ of the emails on maqetta.org.

[2011-09-17 17:30] JonFerraiolo commented on #1019
@waynevicknair, @peller, @jhpedemonte, @childsb

Two comments:
- Inside IBM, we have an internal version of Maqetta that hooks into IBM's LDAP. For Maqetta.org, there is no LDAP to hook into. We could conceivable provide some substitute for LDAP for Maqetta.org, but that brings up next issue...
- Most likely, users at Maqetta.org might not want their email addresses appearing in the list of potent

[2011-09-18 17:35] waynevicknair commented on #1019
we should at some point extend the maqetta user model to include the abstract notion of "teams". teams could them be implemented in the user manager extension as a facade to, in the case of LDAP, the Organizational Unit (OU) portion of the Distinguished Name (DN). however, as jon said in the previous comment, there is no LDAP for maqetta.org.

it would be counterproductive for the maqetta team to