[2012-04-04 20:16] jhpedemonte commented on #2047
Jon, in that stack, are the functions and file names conjoined?  Should it look like this?

[code]

[2012-04-04 20:18] jhpedemonte commented on #2047
Given what [Adam wrote](https://github.com/maqetta/maqetta/issues/2047#issuecomment-4955746), is this a Dojo loader issue, then?  I'm not doing anything special with the dependencies in **davinci/css.js**.

[2012-04-04 21:20] #1938 closed, assigned to billreed63

[2012-04-04 21:34] peller commented on #2047
it _seems_ to be.  the dojo-attr dependency (a dependency of dom-construct) is not resolved, even though I did see the network request.  Perhaps the loader has some problem resolving all the sub-dependencies in time. We could try working around this by putting a dojo-attr dependency (and whatever else gets pulled in) elsewhere in our code, maybe even in css.js.

[2012-04-04 21:35] peller commented on #2047
Do we have any idea when this might have regressed?  Seems like it started happening just a few days ago.

[2012-04-04 21:56] #1866 closed, assigned to doronrosenberg

[2012-04-04 21:59] billreed63 commented on #1949
single user should never timeout. Also, I think there is a bug that we shipped with M5 where single users are timing out and are redirected to /maqetta/welcome instead of /maqetta
 is the redirect in the javascript? If so, then we probably need a conditional to check for single user.

[2012-04-04 22:07] doronrosenberg commented on #1992
Which gauge's do we really need and what functionality do we need to expose?  Gauges are pretty complex

[2012-04-04 22:24] JonFerraiolo commented on #2047
No idea when this regressed, but I don't remember seeing it during the M5 development phase, which ended with this build:

[code]

[2012-04-04 22:40] doronrosenberg commented on #1121
Since moveTo is used in several places, is there a way to define the needed metadata only once (the view/scrollableview/etc part) and reference it in the oam.json files?

[2012-04-05 01:43] JonFerraiolo commented on #1121
Short answer: sorry, no, have to repeat things, no way to reference a shared definition.

Longer answer: During the OpenAjax metadata standards discussion, we talked about an "include" feature  and had actually spec'd the feature and mentioned it in the Futures appendix (http://www.openajax.org/member/wiki/OpenAjax_Metadata_Specification_Futures#.3Cinclude.3E), but didn't include it in the 1.0 (an

[2012-04-05 02:19] #1573 closed, assigned to peller

[2012-04-05 02:51] #2047 closed, assigned to JonFerraiolo

[2012-04-05 02:53] peller commented on #1997
paying special attention to http://bugs.dojotoolkit.org/changeset/28276/dojo

[2012-04-05 03:34] aerwin commented on #1992
@doronrosenberg @JonFerraiolo

This doesn't fully answer your question, but there is a Wiki page with info on the various [Untested Widgets](https://github.com/maqetta/maqetta/wiki/Untested-widgets). For gauges, it points off to #786 which was put on my list of issues awhile back. I'll route #786 to you.

[2012-04-05 03:35] aerwin commented on #786
Routing to @doronrosenberg as this goes with #1992.

[2012-04-05 04:19] JonFerraiolo commented on #1956
For the first problem, I tried to comment out the setTimeout and things continued to work:

[code]

I'll do more testing, but maybe we can just remove the setTimeout.

Regarding the second problem, I fixed that problem already as part of the code changes within this (fairly large) commit: 0dc74f6abe

[2012-04-05 04:27] JonFerraiolo opened #2054 "See if we can remove width=height=100% on BODY"

[2012-04-05 04:30] JonFerraiolo opened #2055 "CreateTool: drop on container widget's focus chrome should drop new widget inside container"

[2012-04-05 04:41] JonFerraiolo commented on #1231
Note: @jhpedemonte will have to be messing inside of SelectTools.js:onExtentChange() for the createWidget() cleanup fixes.

Other notes:
- onExtentChange seems to have a bug where MoveCommand is based on currentParent, but if the widget is getting reparented, then left/top offsets probably need to be adjusted
- in onExtentChange, need to add the copy logic to both the absolute and flow sections of

[2012-04-05 04:42] JonFerraiolo commented on #1231
Oops, accidentally closed, reopening

[2012-04-05 05:28] jhpedemonte opened #2056 "Modifying a widget calls both onRemove/onAdd callbacks"
From Patrick:

[2012-04-05 13:45] peller commented on #2047
It's a circular dependency within Dojo.  Our plugin must be loading things in a different order than Dojo normally does.  Reported a [dojo bug](http://bugs.dojotoolkit.org/ticket/15131)

davinci/css -> dojo/dom-construct -> dojo/dom-attr -> dojo/dom-prop -> dojo/dom-construct

[2012-04-05 14:42] JonFerraiolo commented on #2047
Great work!

[2012-04-05 15:50] #1949 closed, assigned to billreed63

[2012-04-05 16:04] doronrosenberg commented on #1121
question - do we want the user to be able to enter manual ids as well as dropdown values or just choose from a dropdown?

[2012-04-05 16:15] JonFerraiolo commented on #1121
user should be able to enter manual ids, too (i.e., combobox instead of just a select)

[2012-04-05 16:20] doronrosenberg commented on #1121
So right now I am calling the property dropdownQueryValues:

[code]

Looking at OpenAjax I don't see an appropriate name, does the spec allow "foreign" properties?

[2012-04-05 16:56] JonFerraiolo commented on #1121
Sorry, but I expect this new feature is going to take more time to talk about than implement.

Over multiple months early in the project, Javier and I went over the policy question about whether Maqetta should extend the OAM format, and our conclusion was "no" and instead if OAM doesn't provide what we need, then we should use a different approach to solving the problem at hand. Typically, the "di

[2012-04-05 17:33] doronrosenberg commented on #1121
I think the best choice would be via a helper, a preProcessProperty perhaps that would be called for each property and in this case replace the type with comboEdit and add the values from the DOM.

[2012-04-05 17:44] JonFerraiolo commented on #1992
I poked around the source code and I see declare's for the following things, all of which look like they might be top-level gauge widgets or components of gauge widgets.

Here are the declare's I found:

[code]

Usually, we want all of the top-level gauge widgets to appear in the Widgets palette, but the things above that represent components of gauge widget we usually don't want to show in the Wi

[2012-04-05 17:49] JonFerraiolo commented on #1992
One more thing. I see the following widgets (that appear to be gauge widgets) listed in the Untested section of Maqetta today. As I remember, some of these widgets worked to some level at one point, but they were deemed incomplete, so left under Untested. I expect no one remembers any of the details about what was working and what wasn't working. The list below looks a little suspicious because th

[2012-04-05 17:55] JonFerraiolo commented on #1121
Sounds like a reasonable direction. Why not make it into a generic `metadataPostProcess` helper where you pass a pointer to the entire metadata JavaScript object (which holds the JavaScript objects corresponding to the OAM JSON data), and then the helper can add/remove/modify values on the metadata object as is needed, including Maqetta-specific property metadata such as what is needed here.

[2012-04-05 17:58] JonFerraiolo commented on #1121
Wait, declarative is better than procedural. Maybe we could provide a metadata mixin mechanism within packages.json/widgets.json, which under the hood would end up invoking dojo.mixin. This would allow adding Maqetta-specific things to the OAM data.

[2012-04-05 18:06] doronrosenberg commented on #1121
The benefit of doing it in JS is that it can do more, but right now there isn't a need for more than doing a mixin.

A more complex example could be metadata processing based on which mobile device is set.  Perhaps different properties depending if a tablet is chosen vs a mobile phone.  I believe there is a bug to disable width/height on mobile Views if we are in flow layout which would be another

[2012-04-05 18:22] JonFerraiolo commented on #1121
Yes, whatever we do, we should architect things so that there is a mechanism to invoke a JavaScript helper for the reasons you say above.

[2012-04-05 19:12] doronrosenberg commented on #1121
Proposal:

`metadataPostProcess` - helper method that gets called **once** when the metadata is first loaded from the OAM file.

`propertyPostProcess` - helper method that gets called **every time** a property is displayed in the properties palette.  Allows for dynamic changes before the property data is processed.

Entry in packages/widgets.json called oamOverride that gets mixed in into the OAM

[2012-04-05 19:42] JonFerraiolo commented on #1231
Won't need a custom cursor. Just set `cursor:copy`. But in addition, need to change to `cursor:move` during move operation if option key is not down.

[2012-04-05 19:45] billreed63 opened #2057 "CSSParse displays ERROR: expecting ':' when parsing inline image"
If the CSS file has the following code I set the above error message in the console

[code]

[2012-04-05 20:03] jhpedemonte commented on #1121
I'd prefer to do this in a **declarative** fashion.  Something like this, if generic enough, could also be used elsewhere -- don't we have another area where we want to display a drop down (instead of a text area) based on the widgets on the page?

Also, a declarative approach makes it easier for other developers to use.

[2012-04-05 20:24] doronrosenberg commented on #1121
That would be the .json change for packages/widgets.json, which would mixin with the OAM json.  We could easily push the JS stuff into another issue in case we ever need more powerful functionality and keep this issue to using declarative changes.

[2012-04-05 20:42] jhpedemonte commented on #2028
Is this the same as #2032?

[2012-04-05 20:43] jhpedemonte commented on #2057
This might be the same as #1241.

[2012-04-05 22:28] doronrosenberg commented on #1121
Turns out packages/widgets.json already supports mixing in metadata into the OAM data using the "metadata" property.

[2012-04-05 22:40] JonFerraiolo commented on #1121
Good catch! Was added by @jhpedemonte in this commit: https://github.com/maqetta/maqetta/commit/256aaee168d757874cb20798e125c96bebb47556#davinci.dojo_1_7/WebContent/metadata/widgets.json

[2012-04-05 22:42] JonFerraiolo commented on #2032
Merging #2028 into this bug:

@childsb

Dartas reports that sometimes background-image urls are placed into HTML files with unescaped single quotes, which causes a runtime error because the url() is inside of another single quote. This problem seems to occur only when changing background-image to different values for different states.

[2012-04-05 22:42] JonFerraiolo commented on #2028
Closing. Dupe of #2032

[2012-04-05 22:42] #2028 closed, assigned to JonFerraiolo

[2012-04-05 23:41] JonFerraiolo commented on #2057
I'm not sure about #1241, but in this case I can see why our code falls short. Here is the current logic in CSSParser.js:

[code]

Notice that the `while` statement keeps grabbing tokens until it encounters a a `;` or `}` character, but the base64 syntax allows a `;` inside. Browsers must have special case parsing logic for the url() case to deal with base64 content where the url content keeps goi

[2012-04-06 13:12] jhpedemonte commented on #1121
Hey-oh!  I knew I was good for something!

[2012-04-06 14:45] rbackhouse opened #2058 "AMD Compliance in a couple of modules"
I have been attempting to get maqetta loading with another AMD loader and ran into a couple of modules that are not AMD compliant :

/maqetta.core.client/WebContent/davinci/maqetta/States.js

It has no "define" call. Instead it has a global "require" call. Simply changing the "require" to "define" should be sufficient. Note the global "require" is not an AMD spec'd requirement.

/maqetta.core.clie

[2012-04-06 14:53] JonFerraiolo commented on #2058
-> @peller M6/High

[2012-04-06 15:23] JonFerraiolo opened #2059 "Repeat last "add widget" or "last operation""
(Low priority)

If you need multiple widgets of a particular type, it would be nice if there was a way to add the first widget and then issue a command (via shortcut key or toolbar icon or something else that can be done in a single gesture) to repeat that add widget operation.

Alternatively, maybe we could generalize this into a "repeat last operation" feature, which could support both "last add

[2012-04-06 16:02] peller commented on #2059
why not just copy/paste?

[2012-04-06 16:17] JonFerraiolo commented on #2059
Low priority because user could indeed combine existing operations. We are talking about accelerators for advanced users. For example, suppose you have a row of 20 similar widgets (e.g., buttons with a DIV where the DIV is some sort of custom-built toolbar). @jhpedemonte said it is a drag to drag/drop 20 copies from Widget palette. However, we pointed out that user could either copy then paste 20

[2012-04-06 16:17] childsb commented on #1670
checkin #8712df9 broke the publish command (Runtime.publish is not defined)

[2012-04-06 16:18] peller commented on #2058
States.js was converted to use AMD on a branch: 332f77d8469fc51a5067936cb46784c7cb48dbc5  Will land on master soon.

[2012-04-06 16:28] JonFerraiolo commented on #2024
Fixed by this commit: 0dc74f6abe

[2012-04-06 16:28] #2024 closed, assigned to JonFerraiolo

[2012-04-06 16:40] JonFerraiolo opened #2060 "States and Dojo Mobile Views working together"
See this thread for one user's use of States and Dojo Mobile Views together, and why he chose to go that route:

http://groups.google.com/group/maqetta-users/browse_thread/thread/d1b9d5e76c434759

Anyway, it has always been the intent that we will provide solid support for combining application states with Dojo Mobile Views and any other similar library-specific screen management mechanism.

[2012-04-06 16:43] JonFerraiolo commented on #2060
Oops, dupe of #1547

[2012-04-06 16:43] #2060 closed, assigned to JonFerraiolo

[2012-04-06 16:43] JonFerraiolo commented on #1547
See this thread for one user's use of States and Dojo Mobile Views together, and why he chose to go that route:

http://groups.google.com/group/maqetta-users/browse_thread/thread/d1b9d5e76c434759

Anyway, it has always been the intent that we will provide solid support for combining application states with Dojo Mobile Views and any other similar library-specific screen management mechanism.

[2012-04-06 16:44] JonFerraiolo commented on #1302
Seems unlikely the big theme editor changes will happen in time for M6, so will probably push this to M7, but leaving as M6/High for time being.

[2012-04-06 16:50] JonFerraiolo commented on #1545
Closing. I made a change late in the M5 cycle (f215b5c146 ) to set preserveAspectRatio to none for clipart widgets. Previously, the default SVG option of preserving aspect ratio was in place. With preserve aspect ratio set to true, it was possible to see extra cruft on clipart if the user resized the widget such that width/height didn't match the original aspect ratio. Now, with preserveAspectRati

[2012-04-06 16:50] #1545 closed, assigned to JonFerraiolo

[2012-04-06 16:51] JonFerraiolo commented on #1153
Not going to happen with M6, pushing to M7.

[2012-04-06 17:14] peller commented on #1670
see my notes on the publish method (now on Workbench?)  It should just go away entirely.

[2012-04-06 18:55] JonFerraiolo opened #2061 "Cleanup: merge PageEditor.js and VisualEditor.js?"
@peller, @jhpedemonte, @billreed63, @childsb

(Low priority)

It looks to me like we have unnecessary layering in our code. We have VisualEditor.js inheriting from PageEditor.js, but nothing else inherits from PageEditor.js. It seems like we could remove PageEditor.js and move its logic into VisualEditor.js, and as a result simplify our code somewhat.

[2012-04-06 22:29] #1857 closed, assigned to JonFerraiolo

[2012-04-09 03:36] peller opened #2062 "Remove script tag for States.js, replace with require"
consequently, Dojo 'nano' will always be loaded on the user's page

see #1337 for States refactor

@jhpedemonte

[2012-04-09 03:37] peller opened #2063 "Share maqetta/* runtime sources on client and server"
remove maqetta/\* directory from server plugin.  Share single source from maqetta.core.client

see #1337 states refactor

@childsb, @JonFerraiolo

[2012-04-09 03:38] peller commented on #2063
maqetta.js and States.js

Perhaps these files should be moved from davinci/maqetta/\* to maqetta/\* ?

[2012-04-09 15:47] childsb opened #2064 "UserActivityMonitor errors if server unreachable"
1) Launch maqetta (from eclipse is easier to reproduce the bug)
2) login into maqetta with FF with firebug enabled and break on error.
3) kill the server

you'll break on a "result is null" error.  i assume if you dont have "break on error" enabled, you'll just see "result is null" in the console a lot.

[2012-04-09 16:47] #1121 closed, assigned to doronrosenberg

[2012-04-09 17:07] doronrosenberg commented on #1876
We could add a metadata override called `mustHaveAncestor` which lists required ancestor classes in an array.  If not found, the property gets disabled.  this would get checked every time the widget props are rendered obviously, sound good?

[2012-04-09 18:04] JonFerraiolo commented on #1876
Sounds like a good solution to me.

[2012-04-09 20:32] #1876 closed, assigned to doronrosenberg

[2012-04-09 20:34] doronrosenberg opened #2065 "Adding Switch throws js error"
Could not expand path at Switch_1
http://192.168.1.122:8081/maqetta/app/dojo/_base/Deferred.js?@revision@
Line 216

[2012-04-09 20:42] JonFerraiolo commented on #2065
-> @peller M6/High

[2012-04-09 20:45] doronrosenberg commented on #2065
Feel free to throw it my way if busy.

[2012-04-09 21:04] doronrosenberg commented on #1992
Right now indicators can be dropped in as children.  Each indicator (say a line in the Analog gauge) gets a visible input field where you can change the indicator value and clicking on it shows properties for that indicator.  The input field also still shows during preview.

Is this what we want to do UI wise?  Or would a fancier version where indicators are managed via the inline editor work bett

[2012-04-09 21:24] JonFerraiolo commented on #1992
Sounds like a similar situation to sliders (but I'm not sure, haven't studied gauges enough). Take a look at what @aerwin  did for sliders. IMO, what we have for sliders is a reasonable approach, but we need some additional UI attention on the inline editor UI for sliders. Maybe gauges could use a similar approach, or maybe gauges call for a different approach.

[2012-04-09 21:46] doronrosenberg commented on #2065
Also happening with RadioButton/Checkbox/ToggleButton/TextBox/Slider/SpinWheel and probably more mobile widgets

[2012-04-09 22:10] doronrosenberg commented on #2065
Looks like we are calling _select before the tree node for the new widget has been created.

Tree.selectPath shows only one tree node, which is the root node.  Adding a setTimeout helps in CreateTool, so timing issue

[2012-04-09 23:01] doronrosenberg commented on #2065
@peller @jhpedemonte

Happening because of Context.js::activate does:

[code]

Removing that setTimeout fixes it.

If we keep it, then Context::select should do the following to line 1884.

Change from

[code]

to:

[code]

[2012-04-09 23:21] JonFerraiolo opened #2066 "States not working in this particular case"
- New HTML File - desktop hi-fi page
- Add a DIV, then 3 <label>'s inside the DIV, with text strings 'aaaaaa', 'bbbbbb', 'cccccc'
- Add a DIV, then 3 <button>'s inside the second DIV, with labels 'N', '1', '2'
- Add two states, '1' and '2'
- Set visibility of labels as follows: 'aaaaaa' only visible in Normal state, 'bbbbbb' only visible in '1' state, 'cccccc' only visible in '2' state
- Under eve

[2012-04-09 23:24] peller commented on #2065
setTimeouts are viral.

The line above was put in a timeout to resolve #1573

[2012-04-09 23:41] doronrosenberg commented on #2065
I guess one potential solution would be to do selection lazy - store the selectionChange data and fire that off when onContentChange has finished doing its thing.

In fact onContentChange already kinda supports this, as it calls select() on everything in getSelection - just happens that array is empty.

[2012-04-10 02:30] peller commented on #2013
seems to have been fixed by e0a35a376905c5eca5735ec47539d20b5c577345

[2012-04-10 02:30] #2013 closed, assigned to peller

[2012-04-10 12:57] jhpedemonte commented on #2064
cc @JonFerraiolo

[2012-04-10 13:38] billreed63 commented on #2064
the root cause of this is that dojo.xhr does not publish error when not being able to connect to the server. We have the same failure anytime we can't reach the server. We have an open issue to address this in dojo: #1954

[2012-04-10 15:09] aerwin opened #2067 "Need mechanism for libs to use code from "ancestor" libs"
@jhpedemonte

This is a spin-off from #2034. The summary is from the new gridx plug-in I want to use some modules from the Dojo 1.7 plugin. I was able to make this work running from Eclipse with a relative path. But, then when I run from a build, that relative path fails.

I can keep making gridx progress from Eclipse, but we'll need to resolve this before it will work from builds. So, making prio

[2012-04-10 15:42] aerwin commented on #2034
With the changes under de7b37c85d5fb4cdab85eec729337beea9b078d2 that I just merged into master there is a new gridx plugin that adds a GridX control to the Dojo container in the widget palette that can be dropped onto HTML pages. There is a fair amount of base functionality present in terms of being able to use Smart Input to change the contents of an instance of GridX. But, there are still some o

[2012-04-10 17:02] billreed63 commented on #944
I have spent a good bit of time looking into this, the issue that we have is the logic that clones a theme has several steps. I have found that the browser does not update the UI until the browser thread is released. In the case of theme cloning that means that the user does not see any of the progress messages.
One solution to this issue is to move the cloning theme logic into a webWorker, althou

[2012-04-10 20:27] #944 closed, assigned to billreed63

[2012-04-10 21:49] #2065 closed, assigned to doronrosenberg

[2012-04-11 01:07] doronrosenberg commented on #1794
@jhpedemonte @billreed63

So I figured out why the icon wasn't showing even if you had no label during editing - its a bug where even if label is an empty string the widget uses the label value instead of the icon attribute.  This can be fixed for now using preprocessData.

For the whole ToolbarButton reappearing all the time you clear the label, things get more interesting.  We have "<div label='

[2012-04-11 01:10] doronrosenberg commented on #1794
83c11421cf1ee3e8de29b6e79b704c9ca042abb4-- fixes the icon not showing, not sure if we keep this open for the label issue?

[2012-04-11 04:18] jhpedemonte commented on #2067
(1) In **metadata.js**, in order to load helpers, create tools, etc, we create a **module ID** (namespace) for each library's metadata objects.  This makes it easier to load using AMD.  In the case of the Dojo library, it's module ID is **"maq-metadata-dojo-1.7"**.

So, one easy solution would be to use this module ID in dependent libraries:

[code]

(2) The issue with that approach is that the mo

[2012-04-11 15:24] waynevicknair commented on #1872
the 'supports()' discussion seems orthogonal to identifying an editor. in the places where we test editorID or declaredClass we are trying to determine which _editor_ not which _features_ are present. the declaredClass is definitely the wrong thing to check as this closes the door on OO by introducing a hard dependency. we spent the effort to gain some inversion of control via the plugin metadata;

[2012-04-11 18:56] doronrosenberg commented on #1038
Looks like we have a Helper.getWidgetText() that is called at the right place (Widget.getLabel()), sounds like the right place to  me.

[2012-04-11 19:50] JonFerraiolo commented on #1038
I don't think getWidgetText is the right hook. It looks to me like getWidgetText is restricted to what it says: it gets the widget's innerText/textContent, where a helper can pull in the text. The getLabel() function then surrounds that text with double quotes (using CSS :before and :after with content: property). For ContentPane and regions, I don't think we want double-quotes, and certainly in t

[2012-04-11 20:52] #1038 closed, assigned to doronrosenberg

[2012-04-11 23:53] peller commented on #1394
seems to be fixed with orion-I201204091010

[2012-04-11 23:53] #1394 closed, assigned to peller

[2012-04-12 04:01] aerwin opened #2068 "Build scripts need to init and update submodules after cloning git repository"
@waynevicknair @jhpedemonte @JonFerraiolo @peller

This issue is part of the fall out of adding the new davinci.gridx plug-in (#2034)...

The GridX project is hosted on github (https://github.com/evanhw/gridx) so we made the decision to use git submodules to pull in the GridX code rather than check-in GridX source into the Maqetta repository. The Maqetta build scripts clone the Maqetta repository

[2012-04-12 16:43] doronrosenberg opened #2069 "Changing to source view throws exception, doesn't show anything"
Switching to source view always throws in Firefox windows and the source view never shows up:

[code]

[2012-04-12 16:44] doronrosenberg commented on #2069
Giving to peller as might be related to Orion stuff

[2012-04-12 17:11] doronrosenberg commented on #2069
Seeing on chrome as well

[2012-04-12 18:24] doronrosenberg commented on #2069
So Editor.js does:

[code]

this.contentDiv.firstChild is:

[code]

That node has no contentDocument property set.  If I change it to use ownerDocument, things work again

[2012-04-12 18:33] peller commented on #2069
@billreed63

[2012-04-12 18:40] doronrosenberg commented on #2069
contentDocument is an frame/iframe thing

[2012-04-12 18:41] peller commented on #2069
and firstChild is now a div; perhaps it used to be an iframe?  I don't know why I don't see this error running on lab9 (multiuser) but changing the reference to ownerDocument does seem to be the right thing to do

[2012-04-12 19:20] billreed63 commented on #2069
That does seem like the correct fix.

[2012-04-12 19:22] #2069 closed, assigned to peller

[2012-04-12 20:20] childsb commented on #1872
@waynevicknair why would we want to identify an editor besides determining to turn on or off a specific feature/code path?

Using editor ID and declaredClass are basically the same thing.  We need to abstract the functionality based conditionally on something other than a 1:1 identity (editorID or declaredClass).

As an example, the theme editor doesn't support cascade functionality.  If we check

[2012-04-12 20:47] JonFerraiolo commented on #1872
I think Brad's right. It seems to me we could use supports() everywhere we use declaredClass or editorID. The downside is that we will have a long list of strings that we regularly change within all of the supports() functions.

[2012-04-12 21:47] jhpedemonte opened #2070 "Use of SSL/TLS for SMTP not supported"

[2012-04-12 22:17] #1746 closed, assigned to doronrosenberg

[2012-04-13 00:17] aerwin opened #2071 "GridX: Intermittent problem loading metadata"
@jhpedemonte @JonFerraiolo @peller

This is a spin-off of the GridX work for #2034, but I'm wondering if cross-plugin issues related to #2067 are involved here...

I've noticed this off and on, but thought it was generally always tied to the occurrence of other JS errors. But, now that the GridX support is a little more solid and there are fewer extraneous exceptions, I'm convinced there's a probl

[2012-04-13 11:35] rbackhouse opened #2072 "Eclipse Development Environment Suggestions"
I have a couple of suggestions for making the Eclipse Development environment easier to use/setup.

1) Create an Eclipse targetplatform zip that contains the supported runtime maqetta depends on.

The advantages to doing this are :

a) You can move the thirdparty/binary dependencies (dojo, commons-io, fileupload etc) into the targetplatform and remove them from the git repo.
b) Eclipse Runtime Ver

[2012-04-13 13:25] peller commented on #944
Changing long-running blocking I/O commands to async should solve the problem.  The async callbacks, like a setTimeout, will allow the stack to unwind, and I/O can run cooperatively with the progress UI.

[2012-04-13 13:46] jhpedemonte commented on #2072
cc @childsb @peller @JonFerraiolo

[2012-04-13 15:06] billreed63 commented on #944
The I/O is async, the problem is not I/O blocking it is that the javaScript is  updating the almost every CSSRule in the CSSModle this is CPU intensive and is blocking the browser from updating the UI with progress updates.  I have tried placing progress updates at almost every point in the clone process including in the deferred.then for each file I/O. I have found that the UI is not updated unti

[2012-04-13 15:45] JonFerraiolo commented on #247
Reassigning -> @doronrosenberg

[2012-04-13 15:57] JonFerraiolo opened #2073 "'id' attribute should validate, perhaps provide popup showing existing IDs"
Low priority, and definitely lower priority than #247 (which is similar feature for 'class'). Just logging this bug for completeness.

For 'id' attribute, what I think would be nice if there was some UI where a user could see the list of IDs that are currently in the document. Since IDs have to be unique, a ComboBox approach works for 'class' but not for 'id'. What I'm thinking is maybe put a butt

[2012-04-13 16:19] JonFerraiolo commented on #1475
-> @doronrosenberg

[2012-04-13 16:19] JonFerraiolo commented on #189
-> @doronrosenberg

[2012-04-13 16:49] aerwin commented on #1859
@childsb @JonFerraiolo

I talked with @childsb and as part of other work he was doing for Orion in M6 - Sprint 1, he's done the important pieces of this item. Orion is not dependent on anything else related to this work item.

However, @childsb was not able to eliminate the .review directory entirely because of work I did in M5 under #360 so users could see both reviews they've created and reviews

[2012-04-13 16:49] #1859 closed, assigned to aerwin

[2012-04-13 17:34] peller commented on #944
if the computational JS is really that expensive, batching it in pieces with settimeout might not be a bad idea.

[2012-04-13 17:57] doronrosenberg commented on #775
@jhpedemonte mockup makes the most sense.  Editing text is usually troublesome for less technical folks

[2012-04-13 18:22] billreed63 opened #2074 "Properties palette should support title for combo options"
The properties palette should display a title value in the combo box option if it is specified in the metaData

[code]

[2012-04-13 18:25] #2074 closed, assigned to billreed63

[2012-04-13 18:33] doronrosenberg commented on #247
So the list would just include classes already being used in the document using className="", not all available classes right?

[2012-04-13 19:00] aerwin commented on #2012
@JonFerraiolo Are you still seeing this? I can't replicate in my local environment.

[2012-04-13 19:10] billreed63 opened #2075 "Theme editor should simulate browser states :hover"
We need a way to simulate browser states in the theme editor for example

[code]

At runtime the user moves the mouse over the link and the browser adds the browser state :hover, finds the correct styling rule.
What we are doing in the theme editor is making hover a static state. the user selects the "hover" from the states palette and we then apply the correct styling to each widget in the theme

[2012-04-13 19:16] billreed63 commented on #2075
Maybe if we looked at the widget metadata and the selector have has a browser state like :hover we could
find that CSSRule and add a runtime selector for example

if we have the rule

[code]

We could modify the rule to

[code]

And then add the ``.maqHover` to the widget in the theme editor to simulate the browser state

[2012-04-13 20:06] doronrosenberg opened #2076 "Heading moveto property not set all the time when changed"

[2012-04-13 20:08] JonFerraiolo commented on #2012
reassigning to me to test and make sure this has gone away

[2012-04-13 20:20] doronrosenberg opened #2077 "In Source view, increase window width - design view starts peeking through"
Go into source view and increase the window width - the design view will start peeking through in the left.

[2012-04-13 20:26] JonFerraiolo commented on #2075
Yes, I believe the .maqHover approach you outline above is the only visable option.

[2012-04-13 21:07] doronrosenberg opened #2078 "Transition property should be a dropdown"
transition  String  “slide”

A type of animated transition effect. You can choose from the standard transition types, “slide”, “fade”, “flip”, or from the extended transition types, “cover”, “coverv”, “dissolve”, “reveal”, “revealv”, “scaleIn”, “scaleOut”, “slidev”, “swirl”, “zoomIn”, “zoomOut”. If “none” is specified, transition occurs immediately without animation.

[2012-04-13 21:38] JonFerraiolo commented on #247
I think this is what you said, but to be clear, the effect should be to only show classes that appear in the HTML file's source. If a file looks like this:

[code]

then the dropdown should show `myclass1` and `myclass2`, and should not show any of the dojo classes (e.g., dijitButton).

[2012-04-13 21:53] doronrosenberg commented on #2076
This seems to be a dijit.form.ComboBox issue where onChange is not always firing when you change selection.  Seen on Firefox/Chrome.

@peller ever heard of something similar?

[2012-04-13 21:57] billreed63 opened #2079 "dojox.mobile.ComboBox popup menu not displayed"
When a dojox.mobile.ComboBox is nested in a div element with absolute position the popup combo list is hidden

[code]

[2012-04-13 22:01] billreed63 commented on #2079
When we change the position of the div to absolute we set the z-index to 9999, dojo creates the popup menu for the combobox and attaches the popup menu to the body with a z-index of 1000 so the popup menu is hidden by the div (note that the background-color of the div is set to white)

[2012-04-13 22:28] JonFerraiolo commented on #2079
Reassigning to me.

I changed my preference for z-index for absolute widgets from 9999 to 999, and now I see that the ComboBox appears above the DIV. I had set the default to 9999 because I wanted to be above all of the dojox.mobile widgets, but maybe I didn't think things through correclty and chose the wrong default value and instead should have picked a number under the z-index that dojox.mobil

[2012-04-13 23:31] JonFerraiolo opened #2080 "Mobile silhouette rotation broken in Chrome 19"
The silhouette isn't rotating on Chrome19. The iframe resizes, but the SVG silhouette doesn't do its 90 degree rotation.

I have a fix. Just need to create a updated Preview 5.0.1 build

[2012-04-13 23:32] JonFerraiolo commented on #2080
@waynevicknair, @childsb, @billreed63, @jhpedemonte

[2012-04-14 08:35] Chaz6 opened #2081 "Maqetta demo does not work in Qupzilla (Qt/WebKit)"
Maqetta runs on Chrome and Safari which use WebKit, but it does not work in Qupzilla which also uses WebKit.

Qupzilla is a free and open source browser available from http://www.qupzilla.com/.

[2012-04-14 20:30] JonFerraiolo opened #2082 "Shapes style, move, resize can't be applied to current state"
Shapes don't store size and location information in CSS. As a result, they can't leverage the existing states logic for size information for HTML/Dojo widgets, which store their size and location information within CSS properties.

One way to fix would be to tack on shape-specific, state-specific information onto `node.states[currentState].shapes` as a parallel to `node.states[currentState].style`

[2012-04-15 03:27] peller commented on #1337
fixed by 6bae0ed64f843abc9d5c3446540b79230498c664

[2012-04-15 03:27] #1337 closed, assigned to peller

[2012-04-15 03:28] #2058 closed, assigned to peller

[2012-04-15 22:01] JonFerraiolo commented on #2066
Working now in branch StatesCleanup1

[2012-04-15 22:03] JonFerraiolo commented on #2053
Fixed in StatesCleanup1 branch.

[2012-04-15 22:22] JonFerraiolo commented on #909
Fixed in branch StatesCleanup1

[2012-04-15 22:26] JonFerraiolo commented on #578
Changing to Priority Low. I've gone through the code carefully and I fully grasp what's going on. The code is set up to always have an undefined value whenever in the Normal state, which (by programming accident long ago) creates a 'undefined' property on the states object. I went through the code and made sure everything is consistent and correct with this technique.

Next step is to replace `sta

[2012-04-15 22:37] JonFerraiolo commented on #7
@JohnHart  I couldn't reproduce this bug with our latest release (Preview5), so I'm closing this. Maybe we fixed bugs in the meantime. If you have the inclination, could you please try to reproduce with the latest release running on Maqetta.org? If you can reproduce, could you please copy/paste the source code for the file that doesn't work into this bug report? To get the source code, click on th

[2012-04-15 22:37] #7 closed, assigned to JonFerraiolo

[2012-04-15 22:39] JonFerraiolo commented on #2062
Assigning to @peller so this doesn't fall through cracks.

[2012-04-15 22:47] JonFerraiolo commented on #739
Probably won't be able to get to this in M6.

The probably trick for making this work is the following:
- Under the hood, extend the `states[statename]` property from just having a `style` property to also having a `props` property, and then put state-specific overrides for the widget-specific properties into that.
- Change syntax for dvStates attribute such that it has holds both the `style` and

[2012-04-15 23:04] peller commented on #2062
And it had. Fixed with #1337

[2012-04-15 23:04] #2062 closed, assigned to peller

[2012-04-15 23:08] JonFerraiolo commented on #1835
@jhpedemonte
The problem with this bug appears to be that there are no dojo widgets on the page, so the SCRIPT tag for dojo isn't there, so `require` isn't there, so we never run the dojo parser, so we never run _preserveStates and _restoreStates. If I add any dojo widget to the page, then the label will properly appear/disappear (or at least it does so in my StatesCleanup1 branch).

Assigning to

[2012-04-15 23:09] JonFerraiolo commented on #52
Appears to be fixed in StatesCleanup1 branch.

[2012-04-15 23:10] JonFerraiolo commented on #2082
Fixed in branch StatesCleanup1

[2012-04-16 03:19] JonFerraiolo opened #2083 "Restore overlay widget logic in States.js"
@peller
In branch StatesCleanup1, I have temporarily commented out some logic from the bottom of States.js that deals with overlay widgets. This issue is a reminder to restore that logic.

[2012-04-16 03:40] peller commented on #2083
changeset?

[2012-04-16 13:53] JonFerraiolo commented on #2083
Overlay widget logic in States.js was commented out in this commit https://github.com/maqetta/maqetta/commit/c2b0c42b9dbdd8aa8780a2e174169771f95acd50#diff-1 which is currently only in this branch https://github.com/maqetta/maqetta/commits/StatesCleanup1. I hope to merge into master today or tomorrow.

[2012-04-16 15:19] childsb opened #2084 "fix cookies from R&C"
after removing the review servlet, we need to revisit the milestone 5 cookies we put in and see if they're still needed.

[2012-04-16 15:26] peller opened #2085 "M6 Migration: states.js script tag needs to be converted to require()"
see #1337

[2012-04-16 15:27] peller commented on #2085
we still need to decide whether to rename the file and combine with maqetta.js

[2012-04-16 16:01] JonFerraiolo opened #2086 "OAM files shouldn't have maqetta dependencies (eg BODY dependent on dojo and states.js)"
@peller
Set to Prio High just so that this gets looked at in short-term. The actual fix is likely lower priority.

See discussion in https://github.com/maqetta/maqetta/commit/6bae0ed64f843abc9d5c3446540b79230498c664#commitcomment-1212926

[2012-04-16 16:58] jhpedemonte opened #2087 "Create a sample file for a mobile app"
We should create a sample file that shows off our mobile web app support, with a device silhouette.  Should show off states (scenes? or equivalent for mobile).

Assigning to Jon for now, but could be taken by anyone.

@doronrosenberg

[2012-04-16 17:29] billreed63 opened #2088 "The user should be able to create/save review list"
The user should be able to create save and use reviews lists when inviting uses to review.

I would like to be able to create a list and add user1 and user2 to the list. then save the list as "my reviews list1" then when I create a review I would like to use that list as the people to be invited to the review.

The user should be able to create/save/edit/remove as many lists as they desire.

[2012-04-16 18:16] doronrosenberg commented on #247
The tricky part is that we want to exclude anything on the body.

[2012-04-16 18:28] peller commented on #1835
works now

[2012-04-16 18:28] #1835 closed, assigned to peller

[2012-04-16 18:36] JonFerraiolo commented on #247
@doronrosenberg  Have you thought about traversing the model for the list of class names instead of traversing the currently loaded HTML document (i.e., the doc showing in the iframe). The model should only show the classes that the user has defined.

@jhpedemonte

[2012-04-16 18:40] doronrosenberg commented on #247
@JonFerraiolo That is what I am doing, using visit() on the model.  The model though still has the body tag in it with the claro class for example.

[2012-04-16 19:06] peller commented on #2045
the state change triggers /davinci/states/state/changed which triggers /davinci/states/state/changed/end which triggers a refresh() in VisualEditorOutline...

[2012-04-16 19:29] doronrosenberg opened #2089 "Manually added style rules doesn't apply in design mode"
@JonFerraiolo @peller @jhpedemonte

If I add this using source editor:

[code]

None of those custom defined styles rules are applied when in design mode, even if I reload the html page.  They only show up correctly when previewed.

I couldn't find any existing bug for this, but my search skills are quite lacking.

[2012-04-16 19:32] JonFerraiolo opened #2090 "Backwards text when typing into source view"
@waynevicknair

Running Mac/Chrome:
- New HTML file - iphone
- Go to full source view
- Replace source contents with the content provided below
- Go to split view (design on top, source on bottom)
- For the first TabBarButton (with label of 'aaa'), attempt to type 'goto ' before 'aaa', with goal that the TabBarButton's label will be 'goto aaa' instead of 'aaa'

Result=> label says 'otogaaa' instea

[2012-04-16 19:33] doronrosenberg commented on #2089
Also should add: setting the class names using the properties panel also doesn't apply the style rules

[2012-04-16 19:38] #247 closed, assigned to doronrosenberg

[2012-04-16 19:40] doronrosenberg commented on #2078
@jhpedemonte sound good?

[2012-04-16 19:45] billreed63 commented on #2066
States not working as expected,
in normal state the selection div and the popup are hidden
popup_state the selection div is displayed and the pop_div is displayed.

It seems to work in the designer but not is the preview

[code]

[2012-04-16 19:47] JonFerraiolo commented on #2045
If you want to reassign to me, that would be find. I'm all up to my armpits with /davinci/states/state/changed

[2012-04-16 20:15] JonFerraiolo opened #2091 "Can't put R/C annotations on a SwapView"
If you attempt to drag out an annotation on top of a SwapView, the SwapView intercepts the mouse event and attempts to process a swipe gesture.

Need to put an overlay DIV over canvas when creating or editing annotations.

[2012-04-16 20:56] waynevicknair opened #2092 "Integrate OneUI Widget into Maqetta"
the oneUI team has a header widget that they want to be the standard header for all future IBM web apps. the maqetta team has agreed to replace the maqetta toolbar with the oneUI header widget.

[2012-04-16 21:00] JonFerraiolo opened #2093 "Exception with cascade if HTML file is in nested folder"
@childsb

When testing Preview501, I played with cascade logic in combination with nested folders, and ran into an exception. Steps to reproduce:
- New HTML File - hi-fi page - but put it into a subfolder (eg folder1/)
- Add a Dijit Button
- Open up cascade for 'width'
- Type 'aaa' into class name for the Button - cascade list now shows a proposed new style rule for class 'aaa'
- Click-select on t

[2012-04-16 22:45] #52 closed, assigned to JonFerraiolo

[2012-04-16 22:45] #909 closed, assigned to JonFerraiolo

[2012-04-16 22:45] #2053 closed, assigned to JonFerraiolo

[2012-04-16 22:45] #2066 closed, assigned to JonFerraiolo

[2012-04-16 22:45] #2082 closed, assigned to JonFerraiolo

[2012-04-16 23:09] JonFerraiolo opened #2094 "States-related code cleanups"
Various code cleanups that weren't yet finished when I merged branch StatesCleanup1 into master with commit https://github.com/maqetta/maqetta/commit/936b248b6c49c8c1e5d0275df535e5ffe8163f8f :
- Context.js: Review commented out code for currentStateCache and maybe remove
- There are redundant/duplicated utility functions at the bottom of StyleCommand, ResizeCommand and MoveCommand. Maybe create a

[2012-04-16 23:41] JonFerraiolo opened #2095 "Sample.html doesn't work with Preview in Browser"
@jhpedemonte @waynevicknair

Since this commit (6bae0ed64f) which converted States.js to use AMD, Sample1.html no longer works with Preview in Browser. I expect this is because the old Sample1.html files had this in their headers:

[code]

whereas newly created files now have this in their headers:

[code]

So what are we going to do? Are we going to have to migrate all user HTML files? This is no

[2012-04-16 23:48] JonFerraiolo commented on #2092
Closing, moved to IBM issue tracker because this is an IBM issue, not an open source issue.

[2012-04-16 23:48] #2092 closed, assigned to nobody

[2012-04-17 02:15] peller commented on #2095
see #2085

[2012-04-17 02:16] peller commented on #2095
We're talking about renaming the new module anyhow.  I suppose we could leave the old States.js around (but still migrate as many files as we can)

[2012-04-17 02:18] peller commented on #2045
It's not the states events so much as the refresh() call, which was always a kludge.  Trees are supposed to be data-driven.

[2012-04-17 03:18] jhpedemonte commented on #2095
Or, this is an opportunity for adding migration code when loading a workspace:
1. Check version of Maqetta which last opened workspace.
2. If old (currently running 0.6, but workspace last opened by 0.5) then call migration code.
3. Migration code (in this case) changes the _State.js_ includes.
4. Update version in workspace settings files.

[2012-04-17 03:24] JonFerraiolo commented on #2045
I did a "git checkout Preview5", put a breakpoint in the refresh() routine in VisualEditorOutline.js, opened Sample1.html, opened up the first ContentPane in the outline palette, and then changed state in the Scenes palette.

What I see is that the refresh() routine is doing a full refresh of the outline, and the outline temporarily closes, but then it opens up again just like it was before the re

[2012-04-17 03:28] jhpedemonte opened #2096 "Swipe gesture w/ SwapViews doesn't update Scenes in R&C"
The **SwapView** widget allows a swipe gesture for moving between the views.  But that gesture isn't accounted for in our code.

In particular, in R&C, which shows a "live" app, the user can use the swipe gesture.  However, the **Scenes** view isn't updated when the current view changes.  Afterwards, trying to select a new view from **Scenes** doesn't function correctly.

I believe that Dojox Mobi

[2012-04-17 03:29] jhpedemonte commented on #2078
Yes, I agree that this should be a drop down.

Where do the type values come from?  Are they specified in the metadata?

[2012-04-17 03:37] peller commented on #2045
note that in preview 5 there was much flashing and the selection in the tree was lost.  I thought we had removed cookies prior to preview 5, but that's the only way I can see how a tree might preserve its turndown knobs across a refresh.   Best thing here would be to avoid the refresh call (both for changed/setState, but also for command stack execution)  Best way to do that would be to have a mod

[2012-04-17 03:44] peller commented on #2095
I'm -1 on adding special migration code to our codebase, especially at this early stage, unless perhaps the migration code just did a simple round-trip open/save (which, in many cases, I think might do the trick)

[2012-04-17 03:46] peller commented on #2095
nah, still don't think this belongs on the client.

[2012-04-17 03:51] jhpedemonte commented on #2088
cc @JonFerraiolo

Well, this might be a case where we depend on other technologies to handle this stuff, such as an LDAP server that allows such functionality.

[2012-04-17 03:55] jhpedemonte commented on #2084
@waynevicknair

Also, I think at some point we discusses moving them back to "/maqetta" (from M5's "/").

[2012-04-17 04:02] jhpedemonte commented on #2081
Can you please provide more detail about what you mean by "does not work"?

[2012-04-17 04:09] JonFerraiolo commented on #2095
I noticed two separate problems here.

I tried opening Sample1.html in Maqetta page editor and then click on Preview button, and noticed in debugger that there is a duplicate set of require() calls in the version of Sample1.html that is used in Preview, with the second set of require() calls including a require(maqetta/States), which fails with old files because the old SCRIPT tag for dojo.js in t

[2012-04-17 04:13] JonFerraiolo commented on #2088
I believe @billreed63 is saying that there should be a way to create, save and edit user lists, independent of whether the list of users is build with the aid of LDAP (e.g., when running on an intranet) or by simply typing a bunch of email addresses (e.g., maqetta.org). You know, if I'm continually creating reviews for bill@blue.com, javier@blue.com, adam@blue.com, etc., I don't want to have to re

[2012-04-17 12:55] billreed63 commented on #2088
That is what I was thinking, we could do something simple like we do for theme sets. Just give the user an UI where they can create edit these lists of users and just save theme in a settings file as a json object..

[code]

And then just let the user populate the list of emails in the review from a list as well as one at at time.

[2012-04-17 14:48] jhpedemonte commented on #2095
Had a discussion with @peller yesterday, regarding my [previous comment](https://github.com/maqetta/maqetta/issues/2095#issuecomment-5167578).  He correctly pointed out some issues with running such migration code on the client.

However, my comment/algorithm applies just as well to migration code that gets run on server-side.  When a user loads a new version of the Maqetta server, it will notice

[2012-04-17 14:56] jhpedemonte commented on #2073
I'm confused by the summary above:  why would the user want to copy an existing ID?  We're talking about the **ID** field at the top of the **Properties** view, right?  Seems like we would just want to keep it as a text field.

In fact, if anything, we'd probably just want to put some validation code on the text field such that we warn the user if he/she enters an ID that already exists.

[2012-04-17 16:35] JonFerraiolo commented on #2073
Remember, this is low priority. OK to leave as text field for time being.

I agree that we should validate the IDs. In fact, I'll change the title of this issue to reflect that.

Regarding copy/paste, what I was proposing was that we should offer a simple popup that shows the list of IDs already in the document in case the user wants to see existing ID naming patterns in case he wants to create a

[2012-04-17 17:59] JonFerraiolo commented on #2066
@peller

The file that @billreed63 attached doesn't work because of same problem we have with Sample1.html not previewing correctly:

When I changed the HEAD to look like this, then preview started working:

[code]

[2012-04-17 19:05] doronrosenberg commented on #2078
Yeah, we would store them in the oam as they are predefined values.

[2012-04-17 20:29] jhpedemonte opened #2097 "Cannot set linear gradient background in cloned Claro theme"
To reproduce:
1. Clone **claro** theme.
2. Once theme editor opens, select **Global Background and Border**.
3. In **Properties->Background**, select the **...** button next to the **background-color** entry.
4. In the **Background dialog**, do the following:
   - Clear out **background-color**.
   - Select "linear gradient" for **background-image type**.
   - Select "red" for **Stop #2** in the _

[2012-04-17 21:50] JonFerraiolo commented on #2097
Ah, I figured it out part of the problem - in the desktop theme editor, the global widget only supports background-color and various font properties. It doesn't support background-image. Of course, this is obviously inconsistent with mobile theme editor.

I was able to set a linear gradient on a dijit.form.Button using the desktop theme editor, so it's just not implemented as part of the global wi

[2012-04-17 21:55] #2078 closed, assigned to doronrosenberg

[2012-04-17 23:24] doronrosenberg commented on #2076
This seems to only happen the first time you change the value.  After the first time it works fine

[2012-04-18 01:26] doronrosenberg commented on #2076
So we enter _FormValueMixin::_handleOnChange, which calls this.inherited(arguments);

This is supposed to call _FormWidgetMixin::_handleOnChange, but in the error case it does not call it.

[2012-04-18 02:48] JonFerraiolo commented on #1872
@billreed63

OK, I'm flip-flopping on this issue after doing an inventory (see below). My conclusion is that attempting to use `supports()` would be a huge waste of time, and instead I'm thinking in a direction advocated by @waynevicknair where for the short-term we retain our existing checks for particular editors, but just clean up those checks so that we use the same approach in all cases. (For

[2012-04-18 04:39] jhpedemonte commented on #1350
I don't exactly follow your question, Wayne.

After the source is parsed in order to create the model, inline `<script>` elements have an **HTMLText** child.  Now, the question for us is: in order to set the text contents of a inline script element, do we (1) call `setText` on the HTMLText child, or (2) call `setScript` on the HTMLElement script element?

Currently our code does both of those, but

[2012-04-18 05:20] jhpedemonte commented on #1350
Also, how should we be searching for inline script elements in the model?

Currently, we have code like this:

[code]

Is this the right way to do this?  Or should we cycle through elements testing if `elem.script` is defined?

Again, we need consistency here in the model API.

@childsb

[2012-04-18 14:03] jhpedemonte commented on #1750
Committed preliminary fix to branch `1750-one-require-to-rule-them`.  @peller, check it out.

Some issues still remain:
1. I wasn't able to get this working while caching the HTMLElement for the `require` from the model.  When I had code that did that, if I opened the split view (to show VE and source), then source wouldn't update any more when setting text on cached element.  My initial thought w

[2012-04-18 14:23] childsb commented on #1350
element.find is proper way and what i've been trying to convert any model searching to throughout.

the next best option is the visitor pattern.

[2012-04-18 16:53] JonFerraiolo commented on #2054
@jhpedemonte

After some initial study, here are some features that are currently dependent on putting width=height=100%:
- Drag/drop logic needs width=height=100% so that there is a BODY element underneath to be the event.target for widget drag operations. If I turn 100% off in browser debugger, widget drop onto canvas doesn't work. (We could probably reprogram things to work around this. I suspe

[2012-04-18 17:56] billreed63 opened #2098 "Allow user scripts to run in page designer"
Some widget can take a parameter that is a function, the function could be defined in the HTML file, include js file or defined in the parameter `parm="function(){...}"` in some cases like `dojox.grid.DataGrid` the `formatter`  is called by the widget which returns the value to be shown in the cell.  The function needs to be defined so that the widget can be created and the correct rendering of th

[2012-04-18 18:00] childsb opened #2099 "review email should retry on failure"
sometimes the review invitation errors out due to problems with the email relay.

the emails should be auto-retried.  this would involve moving the publish() logic to it's own thread and return from the /cmd/publish before the email is actually sent.

[2012-04-18 18:02] billreed63 commented on #2098
as a work around  keep the widget from throwing a "function not defined" exception in page designer the following code can be added to the widgets helper class. This will replace the function at design time but leave the correct function for runtime.

[code]

[2012-04-18 18:50] peller commented on #2099
let's try to rely on sendmail for this.  In the case where a reliable mail server isn't available, perhaps we should run our own relay on localhost?

There's a related issue where perhaps we should be directing failures from sendmail back to the user somehow.

[2012-04-18 21:02] jhpedemonte commented on #1750
5. Also unresolved is what to do about this line (which gets added when switching mobile themes):

[code]

Options, for now:
- Keep it as its own line, below the "main" `require` array; or
- Find a way to get rid of that inline function.

[2012-04-18 21:14] doronrosenberg commented on #2076
So this isn't a inherited bug after all - for some reason _FormWidgetMixin::_handleOnChange has lastValueReported  as the new value.  Seems to be someone is setting the value before onchange is firing.

[2012-04-18 21:31] jhpedemonte commented on #1750
With latest commits, issues [(2) and (4)](https://github.com/maqetta/maqetta/issues/1750#issuecomment-5199137) are now fixed.

[2012-04-18 22:18] JonFerraiolo commented on #2067
Sorry I'm slow in responding. Maybe this has been resolved, but in case it hasn't, here is another idea.

You know how sometime people set up URLs with symbolic links such that particular versions are stored at `<basedir>/v1.1/` and `<basedir>/v1.2/` and maybe there is the latest version at something like `<basedir>/latest/` which under the hood is a symlink or redirect to the latest version? I wo

[2012-04-18 23:33] #2076 closed, assigned to doronrosenberg

[2012-04-18 23:42] #1956 closed, assigned to JonFerraiolo

[2012-04-19 00:19] jhpedemonte commented on #1750
What are the implications of outputting something like this:

[code]

Will this work correctly?

[2012-04-19 00:25] JonFerraiolo opened #2100 "Can't modify image URL in background dialog"
@childsb

If you bring up Background dialog, choose image, then click on button for file picker, everything works fine - the image appears in the document as the background image for the current widget.

But if you bring up Background dialog a second time, and then modify the background-image url that appears in the dialog, the background-image URL will have incorrect path and no background image

[2012-04-19 11:30] JonFerraiolo commented on #2095
I think I figured out a workaround (at least a sketch of one). I took the latest version of maqetta.core.server/WebContent/project/base/maqetta/States.js and added two lines, one at the top and one at the bottom. At the top I added:

[code]

At the bottom I added:

[code]

With these chances, an old version of Sample1.html works just fine with preview in browser. (And presumably the same thing for

[2012-04-20 00:49] doronrosenberg commented on #1799
I an concur with @JonFerraiolo, the issue is we are hitting an inner node as a target, which has no id and thus AddCommand breaks early.

Would simply walking up the dom tree until we find a widget (I guess perhaps check if the node has an id and check if that is a widget id) work in this case rather than add more helper functionality?

[2012-04-20 00:59] JonFerraiolo opened #2101 "Incorrect URLRewrite logic in ThemeModifier.js"
Prio-High just so @childsb will look at this and respond. Not urgent to fix.

In VisualEditor.js:233, we have this code:

[code]

The `isAbsolute` check seems to be wrong because it appears to be checking against a boolean flag, but instead `isAbsolute` is a function. Therefore, you'd think the statement should be changed from `if(!oldUrl.isAbsolute){` to `if(!oldUrl.isAbsolute()){`, but when I tr

[2012-04-20 01:12] JonFerraiolo opened #2102 "Properties palette should validate values?"
@peller, @childsb, @jhpedemonte

Dojo has nice validation features on text entry fields, so you'd think it would be fairly easy to add field validation to all of the CSS properties in the Properties palette. Just need to create regular expressions, and we have already a number of regular expressions for various CSS properties. In particular:
- davinci/ve/utils/CSSUtils has various regular expressi

[2012-04-20 03:21] JonFerraiolo commented on #1799
Yes, walking up the dom tree looking for container widget sounds like something to try. We already do this sort of thing in various places in the app.

[2012-04-20 04:11] JonFerraiolo opened #2103 "Property palette breadcrumbs show internal values not localized strings"
I screwed up a bit when fixing some of the logic in the Properties palette to key off of an internal key instead of the localized string value, but in the process broke something else. As a result, when you open up the Fonts and Text section, the crumb at the top says "fontsAndText" instead of "Fonts and Text".

[2012-04-20 05:04] #2103 closed, assigned to JonFerraiolo

[2012-04-20 05:31] jhpedemonte opened #2104 "Refactor dojox mobile themeMap code"
The code that handled the **themeMap** for Dojox Mobile is all over the place, in at least 4 files (Theme.js, ChangeThemeCommand.js, Context.js, metadata.js).

This shouldn't be spread out all over our code base.  It should be contained to a single file and hooked in to the rest of the code in an extensible way.

(Not to mention that it shouldn't be in the core in the first place, but rather belon

[2012-04-20 06:07] jhpedemonte commented on #1750
The last commit (e6052562d3a47c6b648400bc18bb0c6f0513a083) fixes [issue (5)](https://github.com/maqetta/maqetta/issues/1750#issuecomment-5208710) by doing what I [outlined above](https://github.com/maqetta/maqetta/issues/1750#issuecomment-5212195).

There's still some other _themeMap_ code that I need to change.  Also, some of the data store code does similar shenanigans.

[2012-04-20 13:19] billreed63 opened #2105 "DataGrid throws exception on latest build"
DataGrid throws exception when attemping to drop DataGrid on canvas.

Stack

[code]

[2012-04-20 14:09] aerwin opened #2106 "Modify libraries fails"
1. Click on Mofidy Libraries button
2. Change lib/dojo to lib/mydojo/dojo and click OK
3. Notice library not moved in Files Palette (only message in console is warning: `davinci.js:45521metadata resource (javascript-module, maqetta/States) does not specify 'library'`)
4. Open Sample1.html and see error in (now) red VE pane:

[code]

And, these errors show up in console:

[code]

[2012-04-20 14:45] billreed63 opened #2107 "Can't remove class from button"
Drag and drop button
Select button in properties->class type "testClass"
Click away
click button
in properties ->class clear comboEdit click away from button
Select button notice the class is still set also the source is still set..

[2012-04-20 14:56] aerwin commented on #331
@JonFerraiolo @billreed63 @jhpedemonte

This is intended to be a sort of a "speclet" in draft form to help organize my thoughts and (hopefully) spur discussion on this feature (both in terms of how we want to scope the work for M6 and in how we  eventually want things to work).

# Introduction/Assumptions

While this feature request was written specifically for setting of column widths, I've been

[2012-04-20 15:10] billreed63 commented on #2107
I also just noticed that I can't assign a class to a newly dropped button

[2012-04-20 15:32] aerwin opened #2108 "R&C: Link in invitation fails"
I'm on a server without e-mail, so I copied the link in the new review dialog and pasted it into my browser bar. The link was ( http://localhost:50000/review/tonyErwin?revieweeuser=tonyErwin&version=20120420112637 ).

When doing so, I see the following in my browser:

[code]

[2012-04-20 15:43] aerwin opened #2109 "Can't successfully open Sample1.html in review editor"
1. Create review containing Sample1.html
2. Double-click on Sample1.html.rev from Review tab
3. See partial rendering of page and following error in console:

[code]

[2012-04-20 15:50] aerwin commented on #2109
And, when I open up Sample1.html.rev as another user, there's no rendering and a different set of errors:

[code]

[2012-04-20 16:17] JonFerraiolo commented on #2109
I suspect this is the same problem as #2095

[2012-04-20 17:12] aerwin opened #2110 "ipad theme doesn't look right"
When working on the mobile theme editor test suite, the iPad theme doesn't look right. I first noticed when cloned iPad theme, but also see the same thing if open original iPad theme directly.

It doesn't look like the background gradients are right when compared to iPhone:

iPad theme:
![iPad theme](http://i.imgur.com/2SJK3.png)

iPhone theme:
![iPhone theme](http://i.imgur.com/wygdI.png)

[2012-04-20 17:28] aerwin commented on #2097
@JonFerraiolo @jhpedemonte

I see this is happening for all of the mobile themes as well.

[2012-04-20 17:49] aerwin opened #2111 "Theme Editor: Selection and Props Palette Behaving Strangely"
After cloning a mobile theme (such as iphone), I'm seeing a lot of strange behavior with selection and updating of the props palette making it very difficult to make progress:
- Some widgets (like Heading) through an exception when selected:

[code]
- Selecting some widgets (like Button) shows wrong information (refreshed page to ensure not caused by previous exception). Note Button selected in sc

[2012-04-20 17:58] aerwin commented on #2111
There's also a whole lot of inconsistency in terms of whether making changes to the Props palette are reflected immediately. In a many cases, I have to reload the page to get the theme editor to update.

[2012-04-20 18:02] billreed63 commented on #2110
theme Ipad theme is different from the iPhone theme. for ipad the some of the selectors are overloaded by ipad.css.

So the theme is correct

[2012-04-20 18:02] #2110 closed, assigned to billreed63

[2012-04-20 18:11] aerwin commented on #2110
Hmmm... yeah, guess you're right. Sorry about that... guess I never noticed the subtle difference when doing theme editing testing in the past. :)

[2012-04-20 18:20] JonFerraiolo opened #2112 "Gradient problems with mobile theme editors"
@billreed63 @aerwin

With lastest code, gradients on mobile themes are having problems. I have to investigate more thoroughly to characterize what exactly is wrong, but it's looking like the the updateCascadeList logic (which populates the text entry fields in the Properties palette) sometimes isn't picking up existing gradient definitions from the mobile themes.

[2012-04-20 18:21] JonFerraiolo commented on #2097
I'm splitting off the mobile theme editor gradient problem into a separate issue: #2112

[2012-04-20 18:22] JonFerraiolo commented on #2112
This is probably a dupe of #2111, but leaving this open until certain it is a dupe.

[2012-04-20 18:24] JonFerraiolo commented on #2111
I'm guessing these regressions are a result of my changes to States.js. The 'rootNode'  being null is what makes me suspicious. You see, with States.js and application states, I changed everything to use nodes instead of widgets, and therefore rootNode instead of rootWidget.

[2012-04-20 18:32] #2111 closed, assigned to JonFerraiolo

[2012-04-20 18:32] #2112 closed, assigned to JonFerraiolo

[2012-04-20 18:41] doronrosenberg commented on #2107
@JonFerraiolo @jhpedemonte

I don't think this is a regression actually.  If you click away from the button into the canvas on maqetta.org, the same thing happens.  Same issue occurs with the id input for me, which hasn't changed.  If you click away into an area that is not the canvas it works correctly.

The issue is that once you click away, this._widget is nulled out by onWidgetSelectionChange,

[2012-04-20 19:50] JonFerraiolo commented on #2107
@childsb

@doronrosenberg is right - we've had this usability issue forever. Assigning to me to try to fix. Maybe @doronrosenberg has already sketched out the fix and it's a matter of making certain things happen in a slightly different order.

One more thing - assigning to me because the Property palette stuff sometimes is hugely complicated with major learning curve.

[2012-04-20 20:05] doronrosenberg commented on #2107
I don't think we can change the event ordering here easily.  More likely we would have to pass in the affected widget reference through in each onChange handler.  The question is if this should wait if we are going to redo the property palette in the near future anyways and make sure we correctly handle this case

[2012-04-20 20:30] doronrosenberg commented on #1799
@JonFerraiolo

So the real issue I think is that ListItem has in Outline an `<a>` child which then has a `<div>` in it.  Select say the `<a>` in outline throws:

[code]

And in all the chooseParent code, those 2 nodes are marked as isWidget true.  If I understand it correctly, that `<a>` node and its children should not appear in the Outline, correct?

[2012-04-20 22:04] JonFerraiolo commented on #1799
In debugger, I see this:

[code]

What I think we want to have happen is:
- Outline palette only shows things that Maqetta treats as widgets. Therefore, with a ListItem that has only text content, Outline palette shows no children for ListItem
- Text content for ListItem isn't a widget, but can be edited via SmartInput, and can contain rich HTML markup (e.g., this is <b>bold</b>)
- But if user add

[2012-04-20 22:05] JonFerraiolo commented on #2107
You might be right, but I'll take a look at this and see if there is a relatively easy and safe fix for time being.

[2012-04-20 22:19] doronrosenberg commented on #1799
[code]

translates to:

[code]

[2012-04-20 22:21] doronrosenberg commented on #1799
So I think the dnd code is working fine, just need to get rid of that HTMLWidget class I think.

[2012-04-20 23:22] JonFerraiolo commented on #1799
Yes, agree that we need to get rid of HTMLWidget stuff.

But given that widgets get added as content inside of DIV.mblListItemTextBox, _maybe_ we should treat the DIV.mblListItemTextBox as a widget. That should allow widgets to be dropped before and after the TextBox, with the blinking cursor showing where the new widget would be added. That would mean defining widget metadata for DIV.mblListItemT

[2012-04-21 00:16] doronrosenberg commented on #1799
Hmm, where would all this HTMLWidget creating occur? I can't find the code where we build the model where we would be adding the <a> widget and children.

[2012-04-21 00:46] JonFerraiolo commented on #1799
I would put a break point in createWidget within widget.js and see if it gets called recursively when creating a ListItem. I don't remember the details, but maybe put a breakpoint in _processWidgets in Context.js.

[2012-04-21 04:27] peller commented on #1799
IIRC, it all happens in a method inappropriately named 'getWidget' (that is, it has side-effects of actually creating a structure)  See davinci/ve/widget.js  Context._attachChildren iterates through the dom calling getWidget and attach on the results.

[2012-04-22 03:07] #2032 closed, assigned to JonFerraiolo

[2012-04-22 03:07] #2100 closed, assigned to JonFerraiolo

[2012-04-22 03:07] #1923 closed, assigned to childsb

[2012-04-22 04:07] JonFerraiolo opened #2113 "CSS url() functions cleanups with SaveAs"
RIght now we clean up URLs in the HEAD when saving files into different folders, but we don't yet clean up the URLs within CSS url() functions within element.style, such as `style='background-image:url(SampleBanner.jpg)'`.

[2012-04-22 04:32] peller commented on #2095
short of providing a script to migrate files on the user's machine, we could tell them that existing content will only work after a load/save cycle.  Renaming the maqetta/States.js file would solve the script include problem without making it necessary to remove the script tag (it will just result in a 404 if not cleaned up)  Then, we would just need to make sure that the 'maqetta' packages settin

[2012-04-23 14:39] #1811 closed, assigned to billreed63

[2012-04-23 18:11] peller commented on #1721
I just saw this on my console, running single user in Eclipse.  Line 76 in doPut reads:

[code]

[code]

[2012-04-23 18:49] billreed63 commented on #23
Do we still want to copy the theme to the users workspace and allow the user to chose between modifying the theme or adding a new rule, or should we just find the rule in the base theme and create a new rule in the delta file?

[2012-04-23 19:31] JonFerraiolo commented on #23
The ideal scenario would be that "claro2" (derivative of claro) would consist of:
- claro2.theme
- claro2.css, which contains an @import for claro.css (which is preserved intact), and override rules over claro

If a user then creates a claro3 that is derivative of claro2, then claro3 would consist of
- claro3.theme
- claro3.css, which contains an @import for claro2.css, and override rules over cla

[2012-04-23 20:34] JonFerraiolo opened #2114 "gmail treats Maqetta.org invitations as spam"
@childsb @jhpedemonte @aerwin @peller

One of our users has reported that a review invitation didn't get to his gmail account, so I checked with @waynevicknair who said:

So I tried inviting myself (using my gmail account) to a review and discovered, yes, gmail put the invitation into the Spam folder. Here are the steps I took to fix my gmail account to accept review invitation from maqetta.org:
-

[2012-04-23 20:54] peller commented on #2114
We will probably never know what Google uses for criteria, but we ought to take a look at software like spam assassin.  Here are the headers I see on my mailer:

X-Spam-Checker-Version: SpamAssassin 3.2.3 (2007-08-08) on
    nibbler.dojotoolkit.com
X-Spam-Level:
X-Spam-Status: No, score=0.8 required=5.0 tests=BAYES_00,HTML_MESSAGE,
    MIME_HTML_ONLY,RDNS_NONE,WEIRD_PORT autolearn=no version=3.2.3

[2012-04-24 17:55] doronrosenberg commented on #1799
I was over complicating things - because we set allowChild to ANY, the html nodes ListItem generates are being added to the outline and treated as widgets.  Shouldn't we be building the outline based on the model and not the generated DOM?

[2012-04-24 18:26] JonFerraiolo commented on #1799
@jhpedemonte says the same sort of thing (use model instead of canvas's DOM) at least once a week, on a comprehensive basis across the code base, and we have an explicit bug for the Outline palette: #750. I haven't look at the Outline palette recently, but I would guess that it wouldn't be that much work (a few days?) to change that one part of the code, even if we fix others parts later.

Note th

[2012-04-24 18:34] doronrosenberg commented on #1799
this is happening in Context.js::attach, so fixing it there will hopefully fix the Outline palette without any code changes to the palette.

[2012-04-24 19:25] peller commented on #1799
the discussion was mostly verbal.  A related ticket is #2045

[2012-04-24 19:46] #911 closed, assigned to JonFerraiolo

[2012-04-24 19:59] JonFerraiolo commented on #1799
@doronrosenberg If the fix is restricted to Context.js::attach, sounds like good news to me

[2012-04-24 20:03] doronrosenberg commented on #1799
the "fix" to get children from the model and not the DOM breaks dnd pretty badly (only the body becomes a target, probably because the model doesn't have dimensional data), so I think that having a helper getChildren would work better.  This would also allow us perhaps to add some sort of dummy "Label" widget so that people can drop before/after the label.

[2012-04-24 21:30] JonFerraiolo commented on #1799
You probably have already figured this out, but just in case: it really should be the case that there is a one-to-one correspondence between widgets in the model and traversing the DOM on the canvas looking for nodes that have a _dvWidget property on them. One widgets in the model should have this property. If there are nodes on the canvas that have a _dvWidget property and don't appear in model,

[2012-04-24 21:50] doronrosenberg commented on #1799
@JonFerraiolo

here is the code that I think is the culprit (in _Widget.js):

[code]

If attach is passed through, we generate widgets for all children, even non-dvWidgets.

[2012-04-25 13:44] rinse-zz commented on #271
Is there a function in Maqetta that helps you to see the dependence
between pages? Something like or similar to expression blend sketch
flow?
see example:
http://blog.goyello.com/wp-content/uploads/2009/09/SketchFlow_Map.jpg

[2012-04-25 14:36] JonFerraiolo opened #2115 "Shapes get unselected after dragging nobs"
Appears to have broken with this commit: 936b248b6c49c8c1e5d0275df535e5ffe8163f8f

[2012-04-25 15:47] billreed63 opened #2116 "ActionBar, floating properties palette"
The idea here is to support a more table based UI where we would move the toolbar to an action bar that is displayed when the user selects a widget, also to move the properties palette from the right to a floating palette that can be moved around the screen as well as hidden, pinned, shown. Combining the existing SmartInput with properties palette to create an uber smartInput

[2012-04-25 15:48] billreed63 commented on #2116
Jin's notes from a couple of months ago about future interactive behavior:

---
- (Question) What would happen if the user:

a) single-clicks (single-tap on tablet) on the Button's text content; selected state. The second single - clicks on the text content >  edit text mode

b) single-clicks (single-tap on tablet) on part of the Button that isn't the text content (e.g., the border) selected state

[2012-04-25 16:51] jhpedemonte opened #2117 "Resetting mobile themes to "(device specific)" doesn't work as expected"
To reproduce issue:
1. With an HTML file open, open the **Switch Theme** dialog.
2. For **Dojo mobile 1.7 theme**, select one of the devices (i.e. "android") and click **OK**.
3. Open the **Switch Theme** dialog again and select "(device specific)".

There's a couple of issues:
- After selecting "(device specific)", the values for the individual devices don't change.  In the case above, since we s

[2012-04-25 17:15] JonFerraiolo commented on #2116
@jmockler

Some details to work out:
- With proposed UI makeover which a more tablet-friendly approach to various parts of the UI, are we still contemplating an ActionBar?
- What happens with ActionBar with multiple selection? We could show an ActionBar over each selected widget, but imagine if you had a toolbar filled with 16x16 icons and the user wanted to select several of these icons at once.

[2012-04-25 17:50] #1799 closed, assigned to doronrosenberg

[2012-04-25 17:57] #2115 closed, assigned to JonFerraiolo

[2012-04-25 19:20] doronrosenberg opened #2118 "ListItem - need a way to drag in items infront of label"
@JonFerraiolo @jhpedemonte

This is probably a general feature - to show labels inside widgets as drag targets.  In ListItem I am not adding the label to children.

[2012-04-26 15:42] JonFerraiolo commented on #1302
Pushing to M7 - leaving open in case we still want to do theme renaming, but still waiting on our terminology to solidify

[2012-04-26 15:43] JonFerraiolo commented on #99
Pushing to M7

[2012-04-26 16:05] JonFerraiolo commented on #2116
Pushing to M7 - no way we can implement this for M6

[2012-04-26 16:06] JonFerraiolo commented on #2108
Reassigned to @aerwin.
@childbs

[2012-04-26 16:11] JonFerraiolo commented on #2071
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:12] JonFerraiolo commented on #2067
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:14] JonFerraiolo commented on #2057
-> @doronrosenberg (so this won't fall through cracks, although I suspect any of us could fix this)

[2012-04-26 16:15] JonFerraiolo commented on #2068
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:17] JonFerraiolo opened #2119 "SIngle user - do we timeout?"
(Research and investigate)

@childsb @billreed63

When running as single user (maqettaUser), it seems like I sometimes get timed out. What I'm seeing in particular is that I download a build, run localhost as single-user, and if I neglect my Maqetta window, I get redirected to http://localhost:50000/maqetta/welcome, which will totally baffle our users who run locally since the welcome page forces

[2012-04-26 16:18] JonFerraiolo commented on #2000
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:18] JonFerraiolo commented on #1997
push to M7?

[2012-04-26 16:19] JonFerraiolo commented on #1935
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:20] JonFerraiolo commented on #1903
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:23] JonFerraiolo commented on #1850
-> @jonferraiolo M7

[2012-04-26 16:24] JonFerraiolo commented on #1821
-> @jhpedemonte (so this doesn't fall through cracks). OK to defer to M7?

[2012-04-26 16:25] JonFerraiolo commented on #1670
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:25] JonFerraiolo commented on #1564
-> @childsb M7 (but probably unlikely even for that milestone)

[2012-04-26 16:26] JonFerraiolo commented on #1435
-> @jhpedemonte (so this doesn't fall through cracks)

[2012-04-26 16:27] JonFerraiolo commented on #1033
-> M7

[2012-04-26 16:42] JonFerraiolo commented on #733
This might have been fixed by my big States.js cleanups, where I got StyleCommand, MoveCommand and ResizeCommand to work with state-specific property changes and making it all undoable. Those changes, combined with existing logic that equates an empty string CSS value to mean "remove property" (see _Widget.js: _styleText()), might be what is needed.

Do we have a concrete scenario that showed this

[2012-04-26 16:43] billreed63 commented on #2119
We have code in to prevent this

UserActivityMonitor

[code]

What are you seeing, if you are seeing warning div across the top, that would be the activity monitor. If you are seeing the
"Your session has timedout" dialog that gets displayed on any communication error with the server.

[2012-04-26 16:44] JonFerraiolo commented on #2119
actually, I suspect it's the server that's timing out, not the client

[2012-04-26 16:45] JonFerraiolo opened #2120 "Update docs for Preview 6"

[2012-04-26 16:48] JonFerraiolo opened #2121 "Remove addCustomWidget() from Palette.js?"
addCustomWidget() doesn't appear to be used

[2012-04-26 16:58] JonFerraiolo opened #2122 "No snapping when dragging out widget size"
- New HTML File - hi-fi sketch
- Add a Calendar, make it someone bigger than default
- In Widget palette, click on Calendar again, then move mouse over canvas to same y location as top of existing Calendar and relatively near existing Calendar, and you'll see a snap line
- Start dragging out a rectangle for the new Calendar, and drag until mouse is aligned with bottom edge of existing Calendar

Re

[2012-04-26 17:13] JonFerraiolo opened #2123 "Exception when changing moveTo property in this case"
- New HTML FIle - iphone
- Add a ScrollableView - set ID to 'root_view'
- Add a Heading - set text to 'root'
- Add a second ScrollableView - set ID to 'alerts_view'
- Add a Heading - set text to 'alerts'
- With Heading selected, in Properties palette, go to Widget-specific section
- Set 'back' to 'aaa'
- Using dropdown menu, set moveTo to 'root_view'

Result=> Exception in Dojo - Cannot read prope

[2012-04-26 17:27] #1675 closed, assigned to JonFerraiolo

[2012-04-26 17:39] JonFerraiolo opened #2124 "replace all dojo.* with AMD reference and new "baseless" API"
I see many occurrences of dojo.create() in the code. Shouldn't we identify the module for Dojo that has the create() feature, and then use an AMD reference (e.g., `Create`) instead of a global reference (e.g., `dojo.create`)?

[2012-04-26 17:52] peller commented on #2124
not just dojo.create, but all dojo.\* methods.  This would be a move towards what's called a "baseless" Dojo app, where we have references directly to the newer APIs instead of assuming that we load everything in dojo.*

see http://livedocs.dojotoolkit.org/releasenotes/migration-2.0#dojo-core

[2012-04-26 18:20] JonFerraiolo opened #2125 "Firefox - drag/create shape and dashed line is always horiz or vert"
Works fine on Chrome, but problem with Firefox

[2012-04-26 18:42] jhpedemonte commented on #2105
This seems to have been exposed by the new GridX plugin.  There are 2 issues at play:
1. The GridX metadata references "dojo.data.ItemFileReadStore" in the "data" property and the metadata code makes the assumption that that widget belongs to the GridX library.  Then, when loading required resources, the code constructs a URL attempting to load that from GridX library.  _I think I have a fix for t

[2012-04-26 18:54] jhpedemonte commented on #2105
Actually, hold off on this.  It looks like I can drop a DataGrid just fine on **master**, but not on the **1750-one-require** branch.  Investigating now.

[2012-04-26 19:20] jhpedemonte commented on #2105
OK, I found my issue on the **1750-one-require** branch: I was setting `async: true` on the Dojo that is added to the VE iframe.  We weren't doing so on **master**, where things worked properly.

I assume that Dojo will eventually default to `async: true` for the loader, so we need to fix this.  Probably by doing what I [mentioned above](https://github.com/maqetta/maqetta/issues/2105#issuecomment-

[2012-04-26 19:20] #2105 closed, assigned to jhpedemonte

[2012-04-26 19:20] doronrosenberg commented on #2123
If you reload the page, does that still happen (changing moveto throws an exception)?  I can't reproduce on Firefox or Chrome

[2012-04-26 19:33] jhpedemonte opened #2126 "Use deferred/promises when loading resources in `loadRequires()`"
The code in `loadRequires()` makes a simple call to `require()` in the context of the VE iframe, in order to load the given module.  Later, we instantiate objects assuming that resources have been properly loaded.

The only reason this works now is because we put the Dojo loader in synchronous mode (the default until Dojo 2.0, I assume).  See commit d54d19c78f5896fb86739872e9abf4ca8ab34bcb.

In or

[2012-04-26 19:46] JonFerraiolo commented on #2123
I refreshed and tried again, and I haven't been able to reproduced. At the time I saw this, I had multiple editors open. I wonder if there is a bug where something is pointing to the wrong document.

[2012-04-26 19:47] JonFerraiolo commented on #2123
I refreshed and tried again, and I haven't been able to reproduced. At the time I saw this, I had multiple editors open. I wonder if there is a bug where something is pointing to the wrong document.

[2012-04-26 23:24] JonFerraiolo opened #2127 "Sticky note icon not working"
(Running Mac/Chrome)

If you drag/drop a Sticky Note from widget palette, the RTE control appears, but if you click on the Sticky Note icon on the toolbar, a default sticky note widget is added to the page, but the RTE control doesn't appear.

Double-clicking on the sticky note widget doesn't work either. However, double-clicking on the selection border works fine.

(I suspect I broke it when I ma

[2012-04-27 02:00] jhpedemonte commented on #1750
Have another case, similar to the [dojox.mobile situation](https://github.com/maqetta/maqetta/issues/1750#issuecomment-5208710):

In **ItemFileReadStoreHelper.js**, the code adds a callback to a require statement, to look like this:

[code]

It's not so easy to do this in the one-require case, given that the module could be in any part of the array, and the arguments into the added function have t

[2012-04-27 02:39] peller commented on #2126
Good point - we should try moving the VE to async:true, for performance reasons, though Dojo probably won't force us to do this until 2.0.  Compared to moving the Workbench and the user output to async, this is relatively low-priority.

[2012-04-27 02:50] peller commented on #1750
so this ought to work fine.  You could also make it the first module (always) in the require, then you'd be able to use a reference from the arg list.

Grouping the xhrScriptPlugin with the other requires would have the advantage that it could be picked up by an aggregator or loaded in a layer.  However, I'm concerned that it could be messy syntactically to maintain should the function body change

[2012-04-27 16:25] billreed63 commented on #2127
When I make a div position absolute I can no longer get the smart input by double clicking, along the same lines if I make the sticky notes postion relative I can get smart input by double clicking. What does position have to do with selection?

[2012-04-27 17:04] jhpedemonte commented on #2071
Fixed by 5331530f8992f0d8fcdfb9107b5101b500de2690 on a branch.  I'll merge into master by Monday.

[2012-04-27 17:04] #2071 closed, assigned to jhpedemonte

[2012-04-27 17:24] billreed63 opened #2128 "RichText SmartInput throws exception,"
When I dooubleClick on Richtext The smartInput is displayed but I then see the following exception in the console and the loading wheel is never removed.

[code]

metadata.GetSmartInput appears to be called twice and on the second invocation throws exception  around this line of code

[code]

@peller @jhpedemonte

[2012-04-27 18:13] billreed63 commented on #2128
The root cause of this is that SelectTool is catching the doubleClick Event  and calling `this._context.select(widget, null, true);` to display the smartInput.  context is also catching doubleclicks and calling `this._activeTool.onDblClick(event);` which calls smartInput again... I believe this is also the couse of the bug @doronrosenberg  is seeing with sometimes getting to smartInputs displayed

[2012-04-27 18:49] billreed63 commented on #2128
It would appear that all the other events are needed... Only the ``onDblClick` handling can be removed

[2012-04-27 18:52] #2128 closed, assigned to billreed63

[2012-04-27 19:40] billreed63 commented on #2127
We have never display RTE on creation of sticky note from the toolbar, but when you doubleClick on the sticky note we should be displaying the RTE...

[2012-04-27 19:42] #2127 closed, assigned to billreed63

[2012-04-27 20:03] jhpedemonte commented on #83
I'm confused about what we aim to accomplish by splitting the theme-editor up into sections/sub-pages.  What are we trying to solve?

---

As a first pass, @billreed63 can work on the moveable TooltipDialog and radio buttons upgrades [mentioned above](https://github.com/maqetta/maqetta/issues/83#issuecomment-1090605).

[2012-04-27 20:19] jhpedemonte commented on #1796
-> @doronrosenberg

[2012-04-27 20:24] jhpedemonte commented on #1990
Here's an idea (but not for M6): templates would work well here.  That way, a user could select from several widgets with fixed elements (heading, footer, both) and drop that on page to get started.  Then the user just needs to add content.

@doronrosenberg

[2012-04-27 21:44] #775 closed, assigned to doronrosenberg

[2012-04-27 23:13] JonFerraiolo commented on #1990
Great idea!

[2012-04-27 23:14] JonFerraiolo commented on #83
When we support 50-100 widgets, they all won't fit on the same screen. Also, when we provide theme editor extensibility (where a widget library extends an existing library), that 2nd widget library would probably add one or more new panes to an existing theme editor.

We already have multiple panes in the mobile theme editor.

[2012-04-27 23:42] JonFerraiolo commented on #775
I pulled latest code but I'm not seeing the new SmartInput for IconContainer. I did these steps:
- New HTML File - iPhone
- Add ScrollableView
- Add IconContainer

I would have expected SmartInput to appear at this point, but it doesn't. Double-clicking on IconContainer or any of the IconItems results in nothing either.

[2012-04-28 01:08] doronrosenberg commented on #775
Which browser? I still have small work to do to make it look better, but it seems to work fine here.

[2012-04-30 03:20] jhpedemonte commented on #1750
I merged the changes on the branch into **master**.  Only remaining issue is the one mentioned above, dealing with JSONP URLs for data widgets.

[2012-04-30 04:41] jhpedemonte commented on #2118
I don't understand.  ListItem supports several different internal components (see the image at top of [reference](https://dojotoolkit.org/reference-guide/1.7/dojox/mobile/ListItem.html)), one of which is the **"icon" property** -- it adds an image in front of the label.

But what would the user be dragging into the ListItem?

[2012-04-30 12:55] JonFerraiolo commented on #2118
@doronrosenberg  already implemented adding arbitrary widgets and elements inside of a ListItem. See closed issue #1799. The issue here is that if a ListItem current just has a text node, the solution for #1799 only allows adding the new widget after the existing text node. In some cases, users will want to add the new widget or element in front of the existing text node.

[2012-04-30 13:52] billreed63 commented on #83
Say library Y extends DOJO, would that not create a new library that gets added to the library palette, as such it would have it's own metadata and theme editor. We currently have a theme editor for Desktop dojo and a separate theme editor for Mobile. Are we going to combine DOJO Mobile, DOJO Desktop, JQuery,  YUI all into one theme editor?

[2012-04-30 14:13] #2034 closed, assigned to aerwin

[2012-04-30 14:33] aerwin opened #2129 "Column editing/resizing in HTML tables"
#331 ("Column width control for tables") got taken over by the GridX Set-up Wizard. We'll need to re-examine the design for HTML tables. Perhaps aspects of the preview panel in the GridX Wizard that allows column resizing is applicable, but I don't think most of the GridX Wizard design makes sense for HTML tables.

[2012-04-30 14:40] aerwin opened #2130 "Make use of GridX support for Tree Grid"
As we ramp up our TreeGrid support, we'll want to enable support for the GridX Tree Grid and likely migrate away from `dojox.grid.TreeGrid`.

The GridX TreeGrid is an instance of `gridx.Grid` with the `Tree` plug-in enabled. We'll want to add a widget to the Widget Palette from the GridX plug-in that takes care of that for the user.

[2012-04-30 14:41] jhpedemonte commented on #83
I can see the case where a library extends from another and therefore, the theme editor should also be extensible.

But I don't think we want a  theme editor that brings together disparate libraries (i.e. one combined for DOjo, jQuery, YUI, etc).  That doesn't make sense to me.  The theme editors should be separate for each library.

It will be very rare that someone combined widget libraries in a

[2012-04-30 14:46] aerwin opened #2131 "Extend GridX Configuration Wizard to GridX-based Tree Grid"
I believe there is a fair amount of work because the GridX Wizard cannot be directly applied to GridX Tree Grid. For example, data source entry panel will need to be different and the design/implementation for Smart Input for `dojox.grid.TreeGrid` was never completed (see #135).

Also, dependent on #2130 for base-enablement GridX Tree Grid.

[2012-04-30 15:01] JonFerraiolo commented on #83
Except when someone has add-on libraries to a base library. For example, a collection of Dojo widgets that extends base Dijit or Dojo Mobile, or a collection of jQuery Mobile widgets that extends base jQuery Mobile.

nope, generally separate theme editors

[2012-04-30 15:10] doronrosenberg commented on #1796
You mean the tabbar at the bottom? I can select them fine in Firefox.

[2012-04-30 15:37] aerwin commented on #1435
Assign to @aerwin

[2012-04-30 15:40] aerwin commented on #1991
Push to M7

[2012-04-30 16:39] doronrosenberg opened #2132 "Properties view - make id/class use dijits and separate rows"
@jhpedemonte @JonFerraiolo

Playing with TweetView I found that the generated ids for ScrollViews were quite long and hard to edit with such a small input field.

My suggestion is to have them on separate rows, with the combo/input taking up as much space as possible.  Also use that time to switch IDs to use a dijit textbox.

Sound good?

[2012-04-30 16:55] jhpedemonte commented on #2132
Yeah, I've noticed the same issue before.  I'm fine with this.

What will this get us?  Is this just for consistency, or can we make use of the added functionality?

Setting for M6/Med, but may (probably) slip.

[2012-04-30 17:17] JonFerraiolo commented on #2132
I expect it would take 1-4 hours to switch to separate lines for class and ID. That would be nice to have as soon as possible, but I agree other things are higher priority.

I'm also curious why we need a dijit text box. Aren't we using regular old INPUT elements in other places in the properties palette?

[2012-04-30 17:26] JonFerraiolo commented on #1796
I pulled the latest code and everything works for me. This is way cool! Three things that would be nice extensions:
1. Remember the last folder where you pulled an icon so that next time you bring up file picker it shows the same folder where last picked on icon
2. Show image previews in file picker.
3. Would be good to have a visual designer help with the visual styling for the smart input

@doro

[2012-04-30 17:44] doronrosenberg commented on #2132
@JonFerraiolo For class we have to use a dijit as we want a dropdown that is editable.  Dijits are usually larger than html widgets and usually have a slightly larger default font size (depends on your browser/os), so having dijits and html widgets together will look inconsistent.

[2012-04-30 17:46] JonFerraiolo commented on #2132
ah, that makes sense

[2012-04-30 17:51] doronrosenberg commented on #1796
@JonFerraiolo Smart input for tabbar would make a lot of sense, probably 2-3 days for that.

As for the file picker, we really need to build a generic, reusable one rather than having the same code in multiple files.  Probably also add a image-only mode if possible.  I'd say 1-2 days for a reusable picker with img preview

[2012-04-30 17:57] billreed63 commented on #23
I have the theme editor writing out delta's for Mobile and Desktop themes, but this presents us with the next UI issue to address.

In the page editor when the user selects a widget and opens the cascade on a style property we display the rules. In the past if the selected rule in the cascade was read only we would display an error message. The message would tell the user to create a new theme or

[2012-04-30 17:59] JonFerraiolo commented on #1796
Regarding file picker, we will probably want to coordinate with the Orion guys on that. They have a "navigator" that is pretty much "list" view in the Mac Finder. Our own UI folks are proposing a navigator page for Maqetta that is similar to the icons view in the Mac Finder.

So, I'm thinking ultimately we will want something comparable to Mac Finder or Windows Explorer that can run on its own (i.

[2012-04-30 18:04] doronrosenberg opened #2133 "TweetView - Setting icon on ListItem destroys any ListItem children (Switch)"
Setting icon on ListItem destroys any ListItem children (Switch for example)

[2012-04-30 18:19] #2095 closed, assigned to peller

[2012-04-30 18:47] peller commented on #2085
M5 files should now load against M6, but states code will not be functional until page is loaded/saved (or a migration script is run) to include new bootstrap info.  @JonFerraiolo @waynevicknair  Need to decide whether it's worth doing migration for this.

[2012-04-30 18:48] #2109 closed, assigned to peller

[2012-04-30 19:21] JonFerraiolo commented on #2133
OK with me if this gets elevated to Prio High

[2012-04-30 19:50] JonFerraiolo commented on #2085
I would say migrating user files to fix up their require and States.js items in HEAD as a nice-to-have for M6. If we can figure out how to write a shell script in 30 minutes for this migration, then we really try to make this happen to minimize the number of user support issues we have to respond to with the M6 release, but if the migration script is tricky and time-consuming, then we might not fi

[2012-04-30 19:50] JonFerraiolo commented on #2085
-> @jhpedemonte to reassign

[2012-04-30 20:24] jhpedemonte commented on #1796
So this bug can be closed, right?  Any other issues can be spun off into other bugs.

[2012-05-01 00:02] JonFerraiolo opened #2134 "Mobile selection sometimes doesn't cover entire widget"
Sometimes the selection chrome on Heading and View widgets doesn't cover the whole widget.

(More details coming later)

[2012-05-01 00:08] #1062 closed, assigned to JonFerraiolo

[2012-05-01 00:09] JonFerraiolo commented on #1056
Fixed now. I'm pretty sure I fixed the very last problem in this bug (IDs not preserved) with this commit: 74c6ad393a

[2012-05-01 00:09] #1056 closed, assigned to JonFerraiolo

[2012-05-01 03:17] jhpedemonte opened #2135 "Support Dojox Mobile 1.8 additions (widgets, changes)"
The changes/additions in dojox.mobile 1.8 seem fairly straightforward.

Most of the new widgets should be easy to support.  There are some new transitions, but I don't think there's anything we need to do there other than to make sure those transitions appear as choices in the Properties view (probably. just need to add to add to metadata).  And there are some additions to existing widgets, making

[2012-05-01 03:30] JonFerraiolo opened #2136 "No target over dojox.mobile.CheckBox"
@doronrosenberg, @aerwin, @billreed63

Need to investigate why the "target" (aka editFeedback, from _Tool.js) wasn't happening over a dojox.mobile.CheckBox widget when I was playing with Maqetta.

[2012-05-01 03:31] JonFerraiolo commented on #363
Hopefully fixed by 0b8666bef3 . Closing for now. Maybe will reopen if people report problems.

[2012-05-01 03:31] #363 closed, assigned to JonFerraiolo

[2012-05-01 03:53] JonFerraiolo commented on #2136
Studied this and the problem is that there is a CSS transform on the widget, which makes offsetLeft and offsetTop unreliable. Not sure what to do about it...

[2012-05-01 15:02] #1796 closed, assigned to doronrosenberg

[2012-05-01 15:26] doronrosenberg opened #2137 "Smart input for dojox.mobile.TabBar"
Basically the same UI as IconContainer., with perhaps a preview area?

[2012-05-01 15:27] doronrosenberg opened #2138 "Add Filepickers for all properties that are image references"
Add Filepickers for all properties that are image references

[2012-05-01 15:33] JonFerraiolo commented on #2138
@jhpedemonte M7 Med seem appropriate?

[2012-05-01 15:41] jhpedemonte commented on #2138
Yeah, seems fine to me.

[2012-05-01 16:12] doronrosenberg commented on #2133
correction: any change to the listitem (say change the transition) causes this.

[2012-05-01 16:45] doronrosenberg opened #2139 "Smart input for ListItem containers (RoundRect, EdgeToEdge)"
The current text only smartinput for ListItem containers should be moved to a dialog similar to IconContainer - allow editing of the label and the left-hand icon.  The user can dig deeper into each ListItem by using the properties panel.

We can easily reuse the code for IconContainer here

[2012-05-01 17:52] JonFerraiolo opened #2140 "Area select: should be able to start/stop outside of user iframe"
I took an initial crack at enhancing area select so that the user could start or end the drag operation with the mouse located outside the user's iframe (i.e., not necessarily within BODY), and I have a branch where I got some of it working (the AreaSelect2 branch), but there are a number of fixes necessary to pull this off, and those fixes are risky. Therefore, this will probably have to wait for

[2012-05-01 18:42] billreed63 commented on #23
Still need to test delta inherit from delta theme and delta on preview 5 cloned theme...

[2012-05-01 19:21] JonFerraiolo opened #2141 "Eclipse project, new file, download: bad reference to claro.css"
@peller @billreed63

I created a new Eclipse project, new HTML File, added a Button, saved. Then tried to download a ZIP. The file I created did not preview correctly when unzip'd into my localhost web service because the reference to claro.css looks like this in the HTML file:

[code]

The problem is the `../../eproj1/WebContent/`, which doesn't work with ZIP download because the ZIP starts with

[2012-05-01 19:24] JonFerraiolo opened #2142 "Duplicate module definitions for 'maqetta'"
When we create a new HTML file and add the file Dojo widget, there is a SCRIPT tag in the user's doc that looks like this:

[code]

You see, there are two definitions for 'maqetta', and the first one is incorrect.

[2012-05-01 19:30] peller commented on #2142
I only see one maqetta when I do it, and it's the latter one (with /maqetta) which I think is correct.

[2012-05-01 19:47] jhpedemonte commented on #2003
cc @JonFerraiolo

I'm fine just staying with the empty value as the "remove" option.

[2012-05-01 19:52] jhpedemonte opened #2143 "Cannot unset `background-image` from Heading Background in mobile theme"
Cannot unset the `background-image` property in the mobile theme editor.

Steps:
1. Clone the iPhone theme.
2. Select the **Heading Background** widget.
3. In **Properties > Background**, unset the `background-image` property.
   - _Notice that there are no changes to the widget._
4. Click to a different widget, then back to Heading Background.
   - _Notice that the value in `background-image` has

[2012-05-01 19:53] JonFerraiolo commented on #2003
It shouldn't be hard to include an explicit Remove option. We used to have one, but when I made all of the background property changes (Background.js and BackgroundDialog.js) I neglected the Remove option.

[2012-05-01 19:56] JonFerraiolo commented on #2142
Ah, duplicate definition only happens with Eclipse projects.

[2012-05-01 19:58] JonFerraiolo commented on #2143
@billreed63 - feel free to assign to me if the background properties logic is hard to fathom.

[2012-05-01 19:58] aerwin opened #2144 "Theme Editor: Cannot modify custom theme"
In both FF and Chrome on Mac...
1. Clone custom theme (and name something like "custom2")
2. Try to change global background color
3. Nothing happens

This doesn't appear to be isolated to background as I also tried to change font properties on both a global and a widget scope.

[2012-05-01 19:59] aerwin commented on #2144
And, one other thing, I was able to clone another mobile theme (e.g., ipad) and successfully changed background color there.

[2012-05-01 20:00] jhpedemonte opened #2145 "Values from background dialog don't seem to take in theme editor"
1. Clone **claro**.
2. Select **Global Background** widget.
3. In **Properties > Background**, click on **...** button next to `background-color`.
4. For **background-image type**, select **None**.  Click **OK**.

Notice that the `background-image` value in Properties does in fact change to "none", but nothing changes in the theme editor.  Click elsewhere and then back on to Global Background widg

[2012-05-01 20:05] JonFerraiolo commented on #2145
Sending to @billreed63, but send it back if my theory below is wrong.

I'll guess the issue here is that the global background widget in the claro theme editor is only instrumented to support background-color and not background-image.

@billreed63 - could you experiment and see if it is possible to add all of the various background-\* properties for the global widget in the JSON file?

[2012-05-01 20:07] jhpedemonte commented on #2145
If that is the case, then we need to disable invalid properties in the Properties view.  Otherwise, users will be confused, as I was.

[2012-05-01 20:07] JonFerraiolo opened #2146 "Change project - widget palette doesn't show"
- Create new project. (When I saw this bug, my new project had the Eclipse support checkbox on, but I'm guessing that doesn't matter)
- New HTML File
- Add a dojo/dijit Button
- Go back to project1 (using combobox at top of Files palette)
- Go back to new project

Result=> Widget palette is empty even though an editor is open

[2012-05-01 20:15] JonFerraiolo commented on #422
@aerwin, @doronrosenberg

[2012-05-01 20:21] aerwin opened #2147 "Save theme set name in HTML file"
For the "Applying theme sets to HTML" test case in themeSets.html, the "Expected Results" section says:

[code]

Instead, I see the following (which I assume is correct now that the "one requires" stuff has been implemented):

[code]

[2012-05-01 20:21] JonFerraiolo opened #2148 "Can't change tabs in TabContainer if TabContainer is currently selected"
- Add a TabContainer
- Try to click on Tab2

Result-> the current tab doesn't change
- Click away from TabContainer to unselect it
- Try to click on Tab2

Result=> current tab changes to Tab2

[2012-05-01 20:23] aerwin commented on #2147
Similarly, the "Expected Results" section of the "Restore dojo default theme to HTML" test case should be updated.

[2012-05-01 20:26] JonFerraiolo opened #2149 "DataGrid loses its data if parent TabContainer gets a new tab"
@aerwin, @doronrosenberg
- New HTML File
- Add a TabContainer
- Switch to tab2 (note: because of #2148, you might have to click away first, and then click on tab2)
- Add a DataGrid, accept defaults
- Double-click at top of TabContainer to bring up TabContainer smartinput
- Add a 3rd tab name, and click OK

Result=> The datagrid within Tab 2 has lost its data

[2012-05-01 20:31] JonFerraiolo opened #2150 "AUDIO and BR - no size?"
Sorry, my memory might have faded, but when I added an AUDIO widget, it had no size and the widget selection box shows the AUDIO widget as having now size and being located at top/left of page even if it is located elsewhere (e.g., dropped inside of a container). Is it correct that AUDIO has no size? It seems like it should have a minimum size (e.g., 1em x 1em).

Same thing with BR element

Note t

[2012-05-01 20:39] aerwin opened #2151 "Changes to app.css not being persisted properly"
Working on PropertiesPalette/basic4.html test cases...
1. Open app.css
2. paste CSS in test case into file

[code]
1. Save file
2. Close file
3. Open file and see previously added lines are gone.

(NOTE: I was able to get the button and label to show the styling changes if I did _not_ close the app.css page after saving.)

[2012-05-01 20:50] aerwin commented on #2083
@JonFerraiolo @peller

Would this one explain why clicking on an overlay in the outline palette doesn't cause the overlay to become visible in my testing today?

[2012-05-01 20:55] jhpedemonte commented on #2150
I think this happens if you haven't selected an audio file to attach to the widget.  Should we add sample audio and video files?

[2012-05-01 20:56] JonFerraiolo commented on #2083
Probably!

[2012-05-01 20:57] JonFerraiolo commented on #2151
-> @billreed63

[2012-05-01 20:58] peller commented on #2083
@aerwin, I want to say this regressed prior to M5 and is awaiting a redesign based on the new states code

[2012-05-01 21:00] aerwin commented on #2150
I think Jon's issue is a dup of #2002. I'll close this one and raise priority of #2002.

Javier's suggestion for sample files is a dup of #1609.

[2012-05-01 21:00] #2150 closed, assigned to aerwin

[2012-05-01 21:01] aerwin commented on #2002
@JonFerraiolo @jhpedemonte

Raising priority of this one based on Jon's opening of duplicate #2150 as high priority.

[2012-05-01 21:05] aerwin commented on #2083
@peller Ok, if this is a known regression from awhile back then I won't open a new issue based on my testing today.

[2012-05-01 21:12] aerwin opened #2152 "Clean-up GridX Configuration Wizard"
After getting the first big wave of code in under #331,there are some miscellaneous bugs/clean-up issues that need to be addressed with the GridX Config Wizard. I've got a personal list, and I'll detail those here later.

[2012-05-01 21:30] aerwin opened #2153 "Need UI to manage/configure GridX plug-ins"
As described previously in #331, GridX supports a lot of plugins (and attributes that vary depending on which plugins are turned on). This task would be to create a UI (perhaps a 4th panel for the GridX Configuration Wizard) to manage which plugins are turned on and their attribute values.

[2012-05-01 21:34] #2133 closed, assigned to doronrosenberg

[2012-05-01 21:40] billreed63 opened #2154 "DataGrid can't find workspace file"
This can only be reproduced in the following steps, I created it on FF/win

1) New user workspace
2) Create new html file
3)DnD DataGrid
4) Select Data File from workspace
5) DO NOT use the folder cut and paste ``sample_data/htmlSample.json` into the edit box
5) Click ok

One of two things happen here sometimes I get a message that says the file does not exist other times I do not

6) from Files p

[2012-05-01 21:40] aerwin opened #2155 "Add ability to GridX configuration wizard to edit individual column attributes"
This is a follow-on to #331 intended to track the work to augment the GridX configuration wizard to edit individual column attributes. In some previous discussions, it had been suggested this could potentially be added to the 2nd panel (column selection) next to the slosh bucket . As columns are selected in the slosh bucket, this new section of the 2nd panel would act as a kind of properties palet

[2012-05-01 21:41] aerwin commented on #331
On April 20, a group of us (@peller @JonFerraiolo @jhpedemonte @billreed63) met to discuss the proposal I posted earlier that day (see above). There was a lot of really good discussion, but the big conclusion from that meeting was that we should go ahead and pursue a wizard approach for GridX Configuration consisting of 3 panels:
- Data source configuration
- Column selection (via slosh bucket)
-

[2012-05-01 21:41] #331 closed, assigned to aerwin

[2012-05-01 21:48] doronrosenberg opened #2156 "Can't dnd jQuery/YUI (missing js file 404 error)"
Trying to dnd jQuery/YUI widgets I get a error (here is the jquery one):

Unable to load http://192.168.1.122:8081/maqetta/user/Doron/ws/workspace/project1/lib/jquery-ui/jquery-ui-1.8.11.custom.min.js status:404

[2012-05-01 22:04] JonFerraiolo commented on #2148
Can't reproduce. Closing.

[2012-05-01 22:04] #2148 closed, assigned to JonFerraiolo

[2012-05-01 22:19] doronrosenberg opened #2157 "Viewing my own review throws JS errors"
Create a review and send it to someone.

Go and view the newly created review.  The page is broken and the following js errors:

[code]

[2012-05-01 22:20] doronrosenberg commented on #2157
@jhpedemonte @JonFerraiolo not sure who owns review, giving it to javier for now.

[2012-05-01 23:01] aerwin commented on #2108
@childsb , I think you may have recently disabled the review servlet? Is that true? If so, what was your plan for handling review links?

[2012-05-01 23:35] #2134 closed, assigned to JonFerraiolo

[2012-05-02 00:31] #2125 closed, assigned to JonFerraiolo

[2012-05-02 00:59] JonFerraiolo commented on #2119
-> @childsb
I'm pretty sure that if running single-user, we never set an explicit timeout value. As I analyze the code, the only time we set an explicit session timeout interval is in Login.java, which is only invoked when running multi-user. Therefore, my guess is that we end up using Java's default timeout of 15 minutes. (Note: I'm guessing that the server tells the client the session length is

[2012-05-02 01:52] JonFerraiolo commented on #2107
Changing to Prio-Med because we've had this problem forever.

[2012-05-02 02:10] JonFerraiolo commented on #2157
-> M6, Prio-High

I created a new review, and then double-clicked on the *.rev file in the Reviews palette, and saw the same problem @doronrosenberg reported above.

@aerwin, @childsb, @peller

[2012-05-02 02:12] JonFerraiolo commented on #2091
Depends on #2157

[2012-05-02 02:12] JonFerraiolo commented on #2096
Depends on #2157

[2012-05-02 02:13] JonFerraiolo commented on #2080
I merged in the 5.0.1 fixes, so closing this now.

[2012-05-02 02:13] #2080 closed, assigned to JonFerraiolo

[2012-05-02 02:20] JonFerraiolo commented on #1971
-> @jhpedemonte

Note that the operation succeeds, it's just that the selection goes away when in split mode. Therefore, I'd say this is on the low end of Prio-High. Definitely should fix. Assigned to @jhpedemonte because he has done magic before in restoring selection (e.g., using xpath), but he might want to parcel it out to someone else.

[2012-05-02 02:20] #1942 closed, assigned to peller

[2012-05-02 02:29] jhpedemonte commented on #2080
is there another bug open for using CSS to do the rotation?  Or we'll just keep it as it stands now?

(If we are to attempt CSS rotation, I would classify it as Priority Low)

[2012-05-02 03:53] peller commented on #2077
this is because the split view was implemented with BorderContainer, and the design view is in the center position, which gives it flexibility.  The other panels are defined to have fixed height/width.  I think this is a limitation of the BorderContainer approach unless perhaps we swap which regions.  As it is, this code is pretty fragile.

[2012-05-02 04:00] peller commented on #2090
@JonFerraiolo, I can't reproduce this anymore.  Can you?

[2012-05-02 04:12] aerwin commented on #1435
@jhpedemonte @JonFerraiolo

I'm brand new to this code, but in my debugging I didn't see where the temp ID's had anything to do with it. As far as I could tell, the issue was that offsets in the text editor were not being mapped back to offsets in the model. This is fixed with b51206cdd92f10b0534c213e58ba5109be4cc8ea .

[2012-05-02 04:12] #1435 closed, assigned to aerwin

[2012-05-02 04:20] aerwin commented on #455
@billreed63 @JonFerraiolo @jhpedemonte

Given our move to GridX, should this work item be changed to add GridX styling to the theme editor?

[2012-05-02 05:21] aerwin commented on #2152
Here is a high-level list of bugs/clean-up/usability items to follow up on with the new GridX Configuration Wizard. Trying to create a relatively complete list of those things not already covered by separate GitHub tickets, so some of items below may be deferred and/or moved to separate issues.
- **General**
  -  By and large should be able to click Finish at any point (assuming invalid data has n

[2012-05-02 05:37] JonFerraiolo commented on #2093
Reopening. I committed a fix to branch AppCssNestedHtml with de1b648a693957a42f468885111bd1ae557d6aa8, but haven't yet merged into master until investigating what's going on with mangling of the app.css file.

[2012-05-02 13:15] billreed63 commented on #2119
What I have seen in my testing is that we get a -1 from the server for a timeout value in single-user mode

[2012-05-02 13:56] billreed63 opened #2158 "DataGrid does not render in preview with JSONP source"
Create a HTML
Drop a DataGrid
JSONP from the drop down in smart input
http://maqettaservice.appspot.com/sampleservice
click preview in browser
in the preview browser I see the following in the console

[code]

Break on erroros stops on the single requires

[code]

[2012-05-02 14:03] pchuong opened #2159 "'Number' property value unexpected revert back to default"
When you change a widget's property that has a 'number' datatype, it revert back to the default value if other property is change after reopen the same html file.

Test case:
- drag the NumberSpinner widget onto the VE
- in the 'widget-specific' properties, modify the 'Default Timeout' property value to 600
- save the file and open it again
- now change the 'Name' property to something else

Note

[2012-05-02 14:28] aerwin opened #2160 "DataGrid Smart Input: Specifying invalid JSON file causes Maqetta redirect to error page"
1. Drop DataGrid onto page and see Smart Input Dialog come up
2. Choose "Data file from workspace" option
3. Bring up file dialog and choose a file without compliant JSON such as app.css [NOTE: In my case, I had previously uploaded a CSV file to the workspace to try and verify the CSVStore path.]
4. Click OK and see Maqetta redirect to:

[code]

In looking at the code, the `_getUpdateWidgetForUrlS

[2012-05-02 14:41] aerwin opened #2161 "Promote GridX from Untested widgets to Dojo Controls"
After the following two issues are resolved, we should promote GridX from the Untested section of the widget palette into Dojo Controls. In addition, once that occurs, we should probably hide DataGrid.

The two issues are:
- Update of build scripts for GridX submodules (#2034)
- Need mechanism for libs to use code from "ancestor" libs (#2067)

[2012-05-02 14:45] JonFerraiolo commented on #455
I changed the title

[2012-05-02 14:46] aerwin commented on #2161
Along with this, once those issues have been resolved and GridX has been promoted, we should update the wiki page for development environment set-up to include instructions for dealing with submodules.

[2012-05-02 14:49] JonFerraiolo commented on #2080
#1051, which is Prio-Low with no milestone

[2012-05-02 14:50] JonFerraiolo commented on #2160
-> @jhpedemonte to assign to appropriate person

[2012-05-02 14:52] JonFerraiolo commented on #2159
Thanks for the report!

[2012-05-02 15:22] doronrosenberg opened #2162 "Could not expand path at errrors when dnd into RoundrectList"
If I drag a radiobutton (either dijit or dojox.mobile) into a RoundrectList (so into a listitem) I get:

[code]

Happens with many other widgets as well.  Since I added support for dnd into ListItems, assigned to me.

@peller @jhpedemonte

Any hints where I should look to figure this out?

[2012-05-02 15:26] billreed63 commented on #2151
This seems to be a server problem If I look at the Network panel when I save the app.css
I see that the app.css is put to the server

[code]

I then close the tab and see

[code]

When I reopen the file i see in the header

[code]

and in the response

[code]

Note that both Tony and myself are running windows not Mac

[2012-05-02 15:54] aerwin commented on #2151
Actually, I'm on Mac now.

[2012-05-02 16:06] JonFerraiolo commented on #2162
I'm pretty sure the problem(s) are with the Outline palette logic that sets the "path". I see some code in ui/widgets/ToggleTree.js that looks like something to investigate:

[code]

[2012-05-02 16:17] peller commented on #2162
As you'll see, paths is a list.  Each path itself is a list, or a path of nodes down the tree.  The code just prior to line 59 constructs that list by looking at the model and filtering out what it thinks are widgets (has a _dvWidget property)  There must be a mismatch between the widgets in that model and what's in the outline tree.

[2012-05-02 16:30] JonFerraiolo commented on #2151
@peller
Actually, I think at least part of the problem is that we don't issue immediate PUT requests to the server with each change in source editor. We have a timer that periodically updates the server, but if you close the source editor before the timer goes off, you lose the data. You can see the behavior if you open the Network panel in chrome and add some text to app.css. There is a delay bef

[2012-05-02 16:32] JonFerraiolo commented on #2151
Related issue: #244

[2012-05-02 16:36] JonFerraiolo commented on #2151
The immediate-save logic for the visual page editor is in Context.js:2261 (onContentChange()), which is within a listener for any flushing of the command stack.

The timer that periodically saves any dirty editors is in Workbench.js:274.

I would suggest we need a comparable call on the source editing side. In other words, leave the timer in Workbench.js, leave the immediate save in Context.js, an

[2012-05-02 16:44] JonFerraiolo commented on #2090
Nope, can't reproduce, closing.

[2012-05-02 16:44] #2090 closed, assigned to peller

[2012-05-02 16:44] childsb opened #2163 "resize for single state broken"
((per the states test plan, holding down s while resizing or moving a widget should only resize the widget in a given state))

1) add a calendar widget to the page
2) add state aa and state bb
3) select state aa
4) hold down "s" and change the size of the calendar widget
5) switch back to normal state. notice that the calendar widget goes back to original size
6) select state aa, notice the calend

[2012-05-02 16:50] JonFerraiolo opened #2164 "Update Developer-Setup to pull down gridx submodule"
@childsb @jhpedemonte

Don't we need to update the instructions at https://github.com/maqetta/maqetta/wiki/Developer-Setup to tell developers how to pull down gridx code?

As @aerwin says:

If you do a git pull, you'll notice a new davinci.gridx project in our repository. As of a merge into master a couple hours ago, a submodule has been created for one its directories. ...

Basically, the intent

[2012-05-02 17:08] JonFerraiolo opened #2165 "gridx problems"
@billreed63 - it would be good for you to give a testing pass on current implementation of gridx.

Here are some problems I noticed trying out the new gridx support (which incidentally is very cool). It might be better to have separate bugs for each of these, but for the time being I'm making a list within this bug:
- Missing a space after "2." and before "Select columns"?
- In the wizard, clickin

[2012-05-02 17:19] #1018 closed, assigned to peller

[2012-05-02 17:28] JonFerraiolo commented on #2163
When I follow steps above and go through step 4 and look at source view, I see that source view is messed up. The change that was supposed to be applied only to the 'aa' state is also stuffed into inline style.

[2012-05-02 17:36] aerwin commented on #2165
@JonFerraiolo

Thanks for the thorough review. I had already logged many of these issues last night under #2152. So, I'm inclined to close this one as a dup and move your unique findings over to that other issue.

The ones I see as unique are:
- Missing a space after "2." and before "Select columns"?
- I see a phantom scrollbar (without an elevator) in the gridx widget on the page editor even if t

[2012-05-02 17:36] #2165 closed, assigned to aerwin

[2012-05-02 17:40] aerwin commented on #2152
@JonFerraiolo put a number of issues in #2165 (see below). I've bolded the ones I think were not already in the list above:

Here are some problems I noticed trying out the new gridx support (which incidentally is very cool). It might be better to have separate bugs for each of these, but for the time being I'm making a list within this bug:
- **Missing a space after "2." and before "Select column

[2012-05-02 17:43] aerwin commented on #2164
@JonFerraiolo

Thanks for opening this issue. My intent had been to do this once the following issues are addressed:
- Update of build scripts for GridX submodules (#2034)
- Need mechanism for libs to use code from "ancestor" libs (#2067)
- Promote GridX from Untested widgets to Dojo Controls (#2161)

[2012-05-02 17:53] aerwin commented on #2108
Fixed with above commit.

[2012-05-02 17:53] #2108 closed, assigned to aerwin

[2012-05-02 17:59] JonFerraiolo commented on #2163
After a little poking around:
- I suspect that this bug is only for widgets which don't get an initial set of 'width' and 'height' properties
- I suspect that the cause of the bug is this logic in _Widget.js: getStyleValues(), which causes the 'model' to get updated using the current property values on the canvas:

[code]

[2012-05-02 18:26] JonFerraiolo commented on #2083
-> @peller

I looked at AppStates.js and concluded that all we need to do to restore the old logic at the bottom of the file is simply remove the comments and re-activate the code. I tried it out on an experimental basis and it looks to me like I didn't really need to comment out that code in the first place. (I had commented it out because I had my hands full with the major changes I was making a

[2012-05-02 18:28] jhpedemonte commented on #2157
@aerwin, I'm swamped with other things.  Can you please take a look at this bug?

[2012-05-02 18:50] #2093 closed, assigned to JonFerraiolo

[2012-05-02 18:51] JonFerraiolo commented on #2093
I convinced myself that my fixes didn't regress anything, so checked in and closed.

[2012-05-02 18:54] aerwin commented on #2157
Taking ownership.

[2012-05-02 18:55] doronrosenberg commented on #2162
Not a toggletree issue but a issue with my fix for #1799.

[2012-05-02 19:04] JonFerraiolo opened #2166 "app.css gets mangled when using proposed new rule"
@childsb

Sending to @billreed63 in hopes he has cycles.
- Run local version so you can look in your workspace with 3rd party text editor, and have Chrome debugger running
- New HTML File
- Add a Button
- Add a class to button (eg 'aa')
- Bring up cascade for 'width'
- Select first radio button (proposed new rule)
- Enter "20em" into text field and hit return

Result=> Look at Network panel and yo

[2012-05-02 19:07] JonFerraiolo opened #2167 "Can't add an existing class to new widget"
- New HTML File
- Add a Button
- Set class to 'aa'
- Add a second Button
- Try to set class to 'aa' by typing 'aa' into 'class' textbox and hitting return
- Click-select first button
- Click-select second button

Result=> Second button doesn't have class 'aa'

[2012-05-02 19:35] aerwin commented on #2157
@jhpedemonte @JonFerraiolo @doronrosenberg @childsb @peller

I don't know why yet, but this might help folks who are blocked in testing.... it appears if you log out and log back in after creating a review you can open it. And, the exact same URL's that fail before suddenly start working after logging in and out.

[2012-05-02 19:53] JonFerraiolo commented on #2162
I thought we were having path problems with the Outline palette for other scenarios, too. For example: https://github.com/maqetta/maqetta/issues/2045

[2012-05-02 19:56] #2162 closed, assigned to doronrosenberg

[2012-05-02 19:58] doronrosenberg commented on #2162
The issue here was that the widgets were not always being added in the DOM correctly for Listitem.  This should now be correctly handled

[2012-05-02 20:18] #2167 closed, assigned to doronrosenberg

[2012-05-02 20:19] peller commented on #2162
@JonFerraiolo, #2045 is about the refresh mechanism for the Outline palette, not any data mismatch

[2012-05-02 20:46] JonFerraiolo opened #2168 "/dojox/mobile/themes//.css 404 (Not Found)"
When I add a first Dojo Mobile widget to a page (in my case, a ScrollableView), the console shows this:

dojo.js:15GET http://localhost:8081/maqetta/user/maqettaUser/ws/workspace/project1/lib/dojo/dojox/mobile/themes//.css 404 (Not Found)
placedojo.js:15
createdojo.js:15
dm.loadCssFiledojox/mobile/deviceTheme:5
dm.loadDeviceThemedojox/mobile/deviceTheme:32
(anonymous function)Context.js:3019
(anon

[2012-05-02 20:58] childsb commented on #2106
hey tony,

can you try to recreate again?  this is working for me on build and unbuilt.

[2012-05-02 21:14] #2091 closed, assigned to JonFerraiolo

[2012-05-02 21:38] doronrosenberg commented on #2146
@childsb

Lets assume I have Project1:file1 and Project2:file2 after Jon's steps above.

So WorkBench.js:184 does:

[code]

To determine if it should select a tab or not.  state being WorkBench._state.  In this case, the activeEditor is Project1:file1, while we are trying to load Project2:file2.

It seems the fix would be to set noSelect to false if activeEditor is not part of the currently loaded

[2012-05-02 21:53] jhpedemonte opened #2169 "Using shift key to contain polyline/arrow doesn't work correctly in flow"
1. Add a bunch of widgets to a page in flow layout.
2. Start dragging a polyline or polyline arrow in the middle of the other widgets, such that as you add more segments to the line, the other widgets flow around, move.
3. With Shift key, start drawing new line segments at right angles.

Notice that when a new line segment forces the widgets to move (flow), the resulting line segment isn't actuall

[2012-05-02 23:16] aerwin commented on #2157
Fixed with above commit.

[2012-05-02 23:16] #2157 closed, assigned to aerwin

[2012-05-02 23:25] #2096 closed, assigned to JonFerraiolo

[2012-05-03 00:32] aerwin commented on #2106
Yes, looks like this is working now. I'll close.

[2012-05-03 00:32] #2106 closed, assigned to childsb

[2012-05-03 03:45] JonFerraiolo commented on #2107
@doronrosenberg - reassigning to you. Hope that's OK.

I think I see what the problem is here and how to fix. I got into the debugger and compared how the 'class' and 'id' fields worked versus the widget-specific properties (WidgetProperties.js) and in the process discovered (duh!) we recreate the entire 2 lines for the toolbar area with each widget selection change event. As a result, when a user

[2012-05-03 04:09] jhpedemonte commented on #2168
-> Prio Med.  Yes, it's an error in the console, but does not impact functionality.

[2012-05-03 04:18] jhpedemonte commented on #2158
This is the final issue on my plate as part of #1750.  See [this comment](https://github.com/maqetta/maqetta/issues/1750#issuecomment-5411241).

[2012-05-03 15:03] doronrosenberg commented on #2123
CLosing as I can't reproduce

[2012-05-03 15:03] #2123 closed, assigned to doronrosenberg

[2012-05-03 15:58] JonFerraiolo commented on #1948
->M7 Too complex and risky to try to find a fix for M6. To attempt a fix here would require various coding experiments with uncertain results.

[2012-05-03 15:59] JonFerraiolo commented on #1212
Closing. I don't see this behavior anymore.

[2012-05-03 15:59] #1212 closed, assigned to childsb

[2012-05-03 16:02] JonFerraiolo commented on #2079
I decided that a more robust solution wasn't feasible for M6, so I will be committing a bandaid fix soon which (for absolutely positioned widgets) will use 900 instead of 9999, and change StickyNote to 925, both of which will be less than the 1000 that is used for ComboBox. Yes, hacky and using inside knowledge of a particular library, but a more robust solution is too involved.

[2012-05-03 16:04] #2079 closed, assigned to JonFerraiolo

[2012-05-03 16:59] doronrosenberg commented on #2146
Fixed by https://github.com/maqetta/maqetta/commit/1e9eba26f8d99e1f2f1480c74f4103958c5cd0da

[2012-05-03 16:59] #2146 closed, assigned to doronrosenberg

[2012-05-03 18:00] doronrosenberg commented on #2107
@JonFerraiolo The issue isn't the clobbering of the input fields - the real issue is that _widget is nulled out before the onchange fires, which happens when the user clicks on the canvas.

Now for the other parts of properties, it seems that clicking on say Label for button and then clicking into the canvas does not cause a blur even, so we are handling this somehow already in the auto generated

[2012-05-03 18:12] aerwin commented on #559
FYI... while fixing another issue (Bugzilla 7974) under afb190fe064bbafdd0e2d5624378f70306db5598 , I made it so the same dialog is always used. However, the last two bullets still need to be addressed (e.g., get rid of geeky details and make layout/styling improvements.

[2012-05-03 18:29] doronrosenberg commented on #2107
Looks like Context.js::blockChange is the magic we need

[2012-05-03 18:31] JonFerraiolo commented on #2107
Yes, and the reason _widget is nulled out is that clicking on the canvas calls Context.select() (for null or a different widget), which ultimately invokes the widget selection change callback in WidgetToolBar.js, which causes a reassignment of this.domNode.innerHTML, which causes destruction of the old INPUT elements and creation of new INPUT elements. Because the old INPUT elements are destroyed,

[2012-05-03 18:47] #2107 closed, assigned to doronrosenberg

[2012-05-03 18:47] #2132 closed, assigned to doronrosenberg

[2012-05-03 19:16] childsb commented on #2151
saving app.css after changes works fine for me.  @aerwin could b9f78f20ff4226dfd295911397d4d84caa9d86c4 have fixed this?

for others on this bug, there was a NPE called when you clicked in the source editor.  i'm wondering if the NPE wasn't being shown, but putting the editor in an error state and not saving.

[2012-05-03 19:43] JonFerraiolo opened #2170 "'class' and 'id' input fields should grow/shrink as Properties palette grows/shrinks"
Go to Properties palette and open up any of the CSS sections (e.g., Layout) or the Events section. Pull on the divider between the Properties palette and the canvas to make the Properties palette wider. Notice that the input fields grow as the properties palette grows.

We need to accomplish the same magic for 'class' and 'id' at the top of the Properties palette.

Warning: there be tables.

[2012-05-03 19:44] JonFerraiolo opened #2171 "Cosmetic fixes for Properties palette toolbar"
We are using particular CSS styling on the detailed sections of the Properties palette and need to apply the same rules (or at least achieve the same visual result) for font sizes on the form input fields and vertical spacing between the fields. (Right now there are 2 or 3 pixels of white space between vertically stacked fields in various other sections such as Events or the CSS sections. We want

[2012-05-03 19:47] JonFerraiolo commented on #2170
Issue #231 is the same sort of request except for the widget-specific section of Properties palette

[2012-05-03 20:47] aerwin commented on #2151
@childsb yes, appears, you're right. I'll mark as closed. Thanks for bearing with me. :)

[2012-05-03 20:47] #2151 closed, assigned to childsb

[2012-05-03 20:49] aerwin commented on #2151
Though it is weird because I'm pretty sure the driver I ran the test matrix against this week didn't have my change that we are theorizing broke it (and then theorize fixed by my latest).

[2012-05-03 21:07] childsb commented on #2141
Error in findResource(...) was returning theme files for all projects.  since the claro in project1 showed up first in the search results, it was the one being added to the new html.  this would load OK in editor but not after download.

fixed here:

387d021fc3a194901e85b9804824989623c64320

[2012-05-03 21:07] #2141 closed, assigned to childsb

[2012-05-03 21:23] childsb commented on #2101
yeah it seems like this case would always fall through to the else.  We probably take care of the URL re-write somewhere else in code.

As far as design goes, if we're having to relativize many style values, it would be better to do it in one place (like here).  If we have relative URL bugs in the future, this may be worth re-investigating and fixing.

[2012-05-03 21:29] aerwin opened #2172 "GridX: load of ellipsis.css fails in certain cases"
I don't believe this will ultimately require any changes from the Maqetta team (e.g., Evan's gridx team will need to resolve), but opening so don't lose track of the issue.

In two cases related to use of GridX, the following shows up in the browser console:

[code]

These two cases are:
1. Opening the gridx wizard
2. loading a user page with a an instance of GridX if the user has previously chang

[2012-05-03 21:34] JonFerraiolo commented on #1231
Last parts fixed by 196fcb5de9  and various smaller commits soon thereafter.

[2012-05-03 21:34] #1231 closed, assigned to JonFerraiolo

[2012-05-03 21:37] JonFerraiolo opened #2173 "Alt/drag a rectangle to copy: the copy has wrong size"

[2012-05-03 21:47] doronrosenberg commented on #2171
Do we want to hide the rest of the properties palette when no widget is selected (common, widget specific, etc)?

[2012-05-03 21:51] doronrosenberg opened #2174 "Properties view -> Layout - can't set right/bottom rules"
If I want to position something fixed and at the bottom, there are no settings for bottom/right, just top/left.

[2012-05-03 21:51] JonFerraiolo commented on #2173
Closing, can't reproduce now.

[2012-05-03 21:51] #2173 closed, assigned to JonFerraiolo

[2012-05-03 21:51] JonFerraiolo commented on #2054
->M7

[2012-05-03 21:51] aerwin opened #2175 "Need ability to control ordering of widgets within category in palette"
Most of the time widgets within a category are controlled by a single package.json file and the ordering on the display is just determined by the order in the file. However, this starts to break down when widgets from multiple plug-ins are put into the same category.

For example, the screen shot below is from in my local environment where I've "promoted" GridX from the Untested section to the Doj

[2012-05-03 21:53] JonFerraiolo commented on #1995
->M7

[2012-05-03 21:58] doronrosenberg opened #2176 "FF: Can't select widgets using Outline view"
[code]

[2012-05-03 21:59] #2048 closed, assigned to JonFerraiolo

[2012-05-03 22:00] doronrosenberg commented on #2176
This also happens after a reload of the page

[2012-05-03 22:02] JonFerraiolo commented on #2025
Closing. Can't find anything about "parent folder" in the docs.

[2012-05-03 22:02] #2025 closed, assigned to JonFerraiolo

[2012-05-03 23:00] #1978 closed, assigned to JonFerraiolo

[2012-05-03 23:02] JonFerraiolo commented on #1616
-> M7  - likely to overlap with the BODY 100% issue #2054

[2012-05-03 23:03] JonFerraiolo commented on #192
-> M7

[2012-05-03 23:04] JonFerraiolo commented on #438
-> M7 Likely to become obsolete when we do our major UI makeover

[2012-05-03 23:05] JonFerraiolo commented on #1499
-> M6 Prio-Med

[2012-05-03 23:19] #2171 closed, assigned to doronrosenberg

[2012-05-03 23:46] #1459 closed, assigned to JonFerraiolo

[2012-05-04 00:15] doronrosenberg commented on #2170
fixed in rev 7a763f1

[2012-05-04 00:15] #2170 closed, assigned to doronrosenberg

[2012-05-04 00:44] JonFerraiolo commented on #665
This was fixed when I rewrote the flow drag/drop logic a couple of months ago. Closing.

[2012-05-04 00:44] #665 closed, assigned to peller

[2012-05-04 00:45] JonFerraiolo commented on #675
I think this got fixed somehow. I'm seeing the crosshair all of the way to the bottom of the visual editor's canvas even when the page is scrolled. Reassigning to @jhpedemonte to review and hopefully close if he agrees the problem got solved somehow. (Actually not totally surprising. A good part of the visual editor logic has been rewritten in past few months).

We still have the issue about being

[2012-05-04 01:06] #1560 closed, assigned to JonFerraiolo

[2012-05-04 01:26] jhpedemonte commented on #2176
-> @peller

cc @JonFerraiolo

[2012-05-04 01:33] jhpedemonte commented on #2175
@JonFerraiolo

I think this is over-engineering.  Using the order based on array is simple.

We've talked about redoing the Widget palette, mostly by creating finer grained categories.  If/when we do that (and there are less than 10 widgets per category), then yes, we can probably just get by using alphabetic sorting.

---

As for this particular case, we can probably improve things slightly:
- Do

[2012-05-04 01:33] jhpedemonte commented on #2174
-> @JonFerraiolo

[2012-05-04 01:42] JonFerraiolo commented on #2175
I am hoping we will do a major makeover for the Widget palette in time for 1.0. Let's see what the UI proposals are there. Those proposals should (I would hope!) make it so that each group of widgets has few members inside, in which case alphabetic might work just fine.

[2012-05-04 01:44] aerwin commented on #2175
Not sure if it's over engineering or not... I've seen ordinal-based plug-ins in other IBM console frameworks.

At any rate, perhaps a good discussion for the UX call... my thinking was a category for a single widget was overkill, but if that's the future design direction, we can certainly do that. I guess eventually TreeGrid might go in there as well, so that would be 2 widgets.

[2012-05-04 01:46] JonFerraiolo commented on #2171
I don't think so. The UI folks want to go in the other direction. Right now we don't show the Widgets palette when no editors are open, and they would prefer we should the Widgets palette always, but with disabled styling (instead of hidden).

[2012-05-04 01:48] peller commented on #2176
FF only, apparently

[2012-05-04 02:00] peller commented on #2176
see #1018

[2012-05-04 02:17] peller commented on #2176
so now when I click on an element in the outline view in FF, I get an error if I have a CSS editor up but out of view, as it tries to handle the selection event

[2012-05-04 02:18] #2176 closed, assigned to peller

[2012-05-04 02:50] peller commented on #2175
I don't think simple category sections on a palette will do.  I've suggested that we need to have multiple "tags" on each widget which can be searched/sorted, and that the palette might be better off giving priority to "frequently used" widgets or otherwise making it configurable to have favorites

[2012-05-04 03:32] peller commented on #2172
@evanhw

[2012-05-04 03:59] jhpedemonte opened #2177 "Validate/sanitize all inputs to server commands"
(assigning to @childsb initially)

@JonFerraiolo

[2012-05-04 04:04] jhpedemonte commented on #2177
In 9d154439f2caa0a1f63394e5a1ab4cd80307714a, I added comments to some of the command handlers, specifying whether inputs are validated.  Some were not -- see the `XXX` comments.

Need to fix unvalidated inputs and to look over remaining command handlers.  **And add comments** as seen in commit.

[2012-05-04 04:28] #1988 closed, assigned to JonFerraiolo

[2012-05-04 04:30] JonFerraiolo opened #2178 "Offer ability to rotate clipart (silhouettes in particular)"
You can now place mobile device silhouettes onto canvas as clipart, but they are only available in landscape orientation

[2012-05-04 05:08] jhpedemonte commented on #2175
Actually, that's a good idea (using tags).  And I think it would be good to have a section for "recently used" at the top, and then a grid based on tags under that.

[2012-05-04 14:21] JonFerraiolo commented on #2175
@jmockler @doronrosenberg

I expect everyone will agree with the motherhood and apple pie statement: let's keep it simple and intuitive, particularly for first time users, and then offer tools for advanced users (that don't complicate first-time users!) so they can optimize their productivity.

I think most everyone likes "Recently used". We have also talked about a Favorites section, but right no

[2012-05-04 15:51] JonFerraiolo opened #2179 "Can't select in Outline palette"
(Using Mac Chrome)
- New HTML File - hifi page
- Add a Button and Calendar
- With Calendar selected, go to Outline palette and click on Button

Result=> Button gets selected in Outline, but on canvas the selection chrome is still on the Calendar, and the Properties palette still shows Calendar as the current widget

[2012-05-04 16:25] peller commented on #2175
I'm suggesting that tags wouldn't be an advanced feature, but rather how we would ship widgets.  Instead of fixed categories, there would be tags and multiple ways of looking at things.  As an advanced features, tags could be added/edited.

[2012-05-04 17:30] doronrosenberg opened #2180 "Need a way to dnd to top/bottom of page"
When we have full screen widgets (like ScrollableView), it seems impossible to drop something at the top or bottom of the page.

@jhpedemonte @JonFerraiolo

Perhaps when we are in DND, we overlay on top of the toolbar 2 drop targets - one for dropping at the top, one for the bottom of the page?

Another option is that fullscreen widgets have drop areas at the top/bottom which allow to drop before/

[2012-05-04 17:35] doronrosenberg opened #2181 "Scenes - selecting ScrollableViews switches back to selecting Normal"
For mobile, drop a few ScrollableViews.  Selecting any view in Scenes selects the widget correctly and changes the selected scene to be visible, but the Normal scene remains highlighted in the Scenes view.

This is quite confusing.

[2012-05-04 17:56] jhpedemonte commented on #2180
I think we need more scenarios here.  The one you mention (dojox.mobile Views) is somewhat of a special case -- the Views are (for the most part) meant to take the full screen and then just act as containers for subsequent widgets.  This is how they'll be used 99% of the time.

There is the rare case where a user will want to put a widget outside of the view -- for example, Header and TabBar widge

[2012-05-04 18:10] aerwin opened #2182 "Need resizable modal dialog for reuse across Maqetta"
@doronrosenberg @JonFerraiolo

For the GridX wizard (and other parts of Maqetta like file dialogs, etc.), we have a need for resizable modal dialogs. Unfortunately, `dijit.Dialog` is not resizble. In addition, there is also an experimental `dojox.layout.FloatingPane` that's resizable, but not modal. So, we don't have anything readily available that satisfies both the modal and resizable requiremen

[2012-05-04 18:21] JonFerraiolo commented on #286
-> @doronrosenberg

[2012-05-04 18:21] JonFerraiolo commented on #1165
-> @doronrosenberg

[2012-05-04 18:21] JonFerraiolo commented on #529
-> @doronrosenberg

[2012-05-04 18:22] JonFerraiolo commented on #319
-> @doronrosenberg

[2012-05-04 18:23] JonFerraiolo commented on #167
-> @doronrosenberg

[2012-05-04 18:25] JonFerraiolo commented on #2182
I also assigned related issues #286, #1165, #529, #319, #167 to @doronrosenberg . (It's likely there are some dupes in that list of bugs)

[2012-05-04 18:42] JonFerraiolo commented on #2182
It looks like Dojo doesn't offer anything that corresponds to a resizable-modal, but Dialog is auto-sizing, so what if the contents of the Dialog were placed inside of a DIV and that DIV was resizable? Then wouldn't the Dialog be resizable because it would resize itself based on the size of the containing DIV?

[2012-05-04 18:44] aerwin opened #2183 "Need wizard framework for reuse across Maqetta (which conforms to guidelines)"
@JonFerraiolo @billreed63

The Review & Commenting wizard follows the style shown in the screen shot below:

![R&C wizard](http://i.imgur.com/9DhxA.png)

Important features include:
- Normal wizard constructs like Next, Back, Finish buttons
- Clickable steps along the top that give status as to whether that part of wizard has been completed
- An area in the bottom left corner to show error/warning

[2012-05-04 18:48] doronrosenberg commented on #2182
While its been a while, I remember we had a hard time adding and managing Underlays in BigSheets due to popup.js not providing access to the underlay management code.  Do subclassing Dialog is probably the best choice.

Probably do something similar for Maqetta.  Create Dialog class that allows:
- Passing in a title
- Passing in an array of objects for buttons at the bottom of the dialog: [{label:

[2012-05-04 18:48] doronrosenberg commented on #2182
While its been a while, I remember we had a hard time adding and managing Underlays in BigSheets due to popup.js not providing access to the underlay management code.  Do subclassing Dialog is probably the best choice.

Probably do something similar for Maqetta.  Create Dialog class that allows:
- Passing in a title
- Passing in an array of objects for buttons at the bottom of the dialog: [{label:

[2012-05-04 18:58] aerwin commented on #2182
One caveat in regard to being able to pass in an array of objects for buttons. It either needs to be made robust enough to handle more complicated scenarios (like the wizard below) or needs to be able to be overridden:

![R&C wizard](http://i.imgur.com/9DhxA.png)

[2012-05-04 19:02] doronrosenberg commented on #2182
We can handle that by not passing in any buttons, so the contents of the dialog would handle buttons.

[2012-05-04 19:04] JonFerraiolo opened #2184 "ComboBox gets messed up if container has line-height"
@peller - maybe file a ticket in Dojo/Dijit?
- New HTML File
- Add a DIV, set DIV's height to 36px in the Properties palette
- Add a LABEL, then a ComboBox

Result-> everything OK
- Select the DIV and in Properties palette set its line-height to 36px

Result-> ComboBox gets messed up. Grows to fit available area.
- Select the ComboBox and in Properties palette set it's line-height to Normal using

[2012-05-04 19:14] #145 closed, assigned to JonFerraiolo

[2012-05-04 19:14] doronrosenberg commented on #2181
This happens when no mobile container is selected, so regular hifi page. Might be a won't fix though because no mobile is selected

[2012-05-05 01:13] JonFerraiolo opened #2185 "Subwidget connections not always cleared in Focus.js?"
I was researching another bug and looked at the subwidget logic in Focus.js. It seems to me that the event listeners for /davinci/states/state/changed (attached as this._connections) are not cleared in all cases. It seems like the connections only get cleared when a new widget is selected and the new widget also has subwidgets.

Could you please review the code and perhaps call clearList() in othe

[2012-05-05 01:15] JonFerraiolo commented on #1349
Closing. Researched the code and everything looks OK as is, except maybe for some of the theme editor logic. I logged issue #2185 to research that.

[2012-05-05 01:15] #1349 closed, assigned to JonFerraiolo

[2012-05-05 21:04] JonFerraiolo commented on #2178
This might be somewhat tricky to add. Some alternatives, none of which look particularly attractive:
- Add support for CSS3 transforms on a global basis. However, this will likely add major ripple effects to the code because transforms will confuse the selection logic because things will be transformed versus their non-transformed DOM position
- Add a rotation property to all clipart widgets. I pl

[2012-05-05 21:11] JonFerraiolo commented on #1996
I fixed this a couple of weeks ago. I discovered a typo in one of the parent.isLayout conditionals. Closing.

[2012-05-05 21:11] #1996 closed, assigned to JonFerraiolo

[2012-05-05 21:13] JonFerraiolo commented on #1925
-> @doronrosenberg

I don't know how hard it is to construct a regex for IDs and classnames. Ideally, the regex would be perfect and deal with globalized strings, but that might be quite challenging.

[2012-05-05 21:16] JonFerraiolo commented on #1888
Closing this. I'm not seeing any problems now. Maybe I fixed some of the behavior since logging this issue.

[2012-05-05 21:16] #1888 closed, assigned to JonFerraiolo

[2012-05-05 21:18] JonFerraiolo commented on #1546
Closing - seems to be fixed now.

[2012-05-05 21:18] #1546 closed, assigned to JonFerraiolo

[2012-05-05 21:26] JonFerraiolo commented on #1222
-> @billreed63

Note that sticky notes added from toolbar get added as last child of BODY, whereas sticky notes added from Widgets palette become the child of the parent widget upon which the sticky note was dropped. (often parent widget is BODY, but if you are doing a mobile UI, the parent widget usually will be a view)

How hard would it be to change the behavior of StickyNote icon on the toolba

[2012-05-05 21:32] JonFerraiolo commented on #593
-> @doronrosenberg
Could you please do an inventory of our various form widgets (HTML, Dijit and dojox.mobile) to make sure all of those widgets have 'name' properties in the widget-specific section? Then please close this issue.

[2012-05-05 21:32] JonFerraiolo commented on #593
Oops, didn't mean to close.

[2012-05-06 00:42] #2178 closed, assigned to JonFerraiolo

[2012-05-06 00:48] JonFerraiolo commented on #684
-> M7

[2012-05-06 00:50] JonFerraiolo commented on #1463
-> @doronrosenberg, lowering priority for Prio-Low M6

This issue is really part of a major cleanup of all of the various dialogs to make them consistent both from a UI perspective and from an implementation perspective.

For this issue in particular, one thing to consider is that the "parent folder" field in the New Folder dialog perhaps should be replaced by the DropDownButton control found on t

[2012-05-06 00:51] JonFerraiolo commented on #1370
Closing - I did some cleanup, I don't think we need any more.

[2012-05-06 00:51] #1370 closed, assigned to JonFerraiolo

[2012-05-06 00:56] JonFerraiolo commented on #1358
I fixed lines and arrows. Still need to think about IMGs (which is mostly clipart).

[2012-05-06 00:57] JonFerraiolo commented on #925
-> M7

[2012-05-06 00:59] JonFerraiolo commented on #237
-> @doronrosenberg

[2012-05-06 03:43] JonFerraiolo opened #2186 "Sometimes context menu doesn't work in Outline palette"
@peller

Intermittently, the context menu doesn't work in Outline palette. Console will show this message:

[code]

What I'll guess is happening is that the menu that appears over the canvas is creating a menu widget with id==davinci.ve.cut, and it still exists when the outline palette tries to do the same thing. I haven't looked at the code so I don't know if the problem is that sometimes the con

[2012-05-06 04:34] #207 closed, assigned to JonFerraiolo

[2012-05-06 04:35] JonFerraiolo commented on #2186
Actually, I'm pretty sure that if you use the context menu on canvas, you can't use it on Outline palette, and vice versa

[2012-05-06 16:22] JonFerraiolo commented on #70
We've cleaned up this area of code. Closing.

[2012-05-06 16:22] #70 closed, assigned to JonFerraiolo

[2012-05-06 16:23] JonFerraiolo commented on #2140
-> M7 Prio High

[2012-05-06 16:23] JonFerraiolo commented on #2122
-> M7

[2012-05-06 16:42] JonFerraiolo commented on #1785
Menu values are defined by Background.js:89, built simply from 'values' for the given property defined in big property table at top of SwitchingStyleView.js:91.

[2012-05-06 16:43] JonFerraiolo commented on #1742
-> M7

[2012-05-06 16:43] JonFerraiolo commented on #1551
-> M7

[2012-05-06 16:44] JonFerraiolo commented on #1549
-> M7 Prio High

[2012-05-06 16:44] JonFerraiolo commented on #1473
-> M7. Note that recent changes for polylines will likely be helpful in providing curved paths feature

[2012-05-06 16:49] JonFerraiolo commented on #1456
Can easily be pushed to M7. The case that's broken is more on the rare side and the results aren't catastrophic to the user.

[2012-05-06 16:49] JonFerraiolo commented on #1218
-> M7

[2012-05-06 16:49] JonFerraiolo commented on #505
-> M7

[2012-05-06 16:50] JonFerraiolo commented on #608
-> M7 Prio-High, when we might be changing Properties palette more dramatically anyway.

[2012-05-06 16:53] JonFerraiolo commented on #396
In addition to above, should disable surround with ... if there is a mix of absolute and flow layouts in selection. (Also, disable if anything in selection has a different parent, but I think we do that already)

[2012-05-06 16:57] JonFerraiolo commented on #2055
-> M7

I looked at this and I need to think more about whether we should do what the title says. There is an obvious tradeoff. If we don't allow use to drop on focus chrome, then it's harder to drop widgets into containers and the drop action might not be as intuitive because the user might think dropping on chrome is equivalent to dropping on widget.

However, the other side of the argument is th

[2012-05-06 18:08] #1926 closed, assigned to JonFerraiolo

[2012-05-06 18:09] JonFerraiolo commented on #1547
-> M7

[2012-05-06 18:10] JonFerraiolo commented on #1158
-> M7

[2012-05-06 20:22] JonFerraiolo opened #2187 "CSV in grids - sample file? release notes? allow source editing of *.csv files?"
@aerwin @billreed63

I see that #119 was closed about a month ago, but I don't see a note in #199 about what commit fixed the issue. Assuming CSV data now works with DataGrid, some follow-on questions:
- Can we include a sample *.csv file within the sample_data folder? (maqetta.core.server/WebContent/samples/sample_data)
- Can we add a mention of CSV support in our Preview 6 release notes (maqetta

[2012-05-06 20:23] JonFerraiolo commented on #2120
First draft of release notes are ready: 9a3824b76c and 4aecd74226

[2012-05-06 20:43] JonFerraiolo commented on #1801
(@peller, @billreed63, @aerwin, @doronrosenberg)

Pushing to M7 and reassigning to @jhpedemonte .

When our application state logic runs outside of the Maqetta page editor  (eg preview in browser or review/commenting), AppStates.js sometimes changes CSS properties ('display', 'width', 'left' etc), and it is necessary to invoke appropriate widget-specific APIs so that container widgets can re-run t

[2012-05-06 20:46] JonFerraiolo commented on #276
-> M7

[2012-05-06 20:47] JonFerraiolo commented on #282
-> M7 Prio High

@billreed63 @jmockler

[2012-05-06 20:48] JonFerraiolo commented on #591
-> M7

[2012-05-06 20:49] JonFerraiolo commented on #725
-> @doronrosenberg  M7 Prio Med

What we are looking for is an content or innerHTML field in the Widget-specific area for HTML files which shows the exact same text that appears within SmartInput.

Note that if we go through with merging the Properties palette and SmartInput into a floating popup widget, then this issue is likely to fall out of that merger.

[2012-05-06 20:54] JonFerraiolo commented on #578
-> M7

[2012-05-06 20:55] JonFerraiolo commented on #522
-> @doronrosenberg M7

[2012-05-06 20:57] JonFerraiolo commented on #596
-> M7 Prio Med

[2012-05-06 20:58] JonFerraiolo commented on #739
-> M7 Prio Med

[2012-05-06 20:58] JonFerraiolo commented on #870
-> M7 Prio Med

[2012-05-06 21:00] JonFerraiolo commented on #1109
-> M7

[2012-05-06 21:01] JonFerraiolo commented on #1405
-> @doronrosenberg M7 Prio Med

[2012-05-06 21:02] JonFerraiolo commented on #1474
-> M7

[2012-05-06 21:03] JonFerraiolo commented on #1723
-> M7

[2012-05-06 21:04] JonFerraiolo commented on #2051
-> M7 Prio Med

[2012-05-06 22:03] JonFerraiolo commented on #682
Actually, things are working a little better now than I expected. Here are some remaining problems:
- Heading appears to defaults to width:100% or width:auto, with result that Heading is way to wide. For absolutely positioning, should default to 300px or something like that.
- Same for RoundRect, RoundRectList, EdgeToEdgeList but opposite result, widgets have near zero widget. Need to default o 30

[2012-05-06 22:06] JonFerraiolo opened #2188 "dojox.mobile.ContentPane comes in with zero height"

[2012-05-07 14:39] aerwin opened #2189 "orion build shows wrong user name after logging in"
I created an Orion account for user "aerwin", but after logging in Maqetta says "Welcome, B" instead of "Welcome, aerwin".

[2012-05-07 14:50] #2179 closed, assigned to peller

[2012-05-07 14:58] aerwin opened #2190 "Can't open HTML files after New Theme command"
At some point while working through MainMenubar/basic.html, I lost the ability to open HTML files. I think it happened after I did New Theme..., saw an error dialog, and then reloaded Maqetta. I've tried logging in and out with no success.

[code]

[2012-05-07 15:07] aerwin commented on #2190
As a quick follow-up, I created a new project (e.g., "project2') and am able to open HTML files when that project is open. If I switch back to project1, I still cannot open HTML files there.

[2012-05-07 15:15] aerwin commented on #2190
FYI... confirmed this occurs after trying to create a new theme. E.g., try to clone claro and see alert box with following error when click OK:

[code]

From this point forward, I can't open HTML files.

[2012-05-07 15:40] aerwin opened #2191 "MainMenubar/basic.html test case preferences section on JavaScript needs updated"
This test case says that after bring up the Preferences dialog that:

However, there is no JavaScript section. I think this is probably correct, but the text in the test case should be updated.

[2012-05-07 15:57] JonFerraiolo commented on #2191
-> me

[2012-05-07 15:58] doronrosenberg opened #2192 "[TweetView] dojox.mobile.TabBar - barType should be a dropdown"
[code]

[2012-05-07 16:00] JonFerraiolo commented on #1967
-> M6 Prio Med - I might be able to enhance the parser to ignore `<?php...`?> with minimal effort and with reasonable safety. But for M6, the only feasible thing is PHP.

[2012-05-07 16:09] JonFerraiolo commented on #2190
-> @billreed63 I'm seeing the same thing with latest source code from github, even when Orion isn't involved.

[2012-05-07 16:16] billreed63 commented on #2189
I logged in with my google account at got user C

[2012-05-07 16:22] JonFerraiolo commented on #2190
@childsb - might be coming your way soon

[2012-05-07 16:22] aerwin opened #2193 "Can't rearrange widgets within outline palette"
Basically, drag and drop within outline palette seems to be turned off. I thought I heard on scrum this was a known issue, but I don't see any open item for that. Feel free to dup if one exists.

[2012-05-07 16:23] doronrosenberg opened #2194 "[TweetView] iphone.css and claro.css don't work well together"
The issue in TweetView with the tabbar cutting of label text is due to claro.css setting a line-height on all li nodes.

@jhpedemonte @JonFerraiolo @peller

Can we disable claro.css from loading when we are in mobile mode? This probably affects other mobile widgets as well and not just tabbar.

[2012-05-07 16:25] #2192 closed, assigned to doronrosenberg

[2012-05-07 16:26] doronrosenberg opened #2195 "[TweetView] Tabbar fixed property shows [object Object] when disabled"

[2012-05-07 16:29] JonFerraiolo opened #2196 "Newline/CR not working for 'id' property"
If you type a value into the 'id' field and hit return, nothing happens. If you click away, the ID gets reset. All other fields in Properties palette apply the new value upon hitting return.

[2012-05-07 16:33] peller commented on #2193
I think @JonFerraiolo mentioned it.  Works fine for me on master.  There were issues fixed a few days ago.

[2012-05-07 16:33] aerwin commented on #2193
This was using the orion build we were to use for testing. Perhaps that build doesn't have your fix, or it's orion specific.

[2012-05-07 17:08] billreed63 opened #2197 "Can not make style changes for state"
Drag drop label
add a couple states, select one of the states and try to change the font color of the label for that state for that state

The apply to state chack box is missing from the cascade

[2012-05-07 17:18] #2083 closed, assigned to peller

[2012-05-07 17:21] jhpedemonte opened #2198 "Add logging for Maqetta app"
Need to add logging from the Maqetta app, so we can log visitors, 404 requests, etc.  Right now, we're only logging requests to the Joomla app running on maqetta.org.

Does Orion provide logging capabilities, or is it something that can be easily added?

[2012-05-07 17:30] doronrosenberg commented on #1405
Do we want to try to use the platform the user is one to determine the button order - mac users get the mac ordering, windows/linux the default one?

[2012-05-07 17:41] JonFerraiolo commented on #2193
Doesn't work for me on master with latest code. I created a virgin workspace and restarted server, and then opened Sample1.html and tried to rearrange the DIVs within the first pane of TabContainer. Dragging on the DIV caused no visible signs of anything happening.

In fact, I don't see how it is possible to rearrange widgets in outline palette when click-select isn't working in outline palette.

[2012-05-07 17:58] doronrosenberg opened #2199 "Can't select Line/Arrow/PolyLine/etc from Outline"
Orion build/Firefox.  I dragged one of each drawing tool item to sketch mode.

Selection of any of those items using the outline view doesn't work.  It seems to usually not select anything or sometimes select the last one I selected using the mouse to click on it.

[2012-05-07 18:05] JonFerraiolo commented on #2194
-> @billreed63 who is the theme set meister

[2012-05-07 18:11] JonFerraiolo commented on #2199
-> @peller  (almost certainly a dupe - probably not drawing tool specific)

[2012-05-07 18:16] JonFerraiolo commented on #1405
nah, it's a browser app, we can ignore platform-specific conventions, and just make sure we are consistent within ourselves

[2012-05-07 18:24] JonFerraiolo commented on #2197
I tried the same steps above with today's build and I see the checkbox. Here is what I did:
- Launch Maqetta in browser (I was using today's Orion build)
- Add a label
- Add two new states aaa and bbb
- Go to aaa state
- In Properties palette, go to Fonts and Text, then go to cascade for 'color'

Result=> Checkbox appears

Now I don't doubt there are bugs in this area, but I suspect the bugs manif

[2012-05-07 18:50] JonFerraiolo commented on #2193
Working for me now with latest code. Tested on both Chrome and FF. (When I made comment an hour ago, I was a few commits behind because a server commit was preventing app from running, and had to wait for a server fix before I could get latest code)

[2012-05-07 18:52] JonFerraiolo commented on #2199
Works for me using latest code on master.

[2012-05-07 19:03] doronrosenberg commented on #2199
Indeed, only happens on the orion build, master works fine.

[2012-05-07 19:05] #2193 closed, assigned to peller

[2012-05-07 19:30] doronrosenberg opened #2200 "DataGrid csv support is broken"
@billreed63 @peller

Looks like something changed and changing stores is throwing an exception.  Looks like DataGrid::reparentTheStore is the issue - when we switch from ItemStore to CSVStore, it is trying to reparent the old ItemStore that has been removed.

[2012-05-07 19:41] jhpedemonte commented on #2194
Are we still adding **claro.css** all the time now?  That should come from metadata, shouldn't it?  The mobile widgets don't depend on claro.css.

[2012-05-07 19:48] aerwin commented on #2200
Is this a dup of #2160?

[2012-05-07 19:50] doronrosenberg commented on #2200
indeed it is

[2012-05-07 19:50] #2200 closed, assigned to doronrosenberg

[2012-05-07 20:07] billreed63 commented on #2194
We are still adding claro by default, we still need to address how to get default desktop theme's from toolkits

[2012-05-07 20:19] JonFerraiolo commented on #2194
@peller
The problem in this case is that we are merging dojo.css into claro.css. It's dojo.css that provides generic styling for HTML elements.

[2012-05-07 20:42] jhpedemonte commented on #2195
Why?  You can have both:

[code]

and

[code]

Both examples are based on those from http://dojotoolkit.org/reference-guide/1.7/dojox/mobile/ScrollableView.html (replace second Heading with TabBar).

In the 2nd case, the Heading and TabBar are still visible while switching between Views.

[2012-05-07 20:52] jhpedemonte commented on #682
What about adding a helper for all mobile widgets that sets width/height (depending on values from page) if the page is set to absolute positioning/sketch mode?  Only issue with such an approach is that users wouldn't be able to easily switch between portrait and landscape modes, since dimensions would be fixed.

**updated:** But that might not be such a big issue, since the user is in _sketch mod

[2012-05-07 21:15] JonFerraiolo commented on #682
I expect I'll need to use a helper. I haven't dived in to this one yet, but I believe I had to do this for TabContainer and some other Dijit widgets in order to have a different default for absolute vs flow.

yep

[2012-05-07 21:25] peller commented on #2194
@JonFerraiolo where do we merge dojo.css and claro.css?  I see two distinct @import statements in the user files.

[2012-05-07 21:54] childsb commented on #2119
Do we have a good recreate for this scenario?

Here's how it works with localhost user.  If we're not running in localhost mode, we create the User object, and dangle it off the session user variable with an explicit time out.  If we're are running in localhost mode, the user object isn't dangled.  Instead there's a getLocalHostUser(..) call that returns the localHost user object.

So there should

[2012-05-07 22:52] doronrosenberg commented on #2160
Yeah, this breaks CSV loading.  Perhaps we should have a checkbox for json/csv? This used to work

[2012-05-07 22:54] doronrosenberg commented on #2195
@jhpedemonte

[code]

The metadata says it must have a parent of ScrollableView

[2012-05-07 22:58] peller commented on #2190
my guess is this message is coming from one of the two instances of this line

[code]

in model/resource/Folder.js or Resource.js

The alert's gotta go, as well as the serverJSONRequest call that hides all the relevant error info.

[2012-05-07 23:00] doronrosenberg commented on #2187
CSV is currently broken (#2160)

[2012-05-07 23:24] doronrosenberg commented on #2195
Changing scope of the bug, we are showing [object Object] when it is disabled.

I also tried setting fixed outside a view, it doesn't work well.

[2012-05-07 23:27] JonFerraiolo commented on #2194
@billreed63 do you know? (my best two guesses: (1) we create a built version of claro.css manually, (2) our build process creates a built version of claro.css)

[2012-05-07 23:36] JonFerraiolo commented on #2194
I think I found the culprit. Look at maqetta.core.client/WebContent/dijit/themes/claro/document.css. It imports dojo.css.

_update_ Wait, I don't see who imports document.css, so maybe that's not the culprit afterall.

_update_ The Dijit oam files all include dojo.css. I don't think that's right. Maybe we did that as a temporary hack once upon a time and now it has come back to bite us? @jhpedemon

[2012-05-07 23:41] doronrosenberg commented on #2160
Workbench.js has handleIoError which is handling the IO error here.

[2012-05-07 23:52] JonFerraiolo commented on #2160
Obviously, we don't want handleIoError to kick in when user data files fail, only when the server fails to honor a command request.

[2012-05-08 00:27] peller commented on #2194
When I look at user source, I _do_ see an @import for dojo.css, also for claro.css.  When I look at the claro.css content, I do not see anything that resembles dojo.css.

[2012-05-08 00:28] peller commented on #2194
@JonFerraiolo which rule do you see in claro.css that's suspect?

[2012-05-08 01:07] JonFerraiolo commented on #2194
Look at davinci.dojo_1_7/WebContent/maqetta/themes/claro/claro.css:1715. Those CSS rules are part of dojo.css. When I add an IconContainer and look at the LI nodes for IconContainer in the debugger, I see these rules (from dojo.css) applied to LI, and browser says the rules are coming from claro.css:1715.

[2012-05-08 02:22] peller commented on #2194
Wow.

Ok, well looking at the Dojo releases, dojo.css hasn't been directly @imported into the theme files since Dojo 1.5.  @billreed63 do we just need to update this file?   I seem to remember us updating these copies of the theme files on multiple occasions, but maybe it got lost in one of the moves?

[2012-05-08 02:42] peller commented on #2142
@jhpedemonte

When called for an Eclipse project, `cmd/getUserLibs` returns maqetta with root: WebContent/  Because lib.root is truthy, Context.getLoaderPackages appends an extra entry to `packages`

When run with a non-Eclipse project, lib.root is "" in that situation, so no extra package entry for 'maqetta' is added.

[2012-05-08 03:33] #2158 closed, assigned to jhpedemonte

[2012-05-08 03:34] jhpedemonte commented on #1750
After fixing #2158, I know of no further issues as a result of the one-require changes.  Closing.

[2012-05-08 03:34] #1750 closed, assigned to jhpedemonte

[2012-05-08 03:50] jhpedemonte commented on #2156
Wasn't able to reproduce this locally or with nightly build on lab9:50010.  Did you copy in library files (see jQuery/YUI section in [Developer Guide](https://github.com/maqetta/maqetta/wiki/Developer-Setup))?

[2012-05-08 03:50] #2156 closed, assigned to jhpedemonte

[2012-05-08 04:19] jhpedemonte commented on #1608
Closing.  First issue was handled by #2158; 2nd fixed by #1750.

[2012-05-08 04:19] #1608 closed, assigned to jhpedemonte

[2012-05-08 05:01] jhpedemonte opened #2201 "Upload of files seems to work, but file doesn't exist"
1. Upload a file -- I've tried with HTML, JS, CSS and image.  Notice that file is listed in **Files** view.
2. Double click file to open it.  Maqetta will show an editor with the **dirty bit set** and default content, as if you had **created a new file**.
3. Close file and click OK on warning dialog.  File is still listed in Files view.
4. Double click on file to re-open.  -> Maqetta errors out.

[2012-05-08 13:15] billreed63 commented on #2194
If I remember correctly claro was updated when we updated the toolkit to 1.7.  The version that was added to the maqetta themes was a built version to improve network performance, maybe the build process imports dojo.css

So say we remove dojo.css from claro don't we still have an issue if we mix desktop widget and mobile on a page.

If the page is mobile do we add claro but not dojo.css, and for

[2012-05-08 13:27] billreed63 commented on #2119
The client side code checks for single user mode and if true we set the timeout on the client side to -1 which tells the rest of the code that the timeout logic is disable.

[code]

[code]

[2012-05-08 13:47] billreed63 commented on #1884
AppStates throws exception when opening theme editor

[code]

[2012-05-08 16:05] JonFerraiolo opened #2202 "Help users with duplicate ID problems?"
@jhpedemonte, @doronrosenberg, @peller, @billreed63, @aerwin, @childsb

I just helped a user with a problem where he had duplicate IDs in his file, and when he tried to open the file with Preview 5.0.1, Maqetta just hang. In the console there were messages about duplicate IDs. As we all know, Dijit pretty much keels over and dies if there are duplicate IDs on widgets.

One obvious approach would b

[2012-05-08 16:08] jhpedemonte commented on #2015
Best way to test this:  load **Sample1.html** from a remote build (i.e. lab9).

I see the blank editor open up, pause like this for a bit, then the **Loading** indicator briefly flashes before the content appears.

[2012-05-08 16:08] #2196 closed, assigned to doronrosenberg

[2012-05-08 16:20] doronrosenberg opened #2203 "Outline shows phantom iframe"
Drag and drop a DataGrid, reload the file and a phantome iFrame shows up in outline.  Context menus are all greyed out.

Switching to source view removes the iframe from outline.

[2012-05-08 16:26] doronrosenberg commented on #2202
UI wise I would say that if there is a problem with the source parsing, we overlay the content area of the tab (not a dialog) with a message saying what happened, a button or link to the source editor view, and a button that does fixup in case of certain issues (ID duplication for example).  We need to make sure we can handle multiple tabs with errors, so dialogs are useless in this case.

Also, p

[2012-05-08 16:30] JonFerraiolo commented on #1914
I poked around a bit on this one. I tried to add a magic keyboard key that a user could press while Maqetta was loading, which would cause Maqetta to launch without any open editors, but I don't think that approach is viable for two reasons: (1) keyboard focus at launch time is often in the browser chrome (e.g., URL bar) and not in the Maqetta document, (2) with AMD, the application often starts s

[2012-05-08 16:31] doronrosenberg commented on #2199
No longer happening on the newest orion build

[2012-05-08 16:31] #2199 closed, assigned to peller

[2012-05-08 16:32] JonFerraiolo commented on #2203
-> @billreed63 M6 Prio Med just so we will investigate

[2012-05-08 16:33] doronrosenberg opened #2204 "DataGrid - csv loading broken when trying to reparent"

[2012-05-08 16:40] childsb commented on #2201
File was getting saved as .workingCopy.  Fixed here: cb741855f246255df96190318845ddb8f3c61125

[2012-05-08 16:40] #2201 closed, assigned to childsb

[2012-05-08 17:04] jhpedemonte commented on #1914
Well, we shouldn't even need a cookie. Just write JS code to check for the URL parameter.

[2012-05-08 17:06] childsb commented on #162
@JonFerraiolo @peller Is this fixed?  I've tried the following scenarios without error:

1) create folder1
2) upload a jpg file to folder1
3) create a new HTML in the root
4) DND jpg in folder1 to new html
5) notice that the prop palette has proper URL in widget specific properties
6) copy then paste the image.  notice the URL in the widget specific properties is relative/correct.

and i've tried

[2012-05-08 17:19] peller commented on #2194
I remember updating too, but you may want to try again.  claro.css hasn't referenced dojo.css since Dojo 1.5. Even after a build process, claro.css should not have dojo.css content, so I'm wondering if we have the 1.5 version checked in.

[2012-05-08 17:19] #2190 closed, assigned to billreed63

[2012-05-08 17:19] billreed63 commented on #2190
fixed by 944dfe05e6dd177cb96f5959767d7b84660485f5

[2012-05-08 17:33] JonFerraiolo opened #2206 "ThemeSets dialog major performance problems"
On a slow server with a slow connection, there are a few performance issues with the ThemeSets dialog.
- The ThemeSets... dialog is very slow coming up. Looking at Network panel, we are doing a findResource for *.theme files, and then pulling down the *.theme files. Anyway this info can be cached on the client? Since this is a potentially slow operation, we should at least put up a wait cursor or

[2012-05-08 17:52] aerwin commented on #2193
Verified on orion build that @childsb just posted.

[2012-05-08 18:26] #2204 closed, assigned to doronrosenberg

[2012-05-08 18:30] JonFerraiolo opened #2207 "Background properties doesn't show in mobile theme editor"
With today's build, you can't see global page background color changes. The themes are changed, but the global page background color changes aren't visible in mobile theme editor.
- Pull down a build (eg http://maqetta.org/nightly/maqetta-20120508-0102.zip)
- New theme custom->custom2
- In mobile theme editor, select Page background and fonts
- Change background-color

Result=> Nothing shows on sc

[2012-05-08 18:37] JonFerraiolo commented on #162
Closing. I also could not reproduce. Not sure who fixed it, though.

[2012-05-08 18:37] #162 closed, assigned to childsb

[2012-05-08 18:48] JonFerraiolo commented on #2194
Maybe all we need to do is overwrite the version at davinci.dojo_1_7/WebContent/maqetta/themes/claro/claro.css with the version found at davinci.dojo_1_7/WebContent/dojo/dijit/themes/claro/claro.css. (Also check mobile themes)

[2012-05-08 18:51] JonFerraiolo commented on #1914
Hasn't the URL parameter been tossed away by the server? If not, then sure, we don't need a cookie.

[2012-05-08 18:59] doronrosenberg commented on #1475
The main technical concern here is we need to listen to events in the iframes for each design view.

[2012-05-08 19:09] jhpedemonte commented on #1914
URL parameters (i.e. "http://foo.com/bar?param=1") get passed to the server.  Hash values (i.e. "http://foo.com/bar#param") are only client side.

But we don't need to involve the server here.  The client side JS is what opens the editors.  We just check for the param at that point.

[2012-05-08 19:09] billreed63 commented on #2207
I changed alot of this processing in the themeEditorDeltas branch, I don't see this issue on that branch. So I think we should wait until we merge with master to see if this problem is resolved

[2012-05-08 19:10] jhpedemonte commented on #1475
In `Context.js::_setSource()`, we already add some stuff into each editor iframe, before even loading the actual source from the file.  We could do the same for key listeners, **routing them up to the parent**, where they would be handled.

[2012-05-08 19:20] childsb commented on #1914
There's a couple issues to keep in mind--

1) This will duplicate functionality as we have workbench.settings file to load open editors on startup.
2) Not all of our code appreciates URL parameters.  Leaving URL params in the location.href  may break things.

We have a nearly identical issues with selected project.  I got around these by:

1) Parsing URL paremeters in pagedesigner.html.  After you

[2012-05-08 19:31] JonFerraiolo commented on #1475
Right, we need key event listeners in each editor iframe and also in the Maqetta app's frame - user might hit Ctrl-S with the focus in either an editor iframe or in the Maqetta app's frame.

[2012-05-08 20:05] childsb commented on #2119
I did a big cleanup around userInfo / single user mode: 24121c3d98b0319df5a02931771cf03ce9fecd7d

Some changes:
1) Refactored userName --> userId (unique, may be auto generated)
2) Added first name / last name fields (not implemented in UI
3) Replaced userName in UI with email address (notably in the toolbar)
4) Moved all single user mode to one point.  Bypassed the session variable when in localM

[2012-05-08 20:05] #2119 closed, assigned to childsb

[2012-05-08 20:43] JonFerraiolo opened #2208 "Switch themes should resize the page"
(we might have a bug for this already)

(using Chrome)
- New theme - clone claro into claro2
- Open Sample1.html
- Switch theme to claro2

Result=> TabContainer isn't rendered correctly. You have to pull on a splitter to resize the inner iframe for the TabContainer to render correctly.

Seems like there should be a way to trigger widget resizing with a theme change command.

[2012-05-08 20:51] JonFerraiolo opened #2209 "TextBox, ComboBox styling wrong with custom theme in themeEditorDeltas branch"
- New Theme - clone claro to claro2
- Set global background color to something else

Result=> TextBox widgets (and everything that inherits from TextBox) turn gray, whereas if I run off of master, TextBox widgets change background color along with everything else

[2012-05-08 21:03] jhpedemonte opened #2210 "Odd widget-placement issue with BorderContainer & ContentPane"
1. Add an **AccordionContainer**.
2. Add a **BorderContainer** into _Pane 1_ of the accordion.  Accept defaults.
3. Add a **ContentPane** into the left-most pane of the BorderContainer.
4. Try to add a widget into the center-top or center-bottom panes of the BorderContainer.

I am unable to add a widget into those two regions (although center-center works fine) -- widgets are instead placed in the

[2012-05-08 21:06] jhpedemonte opened #2211 "Get selection rectangle when finished dragging scrollbar"
1. Add **AccordionContainer**.
2. Add enough widgets into Pane 1 such that there are scrollbars.
3. Drag scrollbar to move content.

Notice that after letting up on the mouse (to finish scrolling operation using scrollbar) that a selection rectangle appears.

@peller, is this related to what you did with the Outline view?

@JonFerraiolo

[2012-05-08 21:10] jhpedemonte opened #2212 "Error loading sliderThumbs.png when adding slider"
I get an error that the following URL failed to load, when adding a HorizonalSlider or VerticalSlider:

http://xxx/maqetta/user/D/ws/workspace/project1/themes/claro/form/images/sliderThumbs.png

[2012-05-08 21:19] jhpedemonte opened #2213 "Blue bar across top of app, when adding SpinWheel* widgets"
![blue bar](http://i.imgur.com/aLm73.png)

To (attempt to) reproduce:
1. New file.
2. Start dropping any combination of SpinWheel\* widgets.

Assigning to @doronrosenberg for now, but I wonder if it has anything to do with @JonFerraiolo's widget selection code, which employs a similar hue of blue.

[2012-05-08 21:20] JonFerraiolo opened #2214 "Session timeouts with theme editor"
@childsb

Maybe this will be addressed with @childsb recent server changes.

When testing the themeEditorDeltas branch (and simultaneously testing master using today's build using localhost:50000), in both cases I'm getting regular session timeouts even though I'm running single user and I swear neither session has been idle for 15 minutes.

Is there something special about theme editors where ses

[2012-05-08 21:26] JonFerraiolo opened #2215 "ListItems don't re-render in mobile theme editor after height/line-height changes"
Seeing this both in master and in themeEditorDeltas. My guess it's also in Preview 5.
- Clone custom -> custom2
- Go to ListItem widget.
- In subwidget UI, click on radio button by ListItem subwidget.
- In Properties palette, set height to 30px and line-height to 30px

Result=> no visible changes on the theme editor's canvas
- Save, close.
- Reopen custom2 theme editor, look at ListItem widgets

R

[2012-05-08 21:34] JonFerraiolo commented on #2206
After playing with theme editor for a couple of hours, I think we need to fix these performance problems. Things are slow even when running locally. -> M6 Priority High

[2012-05-08 21:52] JonFerraiolo commented on #2213
I got into Photoshop to check the color values of the blue rectangle to see how it compares with the Focus.js selection chrome, and the color values are quite a bit different. The blue rectangle is #0042F6, and the selection chrome colors are quite a bit different (#6a94dc, #d3e1ee, #2b7bfc,#246ce4,#042378). I did a `grep -i` across Maqetta and Dojo for 0042F6 and came up empty.

Which browser(s)?

[2012-05-08 21:55] JonFerraiolo commented on #2211
-> me, changing to Prio High

[2012-05-08 22:00] JonFerraiolo commented on #2210
I think the problem is that the last ContentPane added obscures the rest of the BorderContainer. ContentPane's default to 300x300, and the left region of the BC is very small (because the BC is inside of a 300x300 Accordion). When I select the CP and resize it so that it doesn't extend outside of its parent (which happens to be another CP), then I can drag/drop widgets into the center-top and cent

[2012-05-08 22:01] billreed63 commented on #2214
Do you get the warning banner with the 30 second count down? if not what is most likely  happening so a IO error to the server. We catch IO errors and send the user back to the login...

[2012-05-08 22:08] peller commented on #2211
@jhpedemonte the fix to #1018 was specifically for the outline tree widget (ToggleTree), but perhaps a similar workaround is needed.  It is a general bug with Dojo DnD.  Are you saying this was a regression?

[2012-05-08 22:16] doronrosenberg opened #2216 "Cannot open any files"
Loading maqetta:

[code]

Trying to open a new file, I get redirected to the error page with:

[code]

Happened after taking brad's last checkin.  I blew away all my files and tried a fresh "workspace", same issue

[2012-05-08 22:27] peller commented on #2193
works for me.  Though the outline view does collapse when you make the change (known issue)

[2012-05-08 23:24] #2211 closed, assigned to JonFerraiolo

[2012-05-08 23:31] JonFerraiolo commented on #2197
-> @billreed63 Could you please try this again? I tried on a couple of different occasions and had no problems.

[2012-05-08 23:57] JonFerraiolo opened #2217 "TypeError if subwidgets showing and change appstate in different editor"
- Open a desktop theme editor (e.g., clone claro into claro2)
- Open Sample1.html
- In theme editor, click on Calendar, then in subwidget popup, choose "Selected date"
- Make Sample1.html current
- In Scenes palette, click on "Add Task" state

Result=>
`Uncaught TypeError: Cannot call method 'isStateValid' of undefined  Focus.js:736`

What's happening is that the theme editor and page editor are s

[2012-05-09 00:05] JonFerraiolo commented on #2188
@jhpedemonte, @peller, @doronrosenberg
Ah, the problem is that when we first implemented support for dojox.mobile, the widgets used attribute `dojoType` but with 1.7 they upgraded to `dojo-data-type`, and our special CSS rule for dojox.mobileContentPane was still defined using `[dojoType=dojox.mobile.ContentPane]`. Easy fix coming soon: use `div.mblContentPane` instead.

oh, yeah, this bug shipped

[2012-05-09 00:07] #2188 closed, assigned to JonFerraiolo

[2012-05-09 00:44] peller commented on #2212
sliderThumbs.jpg has an uppercase 'S' in our themes/ metadata dir

[2012-05-09 00:46] #2212 closed, assigned to peller

[2012-05-09 01:05] peller commented on #2194
yes, that's what I suggest.  We should probably do a more careful cleanup of the entire dir.

[2012-05-09 01:09] peller commented on #2206
I noticed today that we're pulling down all *.theme files on Workbench startup.  Is that new?

[2012-05-09 01:26] jhpedemonte commented on #2213
Hey, I said the colors were "similar", not exact!  :-)

This was on Chrome, and I've been able to reproduce quite a few times.

[2012-05-09 01:31] jhpedemonte commented on #2210
Right, I understood what was going on.  However, I don't understand why -- why is the added ContentPane (a child of BorderContainer's left-most ContainerPane, itself a child of the BorderContainer DIV) getting precedence over the center-top and center-bottom ContentPanes?  And why isn't it an issue with the center-center ContentPane, even though it is also within the area of the added ContentPane?

[2012-05-09 01:38] jhpedemonte commented on #2216
You tested after this commit: 24121c3d98b0319df5a02931771cf03ce9fecd7d ?

[2012-05-09 02:19] peller commented on #2202
I don't think it's as important to invest in automatic handling of these error cases as it is to make sure they surface to the user, especially given that the user can manipulate source directly.  There are lots of things that can go wrong.  Duplicate ids is just one of them.  I thought we were catching and posting these errors already.  Have we regressed?

[2012-05-09 04:32] jhpedemonte commented on #2099
For our internal server (lab9), I set up forwarding through **sendmail** -- which queues up outgoing messages and retries in case of failure.

---

In general, I agree with Adam -- why write this into our code when solutions (such as sendmail) already exist.  At most, I would say we mention this issue/solution in our release/setup notes.

@JonFerraiolo

[2012-05-09 12:45] billreed63 commented on #2197
seems to work today

[2012-05-09 12:45] #2197 closed, assigned to billreed63

[2012-05-09 13:22] peller commented on #2099
"In general, I agree with Adam" -- I like this quote.

So, taking this a bit further, I suppose we should have a way to redirect failure messages from sendmail to a particular user (lower priority)  That could probably be accomplished with some fancy .forward script.

[2012-05-09 13:57] peller opened #2218 "Save Icon does not show up in plain text editor"
When trying to edit a file with an unrecognized extension such as ".txt" or no extension at all, a plain editor appears with the content and the user is able to make edits without any assists (good) but there is no save icon or any toolbar icons at all

[2012-05-09 13:59] peller commented on #2218
@JonFerraiolo: on a related note, you can create a file like foo.txt by using new Javascript File and changing the filename to "foo.txt" at which point you get the same behavior above and no Javascript handling.  Another reason why, I think, we should have a single create file menu for the various file types, with HTML perhaps being a special case.

[2012-05-09 14:04] peller opened #2219 "focus box clipped by viewport"
Drag several tall widgets like Calendar on to the canvas until a scrollbar appears
Scroll to the top of the page
Click to select the last visible widget
Observe that the focus box appears in its entirety on the page, even if the widget does not.  This gives a false location of the bottom two corners of the widget.

[2012-05-09 14:08] peller opened #2220 "remove console.warns in DataGridInput:379"

[2012-05-09 14:43] doronrosenberg commented on #2216
@jhpedemonte I am up to date and I get those errors still.  I'll check to see if eclipse is doing something weird

[2012-05-09 15:07] doronrosenberg commented on #2216
here is the exception:

[code]

[2012-05-09 15:33] doronrosenberg commented on #2216
cleaning the project fixed this

[2012-05-09 15:33] #2216 closed, assigned to childsb

[2012-05-09 15:51] jhpedemonte commented on #2218
dupe of #43?

[2012-05-09 15:54] JonFerraiolo commented on #2219
Same thing we've had all along, even when we had the hashed focus chrome. The obvious trade-off is: (a) if you don't pull selection chrome into "viewport", then user may not see the selection chrome and has no visual feedback about what is currently selected, (b) if you do pull selection chrome into viewport, then the selection chrome appears to indicate a different size for widget that what it re

[2012-05-09 15:54] peller commented on #2218
yah

[2012-05-09 15:54] #2218 closed, assigned to nobody

[2012-05-09 16:24] JonFerraiolo opened #2221 "Multiline html comments broken"
@billreed63

Multiline HTML comments are broken in HTMLParser.js.
- Create new HTML file
- Split view
- Enter the first 3 lines below at the top of the source editor

[code]
- Save, close, reopen

Result=> top 3 lines are now mangled

[code]

Things are even worse if you attempt to use multiline comments in the BODY.
- New HTML file
- Split view
- Add Button and CheckBox via drag/drop on canvas. B

[2012-05-09 16:25] peller commented on #2183
does dojox.widget.Wizard help here, perhaps as a starting point?

[2012-05-09 16:27] doronrosenberg commented on #2213
I see the issue in chrome only, and its white for me

[2012-05-09 16:50] JonFerraiolo commented on #2213
I can't reproduce. Do you guys see this regularly, or just once in awhile?

[2012-05-09 16:58] doronrosenberg commented on #2213
I can reproduce this consistently by drag and dropping 2 spinwheel widgets.  Funnily enough, if I undo the second drop, the bar goes away, and comes back when I redo

[2012-05-09 16:58] doronrosenberg commented on #2213
Oh and chrome only.  On firefox it works, but I noticed that once I drop the spinwheels they are not styled correctly while they have the correct style on chrome

[2012-05-09 17:02] JonFerraiolo commented on #2210
OK, I figured out what's going on. The DOM tree looks like this:

[code]

Note that Dijit gives each of the ContentPane children of BorderContainer a z-index:2 (undoubtedly for a very good reason).

Because the region order is top, bottom, left, right, center, the left region (and all of its children) are "above" the top and bottom regions. However, the center region is "above" the left region. Th

[2012-05-09 17:03] doronrosenberg commented on #2213
ok,this seems to be a z-index issue.  If I change the "davinci_top_bar" z-index to 500 it fixes it.

[2012-05-09 17:05] JonFerraiolo commented on #2213
is web inspector running when this is happening? If so, what's currently showing in the inspector?

[2012-05-09 17:12] doronrosenberg commented on #2213
[code]

I wonder if this is the issue, we aren't loading the right compat files?

[2012-05-09 17:19] doronrosenberg commented on #2213
The webinspector doesn't show anything above the toolbar, its really weird.

Oddly enough, I can click on the links in "hidden" toolbar and show the dropdowns.  I almost have to wonder if this is a chrome bug.

[2012-05-09 17:40] billreed63 commented on #2166
The way the CSSParser deals with comments is not very robust, the parser pushes all whitespace and comments in to a pushToken variable while looking for the next  non comment or whitespace token.

[code]

When it finds the next non comment/whitespace token it returns that token

The code the deals with that token has code that hangs the pushComment on the model  object for example CSSProperty

[co

[2012-05-09 17:53] aerwin commented on #2183
There might be some limited potential for some re-use, but what `dojox.widget.Wizard` offers is pretty simple in comparison to what I think our goal is. It mainly just has a content area and pre-defined buttons for forward, back, etc.

![DojoX Wizard](http://i.imgur.com/EAenY.png)

[2012-05-09 18:36] peller commented on #1997
see also #2047 -- need to undo that workaround

[2012-05-09 19:01] JonFerraiolo commented on #1997
yes, push to M7

[2012-05-09 19:23] jhpedemonte commented on #2210
OK, given the above, I'll close this as just a "browser quirk".

[2012-05-09 19:23] #2210 closed, assigned to jhpedemonte

[2012-05-09 21:08] childsb commented on #2046
Cleaned up these non-amd ref in commit: befc6d7796e704d256c73b753377a54000d8c65e

As a bonus I tried removing the Review/Resource class all together but wasn't successful.   There is some re-design on how the review editors are identified before we can get rid of the review resource classes all together.