[2011-05-27 18:59] jmockler opened #442 "Properties palette/outline palette should have a type ahead filter"
Properties palette/outline palette should have a type ahead filter

[2011-05-27 19:03] jmockler opened #443 "Icons in the Review toolbar for the review author"
Icons in the author toolbar.. should be larger and more tactile.. currently they are combined with the 'Review' metaphor, which is repeated, and are often overlooked. The hover help also needs to be refined.

The actions & hover help should align with the states of a review:
1. STOP a review (red stop control)
2. Pause a review (yellow pause control)
3. Resume a review (green arrow with a yellow b

[2011-05-27 19:10] jmockler opened #444 "Need to show the status of a Review"
Problem: there isn't an obvious way currently that shows 'status' of a review in the Review and Commenting view.

Solution: create icons for the icons in the tree with 4 states as overlays..

The states are
1. Review is in Draft state
2. Review is Stopped
3. Review is Active
4. Review is Paused

Please work with Flan (don't know his ID) to do the following
1. Confirm the interaction
2. Design the

[2011-05-27 19:12] jmockler opened #445 "Comments view of the review and commenting"
When setting the Type and Severity.. the horizontal text jumps..

I would propose Right align the Severity under the comment.

@jmockler @JonFerraiolo @EldonReturn @dfliang
 Review and Commenting Review - May 26, 2011

[2011-05-27 19:19] jmockler opened #446 "Replace alerts and confirms with standard dialog"
(The description below is for one such scenario in the code where we are using alert() or confirm() instead of a proper dialog. A proper dialog will allow us to style the UI to match other dialogs in the product.)

When STOPPING a review, a confirmation dialog shows up in a non-maqetta style. We should revise the text, and other details, as well as ensure that the dialog matches the Claro theme.

[2011-05-27 19:26] jmockler commented on #437
Agree.. that no-reply is a common convention. I would be ok with showing that the email is from a Maqetta server instead of 'noreply'.

[2011-05-27 19:31] JonFerraiolo commented on #437
Sorry about piling on to a long discussion, but since we know the author's email, if we put reply-to to the author's email, then a reply email would actually get to the author, right?

[2011-05-27 20:01] peller commented on #437
yes, sounds like that should work.  The other option is to have some sort of redirect mechanism on our servers so we would generate a unique address at the maqetta server, then deliver the e-mail to the user, sort of like github is doing right now.

[2011-05-27 20:01] jmockler commented on #437
yes.. that would be ideal. But it sounds like @peller is saying there is a technical issue with doing that? Am I misreading @peller's last comment?

[2011-05-27 20:20] peller commented on #417
fixed by 26a178889d64a0b8967e6c0f9ce56a3e4c22c0c3

[2011-05-27 20:20] #417 closed, assigned to nobody

[2011-05-27 20:31] peller commented on #446
note that this appears to be a native window.confirm (like an alert)

[2011-05-27 20:38] JonFerraiolo commented on #445
Possibly implementation solutions: HTML table (with 2nd column text-align:right) or float:right on the SPAN surrounding the Severity controls.

[2011-05-27 22:19] JonFerraiolo opened #447 "Firefox hang on refresh if source editor is open but not active doc"
Cross-reference to https://bugs.eclipse.org/bugs/show_bug.cgi?id=337160 - we need a fix from the Eclipse/Orion team

Users at Maqetta.org are hitting an exception in the Orion editor in a particular scenario when running FF4 (Mac or Windows, doesn't matter). The exception is because the "style" object below is undefined:

[code]

The exception doesn't happen in Chrome, and only happens in Firefox

[2011-05-28 03:18] peller opened #448 "[PATCH] More buffering needed on server"
Casual inspection shows that we're not buffering many of our file reads.  I'm not sure if buffering is necessary for the servlet network connections also.  Try this patch on dleadt and see if it makes any noticeable difference.

http://pastebin.com/ECnSxzdL

I think without buffering, we are looking at an OS call for each read, sometimes one byte at a time.

Also, we should do a code inspection to

[2011-05-29 03:02] peller commented on #425
It dies in copyDirectory.  The attempt to initalize r=destination.create("Calendar.css") returns null.  It thinks that destination.isDirectory() is false, even though the previous command was destination mkdir()

[2011-05-30 01:08] JonFerraiolo opened #449 "Problems changing value or property when in non-Normal state"
- New HTML File
- Add Button and Textbox
- Add a new state "aaa"
- Make Textbox invisible in Normal state, visible in aaa state
- Go to aaa state
- Select Textbox
- Double-click in Textbox to bring up inline edit
- Change value to "zzz"
  Result => Textbox disappears. It appears display property for state 'aaa' gets clobbered

Variation of this (probably the same bug):
- New HTML File
- Add Button

[2011-05-30 02:35] JonFerraiolo opened #450 "Download workspace as ZIP exception if changing location of Dojo"
I thought this was working at one time.
- Start Maqetta fresh (or refresh browser window with Maqetta application in it)
- In files palette, click on first icon (download entire workspace)
- Change /lib/dojo to /dojo and click OK
  Result=> Exception shows in console:

Uncaught ReferenceError: foundImport is not defined
dojo.forEach.srcdavinci.js:24743
dojo.mixin.forEachdojo.js:859
dojo.declare.lo

[2011-05-30 18:17] jmockler opened #451 "Maqetta product application banner needs revision based on UXD design"
Will add more details shortly.

Contacts: @jmockler @jinsil

[2011-06-01 00:51] peller commented on #448
I suggest renaming getInputStreem to getInputStream.  Found a bunch more.

[2011-06-01 03:24] jhpedemonte commented on #372
The docs at http://docs.dojocampus.org/dojox/mobile haven't been updated since March, so don't show Dojo 1.7 changes. @peller, is there a WIP 1.7 change overview file somewhere?

Going through the files, here are the widgets that aren't listed at the link, above, and are new to Dojo 1.7.  This doesn't take into account changes to existing widgets.
- Carousel
- Checkbox
- Combobox
- ContentPane
- E

[2011-06-01 15:06] peller commented on #372
@jhpedemonte, try https://docs.google.com/document/pub?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E

[2011-06-01 15:45] jhpedemonte commented on #372
From link specified by peller:

## Differences from 1.6

**dojox.mobile.parser**
- Added support for jsId.
- Added dojo.parser = dojox.mobile.parser; so that other modules or user applications can directly call dojo.parser even when dojox.mobile.parser is used.
- Updated signature of parse() and instantiate() to align with dojo.parser’s ones.
- The 2nd argument of instantiate(), 'defaultParams', w

[2011-06-01 19:03] JonFerraiolo opened #452 "SaveAs with CSS file mangles file somewhat"
@peller
(I'm running Win/FF4)

To reproduce:
- New CSS file (accept default name of file1.css)
## \* Type in the following:

/\* seems to work */
.foo {
(tabchar)font-family:'Helvetica';
## }
- SaveAs file2.css
## Result=> Editor window goes away temporarily and restores as file2.css but initial comment is mangled and looks like this:

  /\* seems to work
*/
.foo {
(tabchar)font-family:'Helvetica'

[2011-06-01 20:22] JonFerraiolo commented on #435
The site customization features are lower priority than changing the default message as Janet has suggested.

[2011-06-01 21:49] peller commented on #452
FWIW, this happened in the preview and seems unrelated to the editor upgrade.  Is this valid CSS?  Our modeler doesn't seem to know what to make of it.  Unless there's some "prettifying" going on here, I don't know why the modeler would come into play.

[2011-06-01 22:31] JonFerraiolo commented on #452
By (tabchar), I mean the hex 09 character, not 9 characters (,t,a,b,...
Given that, then yes, the content is valid CSS. Regarding the modeler, beats me. I don't know what we do with CSS files. (Might be faster to ask the guy who wrote the code.)

[2011-06-02 00:37] peller opened #453 "New Theme is broken"
@childsb, @JonFerraiolo

Part of the problem is the lack of a themes/ directory from the readonly refactor, so mkdir on nested directories fails (and the error goes unchecked)  There appear to be several other problems before and after the mkdir call preventing the feature from working.

[2011-06-02 11:46] billreed63 opened #454 "Theme Editor should open after new theme create"
When the user creates a new theme the theme editor should be opened with that new theme. Like new html file.

[2011-06-02 12:08] billreed63 opened #455 "User can not change GridX style"
1) create new theme
2) Change global theme style (background color
3) Now Grid has to theme colors

We need to add data grid styling to theme editor also.

[2011-06-02 13:06] #414 closed, assigned to billreed63

[2011-06-02 13:07] billreed63 commented on #414
Fixed June 2011

[2011-06-02 15:16] billreed63 opened #456 "Review does not open theme editor for *.theme files"
If the user attempts to review a theme like claro the review opens the *.theme file as a source file not the theme editor.

I see you have been testing the build on mtc03 and attempted to have me review a *.theme file. You'd think this would work, but no such luck. Attached is a snapshot of my screen:

Do you want to log a bug on this or should I? I would classify this as Priority-Low. We definite

[2011-06-02 19:21] jhpedemonte commented on #372
Dojox Mobile widget gallery linked from here: http://dojotoolkit.org/features/mobile

[2011-06-02 19:50] jhpedemonte opened #457 "Need icons for new dojox.mobile widgets"
@jmockler @JonFerraiolo

Need new icons for the new dojox.mobile widgets introduced in Dojo 1.7.  See #372 for more info and list of new widgets.

[2011-06-06 15:07] billreed63 commented on #80
I have created a sample_data folder in the users workspace that contains a sample.json file that can be used by the user to create a data grid. We have decided to make some changes to the UI as documented on the wiki https://github.com/maqetta/maqetta/wiki/Data-Grid

[2011-06-06 18:58] billreed63 commented on #80
Cross domain options for URL:
1) XhrIframeProxy -  http://shaneosullivan.wordpress.com/2006/08/01/cross-domain-ajax-requests-in-dojo-and-there-was-much-rejoicing/
    This is not a good option as it requires that the server hosting the data source deploy the xip_server.html to support iframe proxy url data passing.

2) window.postMessage - This also require that the server hosting the service add

[2011-06-06 19:27] jhpedemonte commented on #224
Also see #148.

[2011-06-06 19:27] jhpedemonte commented on #148
Also see #224.

[2011-06-06 19:30] jhpedemonte commented on #224
See _allowedChildren_ and _allowedParents_ properties here: https://github.com/maqetta/maqetta/wiki/JS-Library-API

[2011-06-07 14:34] peller opened #458 "Calendar broken in dojo17"
on the dojo17 branch, drop a Calendar on the canvas and this.value is null

[2011-06-07 21:47] waynevicknair commented on #377
i ported the changes that brad and i made for preview1 to github. the solution is the addition of a command line parameter (loginUrl) which is set in the maqetta run script and read in the review and commenting servlet.

[2011-06-08 16:51] billreed63 commented on #80
The best approach is to require the cross domain data store to be JSONP format.

[2011-06-08 20:41] jhpedemonte commented on #457
See https://docs.google.com/document/pub?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E&pli=1 for images of documented dojox.mobile widgets.  Most of them are hold overs from Dojo 1.5, but there are some new ones:
- RoundRectDataList (use RoundRectList icon?)
- EdgeToEdgeDataList (use EdgeToEdgeList icon?)
- SpinWheel
- SpinWheelSlot
- SpinWheelDatePicker
- SpinWheelTimePicker

[2011-06-08 20:55] jhpedemonte commented on #457
Here are some screenshots for the form controls: http://imgur.com/a/93JGv

New widgets in Dojo 1.7 (since Dojo 1.5):
- CheckBox
- ToggleButton (toggable button with checkmark)
- RadioButton
- Slider
- ComboBox
- TextArea
- ExpandingTextArea
- TextBox

Some of these are pretty common widget types, and we can just reuse the icons for the Dijit equivalents.

[2011-06-08 21:09] jhpedemonte commented on #457
Remaining new widgets:
- Carousel
  - Side-scrollable list
  - See example here: http://archive.dojotoolkit.org/nightly/dojotoolkit/dojox/mobile/tests/test_Carousel.html
- ContentPane
  - A very simple content pane to embed an HTML fragment.
  - No UI, just a container.
- FixedSplitter
  - Another container without its own UI, which splits page.
  - See example here: http://archive.dojotoolkit.org

[2011-06-09 16:59] jhpedemonte opened #459 "How to handle dojox.mobile.View - only one visible at a time"
The dojox.mobile widgets all work within a `dojox.mobile.View` (or subclass).  Only one `View` is visible at a time, denoted by the `selected` property.

The question is how should we handle this in Maqetta?  There are two separate issues.

First, how do we handle the `selected` property of `View`?  Ideally, when a `View` is dropped on the page and there isn't an existing `View`, then `selected` s

[2011-06-09 17:07] jhpedemonte commented on #459
Re: first issue - handling `selected` property

I had previously stated that perhaps we could use States for this, but I think that would overload the intent of States and we should therefore stay away from that.

I think this can be handled by some of the proposed APIs in https://github.com/maqetta/maqetta/wiki/JS-Library-API.  In particular, `onAdd()`.  That callback would provide the type of wi

[2011-06-09 17:11] jhpedemonte commented on #459
Re: second issue - allowing user to switch between Views

This one is a bit more complex.  My current thinking is to add another toolbar across the top of the VE that shows UI representations of the Views currently on the page.  This would allow the user to select between the Views in order to edit them.  It would also allow the user to rearrange them (actually, I don't think it matters in the cas

[2011-06-09 17:13] JonFerraiolo commented on #459
My first reaction is that this is a lot like the overlay widgets that Adam is working on, and the obvious conclusion is that, like what Adam is doing for the overlay widgets, the mobile views need to be integrated with our states feature. However, that's a 5000ft comment. Devils in the details.

[2011-06-09 17:21] jhpedemonte opened #460 "Switching mobile silhouettes should auto-swap mobile themes"
dojox.mobile provides several different themes for different mobile product types.  We should provide a way to allow the user to switch between these different themes.

Currently, the dojox.mobile metadata files all include the iPhone theme, so this would need to be changed.

There is a `dojox.mobile.deviceTheme` module:

How would this work for us?  If a user wants to switch to a different theme,

[2011-06-09 17:24] jhpedemonte opened #461 "Auto-add data store when dropping RoundRectDataList/EdgeToEdgeDataList?"
Dojo 1.7 adds two new widgets, `RoundRectDataList` and `EdgeToEdgeDataList`, which work with data stores.  By default, should we also add a data store to the page when dropping either of these widgets?  Or should we extend `SmartInput` to allow user to select from a list of data stores?

@JonFerraiolo @peller @billreed63

[2011-06-09 17:34] jhpedemonte opened #462 "Support dojox.mobile.ProgressIndicator"
`dojox.mobile.ProgressIndicator`:

How do we handle this?  Do we have any other "widgets" like this?  I know we have Tooltip, which needs to be associated with a widget.  Just do something similar to that?

@JonFerraiolo @peller

[2011-06-09 17:36] jhpedemonte opened #463 "dojox.mobile.View should take up full screen"
`dojox.mobile.View` and inheriting objects should take up full screen in VE.

[2011-06-09 17:55] jhpedemonte opened #464 "Widget style selection wizard/dialog?"
Some widgets have several different styles.  For example, here are two styles for `dojox.mobile.TabBar`:

![TabBar](https://docs.google.com/document/pubimage?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E&image_id=12-nIPyCn6ImtNhiKlJxtEfRcgB4l5mk)
![Segmented Control](https://docs.google.com/document/pubimage?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E&image_id=1ffYebJkgLPVEegxlzWYvOppsNGitQc

[2011-06-09 17:59] jhpedemonte commented on #372
Created several spin-off issues:
- #457 - Need icons for new dojox.mobile widgets
- #459 - How to handle dojox.mobile.View - only one visible at a time
- #460 - Allow user to switch between dojox.mobile themes
- #461 - Auto-add data store when dropping RoundRectDataList/EdgeToEdgeDataList?
- #462 - Support dojox.mobile.ProgressIndicator
- #463 - dojox.mobile.View should take up full screen
- #464

[2011-06-09 18:03] jhpedemonte commented on #459
Like I said, I had initially thought of integrating this with States.  But I don't want to overload what States do.  I see that functionality as an easier way to specify user actions.  If we were to integrate View selection with States, now States isn't just handling those user actions.

For example, we could use the eyeballs to allow the user to switch between visible views.  But there is no othe

[2011-06-09 19:04] billreed63 commented on #80
I checked in code for the new UI, I still need to address cross domain stores

[2011-06-09 20:36] jmockler commented on #446
If we continue to use the native window.confirm dialog.. we should reformat the contents.

[2011-06-09 21:28] peller commented on #446
native dialogs cannot be styled.  all you can do is change the text which appears (not even its appearance)

[2011-06-09 21:36] childsb commented on #94
There is a regression in the Tree.js after the upgrade from Dojo 1.6.

Selection changes aren't showing up, and the "download" is never enabled.

The problem is also evident in the "Download Selected" icon above the File Explorer.

[2011-06-10 00:11] peller commented on #94
_selectNode went away in 1.6: http://bugs.dojotoolkit.org/changeset/23347/dijit/trunk/Tree.js

[2011-06-10 00:24] peller commented on #350
see 5b0fd12dbb8087fc3fa5 1665c4d5d84926af2e09 d2688c684b4e77b05e2c

[2011-06-10 00:24] #350 closed, assigned to peller

[2011-06-10 00:55] peller commented on #61
@childsb

It looks like most of the time is being spent in _updateCascadeList, Cascade.js line 443

[code]

it looks like it's looping and calling this hundreds of times

[2011-06-10 01:19] JonFerraiolo opened #465 "Firefox mobile previews misaligned by a few pixels relative to silhouette"
On Chrome and Safari, mobile previews are perfectly aligned within the various mobile device silhouettes, but in Firefox4, the iframe is shifted a few pixels to the left and top relative to the mobile silhouette. I'm pretty sure the bug is in FF not in Maqetta, but we'll probably have to create a workaround somehow until FF fixes the bug.

[2011-06-10 01:32] JonFerraiolo opened #466 "Document mobile silhouette SVGs"
Need to document how to create mobile silhouettes.

Typical technique consists of using a drawing tool such as Adobe Illustrator to create a picture of the device, then make sure the SVG file has 3 <rect> elements (usually invisible due to fill="none" stroke="none") with particular IDs and particular values for x/y/width/height:

<rect id="DeviceRect"...>
-- x/y/width/height should be such that th

[2011-06-10 01:42] JonFerraiolo opened #467 "Device silhouettes should be dynamic and extensible"
@peller, @childsb, @jhpedemonte

Right now we ship a hardcoded set of <n> mobile device silhouettes within davinci.core, and we have a matching hard-coded list of devices in our source code. We need to make things more dynamic and extensible:
- I'd like to see 3 levels (product, site, user) for device silhouette extensibility. Of course, we will continue to ship some standard silhouettes as part o

[2011-06-10 01:44] JonFerraiolo opened #468 "Some mobile silhouettes are broken"
bbplaybook.svg seems to be wrongly oriented - portrait is landscape and landscape is portrait.

androidtablet.svg - what's that? aren't there dozens of android tablets?

[2011-06-10 01:58] jhpedemonte commented on #465
What about FF 5?  What kind of workaround?

[2011-06-10 04:06] JonFerraiolo commented on #61
There might be some inefficiencies in Cascade.js, but the same computations happen for all widgets, and everything is instantaneous everywhere else. There's something special going on with MultiSelect that doesn't happen with other Dojo widgets. It might be the above line of code, but I'm not sure why. That same line of code doesn't slow down the other widgets. The one thing that I can see that's

[2011-06-10 04:17] JonFerraiolo commented on #459
This is likely the same question we have with Adam's overlay widgets. We have the same dilemma there. Initially, we thought this should be integrated with states, then I thought more about it and said no, don't overload states, but then going even deeper, we decided again that we should integrate with states, and now that Adam is 80% done, I'm feeling states are still the way to go but Adam is hav

[2011-06-10 04:23] JonFerraiolo commented on #461
I haven't looked at those widgets, but I would guess that we will want the same flexibility for those widgets as we provide for various dijit widgets, where we provide a SmartInput option for users to type in dummy data. As MVC roles out, we want all widgets to be to support data binding and all data binding to go through MVC. But that's long-term, with Dojo 1.8 being when MVC is available on a mo

[2011-06-10 04:43] JonFerraiolo commented on #464
Sure, we might do wizards or a more complex SmartInput for particular widgets. The SmartInput mechanism is pretty much set up for arbitrary complexity, not just single-value entry. BorderContainer and DataGrid are two existing examples of more complex user input.

One thing to keep in mind is what the Maqetta UI might look like 12-18 months from now after some UI changes in order to work well on t

[2011-06-10 04:48] JonFerraiolo commented on #460
It looks like the themes are tied to devices, so we should switch themes when we switch silhouettes, right? Also, (preview in browser) mobile previewer should switch themes as you switch devices there.

Bill, how do we switch themes in the page editor? Just replace LINK element href and change class name on BODY? We should see if the same techniques will work with mobile themes.

(Subsequent addit

[2011-06-10 12:54] billreed63 commented on #460
The is what we do, the code is in davinci.ve.commands.ChangeThemeCommand.js

[2011-06-10 16:12] billreed63 opened #469 "DataGrid support cross domain data stores"
Cross domain options for URL:
1) XhrIframeProxy - http://shaneosullivan.wordpress.com/2006/08/01/cross-domain-ajax-requests-in-dojo-and-there-was-much-rejoicing/
This is not a good option as it requires that the server hosting the data source deploy the xip_server.html to support iframe proxy url data passing.

2) window.postMessage - This also require that the server hosting the service add code

[2011-06-10 16:25] billreed63 commented on #469
The best option would be for the new MVC data stores to support cross domain stores, We need to investigate this in dojo 1.7. If this does not bare fruit then we need to roll our own DataStore that supports JSONP.

Example of our own data store widget:

[code]

Example of html using our data store widget:

[code]

[2011-06-10 16:34] cindyskach opened #470 "Select Layout Action shouldn't allow user to type"
When selecting "Switch layout," the user can input text rather than just being able to choose between "Flow positioning" and "Absolute positioning."

[2011-06-10 16:59] billreed63 commented on #80
opened a new issue for cross domain, so the UI update is done. issu #469

[2011-06-10 16:59] childsb opened #471 "document.head is undefined in silhouetteiframe.js"
when opening sample1.html on firefox 3.6 i get a "document.hea is undefined" around line 129 of silhouetteiframe.js

this is in firefox 3.6, and the page edit freezes.

[2011-06-10 17:00] #80 closed, assigned to billreed63

[2011-06-10 17:30] peller opened #472 "input helper not aligned with silhouette content"
@JonFerraiolo, @billreed63

Switch to a silhouette like ipad or iphone
Drag a widget like mobile view + heading (or anything, really)
Double click to edit the text in the heading.
The input helper will show up in the upper-left hand corner of the editor.  It should be adjusted for the offset of the silhouette.

[2011-06-10 18:53] JonFerraiolo commented on #471
You got to this point after you saw the "You are using an unsupported browser dialog", right? :-)

FF3.6 apparently doesn't support document.head, so I replaced 'document.head' with a call to querySelectorAll, which does work in FF3.6. Also, I found various bugs with SVG animation tags in FF3.6, so I put IF statements around things to prevent FF3.6 from dying on those tags.

Closing issue because

[2011-06-10 18:53] #471 closed, assigned to nobody

[2011-06-10 19:24] jhpedemonte commented on #372
For reference, here are the (work-in-progress) release notes for Dojo 1.7: http://docs.dojocampus.org/releasenotes/1.7

[2011-06-10 20:05] jmockler opened #473 "Make 'remember me' button sticky on login"
The check box for 'remember me' doesn't remain checked from previous sessions.

@jmockler @JonFerraiolo @peller
UI Review - Jun 10, 2011
Using Firefox 4.0

[2011-06-10 20:16] jmockler opened #474 "Progress indication when first logging into maqetta is awkward"
1. Hide the loading application with a 100% opaque white overlay, while the application loads
2. In the center of the screen show the animating circular dojo GIF to help users know that the loading process has not frozen on them
3. Beside the loading animating GIF, show the words 'Loading Maqetta...' in hex 666666 to help the user know exactly what is happening

Note: do not use the same sequence

[2011-06-10 20:39] jmockler commented on #457
Will start processing these with @jinsil

@jhpedemonte - for widgets that have changed a bit - not a huge amount in dojo 1.7 from 1.5, I would do as you'd suggested and reuse existing icons

[2011-06-10 21:08] waynevicknair opened #475 "java.lang.ClassCircularityError: org/davinci/server/internal/Activator"
builds up until this check-in ec06a864025b0e8988379ab2556740ff92b14ec1 ran. then after they get the exception bellow:

macwayne:sandbox wayne$ ./maqetta.server.unix.sh
Java version=1.6

!!!!!!!!!!!!!!
NOTE: CLOSING THIS WINDOW WILL
STOP THE MAQETTA SERVER PROCESS
!!!!!!!!!!!!!

Using jar: ./plugins/org.eclipse.equinox.launcher_1.1.1.R36x_v20101122_1400.jar
Using directory: /Users/wayne/work/build/

[2011-06-10 21:19] waynevicknair commented on #475
if i had to guess, i'd say the problem is caused by changes made to 'davinci.core/src/org/davinci/server/internal/Activator.java' which is where the java.lang.ClassCircularityError is raised.

[2011-06-10 21:52] jhpedemonte opened #476 "Support CSS files in localization bundles"
We should allow localization bundles to provide CSS files that can override the main CSS rules.  This could come in handy, for example, if a language is verbose and would need to increase the size of a dialog, in order to make the text fit properly.

@peller @cindyskach

[2011-06-10 22:09] #472 closed, assigned to nobody

[2011-06-11 01:50] peller commented on #476
flow layout is always better...   we've managed to avoid this sort of approach in dijit

[2011-06-11 02:14] childsb commented on #475
fixed

[2011-06-11 04:14] peller commented on #61
In _updateCascadeList, the for loop which iterates through this._values iterates through 183 items for MultiSelect.  For Button, it's more like 6.  It seems like for some reason, it's going through every style rule in Claro.  It repeats this loop about 17 times (once per widget instance)   We need to find out why it's not getting back a filtered list of style rules, but also how hard would it be t

[2011-06-11 19:21] #465 closed, assigned to JonFerraiolo

[2011-06-11 22:40] JonFerraiolo commented on #61
I may have found the bug. I believe there is a bug in CSSModel.js:566 in davinci.html.CSSSelector.prototype.matches(). When the domNode for which we are computing the CSS cascade has no explicit ID, nor explicit classes assigned, then the existing logic matches lots of rules, returning a specificity 0 (which is what you get when you match the "*" rule). I believe I have a fix, but I want to stare

[2011-06-12 00:40] #61 closed, assigned to peller

[2011-06-12 00:41] JonFerraiolo commented on #61
We still need to have the original author review this bug fix.

[2011-06-12 00:50] JonFerraiolo opened #477 "line numbers undefined in cascade list in Properties palette"
@childsb, @peller

We no longer have line# information in the CSS rules that are listed in the Properties palette's Cascade list (what you see if you click the right arrow icon on a given property). Instead, we see the word "undefined" where line numbers are supposed to show.

This might be because we changed the model to be character-offset-oriented rather than modeled around line#s.

Much better

[2011-06-12 01:03] JonFerraiolo opened #478 "Master tooltip appears at end of Outline palette"
With latest code, when I run through the tutorial, an extra widget appears at the bottom of the Outline palette, with a widget name of _MasterTooltip. I don't see anything in source view, though.

Assigning to Adam because I see tooltip in there. If it's not a side effect of work on the tooltip widget, maybe it's a side effect of Dojo 1.7.

[2011-06-12 01:04] JonFerraiolo opened #479 "Source pane in split view comes up blank on Mac Chrome"
At least for me in Mac/Chrome, with latest code, when I go into split view, I'm getting a blank area where the source code should be. If I jiggle a splitter, the source code appears.

[2011-06-12 01:43] peller commented on #478
I wonder if this goes back to 1.6?  Possibly related to fce5c9181fe17b08feebb06f0ef5dbbf5aedd7a2

[2011-06-12 01:46] peller commented on #475
see 6db6ac9a3ca404588124

[2011-06-12 01:46] #475 closed, assigned to childsb

[2011-06-12 01:48] peller commented on #479
dup of #423, which I thought I just fixed?  Still works for me

[2011-06-12 15:10] JonFerraiolo commented on #479
I've been pulling the latest code from master and I'm seeing this problem when I launch from Eclipse and use Mac/Chrome.

[2011-06-12 20:01] jhpedemonte commented on #476
Perhaps.  But that only handles the example I described above.  There may be other use cases.

[2011-06-12 21:14] jhpedemonte opened #480 "Exception: isExpandoNode() not a function on this.tree, drag/drop in Outline"
With latest code (Dojo 1.7 update), I get an exception when trying to drag a widget in the Outline view.  The error is in `dijit/tree/_dndSelector.js`:  `this.tree.isExpandoNode` is not a valid function on `this.tree`.

[2011-06-12 21:59] peller commented on #476
name 'em,

[2011-06-12 23:53] #404 closed, assigned to nobody

[2011-06-13 01:47] jhpedemonte commented on #480
OK, so I guess we only updated to Dojo 1.7 for the library used in users' pages -- Dojo used by app is still at 1.6.1.

The file `dijit/tree/_dndSelector.js` tries to access `this.tree.isExpandoNode`.  However, `dijit/Tree.js` does not actually define such a method in Dojo 1.6.1.

That method **is** there in Dojo 1.7.  Not sure what is going on here.

[2011-06-13 02:11] #480 closed, assigned to jhpedemonte

[2011-06-13 02:15] jhpedemonte commented on #480
I undid Brad's change, since it was pretty destructive and changed quite a bit of Tree.js.  Caused this bug and may have caused others.

[2011-06-13 14:08] #94 closed, assigned to nobody

[2011-06-13 16:14] jhpedemonte commented on #479
I am also seeing this issue.

[2011-06-13 16:23] jhpedemonte commented on #16
Marking as closed. @peller, I assume everything is done with this bug?

[2011-06-13 16:23] #16 closed, assigned to peller

[2011-06-13 16:28] peller opened #481 "Upgrade Dojo in workbench to 1.7"

[2011-06-13 16:29] peller commented on #16
yeah, filing a separate issue to upgrade the workbench to 1.7: #481

[2011-06-13 16:31] jhpedemonte commented on #372
Closing. Further issues handled in spin-off bugs.

[2011-06-13 16:31] #372 closed, assigned to jhpedemonte

[2011-06-13 16:39] peller commented on #423
Jon and Javier say they're still seeing the problem (see #479)

[2011-06-13 16:40] peller commented on #479
closing as dup of #423

[2011-06-13 16:40] #479 closed, assigned to peller

[2011-06-13 16:45] jhpedemonte commented on #474
Similar to #87, but more encompassing.

[2011-06-13 17:20] waynevicknair commented on #412
i'll close it with the request that folks clean up files as they touch them. no point in wasting time with compile warnings right now. it would just add risk.

[2011-06-13 17:20] #412 closed, assigned to childsb

[2011-06-13 19:43] waynevicknair commented on #377
revisiting

[2011-06-13 21:07] jhpedemonte commented on #87
Fix commit: 5d8b34afb65df264df2190fc3b3eb7062e79c4bc

[2011-06-13 21:32] jhpedemonte opened #482 "Update device silhouettes, add to preview-in-browser"
Created issue to track many associated commits.

[2011-06-13 21:34] jhpedemonte commented on #482
Commits:
- 3cf9b376ce670025af60c88ec25a937cb322b164
- a17bc4a1cfe0d960db3425657116d29415852708
- 14c577297a90a6440e3aa16a5cf953c9ba0fc0c6
- 4d66edf88608cbdae611bf29aeae15502d720717
- a8d848b0181ca94aad7bcad94431bcad0d40f847
- ddd1e098864e4e6bfb9e021e18b8126487faecd1
- 0bf8a1c84d51aac0e24c360c7a8bbfa7868af5d6
- 5b4cea4b82f695296ec27db4f8d349ca3d1d160f
- 38e171b00528ae018d913cffd5d91065f2c5711d
- ba

[2011-06-13 21:34] #482 closed, assigned to JonFerraiolo

[2011-06-13 22:05] jhpedemonte opened #483 "Clicking "Create" in new file dialog throws error"
Clicking on the **Create** button in the **New HTML File** dialog throws an error in `davinci.model.Resource._checkFileName()`.  The call to `dijit.byId('fileDialogFolderTree').getSelectedItems()` returns an array of length zero, which the code does not expect.

Not sure what caused this to fail, since it was working fine with code I pulled late last night.

@peller @JonFerraiolo

[2011-06-14 00:15] JonFerraiolo commented on #483
I went through commits one by one to see where this broke. It works with the commit:
[2e42cb1cefbc3c802f84]
but fails after the following commit (_selectNode no longer exists in dijit.Tree for Dojo 1.6+. Fire this ):
[fecec78a4e15a892a2f8]

Here is a partial explanation of what's going wrong. With Preview 1, there was always a selected TreeItem. With the new code, by default nothing is selected. T

[2011-06-14 01:40] peller commented on #483
well, in Dijit, the entire _selectNode method disappeared, so I think it's all duplication at this point.  I was trying to connect the code which assumed its existence.  It's not clear why we're using this widget for the file view at all.

[2011-06-14 02:56] peller commented on #483
it's coming back to me now... I think the reason a custom Tree widget is used here is to avoid showing the top-level root node

[2011-06-14 04:03] jhpedemonte commented on #483
According to http://dojotoolkit.org/reference-guide/dijit/Tree.html, it should be as simple as setting `showRoot = false` to hide the root node. No custom widget required.

[2011-06-14 04:06] jhpedemonte commented on #476
Well, off the top of my head:
- BIDI (although, not sure how that's handled by Dojo)
- colors - In some cultures, certain colors (particularly red) can have a strong negative reaction and should therefore be avoided.

[2011-06-14 04:07] jhpedemonte commented on #476
You know, this may be getting too esoteric.  It was always a low priority issue, but probably best to just close this and come back to it if necessary.

[2011-06-14 04:07] #476 closed, assigned to nobody

[2011-06-14 12:20] peller commented on #476
Agreed.  I know, we always had this requirement in the back of our heads at Dojo, but were able to avoid it with careful design.  Flow layout almost always solved size problems (BiDi poses no special size constraints) and neutral designs for colors, pictures, etc.

[2011-06-14 14:54] childsb commented on #425
fixed.

[2011-06-14 14:54] childsb commented on #419
fixed.

[2011-06-14 14:54] childsb commented on #47
fixed.

[2011-06-14 14:56] #425 closed, assigned to childsb

[2011-06-14 14:57] #419 closed, assigned to childsb

[2011-06-14 14:57] #47 closed, assigned to childsb

[2011-06-14 15:04] peller commented on #425
see also #453?

[2011-06-14 15:05] peller commented on #453
dup of #425?

[2011-06-14 15:05] #453 closed, assigned to childsb

[2011-06-14 15:09] childsb commented on #47
commit  5d77b24461d8390bfb27

[2011-06-14 15:12] childsb commented on #425
commit  ec06a864025b0e898837

[2011-06-14 16:55] JonFerraiolo commented on #483
But we need to show the root (i.e., "."). It's the default choice and somehow the user needs to say that the new file should be placed into the root folder of the workspace. Therefore, I'm pretty sure we need showRoot=true

[2011-06-14 16:58] jhpedemonte commented on #483
@JonFerraiolo, I think @peller was referring to the tree in the Files view, which doesn't show a root.  As he mentioned in the call, the `davinci.ui.widgets.Tree` object may be used unnecessarily in other parts of the code, where `dijit.Tree` will do just fine.

[2011-06-14 17:13] JonFerraiolo opened #484 "Build number not showing in "About maqetta""
@jhpedemonte, @peller

In the built version, there is no build# showing in the About Maqetta dialog (davinci.core/WebContent/davinci/ui/about.js). When we were using Subversion in the past, the build scripts would stuff the last checkin number from Subversion into file davinci.core/WebContent/davinci/repositoryInfo.js before running the Dojo build scripts, and as a result, when the product ran, th

[2011-06-14 17:25] JonFerraiolo commented on #484
Reassigning to me. Adam figured out what was wrong, and I'll make the fix.

[2011-06-14 17:35] JonFerraiolo opened #485 "Build number shows string "Preview1""
The automatic build number that is stuffed into repositoryInfo.js starts with the string "Preview1". Can we change this because we are moving past Preview 1 to Preview 2?

Ideally, it would be good to replace "Preview1" with date/time so that the build# information consisted of date, time, commit#, but an easier fix would be to simply remove "Preview1" and simply leave last commit# information. Th

[2011-06-14 17:53] JonFerraiolo commented on #483
Ultimately, when we support multiple "file clients" from Orion, I think we'll need the root to show in Files palette (or even better replace Files palette with Orion navigator widget). But this bug is about "Create HTML File" palette, and on that palette, we do show the root (".") and have to show the root.

[2011-06-14 17:54] #484 closed, assigned to JonFerraiolo

[2011-06-14 18:00] peller commented on #485
Wayne, is there an easy way to transform the git-describe string to date/time info?  If it's available as a url query, perhaps we could just provide the github url instead of date/time info?   In this case, I think git-describe/commit is more useful and precise than date/time.  We just need a way to get both easily, right?

[2011-06-14 18:10] JonFerraiolo opened #486 "Files palette download command shouldn't require selecting file first"
@childsb, @jhpedemonte
The download context menu command is working again. Yay!

But one of the nit-picky UI things: it shouldn't be necessary to first click-select a file before the context menu activates the "download" command. Instead, if any files selected, or the mouse is over a legitimate file in the palette, then download context menu command should be active. If any files selected, then do

[2011-06-14 18:16] peller commented on #483
I think this bug is trying to get a selection from the explorer first.

[2011-06-14 18:18] billreed63 opened #487 "Themes missing from open/new theme selection box"
1) Open magetta
2) From the menu bar New -> theme

The "clone theme" selection box is empty.

@peller

[2011-06-14 18:21] JonFerraiolo commented on #483
This bug is about the Create New File dialog, which posts a tree widget that shows the user's workspace, with "." as the root node of that tree. When initializing the dialog that contains this tree widget, _selectNode() is called to select "." (or whatever folder was the last folder selected in the Files palette). The bug is that _selectNode() isn't actually selecting "." (or whatever folder it sh

[2011-06-14 18:37] JonFerraiolo opened #488 "Datagrid doesn't refresh properly upon initial creation"
@peller, @jhpedemonte

With latest code, I'm seeing the new UI for DataGrid, and it looks pretty good to me. However, perhaps due to Dojo 1.7 update, the DataGrid doesn't redraw properly for me on Mac/Chrome. If I accept the default data, the bottom of the last row of data is clipped. I have to jiggle the size of the DataGrid to get all of the data to be visible.

[2011-06-14 18:43] JonFerraiolo opened #489 "Include a SampleData.json file in samples"
@billreed63, @jhpedemonte, @peller

With the new feature in DataGrid where a user can pull in data from a file in his workspace, we really should have an existing data file for us to use, at least for demos. Even though this would make the default workspace bigger, I think this makes sense. What I propose is copying countries.json from Dojo and renaming it SampleData.json at the root of the worksp

[2011-06-14 18:59] billreed63 commented on #489
I already added a sample_data folder to the workspace that has a sample.json file
It does not have country data but I could change that

Closed 2011

[2011-06-14 18:59] #489 closed, assigned to JonFerraiolo

[2011-06-14 20:27] JonFerraiolo opened #490 "Smart input causes user's page to disappear until clicking OK"
@peller, @jhpedemonte

Not sure when this problem first started to manifest itself, but I'm pretty sure this is a recently introduced problem. I'm seeing this on Mac/Chrome and Mac/FF4.

To reproduce:
- Relaunch Maqetta
- New HTML file
- Add a Button

Result=> Smart Input appears just fine, but underlying page (with the Button on it) goes white until Smart Input goes away.

[2011-06-14 20:37] JonFerraiolo opened #491 "Server console error messages about jqueryUI and YUI"
@jhpedemonte

Upon creating a new HTML file, the server console shows these messages, even though my Widget palette shows sections for jQueryUI and YUI:

Library file not found! :WebContent/jquery-ui-1
Library file not found! :WebContent/yui

Then if you try to add jQuery and YUI widgets do an HTML page, you just get the HTML snippets without any of the jQuery and YUI library magic that turns them

[2011-06-14 20:51] JonFerraiolo opened #492 "SaveAs on JavaScript and CSS files not working"
@jhpedemonte, @peller
- Double click on Sample1.js to open in source editor
- Click on SaveAs icon, and then set filename to 'file1.js'
- Click "Save" button

Result=> Sample1.js editor goes away (which is fine). file1.js editor appears, but with empty content.

Note that if you made modifications to Sample1.js before doing SaveAs, the changes are saved back to Sample1.js (which is wrong).

Same p

[2011-06-14 20:53] billreed63 commented on #490
smart input was using the same css class as loading, now that loading is solid white smart input needs it's own css class

[2011-06-14 20:53] #490 closed, assigned to billreed63

[2011-06-14 21:01] JonFerraiolo opened #493 "Download selected files only downloading first selected file"
To reproduce:
- In Files palette, select Sample1.html and app.css
- Click on 2nd icon in Files palette toolbar (download selected files)

Result=> Dialog comes up but only shows Sample1.html and doesn't show app.css. Furthermore, if you proceed with the download, only one of the selected files is in the ZIP

[2011-06-14 21:05] JonFerraiolo opened #494 "Modify libraries lib/dojo/=>dojo/ results in dojo not defined"
To reproduce:
- Click on 3rd icon in Files palette toolbar
- Change Dojo's path from lib/dojo to dojo
- Open Sample1.html

Result: No widgets show for Sample1.html and console shows 'dojo is not defined'

[2011-06-14 21:13] jhpedemonte commented on #489
How will this affect existing users?  They won't get this new file, unless we do some server copying, or something of the sort.

[2011-06-14 22:13] JonFerraiolo commented on #489
@waynevicknair

good point! My first thought is to auto-add the sample data folder into existing workspaces. It does highlight a more general long-term issue about how we should handle samples. I've been thinking we should put all of the sample files into a single samples/ folder. Then we could make that read-only and then it would automatically update with new releases, just like libs/ and themes

[2011-06-14 22:43] peller commented on #448
also 5d3424a0464562b450f3b4ac694c312d27b3446a

[2011-06-14 22:53] #448 closed, assigned to childsb

[2011-06-14 22:54] peller commented on #448
note: d6e49e1c2101b66802b992fde88e5aab08812bb5 was overwritten.  Redid the patch just now

[2011-06-14 23:29] JonFerraiolo opened #495 "Toggle silhouette rotate icon on editor toolbar"
@jhpedemonte

Preview in browser toggles the rotate icon from rotate_ccw to rotate_cw with each click. We need to do the same thing in the page editor. Page editor is trickier though because we have built a sprite for all of the icons, but haven't integrated sprite building into the auto-build script yet. The question is whether to wait to fix the build scripts in the right way (probably best appr

[2011-06-15 02:44] jhpedemonte opened #496 "Integrate auto-generation of sprite images during build"
See 575a0fc2351d2f787fef58a24a8f281a8c940690 for initial creation of sprite image, using http://spritegen.website-performance.org/.

However, adding or changing the sprite requires manual editing of sprite or going through the generation process again.  Easiest would be to keep the CSS files pointing to individual images, but do auto-generation of sprite image(s) during build process.  We can use

[2011-06-15 03:06] peller commented on #496
we shouldn't be editing these that often

[2011-06-15 03:07] peller commented on #496
I'm wondering why the tool leaves so much space between the images?

[2011-06-15 03:12] jhpedemonte commented on #496
Yes, Adam does have a point: we won't be doing this often, so maybe just keep it manual right now, and document the process so others can update images.

As for the space between images, I just took the default spacing by the tool.  With compression, though, it shouldn't make a difference.

[2011-06-15 03:15] NathanaelA opened #497 "Ability to Create JSON output"
It would be neat if it created a JSON based output format in addition to the HTML format.

for example the builder can spit out something like this;

{
layout:"absolute",
title:"Container 1,
items:[{
    type:"textfield",
    fieldLabel:"Text",
    name:"textvalue",
    x:"20",
    y:"30"
  },{
    type:"fieldset",
    title:"Legend",
    autoHeight:true
  }]
}

---

What I'm looking for basically

[2011-06-15 04:13] JonFerraiolo commented on #449
Most likely explanation is that dvStates gets dropped when text content is changed (via ModifyCommand). Most likely fix is to find a way to restore dvStates through the process of deleting the old version of the widget and recreating a new version of the widget.

[2011-06-15 04:27] JonFerraiolo commented on #72
@peller

The common denominator causing the blank previews above are the use of dojox.mobile widgets. The browser debugging console shows messages about duplicate use of IDs by multiple dijit widgets.

We included the dojox.mobile widgets in the Preview 1 release mostly as a "vision" feature because we wanted the community to see a glimpse of where we intended to go with visual authoring of mobile

[2011-06-15 04:36] #483 closed, assigned to peller

[2011-06-15 05:07] kspain commented on #72
FYI - while all of my current html pages have mobile widgets on them, when I first saw the issue I was using the accordion container and menu - no mobile widgets. I will try to reproduce that way.

[2011-06-15 12:45] billreed63 commented on #350
Reviewed June 2011

[2011-06-15 12:54] billreed63 commented on #80
Closed June 2011

[2011-06-15 12:55] billreed63 commented on #490
Closed June 2011

[2011-06-15 12:58] billreed63 commented on #87
June 2011

[2011-06-15 13:24] billreed63 opened #498 "Do not jitter or adjust the layout when loading"
Do not jitter or adjust the layout or content of the various views unless the contents of the views were expanded from the previous application layout.

Need to add overlays <div> over each object that "jetters" like widget palette an cover the palette while it is constructed. Although I have not spent time investigation this problem in detail.

@jmockler @JonFerraiolo @jhpedemonte @peller

[2011-06-15 13:25] billreed63 commented on #474
I changed the overlays as describe, they are visible in FF 5, but chrome does not show them do to the nature of the performance  improvements in chrome. Chrome does not redraw the canvas until our code gives up control, as a result we do not see the overlays unless debugging and installing break points. The real solution to this is to force out code to give up control by using async requests to th

[2011-06-15 13:25] #474 closed, assigned to billreed63

[2011-06-15 14:37] JonFerraiolo commented on #474
I can certainly understand that fixing the jittering is a more involved (and risky) feature, so it makes sense to split that off into a separate bug and push to the next milestone. But I'm scratching my head a bit on the loading DIV not showing in Chrome. I would expect that adding a DIV would cause an immediate redraw event in the browser, but it sounds like Chrome is batching redraw events. Is t

[2011-06-15 15:32] billreed63 commented on #474
We could add setTimeout's for example we would need to put the context.setContent inside the timeout  Chrome would draw the loading div, but I fear that by doing this we change the timing of all the code that follows setContent.

Option 1 from above has no effect, I would assume that we have not paused in the code execution allowing chrome to redraw.

Option 2 (defer() ) sounds like it would be si

[2011-06-15 16:28] jhpedemonte commented on #497
Could you please elaborate?  What exactly do you want in the JSON output?

@JonFerraiolo

[2011-06-15 18:19] peller opened #499 "eliminate context menu on file explorer"
It occurs to me that there's no need for this context menu.  Some elements are already on the toolbar, others (like upload, new folder, etc.) likely should be. Many don't even depend on the context, making them even less appropriate, and the user really has no idea those commands are even there.  I'd also argue that context menus aren't very webby and should be avoided in our app.

@JonFerraiolo @

[2011-06-15 19:40] billreed63 opened #500 "Create New HTML file throws exceptions"
1) New -> HTML File
2) File1.html (or any file name)
in the console log I see..

Content Dojo version: 1.5.0 (22487)
app/dojo/./_base/connect.js:27Uncaught TypeError: Object [object DOMWindow] has no method 'apply'
app/dojo/../davinci/Workbench.js:1410Error while autosaving file:TypeError: Object [object DOMWindow] has no method 'apply'

[2011-06-15 19:55] cindyskach opened #501 "Scrolling help box causes mouse to drag box around"
To reproduce:
- Drag DropDownButton onto page
- Before clicking 'ok,' click the question mark to view the Help info
- Click the arrow to scroll the help box down

result: box follows the mouse

[2011-06-15 20:01] JonFerraiolo commented on #501
This might be a feature, but I'm not sure what you mean by "Click the arrow to scroll the help box down". Which arrow, and I'm not sure what thing is supposed to scroll.

The "feature" is that you can drag the popup around the screen in case it is obscuring something that you need to see. Once you first move that popup, the triangle pointer that appeared initially goes away. We are very proud of t

[2011-06-15 20:14] cindyskach commented on #501
When you view the information that pops up when you click the question mark (reading: "Enter multiple lines of data, the first line..." for DropDownButton), for me the help info is so long that it brings up a scroll bar beside the help info. If I click anywhere on the scrollbar, it makes the box follow the mouse even when I try to click out of it.

[2011-06-15 20:28] billreed63 commented on #488
I have not been able to reproduce this on FF5 or Chrome with the code from
 commit 5e6cc2598bf0bcc70398d4aef8ef0f0c8282022f
Author: Bill Reed billreed@us.ibm.com 2011-06-15 16:15:15

[2011-06-15 21:23] cindyskach opened #502 "Source Editor split horizontally doesn't work"
When going through the Source Editor tests:

Splitting vertically seems to work but when splitting horizontally the source pane is empty. Splitting horizontally also appears to break the 'split vertically' functionality. I  have to close the file and re-open it to get split vertical to work again.

[2011-06-15 21:34] cindyskach commented on #502
ack, dup of #423. Sorry about that.

[2011-06-15 21:34] #502 closed, assigned to peller

[2011-06-15 22:03] JonFerraiolo commented on #501
Now I see. If the DropDownSelect is about 100px above the bottom of the canvas, and you double-click on it to bring up inline edit, and then click on ?, the inline edit scrolls off bottom of canvas, and the canvas's iframe gets a scrollbar. Then if you try to scroll the iframe, the inline edit disappears.

[2011-06-15 22:05] childsb opened #503 "Explorer view no longer using Tree filters to sort items."
After Adams switch to the dojo Tree widget, the Explorer view no longer sorts entries.

There are filter/sort classes in davinci.resource that were used previously.  Looking through the tree code, I dont see a filtering mechanism being used.

@peller

[2011-06-15 22:07] childsb opened #504 "Explorer View - Missing Read Only decoration"
Missing the read X decoration for read only resources in the Explorer view.

I believed this was wiped out when Adam changed from davinci.tree to dijit.tree.  I had a custom DIV in the previous tree widget for the decoration.

@peller

[2011-06-15 22:07] JonFerraiolo opened #505 "content.css cleanups - min width/height on certain widgets should also apply at runtime"
We set min-width=min-height=1em for certain widgets (DIV, SPAN, TD) to make it reasonable to do visual authoring, otherwise those elements would have zero size on canvas. However, these CSS tricks only work at author time, so when running preview-in-browser, our WYSIWYG value proposition can be compromised in some scenarios. Best solution (among all bad options) is to force the same CSS tricks int

[2011-06-15 22:08] JonFerraiolo opened #506 "Mobile tutorial(s)"
@jhpedemonte

We need one or more mobile tutorials

[2011-06-15 22:10] cindyskach opened #507 "Preview in browser broken"
If I drag a button onto the page and try to preview it, it doesn't show up properly. The sample html files work, but new files do not.

[2011-06-15 22:32] JonFerraiolo commented on #507
I just pulled the latest code from GitHub, cleared my browser cache, restarted my server (from Eclipse), restarted a Maqetta browser session, dragged a Button (from Controls section of widget palette) onto canvas, and hit Preview-in-Browser button, and everything worked. I tried this in Mac/Chrome.

Maybe one of the check-ins today fixed this problem. Could you please try to reproduce with latest

[2011-06-15 23:36] JonFerraiolo opened #508 "Update docs for M2 release"

[2011-06-15 23:49] JonFerraiolo opened #509 "Preview-in-browser for mobile silhouettes should set initial orientation"
Just need to add orientation=landscape as URL parameter if page editor is currently previewing in landscape mode

[2011-06-16 00:10] JonFerraiolo opened #510 "Can't drag images from Files palette onto canvas"
@childsb, @billreed63, @jhpedemonte

With new Tree implementation for Files palette, we've lost the ability to drag image files out of Files palette and drop on canvas

[2011-06-16 00:12] JonFerraiolo commented on #500
Not sure which check-in fixed this, but I'm no longer seeing this either after pulling latest GitHub sources and I'm not seeing this with the auto-build posted today at http://maqetta.org/nightly

[2011-06-16 00:12] #500 closed, assigned to peller

[2011-06-16 00:35] #509 closed, assigned to JonFerraiolo

[2011-06-16 02:06] jhpedemonte commented on #463
Actually, it shouldn't.  `View` is meant to be 100% width, but only take up as much height as its contents.  At least, that's how all of the tests work.

[2011-06-16 02:06] #463 closed, assigned to jhpedemonte

[2011-06-16 02:12] jhpedemonte opened #511 "ScrollableView/SwapView throw errors when dropped on page"

[2011-06-16 02:36] jhpedemonte opened #512 "Redo davinci/ve/resources/content.css"
There's a bit of duplicated code in `content.css`, in particular with the rules that put a faint outline around invisible elements.  At the very least, many of the rules should be doubled up.

But I think it would be more correct to create a rule called `invisibleOutline` (or something) for these CSS rules and apply that rule as necessary, rather than having to add elements to this file as we hand

[2011-06-16 02:56] jhpedemonte opened #513 "Preview with mobile silhouettes broken"
When opening up the preview-in-browser window while using mobile silhouettes, I get this URL (**http://localhost:8081/maqetta/?preview=1&device=iphone&file=http://localhost:8081/maqetta/user/javier/ws/workspace/file2.html**) and the preview tab just opens up another instance of the Maqetta app, instead of a proper preview.

[2011-06-16 02:57] jhpedemonte commented on #163
Duplicate of #1.

[2011-06-16 02:57] #163 closed, assigned to nobody

[2011-06-16 03:31] jhpedemonte opened #514 "Dropping non-Dojo widget into _Container descendant throws error"
To test (using dojox.mobile widgets):
- Drop `View`.
- Drop `RoundRect` inside of `View`.
- Drop HTML `label` inside of `RoundRect`.

This will throw an error in `_Container.addChild()`.  The problem is this code in **davinci/ve/widget.js** (~ line 1524):

[code]

Specifically the 3rd line of code from the bottom, which references `child.dijitWidget`.  That value will be `null` for anything other

[2011-06-16 03:35] jhpedemonte commented on #514
The description of `_Container.addChild()` says that it only takes objects of type `dijit._Widget`.  So I guess we should only call `addChild()` if the incoming widget is of that type? @peller, have any experience here?

[2011-06-16 03:36] jhpedemonte commented on #514
Another thing to keep track of with the test scenario above: whatever solution we use, need to make sure that `label` is displayed as a child of `RoundRect` in the **Outline** view.

[2011-06-16 03:40] #423 closed, assigned to peller

[2011-06-16 03:47] jhpedemonte opened #515 "Provide default data for Carousel (store-driven)"
Need to provide some sort of default, sample data for the store-driven dojox.mobile widgets.  These include:
- ~~RoundRectDataList~~ #461
- ~~EdgeToEdgeDataList~~ #461
- Carousel

Perhaps just use sample JSON files (and related content) from test suite, and drop an `ItemFileReadStore` for these widgets, which references JSON file.

@billreed63

[2011-06-16 03:53] jhpedemonte opened #516 "Fix sample image for dojox.mobile.IconContainer"
Currently, the sample image used by `dojox.mobile.IconContainer` is pulled from metadata.  The problem is that this isn't portable -- as soon as the files that make use of this widget are moved to another location, the image will no longer be found.

Instead, it needs to come from the user's workspace.  Will need to add image as sample data and use that as the default when dropping `IconContainer`

[2011-06-16 03:54] jhpedemonte opened #517 "Fully test use of dojox.mobile.IconContainer and IconItem"
User should be able to drop an `IconContainer` and start adding `IconItem`s.  Also should be able to upload custom images to workspace and use those images in these two widgets.

@JonFerraiolo

[2011-06-16 04:01] jhpedemonte opened #518 "Create default content for dojox.mobile widgets"
Need to create default content for the following **dojox.mobile** widgets:
- TabBar
  - Has a couple of styles.  For default content, just use text only style.
- SpinWheel
  - Create dummy `SpinWheelSlot` children.
- SpinWheelSlot
  - Dummy content (i.e. `['A', 'B', 'C']`). Does this make it so for `SpinWheel`, we only need to define `SpinWheelSlot` children, then code will look at `SpinWheelSlot`

[2011-06-16 04:06] jhpedemonte opened #519 "Define inline-edit for dojox.mobile widgets"
Need to define the inline-edit for some **dojox.mobile** widgets:
- SpinWheelSlot
  - Can be either a range of numbers (using properties `labelFrom` and `labelTo`) or an array of strings (i.e. `['A', 'B', 'C']`)
- ComboBox
  - Use same or similar inline-edit as `dijit.form.ComboBox`?
- ExpandingTextArea
- TextArea
- TextBox

@billreed63

[2011-06-16 04:08] jhpedemonte opened #520 "Fix dojox.mobile.Overlay to work like dijit.Dialog"
Right now dropping a `dojox.mobile.Overlay` doesn't do anything.  Need to make it behave like `dijit.Dialog`.

@peller

[2011-06-16 04:11] jhpedemonte opened #521 "dojox.mobile.Slider doesn't display correctly (fixed in Dojo 1.7 final)"
The widget `dojox.mobile.Slider` does not display correctly when dropped in the VE.  The `<input>` element that is used by the slider should have `type="hidden"` set.

[2011-06-16 04:16] jhpedemonte opened #522 "Reduce number of properties in dojox.mobile.TextArea"
The metadata for `dojox.mobile.TextArea` defines many properties, which makes **Properites->Widget-specific** a bit unwieldy. Remove some of the least-used properties.

@JonFerraiolo

[2011-06-16 04:25] jhpedemonte opened #523 "How to handle inline-edit for RoundRectList & EdgeToEdgeList"
@billreed63 @JonFerraiolo

**dojox.mobile** defines two list types (`RoundRectList` and `EdgeToEdgeList`) which take (as children) another widget, `ListItem`.

Currently, I've only set both list types to default to having 2 items each when a user drops one of the list widgets on the page.  But only the `ListItem` widgets have inline-edit.

Jon was saying that this is inconsistent with other Dijit

[2011-06-16 04:29] jhpedemonte opened #524 "Make dojox.mobile.Switch not be resizable"
`dojox.mobile.Switch` seems to be a non-resizable widget.  Therefore, we shouldn't show resize handles in the VE.  See `dijit.form.Button`.

Any other mobile widgets which are not resizable?

[2011-06-16 04:31] jhpedemonte commented on #517
Jon's comment:

Answering to one of the questions above: the 'icon' property holds a plain URL (unlike a CSS property, where the URL has to be specified inside of a url(...) construct).

[2011-06-16 04:36] jhpedemonte opened #525 "Adding dojox.mobile.ComboBox doesn't show anything in VE"
Dropping `dojox.mobile.ComboBox` doesn't show anything in VE.

The **Outline** view shows that `ComboBox` showed up as hidden (eyeball is closed).  Why is this?

After clicking on eyeball in **Outline**, the widget shows in VE.  However, still does not show in preview.

[2011-06-16 04:39] jhpedemonte commented on #522
Other widgets with excessive properties?
- ToolBarButton
- IconItem

[2011-06-16 05:16] JonFerraiolo commented on #513
@childsb

That's the correct URL. The server is supposed to see the preview=1 URL parameter and send down preview.html content (leaving URL intact) instead of sending down content for pagedesigner.html. If there is a bug, it's probably with the server. If you are running old server software, pagedesigner.html would come down, but for at least a week the server has been responding to the preview=1

[2011-06-16 12:45] billreed63 commented on #488
Just saw it again..
Steps to recreate:
1) New Browser window
2) Create new HTML file
3) Drag Drop DataGrid.
4) Cancel SmartInput

[2011-06-16 13:08] billreed63 opened #526 "Users workspace displays 3 dojo and theme folders in file explorer"
I creates a new user workspace, I see 3 dojo and theme folders.

[2011-06-16 13:57] #511 closed, assigned to jhpedemonte

[2011-06-16 14:05] cindyskach commented on #507
Yeah, I just pulled the latest code, and it's working. I was testing against the latest build from lab14 yesterday.

[2011-06-16 14:06] JonFerraiolo commented on #526
@peller

[2011-06-16 14:07] billreed63 commented on #488
The root of the problem seems to be timing, When a new html file is created the theme CSS files are loaded, but dojo.css, Grid.css and claroGrid.css are not. When the first dojo widget is dropped on the page dojo.css gets loaded. When DataGrid gets dropped on the page Grid and ClaroGrid.css get loaded. If the first widget the user drops on the page is a DataGrid all 3 css files are added to the so

[2011-06-16 14:40] #526 closed, assigned to childsb

[2011-06-16 14:53] billreed63 commented on #488
Now that I am running dojo 1.7 in the users workspace the timing issue seems to have resolved itself.

[2011-06-16 14:53] #488 closed, assigned to billreed63

[2011-06-16 15:32] jhpedemonte commented on #519
This has docs on `SpinWheel` and related widgets: https://docs.google.com/document/pub?id=1lzdeIsZBMyU18t-Z4L8z6fqGkgJPnP9Aa29RZflYV9E#h.ayvrhdms4pdv

The others are very similar to Dijit widgets.  But if you need help, probably best to take a look at the tests: http://archive.dojotoolkit.org/nightly/dojotoolkit/dojox/mobile/tests/index.html.  In particular, the **test_FormControls.html**.

[2011-06-16 15:37] JonFerraiolo opened #527 "Open theme not working in nightly build"
@jhpedemonte, @billreed63

I pulled down http://maqetta.org/nightly/maqetta-20110616-0602.zip to my Mac, launched the localhost server, and then in Mac/Chrome went to http://localhost:50000/maqetta. I was able to clone claro to a new a1 theme using New Theme..., but when I tried to open the theme editor on a1, I got 'dojo not defined' in the Chrome console and the server console also included an e

[2011-06-16 15:42] billreed63 opened #528 "readme.html local install still list FF3.5+"
The readme on the local install still lists FF3.5+

[2011-06-16 15:49] cindyskach commented on #507
With the latest build from lab14, preview in window has an uncaught exception. dojo._hasResource is undefined. There's a comment beside the call that says not to use _hasResource directly in the code.

@peller

[2011-06-16 15:53] peller commented on #507
that's generated by the build, so it probably should be there

[2011-06-16 15:53] jhpedemonte commented on #499
I agree, to an extent, with the notion that **_context menus aren't very webby**_.  I can't really think of any web apps that consistently use context menus -- maybe some of the Google apps, like Docs (Mail doesn't seem to use them).

Of the 5 items in the context menu, only 2 of them (**Delete Resource** and **Download**) are specific to the item the user has clicked on.  The other 3 (**New File*

[2011-06-16 16:00] jhpedemonte commented on #507
Yes, it should be there, however, `dojo._hasResource` shouldn't be undefined.  When I looked at this with Cindy, I saw that `dojo` was defined, but had no `_hasResource` function.

I'm wondering if this is an issue with the app running Dojo 1.6 but the user's workspace running Dojo 1.7.  I just grepped the Dojo 1.7 source and only found a reference to `_hasResource` in **util/buildscripts/jslib/bu

[2011-06-16 16:01] peller opened #529 "Dialog buttons are inconsistent"
Some of our dijit.Dialogs have an ok button, some ok/cancel, some no buttons at all (like the About box)  All have close boxes.  We should make these consistent.  OK/Cancel is what I'm used to seeing, though I can see how the close box is redundant.  What's the right answer?
@jmockler

[2011-06-16 16:06] jhpedemonte commented on #423
A few things:
- Is there any way to avoid using that "private" function on BorderContainer?
- Is this a bug in BC, or just in how we are using it?
- Please open a future issue to reevaluate your "kludge" fix.

[2011-06-16 16:18] jhpedemonte commented on #506
Documents from which to draw inspiration:
- [Mobile Gallery](http://chrism.dojotoolkit.org/mobile-0.2/make_samples/dojo-samples/demos/mobile-gallery/demo.html)
- [Dojox Mobile Docs](http://docs.dojocampus.org/dojox/mobile) from DojoCampus (with examples)
- [Dojox Mobile Tests](http://archive.dojotoolkit.org/nightly/dojotoolkit/dojox/mobile/tests/index.html)
- [Dojo Docs](http://dojotoolkit.org/doc

[2011-06-16 16:25] JonFerraiolo commented on #529
Some of the UI folks have noticed this and proposed a standard policy for the button labels on dialogs. Usually, the OK button should say "Save" or "Create" or something like that rather than just "OK". I need to inventory the product and log detailed bugs so that the cleanups actually happen.

[2011-06-16 16:51] jhpedemonte commented on #513
OK, so it works correctly with the June 16 nightly build, but not when running from Eclipse.

[2011-06-16 16:52] peller commented on #423
Note there's still a resize call at the top of the routine which seems unnecessary... taking it out breaks the views on some browsers.

I left it with far fewer kludges than we started with.  I'm satisfied with the private "kludge".  Against my recommendation, we're doing something BorderContainer does not support, hence the private method call.  Setting the size directly on the DOM without callin

[2011-06-16 16:55] jhpedemonte commented on #529
Yes, Jon is correct:  we should use appropriate verbs, instead of a generic "OK".

I'm fine with or without the close buttons.  Not really causing much issue as is.

[2011-06-16 16:55] JonFerraiolo commented on #507
As a short-term fix, could we copy workspace.maqetta.States.js somewhere into the davinci/ tree, and therefore the page editor references a different version of States.js than the built version, and then remove workspace/\* from the list of files that get built? Probably also have to do this for maqetta.js (very small file). And then log a cleanup bug for M3 to fix things up more nicely.

It means

[2011-06-16 17:03] jhpedemonte commented on #513
And now I have it working properly from Eclipse.  Not sure why my previous purge didn't work, but all is swell now.

[2011-06-16 17:03] #513 closed, assigned to JonFerraiolo

[2011-06-16 17:05] jhpedemonte commented on #507
I'm fine with this -- low risk.  Just add comments to the top of each so we remember what's going on.

[2011-06-16 17:30] jhpedemonte opened #530 "Integrate code analyzers into development process"
There are several utilities that analyze the code in order to find errors and bad practices.  We should try to integrate them into our development/build process, in order to catch issues earlier.  Utilities include:
- [JSLint](http://www.jslint.com/) / [JSHint](http://jshint.com/)
  - I think the Aptana plugin has integrated _JSLint_ into the editor, such that it shows markings at the appropriate

[2011-06-16 17:51] waynevicknair commented on #485
fixed in  db271b47a6668eeb451b

[2011-06-16 17:51] #485 closed, assigned to waynevicknair

[2011-06-16 17:59] billreed63 opened #531 "Can't change button background color for states other than normal"
The test plan davinci.core/WebContent/test/testplan/StatesPalette/basic.html describes:

Changing properties in different states
### Steps

1 (continuing on the same file created in the previous test)
In the States palette, select the "ddd" state. Go to Outline palette and click on the closed eyeball icon for the Calendar to make it visible (the eyeball should open and the Calendar should become v

[2011-06-16 18:14] JonFerraiolo commented on #531
In this case, software works, but test plan is broken. I'll fix the test plan.

By default starting I think with Preview 1, style rules always apply to Normal. In earlier releases, users were getting totally confused because if they were editing and a state other than Normal was in effect, changing size and position of elements were only applying to that state, and users couldn't keep track of thi

[2011-06-16 23:27] #507 closed, assigned to peller

[2011-06-16 23:33] JonFerraiolo opened #532 "Build script minor improvements"
Two things that would be nice with build scripts:
- Some sort of option to build from local repository instead of pulling from GitHub. Wayne explained how to do this via manual directory copies and manually changing build.sh. Would be very nice (and encourage people to do test builds before pushing changes) if there was an option at top of build.sh that could provided a local repository folder and

[2011-06-16 23:49] JonFerraiolo opened #533 "Error message in console when doing Preview for page w/ mobile widgets"
@peller

I checked in fixes so that preview-in-browser works for desktop widgets, but with latest code mobile widget preview isn't working. This has nothing to do with mobile silhouettes. To reproduce:
- New HTML File
- Add RoundedRectList
- Click Preview-in-Browser icon

Result=> Nothing shows in browser tab for the preview, and console says

dojox/mobile:14Uncaught Error: Tried to register widge

[2011-06-16 23:56] JonFerraiolo opened #534 "'dojo' null exceptions when following tutorial"
These errors appears in console when running the page editor tutorial. Need to investigate and fix. I think it has to do with doing things in the States palette.

davinci.js:1606TypeError: Cannot read property 'dojo' of null
davinci.js:1606TypeError: Cannot read property 'dojo' of null
davinci.js:1606TypeError: Cannot read property 'dojo' of null
davinci.js:25927aaa:State aaa
davinci.js:1606TypeEr

[2011-06-17 00:53] JonFerraiolo opened #535 "Dojo fx console error messages upon adding a new state"
Upon creating a new state, the following messages appear in the console:

app/dojo/./_base/fx.js:153 exception in animation handler for: onEnd
app/dojo/./_base/fx.js:154 TypeError: Cannot call method 'callback' of undefined

I poked around some and my _guess_ is that the destroy() method is called before the fadeOut animation is completed, and the destroy() does not clear out the fadeOut animation

[2011-06-17 02:50] jhpedemonte opened #536 "Do we really need Outline for CSS files?"
Opened **themes/claro/Calendar.css** and noticed that basically **_all**_ of the CSS files contents were duplicated in the **Outline** view as a tree structure.

Seems unnecessary and doesn't really add anything.  We should just get rid of this functionality.

@JonFerraiolo @peller @billreed63

[2011-06-17 02:57] jhpedemonte commented on #527
`dojo` is not defined because **dojo.js** failed to load.  The request is for this URL: http://localhost:50000/maqetta/user/maqettaUser/ws/workspace/%root%/dojo/dojo.js.  I'm guessing the **%root%** is wrong.

[2011-06-17 03:14] jhpedemonte opened #537 "OK/Cancel buttons on deletion confirmation dialog have reversed actions"
Testing on Chrome/Mac.  Went to delete file I had created.  Get confirmation dialog.  Clicking on **OK** did nothing.

However, clicking on **Cancel** (or hitting **Esc** key) results in file being deleted.

@JonFerraiolo @childsb @peller

[2011-06-17 03:19] jhpedemonte opened #538 "Context menu actions in Files view don't always affect resource user clicked on"
The action a users selects using the context menu in the **Files** view doesn't always affect the resource the user expects.  For example:
- Select **Sample1.html**.
- Right-click on **Sample2.html**, in order to make the context menu appear.
- Select **Delete Resource** from context menu.

The user will expect this action to affect **Sample2.html**, since that is the resource the user right-click

[2011-06-17 03:29] jhpedemonte opened #539 "Disable/remove "Add link" command?"
Don't remember:  what is the purpose of the **Add Link** command?  First of all, it doesn't currently work, but before filing that bug, I wanted to figure out what it does exactly and why we should have it in Maqetta.

@childsb

[2011-06-17 03:36] peller commented on #507
see also c0d42a94569520b75b23baa61ed0c215c64b00e5

[2011-06-17 03:40] peller commented on #536
guess it doesn't hurt?  it may not be a very deep structure, but it would act like a table of contents on a very long file

[2011-06-17 03:44] jhpedemonte commented on #536
Well, it's not just a table of contents -- it shows top-level nodes for the selectors, and then each node has a child for each rule.  So it basically duplicates the whole CSS file, in tree form.  The only things not shown in the Outline view are the comments.  That's why I'm questioning the use of this.

[2011-06-17 03:59] jhpedemonte opened #540 "Combobox created with no default content, inline edit always shows as blank"
Drop Dojo ComboBox on to page.  Notice that inline edit dialog comes up, but without any content (even though you can see _Item 1_ in the widget).

Enter text, such as:

This works, and those contents are shown when opening the page in preview.  However, if you double-click on the ComboBox again, inline edit shows up as blank once again, instead of showing previously entered content.

Build info:

[2011-06-17 04:02] jhpedemonte commented on #540
Also affects **FilteringSelect**.

[2011-06-17 04:16] peller commented on #537
my bad, and I forgot the "fixes #" comment, to boot.  See e5fec8db37c3b346c526

[2011-06-17 04:16] #537 closed, assigned to nobody

[2011-06-17 04:22] peller commented on #536
so maybe just show the selectors?

[2011-06-17 04:30] peller opened #541 "Context onload callback gets called twice"
@jhpedemonte

a regression.  you'll see the console.info that prints out dojo.version twice per editor

[2011-06-17 04:45] peller commented on #538
this is code I've been messing with recently... but I tried what you said, and it works for me. What am I missing?  Are you running the very latest as of Thursday night?

[2011-06-17 04:59] peller commented on #533
I'm getting errors just placing it on the page.  Are there any layers missing?

[2011-06-17 13:06] JonFerraiolo commented on #538
Javier is saying that "delete resource" will delete the selected file instead of the file that is under the mouse. I just tried and I'm seeing the same thing as Javier.

[2011-06-17 13:08] JonFerraiolo commented on #541
that might explain why it's now slower to create a new file

[2011-06-17 13:10] JonFerraiolo commented on #536
Outline palette should show nothing when a source editor is open (instead of visual editor). Maybe in the future we can show JS functions or CSS style rules or whatever, but we don't have time right now to think through all of these features, so we should just disable outlines except when using visual editor.

[2011-06-17 13:16] billreed63 commented on #534
Since there is a DataGrid widget involved, I was wondering if you might look at this bug. If we are lucky, you're great knowledge of DataGrid will help you figure out what's wrong quickly. If you don't have time, maybe Adam or I can try to get to the bottom of it.

Unfortunately, the bug only manifests itself in builds. If you (or maybe Adam) can't guess where the problem might be, this might turn

[2011-06-17 13:20] JonFerraiolo commented on #539
Reassigned to Adam because he is messing with context menu on Files palette.

Adam, Could you please remove "Add link" command? ui_plugin.js has front-end logic and we can probably remove davinci/actions/AddLinkAction.js.

I can explain the history behind "Add link", but short version is that Orion file clients is a much better answer for the functionality that "Add link" was supposed to provide.

[2011-06-17 14:20] jmockler commented on #474
Just added specification document links to the description above for loading the application and loading a document.

[2011-06-17 14:36] jmockler opened #543 "Log in through maqetta.org needs polish"
Currently the maqetta.org log in is a bit awkward. We can clean up this area of the UI in the short term:
1. Specifications for the cleanup: http://skitch.com/janetmockler/fferi/maqetta.org-log-in-shortterm
2. The remember button does not remain selected: see issue #473

For the long term we'd like the log in to be accessed from the log in link at the top of the page: http://img.skitch.com/2011061

[2011-06-17 15:38] JonFerraiolo commented on #533
Maybe we can close this bug. Preview does work if you put RoundedRectList inside of a View widget.

[2011-06-17 15:48] peller commented on #539
thank goodness. I was about to ask you guys what it was supposed to do!

[2011-06-17 15:51] #528 closed, assigned to JonFerraiolo

[2011-06-17 16:08] jmockler opened #544 "Welcome in maqetta needs to be polished"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

http://img.skitch.com/20110617-r1srhcf4xf2us6rhk49qnqr2dx.png
1. Until we add in the 'Recent Files' feature, we should remove it from the Welcome
2. Titles of the Quick start sections on the left should use 'Claro Hyperlink color' - #0000EE
3. Content of the topics should not be hyperlinks, just formatted with black text, only the butto

[2011-06-17 16:11] jmockler opened #545 "Application layout should default to 25:75"
Based on previous mockups

@jmockler will post them here.

The out of the box layout for maqetta should be 25:75.. with the views/palettes taking 25% of the horizontal area, and the Design/source document taking 75% of the display area.

[2011-06-17 16:11] jmockler opened #546 "Application layout should default to 25:75"
Based on previous mockups

@jmockler will post them here.

The out of the box layout for maqetta should be 25:75.. with the views/palettes taking 25% of the horizontal area, and the Design/source document taking 75% of the display area.

[2011-06-17 16:21] jmockler opened #547 "Rearrange views, so that the file view is on the top of stack instead of the bottom"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

 When the application is first opened the explorer is at the bottom of the left stack. Which seems inappropriate since its one of the first places where we need to go to open new files.
1. First visual ensure that the Files view is at the top and in front... Otherwise it is very empty.

In the current implementation, this is important,

[2011-06-17 16:25] jmockler opened #548 "Create new... dialog needs to be improved"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

Will post specifications that detail an improved design for the Creation dialog.

 Improve the create new dialog.. update terminology, etc.
     - Dialog title
     - File name alignment
     - Folder picker should show a 'new folder'.
     - OK | Cancel (text)
     - Fade out the background when a dialog is open
     - Should remove th

[2011-06-17 16:27] jmockler opened #549 "New theme... dialog needs to be improved"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

Will post specification which detail how this dialog can be improved.

[2011-06-17 16:30] jmockler opened #550 "Interaction around the Creation of a new theme should be improved"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

Problem:
1. After I create a clone of a new theme via the dialog.. I don't get a toaster or any notification to let me know that my theme was created.
2. So i click OK a second time - cause I thought it didn't work.
3. Then I get a message that I already created a theme with that name.

Confusing interaction. Instead it should open the

[2011-06-17 16:35] #531 closed, assigned to JonFerraiolo

[2011-06-17 16:36] #539 closed, assigned to peller

[2011-06-17 16:40] jmockler opened #551 "Opening a theme file from the File Explorer should be improved"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

Currently when I go into the theme folder and search for a theme file to open, I must search for it at the same level at the CSS files.

We can improve this by setting the theme file as the parent in the tree, with the multiple CSS files as children of the theme file. This will help make it very obvious which files are CSS files, and wh

[2011-06-17 16:45] jmockler opened #552 "Cannot open a theme file"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

Tried to open a theme file from the explorer, and the application freezes and does not load it.
1. We should use the new progress indication interaction as described in Issue #474
2. Test on multiple browsers to see if the theme editor opens

[2011-06-17 16:47] jmockler opened #553 "New review dialog should be improved"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

This dialog can be improved. @jmockler will attach a marked up image to identify problem areas.

[2011-06-17 16:48] jmockler opened #554 "dirty HTML editor"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

After a new HTML document is open, it is automatically dirty. It should not be showing as dirty until a user makes a change in the content of the document.

[2011-06-17 16:49] jmockler opened #555 "Widget tab has a horizontal rule under it"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

Currently the widgets tab has a horizontal rule under it. It should not.

[2011-06-17 16:53] jmockler opened #556 "Widget palette interaction and presentation improvements"
@jmockler @jinsil
UI Review - Jun 10, 2011
Using Firefox 4.0

@jmockler will post the previous designed specifications for improvements to the widget view.

[2011-06-17 17:33] jhpedemonte commented on #473
Copying @waynevicknair

[2011-06-17 17:34] jhpedemonte commented on #543
Copying @waynevicknair

[2011-06-17 17:39] jhpedemonte commented on #546
This will require us rethinking the views/palettes layout, so that they are only used on one side of the page, rather than left and right.

[2011-06-17 17:42] peller commented on #538
so I just tried this with the 20110617-1057 build and it works for me.  I click on Sample1.html.  Then I right-click on Sample2.html.  I can see the selection change beneath, the delete resource dialog says it's going to delete Sample2.html and it operates on Sample2 when I delete.

I did this on Chrome/Mac, FWIW

[2011-06-17 17:43] jhpedemonte commented on #554
It's automatically **dirty** because the file hasn't been created yet.  As such, that is the unsaved state.  You can press the **Save** button and it will then save the file to your workspace, empty.  To me, this looks like the right behavior.

@JonFerraiolo @peller

[2011-06-17 17:55] jhpedemonte commented on #554
OK, just discussed this on the call.

First issue:  If a user creates a new file, then immediately closes it without saving (having made no changes to file), the user is still presented with a confirmation dialog, stating that unsaved changes will be lost.  This shouldn't happen.  The confirmation dialog should only come up if actual changes have been made to the file.

Second issue: On a newly cr

[2011-06-17 18:20] #555 closed, assigned to nobody

[2011-06-17 18:24] JonFerraiolo commented on #263
Users run into this issue, so would be nice to fix as quickly as possible, but for M2 only if we have time and if we are absolutely sure the fix is safe. Might be the cause of #552

[2011-06-17 18:25] JonFerraiolo commented on #552
Probably related to #263

[2011-06-17 18:34] JonFerraiolo commented on #144
@jmockler

[2011-06-17 18:34] JonFerraiolo commented on #551
Duplicate of #144

[2011-06-17 18:34] #551 closed, assigned to nobody

[2011-06-17 18:38] JonFerraiolo opened #557 "Page editor and theme editor shouldn't die if bad theme in user workspace"
@jhpedemonte, @billreed63, @childsb, @peller, @jmockler

Janet and Jin tried to create new themes with a space in the theme name and ran into #263. We should validate the theme names, sure, but the code shouldn't die if a bad theme exists in user workspace.

Right now, you can't open the theme editor if one of the themes has a space character in its name.

[2011-06-17 20:12] childsb commented on #527
Fixed the dojo undefined error--

Also added prompt to prevent user from opening themes not in their workspace.

So the theme editor works with dojo 1.5, but wont load completely with 1.7. I'm guessing some of the widgets changed?
@peller @billreed63

[2011-06-17 20:40] JonFerraiolo commented on #538
How are you testing this? With an actual mouse or using Ctrl-touchpad or what? What I'm seeing is that Ctrl-touchpad acts as you describe above (i.e., file under mouse gets selected, then menu appears) but when I use an actual mouse and click on RMB, the selection does not change, and instead the previously selected file gets deleted, not the file under the mouse.

[2011-06-17 21:00] jhpedemonte commented on #538
I can confirm what Jon said about using a mouse, can still reproduce issue.

[2011-06-17 21:03] cindyskach opened #558 "Some old files?"
It looks like some of the files in davinci/ve/widgets aren't used anymore.
They're required in davinci/ve/views/SwitchingStyleView.js but don't appear to actually be used beyond that. However, on closer inspection it does look like code from these files was pasted into davinci/ve/views/SwitchingStyleView.js
- Background.js
- Border.js
- BorderRadius.js

The rest of the files in the widgets folder

[2011-06-17 21:10] JonFerraiolo commented on #558
I'll look at this after the M2 release.

[2011-06-17 21:14] JonFerraiolo commented on #182
Adam updated to the new Dojo uploader, and we now can upload multiple files at once. Yay! But most of the other issues listed above are still pending.

[2011-06-17 21:22] JonFerraiolo opened #559 "UI for download actions"
@jmockler, @childsb, @peller, @jhpedemonte

We have two download buttons on the Files palette that bring up a download dialog, and this dialog by default selects all JavaScript libraries (e.g., Dojo and Dojo themes) to include in the ZIP, and allows the user to unselect those libraries.

We also have a "download" command on the context menu. This brings up a smaller dialog and does not give the us

[2011-06-17 21:40] peller commented on #182
Can you recap for me?  C:\fakepath should be gone also.  Perhaps the "Add Files" change would be best made on the Globalization branch.

Yeah, not sure what to do about the Upload button.  Perhaps it could turn into a "Done" button after completion?

[2011-06-17 21:52] jhpedemonte opened #560 "Deleting background image text results in "url('.')""
First, there's not a way to delete a brackground image consistent with the other properties.  The only way I can do it is to select the text of the background image property and delete it.

Upon hitting enter, though (in order to set [or unset] property), the text "url('.')" appears.

[2011-06-17 22:04] jhpedemonte opened #561 "Changed "global" CSS rule, doesn't show in preview or when file reopened"
To recreate:
- Drop Dojo Button.
- Change it's background color.
- This will result in dialog warning about changing global CSS rule.  Press **OK**.

At this point, the VE will show that the background color change took effect.  However, if you load preview, or close and reopen the file, that change was not saved.

Could this be as a result of the read-only theme changes by @childsb?  If so, the d

[2011-06-17 22:12] jhpedemonte commented on #182
I would prefer it if, upon clicking **Upload** button, the dialog disappeared and a new progress dialog appeared (or a tooltip at bottom of page).  The progress dialog/tooltip/whatever would show progress and maybe linger a couple of seconds once complete, but then fade out on its own.

I don't see why user should have to click **Upload** and then again **Done** to complete the process.

[2011-06-17 22:15] jhpedemonte opened #562 "Widget-specific props for DIV?"
The **Properties Palette (Part 3)** tests include this line:
- Select the second DIV. Under widget-specific properties, set text to "abc".

However, Maqetta shows no widget-specific props for **DIV**.  Should it?  If not, then test script should be updated.

[2011-06-17 22:20] jhpedemonte opened #563 "Consistent placement of "Remove Value""
The **Remove Value** item is usually found at the end of comboboxes in the **Properties** view, preceded by a dashed line.

However, in the **border-color** property, that item is towards the top.  We should strive for consistency here and keep it at the bottom.

Also, as an aside, might be nice to somehow decorate this item to distinguish it from other items in the dropdown menus. I was thinking

[2011-06-17 22:50] JonFerraiolo commented on #182
Yes, I agree with Javier. We should ask @jmockler about whether after closing the dialog we should: (a) post a modal dialog that says "files upload" with an OK button, (b) bring up a toaster which requires user to click in order to make it go away, (c) bring up a toaster that appears only for a few moments, or something else.

[2011-06-18 00:32] peller commented on #182
It seems common to have to dismiss a progress dialog, at least in desktop applications...  well, let's put it this way... the UI we have today was free.  I could do the Upload/Done thing in about a minute for M2 while we figure this out.  It seems like there's a bigger question of reporting status and exceptions in a consistent way.

[2011-06-18 00:53] #449 closed, assigned to JonFerraiolo

[2011-06-18 01:08] #562 closed, assigned to JonFerraiolo

[2011-06-18 01:57] peller commented on #557
I think the spec says you can escape characters in identifiers, though I've never seen that done.  We'd also need to make sure to use encodeURI for our rest calls, also for our APIs with filenames (e.g. load/save) which presently don't handle special characters like "@" well.

[2011-06-18 13:06] JonFerraiolo opened #564 "Encode URI throughout"
@peller

Adam says this in #557, which seems to me its own separate issue, hence this bug:

We'd also need to make sure to use encodeURI for our rest calls, also for our APIs with filenames (e.g. load/save) which presently don't handle special characters like "@" well.

[2011-06-18 14:15] JonFerraiolo opened #565 "Review wizard exception - needs update to refactoring"
@EldonReturn, @jhpedemonte

New Review wizard is dying at davinci.review/WebContent/davinci/review/widgets/PublishWizard.js:454:

[code]

This is because Brad refactored some of the core files. I'm pretty sure that this one line can be fixed by changing it to:

[code]

But even if this change is correct for this one case, someone needs to inventory davinci.review and make sure all of the reference

[2011-06-19 15:32] peller commented on #565
I should go an refactor the tree also.  I'll take care of this.

[2011-06-20 03:58] #565 closed, assigned to peller

[2011-06-20 04:31] peller opened #567 "New File... has no toolbar"
Create a file which isn't js or css... like foo.csv using the new file command.

You get a plain editor, but no toolbar, so there's no save, clipboard, etc.

[2011-06-20 05:17] peller opened #568 "background color change to DataGrid doesn't change background"
instead, it only seemed to affect part of the border.  is this a bug in our metadata, or is it a problem with the way dojox.grid is structured?
@billreed63

[2011-06-20 05:21] peller opened #569 "color palette cursor erratic on mac/chrome"
try clicking on a color in the color picker or dragging/clicking the vertical rainbow bar, and the thumb/cursor elements will appear far off the dialog and the colors will not change.  I think this is a regression and we had monkey-patches to fix this.  Is this a regression with our move to Dojo 1.6?

@childsb

[2011-06-20 06:53] EldonReturn opened #570 "Right click on the node of davinci.ui.widgets.Tree should select that node"
Right click on the node of davinci.ui.widgets.Tree should select that node. Currently, only clicking that node can user select the node.

[2011-06-20 08:38] EldonReturn commented on #436
Fixed. Added a template file so that the admin can configure it.

[2011-06-20 08:38] #436 closed, assigned to EldonReturn

[2011-06-20 08:39] EldonReturn commented on #435
Fixed. Added a template file so that the admin can configure it.

[2011-06-20 08:39] #435 closed, assigned to EldonReturn

[2011-06-20 08:46] EldonReturn commented on #432
Fixed. http://skitch.com/eldon/ff1jb/1

[2011-06-20 08:46] #432 closed, assigned to EldonReturn

[2011-06-20 14:27] billreed63 opened #571 "Exception when loading page with mobile widgets (fixed by Dojo 1.7 nightly)"
1) Create new html page desktop.html
2) Add textBox and TextArea widgets to desktop.html then save page
3) Create new html file mobile.html
4) Add mobile widgets, view, textBox, TextArea and save page
5) reload browser window

In console the following exception is displayed
Uncaught TypeError: Cannot read property 'style' of undefined

At this point if I select the textArea on the mobile page, the

[2011-06-20 14:42] peller opened #572 "exception setting class on button"
Create a new HTML document
Add a dijit Button
go to the properties panel and try to set the classname to 'foo'
Exception in ModifyCommand - widget is null

[2011-06-20 14:45] JonFerraiolo commented on #567
Dupe of #43

[2011-06-20 14:45] #567 closed, assigned to nobody

[2011-06-20 14:55] JonFerraiolo commented on #571
Reassigning to Javier.
I see the same problem with these steps:
- New HTML File
- Add View and RoundRectList inside of View
- Add TextBox
- Browser refresh
  Result=> Uncaught TypeError: Cannot read property 'style' of undefined
  @peller

[2011-06-20 15:24] JonFerraiolo opened #573 "New review broken"
@EldonReturn, @jhpedemonte

WIth today's auto build, immediately upon invoking the New Review... command from the main menu bar, the following things appear in the Chrome console:

27862unknown error: status=undefined
dojo.js:1445TypeError: Object [object Object] has no method 'getChildren'
dojo.js:1445TypeError: Object [object Object] has no method 'getChildren'
dojo.js:1445ReferenceError: result

[2011-06-20 15:27] JonFerraiolo commented on #527
Bill, I reassigned this to you - hope that's OK. Adam has other urgent things on his plate.

[2011-06-20 15:37] waynevicknair commented on #48
Jon, I just tested this on today's build by handcrafting a tryIt URL (http://localhost:50000/maqetta/cmd/tryIt). I don't see any exceptions during editing. I do see several "Library file not found!" messages, but they are valid as they refer to jquery and yui, the libraries that are indeed not present in the internal build.

[2011-06-20 15:56] waynevicknair commented on #534
the exception is coming from this code snippet:

[code]

NOTE THE DOUBLE DELETE

[2011-06-20 15:58] JonFerraiolo commented on #572
I'm not seeing this with today's daily build on Mac/Chrome. Which version of software are you using and which browser? Note that I checked in a fix to ModifyCommand on Friday: 707e084b80577f1b07b9

[2011-06-20 16:08] JonFerraiolo opened #574 "Consolidate samples into samples/ folder and make read-only?"
@jhpedemonte

To make it easier to migrate users to subsequent releases of Maqetta (where we might modify old sample files, add new sample files or retire old sample files), we might do any or all of the following:
- Consolidate all sample files into a samples/ folder
- Make the sample files read-only and/or the samples/ folder read-only (users would need to save-as if they want to incrementally m

[2011-06-20 16:17] peller opened #575 "Create new html file is very slow"
it seems to be spending most of its time (>5 sec) in findResource.  Brad, when you have a chance, can you take a look?

[2011-06-20 16:20] peller commented on #572
Sorry, I was using a build from Friday.

[2011-06-20 16:20] #572 closed, assigned to JonFerraiolo

[2011-06-20 16:33] peller commented on #573
My bad. I didn't notice the exception.  We need more error handlers.  @childsb: It seems that every xhr ought to have both load and error callbacks (see `davinci.model.Resource.Folder.prototype.getChildren`)

[2011-06-20 16:49] JonFerraiolo commented on #575
@jhpedemonte

Adam, thanks for researching this. Too slow to ship, so this is an M2 requirement.

[2011-06-20 16:51] JonFerraiolo commented on #534
Wayne, which file is this in?

[2011-06-20 16:52] JonFerraiolo commented on #48
So we should close this bug now? If yes, please close.

[2011-06-20 17:22] JonFerraiolo opened #576 "Copy/paste a widget with display:none in Normal state doesn't redraw even if visible in current state"
- New HTML File
- Add <label>, give it text "Normal"
- Add <label>, give it text "aaa"
- Create new state "aaa"
- Make label "aaa" invisible in Normal state but visible in aaa state
- Go into aaa state
- Select "aaa" label
- Copy it, then paste it

Result=> Cloned copy does not appear even though we are in aaa state
- Now switch to Normal state then back to aaa state

Result=> Cloned copy appears

[2011-06-20 17:32] waynevicknair opened #577 "Toolbar does not appear for text editing"
testing MainMenu-New Menu: New File - in root directory, with save. at step 4, there is no apparent save button nor is there a toolbar that i can find to save my 'a.txt' file.

[2011-06-20 17:32] waynevicknair commented on #577
oops. forgot to mention: running FF5.

[2011-06-20 18:09] JonFerraiolo opened #578 "states object gets "undefined" property"
@billreed63, @jhpedemonte

Whenever a states object is added to a widget, an "undefined" property gets added to the states object. I understand part of what's happening but haven't yet figured out how to fix.

The problem is that StatesView.js:325 is calling davinci.ve.states.setState(state), passing a string, but the function expects the first parameter to be a widget object. The theme editor see

[2011-06-20 18:26] JonFerraiolo commented on #577
Duplicate of #43

[2011-06-20 18:26] #577 closed, assigned to nobody

[2011-06-20 18:29] waynevicknair opened #579 "Properties palette2 - get JS exception dropping calendar"
get: "TypeError: Result of expression 'this.value' [null] is not an object."
earlier in davinci.ve.widget._getData() we request a the value of the property named "value" on the calendar widget we are trying to add which returns null and causes the exception later in the call chain.

[2011-06-20 18:41] waynevicknair commented on #552
i created a new theme and tried to open the theme editor, but it hangs with the Loading... progress indicator.

[2011-06-20 18:44] JonFerraiolo commented on #579
Dupe of #458

[2011-06-20 18:44] #579 closed, assigned to nobody

[2011-06-20 19:05] #48 closed, assigned to childsb

[2011-06-20 19:31] peller commented on #535
dup of #534?

[2011-06-20 19:38] waynevicknair commented on #534
dijit/Dialog.js

[2011-06-20 19:39] waynevicknair commented on #534
opening a ticket at Dojo Foundation for this one per Adam's advice.

[2011-06-20 19:46] waynevicknair commented on #534
see Dojo Ticket #13262

double delete in Dialog show() and hide() methods

[2011-06-20 20:14] JonFerraiolo opened #580 "New theme dialog doesn't show sketch theme"
@billreed63, @jhpedemonte

With this morning's build (http://maqetta.org/nightly/maqetta-20110620-0603.zip), if I immediately do a New Theme, the dialog only shows "claro" and doesn't show "sketch". There are other problems in the area of theme operations, but this one is at the head of the chain. Maybe fixing it will fix the others.

[2011-06-20 20:18] JonFerraiolo commented on #535
Yeah, I'm pretty sure this is the same problem at #534

[2011-06-20 20:18] #535 closed, assigned to peller

[2011-06-20 22:10] childsb opened #581 "paste doesn't work in VE until you click in editor again"
1) add button to canvas
2) select button
3) right click the button and select copy
4) right click again and do paste
5) notice that the button doesn't show up on the canvas until you left click somewhere on the page.

[2011-06-20 22:24] JonFerraiolo commented on #581
@peller, @jmockler, @jhpedemonte

Brad, I originally felt this was a "bug" too, but Adam (the main implementer) explained the implementation problem that it sometimes wasn't clear where the paste should go. If you use the paste command from context menu, sure, maybe the paste should go in the container under the mouse. But what if you click on the Paste icon on the toolbar, which is the most easil

[2011-06-20 22:45] peller commented on #581
I won't take too much credit.  I think this dates back to smash code.  I just pointed out the ambiguity there might be if you didn't have the extra click.  Maybe we could just throw the widget somewhere and let you move it, but at least until dnd is flawless, I don't think that's a good idea.

[2011-06-20 22:46] peller commented on #580
somewhere in the commits, I think there was a "1.5" where there should have been a "1.7"?

[2011-06-20 22:54] JonFerraiolo opened #582 "dijit.css is now read-only, breaking some operations in Properties palette"
@billreed63, @jhpedemonte
- Create a new theme (e.g., a1)
- Create a new HTML page
- Switch theme to a1
- Add a TextBox
- In Properties palette, go to Layout section and open up CSS Cascade UI for 'width'. Notice that the target rule is:

.dijitTextBox (themes/dijit.css line:undefined) width:15em;
- Change width to 16em with the above rule selected.

Result=> In VE, the width changes to 16em, but

[2011-06-20 23:14] childsb opened #583 ""undefined" on properties for CSS file line numbers"
1) new HTML file
2) add a button
3) select button, go to width property in prop palette
4) Expand the cascade, and notice line:undiefined

[2011-06-20 23:17] childsb opened #584 "prop palette doesn't prevent changes to read only"
the properties palette doesn't prevent the user from changing read only theme files.  it actually appears to work, but the changes wont stick after the user reloads the editor.

[2011-06-20 23:27] childsb opened #585 "setting app.css class on button has no effect"
Test case failed (properties palette part 4, app.css test)

Steps
Create a virgin user environment navigating away from daVinci, clearing browser cache, killing the server, removing users/ folder, restarting the server, and navigating browser back to daVinci. (For server-hosted, create a new user)
Double-click on the app.css file in the Files palette.
Add the following lines to the bottom of the f

[2011-06-21 00:20] JonFerraiolo opened #586 "Mobile updates for review/commenting (silhouettes, View support)"
@EldonReturn, @jhpdemonte, @peller, @billreed63, @childsb

Gosh, how could I have overlooked this?

Review and commenting needs to use mobile silhouettes. For example, if an author is using the iPhone silhouette at the time he initiates a review session, then reviewers should do their review in the context of the iPhone silhouette.

Integrating the silhouette logic into review.html might not be al

[2011-06-21 00:23] JonFerraiolo commented on #584
Isn't this a dupe of #258?

[2011-06-21 00:24] JonFerraiolo commented on #583
Dupe of #477

[2011-06-21 00:24] #583 closed, assigned to nobody

[2011-06-21 00:41] jhpedemonte commented on #482
# Review

I commented inline in the above commits, but here are some of the more major comments:
- All of our (Maqetta's) classes/objects should be in the **davinci** namespace (and going forward, switching to **maq** or **maqetta**).  I don't like creating a whole new **preview** top-level namespace for this -- better **davinci.preview** or **maqetta.preview**.
- Separation of concerns - Use **di

[2011-06-21 00:50] jhpedemonte commented on #182
Toaster is a good idea, assuming that will be the **consistent** way we handle such notifications.  But a fix based on this discussion can wait until after M2.  Feel free to close this issue and open another to track the latest discussion.

[2011-06-21 01:05] jhpedemonte commented on #573
You can also use the `handle` property, which gets invoked for both the `load` and `error` cases.

[2011-06-21 01:14] jhpedemonte commented on #580
@peller, are you referring to c473615819c0ae72ceb59c7347a2d88edac4fb0c?

[2011-06-21 01:40] jhpedemonte commented on #561
@JonFerraiolo: Is this the same as #582?

[2011-06-21 01:44] jhpedemonte commented on #584
Dupe of #561 or #582?

[2011-06-21 02:32] peller commented on #182
I'm not sure the toaster widget would fit here, since we need to show progress.  Toasters are generally just for notification.  Jon, ok to close, or were there other open issues here?

[2011-06-21 02:57] peller commented on #580
@jhpedemonte: yah

[2011-06-21 03:51] #508 closed, assigned to JonFerraiolo

[2011-06-21 04:21] jhpedemonte opened #587 "Clicking checkboxes in Prop view doesn't do anything"
Clicking on checkboxes in the **Properties** view has no effect (checkbox does not change state).  This seems to have regressed in the past few days.

Easy to reproduce:  Just drop a **Button** on a new page, open the **Widget-specific** properties and try to click on one of the checkboxes.

@JonFerraiolo @peller

[2011-06-21 04:33] #518 closed, assigned to jhpedemonte

[2011-06-21 04:41] jhpedemonte opened #588 "Default content for SpinWheelSlot not handled correctly"
The default content for **dojox.mobile.SpinWheelSlot** sets the **labels** property to the stringh `"['A','B','C','D','E']"`.  However, the runtime code doesn't correctly interpret this and, instead of creating a SpinWheelSlot with 5 elements, creates on with `0,[,1,',2,A,3,',4,,,5,',6,B,7,',8,,,9,',10,C,11,',12,,,13,',14,D,15,',16,,,17,',18,E,19,',20,]`.

The problem is that the conversion from s

[2011-06-21 04:42] jhpedemonte commented on #518
Opened #588 to track fix for proper handling of **SpinWheelSlot** default values.

[2011-06-21 04:48] peller commented on #573
This appears to be working on HEAD now

[2011-06-21 04:54] peller commented on #571
This does seem to be specific to Dojo 1.7.  Running the same davinci.core against dojo 1.6, everything is fine. this.textbox is null.  it should be an attachpoint in the template.

[2011-06-21 15:49] jmockler commented on #433
@peller - here is a blueprint to a new design for the toaster from @jinsil. Can you take a look and let me know if there is anything else that you need.

http://img.skitch.com/20110621-1qsr5iwx7iu56em7hfyrs34jbm.png

FYI - @JonFerraiolo

[2011-06-21 16:30] JonFerraiolo commented on #433
@jmockler - Toaster mockup looks good. Are there image files for the left-side icon (with eyeglasses) and right-side icon ("x"), or do these already exist somewhere? Does the toaster slide in from bottom/right, top/right, or elsewhere?

[2011-06-21 16:40] JonFerraiolo opened #589 "Editors should open read-only resources, with editing disabled"
@billreed63, @childsb, @peller, @jhpedemonte

Right now the theme editor will only open read-write themes. You can't view a read-only theme in the theme editor.

Brad says he has ideas on how to pull this off in a couple of weeks of work using a general approach that would allow any type of read-only resource to be viewable in an editor.

[2011-06-21 16:44] jhpedemonte opened #590 "No drag indicator or resize handles on dojox.mobile widgets"
@peller

This is an odd one.  Drop a **dojox.mobile.View** on the page.  Notice that it has resize handles and that if you hover on the outline, you'll see the drag indicator and will be able to drag it around the page.

Now, drop any widget inside of the view.  The widget will not show resize handles or the drag indicator and you will not be able to drag the widget at all.

Adam, any idea what co

[2011-06-21 16:45] JonFerraiolo commented on #573
Not working for me. I just pulled the latest from GitHub, cleared my browser cache, and restarted my Eclipse server, and I still get this when I open a New Review (using Mac/Chrome)

315unknown error: status=undefined
app/dojo/./_base/Deferred.js:213TypeError: Object [object Object] has no method 'getChildren'
app/dojo/./_base/Deferred.js:213TypeError: Object [object Object] has no method 'getChil

[2011-06-21 16:51] peller commented on #433
This does not look like a web widget.  This looks like a desktop widget.  -1 from me.

[2011-06-21 16:52] JonFerraiolo commented on #587
Works for me on Mac/Chrome and Mac/FF4 after pulling latest code from GitHub into Eclipse and using this morning's build. I dropped a Button and TextBox and clicked on various checkboxes under Widget-Specific and everything was operational.

[2011-06-21 16:52] #587 closed, assigned to nobody

[2011-06-21 16:54] childsb commented on #582
@billreed63 - how much work would it be to move the files around?

If it's a lot, I would suggest we just make the dijit files read/write for the users workspace on this release, and move the next release.  As of now, we have 3 plugins with 2 themes each to modify metadata and imports for.  this might be a little much.

let me know if we should go the quick fix approach and i can do the change.

[2011-06-21 16:57] JonFerraiolo commented on #433
I'm scratching my head. Why is this toaster any less webby than the toasters we already have, and if you don't like the toaster mockup, then wouldn't that mean you don't want any use of Dialogs, which also resemble UI you see on a desktop? Isn't it sufficiently webby that the toaster slides in from the side? How exactly should this proposal be change to make it look or act more webby? Different co

[2011-06-21 16:59] childsb commented on #580
this is working for me now.  i dont think the version was the issue.. themes are located by doing findResource(*.theme)...

the commit for the version fix is 5511347fd163c4bcf70d3d21d3961c67f0d76081

[2011-06-21 16:59] #580 closed, assigned to childsb

[2011-06-21 16:59] jhpedemonte commented on #587
Hmm, quite.  I wonder what was the issue?

[2011-06-21 17:06] waynevicknair commented on #447
it's moved to this location (line 3840) in 'Editor.js' now. i just reproduced in FF5:

[code]

[2011-06-21 17:07] jhpedemonte commented on #571
Just locally updated Dojo 1.7 to the 2001-06-21 nightly and this error no longer happens.

[2011-06-21 17:08] jmockler commented on #433
The design goal that informed the design was to use the dojo Claro theme to inform better readability of the current toaster

[2011-06-21 17:09] childsb commented on #494
fixed with 4ff1a286b1a2e7e072d48e0446cbdd603007d857

[2011-06-21 17:09] #494 closed, assigned to childsb

[2011-06-21 17:10] jmockler commented on #433
@JonFerraiolo - I think we have most of the icons that could be used for the toaster - we may just want to use an Information icon, instead of one specific to a particular message, like a reviewer having been added. And any images that are needed for other aspects of the widget can be supplied easily.

[2011-06-21 17:11] jmockler commented on #433
@JonFerraiolo - I would imagine that the current animation of the toaster is sufficient - would you agree?

[2011-06-21 17:13] jhpedemonte commented on #541
I locally updated Dojo 1.7 to the 2011-06-21 nightly and now I only see the version outputed **once** to the console:

[code]

[2011-06-21 17:48] JonFerraiolo commented on #541
You only see one version outputted now probably because of Bill's checkin: 715a46bc4654f8d8a5637b9802a05ab282131e9a

[2011-06-21 17:52] billreed63 commented on #582
I might be missing something but I think all we have to do is copy dijit.css and dijit_rtl.css to the claro and sketch theme folders. then change the `@import url("../dijit.css");` in claro.css and sketch...

[2011-06-21 18:03] JonFerraiolo commented on #582
Sounds like we are converging on both a Plan A (longer-term) and Plan B (short-term - just copy dijit.css and dijit-rtl-css). My gut is telling me to go with Plan B for now and not attempt Plan A for M2.

But if we go with Plan B for the short-term and then Plan A down the road, what is the impact in terms of migrating user workspaces to deal with URL changes? The URLs for theme CSS files will cha

[2011-06-21 18:03] billreed63 commented on #582
I just tested this and it works, do you want me to commit the fix?

[2011-06-21 18:03] peller commented on #433
it looks like a windows 95 window me.  The little icon in the upper left hand corner conveys no information and seems to match that style, as does the boundary.

[2011-06-21 18:05] peller commented on #571
Good call.  There's supposed to be a new beta this week.  I'll find out the status tomorrow.

[2011-06-21 18:31] jhpedemonte commented on #541
Nope, I can confirm that upgrading Dojo did indeed fix this issue.  My local repo does not yet have Bill's fix.  Switched back to 1.7 beta and saw the 2 instances of `Content Dojo version...`.  Going to Dojo nightly made this go away.

[2011-06-21 18:34] jhpedemonte commented on #541
I think we should keep this bug open until we upgrade Dojo.  Then verify if the new Dojo does indeed fix this issue without Bill's change and, if so, remove the fix.

[2011-06-21 18:36] jmockler commented on #433
@peller the icon in the corner is supposed to change based on the type of alert that the toaster represents. So while in this context it may not be relevant.. that may be because this is out of context. I've suggested in an earlier context that we use a generic 'Information' icon.

For Maqetta in general, we've elected to leverage the GUI that the dojo Claro theme represents. Since they didn't hav

[2011-06-21 18:44] jmockler commented on #182
@peller I disagree.. I think the toaster could be leveraged to show progress as well.

[2011-06-21 18:45] billreed63 commented on #527
The theme editor is not opening with dojo 1.7 do to the tooltip and dialog code that was added to theme editor to support those two widgets. Adam is looking into the reason why..

[2011-06-21 18:46] jmockler commented on #557
I also expected to be able to use spaces or any special characters in naming the cloned theme I created. Is that something that will be fixed in Maqetta?

[2011-06-21 18:54] childsb commented on #493
Fixed with commit commit 1ab21171f857fc0e1d52608f60cf8b7ab5bc71a3

[2011-06-21 18:54] #493 closed, assigned to childsb

[2011-06-21 18:58] childsb commented on #487
working for me. not sure where this was fixed, but prob related to another issue.

[2011-06-21 18:58] #487 closed, assigned to childsb

[2011-06-21 18:59] childsb commented on #450
Fixed with commit  4ff1a286b1a2e7e072d4

[2011-06-21 19:10] childsb commented on #575
I see a 293MS delay on findResource, which is on par with save and load operation.  (less than 1/3 of a second).  verified with adam that he's not seeing the 5 second delay any longer so closing the bug..

[2011-06-21 19:10] #575 closed, assigned to childsb

[2011-06-21 19:27] childsb commented on #416
Fixed in commit 4ff1a286b1a2e7e072d4 and others..

[2011-06-21 19:27] #416 closed, assigned to childsb

[2011-06-21 19:28] childsb commented on #251
Fixed with commit 4ff1a286b1a2e7e072d4

[2011-06-21 19:28] #251 closed, assigned to childsb

[2011-06-21 19:29] childsb commented on #219
Fixed.

[2011-06-21 19:29] #219 closed, assigned to childsb

[2011-06-21 19:29] childsb commented on #216
Fixed along side download exception console issue.

[2011-06-21 19:30] childsb commented on #215
I believe this is fixed, please re-open with a test case if you can reproduce.

[2011-06-21 19:30] #215 closed, assigned to childsb

[2011-06-21 19:31] childsb commented on #217
I believe this is fixed. Please re-open with a recreate if the problem persists.

[2011-06-21 19:31] #217 closed, assigned to childsb

[2011-06-21 19:33] childsb commented on #218
Fixed? Do you have a recreate scenario?  I'm guessing this was fixed with recent server changes.  Please reopen with recreate scenario if you can reproduce this.

[2011-06-21 19:33] #218 closed, assigned to childsb

[2011-06-21 19:40] childsb commented on #386
Support for this is really there, we just call our top level CSS Model Object "CSSFile".  But there are a few spots in code where we instantiate a new CSSFile, set text to a snipit, then run queries.

To simplify this (and provide better design), i added a CSSFragment class that simply extends CSSFile.  Currently theres no functional difference, but it will read better in code if we wish to use ju

[2011-06-21 19:40] #386 closed, assigned to waynevicknair

[2011-06-21 19:43] childsb commented on #491
Both of these plugins ONLY contain metadata at the moment. I'm assuming we removed the code for legal/distribution issues...?  Leaving this open but it's not a server/resource bug.

[2011-06-21 20:49] JonFerraiolo commented on #491
(I can't remember why I assigned this to you. Reassigned to Javier.) I thought @jhpedemonte and @waynevicknair were going to figure out a way to get the jQuery and YUI libraries included in the builds so that those widgets would work again.

[2011-06-21 20:53] childsb commented on #427
Fixed in commit 3de75688937985120be0e81a76e1492a717d053f

[2011-06-21 20:53] #427 closed, assigned to childsb

[2011-06-21 21:06] JonFerraiolo commented on #386
Thanks for taking care of this. One main use case is inline STYLE element, which is a different bug: #156

[2011-06-21 21:06] JonFerraiolo commented on #156
See #386

[2011-06-21 21:12] JonFerraiolo commented on #557
Given underlying technology constraints, we can't have theme names with spaces. However, we could convert spaces to underscores. If this sounds like a good idea, then the follow-on question is whether we would do this space-to-underscore conversion silently and automatically, or post a prompt telling the user we did this conversion for them.

Right now we have an open issue to add validation logic

[2011-06-21 21:18] JonFerraiolo opened #591 "Upload completion notification"
@jmockler, @peller, @jhpedemonte

See ~~#557~~ #182 for proposals for using toaster to notify user that files have been uploaded, including a link to a detailed blueprint of size and styling for the notification toaster.

[2011-06-21 21:18] JonFerraiolo commented on #557
Closing this. Opened #591 about the notification UI.

[2011-06-21 21:18] #557 closed, assigned to nobody

[2011-06-21 21:21] jhpedemonte commented on #491
I added the library code to my local install and I no longer see the error messages in the server console.  Yes, Wayne and I talked about it and came up with a solution.  Not sure if he's had a chance to work on it yet.  @waynevicknair?

[2011-06-21 21:22] JonFerraiolo commented on #561
Closing this. It's partly a dupe of #582 and partly a dupe of #258. Nothing original here.

[2011-06-21 21:22] #561 closed, assigned to JonFerraiolo

[2011-06-21 21:39] JonFerraiolo opened #592 "SaveAs to different folder doesn't remove old items from HEAD"
I tested SaveAs into different folders. So far, so good, except that old @import and old SCRIPT tags aren't removed properly. After multiple SaveAs operations into various different folders, the HEAD looked as follows. Note how there are multiple references to claro.css, dojo.css, and dojo.js, and multiple instances of dojo.require() on same classes. (I thought there was already an issue on this l

[2011-06-21 21:40] JonFerraiolo commented on #592
I classifed this as M2 priority medium. Would really like to fix before M2, but not absolutely essential. It's pretty ugly to write out files like we are doing now but in general things seem to work.

[2011-06-21 21:52] billreed63 commented on #540
ComboBox was using the wrong store in inlineEdit.

[2011-06-21 22:07] JonFerraiolo commented on #450
Reopening. The exception did go away, but the download ZIP doesn't put dojo in the correct location. In the download-everything dialog, I asked for Dojo to go into the "dojo" folder rather than "lib/dojo". When I looked at the ZIP, dojo was still at "lib/dojo", not "dojo" as I had requested.

[2011-06-21 22:07] jhpedemonte commented on #533
Yes, **RoundRectList** must go inside of a **View**.  Doing so and the widgets appear just fine in **Preview**.

However, still see the `already registered` error on the console, even with the Dojo nightly.  Not sure what's going on with that.

For now, keeping this open on M2, but dropping to **Priority Low**.  May get moved to M3 or later.

[2011-06-21 22:11] jhpedemonte commented on #503
What's the status on this one?  Have @peller or @childsb taken a look at this yet?

@JonFerraiolo

[2011-06-21 22:35] jhpedemonte commented on #515
Fixing this for `ComboBox` may fix #525.

[2011-06-21 22:36] jhpedemonte commented on #525
May be fixed by adding store-driven default content -- see #515.

[2011-06-22 00:02] waynevicknair commented on #491
the builds on Dojo Foundation external machine include these libraries and plugins. i asked @JonFerraiolo if i should copy the libraries into the internal builds you download from lab14 and was told not to.

[2011-06-22 01:25] peller commented on #503
Is this a must have for M2?  I thought Jon said it could wait?  It does seem that we'd have to put back some subclass or monkey patch to achieve this.  I was going to look at whether monkey patching the change to dijit.Tree was possible.

[2011-06-22 01:26] peller commented on #182
what you're describing isn't what I see on the web that's generally considered a toaster.  It sounds more like a dialog.

[2011-06-22 02:15] #527 closed, assigned to billreed63

[2011-06-22 03:19] jhpedemonte commented on #573
Seeing the same as Jon.  Pulled daily build from this morning [1].  Ran using `./maqetta.local.mac.command`. Loaded in browser, opened **Sample1.html**, then selected **New**->**Review...** and got errors in console.

The **_unknown error: status**_ warning is from `Runtime.js.serverJSONRequest()`, the 2nd `console.warn`.

The debugger then traps in **davinci.review.actions.ReviewFileTreeModel**'s

[2011-06-22 03:47] jhpedemonte commented on #521
OK, after much testing, it seems that **Slider** requires the `name` attribute.  Otherwise, it will not render correctly.  This seems like a bug in the Dojo code.

@peller, I opened this bug on Dojo: http://bugs.dojotoolkit.org/ticket/13270

Unfortunately, I'm not sure about a good workaround for this.  I could change it so that the `content` in the metadata has a `name` attribute for the `input`

[2011-06-22 03:50] peller commented on #521
If it's a form element, name is pretty important -- worth generating in Maqetta, I think -- though perhaps not mandatory.  Names only need to be unique per form.  It probably wouldn't be fatal to have duplicate names within a form, but it should be avoided.  Could we just generate a unique name with a counter?

[2011-06-22 05:41] JonFerraiolo commented on #503
This is a must have for M2.

[2011-06-22 13:11] #540 closed, assigned to billreed63

[2011-06-22 14:19] JonFerraiolo opened #593 "'name' attribute on Properties palette"
@peller, @jhpedemonte, @childsb

Need to add 'name' attribute to Properties palette. Should be a one-liner

[2011-06-22 14:19] JonFerraiolo commented on #521
IMO, Dojo and Maqetta shouldn't touch the name attribute. The name attribute is mostly about form submission. The user needs to be in charge of the name attribute so that when forms are submitted to the server, the URL parameters match what the server expects. Maybe we need to do something in the short-term while waiting for a Dojo fix, but in general I'm pretty sure we shouldn't touch the 'name'

[2011-06-22 17:24] jhpedemonte commented on #457
@jmockler - Added the icons you sent me and reused existing icons for similar mobile widgets.  But have some questions:
- **dojox.mobile.Slider** - For now, I'm reusing the icon from **dijit.form.HorizontalSlider**. One difference between the two widgets is that HorizontalSlider has a pointy grippy, whereas mobile's Slider has a circular grippy.  Should we get a specific icon for this one?
- **doj

[2011-06-22 17:28] jhpedemonte commented on #521
The Dojo bug has already been fixed and will be in 1.7 final.  Keeping this issue open to verify, once we move up to new Dojo.

[2011-06-22 17:48] JonFerraiolo opened #594 "Rich text should not allow other widgets to be dropped inside"
@jhpedemonte, @childsb

Maybe a special case of #224

Brad and I talked with a user who had accidentally dropped a Button into an HTML Rich Text widget. As a result, the Button doesn't appear in Outline palette. It's in the document but sort of in a zombie state. (Workaround is to go in source editor and move Button's markup to a different location in the HTML file.)

We shouldn't allow Button or

[2011-06-22 17:48] JonFerraiolo commented on #224
Also see #594

[2011-06-22 17:52] JonFerraiolo opened #595 "Proposed new rules is Cascade view not working in latest code"
If I select a Button and give it a class such as "abc", the proposed new rule for 'width' targets the element's root node, not the proper subnode. Seems to have broken recently.

[2011-06-22 18:01] #595 closed, assigned to JonFerraiolo

[2011-06-22 18:12] JonFerraiolo commented on #460
@jhpedemonte: could you please change title of bug to "Switching mobile silhouettes should auto-swap mobile themes"

Reassigned to Bill to figure out how to force a reload when switching silhouettes

[2011-06-22 18:27] JonFerraiolo commented on #224
@peller

I added "Mobile" tag and changed to M2 because this bug is particularly important for mobile authoring and we are looking at a partial solution for the M2 release to address common mobile scenarios. One partial solution would be to see if we can fix the drop logic for new widget creation to look at "allowed parents" metadata to make sure that users can't accidentally drop mobile widgets i

[2011-06-22 18:54] JonFerraiolo commented on #461
I reassigned this to Bill - he's up to his ears now with similar data-binding issues with the mobile combobox. The hope is that the same mechanisms for combobox can apply to RoundRectDataList and EdgeToEdgeDataList. But if Javier wants this bug back, I'm sure Bill will be OK with that.

[2011-06-22 20:25] billreed63 commented on #519
mobile.ComboBox is a different beast from form.ComboBox it uses a DataList to get options.

[code]

[2011-06-22 21:02] jhpedemonte commented on #224
Had a discussion with Jon about this earlier, and he had a great idea.  When dropping, **the code can check if the target is an allowed parent** of the dragged widget.  If not, the code can **walk about the parent chain, until it finds an allowed parent**.

For example, consider a page with the following dojox.mobile widgets:

[code]

If you drag a RoundRectList on to a ListItem, we don't want the

[2011-06-22 21:23] JonFerraiolo commented on #224
I poked around the code some and I'm pretty sure this is the key function (widget.js:119)

[code]

Right now the logic just looks for the nearest ancestor with _dvWidget on its DOM node. Maybe the main thing we need to do is add some additional checks to keep looking until we find an ancestor that matches allowedParents and whose allowedChildren value includes this particular widget type.

[2011-06-22 21:37] jhpedemonte commented on #594
Several things:
1. The Rich Text widget has `"isContainer": true` set in metadata.  Should it be set as a container?
2. I removed that line from the metadata, but the issue still occurs.  Not sure why.  If a widget isn't a container, then the code should not insert another widget.
3. (Different issue) When entering many lines in the Rich Text editor, I see many dashed lines in the VE.  This is bec

[2011-06-22 21:46] jhpedemonte opened #596 "Allow user to toggle visibility of "invisible" widgets"
In order to make it easier to work with "invisible" widgets (such as DIV, SPAN, ContentPane, ...), we put a faint border and a minimum size of 1em in the VE.

One issue with this is what to do in Preview and when the user goes to deploy.  Since we want to be WYSIWYG, that means that we would need to copy the "invisible" widgets CSS rules along with the rest of the user's code.  It would then be up

[2011-06-22 22:01] JonFerraiolo commented on #596
+1 on adding UI to allow users to turn the faint outline on/off. I actually filed a bug on this feature awhile back: #281, so maybe this one can be closed as a dupe.

This idea probably needs to be generalized to hide/show various other sorts of visual authoring aids. I remember we had some UI for data binding that involved some small icons onto the authoring canvas. Not in the product now, but my

[2011-06-22 22:06] JonFerraiolo opened #597 "Don't show dashed border for DIVs inside of Rich Text"
@jhpedemonte, @billreed63

Javier reports in #594: When entering many lines in the Rich Text editor, I see many dashed lines in the VE. This is because the Rich Text widget adds DIVs for each line and our VE CSS says to put a dashed border around each DIV. Should we disable the border when in a Rich Text (or similar) widget?

[2011-06-22 22:06] JonFerraiolo commented on #594
For issue 3 above, I created a new bug: #597

[2011-06-22 23:43] jhpedemonte commented on #281
Dupe of #596 (that one has more info)

[2011-06-22 23:43] #281 closed, assigned to nobody

[2011-06-22 23:44] jhpedemonte commented on #597
This is probably as easy as writing a CSS rule to hide the border for DIVs that are ancestors of `[dvwidget="html.richtext"]` (or however you write that CSS selector).

[2011-06-23 02:05] jhpedemonte commented on #590
OK, so the issue here is that in **davinci.ve.Focus** `allow()`, `op.move` comes in as false for the case where a widget is in **dojox.mobile.View**.  This is because in **Context.js** `select()`, there is this line:

[code]

In the case of a **Button** added to the top-level of the page, `parent` is the `body` element, represented by an instance of **davinci.ve._Widget**.  That object's `isLayout

[2011-06-23 02:14] jhpedemonte commented on #590
`isLayout()` only seems to be called from `Context.select()`.

[2011-06-23 02:19] JonFerraiolo commented on #590
As I remember, everything in the code that has various utilities such as isLayout, canHaveChildren, isContainer (and maybe other things) have not been carefully coded and things are working today mostly on a tenuous and not well-designed basis, and we need to clean all of that up. Maybe we are forced to do that now.

[2011-06-23 02:35] peller commented on #590
ah, yes.  So this is because _usually_ layout containers control the position of their children (e.g. TabContainer, BorderContainer) so that you shouldn't be able to move the children from the tool.  View must be different... what exactly does a View do?  Is it just a container?  If so, why does it have isLayout()? [edit: just re-read your note above... yeah, sounds like there were assumptions tha

[2011-06-23 09:41] EldonReturn commented on #573
I tried to reproduce this bug with no luck today. But I observed a couple of suspicious things.
1. Line 73 in SystemFileList.java: file does not has such a method getTotalSpace() in Java 1.5
2. The call sequence:

dojo.declare._expandNode() at davinci.js:45337
 isExpandable() at davinci.js:45337
 dojo.mixin.forEach() at dojo.js:892
 dojo.declare.setChildItems() at davinci.js:45337
 def() at davinc

[2011-06-23 14:12] jmockler commented on #457
1. dojox.mobile.Slider - a new icon would likely be better
2. dojox.mobile.ToggleButton - I'll create one and send it to you
3. dojox.mobile.ExpandingTextArea - I think you can re-use the TextArea icon.

[2011-06-23 14:50] JonFerraiolo commented on #573
With both today's nightly build and running from http://localhost:50000, and then after pulling latest from GitHub and launching from Eclipse and running on localhost, I'm still seeing the following in the Mac/Chrome console:

[code]

[2011-06-23 14:59] JonFerraiolo opened #598 "Color changes don't wait for OK, are immediate"
@billreed63

(revising bug report - I'm seeing this in page editor, too, not just theme editor)

The theme editor commits color property changes immediately upon bringing up the color picker. To reproduce:
- Clone a new theme
- Open theme editor on the new theme
- Select Dialog. Using color picker, change background color to blue or whatever.
- Select ContentPane. Bring up color picker.

Result=>

[2011-06-23 15:40] JonFerraiolo opened #599 "Cookie busting?"
@jhpedemonte, @childsb, @waynevicknair

M2 Priority High since this might be an important upward migration issue. Assigning to Adam for the moment since a lot of the existing cookies might be coming from Dojo/Dijit.

We have added cache busting logic. Based on New Review problem, maybe we should add cookie busting with new releases? What I'm thinking is that we could have a new cookie that holds t

[2011-06-23 15:47] peller commented on #599
I would probably design a separate counter which is incremented only when we think we need to clear cookies.  But first, we should do a round of testing to confirm this is needed.  I still don't feel confident I understand what caused the New Review problem #573

[2011-06-23 16:09] JonFerraiolo commented on #573
For both Chrome and Firefox4, I ran into this problem, but when I cleared localhost cookies, the problem went away. New Review is working for me again for both Chrome and Firefox.

[2011-06-23 16:12] JonFerraiolo commented on #599
I'm really sure the New Review problem was with cookies. Look at comments in #573. Clearing cookies got New Review to work in both Chrome and Firefox. With Firefox, I actually didn't restart the app. Instead, I just navigated away from Maqetta, then cleared all localhost cookies, and then navigated back to Maqetta. Before clearing cookies, I got the exception. After clearing cookies, no more excep

[2011-06-23 16:13] JonFerraiolo opened #600 "Add Firefox cookie removal instructions to install.html, etc."
Getting started instructions don't explain how to remove cookies in Firefox yet.

[2011-06-23 17:15] #457 closed, assigned to jhpedemonte

[2011-06-23 18:53] jhpedemonte opened #601 "With Dojo 1.7b2 update, dropping mobile View traps in Chrome"
@peller @JonFerraiolo

Just updated my local code and tried to drop a **dojox.mobile.View** on to page.  Chrome immediately trapped (showing unhappy face icon).

Tried in Safari and I get this error:

[code]

I don't see this issue when using the **src** version.  So maybe beta2 was built incorrectly?

[2011-06-23 19:09] jhpedemonte commented on #601
OK, got a decent stack trace this time:

[code]

Unfortunately, Chrome had already trapped, so I can't inspect any of the variables.

[2011-06-23 21:17] jhpedemonte commented on #521
Fixed in Dojo 1.7b2.

[2011-06-23 21:17] #521 closed, assigned to jhpedemonte

[2011-06-23 21:19] jhpedemonte commented on #571
Fixed in Dojo 1.7b2.

[2011-06-23 21:19] #571 closed, assigned to jhpedemonte

[2011-06-23 21:31] jhpedemonte commented on #541
I confirmed that using Dojo 1.7b2, Bill's check isn't necessary (although we should still keep the `this` -> `context` changes -- good catch there).

[2011-06-23 21:43] #541 closed, assigned to nobody

[2011-06-23 21:50] jhpedemonte commented on #533
Repurposing issue to track error msg in console.

Changed title from `Preview not working for mobile widgets, silhouettes or not` to `Error message in console when doing Preview for page w/ mobile widgets`

[2011-06-23 21:51] jhpedemonte opened #602 "Multiple includes for dojo.js"
For some reason, I am seeing multiple includes for **dojo.js** in the source, after creating a page with several Dojo widgets.

@childsb

[2011-06-23 21:57] JonFerraiolo commented on #71
Probably highly related to #9

[2011-06-23 21:57] JonFerraiolo commented on #9
Probably highly related to #71

[2011-06-23 21:59] JonFerraiolo commented on #602
(I thought there was an existing bug for this, but I haven't found it yet. Maybe it's inside of one of the SaveAs bugs?)

Assigned to Brad for time being because he is probably looking at related things as part of SaveAs fixes, but maybe someone else will end up picking this up.

We also have a multiple includes problem for dojo.css. See #71 and #9

[2011-06-23 23:49] peller commented on #575
today, I get this and can't run the app:

[code]

[2011-06-24 00:50] peller opened #603 "is findResource *.theme necessary"
@childsb, @JonFerraiolo

It seems like either we could search a known subset of the user's space for *.theme files, perhaps even locating them all at a known single directory, or if libraries are now shared, why should we have to search at all?  We could look once at server startup and just cache the value.

[2011-06-24 00:50] peller commented on #575
see also #603

[2011-06-24 02:48] peller opened #604 "findResource goes into infinite loop"
I had a file #mobile.js# in my dojox directory, and VResourceLibrary.listFiles() treated the filename as a url.  It should probably use java.io.File, or if using URLs for some reason, I think the string should be escaped.  As a result, the # looked like a hash and the path dojox/#mobile.js# was recursed as dojox/, leading to dojox//, dojox/// and so on.

See #575 and #603

[2011-06-24 18:08] jhpedemonte commented on #533
OK, this is caused by **States.js**.  It has a require for **dojo.parser**, even though mobile should only be using **dojox.mobile.parser**.  The end result is that 2 parsers are used on the page, and the 2nd one throws the _already registered_ error.

[2011-06-24 18:13] billreed63 opened #605 "Hangs on opening html file if theme file is missing"
If the html file has a missing or invalid theme (green.css) maqetta hangs

[code]

[2011-06-24 18:26] JonFerraiolo commented on #605
@childsb, @waynevicknair

Brings up the question of what happens to existing users who have created custom themes using Preview 1.0.1 (based on Dojo 1.5) when suddenly they are running Preview 2 (based on Dojo 1.7)

I assigned this to myself with M2 milestone to do some quick research about whether this is easily fixable.

[2011-06-24 18:29] #533 closed, assigned to jhpedemonte

[2011-06-24 20:56] waynevicknair commented on #534
never mind. the workbench is running dojo1.6 where this problem was opened with ticket #12436 which is fixed in dojo1.7. so, we can either patch the current dojo1.6 or update the workbench to use dojo1.7. (i don't think we'll update to dojo1.7 internally before M2. i'll patch) @peller

[2011-06-24 21:02] #534 closed, assigned to waynevicknair

[2011-06-24 21:18] jhpedemonte commented on #533
@peller, I would appreciate your guidance on the commit above.  From the [docs](http://docs.dojocampus.org/dojo/parser), it seems that we do need to `dojo.require("dojo.parser")` if we intend to use it.  So in the commit, I added a check around that line to see if the mobile parser is already on the page and if so, don't do the require for the regular parser.

I don't particularly like the fix, bu

[2011-06-24 21:20] JonFerraiolo commented on #603
Assigning to Bill and putting on M2 - not necessarily to fix, just to evaluate. Only fix if critical, otherwise we can fix in M3. (And it doesn't have to be Bill)

[2011-06-24 21:25] cindyskach opened #606 "Review due date reset upon edit if no date set"
- Select New Review
- Leave Due Date blank
- Save as draft
- Select it in the review palette
- Select Edit Version

The date is reset to 1/1/1970

[2011-06-25 15:54] JonFerraiolo commented on #605
We can prevent a hang by simply checking to see if a variable ('theme') is null. Below is new code for Context.js:319 that prevents the hang. With the code below, the file is loaded with exceptions or hanging, but because the theme cannot be found, the widgets don't get any CSS applied to them, so just the unstyled HTML appears. I didn't commit this fix because I wanted to have a discussion about

[2011-06-25 16:27] #600 closed, assigned to JonFerraiolo

[2011-06-25 22:42] peller commented on #573
So we'll need a way to transition the cookies.  see #599

[2011-06-25 22:42] #573 closed, assigned to peller

[2011-06-25 22:54] peller commented on #514
sorry for the late response on this... yes, the addChild API on Dijit as well as the _Container object assume all children are Dijits.

[2011-06-26 16:01] JonFerraiolo commented on #599
In issue #573, @peller says: So we'll need a way to transition the cookies.

[2011-06-27 14:18] peller commented on #599
@EldonReturn

or perhaps just squelch the exception of fix the bug which causes this state.  Review has its own TreeModel.  What is it for?

[2011-06-27 16:58] JonFerraiolo commented on #101
Dupe of #178

[2011-06-27 16:58] #101 closed, assigned to JonFerraiolo

[2011-06-27 17:14] JonFerraiolo opened #607 "Docs on handing off mockups to developers"
@childbs, @jhpedemonte

Maybe best as a tutorial?

[2011-06-27 20:01] #478 closed, assigned to peller

[2011-06-28 03:20] JonFerraiolo opened #608 "Properties palette tab order"
@childsb, @peller

The tab key is supposed to move from field to field in a UI. With the current Properties palette, there is some weird stuff going on with the tab key, at least with Chrome.

Bring up the Layout section. Put focus into type-in area for 'width' property. Hit tab repeatedly and focus goes as follows:

[code]

[2011-06-28 03:50] peller commented on #608
I think you just set tabindex="-1" for nodes which should not be included in the tab order.

[2011-06-28 04:13] JonFerraiolo opened #609 "Two SaveAs operations in a row causes Uncaught TypeError"
To reproduce (in Mac/Chrome):
- New HTML File
- Add a Button
- SaveAs a1.html
- Immediate do another SaveAs a2.html

Result=> Uncaught TypeError: Cannot call method 'removeWorkingCopy' of undefined Resource.js: 254

[2011-06-28 04:28] JonFerraiolo opened #610 "DIV with display:none doesn't appear in Outline palette after save/reopen"
@billreed63, @peller, @jhpedemonte

(This bug was in Preview 1, and probably has been in the states logic forever, so good to fix for M2 but not absolutely essential)
- New HTML file
- Add a Button and a DIV
- Add a state aaa
- Select the Button
- With Normal state selected, click eyeball on DIV to make it invisible
- Save
- Reopen the file

Result=> DIV doesn't appear in Outline palette.

Source

[2011-06-28 05:23] peller commented on #510
oops. forgot to mark checkin: 10a0dfde15705b9b7e90776c3daf7267dd674ff4

[2011-06-28 05:23] #510 closed, assigned to peller

[2011-06-28 05:55] #311 closed, assigned to nobody

[2011-06-28 05:58] peller commented on #162
note that the url in the source is a relative url

[2011-06-28 13:34] JonFerraiolo opened #611 "Startup: TypeError: Cannot call method 'setSelection' of null"
@childsb, @billreed63, @jhpedemonte

Assigning to Adam for time being thinking this might be a Dojo 1.6 issue, but OK for others to look at this one.

With the latest code, at product initialization time, I'm seeing two messages in the console (last console messages that show) that both read:

TypeError: Cannot call method 'setSelection' of null app/dojo/./_base/Deferred.js:213

[2011-06-28 13:41] jhpedemonte commented on #227
Duping to #608, since that has a bit more info.

[2011-06-28 13:41] #227 closed, assigned to JonFerraiolo

[2011-06-28 13:41] jhpedemonte commented on #608
Duped #227 to this.

[2011-06-28 17:38] cindyskach opened #612 "RadioButton doesn't drag to the canvas in some instances"
- new HTML file
- Drag RadioButton onto canvas
  it doesn't work
  Console reports: Uncaught TypeError: Cannot read property 'prototype' of undefined
- Drag MultiSelect onto canvas
- Drag RadioButton onto canvas
  it works

[2011-06-28 18:25] JonFerraiolo commented on #612
Assigning to Adam for time being in case this is a Dojo 1.6 or 1.7 issue

[2011-06-28 18:48] cindyskach opened #613 "Differentiate between mobile and non-mobile widgets in Widget Filter"
If you search for "checkbox" (or another one that has a mobile version) in the widget filter, it brings up  both the one under Dojox Mobile and the one under Dojo Controls with nothing to help designate which is which prior to dragging them onto the canvas.

[2011-06-28 19:12] JonFerraiolo commented on #613
@jmockler
Some good UI issues raised by this one.

[2011-06-28 19:25] jhpedemonte commented on #613
I mentioned once (can't find an open bug on this) that when showing search results, we should show the name of the category next to the widget name -- of course, properly styled in such a way that the widget name is most prominent.

Also, having an informational tooltip appear when hovering over the widget name would help (#338).

[2011-06-28 20:06] JonFerraiolo commented on #613
Good idea, but probably need different words for the widget category. "Dojo Controls" isn't all that helpful to users. What we really mean is "Dojo Desktop Controls", but I'm not sure that's the best string, either.

These naming questions interact with the question of how we want to group widgets in the Widgets Palette going forward. I've said this before, but here goes again. I expect we will ha

[2011-06-28 20:11] cindyskach opened #614 "Color Picker issues for certain widgets"
- new HTML page
- Drag TextBox onto canvas
- Select Border in the Properties Palette
- For the "show" dropdown, choose "props"
- For border-color, use the arrow to select a color

After selecting a color, if you hover the mouse over "All" to go back to view all the main properties, the mouse will be the text-cursor rather than the hand-cursor and you won't be able to click "All." If you don't try

[2011-06-28 20:27] JonFerraiolo commented on #614
@peller, @childsb

I couldn't reproduce in either Mac/Chrome or Mac/Firefox. Maybe there is some subtle UI issues, where you operate the browser differently than me, so here are some questions.

When you say "use the arrow to select a color", do you mean use the dropdown menu (which shows Color Picker..., Remove value, black, white, red, green, blue, ...), or the color picker dialog that comes up

[2011-06-28 20:33] cindyskach commented on #614
I've been using the dropdown menu. When I try with the color swatch, it always seems to work. I'm using a 2-button mouse; left-click for choosing things. I'm running off the most recent build from lab14 and testing in Windows/Chrome.

[2011-06-28 21:25] JonFerraiolo opened #615 "iframe widget sometimes doesn't show contents"
@peller

Intermittent bug, only seeing it so far with (Mac) Chrome. Set to M2 release for time being, but if this doesn't happen very often, we can deal with this problem after M2.
- New HTML file
- Add iframe widget, choose Sample1.html

Result=> Sometimes you just see a white rectangle in the page editor. If you save, reopen, the contents of Sample1.html appears. If you preview-in-browser, you a

[2011-06-28 23:12] JonFerraiolo opened #616 "Sticky notes rendered outside of iframe?"
@billreed63, @jmockler, @peller, @jhpedemonte

I'm playing with the latest builds and trying out mobile UI creation. I picked a silhouette (iphone) and then added some widgets inside the silhouette. Then I decided to put a sticky note comment on my design.

My realization is that sticky notes are part of the user's HTML page and therefore render inside of the inner iframe that is inside of the dev

[2011-06-28 23:13] JonFerraiolo opened #617 "Sticky notes in theme editor"
During a meeting where Maqetta was presented to a bunch of potential users, someone suggested it would be good to allow sticky notes in the theme editor.

[2011-06-28 23:58] JonFerraiolo opened #618 "Docs text too small"
The docs text is too large since upgrading to Dojo 1.6.

[2011-06-29 00:00] #618 closed, assigned to JonFerraiolo

[2011-06-29 02:37] #611 closed, assigned to peller

[2011-06-29 02:46] #602 closed, assigned to childsb

[2011-06-29 02:46] childsb commented on #602
Fixed with checkin 409bbf709a33ad8d5050de7b908af5750aa5b88e

[2011-06-29 02:47] childsb commented on #592
Fixed with checking 409bbf709a33ad8d5050de7b908af5750aa5b88e

[2011-06-29 02:47] #592 closed, assigned to childsb

[2011-06-29 04:18] JonFerraiolo opened #619 "Custom CSS and SCRIPT file cleanups if saving HTML files to different folder"
(Not at all urgent in short-term. Just logging something to address at some point.)

We've now got good cleanup of known relative URL references such as references to dojo.js, dojo.css and themes when save-as into an alternate folder. At some point, ideally we should also clean up any custom SCRIPT, LINK and @import statements in the HTML file. Of course, this exercise is somewhat pulling on a str

[2011-06-29 04:22] jhpedemonte commented on #601
This was fixed by Dojo 1.7b3 update.

[2011-06-29 04:22] #601 closed, assigned to nobody

[2011-06-29 13:39] peller commented on #599
The easiest and safest way to avoid this problem for the next release is to rename the review tree.  The cookie is based on the id name.  I've asked @EldonReturn to give this a shot.  Unfortunately, still neither of us can reproduce the bug for testing.

[2011-06-29 13:45] peller opened #620 "replace eval"
Where possible, we should replace our calls to eval with dojo.getObject, for dotted object references, or JSON.parse, where JSON is used (would have to be proper JSON with quoted attr names, etc.)  library.js is one example.  The only exception to this I'm aware of is our plugins, which eval actual code, and there was one other piece of code somewhere that used stringified functions for convenienc

[2011-06-29 14:08] cindyskach opened #621 "Cancel button with widgets prevents selection of other widgets on canvas"
- New HTML page
- Drop some widgets onto a page: button, Label, div
- After dropping them all onto the canvas, double-click the button to change its content.
- Click Cancel so that you don't change the content
- Try to select the div or label on the canvas. It won't let you. But you can still select them from the Outline.

Testing with latest lab14 build on Windows/Chrome.

[2011-06-29 14:30] JonFerraiolo commented on #620
I agree entirely. Regarding our plugins, of course we want to push that into AMD/RequireJS, and let that mechanism invoke eval() or whatever

[2011-06-29 14:39] JonFerraiolo commented on #621
Assigning to Bill for time being since inline edit is involved.

[2011-06-29 14:45] JonFerraiolo opened #622 "Slowness with Create New HTML File"
@peller, @billreed63, @jhpedemonte, @childsb

I just launched today's build. Typing http://localhost:50000/maqetta happened quickly, but it took 12 seconds on Win/FF to go from clicking on the Create button on the New HTML File dialog to when the new editing canvas was ready to work. We need to investigate why this took so long.

[2011-06-29 14:48] JonFerraiolo opened #623 "SimpleTextarea tweaks"
@billreed63, @jmockler

Logging bug for now, requires more thought about what exact actions to take.

The 3rd widget now under Dojo Controls is SimpleTextarea. If you just drag/drop widgets, you get a bunch of 1-line-high widgets (Button, Textbox, ComboBox, ...) but SimpleTextArea is about 10 times as tall as the others.

Probably good to move it down lower in the widget palette (trivial to do). A

[2011-06-29 14:50] JonFerraiolo commented on #622
Just did a second New HTML File and this time it took about 20 seconds with Win/FF4, so I'm assigning this to Brad for time being.

Note that the last time I tried this, I was saving into a nested directory. I had created folder1/ and then was doing a SaveAs into folder1/, but there are delays even if not using nested folders. There is a long delay with findResource on *.theme even when simply dou

[2011-06-29 15:01] peller commented on #612
need to change the metadata.  there was a refactor and modules got moved out of CheckBox.js

[2011-06-29 16:29] jhpedemonte commented on #224
`getEnclosingWidget()` is used in several places in the code, and is a good utility method to have.  So we shouldn't touch this function.

It's used by `CreateTool.onMouseUp()`, along with other ways to get the target widget.  This is where we need to plug in the checks.

I'm thinking of a general algorithm around these lines:

[code]

[2011-06-29 16:45] cindyskach opened #624 "Background Color for AccordionContentPane changes depending on mouse location"
- Clone new theme
- Open theme editor on new theme
- Select AccordionContentPane
- Change AccordionContentPane's background color to green
- Hover the mouse over different parts of the accordion.
  The color switches back and forth between white and green. When the mouse is over the text "Accordion - Pane 1," the ContentPane changes to white. Move mouse away and the ContentPane switches back to gr

[2011-06-29 17:56] JonFerraiolo commented on #224
getEnclosingWidget() should have clearly defined semantics and the things that invoke it should understand those semantics. Maybe existing semantics are fine and shouldn't be changed. If so, then we probably need an alternate general purpose function with its own clearly defined semantics that takes into account allowedParents/etc, and make that function available to everyone, and call that functi

[2011-06-29 18:03] peller commented on #612
fixed in 819fc989dd16b8bd39dc2d94b931005e077b8a68

[2011-06-29 18:03] #612 closed, assigned to peller

[2011-06-29 18:05] jhpedemonte commented on #224
Agreed with your first paragraph.

Algorithm with BODY taken into account:

[code]

[2011-06-29 18:29] JonFerraiolo commented on #224
If BODY isn't allowed, shouldn't we tell user "invalid drop target" (or something comparable that is more user-friendly)? Long-term, we should change cursor so that while dragging the cursor indicates whether over a valid drop target or not, but until we do that, perhaps a dialog that says "invalid drop target"

[2011-06-29 18:39] JonFerraiolo opened #625 "img/masthead_blue_gradient2.png missing from BorderContainer tutorials"
Need to do an inventory to see whether other referenced image files might be missing

[2011-06-29 18:43] jhpedemonte commented on #224
Oh, that's right, I forgot to consider the case of widgets that must go into a certain type of parent widget, in which case BODY wouldn't be an appropriate parent.

Yes, maybe for now we can pop up a dialog saying something like:

[2011-06-29 18:49] childsb commented on #614
I tried this on mac/chrome.. It takes anywhere from 5-15 color changes before the issue happens.

[2011-06-29 20:26] JonFerraiolo commented on #188
@jmockler, @peller, @jhpedemonte, @billreed63

I was talking with a user in and around this issue today, so I played around some and discovered it is actually quite easy to cause a new pane to appear if you add some IDs (one for TabContainer and one for each ContentPane) and a little JavaScript into an event property. For example:

[code]

Therefore, a Maqetta user can trigger pane changes in thei

[2011-06-29 20:30] JonFerraiolo commented on #301
Just had a user ask if we could add shift key options to the + and - icons such as what is outlined above

[2011-06-29 20:57] #623 closed, assigned to JonFerraiolo

[2011-06-29 20:59] JonFerraiolo opened #626 "SimpleTextarea - offer inline edit for #rows, #cols"
@billreed63, @jmockler

Would be good to include fields in inline editor for SimpleTextara for #rows and #cols. (Had been part of #623, but now a separate bug)

[2011-06-29 20:59] JonFerraiolo commented on #623
Created new bug #626 with business about adding #rows/#cols to inline edit for this widget

[2011-06-29 21:17] childsb commented on #609
turned out to be an async loading issue.  worked through it and found a couple potential speedups.

commit: c0dcb5a83fdd25f3658ad567677c113c44ca2be1

[2011-06-29 21:17] #609 closed, assigned to childsb

[2011-06-29 21:54] JonFerraiolo commented on #105
Note that the Sitepen article about iOS support talks about gestures (e.g., pinch scale and rotate). I don't see any W3C specs at this time for gestures.

[2011-06-29 21:59] JonFerraiolo commented on #107
(Talking about providing authoring UI so users can create multi-touch mockups)
Changing to low priority. No low-hanging fruit on authoring side. Best thing we could do on authoring side is include a standard library of JS for common cross-platform gesture handling logic (pinch scale gesture, rotate gesture), and then tie that library to some Maqetta UI, but that's hardly low-hanging fruit, and muc

[2011-06-29 23:02] childsb commented on #450
Fixed with this checkin: e7fdd3f914bd72d7787

[2011-06-29 23:02] #450 closed, assigned to childsb

[2011-06-29 23:14] childsb commented on #307
jon - did you mean to assign this to me? i'm not sure what the original issue is here?  it sounds like the dijit.tree (or our custom tree) cookie handling. this may be a non issue with @pellers recent 1.7 changes.

[2011-06-29 23:46] JonFerraiolo commented on #307
Closing this issue. Given Adam's recent work with the cookies used by dijit.Tree, I now understand the problem better and better able to analyze. This problem appears to have been fixed since this bug was logged original (several months ago). resourceTreeSaveStateCookie isn't growing continuously like it had been doing previously.

[2011-06-29 23:46] #307 closed, assigned to childsb

[2011-06-30 00:28] childsb commented on #622
i can't reproduce this on osx/FF or osx/Chrome with latest build (Preview1-450-gda8bd64).  It could be a windows specific issue but i believe it was a big performance problem fixed with commit 91e357f1528b21977f87.

let me know if you still see the bug and i'll track down a windows box.

[2011-06-30 14:44] JonFerraiolo commented on #622
I'm still seeing a long wait with today's build (6-30) when doing findResource on *.theme files on Win/FF. (Due to auto-update, I'm now running Win/FF5)

[2011-06-30 14:48] childsb commented on #622
Ok i'll track down a windows box to test.

[2011-06-30 14:54] peller commented on #622
See #575 and #603 for possible dups

[2011-06-30 15:48] waynevicknair commented on #72
I encountered this error in testing today on Safari 5.0.5. A refresh of the preview page causes content to appear. View source on the blank page comes up completely empty.

this is no longer intermittent; it happens every time for me. i recommend this bug's priority be raised.

[2011-06-30 15:54] waynevicknair commented on #458
I encountered this today testing in Safari 5.0.5.

[2011-06-30 16:00] waynevicknair commented on #581
I encountered this today testing in Safari 5.0.5.

[2011-06-30 17:43] waynevicknair commented on #585
I added label/button/label/button. applied 'class1' to button and it got wider. applied 'label1' to second label and no font change occurred. i'm thinking it's the same bug.

[2011-06-30 17:57] waynevicknair commented on #147
I encountered this bug while testing VE part2 today in Safari 5.0.5.

[2011-06-30 17:58] JonFerraiolo opened #627 "Preferences restore defaults"
@childsb

There has been a "restore defaults" button on the Preferences dialog. It generates an exception now because we don't have a davinci.ve.Preferences.restoreDefaults() function.

As a short-term fix, I'm going to comment out that button. Probably would be good to add this functionality at some point, but maybe want to wait until we integrate with Orion more fundamentally. They may have a pr

[2011-06-30 20:54] jhpedemonte opened #628 "Can't delete file - selection disappears when doing right-click"
In the **Files** view, select a file.  Notice it has a selection halo.  Then right-click on the file.  Notice that selection halo has now disappeared.

This makes it impossible to delete a file, since selecting **Delete resource** from context menu results in a dialog stating that no resources are selected.

Related to #538?

[2011-06-30 21:04] JonFerraiolo commented on #627
Exception no longer occurs since commit 1de9ec87803a923bd5aa

[2011-06-30 23:11] cindyskach opened #629 "Save As over same file makes it so that file will not open completely"
- Create new HTML file
- Select Save
- Select Save As
- Chose to overwrite the current file (file1.html)
- Try to open the file (file1.html) again

It brings up the widget palette on the left and the outline on the right but doesn't bring up the canvas.
Chrome console reports: Uncaught TypeError: Cannot call method 'set' of undefined
Testing in Windows/Chrome with lab14 build

[2011-06-30 23:27] JonFerraiolo commented on #514
Reassigning to Javier after I did a detailed code analysis. I concluded that this bug is highly intertwined with #224.

[2011-07-01 00:12] #503 closed, assigned to peller

[2011-07-01 00:39] JonFerraiolo commented on #629
Brad, can you look into this one?

[2011-07-01 01:31] #610 closed, assigned to JonFerraiolo

[2011-07-01 01:37] JonFerraiolo commented on #560
Brad, can you look at this one? Not absolutely critical for M2, but would fix a significant issue with the background-image property. Basically, we need a combobox instead of a textbox on background-image so that we include a drop-down menu. I looked at this and the drop-down menu logic is in MultiInputDropDown.js, but we can't just change background-image to a 'multi' because we still need the bu

[2011-07-01 02:17] jhpedemonte commented on #224
Last commit has a working impl for CreateTool.js -- so dropping a widget on the page will look at `allowedChild` & `allowedParent` properties.  I've only added those props for a few of the **dojox.mobile** widgets.

To test:
- add a **dojox.mobile.View**
- add a **dojox.mobile.RoundRectList** inside of View
- drop a **dojox.mobile.ListItem** on top of the RoundRectList

Previously, this would have

[2011-07-01 02:26] peller opened #630 "Drag IMG to designer -> infinite loop"
Open an HTML file.
Drag an IMG to the canvas.
A broken image turns up. Look in the console and you will see the error

Uncaught RangeError: Maximum call stack size exceeded
dojo.isFunction:24
dojo.isObject:32
clone:34
clone:40
clone:40
clone:30
clone
etc.

[2011-07-01 02:27] peller commented on #630
also, this warning appears: Resource interpreted as Image but transferred with MIME type text/html.

[2011-07-01 04:31] #495 closed, assigned to JonFerraiolo

[2011-07-01 05:17] jhpedemonte commented on #622
So on Chrome/Mac, running daily build from June 30, it seems to me that there is a slow down in opening a file.  Although for me, it's not as bad as Jon was seeing, around the 4-5 second range.

[2011-07-01 05:24] jhpedemonte commented on #43
Do you think we should just comment this out for now?  Should be an easy enough fix, low risk.

[2011-07-01 05:30] jhpedemonte opened #631 "Update MainMenuBar/Theme Editor testplan section"
In **testplan/MainMenubar/basic.html**, there is a section titled **Open menu: Open Claro Theme Editor**.

This needs to be updated:
- Menu item is now just listed as **Theme Editor**
- Selecting that menu item brings up an error dialog:

[2011-07-01 12:21] peller opened #632 "Cannot click to select IFRAME"
Create a new HTML document
Drag an IFRAME on to the document
you get the same exception as in #630 (possibly related)
Immediately click on the body element in the outline view to de-select. You'll see the exception:
`TypeError: Object [object HTMLHtmlElement] has no method 'selectChild'`
Then click off the element and try to click back on. You don't get a focus ring.  You can, however, usually get

[2011-07-01 14:20] JonFerraiolo commented on #224
regarding isContainer, maybe you and I should talk on phone about that. we need a clean strategy for isContainer, acceptsHTMLChildren, allowedChildren, etc.

[2011-07-01 14:30] JonFerraiolo commented on #224
I tried the testing scenario, and these changes represent a night-and-day improvement in usability. I'm sure there are a ton of next-level issues we will encounter, but this is major progress.

[2011-07-01 14:45] jhpedemonte commented on #224
Yeah, it actually works pretty well.  The next step is to go through all of the widgets and start adding the `allowedChild`/`allowedParent` properties.

[2011-07-01 14:49] jhpedemonte commented on #224
From an email from @JonFerraiolo:

[2011-07-01 15:56] jhpedemonte commented on #224
Based on a discussion between myself, @JonFerraiolo and @peller:

Instead of only allowing widget **types** in `allowedChild`/`allowedParent` (i.e. `"allowedParent": "dojox.mobile.RoundRectList, dojox.mobile.EdgeToEdgeList"`), implement a tagging system (maybe using property `class`?) so that we can group widgets with similar properties and use those tag names in the `allowed*` properties.

For ex

[2011-07-01 16:18] JonFerraiolo commented on #43
Leaving open, but removing M2 milestone. Commit 1e361262ab2fb2c4dd45 temporarily removed New File command but we should restore it once we have Save, SaveAs buttons working on toolbar for this scenario.

[2011-07-01 16:38] peller opened #633 "Folder icon usually not visible for root node"
I see the folder icon next to the root node in the outline view sometimes when I first create a file, like file1.html, but then it disppears and there is no icon next to the name.

[2011-07-01 16:39] peller opened #634 "Cannot set cursor at beginning of line"
Whether by clicking or by using arrow keys, and cannot insert content there by typing.

[2011-07-01 16:41] peller opened #635 "selection not initially reflected in source view"
@JonFerraiolo

Select a widget.
Open the split view.
There is no selected text.  Click a widget and there is selected text.
Perhaps the selection should be set initially upon switching to the split view?

[2011-07-01 16:42] JonFerraiolo commented on #625
Removed M2 milestone after investigating. The issue is that the BCExample.html file that ships with the docs tells the user to drag two image files (masthead_blue_gradient2.png, powered_by_dojo.png) onto canvas. However, we don't have a convenient way to stuff a couple of sample images into the user workspace for the purposes of the tutorials. There is a bigger architectural issue with organizing

[2011-07-01 16:42] peller opened #636 "[regression] states associated with overlay widgets are not operational"
Create a Tooltip or Dialog.  You will see a state created associated with that widget.
Clicking on the state does nothing.  It is supposed to make the widget visible.

[2011-07-01 16:43] peller opened #637 "Tooltip overlay does not disappear when changing selection"
Create a tooltip and select it in the outline view.
Now select another widget in the designer.  The tooltip remains visible (BUG)
Select another widget in the outline view and it disappears (CORRECT)
may be related to #636

[2011-07-01 18:29] jhpedemonte commented on #630
You know, I ran into a similar issue yesterday, where there were a bunch of `dojo.clone`s, but with different functions at the top (from `HTMLModel`, in my case).  But I don't have a recreation scenario.  Hopefully this is the same issue.

[2011-07-01 20:39] childsb commented on #622
did a build, and looks like findResource call is down to a few milliseconds, so i think i got it fixed.  i'll test more once the git head is correct-- right now it's missing all the images so really hard to do anything.

[2011-07-01 20:49] peller commented on #630
Safari, the whole browser crashes, FF5 just hangs, and only Chrome produces something intelligent, but won't trap on the stack overflow.  After suffering through a trace through all the dojo.clone calls, I realized it's not dojo.clone.  Should have read it more literally... there's a function called 'clone' in davinci.ui.Panel which is looping.

[2011-07-01 21:11] peller commented on #630
davinci.ui.Panel.postMixInProperties calls "clone" on this.definition, an array. The first element of the array is an OpenDialog... guess it opens a dialog to set up the 'src' attribute (is that new?)  and there's a reference there to "model" which is a resource... resource is a tree, with each node having a parent reference, so there are cycles galore.

[2011-07-02 01:38] #605 closed, assigned to JonFerraiolo

[2011-07-02 02:17] peller commented on #630
davinci/ve/input/HtmlSrcAttributeInput.show() sets up definition with model in it, then calls OpenDialog

[2011-07-03 18:40] JonFerraiolo opened #638 "Why is there a lib/html folder in workspace?"
@jhpedemonte

Why do we show lib/html/ in the Files palette? Seems like it shouldn't be there. If we do get rid of it, can we create another bug to fix the docs, which right now show pictures of lib/html/ and mention it in passing.

[2011-07-04 12:52] peller commented on #458
the problem is in Dijit, but only seems to affect us because we do unusual things like round trip properties without changing their values.  The default value of CalendarLite, by design, is an invalid Date (NaN)

http://bugs.dojotoolkit.org/ticket/13362

[2011-07-04 13:48] JonFerraiolo opened #639 "Download - Dojo not relocated if not included"
For the download-as-Zip feature, these things are working:
- If you uncheck Dojo, the ZIP will not include Dojo
- If you check Dojo and change the relative URL for Dojo, the ZIP will automatically fix up HTML files before stuffing into the ZIP so that the HTML files will point to the revised location for Dojo

However, if you uncheck Dojo and type in a different relative URL for Dojo, the HTML fil

[2011-07-04 14:26] #607 closed, assigned to JonFerraiolo

[2011-07-04 15:55] JonFerraiolo opened #640 "jquery, yui widgets not working in builds"

[2011-07-04 16:54] childsb commented on #622
ok,  tested build on windows machine and seeing millisecond times for the findResource call.  closing!

[2011-07-04 16:54] #622 closed, assigned to childsb

[2011-07-05 14:00] jhpedemonte commented on #582
Still seeing some issues with latest build (July 5). Run the PropertiesPalette2 test plan, _Layout Properties_.  I'm able to complete step 7 (set width for **TextBox**), but get errors when doing step 8 (set width/height on **Calendar**).

I get this on the browser's error console:

And I see this in the console running the server:

[code]

So it's still trying to save **dijit.css** but failing.

[2011-07-05 14:10] jhpedemonte opened #641 "PropertiesPalette2 says DIV should have "text content" field in "widget-specific" view"
The **PropertiesPalette2** test plan says the following:

However, DIV doesn't have anything under widget specific.  In order to set text content, the user must double click in DIV in order to bring up inline edit.

I'm thinking that there should indeed be a **text content** field under **Widget-specific**, if for nothing else than that having to double-click in order to set text content is not ob

[2011-07-05 14:23] jhpedemonte commented on #631
Also applies to **testplan/ThemeEditors/DojoClaro/basic.html**.

[2011-07-05 14:34] jhpedemonte opened #642 "Switching between states in theme editor results in error"
Following **testplan/ThemeEditors/DojoClaro/basic.html**, when I get to step 6 (change state to _Hover_), I get an error in the browser console and the theme editor state does not seem to change:

@JonFerraiolo

[2011-07-05 14:36] billreed63 commented on #582
This looks, like it is attempting to change claro which is read only

July 2011

[2011-07-05 14:36] #582 closed, assigned to billreed63

[2011-07-05 14:43] JonFerraiolo commented on #641
Yes, we had a UI discussion some months back and decided that all data/properties that show up in inline edit should also show in the Properties palette (usually, widget-specific). I figure OK to fix this in M3 milestone.

[2011-07-05 14:53] cindyskach opened #643 "Widget-specific properties not saved in all cases"
- new HTML file
- drag text box onto canvas
- Under 'widget-specific' type a number for the 'max length' property
- After typing the number, click on the canvas so that the widget is no longer selected
- Select the text box again -- the 'max length' property will be blank.

The same thing occurs for other properties that you have to type in within the widget-specific palette.
Hitting [enter] or cl

[2011-07-05 14:58] JonFerraiolo opened #644 "Theme editor calendar widget - selected date doesn't show"
@peller, @jhpedemonte

In theme editor, click on Calendar. No date is highlighted as the selected date. If you click on the "Selected date" subwidget, no red highlight appears.

[2011-07-05 15:09] billreed63 commented on #644
This maybe related to 1.7 bugs with calendar, Adam changed Calendar to calendar lite, so I may need to talk to Adam

[2011-07-05 15:14] childsb commented on #603
Fixed in commit ac5c562b93698c12cde9

[2011-07-05 15:14] #603 closed, assigned to childsb

[2011-07-05 15:17] JonFerraiolo commented on #630
Reassigned to Bill. Bill did original coding on the dialog that appears when you drag an IMG from widget palette.

[2011-07-05 15:37] jhpedemonte commented on #643
@JonFerraiolo  This one is odd -- would expect the Properties code to save values onblur.  Marking this for M3, for now.

[2011-07-05 15:50] JonFerraiolo opened #645 "faster alternative to findResource *.theme"
With today's build (after Brad's performance fix for findResource *.theme (#603), I'm still seeing between .35 and .4 seconds for the findResource *.theme web request on running Win/FF4 and launching Maqetta on http://localhost. Somehow or other we need to eliminate this time time or at least shrink its size.

Lots of potential ways to skin this cat, but 2 come to mind right now:

(1) We could imp

[2011-07-05 15:58] JonFerraiolo opened #646 "Claro theme for user workspace isn't getting built"
@peller, @childsb, @billreed63, @jhpedemonte

With today's build, I watched the Firebug console, which shows all of the web requests as they happen. With a New HTML file command, we are issuing cmd/loadFile on every CSS file in the claro theme. With Preview 1 builds (and all earlier releases), we were shipping a built version of claro.css.

Note that there used to be a magic flag in the build scri

[2011-07-05 16:07] JonFerraiolo commented on #643
Wait, I misunderstood the problem. Changing back to M3.

We've had this bug forever. We need to fix, but users seem to have managed to work around this bug so far.

[2011-07-05 16:07] billreed63 opened #647 "Unable to create new file in users root from file exploer"
The root folder is missing in file explorer, so the user is unable to create a new file in the root as described in test plan
file:///C:/Users/billreed/maqetta/davinci.core/WebContent/test/testplan/ExplorerPalette/basic.html

[2011-07-05 16:13] billreed63 opened #648 "Unable to upload file into correct folder from file exploer"
Create a new folder (see instructions above), perhaps named "ggg". With the mouse inside of the Files palette's main area, click on thie folder (e.g., ggg) and then click the right mouse button (or Ctrl-click on Mac) to bring up context menu and choose "Upload Files". In the dialog(s) that appear, choose a file from your disk and upload to your workspace. The new file should have been added into t

[2011-07-05 16:16] billreed63 opened #649 "Unable to delete file from file exploer"
Add a new HTML file, such as mmm.html (see above for instructions). Close the page editor tab that appears. Then, in the Files palette, click on mmm.html and then click the right mouse button (or Ctrl-click on Mac) to bring up context menu and choose "Delete resource". Click OK on "are you sure" warning dialog. The Files palette should no longer show the file.

[2011-07-05 16:17] JonFerraiolo commented on #647
We didn't have a root folder in Preview 1 either, so the task here is to fix the test plan. Assigning to moi.

[2011-07-05 16:17] billreed63 commented on #649
delete files
Steps

[code]

All test cases fail, I get a message no resources selected

[2011-07-05 16:18] jhpedemonte commented on #649
Dupe of #628.

[2011-07-05 16:18] #649 closed, assigned to nobody

[2011-07-05 16:19] billreed63 commented on #649
download is disabled, maybe related to not detecting the selected resourse

[2011-07-05 16:22] billreed63 opened #650 "Add link missing from file palette"
davinci.core/WebContent/test/testplan/ExplorerPalette/basic.html

add link
Steps

[code]

Expected results

[2011-07-05 16:23] JonFerraiolo commented on #648
Two things missing from current code that were present in Preview1:
(1) What Bill says above - with Preview1, if you invoke "upload" with mouse over a folder, then the file will get uploaded into that folder instead of root folder
(2) The new upload dialog is missing a field that was in the Preview 1 upload dialog: a read-only line of text that showed the Parent folder into which the file(s) would

[2011-07-05 16:27] jhpedemonte commented on #650
I believe we removed this menu item, since it's not really used and I don't think it worked anyway.  Assigning to Jon in order to update test plan.

[2011-07-05 16:31] JonFerraiolo opened #651 "Application gets in bad state if delete resource on HTML file that is currently being edited"
@peller, @childsb, @jhpedemonte

(Bug with Preview 1 code. I expected it's still there in Preview 2 code, but because of delete resource bugs that are currently open, I can't verify this with Preview 2)

(Discovered with Win/FF5)
- New HTML file (e.g., file1.html)
- Add a Button
- In Files Palette using context menu, put mouse over the new file (eg, file1.html) and issue "delete resource" command.

[2011-07-05 16:41] waynevicknair commented on #72
oh well, i cannot reproduce this one on today's build.

[2011-07-05 16:49] JonFerraiolo opened #652 "Properties: "px" added to end of all values"
@childsb

Cedric reports the following, but I haven't been able to reproduce it.

---

Hi Jon,

I'll try to remember what I was doing.
1. I put a DIV on the designer.
2. I set a width for this DIV in pixel (200px)
3. Later, I chose to set the width as "blank"
4. So I empty the field (with backspace) and TAB
5. Next, when I opened the widths listbox, I noticed there was a "px" item. When I start to

[2011-07-05 16:58] JonFerraiolo opened #653 "Docs: "Open in New Tab" doesn't launch new doc window correctly"
If you open the docs and then hover over a hyperlink and issue an "Open in New Tab" command, the page opens in a browser window, but standalone (i.e., without left-side outline) and images don't show correctly

[2011-07-05 18:47] childsb commented on #629
This works for me on osx/FF and osx/Chrome.  Maybe fixed in another bug?

Cindy - could verify and re-open if you still see this issue?

[2011-07-05 18:56] JonFerraiolo commented on #629
I am able to reproduce using today's build on Win/FF5 and running the unbuilt version (launch from Eclipse) on Mac/Chrome. What I did:
- New HTML file
- Add Button
- Save
- Show debugger console
- SaveAs to save file name
  Result=> Uncaught TypeError: Cannot call method 'set' of undefined. /dijit/layout/StackController.js:158

[2011-07-05 18:57] jhpedemonte commented on #224
Trying to think of all edge cases and define a specification for the two properties.  Tell me if you agree with this:

[code]

where,
- **"ANY"** or **"NONE"** must be by themselves as the value.
- If empty or not specified,
  - `allowedParent` defaults to **"ANY"**
  - `allowedChild` defaults to **"NONE"**
- If neither "ANY" or "NONE", can be any combination of **&lt;widget_category>** or **&lt;w

[2011-07-05 19:03] childsb commented on #629
ok let me try this on windows then

[2011-07-05 19:04] JonFerraiolo commented on #224
This is looking good. One obvious question is how much we need to worry about global uniqueness for the category names in order to prevent collisions with widget types and other category names. For example, if we had a standard reserved prefix for category names (e.g., always starts with "_i" where "i" stands for "interface", or maybe just a "@" sign, such as @DijitWidgets), then at least the cate

[2011-07-05 19:08] jhpedemonte commented on #224
I'm not sure how much of an issue that is.  For the most part, a library will just be worried about its own types or HTML.  Hopefully, they'll do a bit of namespacing (as I did in my last comment with the two Dijit examples).  So its really up to the library metadata writer to avoid collision in their own file.

[2011-07-05 19:17] childsb commented on #629
I tried both built and unbuilt versions on FF5/Chrome in windows and still no error.  Are you sure your browser cache is clear/clean workspace?

[2011-07-05 19:33] billreed63 commented on #630
It looks like the cloning of the tree model was sending the browser into a recursive dive, the model is part of the definition and should not need to be cloned. Also after cloning `davinci.ui.Panel.metadata['tree'].createWidget`  is called which uses the model name to retrieve the model using `parms.model=new (dojo.getObject(modelName))(modelParm);`
I commented out the cloning code and the code th

[2011-07-05 19:33] #630 closed, assigned to billreed63

[2011-07-05 19:49] childsb commented on #629
ok finally found my problem!  gotta save as with the same file name.  i'll fix this.

[2011-07-05 19:56] billreed63 commented on #615
I have tested this on Chrome/FF5/Safari windows,  I have not been able to reproduce.

[2011-07-05 20:01] JonFerraiolo opened #654 "Lightweight build - JARs but no minification"
@peller, @childsb, @jhpedemonte

At IBM, we have done prototypes of integrating Maqetta into desktop Eclipse and ran into this issue:

---

Also, let me use this email to share with you a problem we had when tried to create a new Feature in Eclipse to share this integration plugin . It seems that when creating the feature some Maqetta Bundle's ANT build files were executed , and in turn they were

[2011-07-05 20:08] JonFerraiolo commented on #224
I'm thinking ahead to the (potentially mythical) world where users mix-match widgets from libraries written by different people, which might include widgets that don't use dot notation in their widget names. The old global-namespace issue. May not be a big factor going forward, but I've been through similar global namespace things in the past and sometimes you get bitten down the road if you don't

[2011-07-05 20:18] childsb commented on #639
Fixed in commit 8d35bc965d2999efa32e45f658b6bf062bab74d3

[2011-07-05 21:04] childsb commented on #629
Fixed with commit 10a3cf6d148feeaf3ea24c50c27946d29808aa18

The deleteResource() call was closing the editor without removing it from the parent, and when you went back to create a new instance of the editor, it used the same id (same file name), and thought the editor already existed even though it didn't.

[2011-07-05 21:04] #629 closed, assigned to childsb

[2011-07-05 21:33] #621 closed, assigned to billreed63

[2011-07-05 21:56] childsb opened #655 "copy and paste doesn't work in source editor"
1) open sample1.html
2) select all the text
3) do copy keyboard command (no context menu)
4) observe error in JS/console

5) copy some text out of a file in the file sytstem
6) use paste command in editor
7) notice error in console or hault in script debugger on error.
@jhpedemonte

[2011-07-05 22:01] JonFerraiolo commented on #639
Glad to see this fix. This particular option is part of our new Tutorial 4 (Exporting to Developer Tools Tutorial) was down at the very bottom of the tutorial when talking about how to integrate with RAD.

[2011-07-05 22:05] childsb opened #656 "source editor doesn't respond to all keystrokes"
1) create new file in source editor
2) start typing

<div style="margin-top: 5px;">
    <input dojoType="dijit.form.TextBox"
        type="dijit.form.TextBox"></input>
    <input dojoType="dijit.form.Button"
        type="dijit.form.Button"
        label="Button"></input>
</div>

3) i can type with 100% accuracy but the source editor drops about 50% of the characters unless i pause about .5seconds

[2011-07-05 22:18] peller commented on #645
I vote for #2, but we could do both.

[2011-07-05 22:20] childsb opened #657 "no selection in tree widget"
No selection being set when choosing a file in tree widget.  this prevents individual context menu items from working

1) right click sample1.html
2) click "delete"

result : "No files selected"

1) right click sample1.html
2) try and choose "download"

result
download grayed out

1) select 1 or more resources
2) click the "download selected icon

result
No files selected to download

@jhpedemonte

[2011-07-05 22:20] JonFerraiolo commented on #258
@jhpedemonte

Elevated to M2. After evaluating this bug, it's clear that users will run into this quite often and be totally confused.

The way things work now, if a user selects a Dojo widget and attempts to change any properties whose value goes onto a subnode (which is really common with Dojo), then by default a theme CSS rule is chosen, and our default theme (claro) is read-only. Therefore, in

[2011-07-05 22:27] waynevicknair opened #658 "SourceEditor Tests - Container widgets delete fails"
this is the scenario where we delete a DIV (HTML widget) that has dijit children.

[code]

shows up in javascript console. Exception is coming from line 773 of 'davinci/ve/widget.js' which looks like:

[code]

looks like even though 'this.id' was set to "dijit_form_button_0" doesn't mean that 'this._srcElement' has an 'id' attribute.

[2011-07-05 22:28] peller commented on #657
dup of #628?

[2011-07-06 00:04] JonFerraiolo commented on #658
Assigned to me to scope out the problem regarding how serious this bug is for user and how difficult and risky to fix.

[2011-07-06 00:07] JonFerraiolo commented on #657
I expect this bug is the result of the same underlying problem for #628, #648 and #538

[2011-07-06 00:26] JonFerraiolo commented on #240
@peller, @jhpedemonte, @jmockler, @childsb

The deviceorientation event can only be set via JavaScript (i.e., there is no declarative alternative for this event at this time). The event is on the window object. The event object defined by the W3C specs allows doesn't return something simple like what most of our users would want (e.g., 'portrait' vs 'landscape') and instead provides 3-dimension va

[2011-07-06 02:13] peller commented on #655
please note the error in your report

[2011-07-06 02:19] jhpedemonte commented on #224
OK, I think this is at a good state now.  To see this in action, using **Dojox Mobile** widgets:
- Drop a **View**.
- Drop a **Heading** in View.
- Drop a Heading on to Heading.
  - _Previously, this would have resulted in a Heading within a Heading._
- Drop a **RoundRectList** on to either Heading.
  - _Previously, this would have resulted in a Heading with a RoundRectList child._
- Drop a **List

[2011-07-06 02:28] peller opened #659 "smartinput and property editor should use ISO values for Date types"
@billreed63, @childsb

e.g. Calendar.value attribute should be serialized to and from an ISO format, like 2011-07-05.  Currently, if you edit the value in the property editor, it will change to something like `Wed Jul 06 2011 00:00:00 GMT-0400 (EDT)` which is browser-specific and does not conform to the Dijit spec -- it will probably work as long as you serialize to/from that same browser.

[2011-07-06 02:35] peller commented on #654
two different issues here... separation from git, and turning off the dojo build optimization stuff which is time consuming, but not network-dependent.  I'm not sure I see the usefulness of turning off the optimizations, except for debugging.  You can do that right now by editing the ant file directly.

[2011-07-06 02:37] jhpedemonte commented on #640
@waynevicknair

[2011-07-06 02:39] jhpedemonte commented on #656
Whoa, I totally remember running in to this previously (months back).  Maybe Phil fixed it at that point?  I wonder what regressed.

@JonFerraiolo

[2011-07-06 02:42] jhpedemonte commented on #657
dupe to #628.

[2011-07-06 02:42] #657 closed, assigned to peller

[2011-07-06 02:42] jhpedemonte commented on #628
See #657 for some more info.

[2011-07-06 02:57] peller commented on #641
not sure it belongs under the widget.  perhaps we should show text nodes separately?

[2011-07-06 03:02] peller commented on #651
please record the exception in the ticket

[2011-07-06 03:03] peller commented on #644
for the record, the implementation of Calendar split and I made a bug fix to the CalendarLite base class.  We did not switch widgets.  But other implementation changes, such as the default "NaN" date seem to be causing problems in our code.  See #458.  The date is showing as the default invalid date, which then triggers bugs in our code that serialize it incorrectly.

[2011-07-06 03:08] jhpedemonte commented on #514
Not related to #224.

As you can see by the source of http://archive.dojotoolkit.org/nightly/dojotoolkit/dojox/mobile/tests/test_iPhone-Switch.html, there isn't any issue with **RoundRect** taking simple HTML (non-Dijit/Dojox) children (the example shows several RoundRect widgets with `<span>` elements).

Rather, the issue (I think) is that the `addChild()` code I referenced in the summary above e

[2011-07-06 03:18] jhpedemonte commented on #224
Curses, this breaks with widgets that define a `"data"` property in the descriptor, such as **dojox.mobile.ComboBox**.  I had assumed that `this._data` in **CreateTool.js** would have a `type` property.  But in some widgets, `this._data` is an array of widget data, with each array element having a `type` prop.

Not sure how best to handle this, yet.  I really only care about the widget selected by

[2011-07-06 03:47] jhpedemonte commented on #224
The `data` object that comes in to **CreateTool.js** seems to come from **Palette.js**, in `_createPalette()`.  The simple fix would be to always set the `data` object associated with each Widget palette item to have a `type` property, corresponding to the widget.  Something like this:

[code]

... some time later ...

Actually, now that I look at it, all of the code in **CreateTool.js** assumes t

[2011-07-06 03:53] jhpedemonte commented on #525
This seems to be fixed now, by @billreed63's changes.

[2011-07-06 03:53] #525 closed, assigned to jhpedemonte

[2011-07-06 04:42] JonFerraiolo commented on #654
Yes, the request was for "debugging". What was going on is that a team was trying to integrate Maqetta into another application, with regular updates from GitHub (every few days, not continuous updates). Manually editing the build scripts with each cycle was enough of a barrier that they gave up.

This isn't a time-critical request. Just something we should get around to at some point that would p

[2011-07-06 04:44] #516 closed, assigned to jhpedemonte

[2011-07-06 04:46] jhpedemonte commented on #516
@JonFerraiolo @billreed63 - I added the image to `sample_data/images` folder in user's workspace.  Seem fine?

[2011-07-06 05:13] JonFerraiolo commented on #516
Does this mean that the code from the davinci.dojo_1_5 project is depending on a particular sample file in order to work properly? If so, then we should probably do something else. We should avoid cross-project dependencies and samples shouldn't contain real data needed for real product operation, such as default values in our metadata files.

What we probably need to do is add a new mechanism whe

[2011-07-06 06:25] EldonReturn commented on #599
I just pushed in a fix that specified ids for the trees in the review explicitly. The trees will share the same state cookie if no ids are assigned to them when creation. This may result in inconsistent tree state. And the renaming also avoids the legacy cookie problem.

[2011-07-06 06:28] EldonReturn commented on #599
The commit url is:
3dd1c4546bc14c15f6761264f8445aa337399222

I'm now working on the migration of the tree model on a local branch so that all the trees in the review can use the standard TreeStoreModel at last.

[2011-07-06 09:18] EldonReturn opened #660 "Cannot select the tree node in Files palette"
I pulled the latest code from the master.
Click the tree node in Files palette. And you'll find that it is not selected.

[2011-07-06 09:23] EldonReturn commented on #660
@peller

Sorry Javier, but It turns out to me that I cannot remove you from the assignees' list when I create an issue.

[2011-07-06 14:20] peller commented on #660
I'm unable to reproduce this problem.

[2011-07-06 14:21] peller commented on #65
Dates are not being handled properly.  Need to fix this. See #659

[2011-07-06 14:30] peller commented on #599
See also http://bugs.dojotoolkit.org/ticket/12735 for the cookie problem in dijit.Tree

[2011-07-06 14:30] #599 closed, assigned to peller

[2011-07-06 14:37] JonFerraiolo commented on #65
With latest code in advance of Preview 2, we are now roughly at the same level with Calendar date changing as we were with Preview 1. You can type "2011-07-24" into inline edit and the date will change. However, lots of detailed things need to be fixed. Widget-specific property setting isn't working. As Adam says, we should show and accept RFC822 format.

[2011-07-06 14:43] peller commented on #65
We should never show RFC822 IMO.  We could accept it, but we shouldn't go out of our way to.

[2011-07-06 14:46] peller commented on #654
demoing != debugging.  both are legitimate requests

[2011-07-06 14:50] peller commented on #514
So there are a whole class of widgets which will accept or tolerate HTML in portions of their DOM, like buttons or menus, which aren't explicitly 'containers' in the Dijit sense (an addChild/setContent sort of API)  I'm not sure there's any standard convention for those.

[2011-07-06 14:59] JonFerraiolo opened #661 "Cannot select mobile widgets sometimes"
@peller,

(Maybe ScrollableView isn't completed coded yet?)
- New HTML File
- Add ScrollableView
- Add RoundRectList into SV
- Add ListItem into RRL
- Try to select the ListItems - works fine
- Click below ListItems, which selects ScrollableView
- Try to click-select the ListItems
  Result=> Cannot select ListItems on the canvas
  Haven't yet investigated why. Might be a z-index issue?

[2011-07-06 15:45] JonFerraiolo opened #662 "Copy/paste mobile widgets produces "is undefined" alert"
@peller

Copy/paste of mobile widgets doesn't seem to be working at all. One scenario:
- New HTML File
- Add View
- Add RoundRectList
- Select one of the ListItem's in the RoundRectList
- Copy
- Paste, and click anywhere on page as the target for the paste
  Result=> Alert comes up 'Cannot read property 'allowedParent' of undefined

I tried Heading and couldn't copy/paste that either.

[2011-07-06 15:49] JonFerraiolo commented on #514
I'm pretty sure we handle whether widgets accept HTML in the "content" (e.g., markup inside of a button label) via the inline edit metadata. If certain flags are set, then if inline edit senses a markup character (e.g., less-than character), then the radio buttons appear in the inline edit tooltip asking user whether the content should be treated as HTML markup or plain text. If plain text, then w

[2011-07-06 15:56] JonFerraiolo commented on #65
Oops. I was confused by RFCs. IMO, we should only accept and show only what ECMAScript5 supports (ISO 8601). We should mention this in the help information for inline edit for Calendar. Really, we should validate calendar inline edit values (and the corresponding value in the Properties palette) against ISO8601 with a regular expression for that format. We should do nothing regarding supporting RF

[2011-07-06 16:29] jhpedemonte commented on #661
Possibly related to #590?

[2011-07-06 16:30] jhpedemonte commented on #662
Related to #224.

[2011-07-06 17:36] peller commented on #65
yeah, RFC3339 is the subset of ISO8601, of what's used by ECMAScript5, more or less.  There are lots of details, of course, but it's basically yyyy-MM-ddThh:mm:ss

We ought to be able to use a dijit.form.DateTextBox for input to abstract this detail from the user (roughly what Jon is suggesting, I think)  We used to do this, but at the time the properties panel had performance issues and was extre

[2011-07-06 17:54] JonFerraiolo opened #663 "[Chrome] SpinWheel inside of View - poof!"
Maybe SpinWheel doesn't make M2, but if it is in M2, then we definitely need to fix this one.
- New HTML File
- Add View
- Drop SpinWheel into View

Result=> Poof!

In Mac/Chrome, the Maqetta browser window becomes fully transparent, showing the Mac desktop behind it. If you immediately refresh (such as before auto-save commits the SpinWheel), you might be able to recover, but if the workingcopy g